[2021-09-02 12:19] jepsar commented on #7598
Seems like https://www.primefaces.org/primeblocks-jsf is using PrimeFlex 3... See the free samples: https://www.primefaces.org/primeblocks-jsf/free.xhtml

[2021-09-02 13:09] #7780 closed, assigned to melloware

[2021-09-02 13:14] mn-qualitasag commented on #7393
Could that also be included in a 10.0.x patch version?

[2021-09-02 13:17] melloware commented on #7393
I marked for Elite but its up to @sqores to implement.

[2021-09-02 13:32] jepsar commented on #7772
@melloware can you please fix the labels?

[2021-09-02 13:34] melloware commented on #7772
Fixed.

[2021-09-02 15:20] Rapster commented on #7772
It does work for me, at least with latest chrome 93.0.4577.63 and Edge 92.0.902.84. I don't see those error message on console either

[2021-09-02 15:43] jepsar commented on #7772
Wait, what!? Now it is working again in Chrome. I checked my version, and it prompted to update. I'm on 93.0.4577.63 now and it's working again.

Someone on StackOverflow was also complaining it was not working for him with Chrome. So the least we can say it is not very reliable.

What to do here? Restore and warn to use at own risk?

[2021-09-02 15:45] melloware commented on #7772
Yes restore and use and at own risk.

[2021-09-02 15:46] jepsar commented on #7772
@melloware can you revert the PR?

[2021-09-02 15:50] melloware commented on #7772
sure

[2021-09-02 15:51] melloware commented on #7772
Reverted

[2021-09-02 16:12] Rapster commented on #7772
All I could find was this: https://bugzilla.mozilla.org/show_bug.cgi?id=1678389

Related to a popup blocker?

[2021-09-02 16:52] melloware commented on #7772
I added the browser specific label again since this only affects Firefox and Opera right now.

[2021-09-02 18:52] dannycivi opened #7787 "CSV: EMAIL_ADDRESS_REGEX is not defined"
Hopefully I'm submitting all info needed, first time so please let me know if there's anything I'm missing. Not sure the best way to come up with a test/recreation app, if that's needed?

It's working locally if I update line 119 to preface the property EMAIL_ADDRESS_REGEX with 'this', ex:
```if(value !== null && !this.EMAIL_ADDRESS_REGEX.test(value)) { ```

https://github.com/primefaces/primeface

[2021-09-02 19:29] Rapster commented on #7787
Would be great if you could follow the issue template, and even better with a reproducer 😉

[2021-09-02 21:40] melloware commented on #7787
Assiging to @tandraschko to review.

[2021-09-03 06:47] StevenHachel commented on #3899
PrimeFaces Elite: Version 8.0.12
primefaces-extensions: Version 8.0.12
omnifaces: Version 1.14.1
Browser: Firefox, Google Chrome

WebLogic 12 with JavaEE6

Same problem after migrating from PF7 to PF8.
Had to help me with my own implementation in which I read the cookie differently.
$ .Cookie ("primfaces.download") is always null. It worked perfectly up to PF7.

The decisive factor is reading out

[2021-09-03 06:59] morvael opened #7789 "Themes: Nova"
All three Nova themes look the same, even on Primefaces Demo page. I think this wasn't the case before, they were different.

![Screenshot 2021-09-03 at 08-58-05 PrimeFaces Showcase](https://user-images.githubusercontent.com/1133953/131963906-9e74164b-fa46-4c78-9879-6416bcedce43.png)

![Screenshot 2021-09-03 at 08-58-41 PrimeFaces Showcase](https://user-images.githubusercontent.com/1133953/1319639

[2021-09-03 11:37] buunsal commented on #7598
I updated the showcase for PrimeFaces 10: https://www.primefaces.org/showcase/index.xhtml
I will also add these changes to master before 11 release. PrimeFlex 2 docs will not change in the menu. We added PrimeFlex 3 link as an extra. We also do not intend to remove support for PrimeFlex 2 for PrimeFaces 11. But we will add support for the necessary components for PrimeFlex 3 as well, if needed. We

[2021-09-03 12:20] melloware commented on #3899
@StevenHachel
If you provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project we can debug your issue.  I am currently not seeing any issues.

[2021-09-03 12:30] melloware commented on #7789
Its definitely changing the theme you can see it in the CSS inspector.  I think the issue is these themes are very subtly different but its definitely changing the Nova themes.

[2021-09-03 12:31] melloware commented on #7789
Assigning to @sqores you are right its that these themes are too close together. Something was messed up when converting to PrimeOne CSS.

[2021-09-03 12:42] buunsal commented on #7789
There are only color differences between nova themes. These color differences are in the main colors, highlight colors and container header colors. Please check another than inputtext demos. For example: https://www.primefaces.org/showcase/ui/panel/tabView.xhtml?jfwid=1ebce

[2021-09-03 12:42] #7789 closed, assigned to buunsal

[2021-09-03 13:21] #7772 closed, assigned to jepsar

[2021-09-03 13:40] #7781 closed, assigned to melloware

[2021-09-03 17:12] melloware commented on #7765
I am assuming OrderList has the same issue according to this ticket: https://github.com/primefaces/primefaces/issues/3781 ??

[2021-09-04 17:35] jepsar commented on #7457
I agree with the suggested changes mentioned by @pmensalt. I'm happy to create a PR, but there already is a draft PR https://github.com/primefaces/primefaces/pull/7709 created by @wal-jan. @wal-jan, are you willing to change your PR as described above? I think the `refreshLazyModel` attribute can be dropped.

[2021-09-05 10:08] jepsar opened #7792 "DataScroller: loader is rendered when no loading is possible"
Can be assigned to me.

[2021-09-05 11:38] #7787 closed, assigned to melloware

[2021-09-05 11:38] melloware commented on #7787
@dannycivi thanks for the report and fix!

[2021-09-05 11:38] #3926 closed, assigned to FlipWarthog

[2021-09-05 11:44] melloware commented on #7776
@VsevolodGolovanov is this similar to this issue: https://github.com/primefaces/primefaces/issues/7546 ??

[2021-09-05 11:45] melloware commented on #7457
@jepsar if you have time submit a PR.

[2021-09-05 12:03] VsevolodGolovanov commented on #7776
@melloware, the description is a bit hard to parse, but I think so.

[2021-09-05 12:44] melloware opened #7795 "BlockUI: Uses deprecated $.type method"
**Describe the defect**
Warning from JQMigrate 3.3.2 tool that BlockUI is using deprecated `$.type` method.

**JQMIGRATE: jQuery.type() is deprecated**
**Cause:** This method returns a string that indicates the type of the argument, for example "number" or "function". However, as the JavaScript language evolves this method has become problematic because new language constructs might require this f

[2021-09-05 12:52] melloware commented on #7546
Duplicate of https://github.com/primefaces/primefaces/issues/7776 which has a reproducer attached.

[2021-09-05 12:52] #7546 closed, assigned to melloware

[2021-09-05 12:53] melloware commented on #7776
OK I marked his as duplicate and kept yours open since yours includes a reproducer.

[2021-09-05 12:53] #7795 closed, assigned to melloware

[2021-09-06 09:51] doteo78 commented on #7325
@sqores: Would it be possible to include this fix in 10.0.7 version ???

[2021-09-06 10:23] anuragnz opened #7797 "DataTable: Reflow does not work in iOS when using with facelet template"
DataTable reflow does not work with iOS when using facelet template.

With facelet template:

![image](https://user-images.githubusercontent.com/3331466/132202439-63d38718-7d3c-41d4-9b88-64d89bef8ec1.png)

Without using facelet template. Just plain Jsf page, Here is screenshot:

![image](https://user-images.githubusercontent.com/3331466/132202604-2987b113-3611-48f4-b72d-3741d2f15242.png)

Here is

[2021-09-06 11:15] HelainSchoonjans commented on #551
@mertsincan the dropbow link is not working anymore. Can you send a new one?

[2021-09-06 11:35] melloware commented on #551
@HelainSchoonjans what exactly do you need?  We already have all these examples on the PF Showcase.

[2021-09-06 11:38] melloware commented on #7797
Similar to this issue: https://github.com/primefaces/primefaces/issues/1568

[2021-09-06 11:48] melloware commented on #7797
Here is a runnable sample with `mvn clean jetty:run`:
[pf-7797.zip](https://github.com/primefaces/primefaces/files/7115726/pf-7797.zip)

There is a big difference in your two examples.  When you use the template you are wrapping it with custom styles...

[code]

Please remove those custom styles and try again.  Because these two examples should be identical.  I think its your custom CSS that is me

[2021-09-06 13:18] HelainSchoonjans commented on #551
Hello @melloware, is it this page then? http://primefaces.org/showcase/ui/data/datatable/sort.xhtml?jfwid=71080

[2021-09-06 14:38] commodis opened #7798 "Messages: Add method to render messages in Client Side"
**Description**
Messages component is missing `widgetVar`-attribute.

As described in the latest documentation ([PF 10](https://primefaces.github.io/primefaces/10_0_0/#/components/messages)) the messages component has no documented way to declare the attribute `widgetVar`.
Though on the [client side](https://primefaces.github.io/primefaces/jsdocs/classes/src_primefaces.primefaces.widget.message.ht

[2021-09-06 15:30] tandraschko commented on #7798
Whats the benefit? It doesnt have any method which you could call

[2021-09-06 16:06] melloware commented on #551
@HelainSchoonjans yes look at the Default Sort example.

[2021-09-06 16:12] melloware commented on #7798
Agreed there is no widgets for `Messages`.  @commodis your client side docs point to `Message` which is singular and does have a widget.  The `Messages` component does not.

See Message: https://primefaces.github.io/primefaces/10_0_0/#/components/message?id=message

See Messages: https://primefaces.github.io/primefaces/10_0_0/#/components/messages?id=messages

[2021-09-07 00:29] anuragnz commented on #7797
HI @melloware ,

I found a weird thing after spending some time.
In Facelet template client, Nebeans add these 2 lines on top for xml version and  DocTpe as below:

![image](https://user-images.githubusercontent.com/3331466/132267905-518d27ee-cf87-4b7d-bf1f-c5a851bd6b73.png)

When I remove the above top 2 lines then the DataTable reflow works fine in iOS.

Anyway I can work with this and you may c

[2021-09-07 06:59] commodis commented on #7798
@tandraschko I searched for a way to add messages from the client side. `<p:growl />` for example do have the `widgetVar`-attribute and are able to invoke following code snippet:

[code]

[code]

@melloware Thanks for pointing that out, though it seems the taglib definition is also missing for `<p:message />`.

[code]

[2021-09-07 12:26] melloware commented on #7797
Wow that is weird Netbeans adds that!

[2021-09-07 12:26] #7797 closed, assigned to nobody

[2021-09-07 12:27] melloware commented on #1568
OK I just tested the Showcase Reflow on IOS 14 and its working fine. I am going to close this ticket.

[2021-09-07 12:27] #1568 closed, assigned to nobody

[2021-09-07 12:40] melloware commented on #7798
OK I added `widgetVar` to Message documentation and taglib.

[2021-09-07 12:46] melloware commented on #7798
@commodis if you need a workaround right now to create client side messages I do this in my projects.

1. Have PrimeFaces message in your XHTML, mine is called "globalMessages" in this example

[code]

2. Create a JS method to allow you to dynamically add messages to the p:messages component.

[code]

[2021-09-07 13:06] commodis commented on #7798
@melloware thanks for the fast documentation and workaround. I will take a look at it <3 did not know I could go through jQuery

[2021-09-07 13:09] melloware commented on #7798
I worked backwards with what the messages was rendering and just wrote that method :)

[2021-09-07 18:56] wal-jan commented on #7457
@melloware, @jepsar sorry for the late answer. In the moment I'm very busy and do not have the time to change the PR. Feel free to use or discard my draft PR .

[2021-09-07 19:10] #7439 closed, assigned to melloware

[2021-09-09 13:30] polyluchs commented on #3926
@FlipWarthog

In my web project I have extended the Checkbox Tree with a third state for the checkboxes.
So I viewed your changes in the changesets in order to update my customized code.
I noticed a line in JavaScript code that might lead to faulty behavior.
I use PrimeFaces version 8.0.0 so I'm not sure if the behavior is different and correct in version 11.0.0
Nevertheless I would like to give t

[2021-09-09 14:01] FlipWarthog commented on #3926
@polyluchs ah, good catch. I think you're 100% correct on this. Let me test both ways on PF11 and see what it does, but I think this fix is accurate.

@melloware you'll have a small PR coming your way soon.

[2021-09-09 16:26] firsthour opened #7802 "DataExporter: Exception when exporting DataTable with single column and header facet"
**Describe the defect**
Exception thrown when a DataTable with a header and a single exportable column:
[code]

I discovered this when trying to create a simple, reproduceable setup for a different error we're seeing. We have a complex datatable framework with p:columns and data exporters, and the new feature of the header facet being put in row 1 is creating issues for us. I'm still working on th

[2021-09-09 18:08] melloware commented on #7802
I will investigate.

[2021-09-09 19:22] melloware commented on #7802
OK PR submitted. The error makes perfect sense POI does not allow you to merge a single cell since its not really a merge at that point!

[2021-09-09 19:33] #7802 closed, assigned to melloware

[2021-09-09 20:52] firsthour opened #7806 "OverlayPanel: should not show from SplitButton menu click"
**Describe the defect**
When attaching an overlayPanel to a splitButton, the panel is shown not only when the button is clicked, but also when the menu is clicked, causing the panel to lay on top of the menu. I think the overlayPanel should only be shown when clicking the button proper, not the menu.

I understand if you believe this to be expected functionality, just wanted to raise something I s

[2021-09-10 12:10] melloware commented on #7806
I am not sure about this one. When you say `for="split"` its assigning the `onclick` event to the whole Splitbutton wrapper DIV.  It has no idea its a SplitButton or that it has two internal buttons.  Unless we write some custom code specificall in OverlayPanel for SplitButton?

Right now its just finding the target element and binding your events for overlaypanel to it.

[code]

Its just a DOM el

[2021-09-10 14:06] tandraschko commented on #7806
IMO we should not add custom Splitbutton code, 'for' with PFS is the right way

[2021-09-10 14:15] firsthour commented on #7806
How would you use PFS in this instance?

[2021-09-10 14:35] tandraschko commented on #7806
Just like a jquery selector
Check it via browser debugger tools

[2021-09-10 16:21] melloware commented on #7806
@firsthour going to close this ticket  Post back once you figured out the right selector for just the main button.

[2021-09-10 16:21] #7806 closed, assigned to nobody

[2021-09-11 21:00] christophs78 commented on #3926
We currently have following integrationtests for Tree:
![image](https://user-images.githubusercontent.com/10461942/132961376-79fc430e-bc7c-4d5a-a868-2d90029f9f04.png)
We should add integrationtests for filtering. (and filtering combined with selection)

[2021-09-12 11:19] christophs78 opened #7812 "Java 17 - compatibilty"
Java 17 GA should be next week (2021-09-14?)

- [ ] build against Java 17 instead of Java 16 (keep Java 8 and 11 as-is)
- [ ] run integrationtest additional against Java 17
- [ ] manually check showcase against Java 17

[2021-09-12 11:34] christophs78 opened #7813 "Core: Jakarta EE10"
We already shade PrimeFaces for Jakarta EE and provide it via classifier=jakarta.

We should do following additonal work:

- [x] Add a (maven-)profile to run showcase on Jakarta EE 9/10 (with Mojarra 3/4 and MyFaces 3/4)
We already hava a jakarta-branch for primefaces-test. Which uses Jetty 11.x.
- [x] Run integration-test also against Jakarta EE 9/10 (with Mojarra 3/4 and MyFaces 3/4)
There´s cur

[2021-09-12 11:43] melloware commented on #7813
I totally agree this would be great.

[2021-09-12 11:47] melloware commented on #7813
I thought we had to make a branch for Jakarta because there are so many web.xml, faces-config.xml and other changes for it to work with Jetty 11?

[2021-09-12 11:59] christophs78 commented on #7813
You are right. This worked for primefaces-test, but probably not viable solution for our main PrimeFaces-project.

[2021-09-13 11:31] weiprd opened #7815 "Spinner - Keyboard Trap"
In order to be accessible to all users, a website or web application has to fulfill a list of WCAG 2.1 success criteria. The Spinner in the Diamond theme does not fulfill success criterion [2.1.2](https://www.w3.org/TR/WCAG21/#no-keyboard-trap).
If you move through the fields of the Input-Showcase using the tab key, you are not able to leave the field of the spinner.

**Environment**
Diamond Theme

[2021-09-13 11:51] melloware commented on #7815
Its not diamond theme related looks like it happens on the showcase as well: https://www.primefaces.org/showcase/ui/input/spinner.xhtml

[2021-09-13 12:08] melloware commented on #7378
MonkeyPatch:
[code]

[2021-09-13 12:09] melloware commented on #7815
duplicate of https://github.com/primefaces/primefaces/issues/7378 see that ticket for MonkeyPatch workaround.

[2021-09-13 12:09] #7815 closed, assigned to nobody

[2021-09-13 19:06] mahatiGH commented on #6189
I had a similar issue, maven installs the dependency and when I had tried to 'add framework support' in intellij it had copied in a different version into the TARGET/XXX-SNAPSHOT/WEB-INF/lib. Being not so familiar with how java dependencies work it took me some time to figure it out. I got lucky because I was thinking about deleting ~/.m2/repository or running maven clean install.

[2021-09-14 10:06] weiprd opened #7818 "Rating: Keyboard Support"
**Describe the defect**
The rating component does not get the focus. So it can not be operated by keyboard and does not fulfill the WCAG 2.1 success criteria [2.1.1](https://www.w3.org/TR/WCAG21/#keyboard).

**Environment:**
 - PF Version: 10.0.0
 - Affected browsers: Chrome, Firefox, Edge

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.primefaces.org/showcase/ui/input/rati

[2021-09-14 10:50] christophs78 opened #7819 "AjaxBehaviorListenerImpl#processAjaxBehavior: handle PropertyNotFoundException like MethodNotFoundException"
Complicated issue together wie Composite Components.

Mojarra "converts" MethodNotFoundException into PropertyNotFoundException with following code.
https://github.com/eclipse-ee4j/mojarra/blob/2.3.14-RELEASE/impl/src/main/java/com/sun/faces/facelets/el/ContextualCompositeMethodExpression.java#L176

PropertyNotFoundException ist not handeled by https://github.com/primefaces/primefaces/blob/2e79cbc

[2021-09-14 11:30] weiprd opened #7820 "SelectManyMenu: Improved Keyboard Support"
**Describe the defect**
In the showcase 'input' of the Diamond theme it is not possible to reach the corresponding checkboxes at 'Listbox' by only using the keyboard.  It does not fulfill the WCAG 2.1 success criteria [2.1.1](https://www.w3.org/TR/WCAG21/#keyboard).
I guess the problem is not specific to this theme as it occures at the Rain theme too.

**Environment:**
 - PF Version: 10.0.0
 - Aff

[2021-09-14 11:42] tandraschko commented on #7819
Can you please also check MF?

[2021-09-14 11:50] melloware commented on #7820
It's not Listbox its actually SelectManyMenu: https://www.primefaces.org/showcase/ui/input/manyMenu.xhtml?jfwid=9f10b

And its only an issue in Advanced rendering mode.

[2021-09-14 12:00] tandraschko commented on #7813
I think we need 3 modules for PF core in future:
primefaces-core (js, CSS and so on)
primefaces-javax
primefaces-jakarta

I dont think we can shade forever
And some day we will merge back and remove javax

[2021-09-14 12:18] melloware commented on #7813
You might be right @tandraschko but it will mean fixing bugs in two places every time for a while but maybe we should do thi once JSF 4.0 goes final?

[2021-09-14 12:29] tandraschko commented on #7813
Sure
We shouldnt do anything before ee 10.0 anyway

[2021-09-14 12:30] GedMarc commented on #7813
The current patch works (for me) -
I'm also waiting for the next Jakarta release

[2021-09-14 12:30] tandraschko commented on #7813
EE9 is the same as EE8, just different namespace
So we dont need Integration tests for it

[2021-09-14 20:37] tandraschko commented on #7813
lets postpone this ticket to EE10?

[2021-09-14 20:49] christophs78 commented on #7813
Yep. Nothing we need to work on immediately.
But we should come back later this year.

[2021-09-14 20:51] tandraschko commented on #7813
all right

i think in general it would be great to make a big bang to EE10 but i think we will still need to support javax for some releases
even quarkus still uses javax

[2021-09-14 21:01] christophs78 commented on #7813
Spring 6 - comming end of 2022 requires Java 17 and Jakarta EE 9 as Baseline.
But they will still support Spring 5 for some time even after releasing Spring 6.

IMO end of 2022 is the earliest point in time when we may think about dropping javax-support. Maybe even later due to JSF / PrimeFaces - legacy. Maybe we should talk to @arjantijms what they plan for Core-JSF.

[2021-09-14 21:06] tandraschko commented on #7813
from my expierience, we cant remove javax completely the next 2+ years
many users cant upgrade the server environments but can easily deliver a new PF in the WAR

maybe we can talk with PrimeTek and agree to something like:
- still support javax 1-2 yearw after all major AS released a EE10 server
- then completely drop javax and therefore push elite releases, which still support javax. This would

[2021-09-14 22:11] arjantijms commented on #7813
EE 9 is indeed that and not really aimed at end-users so much (since it brings little value over EE 8 to them). However, the intend of EE 9 is so that library projects and tools can start running their test against it in preparation for when EE 10 does role around.

[2021-09-15 06:03] weiprd opened #7821 "Inputs: WCAG compliance"
**Describe the defect**
Diamond showcase 'input' does nut fulfil the WCAG accessibility criterion [4.1.1](https://www.w3.org/WAI/WCAG21/Understanding/parsing.html) as it renders syntactically incorrect HTML code. There are 3 errors that element div is not allowed as child of element span in this context.
![Input_HTML-Validierung](https://user-images.githubusercontent.com/77721887/133379157-3edb542

[2021-09-15 06:09] christophs78 commented on #7819
MyFaces implements this aspects in a different way.

We ran into this issue with an existing application because OpenLiberty made some EL-checks more restrictive for 21.0.0.8 with following https://github.com/OpenLiberty/open-liberty/commit/33341639a0b4d62826170a035dc1dcdcb7a8f55c

This OpenLiberty - modification is essentially what Apache did for Tomcat 9.0.3 back in 2017 with following commit: h

[2021-09-15 07:28] weiprd opened #7822 "Menu : WCAG compliance"
**Describe the defect**
Diamond showcase 'menu' does nut fulfil the WCAG accessibility criterion [4.1.1](https://www.w3.org/WAI/WCAG21/Understanding/parsing.html) as it renders syntactically incorrect HTML code. There are 8 errors that element table is not allowed as child of element ul in this context.

![Menu_HTML-Validierung](https://user-images.githubusercontent.com/77721887/133389285-11a885d3

[2021-09-15 07:45] weiprd opened #7823 "Fieldset: WCAG compliance"
**Describe the defect**
Diamond showcase 'Panel' does nut fulfill the WCAG accessibility criterion [4.1.1](https://www.w3.org/WAI/WCAG21/Understanding/parsing.html) as it renders syntactically incorrect HTML code. There is one error that attribute role is not allowed on element legend at this point.

![Panel_HTML-Validierung](https://user-images.githubusercontent.com/77721887/133391622-1996c1d8-f7

[2021-09-15 08:12] buunsal opened #7824 "New Component: SpeedDial"
SpeedDial is a component that consists of many actions and a floating action button. When pressed, a floating action button can display multiple primary actions that can be performed on a page.

[2021-09-15 08:39] #7824 closed, assigned to buunsal

[2021-09-15 09:23] kunzen16A opened #7826 "Table: WCAG compliance"
**Description:**
The Diamond showcase 'Table' does not fulfill the WCAG accessibility criterion 4.1.1 as it renders syntactically incorrect HTML code. There are 20 errors that the attributes readonly and aria-readonly are not allowed on element input at this point.

![image](https://user-images.githubusercontent.com/77410849/133403860-6744caa4-801e-4659-9896-ac449480cb22.png)

**Environment:**
PF

[2021-09-15 09:39] kunzen16A opened #7827 "Inputs: Hidden inputs should never render readonly attribute"
**Description:**
The Diamond showcase 'List' does not fulfill the WCAG accessibility criterion 4.1.1 as it renders syntactically incorrect HTML code. There are 24 errors that the attributes readonly and aria-readonly are not allowed on element input at this point.

![image](https://user-images.githubusercontent.com/77410849/133409760-50bff34f-b417-47a0-bfb5-c9b691228c7b.png)

**Environment:**
PF V

[2021-09-15 09:51] neXus1987 opened #7828 "TreeTable: Selection behaviour for Checkbox unexpected"
**Describe the defect**
Issue 1
when you select the first node with checkboxes in a TableTree, in the selectionvalue only this node arrives, after expand this node also the other values and also the values from not expanded nodes will be shown.
Issue 2
Also there are still nodes refreshed after refresh the page.

**Reproducer**
PrimeFaces Showcase
https://www.primefaces.org/showcase/ui/data/treeta

[2021-09-15 10:10] tandraschko commented on #7827
JFYI
Please check those issues in the normal Showcase, too for a valid issue report
The issue tracker is only for primefaces core, not any template

[2021-09-15 12:04] melloware commented on #7821
Please don't use Diamond Theme.  Please only use PrimeFaces Showcase.

[2021-09-15 12:06] melloware commented on #7822
Please do not use the Diamond Theme.  The theme has nothing to do with your issues please use the PrimeFaces Showcase.

[2021-09-15 12:10] melloware commented on #7828
@FlipWarthog wanna check this one out...

[2021-09-15 13:34] elias-jk opened #7830 "Datatable: draggable columns with filterBy not working on mobile devices"
**Describe the defect**
When using `draggableColumns="true"` on a `p:dataTable`, filtering data in the table won't work on mobile devices.

**Environment:**
 - PF Version: _10.0_
 - Server: _Payara 5.194_
 - Affected browsers: _Chrome on Android_

**To Reproduce**
Steps to reproduce the behavior:
1. Try to click on the filter text field / type something (won't work)

**Expected behavior**
The text

[2021-09-15 14:36] melloware commented on #7830
can you provide a runnable reproducer?  Have you tested with 11.0-SNAPSHOT to see if its already fixed?

[2021-09-15 15:51] fanste opened #7832 "AutoComplete: invalid behaviour for forceSelection=true and autoSelection=false"
**Describe the defect**
With #3156 (PR #3162) the `autoSelection` property was implemented for `p:autoComplete`. The combination of `forceSelection=true` and `autoSelection=false` produces an invalid state.

`forceSelection` ensures, that the autoComplete always submits valid values as returned by the `completeMethod`. If no valid item was selected (either manually or auto-selected), the autoCompl

[2021-09-15 17:46] FlipWarthog commented on #7828
@melloware Yep, you can assign this to me. I just confirmed that it's still an issue in the latest SNAPSHOT of PF11 running the showcase locally.

[2021-09-15 22:57] melloware commented on #7832
@OBreidenbach what do you think? you did the original PR for this so wanted your thoughts.

[2021-09-15 23:02] melloware commented on #7832
We also probably need an Integration Test for this like this one: https://github.com/primefaces/primefaces/blob/master/primefaces-integration-tests/src/test/java/org/primefaces/integrationtests/autocomplete/AutoComplete005Test.java

[2021-09-16 07:24] elias-jk commented on #7830
Just tested with 11.0-SNAPSHOT, there is no difference in behaviour. Do you really need a reproducer? In my applications using PF 8 or 10 the error occurs invariably in every table having the `draggableColumns="true"` attribute set. And it works again when this attribute is removed.

[2021-09-16 08:59] #7819 closed, assigned to christophs78

[2021-09-16 09:18] ghost opened #7834 "Paginator: Customize {PageLinks}"
I was trying to replace Datatable Paginator element "{PageLinks}" with my custom implementation of a PaginatorElementRenderer but only the initial rendering was successful.
After clicking on "Next Page" Button it renders the same output as the original PageLinksRenderer Class from Primefaces did.

I discovered that the same rendering was done in "paginator.js" also. It looks like this happens afte

[2021-09-16 11:01] melloware commented on #7830
Thanks for verifying.  OK when you say "Affected browsers: Chrome on Android" Its ONLY Chrome on Android?  Have you tested another browser on Android?  Positive its not happening on Apple IOS?

You are right I can't even test this because I don't own and Android.   Does it happen in desktop Chrome set to "mobile" in the Developer tools?

[2021-09-16 11:06] melloware commented on #7834
As you said its an optimization to prevent AJAX round trips when rendering.

Why not just change your paginator JS with a MonkeyPatch that makes the same change you are making server side?  This is why PF/JSF is infinitable pluggable you can change both the renderer and the JS code to meet your need.

@tandraschko I am going to mark this as WorkAround and WontFix because I really doubt this is som

[2021-09-16 11:12] melloware commented on #7834
I can reopen if anyone feels strongly about this...

[2021-09-16 11:42] elias-jk commented on #7830
It seems to be affecting Firefox on Android as well. Also reproducible in with Chrome desktop developer tools. Unfortunately, I don't have an IOS device for verification.

[2021-09-16 11:57] christophs78 commented on #7830
Should we update the title of the issue?
You say draggableColumns="true" does not work together with sort- and filter-feature. The title of this issue says something different.

[2021-09-16 12:02] elias-jk opened #7835 "Selectonemenu: filter="true" causes dropdown to collapse immediately"
**Describe the defect**
When creating a SelectOneMenu that allows filtering via a textfield (property `filter="true"`), the menu immediately collapses on mobile devices after opening.

**Environment:**
 - PF Version: _10.0_
 - Server: _Payara 5.194_
 - Affected browsers: _e.g. Chrome on Android (and Desktop in mobile mode), Firefox on Android_
 - Unaffected browsers: _e.g. Chrome on Desktop, Firef

[2021-09-16 12:11] elias-jk commented on #7830
I updated the description and title. `sortBy` is not required to reproduce the issue.

[2021-09-16 12:21] christophs78 commented on #7830
draggableColumns instead of draggableRows?

[2021-09-16 12:27] elias-jk commented on #7830
Whoops sorry

[2021-09-16 12:39] javiermiraticarum opened #7836 "FileUpload: Button not focusable using tab (Accessibility)"
**Describe the defect**
Using the fileupload component with mode="simple" and skinSimple="true" the button is not focusable using the keyboard.

**Environment:**
 - PF Version: _8.0_
 - Affected browsers: _ALL_

**Expected behavior**
The button should be able to be focused by pressing the tab key.
It seems that the problem occurs because the button has the property tabindex="-1".
If it is changed

[2021-09-16 12:40] christophs78 commented on #7835
Reproduceable with http://primefaces.org/showcase/ui/input/oneMenu.xhtml ("Advanced") on Android/Chrome

[2021-09-16 13:21] ghost commented on #7834
That's not a valid solution because it forces one to change the behaviour in Java and Javascript in the same way.
Currently only the first rendering is produced by the Java renderer and all subsequent page changes are prepared by JS code.

I think it would be more consistent if the ajax request reading the partial update for the next DataTable-page will add the updated page links also. This ajax c

[2021-09-16 13:35] MassiveTM opened #7837 "DataTable: Data loading without scroll and pagination"
Hello,

my name is **Riccardo Fassina - MassiveTM** and I'm a Full Stack Developer that use Primefaces every day.

**I'm using Primefaces 10.0.5**

### Description
I found a sort kind of limitation using the DataTable with Live Scroll. Certainly, viewing just a chunck of data, is a must in the 2021 web developing.
But I think that using a scrollable dataTable is not that great, if I want to use my

[2021-09-16 14:12] christophs78 commented on #7830
Played around a bit with Showcase (DataTable / Filtering - example with `draggableColumns="true"` added.)
Can´t reproduce it yet. Filter is still working after reordering columns.
![image](https://user-images.githubusercontent.com/10461942/133627532-1b3cf5f1-b4d5-4c3c-82dc-a23fc149f24b.png)

[2021-09-16 14:41] melloware commented on #7834
Possibly but paginator is used on more than 1 component...

- [ ] DataTable
- [ ] TreeTable
- [ ] DataGrid
- [ ] DataList
- [ ] DataView

So i am not sure why PrimeTek designed it this way but it seems like a major change with lots of retesting.

PR's are welcome so you are more than welcome to submit a PR if you fix it...

[2021-09-16 14:43] melloware commented on #7835
isn't this fixed already: https://github.com/primefaces/primefaces/issues/7298

[2021-09-16 14:47] melloware commented on #7834
@tandraschko would like your opinion on this?

[2021-09-16 15:27] christophs78 commented on #7835
Yes. Fixed for 11.0.0.

![SelectOneMenuFilter_01](https://user-images.githubusercontent.com/10461942/133640552-8da70805-86aa-4ec6-b8cc-fca78d83a092.png)
![SelectOneMenuFilter_02](https://user-images.githubusercontent.com/10461942/133640563-3e83a94d-1926-4d00-9d57-933f32196ab0.png)

[2021-09-16 15:35] christophs78 commented on #7830
@kollerfuzzi : Can you please check with 11.0.0-SNAPSHOT?
Just checked the enhanced Showcase-example on my Android-phone with Chrome. Works.

[2021-09-16 16:12] #7835 closed, assigned to nobody

[2021-09-16 23:51] melloware commented on #7836
Good catch I will fix this...

[2021-09-17 00:20] #7836 closed, assigned to melloware

[2021-09-17 00:47] melloware commented on #7826
duplicate of https://github.com/primefaces/primefaces/issues/7827

[2021-09-17 00:47] #7826 closed, assigned to melloware

[2021-09-17 00:51] #7827 closed, assigned to melloware

[2021-09-17 00:52] melloware commented on #7827
Thanks for reporting I fixed it for the 4 components that had this issue...

-  ColorPicker
-  MultiSelectListBox
-  Rating
-  Signature

[2021-09-17 08:13] OBreidenbach commented on #7832
Since #3156 (PR #3162), which was more than three years ago, we are using autocomplete with:
`
multible="true"
forceSelection="true"
autoSelection="false"
`
Since then we did not have any problems.
I am not sure what would be the correct behavior for 'mulible="false"'.

[2021-09-17 09:13] ghost commented on #7834
I still believe that this is a serious issue. Based on the documentation, you would not expect a completely different representation to be displayed when you turn pages. And it doesn't make sense to implement the function twice in different languages (Java, JS).
By the way, hardly anyone using PrimeFaces will expect to have to implement functionality in JavaScript.

Here is the paginatorTemplate o

[2021-09-17 11:20] tandraschko opened #7841 "AjaxBehavior misses setter"

[2021-09-17 11:25] #7841 closed, assigned to tandraschko

[2021-09-17 11:41] VsevolodGolovanov commented on #7776
@melloware, see MR #7842. Verified that this fixes the ordering.

[2021-09-17 12:31] melloware commented on #7776
Nice work!  I made one comment on your PR.

[2021-09-17 12:36] melloware commented on #7830
@kollerfuzzi going to close for now.  If you prove its broken in 11.0 then I can re-open the ticket.

[2021-09-17 12:36] #7830 closed, assigned to nobody

[2021-09-17 12:43] melloware commented on #7834
@onlytrying I am not trolling you, I am going to be honest with you and make a few points.

- I don't work for PrimeTek I am just an open source contributor.
- This feature is used in 5 components above so I am not sure why PrimeTek designed it this way but I am assuming they had a reason.  So it could be quite an impactful change.
- I have provided a workaround above and there is nothing stopping

[2021-09-17 12:45] melloware commented on #7834
A perfect example is this ticket from 2.5 years ago... https://github.com/primefaces/primefaces/issues/4685

[2021-09-17 12:47] melloware commented on #7832
@fanste do you have a suggested fix?

[2021-09-17 15:01] melloware commented on #7821
Invalid.  That Diamond Showcase this is the issue...
![image](https://user-images.githubusercontent.com/4399574/133804873-c275862b-35cb-4f2e-bc2b-31c754d4547c.png)

Its because that SHowcase is using `<span>` for InputGroup so not a PF core issue simply a showcase issue.

[2021-09-17 15:01] #7821 closed, assigned to melloware

[2021-09-17 15:09] #7823 closed, assigned to melloware

[2021-09-17 16:15] firsthour opened #7844 "FileDownload: "Error in streaming dynamic resource" with ViewScoped and ajax="true""
**Describe the defect**
When trying to serve a file from a ViewScoped CDI bean and ajax="true" on the button, I get an "Error in streaming dynamic resource" message and the download fails. Here's the exception:

[code]

**Environment:**
 - PF Version: _10.0.6_
 - JSF + version: _Mojarra 2.3.14.SP04_
 - Weld: _3.1.7 (SP1)_
 - Wildfly: _Full 24.0.1.Final_
 - Affected browsers: _Chrome and Firefox_

[2021-09-17 18:53] melloware commented on #7844
hmmm to me this feels like a Jboss error not so much a PF error?

[2021-09-17 19:12] tandraschko commented on #7844
A resource request doesnt have a attached View or viewstate, thats by design

[2021-09-17 19:12] #7844 closed, assigned to nobody

[2021-09-17 19:15] melloware commented on #7844
What is weird is without Jboss here is a reproducer.
[pf-7844.zip](https://github.com/primefaces/primefaces/files/7188017/pf-7844.zip)

It works with Mojarra and MyFaces downloading the file but I see this error in the console...
[code]

[2021-09-17 19:33] tandraschko commented on #7844
Weird but my last statement is true
Does Filedownload not use the resource request? Why is there one then?

[2021-09-17 19:56] firsthour commented on #7844
Did the browser actually offer you the correct file or was it a stack trace html disguised as a .jpg?

I guess I'm confused where to go from here, to be honest.

[2021-09-17 20:54] melloware commented on #7844
You are right its called `logo.jpg` but the file contains this...

[code]

So @tandraschko is correct your scenario should not work.

[2021-09-19 13:45] #7776 closed, assigned to VsevolodGolovanov

[2021-09-19 13:52] #7126 closed, assigned to melloware

[2021-09-19 18:34] neXus1987 opened #7845 "DataTable: after filtering and changing value during ajax old filtered data is still shown"
**Describe the defect**
When you filter a Datatable and updates the value using ajax, the filtered old value will be still applied even if you set the filteredValue to null

**Reproducer**
 https://github.com/neXus1987/primefaces-datatable-test.git

**Environment:**
 - PF Version: _10.0_
 - JSF + version: Mojarra 2.2.20
 - Affected browsers: FireFox

**To Reproduce**
Filter for: Data 1
click on bu

[2021-09-19 19:20] christophs78 commented on #7845
Can you please check this against 11.0.0-Snapshot?
Think some similar issues had been fixed.
https://github.com/primefaces/primefaces/issues/7336

[2021-09-19 20:34] melloware commented on #7845
This does not work in 11.0.0-SNAPSHOT but it makes sense.  He is just swapping out the data of the data table but not the filtered values.  To me the datatable is doing the expected behavior.

@neXus1987 you have two ways to fix your code

1. By calling filter() but this forces a second AJAX call...
[code]

2. Following this ticket https://github.com/primefaces/primefaces/issues/7336 and using the

[2021-09-19 20:44] neXus1987 commented on #7845
i´ve tested it with the Primefaces current Snapshot and it works still as described.  I don´t know how this code exactly works and where the filtered Data is cached, but could it be possible to save the hashvalue of the list and if this is a new one, then the component will reset itself?

In my code we have a master an on the next view the details table and i also tried to set different widgetvar/

[2021-09-19 21:08] neXus1987 commented on #7845
If you filter to something which not exists and the table shows no data and then press toggle, it will show the other data. Just if you filter to something exists and press toggle it shows the old filtered data even if I set at backend the filteredValue to null or empty list. So it seems that there is a decision if the filtered value is zero refresh it or so.

[2021-09-20 07:39] neXus1987 opened #7846 "Move JS Script To Bottom: JS Error when Primefaces is not used on Page"
**Describe the defect**
When following is activated in web.xml and there is a page without Primefaces:
[code]
following will be generated at the end:
if(window.$){$(PrimeFaces.escapeClientId("4ff96bf4-a5ec-4916-9eff-dedb56222daf")).remove();}

is it possible to generate following if:
if(window.PrimeFaces){
if(window.$){$(PrimeFaces.escapeClientId("4ff96bf4-a5ec-4916-9eff-dedb56222daf")).remove();}

[2021-09-20 07:56] tandraschko commented on #7846
oh, wrong commit message
see my commit here: https://github.com/primefaces/primefaces/commit/0c2131362881269fcbdb7b6cab812f0d248c1a75

please test again

[2021-09-20 07:56] #7846 closed, assigned to tandraschko

[2021-09-20 08:05] neXus1987 commented on #7846
thanks!

[2021-09-20 10:39] VsevolodGolovanov commented on #7776
In case someone needs a monkey patch. Suitable for PF versions of at least 6.2.30 to 11.0.0 (so far).

[code]

And/or if someone still needs the behavior where updating the table makes it forget the edited cell, so that no cellEdit/cellEditCancel event is fired.
[code]

[2021-09-20 11:49] #7733 closed, assigned to jepsar

[2021-09-20 12:18] tandraschko opened #7847 "DataTable: getValue is called, also when not rendered, when lazy attr is not set"
we can atleast reduce the check to one time or try to get the property type instead of the value itself from EL

[2021-09-20 12:28] melloware commented on #7845
Yes @neXus1987 once your DataTable.getFiltered() list is filled out its the list until Filter is called again.  which explains why your scenario above works the DataTable.getFiltered() list is empty at the time so it can then fill it.  But its if already filled it doesn't overwrite it.

See my solutions above.

[2021-09-20 12:34] #5492 closed, assigned to melloware

[2021-09-20 12:44] tandraschko commented on #7847
@christophs78 i introduced a ELUtils, which gets the type of ValueExpression
would you like to use this in the calendar/datepicker too?

[2021-09-20 12:44] #7847 closed, assigned to tandraschko

[2021-09-20 12:47] melloware commented on #7847
Yes we definitely should. And I believe I already have Integration Tests for DatePicker catching the scenario that broke.

[2021-09-20 12:47] melloware commented on #7847
@christophs78 I can submit a PR.

[2021-09-20 12:56] melloware commented on #7847
@tandraschko no we can't use this because you short circuit to `getExpectedType` which is returning a `LocalDate` and not `LocalDateTime` so all the Integration tests fail.  So that is why we do it like we do...
[code]

[2021-09-20 13:00] tandraschko commented on #7847
can you point to the method which is marked as LocalDate but just returns a LocalDateTime?

[2021-09-20 13:05] melloware commented on #7847
Yep its in `UICalendar` here...

[code]

If I change 've.getType()` to `ve.getExpectedType` it returns LocalDate incorrectly and all our Integration Tests fail.  So

[2021-09-20 13:09] tandraschko commented on #7847
all our tests datapicker tests?
i just wonder in which bean it exactly happens?
when you bind a value to LocalDate, both getType and getExpectedType should return LocalDate, same for LocalDateTime
as method signature and value is the same

if both are different, it could happen that exepectedType is different then type but i think also expected...

[2021-09-20 13:11] melloware commented on #7847
All the info is in this PR convo: https://github.com/primefaces/primefaces/pull/7619

[2021-09-20 14:24] neXus1987 commented on #7845
just as an idea (as i understand the complex DataTable code so far) if overriding the setValue(Object o) from UIData as following:
[code]
This should trigger the filter and sort if the value has changed!?

[2021-09-20 14:36] melloware commented on #7845
Not sure if that would work because `oldValue != newValue` is comparing object references right and if they are proxied CDI beans couldn't it be different every single time?  Thoughts @tandraschko @christophs78

[2021-09-20 14:42] tandraschko commented on #7847
commited, looks good for me

[2021-09-20 14:56] melloware commented on #7847
Nice!  Watching Integration Tests now!

[2021-09-20 19:55] christophs78 commented on #7845
Need to think about this longer and probably test and debug some usecases.
We have infrastructure to detect and unproxy classes. (https://github.com/primefaces/primefaces/blob/9798bcc3fa0ebe5f10d7762ecaf282d92e3b326b/primefaces/src/main/java/org/primefaces/util/LangUtils.java#L321)
But not sure whether we can transfer this to instances. Would require analysis.
Another aspect is where to start and

[2021-09-20 20:04] neXus1987 commented on #7845
And the correct way would be maybe to reset the table (in my use case) instead of applying the current filter against the new data. So maybe it is a better approach to add an instanceKey and put all cached data in context to this instanceKey.

[2021-09-20 23:57] FlipWarthog commented on #7828
I'm not able to pick this one up at the moment, but if anyone is motivated to take a pass at it, the propagation issue seems to be the same as #3926 where the child nodes of the collapsed parent are not rendered in the DOM, and therefore not known to the JS. I believe the solution will be similar: encode all the elements but add a style to hide the ones that should be hidden.

For the second issue

[2021-09-21 00:08] melloware commented on #7828
The Firefox issue is this I think: https://stackoverflow.com/questions/7377301/firefox-keeps-form-data-on-reload

[2021-09-21 12:08] rho66 opened #7849 "InputNumber - DEL removes zeros"
**Describe the defect**
Pressing DEL in p:inputNumber removes zeros.

**Reproducer**
Run attached clone of https://github.com/primefaces/primefaces-test.git with following command:

mvn clean jetty:run -Pmojarra23

**Environment:**
 - PF Version: _10.0_
 - JSF + version: Mojarra 2.3
 - Affected browsers: ALL

**To Reproduce**
Steps to reproduce the behavior:
1. Run with 'mvn clean jetty:run -Pmoja

[2021-09-21 13:11] melloware commented on #7849
I can't reproduce with 11.0.0-SNAPSHOT.

Duplicate of https://github.com/primefaces/primefaces/issues/7271

Can you try the monkeypatch in that ticket and verify its fixed.

[2021-09-21 13:26] melloware commented on #7828
OK I just fixed the Firefox issue part with this commit: https://github.com/primefaces/primefaces/commit/81662d32dbd24b14acf1a096c0c5f7e843a29e1e

It puts it in line with what DataTableRenderer was doing with its encodeStateHolder.

[2021-09-21 13:43] melloware opened #7850 "TreeTable: Holding values after page refresh"
**Describe the defect**
See issue: https://github.com/primefaces/primefaces/issues/7828

When selecting checkboxes in TreeTable after pressing F5 refresh it is remembering the selections.

[2021-09-21 13:45] melloware commented on #7850
Brought it in line with Datatable. Fixed with commit: https://github.com/primefaces/primefaces/commit/81662d32dbd24b14acf1a096c0c5f7e843a29e1e

[2021-09-21 13:45] #7850 closed, assigned to melloware

[2021-09-21 18:36] melloware opened #7851 "Core: Standardize hidden input fields"
**Describe the defect**
Many bugs in the past have been reported about the browser holding onto values after F5 refresh. Each bug has been fixed 1 at a time but anywhere there is a HIDDEN input it should be set to `autocomplete="off"`.

Examples: https://github.com/primefaces/primefaces/issues?q=is%3Aissue+holding+is%3Aclosed

[code]

[2021-09-22 05:00] rho66 commented on #7849
I added the monkeypatch to my test.js and included it in my test.xhtml but the zeros are still removed!
[code]

[2021-09-22 08:05] ghost commented on #7834
@melloware I tried your suggested MonkeyPatch. So far I can see in debugger that "updatePageLinks" function will be updated but it is never reached when I click a paginator button. It still executes the original code. Is there anything i missed?
I'm not too adept at javascript.

[2021-09-22 10:24] MassiveTM commented on #7737
I have the same problem with Primefaces 10.0.6 - Datatable with Filter and Selection, without Lazy.

` <p:commandButton action="#{bck.editAction}" process="@this" partialSubmit="true" global="true"
			 styleClass="button iconButton" icon="icon-pencil-1">
		<f:setPropertyActionListener target="#{bck.selected}" value="#{row}" />
</p:commandButton> `

When i try to select the row , the setPropertyAct

[2021-09-22 11:27] melloware commented on #7737
@MassiveTM then yours is a different problem because this is specific to Lazy.    You will need to create a PrimeFaces Test reproducer so we can see your issue.   You can use this as a starting point since this is a Selection example: https://github.com/KCampos-GandG/primefaces-test.git

The user above's issue was his Selection object was not `Serializable`. If you can reproduce please open a new

[2021-09-22 11:34] melloware commented on #7849
Can you try my attached on here:
[pf-7849.zip](https://github.com/primefaces/primefaces/files/7210283/pf-7849.zip)

It is using your example with the MonkeyPatch and when I put the key next to the "." in the second box and press DEL this is what mine does...
![image](https://user-images.githubusercontent.com/4399574/134336431-7f6c7c68-61ee-43ab-a28f-44b0caf03bad.png)

[2021-09-22 11:36] melloware commented on #7834
Hmmm I assumed since that is the client side code you pointed out as overriding your custom server side renderer that that is the code you would need to update.  If you are overriding that method but not seeing it called in the debugger then it sounds like something else is updating your paginator?  Or some other JS code?

[2021-09-22 11:38] melloware commented on #7834
It looks like to code you want to override is in paginator.js not in datatable.js

See: https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/resources/META-INF/resources/primefaces/paginator/paginator.js

[2021-09-22 11:49] ghost commented on #7834
I found out the easy way to solve this problem. Just set <p:dataTable ... partialUpdate="false" ...> and that is it!
This way I always get the result rendered by my custom PageLinksRenderer.
Thank you for your support.

[2021-09-22 11:49] #7834 closed, assigned to nobody

[2021-09-22 11:53] melloware commented on #7834
HA thanks for posting back!

[2021-09-22 12:04] #7851 closed, assigned to melloware

[2021-09-22 12:45] rho66 commented on #7849
1. click into input field for "Betrag 1"  and enter 123456,00
2. press TAB and enter 100500,00 in input field for "Betrag 2"
3. press Shift-TAB to set focus to input field for "Betrag 1", move cursor with keys before 4 and press DEL -> value changes to 12.356,00
4. press TAB so that focus changes to input field of "Betrag 2"
3. IMPORTANT: use cursor keys to place cursor before 2nd zero
4. press DE

[2021-09-22 12:56] melloware commented on #7849
That was the trick use the cursor keys!

[2021-09-23 06:02] jepsar opened #7855 "SpeedDial: Add keepOpen attribute to keep the menu open when an item is clicked"
https://www.primefaces.org/showcase-ext/sections/fab/basicUsage.jsf

Created new issue for `p:badge` support. #7898
Created new issue for rotate animation. #7902

[2021-09-23 12:00] melloware commented on #7855
Love it. I was going to ask what features were missing from FAB but you have it covered.

[2021-09-23 12:34] melloware commented on #7849
I am still researching but I think this might be a bug in the AutoNumeric JS library.

[2021-09-23 14:51] fanste commented on #7832
I will have a look at this next week

[2021-09-23 15:33] fanste opened #7858 "SelectBooleanCheckbox: Rendering bug in EdgeC"
**Describe the defect**
I have a weird bug in my layout which I'm currently not able to transfer to a small reproducer.
_Edit: Reproducable in showcase - see https://github.com/primefaces/primefaces/issues/7858#issuecomment-925940074_

My layout is based on CSS flexbox (100% height) with a scrollable content area. The body has `overflow:hidden`. As soon as a `p:selectBooleanCheckbox` is used the h

[2021-09-23 15:38] melloware commented on #7858
You didn't mention what Theme you are using.  You might not be able to reproduce it with PrimeFaces test because its using Saga theme?

[2021-09-23 15:51] fanste commented on #7858
We use an older custom theme based on Themeroller, that was adjusted from time to time to support the new components - yeah I know, it should be totally reworked ;)

But the theme in the showcase has the same problem - maybe I missed something in my reproducer.

Execute the following javascript (DevTools) in the [showcase ](https://www.primefaces.org/showcase/ui/input/booleanCheckbox.xhtml)and cli

[2021-09-23 15:52] melloware commented on #7821
I have fixed the showcase to use DIV not SPAN and that solves the issue

[2021-09-23 16:30] melloware commented on #7858
OK this is @mertsincan territory with why the CSS is like that.  I always thought `ui-helper-hidden-accessible` hid it from everything.

[2021-09-24 03:15] mertsincan opened #7863 "Reimplement Galleria"
Galleria implementation is legacy and misses practices from our latest widgets, reimplement it from scratch and also consider responsive galleria.
Exp; https://primefaces.org/primereact/showcase/#/galleria

[2021-09-24 03:23] #7863 closed, assigned to mertsincan

[2021-09-24 09:58] tandraschko opened #7864 "Selenium: org.primefaces.selenium.component.SelectOneMenu#getLabels fails with filter"
@christophs78 i can see you changed the code for the filter case
i can commit a IT
would you like to check it?

[2021-09-24 10:12] tandraschko commented on #7864
commited the test, would be great if someone could check it

[2021-09-24 11:33] christophs78 commented on #7864
yes, i´m looking at it.
your i-test is currently green. but it does not call org.primefaces.selenium.component.SelectOneMenu#getLabels yet.

[2021-09-24 12:03] tandraschko commented on #7674
docs still missing + driver.version unused, couldnt find it in the webdrivermanager yet

[2021-09-24 12:05] melloware commented on #7863
I updated 11.0 whatsnew.md and migration_guide.md but we need to update 11.0.0 Galleria MD and Carousel and make sure they represent the new components.

[2021-09-24 12:24] christophs78 commented on #7864
Confirm that org.primefaces.selenium.component.SelectOneMenu#getLabels has an issue togehter with filter.
(Because DOM-structure used by getLabels has not been build yet.)

[2021-09-24 12:38] mertsincan commented on #7863
Thanks a lot, @melloware ;) I'll update galleria.md.

[2021-09-24 14:23] joergmattes commented on #7325
I would love this to be included in 10.0.7 as well.

[2021-09-25 11:31] melloware commented on #7864
Can this be closed now?

[2021-09-25 11:44] #7864 closed, assigned to christophs78

[2021-09-25 13:54] fcorneli commented on #7447
Same issue applies for the p:autoComplete component and PrimeFaces version 10.0.6.

[2021-09-25 16:01] melloware commented on #7447
@fcorneli please open a new issue so we can track it as this one is fixed and closed.

[2021-09-25 19:35] rvieira5 opened #7867 "OutputPanel: Deferred mode ignored when component is rendered after AJAX interaction"
**Describe the defect**

The defect occurs in a page with 2 sections. The first one, which can be viewed as a menubar or a sidebar, is responsible to trigger the load of the second section using AJAX. The second section contains a listing component (e.g., a `p:dataTable`), and for each element in the list, a `p:outputPanel` is rendered, with deferred loading enabled and deferred mode set to "visib

[2021-09-25 20:52] mertsincan commented on #7375
Maybe, inputnumber can be ported from PrimeReact in the future. For now, the pros and cons of both APIs are comparable.

[2021-09-25 20:57] #7279 closed, assigned to jepsar

[2021-09-25 21:28] #6480 closed, assigned to jepsar

[2021-09-25 21:28] mertsincan commented on #6480
Hi @jepsar,

Many thanks for your great effort! BreadCrumb can be responsive by default and a scrollbar may appear in mobile mode like https://primefaces.org/primereact/showcase/#/breadcrumb

Best Regards,

[2021-09-25 21:38] mertsincan commented on #5094
Hi all,

Such sticky problems will be completely solved with the new table integration. Exp;
https://primefaces.org/primevue/showcase/#/datatable/scroll (Datatable uses _position: sticky_ style)
It will be very pleasant for me to delete all the JS codes related to Sticky. :)

For now, could @melloware please make a fix using registerResizeHandler method? Thanks a lot!

[2021-09-25 23:12] melloware commented on #5094
Yep let me see what I can do!

[2021-09-26 11:31] #7792 closed, assigned to jepsar

[2021-09-26 14:26] #5094 closed, assigned to melloware

[2021-09-26 14:35] melloware commented on #7867
The OutputPanel Widgets are never being called.

So when you load the page only 1 widget is loaded for the command button: `$(function(){PrimeFaces.cw("CommandButton","widget_j_idt7_j_idt8",{id:"j_idt7:j_idt8"});});`

When you click the button only 1 widget for DataList is loaded again not all the output panel widgets it looks like their DIVS are rendered but their widgets are never called. `Prime

[2021-09-26 14:45] melloware commented on #7867
OK @jepsar this is very confusing it ONLY works if it an EL expression?
[code]

However now it looks like it is in an infinite AJAX loop when I add the above line to the reproducer?

[2021-09-26 14:48] melloware commented on #7674
What is left on this ticket?  Just updating the README.MD?

[2021-09-27 04:53] #7154 closed, assigned to mertsincan, buunsal

[2021-09-27 07:12] tandraschko opened #7870 "Selenium: Make adapter optional"
As we now have automatic driver management, we can introduce a baseUrl remote adress config property
so the adapter is only required anymore for local deployments

[2021-09-27 07:17] tandraschko commented on #7870
i would like to split PrimeSeleniumAdapter into 3 arficats:
- DeploymentAdapter (optional, only required when local deployments are used, otherwise baseUrl will be a required property)
- WebDriverAdapter (optional, per default its managed as currently)
- OnloadScriptAdapter (optinoal, like current PrimeSeleniumAdapter#registerOnloadScripts)

[2021-09-27 07:23] christophs78 commented on #7870
Sound´s good. Maybe we can do this after https://github.com/primefaces/primefaces/pull/7811 is merged. Because both aspect touch the same classes.

[2021-09-27 07:49] rho66 commented on #7849
Thanks for the update!
Did you create an issue at (https://github.com/autoNumeric/autoNumeric/issues) ?

[2021-09-27 07:55] #7812 closed, assigned to christophs78

[2021-09-27 08:56] tandraschko opened #7871 "Selenium: rework CSP support to remove runtime-module"
the runtime module is required in the application itself, that makes remote testing unusable with CSP

the runtime module consists of 2 features:
- enable CSP testing support
- disable animations

we can also download lazy the disableanimations.css in selenium core
not sure about CSP

[2021-09-27 08:58] tandraschko opened #7872 "Selenium: guard ajax missued in fileupload"
PrimeSelenium.guardAjax(this);

as statement will do nothing without calling a method on the proxy in chain

[2021-09-27 09:12] #7870 closed, assigned to tandraschko

[2021-09-27 09:12] #7674 closed, assigned to tandraschko

[2021-09-27 09:24] tandraschko commented on #7871
i think we could add to this to onloadscripts:
document.head.insertAdjacentHTML("beforeend", "*, *:before, *:after { -webkit-transition: none !important; -moz-transition: none !important; -ms-transition: none !important; -o-transition: none !important; transition: none !important; }");

[2021-09-27 09:35] tandraschko commented on #7871
i commited the animations part, please review
about CSP, we can do it later

[2021-09-27 10:03] christophs78 commented on #7872
maybe optional long-term-solution: https://github.com/primefaces/primefaces/issues/7625

[2021-09-27 10:47] tandraschko opened #7873 "Selenium: SelectOneMenu#select doesnt work with groups correctly"

[2021-09-27 10:48] #7873 closed, assigned to tandraschko

[2021-09-27 11:11] tandraschko opened #7874 "Selenium: add option to enable to scroll element into view on top"
This is required if you have e.g. a sticky footer, which will overlap the element
if we always scroll to element to be clicked to the top (not like the default behavior to the bottom), we can fix such problems
https://www.w3.org/TR/webdriver/#element-click
https://www.w3.org/TR/webdriver/#dfn-scrolls-into-view

[2021-09-27 11:18] #7874 closed, assigned to tandraschko

[2021-09-27 11:49] melloware commented on #7849
I did not create an issue because I still can't pinpoint exactly where its going wrong.  Next step might be to create a JSFiddle reproducer and see if I can reproduce it with just AutoNumeric.

[2021-09-27 11:51] melloware commented on #7871
Looks good so far!

[2021-09-27 13:36] mertsincan opened #7876 "Datepicker throws Javascript unparsed error"
Reported By PRO User;

Exp;
[code]

[2021-09-27 13:36] #7876 closed, assigned to mertsincan

[2021-09-27 17:28] jepsar commented on #7867
@melloware I want to check if the attribute is used. Maybe it needs to be changed to a `Boolean` object and check for not `null`.

[2021-09-27 20:16] j-be commented on #4711
The issue still persists, but it seems I can't reopen? @melloware shall I enter a new one?

[2021-09-27 20:20] melloware commented on #4711
I reopened it

[2021-09-27 20:50] #7737 closed, assigned to mertsincan

[2021-09-28 07:25] tandraschko opened #7878 "SelectOneMenu: label with quote only displayed in menu but not after selection"

[2021-09-28 07:43] #7878 closed, assigned to tandraschko

[2021-09-28 08:49] tandraschko opened #7879 "IntegrationTests: Duplicate JARs scanned"
if you do:
mvn clean
mvn verify -Pintegration-tests,mojarra-2.3.x,firefox,headless -D it.test=SelectOneMenu011*

you will see that jars are scanned 2x times:
INFO: added beans archive URL: file:/D:/OpenSource%20Projects/primefaces/primefaces-integration-tests/target/primefaces-integration-tests/WEB-INF/lib/jackson-jaxrs-base-2.12.3.jar
INFO: added beans archive URL: jar:file:/C:/Users/Andraschko/.

[2021-09-28 08:50] tandraschko opened #7880 "IntegrationTests: failed on Java17 today"

[2021-09-28 08:52] tandraschko commented on #7879
you will also see the warning from reasteasy:
WARN: RESTEASY002155: Provider class org.jboss.resteasy.plugins.providers.FileProvider is already registered.  2nd registration is being ignored.

[2021-09-28 09:15] tandraschko commented on #7879
i think the setting in TomEE was something like:
        properties.put("org.apache.tomee.loader.TomEEJarScanner.scanClassPath", "false");
        properties.put("org.apache.tomee.loader.TomEEJarScanner.scanBootstrapClassPath", "false");

[2021-09-28 09:51] christophs78 commented on #7880
We propably need to add `-Dmaven.javadoc.skip=true -Djsdoc.skip.typedoc=true` to https://github.com/primefaces/primefaces/blob/master/.github/workflows/nightly.yml#L35.
(I can provide a PR in the evening.)

[2021-09-28 10:03] christophs78 commented on #7880
Root cause seem to be
[code]

[2021-09-28 10:05] christophs78 opened #7881 "Core: fix java.security.AccessController usage"
Used at https://github.com/primefaces/primefaces/blob/fc76cdf76b8ba4f31833de176b0c2bb5106081f3/primefaces/src/main/java/org/primefaces/util/MessageFactory.java#L334

see https://openjdk.java.net/jeps/411

[2021-09-28 10:10] Teutron-flo opened #7882 "MOVE_SCRIPTS_TO_BOTTOM: additional parameters of script tag removed"
**Description**
The function primefaces.MOVE_SCRIPTS_TO_BOTTOM, doesn't move addtional parameters of an script import to the bottom.
It works well when a <script> tag has only src / type attributes, but everything else will be deleted during the move process.

For example:

XHTML:
`<script src="https://primefaces.org/primefaces.js"
type="text/javascript" charset="UTF-8"
data-domain-script="OnePara

[2021-09-28 10:14] tandraschko commented on #7881
MF and other libs check that for null before using it

[2021-09-28 10:28] #7881 closed, assigned to tandraschko

[2021-09-28 10:45] tandraschko commented on #7879
will revert this for now

[2021-09-28 11:16] tandraschko commented on #7879
i will close it for now, it also makes problem and improves the starutp not much

[2021-09-28 11:16] #7879 closed, assigned to tandraschko

[2021-09-28 12:16] cybertschunk opened #7883 "Broken links on primefaces-selenium page"
On [this page ](https://github.com/primefaces/primefaces/tree/master/primefaces-selenium) about primefaces-selenium are the links to the Javadoc and to the maven repository broken.

I just wanted to report this here. Have a nice day!

[2021-09-28 12:18] tandraschko commented on #7883
its because its not released yet

[2021-09-28 12:38] cybertschunk commented on #7883
Oh, that's interesting. Do you have an idea when this will happen? It sounds like a really interesting feature!

[2021-09-28 13:07] tandraschko commented on #7883
RC1 is planned this week

[2021-09-28 13:08] cybertschunk commented on #7883
Thanks for the info. I will test it out.

[2021-09-28 13:42] mertsincan opened #7884 "DataTable: selectionMode single scrolling Viewport/overlay Bug"
Reported By PRO User;

[2021-09-28 13:42] #7884 closed, assigned to mertsincan

[2021-09-28 18:26] tandraschko commented on #7883
Fixed now

[2021-09-28 18:26] #7883 closed, assigned to nobody

[2021-09-28 19:02] christophs78 commented on #7880
fixed with https://github.com/primefaces/primefaces/commit/0843f5efcab6fe874579d9725944cea6d03b7630

[2021-09-28 19:03] #7880 closed, assigned to christophs78

[2021-09-29 05:21] jepsar opened #7889 "OutputPanel: loaded attribute should not require an EL expression"
See https://github.com/primefaces/primefaces/issues/7867#issuecomment-927317625

[2021-09-29 07:05] #7889 closed, assigned to jepsar

[2021-09-29 07:06] tandraschko commented on #7882
would you like to prepare a PR?

[2021-09-29 07:39] Teutron-flo commented on #7882
I have absolutly no clue how GitHub works, its my first time that I work with it.
I'm on it to find out, how I can help you with the pull request.

[2021-09-29 11:08] BalusC opened #7891 "Schedule: FullCalendar is already timezone-aware since v5, PrimeFaces.toISOString should not be used"
**Describe the defect**
When using `<p:schedule>` with a fixed client time zone as in `<p:schedule clientTimeZone="UTC">` then the lazy load and date select events still send wrong local dates back into the `LazyScheduleModel#loadEvents()` and `SelectEvent<LocalDateTime>` respectively.

**Reproducer**
1. Open https://www.primefaces.org/showcase/ui/data/schedule/configuration.xhtml
2. Adjust `clien

[2021-09-29 11:23] melloware commented on #7891
CC @christophs78 @blutorange

[2021-09-29 11:26] melloware commented on #7891
@BalusC thanks for reporting i know this has been a problem in the past with these dates we will investigate and get back to you.

[2021-09-29 12:04] melloware commented on #7891
These fixes break the Integration Tests with this error...
[code]

We are always expecting to PARSE and ISO string for these dates...

[code]

[2021-09-29 12:14] melloware commented on #7871
Part of this issue when running build...
[code]

[2021-09-29 12:23] melloware commented on #7891
@BalusC I simply updated my PR to no do the offset when converting the ISO string.  Can you review? https://github.com/primefaces/primefaces/pull/7892

[2021-09-29 12:29] BalusC commented on #7891
Yes, that worked equally fine for me. Go ahead :)

[2021-09-29 13:07] melloware commented on #7867
@rvieira5 if you try this reproducer with the latest 11.0.0-SNAPSHOT it is resolved.
[pf-7867.zip](https://github.com/primefaces/primefaces/files/7252067/pf-7867.zip)

[2021-09-29 13:07] #7867 closed, assigned to jepsar

[2021-09-29 13:54] melloware commented on #7882
I feel like its best if we skip scripts if they have any special attributes on them?  Because it seems not possible to consolidate them if you had 2 scripts with conflicting attributes. So i vote for just skipping them from moving them.  If so I can work on that PR?

[2021-09-29 13:57] tandraschko commented on #7882
yep

[2021-09-29 13:57] tandraschko commented on #7882
i think we must collect them but with attributes and render them again on the right place

[2021-09-29 14:00] melloware commented on #7882
Render them at the bottom just as full scripts with their attributes right?

[2021-09-29 14:02] tandraschko commented on #7882
yep

[2021-09-29 14:07] VsevolodGolovanov commented on #7139
Not sure why you're scripting at all here. Could just style smth like `max-height: calc(100vh - 50px);`. This should work even in IE9. I'd remove the fitViewport option and just have it like this by default. Then if someone really needs an overflowing dialog they could just override max-height by styling.

[2021-09-30 06:28] christophs78 commented on #7871
Think i remember why we choose this complicated solution for PF Selenium combined with CSP.
https://github.com/primefaces/primefaces/blob/master/primefaces-selenium/primefaces-selenium-runtime/src/main/resources/META-INF/resources/primefaces_selenium/pfselenium.core.csp.js overrides parts of https://github.com/primefaces/primefaces/blob/add518b8e8a6a5ced47239427ae811442cb6a430/primefaces/src/main/

[2021-09-30 10:18] MassiveTM commented on #7837
@melloware Can you please give me a feedback about this possible implementation? This could be done or it is impossible?
I don't want to sound impatient, but just to get feedback on the work done. Thank you very much and sorry if I bothered you.

[2021-09-30 10:25] melloware commented on #7837
I would want someone from PrimeTek to review this like @mertsincan he most likely has a better way of doing this but your requirement is a good one!

[2021-09-30 10:59] neXus1987 commented on #7845
just an idea:
would it be possible to override the getStateHelper() method within DataTableBase, maybe there is a better idea when to check for current instanceKey, is there some Method which is called initially, so that we can update the instanceKey once in a "render-cycle":

[code]

[2021-09-30 11:21] melloware commented on #7855
Animation seems to be working for me on the Showcase? https://www.primefaces.org/showcase/ui/button/speedDial.xhtml  Can you confirm?

[2021-09-30 11:39] jepsar commented on #7855
Ah, I see a slight animation now. I want to look into it in more detail (different icons). Compare the PF showcase to https://www.primefaces.org/showcase-ext/sections/fab/customContent.jsf for example. I'm not sure, but it seems PF is just doing a 45deg rotate, while PFE does a 180deg + cross fade.

[2021-09-30 11:51] jepsar commented on #7855
By the way, this issue was next on my list after fixing the date picker lazy model events

[2021-09-30 11:52] melloware commented on #7855
OK assigned to you!

[2021-09-30 16:43] tandraschko opened #7897 "Build: create shaded sources"

[2021-09-30 16:48] #7897 closed, assigned to tandraschko

[2021-09-30 18:20] jepsar opened #7898 "SpeedDial: add Badge support"
See https://www.primefaces.org/showcase-ext/sections/fab/customContent.jsf and #7855

[2021-09-30 18:25] #7457 closed, assigned to jepsar

[2021-09-30 19:58] aripddev opened #7900 "Avatar: Problem with non-US chars"
**Describe the defect**
There are two defects
1. Thrown `StringIndexOutOfBoundsException` when using non-US chars in surname initial.
2. No exception thrown but the initial not shown when non-US chars in first name initial.

Tried with Ş,Ö,Ç,İ,Ü

**Reproducer**
[issuereport.zip](https://github.com/primefaces/primefaces/files/7262144/issuereport.zip)

**Expected behavior**
Expected to see the origi

[2021-09-30 20:00] melloware commented on #7900
Ahhh good catch. Should be easy to fix.

[2021-09-30 20:17] aripddev opened #7901 "ToggleSwitch: On/off icon"
Is it possible to add icons like this?

![ToggleSwitch](https://user-images.githubusercontent.com/9448030/135524362-7bfe3ad8-60c3-4bd4-a3ab-3adf5408e0e0.jpg)

[2021-10-01 05:43] jepsar opened #7902 "SpeedDial: Add cross fade rotate animation with two icons"
See https://github.com/primefaces/primefaces/issues/7855#issuecomment-931243420 and https://www.primefaces.org/showcase-ext/sections/fab/customContent.jsf

[2021-10-01 07:31] #7855 closed, assigned to jepsar

[2021-10-01 07:31] tandraschko commented on #7855
would be great if someone can restes as RC1 is already out, we should not add much new features and focus in fixes

[2021-10-01 07:39] jepsar commented on #7855
Alright, then let us keep the other two SpeelDial issues for 12. We will keep FAB in PFE 11 as deprecated anyway.

[2021-10-01 08:41] aripddev commented on #7901
I can do that by adding below lines to `toggleswitch.css`, and using primeicons.
But I think this component need to be more customizable like in `BooleanButton`.

[code]

[2021-10-01 09:57] mertsincan commented on #7729
Hi,

In a semantic version such as 10.0.x, this change should not be made. So sorry for the confusion. I'll revert it on PF10.0.8.

I would like to briefly explain the problem. Firstly, you need to examine the view-sources of page in browser to fully understand this complexity.
[code]

**On 10.0.1;**
_DOM_
[code]
_view-source_
[code]
- As you can see in view-source, three _onclick_ events are boun

[2021-10-01 09:59] #7729 closed, assigned to mertsincan

[2021-10-01 11:09] tandraschko commented on #7855
if they are small improvements, please create a PR now
just big tickets or refactorings should not be done anymore

[2021-10-01 12:08] melloware commented on #7901
I agree this is a nice touch to add.

[2021-10-01 13:36] #7900 closed, assigned to melloware

[2021-10-01 14:34] jepsar opened #7906 "FileUpload: Add option to clear selected file in simple mode"
I can do something like:

[code]

Would be nice to have something like `PF('widget').clear()` to clear the file.

[2021-10-01 14:38] jepsar commented on #7906
.. and maybe (optionally?) show a clear button?

So, old:
[code]
new:
[code]

[2021-10-01 14:46] clarktrip1 commented on #7729
Mert, I tested your change. I can confirm that it again creates 3 onclick handlers:
<button id="statusForm:j_idt110" name="statusForm:j_idt110" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onclick="history.go(-1); return false;"
						onclick="history.go(-1); return false;" onclick="history.go(-1); return false;;window.open('\/maintenance\/views\/off

[2021-10-01 14:57] tandraschko commented on #7729
we just fixed PF to be aligned with the JSF specs again

[2021-10-01 14:58] tandraschko commented on #7729
you can simple add "return false;", thats a pattern used in JSF and html/js itself since ages

[2021-10-01 15:24] jepsar commented on #7818
I'll have a look at this.

[2021-10-01 19:26] jepsar commented on #7818
@melloware are you sure this should go to 11?

[2021-10-01 23:08] bryaan opened #7909 "FileUpload: Unknown error trying to upload large file"
**Describe the defect**
We are trying to use fileupload to upload a large 60Mb file.  It works for most users, but fails for some without any errors being thrown.  It seems the file never makes it to the server as the handleFileUpload method is never called.
Is there any debug options that can be set?

[code]

**Reproducer**
Clone repository https://github.com/primefaces/primefaces-test.git in ord

[2021-10-01 23:41] stolp commented on #7909
You are probably hitting a limitation of your application container. The default maximum size Jetty permits is 200000 bytes.

[2021-10-01 23:43] bryaan commented on #7909
How can I increase it?

It is working for most users so I don't think this is it.

[2021-10-02 00:21] ingeniotechnologies opened #7910 "Primefaces v11.0.0-RC1 p:Carousel question"
I'm sorry I don't have a sample project, but was hoping to get quick pointers about how to go about using the new version of the Carousel.

I went ahead and downloaded the new version of primefaces by switching from:
    `implementation group: 'org.primefaces', name: 'primefaces', version: '10.0.0'`
to
    `implementation group: 'org.primefaces', name: 'primefaces', version: '11.0.0-RC1'` in my gr

[2021-10-02 04:03] melloware commented on #7909
What server are you using?  Are you using any kind of proxy in between like nginx or Apache in front too?

[2021-10-02 09:26] Anacpsycho commented on #3078
hi, i've update my software from primefaces 6.2 to 8.0 and i found this new feature... it's possible to disable swipe fuctionality for tabview ?
there's any attribute to do this or any config key for web.xml?

i find this row in the comit
            excludedElements: "button, input, select, textarea, a, .noSwipe"
can i use .noSwipe class?

[2021-10-02 11:32] melloware commented on #3078
If you update to 10.0 there is a new property on TabView called `touchable` which you can set `touchable="false"` or if you want to disable touch entirely you can use web.xml

[code]

But for 8.0 you will have to override you need to use this MonkeyPatch JS to disable it....
[code]

[2021-10-02 11:54] melloware commented on #7910
This is not the forum for help or questions please use Discord channel or the PF forums.

But I would say just follow the working Showcase example: https://www.primefaces.org/showcase/ui/data/carousel.xhtml

[2021-10-02 11:54] #7910 closed, assigned to nobody

[2021-10-02 16:02] pfumi opened #7911 "InputNumber: Pasting value using German locale causes error"
**Describe the defect**
Copy/paste with CTRL+C/CTRL+V a value into a non empty InputNumber with German locale, without selecting the whole input causes the hidden input to get an incorrect number.
![img](https://user-images.githubusercontent.com/6900303/135723951-99c5b084-aaeb-4179-9860-77e56bc8f38a.png)

**Environment:**
 - PF Version: 11.0.0-RC1
 - Affected browsers: ALL

**To Reproduce**
1) Go

[2021-10-02 16:12] melloware commented on #7911
Looks like it is this bug in AutoNumeric: https://github.com/autoNumeric/autoNumeric/issues/670

Can you read that ticket and verify if it is your issue?

[2021-10-02 16:23] pfumi commented on #7911
Yeah it seems to be exactly this issue. Is there a chance the InputNumberRenderer can handle this, maybe correct the invalid number? The line with `new BigDecimal(submittedValue);`  in `InputNumberRender#decode` leads to the error

[2021-10-02 16:41] melloware commented on #7911
It feels like a hacky workaround to the plugin.  We would have to hack on the JS side or the Java side.  It feels like a better hack on the JS side with a comment to remove when AutoNumeric fixes their issue.  I would also go an upvote that issue as well.

[2021-10-02 16:46] melloware commented on #7911
Also I am having trouble reproducing the issue with you steps above?  I must be missing something?

[2021-10-02 16:55] pfumi commented on #7911
Important is to have a locale with , as decimal separator like German. The focus also needs to stay on the field when pasting the value (a blur event removes the ,). A value needs to be preset and not selected. If pasting multiple times the comma is inserted or removed.
I tried in newest Chrome and Firefox.

[2021-10-02 16:58] melloware commented on #7911
Hmm yeah I did all of those steps. Made sure it was German Locale.  My hidden input always stays correct.  So there must be one piece of information I am missing.

I am trying this...

2.2a) Put the focus into the field "Empty Display - Blank"
2.2b) Select the value with STRG+A -> the symbol is not selected
2.2c) Copy/paste any number to the field
2.2c) STRG+A again -> the hidden value is now "99.

[2021-10-02 17:08] pfumi commented on #7911
Hmm
You do it probably right, but you change the Locale in the Showcase on the right sight and select there German?
I copied a value I typed in e.g. Notepad for example 123,99 and then pasted into the field with the described steps above. Hmm I can't imagine what I else do special..

[2021-10-02 17:19] melloware commented on #7911
And when you say STRG+A that is my CTRL+A to select all the text in the box right?  And yes I picked German from the selector on the right.

[2021-10-02 17:23] pfumi commented on #7911
Yes CTRL+A to select all text.

[2021-10-02 17:42] pfumi commented on #7911
I updated my reproducer in the issue description. I mentioned also doing copy/paste with CTRL+C & CTRL+V.
Sorry if I didn't describe it precise enough, but it should be now complete.

[2021-10-03 14:46] neXus1987 commented on #7845
or one other idea (i have the primefaces Datatable extended for testing):

[code]

[2021-10-03 14:56] neXus1987 commented on #7845
or instead of checking the value, introducing a new property: instanceKey  and if this changed, than reset.. so we can control the behaviour

[2021-10-03 15:27] melloware commented on #7845
I will let others weigh in here like @tandraschko

[2021-10-03 15:32] melloware commented on #7911
I did your steps exactly and mine is still `99.00` in the hidden and not `99.00,` maybe it has to do with my US Keyboard or OS?

I am on Chome 94.0.4606.61 (Official Build) (64-bit)

![image](https://user-images.githubusercontent.com/4399574/135761086-d7033b38-d0cf-48f1-b5a0-974946120b47.png)

[2021-10-03 15:45] melloware commented on #7911
Just to see if it fixes your issue can you try this MonkeyPatch..

[code]

[2021-10-03 16:36] pfumi commented on #7911
I'm on Chrome Version 94.0.4606.71 (64-Bit), maybe it is the OS or keyboard I don't know why you can't reproduce it...
Your patch at least works. The "value fixed" in the console is your workaround.
![img](https://user-images.githubusercontent.com/6900303/135763175-619f37c0-bc80-4971-89b6-4cf128351bb5.png)

[2021-10-03 17:25] melloware commented on #7911
Thanks for testing I will submit this fix as a PR for 11.0.0.

[2021-10-03 17:31] pfumi commented on #7911
Thanks.
One suggestion, maybe make it nullsafe.
[code]

[2021-10-03 20:34] melloware commented on #7911
Yep I was going to do exactly that!

[2021-10-04 07:00] tandraschko opened #7914 "Poll: support long as interval"
to make it easier to use in EL, seems like it coerces simple substractions as long

[2021-10-04 07:11] #7914 closed, assigned to tandraschko

[2021-10-04 08:16] tandraschko opened #7915 "DataTable Filter Showcase fails on MyFaces 2.3"
http://localhost:8080/showcase/ui/data/datatable/filter.xhtml?jfwid=8bfe5

[code]

[2021-10-04 08:22] #7915 closed, assigned to tandraschko

[2021-10-04 09:36] tandraschko opened #7916 "Selenium: WebDriver downloaded to late in some cases"
[code]

[2021-10-04 10:01] #7916 closed, assigned to tandraschko

[2021-10-04 11:16] melloware commented on #7916
Just looked at the code. Are you sure "gecko" is the right driver for Chrome?

[2021-10-04 11:17] tandraschko commented on #7916
i just moved the code, thats an older error

[2021-10-04 11:18] tandraschko opened #7917 "Selenium: chrome browser download not handled correctly"

[2021-10-04 11:20] #7917 closed, assigned to tandraschko

[2021-10-04 11:31] melloware commented on #7898
@mertsincan would like your opinion here on the best way to add Badge support to SpeedDial since we have that functionality in PrimeFaces Extensions FAB.

[2021-10-04 11:38] #7911 closed, assigned to melloware

[2021-10-04 11:39] jepsar commented on #7898
Let me paste my Discord messages (also involves positioning):

Has anyone tried to use a SpeedDial in their project? I feel it does not play nicely with other components.
Probably because it is not fixed (positioning).
I think it would be useful to have some kind of wrapper. This can help to position the SpeedDial and makes positioning a badge doable.
Badge is a different problem. I don't think yo

[2021-10-04 12:00] melloware commented on #7909
Will close unless OP returns with more information but most likely this is not a PF bug its a network, server, environment issue.

[2021-10-04 12:00] #7909 closed, assigned to nobody

[2021-10-04 12:00] jepsar commented on #7898
I think we should introduce a for attribute to badge and position it using JavaScript

[2021-10-04 13:46] tandraschko commented on #7871
I wonder why this is required
couldnt we get the registered events via js/jquery of a element anyway, without storing it in a map?

[2021-10-04 13:52] melloware commented on #7871
@tandraschko you might be right, we basically need some way of telling if a component is regsitered.  We had discussed fixing PF core to hold this in a JS MAP when registering so we could just inspect the with PrimeFaces.isRegistered(xxx) JS code but I think you were against that because it was holding a memory map in PF JS used only for Selenium testing.  But I think its a good idea because it wi

[2021-10-04 13:55] christophs78 commented on #7871
We originally discussed this as part of https://github.com/primefaces-extensions/primefaces-integration-tests/pull/78
Better solution is welcome.

[2021-10-04 13:58] tandraschko commented on #7871
Couldnt we just use:
`jQuery._data($('#form\\:j_id_4k_input')[0], 'events');` for it?

[2021-10-04 14:06] melloware commented on #7871
I think we might but I had read somewhere bfore not to rely on Jquery `_data` because its not meant to be used, although I am pretty sure I needed to use it to solve other CSP problems.

[2021-10-04 14:22] tandraschko commented on #7871
if they remove it someday in the future, we can still rework it again

[2021-10-04 14:38] murphy85 opened #7919 "SelectOneMenu: Selection of not escaped SelectItem shows the html-code"
**Describe the defect**
When selecting an item inside a p:selectOneMenu component with a label containing html, the html is escaped, but it shouldn't.

**Environment:**
 - PF Version: 8.0.13
 - JSF + version: joinfaces 4.3.11 / jakarta.faces 2.3.16
 - Affected browsers: ALL

**To Reproduce**
Create a p:selectOneMenu component containing selectItems with html inside label.
Add itemLabelEscaped=fals

[2021-10-04 14:46] melloware commented on #7871
good with me!

[2021-10-04 15:16] melloware commented on #7919
Have you tried this in 10.0.0 or 11.0.0-RC1 to make sure its not already fixed?

[2021-10-04 15:56] jepsar commented on #7898
Actually JavaScript is also tricky, as the position of the component the badge is linked to can change position due to interaction with other components on the page or zooming. How about this: add a for attribute to badge and check for certain component types in the renderer. If the type is speed dial, badge will not render itself, but speed dial will. The badge can be inserted at a convenient pos

[2021-10-04 16:08] tandraschko commented on #7871
anyone interessted in providing a PR?

[2021-10-04 16:16] melloware commented on #7919
Works fine in 11.0.0-RC1.

[code]

![image](https://user-images.githubusercontent.com/4399574/135887170-8b7f9c58-6843-4a1f-9586-a10d9bc3d3f7.png)

[2021-10-04 16:32] bryaan commented on #7909
@melloware
Yes, we are using things in front of our PF app (Tank).  Browser -> NLB (network load balancer) -> Nginx -> Tomcat9 -> Tank

[2021-10-04 16:39] melloware commented on #7909
@bryaan then my money is on one ore more of those having an POST size limit on them.

[2021-10-04 17:09] bryaan commented on #7909
@melloware But it seems hard to say that's it when its only happening to one or two of our users.  We have `client_max_body_size 200m;` set in nginx so it doesn't seem to be the problem.

[2021-10-04 17:23] melloware commented on #7871
Let me see if I can fix it.

[2021-10-04 17:45] melloware commented on #7909
Yep but theirs or your network might be terminating the connection.  Depending on speed and timing.  Could be your load balancer terminating the connection after timeout etc.  So MANY places but I can guarantee you none of them are PrimeFaces that is causing the issue.

[2021-10-04 17:49] melloware commented on #7909
For example at one of my clients they used a BgIP F5 Loadbalancer and it was severing connections if longer than 60s.  We could never reproduce the problem in house because it was fast enough but some of our customers on slower networks were getting terminated.  We finally figured out the Load Balancer setting and increased it and then all of our customers reported everything was working again.

[2021-10-04 18:01] murphy85 commented on #7919
I've tested with 8.0.5, 8.0.13 and 10.0.7
On drop down it's working fine, but after selection when it is collapsed, it shows the HTML code. I can test again tomorrow and send some screenshots.

[2021-10-04 18:02] melloware commented on #7919
Better yet... Provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2021-10-04 18:46] murphy85 commented on #7919
I've tested in my application and in test application. Test application is working, but my application not. I've tested with Primefaces 8.0.13 and 10.0.0
I found out there is a JS part in our scripts, where we extend SelectOneMenu.

I'm sorry for wasting your time.

[2021-10-04 18:46] #7919 closed, assigned to nobody

[2021-10-04 18:47] melloware commented on #7919
thanks for reporting back.  Yep that is why the PrimeFaces Test reproducer is so critical for us...it helps users get to the root of the problem or non-problem.

[2021-10-04 22:42] melloware commented on #7871
I think I almost have this figured out.  Still testing.

[2021-10-05 07:02] jepsar commented on #7898
A for attribute is no good for delegated rendering. The order of components would matter.

[2021-10-05 12:12] #7872 closed, assigned to tandraschko

[2021-10-05 12:40] tandraschko opened #7920 "ResponsiveOption needs a default constructor"

[2021-10-05 12:41] #7920 closed, assigned to tandraschko

[2021-10-05 20:33] Hugo01 opened #7923 "Types for Column component are incorrect"
**Describe the defect**
Types for the Column component are incorrect and generating erros when building via vue-tsc

**To Reproduce**
Create a DataTable component using a Column component

[code]

**Expected behavior**
It should build with no type erros

**This is what happens**
[code]

If you go to **Column.d.ts**
You see that the column class are declared like this:

[code]
If you change to:

[c

[2021-10-05 20:37] tandraschko commented on #7923
Use the primevue, not primefaces project

[2021-10-05 20:37] #7923 closed, assigned to nobody

[2021-10-06 08:14] StevenHachel opened #7924 "primefaces extensions 8.0.4 | PF Elite 8.0.13 | layoutPane Toggler cannot be hidden"
pe:layoutPane slider cant deactivated. is by attribute closable="false" slidable="false" always visible and usable.
It works perfectly with Primefaces 7.

**Environment:**
 - PF Version Elite: _8.0.13_
 - PF Extensions: 8.0.4
 - JSF Mojarra 2.1.29-11
 - javaEE: javaee-api 6.0
 - Affected browsers: Firefox, Chrome

**Example XHTML**
[code]

[2021-10-06 08:18] tandraschko commented on #7924
please create a PrimeFacesExtensions issue, not PrimeFaces

[2021-10-06 08:18] #7924 closed, assigned to nobody

[2021-10-06 08:19] mertsincan commented on #7898
Hi,

I think we can add a badge attribute to SpeedDial. Exp;
[code]

OR

[code]

Note: the first suggestion is OK for me. The second suggestion might be a bit confusing for the dynamic menu structure.

WDYT?

[2021-10-06 08:23] tandraschko commented on #7898
if BadgeOptions has only 2 vars, lets better introduce 2 attributes on speedDial

[2021-10-06 08:28] mertsincan commented on #7898
Currently, the badge has the following attributes and this may increase in the future. Maybe :D
[code]

[2021-10-06 11:27] melloware commented on #7924
Yes please create an issue here: https://github.com/primefaces-extensions/primefaces-extensions/issues

[2021-10-06 11:50] #7871 closed, assigned to melloware

[2021-10-06 12:42] BalusC commented on #6987
In case anyone is interested, here's a work around (I also faced this issue on non-elite PF10).

[code]
`faces-config.xml`
[code]

[2021-10-06 12:54] melloware commented on #6987
@BalusC thank you i have added the label "workaround" for your excellent workaround provided.

[2021-10-06 13:19] joergmattes opened #7928 "Column: getColumnKey() does not respect javax.faces.SEPARATOR_CHAR"
**Describe the defect**
I have set javax.faces.SEPARATOR_CHAR to something different than the colon ":". I notice that the column filter does not work because Column.getColumnKey() doesn't work correctly, because getColumnKey() has the colon hardcoded:

[code]

**Environment:**
 - PF Version: 11.0.0-RC1
 - JSF + version: Mojarra 2.2.20
 - Affected browsers: ALL

**To Reproduce**
Steps to reproduce

[2021-10-06 13:57] melloware commented on #7928
We should probably search the entire codebase for `:` and replace with this separator.

https://memorynotfound.com/jsf-change-default-separator-character/

[2021-10-06 14:40] StevenHachel commented on #7924
Oh, sorry.

[new issue created](https://github.com/primefaces-extensions/primefaces-extensions/issues/574)

[2021-10-06 15:52] #7928 closed, assigned to melloware

[2021-10-06 17:03] melloware opened #7932 "CSP: Only initialize if PrimeFaces is available"
Discovered during a failure of `Rating001Test.testInvalidNumberServerSide:253 » Timeout Timeout while waiting`

When navigating to `error.xhtml` while no PrimeFaces components are present the CSP script was generating this...

`PrimeFaces.csp.init('NGM3ZTNhOWMtYmM4YS00OWU1LTgzODQtZDk0ZDg2NmE2ZmVm');` and getting PrimeFaces not found!

When it should be this...

`if(pf){pf.csp.init('NGM3ZTNhOWMtYmM

[2021-10-06 18:22] #7932 closed, assigned to melloware

[2021-10-07 15:33] melloware commented on #5492
Final Release blog post: https://blog.jqueryui.com/2021/10/jquery-ui-1-13-0-released/

[2021-10-08 06:07] jepsar commented on #7898
Okay, so I opted to go for a BadgeModel. The only issue left is that we would need a wrapper in order to position the badge. And I think we need to push some classes from the `.ui-speeddial` div to the wrapper.

Apart from that we can use the wrapper to position the badge, it could also be used to optionally position the SpeedButton at a fixed position.

Please have a look at https://github.com/pr

[2021-10-08 11:50] melloware commented on #7898
Looking good!

[2021-10-08 13:18] DazzlingBob commented on #7336
Just checking. Is it correct that after this patch (primefaces version => 10.0.6):
When adding or removing list items you no longer need to add/remove them from the filteredList?
I used to do this in primefaces 8.

And what about inline editing of an item? No clear and addAll of the filteredList needed?

[2021-10-08 14:59] fcorneli opened #7943 "GraphicImage: Add clientbehavior support"
I noticed that `p:graphicImage` as well as `h:graphicImage` claim to support the following client-side events:
click, dblclick, keydown, keypress, keyup, mousedown, mousemove, mouseout, mouseover, mouseup

But when I try to add one, it does not get triggered.

[2021-10-08 15:32] tandraschko commented on #7943
Where did you read it?

[2021-10-08 16:24] fcorneli commented on #7943
This is returned as such by the `getEventNames()` method on the component.

[2021-10-08 18:10] jepsar commented on #7898
PR is done (except for documentation)

[2021-10-09 06:50] milansie opened #7945 "CascadeSelect: subPanel should be aligned at the active item of parent panel instead of top of parent panel"
While showing subpanel of CascadeSelect, this subpanel is aligned at the top of parentPanel. It should be aligned at the top of active item, which this subPanel belongs to.

Check the behaviour on http://www.primefaces.org:8080/showcase/ui/input/cascadeSelect.xhtml, if you choose third item of main panel, subpanel doesn't show "at" this item, but on the top. Imagine if there is more items in paren

[2021-10-09 12:15] melloware commented on #7945
**Before your fix:**
![image](https://user-images.githubusercontent.com/4399574/136657372-a0bb27c5-84d7-46ca-b7c4-55a6f1e45c7d.png)

**After your fix:**
![image](https://user-images.githubusercontent.com/4399574/136657375-f0cb6e0d-6a11-44de-bde1-c6f0f6f4e306.png)

**MonkeyPatch:**
[code]

[2021-10-09 12:23] melloware commented on #7943
When I look in `javax.faces.component.html.HtmlGraphicImage`...

it has:
[code]

And we are rendering them on the image with
[code]

So can you see the event rendered in your HTML and its just not being called?

[2021-10-09 12:28] melloware commented on #7943
I just did this and both events work find for me....

[code]

[2021-10-09 13:37] tandraschko commented on #7943
He is talking about behaviors like p:ajax
I dont think its really useful and also never implemented like this
I would use remoteCommand

[2021-10-09 14:26] elvisfabiane commented on #5827
Hi. Is this issue fixed in community version 5.20 21.7?

[2021-10-09 17:48] fcorneli commented on #7943
Indeed, I'm talking about custom `ClientBehavior` tags.
The advantage over direct usage of `onclick="..."` is that you can add
[code]
to the custom `ClientBehavior`, and thus you avoid situations where the developer forgets to put some
[code]
when he/she tries to use some function at `onclick="..."`. While this works for components like `p:commandButton`, it seems like `p:graphicImage` (and `h:gra

[2021-10-10 02:02] #5045 closed, assigned to nobody

[2021-10-12 09:40] stefan-dan opened #7948 "Inplace: ajax event='dblclick' on touchscreen"
**Describe the defect**
Inplace editing is not fired on `event='dblclick'` using touchscreen devices on Google Chrome and Microsoft Edge, on Safari and Mozilla it is working as expected. It's not a showcase bug, I can reproduce it on my private project.

**Reproducer**
Showcase: http://www.primefaces.org:8080/showcase/ui/input/inplace.xhtml

**Environment:**
 - PF Version: _11.0.0-RC1_
 - JSF + ve

[2021-10-12 16:52] ltlBeBoy opened #7950 "DataTable: Payara IllegalArgumentException when using Array instead of List as selection value"
**Describe the defect**
Multiple selection fails with an `IllegalArgumentException` using arrays as selection value for `DataTable`:

[code]

**Reproducer**
Simply replace `List<Product> selectedProducts` by `Product[] selectedProducts` in the showcase.

**Environment:**
 - PF Version: _11.0.0-RC1_
 - JSF + version: _Mojarra 2.3.14.payara-p2_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to

[2021-10-12 17:04] metaxmx opened #7951 "DataTable: Sort is lost after data refresh"
**Describe the defect**
When using a DataTable with sortable columns, the sort order is lost after refreshing/replacing the underlying data model (List) in an AJAX request. The header still indicates the sorting in the column, but the data is no longer ordnered.
In PF 8.0 this still worked, but since 10.0 the sorting is no longer kept after the list is recreated.

Sometimes it is necessary to e.g.

[2021-10-12 17:05] tandraschko commented on #7950
@melloware @christophs78 would you like to create a unit test for it?

[2021-10-12 17:09] tandraschko commented on #7951
any debugging and solution/ideas would be great
i dont have much time the next weeks

[2021-10-12 17:33] christophs78 commented on #7950
I´ll create a integration test later this week.

[2021-10-12 19:10] ltlBeBoy commented on #7950
OK, I found out that there was also an exception when **sorting** the table even without selecting a row (because of `LangUtils.EMPTY_OBJECT_ARRAY`).

So here is an improved version of the method `SelectionFeature#setSelection(...)` that worked for me:

[code]

[2021-10-13 10:13] fcorneli commented on #7943
I find it rather strange that `ClientBehavior` is not more used. You can do ready interesting things with this. For example, instead of doing
[code]
all over the place within your dialogs, you could have:
[code]
with the implementation as follows:
[code]

[2021-10-13 10:35] tandraschko commented on #7943
i like it more to use JS directly instead of hide js/html more and more:
```<p:button onclick="PF('" + dialogWidgetVar + "').hide()";return false;" />```

[2021-10-13 10:58] melloware commented on #7948
@stefan-dan is this your issue? https://stackoverflow.com/questions/27560653/jquery-on-double-click-event-dblclick-for-mobile

I also found this as we use Jquery Touch Punch UI: https://github.com/furf/jquery-ui-touch-punch/issues/25

[2021-10-13 11:09] melloware commented on #7948
Let me try something.

[2021-10-13 11:10] stefan-dan commented on #7948
@melloware yes I have tested the answers and they are working, but I don't know how to integrate them with `<p:inplace>`, maybe you can help?

[2021-10-13 11:12] melloware commented on #7951
@metaxmx can you create a PrimeFaces Test reproducer please?  and then try it with `-Pmyfaces23` as well as `-Pmojarra23` this issue sounds familiar like it has already been identified as a Mojarra issue.

[2021-10-13 11:17] melloware commented on #7950
These changes were done by @Rapster in this ticket #6575 "Fix #6575 - Datatable : Clean up selection (#6656)"

[2021-10-13 12:13] melloware commented on #7948
Which workaround worked for you?  I can't get any of them to work for me?

[2021-10-13 12:29] Rapster commented on #7950
I'll have a look, see what I can do

[2021-10-13 12:32] melloware commented on #7950
@Rapster can you review the above proposed changes?  Thanks!

[2021-10-13 12:34] Rapster commented on #7950
I'll check the issue first and see the proposal second

[2021-10-13 12:34] melloware commented on #7951
@metaxmx can you try this solution: https://github.com/primefaces/primefaces/issues/7845#issuecomment-922533263

[2021-10-13 12:34] stefan-dan commented on #7948
This one: http://jsfiddle.net/f42j7001/2/

[2021-10-13 12:55] melloware commented on #7948
If you need a MonkeyPatch right now...

[code]

[2021-10-13 13:34] StevenHachel opened #7953 "OutputPanel: deferred mode defect"
`<p:outputPanel deferred="true">`
dosent work under PrimeFaces 8.0.x.

This is very very bad for my migrated Company software.
All pages cant loaded in lazy mode. Only refresh this Application with F5 shows a working outpurPanel.

The loading of new components or the refreshing of components with complex database queries no longer works via command buttons, navigation bars etc. in lazylaoding mode

[2021-10-13 13:47] tandraschko commented on #7953
i will close this issue here as this is not for elite-only bugs and we cant even fix it
therefore i ping PrimeTek, if they may fix it: @mertsincan

If you need this fix, you can also use PrimeFaces PRO to sponsor the fix for the next elite release

[2021-10-13 14:07] StevenHachel commented on #7953
Who do I have to write to so that this is reported as a bug and possibly fixed?
In the migration instructions "7->8" it was not mentioned that the component "outpuPanel" is defect or deprecated.

For me, the elite account makes no sense if components suddenly no longer work and I have to become a pro user in order to be able to use a functioning Primefaces. That sounds like a rip-off and that wasn

[2021-10-13 14:16] tandraschko commented on #7953
maybe it would be make sense to create a private issue tracker for elite like for PRO
but thats all up to PrimeTek, i can just ping @mertsincan

[2021-10-13 14:52] melloware commented on #7953
So I am confused @StevenHachel Did it work on 8.0 and broke in 8.0.X elite or is it broken in 8.0 Community too?

[2021-10-13 15:16] StevenHachel commented on #7953
@melloware
Since Primefaces 8.0. I migrated from 7.0.23 to 8.0.13.

The Class `OutputPanelRenderer` has new methode:
[code]
In version 5/6/7, only `panel.isDeferred()` was checked. I copied the compiled class `OutputPanelRenderer` from version 7 to version 8 and then everything works as usual again.

The construct was extended by the method:
`!context.getPartialViewContext().isAjaxRequest()`

That

[2021-10-13 15:19] melloware commented on #7953
Oh its easy just Extend OutputPanelRenderer and override that `protected` method.

Then in you faces-config.xml just plug the renderer in.

[code]

[2021-10-13 15:27] StevenHachel commented on #7953
@melloware
You didn't rebuild the renderer like this for nothing. Could there be any downside to overwriting it?
What is the reason that you expanded the exam?

In my example you can see that it no longer works due to your conversion.

You're the experts, I'm just the one looking at the code. 😁

[2021-10-13 15:40] melloware commented on #7953
Not sure why it was changed but in 11.0.0 its fixed and even improved.

See: https://github.com/primefaces/primefaces/issues/7867

Even better feature:  https://github.com/primefaces/primefaces/issues/7712

[2021-10-13 15:50] StevenHachel commented on #7953
@melloware
big THX for your help. am enthusiastic about your support. :)

Steven

[2021-10-13 16:12] christophs78 opened #7959 "Upgrade to Selenium 4 (from 3.x)"
https://www.selenium.dev/blog/2021/announcing-selenium-4/,
https://www.selenium.dev/documentation/getting_started/how_to_upgrade_to_selenium_4/

Maybe we should do this after PF 11.0.0 is released.

[2021-10-13 16:13] melloware commented on #7959
Marked it for 12.0.  Will mark those others for 12.0 as well.

[2021-10-13 18:01] christophs78 commented on #7950
See integrationtest - PR https://github.com/primefaces/primefaces/pull/7960
It does not fail.
And i can´t reproduce it by modifying http://localhost:8080/primefaces_showcase_war_exploded/ui/data/datatable/selection.xhtml.
@ltlBeBoy : Do i miss something? Or is there something else special on your side. It look like you use Weld, and we use OWB. (No sure whether this makes the difference.)

[2021-10-13 19:19] #7948 closed, assigned to melloware

[2021-10-13 22:38] ltlBeBoy commented on #7950
@christophs78 I use Payara Server 5.2021.7. Maybe there is a problem when the selection array is going to be assigned to the typed array of the backing bean. I can try with a different application server, but I'm on vacation starting from tomorrow for two weeks. So it will take some time...

[2021-10-14 00:15] melloware commented on #7950
Payara is mojarra 2.3.14 so I doubt it's payara specific?

[2021-10-14 06:43] tandraschko commented on #7950
You can also try primefaces-test, you can start it with payara

[2021-10-14 08:40] Rapster commented on #7950
I confirm it's Payara specific... Have to figure out why now. My guess is that, coercion in Payara is not able to convert a Object[] to a Product[], so a Product[] has to be explicitely returned

[2021-10-14 11:00] melloware opened #7962 "Schedule: Upgrade FullCalendar 5.10.0"
Release Notes: https://github.com/fullcalendar/fullcalendar/releases/tag/v5.10.0

Looks like it has lots of ARIA improvements.

cc @blutorange

[2021-10-14 12:10] stolp opened #7964 "DataExporter: Option to globally suppress table header/footer export"
**Description**
In my application, I like to see footers in some of my UI tables, but never in the corresponding exports (XLSX, PDF and XML).

I'm always frustrated when I have to rewrite my custom exporters for each new major PrimeFaces release as each new version brings a more sophisticated API (Nonetheless I really like the work done there!).

I am aware of the `exportFooterValue` attribute in

[2021-10-14 12:36] melloware commented on #7222
@tuerker please review my new change: https://github.com/primefaces/primefaces/issues/7963

[2021-10-14 12:37] melloware commented on #7964
This is a great suggestion but since its a new feature and not a bug this will have to wait for 12.0.0

[2021-10-14 12:54] stolp opened #7966 "DataExporter: Option to ignore columns which are hidden via ColumnToggler"
**Describe the defect**
**Description**
Data exporters will always export all rendered, exportable columns but not columns excluded via ColumnToggler.
This is confusing for users who may want to tune their table content before exporting.

In the past, I have added checks to my custom exporters for column visibility (isVisible()). I'm always frustrated when I have to rewrite my custom exporters for

[2021-10-14 12:56] melloware commented on #7966
I think this has come up in the past and it seemed like this might be a user choice.  Similar to how we export PageOnly or All rows.  I can see some users who want to hide columns on the UI but want the full data exported.  So i am gonna mark this an enhancement not defect.

[2021-10-14 13:59] enricokl opened #7967 "CellEdit: DataTable triggers AutoNumeric by mouseover or mouseout"
**Describe the defect**
If a InputNumber is in a editable DataTable, then the AutoNumeric was triggered by mouseover or mouseout. A InputNumber without DataTable triggers AutoNumeric only if focus lost (by Tabulator or click mouse out).

**Environment:**
 - PF Version: _8.0_, _10.0_
 - Affected browsers:  Tested in _Firefox 78.15.0esr_, _Microsoft Edge 94.0.992.47_

**To Reproduce**
Steps to repro

[2021-10-14 17:00] metaxmx commented on #7951
Thank you for your feedback.
I have created a reproducer project: https://github.com/metaxmx/primefaces-reproducer-datatable-sorting
Unfortunately the problem was not specific to a jsf implementation. I tried it with Mojarra 2.2, Mojarra 2,3 and MyFaces 2.3. I've also seen this problem with Mojarra 3.0 in my JakartaEE project.

The "workaround" by additionally triggering `PF('myDataTable').filter(

[2021-10-14 17:07] tandraschko commented on #7951
it would a help a lot if you could collect some infos where and when the your changed data was sorted/filtered again

maybe @Rapster and @melloware could have a look too

[2021-10-14 17:08] melloware commented on #7967
I will investigate.

[2021-10-14 21:01] Rapster commented on #7951
I see the problem. sort at initial rendering happens only if default sorting is set. Same issue happens with filtering I think

[2021-10-14 22:51] Rapster commented on #7951
Fixed it. Though, no idea why setRowIndex is called while it's not for filtering.

[2021-10-15 08:45] torstenwerner opened #7970 "MenuItem: support passthrough attributes"
**Describe the defect**

Sample xhtml code with `xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"`:

    <p:menuitem value="Neuer Ordner" update="folderTree" action="#{folderTreeView.addNewNode}"
        oncomplete="openInplace(args)" icon="fa fa-plus"
        onkeydown="test()" pt:onkeydown="test2()" pt:data-test3="test4"/>

The rendered DOM has neither a `onkeydown` event handler defined nor a cu

[2021-10-15 09:03] Rapster opened #7971 "DataTable: splitButton not rendered if items are not rendered"
**Describe the defect**
A splitButton is set as paginatorTopLeft facet in a DataTable. This splitButton has no visible children, and due to `ComponentUtils#shouldRenderFacet` impl., splitButton is not rendered.

**Reproducer**
[code]

**Environment:**
 - PF Version: 11.0
 - JSF + version: _e.g. Mojarra 2.2.20 or MyFaces 2.3.9_
 - Affected browsers: _e.g. Chrome, iOS, ALL_

**Expected behavior**
Sp

[2021-10-15 09:52] tandraschko commented on #7970
new feature as not implemented before

[2021-10-15 09:55] tandraschko commented on #7971
hmmm
shouldnt this work anyway?
splitButton is rendered=true, therefore it should NEVER be skipped, indepdent of UICommand or any other component

[2021-10-15 10:10] Rapster commented on #7971
Nope, the idea of this method is to decide whether or not a UIPanel (used by Mojarra not sure about MyFaces) should be rendered depending its children. But in case of a single component, it returns the component itself (in this case, a splitButton)

[2021-10-15 10:14] tandraschko commented on #7971
i think then we have to check the initial idea and impl again

AFAIR it should only check:
dont render facet when facet.rendered=false or all children of the facet are rendered=false

[2021-10-15 10:41] Rapster commented on #7971
I think the addition that I recently made is good enough. The tricky part of this method is that it works on two different levels, a facet can be either a container (then check comp.children.rendered) or a single component (check comp.rendered). Though, in case of a MenuButton, it can make sense to not display it if children are not displayed

[2021-10-15 10:47] tandraschko commented on #7971
i currently prepare some tests, lets talk again after that

[2021-10-15 10:56] tandraschko commented on #7971
just put some tests, which my assumptions, how this method should work
one test even fails currently

which are other cases, which should be covered currently?

[2021-10-15 11:03] tandraschko commented on #7970
a PR would be great!

[2021-10-15 11:36] Rapster commented on #7971
UIPanel containing at least one component, SplitButton, MenuButton (if you agree that displaying an empty MenuButton is not really useful)

[2021-10-15 11:39] tandraschko commented on #7971
i dont see that shouldRenderFacet ever checks the children-childs like p:menuitem in your case?

[2021-10-15 12:00] tandraschko commented on #7971
could it be that the facet param of the method is the SplitButton in your case?
then our handling is complete wrong, it should really only be the facet instance, not a children

[2021-10-15 12:44] Rapster commented on #7971
It does in shouldRenderChildren method, since p:menuitem is a child

yes

not sure if we understand each other, but as I said, if one component defined then the facet is the component (e.g splitbutton) otherwise it's a UIPanel. That's how JSF impls handle it, facet is not systematically a container of children

[2021-10-15 12:49] tandraschko commented on #7971
i currently debug it and if the facet is empty, its just null:
[code]

[2021-10-15 12:51] Rapster commented on #7971
Yeah makes sense, I didn't mention that one (never happened to me so far)

[2021-10-15 12:54] tandraschko commented on #7971
IMO the method is currently wrong implemented in general
i will come up with a idea in 10 mins

[2021-10-15 13:00] tandraschko commented on #7971
[code]

actually we also switch the first 2 ifs but we need some null checks then in the caller-code

[2021-10-15 13:04] Rapster commented on #7971
Looks good

[2021-10-15 13:17] tandraschko commented on #7971
commited, please review and retest your case

[2021-10-15 13:20] #7971 closed, assigned to tandraschko

[2021-10-15 13:22] metaxmx commented on #7951
Thank you, this is great news!
I can confirm that this patch does fix the reported problem.

However, I was testing the DataTable sort and filter feature in my reproducer example for a bit, and I noticed another glitch:
When I sort by a column and simultaniously filter for a column, then the sorting does not seem to work any more, when I refresh the data.
I believe this happens due to the fact, th

[2021-10-15 13:51] metaxmx commented on #7951
Another thing I'm not absolutely sure about:
The DataTable has a property `filteredValue`, which seems to behave like a kind of cache for the table filtering.
However, now the filtering (and also sorting) is performed every time the table is rendered, so the `filteredValue` is overwritten every time.
However, when you first set a filter (and by this get the `filteredValue` filled with a non-null v

[2021-10-16 11:22] melloware opened #7974 "Showcase: Remove FontAwesome Page"
**Describe the defect**
See: https://www.primefaces.org/showcase/ui/misc/fa.xhtml

Reported on Forum: https://forum.primefaces.org/viewtopic.php?f=3&t=69148&p=194926#p194926

[2021-10-16 11:29] melloware opened #7976 "Core: PrimeFaces web-fragment.xml not distributable"
**Describe the defect**
See: https://forum.primefaces.org/viewtopic.php?f=3&t=69092

[2021-10-16 11:37] #7974 closed, assigned to melloware

[2021-10-16 11:42] melloware commented on #7967
I believe this is fixed in 11.0.0-RC1 if you go to the Showcase and edit the Price field: https://www.primefaces.org/showcase/ui/data/datatable/edit.xhtml

Can you check this issue: https://github.com/primefaces/primefaces/issues/7460

Or this one: https://github.com/primefaces/primefaces/issues/6397

[2021-10-16 12:01] melloware opened #7978 "CLI: Add migration for p-text-truncate"
**Description**
See: https://github.com/primefaces/primeflex/issues/73

Per Cagatay:

[code]

[2021-10-16 12:14] enricokl commented on #7967
Thank you for your quick response. In the Showcase 11.0.0-RC1 in "Cell Editing with Click and RightClick" is the problem also.
I will check the issues #7460 and #6397 on monday.

[2021-10-16 12:20] melloware commented on #7967
Oh yep I see it now!   My guess is its https://github.com/primefaces/primefaces/issues/7460

[2021-10-16 12:31] melloware commented on #7967
try adding `emptyValue="empty"` to your InputNumber.  The defalt value is `emptyValue="focus"` which you don't want.

[2021-10-16 12:37] melloware commented on #7460
Definitely looks like an Autonumeric bug.

[2021-10-16 12:37] melloware commented on #7967
Definitely looks like an Autonumeric bug.

[2021-10-16 12:40] #7978 closed, assigned to melloware

[2021-10-16 15:36] #7976 closed, assigned to melloware

[2021-10-16 18:49] christophs78 opened #7980 "Dialog Framework: provide PhaseListener which allows using (JSF-)Flash with Dialog Framework"
Flash can be used to pass data from one page to another.
On the way from a page to a dialog framework - page this is a bit more complicated. You need a PhaseListener which keep´s the Flash alive during opening the dialog framework - dialog. (eg DialogKeepFlashPhaseListener)
We already use such a PhaseListener inhouse and i´ll contribute it to PrimeFaces.

Known limitation:
Currently only works on

[2021-10-17 08:56] efibn commented on #4685
@yigitfindikli Please take a look at this, if you open calendar from dialog it cannot be controlled by the keyboard, for accessibility purposes, same goes for Calendar that is in between dates.
Please take a look at this

[2021-10-17 11:21] melloware commented on #4685
@efibn @yigitfindikli is the PrimeNG lead and this is the PrimeFaces ticket.  Do you have the right issue tracker?

[2021-10-18 08:28] enricokl commented on #7967
I have tried all possible values for emptyValue, but the problem still persists.

[2021-10-18 11:00] melloware commented on #7967
@enricokl me too, I definitely think its an AutoNumeric bug.  PrimeFaces doesn't even have a mouseout event defined so this is happened inside of AutoNumeric.

[2021-10-18 11:11] enricokl commented on #7967
@melloware: Do you know a workaround or do you know an "easy" way to override that?

[2021-10-18 11:38] melloware commented on #7967
I looked but I didn't see anything obvious in the AutoNumeric code and its quite complex.  I also didn't see an open ticket on their GitHub about it so it must be something specific to this example.  Because the Example not using CellEdit Right click it doesn't happen.  So I feel like its some Jquery event added by the Context Menu right click example that is triggerin it?

[2021-10-18 11:48] melloware commented on #7967
Yep it happens on the Right Click and Double click cell events but not on the top example Row Editing.  So now I am thinking Primefaces is adding some Jquery event to those CellEdit cells that is triggering the AutoNumeric.

I am looking at Chrome at all the events attached and here is the focus:
![image](https://user-images.githubusercontent.com/4399574/137724431-a08d0a58-e371-4add-a83b-79ae3643d

[2021-10-18 11:59] jepsar commented on #7724
This causes wide texts to overflow. We can revert this or change to overflow-y. @melloware WDYT?

Do we need a new issue for this, as this was part of RC1?

[2021-10-18 12:00] jepsar commented on #7724
Hmm.. overflow-y is no good. I'd say revert.

[2021-10-18 12:01] tandraschko commented on #7724
yeah, i will revert

[2021-10-18 12:01] melloware commented on #7724
yep submit a PR to revert please. No new ticket just assign it this ticket number and we can re-=open this ticket.

[2021-10-18 12:04] jepsar commented on #7724
This issue can be reopened so a different fix can be applied

[2021-10-18 20:16] BryanV91 opened #7986 "DataTable: Dynamic Columns with rendered attribute breaks filter/sort functionality"
**Describe the defect**

Trying to upgrade from PF8 to PF10, but I'm having issues with the rendered attribute in `p:columns`. It shows/hides columns properly, but it breaks the filter/sort functionality.

**Reproducer**

Reproducer attached.

**Environment:**

 - PF Version: _10.0_
 - JSF + version: _Mojarra 2.2.20 and MyFaces 2.3.9_
 - Affected browsers: _Chrome and Firefox_

**To Reproduce**

S

[2021-10-19 00:18] Rapster commented on #7986
I provided a fix but don't think it's a really clean solution, but it gives an idea where the problem comes from. @tandraschko should have a good opinion on this

[2021-10-19 07:17] #7980 closed, assigned to christophs78

[2021-10-19 08:25] jepsar commented on #7724
This should fix it properly (only allow to overflow when the cell is being edited). I'll do some tests this evening to be really sure and submit a PR then.

[code]

[2021-10-19 12:09] tandraschko commented on #7986
@melloware @christophs78 anyone interessted or time to create a test for it?

[2021-10-19 12:12] melloware commented on #7986
Yep I think we can modify an existing Dynamic Columns Test.  Let me see if I can provide.

[2021-10-19 12:42] melloware commented on #7986
Integration test provided and the rendered attribute break multiple tests currently which is good.

[2021-10-19 13:26] #7986 closed, assigned to tandraschko

[2021-10-19 15:50] metaxmx opened #7989 "InputNumber: NumberFormatException when symbol=" " (Whitespace)"
**Describe the defect**
We have some use cases, where the `symbol` Property of an InputNumber is produced by String concatenation. In some cases this results in a Symbol only consisting of a blank (Whitespace) character.
Whenever that happens, the InputNumber produces erroneous number outputs, which can't be deserialized in the backend, because they contain whitespaces in a bad place.

**Reproduce

[2021-10-19 16:07] metaxmx commented on #7989
I have create a PullRequest #7991 with a fix that resolves the problem for my example case.

[2021-10-19 16:51] #7989 closed, assigned to metaxmx

[2021-10-19 16:51] melloware commented on #7989
Thanks for the test case and PR!

[2021-10-20 08:00] tandraschko commented on #7950
maybe EL impl specific? you could try it by use glassfish/payara EL impl in primefaces-test
could be that tomcat EL coerces the array into a new array

[2021-10-20 08:02] tandraschko commented on #7951
that are some questions for @Rapster, he did the most of the refactoring

[2021-10-20 10:59] melloware commented on #7950
We have our Payara branch of PrimeFaces Test ready to use out of the box: https://github.com/primefaces/primefaces-test/tree/payara

[2021-10-20 11:14] cloudbuster13 commented on #7413
Dear @melloware, could you label the Fix #7413 to upcoming primefaces elite v10.0.8. Using PF 10 with Wildfly 17 HA Cluster we're facing heavily this issue of DataTable FilterFunctions gets lost after deserialization as it is transient, many thx.

[2021-10-20 11:20] melloware commented on #7413
@cloudbuster13 do you have a PRO account?  That is your best bet of getting this fix into 10.0.8 as it looks like Rapster changed 14 files to make this work.  I add the `elite` label but its up to @mertsincan whether it makes it into 10.0.8 or not.

[2021-10-20 11:47] tandraschko commented on #7950
I know but with just switching the EL impl, we can check how its defined in specs

[2021-10-21 06:39] tandraschko commented on #7950
yep, glassfish EL doesnt implement array coerce:
https://github.com/javaee/el-spec/blob/master/impl/src/main/java/com/sun/el/lang/ELSupport.java#L380

whereas tomcat does:
https://github.com/apache/tomcat/blob/0827d1ce4200ad030a9c3496349b240fefeb53a7/java/org/apache/el/lang/ELSupport.java#L589

[2021-10-21 07:04] tandraschko commented on #7950
i added a EL spec issue and commited a fix
can you please try again?

[2021-10-21 07:08] #7950 closed, assigned to Rapster

[2021-10-21 11:01] melloware opened #7997 "ColorPicker: Incorrect Translation of Inputs"
**Describe the defect**

 I have a user complaining that some colors are not selectable and I confirmed even on the showcase : https://www.primefaces.org/showcase/ui/input/colorPicker.xhtml
If you try to input `RGB 0,48,108` or its hex value `00306C` you get `0,49,108` and `00316C`.
Not sure what happens here but I was expecting an input color to input my color without altering it !
after digging

[2021-10-21 11:15] melloware commented on #7997
Looks like it is this issue: https://github.com/thorst/jQuery-ColorPicker/issues/1

[2021-10-21 11:54] melloware commented on #7997
Updated to more accurate calculation of conversion functions.

See: https://stackoverflow.com/questions/17242144/javascript-convert-hsb-hsv-color-to-rgb-accurately

![image](https://user-images.githubusercontent.com/4399574/138271892-99b7d778-d32f-4c6a-a9ff-af69208d7bc1.png)

[2021-10-21 12:48] DazzlingBob opened #7999 "DataTable: filter/sort - wrong manipulation of list elements on Mojarra without filteredValue defined (non-lazy)"
### 1) Environment

PrimeFaces version: primefaces 10.0.0
Application server: jetty 9.4.44 + version: mojarra-2.3

### 2) Expected behavior

Run the sample project.

Follow these steps:
1. filter on name with value BB2
2. change all BB2 row values to BB3, press Save [result=OK]
3. remove filter BB2, press Save [result=OK]
4. sort on code, press Save [result=WRONG] data rows switch with primefaces

[2021-10-21 12:53] tandraschko commented on #7999
please try 11.0.0-RC1

[2021-10-21 13:04] jepsar commented on #7997
I'd like to see a picker based on https://github.com/mdbassit/Coloris

Add an issue to PFE to add it there?

[2021-10-21 13:07] tandraschko commented on #7997
which plugin does PrimeNG or Vue use?

[2021-10-21 13:10] jepsar commented on #7997
Looks like PrimeTek homegrown on PrimeNG as far as I can judge https://github.com/primefaces/primeng/blob/master/src/app/components/colorpicker/colorpicker.ts

[2021-10-21 13:11] tandraschko commented on #7997
then please create a issue here for PrimeTek, so they can port it for the next releases

[2021-10-21 13:15] jepsar commented on #7997
Ok. But I'll add a ticket to PFE as well. The keyboard support on Coloris is great!

[2021-10-21 13:18] jepsar opened #8000 "ColorPicker: use modern JS widget"
As the current 3rd party code has not been touched in 10 years and contains at least this bug:  https://github.com/primefaces/primefaces/issues/7997

**Options:**
Coloris: https://github.com/melloware/Coloris
IRO: https://iro.js.org/colorPicker_api.html

[2021-10-21 13:49] DazzlingBob commented on #7999
Just tried it with 11.0.0-RC1,  unfortunately same wrong result.

[2021-10-21 14:24] tandraschko commented on #7999
@Rapster could you also check this? may be related to https://github.com/primefaces/primefaces/issues/7951

@melloware @christophs78 maybe you can also check it and provide a IT

i would really like to get rid of all those DT refactoring bugs, which made 10.0 so bad

[2021-10-21 15:05] melloware commented on #7999
@DazzlingBob I don't see what is wrong you say "sort on code, press Save [result=WRONG]" so that is Ascending and code is AA then BB.  Why do you think the sort order should be BB then AA?

See my screenshot I followed your steps exactly and the result looks right to me?

![image](https://user-images.githubusercontent.com/4399574/138305504-3a2ba75e-891c-415c-ba19-0af7667c4121.png)

[2021-10-21 15:27] melloware commented on #7999
I think its a Mojarra issue as `-Pmyfaces23` seems to be working fine?

[2021-10-21 15:40] tandraschko commented on #7999
didnt we had a mojarra issue, which were fixed by christoph or something? maybe payara uses a old version?

[2021-10-21 15:42] melloware commented on #7999
yeah i think its fixed and Mojarra hasn't released 2.3.17 yet.

[2021-10-21 15:48] christophs78 commented on #7999
The Mojarra-fix i made related to DataTable went into Mojarra 2.3.15 or 2.3.16. (https://github.com/eclipse-ee4j/mojarra/pull/4882)
So this Mojarra-bug propably still exists.

[2021-10-21 16:14] melloware commented on #7999
**Update:** yep this works fine on MyFaces 22 and 23 and failed on Mojarra 22 and 23.  Same behavior in 10.0 and 11.0.0-SNAPSHOT.

[2021-10-21 16:23] tandraschko commented on #7999
ok
i would appreciate if you could find the source and probably create a mojarra issue + PR

[2021-10-21 17:52] melloware commented on #8000
I think the current PrimeNG widget doesn't offer all the functionality of our legacy component.  I am all for a new component but it should replace the functionality of the current one. Coloris looks great but it doesn't look like it goes RGB or HSB values which our current component does.

[2021-10-21 19:12] christophs78 commented on #7999
I may implement a integration test for this. Takes maybe 2 hours or so.
But i won´t debug all this Mojarra-madness, compare it to MyFaces and ... Time and energy are running into this with an open end. This is IMO a thing for a paid developer who can sit a day or two or three in front of this issue and analyse this. And try to do a Mojarra-fix which does not break other things. And afterwards conv

[2021-10-21 19:18] jepsar commented on #8000
Right, HSL is a must have. I'll open a ticket there.

[2021-10-21 19:30] melloware commented on #8000
Sorry Coloris does do RGB!  checking if it does HSB.

[2021-10-22 09:56] DazzlingBob commented on #7999
So the primefaces 10+ refactored datatable is more in line with myfaces.
For me this is the second datatable issue with mojarra and primefaces 10, which was not a problem in primefaces 8.
Conclusion: better switch to myfaces to avoid this kind of issues.

Is this something you agree with?

[2021-10-22 11:09] melloware commented on #7999
@DazzlingBob I always prefer MyFaces to Mojarra just because it has so many less issues than this.  But I am not telling you to do that but I will tell you on two of my prodution Jboss apps we swapped our Mojarra for MyFaces because we were facing Mojarra bugs the client wanted fixed!

[2021-10-22 11:10] tandraschko commented on #7999
hard to say

in general PF should work perfectly fine on both MyFaces and Mojarra (we have around ~30 integration tests!) and this seems to be the only case currently, which doesnt work on Mojarra.
But TBH, it could even bug a bug in PrimeFaces, we just dont know without doing some hours debugging ;D
Also UIData is probably the most complex component.

IMO MyFaces is a bit more stable and more fas

[2021-10-22 17:07] christophs78 commented on #7999
We have a integration-test-PR.
https://github.com/primefaces/primefaces/pull/8011

[2021-10-23 12:38] christophs78 commented on #7951
You can work-around this issue with

[code]

see https://github.com/primefaces/primefaces/pull/8012/files#diff-9a1a7c83649160d4969b7118145c45d87ee414e2676498299c3b38ef99a32a7fR72-R88

[2021-10-25 15:01] HessiJames2 opened #8019 "Autocomplete: Entering an invalid value with forceSelection="true" should stop propagation"
**Describe the defect**
I am using p:autoComplete with multiple="true" and forceSelection="true".
When I enter an invalid value and hit 'enter' it should stop propagation in my opinion.

**Reproducer**
I am using the multiple example from https://www.primefaces.org/showcase/ui/input/autoComplete.xhtml.
And I have a p:commandButton with type="submit" on the same page.
And this commandButton is (wro

[2021-10-25 15:19] melloware commented on #8019
This looks like it was a conscious decision by PrimeTek.

[code]

Only if a valid item is selected it stops propagation.  If its invalid it allows it to go through.

Those two lines could be moved outside the `if` if it wanted to be blocked always from bubbling up.

[2021-10-26 10:09] HolgerSuhr opened #8021 "DataTable: selected item remains current, even after building a new data source"
I use a data table for showing selected items. The table is reused for multiple selections.

When another selection is started, the data collection (ArrayList) is rebuilt and the item holding
the current selected row is set to null.

The data table shows a selected row if the rowKey of any previous selection can be found in this list.

It is not sufficient to set the variable holding the `selectio

[2021-10-26 11:25] melloware commented on #8021
Can you try 11.0.0-RC1 i believe this is already fixed. Duplicate of: https://github.com/primefaces/primefaces/issues/7391

[2021-10-26 11:28] melloware commented on #5492
Adding Security label as this fixes 3 CVE's:

[CVE-2021-41184](https://github.com/jquery/jquery-ui/security/advisories/GHSA-gpqq-952q-5327#advisory-comment-69059)
[CVE-2021-41183](https://github.com/jquery/jquery-ui/security/advisories/GHSA-j7qv-pgf6-hvh4#advisory-comment-69058)
[CVE-2021-41182](https://github.com/jquery/jquery-ui/security/advisories/GHSA-9gj3-hwp5-pmwc#advisory-comment-69057)

[2021-10-26 11:32] melloware commented on #8019
MonkeyPatch:

[code]

[2021-10-26 14:42] melloware commented on #7832
@fanste I am writing an Integration Test and I can't reproduce your issue.  Here is my test and its all working properly.

https://github.com/primefaces/primefaces/pull/8022

[2021-10-26 16:52] melloware commented on #8019
Actually I did this not primeTek with this fix: https://github.com/primefaces/primefaces/issues/6713

I had no reason so you are right if Multiple I will prevent ENTER submission.

[2021-10-27 08:00] pmensalt commented on #7457
It took me a while to validate it, but I found the time to do it now, and it seems to be working fine. Thanks!

[2021-10-27 13:00] tandraschko commented on #7951
i will also switch filter/sort now like in @metaxmx comment
please create a new issue about your second big comment

[2021-10-27 13:01] tandraschko commented on #7951
@Rapster @christophs78 could it be that
`table.setRowIndex(-1); // why?`
is a similar "hack" like
` setDataModel(null); `
in DataTable#filterAndSort?

[2021-10-27 13:02] #7951 closed, assigned to Rapster

[2021-10-27 13:20] Rapster commented on #7951
Yeah, both does more or less the same thing. But not clear as to when, why and which one to use it... Since this call is quite expensive, we should be careful how we use it. IMO, that setRowIndex should be called in SortFeature just like FilterFeature does

[2021-10-27 20:27] l-tong opened #8027 "DataTable: visible attribute not working with groupRow"
**Describe the defect**
The p:column with attributes exportable="true" and visible="false" appears incorrectly when navigate to other pages in the datatable list.  See screenshot of the defect via https://github.com/l-tong/Struts2Example17/blob/master/primefaces-datatable-column-visible-false.jpg?raw=true

**Environment:**
 - PF Version: 10.0.5
 - JSF + version: Mojarra 2.3.9
 - Affected browsers:

[2021-10-28 11:22] melloware commented on #8027
Can you provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

I just tried a quick example locally with pagination and visible="false" and it works fine for me.  So I need you to create an exact reproducer.

[2021-10-28 20:46] christophs78 commented on #7999
@DazzlingBob : On Mojarra it´s essential to define filteredValue
[code]

Also see integration-test PR. Once filteredValue is defined it work´s correct. (Can´t explain it from my side yet.)

Now i´m going to bed after spending two hours fiddling around on this.

[2021-10-29 15:50] DazzlingBob commented on #7999
@christophs78 Appreciate your work.
Have many xhtml pages which are comparable to the issue xhtml but are more comprehensive.
Different combinations of sorting and filtering data results in wrong manipulation of lists. The problem is that is difficult to get the exact steps to take. It mostly occurs after the data is visually sorted wrong, but many times it takes one additional sort/filter to get

[2021-10-29 18:34] l-tong commented on #8027
@melloware I added the codes to replicate the issue in this fork https://github.com/l-tong/primefaces-test.  Please let me know if this is enough.  If not, I will try to create a fat jar.  Thanks!

[2021-10-29 19:37] tandraschko commented on #7999
Please try 11.0 Snapshot instead of 10.0.7
There are sooo many fixes in 11.0, which are not in elite

[2021-10-29 19:47] christophs78 commented on #7999
Thanks for your valuable feedback!

With 10.0.0 a lot of DataTable-refactoring had been done. We had a set of integrationtests at this point in time essentially testing single DataTable-features. What we learned since 10.0.0 is testing single features is not enough. Especially for DataTable which has all kind of state. The honest truth from my perspective is we ended up with alarming broken DataTa

[2021-10-29 19:47] melloware commented on #8027
Verified your issue.  It is related to `groupRow="true"`.  If you remove the group row all works as intended. So I updated your bug description.

[2021-10-29 20:07] melloware commented on #8027
Nope that's not it I think somehow the Visible is being reset somehow or is off by 1.

[code]

And I can see it has `ui-helper-hidden` on the wrong column...

![image](https://user-images.githubusercontent.com/4399574/139495731-c290cb31-a6f1-4c70-8647-47cc998095e5.png)

[2021-10-29 20:11] #8021 closed, assigned to nobody

[2021-10-30 00:53] tuerker commented on #7222
@melloware: it looks like that it is working as before in 10.0

when the onLabel/offLabel are missing, then the button is empty.

[code]

delivers

![Screenshot from 2021-10-30 02-50-24](https://user-images.githubusercontent.com/10051373/139514381-eedbab7c-c199-45fb-b6d5-83b16464a0d5.png)

[2021-10-30 01:05] tuerker opened #8031 "DataExporter: columnToggler breaks export ordering"
@melloware In the latest 11.0.0 snapshot (as well as on a snapshot from September 27), the csv datatable export seems to be broken. The exported column order is incorrect. See example:

![Screenshot from 2021-10-30 03-00-44](https://user-images.githubusercontent.com/10051373/139514699-b25f5516-9e62-44fe-91a7-5126edfd2d1f.png)

[2021-10-30 01:15] tuerker commented on #8031
there is also a problem with exporting datatables that contain grouped columns. the exorted file is always empty. here i need to provide a reproducer since the show case which invokes the exporter with a commandButton outside of the datatable seems to work. in our datatable fragment the export link is paginator template.
[code]

[2021-10-30 11:20] bjorntj commented on #7309
Is this only fixed in version 11? if so, why?

[2021-10-30 11:23] melloware commented on #7309
@bjorntj Fixed in 11.0.0-RC1.  Only PrimeTek decides what goes in Elite this is just the Community Forum tracker.  I can mark the label "elite" but it doesn't guarantee it goes into 10.X.  I suggest you request it through your PRO support account if you have one.

[2021-10-30 11:25] bjorntj commented on #7309
I only have Elite and not Pro.. But this fix should be in earlier versions also but I guess then this is up to PrimeTek...
Thx..

[2021-10-30 11:27] melloware commented on #7222
Fixed and integration test added.

[2021-10-30 11:31] melloware commented on #8031
Please provide PrimeFaces Test reproducers for both issues.

Also for your second issue `{exporters}` are you sure your issue isn't this: https://github.com/primefaces/primefaces/issues/7060

Using the Showcase I can't reproduce your first issue.  Everything is coming out the proper order.

[2021-10-30 18:53] djmj commented on #5744
Observations at 10.0.0

**Hierarchy**

If you have a datatable with horizontal scrolling inside a tabview the tabview takes precedence in swipe event. The tabview is just a UI container and should by default not override the content touch events since it limits it use case. Only very simple tabviews with static content can benefit from this behavior.

**Global deactivating has no effect**

I tried

[2021-10-30 22:43] melloware commented on #5744
If the Web.xml property does not globally disable it then it's a bug please open a new issue with reproducing instructions.

[2021-10-30 22:54] tuerker commented on #8031
here is the reproducer for the second issue.

[p-dataexportercsv-grouped.zip](https://github.com/primefaces/primefaces/files/7447727/p-dataexportercsv-grouped.zip)

it concerns the csv export which requires flattening of the table. instead of

"group1","col2","g11","g12","g13","c2"
"","","1","2","3","4"

it should be something like this:

"g11","g12","g13","c2"
"1","2","3","4"

would be great to h

[2021-10-30 23:08] tuerker commented on #8031
for the first issue i could not get the reproducer right.

[p-dataexporter.zip](https://github.com/primefaces/primefaces/files/7447743/p-dataexporter.zip)

the problem occurs when the columnToggler is used within the exporters facet. in my own code the columnsToggler works as expected while the csv export messes up columns and rows.

in the "reproducer" above, the csv export is correct but the tog

[2021-10-31 11:24] tuerker commented on #8031
below you will an extended reproducer for the second issue with the grouped column export problem.

[p-dataexportercsv-grouped.zip](https://github.com/primefaces/primefaces/files/7448639/p-dataexportercsv-grouped.zip)

it shows that the xls export is also not working as expected.

many thanks in advance.

[2021-10-31 12:01] melloware commented on #8031
OK so two things both your examples have in common are dynamic columns and `{exporters}`.  So I think the issue is related to that combination.

[2021-10-31 12:13] melloware commented on #8031
OK it seems both your scenarios work fine if you remove the `facet name="{Exporters}"` and do it with buttons above the table.

So it definitely related to the `{Exporters}`.

[2021-10-31 12:16] melloware commented on #5744
@djmj I can see the issue.  You are right. Please open a defect.

[2021-10-31 13:19] melloware commented on #8031
And to answer your question no I do not think the ColumnToggler should not be used inside the exporters facet.

[2021-10-31 13:40] melloware commented on #8031
I prefer to put the column toggler in the Table header like this rather than trying to cram it into Exporters....

[code]

[2021-10-31 17:30] tuerker commented on #8031
Thanks for looking into. I prefer using the column toggler in the Exporters since this approach has the advantage that one saves the space above the table (in case the table header is not used at all - as in all of our tables).

[2021-10-31 17:46] tuerker commented on #8031
I have now tested the toggler in the table header. It has exactly the same behavior as in the Extporters.
So the issue occurs when both exporters and toggler are used together in the table.

[2021-10-31 17:49] tuerker commented on #7222
great. this one fixed it.

[2021-11-01 11:02] melloware commented on #8031
Yep its all related I believe to `{exporters}`.

[2021-11-01 15:06] kronos72it opened #8034 "Tree: dynamic,selection attribute not working"
**Describe the defect**
Using Tree component with dynamic= true prevent to call the method specified via selection attribute

[code]

Then when I select a node in the tree , the method below will be run but with NULL as argument

[code]

**Environment:**
 - PF Version: _10.0.6
 - JSF + version: _e.g. Mojarra 3.0.0
 - Affected browsers:  ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Cr

[2021-11-01 16:23] melloware commented on #8034
@FlipWarthog any interest in investigating?

[2021-11-01 16:53] FlipWarthog commented on #8034
@melloware Can do

[2021-11-01 17:02] kronos72it commented on #8034
thanks both , if I can help in some way ...

A detail : I implemented the LazyLoadingTreeNode as reported in PF showcase

`/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
package savino.hb.web.faces;

import java.util.List;
import java.util.function.Function;
imp

[2021-11-01 23:39] djmj opened #8036 "UIPageableData: do not validate integers in isRowsPerPageValid"
Migrating to primefaces 10.0.0 there are some markups of datatable with paginator in our app like: `rows="5" rowsPerPageTemplate="10, 20, 50"`

Now this throws an exception now that 5 is not in the template which is not an error. Rows must not be in template, else template would be required so i think those options would be more developer friendly:

- dont check valid integer option like it worked

[2021-11-02 00:12] FlipWarthog commented on #8034
This might already be fixed. There was a lot of refactoring done to Tree and its related code between v10 and v11.

Here's a primefaces-test proj setup with 11.0.0-RC1 and it doesn't show the behavior described above.
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/7456816/primefaces-test.zip)

@kronos72it Are you able to test your code with 11.0.0-RC1 to see if you're seeing

[2021-11-02 07:06] #7818 closed, assigned to jepsar

[2021-11-02 08:22] tandraschko commented on #8036
we changed this by design that "rows" must be inside the "template" because of security: https://github.com/primefaces/primefaces/issues/3519

so you need to add it to the template
dynamic rows doesnt matter if it doesnt change between rendering and the next DT request

[2021-11-02 08:23] tandraschko commented on #8036
and NOTE, that change was in PF 7 ;)

[2021-11-02 09:51] tandraschko commented on #7999
@christophs78 can you try to add the second updateFilteredValue call and see if it fixes it?

[2021-11-02 11:37] #7902 closed, assigned to nobody

[2021-11-02 11:40] #7898 closed, assigned to jepsar, mertsincan

[2021-11-02 11:50] mertsincan commented on #7724
I think this is too risky. If the component in PrimeFaces Extensions has a property like appendTo="body", I suggest you use it.
In recent years, we have been making overlay panels append to body by default, especially in Prime* JS libraries. Especially with the OverlayEventBus service, we enable such structures to communicate with each other. Exp: Editing + Dropdown panel

[2021-11-02 11:53] #7945 closed, assigned to melloware

[2021-11-02 11:55] jepsar commented on #7724
Alright, thanks for your reply

[2021-11-02 11:55] #7724 closed, assigned to jepsar

[2021-11-02 12:01] christophs78 commented on #7999
I tried it last weekend but it does not fix this issue.

[2021-11-02 12:28] melloware commented on #8034
interesting so NULL to start must be the initial status of the nodes?

[2021-11-02 12:30] kronos72it commented on #8034
It is one of my fall , you are right this generate a problem.If I use a no NULL value I can get the selected node but no via
`public void setCostSelected(TreeNode costSelected) {
        this.costSelected = costSelected;
    }`
the argument is still NULL

But now I can see the selected node via:
`public void onNodeSelect(NodeSelectEvent event) {
        this.costSelected= event.getTreeNode();

[2021-11-02 12:32] tandraschko commented on #7999
i think the whole thing is a design mistake by DT in general and should be:

1) after filter, items from `value` are stored in a new list `filteredValue`
2) after state restore, `value` is set to the list from `filteredValue`
3) after state save, `filteredValue` is removed from `value` (we just reset value completelly); so the next requests either gets the `value` from the bean again or the saved

[2021-11-02 12:53] kronos72it commented on #8034
I dont know where my app is differ than your example test .
Maybe it is in fact I have the tree on dialog ?
`<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f=

[2021-11-02 12:54] tandraschko commented on #8034
@kronos72it please - as always - provide a forked primefaces-test project reproducer, otherwhise you waste our time

[2021-11-02 13:39] kronos72it commented on #8034
ANother strangeness , if I remove the ajax tag inside tree
`<p:tree id="costTree" value="#{viewComplete.costRoot}" var="node" selectionMode="single"
                                        selection="#{viewComplete.costSelected}" dynamic="true" >

              <p:treeNode expandedIcon="pi pi-folder-open" collapsedIcon="pi pi-folder">
                            <h:outputText value="#{node.value}"

[2021-11-02 14:06] melloware commented on #8034
@kronos72it  Are you using the primefaces-test.zip reproducer that @FlipWarthog provided?  You should be testing with that not your own code.  To verify its fixed in 11.0.0.RC1.  If not this ticket will be closed.

[2021-11-02 14:17] kronos72it commented on #8034
GOT IT .
If I remove the Dialog and leave the tree out of Dialog , the setCostSelectet method will fire with correct argument .
THen , there is a fix for this problem ? I wnat to have the tree on a Dialog

thanks a lot

`<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <

[2021-11-02 16:08] tandraschko commented on #7845
for me it sounds very related to #7999

we could also fix this with mirroring/copying the value<>filteredValue list but instead remember the filtered rowKeys skip while rendering

[2021-11-02 16:20] FlipWarthog commented on #8034
Okay, I was able to get this reproducing with a primefaces-test project. It looks like the `appendTo="@(body)"` on the `p:dialog` is causing the issue. If that's set I'm seeing the `null` get passed into the setter, but if I remove it everything works as expected. @kronos72it Can you try this in your code?

@melloware I haven't tracked down the root of the issue but would this be a Tree bug or a D

[2021-11-02 16:26] tandraschko commented on #8034
appendTo="@(body)" will move it to a place, where you have NO outer form probably, which is a user error _actually_

[2021-11-02 16:57] kronos72it commented on #8034
maybe this is true but I put the body parameter because ,whitout it the dialog remain gray ,below the blocking layer .see the attched img
![Cattura](https://user-images.githubusercontent.com/14057059/139910763-eb430e18-45ff-45ef-bcb4-735fc766ab2d.PNG)

[2021-11-02 18:00] tandraschko commented on #8034
Different issue
Either provide a reproducer for this issue or just put a form inside the dialog or use a better appendTo like @form

[2021-11-02 18:15] melloware opened #8039 "Core: primefaces.TOUCHABLE does not globally disable touchable"
**Environment:**
 - PF Version: _10.0_
 - JSF + version: _ALL_
 - Affected browsers: _ALL_

**Hierarchy**

If you have a datatable with horizontal scrolling inside a tabview the tabview takes precedence in swipe event. The tabview is just a UI container and should by default not override the content touch events since it limits it use case. Only very simple tabviews with static content can benefit

[2021-11-02 18:41] kronos72it commented on #8034
ok thanks to all  i will going to close the issue .

[2021-11-02 19:09] #8034 closed, assigned to nobody

[2021-11-02 20:15] christophs78 commented on #7999
Does not fix the issue. Also seems like Mojarra still defaults this param to false. (see https://github.com/eclipse-ee4j/mojarra/blob/34ea4734ad479d35cb1fe3a28756ff6447969040/impl/src/main/java/com/sun/faces/config/WebConfiguration.java#L868)
MyFaces also defaults to false. (see https://github.com/apache/myfaces/blob/99ed35db749cb6c8bae7f04b884532df98c4fe8e/impl/src/main/java/org/apache/myfaces/co

[2021-11-02 20:37] stuart1975 opened #8041 "Error message starting Primefaces webapp in Tomee V8.08 LinkageError Jsf23WidgetVarSearchKeywordResolver"
Hello,
I am trying to migrate  primefaces app V10.0.0 from tomcat V9 to tomee plus V8.08
Starting in webapp tomee plus 8.08 resulted in getting the following error message:

nov 02, 2021 8:28:39 DA TARDE org.apache.catalina.core.StandardContext listenerStart
SEVERE: Exception sending context initialized event to listener instance of class [org.apache.myfaces.webapp.StartupServletContextListener]
*

[2021-11-02 21:13] tandraschko commented on #8041
Can you try a clean project or normal Tomee 8.0.8? Works fine for us

[2021-11-02 21:19] tandraschko commented on #8041
Im sure its a setup problem, maybe you still have ee jars in your war or something
Please use discord or forum to get help

[2021-11-02 21:19] #8041 closed, assigned to nobody

[2021-11-02 21:21] djmj commented on #8036
Makes sense.

Yeah i was stuck since mobile was removed in 7 and had no time before to migrate legacy mobile to higher versions until recently: https://github.com/djmj/primefaces-mobile

Now we migrated directly from 6.1 to 10.0.0 and today was first production day after migration and we faced big OOM memory leaks till crash every 30 minutes. Not sure where it comes from (my mobile fork or PF 10)

[2021-11-02 21:25] tandraschko commented on #8036
I suggest to try 11.0 RC1 and create a issue when you profiled your application

[2021-11-02 21:25] #8036 closed, assigned to nobody

[2021-11-02 21:46] stuart1975 commented on #8041
After you said a setup problem. I checked for double artificats. In tomee plus myfaces is already included. I don't know why but it is. I have marked myfaces artifact in pom.xml with scope provided and this problem disappeared.

[2021-11-02 21:55] tandraschko commented on #8041
Because Tomcat != Tomee

[2021-11-03 02:00] #3987 closed, assigned to nobody

[2021-11-03 08:15] tandraschko commented on #7999
i think i would do the following for now:
1) save filteredValues in the bean, like we do currently
2) if filteredValues isnt defined, recalculate it on each request and NOT save it in viewstate

[2021-11-03 09:15] tandraschko commented on #7999
this even avoids that pojos are getting stored in viewstate + blow up session

[2021-11-03 12:17] tandraschko commented on #7999
not fixed yet, tests incorrect or still not fixed

[2021-11-03 12:18] melloware opened #8043 "Showcase: Lazy Datatable example is broken"
**Describe the defect**
Lazy Datatable example in Showcase is broken.

**Reproducer**

1. Go here: http://primefaces.org/showcase/ui/data/datatable/lazy.xhtml

2. Sort the Country field.

[code]

[2021-11-03 13:22] tandraschko commented on #7845
@melloware @christophs78 added a test for it; could you please verify if i test the correct behavior/order like described here?
i think my newest change in #7999 fixes this issue

[2021-11-03 13:22] #7845 closed, assigned to tandraschko

[2021-11-03 13:23] #8043 closed, assigned to melloware

[2021-11-03 13:23] #8039 closed, assigned to melloware

[2021-11-03 13:26] melloware commented on #7845
@tandraschko looks good to me from looking at it!

[2021-11-03 14:13] christophs78 commented on #7999
As it looks for now this issue is fixed. I need to adapt DataTable028Test and DataTable030Test a bit, because sort-order is now correct. And I´l try to combine both test´s into one which only use different XHTMLs. (comes later this day)

[2021-11-03 15:10] #7999 closed, assigned to nobody

[2021-11-04 09:37] jepsar commented on #8000
It does now.

[2021-11-04 09:46] #7798 closed, assigned to tandraschko

[2021-11-04 10:09] tandraschko commented on #7798
usage: PF('widget_j_id_8m_messages').appendMessage({summary: 'blub', severity: 'fatal'});

[2021-11-04 12:06] tandraschko commented on #7595
i will close this for now
as i said, im working on PF stuff since 2013 and never had such reports

i think this should be a sponsored thing as its a major change in almost every component

[2021-11-04 12:06] #7595 closed, assigned to nobody

[2021-11-04 15:51] commodis commented on #7798
Awesome! Thanks

[2021-11-05 08:37] mertsincan opened #8047 "PrimeIcons: Update to 5.0.0"

[2021-11-05 08:39] #8047 closed, assigned to nobody

[2021-11-06 18:26] djmj opened #8051 "DataTable: filter not shown if column was initially not rendered"
**Describe the defect**

Having a column definition that was initially not rendered (where rendered attribute evaluates to false) and another UI interaction toggles this attribute resulting in displaying the column, the filters are not shown.

In this example it only happens if the header is inside a `columnGroup`.

**Reproducer**

Have a `<p:column>` rendered false and make it true on another aja

[2021-11-06 19:47] tandraschko commented on #8051
please provide a reproducer, not just a skeleton bean/xhtml

[2021-11-07 11:38] melloware opened #8052 "TimeLine: Update to 7.5.0"
**Description**
See: https://github.com/visjs/vis-timeline/releases/tag/v7.5.0

Most significant is some performance improvements with number of items

[2021-11-07 11:50] melloware commented on #5697
As a note in the latest Timeline they added an optimization for large datasets. See: https://github.com/visjs/vis-timeline/pull/1281

[2021-11-07 17:39] djmj commented on #8051
@tandraschko I can try to do that next week. I made some further observations:

**Observations**

The above example works if we add a _p:row_ suddenly but our application has _p:row_ and it does not work.

From checking the _DataTableRenderer_ maybe its related to the _UITable.initFilterBy_ which by default only initializes the filters only of rendered components.

https://github.com/primefaces/pr

[2021-11-07 23:09] djmj opened #8054 "SelectCheckboxMenu: highlight component if option selected"
**Description**

Give users visual feedback if option selected with _multiple="false"_.
In a datatable with filters a user has no idea which filter is selected.

**Describe the solution you would like**

a) Add css class "ui-state-active" to _SelectCheckboxMenu_ if any option is selected and _multiple="false"_.

b) Optional if only one option is selected use that selection option as label to behav

[2021-11-08 08:12] tandraschko commented on #8054
@mertsincan can you please comment? I think its a by design currently and probably a wont fix?

[2021-11-08 15:21] NicolaIsotta opened #8055 "Tag: add ValueHolder interface"
**Description**
I was adding a converter to a p:tag but I found out I can't because Tag doesn't implement the ValueHolder interface.

**Describe the solution you would like**
Either make Tag implement [ValueHolder](https://docs.oracle.com/javaee/7/api/javax/faces/component/ValueHolder.html) or extend [UIOutput](https://docs.oracle.com/javaee/7/api/javax/faces/component/UIOutput.html)

[2021-11-08 15:24] tandraschko commented on #8055
please provide a PR

[2021-11-08 17:00] djmj opened #8058 "Showcase DataExporter Excel not working"
When clicking the excel buttons we see error page:

http://primefaces.org/showcase/ui/data/dataexporter/basic.xhtml?jfwid=8b9bc

Updating to PrimeFaces 11.0.0-RC2 we encounter a strange issue that the ordering of columns do not match the visual ordering when also using columnToggler. So i wanted to check showcase first before open a defect.

[2021-11-08 17:12] melloware commented on #8058
Error is this:
[code]

Have a feeling this is POI 5.1.0 change

[2021-11-08 17:13] melloware commented on #8058
Also please make sure your issue is not already reported here as an enhancement: https://github.com/primefaces/primefaces/issues/7966

[2021-11-08 17:18] tandraschko commented on #8058
can you try to rollback to 5.0? if it works, lets just do that and up to 5.1.0 after 11.0 final

[2021-11-08 17:20] melloware commented on #8058
its OK @tandraschko its just a showcase issue becaue we are using ancient commons IO 2.4  Its overriding POI's default include so I can fix it with just a showcase pom.xml change.

Our main code is fine.

[2021-11-08 17:21] tandraschko commented on #8058
didnt we shade commons-io? so it IS be a problem

[2021-11-08 17:22] melloware commented on #8058
we shaded it so ours are under `org.primefaces` but POI is using real Commons IO. The problem was our pom.xml was using the inherited parent version 2.4 which does not even have the class `UnsynchronizedByteArrayOutputStream`.  The Showcase should use its own version.

[2021-11-08 17:34] tandraschko commented on #8058
yep, i see

[2021-11-08 18:25] #8058 closed, assigned to melloware

[2021-11-08 18:26] #8052 closed, assigned to melloware

[2021-11-08 23:52] maruTA-bis5 opened #8060 "TreeTable + RowEditor: The different row be in editing state when validation failed"
**Describe the defect**
When validation failed to save an editing row, that row will not show as editing and another row may be shown as editing.

**Reproducer**
https://github.com/maruTA-bis5/primefaces-test/tree/treetable-roweditor-invalid-update

**Environment:**
 - PF Version: 8.0, 10.0.0, 11.0.0-RC1, master (cbf34a195f)
 - JSF + version: Mojarra 2.3.16, MyFaces 2.3.9, WildFly 20.0.1.Final (Mo

[2021-11-09 09:55] #8060 closed, assigned to tandraschko

[2021-11-09 11:55] neXus1987 commented on #7845
also tested it, and works as expected. THANKS!!!!!

[2021-11-09 12:24] giemes opened #8061 "Datatable: make Features replacable again"
# Description
With Primefaces 11, the DataTable and its components saw some revisions that are clashing with how we used it in previous versions.

We have extended the SortFeature, and specifically modified how compare() works within it, as we are dealing with message keys whose localized messages should be compared for sorting, not the message key itself.

With PF11, compare() is now a static met

[2021-11-09 12:33] tandraschko commented on #8061
couldn't you use sortFunction on p:column?

Its by design that they are not replaceable anymore as this are internal artifacts

[2021-11-09 12:41] tandraschko commented on #8061
https://primefaces.github.io/primefaces/11_0_0/#/components/datatable?id=sorting

[2021-11-09 12:49] Rapster commented on #8061
This could be easily fixed using SPI

[2021-11-09 15:18] giemes opened #8062 "LazyDataModel: split in count() and load() clashes with backend methods that do both"
**Description**
Prior to PF11, the LazyDataModel had a central load() method passing all relevant data for the load-function. This works as expected with backends that, upon a search service call, returned both the count of total results and the current slice/page of the data in one data structure.

With PF11, the loadLazyData() method has changed, calling count() to fetch the total count before l

[2021-11-09 15:20] giemes commented on #8061
We use this functionality in basically all of our substantial number of tables, and our current solution allowed to extend the functionality we needed in a central spot that is always available, instead of having to carry a sortFunction declaration everywhere.

Is it not preferrable to still allow users to overwrite single features with our own implementation, instead of requiring us to subclass t

[2021-11-09 15:28] tandraschko commented on #8062
the reason: https://github.com/primefaces/primefaces/issues/1921

as you can read in the linked issue, the DataTable itself requires the state of `rowCount for current filters` and `load current page with current filters`, thats how the DataTable itself works and LazyDataModel mirrors this

you can still just `return 0` in the count method but, like in the past, you have to calculate `first` in yo

[2021-11-09 15:35] tandraschko commented on #8061
in the past it was replaceable BUT not by design
everything replaceable has a official SPI (like VirusScanner) or attribute on the tags (like `sortFunction`)

in general i would suggest to use `sortFunction` as the official way instead instead of introducing a SPI which makes such component specific internal code replaceable

otherwise im ok to make this replaceable in a right, official, SPI way a

[2021-11-09 15:52] tandraschko commented on #8062
yeah, i think about something like this:

[code]

i think a good documentation is enough

[2021-11-09 16:15] buett commented on #8062
Splitting count and load may result in different isolation states. The count could change when loading data and that's why the pagination could be broken too.
In my point of view an API is a little bit clearer if count and data is fetched on same data.

[2021-11-09 16:21] tandraschko commented on #8062
yeah, 2 different approaches, nothing has been changed
only a additional mehtod has been introduced, which can also be dummy implemented like my sample above

[2021-11-09 16:43] djmj commented on #8054
@tandraschko But by design it is undefined for combination of `updateLabel="true" and multiple="false"`. It could be an opt-in feature using `updateLabel="true"`.

[2021-11-10 07:58] jepsar opened #8064 "Theme: TextEditor buttons look disabled in dark themes Vela and Arya"
Screenshot was taken from showcase running on 11.0.0-RC2

<img width="478" alt="Screenshot 2021-11-10 at 08 56 50" src="https://user-images.githubusercontent.com/7500178/141073012-3852a1b9-88dc-4837-bfb2-c5f483050747.png">

[2021-11-10 09:14] miedrl opened #8065 "Diamond Theme: topbar menu button is not activated by ENTER key"
**Describe the defect**
To fulfil accessibility success criterion [2.1.1](https://www.w3.org/TR/WCAG21/#keyboard-accessible) "[a]ll functionality of the content is operable through a keyboard interface[...]". In Diamond Theme it is not possible to hide/show navigation by pressing ENTER on the topbar menu button, so this button is not fully accessible by keayboard.

**Environment:**
 - PF Version:

[2021-11-10 09:23] jepsar commented on #8065
That is not a PrimeFaces component. Please report theme issues at https://forum.primefaces.org/viewforum.php?f=136

[2021-11-10 09:25] miedrl commented on #8065
Okay, thank you.

[2021-11-10 09:31] #8065 closed, assigned to nobody

[2021-11-10 09:54] tandraschko commented on #8062
i adjusted the javadoc and added a recalculateFirst helper method
is anyone interessted in adding a docu or showcase sample for this case?

[2021-11-10 09:58] tandraschko commented on #8062
[code]

[2021-11-10 11:19] dginelli opened #8066 "Activating a research fault localization bot on your project?"
Hi!

We are software engineering researchers and are currently looking for active open-source projects where we could test a new cool software bot: flacocobot!

When a new pull request is open, if it has test failures/errors, flacocobot analyzes the failure and posts a diagnosis as comments to the pull request, highlighting the most suspicious lines that likely need to be analyzed to fix the bug.

[2021-11-10 11:21] MatthiasScherrerFGCZ commented on #5697
@melloware
Thanks, we tested it and it greatly improves the performance, even if it is not on the level before the breaking changes. But it is now in a state where we can use it.

[2021-11-10 11:56] christophs78 commented on #8062
IMO not totally clear what´s the perfect solution. What PrimeFaces has to to and what need´s to be done in project-specific-code.

When i think of SpringData - Pageable+Page or Solr it´s simply one API-call to get a page of results. This returns the result-page and the overall amout of hits. So when should we call recalculateFirst?
Maybe there always needs to be some project-specific code. (Handli

[2021-11-10 12:14] tandraschko commented on #8062
i think every detail has already been discussed in #1921
PF DataTable just works without any "hacks" like `recaculcateFirst`, when you correclty implement `#count`

When you dont implement `count`, and just `return 0`, everything is like in PF10 and before

So we now just needs to define/document cases and i think we have 3:
1) the "SQL" like case where you can implement `count` and `load`
    its

[2021-11-10 12:17] tandraschko commented on #8062
[code]

[code]

[code]

[2021-11-10 12:27] melloware commented on #5697
Thanks for testing and reporting back!

[2021-11-10 14:50] tandraschko commented on #8066
i dont think its quite usefull in PF
our build is stable and we dont have much unittests
our integrationtests are the problem and the IT stack is quite complex, i dont think your bot will help us in fixing our ITs

[2021-11-10 14:50] tandraschko commented on #8066
cc @melloware @christophs78

[2021-11-10 14:52] fcorneli commented on #7845
Will this be back-ported to 10?

[2021-11-10 14:52] melloware commented on #8066
I agree I don't see much use in this for us right now.

[2021-11-10 14:57] tandraschko commented on #7845
thats up to @mertsincan

i suggest to use 11.0 RC2
its _much_ more stable as 10.0 in case of DataTable

[2021-11-11 08:36] joergmattes opened #8068 "ChartJS: PieChart breaks when setting legend options"
**Describe the defect**
In PF 11.0.0-RC2, setting a legend breaks the pie chart. I get the following console error:
`Uncaught SyntaxError: Unexpected token ','`

When I check the javascript, I see a leading comma before "legend":
`"options":{"animation":{"animateRotate":false,"animateScale":false},"plugins":{,"legend":{"display":true,"position":"right","fullWidth":true,"reverse":false,"rtl":false,

[2021-11-11 09:06] haraleib opened #8069 "DataTable: Column header alignment"
**Describe the defect**
As shown in the provided screenshot (screenshot of primefaces datatable show case), the components inside the datatable column headers are not aligned in one row.

Screenshot 1 - current behaviour:
![image](https://user-images.githubusercontent.com/19574757/141268932-62c767e4-d367-4c4f-9cd7-dcda76019b71.png)

**Environment:**
 - PF Version: 10.0.7
 - JSF + version: MyFaces

[2021-11-11 10:17] ltlBeBoy commented on #7950
I tested with 11.0.0-RC2 and can confirm that it works.

[2021-11-11 11:45] #8066 closed, assigned to nobody

[2021-11-11 11:46] melloware commented on #8068
Thanks for reporting.  Fixing it now.

[2021-11-11 12:09] #8068 closed, assigned to melloware

[2021-11-11 12:18] melloware commented on #8064
We need to do 2 things.

1. Add the `theme` property to the widget so users can select their theme. Right now its hard coded to `snow`...
[code]

2. Include more than just the Snow theme with the editor.  At least 1 dark theme option, snow for light theme and the other for dark theme.

[2021-11-11 12:18] melloware commented on #8064
@tandraschko I can fix this easily but should we do this for 11.0 or mark it for 12.0?

[2021-11-11 12:57] ltlBeBoy opened #8071 "DataTable: clearFilters doesnt work for complex input widgets like p:selectOneMenu"
**Describe the defect**
When using `p:selectOneMenu` in `DataTable` as custom filter, a call to `DataTable#clearFilters()` resets the filter of the `DataTable` but not the displayed value of the `p:selectOneMenu`. It works as expected when using `h:selectOneMenu` instead.

**Reproducer**
See [primefaces-test.zip](https://github.com/primefaces/primefaces/files/7520464/primefaces-test.zip).

**Envir

[2021-11-11 13:09] tandraschko commented on #8064
maybe you can provide a PR and decide then

[2021-11-11 15:36] melloware commented on #8064
cool will do.

[2021-11-11 17:48] schicho opened #8072 "Core: UploadedFileCleanerListener.class - Error configuring application listener"
I tried version 10.0.0 and 11.0.0-RC2

**Describe the defect**

Including the latest Primefaces in my Maven project. Deployment on TomCat 10.0.10 errors with:

[code]

I found releated issues:

https://forum.primefaces.org/viewtopic.php?t=69092

and

#7976 with #7977 which supposedly fixes the issue. Yet I tried the newest RC with the fix and the same error still occurs.

**Environment:**
 - PF Ve

[2021-11-11 18:08] Rapster commented on #8062
2 cases over 3 shows that count is not mandatory, so maybe it shoudn't be abstract?

[2021-11-11 18:08] tandraschko commented on #8072
Tomcat 10 is jakarta.servlet? Then you need the jakarta qualifier

[2021-11-11 18:17] tandraschko commented on #8072
[code]

[2021-11-11 18:17] #8072 closed, assigned to nobody

[2021-11-11 19:35] schicho commented on #8072
Excuse my ignorance, I am quite new to this technology.

I must have completely overlooked this and started following the wrong route to find the solution. I didn't know this additional tag existed.

Thank you for your help.

[2021-11-12 07:53] christophs78 opened #8073 "TreeTable: after filtering and changing value during ajax old filtered data is still shown"
Same issue like https://github.com/primefaces/primefaces/issues/7845 for DataTable.
Worked with PF8, does not work with PF10.
I´ll provide a Integrationtest. (IT will show us whether the issue is still there with PF11. My personal feeling says we did not fix this yet for TreeTable.)

[2021-11-12 09:58] aripddev opened #8074 "Avatar: Duplicates first character when no surname"
Just try below. `PP` will be appeared instead of `P`.

[code]

[2021-11-12 10:04] tandraschko commented on #8073
i think we should fix it for 11.0
would be great if you can provide a PR

[2021-11-12 10:05] tandraschko commented on #8071
@melloware @Rapster could you check that?

[2021-11-12 10:14] aripddev commented on #8074
I think below additions is needed in `calculateLabel ` method of `AvatarRenderer` class.

line 136: change from

[code]

 to

[code]

[2021-11-12 10:20] fabermundi opened #8075 "Dialog: Problems when "appendto=@(body)""
**Describe the defect**
Hello,

I have a dialog opening another dialog and because the second dialog is larger than the first I set appendto="@(body)".
The problem is that this dialog behaves "strange". Variables are not set at the right time (see example below).

**Environment:**
 - PF Version: Tryied with Primefaces 8 + 10 + 11.RC2
 - JSF + version: JSF 2.3
 - Affected browsers: ALL

**To Reprod

[2021-11-12 10:33] christophs78 commented on #8073
yep, should be fixed for 11.0.0

[2021-11-12 10:48] tandraschko commented on #8075
maybe its:
https://primefaces.github.io/primefaces/11_0_0/#/components/dialog
see tips

[2021-11-12 10:59] fabermundi commented on #8075
Than

Thank you for the reply. Tried to nest a form inside the dialog but this did not change anything. The other "Tips" do not apply.

[2021-11-12 11:10] tandraschko commented on #8075
works fine for me:

[code]

[2021-11-12 11:10] #8075 closed, assigned to nobody

[2021-11-12 11:13] fabermundi commented on #8075
Really? So the button is diabled when you enter "blah" as text in the InputText? For me it isn't working.

[2021-11-12 11:13] tandraschko commented on #8075
yeah
just copied it to showcase and tested it

[2021-11-12 11:14] tandraschko commented on #8075
[code]

[2021-11-12 11:26] tandraschko commented on #8074
it would be great if you can provide a testcase at least: https://github.com/primefaces/primefaces/blob/master/primefaces/src/test/java/org/primefaces/component/avatar/AvatarRendererTest.java

or provide a PR with testcase + codechange :)

[2021-11-12 12:31] tuerker opened #8076 "Schedule: onDateSelect chooses wrong time"
The selected time is always one hour less. You can easily verify this using the showcase:

https://www.primefaces.org/showcase/ui/data/schedule/basic.xhtml?jfwid=381ce

Just click on any slot. For instance, clicking on 6am will open the event details panel with starttime 5am.

Many thanks in advance for fixing this bug.

[2021-11-12 12:34] melloware commented on #8076
See this ticket: https://github.com/primefaces/primefaces/issues/7891

[2021-11-12 12:40] melloware commented on #8076
Schedule uses the browser timezone and sends the date back in ISO format. The server translates that to your local date.   Either pick UTC or may sure your clientTimeZone matches your server timezone.

[2021-11-12 12:52] aripddev commented on #8074
next time I will try before creating the issue :). Thank @melloware

[2021-11-12 12:52] #8074 closed, assigned to melloware

[2021-11-12 12:56] melloware commented on #8071
Yes I know this to be an issue.  ClearFilters just does this...

[code]

Which sets all inputs regular and custom back to `''`.  However `p:selectOneMenu` is more complex than just settings its input to ''.  For SelectOne we would have to call custom widget method `PF('id').selectValue('');` or something like that.   And any other special widgets would need to have the same called like any would n

[2021-11-12 13:11] tuerker commented on #8076
Adding clientTimeZone="UTC" works. Many thanks for the hint. Nevertheless, I would have preferred that the default case is the one that does not require a migration.

Would be good to explicitly mention this in the migration guide and also adapt the showcases. Many thanks in advance.

[2021-11-12 13:19] tandraschko commented on #8071
in theory we can look for `.ui-widget` and check `PF.getWidgetById`

[2021-11-12 13:56] melloware commented on #8071
Oh slick!  Then we could check InstanceOf widget SelectOne and call its seletcValue or selectManyCheckbox like uncheckAll() wdget method etc!

[2021-11-12 23:24] melloware commented on #8076
PR submitted to update the showcase and migration guide.

[2021-11-12 23:52] melloware commented on #8064
Please review my PR.  It was simpler than I thought and this is better for all PF themes include Premium ones.

[2021-11-14 12:02] tandraschko opened #8082 "Core: better logging if widget impl not found"

[2021-11-14 12:05] #8082 closed, assigned to tandraschko

[2021-11-14 19:04] ltlBeBoy commented on #8071
OK, I was overriding `DataTable#clearFilters()` like this:

[code]

It resets `p:selectOneMenu` like expected. But the downside is that calling `SelectOneMenu#selectValue('')` also triggers the filtering event which results in sending that event for each column with a custom filter widget.

A solution could be a common class for input widgets with a `clear()` method that does not trigger an event

[2021-11-14 19:52] melloware commented on #8071
Agreed we will have to come up with some common method and make it easy to call on any widget.

[2021-11-15 10:03] elias-jk opened #8083 "Designer: Some Secondary Button Attributes won't work"
**Describe the defect**
Affected Version: Theme Builder 10.0.0

The following attributes have no effect on the secondary button whatsoever: $secondaryButtonActiveBg, $secondaryButtonActiveBorderColor

For all other types of buttons these attributes seem to work flawlessly.

**Environment:**
 - PF Version: _10.0_
 - Designer Version: 10.0.0 _
 - Affected browsers: Firefox, Chrome_

[2021-11-15 10:24] tandraschko commented on #8083
Please use the forum: https://forum.primefaces.org/viewforum.php?f=84
this issue tracker is only for primefaces (core) itself

[2021-11-15 10:24] #8083 closed, assigned to nobody

[2021-11-16 08:52] fabermundi commented on #8075
Ok, thank you. I thought that with "appendto" the dialog is really appended to the body in the source code so I was trying this:

[code]
Which did not work of course. Thank you for the clearification.

[2021-11-16 16:25] tuerker opened #8086 "Schedule: Slots not correctly drawn anymore"
With the recent updates regarding the schedule component, the slots of the schedule are not placed fully correctly anymore. See following screenshot where the (red) event starting at 0:00 of the next day is now drawn as starting at the end of the previous day.

![Screenshot from 2021-11-16 17-16-00](https://user-images.githubusercontent.com/10051373/142023701-f9934ca8-ed9e-4d06-bc0a-768ccd9604fc.p

[2021-11-16 17:00] melloware commented on #8086
See: https://github.com/primefaces/primefaces/issues/8076

And: https://github.com/primefaces/primefaces/issues/7891

[2021-11-16 17:35] melloware commented on #8086
Isn't that your issue? It looks like its off by an hour.

[2021-11-16 19:52] djmj commented on #8031
In my observations `<p:columnToggler>` breaks the export just on itself even if the toggler is not in the facet (ours is in the header) or even when the exporter is outside the table and no custom facet is used at all.

I can confirm both behaviors in different tables one not keeping the correct ordering of columns and one not exporting data at all.

[2021-11-16 20:02] tuerker commented on #8086
thanks for the hint. this issue is related but not a duplicate. actually, this problem is now induced by adding

            clientTimeZone="UTC"

to the schedule as adviced. this addition fixes  https://github.com/primefaces/primefaces/issues/8076 but creates this one.

[2021-11-16 20:11] tuerker commented on #8086
it looks like that fix https://github.com/primefaces/primefaces/issues/7891 has some undesired side effects.

[2021-11-16 21:01] melloware commented on #8086
Agreed. I am going to revert it for now.

[2021-11-16 21:02] melloware commented on #7891
Going to revert for now.  Too many side effects reported by users.  Sorry!

[2021-11-16 21:30] #8086 closed, assigned to melloware

[2021-11-16 22:11] tuerker commented on #8086
@melloware thanks for the revert which was needed to fix the issue reported here.

after having investigated a little bit more i have to state that issue https://github.com/primefaces/primefaces/issues/8076 is still an issue and therefore should be reopened again.

my current workaround is just to add one hour to the selectEvent's LocalDateTime:

[code]

it looks like the selectEvent needs to be f

[2021-11-16 22:55] melloware commented on #8086
Can you double check this uses your browser time zone and offsets for utc.  This was reported before being off 1 hour and was fixed.

[2021-11-16 22:58] melloware commented on #8086
See: https://github.com/primefaces/primefaces/issues/5914

[2021-11-17 06:19] christophs78 commented on #7891
We need to spend more time reading https://fullcalendar.io/docs/timeZone, debugging and testing different settings.
We already have fullcalendar/moment-timezone included.

[2021-11-17 08:14] tuerker commented on #8076
@melloware Both show cases

basic: https://www.primefaces.org/showcase/ui/data/schedule/basic.xhtml?jfwid=08320
configuration: https://www.primefaces.org/showcase/ui/data/schedule/configuration.xhtml?jfwid=08320

show this behavior, where the selectEvent delivers selected time minus one hour.

I have double-checked my code, too. As in the basic show case my p:schedule uses the defaults, i.e., the

[2021-11-17 09:54] melloware commented on #8076
Don't use the showcase
It still has the broken code it does not have the fix from yesterday to revert.  My revert takes it back to how it has been working since PF8

[2021-11-17 10:04] melloware commented on #7891
Agreed.  @tuerker let's use this ticket to track all future conversations and investigations.

[2021-11-17 11:52] StevenHachel opened #8088 "java.lang.NoSuchMethodError: javax.validation.ValidatorFactory.close in PrimeApplicationContext.release()"
**Environment:**
 - PF Version: _8.0.13
 - JSF com.sun.faces 2.1.29-11
 - Affected browsers: ALL
 - WebLogic Server 12.1.3.0.0 JavaEE 6, OpenJDK 8

**Expected behavior**
When the application is redeployed, the class method PrimeApplicationContext.release () and validatorFactory.get (). Close () are called.
The ValidationFactoryImpl has no close () method.

Which ValidationFactoryImpl does Primefac

[2021-11-17 12:18] GedMarc commented on #8088
So, Off the bat, problem is your EE is way passed EOL.

No in EE6 there is no .close() method (https://docs.oracle.com/javaee/6/api/javax/validation/ValidatorFactory.html)
Yes in EE7 there is a close() method https://docs.oracle.com/javaee/7/api/javax/validation/ValidatorFactory.html

In EE7 calling the close() method is extremely important, and cannot be skipped
@melloware I'm not sure how far ba

[2021-11-17 12:25] melloware commented on #8088
Here is the method in PrimeFaces...

[code]

I think PF's goal is to support JSF 2.1 and EE6 still so this probably needs to be fixed @tandraschko  ?

[2021-11-17 12:26] melloware commented on #8088
Oh I see it looks like you have Bean Validation 1.1 somewhere in your classpath that it thinks this is OK?

` if (environment != null && environment.isAtLeastBv11()) {`

[2021-11-17 12:28] tandraschko commented on #8088
If you check PF8, we also had the isBV11 check:
https://github.com/primefaces/primefaces/blob/8.0/src/main/java/org/primefaces/context/PrimeApplicationContext.java#L221

This could mean that you have a BeanValidation 1.1+ API JAR but only a BeanValidation 1.0 Impl JAR

its not a problem of PF

[2021-11-17 12:28] #8088 closed, assigned to nobody

[2021-11-17 12:34] tuerker commented on #8076
@melloware I don't think that your revert directly affects this problem here. The problem goes back to the migration from Java Date to LocalDateTime. It looks like that the problem is caused by a wrong calculation of the "selected" LocalDateTime. Let us have a look again at the code mentioned above:

[code]

Is this assumption and argumentation correct?

[2021-11-17 12:51] BalusC commented on #7891
Yikes.

Probably only use toISOString when clientTimeZone is unspecified.

[2021-11-17 12:56] melloware commented on #7891
Yep we are going to take a deeper dive into it for 12.0 and write some more integration tests.

[2021-11-17 12:56] melloware commented on #8076
@christophs78 ?See question above.

[2021-11-17 17:43] StevenHachel commented on #8088
Ok, thx for the infos. Yes, JavaEE6 is very old. Sorry. :)

Steven

[2021-11-17 20:06] StevenHachel commented on #8088
Under Weblogic 12.2.1.4 and JavaEE 7 works without errors.

Unfortunately, I can't migrate to the more recent Weblogic yet, because I get too many JavaScript errors with this combination. Migrations always mean a lot of work. :)

many thanks again to you guys!

[2021-11-17 20:22] GedMarc commented on #8088
@StevenHachel as @tandraschko pointed out, it's actually an invalid dependency graph,
Check your libraries being loaded, somewhere you have added bean validation 1.1 imp in your class path.
If you resolve that, I imagine you should be sorted

But yes, especially from a security standpoint, it may be better to run a catchup sprint or two on the tech stack ;)

[2021-11-18 01:48] fuinhaazulgit commented on #7176
Sorry to revive this thread, but this bug is happening to me using 10.0.2 or 10.0.7 version. Both calendar and datepicker is not firing change event if the mask attribute is used. dateSelect event is working fine.

Any sugestions?

[2021-11-18 11:09] christophs78 commented on #8076
Good point!
We first have to debug which value is sent from the client to the server
![image](https://user-images.githubusercontent.com/10461942/142404320-78c1da7b-e509-49f8-809e-679db62c11fa.png)
After we checked this is right in all usecases (no timezone defined, differenz timezones defined, ...) we have to adapt the code mentioned by @tuerker  above. I´ll try to look into this later this day.

[2021-11-18 11:35] melloware commented on #7176
Can you provide a Test case like above that proves the issue?

[2021-11-18 14:42] tandraschko opened #8089 "JpaLazyDataModel: pass more infos to resolveFieldExpression"
to make it easy enhanceable

[2021-11-18 14:46] #8089 closed, assigned to tandraschko

[2021-11-18 19:39] christophs78 commented on #8076
Some notes...

We need to keep https://github.com/primefaces/primefaces/issues/5914 and https://github.com/primefaces/primefaces/issues/7891 in mind.

We have 3 factors:
1. timezone of server (default-timezone or set via timezone-attribute of p:schedule)
2. timezone of client (browser-timezone or set via clienttimezone-attribute of p:schedule)
3. daylight saving time (currently we have 18th of nov

[2021-11-18 20:08] christophs78 commented on #8076
Maybe part of the "truth" is, we should use ZonedDateTime instead of LocalDateTime to make things more explicit.

Why?

- e.g. Server-timezone UTC, Client-timezone GMT+1
- user selects e.g. 06:00 (GMT+1), on server LocalDateTime is 05:00 (UTC)
- when we render LocalDateTime 05:00 (UTC) without further treatment and send it to the client this is technically correct but not exactly what our users ex

[2021-11-18 21:04] melloware commented on #8076
I remeber this being complicated but we ALWAYS need the data in UTC from the browser.

So if clientTimeZone=UTC on the Schedule we can just use the dates as is.  If its not set then we needed to do Browser Offset to get the date into IsoString in UTC format to send to the server  The goal should be ALL dates coming from the Schedule should be in UTC.

[2021-11-19 01:33] fuinhaazulgit commented on #7176
Never mind. The problem was a js on blur event doing the same thing as mask does, but on previous prime versions it dit not cause any problem.   Thanks!

[2021-11-19 01:36] melloware commented on #7176
Ok great thanks for reporting back!

[2021-11-19 10:51] MontyZoomer opened #8091 "DataTable: facet type filter input render issue on dataTable update after column:render toggle"
**Title**
When using a facet name=filter to hold the filter input fields, the input field is not shown when a dataTable column is activated using the render attribute of the column.  Works with PF8 and 10 but not 11RC2.

**Reproducer**
https://github.com/MontyZoomer/primefaces-test.git

**Environment:**
 - PF Version: 11.0.0-RC2
 - JSF + version: _e.g. Mojarra 2.2.20
 - Affected browsers: ALL

**T

[2021-11-20 19:06] djmj commented on #8091
Possible duplicate of #8051 did not had time for a reproducer though.

[2021-11-21 01:53] melloware commented on #8091
Yep it is a duplicate.  I am going to close 8051 and leave this one open since this one provides a runnable reproducer

[2021-11-21 01:53] #8051 closed, assigned to nobody

[2021-11-21 01:53] melloware commented on #8051
Closing issue as newer duplicate has a runnable reproducer

[2021-11-21 14:32] FeanorOfValinor opened #8093 "Charts: Typo, RadialScales setAngelLines and getAngelLines should be setAngleLines and setAngleLines"
**Describe the defect**
There are typos in RadialScales. setAngelLines and getAngelLines should be setAngleLines and getAngleLines.

**Reproducer**
N/A

**Environment:**
 - PF Version: 11.0.0-RC2
 - JSF + version: N/A
 - Affected browsers: N/A

**To Reproduce**
Look in org.primefaces.model.charts.axes.radial.RadialScales and note the typos.
Refer to ChartJS doc: https://www.chartjs.org/docs/latest

[2021-11-21 16:17] melloware commented on #8093
Great catch thanks for reporting.  Will be fixed for 11.0.0 final

[2021-11-21 16:39] #8093 closed, assigned to melloware

[2021-11-21 18:18] JensPiegsa opened #8095 "Default filter for TreeTable"
`p:dataTable` has a `filterBy` attribute that can be used to activate a filter by default. Is there any option for `p:treeTable` to achieve the same? Otherwise, I would be immensely happy with any kind of workaround, however wacky it may be.

[2021-11-21 19:55] tandraschko commented on #8095
Did you check the docs? It has a FilterBy

[2021-11-21 19:55] #8095 closed, assigned to nobody

[2021-11-21 20:08] JensPiegsa commented on #8095
Ok, I see. The project where I need this is still at PrimeFaces version 8, which unfortunately does not support this feature yet. We are actually quite far from a migration, due to a lot of required CSS corrections.

[2021-11-22 07:28] mertsincan opened #8096 "DataPicker throws JS exceptions with two year numbers"
Reported By Pro User;

[2021-11-22 07:28] #8096 closed, assigned to mertsincan

[2021-11-22 08:10] #8062 closed, assigned to nobody

[2021-11-22 10:59] mertsincan opened #8097 "Improve Chips style"
Reported By PRO User;

[2021-11-22 10:59] #8097 closed, assigned to mertsincan

[2021-11-22 11:08] mertsincan opened #8098 "DataTable with liveScroll property doesn't work as expected"
Reported By PRO User;

[2021-11-22 11:08] #8098 closed, assigned to mertsincan

[2021-11-22 11:32] mertsincan opened #8099 "Calendar popup is positioned relative to parent screen scroll position"
Reported By PRO User;

[2021-11-22 11:32] #8099 closed, assigned to mertsincan

[2021-11-22 14:31] djmj commented on #8091
A similar issue we observed today is _SortMeta_ in lazy loading method is not populated for columns where render attribute was updated e.g. columns that were not visible at page load. I will make a test case later.

[2021-11-22 15:22] #8091 closed, assigned to tandraschko

[2021-11-22 15:23] tandraschko commented on #8091
@dmjm sort code already had the lazy init code and should work

but feel free to create a issue BUT plz not create a issue again and dont provide a reproducer

[2021-11-22 15:38] christophs78 opened #8100 "Schedule: viewChange-event fires after lazy-loading"
Up to PF 8.0 viewChange fired before lazy-loading. So it was possible to load more or less detailed data depending on active view.
Since 10.0.0 lazy-loading is triggered before viewChange.

I´ll try to look at this and provide a PR targeted for 12.0.0.

[2021-11-22 15:54] djmj commented on #8091
Thank you and yes you are right, next time i add a reproducer.

[2021-11-22 15:55] MontyZoomer opened #8101 "AutoComplete in multiple mode - read only attribute not fully functional"
**Describe the defect**
When the read only attribute of AutoComplete is true, values in the list can still be removed.

**Reproducer**
https://github.com/MontyZoomer/primefaces-test2.
Its not a fully functioning AutoComplete solution but is enough to view the problem.
When set read only you can deselect values.
It would be useful to have read only working because disable=true greys everything out.

[2021-11-22 19:03] melloware commented on #8101
Good catch.  Added a check in the AddItem and RemoveItem methods.  We were checking for disabled but not for ReadOnly!

[2021-11-23 08:52] mihaiDumea opened #8105 "DataTable: filtering should also handle collections"
https://github.com/primefaces/primefaces/blob/83636668d75e5c69e3b2ebbebadb518ed3ebf84b/primefaces/src/main/java/org/primefaces/component/api/UITable.java#L220

This function should also set filterValue to null if filterValue is a collection or an iterable that is empty.

[2021-11-23 09:37] tandraschko commented on #8105
could you please post a sample or a statement why?
this issue currently is quite incomplete

[2021-11-23 12:01] mihaiDumea commented on #8105
As the code shows, it only handles String and Array. Why stops there if the filter value can also take a collection?
If filterValue is an empty collection, then no rows will be displayed on the datatable.

[filter.txt](https://github.com/primefaces/primefaces/files/7587742/filter.txt)
[MBean.txt](https://github.com/primefaces/primefaces/files/7587767/MBean.txt)

[2021-11-23 12:05] tandraschko commented on #8105
please try a snapshot again

[2021-11-23 12:05] #8105 closed, assigned to tandraschko

[2021-11-23 13:00] tandraschko commented on #8071
i think we can also just check if the widget has a "resetValue" method and call this
so we dont need inheritance

[2021-11-23 13:08] #8101 closed, assigned to melloware

[2021-11-23 13:17] tandraschko commented on #8071
i would do it like:
[code]

[2021-11-23 13:18] tandraschko commented on #8071
and each input widget can add:
[code]

so even a user can use it to reset + trigger events

[2021-11-23 14:08] tandraschko commented on #8071
i just wonder if there are special cases with more widgets inside or a mix between a ui-widget and also a basic filter like h:selectOneMenu (instead of p:selectOneMenu)
maybe something like a container component (ui-widget) and within a h:selectOneMenu

[2021-11-23 14:09] melloware commented on #8071
Yeah we use p:selectManyCheckbox widget a lot in our filters for things like status where they can pick more than one status to filter on etc.

[2021-11-23 14:11] tandraschko commented on #8071
p:selectManyCheckbox is still only one widget

i really think about something like:
[code]

in this case, the code above would find a ui-widget (someContainerComponentLikeOutputPanel) and try to reset it instead of reset the :input of h:selectOneMenu

[2021-11-23 14:13] melloware commented on #8071
Ah I see your point.

[2021-11-23 14:14] tandraschko commented on #8071
we could also do something like:

[code]

[2021-11-23 14:15] tandraschko commented on #8071
im just not sure if this would work as you reset all :inputs of e.g. a selectOneRadio and then im not sure if all widgets has a right state to call resetValue

[2021-11-23 14:43] tandraschko commented on #8071
yep, that doesnt even work for a selectOneMenu
we need somehow decide if we reset basic :input or ui-widgets inside the current column

[2021-11-23 14:55] tandraschko commented on #8071
i commited something
the producer works fine now
the code looks for a ui-widget in the facet and try to reset, otherwise it resets all :input

[2021-11-23 14:56] tandraschko commented on #8071
would be great if you could retest - also treetable
we might some other resetValue methods and test

[2021-11-23 18:44] melloware commented on #8071
this looks great!

[2021-11-23 19:38] alinatoleeva opened #8106 "FilterMatchMode.IN : allow to filter null values"
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/7590646/primefaces-test-master.zip)
**Description of the defect**
filterMatchMode="in" doesn't properly filter value of null.
This issue is similar to https://github.com/primefaces/primeng/issues/5735
* Column has empty cells (null cells)
* Filter selectCheckboxMenu has <f:selectItem itemValue="" itemLabel="(Empty)"/>
* If

[2021-11-23 19:42] melloware commented on #8106
There is a good chance you have...

[code]

IN your web.xml which submits it as NULL not "" to the backing bean.  Look at the F12 network traffic and see what is submitted in the AJAX request or debug it on the back end.

[2021-11-23 19:44] borchvm commented on #887
hello, I posted on stackoverflow.com an alternative to add text to the PickList of primefaces using css style sheet

[https://stackoverflow.com/questions/70086529/customize-the-text-of-the-picklist-buttons-of-primefaces/70086727#70086727](url)

![picklist changed2](https://user-images.githubusercontent.com/54710757/143092877-42b3fbec-a847-4892-b5da-6c1ab36ddb16.png)

I hope it can serve you until

[2021-11-23 19:50] alinatoleeva commented on #8106
Hi @melloware ,
thank you for suggestion.
Unfortunately I did not find this parameter in my web.xml.
The demo I implemented using repository https://github.com/primefaces/primefaces-test.git and there is also no parameter javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL.

[2021-11-23 19:55] melloware commented on #8106
First:
![image](https://user-images.githubusercontent.com/4399574/143094213-db03f527-38d7-4ee6-a99a-96c5bf6fab78.png)

Submits this:
![image](https://user-images.githubusercontent.com/4399574/143094359-fcce470c-88de-4c48-aa9d-1d13fc0bacd8.png)

Second with two values:
![image](https://user-images.githubusercontent.com/4399574/143094416-b3fae9dc-ad69-446e-a269-502f736a0b7b.png)

Submits both values

[2021-11-23 20:02] melloware commented on #8106
Also I added this to your code...

[code]

Here is what it prints out:
[code]

You can see the second one has two items in the array with one of them being an empty string.

[2021-11-23 20:08] alinatoleeva commented on #8106
I think the problem is in org.primefaces.model.filter.InFilterConstraint.java

If value (cell value) is null, then it returns false. So the filter contains empty String, but value is null.

[code]

I overridden the method like this and it works as expected:
[code]