[2018-06-11 21:05] tandraschko commented on #3746
ok, i see.
Just for my interesst :) Is this specified by portlet or just a liferay case?

[2018-06-11 21:14] stiemannkj1 commented on #3746
Ah! Good question! The problem and solution in this case are technically Liferay specific. Sorry, I didn't really think about that. Portlet URLs can have different kinds of encoding (potentially parameters could be encoded in such a way that the client could not even recover the original name=value pair), so this solution does not solve the general problem for portlets. It just fixes things for Li

[2018-06-12 06:58] georgwolf commented on #3678
Could this be included in the next 6.2 Elite release?

[2018-06-12 07:08] krichter722 commented on #3767
We call encodeAll on the resource but they are not rendered in the response in the head tag.
[...]
If you can check the generated response and that the head doesn't contain the JSF resources, it's the same bug.

@tandraschko Thanks for your support in getting this bug filed. I'm willing to investigate, but never did any debugging work. Afaiu (I might well look at the wrong property) the response i

[2018-06-12 07:39] tandraschko commented on #3767
Yep, as i said, the head in the ajax response (which you can see via the browser developer tools) must actually contains all scripts and stylesheets.

[2018-06-12 07:52] #3746 closed, assigned to tandraschko

[2018-06-12 07:53] tandraschko commented on #3746
All right, thanks!

[2018-06-12 08:06] cnsgithub opened #3770 "XSS in printer"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Proper escaping of stylesheet links to be used when printing.

## 3) Actual behavior
`link href `attribute is written to document without escaping it.

## 4) Steps to reproduce

1. Goto https://www.primefaces.org/showcase/ui/misc/printer.xhtml
2. Enter `$("head").append("<link type='text/css' rel='stylesheet' href='about

[2018-06-12 08:24] kokuzawa opened #3771 "Tree: "StackOverflowError" when a node is dropped to own child node"
## 1) Environment
- PrimeFaces version: 6.2 (in Maven Central Repository)
- Does it work on the newest released PrimeFaces version? Version? no
- Application server + version: WildFly 12.0.0.Final
- Affected browsers: Firefox, Chrome

## 2) Expected behavior

ignore this move.

## 3) Actual behavior

[code]

## 4) Steps to reproduce

1. Open showcase. [Tree - DragDrop](https://www.primefaces.org/s

[2018-06-12 08:38] cnsgithub opened #3772 "XSS in triStateCheckbox"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Proper escaping of attributes `stateOneTitle`, `stateTwoTitle`, `stateThreeTitle`.

## 3) Actual behavior
The mentioned attributes are not escaped at all.

## 4) Steps to reproduce
Modify first `p:triStateCheckbox` of [showcase](http://localhost:8080/showcase/ui/input/triStateCheckbox.xhtml) to
`                <p:triSta

[2018-06-12 09:20] krichter722 commented on #3767
It's been sometimes since I was into these web frontend specifics, so please tell me if further investigation with this back and forth is too annoying for you.

<details>
<summary>The complete response (saved as HAR in Firefox since I didn't find a way to save the headers)</summary>
<pre>
{
  "log": {
    "version": "1.1",
    "creator": {
      "name": "Firefox",
      "version": "60.0.1"
    },

[2018-06-12 09:29] tandraschko commented on #3767
I just need the XHR response from the update=@all request.

[2018-06-12 11:18] cnsgithub commented on #3772
@tandraschko Could you please add the security label? Thanks.

Pull request: https://github.com/primefaces/primefaces/pull/3773. Please carefully read the PR comment.

[2018-06-12 11:37] krichter722 commented on #3767
[code]

`text` pretty printed:

[code]

[2018-06-12 11:38] tandraschko commented on #3767
Yep, same bug as i already said.

[2018-06-12 11:43] cnsgithub commented on #3772
Ah okay, @Rapster is a member now and also may add those labels. :wink:

[2018-06-12 11:53] ShivaniSK commented on #3758
The example given above  is a runnable example.

[2018-06-12 11:59] cnsgithub commented on #3770
@Rapster Could you please add the security label?

[2018-06-12 12:04] tandraschko commented on #3758
Nope because we don't have the E2UserDetails or projectRequest.js.

[2018-06-12 12:32] ShivaniSK commented on #3758
updated my example. Please check now.

[2018-06-12 12:35] cnsgithub commented on #3770
PR: https://github.com/primefaces/primefaces/pull/3774

[2018-06-12 13:19] mertsincan opened #3775 "Add onAdd callback to FileUpload"
Callback to execute before adding a file.

Exp;
[code]

[2018-06-12 13:20] #3775 closed, assigned to mertsincan

[2018-06-12 13:47] krichter722 commented on #3767
Is it https://github.com/javaserverfaces/mojarra/issues/4354 linked in the SO question?

[2018-06-12 13:53] tatablita opened #3776 "inputSwitch: is not being colored"
Hi,

I noticed that p:inputSwitch is not being colored when switched to true or discolored when false.

Dependencies are:
** Ultima, version 1.1.2
** Primefaces, version 6.2

Would it be a problem with the design or just my project?

Thanks &
BR

[2018-06-12 13:56] melloware commented on #3758
@ShivaniSK Not he means create us a reproducible example so we can just do "mvn clean jetty:run" and see the example ourself at localhost:8080.

You can do this by cloning the PF Test project: https://github.com/primefaces/primefaces-test

Simply clone that project and create the smallest working example that will help us see if we can figure it out.

[2018-06-12 13:58] tandraschko commented on #3767
Seems to, yes.

[2018-06-12 14:00] tandraschko commented on #3776
Please use the ultima forum for such questsions.

[2018-06-12 14:00] #3776 closed, assigned to nobody

[2018-06-12 19:13] #1817 closed, assigned to nobody

[2018-06-12 19:14] tandraschko opened #3777 "Schedule: remove deprecated attributes"

[2018-06-12 19:15] tandraschko opened #3778 "[Documentation] Schedule: update attributes for new FulLCalender version"
See: https://github.com/primefaces/primefaces/pull/3739

[2018-06-12 19:20] tandraschko commented on #1817
@OBreidenbach
Just for you info:
- I also created a issue for removing the depracted attributes after the next versio (6.4 or 7.0)
- I also created a issue for the documentation
- I also adjusted the migration guide

It's always more the like code changes.

[2018-06-12 19:21] #3770 closed, assigned to nobody

[2018-06-12 19:23] #3772 closed, assigned to nobody

[2018-06-12 23:18] 1jose234 opened #3779 "Empty List SelectCheckboxMenu-grouped (ShowCase)"
Hi
Iam working with primefaces 6.2 and i need use the SelectCheckboxMenu grouped as the example in PrimeFaces [SHOWCASE](https://www.primefaces.org/showcase/ui/input/checkboxMenu.xhtml)  But the example don't work fine, because the options selected is not added in the String[].

somebody have a solution or alternative ?

thanks

![image](https://user-images.githubusercontent.com/38274938/41321836-

[2018-06-12 23:27] rmpestano commented on #3154
In the end we had to replace p:link with plain `a href` because we're generating links dynamically and a wrong generated outcome can make the whole application unavailable (invalid navigation rule) because the outcome (href now) is declared on a template that every page uses.

details on this commit https://github.com/adminfaces/admin-template/commit/d243aa0f444449d5cdb6cefa6ff3f2d46eeef0c5#diff-3

[2018-06-13 00:32] rvieira5 opened #3780 "commandLink: combination of attributes result in dataTable var corruption"
## 1) Environment
- PrimeFaces version: **6.0**
- Does it work on the newest released PrimeFaces version? Version? **No.** **6.2**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **No**

## 2) Expected behavior

In the example, the presence of a p:commandLink inside a dataTable should not interfer with the curr

[2018-06-13 02:42] jxmai commented on #3779
@1jose234 FYI: the bug should be fixed by https://github.com/primefaces/primefaces/issues/3676

[2018-06-13 03:55] 1jose234 commented on #3779
@jxmai    thanks for your reply, but i am  using the version 6.2, i can understand that the bug is solved  in the version 6.3, its true?

[2018-06-13 04:11] jxmai commented on #3779
No problem. Yes, the bug is solved for version 6.3. 6.3 has not been released yet so currently you may need to build the source (don't recommend for production usage though). The other option is to report it to see if it can be got into elite build.

---

By the way, this issue can be closed though since it is a duplicate one.

[2018-06-13 06:20] rcroonenberghs commented on #3742
I made a small repro case: primefaces-test.7z

one page test.xhtml with 2 buttons. Button "directly in page" opens a dialog that is defined in the xhtml page. This works. on ipad, I can scoll inside the dialog.
2nd button "via bean method" opens a dialog via the bean.  This shows a dialog, but I cannot scroll to the bottom inside the dialog.

On desktop browser and android it works correctly.
[pri

[2018-06-13 06:24] OBreidenbach commented on #1817
@tandraschko
Thank you for the info.

[2018-06-13 07:02] #3779 closed, assigned to nobody

[2018-06-13 07:42] tandraschko commented on #3154
@rmpestano
in the upcoming PF, href="#{request.contextPath.concat(b.link)}" would work the same on p:link.

[2018-06-13 10:45] rmpestano commented on #3154
Yea this way we'll be able to support currently and future PrimeFaces versions.

[2018-06-13 12:38] Benschio opened #3781 "OrderList: does not append index to clientId"
## 1) Environment (same as in Primefaces test project)
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No. 6.2
- Application server + version: Jetty
- Affected browsers: All

## 2) Expected behavior

Make an orderList and put a Column with an outputText, give the outputText an ID. Render the component, the IDs of the outputTexts should be unique (prepen

[2018-06-13 13:49] shubhangidesh commented on #3766
[primefaces-test-master_schedule.zip](https://github.com/primefaces/primefaces/files/2098355/primefaces-test-master_schedule.zip)
This is  fully working sample using the following Test proje

[2018-06-14 06:12] shwetaprabhu opened #3783 "schedule: Unable to render calendar using Primefaces 5.3.19 and dialog box is not rendered"
## 1) Environment
- PrimeFaces version:5.3.19
- Does it work on the newest released PrimeFaces 6.2? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Weblogic 10.3.6, Tomcat 7
- Affected browsers: All broswer

## 2) Expected behavior
Calendar should get rendered and dialog box s

[2018-06-14 10:51] #3749 closed, assigned to nobody

[2018-06-14 12:14] melloware commented on #3783
@OBreidenbach can you try this runnable sample and verify since you are the most familiar recently with the Schedule component?

[2018-06-14 15:02] OBreidenbach commented on #3783
Sure I can.
You call this a runnable sample???
File Name 'TestView', class name in File 'ScheduleView'. Did you look at the javascript console in the browser? Wondering about all the exceptions?
You have to use the &lt;h:head&gt; tag, not the &lt;head&gt; tag in your test.xhtml.
By the way, that has nothing to do with the Schedule component at all.
As a I am have no access to the elite versions I

[2018-06-14 15:36] melloware commented on #3783
HA!  I assumed since gthey attached a ZIP it was a runnable sample.  if its garbage this ticket should be closed as invalid.

[2018-06-15 07:07] OBreidenbach commented on #3783
Sorry @melloware, I did not mean you.

[2018-06-15 09:07] tandraschko commented on #3783
@shwetaprabhu
Please stop wasting our time and use the forum for equestsion. All your tickets are not reproducable and you didn't even provide correct examples.
If you have generell problems, just use the forum.

You even provideded a sample project without testing it, thats a no-go.

[2018-06-15 09:07] #3783 closed, assigned to nobody

[2018-06-15 09:52] tandraschko commented on #3780
Can you try it with MyFaces? I'm not sure if this is a PF bug.

[2018-06-15 09:58] #3715 closed, assigned to nobody

[2018-06-15 09:58] tandraschko commented on #3715
Thanks

[2018-06-15 10:17] brunoaandrade opened #3784 "Dialog: fitViewport does not fit correctly if footer is used"
## 1) Environment
- PrimeFaces version: 6.2

## 2) Expected behavior
The dialog is larger than the window, so it should adjust the size and a scroll bar on the side, allowing to view all content.
It is very similar to issue [#899](https://github.com/primefaces/primefaces/issues/899).

## 3) Actual behavior
Currently, after clicking on "Show Dialog" the dialog is correctly opened, but at the end, t

[2018-06-15 10:50] tandraschko commented on #3784
Works fine for me with trunk.

[2018-06-15 11:32] alberto-marin-garcia opened #3785 "inputText - KeyFilter: No copy-paste performed in Firefox"
Example:

<p:inputText id="filterCommandeNumber" value="#{afrTrackingOTMB.filter.orderNumber}" size="16" maxlength="12">
     <p:keyFilter mask="pint" preventPaste="false"/>
</p:inputText>

PrimeFaces version:  6.1.15

Neither CTRL-V or right mouse click + paste actions performed into TextBox

[2018-06-15 11:59] tandraschko commented on #3785
Please respect our issue template or it will be closed.

[2018-06-15 13:01] melloware commented on #3785
Just tested this little sample and Paste is working fine for me both right click and CTRL+V.  Tested on 6.2 and 6.3-SNAPSHOT.

[code]

[2018-06-15 15:08] #3700 closed, assigned to nobody

[2018-06-15 15:13] tandraschko opened #3786 "Remove MethodBinding support completely"
It's still there for custom listeners on the component and it's depreacted since JSF 1.2.

[2018-06-15 15:13] #3786 closed, assigned to nobody

[2018-06-16 00:51] jaindsonvs opened #3787 "ajaxStatus: add attribute "delay""
You can use ajaxStatus to block user from interacting with UI while an ajax call is being made [1]. However, it is very annoying for the user if the ajax call is very fast (it will look like a blink). A delay attribute would make "onstart" to run only after the delay time has passed and only if the ajax is still in progress.
This solution [2] works, but it would be very good to have it native.

[1

[2018-06-16 13:57] markwong commented on #3539
alailson's workaround works.

[2018-06-17 02:28] rvieira5 commented on #3780
Well, it worked as expected with MyFaces. Definitely not a PF bug.

[2018-06-17 02:28] #3780 closed, assigned to nobody

[2018-06-17 20:36] #1400 closed, assigned to nobody

[2018-06-17 23:47] erickdeoliveiraleal opened #3788 "SelectOneMenu: update not working"
Example: https://github.com/erickdeoliveiraleal/primefaces-test

## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? Yes
- Does it work on the newest sources in GitHub? No

## 2) Expected behavior

Click in first selectonemenu, the second should be populated

## 3) Actual behavior

Doesnt work in 6.3-SNAPSHOT

[2018-06-18 01:16] jxmai commented on #3788
Regression: https://github.com/primefaces/primefaces/issues/3728#issuecomment-395256507

[2018-06-18 01:41] erickdeoliveiraleal opened #3789 "momentjs: update to 2.22.2"

[2018-06-18 07:29] giordanomaestro commented on #3104
It is released in 6.2?, because it doesn't seem to work, tle options elements are rendered by default even with dynamic true

[2018-06-18 08:33] tandraschko commented on #3788
fixed but heavy testing with appendTo etc combinations welcome ;)

[2018-06-18 08:33] #3788 closed, assigned to nobody

[2018-06-18 10:45] brunoaandrade commented on #3784
My mistake, the commandButton must be inside the footer facet to see the problem. I will correct the code above.

[2018-06-18 11:21] Rapster commented on #3789
Please explain why it should be upgraded, what does it fix, what does it improve etc.

[2018-06-18 13:05] krugerman opened #3791 "SelectOneMenu: throws ClassCastException if it is used with converter and editable="true""
## 1) Environment
- PrimeFaces version: 6.2
- Application server: Glassfish 4.1, Wildfly 10.1.0.Final
- Affected browsers: Chrome

## 2) Expected behavior
No exception appears
## 3) Actual behavior
[code]
appears after selecting a value from drop down list
## 4) Steps to reproduce

1. Open page
2. Select 'second' value - exception is thrown

## 5) Sample XHTML
[code]

## 6) Sample bean
[code]
## 7

[2018-06-18 15:12] erickdeoliveiraleal opened #3792 "duplicated"

[2018-06-18 15:15] #3792 closed, assigned to nobody

[2018-06-18 15:48] erickdeoliveiraleal opened #3793 "duplicated"
new Issue https://github.com/primefaces/primefaces/issues/3800

[2018-06-18 17:13] Rapster commented on #3793
Please follow the template and attach the stacktrace

[2018-06-18 17:37] Rapster commented on #3793
Thank you but please understand that from what I read from your description, I have no idea how to test your issue... This is why we ask to **follow the issue template**

[2018-06-18 17:56] Rapster commented on #3793
I'm not the only one reading this issue, every people in this community might be interested (so don't expect them to read the nth comment to understand what's going on...)

[2018-06-18 18:03] erickdeoliveiraleal commented on #3793
I updated the issue comment. And now it's very easy to understand how it happens. Why did you marked as invalid?

[2018-06-18 18:12] Rapster commented on #3793
1. Invalid: because you didn't follow the issue template. Create a new issue and you'll see what it looks like.
2. And unless you have a runnable example including CDI and all the third parties, we encourage people to fork primefaces-test as it's a simple and quick runnable project. So please, either fork it or provide samples that will make it easy to test it on the showcase

[2018-06-18 21:18] ravihariharan opened #3794 "TreeTable: column width does not work"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-06-18 23:01] melloware commented on #3793
@Rapster +1 .   @erickdeoliveiraleal Just create a simple example using this project: https://github.com/primefaces/primefaces-test so we can then just run "mvn clean jetty:run" and see your bug in action with a minimal sample.

[2018-06-18 23:06] erickdeoliveiraleal commented on #3793
I tried, but I can't make CDI work in the repository above. If you don't mind to copy and paste my code (it's very minimal) in a CDI container, please.
ps: would be nice if primefaces-test repository comes with CDI enabled.

[2018-06-18 23:13] melloware commented on #3791
Have you tried this with the code in trunk for 6.3-SNAPSHOT?

[2018-06-18 23:24] erickdeoliveiraleal commented on #3793
example with spring boot enviroment ( mvn spring-boot:run )
access: http://localhost:8080/helloworld.xhtml
https://github.com/erickdeoliveiraleal/bugpf

[2018-06-19 07:10] Rapster commented on #3793
I couldn't reproduce the problem using the showcase (and your sample). Don't have time yet to try with Spring Boot.. @erickdeoliveiraleal Would you please **follow the issue template** and have a quick analysis (e.g where exactly occurs the `NullPointerException`, it shouldn't be too difficult), you'd help the team a lot by doing those simple steps

[2018-06-19 08:11] tandraschko commented on #3793
Please don't use CDI or Spring or anyhting else, each issue must be reproducable with JSF Managed Beans / the plain primefaces-test project, too.

[2018-06-19 10:51] kapitanrum opened #3796 "Message(s): not working correctly with composite components"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? no
- Does it work on the newest sources in GitHub? no
- Application server + version: All
- Affected browsers: All

## 2) Expected behavior
Element p:message is properly printed for composite component with <cc:editableValueHolder name="input"/> .

## 3) Actual behavior

<p:message> is not printed

[2018-06-19 10:55] tandraschko commented on #3796
The same changes as for outputLabel needs to be done in this component.

[2018-06-19 11:14] kapitanrum commented on #3796
@tandraschko - Yes

Must be properly identyfied input component in MessageRenderer.java.

Example for fix:

MessageRenderer.java
[code]
and in CompositeUtils.java:

[code]

[2018-06-19 11:26] tandraschko commented on #3796
We must use the COmpositeUtils#invokeOnDeepestEditableValueHolder, too
If we switch to JSF2.3, we can only use callbacks, which is the right way to work on components with the right context.

[2018-06-19 11:26] tandraschko commented on #3794
probably never implemented, so -> enhancement

[2018-06-19 11:38] kapitanrum commented on #3796
OK, you're probably right.

[2018-06-19 12:18] erickdeoliveiraleal commented on #3793
With managedbean there's no nullpointerexception, only with CDI

[2018-06-19 13:29] ravihariharan opened #3797 "TreeTable: column aria-label does not work"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-06-19 14:41] Rapster commented on #3793
I'm closing the issue as long the issue template is not filled. Plus, from what you said, panelGrid has nothing to do with this issue. So please make sure to fill everything asked

[2018-06-19 14:41] #3793 closed, assigned to nobody

[2018-06-19 14:42] anhmt90 opened #3799 "filtering with checkbox selection for p:tree"
n Primefaces 6.2 , I have problem when using  `<p:tree>` with `checkbox` selection on a parent node after filtering the tree.

Let's say I have a tree like this [Tree][1] and I want to filter it by `filterMatchMode="contains"` with keyword *"20"*. After filtering, the tree is displayed like this [filtered Tree][2], which meaning the filter has worked correctly. Then I checkbox the parent node *"pa

[2018-06-19 14:48] tandraschko commented on #3799
respect our issue template, for questions use the forum.

[2018-06-19 14:48] #3799 closed, assigned to nobody

[2018-06-19 14:49] erickdeoliveiraleal opened #3800 "tabView: event.getTab() null in Mojarra 2.3"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: WildFly 14 + EE8 enabled
- Affected browsers: all

## 2) Expected behavior

event.getTab().getId() should work.

## 3) Actual behavior

event.getTab() is null in first click

## 4) Steps to reproduce
Clo

[2018-06-19 15:26] tandraschko commented on #3800
primefaces-tests now supports CDI and both MF and Mojarra 2.3.

Your example only fails on Mojarra23+CDI.

[2018-06-19 15:46] tandraschko commented on #3800
JFYI: the http parameter clientId+"_newTab" is different on MyFaces and Mojarra, so actually something is different on the client side.
A PR to fix this would be great, don't have time.

[2018-06-19 15:58] erickdeoliveiraleal commented on #3800
thank you, I added an jetty working example.

[2018-06-19 19:54] ravihariharan opened #3801 "TreeTable : Paginator Template issue"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-06-19 20:51] avinashmoram commented on #3228
Just stumbled upon this one during our upgrade to 6.2. I think if we just stick with one word like "All" instead of "All rows" would be a quick fix. Then we can still stick with the existing regex for supporting split on both commas and space delimiters.

[2018-06-19 22:01] erickdeoliveiraleal opened #3802 "overlayPanel: hideeffect, strange behaviour on master"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? yes
- Does it work on the newest sources in GitHub? no
- Application server + version: jetty 9.4
- Affected browsers: all

## 2) Expected behavior

overlay should only fade on close

## 3) Actual behavior

overlay only appears very fast or in some cases don't appear

## 4) Steps

[2018-06-20 07:07] mazenkhalil opened #3803 "chart: Charts are not displayed inside primefaces Extention layoutPane"
## 1) Environment
- PrimeFaces version: **6.2**
- Does it work on the newest released PrimeFaces version? Version? **No**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **No**
- Application server + version:  **Tomcat8 + Tomcat8.5 +Tomcat9 - JSF23 + Mojarra23+CDI**
- Affected browsers: **Firefox + Chrome + IE*

[2018-06-20 07:50] tandraschko commented on #3803
@melloware Could you check this if related to PF or PFE?

[2018-06-20 07:51] tandraschko commented on #3801
PR welcome

[2018-06-20 08:04] kapitanrum commented on #3796
@tandraschko - I do not think callback is needed, because p:message**s** don't have a callback and still display the texts correctly.

[2018-06-20 08:09] tandraschko commented on #3796
As i said, JSF23 is completely based on callbacks, so therefore introducing a new method doesn't make sense for me.

[2018-06-20 08:21] alberto-marin-garcia commented on #3785
Thanks melloware, tested on Chrome, it works, but is not working in Mozilla !

[2018-06-20 11:16] melloware commented on #3785
So can you please update the ticket title to say "KeyFilter: No copy-paste performed in Firefox"

[2018-06-20 11:18] melloware commented on #3803
I will check but if I had to guess @tandraschko its the same issue as these:

https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/536

https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/562

Something to do with the old code being wrapped "function(){}" and the new Scripts initWithDomReady().

[2018-06-20 11:27] #3802 closed, assigned to nobody

[2018-06-20 13:50] PlassJ commented on #3056
[Here is a link to the issue in webjars ](https://github.com/webjars/font-awesome/issues/29)

[2018-06-20 16:11] alberto-marin-garcia commented on #3785
In keyfilter.js, keypress event is tested as this:  if (n == 17 || n == 18) { ..
In primeface-extensions (old version) this works with Mozilla too: if (e.ctrlKey || e.altKey) { ...

[2018-06-20 17:01] melloware commented on #3785
I will investigate and fix.   original code here looks like it is correct have to look and see why it was changed.

https://github.com/akzhan/jquery-keyfilter/blob/master/jquery.keyfilter.js

[2018-06-20 18:12] melloware commented on #3785
OK it looks like this was changed on purpose in this ticket:

https://github.com/primefaces/primefaces/issues/1852

I bet we need to do a browser detect.

[2018-06-20 18:25] melloware commented on #3785
Please review my fix:  https://github.com/primefaces/primefaces/pull/3805

[2018-06-20 19:24] melloware commented on #3596
I think I just fixed this with this PR:  https://github.com/primefaces/primefaces/pull/3805

the original bug was in the keyfilter code here:  https://github.com/akzhan/jquery-keyfilter/issues/7

[2018-06-20 19:27] melloware commented on #3484
When you say special characters what do you mean?    There was this original issue that was fixed a while ago:  https://github.com/primefaces/primefaces/issues/1852

[2018-06-20 20:17] erickdeoliveiraleal opened #3806 "selectCheckboxMenu: not opening"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? yes
- Does it work on the newest sources in GitHub? No
- Application server + version: jetty + mojarra 2.2
- Affected browsers: all

## 2) Expected behavior

open selectCheckboxMenu

## 3) Actual behavior

not openin selectCheckboxMenu

## 4) Steps to reproduce

click on button.

[2018-06-21 01:01] ReedElliott commented on #3437
I was able to reproduce this issue in my application running on PrimeFaces 6.2.3.   I believe the issue is associated with the PrimeFaces DataTable component posting a "_cellInfo=undefined,-1" parameter when the user selects the editable field.   The weird part for my case is that it doesn't do this on the fields in the first row of the table, but it does do it on the fields in the second row.   N

[2018-06-21 07:46] #3806 closed, assigned to nobody

[2018-06-21 08:02] FlavioSantoro92 commented on #3437
Even on the version 6.2.5 in the showcase the bug is still present.
To reproduce:

Go here: https://www.primefaces.org/showcase/ui/data/datatable/edit.xhtml
In the second datatable, select the last cell, press tab and double click anywhere.
Still crash.

[2018-06-21 08:03] #3785 closed, assigned to nobody

[2018-06-21 08:25] #3097 closed, assigned to nobody

[2018-06-21 09:25] alberto-marin-garcia commented on #3785
Thanks melloware for your support !!!

[2018-06-21 10:58] ReedElliott commented on #3437
If you open the Network tab on the Firefox Developer tools, you will see the following param being sent to the server in the post that occurs when you perform the double click as described by @FlavioSantoro92 above.

- form:cars2_cellInfo: undefined,-1

I believe that this param is causing the following error on the server:

	at java.lang.NumberFormatException.forInputString(NumberFormatException.

[2018-06-21 11:23] melloware commented on #3596
@ShivaniSK can you build 6.3-SNAPSHOT and verify this is fixed.

[2018-06-21 11:30] melloware commented on #3437
I have reported this through my PRO account so hopefully it will get resolved for PF 6.2.6.

[2018-06-21 11:31] #3617 closed, assigned to tandraschko

[2018-06-21 11:32] tandraschko opened #3807 "Form components should not remove ui-state-active onfocus"

[2018-06-21 11:32] melloware commented on #3797
@ravihariharan it looks like this issue was merged I think it is safe to close it?

[2018-06-21 11:32] melloware commented on #3794
@ravihariharan safe to close now?

[2018-06-21 11:34] #3797 closed, assigned to nobody

[2018-06-21 11:34] melloware commented on #3755
@rafaelbomfim I see you commented on the other forum that this was because you were using photocam inside a p:dialog is that correct?  Once you removed it from the dialog it worked?

[2018-06-21 11:34] #3794 closed, assigned to nobody

[2018-06-21 11:34] #3801 closed, assigned to nobody

[2018-06-21 11:43] rafaelbomfim commented on #3755
Yes, works well outside the dialog.

[2018-06-21 11:44] #3759 closed, assigned to nobody

[2018-06-21 11:44] #3807 closed, assigned to nobody

[2018-06-21 13:18] mertsincan commented on #3545
Could you please try position: absolute instead of position: static?
[code]

[2018-06-21 13:41] erickdeoliveiraleal commented on #3780
@rvieira5 create a issue on mojarra side then, https://github.com/eclipse-ee4j/mojarra/issues

[2018-06-21 16:41] ravihariharan opened #3808 "TreeTable : Paginator Position not working"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-06-21 19:11] fkjaekel commented on #3138
Push is actually broken on PF 6.2. The context path of the application is missing on the web socket urls that are generated, leading to 404 errors. User forum thread: https://forum.primefaces.org/viewtopic.php?f=3&t=54921&p=168078#p168078

I was aware of the discontinuation on 6.3, but this caught me by surprise. I need it working on 6.2 so I have time to plan how I'm going to replace it.

I also

[2018-06-22 06:56] #3437 closed, assigned to mertsincan

[2018-06-22 10:11] YahiaZZ opened #3811 "How to use <p:steps> in Primefaces"
## 1) Environment
- PrimeFaces version:
primefaces-6.2

## 2) Expected behavior
Navigating with different steps in <p:steps>
...

## 3) Actual behavior
cannot start correctly
..

## 4) Steps to reproduce

looking for a detailed tutorial

## 5) Sample XHTML
[code]
..

## 6) Sample bean

..Not yet

Thanks

[2018-06-22 10:49] tandraschko commented on #3811
Use the Forum for questions, this is for issues

[2018-06-22 10:49] #3811 closed, assigned to nobody

[2018-06-22 19:05] lagar84 opened #3812 "Datatable: more than one dataTable within p:repeat (or ui:repeat) breaks selection"
## 1) Environment
- PrimeFaces version: 6.2.5
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: jetty from primefaces-test (not important)
- Affected browsers: all (server side bug)
- **Related issue: #929**

## 2) Expected behavior
In a scenario having more than one dataTable inside p:repeat (or ui:repea

[2018-06-22 19:08] tandraschko commented on #3812
Please try MyFaces and it's ui:repeat, if it works there, the p:repeat (copy of ui:repeat of mojarra, with same adjustments) is still buggy.

[2018-06-22 19:35] lagar84 commented on #3812
I changed p:repeat to ui:repeat and ran the reproducer using both myfaces22 and myfaces23 profiles.
It did not make difference. (shows the same behavior using mojarra / p:repeat / ui:repeat)

[2018-06-23 09:43] tandraschko commented on #3812
all right, a deeper anylsis or PR is welcome then.

[2018-06-23 09:44] #3808 closed, assigned to nobody

[2018-06-23 10:42] Rapster commented on #3812
Looks like a state saving issue. Selection is not saved at that point. What exactly solved `p:repeat`? It does not say much on the documentation

[2018-06-23 11:10] tandraschko commented on #3812
can't remember.
mojarra's ui:repeat has something like a check "if thisUIData/Repeat inside another thisUIData/Repeat"
and this check failed with PF data components, therefore we have forked

MyFaces ui:repeat also works without such a if statement and therefore there was never a problem

[2018-06-23 15:02] lagar84 commented on #3812
Looking at related issue #929, user sheldon901 posted this: https://forum.primefaces.org/viewtopic.php?p=116259&sid=2729695e2c7da3bb130627966bd45034#p116259

In that topic he suggests a fix. I tried his fix by creating a DataTable subclass:
[code]

and then I put it on faces-config.xml:
[code]

Well, it worked! But the problem is, I don't know **why** it worked. He just appended **this.getClientId

[2018-06-23 17:01] Rapster commented on #3812
According to @cagataycivici  `p:repeat` should fix the problem (but apparently it does not), we should ask him what makes him think that? It would be great as I think the same problem exists with `p:tree`

[2018-06-23 17:58] tandraschko commented on #3812
That was the reason for introducing p:repeat: https://code.google.com/p/primefaces/issues/detail?id=7190

But if it doesn't work in MyFaces, i think the bug is somewhere in our UIData/TabPanel/something base.

[2018-06-23 18:40] rvieira5 commented on #3780
Issue submitted to Mojarra project:

https://github.com/eclipse-ee4j/mojarra/issues/4394

[2018-06-25 08:19] mertsincan opened #3813 "Add rowEditMode attribute to DataTable"
Defines the row edit behavior, valid values are "eager" (default) and "lazy".
If "lazy", an event is sent to server after clicking row edit icon and the input editors are filled with its content.

[2018-06-25 08:35] #3813 closed, assigned to mertsincan

[2018-06-25 17:11] rajsennimalai opened #3814 "calendar popup - add double click event to select date"
Hi,
Date can be selected when double clicking the date in calendar popup. This will be helpful in cases where user wrongly clicked the date (which will select the date).
Waiting for this feature to be included in next release.

[2018-06-25 17:27] tandraschko commented on #3814
I don't understand what will be helpful.

[2018-06-26 07:06] ebehmen opened #3815 "OutputPanel: New View-ID is created when updating a form that contains a p:outputpanel in deffered mode."
New javax.faces.ViewState is created after updating @form in deffered load of the outputpanel

## 1) Environment
   Primefaces Community Version 6.2
   Glassfish 3.2 & Payara 4

## 2) Expected behavior
 The behavior of updating h:form or p:outputpanel should be same.

## 3) Actual behavior
 When updating h:form the deferred request returns with a new view-id.

## 4) Steps to reproduce
  Click firs

[2018-06-26 07:20] tandraschko commented on #3815
Please try a trunk build, we already fixed something regarding deffered outputPanel.

[2018-06-26 08:07] ebehmen commented on #3815
Tried with the latest 6.3-SNAPSHOT under Payara 4.181 (JSF 2.2) but the issue is still there.

[2018-06-26 12:46] tandraschko commented on #3815
PR welcome

[2018-06-26 13:12] tandraschko commented on #3815
ok, catched the bug.

The problem comes with jquery3.
In PF 6.1, our widgets scripts on AJAX where rendered with a ready handler ($(function() {PrimeFaces.cw(...)}), which is actually fine.
The problem with jquery3 was, that those ready handlers where not executed in the order they were rendered.
So sometimes a script for a component, which is placed later in the DOM, was executed before a script

[2018-06-26 13:19] tandraschko commented on #3815
see: https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/util/WidgetBuilder.java#L69

[2018-06-26 13:21] tandraschko commented on #3815
Could you try what happens in 6.1?
Probably it didn't work there, too

[2018-06-26 13:45] eduarddrenth opened #3817 "Datatable: provide widget helper functions for navigation and editing"
Feature request:

Improve navigation and editing possibilities for the javascript datatable object.

- rowUp and rowDown in single selection mode
- editSelectedRow, saveSelectedRow and cancelSelectedRow when one row is selected
- nextPage and prevPage

users may choose to bind these functions to a hotkey.

[2018-06-26 15:51] #3814 closed, assigned to nobody

[2018-06-26 16:06] eduarddrenth opened #3818 "DataTable: add ability to unsort column"
At the moment, 6.2.5, a user cannot 'unsort' a column, only asc and desc are offered.

This in combination with the nice multiViewState feature forces a logout to undo sorting.

[2018-06-26 18:03] Rapster commented on #3815
@ebehmen To workaround the issue, why don't you use a `<h:panelGroup />` for the first `<p:outputPanel />`? Should work unless you need the first `<p:outputPanel />` to be deferred too

[2018-06-26 19:29] JHookDev opened #3819 "MenuItem: url attribute for relative path loses application context"
## 1) Environment
- PrimeFaces version: 6.2.6
- Does it work on the newest released PrimeFaces version? No Version? 6.2.6
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Tomcat 7.0.23 and 9.0.8
- Affected browsers: Chrome, Firefox, IE,...

## 2) Expected behavior

Selecting menui

[2018-06-26 19:32] tandraschko commented on #3819
We changed it by design. Url is the native url, but you can use outcome or add #{request.contextPath}

[2018-06-26 19:32] #3819 closed, assigned to nobody

[2018-06-26 19:34] tandraschko commented on #3819
Duplicate of: https://github.com/primefaces/primefaces/issues/3154 / https://github.com/primefaces/primefaces/issues/3506

[2018-06-26 19:35] tandraschko commented on #3818
Next time please follow the template or we will close it as invalid.

[2018-06-26 19:35] tandraschko commented on #3818
Feel free to provide a PR or sponsor it via PrimeFaces PRO.

[2018-06-26 20:34] JHookDev commented on #3819
@tandraschko Thank you for commenting quickly. Are you able to tell us what components and attributes are impacted by the design change so that we can better assess the impact to our application(s)?

In addition, I would like to request that changes such as this be included in the release notes and associated GitHub tags/labels. Since a change of this nature can impact applications negatively.

[2018-06-26 20:44] tandraschko commented on #3819
I'm not managing the elite releases, mert may just forgot it.

https://github.com/primefaces/primefaces/wiki/Migration-Guide (6.2 - 6.3)
I think all url/href attributes for button/link/menuItem, but i would need to check the code, too.

[2018-06-27 09:26] ebehmen commented on #3815
Tried with 6.1 and 6.0, still the same issue.

@Rapster unclear what you mean. I have no problem with the p:outputPanel, but updating the form directly. The p:outputPanel is the workaround.

[2018-06-27 09:29] tandraschko commented on #3815
Yep, so it didn't work ever.
Probably the easiest way to is to render directly instead deffered if updated via AJAX.

[2018-06-27 09:32] Kill3r444 commented on #48
Could we please have an update on this topic ? This feature would be very useful to a lot of users. For now I  include a custom CSVExporter in my project, but this is a lot of work to check for change at each Primefaces update. Anyway, thanks for your work, I love your framework !

[2018-06-27 09:34] tandraschko commented on #48
You can sponsor the change via PrimeFaces PRO or do it by yourself and provide a PR!

[2018-06-27 09:51] cnsgithub commented on #48
I'm interested in providing a PR...

[2018-06-27 10:25] Kill3r444 commented on #48
@cnsgithub : not a native english speaker, so not sure what you mean : do you want to provide a PR yourself, or do you want me to provide one ?

[2018-06-27 10:30] cnsgithub commented on #48
I'll provide a PR, stay tuned.

[2018-06-27 11:19] brunoaandrade opened #3820 "Add success message - FacesMessage.SEVERITY_SUCCESS"
### At this moment there are four types of messages:

- SEVERITY_INFO
- SEVERITY_WARN
- SEVERITY_ERROR
- SEVERITY_FATAL

#### Success message should be also added.

[2018-06-27 11:22] #1030 closed, assigned to mertsincan

[2018-06-27 11:25] tandraschko commented on #3820
FacesMessage is JSF API, we can't change anything there.

[2018-06-27 11:25] #3820 closed, assigned to nobody

[2018-06-27 11:54] mertsincan opened #3821 "Chart component throws an JS error with Jqplot 1.0.9"
Details; https://github.com/primefaces/primefaces/issues/1749#issuecomment-261931703

[2018-06-27 11:58] #3821 closed, assigned to mertsincan

[2018-06-27 12:09] cnsgithub commented on #48
PR: https://github.com/primefaces/primefaces/pull/3822

Please see PR comment for details.

[2018-06-27 12:38] Kill3r444 commented on #48
Thanks, but I'm a newbie here  : what do I have to do now ? may I test your code in any way ?

[2018-06-27 12:43] cnsgithub commented on #48
You may fork or clone this repository and build your own primefaces snapshot based on the master branch: https://github.com/primefaces/primefaces/wiki/Building-From-Source

Otherwise, you can wait until a member of this repository merges the PR and releases a new minor (available to the public) or bugfix release (PrimeFaces Pro/Elite).

[2018-06-27 12:49] Kill3r444 commented on #48
I reviewed your changes and have a question : why do you use a StringBuilder object while I have a Writer object in my Primefaces source (6.2.5) ?

[2018-06-27 12:51] cnsgithub commented on #48
For questions regarding code changes, please comment in the PR at the appropriate lines.

[2018-06-27 12:53] Kill3r444 commented on #48
This isn't a change you made, it is a difference between my PF version (downloaded from PF website) and the one on the repository

[2018-06-27 12:55] cnsgithub commented on #48
Yes, because there might have been some refactorings between PrimeFaces 6.2.5 and the master branch (6.3-snapshot).

[2018-06-27 13:03] Kill3r444 commented on #48
Ok thanks, that change was commited on Nov 20, 2017, and seems to have been included in 6.2.6.

[2018-06-27 14:10] Kill3r444 commented on #48
Just tested your commit and it works great, thanks !

[2018-06-27 14:25] Rapster commented on #3815
@ebehmen Basically, writing `<p:outputPanel />` is just like writing `<h:panelGroup />`. See #2674

I might have misunderstood your issue, my bad... It's just seeing 2 outputpanels one on another was a strange structure (but that's probably not related to your problem)

[2018-06-27 14:35] kukel commented on #3635
jquery related regression?

[2018-06-27 14:40] alfonx commented on #3635
Yes, 90% sure

[2018-06-28 05:39] jdmc562 opened #3824 "Dialog Framework: option closeOnEscape not working"
## 1) Environment
- PrimeFaces version: 6
- Affected browsers: Chrome, Edge

## 2) Expected behavior
When adding the option closeOnEscape in the dialog framework I expect escape should work, just as it does in a dialog component from xhtml page

## 3) Actual behavior
Option does not seem to function where others do

## 4) Steps to reproduce
 Map<String,Object> options = new HashMap<String, Object>

[2018-06-28 07:14] cnsgithub opened #3825 "Erroneous use of escapeText on calls to WidgetBuilder.attr"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
JS syntax errors must never occur, input must be redisplayed correctly.

## 3) Actual behavior
Double escaping (JS and JSON) may result in JS syntax errors or wrong display.

Since Dec, 28 2017 `WidgetBuilder.attr` escapes the value itself, which in my opinion is the correct approach. However, some of the older callers d

[2018-06-28 07:15] rastislavtkac commented on #3509
There is a simple typo in the TimelineRenderer class, (in version 6.2 on line 160), there is a simple quote character at the end ot the attribute name, it messes up the jquery code generated for the timeline widget.

`wb.attr("groupsWidth'", timeline.getGroupsWidth());`

sould be:

`wb.attr("groupsWidth", timeline.getGroupsWidth());`

[2018-06-28 07:30] cnsgithub opened #3826 "XSS in fileUpload"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Proper escaping of summary and detail messages

## 3) Actual behavior
Improper escaping of summary and detail messages

## 4) Steps to reproduce
Modify the [showcase ](http://localhost:8080/showcase/ui/file/upload/single.xhtml) as shown below. Upload an invalid file, e.g. foo.txt.

The following syntax error will appear:

[2018-06-28 07:35] cnsgithub commented on #3509
@rastislavtkac Thanks for the tip. Fixed this in https://github.com/primefaces/primefaces/pull/3827.

[2018-06-28 10:04] kukel commented on #2838
Does `p:autoUpdate` (or other components) still need some attention for this to fully work? `p:messages` seems to have a problem in relation to redirects/forward https://forum.primefaces.org/viewtopic.php?f=3&t=55471

[2018-06-28 10:31] tandraschko commented on #2838
Lets talk about it if we have a small as possible example, everything else is useless.

[2018-06-28 12:05] melloware commented on #3824
Are you using PF 6.2? This was fixed already as you can see here:  https://github.com/primefaces/primefaces/issues/2617

Your ticket above says you are using PF 6.0.

[2018-06-28 12:42] #3824 closed, assigned to nobody

[2018-06-28 14:27] cnsgithub opened #3828 "XSS in PrimeFaces.showMessageInDialog"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Proper escaping

## 3) Actual behavior
Improper escaping

## 4) Steps to reproduce
Go to the showcase, open the console and enter `PrimeFaces.showMessageInDialog({severity:"ERROR", summary:"summary", detail:"<script>alert('xss');</script>"});` This will bring up an alert box.

The aforementioned JS function is also calle

[2018-06-28 14:51] jxmai opened #3829 "Compilation: Build Failure on Windows 7 machine since https://github.com/primefaces/primefaces/commit/b64e8cce5d4015c20f9a5fa1560c5ffc7b522743 - FeedInput.java:[31,30] cannot access org.jdom2.Document"
## 1) Environment
- PrimeFaces version: PrimeFaces Trunk
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: N/A
- Affected browsers: N/A

## 2) Expected behavior

Build Failure should not occur on any OS enviromen

[2018-06-28 14:56] melloware commented on #3829
Hmm I can't reproduce on windows.  Here is what my mvn --version says.
[code]

[2018-06-28 14:58] tandraschko commented on #3829
Check your maven repo, our builds are also fine.

[2018-06-28 15:08] jxmai commented on #3829
Alright. Thanks for your elaboration ! Since there is no such issue on your environment, so I just close it for now and do more verification and troubleshoot...

[2018-06-28 15:08] #3829 closed, assigned to nobody

[2018-06-28 16:01] jan-tosovsky-cz opened #3830 "SelectManyMenu: new option for selecting all shown items when filter is updated"
In my use case there is huge list of versions (xx.xx.xx), which can be filtered by some prefix (e.g. 4.2) and from the rest only few version are skipped.

Currently it is not possible to select all shown items after updating the filter value. So instead of deselecting few items user has to select almost entire list.

This new option could be tightly related to the filter function. If the particula

[2018-06-28 19:33] #3509 closed, assigned to nobody

[2018-06-28 19:48] #3789 closed, assigned to nobody

[2018-06-29 04:40] cnsgithub commented on #3829
@jxmai Guess you're using JDK >= 9? That's not clear from your screenshot. @melloware is using JDK 8 and it doesn't seem to appear. Probably it has something to do with modularization, see https://github.com/rometools/rome/issues/374

[2018-06-29 05:51] cnsgithub commented on #3826
PR: https://github.com/primefaces/primefaces/pull/3831

[2018-06-29 06:33] cnsgithub commented on #3828
I'd like to provide a PR for this issue. However, I stumbled upon newline replacement done in `PrimeFaces.showMessageDynamic`:
[code]

Carriage returns and line feeds are replace with HTML `<br>`. However, it's totally unclear that the JS function `PrimeFaces.showMessageInDialog `supports HTML in `summary `and `detail`. And it is indeed not supported completely. From looking at the JS code (`core.

[2018-06-29 07:49] cnsgithub commented on #3825
PR: https://github.com/primefaces/primefaces/pull/3832

[2018-06-29 08:11] mertsincan opened #3833 "Add ShowAll option to rowsPerPageTemplate attribute on Paginator"
rowsPerPageTemplate="{ShowAll|'Dropdown Text(default: Show all)'}"
Exp;
{code}
<p:dataTable rowsPerPageTemplate="5, 10,15,{ShowAll|'Show all'}" ..
{code}

on 6.2, please use {ShowAll|'...'} syntax instead of '*' or 'All Rows'.

[2018-06-29 08:15] #3833 closed, assigned to mertsincan

[2018-06-29 11:29] kukel commented on #3812
Due to this, I personally always use the index from the varStatus and use `value="#{testView.parents[statusVar.index].children}"` instead of `value="#{par.children}` and the same for selection

[code]

And also use the same construct for selection. That does seem to work all the time.

[2018-06-29 11:29] melloware commented on #3828
Hmmm my concern is the newline support was put in there by Optimus Prime for a reason or Mert for a PRO user?  Can we look through the Git Log to see when that newline code was added or if it has always been there?

[2018-06-29 11:42] melloware commented on #3825
Thanks for noticing this.  I fixed it in PrimeFaces Extensions as well.

[2018-06-29 11:57] eduarddrenth commented on #3818
No real general fix, but this works for now:

- In a view:
[code]
- javascript:
[code]
The redirect is needed to have the sort header reflect the sorting state.
- a listener (NOTE works with 6.2.5, I see some api diff with 6.2):
[code]

[2018-06-30 00:48] lagar84 commented on #3812
@kukel Thank's for sharing a workaround, but unfortunately it did not work on the reproducer. The result is the same as the original code. I tried this:

[code]

It fails in mojarra and myfaces.

[2018-06-30 04:42] jxmai commented on #3829
Thanks for pointing that out. I went back and double-checked the settings (reconfigured JAVA_HOME and MAVEN_HOME etc) but the problem still exists on one particular system (just leave it for now at this point :) )... It should be a local issue so no worry about it.

JFYI:

[code]

[2018-07-01 02:49] jxmai opened #3834 "Inconsistent Line Ending: Mix of CRLF and LF in the Repository - moment.js in particular"
## 1) Environment
- PrimeFaces version: Primefaces Trunk
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: N/A
- Affected browsers: N/A

## 2) Expected behavior

All files should be committed with Unix Style ende

[2018-07-01 18:26] #3834 closed, assigned to nobody

[2018-07-02 04:17] cnsgithub commented on #3828
The `PrimeFaces `class was introduced by @tandraschko in revision a69e8a60c5552a6ce349fc0658a7f03cb1f32c66 on October 24, 2017. I think that's just a refactoring (https://github.com/primefaces/primefaces/issues/2853) and the method had been existing before elsewhere.

[2018-07-02 07:51] cnsgithub opened #3836 "Update commons-fileupload"
We currently use commons-fileupload in version 1.3 which according to [dependency-check](https://jeremylong.github.io/DependencyCheck/dependency-check-maven/index.html) contains three vulnerabilities:

1. Denial of Service [CVE-2014-0050](http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-0050)
2. Remote Code Execution [CVE-2016-1000031](http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-1

[2018-07-02 08:00] cnsgithub commented on #3836
PR: https://github.com/primefaces/primefaces/pull/3837

[2018-07-02 08:03] #3836 closed, assigned to nobody

[2018-07-02 12:18] #3825 closed, assigned to nobody

[2018-07-02 12:22] #3826 closed, assigned to nobody

[2018-07-02 12:27] #48 closed, assigned to nobody

[2018-07-02 14:54] ClassicSpeed commented on #3675
There is still a difference of 5s vs 2m using 1.6.5.

[2018-07-02 16:32] melloware commented on #3675
@ClassicSpeed using 1.6.5 version of what?

[2018-07-02 17:49] melloware commented on #3675
Attached is a sample project that can prove the issue by running "mvn clean jetty:run".
[primefaces-3675.zip](https://github.com/primefaces/primefaces/files/2156250/primefaces-3675.zip)

[2018-07-02 17:51] ClassicSpeed commented on #3675
@melloware Primefaces 6.2.5 sorry. I tried 6.1 and it loads really fast (1500 items in 5 seconds aprox)

[2018-07-02 18:06] melloware commented on #3675
HA!  Yeah that makes more sense 6.2.5.  I had no idea what 1.6.5 was!

[2018-07-02 18:14] melloware commented on #3675
OK it looks like the issue is this..  https://stackoverflow.com/questions/20398400/jquery-ui-sortable-call-is-slow-when-applies-to-thousands-of-elements

Jquery UI 1.12.1 introduced this.  There is a fix at the bottom of that stack overflow but not quite sure why Jquery changed the code the way they did and it concerns me changing back core Jquery code without knowing why they changed it.

[2018-07-02 18:24] melloware commented on #3675
And here is the Jquery UI Bug ticket:  https://bugs.jqueryui.com/ticket/15097

[2018-07-02 18:59] melloware commented on #3675
I just submitted a PR with the fix to Jquery UI.  I tested with the primefaces-3675.zip test project above and the performance goes from 15 seconds down to 500 milliseconds on my test machine.   I will ask them to review this fix through my PRO account.

[2018-07-02 20:09] melloware commented on #3688
PR submitted and I added to the pom.xml to not overwrite this license in the future.

[2018-07-02 20:15] #3688 closed, assigned to nobody

[2018-07-03 06:26] nirodg commented on #2478
I'm facing something similar.
The columnToggler calls the backend and gets the column's position.
[code]

And my column has has defined the visibility column like this (I have a custom component)
`visible="#{dataTableCompBean.getColumnVisibility(tableId, id)}"`
This will get the ID of my column, i.e. myUserId

Would be great to have `e.getClientId() ` so you can get directly the column's id

[2018-07-03 06:35] sergi-mm commented on #2478
Hello, I'm also interested on a clean solution, but meanwhile I did a workaround for getting the clientId of the toggled column in the toggle event:

[code]

Hope this helps!

[2018-07-03 07:36] nirodg commented on #2478
@sergi-mm I just ended up on a really similar solution. Is not the best, but seems to do the work

[2018-07-03 09:33] Njol opened #3841 "FileUpload: Updating the parent of a dialog with a fileUpload element causes the fileUpload's "Choose" button to open two file chooser dialogs"
## 1) Environment
- PrimeFaces version: **6.2.6**
- Does it work on the newest released PrimeFaces version? Version? **no** (6.2.6)
- Does it work on the newest sources in GitHub? **untested**
- Application server + version: **Jetty 9.2.24**
- Affected browsers: **at least Firefox and Internet Explorer**

## 2) Expected behavior
Upon clicking on the "Choose" button of a `<p:fileUpload>` element, o

[2018-07-03 10:16] #3675 closed, assigned to mertsincan

[2018-07-03 10:17] mertsincan commented on #3675
Thanks a lot, @melloware. I added your fix to jquery.ui.pfextensions.js.

[2018-07-03 10:23] mertsincan commented on #3433
No problem, @floriandulzky ;)

For #3433, please see; https://myfaces.apache.org/orchestra/myfaces-orchestra-core/component-bindings.html

For this issue, you can use RequestScoped instead of ViewScoped for DatatableTestManagedBean
OR
DataTable datatable = FacesContext.getCurrentInstance().getViewRoot().findComponent("TABLE_CLIENTID") instead of binding="#{datatabletest.dataTable}"

[2018-07-03 10:23] #3433 closed, assigned to nobody

[2018-07-03 11:03] ClassicSpeed commented on #3675
Thanks @melloware thank you so much for your help.
I added that fix from stack overflow and I'll remove it when it gets fixed on the next primefaces.

[2018-07-03 11:30] melloware commented on #3453
Here was the original issue why NUMPAD_ENTER was re-added. https://github.com/primefaces/primefaces/issues/2448

Can you please review and confirm its still safe to remove?

[2018-07-03 11:38] melloware commented on #3596
@tandraschko this ticket is safe to close.

[2018-07-03 11:40] #3596 closed, assigned to nobody

[2018-07-03 11:40] cnsgithub commented on #3453
Re-opened https://github.com/primefaces/primefaces/pull/3455

[2018-07-03 12:11] cnsgithub commented on #3519
The following components should be affected:
- `dataGrid`
- `treeTable`
- `dataTable`
- `dataList`
- `dataView`

[2018-07-03 12:52] cnsgithub commented on #3519
PR: https://github.com/primefaces/primefaces/pull/3843

[2018-07-03 14:26] mujdecisy commented on #3201
adamsınız!

[2018-07-03 14:31] jxmai commented on #3834
There are four more files ending with CRLF. Make me wonder if anyone has windows incorrectly setup recently :thinking:

https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/expression/SearchExpressionFacade.java

https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/util/LangUtils.java

https://github.com/primefaces/primefaces/blob/master/sr

[2018-07-03 14:33] melloware commented on #3834
I use Windows too and this is messing me up when I switch branches. It keeps reporting files as different.

[2018-07-03 14:34] tandraschko commented on #3834
No idea, i always used netbeans with everything default configuration.
But it should be fixed in the future with our .gitattributes?

[2018-07-03 14:34] jxmai commented on #3834
Yes, windows will show up the same error message and even hard reset and stash won't work.

[2018-07-03 14:34] jxmai commented on #3834
I can raise another PR soon just to fix those files for now

[2018-07-03 15:01] jxmai commented on #3834
Yes, but usually it won't be a problem except windows. During installation, not to choose checkout as-is, commit as is as windows will commit CRLF line end to the repo.

---

https://git-scm.com/docs/gitattributes

![image](https://user-images.githubusercontent.com/10467831/42227818-f788f628-7ea7-11e8-863c-9293aae97824.png)

[code]

---

Just a reminder that don't follow the documentation blindly

[2018-07-03 15:22] melloware commented on #3834
@jxmai Thanks for this trick.

[2018-07-03 15:23] jxmai commented on #3834
No problem :smile:

[2018-07-03 16:00] Dasister opened #3846 "PickList: long items not fully highligted."
## 1) Environment
- PrimeFaces version: **6.1**
- Does it work on the newest released PrimeFaces version? Version? **No.**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source): **No.**
- Application server + version: **WildFly 10.1**
- Affected browsers: **Chrome, FF, Edge**

## 2) Expected behavior

Long items shou

[2018-07-03 16:31] melloware commented on #3846
You can fix this by changing the width of the picklist items in your application CSS to override the PF style.  The default of the picklist is 200px.
[code]
Here is a sample showing the issue just run "mvn clean jetty:run".
[primefaces-test-3846.zip](https://github.com/primefaces/primefaces/files/2160222/primefaces-test-3846.zip)

[2018-07-03 16:53] Dasister commented on #3846
Yes, I can. But I don't know max possible width.
And unused empty space sounds like something bad. So it's sounds like possible workaround (thank you for suggestion, by the way), not regular solution for me. Am I wrong?

[2018-07-03 16:58] melloware commented on #3846
No its a workaround if you knew roughly whats the max size of the item in your picklist.  I provided the sample project containing your demo in case any Dev's wanted a working proof to debug or find a fix.  Basically it needs some way of dynamically knowing the max text length of your items.

[2018-07-04 06:12] cagataycivici commented on #3201
PrimeNG and PrimeReact use chart.js but we should not break backward compatibility, new p:pieChart, p:lineChart components will be better.

[2018-07-04 07:09] tandraschko commented on #2449
Should be fixed by https://github.com/primefaces/primefaces/issues/834
Could you try?
We automatically check now for the scrollparent

[2018-07-04 07:11] tandraschko commented on #326
I think it's fixed by #834 and will close it for now
if it still occurs, please provide a example

[2018-07-04 07:11] #326 closed, assigned to nobody

[2018-07-04 07:18] Rapster commented on #2449
834 does not sound like a duplicate to me, it's a total different problem. This one is about making the sticky, no longer on the top of the page but relative to another element (e.g premium template have topbar, and sticky should be displayed right below it and not on the top of the page). I thought Mert would provide something... I can think about providing a fix

[2018-07-04 07:18] tandraschko opened #3847 "DataTable: weird behavior with filtering and sticky header"
If you have a sticky header enabled, the header will be cloned in the DOM.
Therefore the filter inputs will be cloned, too.

What happens now? If you change a filter in the sticky header, the value won't be copied to the normal, uncloned/unsticky, header.

[2018-07-04 07:21] tandraschko commented on #2449
`This one is about making the sticky, no longer on the top of the page but relative to another element (e.g premium template have topbar, and sticky should be displayed right below it and not on the top of the page)`

Thats exact the problem in #834. Maybe it already works fine in the Premium Layouts.

[2018-07-04 08:00] crocimi opened #3848 "ContentFlow with two images"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? n/a
- Application server + version: WF 10.0.0
- Affected browsers: Chrome/Edge/Firefox

## 2) Expected behavior
One can switch between the two images in the carousel

## 3) Actual behavior
One can see only one image; one cannot switch to the

[2018-07-04 08:29] tandraschko commented on #3758
The example is still very weird as the E2UserDetail is a entity and a ManagedBean, and also used as var.
We also don't have the converter, so the example is not runnable. Next time please provide a forked primefaces-test project.

[2018-07-04 08:29] #3758 closed, assigned to nobody

[2018-07-04 08:35] #3519 closed, assigned to nobody

[2018-07-04 09:41] Rapster commented on #2449
Thomas, as it is today, stickyHeader will be displayed on the top (which is normal, it's done by design). 384 is about an issue of stickyHeader when contained in a `p:layout`

[2018-07-04 10:06] tandraschko commented on #2449
Its not about p:Layout, its about every scollparent, when the scrollparent is not document itself.

[2018-07-04 11:14] cnsgithub commented on #3251
FYI: Just opened an issue since the Flickr API key is hardcoded in juxtapose and therefore shared amongst all users. See https://github.com/NUKnightLab/juxtapose/issues/139 for further information.

[2018-07-04 16:04] Rapster commented on #3815
I just realized we're facing the same issue...

[2018-07-04 17:48] SergeyLyashenko opened #3849 "p:selectManyButton"
# <p:selectManyButton> with <p:ajax> doesn't work correct

I use primefaces 6.2

[code]
code above rendered to

[code]
Function `PrimeFaces.ab()` called from `<input>` so ajax works before `PrimeFaces.widget.SelectManyButton`. In this situation ajax send duplicate, can't unselect filters and works incorrect. Without `<p:ajax>` all work fine, but I need it.
I compared with `p:selectCheckboxMenu` an

[2018-07-04 18:42] tandraschko commented on #3849
Questions -> Forum.
Issues must follow the issue template.

[2018-07-04 18:42] #3849 closed, assigned to nobody

[2018-07-05 04:30] AzharMobeen commented on #3522
Yes, We really need it, Please changed default view from "Month,Week,Day" to "Year,Month,Week,Day".
a lot PF UI users wants this feature.

[2018-07-05 05:08] cnsgithub commented on #3828
PR: https://github.com/primefaces/primefaces/pull/3850. Please see PR comments for further information.

[2018-07-05 13:09] melloware commented on #3755
I updated to PhotoCam 1.0.25 and confirmed the Google deprecation warning is fixed.

[2018-07-05 13:13] melloware commented on #3834
@jxmai Sorry to bug you on this but I am still having problems. When I get my fork back to the latest upstream with this command..
`git fetch upstream && git checkout master && git merge upstream/master`

Its giving me this...
[code]
Even though those files have not changes so I think its a Line Ending issue again?

[2018-07-05 14:34] jxmai commented on #3834
Let me double-check. Although it did not report diff on git status

![snapshot1](https://user-images.githubusercontent.com/10467831/42329353-1ac452e2-8036-11e8-9b08-bd27f5e82d73.png)

when I check a file such as `jquery.mousewheel.min.js`

I can see its line ending is CRLF.

![snapshot1](https://user-images.githubusercontent.com/10467831/42329423-47026768-8036-11e8-82d1-c0ae9e27bc63.png)

---

Yes

[2018-07-05 14:35] jxmai commented on #3834
After running --normalize add

Here is the full list

[code]

[2018-07-05 14:36] melloware commented on #3834
So how can we fix this?  Do we need to do a PR fixing it?

[2018-07-05 14:36] jxmai commented on #3834
@melloware Your files are only part of those files above, so I need to fix them in one shot this time.

[2018-07-05 14:36] jxmai commented on #3834
Yes, I can fix them.

[2018-07-05 14:37] melloware commented on #3834
thanks!

[2018-07-05 14:41] jxmai commented on #3834
PR: https://github.com/primefaces/primefaces/pull/3852

Should be good this time. :+1:

[2018-07-05 14:45] #3755 closed, assigned to melloware

[2018-07-05 15:14] melloware commented on #3834
OK to get my fork back to out of "hell" I had to do this and now everything is all good!

[code]

[2018-07-05 15:15] melloware commented on #3691
@tandraschko I think this is safe to mark invalid or closed since the user has not responded or provided a primefaces-test example showing the issue.

[2018-07-05 15:16] #3691 closed, assigned to nobody

[2018-07-05 16:08] ClassicSpeed commented on #2568
I would like to add that this breaks even with the goblal filter or when you execute PF('table').filter().
Using Primefaces 6.2.5

[2018-07-05 17:45] mdzaebel commented on #52
Now - >3 years after reporting - it might be usefull to document the workaround in the User Guide

[2018-07-05 18:19] melloware commented on #3720
My thoughts are:

1. hideSummaryMatchingTitle=true
2. excludeSummaryMatchingTitle=true

[2018-07-05 22:24] mulkgun opened #3854 "MOVE_SCRIPTS_TO_BOTTOM combines non javascript"
In my project I have Web GL script<script type="x-shader/x-vertex"> and <script type="x-shader/x-fragment"> MOVE_SCRIPTS_TO_BOTTOM combines them into javascript block. I think it should group them by their type.

[2018-07-06 06:15] cnsgithub commented on #3854
Might be a good point, but please use the issue template, otherwise chance is low that someone will hear you.

[2018-07-06 06:50] tandraschko commented on #3854
Not sure If this is required as they are just collected by order. So you can just group them by yourself.

[2018-07-06 06:58] cnsgithub commented on #3854
[code]

Will be transformed to

[code]

or

[code]

?

[2018-07-06 07:18] cnsgithub commented on #3854
Just tried it, the answer is that it results in

[code]
which is of course incorrect.

[2018-07-06 07:28] tandraschko commented on #3854
should we even touch them?

[2018-07-06 07:32] cnsgithub commented on #3854
I would consequently do so.

But I am not sure how we can do this in `MoveScriptToBottomResponseWriter` since it's a bit complex. @tandraschko You wrote it?

[2018-07-06 07:39] tandraschko commented on #3854
yup

[2018-07-06 07:49] cnsgithub commented on #3505
Looking at `MoveScriptsToBottomResponseWriter `during investigation of https://github.com/primefaces/primefaces/issues/3854 brought me to rethink about this CSP issue.

In `MoveScriptsToBottomResponseWriter` we're already collecting and combining scripts. It would be quite easy to generate `nonce` attributes and put them in a registry that may be read later to create the `Content-Security-Policy`

[2018-07-06 08:05] cnsgithub commented on #3854
Btw, there might be other attributes for the `script `tag that must be taken into account, e.g. `async`, `defer`, `nonce`...

And can we turn `"script".equals` into `"script".equalsIgnoreCase`?

[2018-07-06 08:35] tandraschko commented on #3854
not sure if we should take care of every case, it's makes to code probably to complex.

[2018-07-06 08:41] cnsgithub commented on #3854
We could just check for attributes besides `type` and if so exclude them from being combined?

[2018-07-06 08:45] tandraschko commented on #3854
I think also merging them is no problem. But adding support for async, defer, nonce, etc. seems quite complex.
Is it always correct to render all scripts merged in following order:
1) javascript
2) x-shader/x-vertex
3) x-shader/x-fragment

i wonder if its sometimes required that a fragment must be placed before vertex and vice versa.
Maybe it's the best ways to only merge javascripts, and just mov

[2018-07-06 08:49] cnsgithub commented on #3854
I wouldn't try to change the order at all.

[2018-07-06 09:03] tandraschko commented on #3854
If someone could write some unittests for the currenct implementation, it would be great.
I will do changes itself before 6.3.

[2018-07-06 09:03] #3255 closed, assigned to nobody

[2018-07-06 09:03] #3828 closed, assigned to nobody

[2018-07-06 12:54] judyxx opened #3855 "p:calendar will not pop up after other actions on the page"
We have dialogs embedded in our main page.  If we open the dialog and add/remove some records, after it comes back to the main page, the calendar on the main page will not pop up.  Have anyone experienced the issue?

Thanks!

[2018-07-06 13:01] floriandulzky opened #3856 "DataTable: RowGroup do not work correctly with lazy loading"
## 1) Environment
- PrimeFaces version: 6.1 / 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: jetty / wildfly 11
- Affected browsers: tested in chrome and FF

## 2) Expected behavior
I have a scrollable

[2018-07-06 13:10] tandraschko commented on #3855
Questions -> Forum
Otherwise please follows the issue template

[2018-07-06 13:10] #3855 closed, assigned to nobody

[2018-07-06 13:12] Rapster opened #3857 "DataExporter: datatable with skipChildren is not working"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 7
- Affected browsers: All

## 2) Expected behavior
Using that example with Datatable#skipChildren="true" should export content into any supported export file. As the datatable does not contain any inputs,

[2018-07-06 14:50] melloware commented on #3803
OK I have figured out the issue you can read about it here https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/536

I am releasing PF Extensions 6.2.7 right now should be in Maven Central in a couple of hours and it will fix this issue.  Feel free to close this issue as its not PF issue but a PFE issue.

[2018-07-07 01:26] Charlie243 opened #3858 "Layout: Nested layout problem"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? No Version? 6.2.6
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 8.0.15
- Affected browsers: IE

## 2) Expected behavior
All defined layoutUnits will be displayed.
...

## 3) Actual behavior
The nested "North West" layoutUnit is not displayed. See the for

[2018-07-07 12:27] melloware commented on #3858
I will investigate and see if I can see what's going on.

[2018-07-09 03:39] erickdeoliveiraleal opened #3859 "OverlayPanel: not opening in Mojarra 2.3"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? no
- Application server + version: wildfly 14
- Affected browsers: all

## 2) Expected behavior

Clicking on the button should open OverlayPanel

## 3) Actual behavior

Not Opening.

## 4) Steps to reproduce

click on the button, the over

[2018-07-09 08:25] Rapster commented on #3857
I had a try using this impl:
[code]

Works fine so far. I'll do more tests before comitting a fix. I even wonder if we shouldn't skip children right before calling `processChildren`

[2018-07-09 08:44] tandraschko commented on #3859
Very likely a Mojarra 2.3 bug.

[2018-07-09 11:32] melloware commented on #3858
Attached is a test case:
[primefaces-3858.zip](https://github.com/primefaces/primefaces/files/2175916/primefaces-3858.zip)

Just run "mvn clean jetty:run" and navigate to http://localhost:8080/primefaces-test/test.xhtml

1. If I set the pom.xml to PF 6.2 the North West unit looks fine.

2. If I set the pom.xml to 6.3.-SNAPSHOT the North West Unit does not appear so something broke after the releas

[2018-07-09 11:33] melloware commented on #3803
Can you try this again with PFE 6.2.7 which is now in Maven Central?

[2018-07-09 11:38] melloware commented on #3858
OK so the only real layout issue that has been merged into Elite releases is this one:  https://github.com/primefaces/primefaces/issues/3457

And that fixed that issue but its possible it somehow introduced this new issue.  I just can't see how.

[2018-07-09 13:54] #3453 closed, assigned to nobody

[2018-07-09 13:55] #3615 closed, assigned to nobody

[2018-07-09 14:18] ebehmen commented on #271
After adding onchange="PF('datatabele').filter();" to p:selectCheckboxMenu, the uncheckAll() function does not work anymore.

[2018-07-09 14:34] #3413 closed, assigned to nobody

[2018-07-09 14:42] tandraschko commented on #3265
We could also render the script tag with the clientId instead of clientId + "_s"
Same like for RemoteCommand

[2018-07-09 14:43] erickdeoliveiraleal opened #3860 "selectOneMenu: appearing 2 places in 6.3-SNAPSHOT"
## 1) Environment
- PrimeFaces version: 6.3-SNAPHOT
- Does it work on the newest released PrimeFaces version? Version? yes
- Does it work on the newest sources in GitHub? no
- Application server + version: wildfly
- Affected browsers: all

## 2) Expected behavior

should appear only one place

## 3) Actual behavior

appearing in 2 places

## 4) Steps to reproduce

click on button 1
click on button

[2018-07-09 14:57] stiemannkj1 commented on #3265
@tandraschko, that seems like a good solution. Can you check for other components that might suffer from this problem (meaning that they don't render any markup with their default client id) and apply the same solution for them?

[2018-07-09 14:57] tandraschko commented on #3860
works just fine for me.

[2018-07-09 14:58] tandraschko commented on #3859
As it works fine in all versions, just not in Mojarra 2.3, i pinged Arjan and Bauke.
Maybe you can also create a official issue there.
I will close it for now.

[2018-07-09 14:58] #3859 closed, assigned to nobody

[2018-07-09 14:58] tandraschko commented on #3800
Probably the same problem as #3859

[2018-07-09 14:58] #3800 closed, assigned to nobody

[2018-07-09 15:08] erickdeoliveiraleal commented on #3860
Did you first click on button 1 and after 2, and opened selectOneMenu? I  tested in chrome and edge, and the deffect is there using the sample I sent.
![imagem 1](https://user-images.githubusercontent.com/3578953/42458794-d6cd8f48-8370-11e8-9bc3-c14c778bf2c8.png)

[2018-07-09 15:13] tandraschko commented on #3860
the first selectOneMenu works fine, as stated in your description ;) :P

[2018-07-09 15:15] erickdeoliveiraleal commented on #3860
the bug only appear after using PrimeFaces.current().dialog().closeDynamic(i);

[2018-07-09 18:34] tandraschko commented on #3860
I really don't know why this bug happens but #3788 would actually solve exactly this problem.
Could you please also provide the sample for #3788 again?

[2018-07-09 18:54] erickdeoliveiraleal commented on #3860
I deleted the sample. But I believe it was a simple cascaded selectOneMenu

[2018-07-09 19:16] Charlie243 commented on #3858
Melloware,

I checked again on when this bug appeared in the PF releases and, you're right, in the original 6.2 community release the North West unit looks fine.  It's only in the 6.2.1 Elite release that the North West unit fails to appear.  And the latest 6.2.6 Elite release still exhibits this bug.  So the bug appeared between the 6.2 and 6.2.1 releases.

I also checked on the affected browsers

[2018-07-09 21:53] tandraschko commented on #3860
Commited a fix. Please please test again the other cases!

And next time it would be great for simples issues like 3788, if you can post the sample in the issue directly, too.

[2018-07-09 21:53] #3860 closed, assigned to nobody

[2018-07-10 03:48] erickdeoliveiraleal commented on #3860
thanks, tested some pages and it looks ok..

[2018-07-10 04:47] erickdeoliveiraleal opened #3861 "OverlayPanel: dismissable attribute not working in 6.3"
## 1) Environment
- PrimeFaces version: 6.3 SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? yes
- Does it work on the newest sources in GitHub? no
- Application server + version: wildfly
- Affected browsers: all

## 2) Expected behavior

clicking outside overlaypanel  should close it

## 3) Actual behavior

overlayPanel remains opened

## 4) Steps to reproduce

click on

[2018-07-10 04:56] fosorio commented on #1566
Excuse me, but can you clarify if the workaround to close  invalid partial output due to open tags (PrimeExceptionHandler.handleAjaxException) is expected to work for all cases? Why does it perform this specific sequence of actions?:  (I'm using primefaces 6.2, mojarra 2.2.14)
[code]

This breaks the partial response in my case, which doesn't allow an ajax error dialog on the client side to open u

[2018-07-10 07:19] cagataycivici commented on #3578
I've seen this as well and added a fix.

[2018-07-10 07:49] mazenkhalil commented on #3803
I tried this with PFE 6.2.7, it is working well. But I realized another case with Layout itself. When the page reloads (or in case of redirection) the center pane takes full size of page initially then other panels starts to take place after loading page content. With 6.1 version, it wasn't behave like this.

This cause a problem with charts size. As it gets drawn based on full page size, then add

[2018-07-10 08:15] #3578 closed, assigned to huseyinturkmenoglu

[2018-07-10 08:55] Rapster commented on #2449
FYI, on Premium Layouts a tweak is used: https://forum.primefaces.org/viewtopic.php?f=53&t=52269

[2018-07-10 11:16] Grizzlijs commented on #3488
On PF 6.2 update have same issue.. Radio input buttons loses values after error validation.
Right now have quick fixes using js adding values back but it is bad solution.

[2018-07-10 11:35] melloware commented on #3803
@mazen-khalil Can you try adding this to your web.xml and try again?  I just want to see if this fixes it.

[code]

[2018-07-10 11:38] melloware commented on #3858
Yep than fix #3457  is definitely the issue but I needed to make that fix to solve another issue.  https://github.com/primefaces/primefaces/issues/3457 .  Have to think about how I can fix both.

[2018-07-10 13:12] irieill opened #3863 "SelectOneMenu: AJAX forces Edge to jump to top of page"
## 1) Environment
- PrimeFaces version: **6.1**
- Does it work on the newest released PrimeFaces version? Version? **No. 6.2**
- Does it work on the newest sources in GitHub? **No**
- Application server + version: **WildFly 10.1.0.Final**
- Affected browsers: **Microsoft Edge 42.17134.1.0**

## 2) Expected behavior

Scroll position of page should not vary after selection with AJAX enabled SelectOn

[2018-07-10 14:40] tandraschko commented on #3863
deeper analysis and/or PR welcome

[2018-07-10 19:12] mazenkhalil commented on #3803
This makes loading the page more smooth... But chart responsiveness is not working as expected (It may be because I am using bootstrap as well).
I will investigate more about chart responsiveness, if I found something I will issue different ticket.
Thank you for you support!

[2018-07-10 19:12] #3803 closed, assigned to nobody

[2018-07-11 08:59] martin654 opened #3864 "Datatable: toggleSelect not updating datatable component"
## 1) Environment
- PrimeFaces version: 6.2.5 NOT working, 6.2.4 works
- Does it work on the newest released PrimeFaces version? Version? 6.2.6 no
- Application server + version: jetty
- Affected browsers: all

## 2) Expected behavior
On PF **6.2.4** the datatable gets updated on "toggleSelect" event and the example "Action" button (placed in table header) is enabled/disabled regarding any row is

[2018-07-11 09:07] rcroonenberghs commented on #3742
Can you reproduce the problem? Any ideas on how to fix it?

[2018-07-11 09:12] tandraschko commented on #3864
@mertsincan Can you check this? worked in 6.2.4, broken in 6.2.5

[2018-07-11 09:31] huseyinturkmenoglu opened #3865 "Add virtualScroll ajax behavior to DataTable"
Used to hook-in the virtualScroll event.

[code]

[2018-07-11 09:32] #3865 closed, assigned to nobody

[2018-07-11 09:39] tandraschko commented on #3865
@HuseyinTurkmenoglu I set the Label and Milestone for you, please do it next time :)

[2018-07-11 10:46] huseyinturkmenoglu commented on #3865
@tandraschko  I will, thank you :)

[2018-07-11 10:58] irieill commented on #3863
Put a lot of effort in debugging PrimeFaces JS. But so far i am not able to figure out what is the problem. There is one more thing to mention: Selecting the JSF SelectOneMenu after selecting the PrimeFaces SelectOneMenu in the given example, results in the same effect. But only once!

[2018-07-11 14:45] nirodg commented on #1390
I ran into the same issue and I got it running with the next workaround

[code]

[2018-07-11 17:00] eversnarf opened #3866 "Add filterMode attribute to Tree"
## 1) Environment
- PrimeFaces version: 6.2.6
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? Not tried
- Application server + version: Tomcat 8.5.20
- Affected browsers: Firefox, Chrome, Edge

## 2) Expected behavior
When using filtering on a `<p:tree>`, I expect the search to show all matching nodes.

## 3) Actual behavior
When both a

[2018-07-11 21:47] melloware commented on #3864
Feels like it might be this fix that caused the regression: https://github.com/primefaces/primefaces/issues/3683

[2018-07-11 21:50] melloware commented on #3742
@rcroonenberghs Can you just try for me and add to your DialogFramework example:

[code]

Does that make it show up?

[2018-07-11 22:21] melloware commented on #3713
Is this similar or duplicate of this issue?  https://github.com/primefaces/primefaces/issues/2296

[2018-07-12 07:19] rcroonenberghs commented on #3742
@melloware
I tried what you proposed, but it did not fix the problem. (no change in behavior)

I also tried with options.put. But also no fix
options.put("fitViewport", "true");
options.put("responsive", "true");

Roel

[2018-07-12 11:16] melloware commented on #3742
OK thanks for trying that out.

[2018-07-12 12:38] Hamsterbau opened #3867 "UltimaMenu: Primefaces seem to break Primeface Extension menu (used in ultima theme)"
## 1) Environment
- PrimeFaces version: 6.2.2 to 6.2.6
- PrimeFaces Extensions version: 6.2.6
- Does it work on the newest released PrimeFaces version? Version? Nope!
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Don't know :(
- Application server + version: Wildfly 11
- Ultima Theme + version: 1.1.3
- Affect

[2018-07-12 12:42] tandraschko commented on #3867
Duplicate of: https://github.com/primefaces/primefaces/issues/3819

[2018-07-12 12:42] #3867 closed, assigned to nobody

[2018-07-12 12:46] Hamsterbau commented on #3867
Ohh sorry not finding this issue. Should i just delete this one?
And thanks for linking the duplicate, i will view for help there.

PS: Are you the Flash, answering so fast ;D

[2018-07-12 13:59] Kamark opened #3868 "Calendar: Popup on dialog with wrong position"
1) Environment
- PrimeFaces version: PrimeFaces-6.2.6
- Application server + version: Primefaces Showcase
- Affected browsers: Chrome, Firefox

2) Expected behaviour
Correct position of the popup calendar when browser is zoomed in or out

3) Actual behaviour
When a p:calendar component is placed inside a p:dialog the popup shows in a wrong position when this 2 conditions are met:
- Page is zoomed

[2018-07-12 15:27] awenger63 commented on #3551
+1 too : I think it's the same issue with this code on p:dataTable with multiple selection
`<p:ajax event="rowSelect" listener=#{} update"myDataTable" />`
When shft-click, fisrt row always be fisrt line and not previous selected value !
Than it's impossible to update dataTable in this case or to have multiple selection.
Hope this can help to find the best improvement or workaround.

[2018-07-12 22:23] Rapster commented on #3866
If I'm not mistaken, there is a `filterMatchMode` and by default it's `startsWith`, which would explain your problem

[2018-07-13 09:40] eversnarf commented on #3866
Sorry, my sample xhtml was not complete, I did specify ` filterMatchMode="contains"` (otherwise it would not return `Brazil nut`, `Coconut`, etc).

[code]

[2018-07-13 09:41] StevenHachel opened #3869 "Widget not available: InputNumber"
Switch from Primefaces 6.1 / Extensions 6.1.1 to Primefaces 6.2 / Extensions 6.2.7

JavavEE6, Weblogic 12.1.3
artifactId: jsf-api/impl -> groupId: com.sun.faces -> version: 2.1.29-10

Hello,
if I switch to the latest version of Primefaces, I get this error message and the input field is unusable.

This is the header that is generated once ... In Java EE6 there is no way to dynamically regenerate t

[2018-07-13 09:43] tandraschko commented on #3869
This is not a valid issue as it misses all informations. Please use the forum or provide a valid issue.

[2018-07-13 09:43] #3869 closed, assigned to nobody

[2018-07-13 13:12] melloware commented on #3863
@irieill I was just looking forward to the days of never having IE workarounds again so I really hope this is an MS Edge bug and not something we need to begin the era of if (PrimeFaces.isMsEdge()) {...do hack}  :) :) :)

[2018-07-13 13:37] melloware commented on #3858
OK not great but attached is a sample that makes it work.
[primefaces-3858-fix.zip](https://github.com/primefaces/primefaces/files/2192833/primefaces-3858-fix.zip)

Basically all I added was a widget call to show the NorthWest panel when the page is ready.

[code]

[2018-07-14 09:56] ppelzman opened #3871 "avalon theme:tabView panels not displayed with attribute orientation="left""
## 1) Environment
- PrimeFaces version: 6.2
- avalon theme version 1.0.5

## 2) Expected behavior
tabView panels should be dispalyed with any attribute orientation

## 3) Actual behavior
tabView panels not displayed with attribute orientation="left"

[2018-07-14 12:55] tandraschko commented on #3871
Does it work without avalon?

[2018-07-14 13:21] awenger63 commented on #3551
@tandraschko

in listener (on rowSelect), SelectEvent contain the right selection => it's not a client side state.
When data return to the client side, re-rendered save the current row selected, but it's lost the first row id for multiple selection. Only the first !
I thinks it's no need to use coockies, just re-rendered the first selected line in case of multiline option.
I would like to find a w

[2018-07-16 07:32] cnsgithub commented on #3854
@tandraschko Hope that helps: https://github.com/primefaces/primefaces/pull/3872

[2018-07-16 09:16] schlebe opened #3873 "p:commandLink: display is not equal to <h:commandLink> when using value AND icon"
## 1) Environment
- PrimeFaces version: 6.1.17, 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: Glassfish 4.3
- Affected browsers: Chrome / Internet Explorer 11

## 2) Expected behavior

When <p:commandLink> with value attribute and <i> tag (for icon) is displayed; only value is displayed.

[2018-07-16 13:07] #3854 closed, assigned to tandraschko

[2018-07-16 16:35] melloware commented on #3873
OK I was able to replicate it.

![image](https://user-images.githubusercontent.com/4399574/42771295-b788625a-88f4-11e8-9bec-189c09c4419f.png)

Attached is the source:
[primefaces-3873.zip](https://github.com/primefaces/primefaces/files/2198461/primefaces-3873.zip)

However getting rid of renderChildren is not the correct solution I don't think.

[2018-07-16 17:59] stiemannkj1 opened #3874 "Dynamically/Reflectively loaded classes should be included as optional for OSGi"
Certain classes are loaded dynamically (via reflection) in PrimeFaces such as `javax.portlet.PortletRequest` (in [`PrimeExternalContext`](https://github.com/primefaces/primefaces/blob/6_2/src/main/java/org/primefaces/context/PrimeExternalContext.java#L52-L53)):

[code]

The packages for these classes should be imported for OSGi purposes as optional packages to ensure that PrimeFaces will have acce

[2018-07-16 18:20] melloware opened #3875 "Ajax: Escaping XML properly for control characters"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Application server + version: Jetty
- Affected browsers: All

Attached is a reproducible test case:
[primefaces-xml.zip](https://github.com/primefaces/primefaces/files/2198829/primefaces-xml.zip)

Input a form feed character ("/f" in java or 0x0C in hex) into a request that is handled via ajax it causes the ajax request to fail because the xml

[2018-07-16 18:33] melloware commented on #3875
As a note we have `ComponentUtils.escapeXml()` which is pretty bare bones and we have `XmlUtils.escapeXml()` which is more comprehensive.  I think we had talked about in the past why the Ajax response writer uses the simpler one but I can't remember why.

[2018-07-16 19:12] stiemannkj1 commented on #3874
Fixed by: https://github.com/primefaces/primefaces/pull/3870

[2018-07-16 19:12] #3874 closed, assigned to nobody

[2018-07-16 23:02] Charlie243 commented on #3858
Melloware,

Thanks for the workaround!  I hope a fix to PF itself can be done at some point.

I've used this exact layout configuration with PF since version 3.1 and never had a problem with it before.  Was there some major change to the PF 6 codebase that makes the layout component difficult to support in the most recent PF versions?  Is that why layout is deprecated in PF 6?

Also, will PF Exten

[2018-07-16 23:28] melloware commented on #3858
Charlie,

1. The big change was moving from Jquery 1 to Jquery 3 for all the security fixes caused us to have to upgrade the Jquery Layout component which hadn't been updated in 6 years.

2. PrimeTek has deemed the Layout not needed and you should just use Responsive CSS for your layouts instead of the component so that I believe is why they are deprecating it (Note: I don't work for PrimeTek)

3.

[2018-07-16 23:47] Charlie243 commented on #3858
Melloware,

Thanks for the info.  It's very helpful.

I know the Layout component is considered "old-fashioned" but it suits my needs perfectly -- and I'd rather not go to the work of replacing something that's working fine for me right now.  My guess is that there are other PF users who are in the same situation and will not be happy when they discover Layout is deprecated.

Anyway, I'm very glad

[2018-07-16 23:56] melloware commented on #3858
Yep I use it too but I use the Extensions version.  It suits my needs as well.

[2018-07-17 04:03] marembo2008 opened #3876 "<p:commandLink/> and <p:ajax event="tabChange"> cannot handle ajax-redirect request"
## 1) Environment
- PrimeFaces version: 6.0,6.1,6.2
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No (6.3-SNAPSHOT)
- Application server + version: Wildlfy 10.0.0-FINAL, jsf-api 2.2
- Affected browsers: Chrome, Firefox

## 2) Expected behavior
When

[2018-07-17 06:15] tandraschko commented on #3876
Plesse provide an runnable example as requested by the issue template.

[2018-07-17 07:31] tandraschko commented on #3875
Where does the parse error come from? normally JSF renders the content in CDATA?!

UPDATE: our callback params :D

[2018-07-17 07:38] tandraschko commented on #3875
What happens if we would render it inside CDATA?

[2018-07-17 08:20] tandraschko commented on #3876
At best you can fork the primefaces-test project.

[2018-07-17 09:18] mertsincan commented on #3864
Hi @martin654,

I couldn't replicate this issue with 6.2.5 and 6.2.6. My test video; https://www.dropbox.com/s/geikjtraczudkv6/test.avi?dl=0

[2018-07-17 09:28] marembo2008 commented on #3876
After further investigation, discoverred that ajax is unable to handle properly, responses which are not in the range of `2XX`, and this works if the response is `200`. Either this is a technicall limitation of jsf, or ajax, but it is better to clarify.

For now, i will close this issue as not necessary.

[2018-07-17 09:28] #3876 closed, assigned to nobody

[2018-07-17 09:31] tandraschko commented on #3876
IMO it's a bug if it works fine with f:ajax, but not with p:ajax.
We use jquery AJAX under the hood, maybe we need to set a flag to allow it.

[2018-07-17 10:29] schlebe commented on #3873
Ok, you have same display as mine.

But I think that what I propose is the good solution.

It is not the best solution because <h:commandLink> as a little issue : it display an empty underscored space character between VALUE attribute and icon. I have tried in replacing VALUE by a <span> at same level than <i> but I have observed same problem.

In fact, I have tried a lot of combinaison and only o

[2018-07-17 10:40] adjiandov commented on #2382
I would just like to add that I have simmilar, but opposite problem. I get the same exception, but the component exists in the HTML DOM with the same ID for which the exception is thrown. Any ideas?

[2018-07-17 11:28] melloware commented on #3873
Let me do some experimentation and see what I can do.

[2018-07-17 11:32] melloware commented on #3875
Just more investigation here is what FireFox reports.

[code]

But the text "can you see this" is not displayed in the tab.  And the XXX is actually a control character displayed with a "dot" but not copied correctly when I tried to copy and paste.

[2018-07-17 11:37] #3771 closed, assigned to mertsincan

[2018-07-17 11:38] martin654 commented on #3807
@tandraschko Could this be merged into 6.2.x Elite version?

[2018-07-17 11:41] tandraschko commented on #3807
thats up to @mertsincan
as it's more a new behavior instead of a bugfix, i wouldn't do it probably.

[2018-07-17 11:42] tandraschko commented on #3875
Ok, so we must escape it and rendering it inside CDATA doesn't help, right?

[2018-07-17 11:47] melloware commented on #3875
So far the CDATA doesn't look like it works.  It escapes it but it somehow breaks the browsers parsers anyway for rendering.  I am trying a couple of things.

[2018-07-17 12:07] melloware commented on #3875
OK nothing I have tried so far has fixed the issue.  What we really need is the PrimePartialWriter to do this for every character it processes like our XMLUtils does...
[code]
I am wondering if it is related to this issue:  https://github.com/primefaces/primefaces/issues/3629

[2018-07-17 12:13] #1529 closed, assigned to nobody

[2018-07-17 12:13] #844 closed, assigned to nobody

[2018-07-17 12:14] #845 closed, assigned to nobody

[2018-07-17 12:18] melloware commented on #3873
OK tested your fix and submitted a PR: https://github.com/primefaces/primefaces/pull/3877

[2018-07-17 12:31] #3873 closed, assigned to nobody

[2018-07-17 13:39] stiemannkj1 opened #3878 "PrimeFaces cannot find default message bundles when deployed as an OSGi bundle"
Getting messages from the default `ResourceBundle`s fails in an OSGi environment because the default `ResourceBundle`s cannot be found. For example, the following calls will return `null` when called from an OSGi WAB or bundle that depends on the PrimeFaces bundle:

[code]

The reason these calls return `null` because `MessageFactory` uses the `Thread.currentThread().getContextClassLoader()` to lo

[2018-07-17 13:40] stiemannkj1 commented on #3878
I can't self-assign this issue, but I'm planning on sending a fix for this today.

[2018-07-17 13:58] melloware commented on #3878
@stiemannkj1 That is what I do I usually say "PR to follow" at the bottom of my issue.  Nice work pioneering all this OSGI stuff!

[2018-07-17 16:07] stiemannkj1 opened #3879 "Remove Liferay detection"
Liferay detection in PrimeFaces was only necessary to support PrimeFaces push. It can be safely removed.

[2018-07-17 16:07] stiemannkj1 commented on #3879
PR Forthcoming.

[2018-07-17 16:17] stiemannkj1 commented on #3878
Thanks @melloware :) I've actually got PrimeFaces 6.2 working with OSGi, but it requires bytecode weaving (basically an elegant, relatively safe hack). If #3880 is merged, PrimeFaces 6.3 should work in OSGi without any hacks.

[2018-07-17 18:13] melloware opened #3881 "InputTextArea: AutoComplete Not Working"
## 1) Environment
- PrimeFaces version: 6.2.6
- Does it work on the newest released PrimeFaces version? NO
- Does it work on the newest sources in GitHub?NO
- Application server + version: Showcase
- Affected browsers: All

## 2) Expected behavior

InputText Area with AutoComplete should show AutoComplete items.

## 3) Actual behavior

No AutoComplete items are appearing.

## 4) Steps to reproduce

[2018-07-17 19:04] melloware commented on #3881
Reported through my PRO account.

[2018-07-17 23:45] melloware opened #3882 "[Documentation] Current Spelled Wrong on Page 416"
Page 416 of Guide 6.2.

Current is spelled with 3 R's.

[code]

[2018-07-17 23:51] melloware opened #3883 "[Documentation] Dialog Framework Missing Attributes"
The following attributes are missing from the user guide 6.2 for Dialog Framework.

minWidth
minHeight
appendTo
dynamic - default false
showEffect
hideEffect
position
fitViewport - default false
responsive - default false
onHide
onShow

[2018-07-18 06:27] schlebe commented on #3662
Hello Tandraschko, I have found what happens and I can explain it for a future correction :-)

First of all, because the message I receive is
Message: com.goodyear.tlga.postLabelling.dto.PostLabellingOriginatorUser cannot be cast to java.lang.String

I have added a ToString() method to PostLabellingOriginatorUser class like this
[code]
Then I have tested my HTML code using pure JSF tags like this

[2018-07-18 06:43] martin654 commented on #3864
Hi @mertsincan,
that is not possible :) my colleague tried the reproducer too and the behavior is the same as reported :(
Could you please test it again, possibly try mvn clean install before mvn jetty:run-exploded ?

Thank you,
Martin

[2018-07-18 08:40] adjiandov commented on #819
Hello, I am using primeface-elite 6.1.4 and I am facing similar issue. My case is that a component with that clientId actually exists (I can see it in the HTML DOM), but the exception is thrown. In more detail I am trying to update "sibling Form" Composite component from a separate form within a Dialog, on the dialog button click.

The template in a shorter version looks like this:

`<h:form>`
` <

[2018-07-18 11:05] melloware commented on #819
@adjiandov Can you please post more it does not look like you are using the proper ID in your requestcontext update.  For example..
[code]

Then in RequestContext.update you would need to use `RequestContext.getCurrentInstance().update("frmTest:myComp");`

[2018-07-18 11:07] melloware commented on #3662
@Rapster I think the issue is editable="true" and is related to this: https://github.com/primefaces/primefaces/issues/3791

[2018-07-18 12:36] cnsgithub commented on #3505
Created a PR, see https://github.com/primefaces/primefaces/pull/3884 for further information...

[2018-07-18 13:31] mertsincan commented on #3881
Fixed for 6.2.8. It works fine with 6.3-SNAPSHOT.

[2018-07-18 13:31] #3881 closed, assigned to mertsincan

[2018-07-18 16:53] jpangamarca commented on #2269
I agree with @Dragonsol  and @f-r-a-n-s , there are valid use cases for subtables and creating flat lists is not an option in many cases.

[2018-07-18 16:58] jpangamarca commented on #1950
Subtables should not be deprecated, there are many valid use cases that are not satisfied with the modeling that row grouping requires, e.g. when children objects in a list in the parent object don't have a reference to the parent. Creating flat lists duplicates information.

[2018-07-18 17:33] stiemannkj1 commented on #3519
@kukel, @cnsgithub I've sent a PR that changes this code a bit in order to validate the rows per page even when `rowsPerPageTemplate` is `null`. I tested the changes thoroughly, but you still may want to review my changes since this is a security related issue: https://github.com/primefaces/primefaces/pull/3885

[2018-07-19 11:48] Rapster opened #3887 "Tree/TreeTable: List not supported as a selection type"
Selection in `p:tree` only support arrays but not list (while datatable does)

[2018-07-19 14:30] firsthour commented on #3506
Did this change already sneak into 6.2.6? We got hit by this unexpectedly because we were erroneously using "url" attribute instead of "outcome".  I saw no note of this when I was looking at what changed from 6.2.5 to 6.2.6.

https://github.com/primefaces/primefaces/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+label%3A6.2.6+

Code in 6.2.5:
`url = prependContextPathIfNecessary(context, href);`

[2018-07-19 14:39] Helveticus opened #3888 "core.widget.js: refreshListener undefined exception thrown in refresh()"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-07-19 14:57] scottmutchler commented on #3411
I would like to fund this feature.  How do I make this happen?

[2018-07-19 20:06] tandraschko commented on #3411
https://www.primefaces.org/support/

[2018-07-19 20:07] tandraschko commented on #3506
AFAIR it was merged, yes.

[2018-07-19 20:10] #3888 closed, assigned to nobody

[2018-07-20 05:51] schlebe commented on #3791
@Melloware: I have changed my issue's title before reading your comment here.

I can say that this error already exist with Primefaces 6.3-SNAPSHOT.

In #3662 issue, I have documented that String displayed when editable="true" is different from String displayed when editable="false", because ToString() function of Object (not Conerter) is used when readable="true" instead of getAsString() function

[2018-07-20 06:24] schlebe commented on #3662
The answer to my question about difference between "#{converter}" and "converter" is well documented by Balus on [https://stackoverflow.com/questions/27354994/difference-between-converter-entityconverter-and-converter-entityconverter/51436237](https://stackoverflow.com/questions/27354994/difference-between-converter-entityconverter-and-converter-entityconverter/51436237)

[2018-07-20 06:38] cnsgithub commented on #3662
@schlebe Invalid link -> HTTP 404

[2018-07-20 08:21] GedMarc commented on #3138
It's an interesting turn of events, Atmosphere Push is kind of gone in in favor of the JDK built Web Sockets jdk.incubator.httpclient, So it's not PrimeFaces, but closer to not keeping up with the tech, the removal is **mandatory**. Any form of "keeping it" is incorrect either in your applications or in the base framework.

Atmosphere seems to have taken a "spring-boot" only option which kills pre

[2018-07-20 11:22] schlebe commented on #3662
Thanks, I have forgotten to fill (url) in my post. Now it is corrected.

[2018-07-20 12:56] pedrodelgado81 commented on #3864
I have the same behavior

Code sample:
[code]
When I click in selectallCheckbox I've got this javascript error and no action launched:
[code]

[2018-07-20 14:11] svrolanski opened #3889 "MenuItem: customize request"
Primefaces 6.2 / Mojarra 2.2.17 /Apache Tomcat 8.5

I'm trying to create a "Favorite" and "Unfavorite" link inside a menuitem:

[code]
The result:
![image](https://user-images.githubusercontent.com/11948718/43006707-c5008e56-8c0c-11e8-8f17-463d999f4a49.png)
[code]
Expected: (I simply moved the tags in Google Chrome)
![image](https://user-images.githubusercontent.com/11948718/43006788-febb39e8-8c0c

[2018-07-20 15:41] marcdas commented on #3437
Este defeito ja foi corrigido?
Estou com o mesmo problema e não sei resolver.

[2018-07-20 15:42] marcdas commented on #3437
Has this been fixed yet?
I have the same problem and I do not know how to solve it.

[2018-07-20 16:30] melloware commented on #3437
It was fixed in PF 6.2.6 so if you are an Elite member you can download it.  Or you can build the JAR from the GitHub source!

[2018-07-20 20:40] svrolanski commented on #3889
I tried this and something was not allowing nested commandlink, it doesn't make sense anyway.
[code]
I was able to do what I wanted, but had to create a custom TieredMenuRenderer.
[code]
I want to suggest this change, if there are children components render them directly skipping menuitem encoding. It would make customization of menuitem much easier.

[2018-07-21 04:05] marcdas commented on #3437
melloware, thank you very much for your attention.
I do not have so much experience in this procedure.
When doing the clone in the eclipse appeared the problem below:
If not ask too much, can anyone give me some guidance this.

- In the marketplace entries found to handle maven-jsf-plugin: 1.3.3-SNAPSHOT: generate-components in Eclipse.
- In the marketplace entries found to handle maven-jsf-plugin

[2018-07-21 14:35] melloware commented on #3437
Here are the instructions you need to build from source: https://github.com/primefaces/primefaces/wiki/Building-From-Source

[2018-07-21 19:18] melloware commented on #3889
I don't understand why you are using a CommandLink and not just the menu item itself...

Is it because you want the bean.navigateSomewhere and bean.addFavorite to both execute?

[2018-07-21 19:26] svrolanski commented on #3889
Explained in my first post, maybe not clear enough.
I want the user to be able to bookmark menuitems, and those menuitems will appear in another quick access menu.

This request would be good if you want to add secondary functions to the menuitem or to fully customize the menuitem itself.

I tested a bit further and didn't get it to work 100% yet, hopefully will have a working version by Tuesday.

[2018-07-21 19:29] melloware commented on #3889
I think what you are trying to do is having a single menu item but the user can bookmark it by clicking on the "star icon" while the menu is open.  To me that seems like a confusing UI but I understand what you are trying to do now.

[2018-07-21 19:31] svrolanski commented on #3889
Exactly.

[2018-07-22 04:55] krichter722 opened #3891 "MenuGroup: MenuGroup.getElements's return value should be List<MenuElement>"
## 1) Environment
- PrimeFaces version: 6.2, 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No.
- Application server + version: ---
- Affected browsers: ---

## 2) Expected behavior

The `elements` property of `MenuGroup` shoul

[2018-07-23 10:50] #3891 closed, assigned to nobody

[2018-07-23 11:23] tandraschko opened #3892 "Remove deprecated p:component/widgetVar"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-07-23 12:26] lukaszdebowski commented on #2049
Remove scroolable and add div with style="overflow: auto;" - saved my day, thank you! :)

[2018-07-23 13:29] tandraschko commented on #3861
works fine.

[2018-07-23 13:29] tandraschko commented on #3861
setting it to true, hides the panel when clicking outside. setting it to false doesn't close it.

[2018-07-23 14:15] Helveticus opened #3893 "ClientId Resolution: Option to log not throw unresolvable client id"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-07-23 14:25] tandraschko commented on #3893
I'm not sure if i will do this.
It's not a security problem as exceptions should be never printed directly to the UI for endusers.

For me this are real issues as the view doesn't match the update attribute anymore and should be fixed.

[2018-07-23 14:27] svrolanski commented on #3889
Ran into another problem with generateUniqueIds method:
[code]
[code]
Shouldn't this check if the ID is already set before setting it?

EDIT: I'm trying to create the menu programmatically from database records, it is static after that.
DefaultMenuItem does not accept children, so I cannot add couple of commandlinks (star and the link to item itself) or whatever I want to it. So I was trying to us

[2018-07-23 14:38] tandraschko commented on #3784
The problem is that the footerHeight in fitViewport method is not calculated correctly as jquery returns 0.
A fix via PrimeFaces PRO would be great, i tried it fixing it 30 mins but no idea for now.

[2018-07-23 14:55] melloware opened #3894 "Poll: Fix "stop" attribute to not start polling if true"
Looking in the poll.xml which generates the documentation for the component is this:

        <attribute>
            <name>stop</name>
            <required>false</required>
            <type>java.lang.Boolean</type>
            <defaultValue>false</defaultValue>
            <description>Stops polling when true.</description>
        </attribute>

I cannot find anywhere this property is actually

[2018-07-23 15:00] melloware opened #3896 "[Documentation] Poll remove "stop" attribute"
Poll no longer supports Stop attribute it has an autoStart attribute.

[2018-07-23 15:05] tandraschko commented on #3894
It's used actually ;) See Poll#broadcast

[2018-07-23 15:06] #3622 closed, assigned to nobody

[2018-07-23 15:06] melloware commented on #3894
Hmm then we are seeing some really strange behavior using stop then.  will investigate further.

[2018-07-23 15:06] #3896 closed, assigned to nobody

[2018-07-23 15:06] tandraschko commented on #3622
You can use now:
<p:ajax event=filter onsucess=.... />

[2018-07-23 15:07] tandraschko opened #3897 "[Documentation] Tree: filter behavior"
We added a filter client behavior: #3622

[2018-07-23 15:07] melloware commented on #3894
Now that I think about it would be that broadcast has to happen once first before it stops?   Because we are seeing are EL evaluation to stop="true" and the page renders and fires the poller.

[2018-07-23 15:08] tandraschko commented on #3894
Maybe, but removing it is no solution ;)
if "stop" evaluates to true, the polling should stop.

[2018-07-23 15:09] tandraschko commented on #3894
Probably, yes.

[2018-07-23 15:12] melloware commented on #3894
Got it.  I removed my PR you are right I didn't see the broadcast.

[2018-07-23 16:40] melloware commented on #3894
I think I can fix this a different way to work on initialization as well. Will send PR for review.

[2018-07-23 19:00] svrolanski commented on #3889
This is the custom renderer:
[code]
So, I tried two ways to build the menu programmatically, rendering works but actions doesn't;:

1) MenuModel to <p:tieredMenu>, had to create custom models with not null seed (see post above for reason and exception info):
[code]
[code]
2) Binding <p:tieredMenu> to bean property and adding to getChildren(), to me this seems pretty much the same as static declare

[2018-07-23 19:51] #3673 closed, assigned to nobody

[2018-07-23 20:32] tandraschko commented on #3265
@stiemannkj1 Could you give it a try?

[2018-07-23 20:37] tandraschko commented on #3265
Fuck, that doesn't work with MOVE_SCRIPTS_TO_BOTTOM
we have to find another solution

[2018-07-23 20:42] svrolanski commented on #3889
I got it working with binding, had @RequestScope instead of @SessionScope on bean. I believe the problem when using the MenuModel is the that the MenuItems are not actually in the JSF tree (in getChildren()), thus the actionListener is never called. I will try to use the binding mode on my webapp.

I hope you guys implement this customization for the MenuItem in a near future.

[2018-07-23 20:51] tandraschko commented on #3265
We render a dummy markup now.

[2018-07-23 20:51] #3265 closed, assigned to nobody

[2018-07-23 21:00] tandraschko commented on #1437
I don't have time for it, too as there are issues with much more prio for me.

I would call the attribute "mode", which represents an ValueExpression.
On rendering we should get the value there and decide if input or output is the first facet to show.
When switching the mode, i would fire an ajax request (only if there is a behavior registered for and "mode" is defined) and write the new mode back

[2018-07-23 21:17] #3894 closed, assigned to nobody

[2018-07-23 23:26] erickdeoliveiraleal commented on #3861
Sorry. I added a new code, can you test it? I can see the bug now. Only occurs with update=something.

[2018-07-24 07:15] tandraschko commented on #3861
Next time pls test it before you create the issue.

[2018-07-24 07:42] tandraschko commented on #3861
works just fine.

[2018-07-24 08:24] tandraschko commented on #3544
I'm also working on something similar currently at my company.
If it's ready, i will make it open source and provide support for ~10 components.
Community can enhance it then.

[2018-07-24 08:28] tandraschko commented on #3532
No example -> invalid

[2018-07-24 08:28] #3532 closed, assigned to nobody

[2018-07-24 08:43] krichter722 commented on #3544
@tandraschko Wouldn't it make more sense to work on the existing https://github.com/omnifaces/arquillian-primefaces? It provides a large set of support already. Starting a separate project seems to re-invent parts of the wheel.

I'm closing this since the problem is solved with arquillian-primefaces for me.

[2018-07-24 08:45] euanmat opened #3899 "monitorDownload: Download monitoring won't close"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-07-24 08:48] tandraschko commented on #3899
Please provide a runnable example, we don't have your exporterController.
You can also reuse beans from the showcase.

[2018-07-24 08:49] tandraschko commented on #3544
The usage is completely different
OmniFaces just provides some helper methods
our code is more like your idea
@FindBy(id=)
private CommandButton button;

[2018-07-24 08:52] krichter722 commented on #3544
@tandraschko Ah, great! Looking forward to it. Then I'll reopen the issue and let you close it with a commit message or manually.

[2018-07-24 08:58] tandraschko commented on #3544
We can also close it :D
i think i will add the prototype in PFE and then lets review and talk about the future of it.

[2018-07-24 08:58] #3544 closed, assigned to tandraschko

[2018-07-24 10:14] brunoaandrade opened #3900 "Messages: attribute "for" don´t work"
## 1) Environment
- PrimeFaces version: 6.2

## 2) Expected behavior
attribute "for" in Messages should only update component with respective id

## 3) Actual behavior
attribute "for" in Messages don´t work. The component never works with the attribute "for"

..

## 4) Steps to reproduce

..

## 5) Sample XHTML

[code]

## 6) Sample bean

[code]

[2018-07-24 10:27] brunoaandrade commented on #3900
The attribute "for" is the "clienteId" parameter in addMessage?
FacesContext.getCurrentInstance().addMessage("id1", new FacesMessage(FacesMessage.SEVERITY_INFO, "Info", "PrimeFaces Rocks."));

[2018-07-24 10:38] tandraschko commented on #3900
Pls use the Forum first If you dont know how to use IT.

[2018-07-24 10:38] #3900 closed, assigned to nobody

[2018-07-24 17:07] Rapster commented on #3887
That's a lot of effort... The existing support of arrays in Tree/TreeTable make that task quite difficult as I need to check/convert (or not) into a List. Datatable is much more simple in that sense.

My guess would be to drop support of arrays since there is a better type that make things much more simpler: List<T>

[2018-07-24 18:41] melloware opened #3901 "Datatable: AddRow on lazy table duplicates values from last row."
Based on this stack overflow:  https://stackoverflow.com/questions/51485413/is-primefaces-addrow-feature-compatible-with-lazyloading-datatable

## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: Test App Provided
- Affected browsers: ALL

## 2) Expected behavior

[2018-07-24 18:44] melloware commented on #1169
@jxmai I was able to reproduce this issue using lazy.  created an reproducible test case in this ticket.  https://github.com/primefaces/primefaces/issues/3901

[2018-07-24 19:16] mores opened #3902 "Datatable: add FilterableHeaderOnReflow"
## 1) Environment
- PrimeFaces version: 6.2.7
- Does it work on the newest released PrimeFaces version? Version? No. 6.2.7
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: apache-tomcat-8.5.27
- Affected browsers: all

## 2) Expected behavior
When a datatable is filtered and the t

[2018-07-25 07:08] Rapster commented on #99
@tandraschko Do you have a clue how to fix this? I must say I don't know why ajax is not working, `pfconfirmcommand` looks good to me...

[2018-07-25 08:51] tandraschko commented on #99
No idea sry, i would have to check the implementation details of p:confirm.

[2018-07-25 11:43] melloware commented on #3901
Thanks to @mertsincan I was able to get the issue resolved by adding the following to my code in between the START and STOP:

[code]

[2018-07-25 11:51] melloware commented on #3899
@euanmat see this ticket for a good example on how to provide a "runnable" sample so we can debug.  https://github.com/primefaces/primefaces/issues/3901

[2018-07-25 16:08] euanmat commented on #3899
As suggested, I have used the example above to deliver a sample.

[primefaces-3899.tar.gz](https://github.com/primefaces/primefaces/files/2228581/primefaces-3899.tar.gz)

I hardly tried to find the case reproducing the problem with this sample, but there is something missing that I can't figure out.

The sample still shows that a cookie with "true" value is created for each download.
But I can't s

[2018-07-25 19:13] jxmai commented on #1169
I could replicate the same behaviour using the provided sample, but it looks like there is workaround available :thinking:  (https://github.com/primefaces/primefaces/issues/3901#issuecomment-407725818). Is it documented anywhere else ?

[2018-07-25 19:34] melloware commented on #1169
Not documented that I know of, I got that working fix from Mert but I would have had no idea that was how to make it work.

[2018-07-25 20:27] jxmai commented on #1169
Alright, thanks for the info :+1: . Yes, TBH without looking into the implementation,  at first glance I had no idea how that two lines of code could be related to the issue :smiley:

        lazyModel.setWrappedData(lazyModel.datasource);

but it looks like lazyModel needs to be manually updated to reflect the latest data.

I don't really use lazy model that much but we may need to review a bit l

[2018-07-26 07:01] mertsincan opened #3903 "Add updateModelOnPrev attribute to Wizard"
If yes, the model will be updated when the "Back" button is clicked. Default is false.

[2018-07-26 07:02] #3903 closed, assigned to mertsincan

[2018-07-27 02:37] rharerhare opened #3905 "DataList: Conditionally rendered command button in dataList doesn't work"
## 1) Environment
- PrimeFaces version: 6.2.7
- Does it work on the newest released PrimeFaces version? No - Latest Elite version
- Does it work on the newest sources in GitHub?  Unknown
- Application server + version: Wildfly 10.1.0.Final
- Affected browsers: Chrome 67.0.3396.87, Firefox 52.8.0
## 2) Expected behavior:
Pressing a conditionally rendered command button will call the actionListener.

[2018-07-27 05:52] tandraschko commented on #3544
Very early prototyepe incl test project: https://github.com/tandraschko/primefaces-arquillian

[2018-07-27 07:23] mertsincan commented on #3422
Fixed for 6.2.8.

[2018-07-27 07:23] #3422 closed, assigned to mertsincan

[2018-07-27 09:05] huseyinturkmenoglu opened #3906 "New Component: ToggleSwitch"
ToggleSwitch is used to select a boolean value.
Note: ToggleSwitch is a new generation switcher. This component is similar to inputSwitch component. However, toggleSwitch is better than inputSwitch in performance. ToggleSwitch is created using the power of CSS instead of calculating some Css properties such as width and height. The example CSS switcher; https://www.w3schools.com/howto/howto_css_sw

[2018-07-27 20:38] stiemannkj1 commented on #3879
Subtask of https://github.com/primefaces/primefaces/issues/3385

[2018-07-27 21:03] #3878 closed, assigned to nobody

[2018-07-27 21:03] #3879 closed, assigned to nobody

[2018-07-29 17:30] krichter722 opened #3912 "Poll: Allow value binding of interval to java.time.Duration"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No. 6.3-SNAPSHOT
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No.
- Application server + version: Payara 5.182
- Affected browsers: ./.

## 2) Expected behavior

It'd be nice if one could s

[2018-07-29 22:04] mdzaebel opened #3913 "TreeTable: Fixed number of columns in ui:repeat"
## 1) Environment
- PrimeFaces version: 6.2 (All)
- Application server: WildFly 11 (Java EE 7)
- Affected browsers: All

## 2) Expected behavior
Columns of second TreeTable should have the additional colum (5).

## 3) Actual behavior
Dynamic columns of TreeTables within ui:repeat all have the same number of columns, determined by the **first** TreeTable. The same construct with DataTable works as

[2018-07-30 04:59] edudoda opened #3914 "Calendar: locale is ignored after move to another page"
## 1) Environment
- PrimeFaces version:  6.2
- JSF: 2.1 (2.1.29-08)
- Server version:       Apache Tomcat/8.0.0

## 2) Expected behavior
I use [Primefaces.locale](https://code.google.com/archive/p/primefaces/wikis/PrimeFacesLocales.wiki) to translate the labels of a calendar. When I call a bean that send me to another page without `?faces-redirect=true`  (after the end of the URL  in return comman

[2018-07-30 06:39] tandraschko commented on #3914
Please don't ignore this from our issue template:
- Otherwise the example must be as small and simple as possible! It must be runnable without any other dependencies (like Spring,..., or project/company internal classes)!

Can you check if the locale is correct in the 'PrimeFaces.settings.locale' variable? It should be rendered in the head,

[2018-07-30 07:37] #3871 closed, assigned to nobody

[2018-07-30 09:07] #3906 closed, assigned to mertsincan

[2018-07-30 09:10] Rapster commented on #3906
Does it mean inputSwitch will be deprecated?

[2018-07-30 09:36] pizzi80 opened #3916 "p:fileUpload: Exception if one or more filenames has a '%' character"
This is the exception:
javax.servlet.ServletException: URLDecoder: Illegal hex characters in escape (%) pattern - For input string: ".j"

This is the stacktrace:

Caused by: java.lang.IllegalArgumentException: URLDecoder: Illegal hex characters in escape (%) pattern - For input string: ".j"
at java.net.URLDecoder.decode(URLDecoder.java:194)
at org.primefaces.model.NativeUploadedFile.decode(NativeU

[2018-07-30 11:35] melloware commented on #3916
Here is the original ticket where we fixed a bunch of issues with filenaming:  https://github.com/primefaces/primefaces/issues/3034

I don't remember anyone calling out % as a valid file name character but I guess it could be.

[2018-07-30 13:03] mdzaebel commented on #3913
In my case, workarounds with c:forEach are impossible, as I have changing number of treeTables within postbacks. So, if you have any idea, to workaround this issue, it would be appeciated. For me, this issue is a showstopper, but certainly not for others. If I could help you in any way (even coding), feel free to ask me. Is there a developer documenation that enables me to dig into the relevant so

[2018-07-30 13:18] tandraschko commented on #3913
Sorry, there isn't.
You can also try p:repeat, which is forked from Mojarra and contains a small bugfix,

If this doesn't help, i suggest to use PrimeFaces PRO to get a fix. This code (our UIData, Tree and Mojarra/PF repeat) is quite complex.

[2018-07-30 13:48] martin654 commented on #3864
**Changed:** I see JS error in my case too. Original: I do not have any JS error in my case.
[code]

The ajax request is processed by server, but nothing is upadetd (no DOM elements sent to client from server) no matter what I do.

I tried to add this line into TestViewCdi.fooAction() method:
`PrimeFaces.current().ajax().update("form");`
and the result is that the datatable disappears from page on

[2018-07-30 14:51] mdzaebel commented on #3913
I already tried p:repeat, unfortunately with the same result. Thanks for the tips. I'll consider them.

[2018-07-30 15:33] edudoda commented on #3914
Yes it is present in both pages (source and destination page), In head I can see:  `<script type="text/javascript">if(window.PrimeFaces){PrimeFaces.settings.locale='pt_BR';}</script>` , and in console, 'PrimeFaces.settings.locale' prints pt_BR.

Strange is that if I type the page URL direct in browser, or with '?faces-redirect=true' when comming from Bean,  it works fine! .... by now I downgraded

[2018-07-30 16:07] Rapster opened #3917 "DataTable: preselection does not take account "disableSelection""
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> No https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Tomcat 8
- Affected browsers: All

## 2) Expected behavior
 Scenario is as such:

- DataTable containing a bunch of da

[2018-07-30 20:12] VaazhgaV commented on #3901
Thanks melloware. The solution above didn't help in my case. I modified the sample code to demonstrate the issue (with multiple pages). It is attached here. When Add Row button is clicked while on the first page, a duplicate row is added in the first page and a blank row is added on the last page. It seems like a bug and Add Row in Lazy datatable only works on Last page?

Also in real application,

[2018-07-30 20:14] melloware commented on #3901
Your use case definitely might be more complicated as you are manipulating the list as you are adding to it (database paging) and inserting new records into the database.  I can see how the Add Row would be confused.   There are probably deeper issues with the lazy datatable and AddRow that need to be resolved.

[2018-07-30 20:38] tandraschko commented on #3914
As i said, please provide a fully runnable example or fork primefaces-test project, otherwise it's hard to test it.

[2018-07-31 08:53] martin654 commented on #3864
I just found out the difference between the two requests (6.2.4 vs 6.2.5) on toggle select:

The difference is in those two parameters are added to the request in the new version:
[code]

I think this is related to issue: https://github.com/primefaces/primefaces/issues/3743
And it's changeset: https://github.com/primefaces/primefaces/commit/ad5ed51a2f391694427efa29306ae5aebd7fd342#diff-265f44d9cad

[2018-07-31 11:10] martin654 commented on #3864
I tried to compile from source for all commits related to DataTable in PF 6.2.5:

- https://github.com/primefaces/primefaces/issues/3584
- https://github.com/primefaces/primefaces/issues/3683
- **https://github.com/primefaces/primefaces/issues/3743**

And it stopped working in the **third** case with commit ID:  ad5ed51

To be sure I tried also "previous" commit to ad5ed51 and it works here. I am

[2018-07-31 12:13] martin654 commented on #3864
@mertsincan could you please check again? thank you

[2018-08-01 13:08] martin654 opened #3919 "Datatable: sorting doesn't update header checkbox when checkAllToggler used"
## 1) Environment
- PrimeFaces version: 6.2.6
- Does it work on the newest released PrimeFaces version? Version? 6.2.6 NO
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Not working on 6.3-SNAPSHOT
- Application server + version:
- Affected browsers: all

I have a p:datatable component with
<p:column selectionM

[2018-08-01 13:11] martin654 commented on #3919
Fixed here: https://github.com/martin654/primefaces/commit/e7445de035f01496b196216934548d1604d7c177

Created pull request: https://github.com/primefaces/primefaces/pull/3920

[2018-08-01 14:22] cljk commented on #2086
I have the same problem.

Tried Primefaces 5.3 and 6.2 (community) on Wildfly 8.2

I have on one JSF-View three `commandButton`s with dialogs and attached p:ajax "dialogReturn"-Elements. Two of the three are working - the last one NOT.
It loads the areas which should be updated (see that in developer console of browser) but does not call the listener before or after that.
I cross-/double checked a

[2018-08-01 14:23] krichter722 opened #3921 "SlideMenu: is only displayed once if the p:commandLink trigger has an AJAX update itself"
## 1) Environment
- PrimeFaces version: 6.2, 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No. 6.3-SNAPSHOT
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No.
- Application server + version: Payara 4.1.2.181
- Affected browsers: Chrome

## 2) Expected behavior

The user should

[2018-08-01 14:39] cljk commented on #2086
"solved" that in a dirty way.
Calling with `p:ajax` a `p:remoteCommand` and calling there the actionListener. This "works"

[2018-08-01 15:15] melloware commented on #3921
Attached is a Test project so you can see the issue using "mvn clean jetty:run".

[primefaces-3921.zip](https://github.com/primefaces/primefaces/files/2250039/primefaces-3921.zip)

[2018-08-01 20:59] joergmattes opened #3922 "PieChart: Legend broken with jqplot 1.0.9"
## 1) Environment
- PrimeFaces version: 6.2.7
- Does it work on the newest released PrimeFaces version? No, but it works on 6.2.6
- Does it work on the newest sources in GitHub? Don't know
- Application server + version: Tomcat 7.0.85, Jetty
- Affected browsers: All

## 2) Expected behavior
The PieChart legend should display the correct data series.

## 3) Actual behavior
The PieChart legend displ

[2018-08-01 21:03] tandraschko commented on #3922
@mertsincan can you check this?

[2018-08-02 08:29] huseyinturkmenoglu opened #3923 "virtualScroll event throws a JS exception"

[2018-08-02 09:17] martin654 commented on #3919
@tandraschko  Thomas, could this be merged into next elite version? Thank you

[2018-08-02 10:26] #3923 closed, assigned to huseyinturkmenoglu

[2018-08-02 11:04] tandraschko commented on #3919
i don't manage elite releases, thats up to @mertsincan

[2018-08-02 11:11] martin654 commented on #3919
Ok, I see... How do you manage pull requests? Should I do something more to get the fix it into master?

[2018-08-02 11:16] tandraschko commented on #3919
PRs are for the community version
PrimeTek merges selected PRs then into the private elite branches

[2018-08-02 15:32] brunoaandrade opened #3925 "SelectCheckboxMenu: placeholder not supported with multiple=true"
## 1) Environment
PrimeFaces version: 6.2
Affected browsers: all

## 2) Expected behavior
A stylable hint should be displayed when label as value.

## 3) Actual behavior
The attribute "label" does not work with multiple="true"

[2018-08-03 07:13] tandraschko commented on #3919
@mertsincan Would you merge it to elite?

[2018-08-03 07:13] #3919 closed, assigned to nobody

[2018-08-03 07:32] sarvigalava commented on #2479
I have multiple components in the header facet (including buttons and dropdowns), the column toggler generates invalid column names (selects all text from the column header). There should be an option to override the default behaviour (.text() method called in the js widget).

I think that the simplest solution would be to search a custom class instead of .ui-column-title and select the text if an

[2018-08-03 08:24] sarvigalava commented on #2479
This is the fix I used:

`children = column.children('.ui-column-title');
var columnTitle;
if (children.children('.ui-custom-title').length !== 0)
{
	columnTitle = children.children('.ui-custom-title').text();
}
else
{
	columnTitle = children.text();
}`

[2018-08-03 09:17] sarvigalava commented on #1592
This is the fix I used (columntoggler.js):

children = column.children('.ui-column-title'); var columnTitle; if (children.children('.ui-custom-title').length !== 0) { columnTitle = children.children('.ui-custom-title').text(); } else { columnTitle = children.text(); }

[2018-08-03 09:18] sarvigalava commented on #1592
And use like this: <h:outputLabel for="details" value="#{msg.details}" styleClass="ui-custom-title" /> inside header facet

[2018-08-03 09:21] sarvigalava commented on #1592
[aaa.txt](https://github.com/primefaces/primefaces/files/2256784/aaa.txt)

[2018-08-03 10:34] zek72 opened #3926 "Tree : Multiple selection checkbox propagation inconsistent with filter option"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version:  Apache Tomcat/8.5.32
- Affected browsers: Firefox, Chrome

## 2) Expected behavior
With or without filtering, I ex

[2018-08-03 12:00] brunoaandrade commented on #3925
The placeholder is shown when label attribute has value, but if multiple="true", nothing appears. I don't know if it is a new feature or a bug.
Either way, i updated the issue.

[2018-08-03 12:14] martin654 commented on #3864
I tried to revert changes only in Datatable.js made by the mentioned commit: ad5ed51 and it started to work again. I think the problem is, that the datatable is not encoded into response when using **encodeFeature=true** attribute.

As I can see in DataTableRenderer.encodeEnd method:
[code]
the responsibilty to encode something is newly given to features in this type of request (toggleSelect event

[2018-08-03 13:09] cghislai opened #3928 "Schedule: prev/next year buttons cause schedule to disapear"
Using a schedule with the prev/next year buttons in the header templates, a javascript error is thrown and the schedule is not rendered.

Reproduction [EDITED]
Define a schedule with prev/next year buttons enabled and an ajax listener that updates the schedule.
For instance, on the primefaces showcase:
[code]
- prev/next months button work as expected: click on them then on a date: events are rand

[2018-08-03 22:27] luccotta opened #3929 "accordionPanel: Can't update tab title on dynamic accordionPanel"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Apache Tomcat 7.0.88
- Affected browsers:

## 2) Expected behavior

I should be able to update a dynamic `accordion

[2018-08-05 05:35] krichter722 opened #3931 "MenuModel/MenuElement: Provide equals and hashCode for MenuModel and MenuElement implementations"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No. 6.3-SNAPSHOT
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No.
- Application server + version: ./.
- Affected browsers: ./.

## 2) Expected behavior

Implementations of `MenuModel` and `

[2018-08-05 22:08] krichter722 opened #3932 "slideMenu: with overlay=true is hidden immediately after trigger event after it's been updated with p:ajax"
## 1) Environment
- PrimeFaces version: 6.2, 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No. 6.3-SNAPSHOT
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No.
- Application server + version: Payara 5.182
- Affected browsers: Firefox 61.0.1

## 2) Expected behavior

Updating a

[2018-08-06 06:12] mertsincan opened #3933 "Add inputGroup support to inputTextarea"

[2018-08-06 06:13] #3933 closed, assigned to mertsincan

[2018-08-06 08:02] sarvigalava opened #3934 "TreeTable: Column visibility property ignored or not implemented"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Embedded Tomcat + JSF 2.2
- Affected browsers: All

## 2) Expected behavior
Column should be hid when visible=false
...

[2018-08-06 09:11] pneumcke commented on #3864
I can confirm that the issue is still present in the current version 6.27.

[2018-08-06 10:12] martin654 commented on #3864
I saw that no feature from DatatableFeatures handles encoding of header and footer. In my case the button I want to update depends on toggleling of the rows. It enables/disables "perform on all items selected" operation button.

When using sorting or paging functions on datatable, the toggled rows remains toggled. They can be on different page, but it doesn't affect "perform on all items selected"

[2018-08-06 11:58] matsandreassen opened #3935 "AutoComplete: pressing tab focuses invisible component in multiple mode"
## 1) Environment
- PrimeFaces version: 6.2.7
- Affected browsers: At least Chrome and Edge.

## 2) Expected behavior
Focus changed to next input component.

## 3) Actual behavior
Focus seems to "disappear". Actually changed to internal select html element. This select does not seem to exist whenever multiple is set to _false_.

## 4) Steps to reproduce
Reproduce simply be using showcase: https://

[2018-08-06 12:17] melloware opened #3936 "PrimeFaces.getFacesResource() does not work with OmniFaces CombineResourceHandler"
You can read about the issue on StackOverflow here:  https://stackoverflow.com/questions/51679748/determine-jsf-library-resource-using-javascript

The real issue is that [this JS method](https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/core/core.js#L341) assumes core.js is on the page for determining the URL and script replacement.  However when

[2018-08-06 12:37] mertsincan opened #3937 "Calendar component accessibility issue with timeControlType="select""
Reported By PRO User;
[code]

[2018-08-06 12:39] #3937 closed, assigned to mertsincan

[2018-08-06 12:59] mertsincan opened #3938 "FileUpload component accessibility issue"
Reported By PRO User;
[code]

[2018-08-06 13:23] #3938 closed, assigned to mertsincan

[2018-08-06 13:31] erickdeoliveiraleal commented on #3861
@tandraschko please, reopen this issue, I included a test https://github.com/erickdeoliveiraleal/primefaces-test/tree/dismissable
it was missing update attribute.

[2018-08-06 14:29] upDiogoSaraiva commented on #1685
Thank you @henriquecoutobsb this really helped me as i didn't know that you had to have both separators if you already had one.

[2018-08-06 20:06] melloware commented on #3936
I submitted the PR for review.

[2018-08-06 21:12] tandraschko commented on #3934
It's not implemented yet - a PR would be welcome!

[2018-08-06 21:15] tandraschko commented on #3929
A PR would be welcome!

[2018-08-06 22:33] Rapster commented on #3931
I don't see why we should have such methods. What is your scenario? What would it fix?

[2018-08-07 05:02] sakkie6yster commented on #1658
I have exactly the same issue. What do you mean with "internally API" tandraschko? We have a thread on the primefaces forum with regards to adding accordion behaviour to the panelMenu, all of a sudden our JavaScript is not working anymore. How would you suggest we go about implementing this behaviour so that it does not break every time there is a new release?

[2018-08-07 05:07] tandraschko commented on #1658
Feel free to provide a new Ticket with your requirements, so we can Talk about it

[2018-08-07 06:32] mertsincan opened #3940 "Add ariaRowLabel attribute support to DataTable with radio selection"
Reported By PRO User;
[code]

[2018-08-07 06:33] #3940 closed, assigned to mertsincan

[2018-08-07 06:51] mertsincan opened #3941 "Dialog Framework accessibility issue"
Reported By PRO User;
[code]

[2018-08-07 06:52] #3941 closed, assigned to mertsincan

[2018-08-07 07:07] mertsincan opened #3942 "Picklist component accessibility issue"
Reported By PRO User;
[code]

[2018-08-07 07:08] #3942 closed, assigned to mertsincan

[2018-08-07 07:29] sakkie6yster opened #3943 "PanelMenu:Accordion Like Behaviour"
I have the same problem as noted by "https://github.com/primefaces/primefaces/issues/1658".
Basically, I added "accordion like" behaviour to my PanelMenu, using JavaScript, as this ability did not exist at the time (Primefaces 5.3).

When migrating the application from 5.3 to 6.0 (also tried 6.1 and 6.2), the JavaScript is not working as before.  In versions 6.0 and 6.1, it does not work at all, w

[2018-08-07 07:46] tandraschko commented on #3943
Maybe we can introduce a option called "multipleSelection" or similar? Maybe a better name?

Default would be true.

[2018-08-07 07:51] sakkie6yster commented on #3943
That would be fantastic. In the meantime though; any suggestions on getting this "custom" behaviour to work again?

[2018-08-07 07:54] mertsincan opened #3944 "DataTable-Group accessibility issue"
Reported By PRO User;
[code]

[2018-08-07 07:55] #3944 closed, assigned to mertsincan

[2018-08-07 08:01] mertsincan opened #3945 "Confirmation dialog accessibility issue"
Reported By PRO User;
[code]

[2018-08-07 08:03] #3945 closed, assigned to mertsincan

[2018-08-07 08:40] mertsincan opened #3946 "multiSelectListbox ajax not helpful if required=true"
Reported By PRO User;
[code]

[2018-08-07 08:40] #3946 closed, assigned to mertsincan

[2018-08-07 09:44] tandraschko commented on #3943
No sorry. But you can easily check the source and rewrite your code.
Then you could also implemented the behavior and provide a PR :)

NOTE:  PF is open source and the easiest way is to implemented it by yourself and the provide a PR, so we can include it in PF. You can also sponsor the feature via PrimeFaces PRO.

[2018-08-07 10:04] krichter722 commented on #3931
Closing for reason explained in https://github.com/primefaces/primefaces/pull/3930#issuecomment-410499075

[2018-08-07 10:04] #3931 closed, assigned to nobody

[2018-08-07 10:34] ppelzman opened #3947 "Growl: does not show error message except first one (mobile)"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-08-07 10:46] tandraschko commented on #3947
Primefaces Mobile has been deprecated and removed already

[2018-08-07 10:46] #3947 closed, assigned to nobody

[2018-08-07 15:05] jrichardsz opened #3948 "primefaces-6.3-SNAPSHOT : Only compiles with java 8"
## 1) Environment
- PrimeFaces version: Current master branch: 6.3-SNAPSHOT (latest version)
- Artifact: primefaces-6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? : Public available artifact is **6.2**. I trying **6.3-SNAPSHOT**
- Does it work on the newest sources in GitHub?: No
- Operative System: Ubuntu 16.04.1
- Affected browsers: No

## 2) Expected behavior
Following t

[2018-08-07 16:01] tandraschko commented on #3948
@krichter722 can you check this pls?

[2018-08-07 16:53] krichter722 commented on #3948
@tandraschko The build with a JDK version 7 seems to be broken (maybe it was before). Does Primefaces support builds with JDK 7? It's deprecated and it's not tested on Travis. The build guide could be updated to avoid such confusion although I think that it's implied that building with a deprecated JDK is not supported.

[2018-08-07 16:55] tandraschko commented on #3948
@krichter722 primefaces must still run on java7 currently
Can we readd a build in Travis?

[2018-08-07 17:13] krichter722 commented on #3948
@tandraschko `.travis-ci.yml` says

[And Travis indeed still fails on OpenJDK 7](https://www.travis-ci.org/krichter722/primefaces/jobs/413217840). Oracle JKD 7 has been removed in #2767 because it's no longer supported by Travis CI.

This JRE 7 support slowly grows to get close to the Windows XP support problem. One solution would be to drop JRE 7 support, but I'm aware that a lot of companies and

[2018-08-07 17:19] jrichardsz commented on #3948
Hi Primefaces Team.

I just tried with 6.2 tag, and only compiles with java-8.

Thanks a lot.

PD: We are evaluating a web framework like react and angular but due to complexity, I am testing the old school: Primefaces with java. Also, I will try to make a spa with pure primefaces and some api rest as backend.

[2018-08-07 17:57] tandraschko commented on #3948
ok, i see and remember :D
Could someone build with java8 and run a application with it on java7?
If it's ok, i will close this issue. We can't go back as JSF23 required java8.

[2018-08-07 18:17] krichter722 commented on #3948
[No.](https://stackoverflow.com/questions/16143684/can-java-8-code-be-compiled-to-run-on-java-7-jvm)

Even if Primefaces project doesn't use Java 8 in the source, this wouldn't work. There're backporting solutions (see other answer in the SO question above), but they're overkill for supporting a deprecated JRE.

I added a note to the build guide.

[2018-08-07 18:24] tandraschko commented on #3948
we don't use java8 features or classes in our code, so there should be no problem as described in your link.

[2018-08-07 18:29] #3928 closed, assigned to nobody

[2018-08-07 18:37] tandraschko commented on #3925
Please provide a bit more information and a example.
It's quite hard to follow you.

[2018-08-07 18:40] tandraschko commented on #2821
I will close it for now as we aligned with the specs.
The behavior is maybe not 100% nice but if we change it, it should also be in the next JSF version.
So please create a issue there first and start a dicussion.

[2018-08-07 18:40] #2821 closed, assigned to tandraschko

[2018-08-07 18:50] tandraschko commented on #3861
it just works for me.
When i click outside the overlay panel, it closes.

Please, don't waste my time - I already tested your code 3 times now and everytime it just works!
Try to build again on localhost, clear caches etc. I can't reproduce it.

[2018-08-07 19:36] #3932 closed, assigned to nobody

[2018-08-07 19:40] tandraschko opened #3949 "Use jquery on instead of deprecated bind"

[2018-08-07 19:41] #3949 closed, assigned to nobody

[2018-08-07 19:43] tandraschko opened #3950 "HotKey: handler called multiple times after update"

[2018-08-07 20:06] #3950 closed, assigned to nobody

[2018-08-07 22:04] jrichardsz commented on #3948
I will try to compile again with java-8 and I will show you the result.

I using the commandline. I think that, eclipse ide could be problems when java-6 is in pom but java-8 is required to work.

Thanks a  lot.

[2018-08-08 06:47] rcroonenberghs commented on #3742
Am I the only one having this issue?

[2018-08-08 07:37] mertsincan commented on #3919
Thanks a lot, @tandraschko and @martin654 ;)

[2018-08-08 08:26] #3922 closed, assigned to mertsincan

[2018-08-08 08:34] mertsincan commented on #3807
Thanks a lot for this enhancement, @tandraschko ;) @martin654 unfortunately, I don't think of adding it to elite versions.

[2018-08-08 10:45] Rourke101 commented on #3515
@cnsgithub No, the main issue is `dialog()`

[2018-08-08 10:54] mertsincan commented on #3864
Thanks a lot for the info, @martin654 ;) Reverted #3743 and #3751 on 6.2.8 and 6.3.

[2018-08-08 10:55] #3864 closed, assigned to mertsincan

[2018-08-08 11:01] mertsincan commented on #3906
Hi @Rapster,
Yes, inputSwitch will be deprecated.

[2018-08-08 11:19] melloware commented on #3684
This was reported on Stack Overflow as well:  https://stackoverflow.com/questions/51706674/why-are-the-bars-of-my-pchart-overlapping

[2018-08-08 11:30] melloware commented on #3742
Probably not if you were able to reproduce it with the simple PrimeFaces Test project.  It is most likely some kind of Safari IOS CSS issue being translated differently.

[2018-08-08 11:39] Rapster commented on #3906
Cool, the new one looks very nice

[2018-08-08 11:49] melloware commented on #3936
Refactored method to core.resources.js.

**Example:**
`PrimeFaces.resources.getFacesResource('test.js', 'melloware', 2.4);`

**Result:**
"http://localhost:8080/showcase/javax.faces.resource/test.js.xhtml?ln=melloware&v=2.4"

[2018-08-08 12:39] martin654 commented on #3906
@mertsincan Will the new inputSwitch support labels for true/false?

[2018-08-08 20:01] VsevolodGolovanov opened #3951 "Dialog: unrendering appended dialog's container doesn't hide it"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT (latest).
- Application server + version: Wildfly 10.1.
- Affected browsers: All.

## 2) Expected behavior

If the appended dialog stops being rendered, then updating the container hides the dialog.

## 3) Actual behavior

Unrendered dialog is left shown.

## 4) Steps to reproduce

Reproducer:
[pf-3951.zip](https://github.com/primefaces/primefac

[2018-08-08 20:04] VsevolodGolovanov commented on #3951
Proposal: instead of rendering

[code]
and applying `appendTo` to this root component element,

render:
[code]
and `appendTo` the #client_id_dlg, leaving the root element in place. Then removal of the dialog will trigger widget's destruction properly, allowing it to act accordingly.

Would you accept a PR with such changes?

[2018-08-08 20:04] VsevolodGolovanov commented on #3951
Related bonus: updating the dialog's container removes modality, regardless of appendTo.

[2018-08-08 20:14] tandraschko commented on #3951
Feel free to provide a PR and some testcases with appendTo and without. So we can check if all cases works.

But it's expected currently, so enhancement/new feature.

[2018-08-09 06:27] mertsincan opened #3952 "Calendar component accessibility issue with navigation=true"

[2018-08-09 06:27] #3952 closed, assigned to mertsincan

[2018-08-09 09:12] tandraschko commented on #3948
I will close the issue for now as compilation requires java8.
If you compile it with java8 and running with java7 doesn't work, please create a new issue.

[2018-08-09 09:12] #3948 closed, assigned to nobody

[2018-08-09 09:34] martin654 commented on #3864
@mertsincan Hi, I tested 6.2.8 today and there is still one issue left.

In commit https://github.com/primefaces/primefaces/commit/ad5ed51a2f391694427efa29306ae5aebd7fd342 from issue https://github.com/primefaces/primefaces/issues/3743 there was made a change in SelectionFeature's decode method - lines added:
[code]
which wasn't reverted in your fix commit https://github.com/primefaces/primefaces/

[2018-08-09 10:39] mertsincan opened #3953 "Expanded and collapsed icons do not display correctly when Tree is expanded and collapsed"
Test code;
[code]

[2018-08-09 10:40] #3953 closed, assigned to mertsincan

[2018-08-09 11:45] mertsincan commented on #3864
Hi @martin654,
Thanks a lot for the update! Could you please create a new ticket for it?
Best Regards,

[2018-08-09 11:51] martin654 opened #3954 "DataTable: toggleSelect selecting too many rows"
Creating this issue as requested in ticket https://github.com/primefaces/primefaces/issues/3864. All important information are in this comment in referenced ticket: https://github.com/primefaces/primefaces/issues/3864#issuecomment-411698394

## 1) Environment
- PrimeFaces version: 6.2.8
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in Gi

[2018-08-09 11:51] martin654 commented on #3864
Hi @mertsincan, new ticket created - https://github.com/primefaces/primefaces/issues/3954

[2018-08-09 16:06] VsevolodGolovanov commented on #3951
@tandraschko, could you take a look at this commit please? So that I know if I'm on the right track.

In what form should I provide the testcases? Just post XHTML and Java code or ...?

[2018-08-09 18:50] wtlucy opened #3955 "fileDownload: "Response already committed" warning printed on WebSphere"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? no
- Application server + version: Open Liberty 18.0.0.2 with `jsf-2.2` (MyFaces 2.2)
- Affected browsers: all

## 2) Expected behavior
No warning messages are printed when using `p:fileDownload` to download a file.

## 3) Actual behavior
Do

[2018-08-09 19:44] mdzaebel opened #3956 "CellEditor: Multiple 'rendered' editors are ignored"
## 1) Environment
PF versions: All, AppServer: WildFly 11 / JEE7, All browsers
## 2) Expected behavior
Input for the first cellEditor should appear also in the first column
## 3) Actual behavior
Output is correctly displayed regarding 'rendered', while the input editor only appears clicking the second column. Only the last cellEditor is used for inputs. Same happens for _p:treeTable_ but there, th

[2018-08-09 20:21] tandraschko commented on #3955
a PR would be great!

[2018-08-09 20:44] tandraschko commented on #3493
Currently the behavior is "by design".

I will add the "won't fix" label for now until it's completely discussed.

[2018-08-09 21:00] stiemannkj1 commented on #3265
@tandraschko, I'll check it tomorrow. Sorry, I've been busy with other tasks.

[2018-08-10 01:17] erickdeoliveiraleal commented on #3861
@tandraschko i retested it many times, different machines, this bug exists.
You can test it from here: https://github.com/erickdeoliveiraleal/primefaces-test/tree/dismissable

[2018-08-10 06:38] tandraschko commented on #3956
A PR is very welcome.

[2018-08-10 07:04] martin654 opened #3957 "Datatable: problem with last column input rendering using p:columns"
## 1) Environment
- PrimeFaces version: 6.2.8
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: any
- Affected browsers: any

## 2) Expected behavior
All invalid inputs are displayed the same way in each table

[2018-08-10 08:59] mdzaebel commented on #3956
If you want to say, that this behavior is expected (not a defect), than it should be documented, what kind of constructs are allowed. This would save us all a lot of time.

[2018-08-10 09:25] tandraschko commented on #3956
Currently expected as it was never implemented to support that case. So it would be a enhancement of the current Implementation.

[2018-08-10 10:56] mdzaebel commented on #3956
Well than, this issue should be handled as a documentation bug. If there are non standard restrictions in the allowed markup for certain components, it would be of great value to have a note in the documentation. How should your client be able to anticipate these restrictions? The natural result is, that many users try (otherwise recommended) constructs thinking that PF has a bug or they don't und

[2018-08-10 12:06] tandraschko commented on #3861
For me the bug exists sometimes but it's random.

AFAICS it could be a bug in jQuery and i have no idea how to solve it.

please go into core.utils.js and search for "registerHideOverlayHandler"

my test code now looks like:

`        registerHideOverlayHandler: function(widget, hideNamespace, overlay, resolveIgnoredElementsCallback, hideCallback) {

            console.log('registerHideOverlayHan

[2018-08-10 12:07] tandraschko commented on #3861
after this changes you will see the following:
- on page load it prints "registerHideOverlayHandler..."
- every click on the document prints "hide handler" on the console

after the ajax update:
- it prints again: "registerHideOverlayHandler...."
- but the "hide handler" is never printed again on any click, which means that the off() call works fine but on() not.

So somehow jquery doesn't execute

[2018-08-10 12:17] tandraschko commented on #3861
@melloware @jxmai @Rapster anyone got a idea or would like to play a bit, too?

[2018-08-10 12:24] Rapster commented on #3861
Sorry I don't have time for this :(

[2018-08-10 12:24] tandraschko commented on #3861
If you use the inspector on the events on the document, you can see that it mousedown is not added again.
Maybe a stupid jquery bug...

[2018-08-10 12:50] #3955 closed, assigned to nobody

[2018-08-10 12:50] tandraschko commented on #3955
THanks!

[2018-08-10 12:57] tandraschko commented on #3861
found the reason, nvm :D

[2018-08-10 12:57] tandraschko commented on #3861
@erickdeoliveiraleal you own me a beer someday, invested almost 3 hours for this bug.

[2018-08-10 13:08] #3861 closed, assigned to tandraschko

[2018-08-10 13:35] melloware commented on #3861
Great work!

[2018-08-10 13:41] wtlucy commented on #3955
Thanks for the quick review/merge!

[2018-08-10 14:08] erickdeoliveiraleal commented on #3861
you deserve many beers, my friend. thanks!

[2018-08-10 18:17] tandraschko commented on #3861
I will ping you when i'm brasil the next time :D

[2018-08-10 19:38] bwhpers commented on #3493
The behaviour was different up to 6.1. A combo box value in a table cell editor had always been submitted immediately after selection, not on focus change.
Don't understand the logic, why it has been changed if not inadvertently.
At least there should be an option (an attribute) to restore the previous behaviour.

[2018-08-10 22:12] stiemannkj1 commented on #3265
@tandraschko, thanks for fixing this! It works correctly in Liferay now. Did you happen to check for other components (that render no markup) that might suffer from this problem?

[2018-08-10 23:46] djmj commented on #3947
You must manually show growl again. In your commandButton _oncomplete_ like:

	/*
	 * show current growl message again - PF-mobile bug on page navigation not showing it
	 *
	 * @param widgetVar PF widgetVar
	*/
	function showGrowl(widgetVar)
	{
		PF(widgetVar).show(PF(widgetVar).cfg.msgs);
	}

	<p:growl id="growl" widgetVar="growlWidgetVar"/>

	<p:commandButton action="pm:page" oncomplete="showGro

[2018-08-11 12:07] melloware commented on #3957
@martin654 Can you tell if this existed in 6.2 and was introduced somewhere along the way to Elite 6.2.8?

[2018-08-11 12:27] melloware commented on #3916
Also linking #3269 as its related to filename cleansing.

[2018-08-11 12:31] melloware commented on #3269
OK after reviewing this one some more I think I can fix it.  I will submit a PR with more unit tests.

[2018-08-11 14:25] krichter722 opened #3959 "Documentation: p:accordionPanel's activeIndex documentation should mention that it requires a value expression"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No. 6.3-SNAPSHOT
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No.
- Application server + version: ./.
- Affected browsers: ./.

## 2) Expected behavior

It should be clear that `p:accordion

[2018-08-11 16:32] krichter722 opened #3961 "AccordionPanel: activeIndex shouldn't expand disabled tabs"
## 1) Environment
- PrimeFaces version: 6.2, 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No. 6.3-SNAPSHOT
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No.
- Application server + version: Payara 5.182
- Affected browsers: Firefox

## 2) Expected behavior

`p:accordionPanel`

[2018-08-11 17:30] jxmai commented on #3861
Just checked github  :) sorry for late reply. Great work Thomas ! :+1:

[2018-08-12 17:21] #3959 closed, assigned to nobody

[2018-08-12 17:22] #3916 closed, assigned to nobody

[2018-08-12 17:22] melloware commented on #3269
@cnsgithub Looking at this more it seems the way FileNameUtils.getFileName does it is by stripping everything after either directory slash "/" or "\".

See this source code line: https://github.com/apache/commons-io/blob/master/src/main/java/org/apache/commons/io/FilenameUtils.java#L707

However if we did that it would break our already existing unit tests for valid filenames from previous tickets

[2018-08-12 17:41] melloware commented on #3684
Also possibly related: https://github.com/primefaces/primefaces/issues/2972

[2018-08-12 18:08] melloware commented on #2089
Where did we end up on this fix?  @Mobe91 did you want to submit a PR?

[2018-08-12 19:06] Mobe91 commented on #2089
I submitted a PR for this when I created the issue: https://github.com/primefaces/primefaces/pull/2090
According to the comments I need to rework it a bit - must have overlooked that. I will provide a new PR soon.

[2018-08-13 14:10] tandraschko commented on #3544
@krichter722 update: https://github.com/primefaces-extensions/primefaces-arquillian

[2018-08-13 15:04] krichter722 opened #3963 "Provide Maven snapshots repository"
It'd be nice if snapshots built after every commit to `master` could be uploaded to a Maven repository. The upload could be automated and be be conducted from within Travis CI. This would be a continuous delivery pattern which is generally considered constructive and an improvement of the project. If repository.primefaces.org can't be used for snapshots, [Sonatype OSSRH](https://central.sonatype.o

[2018-08-13 15:41] tandraschko commented on #3963
we had it long time ago into our own repo but noone reconfiguired it.
i won't invest time on it, thats up to PrimeTek.

[2018-08-14 01:32] chaseven commented on #3925
I got the same issue here, definitely not that hard to reproduce...

`<p:selectCheckboxMenu value="#{bean.multiSelectedItems}" label="multiselect" multiple="false">`
will result in "multiselect" as label/placeholder
`<p:selectCheckboxMenu value="#{bean.multiSelectedItems}" label="multiselect" multiple="true">`
will result in a blank label/placeholder

[2018-08-14 06:45] mertsincan opened #3965 "When clicking a selectOneMenu item that extends past an overlayPanel's buttom edge, the overlayPanel is closed."
Reported By PRO User;

[2018-08-14 06:49] tandraschko commented on #3965
Should be fixed in Trunk by checking the DOM hierarchie instead the coordinates

[2018-08-14 06:52] martin654 commented on #3957
@melloware Yes, it existed in 6.2 version. It even existed in 6.1, 6.0, 5.3, 5.2, 5.1, 5.0 and 4.0. I stopped at 4.0 :)

[2018-08-14 06:52] #3965 closed, assigned to mertsincan

[2018-08-14 11:50] melloware commented on #3957
OK good wanted to make sure it wasn't a new issue but an existing issue.

[2018-08-14 20:39] panksoni opened #3966 "Theme not appearing correctly in chrome vs IE"
We use Ultima PrimeNg theme for our project. Suddenly the theme has started appearing without any bold or contrast in chrome vs IE.

For example theme is appearing like this in chrome

![image](https://user-images.githubusercontent.com/6334364/44117133-04f981a0-9fd8-11e8-82a6-e6f3087f13cc.png)

and this is how it appears in firefox or IE

![image](https://user-images.githubusercontent.com/6334364/

[2018-08-14 21:06] tandraschko commented on #3966
use the primeng, not the primefaces, issue tracker ;)

[2018-08-14 21:06] #3966 closed, assigned to nobody

[2018-08-15 10:21] Rapster opened #3967 "Remove maven-jsf-plugin"
See https://github.com/primefaces/maven-jsf-plugin/issues/4

- [X]  Generate abstract base component + component impl
- [X] Remove "Generated, Do Not Modify"
- [ ] ~~Consider maven-license-plugin to change file header if elite package~~ (Not now)
- [ ] Cleaning
  - [ ] Remove  comments related to maven-jsf-plugin
  - [X] delete unnecessary PropertyKeys#ctor since SONAR will complain
  - [x] genera

[2018-08-15 10:56] tandraschko commented on #3967
We still have to discuss how we do it exactly.
As i said, 2 would split it up in to classes (e.g. AccordionPanelBase with just the properties + getter/setter, and the AccorionPanel, which extends from AccorionPanelBase, which contains our additional logic)

[2018-08-15 11:24] Rapster commented on #3967
I see what you meant now... Looks like the same approach as BootsFaces or primefaces-cdk (made sense as it was a generation tool), but what are the perks of doing something like this?

[2018-08-15 11:34] tandraschko commented on #3967
the code is much cleaner as you always seperate the boilerplate properties and the "real logic".
We have components with much LOC inside the component class

[2018-08-15 11:53] Rapster commented on #3967
That's what I suspected, why not... I just feel like `primefaces-cdk` could have been a good solution to do something like that, it just put the boilerplate code in a subclass (one file for the PropertKeys definition and another for the boilerplate code)

[2018-08-15 11:57] melloware commented on #3967
So my two cents is this...

1. I hate boilerplate code so I am all for generating that.

2. I hate that when there is real code in the Template class we can't use Java tools to check its syntax or formatting because they are not real Java file.  So it makes them difficult to work with.

So I like the solution of separating boilerplate but making the business logic part real Java code in /src/main/

[2018-08-15 12:02] tandraschko commented on #3967
As we already discussed, there is no easy solution for a CDK, so a big -1.

i just thought to manually split the not-generated getter/setter and our real bussiness logic, in 2 manually maintained classes.

[2018-08-15 12:04] Rapster commented on #3967
I do agree @melloware, my intent with `primefaces-cdk` was to put the boilerplate code on one side and the definition/implementation on another using annotation processing (the ultimate goal was also to generate faces-config and taglib files). I was doing a good progress (specially that I was working alone on this) but Thomas does not seem to be in favor. By the way, if anyone feels like contribut

[2018-08-15 13:02] tandraschko commented on #3967
I don't see the value that everyone always reinvent the wheel.
We would develop for whole new CDK for only "some" getter/setter, which don't change quite often as PF is stable and new components are not introduced every month.

Try to contribute to JSF.next and lets try to find a way to reuse the same for older JSF versions ;)

[2018-08-15 15:49] awenger63 opened #3968 "selectOneMenu: background-color conflict with jquery UI CSS"
PF 6.2
since #3079 new lines appear on forms.css

`.ui-selectonemenu.ui-state-hover,
.ui-selectonemenu.ui-state-focus {
    background-color: transparent;
}`

This replace default setting for background-color on jquery ui css theme.css on ui-state-hover and ui-state-focus.

Current workarround, put !important on background interaction states in theme.css, but this is not fine !!!

Are you sure thi

[2018-08-15 17:12] wsaca opened #3969 "inputSwitch: Not working after update his parent"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Not, I'm using PF 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 4) Steps to reproduce
https://forum.primefaces.org/viewtopic.php?t=42821

## Solutions
The problem is related to this line:
https://github.com/primeface

[2018-08-15 17:18] melloware commented on #3969
I am still not quite sure why this component needs to be a deferred renderer at all?

[2018-08-16 08:09] cagataycivici commented on #3969
Please use toggle switch, inputSwitch is deprecated.

[2018-08-16 08:09] #3969 closed, assigned to nobody

[2018-08-16 08:29] tandraschko commented on #3968
I can't follow you and this is not a valid issue, just a question (we have a forum for this).

Please describe your problem more detailed and provide screenshots.

[2018-08-16 09:24] Rapster commented on #3967
I more or less agreed with your first statement, yes reinvent something which does already exist does not really make sense but PF has his own API also and perks of code generation is more than just generating code... I must say the existing wheel (RichFaces CDK) looks very nice! It generates also the taglib file! I never had a look before since it became EOL...)

Regarding JSF.next, it's hard to

[2018-08-16 11:58] Rapster commented on #3967
@melloware @tandraschko See the PR to give you an idea what it looks like. Feedbacks are welcome :wink: (FYI, I considered RTLAware#isRTL as boilerplate code, so it is located in Base file. I might be wrong but it"s always the same code... Actually IMO instead of RTLAware I would have create an interface `ITextDirection` with a `getDir` method, and ComponentUtils#isRTL would do the check)

[2018-08-16 12:21] melloware commented on #3967
Added some comments!  Also RTL is more than just text direction do ITextDirection is the wrong name.  Because RTL can also mean menu layout of buttons etc.

[2018-08-16 12:32] Rapster commented on #3967
The name might be wrong, but since rtl is based on `dir` attribute according to https://www.w3schools.com/tags/att_global_dir.asp and https://www.w3.org/International/questions/qa-html-dir I kept it quite simple

[2018-08-16 12:35] tandraschko commented on #3967
Please leave it as it is, as the change is unrelated to the properties itself.
We can still look for a better name later.

[2018-08-16 12:43] Rapster commented on #3967
Yup yup I don't plan to change that. It was just a quick comment

[2018-08-16 13:06] awenger63 commented on #3968
@tandraschko OK, I tell you my screenShot
Previous PF version 6.1.15, when mouse hover or focus selectonemenu, it's the background value from theme.css which is applied.
Since PF 6.2 this [commit](https://github.com/primefaces/primefaces/commit/9f03b4ec1e4f1c9d9380929c60c735d56714f76a) the new values from components.css replace background-color for ui-state-hover and ui-state-focus from theme.css

[2018-08-16 13:12] tandraschko commented on #3968
@mertsincan Can you check that?

[2018-08-16 13:26] awenger63 commented on #3968
pictures are not enought ?
You can check when unckeck .ui-selectonemenu.ui-state-hover, .ui-selectonemenu.ui-state-focus { background-color: transparent; } on navigator dev tool.

[2018-08-16 16:14] Rapster commented on #3967
I'm working on the licensing part, since `maven-jsf-plugin` used to generate a custom header for elite version (which makes sense) I didn't want to lose that so I decided to use license-maven-plugin from https://www.mojohaus.org/license-maven-plugin/index.html (which have more documentation and sounds a bit more powerfull)

From now on, it is possible to handle apache and elite headers (you just n

[2018-08-16 16:26] tandraschko commented on #3967
we already have a license plugin
i think it's ok that PrimeTek changes the license.txt after they made a branch and rerun the plugin.

[2018-08-16 16:28] Rapster commented on #3967
As I said, with this they will only have to set that variable `project.license`, it will change header files and add LICENSE.txt to the distrib (FYI, https://github.com/mycila/license-maven-plugin seems to be no longer maintened and the documentation is not updated)

[2018-08-16 16:31] tandraschko commented on #3967
I wouldn't invest >any< time.
The current apporach takes less then a minute after branching:
- replace the license.txt
- mvn license:format

they only need to do it once in 6-8 months.

[2018-08-16 16:34] Rapster commented on #3967
I already integrate that plugin. Ah ah, so they have source code in apache v2 and jar under elite license, that's interesting

[2018-08-16 16:38] tandraschko commented on #3967
PrimeFaces already integrates the plugin since months, just check the pom.
It works fine.

No, they don't.
They just branch e.g. the 6.3 release and than make custom changes on it, in a private SVN.
After branching, they would only need to change the license.txt and rerun the maven plugin once.
That works already perfect with the current pom.

As a community release is only 1-2 in a year, thats 2m

[2018-08-16 16:51] Rapster commented on #3967
Your call... I just think the plugin could make thing easier. Today, we're using it to check if it the header is present and fails if not, I propose to use it to add the header if missing as simple as that, and the license is automatically added to the distrib (no fiddling, except an argument in a command line).

Just like `maven-jsf-plugin` it works perfectly fine except it's not ideal, it's hard

[2018-08-16 16:53] kukel commented on #3967
I did and I liked it from the beginning (pre PrimeFaces existence).  If there is full source (taglibs etc generated) it is easier for others to override classes (and provide fixes etc)  Read this multiple times in stackoverflow, this forum and even my personal experience. The current way is just too cumbersome.

So to make a long story short: I'ld like to help out too.

[2018-08-16 16:55] tandraschko commented on #3967
I have no problem of doing that but it's unrelated to the changes here as currently all not-generated classes also have the apache2 license header.

If we would like to change something here, we should do it in another ticket and talk with PrimeTek, how they would maintain the elite stuff.

[2018-08-16 16:56] Rapster commented on #3967
Fair enough, I just didn't want to lose any features of `maven-jsf-plugin`

[2018-08-16 17:00] tandraschko commented on #3967
Yep i understand you but we should not put all things into one story, especially when the maven-jsf-plugin only covers ~30% of the codebase.

We should also talk with PrimeTek before as they maybe have a script, which generates the SVN elite branch from the github branch.
It would be easy task to hang-in those 2 commands (replace license.txt and mvn license:format) there.

[2018-08-16 17:02] Rapster commented on #3967
I'll create a ticket (what I propose is one command `mvn clean install -Dproject.license=elite` :wink: )

[2018-08-16 17:09] tandraschko commented on #3967
Thanks :)

@kukel
if you would like to help on a CDK, try to get involved in the JSF specs. BalusC and Arjan are planing to fill a JSR about JSF.next and it will contain something like a CDK.
I'm don't about the status currently as our last talk was some months ago.
So you can just ping them on the mailing list and get the status, discuss ideas and so on ;)

If the idea is ready, we can think abou

[2018-08-16 17:10] kukel commented on #3893
I'd say that in jsf development mode they full in your face (might even be extended to show more). But id's that are not found result in non-functional applications. So catching them and showing a generic error is the best thing to do like Thomas stated (so that makes this issue sort of void)

[2018-08-16 17:13] kukel commented on #3905
Isn't the datalist only accepting 1 direct child? Tried wrapping both buttons in a panel?

[2018-08-16 17:40] Rapster commented on #3967
@tandraschko Again, Kukel might know better than me but I don't... How to get to know about what's next for JSF?

[2018-08-16 17:50] kukel commented on #3956
@mdzaebel: I sort of agree, but there has never been an attempt to test all permutations of components in components or even just features of components. The most common use cases are sort of automatically tested when features are implemented (and hence most common pitfalls prevented, emphasis on common, since this feature has been there for several years and you are the first person to report it)

[2018-08-16 17:56] kukel commented on #3913
Tried using the `rowStatePreserved`? attribute? I remember it helped me once. And I can still see if I can find (via the issue list) what the fix was for the datatable, since I'm 100% certain it had the same problem once. And did you try using the rowIndexVar and get the colums from the `#{[[1,2],[3,4,5]]}` using the index? I remember that helping too.

Edit: Found it https://github.com/primefaces

[2018-08-16 17:59] tandraschko commented on #3967
Ask on the mailing list, there is no official document filled yet

[2018-08-16 18:34] erickdeoliveiraleal opened #3971 "DataTable: stickyHeader + multiple selection makes "Select All" inactive"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? yes
- Does it work on the newest sources in GitHub? no
- Application server + version: wildfly
- Affected browsers:

## 2) Expected behavior
it should be toggleable.

## 3) Actual behavior

checkbox is always disabled if stickyHeader = true

## 4) Steps to reproduce

## 5) Sample

[2018-08-16 20:18] mdzaebel commented on #3913
Ronald, thats really kind of you, to help me with your experience. `rowStatePreserved `is only a _p:dataTable_ attribute. `rowIndexVar` is an attribute for _p:dataList_, _p:dataScroller_ and _p:dataTable_, but also does not exist for _p:treeTable_. Using e.g. `columnIndexVar` of _p:columns_ doesn't change anything.

Hope I'll have the time to look into the implementation.

[2018-08-16 20:43] mdzaebel commented on #3956
Good to know! That's because I said, "it might be enough to concentrate on most important restrictions". I would recommend just to consider "**important** restrictions" for each component, as it's sometimes really difficult to find the problem within a more complex structures.

It might be best to implement Primefaces in a way, thas minimizes surprizes of this kind.

My workaround here is, to writ

[2018-08-17 12:55] #3943 closed, assigned to nobody

[2018-08-17 13:12] huseyinturkmenoglu commented on #3943
For your case, I added 'multiple' attribute in the panelMenu. The default value is true.

You could use this example:
[code]

[2018-08-17 18:51] VsevolodGolovanov commented on #3951
@tandraschko, I've been fleshing this out a bit, and I don't get one thing. I expected the dynamic overlay utils to automatically remove the appended overlay on widget destroy, but no.

[code]

Why `not(overlay)`?

[2018-08-18 11:21] mdzaebel opened #3972 "AutoComplete: In TreeTable calls onCellEdit twice"
## 1) Environment
PF versions: All, AppServer: WildFly 11 / JEE7, All browsers

## 2) Expected behavior
_onCellEdit_ should be called at most once on change (like _p:dataTable_).

## 3) Actual behavior
_onCellEdit_ called twice on change and once for no change (both wrong).

## 4) Steps to reproduce
1. Click in the first cell (the _treeTable_) and type any char. ("one, two"-selection appears)
1. _

[2018-08-18 11:44] mdzaebel opened #3973 "[Documentation] Type documentation & defaults inconsistent"
## 1) Environment
PF versions: All, AppServer: WildFly 11 / JEE7, All browsers

## 2) Expected behavior
Types should be correctly documented

## 3) Actual behavior
Types and default values are inconsistent on 3 occurences. As Boolean.valueOf(null) is false, it's not really wrong but inconsistent with other notations in the guide.

## 4) Steps to reproduce
In the User Guide (PDF), look at "null boo

[2018-08-18 13:15] sakkie6yster commented on #3943
Fantastic! Thank you so much!

[2018-08-18 18:53] tandraschko commented on #3971
PR would be great.

[2018-08-18 18:53] #3936 closed, assigned to nobody

[2018-08-19 11:43] mdzaebel commented on #3972
Here is a workaround:

add `<p:ajax event="itemSelect" listener="#{bean.onItemSelect}"/>` inside your p:autoComplete:

Add following to your _viewScoped_ bean:

[code]

As the _p:autoComple_-Listener triggers _onItemSelect_ before _onCellEdit_, it sets _onCellEdit_ toggle to false, as the first call to _onCellEdit_ should be skipped. In _onCellEdit_, the flag is toggled, so the next call is really

[2018-08-20 08:28] #3954 closed, assigned to mertsincan

[2018-08-20 08:34] mertsincan commented on #3864
Thanks a lot, @martin654 ;)

[2018-08-20 13:38] talipkorkmaz opened #3974 "PickList : Filters not seems on california template"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: Spring Boot Embedded Tomcat
- Affected browsers: Chrome

## 2) Expected behavior
Picklist source and target filters should be seem

## 3) Actual behavior
Not appearing.

## 4) Steps to reproduce
@ https://www.primefaces.org/california/data.xhtml
Picklist card has already this bug.

## 5) Sample XHTML

`<p:pickList id="pick

[2018-08-20 13:50] mertsincan commented on #3974
I'll work on this issue and get back to you. Also, at next time please use california forum; https://forum.primefaces.org/viewforum.php?f=79

[2018-08-20 18:06] Rapster commented on #3974
Not related to PF. Use forum as Mert suggested

[2018-08-20 18:06] #3974 closed, assigned to mertsincan

[2018-08-20 18:32] markusg80 commented on #3201
Very good decision to change charts to chart.js. Are you implementing those charts with the existing model classes to simplify transition? And are grouped stack bar charts also supported?

[2018-08-20 18:43] mbeedub commented on #2296
+1 for this.

It is still an issue.

[2018-08-20 18:44] mbeedub commented on #3713
+1 for this.

It is still an issue.

[2018-08-20 18:47] tandraschko commented on #2296
Feel free to fix it an provide a PR ;)

[2018-08-20 18:47] tandraschko commented on #3713
Feel free to fix it an provide a PR ;)

[2018-08-20 19:41] melloware commented on #3713
Adding @OBreidenbach since he is the schedule expert. :)  There are two open tickets around this issue that have been open for a while.

[2018-08-21 06:34] abialas opened #3975 "Media: Resize on click when uses IE"
## 1) Environment
- PrimeFaces version: 6.2
- Affected browsers: Internet Explorer 11

## 2) Expected behavior

The dialog with quicktime player should have the same size when video control is clicked.

## 3) Actual behavior

Each time when the user clicks on player controls like rewind or play the dialog getting smaller

## 4) Code to reproduce

https://github.com/abialas/primefaces-test

[2018-08-21 07:47] giltal1 opened #3976 "Chart: BarChartSeries doesn't take axes parameters into account"
## 1) Environment
PrimeFaces version: 6.2

## 2) Expected behavior
Once x and y axes are set in BarChartSeries, expect to be reflected in the chart

## 3) Actual behavior
BarChartSeries does not take x and y axes parameters into account when render.

## 4) Code to fix
highlighted code need to be added:
BarChartSeries.java
...
public void encode(Writer writer) throws IOException {
		**AxisType xaxi

[2018-08-21 09:10] Rapster commented on #3973
@tandraschko can't we make the documentation available on Github?

[2018-08-21 09:11] tandraschko commented on #3973
thats up to PrimeTek
Cagatay said ~1 year ago then is he looking for a way to make it editable from the community
will ping him again

[2018-08-21 09:17] tandraschko commented on #3975
Would be great if you can provide a PR to fix it.

[2018-08-21 09:17] tandraschko commented on #3976
Would be great if you can provide a PR to fix it.

[2018-08-21 09:19] Rapster commented on #3973
It's not a word document?

[2018-08-21 09:22] tandraschko commented on #3973
i don't know.

[2018-08-21 11:26] melloware commented on #3976
I will submit this PR shortly.

[2018-08-21 11:46] melloware opened #3978 "JS: Widget Not Available"
The code for displaying the widget not available:

1.  In in 4 places
2.  In 2 places the word "available" is spelled incorrectly "avaiable".

Submitting a PR to clean up this code to PrimeFaces.widgetNotAvailable(widgetVar) function so the message can be just once and reusable.

[2018-08-21 13:49] #3967 closed, assigned to Rapster

[2018-08-21 13:53] tandraschko commented on #3967
Nice work - and big effort of course.

The java-templates are not removed yet, right?

[2018-08-21 13:55] Rapster commented on #3967
Nope, but I'm about to commit that

[2018-08-21 14:25] #3978 closed, assigned to nobody

[2018-08-21 14:47] Rapster opened #3980 "Setup sonarcloud"
Now there is no longer generated code, it'll be easier to have a fair idea about quality code

[2018-08-21 15:30] tandraschko commented on #3980
JFYI: the build fails now

[2018-08-21 15:36] #3976 closed, assigned to nobody

[2018-08-21 15:40] Rapster commented on #3980
I know, I'm having a look right now

[2018-08-21 19:11] talipkorkmaz commented on #3974
ok i opened an issue at forum. waiting for fix. thanks in advance.

[2018-08-22 07:00] tandraschko commented on #3980
Should we revert it for now or can you fix it today?

[2018-08-22 09:56] jan-tosovsky-cz opened #3981 "Static message (admonition)"
In my apps (forms) I put some instructions and explain behavior behind some actions. I put them into notes, tips or warnings. I prefer have them emphasized, similarly like messages. As there is not a dedicated element, I am pasting the p:message HTML code directly to the JSF page:

[code]

With a dedicated element (with 4 supported types, same as messages) my code would be much cleaner:
[code]

[2018-08-22 11:31] melloware commented on #3981
Can you post a screenshot of this code in use so I can see what it looks like?  I am just trying to figure out your use case.

[2018-08-22 11:33] tandraschko commented on #3981
I tried to put this in PF some years ago but PF declined: https://code.google.com/archive/p/primefaces/issues/7404
Maybe you can create a issue and implementation for PF Extensions.

[2018-08-22 11:33] #3981 closed, assigned to nobody

[2018-08-22 11:38] melloware commented on #3981
@tandraschko I like this idea to move it to Extensions.  Is the source still in GitHub somewhere or did it never get moved over from Google Code?  I would like to look at your code and use that for the Extension.

I just created this ticket over at PFE: https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/608

[2018-08-22 17:55] stevebeatty opened #3982 "SelectOneMenu: Escaped quotes cause an error on 6.2+"
## 1) Environment
- PrimeFaces version: 6.2.8
- Works in Primefaces 6.2 & primefaces-test
- Application server + version: TomEE 7.0.5
- Affected browsers: Chrome, Firefox, IE

## 2) Expected behavior

Escaped quotes should display

## 3) Actual behavior

jQuery throws an error to the console:
_Error: Syntax error, unrecognized expression: [data-label=""I'm quoted""]_

## 4) Steps to reproduce

Add

[2018-08-22 19:06] melloware commented on #3982
Attached is my PF test case.  I can't reproduce using 6.2 or 6.3-SNAPSHOT.

[primefaces-3982.zip](https://github.com/primefaces/primefaces/files/2311671/primefaces-3982.zip)

Run `mvn clean jetty:run' and navigate to http://localhost:8080/primefaces-test/test.xhtml to test.

Could be something introduced in between 6.2 and 6.2.8 but not in 6.3-SNAPSHOT?

[2018-08-22 19:45] stevebeatty commented on #3982
I think it is a regression due to some release in between 6.2 and 6.2.8.  In the environment section I noted that the behavior wasn't there in 6.2 or primefaces-test (which uses 6.2) and your test case also runs correctly.  I tried some older releases and the error is there in 6.2.3 but not in 6.2.1.

[2018-08-22 20:32] melloware commented on #3982
Looks like it might be related to this fix: https://github.com/primefaces/primefaces/issues/3547

[2018-08-22 22:07] wsaca opened #3984 "Autocomplete: improve panel width when the attribute multiple is true"
Hi, the autocomplete panel width has a problem when the attribute multiple is true, you can check it in the showcase:
- https://www.primefaces.org/showcase/ui/input/autoComplete.xhtml

The panel width when we select the first item from the list looks fine, but when we select the second item the panel width is shorter, if we select the third item the panel width is even shorter.

I have created a p

[2018-08-23 14:04] svrolanski commented on #3492
I think there is another issue with the workaround, here it is:

[code]

Use this javascript whenever you need to adjust the columns, example: (inside <p:dataTable>)

`
<p:ajax event="page" oncomplete="updateTableColumnMinWidths('#IdFromDataTable');"/>
`

[2018-08-23 14:07] svrolanski commented on #811
Duplicate of #3492, old bug, there is workaround in the mentioned issue

[2018-08-23 14:42] markusg80 opened #3985 "dataExporter:Error when exporting tabledata with type xls and xlsx"
## 1) Environment
- PrimeFaces version: 6.2.8
- Does it work on the newest released PrimeFaces version? No Version? 6.2.8
- Does it work on the newest sources in GitHub?  Not tested yet
- Application server + version: Payara 5.182
- Affected browsers: all

## 2) Expected behavior

When i use dataExporter it should export tabledata inside an xls file

## 3) Actual behavior

Error message;
java.lang

[2018-08-23 14:43] tandraschko commented on #3985
use the right POI version?!

[2018-08-23 14:45] markusg80 commented on #3985
I use the POI Version like in 6.2 Documention: POI 3.13

[2018-08-23 14:53] melloware commented on #3985
POI is 3.17 as of PF 6.2

[2018-08-23 14:54] melloware commented on #3985
Duplicate of https://github.com/primefaces/primefaces/issues/3576

[2018-08-23 15:00] #3985 closed, assigned to nobody

[2018-08-23 15:16] Rapster commented on #3980
@melloware do you see anything wrong with the config of sonarcloud in .travis.yml file? I can't make it work for some reason

[2018-08-23 15:29] melloware commented on #3980
It looks OK to me.  the last time when we did this for Extensions the whole issue was around the organization and encrypted key being wrong.

[2018-08-23 15:34] markusg80 commented on #3985
Why the Documentation still has the version 3.13 listed in section 2.2?

[2018-08-23 15:40] NicolaIsotta opened #3986 "OutputLabel: add support for @AssertTrue"
## 1) Environment
- PrimeFaces version: all

## 2) Expected behavior
Right now, the `indicateRequired="true"` attribute of `p:outputLabel` considers `@NotNull`, `@NotEmpty` and `@NotBlank` annotations. I think it should cover also the [`@AssertTrue`](https://docs.jboss.org/hibernate/beanvalidation/spec/1.1/api/javax/validation/constraints/AssertTrue.html) annotation. e.g.: A checkbox with the labe

[2018-08-23 15:41] melloware commented on #3985
it is a mistake that will be corrected for 6.3 documentation as noted by this ticket: https://github.com/primefaces/primefaces/issues/3576 to update the documentation.

[2018-08-23 15:42] Dasister opened #3987 "DataTable: resizeMode="expand" support of table min-width."
## 1) Environment
- **PrimeFaces version:** 6.1
- **Does it work on the newest released PrimeFaces version? Version?** No, it doesn't.
- **Does it work on the newest sources in GitHub?** No.
- **Application server + version:** Wildfly 10.1
- **Affected browsers:** Chrome, Firefox, IE9+, Edge.

## 2) Expected behavior

When a user tries to reduce the size of a column (and if it will lead to overall

[2018-08-23 17:37] tandraschko commented on #3982
can you check that @mertsincan ?

[2018-08-23 20:39] svrolanski commented on #3450
If you want to workaround in version 6.2 have the following javascript execute on pageload:

[code]

[2018-08-24 19:01] Rapster opened #3990 "Password: Improve validity strength"
Since password has been introduced into PF, password security has changed. Length is no longer a valid criteria to mesure password strength. OWASP made a definition of what a strong password should be: https://www.owasp.org/index.php/Authentication_Cheat_Sheet#Implement_Proper_Password_Strength_Controls

I'm quoting:
[code]

Fortunately, there is a pretty good library doing those tests. It also co

[2018-08-25 12:13] melloware commented on #3990
This would be an improvement.  Every time I use the password component I override the JS and implement my own stronger algorithm than the PF default one using the JS override method.

https://forum.primefaces.org/viewtopic.php?p=109513#p109513

[2018-08-25 16:37] OBreidenbach commented on #3713
Provide PR #3991, should also fix #2296.
The bug is visible in the showcase, if you moving events around the message growl shows the wrong values. So you can use the showcase to check if my fix is valid.

[2018-08-25 17:02] melloware commented on #2296
Fixed with PR: https://github.com/primefaces/primefaces/pull/3991

[2018-08-26 20:21] Rapster commented on #3990
I dropped the last point, since I don't think it should be a built-in feature in PF. A simple validator can be created and in that case Levenshtein algorithm is implemented in apache commons-text. Unless you think it should be there?

[2018-08-27 08:54] #3713 closed, assigned to nobody

[2018-08-27 08:55] #2296 closed, assigned to nobody

[2018-08-27 11:36] Mitsch79 commented on #1833
Really? I'd definately consider this being a bug and it's still present in primefaces 6.1. Given the fact, that eager (non-lazy) tables behave exactly the way OP expects it's not conclusive that a lazy table suddenly should not. Plus, the lazy table highlights (checks) the previously selected rows as soon as any row on the corresponding page is selected. So, the view still knows about the formerly

[2018-08-27 11:36] #3984 closed, assigned to nobody

[2018-08-27 11:48] tandraschko commented on #3986
Thanks for the PR, i enhaced it by an "instance of".

[2018-08-27 11:48] #3986 closed, assigned to nobody

[2018-08-27 12:06] jan-tosovsky-cz opened #3992 "SelectManyMenu: Filtered Item Selection"
In my app I'd like to change the default selection strategy when filter is updated.

I primarily miss the **onFilterUpdate** event in client side API.

Then I would be grateful for two new methods:
- clearSelection() - clears the selection. If selectManyMenu is combined with the filter and some items are selected, these are still selected after updating the filter value, even they disappear from t

[2018-08-27 13:51] tandraschko commented on #2089
@Mobe91 @melloware I improvided it via the way i mentioned and its quite fast.
Can you try again?

[2018-08-27 13:51] #2089 closed, assigned to nobody

[2018-08-27 14:32] tandraschko commented on #3477
Thanks - also improved it a bit. Feel free to review.

[2018-08-27 14:32] #3477 closed, assigned to nobody

[2018-08-27 17:00] Rapster commented on #3189
Reading "Prefer for-each loops to traditional for loops" from Effective java by Joshua Bloch made me question about this issue. I quote:

By curiosity, I didn't find any benchmark regarding that topic on internet (considering warm up, forks, etc...) So I decided to run mine, and I was quite surprised by the result (higher is better):

[code]

And here is the benchmark:
[code]

It looks like for at

[2018-08-27 17:11] tandraschko commented on #3189
it's not about the executing performance, there is no or nearly no performance gain.

The difference is the Iterator allocation.
It's a big difference if there are 100k iterator per request or below 1k. (just think about multiple requests)
Of course the benefit is bigger in the JSF impl as in PF -> https://issues.apache.org/jira/browse/MYFACES-3130

As i already posted somewhere, i would never use