[2018-03-28 07:07] #3538 closed, assigned to mertsincan

[2018-03-28 09:18] tandraschko commented on #3500
Will close it for now, it should be fixed. Please reopen if you still have problems with the newer versions soon.

[2018-03-28 09:18] #3500 closed, assigned to tandraschko

[2018-03-28 12:03] akhilbabu opened #3539 "The confirm dilog box not working"
in prime-faces 6.2  the confirm dialog box not coming up when taking from menu.but after any other action like refresh ,the dialog box start working.Its working when i change version of prime-faces in to 6.1
## 1) Environment
- Prime-faces version:6.2
-Not working on newest version but in 6.1
- Application server + version:glass-fish :4
- Affected browsers:All

## 2) Expected behavior
confirm dial

[2018-03-28 12:04] melloware commented on #3539
I think this has been fixed by: https://github.com/primefaces/primefaces/issues/3498

[2018-03-28 12:06] tandraschko commented on #3539
Do you get a JS error in the console? If yes, it should be fixed.

[2018-03-28 12:08] akhilbabu commented on #3539
No jsf error  in console

[2018-03-28 12:11] tandraschko commented on #3539
JS = javascript ;)

[2018-03-28 12:15] akhilbabu commented on #3539
sorry for that:
an error coming like this> TypeError: this.jqEl is undefined[Learn More]

[2018-03-28 12:18] tandraschko commented on #3539
Yep, then it's the same bug and already fixed.

[2018-03-28 12:18] #3539 closed, assigned to nobody

[2018-03-28 12:19] akhilbabu commented on #3539
how can i fix it in my project ? i am using like this  compile 'org.primefaces:primefaces:6.2'

[2018-03-28 12:23] tandraschko commented on #3539
You can build by source or overwrite the renderer (use google for this), here is the diff: https://github.com/primefaces/primefaces/commit/9f86efba16ead70f9db1194744d291a7f64acefb

[2018-03-28 14:12] melloware commented on #3487
Thank you so much for the sample project!  I just submitted a PR with the fix: https://github.com/primefaces/primefaces/pull/3540

[2018-03-29 08:44] mertsincan opened #3541 "Improve height property of Dialog Framework"
Reported By PRO User;

[code]

[2018-03-29 08:45] #3541 closed, assigned to mertsincan

[2018-03-29 08:52] PlassJ commented on #3422
I am struggling with the same Problem.
Should this be fixed with 6.2.1 ?

[2018-03-29 09:08] tandraschko commented on #3422
@mertsincan Would you like to check it this for elite?

[2018-03-29 11:10] PlassJ commented on #3422
I think i have tracked down the problem to the SocketRenderer.
In PF 6.1.15:
String url = getResourceURL(context, channelUrl);
In PF 6.2.1:
String url = channelUrl;

I changed it back to getResourceURL and everything works as expected.
unfortunately i don't have a clue on how to provide a PR for an not exsisting resource ...

[2018-03-29 11:14] tandraschko commented on #3422
getResourceUrl is fine if you are not on JSF 2.3. You can't provide a PR but the info should be info to fix it if @mertsincan would like to do.
But you can easily overwrite the renderer in your project.

[2018-03-29 11:49] PlassJ commented on #3422
Already fixed it, as we maintain our own littel PF branch ;-)

[2018-03-29 13:55] djmj commented on #3521
@tandraschko I requested a Quote by e-mail to contact@primetek.com.tr to get a elite release fix, but did not received an answer yet.

[2018-03-29 15:49] Rapster opened #3542 "Remove CoreRenderer"
Lately, I was having a look to CoreRenderer and realized it's more an utility than a Renderer per say. I'll go straight to the point, but what about moving all methods in RendererUtils, and delete CoreRenderer?

[2018-03-29 18:30] Quix0r commented on #3098
I have heard that Primefaces want to introduce bundling resources, then you only have one JS and one CSS request. It can still be combined with your idea. Or alternatively do "cache-busting" by adding a `?v=1.2.3` to all your static resource (like JS/CSS/favicon are). Then, on next change, increase ("bump") the version number and the browser "sees" a new URL. Basically almost the same what he want

[2018-03-29 18:38] tandraschko commented on #3098
what do you mean? We already bundle resources (not 1file but only a few files) and also already append the version.
Also we won't provide a way to bundle only 1js and 1css. Use OmniFaces for this.

[2018-03-29 18:56] open-gdsn commented on #3098
Thomas is right...

[2018-03-29 19:26] Quix0r commented on #3098
Okay, sorry. Misunderstanding on my side. Now I need to find out where to add `omnifaces-3.0.jar`, `~/personal_domain/lib/` is causing an exception and NetBeans doesn't "see" those namespaces in there ... Okay, other tracker. ;-)

[2018-03-29 19:40] leomekenkamp commented on #3500
Sorry, too busy with other stuff. Will get back to you when I have tested.

[2018-03-30 08:25] LoloBeubeu opened #3543 "TreeDragDropEvent : incorrect dropIndex value when using drag and drop between sibling nodes"
# Description

When trying to move a node between itself and the next sibling, the dropIndex value returned by DragDropEvent seems to be wrong and should be decreased by 1.

This issue can be seen in this Showcase example : https://www.primefaces.org/showcase/ui/data/tree/dragdrop.xhtml

- if I move "Node 0" on top (which already is), "Node 0" doesn't move and dropIndex = 0
- if I move "Node 0" be

[2018-03-30 18:11] Quix0r commented on #3088
6.2 is out, @escay can you please retry it with latest stable version?

[2018-03-30 19:04] melloware commented on #3542
I think I am with @tandraschko on this one. Not enough "bang for the buck" for me to endorse doing this without a good refactoring reason.

[2018-03-31 10:20] krichter722 opened #3544 "Provide Selenium extension/support"
Since Primefaces doesn't produce the same HTML as plain JSF or other JSF implementations, Selenium tests need to figure out how to retrieve text from and check attributes of child elements. I'd be nice if accessing PrimeFaces elements in Selenium Java test would be as easy as

    @org.primefaces.FindBy(id="someid")
    private Messages messages;
    ...
    @org.junit.Test
    public void test()

[2018-03-31 11:20] tandraschko commented on #3544
I would use Selenide, which provides jquery like selectors.
Also i don't like to use the component classes in tests. (UPDATE: i think you mean a helper class "SelectOneButton", not the component itself)

I think the best way is to work on it with the primefaces-extensions teams. Later we can still merge it into PF if it has been implemented well.

[2018-03-31 17:33] professorxuk opened #3545 "Calendar: on dialog with scrollable background is broken"
## 1) Environment
- PrimeFaces version: 6.2
works ok on PF <= 6.1

## 2) Expected behavior
Calendar popup should be bound to the input control

## 3) Actual behavior
Calendar popup is positioned relatice to the scrolled background window e.g. when at top of window the popup is correct, but on scrolling down the popup is too low. Scrolling down a bit more the popup is no longer visible.

## 4) Step

[2018-03-31 19:13] melloware commented on #3545
I had reported something similar before they fixed.  This must be a different flavor of it..  https://github.com/primefaces/primefaces/issues/2271

[2018-03-31 19:33] professorxuk commented on #3545
I have to admit this issue might duplicate https://github.com/primefaces/primefaces/issues/3423 We only use community versions sadly.
Hopefully my xhtml sample will help narrow down a solution. I guess this could be related to the adoption of jquery 3. As a temporary workaround we might switch to p:overlayPanel rather than p:dialog.

[2018-04-02 11:12] krichter722 commented on #3544
Relevant stackoverflow.com querstions which might serve as a workaround before such an extension exists as well as base for the implementation:

   * https://stackoverflow.com/questions/46765542/how-to-access-primefaces-components-through-graphene-in-the-most-portable-way
  * https://stackoverflow.com/questions/47106401/why-can-i-click-an-input-with-type-radio-of-a-hselectoneradio-but-not-one-of-a

[2018-04-02 13:12] melloware commented on #3545
You are right that ticket looks like it is related to this one.

[2018-04-02 16:36] professorxuk commented on #3545
I see that PF 6.2 now has jquery.ui.pfextensions.js which does some datepicker re-positioning. Being very inexperienced in jquery's datepicker code let alone PF's customisation I'm not much help I'm afraid. Maybe https://github.com/tandraschko can help?

[2018-04-02 20:25] tandraschko commented on #3545
I just did a major major refactoring how we handle our javascripts. Everything was in 1 big big file. I just did a splitup and moved our modified code to the jquery.ui.pfextensions.js.
Maybe could debug if the methods are called.

[2018-04-03 07:55] Rapster commented on #3542
I understand what you're saying, but my concern is about code quality, and this might be big. Probably minor to some other things but it deserves some attention, as I said to Thomas, I'm quite curious about performance as well, I have to investigate on this...

[2018-04-03 07:56] mertsincan opened #3547 "selectOneMenu : disabled on using placeholder"
Reported By PRO User;

ex:
[code]

[2018-04-03 07:57] #3547 closed, assigned to mertsincan

[2018-04-03 08:06] tandraschko commented on #3542
There is no measureable performance difference! ;)

[2018-04-03 08:11] Rapster commented on #3542
How can you be so sure? My ears are wide opened regarding instance method vs static method memory allocation and time execution. I don't find clear answers regarding this topic, so if you can enlight me on this, i'll be glad to ear it :wink:

[2018-04-03 08:20] tandraschko commented on #3542
Just try it by yourself.
And performance is absolutely NO GO for refactoring something. The difference is not measurable in a single request, it will even be not measurable in 100 requests. Everything else is factor 1000 slower as moving all to static methods...

[2018-04-03 08:32] Rapster commented on #3542
I prefer to read articles regarding this than running a benchmark that have a lot of change to be wrong... So many examples and counter-examples on satckoverflow :D

On a general note, performance is definitely a good reason to refactor, specially for a framework like PF, proof is, iterator loop vs index loop, you're doing it! _(and let's be honest, if we were meant to change intance methods calls

[2018-04-03 08:37] tandraschko commented on #3542
As i already said, i currently don't see any reason to do it. Using inheritance is currently the better way with better quality.

[2018-04-03 09:24] #2171 closed, assigned to nobody

[2018-04-03 09:24] tandraschko opened #3548 "[Documentation] DataTable: disableContextMenuIfEmpty"
see #2171

[2018-04-03 09:30] christophs78 opened #3549 "DataTable: (inline-)edit - row-mode: set focus to the first input-field in the row"
## 1) Environment
- PrimeFaces version: 6.2

## 2) Expected behavior
When the user clicks on the row-edit-icon the focus should be set to the first input-field in the row.

## 3) Actual behavior
Focus ist not set. User has to click into the input-field.

## 4) Steps to reproduce
https://www.primefaces.org/showcase/ui/data/datatable/edit.xhtml
First example. (Row Editing)
Click on the row-edit-icon

[2018-04-03 09:34] christophs78 commented on #3549
Currently we are able to do work-arrounds like
`<p:ajax event="rowEditInit" oncomplete="dataTableRowEditFocusFirstInput();" />`

[code]

This is not perfect because it has shortcommings when multiple row´s are set to edit-mode.

Think it should be realtiv easy to add this to DataTable-Primefaces-Component without breaking exiting implementations. (Use CSS-selector to select the first input-field w

[2018-04-03 09:36] tandraschko commented on #1912
A statement from stackoverflow:

We already use plot.destroy but after the DOM was replaced. So that may be a problem.

[2018-04-03 11:29] melloware commented on #3542
The problem with Static Utility calls vs instance methods its makes things harder to mock and unit test.

[2018-04-03 11:41] Rapster commented on #3542
Yeah I know, that's what I thought but looks like doable now http://www.baeldung.com/intro-to-powermock

[2018-04-03 11:54] melloware commented on #3542
It's definitely doable but I have found avoiding PowerMock and PowerMockito should be done at all costs unless using it to test a legacy library that you can't control.

https://news.ycombinator.com/item?id=8775233

[2018-04-03 12:04] tandraschko opened #3550 "Poll: should stop when widget is destroyed"

[2018-04-03 12:06] #3550 closed, assigned to tandraschko

[2018-04-03 12:13] tandraschko commented on #1260
Does it work when you use placeholder instead of p:watermark?

[2018-04-03 19:33] jxmai commented on #2171
@tandraschko milestone is missing :checkered_flag:

[2018-04-04 09:58] jthalmai opened #3551 "DataTable: Multiselection with shift-click doesn't work after update"
## 1) Environment
- PrimeFaces version: **6.2**
- Does it work on the newest released PrimeFaces version? **No - 6.2**
- Application server + version: **WildFly 12.0**
- Affected browsers: **Firefox**

## 2) Expected behavior

After clicking entry a) of the datatable and then shift-clicking a second entry b), all entries from a) to b) should be selected, even if the DataTable has bean updated in t

[2018-04-04 10:38] tandraschko commented on #3551
It will be hard to solve this issue.
A update on the dataTable means that the whole table is re-rendered, so the client-side state is lost.

It will be probably a won't fix.

[2018-04-04 10:52] #63 closed, assigned to nobody

[2018-04-04 10:59] #2933 closed, assigned to nobody

[2018-04-04 11:34] devmsaleh opened #3552 "Add feature to set ajax request timeout and customize timeout callback"
is it possible to add feature to set specific ajax request timeout and customize timeout callback  ?
something like
<p:commandButton action="{bean.action}" timeout="30" ontimeout="doJavaScriptStuff" />

[2018-04-04 11:42] tandraschko commented on #3552
questsions -> forum

[2018-04-04 11:42] #3552 closed, assigned to nobody

[2018-04-04 11:46] devmsaleh commented on #3552
it's not a question it's a feature request ?

[2018-04-04 11:46] devmsaleh commented on #3552
at least tell me why it's invalid

[2018-04-04 11:52] jthalmai commented on #3551
Well, thank you anyway for the quick response.

[2018-04-04 11:52] tandraschko commented on #3552
"is it possible to...?" is a question for me and indicates you are to lazy to check the docu and google about it. Therefore it's invalid.

I could also set the label "already possible" but we don't have it ;)

[2018-04-04 12:34] tandraschko commented on #3551
It's not that i don't like to fix that but it's quite a big "new feature" to remember such client-side state. I think you could sponsor it via PrimeFaces PRO, i don't like to touch the DataTable as opensource-committer and also the effort is to big for me.

[2018-04-04 14:43] kukel commented on #3551
I think it could/can be fixed and the problem might 'just' be that the first click IS remembered in the server (and rendered as such on the client after an update) and it should in that case also be set as the first selection when doing a multi-select. The problem will then be to remember the LAST selected one. Could be fairly easily done in a cookie. Thing is what to do if the originally selected

[2018-04-04 14:49] tandraschko commented on #3551
It can also easily done with a storing it a global PF "store" or just use html5 localstorage e.g.

[2018-04-04 14:52] tandraschko commented on #3551
But we should think about that: why is it required to update the whole table? Shouldn't it be possible to update the values or whats the actual usecase?

[2018-04-04 15:07] kukel commented on #3551
True... But since PF uses cookies for several comparable things... Usecase: a live log viewer where you are selecting things that need 'removal'. What is unfortunate is that PF (and even the JSF core in Mojarra if I remember correctly) does not make 'inserting' **new** elements (html data)  in a component possible or deleting them but required the full component to be updated: https://stackoverflo

[2018-04-04 15:18] tandraschko commented on #3551
In generell it's possible via the JSF API to add new elements or remove single elements, however, as you said, it's not used.
The problem it that it would be very time consuming to write something for each component.

The lifecycle for such components is just to complex. Even if you update data, you would also need in some cases wo refresh some JS selectors variables inside the widget e.g.

Thats

[2018-04-04 19:34] BalusC commented on #3544
This can get you started: https://github.com/omnifaces/arquillian-primefaces

[2018-04-04 20:22] melloware commented on #3544
@BalusC that is very very cool.

[2018-04-05 07:16] kukel commented on #3551
I'm not talking about **every** component but the ones where it makes a real difference (adding/deleting a tab, adding/deleting a row in the datatable). The amount of effort for the tabView adding a tab is not that high (would even be more simple if Mojarra just implemented the insert instead of update). And deleting is even more simple.

Not really, the eventlistener (in most cases) are defined s

[2018-04-05 09:27] tandraschko commented on #3551
+1 from my side but as i already said, i don't touch the DataTable for improvements. It's to complex and very likely to destroy something. I don't have time in my freetime for such things.
If you can discuss that with @mertsincan, it's ok for me.

[2018-04-05 09:49] sarvigalava opened #3553 "FileUpload: does not update the 'aria-disabled' attribute for the upload and cancel buttons"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-04-05 09:53] sarvigalava commented on #3553
The problem is in the fileUpload.js file. The disable & enable functions does not change the 'aria-disabled' attribute

    disableButton: function(btn) {
        btn.prop('disabled', true).addClass('ui-state-disabled').removeClass('ui-state-hover ui-state-active ui-state-focus');
    },

    enableButton: function(btn) {
        btn.prop('disabled', false).removeClass('ui-state-disabled');
    }

[2018-04-05 11:16] melloware commented on #3553
Please review my PR.

[2018-04-05 11:33] #3553 closed, assigned to nobody

[2018-04-05 15:19] yannickb85 opened #3555 "MOVE_SCRIPTS_TO_BOTTOM should also work without body tag"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-04-05 15:22] tandraschko commented on #3555
i'm not sure if a facelet view without body is valid.

[2018-04-05 15:36] tandraschko commented on #3555
Ok, but lets do a workaround. I will commit something now, please give it a try.

[2018-04-05 15:38] #3555 closed, assigned to tandraschko

[2018-04-05 18:12] alailson commented on #3539
In the web.xml file:
&lt;context-param&gt;
        &lt;param-name&gt;primefaces.MOVE_SCRIPTS_TO_BOTTOM&lt;/param-name&gt;
        &lt;param-value&gt;true&lt;/param-value>
    &lt;/context-param&gt;
It worked for me.

[2018-04-06 04:45] akhilbabu commented on #3539
solved untill 6.3

    "compile files('primefaces-6.2.jar') " (latest jar)   instead of  "compile 'org.primefaces:primefaces:6.2' "

[2018-04-06 11:10] mertsincan opened #3556 "MaxResults does not work on autoComplete"
Reported By PRO User;

[2018-04-06 11:10] #3556 closed, assigned to mertsincan

[2018-04-06 11:57] SebastianLindner commented on #1152
I wrote an article how this vulnerability can be fixed for projects, when an update is not an option. The example is for PrimeFaces 4.
https://www.illucit.com/en/java-ee/primefaces-expression-language-remote-code-execution-fix/

[2018-04-06 13:05] melloware opened #3558 "DefaultStreamedContent: contentLength variable spelled wrong"
contentLenght = contentLength.

PR on its way.

[2018-04-06 13:09] #3558 closed, assigned to nobody

[2018-04-06 13:25] msgeissler opened #3561 "Errors when resetting Google reCaptcha"
This is the issue for PR #3560

## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Script hasn't changed
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Server independent
- Affected browsers: Browser independent

## 2) Expected

[2018-04-07 18:54] milikicn commented on #2521
+1

[2018-04-09 03:58] leandrodmartini commented on #3021
Thank you Melloware for the investigation. I will consider changing my website layout.

[2018-04-09 06:36] ssibitz opened #3562 "RowEditor: Add partialSubmit support"
I am currently using Primefaces 6.2.2 Elite with Java 8
running on JBoss-EAP 7.1.0 application server.

The view i made has a lot of elements to fill out (our application parameters for a calculation),
so i split it into multiple pages using the Primefaces AccordionPanel.

I set the multiple option to false to show the user only one by one tabsheet.

When i use a tab with controls and a editable d

[2018-04-09 06:51] cnsgithub commented on #3562
I don't know what the reason for your original problem is, however if you want to avoid a full submit you might try one of the following:

1. Use immediate = true on the commandlink
2. Use a p:remotecommand outside of the datatable with immediate true and an action of your bean and call it via JS

(  js call: remoteCommandFunctionName({name1:'value1', name2:'value2'});)
( get param in java: FacesC

[2018-04-09 07:31] ssibitz commented on #3562
Is there a ways to "exclude" in general sending/posting all datas from a Datatable ?

This would solve the issue i think because i have only this options for a datatable:

_1.) Datatable is showing the datas readonly :_
No sending of datatable-datas in form-datas required !

_2.) Datatable is enabled for Row-Editing:_
Changed datas are send by ajax-request to server.
No sending of datatable-datas

[2018-04-09 07:54] tandraschko commented on #3562
Your "issues" are mostly like forum questions ;)
You can use partialSubmit, but really, thats nothing thats need to be discussed in the issue tracker.

[2018-04-09 08:21] ssibitz commented on #3562
The problem also occurs when i set to partialSubmit because in a simple Datatable with edit is set to on
and want to be able to dynamically add new datas the limit  of 1000 Parameters is reached very quick when i have about 15 Columns in Edit Mode there are 30 Fields/Row (input+output).

So after 33 Row's i got a server exception because of 34 Rows x 15 Columns x 2 Fields/Column (Input+Output) = 1

[2018-04-09 08:28] tandraschko commented on #3562
Now we have a real issue ;)

[2018-04-09 08:30] tandraschko commented on #3562
If you set the partialSubmit on your add-commandLink, that should work fine. Just the edit itself could still use partialSubmit=false of course.

[2018-04-09 08:48] ssibitz commented on #3562
It also crashes when i click on the add-commandlink
also when i set partialSubmit to true
and process only to @this :

[code]

The whole datatable is then sended to the server,
and crashed after adding (Clicking the Add-Button) the 34th row :

[The view with the datas before clicking the add-button](https://image.ibb.co/eRaJpx/2018_04_09_10_39_33_SKF_Ecocalc_DD_Calculation_parameters_of_SKF_Sealin

[2018-04-09 08:53] ssibitz commented on #3562
I changed the current title of this issue because it currently occurs in CellEdit and RowEdit mode ...

[2018-04-09 09:03] ssibitz commented on #3562
I have one question:

Is there a needed from the primefaces side that all
datatable datas (coded as form data)
are send because in edit-mode (row or cell)
always AJAX is used for transfering the changed datas ?

[2018-04-09 09:15] tandraschko commented on #3562
About the add-commandLink, please provide a example based on the showcase....

There is no need, we just send the whole form per default. Therefore there is a "partialSubmit" mode.

[2018-04-09 09:22] ssibitz commented on #3562
And why sending the whole data-table datas per default ?
Is there any need for sending the data-table datas ?
In Edit-Mode always only the changed datas are send,
and in Readonly-Mode the datatable-datas not relevant for sending - or not ?

[2018-04-09 09:23] ssibitz commented on #3562
I will try to fork the showcase and modify a datatable-example in which the error can be reproduced...

[2018-04-09 09:25] tandraschko commented on #3562
The problem is actually this:
the DataTable must be proceed to correctly trigger the events on the serverside. So the roweditor must proceed the DataTable. PartialSubmit means that everything that is "process"ed, will be posted. In this case the whole DataTable.

And exactly this new functionally, to only send the current row for the rowEditor needs to be implemented.

[2018-04-09 09:34] ssibitz commented on #3562
So also when i edit only 1 cell the complete data-table will be transfered ?

[2018-04-09 09:35] tandraschko commented on #3562
I don't know, i always talked about the rowEditor. Just check it by yourself.

[2018-04-09 09:39] ssibitz commented on #3562
I will fork the primefaces-showcase and make a separate entry in the datatable-section
to show how to add a new row and to reproduce the issue.

Then i will come back to this ticket and report/send you the link...

[2018-04-09 10:12] Rapster opened #3563 "DefaultMenuItem: use builder pattern"
## 1) Environment
- PrimeFaces version: 6.2

## 2) Expected behavior
Fluent API to create menu items.
[code]

`DefautMenuItem` has 40 attributes, builder would make creation much more easier than constructors.

## 3) Actual behavior
[code]

[2018-04-09 11:18] ssibitz commented on #3562
I now got the exception also on the primefaces-showcase
in the "**Datatable -> Edit**" view.
(https://www.primefaces.org/showcase/ui/data/datatable/edit.xhtml)

To reproduce you have to click the "Add a new row" button 3 times.
The first and second click will produce the new generated entry,
but the 3rd click will produce the exception because then more than
1000 parameters are send to the server.

[2018-04-09 11:18] tandraschko commented on #3563
+1 basically but i would do it a little bit different

Some people use a own implementation of MenuItem, so therefore i would do something like that:

MenuItem = new MenuItemBuilder(new xxxMenuItem()).......build();

As packacke i would use org.primefaces.model.builder

[2018-04-09 11:33] tandraschko commented on #3562
changed the title again. If CellEditor does also not work, we should add a new ticket.

[2018-04-09 11:34] tandraschko opened #3564 "DataTable: addRow() widget method should use partialSubmit and avoid posting all inputs"

[2018-04-09 11:34] tandraschko commented on #3562
For your other issue, i created a new ticket: https://github.com/primefaces/primefaces/issues/3564

The button itself does not post the datatable but the addRow method does.

[2018-04-09 11:36] tandraschko commented on #3562
It would be great if you could sponsor it or provide a PR. I don't have time to do this in my freetime.

[2018-04-09 11:43] Rapster commented on #3563
Looks over-designed... Plus I don't how you'd make it work. I think i have an idea of what you're trying to achieve. `MenuItemBuilder`  constructor would have a `MenuItem` as a parameter, `MenuItemBuilder` would provide setters, but since `MenuItem` is an interface, you can't set anything from there. Your approach needs one builder per each custom `MenuItem` (that's what make it over-designed to m

[2018-04-09 11:47] tandraschko commented on #3563
There is nothing overdesigned, it would just make it be possible to use another instance. But without setters, it's not possible of course.

[2018-04-09 11:55] ssibitz commented on #3562
PR ? What's this ? How can i help to solve this bug ?

[2018-04-09 11:56] tandraschko commented on #3562
https://help.github.com/articles/about-pull-requests/

[2018-04-09 12:02] ssibitz commented on #3562
OK, i now created a pull-request - can you check it ?

[2018-04-09 13:55] LordFirlefanz opened #3565 "Title (tooltip) in components not displayed when disabled"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces (6.2) version? No
- In Version 6.1 it worked.
- Application server + version: Payara 4.1.1.171.1
- Affected browsers: Tested in Chrome 65.0.3325.181 (Offizieller Build) (64-Bit) and Firefox 52.7.2 (32-Bit)

## 2) Expected behavior
Tooltip should be displayed, no matter if the component is disabled or enabl

[2018-04-09 14:07] #3561 closed, assigned to nobody

[2018-04-09 14:41] ssibitz commented on #3562
I think that the general problem is that
as default datas are send as "application/x-www-form-urlencoded" in jquery
and so also in the primefaces-send function in ajax.

Sending the form-datas to urlencoded will always limit
you in sending to a maximum of 1000 form-elements/params/datas
- even if the size of the POST is only less than 1KB.

So in general sending the datas via JSON, Text or a real

[2018-04-09 14:45] tandraschko commented on #3562
IMO thats not a generell problem, only a generell workaround ;)
partialSubmit should work there and used if possible, to reduce the data which is required nowadays for mobile devices.

[2018-04-10 05:19] ssibitz commented on #3562
1.) I think sending the datas via JSON/XML/Text-Encoded is an improvement
to really send big datas and be future-ready :-)

2.) Paritial handling of the datatable:
Sending the whole datatable in general always occurs in problems when
handling with big datas and here i start "changing" this.
The first think i want to try is to handle the partial sending of a datatable
so the whole datatable should

[2018-04-10 08:51] ssibitz commented on #3562
This issue has nothing to do with all components or the JSF-Core.
It only has to do with the datatable and sending unneeded datas.

A server side solution is not possible because it crashes before you got the datas on a filter function...

The exception occurs also in the Primefaces-Showcase
when you add about 125 rows to the 2 editable tables and add try to add a new one ...

[2018-04-10 09:04] tandraschko commented on #3562
for 1) and 2) partialSubmit was implemented ;)

3,4,5 is really component specific.

[2018-04-10 09:48] movalz opened #3566 "InputMask: pattern with '*' doesn't function"
Since #3234 an inputMask like "a\*9" doesn't function. Reason:
code inside InputMaskRenderer.translateMaskIntoRegex(InputMask) translates "a*9" into regexp "[A-Za-z]\\[A-Za-z0-9][0-9]". The correct regexp would be "[A-Za-z][A-Za-z0-9][0-9]".

## 1) Environment
- PrimeFaces version: 6.2.2
- Does it work on the newest released PrimeFaces version? Version? Yes
- Does it work on the newest sources in

[2018-04-10 09:49] ssibitz commented on #3562
I currently found a simple, but effective workoround to
fix the mass-sending of datas for the primefaces-data table:

When the **send** function is called i filter out all fields with the parent class is from type
**ui-cell-editor-input** if the new config-param **cfg.postDatatableEntries** is not explizit set to **true** :

Here is the currently changed part in the core.ajax.js include a debuggin

[2018-04-10 09:57] leomekenkamp commented on #3500
Finally have had time to verify: confirmed fully fixed in 6.2.2. Thanks!

[2018-04-10 10:02] movalz opened #3567 "DataTable: onRowClick isn't called when row click is triggered via keyboard"
DataTable with JS code for attribute "onRowClick": if a row is clicked via mouse the JS code is executed. If a row is selected via keyboard (using Up/Down keys to navigate to a row and pressingn SPACE or ENTER to select that row) the "onRowClick" code isn't executed.

Reason: In datatable.js function bindRowClick() treats a mouse click only and "...on('keydown', ..." in bindSelectionKeyEvents() do

[2018-04-10 10:03] ssibitz commented on #3562
I currently think for the point 2.3) and 2.4) only sending the
datas of the current row and filtering all other datas from the table should
also work similar to the **cfg.postDatatableEntries** parameter ...

[2018-04-10 11:11] cnsgithub commented on #3566
PR: https://github.com/primefaces/primefaces/pull/3569

[2018-04-10 11:19] tandraschko commented on #3562
Commited a prototype for it, you can activate it via:
`<p:ajax event="rowEdit" .... partialSubmit="true" />`

[2018-04-10 11:31] ssibitz commented on #3562
What's about the point's 2.1), 2.2) and 2.5) ?

Can you also filter the datatable's _ui-cell-editor-input's_ by default
to skip unwanted "datatable-send-datas" ?
So that no datas of the datatable is included when
no editing is currently active ...

[2018-04-10 11:38] tandraschko commented on #3562
just don't render inputs in 2.1 and 2.2.... (or don't use a p:rowEditor.... )
2.5 is another issue and there is already a ticket for this one.

[2018-04-10 11:40] #3562 closed, assigned to nobody

[2018-04-10 12:00] ssibitz commented on #3562
How can i don't render the input's when its inside
the datatable ?
I don't know when it should be rendered because
that's a "feature" of the datatable and should be handled here !

The whole datatable's input's are always send to the server
and that's the current problem - also when try to add a new row.

So : Please do not send all table datas by default on form-submit
because this is not a useab

[2018-04-10 12:04] ssibitz commented on #3562
I see that your current fix only fixes the point 2.3) Row-Editing
but what's with the 2.4) Cell-Editing ?

Why you are closing this ticket even if the bug's are already exists ?

[2018-04-10 12:14] tandraschko commented on #3562
Dude, i'm not a premium support here to anwer all your questions :D

Did you ever checked the cell-editing if the problem happens there?
Did you ever checked if disabled inputs are posted to the server?

[2018-04-10 12:15] tandraschko commented on #3562
As i already said, this ticket is about the RowEditor. And this problem is fixed with the commit.

[2018-04-10 12:25] ssibitz commented on #3562
OK.

I will create new ticket's for the other point's,
but they are all the same base reason:
Sending to much datas instead of filtering them out before
sending them via AJAX-POST...

[2018-04-10 12:35] ssibitz opened #3570 "#3562 CellEditing: Add partialSubmit support"
This is the point 2.4) of the issue #3562 :
**Table is editable in Cell-Edit-Edit-Mode** -> Only the current cell-datas should be sended to the server.

The problem occurs when the whole table-datas are send via parameter url
and the quantiy of parameters are over 1000.
Then you got a server exception.

[2018-04-10 12:38] tandraschko commented on #3570
example?
If you don't provide a example to replicate it, which already uses partialSubmit, i will close it as invalid.

[2018-04-10 12:53] ssibitz commented on #3570
The same example as i forked from the Primefaces-Showcase:
[https://github.com/ssibitz/showcase](https://github.com/ssibitz/showcase)

When you then click in the Edit-Table with Cell Editing enabled
you can see that the whole datatable is serialized for each Input.
But you can only change 1 input at the same time,
so you will got an server exception if you are over 125 rows and try
to edit only on

[2018-04-10 12:56] tandraschko opened #3571 "DataTable: Row/CellEditor should disable inputs to avoid post parameters"
see #3570
see #3564
see #3562
see #2008

[2018-04-10 12:56] tandraschko commented on #3570
Close in favor of: https://github.com/primefaces/primefaces/issues/3571

[2018-04-10 12:56] #3570 closed, assigned to nobody

[2018-04-10 12:56] tandraschko commented on #3562
close in favor of: https://github.com/primefaces/primefaces/issues/3571

[2018-04-10 12:57] tandraschko commented on #3564
Close in favor of: https://github.com/primefaces/primefaces/issues/3571

[2018-04-10 12:59] ssibitz commented on #3571
Disabling the fields by row/celleditor is also a way to prevent the datas from posting ...

[2018-04-10 13:02] ssibitz opened #3572 "Adding an AddRow-Example to the Primefaces-Showcase ?"
As i am using Primefaces 6.2 i got an exception on adding a new row
which currently will be handled with the ticket #3564 .

For the test's i prepared an example on how to use
the AddRow of a datatable, so my question:

Should i prepare a new view for the Primefaces-Showcase
to show how to use the AddRow function ?

I searched across the internet to find it out and so i
think this could also be us

[2018-04-10 13:03] kukel commented on #3564
First of all, this has nothing to do with the EditableDatatable. It happens for a normal datatable with inputs as well. I've analyzed all this and the addRow by default processes the children of the datatable but submits the whole surrounding form (the default if nothing else is specified)

[code]

By changing the `process: this.id` to `process: "@none"` **AND** adding a `partialSubmit: true`, the

[2018-04-10 13:05] tandraschko commented on #3572
yes but please please please avoid creating such issues in the future, i will close them just as invalid.

In generell:
- a issue tracker is NOT NOT NOT for questions. Use the forum or gitter
- we always accept showcase improvements like adding not shown features
- this issue tracker is for primfaces, the showcase issue tracker is for the showcase

[2018-04-10 13:05] #3572 closed, assigned to nobody

[2018-04-10 13:10] kukel commented on #3564
So I vote to re-open this. It is as stated **NOT** related to an editableDataTable and removing that from the title makes it a generic issue.

[2018-04-10 13:12] kukel commented on #3571
#3564 is a separate issue. Not related to Row/Cell editing. I posted a 'fix' there (sorry, no time, or rather currently no environment to make a PR)

[2018-04-10 13:14] kukel commented on #3571
Disabling the fields makes it harder for aria stuff I think... and when you disable it for real and not for aria that might become a problem. I'm not in favour of solving it that way. Making the row/cell editor do a real partial submit is the better way. I'm already looking into these

[2018-04-10 13:16] kukel commented on #3562
2.1: Real readonly inputs are NOT submitted by JSF, so 2.1 is a non-issue. 2.2 is or should like Thomas stated  be done via the existing partialSubmit options. The core ajax should not have knowledge of the dataTable internals. 2.5 is already 'fixed', see #3564. It might be an option to in the #3564 fix use the `skipDataTableChildren` parameter/attribute

[2018-04-10 13:16] tandraschko commented on #3571
I'm a noob in ARIA ;) but it feels the right way as the inputs are not enabled per default actually, only when you enter the edit mode.

[2018-04-10 13:24] tandraschko commented on #3564
I think you need a process=datatable, so that the datatable can trigger teh AddRowFeature.
A simple fix would be to filter out, via partialSubmitParameterFilter, all child parameters of the datatable. Similar, but much smaller, as: https://github.com/primefaces/primefaces/commit/a0cc0ca8d22ac3acec6a42f6c01c95fc3bee3e28

[2018-04-10 13:32] kukel commented on #3571
Technically they **are** enabled, just not visible which is for the visibly impaired not relevant. If you disable them technically but (most likely) need them not disabled for the visibly impaired, you get too much conditional stuff which makes an (at least certainly in your eyes) complex component even more complex (or is it even worse and you need to do it in all components? Would not want to go

[2018-04-10 13:43] tandraschko commented on #3571
Yes, i didn't like that fix.

I would evaluate if dynamically disable/enable all :input elements via jquery could work.

[2018-04-10 13:47] kukel commented on #3564
The addRowFeature seems to be working without it... I checked live in the showcase. The feature is triggered by a special parameter in the request https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/datatable/feature/AddRowFeature.java#L52 which still is there (form%3Acars2_addrow=true for the showcase)! But I'll check never the less...

[2018-04-10 14:02] kukel commented on #3571
I think you can use a jquery selector to find all inputs of a certain row and add that as a value to the process attribute. This leaves all other required fields in there. So the idea of your fix was not that weird... (imo)... might need a little tweaking...

[2018-04-10 14:24] ravihariharan opened #3573 "Tree(Data)table - Have the datatable support tree like functionality"
I just came across a requirement for  TreeTable to support similar feature of a Datatable.

A bit of looking around and found the work done by  Ronald.
https://kukeltje.wordpress.com/2012/12/23/treedatatable-where-do-you-start-tree-or-datatable/
https://github.com/kukel/primefaces-plus

Ronald /  @tandraschko  i created this issue just for discussion.

[2018-04-10 14:29] sudhansu789 opened #3574 "How to execute execCommand in p:textEditor"
[code]
Calling JS function from server side:
RequestContext.getCurrentInstance().execute(insertCursur('emailInnerSolutionResponse','MY DATA')");

JS Function to Execute
[code]

Actual Result: execCommand is not a function and an alert Please place cursor in editor.
Expected Result: It should insert the supplied text to editor.

[2018-04-10 14:29] tandraschko commented on #3573
Discussion in the forum plz.

[2018-04-10 14:30] #3573 closed, assigned to nobody

[2018-04-10 14:38] tandraschko commented on #3574
Please use the forum first.

[2018-04-10 14:38] #3574 closed, assigned to nobody

[2018-04-10 14:39] ravihariharan commented on #3573
https://forum.primefaces.org/viewtopic.php?f=3&t=55343

[2018-04-10 15:39] escay commented on #3088
@Quix0r The issue is still marked as open, why would I test this? I would expect a note from @tandraschko if it was fixed in 6.2

[2018-04-10 16:07] tandraschko commented on #3088
I dont know all fixes and also dont comment all issues.

[2018-04-10 20:09] kukel commented on #3564
The AddRowFeature is normally called, so it is a fix... maybe the 'skipChildren' attribute of the datatable can be used as well to do a 'partialSubmit' by default or not...

[2018-04-11 04:12] ghost opened #3576 "[Documentation] - User guide 2.2 Dependencies - Apache poi"
I found that in the user guide for v6.2, in section 2.2 (Dependencies), the version indicated for apache-poi is 3.13 but I was getting an error:

[code]

I found that the correct version is apache-poi 3.17 for primefaces 6.2

[2018-04-11 05:07] ssibitz commented on #3571
What's about something like this:

**1.) In general render all datatable input-fields with the readonly tag - e.g.**

**disabled="disabled"
aria-disabled="true"**

`<div class="ui-cell-editor-input"><input id="form:cars1:0:j_idt125" name="form:cars1:0:j_idt125" type="text" value="1974" style="width:100%" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all" data-p-label="Year

[2018-04-11 05:28] cnsgithub commented on #3563
@tandraschko You suggestion would be to introduce an optional `MenuItemBuilder` CTOR like so?

[code]

[2018-04-11 05:41] tandraschko commented on #3563
Lets just do it without the possible inheritance for now and only accept defaultmenuitem

[2018-04-11 05:44] cnsgithub commented on #3563
As an alternative to manually implementing builder classes we could also use [lombok](https://github.com/rzwitserloot/lombok) as already mentioned by @Rapster. This would just introduce a compile time dependency, but not a runtime dependency.

Using lombok would be a big advantage over manual implementation because it would reduce boiler-plate code and is much easier to maintain. Consider just the

[2018-04-11 06:14] orange-buffalo opened #3577 "Spinner: support for empty input"
Currently `p:spinner` does not support empty values if `min` attribute is defined. JavaScript resets the value to `min` if user clears the input:
https://github.com/primefaces/primefaces/blob/d3abd728d89a967a6bbb6793e4b2900c4a020705/src/main/resources/META-INF/resources/primefaces/spinner/spinner.js#L175-L182

This makes it impossible to support use case "optional value with minimum value constrai

[2018-04-11 06:54] kukel commented on #3571
Although it might work, with the things you tested, it still is in my
opinion a workaround with a number of loose ends.

 - It is undetermined how it would be for the visually impaired.
 - How is the behaviour is someone actually wants to have a disabled input
in one of the fields? Or already has (backwards compatibility)
 - What if you have more than a couple of fields (performance)
 - The soluti

[2018-04-11 07:01] cnsgithub commented on #3577
I think introducing a new attribute `supportEmptyValues `is not reasonable. Why not use the general `required` attribute?

[2018-04-11 07:08] orange-buffalo commented on #3577
Our team has internal reasons to avoid using this attribute, but I agree that for generic purpose framework it is a better choice than introducing another attribute with similar semantic.

[2018-04-11 07:13] Rapster commented on #3563
Reflection is a no go for me, poor performance for something that can be easily generated (IDE have plugins nowadays for that).

Regarding Lombok, I'm not against adding dependencies, but it's using a sledgehammer to crack a nut. Plus, as fancy as Lombok can sound. I'm not a big fan of this library 'cause it's a hack. another thing is, Lombok builder annotation is for immutable classes, DefaultMen

[2018-04-11 07:13] ssibitz commented on #3571
Yes, it's currently a workaround,
but what's the solution when the datatable currently can't
handle more that 50(!) rows in our project with a table that only contains 12 columns ?
We need the datatable in this style without a paginator
because the user should be able to add new "settings" dynamic.

This is currently a big show-stopper for us and our software which is planned to go
online for our

[2018-04-11 08:23] cnsgithub commented on #3563
This was just an example. Implementation could of course be improved to allow for better performance.

Can you point me to the source saying that `@Builder` is for immutables?
I cannot agree. Simply do this and see that `DefaultMenuItem` is modified and therefore is not immutable.
[code]

However, PrimeFaces developers/contributors are not restricted to use a specific IDE. It is not guaranteed tha

[2018-04-11 08:53] AdriaoNeves opened #3578 "DataTable: Flick/glitch when scrolling vertically with Virtual Scrolling"
## 1) Environment
It happens in the primefaces showcase  6.2, DataTable > Virtual Scrolling.

- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Bug occurs. Version? 6.2

- Application server + version: JBOSS 7.2
- Affected browsers:
Chrome, Firefox, IE11, Edge.

## 2) Expected behavior
Scroll vertically without any flick/glitch.

## 3) Actual behavior
After fetchi

[2018-04-11 10:06] Rapster commented on #3563
This is what I deduced from what I read on the Lombok documentation. I don't much about it anyway, but I guess you can workaround the problem using `@Value`

[2018-04-11 10:13] tandraschko commented on #3563
I would do it without lombok for now.

[2018-04-11 12:09] ssibitz commented on #3571
I think i found out another solution which is also working
but don't changes anything for the user visually or functionally:

1.) Using a data- attribute to mark all input-fields in the data-table
2.) On post filtering out all parameters which have the data- attribute set.

So default no datas of the datatable are posted as params to the server
and in edit-mode the only TODO is to remove the data-

[2018-04-11 13:15] damgel commented on #3576
When did they updated to that version?

[2018-04-11 13:35] melloware commented on #3576
6.2 it was updated to POI 3.17

https://github.com/primefaces/primefaces/issues/2885

[2018-04-11 13:55] andreichiritescu commented on #1817
any idea when this feature will be added?

[2018-04-11 14:31] tandraschko commented on #1817
Without milestone means no plan. But you can sponsor it or implement by yourself and provide a pull request.

[2018-04-11 18:38] tandraschko commented on #3571
Would only work for ajax posts.

IMO the cleanest solution is that the roweditor will really enable/disable the inputs.

[2018-04-12 09:47] #3566 closed, assigned to nobody

[2018-04-12 10:09] PlassJ commented on #3056
@kukel I love the idea of the 'reference' via webjars version. For 4.x Versions this solution works perfectly but for 5.x Versions this is not working annymore. There are no more font-awesome-jsf.css file anymore.
Any suggestion ?

[2018-04-12 10:37] jajajaja commented on #3547
Hello,

With this fix it is impossible from CSS to address component state without selection. For example if I want to display placeholder with different style.

I suggest to add additional class like 'ui-state-no-selection' instead of removing line with 'ui-state-disabled'

[2018-04-12 10:43] jajajaja commented on #3462
Hello,

Could this also be fixed in 6.2 version please?

[2018-04-12 10:51] tandraschko commented on #3462
We could port the fix to PrimeFaces Elite. Otherwise no way until 6.3, sry.

[2018-04-12 11:16] prakhartkg commented on #3214
Hi,

Can anyone give me any solution on this I am using primeface texteditor and while putting
"><img src=x onerror=confirm('hello')>
its executing because I am using h:output text with escap=false

[2018-04-12 11:35] ssibitz commented on #3571
Yes - that's the cleanest solution, but how to handle if the user already disabled an input
as @kukel commented ?

[2018-04-12 11:37] ssibitz commented on #3571
If only disabling all fields by default this is quite simple by using jQuery:

`$(".ui-cell-editor-input").children().prop("disabled", "true");`

... on the initalizing of the datatable.

[2018-04-12 11:38] tandraschko commented on #3571
Exactly
1) loop all inputs
2) if not disabled, disable them add a flag data-disabled-by-roweditor or something
3) if entering rowediting, enable all with the data-disabled-by-roweditor flag

[2018-04-12 11:38] kukel commented on #3056
File an issue at webjars? Or even a pull request?

[2018-04-12 11:43] kukel commented on #3571
Jikes... "Cleanest solution"???? No way... IMO a terrible hack. The I currently don't have the time but I'll create a clean patch tomorrow or in the weekend (or maybe even tonight) in line with the original one by Thomas but smaller...

[2018-04-12 11:45] kukel commented on #3571
Oh, and what if in the process other inputs are updated? Then you lose the status... Adding/manipulating other inputs this way is NOT clean... Sorry...

[2018-04-12 11:50] tandraschko commented on #3571
Ok ok, but you will never fix all issues then ;) If the datatable is processed by ajax or posted by non-ajax, there is no way to fix it.
IMO thats a design flaw that all inputs are enabled by default in this case.

[2018-04-12 11:53] jajajaja commented on #3462
PF Elite will work for me.
Thank you.

[2018-04-12 14:03] tandraschko commented on #3462
@mertsincan Can you port it?

[2018-04-12 15:27] melloware opened #3579 "Effects: Jquery3 adding style="display-inline""
For Primefaces 6.2 this is new for Jquery 3.  When using a p:poller to add an effect its adding style="display-inline" which is overriding the ui-helper-hidden style on the <label> elements of the Datatable header.

Poller:
[code]

DataTable:
[code]

Before the poller runs the headers look normal.
![image](https://user-images.githubusercontent.com/4399574/38687281-5051d1fc-3e44-11e8-9ebb-2537ac416

[2018-04-12 15:28] melloware commented on #3579
I am reporting this through my PRO account.

[2018-04-12 18:00] ravihariharan opened #3580 "TreeTable: scrollable and paginator does not work together"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-04-13 07:25] huseyinturkmenoglu commented on #3484
Your p:keyfilter is using mask="alphanum" that means users can write just string and numeric value. I think you could not use the mask="alphanum".  p:keyFilter is working correctly.

[2018-04-13 08:48] AdriaoNeves opened #3581 "Tree: Can't scroll in MS Edge / Internet Explorer with max-height"
## 1) Environment
- Only happens in Microsoft Edge and Internet Explorer 11. Firefox and Chrome are ok.
- Only happens if you click in the down arrow of the scroll, if you use the mouse scroll it's ok.
- It happens in the primefaces showcase  6.2, Tree component.
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Bug occurs. Version? 6.2

- Application server + ver

[2018-04-13 11:13] mauromol opened #3582 "Calendar: does not validate the input against mindate/maxdate"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? No
- Application server + version: Tomcat 8.0
- Affected browsers: Firefox

## 2) Expected behavior

When I specify a mindate/maxdate, validation fails if I enter a date outside this range by manual typing in the input component.

## 3) Actual behavior

Validation does not fail, unless you add you

[2018-04-13 12:05] melloware commented on #3579
From PF:

[code]

[2018-04-13 12:05] #3579 closed, assigned to nobody

[2018-04-13 12:22] mateofacu opened #3584 "DataTable: filtered twice on filter action"
## 1) Environment
- PrimeFaces version: 6.2 - community
- Does it work on the newest released PrimeFaces version? Version?: NO - 6.2.3 (showcase version)
- Application server + version: Tomcat 8.5.30
- Affected browsers: ALL

## 2) Expected behavior

When  datatable component is filtered using a text field, I expect that the ajax filter action is executed just once.

## 3) Actual behavior

When da

[2018-04-14 01:57] Mararsh commented on #2363
Hi,
My codes are hit by this issue. Thanks detailed analysis from melloware! My project is in Chinese, and the PDF exporter shows messed texts since it is in hard code of "FontFactory.TIMES".
[PDFExporter.java
](https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/export/PDFExporter.java)

[code]

I have to customized PDF exporter for each table just to make

[2018-04-15 01:01] Mararsh commented on #2363
Maybe it is better to open a issue especailly about messed texts by PDF exporter for Chinese developers and users~ I will open it since the phenomena is different.

[2018-04-15 01:35] Mararsh opened #3585 "DataExporter: PDF export does not work for Chinese data"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: GlassFish 4.1.2
- Affected browsers: Firefox

## 2) Expected behavior
PDF dataExporter should export Chinese correc

[2018-04-15 16:09] krichter722 opened #3586 "TabView: Add support for other Collections (Set, ...), Map, Iterable as DataModel"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT (6_1-1337-ge748a61e5)
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? no
- Application server + version: Payara 4.1.2.181, probably all
- Affected browsers: Firefox, probably all

## 2) Expected behavior

Specifying a `Set` fields as `value` of a `p:tabView` causes the `Set` t

[2018-04-16 04:15] orange-buffalo opened #3587 "PickList - disable buttons if no items available"
Currently PickList does not disable buttons if source or destination list is empty. It would improve user experience if buttons that do not have effect are disabled.

https://www.primefaces.org/showcase/ui/data/pickList.xhtml

![image](https://user-images.githubusercontent.com/4532247/38789872-871ba052-4180-11e8-875b-308723c91bbe.png)

![image](https://user-images.githubusercontent.com/4532247/387

[2018-04-16 05:11] Mararsh opened #3588 "Exporter: XML export does not work with column's head text in Chinese"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: GlassFish 4.1.2
- Affected browsers: Firefox

## 2) Expected behavior
XML dataExporter exports Chinese data when co

[2018-04-16 06:27] huseyinturkmenoglu commented on #3152
Hi @Mich2424 , I try this code, it's working.
`<p:autoComplete id="acForce" forceSelection="true" value="#{autoCompleteView.txt5}" completeMethod="#{autoCompleteView.completeText}" dropdown="true"  pt:readonly="#{autoCompleteView.txt5 == '5'}" />`

For using this code, you should add `xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"`

You should use the Pass Through Attribute : [https://docs.oracle

[2018-04-16 07:48] cnsgithub commented on #3582
Pull request: https://github.com/primefaces/primefaces/pull/3589

[2018-04-16 07:49] tandraschko commented on #3586
We can even add support for a Set, if the change is very easy. Otherwise i would add a warning.
Please provide a PR.

[2018-04-16 07:50] tandraschko commented on #3587
Feel free to provide a PR.

[2018-04-16 07:51] tandraschko commented on #3152
will close it for now as 3 months without feedback.

[2018-04-16 07:51] #3152 closed, assigned to nobody

[2018-04-16 09:59] cnsgithub commented on #3214
@prakhartkg Use e.g. https://github.com/OWASP/java-html-sanitizer by your own as long as my pull request isn't merged.

[2018-04-16 10:43] thieuanh1995hn opened #3590 "ComandButton with confirm dialog not work . Its just show the dialog . Everything be fine when i remove the confirm dialog and use the button alone !"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-04-16 10:52] huseyinturkmenoglu commented on #3054
I tried this.  There isn't an issue,

You could try pattern is "dd.MM.yyyy" in the PrimeFaces version 6.3.0. And it will work.

[2018-04-16 11:32] tandraschko commented on #3590
try the forum, thats not an valid issue and everythign is missing.

[2018-04-16 11:32] #3590 closed, assigned to nobody

[2018-04-16 11:58] melloware commented on #2363
@Mararsh I think the correct solution is to allow the Font to be defined on the component and only defaulted to FontFactory.TIMES if no font is provided.  Sudheer from PF said he would look into this but it looks like he never implemented it.

[2018-04-16 11:58] melloware commented on #3585
Yep this is definitely the same problem as the other ticket.  The original ticket was long ago:  https://github.com/primefaces/primefaces/issues/146

[2018-04-16 20:43] jxmai commented on #3054
@HuseyinTurkmenoglu Are you sure ? (as your post leads to a ticket closure). I can surely show you that this issue has not been resolved.

Please build the Lastest PF code as of today: up to https://github.com/primefaces/primefaces/commit/e748a61e5eb2366c6639db13f2056409104aa5f6

LOG:

[code]

and this:

[code]

**and using timepicker only but not changing the date directly, there is no alert at a

[2018-04-17 09:10] chrishj59 opened #3592 "[Documentation] missing .ajax() in example"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-04-17 09:27] kukel opened #3593 "[Documentation] Add 'client-side javascript' to ajax callback attributes description"
Version: Up to 6.2 documentation....

The documentation of the `p:ajax` states

[code]
To avoid confusion, the description is better changed to:

[code]

[2018-04-17 09:46] kukel commented on #3593
Maybe on other ones (components) as well. Seems to be a 'recurring' question in Stackoverflow (several 'sort of' duplicates)

[2018-04-17 11:57] TCM5 commented on #1506
Hi there,

This still happens in the version 6.2. Do you guys find out any workaround until fixing properly?

![pf_bug](https://user-images.githubusercontent.com/9709208/38868441-ed14b61e-423e-11e8-8ed5-5a3f44d40815.PNG)

BTW, In my case, the issue only occurs if i set the locale for 'en_US', otherwise the issue won't occurs and it works fine with all the other custom locales (like 'pt', 'pt-BR',

[2018-04-17 12:20] mertsincan opened #3594 "New component: DataView"
DataView displays data in grid or list layout.

[2018-04-17 12:33] #3594 closed, assigned to mertsincan

[2018-04-17 12:45] huseyinturkmenoglu commented on #3054
PrimeFaces use a DataPicker in the p:calendar, you can use the onselect instead of onchange.

For information:
[https://stackoverflow.com/questions/6471959/jquery-datepicker-onchange-event-issue](url)

[2018-04-17 12:59] Zerounodue commented on #3054
onchange and onselect are obviously not the same event. In my case I need the onchange event to be fired

[2018-04-17 13:56] escay commented on #3088
Tested on 6.2.2, problem still exists:

- Enable column 'car.brand' via the columnToggler.
- Brand column is filled with brand data
- Order the 'car.year' column by clicking on the Year header
- Brand column is empty, data is lost

[2018-04-17 14:37] mertsincan commented on #3088
Could you please try the following code?
[code]

[2018-04-18 06:48] #3088 closed, assigned to mertsincan

[2018-04-18 09:11] ShivaniSK opened #3596 "KeyFilter: Not working after calling " ajax update" on h:inputText"
## 1) Environment
- PrimeFaces version:  6.1

## 2) Expected behavior
- p:keyFilter should allow only alphabets and numbers in inputText at any point of time.
...

## 3) Actual behavior
After ajax update is called on input Text, the filter does not work
..

## 4) Steps to reproduce
1) Go directly to "Project Key" field and try entering special characters.. it will not allow.. the filter works this

[2018-04-18 09:33] tandraschko commented on #3596
Thats expected, you need to update the keyfilter too.

[2018-04-18 09:40] ShivaniSK commented on #3596
Even if i update keyFilter, it does not work.

[2018-04-18 09:42] tandraschko commented on #3596
Then please update your code to show this problem.

[2018-04-18 09:48] ShivaniSK commented on #3596
Code updated.

[2018-04-18 10:09] ShivaniSK commented on #3596
Can you please help me out with this issue? If this won't fix then is there any other way by which i can achieve this?

[2018-04-18 10:17] ShivaniSK commented on #3596
It is resolved. Nesting both filter and input in ui-fragment and updating the fragment works.
[code]

[2018-04-18 10:37] tandraschko commented on #3596
nevertheless, your code should work when you update both.

[2018-04-18 10:41] ShivaniSK commented on #3596
if you check my updated code and try running it, its not working. I am updating both only. After putting it in ui:fragment it is working

[2018-04-18 11:34] tandraschko opened #3597 "SEF: @id(..) should return the the first clientId like JSF 2.3, instead of throwing a exception"

[2018-04-18 12:06] #3597 closed, assigned to nobody

[2018-04-18 12:36] melloware commented on #3597
Submitted through PRO service to get added to 6.2 Elite.

[2018-04-18 12:37] huseyinturkmenoglu commented on #3581
This problem is caused by the focus event. Chrome is not getting the focus, but IE and Microsoft Edge.

I'm working on this PR for [15](https://github.com/primefaces/primefaces/issues/15) .

[2018-04-18 14:22] cristhianguedes commented on #3565
(UPDATE)
I had the same problem...
To fix it, I need to wrap my components with
`<h:panelGroup id="group" style="display: inline-block;">`
`<div style="width: fit-content;" title="myTitle">
`<YOUR_COMPONENT_HERE/>
`</div>`
`</h:panelGroup>`
`<p:tooltip for="group" value="value" />`

This worked very fine for me...
Too much code for a simple bug, but I found no other solution...

[2018-04-19 06:08] cnsgithub opened #3598 "XSS in tabView, carousel, dataGrid, dataList, pickList, commandButton"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
proper escaping

## 3) Actual behavior
improper escaping -> XSS

## 4) Details

1. tabView
[code]

2. carousel
[code]

3. dataGrid
[code]

4. dataList
[code]

5. pickList
[code]

6. commandButton
[code]

## 5) Mitigation
I'll provide a PR. @tandraschko Could you please add the security label?

[2018-04-19 06:43] cnsgithub commented on #3598
PR: https://github.com/primefaces/primefaces/pull/3599

[2018-04-19 08:21] mertsincan opened #3600 "Add "ui-panelgrid-nopad" class for PanelGrid's cells"
If you want to remove padding on cells, please use "ui-panelgrid-nopad" in columnClasses attribute.

[2018-04-19 08:27] #3600 closed, assigned to mertsincan

[2018-04-19 08:40] AdriaoNeves commented on #3581
Thank you @HuseyinTurkmenoglu

[2018-04-19 09:25] LordFirlefanz commented on #3565
Thank you for the workaround, cristhianguedes! I agree, it is a little much code for a simple bug. :)
Gonna try it that way or simply skip PF 6.2, hoping that the next release works like 6.1 and lower.

[2018-04-19 16:15] cristhianguedes commented on #3565
Note: if you just need title attr, just <div> component is needed... In my case, I need both, so I create one composite component that wrapps the code for tooltip, and when needed, I put it on code...
So, this way, all components has only div for title, resulting in less code...
The way that i create my component need one wrapper, so div was a good replacement for previous wrapper (<h:pannelGroup>

[2018-04-23 07:06] #3598 closed, assigned to nobody

[2018-04-23 08:31] #3582 closed, assigned to nobody

[2018-04-23 08:43] LordFirlefanz commented on #3565
Good idea, cristhianguedes. I sometimes forget that I can create composites. :grin:
Thank you for sharing!

[2018-04-23 09:14] chanmratekoko opened #3601 "OSM: Support for Open Street Map"
Currently, Primefaces does not support OSM Map.
GMap API is not free of charges. Web version API is limited for standard users.
(Free up to 25,000 map loads per day.)
In this condition, Primefaces users have no choice for using other maps.
OSM is free of charges. So, I think Primefaces need to support OSM at this time.

[2018-04-23 09:19] tandraschko commented on #3601
Feel free to provide a PR or sponsor it via PrimeFaces PRO.

[2018-04-23 09:23] cnsgithub commented on #3601
Btw, Google Maps API is unusable in China because it's blocked by the great firewall: https://en.greatfire.org/https/maps.googleapis.com

Whereas OpenStreetMap seems to be available: https://en.greatfire.org/https/openstreetmap.org

[2018-04-23 09:27] fanste opened #3602 "DataTable: RowSelect with any input field in row without using rowEditor => some keys won't work"
## 1) Environment
- PrimeFaces version: 6.2
- Affected browsers: IE 11 (FF works)

## 2) Expected behavior
Pressing space, enter or arrow keys should do the desired actions inside the input field

## 3) Actual behavior
Pressing space, enter or arrow keys change the focused row of the selectable data table.

## 4) Steps to reproduce

- Setup a dataTable with selectionMode=single and add input field

[2018-04-23 11:13] andresantos22 opened #3603 "Diagram: editable - overflow: auto issue problem (not scrolling as Basic diagram)"
## 1) Environment
- PrimeFaces version: 6.2.2
- Does it work on the newest released PrimeFaces version? Version? Yes.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source). Yes.
- Application server + version: Jboss 6.4
- Affected browsers: Chrome, Firefox.

## 2) Expected behavior

Auto resize the working panel, as

[2018-04-23 13:21] Marlysson commented on #3254
Guys, some new about this feature, I'm use the 6.0 version of primefaces and yet don't show the "next/previous button" to change date in calendar.

![sem titulo](https://user-images.githubusercontent.com/4117999/39129080-e00abba8-46df-11e8-9113-c055f4d06690.png)

[2018-04-23 13:32] kukel commented on #3254
Did you check the 6.2 showcase? it is there and always has been. Did you
check the client-side 'view source'

[2018-04-23 13:36] andresantos22 commented on #3603
Adding, I´ve found that using Connectors it won´t work:

[code]

As the BASIC does not set a Global connector  it´s not affected.

[2018-04-23 13:37] Marlysson commented on #3254
@kukel I'm using the Primefaces on 6.0 version..

Analysing the page's view-source I visualized that the classe "datepicker-header" responsible to show the current Month/Year and Next/Previous buttons don't appears ..

[2018-04-23 13:40] kukel commented on #3601
Anyone tried https://github.com/themrleon/JSF2Leaf ?

[2018-04-24 02:36] chanmratekoko commented on #3601
@kukel JSF2Leaf lib with together using Primefaces get entangled. Such as in p:wizard tag. After that, JSF2Leaf cannot be rendered properly with navigation-case forward.
Thanks!

[2018-04-24 04:45] cnsgithub commented on #3601
JSF2Leaf is licensed under GPLv2.

[2018-04-24 05:55] bwhpers commented on #3493
Is this going to be fixed? Is there a workaround?

[2018-04-24 06:30] tandraschko commented on #3493
As this issue tracker is for the community, you can just provide a PR.
Otherwise you can get a fix via PrimeFaces PRO or wait until someone fixes it.

[2018-04-24 07:27] mertsincan opened #3604 "Add ui-texteditor class to p:textEditor component"
Details; https://forum.primefaces.org/viewtopic.php?f=53&t=55356

[2018-04-24 07:27] #3604 closed, assigned to mertsincan

[2018-04-24 10:25] Zerounodue commented on #3342
If you are using Mac OSX you may not see this problem because it handles scrollbars differently.
So please use Windows to test it.

[2018-04-24 17:26] eversnarf opened #3605 "Tree: filtering on uppercase input not triggered"
## 1) Environment
- PrimeFaces version: 6.2.3
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? Not tried
- Application server + version: Tomcat 8.5.20
- Affected browsers: Firefox, Chrome, Edge

## 2) Expected behavior
When using filtering on a `<p:tree>`, I expect the search (to be case insensitive and) to be triggered whether I enter se

[2018-04-25 05:00] cnsgithub commented on #3605
PR: https://github.com/primefaces/primefaces/pull/3606

[2018-04-25 05:34] cnsgithub commented on #3588
@Mararsh Next time, please consider [MCVE](https://stackoverflow.com/help/mcve). Then people will have a look at your issues more likely.

Minimal reproducible example - do it in showcase dataexporter/basic.xhtml:
[code]

@tandraschko As non-English letters are allowed in XML element names (see [W3C XML Elements](https://www.w3schools.com/xml/xml_elements.asp)) and the export is working without an

[2018-04-25 05:45] #3605 closed, assigned to mertsincan

[2018-04-25 06:05] cnsgithub commented on #3588
Some notes:
1. You could also use `p:column exportFunction` to do some locale-specific stuff.
2. What do you think about adding an attribute `exportAs` to `p:column` (`String`) and `p:columns` (`ExportModel`)? Or even `exportHeaderText`?

[2018-04-25 06:53] huseyinturkmenoglu commented on #3581
You are welcome,

I think, PR ready https://github.com/primefaces/primefaces/pull/3610

I checked all browsers.

[2018-04-25 11:51] igormukhin opened #3609 "DataTable: p:columns with filterValue isn't working correctly"
## 1) Environment
- PrimeFaces version: 6.0.0, 6.0.16
- Does it work on the newest released PrimeFaces version? not tested
- Does it work on the newest sources in GitHub? not tested
- Application server + version: Tomcat 8
- Affected browsers: all

## 2) Expected behavior

[code]

I would expect "filterValue=#{listBean.columnFilterValues[field.id]}" to work.

## 3) Actual behavior

NPE because the

[2018-04-25 12:51] eversnarf commented on #3605
Thank you, @cnsgithub and @mertsincan.
Quite fast!

[2018-04-25 13:54] xtron opened #3612 "SelectOneMenu: Crash when Items label contains CSS selector special chars"
## 1) Environment
- PrimeFaces version: 6.2.3
- Does it work on the newest released PrimeFaces version? Version?
no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
no
- Application server + version:
Wildlfy 10.1
- Affected browsers:
Google Chrome 66.0.3359.117

## 2) Expected behavior
Work without errors in dev

[2018-04-25 14:24] tandraschko commented on #947
see #3613

[2018-04-25 14:24] #947 closed, assigned to nobody

[2018-04-25 14:24] #3529 closed, assigned to nobody

[2018-04-25 14:24] #3528 closed, assigned to nobody

[2018-04-25 14:25] #1725 closed, assigned to nobody

[2018-04-25 14:46] tandraschko opened #3614 "[Documentation] LinkButton new component"

[2018-04-25 18:26] tandraschko commented on #3612
@mertsincan should be ported to elite

[2018-04-25 18:26] #3612 closed, assigned to nobody

[2018-04-25 18:48] kemperalves opened #3615 "DefaultCommand: Problem with keypad comma with ABNT2"
## 1) Environment

- PrimeFaces version: Running PrimeFaces-6.2.3 on Mojarra-2.3.2.
- Keyboard Model: Microsoft Wireless Keyboard 800
- Keyboard Layout: Brazilian ABNT 2 https://ibb.co/kBQMOc

ps - Tested with others anbt 2 keyboard layouts with the comma in the same position and the problem occurs too

## 2) Expected behavior

User type a comma in the keypad and the comma need to be "typed" in th

[2018-04-26 02:30] lagar84 commented on #3615
I am from Brazil too, and I can also reproduce the problem. But in ABNT2 layout, above numpad enter is a 'period', or 'dot', not a comma. Comma is on the left side, and does not trigger defaultCommand. The key above "keypad enter" is indeed triggering defaultCommand, and obviously should not. From the picture, is the key between the 'plus' (+) key and 'enter'.

(my keyboard is a generic mtek abnt2

[2018-04-26 05:24] elfwine commented on #2838
What about those components that used autoUpdate attribute?
Like p:growl, the code will be like this?
before: <p:growl autoUpdate="true"/>
after:    <p:growl ><p:autoUpdate/></p:growl>

For me, it would be better to leave it as it is then just add p:autoUpdate as new feature. It will be also backward compatibles for older xhtml files.

just my 2 cents. ;)

[2018-04-26 05:31] cnsgithub commented on #3612
Please note that use of `escapeSelector `seems to be generally missing at various locations. Doing a quick regex search `\[[A-Za-z0-9-_]+=["'].*?\+` (may return false positives) in `*.js` reveals 25 potential erroneous locations, even one more in `forms.selectonemenu.js` addressed in this issue: https://github.com/primefaces/primefaces/blob/0b5805f12d3b8297881905493ec69b18d3e269e6/src/main/resourc

[2018-04-26 06:41] cnsgithub commented on #3615
Sorry, I am not able to reproduce this issue, even after switching to Brazil ABNT2 keyboard layout.

[2018-04-26 11:24] melloware commented on #2838
@elfwine for consistency the autoUpdate="true" property was left in 6.2 but will be removed in 6.3.  It makes it confusing for future users to have two different ways to autoUpdate.

[2018-04-26 11:34] tandraschko commented on #2838
It's a step to a better API.
Like we made use of p:ajax in the past instead having (onSelectUpdate, onSelectProcess, onSelectListener...) for every event.
Removing attributes for a common global API is much better.

[2018-04-26 13:48] tandraschko opened #3616 "ImportConstants/ImportEnum: doesn't work with MyFaces ViewPooling / CACHE_EL_EXPRESSION alwaysRecompile"
the enum was always resolved to null

[2018-04-26 13:50] #3616 closed, assigned to tandraschko

[2018-04-26 14:29] alexsuter commented on #2147
Hello @djmj
I have the same issue. Hopefully you can help me to understand the problem. Is it true that Primeface always sends the data already in US locale to the server? But JSF specifies/assumes that the value is in the current locale of the jsf context? Like for example `javax.faces.convert.NumberConverter` does?

[2018-04-26 14:41] tandraschko opened #3617 "SelectBooleanCheckbox: different style when clicking on label in IE and other browsers"
only ui-state-focus

the problem is the following IE:
1) open http://localhost:8080/showcase/ui/input/booleanCheckbox.xhtml (trunk version, i added a label instead outputtext there)
2) click on the label:
    - onchange will be fired and ui-state-active will be added (correct)
    - onfocus will be fired (it's ok) but the ui-state-active will be removed
3) e.g. if you use redmon, the checkbox will

[2018-04-26 17:04] kemperalves commented on #3615
This is the key in my keyboard thas are submitting the form with the defaultCommand

![whatsapp image 2018-04-26 at 14 00 46](https://user-images.githubusercontent.com/27026273/39320465-9572b58c-495a-11e8-87d1-bdc1b280c620.jpeg)

[2018-04-26 18:25] lagar84 commented on #3615
In file
`https://www.primefaces.org/showcase/javax.faces.resource/jquery/jquery-plugins.js.xhtml?ln=primefaces&v=6.2.3`

line number 15806

there is this fragment:
[code]

This is the root of the problem. Looks like 108 means different things in different keyboards. (I really don´t know in other models, but in 2 different abnt2 keyboards (home and work), 108 is mapped to period key, above numpad e

[2018-04-27 00:08] elfwine commented on #2838
Yes, I understand the concern for a better API.
My only concern is when a project developed prior to v6.2 and have to upgrade the primefaces jar library (e.g. for security reasons) in the future, xhtml files have to update too (which most of the time, we need to explain to clients why we have to touch xhtml files too).

[2018-04-27 02:56] jxmai commented on #2838
I guess 6.2 still remain `autoUpdate` attr (deprecated warning showing up on server console as a notice however), so you don't need to modify xhtml pages immediately giving you some time to verify if anything is broken on jar update.

[2018-04-27 10:31] alexsuter commented on #2147
Hello @tandraschko
Should primeface not send the locale aware value to the JSF converter instead of the locale unaware number? I have issues if my database is `java.lang.Number`, JSF locale is set to _Germany_ and when I use the `javax.faces.convert.NumberConverter`.

I made more or less the same example like @dimj did here: https://github.com/alexsuter/primefaces-examples

Or maybe primeface shou

[2018-04-27 12:37] omarbr opened #3619 "Calendar: popup with effect="fold" wrong show"
## 1) Environment
- PrimeFaces version: reproduced on 5.3 and 6.2
- Affected browsers: firefox, chrome, edge

simply reproduce on primeface showcase

## 3) Actual behavior
when click on p:calendar input field with effect="fold" show popup dialog and it's ok, click other calendar field, popup dialog is damaged.

## 4) Steps to reproduce
click on on p:calendar input field with effect="fold", not sel

[2018-04-27 12:42] tandraschko commented on #2838
you always have to ajdust something. PrimeFaces "lives" and is not in maintainence mode.
Therefore we have a migration guide.

If you just need to security fixes, use PrimeFaces Elite.

[2018-04-27 16:11] Megachronix opened #3620 "OutputLabel: add behavior support"
Hi,
i have tried to call a ajax event by clicking on a `p:outputLabel`.
But the event does not work.

I have tried the same on `h:outputLabel` and it works.
(I can't use `h:outputLabel` because of primefaces id generation on input components)

## 1) Environment
- PrimeFaces version: Primefaces 6.2
- Application server + version: Tomcat 8.0.36
- Affected browsers: any

## 2) Expected behavior

[cod

[2018-04-27 16:30] tandraschko commented on #3620
PR is welcome.

[2018-04-30 07:50] martin654 opened #3621 "Dynamic Resource loading doesn't work with Mojarra 2.2"
## 1) Environment
- PrimeFaces version: 6.2.3
- Does it work on the newest released PrimeFaces version? Version? no
- Application server + version: Tomcat v8.0
- Affected browsers: all
- Mojarra version 2.2.15, 2.2.16, 2.2.17

## 2) Expected behavior
When using p:inputNumber inside c:if tag,  "loaded to page by ajax" the javascripts should work properly.

## 3) Actual behavior
Browser's console sh

[2018-04-30 08:22] cnsgithub commented on #3621
Please remember the different lifecycles of JSTL and JSF.

Did you try `h:panelGroup rendered="#{inputNumberView.flag}"` (or `ui:fragment`) instead of `c:if test="#{inputNumberView.flag}"`?

However, as you state that it works in Mojarra 2.3.2 this does not seem to be a PrimeFaces issue...

[2018-04-30 08:47] martin654 commented on #3621
Hi!
The example provided is simplified. In the real-world scenario we use dynamic ui:includes like this:
`<ui:include src="#{bean.getFragmentPath}">`
and sometimes we have c:if tag around this include:
[code]
In the second case if there is a _p:inputNumber_ in the include and the test condition is false on initial page-load and the whole thing is updated by ajax - the JS exception occurs.
I think

[2018-04-30 09:01] cnsgithub commented on #3621
Hi,

The example you provided is also incomplete (`output1` is missing). That makes it harder to reproduce.

Did you also try the rendered attribute within the included XHTML: `ui:composition rendered="..."`?

I could not reproduce this issue even after changing the showcase to Mojarra 2.2.17. I also tried different browsers with clean caches.

Not sure about this. I'll have a look at it.

Bye

[2018-04-30 09:07] cnsgithub commented on #3621
You could also try to wrap your` ui:include `within two ` h:panelGroup` components like so and update the outer one that has `id="wrapper"`:

[code]

[2018-04-30 09:15] cnsgithub commented on #3621
Did you clean up your browser caches as well? Just to ensure you don't have a broken JS in your cache...

[2018-04-30 09:43] cnsgithub commented on #3612
Hi @tandraschko, do you think it's worth creating a separate issue for those jquery escaping issues?

[2018-04-30 10:14] martin654 commented on #3621
Hi,

Sorry about the example, the p:ajax inside p:inputNumber is irrelevant. Trigger to this problem is <p:commandButton value="crash"> - I modified the code in the first post.

Yes I did. It did not help in my case.

Are you sure? That would be wierd...

Thanks

[2018-04-30 10:16] cnsgithub commented on #3621
Yes, almost. :wink: Maybe someone else could try to reproduce it, too?

[2018-04-30 11:19] eversnarf opened #3622 "Tree: add a callback for filtering"
It would be useful to have a way to register a javascript callback when filtering is applied to the tree.
My use case is that I want to highlight the search terms in the resulting tree nodes, but I can imagine other uses.

## 1) Environment
- PrimeFaces version: 6.2.3
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? Not tried
- Applicatio

[2018-04-30 12:12] melloware commented on #3612
@cnsgithub I would create 1 new issue and list the 32 places you found it!

[2018-04-30 12:15] cnsgithub opened #3623 "XSS in terminal"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT

## 2) Expected behavior
Proper escaping of command handler result

## 3) Actual behavior
Improper escaping

## 4) Steps to reproduce
Go to modified showcase (http://localhost:8080/showcase/ui/misc/terminal.xhtml), enter a command and press enter. Alert containing session cookie (btw, use HttpOnly flag in showcase?) will be shown. Content will b

[2018-04-30 12:20] martin654 commented on #3621
There is a difference in response content between the two mojarra versions (2.3.2 and 2.2.17):

**2.3.2**
[code]

**2.2.17**
[code]
Edit: sorry, made some mistakes in this post, corrected

[2018-04-30 12:34] cnsgithub opened #3624 "Escaping of jquery selectors"
In https://github.com/primefaces/primefaces/issues/3612 @xtron found one specific issue regarding improperly escaped strings used within jquery selectors.

We've found that there are various similar locations where escaping is also missing, see https://github.com/primefaces/primefaces/issues/3612#issuecomment-384518318

Just do a regex search  `\[[A-Za-z0-9-_]+=["'].*?\+` (naive approach - may ret

[2018-04-30 12:35] cnsgithub commented on #3612
I just created a separate issue: https://github.com/primefaces/primefaces/issues/3624

[2018-04-30 12:41] bzurmaar opened #3625 "[Documentation] AjaxStatus: never shows the success and error facets."
## 1) Environment
- PrimeFaces version: 6.2.0
- Does it work on the newest released PrimeFaces version? No.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No.
- Application server + version: Wildfly 12.0
- Affected browsers: All

## 2) Expected behavior
When an ajax request fails ajaxStatus should show its err

[2018-04-30 13:17] cnsgithub commented on #3623
Oops, this may be a general problem with `PrimePartialResponseWriter `or even with `PartialResponseWriter `(Mojarra).

CDATA section delimiters can be injected, see https://www.owasp.org/index.php/Testing_for_XML_Injection_(OTG-INPVAL-008).

[2018-04-30 14:13] tandraschko commented on #3621
Fyi:
In jsf2.3 a dynamic resource loading was implemented, therefore we skip our logic in 2.3.

Not sure whats wrong. Can you check if the response and the new resource is handeld correctly in our core.ajax.js?

[2018-05-01 00:13] tandraschko commented on #3621
Works also fine for me. Both with showcase and Mojarra 2.2 and 2.3.
So please provide a cloned primefaces-test project, otherwise it will be closed as 'can't replicate'.

[2018-05-01 10:37] kukel opened #3626 "Add the relevance of nesting a form inside a dialog when using appendTo="@Body" to the showcase"
In the documentation it is explicitly mentioned that a dialog should have its own form when using the appendTo with a value of body... IMHO it would be better to also explicitly add this to the showcase. It is an often recurring issue:

https://stackoverflow.com/questions/18958729/pcommandbutton-action-doesnt-work-inside-pdialog

[2018-05-01 11:09] tandraschko commented on #3626
A issue and PR in the showcase issuetracker is very welcome. It's not related to PF core.

[2018-05-01 11:09] #3626 closed, assigned to nobody

[2018-05-01 11:12] kukel commented on #3626
Will do, sorry. Forgot there was a separate issuetracker

[2018-05-02 00:10] newk5 opened #3627 "Calendar: pattern="yyyy" or "MMM/yyyy" shows wrong date"
When using a pattern like "MMM/yyyy" or "yyyy" the p:calendar component shows a wrong date. With my use case I just need the user to choose a month (when using "MMM/yyyy") or a year (when using "yyyy"), but for some reason the calendar always seems to show the date 5 years ahead, 7 months ahead and 8 days ahead . I also tested with navigator="true" but the results were the same.

## 1) Environment

[2018-05-02 06:43] martin654 commented on #3621
Hi!
Forked primefaces-test: https://github.com/martin654/primefaces-test
First click on crash button causes the problem - numbers in inputs are not formatted as expected.
Second click on crash button causes the inputs to be formatted properly.

I don't see the javascript console error with this forked project anymore, but the behavior of the form is the same.

[2018-05-02 09:01] tandraschko commented on #3621
The problem is the following:
https://github.com/primefaces/primefaces/issues/2303

we removed async=false, so the script is executed after our widgets initialization.

[2018-05-02 09:27] cnsgithub commented on #3623
PR: https://github.com/primefaces/primefaces/pull/3628

CDATA stuff has to be examined separately in more detail.

[2018-05-02 09:34] cnsgithub commented on #3624
Well, I don't think this is a security issue per se, although it would have been in previous jquery versions. But it's for sure an issue resulting in JS errors and thus might break functionality.

However, I currently do not have enough time to identify and fix all of these locations. So anybody, PR is very welcome.

@xtron You already fixed one issue regarding jquery selector escaping. Maybe you'

[2018-05-02 09:56] cnsgithub opened #3629 "Partial rendering: insufficient CDATA encoding (XSS)"
## 1) Environment
- PrimeFaces version: 6.3-snapshot
- Mojarra version: 2.3.2

## 2) Expected behavior
Using `<![CDATA[` or `]]>` within submitted ajax strings must not break things when included in partial response.

## 3) Actual behavior
Client side partial response processing gets aborted without throwing any JS errors. This issue may lead to partial response (XML) injection/XSS as seen in http

[2018-05-02 10:16] cnsgithub opened #3630 "XSS in slideMenu, selectOneMenu, treeTable, progressBar"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
proper escaping

## 3) Actual behavior
improper escaping -> XSS

## 4) Details

1. slideMenu
[code]

2. selectOneMenu
[code]

3. treeTable
[code]

4. progressBar
[code]

## 5) Mitigation
I'll provide a PR. @tandraschko Could you please add the security label?

[2018-05-02 10:44] cnsgithub commented on #3630
PR: https://github.com/primefaces/primefaces/pull/3631

[2018-05-02 10:46] tandraschko commented on #3629
Would be great next time if you could check before if it's PF or Mojarra related :P

[2018-05-02 11:10] alissongodoi commented on #3437
I am having this issue in production.
Is there any workaround?
Regards.

[2018-05-02 11:11] tandraschko commented on #3621
implemented this features now exactly the same way as in JSF 2.3.
Only the warning in the browser: "sync requests in the mainthread are deprecated..." will now occur again.

[2018-05-02 11:11] #3621 closed, assigned to tandraschko

[2018-05-02 11:14] tandraschko commented on #3627
does it work with native jqueryui calendar?

[2018-05-02 11:16] #3630 closed, assigned to nobody

[2018-05-02 11:24] #236 closed, assigned to nobody

[2018-05-02 11:30] cnsgithub opened #3632 "XSS in terminal"
https://github.com/primefaces/primefaces/pull/1467 has been merged with known XSS vulnerabilities. Fix them.

[2018-05-02 11:37] #3623 closed, assigned to nobody

[2018-05-02 12:01] cnsgithub commented on #3632
PR: https://github.com/primefaces/primefaces/pull/3633

[2018-05-02 12:06] #3632 closed, assigned to nobody

[2018-05-02 13:10] ghost opened #3634 "Cache invalidation for tabView?"
Hi,

I'm trying to invalidate cached tabViews and I've looked through the documentation and googled, but didn't find anything. Such a feature would be very useful and could save whole page reloads while still providing a caching mechanism for tabs.

Is there a way to achieve this or a workaround?

I'm using PrimeFaces version 6.2.

Thank you very much!

[2018-05-02 13:13] tandraschko commented on #3634
questions -> forum.

[2018-05-02 13:13] #3634 closed, assigned to nobody

[2018-05-02 13:49] cnsgithub commented on #3629
Mojarra's `HtmlResponseWriter.writeText `has this piece of code where `dontEscape `evaluates to `true `if we are writing either a `script` or `style `element:
[code]

Now, for the growl example mentioned above, we definetely write javascript in `GrowlRenderer`, initiated by `WidgetBuilder`. In `encodeMessages`, line 102, we call `HtmlResponseWriter.writeText `assuming that XML escaping is done aut

[2018-05-02 15:08] tandraschko commented on #3625
I think we should just add an hint to the documentation, that if an "complete" facet is defined, the user will never see a "error" or "success" facet.

[2018-05-02 15:29] grantsmith1969 commented on #3437
We're having the same problem. We have had to remove all p:cellEditor components and just use a valueChangeListener inside p:inputText and a p:ajax child within that. Something like this:

[code]

Our listener class looks something like this:

[code]

[2018-05-02 22:08] bzurmaar commented on #3625
Even in the abscence of a complete facet the error and success facets are never shown. At the moment it's completely impossible to show them at all.

[2018-05-03 03:48] newk5 commented on #3627
After testing with the native jqueryUI datepicker I notice it does not work either, although the behaviour is a little different, the year pattern seems to be "yy" instead of "yyyy" and the date doesn't show years ahead but instead always shows the current date no matter what value I choose on the popup ( when using the "yy" or the "yyyy" pattern ). Here's a jsfiddle test showing whats happening:

[2018-05-03 05:23] martin654 commented on #3621
Thanks for the fix. Will it be in next Elite version? Thanks!

[2018-05-03 06:50] tandraschko commented on #3621
@mertsincan would you like to merge it to elite?

[2018-05-03 10:52] metaxmx opened #3635 "Chart: LineChart not working when beginning with null-values"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? 6.2 is newest release
- Does it work on the newest sources in GitHub? No
- Application server + version: Wildfly 10
- Affected browsers: Firefox, Chrome (latest)
- Example: See gist: https://gist.github.com/metaxmx/49a966c022f40bcdcfbe51f8596c94af

## 2) Expected behavior
- In LineCharts

[2018-05-03 11:05] melloware commented on #3621
I will report under my PRO account to get it merged.

[2018-05-03 13:12] msgeissler opened #3637 "Link: does not render onfocus and onblur"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Relevant source has not changed
- Application server + version:
- Affected browsers:

## 2) Expected behavior
If I add `onfocus` and `onblur` to p:link it gets rendered into the HTML, as suggested by the documentation.

[2018-05-03 16:01] filipe-prestes commented on #2049
Remove scroolable and add div with style="overflow: auto;"

<div class="dataTables_scrollBody" style="overflow: auto;">
		<p:dataTable var="tar" value="#{Bean.lazyModel}" style="width:100%"

[2018-05-03 17:56] kito99 opened #3639 "Responsive page in showcase is not working"
Right now it's showing a blank page: https://www.primefaces.org/showcase/ui/misc/responsive.xhtml

[2018-05-03 17:59] kito99 commented on #3383
This component should be added to the showcase should as well.

[2018-05-03 19:06] tandraschko commented on #3383
@kito99 it would be great if you could use the showcase issuetracker for this - and it would be very great if you could provide a PR.

[2018-05-03 19:12] tandraschko commented on #3639
fixed it but please use the showcase issuetracker the next time.

[2018-05-03 19:12] #3639 closed, assigned to nobody

[2018-05-03 21:04] jxmai commented on #3615
Please see my investigation at https://github.com/primefaces/primefaces/pull/3455#issuecomment-386097198. 108 is keypad separator,  so `,` key that can submit the form makes perfect sense https://github.com/primefaces/primefaces/issues/3615#issuecomment-384716172

---

conclusion: keycode 108 and NUMPAD_ENTER should be removed

[2018-05-04 05:03] mertsincan opened #3640 "JSF validation occurs for selectOneMenu components on records not displayed when live scroll is enabled"
Reported By PRO User;

The table is used to edit data where some of the components are marked as required.
When live scrolling is used and a selectOneMenu component is marked as required, the JSF validation
appears to be invoked for the items that have not been loaded in the overlay. Even when these values
are present in the underlying object, the validation fails because their value is missing. .

[2018-05-04 05:03] #3640 closed, assigned to mertsincan

[2018-05-04 09:39] tandraschko opened #3641 "Widget destroyListeners are called sometimes random"

[2018-05-04 09:42] cnsgithub commented on #3629
Just filed an issue at Mojarra as well: https://github.com/javaserverfaces/mojarra/issues/4370

[2018-05-04 11:41] #3641 closed, assigned to tandraschko

[2018-05-04 12:22] kito99 commented on #3383
OK. Added https://github.com/primefaces/showcase/issues/81. Not sure about a PR but I will if possible.

[2018-05-04 12:32] mertsincan opened #3642 "Add exportHeaderValue and exportFooterValue attribute to column"
- exportHeaderValue: Defines if the header value of column to be exported.
- exportFooterValue: Defines if the footer value of column to be exported.

On dataExporter, the header/footer title of columns are very difficult to find in the nested structures/components in f:facet. Therefore, users use these attributes on columns.

[2018-05-04 12:35] #3642 closed, assigned to mertsincan

[2018-05-04 12:38] mertsincan commented on #1708
Please use exportHeaderValue; #3642

[2018-05-04 12:38] #1708 closed, assigned to nobody

[2018-05-04 14:54] mertsincan opened #3643 "Impossible to input decimal point on Slider"
Reported By PRO User;

[code]

[2018-05-04 14:54] #3643 closed, assigned to mertsincan

[2018-05-04 20:41] erickdeoliveiraleal opened #3644 "inputMask: regression in branch master."
In Primefaces 6.2 this code works if the input is 999 or 9 or 99999999 (max)
but _master_ throws a NullPointerException when 999 (when length not equals 1 or max)

`<p:inputMask mask="9?9999999" maxlength="7" size="9" value="#{movimentoVeiculoBean.movimento.odometroAtual}" id="odatual"><p:ajax listener="#{movimentoVeiculoBean.validarOdometro()}" process="@this" update="movimentacoes:odatual,movime

[2018-05-04 22:00] tandraschko commented on #3644
@cnsgithub could you please check it? As i said, there are always cases when something breaks.

[2018-05-05 16:52] tandraschko commented on #3625
OK i see, Would you please provide a PR that the error/sucess will not be hidden, if no complete facet is defined?

[2018-05-05 16:52] #3635 closed, assigned to nobody

[2018-05-05 16:52] tandraschko commented on #3635
Thanks for the pR!

[2018-05-07 07:06] cnsgithub commented on #3644
This issue is not conform with the template.

Furthermore, I cannot reproduce it by using modified showcase:
`                <p:inputMask id="issue" value="#{maskView.phone}" mask="9?9999999" maxlength="7" size="9"/>
`

@tandraschko For this reason, more time should be invested in the design at the beginning. :stuck_out_tongue_winking_eye:

[2018-05-07 07:18] bzurmaar commented on #3625
Ok, I'll provide a PR in the next few days.

[2018-05-07 07:48] tandraschko commented on #3644
Ok, lets close it until the issue is conform to our template and the example is complete.

[2018-05-07 07:48] #3644 closed, assigned to nobody

[2018-05-07 07:48] #3637 closed, assigned to nobody

[2018-05-07 07:50] tandraschko commented on #3622
Why not just use
p:ajax event="filter" onsucess...?

[2018-05-07 08:03] #3587 closed, assigned to nobody

[2018-05-07 08:04] tandraschko commented on #3587
Thanks for the PR!

[2018-05-07 08:05] matsandreassen opened #3645 "InputGroup: support for inputNumber and calendar"
## 1) Environment
- PrimeFaces version: 6.2.3, Mojarra 2.2.17
- Application server + version: Tomcat 8.5.27
- Affected browsers: At least newest Chrome and Edge

## 2) Expected behavior
Well, I _hoped_ for a perfectly aligned ui-inputgroup-addon but I'm thinking that the components I'm using haven't been tested with the input group functionality.

Since support for "my" components isn't demonstrat

[2018-05-07 08:07] tandraschko commented on #3645
Please provide the example or it will be closed as invalid.

[2018-05-07 08:18] matsandreassen commented on #3645
Sorry, I'll do better next time. ;) Example is now added.

[2018-05-07 08:59] mertsincan commented on #3584
Related to #89

[2018-05-07 09:01] #3143 closed, assigned to nobody

[2018-05-07 10:25] krishnakittu opened #3646 "DataTable: column names with dynamic columns gives null value"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: glassfish 3.2
- Affected browsers: All

## 2) Expected behavior
column names should be available in managed bean.

 ...

## 3) Actual behavior
On making of col reorder in browser the corresponding ajax method giving null values.
How to get the value of column names in managed bean. Please advice

..

## 4) Steps to reprodu

[2018-05-07 10:54] cnsgithub commented on #3646
I think this is rather a forum question.

Anyways, did you try `DataTable.getDynamicColumns` instead of `getColumns`?

[2018-05-07 11:17] krishnakittu commented on #3646
I tried In all the ways. Always I am getting null value if it is dynamic Column. But when I use static column I am getting a value in bean.

[2018-05-07 11:50] tandraschko commented on #3645
Would be great if you can provide a PR.

[2018-05-07 14:15] koflerdavidgrawe opened #3647 "p:ajax with update blocks commandbutton click when focused"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) - Did not try
- Application server + version: Tomcat 8.5
- Affected browsers: FF/Chrome

# 2) Expected behavior
A focused input element with p:ajax wi

[2018-05-07 16:17] BryanV91 opened #3648 "RemoteCommand: name="onload" not triggering p:ajaxStatus client side functions"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: WildFly 11
- Affected browsers: Chrome 66.0.3359.139, Firefox 59.0.3

## 2) Expected behavior

p:remoteCommand name="onload" + p:ajaxStatus should be executing onstart, oncomplete, onsuccess and onerror functions, but since PF (6.2) it is not working on Chrome.

It used to work fine on PF (6.1).

## 3) Actual behavior

AJA

[2018-05-07 16:18] erickdeoliveiraleal commented on #3644
Bean
[code]

XHTML
[code]

[2018-05-07 18:50] tandraschko commented on #3644
Can you can check again @cnsgithub ?

[2018-05-07 18:51] tandraschko commented on #3648
But it does work fine if the remoteCommand is manually invoked later?

[2018-05-07 18:56] BryanV91 commented on #3648
Yes, it does work properly if it is invoked later.

[2018-05-07 19:07] tandraschko commented on #3648
It would be great if you could check the problem deeper and provide a PR to fix it.

[2018-05-08 08:53] tandraschko commented on #3647
Deeper analysis and PR are very welcome.

[2018-05-08 09:20] movalz opened #3649 "DataTable: bad keyboard support for scrollable dataTable with column filter"
In case of a scrollable dataTable with sortable columns and without frozen column(s) and with a filter for at least one column TAB key jumps over the filter icon (when focus was inside the TH with the filter) instead of setting focus to "ui-selectcheckboxmenu-trigger" (more concrete: to the input with id "..._focus" inside that DIV).

If dataTable is pageable or has frozen column(s) it's working a

[2018-05-08 11:53] matsandreassen commented on #3645
We use the new PF Designer to create our theme. I _thought_ this was a PF bug since it looks fine in the Designer while we tweak the theme. I discovered now that it also looks fine if I revert to the default PF theme in web.xml.

_Somehow_ this seems to be related to our theme generation. Sorry to have wasted your time on this. It's quite puzzling. :(

[2018-05-08 11:56] tandraschko commented on #3645
All right! I don't know how PrimeTek handle the support about the designer but here it's just for the community stuff, so i will close it.

[2018-05-08 11:56] #3645 closed, assigned to nobody

[2018-05-08 13:20] kukel commented on #3646
@tandraschko: defect AND enhancement at the same time feels like a contradiction. Should the content of the header return the 'rendered' value of it or just the 'unrendered' EL?  If I remember correctly, the position IS returned, so if one keeps a reference to the list that should produce the column names, you can get it that way...

[2018-05-08 13:21] tandraschko commented on #3646
I don't have time to check all issues in detail and check if it worked before or not... ;) So i set both labels instead of no-label.

[2018-05-08 13:57] kukel commented on #3646
That is confusing for posters. OP in this case thinks it is an accepted
bug. Maybe a "review" tag "Triage" is better then.

[2018-05-08 17:29] AdriaoNeves commented on #3581
Thank you again @HuseyinTurkmenoglu, I hope the PR is accepted.

[2018-05-08 17:45] dereklee74 opened #3650 "Layout with z-index not workign in PF 6.0"
I believe since the PF version 5.3+ has an issue when using <p:menubar>

     <p:layout fullPage="true" >

         <p:layoutUnit position="north">
            <ui:include src="/menu.xhtml" />
         </p:layoutUnit>

         <p:layoutUnit position="south">
            <ui:include src="/footer.xhtml" />
         </p:layoutUnit>

         <p:layoutUnit position="center">
            <ui:insert na

[2018-05-08 18:32] krishnakittu commented on #3646
Thanks @kukel. At present I am able to complete my task with indexes.

[2018-05-08 18:40] dereklee74 commented on #3650
nope, it';s my fault, it's working, how i delete this ?

[2018-05-08 18:40] #3650 closed, assigned to nobody

[2018-05-09 10:25] huseyinturkmenoglu commented on #3580
I send PR : https://github.com/primefaces/primefaces/pull/3651

[2018-05-09 11:10] huseyinturkmenoglu commented on #3578
Hi, I tested Virtual Scrolling from primefaces.org/showcase. But I don't see any issue.

Could you explain the issue with more information or create sample test(https://github.com/primefaces/primefaces-test)?

[2018-05-09 11:29] NEOMNI opened #3652 "DataTable: Advanced TableState properties"
## 1) Environment
- PrimeFaces version: 6.1.8
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 8
- Affected browsers: All

## 2) Expected behavior
Extend TableState feature of DataTable to support savi

[2018-05-09 11:30] tandraschko commented on #3652
Would be great if you could sponsor it or provide a PR.

[2018-05-10 17:53] movalz opened #3654 "SelectOneMenu: after refreshing the widget in an AJAX request the popup opens at wrong position"
If an AJAX request updates a SelectOneMenu widget and user opens the popup of that SelectOneMenu the popup opens at wrong position: top left corner of the body instead of aligned to the widget.

Reason:
In PF 6.1 SelectOneMenu had following function, called from init():
[code]
This removed the old popup panel ('..._panel') before appending the new panel.

In PF 6.2 this method was removed and inst

[2018-05-10 22:11] wolf97084 commented on #3565
How about for p:menuitem? The solution above works well for p:commandButton but not menuitem.

SEVERE: Servlet.service() for servlet [Faces Servlet] in context with path [/cm] threw exception [javax.faces.component.html.HtmlPanelGroup cannot be cast to org.primefaces.model.menu.MenuElement] with root cause
java.lang.ClassCastException: javax.faces.component.html.HtmlPanelGroup cannot be cast to or

[2018-05-11 08:01] kapitanrum commented on #3324
If **org.primefaces.component.datatable.TableState** object will be exposed to **p:datatable** arguments, then scope may be driven by programator.

Theoretical example use in .xhtml:
[code]

Example Spring model class in Spring web flow scope (may be used in CDI view scope or any other scope):
[code]

[2018-05-11 08:51] tandraschko commented on #3654
As you didn't provide the bean, it's actually invalid but i think i fixed the issues so please try.

[2018-05-11 09:34] bzurmaar commented on #3625
Thanks for accepting the PR!

I guess you or the issue's assignee close this issue once the documentation has been updated? Sorry, I'm a novice in open source development.

[2018-05-11 09:50] AdriaoNeves commented on #3578
Hi, I checked again on https://www.primefaces.org/showcase/ui/data/datatable/scroll.xhtml and the glitch happens like in the gif I uploaded previously.

If you try to follow the records while you scroll down, you will see that when more rows are fetched, the scrollTop gets sent to 0 (because of datatable update) then the scrollTop is restored to the corrected position, this makes harder to follow

[2018-05-11 09:54] tandraschko commented on #3625
your welcome!
Yep, exactly.

[2018-05-11 12:03] mertsincan opened #3655 "Add onTableRender attribute to DataExporter component"
onTableRender attribute is a MethodExpression that have two parameters; PdfPTable and DataTable

The properties of the table created for PDF can be changed using onTableRender.

Exp;
[code]

[2018-05-11 12:04] #3655 closed, assigned to mertsincan

[2018-05-11 14:47] wolf97084 opened #3656 "Title not displayed when commandButton/menuItem is disabled. With simple fix from issue#3565, title works for disabled commandButton, but exception for menuItem"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? No (Version 6.2)
- In Version 6.1 it worked.
- Application server: Tomcat 7.0.64
- Affected browsers: IE Edge, Chrome 66.0.3359.170, Firefox 52.7.3 (32-bit)

## 2) Expected behavior
Title of a component (commandButton or menuItem) should be displayed regardless if component is enabled or disabled.

[2018-05-11 16:05] jbgomond commented on #2269
Is there a solution to that problem in PF 6.2 ? https://github.com/primefaces/primefaces/issues/391

I'm lost :(
Are subtables deprecated ? If so, with what can I replace it ? (columnGroup has not the same goal ...).

I really need to use rowspan on a subtable and it doesn't work (it used to work with richfaces) :(

Thanks !

[2018-05-11 16:11] kukel commented on #3656
This behaviour comes from the new jquery-ui version. See https://stackoverflow.com/questions/50281355/primefaces-6-2-commandbutton-title-not-working-when-commandbutton-is-disabled. The new behaviour is in my opinion not bad and since you can override it, I would vote to 'close' this as won't fix

[2018-05-11 16:28] wolf97084 commented on #3656
Agreed and thank you, @kukel

[2018-05-11 16:28] #3656 closed, assigned to nobody

[2018-05-11 16:29] wolf97084 commented on #3565
Please see https://stackoverflow.com/questions/50281355/primefaces-6-2-commandbutton-title-not-working-when-commandbutton-is-disabled/50296275#50296275 Issue is from jQuery and can be fixed with CSS. Kudos to @kukel

[2018-05-12 18:34] eversnarf commented on #3622
This could be a solution, even if it creates one extra round-trip, but it gives me an error:

And by looking at the doc (6.2), not surprisingly, `filter` event is not mentioned (only `expand`, `colapse`, `select` and `unselect`).

[2018-05-13 14:43] tandraschko commented on #3622
So we should add the filter event as we already have a ajax request for the filtering.

[2018-05-14 11:05] tandraschko commented on #3565
duplicate of 3656

[2018-05-14 11:05] #3565 closed, assigned to nobody

[2018-05-14 12:03] mertsincan opened #3657 "When a node is copied, it can not be pasted to the same Tree"
Reported By PRO User;

[2018-05-14 12:04] #3657 closed, assigned to mertsincan

[2018-05-14 12:44] abelet opened #3658 "Improper theming"
Components.css seems to have a lot of style definitions which should be placed in theme files.

For example:

.ui-tooltip .ui-tooltip-text {
    padding: 3px 10px;
    background-color: #4c4c4c;
    background-image: none;
    color: #fff;
}

[2018-05-14 15:17] abelet commented on #1023
broken with 6.2 also

[2018-05-14 16:46] melloware commented on #1023
Looks like its this block of code in sticky.js that is setting the AUTO if its fixed.

[code]

[2018-05-14 18:48] abelet commented on #1023
Is it possible to add a fix to a primefaces public release somehow? Sticky.js exist only in the sources, and I would not like to patch the components.js (which is located in primefaces.jar) to corret the bugs in this component.

[2018-05-14 19:09] open-gdsn commented on #1023
https://stackoverflow.com/questions/39639532/override-a-method-from-a-primefaces-specific-widget

 and

https://stackoverflow.com/questions/36594082/monkeypatching-primefaces-widgets-extend-override

and

https://stackoverflow.com/questions/27551493/how-do-i-find-and-or-override-javascript-in-primefaces-component-based-on-widget/27564325

[2018-05-14 22:13] abelet commented on #1023
In my case when the component became fixed on the top, it also became wider. It became as wide as its parent. After scrolling up, when the component has been restored, it remained wider.
Using one of the suggested methods above, this modification solved the problem for me :

[code]

[2018-05-15 03:10] Mararsh commented on #3588
Yes, you are right. Chinese is permitted as the XML tag, and I did not realize this. Sorry for the mistake!
I will check why XML exporter failed in my env and update later.

[2018-05-15 08:45] mertsincan commented on #3580
Thanks @HuseyinTurkmenoglu!

[2018-05-15 08:45] #3580 closed, assigned to mertsincan

[2018-05-15 11:32] ttsiebzehntt opened #3659 "p:ajax: javax.el.MethodNotFoundException with listener on Tomcat 8.5.31"
## 1) Environment
- PrimeFaces version: 6.2.2
- Does it work on the newest released PrimeFaces version? Version? No
- Application server + version: Tomcat 8.5.31
- Affected browsers: All

## 2) Expected behavior
p:ajax Listener work as designed.

## 3) Actual behavior
After updating Tomcat from 8.5.24 to 8.5.31 the Ajax Listener stopped working. The following Exceptions appear in the logs:

[code]

[2018-05-15 12:26] tandraschko commented on #3659
Hmmm not sure if it's our bug then.
If you check the MethodExpression#invoke docu:

     *     resolutions failed because a specified variable or property
     *     does not exist or is not readable.
     * @throws MethodNotFoundException if no suitable method can be found.

The bean itself is available and will be resolved correctly, only the method without parameters can't be found. So it's act

[2018-05-15 12:55] ttsiebzehntt commented on #3659
@tandraschko Sorry for the confusion. It was not as easy as running the showcase. The error only occures if you use a composite component in between.
When you first search for the method without the parameter, the tomcat el impl is searching for a method with the parameter type SelectEvent because of the method-signiture in the composite component.
Till tomcat 8.5.24 the method was found although

[2018-05-15 13:09] tandraschko commented on #3659
It's now really confusing ;)

Just for your understanding:
When creating the Behavior, we eagerly lookup 3 methods:
- the listener without arguments
- the listener with AjaxBehaviorEvent as argument
- the listener with the real event class

now, when invoking the the ajax behavior, we invoke one after other if the the previous method can't be found.

[2018-05-15 13:10] tandraschko commented on #3659
So, we invoke the first listener and if it throws a propertynotfound exception, we assume, which is correct IMO, that the previous property can't be found.

for example:
cc.attrs.myBean.someListener

A propertyNotFound should be thrown when myBean is null here, not when the listener with argument isn't available.

[2018-05-15 13:55] ttsiebzehntt commented on #3659
@tandraschko

The PropertyNotFoundException is thrown starting from Tomcat 8.5.25. Would you mind adding it to the try catch block in `AjaxBehaviorListenerImpl.processAjaxBehavior` and fall back to `processArgListener` like with the MethodNotFoundException.

[2018-05-15 14:08] sergi-mm opened #3660 "Timeline: scrolling lost when lazyLoading"
## Environment
- PrimeFaces version: 6.2.3
- Application server + version: Tomcat 8.5.14 + JSF 2.2

## Issue
When scrolling backwards or forwards and lazy loading is enabled, if new events are added and component is updated, then the Timeline loses the scroll position and returns to the initial position.

The issue has been introduced in this commit 6b4fe5595a77539fb5394a543a8a794b24216d18 , which

[2018-05-15 14:13] tandraschko commented on #3659
I understand that it is thrown now but IMO tomcat shouldn't throw it.
Does it work with both mojarra and myfaces f:ajax correctly?

[2018-05-15 14:14] sergi-mm commented on #3660
Just added the PullRequest #3661 to fix this issue. Please check it. Thanks.

[2018-05-15 15:02] ttsiebzehntt commented on #3659
@tandraschko Sorry, I can only test it with mojarra (2.2.16). It's also not working, as they only catch MethodNotFoundException and IllegalArgumentException (https://github.com/javaserverfaces/mojarra/blob/2.2.16/jsf-ri/src/main/java/com/sun/faces/facelets/tag/jsf/core/AjaxHandler.java#L460)

[2018-05-15 15:06] tandraschko commented on #3659
i see :/
I hope you can contact the tomcat devs and ask why they do it. IMO it makes no sense to throw a PropertyNotFoundException when "everyone" expects a MethodNotFoundException.

[2018-05-16 00:21] jaime-marcondes commented on #3492
Is there a workaround until this issue be resolved ?
Tks

[2018-05-16 07:13] schlebe opened #3662 "SelectOneMenu: crashes on PrimafeFaces > 6.2 when editable="true""
## 1) Environment
- PrimeFaces version: 6.2.3
- Does it work on the newest released PrimeFaces version? NO
- Application server + version: Glassfish 4.1
- Affected browsers: Chrome, Opera

## 2) Expected behavior

The program don't display any error (AjaxExceptionHandler).

## 3) Actual behavior

In Primefaces 6.1.14, the program work correclty.
After migrating to 6.2 and now to 6.2.3, the program

[2018-05-16 07:15] tandraschko commented on #3662
We have a very required question in the issue template
"- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)"

So please test it, AFAIR it's already fixed.

[2018-05-16 07:15] tandraschko commented on #3662
Also your ticket would be invalid as the example isn't runnable and contains unrequired stuff like EJBs.

[2018-05-16 08:08] schlebe commented on #3662
ok, I will download last build from GitHub and if error already exists, I will modify my code so that you have a very simple code. I begin now :-)

[2018-05-16 10:27] schlebe commented on #3662
I have converted my code to PrimeFaces 6.3-SNAPSHOT. I have take some times because RequestContext must be replaced by PrimeFaces.current() !

I have also reduced my XHTML code to

[code]
The Controller code is

[code]
The code for OriginatorUser has already been transmitted in previous message.

The code for OriginatorConverter is

[code]

I will add that the error disappears in 2 situations :
1.

[2018-05-16 11:52] melloware commented on #3584
Maybe we can add in that fix for #89 a  if (PrimeFaces.isIE()) wrapper around that call?

[2018-05-16 12:33] #3584 closed, assigned to mertsincan

[2018-05-16 12:49] schlebe opened #3664 "TextEditor: valueChangeListener is never called"
I test my Web application on Primefaces 6.3 for another bug and I have seen that valueChangeListener() function of <p:textEditor> is nver called using Primefaces 6.3 !

I use Glassfish 4.1 with JSF 2.2.

## 1) Environment
- PrimeFaces version: 6.3
- Does it work on the newest released PrimeFaces version? NO 6.3
- Does it work on the newest sources in GitHub? NO
- Application server + version: Glas

[2018-05-16 13:01] tandraschko commented on #3664
Deeper analysis or PR is very welcome.

[2018-05-16 13:01] tandraschko commented on #3662
Deeper analysis or PR is very welcome.

[2018-05-16 13:05] pfdeveloper opened #3665 "p:datatable rtl scrollable="true" header doesnt move with scroll.....thank you"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-05-16 13:08] pfdeveloper opened #3666 "p:tree rtl dynamic="true" double click to expand node ....it should one click then expand all node.....thank you"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-05-16 13:10] tandraschko commented on #3666
Please respect our issue template -> !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

[2018-05-16 13:10] #3666 closed, assigned to nobody

[2018-05-16 13:10] tandraschko commented on #3665
Please respect our issue template -> !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

[2018-05-16 13:10] #3665 closed, assigned to nobody

[2018-05-16 13:16] pfdeveloper opened #3667 "DataTable: scrollable, header doesn't move with RTL"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-05-16 13:20] tandraschko commented on #3667
Still invalid... no examples, no screenshots, nothing.

[2018-05-16 13:23] pfdeveloper commented on #3667
in general primefaces component doesnt support  rtl orientation .....thank you

[2018-05-16 13:27] tandraschko commented on #3667
Sorry but we are no "clairvoyant". A issue consists of one problem, for a specific component.
In general PrimeFaces does support RTL, maybe not for all components.

So please change this issue to be correct and reproducable, or use PrimeFaces PRO to get payed support.

[2018-05-16 13:37] pfdeveloper commented on #3667
i put the direction of main container of datatable to ltr then put the direction of
.ui-datatable-scrollable table{
direction: rtl;
}
.ui-datatable .ui-datatble-scrollable-body{
direction:rtl;
}

[2018-05-16 13:48] marcelocaser commented on #3437
thank you! i have the same problem!!

[2018-05-16 14:09] schlebe commented on #3662
Just for information ...

I have replaced <p:remoteCommand> by JQuery (see code below) and the application work now correctly. The Primefaces error is already there but I use another technic to run a specific script when page is loaded.

[code]

[2018-05-16 20:16] kukel opened #3668 "Tree: expand/collapse events not symmetrical with 'dynamic="true"'"
## 1) Environment
- PrimeFaces version: 6.1.x ,6.2.x
- Does it work on the newest released PrimeFaces version? No, Version? Tried 6.2 Elite
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) 6.2-SNAPSHOT no
- Application server + version: N/A (tried Tomcat 8 and Wildfly 10
- Affected browsers: ALL

## 2) Actual be

[2018-05-17 06:32] huseyinturkmenoglu opened #3670 "p:multiSelectListBox doesn't have ajax event available."
- Expected behavior:  MultiSelectListBox will use to change event listener.
- Actual behavior:       It throws NullPointerException.

[2018-05-17 06:39] schlebe opened #3671 "improvement request to add in Migration Guide (data-widgetvar)"
To improve your migration guide from 6.2 to 6.3, I propose you add that you have replaced data-widgetvar attribute name by data-widget !
Like requested for another issue, I have tested a specific issue using last build of Primefaces (version 6.3) but I have encounter some Javascript problems because data-widgetvar name has been changed.

[2018-05-17 07:23] tandraschko commented on #3671
data-widgetvar has been removed from all other components, we just leave it for the dialog framework.
Also it's not a API which should be used by the users, so i don't think we need to adjust the migration guide.
Otherwise we would need to add every small internal change to the migration guide.

[2018-05-17 07:23] #3671 closed, assigned to nobody

[2018-05-17 07:25] tandraschko commented on #3660
@mertsincan Can you merge it to elite?

[2018-05-17 07:25] #3660 closed, assigned to nobody

[2018-05-17 07:26] OBreidenbach opened #3673 "Schedule: add rendering attribute to org.primefaces.model.ScheduleEvent"
I want to use the feature 'background-events' from full calendar:
https://fullcalendar.io/docs/background-events

For that I want to add an attribute to org.primefaces.model.ScheduleEvent.
I will provide a PR but I am not sure what type the attribute should have. In full calender you can set it to
rendering: 'background'
or
rendering: 'inverse-background'
So making is just a string attribute and t

[2018-05-17 07:47] tandraschko commented on #3662
It works fine for me, after removing invalid code.

"value" of selectOneMenu must be a ValueExpression, not MethodExpression and it must be writeable, too (but the example works without setter).

If it doesn't work for you, mabye there is something wrong in your application.
I can't help then without a primefaces-test project to replicate.

[2018-05-17 07:47] #3662 closed, assigned to nobody

[2018-05-17 07:50] tandraschko commented on #3654
Will close it for now.

[2018-05-17 07:50] #3654 closed, assigned to tandraschko

[2018-05-17 07:57] tandraschko commented on #3664
It would be really great if you could do better tickets in future with a whole example or providing a forked primefaces-test project, otherwise i won't waste my time again.
I just works fine when submitting the form, which contains the textEditor with a commandButton.

[2018-05-17 07:57] #3664 closed, assigned to nobody

[2018-05-17 07:57] tandraschko commented on #3664
NOTE: i'm doing this in my freetime here and i only would like to work on real bugs - and the issue tracker is not a forum for discuss problems on how to use primefaces. Maybe just use the forum next time or stackoverflow.

[2018-05-17 08:25] mertsincan commented on #3670
Thanks @HuseyinTurkmenoglu.

[2018-05-17 08:25] #3670 closed, assigned to mertsincan

[2018-05-17 11:32] melloware commented on #3673
Just my two cents...I like supporting all possibilities.  So I suggest making it a string and documenting it correctly with the options.  Also you should possibly throw an exception if the value is not one of the expected values letting someone know they configured the component incorrectly.

[2018-05-17 11:53] surendraMaitrix opened #3674 "cookie value 101Xfn_102Xfn. Processing will continue, but the flash is unavailable for this request"
Hello Everyone,
I am new to primefaces and having a problem in a project. that catalog is below. i cant understand what is happening . I need its solution as soon as possible.

SEVERE: Form too many keys
java.lang.IllegalStateException: Form too many keys
	at org.eclipse.jetty.util.UrlEncoded.decodeUtf8To(UrlEncoded.java:526)
	at org.eclipse.jetty.util.UrlEncoded.decodeTo(UrlEncoded.java:641)
	at

[2018-05-17 11:55] tandraschko commented on #3674
Try the forum or stackoverflow. This is a issue tracker, for primefaces bugs.
This is wheter edirectly PrimeFaces related, nor you provided a example -> invalid.

[2018-05-17 11:55] #3674 closed, assigned to nobody

[2018-05-17 12:36] aweinitschke opened #3675 "PickList: bad performance since 6.2"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version?
 6.2 does not work.
 6.1 work.

- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
No.
- Application server + version:
Payara + 4.1.1.1631
- Affected browsers:
Chrome + IE11

## 2) Expected behavior
-Load Picklist

[2018-05-17 12:38] tandraschko commented on #3675
probably related to jquery3 - would be great if you could check the JS and provide a deeper analysis ;)

[2018-05-17 13:06] aweinitschke commented on #3675
What kind of information to you need?
In Chrome Performance Panel, I can see that the Scripting is taking 284393ms for Function Call in jquery for in our case about 1400 elements.

[2018-05-17 13:10] tandraschko commented on #3675
yes but which statement is slow exactly?
At best you can build the github master by source, so you get the uncompressed scripts and you can analyse exactly what may be slow.

[2018-05-18 06:08] georgwolf opened #3676 "SelectCheckboxMenu/SelectManyCheckbox: selected values not set in bean when using grouping"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? 6.2.4 is fine
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source): No

## 2) Expected behavior
When using SelectCheckboxMenu/SelectManyCheckbox with grouped SelectItems checked values are set in b

[2018-05-18 06:56] tandraschko commented on #3676
@cnsgithub / @melloware can you check this? Otherwise i have to revert

[2018-05-18 07:01] tandraschko opened #3677 "Upgrade to jQuery 3.3.1"

[2018-05-18 07:06] #3677 closed, assigned to tandraschko

[2018-05-18 07:07] tandraschko commented on #3675
Could you maybe checkout the master before this commit? https://github.com/primefaces/primefaces/issues/3587

So we will know if it's related to this change or just to jquery3.

[2018-05-18 07:13] georgwolf opened #3678 "SelectCheckboxMenu: Value instead of label shown after submit for grouped, multiple checkbox menu"
## 1) Environment
- PrimeFaces version: 6.2.4
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No

## 2) Expected behavior
SelectCheckboxMenu with multiple=true and grouped select items displays the label of the selected values after form subm

[2018-05-18 07:15] aweinitschke commented on #3675
One of our developers could be able to check this, but this may take about 3-4 weeks.
I will keep you in track.

[2018-05-18 07:22] tandraschko commented on #3678
a PR would be great

[2018-05-18 07:29] mertsincan opened #3679 "Filter bug when selecting all after having filtered for specific item"
Reported By PRO User;

[2018-05-18 07:30] #3679 closed, assigned to mertsincan

[2018-05-18 09:03] georgwolf commented on #3678
Created #3680 as a fix

[2018-05-18 09:04] #3678 closed, assigned to nobody

[2018-05-18 09:17] #3577 closed, assigned to nobody

[2018-05-18 09:22] #3487 closed, assigned to nobody

[2018-05-18 09:33] georgwolf commented on #3676
Added #3681 as a possible fix

[2018-05-18 09:58] mauromol commented on #395
If I understand it correctly, this was closed just because a workaround was found?

I have this problem, a p:editor in a form in a p:dialog. When the p:commandButton for "OK" is pressed, if I either specify the editor or the parent form (in any way, i.e. with @form or with its id) in the p:commandButton update, the editor content turns to "true" with Firefox 60 (while it works with Chrome).
The wo

[2018-05-18 10:51] tandraschko commented on #395
p:editor is just deprecated because the used CLEditor is not in development anymore.

[2018-05-18 10:59] Michael-Breu-UIbk opened #3682 "TreeTable: CommandButton/CommandLink seem not to work properly inside a treeTable on SubElements"
## 1) Environment:
Primefaces 6.2 (both Windows 10 and Debian Linux latest) tomcat 8.5. Tested with latest Firefix.

## 2) Expected behavior
CommandButtons and CommandLinks should work properly on all levels of a treeTable.

## 3) Actual behavior

It seems, for certain circumstances (bean is requestScoped? rows are not preexpanded programmatically before?), that the command is only executed on top

[2018-05-18 12:26] mauromol commented on #395
I see. So, what's the recommended replacement?

[2018-05-18 12:28] schlebe commented on #3664
Sorry, I have reinstalled PrimeFaces 5.1.14 and the valueChangeListener of <p:textEditor> is only call after pressing on a SUBMIT button.
I thought that the listener is changed every time I press a character.
It is clearly explain by C.Balus on StackOverflow at following link
[https://stackoverflow.com/questions/11879138/when-to-use-valuechangelistener-or-fajax-listener](https://stackoverflow.com/

[2018-05-18 12:58] melloware commented on #395
p:texteditor https://www.primefaces.org/showcase/ui/input/textEditor.xhtml

[2018-05-18 13:32] mertsincan opened #3683 "DisabledSelection issue on dataTable"
Reported By PRO User;

If disabled checkbox is selected by default, when you click on other row, the selection is reset.

[2018-05-18 13:33] #3683 closed, assigned to mertsincan

[2018-05-18 13:46] tandraschko commented on #395
or extensions CKEditor ;)

[2018-05-18 14:00] mauromol commented on #395
Wow, I really missed textEditor!! Thank you very much!

[2018-05-18 15:00] ravihariharan opened #3684 "JQplot Chart: Bar don't work with DateAxis"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 8.5
- Affected browsers: All

## 2) Expected behavior
DateAxis support for Vertical Bar Chart #447
Bar chart

[2018-05-18 19:30] melloware commented on #3675
@orange-buffalo You use this component often can you validate this issue?

[2018-05-18 20:14] JHookDev commented on #3477
@melloware Found that the issue is in SelectOneMenuRenderer.encodeLabel. When it's editable it uses ComponentUtils.getValueToRender to set the value for the input tag being rendered. One way to fix this would be to cycle through the select items, if any of the values match the valueToRender then set valueToRender to the select item label. In addition to looking for the match, the first line in the

[2018-05-18 20:52] jxmai commented on #3675
6.1 work.

Don't think it is related to #3587 which is belong to 6.3 SNAPSHOT. If that's because of the jQuery upgrade, we should check the commit before and after https://github.com/primefaces/primefaces/issues/3062 instead

[2018-05-19 01:33] orange-buffalo commented on #3577
@tandraschko Would it be possible to port the change to the 6.2 version? Our team is using a paid subscription and would be happy to receive the enhancement before 6.3 release.

[2018-05-19 03:52] orange-buffalo commented on #3675
@melloware we actually just started using it, and our use-cases currently do not imply this amount of data. As @aweinitschke provided a sample bean and a page to reproduce, checking the issue should not be a problem.

[2018-05-19 08:49] tandraschko commented on #3577
thats up to @mertsincan

[2018-05-19 12:48] open-gdsn commented on #3675
There is a is a sample in the original post

[2018-05-19 14:29] vanuatoo opened #3686 "DataTable: typed text is not shown inside CellEditor"
## 1) Environment
- PrimeFaces version: 6.2.4 with Ultima theme 1.1.1

- Does it work on the newest released PrimeFaces version? no
- Does it work on the newest sources in GitHub? Don't know
- Application server + version: Payara 5.181
- Affected browsers: Firefox

## 2) Expected behavior
When you go into edit mode and type text, it should be visible.

## 3) Actual behavior
During typing text is n

[2018-05-19 15:50] tandraschko commented on #3686
does it work without ultima?

[2018-05-19 16:54] vanuatoo commented on #3686
It works without ultima

[2018-05-19 17:00] tandraschko commented on #3686
then use the ultima forum pls, this is just for primefaces core here.

[2018-05-19 17:00] #3686 closed, assigned to nobody

[2018-05-19 21:20] krichter722 opened #3688 "Package org.primefaces.json declares two copyrights"
Some classes in the package `org.primefaces.json` declare more than one copyright holder, e.g. `Copyright 2009-2018 PrimeTek.` and `Copyright (c) 2002 JSON.org`. That can't be logical from a legal point of view.

This might indicate that a FLOSS library has been copied into the source tree and modified there rather than modifying it outside and declaring a dependency on the modified version.

[2018-05-19 21:33] mertsincan commented on #3686
I removed your sample project. Please see Layout License details; https://www.primefaces.org/layouts/licenses/

[2018-05-20 05:28] vanuatoo commented on #3686
Sorry for accidentally posting a project

[2018-05-20 07:36] tandraschko commented on #3688
maybe it was introduced by the maven plugin to check the license headers.

[2018-05-20 11:54] melloware commented on #3675
I would prefer a runnable sample so I can just download and run mvn jetty:run so use the PrimeFaces Test project and attache the resulting zip would be better.  But i agree with @jxmai this feels like a Jquery 3 issue.

GitHub Clone: https://github.com/primefaces/primefaces-test

[2018-05-21 06:04] madhu-singh opened #3691 "Datatable: frozenColumns not working properly"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-05-21 07:58] martin654 opened #3692 "ui:debug: not working with primefaces.MOVE_SCRIPTS_TO_BOTTOM"
## 1) Environment
- PrimeFaces version: 6.2.4
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: any
- Affected browsers: any

## 2) Expected behavior
ui:debug is working as usual (in forked example use "ctrl+shif

[2018-05-21 08:16] mertsincan commented on #3652
How do you change column widths? Do you use resizableColumns attribute on DataTable? I added multiViewState support to resizeable DataTable on 6.1.10+. Please see; https://github.com/primefaces/primefaces/issues/3046

[2018-05-21 11:40] melloware commented on #3691
PF 6.1RC1 is way old is that the correct version?  If so please upgrade to PF 6.2 and try again.

[2018-05-21 18:18] tandraschko commented on #3692
so the script is not rendered inside a script tag, hm?

[2018-05-22 02:44] kaztanikawa opened #3693 "dataExporter: encoded file name(in Japanese) is unexpected"
## 1) Environment
- PrimeFaces version: 6.2.4
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: payara server 4.1.2.172
- Affected browsers: chrome, FireFox, IE

## 2) Expected behavior

The exported file name

[2018-05-22 02:49] krichter722 opened #3694 "Change transmission of selected row to JSON array"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: ---
- Affected browsers: ---

## 2) Expected behavior

Row keys should be arbitrary objects.

## 3) Actua

[2018-05-22 06:46] mertsincan opened #3697 "Focus does not work as expected when selecting row on selection data table"
Reported By PRO User;

[2018-05-22 06:46] #3697 closed, assigned to mertsincan

[2018-05-22 08:21] huseyinturkmenoglu commented on #3314
Hi,

I don't see any problem.

Could you share your version of primefaces ?
And
Please, you could send your sample code or  create  mvn projet from  : https://github.com/primefaces/primefaces-test

[2018-05-22 09:05] emkatz commented on #3675
Note too that the picklist looks like completely broken after upgrade to JBOSS EAP 7.1.x app server.

[2018-05-22 10:58] #3692 closed, assigned to tandraschko

[2018-05-22 10:58] tandraschko commented on #3692
@mertsincan feel free to port to elite

[2018-05-22 11:13] tandraschko commented on #3675
@emkatz please don't missuse issues for off-topics ;)

[2018-05-22 11:31] #3693 closed, assigned to tandraschko

[2018-05-22 11:31] tandraschko commented on #3693
@mertsincan Also a good fix to port to elite

[2018-05-22 12:16] mertsincan commented on #3472
Could you please try this issue after removing binding="#{datatabletest.dataTable}"  attribute from p:dataTable **or** adding binding="#{datatabletest.htmlDataTable}" attribute to h:dataTable?

For second suggestion(binding="#{datatabletest.htmlDataTable}");
[code]
They have similar behavior.

[2018-05-22 12:30] floriandulzky commented on #3472
Without binding everything works fine.
But in my real application I need the databing. Also I would like to use primefaces features like filter and so on. Because of this I can't switch to h:dataTable.

[2018-05-22 12:31] mertsincan commented on #3472
For this issue, you can use RequestScoped instead of ViewScoped for DatatableTestManagedBean
OR
DataTable datatable = FacesContext.getCurrentInstance().getViewRoot().findComponent("TABLE_CLIENTID") instead of binding="#{datatabletest.dataTable}"

Also, please see; https://myfaces.apache.org/orchestra/myfaces-orchestra-core/component-bindings.html

[2018-05-22 12:34] tandraschko commented on #3472
yep, viewscoped bean binding is broken.

[2018-05-22 12:34] #3472 closed, assigned to nobody

[2018-05-22 13:12] juliocsjesus commented on #244
Try adding:
autoWidth="false" inside OneSelectMenu element and then choose your width in
style="width: yourWidthpx;"

[2018-05-22 13:38] tandraschko commented on #3264
@cnsgithub / @melloware
I'm currently a bit unsure about our changes here.
I currently try my old applications with a SNAPSHOT but i get the exception that disabled values can't be submitted.
The problem is that i create SelectItems "Please Select..." with disabled=true and noSelectOption=true and value null.

This element is selected by default and the user submits the forum -> Exception "Disable

[2018-05-22 13:38] tarpatel opened #3699 "DataTable : Sticky Header Broken"
# IMPORTANT

## 1) Environment
- PrimeFaces version: 6.2.4
- Affected browsers: yes affects all browsers

## 2) Expected behavior
according to the Primefaces showcase once you scroll on a database the header becomes sticky at top of browser page. Unfortunately this happens but the header is not aligned to the column data.

## 3) Actual behavior
along with the sticky header not being aligned with t

[2018-05-22 13:44] tandraschko commented on #3699
Did it work fine in 6.2.3?

[2018-05-22 13:56] tarpatel commented on #3699
Hello, I just tried

6.2.3
6.2
6.1
6.0

and in all cases the exact same broken behavior is being displayed.

[2018-05-22 14:13] tandraschko commented on #3699
then please fork primefaces-test and provide a example. It works fine for me in the showcase (https://www.primefaces.org/showcase/ui/data/datatable/sticky.xhtml).

[2018-05-22 14:26] melloware commented on #3264
Oh I see.  So you have your No Select Option as Disabled.  I wonder if we have to make this more robust?

[2018-05-22 14:29] tandraschko commented on #3264
Maybe, yes.
I think we also need a small refactor, i think the logic itself is a validation logic and just should set the input to invalid instead throwing an exception. (maybe also only required for noselectionoption).

Also if the disabled submitted item is a noselectionoption, it should just display the requiredMessage.

[2018-05-22 16:04] metaxmx opened #3700 "CommandLink: Firefox warning "unreachable code after return statement" for non-ajax CommandLink"
## 1) Environment
- PrimeFaces version: 6.2.4
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 9
- Affected browsers: Firefox 60.0

## 2) Expected behavior

When using a <p:commandLink ajax="false" /> with a <p:fileDownload /> to provide a downloadable File, then a click on the link shoul

[2018-05-22 18:37] TrapoSAMA opened #3702 "p:dock with scrollbar dont work"
Hi!

somebody can tell me if this are fixed in latest version?

 <ui:insert name="bottom">
                <div class="visible-lg visible-md visible-sm" style="height: 50px;">
                    <p:dock halign="center" itemWidth="50" maxWidth="40"
                            model="#{sessionScope['usuario'].menuAplicaciones}" >
                    </p:dock>
                </div>
 </ui:insert>

[2018-05-22 18:45] melloware commented on #3702
Yep fixed in PF 6.2.  See the ticket below...

https://github.com/primefaces/primefaces/issues/1728

Please close the issue.

[2018-05-22 18:51] tandraschko commented on #3702
the issue tracker is no forum!

[2018-05-22 18:51] #3702 closed, assigned to nobody

[2018-05-23 06:05] OBreidenbach commented on #3673
PR https://github.com/primefaces/primefaces/pull/3703
I did create a enum for carrying the rendering value. No need of exceptions or documenting the correct values.
Tell me what you think,

[2018-05-23 06:25] NEOMNI commented on #3652
We use resizableColumns with a self-created column selection dialog to allow the user to save his column selection in the database. We want to extend this to include column sorting and column widths.

[2018-05-23 07:09] herbu123 opened #3704 "layout resize ajax event not working in 6.2"
Hi,

 just moved from 6.0 to 6.2 and it looks like the "resize" event stopped working on layout.
 Did anybody have the same problem and have a fix/explanation??

 Regards,
 herbu

 PS
 in showcase there is no example for resize currently - but it think it used to be there before ....

``

[2018-05-23 07:11] herbu123 opened #3705 "Layout: resize ajax event not working"
Hi,

 just moved from 6.0 to 6.2 and it looks like the "resize" event stopped working on layout.
(tested on chrome and firefox - no error on client/server side - works perfectly fine on 6.0)

 Regards,
 herbu

 PS
1) in showcase there is no example for resize currently - but it think it used to be there before ....
2) forum discussin link: [https://forum.primefaces.org/viewtopic.php?f=3&t=55727](u

[2018-05-23 07:11] #3704 closed, assigned to nobody

[2018-05-23 07:11] herbu123 commented on #3704
double entry by accicent

[2018-05-23 07:24] tandraschko commented on #3705
As the issue template states, we need a full runnable xhtml + bean. Otherwise i will close it as invalid.

[2018-05-23 07:51] huseyinturkmenoglu commented on #3437
I tried this issue. But I don't see any issue from showcase.

(https://www.primefaces.org/showcase/ui/data/datatable/edit.xhtml)

Could you send sample code (https://github.com/primefaces/primefaces-test) and gif/video ?

Greetings,

[2018-05-23 08:10] Treppenhouse commented on #3325
+1

[2018-05-23 08:26] huseyinturkmenoglu commented on #3488
Hi,

You could use this: import javax.faces.validator.ValidatorException;

And you should redesign your validate method (no constructor etc.)

Also, may be alternative, you could examine this example: https://www.primefaces.org/showcase/ui/csv/custom.xhtml

Or you could create a sample project: https://github.com/primefaces/primefaces-test

Greetings,

[2018-05-23 08:28] Treppenhouse commented on #3627
I tested your jsfiddle example and for me it works completely fine!

[2018-05-23 08:40] tandraschko opened #3706 "InputNumber: should render ui-state-error on the wrapper element"
to support styling of inputgroups via Adjacent Sibling Selector

[2018-05-23 08:47] #3706 closed, assigned to tandraschko

[2018-05-23 09:01] thendokhae commented on #244
@juliocsjesus  thanks alot, it works like a charm. was having an issue where the OnSelectMenu resizes depending on the length of labels in it.

[2018-05-23 09:22] denizque opened #3707 "p:datatable - column filtering issue."
DataTable: filterBy column not working properly.
PrimeFaces Version: 6.2.1
Application Server: Jetty
Browsers: Any

parameters used in p:column:
[code]
I am attaching a recorded gif file when you can visually see the problem.

I have a datatable with multiple columns: Product, Product description, vendor part no, supplier, currency, quantity, list price and some more.

Product column contains p:au

[2018-05-23 09:25] tandraschko commented on #3707
Please follow our issue template or the issue will be closed.
This is not a forum here and to replicate  a issue, we need a runnable example.

[2018-05-23 09:30] tandraschko commented on #3437
@HuseyinTurkmenoglu It would be great if you could set the "can't replicate" label for such issues.

[2018-05-23 10:35] msgeissler opened #3709 "OutputLabel: Not show required marker for composite constraints"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: not relevant
- Affected browsers: not relevant

## 2) Expected behavior
Using `@NotNull`, `@NotEmpty` and `@NotBlan

[2018-05-23 10:53] msgeissler opened #3710 "OutputLabel: inconsistent bean validation check"
This is more of a discussion item than a direct issue / bug report, as such I took the liberty of removing most of the issue template.

## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no

## 2) Expe

[2018-05-23 11:04] FlavioSantoro92 commented on #3437
@HuseyinTurkmenoglu in the showcase now works normally because the version of PF is 6.3-SNAPSHOT.
This bug is present in the version 6.2 and lower. In fact, few days ago, when the version on the showcase was 6.2, I tried to go on the last CellEdit of a DataTable, I pressed Tab and double-click anywhere and the whole app crashed.

[2018-05-23 11:22] tandraschko commented on #3709
basically +1 but i would like to see units tests here - maybe you can also outsource the logic to BeanValidationMetadataExtractor

[2018-05-23 11:23] tandraschko commented on #3710
We can't use the class here as we don't have access to hibernate or bean-val 2.0 API.

[2018-05-23 11:34] msgeissler commented on #3710
Ah gotcha, this is still using validation api 1. Didn't think about checking that (now the comment in the code makes sense too).
Do you have any intention of updating to v2+ anytime soon? Maybe this issue can be marked for whatever later release this might be, so the (necessary) changes can be tracked.

How do you feel about checking the package of these classes against string constants as well as

[2018-05-23 11:40] msgeissler commented on #3709
Might take some time before I can implement the necessary changes, but I will keep this on my radar.

If anyone else is interested in the change in the meantime, the OutputLabelRenderer can be overriden using JSF renderer-config in a relatively easy manner.

[2018-05-23 11:45] tandraschko commented on #3710
the problem is that even hibernate had a NoeEmpty/Blank in V1 and we can never import those classes.

[2018-05-23 11:46] SuperMAB commented on #271
You should clear manually your costum filter fields using this JS function:
`PF('yourWidgetVar').unchekAll()`

[2018-05-23 11:47] tandraschko commented on #3710
If those constraints wouldn't exist in Hibernate1.x, we could simply upgrade to validation api 2.x and do a if around (if (validation api 2.x) { ... check for those 2.x constraints })

[2018-05-23 11:48] tandraschko commented on #3710
Thats one of the keypoints for such a library as PF - we are still fully compatible to JavaEE5! And also Spring e.g... So we can't use CDI e.g. for our internall stuff.

[2018-05-23 12:04] melloware commented on #3705
I have confirmed the Layout Resize event is not working.

[2018-05-23 12:08] tandraschko commented on #3705
@melloware If you will fix it, it's ok for me without example, Otherwise a example would be great.

[2018-05-23 12:10] martin654 commented on #3692
Thank you for the fix!

[2018-05-23 12:12] melloware commented on #3705
Fixing it now.

[2018-05-23 12:17] msgeissler commented on #3710
I just quickly checked back up to Hibernate Validator 4.1 (the oldest tag in their GitHub repo). The hibernate validator annotations of [NotEmpty](https://github.com/hibernate/hibernate-validator/blob/4.1/hibernate-validator/src/main/java/org/hibernate/validator/constraints/NotEmpty.java) and [NotBlank](https://github.com/hibernate/hibernate-validator/blob/4.1/hibernate-validator/src/main/java/org

[2018-05-23 12:17] #3705 closed, assigned to nobody

[2018-05-23 12:17] tandraschko commented on #3705
Thanks!

[2018-05-23 12:19] tandraschko commented on #3710
Please note that NotNull works only in combination with InterpretEmptyStringAsNull - so checking @NotNull only doesn't work for all cases.

[2018-05-23 12:21] newk5 commented on #3627
Do the following:
- Choose yy or yyyy from the combobox
- Select a date from 2017
- Click on the input again to change the date
- What date does the calendar popup show now?

[2018-05-23 12:40] msgeissler commented on #3710
Hm, so if InterpretEmptyStringAsNull is set to false it would not show a required marker for the hibernate NotEmpty and NotBlank then.

And ignoring that option would show the required marker for NotNull even though that validation is basically useless with InterpretEmptyStringAsNull turned off. Dang.
Maybe InterpretEmptyStringAsNull == true should be added to the documentation in the context of b

[2018-05-23 12:51] tandraschko commented on #3710
Yep :) Therefore i asked for unit-tests.

It would be great if you can create a issue for the missing documetation with text + where we should add it

[2018-05-23 13:23] paulobing opened #3712 "Timeline: empty when panel collapsed=true -> tabView -> iframe -> timeline"
## 1) Environment
- PrimeFaces version: **6.1 / 6.2**
- Does it work on the newest released PrimeFaces version? **No**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **No**
- Application server + version: **Tomcat 7.0.82**
- Affected browsers: **Chrome 66.0.3359.139**

## 2) Expected behavior
Timeline should r

[2018-05-23 13:28] tandraschko commented on #3712
our delayed rendering, when a component is not visible yet, will never work in a iframe.
So it will be likely a won't fix.

[2018-05-23 13:58] herbu123 opened #3713 "schedule: wrong date/time/dayDelta on eventMove"
Hi,

just move from 6.0 to 6.2. and fund the following bug (on 6.0 everything work fine).

When on the week view one move event exactly horizontally between days (same time) everything works fine. BUT when one change not only a day but also a time (to some later hour) the event date is calculated wrong (and delta day is wrong) - see picture and use the example below

![calendarbug62](https://user-

[2018-05-23 14:02] tandraschko commented on #3713
Again, please reuse our issue template. Also adding the whole bean, with annotations and correctly format your code.

[2018-05-23 14:24] paulobing commented on #3712
In case this should not be fixed, I leave a workaround (very unlikely to have this particular scenario which I'm not a fan of, but who knows? :)):

**In the base page outside the iframe:**
[code]

**Inside the form in the same base xhtml** (displayOpacity0 is css class with opacity:0 just for a nicer rendering without flashing) :
[code]

**Also in the same xhtml, inside the panel, a p:ajax:** (pan

[2018-05-23 14:53] krichter722 opened #3714 "[Documentation] TreeTable: TreeNode.rowKey"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: ---
- Affected browsers: ---

## 2) Expected behavior

Avoid the following confusion.

## 3) Actual behavi

[2018-05-23 15:41] herbu123 commented on #3713
Hello Thomas,

I have update the issue / added the missing code- still - I am pasting the formatted code but on preview it is not coming correctly - hope you can handle

/herbu

[2018-05-23 16:09] tiagojn opened #3715 "InputMask: incorrect handling of optional characters"
## 1) Environment
- PrimeFaces version: **6.3-SNAPSHOT**
- Does it work on the newest released PrimeFaces version? Version? **No, 6.3-SNAPSHOT**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **No**
- Application server + version: **Wildfly Full 12.0.0.Final**
- Affected browsers: **Chromium 66**

## 2) Expect

[2018-05-23 16:33] tiagojn commented on #3715
The PR #3716 fails a test because of the regex generation.
The mask "9?99" should generate the regex: `[0-9][0-9]?[0-9]?` and not `[0-9]([0-9][0-9])?`
Let me know if I should modify the test

[2018-05-23 19:43] tandraschko commented on #3715
@cnsgithub can you check this?

[2018-05-23 21:24] mafaul opened #3720 "Messages: duplicate value on summary and detail if using requiredMesssage attribute"
I like to display details using the p:messages component to give users additional info when issuing faces messages programmatically. But with the showDetail set to true, the detail gets duplicated from the suummary when using the requiredMessage attribute.

When using <p:inputText required="true" requiredMessage="Value Required" ... /> the detail is the same as the summary.

This is also the case

[2018-05-23 21:25] mafaul commented on #3720
https://github.com/primefaces/primefaces/pull/3719
https://github.com/primefaces/primefaces/pull/3718
https://github.com/primefaces/primefaces/pull/3717

[2018-05-24 04:46] cnsgithub commented on #3715
@tiagojn Your PR looks good. From reading the documentation of [jquery.maskedinput](https://github.com/digitalBush/jquery.maskedinput) it was unclear if the number of optional characters is fixed or variable. But you're right, the number of optional characters has to be variable, as you can verify here: https://jsfiddle.net/ojbj1grf/. Thanks for the PR.

[2018-05-24 05:55] #3329 closed, assigned to mertsincan

[2018-05-24 07:24] tandraschko commented on #3720
I understand your case but thats not the root problem. You coudl still overwrite the detail message.

But we can introduce this behavior with a attribute on all message components (message, messages, growl), which says something like "don't display detail if detail equals title". Just need a good name and a new PR ;)

[2018-05-24 07:25] tandraschko commented on #3720
Also one PR for all components in enough next time.

[2018-05-24 07:27] mertsincan opened #3721 "p:selectManyCheckbox with layout="custom" and required="true" not removing "ui-state-error" class by clientside validation"
Reported By PRO User;

[2018-05-24 07:28] #3721 closed, assigned to mertsincan

[2018-05-24 08:18] mafaul commented on #3720
https://github.com/primefaces/primefaces/pull/3722

[2018-05-24 08:22] tandraschko commented on #3720
We need a attribute on the component itself (p:message doThisNewLogic=true) ;) But we also need good ideas for the attribute first. @melloware @cnsgithub @Rapster ideas? :D

[2018-05-24 11:55] tandraschko commented on #3264
Sorry guys but i refactored your code.
I like the mechanism of balusc code more and refactored in a similar way.

Could you please review it and maybe retest it?

[2018-05-24 11:55] #3264 closed, assigned to tandraschko

[2018-05-24 11:57] tandraschko commented on #3676
Maybe fixed or a new PR required - please see my comment in the PR.

[2018-05-24 13:02] georgwolf commented on #3676
Your refactoring solves this issue but reintroduces #3296 as disabled but initally checked values are now lost after submit - this affects grouped and normal SelectCheckboxMenu/SelectManyCheckbox. It also reintroduces #3264 for grouped SelectCheckboxMenu/SelectManyCheckbox as disabled children of a SelectItemGroup can be submitted succesfully now by manipulating hidden input on client side.

[2018-05-24 13:40] #3296 closed, assigned to nobody

[2018-05-24 13:42] tandraschko commented on #3676
Would be great if you could provides ideas to fix those both cases.

[2018-05-24 15:21] msgeissler opened #3723 "[Documentation] Fix BeanValidation Transformation and OutputLabel docu"
The behavior has changed a bit over the last years:

**OutputLabel:**
The OutputLabelRenderer indicateRequired attributes has 3 modes:
false = * will NEVER be shown
true = * will always be shown
auto = the renderer will automactically check if the connected inputfield is >actually< required and render the * if true.
Ifs true when:
- beanValidationAvailableAndEnabled && input.getValueExpression("va

[2018-05-24 15:33] msgeissler opened #3724 "OutputLabel: TRANSFORM_METADATA is ignored"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: not relevant
- Affected browsers: not relevant

## 2) Expected behavior
If I use Bean Validation without setting pr

[2018-05-24 16:20] tandraschko commented on #3724
Sorry, i don't understand your problem. Please try a trunk build.

TRANSFORM_METADATA is completely indepdent from OutputLabelRenderer and will be.

[2018-05-24 16:21] tandraschko commented on #3710
We will leave it for now, there is no reason to change and hibernate + validation spec is 1 still used.
Maybe we can think about it ~2 years.

[2018-05-24 16:21] #3710 closed, assigned to nobody

[2018-05-24 16:24] msgeissler commented on #3724
Hm, maybe it is a misunderstanding with the user guide then.

In the user guide in section 11.4 BeanValidation Transformation it is stated that

hide the required indicator (*)

which makes it look like that this behaviour is also controlled by the bean validation transformation setting. Maybe it should be removed from there if it is not being controlled by it on purpose?

[2018-05-24 16:26] tandraschko commented on #3723
I'm not sure, maybe it's  problem of your understanding, also regarding #3724.

Bean Validation Transformation is something, that transforms annotations of the value binding, before redering the component, into component attributes.
e.g. @Min and @Max is automatically set as a Spinner attribute.

[2018-05-24 16:27] tandraschko commented on #3723
Now lets talk about the logic in the OutputLabelRenderer:

If you add a NotNull/Empty/Blank and BV is enabled, the component will be validated by the bean-validation-api and is therefore >actually< required (without the input-component is set to required=true).
That is was happens when you set indicateRequired=auto, which is the default mode in trunk.

[2018-05-24 16:30] tandraschko commented on #3724
will fix the description in #3723

[2018-05-24 16:30] #3724 closed, assigned to nobody

[2018-05-24 16:30] msgeissler commented on #3723
I am starting to get that feeling as well. I updated #3724 with another comment as to why I think / thought they are related. The required marker for the outputLabel and NotNull requires InterpretEmptyStringAsNull to be turned on. As the required marker behaviour is explicitly mentioned in the transformation settings I assumed they are / should be connected.

With InterpretEmptyStringAsNull turned

[2018-05-24 16:44] tandraschko commented on #3723
updated the description and current, correct, behavior

[2018-05-24 17:37] erickdeoliveiraleal commented on #3715
maybe the same bug as #3644

[2018-05-24 17:50] tiagojn commented on #3715
The PR was updated

[2018-05-24 18:49] MrWilsonMJ opened #3725 "PickList doesn't fire transfer event when tranfering last item form target to source"
When transfering the last item on the terget list to the source list, the transfer event doesn't fire.

[2018-05-24 18:51] tandraschko commented on #3725
Ignore our whole issue template -> invalid

[2018-05-24 18:51] #3725 closed, assigned to nobody

[2018-05-24 19:24] BryanV91 commented on #3648
Additional info:

When I hit F5, remoteCommand is not invoking ajaxStatus (onstart, oncomplete, onsuccess, onerror). But when I hit Ctrl + F5, it works normally.

[2018-05-24 22:08] tandraschko commented on #834
Sample:

`<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>

[2018-05-24 22:08] #834 closed, assigned to tandraschko

[2018-05-24 22:09] tandraschko commented on #3699
No example but it could be fixed after fixing #834 - you can try a build from source.
If still broken, you can create a new valid issue with a example.

[2018-05-24 22:09] #3699 closed, assigned to tandraschko

[2018-05-25 02:28] Mararsh commented on #3588
@cnsgithub  Your notes are correct: Errors may happen if `p:column exportFunction` is not used.
Example, following returned when no stuff of locale defined in p:column:

`
警告:   No suitable xml tag found for org.primefaces.component.column.Column@5055f965
javax.faces.FacesException: No suitable xml tag found for org.primefaces.component.column.Column@5055f965
	at org.primefaces.component.export.XM

[2018-05-25 07:33] mertsincan opened #3726 "SelectManyCheckbox: outputLabel and p:checkbox not linked in a custom Layout"
Reported By PRO User;

[code]

[2018-05-25 07:36] #3726 closed, assigned to mertsincan

[2018-05-25 07:37] herbu123 commented on #3713
Hi Thomas,

I have updated the issue - there is still some formatting wrong but I am
not able to fix it - hope you can manage.
Please recheck and provide feedback as this (in 6.2 corrupted)
functionality is crucial for me (and actually make the whole schedule
component useless)

Best Regards,
herbu

On Wed, May 23, 2018 at 4:02 PM, Thomas Andraschko <notifications@github.com

[2018-05-25 07:47] tandraschko commented on #3713
JFYI: i won't check it. I just validate the issues here, to be in correct format. I'm doing this in my freetime and only check issues to "my related components/parts".
If you need help, i suggest PrimeFaces PRO, fix it by yourself and provide a PR, or wait until someone fixes it for you.

[2018-05-25 12:08] tandraschko opened #3727 "Slider: enhanced spinner support"
slider should set the value correctly the slider, including prefix and suffix handling.
onslideend should trigger the onchange event.

[2018-05-25 12:09] #3727 closed, assigned to tandraschko

[2018-05-25 13:04] tandraschko commented on #3676
i reverted my changes - but will do some cosmetics.
Maybe you can check it later.

[2018-05-25 13:44] Mazur93 opened #3728 "Dropdown showcase does not work"
https://www.primefaces.org/showcase/ui/ajax/dropdown.xhtml

The dropdown showcase does not work on your website

[2018-05-28 08:00] Rapster commented on #2591
I agree with Thomas, `expression` is quite confusing... Please update the documentation also @mertsincan

[2018-05-28 08:45] matsandreassen opened #3729 "Calendar (inline): Time values are incorrectly reset on validation error"
When submitting a form with _inline_ calendar, and a validation error occurs, the _visible_ time values are set to 00:00:00.

The curious thing is that the backend value is set _correctly_.

## 1) Environment
- PrimeFaces version: 6.2.4
- Application server + version: Tested with Tomcat 8.5.27
- Affected browsers: Chrome + Edge, at least

## 2) Expected behavior
The time values are left unaffected

[2018-05-28 10:36] ShivaniSK opened #3731 "SelectOneMenu: For Editable="true", ItemValue not working. Item lable getting displayed instead of ItemValue."
## 1) Environment
- PrimeFaces version: 6.1

## 2) Expected behavior
 SelectOneMenu should store itemValue.
...

## 3) Actual behavior
SelectOneMenu storing itemLabel. With editable="true" attribute it is not working. If i remove it then it works. I want it to work for editable=true also.
..

## 4) Steps to reproduce
Select any value from dropDown.  The userID value should be displayed in the inpu

[2018-05-28 12:19] KarlKnapp opened #3732 "Calendar: Today-button not working if mask="true""
## 1) Environment
- PrimeFaces version: 6.2

- Affected browsers: Firefox, Chromium

## 2) Expected behavior
Current date should be set.

## 3) Actual behavior
Date is showing in the component but is overwritten with the previous value instantly.

## 4) Steps to reproduce

..

## 5) Sample XHTML

<p:calendar mask="true" showButtonPanel="true" />

## 6) Sample bean

..

[2018-05-29 06:48] OBreidenbach opened #3733 "Schedule: Access to Schedule.calculateTimeZone() should at least be 'protected'"
For my project I had to override the method
ScheduleRenderer.encodeEventsAsJSON. In the method I would like to have access to Schedule.calculateTimeZone(). At the moment that is not possible, because access is package protected.
Access should change to protected.
Maybe also the access to Schedule.calculateLocale() should be changed to protected?

[2018-05-29 06:56] OBreidenbach commented on #3733
PR https://github.com/primefaces/primefaces/pull/3734

[2018-05-29 08:08] OBreidenbach opened #3735 "Schedule: dates for lazy loading loadEvents does not consider the TimeZone"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? no, 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: wildfly 10.1
- Affected browsers: firefox, chrome,

## 2) Expected behavior
ScheduleRenderer should take the T

[2018-05-29 08:58] OBreidenbach commented on #3735
PR https://github.com/primefaces/primefaces/pull/3736

[2018-05-29 09:16] OBreidenbach opened #3737 "Schedule: fullcalendar fix date formatting ranges with postfix period characters"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? no, 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: wildfly 10.1
- Affected browsers: firefox, ...

## 2) Expected behavior

Date ranges should render as followed

[2018-05-29 09:25] OBreidenbach commented on #3737
PR https://github.com/primefaces/primefaces/pull/3738

[2018-05-29 09:34] mauritz-lovgren commented on #3732
One possible workaround found until fixed:

[code]

Alternatively, surround with p:fragment (when using complex variant with validators etc...:

[code]

[2018-05-29 12:53] melloware commented on #3731
I think this was already fixed in PF 6.2.   Verify and close please.
See this ticket:  https://github.com/primefaces/primefaces/issues/2862

[2018-05-29 18:48] zieshen commented on #2756
Issue: Getting validation error 'Value is not valid'
JSF:
<h:selectOneMenu id="catId" value="#{adForm.catId}">
                        <f:selectItems value="#{adForm.categories}" var="cat" itemLabel="#{cat.label}" itemValue="#{cat.value}"></f:selectItems>
                    </h:selectOneMenu>
Bean:
List<SelectItem> getCategories(){
...
}

[2018-05-29 19:21] DaniGalicia commented on #2756
Do you speak english or spanish?

[2018-05-29 22:01] glauciosouthier commented on #1843
the same problem occurs for me in primefaces 6.2 (charset ISO-8859-1).
only in the first submit of the p:commandButton with the ajax="false"  charset is wrong.
the subsequent calls works fine.

[2018-05-29 22:52] zieshen commented on #2756
English

[2018-05-30 07:24] OBreidenbach commented on #1817
PR https://github.com/primefaces/primefaces/pull/3739

[2018-05-30 07:33] OBreidenbach commented on #3737
Obsolete because of https://github.com/primefaces/primefaces/issues/1817 upgrading FullCalendar to 3.9.0.

[2018-05-30 07:33] #3737 closed, assigned to nobody

[2018-05-30 08:14] OBreidenbach opened #3740 "[Documentation] Schedule: explain the usage of the extender method"
## 1) Environment
- PrimeFaces version: 6.2

I learned about the extender and how to use it by accident. I just found it mentioned in some github ticket.
So it would be nice, if it could be explained and given an example either in the pdf user-guide or/and in the showcase.
What do you think?
I do know how to provide PRs for the showcase.
But I do not know how to provide content to the user guide b

[2018-05-30 08:22] OBreidenbach commented on #1817
I did add a new attribute for slotLabelFormat and deprecated the axisFormat attribute, because there were already some other deprecated attributes (for Instance: ignoreTimezone).
In my humble opinion all this deprecated attributes should be removed. They refer to FullCalendar attributes already removed. It is confusing if you look at the primefaces and the FullCalendar documentation.

[2018-05-30 08:54] georgwolf commented on #3676
Merged your cosmetics against the fix for including items in a SelectItemGroup

[2018-05-30 15:18] DaniGalicia commented on #2756
Can you share the method getCategories definition and catid declaration

[2018-05-30 15:34] rcroonenberghs opened #3742 "dialog: has no scrollbars, only on ipad"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: wildfly-10.1.0.Final
- Affected browsers: IPAD safari

## 2) Expected behavior
The content inside the dialog is too big to be displayed. So a vertical scrollbar should be show.

## 3) Actual behavior
There is no scrollbar. And when swiping on the device the content of the main page is scrolled, but the dialog stays in view

[2018-05-30 16:48] zieshen commented on #2756
List &lt;javax.faces.model.SelectItem&gt; getCategories(){
List &lt;javax.faces.model.SelectItem&gt; list = new ArrayList<>();
...
SelectItem item = new SelectItem(value.asJsonObject().getJsonNumber("catId"), value.asJsonObject().getString("title"));
            list.add(item);
return list;
}

Long catId;

[2018-05-30 17:45] zieshen commented on #2756
Dani, I found the issue, the problem was with 'value.asJsonObject().getJsonNumber("catId")' value, after converting into long it start working fine.

Thanks for your prompt response and help.

[2018-05-31 09:06] mertsincan opened #3743 "Select all in dataTable with liveScroll not working"
Reported By PRO User;

Header checkbox selects only visible rows and when we scroll down new rows appear non selected. we want header checkbox to select all rows: visible and invisible.
Also the selectedList in the backingBean show only 20 records.

Note: User needs to use <p:ajax event="toggleSelect" ../> to sync server and client.

[2018-05-31 09:10] #3743 closed, assigned to mertsincan

[2018-05-31 09:38] akhilbabu opened #3744 "pop up which confirms the navigation from one page to another"
## 1) Environment
- PrimeFaces version:6.2
- Application server + version: payara
- Affected browsers:All

## 2) Expected behavior
While exiting from one page to another from the menu panel .there  should be an option for  pop up just like onbeforeunload java script which allows to cancel navigation .I tried using @PreDestroy ,But the call is not going through the that .while navigating from other

[2018-05-31 11:40] eliadeini opened #3745 "Turbo Table: Shows scrollbars on Edge and IE11 even though [scrollable] is disabled"
I'm submitting:
[code]

Hi,
I used Turbo-Table with resizable columns and with [scrollable] property set to false and my table was created with unnecessary vertical and horizontal scrollbars on Microsoft Edge and Internet Explorer browsers (Chrome and FireFox handled that correctly)

1) Environment
- PrimeFaces version: 5.2.4
- Also occurs on last version (6-Alpha)
- Application server + version:

[2018-05-31 11:52] melloware commented on #3745
Wrong issues list.  You want PrimeNG:  https://github.com/primefaces/primeng/issues

Please close this ticket and open one there.

[2018-05-31 11:53] melloware commented on #3744
This is a forum question not a bug.  There are many ways to accomplish what you want.  Please close this ticket and use the forum instead:  https://forum.primefaces.org/viewforum.php?f=3

[2018-05-31 11:54] #3744 closed, assigned to nobody

[2018-05-31 13:07] alfonx commented on #3635
Thanks for everybodie's work!
I just wanted to make clear, that this worked fine in PF 6.0 and 6.1 and without this fix it is a regression.
I am applying the patch it locally in production since 2 weeks. It would be great if it could be applied  to 6.2.x branch also...

[2018-05-31 13:09] #3745 closed, assigned to nobody

[2018-05-31 13:49] eliadeini commented on #3745
Sorry. I opened another ticket in PrimeNg.

Thanks,
Eliad

אליעד עיני eliadeini@gmail.com
נייד:  052-2254546

‫ב-31 במאי 2018, בשעה 14:52, ‏‏Melloware ‏<notifications@github.com> כתב/ה:‬

[2018-05-31 14:13] melloware commented on #3635
@mertsincan can you merge this into 6.2.6 Elite release?

[2018-05-31 14:58] jheidlage1222 commented on #1014
So I'm dealing with a similar issue, I have an ajax request being triggered by a commandButton and the tooltip doesn't hide after clicking it and moving away.  At first I used @cnsgithub s solution which worked quite well.  I was about to put a pin in this and move on but I found something.  I can set the hideEvent attrib to two events, one for your standard mouseout but the second for when I clic

[2018-05-31 18:57] stiemannkj1 opened #3746 "core.js: PrimeFaces.getFacesResource() throws TypeError "null" when version parameter is passed to it in a portlet environment"
## 1) Environment
- > PrimeFaces version:

    `6.2`

- > Does it work on the newest released PrimeFaces version? Does it work on the newest sources in GitHub?

    The bug exists in `master` (`6.3-SNAPSHOT`) as well.

- > Application server + version:

    Tomcat (should be reproducible in any app server)

- > Affected browsers:

    Chrome, Firefox (should be reproducible in any browser)

## 2)

[2018-05-31 19:08] stiemannkj1 commented on #3746
This bug causes issues for [PrimeFaces Extensions](https://github.com/primefaces-extensions/core) (cc @tandraschko, @melloware) in portlets, since that project uses `getFacesResource()` with the `version` parameter throughout its JavaScript. We discovered the issue with `pe:documentViewer` specifically, but it's likely a problem with many other components. Here's a list of components which may hav

[2018-05-31 20:21] melloware commented on #3746
Nice work Kyle!  I approve.

[2018-06-03 11:59] #3731 closed, assigned to nobody

[2018-06-03 11:59] ShivaniSK commented on #3731
Issue resolved in 6.2. Thanks

[2018-06-03 12:12] ShivaniSK opened #3748 "SelectOneMenu: Item Value displayed when fetching data instead of item label for editable = "true""
## 1) Environment
- PrimeFaces version: 6.2

## 2) Expected behavior
When fetching data from DB or passing data during page load , selectOneMenu should display ItemLabel.
...

## 3) Actual behavior
When fetching data from DB or passing data during page load , selectOneMenu is displaying itemValue.
..

## 4) Steps to reproduce
In the init() method of bean class, the object is initialized with stati

[2018-06-03 14:14] ShivaniSK opened #3749 "SelectOneMenu: blur event not fired."
## 1) Environment
- PrimeFaces version: 6.2

## 2) Expected behavior
On leaving selectOneMenu, ajax blur event should fire and required message should appear.
...

## 3) Actual behavior
On leaving selectOneMenu ajax blur event not firing.
..

## 4) Steps to reproduce
click on selectOneMenu , don't type anything. Now click on another inputText. No error message appears.
..

## 5) Sample XHTML

[cod

[2018-06-03 15:25] melloware commented on #3748
I think this is a duplicate of #3477 is it not?

@JhookDev already has a PR ready to fix this: https://github.com/primefaces/primefaces/pull/3685

Please verify its the same issue and close this ticket if it is.

[2018-06-03 15:28] melloware commented on #3728
Please report this issue here for Showcase issues: https://github.com/primefaces/showcase/issues

And close this ticket.

[2018-06-03 19:52] #3728 closed, assigned to nobody

[2018-06-04 04:36] ShivaniSK commented on #3748
Yes it is the same issue. Thanks. I'll close this one.
But can you please let me know as to when can I expect this issue to be resolved and fixed? Is there going to be a release soon ?

[2018-06-04 07:02] mertsincan opened #3750 "Keyboard support issue with Checkbox selection on DataTable"
When space bar is pressed, the current row should be added to the selection, so no current selections should be cleared

[2018-06-04 07:05] #3750 closed, assigned to mertsincan

[2018-06-04 07:40] mertsincan opened #3751 "Select all in dataTable with liveScroll and filter"
Reported By PRO User;

[2018-06-04 07:41] #3751 closed, assigned to mertsincan

[2018-06-04 09:05] mertsincan opened #3752 "Add inputGroup support to Autocomplete and Spinner"

[2018-06-04 09:06] #3752 closed, assigned to mertsincan

[2018-06-04 11:20] Javaz81 commented on #3457
**Yes it was just that!!**
[code]
Thanks @melloware ! I've setup a Netbeans project with JSF from entity classes and PrimeFaces and then replace PF 5.0 with PF 6.2... The standard JSF datatable entity page show up the mystical UI Layout center pane initialization error due to Javascript PF('xxx').hide method setted on "Close" button on standard crud modal forms that IDE pre-built on the entity pag

[2018-06-04 11:27] melloware commented on #3748
You can follow that PR by @JhookDev.  It has not been accepted yet as a fix and I do not work for PrimeTek so I can't predict when it will be accepted and released.

[2018-06-04 11:35] melloware commented on #3457
Glad I could help!

[2018-06-04 11:36] melloware commented on #3748
I also should mention if you are a PrimeFaces PRO user you can simply request this ticket be fixed.

[2018-06-04 14:07] #3748 closed, assigned to nobody

[2018-06-04 15:04] christophih opened #3753 "PrimePartialResponseWriter: Nullpointer in line 217"
## 1) Environment
- PrimeFaces version: 6.2.3
- IBM Websphere ApplicationServer 9.0.0.7, Apache MyFaces

## 2) Expected behavior

Line 217 in PrimePartialResponseWriter ends with a NullpointerException in the class BeanUtils, if the value is null. In previous PF versions, there was a null check.

## 3) Actual behavior

If a callback param with value null is set (I don't know why this happens) a Nu

[2018-06-04 23:50] kaztanikawa commented on #3693
Hi.
Would you include this change in the next ELITE release.

[2018-06-05 11:12] cnsgithub opened #3754 "DOM-XSS due to insufficient escaping in PrimeFaces.escapeHTML"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: n/a
- Affected browsers: n/a

## 2) Expected behavior
`PrimeFaces.escapeHTML` should properly escape HTML and HTML

[2018-06-05 11:43] rafaelbomfim opened #3755 "photocam: was blocked by chrome"
I use the p:photocam component of primefaces 6.2, but it stopped working in the last few chrome

the browser displays the following error:

[Deprecation] URL.createObjectURL with media streams is deprecated and will be removed in M68, around July 2018. Please use HTMLMediaElement.srcObject instead. See https://www.chromestatus.com/features/5618491470118912 for more details.

/javax.faces.resource/

[2018-06-05 13:11] mauritz-lovgren opened #3756 "Calendar: dialog changes size when browsing months"
## 1) Environment
- PrimeFaces version: 6.2.4
- Does it work on the newest released PrimeFaces version? No
- Application server + version: JBoss EAP 7.1
- Affected browsers: all major browsers on latest versions

## 2) Expected behavior

Browsing buttons for calendar month should remain in same position regardless of number of days in month when popup pops up above popup button (this happens when

[2018-06-05 13:18] tandraschko opened #3757 "Wrap handleResourceRequest to avoid exception when client closes the connection"
Should actually be done by jsf impls but WE can easily do it

[2018-06-05 13:18] ShivaniSK opened #3758 "Autocomplete: Not working with watermark and placeholder .Mouse click not working after we search through input."
## 1) Environment
- PrimeFaces version: 6.2
- Affected browsers: Internet Explorer IE11

## 2) Expected behavior
Autcomplete selecting of items on mouse click should work all the times
...

## 3) Actual behavior
After typing incorrect value (which is not in the list), then clicking on dropdown and selecting from dropdown (through mouse) does not happen.
..

## 4) Steps to reproduce
-> Open Interne

[2018-06-05 13:22] #3733 closed, assigned to nobody

[2018-06-05 13:24] #3735 closed, assigned to tandraschko

[2018-06-05 13:28] melloware commented on #3758
Instead of using watermark use the native HTML5 "placeholder" attribute of AutoComplete.
[code]

[2018-06-05 13:29] melloware commented on #3758
Also you never mentioned what version of IE you have the issue with?

[2018-06-05 13:35] ShivaniSK commented on #3758
It is IE 11.  Tried using placeholder. Still same issue. When we type some incorrect value which is not in list and click on dropdown, no value gets selected.

[2018-06-05 13:41] melloware commented on #3758
So it sounds like your title is misleading you say "If the watermark component is removed then everything works fine."  So if you remove placeholder="" and watermark does everything work fine?

[2018-06-05 14:01] erickdeoliveiraleal commented on #3755
https://github.com/jhuckaby/webcamjs/issues/276

[2018-06-05 14:06] ShivaniSK commented on #3758
Yes removing placeHolder and watermark, everything works fine.

[2018-06-05 14:10] melloware commented on #3755
Can someone try it with webcam.js 1.0.25 https://github.com/jhuckaby/webcamjs/releases and see if the issue is fixed?

[2018-06-05 14:14] grimmjo opened #3759 "SelectCheckboxMenu: CSS state changes only after second click"
## 1) Environment
- PrimeFaces version: 6.1.1
- Does it work on the newest released PrimeFaces version? no
- Application server + version: Wildfly 9.0.2
- Affected browsers: IE11

## 2) Expected behavior
After clicking a select item in the selectCheckboxMenu, the background of the checkbox of the selected item should be set to the correct colour of the css classes ui-state-default or ui-state-acti

[2018-06-05 18:37] CJBinder opened #3760 "Calendar: Ajax event DateSelect not properly supplying locale specific value"
I am using the p:calendar with mode="inline" and supplying pattern "d-MMM-yyyy HH:mm" and locale of "nl".  I am also using the p:ajax within the component for event "dateSelect" with a process="@this".

If I choose the month of 'mei' and select the 9th day I get the following error "Value '9-May-2018 00:00' could not be understood as a date and time.".  The issue is the component is not properly u

[2018-06-05 18:46] CJBinder commented on #3760
If I debug using inline mode vs non inline I can see the getSubmittedValue from UIInput returns 'mei' when not in line but 'May' when using inline.

[2018-06-06 13:24] iki-hacon opened #3761 "TreeTable: does not support ajax event "contextMenu""
## 1) Environment
- PrimeFaces version: 6.1 / 6.2
- Does it work on the newest sources in GitHub? -> I can not find any hint of this event in the current sources

## 2) Expected behavior
Like Tree and DataTable, TreeTable should also support the ajax event "contextMenu". This is important to react to right click selection with context menu (e.g. to update the menu).

## 3) Actual behavior
Event is

[2018-06-06 13:30] cnsgithub commented on #3754
@tandraschko Could you please add the security label?

[2018-06-06 14:54] CJBinder commented on #3760
We fixed the issue by updating the this.cfg.onselect binding when setting the value for the input field, the date/locale settings needs to be passed into the formatDate function.

[2018-06-06 16:26] tandraschko commented on #3760
PR Welcome ;)

[2018-06-07 00:23] jxmai commented on #3728
This is not a showcase issue. I am investigating :policeman:

[2018-06-07 00:38] jxmai commented on #3728
The regression was caused by 913910867b1b4e081a53972444be07f6c1f41243, on fixing https://github.com/primefaces/primefaces/issues/3654 @tandraschko  Please doublecheck the changes :) The regression is a bit serious

Sample code: (Test sample can also be found on https://github.com/jxmai/Primefaces-Test/tree/PF_3728)

[code]

and

[code]

[2018-06-07 04:43] cnsgithub commented on #3754
PR: https://github.com/primefaces/primefaces/pull/3762

[2018-06-07 08:22] Saturos88 commented on #3391
Vote for this feature too!

[2018-06-07 08:48] shubhangidesh opened #3763 "schedule: Dialog box is not rendered oncomplete of dateSelect event in PF5.3.19."
1) Environment
- PrimeFaces version:5.3.19

2) Expected behavior:
On the p:ajax call inside p:schedule, on completion of dateSelect event PF('myDialog').show() should be displayed.

3) Actual behavior
dialog box is not displayed

4) Sample xhtml
<p:panel style="margin:5px auto;">
	<p:schedule id="mySchedule" widgetVar="mySchedule"
		timeZone="GMT+8" value="#{myscheduleBean.taskList}" draggable="fa

[2018-06-07 11:22] tandraschko commented on #3763
No runnable Sample (bean Missing) andere Not Testes with current Versions -> invalid

[2018-06-07 11:22] #3763 closed, assigned to nobody

[2018-06-07 12:44] CJBinder opened #3765 "Calendar: Inline mode with date/time pattern, sliders don't render properly when supplied with Date object with date and time"
We use the calendar in mode="inline" and use it to allow users to enter valid date ranges.  If the user select a date and lets say changes the time to 10 for hour and 10 for minute, the date supplied is accurate.  However when redisplaying the component the sliders end up with 0 for hour and 0 for minute using the same date.

## 1) Environment
- PrimeFaces version: 6.2.1
- Does it work on the newe

[2018-06-07 12:45] CJBinder commented on #3765
We overrode the following javascript so that it finds the proper hidden field when using mode="inline" and using date with time pattern

The jquery time picker plugin is assuming that we are using an
  alterative field for time, however PrimeFaces is not initalizing that alt
  field so It is only using the date portion. To fix the issue, we had to
  change the $input.val() to get the next componen

[2018-06-07 13:32] adlerpoland commented on #1175
Bug still exists on 6.1. No idea how about 6.2
Pretty annoying but thanks to @cagataycivici solution you can pretty easy fix it.

[2018-06-07 13:38] tandraschko commented on #3761
PR or Sponsoring via PRO is Welcome.

[2018-06-07 14:01] shubhangidesh opened #3766 "schedule: Dialog box is not rendered oncomplete of dateSelect event"
## 1) Environment
- PrimeFaces version: 5.3.19
- it is working in version Primefaces 5.0
- It is not working on version Primefaces 5.3.19

- Affected browsers: All browsers

2) Expected behavior:
On the p:ajax call inside p:schedule, on completion of dateSelect event PF('myDialog').show() should be displayed.

3) Actual behavior
dialog box is not displayed

4) Sample XHTML
<?xml version="1.0" enco

[2018-06-07 15:05] Rapster commented on #1296
Fixed by this commit d3642cb4616b2c2cfc020b2e67fab279a8bb25a5 but it's only available for advanced mode while it should be possible to do the same with skinSimple

[2018-06-07 15:19] tandraschko commented on #3766
Again: Does it work on 6.2?

[2018-06-07 17:51] tandraschko commented on #3759
Currently expected and is the same Problem as here: https://github.com/primefaces/primefaces/issues/3617

[2018-06-07 21:59] Rayssadiel commented on #1662
Will this Issue be fixed? In Primefaces 6.2 problem still occurs.
Just like 'ckirbas' wrote:
"I think he says; columns headertext is shown before column value in summary row when you set reflow="true" attribute to a datatable [...]"

[2018-06-08 04:24] shubhangidesh commented on #3766
No, it is not working on 6.2 as well

[2018-06-08 12:21] CJBinder commented on #3760
Did this get accepted as a Defect?

[2018-06-08 13:37] tandraschko commented on #3760
I could check it if you provide a PR but i dont have to fix it myself.

[2018-06-08 23:31] jcmojj commented on #3056
Any news regarding this issue??

[2018-06-10 05:24] #1811 closed, assigned to nobody

[2018-06-10 11:27] tandraschko commented on #3154
I will revert this, sorry.
As i already said, it's not correct to modify the href in this way.

If you need to reference a JSF view in the same app, just use outcome.
Href it not built for this.

[2018-06-10 11:29] #3506 closed, assigned to nobody

[2018-06-10 11:29] tandraschko commented on #3506
Should be fixed, give it a try.

[2018-06-10 12:24] tandraschko commented on #3753
should be fixed, please give it a try.

[2018-06-10 12:24] #3753 closed, assigned to tandraschko

[2018-06-10 12:28] tandraschko commented on #3766
Sample still not complete and a similar example works fine in the showcase.
Next time fork the primefaces-test project instead of providing incomplete samples. Much easier for everyone.

[2018-06-10 12:28] #3766 closed, assigned to nobody

[2018-06-10 12:29] tandraschko commented on #3749
Seems like it was never implemented -> so "enhancement"

[2018-06-10 12:29] tandraschko commented on #3742
The sample is not runnable. Please fork our primefaces-test project and modifiy it, so we can reproduce your problem.
otherwise it will be closed as invalid.

[2018-06-10 12:31] tandraschko commented on #3740
showcase -> https://github.com/primefaces/showcase

[2018-06-10 12:32] rmpestano commented on #3154
No problem, go ahead, replace href with outcome is doable.

[2018-06-10 12:33] #3707 closed, assigned to nobody

[2018-06-11 00:21] krichter722 opened #3767 "TreeTable: "TypeError: PrimeFaces is null" upon p:treeTable @all update"
## 1) Environment
- PrimeFaces version: 6.2 and 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No. 6.3-SNAPSHOT.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No.
- Application server + version: Payara 5.181
- Affected browsers: Firefox 60.0.1 (64-bit) and Chromium 66.0.3359.1

[2018-06-11 07:31] Rapster commented on #2674
That description is still there, which again I think is misleading the main benefit of this component. Renaming that component into `<p:lazyPanel />` would also help IMO

[2018-06-11 08:42] mertsincan opened #3768 "Minimum value always reset to default on InputNumber"
Reported By PRO User;

[2018-06-11 08:43] #3768 closed, assigned to mertsincan

[2018-06-11 11:33] melloware commented on #3767
I have no doubt its a bug but my question to user's always is why are you using @all ??  Most PF users will tell you to steer clear of @all and either do a non-ajax full page refresh or use something more accurate than @all to update exactly what you want to update and no more no less.

[2018-06-11 13:35] shubhangidesh commented on #3766
I have provided the Bean and xhtml used in our code, our application is built in using client framework which uses primefaces5.3.19 currently. The same code is working on primefaces5.0. But after upgrade it is not displaying dialogbox oncomplete of ajax call in dateSelect event.

[2018-06-11 13:38] melloware commented on #3766
Can you provide a fully working sample using the following Test project:  https://github.com/primefaces/primefaces-test

Simply clone that project and create the smallest working example that will help developers reproduce the problem.

[2018-06-11 19:54] tandraschko commented on #3767
Please fork https://github.com/primefaces/primefaces-test/
I can't simple run your project with the preconfigured primefaces-test, which already contains jetty e.g.

[2018-06-11 19:56] #3754 closed, assigned to nobody

[2018-06-11 19:56] tandraschko commented on #3754
Thanks!

[2018-06-11 19:58] tandraschko commented on #3746
@stiemannkj1 Could you please add a example here how the URL is different in a porlet enviromemt + add maybe 2-3 comments in the PR?

[2018-06-11 20:00] #3676 closed, assigned to nobody

[2018-06-11 20:08] krichter722 commented on #3767
@melloware I found while experimenting with `@all`. It's the only argument to `update` which expands the tree after changing the selected value in the `p:selectOneMenu`. This can be achieved in a different way. It's only a bug report for the devs.

[2018-06-11 20:15] tandraschko commented on #3758
@melloware is it reproducable in the showcase? Otherwise it's not runnable example....

[2018-06-11 20:38] krichter722 commented on #3767
@tandraschko The issue doesn't occur on Jetty. In noticed that it happens with Payara 5.181, but not with 4.1.2.181, i.e. if that's a PrimeFaces bug, you'll have to test it with Payara, please. Is it or should I file a bug for Payara?

[2018-06-11 20:51] stiemannkj1 commented on #3746
@tandraschko, I added the comments to the PR: https://github.com/primefaces/primefaces/pull/3747/files

I included the portlet URL in the reproducer:

[code]

The webapp URL looks like this for reference:

[code]

In a portlet both the resource name and the resource library name are URL parameters (in a webapp the resource name is part of the path). The only other major difference (and the one tha

[2018-06-11 20:58] tandraschko commented on #3767
It's a mojarra bug -> https://stackoverflow.com/questions/49071292/primefaces-and-jsf-2-3-javascript-error-cannot-read-property-error-of-null
Please create a issue on their side.

[2018-06-11 20:58] #3767 closed, assigned to nobody

[2018-06-11 21:00] tandraschko commented on #3767
You could normally just debug it in our HeadRenderer.
We call encodeAll on the resource but they are not rendered in the response in the head tag.
I think it's a bug which was >probably< introcuded while implementing the dynamic resouce loading, which handle the cases when the head is not rendered again.

If you can check the generated response and that the head doesn't contain the JSF resources,