[2020-04-16 17:55] jasonex7 commented on #5697
Hi, I'm agree with @christophs78 in using Lazy Loading as a workaround, because it's a great feature to handle great amount of `TimeLineEvent`'s. I'm using that in a project and it works fine.

[2020-04-16 18:36] blutorange opened #5802 "Schedule: DefaultScheduleModel should not overwrite ID of an event if already set"
Just came across this while working with the schedule component. I was building a DefaultScheduleEvent via the builder and set the ID of the event via [Builder#id(...)](https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/model/DefaultScheduleEvent.java#L262). Then I added the event to the DefaultScheduleModel. This resulted in the ID being different from what I set it

[2020-04-16 18:39] melloware commented on #5802
Similar to this issue: https://github.com/primefaces/primefaces/issues/1039

[2020-04-16 22:17] melloware commented on #5799
@HISeG-ME that sample app i provided above what so you could figure out if it is still an issue in 8.0

[2020-04-17 04:15] saycchai opened #5803 "ChartJs PieChart, how to show the percentage on the pie chart"
PrimeFaces version:8.0

How can I show the percentage in the chartjs pie chart p:pieChart (I think it is very usual that people want to see the percentage in the pie chart component?)
I cannot find any example in the showcase https://www.primefaces.org/showcase/ui/chartjs/pie.xhtml, and seems the java related classes PieChartModel, PieChartDataSet, PieChartOptions do not have such property?

[2020-04-17 10:49] melloware commented on #5803
It is not part of ChartsJS by default however there is a solution.

Source Code: https://github.com/emn178/chartjs-plugin-labels

Demo: https://emn178.github.io/chartjs-plugin-labels/samples/demo/

And to enable this simply use the PrimeFaces ChartJS extender functionality to enable the plugin documented here:  https://primefaces.github.io/primefaces/8_0/#/components/charts?id=extender

[2020-04-17 10:49] #5803 closed, assigned to melloware

[2020-04-17 11:01] melloware opened #5804 "MenuBar/TieredMenu: Incorrect ARIA Roles"
## 1) Environment
- PrimeFaces version: ALL
- Does it work on the newest released PrimeFaces version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: ALL
- Affected browsers: ALL

## 2) Expected behavior

MenuBar, MegaMenu, and TieredMenu should have proper ARIA roles for screenreaders.

[code]

## 3) Actual behavior

These menus currently have this for ARIA w

[2020-04-17 11:24] tandraschko commented on #5027
merged it!
Thanks for the great work, that was a huge effort

[2020-04-17 11:24] #5027 closed, assigned to blutorange

[2020-04-17 11:45] tandraschko commented on #5027
Hut ab!

the js documentation itself is also really good!

[2020-04-17 11:45] melloware commented on #5027
He did an amazing job. So much work here!

[2020-04-17 12:56] MichaelVetter opened #5807 "JQuery: Security Upgrade to 3.5.0 [CVE-2020-11022]"
jQuery 3.5.0 has been released with a security fix:
https://blog.jquery.com/2020/04/10/jquery-3-5-0-released/

CVE: https://nvd.nist.gov/vuln/detail/CVE-2020-11022

[2020-04-17 12:57] melloware commented on #5807
I plan on looking at this one.  This weekend running with Jquery Migrate and checking for issues.

[2020-04-17 13:17] christophs78 commented on #5802
DefaultScheduleModel#addEvent had not been touch since 3.0.
IMO it would make sense to add the isEmpty-check as suggested by @blutorange.
(Had to debug a PF-schedule issue with a colleague yesterday where we wondered why we always have different event-Id´s.)
I may check this and provide a PR.

[2020-04-17 13:19] astappiev opened #5808 "AutoComplete: accept array as a value (in addition to List)"
## 1) Environment
- PrimeFaces version: 8.0

## 2) Expected behavior
- Accept `String[]` as a valid type for a value of the component

## 3) Actual behavior
throws `java.lang.ClassCastException: class java.util.ArrayList cannot be cast to class [Ljava.lang.String; (java.util.ArrayList and [Ljava.lang.String; are in module java.base of loader 'bootstrap')`

Right now the following components accept

[2020-04-17 13:45] fcorneli opened #5809 "SelectOneMenu: NPE in decode method"
setEditable(true) gives an NPE at SelectOneMenuRenderer.decode.
PrimeFaces version: 7.0, 7.0.12, 8.0

[2020-04-17 13:48] melloware commented on #5809
Looks fine on the Showcase. https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml

Can you post your full NPE stacktrace?  Reproduce it with PF Test project?

[2020-04-17 14:04] fcorneli commented on #5809
The issue happens in combination with an empty UISelectItem as follows:
[code]

[2020-04-17 14:05] fcorneli commented on #5809
See:
https://github.com/e-Contract/jsf-crud
for a working example. Within `CRUDComponent` you can play with the above code.

[2020-04-17 14:06] melloware commented on #5809
Can you just create a reproducible example for us?
https://github.com/primefaces/primefaces-test

[2020-04-17 19:07] melloware commented on #5027
I just got caught on 2 PR's because of the new JSDOC validation.  This is going to raise the quality of the JS code greatly.  Once again amazing work @blutorange

[2020-04-17 19:30] melloware commented on #5808
Do you mind putting together a [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help and I want to see your problem before i recommend the right way to fix it.

[2020-04-17 21:36] melloware commented on #5744
Components affected:
[code]

[2020-04-18 10:17] ksreyr opened #5811 "Diagram: Editable connections size 0 after events"
## 1) Environment
- PrimeFaces version: 8.0 maven Repository
- Does it work on the newest released PrimeFaces version? Version?:  Not
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source): Not
- Application server + version: Tested in (Tomcat 8. in work) and (Wildfly 17.0.0 just to pruebe in a control Environment)

-

[2020-04-18 10:41] blutorange commented on #5027
Thanks you're welcome, glad you like it.  @melloware  I made the validation and linter pretty strict for starters. In case a restriction becomes more cumbersome than helpful, we can loosen it, but I thought we'd better start out too strict rather than too lose.

[2020-04-18 12:01] #5802 closed, assigned to christophs78

[2020-04-18 12:09] melloware commented on #5027
Yes lets leave it `strict` it caught me where my params were not right and I didn't have a return statement.

[2020-04-18 17:27] melloware commented on #5807
So the biggest change for security reasons Jquery not longer allows you to do..
[code]
It used to autocomplete for you but now they force you to have proper closing tags on any HTML like..
[code]

This has broken a few PrimeFaces components.

[2020-04-18 17:52] melloware opened #5813 "Tree: DragDrop NPE"
## 1) Environment
- PrimeFaces version: 9.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: ALL
- Affected browsers: ALL

## 2) Expected behavior

Drag and Drop of Tree should work as it does in 8.0 Showcase: https://www.primefaces.org/showcase/ui/data/tree/dragdrop.xhtml

## 3) Actual behavior

[2020-04-18 18:14] #5813 closed, assigned to melloware

[2020-04-18 22:06] melloware opened #5816 "Core: PrimeFaces.version() JS method"
It would be handy to not only know the Primefaces version but also the Jquery version running as well.

Currently `Primefaces.VERSION` will print out 8.0 but many other libraries have something like.

`Primefaces.version();` that prints to the console.

[code]

[2020-04-18 22:21] melloware opened #5817 "JS: Remediate all JQMIGRATE deprecations"
I think the JQMigrate plugin needs to be run against the showcase and all deprecation warnings should be addressed.

https://github.com/jquery/jquery-migrate

A lot of these deprecation are being removed in Jquery 4.0 so fixing them now will alleviate pain later.

- [x] jQuery.fn.bind()/unbind() are deprecated
- [x] jQuery.isArray is deprecated
- [x] jQuery.isFunction is deprecated
- [x] jQuery.tr

[2020-04-20 11:36] #5804 closed, assigned to melloware

[2020-04-20 11:46] melloware commented on #5809
@fcorneli Any word on a small reproducer?

[2020-04-20 12:02] MarkusChur commented on #5804
TieredMenu has proper ARIA roles now.

[2020-04-20 15:40] metaxmx commented on #5429
Hi,
The `transform: scale(1)` creates a different "stacking context" for the HTML element, which will break the `z-index` comparison between elements inside the container element and those outside.
The stacking contexts are explained here (MDN): https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context

In short, if you have a container element wit

[2020-04-20 15:49] metaxmx commented on #5675
Hi, this is a showstopper for us as well, and prevents us from migrating to PrimeFaces 8.0.
I made some analysis, and the problem seems to be, that the new `transform: scale(1)` attribute on the TabView base element creates a new stacking context which basically breaks all z-indexes inside the element.
For details see my explanation #5429 (the original issue that introduced the new `transform: sca

[2020-04-20 16:26] melloware commented on #5675
@metaxmx Thanks for investigating.  I will definitely fix it.    So some history on that is I don't believe PrimeFaces should be using a property all browser don't support and `zoom` is a non W3C property that Firefox complains about.  All the articles say to replace zoom with `transform: scale(1)` as the proper W3C CSS attribute supported by all browsers.

Clearly it has this side effect.  I will

[2020-04-20 16:31] metaxmx commented on #5675
Thanks, melloware!
Your effort is much appreciated!
I believe, they mean if you want "zoom: 3" you can use "transform: scale(3)" in order to change the objects size. But the original "zoom: 1" was only introduced as an Internet Explorer Hack (to give an element "hasLayout", so the old IE layouting would be better - see e.g. https://stackoverflow.com/questions/1794350/what-is-haslayout); we don't a

[2020-04-20 16:43] fcorneli commented on #5809
Tried to replicate it with:
[code]
but this does not give me the NPE. Will try to create an example with a simple custom component.

[2020-04-20 16:52] melloware commented on #5675
OK removed them all and tested in IE11, Edge, Chrome, and Firefox and everything is working.  Seems this was truly an IE8 hack and PF no longer supports IE8.

[2020-04-20 16:53] melloware commented on #5809
excellent.  that would be great.

[2020-04-20 20:35] fcorneli commented on #5809
For the moment I'm only capable of replicating the issue within:
https://github.com/e-Contract/jsf-crud
I've added within `CRUDComponent` a reference to this issue. Hence simply uncomment:
[code]
And run the demo at:
http://localhost:8080/jsf-crud-demo/auto-id.xhtml
to replicate the issue.
BTW: I've stumbled upon another NPE using Column.sortBy. Also documented this within the demo.

[2020-04-20 22:21] melloware commented on #5809
@fcorneli I definitely believe you.  However the reason we ask for a PrimeFaces test project is multiple reasons:

1. We are not debugging your app, we are debugging a problem.

2. An MVCE minimal, complete and verifiable example: https://stackoverflow.com/help/minimal-reproducible-example

3. Using the minimal amount of code to reproduce the problem then allows us to see if it a JSF issue by test

[2020-04-21 04:54] fcorneli commented on #5809
primefaces-test based test is available at:
https://github.com/fcorneli/dynamic-table/tree/5809

[2020-04-21 09:33] MatthiasScherrerFGCZ opened #5819 "TreeTable: Add filter AJAX event"
Feature request

## 1) Environment
- PrimeFaces version: PrimeFaces-8.0
- Application server + version: Mojarra-2.3.13
- OS on the client: Ubuntu 18.04.3 LTS
## 2) Expected behavior
`<p:ajax event="filter"/>` and no error
## 3) Actual behavior
`<p:ajax event="filter"/>` and error _<p:ajax> Event:filter is not supported._

Currently, the TreeTable component can be sorted and filtered. However, only

[2020-04-21 09:47] tandraschko commented on #5819
Your nickname looks like you would like to work on it and provide a PR? :D

[2020-04-21 10:56] #5675 closed, assigned to melloware

[2020-04-21 11:44] melloware commented on #5801
Fixed in Elite 8.0.2

[2020-04-21 11:44] melloware commented on #5695
Fixed in Elite 8.0.2

[2020-04-21 14:27] melloware commented on #5809
Thank you!  Now that I see the error and stack trace the problem is obvious.  Fixed with PR

[2020-04-21 14:34] #5809 closed, assigned to melloware

[2020-04-21 15:19] melloware opened #5821 "PanelMenu: ARIA Accessibility"
PanelMenu is currently not generating correct ARIA roles.

Go to showcase: https://www.primefaces.org/showcase/ui/menu/panelMenu.xhtml

Expand 1 menu and then run Google Lighthouse and it reports.

![image](https://user-images.githubusercontent.com/4399574/79883482-f7f24d00-83c1-11ea-8f11-85e6b326dcfe.png)

[2020-04-21 15:24] melloware commented on #5799
@HISeG-ME I will close for now. We can reopen if you can verify its an issue on 8.0

[2020-04-21 15:24] #5799 closed, assigned to nobody

[2020-04-21 15:30] #5821 closed, assigned to melloware

[2020-04-21 15:37] melloware commented on #5807
Also OWASP Dependency Check plugin is picking this up now. Here is what PrimeFaces Extensions build reports.
[code]

[2020-04-21 16:36] melloware commented on #5808
@astappiev Any update on this?

[2020-04-21 16:43] astappiev commented on #5808
Sorry, will update tomorrow

[2020-04-21 16:58] melloware commented on #5712
Looks like Premium Themes have been updated for 8.0: https://forum.primefaces.org/viewtopic.php?f=3&t=61761

[2020-04-21 17:22] KimGabrielsen opened #5823 "DataTable: No records found not deleted"
1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers:

## 2) Expected behavior
When a new row is added to the table the 'No records found' should be removed

[2020-04-21 19:04] dmatej commented on #5711
Could it be related to this?
https://github.com/payara/Payara/pull/4592
https://github.com/payara/Payara/issues/4435

The bug is in PrimeFaces, but started to be visible after this change in buildParameters method, in Java EE8 respecting varargs: https://github.com/javaee/uel-ri/commit/849ec6859b65f4a500dfc71d5fe4fd60e8bad9c3?diff=split

Originally it was throwing IllegalArgumentException and then

[2020-04-21 19:06] melloware commented on #5711
Nice research. Let me investigate.

[2020-04-21 19:18] tandraschko commented on #5711
i will commit a possible fix, please retest and review

[2020-04-21 19:39] tandraschko commented on #5711
will close it for now, please come back if you have tested it

[2020-04-21 19:49] melloware commented on #5711
This does not fix it for Mojarra or MyFaces.   NPE is still being thrown and in MyFaces nothing happens and the SelectEvent is not called.

[2020-04-21 19:55] tandraschko commented on #5711
then i fixed a completly unrealted bug maybe :D
i will check the testproject now

[2020-04-21 19:58] tandraschko commented on #5711
I wonder what should happen here?

`newJSFManagedBean.handleReturn(org.primefaces.event.SelectEvent)`

i think thats just invalid EL here?

[2020-04-21 20:13] tandraschko commented on #5711
what happens in Mojarra:
we call the Ajax-Listener without arguments (but it actually has a argument) and the JSF/EL-Impl calls the method with null parameter
it should actually trhough a illegal-argument-exception

[2020-04-21 20:17] tandraschko commented on #5711
same happens in MyFaces, it just doesn't rethrow the exception AFAICS

[2020-04-21 20:25] tandraschko commented on #5711
ok to be honest, i'm not sure what the exact problem is

i also dont know if the syntax here is allowed:
`newJSFManagedBean.handleReturn(org.primefaces.event.SelectEvent)`
but if i remove the argument, the listener isn't found

nevertheless, i think PrimeFaces is doing correctly
- it has the correct SelectEvent when invoking AjaxBehaviorListenerImpl
- it always tries to invoke the non-arg-listener

[2020-04-21 21:00] tandraschko commented on #5711
I general we could probably fix it by invoking the listener with the event first but the current codebase is tested since years even in old containers...

Im really not sure....

https://openliberty.io/docs/ref/javadocs/liberty-javaee8-javadoc/javax/el/ExpressionFactory.html#createMethodExpression-javax.el.ELContext-java.lang.String-java.lang.Class-java.lang.Class:A-

What should happen in EL if w

[2020-04-21 21:05] tandraschko commented on #5711
FYI about the fallbacks in AjaxBehaviorListenerImpl.
We have 3 cases for p:ajax listener signature:

void listener()
void listener(AjaxBehaviorEvent)
void listener(CustomEventClass)

[2020-04-21 21:11] dmatej commented on #5711
This is not true, you call directly the listener with an empty array, it throws the ELException and game over.

If I understand specs well (and also jakarta.el/java.el sources):

And the sources - you can never receive IllegalArgumentException directly, it is always wrapped to ELException. Then method with argument is never called:

[code]

[2020-04-21 21:15] dmatej commented on #5711
Currently I am running TCK tests with our temporary fix (4 hours for a single run), I will tell you later. The temporary fix worked with PrimeFaces 5.2 and 8.0, because it throws IAE again like in old EL version, so PF catches it and calls the variant with argument correctly.

[2020-04-21 21:15] tandraschko commented on #5711
Im not sure. The code always worked for normal cases, not sure what is so special about this case.

We call the methodExpression, which has paramTypes.length=1 actually, with a empty array (size = 0).
Our codes assumes sinces ages - and it always worked - that the EL impl would through a MethodNotFound or IllegalArgumentException

[2020-04-21 21:16] tandraschko commented on #5711
I think our code is now fine regarding your change about wrapping the IAE with a ELException (see https://github.com/primefaces/primefaces/commit/e880d5ff6f143a1ffec2a5049e5979afb8fef960)
but the bug here is a different one as the ELException contains the NPE and not a IAE

[2020-04-21 21:30] melloware commented on #5823
If you need this fix right now just add this to your Javascript.
[code]

[2020-04-21 21:31] #5807 closed, assigned to melloware

[2020-04-21 21:31] #5816 closed, assigned to melloware

[2020-04-21 21:34] tandraschko commented on #5711
Here is a plain reflection sample of our case:

[code]

Which clearly throws a IAE. Not sure why JSF/EL just invokes the method with a null value.

[2020-04-22 06:09] commander-hp commented on #5480
Yes, need this also

[2020-04-22 07:10] vonnai opened #5825 "DataTable: fix sort oncomplete callback"
## 1) Environment
- PrimeFaces version: master, latest 8.0, 7.*

## 2) Expected behavior
If sort ajax request is aborted, there is not any error. The problem is in sort function of datatable.js. The oncomplete callback doesn't fail if args is undefined. The second if condition have to check args like the first one.

[2020-04-22 08:06] tandraschko commented on #5711
Yep, i dont think that the EL is correct here:
`newJSFManagedBean.handleReturn(org.primefaces.event.SelectEvent)`

I debugged Tomcat EL Impl and it seems that if AstValue#isParametersProvided returns true (which it does in this case), the params passed to MethodExpression#invoke are ignored.

it works fine for me if you change to:
`newJSFManagedBean.handleReturn`

and add the method signature:
`<c

[2020-04-22 08:06] #5711 closed, assigned to nobody

[2020-04-22 08:10] #5823 closed, assigned to melloware

[2020-04-22 08:23] tandraschko commented on #5705
i can imagine a new context param with exceptions seperated by ,
what would be a good name? @melloware ?

[2020-04-22 08:50] #5825 closed, assigned to nobody

[2020-04-22 08:51] tandraschko commented on #5825
thanks for the PR!

[2020-04-22 09:59] tandraschko opened #5827 "Ajax listener not invoked anymore in Payara 5"
it seems that MethodNotFound / IllegalArgumentException are wrapped inside ELException

Fixed by: https://github.com/primefaces/primefaces/commit/e880d5ff6f143a1ffec2a5049e5979afb8fef960

See https://github.com/primefaces/primefaces/issues/5711 for details

[2020-04-22 10:00] tandraschko commented on #5711
@dmatej i moved the tracking of your issue to: https://github.com/primefaces/primefaces/issues/5827

[2020-04-22 10:07] dmatej commented on #5711
Ok, I will have yet something to say, but I want to avoid confusing you like yesterday ;-)
Investigation continues ... we still have a workaround for PrimeFaces in EL, but it's an ugly hack.

[2020-04-22 10:22] tandraschko commented on #5711
Yep
IMO it better to remove the hack from EL as the EL impl is correct, PrimeFaces wasn't adjusted for EE8 in this corner

i think we will put the fix into 8.0.2, so users can upgrade if they have the same problem

[2020-04-22 10:39] melloware commented on #5705
Here is what OmniFaces does...

[code]

So how about...
[code]

[2020-04-22 11:05] dmatej commented on #5827
So ... I was probably too tired yesterday evening. The bug is a bit different than I originally described, the exception in our use case is not wrapped, but thrown from the application code:

1. AjaxBehaviorListenerImpl.processAjaxBehavior calls listener without args (PF)
2. ReflectionUtil.buildParameters constructs an array respecting target method API (EL)
3. ReflectionUtil.invoke calls the meth

[2020-04-22 11:12] tandraschko commented on #5705
Commit my proposal. Would you like to test it?

[2020-04-22 11:20] melloware commented on #5705
yep will test!

[2020-04-22 11:57] melloware commented on #5705
This works great.  I think it is safe to close this ticket!

[2020-04-22 11:58] tandraschko commented on #5705
thanks!

[2020-04-22 11:58] #5705 closed, assigned to nobody

[2020-04-22 12:41] MatthiasScherrerFGCZ commented on #5819
@tandraschko I can have a look at it :)

[2020-04-22 13:38] jopen-ux commented on #5801
So , for the community edition we have to stay in 7.0 and wait for 9.0 ?

[2020-04-22 13:47] melloware commented on #5801
Yes or subscribe to Elite which is half off right now and be able to download 8.0.2 8.03 etc.

Or take a risk an patch your 8.0 youself with my PR fixes.

[2020-04-22 17:58] schlagges opened #5829 "ColumnToggler: Drop-down appears the second time only on second click"
## 1) Environment
- PrimeFaces version: PrimeFaces-8.0

- Does it work on the newest released PrimeFaces version? Version?
I guess so, it's the actual Showcase

- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
not tested

- Application server + version:
Actual showcase

- Affected browsers:
Chrome:  81.0.4044.11

[2020-04-22 19:06] 123MarkA321 opened #5830 "DatePicker: selectEvent with selectionMode="range" and AJAX Event dateChange not work"
## 1) Environment
- 8.0
- Application Tomcat 9.0.33
https://forum.primefaces.org/viewtopic.php?f=3&t=61731
## 2) Expected behavior
call dateChange event after set correct start - end
## 3) Actual behavior
By the first click of a day. my ArrayList value is empty. By the second click my value is now null
Post in PF forum:
## 4) Steps to reproduce
see 5)
## 5) Sample XHTML
[code]

[2020-04-23 10:10] martinfabry opened #5831 "FileUpload: add parameters for setting tooltips on buttons"
## 1) Environment
- PrimeFaces version: 8.0

## 2) Expected behavior
- We expect to be able to set tooltips for the given buttons on this component. The FileUpload component has 3 buttons - Choose file, Upload and Cancel. Each of these buttons should have a new parameter that sets its tooltip. The "Choose file" button could have 2 parameters per tooltip - before upload and tooltip after upload. Th

[2020-04-23 12:26] melloware commented on #5830
Reproducer:
[pf-5830.zip](https://github.com/primefaces/primefaces/files/4522425/pf-5830.zip)

Run with "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

@123MarkA321 Is what you are saying is when you pick the "first" date you are expecting the array to be filled with 1 date?

@christophs78 I could be wrong but I think this is by design and the range

[2020-04-23 12:26] #5829 closed, assigned to melloware

[2020-04-23 12:37] mauromol opened #5833 "Inplace: switches to output mode even if validation fails when facets are used"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: Tomcat 8.0.39
- Affected browsers: Firefox 75

## 2) Expected behavior
When I have a `p:inplace` with `editor="true"` and nested `f:facet`s for input and output, if I press on the confirm button but validation fa

[2020-04-23 12:49] SimonePadovan commented on #5635
Hi, how can i set the LOCATION header in the response ? thanks

[2020-04-23 12:50] melloware commented on #5833
Reproducible test case:
[pf-5833.zip](https://github.com/primefaces/primefaces/files/4522570/pf-5833.zip)

This issue still exists in 8.0 and 9.0-SNAPSHOT.

[2020-04-23 13:54] 123MarkA321 commented on #5830
I not expecting set first value. i expecting that no call the event DateChange by first click.

The DateChange Event will be fired by first click. I think this event should be fired after set correct range.
Case:
clickFirst date: on my validate method comes empty arrayList
after update...input field is empty.
clickSecond date: on validate method comes now "null" and not the ArrayList<LocalDate> wi

[2020-04-23 13:58] 123MarkA321 commented on #5830
First click:
<img width="43" alt="firstClick" src="https://user-images.githubusercontent.com/64163092/80107362-439c2680-857b-11ea-8ba7-90dee406d59f.png">
Call validate (should not call)
<img width="647" alt="resultValidate1" src="https://user-images.githubusercontent.com/64163092/80107364-4434bd00-857b-11ea-8a50-5776feef664f.png">
<img width="252" alt="secondClick" src="https://user-images.githubu

[2020-04-23 14:11] melloware commented on #5830
OK I understand now. You are OK with the dateSelect when its set just not on the first click when no value is actually set.  I understand.

[2020-04-23 14:11] melloware commented on #5833
@mauromol Can you add this JS code to your javascript in your app.
[code]

[2020-04-23 14:12] 123MarkA321 commented on #5830
Sorry my english is very very terrible ^^ german is better for me :)

[2020-04-23 14:25] christophs78 commented on #5830
Just looked at this too....

`<p:ajax event="dateSelect" listener="#{calendarJava8View.onDateSelect}" update="msgs" />` get´s after each click. First time after only begin-date is selected, second time after begin- and enddate are selected.

With begin-date-only the array is empty. After begin- and enddate it looks Ok:
![grafik](https://user-images.githubusercontent.com/10461942/80110489-06d22e80-

[2020-04-23 14:29] christophs78 commented on #5830
Part of the root cause seems to be `DatePickerRenderer#getConvertedValue`
![grafik](https://user-images.githubusercontent.com/10461942/80110897-7f38ef80-857f-11ea-8c48-a105c43c4261.png)

Maybe we should allow parts.length == 1 and parts.length == 2

[2020-04-23 14:31] 123MarkA321 commented on #5830
I have override in first step the DatePickerRenderer and have add this:
} else if (parts.length == 1) {
          //condition for set from - until with selectEvent AJAX identifier
          range.add(getConvertedValueFromBaseCalendarRenderer(context, component, parts[0]));
        }

But then i become a OutOfBoundsException from DatePikcer in validate process...i ignore the OutOfBounds at the time

[2020-04-23 14:32] 123MarkA321 commented on #5830
getConvertedValueFromBaseCalendarRenderer() is a origin copy because i can not call super.super.getConvertedValue()

[2020-04-23 14:35] christophs78 commented on #5830
Yes, we have to cross-check (at least) this against `DatePicker#validateValueInternal`

[code]

We should think about this a bit longer. And write UnitTests.

Can you provide a PR (including UnitTests) and run regression-tests against all other DatePicker-examples within showcase?

[2020-04-23 14:39] melloware commented on #5830
Couldn't we tackle this another way and not call `dateSelect` in the JavaScript if type == range and parts !===2 ?

[2020-04-23 14:44] 123MarkA321 commented on #5830
My expected behavior is: only fire dateSelect by range after click the second date

[2020-04-23 14:45] 123MarkA321 commented on #5830
range is only valid with 2 dates...so dateSelect for first date is not correct i think

[2020-04-23 14:56] mauromol commented on #5833
Hi @melloware, thanks for the quick feedback. If I try that code in may app, when I click on the "save" button I get this error in Firefox JS console:

    TypeError: this.callBehavior is not a function

The error comes from line:

    this.callBehavior('save', options);

[2020-04-23 15:06] melloware commented on #5830
@123MarkA321  can you add this JS to your JS file.
[code]

This should prevent the `dateSelect` on the first selection.

[2020-04-23 15:10] melloware commented on #5833
Oh sorry you are on 6.2!   Try this JS...
[code]

[2020-04-23 15:17] 123MarkA321 commented on #5830
works fine now. Thx for help

[2020-04-23 15:22] #5830 closed, assigned to melloware

[2020-04-23 15:48] mauromol commented on #5833
`$this.show();` produces `$this is undefined`. Replacing it with `this.show();` (because I guess it's just a typo), I still get:

    TypeError: this.show is not a function

[2020-04-23 16:00] melloware commented on #5833
Sorry was missing one line..
[code]

[2020-04-23 16:23] mauromol commented on #5833
Thank you @melloware, with this code it now works in an acceptable way. There's a "bouncing effect" though: the inplace component is switched to output mode for a moment, then it is brought back to input mode to show validation errors. This bouncing effect doesn't happen when facets are not used. It's not very elegant, anyway for now it is an acceptable compromise for me.

[2020-04-23 20:26] melloware commented on #5833
I think there might be a better way to fix it.

[2020-04-23 21:43] hfluz opened #5836 "Documentation: how to set a default parameter for all components of same type"
## 1) Environment
- PrimeFaces version: 8.0
- Application server + version: jetty (primefaces-test project)

## 2) Expected behavior
If I select 23/04/2020, that should be the date submitted.

## 3) Actual behavior
However, the value submitted is 23/04/0020.

## 4) Steps to reproduce
Set locale to pt_BR, create a LocalDate variable and use it in a Calendar or DatePicker component.

..

## 5) Patch

[2020-04-23 21:44] hfluz commented on #5836
Forgot to mention, but if I set the pattern property, the issue doesn't happen.

[2020-04-23 21:51] melloware commented on #5836
@hfluz can you read through this long thread?

Duplicate of #5696

 I wonder if yours is the same issue.  It sounds like it.

[2020-04-23 22:34] #5833 closed, assigned to melloware

[2020-04-23 22:36] melloware commented on #5833
My final fix is better and there is no flickering it works the way the component was intended.  although it won't do you much good because PrimeTek is no longer patching 6.2.  You would have to override the Inplace component in code to get the real fix.

[2020-04-24 00:00] hfluz commented on #5836
Yes @melloware , it really sounds like the same issue. So it's a JDK bug and unfortunately the only workaround is to add pattern to all calendars/datepickers in all my projects.

I know it won't solve my issue right now, but a suggestion would be the creation of a context param that sets pattern value globally to all date components.

[2020-04-24 11:18] melloware commented on #5836
@hfluz that is not a bad idea.  Somthing like...
[code]

[2020-04-24 11:20] #5789 closed, assigned to melloware

[2020-04-24 14:20] christophs78 commented on #5748
I´m working on this and try to provide a PR.

[2020-04-25 11:40] #5748 closed, assigned to christophs78

[2020-04-25 17:47] melloware commented on #5808
@astappiev I am going to close this ticket if an example Test case is not provided....

[2020-04-25 18:40] astappiev commented on #5808
Sorry 😔
https://github.com/astappiev/primefaces-test/tree/example-autocomplete

Change `rendered` attribute on [this line](https://github.com/astappiev/primefaces-test/blob/example-autocomplete/src/main/webapp/test.xhtml#L34) to get an error.

[2020-04-27 11:28] melloware commented on #5808
Thank you very much for the reproducer.  @tandraschko I am not sure if this should be fixed the way @astappiev did it or it should be done in the Renderer.  The AutoCompleteRenderer definitely hardcodes some assumptions about List.

[2020-04-27 13:50] tandraschko commented on #5808
i'm even not sure if we should support it. If we sould support Arrays, we should even support Sets.

How is this implemented in e.g. in the JSF impls with selectMany components?

[2020-04-27 13:54] tandraschko commented on #5808
As workaround a user can write custom getter/setter or use a converter to convert it.

[2020-04-27 14:07] astappiev commented on #5808
Hi @tandraschko :)

There is small missunderstanding: the List is alredy supported (and it is the only supported type) and I whould like to have a support for arrays.

[2020-04-27 14:09] astappiev commented on #5808
As far as I know, most JSF components supports only arrays.

[2020-04-27 14:13] tandraschko commented on #5808
I think you missunderstood me a bit :D I just said that if we add support for Arrays, we also have to support Sets.

[2020-04-27 17:53] john182 opened #5838 "[Deprecation] Synchronous XMLHttpRequest"
# IMPORTANT
- PrimeFace version
  **7.0**

 [Deprecation] Synchronous XMLHttpRequest
- After ajax load

## 1) Environment
- PrimeFaces version:
 **7.0**
## 2) Expected behavior

update component

## 3) Actual behavior

in console:
jquery.js.xhtml?ln=primefaces&v=7.0:2 [Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's expe

[2020-04-27 17:56] tandraschko commented on #5838
PLEASE always search before creating new a new issue.
https://github.com/primefaces/primefaces/issues/2303

[2020-04-27 17:59] tandraschko commented on #5838
Oh, it should be fixed in 7.0.x.

Ok but we need a small reproducer, otherwise it's invalid and we can't help.

[2020-04-27 18:05] tandraschko commented on #5836
-1
as we would add a contextparam for almost each component attribute then

[2020-04-27 18:08] tandraschko commented on #5836
we had a issue for creating a mechanism to allow default values, configured globbaly in the application for each attribute for each component
thats a better way to go

[2020-04-27 18:15] john182 commented on #5838
Occurs in the autocomplete component

`

    <cc:interface>
        <cc:attribute name="styleClass" />
        <cc:attribute name="idComponente" required="true" />
        <cc:attribute name="label" required="true"/>
        <cc:attribute name="itemLabel" required="true"/>
        <cc:attribute name="completeMethod" required="true"/>
        <cc:attribute name="nomeAtributo" required="true"/>

[2020-04-27 18:19] tandraschko commented on #5827
Reverted it for now - as i said in my comments in the PR:
For me it doesn't make sense that index.xhtml example throws a MethodNotFound (which is the correct behavior of the EL impl IMO) and in the other example, the EL impl invokes the method with a null param instead of throwing a MethodNotFound.
Especially as the MethodExpression was created with a empty params array.

[2020-04-27 18:21] john182 commented on #2394
I have the same problem in version 7.0, but in version 6.2 I didn't have this problem using an autocomplete customization.

`<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http

[2020-04-27 18:24] tandraschko commented on #5838
We always need a runnable example, which consists atleast of a bean + xhtml.
In case of a more complex example, like yours with a composite component, please fork the primefaces-test project: https://github.com/primefaces/primefaces-test

[2020-04-27 19:02] tandraschko commented on #5646
our build now correctly produces another primefaces.jar with "jakarta" qualifier
if a full server is available, we can also relocate other javax imports (doesnt make sense currently as we cant test it)

[2020-04-27 22:38] melloware commented on #5838
@john182 I can't reproduce in the Showcase: https://www.primefaces.org/showcase/ui/input/autoComplete.xhtml

[2020-04-28 08:47] benjaminfoo commented on #1014
This bug is still relevant - tooltips dont survive ajax updates in some cases.

[2020-04-28 09:11] stolp commented on #5838
I am currently seeing the same message while working with my 8.0 application.

I must admit that I never gave much attention to this so I am unsure what may be causing this and how to reproduce it.

I can definitely say that there is no AutoComplete involved in my case.

[2020-04-28 12:27] tim12s opened #5840 "PanelGrid: No way to manage style or identifiers of panelgrid cells except for tabular mode"
Responsive panelgrid does not currently allow specific cells within the grid to be identified or styled uniquely. This capability only exists with the layout='tabular' mode.

This pull requests now enables row and column components to be used with layout='grid' and column components to be used with layout='flex'.

The usefulness of this can be seen in the context of legacy tabular mode which allow

[2020-04-28 14:17] john182 commented on #5838
In showcase not exist example with <cc:clientBehavior name="itemSelecionado" targets="#{cc.attrs.idComponente}" event="itemSelect" />

[2020-04-28 16:13] tuerker opened #5841 "Schedule: Is there a way to format the slot time (first column of the schedule)?"
I am using

[code]
But the first colum of the schedule which show the slot time is always formatted in am/pm style.

Is this a bug or does there exists some other attributes to do that?

## 1) Environment
- PrimeFaces version: 8.0

## 2) Expected behavior
Using the attribute slotLabelFormat I would expect that the slot time of schedule is formatted accordingly.

## 3) Actual behavior
Actually,  th

[2020-04-28 17:20] melloware commented on #5841
Can you put together a small reproducer using Primefaces Test so we can debug it?

[2020-04-28 17:24] melloware commented on #5838
Yes the Select Event example here: https://www.primefaces.org/showcase/ui/input/autoComplete.xhtml

[code]

And I still don't see any warnings in my console?

[2020-04-28 17:41] melloware commented on #1014
@benjaminfoo Your issue might be this one?  https://github.com/primefaces/primefaces/issues/4770

[2020-04-28 17:55] tuerker commented on #5841
You can use the primefaces demo with
[code]

Sorry, I forgot to explicitly mention that you have to look at the day or week view of the schedule. There the first column, which prints the slot time, is always in am/pm style independently whether you use the two attributes above or not.

[2020-04-28 17:56] tuerker commented on #5841
![Screenshot from 2020-04-28 19-54-11](https://user-images.githubusercontent.com/10051373/80520838-4dae9280-898a-11ea-8465-4e3f2fcea211.png)

[2020-04-28 18:12] tandraschko commented on #5808
and as always: it would be great if you can check other components how they support multiple collection types and provide a PR :)

[2020-04-28 18:21] tandraschko commented on #5836
Could someone search for the ticket? :D
Nevertheless, i have a good idea of doing it in PF, even possible for all components. This could be possible feature of a new JSF version as its really useful.

I just wonder about the config format... Should we do it in XML or something?
Actually some default properties might require java code.

[2020-04-28 18:30] melloware commented on #5836
I did a search after you mentioned it and I could not find anything about it.  I looked for "gloabl" and "default value" but the GitHub search is not the best.

[2020-04-28 18:58] tandraschko commented on #5836
ok, nvm
we can simply wrap Application#createCompoment and set default properties there.
However, a user can also simply wrap Application#createComponent.
So we if we dont have some very nice API or other feature, it think its not worth to add a abstraction here.
Maybe just a good docu article

[2020-04-28 19:57] melloware commented on #5836
That is really clever never even thought about doing that.

[2020-04-28 20:08] melloware commented on #5841
I am searching the code and I don't see "slotLabelFormat" being used anywhere in the Renderer or Widget.  So i feel like this is a bug.

[2020-04-28 20:13] tuerker commented on #5841
according to the documentation https://primefaces.github.io/primefaces/8_0/#/components/schedule
 the attribute slotLabelInterval should be an attribute of p:shedule.

[2020-04-28 20:17] melloware commented on #5841
Yep just fixed with PR. it looks like SlotLabelInterval had the wrong "setter" and "slotLabelFormat" was never even used.

![image](https://user-images.githubusercontent.com/4399574/80533485-b4708380-896b-11ea-9f54-2f791e09c66a.png)

[2020-04-28 20:19] tuerker commented on #5841
great. thank you very much.

[2020-04-28 20:21] tuerker commented on #5841
hope that version 9 come out soon? what is the timeline for the next release?

[2020-04-28 21:51] melloware commented on #5841
Unfortunately if you look at the release history here: https://repo.maven.apache.org/maven2/org/primefaces/primefaces/

Its been averaging about once a year in March.  That is why a lot of people subscribe to Elite releases or PRO support to get interim 8.0.1, 8.0.2 releases etc.

Or you can always build from source if you host your own Nexus repository and feel lucky.

[2020-04-28 21:52] #5841 closed, assigned to melloware

[2020-04-29 09:21] svenkatgit opened #5843 "org.primefaces.PrimeFaces: improve robustness"
# 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: tomee 7.1.1
- Affected browsers: Browser independent

## 2) Expected behavior
No NPE should be triggered, if FacesCo

[2020-04-29 09:32] tandraschko commented on #5843
in 9.0 you can use:

[code]

[2020-04-29 09:32] #5843 closed, assigned to nobody

[2020-04-29 13:59] john182 commented on #5838
I clone the project from the repository: https://github.com/primefaces/primefaces-test and simulated the same situation as mine and it didn't happen, so I have no idea what might be happening, the only thing I changed was the version of 6.2 to 7.0 and after this change I have system instability

[2020-04-29 14:05] melloware commented on #5838
Are you sure you aren't having JAR conflicts with  6.2 and 7.0 in your WEB-INF/lib.

Sounds like you have multiple PF on your classpath.

[2020-04-29 14:06] tandraschko commented on #5838
I will close it for now if you dont have a reproducer. I might even unrelated to PrimeFaces. Maybe it comes from a JQuery plugin.
Nevertheless: this warning DOES NOT bring a instability with it, it's just a warning that async is a bit better for performance.

[2020-04-29 14:06] #5838 closed, assigned to nobody

[2020-04-29 14:11] stolp commented on #5838
I wonder if this is relevant:

In https://github.com/primefaces/primefaces/issues/3621 tandraschko commented on May 2, 2018

[2020-04-29 14:14] tandraschko commented on #5838
Yep, that may be the same. But note: we just use a jQuery.append here.

I think JQuery has a good reason to load the JS sync in this case

[2020-04-29 14:14] john182 commented on #5838
Well, for me it becomes relevant, because in version 6.2 there is a bug in the autocomplete scroll that in version 7.0 does not have, however the application is not working correctly.

[2020-04-29 14:15] tandraschko commented on #5838
@john182 but this is for 100% sure unrelated to this warning. Try 8.0 if your scroll problem is fixed. Otherwise create a new issue - but only with forked primefaces-test project to replicate it.

[2020-04-29 14:16] melloware commented on #5838
@john182 I really think you have some other underlying issue going on with your deployment.

[2020-04-29 14:16] stolp commented on #5838
I too see no detrimental effect to my application when this message appears. Your bug might be unrelated to this.

[2020-04-29 14:21] john182 commented on #5838
In addition to the message he is not updating the componets and also he duplicates the css imports

[2020-04-29 14:26] john182 commented on #5838
before update
![image](https://user-images.githubusercontent.com/10438644/80607692-2e584980-8a0c-11ea-9ab5-aafbf54f5088.png)

after update

![image](https://user-images.githubusercontent.com/10438644/80607796-4d56db80-8a0c-11ea-8309-cf1bc3895c47.png)

[2020-04-29 14:34] tandraschko commented on #5838
please create a new issue with a reproducer
its unrelated to the warning and we can't help without a runnable primefaces-test project

AND please try 8.0 before - it might already be fixed

[2020-04-29 14:38] john182 commented on #5838
OK

[2020-04-29 16:48] doleron commented on #2667
While a real solution doesn't come up I'm using the following approach to get the connector index on click/contextmenu events:

[code]
Note that in my case I have arrows in the connections so I ended up with two svg's for each connection. That is why I have the `i+=2` and `i / 2` controls. It is also noteworthly that hover connection styles as provided by `connector.setHoverPaintStyle` can make th

[2020-04-29 23:38] melloware opened #5846 "Accessibility: Hidden Inputs should have aria-hidden="true""
If you run Google Lighthouse on some components like SelectCheckBoxMenu.  its hidden inputs are being found by ScreenReaders when they should be `aria-hidden="true"` or should use `aria-label` if the label is known.

![image](https://user-images.githubusercontent.com/4399574/80657169-ec052b80-8a50-11ea-9214-dfe305e50ea2.png)

Components:
- [x] AutoComplete
- [x] SelectCheckBoxMenu
- [x] SelectOneM

[2020-04-29 23:46] blutorange opened #5847 "Schedule: Issues with "customButtons" when set via the extender"
## Environment
Tried it with PF 8.0, but looking at the source, most likely also present in the current master.

## Issue
I was trying to add [custom buttons](https://fullcalendar.io/docs/customButtons) to the schedule / fullcalendar header, by using the `extender` option of the schedule widget:

[code]

Now that works and adds the button to the center of the schedule header. There is one problem,

[2020-04-30 08:58] fcorneli opened #5848 "Elite: install-primefaces.sh"
Would it be possible to add an `install-primefaces.sh` to the elite ZIPs to ease installation of PrimeFaces within your local Maven repository?

Example:
[code]

But of course it could also install the javadoc and sources, and have the version number fixed.
Right now I guess everybody is doing this manually all the time...

[2020-04-30 09:00] tandraschko commented on #5848
@mertsincan thats up to you, i will close it as not community related.

[2020-04-30 09:00] #5848 closed, assigned to nobody

[2020-04-30 11:52] zhedar opened #5849 "InputNumber: option to disable modifyValueOnWheel"
Since upgrading AutoNumeric in 8.0, there is a new feature enabled by default on p:inputNumber fields. If you focus the field and try to scroll up or down, the value in the field changes.
Here's an example from the Showcase:
![inputnumber](https://user-images.githubusercontent.com/6633403/80706533-c0358480-8ae8-11ea-886b-95bf987838be.gif)

This behavior might be irritating though. If you quickly e

[2020-04-30 12:12] melloware commented on #5849
Thanks for reporting. I will take care of this.

[2020-04-30 12:50] christophs78 commented on #5847
IMO a PR for a better implementation is welcome.

There had been many hands on the fullcalendar-integration. I am the one who migrated this from fullcalendar 3.x to 4.x and switched the model behind from java.util.Date to java.time.LocalDateTime.

There may be JS-code which was written a long time ago for a old fullcalendar - version. When we are able to do the same with less and simpler code (may

[2020-04-30 12:56] svenkatgit opened #5850 "SelectBooleanCheckbox: Disabled selectBooleanCheckbox with itemLabel defined"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version?: No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: tomee 7.1.1
- Affected browsers: Firefox, Chrome, ...

## 2) Expected behavior
If SelectBooleanCheckbox is disabled a

[2020-04-30 13:14] stolp commented on #5850
I verified that this is indeed an issue and will provide a pull request for this.

[2020-04-30 14:48] astappiev opened #5852 "DataExporter: Missing dependency"
1) Environment
- PrimeFaces version: 8.0

## 2) Expected behavior
Dependency documented [there](https://primefaces.github.io/primefaces/8_0/#/gettingstarted/dependencies?id=dependencies) or not used.

## 3) Actual behavior
[code]

[2020-04-30 15:05] melloware commented on #5852
Yeah for exporter you need POI.

https://primefaces.github.io/primefaces/8_0/#/gettingstarted/dependencies?id=dependencies

I will update it to say XML or Excel.

[2020-04-30 15:08] #5852 closed, assigned to melloware

[2020-04-30 16:24] astappiev commented on #5852
No, `org.apache.poi/poi` is alredy added, it provides only `org.apache.poi` package and there is no dependency of anything that includes `org.apache.xmlbeans` package.

[2020-04-30 16:26] astappiev commented on #5852
The required class is provided by `org.apache.xmlbeans/xmlbeans` package. And the package is not used anywhere else in PrimeFaces except this method.

[2020-04-30 16:27] melloware commented on #5852
[code]

That is for Excel and XML.

[2020-04-30 16:31] astappiev commented on #5852
Okay, that makes sense.

Perhaps, this should be added to the documentation (use `poi-ooxml` not just `poi`) for someone like me.

[2020-04-30 17:06] #5849 closed, assigned to melloware

[2020-04-30 21:20] zhedar commented on #5852
What about adding the maven dependencies directly to the documentation as an example? Might be more concise than it is currently.

[2020-04-30 21:23] melloware commented on #5852
Sure just submit w PR. The documentation is easy to update it’s just Markdown files

[2020-04-30 21:27] stolp commented on #5852
The pom.xml already nicely lists the optional dependencies including the supported versions (including comments for their targeted components).

I think the documentation should simply link to https://github.com/primefaces/primefaces/blob/master/pom.xml (or better a tagged version) to have a single point of reference.

[2020-04-30 21:36] zhedar commented on #5852
I guess that would be enough for those looking for the info. The problem with a tagged version might be, that you would need to change that on every release. I guess this would be forgotten quite easily.
On the other side the current pom already lists different dependencies (ancient itext dropped, yay!) and therefore might be confusing.

[2020-04-30 21:44] stolp commented on #5852
You are right, it would for example be https://github.com/primefaces/primefaces/blob/6b6c5b91a9f6e6b37a7a2c5448a2782f38904026/pom.xml for 8.0.

I still think this would be more maintainable than duplicating the content in the documentation.

Is there a release procedure defined which could include steps like this?

[2020-04-30 21:49] zhedar commented on #5852
If you link the tagged version, it might be easier to find and replace though:
https://github.com/primefaces/primefaces/blob/8.0/pom.xml

[2020-04-30 22:33] stolp commented on #5852
This was what I was initially looking for, thanks!

[2020-04-30 22:50] melloware commented on #3268
Reproducer:
[pf-3286.zip](https://github.com/primefaces/primefaces/files/4561763/pf-3286.zip)

Run `mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2020-05-02 13:10] stephanrauh opened #5856 "Tree: improve the dynamic attribute for lazy loading"
Reproducer repo: https://github.com/stephanrauh/primefaces-test.
Pull Request fixing this bug: (following suit)

## 1) Environment
- PrimeFaces version: 8.0 + 9.0-SNAPSHOT (built from source)
- Application server + version: any
- Affected browsers: any

## 2) Expected behavior
I've got a huge data model. According to the documentation, the `dynamic` attribute activates lazy loading. However, loadi

[2020-05-02 14:33] stolp commented on #5850
As this is now assigned to me, is there anything else expected from my side?

[2020-05-02 16:05] blutorange commented on #5847
Yeah, I thought it might be historical. I'll take a look and see if it works out the way I mentioned.

[2020-05-02 17:15] melloware commented on #5850
Nope just waiting to see if anyone else reviews it before I merge it. Thanks for the fix!

[2020-05-03 07:48] #5856 closed, assigned to nobody

[2020-05-03 07:55] #5790 closed, assigned to melloware

[2020-05-03 13:12] blutorange opened #5859 "Core / Ajax: possibility for remote commands to return a promise"
Remote commands are useful in many cases, including when you have some custom JavaScript for client-side interaction and want to call a bean method. Running a remote command works fine - we just have to call the function created in the global window scope.

One thing I found lacking, however, is the ability to register a callback for when the remote command completes. Yes, I can add callback via t

[2020-05-03 14:29] melloware commented on #5859
I say submit it and let us review!

[2020-05-03 14:31] melloware commented on #5859
BTW the JSDOC work you did was amazing.  I am going to update the showcase to now have two links for each component "Documentation" and "JsDoc" links to take you right to the components widget.

[2020-05-03 14:31] #5850 closed, assigned to stolp

[2020-05-03 16:36] tandraschko commented on #5859
ost of the PF users are "oldschool" and avoid JS
if you have some newschool JS API improvements -> +1 from my side

[2020-05-04 08:37] #5847 closed, assigned to blutorange

[2020-05-04 10:02] #5859 closed, assigned to nobody

[2020-05-04 11:38] melloware opened #5861 "ImageCropper: Error on Unix systems"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: Any UNIX OS
- Affected browsers: ALL

## 2) Expected behavior

Cropping should work on UNIX systems.

## 3) Actual behavior

Based on forum post: https://forum.primefaces.org/viewtopic.php?f=3&t=61847

T

[2020-05-04 12:47] #3817 closed, assigned to nobody

[2020-05-04 12:47] melloware commented on #3817
Closing for now unless more people request this functionality.

[2020-05-04 13:09] #5861 closed, assigned to melloware

[2020-05-04 13:48] tandraschko commented on #1077
If someone wants to implement, please do :D
i currently dont have that time

[2020-05-04 14:05] wlhUser commented on #5807
Thanks for fixing this issue.
Is it planned to deliver the fix with PF 8.0.2?

[2020-05-04 14:07] melloware commented on #5807
@wlhUser I have requested that this be fixed for 8.0.2 so I think there is a high likelihood it will be in 8.0.2

[2020-05-04 14:45] tandraschko commented on #5640
i will call it "ignoreComponentNotFound"

[2020-05-04 16:48] tandraschko commented on #5640
commited something
can someone review and do a short test?

[2020-05-04 17:01] melloware commented on #5640
I just reviewed. This change looks excellent!

[2020-05-04 17:08] tandraschko commented on #5640
Thanks!

[2020-05-04 17:08] #5640 closed, assigned to tandraschko

[2020-05-05 12:04] wlhUser commented on #5807
@melloware Thanks for the quick reply. I'm looking forward for 8.0.2

[2020-05-05 14:01] andrewtobilko opened #5864 "SelectBooleanButton: "converter" support"
## 1) Environment
- PrimeFaces version: 9.0

## 2) Expected behavior

It would be nice to have the SelectBooleanButton supporting the converter attribute. Sometimes, it's very useful to have a converter to wrap/unwrap your abstraction over a boolean.

## 3) Actual behavior

The "converter" attribute has no effect on the component.

## 4) Steps to reproduce

1. Create a SelectBooleanButton.
2. Defi

[2020-05-05 14:12] melloware commented on #5864
Feel free to submit a PR for review.

[2020-05-05 14:47] ProfessionProgrammer opened #5865 "DatePicker: JS error with pattern containing blank and showTime="true""
## 1) Environment
- PrimeFaces version: 8.0
- Application server + version: WildFly 19.0.1 and jetty-9.4.27.v20200227
- Affected browsers: All

## 2) Expected behavior

It should work.

## 3) Actual behavior

Throwing Exception on JS console "Uncaught Unexpected literal at position 2"

## 4) Steps to reproduce

click on the datepicker component.

## 5) Sample XHTML

[code]

## 6) Sample bean

[cod

[2020-05-05 14:49] melloware commented on #5865
verified on 8.0 and 9.0 with this reproducer:
[pf-5865.zip](https://github.com/primefaces/primefaces/files/4581459/pf-5865.zip)

[2020-05-05 17:53] christophs78 commented on #5865
Maybe DatePicker dislikes blanks as part of the pattern.

[2020-05-05 19:26] melloware commented on #5865
I wonder if it is related to showTime="true" even though your `pattern` does not contain time.

[2020-05-06 04:51] ProfessionProgrammer commented on #5865
But If we remove this showTime="true" attribute still it is not working, and as per the documentation pattern will work for date format only.
https://primefaces.github.io/primefaces/8_0/#/components/datepicker

[2020-05-06 06:20] christophs78 commented on #5865
generated JS:
`
pf.cw("DatePicker","widget_form_startTime",{id:"form:startTime",inline:false,userLocale:"en",dateFormat:"dd M yy",maxDate:"13 May 2020 08:19",selectionMode:"single",showOnFocus:true,appendTo:"@(body)",rangeSeparator:"\-",timeInput:false,preShow:false,showTime:true,hideOnDateTimeSelect:true});`

[2020-05-06 06:31] christophs78 commented on #5865
It´s related to the blanks. `pattern="dd-MMM-yyyy"` works

https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/datepicker/0-datepicker.js#L722

Function "parseDate" does some "interessting" things , especially the switch in line 807 and following.

[2020-05-06 10:55] mertsincan commented on #5790
Hi @melloware,
Is null check required for PrimeFaces.csp in the following code?
[code]

[2020-05-06 11:06] melloware commented on #5865
OK I feel like we should support spaces if Calendar does and we want people to switch from Calendar to datepicker?

Or if its not going to be supported we should throw a better error message in the console than the current one.  Maybe like a try..catch around the whole parseDate method with a console.error() saying we couldn't parse the date pattern.

Thoughts?

[2020-05-06 11:09] melloware commented on #5790
No it should not be necessary.  The old code did this.
[code]
In Jquery 3.0 world that should be this.
[code]

Which can also be done by creating the Jquery event first like this
[code]

So the PrimeFaces.csp.clickEvent always returns either the normal `click` event or a `click` event with the preventDefault enabled if we are in CSP mode.

[2020-05-06 11:13] frettarenan opened #5866 "dataTable: blockUI stop works after ajax update"
1) Environment
- PrimeFaces version: 7.0
- Application server + version: Spring boot tomcat embed 9
- Affected browsers: All

2) Expected behavior
blockUI should keep working

3) Actual behavior
blockUI stop works after ajax update

4) Steps to reproduce
After loading the page, use the pagination, see that it is working correctly.
But if you create a search, for example, that updates the records w

[2020-05-06 11:15] melloware commented on #5866
Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2020-05-06 12:41] christophs78 commented on #5865
Yep. Plan A is to support blanks.
If this fails plan B would be better error messages. Maybe already on the server during rendering.

[2020-05-06 13:06] mertsincan opened #5868 "Datatable: disabledSelection with initial selection removes active ui-state-active-class to the checkboxes"
Reported By PRO User;

In the 6.2.x version, when we check the checkbox and then we disable it, the checkbox keeps both the “ui-state-active” and “ui-state-disabled” CSS classes.
It doesn’t show the same behavior in the 7.0.x version: if a checkbox is checked it has the “ui-state-active” CSS class, but when we disable it, that class is overridden by the “ui-state-disabled” one.
We expect to have b

[2020-05-06 13:07] #5868 closed, assigned to mertsincan

[2020-05-06 13:40] tobiasdick commented on #4420
Unfortunately, I can still reproduce the insecure behavior using `p:inputText` with the 8.0 release. It appears to be only fixed for `p:inputTextarea` itself.

See the following example based on the PoC by @cnsgithub and https://github.com/primefaces/primefaces-test.

Sample XHTML (`src/main/webapp/test.xhtml`):

[code]

Sample bean (`src/main/java/org/primefaces/test/TestView.java`):

[code]

[2020-05-06 13:46] tandraschko commented on #4420
feel free to create a new issue + PR

[2020-05-06 14:05] tobiasdick opened #5869 "InputText: user input not correctly validated with respect to maxlength"
## 1) Environment
- PrimeFaces version: 8.0

## 2) Expected behavior

p:inputText maxlength should be validated server sided.

## 3) Actual behavior

The validation happens exclusively on the client side. Note that this was already discovered in #4420 but apparently only fixed for p:inputTextarea.
Credits to @cnsgithub for the original discovery and original PoC code.

Note that I cannot serve wit

[2020-05-06 14:50] christophs78 commented on #5865
![grafik](https://user-images.githubusercontent.com/10461942/81191390-435b4c80-8fb9-11ea-83e8-c088f23a303c.png)
`parseDateTime` splits date and time at the first blank. That´s the root source of this issue.
Currently i have no good idea how to fix this. May require some refactoring.

[2020-05-06 14:53] christophs78 commented on #5865
@melloware : Can you change the title of this issue? Something like "DatePicker: date-patterns containing blank and showTime="true" does not work together; throwing Exception on JS Console "Uncaught Unexpected literal at position 2"

[2020-05-06 15:04] melloware commented on #5865
Updated

[2020-05-06 16:18] sasynkamil opened #5871 "Timeline: Does not work with PF CSP enabled"
## 1) Environment
- PrimeFaces version: 8.0.1
- Does it work on the newest released PrimeFaces version? Version 8.0 is correct.
- Does it work on the newest sources in GitHub? Not, also 9.0-SNAPSHOT broken
- Application server + version: used jetty in primefaces-test project
- Affected browsers: all

## 2) Expected behavior
No error in browser sosole, Timeline should work with enabled PF CSP
...

[2020-05-06 16:24] melloware commented on #5871
I will investigate. I use Timeline heavily with CSP but did not run into this issue so your sample must be doing something differently than I am.  I will let you know what I find out.

[2020-05-06 16:56] melloware commented on #5871
Figured it out and documented it on vis-timeline project: https://github.com/visjs/vis-timeline/issues/466

 I will get this fixed for 8.0.2

[2020-05-06 17:11] #5871 closed, assigned to melloware

[2020-05-06 17:51] christophs78 commented on #5865
We have to port this commit from PrimeNG:
https://github.com/primefaces/primeng/commit/6df9fd234dc9e93436cc7449761b0f0b210bd4c4#diff-e55a2a86725724f297dc8079f0e0da5b
Exact same issue.

Sometimes i wish PrimeTek put´s a bit more effort fixing bugs for all PrimeXXX-variations. Not only for one.

[2020-05-06 17:54] melloware commented on #5865
I almost mentioned to check PrimeNG.

[2020-05-07 06:07] christophs78 opened #5874 "SelectBooleanCheckbox: wrong CSS-Class for Label"
## 1) Environment
- PrimeFaces version: 9.0
- Does it work on the newest released PrimeFaces version? Version? 8.0 Yes
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: all
- Affected browsers: all

## 2) Expected behavior
![grafik](https://user-images.githubusercontent.com/1046

[2020-05-07 08:45] stolp commented on #5874
Darn, I will fix this. Thanks for spotting.

[2020-05-07 09:19] OBreidenbach opened #5875 "Schedule: typo in 1-schedule.js, event.url is not used"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? Version? No, 8.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Wildfly 18.0.1
- Affected browsers: FF

## 2) Expected behavior

Click on event opens url in new browser windo

[2020-05-07 09:53] stolp commented on #5874
Adding a reproducer to be double safe here.

[pf-5874.zip](https://github.com/primefaces/primefaces/files/4592184/pf-5874.zip)

[2020-05-07 11:18] #5874 closed, assigned to stolp

[2020-05-07 11:19] #5875 closed, assigned to OBreidenbach

[2020-05-07 11:24] #5865 closed, assigned to christophs78

[2020-05-07 21:48] sasynkamil opened #5878 "ImportEnum does not support inner Enum"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? Not, also 8.0.1 does not work.
- Does it work on the newest sources in GitHub? Not
- Application server + version: Jetty used in primefaces-test project
- Affected browsers: All

## 2) Expected behavior
ImportEnum should support Enum inside the Class.

## 3) Actual behavior
[code]

## 4) Steps to

[2020-05-08 05:56] ProfessionProgrammer commented on #5865
hii,
So you have fixed this issue for 9.0, so are you going to fix this for 8.0 or not?

[2020-05-08 07:10] tandraschko commented on #5878
https://stackoverflow.com/questions/7007831/instantiate-nested-static-class-using-class-forname

[2020-05-08 07:10] #5878 closed, assigned to nobody

[2020-05-08 07:11] tandraschko commented on #5865
@mertsincan can put it in the 8.0.x elite releases but 8.0 is freezed

[2020-05-08 09:27] kaisor6688 opened #5879 "Question: how to maintain DataTable#sortMeta (sortBy/sortOrder) in PF8.0"
Question about DataTable#sortBy.
I want to keep the sortMeta (sortOrder+ sortBy) in backbean.
in PF7.0 sortBy can be saved/restored in Backbean as List<SortMeta>.
how can it be done in PF8.0?

[code]

thanx in advance!

kaisor

[2020-05-08 10:21] sasynkamil commented on #5878
1) Oh, great this '$' is working of course, thank you.
2) Even if I can live with the proposed solution, please rethink if "." shouldn't be supported as well in p:importEnum & p:importConstants. We migrated from OmiFaces and there is this supported. I believe this would be more userfriendly since it would be the same as in java:

[code]

[2020-05-08 10:42] tandraschko commented on #5878
we just rely on the java basics and use Class#forName - therefore we wont add hacks here around #forName

[2020-05-08 11:15] melloware commented on #5879
Use `sortMeta` instead of `sortBy`.

See: https://github.com/primefaces/primefaces/issues/5614

Its a LinkedHashSet so it keeps the order as well.

[2020-05-08 11:15] #5879 closed, assigned to nobody

[2020-05-08 11:16] #5864 closed, assigned to melloware

[2020-05-08 11:16] melloware commented on #5866
@frettarenan I will close the ticket if a reproducer is not created.

[2020-05-08 11:34] frettarenan commented on #5866
Thank you very much for the support, I managed to solve the problem in another way.
[code]
But I couldn't do it automatically:
[code]
The problem happens because in the constructor, the getClientId () method returns the wrong ID, because I don't know in which phase the event should be associated. I tried several methods to make the declaration, but everyone gave several exceptions. Do you have any

[2020-05-08 13:27] kaisor6688 commented on #5879
datatable#sortMeta is not exposed in taglib...

[2020-05-08 13:29] melloware commented on #5879
Going to be fixed with this ticket: https://github.com/primefaces/primefaces/issues/5438

[2020-05-08 13:36] tandraschko commented on #5879
im sure sortMeta works, maybe it's just not visible for the IDE because of missing taglib entry

[2020-05-09 13:16] melloware commented on #5866
I would ask in the forums or Stack Overflow.

[2020-05-09 15:19] melloware opened #5880 "ComponentUtils: Improve getConvertedValue()"
ComponentUtils.getConverted value right now expects a String value.  Which leads most components to cast it as String before passing it to the method.

[code]

Instead of just..
[code]

And letting the method handle the String casting.  Its a cleaner and more flexible method.

[2020-05-09 23:52] Rapster commented on #5808
I'm not really in favor of supporting arrays in PF code base, supporting Collections and Arrays is source of boilerplate code... Simply have a look at `SelecttionFeature#decodeMultipleSelection` and see the number of lines of code added so PF can support arrays. Best example is to check in DataTable 😄

[2020-05-10 10:39] astappiev commented on #5808
I have tried to implement required changes and took `SelectManyCheckbox` as an example but found that it requires hundreds of lines of code from faces implementation to implement `getConvertedValue` to properly detect type of variable and convert value.

I thought that maybe it will make sense to extend `AutoCompleteBase` from `UISelectMany` instead of `HtmlInputText` to reuse the code from faces.

[2020-05-10 12:15] #5840 closed, assigned to tim12s

[2020-05-10 12:16] melloware commented on #5840
Thanks for the PR.  Please progress with a showcase PR.

[2020-05-10 12:17] melloware commented on #5808
Personally its not worth the risk of changing from `HtmlInputText` to `UISelectMany` for two reasons:
1. All of the inherited properties of `HtmlInputText` are expected.
2. AutoComplete is a singular input so extending UISelectMany feels wrong.

[2020-05-10 14:05] melloware commented on #5808
Although I didn't realize AutoComplete has a "multiple" mode now so maybe it could be possible to change to `UISelectMany`

[2020-05-10 14:43] #1151 closed, assigned to christophs78

[2020-05-11 08:04] tandraschko opened #5882 "ThemeSwitcher: Not respecting SelectOne attributes"
http://primefaces.org/showcase/ui/misc/themeSwitcher.xhtml

If you open the first selectOneMenu, the second selectOneMenu is displayed OVER the overlay of the first.

Can someone check it?

[2020-05-11 08:07] tandraschko opened #5883 "Add themes to documentation"
AFAICS we dont have a list of build-it themes and small description in our docs

We should also link the old legacy themes projects with all of the old themes

Would be great if someone of the community can do it

[2020-05-11 08:10] #5880 closed, assigned to melloware

[2020-05-11 10:18] maruTA-bis5 opened #5884 "DataTable: RowEditor cancel edit does not revert AJAX changes"
## 1) Environment
- PrimeFaces version: 8.0 Community
- Does it work on the newest released PrimeFaces version? Version?: No. 8.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source): No. 793d3197dd01f3b8c1c9c7db46ff0df6cda24f29
- Application server + version: WildFly 19.0.0.Final
- Affected browsers: All

## 2) Exp

[2020-05-11 11:14] melloware commented on #5884
I definitely see your issue however I am not quite sure how this will be possible as your `change` event will ALWAYS fire before the `cancel` event and this running an AJAX request to submit your InputText. I think you will have to code something on the `cancel` event to reset your input values in your backing bean.

[2020-05-11 11:22] #5869 closed, assigned to melloware

[2020-05-11 11:26] melloware commented on #5882
I can confirm but what is really strange is it  extends SelectOneMenu and that widget does not have this issue.

[2020-05-11 11:27] melloware commented on #5883
I will handle this one.

[2020-05-11 11:34] tandraschko commented on #5883
Thanks melloware, really appreciate your work on PrimeFaces.

[2020-05-11 20:11] #5882 closed, assigned to melloware

[2020-05-12 07:56] fanste opened #5886 "SelectXXX: Implement hideNoSelectionOption attribute"
## 1) Environment
- PrimeFaces version: 8.0
- Affected browsers: All

## 2) Expected behavior
The JSF standard components support the `hideNoSelectionOption="true|false"` attribute which automatically removes the `f:selectItem` marked with `noSelectionOption="true"`.

Official testcase xHTML: https://github.com/javaserverfaces/mojarra/blob/master/test/servlet30/systest/src/main/webapp/standard/sel

[2020-05-12 08:36] nokiajavi commented on #5790
Good @melloware I have seen a behavior of a component that I think is caused by the p: defaultCommand also, I tell you and if you see that it is related or you do not tell me if I put the issue or not.

the p: selectOneMenu component, when pressing ENTER KEY on a value in the list, the action of the button associated with the defaultCommand is executed, this only happens if the component does not

[2020-05-12 11:07] melloware commented on #5790
I would create a new issue, I think that is a bug in SelectOneMenu not trapping the ENTER key.

[2020-05-12 11:30] ltlBeBoy opened #5887 "ColorPicker: attribute "required" is ignored"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Payara 5.181
- Affected browsers: Firefox, Chrome, ...

## 2) Expected behavior

When the ColorPicker value is initially `null` or an empty string and the attribute `required` is set to `true`, then the validatio

[2020-05-12 12:38] nokiajavi opened #5889 "SelectOneMenu: not trapping the ENTER key."
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Apache Tomcat 9.5
- Affected browsers: All

## 2) Expected behavior
When a form has a p: defaultCommand, the p: selectOneMenu component should not execute the defaultCommand action when you press the ENT

[2020-05-12 12:39] nokiajavi commented on #5790
Created #5889

[2020-05-12 12:48] #5883 closed, assigned to melloware

[2020-05-12 16:57] melloware commented on #5889
Reproducer:
[pf-5589.zip](https://github.com/primefaces/primefaces/files/4617230/pf-5589.zip)

[2020-05-12 17:03] melloware commented on #5887
Reproducer:
[pf-5587.zip](https://github.com/primefaces/primefaces/files/4617286/pf-5587.zip)

[2020-05-12 20:01] ltlBeBoy commented on #5887
I was just wondering whether it is a problem that this component has no attribute `disabled`. For example, if the attribute `required` is set to `true` but the value of the component should be ignored until a condition is met.

[2020-05-12 20:11] melloware commented on #5887
Let me check disabled.

[2020-05-12 20:26] melloware commented on #5887
Can you open another issue asking for ColorPicker to have a disabled attribute please?

[2020-05-12 20:37] ltlBeBoy commented on #5887
OK.
Thank you for this fix!

[2020-05-12 20:54] ltlBeBoy opened #5892 "ColorPicker: attribute "disabled" is missing"
After fixing the issue [ColorPicker: attribute "required" is ignored](https://github.com/primefaces/primefaces/issues/5887) the component should also have the attribute `disabled`.
For example, if the attribute `required` is set to `true` but the value of the component should be ignored until a condition is met.

[2020-05-12 20:54] melloware commented on #5887
No problem. I just want to track adding disabled flag as separate from this original issue. But both will be fixed

[2020-05-12 21:55] melloware opened #5893 "InputRenderer: new createStyleClass method"
We have a lot of code in Renderer's doing very similar things that looks almost exactly like this.

[code]

To me this is a perfect candidate for moving up to `InputRenderer`.  PR to follow.

[2020-05-12 22:30] #5887 closed, assigned to melloware

[2020-05-12 22:30] #5892 closed, assigned to melloware

[2020-05-13 11:27] melloware commented on #5889
If you need this fix right now just add this JS code:
[code]

[2020-05-14 16:03] #5893 closed, assigned to melloware

[2020-05-14 19:26] melloware opened #5897 "DatePicker: Bean Validation Constraints not respecting timezone"
I just ran into this today.  If you have a Javabean with @Future for example.

[code]

Our code in `BeanValidationInputMetadataTransformer` will try to set the `minDate` property if its not already set...
[code]

So if my server clock is UTC but my Datepicker\Calendar has the following timezone set.
[code]

The `mindate` will be set to 18:00 UTC instead of 14:00 EPT because LocalDate.now() is not

[2020-05-14 20:20] firsthour opened #5898 "Calendar: inline calendar in dialog does not work"
## 1) Environment
- PrimeFaces version: 7.0.13
- Does it work on the newest released PrimeFaces version? Version? No for 8.0.1
- Application server + version: Wildfly 18
- Affected browsers: Firefox 76, Chrome 81

## 2) Expected behavior

Opening a p:dialog with a p:calendar with mode=inline should work right away, be able to select a date. This worked as expected in 6.2.6.

## 3) Actual behavior

[2020-05-15 11:36] melloware commented on #5898
Reproducer:
[pf-5898.zip](https://github.com/primefaces/primefaces/files/4634085/pf-5898.zip)

[2020-05-15 11:51] melloware commented on #5898
If you need this fix right now add this JS...
[code]

[2020-05-15 13:27] firsthour commented on #5898
Thanks for figuring this out so quickly.

[2020-05-15 14:03] mauromol opened #5901 "Media: request for StreamedContent not captured by FacesServlet and hence 404 is returned"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? not tested
- Does it work on the newest sources in GitHub? not tested
- Application server + version: Tomcat 8.0.39, Tomcat 8.5.55
- Affected browsers: any

## 2) Expected behavior

I can display a pdf file named TEST.PDF supplied through a `StreamedContent` instance whose `getName()` ret

[2020-05-15 14:15] mauromol opened #5902 "Media: can't specify a StreamedContent through a method call"
Sorry for the brief report, but it's really straight forward.

The same problem described at: https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/795
for `pe:documentViewer` exists for `p:media`: I can't specify its `value` attribute to be a `StreamedContent` instance returned by a method call:

    <p:media value="#{myBean.getMyStreamedDocument(myBean.selectedProduct)

[2020-05-15 14:35] mauromol opened #5903 "Media: late decoding of the value expression does not resolve params and no error log is produced"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? not tested
- Does it work on the newest sources in GitHub? not tested
- Application server + version: Tomcat 8.0.39, Tomcat 8.5.55
- Affected browsers: any

## 2) Expected behavior

I can specify the `p:media` `value` attribute using some previously defined `param` in my facelet.
Or at le

[2020-05-15 15:55] #5897 closed, assigned to melloware

[2020-05-15 15:56] melloware commented on #5902
I think the problem lies here: `org.primefaces.util.DynamicContentSrcBuilder.build` and that is the same call uses by Primefaces Extensions DocumentViewer.

Specifically on this call.
[code]

[2020-05-15 16:57] melloware commented on #5902
@tandraschko I am going to need your expertise here as I looked at ValueExpressionAnalyzer and don't really know what its doing.  Looks like you have been in this file the most.

[2020-05-15 17:24] tandraschko commented on #5903
Thats by desing and therefore a wont fix.
The VE needs to be evaluated in the resource request, not when rendering the view.
Otherwise we would need to evaluate the StreamedContent when rendering the view and store it in the session. This is a no-go for me.

If you need to pass a info, you can pass infos to the resource request via f:param on the graphicImage / media.

[2020-05-15 17:24] #5903 closed, assigned to nobody

[2020-05-15 17:30] tandraschko commented on #5903
If you can debug our code, i think we already throw a exception when evaluating the ValueExpression fails
See StreamedContentHandler ln64

Should we just add a logging statement here? (ln 111)

[2020-05-15 17:30] tandraschko commented on #5902
The current code is and was only built to use ValueExpressions.
Also your code will never work for the same reason as 5903, as the VE will be evaluated in the resource request where no facelets params are available anymore.

So we can only support method-calls without params, which is the same as getter call, which is already supported (ValueExpression vs MethodExpression).

If you need to pass a

[2020-05-15 17:30] #5902 closed, assigned to nobody

[2020-05-15 17:32] tandraschko commented on #5901
no idea where this comes from, the showcase examples are working fine.
Can you try the showcase on tomcat?

[2020-05-15 17:34] tandraschko commented on #5901
And please try 9.0-SNAPSHOT
We should actually close all issues as invalid if not tested with the newest version. WDYT @melloware to change the template here?

[2020-05-15 17:38] mauromol commented on #5903
@tandraschko I'll try to debug and see what happens at that row next weekd, but I'm sure no log at all gets printed to the console. Probably the expression is simply evaluated to `null` because, in my case, `bean` is not a managed bean at that point. But this really doesn't help to understand what is wrong. Maybe a hint in the documentation could help to avoid such errors.

Would you be so kind to

[2020-05-15 17:38] melloware commented on #5901
Not a bad idea.  would prevent reports of issues on PF 5.3 etc?  Or even on 8.0 if its already fixed in 9.0.  Want me to change the template?

[2020-05-15 17:41] tandraschko commented on #5903
you can pass the content of your method param via url like:
https://stackoverflow.com/questions/9320557/how-to-use-pgraphicimage-with-streamedcontent-inside-uirepeat-hdatatable-pda

[2020-05-15 17:43] tandraschko commented on #5901
yes, please
thats really annoying
i would make a hard statement like that we dont support old versions anymore here and that issues must be tested on current versions
Everything else -> PRO user which can sponsor issues for elite versions

[2020-05-15 17:44] melloware commented on #5901
yep i am on it.

[2020-05-15 17:45] mauromol commented on #5901
Please consider that it's not always easy or viable for users to test with the latest version. I already spent a LOT of time to find this problem and open this bug report, I don't think the user should be blamed if he can't test with the latest version. IMHO a report on an older version would still be more useful than no report at all. Also because, in my own experience, if I know I've done nothin

[2020-05-15 17:48] melloware commented on #5901
@mauromol its is incredibly easy to test with 9.0-SNAPSHOT.  That is why we have PrimeFaces Test: https://github.com/primefaces/primefaces-test

Everything is all done for you in a small, simple, and concise reproducer.  You can change 8.0 to
[code]

and you are using the very latest code from 9.0-SNAPSHOT.

[2020-05-15 17:48] tandraschko commented on #5901
@mauromol i dont like to blame anyone here, its just:
i dont have much time to fix issues here in my freetime.
if you create a issue here (which means that you please us to fix it), we can assume that you can replicate it with a simple sample bean + xhtml. In this case you can download primefaces-test, copy your sample there and test it. Thats an overhead of max. 5 mins.
After this we are sure its

[2020-05-15 17:57] mauromol commented on #5901
Creating a webapp from scratch to reproduce the same scenario in which I encounter this problem is not a matter of 5 minutes, even if today we can use Spring Boot. If I were a PF developer I would probably have a set of different application templates to test with, but it's not my case.
I *may* try to do that, but I don't know right now when I will be able to do it. I already spent much more time

[2020-05-15 18:03] mauromol commented on #5901
The first two things that I note are this: that example uses Jetty and Maven. This issue is likely to be bound to Tomcat and I don't have so much experience with Maven (I use Gradle). Yes, many concepts are in common and yes, of course I can learn, but it's always a matter of available time.

Anyway, I'd like to keep the discussion constructive, so I'm not going to continue on this, but please: do

[2020-05-15 18:11] melloware commented on #5901
Reproducer took 5 minutes:
[pf-5901.zip](https://github.com/primefaces/primefaces/files/4636292/pf-5901.zip)

Yes we use Jetty with profiles for MyFaces 2.2 and 2.3 and Mojarra 2.2/2.3 so we can take Jboss/Tomcat/WebSphere/Weblogic out of the equation.  We are trying to prove something is a PF bug not a Tomcat bug.

[2020-05-15 18:20] tandraschko commented on #5901
does it work on jetty?

[2020-05-15 18:22] melloware commented on #5901
No it does not work.  It has same issue.  Because the dynamic resource ends in .PDF it won't serve it from the FacesServlet.

[2020-05-15 18:24] tandraschko commented on #5901
no idea
it seems someone added hack for PDF in the past:
MediaRender ln63

[2020-05-15 18:27] melloware commented on #5901
yep i see it.  looking into it.

[2020-05-15 18:56] melloware commented on #5901
We have this open enhancement ticket: https://github.com/primefaces/primefaces/issues/105

It definitely looks like this used to work:
https://github.com/primefaces/primefaces/issues/4032
https://github.com/primefaces/primefaces/issues/2055

So something about it no longer is working.

[2020-05-15 19:20] tandraschko commented on #5902
@mauromol @melloware i reworked our docu regarding this topic... It took me over 1 hour but i think its worth as its one of the core concepts.
https://primefaces.github.io/primefaces/11_0_0/#/core/dynamiccontent?id=dynamic-content-rendering-via-data-uri-streamfalse-currently-only-supported-by-pgraphicimage

Would be great if you can review + fix spellings and that stuff

[2020-05-15 19:25] #5547 closed, assigned to christophs78

[2020-05-15 19:47] melloware commented on #5902
Done! Nice work.

[2020-05-15 22:13] john182 opened #5905 "Autocomplete: Custom empty result action"
## 1) Environment
- PrimeFaces version: 8.0

## 2) Expected behavior

Possibility to customize, container for no results found, so that it can for example add a button asking the user if he wants to create a new record, EX:

![image](https://user-images.githubusercontent.com/10438644/82100454-0e00de00-96e0-11ea-91b3-2acf5025bafe.png)

## 3) Actual behavior

..

## 4) Steps to reproduce

..

## 5)

[2020-05-16 02:31] lagar84 commented on #5596
@mertsincan this will be fixed on 6.2.28?  I saw on logs that, on page load, autocomplete methods are called because of this bug on 6.2.27

[2020-05-16 12:24] melloware commented on #5905
So the request here is to allow for either `emptyMessage` or an `empty` facet like...
[code]

[2020-05-16 13:18] melloware commented on #5811
@SantiRey have you debugged the issue in the PF code enough to provide a fix?

[2020-05-16 13:18] #5898 closed, assigned to melloware

[2020-05-16 13:19] #5889 closed, assigned to melloware

[2020-05-16 15:12] nokiajavi commented on #5889
Thanks for the code! You're great.

[2020-05-16 20:49] mauromol commented on #5902
My suggested fixes in bold:

[...]

Most importantly: I would insert a reference to this section in all the paragraphs dedicated to the components that use dynamic content rendering: `graphicImage`, `media`, which other?

[2020-05-16 21:43] melloware commented on #5902
I think the reference was added to all the components see GraphicImage for example here: https://primefaces.github.io/primefaces/11_0_0/#/components/graphicimage?id=getting-started-with-graphicimage

[2020-05-17 07:38] 123MarkA321 commented on #5230
I have resolve this problem in Code. After update the DataTable you must reset the scrolloffset state.
[code]

[2020-05-17 12:35] melloware commented on #5230
Thanks to @astranCZ for the reproducer and @123MarkA321 for the hint I have fixed it and submitted this PR: https://github.com/primefaces/primefaces/pull/5908

The trick was 2 things:
1) resetting the scrollOffset back to 0
2) In the JS code after refresh it was still scrolling to row 20 causing a 2nd ajax request on refresh.  Now it resets the table back to the first row on refresh and prevents t

[2020-05-17 22:50] melloware commented on #5901
I actually have no idea how this ever worked.

[2020-05-18 07:13] ohlsen3000 opened #5911 "UIRepeat: NoSuchMethodError in Calendar"
**Describe the defect**
Using a Calendear with a dateSelect behaviour within a UIRepeat causes a NoSuchMethodError when date is selected. It is caused by the attempt to get the FacesContext from the FacesEvent in UIRepeat::broadcast.

**Environment:**
 - PF Version: _8.0_
 - JSF + version: _MyFaces 2.2.10_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
- Use Calenda

[2020-05-18 07:32] tandraschko commented on #5911
I think you use p:repeat here?
Otherwise, please provide the stacktrace. It should be already fixed in trunk.

[2020-05-18 07:33] tandraschko commented on #5901
yep, same for me.
I think it might only work for prefix servlet mapping currently.

[2020-05-18 08:14] pasirr opened #5912 "DatePicker: with pattern has confusing behaviour when editing"
p:datePicker in PrimeFaces-8.0 (and earlier) seem to have a confusing behavior when editing the input field.

In PrimeFaces Showcase, p:datePicker with id="german" (that has pattern="dd.MM.yyy" and locale="de") : enter value 01.01.2020, click between 0 and 1 either on day or month and press Backspace (like user wants to change 01 to 10). -> the cursor jumps to the end of input value and nothing ge

[2020-05-18 08:38] ohlsen3000 commented on #5911
Hi, both, the facelets and the prime UIRepeat show the same error:
`java.lang.NoSuchMethodError: javax.faces.event.FacesEvent.getFacesContext()Ljavax/faces/context/FacesContext;
	at org.primefaces.component.repeat.UIRepeat.broadcast(UIRepeat.java:916)
	at javax.faces.component.UIViewRoot._broadcastAll(UIViewRoot.java:1174)
	at javax.faces.component.UIViewRoot.broadcastEvents(UIViewRoot.java:354)

[2020-05-18 08:40] tandraschko commented on #5911
Please post the stacktrace with ui:repeat and provide the java bean. otherwise the issue is invalid as we can't replicate it.

NOTE: p:repeat is a hacky copy of Mojarra and should never be used on MyFaces.
If your exception is in MyFaces, we cant even fit ix here.

[2020-05-18 08:43] ohlsen3000 commented on #5911
Sorry, my bad. ui:repeat works ok, it was a wrapping p:repeat that caused the problem. Thanks for the hint on that one.

[2020-05-18 08:45] #5911 closed, assigned to nobody

[2020-05-18 08:46] tandraschko commented on #5911
Duplicate of: https://github.com/primefaces/primefaces/issues/5661

Please use the search next time before creating a issue

[2020-05-18 08:48] tandraschko commented on #5901
I would do the following:
remove the ";filename" after the URL, this will never work correctly
+ add showcase example
+ try to replicate what didn't work and why we introduced this hack

[2020-05-18 09:03] ohlsen3000 opened #5913 "Calendar: java.lang.Object not supported"
**Describe the defect**
Evaluating PF8 I started to remove legacy LocalDateConverter for all Calendars, since it is not required anymore. It works so far. But if the the LocalDate value resides in a generic structure it causes the error mentioned above.

**Environment:**
 - PF Version: _8.0_
 - JSF + version: _MyFaces 2.2.10_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the beh

[2020-05-18 09:07] tandraschko commented on #5913
Please ALWAYS try a trunk version before creating a issue.
I remember that we already fixed something regarding generics.

[2020-05-18 10:10] undertherainITA opened #5914 "Schedule: dateSelect event returns the previous day"
**Describe the defect:**
Clicking on a date invokes the dateSelect event but doing getObject returns the previous day.

**Environment:**
PrimeFaces: 8.0
PrimeFaces Extensions: 8.0
JSF: Eclipse Mojarra 2.3.14
Affected browsers: ALL

**To reproduce:**
Steps to reproduce the behavior:
1. Use any schedule component in an XHTML
2. Click on any day on the calendar.

**Expected behavior:**
By clicking on

[2020-05-18 10:17] ohlsen3000 commented on #5913
Just checked current master (9.0-SNAPSHOT), same problem there.

[2020-05-18 10:17] tandraschko commented on #3627
@christophs78 could you do us a favor - if you the time - to go through all p:calender tickets and check if they are fixed in p:datePicker? If yes, we should close it. p:calendar is something like deprecated since p:datePicker.

[2020-05-18 10:19] tandraschko commented on #5913
@christophs78 would you like to check this?
i think we cant fix it easily. We would need to get the parent field etc etc.
Mabye its better to introcude a attribute, to pass the type. like valueType="....LocalDate"

[2020-05-18 10:29] markusg80 commented on #3627
I think you cannot stop development of calendar component for version where it is not deprecated. Specialy if you not have same features in datepicker like in calendar. For example my issue #5060 is still not merged to the 8.0 branch. So i can not switch to Datepicker so long i not have this feature. So in this case you can deprecate calendar only in upcoming release abd you still have to fix bugs

[2020-05-18 10:45] tandraschko commented on #3627
Yep, i understand you.
But probably nobody will fix this 2 years old issue. Also wouldnt it be better to invest time in datePicker , instead of fixing jquery ui bugs?

[2020-05-18 11:44] melloware commented on #5912
Confirmed this is still happening in 9.0-SNAPSHOT as well

[2020-05-18 11:56] #3108 closed, assigned to nobody

[2020-05-18 11:57] tandraschko commented on #3108
Both FileDownload and MonitorUpload uses the following cookie pattern now:

primefaces.download + viewId

and

the contextPath is the cookiePath now

[2020-05-18 12:01] melloware commented on #5914
Hmm I can't reproduce on 9.0-SNAPSHOT.  Here is what I get when I clicked on May 12, 2020.

Browser send back ISO `2020-05-12T04:00:00.000Z`

Which in turn gets converted using the Schedule's timezone
[code]

Result converted to GMT+1 as LocalDateTime: `2020-05-12T05:00`

Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/pri

[2020-05-18 14:38] undertherainITA commented on #5914
I used the 8.0 community.
This code:

[code]

is already back the previous day.
The IDENTIAL code on the 7.x version that I used before works perfectly.
The bug was filed with 8.0 in my opinion.

[2020-05-18 16:07] melloware commented on #5914
I can't reproduce.

Can you provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project?  It is the only way developers can debug your problem to help.

[2020-05-18 16:45] undertherainITA commented on #5914
Done.
I added the necessary instructions to TestView.java and test.xhtml.
The problem is clearly visible, if I click on any date in the ldt variable the previous date is passed.
Here are the 2 files to simply replace the 2 provided in the PrimeFaces Test project:

**test.xhtml:**
[code]

**TestView.java:**
[code]

[2020-05-18 17:08] melloware commented on #5914
Attached is your reproducer:
[pf-5914.zip](https://github.com/primefaces/primefaces/files/4645517/pf-5914.zip)

I added 2 System.out.println statements:
[code]

When I click on May 07, 2020 I get the correct date and your +1 makes it incorrect at May 08.
[code]

[2020-05-18 17:08] christophs78 commented on #5912
Must be related to the client-side-JavaScript of DatePicker. But i do not think it´s direct related to the locale. (IMO client-side JS does not have „real“ knowledge of the locale. A bit simplified it only knows which localized labels to show for weekdays and monthnames.)
It may be related to specific patterns.

[2020-05-18 17:14] christophs78 commented on #5913
I will look at this within the next week or so.
During our iterations between 7 and 8 we had something like the valueType for some time. But we removed it because we thought/hoped we dont need it. I will look how easy/hard it´s with our current codebase to re-introduce such an attribute.

[2020-05-18 17:24] christophs78 commented on #3627
@tandraschko: I will try to check the old Calendar-issues within the next few weeks against DatePicker.

[2020-05-18 17:24] undertherainITA commented on #5914
This is my click on 07 May 2020 (I swear I clicked on 7):

[code]

Changing Primefaces from 8.0 to 7.0 in pom.xml (obviously I get a date and not a LocalDateTime):

[code]

Maybe I found the problem: going from 8 to 7 of Primefaces the calendar changes the position of the days, so where in Primefaces 8 I see 8 May in Primafaces 7 I see 7 May, this is because I have local IT.
If set locale = "en" i

[2020-05-18 17:59] melloware commented on #5914
So the Javascript in the browser does this
[code]

Your .toISOString() must be sending back `2020-05-06T23:00` which is not right.  So its something with your browser timezone.

[2020-05-18 18:01] christophs78 commented on #5912
https://primefaces.org/primeng/showcase/#/calendar does not seem to have this issue. Maybe there is some fix for PrimeNG we can backport.

[2020-05-18 18:12] undertherainITA commented on #5914
Well I don't know what to say at this point.
I have tried it on multiple PCs and on multiple browsers and the error is always the same.
If I put Primefaces 7.0 the error disappears so management with IT does not work properly.
I don't know what to say, before you didn't use that JS method?

[2020-05-18 18:26] melloware commented on #5914
ok well between 7.0 and 8.0 the entire FullCalendar plugin which schedule is based on was upgraded.

Here is the info about FullCalendar dateClick: https://fullcalendar.io/docs/dateClick

[2020-05-18 18:28] melloware commented on #5914
Also found this stack overflow about `toIsoString` https://stackoverflow.com/questions/40803599/momentjs-toisostring-result-is-different

[2020-05-18 18:35] pauloalexandre3d opened #5915 "[Question] Tree Object with checkbox selection and context menu."
Hi @brains,

I have a Tree with checkbox selection and context menu.
When I right-click to see the context menu, the checkbox is selected automatically.
Could you tell me if I can avoid this behaviour?
Thus, enabling the checkbox only with left-click?

Thank you!

[2020-05-18 18:51] melloware commented on #5914
I see the problem now.

The date in the JS file is `05-07-2020 00:00`.  And toIsoString is respecting your browser timezone which is GMT +1 and making it `05-06-2020 23:00`

Can you try this reproducer on your machine please:
[pf-5914.zip](https://github.com/primefaces/primefaces/files/4646097/pf-5914.zip)

[2020-05-18 18:58] tandraschko commented on #5915
Questions -> forum

[2020-05-18 18:58] #5915 closed, assigned to nobody

[2020-05-19 01:38] doleron opened #5917 "DefaultStreamedContent: getStream() throws NullPointerException if stream is null"
**Describe the defect**
The current implementation of `DefaultStreamedContent.getStream()`:
[code]
throws `NullPointerException` if the `stream` attribute inside `DefaultStreamedContent` is `null`.

**Reproducer**

**Environment:**
 - PF Version: 8.0 from current source

**To Reproduce**

[code]

**Expected behavior**
`DefaultStreamedContent.getStream()` should return `null` instead of throws `Nul

[2020-05-19 07:17] #5917 closed, assigned to doleron

[2020-05-19 08:24] tandraschko commented on #3841
works fine for me with master

[2020-05-19 08:24] #3841 closed, assigned to nobody

[2020-05-19 08:29] tandraschko commented on #3425
i dont think we cant do a easy fix here. Something like the linked workarounds should be placed inside the webapplication, not in PrimeFaces.

Will close it for now.

[2020-05-19 08:29] #3425 closed, assigned to nobody

[2020-05-19 08:32] tandraschko commented on #3863
@melloware could you retest with the newest version?

[2020-05-19 08:33] tandraschko commented on #5827
Will close it for now without further feedback.

[2020-05-19 08:33] #5827 closed, assigned to tandraschko

[2020-05-19 08:38] tandraschko commented on #5779
This is how JSF validation works.
I think we can make it work but its more like an enhancement as it was never implemented to support it.

Sponsoring via PrimeFaces PRO would be great, it think it's not an easy task.

[2020-05-19 08:46] #235 closed, assigned to cagataycivici

[2020-05-19 10:44] undertherainITA commented on #5914
Yes, I hadn't noticed the timetable before you pointed it out to me.
At the moment I solved by adding 1 hour, I don't see another easy way to solve.
I am simply interested in clicking on a date to return the correct day.
If I instantiate a LocalDateTime now it is correct.
Choosing 07/05 at 12:43:39 on my machine:

[code]

[code]

[2020-05-19 11:16] melloware commented on #5914
I submitted my PR which will fix it.  Please review.

[2020-05-19 11:44] melloware commented on #5886
Based on @fanste comment here: https://github.com/primefaces/primefaces/pull/5909#issuecomment-630648609

This new feature doesn't work exactly like native JSF one.  Well all the native JSF one is doing is adding an automatic AJAX call after you make a selection.  I would rather not add that automatic AJAX call to 10+ components that this is implemented for. So to accomplish the exact same behavio

[2020-05-19 11:44] #5886 closed, assigned to melloware

[2020-05-19 11:45] melloware commented on #5886
Showcase updated to reflect this new example: https://github.com/primefaces/primefaces-showcase/pull/151

[2020-05-19 11:46] iwamun opened #5919 "InputNumber: Safari keyboard entry not working"
**Describe the defect**
Keyboard's Input of numbers is cleared by force.

**Environment:**
 - PF Version: 8.0
 - JSF + version: Mojarra 2.2.19
 - Affected browsers: Safari 13.1(MacOSX)

**Example XHTML**
[code]

**Example Bean**
[code]
[code]

[2020-05-19 12:01] melloware commented on #5919
Attached is a reproducer:
[pf-5919.zip](https://github.com/primefaces/primefaces/files/4650194/pf-5919.zip)

It works fine for me in Chrome, Edge, Firefox.   Are you saying this ONLY happens in Safari?

[2020-05-19 12:03] melloware commented on #3863
Here is the latest version of Edge I have on Windows 10 and its still happening.
[code]

[2020-05-19 12:09] undertherainITA commented on #5914
Perfect.
I thank you for the speed... ;)

[2020-05-19 12:20] iwamun commented on #5919
Hi, melloware. Thanks for replying.
That's right. It's only happens in Safari. When I tried to do in Chrome, it wasn't happen.
Actually I'm not sure of Edge, Firefox. But I certainly recognize happen in Safari of Mac OSX.

[2020-05-19 12:26] melloware commented on #5919
Does it happen on the Showcase for your in Safari as well? https://www.primefaces.org/showcase/ui/input/inputNumber.xhtml

[2020-05-19 12:30] iwamun commented on #5919
Yes, it happens. But if I change value by scrolling mouse, it doesn't happen. It's happen by keboard entry only.

[2020-05-19 12:37] melloware commented on #5919
ok good at least we have narrowed it down.  let me investigate and see what I can find out

[2020-05-19 15:18] fanste commented on #5886
I can't see that automatic AJAX. I've updated my test project with a `h:selectOneMenu` without a nested `f:ajax` and the dropdown is not updated after the selection changes. So you always have to manually add that AJAX behaviour.

In my opinion, the way the attribute works should be the same, otherwise it just confuses unnecessarily.

[2020-05-19 15:27] melloware commented on #5886
Yuck. Then they must be doing it with Javascript which means 10 PrimeFaces components need to add this client side Javascript to their component.

Also components like "SelectOne" also have Advanced mode for rendering any HTML you want with  the Advanced example here: https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml .  You will have to write custom client side JS for each of these includ

[2020-05-19 16:05] tandraschko commented on #1579
I added at least a new #add and #addAll method, to append messages to the current displayed messges

[2020-05-19 16:05] #1579 closed, assigned to nobody

[2020-05-19 17:23] melloware commented on #5919
OK I just tested the Showcase with
[code]
And I am having no problems with keyboard input on the InputNumber.  it works with Keyboard input or MouseWheel scrolling just fine.

[2020-05-19 20:07] claudioweiler opened #5920 "Timeline: Localization pt_BR with warning"
**Describe the defect**
Permanent warning when timeline is loaded:
`WARNING: options.locales['pt_BR'] not found. See https://visjs.github.io/vis-timeline/docs/timeline/#Localization`

Maybe related: https://github.com/primefaces/primefaces/commit/434edac3a89369f3d65b1b5ded56476cb34d0861

**Reproducer**
Set default locale to 'pt_BR' in faces-config.

**Environment:**
 - PF Version: 8.0
 - JSF + ver

[2020-05-19 20:19] melloware commented on #5920
thanks for the hint i think it is the same problem as Schedule fixed already.  I will let you know.

[2020-05-19 22:34] melloware commented on #5920
I think the real problem is that Timeline doesn't have a Brazlian translation see there available locales here: https://visjs.github.io/vis-timeline/docs/timeline/#Localization

Port-Brazil is not one of them so maybe you can volunteer to donate a pt-BR translation to the vis-timelime project.

Here are their current locales: https://github.com/visjs/vis-timeline/blob/master/lib/timeline/locales.j

[2020-05-19 23:04] melloware commented on #5697
I am going to close this issue for now since it is being tracked on the vis-timeline page.  I am following that ticket and will update PF if/when they fix it.

[2020-05-19 23:04] #5697 closed, assigned to melloware

[2020-05-20 01:44] iwamun commented on #5919
Thanks melloware.
I also tried to do on another mac book. Then it works with Keyboard input. This PC is Mac Book Air and Safari Version is 13.04.
But it will happen in my environment of Mac Book Pro and Safari Version 13.1 (15609.1.20.111.8).
[capture 2020-05-20 10.32.56.zip](https://github.com/primefaces/primefaces/files/4654157/capture.2020-05-20.10.32.56.zip)

[2020-05-20 08:58] Basyav opened #5922 "DataTable: with selectionMode="multiple/single" keeps a focus on previous selected row after selects another row"
## 1) Environment:
 - PF Version: 8.0.1(reproducible in 9.0-SNAPSHOT)
 - JSF + version:  Mojarra 2.3.13
 - Affected browsers: Chrome, Firefox

## 2) Steps to reproduce the behavior:
Reproducible on the tables with id="singleDT" and id="multipleDT" [Showcases](https://www.primefaces.org/showcase/ui/data/datatable/selection.xhtml)
1. Select a row in the table.
2. Switch to other tab of the browser.

[2020-05-20 09:03] Basyav commented on #5922
As workaround:
[code]

[2020-05-20 09:40] arnis87 opened #5923 "Calendar: Calendar using java.util.Date and jsf native converter crashes on conversion error"
**Describe the defect**
`p:calendar ` component will crash when updating page after converter exception due to internal conversion failure of `LocalDateTime.now()`
In `CalendarRenderer`/`DatePickerRenderer `line [90 ](https://github.com/primefaces/primefaces/blob/076b68be327546432b1c033c18ddfea789f8defa/src/main/java/org/primefaces/component/calendar/CalendarRenderer.java#L90) it tries to convert

[2020-05-20 09:45] tandraschko commented on #5923
@christophs78 can you also check this one?

[2020-05-20 11:14] melloware commented on #5919
weird. I tried on 2 more Mac's and neither one of them has an issue.  So is there something different about the one you have it does not work?  Browser plugins?  Some kind of special software installed?

Because on 3 Mac's I can't reproduce your issue.

[2020-05-20 11:26] melloware commented on #5922
I have a much simpler solution for you. Just add this JS to your app.
[code]

[2020-05-20 11:46] melloware commented on #5923
I have confirmed this issue on 9.0-SNAPSHOT as well.

[2020-05-20 11:48] iwamun commented on #5919
Our customer gives a hint. He uses Safari Version 13.1 (15609.1.20.111.8) on mac book pro. And he could reproduce same issue.
The same points of us are safari version and not installing any plugin, japanese environment.
My mac book is installed some softwares of development but his one is not. So I can conclude my environment of development doesn't affect it's issue.

[2020-05-20 11:57] melloware commented on #5919
OK so the only thing that may be a clue is that is a the your envionment or Browser locale is Japanese?

Can you do me a favor let's see if its a problem with AutoNumeric JS itself.  Can you go to this page:
http://autonumeric.org/examples

try that in Safari and see if it exhibits the same issue?

[2020-05-20 12:02] arnis87 commented on #5923
Would like to have this fix available in next 8.0 elite version as well

[2020-05-20 12:05] iwamun commented on #5919
Same issue occurred.

[capture 2020-05-20 21.01.36.zip](https://github.com/primefaces/primefaces/files/4656682/capture.2020-05-20.21.01.36.zip)
.

[2020-05-20 12:07] melloware commented on #5919
OK awesome.

Can you please report the issue to here: https://github.com/autoNumeric/autoNumeric/issues

The issue is in the Autonumeric Plugin and tell them you have narrowed it down to use Japanese locale on your Mac and that it is specific to Safari.

[2020-05-20 12:11] iwamun commented on #5919
OK I will. Thank you for your help.

[2020-05-20 12:30] melloware commented on #5919
OK issue is reported at AutoNumeric. https://github.com/autoNumeric/autoNumeric/issues/681

I watching that issue and will upgrade AutoNumberic when they fix it.  For now closing this ticket.

[2020-05-20 12:30] #5919 closed, assigned to nobody

[2020-05-20 13:48] claudioweiler commented on #5920
PR: https://github.com/visjs/vis-timeline/pull/490

[2020-05-20 13:49] Basyav commented on #5922
Thank you for simpler solution

[2020-05-20 13:52] melloware commented on #5922
No problem! Thanks for reporting

[2020-05-20 13:52] #5922 closed, assigned to melloware

[2020-05-20 19:01] doleron opened #5926 "ImageCropper: Add cache attribute"
**Description**

Unlike GraphicImage, the ImageCropper component doesn't have a cache avoidance flag. Thus, the image shown by the component in the browser screen can be a different image than the actual one depending if the src url is or is not previously cached by the browser.

The image below shows this issue by using the showcase code.

1)The page is loaded once and the path /resources/demo/im

[2020-05-20 23:36] #5926 closed, assigned to melloware

[2020-05-21 02:43] doleron opened #5929 "FileUpload: add handler to client-side validate"
**Description**

To include an attribute `onvalidationfailure` in FileUpload to allow hook up a handler to client-side validation. Today, the client-side validation  displays a message like this only:

![image](https://user-images.githubusercontent.com/9665358/82517147-e2706000-9af2-11ea-8c35-36c20ff5b109.png)

**Describe the solution you would like**

By defining a handler one can provide a more

[2020-05-21 06:14] christophs78 commented on #5913
@ohlsen3000 : Can you work around this this by using `f:convertDateTime`?

[code]

[2020-05-21 07:04] #5929 closed, assigned to nobody

[2020-05-21 09:58] undertherainITA commented on #5914
I have seen now that midnight comes back to me, so I no longer have to add 1 hour or 1 day to get the correct date.
I tried to set 2.00 hours on the PC but always midnight returns me, but time is taken by the browser from the correct time and not from the PC, I know, right?
I do not understand...

[2020-05-21 11:16] melloware commented on #5914
Using my reproducer or did this just start happening?

[2020-05-21 11:23] undertherainITA commented on #5914
I was fixing other things and I realized it now.
In my opinion it depends on the time since I tried it when I wrote in the ticket which was before noon and returned 0:00 as time.
Now back 23:00 as yesterday.
I inserted a time check...

[code]

[2020-05-21 11:27] melloware commented on #5914
Yeah I think my PR will fix this for good  You can test it by running this patched reproducer:
https://github.com/primefaces/primefaces/files/4646097/pf-5914.zip

[2020-05-21 11:33] undertherainITA commented on #5914
By trying NOW your test returns T00: 00, while mine always NOW T01: 00.
I didn't have your JS script site, so would I add that on my page?

[2020-05-21 11:36] melloware commented on #5914
Yes you can copy that script exxactly to either a JS file you include in your app or on your 1 page if you only need it in one spot.

That is the fix I am making in the core code.

[2020-05-21 11:41] undertherainITA commented on #5914
You were very kind and very fast, very rare the second quality especially.
I put the right script on the fly, 1 min. before deploying my app... ;)
Thanks again my friend.

[2020-05-21 11:42] melloware opened #5931 "Task: Move configs to /src/conf"
**Description**
To have less clutter in the root of the project I would like to do what other projects have done and move configs to `/src/conf` folder.

Also removing the CHANGLOG.MD as no one is keeping it up to date and its not necessary with Git Labels and Tags.

[2020-05-21 11:45] melloware commented on #5914
No problem thanks for reporting!

[2020-05-21 12:54] timbrueckner opened #5933 "TabView: Layout of nested tabViews broken if outer tabView has orientation set"
In our project we have nested tabViews. The outer has its orientation set to "left", the inner tabView has default orientation.

The style of the outer tabView gets applied to the inner tabView as well. **This issue seems to be theme specific.**

**Environment:**
 - PF Version: _8.0.1_
 - Theme: **Nova-Colored**
 - JSF + version: _Mojarra 2.3.9.SP04_
 - Affected browsers: _Chrome, Safari_

**To Re

[2020-05-21 13:26] melloware commented on #5933
Assigning to @mertsincan as only PrimeTek can investigate and modify the premium themes like Nova Light.

[2020-05-21 20:23] #5931 closed, assigned to melloware

[2020-05-21 22:16] doleron opened #5939 "FileUpload: [simple-mode] component breaks after validation failure"
**Describe the defect**
In simple mode, `FileUpload` breaks after a failed validation, no longer displaying the component value nor further validation messages. For example:

![pf-fileuplod-simple-bug](https://user-images.githubusercontent.com/9665358/82611357-b27a9880-9b96-11ea-88ee-4f9a3d8b7333.gif)

**Reproducer**

To reproduce this error I used the [showcase code](https://www.primefaces.org/sh

[2020-05-21 22:54] doleron opened #5941 "FileUpload: default values of `invalidSizeMessage`, `invalidFileMessage` and `fileLimitMessage`"
**Description**

In the docs the default value of `invalidSizeMessage`, `invalidFileMessage` and `fileLimitMessage` is null but in 'advanced' mode these attributes have the following default values: 'Invalid file size', 'Invalid file type' and 'Maximum number of files exceeded'.

For simple mode the default value is null. As an enhancement, the default value for simple mode could be the same as th

[2020-05-21 23:38] doleron commented on #5941
I just checked out the code and realized that  `invalidFileMessage` and `fileLimitMessage` aren't even defined for simple mode. Thus, they could be defined and initialized properly.
In the case of `invalidSizeMessage` if not explicitely defined, the attribute is currently initialized with the 4-chars string "null" (not the null reference).

[2020-05-22 07:17] NicolaIsotta commented on #5931
Hi @melloware
To reduce the clutter even more, the .MD files can be moved to the .github folder
Sources: [README](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-readmes) [CONTRIBUTING](https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors) [CODE_OF_CONDUCT](https://help.github.com/en/github/building-a-stron

[2020-05-22 07:41] crocimi opened #5942 "Dialog framework: JS error on close "Widget not available""
**Describe the defect**
When closing a Dialog with closeDynamic a Javascript error is displayed (note: only if PROJECT_STAGE=Development)

**Environment:**
 - PF Version: 8.0_ (I think there was no error with PF7.0)
 - JSF + version: MyFaces 2.2.7
 - Affected browsers: ALL

**To Reproduce**
Steps to reproduce the behavior in the example below:
1. Click on 'View'
2. Click on 'Close'
-> error in con

[2020-05-22 08:32] stolp commented on #5931
I personally think it is good practice to place such files in the top level directory and not hide them in a dot folder. People should read them. Interesting to know though.

[2020-05-22 11:18] melloware commented on #5931
Hmmm I didn't know that either.  I personally like having a clean root folder.

[2020-05-22 11:27] #5923 closed, assigned to melloware

[2020-05-22 11:29] melloware commented on #5942
@Mich2424 do you mean this is reproducible in the showcase?

I can't reproduce on the showcase? https://www.primefaces.org/showcase/ui/df/data.xhtml

[2020-05-22 11:30] melloware commented on #5941
Is this just a documentation change a code change or both?  Were you going to submit a PR?

[2020-05-22 11:50] doleron commented on #5941
In my understanding this need to be changed in both docs and code:
+ changing FileUploadRenderer.java/2-fileupload.js to define/initialize the attributes
+ updating docs according
I'm glad to submit a PR for this. Should I wait for the merge of this another PR https://github.com/primefaces/primefaces/pull/5940 before submit this new one?

[2020-05-22 11:54] melloware commented on #5941
Yes you submit another PR.  What you should do is in your fork...create a branch so that way you are not working in "master".
See this guide on how to create a branch: https://guides.github.com/activities/hello-world/

I would call this branch "PF-5941" I always like to name my branches after the ticket # they fix.  Then you can make this fix on that branch and submit the PR.  That way the PR only

[2020-05-22 12:19] melloware commented on #5817
I have one last one to go but its a big one.

**Cause:** The .on() and .trigger() methods can set an event handler or generate an event for any event type, and should be used instead of the shortcut methods. This message also applies to the other event shorthands, including: blur, focus, focusin, focusout, resize, scroll, dblclick, mousedown, mouseup, mousemove, mouseover, mouseout, mouseenter, mo

[2020-05-22 12:42] ksreyr commented on #5811
unfortunately not, since at work I only had to argue because the Bug existed, I realized that the error is in the JavaScript component, which I have not had access to.

If I can help in any way, please tell me and I would gladly help repair this Bug in my free time.

[2020-05-22 13:30] bzurmaar opened #5943 "Ajax Queue: All queued xhrs are sent when calling abortAll"
**Describe the defect**
When calling `PrimeFaces.ajax.Queue.abortAll()` all queued events are fired rather than discarded.

**Environment:**
 - PF Version: _8.0_ (or any later version)
 - JSF + version: Mojarra 2.3.9.SP06 (on Wildfly 19.0)
 - Affected browsers: _Chrome, Chromium, Vivaldi (I guess all Chromium-based Browsers)_

**To Reproduce**
Steps to reproduce the behavior:
1. Load the given xht

[2020-05-22 13:52] crocimi commented on #5942
It is reproducible but you have to set PROJECT_STAGE=Development, open the car's dialog, close it (with 'x') and open it again.

[2020-05-22 13:59] melloware commented on #5943
Hmm here is the source for abortAll
[code]

It looks like it is doing the right thing and calling `abort` and re-initializing the arrays?

[2020-05-22 14:05] melloware commented on #5943
Also here is a SO post about the Abort issue in Jquery.  Note we are using Jquery 3.4.1 in 8.0.
https://stackoverflow.com/a/446626/502366

And this answer: https://stackoverflow.com/a/446622/502366

[2020-05-22 14:19] melloware commented on #5942
I don't think there is anything to worry about that message is only printed in DEVELOPMENT mode.
[code]

Are you seeing any adverse behavior because of it?  PrimeFaces tries to clean up detatched widgets on close and clearly this widget is already gone when this is called?

[2020-05-22 14:35] crocimi commented on #5942
Ok, Everythink works, as you say I was just a little bit worried... :-) Thx for your time

[2020-05-22 14:47] #5942 closed, assigned to nobody

[2020-05-22 16:21] doleron commented on #5941
Ok, I'm working on the PR PF-5941 right now. I dug a little bit more into the behavior of `FileUpload` in `simple` mode. Let me summarize what I have found so far:

[2020-05-22 16:23] doleron commented on #5941
1) The default value of `invalidSizeMessage` is actually a "null" String (not a null ref). Follow the comparasion of simple/advanced modes using both default and custom `invalidSizeMessage`:

![image](https://user-images.githubusercontent.com/9665358/82688333-18b2fa00-9c2f-11ea-8339-00872d7575e8.png)

This is the code:
[code]

[2020-05-22 16:29] doleron commented on #5941
2) There is no validation or even a definition of `allowTypes `/`invalidFileMessage` in simple mode:

![image](https://user-images.githubusercontent.com/9665358/82688725-bad2e200-9c2f-11ea-87da-b844e4a3a8bb.png)

This is the code:
[code]

[2020-05-22 16:34] doleron commented on #5941
3) `fileLimit` is also not handled by validation in simple mode. In the following print I tried to input 3 files when the limit is 2.

![image](https://user-images.githubusercontent.com/9665358/82689395-c5da4200-9c30-11ea-9ee7-067861cd552a.png)

It is noteworthy that `advanced` mode deal with it properly.

Code:

[code]

[2020-05-22 16:40] doleron commented on #5941
4) The displayed messages are nullified by using `messageTemplate` in combination with `simple` mode:
![image](https://user-images.githubusercontent.com/9665358/82689861-86602580-9c31-11ea-9dc8-4cd1f003b1f1.png)

Code:
[code]

[2020-05-22 16:41] andrewtobilko opened #5944 "DataTable: JS's selectRow doesn't take into account the "selection" attribute"
**Describe the defect**

`selectRow` doesn't take into account the "selection" attribute. If I have a single selection table, from the client-side I am able to select as many rows as I want.

**Environment:**
 - PF Version: 8.0

**To Reproduce**

1. Define a table with `widgetVar="table" selection="single"`
2. `PF('table').selectRow(1, false);` select row 1.
3. `PF('table').selectRow(2, false);` s

[2020-05-22 16:45] bzurmaar commented on #5943
I also had a look at the code and share your evaluation that the code of abortAll does seemingly the right thing. I don't know where the error comes from. It has to be hidden somewhere deeper. My guess is that abort() is a good candidate to look at.

It's clear that the client cannot magically prevent the server from processing anything that's send to him. This is not what this issue is about. The

[2020-05-22 16:54] melloware commented on #5944
If you need this fix right now just add this JS:
[code]

[2020-05-22 16:56] andrewtobilko commented on #5944
@melloware great, thank you!

[2020-05-22 16:56] melloware commented on #5943
yeah weird it looks like we need to look at Jquery `abort` and there is all kinds of conversation here: https://github.com/jquery/jquery/issues/2084#issuecomment-308173243

it looks like they changed `abort` to a Promise.  I don't quite understand why its not working.

have you debugged the JS in your browser when `abort` gets called?

[2020-05-22 17:02] andrewtobilko opened #5946 "DataTable: comma-separated keys in SelectableDataModel#getRowData(String rowKey)"
The method

    T getRowData(String rowKey);

defined in `org.primefaces.model.SelectableDataModel<T>` is not clearly defined/documented. `rowKey` could be a joined string of row keys, not a single one.

**Environment:**
 - PF Version: _8.0_

**To Reproduce**

1. Create a single selection lazy table.
2. `PF('table').selectRow(1, true);` selects the row not firing an ajax
3. `PF('table').selectRow(

[2020-05-22 18:10] melloware commented on #5946
So what is the exact problem you are having?  You weren't expecting it to be comma separated and you have a comma in your key?

[2020-05-22 18:52] andrewtobilko commented on #5946
@melloware yes, exactly. Is it by design?

[2020-05-22 18:57] melloware commented on #5946
Yes it looks like by design, maybe comma wassn't the best choice maybe it should have been "~" or ";"

[2020-05-22 18:57] tandraschko commented on #5946
Not sure, we have to debug.

At least we can improve it by adding a getRowsData(String[] rowKeys) and per default loop over all and call getRowData.

[2020-05-22 19:01] #5944 closed, assigned to melloware

[2020-05-22 19:06] tandraschko commented on #5943
So it works fine in Firefox? :D

[2020-05-22 19:11] Rapster commented on #5946
I had a try, and can't reproduce your problem.

What exactly do you mean by "rowKey1,rowKey2" coming to the method?

This is correct, and that's the case

[2020-05-22 19:19] bzurmaar commented on #5943
@tandraschko I tested the browsers noted above and the issue was reproducible immediately. I also made a quick test on Firefox but failed to cause the same behavior. So I guess it's only the Chromium-based ones, but I don't want to jump to conclusions.

@melloware I had a second look at the code and I'm even more puzzled than before.
1. The for loop iterates over xhrs, which is per documentation s

[2020-05-22 19:22] melloware commented on #5943
I think you are right it should also loop over the QUEUED list.

[2020-05-22 19:38] melloware commented on #5943
What happens if you add this script to your page...
[code]

[2020-05-22 19:57] melloware commented on #5943
I see the same behvior in Firefox and Chrome.  If I pause in the debugger as soon as I hit
[code]

It actually CAUSES the ajax request to fire.

[2020-05-22 20:00] melloware commented on #5943
Attached is the reproducer:
[pf-5943.zip](https://github.com/primefaces/primefaces/files/4670117/pf-5943.zip)

[2020-05-22 20:19] bzurmaar commented on #5943
This is really weird. When I insert your code it does the following: It iterates over xhrs which initially contains exactly one element. For every iteration it calls abort(). On the call of abort an element disappears from the requests array and one is added to the xhrs array. Is there any callback configured that does this? This happens until the requests array is empty. The second for loop you a

[2020-05-22 20:23] melloware commented on #5943
even stranger is why a call to abort() actually fires the request.

[2020-05-22 20:35] melloware commented on #5943
Its almost like the `abort` is triggering the `always` clause of the XHR or something which in some way is triggering it to fire.

[2020-05-22 20:39] bzurmaar commented on #5943
Removing both loops and hence not aborting anything seems to yield the correct behavior. This is of course not a satisfactory solution, but indicates we're on the right track.

[2020-05-22 20:52] melloware commented on #5943
OK I figured it out and fixed it.  Check out my PR and explanation.

if you need this fix right now
[code]

[2020-05-22 20:54] #5943 closed, assigned to melloware

[2020-05-22 21:00] bzurmaar commented on #5943
Thank you so much for your help and the lightning fast fix!

[2020-05-23 06:07] christophs78 commented on #340
@tandraschko : This issue suggest to allow not only one min/max-range.
Something like rangeA = 00:00 - 07:00, rangeB == 18:00 - 23:59. This is something DatePicker can´t do too. We may close this issue and open an new one which suggests do add multiple min/max-ranges to DatePicker. Whoever build´s this feature...

[2020-05-23 06:20] christophs78 commented on #324
@tandraschko : DatePicker (which should replace Calendar) does not have mask - feature.
https://primefaces.org/primeng/showcase/#/calendar does not have a mask too. So nothing to backport from PrimeNG to PrimeFaces.

[2020-05-23 06:29] christophs78 commented on #1177
@tandraschko : We may try to backport https://github.com/primefaces/primeng/issues/4695, https://github.com/primefaces/primeng/commit/ea9596bf6831270a708633be0a40aadecf92ff15 from PrimeNG for DatePicker.  (DatePicker is the replacement for Calendar)
It´s a bit sad PrimeTek only added this for PrimeNG, PrimeReact and PrimeVue. Not much love for PrimeFaces.

[2020-05-23 06:35] christophs78 commented on #489
@tandraschko: DatePicker (which replaces Calendar) does not have a effect-attribute/feature. I played around a bit with https://www.primefaces.org/showcase/ui/input/datepicker/datePickerJava8.xhtml and i don´t think DatePicker has this issue.

[2020-05-23 06:45] christophs78 commented on #1991
@tandraschko: DatePicker (which replaces Calendar) has the same issue. I reproduced this with
https://www.primefaces.org/showcase/ui/input/datepicker/datePickerJava8.xhtml.
![grafik](https://user-images.githubusercontent.com/10461942/82723707-173a0e00-9cd1-11ea-9e6d-7fb6772e330f.png)

I´ll expect PrimeNG has the same issue, because you can do the "tab-thing" there too.
![grafik](https://user-image

[2020-05-23 06:48] christophs78 commented on #1991
https://getbootstrap.com/docs/4.5/components/modal/ does not have this issue:
![grafik](https://user-images.githubusercontent.com/10461942/82723892-28374f00-9cd2-11ea-97ca-8ecb2bc71267.png)

Maybe we can learn something from Bootstrap. :-)

[2020-05-23 07:13] christophs78 commented on #1991
Maybe we should build a reproducer for PrimeNG/PrimeReact/PrimeVue and look what happens. :-)

[2020-05-23 07:17] christophs78 commented on #1991
https://primefaces.org/primevue/showcase/#/dialog and https://primefaces.org/primereact/showcase/#/dialog do not seem to have this issue. How do they solve this?

[2020-05-23 08:30] christophs78 commented on #324
https://github.com/primefaces/primefaces/issues/4546

[2020-05-23 08:32] christophs78 commented on #4685
We may try to backport primefaces/primeng#4695, primefaces/primeng@ea9596b from PrimeNG for DatePicker. (DatePicker is the replacement for Calendar)
It´s a bit sad PrimeTek only added this for PrimeNG, PrimeReact and PrimeVue. Not much love for PrimeFaces.

[2020-05-23 08:32] christophs78 commented on #1177
https://github.com/primefaces/primefaces/issues/4685

[2020-05-23 13:30] melloware commented on #4685
Agreed.  And keyboard accessibility would be a huge feature.  I feel like we need to start monitoring the PrimeNG issues for features that get added so we can try and keep PF in sync.

[2020-05-23 13:34] melloware commented on #1991
@christophs78 Similar to this request too. https://github.com/primefaces/primefaces/issues/1325  Where a use wants everything behind the modal to be keyboard inaccessible.

[2020-05-23 13:45] melloware commented on #1991
So here is PF modal dialog mask:
[code]

And here is Primereact:
[code]

Also found this: https://stackoverflow.com/a/51295654/502366

[2020-05-23 14:02] melloware commented on #1325
Reproducer:
[pf-1325.zip](https://github.com/primefaces/primefaces/files/4671945/pf-1325.zip)

[2020-05-23 16:02] #5939 closed, assigned to doleron

[2020-05-23 16:49] mdkbdg opened #5949 "Spotlight: highlight multiple elements"
**Description**
multiple spotlight on multiple elements (or group of elements) different triggered once by, for example, a commandbutton

**Describe the solution you would like**
[code]
The above results only `elem2` spotlighted

Maybe it is possible to have both elements spotlighted?
Am not sure what to change here
https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/r

[2020-05-23 16:51] melloware commented on #5946
I think he is saying if you go to the Showcase and do the following:
[code]
In the network traffic you will see...
[code]
Then in SelectionFeature.decodeMultipleSelection:
[code]

[2020-05-23 16:55] melloware commented on #5949
Can you use the target to spolight multiple elements?
[code]
Then you can try...
[code]
or
[code]

[2020-05-23 16:59] melloware commented on #5949
Ah no looking at the code the spotlight only draws one box for spotlighting so that explains why your element2 won since it was 2nd called.

Is there any way to put both elements inside one p:outputPanel and use that as the target?

[2020-05-23 17:08] melloware commented on #404
Closing this ticket as no response about testing on 7.0, 8.0, or 9.0-SNAPSHOT.  If it is still an issue in 9.0-SNAPSHOT please report back and i will reopen the ticket.

[2020-05-23 17:08] #404 closed, assigned to nobody

[2020-05-23 17:10] melloware commented on #857
I can't reproduce.  If you still feel it is an issue please test with 9.0-SNAPSHOT and I can reopen the ticket.

[2020-05-23 17:10] #857 closed, assigned to nobody

[2020-05-23 18:04] mdkbdg commented on #5949
Exactly.
`calculatePositions` only draws one spotlight box.

Putting elements inside an outputPanel is surely an alternative.
Unfortunately currently I am having multiple elements scattered on different panels

(I use this spotlight not for validation as the showcase, but am using this for 'explanation' of which field to focus when doing an action)

[2020-05-23 18:05] Rapster commented on #5946
ok, so is there a problem here? I'm confused...

[2020-05-23 18:21] tandraschko commented on #5946
Yep
looks like getRowData will only receive one key? so everything is ok...

[2020-05-23 21:38] melloware commented on #5949
Let me see what I can do. I think this component just needs some rearranging.

[2020-05-24 09:57] Rapster commented on #5946
Should we close it then?

[2020-05-24 11:52] melloware commented on #5946
I think the user's issue is that because its split by comma `selection.split(",");` no where in the documentaiton does it say NOT to use a comma in your rowKey.  His rowKeys have comma's in them so when it goes to split its splitting the rowKey's incorrectly.
So either we..
A) update the documentation for `rowKey` saying do not use a comma in your rowKey
B) Change that from a comma to a more odd c

[2020-05-24 12:10] tandraschko commented on #5946
he clearly says "\<rowKey1\>,\<rowKey2\>"

[2020-05-24 12:12] melloware commented on #5946
Huh yeah you are right. @andrewtobilko what exactly is your issue?

[2020-05-24 12:31] tandraschko commented on #5946
@andrewtobilko please provide a cloned primefaces-test project to replicate your issue.

[2020-05-24 13:44] #5836 closed, assigned to melloware

[2020-05-24 13:45] melloware commented on #5836
Documented here on how to do set a global attribute: https://primefaces.github.io/primefaces/8_0/#/core/globalattributes?id=global-attributes

[2020-05-24 13:45] melloware commented on #5696
Documented here on how to do set a global date pattern: https://primefaces.github.io/primefaces/8_0/#/core/globalattributes?id=global-attributes

[2020-05-24 15:00] melloware commented on #5949
I investigate this and have it spotlightighint multiple components the but the problem is the way the masks are calculated one mask is not blocking another spotlighted component.  So I don't think this can be done easily or do what you want.  Here is what I have so far if you want to try and tweak it further.

[code]

[2020-05-24 15:11] #1325 closed, assigned to melloware

[2020-05-24 15:11] #1991 closed, assigned to melloware

[2020-05-24 15:18] christophs78 commented on #4612
@arunvc : Can you use DatePicker instead of Calendar? DatePicker is the replacement for Calendar und should be pretty useable with PrimeFaces 8.0. (With PrimeFaces 7.0 it had major bugs.)

[2020-05-24 15:35] melloware commented on #5831
@doleron interested in looking at this one too?

[2020-05-24 15:37] doleron commented on #5831
@melloware sure!

[2020-05-24 17:32] melloware commented on #5831
Thanks I figured you have been in there updating file upload anyway.  Appreciate the help!

[2020-05-24 17:45] mdkbdg commented on #5949
I'm gonna have to find a simple way to override only this particular js.
Is there any way to do it without having to build the whole PF project?

---
Found it:
[code]
Quick and dirty, but... well...

---

Now, back to main topic:

I notice, the more elements to be 'spotlighted', the darker my screen gets :)
I understand the problem you mentioned and I agree, it seems like a simple one but it is no

[2020-05-24 20:36] melloware commented on #5949
You No problem!  Yes you see the problem is the "mask" panes are overlapping each other.

You can also override each method by doing this.

[code]

[2020-05-24 21:53] doleron commented on #5831
I'm wondering me if a change would be actually required. By using [PrimeFaces Selectors](https://primefaces.github.io/primefaces/8_0/#/core/searchexpression?id=primefaces-selectors-pfs) it is possible to attach a tooltip to each one of the FileUpload buttons:

[code]
For example:

[code]
Results in:
![image](https://user-images.githubusercontent.com/9665358/82765482-b6542800-9ded-11ea-9e63-8f5ba16

[2020-05-25 11:39] melloware commented on #5831
I am actually OK with this.  Want me to close this ticket since you have provided a solution?  Unless you wanted to create a Showcase PR that has these tooltips?

[2020-05-25 11:55] tandraschko commented on #5831
Not sure.
i personally like the html native title tooltips :)

[2020-05-25 12:57] doleron commented on #5831
Ok! I just issued PR https://github.com/primefaces/primefaces/pull/5954 covering the inclusion of the attributes:

[code]

![image](https://user-images.githubusercontent.com/9665358/82814291-3e2d4700-9e6d-11ea-85f0-3b3b886f4a59.png)
![image](https://user-images.githubusercontent.com/9665358/82814359-61f08d00-9e6d-11ea-8c7c-31e951b157ce.png)
![image](https://user-images.githubusercontent.com/966535

[2020-05-25 16:38] #5941 closed, assigned to doleron

[2020-05-25 17:29] melloware commented on #2043
This is a theme related issue and can be fixed easily with CSS.  I am going to close this issue as it has not received any upvotes and no one else in 3 years has complained about it.

[2020-05-25 17:29] #2043 closed, assigned to nobody

[2020-05-25 17:33] melloware commented on #3442
I just don't see how that is possible.  For example Jquery 3.5.0 was released and if we had this feature where a user could include their own jQuery it would have broken 19 components if you look at this PR: https://github.com/primefaces/primefaces/pull/5814/files

That would be hundreds of bug reports about PF not being compatible with 3.5.0 yet etc.  I think we have to live with the fact that PF

[2020-05-25 17:33] #3442 closed, assigned to nobody

[2020-05-25 17:36] melloware commented on #3115
Closing this ticket as RichFaces is gone and no one has upvoted this issue in 3 years.  It is extremely unlikely this would be implemented as @tandraschko said this is all by design and how all over PF components do filtering.  If someone feels strongly about it in the future i am happy to reopen the ticket or if someone submits a quality PR.

[2020-05-25 17:36] #3115 closed, assigned to nobody

[2020-05-25 17:44] melloware commented on #1261
@doleron this one may be related to the ticket you are fixing?

[2020-05-25 17:52] melloware commented on #889
From the documentation simply set `animate=false` to fix this.
https://primefaces.github.io/primefaces/8_0/#/components/blockui?id=blockui

[2020-05-25 17:52] #889 closed, assigned to nobody

[2020-05-25 18:11] doleron commented on #1261
@melloware I think so. Including `title='my custom title'` has no effect in either advanced or simple mode. Advanced mode has custom titles for each button now. May I add a `title` attribute to work just for simple mode?

[2020-05-25 18:56] melloware commented on #1261
Sure I don’t see why not

[2020-05-26 07:26] chsreedhar opened #5955 "CommandButton: Same Files are being download from a JSF backing bean"
https://github.com/omnifaces/omnifaces/issues/552

[2020-05-26 08:33] Rapster commented on #5955
There is an issue template to follow, you could help us by summarizing what has been discussed already instead of simply copying/pasting a link and let us deal with it...

[2020-05-26 10:00] blutorange opened #5956 "SelectCheckboxMenu: Behavior when values contain a value for which no SelectItem exists"
**Description**

Consider a `<p:selectCheckboxMenu multiple="true"/>` which has a list of values  and some `f:selectItems` set. The behavior when the value list contains a value for which no selectItem exists (which can happen easily when the select items are from a dynamic source) is a bit strange / inconsistent:

* When the page is rendered, values for which no selectItem exists are still render

[2020-05-26 10:19] chsreedhar commented on #5955
#### Below commandButton is inside `<p:dataTable>`'s footer
This commandButton is updated on `rowSelect` & `rowUnselect` events of `<p:ajax>`

    <p:commandButton id="pdfVwBtn" value="View PDF Doc." icon="pi pi-file-pdf "  action="#{pdfView.viewPDF}" onclick="this.form.target='_blank'" ajax="false"  >
       <f:param name="id" value="#{sid}" />
       <f:param name="type" value="#{type}" />
    <

[2020-05-26 11:16] melloware commented on #5956
OK so 2 things.
1. The value being removed upon submit is the correct behavior.
2. I think the only incorrect behavior is not being able to delete items.

[2020-05-26 11:25] melloware commented on #5955
Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

because I still don't understand what the actual problem is.

[2020-05-26 11:25] blutorange commented on #5956
I agree with your 2 points. The one thing I'm not sure about is whether it's correct to display the item at all? Since no matter whether the user deletes it or not, it gets deleted upon submit.

[2020-05-26 11:27] melloware commented on #5956
Well there is this new feature I just added for `hideNoSelectOptions`: https://github.com/primefaces/primefaces/issues/5886

[2020-05-26 11:41] #1261 closed, assigned to doleron

[2020-05-26 11:41] #5831 closed, assigned to doleron

[2020-05-26 11:46] blutorange commented on #5956
@melloware Thanks, I saw that issue, but I'm not quite sure how it applies to this case? For example, let's say there's a bean with `list = [1,2,3]` and `availableOptions = [1,2]`

[code]

If I understood correctly, `hideNoSelectOptions` only hides `<f:selectItem noSelectionOption="true" />`?, right? The problem with the example above is that is still shows the item `3`, even though that is not an

[2020-05-26 11:49] melloware commented on #5956
Yes sorry when I read your original post i assumed you were talking about noSelectItem="true" you are talking about items that are NOT in the selectItems at all.

[2020-05-26 12:53] melloware commented on #5913
reproducer:
[pf-5913.zip](https://github.com/primefaces/primefaces/files/4682287/pf-5913.zip)

And I confirmed that `<f:convertDateTime type="localDate" />` does not fix it I still get a Conversion error.

[2020-05-26 13:22] christophs78 commented on #5913
I´ll look into this. At this point in time i would personally prefer getting <f:convertDateTime type="localDate" /> working over building our own valueType="localDate" - mechanism.

[2020-05-26 13:34] melloware commented on #5913
100% agree

[2020-05-26 14:20] gbrinkmann commented on #1390
Same goes for me, now I can update a details panel AFTER filtering.
One [select drink] for @nirodg please.

[2020-05-26 14:49] blutorange commented on #5956
No need to apologize - I could have explained it better : )

So I guess the remaining question is whether values that correspond to no SelectItem should be shown initially or whether this should be configurable via an additional option. Personally I'd prefer just not showing them, the `<h:selectManyCheckbox />` just omits these values as well.

[2020-05-26 14:52] melloware commented on #5956
agreed they should be omitted if they are not valid.

[2020-05-26 16:55] mertsincan opened #5958 "Add FormLayout support"
Form layout is a CSS utility optimized for creating forms with ease. FormLayout is not included in PrimeFaces as it is provided by PrimeFlex, a shared grid library between PrimeFaces, PrimeNG, PrimeReact and PrimeVue projects.

[2020-05-26 16:56] #5958 closed, assigned to nobody

[2020-05-26 17:40] melloware commented on #5946
Will close for now. @andrewtobilko if you come up with a reproducible test case I will re-open it.

[2020-05-26 17:40] #5946 closed, assigned to nobody

[2020-05-26 18:43] #5150 closed, assigned to MarkusChur

[2020-05-26 18:57] #5230 closed, assigned to mertsincan

[2020-05-26 20:24] tandraschko commented on #5547
@rapster @christophs78 could you please check our quality gate? 2 new entries here: https://sonarcloud.io/project/issues?id=org.primefaces%3Aprimefaces&resolved=false&sinceLeakPeriod=true&types=VULNERABILITY

[2020-05-26 23:07] erickdeoliveiraleal opened #5960 "TabView: Layout of nested tabViews broken if updated from outer tabView"
**Describe the defect**
Layout of nested tabViews broken if updated from outer tabView

**Reproducer**
https://github.com/erickdeoliveiraleal/primefaces-test/

**Environment:**
 - PF Version: _8.0_
 - JSF + version: _e.g. Mojarra 2.2.16
 - Affected browsers: _e.g. Chrome, iOS, ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. click button
4. See error

**Example XHTML**
[code]

**Example

[2020-05-27 05:39] mertsincan opened #5961 "Validation error on Calendar with the current date"
Reported By PRO User;

[2020-05-27 05:39] #5961 closed, assigned to nobody

[2020-05-27 11:40] melloware commented on #5960
Is this issue related to this one at all? https://github.com/primefaces/primefaces/issues/5933

[2020-05-27 11:47] melloware commented on #4837
Now that Cropper has been updated and in 9.0 supports dynamic streamed content this showcase PR demonstrates using FileUpload and Cropper together: https://github.com/primefaces/primefaces-showcase/pull/157

[2020-05-27 11:47] #4837 closed, assigned to nobody

[2020-05-27 12:04] melloware commented on #5808
@astappiev if you aren't going to work on this I would prefer to close this ticket as no one else has asked for this feature in 10 years so unless you feel strongly about it and provide a PR I think we will be closing this ticket.

[2020-05-27 12:18] astappiev commented on #5808
Hi @melloware , I will try to implement using `UISelectMany` in the next few days...

[2020-05-27 12:25] Rapster commented on #5808
What about using ArrayList, wouldn't that be a simpler and quicker fix? I understand a few component supports arrays but as I said, supporting both List and arrays is not as trivial as you might think. I wouldn't encourage devs to use arrays, on the contrary I would suggest to use collections like List. So please, reconsider this ticket

[2020-05-27 12:36] astappiev commented on #5808
I don't remember exactly, it was long ago but there was an issue with another component where I can use only array, but not list. I will try to change that once more to find out which component it was, may be it will be easier to update that component.

[2020-05-27 18:03] christophs78 commented on #5913
@melloware : Just checked this with your reproducer. Seems like you need to add a pattern to `f:convertDateTime`.

Following XHTML work´s on my dev-machine. The pattern may depend on locale, ...
[code]

Can you cross check this on your dev-machine?

[2020-05-27 18:15] melloware commented on #5913
It works for me if my patterns match..
[code]

But if I do..
[code]

I get "05/28/20 could not be understood as a date" so the calendar is defaulting to my locale's format "MM/dd/yy".

[2020-05-27 18:40] christophs78 commented on #5913
Yes, there seems to be some difference in default-pattern between PrimeFaces (Calendar/DatePicker) and base JSF (f:convertDateTime).
It´s not ideal but IMO it´s a work-around for this corner case.

I looked some weeks/months ago for an other DatePicker-generics-Issue into how to detect the type for complex usecases with generics. Spring Framework seems to have a solution for this. But we do not wa

[2020-05-27 18:48] christophs78 commented on #5913
We discussed this as part of https://github.com/primefaces/primefaces/issues/5656.

https://github.com/spring-projects/spring-framework/blob/master/spring-core/src/main/java/org/springframework/core/GenericTypeResolver.java Is the Spring-Solution to this.

[2020-05-27 18:49] melloware commented on #5913
Well it might be worth bringing in as a util?

[2020-05-27 18:50] melloware commented on #5913
Copying it I mean...not including Spring Framework.

[2020-05-27 18:51] christophs78 commented on #5913
It´s not done with this single class. GenericTypeResolver depends on some more classes, ...

[2020-05-27 18:53] melloware commented on #5913
Ughh.  Yes I see it now it spiderwebs to basically about 30-50 Spring classes.

[2020-05-27 19:36] christophs78 commented on #5913
https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/calendar/BaseCalendarRenderer.java#L282

Maybe we should change
`if (type == null) {`
to something like
`if (type == null || type.equals(Object.class)) {`

So we would use the java.time.* - defaults as fallback.

It may not be ideal but it would be a bit better than the current implementation.

[2020-05-27 19:42] melloware commented on #5913
I am ok with that.  Anything we can do to keep improving the implementation.

[2020-05-27 21:45] HerrB92 opened #5963 "TypeScript: DataTable: Property 'value' does not exist on EventTarget (ts2339)"
If the example code is written as TS in Visual Studio Code, then it is currently not possible to compile it.

In the following line e is considered only a generic EventTarget of an HTMLElement, not having a value, and not - as far as I understand - as EventTarget of an HTMLInputElement:

[code]
The same error is shown in the sandbox (but there it compiles):
https://codesandbox.io/s/3vpem?file=/src

[2020-05-27 22:05] melloware commented on #5963
I think you want PrimeReact issue not PrimeFaces Issues.  Go here: https://github.com/primefaces/primereact/issues

[2020-05-27 22:05] #5963 closed, assigned to nobody

[2020-05-28 08:06] mfrenaij opened #5965 "DataTable: CellSelect event"
**Description**
I would like to select a cell in p:dataTable to show its content. My p:dataTable contains cells with large descriptions which I could like to show in e.g. a p:overlay. Using p:dataTable only rows can be selected, but this is not what I want: I would like to select a single cell.

**Describe the solution you would like**
Please implement a cellSelect ajax (FacesEvent) to the p:dataT

[2020-05-28 12:48] #5913 closed, assigned to christophs78

[2020-05-28 12:52] melloware commented on #5965
Why not use PFE Sheet?  It has a "cellSelect" AJAX event exactly like you are looking for: https://www.primefaces.org/showcase-ext/sections/sheet/ajaxEvents.jsf

"Sheet provides ajax events for cellSelect, change, sort, filter, columnSelect, rowSelect."

[2020-05-29 05:50] OBreidenbach opened #5967 "DatePicker: the month navigation buttons do not honor the min-/maxDate"
**Describe the defect**
In the popup of the Calendar component the forward and backward navigation buttons removed if the min- or maxDate are reached.

The DatePicker component does not do that. You can click the navigation buttons for ever.
The month and year selection drop down do honor the min-/maxDate. #4754

**Reproducer**
If necessary I can provide my test case as github branch. But my xhtml

[2020-05-29 08:35] mauromol commented on #5903
@tandraschko

In PF 6.2 lines are different, here is the piece of code that handles the `ValueExpression`:

[code]

In my original example, the evaluation of the `ValueExpression` assigned to `streamedContent` is simply `null` and a 404 is produced, with no logging at all.

Probably a log entry saying that my expression (`#{bean.myStreamedDocument}` in my case) evaluates to `null` would have helpe

[2020-05-29 09:40] tandraschko commented on #5903
ok, please add a log statement if the StreamedContent is null and provide a PR!

[2020-05-29 11:26] melloware commented on #5967
Confirmed:
[pf-5967.zip](https://github.com/primefaces/primefaces/files/4701509/pf-5967.zip)

[2020-05-29 11:37] melloware commented on #5955
Closing ticket without a reproducer.  I will reopen if a reproducer is provided.

[2020-05-29 11:37] #5955 closed, assigned to nobody

[2020-05-29 11:43] melloware commented on #5884
I am going to close this as WontFix.  As the RowEditor or CellEditor can't keep track of your original values if you have AJAX submitting change events to your backing bean.  Either don't use AJAX or custom code a "cancel" event to reset your values.

[2020-05-29 11:43] #5884 closed, assigned to nobody

[2020-05-29 16:33] #1052 closed, assigned to nobody

[2020-05-29 16:33] #5713 closed, assigned to fanste

[2020-05-29 18:36] #5614 closed, assigned to melloware

[2020-05-29 19:50] #5744 closed, assigned to melloware

[2020-05-30 11:16] tandraschko opened #5968 "Support /META-INF/web.xml for quarkus"

[2020-05-30 11:18] #5968 closed, assigned to tandraschko

[2020-05-30 12:02] melloware commented on #5968
I wonder if we should also look in web-fragment.xml like OmniFaces does.
[code]

[2020-05-30 12:07] melloware commented on #5968
Nevermind I see further down the code it does look at web-fragments.

[2020-05-31 12:33] melloware commented on #4686
You can do this...
[code]

Added example to Showcase and closing this ticket.

[2020-05-31 12:33] #4686 closed, assigned to nobody

[2020-05-31 12:35] melloware commented on #5182
@doleron Want to tackle this one now that you have some experience?

[2020-05-31 13:06] doleron commented on #5182
Sure!

[2020-05-31 20:06] wafa-ogh opened #5970 "DataTable: column/columns/row support passthrough attributes"
Column renderer will generate  td/th elements, but passThroughAttributes Map items gets ignored for td elements, they are only rendered for th elements

for dynamic columns component, the passthrough attributes are missing for th and td.

for Row component either used in columnGroup or in a panelGrid, the passthrough attributes are missing in the client-side in the tr element.

I verified that the

[2020-05-31 20:24] wafa-ogh opened #5971 "Tooltip: Global with a static message"
**Description**
when the tooltip is global, the value attribute is ignored in client-side

It is true global tooltip is supposed to be global and show the title/data-tooltip attribute value of its target elements.
A static message may be needed for a specific group of elements, especially for components that do not provide title attribute and ignores passthrough attributes like columns/column/row

[2020-05-31 21:41] melloware commented on #5971
I am confused by what you are asking?   Are you saying if it finds components that don't have a `title` already to apply the `value` as a default?

To me that does not feel like a good idea as the whole point of tooltip is to replace existing titles, not create new ones where they are missing.  Maybe someone else has a different opinion.

[2020-05-31 22:11] wafa-ogh commented on #5971
I'm asking if it is possible to render value attribute of tooltip even if it is global, actually, it is getting ignored

[2020-05-31 22:12] melloware commented on #5971
Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.   I need to see what you are talking about with a runnable project.

[2020-06-01 11:40] melloware commented on #5675
8.0.2 Elite was released today which fixes this issue.

[2020-06-01 17:23] melloware commented on #5965
This ticket will most likely not be done by the community and would probably have to be sponsored through PRO account or "one time quote" to PrimeTek.

[2020-06-01 17:24] melloware commented on #5949
@mdkbdg Did you make any progress on this?  if not for now I will close this ticket as its not how Spotlight was designed to work.  If you figure it out and want to provide a fix I can reopen the ticket.

[2020-06-01 17:24] #5949 closed, assigned to nobody

[2020-06-01 20:19] melloware commented on #3863
Confirmed this is no longer an issue with Version 83.0.478.37 (Official build) (64-bit) of Edge.

[2020-06-01 20:19] #3863 closed, assigned to melloware

[2020-06-01 23:32] lazaronixon opened #5976 "Link: Ajax Navigation"
**Description**
One of reasons for dissemination of single-page applications is the performance it brings with navigation between screens without the cost of a full page load, specially JS/CSS. JSF 2.3 advanced a lot when the subject is GET requests with `h:link`, `f:metadata` and `f:viewAction` check my project [JSF-PERFECT-CRUD](https://github.com/lazaronixon/jsf-perfect-crud) to check how much

[2020-06-02 07:17] tandraschko commented on #5976
duplicate of #1418

[2020-06-02 07:18] tandraschko commented on #5976
i wont work on it and im not sure if we will change the internals to rely on turbolink.

[2020-06-02 07:20] mfrenaij commented on #5965
Thank you for the quick response!
We indeed have investigated the use of PFE Sheet, Unfortunately PFE Sheet is 'lightweight' and we are using some features that do not seem to be supported by PFE Sheet like exporting rows or pagination. Furthermore its layout does not nicely fit Ultima template (we have some issues with that), there is no column toggler (although PFE Sheet has an alternative way f

[2020-06-02 08:41] tgotwig opened #5977 "DragDrop - Draggable doesn't extend the box"
I think the DragDrop documentation needs a little bit of rework, so for me it would be nice if the box could be extended after an element was dropped and the dropped element realigned etc. 🤔

![image](https://user-images.githubusercontent.com/30773779/83498850-bd013000-a4bc-11ea-9207-776c0bd8572c.png)

[2020-06-02 10:00] tandraschko commented on #5977
sounds more like a forum topic ;)

[2020-06-02 10:00] #5977 closed, assigned to nobody

[2020-06-02 10:03] tandraschko commented on #5977
The issuetracker is for concrete issues or feature requests
your issue sounds like "would be great if something magical could happen to resize it somehow anyway"

in this case we use a simple panel/div, which can be resized after ondrop in your own application.
probably just a showcase topic.

[2020-06-02 10:33] lazaronixon commented on #5976
I change my mind about use turbolinks.. but instead, a new navigation handle almost like dynamic dialog... and we can use native JSF ajax for that maybe it can make the work...

[2020-06-02 10:46] tandraschko commented on #5976
Feel free to work on a PR ;)

[2020-06-02 10:49] lazaronixon commented on #5976
Ok I will work on something...

[2020-06-02 14:39] christophs78 opened #5978 "FileDownload: should not require ajax="false""
**Description**
FileDownload currently requires to set ajax to false for the commandButton or commandLink.
1. This is something you need to know. Or read in the documentation.
2. This causes issues when you use multiple forms within one XHTML. (Essentially you loose all input to other forms.)

Maybe there are way´s to solve this which had not been present 10 year ago, when PrimeFaces was built. IM

[2020-06-02 15:41] mdkbdg commented on #5949
@melloware thanks for the support these past few weeks. I will leave it as it is now, maybe for future reference.

[2020-06-02 21:23] astappiev commented on #5808
Tried to use ArrayList one more time, and I'm getting the following error when trying to save a value of `p:selectCheckboxMenu`. And unfortunately, I'm unable to create MRE https://github.com/astappiev/primefaces-test/tree/example-list (it doesn't throw the error, but save button doesn't work, just do nothing).

I also tried to use `p:selectCheckboxMenu` with ArrayList and it works fine, but in my

[2020-06-03 03:44] Foobartender opened #5979 "DatePicker: Inline won't change displayed month on update after a date has been selected"
**Describe the defect**
Inline p:datePicker won't change displayed month on update after a date has been selected.

**Reproducer**
[pf-datepicker-test.tar.gz](https://github.com/primefaces/primefaces/files/4720910/pf-datepicker-test.tar.gz)

**Environment:**
 - As in primefaces-test
 - Also 8.0.2 on Wildfly 18
 - Affected browsers: all

**To Reproduce**
See instructions in example HTML / run the a

[2020-06-03 09:29] #5970 closed, assigned to melloware

[2020-06-03 09:54] tandraschko opened #5980 "[perf] use ArrayList instead of Set for immutable HTML attributes"
JFYI: https://gist.github.com/tandraschko/4abf2416cca6c19dd024e39e7033a47c

[2020-06-03 10:04] #5980 closed, assigned to nobody

[2020-06-03 10:52] tandraschko commented on #5980
JFYI @melloware

[2020-06-03 11:21] melloware commented on #5980
great fix!

[2020-06-03 11:22] #5817 closed, assigned to melloware

[2020-06-03 11:30] melloware commented on #5968
@tandraschko Not sure if you tested this but when working on OmniFaces fix we found that "/META-INF/web.xml" was not available through the ServletContext like normal web.xml is. So we had to do this instead to make it work.

[code]

[2020-06-03 11:49] tandraschko commented on #5968
TBH i didnt test it :D will commit it

[2020-06-03 12:16] #5846 closed, assigned to melloware

[2020-06-03 12:16] tandraschko opened #5981 "[perf] MessageFactory: avoid FacesMessage instance"
saves e.g. 1 FacesMessage instance each rendered SelectOneMenu or Calendar

[2020-06-03 12:26] tandraschko opened #5982 "[perf] MessageFactory: avoid MissingResourceException"
see https://issues.apache.org/jira/browse/MYFACES-4330

[2020-06-03 12:26] #5981 closed, assigned to nobody

[2020-06-03 12:27] #5982 closed, assigned to nobody

[2020-06-03 17:36] melloware commented on #5979
Verified this is still a problem in 9.0-SNAPSHOT as well.

[2020-06-03 17:52] #5967 closed, assigned to melloware

[2020-06-04 11:49] melloware opened #5984 "DatePicker: Panel not moving on window resize"
**Describe the defect**
We use a DatePicker component in our project. Primefes Version 8.0.

The position of the DatePicker popup does not change after the position of the input field has changed (for example, after rotating the tablet). The problem was fixed for the Сalendar component.

Reported on Stack Overflow: https://stackoverflow.com/questions/62190570/primefaces-datepicker-does-not-update-

[2020-06-04 18:09] #5984 closed, assigned to melloware

[2020-06-05 09:30] christophs78 opened #5987 "TabView: add multiViewState to keep activeIndex across views"
**Description**
View A has a TabView with Tabs A, B, C and D. (Tab A is selected per default.)  User selects tab C. User navigates to detail-view B. Then he navigates back to view A. Tab A is selected.

**Describe the solution you would like**
Add multiViewState-attribute like DataList, DataTable, ....

[2020-06-05 14:25] #3818 closed, assigned to eduarddrenth

[2020-06-05 15:28] melloware commented on #939
Closing as a non issue as mentioned by @kukel it is controlled by the developer.

[2020-06-05 15:28] #939 closed, assigned to nobody

[2020-06-05 15:44] melloware commented on #3694
Closing this issue as no upvotes and no PR was provided.  Can always re-open if there are upvotes or PR in the future.

[2020-06-05 15:44] #3694 closed, assigned to nobody

[2020-06-05 15:47] melloware commented on #3581
No longer an issue in Edge Version 83.0.478.44 (Official build) (64-bit).

IE11 issues probably won't get any attention without a PRO sponsered fix.  Also since Issue #15 is still open addressing this issue I will mark this as a duplicate.

[2020-06-05 15:47] #3581 closed, assigned to nobody

[2020-06-05 16:04] GedMarc opened #5989 "Cache: Upgrade to Hazelcast 4.X"
**Description**
Update Hazelcast Datagrid version to 4.0

**Describe the solution you would like**
POM file reference update

**Additional context**
Hazelcast 4 comes with a new protocol, it also removes a renferences html package

Holder issue for some PR's

[2020-06-05 16:12] GedMarc opened #5991 "General: Update rome and commons-io"
Please update a few dependencies to their latest versions for multiple reasons including security updates, sniffed issues, and others

[2020-06-05 16:24] GedMarc opened #5993 "General: Bean Validations 2.0"
**Description**
I would like to be able to use bean validations 2.x while maintaining the current package hierarchy.

**Describe the solution you would like**
Please use Jakarta validations API < version 3 (jakarta.x namespace)

**Additional context**
There are methods that validations 1.x does not have. The overrides methods for these have been removed

[2020-06-05 16:27] melloware commented on #5993
We support most of the 2.X validations now.  Are you finding a particular one that is not supported?

[2020-06-05 16:36] GedMarc opened #5995 "General: JDK9 module referencing"
**Description**
Please include a module-info for primefaces in order to build Java Native Images and to use it JMod, JImage and JPackage

**Describe the solution you would like**
I would like to use moditect as a proven method of forcing module-info definitions

**Additional context**
The file will be placed inside the versions folder for multi-release jars.
Multi-Release jars need to flag set ins

[2020-06-05 17:10] GedMarc opened #5997 "General : Please use the last javax. maven coordinates for Version 9"
**Description**
Please use the final and last jars (Not version 3) for the namespace

**Describe the solution you would like**
Please implement and use the last jars to be released for the javax. namespace

**Additional context**
This must not/should not conflict with any existing source code base in any way

[2020-06-05 17:34] GedMarc commented on #5993
Should be simple enough for me to replicate on a example -

It's when calling the method on the validations 2.0.2 - when it goes through EL it fire the deescripter and fails with the missing method

[code]

[2020-06-05 17:44] melloware commented on #5993
Interesting I use Jboss/Wildfly with BV2.0 and have not had any issues.

[2020-06-05 19:11] GedMarc opened #5999 "Layout : Please update to 1.8.1"
**Description**
Please update the layout library to 1.0.8.0

**Describe the solution you would like**
Please update the library to 1.0.8.0 for Layout, to implement and include the bind/unbind, $.type, $.css, $.click and others to version 9

[2020-06-05 19:20] GedMarc commented on #5993
Looks like added in 2.0.2 :)

https://docs.jboss.org/hibernate/beanvalidation/spec/2.0/api/?javax/validation/metadata/ConstraintDescriptor.html

[2020-06-05 19:42] melloware commented on #5999
@GedMarc Why is this release now 1MB the old one was 344KB?

[2020-06-05 19:50] #5989 closed, assigned to GedMarc

[2020-06-05 19:50] #5991 closed, assigned to GedMarc

[2020-06-05 20:01] GedMarc commented on #5999
bleeding hell :)

[2020-06-05 20:02] melloware commented on #5999
OK I grabbed your 1.8.1 and submitted a PR.

[2020-06-05 20:11] #5999 closed, assigned to melloware

[2020-06-06 13:43] melloware commented on #5971
@wafa-ogh unless you provide the request above i will close this ticket

[2020-06-06 13:48] melloware opened #6002 "Task: Remove Aristo Theme"
**Description**
Aristo is a legacy ThemeRoller theme and doesn't even support new components like ToggleSwitch.

**Describe the solution you would like**
I think we should remove it for PF 9.0 as PF includes high quality themes already and the legacy ThemeRoller themes are considered deprecated.

@mertsincan WDYT?

[2020-06-06 18:22] wafa-ogh commented on #5971
@melloware sure, I will

[2020-06-06 18:38] doleron commented on #5182
@melloware let me know if this met the requirements: https://github.com/primefaces/primefaces/pull/6004

[2020-06-07 07:16] tim12s opened #6005 "PanelGrid: support id style and styleClass on row and column - one line of code missed on prior pull request"
**Issue**
Missed a line of code on prior checkin of pull request associated with #5840.

When supplying a styleClass on a column within the responsive panelgrid, that styleClass should be used instead of the styleClass defined in the columnClasses attribute.

Currently the panelgrid always uses the columnClasses attribute.

**Environment:**
 - PF Version: 9+

**To Reproduce**
Sample is currently c

[2020-06-07 07:44] 123MarkA321 commented on #5051
This problem exists in PF 8.0 too.
[https://forum.primefaces.org/viewtopic.php?f=3&t=62004](https://forum.primefaces.org/viewtopic.php?f=3&t=62004)

[2020-06-07 11:48] #6005 closed, assigned to tim12s

[2020-06-07 11:55] #5182 closed, assigned to doleron

[2020-06-08 02:14] doleron opened #6008 "PhotoCam: allow choosing the video input device"
**Description**
PhotoCam uses the default video device to grab images. There is no way in PhotoCam API to easily change this behavior.

**Describe the solution you would like**

Allow to declare the target device in a tag level as follows:

[code]
The device can be define in the client-side as well:
[code]

In addition, the widget should provide device list and support mobile devices semantics lik

[2020-06-08 07:11] christophs78 commented on #3324
I´m interessted in this too.
My personal target would be to optionally support multi-window usage. (for JSF >= 2.2)
[code]

Are there some thoughts on how to implement this? (Maybe @Rapster )

IMO we should make this configurable on an per application-level. (Not on an per-component-instance-level.)

[2020-06-08 07:23] tandraschko commented on #3324
application level? it's saved in the session, right?

in general +1 to add ClientWindow support, with fallback to session
ClientWindow is a great a idea but the default impl is almost useless.

[2020-06-08 07:38] doleron commented on #2152
Hi,

Am I missing something or are `width` and `height` what are you looking for? From [docs](https://primefaces.github.io/primefaces/8_0/#/components/photocam):

| Name | Default | Type | Description |
| --- | --- | --- | --- |
id | null | String | Unique identifier of the component
width | 320 | Integer | Width of the camera viewport.
height | 240 | Integer | Height of the camera viewport.

They

[2020-06-08 07:40] christophs78 commented on #3324
Application level means to have an (application-level) config-switch whether to store MultiViewState per session or per ClientWindow-ID.

Do you have some details?

In our inhouse-framework (based on Spring, JSF, ...) we have our own Spring-tabscope (which extends `org.springframework.web.context.request.AbstractRequestAttributesScope`). This implementetion uses `clientWindow.getId()` as an identi

[2020-06-08 07:45] tandraschko commented on #3324
so you use the default "url" ClientWindow?
it doesn't even validate if you open a url with another jfwid in tab, which >actually< has a jfwid assigned.

[2020-06-08 08:07] christophs78 commented on #3324
yep. this is one of the limitations.
how do you solve this in a better way?

[2020-06-08 08:11] tandraschko commented on #3324
deltaspike is the way if you use CDI :P
i general it would be great if the JSF impl could provide a 100% solution

MyFaces 2.3-next introduces an "url-redirect" mode, it's makes it a bit better to not loose the jfwid

but still not 100%

[2020-06-08 08:24] christophs78 commented on #3324
Which way should we implement per-window-MultiViewState in PrimeFaces?

1. Use jfwid via clientWindow.getId() "hardcoded" when per-window-MultiViewState is enabled OR
2. provide some kind of interface for your custom scope (something we need to design in a way which works with CDI and Spring)
3. do the interface-thing but delivery a default-implementation with PrimeFaces which is based on jfwid OR

[2020-06-08 08:35] tandraschko commented on #3324
i think 1) is enough if we don't want to support flows

[2020-06-08 08:44] cnsgithub opened #6010 "dock: scrollbar not shown"
**Environment:**
 - PF Version: _8.0_
 - JSF + version: _Mojarra 2.2.8_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Edit `dock.xhtml` in `showcase-facelift`, put `<p style="height:900px">test</p>` into `<ui:define name="implementation">`.
2. Start `showcase-facelift` and navigate to http://localhost:8080/showcase/ui/menu/dock.xhtml
3. The scrollbar is missing.

[2020-06-08 08:59] cnsgithub commented on #6010
**Solution**
`<p:dock blockScroll="false">`

[2020-06-08 09:07] tandraschko commented on #6010
hmm
@melloware why should dock block scroll?
it should just always be on the bottom?

[2020-06-08 11:40] melloware commented on #2152
I think the only thing he mentions differently is
[code]
Not sure from the webcam docs how the dest is different than the width and height.

[2020-06-08 11:51] melloware commented on #6010
Hey guys I added blockScroll as an option and defaulted to TRUE because of this ticket: https://github.com/primefaces/primefaces/issues/3153

I an flip it to be false but my thought was most people using Dock are using it in a SPA like fashion.  If you two both think I should flip it to make the default FALSE I can do that no problem since this rewrite is new for 9.0

[2020-06-08 11:59] tandraschko commented on #6010
i would really flip it.
Nobody expects that dock removes the scrollbar

[2020-06-08 12:19] #6010 closed, assigned to melloware

[2020-06-08 14:36] #5997 closed, assigned to melloware

[2020-06-08 16:02] doleron commented on #2152
Well, dest_width and dest_height can be set by photoWidth/photoHeight:

[code]
They control the snap / captured image dimensions as seen below:

![image](https://user-images.githubusercontent.com/9665358/84052547-1d91e080-a987-11ea-8555-c98dedf52c7d.png)

| Name | Default | Type | Description |
| --- | --- | --- | --- |
photoWidth | 320 | Integer | Width of the captured photo, defaults to width.
p

[2020-06-08 16:45] melloware commented on #2152
OK then i am closing this ticket as completed

[2020-06-08 16:45] #2152 closed, assigned to nobody

[2020-06-09 10:36] kneringerjohann opened #6014 "Timeline: OnDrop Group is null or empty"
**Describe the defect**
If you drag&drop an element to a grouped timeline, the group element from TimelineDragDropEvent is alway null or empty

**Reproducer**
To reproduce clone repository in branch "timelinedropissue" in here https://github.com/kneringerjohann/primefaces-test/tree/timelinedropissue.

**Environment:**
 - PF Version: _8.0_
 - JSF + version: mojarra 2.3 (org.glassfish jakarta.faces

[2020-06-09 11:36] melloware commented on #6014
OK I see the issue.  But if there is no group what "group" do you think it should create?    Couldn't you receive the event, create the group in your TimeLineModel and then update the Timeline?

[2020-06-09 11:40] kneringerjohann commented on #6014
In my case there are 5 Groups already created in the TimeLineModel before.
I want to drop the Item to a specific group, which is not possible in this case, as no group is delivered.

[2020-06-09 11:48] melloware commented on #6014
OK so its getting right group id "2" that I dropped it onto but the group's content is NULL.

![image](https://user-images.githubusercontent.com/4399574/84144053-9ba4c480-aa25-11ea-8d69-56968bd36af1.png)

So on the Java side when it gets it and does `params.get(clientId + "_group")` that value is NULL.

[2020-06-09 12:00] kneringerjohann commented on #6014
What we also saw is that the content for the group header in the ajax request is not set/empty:

![timeline_group](https://user-images.githubusercontent.com/9606575/84145048-8184d980-aa59-11ea-92b4-eea007682c1c.png)

[2020-06-09 12:03] melloware commented on #6014
Yep that is this JavaScript:
[code]

The `group.content` is NULL.   What should the value be?  Its just a String  in the TimeLineEvent but what is that String supposed to be?

[2020-06-09 12:11] melloware commented on #6014
I wonder if this should pass `groupId: "id3"` instead of content?  Would the id of the group be more valuable?

[2020-06-09 12:13] kneringerjohann commented on #6014
Its passing the Id of the Group as a String...In Java you can also set an Generic-Type for the Group, but in the TimelineDragDropEvent-Object you find only a String with the ID (in Primefaces 7).

[2020-06-09 12:23] melloware commented on #6014
OK can you try this test:
[pf-6014.zip](https://github.com/primefaces/primefaces/files/4752110/pf-6014.zip)

[2020-06-09 12:36] kneringerjohann commented on #6014
on JS side after drag&drop I get this error in the console:

test.js.xhtml:114 Uncaught TypeError: PrimeFaces.toISOString is not a function
    at c.<anonymous> (test.js.xhtml:114)
    at HTMLDivElement.i (jquery.js.xhtml?ln=primefaces&v=8.0:2)
    at K.<computed>.<computed>._trigger (jquery-plugins.js.xhtml?ln=primefaces&v=8.0:14)
    at K.<computed>.<computed>._drop (jquery-plugins.js.xhtml?ln=p

[2020-06-09 12:37] melloware commented on #6014
Ahh sorry i made that from 9.0-SNAPSHOT.  Hold on let me fix it.

[2020-06-09 12:42] melloware commented on #6014
try this one:
[pf-6014.zip](https://github.com/primefaces/primefaces/files/4752192/pf-6014.zip)

[2020-06-09 12:49] kneringerjohann commented on #6014
just had the same experience

[2020-06-09 12:51] melloware commented on #6014
Press CTRL+F5 in your browser to reload JS.  Its working fine for me that last version.

[2020-06-09 13:33] fcorneli opened #6017 "progressBar: missing jquery-plugins"
The following:
[code]
results in a Javascript error. Adding:
[code]
fixes the issue. I guess `org.primefaces.component.progressbar.ProgressBar` is missing:
[code]

PrimeFaces version: 7.0.14

[2020-06-09 13:40] melloware commented on #6017
I have verified this and you are correct.
[pf-6017.zip](https://github.com/primefaces/primefaces/files/4752468/pf-6017.zip)

[2020-06-09 13:40] #6017 closed, assigned to melloware

[2020-06-09 14:07] kneringerjohann commented on #6014
I'm sorry...working right! thx for your time!

[2020-06-09 14:08] #6014 closed, assigned to melloware

[2020-06-10 09:28] mkomko opened #6019 "InputNumber: JavaScript errors when used inside composite component without setting attributes"
**Describe the defect**
After upgrading to PrimeFaces 7.0.14 from 7.0.10 our inputNumber composite component does not work anymore. Whenever one of the attributes decimalPlaces, decimalSeparator, thousandSeparator, minValue or maxValue is not set when defining the composite component, and thus the attributes are empty when passed to the PrimeFaces inputNumber component, JavaScript errors occur:

[

[2020-06-10 11:27] melloware commented on #6019
The issue is we upgraded to the latest AutoNumeric plugin and some values you are providing can't be empty string "" anymore.  So change your composite component to this and it fixes it.
[code]

I will also be submitting a PR to fix if decimalSeaprator is "" is causes this Regexp JS error.

[2020-06-10 11:36] mkomko commented on #6019
Thank you, I can do that. Wouldn't the correct minValue and maxValue be -10000000000000 and 10000000000000 respectively, though?

[2020-06-10 11:37] melloware commented on #6019
you can make it whatever you want I was just throwing numbers in there to get the JS errors to go away.

[2020-06-10 11:38] mkomko commented on #6019
Haha, okay. I would of course want them to be what the internal inputNumber defaults are. Those seem to be it. Thanks!

[2020-06-10 11:40] #6019 closed, assigned to melloware

[2020-06-10 16:25] #5987 closed, assigned to christophs78

[2020-06-10 23:20] #2223 closed, assigned to nobody

[2020-06-10 23:20] #6008 closed, assigned to doleron

[2020-06-11 01:20] vitsin opened #6022 "PrimeFaces LazyDataModel#load() never called, stack trace appear"
**Describe the defect**
Only and only during my custom implementation of LazyDataModel from PF, the following stack trace appear: java.io.NotSerializableException: org.springframework.data.jpa.repository.support.CrudMethodMetadataPostProcessor$CrudMethodMetadataPopulatingMethodInterceptor

**Environment:**
 - PF version: 8.0.2
 - JSF version: 2.3, Mojarra: 2.3.14
 - Spring Boot, spring-boot-starte

[2020-06-11 07:32] tandraschko commented on #6022
Seems like webflow serializes the request scope bean.
You need to make the LazyDataModel transient or the UserRepository transient in the LazyDataModel. But better to google about serialization and spring beans.
Not related to PrimeFaces.

[2020-06-11 07:32] #6022 closed, assigned to nobody

[2020-06-11 15:25] #5993 closed, assigned to nobody

[2020-06-11 18:03] #3324 closed, assigned to christophs78

[2020-06-11 19:03] vitsin commented on #6022
Tried to mark LazyDataModel transient and than UserRepository transient in the LazyDataModel - in both cases #load called now, but UserRepository is null.
No exception in the logs.
Not quite understand why is it a Spring beans issue if doing "new UserLazyDataModel(userRepository);" is actually declaring bean out of Spring context.

Appreciate any tips!!!

**UserLazyDataModel.java**
[code]

[2020-06-11 20:27] melloware commented on #6022
Sounds like Spring is not injecting your UserRepository if its null.

[2020-06-11 20:38] tandraschko commented on #6022
Probably noone of the PF team used Spring WebFlow what happens, is that Spring serializes and deserializes your bean.
When you make it transient, it will be null after deserialization. So just manually get the Bean from Spring if it's null.

[2020-06-11 21:54] vitsin commented on #6022
to get manually bean from Spring I need ApplicationContext, which is also null once inside LazyDataModel#load.
Even if I pass a simple String field as a transient param for UserLazyDataModel constructor, inside LazyDataModel#load such String is also null.

So yes, it may be not a PF issue, but Spring version 5.x, Spring WebFlow, JSF and PrimeFaces integration is broken for LazyDataModel.

[2020-06-12 01:27] ravihariharan opened #6024 "Java 8 Dependency Error on 7.0.14"
@mertsincan PrimeFaces-7.0.14 has introduced Java 8 dependency.

The previous version of code primefaces-7.0.9 works fine. Source compare with 7.013 is also good.

Issue only with  PrimeFaces-7.0.14

`java.lang.NoClassDefFoundError: java/time/format/DateTimeParseException
	at org.primefaces.component.clock.ClockRenderer.getValueWithTimeZone(ClockRenderer.java:99)
	at org.primefaces.component.clock

[2020-06-12 01:42] ravihariharan commented on #5961
https://github.com/primefaces/primefaces/issues/6024 @mertsincan

[2020-06-12 10:06] tandraschko commented on #6024
pinged PrimeTek about it. As the community can't fix it, i will close it for now.

[2020-06-12 10:06] #6024 closed, assigned to nobody

[2020-06-12 11:40] #5971 closed, assigned to nobody

[2020-06-12 11:42] melloware commented on #5808
Closing for now.  Can always reopen if you do decide to submit a PR.

[2020-06-12 12:20] melloware opened #6026 "Clock/Mindmap: Update raphael.js"
**Description**
Upgrade raphael.js to the latest 2.3.0 version updated this year for Clock and MindMap.

https://github.com/DmitryBaranovskiy/raphael

[2020-06-12 13:25] #6026 closed, assigned to melloware

[2020-06-12 17:58] melloware commented on #975
According to this announcement Galleria and Carousel are being completely updated to match their equivalent in PrimeVue/React so closing this ticket.
See: https://www.youtube.com/watch?v=SqeoPsPQwOw

[2020-06-12 17:58] #975 closed, assigned to nobody

[2020-06-12 19:20] melloware commented on #2683
@Rapster I am going to close this for now as it can be accomplished with normal Hotkey.  If you feel strongly about it we can always re-open the ticket but trying to clean up this Issues board a little.

[2020-06-12 19:20] #2683 closed, assigned to nobody

[2020-06-12 19:25] melloware commented on #5400
According to this post fro Cagatay about the roadmap to PF10 is that PrimeIcons 4.0 will be a first class citizen of PF for the new themes.
See: https://www.youtube.com/watch?v=SqeoPsPQwOw

[2020-06-12 19:25] #5400 closed, assigned to mertsincan

[2020-06-12 19:28] melloware commented on #5106
@christophs78 @tandraschko I wonder if this could be implemented now that MultiViewState can be added to any component and the new Window handling code was added.

[2020-06-12 22:53] tandraschko commented on #5106
There is no relation to multiViewState.
I think the topic is to special and the User should handle it in the Controller and make a own session scoped state.

[2020-06-13 12:54] melloware commented on #5106
Agreed.  I am going to close this ticket for now in the name of cleaning up this issues board.  As there is nothing we can really do about it and a custom solution is warranted.

[2020-06-13 12:54] #5106 closed, assigned to nobody

[2020-06-13 13:09] melloware commented on #1233
I believe this latest TabView fix to add MultiViewState solves the above issue: https://github.com/primefaces/primefaces/issues/5987

See PR: https://github.com/primefaces/primefaces/commit/1edbb201b3af20eaa12cdf20a0459076053511e1

[2020-06-13 13:09] #1233 closed, assigned to nobody

[2020-06-13 16:58] #3020 closed, assigned to melloware

[2020-06-13 17:00] melloware commented on #3020
OK I was able to make the necessary changes to make it match other menus.

UL - gets ARIA_ROLE_MENU
LI - get ARIA_ROLE_NONE
A - get ARIAL_ROLE_MENUITEM

[2020-06-13 17:02] blutorange commented on #5776
FullCalendar is in beta.v4 now and the API is not going to change much. Since I'm also using the schedule component and had a bit of time, I made some initial adjustments, once v5 is released we can finalize it.

### Changes I made so far:

* Updated FullCalendar according to the [upgrade guide](https://fullcalendar.io/docs/v5/upgrading-from-v4#view).
* Updated the JavaScript docs and included the

[2020-06-13 17:14] melloware commented on #3756
Since this is an issue in core Jquery UI and can be fixed with CSS I am going to close this issue:
[code]

[2020-06-13 17:14] #3756 closed, assigned to nobody

[2020-06-13 17:15] melloware commented on #4610
Since this is a core Jquery UI issue it is unlikely to get fixed by PF and you can always switch to the new DatePicker from PF.

[2020-06-13 17:15] #4610 closed, assigned to nobody

[2020-06-14 11:28] melloware commented on #275
This looks like it was fixed along the way as this method in in the jquery.pfextensions.js override file.
[code]

[2020-06-14 11:28] #275 closed, assigned to nobody

[2020-06-14 11:59] melloware commented on #1399
Yes SubTables were not designed to be responsive.

[2020-06-14 12:01] melloware commented on #1910
Subtable doesn't look like it was designed to be responsive.

[2020-06-14 12:11] tandraschko opened #6030 "Provide native ClientWindow implementation"
In the past MyFaces Orchestra/CODI/DeltaSpike had a Window/TabScope. This was later promoted to JSF 2.2.
So JSF itself provides a good abstraction and API but the default implementation is very basic and has some limitations.

The DeltaSpike LAZY (*1) implementation is, compared to CLIENTWINDOW (*2), very easy to implement and only has a small downside:
When you have a active tab with e.g. windowI

[2020-06-14 12:21] melloware commented on #3652
Fixed with #3046 in PF 6.1.10

[2020-06-14 12:21] #3652 closed, assigned to nobody

[2020-06-14 12:22] tandraschko commented on #6030
As PrimeFaces MultiViewState now also can use ClientWIndow to store it, it's a good time to add something.
It might actually not a perfect idea to add it to PrimeFaces as one can easily add DeltaSpike. But the overhead of adding it to PrimeFaces might be like 2-5kb. For DeltaSpike you need core-api/impl and jsf-module-api/impl which is more than 500kb and is also only usable for CDI users.

In the

[2020-06-14 12:22] melloware commented on #2728
Looks like column resizing was added in #3046

[2020-06-14 15:26] #5480 closed, assigned to melloware

[2020-06-14 15:27] #242 closed, assigned to melloware

[2020-06-15 07:40] mkomko commented on #6019
@melloware Would it be possible to get your fix for the decimalSeparator in 7.0.15?
Thank you very much in advance!

[2020-06-15 11:43] melloware commented on #6019
I don't work for PrimeTek so that's up to @mertsincan

Also I reported this to AutoNumeric: https://github.com/autoNumeric/autoNumeric/issues/687

[2020-06-15 19:21] melloware commented on #1560
This is exactly what SummaryRow does: https://www.primefaces.org/showcase/ui/data/datatable/summaryRow.xhtml

[2020-06-15 19:21] #1560 closed, assigned to nobody

[2020-06-15 19:50] #4263 closed, assigned to nobody

[2020-06-15 20:20] el-duderino5 opened #6034 "Datepicker: Clear button not firing dateSelect event"
**Describe the defect**
As per the documentation on the Datepicker component, copying and modifying one of the configurations (specifically the text for currentText and clearText) for a specific locale available here https://github.com/primefaces/primefaces/wiki/Locales, does not change the text for the Today and Clear buttons.

Also, clearing the component value using the corresponding "Clear" bu

[2020-06-15 20:34] melloware commented on #6034
Thanks for reporting I will let you know what I find out.

[2020-06-16 07:41] #4994 closed, assigned to melloware

[2020-06-16 08:07] #6002 closed, assigned to mertsincan

[2020-06-16 08:08] mertsincan commented on #6002
+1 ;)

[2020-06-16 12:02] melloware commented on #6034
OK first things first. I updated the WIKI: https://github.com/primefaces/primefaces/wiki/Locales
It was missing these values for DatePicker. Thanks for pointing that out!
[code]

Reproducer showing it fixed:
[pf-6034.zip](https://github.com/primefaces/primefaces/files/4786402/pf-6034.zip)

[2020-06-16 12:41] melloware commented on #6034
If you need this fix right now just add this JS to your application:
[code]

[2020-06-16 12:48] #6034 closed, assigned to melloware

[2020-06-16 12:51] melloware commented on #5976
@lazaronixon I am going to close this ticket but will happily re-open if it you submit a quality PR.  As I don't think Primetek or any of the community are ever going to implement this ticket.

[2020-06-16 12:51] #5976 closed, assigned to nobody

[2020-06-16 13:26] lazaronixon commented on #5976
Soon...

[2020-06-16 14:23] GedMarc commented on #5976
+100, MPA's is the only thing making PF unusable for post mobile-wave applications

[2020-06-16 14:27] GedMarc commented on #5976
But i'm not going to help doing it that way, agree with Thomas, if you can't do it using raw JS or JQuery, don't give it an attempt.

Wonder if I should actually ... hmm

[2020-06-16 16:48] oliver303 opened #6037 "Page Authorization: wrong documentation"
**Describe the defect**
The jsf method name `ifNotGranted(String roles)` is wrongly doucmented. It should read `p:ifNoneGranted(String roles)`

**Reproducer**
Try setting the attribute `disabled="#{p:ifNotGranted('ROLE_ADMIN, ROLE_OPERATOR')}"` on any primefaces jsf component and you'll get an error.

**Environment:**
 - PF Version: _7.0.14_
 - JSF + version: _any JSF version_
 - Affected browsers

[2020-06-16 16:57] astappiev commented on #5808
In [this commit](https://github.com/astappiev/primefaces-test/commit/299f6b9a5aed119559e81ddcd4f28567eb9e8ef7) I replaced `InputRenderer` with `SelectManyRenderer` and it seems to work. But I guess it can not be merged without risks because there is no test which covers every usecase.

[2020-06-16 17:19] melloware commented on #5808
Looks pretty good to me minus my one comment.  Why not submit it as a PR for review by the team?

[2020-06-16 17:40] melloware commented on #6037
Please review my PR.

[2020-06-16 17:44] oliver303 commented on #6037
OK!

[2020-06-16 17:45] #6037 closed, assigned to melloware

[2020-06-16 20:05] melloware commented on #3522
Looks like its a not implemented feature of FullCalendar:
https://github.com/fullcalendar/fullcalendar/issues/1140

Will close this ticket as we can't implement it until FullCalendar does. You can use this Native JS Widget for Years which looks really cool:
https://github.com/year-calendar/js-year-calendar/

[2020-06-16 20:05] #3522 closed, assigned to nobody

[2020-06-16 20:07] melloware commented on #1164
Since this is a FullCalendar issue that is open an @OBreidenbach has provided a workaround by setting end time to `00:00` there is nothing for PF to do here...

[2020-06-16 20:07] #1164 closed, assigned to nobody

[2020-06-16 23:40] ravihariharan opened #6040 "DataExporter : Missing Secure Attribute in Encrypted Session (SSL) Cookie"
**Environment:**
 - PF Version: _7.0.14
 - JSF + version: Mojarra 2.2.13
 - Affected browsers: ALL

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.primefaces.org/showcase/ui/data/dataexporter/basic.xhtml
2. Click on chrome developer tools
![image](https://user-images.githubusercontent.com/15189434/84838616-dfd92b80-b008-11ea-8c14-fd33a08d1ff4.png)

3. Secure property is not

[2020-06-17 08:40] #5956 closed, assigned to blutorange

[2020-06-17 08:41] #4119 closed, assigned to melloware

[2020-06-17 10:23] GabrieleFrau opened #6042 "SelectOneMenu: accessibility violation"
**Describe the defect**
`p:selectOneMenu` doesn't follow WAI-ARIA Specs

**Environment:**
 - PF Version: _6.2.27_
 - JSF + version: _Mojarra N.D._
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Load xhtml page
2. Primefaces generates incorrect html element

**Expected behavior**

Every Input with id myid_focus shouldn't have an `aria-expanded` attribute

https://

[2020-06-17 10:59] tandraschko commented on #6042
Did you try the master if its already fixed?

Please read our issue template:
**NOTE:** PrimeFaces test can easily be set to use the latest `master-SNAPSHOT` of what is in GitHub. Please test with that before reporting a bug that may already be fixed.

[2020-06-17 11:16] melloware commented on #6042
@GabrieleFrau As Thomas said we have done a lot of ARIA work in PF7 and 8 so there is a good chance this is already fixed.  Can you test in the Showcase: https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml and let us know if anything is still wrong?

[2020-06-17 11:19] melloware commented on #6042
You are right it still does have aria-expanded and it should not.

[2020-06-17 11:24] melloware commented on #6042
To fix this correctly right now you can add this JS to your application.
[code]

[2020-06-17 11:49] #6042 closed, assigned to melloware

[2020-06-17 12:30] oliver303 commented on #6037
Hi melloware!

there's still an error in the fix #6038. I've overlooked it myself. See screenshot!
![image](https://user-images.githubusercontent.com/1856068/84898061-ed44f300-b0a6-11ea-92e7-f7dd72f40266.png)

The example still mentions the wrong EL function.

[2020-06-17 12:33] melloware commented on #6037
Thanks I just fixed it!

[2020-06-17 13:44] melloware opened #6045 "Cookies: Add security to client side cookies"
**Description**
Any cookies created on the client side over HTTPS should have `SameSite=Strict` and `secure=true`.

See: https://web.dev/samesite-cookies-explained/

**Describe the solution you would like**
All client side generated cookies over HTTPS should have `SameSite=Strict` and `secure=true`.

[2020-06-17 17:49] melloware opened #6047 "DatePicker: stepMinute=15 incorrect behavior"
**Description**
I have a field which is DatePicker with `stepMinute = 15`. The problem is the minutes start not from zero but from some random number (probably from the current time). So increasing or decreasing minutes make those steps like `11, 26, 41, 56`. But the way I'd like and how I think it should work is to start from `00` and then increase to `15, 30, 45`. I think the initial value must

[2020-06-17 18:56] melloware commented on #6047
If anyone needs this right now here is a MonkeyPatch:
[code]

[2020-06-17 19:31] melloware commented on #5914
@christophs78 @blutorange There is still something wrong here.  If you go to the Showcase which does not have this change https://www.primefaces.org/showcase/ui/data/schedule/configureable.xhtml and click on a day at 7AM. When I click 7AM it says 13:00-14:00.
![image](https://user-images.githubusercontent.com/4399574/84941541-8972f800-b0af-11ea-97b4-0e9be38faedc.png)

If I do it on LocalHost which

[2020-06-17 21:21] Rapster opened #6050 "TreeTable: ajax events not fired from column facets"
**Describe the defect**
Ajax events are not fired from column facets, as a consequence listeners are not called.

**Environment:**
 - PF Version: 9.0-SNAPSHOT
 - JSF + version: Mojarra 2.3.2
 - Affected browsers:  ALL

**Expected behavior**
Listeners should be called

**Example XHTML**
[code]

**Example Bean**
[code]

[2020-06-17 22:01] blutorange commented on #5914
Just tried it and it's definitely the browsers's / OS's timezone interfering. I changed my PC to different timezones, and it shows different times when I click on 7AM.  Haven't got much time right now, but I might take a look at it later.

[2020-06-18 09:10] christophs78 commented on #5914
My "masterplan" during migration from FullCalendar 3.x to FullCalendar 4.x was to transfer all Timestamps as ISO-Date between server and client. (and vice versa)

For my  default-usecase this seems to be fine. (I´m in UTC+2)
![grafik](https://user-images.githubusercontent.com/10461942/85000827-394d7180-b153-11ea-984a-b8c92992eac5.png)

Maybe the issue is located within `org.primefaces.component.sc

[2020-06-18 11:12] #6040 closed, assigned to ravihariharan

[2020-06-18 11:14] #6045 closed, assigned to melloware

[2020-06-18 13:23] GabrieleFrau commented on #6042
I was under the impression that Primefaces 6 was still supported and as such should have this kind of fixes backported. Am I wrong in that assumption? Should I start the QA process with Primefaces 8 instead?

[2020-06-18 13:30] tandraschko commented on #6042
it's a bit complicated :D (I'm not a member of PrimeTek!)

This here is the community issue tracker. Bugs are fixed here in the github master and partly backported to the elite releases from PrimeTek, which are maintained in a private PrimeTek repository.
Which issues are packported is the decision by PrimeTek.
PRO users can directly influence issues to be packported in elite releases.
The current

[2020-06-18 13:35] melloware commented on #6047
Patched reproducer:
[pf-6047.zip](https://github.com/primefaces/primefaces/files/4798882/pf-6047.zip)

[2020-06-18 14:46] melloware opened #6053 "Storage: Switch from cookies to HTML5 local storage"
**Description**
Based on a conversation with @GedMarc cookies were used for storing client side state because legacy browers like IE7 could only support cookies.

**Describe the solution you would like**
Now that PF supports IE11 and higher we should switch client cookie usage for HTML5 LocalStorage which has the same lifespan as a cookie does but allows for more than 4KB of values and is the prop