[2017-05-12 11:39] melloware commented on #2358
You are right the documentation on Page 340 of the User Guide for MenuItem says "form null String Form to serialize for an ajax request. Default is the enclosing form."

So to men your Menu always has to be wrapped in a parent form however the problem is it is not respecting the form="" on the menu item.  Let me look closer at it.

[2017-05-12 11:43] melloware commented on #2358
OK I think the documentation is wrong.  MenuItem doesn't even have a "form" attribute.

[code]

[2017-05-12 13:38] appldo opened #2360 "Datatable: Sorting dropdown behaves wrong with unsortable columns"
## 1) Environment
Primefaces 6.1

## 2) Expected behavior
Datatable sorting works in reflow mode

## 3) Actual behavior
Datatable in mobile reflow mode. If the first column is not sortable the sort dropdown does not behave correctly. When you click on the last entry another one is selected

..

## 4) Steps to reproduce
Execute the project below with mvn jetty:run

[primefaces-test-datatable-sort-r

[2017-05-12 19:54] mayankX opened #2361 "Input Number Validation Issue"
<img width="623" alt="screen shot 2017-05-13 at 1 22 29 am" src="https://cloud.githubusercontent.com/assets/3822550/26014560/b5939360-377a-11e7-80f5-2e569d30b02a.png">

`<p:outputLabel value="Amount" for="payment_amount_textfield"/>
  <p:inputNumber decimalPlaces="0" symbol="₹ " id="payment_amount_textfield" inputStyle="width: 100%"
      required="true" requiredMessage="Amount is Required" label=

[2017-05-12 22:30] tandraschko commented on #2361
You completely ignored our issue template and therefore many infos are missing -> invalid.

[2017-05-12 22:30] #2361 closed, assigned to nobody

[2017-05-13 03:45] jxmai commented on #1696
OK, I did some debugging for this ticket, and **I cannot replicate this issue using the latest SNAPSHOT.**

First of all, the sample code is incorrect / incomplete:

[code]

~~There shouldn't be any bracket in the function call for AJAX events.~~

Second, the sample code does not have a form as the parent, the AJAX request cannot reach server without form.

---

Here is my test code based on the s

[2017-05-13 11:34] melloware commented on #1696
Nice work @jxmai !  I agree this ticket should be closed.

[2017-05-13 13:34] melloware commented on #735
Is this still valid @mandrader with PF 6.1 and extensions 6.1?

[2017-05-13 13:47] melloware commented on #1071
@mertsincan I reported this issue as a PRO user and you fixed it in 5.3.18, 6.0.5 and 6.1

[2017-05-13 13:53] melloware commented on #1270
Why? When it is available on GitHub including it in the WAR is just bloat.  If you need to code get it from here and just run "mvn jetty:run"

https://github.com/primefaces/showcase

[2017-05-13 14:00] melloware commented on #1544
Editor is Deprecated use p:textEditor now instead.

[2017-05-13 14:01] melloware commented on #1517
Is this related to #2338 ?

[2017-05-13 14:02] melloware commented on #2338
Related to #1517 ??

[2017-05-13 14:15] melloware commented on #2360
Related to #2286

[2017-05-13 14:15] melloware commented on #2286
Related to #2360

[2017-05-13 17:47] erickdeoliveiraleal commented on #1922
https://github.com/javaserverfaces/mojarra/issues/4206

[2017-05-14 17:43] bytrondh opened #2362 "Runtime error in javascript core.js"
1) Environment
- PrimeFaces version: 6.1 and 6.0 (community editions)
- Liferay portal 6.2-CE-GA6 on Tomcat 7.0.62
- JSF 2.1.29 Mojarra

3) Actual behavior
Several widgets don't display or act normally after upgrade from PF 5.3 to 6.0 or 6.1.

Error in browser console:
Uncaught TypeError: Cannot read property 'split' of undefined
at Object.getLocaleSettings (...&_ln=primefaces&v=6.1:1:8874)
at Obj

[2017-05-14 20:33] #1544 closed, assigned to nobody

[2017-05-15 01:00] zhizhideng commented on #2358
@melloware Thanks to reply.

As I mentioned we are using jQuery.load to insert panel content from another primefaces project. The injected content has to have its own form so that the request goes to the right server. It means that the outer panel itself cannot be enclosed in a form (Some browsers do not support nested forms at all).

The menu is in the "option" facet of the panel. I tried to wrap

[2017-05-15 05:38] rho66 opened #2363 "p:dataExporter PDF export does not show Euro (€) sign"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-05-15 10:53] djmj opened #2364 "Dynamic overlaypanel display outside of viewport"
## 1) Environment
- Current Showcase: PrimeFaces-6.1-SNAPSHOT on Mojarra-2.2.8.

## 2) Expected behavior

Overlaypanel should always try to display itself in visible viewport. If above the element is enough space it shall use this space instead below the element.

## 3) Actual behavior

Dynamic overlaypanel does not displays itself in visible viewport.

## 4) Steps to reproduce

Decrease viewport

[2017-05-15 11:41] melloware commented on #2362
You are right this fix is harmless to add.  PR submitted.

[2017-05-15 11:48] fkocijan opened #2366 "SelectOneMenu has ui-state-disabled css class(you can still select) when f:selectItem has empty label"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-05-15 11:48] #2362 closed, assigned to tandraschko

[2017-05-15 11:55] melloware commented on #728
I have witnessed the same 1-2 second delay as you have in our usage.  Submitting your fix as a PR.

[2017-05-15 13:05] melloware commented on #1312
@GithubJohn3031 I just submitted a PR with your suggestions and a unit test if you want to review.  I fixed it in all the PF code I found using attachments.

[2017-05-15 13:15] melloware opened #2369 "Issues to Close"
@tandraschko I have reviewed all of the issues below and they are either already fixed in code or they are Invalid.  Feel free to review and close including this ticket I opened.

#68
#94
#536
#611
#802
#947
#1071 (I reported this as a PRO user and its definitely fixed)
#1270
#1551 Fixed
#1696

[2017-05-15 13:18] #68 closed, assigned to nobody

[2017-05-15 13:18] #94 closed, assigned to nobody

[2017-05-15 13:19] tandraschko commented on #68
Not replicateable anymore: #2369

[2017-05-15 13:19] tandraschko commented on #94
Not replicateable anymore: #2369

[2017-05-15 13:19] tandraschko commented on #536
Not replicateable anymore: #2369

[2017-05-15 13:19] #536 closed, assigned to nobody

[2017-05-15 13:20] tandraschko commented on #611
Not replicateable anymore: #2369

[2017-05-15 13:20] #611 closed, assigned to nobody

[2017-05-15 13:21] tandraschko commented on #802
@melloware why is this invalid? IMO it makes sense.

[2017-05-15 13:21] tandraschko commented on #947
@melloware Why is this invalid?

[2017-05-15 13:22] #1071 closed, assigned to nobody

[2017-05-15 13:23] tandraschko commented on #1270
Yep, the tags are available in github.
AFAIR we didn't create tags for the showcase in old google code.

[2017-05-15 13:23] #1270 closed, assigned to nobody

[2017-05-15 13:24] #1551 closed, assigned to nobody

[2017-05-15 13:26] tandraschko commented on #1696
@jxmai Thanks for testing. Will close it as can't replicate.
JFYI: using brackets for method-exressions is indeed valid if you don't you parameters.

[2017-05-15 13:26] #1696 closed, assigned to nobody

[2017-05-15 13:26] tandraschko commented on #2369
Thanks!

[2017-05-15 13:26] #2369 closed, assigned to nobody

[2017-05-15 13:37] melloware commented on #947
@tandraschko You are right this really is an enhancement or new component.

[2017-05-15 13:40] melloware commented on #802
@tandraschko My thought was Primefaces offers all of this in their repo.  Most organizations are using Nexus to front all their repo's so adding another repo is not that big of a deal.   Having it in central would be nice but it has been years since this was requested I figured it was invalid.

[2017-05-15 14:03] tandraschko commented on #802
Thats not true for 100%.
We also deploy the primefaces.jar to maven central.

[2017-05-15 14:09] j-be opened #2370 "p:tooltip flickers if it covers the element spawning it"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) - **Not yet tested**
- Application server + version: Tomcat 8.5.11 with MyFaces 2.2.12 and PrimeFaces 6.1
- Affected browsers: manly Firefox 53, Chrome is better but not perfect either

## 2) Expected behavior

When an i

[2017-05-15 14:14] jxmai commented on #1696
Thanks for letting me know :) Corrected the comment to avoid confusing others.

[2017-05-15 14:41] auricgoldfinger commented on #2293
I came here searching for the same issue, but a deeper search found #2337 which fixes the issue: fixed in 6.0.19 and 6.1.1 (which is not yet released)

[2017-05-15 14:46] #2293 closed, assigned to nobody

[2017-05-15 19:04] dE57R0YER opened #2371 "Deletion text by Delete buton in filter from advanced selectonemenu not working same as deletion by Backspace button"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: WebLogic 12c
- Affected browsers: Firefox and Chrome

## 2) Expected behavior
Deletion by button Delete causes the

[2017-05-15 21:10] melloware commented on #2371
I have verified the issue in the showcase and confirmed the PR fixes it.

[2017-05-16 11:09] melloware commented on #2370
I have submitted a PR with your fix and I agree with it. @mertsincan do you want to weigh in on this CSS fix?

[2017-05-16 11:16] melloware commented on #2366
I think this was maybe introduced with #2191. @fkocijan  Can you review?

[2017-05-16 11:18] melloware commented on #2363
@rho66 Have you debugged this at all to see where its not being encoded to UTF-8 in the code?

[2017-05-16 11:59] djmj opened #2374 "InputTextarea + autocomplete + autoResize - does not resizes on selection"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: Glassfish 4.1.1. Mojarra 2.2.9
- Affected browsers: Firefox

## 2) Expected behavior

When selecting an item from the autocomplete menu and autoResize is enabled, the area should automatically resize.

## 3) Actual behavior

When selecting an item from the autocomplete menu and autoResize is enabled, the area is not resize

[2017-05-16 12:05] tandraschko commented on #2374
If you don't provide a example, it will be closed as invalid.

[2017-05-16 13:04] dmaidaniuk commented on #728
Hi @melloware ,
Thanks. It is strange that issue reported in far 2015 is still alive...

[2017-05-16 13:17] mertsincan opened #2375 "Upgrade jQuery to 2.2.4"

[2017-05-16 13:19] #2375 closed, assigned to nobody

[2017-05-16 13:26] fkocijan commented on #2366
yep, that was my thought too, should be a bug then

[2017-05-16 13:27] onursenture commented on #2354
Fixed.

[2017-05-16 13:27] #2354 closed, assigned to onursenture

[2017-05-16 14:07] melloware commented on #728
I find that the PF developers focus on PRO user defects and adding new features.  For these GitHub issues they count on PR's from users like us. :)   Or if enough people have a problem with a ticket and gets up-voted they will fix it.  I happen to use this Clock component and appreciate your fix.

[2017-05-16 14:09] melloware commented on #2375
@mertsincan this Jquery Upgrade ticket from @tandraschko was already out there.  Can it be closed?   #2233

[2017-05-16 14:11] tandraschko commented on #2233
jQuery was already upgrade in #2375

[2017-05-16 14:14] #2370 closed, assigned to tandraschko

[2017-05-16 14:17] #728 closed, assigned to tandraschko

[2017-05-16 19:00] melloware commented on #2358
understood.   So I wonder since its in the PDF if PF had planned on getting to this feature an never implemented it.  It will probably get marked as an Enhancement.

[2017-05-16 21:12] marcelopio commented on #1717
Hi, just for documentation:

His problem is that he is seeing the ariaMessage:

`//aria
            String ariaLabelId = filterId + "_label";
            String ariaHeaderLabel = getHeaderLabel(context, column);

            String ariaMessage = MessageFactory.getMessage(DataTable.ARIA_FILTER_BY, new Object[]{ariaHeaderLabel});

            writer.startElement("label", null);
            writer.wr

[2017-05-17 05:50] rho66 commented on #2363
I debugged this and in `PDFExporter.addColumnFacets()` the `textValue` from `col.getHeaderText()` still contains the Euro (€) sign in Intellij Debugger. This textValue is then put into the PDF document with `pdfTable.addCell(new Paragraph(textValue, this.facetFont)`.  I think the problem is probaly in the outdated iText Version which is marked deprecated since 2012 (see [http://www.lowagie.com/iTe

[2017-05-17 06:40] dmaidaniuk commented on #728
Hi @melloware ,
Finally with help of yours PR this fix goes to master :) . Thanks for assistance! I will take into account your suggestion about PRs in future bug-reports for PrimeFaces.

Regards,
Dmytro

[2017-05-17 09:12] NicolaIsotta commented on #2363
You can try [OpenPDF](https://github.com/LibrePDF/OpenPDF), it'a fork of LGPL iText.
Also, the JasperReports guys are mantaining a [fork](http://jasperreports.sourceforge.net/maven2/com/lowagie/itext/) of iText 2.1.7.

[2017-05-17 11:23] melloware commented on #2363
I wonder if PF is staying on that old version of iText to a) maintain compatibility with Java 5 or b) because of the licensing of the old version vs the newer ones?

From itext: "After release 2.1.7, iText moved from the MPLicense to the AGPLicense. The groupId changed from com.lowagie to com.itextpdf and the artifactId from itext to itextpdf.  See htttp://itextpdf.com/functionalitycomparison for

[2017-05-17 11:44] tandraschko commented on #2363
exactly, we can't use the newer versions.
But we maybe we should create a enhancement, so that users can easily switch the generation mechanism via a factory or something. So the user can create a new exporter-type for a new itext version.
But as i said, we likely can't develop a support for a newer itext version directly in PF.

[2017-05-17 11:46] melloware commented on #2363
@tandraschko Do you mind if I investigate switching from iText 2.1.7 to this friendly fork of it https://github.com/LibrePDF/OpenPDF as mentioned by @NicolaIsotta ???  This may be the best answer as it has a friendly license and is still being maintained and fixed unlike the frozen iText version?

[2017-05-17 11:50] tandraschko commented on #2363
No idea.
The project doesn't look very active either.

[2017-05-17 11:51] tandraschko commented on #2363
Also not sure if LPGL or MPL fits our Apache license.

[2017-05-17 12:14] rho66 commented on #2363
Can someone confirm my guess, that iText is the reason for that behavior?

[2017-05-17 14:06] andyserrato commented on #723
Any news on this one ?

[2017-05-17 14:43] rho66 commented on #2069
I am using Primefaces 6.1 with Omega thema and my SelectCheckboxMenu looks like this with `multiple="true"`:

![selectcheckbox](https://cloud.githubusercontent.com/assets/25029017/26159806/ddfb060a-3b1f-11e7-981d-15b8d9caae19.png)

Is this a bug in Omega theme?!

[2017-05-17 14:50] melloware commented on #2069
PF showcase is on OMEGA as well and doesn't seem to have this issue...

https://www.primefaces.org/showcase/ui/input/checkboxMenu.xhtml

Although if you are using the "professional" Omega theme my gut feels like the problem is there.

[2017-05-17 15:17] crocimi opened #2376 "Scrollable TabView: scroll buttons not visible after page refresh"
1) Environment

PrimeFaces version:primefaces-6.0.16
Does it work on the newest released PrimeFaces version? No
Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
Application server + version: Wildfly 10.0.0
Affected browsers: all
2) Expected behavior

Scroll buttons should be visible even after page refresh.

3) Ac

[2017-05-17 15:19] melloware commented on #2363
@rho66 It looks like you have debugged already. if it still has the symbol when the iText add cell code is called my guess is it is a bug in iText.

[2017-05-17 16:04] melloware commented on #2363
@rho66 here is a post that talks about the font being used by iText needs to support your character.  REad bruno's response in this stack overflow..   http://stackoverflow.com/questions/21254628/set-encoding-when-converting-text-file-to-pdf-using-itext

[2017-05-17 18:11] rho66 commented on #2069
You are right - I'm using the professional Omega theme! I'll see how to contact them to get a fix!

[2017-05-17 19:07] melloware commented on #2069
I think here is where you want to report it...   https://forum.primefaces.org/viewforum.php?f=40

[2017-05-17 19:12] fkjaekel commented on #2313
Sorry to "hijack" the issue, but I think it is related.

With PF 6.0.17 I'm facing the following situation:

If a textEditor is used inside a toggleable fieldset, when the fieldset is closed the textEditor value is set to null. Same thing happens when I use an accordion.

[2017-05-17 20:50] mudderman commented on #2179
I hade the same issue on my machine (where I just now setup maven from scratch). I had to import the root ssl certificate from the primefaces repo url into my java cacerts file, after that running

worked like a charm.

See http://magicmonster.com/kb/prg/java/ssl/pkix_path_building_failed.html for a guide on how to imprt the cert.

On a mac, go to Keychain, Search for DST, Pick the DST Root CA X3

[2017-05-18 04:43] rho66 commented on #2069
Thank you - I reported it as mentioned by you: https://forum.primefaces.org/viewtopic.php?f=40&t=50972

[2017-05-18 06:44] kukel commented on #2363
@melloware is correct. That post contains all relevant information (try exporting some 'indian' texts ;-))

[2017-05-18 07:13] rho66 commented on #2363
Does that mean I have to modify the released primefaces version and build my own one?!

[2017-05-18 08:37] mertsincan opened #2377 "Disable script execution from cross domains"
Details; https://github.com/jquery/jquery/issues/2432

[2017-05-18 08:39] #2377 closed, assigned to nobody

[2017-05-18 10:36] mertsincan opened #2378 "p:selectOneMenu within editable dataTable does not move the focus on tab-out"
Reported By PRO User;

[2017-05-18 10:36] #2378 closed, assigned to nobody

[2017-05-18 11:08] melloware commented on #2363
No I would think that means the PDFExporter needs some way for you to specify which font to use. The Primefaces Exttensions exporter has a way for you to declare what font to use.  I have never used it myself but I think that is the gist...

https://www.primefaces.org/showcase-ext/sections/exporter/customizedFormatTable.jsf

[2017-05-18 14:25] Charriu83 commented on #102
Sorry to bring this old issue back, but I can reproduce this issue with Primefaces 6.0.x and 6.1.x. You can easily override *disabledSelection* with the SHIFT key.

[2017-05-19 09:33] mertsincan opened #2379 "Add title support to items of SelectOneRadio"
Users need to use itemDescription attribute of <f:selectItem> to add title props to DOM. Exp;
[code]

[2017-05-19 09:34] #2379 closed, assigned to nobody

[2017-05-19 10:37] junaidbinsarfraz opened #2380 "p:poll unexpected behaviour"
Read [this question and comments ](http://stackoverflow.com/questions/44066753/ppolls-instance-not-removed-after-server-stopped) first before proceed

Possible such behaviour appeared because poll continue sending ajax to server even if the server is down. After server back to production it detected incoming ajax requests, but it can't restore view with that component because of previous downtime.

[2017-05-19 11:17] tandraschko commented on #2380
-1
If the server is back, a ExceptionHandler will redirect to viewExpired.

[2017-05-19 11:45] melloware commented on #2380
Agreed and you can map your Ajax Exception Handler to do whatever you want.  Redirect to a Static page "site is down" for example.

[2017-05-19 14:00] #2380 closed, assigned to nobody

[2017-05-20 07:37] kukel commented on #2375
I personally think  (as most likely do **all users of the community version**) this justifies a 6.1-SR (security release) or a 6.2 or some other solution. If not, PrimeFaces gives out a _**very bad**_ signal to these users.

[2017-05-20 07:38] kukel commented on #2233
Why is this not closed yet ? See also my comment on #2375

[2017-05-20 21:00] mertsincan opened #2381 "Filter state issue on Lazy DataTable with multiViewState"
Reported By PRO User;

With Table state and LazyDataModel, "filters" parameter on load method of LazyDataModel is empty (LazyCarDataModel).

[2017-05-20 21:01] #2381 closed, assigned to nobody

[2017-05-22 11:23] #1312 closed, assigned to tandraschko

[2017-05-22 11:26] #2371 closed, assigned to tandraschko

[2017-05-22 11:32] tandraschko commented on #1947
@androidominus The PR looks fine, however it would be great to provide a sample, so that i can retest your changes.

[2017-05-22 11:42] tandraschko commented on #1198
AFAICS with your PR, the original title attribute will be removed forever, also if the input is valid again.
Could you please provide a simple example with validation and bean etc.?

[2017-05-22 11:55] tandraschko commented on #2089
Could you please provide the ms mesaurement for this cases:
- normal case, without changes
- replacing for example jQuery methods like each with plain JS (like done in this ticket: https://github.com/primefaces/primefaces/issues/2038)
- the very optimized version of the PR

[2017-05-22 14:00] tandraschko commented on #2359
Feel free to provide a PR.

[2017-05-22 14:02] #2166 closed, assigned to nobody

[2017-05-22 14:14] tandraschko commented on #1981
Works fine - you just need to declare enctype="multipart/form-data" on the form.

[2017-05-22 14:14] #1981 closed, assigned to nobody

[2017-05-22 14:35] tandraschko commented on #1790
It doesn't work with MyFaces either.
I think it would be the best if you would create a issue on MyFaces side and let them check if it should work. If it will get fixed in MyFaces, we can easily check the changes.

[2017-05-22 14:35] #1790 closed, assigned to nobody

[2017-05-22 14:36] tandraschko commented on #1790
Background: Not everything that works in Mojarra must work by definition in the JSF specs. Leonardo from MyFaces will likely check that spec compatibilty and fix it if possible.

[2017-05-22 14:45] tandraschko commented on #1567
Easily possible with style attribute:
<p:graphicImage ... style="width: 200px; object-fit:none; object-position: -200px -200px" />

[2017-05-22 14:45] #1567 closed, assigned to nobody

[2017-05-22 14:54] tandraschko commented on #1030
We already tried to upgrade to 1.0.9 but one chart type was broken, we should check that again in the future.

[2017-05-22 14:56] #920 closed, assigned to nobody

[2017-05-22 14:56] tandraschko commented on #920
We can upgrade jqplot in the future if the issue has been fixed.

[2017-05-22 15:11] tandraschko commented on #843
Will close it as we dropped support for IE8. See: https://www.primefaces.org/primefaces-6-1-1-released/

[2017-05-22 15:11] #843 closed, assigned to nobody

[2017-05-22 15:12] tandraschko commented on #149
Duplicate of https://github.com/primefaces/primefaces/issues/1312

[2017-05-22 15:12] #149 closed, assigned to nobody

[2017-05-22 15:22] #533 closed, assigned to tandraschko

[2017-05-22 15:33] #388 closed, assigned to tandraschko

[2017-05-22 16:27] wsaca opened #2382 "RequestContext#update(...) throws an exception if the id is not found on the view"
## 1) Environment
- PrimeFaces version:
6.0
- Does it work on the newest released PrimeFaces version? Version?
No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
No
- Application server + version:
WildFly 10
- Affected browsers:
Firefox 53

## 2) Expected behavior
When we call **RequestContext.getCurrentInstanc

[2017-05-22 17:56] rzapletal commented on #2359
Sorry, I have no idea what is a PR...

[2017-05-22 19:01] tandraschko commented on #2382
For me there is no reason for deactivating this feature.
IMO it's a dirty code trying to update parts of the UI, which are not available.

[2017-05-22 19:21] damascoa commented on #97
this issue in dev?

[2017-05-22 19:44] wsaca commented on #2382
Well, I just realized this change because we are migration the apps to PF 6. The problem is introduced when the view uses **c:if** to render components. Our case is affected because the view is too complex and the app is old, to use the rendered attribute is not optimal in JSF, because even hidden components make calls to related beans. I understand your point of view, I don't have any problem cha

[2017-05-22 19:55] tandraschko commented on #2382
i don't think that c:if should be avoided for every case!
I just think that some such calls like #update should only be called if it's available on the view. This makes the code clearer.

[2017-05-23 00:51] luizphilipi commented on #1817
Hi @tandraschko, now with jquery upgrade this issue turns viable, right?
FullCalendar needs jquery v2.0.0+, i just made some changes to schedule.js and everythings works right, now we use list view in our project.

[2017-05-23 05:35] brainlag opened #2383 "p:textEditor does not support p:ajax"
## 1) Environment
- PrimeFaces version:
  6.1.0
- Does it work on the newest released PrimeFaces version? Version?
  no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
  no
- Application server + version: all
- Affected browsers: all

## 2) Expected behavior
p:ajax inside p:textEditor works like p:inputTextarea

[2017-05-23 07:57] tandraschko commented on #1817
Yep! If you would provide a PR, i can review and test it.

[2017-05-23 07:58] tandraschko commented on #2383
Just compare with p:editor. I think there is something like #encodeClientBehaviors available in the renderers.

[2017-05-23 08:17] brainlag commented on #2383
Nope. p:editor doesn't support p:ajax either.

[2017-05-23 08:22] tandraschko commented on #2383
then compare with inputText or something ;)

[2017-05-23 11:40] Rapster commented on #2383
@brainlag and feel free to provide a PR ;)

[2017-05-23 12:42] schlebe commented on #1855
I have the same issue with simple DataTable and I can explain Why ?

On an existing DataTable, I have added the following line of HTML Primefaces code

frozenColumns="1"

When the table is displayed, the rows of the first column are not more aligned with the row of the rest of the table.

The problem happens because the presence of icon in second part of table make that the rows in right part of t

[2017-05-23 12:47] schlebe commented on #1155
I have the same issue with simple DataTable and I can explain Why ?

On an existing DataTable, I have added the following line of HTML Primefaces code

frozenColumns="1"

When the table is displayed, the rows of the first column are not more aligned with the row of the rest of the table.

The problem happens because the presence of icon in second part of table make that the rows in right part of t

[2017-05-23 13:10] fanste opened #2384 "Sync source of jqplot"
There is a source missmatch between charts.js and jqplot. In our case the EnhancedLegendRenderer produces wrong spacings in the legend table which do not occur with the official jqplot files (i went back till 2010 in the jqplot repository and I can't find that wrong line).

The wrong line is charts.js L14739. Maybe there are some more missmatches.

Please sync the charts.js with the working 1.0.8

[2017-05-23 13:16] schlebe commented on #1155
Just for information, I have used a workaround to solve this problem

[code]

But this is very tricky !

[2017-05-23 14:13] androidominus commented on #1947
@tandraschko Thomas what kind of sample do you need? Should be a minimal war containing just the usage of the new attribute or what? Thank you

[2017-05-23 14:19] tandraschko commented on #1947
A small xhtml with the new attribute + attached to a button or something is enough :)

[2017-05-23 14:19] tandraschko commented on #2384
Don't think we can just sync it - AFAIR mert applied some fixes in our version.

[2017-05-23 14:56] smckeetx commented on #1290
Using PF 6.1 the dialog is centered horizontally but not vertically. This is a problem.

[2017-05-23 16:14] pbonadero opened #2385 "Datatable not refresh with array is empty"
Version primeng: 4.0.1
App: Angular4

[2017-05-23 17:18] mciumac commented on #182
I still experience this problem in primefaces 6.1

[2017-05-23 20:49] tandraschko commented on #2385
It's the PrimeFaces, not the PrimeNG issue tracker here. https://github.com/primefaces/primeng

[2017-05-23 20:49] #2385 closed, assigned to nobody

[2017-05-24 05:10] rho66 commented on #2069
Fixed in next version of professional Omega layout!

[2017-05-24 08:56] #1321 closed, assigned to nobody

[2017-05-24 12:43] j-be opened #2386 "Expose slotEventOverlap in p:schedule"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest sources in GitHub? **not tested**
- Application server + version: Tomcat 8.5
- Affected browsers: all

## 2) Expected behavior

`slotEventOverlap` property for `schedule.js` is exposed in `<p:schedule>`. I agree having a default `true` looks fancier for most use cases, but in our UI it looks kind of weird.

## 3) Actual behav

[2017-05-24 13:41] schlebe opened #2388 "DataTable: Row of FROZEN and UNFROZEN columns are aligned until I select a row"
I have defined 1 FROZEN column like described in issue [https://github.com/primefaces/primefaces/issues/1155](https://github.com/primefaces/primefaces/issues/1155)

This work fine until I click on a row WHEN LAST ROW is displayed. Under this condition the alignment between FROZEN rows and UNFRONZEN rows are not more respected.

If I click on a row when LAST ROW is not visible (the vertical scrollb

[2017-05-24 20:17] #2386 closed, assigned to tandraschko

[2017-05-24 20:18] tandraschko opened #2389 "[Documentation] Schedule: slotEventOverlap"
See #2386

[2017-05-25 08:09] kukel opened #2390 "Register primeng.org and move all non PrimeFaces content over there"
Apparently Angular/PrimeNG user have a difficult time understanding technology Many questions on stackoverflow that are about Angular/PrimeNG get tagged PrimeFaces to (and they even think that is valid) By creating a separate domain (shared landing page maybe) hopefully that wrong tagging can be reduced

[2017-05-25 14:23] smckeetx commented on #1784
This is a huge accessibility issue.

[2017-05-25 14:27] outlinedspider commented on #1784
Agreed.  The top window, alert, etc should always be the focus.  If a visually impaired user knows they opened the window (JAWS will alert them that a new window has opened) and the cursor (focus) remains on the bottom window how can they easily access the information needed?  It should be as fluid for them as any other user.

[2017-05-26 09:52] #723 closed, assigned to nobody

[2017-05-29 13:43] erickdeoliveiraleal opened #2391 "Upgrade quill to 1.2.5"
new version https://github.com/quilljs/quill/releases/tag/v1.2.5

[2017-05-30 05:59] cnsgithub commented on #2388
It is the third issue which basically describes the same thing: The frozen column feature is basically totally bugged. Misaligned header, misaligned rows..

Is there any hope that there might be a fix which doesn't rely on JS / CSS 'hacks'? Probably a PRO user might have to ask about this..

#1155
#644

I will again attach the test-code to reproduce _ALL_ issues related to this feature which can't

[2017-05-30 07:19] cagataycivici commented on #1155
Not tricky actually, we can't know about your content and to avoid killing performance we don't do expensive math calculations to adjust row heights so it is up to you to use css to give heights, will be documented for sure.

[2017-05-30 07:19] #1155 closed, assigned to nobody

[2017-05-30 07:38] androidominus commented on #1947
Should be enough.

`<p:graphicImage id="img" name="/demo/images/images.png" style="cursor:pointer" title="Show Delay" />
<p:overlayPanel  for="img" showEffect="blind" hideEffect="explode" showEvent="mouseover" hideEvent="mousedown"
                   showCloseIcon="true" showDelay="1000">
	<p:graphicImage name="/demo/images/nature/nature2.jpg" width="300" />
</p:overlayPanel>`

[2017-05-30 11:26] cnsgithub commented on #2376
I wasn't really able to reproduce it unfortunately. But i agree that this component doesn't react as it should in some other circumstances as well. Assume you load the browser with a large size. Now you resize the screen to a smaller one, and the tabs stay unscrollable even if the width is now less than the required one. So the scroll-buttons should display.

A workaround is to call this on resize

[2017-05-30 11:31] melloware commented on #2388
@cnsgithub When I ran into this issue they suggested I put a hidden image in the frozen column that is the same size as your image in the non-frozen part and that makes them line up.  It's hacky but it worked.  So I put a p:graphicImage with "style=display:none".

I know that is not a great answer but it gets you around your problem temporarily.

[2017-05-30 12:59] tandraschko commented on #2391
Thanks!

[2017-05-30 12:59] #2391 closed, assigned to tandraschko

[2017-05-30 13:00] tandraschko commented on #2390
WDYT @cagataycivici ?

[2017-05-30 13:01] cagataycivici commented on #2390
Makes sense but this should be a forum discussion.

[2017-05-30 13:34] cnsgithub commented on #2388
Yeah, as said, i think this would basically be the same as hardcoding the heights. The thing is, it can be that not all images are the same size, also it's not said that each cell is equally big. Merely a workaround.

It should be possible to find a better solution (preferable ootb in the jar) in future. (the datatables.net table can do it, so why should primefaces not be able to auto-size all cel

[2017-05-30 18:57] lagar84 commented on #2153
I created a PR for this:
https://github.com/primefaces/primefaces/pull/2393

It uses Integer.MAX_VALUE, but if there is some risk of overflow, just use a large integer, like 1_000_000_000 (one billion)

[2017-05-30 20:24] stiemannkj1 opened #2394 "JavaScript Errors and warnings in Firefox when reloading page containing PrimePush JavaScript"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest sources in GitHub? Reproducible in the latest 6.2.0-SNAPSHOT.
- Application server + version: Tomcat 7, Jetty 8.1.9.v20130131
- Affected browsers: **Firefox Only** (although Chrome still has a warning about a deprecated synchronous XmlHttpRequest being used)

## 2) Steps to reproduce

1. [Deploy the PrimeFaces Showcase (`mvn

[2017-05-31 07:59] AndrewShwaika opened #2395 "ComponentUtils.escapeJQueryId() method escapes too much for JQuery 2.4"
# Extended layout with non full  page  is not working properly

<pe:layout full="false"> has been broken

ComponentUtils.escapeJQueryId() escapes every separator ':' with 4 backslashes '\\\\\\\\'
Javascript widget gets parameter with 2 backslashes. As example: #formId\\\\:clientId

JQuery 2.4 selector $('#formId\\\\:clientId') can't find an object with such id, but $('#formId\\:clientId') works

#

[2017-05-31 08:39] schlebe commented on #2388
@cnsgithub: thanks to defend developper (user that developp USING Primefaces) point of view :-)

FROZEN columns is buggy

1. for alignment
2. for alignment when clicking a row when last row is displayed
3. when sorting another column
4. when setting width using WIDTH attribute of p:column

... and certainly more that nobody discover because nobody use a buggy functionality !

[2017-05-31 08:42] cagataycivici commented on #2388
If we try to align the widths and heights, it will be a major performance penalty so that's why we haven't do it. Content is yours so better if you do align them manually e.g.

[code]

If we try to find the longest or tallest cell and apply it to all with JS, it will kill the performance, better to do it with CSS on your side.

[2017-05-31 09:29] AndrewShwaika opened #2397 "p:outputLabel failed to find component in composite"
# Failed to find EditableValueHolder in composite

CompositeUtils.invokeOnEditableValueHolder() method doesn't use value of 'targets' attribute of
editableValueHolder tag.

It should use AttachedObjectTarget.getTargets() method.

## 1) Environment
- PrimeFaces version: 6.1.1
- Application server + version: Glassfish 4.1.1, Payara 4.1.1-171
- Affected browsers: All

## 2) Expected behavior

outputL

[2017-05-31 09:38] tandraschko commented on #2397
Does the following case still work:
https://github.com/primefaces/primefaces/issues/1633
? We need to support both cases, the user must NOT define a targets atribute.

[2017-05-31 10:20] AndrewShwaika commented on #2397
It should work.
Implementation of AttachedObjectTarget.getTargets() method in mojarra and myfaces handles both cases.

[2017-05-31 10:22] mertsincan opened #2399 "Add lazy attribute to SelectOneMenu"
Defines if lazy loading is enabled for the element. If the value is "true", the overlay is not rendered on window load to improve performance.

[2017-05-31 10:25] #2399 closed, assigned to nobody

[2017-05-31 10:52] tandraschko commented on #2397
@Rapster Could you please check that, too?

I'm not sure if we should support it as "name" targets a single component and "targets" targets multiple components.
We can only support a single component.

[2017-05-31 11:10] AndrewShwaika commented on #2397
Mojarra 2.2.9
com.sun.faces.facelets.tag.composite.AttachedObjectTargetImpl.getTargets()
MyFaces 2.2.11
org.apache.myfaces.view.facelets.tag.composite.AttachedObjectTargetImpl.getTargets()

Both implementations first look at 'targets' and if it empty use 'name' for component lookup

[2017-05-31 11:47] Rapster commented on #2397
Here is description of `name` attribute:

Which exactly fit our need. Plus, `targets` is not a required attribute and can have several component ids, how deal with that case? Using `targets` does not seem to be a good idea to me...

[2017-05-31 12:22] AndrewShwaika commented on #2397
The `getTargets()` provides unified method to lookup components in composite.
User **may** use `targets` and set an alias to the inner components.
With existing implementation if `CompositeUtils.invokeOnEditableValueHolder()` you just got FacesException on any attempt to use `targets` attribute with value that differs `name`.

More over `<cc:editableValueHolder>` can be used not only for p:outputL

[2017-05-31 12:59] tandraschko commented on #2397
Thats not possible as a html label targets exactly ONE component. Therefor a outputLabel can never target multiple component.

[2017-05-31 13:33] AndrewShwaika commented on #2397
First component can be used for html label.
For `required` and error scan all.
Issue is in possibility of using `targets` for aliasing.

[2017-05-31 13:40] tandraschko commented on #2397
-1 from my side
its feels strange and incorrect that a label in html targets one input, but the server side checks multiple components.
I would suggest that you develop a own outputLabel.

[2017-05-31 13:40] #2397 closed, assigned to tandraschko

[2017-05-31 13:41] tandraschko commented on #2395
Is there any article about those jquery change available on the web?

[2017-05-31 13:42] tandraschko commented on #2394
Would be great if could provide a PR!

[2017-05-31 13:43] Rapster commented on #2397
I agree, the VDL documentation should've been enough to answer to this.

[2017-05-31 13:43] tandraschko commented on #2382
Lets wait a while if other developer need something, too.
If yes, we can introduce a context param to disable this behavior (also i don't recommand it, it feels wrong).

[2017-05-31 13:45] tandraschko commented on #2363
@melloware
Would you like to take care of this?
Maybe someone should also analyze whats better in PFE and check if we can port it to PF.

[2017-05-31 13:46] tandraschko commented on #2364
Would be great if you could provide a PR!

[2017-05-31 13:47] tandraschko commented on #2338
Would be great if you could provide a PR!

[2017-05-31 13:53] AndrewShwaika commented on #2395
Just debug of not working `<pe:layout>` after upgrade to Primefaces 6.1.1 and Extensions 6.1.1-SNAPSHOT.
JQuery selector could't find component with escaped string with 2 backslashes.
PrimeFaces.escapeClientId() Javascript method escapes with 1 backslash in result string and it works perfectly.

[2017-05-31 13:54] melloware commented on #2363
I can take a look at this one.  I know the PFE code is way more complex than the PF code as its doing way more and its a little confusing to follow.  I will see what I can do though.

[2017-05-31 14:16] AndrewShwaika commented on #2397
You just prohibit user to use `targets` in case of use p:outputLabel.for
I agree that should be only one component for reference from outputLabel.
My be just check for size of returned list that it should be exactly one?

[2017-05-31 14:20] tandraschko commented on #2397
Whats the benefit of using "targets" with 1 component instead of just using "name"?

[2017-05-31 14:25] tandraschko commented on #2395
Cant replicate.
I just opnend the showcase on my local machine (which runs with jquery 2.2.4)
http://localhost:8080/showcase/ui/input/inputTextarea.xhtml

and print the following in the console:

$('#j_idt87\\\\:j_idt89').length -> 1
$('#j_idt87\\:j_idt89').length -> 0

[2017-05-31 14:45] AndrewShwaika commented on #2397
Just for alias.
We have a lot of composite components for entry different entities.
All of them use different inputs with different ids but binded to name `"entry"`
`<cc:editableValueHolder name="entry" targets="ac"/>`

When using such component we attach, for example, validator always on `"entry"`
`<f:validator ... for="entry"`

Issue arise only after upgrade to PF 6.1.1.

BTW Spec say as mention

[2017-05-31 15:00] AndrewShwaika commented on #2395
But when use ComponentUtils.escapeJQueryId() as `<pe:layout full="false">` for target.
Query will be like $('#j_idt87\\\\:j_idt89').length -> 0

[2017-05-31 15:04] AndrewShwaika commented on #2395
Issue arise when JQuery identifier formats on server side.
It comes to client side with extra backslashes in string.

[2017-05-31 15:25] tandraschko commented on #2397
Yep, thats valid than.
Fixed it in trunk, please give it a try.

[2017-05-31 15:28] tandraschko commented on #2395
Then we should check who appenss the additional backslash. IMO on the server side it looks ok.

[2017-05-31 16:13] stiemannkj1 commented on #2394
@tandraschko, I don't really have the time or expertise to work on this now, sorry. I would need to dig into the Atmosphere and PrimeFaces Push code before making any changes since I'm unfamiliar with them.

[2017-05-31 22:54] mertsincan opened #2400 "Add leadingZero attribute to InputNumber"
Controls leading zero behavior
- leadingZero: 'allow', - allows leading zeros to be entered. Zeros will be truncated when entering additional digits. On focusout zeros will be deleted.
- leadingZero: 'deny', - allows only one leading zero on values less than one
- leadingZero: 'keep', - allows leading zeros to be entered. on fousout zeros will be retained.

[2017-05-31 22:56] #2400 closed, assigned to nobody

[2017-06-01 06:09] AndrewShwaika commented on #2395
Lets count.

Replacement constant string in ComponentUtils.escapeJQueryId() has **8** backslashes.
So internal string will have **4** backslashes.
Javascript for widget creation will have **4** backslashes in constant string in config.
Internal string for configuration parameter gets **2** backslashes!

This string is directly used in JQuery selector (PrimeFaces.widget.ExtLayout Javascript fragmen

[2017-06-01 06:18] tandraschko commented on #2395
I see. You confused me with your statement that currently 2 backslashes will be rendered and doesn't work.

[2017-06-01 07:31] schlebe commented on #2388
@cagataycivici:

I understand that computing maximum height for each rows is a time penalty.

I think that if I will a quick workaround I must do it myself in explicitely setting row height for both tables.

I have already modifying the heights using following CSS directive

[code]
... and like said in my first post, this work well.

BUT, I don't see how your CSS code can resolve my display issue

[2017-06-01 09:41] AndrewShwaika commented on #2397
Thanks a lot!
It works perfectly for both cases.

[2017-06-01 10:47] schlebe opened #2401 "<p:autoComplete> with is not preserved when MULTIPLE="true""
Hello,

I have found some strange things relatively to \p:autocomplete>

The WIDTH of an <p:autoComplete> is multiply by 2 when MULTIPLE attribute is set to "true".

## 1) Environment
- PrimeFaces version: 6.1.1
- Application server: Glassfish 4.1
- Affected browsers: Google Chrome

## 2) Expected behavior

I expect that WIDTH is preserved !

## 3) Actual behavior

real WIDTH of widget displayed o

[2017-06-01 10:50] tandraschko commented on #2401
viewController is missing to replicate it. Easiest way to provide examples is using the beans from the showcase.

[2017-06-01 10:55] melloware commented on #2400
@mertsincan @tandraschko I believe you can close this ticket as well as this exact feature was requested by another user here in #986

[2017-06-01 10:55] melloware commented on #986
Fixed in #2400

[2017-06-01 11:02] #986 closed, assigned to mertsincan

[2017-06-01 11:02] tandraschko commented on #2400
done, thanks!

[2017-06-02 07:51] OBreidenbach opened #2402 "<p:selectOneMenu> Selection of not escaped SelectItem shows the html-code"
If the selectItem used for a selectOneMenu is set to not escape the labels, the options are shown fine. Formatted as expected.  But, after selecting such a selectItem, the entry is shown escaped.

## 1) Environment
- PrimeFaces version: 6.1.1 (some how, build from the github sources)
- Does it work on the newest released PrimeFaces version 6.1? no
- Does it work on the newest sources in GitHub? no

[2017-06-02 08:04] OBreidenbach commented on #2402
Pull request provided: https://github.com/primefaces/primefaces/pull/2404

[2017-06-02 08:31] tandraschko commented on #2402
Thanks for the PR!

[2017-06-02 08:31] #2402 closed, assigned to tandraschko

[2017-06-02 08:35] schlebe opened #2405 "Sorting unfrozen column of DataTable crash Primefaces"
Sorting unfrozen column of DataTable crash Primefaces

I have added frozenColumns="1" to an existing Datatable.

The display works well.

But when I click on header of unfrozen column Primefaces crashs.

Sometimes, I have a error message, sometimes ... Nothing !

I will drag and drop the error message below ...

I have reduced my DataTable until this issue disappears.

... and with a little chance

[2017-06-02 09:09] tandraschko commented on #2395
@melloware Do you have time to verify that PE layout is currently broken and this fixes it? :)

[2017-06-02 09:13] tandraschko commented on #1940
The second issue should be fixed already - please give it a try.
As we can't fix the first issue, i will close it for now.

[2017-06-02 09:13] #1940 closed, assigned to nobody

[2017-06-02 09:14] tandraschko commented on #1922
The issue is still open, so it's not fixed?!

[2017-06-02 09:19] tandraschko commented on #1894
As there are also downsides, it's probably better to not do this change.

@cagataycivici @mertsincan
WDYT about adding a BIG HINT to the userguide that stream=false directly renders the image as base64, therfore is sometimes faster and does support @ViewScoped?

[2017-06-02 09:23] fanste commented on #1922
It was fixed in the JIRA on java.net.. They migrated to github without migrating the whole ticket (comments, state, etc) I don't know if it got fixed in MOJARRA_2_2X_ROLLING or MOJARRA_2_1X_ROLLING

[2017-06-02 09:29] #1801 closed, assigned to tandraschko

[2017-06-02 09:29] tandraschko opened #2406 "[Documentation] Update rome dependency"
has been changed to:

        <dependency>
            <groupId>com.rometools</groupId>
            <artifactId>rome</artifactId>
        </dependency>

[2017-06-02 09:30] tandraschko commented on #1922
i see
it would be great if you could provide a link to the commit somehow!

[2017-06-02 09:34] tandraschko commented on #1549
Would be great if you could check the problem and provide a PR to fix it!

[2017-06-02 09:35] fanste commented on #1922
According to the commit history of UIRepeat.java it should be in MOJARRA_2_2X_ROLLING. But no guarantee, that it is really up to date. But the date and commiter looks reasonable.

https://github.com/javaserverfaces/mojarra/commit/c14d6179e73e0309f5407d37200259ce99f3eb24

[2017-06-02 09:40] tandraschko commented on #1922
bugfixing by deleting code is always great :D
Could you try those changes on PF and test it?

[2017-06-02 09:42] tandraschko commented on #1345
works fine for me.

[2017-06-02 09:42] #1345 closed, assigned to nobody

[2017-06-02 09:46] tandraschko commented on #1188
p:editor is deprecated, will close it.

[2017-06-02 09:46] #1188 closed, assigned to mertsincan

[2017-06-02 10:01] OBreidenbach opened #2407 "autocomplete attribute at some hidden inputs"
The w3c recommendation says, that hidden input must not have the autocomplete attribute.
[https://www.w3.org/TR/html5/forms.html#hidden-state-(type=hidden)](https://www.w3.org/TR/html5/forms.html#hidden-state-(type=hidden))
The following Components do use a hidden input and does render the autocomplete attribute.

- Tree
- TabView
- AccordionPanel

We would like to remove the autocomplete attribut

[2017-06-02 10:08] OBreidenbach commented on #2407
PR provided: https://github.com/primefaces/primefaces/pull/2408

[2017-06-02 10:42] tandraschko opened #2409 "Update Atmosphere JS to 2.3.3"

[2017-06-02 10:43] #2409 closed, assigned to tandraschko

[2017-06-02 10:44] melloware commented on #2395
I will test this out this weekend and get back to you!

[2017-06-02 10:59] tandraschko commented on #2394
I upgraded the script. Could you try it again? There were some firefox fixes.
Atmosphere fails on chrome and firefox for me when running locally when jetty:run. no idea.

[2017-06-02 13:46] mertsincan opened #2410 "Add "styleClass" option to DialogFramework"
Exp;
options.put("styleClass", "testClass test2Class");

[2017-06-02 13:46] #2410 closed, assigned to nobody

[2017-06-02 19:44] melloware commented on #2395
@tandraschko Tested and everything looks good to me.  I don't see any errors.

[2017-06-02 21:01] tandraschko commented on #2395
So it already works without this PR?

[2017-06-02 21:05] melloware commented on #2395
No i used this PR and patched my local and tested.  I thought that is what you wanted.  I can test it without the patch.  I misunderstood what you wanted me to test.

[2017-06-03 14:27] guibernardi opened #2412 "rowToggler action reset selectOneMenu value in rowExpansion"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version?
- Application server + version: Wildfly 8.2
- Affected browsers: Chrome

## 2) Expected behavior

- Keep the value on the selectOneMenu field.

## 3) Actual behavior

- When I toggle and retoggle the row values becames null and I tried to get the values in bean, but they already null.

## 4) Steps

[2017-06-04 13:26] melloware commented on #2407
Agreed. I am not sure exactly why autocomplete was set on these.   Maybe there was a reason at some point?

[2017-06-04 13:32] TheodorRichard commented on #2278
I also observed this behavior when placing a timeline inside a h:dataTable. It works with PF 6.0. In PF 6.1, I get the above exception, even when there is only a single timeline object inside the table.

Can we reopen this ticket @tandraschko ?

[2017-06-05 20:50] holiiveira opened #2413 "Dashboard serialize (Tomcat Clustered)"
PrimeFaces version: 6.1

When using the Dashboard component, in an environment with Tomcat 7 (Clustered), the following exception occurs:

`Jun 05, 2017 5:38:14 PM org.apache.catalina.ha.session.DeltaManager requestCompleted
Grave: Unable to serialize delta request for sessionid [8340FA2C62CD4C0A4B44910A44AF0691.node-tomcata]
java.io.NotSerializableException: org.primefaces.component.dashboard.Das

[2017-06-06 08:19] OBreidenbach opened #2414 "Missing role attribue in rendered output of <p:tree>"
The w3c validator is complaining about a missing role attribute at the content span in the itemnode.

## 1) Environment
- PrimeFaces version: 6.1.1
- Does it work on the newest released PrimeFaces version? Version? 6.1.1 no
- Does it work on the newest sources in GitHub? no
- Application server + version: wildfly 10.1
- Affected browsers: chrome, firefox, ..

## 2) Expected behavior

Rendering a s

[2017-06-06 08:30] OBreidenbach commented on #2414
PR provided: https://github.com/primefaces/primefaces/pull/2415

[2017-06-06 08:44] tandraschko commented on #2413
As you ignored our issue template and didn't provide a example, i will close it as invalid.

JFYI:
such exceptions occur very likely if you use a binding to a session or viewscoped bean. This will never work as components are not serializable.

[2017-06-06 08:44] #2413 closed, assigned to nobody

[2017-06-06 09:38] ValerioEmanuele opened #2416 "SelectCheckboxMenu doesn't support SelectItemGroup"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: Wildfly 9.0.2
- Affected browsers: Chrome 58, IE11

## 2) Expected behavior
Show an header for the select items group and many checkbox for select items
![desidered](https://cloud.githubusercontent.com/assets/10338843/26822064/0c126612-4aa9-11e7-9264-58a7eef7b1af.png)

## 3) Actual behavior
It shows one checkbox per select

[2017-06-06 09:52] OBreidenbach opened #2417 "Make it possible to at more than one content css to the <pe:ckEditor>"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-06-06 09:56] OBreidenbach commented on #2417
PR provided: https://github.com/primefaces-extensions/core/pull/43

[2017-06-06 10:07] OBreidenbach commented on #2417
Sorry, wrong project. Filled new issue on the extension project.

[2017-06-06 10:07] #2417 closed, assigned to nobody

[2017-06-06 11:13] melloware commented on #2416
Related to #500 and #2222

[2017-06-06 13:52] tandraschko commented on #2416
Please provide an PR. As melloware mentioned, you check those other changes.

[2017-06-06 14:13] tandraschko opened #2418 "Upgrade IdleMonitor script"

[2017-06-06 14:16] #2418 closed, assigned to tandraschko

[2017-06-07 08:45] andrei-ivanov commented on #2375
@kukel Responsible behavior is required only for the disclosure of security holes, not for providing the fix to the audience

[2017-06-07 08:59] mertsincan commented on #2407
Thanks for the PR, but please see my comment; https://github.com/primefaces/primefaces/pull/2408

[2017-06-07 08:59] #2407 closed, assigned to nobody

[2017-06-07 09:12] OBreidenbach opened #2419 "<p:autoComplete> renderes div inside a span"
The w3c validator is complaining about a div element inside a span element rendered by the autoComplete tag. I suggest to use a span instead of div inside the surrounding span. PR will follow.

## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? no, 6.1
- Does it work on the newest sources in GitHub? no
- Application server + version: wild

[2017-06-07 09:15] OBreidenbach commented on #2419
PR provided: https://github.com/primefaces/primefaces/pull/2420

[2017-06-07 16:20] mertsincan opened #2421 "Week format is not working correctly on Schedule"
with FullCalendar v2.9.1

Test code;
[code]

[2017-06-07 16:24] #2421 closed, assigned to nobody

[2017-06-07 21:08] melloware commented on #2395
More details here:  https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/463

[2017-06-08 08:32] tandraschko commented on #2395
@mertsincan I applied the PR to fix this issue, the details are here:
primefaces-extensions/primefaces-extensions.github.com#463
Would you merge it to elite to fix it?

[2017-06-08 09:13] tandraschko opened #2422 "SelectOneButton: wrong unseletable behavior"
Currently if you click on a selected item, it will be unselected - also if unselectable is set to true.

[2017-06-08 09:15] #2422 closed, assigned to tandraschko

[2017-06-08 11:42] Mobe91 opened #2423 "SplitButton: font-size dependent positioning"
## 1) Environment
- PrimeFaces version: **6.0.12**
- Does it work on the newest released PrimeFaces version? Version? **No**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **No**
- Application server + version:
**WildFly 10.0.0**
- Affected browsers: **All**

## 2) Behavior
Currently, the positioning of the se

[2017-06-08 11:44] laurinmueller opened #2424 "SelectOneMenu: Chrome/Firefox Autofill/Autocomplete"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? I' don't know
- Application server + version: Websphere 8.5.5
- Affected browsers: Firefox and Chrome (All Browser with Autofill Form functionality)

## 2) Expected behavior
I add a Autofill Profile in Chrome with an adress with a country( for exa

[2017-06-08 13:38] melloware commented on #2423
@mertsincan thoughts on this one?

[2017-06-08 18:40] ravihariharan opened #2425 "Timeline clientId generation broken"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-06-08 18:44] ravihariharan commented on #2425
I have seen this case even in chart also.  I am not sure if this is actually a bug or a general behavior which might be missing from documentation.

[2017-06-08 20:09] tandraschko commented on #2425
Thats not related to the form directly, just the overwritten special "getClientId" is broken....
If you check the dom, the client id of the timeline should be "form:timeline" not "timeline".

@mertsincan
Why do we need the overwritten getClientId? Because sometimes the id was null in the taghandler, right?
Maybe we should try to get rid of the taghandler but overwriting getClientId will always lea

[2017-06-08 21:58] jxmai commented on #2278
relate to #2425. It should be a regression causing by https://github.com/primefaces/primefaces/commit/92781482b4bedc8edb7041e3b8a368e81fb6aa2e

[2017-06-08 23:58] erickdeoliveiraleal opened #2426 "Upgrade Quill to 1.2.6"
https://github.com/quilljs/quill/releases/tag/v1.2.6

[2017-06-10 13:22] melloware opened #2428 "Update Extensions Showcase"
Please update the Extensions Showcase as it is still showing the 6.0 features and not the 6.1 features.

https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/447

[2017-06-10 13:42] melloware commented on #2363
OK after researching this is a bigger change than I thought.   First some things..

1. PF already allows you to customize the font size, style, and color in this demo but NOT the font family.  https://www.primefaces.org/showcase/ui/data/dataexporter/customizedDocuments.xhtml

2. It looks like the Font is hard coded to TIMES here on this line:  https://github.com/primefaces/primefaces/blob/master/s

[2017-06-11 04:23] jxmai commented on #2428
Just personally speaking. I know this ticket might not be in the right place but it seems there is no other way to get any reply which is not appreciated. As a community driven project like primefaces extension, we should appreciate the work getting done by @melloware to keep the project alive.  Otherwise, primefaces extension project should be less active unlike now since **the original developer

[2017-06-11 13:58] ValerioEmanuele commented on #2416
@tandraschko @melloware
I've created PR #2430 on primefaces and PR nr.[28](https://github.com/primefaces/showcase/pull/28) on showcase repository.

[2017-06-11 15:31] tonybanks commented on #1093
ahhhhhhhhhhhhhhh....................it seems this has no solution

[2017-06-11 16:43] melloware commented on #2416
@KingDavid14 Nice work adding a showcase example too.   I reviewed your changes and they look good to me.

[2017-06-11 16:45] melloware commented on #2222
PR submitted to fix this issue:  https://github.com/primefaces/primefaces/pull/2430

[2017-06-12 06:54] schlebe commented on #2405
The xhtml code is

[code]

and the Java code is
[code]
## **This error occurs when draggableColumns="true" AND frozenColumns="1"**

[2017-06-12 07:10] schlebe commented on #2401
The SIZE attribute specify the number of characters used to determine the width
of the input element.

The computed WIDTH is distinct when multiple="true".

The fact that changing a functional parameter like MULTIPLE has an effect on a visual parameter like WIDTH is disturbing, ... but this is not a bug.

I close this issue.

[2017-06-12 07:10] #2401 closed, assigned to nobody

[2017-06-12 09:28] #2426 closed, assigned to tandraschko

[2017-06-12 09:30] tandraschko commented on #2428
Hey, i'm not inactive :D I just don't develop new features here.
Everyone of the PrimeFaces team knows about the good work in PFE and PF.
I would deploy the showcase but i don't have access, so we can just ping optimus prime again.

@melloware
Please ping me if you have a showcase to deploy, i will contact cagatay again.
I will also ask them about admin rights in our sub-forum for both you and me.

[2017-06-12 09:41] #2414 closed, assigned to tandraschko

[2017-06-12 09:42] #2428 closed, assigned to nobody

[2017-06-12 12:55] #2425 closed, assigned to tandraschko

[2017-06-12 12:56] tandraschko commented on #2278
Could be fixed, so please try a trunk build!

[2017-06-12 16:04] ValerioEmanuele opened #2431 "Enhance styling of SelectItemGroup"
## 1) Environment
PrimeFaces version: 6.2-Snapshot
Application server + version: Wildfly 9.0.2
Affected browsers: Chrome 58, IE11

## 2) Expected behavior
Add an header like style for select items group. Something like:
![scm-withstyle](https://user-images.githubusercontent.com/10338843/27043009-ff81eedc-4f98-11e7-832c-ea9d764acdef.png)

## 3) Actual behavior
![scm-withoutstyle](https://user-image

[2017-06-12 16:31] lcottereau commented on #1499
I encountered the same problem when the `action` of a `<p:commandButton>` depends on the row item. Adding `<p:ajax event="rowReorder" update="@this"/>` to the `<p:dataTable>` solved it. Thank you @Karolis92

My version of primefaces is 5.2.5

[2017-06-13 08:42] #2416 closed, assigned to tandraschko

[2017-06-13 08:57] tandraschko commented on #2431
Instead of using your CSS, which should be actually in the theme, we could just add ui-widget-header to the item groups.

This is also the same for SelectOneMenu and SelectManyCheckbox and maybe others....

@mertsincan @cagataycivici WDYT?

[2017-06-13 10:48] mertsincan opened #2432 "DataTable header misplaced when filter is used"
Reported By PRO User;

[code]

[2017-06-13 10:49] #2432 closed, assigned to nobody

[2017-06-13 11:23] melloware commented on #2416
@tandraschko you can also close #2222 as well.

[2017-06-13 11:26] #2222 closed, assigned to tandraschko

[2017-06-13 12:14] schmolleg commented on #2222
Thx for implementing !

[2017-06-13 13:06] cnsgithub commented on #742
Would like to bring this up again, the visuals of the radios and checkboxes are really ugly compared to the native ones. I'm sure this can be improved.

See for example:  https://lokesh-coder.github.io/pretty-checkbox/

They are scalable without becoming blurry.. (and misaligned, actually the're misaligned even with 100% zoom if you look closely)

It would also be possible to use Fontawesome inste

[2017-06-13 13:28] erickdeoliveiraleal commented on #1415
if it is fixed should be closed, no?

[2017-06-13 13:43] #1415 closed, assigned to nobody

[2017-06-14 07:39] cnsgithub opened #2433 "[CSS] Improve Selection arrow alignment of <p:selectOneMenu>"
You can easily see the problem here:

https://www.primefaces.org/showcase/ui/misc/themeSwitcher.xhtml

I think it should be avoided to hardcode the margin-top to 3px as it may be distorted with other themes and or different component heights

I don't know what the best approach would be - i've tried to set:

margin-top: 40% which seems to be better overall with various themes. See for yourself if

[2017-06-14 07:59] cnsgithub opened #2434 "CSS - Style Width should always be the total Width of a component"
See this image + code:

![widths](https://user-images.githubusercontent.com/13161711/27121447-ab67cda8-50e7-11e7-9125-b46ef0579be7.png)

Especially CSS like sometimes is problematic.

.ui-selectonemenu
       padding-right: 2em;

I think the better approach would be to calculate all the margins, paddings and width so that the component itself never grows bigger than the defined width. Else you'll

[2017-06-14 08:34] crocimi opened #2435 "Panel options menu not working anymore"
## 1) Environment
- PrimeFaces version: 6.1.2
- Does it work on the newest released PrimeFaces version? Version? No, 6.1.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: WF 10.0.0
- Affected browsers: all

## 2) Expected behavior
Panel options menu should be visible

## 3) Actua

[2017-06-14 08:43] adrianfiedler opened #2436 "SplitButton p:menuitem is tabable in disabled state"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: JBoss EAP 7
- Affected browsers: Firefox (53.0.3 32-Bit), Chrome (58.0.3029.110 (64-bit))

## 2) Expected behavior

[2017-06-14 08:44] adrianfiedler commented on #2436
![2017-06-14_10h36_17](https://user-images.githubusercontent.com/7136570/27123536-78fa3c50-50ee-11e7-8e55-9d07bea22764.png)

[2017-06-14 09:04] tandraschko commented on #2435
It works fine in trunk, so this could be a elite only bug. @mertsincan would you like to check this?

[2017-06-14 09:05] tandraschko commented on #2436
a PR would be great

[2017-06-14 09:09] tandraschko commented on #2419
For me it looks valid.
The "_panel" div is a dynamic overlay, which will be appended to the body. If you change this to span, it might break.

[2017-06-14 09:12] #2383 closed, assigned to tandraschko

[2017-06-14 09:19] tandraschko opened #2437 "Add itemClass attribute to AutoComplete control"
This is a feature I added to the AutoComplete control, to control the class tag of the little selection pellets that appear inside the input container when selecting an item from the drop down.

See #2411

[2017-06-14 09:19] #2437 closed, assigned to tandraschko

[2017-06-14 09:21] tandraschko commented on #2384
Will close it.
We should upgrade to 1.0.9 in future but someone needs to fix that bug that occured after the upgrade.

[2017-06-14 09:21] #2384 closed, assigned to nobody

[2017-06-14 09:29] mertsincan commented on #2435
Thanks @tandraschko , I'll check this issue on elite versions.

[2017-06-14 09:59] OBreidenbach commented on #2419
Unfortunately it does not look good for the w3c validator. The validator is working on the original html and not on the DOM after doing some javascript modifications.
So it is complaining about a block level element inside an inline element.
For use, nothing broke after changing the div to a span element.

[2017-06-14 11:31] tandraschko commented on #2419
Please provide steps to reproduce.
The code you changed was to render the "_panel" element as a span. But the "_panel" element is directly a child of the body, so no idea why we should change that.

[2017-06-14 11:53] mertsincan opened #2438 "Add PostRenderEvent to DataTable"
Exp;
[code]

[code]

[2017-06-14 11:56] #2438 closed, assigned to nobody

[2017-06-14 11:57] tandraschko commented on #2438
@mertsincan
-1 for this
this is already available in JSF itself via:
<f:event type="preRenderComponent" listener="#{dtBasicView.postRenderEvent}" />

[2017-06-14 11:57] tandraschko commented on #2438
Opppps, it's postrender :D
so it's ok

[2017-06-14 12:01] mertsincan commented on #2438
Yes, postRenderer :D

[2017-06-14 12:19] m-i-c-h-a-l opened #2439 "Organigram renders static content from nodes at the top"
Static texts and html tags (like `<br/>`) from nodes are rendered at the top of organigram.

Sample XHTML:
[code]
Sample Bean:
[code]
Result:
![image](https://user-images.githubusercontent.com/13847409/27131586-955bc130-510b-11e7-8d4a-1b46eda23bd9.png)

Expected result:
![image](https://user-images.githubusercontent.com/13847409/27131413-e751d03e-510a-11e7-9832-0aad67f8c274.png)

Env: PrimeFaces 6

[2017-06-14 12:29] tandraschko commented on #2439
Please provide a PR

[2017-06-14 13:08] mertsincan opened #2440 "Add rowDragSelector attribute to DataTable"
Reported By PRO User;

Exp;
[code]

[2017-06-14 13:10] #2440 closed, assigned to nobody

[2017-06-14 14:59] OBreidenbach commented on #2419
Look at the html source code for autoComplete component in the showcase.
[autoComplete in showcase](https://www.primefaces.org/showcase/ui/input/autoComplete.xhtml)
On line 393 you find the following:
[code]
So there is a div element inside a span element. That reports the w3c validator as an error.
If you open the following link, a lot errors will be reported. The one I taking about is at line 39

[2017-06-15 07:58] MilosHavranek opened #2441 "p:fileUpload accepts false RegEx matches not specified in "allowTypes" and "accept""
## 1) Environment
- version: **PrimeFaces maven latest 6.1.1**
- Javax.Faces version: **org.glassfish:javax.faces:2.3.1**
- Does not work since version: **5.3 first reported in 2015** (https://github.com/primefaces/primefaces/issues/982)
- Application server + version: **Tomcat 9.0.0.M21**
- Affected browsers: not bound to browsers (tested malfunction on latest firefox, latest chrome)

## 2) Expec

[2017-06-15 08:13] pkphilip commented on #2179
I had to follow the instructions given in Stackoverflow by MagGGG:
https://stackoverflow.com/questions/21076179/pkix-path-building-failed-and-unable-to-find-valid-certification-path-to-requ
You need to make some changes in how you navigate within Firefox so that you export the certificate as the instructions given in stackoverflow may have been for an older version of Firefox.

1.  Go to URL in yo

[2017-06-15 09:38] mmariotti commented on #2277
I stumbled upon this too.
But I don't think it's resolvable, seems like a chicken-egg problem.

The listeners `onNodeUnselect`/`onNodeSelect` do modify the selected attribute of some node, but the Tree component has no knowledge about that because the listeners are called in `INVOKE_APPLICATION` phase.
At that time the Tree has already computed the underlying selection in a previous phase, **and h

[2017-06-15 11:06] melloware commented on #2441
Similar to #982 ??

[2017-06-15 11:06] melloware commented on #982
Similarto #2441

[2017-06-15 11:14] MilosHavranek commented on #2441
I was looking if the issue was already reported and found #982 which wasn't resolved/closed. I assume it can be the same issue but rather than worry about #982 i would be glad if someone looked into issue i face, but if #982 can help i will be glad. 👍

[2017-06-15 14:25] mertsincan opened #2442 "Add displayMode attribute to Clock"
Valid values are digital(default)  and analog.

For displayMode="analog", PFExtensions Analog Clock;
https://www.primefaces.org/showcase-ext/sections/analogclock/basic.jsf

[2017-06-15 14:35] #2442 closed, assigned to nobody

[2017-06-16 06:28] PlassJ opened #2443 "Datatable headerRow expanded attribute"
While using the Datatable with expandableRowGroups, it would be really nice to control the togglestate of each headerRow.

I would like to suggest an expanded attribute for headerRow, see sample XHTML.

Sample XHTML:
[code]

[2017-06-16 08:00] MaurerThomas commented on #1442
I am also facing the same problem on PF 6.0. Any updates regarding this issue?

[2017-06-16 08:04] cnsgithub opened #2444 "ImageCropper renders transparent image as black"
![cropper](https://user-images.githubusercontent.com/13161711/27217674-1bd76c6c-527b-11e7-9494-cfeb6efdefc4.png)

See on Showcase (I just changed the img src to a transparent one to reproduce the image)

Either it's a bug - or i'm missing a way to configure it. Seems that JCrop supports it

https://stackoverflow.com/questions/18319594/jcrop-turns-transparent-image-black

[2017-06-16 08:34] mertsincan opened #2445 "Horizontal Scrolling does not work with Frozen columns when scroll width is 100 percent"
Reported By PRO User;

[2017-06-16 08:36] itdiam opened #2446 "p:colorPicker converter is not invoked"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: Payara 172
- Affected browsers: all

## 2) Expected behavior

When using the converter attribute of the p:colorPicker component the converter's getAsObject and getAsString methods should be invoked when setting and getting values of the component.

## 3) Actual behavior

The converter is not used and a ClassCastException i

[2017-06-16 08:37] #2445 closed, assigned to nobody

[2017-06-16 10:50] tandraschko commented on #2419
AFAICS it's just temporary there. If you type something, the panel will be appended to the body.

[2017-06-16 10:50] tandraschko commented on #2446
Feel free to provide  a PR!

[2017-06-16 10:52] tandraschko commented on #2444
I think it's related how we crop the image on the server side with BufferedImage ;)
Feel free to provide a PR.

[2017-06-16 10:53] tandraschko commented on #982
Duplicate

[2017-06-16 10:53] #982 closed, assigned to nobody

[2017-06-16 10:54] tandraschko commented on #2441
Feel free to provide a PR!
JFYI: "accept" just renders the html native accept attribute. allowTyped is for the JS plugin client side.

[2017-06-16 13:13] stiemannkj1 opened #2447 "p:socket with transport="long-polling" causes XML Parsing Errors in Firefox"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest sources in GitHub? Yes
- Application server + version: Jetty, Tomcat
- Affected browsers: **Firefox**

## 2) Steps to reproduce

1. Add the `transport="long-polling"` attribute to the `p:socket` in [PrimeFaces Showcase **`src/main/webapp/push/counter.xhtml`** (Line 43)](https://github.com/primefaces/showcase/blob/master/src/m

[2017-06-16 13:16] stiemannkj1 commented on #2394
I can still reproduce the error in the PrimeFaces showcase with the latest PF build (and scripts).

[2017-06-16 15:21] mjiderhamn opened #2448 "p:defaultCommand triggered by browser password managers due to missing keyCode.NUMPAD_ENTER declaration"
## 1) Environment
- PrimeFaces version: 5.0+
- Does it work on the newest released PrimeFaces version? No (determined from source code)
- Does it work on the newest sources in GitHub? No (5162cf1bf281cacebd665ae5922fc5a0b1469406)
- Application server + version: Resin (irrelevant)
- Affected browsers: Chrome 59, Safari 9

## 2) Expected behavior
`<p:defaultCommand />` is supposed to be triggered wh

[2017-06-16 15:24] mjiderhamn commented on #1941
Quite likely this is a duplicate of #2448. @laurinmueller, would you mind trying the workaround I provided there?

[2017-06-16 16:20] Rapster opened #2449 "Add stickyTopAt attribute to DataTable"
So far, a sticky always goes to the top the page, but I'd like to make it sticky relative to the header of my page (otherwise it does not look fancy at all). I'll show you an example with Barcelena layout (it's a mock)

![sticky](https://user-images.githubusercontent.com/7521311/27233917-7aa25e24-52bb-11e7-8d92-3ee0d63ee3fb.png)

It would be really fancy to have the columns sticky to the header of

[2017-06-17 00:43] ndrikdarto commented on #2086
Hi all,
i'm having the same issue. It seems to be an JS error.

![pf fd error js](https://user-images.githubusercontent.com/29494455/27248632-a978ba0c-5330-11e7-986b-79e3ddd897de.PNG)

I use Primefaces 6.1 community library.

has someone solved the issue?

[2017-06-17 01:17] ndrikdarto commented on #1253
@tandraschko
I think, there is a JS error.
The method RequestContext.getCurrentInstance().closeDialog(Object) won't close the dialog and the dialogReturn method is not invoked. In Firebugs console give a JS error.

![pf fd error js](https://user-images.githubusercontent.com/29494455/27248942-17cafcf0-5335-11e7-849c-4096c255d2a9.PNG)

I tried this with Primefaces 6.1 community library. When I chang

[2017-06-18 13:33] melloware commented on #2448
Very good debugging.    I will let @tandraschko weigh in but it sounds like your workaround to add NUMPAD_ENTER needs to be put somewhere in the PF default code since its removed from jquery-ui.

[2017-06-19 06:33] cnsgithub commented on #2444
I don't have a build environment for primefaces set-up right now to test it or to provide a PR. Please check the following potential problematic lines:

[code]
[code]
I've tried to set the bgColor default to '' (empty string) - then it works

https://stackoverflow.com/questions/18319594/jcrop-turns-transparent-image-black

[2017-06-19 07:54] patzi commented on #2446
Stumbled over this problem myself on Friday. I try to make a pull request.

[2017-06-19 11:38] cnsgithub commented on #1715
I think the question wether the paginator should be displayed or not should be done completely in client side to make things as simple as possible. As already stated in #1953 there is a way to do it with JS. However there was no actual implementation. So for those who need a working solution for this issue follow these steps:

1.  Set a widget Var for your table, and set  paginatorAlwaysVisible="t

[2017-06-19 12:09] aimad-majdou opened #2451 "Option to hide the Event time in p:schedule"
When you add a new `DefaultScheduleEvent` in the schedule the event is added with it's title concatenated with the time, like this :

![image](https://user-images.githubusercontent.com/16216620/27284198-3984302e-54e7-11e7-9682-24a24f51f26d.png)

in some cases I want this time to be hidden so it looks like this :

![image](https://user-images.githubusercontent.com/16216620/27284252-65ed0366-54e7-11

[2017-06-19 12:52] NicolaIsotta opened #2452 "p:panelGrid, header lacks padding when columns > 0"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) NO
- Application server + version: Tomcat 7
- Affected browsers: All

## 2) Expected behavior
The header of the `p:panelGrid` should have proper paddi

[2017-06-19 13:16] NicolaIsotta commented on #2452
The fix should be easy:
Add the line: `writer.writeAttribute("class", PanelGrid.CELL_CLASS + " ui-widget-header", null);`
in the [`PanelGridRenderer` class, line 270](https://github.com/primefaces/primefaces/blob/94b62d5dc9da7e1113fd6dbb03cf0099fa520cde/src/main/java/org/primefaces/component/panelgrid/PanelGridRenderer.java#L270).

[2017-06-19 13:23] OBreidenbach commented on #2419
In Germany websites of public authorities have to be accessible by handicapped people.
The accessibility is tested by a lot rules. One rule is, that the w3c validator has to run successful. The w3c validator is not very intelligent, it just takes the html as it is delivered. It does not help that it's just temporary there. It is there when the validator run.
I thought primefaces is interested in a

[2017-06-19 13:57] laurinmueller commented on #1941
@mjiderhamn You are absolutly right. I tried your workaround and it worked, so this is a duplicate of #2448

[2017-06-19 22:28] jxmai commented on #1715
Hi @cnsgithub , your workaround looks reasonable :+1: . I will give it a try later using the bug demo on the issue. If it works, I might raise a PR based on your idea since the information you provided can be accessed in `bindPaginator` which is called right after `update`.

![image](https://user-images.githubusercontent.com/10467831/27308485-652dd5ea-5514-11e7-959c-b07904c4239a.png)

[2017-06-19 22:49] melloware commented on #1715
@jxmai that sounds like a good plan.  Also do you mind checking out the Extensions forum somebody asked a CKEditor question and I am not sure I answered him correctly.

[2017-06-20 02:38] jxmai commented on #1715
@melloware No problem 😄  I believe you meant this: https://forum.primefaces.org/viewtopic.php?f=14&t=51402.  Yes, you can provide a custom config file to do some tweaks, but I am not sure whether this tweak is needed since there is not much difference to me during my testing. I don't have a forum account yet so you can make a reply in the forum linked to this post.

For example,

[code]

and the c

[2017-06-20 03:32] jxmai commented on #1715
No, the workaround cannot be applied into the framework directly since the number of `row` is less than the `rowPerPage` during the paginator's render time.

[2017-06-20 05:01] Maikel-Nait commented on #1290
BTW, I fixed it myself by overriding the original PrimeFaces.dialog.DialogHandler.

The original code in PF 6.1 has these two lines of code BEFORE a block that starts with the comment //adjust height

`dialogFrame.data('initialized', true);`
`rootWindow.PF(dialogWidgetVar).show();`
`//adjust height`

By just swapping these two lines AFTER the code that adjusts the height, the dialogs can be center

[2017-06-20 05:11] Maikel-Nait commented on #1393
I found a "better" solution myself, explained in the duplicated issue #1290
Maybe you can also take a look ...

[2017-06-20 09:21] mismanc opened #2453 "p:chips doesn't fire 'itemUnselect' ajax event when a chip deleted with backspace"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Not tested
- Application server + version: Wildfly 10.1
- Affected browsers: All

## 2) Expected behavior
When you delete a chip from p:chip element w

[2017-06-20 09:49] Rapster commented on #1290
You can write a PR so @tandraschko or @mertsincan  can have a look and merge into PF master branch

[2017-06-20 11:25] melloware commented on #2453
I see the problem.  Working on a PR now.

[2017-06-20 11:43] melloware commented on #2452
I made a slight change to your suggestion and submitted a PR. I moved it up to line 264 to replace the "class" attribute that was being set there.

[2017-06-20 11:47] melloware commented on #2448
This is a bigger issue as NUMPAD_ENTER constant is used in all the following components.

accordion\accordion.js
autocomplete\autocomplete.js
columntoggler\columntoggler.js
core\core.js
datatable\datatable.js
fieldset\fieldset.js
fileupload\fileupload.js
forms\forms.js
menu\menu.js
overlaypanel\overlaypanel.js
paginator\paginator.js
picklist\picklist.js
spinner\spinner.js
tabview\tabview.js
termin

[2017-06-20 12:28] NicolaIsotta commented on #2452
Thanks @melloware .
Are you sure that the `PanelGrid.CELL_CLASS` class should be added to the `tr`? In the other "path", when  `columns > 0`, it's applied to the `td` element.

[2017-06-20 13:07] melloware commented on #2452
You are right.  I just fixed it back to your original suggestion if you want to review.

[2017-06-21 06:53] quetsalkoatl opened #2456 "DataTable: when editable (cell), draggableRows and selection (single) -> PF(var).showCellEditor() does not work"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: Apache Tomcat 8.0.23
- Affected browsers: FF ESR 52.1.0, IE 11

## 2) Expected behavior
Single cell editor should appear on contextMenu action. `<p:contextMenu for="tblId">` and  `<p:menuitem value="Edit" icon="fa fa-pencil" onclick="PF('tblVar').showCellEditor();return false;"/>`

## 3) Actual behavior
On left-click the e

[2017-06-21 07:09] quetsalkoatl opened #2457 "DataTable: draggableRows and selection (single) -> dragged row sould be selected"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: Apache Tomcat 8.0.23
- Affected browsers: FF ESR 52.1.0, IE 11

## 2) Expected behavior
When `<p:dataTable>` has `draggableRows="true"` and` selectionMode="single"`, dragged row sould be selected afterwards

## 3) Actual behavior
When row is dragged, it is not selected.

## 4) Steps to reproduce
Create dataTable which drag

[2017-06-21 07:47] NicolaIsotta commented on #2452
I've tested the fix, it's working properly.

[2017-06-21 07:53] quetsalkoatl opened #2458 "p:dataTable scrollHeight="100%", height calculated wrong inside dialog"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: Apache Tomcat 8.0.23
- Affected browsers: FF ESR 52.1.0, IE 11

## 2) Expected behavior
When dataTable inside dialog box has scrollHeight="100%" it should fit the box.

## 3) Actual behavior
Wrapper around table with ~20 rows (`<tbody>` has height lesst han 800px) has height greater than 15000px:
`<div class="ui-datatable-

[2017-06-21 08:42] quetsalkoatl commented on #2458
Found a way to make this work by setting `<body>` height to 100vh and `<form>` height to 100%

[2017-06-21 08:42] #2458 closed, assigned to nobody

[2017-06-21 12:38] yeraym commented on #2155
I was having the same issue setting MultiViewState in DataTable with LazyLoad using 6.1.

I was trying to solve it in the backing bean by binding the table to a UIComponent (my idea was to save the TableState manually) when I noticed that after binding the table the problem disapeared.

So, if you just set the binding attribute of the LazyLoad DataTable to a UIComponent in the backing bean the Mul

[2017-06-21 17:28] matheusdimas opened #2459 "Mindmap has no label in the path"
Hello,

I would like to use <p: mindmap> to display rdf graphs (semantic web). For this I would need to add a label (text) in the path.

However, you can only add labels to the ellipses. Right?

I thank the attention.

[2017-06-21 18:31] dudulive opened #2460 "wizard responsive"
Is there any prediction of the wizard component being responsive?

[2017-06-21 18:54] tandraschko commented on #2459
questions -> forum.

[2017-06-21 18:54] #2459 closed, assigned to nobody

[2017-06-21 18:55] tandraschko commented on #2460
questions -> forum

[2017-06-21 18:55] #2460 closed, assigned to nobody

[2017-06-21 20:27] #2446 closed, assigned to tandraschko

[2017-06-21 20:27] tandraschko commented on #2446
Thanks for the PR!

[2017-06-21 20:29] tandraschko commented on #2448
Why has it been removed from jquery plugins? Where was it defined exactly?
Would be great if you could investigate a little bit more ;)

[2017-06-21 20:42] tandraschko opened #2461 "MultiWindow support for IdleMonitor"
to share the lastIdle date between all tabs in the same webapplication

https://gist.github.com/tandraschko/73ae2f7f76473203169c0ee808e6727e

[2017-06-22 01:26] elfwine opened #2462 "core.js#calculateScrollbarWidth incorrect on IE 11 / misaligned datatable's header column with table body when scrollable"
I have a dynamic p:datatable (with scrollable=true) inside of p:dialog that popout when the button is press from main page.
Whenever the table's data is longer than the dialog's height, the table's header width isn't adjusting.
I inspect through developers tool and found out that Primefaces.calculateScrollbarWidth() always return 0 on IE 11. Chrome and FF browsers have no problem.
I checked core.j

[2017-06-22 03:17] Maikel-Nait commented on #1290
Done. Created PR here:  [https://github.com/primefaces/primefaces/pull/2463](https://github.com/primefaces/primefaces/pull/2463)

[2017-06-22 10:01] #2131 closed, assigned to nobody

[2017-06-22 11:06] melloware commented on #2448
@tandraschko It looks like NUMPAD_ENTER was defined in JQuery UI Plugins...

PF 4.0 used Jquery UI 1.10.3 = OK
PF 5.0 used Jquery UI 1.10.3 = OK
PF 6.0 used Jquery UI 1.11.0 = REMOVED
PF 6.1 used Jquery UI 1.11.3 = REMOVED

https://github.com/primefaces/primefaces/blob/4_0/src/main/resources/META-INF/resources/primefaces/jquery/jquery-plugins.js#L35

[2017-06-22 11:14] martin654 opened #2464 "SelectOneRadio with custom layout and required="true" missing "ui-state-error" class"
## 1) Environment
- PrimeFaces version: 6.1.2
- Does it work on the newest released PrimeFaces version? Version? No (6.1.2)
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: Any
- Affected browsers: Any

## 2) Expected behavior
When used custom layout for selectOneRadio the radi

[2017-06-22 11:32] martin654 commented on #2464
I suggest to refactor RadioButtonRenderer class a bit. The for attribute from p:radioButton is already evaluated to SelectOneRadio here, so we could take the required value from it and render the "ui-state-error" in encodeOptionOutput.

[2017-06-22 11:38] mjiderhamn commented on #2448
We're on PF 5.2 which uses jQuery 1.11.0 (i.e. removed). So This changed somewhere between 5.0 and 5.2.

[2017-06-22 13:47] movalz commented on #2343
This change produces trouble for me: I have an onchange listener which fires an AJAX request if value changes. With this code this AJAX request is fired even if no change has happened. Reason is, that code
`oldValue = $this.copyValueToHiddenInput(true)`
always triggers a change event - in opposite to the synopsis of this issue!

[2017-06-22 14:11] movalz opened #2465 "inputNumber: clearing value doesn't function with browser Edge"
## 1) Environment
- PrimeFaces version: 6.1.2
- Does it work on the newest released PrimeFaces version? Version? Yes (6.1.2)
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source): Yes
- Application server + version: Tomcat 7
- Affected browsers: Edge

## 2) Expected behavior
When user clears input of an p:inputNumber

[2017-06-22 14:23] tandraschko commented on #2343
Should work fine in github master.

[2017-06-22 14:25] tandraschko commented on #2465
Please provide a PR!

[2017-06-22 14:26] tandraschko commented on #2448
why did jquery ui removed the code? Could you search for the root issue?

[2017-06-22 14:26] movalz commented on #2343
what is the  reason that you trigger a change event when retrieving the old value? I thought you want to avoid triggering change events which aren't real changes, but this code introduces such change events.

[2017-06-22 14:36] tandraschko commented on #2343
The code doesn't just get the old value, we also write back to the hidden input.
Probably we just just compare the old and new value in #copyValueToHiddenInput.

[2017-06-22 15:44] darckyn opened #2467 "Proposal: Support for jQuery 3"
Hi.

I just tried to use jQuery 3 in my project and PrimeFaces is not compatible.

I removed jQuery 2 and applied the 3, which resulted in several errors like: not finding functions like unload.
Which made the PrimeFaces break at various times and forced me to go back to version 2.

Please could you consider making PrimeFaces with jQuery 3 support?

I am using the PrimeFaces 6.1

jQuery Migrate co

[2017-06-22 18:03] tandraschko commented on #2467
We decided some months ago to update to jquery 2 instead of upgrading to jquery 3 as it requires more changes (and probably migrate plugins). And we also depend on some third party plugins.

I'm sure we will consider this in the future but likely not this year.
Will close it for now.

[2017-06-22 18:03] #2467 closed, assigned to nobody

[2017-06-22 18:06] #2453 closed, assigned to tandraschko

[2017-06-22 19:10] sorontur opened #2469 "fix JSF 2.0 incompatible use of enum in UIRepeat"
1) Environment
- PrimeFaces version: 6.2.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Websphere 8.5.5.9
- Affected browsers: all (server side issue)

3) Actual behavior
There is an Error because of the missing EnumValue of VisitHint.SKIP_ITERATION in JSF 2.0 This was already solved in anot

[2017-06-23 06:48] tandraschko commented on #2469
Thanks for the PR!

[2017-06-23 06:48] #2469 closed, assigned to tandraschko

[2017-06-23 07:29] #2461 closed, assigned to tandraschko

[2017-06-23 07:30] tandraschko opened #2470 "[documentation] IdleMonitor - multiWindowSupport"

[2017-06-23 11:13] melloware commented on #2448
@tandraschko I have looked through their GitHub and I can see the code was removed between their 1.10.4 and 1.11.0 branches but I can't find any ticket on why they removed it.

[2017-06-23 11:18] tandraschko commented on #2448
https://bugs.jqueryui.com/ticket/9269

will think about it how i will solve it in a nice way.

[2017-06-23 11:35] melloware commented on #2448
Ahh I am looking at their github didn't realize they had their own bug tracking site sorry!

[2017-06-23 12:31] martin654 commented on #2464
Sorry, my first time creating PR for Primefaces. Closed the first PR because it didn't contain both commits. Second PR should be OK.

[2017-06-24 08:05] Lanzjess commented on #2341
Since PrimeFaces 6.0.19 onwards including 6.0.20 and 6.1.x(6.1.1 and 6.1.2) our code for column filter watermark is not working as below:

`<h:form id="myForm">
  <p:dataTable id="myTable">
<p:column id="column2" filterBy="column2">
      <f:facet name="header">
      <p:watermark for="@(#myForm\\:myTable\\:column2\\:filter)"
      value="Watermark 2" />
      <h:outputText value="Column2" />

[2017-06-24 20:09] #2465 closed, assigned to tandraschko

[2017-06-24 20:24] #2419 closed, assigned to tandraschko

[2017-06-26 07:11] #2464 closed, assigned to tandraschko

[2017-06-26 07:11] tandraschko commented on #2464
Thanks!

[2017-06-26 08:13] martin654 commented on #2464
Could you pleasae put it into one of 6.1.x versions? Thank you!

[2017-06-26 08:37] gollrich commented on #2271
we are experiencing the same issue with 6.1.2,

[2017-06-26 09:13] tandraschko commented on #2464
Thats up to @mertsincan ;)

[2017-06-26 10:57] martin654 opened #2474 "p:selectManyCheckbox with layout="custom" and required="true" missing "ui-state-error" class"
## 1) Environment
- PrimeFaces version: 6.1.2
- Does it work on the newest released PrimeFaces version? Version? No (6.1.2)
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: Any
- Affected browsers: Any

## 2) Expected behavior
When used custom layout for selectManyCheckbox, the

[2017-06-26 10:58] martin654 commented on #2474
The problem is the same as in #2464. I will provide PR

[2017-06-26 11:08] #2474 closed, assigned to tandraschko

[2017-06-26 11:08] tandraschko commented on #2474
Thanks!

[2017-06-26 11:10] martin654 commented on #2474
Could you pleasae put it into one of 6.1.x versions? Thank you!

I guess its up to **@mertsincan**

[2017-06-26 14:03] PlassJ opened #2476 ""Uncaught TypeError" for autocomplete onblur event"
## 1) Environment
PrimeFaces version: 6.1.2
Does it work on the newest PrimeFaces version? No
Application server + version: WildFly 10.1.0
Affected browsers: all

## 2) Expected behavior
	No JavaScript error.

## 3) Actual behavior
	JavaScript error.

## 4) Steps to reproduce
	Using autocomplete's onblur and call an remoteCommand.
	The remote command processes the autocomplete.

	Basically process

[2017-06-27 09:49] kukel opened #2477 "Select*: Add 'datalist' functionality to reduce DOM"
This is an enhancement request for PrimeFaces `select*` components especially the `p:selectOneMenu` (but that is due to personal 'need').

We have an application where we have to enter a lot of fields in multiple languages and for some stupid reason we cannot use 'autoComplete' but need to have the full list. This list of languages is rather long and contains flags to. Having 25 fields in this for

[2017-06-27 11:54] kukel commented on #2338
Sorry, did not get any notification of this comment. Will create a pull request the coming days

[2017-06-27 12:00] tandraschko commented on #2477
I like the idea, i will also think about the best solution.

[2017-06-28 07:32] djmj opened #2478 "ColumnToggler: Pass specific column attribute in toggle event"
If a new column attribute like `toggleId` is available it could be passed to the column toggler event.

It would make it more developer friendly in stateful mode since no visibility lookups would be required using the index. Keeping track of column-index is hard to maintain in big tables and results in problems in combination with _columnGroup_ and reorder mode.

A  new attribute `toggleId` would

[2017-06-28 08:01] tandraschko commented on #2478
So what should we do here? Putting the column in EL scope? If yes, it would be great if you could describe your issue like this and not doing it like a forum question ;)

[2017-06-28 08:19] djmj commented on #1446
Its not a bug. The client widget of the column toggler is still visible. By updating your table you create a new instance leaving the old client instance of column toggler open. You must manually hide it before update or move it outside the scope of the table.

	<p:columnToggler widgetVar="colTogglerWidgetVar">
		<p:ajax event="toggle" process="@this"
	        	onstart="PF('colTogglerWidgetVar').h

[2017-06-28 09:13] cnsgithub commented on #742
Possible CSS workaround:
Way better than using images..

[code]

Result:

![image](https://user-images.githubusercontent.com/13161711/27629480-c8537e60-5bf2-11e7-9bac-85a4c0fe20c5.png)

[2017-06-28 09:43] djmj commented on #2478
I changed it :) also changed whole definition, since column-id would not be enough if used with column-groups. This would lead to duplicate id's.

[2017-06-28 09:53] djmj opened #2479 "ColumnToggler not displaying headerText text if facet used."
## 1) Environment

- PrimeFaces version: 6.1
- Application server + version: Glassfish 4.1.1 Mojarra 2.2.9

## 2) Expected behavior

Either display content of facet _header_ or as a fallback display _headerText_ if value is empty.

## 3) Actual behavior

No label is shown.

http://i.imgur.com/mY2PyBW.jpg

## 4) Steps to reproduce

Just display an icon in facet _header_ and use column toggler.

##

[2017-06-28 11:08] melloware commented on #2465
@mertsincan please include this in 6.1.3 thank you!

[2017-06-28 11:17] #2476 closed, assigned to tandraschko

[2017-06-28 11:19] tandraschko commented on #2478
I don't understand it anymore :/ where is "year" is defined?

[2017-06-28 11:20] djmj commented on #2478
Sorry i forgot to add `toggleId="year"` to `<p:column>`

[2017-06-28 12:15] jmorris1501 commented on #1446
Updated columnToggler to have the "hide" ajax event, and tried the same with the datatable. This was the result:

javax.servlet.ServletException: /pages/reports/summaryhours.xhtml @97,98 <p:ajax> Event:hide is not supported.
	javax.faces.webapp.FacesServlet.service(FacesServlet.java:659)
	org.apache.tomcat.websocket.server.WsFilter.doFilter(WsFilter.java:52)
	com.stanchion.tma.util.AuthFilter.doFi

[2017-06-28 17:39] djmj commented on #1446
@jmorris1501 There is no ajax event _hide_ currently. It was just an idea for a feature request.

[2017-06-28 17:45] djmj opened #2480 "ColumnToggler - add attribute to disable client javascript update"
Currently _ColumnToggler_ uses javascript to hide and show columns.

If a statefull server side model is used to toggle visibility of columns using `onToggle` ajax event confusing updates can occur.

- First the client javascript updates the table
- Second the ajax request updates the table (which may invoke lazy load and take a second)

The user sees both updates if the server is not fast enough.

[2017-06-28 17:50] tandraschko commented on #2480
Please follow our rules and provide every info + samples ;)

[2017-06-28 19:36] mdzaebel opened #2481 "Autocomplete: Edit items"
I need to edit items before the last one in a Primefaces autocomplete field:
[code]
It's possible to delete the item before with the mouse, but not to change it or go back with cursor left. If I edit the "Tags" field of Stackoverflow questions, it's for example possible to click on an item, which is transformed to editable text and an autocompletion is visible for inner tags too. Even the http://j

[2017-06-28 21:17] mertsincan commented on #2474
Thanks @martin654 ;)

[2017-06-28 21:47] mertsincan opened #2482 "Converter problem on Mobile autocomplete"
Reported By PRO User;

[code]
we having a strange visualization of the object when reopen the page for editing it after save

[2017-06-28 22:22] #2482 closed, assigned to nobody

[2017-06-28 22:41] mossaab0 opened #2483 "SelectOneButton: trigger change event also on unselect"
**[Update]** My bad. This is about `SelectOneButton`. Sorry!

## 1) Environment
- PrimeFaces version: 6.1

## 2) Expected behavior

Firing an AJAX request upon button unselection.

## 3) Actual behavior

Nothing happens when an already selected button is unselected. I'd like an appropriate AJAX request to be fired as well.
My understanding is that `p:selectOneRadio` already supports the `click` ev

[2017-06-29 07:23] tandraschko commented on #2483
can't you just use the change event?

[2017-06-29 08:41] mossaab0 commented on #2483
I'd love to! But unselecting a button (by clicking on a selected button) fires nothing.

[2017-06-29 08:59] tandraschko commented on #2483
how can you even unselect it? tried in the showcase but i can't deselect a selected item.

[2017-06-29 09:02] mossaab0 commented on #2483
[Here](https://www.primefaces.org/showcase/ui/input/oneButton.xhtml), I click on `PS4`, it becomes blue (i.e., selected). I click on it again, it becomes white (unselected).

[2017-06-29 09:05] mossaab0 commented on #2483
My bad. This is about `SelectOneButton`. Sorry!

[2017-06-29 09:09] tandraschko commented on #2483
:D
so i think it would be enough if unselect would also trigger the change event.

[2017-06-29 12:07] melloware commented on #2448
I am wondering if we can just do as suggested above and just add this somewhere in PF after jquery=ui loads.  I just don't know which PF script this should go in??

[code]

[2017-06-29 12:09] tandraschko commented on #2448
Will check it.
Could you please also check if we also other already removed keycodes?

[2017-06-29 12:10] melloware commented on #2448
I will investigate if we are using any of the others that were removed and report back.

[2017-06-29 13:51] mossaab0 commented on #2483
Sure, that should work.

[2017-06-29 14:56] #2483 closed, assigned to tandraschko

[2017-06-29 14:57] tandraschko commented on #2479
Please provide a PR

[2017-06-29 14:59] tandraschko commented on #2462
A PR would be great

[2017-06-29 14:59] tandraschko commented on #2451
A PR would be great.

[2017-06-29 15:01] tandraschko commented on #253
Does it work with a current version?

[2017-06-29 15:05] #240 closed, assigned to tandraschko

[2017-06-29 15:06] tandraschko commented on #237
So this is no real bug @kukel ?

[2017-06-29 15:07] tandraschko commented on #227
a PR would be great ;)

[2017-06-29 15:08] tandraschko commented on #201
Does it still occur? @melloware Would you like to check that? AFAIR you did some PRs for autocomplete :D

[2017-06-29 15:08] tandraschko commented on #449
Does it still occur in a newer version?

[2017-06-29 15:19] tandraschko commented on #546
Still the same with the current version?

[2017-06-29 15:48] kukel commented on #2390
Hmmm... mostly these kinds of posts do not attract very big crowds on the forum, and to keep track of it, an issue sounded 'better'. But ok... I'll wait the result (or do you guys expect me to still post on the forum)?

[2017-06-29 15:51] kukel commented on #2363
I'll see if I can open up my FlyingSaucer based html to pdf renderer. It also renders images in tables and many other css3 things...

[2017-06-29 16:22] AndrewShwaika opened #2484 "Duplicates of menu overlay panels at the bottom of <body>"
# Duplicates of menu overlay panels at the bottom of `<body>`

JQuery ID selector in menu.js and overlay.js  is used incorrectly for the removal of duplicates of overlay panels, because the expression $("#id") returns **zero or only one** element. [Spec]( http://api.jquery.com/id-selector/)

The expression **if(this.jq.length > 1)** will never be *true*.

## 1) Environment
- PrimeFaces version: 6.

[2017-06-30 06:30] OBreidenbach commented on #253
Can not reproduce the bug with the current version 6.1. Closing the ticket.

[2017-06-30 06:30] #253 closed, assigned to nobody

[2017-06-30 07:39] tandraschko commented on #253
Thanks!

[2017-06-30 10:51] kukel commented on #165
or even a full page...

[2017-06-30 11:16] melloware commented on #2448
I have confirmed of the keys removed only NUMPAD_ENTER is used in PF.

	        NUMPAD_ADD: 107,
		NUMPAD_DECIMAL: 110,
		NUMPAD_DIVIDE: 111,
		NUMPAD_ENTER: 108,
		NUMPAD_MULTIPLY: 106,
		NUMPAD_SUBTRACT: 109,

[2017-06-30 11:34] tandraschko opened #2486 "Splitup jquery-plugins"
Currently it's not easy maintainable...

[2017-06-30 11:36] gako opened #2487 "TreeTable Filter with Paginator breaks due to JSON parse failure"
## 1) Environment
- PrimeFaces version: 6.1.2
- Application server + version: Glassfish 4.1.1 (Payara 4.1.164)
- Affected browsers: Firefox, Chrome, ...

## 2) Expected behavior

I filter the tree table with a value and the json response is validated correctly
...

## 3) Actual behavior

The return partial response after filtering cannot be parsed by the browser due to json problem

## 4) Steps to

[2017-06-30 11:38] tandraschko commented on #2487
A PR would be great!

[2017-06-30 12:35] gako commented on #2487
PR: https://github.com/primefaces/primefaces/pull/2488

PS.: hope i did everything right, it's my first one :-)

[2017-06-30 13:55] #2486 closed, assigned to tandraschko

[2017-06-30 14:10] tandraschko commented on #2448
Added your snippet @melloware, please check if it's fixed.

[2017-06-30 14:12] #2487 closed, assigned to tandraschko

[2017-06-30 14:15] tandraschko commented on #2480
Will close it for now. Please create a new one with all details and examples.

[2017-06-30 14:15] #2480 closed, assigned to nobody

[2017-07-01 11:06] melloware commented on #2448
It seems to be working for me after this commit.  I like that you rearranged those scripts I think it will make it easier to maintain going forward.

[2017-07-01 11:52] tandraschko commented on #2448
Great! Yep :)

[2017-07-01 11:52] #2448 closed, assigned to tandraschko

[2017-07-02 00:35] frcandia opened #2489 "Problem with InputMask in Mobile"
The PrimeNG InputMask doesn't work in mobile.
The PrimeNG's example page for InputMask doesn't work for Android Mobile too.

[2017-07-02 01:24] workmonitored commented on #546
I am no longer using primefaces at my job.

On Jun 29, 2017 9:19 AM, "Thomas Andraschko" <notifications@github.com>
wrote:

Still the same with the current version?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/primefaces/primefaces/issues/546#issuecomment-311999655>,
or mute the thread
<https://github.com/notifications/unsubsc

[2017-07-02 08:25] tandraschko commented on #2489
Use the right issue tracker ;) https://github.com/primefaces/primeng

[2017-07-02 08:25] #2489 closed, assigned to nobody

[2017-07-02 16:16] tandraschko opened #2490 "Splitup forms.js"
For better history and maintainability in the future

[2017-07-02 16:19] #2490 closed, assigned to tandraschko

[2017-07-02 20:28] #1779 closed, assigned to tandraschko

[2017-07-02 20:31] tandraschko commented on #1437
PR or not interested anymore?

[2017-07-02 20:38] tandraschko commented on #2330
Currently there is also no select event. A PR would be great!

[2017-07-02 20:39] tandraschko commented on #2318
A PR would be great!

[2017-07-02 21:48] djmj commented on #2480
I am not sure what to explain here more. In current PF 6.1 there is no ability to disable column toggler client update in favor of own server-side control. I edited the question.

[2017-07-02 22:01] djmj opened #2491 "ColumnToggler - add server mode"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version: No since its new feature
- Application server + version: Glassfish 4.1.1
- Affected browsers: All

## 2) Expected behavior

If we use server side visibility model (statefull) to toggle column visibilitly like _visible="#{testBean.isColumnVisible(1)}"_ the client javascript is not responsible anymo

[2017-07-03 00:35] djmj commented on #2477
If p:cellEditor is used, this may be related to #362?

[2017-07-03 00:43] djmj commented on #2168
Just mention, p:textEditor has no source code functionality. How shall we use PrimeUI in CMS then ;)

[2017-07-03 06:50] tandraschko commented on #2168
Use CKEditor from PFE. CLEditor is not maintained since years.

[2017-07-03 07:20] normanheinrich opened #2492 "DataTable: Column groupRow based on contents of another column"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? No, its a new feature
- Application server + version: Tomcat 8
- Affected browsers: All

## 2) Expected behavior
If i set groupRow = "true" on a column i'd like to specify another column,
so that the resulting rowspan is limited to the rowspan computed based on the contents of the referenced colum

[2017-07-03 08:37] mrukhaia commented on #1283
I have the same issue with treeTable -- when it is empty, right click does not show context menu.

[2017-07-03 13:20] mertsincan opened #2494 "Add draggableRowsFunction attribute to DataTable"
Method expression to execute after dragging row.

Exp;
[code]

[2017-07-03 13:32] #2494 closed, assigned to nobody

[2017-07-04 08:15] marroyons commented on #2376
Good job cracks.

[2017-07-04 09:49] mertsincan opened #2495 "Add lineCap attribute to Knob"
Gauge stroke endings. Valid values are "butt" (default) and "round".

[2017-07-04 09:51] #2495 closed, assigned to nobody

[2017-07-04 12:04] mertsincan commented on #2341
Hi @Lanzjess,

Could you please create a new Github issue for your issue?

[2017-07-04 12:12] mertsincan commented on #2271
Hi @gollrich,
I couldn't replicate it with 6.1.2. Could you please create a new Github issue for your issue? Also, please add a sample code into it to replicate for us.

[2017-07-04 14:27] Rapster opened #2496 "Toggle all checkbox select hidden checkbox"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers:

## 2) Expected behavior
"Toggle all" should only check visible checkboxes

## 3) Actual behavior
"T

[2017-07-05 08:45] tgutan commented on #2210
Hi all,
There is still an issue with the grouping (groupRow), when the table has "rows" (with pagination).
Example:
data set:
[["Audi", "red"], ["Audi", "blue"], ["Opel", "white"]]

**For**
<p:dataTable ...
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; rows="2"
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nb

[2017-07-05 11:54] mertsincan opened #2497 "Add type attribute to inputMask"
Exp;
<p:inputMask value="#{maskView.phone}" mask="(999) 999-9999" type="tel"/>

[2017-07-05 11:55] #2497 closed, assigned to nobody

[2017-07-05 12:09] ghost commented on #2062
I have similar issue. When I use a collapsible panel in combination with dialogs, it gives strange results. When I have multiple panels in the page which are all expanded, my dialogs are not visible anymore. When I have just a few, depending on the height of the panel, you can see the dialog is coming partially on the screen. This with default behaviour (no attributes configured). Also configuring

[2017-07-05 12:13] tandraschko commented on #2062
Feel free to provide an PR - thats the easiest way to get it fixed.

[2017-07-05 13:59] Julienng opened #2499 "add toolbarVisible functionality to textEditor"
The purpose is to permit to hide the toolbar of textEditor.

# Usecase
This can be useful when you display a list of comment and provide a button to edit them.

- The list render all editor as readonly and hide the toolbar.
- The textEditor to edit an element provide a textEditor with a toolbar

# PR
see the proposition #2498

[2017-07-05 14:12] jschuck9 commented on #2210
@tgutan in your example you set rows="2".  This means that a maximum of 2 rows will be displayed per page.  It looks like your rendered results (as shown in example 2) are correct.  If you want the results to show as in your first example, set rows="3".

[2017-07-05 14:22] tgutan commented on #2210
@jschuck9, thank you kindly for your response. Technically, you are correct. Those are, indeed, 3 rows. But, conceptually (the way I see it, and I don't intend to impose my vision as correct), when you group them, you actually say: I have 2 car rows, but each car might have a subset of data.

Perhaps, I am seeing this from the perspective of the use case I have. If we are to go deeper into the con

[2017-07-06 06:37] tandraschko opened #2500 "[Documentation] textEditor: toolbarVisible"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-07-06 06:43] tandraschko commented on #2496
A PR would be great :)

[2017-07-06 06:54] #2153 closed, assigned to tandraschko

[2017-07-06 06:54] #1947 closed, assigned to tandraschko

[2017-07-06 08:14] Rapster commented on #2496
See #2501

[2017-07-06 12:17] tandraschko commented on #1150
Will close it for now - don't need it anymore and there is no perfect solution.

[2017-07-06 12:17] #1150 closed, assigned to tandraschko

[2017-07-06 12:20] tandraschko commented on #1493
As JSF 2.3 doesn't contain those changes, we should take care of it.
Could you share your solution how you did it?

[2017-07-06 12:21] mertsincan opened #2502 "Printer component does not work on IE11"

[2017-07-06 12:23] #2502 closed, assigned to nobody

[2017-07-06 12:26] #2496 closed, assigned to tandraschko

[2017-07-06 12:30] hitochan777 opened #2503 "[PrimeFaces showcase] chat example is not working"
## 1) Environment
- PrimeFaces version: 6.1
- Atmosphere version: 2.4.12
- Does it work on the newest released PrimeFaces version? Version?
No
- Application server + version: GlassFish 4.1.2
- Affected browsers:
Tested with Chrome only

## 2) Expected behavior
I am running [Chat example in showcase](https://www.primefaces.org/showcase/push/chat.xhtml).
1. Users can login
2. Users are notified when

[2017-07-06 12:43] cnsgithub opened #2504 "Suggestion - Add a way to consolidate locales or add the locales to the repo as a raw file"
Creating a locale js file with all locales currently is a bit complicated as it requires some copy & paste.

Am I missing a better way?

https://github.com/primefaces/primefaces/wiki/Locales

[2017-07-06 13:28] jschuck9 commented on #2210
@tgutan no problem!  :)  In this case it doesn't work quite like that.  The grouping doesn't result in a tree structure as such, rather it orders by and then spans common elements n rows for display purposes.  I recommend that you investigate a tree table to do what you are describing in this scenario.

[2017-07-06 13:30] tgutan commented on #2210
@jschuck9  Thanks! Suggestion welcome and noted!

[2017-07-06 14:40] Mobe91 opened #2506 "Galleria misses components.css resource dependency"
## 1) Environment
- PrimeFaces version: **6.1**
- Does it work on the newest released PrimeFaces version? Version? **No**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **No**

## 2) Actual behavior

`primefaces/src/main/resources-maven-jsf/ui/galleria.xml` does not contain a resource dependency to `components

[2017-07-06 15:04] tandraschko commented on #2506
A PR would be great!

[2017-07-06 17:55] dgofactory opened #2507 "InputNumber Client Side Validation doesn't allow to input values bigger or equal than 1000"
Same code is running flawless on version 6.0.14
On version 6.1.2 the issue arise, no matter which values you enter on maxValue and minValue

`                    <p:inputNumber id="myMoney"
                                   value="0.0"
                                   thousandSeparator=","
                                   decimalPlaces="2"
                                   decimalSeparator="

[2017-07-06 21:51] Rapster commented on #1493
I didn't implement anything actually... I guess [HTML util class](https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/util/HTML.java) should be completed with the above values

[2017-07-06 22:20] Mobe91 commented on #2089
I quickly ran the benchmarks for Edge/Chrome with/without optimization, here are the results:

- MS Edge (Microsoft Edge 38.14393.1066.0, Microsoft EdgeHTML 14.14393)
    - Normal case, without changes:
        - Toggle: 36s
        - Untoggle: 5s
    - PR version
        - Toggle: 2s
        - Untoggle: 2.5s
- Chrome 59.0.3071.115
    - Normal case, without changes:
        - Toggle: 0.5s

[2017-07-07 05:50] tandraschko commented on #2089
boah! thats crazy slow! :D

[2017-07-07 05:51] tandraschko commented on #1493
Not sure, i believe that we must also overwrite the getEventNames in all our input components.

[2017-07-07 06:04] #2506 closed, assigned to tandraschko

[2017-07-07 06:05] tandraschko commented on #2507
A deeper analysis and/or PR would be great!

[2017-07-07 06:07] tandraschko commented on #2504
probably because it's not complete. We may think about it if it's complete. The most locales are missing the validation messages.

[2017-07-07 06:13] cnsgithub commented on #2504
Better than nothing? You still can omit the validation messages for the start, since probably no one will translate them all, as you can pass your custom validation and required messages anyway with the appropriate component properties (validatorMessage / requiredMessage).

But as for the calendar translations you cannot. So it would be good if that is already integrated into primefaces or there w

[2017-07-07 06:33] cnsgithub commented on #2507
I just tried and could not really reproduce it using the latest 6.1.2. Code I used:

![image](https://user-images.githubusercontent.com/13161711/27945838-1e0d6b60-62ef-11e7-903b-d1cefed67a25.png)

[code]
[code]

[2017-07-07 07:38] mertsincan opened #2509 "ColumnToggler doesn't work on DataTable with frozen columns"
Reported By PRO User;

[2017-07-07 07:39] #2509 closed, assigned to nobody

[2017-07-07 09:12] tandraschko opened #2510 "SelectOneButton: Improve styling"
Currently ui-state-active is removed on focus and hover - BUT its still active
we should NOT remove the active-state

[2017-07-07 09:24] #2510 closed, assigned to tandraschko

[2017-07-07 15:32] evilkid opened #2512 "DataTable: validate cell editing values"
## 1) Environment
- PrimeFaces version: 5.3
- Does it work on the newest released PrimeFaces version: no
- Application server + version: Wilfly 10 Final
- Affected browsers: Chrome & Firefox

## 2) Expected behavior
When adding a new row dynamically in a p:datatable, jsf validators such as "required", should be executed when the cell editor loses focus.

## 3) Actual behavior
The validation only k

[2017-07-07 16:57] Rapster opened #2513 "Checking empty and nullity for String attribute"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Tomcat 7
- Affected browsers:

## 2) Expected behavior
The need is: if selection attribute is explictally set in my compo

[2017-07-07 19:26] mdzaebel opened #2514 "DataTable: cellEditInit event - cellEditMode=lazy"
https://www.primefaces.org/showcase/ui/data/datatable/edit.xhtml shows correctly the old/new value for a cellEdit event in the second table. However, an additional `<p:ajax event="cellEditInit" listener="#{dtEditView.onCellEditInit}" />` does not activate *onCellEditInit*, while the User Guide simply says "when a cell edit begins" (first bug). After looking into sources, I discovered, that setting

[2017-07-08 09:59] mdzaebel commented on #1990
see https://github.com/primefaces/primefaces/issues/2514

[2017-07-08 20:25] JohnSchneider opened #2515 "Captcha not compatible with context param javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL"
## 1) Environment
- PrimeFaces version: 6.1.0, 6.2-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No.  Tested with 6.2-SNAPSHOT as of 2017-07-08.
- Application server + version:  JBoss EAP 7.0.3 (based on Wildfly 10.0)
- Affected b

[2017-07-10 07:37] Rapster commented on #2513
https://stackoverflow.com/questions/33334192/tomcat-8-coerce-behaviour-null-strings-are-incorrectly-set-as-empty-strings

[2017-07-10 07:43] tandraschko commented on #2515
Thanks for the PR!

[2017-07-10 07:43] #2515 closed, assigned to tandraschko

[2017-07-10 07:50] tandraschko commented on #2513
So it's also not fixed in a newer tomcat version?
The problem is probably that it affects alsmost every attribute. So IMO adding the ELResolver to your application is the best way.

[2017-07-10 07:58] tandraschko commented on #2503
If you could provide a PR to fix it, it would be great.
I don't use PrimePush and don't have to to look at it.

[2017-07-10 07:58] Rapster commented on #2513
I'm using Tomcat 7, custom EL resolver won't solve the problem

[2017-07-10 08:04] mertsincan opened #2517 "Column resize doesn't work on DataTable with frozen columns and expand resize mode"
Reported By PRO User;

<p:dataTable id="testDataTable" widgetVar="testDataTable" value="#{testBean.cars}" var="car"  resizableColumns="true" resizeMode="expand" scrollable="true" frozenColumns="1" ...>
...

[2017-07-10 08:05] #2517 closed, assigned to nobody

[2017-07-10 08:10] tandraschko commented on #2513
But there is still the coerce flag?

[2017-07-10 08:11] tandraschko commented on #2513
Jup, just look at the matrix here: http://balusc.omnifaces.org/2015/10/the-empty-string-madness.html

[2017-07-10 08:23] Rapster commented on #2513
Are talking about this flag: COERCE_TO_ZERO? Because I'm not sure it has an impact on my problem

[2017-07-10 08:35] tandraschko commented on #2513
Yep, If it's the same root problem
 org.apache.el.parser.COERCE_TO_ZERO
and
the custom ELResolver
should fix it.

[2017-07-10 08:58] Rapster commented on #2513
Implementation of ValueExpressionImpl of Tomcat 7:

[code]

COERCE_TO_ZERO or custom ELResolver won't do a thing, ELSupport  doesn't even considering `COERCE_TO_ZERO`, and as BalusC mentionned:

[2017-07-10 09:02] mertsincan opened #2518 "Scrollable part of frozen data table with draggable columns disappears after update"
Reported By PRO User;

After clicking the button all the scrollable part of the table disappears.

[2017-07-10 09:04] #2518 closed, assigned to nobody

[2017-07-10 09:08] tandraschko commented on #2513
Not sure, the matrix says something different.
I didn't try those settings and ELResolvers yet. But i'm sure there is a workaround.

IMO we should not fix such weird bugs.
We must fix tons of places in your code to correctly handle this - just because the EL does something not expected, which is already fixed in the glassfish EL.

[2017-07-10 09:13] Rapster commented on #2513
I agree, but in the future, instead of only testing null, it would be better to test empty strings as well since the problem is known

[2017-07-10 09:20] tandraschko commented on #2513
yep but hopefully such problems won't occur in the future :D

[2017-07-10 09:37] Rapster commented on #2513
Not sure about that, even with the last implementation you still need to work around this problem. So I guess, it's still a problem Primefaces user might encouter again

[2017-07-10 11:14] hitochan777 commented on #2503
@tandraschko OK, I will try.

[2017-07-10 11:39] #2253 closed, assigned to nobody

[2017-07-10 11:39] tandraschko commented on #2253
As @kukel said, a property getter/setter is epxected by the view property

[2017-07-10 11:43] tandraschko commented on #1610
As we upgraded jquery, which seems to be related as stated here: trentrichardson/jQuery-Timepicker-Addon#643, could someone retest it with trunk?

[2017-07-10 11:50] xtron opened #2519 "DataTable doesn't set selection to backend controller when clientCache=true"
`
<p:dataTable id="appUserTable" clientCache="true"
                         binding="#{appUserTable}"
                         var="user"
                         value="#{appUserController.lazyItems}"
                         paginator="true"
                         rows="10"
                         sortOrder="descending"
                         sortBy="#{user.id}"
                         ro

[2017-07-10 11:51] xtron commented on #2519
PrimeFaces 6.1

[2017-07-10 12:32] tandraschko commented on #2519
Please follow our issue template next time if you open a issue.
Will close it as invalid as it misses many informations and code.

[2017-07-10 12:32] #2519 closed, assigned to nobody

[2017-07-10 13:35] mertsincan commented on #2395
Thanks a lot for the PR ;)

[2017-07-10 13:43] tandraschko commented on #176
Can't replicate - its fully in our showcase

[2017-07-10 13:43] #176 closed, assigned to nobody

[2017-07-10 13:47] tandraschko commented on #449
it's working fine on my local machine.

[2017-07-10 13:47] #449 closed, assigned to nobody

[2017-07-10 14:13] #899 closed, assigned to tandraschko

[2017-07-10 14:27] tandraschko commented on #1862
@vonnai
AFAICS your PR works fine BUT it now the dialog is always as heigh as the window.
I don't think that is correct. I think it should work as "max-height" instead of "height"?!

[2017-07-10 15:18] vonnai commented on #1862
@tandraschko
revert changes back, I was waiting for you comment several month, but now I don't have any time to fix PR, but I'll do it. We should discuss it. Should dialog change his position dynamicaly if content is changed? Eg. Window height is 1000px, dialog content height is 400px. If I will dynamically change content to 1200px dialog will show vertical scrollbar and his position will be reini

[2017-07-10 15:46] tandraschko commented on #1862
I did some improvements on the handling now.
IMO the only case which is not covered now, is if the dialog is visible and the dialog will be updated (the dynamic content change).
If the dialog is updated and is not visible yet, it should also work fine.

As changed to ticket to only cover the resize case (tickets should only target 1 issue). So please create a new issue if you look at it again or t

[2017-07-10 15:46] #1862 closed, assigned to tandraschko

[2017-07-10 15:50] #166 closed, assigned to tandraschko

[2017-07-10 16:35] tandraschko commented on #2130
Can't replicate it, no idea how you did this. Will close it for now.

[2017-07-10 16:35] tandraschko commented on #2062
It's not fixed by my commit - so please feel free to investigate.

[2017-07-10 16:36] tandraschko commented on #1738
Will close it for, currently i don't use it.

[2017-07-10 16:36] #1738 closed, assigned to nobody

[2017-07-10 16:59] sachafournier opened #2520 "autoComplete show search result even if empty"
## 1) Environment
- PrimeFaces version: 6.0.19 (and above)
- Application server + version: JBoss AP6.1
- Affected browsers: Chrome

## 2) Expected behavior

Display nothing

## 3) Actual behavior

Display a list of items based on last deleted character

## 4) Steps to reproduce
Using latest Showcase (Autocomplete/Delay(1000))
- Enter some characters. Wait for result
- Backspace until all character

[2017-07-10 17:10] tandraschko commented on #2520
Would be great if you could provide a PR.

[2017-07-10 18:55] jxmai commented on #2130
@tandraschko  I can replicate this bug following the steps mentioned in the description using the latest snapshot (up to f7ca62af251b8d18a6ab6ed2fa94022b3b5f1d72) and showcase, so I suggest to **reopen** this ticket.

![image](https://user-images.githubusercontent.com/10467831/28034392-a2b09dae-6576-11e7-8f8d-6202ccce4ba7.png)

In order to guarantee 100% reproducible, here are the steps (Assuming

[2017-07-11 07:56] tandraschko commented on #865
Will close it for now. If the issue is still important for you, please create a new one with example and maybe screenshot.

[2017-07-11 07:56] #865 closed, assigned to nobody

[2017-07-11 08:17] tandraschko commented on #2130
Yep, you are right. A PR to fix this would be great!

[2017-07-11 08:58] Rapster opened #2521 "Prevent double click on UICommand components"
This topic is quite recurrent, would it be possible to integrate a solution in PF?

https://stackoverflow.com/questions/10756426/how-to-do-double-click-prevention-in-jsf-2
http://ovaraksin.blogspot.fr/2011/05/prevent-multiple-clicks-in-jsf.html

Components:
- CommandButton
- CommandLink
- MenuItem
- SplitButton
- HotKey

[2017-07-11 09:26] Rapster commented on #2039
Related to https://github.com/primefaces/primefaces/issues/2521

[2017-07-11 11:03] melloware commented on #2521
+1 for this.  We have struggled to prevent users from double clicking buttons and no solution has seemed quite right for us.  A native PF solution would be fantastic.  We have tried a few different things but they all have their quirks.  I may give the solution above a chance.

[2017-07-11 11:21] tandraschko commented on #2521
-1 as there are many solutions and none of them is easy or perfect
the easiest way is a ajaxStatus modal overlay, which prevents everything till the ajax request is finished

[2017-07-11 11:52] cristiandean commented on #2521
I used the BlockUI component to solve the problem ( #2039 )

Available at: https://www.primefaces.org/showcase/ui/misc/blockUI.xhtml

[2017-07-11 12:30] Rapster commented on #2521
@tandraschko I'm using ajaxStatus as well, but if there is a defaultCommand to it, it won't prevent the double submission

@cristiandean it means define a blockUI on each page...

[2017-07-11 12:34] cristiandean commented on #2521
@Rapster I actually define it in my template, to avoid repetition. It was the solution I found until the problem was fixed once and for all.

[2017-07-11 13:25] cristiandean commented on #2521
It's easy, just use a class on all the buttons you want to lock the screen.

`  <p:panel id="pnl" header="New User" style="margin-bottom:10px;">
            <p:blockUI block="pnl" trigger="@(.mybutton)"/>
            <p:commandButton id="saveBtn" styleClass="mybutton"
                             actionListener="#{indexController.methos()}"
                             icon="ui-icon-check"

[2017-07-11 13:33] cristiandean commented on #2521
It would be nice if a native solution were implemented, something like blockAfterClick or preventDoubleCkick in the commandButtons. I know this is not the ideal solution, but it was the most interesting I found. (:

[2017-07-11 17:36] brunoabdon opened #2522 "Avoid unnecessarily computing fileUpload's allowTypes twice"
Method `encodeScript()` on class `org.primefaces.component.fileupload.FileUploadRenderer` shouldn't call call `fileUpload.getAllowTypes()` twice. It could use a temporary variable.

Around line 100:

[code]
In my application, the database is queried to determine the "_allowed type_", what makes this double call a little cumbersome.
## 1) Environment
- PrimeFaces version: 6.0
- Application server +

[2017-07-11 20:14] Tirq opened #2525 "Allow child processing via p:ajax skipChildren=false on TabView and Accordion"
Hi,

When I use the dynamic tabview with tabs including by ui:include and the tab is changed, the content of anothers tabs is losing.  This problem/behavior started in version 5+ incluiding the newest version (6.1). In version 4 and 3.5 is working fine.

I opened this issue because another issue with the same problem was closed : https://github.com/primefaces/primefaces/issues/424 .

## 1) Environ

[2017-07-12 03:37] mariaarora opened #2526 "Primefaces <p:selectonemenu> auto alignment"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-07-12 03:39] mariaarora opened #2527 "Not able to add more than 490 elements in <p:picklist>"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-07-12 06:55] #2526 closed, assigned to nobody

[2017-07-12 06:55] #2527 closed, assigned to nobody

[2017-07-12 06:55] #2522 closed, assigned to tandraschko

[2017-07-12 06:57] tandraschko commented on #2522
JFYI: one of the best practices when using JSF is to avoid logic in getter and setter ;)

[2017-07-12 09:58] m-mchugh commented on #719
I encountered the same problem but was able to resolve it by adding a widgetVar to the autocomplete and then adding the following line to my change action:

onstart="if(PF('yourWidgetVarName').panel.is(':visible')) return false;"

This will return the changed value if the user does not make a selection before leaving the field.  It will suppress the change action and return the selection if the us

[2017-07-12 10:42] Tirq commented on #2525
I decided to use a remotecommand called 'updateTabViewOnStartTabChange' to update all contents of the tabs when the tabchange event is fired.
 I now, this workaround  is not definitly, but it is work:

index.xhtml

    <h:head>
        <title>TabViewSample</title>
    </h:head>
    <h:body>
        <h:form id="form">
            <p:tabView id="tabView"
                       dynamic="true"

[2017-07-12 12:28] tandraschko opened #2528 "Remove IE7 and IE8 hacks"
We don't need it anymore
We dropped IE8 support by upgrading to jQuery 2.x

[2017-07-12 12:31] #2528 closed, assigned to tandraschko

[2017-07-12 12:45] tandraschko opened #2529 "Remove duplicate $.browser"

[2017-07-12 12:48] hlavavit commented on #74
Any change on this?

Just working on schedule that aggregates schedules from multiple sources with the drag and drop feature enabled. The events start and end time are behaving weirdly . if dragged to all day slot the are the same as they were before,  if dragged from all day slot then they change, this makes it unusable. I had to choose between drag and drop enabled and all day slot enabled becau

[2017-07-12 12:51] #2529 closed, assigned to tandraschko

[2017-07-12 12:52] tandraschko opened #2530 "Use PrimeFaces.env.isIE instead PrimeFaces.isIE"

[2017-07-12 12:52] #2530 closed, assigned to tandraschko

[2017-07-12 13:02] brunoabdon commented on #2522
Will carefully think about it. Fact is that, in my case, the "allowed type" varies accordingly with the logged in user's mutable, database stored, preferences. But this discussion better suits stackoverflow....

[2017-07-12 13:58] mauriliommachado opened #2531 "Datatable does not order and throws numberformat exception"

[2017-07-12 14:11] tandraschko commented on #2531
Please provide a small example, without dependencies PrestadorResumido and else, so that we can reproduce it.

[2017-07-12 14:18] mauriliommachado commented on #2531
edit1: context.getExternalContext().getRequestParameterMap() is returning null

[2017-07-12 14:52] foobarops commented on #1169
Not working properly: new row is created, but values displayed are not from the new row - they are from one of rows already loaded to UI.

[2017-07-12 14:53] #2531 closed, assigned to nobody

[2017-07-12 18:27] tandraschko commented on #2507
@cnsgithub Did you activate client side validation?

[2017-07-12 18:46] #2244 closed, assigned to nobody

[2017-07-12 18:47] tandraschko commented on #2244
Closed for now, maybe we will do it in the future.

[2017-07-12 18:48] tandraschko commented on #2102
Please provide a PR.

[2017-07-12 18:51] tandraschko commented on #2057
All infos missing -> invalid.

[2017-07-12 18:51] #2057 closed, assigned to nobody

[2017-07-12 19:03] tandraschko commented on #2047
I think it's fixed now but i don't have time to try it. Could you please check it again with a build from trunk?

[2017-07-12 19:03] #2047 closed, assigned to tandraschko

[2017-07-12 19:07] tandraschko commented on #2021
Makes sense for me. If you have time, please provide a PR!

[2017-07-12 19:08] tandraschko commented on #1958
@robert7k ping!

[2017-07-12 19:28] #1822 closed, assigned to tandraschko

[2017-07-12 19:28] tandraschko opened #2532 "[Documentation] Dialog: loadContent event"
see #1822

[2017-07-12 19:33] tandraschko opened #2533 "Move hasBehavior method to base widget"
Currently it's implements around 20-30 times....

[2017-07-12 19:34] #2533 closed, assigned to tandraschko

[2017-07-12 19:44] tandraschko opened #2534 "Remove duplicate #isRequestSource methods"
Currently it's implemented 20-30 times

[2017-07-12 19:45] #2534 closed, assigned to tandraschko

[2017-07-13 08:43] #2484 closed, assigned to tandraschko

[2017-07-13 08:43] tandraschko commented on #2484
Thanks!

[2017-07-13 12:06] tandraschko opened #2535 "[perf] UIData#invokeOnComponent should skip clientIds which are not childs"
for better performance and to avoid weird exceptions
like it's implemented in MyFaces

[2017-07-13 12:09] #2535 closed, assigned to tandraschko

[2017-07-13 12:57] fanste opened #2536 "DefaultCommand not triggered if scope equals event.target"
Tested with PrimeFaces 6.0 and 6.1.

Expected:
Scope is set to inputText, Target is set to a commandLink. When I hit enter inside the inputText the commandLink should be executed.

Actual:
Nothing happens. I have to set the scope to the parent widget of the inputText (in my case a p:panel).

The root cause:
Line 24 of forms.defaultcommand.js as it uses $.find to test if the event.target is a child

[2017-07-13 12:58] tandraschko commented on #2536
Please provide the example like mentioned in the issue template ;)

[2017-07-13 13:08] fanste commented on #2536
<p:panel id="pnlSearch" header="Test">
        <p:inputText value="#{searchBean.query}" id="itSearch" required="true" />
        <p:commandLink id="lnkSearch" title="#{app['app.ext.solr.search']}"
            actionListener="#{searchBean.doPerformSearch}" process="@this itSearch"><i class="fa fa-search"></i></p:commandLink>

        <p:defaultCommand target="lnkSearch" scope="itSearch" />
    </p:

[2017-07-13 14:55] tandraschko commented on #2536
Please provide a full example which is runnable by me (the Bean code and stuff like pnlSearchState is missing)

[2017-07-13 19:45] melloware commented on #2366
A quick workaround is to add a label like "[Select One]".

<f:selectItem itemLabel="[Select One]" itemValue=""/>

[2017-07-13 21:42] fanste commented on #2536
Sorry, but this is ridiculous. Neither the bean nor the other things have something to to with the problem. But here you go.

    import javax.inject.Named;
    import javax.faces.view.ViewScoped;

    @Named
    @ViewScoped
    public void SearchBean implement Serializable {
        private String query;

        public void doPerformSearch() {
            System.out.println("Just a message, so y

[2017-07-14 06:06] schlebe opened #2537 "<inputNumber> format is not respected"
Hello,

I have set the "text" value of an input number to "12.00" and the "decimalPlaces" attribute is equal to "2".

After pressing a SUBMIT Button, I don't have "12.00" but "12" !

The <inputNumber> element seems converting my string to a number and forgetting to respect my number format that is with 2 decimals.

I have no problem when number value is "12.34"

## 1) Environment
- PrimeFaces vers

[2017-07-14 06:18] schlebe opened #2538 "DialogFramework is locked when a widget is defined using required="true""
Hello,

I use a DialogFramework since more than 2 years, and since I have added a required="true" widget, this DialogFramework has stopped to work.

When DialogFramework is loaded and when I click a SAVE Button to save my work the program do NOTHING.

When required="false" the program work correctly.

This problem only occurs when input field is empty.

I think that when I press the SAVE Button, P

[2017-07-14 06:52] tandraschko commented on #2538
Probably the you don't have a messages tag in your dialog view.
But we can't help without any example.

[2017-07-14 06:54] tandraschko commented on #2536
Thanks for the example but thats not ridiculous ;)
We can't fix something without replecating it and testing it. Therefore we need a example.
Of course we could prepare a example by ourself but thats effort and you already have an example, where it doesn't work.

[2017-07-14 07:04] tandraschko commented on #2537
Thats not in our hand.
The jquery autonumeric plugin cuts of the zeros on the right side when writing it back to the hidden input.
Also it's quite unnormal to work with a String as variable.

I would use a converter if you need to re-add zeros on the right side.

[2017-07-14 07:04] #2537 closed, assigned to nobody

[2017-07-14 08:16] tandraschko commented on #2376
Added resize support, looks good for me now.

[2017-07-14 08:16] #2376 closed, assigned to tandraschko

[2017-07-14 08:33] tandraschko commented on #1517
Looks like the same issue. Will close it.

[2017-07-14 08:33] #1517 closed, assigned to nobody

[2017-07-14 08:37] #1166 closed, assigned to nobody

[2017-07-14 08:40] tandraschko commented on #1036
Could someone provide a PR?

[2017-07-14 08:53] tandraschko commented on #984
As stated in the forum, it's better to place fileupload in a own form as it requires another enctype at the form.

[2017-07-14 08:53] #984 closed, assigned to nobody

[2017-07-14 09:00] #923 closed, assigned to nobody

[2017-07-14 09:40] tandraschko commented on #2008
As the source of the event still is the datatable, @this contains "everything" of the datatable.
So this works correctly but surely it can be improved.

[2017-07-14 11:09] Berger1994 opened #2539 "TabView with the attribute dynamic has state problems"
TabView has some problems with dynamic loading.  I checked the source and i think i found the problem.

After you select a tab, the new tab will be loaded and the value of the attribute "loaded" will be set to true.

Now the problem:
The "loaded"-state will not be reseted after an update of the tabView. The class 'UiTabPanel' has a the following method

[code]

An "unloaded" tab is also in the lis

[2017-07-14 11:20] melloware commented on #1036
I can take this one @tandraschko

[2017-07-14 12:17] schlebe commented on #2537
Thanks for your help but I have already a workaround for my problem.
In fact, I compare in bean the String passed to widget before displaying form with the string returned after submitting the form.
If the 2 string are not equal then the value/text contained in widget has been changed.
I have only problem with <textEditor> and &lt;inputNumber&gt; that change returned value after posting the form.

[2017-07-14 12:34] schlebe commented on #2538
yes, you have right, all the forms in application have a &lt;growl&gt; widget but the DialogFramework have not this widget.
You have found the reason but, personnaly I have lost a lot of time to solve this problem and I think that it will be interesting to display an alert when this case occurs to advise user/tester of the problem !

I click on SAVE (SUBMIT) button and nothing happens, no message

[2017-07-14 14:15] tandraschko commented on #2537
the autonumeric jquery plugin is resposible.
But IMO this is a won't fix as 12 and 12.00 is the same number. And the component is created for handling numbers ;)

[2017-07-14 14:16] tandraschko commented on #2538
In MyFaces and in development stage, MyFaces logs something like "Hey Developer, there are unrendered messages. There must be something wrong in your code".

[2017-07-14 14:16] #2538 closed, assigned to nobody

[2017-07-14 19:43] JaviRpo commented on #1517
you should close the other issue because this is an old issue

[2017-07-15 23:26] mdzaebel opened #2541 "dataTable: tableStyle="display:inline" increases cellEditor"
Following dataTable increases the input field, if you click on cell. Without *"display:inline"* it works correctly.
[code]
## 1) Environment
PF 6.1, Chrome, Payara (On Firefox/IE it works ok)
## 2) Expected behavior
After clicking on a cell, the editor input field should be as wide as the cell was before.
## 3) Actual behavior
Input editor seems to have a fixed width, that is a lot wider.
## 6) Sa

[2017-07-17 04:00] mariaarora opened #2543 "Not able to add more than 490 elemnst in <p:picklist>"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-07-17 04:03] mariaarora opened #2544 "<p:selectonemenu> auto alignment"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-07-17 05:37] schlebe commented on #2538
I will not migrate from Primefaces to MyFaces but what you write about advising functionality of Myfaces is certainly what is missing to Primefaces !

When a Primefaces widget (required="true") and the value in it is empty it is a good thing to warn the user/developper about this problem.

In fact, when widget is empty, it must advise user about this problem and it must search another widget to di

[2017-07-17 06:04] schlebe commented on #2537
ok thanks for the information.
You have right ... the value of inputNumber in Primefaces is a Double and not a String.

On JQuery, the get() method return a String but the "value" attribute in Primefaces on a lot of widgets is an objet or an internal type (Integer, Boolean, String) that is not always a String like I thought incorrectly.

[2017-07-17 06:51] tandraschko commented on #2538
I would create a feature request in Mojarra. Maybe it's already available there, i didn't used it since years. NOTE: it would only show when ProjectStage=Development.

[2017-07-17 06:57] tandraschko commented on #2544
autoWidth attribute of selectOneMenu is true per default. So i don't understand your issue.
You can also directly overwrite the ui-selectonemenu style instead of adding a styleClass to each one.

[2017-07-17 07:03] tandraschko commented on #2543
Works fine for me when running the showcase locally with:

`        for (int i = 0; i < 100; i++)
        {
            citiesSource.add("San Francisco " + i);
            citiesSource.add("London " + i);
            citiesSource.add("Paris " + i);
            citiesSource.add("Istanbul " + i);
            citiesSource.add("Berlin " + i);
            citiesSource.add("Barcelona " + i);

[2017-07-17 07:24] #2536 closed, assigned to tandraschko

[2017-07-17 08:26] mariaarora commented on #2543
did u try by adding exactly more than 490 elements??

[2017-07-17 08:32] tandraschko commented on #2543
The loop above results in 700 elements.
What doesn't work for you?

[2017-07-17 14:27] dkokkal commented on #1169
I have the same problem as andreas-bochkov, is there any work around?

[2017-07-17 14:47] tandraschko opened #2545 "DefaultRequestContext causes ThreadLocal mem leak"
replicated on TomEE and MyFaces

[2017-07-17 14:48] #2545 closed, assigned to tandraschko

[2017-07-17 15:52] laurinmueller opened #2546 "Wizard: step attribute is not working after using back or next button"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? Don't know
- Application server + version: Websphere 8.5.11
- Affected browsers: All

## 2) Actual behavior

The attribute step in the wizard component initially works correctly. But when a next or back action is executed, the attribute step is ig

[2017-07-17 19:06] tandraschko commented on #2546
A PR or deeper analysis is very welcome!

[2017-07-17 19:17] tandraschko opened #2547 "Remove UITabPanel#loadedTabs"
It might lead to invalid result and it doesn't perform better

[2017-07-17 19:21] #2547 closed, assigned to tandraschko

[2017-07-17 19:30] tandraschko commented on #2539
Please give it a try again!

[2017-07-17 19:30] #2539 closed, assigned to tandraschko

[2017-07-17 19:30] #761 closed, assigned to tandraschko

[2017-07-17 20:18] tandraschko commented on #2525
I checked the the problem and it doesn't look like a bug.
The content is ignored when the taview is doing a self-request like tabChange.
Probably a good way is to implement the skipChildren flag on p:ajax for tabView and accordionPanel.

[2017-07-17 20:23] #2525 closed, assigned to tandraschko

[2017-07-17 20:24] tandraschko commented on #280
Will close it for now - i also implemented it on UITabPanel and therefor in TabView and Accordion.

[2017-07-17 20:24] #280 closed, assigned to nobody

[2017-07-17 20:28] tandraschko commented on #1280
Please reopen if it's still not not working with a current version. We did some fixes in the last versions.
NOTE: please provide also a bean code then.

[2017-07-17 20:28] #1280 closed, assigned to nobody

[2017-07-17 23:12] erickdeoliveiraleal opened #2548 "QuillJS 1.3.0"
https://github.com/quilljs/quill/releases/tag/v1.3.0

[2017-07-18 02:59] jxmai commented on #2507
I cannot replicate this issue either using snapshot up to 3088e8bd40566e4cf28ade1979dc3d43ea0fc00e, and I have activated the client side validation in `web.xml`

[code]

html code:

[code]

result:

![image](https://user-images.githubusercontent.com/10467831/28298567-97fcfe8e-6b39-11e7-9d8b-60de04b8cdc1.png)

[2017-07-18 07:19] #2520 closed, assigned to tandraschko

[2017-07-18 13:59] ltrabanelli opened #2550 "Filtering on dynamic columns broken"
## 1) Environment
- PrimeFaces version: 6.1.3 (I'm sure that in 6.0.15 all works fine...I've downgraded to this version)
- Tomcat 7 - Java 7

- Affected browsers: all browsers

## 2) Expected behavior
I've a datatatable with dynamic columns and filtering on each column with a custom filterFunction.
I filter with enter key.

Here the code:

[code]

## 3) Actual behavior
With PF 6.1.3 when i filter

[2017-07-18 17:16] Rapster commented on #2548
It looks like you're the QuillJS PF reporter, please provide a PR, I'm sure you'll see this issue soon if you do

[2017-07-18 18:00] msc1979 commented on #2435
Too bad this one is not fixed in 6.1.3

[2017-07-18 20:03] Tirq commented on #2525
@tandraschko can you put an example using skipChildren  on ajax and not loose the content when you change tab? For example, in the below i can't send the value (always is null) to the controller, doesn't matter if i use skipChildren true/false.

     <p:tabView id="tabView"
                          dynamic="true"
                          cache="false"
                          activeIndex="#{con

[2017-07-18 20:36] tandraschko commented on #2525
Did you build from trunk? skipChildren=false worked fine for me yesterday

[2017-07-18 20:41] tandraschko commented on #2525
I would also try it without immediate ;) Note sure if the value is already there in this case as the listener is executed much earlier.

[2017-07-18 23:21] ReedElliott opened #2551 "TreeTable always including @this in cellEdit ajax request regardless of process setting"
## 1) Environment
- PrimeFaces version: 6.1.3
- Does it work on the newest released PrimeFaces version? no
- Application server + version: GlassFish 4.1.2
- Affected browsers: Chrome

## 2) Expected behavior
TreeTable should only send components included in the process attribute to the server as part of the cellEdit ajax request.

## 3) Actual behavior
TreeTable sends all the treeTable's editable

[2017-07-19 01:13] jxmai opened #2552 "Upload button cannot be enabled due to JS exception ($this.isCanvasSupported is not a function)"
## 1) Environment
- PrimeFaces version: Primeface latest trunk (up to 4277d8111b46c7f07c80cf7146237450f4a7c893)
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Tomcat 8.0.20
- Affected browsers: All

## 2) Expe

[2017-07-19 01:32] johnkmzhou commented on #244
On 6.0 I ran into an issue where the calculated width for my selectonemenu in Firefox was larger than in IE and Chrome. My quick and dirty fix was to write an onload event to recalculate it down 90%.

[2017-07-19 05:43] gako opened #2554 "NPE during export of empty cells to XML (FIX)"
## 1) Environment
- PrimeFaces version: 6.1.3
- Application server + version: Glassfish 4.1.1
- Affected browsers: all

## 2) Expected behavior
Xml File is generated

## 3) Actual behavior
NullPointerException is thrown:

[code]

..

## 4) Steps to reproduce
**Update:**
Create Datatable with an cell, that as a outputText with a converter that returns null as value. Export to XML.

Pseude code, but

[2017-07-19 06:39] tandraschko commented on #2552
As we don't support IE8 anymore, canvas should be supported on all browsers (hopefully :D), so i just removed the statement from the IF block.

[2017-07-19 06:39] #2552 closed, assigned to tandraschko

[2017-07-19 09:07] kukel commented on #2551
Please edit your issue and format the code...

[2017-07-19 12:03] vonnai commented on #2412
I have the same problem, dataTable process all components (inputText, selectOneMenu) inside every p:rowExpansion. All these components ids with values are in request parameters. It's possible something reduce it by partialSubmitFilter, but it's not pretty solution.

[2017-07-19 13:21] AlexR-dev opened #2555 "SelectOneMenu not working after client side disable/enable"
## 1) Environment
PrimeFaces version: 6.1.2

## 2) Expected behavior
After disabling and enabling a SelectOneMenu on client side via JavaScript it should work as before.

## 3) Actual behavior
When disabling a SelectOneMenu via JavaScript and enabling it again, mouse events (mouse over, click) on the menu's item are not working anymore.

## 4) Sample XHTML
...
<p:selectOneMenu widgetVar="selectOne

[2017-07-19 13:26] ReedElliott commented on #2551
I placed the code inside a code block.

[2017-07-19 14:01] Tirq commented on #2525
Well, unfortunatelly didn't work for me. I tried a lot of things in my tests.  I'd like to receive in the controller, the content inside a current tab when a change the tabs and also I'd like change the content in the controller and receive the updated content in the xhtml.  This behavior is  very useful in the lazing views.  If you can put an example when this behavior is contemplated  I would be

[2017-07-19 14:25] tandraschko commented on #2525
I just used your example:

` <p:tabView id="tabView"
                      dynamic="true"
                      cache="false"
                      activeIndex="#{controller.activeTab}" >
               <p:ajax
                   immediate="true"
                   event="tabChange"
                   listener="#{controller.handleTabChange}" />
               <ui:include src="_1stTab.xhtml" />

[2017-07-19 16:14] tandraschko commented on #2555
@mertsincan can you review please and port to elite?

[2017-07-19 16:14] #2555 closed, assigned to tandraschko

[2017-07-19 16:21] tandraschko commented on #612
Not sure how this is related to a component. Actually orientationchange is fired on "window" level.

[2017-07-19 16:21] #612 closed, assigned to nobody

[2017-07-19 16:23] tandraschko commented on #448
@erickdeoliveiraleal a PR is welcome here!

[2017-07-19 21:38] jxmai opened #2556 "Treetable shows cloned header when setting scrollable = true and filter enabled"
## 1) Environment
- PrimeFaces version: PF latest trunk (up to https://github.com/primefaces/primefaces/commit/50a1638263ddd5fc7fbfdf56975636426bc1eb20)
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Tomcat 8.

[2017-07-20 00:01] uditrpanchal opened #2557 "How to change the currentPageReportTemplate= {startRecord} and {endRecord} data with comma separator (for e.g: 1000 into 1,000 or 1000000 to 1,000,000)"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-07-20 05:53] tandraschko commented on #2557
questions -> forum

[2017-07-20 05:53] #2557 closed, assigned to nobody

[2017-07-20 06:27] #56 closed, assigned to tandraschko

[2017-07-20 06:27] tandraschko opened #2558 "[Documentation] ColorPicker: onchange attribute + change client behavior"

[2017-07-20 06:56] tandraschko opened #2559 "ColorPicker: Ajax support for change event (Add change client behavior)"
<p:colorPicker value="#{colorView.colorPopup}">
                    <p:ajax oncomplete="console.log('changed');" />
                </p:colorPicker>

[2017-07-20 06:56] #2559 closed, assigned to tandraschko

[2017-07-20 08:15] mertsincan opened #2560 "Add onRowClick callback to DataTable"
Client side callback to execute after clicking row.

[2017-07-20 08:28] #2507 closed, assigned to nobody

[2017-07-20 08:28] tandraschko commented on #2507
Thanks for testing!

[2017-07-20 08:34] #2560 closed, assigned to nobody

[2017-07-20 09:15] mertsincan commented on #2555
Thanks a lot, @tandraschko ;)

[2017-07-20 09:31] mertsincan commented on #2554
I couldn't replicate this issue. I didn't see NPE error. Could you please attach a sample code for us to replicate?

[2017-07-20 12:55] gako commented on #2554
Ok it is a little bit more complicated to replicate but I was able to pinpoint the exact conditions for the null value. See description above.

[2017-07-20 13:33] Giwayume opened #2561 "p-tooltip is forever stuck on the page when a hide delay is specified and the tooltip target is hovered again while the tooltip is hiding."
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: NodeJS 6.10.2
- Affected browsers: Chrome

## 2) Expected behavior

The tooltip should not get stuck on the page.

## 3) Actual behavior

The tooltip is getting stuck when hovering over the tooltip target while the tooltip is hiding.

## 4) Steps to reproduce

1. Make a tooltip with a hide delay, a la
`<span pTooltip="Tool

[2017-07-20 13:52] tandraschko commented on #2561
Doesn't look like PrimeFaces for me ;) Please choose the right issue tracker.

[2017-07-20 13:52] #2561 closed, assigned to nobody

[2017-07-20 14:31] Giwayume commented on #2561
Yeah... it's confusing because the branding on your website is PrimeFaces even on the PrimeNG section.

[2017-07-20 14:39] mertsincan opened #2562 "Add input group feature"
Text, icon, buttons and other content can be grouped next to an input by wrapping the addons and input inside .ui-inputgroup element. Multiple addons can be used within the same group as well.

[2017-07-20 14:40] #2562 closed, assigned to nobody

[2017-07-21 08:23] tandraschko commented on #145
Fixed by: https://github.com/primefaces/primefaces/issues/1822

[2017-07-21 08:23] #145 closed, assigned to nobody

[2017-07-21 08:46] tandraschko commented on #1159
It's hard to follow whats wrong here.
Could you please create a new issue, if still replicatable and important for you, with all questsions filled in our new issue template?

[2017-07-21 08:46] #1159 closed, assigned to nobody

[2017-07-21 08:48] tandraschko commented on #1130
can't replicate it when running PF showcase trunk.
Please create a new issue with all infos if it's still replicatable for you with trunk.

[2017-07-21 08:48] #1130 closed, assigned to nobody

[2017-07-21 10:41] #1979 closed, assigned to tandraschko

[2017-07-21 11:06] #349 closed, assigned to cagataycivici

[2017-07-21 12:47] AlesHal opened #2563 "DataTable: Navigation using CommadButton in sorted and paginated DataTable causes page re-render"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? Yes
- Application server + version: IBM Websphere Portal Server 8.5 (resp. IBM Websphere Application Server 8.5)
- Affected browsers: All

## 2) Expected behavior
In datatable where pagination and sorting is used with commandLink or comma

[2017-07-21 14:02] joerowe commented on #971
I actually experience the same issue which also prevents priority column functionality - that is to say, when scrollable is set true and a scrollHeight given, the automatic application of scrollwidth prevents columns marked as priority from disappearing.

My datatable header code is shown below:

<p:dataTable id="searchDataTable" widgetVar="searchDataTable"
		draggableColumns="true"
		value="...<<

[2017-07-21 20:52] jxmai commented on #2548
I am using quill too, so I can take a look at this one.

[2017-07-21 21:25] jeffcapo opened #2565 "DataTable: issue with editable paginated datatable"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-07-22 16:55] #2548 closed, assigned to tandraschko

[2017-07-22 16:55] tandraschko commented on #2548
Thanks!

[2017-07-22 16:56] tandraschko commented on #2554
IMO the null check also doesn't hurt. Will merge it.

[2017-07-22 16:57] tandraschko commented on #2554
@mertsincan if you would like to merge it to elite, freel free :)

[2017-07-22 16:57] #2554 closed, assigned to mertsincan

[2017-07-24 08:40] #2543 closed, assigned to nobody

[2017-07-24 08:40] #2544 closed, assigned to nobody

[2017-07-24 10:23] MKhlon opened #2567 "DataTable: Focus on paginator is not consistent with highlighted page number"
1) Environment
- PrimeFaces version: 6.0.16
- Application server + version: 8.5.8
- Affected browsers: IE 11, Edge, FF

 2) Expected behavior
Focus and highlighting for the page number are consistent. If page 8 is selected, it's opened, highlighted and focus is on page 8.

 3) Actual behavior
Focus and highlighting for the page number are inconsistent. If page 8 is selected, it's opened, highlight

[2017-07-24 12:23] alexey-anufriev commented on #1559
Works fine in PF 6.1.3.
Please check and close this bug.

[2017-07-24 12:37] alexey-anufriev commented on #1942
Hi @jxmai,

For me it is still reproducible on 6.1.3.
Please let me know if you need a reproducer or you can check the problem yourself on this particular version.

Regards,
Alex

[2017-07-24 12:50] tandraschko commented on #1559
Thanks for testing!

[2017-07-24 12:50] #1559 closed, assigned to nobody

[2017-07-24 14:32] jxmai commented on #1942
@ice-pro Please provide a complete reproducer if you have a different set of code since I have already tested the sample code provided in this issue previously. But before doing that, please try to build the latest snapshot to see if the issue has been resolved by the latest code (https://github.com/primefaces/primefaces/wiki/Building-From-Source).

[2017-07-24 16:17] alexey-anufriev commented on #1942
@jxmai, I have tried to use the reproducer attached to the very first message. And I've used latest SNAPSHOT version. It is still reproducible for me.

[2017-07-24 16:43] jxmai commented on #1942
@ice-pro OK, I have tried to test again to make this clear. (Tested against on PF Up to https://github.com/primefaces/primefaces/commit/628da77239cb85ac6b685dc09e05817f6ad1c5d7)

I slightly modified the sample code since it has incorrect import (mixing CDI and managed bean)

Xhtml

[code]

Model

[code]

---

![image](https://user-images.githubusercontent.com/10467831/28534007-bc17b81a-7064-11e7-9

[2017-07-24 19:47] tandraschko commented on #2563
Please provide a runnable example, otherwise it will be closed as invalid.
You can easily reuse beans/models from the showcase.

[2017-07-24 19:48] tandraschko commented on #2567
Is it reproducable in the showcase? Link?
Please provide a better description in "steps to reproduce".

[2017-07-24 19:49] tandraschko commented on #2565
Please provide a full runnable example - you can easily reuse the beans/models from the showcase. Otherwise it's hard to reproduce it.

[2017-07-24 19:55] tandraschko commented on #2444
Ahh ok, thats the default in JCrop. So you can just use the backgroundColor attribute on the jsf tag and every works fine?
If yes, we should close this as won't fix.

[2017-07-24 20:02] #2231 closed, assigned to nobody

[2017-07-24 20:13] MKhlon commented on #2567
It's not reproducible in showcase because showcase has only 10 pages, for this behavior more pages are required, for example 20. Steps to reproduce will be updated in a minute. I'll add gif movie tomorrow.

[2017-07-25 05:47] cnsgithub commented on #2444
I think passing null as defaultValue is not really the perfect solution, i'd change it to "transparent". Just because a third party lib chooses an awkward default it doesn't mean primefaces should too.

But yeah, i just checked using backgroundColor will work, so ill keep it like that. And closed the issue as for me it's working now.  Thanks for the hint.

[2017-07-25 05:47] #2444 closed, assigned to nobody

[2017-07-25 08:46] dhladky commented on #942
Also do notice, that if you let the rowExpansion closed, the value is set to "null" no matter what was set by the user.

The problem is the rowExpansion removes the checkbox from the DOM while closing and recreates it when the expansion is opened. This is the reason, why it is reset when opening the expansion and this is the reason, why null is set when closed and the submit takes place.

The same

[2017-07-25 11:30] pouwelsjochem opened #2568 "TreeTable: Previous selection is not being disabled after 'filter' is used, causing multiple highlighted rows in selectionMode = "single""
## 1) Environment
- PrimeFaces version: 6.0.21
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server: WildFly 10.1
- Affected browsers: All

## 2) Expected behaviour
Correct row will stay selected (even after filter is used)

## 3) Actual behaviour
On any ajax call (eg. page, sort), after filter is used, the previous se

[2017-07-25 12:26] cnsgithub opened #2569 "PrimeFaces Mobile does not support PrimeFaces.scrollTo (Uncaught TypeError)"
Hi, i noticed that with PrimeFaces mobile there will be an error when trying to use. Is there an additional *.js file to be included manually for this ? (jquery-ui). I'd like to avoid manual additions though as it should work out of the box

[code]
It can be reproduced by using a browser's console on this page:

https://www.primefaces.org/showcase/mobile/forms.xhtml

![image](https://user-images.g

[2017-07-25 14:30] alexey-anufriev commented on #1942
Maybe this could be the reason for me, I will try it as well.

[2017-07-25 14:51] jxmai commented on #1942
It could be the cause as I mentioned in https://github.com/primefaces/primefaces/issues/1942#issuecomment-264506875. Please take a look and see if it works.

[2017-07-26 08:48] Rapster opened #2570 "Datatable: get/setWrappedData inconsistent code"
Having a look at LazyDataModel.java, I saw this:
[code]
Even though it inherits from `javax.faces.component.UIData.DataModel` , getWrappedData should return a List, and setWrappedData should have a List as parameter and not object.

But one day (let's hope so) PF will use at least java 1.6, and we may use annotation like `@Override` which will cause a problem at compile time for `public void setWr

[2017-07-26 09:22] MKhlon commented on #2567
![2017-07-26_11-18-22](https://user-images.githubusercontent.com/29551612/28614035-a7df2838-71f4-11e7-8576-2ccb8bf7956a.gif)

[2017-07-26 10:39] jansohn commented on #2483
Can this also be included in an elite release?

[2017-07-26 12:13] woody81 opened #2572 "p:media is not working in case displaying PDF from stream"
## 1) Environment
PrimeFaces version: 6.1
Application server + version: Tomcat 7.0.62
Affected browsers: All

## 2) Actual behavior
We upgraded to the latest version of Primefaces from 6.0 and now we are facing an issue when we want to display PDF file via p:media component from stream and  "IllegalArgumentException: Invalid UUID string" is thrown. I tried to debug it and found out that class org.

[2017-07-26 12:17] tandraschko commented on #2572
Please provide a full example (currently e.g. ForestTaxAnnouncementFacadeFactory is missing, i need a example to reproduce it) or a PR to fix it.

[2017-07-26 12:17] tandraschko commented on #2569
A PR would be great.

[2017-07-26 12:18] tandraschko opened #2573 "Upgrade to Java 1.6"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-07-26 12:19] #2573 closed, assigned to tandraschko

[2017-07-26 12:19] tandraschko commented on #2570
Feel free to improve your PR ;) https://github.com/primefaces/primefaces/issues/2573

[2017-07-26 13:19] Rapster commented on #2570
I guess you can still merge the PR associated, upgrading into 1.6 should be done in  #2573

[2017-07-26 13:36] Rapster commented on #2573
Does it involve a complete review on each file? Eclipse has a nice tool that would allowed to have compliant  java 1.6 in one click, plus it will format all the java files as it is quite a mess today...

[2017-07-26 13:46] tandraschko commented on #2573
I didn't plan to review each line.
I think the biggest change will be @Override annoations.

[2017-07-26 13:53] melloware commented on #2573
Agreed with @Rapster.  Eclipse you can set on Save to do awesome things like automatically format the file, add @Override on any methods being overridden and much more including adding brackets around if statements if they are missing etc.

[2017-07-26 14:14] tandraschko commented on #2573
-1 for auto format, it's impossible to review and not sure if PrimeTeam will follow for 100%. We agreed on a guideline some years ago but sometims even the blank after keywords like "if" isn't used everywhere.

But what we should do:
1) PR for aligning tabs and spaces
    sometimes we use tabs, sometimes spaces. It depends wo did a PR e.g.
    we should use -> 1 tab = 4 blanks and only allow blank

[2017-07-26 15:02] Rapster commented on #2573
I wouldn't say impossible, it's quite easy honestly... I just had a try, it looks very nice and simple to review. If it's only that, I can do it :D the auto-format will basically indent correctly with spaces or tabs, add override annotation, remove unused imports, the online "if statements + instructions"are not great and it can change that... Anyway there is a lot of options... Okay for two commi

[2017-07-26 15:14] avinashmoram commented on #2356
Do we know when this will be fixed? This is an accessibility issue in our application now.

[2017-07-26 15:25] Rapster opened #2574 "[Documentation] Lifecycle documentation does not mention LifecyclePhaseListener"
It should at least mention that the user need to declare it in faces-config.xml

[2017-07-26 15:27] avinashmoram commented on #2356
It is interesting that this is marked as new feature, because the generic html_select already works; here is a [fiddle](https://jsfiddle.net/amoram/b2b740uk/1/)

[2017-07-26 15:29] #2570 closed, assigned to tandraschko

[2017-07-26 15:56] tandraschko opened #2575 "Confugire very basic checkstyle"
as we apply more and more PRs....

[2017-07-26 16:59] lodgmar opened #2576 "<p:schedule> converts "locale" into lower case"
Primefaces 6.0, but I've not seen this issue reported, so I suppose it's still wrong.

This code:
[code]
will be translated into JavaScript code, where the calendar will have "locale:es_ES" (correct) but schedule will have "locale:es_es". This implies wrong localization only for schedule, showed in English, while calendar will show in Spanish.

Meanwhile, I bypass this issue including this:
[code]

[2017-07-26 17:53] jxmai commented on #2567
@MKhlon I cannot replicate this issue although there was clearly something off based on the gif you provided, but it could be theme related. Any example code you can provide ?

![image](https://user-images.githubusercontent.com/10467831/28635775-625ddcb6-7201-11e7-8119-1ae13713119b.png)

[2017-07-26 18:11] avinashmoram commented on #2521
+1 A native PF solution would be helpful

[2017-07-26 19:41] Rapster commented on #2573
maven-jsf-plugin needs to be changed as well to transform the \t into 4 spaces. Nice work by the way @tandraschko :-)

[2017-07-26 21:44] fabrii opened #2577 "p:ajax update inside p:columns breaks rendering"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: JBoss EAP 7.0
- Affected browsers: Chrome, Firefox

## 2) Expected behavior

Render every h:outputText output facet inside p:cellEditor inside p:columns.

## 3) Actual behavior

Only the first outputText (problem_output) is rendered when the table is loaded. The next columns render and empty outputtext. The method getByYea

[2017-07-27 05:27] bhavicnaran opened #2578 "DataTable: export should skip OverlayPanel content"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-07-27 06:01] cnsgithub commented on #2569
Well it's up to you / the devs to decide if you want to include jquery-ui when on PF mobile or not (or try to avoid using 'easing'. My personal preference would be to keep mobile slim and fast and avoid adding too much dependencies.
---
Possible solution:

JQuery checks for duration, before using easing
![image](https://user-images.githubusercontent.com/13161711/28656329-a5f67848-72a1-11e7-8881-54

[2017-07-27 06:16] cnsgithub commented on #2574
May i ask why this has to be added in faces-config.xml ? I didn't have this up to now and never noticed any error related to the jsf lifecycle. Just looking at the code it seems that the phaseListener just writes some PhaseInfo object into the session store? Is this even needed for production use? So maybe the documentation should also explain what the puprpose is and that it might be optional.

[2017-07-27 06:39] mertsincan opened #2580 "Knob component is not displayed with value=0 and lineCap="round" on Firefox"
Reported by PRO User;

Maybe it only happens when the new attribute lineCap="round" is set.

[2017-07-27 06:40] #2580 closed, assigned to nobody

[2017-07-27 07:01] yacota opened #2581 "DataTable: Support seek pagination in LazyDataModel"
DataTable's paginator behaviour is based on offset pagination. Offset pagination is an easy way to accomplish rendering a subset of data without fetching it all,
but relational and non relational databases can not allebiate the problem that when applyied in a large dataset has an enormous performance cost, the main problem is that a database cursor needs to jump step by step from row0 to rowN in o

[2017-07-27 07:02] cnsgithub commented on #1801
Uh okay sorry forget this, i just didnt check the master repo ;-) And there was a second issue about it.

[2017-07-27 07:25] tandraschko commented on #2574
It's a required thing for the "lifecycle" component ;)

[2017-07-27 08:05] Rapster commented on #2574
@cnsgithub Without this, lifecycle won't work for sure!

[2017-07-27 09:08] tandraschko commented on #2573
NOTE:
it's not possible to add @Override automatically in all cases... We currently compile against 2.2 but it still runs fine on 2.0
not sure if @Override will break some cases e.g. when running on JSF 2.0

[2017-07-27 10:22] mertsincan opened #2582 "p:focus component doesn't work for selectOneButton"
Reported By PRO User;

p:selectManyButton is working.

[2017-07-27 10:24] #2582 closed, assigned to nobody

[2017-07-27 11:23] cnsgithub commented on #2574
Yea so this is basically a component which is useful for development purposes only. I think the documentation should then mention that it is only a requirement for the lifecycle component, and if you're running production use it might be reasonable to not use it as it would create some unneccessery overhead in that case.

[2017-07-27 12:37] michalfotyga opened #2583 "picklist: using transfer button and then fast double clicking on the element causes the item to disppear"
![picklist-fast-clicking-error](https://user-images.githubusercontent.com/5294702/28670267-317a8f04-72d8-11e7-8e2b-1d24f8af2e1b.gif)

## 1) Environment
- PrimeFaces version: 6.1 (current showcase)
- Affected browsers: firefox + chrome, but probably all

## 2) Expected behavior

Clicking fast on the transfer button and then on the same element in the source list does not mess up the lists.

## 3) A

[2017-07-27 12:58] michalfotyga opened #2584 "picklist: using transfer button and then dragging the element messes up the lists"
![picklist-item-drag-error](https://user-images.githubusercontent.com/5294702/28670678-0e11e240-72da-11e7-851a-cbcfafcbbe39.gif)

## 1) Environment
- PrimeFaces version: 6.1 (current showcase)
- Affected browsers: firefox + chrome, but probably all

## 2) Expected behavior

Clicking on the transfer button and then transferring the same element does not mess up the lists.

## 3) Actual behavior

Cl

[2017-07-27 17:39] tandraschko commented on #2583
A PR would be great!

[2017-07-27 17:40] tandraschko commented on #2583
And thanks, great way to capture a bug with a gif!

[2017-07-27 17:40] tandraschko commented on #2584
A PR would be great!

[2017-07-27 18:10] #2578 closed, assigned to tandraschko

[2017-07-28 07:17] Marijaaa commented on #1403
I've also noticed this. When used inside iFrame, dialog appends to parent's body and thus becomes unresponsive. Is there any workaround for this?

[2017-07-28 07:37] nicymike commented on #2375
Has this change been made because of the "XSS vulnerability" in jQuery? Since this fix has been removed from 2.2.x, too: [jquery#2432 (comment)](https://github.com/jquery/jquery/issues/2432#issuecomment-199098662)

[2017-07-28 07:46] michalfotyga commented on #2583
Sure, you're welcome :) Picture is worth a thousand words :v:
Will try to work on it during the weekend.

[2017-07-28 09:36] Rapster commented on #2573
@tandraschko @melloware In Eclipse, you can simply do Right Click -> Source -> Format, it will format everything in one shot ;-)

[2017-07-28 11:14] melloware commented on #2573
@Rapster WOW I never realized your could format an entire source tree in one shot!

[2017-07-28 11:26] tandraschko commented on #2573
Its surely possible, in every IDE but for 50% it formats too much :D

I already did many formatting, and currently i'm configuring checkstyle.

[2017-07-28 12:42] MKhlon commented on #2567
Hi, I was able to reproduce it with showcase 6.1 source with following steps:
In our application we highlight where focus is but in showcase focus is not highlighted however the problem is still present as focus is not in line with open page.

1. change in paginator.xthml for p:dataTable rows value to ='2' (line 19)
2. click on page 10
3. click on page 13
4. press 'Tab'
Expected:
focus should be o

[2017-07-28 14:52] alexey-anufriev commented on #1942
@jxmai, I did all the adjustments you have recommended and unfortunately, it is still reproducible for me:
![image](https://user-images.githubusercontent.com/932500/28722106-cfd59a42-73b2-11e7-99f8-2fcf88d3d439.png)

I have Primefaces v.6.1.3

[2017-07-28 15:18] jxmai commented on #1942
@ice-pro  Do you have a small runnable project that can be run directly ? As there is no way to tell what went wrong since the same code can behave differently.

[2017-07-28 17:21] jxmai commented on #1942
@ice-pro Hi, I have created a sample for you, so you can compare what went wrong with your code.

[primefaces-test.tar.gz](https://github.com/primefaces/primefaces/files/1183788/primefaces-test.tar.gz)

In order to run the project.

1. unzip the file, use terminal to go into the unzipped directory and type `mvn clean jetty:run`

2. open browser and go to the following url: http://0.0.0.0:8080/prim

[2017-07-29 22:46] kdaemonv opened #2587 "Special keys on dataTable's filter trigger extra AJAX requests"
## 1) Environment
- PrimeFaces version: 6.2-SNAPSHOT, 6.1-SNAPSHOT (current showcase), 5.2 and probably all previous
- Application server + version: irrelevant
- Affected browsers: tested on Chrome, Firefox, Edge, IE 11

## 2) Expected behavior
Pressing special keys like Ctrl, Shift or Win when dataTable's filter input field is in focus should not fire AJAX request.

## 3) Actual behavior
Using ke

[2017-07-29 22:46] kdaemonv commented on #2587
See #2566 PR for solution

[2017-07-30 09:38] Rapster commented on #2573
@tandraschko regarding @override annotations, as long you're compiling your sources in 1.6, it shouldn't break a thing... No matter what version of JSF you use or any librairies compiled in older version

[2017-07-30 10:28] tandraschko commented on #2573
So @Overide is only checked on compile time, not runtime?

[2017-07-30 12:28] ghost commented on #990
Please add an optional `converterType` attribute so it passes it through in JSF 2.3 to the converter.

[2017-07-30 13:14] Rapster commented on #2573
Exactly

[2017-07-30 21:09] Rapster commented on #2550
I wouldn't advise to use conditional expression in EL (expecting a getter or a setter), use `ui:param` to determine what should be called.

https://stackoverflow.com/questions/30656310/javax-el-propertynotwritableexception-when-using-el-conditional-operator-in-valu

[2017-07-30 21:10] Rapster commented on #2550
@tandraschko not a defect IMO

[2017-07-30 21:17] Rapster commented on #2318
From what I read "page" event is already supported in TreeTable, although the documentation is missing

[2017-07-31 06:52] tandraschko commented on #2318
Can't find it in TreeTable#BEHAVIOR_EVENT_MAPPING, so likely not implemented.

[2017-07-31 07:35] Rapster commented on #2318
Ah forgot about this, so I guess mapping and documentation are missing

[2017-07-31 07:50] Julienng commented on #2499
I will provide a PR this week for this feature

[2017-07-31 12:28] mertsincan opened #2588 "Improve SelectCheckboxMenu performance"
Reported by PRO User;

We have noticed that when the option list in drop down increases by more than 2000 entries, dropdown takes long time to open the list.(approximately 3-5 secs) ..

[2017-07-31 12:29] #2588 closed, assigned to nobody

[2017-07-31 12:37] mertsincan opened #2589 "Calendar is not displayed correctly with showOn=button and disabled=true"

[2017-07-31 12:38] #2589 closed, assigned to nobody

[2017-07-31 15:09] tandraschko opened #2590 "InputSwich: handle misses ui-state-hover"

[2017-07-31 15:29] #2590 closed, assigned to tandraschko

[2017-08-01 08:18] Rapster commented on #2428
It's a been while now.... @cagataycivici please can you have a look?

[2017-08-01 10:57] melloware commented on #2428
I have been sending a reminder email once a week to him.

[2017-08-01 12:50] mertsincan opened #2591 "Add forType attribute to Messages component"
Type of the "for" attribute. Valid values are "key" and "expression".

[2017-08-01 12:52] #2591 closed, assigned to nobody

[2017-08-01 13:49] alexey-anufriev commented on #1942
@jxmai, thank you for help. I will provide a feedback soon. But don't you think environment can cause some differences? I mean I run the app within JBoss EAP. And it has some JSF-related libs provided.

[2017-08-01 14:17] jxmai commented on #1942
In my opinion, it is unlikely that the bug is causing by environment differences. I haven't tried to use Jboss  but the code above can run on Tomcat without issues. But in the programming world, never say never since bugs can arise from somewhere unexpected :smile:  I suggest you to

1. Try to run the code I provided to see the result

2. Copy the exact same code from the sample to run in your env

[2017-08-01 14:39] ghost opened #2592 "Menubar Responsivo"
Bom dia!

Não existe responsividade para o MenuBar?

estou tentando implementar o código abaixo com responsividade mais sem sucesso.

[code]

como posso resolver isso?

[2017-08-01 14:44] tandraschko commented on #2592
1) English only
2) Questions -> Forum

[2017-08-01 14:44] #2592 closed, assigned to nobody

[2017-08-01 14:46] tandraschko commented on #2591
@mertsincan The commit looks good but woudln't it be better to call it "component" instead of "expression"?
expression is to common and it actually referens components with component-search-expressions.

[2017-08-01 15:47] podaghub opened #2593 "SelectOneRadio layout=custom not working in Primefaces Mobile"
Hi, I am working on my first prime faces mobile application.  On one of my mobile page I am using SelectOneRadio with custom layout option -  f:view renderkit="PRIMEFACES_MOBILE". The issue is, two sets of radio buttons are displayed when page renders. I could able to recreate the issue with primfaces showcase example (selectOneRadio layout custom) in mobile environment. Same page on desktop works

[2017-08-01 15:50] tandraschko commented on #2593
Please follow our issue template guidelines (including example), otherwise it will be closed as invalid.

[2017-08-01 16:13] podaghub opened #2594 "SelectOneRadio layout=custom not working in Primefaces Mobile"
Hi, On one of my mobile page (f:view renderkit="PRIMEFACES_MOBILE"), I am using SelectOneRadio with custom layout option. The issue is, two sets of radio buttons are rendered. I could able to recreate the issue with primfaces showcase example (selectOneRadio layout custom) in mobile environment. Same page on desktop works fine. When I looked into generated html source, the custom parameter missing

[2017-08-01 16:14] #2593 closed, assigned to nobody

[2017-08-01 16:25] Rapster opened #2595 "Support f:passThroughAttribute"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers:

## 2) Expected behavior
Should encode "<f:passThroughAttribute />"
## 3) Actual behavior
Encode "<f

[2017-08-01 16:30] tandraschko commented on #2595
PR is welcome ;)

[2017-08-01 19:49] rodcruzh commented on #244
I used `.ui-selectonemenu { width: 90% !important; }` for setting the width layout in 90%.

[2017-08-01 20:39] pablocastrobarbosa commented on #244
Width in percentage does not work fine because

___________
|_______|_v_|

________________________________
|____________________________|_v_|

The percentage of them are diferent.

I,ve tried that but did not work for ALL situations.

Em 1 de ago de 2017 4:49 PM, "Rod Cruz H" <notifications@github.com>
escreveu:

I used .ui-selectonemenu { width: 90% !important; } for setting the width
layout in

[2017-08-02 07:35] mertsincan opened #2596 "Enter key issue on DataTable with editMode=lazy and cellEditMode=lazy"
Reported By PRO User;

For Eg. We do cell edit, press Enter key it saves, but when you try to edit second time the Enter key does not save the value. whereas cancelling it and repeating third time saves the value.

[2017-08-02 07:35] #2596 closed, assigned to nobody

[2017-08-02 07:57] mertsincan opened #2597 "Cancel event issue on DataTable with editMode="cell""
Reported By PRO User;

While doing in-cell editing (with lazy mode and Cancel on blur) we noticed that after first cancel event by clicking outside, cancel event keeps triggering thereon every time we click anywhere on the page.

[2017-08-02 07:57] #2597 closed, assigned to nobody

[2017-08-02 08:58] #831 closed, assigned to nobody

[2017-08-02 09:20] mertsincan opened #2598 "Selectonemenu copy/paste filter doesn't work"
Reported By PRO User;

[2017-08-02 09:20] #2598 closed, assigned to nobody

[2017-08-02 09:35] markusg80 commented on #719
I have the same issue and Workaround it like m-mchugh has descripted before. But for me ist just a Workaround, because this usecase should work without any Workaround. Maybe you can add Attribute like forceSelectionOnChange="true" to fire select Event on Change.

[2017-08-02 10:35] iZorkon commented on #2331
Hi everyone!

There is any news on this issue?

I'm asking this because right now I'm trying to implement keyboard arrow navigation on a datatable. For that matter I'm using the onkeydown event in each component of that table. Then it calls a JavaScript function that will evaluate if the pressed key is an arrow or not and will focus() or click() accordingly.

Everything was working fine until one

[2017-08-03 08:20] cnsgithub opened #2599 "DataTable: rowGroup feature doesn't set even/odd colors properly"
Hi, i noticed the rowGroup features doesn't set the colors of the table properly. You can see the issue on the showcase:

https://www.primefaces.org/showcase/ui/data/datatable/rowGroup.xhtml

I think it would look much better if the grouped rows also had their alternating colors

![image](https://user-images.githubusercontent.com/13161711/28912631-51f6f5e4-7835-11e7-975f-7694cbaf637b.png)

[2017-08-03 11:04] woody81 commented on #2572
I prepared very simple example how to reproduce the issue. Pls use pdf of your choice.

[code]

[code]

[2017-08-03 11:44] tandraschko commented on #2572
Works fine for me, when using this example in the showcase.

[2017-08-03 11:49] tandraschko commented on #2572
NOTE: i alread use trunk (6.2-SNAPSHOT)

[2017-08-03 11:49] #2572 closed, assigned to nobody

[2017-08-03 12:20] Rapster opened #2600 "Splitbutton: panel width should fit his content"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers: Chrome

## 2) Expected behavior

![image](https://user-images.githubusercontent.com/7521311/28921

[2017-08-03 12:35] woody81 commented on #2572
How am I able to build 6.2-SNAPSHOT? Sorry for stupid question, but I didn't found any branch or tag with this name in your repository.

[2017-08-03 12:55] appldo opened #2601 "DataTable: with dynamic column looses sorting on refresh"
## 1) Environment
- PrimeFaces version: 6.1.3

## 2) Expected behavior
When you rerender a sorted datatable with dynamic columns the sorted column should keep the style class "ui-state-active"

## 3) Actual behavior
All columns are now "active"

## 4) Steps to reproduce
See also example zip for prepared test [primefaces-datatable-column-sort.zip](https://github.com/primefaces/primefaces/files/1197

[2017-08-03 13:26] tandraschko commented on #2572
Check our wiki, there is something like "build from source"

[2017-08-03 13:56] mertsincan opened #2602 "Add type attribute to Calendar"

[2017-08-03 13:56] #2602 closed, assigned to nobody

[2017-08-03 14:25] mertsincan opened #2603 "Add editInitEvent attribute to editable DataTable"
Defines a client side event to open cell on editable table.

[2017-08-03 14:27] #2603 closed, assigned to nobody

[2017-08-03 15:05] anwuertz opened #2604 "DataTable: Unable to update ContextMenu when right-clicking on unselected table row"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-08-04 08:28] Rapster opened #2605 "FileUpload does not support default value"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat
- Affected browsers: Chrome

## 2) Expected behavior
Displaying fileUpload with  default value should displa

[2017-08-04 09:57] woody81 commented on #2572
Succesfully built but an Error identified on our side. Thx for your help.

[2017-08-04 15:06] mobegoulm opened #2606 "DataTable: Filtering on dynamic columns broken with Example"
This is similar to Issue #2550

the following works with primefaces 6.0.21 but NOT with 6.1.3

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2017-08-07 13:03] erickdeoliveiraleal opened #2608 "Update Quill to 1.3.1"
https://github.com/quilljs/quill/releases/tag/v1.3.1

[2017-08-07 13:29] melloware commented on #2428
Showcase has officially been updated!

[2017-08-07 15:26] Rapster commented on #2608
I guess @jxmai should have a look, but I think it would be nice if @erickdeoliveiraleal could provide a PR at the same time...

[2017-08-07 18:11] tandraschko commented on #2608
What about updating it before a release instead of creating issues/PRs ~each month?

[2017-08-07 18:12] tandraschko opened #2609 "[Documentation] TextEditor: toolbarVisible"

[2017-08-07 18:12] #2499 closed, assigned to tandraschko

[2017-08-07 18:14] #2587 closed, assigned to tandraschko

[2017-08-07 18:23] Rapster opened #2610 "[Documentation] resetInput: clearModel"

[2017-08-07 18:30] tandraschko opened #2611 "[perf] ResetInput creates to many VisitCallback instances"

[2017-08-07 18:34] #2611 closed, assigned to tandraschko

[2017-08-08 04:29] jxmai commented on #2608
A good suggestion to avoid multiple Issues / PR for monthly update of other projects such as quill unless something critical occurs, but I am providing a PR anyway as @Rapster suggested for the completeness of this ticket :smiley:

[2017-08-08 07:22] Rapster opened #2613 "Datatable: multiviewstate problem with sorting"
## 1) Environment
- PrimeFaces version: 6.2-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Jetty
- Affected browsers: Chrome

## 2) Expected behavior
Multiviewstate+ lazy datatable + sorting should

[2017-08-08 12:38] NairiAndraste opened #2615 "TreeTable: not fully responsive"
I'm currently using Primefaces 6.1.3 and wanted to implement a responsive TreeTable, but found out, that it was not implementated as stated earlier:

https://github.com/primefaces/primefaces/issues/518

Priority is implemented but not reflow. Is there any reason for it or was it simply forgotten?

[2017-08-08 12:57] #2613 closed, assigned to tandraschko

[2017-08-08 12:58] tandraschko commented on #2613
Thanks!

[2017-08-08 13:00] last-free-nick commented on #942
Is there something new about this bug?

We experience a problem which should have the same issue.

We have a data table with row expansion and selectonemenu. Below is a button where you can open a dialog with another table. You can add this table entries to the other table with a commandButton (ajax, process="@this" update="@form").

Each time a new entry is added every setter of the checkboxes in

[2017-08-08 13:11] #2608 closed, assigned to tandraschko

[2017-08-08 13:16] tandraschko commented on #2599
the second example in the showcase (Rowspan) looks exactly like this.