[2020-02-15 15:17] mmariotti commented on #5597
@Rapster

You are right, I focused on containers of just menuitems, but we should look also for generic containers that can have `disabled` and, eventually, `readonly` attributes.

Yes, I know. See the final code below for a better compromise.

The definition does not specify the layer on purpose. It's necessary and sufficient condition that the same check is performed on server-side, any layer.
I

[2020-02-15 16:42] andrewtobilko opened #5600 "SelectManyMenu: selectAll/unselectAll throws an exception when showCheckbox is true"
## 1) Environment
- PrimeFaces version: 8.0.RC-3

## 2) Expected behavior

As usual, `selectAll` would mark all the items as selected, and set/remove appropriate classes.

## 3) Actual behavior

`selectAll` throws an exception

    selectAll: function() {
        for (var c = 0; c < this.items.length; c++) {
            var e = this.items.eq(c);
            var b = e[0];
            b.classList.ad

[2020-02-15 17:05] andrewtobilko commented on #5600
@melloware forgot to mention - the same goes for `unselectAll`, I will update the post accordingly.

[2020-02-15 17:44] christophs78 commented on #5600
Minor notes:
1. We should add unselectAll() to selectmanymenu.md
2. We should add a selectAll/unselectAll example to the showcase

[2020-02-15 17:53] christophs78 commented on #5600
I tried the following:
![grafik](https://user-images.githubusercontent.com/10461942/74592711-4aab3380-5024-11ea-877a-730324430f95.png)
It currently work´s for "basic" but it has a defect for "advanced" (because using p:column)

[2020-02-16 13:14] melloware commented on #5597
I will modify my PR to just:
1. Add disabled check to UIMenuItem
2. Add disabled check to AbstractMenu

And that should cover us correct with little to no performance impact?

[2020-02-16 13:15] melloware commented on #5600
nice work @christophs78

[2020-02-16 13:15] #5600 closed, assigned to christophs78

[2020-02-16 14:17] mmariotti commented on #5597
@melloware ok for 1., it's totally safe.
For 2. we have to do some testing to exclude potential side-effects.
Furthermore, adding 2. only on AbstractMenu is not enough to solve it entirely, other components are affected, like Tab.
Maybe it's better to add an interface like `DisabledAware` to group all these components first.
Also, maybe it's better to open another specific issue?
What do you think

[2020-02-16 15:31] melloware commented on #5597
Yep open another issue.  We will close this one with just the simply fix of #1 checking for disabled in UIMenuItem.

[2020-02-16 16:31] #5597 closed, assigned to melloware

[2020-02-17 10:16] mmariotti opened #5603 "UIComponent: [security] skip processDecodes() if component has disabled=true"
## 1) Environment
- PrimeFaces version: **ALL**
- Does it work on the newest released PrimeFaces version? Version? **NO**
- Does it work on the newest sources in GitHub? **NO**
- Application server + version: **ALL**
- Affected browsers: **ALL**

## 2) Expected behavior
If the component is disabled, it should skip decoding itself (eventually, depending on specific component behavior) and its desce

[2020-02-17 11:26] andrewtobilko opened #5604 "SelectManyMenu: deselecting the only selected option and clicking outside of the checkbox area doesn't trigger 'change'"
## 1) Environment
- PrimeFaces version: 8.0.RC3

## 2) Expected behavior

Clicking on ANY element within an option (an element with class`.ui-selectlistbox-item`) should trigger `'change'` for both selecting and unselecting.

## 3) Actual behavior

When deselecting the only selected option (1) and clicking outside of the checkbox area (2), `change` isn't being triggered.

## 4) Steps to reproduce

[2020-02-17 14:37] melloware commented on #5604
The bug is this line right here. It doesn't make any sense to me on what it is trying to prevent.
[code]

[2020-02-17 14:43] melloware commented on #5604
Reproducer:
[pf-5604.zip](https://github.com/primefaces/primefaces/files/4214321/pf-5604.zip)

[2020-02-17 15:11] tandraschko commented on #5603
+1 to overwrite it in each component but call the original processDecodes like:

[code]

[2020-02-17 15:35] melloware commented on #5603
@mmariotti et all, please review my PR for any components I might have missed. I implemented the ones listed above in the ticket as well as a few others I found that had disabled() properties.

[2020-02-17 15:57] #4724 closed, assigned to nobody

[2020-02-18 11:14] mmariotti commented on #5603
@melloware maybe also `Steps`, checking `isReadonly()` (I've never used this component).
Apart from that, the list seems complete, great job.

[2020-02-18 12:20] melloware commented on #5603
Thanks added Steps.

[2020-02-18 13:23] Rapster opened #5608 "FileUpload: Refactor decoders"
I was having a look at #5594 and I figured the whole decoding thing could be simplified

[2020-02-18 14:58] melloware commented on #237
The problem I believe is this line of the datatable.js.
[code]

Because the h:panelGrid introduces a new layer of table>tr>td its throwing off this selector.

[2020-02-19 18:31] melloware commented on #5603
Attached is a reproducer of the above issue:
[pf-5603.zip](https://github.com/primefaces/primefaces/files/4226683/pf-5603.zip)

I updated HACK5 to be disabled now too as it should not execute C5 but was colored Blue not Red.

![image](https://user-images.githubusercontent.com/4399574/74863574-1bded700-531c-11ea-8660-f2b6a2a79f87.png)

[2020-02-19 21:21] #5603 closed, assigned to melloware

[2020-02-19 21:32] Eachone1 commented on #2388
No sirve, es solo ocultar una columna, y al ocultarse se desarma otra vez

[2020-02-20 08:35] jepsar opened #5610 "TreeNode add selectable attribute"
Currently you can allow selections to be made in a tree:

https://www.primefaces.org/showcase/ui/data/tree/selection.xhtml

I would like to have an option to exclude nodes from being selectable.

[2020-02-20 12:19] melloware commented on #5610
@jepsar you can do this now with `setSelectable(false)`?

I just did this...

[code]

and here is the resulting screenshot where the expenses doc is not selectable.
![image](https://user-images.githubusercontent.com/4399574/74933073-3c0ca580-53b1-11ea-91f3-0ceae924b492.png)

[2020-02-20 14:14] jepsar commented on #5610
Oops, sorry. I got confused by https://primefaces.github.io/primefaces/8_0/#/components/treenode , but of course I should have looked in the model!

[2020-02-20 14:14] #5610 closed, assigned to nobody

[2020-02-20 20:47] paulotwo commented on #2546
The problem is this method on Wizard class, it override the MethodExpression "#{wizardBean.step}" with a fixed String.
[code]

A workaround is comment the "this.setStep", but you will need set WizardBean.step on onFlowProcess.

[2020-02-20 21:02] paulotwo commented on #2546
This also works:
[code]

[2020-02-20 22:10] andrewtobilko opened #5611 "SelectManyMenu: showCheckbox=false requires a meta key to work as a select many component"
Hi guys! It's my third issue on this component, and it's an improvement request rather than a bug.

## 1) Environment
- PrimeFaces version: 8.0RC

## 2) Expected behavior

As the description from the showcase goes

Being a simple user, I click on the item, it's selected, click again on it - it's unselected. I don't know what meta keys are, and how to use them. It's a select MANY component, several

[2020-02-21 07:36] mertsincan opened #5612 "startAtBottom attribute does not work as expected on DataScroller"
Reported By PRO User;

[code]

Explanation: The offset is 0 if one reaches the top item. Consider the case we have here: 200 items with chunk size 12; the offsets when scrolling up will be: 188, 176, 164, ..., 44, 32, 20, 8, 0. As you can see, the diff of the last chunk is 8, not 12; so 4 items (8, 9, 10, 11) will appear twice.

this.rowIndex = (rowIndex % pageSize). Consider again: nr records = 2

[2020-02-21 07:37] #5612 closed, assigned to mertsincan

[2020-02-21 09:40] mertsincan opened #5613 "Add ariaLabel attribute to SelectBooleanCheckbox"
The aria-label attribute is used to define a string that labels the current element for accessibility.

[2020-02-21 09:41] #5613 closed, assigned to mertsincan

[2020-02-21 11:00] Thomas-Schindler commented on #5594
Hi,

@melloware
Yes, definitely I would like to submit a PR for this enhancement. I just need some time to get familiar  with the Terms&Conditions for contributing to PrimeFaces. :-)

@Rapster Thank you for your considerations.

I totally agree with you to keep the signature as simple as possible. So I would go for your suggestion to change the Interface to `VirusScanner#performVirusScan(UploadedF

[2020-02-21 11:06] Rapster commented on #5594
I'm actually working on a PR for this, I'll submit something ASAP

[2020-02-21 11:42] Thomas-Schindler commented on #5594
OK - that's fine! :-)

[2020-02-21 12:49] melloware commented on #5611
Here is a reproducer which fixes your problem and #5604
[pf-5611.zip](https://github.com/primefaces/primefaces/files/4236081/pf-5611.zip)

Just run "mvn clean jetty:run" and navigate to http://localhost:8080/primefaces-test/test.xhtml to try it out.

The values are selected on single click and #5604 is fixed by calling 'change' event even when a single item is clicked.

The trick is I overrode the

[2020-02-21 12:49] #5604 closed, assigned to melloware

[2020-02-21 16:49] kawoolutions opened #5614 "DataTable: Initial multi-column sorting using SortMeta doesn't highlight column headers"
There's a forum conversation for this issue: https://forum.primefaces.org/viewtopic.php?f=3&t=61170

There's also a fork to a PF test case detailing the problem at https://github.com/kawoolutions/primefaces-test

Note the `multisort` dirs under Java and webapp dirs, for beans + XHTML respectively.

## 1) Environment
- PrimeFaces version: 8.0.RC3
- Does it work on the newest released PrimeFaces ver

[2020-02-21 17:29] melloware commented on #5614
@tandraschko I have verified this with their reproducer its definitely not picking up the SortMeta.

[2020-02-21 18:33] ravihariharan commented on #2521
@tandraschko  / @melloware  / @Rapster

How about the solution from Jasper de Vries ?

https://stackoverflow.com/questions/6482443/how-to-avoid-repeatedly-click-a-button-in-a-form/57609865#57609865

[2020-02-21 18:43] ravihariharan commented on #2521
We encountered an issue when a long running process was being processed in the application server and the HTTP server timeout.   This seemed to have caused the ajaxStatus  to stop thereby allowing the user to re-submit. We are still investigating the issue and trying to figure a solution one possible approach is to disable button on client.

[2020-02-22 10:29] jepsar commented on #2521
@ravihariharan please note that I've updated the SO answer with an `isConfirmation` check.

[2020-02-22 11:49] ZiupeX opened #5616 "ImageCropper: JS error when cropping image"
When area for croop image is extended then in console.log there is js error

![image](https://user-images.githubusercontent.com/45762682/75091764-39f14500-5571-11ea-9211-9ead4d86c850.png)

**Image size**: 1,33 MB
**Image resolution**: 5472 x 3684
**p:imageCrooper settings**:

![image](https://user-images.githubusercontent.com/45762682/75091797-8f2d5680-5571-11ea-9cd2-158fe6e9476b.png)

Similary si

[2020-02-22 12:44] melloware commented on #2521
@jepsar Why not make that a PrimeFaces Extension?   Then if people want to use it all they have to do is...
[code]

[2020-02-22 12:49] melloware commented on #5616
Can you create a small reproducer using the Test project?  I can't reproduce it using the Showcase?
https://github.com/primefaces/primefaces-test

Or a better explanation on how to reproduce?

[2020-02-22 13:12] ZiupeX commented on #5616
1. open google chrome
1. enter https://www.primefaces.org/showcase/ui/multimedia/cropper.xhtml
2. open console.log
3. hover over crooper
4. scroll mouse whell out to focus out
5. see on the console log

[2020-02-22 13:15] melloware commented on #5616
Ahh thank you I see it now!  Scroll Mouse Wheel is the key.

[2020-02-22 13:20] melloware commented on #5616
OK Cropper.js https://github.com/fengyuanchen/cropperjs

Has a property "zoomOnWheel" which I think I should disable.

[2020-02-22 14:10] jepsar commented on #2521
@melloware great idea. I'll add it.

[2020-02-22 14:14] ZiupeX commented on #5616
But the problem is not only with zoom of box where image is crooped. When you create simple ImageCrooper and you start crooping custom big image for example with resolution 2400 x 1800

lets take it below image:
https://media.wired.com/photos/5ba158545cee1848e576bc00/master/pass/ferrari_monza_1_sp2.jpg

you get the same error. You need to strecht the crooping area to fill all image and then you wi

[2020-02-22 16:10] melloware commented on #5616
OK let me investigate.  I think the error is here getting in an infinite loop.

https://github.com/primefaces/primefaces/blob/83229b193fa19e24f98aa827c62b1fa8ccd885a4/src/main/resources/META-INF/resources/primefaces/imagecropper/2-imagecropper.js#L64-L86

[2020-02-22 18:24] melloware commented on #2521
Probably can create a CommandLinkRenderer too!

[2020-02-23 12:49] Rapster commented on #2521
BTW, why putting that in PFE and not PF?

[2020-02-23 12:50] melloware commented on #2521
Well PFE we can control, PF not sure this is a feature PrimeTek would want in and Thomas didn't seem too impressed by this need.  So PFE is always a good place to sandbox things like this!

[2020-02-23 12:51] Rapster commented on #2521
Fair enough, makes sense then :wink: But ideally, PF would have been great

[2020-02-24 10:20] tandraschko commented on #5614
i don't think i can work on it, i don't have much time until i moved to my new home :D

[2020-02-24 13:40] melloware commented on #5616
@ZiupeX try this.  Add this JS to your page and see if it fixes all your issues.

[code]

[2020-02-24 15:02] #5575 closed, assigned to melloware

[2020-02-24 15:33] DilyanaN opened #5618 "DatePicker: ui-datepicker-next skips next month"
## 1) Environment
- PrimeFaces version: 7.0.11
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version:
- Affected browsers: Chrome, IE, Firefox...

## 2) Expected behavior
On click on "Next month" (after submit), th

[2020-02-24 15:40] ZiupeX commented on #5616
@melloware
the console log error (Maximum call stack size exceeded) no longer shows. But the problem is still not fixed.

Please try to reproduce with the following:

image
https://media.wired.com/photos/5ba158545cee1848e576bc00/master/pass/ferrari_monza_1_sp2.jpg

![image](https://user-images.githubusercontent.com/45762682/75166512-3eaa2a80-5724-11ea-944b-ca0674c3328b.png)

![image](https://user-

[2020-02-24 15:49] DilyanaN opened #5619 "DatePicker: ui-datepicker-prev does not show previous month on single click"
### 1) Environment
- PrimeFaces version: 7.0.11
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version:
- Affected browsers: Chrome, IE, Firefox...
### 2) Expected behavior
On single click on ui-datepicker-prev (aft

[2020-02-24 15:49] melloware commented on #5616
I am using the Showcase with ...
[code]
No initial coords, min or max set like you have and I can't reproduce it.  So you are doing something different than I am doing.  Can you give me EXACT steps.

[2020-02-24 15:56] ZiupeX commented on #5616
I`m not sure what resolution of image you use  **nature6.jpg**. I working with big images where resolution is big. My ferrari image is in resolution 2400 x 1800 but it also happen with other images:

![image](https://user-images.githubusercontent.com/45762682/75168060-93e73b80-5726-11ea-83f1-f4da322e5cc5.png)

[2020-02-24 15:58] ZiupeX commented on #5616
here is my chrome version (newest) but I tested already on opera and there is the same

![image](https://user-images.githubusercontent.com/45762682/75168261-e32d6c00-5726-11ea-97bf-314e839c3ad1.png)

[2020-02-24 16:04] melloware commented on #5616
OK let me try with your large image.  Resolution must have something to do with it.

[2020-02-24 16:07] ZiupeX commented on #5616
if you using this image:

https://www.primefaces.org/showcase/resources/demo/images/nature/nature6.jpg

resolution is only 500 x 313. Error not happend on that small image. Try again with big resolution.

![image](https://user-images.githubusercontent.com/45762682/75168939-fab92480-5727-11ea-85a8-50ee5155ca88.png)

[2020-02-24 16:18] melloware commented on #5616
OK will do. And this time I will create a runnable reproducer so we can hand each other a running project back and forth.

[2020-02-24 20:00] melloware commented on #5616
OK attached is a reproducer:
[pf-5616.zip](https://github.com/primefaces/primefaces/files/4246764/pf-5616.zip)

Unzip it and run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2020-02-24 21:02] melloware commented on #5618
@christophs78 can you try this with 8.0?

[2020-02-24 21:05] melloware commented on #5616
OK I think I figured it out...

[code]
Just gives you the dimensions of what is displayed on the browser screen like 1881 x 1400

[code]
Give you the real size of the image like 2400 x 1800.

[2020-02-25 05:26] christophs78 commented on #5618
Ok, I will look at this and #5619

[2020-02-25 12:24] melloware commented on #5616
@ZiupeX let me know if you can test out my tester above today so I can merge this fix in before the 8.0 release.

[2020-02-25 15:12] ZiupeX commented on #5616
ok let me test it

[2020-02-25 16:01] ZiupeX commented on #5616
@melloware now it fixed :) everything is okey I tested on multiple images and it seems is not okey. But last thing that you cna improve in JS script. Just remove duplication of event call

![image](https://user-images.githubusercontent.com/45762682/75264911-6a92e200-57f0-11ea-8107-e4518b00b902.png)

[2020-02-25 16:18] ZiupeX commented on #5616
btw. when release 8.0 will be released??

[2020-02-25 16:23] melloware commented on #5616
8.0 should be soon. And I already made your fixes your can see my final PR changes here: https://github.com/primefaces/primefaces/pull/5617/files

[2020-02-25 16:47] #5616 closed, assigned to melloware

[2020-02-26 08:25] tandraschko commented on #5614
TBH: i can reproduce it but i think it will be fixed during: https://github.com/primefaces/primefaces/issues/5438

Please try to use the sortMeta attribute instead sortBy

[2020-02-26 10:16] matinh opened #5620 "Spotlight: spinner is not completely blocked"
## 1) Environment
- PrimeFaces version: 7.0/8.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tested with Jetty (primefaces-demo)
- Affected browsers: Tested with Firefox and Opera, probably applies to all

## 2) Expected behavior
`<p:spotlight>` should block all inputs that are not

[2020-02-26 12:16] melloware commented on #5620
Attached is a reproducer:
[pf-5620.zip](https://github.com/primefaces/primefaces/files/4255595/pf-5620.zip)

[2020-02-26 12:55] melloware commented on #5614
Fixed reproducer: [pf-5614.zip](https://github.com/primefaces/primefaces/files/4255775/pf-5614.zip)

@tandraschko You are correct. I just updated the reproducer here to use sortMeta and it is working fine.

[2020-02-26 14:28] Rapster commented on #5594
See PR #5615

[2020-02-26 14:37] HariharaK23 commented on #1886
@CloudStrife28492 No where you have used rowspan or colspan attribute here in the code you have provided. Can you attach the complete example? I'm having the issue while using rowspan and colspan

[2020-02-26 16:38] melloware commented on #5620
If you need this fix right now just add this JS to your page.

[code]

[2020-02-26 17:41] melloware commented on #5618
Here is my reproducer:
[pf-5618.zip](https://github.com/primefaces/primefaces/files/4257283/pf-5618.zip)

Just run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2020-02-26 17:44] melloware commented on #5619
Attached is a reproducer and I could reproduce this with 8.0RC3 this time.
[pf-5619.zip](https://github.com/primefaces/primefaces/files/4257305/pf-5619.zip)

[2020-02-26 18:01] melloware commented on #5618
OK both issues were the same exact issue see my PR.

[2020-02-26 20:58] #5618 closed, assigned to melloware

[2020-02-26 20:59] #5619 closed, assigned to melloware

[2020-02-26 21:17] ZiupeX opened #5623 "Menu: render multiple submenus correctly"
When I use the following construction to prepare toggable menu

[code]
there is only one level of &lt;li&gt; elements in html. I cant also toggle **VEHICLES** and **CARS** submenus

![image](https://user-images.githubusercontent.com/45762682/75388003-84155600-58e4-11ea-935f-36aa9080d287.png)

![image](https://user-images.githubusercontent.com/45762682/75388544-7a402280-58e5-11ea-9dec-4b8a9828fd96.

[2020-02-26 21:51] kawoolutions commented on #5614
I can confirm that this is working now.

@melloware : your example uses `HashMap`, but you might want to update it with a `LinkedHashMap`, because otherwise the order of the rows of the rendered table is incorrect, because a plain `HashMap` doesn't keep the insertion order.

Why did it have to become a map anyway?

[2020-02-27 07:43] matinh commented on #5620
Thx @melloware for looking into this.

The bug is not that important for us and we have another simple workaround: just increase z-index for `.ui-widget-overlay.ui-spotlight` to 110 or something like this:

[code]

[2020-02-27 12:19] melloware commented on #5620
@matinh Just be careful with your fix if you use p:poller and were to update your spinner `update="sp"` after 10 polls the z-index of the spinner would be 111 because of `++PrimeFaces.zindex`.  Just something to be aware of.

[2020-02-27 12:23] melloware commented on #5614
@kawoolutions It was made a Map if you read this very long thread

https://github.com/primefaces/primefaces/issues/30

See @Rapster comment starting here... https://github.com/primefaces/primefaces/issues/30#issuecomment-562208798

[2020-02-27 12:46] elab opened #5624 "DataTableExcelExporter: DataTable.getColumnsCount() returns wrong value exporters"
All implementations of [`DataTableExporter.exportCells()`](https://github.com/primefaces/primefaces/blob/8.0.RC3/src/main/java/org/primefaces/component/datatable/export/DataTableExporter.java#L304), e.g. DataTableExcelExporter, do column export if it is [rendered and **exportable**](https://github.com/primefaces/primefaces/blob/8.0.RC3/src/main/java/org/primefaces/component/datatable/export/DataTa

[2020-02-27 13:11] Rapster commented on #5614
In my comment I'm talking about `LazyDataModel#load` methods and not `DataTable#filterMeta`

[2020-02-27 13:15] melloware commented on #5614
Yes but this led to @tandraschko refactoring to make both FilterMeta and SortMeta maps and make it easier for quick retrieval instead of looping over the list.

Rapster your comment is this..

Before:

`FilterMeta filter = filters.get("yearFrom")`

Now:

[code]
@kawoolutions Is asking why was filterMeta switched to a Map everywhere.

[2020-02-27 13:46] Rapster commented on #5614
I don't know if it "led to" this decision, probably, but having a map in `LazyDataModel#load` was definitely better. See #5433.

Does `DataTable#filterMeta` should expect a Map as an input? I don't think so. It's probably something that will change in 9.0

[2020-02-27 16:04] klaros-testmanagement opened #5625 "Hotkey: Add support for disabling a hotkey via disabled attribute"
## 1) Environment
- PrimeFaces version:
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: all
- Affected browsers: all

## 2) Expected behavior
There are many use cases where a user wants to disable hotkeys from the server side.
One example is the display of a modal dialog where it is expected that page r

[2020-02-27 16:54] stolp commented on #5625
You may use this reproducer to test the functionality.

[primefaces-test-5625.zip](https://github.com/primefaces/primefaces/files/4262824/primefaces-test-5625.zip)

[2020-02-28 12:20] #5620 closed, assigned to melloware

[2020-02-28 13:23] klaros-testmanagement commented on #5625
@melloware 9.0, really? I desperately need support for this in 8.0 or 8.0.1 and forward.

[2020-02-28 13:24] tandraschko commented on #5625
mert may add it to 8.0.1 but 8.0 is closed for features/enhancements actually. Monday is release.

[2020-02-28 13:30] stolp commented on #5625
@mertsincan Can you please include this enhancement in 8.0.1 after the 8.0 release is done?

[2020-03-01 07:19] christophs78 opened #5627 "Docu: show PF-version and add version-switch"
People open documentation and sometime do not know which version of the documentation they opened. (This causes issues because sometimes due to refectorings newer documentation does not apply to older PF-versions.) Think it would make sense to explicit show the PrimeFaces - version - number. (Not only on the start-page.) Maybe somewhere near the PrimeFaces-documentation image in the upper left.

O

[2020-03-01 13:19] melloware commented on #2521
Closing this ticket for now as we are going to incubate the feature in PrimeFaces Extensions as mentioned above.  It if does well it can always be migrated to PF in the future.  Thanks for the contribution @jepsar

[2020-03-01 23:02] mdzaebel commented on #4724
I retested successfully with 8.0-SNAPSHOT for `p:dataTable`. However, `p:treeTable` does not work. Here is the sample for p:treeTable:

## Bean3.java

[code]
## treeTable.xhtml
[code]
## Reproduce
- Click in the top/left cell and change the value. It will not change (bug).
  - The message shows `cellEdit: old=One, new=One`, but `new` should be changed.
  - Also, cellEditInit is not fired for treeT

[2020-03-02 06:56] mertsincan opened #5628 "Add csv export support to DataTable with row expansion"
Reported By PRO User;

To export the data we are using the <p:dataExporter> with the CSV format.

Expected: The data in the main table and the expanded subtable should be present in the csv.

[2020-03-02 06:57] #5628 closed, assigned to mertsincan

[2020-03-02 07:10] mertsincan opened #5629 "RowExpansion doesn't work as expected on Frozen DataTable with columnToggler"
Details; https://github.com/primefaces/primefaces/issues/5211#issuecomment-574110016

[2020-03-02 07:12] markusg80 commented on #5060
Can you please merge this also to 7 branch? We still nit some time to migrate to Primefaces 8 because there are many breaking changes

[2020-03-02 07:12] #5629 closed, assigned to mertsincan

[2020-03-02 07:44] mertsincan commented on #5544
Hi @stolp,

Sorry for the delayed response :( I checked this issue but, I think you need to update all datatable. This issue is not only related to paginatorPosition attribute. In all other attributes, you can see this issue.

Maybe,  you can use the following solution for this issue;
in test.xhtml(pf-5544.zip)
[code]
Best Regards,
Sorry again ;)

[2020-03-02 11:50] stolp commented on #5544
Hi @mertsincan

Thanks for your reply., This is a nifty solution, thank you!

[2020-03-02 11:52] #5544 closed, assigned to nobody

[2020-03-02 13:16] fanste opened #5630 "DatePicker: Not fully functional with OverlayPanel"
## 1) Environment
- PrimeFaces version: trunk
- Affected browsers: all

## 2) Expected behavior
`p:datepicker` (popup mode) inside `p:overlayPanel` should not close overlay panel when input field is clicked.

## 3) Actual behavior
Overlay panel is closed

## 4) Steps to reproduce
 - open overlay panel (popup of calender is opened automatically)
 - click on input field
 - overlay panel closes, date

[2020-03-02 13:34] christophs78 commented on #5630
@fanste : Is this a new issue in 8.0 or had it been there already in 7.0? (I´ll guess it had been there already in 7.0)

[2020-03-02 13:37] fanste commented on #5630
We have a custom version of 7.x that already has this error and it is still reproducible in 8.x.

**A possible fix:**
File: 0-datepicker.js
Function: onInputClick
[code]

I can't see any negative side effects

[2020-03-02 14:11] melloware commented on #5630
@fanste do you mean something like this...
[code]

[2020-03-02 15:20] fanste commented on #5630
Exactly. But I'm currently a bit short on time so I can't test all possible cases :/

[2020-03-02 15:24] melloware commented on #5630
OK PR submitted.  This does seem like a safe fix.

[2020-03-02 15:32] fanste commented on #5630
Thank you

[2020-03-02 17:41] #5627 closed, assigned to christophs78

[2020-03-02 19:41] melloware commented on #5624
@elab thanks for the bug report and please review my PR.

[2020-03-03 01:27] mP1 opened #5635 "Server requests that result in an unauthorized request (eg session timeout) should redirect to Location(aka) login"
This is an improvement request. The use case is for a PrimeFaces app where the session has timed out, and the user then attempt to interact again with the app. When an AJAX request eventually happens the server will reply with a 401 (Unauthorized), and result in nothing. It would be desirable if the LOCATION header in the response was used to load that page via a window.location.

A fix has been i

[2020-03-03 07:45] naofireblade commented on #4932
Adding styleClass no more throws an error but no class is added to the rendered component.
PrimeFaces version: 8.0.RC3

Edit: Created issue #5636 and PR #5637

[2020-03-03 08:06] naofireblade opened #5636 "StaticMessage: styleClass is not added by renderer"
The staticMessage renderer does not add the styleClass.

## 1) Environment
- PrimeFaces version: 8.0.RC3
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Wildfly 14.0.1
- Affected browsers: All

## 2) Expected behavior

Adding styleClass to the component should add and extra class in the rendered compone

[2020-03-03 08:38] #5636 closed, assigned to nobody

[2020-03-03 08:39] tandraschko commented on #5636
thanks for the PR!

[2020-03-03 11:30] tuerker opened #5638 "DatePicker: ShowTime/ShowSeconds based on pattern"
There are some further issues/bugs with the p:datePicker component.

Issue 1) It should not require to explicitly set the attribute showTime in order to be usually for LocalDateTime. Without this attribute the validation does not pass. Event showTime="false" does not work.

Issue 2) When the attribute pattern is NOT fully applied in case of LocalDateTime. For instance, pattern="yyyy-MM-dd" still s

[2020-03-03 12:00] melloware commented on #5638
@christophs78 care to look at this one?

[2020-03-03 12:15] #5624 closed, assigned to melloware

[2020-03-03 12:24] melloware commented on #5630
@fanste I am having trouble reproducing.  can you try this reproducer?
[pf-5630.zip](https://github.com/primefaces/primefaces/files/4281208/pf-5630.zip)

Just run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2020-03-03 12:33] elab commented on #5624
Thank you, @melloware !
The PR looks good to me. The logic for autoSize columns is now aligned with the logic for columns export (i.e. columns should be "rendered" and "exportable") and the `DataTable.getColumnsCount()` is not used there anymore. Not sure about the function of `applyStatelessModel()`, but it's also called for exporting, therefore the use in autosizing should be OK, too.

[2020-03-03 12:34] melloware commented on #5624
Yep I tested it and I added a new Showcase Example under the Exportable columns for XLSXSTREAM example and all is working!

[2020-03-03 12:39] mdzaebel opened #5639 "TreeTable: CellEdit event not working for dynamic columns"
I retested https://github.com/primefaces/primefaces/issues/4724.  successfully with 8.0-SNAPSHOT for `p:dataTable`. However, `p:treeTable` does not work. Here is the sample for p:treeTable:

## Bean3.java

[code]
## treeTable.xhtml
[code]
## Reproduce
- Click in the top/left cell and change the value. It will not change (bug).
  - The message shows `cellEdit: old=One, new=One`, but `new` should be

[2020-03-03 12:40] christophs78 commented on #5638
Do we have a new 8.0-Final-Releasedate? (Thought it was yesterday.)

IMO we should try to fix issue 3) for 8.0. I´ll try to look into this later this day, but not sure because im busy on my day-job.

Issues 1) and 2) are future work for 9.0. It´s not easy to keep backward-compatibililty with java.util.Date and life with some not optimal design-decisions built into the initial datepicker-design.

[2020-03-03 13:26] fanste commented on #5630
Well.. my fault - sorry :(

My use case: Complex custom datatable filter which has its input components in the overlay panel. Due to an bug in my custom component the overlay panel was a child of the trigger component.

And even though I had removed trigger, overlay panel and calendar from the table during testing, I put the same error there - overlay panel as child element of the trigger. Just st

[2020-03-03 13:27] #5630 closed, assigned to melloware

[2020-03-03 13:33] tandraschko opened #5640 "Ajax Update/Process: Allow non-existent Ids"
in very dynamic views its (sometimes) easier to update all possible element, also those which are currently NOT included in the current state
if you do this with p:ajax, it throws a ComponentNotFoundException

PrimeFaces.current().ajax(...) just logs ComponentNotFoundException instead of throwing a exception

I should add a attribute to p:ajax - maybe "allowNonExistentComponent" or similar

[2020-03-03 15:55] christophs78 commented on #5638
@tuerker: Issue 3 - did you try showSeconds="true"?

`<p:datePicker id="time5" value="#{calendarJava8View.dateTime5}" showTime="true" showSeconds="true"/>`

[2020-03-03 15:59] tuerker commented on #5638
no. i quickly tried. this actually does the job. thanks.

anyway, it would be great if the showTime and showSeconds attributes could be eliminated in future releases and the pattern alone decides what is shown.

[2020-03-03 21:27] melloware opened #5641 "CSP: FileUpload Missing Nonce"
[code]

After running the upload with CSP enabled we get this stack trace:

[code]

[2020-03-03 22:02] melloware commented on #5641
Still trying to reproduce this standalone.

[pf-5641.zip](https://github.com/primefaces/primefaces/files/4294764/pf-5641.zip)

[2020-03-04 12:09] dgusoft opened #5642 "Tooltip: XSS in target title"
## 1) Environment
- PrimeFaces version: 7.0.11
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Affected browsers: all

## 2) Expected behavior
Proper escaping of title referenced by p:tooltip for .

## 3) Actual behavior
Target title not escaped in tooltip.js if this.cfg.target is set in tooltip.js.

## 4) Steps to reproduce

## 5)

[2020-03-04 12:16] melloware commented on #5642
First trying your example I get this error:
[code]

But if I make it...

[code]

Then I can reprorduce it with this reproducer.
[pf-5642.zip](https://github.com/primefaces/primefaces/files/4287185/pf-5642.zip)

[2020-03-04 12:29] #5642 closed, assigned to melloware

[2020-03-04 12:50] melloware commented on #5639
Attached is a reproducer for the issue:
[pf-5639.zip](https://github.com/primefaces/primefaces/files/4287328/pf-5639.zip)

[2020-03-04 13:17] dgusoft commented on #5642
Sorry for the copy&paste error. Thanks for the quick error fix. Will the fix be ported to 7.0.x?

[2020-03-04 13:18] melloware commented on #5642
That is up to @mertsincan to port it to Elite.

[2020-03-04 16:47] mdzaebel commented on #5639
@melloware Thanks for your immediate work and the reproduction zip. I'd whish I could help in any way too. As #4724 was targeted to 8.0, will this issue also be targeted to 8.0? I see, you're already solving the cellEditInit problem on TreeTable? This is great! Are you planing to solve the cellEdit problem too or is it already solved with your last commit? TreeTable is an important component that

[2020-03-04 16:51] melloware commented on #5639
So I fixed the treetable CellEditInit event issue.  But still working on the CellEdit event. It is so werid it only happens on the first cell but row 2 it works fine.

[2020-03-04 17:25] mdzaebel commented on #5639
I tested with multiple rows and identified, that the problem exists on **all** rows but the **last** one. Only the last row shows the new value correctly. Even, if you introduce indented layers, only the last (possibly indented) row works.

[2020-03-04 17:59] christophs78 opened #5645 "Docu: make sure up-to-date versions are delivered to the client"
Due to this (old versions) of the documentation are loaded from "Cache Storage".

![grafik](https://user-images.githubusercontent.com/10461942/75908039-b0335880-5e49-11ea-8ba8-5cbb764c7136.png)
![grafik](https://user-images.githubusercontent.com/10461942/75908071-bde8de00-5e49-11ea-9e86-19b1eb3147a9.png)

When we update documentation users still have the old versions in their "Cache Storage". Only

[2020-03-04 18:18] melloware commented on #5639
OK I merged the CellEditInit event fix but reopened this ticket since the CellEdit issue is not resolved.

[2020-03-04 18:19] melloware commented on #5645
I think that serviceWorker was done because of this ticket: https://github.com/primefaces/primefaces/issues/4713

[2020-03-04 18:24] christophs78 commented on #5645
Makes sense. But we should find a way to get updated docu reliable to our users.
Maybe modify the service worker so it only uses Cache Storage when no network-connection is available or ....

[2020-03-04 18:25] melloware commented on #5645
I am open to suggestions!

[2020-03-04 18:32] christophs78 commented on #5645
https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine/onLine
Have to think where we are able to apply this to the serviceworker.

[2020-03-04 18:47] mdzaebel commented on #5639
I verified that with your last commit, TreeTable now fires the cellEditInit event correctly. Good luck for CellEdit, if you have the time.

[2020-03-04 18:47] christophs78 commented on #5645
I will try to debug the Serviceworker. There seems to be some code which tries to update Cache Storage.

[2020-03-05 10:50] christophs78 commented on #5645
Loading docu the first time (after past visit) --> you still see the old docu. (Because loaded from Cache Storage.)
Second visit --> we see the updated docu. (Because as part of our first visit the Cache Storage was updated.)

[2020-03-05 12:29] #5594 closed, assigned to nobody

[2020-03-05 12:29] tandraschko commented on #5594
@Rapster please also adjust the migration guide

[2020-03-05 13:00] tandraschko opened #5646 "Support Jakarta Faces"

[2020-03-05 13:05] #5445 closed, assigned to melloware

[2020-03-05 14:32] tandraschko commented on #5646
PrimeFaces now works on Jakarta Faces! Mojarra is not ready yet but we already have MyFaces 3.0 with jakarta namespace and PrimeFaces already supports it.

[2020-03-05 14:32] tandraschko commented on #5646
thanks to romain for enhancing the maven-shade-plugin!

[2020-03-05 14:43] #5635 closed, assigned to nobody

[2020-03-05 14:44] tandraschko commented on #5635
Thanks for the PR!

[2020-03-05 14:46] melloware commented on #5646
@tandraschko Can you give a short summary on why those relocations are necessary for Jakarta Faces?  I am looking at the Shade but i don't understand why it needed?

[2020-03-05 14:48] tandraschko commented on #5646
javax.faces -> jakarta.faces
for packages and constants ;)

[2020-03-05 14:49] tandraschko commented on #5646
https://github.com/apache/myfaces/tree/3.0.x

[2020-03-05 14:49] melloware commented on #5646
AHH!  that makes a lot of sense. Thanks.

[2020-03-05 14:51] tandraschko commented on #5646
later we also have to relocate jakarta.validation and other specs

[2020-03-06 08:40] ozziej opened #5648 "Themes: Progress bar does not display label"
p:progressBar css wrong, hides the label

## 1) Environment
- PrimeFaces version: 7
- Issue shows up on https://www.primefaces.org/showcase (running 8.0)
- Application server + version: TomEE 1.8 (tomcat 9.0) unrelated as also occurs in Wildfly (any version)
- Affected browsers: All

## 2) Expected behavior
By default the label should show
...

## 3) Actual behavior
Label will NEVER show. CSS for

[2020-03-06 08:44] tandraschko commented on #5648
Thats a decision by the theme to show or hide it. Seems like some newer themes hides it by design.

[2020-03-06 09:01] fanste opened #5649 "DataTable: Pagination combined with first not correct"
## 1) Environment
- PrimeFaces version: 8.0

## 2) Expected behavior
`<p:dataTable pagination="true" rows="20" first="105" ...>` should be the 6th item on the 6th page.

## 3) Actual behavior
The 6th page is opened but the item is at the very top of that page. But if you go to another page and than back to page 6 again, the item is at the 6th position and not at 0 anymore.

![grafik](https://user-

[2020-03-06 09:10] tandraschko commented on #5649
you know, issues without samples are invalid :P
Can you replicate it in the showcase?

[2020-03-06 09:22] ozziej commented on #5648
Okay, I get that, however, the theme SHOULD allow you to override this, however, if they use the !important tag, then you CANNOT override this. I disagree with that. There needs to be some flexibility.

[2020-03-06 09:43] fanste commented on #5649
Well, the sample (kind of..) is provided in the **expected behavior** section :D

But here you go: https://github.com/fanste/primefaces-test/tree/test-5649

[2020-03-06 10:44] tandraschko commented on #5648
@mertsincan can we remove the !important here?

[2020-03-06 10:45] tandraschko commented on #5043
@christophs78 WDYT? shall we do it or wait until the old classes are deprecated in java itself?

[2020-03-06 11:56] christophs78 opened #5650 "Docu: FileUpload; Attribute "performVirusScan" was renamed to "virusScan""
https://github.com/primefaces/primefaces/commit/246d7c78ba569354d7b9e7dda946dd0ef115769f

We need to update the documentation.

[2020-03-06 11:57] melloware commented on #5043
My personal preference would be wait until the are deprecated in the JDK or at worst at least one more major PF revision of 9.0.

[2020-03-06 11:59] christophs78 commented on #5043
Yep. We should wait.

[2020-03-06 12:00] stolp commented on #5043
Speaking from the pure consumer side I would also appreciate that the support for java.util.Date stays in as long as possible. Some apps have a long legacy to look back on.

[2020-03-06 12:08] #5043 closed, assigned to tandraschko

[2020-03-06 13:21] #5650 closed, assigned to nobody

[2020-03-06 13:22] kaisor6688 opened #5651 "LazyDataModel#load signatures has been changed; sortBy is now a Map instead of List."
if SortBy is now a Map, how can the order of sortings work?
version 8.0 Primefaces

[2020-03-06 13:26] melloware commented on #5651
Its a LinkedHashMap which retains its order.

[code]

[2020-03-06 13:26] #5651 closed, assigned to nobody

[2020-03-06 16:42] #5288 closed, assigned to melloware

[2020-03-06 17:21] ZiupeX opened #5653 "Bean Validation: messages not show all labels"
Hi.
You can check it on primefaces showcase for bean validation.

https://www.primefaces.org/showcase/ui/csv/bean.xhtml

When messages component show validation error there few labels skipped (probably connected with some of annotations).

Labels which are skipped:

![image](https://user-images.githubusercontent.com/45762682/76106387-071a6880-5fd7-11ea-975a-29fcfd605bff.png)

[2020-03-06 17:35] melloware commented on #5653
I don't think this is new with 8.0 is it? I would assume its always done this?

[2020-03-06 17:40] ZiupeX commented on #5653
Yes, I think it is not new in 8.0. Probably it was always

[2020-03-06 21:21] melloware opened #5654 "VirusScanner: ClamAV Daemon implementation"
A ClamD implementation of the virus scanner which scans your file in real time and reports viruses.

https://linux.die.net/man/8/clamd

It requires a ClamAV Daemon service running somewhere on your network and configured with 4 context params in `web.xml`.

**primefaces.virusscan.CLAMAV_HOST**
The IP Address of the machine where ClamAV is running. example 127.0.0.1

**primefaces.virusscan.CLAMAV_P

[2020-03-07 12:48] ltlBeBoy opened #5656 "DatePicker: Range not set when specified in abstract class"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Payara 5.181
- Affected browsers: Firefox, Chrome, ...

## 2) Expected behavior

For multiple statistics views I have an abstract base class that handles the valid year range, the maximum date and the selected da

[2020-03-07 13:44] melloware commented on #5656
Are you sure the Abstract Class has anything to do with it?  Does it work fine if it is just a normal bean with no abstract class with proper setters and getters?

Or is the real issue that the DateSelect event is not being called when End Date is selected?

[2020-03-07 14:24] ltlBeBoy commented on #5656
Yes, it works without an abstract class.

And I found the reason:
[org.primefaces.component.calendar.BaseCalendarRenderer](https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/calendar/BaseCalendarRenderer.java)`#resolveDateType(FacesContext, UICalendar)` calls [org.primefaces.util.LangUtils](https://github.com/primefaces/primefaces/blob/master/src/main/java/

[2020-03-07 14:29] melloware commented on #5656
OK thanks for the investigation.  We will look to fix it.

[2020-03-07 14:32] ltlBeBoy commented on #5656
Positive test (without an abstract class):

[code]
[code]

[2020-03-07 16:49] melloware commented on #5656
Reproducer:
[pf-5656.zip](https://github.com/primefaces/primefaces/files/4302155/pf-5656.zip)

[2020-03-07 17:29] melloware commented on #5656
OK submitted a fix that will fix it but i want other dev's eyes on it before I merge it.

[2020-03-07 19:08] ltlBeBoy commented on #5656
Thank you for the quick response!

An annotation to your fix

[code]

It will not work because `LangUtils.getUnproxiedClass(Class)` ignores abstract classes.

I don't know if it is save to extend `LangUtils`. So I wrote a fix for the `BaseCalendarRenderer`. It loops over the abstract super classes in case there are multiple of them:

[code]

[2020-03-07 22:13] melloware commented on #5656
Did you try my fix?  I tested it against your exact use case and it works fine.

LangUtils returns -> TestView.

I then called getDeclaredField() against TestView and it fails. It then asks for TestViews getSuperClass() which returns AbsractTest.  Then it calls getDeclaredField() on AbstractTest and properly finds the field.

[2020-03-08 12:16] #5656 closed, assigned to melloware

[2020-03-08 16:40] ltlBeBoy commented on #5656
Ah, yes. The point is that you just get the direct super class:
[code]

That does work for that particular test case, but it does not work if that super class also has an abstract base class. In my software for example I have an abstract base class for the date limit and date range handling. And an additional abstract class is derived from it and for special statistics views, that group the statis

[2020-03-08 20:53] blutorange opened #5659 "IdleMonitor: Change this context of onactive callback"
Low priority. I came across this while adding types and docs for #5027 (yes, still working on this, got some time on my hands now and should be done soon).

The IdleMonitor widget [has got two callback the user can set](https://primefaces.github.io/primefaces/7_0/#/components/idlemonitor?id=attributes): `onactive` and `onidle`.

`onidle` is called with `this` [set to the widget instance](https://g

[2020-03-08 21:21] ZiupeX commented on #5653
any news?

[2020-03-08 23:23] erickdeoliveiraleal opened #5661 "Repeat: exception"
## 1) Environment
- PrimeFaces version:
- Does it work on the newest released PrimeFaces version? Version? 8.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version:
- Affected browsers:

## 2) Expected behavior
click on button should not fire exception
version 7.0 is ok

## 3) Actua

[2020-03-09 09:01] Rapster commented on #5661
`FacesEvent#getFacesContext` is only available in 2.3

[2020-03-09 10:53] tandraschko commented on #5656
guys, i did a small refactoring
we should use the `getter` as the property is public (otherwise it cant be used in EL)
i think it's a bit cleaner now

[2020-03-09 10:54] tandraschko commented on #5656
See: https://github.com/primefaces/primefaces/commit/32a6ed51a27245ff70f9ec91b8aad710f562c707

[2020-03-09 11:19] ltlBeBoy commented on #5656
Perfect! Works fine with my software.
Thank you!

[2020-03-09 11:20] melloware commented on #5659
I agree with you. PR Submitted.

[2020-03-09 12:00] tandraschko commented on #5661
yep, i re-ported the ui:repeat but didn't test with older JSF versions

[2020-03-09 12:01] #5659 closed, assigned to nobody

[2020-03-09 12:01] tandraschko commented on #5659
Thanks for the PR!

[2020-03-09 12:10] yennor opened #5663 "Chart JS: Wrong documentation for chart extender"
## 1) Environment
- PrimeFaces version: 8

## 2) Problem
In the documentation to chart js component is written that the construct for the chart extender in javascript should look like:
`
options ={ legend:{.....}}
`
Which definitely doesn't work.
What works is:
`
options = { options: { legend :{....}}}
`
Would save people some time if you'd correct that :-)

[2020-03-09 12:12] tandraschko commented on #5663
The docu is in github (https://github.com/primefaces/primefaces/tree/master/docs/8_0), so please create a PR :)

[2020-03-09 12:20] yennor commented on #5663
ups. Sorry. didn't see that ;-).
here we go:
https://github.com/primefaces/primefaces/pull/5664

[2020-03-09 12:40] cocorossello commented on #5429
Hi, this is causing problems with other components with z-index.

If you open a bootstrap modal that is rendered inside a .ui-tab component it doesn't work right with the transform. It works fine with the zoom: 1

[2020-03-09 12:51] melloware commented on #5663
Thanks yennor good catch.  Can you also make the same change in the 9_0 documentation section and then I will merge your PR. Thanks!

[2020-03-09 13:12] yennor opened #5665 "ChartsJS: TimePoint value type"
## 1) Environment
- PrimeFaces version: 8.0

## 2) Expected behavior
Charts js allows to pass datapoints as x/y Tuples. Right now Primefaces implemented that using the NumericPoint class. Which works, but only accepts, oh wonder, numeric points ;-).
It would be greate if there would be also a DatePoint class, or something similar, which accepts, a combination of LocalDatetime and Numeric points.
e

[2020-03-09 13:28] melloware commented on #5429
@cocorossello Feel free to investigate.  Zoom is not supported on Firefox.  So you may have to implement some custom styles for this to work without using zoom CSS.

[2020-03-09 13:31] melloware commented on #5665
See this ticket: https://github.com/primefaces/primefaces/issues/4564

I think we need a TimePoint object not extend NumericPoint.

[2020-03-09 13:35] #5663 closed, assigned to nobody

[2020-03-09 13:35] melloware commented on #5663
I fixed the 9_0 docs.

[2020-03-09 13:46] melloware commented on #5665
Yeah when I dug into it more with parser etc and needing a datetimeformat on the chartJS side I stopped pursuing it.

[2020-03-09 14:06] #5661 closed, assigned to nobody

[2020-03-09 15:13] melloware commented on #5653
@ZiupeX This is not a bug. This is in the documentation here:

https://primefaces.github.io/primefaces/8_0/#/core/clientsidevalidation?id=messages

To test just do the following:

1. Go to https://www.primefaces.org/showcase/ui/csv/bean.xhtml

2. Press F12 in Chrome to bring up the Console.

3. Enter in Console
[code]
4. Now run your validation Test you will see labels.

[2020-03-09 15:13] #5653 closed, assigned to nobody

[2020-03-09 15:13] yennor commented on #5665
it works well on the chartJs side if you just use a javascript Date object. Then you don't need to define any parser. But still some other axes options like type: "time",...
To be honest, yes, it's quite a mess and I've got no idea how to implement that in a way it's not going to be confusing to the user by automatically setting some of the axes options without telling him... And otherwise a lot o

[2020-03-09 17:06] melloware commented on #5641
Closing this was fixed between RC3 and 8.0 Final.

[2020-03-09 17:06] #5641 closed, assigned to nobody

[2020-03-09 17:15] melloware commented on #5645
Looks like this is a common issue:
https://stackoverflow.com/questions/41903097/how-to-force-service-worker-to-update

[2020-03-09 17:32] melloware commented on #5227
Assigned to you @christophs78 whether you want to add the documentation or close this ticket.

[2020-03-09 18:14] melloware commented on #3647
Reproducer:
[pf-3647.zip](https://github.com/primefaces/primefaces/files/4308270/pf-3647.zip)

Works fine in Mojarra 2.2/2.3 and MyFaces 2.2/2.3.  Closing ticket.

[2020-03-09 18:14] #3647 closed, assigned to nobody

[2020-03-09 18:52] erickdeoliveiraleal opened #5668 "Spinner: exception inside datatable summary row"
## 1) Environment
- PrimeFaces version:
- Does it work on the newest released PrimeFaces version? Version? 8.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version:
- Affected browsers:

## 2) Expected behavior
click on button should not fire exception
version 7.0 is ok

## 3) Actua

[2020-03-09 20:53] christophs78 commented on #5645
The stackoverflow-article is related to updating the ServiceWorker-JS itself.

Our issue is related to following code in sw.js:
[code]

Loading the content from Cache Storage almost always is a few milliseconds faster than loading it from the remote server. (So loading from Cache Storage wins.) I will try something like adding a setTimeout with 500ms to the cached-promise. (Inspired by https://dev

[2020-03-10 11:28] melloware opened #5670 "CSP: Google Recaptcha violation"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released Prime Faces version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: ALL
- Affected browsers: ALL

When PrimeFaces CSP is enabled Google reCaptcha is failing.

There is a 3 part fix.

1. Must update captcha.js to handle the NONCE value.

2. Must use the custom policy in your web.

[2020-03-10 11:48] #5670 closed, assigned to melloware

[2020-03-10 15:03] #5645 closed, assigned to christophs78

[2020-03-10 15:33] #5668 closed, assigned to melloware

[2020-03-11 13:55] mertsincan opened #5674 "Improve button styles on Nova and Luna"
Related to https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/762

[2020-03-11 13:58] #5674 closed, assigned to mertsincan

[2020-03-11 18:21] erickdeoliveiraleal opened #5675 "Dialog: inside a tab modal=true is blocking also dialog"
I believe this is bad practice, but a colleague of mine asked me to report. If the dialog is out of tab it works normal.

## 1) Environment
- PrimeFaces version:
- Does it work on the newest released PrimeFaces version? Version? 8.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + versi

[2020-03-11 18:41] melloware commented on #5675
Add `appendTo="@(body)"` fixes it...

[code]

[2020-03-11 19:19] melloware commented on #1834
Attached is a reproducer:
[pf-1384.zip](https://github.com/primefaces/primefaces/files/4320336/pf-1384.zip)

[2020-03-11 19:31] #5625 closed, assigned to nobody

[2020-03-11 19:45] melloware opened #5677 "Shade Plugin: Warnings"
Current build generates these warnings from the Shade Plugin.
[code]

[2020-03-11 20:15] #5677 closed, assigned to melloware

[2020-03-11 22:20] bodabela opened #5679 "TextEditor: disabled feature"
## 1) Environment
- PrimeFaces version: 7.0
- Not present in GitHub 9.0-SNAPSHOT

## 2) Expected behavior
It would be important to have "disabled" attribute for textEditor, because it is the userfriendly way to implement that the component won't send its input to the server. (it is not the "readonly" usecase)

## 3) Actual behavior
"disabled" feature is general within all the other inputs already.

[2020-03-12 09:14] samantrader opened #5680 "java: cannot find symbol symbol:"
hello

i  write   a   sample  code     with  joinface

and  use    ContextMenu      but     in    MenuView   class   has   thsi  error

Error:(25, 53) java: cannot find symbol
  symbol:   method builder()
  location: class org.primefaces.model.menu.DefaultSubMenu

how  fix  it

thanks

[2020-03-12 09:23] tandraschko commented on #5680
please use the forum, this is for real issues, not for support

[2020-03-12 09:23] #5680 closed, assigned to nobody

[2020-03-12 09:26] fanste opened #5681 "DatePicker: Manually clearing the input field should result in null value instead of empty string"
## 1) Environment
- PrimeFaces version: latest from trunk

## 2) Expected behavior
1. An initial empty datepicker: `widget.getDate()` returns null
2. Clearing the Datepicker using the clear-button: `widget.getDate()` returs null
3. Manually clearing the input field of the datepicker: `widget.getDate()` returns null

## 3) Actual behavior
 3. Manually clearing the input field of the datepicker: `wi

[2020-03-12 09:36] fanste commented on #5681
PR #5682

[2020-03-12 10:55] fanste opened #5683 "DatePicker: Incomplete manual input throws JS error in hideOverlay"
## 1) Environment
- PrimeFaces version:  8.0 (Showcase)

## 2) Expected behavior
Never throw JS error, when the calendar overlay closes

## 3) Actual behavior
JS error is thrown when the overlay closes and the value of the input fiels does not represent a valid date. The manual input is broken until a date is selected from the calendar.
[code]

## 4) Steps to reproduce
 - Select a date from the [D

[2020-03-12 11:05] fanste opened #5684 "DatePicker: setDate throws JS error"
## 1) Environment
- PrimeFaces version: 8.0 (Showcase)

## 2) Expected behavior
Don't throw JS error on `widget.setDate(...)`

## 3) Actual behavior
JS error is thrown because of missing variable
[code]

## 4) Steps to reproduce
 - Open [Showcase](https://www.primefaces.org/showcase/ui/input/datepicker/datePicker.xhtml)
 - Execute one of the follwoing examples in the browsers console:
    - `PF('w

[2020-03-12 11:10] melloware commented on #5681
@christophs78 Can you please review?

[2020-03-12 11:11] melloware commented on #5683
Not a bad idea. have you tried it?

[2020-03-12 11:12] melloware commented on #5684
@christophs78 Please review this also.

[2020-03-12 11:14] fanste commented on #5684
PR #5685

[2020-03-12 11:19] fanste commented on #5683
Not yet, but soon.

It will be similar to [onUserInput](https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/datepicker/0-datepicker.js#L1575) which simply ignores the call to `this.updateViewDate` if the date could not be parsed (`catch` only update the model not the view).

[2020-03-12 12:16] fanste commented on #5683
Seems to be working.

PR #5687

[2020-03-12 12:26] melloware commented on #5679
I added it as an attribute and also added widget methods for `enable()` and `disable()` like other components have.

[2020-03-12 12:30] fanste opened #5688 "DatePicker: Support string-input for setViewDate"
## 1) Environment
- PrimeFaces version: 8.0 (Showcase)

## 2) Expected behavior
`widget.setViewDate` should work with string and Date input. `widget.setDate` also allows both types.

## 3) Actual behavior
Only Date input is working.

## 4) Steps to reproduce
 - Open the browser console in the [Showcase](https://www.primefaces.org/showcase/ui/input/datepicker/datePicker.xhtml)
 - `PF('widget_form_p

[2020-03-12 12:33] fanste commented on #5688
PT #5689

[2020-03-12 13:05] melloware commented on #5688
Nice work. I would like @christophs78 to review all your fixes but to me they look good.

[2020-03-12 18:21] #5683 closed, assigned to nobody

[2020-03-12 18:21] #5688 closed, assigned to nobody

[2020-03-12 18:22] #5681 closed, assigned to nobody

[2020-03-12 18:22] #5684 closed, assigned to nobody

[2020-03-12 18:27] melloware commented on #5684
After your fix I still get the error here: `PF('widget_form_popup').setDate(new Date())`

[2020-03-12 20:10] melloware commented on #5684
Nevermind its fixed.

[2020-03-13 07:55] OBreidenbach opened #5690 "Schedule: renderingMode must be lowercase"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: does not matter
- Affected browsers: does not matter

## 2) Expected behavior

## 3) Actual behavior

The full cale

[2020-03-13 08:40] OBreidenbach commented on #5690
As workaround you can use:
 .dynamicProperty("rendering", ScheduleRenderingMode.BACKGROUND.getRendering())
on DefaultScheduleEvent.builder()

[2020-03-13 11:09] fanste opened #5692 "DatePicker: setDate should handle null or empty string parameter"
## 1) Environment
- PrimeFaces version: 8.0 (Showcase)

## 2) Expected behavior
`widget.setDate(null)` or `widget.setDate('')` should clear the date picker.

## 3) Actual behavior
`widget.setDate(null)`
[code]
`widget.setDate('')`
[code]

## 4) Steps to reproduce
 - Open browser console on [Showcase > Datepicker](https://www.primefaces.org/showcase/ui/input/datepicker/datePicker.xhtml)
 - Execute

[2020-03-13 11:15] melloware commented on #5692
I like #3 also

[2020-03-13 13:22] fanste commented on #5692
PR #5693

[2020-03-13 14:03] #5690 closed, assigned to OBreidenbach

[2020-03-13 20:02] MatheusRadeski opened #5694 "SelectEvent returning null"
html
[code]
inputConverter.xhtml
[code]

InputConverterUIComponent.java
[code]
In the selectEvent method the event is null.
If I pass the selectObj () method directly in the ajax listener, it works.
[code]

Why is this happening?

Primefaces 6.2
Jakarta ee 8
Payara 5

[2020-03-13 20:05] tandraschko commented on #5694
Please provide a runnable primefaces-test project, otherwise its to hard to replicate

[2020-03-14 11:53] #5679 closed, assigned to melloware

[2020-03-14 13:56] alailson opened #5695 "dialog: dialog modal inside tabView"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? Version?
No
- Does it work on the newest sources in GitHub?
 No
- Application server + version:
Wildfly 10

- Affected browsers:
Chrome , Firefox
Others (not Tested)

## 2) Expected behavior
The shadow of the modal shall not cover the dialog

## 3) Actual behavior

It is over the dialog

## 4) Ste

[2020-03-14 14:48] melloware commented on #5695
I think your issue is this: https://github.com/primefaces/primefaces/issues/5675 try the solution mentioned in that ticket.

[2020-03-14 15:10] alailson commented on #5695
It works. Thanks.

[2020-03-14 16:40] #5695 closed, assigned to nobody

[2020-03-15 20:21] brooksie opened #5696 "DatePicker: maxdate/mindate causes popup not to work"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Not attempted
- Application server + version: wildfly-18.0.1.Final / Mojarra 2.3.9.SP04
- Affected browsers: Firefox, Edge

## 2) Expected behavior
Cl

[2020-03-16 11:02] MatthiasScherrerFGCZ opened #5697 "Timeline: Performance issues with large datasets"
The timeline component is not usable anymore for larger datasets

## 1) Environment
- PrimeFaces version: PrimeFaces-8.0
- Application server + version: Mojarra-2.3.13
- OS on the client: Ubuntu 18.04.3 LTS
## 2) Expected behavior
The timeline (tested with around 9500 datasets) should render the timeline within a reasonable amount of time (e.g., < 2s).
In PF7, this was no problem at all.

## 3) Ac

[2020-03-16 11:10] #5692 closed, assigned to fanste

[2020-03-16 11:12] melloware commented on #5697
Can you create a simple test case for us using the PrimeFaces Test project so I can debug it?
https://github.com/primefaces/primefaces-test

[2020-03-16 11:23] melloware commented on #5696
I can't reproduce your issue.  Here is my reproducer:
[pf-5696.zip](https://github.com/primefaces/primefaces/files/4339254/pf-5696.zip)

Run `mvn clean jetty:run-exploded -Pmojarra23` and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2020-03-16 11:24] #5694 closed, assigned to nobody

[2020-03-16 11:36] astappiev opened #5698 "LinkButton: Focus styles"
When navigating using a keyboard, p:linkButton do not show focus styles (because the focus is bound to link and not wrapper span element).

[2020-03-16 11:47] astappiev commented on #5698
Something like this fixes the issue
[code]

[2020-03-16 12:41] melloware commented on #5698
@astappiev Please review my PR.  I simplified your code a bit and also added enable() and disable() widget methods.

[2020-03-16 12:51] melloware commented on #5698
Try...
[code]

[2020-03-16 12:56] astappiev commented on #5698
Works fine.

And you are right if I add `keyup.linkbutton` it removes all classes immediately. In the previous version, I remove only `ui-state-active` class on `keyup`.

[2020-03-16 14:46] MatthiasScherrerFGCZ commented on #5697
@melloware Will provide a reproducer case tomorrow.

[2020-03-16 16:17] christophs78 commented on #5697
Is it an option to use LazyLoading?
https://www.primefaces.org/showcase/ui/data/timeline/lazy.xhtml

[2020-03-16 18:56] melloware commented on #5582
I am not sure this is easily fixable because you are dragging while the AJAX update happens underneath of you in the DOM.    I think the only thing possibly may be to not allow that as a drop target if an AJAX event happens underneath while you are dragging.

[2020-03-16 18:58] brooksie commented on #5696
Hi.
I'm still not able to get this to work on my PC using Wildfly 18.0.1.Attached is the project you sent, where I've amended the POM for Wildfly. I've also attached two screenshots - one where DatePicker (only) works fine; the other where DatePicker with maxdate/mindate doesn't.
The normal Primefaces showcase all works fine for me.

I've also extended the example and added two Calendar fields - a

[2020-03-16 19:00] melloware commented on #5696
Your attachment did not come through...

[2020-03-16 19:10] brooksie commented on #5696
![Test5](https://user-images.githubusercontent.com/4806551/76791861-abf82b00-67b9-11ea-8069-893d74d7a607.png)
![Test2](https://user-images.githubusercontent.com/4806551/76791864-ac90c180-67b9-11ea-9605-105d810e2bf2.png)
![Test1](https://user-images.githubusercontent.com/4806551/76791866-ac90c180-67b9-11ea-90fa-6edbbaba30e8.png)
[PF-5696-SJB-16Mar2020.zip](https://github.com/primefaces/primefaces/f

[2020-03-16 19:14] brooksie commented on #5696
Didn't mean to close this... reopening.

[2020-03-16 19:17] melloware commented on #5696
So your changes to the pom.xml made this project no longer runnable?

I am using WildFly 14 currently with no issues.   Its possible something is wrong in 18.01 or that somehow the dependencies are messed up.  But running our Test project with the proper Mojarra 2.3 can't reproduce your issue.

[2020-03-16 20:48] DazzlingBob opened #5700 "commandLink in repeat does not work in PrimeFaces 8.0"
## 1) Environment
PrimeFaces version: PrimeFaces-8.0
Application server: Jetty 9.4.27 + version: Mojarra-2.2.20

## 2) Expected behavior
When a button link is pressed the text "Button x pressed" appears.
In PF7, this was no problem at all.

## 3) Actual behavior
Crash:
com.sun.faces.context.AjaxExceptionHandlerImpl handlePartialResponseError
SEVERE: java.lang.NoSuchMethodError: javax.faces.event.F

[2020-03-16 20:49] tandraschko commented on #5700
Duplicate of: https://github.com/primefaces/primefaces/issues/5661

[2020-03-16 20:50] #5700 closed, assigned to nobody

[2020-03-16 20:54] DazzlingBob commented on #5700
Did not see it was already reported. Just found out when upgrading to 8.0.
Workaround found, use <ui:repeat>

[2020-03-17 00:33] Level0r0s opened #5701 "prime ui + SVELTE ?"
exists prime ui to SVELTE ?

[2020-03-17 07:45] tandraschko commented on #5701
This is the PrimeFaces (for JSF) issue tracker, not for primeui

[2020-03-17 07:45] #5701 closed, assigned to nobody

[2020-03-17 08:02] jthalmai commented on #5582
Do you think it would also be possible to just check for duplicated column IDs in the drop event listener?

[2020-03-17 12:21] melloware commented on #5582
Possibly. Feel free to investigate looks like all the drag and drop code is in datatable.js in the method `setupDraggableColumns()`.

[2020-03-17 12:47] #5227 closed, assigned to christophs78

[2020-03-17 16:01] MatthiasScherrerFGCZ commented on #5697
@melloware I updated it with the reproducer xhtml and bean.

[2020-03-17 16:23] melloware commented on #5697
thank you very much.  Let me investigate.

[2020-03-17 16:23] ltlBeBoy commented on #5697
I like to mention that there also is a performance issue when the events are grouped. You can reproduce this by opening the showcase and then jump between "Basic" and "Grouping". The grouped events are rendered much slower. This was not the case with PrimeFaces 7.0.

[2020-03-17 16:57] melloware commented on #5697
Runnable reproducer:
[pf-5697.zip](https://github.com/primefaces/primefaces/files/4344689/pf-5697.zip)

@jasonex7 being included in case he cares and I opened a ticket with vis-timeline.

[2020-03-17 17:12] xxiFear opened #5703 "Datatable: Filtering broken for including dynamic column multiple times"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source): Tried it but couldnt get my project to work as the whole page rendering was messed up
- Application server + version: Tomcat 9.0.31
- Affected browse

[2020-03-17 17:14] melloware commented on #5696
Going to close this until you can provide a reproducer we can debug.

[2020-03-17 17:24] xxiFear commented on #5703
![Variable content in IntelliJ](https://user-images.githubusercontent.com/23106855/76883345-4f117900-687c-11ea-9b0a-78fd495f946a.png)

As you can see, the key is always the subtring following the last DOT in the columns **value**, even if that is the placeholder of a dynamic colum

[2020-03-17 18:12] tomlux opened #5704 "DataTable rowsPerPageTemplate-ShowAll+ filtering throws NumberFormatException"
## 1) Environment
- PrimeFaces version: Primesfaces 8.0
- Application server + version: Wildfly 16
- Affected browsers: all

## 2) Expected behavior

When I select "ShowAll" in DataTable's rows per page drop-down list, all the rows should be filtered.

## 3) Actual behavior

When the "ShowAll" option is selected, an NumberFormatException is thrown during filtering

     java.lang.NumberFormatExcep

[2020-03-17 18:28] melloware commented on #5704
I can't reproduce your issue:
[pf-5704.zip](https://github.com/primefaces/primefaces/files/4345118/pf-5704.zip)

You can execute the sample with `mvn jetty:run` command and hit http://localhost:8080/primefaces-test to run the page.

[2020-03-17 18:42] tomlux commented on #5704
I'm also getting an exception running your zip with "mvn hetty:run".

Here my steps o reproduce:

1. opening http://localhost:8080/primefaces-test/
2. setting column filtering to "2" while leaving the rpp to 5, rows 2+12 are display
3. setting the rpp now to ALL
 -> NumberFormatException
4. setting column filtering to "1"
 -> NumberFormatException

SEVERE: Error Rendering View[/test.xhtml]
    jav

[2020-03-17 18:49] melloware commented on #5704
Yep now I get the issue.  Thanks for the more explicit instructions.

[2020-03-17 19:33] melloware commented on #962
This was fixed a while back. See the current code:
https://github.com/primefaces/primefaces/blob/7bf566bb2dd9d2970333a0fd9ec49cdd147848ff/src/main/java/org/primefaces/component/datatable/export/DataTableExporter.java#L209-L242

[2020-03-17 19:33] #962 closed, assigned to nobody

[2020-03-17 19:35] melloware commented on #134
This is no longer an issue as pointed out by @hades646

[2020-03-17 19:35] #134 closed, assigned to nobody

[2020-03-17 19:51] melloware commented on #1329
Can't reproduce and provided runner is missing code needed to run it.  Closing.

[2020-03-17 19:51] #1329 closed, assigned to nobody

[2020-03-17 20:13] melloware commented on #2649
The CellEditor was definitely not designed to have a Rich Text Editor in the cell.  Plus that seems like a really funky bad UI design. Closing this issue.

[2020-03-17 20:13] #2649 closed, assigned to nobody

[2020-03-18 07:33] tomlux commented on #5704
Just did this fix in your code.

[https___github_com_primefaces_primefaces_issues_5704_DataTable_rowsPerPageTemplate-ShowAll.zip](https://github.com/primefaces/primefaces/files/4347576/https___github_com_primefaces_primefaces_issues_5704_DataTable_rowsPerPageTemplate-ShowAll.zip)

[2020-03-18 07:35] tomlux commented on #5704
I also saw that after changing to "all", the filter didn't correctly displayed the results.

To fix this, I needed to added an a JS-filter call on the table after the "page"-event

  <p:ajax event="page" oncomplete="PF('tblTest').filter(); return false;"/>

[2020-03-18 11:15] melloware commented on #5704
These all seem like really buggy behavior with the "ALL" feature.  I didn't even know about this feature seems like it is some undocumented feature in the code.

[2020-03-18 13:58] kawoolutions opened #5705 "ExceptionHandler: suppress logging certain exception types"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? Version? No. 8.0.
- Does it work on the newest sources in GitHub? n.a.
- Application server + version: Any
- Affected browsers: Any

## 2) Expected behavior

There's a forum posting here:
https://forum.primefaces.org/viewtopic.php?f=3&t=61388

## 3) Actual behavior

We would like to be able to sup

[2020-03-18 14:05] stolp commented on #5705
I am facing the same problem and I am likewise interested in a solution for this.

[2020-03-18 14:28] fanste opened #5706 "InputNumber: Hidden input is not always updated"
## 1) Environment
- PrimeFaces version: 8.0 (Showcase)

## 2) Expected behavior
Changes to the visible input field should always be written to the hidden input field. Otherwise the value submitted may not be the one you see.

## 3) Actual behavior
In some cases the value is written to the hidden input on blur and not ASAP.

## 4) Steps to reproduce
 - Open the browser console on the [Showcase > In

[2020-03-18 14:56] melloware commented on #5706
I think I can fix it.

[2020-03-18 15:18] melloware commented on #5706
Try add this to your page..  It fixes mousehweel and paste issue.  But it does not seem to handle CTRL-X (cut) or CTRL+Z (undo)

[code]

[2020-03-18 15:52] fanste commented on #5706
That is working.

The only maybe negative side effect: `input` is also triggered on any key press (or holding the key down). This will always call `copyValueToHidenInput` twice.

[2020-03-18 17:12] melloware commented on #5706
I think that is OK. Its a pretty lightweight operation.

[2020-03-18 18:35] melloware commented on #5697
here is a JSFiddle: https://jsfiddle.net/Ld37yspu/

It is set to 2000 items it works relatively well but set it to 5000 items or more.

[code]

[2020-03-18 19:18] #1834 closed, assigned to nobody

[2020-03-18 20:06] melloware commented on #5705
Looks like the PrimefacesExceptionHanlder already ignores ViewExpired if JSF Stage is production.  See the code here:

https://github.com/primefaces/primefaces/blob/b581f9d30cbf106db7b83a67f6e98e2de69d7760/src/main/java/org/primefaces/application/exceptionhandler/PrimeExceptionHandler.java#L131-L140

[2020-03-18 20:57] brooksie commented on #5696
Hi.
I still have issues. I used your reproducer, slightly extended to include calendar as well as datePicker.
I tested it directly, without any changes to the POM, using just Maven to compile and with Jetty as recommended (so no NetBeans, no Wildfly).

When compiled with Mojarra23: DatePicker works; datePicker w/maxdate fails; Calendar works; calendar w/maxdate works. There is also a WARNING excep

[2020-03-18 21:16] melloware commented on #5696
I will do some more testing. I will say the only difference I see is I am using JDK8 and that night explain that missing Java’s.xml. Class your are getting with MyFaces.

[2020-03-19 07:56] nokiajavi opened #5708 "[Documentation] p:inputNumber emptyValue, symbolPosition, decimalPlaces outdate"
According to the PF 8 migration guide, now the emptyValue attribute of the InputNumber component, the value sign is now always.
The attribute information is also outdated: symbolPosition: prefix is now p, suffix is now s
The attribute information is also outdated: decimalPlaces: now defaults to 2

[2020-03-19 09:42] stevendegroote commented on #5408
May I ask if this issue was also present in PF6.x ?

[2020-03-19 11:13] melloware commented on #5408
From looking at the 6.2 tag in Git no I don't believe this issue was present.

[2020-03-19 11:16] huinazhu commented on #3868
we have the same problem hier, also occurred in Chrome and so on.

1. Environment
PrimeFaces version: PrimeFaces-6.2.26
Affected browsers: Chrome, Firefox

2. Expected behaviour
Correct position of the popup calendar when browser is zoomed in or out

3. Actual behaviour
When a p:calendar component is placed inside a p:dialog the popup shows in a wrong position when this 2 conditions are met:

Page

[2020-03-19 11:26] huinazhu opened #5709 "Calendar: Popup on dialog with wrong position"
1. Environment
PrimeFaces version: PrimeFaces-6.2.26
Affected browsers: Chrome, Firefox

2. Expected behaviour
Correct position of the popup calendar when browser is zoomed in or out

3. Actual behaviour
When a p:calendar component is placed inside a p:dialog the popup shows in a wrong position when this 2 conditions are met:

4. Actual behaviour
Page is zoomed in or out
Page is scrolled down

5.

[2020-03-19 11:35] melloware commented on #5708
I updated the migration guide with more accurate info for InputNumber migration.
https://github.com/primefaces/primefaces/wiki/Migration-Guide

I updated the docs for 8.0 and 9.0 you can see the updated in this PR:
https://github.com/primefaces/primefaces/pull/5707/files

Can you verify this is what you are expecting?

[2020-03-19 11:48] nokiajavi commented on #5708
Yes! is correct! very well explained. thanks

[2020-03-19 11:50] #5706 closed, assigned to melloware

[2020-03-19 11:50] #5708 closed, assigned to melloware

[2020-03-19 12:53] melloware commented on #5709
Can't reproduce with PF 7.0 or 8.0.

[pf-5709.zip](https://github.com/primefaces/primefaces/files/4354617/pf-5709.zip)

1. Unzip the above zip.
2. Run `mvn clean jetty:run-exploded`
3. Navigate to http://localhost:8080/primefaces-test/test.xhtml

[2020-03-19 12:56] melloware commented on #5709
Duplicate of #3868

[2020-03-19 12:56] #5709 closed, assigned to nobody

[2020-03-19 12:57] melloware commented on #5705
@stolp @kawoolutions can you verify the above if your JSF project stage is Production the viewExpired is not logged by the PF exceptionHandler?

[2020-03-19 13:25] #5060 closed, assigned to christophs78

[2020-03-19 13:44] melloware commented on #5696
OK I tested using Java8 and Java 11.

If you are using Java11 you need to add this to the pom.xml as these classes have been removed from the JDK.
[code]

**JDK8**
myfaces22 - passed
myfaces23 -passsed
mojarra22 -passed
mojarra23 - passed

**JDK11**
myfaces22 - passed
myfaces23 -passsed
mojarra22 -passed
mojarra23 - passed

it is working 100% fine for me.

[2020-03-19 14:00] #5698 closed, assigned to melloware

[2020-03-19 16:43] #5654 closed, assigned to melloware

[2020-03-19 18:06] brooksie commented on #5696
Thanks. Adding the extra dependency has made the four cases consistent, but unfortuantely the datapicker with maxdate (or mindate) still fails for me. The other cases pass.
Inspecting the HTML, it looks like the code to invoke the popup is missing. Unfortunately my skill in JS and CSS is minimal :(
![Missing click event](https://user-images.githubusercontent.com/4806551/77097099-2d44fd00-6a08-11ea

[2020-03-19 18:10] tandraschko commented on #5696
the EOF are warnings because firefox cancels the requests as loading from disk cache is faster - there are topics in the forum.
In MyFaces 2.3 we handle the warning a bit nicer and skip logging stacktrace (at least in tomcat, can't remember if we did it for jetty)

[2020-03-19 18:22] melloware commented on #5696
@brooksie are you only having this issue in Firefox?  I do all my testing in Chrome which could explain why I am not seeing your issue?

[2020-03-19 18:26] melloware commented on #5696
I just tried with Firefox 72.0.2 no problem.

![image](https://user-images.githubusercontent.com/4399574/77101399-a08d4580-69ed-11ea-81ae-f7274f7de199.png)

[2020-03-19 19:08] brooksie commented on #5696
It fails in Chrome, as well as Firefox, Edge and IE.

    On Thursday, 19 March 2020, 18:27:09 GMT, Melloware <notifications@github.com> wrote:

I just tried with Firefox 72.0.2 no problem.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-19 19:09] melloware commented on #5696
OK i just tested in IE11, Edge, Chrome, and Firefox and all is working perfectly.

[2020-03-19 22:34] fanste opened #5710 "OverlayPanel: Race condition with embedded components on AJAX-update"
## 1) Environment
- PrimeFaces version: 8.0

## 2) Expected behavior
Components (e.g. `p:selectOneMenu`) inside a dynamic overlay (e.g. `p:overlayPanel`) with `appendTo` should not double the found entries when the `jq` property of the component widget is resolved

## 3) Actual behavior
Due to the `appendTo` the DOM of the dynamic overlay may survive the AJAX update which effectively doubles the D

[2020-03-19 22:52] fanste commented on #5710
Reproducer: https://github.com/fanste/primefaces-test/tree/test-5710

[2020-03-20 10:40] MatheusRadeski commented on #5694
Example project

[mavenproject1.zip](https://github.com/primefaces/primefaces/files/4359045/mavenproject1.zip)

[2020-03-20 10:51] MatheusRadeski opened #5711 "SelectEvent returning null"
Previously, I used java ee 7 and glassfish 4 and my code was working correctly. After switching to Jakarta ee 8 and payara the selectEvent used is returning null.
In the selectEvent method the event is null. If I pass the selectObj () method directly in the ajax listener, it works.
Follow the code below.

[mavenproject1.zip](https://github.com/primefaces/primefaces/files/4359092/mavenproject1.zip)

[2020-03-20 11:47] melloware commented on #5711
Is that example runnable?   Would prefer you create an example that works with the Primefaces Test project: https://github.com/primefaces/primefaces-test

I don't think you are going to find any devs here to install Payara etc to try and test this out.

[2020-03-20 12:05] william-shuman opened #5712 "CSP: onclick events fail on Premium Themes"
CspResponseWriter should wrap javascript in $(function() {});
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? Version? No, 8.0
- Does it work on the newest sources in GitHub? No
- Application server + version: JBoss EAP 7.1
- Affected browsers: Firefox, Chrome were tested and failed in some instances

## 2) Expected behavior
Events work after i

[2020-03-20 12:10] melloware commented on #5710
Excellent analysis and thanks for the example.

[2020-03-20 12:12] markusg80 commented on #5060
Can you please also merge this to 8.0 elite versions? We really waiting for this feature and i'm at the moment on migrating our project to 8.0 for this. Please. Please. Please.

[2020-03-20 12:26] tandraschko commented on #5060
as always, this is up to @mertsincan ; the community cant touch elite releases

[2020-03-20 12:32] tandraschko commented on #5712
This workaround should work fine: primefaces.MOVE_SCRIPTS_TO_BOTTOM = true in your web.xml

[2020-03-20 12:34] tandraschko commented on #5712
Also bit weird as we only move the onclick registration to the end of the body, which should be like $(...);
@melloware  can you take a look?

[2020-03-20 12:45] melloware commented on #5712
Hmmm yeah i wonder is this something special with the Barcelona menu component which is custom?

[2020-03-20 12:45] melloware commented on #5712
Is this reproducible without having Barcelona in a regular PrimeFaces Test case so I can debug?

[2020-03-20 12:49] william-shuman commented on #5712
I've only reproduced it in my project with that menu. I'll try to put something together today.

The MOVE_SCRIPTS_TO_BOTTOM workaround does resolve the issue for now.

[2020-03-20 12:50] melloware commented on #5712
Thanks @william-shuman That will help me fix it.

[2020-03-20 13:19] MatheusRadeski commented on #5711
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/4359727/primefaces-test-master.zip)

[2020-03-20 13:32] melloware commented on #5711
`mvn clean jetty:run-exploded -Pmojarra22` - NullPointerException
`mvn clean jetty:run-exploded -Pmojarra23` - NullPointerException
`mvn clean jetty:run-exploded -Pmyfaces22` - No error but it doesn't look like its calling the handleSelect event
`mvn clean jetty:run-exploded -Pmyfaces23` - No error but it doesn't look like its calling the handleSelect event

[2020-03-20 13:37] MatheusRadeski commented on #5711
I didn't understand. Here is calling the handleReturn but the event is null.

[2020-03-20 13:48] melloware commented on #5711
So the above was testing it with Mojarra 2.2, 2.3 which produce the NullPointerException.

With Myfaces 2.2 and 2.3 there is no NPE but the event is not being called because I don't see the `System.err.println` being called.

[2020-03-20 14:00] MatheusRadeski commented on #5711
I didn't understand what I should do, I apologize, I'm starting with WEB development.

[2020-03-20 14:01] fanste opened #5713 "DatePicker: Add showWeek option like Calendar"
## 1) Environment
- PrimeFaces version: 8.0

## 2) Description
`p:calendar` has the options `showWeek` and `calculateWeek`. This will add an additional column infront of each week containing the week number.

This should be supported by the new `p:datePicker`.

PR is on the way

[2020-03-20 14:03] melloware commented on #5711
It looks like some kind of bug if you said this used to work before and now it doesn't work in 8.0.  So I marked it a "defect".

[2020-03-20 14:05] morvael opened #5714 "dialogReturn event listener not called when commandButton disabled changes"
## 1) Environment
- PrimeFaces version: 7.0.12, test case using 7.0
- Application server + version: WildFly 18.0.1, test case using Jetty 9.4.20.v20190813
- Affected browsers: tested on Firefox, probably all

## 2) Expected behavior

Ajax dialogReturn event listener called, button disabled afterwards (on update).

## 3) Actual behavior

Since disabled is called multiple times at various process/re

[2020-03-20 14:09] morvael commented on #5714
My use case is that button is disabled if a database record exists, otherwise button allows to open dialog in which the user can add that record. Closing that dialog returns the newly added record id to caller. In dialogReturn listener I want to do something with that id, sadly I can't because the event works only partially (as it is processed it disables the button and that prevents listener from

[2020-03-20 14:14] melloware commented on #5714
Doesn't work on 8.0 either.  Have you done any deep analysis for a potential fix?

[2020-03-20 14:20] fanste commented on #5713
PR #5715

[2020-03-20 14:21] morvael commented on #5714
I don't know the innards of JSF/PF well enough to propose a fix. IMHO, it would be good if p:ajax call would not check rendered/disabled on parent during execution of a call (if it already started, why not let it run to completion?). A workaround could be added that allows to set a flag on ajax element to run despite parent being not rendered/disabled.

[2020-03-20 14:24] morvael commented on #5714
By default p:ajax runs with process="@this", but @this means parent commandButton. And with @none it doesn't work at all. It could be made to work with @none or there should be something between @none and @this that means commandButton is not to be processed, but ajax event is. I don't know if this even makes any sense to you, for me both are xhtml elements, but p:ajax is not an actual component.

[2020-03-20 14:25] melloware commented on #5714
Hmm I will defer to @tandraschko as he knows more about this than I do.

[2020-03-20 15:12] morvael commented on #5714
Will try a workaround, returning disabled false for PhaseId APPLY_REQUEST_VALUES.
[code]

[2020-03-20 15:23] morvael commented on #5714
The problem is how to detect which one call in APPLY_REQUEST_VALUES phase is to dialogReturn event, in order to keep default behaviour for other events.

[2020-03-20 15:31] morvael commented on #5714
Name of the event can be found in FacesContext.getCurrentInstance().getExternalContext().getRequestParameterValuesMap():
[code]

[2020-03-20 15:38] morvael commented on #5714
Workaround for my example:
[code]
results in
[code]
dialogReturn listener was called twice.

[2020-03-20 15:44] morvael commented on #5714
BTW, it isn't great that disabled getter is called three times during update. What if it's a costly operation?

[2020-03-20 16:08] tandraschko commented on #5714
if the AJAX listener would be executed on a disabled a button, it would be a big security risk.

also it's know that e.g. rendered flags are called multiple times ;) Please see my hints here: http://tandraschko.blogspot.com/2017/11/increase-your-jsf-application.html

[2020-03-20 16:12] morvael commented on #5714
The problem is it's not disabled beforehand, and the event starts executing, but becomes disabled mid-way and only the listener part stops working as a result. IMHO that's a bug. The whole problem is the button should become disabled because of the event, after the event, but due to how this framework (or JSF as a whole) is working, it checks disabled mid-way and breaks itself because it becomes d

[2020-03-20 16:14] morvael commented on #5714
What works: process, update, client-side events like onstart
What stops working: listener

It's not a very consistent behavior.

[2020-03-20 16:27] tandraschko commented on #5714
it's by design in JSF and nothing we can change in PF.

Your workaround is valid and i already used in the past.

[2020-03-20 16:49] tandraschko commented on #5714
I would suggest you to create a jsf-spec issue for the future and close this issue here.

[2020-03-20 18:13] melloware commented on #5713
@fanste Does your new method fix this issue as well? https://github.com/primefaces/primefaces/issues/1052

[2020-03-20 18:27] melloware commented on #1015
Old ticket with no info or test case.  Closing for now.

[2020-03-20 18:27] #1015 closed, assigned to nobody

[2020-03-20 18:31] melloware commented on #1642
No response from OP in 4 years. closing ticket.

[2020-03-20 18:31] #1642 closed, assigned to nobody

[2020-03-20 19:08] melloware commented on #1416
Reproducer:
[pf-1416.zip](https://github.com/primefaces/primefaces/files/4361444/pf-1416.zip)

[2020-03-20 19:47] melloware commented on #1890
test case proving it works fine in PF 8.0.
[pf-1890.zip](https://github.com/primefaces/primefaces/files/4361563/pf-1890.zip)

Closing ticket.

[2020-03-20 19:47] #1890 closed, assigned to nobody

[2020-03-21 09:47] morvael commented on #5714
Thanks

[2020-03-21 09:47] #5714 closed, assigned to nobody

[2020-03-21 13:35] william-shuman commented on #5712
**https://github.com/william-shuman/csp-test**

This project will generate the csp js without the $(function() { ... });

[2020-03-21 19:08] melloware commented on #5712
Excellent. This should help me fix it.

[2020-03-22 10:15] christophs78 opened #5717 "DatePicker: smart behaviour for showTime and timeOnly-attributes with value-binding to LocalDate/LocalDateTime/LocalTime"
Base idea by @tuerker as part of https://github.com/primefaces/primefaces/issues/5638.

- LocalDate --> showTime=false, timeOnly=false
- LocalDateTime --> showTime=true, timeOnly=false
- LocalTime --> showTime=false, timeOnly=true

Explicit set showTime / timeOnly-attributes override the smart behaviour.

[2020-03-22 17:56] christophs78 commented on #5656
@tandraschko: We run into a regression in `LangUtils#getTypeFromCollectionProperty` due to your last refactoring, when i test against the showcase. (DatePicker, multiple- and range-mode)

![grafik](https://user-images.githubusercontent.com/10461942/77256439-90d06400-6c6e-11ea-8fd9-b2881eeeba2c.png)

The condition `if (getter.getGenericReturnType() instanceof ParameterizedType) {` is not fullfilled

[2020-03-22 18:07] christophs78 commented on #5656
@tandraschko:
State within UnitTest (no CDI):
![grafik](https://user-images.githubusercontent.com/10461942/77256650-db061500-6c6f-11ea-924f-4e0a248cca86.png)

State in ApplicationServer (with CDI):
![grafik](https://user-images.githubusercontent.com/10461942/77256675-fd982e00-6c6f-11ea-9e5a-e13151e299a9.png)

Due to CDI we have a proxied object/class which behaves different and does not seem to ha

[2020-03-22 18:16] tandraschko commented on #5656
Can you try
`BeanInfo beanInfo = Introspector.getBeanInfo(getUnproxiedClass(base.getClass()));`
instead
BeanInfo beanInfo = Introspector.getBeanInfo(base.getClass());

[2020-03-22 18:29] christophs78 commented on #5656
works

[2020-03-22 18:40] tandraschko commented on #5656
Also pushed another test which doesn't work currently

[2020-03-23 03:44] pangbuddy opened #5719 "Themes: Nova-Dark resources loading errors"
## 1) Environment

- PrimeFaces version: 8.0
- Chrome Version 80.0.3987.149 (Official Build) (64-bit)
- Firefox 74.0 (64 bits)

## 2) Expected behavior

Use a printer component button to print a specified data table on the web page, chrome displays a preview dialog.

## 3) Actual behavior

The text content has disappeared when the print preview dialog appears. (both in the dialog and on the web pa

[2020-03-23 10:42] christophs78 commented on #5656
Tried to look how spring https://github.com/spring-projects/spring-framework/blob/master/spring-core/src/main/java/org/springframework/core/GenericTypeResolver.java solves this...
Takes some time to understand this.

[2020-03-23 11:22] melloware commented on #5719
@mertsincan It looks like this is the issue:
https://stackoverflow.com/questions/30442319/failed-to-decode-downloaded-font

[2020-03-23 11:44] melloware commented on #5712
@william-shuman I have made a self contained version of your example.

Download:
[pf-5712.zip](https://github.com/primefaces/primefaces/files/4369056/pf-5712.zip)

Run `mvn clean jetty:run-exploded`.
Navigate to http://localhost:8080/primefaces-test/test.xhtml

You app is working fine for me with CSP?

[2020-03-23 11:49] #1416 closed, assigned to melloware

[2020-03-23 12:00] christophs78 commented on #5656
@tandraschko: Can you have a look at https://github.com/primefaces/primefaces/pull/5718/commits/5d0f6f1c7672161ce8092ee431b575060d13cce0.
This fixes the new test, but it addresses only a part of the iceberg yet.

[2020-03-23 12:03] pangbuddy commented on #5719
I tried to find a solution myself, but I finally realized that its a issue come with the new version of primefaces 8.0 and only the nova-dark theme. my program worked well with PF 7.0 before. I don't defined any special font in my css, all by default.

[2020-03-23 12:04] melloware commented on #5719
@pangbuddy It definitely looks like its something in the NOVA Dark theme which has to be fixed by PrimeTek.  Thanks for reporting!

[2020-03-23 14:01] melloware commented on #1052
The fix is going into DatePicker so if you need this feature please use DatePicker and not the JQuery Calendar component.

[2020-03-23 15:19] william-shuman commented on #5712
Here is a example that doesn't work with CSP enabled but works without CSP.

https://github.com/william-shuman/csp-test/raw/master/csp_test.zip

[2020-03-23 15:41] melloware commented on #5712
I am getting JS errors with or without CSP turned on...
![image](https://user-images.githubusercontent.com/4399574/77334460-33362900-6cfb-11ea-84b1-6236949a6899.png)

[2020-03-23 16:02] melloware commented on #5712
also testing if I wrap it in `$(function() { ... });` it then works, but then when run as MOVE_SCRIPTS_TO_BOTTOM its broken either wrapped or NOT wrapped in `$(function() { ... });`.  So I really feel like this is something with this Barcelona component?

[2020-03-23 16:04] william-shuman commented on #5712
latest fixed those errors.

https://github.com/william-shuman/csp-test/raw/master/csp_test.zip

[2020-03-23 16:18] melloware commented on #5712
Thanks that example removed all the noise and help me fix and test with both MOVE_TO_BOTTOM on an off.  All is working now with my PR

[2020-03-23 16:19] yennor opened #5722 "DataTable: ScrollHeight with Flex CSS incorrect parent height"
## 1) Environment
- PrimeFaces version: 8

## 2) Expected behavior
When putting an Datatable into a Div with flexbox, and setting the scrollHeight to 100%, the datatable component shouldn't become heigher than it's parent component.
Also when there aren't enough element to fill the set scrollheight. The Datatable shouldn't become smaller than the set scrollheight.

## 3) Actual behavior
The datata

[2020-03-23 16:20] william-shuman commented on #5712
Thanks for taking a look and for the PR.

[2020-03-23 16:26] melloware commented on #5722
@yennor the datatable only looks at its direct parent for height. See the datatable JS code here.

[code]

Your parent of the datatable is this:
[code]

But you are expecting it to respect the 100% height of the parent's parent...
[code]

[2020-03-23 16:51] yennor commented on #5722
I can also set the parent to style="height: 100%". The Datatable still shows the same behaviour.

Anyway, like that, How am I expected to integrate the Datatable into a full screen application, where the size of any div (part of the screen) is not clear in before?

Instead of calculating the size like that, can't you just set proper style on all html elements belonging to the DataView, so it respe

[2020-03-23 16:53] melloware commented on #5722
I didn't write the datatable...the code above is what it has always done.

[2020-03-23 17:10] yennor commented on #5722
I'm not blaming you or anybody else, don't worry ;-).
I'm just reporting a bug, or at least a very very unexpected behaviour which makes it really difficult to use a certain component under certain circumstances. I guess the above code was ok, when people defined the sizes of every part of the UI being fix in pixels. But I guess less and less people work like that.
Anyway.
You can either say, that

[2020-03-23 17:11] melloware commented on #5722
what solution did you land on?

[2020-03-23 19:51] melloware commented on #3732
Reproducer:
[pf-3732.zip](https://github.com/primefaces/primefaces/files/4371622/pf-3732.zip)

[2020-03-23 21:08] yennor commented on #5722
it's not beautiful. And I guess somebody with better css knowledge would be able to do it better (I freaking hate css. Otherwise I wouldn't use theme-based components ;-) ):

[code]

css:
[code]

[2020-03-23 21:39] firsthour opened #5723 "Dashboard: DataExport does not work in disabled dashboard"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? Version? No, 8.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Unknown
- Application server + version: Wildfly 18
- Affected browsers: Firefox 74, Chrome 80

## 2) Expected behavior

A p:dataExport inside a p

[2020-03-23 21:42] firsthour commented on #5723
Without knowing much about this situation, I wonder if it's related to #5606?

[2020-03-23 22:13] melloware commented on #5723
That would make sense as the link is inside a disabled component it most likely is that issue.  But why would you expect something to work inside a disabled Dashboard?

[2020-03-23 22:29] melloware commented on #5723
A good explanation as to why this was implemented is in the ticket: https://github.com/primefaces/primefaces/issues/5603

[2020-03-23 22:30] melloware commented on #5723
Ahhh you know what.  Disabled is a bad name for it in the Dashboard component.    The name of the property in the dashboard should be `disableReordering`.

[2020-03-24 11:50] melloware commented on #5723
@firsthour To solve your problem in the short term set `disabled="false"` on the component and add this JS to your page.

[code]

That manually sets the Dashboard disabled in JS code but leaves it enabled for the server side code.

[2020-03-24 13:07] firsthour commented on #5723
Thanks for going through all this and understanding and explaining it to me. I like the reordering attribute a lot, we've got Elite so I hope we can see that in the near future.

[2020-03-24 13:17] melloware commented on #5723
Hopefully that can be added to 8.0.1 Elite if @mertsincan approves.  And yes `reordering` seems like a clearer attribute and disabled is now what real disabled should be and disables the whole dashboard and greys it out.

[2020-03-24 13:49] #5723 closed, assigned to melloware

[2020-03-24 15:42] christophs78 commented on #5656
Did some more work to cover more cases of generic superclasses.
See https://github.com/primefaces/primefaces/pull/5718/commits/677a64b7b45435e9f2349f2d731a3b0a412c6002

[2020-03-24 16:32] melloware commented on #4628
@carlbradwell17 For your example maxdate of April 01, 1997 were you expecting April to be disabled or enabled?

![image](https://user-images.githubusercontent.com/4399574/77451795-87104300-6dcb-11ea-9eee-c50fedd53845.png)

[2020-03-24 19:28] yennor commented on #5722
So I guess that means: nofix ?

[2020-03-24 19:35] melloware commented on #5722
Well I can open it but I promise you unless you are a PRO customer and have PrimeTek fix this, this ticket will never get worked on.

If you look at these issues there are 425 issues open and over 50% of them are Datatable or TreeTable tickets that never get addressed.   This would just be one more on the pile.

[2020-03-24 19:45] melloware commented on #5722
Here is a similar ticket: https://github.com/primefaces/primefaces/issues/3450

[2020-03-24 23:02] chovyy commented on #4852
For those who are not able to update to the latest version, a workaround is to call the remoteCommand explictly from JavaScript instead of using `autoRun="true"`:

[code]

[2020-03-25 09:15] DazzlingBob opened #5726 "ChartJS: Bar chart axes offset always true"
## 1) Environment
PrimeFaces version: PrimeFaces-8.0
Application server: Jetty 9.4.27 + version: Mojarra-2.2.20

## 2) Expected behavior

In the chart the two yAxes must overlap because offset is set to false.

[code]

## 3) Actual behavior

The two yAxes do not overlap because the yAxes offset is always generated as true in chart.js json.

json of PF8.0 example
[code]

## 4) Steps to reproduce

R

[2020-03-25 11:54] melloware commented on #5726
Bizarrely these 3 lines of code have been there since it was first checked in.
https://github.com/primefaces/primefaces/blob/fcb8ddce0beae94748900eafb7c994a4584bfed8/src/main/java/org/primefaces/component/charts/ChartRenderer.java#L220-L222

Here is current screenshot:
![image](https://user-images.githubusercontent.com/4399574/77533782-dd35c280-6e6d-11ea-8c75-e9034db5b851.png)

[2020-03-25 12:08] melloware commented on #5726
Screenshot after removing those 3 lines of code.
![image](https://user-images.githubusercontent.com/4399574/77534847-cabc8880-6e6f-11ea-9f8a-2b2490ef8375.png)

[2020-03-25 12:57] #5726 closed, assigned to melloware

[2020-03-25 13:58] melloware commented on #4771
@matinh I recommend you report this to mojarra similar to how I reported this bug:
https://github.com/eclipse-ee4j/mojarra/issues/4680

Do it exactly like my bug where you attach your reproducer and show it works with Myfaces 2.2 and 2.3

[2020-03-25 13:58] #4771 closed, assigned to nobody

[2020-03-25 16:14] tkernstock opened #5730 "SelectCheckBoxMenu: Change AJAX event not working"
# IMPORTANT

I use p:ajax to call a method after a delay. This worked perfectly until version 8.0.
For example:
[code]

## 1) Environment
- PrimeFaces version: 8.0
- Application server + version: Payara 5.184
- Deltaspike 1.8.2
- Omnifaces 3.3
- Affected browsers: FireFox, Chrome, Ege

## 2) Expected behavior
The listener-method should be called after 1500ms

## 3) Actual behavior
The method isn't

[2020-03-25 16:35] wolfomat commented on #2667
@melloware  thanks for the information.
I can provide a fix, as it would required to dive to deep into primefaces framework, which am not so much interested to do so - paying would be an option, but in this case my project is full open source and non-funded by anything.
Therefore i just can live with a workaround with a combination of javascript, backend code and a primefaces-remotecommand

as it

[2020-03-25 16:49] melloware commented on #5730
If I change your code to..
[code]

it works fine.  Are you sure this worked before in PF and if so which is the last version that ValueChanged worked correctly?

[2020-03-25 16:54] melloware commented on #2667
@wolfomat very cool project!  And your workaround seems like a good one.

[2020-03-25 17:39] tandraschko commented on #5730
the issue is weird. It says that itemUnselect isn't called but also that change doesn't call the listener?

Facts:
1) the itemUnselect works fine in the showcase
2) AFAIR/AFAIK ValueChangeEvent is only passed to the "valueChangeListener", p:ajax is always a AjaxBehaviorEvent. And ValueChangeEvent doesn't inherit from AjaxBehaviorEvent. So i dont think that ever worked.

[2020-03-25 17:40] melloware commented on #5730
@tandraschko yes I am getting an error locally blowing up saying AjaxBehaviorEvent is not ValueChangedEvent  So I don't see how this EVER worked I looked back in 7.0 and 6.2 and this change event has never sent a ValueChanged.

[2020-03-25 17:49] tkernstock commented on #5730
Hi guys,
thank you for the quick reply.
Rigth now I'm using Primefaces 7.0 and Method works fine with the ValueChangedEvent. You can see it working at https://www.isg.com/jobs/search/ - just change any filterelement.
@Melloware:
- also if I change to AjaxBehaviour the method isn't called. The same is true for onItemUnselect which is in the original code and works fine on primefaces demo!?
- as you

[2020-03-25 17:52] tkernstock commented on #5730
By the way - the p:ajax is also not working in p:inputText and p:tree

[2020-03-25 17:54] tandraschko commented on #5730
Please provide us a forked primefaces-test project, everything else is impossible for us to replicate.

[2020-03-25 18:01] melloware commented on #5730
@tkernstock I tested all of that already and it works fine.

This works just fine.
[code]

And so does your example above once I changed it to an AjaxBehaviorEvent.   So to me its all working fine.

[2020-03-25 18:18] melloware commented on #5730
@tkernstock Attached is my example.
[pf-5730.zip](https://github.com/primefaces/primefaces/files/4382702/pf-5730.zip)

Run `mvn clean jetty:run-exploded` and navigate to http://localhost:8080/primefaces-test/test.xhtml

You will see the AJAX works fine and wait 1500 ms before firing.

[2020-03-25 18:27] melloware commented on #5730
Here is a better version including your CheckBoxMenu example working perfectly fine.
[pf-5730.zip](https://github.com/primefaces/primefaces/files/4382741/pf-5730.zip)

[2020-03-25 18:29] tkernstock commented on #5730
@melloware
Meanwhile I created a new project an their it works fine. ??!
I also changed the code in my projekt to AjaxBehaviorEvent - but since also the Textfield and Tree didn't work there was no change - ajax seems to be broken somehow in my project. Mhhhh.

[2020-03-25 18:32] melloware commented on #5730
Yep you are having some enviroinment issue or LIB issues.  Check your WEB-INF/lib or your server for too many libs etc. I feel like you have a strange conflict going on.

[2020-03-25 18:32] #5730 closed, assigned to nobody

[2020-03-25 18:33] tkernstock commented on #5730
I will try to update to Deltaspike_1.9 maby there is a problem with 1.9.2. I will let you know if if find out what caused the problem.

[2020-03-25 18:35] melloware commented on #5730
Please do.  Also make sure its not some weird javascript conflict if you are using any JS libraries not inclduded with PF.

[2020-03-25 18:54] tkernstock commented on #5730
Well, the problem was primefaces-extensions-8.0.jar. After removing it from the projekt, p:ajax works again.
Thanx for your help!!

[2020-03-25 18:59] melloware commented on #5730
OK well now I am curious why??  PFE 8.0 should work with PF 8.0.  Let me try it in my Tester.

[2020-03-25 19:05] tkernstock commented on #5730
It also doesn't work if I'm readding primefaces-extensions-7.0.jar!

[2020-03-25 19:08] melloware commented on #5730
What are you adding from PE on your page?

Here is another tester adding PFE8.0 inputPhone on the page.
[pf-5730.zip](https://github.com/primefaces/primefaces/files/4383000/pf-5730.zip)

[2020-03-25 20:04] tkernstock commented on #5730
[testcase.war.zip](https://github.com/primefaces/primefaces/files/4383255/testcase.war.zip)

I'm using blockUI. But even if I don't use anything p:ajax stops wortking by just adding the jar file.
Since I don't use maven I can only provide an eclipse project. This one runs on Payara 5.184.
[Testcase.zip](https://github.com/primefaces/primefaces/files/4383243/Testcase.zip)

[2020-03-25 21:17] melloware commented on #5730
That doesn't make any sense.  Maybe report it to the Payara team?  since you can see it works with Jetty and OpenWebBeans I feel like its Payara related.

[2020-03-25 21:23] tkernstock commented on #5730
Well, I know there maybe other issues on payara/mojarra when changing the server versions, but in this case I only changed the primefaces version and not the server. Mhh. Don't think that payara team will invastigate on that.
Anyway. I will stay on Primefaces 7.0 for the moment.
Thanx for your time and help.

[2020-03-25 21:50] firsthour opened #5731 "AutoComplete: forceSelection causes clear event to fire even when item selected"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? Version? No, 8.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) unknown
- Application server + version: Wildfly 18
- Affected browsers: Firefox 74

## 2) Expected behavior

With forceSelection=true and when bo

[2020-03-25 22:29] melloware commented on #5731
Hmm you said you are upgrading from 6.2.6 but that isValid check which you think is too aggressive was introduced in 6.2.1 with #3428

Then  #3270 is a 1 line fix that addresses the issue reported in that ticket.

But you could be right this introduces a new issue due to the ordering.  @fanste any thoughts as you originally reported #3270.

[2020-03-26 09:05] fanste commented on #5731
This looks lile some kind of race condition again.. I've not done any tests yet, but from looking at the code I would say, that the input's blur event is the problem.

You enter something in the textfield than you click on an item in the dropdown panel. This leaves the textfield fireing the blur event before any click event is propagated from the panel.

[2020-03-26 10:59] albfernandez opened #5732 "InputNumber: Very slow to load page in Internet Explorer if es6-shim and InputNubmer are used."
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? No . 8.0
- Does it work on the newest sources in GitHub? unknown
- Application server + version: tested in Jetty 9, Payara 4, Wildfy 10. May fail in all servers
- Affected browsers: Internet Explorer 11

## 2) Expected behavior
Page loads almost instantly

## 3) Actual behavior
It loads fast in Fi

[2020-03-26 11:01] tandraschko commented on #5732
does it also occur with native autonumeric.js?

[2020-03-26 11:18] albfernandez commented on #5732
autonumeric seems to work fine

[code]

[2020-03-26 11:27] melloware commented on #5731
OK I will do some investigation today.

[2020-03-26 11:28] melloware commented on #5732
Can you run the profiler? it will tell you where all the time is spent in Javascript.

[2020-03-26 11:49] albfernandez commented on #5732
Thanks!
I've found the solution. By desing, es6-shim should be the first script loaded and executed, but in the example i've provided it loads after, which causes to this bad behaviour.
Changing the order in native autonumeric triggers the error as well.

Fixed with:
[code]

[2020-03-26 13:24] firsthour commented on #5731
Sorry about the red herring about the autocomplete.js isValid() code.

Certainly seems like a race condition as you said. Clicking a dropdown fires the blur function in setupForceSelection() with the typed value, and then you can fire it again by clicking outside the input text with the selected value.

Unfortunately, it's not clear to me what would have changed from 6.2.6. I have confirmed in our

[2020-03-26 13:57] Michael-3007 commented on #5668
I have a similar problem with PrimeFaces 8.0:

`
java.lang.NullPointerException
	at org.primefaces.component.spinner.SpinnerRenderer.decode(SpinnerRenderer.java:59)
	at javax.faces.component.UIComponentBase.decode(UIComponentBase.java:479)
	at javax.faces.component.UIInput.decode(UIInput.java:371)
	at javax.faces.component.UIComponentBase.processDecodes(UIComponentBase.java:1408)
	at javax.faces.c

[2020-03-26 14:36] melloware commented on #5732
Awesome!  Closing issue.

[2020-03-26 14:36] #5732 closed, assigned to nobody

[2020-03-26 14:46] melloware commented on #5668
Its up to @mertsincan to get this merged into Elite 8.0.1.  But I can assure you they will not re-release 8.0 so you might want to sign up for an Elite account so you can get 8.0.1 when it comes out.

[2020-03-26 14:57] Michael-3007 commented on #5668
Thank you! I already have an Elite account so I can get 8.0.1 when it comes out.

[2020-03-26 17:35] brooksie commented on #5696
Hi again,
BINGO! I've identified that this is an **internationalization** issue.
When my computer's regional settings are set to US, it works!. When set to the UK, it fails.
![UK regional settings](https://user-images.githubusercontent.com/4806551/77676974-f67e6200-6f86-11ea-8f8a-b4bcfc509662.png)
![US regional settings](https://user-images.githubusercontent.com/4806551/77676978-f7af8f00-6f86-11ea

[2020-03-26 17:37] melloware commented on #5696
@christophs78 Any thoughts on this?

[2020-03-26 18:08] melloware commented on #5731
@firsthour Add this script to your page or your JS file that loads after PrimeFaces.
[code]

[2020-03-26 18:16] melloware commented on #5731
I regression tested #3720 with the above fix and it remains fixed as well.

[2020-03-26 19:12] christophs78 commented on #5696
Can´t reproduce this within PF-Showcase:
![grafik](https://user-images.githubusercontent.com/10461942/77686843-d312e180-6f9d-11ea-89a6-4884d68ec8c4.png)

@brooksie : Can you test https://www.primefaces.org/showcase/ui/input/datepicker/datePicker.xhtml?

Which browser do you use? (I tested with FF 74.0)

[2020-03-26 19:36] fanste commented on #5731
There might be a better solution than a timeout, which always feels a bit ugly.

https://developer.mozilla.org/en-US/docs/Web/API/FocusEvent/relatedTarget

The blur event may tell uns which element receives the focus. If we check if it is the panel, we could skip the clear event

[2020-03-26 19:45] melloware commented on #5731
@fanste let me give that a shot

[2020-03-26 19:59] melloware commented on #5731
OK I added this code
[code]

And the relatedTarget is ALWAYS NULL.  So when I use the mouse to select an item this relatedTarget is null. So I can't tell apart a good blur and a bad blur.  So we may have to stick with my timeout solution.

[2020-03-26 20:04] melloware commented on #5696
I wonder if he is running his SERVER with that timezone not just the UI browser.  So its not a JS error its a Server side error with LocalDate.

[2020-03-26 20:15] melloware commented on #5705
@stolp @kawoolutions ???

[2020-03-26 20:15] brooksie commented on #5696
It also works OK for me on Showcase - both the Date and the LocalDate versions.
I concur with @melloware. When I run it, it's both SERVER and CLIENT that run on the same computer. It doesn't seem to matter which browser. Previously it's failed in Firefox, Chrome, IE and Edge. I'm also mostly using FF 74.0 64-bit. I used the reproducer and Jetty w/Mojarra23 in my tests earlier today.
But I spotted

[2020-03-26 20:17] melloware commented on #5696
Brooksie can you please test with both JDK 8 and with JDK 11 LTS.  Want to make sure this isn't some weird Java 13 bug.

[2020-03-26 20:18] markusg80 commented on #5060
@mertsincan Can you please merge this to 8 Elite release. At the minent i take the effort to migrate my project to pf8. So then i like to change from Calendar to Datepicker. I think to merge this will not break anything for existing code for other Primefaces users. Next you can make experience with this Feature for the upcoming 9.0 Release.

[2020-03-26 20:51] firsthour commented on #5731
Thanks, that javascript seems to work, though I would generally agree on avoiding alerts if possible, but I understand it's a necessary evil at times.

Also I did a diff on 6.2.6 and 8.0 and while isValid() is mostly unchanged,  `this.fireClearEvent();` was added when it's not valid, so that's the trigger of this change. Is it worth revisiting #3270? I don't know.

Edit: sorry if I'm like 24 hours

[2020-03-26 22:49] brooksie commented on #5696
The Java version doesn't make any difference. Nor does the browser. I've tested with JDK 8.241, JDK11, JDK13.0.1 and JDK14. I've also tested with Firefox, Chrome, Edge and IE. The tests all fail when the region is set to UK. The tests all pass with region set to US.

[2020-03-26 23:11] stolp commented on #5705
Will check for this tomorrow. Sorry - missed this.

[2020-03-27 06:33] christophs78 commented on #5696
@brooksie:

1) Can you checkout and run PrimeFaces showcase in your local environment?

2) You said:

Where do you see this?

Do you talk about this?
![grafik](https://user-images.githubusercontent.com/10461942/77728619-26684c80-6ffd-11ea-8184-d3aee69e6f26.png)

3) Are there errors/warnings/... in the browser-console?

[2020-03-27 10:30] joergmattes commented on #5703
I have a similar problem. I am not using <p:column> directly, but always use a JSF custom tag (fullColumn.xhtml) which (among other things) includes filtering automatically by wrapping
[code]
As a result, the filterBy map has only one entry with key "property", although there are many columns, which broke filtering after migrating to 8.0
But reading the PF code, I saw that FilterFeature.getFilterF

[2020-03-27 11:47] melloware commented on #5731
well if you look at #3270 there are 3 use cases listed there where the Clear event was not being sent when it should have.  If we remove the 1 line fix for clearEvent() then 2 of those use cases then fail now.

[2020-03-27 12:50] stolp commented on #5705
I did some first tests with this.

I added the following code to my page template in a form:

`<p:ajaxExceptionHandler type="javax.faces.application.ViewExpiredException" />`

I added the following to faces-config.xml

[code]

After timeout I clicked a button. No exception was logged.

I am running PrimeFaces 8.0 under Mojarra 2.3

So for me this is working.

[2020-03-27 13:28] melloware commented on #5705
ok great.  I think the ticket is still valid though the be able to add "other" types of exceptions you don't want logged similar to OmniFaces.

[2020-03-27 13:29] stolp commented on #5705
Agreed - this might be useful.

[2020-03-27 15:51] yennor commented on #5722
ok I see.
I'm afraid pro customer would be outside of my price range, I was more thinking about becoming elite if I like the framework.
The Tree component actually got the same issues as the Datatable. But in that case I guess it doesn't make any sense opening an other bug report.

[2020-03-27 16:26] melloware commented on #5722
@yennor you can also click the "CASE Get A Quote" for a 1 time fix so you don't have to pay for pro.  They will quote you just for fixing this issue.

https://www.primefaces.org/support/

[2020-03-27 16:51] melloware opened #5734 "ColorPicker: Change event not firing listener"
## 1) Environment
- PrimeFaces version: 8.0
- Application server + version: ALL
- Affected browsers: ALL

## 2) Expected behavior

Ajax change event was added in this ticket: https://github.com/primefaces/primefaces/issues/2559

However the listener is not being fired.

## 3) Actual behavior

Server side listener called.

## 4) Steps to reproduce

Put and AJAX listener on a colorpicker and notice

[2020-03-28 18:14] #5734 closed, assigned to melloware

[2020-03-28 21:03] melloware commented on #5696
@brooksie any updates for @christophs78 or myself?  We are still trying to reproduce this issue.

[2020-03-28 23:11] brooksie commented on #5696
Hi... I've been testing lots of scenarios.
My earlier comments about JDK8 were wrong (sorry for that). All the scenarios work OK for JDK8. This does seem to be an issue with JDK11 etc.  There's still a difference between region US and region UK.
After a fair amount of struggle, I've managed to get Showcase working with PF8 (not PF9-snapshot) and ALL versions of JDK and for both locales. I added th

[2020-03-29 06:43] christophs78 commented on #5696
## PFTest
### Client
![grafik](https://user-images.githubusercontent.com/10461942/77843028-577d8400-7199-11ea-95ef-274cc38a5507.png)
![grafik](https://user-images.githubusercontent.com/10461942/77843077-cce95480-7199-11ea-8fd1-d2e04ac101a4.png)
### Server
![grafik](https://user-images.githubusercontent.com/10461942/77843427-71b96100-719d-11ea-982e-4dbe40a3108d.png)

## Showcase
### Client
![grafik

[2020-03-29 07:18] christophs78 commented on #5696
Showcase sets
[code]
in faces-config.xml.

PFTest does not do this so it defaults to the system locale. And en_GB causes the issue.

[2020-03-29 07:57] christophs78 commented on #5696
When i remove default-locale from Showcase (or set it to en_GB)  it still works. What the hell?!?

[2020-03-29 08:04] christophs78 commented on #5696
Nailed it!
It´s related to the combination of `<default-locale>en_GB</default-locale>`and Java11.
With this combination the Showcase breaks too.

[2020-03-29 08:26] christophs78 commented on #5696
### minimal test
[code]

### Java 8
en: 3/29/20
en_GB: 3/29/20
de: 29.03.20

### Java 11
en: 3/29/20
en_GB: 2020-03-29
de: 29.03.20

[2020-03-29 09:46] brooksie commented on #5696
@christophs78,The minimal test results don't seen right to me, for either JDK8 or 11. The short form for en_GB should be 29/03/20 (or maybe 29/03/2020)
i.e. we follow the day-month-year convention, but with "/" instead of "."

    On Sunday, 29 March 2020, 09:27:00 BST, Christoph Straßer <notifications@github.com> wrote:

minimal test
public static void main(String[] args) {
	LocalDate now = Local

[2020-03-29 10:21] christophs78 commented on #5696
@brooksie - which output do you get on your machine, when you run this minimal test against Java 8 and 11?

[2020-03-29 11:56] brooksie commented on #5696
I get the same as you... but for
.withLocale(new Locale("en", "GB")) or for
.withLocale(Locale.getDefault())
it returns 29/03/2020! and Locale.getDefault() returns "en_GB"!  As you said earlier.. What the...!
[code]
[code]
For a bit of fun, I decided to try "en_US" and Locale("en", "US") and saw a similar issue. (2020-03-29 vs 3/29/20). It's almost as though 2020-03-29 is the default when the loca

[2020-03-29 12:32] melloware commented on #2297
Duplicate of #1111

[2020-03-29 12:32] #2297 closed, assigned to nobody

[2020-03-29 12:49] melloware commented on #5696
@brooksie Isn't the locale "en-GB" not "en_GB" ???
https://www.oracle.com/java/technologies/javase/jdk11-suported-locales.html

[2020-03-29 14:38] christophs78 commented on #5696
en-GB vs en_GB does not make a difference.

### At least i figured out a work-around
[code]
Adding the pattern explicit helps.

### Some more details
[code]

Result with Java 11 (or newer)
[code]

Result with Java 8
[code]

With Java 8 DateTimeFormatter and and DateTimeFormatterBuilder seem to be in sync. (Year as two digits --> yy).
Java 11 and newer only deliver one y as year-pattern which cause

[2020-03-29 14:43] melloware commented on #5696
@christophs78 Excellent work.  So to me this sounds like a JDK11+ issue with their GB locale not being in sync.  You have provided a workaround and now as I see this is not a Primefaces issue any objection to me closing this ticket?

[2020-03-29 15:10] christophs78 commented on #5696
No objection. Please close the ticket.

[2020-03-29 15:57] #5696 closed, assigned to nobody

[2020-03-29 16:13] brooksie commented on #5696
Ok to close. I appreciate the effort you guys have put into this. Thank-you. We've all spend a considerable amount of time on this.
Just one last thought... If the locale had been "de_DE", the same problem as "en_GB" occurs... so it suggests that this issue is related to any locale which is more than just a language code.
[code]
Either way the workaround (and it is only a workaround) is to always

[2020-03-29 17:50] melloware commented on #5696
Your best bet would be to open a Jdk issue on OpenJDk.

[2020-03-29 18:07] christophs78 commented on #5696
Yep.

My last input to this:

[code]

Java 8:
[code]

Java 14:
[code]

IMO OpenJDK-Issues:
- Why do we get 4-digits-year for en_GB?
- Why contains the pattern only one "y"?

[2020-03-29 20:01] #4628 closed, assigned to melloware

[2020-03-29 20:59] blutorange commented on #5027
Whoa, it's finally done. I hope everybody's still doing well. Here's the current status:

* All widgets have their types documented and some rudimentary documentation
* You can find the feature branch here: https://github.com/blutorange/primefaces/commits/merge
    * I squashed all my commits into one commit. I made sure I only changed the doc comments and nothing of the JavaScript code to make me

[2020-03-30 12:49] tandraschko commented on #5027
+1
i will review after the cleanup and your PR

[2020-03-30 12:50] melloware commented on #5027
nice work @blutorange I will review when you are all set too. Just let us know.

[2020-03-30 15:04] melloware commented on #5722
@yennor I had a chance to take a look at this and I think everything is working correctly.

1. Its reporting `this.jq.parent()` as your DIV p-grid.

2. Its reporting its `this.jq.parent().innerHeight()` as 1379 in my resolution because you have it set for flex:1.  So all styles like "height:200px" are ignored because of the fluidity of flex.

3. If I change your DIV p-grid to just
[code]

I get th

[2020-03-30 15:19] melloware commented on #5069
@fanste couldnt this same fix be applied for the datatable as well?  https://github.com/primefaces/primefaces/issues/4448

[2020-03-30 15:48] melloware commented on #898
Duplicate of #958 and  was fixed with #4357

[2020-03-30 15:48] #898 closed, assigned to nobody

[2020-03-30 17:31] melloware commented on #5584
I know why. For reflow it looks like the column title <span> is put inside every single row like this...

[code]

so when you drag its taking the HTML content of the cell which is "Year1977".

[2020-03-30 19:55] melloware commented on #5582
Was able to fix it for draggableRows or draggableColumns as they both had the issue.

Reproducer:
[pf-5582.zip](https://github.com/primefaces/primefaces/files/4405110/pf-5582.zip)

[2020-03-30 20:02] melloware commented on #5582
If you need this right now just add this JavaScript to your page:
[code]

[2020-03-31 08:03] alejandrojimenezgarcia89 opened #5740 "Reproduced with PF 7.0."
I have problems with this issue but modifying a bit the xhtml file

[pf-5709.zip](https://github.com/primefaces/primefaces/files/4354617/pf-5709.zip)

1. Unzip the above zip.
1.1 Modify xhtml allowing scroll
2. Run `mvn clean jetty:run-exploded`
2.1 In chrome , zoom out, and scroll down
3. Navigate to http://localhost:8080/primefaces-test/test.xhtml

Example xhtml:
[code]
![image](https://user-ima

[2020-03-31 08:09] alejandrojimenezgarcia89 commented on #5740
More scroll
![image](https://user-images.githubusercontent.com/29012803/78002501-a19c6c00-7337-11ea-9572-25dc2fade338.png)

[2020-03-31 08:17] tandraschko commented on #5740
I think its a duplicate of: https://github.com/primefaces/primefaces/issues/4609

[2020-03-31 08:25] tandraschko commented on #5740
As its still not fixed by Mert, it would be great if someone could take care of it via PrimeFaces PRO.

[2020-03-31 08:25] #5740 closed, assigned to nobody

[2020-03-31 08:26] alejandrojimenezgarcia89 commented on #5740
Is not duplicate, is look like https://github.com/primefaces/primefaces/issues/5709, but scrolling de body

[2020-03-31 08:29] tandraschko commented on #5740
Yep, but i'm sure it's the same reason

as workaround you could set blockScroll=true to the dialog

[2020-03-31 08:31] alejandrojimenezgarcia89 commented on #5740
No, i don't want use blockScroll=true, my page must has scroll and the page contains a table and every row click display a dialog

[2020-03-31 09:27] fanste commented on #5731
The property `relatedTarget` is only set if the switched-to element is really focusable. A `div` can't receive focus until it has e.g. `tabindex="-1"`.

https://jsfiddle.net/71btm3kw/

[2020-03-31 09:30] pangbuddy opened #5741 "layoutunit [open] button is invisible"
## 1) Environment
- PrimeFaces version: 8.0
- Affected browsers:
Chrome Version 80.0.3987.149 (Official Build) (64-bit)
Firefox 74.0 (64 bits)

## 2) Expected behavior

A collapsible layoutunit, it should be displayed a little icon button at a side to reopen the unit when it is collapsed.

## 3) Actual behavior
The open button is available, but it's invisible.

## 4) Steps to reproduce
This issue

[2020-03-31 09:35] tandraschko commented on #5741
Layout is actually deprecated and i would not fix it anymore.
WDYT @melloware ?

[2020-03-31 10:44] pangbuddy commented on #5741
sorry i did not read the official document properly, i will also change my layout with other new components, thanks for your comment.

[2020-03-31 10:50] tandraschko commented on #5741
ok, then i will close it

[2020-03-31 10:50] #5741 closed, assigned to nobody

[2020-03-31 11:51] melloware commented on #5740
@alejandrojimenezgarcia89 I would subscribe to the #4609 ticket and try and sponsor it via PRO or a 1 time "get a quote" from PrimeTek to fix it. It is definitely the same issue you are reporting above.

[2020-03-31 12:16] #5582 closed, assigned to melloware

[2020-03-31 12:16] #752 closed, assigned to nobody

[2020-03-31 12:24] melloware commented on #5584
@stolp can you test this before I merge my fix.  Add this to your JS.

[code]

[2020-03-31 12:50] stolp commented on #5584
Thanks a lot @melloware!

I tried it and it basically works, but I still have the same effect upon the first page load.
Once switching the tab view back and forth (in my use case the table is inside a tab), everything works as expected.

It may have to do with the initialization time of the Javascript in my case, I currently have placed this inside an `<o:onloadScript> `.

[2020-03-31 12:52] melloware commented on #5584
Oh then it will most likely work as if its part of the core datatable code it will be run properly its just an AJAX timing issue with TabView in your current setup.  But thanks for Testing the fix I will merge it.

[2020-03-31 12:54] #5584 closed, assigned to melloware

[2020-03-31 13:01] melloware commented on #5731
Your fix works great I closed the old PR and opened a new one.

[2020-03-31 14:13] fanste commented on #5731
Thanks for your time to test it in PF. I'm currently a bit short on time :(

Anonther consideration: What happens with `forceSelection="true"` and `dropdownMode="current"`?

[2020-03-31 14:14] melloware commented on #5731
let me try that... will report back.

[2020-03-31 14:15] fanste commented on #5069
I have to test it once I have a bit more time again. But I can't see why not.

[2020-03-31 14:21] melloware commented on #5731
with `dropdownMode="current"` seems to be working the same correct way.

[2020-03-31 14:49] yennor commented on #5722
the flex property in the div element makes it sizing dynamically, according to the size of it's parent. Not it's children.
Since "flex: 1" is set, and it's neighbour element doesn't have a flex set, the div will use all the space which is left from the parent element. What often is used in flexible layouts.
Which works perfectly with other components, like selectOneListbox.
But the table element o

[2020-03-31 14:52] melloware commented on #5722
Yep I updated the title of the ticket to be more specific around Flex CSS.

[2020-03-31 16:07] cocorossello commented on #608
Hi,

This is not configurable, and can cause problems if datatable has horizontal scroll.

Of course, it can be deactivated with a hacky patch, but it would be good if one can configure it.

`PrimeFaces.widget.Paginator.prototype.bindSwipeEvents = function() {}
`

[2020-03-31 16:09] melloware commented on #608
@cocorossello Please create a new ticket to make this configurable.

[2020-03-31 16:20] melloware commented on #5492
Here is everything in Jquery UI.

 widget.js
 position.js
 data.js
 disable-selection.js
 focusable.js
 form-reset-mixin.js
 keycode.js
 labels.js
 scroll-parent.js
 tabbable.js
 unique-id.js
 widgets/draggable.js
 widgets/droppable.js
 widgets/resizable.js
 widgets/selectable.js
 widgets/sortable.js
 widgets/datepicker.js
 widgets/mouse.js
 widgets/slider.js
 effect.js
 effects/effect-blind.js
 e

[2020-03-31 18:19] melloware commented on #2269
Subtable is still in PF 8.0 and I don't see any reason to remove it for 9.0 so closing this ticket for now.

[2020-03-31 18:19] #2269 closed, assigned to nobody

[2020-03-31 18:36] melloware commented on #1730
Can't reproduce with 8.0.  Closing ticket.

[2020-03-31 18:36] #1730 closed, assigned to nobody

[2020-03-31 19:11] melloware commented on #1446
This is fixed as of 8.0.  Attached is a reproducible test case showing the toggler is closed.
[pf-1446.zip](https://github.com/primefaces/primefaces/files/4411113/pf-1446.zip)

[2020-03-31 19:11] #1446 closed, assigned to nobody

[2020-03-31 19:25] melloware commented on #905
This is fixed as of PF 8.0 and can be tested with the attached reproducer:
[pf-905.zip](https://github.com/primefaces/primefaces/files/4411168/pf-905.zip)

[2020-03-31 19:25] #905 closed, assigned to nobody

[2020-03-31 21:30] #1181 closed, assigned to melloware

[2020-04-01 05:42] cocorossello opened #5744 "Mobile: Swipe on mobile can cause problems with scroll"
## 1) Environment
- PrimeFaces version:
**8.0**
- Does it work on the newest released PrimeFaces version? Version?
**It doesn't work with the latest**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
**No**
- Application server + version:
**Tomee 8.0 (but it doesn't matter)**
- Affected browsers:
**Tested in chr

[2020-04-01 06:06] testing138 opened #5745 "Add "global" to p:overlayPanel"
Hi,

can you please add the "global" also to p:overlayPanel.
Please find also:
https://forum.primefaces.org/viewtopic.php?f=3&t=61521&sid=ba09b89d2ce6f30c2fb8fc179c9bc374

Thank you

[2020-04-01 06:42] alejandrojimenezgarcia89 commented on #5740
@melloware @tandraschko ok, thank you guys

[2020-04-01 07:29] dvmarcilio opened #5746 "Static Analysis: Inneficient iteration of a Map"
I found a small issue when experimenting with [Facebook's Infer Static Analyzer](https://fbinfer.com/). I'm providing a short pull request fixing this issue.

[It happens in TreeRender, line 821-823](https://github.com/primefaces/primefaces/blob/cea1b5317da9d54108abcf5df71e5979c604d7e3/src/main/java/org/primefaces/component/tree/TreeRenderer.java#L821).

This is similar to the SonarQube rule: ["en

[2020-04-01 07:30] tandraschko commented on #5745
I think there already is one?
<p:ajax event="show" global="false" /> ?

[2020-04-01 07:46] #5746 closed, assigned to nobody

[2020-04-01 10:15] kukel commented on #5037
I would like to work on this, but what is the original source of the p:datePicker? I have some other enhancements too so the range can be used in a dataTable as a custom filter as well.

[2020-04-01 10:30] testing138 commented on #5745
you mean? This is not working for me:
<p:ajax> Unable to attach behavior to non-ClientBehaviorHolder parent

			`										<p:overlayPanel id="overlayPanel" for="friendshipPanel" global="false"
														dynamic="true" showEvent="mouseover" hideEvent="mouseout"
														dismissable="true">

														<p:ajax event="show" global="false" />`

[2020-04-01 10:35] tandraschko commented on #5745
do you use 8.0? might be a new feature, just checked the docs here:

https://primefaces.github.io/primefaces/8_0/#/components/overlaypanel?id=overlaypanel

[2020-04-01 10:44] tandraschko commented on #5745
yep, its there
https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/overlaypanel/OverlayPanelBase.java#L32

[2020-04-01 10:44] #5745 closed, assigned to nobody

[2020-04-01 10:45] kukel commented on #5703
Look at https://github.com/omnifaces/optimusfaces. Great library, and I will post enhancements there too. latest snapshot works with PF 8 too.

[2020-04-01 11:25] melloware commented on #5037
@kukel  DatePicker is 100% built from scratch by PrimeTek and used in PrimeNG, PrimReact, PrimeFaces etc.  So there is no original source its just 0-datepicker.js.

[2020-04-01 11:48] melloware commented on #5722
@kukul so you want to have a copy of the datatable in Extensions?  Won't keeping your changes in sync with the real datatable become difficult quickly?  I am only asking because wouldn't just be easier to submit PR's here for each fix?

I appreciate the help though there are a LOT of scrolling height and width issues on here about the Datatable.  This component has abut 200 of the 400+ issues on t

[2020-04-01 12:07] melloware commented on #5744
Your current workaround is actually a good one!

PrimeFaces.env.touch is used in the following components...

[code]

@tandraschko  I wonder if we should do this similar to RTL support with a web context param and an interface `isTouchable` and add the property `touchSupport=true/false` to all of these components?

[2020-04-01 12:15] kukel commented on #5649
I would not call this a defect per say. Keeping this 'working' would require passing a 'remainer' to and from the client (so it keeps working using short requestscoped backing beans) and take it into account in calculating a 'new' first. Currently page and pagesize are used for this. 'Improvement' is a better tag, but when a 'lazyDataModel' is used. this can be 'fixed' in there. Not something the

[2020-04-01 12:28] melloware commented on #5722
I see what you mean but now that PF uses JitPack.

[code]

As soon as a PR is merged you have instant access to the code without needing an Elite release or a community release?  I know a lot of people use the above channel for testing their code. And also we can't be afraid of introducing bugs...we try not to but that is the nature of a complicated library!

[2020-04-01 12:43] mertsincan commented on #5648
Hi @ozziej and @tandraschko,

This is by design on Nova and Luna. We can not remove !important because label has an inline style to show text. We need to change setValue method in progressbar widget to remove !important.
[code]
I agree with Thomas.
[code]
This is the design team's decision.

Thanks a lot for your understanding!
Best Regards,

[2020-04-01 12:43] #5648 closed, assigned to mertsincan

[2020-04-01 12:48] mertsincan commented on #5719
Interesting! I'll re-compiler all themes. They have a common scss file. Therefore, everything is the same. Maybe compiler issue for Nova Dark ;)

[2020-04-01 12:59] melloware commented on #5722
@stolp if you go here: https://jitpack.io/#primefaces/primefaces

You can grab versions by Release or even commit ID if you click the Commits tab.  So once you know the last commit ID and you grab a version at that commit!  They give you the exact maven coords to use.

[2020-04-01 13:06] #5731 closed, assigned to melloware

[2020-04-01 13:41] melloware commented on #434
Cannot reproduce.  Added showcase example:https://github.com/primefaces/primefaces-showcase/commit/fe5907335ad60855c2184509b2180e4c2dafb0c9

[2020-04-01 13:41] #434 closed, assigned to nobody

[2020-04-01 13:43] #5719 closed, assigned to mertsincan

[2020-04-01 13:52] kukel commented on #5717
Very important feature for being able to use the component in a custom datatable filter (I think).  Was just going to look into something similar since I cannot get a time to be processed on the server side (time is passed from the client to the server and ignored there. Always get a `LocalDate` instead of `LocalDateTime`

[2020-04-01 13:54] kukel commented on #5037
ok, thanks....

[2020-04-01 14:54] aligit opened #5748 "DatePicker: timeOnly causes infinite loop"
## 1) Environment
- PrimeFaces version: 8
- Does it work on the newest released PrimeFaces version?  Non
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source): Non
- Application server + version: Payara 5.201
- Affected browsers: Firefox+ Chrome

## 2) Expected behavior

The timer only is not starting an infinite loo

[2020-04-01 14:54] melloware opened #5749 "Exporter: Switch iText to OpenPDF by LibreOffice"
URL: https://github.com/LibrePDF/OpenPDF

Basically they forked the last know good itext version before it went commercial and have been bugfixing and optimizing since.  The license is friendly and I feel better using an up to date library vs a 10 year old iText 2.1.7

I have tested and it is 100% backwards compatible.

- [x] Update lib
- [x] Update showcase
- [x] Update WIKI

[2020-04-01 15:15] melloware commented on #5748
Confirmed with this reproducer:
[pf-5748.zip](https://github.com/primefaces/primefaces/files/4416107/pf-5748.zip)

[2020-04-01 17:29] melloware commented on #5748
OK it looks like its getting into the infinite loop when it calls repeat on the MouseDown.
[code]

[2020-04-01 17:46] kukel commented on #5361
@christophs78: Long standing issue using the onchange. I'll create a patch for the dataPicker too address this. @tandraschko: Using pe:javascript would have been a solution too, not creating a superfluous ajax call.

[2020-04-01 18:12] kukel opened #5751 "DatePicker: time can not be used in custom p:dataTable filters"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source): No
- Application server + version: N/A. Pure PF thing
- Affected browsers: N/A, Pure PF thing

## 2) Expected behavior
Setting the `showTime="true"` enables t

[2020-04-01 18:29] melloware commented on #5749
Showcase PR: https://github.com/primefaces/primefaces-showcase/pull/137

[2020-04-01 18:51] kukel commented on #5749
Some time ago (several years) I created an 'exporter' that was based on https://github.com/flyingsaucerproject/flyingsaucer. It could even 'export' many parts of full pages (e.g. forms). Exporting datatables also exported images in cells, background colors and much more. Effectively all you need is to server side render the (part of) the page and pass the html (with css etc) on to the flyingsaucer

[2020-04-01 19:02] melloware commented on #5749
@kukel now that sounds like a great Extensions addition.

[2020-04-01 19:29] #5717 closed, assigned to christophs78

[2020-04-01 19:34] melloware opened #5753 "DatePicker: off() not being called for all on() events"
Looking at the code while debugging another issues I realized we had `on` events with mismatched or missing `off` events in the DatePicker.  PR to follow.

[2020-04-01 20:30] yennor commented on #5722
@kukel cool that you are looking into it :-).
just as a hint. meanwhile what I'm doing with the datatable is following:
[code]
min-height: 0 on the parent div is necessary, otherwise the table element can grow bigger than the div (Don't ask me why.... A css genious told me to try it out ;-). I'm still not very fond of css. ).
The css class is necessary, since otherwise there won't be a border arou

[2020-04-01 21:00] yennor opened #5755 "Tree: Tree loads the tree model from bean again for each TreeNode"
## 1) Environment
- PrimeFaces version: 8

## 2) Expected behavior
Tree component should load the tree model from bean only once for each update (render) of the tree component.

## 3) Actual behavior
It seems to load it as many times as there are treenodes in the treemodel.
This can lead to significant higher load times, especially if in some calculations are made in the getter (e.g. Because the d

[2020-04-01 21:05] tandraschko commented on #5755
please give a bit better description; What is loaded as many times? Which method exactly?

[2020-04-01 21:31] #5751 closed, assigned to kukel

[2020-04-01 21:32] #5753 closed, assigned to melloware

[2020-04-01 21:32] #5749 closed, assigned to melloware

[2020-04-01 21:37] #5611 closed, assigned to melloware

[2020-04-01 21:50] yennor commented on #5755
sorry, I'm tired. anyway:
`<tree value="{#view.treeRoot}"`

In getTreeRoot() you get the root node with all the other nodes attached.
For every node attached getTreeRoot() gets called again.
In the git repository referenced you can see it nicely, even with counter.

[2020-04-01 21:53] kukel commented on #5722
@yennor: All these scrollable things predate css flex stuff. So instead of trying to combine the two, I' remove `scrollable="true" and am experimenting with adding flex to the datatable. And I am surprised that tbody can be scrollable then. Just some small lines of css wit flex and it already works. Might be that lots of the feature that are hard to combine (scrollable, fixed colums/rows and some

[2020-04-01 22:16] melloware commented on #5755
@yennor yes this is how JSF works.

Which is why if you look at this page on performance: https://primefaces.github.io/primefaces/8_0/#/core/performance

You should create your treeRoot model once and then in the getter just return the instance of it don't perform any logic or do it like this...

[code]

it should not be impacting your performance at all if there is no logic in the getter.  You ca

[2020-04-01 22:32] SteveIreland opened #5756 "TextEditor: Dropping CSS Class from Paragraph Tags"
Similar to #5283,  The use of the Align method applies a class of either "ql-align-right" or "ql-align-center" to the paragraph tag.

HTMLSanitizer then appears to be responsible for stripping the class attribute from the tag when I save the form.

I tested it using the latest PrimeFaces Showcase demo and it's not working there either.  (If you click on the Submit button the tags are dropped from

[2020-04-01 22:35] melloware commented on #5756
@SteveIreland This looks like it going to be a PrimeFaces code fix.  If you are using PrimeFaces 8.0 you can turn the `secure` attribute to `false` and that stops using the Sanitizer.

if you can't upgrade to PF8.0 unfortunately this will require a similar fix as #5283

[2020-04-01 22:43] kukel commented on #5722
@stolp: you do the same? ;-)
@yennor: I got some simple scrolling working, but the issue seems to remain the same. The 100% is sort of not doing anything here either. If I set the height of the tbody in vh units it does work. I'll experiment further since I think it would be a nice thing for responsiveness to and make the datatable in general waaaay simpler. But maybe you can experiment some with

[2020-04-01 22:49] yennor commented on #5755
ok. But it still doesn't make any sense.
I've just tried it out with the datatable. Even when the datatable has got 50 rows. It doesn't call the getter for the row list 50 times. Only two times.
When the tree component got 50 nodes, it calls the getter for the root node 50 times...
Which just doesn't make any sense. It already got all of the nodes with the first call, it doesn't need to call for e

[2020-04-01 23:02] melloware commented on #5755
Well whether it’s implemented incorrectly or not is neither here nor there. You violated one of Joshua Bloch’s cardinal rules of never put logic in setters or getters. Use them as accessors only.

Your design choice of logic in the getter is what exposed this performance issue.

Even your example did it correctly by putting the logic in the @Postconstruct method.

[2020-04-01 23:49] kukel commented on #5722
Some improvements...  datatable is all '100%'... Only thing explicitly set now is the height of the p-grid around it but it is set in percentage units of the vh. If you **kown** (since you designed it) for which media selectors, what e.g. the size of the headers and footers are, you could also so a `calc (100hv - <size of header and footer of page>) and you are all set. `calc(100vh - 75px)` in the

[2020-04-02 08:15] tandraschko commented on #5755
we can check if we can improve it (reducing the Bean calls is good for performance) but as melloware said, it's actually by design that getters are called multiple times.

[2020-04-02 08:21] kukel commented on #5722
Oh btw, this `calc(...)` setting of the grid is not uncommon to do in responsive designs and it might even be a solution when using the current `scrollable="true" scrollHeight="100%"` solution. That is at least I remember it being in my designs.

### Update:
confirmed... There is something that needs an explicit height somewhere, not just with the current implementation, but also with flex... and

[2020-04-02 08:32] mertsincan opened #5758 "Sticky component doesn't work with html overflow-y: scroll"
If html tag has overflow-y:scroll style, sticky component doesn't call scoll event on widget.

[2020-04-02 08:35] #5758 closed, assigned to mertsincan

[2020-04-02 09:44] markusg80 opened #5759 "Timeline: edit event not working when editableGroup is false"
## 1) Environment
- PrimeFaces version: **8.0**
- Does it work on the newest released PrimeFaces version? **No** Version? **9.0-SNAPSHOT**
- Does it work on the newest sources in GitHub? **No**
- Application server + version: **Payara 5.201**
- Affected browsers: **All**

## 2) Expected behavior

When i disable editableGroup global on the timeline events related to a group should fire edit event w

[2020-04-02 11:51] melloware commented on #5759
@markusg80 I see the problem Can you add this JS to your page and try again?

[code]

[2020-04-02 11:53] #5756 closed, assigned to melloware

[2020-04-02 12:05] markusg80 commented on #5759
i try to add this to my site with <h:commandScript> tag and then i get http 500 error code

[2020-04-02 12:14] melloware commented on #5759
Sorry don't do it like that because the `&&` is invalid XML.  Add the code above to a .js file and include the JS file on your page.

[2020-04-02 12:19] melloware commented on #5755
@yennor @tandraschko I took a stack trace...
[code]

This stack is printed for each row so the culprit is `org.primefaces.component.tree.TreeRenderer.encodeTreeNode(TreeRenderer.java:687)`

https://github.com/primefaces/primefaces/blob/e4c99061ac949138e6c3de68fb9eed151dbd769d/src/main/java/org/primefaces/component/tree/TreeRenderer.java#L687

Calling `setRowKey` calls UITree setRowKey which has th

[2020-04-02 12:24] markusg80 commented on #5759
i addd this **<h:outputScript library="js" value="testtimeline.js" />** to the end of the file and at the end of the template and **editableGroup="false"** still stops edit event

[2020-04-02 12:45] melloware commented on #5759
@markusg80 Digging deeper I think it is this issue vis-timeline issue;
https://github.com/visjs/vis-timeline/issues/202

This was fixed in Timeline  6.4.3 and we are currently on 6.3.2.  So I need to upgrade the underlying vis-timeline.  Let me do that and test it.

[2020-04-02 12:47] markusg80 commented on #5759
Perfect. I will wait for news

[2020-04-02 12:53] tandraschko commented on #5755
51 -> 2 calls
i think thats an good improvemet
this means 49 less calls to the ELResolver, which asks CDI for the bean, which creates new objects + map lookup

[2020-04-02 12:53] #5755 closed, assigned to nobody

[2020-04-02 13:10] melloware commented on #5755
Nice work @tandraschko !

[2020-04-02 13:31] SteveIreland commented on #5756
Thanks!  I will upgrade to PF8.

[2020-04-02 13:40] melloware commented on #5759
OK I just pushed another change to upgrade to 7.3.4 in my PR and I verified it fixes your issue.  The Double Click now works properly with `editableGroups=false`.

[2020-04-02 13:42] markusg80 commented on #5759
Ok i will take a try with 9.0-SNAPSHOT

[2020-04-02 13:43] melloware commented on #5759
hold on let me push my PR first.

[2020-04-02 13:43] #5759 closed, assigned to melloware

[2020-04-02 13:48] melloware commented on #5759
OK its merged now you can build 9.0-SNAPSHOT.

[2020-04-02 14:20] markusg80 commented on #5759
Ok it works with **9.0-SNAPSHOT**. Can you merge this to 8 branch?

[2020-04-02 14:29] melloware commented on #5759
That's up to @mertsincan he is in charge of what goes in Elite releases.

[2020-04-02 14:36] hb237 opened #5762 "Paginator: jumpToPageDropdown not working with Pages greater than 10"
# 1) Environment
- Does not work on PrimeFaces version: 8.0
- Did work before on PrimeFaces version: 6.2
- Application server + version: Tomcat v8.0
- Affected browsers: Chrome 80, Firefox 74, Internet Explorer 11

## 2) Expected behavior
The paginator should be able to display pages that have a number greater than 10.

## 3) Actual behavior
When clicking on a a number greater than ten in the pagi

[2020-04-02 14:46] melloware commented on #5762
The location of the file you need to edit for the PR is `\src\main\resources\META-INF\resources\primefaces\paginator\paginator.js`

[2020-04-02 14:59] hb237 commented on #5762
Here is the PR: https://github.com/primefaces/primefaces/pull/5763

[2020-04-02 15:18] #5762 closed, assigned to hb237

[2020-04-02 15:24] hb237 commented on #5762
Will this issue still be fixed in v8.0 or later in v9.0?

[2020-04-02 15:29] melloware commented on #5762
Hopefully @mertsincan will merge it into Elite 8.0.1 release.

[2020-04-02 18:52] melloware commented on #5712
I created a forum post on Barcelona here: https://forum.primefaces.org/viewtopic.php?f=53&t=61552

[2020-04-02 22:13] SteveIreland commented on #5756
I upgraded to PF8 and applied the secure="false" attribute but owasp-java-html-sanitizer was still wiping out the class names.

It turns out that it is necessary to both remove owasp-java-html-sanitizer from the pom AND set secure="false" on all occurrences of textEditor.

The secure="false" flag only prevents the missing owasp-java-html-sanitizer artifact system failure from happening.  But that

[2020-04-02 22:16] melloware commented on #5756
Ahh yes forgot to mention it checks the classpath too.  Sorry!

[2020-04-03 08:17] haiderali-456 opened #5764 "carousel firstVisible attr is not working in primeng v8+"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2020-04-03 08:22] tandraschko commented on #5764
This is the PrimeFaces issue tracker, not PrimeNG

[2020-04-03 08:22] #5764 closed, assigned to nobody

[2020-04-03 08:28] haiderali-456 opened #5765 "Carousel : firstVisible attr not working in v8+"
Carousel : firstVisible attr not working in v8+

have any alternate solution for **firstVisible** in latest versions8+ of primeng

but it's working fine in primeng version6

[2020-04-03 08:30] tandraschko commented on #5765
Still PrimeNG?
Your issue is invalid without description and sample.

[2020-04-03 08:33] haiderali-456 commented on #5765
@tandraschko  could u pls help me on this?

[2020-04-03 08:39] tandraschko commented on #5765
as i said, this is not for PrimeNG! PrimeNG is here: https://github.com/primefaces/primeng

[2020-04-03 08:39] #5765 closed, assigned to nobody

[2020-04-03 11:15] haiderali-456 commented on #5765
https://github.com/primefaces/primeng/blob/master/src/app/components/carousel/carousel.ts

[2020-04-03 11:24] stolp commented on #5765
@haiderali-456 You should go to https://github.com/primefaces/primeng/issues with your problems.

[2020-04-03 12:00] melloware commented on #5712
OK @mertsincan suggestion I edit the Barcelona layout.js and change this line.
[code]

And sure enough that worked with CSP=true and not needing MoveScripts to bottom.

So PrimeTek probably has to update all their Premium Theme layouts to add qualifiers to their `click`  events in their layout.js files.

I am going to close this ticket because its a fix required in the Premium Themes and not anyth

[2020-04-03 12:00] #5712 closed, assigned to nobody

[2020-04-03 17:31] #5477 closed, assigned to nobody

[2020-04-03 17:49] yennor commented on #5722
wow. You've really put some work into it :-). I'll try it out

[2020-04-03 18:08] tandraschko commented on #3172
I applied your changes but without collapsing all child nodes - thanks!

[2020-04-03 18:08] #3172 closed, assigned to nobody

[2020-04-03 18:34] melloware commented on #5722
@kukel i will close this ticket for now.

[2020-04-03 18:34] #5722 closed, assigned to nobody

[2020-04-03 21:55] melloware commented on #4390
I just tested this again with PF8.0 in the latest Chrome and the issue appears to have resolved itself.  I also noticed as I zoom in our out with Chrome I can see it shift slighly depending on the zoom factor but I think that is just an artifact of zooming.

[pf-4390.zip](https://github.com/primefaces/primefaces/files/4430085/pf-4390.zip)

I am going to close this issue for now. We can re-open if

[2020-04-03 21:55] #4390 closed, assigned to nobody

[2020-04-03 22:01] melloware commented on #5387
This appears to be fixed on the latest showcase: https://www.primefaces.org/showcase/ui/data/datatable/sticky.xhtml

See the ad for Siberia at the top?  Sticky seems to respect it now.

[2020-04-03 22:19] stolp commented on #5387
I am sorry to say that - but it does not work for me.

Expected: The sticky should end at the inner white area.
Observed: The sticky ends at the primefaces header.

[2020-04-03 22:21] melloware commented on #5387
Oh yep I thought you were saying it was not stopping at Siberia.

[2020-04-03 22:27] melloware commented on #5387
I know why....

1. The div with `class="layout-news"` is set to render `display:none`.

2. Then Sticky calculates its dimensions because the page has finished loading.  So it calculates "top" based on the current DOM and `display:none` components are not ever counted.

3. Then this JavaScript runs very last to show the News if you haven't already closed it and they have your cookie marked.

[code]

[2020-04-03 22:29] melloware commented on #5387
So I am still going to close this.  You can open an issue on the Showcase issues page if you feel strongly about it...  https://github.com/primefaces/primefaces-showcase/issues

[2020-04-03 22:29] #5387 closed, assigned to nobody

[2020-04-04 16:57] testing138 opened #5769 "ColorPicker: add close behavior"
Hi,

can you please add a "close" event on p:colorPicker.
I need to fire a listener only if the color has been really choosen not on every mouse move (if I hold my mouse key).

See also:
https://forum.primefaces.org/viewtopic.php?f=3&t=61485

[2020-04-04 18:23] #5769 closed, assigned to melloware

[2020-04-05 08:21] christophs78 commented on #5748
Think we need to port this PrimeNG-commit: https://github.com/primefaces/primeng/commit/722b46ac71e8e0ac82c68baf0ac2b601a12de676

[2020-04-05 08:29] christophs78 commented on #5748
Hm. There´s already some code which should clean up the TimePicker-timer:
https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/datepicker/0-datepicker.js#L1512-L1528

[2020-04-05 08:47] christophs78 commented on #5748
Think this problem is related to the dateSelect-event. Each single increment fire´s this event.
Without dateSelect-event i can´t reproduce this issue.

[2020-04-05 09:01] christophs78 commented on #5748
Yep! This single line causes the issue:
https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/datepicker/0-datepicker.js#L2242

[2020-04-05 12:30] melloware commented on #5748
So we somehow need to figure out if repeat is being held down? and not call DateSelect until the last one?

[2020-04-05 13:16] christophs78 commented on #5748
Yes, something like this.

[2020-04-05 13:35] #165 closed, assigned to nobody

[2020-04-05 13:50] melloware commented on #959
Duplicate of #3355

[2020-04-05 13:50] #959 closed, assigned to nobody

[2020-04-05 20:34] ralfmohr commented on #5675
Adding appendTo is a workaround, but the bug still needs to be fixed. A can not see that there commit which fixes this bug. Why is it set to invalid? Please reopen.

[2020-04-05 21:21] melloware commented on #5675
@ralfmohr The dialog has good defaults.  We don't want to ALWAYS attach it to the body thus its not the default and this setting is provided.   @tandraschko can speak to any different reasons why this is not the default

[2020-04-06 12:02] melloware commented on #5675
@ralfmohr  Can you put together a little Example reproducer using PF Test: https://github.com/primefaces/primefaces-test

Then please attach your reproducer to that ticket.  It could be something broke in 8.0 or that some ticket was "fixed" for other reasons causing your issue.

[2020-04-06 12:21] tandraschko commented on #5675
appendTo was/is a hack for older browsers as the a inner DOM element could not be bigger as a outer DOM element; this was probably done for IE6 or 7.

Today its just a workaround for edge cases IMO.

[2020-04-06 12:35] melloware commented on #5675
So @tandraschko should we make @(body) the default?

[2020-04-06 12:41] aripddev opened #5771 "SelectCheckboxMenu: Checkbox for group selection"
It would be good to have checkboxes next to groups to select them instead of selecting all items one by one

[2020-04-06 12:50] tandraschko commented on #5675
nope
we should try to analyze the bug here and then decide if we can easy fix it or not.

[2020-04-06 12:51] melloware commented on #5675
got it I see @erickdeoliveiraleal already provided a reproducer.  So @ralfmohr nevermind...

[2020-04-06 14:36] MarkusChur opened #5773 "ColumnToggler: Erroneous "aria-checked" evaluation"
ColumnToggler evaluates the attribute "aria-checked" during handling of the change event.
https://github.com/primefaces/primefaces/blob/87e23f5ddeb004eea6cd4d185090c1ad8180f06c/src/main/resources/META-INF/resources/primefaces/columntoggler/columntoggler.js#L230

As this attribute is a String it should be fixed by using `$(this).attr('aria-checked') === "true"` instead.
# 1) Environment

PrimeFaces

[2020-04-06 14:52] melloware commented on #5773
@MarkusChur You want me to fix this or were you submitting a PR?

[2020-04-06 16:04] melloware commented on #5773
PR submitted.

[2020-04-06 16:31] melloware commented on #5675
OK this is working in Elite 7.0.12 and broken in 8.0 but looking at the commits for tabview.js and dialog.js nothing is really standing out.

[2020-04-06 17:56] MarkusChur commented on #5773
Thanks @melloware.

[2020-04-06 17:58] #5773 closed, assigned to melloware

[2020-04-06 20:10] heitorvrb commented on #1662
I have the same bug in Primefaces 7.0

DataTable with reflow="true" and a <p:summaryRow> shows a header text for each column added to the summaryRow.

[2020-04-06 21:37] melloware commented on #1662
Reproducible test case:
[pf-1662.zip](https://github.com/primefaces/primefaces/files/4440921/pf-1662.zip)

[2020-04-06 21:57] melloware commented on #1662
If you need this fix right now add this JS code to your JS file that loads after PrimeFaces.
[code]

[2020-04-06 21:57] melloware commented on #3459
If you need this fix right now add this JS code to your JS file that loads after PrimeFaces.
[code]

[2020-04-07 06:43] christophs78 opened #5776 "Schedule: Upgrade FullCalendar (4.x --> 5.x)"
Something we may look into later this year. (Target PrimeFaces 9.0)

FullCalendar 5.x is currently at beta-state. Should go final in may 2020:
https://fullcalendar.io/blog/2020/04/v5-beta-released

[2020-04-07 12:15] melloware opened #5777 "Task: Remove @ResourceDependencies wrapper annotation"
Before Java 8 if you needed to use multiple instances of the same annotation, they had to be wrapped in a container annotation. With Java 8, that's no longer necessary, allowing for cleaner, more readable code.

**Noncompliant Code Example**
[code]

**Compliant Solution**
[code]

[2020-04-07 15:02] #1662 closed, assigned to melloware

[2020-04-07 15:16] #5608 closed, assigned to Rapster

[2020-04-07 21:47] ralfmohr commented on #5675
Hello Melloware,

I tryed out the primefaces-test fork from Erick de Oliveira Leal with
the latest primefaces/primefaces on Github, but it did not work.
Are the commits on github or just for primefaces elite?

Greetungs
Ralf

Am 06.04.2020 18:32 schrieb Melloware:

[2020-04-07 21:53] kukel commented on #5722
@yennor : Can you create a new issue for

I'll pick this up and create functionality for this.

And add 'also for the 'empty message' part

[2020-04-07 22:04] melloware commented on #5675
If you pulled down his example and run `mvn clean jetty:run-exploded` it should work fine?   He has it set for PF8.0 in the pom.xml which is available publicly.

[2020-04-08 07:37] PlassJ opened #5779 "Picklist: transfer event not fired with required=true on last target item"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? No
- Application server + version: Wildfly 16
- Affected browsers: all

## 2) Expected behavior
- Transfer event should be fired.
## 3) Actual behavior
- Transfer event won't be fired.
## 4) Steps to reproduce
Create a Picklist with `required="true"` then remove the last item of the target list.
T

[2020-04-08 09:07] kukel commented on #5779
please improve your title. It is in my opinion too broad for the issue you descirbe

[2020-04-08 11:37] melloware commented on #5779
OK I re-read your steps its transfer last item of `target` list I was doing `source` list and now I get this.

![image](https://user-images.githubusercontent.com/4399574/78779873-ba2a0900-796b-11ea-99ea-0b1c05cb5f14.png)

[2020-04-08 11:48] melloware commented on #5779
It even happens if you just load the page and try and re-order elements in the source list.  It is because the way the picklist works it submits all of its source and target elements to the backend to be bound to the backing bean lists.  When the target is empty this component is technically failing the required=true check.   I am not sure if there is an easy fix for this.

[2020-04-08 12:21] kukel opened #5780 "DataTable: scrollHeight=100% does not take position of p:datatable related to parent into account"
Please tag as enhancement and assign to me

## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? No Version? 8.0
- Does it work on the newest sources in GitHub? No
- Application server + version: N/A
- Affected browsers: N/A

## 2) Expected behavior

If I have a container with a height of e.g. 400px and this container contains  some text and a datat

[2020-04-08 12:27] melloware commented on #5780
It would be nice to handle both scenarios?  like scrollheight="100%" or scrollHeight="33vh" or scrollHieght="50pc" for 50% of remaining parent container height?

[2020-04-08 13:28] kukel commented on #5780
Yes, all are options... Do we want to keep the 100% working like it does now? For backwards compatibility?

[2020-04-08 13:49] melloware commented on #5780
feels like the safe move?

[2020-04-08 14:24] ralfmohr commented on #5675
Unfortunately not. Doing exactly that shows a blocked dialog.
Changing to the latest 9.0-SNAPSHOT has a blocked dialog, too.
Adding appendTo only helps at first glance: the values of input fields
are not copied to the bean.

Am 08.04.2020 00:05 schrieb Melloware:

[2020-04-08 14:32] melloware commented on #5675
@ralfmohr Maybe we are talking past each other.  @erickdeoliveiraleal example was to SHOW the bug in PF 8.0.

If you change the pom.xml back to PF 7.0 the example works.  8.0 and 9.0-SNAPSHOT it fails that is the point is to produce the bug.

A better fix is to move your dialog OUTSIDE of the Tabview and into its own `h:form`.

[2020-04-08 14:36] melloware commented on #5675
Attached is a version that works in PF 7, 8, 9 with no appendTo and to me is the proper design for this type of logic.

[pf-5675.zip](https://github.com/primefaces/primefaces/files/4451062/pf-5675.zip)

[2020-04-08 15:22] melloware commented on #975
PrimeReact has implemented a galleria from scratch with tons of features and built in responsiveness.

https://www.primefaces.org/primereact/showcase/#/galleria

The PF component should be updated to match

[2020-04-08 15:37] melloware commented on #5296
Reproducer:
[pf-5296.zip](https://github.com/primefaces/primefaces/files/4451393/pf-5296.zip)

[2020-04-08 15:53] melloware commented on #5296
@joergmattes can you post your hack of DraggableRowsFeature please?

[2020-04-08 16:35] joergmattes commented on #5296
Sure. It's on the JSF-side, and specific for my code though. It basically calculates the index by taking into account the row groups until that index.

DraggableRowsFeature:
[code]
ReorderEvent:
[code]

[2020-04-08 18:33] erickdeoliveiraleal commented on #3056
there's a free fork of fontawesome too: https://github.com/ForkAwesome/Fork-Awesome

[2020-04-08 18:34] erickdeoliveiraleal commented on #4778
there's a free fork of fontawesome too: https://github.com/ForkAwesome/Fork-Awesome

[2020-04-08 18:34] erickdeoliveiraleal commented on #5536
there's a free fork of fontawesome too: https://github.com/ForkAwesome/Fork-Awesome

[2020-04-08 18:35] melloware commented on #3056
@erickdeoliveiraleal You can just follow my instructions and use the latest FontAwesome with PF 7 or 8 right now.

https://primefaces.github.io/primefaces/8_0/#/core/fonticons

[2020-04-08 21:49] eduarddrenth commented on #3818
Still use this workaround with 7.0.11, improved it a bit, not good enough for a PR though mainly because of duplicate request. I'll close this issue now in the hope that "unsort" will become a standard feature in PF datatable at some time. If I have the time I may improve my workaround to become PR worthy.

[2020-04-08 22:29] melloware commented on #4778
We have considered removing FontAwesome 4.7 from inside PrimeFaces JAR entirely.  Since there is a proper webjars implementation that lets you keep it up to date yourself.

[2020-04-08 22:31] melloware opened #5781 "Task: Remove FontAwesome 4.7"
Since FontAwesome 5 can be used and users can keep it up to date with whatever version they choose we should remove FontAwesome 4.7 from core PrimeFaces JAR.

Plus PrimeTek has been going with PrimeIcons so it makes even more sense to remove it.

See: https://primefaces.github.io/primefaces/8_0/#/core/fonticons

Vote up or down here if your like or dislike the idea.

[2020-04-09 05:57] christophs78 commented on #5781
AFAIK PrimeTek uses FontAwesome-Icons within their Premium-Theme. They may need to make some minor update to them. (Update docu, bundle FontAwesome with the theme, ???)

[2020-04-09 10:03] NRanjbaran opened #5782 "Datatable: RTL Column resize issue"
I'm using Primefaces version 8.0.
Resize column in datatable when direction is RTL has problem. When I drag the resizer to the right side then the column size increases, but because of the direction is RTL that column should be smaller.
In other words, when I drag the resizer to the right, the column gets larger to the left.

I solve this problem on this file :
path : primefaces-8.0.jar\META-INF\r

[2020-04-09 10:57] tandraschko commented on #5782
Please follow the issue template and provide all infos like a example to replicate

[2020-04-09 11:01] NRanjbaran commented on #5782
[code]

[2020-04-09 11:12] tandraschko commented on #5782
Please check our issue template and follow all steps - otherwise it's hard to replicate and the most people wont invest time in your issues without all informations and examples.

[2020-04-09 11:29] melloware commented on #5782
Reproducible test case:
[pf-5782.zip](https://github.com/primefaces/primefaces/files/4455857/pf-5782.zip)

[2020-04-09 11:42] melloware commented on #5782
@NRanjbaran even with your fix I don't think it behaves quite right. I think there is a lot more to it than just your fix above.

[2020-04-09 12:03] utrucceh opened #5783 "SelectBooleanCheckbox: Converter not called"
With custom converter, `getAsString` calling, but `getAsObject `not calling
Pf versi: 6.0 & 7.0
Example:

[code]

[2020-04-09 12:12] melloware commented on #5783
Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

You didn't even include your XHTML.

[2020-04-09 12:42] hoggmania opened #5784 "CVE-2018-14040 - Downloaded BSD-3 Clause license in html includes"
The download and bundling of the license file for BSD-3 clause is including a HTML version of the license with several external JS libraries, but notably, bootstrap-3.2.0.min.js which has the vulnerability https://nvd.nist.gov/vuln/detail/CVE-2018-14040.

Licenses with text files should only be inluded.

[2020-04-09 12:49] melloware commented on #5784
@hoggmania Can you point out where PrimeFaces has this?  PF doesn't use Bootstrap.  Can you be specific about exactly what needs to be done for PF?

[2020-04-09 14:21] ralfmohr commented on #5675
In the attached example "pf-5675.zip" you placed the dialog after the tabView.
That does not fit to this defect. It is about modal dialogs within tabs.
I have an existing application with 50 modal dialogs within tabs. It was recently migrated to PF 8.0 and is no longer working. Adding appendTo="@(body)" is no solution. It prevents input values from being copied into the bean.

[2020-04-09 14:31] hoggmania commented on #5784
When it download the license file for BSD-3 using the to bundle in the jar, it includes the html version that has this at "primefaces-8.0\META-INF\resources\licenses\the bsd 3-clause license - bsd-3-clause.txt.html" this html contains it.

[2020-04-09 15:12] melloware commented on #5675
@ralfmohr you are killing me...

1. Original Defect shown in this project from @erickdeoliveiraleal : https://github.com/erickdeoliveiraleal/primefaces-test  Just dowload it and run it you will see its your exact bug.

2. My attached project shows you how to fix it properly using PF 7, 8, or 9.

[2020-04-09 15:22] hoggmania commented on #5784
Ideally, the pom.xml plugin (org.codehaus.mojo artifact license-maven-plugin) to fetch these licenses should only fetch text versions instead of HTML.

As the html can be navigated to, and has the vulnerable Boostrap pulled in, it can be used to exploit.

[2020-04-09 15:33] melloware commented on #5784
I don't mind fixing it but this seems like as minor a CVE can get for the following reasons.

1. its bundled inside the JAR file.

2. No webapp can access this file as the webserver will not serve it up as its not in a location to be served up.

So I don't see how anyone can possibly exploit this Boostrap CVE with PrimeFaces?  Do you have a use case where this is possible?   There is no way for an

[2020-04-09 22:23] melloware commented on #5781
@christophs78 I think they have switched them all to use PrimeIcons?  I could be wrong.

[2020-04-09 22:27] #5784 closed, assigned to melloware

[2020-04-09 22:35] melloware commented on #5783
Closing as invalid.  Will reopen if you can provide a reproducible test case.

[2020-04-09 22:35] #5783 closed, assigned to nobody

[2020-04-10 07:09] NicolaIsotta commented on #5781
Apollo Remastered still uses FontAwesome

[2020-04-10 10:47] christophs78 commented on #5781
Same for Sibera. (the newest premium-theme)
![grafik](https://user-images.githubusercontent.com/10461942/78985558-5ea57a00-7b29-11ea-8346-1a53d6888cf3.png)

[2020-04-10 11:13] melloware commented on #5781
That should be fine as long as you include the shims CSS it would be a drop in replacement right?
[code]

[2020-04-10 11:37] tandraschko commented on #5781
This decission is up to primetek

[2020-04-11 06:35] hoggmania commented on #5784
As they are in /META-INF/resources/licenses the would be served up under the root. Thanks for updating.

[2020-04-11 10:55] blutorange opened #5787 "Widgets: Missing this._super(cfg) call in init method of a few widgets"
While working on the type declarations for the JavaScript API, I noticed a few widgets are missing the call to `this._super(cfg)` in the init method. Is that intentional? The [init method](https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/core/core.widget.js#L74) from the BaseWidget doesn't seem to be doing anything harmful

This results in a few

[2020-04-11 11:41] tandraschko commented on #5787
I dont think its by design, just never migrated. A PR is very Welcome :)

[2020-04-11 12:24] melloware commented on #5784
Yep you are right...that is a TERRIBLE location for licenses.  Just fixed it.

**Current location:** /META-INF/resources/licenses/

**New Location:** /META-INF/licenses

[2020-04-11 12:25] melloware commented on #5787
I have noticed this too and just figured that somewhere along the way PF refactored more code into BaseWidget and just never hit all the components.  PR is very welcome.

[2020-04-11 15:15] #5777 closed, assigned to melloware

[2020-04-13 04:17] robertoferreirajrr opened #5789 "Charts: Chart export wrong image when legends with more then one column"
Charts: Chart export wrong image when legends with more then one column

![chart17cm (17)](https://user-images.githubusercontent.com/264819/79091660-7e54c200-7d24-11ea-81d9-4d8334735ac2.png)

## 1) Environment
- PrimeFaces version: 8.0
- Not work on the newest released PrimeFaces version.
- Not work on the newest sources in GitHub.
- Glassfish 5.0.1:
- Affected browsers: All them

## 2) Expected b

[2020-04-13 11:42] melloware commented on #5789
Related to: https://github.com/primefaces/primefaces/issues/4967 ???

[2020-04-13 11:43] robertoferreirajrr commented on #5789
Hey Guys!
Only to your acknowledgment: This issue persists since Primefaces version 7. I wait between versions, this fix, to update my lib on project. Sorry for not report. A time ago I reported similar issue: [4967](https://github.com/primefaces/primefaces/issues/4967), the fix implemented in this issue fix one column legend export problem, but when legends have more than one column a new problem

[2020-04-13 11:44] melloware commented on #5789
Unfortunately the JQPlot library is very old and its not really maintained anymore. The newer ChartsJS is still and active and vibrant library.  SO I am sure how much effort this ticket will get unless you are a PRO customer.

[2020-04-13 13:21] robertoferreirajrr commented on #5789
I understand... I have sent a quote request for this... thanks for your answer...

Have some kind of prediction when this library will be deprecated and remove from Primefaces?

This issue is Reported in Jqplot git issues too: https://github.com/jqPlot/jqPlot/issues/186

Like reported seems that Jqplot have a serie of issues when using jQuery > 3.2.1.

Best regards =)

[2020-04-13 13:39] melloware commented on #5789
I don't work for PrimeTek so I can't answer when that will be deprecated but i have a feeling so many customers used these original charts they won't deprecate it anytime soon, but the pain is you have to live with these quirks.

[2020-04-13 14:03] robertoferreirajrr commented on #5789
I have implemented a fix in function _jqpToImage, works for me:

![chart17cm (39)](https://user-images.githubusercontent.com/264819/79126490-686fed00-7d76-11ea-88ef-edcc5bfa106c.png)

[code]
Explanation:

position() of a div in a td, the position would be relative to the table. Since 3.3.0+, the position is relative to the td, so that all swatches have a position of 0/0 and lay over each other. I

[2020-04-14 07:42] nokiajavi opened #5790 "CSP: DefaultCommand Failing"
When I use in a commandButton in the oncomplete method, the javascript function handleModalRequest (xhr, status, args, 'dialogWidget') and I have CSP enabled, the variable args says it is undefined, I use that variable to get the value of the attribute validationFailed to know if the validations have failed not to close the dialog or any variable sent to it by ajax.

## 1) Environment
- PrimeFaces

[2020-04-14 07:46] tandraschko commented on #5790
can you check it @melloware ?

[2020-04-14 08:32] tomlux commented on #5704
I just saw that Primefaces8.0.1 is released without this fix.

Should I write a PullRequest to get it in the next release?

[2020-04-14 09:27] dmainardi commented on #4052
Now with 8.0 version previous patch works again.
To help further readers:

- Primefaces 6.1 - `field="theProperty"` (as [documented](https://primefaces.github.io/primefaces/8_0/#/components/datatable?id=lazy-loading))
- Primefaces 6.2 - `sortBy=#{theProperty} filterBy=#{theProperty}`
- Primefaces 7.0 - `field="theProperty" sortBy=#{theProperty} filterBy=#{theProperty}`
- Primefaces 8.0 - `sortBy=#

[2020-04-14 11:18] melloware commented on #4052
@Rapster don't you have fixes for this?

https://github.com/primefaces/primefaces/pull/5412

[2020-04-14 11:19] melloware commented on #5704
If you have a proper fix definitely please submit a PR.

[2020-04-14 11:21] melloware commented on #5789
Did you report this to PRO or do you want me to submit a PR with your proposed fix?

[2020-04-14 11:24] melloware commented on #5790
Yep let me check it.

[2020-04-14 11:32] melloware commented on #5790
Attached is a test project:
[pf-5790.zip](https://github.com/primefaces/primefaces/files/4474980/pf-5790.zip)

I can't reproduce the issue.  Run "mvn clean jetty:run-exploded" and then navigate to:
http://localhost:8080/primefaces-test/test.xhtml

@nokiajavi can you please try?

[2020-04-14 12:10] nokiajavi commented on #5790
I have downloaded the project @melloware  and started apache tomcat and if I reproduce the error

Attach gif: https://gifyu.com/image/lvzv

maybe an error with apache tomcat?

[2020-04-14 12:14] melloware commented on #5790
not with tomcat... `mvn clean jetty:run-exploded`

[2020-04-14 12:15] melloware commented on #5790
Could be your Mojarra version?

[2020-04-14 12:19] nokiajavi commented on #5790
same error running with jetty. I have used the pom you have sent me. I see you don't have the specified mojarra version.

[2020-04-14 12:21] melloware commented on #5790
it works 100% fine for me with that version. It uses Mojarra 2.2.20 by default.

What browser are you using?

[2020-04-14 12:22] nokiajavi commented on #5790
Yes mojarra 2.2.20 in this proyect, but in my proyect I use mojarra 2.3.2 Google Chrome

Log tomcat:
INFORMACIÓN: Inicializando Mojarra 2.3.2 ( 20170627-2139 e63598abf2ed2bb1a24674f308a734e0dce18a72) para el contexto '/nice-looking-jsf-apps-with-prime-faces-7'
abr 14, 2020 2:22:11 PM com.sun.faces.spi.InjectionProviderFactory createInstance
INFORMACIÓN: JSF1048: hay presentes anotaciones PostConst

[2020-04-14 12:23] melloware commented on #5790
ok then run with `mvn clean jetty:run-exploded -Pmojarra23` and that runs with Mojarra 2.3.14

[2020-04-14 12:24] melloware commented on #5790
Looks like you have 2 PrimeFaces loaded 8.0 and 9.0-SNAPSHOT?  Are you having LIB issues?

[2020-04-14 12:24] nokiajavi commented on #5790
PF9 an PFE 8.0

[2020-04-14 12:25] melloware commented on #5790
OH that is OK.  OK try it with `mvn clean jetty:run-exploded -Pmojarra23`

[2020-04-14 12:26] nokiajavi commented on #5790
Tested with profile and same error

[2020-04-14 12:26] melloware commented on #5790
Works perfectly fine for me in Chrome.

[2020-04-14 12:31] nokiajavi commented on #5790
[PruebasPF9.zip](https://github.com/primefaces/primefaces/files/4475208/PruebasPF9.zip)
I attach my eclipse test project

[2020-04-14 12:35] nokiajavi commented on #5790
I use:

`<dependency>
		    <groupId>org.glassfish</groupId>
		    <artifactId>javax.faces</artifactId>
		    <version>2.3.2</version>
		</dependency>`

[2020-04-14 12:40] melloware commented on #5790
I just did the following:

1. Downloaded your project above.
2. Change Mojarra to 2.3.2 version you are using.
3. ran `mvn clean jetty:run-exploded -Pmojarra23`
4. Works perfectly fine in Chrome.

[2020-04-14 12:51] Rapster commented on #4052
Okay I had a quick look, basically it looks like everything is working as "expected". It's a topic that come back very often lately, but I wrote about it few months ago, see https://github.com/primefaces/primefaces/issues/5162#issuecomment-559824603

If there is anything you don't understand or I didn't understand from that issue, dont' hesitate to ask 😉

[2020-04-14 12:52] nokiajavi commented on #5790
If that is rare, do you know what the problem may be?

[2020-04-14 12:52] melloware commented on #5790
well until i can reproduce it I don't see an actual problem.  You have to be able to prove it witha reproducer.

[2020-04-14 12:54] nokiajavi commented on #5790
ok thanks, i will try to see the problem to see if i can reproduce it. Thank you very much

[2020-04-14 12:57] melloware commented on #4052
So can I close this ticket?

[2020-04-14 12:59] Rapster commented on #4052
I'd rather wait for feedbacks from the author if you don't mind

[2020-04-14 13:07] robertoferreirajrr commented on #5789
A PR with proposed fix would be great!
tks @melloware

[2020-04-14 13:23] nokiajavi commented on #5790
@melloware When you have performed the tests, to send the dialog form, you have pressed the enter key of the keyboard instead of the dialog button right? It's just that with the dialog button it works well it's just when you press intro It doesn't work

Thank you.

[2020-04-14 14:06] melloware commented on #5790
Ahh there it is.  Nope i was always pressing the button.

[2020-04-14 14:16] nokiajavi commented on #5790
ohh thank goodness you were able to reproduce it, I was ready to shoot myself with thousands of tests and version changes. Thank you very much.

[2020-04-14 14:40] melloware commented on #5790
OK I don't quite understand why but in forms.defaultcommand.js to execute the default command it is finding your button and clicking it.
[code]

However the jquery `click();` trigger is not behaving the same as me physically clicking the button.

[2020-04-14 14:55] melloware commented on #5790
And debugging the returned XHR object is:
[code]

[2020-04-14 14:55] nokiajavi commented on #5790
From the tests I have done, I can tell you that with CSP disabled in Primefaes 8 it works and with Primefaces 7 and CSP enabled as well.

[2020-04-14 14:57] melloware commented on #5790
Yep its definitely CSP related it is just not obvious why other that Jquery click is not being treated the same as a mouse click on the button.

primefaces 7 did not have CSP.  It is introduced in 8. So in 7 its the same as running 8 with CSP=false.

[2020-04-14 15:02] nokiajavi commented on #5790
Yes, Primefaces 7 not have CDP, sorry.
I don't know if it will be related to a bug that was corrected in Primefaces 7, I had to put this in my code:
[code]

Because if I did not put it when I selected from the browser's autocomplete the values, this would execute the action of the defaultCommand button

[2020-04-14 15:04] melloware commented on #5790
I don't think that has anything to do with it. That is this ticket: https://github.com/primefaces/primefaces/issues/3615

[2020-04-14 18:55] nokiajavi commented on #5790
Well, I don't know more things right now, I'm sorry. I hope you can solve it. Many thanks for your work

[2020-04-14 19:44] melloware commented on #5790
Might need @tandraschko help here on this one

[2020-04-14 19:57] melloware commented on #5789
Please review my PR.

[2020-04-14 20:24] melloware opened #5794 "Performance: Replace dot_clear.gif with Base64 URL"
See this article: http://png-pixel.com/

This will save an HTTP trip for dot_clear.gif and the browsers will still cache it properly and it will be part of the CSS load and minification.

I kept noticing every page i hit with datatables or spacers was loading dot_clear.gif and found many articles like the one above saying to base64 encode it.

I tested it thoroughly and it working great. PR Coming

[2020-04-14 20:40] robertoferreirajrr commented on #5789
All right to me! Awesome! =) tks @melloware.
Best regards!

[2020-04-14 22:40] wagneresa opened #5796 "Datatable: When disabled, remove checked items"
## 1) Environment
- PrimeFaces version: 7 and 8
- Application server + version: Wildlfy 14 or greather
- Affected browsers: All

## 2) Expected behavior
Come marked and disabled the datatable lines

## 3) Actual behavior
All lines are disabled and unchecked
..

## 4) Steps to reproduce
fill the selection property with some items
..

## 5) Sample XHTML
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTY

[2020-04-15 08:29] Rapster commented on #5796
Indeed, disabled items are removed from the selection, see issue https://github.com/primefaces/primefaces/issues/3917

[2020-04-15 08:29] #5796 closed, assigned to nobody

[2020-04-15 08:35] dmainardi commented on #4052
Hello,
thanks for be interested to this old issue.
I understood what @Rapster did, and I am ok with that.
I agree with [this](https://github.com/primefaces/primefaces/issues/5162#issuecomment-562484559) and I hope in version 9.0 we will be able to code like we used to do in 6.1 (`field="theProperty"` and nothing else).
I updated test project and I close the issue.

[2020-04-15 08:35] #4052 closed, assigned to nobody

[2020-04-15 12:09] MatthiasScherrerFGCZ commented on #5697
@melloware Is there any update on this issue from your side? I see on the vis.js side, there are no updates.

[2020-04-15 12:14] melloware commented on #5697
This is a vis-timeline.js issue and I created that ticket there but they seem to be ignoring it so far. There is nothing for PF to fix here its got to be fixed in vis-timelines as you see my JSFiddle example above whick takes PF out of the equation.

[2020-04-15 12:15] nokiajavi commented on #5790
@melloware For the help, I noticed that when the enter key is pressed, it looks like it's running a non ajax request, instead of ajax causing the page to be reload and the dialog obviously closes.

[2020-04-15 14:20] melloware commented on #5790
Good observation it is like the jq.click() is somehow not doing an AJAX call its just submitting the button.

[2020-04-15 14:47] MatthiasScherrerFGCZ commented on #5697
@melloware Thanks for the clarification. I hope vis.js will address this issue in the near future.

[2020-04-15 16:56] melloware commented on #5790
Can you do me a favor?  Add the following code to a JS file that you load after PF.

[code]

[2020-04-15 19:44] nokiajavi commented on #5790
Okay without problems, Tomorrow as soon as I get to work I try it and tell you if it works. Thanks a lot

[2020-04-16 06:08] nokiajavi commented on #5790
it works perfectly! what cracks! Thank you very much for everything.

[2020-04-16 06:24] nokiajavi opened #5798 "[Documentation] GridCSS and FlexGrid not show in components list"
## 1) Environment
- PrimeFaces version: 8.0
- Does it work on the newest released PrimeFaces version? Version? N/A
- Does it work on the newest sources in GitHub? N/A
- Application server + version: N/A
- Affected browsers: N/A

## 2) Expected behavior
The GridCSS and FlexGrid components should appear in the list of components, and also when searching

## 3) Actual behavior
Grid CSS and FlexGrid c

[2020-04-16 11:47] melloware commented on #5790
Thanks for testing.  I explained the issue and what was happening in the PR: https://github.com/primefaces/primefaces/pull/5797

If you are curious.

[2020-04-16 11:48] melloware commented on #5798
You are right.  I will look at addressing this.

[2020-04-16 11:50] melloware commented on #5798
There is this page: https://primefaces.github.io/primefaces/8_0/#/core/responsive

But it doesn't look complete and should have headlines for Grid CSS and PrimeFlex show it shows up in Search.

[2020-04-16 12:00] melloware commented on #5798
Grid CSS has its own page I can find under search too: https://primefaces.github.io/primefaces/8_0/#/components/gridcss?id=grid-css

[2020-04-16 12:01] HISeG-ME opened #5799 "SelectOneMenu: Screenreader Talkback (Android) resets selected value"
## 1) Environment
- PrimeFaces version: 6.2.1
- Does it work on the newest released PrimeFaces version? Version? not reproducable
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Tomcat 9
- Affected browsers: Android Screenreader Talkback & Chrome

## 2) Expected behavior
If a Sel

[2020-04-16 12:02] nokiajavi commented on #5798
Yes! Thanks you.

[2020-04-16 12:02] #5798 closed, assigned to melloware

[2020-04-16 12:03] tandraschko commented on #5799
So you say it's working fine on PrimeFaces8?

[2020-04-16 12:15] HISeG-ME commented on #5799
Actually I can´t reproduce this, since we´re working with 6.2
If the Showcase Example of SelectOneMenu has a blank first entry, I can verify this.

[2020-04-16 12:15] #5794 closed, assigned to melloware

[2020-04-16 12:25] melloware commented on #5799
@HISeG-ME Attached is a small reproducer.
[pf-5799.zip](https://github.com/primefaces/primefaces/files/4486990/pf-5799.zip)

Run `mvn clean jetty:run-exploded` and navigate to http://localhost:8080/primefaces-test/test.xhtml

It is using PF8 Advanced Theme example and I put a blank first line item.

[2020-04-16 12:29] #5704 closed, assigned to tomlux

[2020-04-16 12:35] tandraschko commented on #5799
JFYI: the problem is that 6.2 isnt maintained anymore. So if it works fine on 8.0, we would just close it

[2020-04-16 12:55] jopen-ux opened #5801 "PF8 bug, regression or incomplete migration guide"
Migrating from PF7 to PF8 we notice a very important (blocking) issue on plenty of our  pages.
When opening on many of them (not all, some are still working fine)  a dialog or a confirm Dialog , all the page including the modal dialog) are now UI blocked, leading to a non usable UI of course.

This seems to appear where dialog is inside tabView or accordionPanel

[2020-04-16 12:59] tandraschko commented on #5801
Please provide a example as mentioned in the issue Template
Otherwise we cant help

[2020-04-16 13:06] melloware commented on #5801
This is your issue I bet: https://github.com/primefaces/primefaces/issues/5675

Read the whole ticket.

[2020-04-16 13:07] melloware commented on #5801
duplicate of https://github.com/primefaces/primefaces/issues/5675

[2020-04-16 13:08] #5801 closed, assigned to nobody

[2020-04-16 13:32] jopen-ux commented on #5801
ok. I was ready to upload a very simple example code extracted from our app. Can still do it if needed

[2020-04-16 13:34] melloware commented on #5801
Nope just read that ticket for existing examples, a better way to do what you are doing or a simple solution of `@(body)`  but my solution at the bottom of the ticket to me is the "correct" way of doing it.

[2020-04-16 13:40] jopen-ux commented on #5675
The simple solution in  example is ok for a simple demo, but is not realistic as  moving the dialog outside the tabview or accordion changes all the update strategy when you have dynamics tabs/ accordions and sophisticated UI. When do you think this regression can be fixed ? as we need to revert back to PF7.0 for the moment

[2020-04-16 13:43] tandraschko commented on #5675
I think the best would be if someone could sponsor a fix via PrimeFaces PRO.

[2020-04-16 13:52] jopen-ux commented on #5675
ON my side it will be too late to wait, a too huge work to change all of our pages (more than hundreds with douzens very sophisticated) and .. customer in prod !!

[2020-04-16 14:03] melloware commented on #5675
You don't have to just add `appendTo="@(body)"` to your dialogs.

[2020-04-16 14:04] tandraschko commented on #5675
In this case it would even better to get the fix into a 8.0.2 :)

[2020-04-16 14:05] melloware commented on #5675
Agreed but for now the ticket is open with no solution.

[2020-04-16 14:05] tandraschko commented on #5675
@melloware maybe but its only a workaround and you have to adjust all pages

[2020-04-16 14:10] melloware commented on #5675
@tandraschko i agree. But the only change between 7 and 8 I can see is this one.

https://github.com/primefaces/primefaces/issues/5520

I reverted that and it had no effect.  So its something deeper.

[2020-04-16 14:38] jopen-ux commented on #5675
If this may help another side effect (that could be reletad ?) is  : a (non modal) dialog inside a tab in PF7 : was correctly displayed even if it's height is greater than the tab height, but is truncated to the tab height in PF8...
hope may help

[2020-04-16 17:09] #5787 closed, assigned to blutorange

[2020-04-16 17:34] firsthour commented on #5675
This is a showstopper for us moving to 8.0. We have multiple mature applications that we are in the process of migrating from 6.2.10 to 8.0 because we're required to upgrade to jquery 3.4.1 due to security. It looks like we can use 7.0.13 to achieve this but we'll be stuck on 7.x until this is solved.

[2020-04-16 17:55] aarner42 commented on #5675
In our application we've discovered the dialogs in this situation aren't truly blocked.  While they are obscured/back-grounded and don't accept clicks,  they do have focus when they appear, and **will accept keyboard input.  One can press escape to close it, or tab through the buttons and use the spacebar to _press_ them.**  Any actionListeners, onClose, or other server-side or client-side callbac