[2019-03-26 12:00] tandraschko commented on #4695
works fine for me - testet with showcase and 7.0.
If you can provide a forked primefaces-test project to replicate the issue, i can have a look at it again.

[2019-03-26 12:03] melloware commented on #4695
Make sure you don't have two versions of Primefaces classloaded as well.

[2019-03-26 12:26] eversnarf commented on #3866
Sorry for late reply. The fix correctly filters the children now. Thanks for that.
However the problem is only half-fixed in my case as the parent node is not expanded:

This problem is still there. Should I open a separate issue for it?

[2019-03-26 13:52] melloware commented on #4682
@wlhUser If you want to test it out just pull down the 7.1-SNAPSHOT.

[code]

[2019-03-26 15:10] mauromol opened #4696 "SelectCheckboxMenu: Add ability to provide custom rendering of items in the dropdown menu"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: Tomcat 8

## 2) Expected behavior
`selectOneMenu` supports the ability to provide custom rendering of the items in the dropdown list, see "Advanced" example at: https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml
I would expect / it would be nice to have the same ability with `selectCheckboxMenu`.

## 3) Actual beha

[2019-03-26 15:14] tandraschko commented on #4696
Feel free to sponsor it or provide a PR :)

[2019-03-26 17:47] ravikrsk commented on #4695
The issue is with our local "jquery.contextMenu.js" not in sync with the latest Primefaces JQuery version.  Primefaces SelectOneMenu works fine after I commented out "jquery.contextMenu.js"

Appreciate your time, on this.

[2019-03-26 17:52] melloware commented on #4695
@ravikrsk no problem. Feel free to close the ticket.

[2019-03-26 18:00] ravikrsk commented on #4695
closing the issue.

[2019-03-26 18:00] #4695 closed, assigned to nobody

[2019-03-26 18:09] melloware commented on #4660
I dug more into this.  Every time you arrow up or arrow down it calls highlightNext or HighlightPrevious. In that code it calls this ine.

https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/forms/forms.selectonemenu.js#L594

and that changeAriaValue method looks like its doing the right thing when I watch the DOM.

[code]

[2019-03-27 06:54] OBreidenbach opened #4697 "Button: Missplaced active frame with Firefox"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? no, 7.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Does not matter
- Affected browsers: Firefox

## 2) Expected behavior
Frame around clicked buttons which only

[2019-03-27 12:04] melloware commented on #4697
Can you tell if this is Theme related or actually button related?

[2019-03-27 12:04] melloware commented on #4687
@kaushikmeduri Any update on using the PF FieldSet to accomplish your needs?

[2019-03-27 12:27] jepsar commented on #4697
It's caused by this property:

https://github.com/primefaces/primefaces/blob/c28c0bccc615bffb99c30825c8c7d8084c3a72da/src/main/resources/META-INF/resources/primefaces/forms/forms.css#L376

Is someone already working on a PR?

[2019-03-27 13:07] mertsincan commented on #4697
Hi,

Could you please try the following css for this issue?

[code]

[2019-03-27 13:20] kaushikmeduri commented on #4687
pf field set works some sample code .
However my root issue is  i am generating  <h:selectOneRadio dynamically and result is  title not being generated.
I would like <h:selectOneRadio title also to be generated ...Please advise if you think i need to create a seperate ticket for this.  I am unable to give <h:selectOneRadio id dynamically since it wont support EL syntax .

Also when generating dyna

[2019-03-27 13:25] melloware commented on #4687
I don't think this is actually a Primefaces issue.  I think PF is currently generating all the proper ARIA standards for this unless you can point to a spec where we are not?

This sounds like a custom use case you have and I would recommend closing this ticket.

[2019-03-27 15:55] jepsar commented on #4697
@mertsincan looks like less of a hack to me. First test with Firefox is promising. I'll test with Chrome and Safari in a few hours.

[2019-03-27 20:44] jsabev opened #4699 "p:link href attribute value not relative to conext root in primefaces 7"
## 1) Environment
- PrimeFaces version: 7.0
- Does not work with latest snapshot version.
- Affected browsers: ALL

## 2) Expected behavior

<p:link> components with href attributes result in absolute server root rather than being relative to the application context as was the case in previous prime faces releases.

<p:link href="/logout" /> should render a link <applicationcontext>/logout. This h

[2019-03-27 20:47] melloware commented on #4699
This was done on purpose.  See the migration guide: https://github.com/primefaces/primefaces/wiki/Migration-Guide

Fixed because of this issue: https://github.com/primefaces/primefaces/issues/3506

[2019-03-27 20:54] tandraschko commented on #4699
Yup. Use Outcome or append it by request.contextPath

[2019-03-27 20:54] #4699 closed, assigned to nobody

[2019-03-27 20:54] jsabev commented on #4699
Thanks. Somehow I missed that. Closing issue.

[2019-03-28 06:41] ozziej opened #4700 "Simple fileUpload does not fire commandButton action method"
fileUpload: Simple Upload does not fire command button action.

## 1) Environment
- PrimeFaces version: 7
- Wildfly 13
- Chrome Version 73.0.3683.86 and Safari 12.1

## 2) Expected behavior
Should hit method specified by p:commandButton action=""
...

## 3) Actual behavior
Does not fire method.
..

## 4) Steps to reproduce
Create a simple xhtml file with <p:fileUpload mode="simple" and value="#{be

[2019-03-28 09:48] tandraschko commented on #4700
Please provide a full tested sample xhtml

[2019-03-28 09:48] #4697 closed, assigned to mertsincan

[2019-03-28 10:08] ozziej commented on #4700
On writing a fresh project with no other code except backing bean and xhtml it does appear to work.

I'll need to investigate further and see if its something project related.

[2019-03-28 10:08] #4700 closed, assigned to nobody

[2019-03-28 12:37] mertsincan opened #4701 "DatePicker is not opening with only yearNavigation attribute"
It throws an exception.  Users use yearRange attribute on 6.2.18 and 7.0.

On 7.2.19+, 7.0.x and 7.1, the default value of yearRange is displayed_date - 10 : displayed_date + 10.

[2019-03-28 12:38] #4701 closed, assigned to mertsincan

[2019-03-28 13:38] wlhUser commented on #4682
Have tested with master-SNAPSHOT from 2018-03-28.
For me the component works now as expected.

Thank you.

[2019-03-28 13:38] melloware commented on #4682
Thanks for testing!

[2019-03-28 17:36] koan00 opened #4702 "pickList: Call to String.prototype.startsWith ES6 JS which causes errors on IE11"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 7
- Affected browsers: Internet Explorer 11 (IE11)

## 2) Expected behavior

No errors in Javascript console

## 3) Actual behavior

Many errors in javascript console:
SCRIPT438: Object doesn't support pro

[2019-03-29 06:29] mertsincan opened #4704 "DatePicker showOnFocus isn't working"
Reported By PRO User;

[code]

[2019-03-29 06:30] #4704 closed, assigned to mertsincan

[2019-03-29 07:29] Selaron opened #4705 "p:layout: toggle behaviour event not supported although documentation says it does."
## 1) Environment
- PrimeFaces version:

- Does it work on the newest released PrimeFaces version?

- Does it work on the newest sources in GitHub?

## 2) Expected behavior

Until removal p:layout should allow to handle the ajax toggle event.

## 3) Actual behavior

An exceptions is thrown:

[code]

## 4) Steps to reproduce

Add a <p:ajax event="toggle"/> to a p:layout and invoke the view.

## 5)

[2019-03-29 08:08] mertsincan opened #4706 "Add groupRow support to FrozenColumns DataTable"

[2019-03-29 08:10] #4706 closed, assigned to mertsincan

[2019-03-29 08:13] mertsincan opened #4707 "The data-ri property is not displayed on TR elements when new data is loaded using liveScoll on DataTable"

[2019-03-29 08:14] #4707 closed, assigned to mertsincan

[2019-03-29 09:51] #4705 closed, assigned to nobody

[2019-03-29 09:51] #4702 closed, assigned to nobody

[2019-03-29 11:45] mertsincan commented on #4705
Hi @Selaron,
I added it to 7.0.1 elite version. But, we'll remove p:layout and p:layoutUnit components on 7.1. Please see doc; https://github.com/primefaces/primefaces/blob/master/docs/7_0/components/layout.md

[2019-03-29 13:52] melloware commented on #4217
Attaching this sample here to prove everything is working.
[pf-grid.zip](https://github.com/primefaces/primefaces/files/3022912/pf-grid.zip)

[2019-03-29 14:09] NicolaIsotta opened #4708 "PanelGrid: borders in header and footer are not visible with luna and nova themes"
## 1) Environment
- PrimeFaces version: 7.0
- Application server + version: ALL
- Affected browsers: ALL

## 2) Expected behavior
Visible borders

## 3) Actual behavior
Not visible borders.

## 4) Steps to reproduce
Go to https://www.primefaces.org/showcase/ui/panel/panelGrid.xhtml
, choose nova-dark, nova-colored or one of the luna themes and look at the grouping section.

[2019-03-29 14:18] tandraschko commented on #4708
@mertsincan can you check that? nova scss is not public

[2019-03-30 14:06] NicolaIsotta opened #4709 "Nova and Luna themes: FontAwesome icons are wrongly sized."
## 1) Environment
- PrimeFaces version: 7.0
- Application server + version: ALL
- Affected browsers: ALL

## 2) Expected behavior
PrimeIcons and FontAwesome icons have similar sizes.

## 3) Actual behavior
![Cattura](https://user-images.githubusercontent.com/18428155/55277076-3838e600-52fc-11e9-92d6-0a6a88531717.JPG)

## 4) Steps to reproduce
Enable FontAwesome in web.xml or add it with css.

## 5

[2019-04-01 07:25] mertsincan opened #4710 "The styleClass value is not set to Global Tooltip element"

[2019-04-01 07:25] #4710 closed, assigned to mertsincan

[2019-04-01 12:07] j-be opened #4711 "DataTable: selecting text values in tablecell shows weird behavior when using tablewide row selection"
## 1) Environment
- PrimeFaces version: PrimeFaces-7.0.RC3 on Mojarra-2.3.2 (is reproducible in the "Showcase" on the official page at the time of writing - see https://primefaces.org/showcase/ui/data/datatable/selection.xhtml)
- Does it work on the newest released PrimeFaces version? As stated above, reproducible in the showcase
- Does it work on the newest sources in GitHub? Not tested, I presum

[2019-04-01 12:09] brivalin opened #4712 "SelectCheckboxMenu: SelectItem with null value checked by default"
## 1) Environment
- PrimeFaces version: 6.2.0
- Does it work on the newest released PrimeFaces version? Version? Not working in 7.0
- Does it work on the newest sources in GitHub? Not working
- Application server + version: Wildfly 10.1.0.Final
- Affected browsers: All

## 2) Expected behavior

Items with null values don't have to be checked by default.

## 3) Actual behavior

Items with null valu

[2019-04-01 12:34] melloware commented on #4712
I think this may be done on purpose and is generic for all "select" type components.  This same code is called by all the Select components and i believe it says if your value is null and the selectItem option is NULL then the answer is "true" its selected.

https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/renderkit/SelectRenderer.java#L244-L246

So its selecting t

[2019-04-01 12:43] melloware commented on #4711
I see what you are saying.   When you release the "mouse up" its using JQuery to style that row selected and removing the highighted text you have selected.

[2019-04-01 13:33] brivalin commented on #4712
Thanks for your quick reply @melloware.

I have made some tests on SelectManyMenu and SelectCheckboxMenu, and you are right, they have the same behavior with my sample.
But I also tried to use a list instead of an array by replacing String[] by List<String> and I have seen that the behavior is different. In case of list, checkboxes are not selected if selectItem value is null.

I think the best wa

[2019-04-01 13:37] j-be commented on #4711
Yes, pretty much.

But this does not happen if you move the mouse cursor out of the cell (e.g. select the "Year" value, but move the mouse into the neighboring "ID" column while doing so), the row is not highlighted (and it seems neither put in the selected `List` in the backing bean), but the text is selected.

[2019-04-01 15:22] melloware commented on #4712
Agreed the behavior should be the same for both.

[2019-04-01 18:40] christophstocker commented on #3868
@tandraschko
@wsaca

The problem still persist for IE11 and Edge.

- Go to: [Showcase schedule](https://www.primefaces.org/showcase/ui/data/schedule.xhtml)
- Scroll down a litte bit
- Open a day in "**Editable Schedule**"
- Click in the input for "**From**" or "**To**"
- The calendar popup is at the wrong position (only for IE11 and Edge)

[2019-04-01 20:00] melloware commented on #4709
It looks like I see this style in the nova and luna themes.

[code]

Can you see if setting FontAwesome to the same size in a local style sheet works?  That way we can at least recommend a fix.

[code]

[2019-04-01 20:22] melloware commented on #4712
@brivalin I can't reproduce.  Attached is my test case:
[pf-4712.zip](https://github.com/primefaces/primefaces/files/3031198/pf-4712.zip)

Can you run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml.

I am seeing String[] and List<String> show the same behavior.

[2019-04-01 20:37] mdzaebel opened #4713 "PF 7 User Guide not savable / offline readable"
The new documenation can also be referenced from outside, thats good. Hovever, formerly you could use it offline, but currently, we can't save it from web as the result can't be searched any more and some "undefined" occur in the navigation, at least if I save from Chrome. So, for me, it would be better to have a searchable offline PDF or repair link issues.

[2019-04-02 04:04] tomlux opened #4714 "datepicker not correctly rendered when using as datatable-filter"
PrimeFaces `7.0`
When using the  DatePicker as a filter-facet in a datatable, the popup/expand part of the datepicker is not correctly rendered:
![image](https://user-images.githubusercontent.com/992753/55375527-cdaac480-550c-11e9-846d-a4e74650e658.png)

[code]

[2019-04-02 05:55] mertsincan commented on #4714
Please use appendTo="@(body)" attribute on p:dataPicker.

[2019-04-02 05:55] #4714 closed, assigned to nobody

[2019-04-02 06:43] mertsincan opened #4715 "Tooltip issue with horizontal scroll"
Reported By PRO User;

This dialog has a button which has a big tooltip.

[2019-04-02 06:44] #4715 closed, assigned to mertsincan

[2019-04-02 07:49] brivalin commented on #4712
Perhaps I misunderstood something but if you init the list in your example with :
[code]
You will not have the same behavior.

[2019-04-02 11:40] melloware commented on #4712
If you initialize the array you get the same result.

[code]

The reason you are seeing that behavior is because in the current example it initializes the String array to `new String[0]`.

I am not sure why but it looks like it has been like this for years in the SelectManyRenderer.

https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/renderkit/SelectManyRenderer.java

[2019-04-02 11:49] tandraschko commented on #4712
no idea
can you compare with JSF impls or check the history?

[2019-04-02 11:51] melloware commented on #4712
According to the history it has been that way since OptimusPrime created the file on Dec 1, 2011.

https://github.com/primefaces/primefaces/commit/8ffa0c9eeb1a577d0e30917db2676266d07c0006#diff-7c884a51c67b9f8062f0f67ff02b0684

[2019-04-02 11:55] mertsincan opened #4716 "Orderlist is not scrolling on mobile"
Reported By PRO User;

We found a bug while browsing from mobile devices, both iOS iPad and Android tablet, for which we can’t scroll through the items list, even the scrollbar doesn’t appear, because the items are moved during touching and dragging operations (it seems that drag events win over all the other events).

https://www.primefaces.org/showcase/ui/data/orderList.xhtml

[2019-04-02 11:56] #4716 closed, assigned to mertsincan

[2019-04-02 13:21] NicolaIsotta commented on #4709
I've had some time to debug.
First thing I've noticed is that PrimeIcons are considerably smaller than FontAwesome icons, but I guess that's a design choiche.
To make them bigger, the themes change the font-size. The problem is that they do it two times:
https://github.com/primefaces/primefaces/blob/9b145fa0c4557fc33f72313cb1022588e31ff814/src/main/resources/META-INF/resources/primefaces-nova-colo

[2019-04-02 14:00] tomlux commented on #4714
👍

[2019-04-02 14:10] tandraschko commented on #4712
IMO if the "value" attribute, doesnt matter if array or collection, is empty - nothing should be selected per default

[2019-04-02 14:14] tandraschko commented on #4713
Feel free to work on it ;)
We won't the change the format again, so try to find a better way to convert it to a PDF.

[2019-04-02 14:31] melloware commented on #4712
In that case then I believe the problem is these lines.

https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/renderkit/SelectRenderer.java#L227-L229

If says if the value is NULL and the SelectItem is Null it marks it selected.

[2019-04-02 14:36] tandraschko commented on #4712
yep, i >feel< that its wrong for selectMany

[2019-04-02 15:10] melloware commented on #4712
Agreed I will submit a PR.

[2019-04-02 15:50] mstichweh commented on #2086
And how could you receive the SelectEvent with the dialog return value then? The remoteCommand just calls the listener without any parameter.

I have the same issue each time a commandButton which opens the dailog is within a dataTable. Would be very nice, if this bug can be fixed soon. Currently I could not find any solution to process a dialog return value if it was opened from within a dataTabl

[2019-04-02 19:32] melloware commented on #4709
@mertsincan I would submit a PR but I have a feeling this is something you have to edit in the SASS that we don't have access to.

[2019-04-02 22:06] mdzaebel commented on #4713
Might be better to gather requirements, before changing things in the coolest newest way.

[2019-04-03 05:21] fcorneli commented on #4713
Not needed anymore, welcome to the new world!
:)

[2019-04-03 06:40] OBreidenbach commented on #4672
Just figured out that the same happens with 'normal' inputText.

[2019-04-03 06:57] Darcody commented on #4672
We have the same problem. Chromes aggressive autofill on `<h:inputText>` triggers the defaultCommand on PF 7.0 with Chrome 73. It is not happening in incognito mode or other browsers we tested.

[2019-04-03 08:29] cljk commented on #2086
TBH I don´t remember. Possible that I didn´t need the return-value - just the action.

But a thinkable 2nd dirty hack could be using a session-scoped bean for that.
Or you try using the action-method with parameters.

[2019-04-03 08:50] mstichweh commented on #2086
Thanks for your answer!
I have done it now with an invisible commandButton outside the table which is "clicked" by jQuery from the button inside the table. Not nice, but it works.

[2019-04-03 09:07] cljk commented on #2086
OMG ... "nice" "solution" ;-)

[2019-04-03 11:24] mertsincan opened #4718 "VirtualScroll alignment issue with frozenColumn on DataTable"
Reported By PRO User;

An extra div is added to the frozen layout when number of rows in the backing model is less than the page size.

[2019-04-03 11:25] #4718 closed, assigned to mertsincan

[2019-04-03 12:15] mstichweh commented on #2086
After some further debugging I could find the real problem. It was the rendered attribute of the commandButton. If this results to false after closing the dialog, the listener of the dialogReturn event is not called, even if the commandButton is not updated.
Using css instead of the rendered attribute will work:

[code]

[2019-04-03 14:45] koan00 commented on #4486
While I agree the transition to Quill has been painful, the HTML from Quill is not useless outside Quill. You just need to include the Quill CSS rules. We do this to render the Quill HTML output as a PDF for our users and it does work. Just adding this info as another option for anyone who might read this.

[2019-04-03 15:39] ajsnyde commented on #1435
I can't select/deselect options on the SelectManyMenu through keyboard as shown on https://www.primefaces.org/showcase/ui/input/manymenu/basic.xhtml. I've tried using Chrome, Firefox, and IE. I'm using 6.2 locally for a project and I need it 508 compliant.

[2019-04-04 13:02] majkers commented on #2448
Seems like it is again not working with PrimeFaces 7.0 and Chrome 73.0.3683.86

[2019-04-05 11:16] melloware commented on #2448
Yep Chrome just changed. See:  https://github.com/primefaces/primefaces/issues/4672

[2019-04-05 11:17] melloware commented on #1941
@tandraschko This is a duplicate of #2448 and #4672 so it can be closed.

[2019-04-05 11:18] melloware commented on #4672
Looks like it was originally fixed in #2448 but Chrome 73 has reintroduced it.

[2019-04-05 11:33] #1941 closed, assigned to nobody

[2019-04-05 11:51] melloware commented on #3615
By removing this it has reintroduced the Chrome AutoFill issue:  https://github.com/primefaces/primefaces/issues/2448
https://github.com/primefaces/primefaces/issues/4672

In PF 7.0.  So removing that NUMPAD_ENTER broke the DefaultCommand again.

[2019-04-05 11:52] melloware commented on #4672
The code that used to make this work in 6.2 was removed because of this ticket: https://github.com/primefaces/primefaces/issues/3615   It seems like this is a country dependent solution?

To temporarily make this work again add this JavaScript somewhere on your page.

[code]

[2019-04-05 11:53] melloware commented on #2448
The code that used to make this work in 6.2 was removed because of this ticket: https://github.com/primefaces/primefaces/issues/3615   It seems like this is a country dependent solution?

To temporarily make this work again add this JavaScript somewhere on your page.

[code]

[2019-04-05 12:44] #4661 closed, assigned to nobody

[2019-04-05 12:45] #3488 closed, assigned to nobody

[2019-04-05 12:46] OBreidenbach opened #4719 "Calendar: if popup shows date and time it is placed in front of input field"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? No, 7.1
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Wildfly 10.1
- Affected browsers: Firefox, Chrome, ...

## 2) Expected behavior

Calendar popup open below or

[2019-04-05 12:47] Darcody commented on #4672
Thanks! That did the trick.

[2019-04-05 12:56] majkers commented on #2448
Not working....

[2019-04-05 12:58] melloware commented on #2448
You sure you included it correctly this user reported that fixed it for them:  https://github.com/primefaces/primefaces/issues/4672  Read that thread.

[2019-04-05 13:05] melloware commented on #4672
I think we need to get to the bottom of this for a proper fix for all countries as 108 is apparently not NUMPAD_ENTER for Brazilian keyboards.  But removing this code for 7.0 is clearly causing issues.

[2019-04-05 13:38] mdzaebel opened #4720 "[Documentation]: Docsify Search doesn't find attributes"
At least component and attribute names should be found by the new web search in the user guide, that is currently not savable any more. However, e.g. looking for **skipChildren** doesn't work, even if it occurs in 4 PF components. Attributes seem to be ignored? While markdown is certainly the right direction, at least essential usecases should be possible that were possible before.

[2019-04-05 15:36] fanste opened #4721 "Inplace: callBehavior misses options"
## 1) Environment
- PrimeFaces version: 7.0
- It works with: 6.2
- Application server + version: Wildfly 10.1
- Affected browsers: All

## 2) Expected behavior
`p:inplace` with embedded `p:ajax` switches back to view-mode when save or cancel button is pressed.

## 3) Actual behavior
It stays in edit-mode

This wrong behavior was introduce during refactor in c2fe208. It changed
[code]
to
[code]
and

[2019-04-05 15:41] fanste commented on #4721
PR #4722

[2019-04-05 16:48] NicolaIsotta opened #4723 "SelectOneMenu: flickers + unwanted horizontal scroll bar with Edge & IE"
## 1) Environment
- PrimeFaces version: 7.0
- Application server + version:
- Affected browsers: Edge 44 & IE 11 (Firefox too but without flicker)

## 2) Expected behavior
No flicker, no horizontal scroll bar.

## 3) Actual behavior
![bug](https://user-images.githubusercontent.com/18428155/55642662-63767600-57d1-11e9-933d-4027a7a6394f.gif)

## 4) Steps to reproduce
To reproduce the flicker, go to

[2019-04-06 11:50] jepsar commented on #4713
If you want to have an offline copy, you could use `wget` to download it.

[2019-04-06 21:14] mdzaebel opened #4724 "CellEditor: Dynamic columns cellEdit event"
The components _p:dataTable_ and _p:treeTable_ both have the following problem:
## 1) Environment
- All PF, browser and AppServer versions

## 2) Expected behavior
  * Event.old/new values should not be null
  * onCellEditInit should be called
  * Documentation of p:cellEditor should reference p:treeTable too
  * Documentation of p:treeTable should explain, why there are no cellEditInit and cellEd

[2019-04-07 11:18] mdzaebel commented on #4724
Workaround deleted.

[2019-04-07 11:35] #4721 closed, assigned to nobody

[2019-04-07 11:36] tandraschko commented on #4721
thanks for the PR!

@mertsincan can be merged to elite

[2019-04-07 11:39] #4505 closed, assigned to nobody

[2019-04-07 11:42] #4513 closed, assigned to nobody

[2019-04-07 11:45] #4516 closed, assigned to nobody

[2019-04-07 12:06] melloware commented on #4723
Lots of issue related to IE and Edge and this component:
https://github.com/primefaces/primefaces/issues/3863
https://github.com/primefaces/primefaces/issues/884

[2019-04-07 12:31] melloware commented on #4719
The calendar hit logic decides to draw it either up or down based on whether it would fall off the screen.  In your case above it looks like it can't safely draw it above or below the text box so it must be doing some other logic to try and make it fit on screen.

[2019-04-07 12:31] melloware commented on #4687
@tandraschko I think this issue is safe to close as its a non-issue.

[2019-04-07 12:49] NicolaIsotta commented on #4723
I tried to debug, but I'm not really a js expert, so far I've not found the cause.
Meanwhile I've found out Firefox is affected too (even though without the flicker).

[2019-04-07 13:00] #4687 closed, assigned to nobody

[2019-04-08 07:10] OBreidenbach commented on #4719
Even if there is enough space above the input field the popup is placed in front of the input. I have the impression that the time part of the popup is not taken into account.
![popupInFrontOfInput](https://user-images.githubusercontent.com/11403755/55704984-ef5ced80-59dd-11e9-82fa-607cbc7f7bf3.jpg)

After resizing the browser window the popup jumps to the right place.
![popupAfterResizing](https:

[2019-04-08 07:30] #2276 closed, assigned to nobody

[2019-04-08 08:35] tandraschko commented on #4712
could you please check my commit @melloware?
I fixes this problem and is a small perf improvement as it avoids new arrays.

[2019-04-08 08:35] #4712 closed, assigned to nobody

[2019-04-08 09:10] tandraschko commented on #4724
a deeper analysis / PR would be great. Not sure if its related to PF only.

[2019-04-08 09:11] #4656 closed, assigned to nobody

[2019-04-08 11:03] #4395 closed, assigned to nobody

[2019-04-08 11:16] melloware commented on #4712
Looks good to me and appears to fix the issue.

[2019-04-08 11:47] Eehol opened #4725 "Datatable: empty `TH` tags should be `TD`"
Hello,

For accessibility purpose (WCAG2.1 rule 1.3.1), the HTML tables should have a not empty `th` tags to make the column headers visible for screen reader.

PrimeFaces generates nicely the `th` but there is an exception. If a column contains only technical stuff (s.t. icons), its headerText could be empty. In that case, the following code is generated by `<p:column>` with PrimeFaces 7.0 :
[cod

[2019-04-08 11:48] tandraschko commented on #4725
Please provide a small reproducer

[2019-04-08 12:18] Eehol commented on #4725
For this sample :
[code]
[code]
PrimeFaces generates this HTML :
[code]

But the second `<th>` is empty because it's a column filled with action buttons, so it should be a `<td>` to avoid a screen reader confusion :
[code]

[2019-04-08 12:37] tandraschko commented on #4646
If someone would like to provide a PR, it would be great!

[2019-04-08 13:31] #4483 closed, assigned to tandraschko

[2019-04-08 13:31] tandraschko commented on #4483
Fixed ;)

[2019-04-08 13:36] ghost opened #4726 "Diagram:Canvas Size on Editable Diagram"
I'm using the diagram component to generate a diagram dynamically based on
[https://www.primefaces.org/showcase/ui/data/diagram/editable.xhtml](https://www.primefaces.org/showcase/ui/data/diagram/editable.xhtml)

It lays out elements down the x axis that extend pas the viewable canvas.  When you scroll and try to move one of the objects it moves it back within the border of the canvas that is not

[2019-04-09 07:13] Eehol opened #4727 "Dialog: improve accessibility when showHeader=false"
## 1) Environment
- PrimeFaces version: 7.0
- Affected browsers: all

## 2) Expected behavior

The attribute `aria-labelledby` of p:dialog is hidden when there is no header. (`showHeader="false"`)

## 3) Actual behavior

An `aria-labelledby` is present and it references a not existing ID, which is forbidden. It should be generated only when showHeader is true.

## 4) Steps to reproduce

Add a p:di

[2019-04-09 17:12] melloware commented on #4725
Just checking are you sure its valid to have TD inside THEAD?

[2019-04-09 17:51] melloware commented on #4725
Instead of changing to TD would just removing role="columnheader" scope="col" from the TH for these columns achieve the same thing?

[2019-04-10 07:33] OBreidenbach commented on #4719
I did some debugging and found the following.
The position is calculated in
https://github.com/primefaces/primefaces/blob/d55ad99cba86d29aa2c4a18b809f56479f59853a/src/main/resources/META-INF/resources/primefaces/jquery/jquery.ui.js#L7521
before the time part is added to popup in
https://github.com/primefaces/primefaces/blob/d55ad99cba86d29aa2c4a18b809f56479f59853a/src/main/resources/META-INF/resou

[2019-04-10 08:18] Eehol commented on #4725
I've tried on the [W3CValidator](https://validator.w3.org/#validate_by_input) and it's valid (with the content of the attached file test.txt).

We made a POC with an empty `th` without those attributes and it remains non compliant :-/
[test.txt](https://github.com/primefaces/primefaces/files/3062721/test.txt)

[2019-04-10 11:26] melloware commented on #4719
I would submit this as a patch and add the info to \src\main\resources\META-INF\resources\primefaces\jquery\extensions.txt you will see we have commented other specific fixes in there.

[2019-04-10 11:27] melloware commented on #4719
Actually i will submit a PR if you don't mind?

[2019-04-10 11:55] melloware commented on #4719
OK can you review my PR.  We already had $.datepicker._updateDatepicker overridden in jquery.pfextensions.js file so I just tweaked it with your change.

[2019-04-10 11:56] melloware commented on #4725
OK thanks for researching.

[2019-04-10 12:20] OBreidenbach commented on #4719
What can I say. It is my solution and it solves the problem.
But for me it looks some how clumsy to have to call the _addTimePicker method twice. So I thought you guys know a better solution.

[2019-04-10 12:29] melloware commented on #4719
Well I know why the solution works, but don't really know of any better options without hacking the internals of the component.

[2019-04-10 12:34] OBreidenbach commented on #4719
Then so be it.

[2019-04-10 17:02] ravihariharan opened #4730 "Documentation Dependencies for p:textEditor"
XSS in p:textEditor #3214

[code]

[2019-04-10 17:08] arunvc commented on #59
ColumnGroup footer is a very common use case in excel

[2019-04-10 19:23] tandraschko commented on #4730
please just provide a PR for docs instead issues :P

[2019-04-10 21:28] mdzaebel commented on #4724
My deeper analysis revealed, that even the workaround above does not work. Additionally, I recognized, that the problem does not occur, when I don't use **p:columns** (e.g. in a p:dataTable). So currently, p:columns could not be edited (and you don't have a testcases for it), but I have quite a lot of similar logic in each column, so I urgently need the ability to use <p:ajax event="cellEdit" ...>

[2019-04-11 08:47] GedMarc commented on #2062
@melloware

[code]
L:352
The recalc is sending it off on collision detection.

[2019-04-11 08:59] tandraschko commented on #4724
No plans from my side, i even never used p:columns :D

As always, you have 3 ways:
1) fix it by yourself and provide a PR
2) wait until someones fixes it
3) use PrimeFaces PRO

[2019-04-11 11:28] melloware commented on #2062
@GedMarc I tested it locally with my test case above and collision:none has no effect on this.  The bug still remains.

[2019-04-11 11:34] GedMarc commented on #2062
@melloware  Let me see if I can spot the difference between what I've got and the demo site :)

[2019-04-11 11:42] melloware commented on #2062
If you donwload this:  https://github.com/primefaces/primefaces/files/2720865/pf-2062.zip

You can just run "mvn clean jetty:run-epxloded" and navigate to http://localhost:8080/primefaces-test/test.xhtml to see it in action.  You may have to flip the pom.xml from 6.3-SNAPSHOT to 7.0.

[2019-04-11 11:55] GedMarc commented on #2062
@melloware  Ahh I did put in some customs

I dodged it up, the refresh() method is broked, but this works fine with minimal performance hit, until jquery is pulled out completely ;) xD

[code]

![image](https://user-images.githubusercontent.com/5367513/55955007-8933cd00-5c60-11e9-8293-1d6ea55f7447.png)

[2019-04-11 12:06] melloware commented on #2062
Does that continually call Show() as the page is scrolled?

[2019-04-11 12:09] GedMarc commented on #2062
From what I can see, it's exactly what the refresh() does, but that method is breaking on ```this.cfg``` so it's not scrolling with it.

It does call it continually, but the method never recreates the DOM, it just repositions the left right top and bottom overlays, hence why I say "minimal performance hit".

JQuery 3 would be $(window).on('scroll',function(){};

On the PF showcase, this would be p

[2019-04-11 12:18] melloware commented on #2062
I think we need to fix this in the core dialog.  Here is the refresh method I don't see it doing anything about reclaculating position or window scroll?

https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/dialog/dialog.js#L63-L81

[2019-04-11 12:22] GedMarc commented on #2062
I went this route to finalize my impl without screwing on the show()
[code]

ref here (dialog doesn't take part here) :
https://github.com/primefaces/primefaces/blob/d55ad99cba86d29aa2c4a18b809f56479f59853a/src/main/resources/META-INF/resources/primefaces/spotlight/spotlight.js#L81

ACTUALLY --
in that spotlight you can just change the event name looking at that!
from resize.spotlight to on scroll

[2019-04-11 12:22] GedMarc commented on #2062
oh wait did I put this on the wrong issue again

[2019-04-11 12:25] GedMarc commented on #2062
EDIT : append to resize.spotlight event, removing the event breaks, well, the resizing.

Dialog fix : same shit different smell ,
https://github.com/primefaces/primefaces/blob/d55ad99cba86d29aa2c4a18b809f56479f59853a/src/main/resources/META-INF/resources/primefaces/dialog/dialog.js#L58

needs an on scroll then it works great.

[2019-04-11 12:26] OBreidenbach commented on #4719
Just noticed that clicking a day in the popup let jump it in front of the input again.

[2019-04-11 12:27] melloware commented on #2062
So here is what bindResizeLisneter does.  All of the PrimeFaces overlays call PrimeFaces.utils.registerResizeHandler().

https://github.com/primefaces/primefaces/blob/d55ad99cba86d29aa2c4a18b809f56479f59853a/src/main/resources/META-INF/resources/primefaces/dialog/dialog.js#L571-L588

[2019-04-11 12:34] melloware commented on #2062
I think we are mixing issues between Spotlight and Dialog.

[2019-04-11 12:45] GedMarc commented on #2062
Yeah I think so, the spotlight issue is closed and links to this one (so I posted it here) (https://github.com/primefaces/primefaces/issues/4348)

But it is the same problem, scrolling is not considering that the resize event has to take place (which it does).
So for me, I would say, in addition to adding the registerResize, for dialog and spotlight, I would add that the resize event must fire on

[2019-04-11 12:46] melloware commented on #2062
ok can you send me the exact line to patch for spotlight and dialog and I can test it locally?

[2019-04-11 12:59] GedMarc commented on #2062
Spotlight (Add don't replace) :

https://github.com/primefaces/primefaces/blob/d55ad99cba86d29aa2c4a18b809f56479f59853a/src/main/resources/META-INF/resources/primefaces/spotlight/spotlight.js#L81
[code]
https://github.com/primefaces/primefaces/blob/d55ad99cba86d29aa2c4a18b809f56479f59853a/src/main/resources/META-INF/resources/primefaces/spotlight/spotlight.js#L91
[code]

[2019-04-11 13:10] GedMarc commented on #2062
dialog getting lagging scrolling --- give me 10 mins to see

[2019-04-11 13:18] melloware commented on #2062
Can you review my spotlight PR?  I think I simplified it.  https://github.com/primefaces/primefaces/pull/4731

[2019-04-11 19:31] melloware commented on #3139
I just ran into this myself.  I think we need an unbindEvents() method on the datatable widget and then in the refresh() method we should call unbindEvents() before the call to super to it call off() on all the events before reregistering new ones.

I was debugging some code and wondering why I sorted a column and it sent 4 ajax requests for 1 sort.  It was because of this issue.  I will see what

[2019-04-12 06:51] OBreidenbach commented on #4719
Maybe #4732 is a nicer solution. For sure it also fixes the positioning on doing selections in the popup.

[2019-04-12 10:02] valentinlourteau commented on #162
@JHookDev A bit late, but if ever someones ends up here :
Primefaces has removed propagateDown from API, you may replace it by the function getDescendants :

PrimeFaces.widget.TreeTable.prototype.getDescendants = function(node) {
    emptyNodes= [];
    return emptyNodes;
}

[2019-04-12 11:17] mertsincan opened #4733 "Calendar does not display the default time properly"
Test code;
[code]

[2019-04-12 11:19] #4733 closed, assigned to mertsincan

[2019-04-12 11:23] melloware commented on #979
To me this feature was requested in 2015 and seems pretty useless as anyone can add their own custom button and refresh method to call.  Only one upvote in 4 years.

[2019-04-12 11:56] mertsincan opened #4734 "ScheduleEvent description format error"
Reported By PRO User;

[2019-04-12 11:57] #4734 closed, assigned to mertsincan

[2019-04-13 11:53] melloware commented on #4730
PR Submitted. Thanks for reporting the oversight.

[2019-04-13 11:55] melloware commented on #4725
Looking at the code this is a much more difficult change than hoped.

[2019-04-13 11:57] melloware commented on #4724
SHould we update the title of this to something like "CellEditor: Dynamic columns cellEdit event"

[2019-04-13 14:21] mdzaebel commented on #4724
As you like. The culprit component seems to be `p:columns`. By the way, the proposal of Thomas does not work for me, as the use of `c:forEach` with `p:column` would evaluate at build time, but it's inside a `ui:repeat` of which values are not available in the build phase.

[2019-04-13 16:28] #4730 closed, assigned to nobody

[2019-04-13 16:36] melloware commented on #4332
Sadly I guess we can close this ticket because the documentation decision to use Docsify has been made and is now the new standard.

[2019-04-13 16:50] #4332 closed, assigned to nobody

[2019-04-14 09:32] SharpShooter17 commented on #1178
I have the same problem. Is there any good solution?

[2019-04-15 12:19] AdolfGalland opened #4738 "Menus: allow custom content"
[BrokenMenu.zip](https://github.com/primefaces/primefaces/files/3080005/BrokenMenu.zip)
## 1) Environment
- PrimeFaces version: 7.0 or 6.2
- Does it work on the newest released PrimeFaces version? Version?No
- It works with PrimeFaces 5.2
- Application server + version: Payara 5
- Affected browsers: FireFox 61

## 2) Expected behavior
The index page should be sent to the browser

## 3) Actual beha

[2019-04-15 13:59] melloware commented on #4738
Yes but the error says "MenuItem must be inside a form element" You need to put it inside an `<h:form>`.

It will not work without one.

[2019-04-15 14:03] hfluz commented on #4486
I agree that the way it is, the textEditor isn't very useful since most of times will want to display the content outside of textEditor component.

Can't textEditor specific styles be added to Primefaces or themes CSS?

As it was already commented, we can easily add the styles to our applications CSS, but it would be harder to keep track of changes between versions.

[2019-04-15 14:06] melloware commented on #4486
I wouldn't add it to my application.css i would simply include a link to the quill JS CSS on your page.

[code]

[2019-04-15 14:39] tandraschko commented on #4738
The question is if the case is valid?
A form is required when a POST request must be generated, which is actually not required in this case.

[2019-04-15 15:04] melloware commented on #4713
Looks like this is what you need for using Docsify offline  https://github.com/docsifyjs/docsify/blob/master/docs/pwa.md

[2019-04-15 15:06] melloware commented on #4720
Not much documentation on the full text search of Docsify: https://docsify.js.org/#/plugins?id=full-text-search

So not sure how its determining what is in the full text search?  Something called "headlineDepth" is the only real parameter I see.

[2019-04-15 15:09] hfluz commented on #4486
Thanks, I was trying to find their CSS in their Github project, but I didn't have success. I think this solution is good enough, maybe it could be added to Primefaces documentation.

[2019-04-15 15:34] melloware commented on #4720
OK found an open issue it does not search tables: https://github.com/docsifyjs/docsify/issues/582

[2019-04-15 15:41] #4713 closed, assigned to nobody

[2019-04-16 08:14] hsalbsig opened #4741 "cellEditInit: ajax event in dataTable not fired"
## 1) Environment
- Tested with 6.2 and the new 7.0 with same result
- Apache Tomee 1.7.4
- Opera

## 2) Expected behavior
cellEditInit-Event should fire. disabled set to "false" not helped
With rowEditInit it works.

## 3) Actual behavior
Nothing happens.

## 4) Steps to reproduce
Click in one Cell to Edit

## 5) Sample XHTML
Source: https://www.primefaces.org/showcase/ui/data/datatable/edit.xhtm

[2019-04-16 13:44] brivalin opened #4742 "SelectCheckboxMenu: IllegalArgumentException caused by giving Collection parameter instead of Array"
## 1) Environment
- PrimeFaces version: 7.1-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? Yes, OK in 7.0
- Does it work on the newest sources in GitHub? Not Working
- Application server + version: Wildfly 10.1.0.Final
- Affected browsers: All

## 2) Expected behavior

Don't get the error 500 and show selectCheckboxMenu:

## 3) Actual behavior

Exception IllegalArgumen

[2019-04-16 14:06] tandraschko commented on #4742
Can't replicate it

[2019-04-16 14:24] brivalin commented on #4742
Can you try with this ? It runs on 7.1-SNAPSHOT and simulate my problem.

[PF_4742.zip](https://github.com/primefaces/primefaces/files/3085305/PF_4742.zip)

[2019-04-16 14:57] #4742 closed, assigned to nobody

[2019-04-16 15:02] carlbradwell17 opened #4743 "ChartJs : CartesianLinearTicks Does not have property for Precision"
## 1) Environment
- PrimeFaces version: 7.0.0

## 2) Expected behavior

I expect to be able to set the precision for ticks, as per https://www.chartjs.org/docs/latest/axes/cartesian/linear.html

I want to be able to keep the dynamic ticks (i.e. not define the Steps), but keep the scale as integers.

## 3) Actual behavior

All other options are present in the CartesianLinearTicks class, yet precisi

[2019-04-16 15:06] tandraschko commented on #4738
Currently it's by design.
If you remove the "value" attr, your link is rendered correctly.

Its still requires a form as a POST script is rendered per default.

[2019-04-16 15:22] #4727 closed, assigned to nobody

[2019-04-16 15:27] melloware commented on #4743
I can fix this one.

[2019-04-16 16:06] #4743 closed, assigned to nobody

[2019-04-17 07:54] #3139 closed, assigned to nobody

[2019-04-17 13:30] mauromol commented on #578
Could you please reopen and/or explain how to use the `<p:blockui>` with `<p:fileUpload>`? If I set the `<p:fileUpload>` id into `<p:blockui>` `trigger` attribute, the block is not triggered.
I'm using a standard (`mode="advanced"`) `<p:fileUpload>` with `auto="true"`.

[2019-04-17 13:33] mauromol commented on #578
Ok, I managed to get it working with `onstart` and `oncomplete` on the `<p:fileUpload>` and the `<p:blockUI>` JS API... I still believe this should be much easier to set up...

[2019-04-17 13:56] mauromol commented on #1834
I also found this problem and it's also documented at [StackOverflow](https://stackoverflow.com/questions/31275782/pdialog-appears-on-bottom-when-pblockui-targets-it).
It's annoying because you can't block the whole dialog (close button included).

[2019-04-17 17:40] ravihariharan opened #4745 "Documentation ToggleSwitch"
https://primefaces.github.io/primefaces/7_0/#/components/toggleswitch?id=toggleswitch

There is no onLabel="yes" offLabel="no" for ToggleSwitch

![image](https://user-images.githubusercontent.com/15189434/56308798-23d75480-6116-11e9-9fbd-433601c04414.png)

[2019-04-17 17:43] tandraschko commented on #4745
Please provide a PR, this is even the same amount of work as creating this ticket :D
And feel free to skip creating a issue for a docu PR.

[2019-04-18 07:54] #4745 closed, assigned to nobody

[2019-04-18 08:20] fabermundi commented on #4636
Hi, I've tried your fix (thanks for that) but it seems, that there is still an issue when filtering is enabled. In that case the condition "Integer.toString(data.getRowCount()).equals(rowsParam))" results "false" and the error is still thrown...

[2019-04-20 18:19] melloware opened #4747 "JQuery: CVE-2019-11358 Upgrade to 3.4.1"
JQuery 3.4.0 Released!

https://blog.jquery.com/2019/04/10/jquery-3-4-0-released/

This will also allow us to finish CSP without a custom fix. https://github.com/primefaces/primefaces/issues/3505

[2019-04-21 11:55] tandraschko opened #4748 "Messages: allow to ignore for clientIds/keys"
Lets take the following case:

`<p:messages />
<p:growl forType="key" for="growl" />`

If the p:messages is for all messages on the view but growl only for some hints and i don't want to display messages for key/clientId "growl" on the p:messages.

In this case its now possible to ignore it via:
`<p:messages forIgnores="growl" />`

[2019-04-21 12:02] #4748 closed, assigned to nobody

[2019-04-22 19:54] #4747 closed, assigned to nobody

[2019-04-22 20:03] tandraschko commented on #3505
@cnsgithub @melloware i have a proper prototype, interessted in testing? just f:ajax isn't supported.

[2019-04-22 20:34] melloware commented on #3505
I can definitely help test.

[2019-04-23 09:34] denizque opened #4751 "Datepicker multiple months navigator duplicates month names"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-04-23 18:03] Developer66 commented on #1912
Does not work for me... Chart start flickering and memory increases is still going on... Using primeface 7.

UPDATE

Work well for the new ChartJS...

[2019-04-24 06:58] teatwig opened #4752 "FileUpload: uploadedFile.write(path) throws exception "org.owasp.esapi.ESAPI not found""
## 1) Environment
- PrimeFaces version: 7.0
- Application server + version: n.a. (tested with Tomcat 8.5.27, PF Test Jetty 9.4.15.v20190215)
- Affected browsers: n.a. (tested with Firefox 66, Chrome 74)

## 2) Expected behavior
Files uploaded with the `UploadedFile#write(String)` method will be written to the specified path.
This was working fine with PrimeFaces 6.2.

## 3) Actual behavior
An exce

[2019-04-24 07:05] tandraschko commented on #4752
@cnsgithub / @melloware interessted to investigate?

[2019-04-24 07:20] mertsincan opened #4753 "The month short names are not displayed in DatePicker with monthNavigator=true"
On JqueryUI DatePicker, the options of month dropdown are month short names.

Reported By PRO User;

[2019-04-24 07:21] #4753 closed, assigned to mertsincan

[2019-04-24 09:24] mertsincan opened #4754 "The min/max date support is added to DatePicker for monthNavigation and yearNavigation"
The navigation dropdowns'll be updated according to min/max date.

[2019-04-24 09:35] #4754 closed, assigned to mertsincan

[2019-04-24 11:10] matinh opened #4755 "Wizard: add behavior support"
The component `<p:wizard>` already supports the events `onnext` and `onback`. It would be nice to also support `oncomplete` to call some JavaScript when the AJAX request finished. `onsuccess` and `onerror` would also be great to have.

[2019-04-24 11:26] tandraschko commented on #4755
Normally we don't have on* ajax events on the component itself BUT we provide a way to overwrite the AJAX request options via
`<p:ajax event="...." on*="...." />`

[2019-04-24 11:27] tandraschko commented on #4755
PR welcome ofcourse!

[2019-04-24 12:04] matinh commented on #4755
Well, it doesn't really matter (to me) how this feature would be implemented. But currently `<p:wizard>` doesn't support `<p:ajax>` as a child and there are already `onnext` and `onback` events, so I thought, this would be the best way.

[2019-04-24 13:21] melloware commented on #4752
I can investigate.

[2019-04-24 13:52] melloware commented on #4752
So I updated to keep adding one class at a time.

[code]

However even though we are including DefaultSecurityConfiguration it is still blowing up with...

[code]

[2019-04-25 07:45] #4755 closed, assigned to nobody

[2019-04-25 08:50] tandraschko commented on #4752
the problem is in ESAPI.java:
`private static String securityConfigurationImplName = System.getProperty("org.owasp.esapi.SecurityConfiguration", "org.owasp.esapi.reference.DefaultSecurityConfiguration");`

[2019-04-25 09:37] tandraschko commented on #4752
hmmm, i think we have to remove the shading... it's not built for shading internally. Just look in DefaultSecurityConfiguration.

it even has a dependency to fileupload somehow....

`SCHWERWIEGEND: java.lang.NoClassDefFoundError: org/apache/commons/fileupload/FileItemFactory
        at java.lang.Class.forName0(Native Method)
        at java.lang.Class.forName(Class.java:264)
        at org.primefa

[2019-04-25 09:38] tandraschko commented on #4752
maybe we can also overwrite the ValidationException
not sure.
@cnsgithub  any idea?

[2019-04-25 13:08] melloware opened #4756 "PickList: NullPointerException after validation failure with Mojarra"
Forum Post: https://forum.primefaces.org/viewtopic.php?f=3&t=58237

Stack Overflow: https://stackoverflow.com/questions/54826563/primefaces-picklist-with-omnifaces-validateall-leads-to-nullpointerexception

OmniFaces: https://github.com/omnifaces/omnifaces/issues/488

We null some NULL checks to guard against NPE's.

The StackTrace is on the mentioned StackOverflow page. With PrimeFaces 7.0 it's t

[2019-04-25 13:10] tandraschko commented on #4756
what exactly is null? and how does it occur?
we need a reproducer, maybe there is soemthing other wrong.

[2019-04-25 13:15] melloware commented on #4756
@matinh Can you create a small reproducer using the PrimeFaces Test project. https://github.com/primefaces/primefaces-test

[2019-04-25 13:47] mertsincan opened #4757 "Add the modifier 'public' to all *Base.java classes"
Reported By PRO User;

[code]

[2019-04-25 13:48] #4757 closed, assigned to mertsincan

[2019-04-25 17:13] ravihariharan commented on #4757
@mertsincan i had a same issue when using JRE 1.7. When i used JRE 1.8 i did not see this issue.  Do we know the root cause of this issue and if it impact only JRE 1.7 ?

[2019-04-25 20:49] sjacek opened #4758 "SelectCheckboxMenu: Add lazy attribute"
Please add lazy atrribute to selectCheckboxMenu similarly to selectOneMenu

[2019-04-25 20:51] matinh commented on #4756
Done. Checkout https://github.com/matinh/primefaces-test/tree/7423d2916dcee3dd611f0a1c552f4d4f85583b42, run `mvn jetty:run-exploded`, goto http://localhost:8080/primefaces-test/ and hit the `Done` button two times.

[2019-04-26 05:03] #4758 closed, assigned to nobody

[2019-04-26 11:14] melloware commented on #4756
Using your reproducer I was able to verify the issue, make the defensive NULL check and verify now I can click the Done button over and over and everything works.

[2019-04-26 11:21] melloware commented on #4752
@tandraschko I wonder if this is worth us just copying those 3 classes into PF and cutting out any unnecessary code.  I know we have tried to avoid that with shading but this one is just too messy I think its worth copying a few classes.

[2019-04-26 12:16] theobisproject opened #4760 "Tree: NodeSelectEvent has no TreeNode when dynamic="true""
## 1) Environment
- PrimeFaces version: 7.0
- Application server + version: Wildfly 13
- Affected browsers: IE, Firefox, Chrome

## 2) Expected behavior

The NodeSelectEvent contains the selected TreeNode regardlessly if the dynamic attribute is `true` or `false`.
This was the behaviour up until 6.2.

## 3) Actual behavior

Since 7.0 the selected TreeNode is only contained if the dynamic attribute

[2019-04-26 13:29] tandraschko commented on #4752
yep probably better; +1

[2019-04-26 14:05] tandraschko commented on #4756
@mertsincan good fix for ELITE

[2019-04-26 21:36] mdzaebel commented on #4741
This has already been mentioned several times, e.g. in #4724 and #2514 (2017), but good to know, that others ran into same problems and invest quite a time even into the bug description.

[2019-04-26 22:12] mdzaebel opened #4762 "User Guide & Testing strategy"
# User Guide
* **Bug links**:
Unfortunaltely, bugs are rediscovered multiple times (e.g. in #4741, #4724 , #2514 [2017]). It would be extremely helpful, if the documentation **links important bugs** (which is easy with the new markdown concept). It would also be helpful to know, whether fixing plans exists or whether it will remain until someone pays for a fix. This would decrease the number of bu

[2019-04-26 22:28] mdzaebel commented on #2168
If CKEditor is too big and has licensing issues, PF won't have an editor with source tab, which can be used e.g. for CMS and many, other systems. What is the migration strategy for users, that depends on the feature?

[2019-04-27 07:14] matinh commented on #4756
Thanks for the fix! I hope this also fixes the NPE in the PickListRenderer. I'll play around a bit more with this next week and will report if I find any other issues.

Can somebody explain how the model could be set to `null` and how this is related to `<o:validateAll>`? I'd really like to understand what the cause for this issue was.

[2019-04-27 08:24] tandraschko commented on #4762
Bug links:
i'm not sure if this makes sense. Everything is documented in the issue list, we or the user just have to check if there is an similar ticket already available. Mirroring this information is just more work. So -1 from my side.

Component nesting:
in generell everything is tested from the PrimeTek QA if it's in the showcase.
Also we had some automatic tests in the past but...
If the comm

[2019-04-27 08:26] #4752 closed, assigned to melloware

[2019-04-27 08:26] tandraschko commented on #4752
@mertsincan good fix for ELITE

[2019-04-27 10:35] mdzaebel commented on #4762
**Bug links**:
May be you're right, linking all bugs would be too much work. What about only linking "fatal" issues? E.g. if a feature is completely unusable (e.g. cellEditInit ...) it should be mentioned. It's difficult to decide for conditionalized issues, but my proposal would be to link issues, that block a main usecase of the component/attribute/event... in the doc.

**Component nesting**
Yes

[2019-04-27 11:09] tandraschko commented on #4762
I don't see a benefit of collect such fatal issues. In best case it should just be fixed.
I would only collect incompatibilites, which cant be fixed by design.

"normally" the examples in issues, if runnable, are already good tests.
You would just need to add the xhtml + bean to a "test project", write some statements and asserts like in the example of primefaces-arquillian.
This requires to write

[2019-04-27 11:37] melloware commented on #4756
I can't explain why its NULL with o:validateALL I am not quite sure what the OmniFaces code is doing.  Please report back any other NPE's and I will fix.

[2019-04-27 11:41] melloware commented on #4762
I would add over the last 2 years I have:

1. Reported any duplicate defects and linked the tickets together like you did by mentioning them and then having the others closed to reduce clutter on the issues list.

2. If an issue is reported multiple times I do my best to try and fix that bug since many people are having the issue.  The one area i usually stay away from is the Datatable bugs (like

[2019-04-27 11:42] melloware commented on #2168
I agree I would not remove p:editor because it still has some use until QuillJS resolves all of their issues.

[2019-04-27 12:14] melloware commented on #4752
OK so now with my fix to move SafeFile into our code its throwing a proper exception.
[code]

Basically it is correctly saying that the directory does not exist.  So the code is being called to validate before it writes the part out and the Part write automatically creates the directory if it doesn't exist.

[code]
Still investigating.

[2019-04-27 12:24] melloware commented on #4752
Got past the first bug now onto the second one where this code I don't think will ever work on Windows which is what I am testing on.

[code]

Throws this error.

[code]

**Canonical Path:** C:\Temp\pf-4752\uploaded\2019-01-bill-att.pdf
**Path:** C:\Temp\pf-4752/uploaded/2019-01-bill-att.pdf

So I believe this check must be removed because with the slashes these two paths will never be equal in Wi

[2019-04-27 12:40] melloware commented on #4752
OK so the difference between Commons File Upload and the Native Uploader. The Native Uploader does not allow you to specific a directory so I am getting this error.

[code]
That is is according to the Part.write says this...

**fileName** _the name of the file to which the stream will bewritten. The file is created relative to the location asspecified in the MultipartConfig_

So Jetty is setting t

[2019-04-27 15:06] melloware commented on #4752
Patch submitted.

[2019-04-28 10:22] ogivadon opened #4764 "SelectOneMenu: Can't select item starting with letter "ö", by typing "ö""
1) Environment
PrimeFaces: 7.0.1
Mojarra: 2.3.9
Payara: 5.191
Ultima Layout: 2.0.0
Chrome: 74.0.3729.108

2) Expected behavior
By typing the first letter of an existing item, an item could be selected.

3) Actual behavior
Items starting with national characters like ö, ú and others couldn't be selected by typing.
With PrimeFaces 6.2.19 and Ultima Layout 1.1.5 there wasn't any problem with this.

4

[2019-04-28 11:38] mafaul opened #4765 "Columns: SortField and Filter params not passed to LazyDataModel"
## 1) Environment
- PrimeFaces version: 7.0
- Application server + version: Payara 5.191
- Theme & Layout: Barcelona v 2.0.0
- Affected browsers: Chrome

## 2) Expected behavior
Filter values entered in globalFilter on column filters should be passed to the lazyDataModel like it did in PF6.2. Same with sortField.

## 3) Actual behavior
Sortfield: null. Filters: {null=[]}

## 4) Steps to reproduce

[2019-04-28 12:15] tandraschko commented on #4765
Please provide a example or steps to reproduce in the showcase.

[2019-04-28 12:18] melloware commented on #4764
I will investigate.

[2019-04-28 14:37] mafaul commented on #4765
I will upload example soon. Working on it.

[2019-04-28 15:06] melloware commented on #4764
OK I verified it is boken in 7.0. and fixed in 7.1-SNAPSHOT due to this fix.

https://github.com/primefaces/primefaces/issues/4682

@mertsincan can you merge this into Elite 7.0.2?

Here is my reproducer:
[pf-4764.zip](https://github.com/primefaces/primefaces/files/3125118/pf-4764.zip)

[2019-04-28 18:35] #4764 closed, assigned to nobody

[2019-04-28 18:52] mafaul commented on #4765
I got it working by specifying a value for the "field" property on the columns.

Docs: "Name of the field to pass lazy load method for filtering and sorting. If not specified, filterBy-sortBy values are used to identify the field name."

We used to pass the field name (filterBy-sortBy values) like filterBy=#{dbColumnName}. This does not work on PF7. I do however like using the dedicated "field" pr

[2019-04-29 07:15] mertsincan commented on #1231
- Yes, I wrote a build script to provide elite-release.zip. Please see vdldoc commands used for 6.2.x;
[code]

[2019-04-29 07:15] #1231 closed, assigned to cagataycivici

[2019-04-29 07:21] mertsincan commented on #4345
I agree with @melloware ;)

[2019-04-29 08:02] #4708 closed, assigned to mertsincan

[2019-04-29 08:24] #4557 closed, assigned to nobody

[2019-04-29 08:37] #4345 closed, assigned to nobody

[2019-04-29 08:47] mertsincan commented on #4557
Refactoring JS codes ;) Could you please try it with your sample project?

[2019-04-29 08:51] matinh commented on #4756
I can confirm, that the NPE in PickList is fixed with current SNAPSHOT. It works for the available reproducer as well, as in my real-world project.

However, there is still an issue with the PickListRenderer, where `model` might be `null` in line 103/127, which is not yet checked. I'm working on a reproducer for this right now.

Could you please reopen the issue for now?

[2019-04-29 08:54] tandraschko commented on #4756
Yup, please provide a example.
I will debug it then.

[2019-04-29 09:03] matinh commented on #4756
Done. I've updated the reproducer from above:

1) Checkout https://github.com/matinh/primefaces-test
2) run `mvn jetty:run-exploded`
3) goto http://localhost:8080/primefaces-test/
4) hit the `Done` button one time to get validation failure.
5) hit the `Action in other form` button to trigger NPE in PickListRenderer:103

[2019-04-29 10:43] OldIMP commented on #155
Same problem in 6.2. See my workaround at [Stackoverflow](https://stackoverflow.com/a/55902179/5044174):
[code]
Is there an own issue for this problem?

[2019-04-29 11:08] melloware commented on #4765
Shouldn't this still work though?  So to me it sounds like a bug.

[2019-04-29 11:16] tandraschko commented on #4756
ok
i just don't have time this week.

Does it work correctly with MyFaces?

[2019-04-29 11:20] matinh commented on #4756
Indeed! Running the reproducer with `mvn -Pmyfaces22 jetty:run-exploded` doesn't show the bug.

For the records: this bug exists with Mojarra at least in 2.2.17 and 2.2.19 (the currently latest 2.2 release) as well as in 2.3.9 (the currently latest 2.3 release).

[2019-04-29 11:26] melloware commented on #4226
@wsaca are you saying this fixed issue #155 because that issue is still open?

[2019-04-29 11:27] melloware commented on #155
I submitted a PR for the original issue in this ticket however @minlwin @OldIMP it sounds like your issue is different than the one described in this ticket so you should open a new ticket.

[2019-04-29 11:29] tandraschko commented on #4756
thats what i thought :/
It might really be a Mojarra bug, i didn't found a issue in 15 minutes with our code, also the code at omnifaces doesn't do anything special.

Also adding null checks wouldnt fix your sample as no items would be rendered.

[2019-04-29 11:34] matinh commented on #4756
Now we could need some help from BalusC ;-)

Seriously, what should we do next? Create some bug-tracker entry for mojarra? Or are you going to look into this more closely?

[2019-04-29 11:37] tandraschko commented on #4756
Sorry but I >personally< will not investigate further.
I only do this in my freetime and it would take several hours for me to find the exact reason. As it works fine in MyFaces (you may know, i'm MyFaces commiter and user), i would ask the Mojarra team if they can investigate.

[2019-04-29 11:40] mafaul commented on #4765
PF 4.0 did not have the "field" property on columns, so we had to find a _hacky_ workaround, I don't see this as a bug.
It is confusing that specifying a value for "field" as well as setting "filterable" to true does not enable the filter for a column, you still have to give a dummy value for filterBy.

[2019-04-29 11:42] matinh commented on #4756
Ok, thanks. I'll file an issue at Mojarra then and will see what they say.

[2019-04-29 11:58] pneumcke opened #4767 "Calendar: Popup mode with date/time pattern, sliders don't render properly when supplied with Date object with date and time"
## 1) Environment
- PrimeFaces version: 6.2.19 and 7.0.1
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Jetty (irrelevant)
- Affected browsers: all

## 2) Expected behavior
The time-part of a date is correctly displayed in a p:calendar component when using the popup mode.

## 3) Actual behavior
When th

[2019-04-29 12:18] melloware commented on #4767
Already reported fixed in Elite 7.0.2 with this fix.  https://github.com/primefaces/primefaces/issues/4733

[2019-04-29 12:32] #4767 closed, assigned to nobody

[2019-04-29 13:15] joaopmi opened #4768 "inputmask doesn't work properly with tooltip and tooltip need a update @form to work"
Hi, i'm making a web page with jsf2.3 and [primefaces 7.0] https://mvnrepository.com/artifact/org.primefaces/primefaces/7.0) and i was thinking in using p:tooltip to display front-end validation messages. First of all the p:tooltip disappear after i update a single component related to it, i need to update the entire form or panel of the inputs to the tooltip work properly and stay normal, so i ne

[2019-04-29 13:39] tandraschko commented on #4768
Please create a ticket for each issue, we don't mix X issues in 1 tickets.

the first issue is by design as we need to reregister the event listener of tooltop when the input was removed and readded. Maybe we can resolve it by other jquery binding mechanism. @melloware we had a similar ticket for another component. Do you remember?

[2019-04-29 13:39] #4768 closed, assigned to nobody

[2019-04-29 13:47] wsaca commented on #4226
@melloware yes, the issue #155 should be closed because the animation problem with the caption text was resolved.

[2019-04-29 13:49] #155 closed, assigned to nobody

[2019-04-29 13:50] melloware commented on #4226
Excellent thanks for the update!

[2019-04-29 13:51] melloware commented on #4768
Nothing is coming to mind but I think you are right we had a similar issue.  once he creates the ticket with test case we can experiment.

[2019-04-29 14:01] joaopmi opened #4769 "inputmask: doesn't work properly with tooltip"
Hi, i'm making a web page with jsf2.3 and [primefaces 7.0] https://mvnrepository.com/artifact/org.primefaces/primefaces/7.0). When i use the tooltip with inputmask, it doesn't erase the input from user if it not matches the mask.

Ex:
[code]

then if i insert only one 9, it will not disappear even with autoclear="true". But if i remove the tooltip, it works normally.

Thanks!!!

[2019-04-29 14:03] joaopmi opened #4770 "tooltip: needs a update @form to work"
Hi, i'm making a web page with jsf2.3 and [primefaces 7.0] https://mvnrepository.com/artifact/org.primefaces/primefaces/7.0) and i was thinking in using p:tooltip to display front-end validation messages. The p:tooltip disappear after i update a single component related to it, i need to update the entire form or panel of the inputs to the tooltip work properly and stay normal, so i need to update

[2019-04-29 15:10] matinh opened #4771 "TabMenu: Unexpected tab-switch on AJAX request after validation failure with Mojarra"
[StackOverflow](https://stackoverflow.com/questions/55812486/)

## Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? -> No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) -> No
- Application server + version: Tested on Wildfly 10.1 and Jetty 9.4.15
- Affect

[2019-04-29 15:11] matinh commented on #4771
Maybe this issue is related with #4756?

[2019-04-29 18:23] tandraschko commented on #4770
the key is to register the event on the body instead the target component.
see the second solution here: https://stackoverflow.com/questions/13767919/jquery-event-wont-fire-after-ajax-call

[2019-04-29 19:05] joaopmi commented on #4770
i'll try
thx

[2019-04-29 19:18] tandraschko commented on #3505
@melloware commited the prototype. please give it a try. you need to activate in the showcase in the web.xml
it still misses some features like reporting

[2019-04-30 05:43] ghost opened #4772 "SelectOneMenu not creating rendered columns if it is being rendered as table for some cases"
I have a <p:selectOneMenu> in which selectItem and selectItems are defined in this way:
  <f:selectItem itemLabel="#{res.label_selectOne}" itemValue="#{null}" noSelectionOption="true"/>
  <f:selectItems value="#{caBulkUpdateDataBean.bulkUpdationList}"/>

Now after all the fetching of values and everything,
I reached to the class SelectOneMenuRendered where this selectoneMenu goes to method encodeO

[2019-04-30 11:43] melloware commented on #3505
OK tested using the Showcase and everything appears to be working properly.

However using the PrimeFaces Test project I am getting this error:
[code]

[2019-04-30 12:00] cnsgithub commented on #3505
As mentioned in [commit comments](https://github.com/primefaces/primefaces/commit/c614e01cd4a5dca71487f5c0852478ddfd6a58dc), the `nonce` must not be user-supplied input. This might break CSP and even introduce XSS in the current implementation.

[2019-04-30 12:33] cnsgithub commented on #3505
Can we adapt the unit tests from https://github.com/primefaces/primefaces/pull/4262/files?

[2019-04-30 12:35] tandraschko commented on #3505
Ok, i will migrate it to session based these days

would be great, yes :) just don't have much time the next weeks probably :/

[2019-04-30 19:41] christophs78 commented on #4646
What do we expect?

Which components should work with LocalDate/Time?
* Calendar
* Datepicker
* Timeline
* Schedule

Do we expect backward-compatibility?
Should they support java.util.Date and LocalDate?
When I look into BaseCalendarRenderer, method getConvertedValue we see some existing approaches.
Replacing SimpleDateFormat with DateTimeFormatter and (eg) LocalDate.parse would be simple. But is

[2019-04-30 20:23] tandraschko commented on #4646
IMO if older types like Date are used, they can simple add a converter but internally we should not use the old APIs.

[2019-04-30 20:30] melloware commented on #4646
I think we should support old and new dates.  There are millions of lines of code using java.util.Date in applications and asking people to touch code that is working just to change to a LocalDate or introduce the converter feels wrong.   Its a pretty big breaking change.

[2019-04-30 21:10] tandraschko commented on #4646
BIG -1 to maintain multiple versions
everyone can put a simple converter in it

[2019-05-01 06:57] christophs78 commented on #4646
Maintaing multiple versions within the PF-codebase does not seem to be easy task.
But i think we should provide a easy way to migrate existing code utilizing java.util.Date. (Maybe deliver a Converter OOTB with PF which provides backward-compatibility. Which regonices things like the pattern-attribute of Calendar and DatePicker.)
From my perspective step 1 would be to build a POC for Calendar and

[2019-05-01 08:47] tandraschko commented on #4646
Yep, i would create a cool converter and add them to the migration guide.

+1 for step1 and 2

[2019-05-01 10:09] jepsar commented on #1006
@ybendek Can't you use https://www.primefaces.org/showcase/ui/menu/stack.xhtml with some custom styling?

[2019-05-01 11:12] melloware commented on #3505
OK the CSP works fine in the showcase but trying to use it in the PrimeFaces Test project I can't get it working.  Attached is my sample:
[pf-3505.zip](https://github.com/primefaces/primefaces/files/3134335/pf-3505.zip)

I am getting this stack trace:
[code]

[2019-05-01 11:16] melloware commented on #4772
Please use the PrimeFaces Test project: https://github.com/primefaces/primefaces-test

To create a small reproducible sample so we can debug.

If they are both java.lang.String the isAssignableFrom() should be "true" as here is the javadoc:

[2019-05-01 16:12] NOTiFYcouk opened #4774 "dataTable: paginator=true breaks dynamic rendering of columns"
Attached is zip containing a working example that allows you to dynamically display columns in the dataTable. Added to code supplied by @Melloware.

## 1) Environment
- PrimeFaces 7.0:
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub? (Build by source) NO
https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Applic

[2019-05-01 18:00] christophs78 commented on #4646
Played around a bit with moving DatePicker-component to LocalDate/Time.
What should we do with attributes like disabledDates or disabledDays? (disabledDates expects currently List<java.util.Date>, disabledDays a list of int-values)
[code]
This are things we IMO can´t solve with converters. When we expect a List< LocalDate> for disabledDates we break current code. And this is - as far as i know - s

[2019-05-02 05:52] ghost commented on #4772
@melloware  Yes, isAssignableFrom() is returning "true" .
My question is, as I will repeat again in short,
why in selectOneMenuRenderer Class of primefaces 7.0 they have used !valueType.isAssignableFrom(itemValue.getClass()) in "if" condition which I have quoted.
I believe it should be valueType.isAssignableFrom(itemValue.getClass())

[2019-05-02 08:40] #4239 closed, assigned to nobody

[2019-05-02 08:59] tandraschko commented on #3505
@melloware thats related to JSF 2.2, i will commit a fix now. Please try again.

[2019-05-02 11:19] melloware commented on #3505
@tandraschko That fixed it!

[2019-05-02 11:21] melloware commented on #4772
@TalmeezFaizy That fix was made as part of this ticket: https://github.com/primefaces/primefaces/issues/2893

@tandraschko What do you think?

[2019-05-02 11:29] melloware commented on #4646
@mertsincan is the master of the DatePicker, I would like his opinion.

[2019-05-02 13:06] erickdeoliveiraleal commented on #4747
3.4.1 http://blog.jquery.com/2019/05/01/jquery-3-4-1-triggering-focus-events-in-ie-and-finding-root-elements-in-ios-10/

[2019-05-02 13:11] melloware commented on #4747
PR Submitted.

[2019-05-02 14:37] ProfEibe opened #4777 "InputText: Float Label for Primefaces"
It would be great to have support for floating labels on inputTexts or other inputs like there is already in primeng or primereact:
https://www.primefaces.org/primeng/#/inputtext

:)

[2019-05-03 05:44] ghost commented on #4772
@melloware I went through that issue and still I am not clear why 'not' condition is there.

`if (itemValue == null || (valueType != null && !valueType.isAssignableFrom(itemValue.getClass())))`

so here in my case,
itemValue is not null --> {itemValue==null-->false},
valueType is not null --> {valueType != null --> true}
but
valueType.isAssignableFrom(itemValue.getClass()) is True
-- >{!valueType.

[2019-05-03 06:38] cnsgithub commented on #3505
Please also have a look at my thoughts regarding combination with pre-existing `Content-Security-Policy` headers and allowed script domains like _google-analytics.com_ here: https://github.com/primefaces/showcase-facelift/issues/39

[2019-05-03 06:46] ssibitz opened #4778 "Font Awesome version is outdated"
In Primefaces 7.0.1 when i set the web.xml configuration to:

[code]
Only the old fontawesome version 4.7.0 will be used which is using
elements which are no longer available/supported in the
latest version which is currently 5.8.1.
Also the tag's are no longer equal because they have been changed:
Instead of "fa fa-trademark" you have now write "fas fa-trademark" ...

I am always using the latest

[2019-05-03 06:54] tandraschko commented on #4778
https://github.com/primefaces/primefaces/issues/3056

[2019-05-03 06:54] #4778 closed, assigned to nobody

[2019-05-03 07:25] cnsgithub commented on #3505
Interesting reading: https://github.com/w3c/webappsec-csp/issues/215

[2019-05-03 07:30] cnsgithub commented on #3505
Please just wait a moment. We have to rethink carefully. If I understand correctly, @arturjanc states exactly the opposite [here](https://github.com/w3c/webappsec-csp/issues/215#issuecomment-412617491).

[2019-05-03 07:37] ssibitz commented on #4778
You close an new issue because you find an already closed issue and mark as duplicate ?

Where is the current issue ?

[2019-05-03 07:55] ssibitz opened #4779 "(Free) themes no longer available ?"
In the current primefaces-showcase
with the version 7.0.2 i can't see the
**"sam-theme"** any more under the free themes
and also other themes are removed in this release.

Are there any reasons for that ?

Why i am asking:
We are currently discussing about buying a premium-theme
so the main question we have is
how long is a theme supported in general
or are there currently themes which are planne

[2019-05-03 07:58] tandraschko commented on #4778
Its a wont fix. PrimeTek decided to not upgrade because of new stlye classes which breaks migrations.
PF components supports Primeicons and fontawesome 4 and 5.
The way to go is the official fontawesome webjar.

[2019-05-03 08:24] ssibitz commented on #4778
Have you really read the manual which describes how to upgrade from 4.x to 5.x
without changing the old icon names or anything else ?

The only "TODO" for upgrading from version 4.x to 5.x is to add
a compability stylesheet - no more to do to be ready for using 5.x version's !

Please take a look here:
https://fontawesome.com/how-to-use/on-the-web/setup/upgrading-from-version-4

... and read the s

[2019-05-03 08:48] tandraschko commented on #4778
It was the decision by primetek to move torwards Primeicons and just add basic style support for 5.x.
(i'm not a member of primtek ;))

[2019-05-03 09:12] tandraschko commented on #4779
AFAIK primetek removed those old-fashioned themes from the showcase as doesn't look good anymore and were just created with themeroller. They are still available in github.
The newer premium themes (also like nova or omega) are created from hand with much more passion and love.

I can't answer your question but as you can see, many of the premium layouts/themes are many years old and maintained.
I

[2019-05-03 09:12] #4779 closed, assigned to nobody

[2019-05-03 09:13] tandraschko commented on #4772
Please provide a cloned primefaces-test, otherwise we can't help.

[2019-05-03 09:53] cnsgithub commented on #3505
Instead of using domain whitelists, we could also try to always add `strict-dynamic` to the `script-src` directive. It's recommended [here](https://www.owasp.org/images/c/c4/2017-04-20-OWASPNZ-SpagnuoloWeichselbaum.pdf).

From the PDF mentioned above, page 46:
![image](https://user-images.githubusercontent.com/13161711/57130158-f1c22580-6d98-11e9-8b94-d0a550eaad3e.png)

-> best method would be has

[2019-05-03 10:32] christophs78 commented on #4646
I´ll try to provide a (work-in-progress) PR which adapts DatePicker to LocalDate/LocalDateTime/LocalTime within a week or two.
I´ll also provide a (work-in-progress) PR for ShowCase which contains one DatePicker-xhtml/view with java.util.Date and a second one with LocalDate/LocalDateTime/LocalTime.
Hope this will be a good starting-point for further discussion.

[2019-05-03 11:32] melloware commented on #4778
@ssibitz What happens if you use your OmniFaces trick to load 5.8.1 and just include these shims in your page?  Does it then work?

@tandraschko I personally love FontAwesome and would like to upgrade to 5.8.1 maybe we could convince PrimeTek by doing a PR which includes these shims so its a seamless drop in?  Do you think I should try and we can get @mertsincan to review?

[2019-05-03 11:57] tandraschko commented on #4778
you can ask him
i'm a fan of the webjar, everyone can include his version he would like to use ;) for me it was not a good way to include it directly in PF.

[2019-05-03 12:14] Olafxso commented on #3450
I am using primefaces 7.0 and try to set the scrollHeight to 100%.
Here is a complete test app:
[pf-4477.zip](https://github.com/primefaces/primefaces/files/3141764/pf-4477.zip)

This is the result :
<img width="489" alt="scrollHeight100%" src="https://user-images.githubusercontent.com/29576321/57136268-90a44d00-6dac-11e9-9c63-dea589574efe.png">

When scrollHeight is set to a fixed pixel size it w

[2019-05-03 12:26] melloware commented on #3450
@tandraschko we should probably re-open this issue as its not fixed in 7.0 as its marked here.

[2019-05-03 14:15] ErtelJessica opened #4781 "DataTable: missing return statement in cloneTableHeader"
## 1) Environment
- PrimeFaces version: 7.0.1
- Affected browsers: tested in firefox

## 2) Expected behavior

The use of the method cloneTableHeader in cloneHead lets us assume that it should return something.

[code]

## 3) Actual behavior
But there is no return statement at the end of that function. This causes an error because this.thead in cloneHead is undefined.

[code]

We fixed this by sim

[2019-05-03 14:27] #4781 closed, assigned to mertsincan

[2019-05-03 14:28] mertsincan commented on #4781
Thanks a lot! Fixed for 7.1. PF7.0.x doesn't contain cloneTableHeader method.

Best Regards,

[2019-05-03 21:02] christophs78 commented on #4646
Adapting DatePicker to LocalDate/LocalDateTime/LocalTime is real fun because of #4625, #4626. :-(
@mertsincan: Maybe we should do some refactoring. Maybe split (Date)Pattern and (Time)Pattern or .....
Hm. Calendar works with one combined pattern.
`<p:calendar id="datetime" value="#{calendarView.date10}" pattern="MM/dd/yyyy HH:mm:ss" />`

[2019-05-06 09:10] fheldt opened #4783 "Schedule: update to new version of Fullcalendar (3.10.0)"
Actually primefaces 7.0 uses FullCalendar V3.9.0, the current version is V4.1.0

[2019-05-06 17:48] tandraschko commented on #3505
With "hashes", you mean to create a new hash for each script tag, right?
Thats what i didn't like as it makes the whole impl slower and much more complicated as nonce.

[2019-05-06 20:46] Glennjacob opened #4784 "Listener not being called for the drop down, but the listener works for the date functionality"
Listener not being called for the drop down, but the listener works for the date functionality

## 1) Environment
- PrimeFaces version: 5.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Websphere 10.3
- Af

[2019-05-07 06:05] tandraschko commented on #4784
Please provide a fully runable bean and xhtml. And also try 7.0

[2019-05-07 06:06] tandraschko commented on #62
Then feel free to work on it and provide a PR. Otherwise sponsor it via PrimeFaces PRO

[2019-05-07 06:15] cnsgithub commented on #3505
Yep, I know. I wouldn't do that either.

However, after reading the PDF, we should try to:
- avoid whitelist domains mentioned in https://github.com/primefaces/primefaces/issues/3505#issuecomment-488965400
- use `nonce` + `strict-dynamic`
- avoid using nonce per session

[2019-05-07 07:10] tandraschko commented on #3505
Ok, so what are our next steps?

[2019-05-07 07:16] cnsgithub commented on #3505
First get a :coffee:, then add `strict-dynamic` to `CspPhaseListener` where the header is being set, await answer from stackoverflow regarding nonce per session (keep your implementation for the moment), take care of pre-existing `Content-Security-Policy` headers (`setHeader` vs. `addHeader`, using or not using _salvation_ lib to merge headers), test, test, test, get a :beer:.

[2019-05-07 07:27] tandraschko commented on #3505
sounds good :D
Ok, would you like to take care it?
For now, we probably also have to escape the nonce from the request.

[2019-05-07 08:49] tandraschko commented on #4579
Please test! :D

[2019-05-07 08:49] #4579 closed, assigned to tandraschko

[2019-05-07 09:31] cnsgithub opened #4787 "ConfirmDialog: uncaught EvalError if CSP is enabled"
## 1) Environment
- PrimeFaces version: 7.1-SNAPSHOT

## 2) Expected behavior
`confirmDialog` working correctly if CSP is enabled.

## 3) Actual behavior
![image](https://user-images.githubusercontent.com/13161711/57289403-960adb80-70bb-11e9-9b47-888d3474f111.png)

![image](https://user-images.githubusercontent.com/13161711/57289426-a1f69d80-70bb-11e9-917a-8cca1e6ece6a.png)

## 4) Steps to reprodu

[2019-05-07 10:27] cnsgithub commented on #4787
Affects all components implementing `Confirmable`: `commandButton`, `commandLink`, `menus`, `splitButton`.

[2019-05-07 11:31] melloware commented on #4579
Works perfectly. Thanks for the fix!

[2019-05-07 11:32] melloware commented on #4783
@OBreidenbach Care to look at this one?

[2019-05-07 11:50] mertsincan opened #4788 "Picklist buttons wont remove focus style"
Reported By PRO User;

[2019-05-07 11:52] #4788 closed, assigned to mertsincan

[2019-05-07 13:41] OBreidenbach commented on #4783
No. We are happy with the FullCalendar release V3.9.0.
For the update to V3.9.0 we just replaced the FullCalendar files (*.js and *.css) in PrimeFaces
With release V4.0 FullCalendar removed the dependency to JQuery and moment.js. See: https://fullcalendar.io/docs/upgrading-from-v3
So I doubt that changing to V4.1.0 is as easy as it was changing to V3.9.0.
Who ever wants the new release should take

[2019-05-07 13:51] melloware commented on #4778
Should we remove FontAwesome for 7.1 and provide a migration guide?  The WebJars solution is much nicer and pulls this code our of PF.

[2019-05-07 13:57] tandraschko commented on #4778
+1
@mertsincan wdyt?

[2019-05-07 17:24] melloware commented on #4756
@tandraschko Can we close this ticket since it been opened with Mojarra and MyFaces doesn't have the issue?

[2019-05-07 17:25] melloware commented on #4756
Nevermind I own it so I will close it.

[2019-05-07 17:25] #4756 closed, assigned to nobody

[2019-05-07 18:40] tandraschko commented on #4756
Thats ok for me.
I'm also not sure if it's a Mojarra bug (could be a PF bug, too) but its likely as its working fine in MyFaces

[2019-05-07 20:15] melloware commented on #4777
OK I have a prototype working base on what PrimeNG did.  Design question though.

Here is what my prototype does...just like PrimeNG or like PF InputGroup you use a SPAN to wrap it.
[code]

I like this because then its just CSS.

Or should it be like this...
[code]
... where the component would generate the SPAN and the LABEL???

[2019-05-08 05:51] ProfEibe commented on #4777
Yeah, this was my first approach too. And I think that it could work with other input fields too.
But is it really just CSS? How do you check if the field is filled or not? I had to use some JS.

I think the most convenient would be the second version. But it would have to be added to all input tags I think. But front-end code would be much cleaner. It´s more capsuled.

[2019-05-08 08:25] ssibitz commented on #4778
It seems that when i redirect the old FontAwesome of Primefaces via Omnifaces to the latest version
and include the v4-shims.css into my application's template
both of them (old and new icon's) are working right...

[2019-05-08 11:18] melloware commented on #4777
You are right I do need a little JS to determine if its filled.

My thoughts again (and I don't know what is right..)

1. HTML/CSS solution above with a little JS makes it more generic and more like Input Group: https://www.primefaces.org/showcase/ui/input/inputGroup.xhtml  It could easily then be implemented for InputNumber (InputPhone from PFE) etc.

2. Attribute like floatLabel="" solution make

[2019-05-08 11:24] melloware commented on #4778
What I do is remove PrimeFaces FontAwesome entirely or disable it.

**web.xml**
[code]

**pom.xml** (add the webjar)
[code]

Declare these two files in my layout XHTML.

[code]

So you don't need to use the OmniFaces CDN Handler at all (unless you want to).  You can use the new "fas fa-ellipsis-v" style 5.8.1 icons and the SHIM keeps the current PrimeFaces icons working like "fa fa-pencil"

[2019-05-08 11:30] jepsar opened #4789 "PrimeIcons pi-heart is missing (in showcase)"
Not sure if this issue should be filed here or at the icons project, but currently the showcase has an entry for `pi-heart`, but no icon is showing.

https://www.primefaces.org/showcase/ui/misc/primeicons.xhtml

The selector for `pi-heart` is missing at

https://www.primefaces.org/showcase/javax.faces.resource/primeicons/primeicons.css.xhtml?ln=primefaces&v=7.0.2-SNAPSHOT

There is also no heart h

[2019-05-08 11:45] tandraschko commented on #4789
Until it's not in the primeicons project, please provide a feature request there or lets remove it from the showcase.
We will upgrade primeicons here before the new release.

[2019-05-08 11:45] #4789 closed, assigned to nobody

[2019-05-08 12:44] fheldt commented on #4783
In this case you should at least consider upgrading to V3.10.0 See: https://github.com/fullcalendar/fullcalendar/releases/tag/v3.10.0

[2019-05-08 12:48] tandraschko commented on #4783
@fheldt just to clarify:
Thats @OBreidenbach personal opinion. If some does the work or sponsor it, PrimeFaces could upgrade to any version if there are no breakers or a decision by PrimeTek.

[2019-05-08 13:07] ProfEibe commented on #4777
Who can decide that?

[2019-05-08 13:21] melloware commented on #4777
That is a great question.  @Rapster @mertsincan @tandraschko  anyone want to weigh in on this?

[2019-05-08 13:30] tandraschko commented on #4777
+1 for 1)

[2019-05-08 13:42] DrTotenkopf opened #4790 "DatePicker: client side setDate() sets wrong value"
## 1) Environment
- PrimeFaces version: 7.0.1
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: Tomcat 8.5
- Affected browsers: Firefox, IE, Chrome

## 2) Expected behavior
When calling client side function "s

[2019-05-08 15:08] fabermundi opened #4791 "Slider: NullPointerException when using in dynamic TabView"
## 1) Environment
- PrimeFaces version: 7.0.1
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: Wildfly 16
- Affected browsers: IE, Chrome, Firefox

## 2) Expected behavior
When submitted the given form I do n

[2019-05-08 15:13] tandraschko commented on #4791
@cnsgithub @melloware interessted to look at it? probably related to our new validation

[2019-05-08 16:26] melloware commented on #4791
Definitely related to this ticket: https://github.com/primefaces/primefaces/issues/3282

Reproducer:
[pf-4791.zip](https://github.com/primefaces/primefaces/files/3158356/pf-4791.zip)

[2019-05-09 00:49] melloware commented on #4777
OK I am pretty happy with it.  Stolen/borrowed almost exactly from PrimeNG. I decided to put the JS code in PrimeFaces.skinInput() since for most input components they call this to set up and skin the component.

 It works great for InputText and InputMask but for InputPhone/InputNumber we would have to do some more work only because those have inner containers that the styles don't work for.

[co

[2019-05-09 06:41] cnsgithub commented on #4791
I'll have a look at it.

`Slider.validate` seems to be called twice, first time everything's fine, second time gives the `NullPointerException`.

[2019-05-09 07:32] #4783 closed, assigned to nobody

[2019-05-09 07:33] cnsgithub commented on #4791
After testing further, I am not sure now if this is necessarily an issue related to validation.

As I mentioned before, `validate` is called two times. I had not recognized that before, but this is of course because we have two tabs containing a `p:slider`.

Four hidden input fields get rendered and submitted when pressing the _Ok_ button. @fabermundi Btw, what is the use-case of this when binding

[2019-05-09 09:04] tandraschko commented on #4791
@mertsincan can be ported to elite

[2019-05-09 09:14] tandraschko commented on #4791
@cnsgithub i see
the real problem is the input lookup, let me try something and i will explain later

[2019-05-09 09:23] fabermundi commented on #4791
@cnsgithub yes I know that the example is pretty useless, I was trying to keep it simple.
My use-case is a table that content is changed depending the tab you select, above the table is a range slider in order to select a year range to filter the values in the table so this slider must be shown in every tab.

Guys, thanks for your work so far :-)

[2019-05-09 09:26] ssibitz commented on #4778
I tried it in my development environment and currently it looks good.
The old and the new styles are working fine together.

But please use the complete minimized version of fontawesome by using:
`<h:outputStylesheet library="webjars" name="font-awesome/5.8.1/css/all.min.css" />`

When i set the context-param primefaces.FONT_AWESOME to false
is then primefaces using his "ugly" icon images which ar

[2019-05-09 09:29] tandraschko commented on #4778
FONT_AWESOME=true only includes the CSS

[2019-05-09 09:34] ssibitz commented on #4778
Perfect !

Then this can be a workaround for using new FontAweSome Icons.
I think this is a thing also for other user's,
so a new Blog entry or a simple description in the primefaces-documentation would be nice ...

[2019-05-09 09:50] tandraschko commented on #4791
ok no idea :D
no time to dig deeper

But, from client side, it's expected that validation is called for both slider
not sure why the second are null values

[2019-05-09 09:52] majkers commented on #2448
Yes. Checked it one more time. Not working

[2019-05-09 10:36] ssibitz commented on #4778
Okay, one thing i have - but that comes from the webjars.
The compressed(minimized) version is buggy because they also
removed the resource-url's to the font's on the server so the client can't find the font itselfs.

So using the uncompressed version is currently the only way, but it works:
`<h:outputStylesheet library="webjars" name="font-awesome/5.8.1/css/all-jsf.css" />`

@melloware : So your

[2019-05-09 11:05] melloware commented on #4778
@ssibitz yes I use teh all-jsf because they replace in the CSS with the proper #resource{} urls so it resolves properly in all JSF containers.

However I reported this bug in their MIN version which is why I am using the non-min version: https://github.com/webjars/font-awesome/issues/47

If you want to go vote for that issue 😄

[2019-05-09 11:20] melloware commented on #4672
@OBreidenbach I just submitted a PR that should fix it. Any chance you could test and verify?

[2019-05-09 11:20] melloware commented on #2448
@majkers I just submitted this PR which I think will fix it: https://github.com/primefaces/primefaces/pull/4797

[2019-05-09 12:12] crocimi opened #4798 "TreeTable: poor performance with lot of nodes"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? NO
- Application server + version: WF 10.0.0
- Affected browsers:

## 2) Expected behavior
Better performance

## 3) Actual behavior
Lot of time needed to load the nodes

## 4) Steps to reproduce
Create a TreeTable with a parent and a lot of nodes (>15000)

[2019-05-09 12:15] OBreidenbach commented on #4672
I can confirm that with the fix the the default command is not triggered anymore.

[2019-05-09 12:19] crocimi commented on #4798
Pull request #4799

[2019-05-09 13:06] majkers commented on #2448
Looking forward to it :) Thanks

[2019-05-09 13:11] melloware commented on #2448
Hopefully we can get it into Elite 7.0.2.

[2019-05-09 13:44] tandraschko commented on #4798
could you please also describe a bit your changes and what exactly is slow?

[2019-05-10 09:51] ghost commented on #4772
https://github.com/TalmeezFaizy/PrimeFace-Issue-Check

Tried to link files with changes in repository, hope you can check it otherwise tell me what else to do for sharing what I am trying to do.
Really sorry for delay.

[2019-05-10 11:24] melloware commented on #4772
OK I had to make some changes in your code to get it work but attached is a runnable reproducer:
[pf-4772.zip](https://github.com/primefaces/primefaces/files/3166236/pf-4772.zip)

Run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml.

I see your issue and I fixed it by changing your line...
[code]
To:
[code]

The "var" signifies you want  custom conte

[2019-05-10 12:07] #4672 closed, assigned to nobody

[2019-05-10 12:45] crocimi commented on #4798
every time a node is added to a parent update updateRowKeys is called (recursively) on all children of that parent. So, the keys are computed for every child, even that ones that haven't changed its position. This has a big impact on the performance, especially when a Parent has a lot of nodes.

My idea:
1) if a node is inserted at (or removed from) position 'X' we can just update the indexes star

[2019-05-10 19:13] cristiantm commented on #4747
Any plans to release this sooner as a public version, considering CVE-2019-11358 that affects jQuery<3.4?
http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2019-11358

[2019-05-10 19:27] melloware commented on #4747
@mertsincan Any thoughts to merge into Elite 7.0.2 since this is a CVE?

[2019-05-13 10:50] mauromol commented on #3990
I'm a bit lost after these comments, but I think that the original report explains well where PF should really improve, at least the first check box: "Feedbacks should no longer be based on PF current algo".

I mean, right now "1234567" is considered a "good password", but I don't quite think so ;-)

Apart from this, I think proper custom validation is still required if specific needs are required

[2019-05-13 11:43] melloware opened #4800 "ChartsJS: Horizontal Bar Chart"
In the legacy JqPlot charts you could do a Horizontal Bar chart.

https://www.primefaces.org/showcase/ui/chart/bar.xhtml

I think we should add the same functionality to the ChartsJS Bar chart.

I will submit a PR.

[2019-05-13 11:57] melloware commented on #4800
Actually I realized is already in there didn't realize the examples at the top were on a different screen.  The old Charts have all the examples of Bar on one page.  Closing this issue.

https://www.primefaces.org/showcase/ui/chartjs/bar/hbar.xhtml

[2019-05-13 11:57] #4800 closed, assigned to nobody

[2019-05-13 12:07] Rapster commented on #3990
Since validation should be done server side. There is no need to use a tiers library, though, feedback of PF is outdated, as you said "1234567" is considered a "good password"... I think PF should slightly improve this

[2019-05-14 08:18] ogivadon commented on #4764
Hi Melloware,

I’ve just tested with PrimeFaces 7.0.2.
It works fine!

Thanks

From: Melloware <notifications@github.com>
Sent: Sunday, April 28, 2019 5:06 PM
To: primefaces/primefaces <primefaces@noreply.github.com>
Cc: ogivadon <kohegyi@arxoft.hu>; Author <author@noreply.github.com>
Subject: Re: [primefaces/primefaces] SelectOneMenu: Can't select item starting with letter "ö", by typing "ö" (#47

[2019-05-14 10:05] mertsincan opened #4801 "Columns misalignment with box-sizing: border-box style on Scrollable DataTable"
On Scrollable DataTable, if users use a CSS library that has box-sizing: border-box style(Exp; bootstrap), columns are misaligned with it. Details; https://blog.jquery.com/2012/08/16/jquery-1-8-box-sizing-width-csswidth-and-outerwidth/

[2019-05-14 10:06] #4801 closed, assigned to mertsincan

[2019-05-14 17:05] cristiantm commented on #4747
I would add the question if there is any policy to release extra public versions in case of CVEs. I do understand Elite is the version for getting maintenance and new features earlier, but is ther any exception for CVEs?

[2019-05-15 05:06] ghost commented on #4772
@melloware first of all sorry that my submission didn't work. Not quite handy with 'maven'.
And yes your explanation has solved my issue and cleared my doubt too.
Thanks a ton!

[2019-05-15 05:06] #4772 closed, assigned to nobody

[2019-05-15 08:40] vanquyen906 opened #4802 "error drapdrop panel in IE"
drapdrop panel in IE to the left end,right end .you can see panel always move same scroll endless.chrome and firefox that so oke but error in IE you can check link mainpage primeface.
https://www.primefaces.org/showcase/ui/dnd/draggable.xhtml

[2019-05-15 09:36] matinh opened #4803 "DataTable: NullPointerException with multiViewState=true"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? No (7.0)
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No.
- Application server + version: jetty-9.4.15.v20190215
- Affected browsers: probably all (tested with FireFox 66.0.3 and Chromium 73 on Linu

[2019-05-15 11:07] melloware commented on #4803
Looks like the NPE is on this line of code: https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/datatable/DataTableRenderer.java#L125

[2019-05-15 11:12] melloware commented on #4802
Looks like this might be the solution: https://stackoverflow.com/questions/15265427/jquery-draggable-drags-off-screen

[2019-05-15 11:15] melloware commented on #4802
It looks like you can simply use the "Containment" option.

http://api.jqueryui.com/draggable/#option-containment

Possible values: "parent", "document", "window"  So just do..

[code]

[2019-05-15 11:33] tandraschko commented on #4802
should we close it? It's more like a showcase optimization

[2019-05-15 11:43] melloware commented on #4802
Yep we should close it.

[2019-05-15 11:47] #4802 closed, assigned to nobody

[2019-05-15 11:57] mertsincan opened #4804 "rowSelect event is very slow with big rowCount and virtualScroll"
Reported By PRO User;

[2019-05-15 11:58] #4804 closed, assigned to mertsincan

[2019-05-15 12:20] mertsincan opened #4805 "DataTable throws a JS exception with multiSort"

[2019-05-15 12:21] #4805 closed, assigned to mertsincan

[2019-05-15 12:56] NOTiFYcouk commented on #3659
I am having the same problem when deploying to JBoss WildFly 16.0.0.Final using Undertow 2.0.19.Final & Mojarra 2.3.9.SP01 .
https://forum.primefaces.org/viewtopic.php?f=3&t=58877&p=175250#p175250

[2019-05-15 13:20] matinh commented on #4803
Yes it is (see StackTrace), and the reason is column == `null`.

Unfortunately adding a `null`-check fixes the exception, but the example still doesn't work as expected. Instead the corresponding header of the dynamic columns is not rendered, but the body is. Is my example a valid use-case at all? Is it allowed to change dynamic columns like I did in my example?

[2019-05-15 13:34] matinh commented on #4803
Hm, forget my last comment about partly rendered table. I just saw that I had the wrong scope for the backing-bean in my minimalistic example. I updated the example (please checkout for debugging) and now a simple `null`-check fixes the problem.

I'm still not 100% sure if I'm using the `<p:datatable>` in a way it is meant to be used. Is a column-toggler like I implemented it in the example suppor

[2019-05-15 13:36] melloware commented on #4803
@matinh I would submit a PR with your NULL defensive check.  NPE's are never good!

[2019-05-15 13:40] matinh commented on #4803
Was just working on it. Here it is: PR: https://github.com/primefaces/primefaces/pull/4806

[2019-05-15 13:58] mertsincan opened #4807 "Add escapeValue attribute to PickList"
Defines if values of the component is escaped or not.

[2019-05-15 13:59] #4807 closed, assigned to mertsincan

[2019-05-15 14:11] #4803 closed, assigned to nobody

[2019-05-15 14:24] ghost opened #4808 "Tree: dropRestrict="sibling" does not work as expected."
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? No. Same issue in 7.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Jetty
- Affected browsers: All

## 2) Expected behavior
Node 0
Node 1

Dragging Node 1 over Node

[2019-05-15 20:15] melloware commented on #4808
Is what you fixed anyway relatedto this issue?  https://github.com/primefaces/primefaces/issues/3543

[2019-05-16 08:31] ghost commented on #4808
Yes. My PR fixes that issue as well.

In v6.1, fireDragDropEvent was not called if not a valid drop point. However, in 6.2 after some refactoring, the fireDragDropEvent is called even when not a valid drop point.

[2019-05-16 10:36] malhotramohit opened #4810 "Please correct the spelling of 'maximum' , in InputNumber documentation line number 'Maximun and minimum values (-1000.999 to 1000.000)' 3"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-05-16 10:57] melloware commented on #4810
It is spelled correctly?  See here: https://primefaces.github.io/primefaces/7_0/#/components/inputnumber

[2019-05-16 11:03] melloware commented on #4808
Excellent!  Its great when a PR fixes multiple issues.

[2019-05-16 11:04] melloware commented on #3543
Fixed with PR: https://github.com/primefaces/primefaces/pull/4809

[2019-05-16 13:03] tandraschko opened #4812 "MenuModel: allow lamba as command"
MenuItem.setFunction((m) -> { return "myOutcome" });

[2019-05-16 14:23] #4812 closed, assigned to nobody

[2019-05-16 15:19] giorgioprimefaces opened #4813 "calendar: validation error"
I just discovered that with PF7 (test made with PF 7.0.2) all my calendars with mindate=value (didn't test maxdate) I get the following validation error:
"Validation Error: Value is out of range."

## 1) Environment
 PrimeFaces version: 7.0.2
working with PF 6.x.x

Affected browsers: all

## 2) Expected behavior
no validation error

## 3) Actual behavior
throws a validation error which is corrupti

[2019-05-16 15:21] tandraschko commented on #4813
A valid issue constists either of a full xhtml+bean or a forked primefaces-test project!

[2019-05-16 15:39] tandraschko commented on #3057
Lets close it for now. We didn't had time and calender.js is probably deprecated.

[2019-05-16 15:39] #3057 closed, assigned to tandraschko

[2019-05-16 15:40] tandraschko commented on #3113
Lets close it for now. We didn't had time and calender.js is probably deprecated.

[2019-05-16 15:40] #3113 closed, assigned to tandraschko

[2019-05-16 17:11] malhotramohit commented on #4810
Hi,
I mean in showcase.
PFA

On Thu, 16 May, 2019, 4:28 PM Melloware, <notifications@github.com> wrote:

[2019-05-16 17:19] melloware commented on #4810
Understood. Fixed with commit: https://github.com/primefaces/showcase-facelift/pull/44

[2019-05-16 17:20] elbird opened #4815 "PrimeExceptionHandler: Configured error-pages are not parsed from web.xml"
## 1) Environment
- PrimeFaces version: 7.0
- Tomcat 8
- In the deployable war the service-provider for the XPathFactory is configured to: "net.sf.saxon.xpath.XPathFactoryImpl", via the file "/META-INF/services/javax.xml.xpath.XPathFactory"

## 2) Expected behavior

All error-pages are parsed from the web.xml and the PrimeExceptionHandler redirects to the correct error-page depending on the thrown

[2019-05-16 19:14] tandraschko commented on #4810
Next time please create a issue in the showcase-facelift project

[2019-05-16 19:14] #4810 closed, assigned to nobody

[2019-05-16 20:33] melloware commented on #4813
Reproducer:
[pf-4813.zip](https://github.com/primefaces/primefaces/files/3188934/pf-4813.zip)

Simply select the 2nd calendar and pick the same date and you see the error.  Pick a future day and no error.

[2019-05-17 04:58] cnsgithub commented on #4813
Wrong usage?

When debugging `Calendar.validateValue`:
[code]
=> `date > minDate`
=> `minDate=new Date()` (instantiation time)

Try to first select another date in the first calendar (this will force the date's time to be _00:00:00_), then select the very same date in the second calendar. You will realize it's working then.

[2019-05-17 05:50] cnsgithub commented on #4769
I've not managed to reproduce this issue:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/13161711/57905919-74a6ae00-7878-11e9-93f8-457806b89470.gif)

[2019-05-17 07:03] giorgioprimefaces commented on #4813
no wrong usage,
onload if the mindate=value starting from PF 7.0.2 (not tested 7.0.1) it throws the validation error, than it is possible to select another date in the second calendar, but you already had the error, which is pretty annoying...

[2019-05-17 07:18] cnsgithub commented on #4813
Because PF < 7 did not have any validation at all.

You agree that `Fri May 17 00:00:00 CEST 2019` is less than `Fri May 17 06:50:27 CEST 2019`?

You have to know that `p:calendar` is not only able to deal with date-only dates, but also with datetime dates.

Hopefully, things will get better when the new Java datetime API is supported. Then you should be able to use either `LocalDate` or `LocalDat

[2019-05-17 07:20] mertsincan opened #4817 "Remove ms-clear icons from all inputs"
Reported By PRO User;

etc.

[2019-05-17 07:22] #4817 closed, assigned to mertsincan

[2019-05-17 08:57] giorgioprimefaces commented on #4813
[pf-4813_v2.zip](https://github.com/primefaces/primefaces/files/3190699/pf-4813_v2.zip)
Just performed some more testing: in the attached example validation error is thrown on button click (non ajax), which means that non ajax navigation is not working anymore with those validation controls

[2019-05-17 09:07] cnsgithub commented on #4813
@giorgioprimefaces There is no need to include compiled classes... :wink:

Update: I am not sure what you want to prove with `pf-4813_v2.zip`. The reason is the same in all cases. Sorry, this is a wontfix issue for me.

[2019-05-17 11:11] giorgioprimefaces commented on #4813
@cnsgithub  the provided zip shows that non ajax navigation is corrupted by that validation check, since it is feasible to select a date=mindate, this should not happen!

[2019-05-17 12:42] morvael opened #4818 "Add rangeSeparator attribute to DatePicker"
With pattern set to "yyyy-MM-dd" it's impossible to use selectionMode "range". DatePickerRenderer has hardcoded separator string in line 186, and since the number of elements in the parts array isn't equal to 2, it doesn't even try to parse those dates. Please allow to specify different separator string for range and multiple selectionModes.

## 1) Environment
- PrimeFaces version: 7.0.2
- Applica

[2019-05-17 15:11] #4322 closed, assigned to nobody

[2019-05-17 15:15] tandraschko commented on #801
@melloware thanks for the reminder in gitter :D
I'm not sure if i understand it corretly. IMO the repoter did it correct and made his own subclass, for his own abstract model?!

[2019-05-17 16:06] melloware commented on #801
I am not quite sure either, maybe @jamestenglish will chime in.

[2019-05-17 16:13] tandraschko commented on #801
I will close it for now, not sure if someone is still interessted after 4 years :D
we can still reopen

[2019-05-17 16:13] #801 closed, assigned to nobody

[2019-05-17 22:21] erickdeoliveiraleal opened #4819 "Datatable: RowEditor broken if sortBy is enabled"
## 1) Environment
It works in 7.0.1 but not in 7.0.2

## 2) Expected behavior

Click on  <p:rowEditor /> should open options.

## 3) Actual behavior

Nothing happens.

## 4) Steps to reproduce

Click on button to edit

## 5) Sample XHTML
[code]

## 6) Sample bean
[code]
https://github.com/erickdeoliveiraleal/primefaces-test

[2019-05-18 11:56] melloware commented on #4819
@mertsincan I assume its related to this fix that was put in 7.0.2: https://github.com/primefaces/primefaces/issues/4557

[2019-05-18 11:57] melloware commented on #4557
Looks like this might have introduced a new issue" https://github.com/primefaces/primefaces/issues/4819

[2019-05-18 12:00] melloware commented on #4818
Good debugging.  I think you mean this line 194:
https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/datepicker/DatePickerRenderer.java#L193-L200

[code]

[2019-05-18 12:12] morvael commented on #4818
In my sources for 7.0.2 (we have commercial support, and probably there is different license header) the line number is different, but it's the same piece of code.

[2019-05-18 12:56] morvael commented on #4818
By the way I wanted to write my own coverter to custom object (range with two fields "from" and "to"), and with the way this code is written it's impossible to do it.

[2019-05-18 16:40] Rapster commented on #4322
I would rename into `preConfigureAjaxRequestBuilder` as it is an action not some sort of getter that returns something that has been built in the past. Otherwise it looks a lot better :wink:

[2019-05-18 18:52] cnsgithub commented on #4813
It does not matter if form params are submitted via ajax or non-ajax, **all** submitted values **must** be valid, **always**. And that's not the case in your examples! I'm out.

[2019-05-19 12:36] melloware commented on #3482
@tandraschko I would mark this invalid or close it as you can do this already by just adding a button to the header of the table. We do this in our apps.

[2019-05-19 16:23] #3482 closed, assigned to nobody

[2019-05-20 06:45] mertsincan commented on #4819
Duplicate #4805

[2019-05-20 06:45] #4819 closed, assigned to nobody

[2019-05-20 07:05] mertsincan commented on #4709
The value of font-size is 1.25em on the fa-* and pi-* icons . This issue is related to drawing of star icons.

pi/fa-home;
![image](https://user-images.githubusercontent.com/11868120/58002206-678ef680-7ae6-11e9-96ab-06861535bd3e.png)

Therefore, you can set the styles according to yourself. Exp; for the fa-fa-star, please use font-size: 1em;

[2019-05-20 07:05] #4709 closed, assigned to nobody

[2019-05-20 08:43] fanste commented on #4557
@mertsincan your refactored fix does not work. `getSortMetaOrder` only returns those columns that are sorted. Your for-loop will resolve `columnHeaderId` and `columnHeader` to `undefined`. Therefore no `sortorder` (~line 250) will be set which results in an error as soon as you try to sort by a not already sorted column (sortOrder=NaN).

My fix used the original `sortableColumns` and only resolved

[2019-05-20 08:44] giorgioprimefaces commented on #4813
@cnsgithub
Sorry, probably I do not get the point but here's another example which is showing some strange behaviour of this validation:
as you can see now we have 2 different scenarios:
1-your workaround (removed hours, minutes, seconds and milliseconds)
same datetime in milliseconds (1558303200000=1558303200000), no validation error

2-no hours, minutes, second and milliseconds removed, same dat

[2019-05-20 09:20] mertsincan commented on #4557
It works fine for me. Please see;

![image](https://user-images.githubusercontent.com/11868120/58010651-7206bb80-7af9-11e9-8afc-2fec42854a7a.png)

Test code;
[code]

[2019-05-20 10:45] mertsincan opened #4821 "sortMetaOrder is set in the wrong order on DataTable"
https://github.com/primefaces/primefaces/commit/211f177dc38e8e8ad6cc8becab12132634828a06

Original issue; https://github.com/primefaces/primefaces/issues/4557

[2019-05-20 10:45] #4821 closed, assigned to mertsincan

[2019-05-20 10:46] mertsincan commented on #4557
Ahhh, you're right! Please see my changes; https://github.com/primefaces/primefaces/commit/211f177dc38e8e8ad6cc8becab12132634828a06

[2019-05-20 20:24] #4815 closed, assigned to nobody

[2019-05-21 07:43] dmainardi commented on #4052
Now with 7.0 version the (sort of) patch doesn't work any more.
I updated test project.

[2019-05-21 08:17] dmainardi commented on #4052
I found another (sort of) patch for version 7.0.
Instead of using
`field="theProperty"` or `sortBy=#{theProperty} filterBy=#{theProperty}`
you can use
`field="theProperty" sortBy=#{theProperty} filterBy=#{theProperty}`

It gets more and more complicated, I am missing something?

[2019-05-21 10:27] Rawi01 opened #4822 "Spinner: Wrong role attribute"
## 1) Environment
- PrimeFaces version: **latest**
- Does it work on the newest released PrimeFaces version? Version? **No**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **No**
- Application server + version: **all**
- Affected browsers: **all**

## 2) Expected behavior
The role attribute of the spinner shou

[2019-05-21 13:17] Eehol opened #4824 "Messages: use aria-label when href is empty"
## 1) Environment
- PrimeFaces version: 7.0.2 (primefaces showcase)
- Does it work on the newest released PrimeFaces version? Version? No
- Affected browsers: All

## 2) Expected behavior

The messages that can be closed have a cross at the right of the red/yellow/.. box containing the message and it should be accessible.

Examples :
- https://www.primefaces.org/showcase/ui/message/messages.xhtml

[2019-05-21 13:19] #4822 closed, assigned to nobody

[2019-05-21 14:04] melloware commented on #4824
@Eehol You can il8n the Close icon of the dialog.  It is in /org/primefaces/Messages.properties.

https://github.com/primefaces/primefaces/blob/master/src/main/resources/org/primefaces/Messages.properties#L15

So in your project if you have a /org/primefaces/Messages_de.properties it should work if your locale is Germany it pick it up and replace the labels.

[2019-05-21 14:11] ivy-rew commented on #113
PrimeFaces API exists to consume the XHR context that was recently executed: see PrimeFaces.ajax.Queue.xhrs[0]
![thereIsAGeneralException_contextInformation](https://user-images.githubusercontent.com/15085693/58103376-26304100-7be3-11e9-924e-b3e6f9686a18.png)

[2019-05-21 14:51] Rapster commented on #4322
I think you can also refactor `AjaxBehaviorRenderer#getScript` with your new util method

[2019-05-22 07:27] matinh commented on #4791
I tried to reproduce it and the NPE only happens with Mojarra, not with MyFaces! Maybe this is related to https://github.com/eclipse-ee4j/mojarra/issues/4562? Also related might be PrimeFaces issues https://github.com/primefaces/primefaces/issues/4756 and https://github.com/primefaces/primefaces/issues/4771.

[2019-05-22 09:22] ProfEibe commented on #4777
I´ve updated mellowares css a little bit so it also works with textarea inputfields.
please use the second commit (9ddb7af), i don´t know how to remove the first one :/

I hope I´ve done this right, it´s my first time contributing to this project.

[2019-05-22 10:21] #4777 closed, assigned to nobody

[2019-05-22 11:10] #4824 closed, assigned to nobody

[2019-05-22 13:02] mertsincan commented on #4777
Hi @melloware
Thanks a lot for the PR, I made some changes for components that wrap input element. Exp; calendar

Best Regards,

[2019-05-22 13:20] melloware commented on #4777
Awesome!   Mert do you think that trick will work for InputNumber as well?  I noticed since InputNumber was wrapped in a Div it wasn't quite working right.  So I wonder if Calendar is the same way.

[2019-05-22 13:30] mertsincan commented on #4777
- Yes, it works fine for me.

- It has `<span>`, no `<div>`;
[code]

[2019-05-22 20:07] melloware commented on #4791
I would say if you have narrowed this to a Mojarra issue we should probably close this ticket.

[2019-05-22 20:27] Dougnlizt commented on #2443
@PlassJ , I see you closed this request.  Any particular reason why?  I thought it was a good suggestion, and I'd like to see it added as well.

[2019-05-22 20:29] melloware commented on #4747
We should probably add the security label to this ticket since it addresses a major CVE in Jquery.

[2019-05-22 20:57] matinh commented on #4791
I actually don't know if it's a Mojarra issue. I just said it is not reproducable with MyFaces and it might be related to the linked Mojarra issue. @tandraschko said in https://github.com/primefaces/primefaces/issues/4756#issuecomment-490207259

So I wouldn't close this till somebody had a closer look.

[2019-05-23 09:58] Olafxso opened #4828 "contextDisposition in fileDownload documentation must be contentDisposition"
contextDisposition in fileDownload documentation must be contentDisposition
https://primefaces.github.io/primefaces/7_0/#/components/filedownload

[2019-05-23 10:51] #4828 closed, assigned to nobody

[2019-05-23 13:08] PlassJ commented on #2443
@Dougnlizt , oh dear .... this is nearly 2 years old .... @tandraschko did you know something about this?

[2019-05-23 20:04] firsthour opened #4831 "Fix calendar docs spelling"
For pull request #4830

Very minor.

[2019-05-23 20:14] melloware commented on #4831
For documentation changes only you don't need to create issues.  We appreciate it but not necessary.  Thanks for the PR.

[2019-05-23 20:26] tandraschko commented on #4831
Thanks!

[2019-05-23 20:26] #4831 closed, assigned to nobody

[2019-05-24 09:34] MarkusChur opened #4832 "SelectOneMenu misuses aria attribute on <input>"
SelectOneMenu generates text fields for autocomplete/filtering that have aria-expanded attribute set. Accessibility tools classify this as failure, e. g. chrome addon: Accessibility Insights for Web.
By removing this attribute on inputs the source seems to be WCAG compliant.

https://www.w3.org/WAI/WCAG21/Understanding/parsing.html
https://www.w3.org/WAI/WCAG21/Understanding/name-role-value.html

[2019-05-24 10:16] ProfEibe commented on #4817
Sry about asking this question here. I don´t know where else would be intelligent.

@mertsincan maybe you can help me: Is there a possiblity to checkout the latest version from 6.2 with all bugfixes? I know i can search for the tag with 6_2 but as far as I know this is the release version with 6.2.0. But this fix is labled with 6.2.21. Is this a version accessable?
Is there a branch with the bugfi

[2019-05-24 10:26] tandraschko commented on #4817
Elite Versions Like 6.2.x are closed source and must be payed for it. Only community Versions like 6.1, 6.2 and 7.0 are open source and free

[2019-05-24 10:30] ProfEibe commented on #4817
Aah, alright. So the versions I receive through the public maven repository are most probably the community versions as well, right?

[2019-05-24 10:49] tandraschko commented on #4817
Exactly

[2019-05-24 10:50] melloware commented on #4832
PR Submitted. Thanks for reporting!

[2019-05-24 10:52] melloware commented on #4817
@ProfEibe if you pay 99$ for Elite you have access to all the versions and you can download PF 6.2.20 which is the latest patched version of 6.2.

[2019-05-24 10:56] youngroman commented on #4818
same issue here. easy fix would be to change the default separators to include the spaces. I don't know of a Date/Time-Pattern that uses ", " or " - " so this might be a permanent fix unless you decide to customize the separators.

proposed code looks like this:
`
            case "multiple": {
                String[] parts = submittedValue.split(", ");
`
and
`            case "range": {

[2019-05-24 11:07] melloware commented on #4818
@youngroman not a bad suggestion.  @mertsincan WDYT?  I can submit a PR if you think its OK.

[2019-05-24 12:30] #4832 closed, assigned to nobody

[2019-05-24 14:32] melloware opened #4834 "Client Side Validation: Flexibility enhancement and 2.0 validations"
I was poking around with PF’s client-side bean validators and found the BeanValidationMetadataMapper class. I think the map in that class could use the class name as the key, rather than the class itself. This would allow you to register client-side validators for bean validation annotations that aren’t available in PF’s (very old) validation-api-1.1.0.Final.jar. I was mostly trying to figure out

[2019-05-24 14:55] #4834 closed, assigned to nobody

[2019-05-25 14:03] djmj opened #4837 "New feature: combine fileupload with image cropper"
Image cropper and fileupload are nice plugins but a combination of both would be awesome since the cropping could be done before saving the image in the system.

**Process**

When the user selects an image a crop button / checkbox could be shown next to the preview.

On upload a dialog (master / detaillevel) can be shown where the user can select the crop rectangle and we programmers will automati

[2019-05-25 14:07] tandraschko commented on #4837
very unlike that it will be implemented without sponsoring

[2019-05-25 14:19] djmj commented on #4837
Understandable but it should also wait until a new base like cropper.js is selected #4136.

[2019-05-27 06:54] mertsincan opened #4838 "Add 'addOnBlur' attribute to Chips"
Whether to add an item when the input loses focus.

[2019-05-27 06:54] #4838 closed, assigned to mertsincan

[2019-05-27 08:28] mertsincan opened #4839 "Add node level info to the nodes of TreeTable"
Users want to add custom styles to rows according to the node level on TreeTable. Exp; odd and even rows style like in Datatable.

For Premium Layouts, please use the following scss code;
Exp; paradise layout
[code]
Note: The above code can be added into _theme_styles.scss file.

[2019-05-27 08:29] #4839 closed, assigned to mertsincan

[2019-05-27 11:20] jansohn opened #4840 "DataTable: Cannot update footer only as initial footer is not rendered anymore"
## 1) Environment
- PrimeFaces version: `7.0`
- Application server + version: `Tomcat 8.5.37`
- Affected browsers: tested with `Firefox` and `Edge`

## 2) Expected behavior
`<h:panelGroup id="buttonPanel">` component in `<f:facet name="footer">` should be updateable (without updating the whole datatable) even if in the initial state all `<p:commandButton>` components are not rendered.

## 3) Actua

[2019-05-27 12:05] melloware commented on #4840
Just to make sure I understand are you saying.. if one of your buttons IS rendered then the h:panelGroup is updateable?

[2019-05-27 13:06] jansohn commented on #4840
Yes, that is correct. If one of my buttons is always shown the `h:panelGroup` is updateable.

[2019-05-27 16:46] melloware commented on #4840
Understood. If you need a quick fix right now you can simply hide a component in there styling it to be hidden like...
[code]

This will make the footer rendered but that will never be displayed or take up screen real estate.

[2019-05-27 20:04] ravihariharan opened #4841 "Text Editor : Support Image Handling instead of Base64 encoding"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: NA
- Affected browsers: NA

## 2) Expected behavior

How to insert images by uploading to the server instead of Bas

[2019-05-27 20:12] tandraschko commented on #4841
doesnt look like the issue is resolved.

[2019-05-27 20:24] ravihariharan commented on #4841
there seems to be more than 1 solution and i cannot find a recommended approach.  let me review a bit more.

[2019-05-28 11:44] marikaya opened #4842 "dtFilterView.cars"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-05-28 12:25] mallorygiles opened #4843 "fileUpload: Update works sporadically"
1) Environment
- PrimeFaces version:
Tried on versions 7.0, 7.0.2. 7.0.3

Browsers: I initially discovered while using IE 11, but also was able to reproduce in the showcase using Chrome 74.

 2) Expected behavior
After uploading a file, the component given by "update" should always update

 3) Actual behavior
The component given by "update" does update sometimes, but frequently, it does not.

 4)

[2019-05-28 12:35] melloware commented on #4843
Hmmm I just tried it 9 times in a row in Chrome 74 and the growl appeared every time?

[2019-05-28 12:38] #4842 closed, assigned to nobody

[2019-05-28 12:47] mallorygiles commented on #4843
I just noticed something. When I tried with a file that is 40 KB, it always appears, but with a file that s 20 KB it never appears. Could it be in the short difference in time it takes to upload those 2 files?

[2019-05-28 12:49] melloware commented on #4843
Possibly. I tried it with file as small as 6K and as large as 88K and all of them seems to work.

[2019-05-28 13:03] fattanasio commented on #929
Hi,
I have same problem. I have a datatable with row expansion and into expansion there is a selectionable datatable with checkbox.
On all expansion there is a command button
Selection is always null.

How fix this ?
Thank you
![Senza titolo-1](https://user-images.githubusercontent.com/24672070/58479968-a6adef00-8159-11e9-9e42-ae1bbb935f11.jpg)

[2019-05-28 13:04] fattanasio commented on #3812
Hi,
I have same problem. I have a datatable with row expansion and into expansion there is a selectionable datatable with checkbox.
On all expansion there is a command button
Selection is always null.

How fix this ?
Thank you
![Senza titolo-1](https://user-images.githubusercontent.com/24672070/58480105-e379e600-8159-11e9-99ca-1684487ac881.jpg)

[2019-05-28 13:26] mallorygiles commented on #4843
I think I've narrowed it down now. It has to do with the file extension, and not the file size. The showcase has allowTypes="/(\.|\/)(gif|jpe?g|png)$/". Of course if I try to upload a .txt file for instance, I get a warning message saying "Invalid file type" before I can even try to upload. If I select a file that has .PNG or .GIF in all caps, I don't get the "Invalid file type" message and can up

[2019-05-28 13:59] melloware commented on #4843
Its probably related to all the security fixes add to check file names and content etc.  https://github.com/primefaces/primefaces/issues?q=is%3Aissue+filename+is%3Aclosed

[2019-05-28 14:20] mallorygiles commented on #4843
I don't know if I should open a separate issue for this, or rename this one, but can there be some type of indication when a file is rejected because of these other security measure. I can see my users uploading a file such as this, and then wonder why there was no message to say that the upload was successful or not.

After looking at the issue in the link you gave, my uneducated guess would be t

[2019-05-28 14:29] melloware commented on #4843
Maybe it’s the showcase code not properly written but I believe it throws an exception that could be handled and display an error message.  The showcase might not be doing that.

[2019-05-29 09:59] rboughani opened #4844 "commandButton param value not working correctlly inside datatable"
Hi all,
i have a bug that i can't resolve in my following code

Java Code

       		@ManagedBean(name = "documents")
		@RequestScoped
		public class DocumentController implements Serializable {

				@ManagedProperty(value="#{param.docfileid}")
			private int documentId;

			public void downloadButtonAction(ActionEvent actionEvent) {
					LOGGER.debug("Inside downloadEvent Listner...");
					LOGGER

[2019-05-29 11:09] #4844 closed, assigned to nobody

[2019-05-29 12:45] melloware commented on #4843
@mallorygiles Can you confirm?  I am seeing it throw proper exceptions in the server side code.

[2019-05-29 13:36] mallorygiles commented on #4843
I do not see an exception. My code is as follows:
`<p:fileUpload id="upload" fileUploadListener="#{reportUploadHandler.handleFileUpload}"
                              mode="advanced" auto="true" widgetVar="upldWV" update="upldPnl"
                              allowTypes="/(\.|\/)(pdf|xlsx|xlsm)$/"/>`

`public void handleFileUpload(FileUploadEvent event) {
        currentUploadedFile = event.getF

[2019-05-29 13:59] melloware commented on #4843
@mallorygiles You are right.   Looking at this code if the "allowTypes" does not match it simply sets the submitted value to "" instead of throwing an error.

https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/fileupload/NativeFileUploadDecoder.java#L83-L88

@cnsgithub All it does is LOG a message but gives the user no feedback when the file type is not val

[2019-05-29 14:51] matinh opened #4846 "DataTableRenderer: Refactoring of encodeFilter()"
This is just a refactoring: split one big method into smaller ones to make overriding easier without alot of copy/paste.

See the foruml for details: https://forum.primefaces.org/viewtopic.php?f=3&t=59011&p=175508

[2019-05-29 14:52] matinh commented on #4846
Find a PR for this issue here: https://github.com/primefaces/primefaces/pull/4845

[2019-05-29 14:52] melloware commented on #686
@tandraschko its been three years I think its safe to close this suggestion as no one else has really asked for it and the PF Filters are probably not going to change.

[2019-05-29 15:14] matinh opened #4847 "DataTable: improve support for filterOptions in dynamicColumns"
See forum post https://forum.primefaces.org/viewtopic.php?f=3&t=59011&p=175510 for details.

In short: <p:dataTable> with <p:columns> inside has support for filterOptions, but it is not possible to have columns with and without filterOptions.

[2019-05-29 15:18] matinh commented on #4847
I'll submit a PR, once #4846 is accepted and closed.

[2019-05-29 16:50] melloware commented on #3491
Finally Arrived in PFE 7.0.1: https://www.primefaces.org/showcase-ext/views/fab.jsf

[2019-05-29 16:50] melloware commented on #1006
Finally Arrived in PFE 7.0.1: https://www.primefaces.org/showcase-ext/views/fab.jsf

[2019-05-29 17:44] melloware commented on #4841
@ravihariharan Isn't this a duplicate of this ticket: https://github.com/primefaces/primefaces/issues/4452 ???

[2019-05-29 19:24] ybendek commented on #1006
@melloware  Awesome, it looks great

[2019-05-29 19:40] melloware commented on #1006
@jepsar did all the hard work!

[2019-05-29 20:15] tandraschko opened #4848 "SelectableDataModelWrapper misses a default constructor"
https://forum.primefaces.org/viewtopic.php?f=3&t=59015

[2019-05-29 20:17] #4848 closed, assigned to nobody

[2019-05-29 20:18] tandraschko commented on #4841
yup, seems to

[2019-05-29 20:18] #4841 closed, assigned to nobody

[2019-05-30 00:54] melloware opened #4849 "AutoUpdate: Memory Leak"
# HISTORY
We recently updated an application from PF 6.1 to 6.2.20.   Our application won't stay alive for more the 24 hours without going into a GC death spiral and running out of memory.

We have narrowed the leak down to leaking copies of `javax.faces.component.StateHolderSaver`

## 1) Environment
- PrimeFaces version: 6.2.20
- Does it work on the newest released PrimeFaces version? NO on 7.0.3

[2019-05-30 08:35] tandraschko commented on #4849
I currently dont have much time but i suggest to dig deeper with yourkit. You might be able to get a free Version as Open source Guy :)

[2019-05-30 11:03] melloware commented on #4849
I also submitted through PRO account.  I am digging deeper.

[2019-05-30 14:44] melloware commented on #4813
OK I have been testing this with my production application and everything appears to be working properly.  It throws the error when its before mindate, works fine if it is equal to or greater than mindate.

[2019-05-30 19:51] melloware opened #4850 "Core: PrimeFaces.resources.getFacesResource() RegExp issue"
Found this error randomly in production.

[code]

Because we use OmniFaces Resource Handler the URL can be something crazy like...

https://test.com/javax.faces.resource/eNp9kGEOwiAMhU-08X_n8AKMVS0rFCkkLvHwjsASg870x3v9-kJo2Xm8agMy8eFGK68Q0UHl9pEhbqpKNzMc4Qu5wB58-vvOECjf0HeZAZ4JvCB7mYRwAc5JHeY8-pOex2dis2ZUTc-DpLfygSrdNndOK2yqSjfDhcCxx8RRffiSsqKCdcN-pB1W0A4ziolMdOFGF532mglaz1qwLPUGmz-thg.js.jsf?ln=o

[2019-05-30 20:49] #4850 closed, assigned to nobody

[2019-05-30 20:59] ybendek commented on #1006
@jepsar thanks...this will be very usefull  :)

[2019-06-03 07:27] tomlux commented on #4636
Hi,
the "getRowCount" method is returning the row count of the filtered rows. The "rowsParam" has the row count of the non-filtered table.
I did a small workaround in the UIData.java to fix/bypass it by updating the isRowsPerPageValid method:
https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/api/UIData.java#L252

My modified lines:
[code]

Here the entire

[2019-06-03 07:30] tomlux commented on #4647
commented a possible workaround here:
 https://github.com/primefaces/primefaces/issues/4636#issuecomment-498144063

[2019-06-03 10:11] MMetz-OV opened #4852 "inputNumber: value becomes corrupted because of p:remoteCommand autoRun="true""
After days of debugging I found an issue, that a p:remoteCommand with attribute autoRun="true" does corrupt an p:inputNumber to set the value in the backent to 0 by loading the page.

From my point of view, it looks like, that the autoRun="true" does create a kind of AJAX update too early which does try to send back the not initialized hidden input field to the server. But the hidden input field d

[2019-06-03 10:30] tandraschko commented on #4852
Can you try the master? I think it may already be fixed as we set the Input value not via js anymore

[2019-06-03 11:12] melloware commented on #4852
I agree with @tandraschko I think it may be fixed with this ticket: https://github.com/primefaces/primefaces/issues/4543

[2019-06-03 11:27] MMetz-OV commented on #4852
Thanks for the fast response. Where can I download a JAR to test with?

[2019-06-03 11:40] melloware commented on #4852
You can download the 7.1-Master SNAPSHOT by doing this in your pom.xml to use JitPack.

[code]

[2019-06-03 12:07] melloware commented on #4636
Please review my PR: https://github.com/primefaces/primefaces/pull/4853

I changed your casting of List to Collection just to be safe and not assume its a list inside.
I refactored the code slightly to not do so many Integer.toString() calls.

[2019-06-03 12:55] MMetz-OV commented on #4852
OK. Not so easy to get the snapshot for a non Maven user, but I tested with and it works!

In the log I get now:

So, I still have all getter and setter but now the setter with the right value. So I will keep the process="@this" in my code, but I know, that future versions will not longer contain this pitfall.

Thanks again for the fast response and all your work!

[2019-06-03 12:55] #4852 closed, assigned to nobody

[2019-06-03 15:44] melloware commented on #4843
another temporary fix is to make the regex case insensitive like adding the "i" option.

[code]

[2019-06-04 07:54] xxaaxxaa commented on #4747
Does the tag 7.0.4 means itwill be relaese w 7.0.4 ? when ?

[2019-06-04 09:25] GedMarc commented on #2032
Still exists in PF 7

[2019-06-04 11:11] melloware commented on #4747
Yes 7.0.4 means it will be in Elite 7.0.4 . I would expect it out sometime in the next 2 weeks.

[2019-06-04 11:15] melloware commented on #2032
@GedMarc I am not seeing the same problem described above happening in the Showcase?  Are you getting the exact same issue?

[2019-06-04 12:06] Rawi01 commented on #3192
The current showcase shows exactly the described behaviour. Simply clear the second example input.

[2019-06-04 12:09] melloware commented on #3192
@Rawi01 Clearing the input is not the same as this ticket?  This ticket just says focus in and focus out of the element.  If you are clearing the value aren't you changing it?

[2019-06-04 12:18] Rawi01 commented on #3192
I think I should be more specific :)
I said that you have to clear the field to get an empty input with a symbol as described in this issue.

Steps:
- Clear input
- Focus out (Change triggered, as it should)
- Focus in
- Focus out (Change triggered again, this is the issue described here)

[2019-06-04 12:23] melloware commented on #3192
Thank you for clarifying!

[2019-06-04 13:05] melloware commented on #3192
@tandraschko can you re-open this ticket. It is definitely a bug in AutoNumeric right here:

https://github.com/primefaces/primefaces/blob/fee777a68575062260c36e31b0a388f0fd29621f/src/main/resources/META-INF/resources/primefaces/inputnumber/0-autoNumeric.js#L1099-L1103

If you step through the debugger it is saying the values don't match because of the "CHF" suffix and firing the change event.

[2019-06-04 13:11] Rawi01 commented on #3192
I just fixed it for my usecase by replacing these lines with
[code]
The code in autoNumeric were added in this commit: https://github.com/autoNumeric/autoNumeric/commit/553812d6261ca2debec872e5d34850c66407caa7

[2019-06-04 13:32] melloware commented on #3192
I agree with your fix and submitted a PR.

[2019-06-04 13:55] Rapster opened #4855 "Refactor AjaxBehaviorHandler"
Since I'm working on https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/706 and bringing a new tag handler on top of `AjaxBehaviorHandler`. I realized `AbstractBehaviorHandler` could be a lot more simplified and extendable to ease overriding existing tag handlers

PR on his way, as I'd like to read your comments before merging into master

[2019-06-04 14:47] fabermundi opened #4857 "AutoComplete: Item from dropdown selected when pressing "tab""
## 1) Environment
- PrimeFaces version: 7.0.3
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Wildfly 16
- Affected browsers: Chrome, Firefox, IE

## 2) Expected behavior
First element of dropdown should not be

[2019-06-04 16:03] #4855 closed, assigned to Rapster

[2019-06-04 16:44] melloware commented on #4857
I think your issues may be related to these others?

https://github.com/primefaces/primefaces/issues/344
https://github.com/primefaces/primefaces/issues/1719
https://github.com/primefaces/primefaces/issues/3314

[2019-06-05 08:03] fabermundi commented on #4857
#1719 and #3314 Seems to describe another (design) problem, not related to this.
I already saw #344 but did not found out, what he means. By rereading the issue I think it could be releated (but I'm still not sure) for me it seems that the "autoSelection" property is ignored when leaving the autocomplete with the tabulator.

[2019-06-05 11:27] jepsar commented on #822
What library is used here? https://github.com/jsplumb/jsplumb ?

[2019-06-05 11:43] melloware commented on #4857
PR submitted. If you have autoSelection="false" the TAB key will work like normal and not select the item.

[2019-06-05 11:43] melloware commented on #344
PR submitted. If you have autoSelection="false" the TAB key will work like normal and not select the item.

[2019-06-05 11:52] melloware commented on #3314
Fixed with PR: https://github.com/primefaces/primefaces/pull/4858

If you set `autoSelection="false"` on AutoComplete the TAB key will work like normal and not select the item.

[2019-06-05 11:53] melloware commented on #349
Fixed with PR: https://github.com/primefaces/primefaces/pull/4858

If you set `autoSelection="false"` on AutoComplete the TAB key will work like normal and not select the item.

[2019-06-05 11:57] melloware commented on #822
Yep currently it is jsPlumb 2.1.0.  We really should break the widget out into two files right now it has the compressed JSPlumb right in the widget.js.

[2019-06-05 12:47] fabermundi commented on #4857
Great! Thank you

[2019-06-05 12:58] melloware commented on #4857
@fabermundi Please re-open the PR has not been reviewed or accepted yet.

[2019-06-05 13:26] Roknauta opened #4859 "BooleanButton: Encoding problem on change"
When change for Off option, show text with encoding problem. Correct is **Não**. This occurs after upgrading to Primefaces 7. I'm using properties file.

[2019-06-05 13:29] tandraschko commented on #4859
Please follow the issue template

[2019-06-05 14:07] mafaul commented on #4765
Columns highlighted in yellow are never set.
It is almost as if the var (subField) is null at the time that it is needed.
![image](https://user-images.githubusercontent.com/12007706/58962603-dee1ad00-87ab-11e9-8c01-b368b49af3bd.png)

[2019-06-05 14:18] mafaul commented on #4724
It worked in PF 6.2 + JSF 2.2, it does not work in PF 7+ JSF 2.3 anymore.
I suspect that this was exactly the same issue: https://github.com/primefaces/primefaces/issues/4765
When using p:columns the filterBy value is not passed to the LazyDataModel

[2019-06-05 15:54] Rawi01 opened #4860 "OverlayPanel: Add ARIA attributes to target"
## 1) Environment
- PrimeFaces version: latest
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: all
- Affected browsers: all

## 2) Expected behavior
The overlay panel adds ARIA `aria-expanded` and `aria-cont

[2019-06-06 06:08] tandraschko opened #4862 "OverlayPanel: add collision"
https://api.jqueryui.com/position/

[2019-06-06 06:10] #4862 closed, assigned to tandraschko

[2019-06-06 11:44] stolp opened #4863 "fileUpload: Unable to upload a file without extension"
## 1) Environment
- PrimeFaces version: 7.0.3
- Does it work on the newest released PrimeFaces version? No
- Affected browsers: All

## 2) Expected behavior
It should be possible to upload any existing file.

## 3) Actual behavior
Files without extensions cause a FacesExeption.

## 4) Steps to reproduce
Create a file named 'foobar' and try to upload it

Reason for this is the following code in Fil

[2019-06-06 11:54] erickdeoliveiraleal commented on #4662
@mertsincan can you merge it in elite release?

[2019-06-06 18:27] koan00 opened #4864 "BlockUI: Showcase examples do not work"
## 1) Environment
- PrimeFaces version:  Running PrimeFaces-7.1-SNAPSHOT on Mojarra-2.3.2.
- Affected browsers: Chrome / Firefox

## 2) Expected behavior

All three examples work.

## 3) Actual behavior

Only the first example 'Basic' works.

## 4) Steps to reproduce

1. Visit https://www.primefaces.org/showcase/ui/misc/blockUI.xhtml
2. Use the second or third example

[2019-06-06 19:20] melloware commented on #4864
OK good catch, it turned out to be Floating Label related that was breaking the JS on the page.  Fix submitted.

[2019-06-06 19:24] #4864 closed, assigned to nobody

[2019-06-07 07:18] mafaul commented on #4724
[sample.zip](https://github.com/primefaces/primefaces/files/3264787/sample.zip)
Herewith a sample project to easily view issues.
Tested on Payara 5.191 running AWS Corretto jdk1.8.0_202
**Actual Outcome:**
![image](https://user-images.githubusercontent.com/12007706/59087433-e49ed600-8904-11e9-9cad-145a2d3f9d28.png)
**Expected outcome:**
    Old: Hello 3
    New: test
    Field: string
    RowNo: 4

[2019-06-07 07:37] mafaul commented on #4765
It appears that this issue only appears on p:columns

[2019-06-07 11:13] tandraschko commented on #4863
@cnsgithub can you assist?

[2019-06-07 11:15] #4860 closed, assigned to nobody

[2019-06-07 12:49] melloware commented on #107
@tandraschko I think this old ticket can be closed.  We aren't doing any more work on old JQPlot Charts and the new ChartsJS charts are responsive by default and size to their container.

Thus you could wrap a CHartJS chart in a Resizable and it would resize automatically and fill to its container.

[2019-06-07 13:16] #107 closed, assigned to nobody

[2019-06-07 14:22] melloware commented on #3990
Since we decided that all real validation should happen in your app i updated the JS to give better feedback than the current implementation.  Must be at least 8 characters and contain any 3 of 4 categories of number, uppercase letter, lowercase letter, or special character.  Its what we use at a couple of my clients.

[2019-06-07 14:22] #3990 closed, assigned to Rapster

[2019-06-07 15:16] Rawi01 opened #4868 "SelectOneMenu: Improve filter performance"
## 1) Environment
- PrimeFaces version: **latest**
- Does it work on the newest released PrimeFaces version? Version? **No**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **No**
- Application server + version: **all**
- Affected browsers: **Internet Explorer, Firefox**

## 2) Expected behavior
Using the filte

[2019-06-07 15:57] Rawi01 opened #4870 "Paginator: RowsPerPageDropdownRenderer adds invalid value attribute"
## 1) Environment
- PrimeFaces version: **latest**
- Does it work on the newest released PrimeFaces version? Version? **No**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **No**
- Application server + version: **all**
- Affected browsers: **all**

## 2) Expected behavior
PrimeFaces creates beautiful and corre

[2019-06-07 16:08] Rawi01 opened #4872 "SelectOneMenu: Filter input has icon as child"
## 1) Environment
- PrimeFaces version: **latest**
- Does it work on the newest released PrimeFaces version? Version? **No**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **No**
- Application server + version: **all**
- Affected browsers: **all**

## 2) Expected behavior
PrimeFaces creates beautiful and corre

[2019-06-07 16:12] #4333 closed, assigned to nobody

[2019-06-07 16:22] #4872 closed, assigned to nobody

[2019-06-07 18:59] melloware commented on #1048
I agree with this change since a few lines later it initializes the list if there was something there.

https://github.com/primefaces/primefaces/blob/c058d0c3729cc9e035ad129e3a74b826137a670b/src/main/java/org/primefaces/component/autocomplete/AutoCompleteRenderer.java#L719-L721

[2019-06-08 11:02] #1048 closed, assigned to nobody

[2019-06-08 13:39] Rapster commented on #1048
On a general note, should we return a new instance of ArrayList or use `Collections.emptyList()`?

Lately I took the habit to use the second option

[2019-06-08 16:05] ghost commented on #1048
@Rapster I don't know the current Primefaces stance towards Java 7+ but the time I created the issue most Primefaces components didn't even use Generics but raw collections instead.

[2019-06-09 18:43] Rapster commented on #4868
First, it's a duplicate of #4588 and second, displaying 2000 items in a SelectOneMenu is not the best idea. You better use another component...

Though, I like your fix, maybe @mertsincan could share his wisdom

[2019-06-10 08:33] mertsincan opened #4875 "The onAdd callback throws JS-error on FileUpload"
Reported By PRO User;

ExampleCode (modified from Showcase)

[code]

[2019-06-10 08:34] #4875 closed, assigned to mertsincan

[2019-06-10 09:10] mertsincan commented on #4333
Hi @melloware @tandraschko @cnsgithub
![image](https://user-images.githubusercontent.com/11868120/59185262-a3166100-8b78-11e9-876b-28e02bbaf3d9.png)
WDYT?

[2019-06-10 09:12] Rapster commented on #4333
Please give the full stracktrace (and if necessary run in debug -X if I'm not mistaken) and also, which command did you run? Travis does not seem to complain, and neither do I with current master

[2019-06-10 10:35] mertsincan commented on #4333
Hi Rapster,

Fixed now, Thanks a lot ;)

[2019-06-10 10:37] mertsincan opened #4876 "Add columnHeaderFormat attribute to Schedule"
Format for column headers. the columnFormat is deprecated; https://fullcalendar.io/docs/v3/columnFormat

[2019-06-10 10:38] #4876 closed, assigned to mertsincan

[2019-06-10 11:11] melloware commented on #4333
@mertsincan What ended up being the issue?  I was going to suggest JDK version or Maven version?

[2019-06-10 11:23] mertsincan commented on #4662
Of course! Thanks a lot ;)

[2019-06-10 13:08] mertsincan commented on #4333
Hi @melloware,

I removed owasp packages from my local repo and added them again using "mvn clean install" command. When I use the build icon of Netbeans, I get the above error. So, we need to build the project with the command line after this PR; https://github.com/primefaces/primefaces/commit/e7f156a00e6b490b8113b644f83819bbc1daade5
For me, no problem ;)

Also, thanks a lot for all PRs :) They a

[2019-06-10 14:40] xxaaxxaa commented on #4747
can elaborate what is the plan to finish CSP now that v7 supports JQuery 3.4.1 ?

[2019-06-10 14:50] melloware commented on #4747
I can't speak for @tandraschko but there are still two open tickets around its implementation:
https://github.com/primefaces/primefaces/issues/4787
https://github.com/primefaces/primefaces/issues/3505

[2019-06-10 14:52] tandraschko commented on #4747
no idea whats left - i think just #4787 is open
maybe @cnsgithub can give some thoughts whats left?

[2019-06-10 21:07] demanzano commented on #4838
I got a NPE if I do not explicity include the attrubute
addOnBlur="false"
on p:chips  !

Here it is:

23:04:56,255 SEVERE [org.primefaces.application.exceptionhandler.PrimeExceptionHandler] (default task-6) null: java.lang.NullPointerException
	at org.primefaces.component.chips.Chips.isAddOnBlur(Chips.java:127)
	at org.primefaces.component.chips.ChipsRenderer.encodeScript(ChipsRenderer.java:189)

[2019-06-11 07:44] zoltanrunyo opened #4877 "TreeTable: Keyboard navigation"
## 1) Environment
- PrimeFaces version: 7.0.4
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Wildfly 16
- Affected browsers: Google Chrome, Mozilla Firefox

## 2) Expected behavior

The following tree based components support keyboard navigation (user is able to expand node, collapse node and navigate

[2019-06-11 07:47] mertsincan commented on #4838
Hi @demanzano,

I couldn't replicate it. It works fine for me;
[code]

[2019-06-11 07:50] mertsincan commented on #4838
I think you use 6.2.21. Is it right?

[2019-06-11 07:51] demanzano commented on #4838
it happens to me regularly, my setup is: Wildfly 15, Java EE 8, PF 6.2.21, PFext 6.2.10 running on Mac.  I agree it's very strange, I don't know why...

[2019-06-11 07:51] mertsincan opened #4878 "The 'addOnBlur' attribute throws NPE on Chips"

[2019-06-11 07:55] #4878 closed, assigned to mertsincan

[2019-06-11 07:55] mertsincan commented on #4838
Merge bug :( Fixed for 6.2.22. Sorry for the mistake.
https://github.com/primefaces/primefaces/issues/4878

Best Regards,

[2019-06-11 07:56] demanzano commented on #4838
Thank you very much for very quick answer & fix !!

[2019-06-11 11:51] dvmarcilio opened #4881 "SonarQube: String function use should be optimized for single characters"
SonarQube rule: [String function use should be optimized for single characters](https://rules.sonarsource.com/java/RSPEC-3027)

`String.indexOf()` and `String.lastIndexOf()` can be more performant when called with a `char` argument instead of a single letter `String`.

[2019-06-11 11:53] #4881 closed, assigned to nobody

[2019-06-11 12:01] MarkusChur opened #4882 "ColumnToggler: Duplicate id"
ColumnToggler produces duplicate identifiers. Verified with the current showcase.

Generated output contains an empty DIV element, e. g.:
`<div id="cars:j_idt703"></div>`
And a div element containing the links:
`<div id="cars:j_idt703" role="dialog" class="ui-columntoggler ui-widget ui-widget-content ui-shadow ui-corner-all" style="z-index: 1004; width: 101.719px; display: none; top: 554.984px; le

[2019-06-11 12:04] tandraschko commented on #4882
Please provide at least steps to produce.

[2019-06-11 12:06] MarkusChur commented on #4882
Steps to reproduce:

- Either use the ColumnToggler Component or browse to https://www.primefaces.org/showcase/ui/data/datatable/columnToggler.xhtml
- Use a tool or verify manually that there are duplicate component ids.
![ColTog1](https://user-images.githubusercontent.com/6985014/59270516-f3adbd00-8c51-11e9-92a7-2a13ec56d75c.PNG)

[2019-06-11 12:08] dvmarcilio opened #4883 "SonarQube: Strings should not be concatenated using '+' in a loop"
SonarQube rule [Strings should not be concatenated using '+' in a loop](https://rules.sonarsource.com/java/RSPEC-1643):

[2019-06-11 12:12] dvmarcilio opened #4884 "SonarQube: Parsing should be used to convert "Strings" to primitives"
[Parsing should be used to convert "Strings" to primitives](https://rules.sonarsource.com/java/RSPEC-2130):

[2019-06-11 12:18] dvmarcilio opened #4886 "SonarQube: "entrySet()" should be iterated when both the key and value are needed"
SonarQube rule: ["entrySet()" should be iterated when both the key and value are needed](https://rules.sonarsource.com/java/RSPEC-2864)

[2019-06-11 12:35] #4884 closed, assigned to nobody

[2019-06-11 12:35] jepsar opened #4888 "LinkButton renders style attribute twice causing layout issues"
I just ran into this page at the showcase (7.1-SNAPSHOT):

https://www.primefaces.org/showcase/ui/button/linkButton.xhtml

The styling does not seem to be right to me (result is more or less the same for all the free themes):

![Screenshot from 2019-06-11 14-28-38](https://user-images.githubusercontent.com/7500178/59272030-59e80f00-8c55-11e9-996b-301d32c80e2a.png)

The image was taken with Chrome.

[2019-06-11 12:35] #4886 closed, assigned to nobody

[2019-06-11 12:36] tandraschko commented on #4888
a PR would be great

[2019-06-11 12:37] jepsar commented on #4888
@tandraschko I haven't looked into it yet. I'll have a look tonight.

[2019-06-11 13:08] jepsar commented on #4888
It is caused by https://github.com/primefaces/primefaces/blob/4551eaa37ca975430bc08b8f7927cf7458165ec9/src/main/java/org/primefaces/component/linkbutton/LinkButtonRenderer.java#L77

This will render the style attribute again (should only be rendered in the outer span).

https://github.com/primefaces/primefaces/blob/36a455f9a0ff32cc77e6a746f7c8b6f3486272c7/src/main/java/org/primefaces/util/HTML.jav

[2019-06-11 13:14] cnsgithub commented on #4849
@melloware Cannot get your demo application running. Is there something special to execute?

[code]

[2019-06-11 13:21] melloware commented on #4849
@cnsgithub Are you sure you are running "mvn clean jetty:run-exploded" ???

here is my **mvn --version** output

[code]

[2019-06-11 13:24] cnsgithub commented on #4849
I just removed this from `web.xml`:
[code]

Then `jetty:run` is working with YJP profiling from within IntelliJ.

[2019-06-11 13:27] melloware commented on #4849
thanks for investigating!

[2019-06-11 13:30] tandraschko commented on #4849
the listener will be replaced only with jetty:run-exploded, therefore jetty:run won't work out of the box

[2019-06-11 13:44] cnsgithub commented on #4849
I started with `-Xms 256M -Xmx 4G`. In the first 12 minutes the G1 Eden Space had been growing from 5MB to 145MB, then after automatic minor GC eden space was 5MB again. The old generation remained as is. So I cannot yet reproduce this issue.

@melloware How did you configure your JVM options? When you say you're application does not survive more than 24 hours, does the JVM crash with `OutOfMemory

[2019-06-11 13:48] melloware commented on #4849
Yes the Garbage Collection will appear to be working but its not reclaiming EVERYTHING.  After each GC the number of javax.faces.component.StateHolderSaver will climb slowly.  With only 1 user logged in it will be very slow to get an OOM.

With 1000's of users and running for 24 hours the javax.faces.component.StateHolderSaver eventually fill up the entire space.  Its very subtle if you only have

[2019-06-11 14:01] cnsgithub commented on #4849
How can we reproduce it then? Further decreasing the poll interval isn't possible. Would it help to just include many `p:poll` components or do you think it's rather related to the number of sessions which are created and kept alive by thousands of users? Then we would have to create a JMeter loadtest. Or just decrease the heap to an absolute minimum to get quicker results? What about `-XX:+HeapDu

[2019-06-11 14:02] Rawi01 commented on #4868
Oh, I missed that old one, sorry about that.

If you always have that many items you should use a different component but in my case there are mostly small menus. In some specially cases it is possible that there are more but the UI should stay the same. It never reaches 2000, I only used that number because it gets quite obvious with such a high number.

[2019-06-11 14:04] melloware commented on #4849
We ended up writing JMeter tests against our production application to prove it.

But just to see the leak if you open 3 browsers (IE, Chrome, Firefox) for example and all leave them on the page.  And just monitor ` javax.faces.component.StateHolderSaver` you will see it climb and climb.  And if it starts at say 20 instances it will climb to 100,000 instances and then when it GC's you will see it

[2019-06-11 14:06] melloware commented on #4868
I fully support this fix.

[2019-06-12 07:50] #4888 closed, assigned to nobody

[2019-06-12 11:28] melloware commented on #4882
@MarkusChur What tool are you using?  Chrome is not reporting duplicate Id's and looking at the code the "render" is only called once to create that DIV so it should be the only thing with that ID.

[2019-06-12 11:47] melloware commented on #4882
@Rawi01 Can you confirm this with your tools?  I am not seeing the issue.

[2019-06-12 11:49] MarkusChur commented on #4882
https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjkligggfmakdaogkfomddhfmpjeni
https://chrome.google.com/webstore/detail/web-developer/bfbameneiokkgbdmiekhjnmfkcnldhhm

![addin1](https://user-images.githubusercontent.com/6985014/59348976-d1cb3d80-8d18-11e9-8c11-7c3d5ed3dede.PNG)
![addin2](https://user-images.githubusercontent.com/6985014/59348977-d1cb3d80-8d18-11e9-8847-6ea16

[2019-06-12 11:51] MarkusChur commented on #4882
The screenshot in https://github.com/primefaces/primefaces/issues/4882#issuecomment-500812069 shows  the automated check result of "Acessibility Insights for Web"

[2019-06-12 11:52] Rawi01 commented on #4882
@melloware Can confirm this one. It adds an empty div right after the button itself and add a second div with the same id to the body

[2019-06-12 11:54] melloware commented on #4882
I see it.  Fixing.

[2019-06-12 12:52] melloware commented on #4882
Thanks for the help guys, I had never used that Chrome Extension before but now I really like it!   It was a simple fix the Renderer was already creating the DIV we just needed to look it up instead of creating a new one as @MarkusChur suggested.

[2019-06-12 13:53] #4883 closed, assigned to nobody

[2019-06-12 15:00] ravihariharan opened #4891 "ColumnToggler: Label Issue on ColumnToggler"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: All
- Affected browsers: All

## 2) Expected behavior
Only Label should be show in p:columnToggler

...

## 3) Actu

[2019-06-12 15:14] melloware commented on #4891
Looks like multiple duplicates and a solution posted:

https://github.com/primefaces/primefaces/issues/2479
https://github.com/primefaces/primefaces/issues/1592

Looks like we can kill 3 tickets with 1 fix.  Care to try out the solution and submit a PR?

[2019-06-12 15:21] melloware commented on #4891
I just tested it and it works great.  Want me to submit the PR?

[2019-06-12 15:39] ravihariharan commented on #4891
i was about to look at the issue and you have already tested the fix.  Thanks @melloware

[2019-06-12 15:55] melloware commented on #4891
Still testing looks like its not quite working all the way.

[2019-06-12 18:25] melloware commented on #4891
OK please code review my PR. I tested using your exact example.

[2019-06-12 18:30] melloware commented on #2479
I chose a slightly different path for fixing it by simply searching for the first "label" inside the facet so if you have a <h:outputText> or <p:outputLabel> it would use that text.  While still being backwards compatible for headerText="xxx".

[2019-06-12 18:30] melloware commented on #1592
I chose a slightly different path for fixing it by simply searching for the first "label" inside the facet so if you have a <h:outputText> or <p:outputLabel> it would use that text.  While still being backwards compatible for headerText="xxx".

[2019-06-12 19:14] ravihariharan commented on #4891
@melloware  the fix is working. Thanks

[2019-06-13 09:48] jepsar opened #4893 "LinkButton icon only variant has incorrect theme styling"
See #4888 and #4889
I think it's caused by the following rule in the theme CSS:

[code]

[2019-06-13 12:15] arnis87 opened #4894 "Message: MessageRender inconsistency between server and client side validation messages"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: not related to server
- Affected browsers: not related to browser

## 2) Expected behavior
CSV message looking same

[2019-06-13 13:24] #4891 closed, assigned to nobody

[2019-06-13 13:25] #2479 closed, assigned to nobody

[2019-06-13 13:25] #1592 closed, assigned to nobody

[2019-06-13 13:25] #4882 closed, assigned to nobody

[2019-06-13 13:48] ravihariharan commented on #4891
@mertsincan  can this be tagged for 7.0.5?

[2019-06-13 18:05] melloware opened #4896 "Schedule: Add "slotLabelInterval" property"
SlotLabelInterval: https://fullcalendar.io/docs/slotLabelInterval

Based on this Stack Overflow:
https://stackoverflow.com/questions/56580483/primefaces-schedule-not-showing-all-times-with-some-slotduration-configuration

https://stackoverflow.com/questions/21142682/fullcalendar-not-showing-axis-times-for-15-min-slots

[2019-06-14 07:41] NicolasDo opened #4898 "XmlRequestHttp : Jquery Issue"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: mojarra22
- Affected browsers: Chrome

## 2) Expected behavior
On print button press, print the generate pdf file

## 3) Actual behavior
(index):13 Uncaught TypeError: xhr.getResponseHeader is not a function

[2019-06-14 07:42] #4894 closed, assigned to nobody

[2019-06-14 07:42] #4896 closed, assigned to nobody

[2019-06-14 09:45] fcorneli opened #4899 "demo: PickList source code tabs"
The source code tabs on the PickList demo page are not functioning.

[2019-06-14 10:24] Rawi01 commented on #4899
There seems to be a JS error that breaks this example

[2019-06-14 10:49] tandraschko commented on #4898
is this related to PF or jQuery?

[2019-06-14 12:00] NicolasDo commented on #4898
It's related to PF i think, like Melloware answer this is in this file : https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/core/core.ajax.js#L577-L599

[2019-06-14 12:13] tandraschko commented on #4898
how is it related?
PrimeFaces just passthrought XHR to your method, nothing else.
And the jquery xhr in your screenshot says "its not a valid XML". Maybe jQuery now requires a XML response from ajax? no idea.

[2019-06-14 12:24] NicolasDo commented on #4898
I can't answer because I don't have enough experience with Jquery.
I just know that when i change :
[code]
for that it's work :
[code]

When i compare ajax.core.js with old PF version this changed and will broken in 6.2.

[2019-06-14 12:30] tandraschko commented on #4898
This would mean that it worked unintended because our docu always mentioned that we pass "xhr" and not "data".
I think you can just use "onsucess" where we always passed "data": https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/core/core.ajax.js#L556

[2019-06-14 12:57] NicolasDo commented on #4898
I try with onsuccess but it passed in .fail and return a parseerror.
Maybe because i overload the XML response with the PDF but don't know how to return pdf with xml format.
i'll investigate.

[2019-06-14 13:23] tandraschko commented on #4899
works fine on localhost, maybe just a outdated showcase. Will close the ticket.

@mertsincan can you deploy a current showcase version?

[2019-06-14 13:23] #4899 closed, assigned to nobody

[2019-06-14 13:26] tandraschko commented on #4898
Otherwise we can also add "data" to oncomplete

[2019-06-14 13:38] NicolasDo commented on #4898
So instead of use callPrint(xhr, status, args) it should be like callPrint(data, status, args) ?
I think it's a good alternative.

[2019-06-14 13:49] tandraschko commented on #4898
commited ;)

[2019-06-14 13:49] #4898 closed, assigned to nobody

[2019-06-14 20:33] alailson commented on #4849
I am also experiencing the same Bug.

Configurations:
Wildfly 10- Primefaces 6.0 (no memory leak)
Wildfly 14- Primefaces 6.0 (no memory leak)
Wildfly 10- Primefaces 6.2 (memory leak)
Wildfly 14- Primefaces 6.2 (memory leak)
Wildfly 10- Primefaces 7.0 (memory leak)
Wildfly 14- Primefaces 7.0 (memory leak)

[2019-06-16 23:34] alailson commented on #4849
I've just tested in a Apache TomEE webprofile (MyFaces) 7.1.0 and no memory leak was detected. I think it is a problem with the Mojarra implementation.

[2019-06-17 09:12] Rapster commented on #3391
@christophs78 I'd like to have your thoughts on #4329 The idea is to make the impl more concise, instead of using different keys in the session map, the same one will be used either it's a datatable, datagrid, datalist etc.

The problem with this, is that I don't know which component hides behind the key, so methods like `PrimeFaces#clearDataListStates` can't really be implemented instead you'd us

[2019-06-17 10:12] Rapster commented on #4329
@mertsincan Any reason why we're doing this: `String viewId = fc.getViewRoot().getViewId().replaceFirst("^/*", "")` Does it occur a bug if it starts with `/`?

[2019-06-17 10:40] mertsincan commented on #4329
Hi @Rapster,

I don't remember now, but this was reported by a PRO user. Does the current code cause an error?

[2019-06-17 10:43] morvael opened #4900 "DataTable: NumberFormatException in SortFeature.convertSortOrderParam"
## 1) Environment
- PrimeFaces version: **7.0.4**
- Application server + version: **Wildfly 16.0.0.Final**

## 2) Expected behavior
Clicking on header should sort data table.

## 3) Actual behavior
Exception is thrown: NumberFormatException: For input string: "NaN".

[code]

Sorting works for colums where I have a `List<SortMeta>` initialized in backing bean (so they start ordered and change their

[2019-06-17 11:06] tandraschko commented on #3815
@Rapster
Could it also be fixed when we "disable" the deffered loading when updated via AJAX?

Otherwise the real solution is only when we introduce our own lifecycle with plugins on the client side.

[2019-06-17 11:18] Dsleeper opened #4901 "Effect: not working"
The Blind, Clip and Drop effects among others does not seem to be animated properly in the showcase. Explode and bounce are working though.

Reference p:effect showcase:
https://www.primefaces.org/showcase/ui/misc/effect.xhtml

## 1) Environment
Showcase version & tested locally on PF 7.0.4

## 2) Expected behavior
Effect tag renders animation

## 3) Actual behavior
The animations are not triggere

[2019-06-17 11:59] mertsincan commented on #4891
@tandraschko and @melloware,

I think there are three ways to fix this issue;
1) wb.initWithWindowLoad instead of wb.init on encodeScript
2) Users can add a class such as ui-columnToggler-label, etc. and we can find it in columnToggler's render method then, we only write the text of this label into columnToggler's item.
3) After DataTable is loaded, we can throw a callback to load columnToggler wi

[2019-06-17 12:01] MatheusRadeski opened #4902 "Type TXT and ODT."
Is it possible to convert to TXT and ODT?

[2019-06-17 12:16] Rapster commented on #4329
No it doesn't, I'm just wondering why this tweak... But I tried to reproduced the problem from the PRO user, and I don't have any problem

[2019-06-17 12:29] melloware commented on #4902
Please use forums for questions or Stack Overflow.

And also please provide some context to your question...

[2019-06-17 12:34] #4902 closed, assigned to nobody

[2019-06-17 12:39] melloware commented on #4891
@mertsincan A few things.

1. This fix just addressed the Column Toggler finding the "wrong" element and using it as a label.  It seems a huge improvement in expected behavior.  I have seen other comments about adding a custom style to find the right element for the label which is cool but a user would have to know to look in the documentation for that style.  I am still OK with that but we should

[2019-06-17 12:39] MatheusRadeski commented on #4902
I use dataExport for all supported formats, but I would also need ODT and TXT format

[2019-06-17 12:41] melloware commented on #4902
Those formats are not supported, you would have to write your own DataExporter or model your code after the PF DataExporter but write your own custom implementation.

[2019-06-17 12:44] MatheusRadeski commented on #4902
Code after PF dataExpoter would be using the postProcessor?

[2019-06-17 12:46] melloware commented on #4902
No not a Pre or Post Processor I am saying you would have to write your own JSF component modeled after the DataExporter.    or figure out a way to add two new formats for TXT and ODT and submit a PR .

[2019-06-17 12:47] mertsincan commented on #4891
Thanks a lot for the update, @melloware ;) Users can use span tag instead of label tag in f:facet;
var label = columnChildren.find('label');
Maybe, we can change the above code in your fix.

Thanks again ;)

[2019-06-17 12:55] melloware commented on #4891
So I think what you are saying is we need to support both SPAN and LABEL so any of these would work...

[code]

[code]

[code]

[2019-06-17 12:55] melloware commented on #4902
Also what would TXT format be?

[2019-06-17 13:00] MatheusRadeski commented on #4902
text file

[2019-06-17 13:02] melloware commented on #4902
Right but a Text file looking like what?   TAB Delimited? SPACE delimited?  Parsable?  A dotted line after the headers to separate them...

[2019-06-17 13:03] melloware commented on #4849
@alailson I agree I could not get it to happen with MyFaces but could in all versions of Mojarra.

[2019-06-17 13:06] tandraschko commented on #4849
Can you try to remove:
"component.subscribeToEvent(PreRenderComponentEvent.class...." in AutoUpdateListener?
Otherwise no idea
thats the essential difference compared to the old PF without p:autoUpdate

[2019-06-17 13:25] MatheusRadeski commented on #4902
![image](https://user-images.githubusercontent.com/9125775/59607610-0c9eee00-90ea-11e9-9f52-90cb9bf307db.png)

In this format.

[2019-06-17 13:51] morvael commented on #4900
Suddenly I'm not getting that bug anymore. Perhaps it was present only on 7.0.3? I'm pretty sure I ran my tests with correct version of the library on development server. Now a fresh build with 7.0.4 on test server is no longer giving this issue.

[2019-06-17 13:51] #4900 closed, assigned to nobody

[2019-06-17 13:53] melloware commented on #4900
I was going to mention I thought that was fixed in 7.0.4 but you had 7.0.4 in your description.  I think its definitely fixed.

[2019-06-17 14:08] MatheusRadeski commented on #4902
In fact anyway would already help me.

[2019-06-17 18:01] christophs78 commented on #4329
- clearMultiViewStates(): O(1)
- clearMultiViewState(String viewId): O(n) (at worst)
- clearMultiViewState(String viewId, String clientId): O(1)

as you suggested should do the work.
It would hide the internal build of the key. And you are able to control to amount of MultiViewState you want to clean. I think this granularity ist fine enough. IMO we don´t need to differentiate the state of DataLis

[2019-06-17 18:07] christophs78 commented on #4329
One additonal idea: Currently the multiViewState is stored session-scoped. JSF 2.2 would allow to save multiViewState an a per browser-tab granularity. (Use-case: User opens multiple independent instances of your application in different browser-tabs.)
@tandraschko - What do you think about increasing the minimum JSF-Version required by Primefaces 7.1? Are there still some people which stick to JS

[2019-06-17 18:34] MatheusRadeski opened #4903 "dataExporter type ODT and TXT"

[2019-06-17 18:37] melloware commented on #4902
I am not sure how else to say this but "You **cannot**"  The DataExporter does not have these formats so you will have to write custom code to do it yourself.

[2019-06-18 05:18] tandraschko commented on #4329
i don't think we can upgrade, there are still many JSF 2.1 users

[2019-06-18 11:36] christophs78 commented on #4329
PF 7.1 requires Java 8. Do they use JSF 2.1 with JavaEE 6 and Java8?
I personally would (naive?) expect that Java8 is often combined with a JavaEE 7 or JavaEE 8 - application server. Or they use something like Tomcat with Java8+ and bring JSF on their own.
Maybe i´m a bit naive to expect people which update Java-versions and PF-versions to also update JSF-versions....

[2019-06-18 11:42] tandraschko commented on #4329
Sure why not.
Upgrading a application server with many old applications brings much more problems as updating to java8  or update one single application to PF 7.x.

[2019-06-18 11:43] melloware commented on #4329
@christophs78 I know at my one client we use Jboss EAP 6 which is JSF 2.1 running Java 8.

[2019-06-18 11:57] christophs78 commented on #4329
Understand. :-) Thanks for your feedback!

[2019-06-18 12:01] christophs78 opened #4905 "PickList: Showcase is broken (JS-error; causing subsequent problems)"
## 1) Environment
- PrimeFaces version: 7.1-SNAPSHOT
- Affected browsers: Chrome, FF, IE, Edge

## 2) Expected behavior
https://www.primefaces.org/showcase/ui/data/pickList.xhtml
"PickList on Steroids" should work
Switching between XHTML und Java should work

## 3) Actual behavior
"PickList on Steroids" does not allow to select items.
Switching to PickListView.java does not work.

## 4) Steps to r

[2019-06-18 12:02] christophs78 commented on #4905
JS-error:
![grafik](https://user-images.githubusercontent.com/10461942/59680440-9fff1e80-91d1-11e9-8ca4-84e9efbf129a.png)

[2019-06-18 12:11] tandraschko commented on #4905
already reported this week; works fine in trunk, just not new showcase deployed
@mertsincan you can deploy a new version?

[2019-06-18 12:11] #4905 closed, assigned to nobody

[2019-06-18 14:31] Rapster commented on #4329
PR available here: https://github.com/primefaces/primefaces/pull/4906

Waiting for feedbacks ;-)

[2019-06-18 16:22] #4329 closed, assigned to nobody

[2019-06-18 18:16] melloware commented on #4901
I have a feeling this was somehow a change with Jquery 3.3.0 as looking at the PF code there is not much going on there and its calling the Jquery UI API correctly.

[2019-06-19 09:29] pouwelsjochem opened #4908 "LineChart: LinearAxes on x-axis is not available"
## 1) Environment
- PrimeFaces version: 7.0.3
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: WildFly 16
- Affected browsers: All

## 2) Expected behaviour
When using a CartesianLinearAxes model as xAxes on the CartesianScales it should show the axis correctly.

## 3) Actual behaviour
The default 'categ

[2019-06-19 10:53] melloware commented on #4908
I think its like this ticket right?  https://github.com/primefaces/primefaces/issues/4564

I plan on fixing this.

[2019-06-19 11:00] #4903 closed, assigned to nobody

[2019-06-19 11:38] Amit8608525622 opened #4909 "Picklist: Transfering the items from source to target causing the script error and browser crash for more than 4000 items on IE browser"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-06-19 11:39] melloware commented on #4909
Wasn't this fixed in 6.2.14?  And you are using 6.2.9?

https://github.com/primefaces/primefaces/issues/4320

[2019-06-19 11:52] Amit8608525622 commented on #4909
Yes we are using 6.2.9.Due to business requirement we can not use 6.2.14.
#4320 is resolved. This is a different one.

[2019-06-19 11:58] melloware commented on #4909
Here is a runnable example:
[pf-4909.zip](https://github.com/primefaces/primefaces/files/3305937/pf-4909.zip)

Run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2019-06-19 14:23] melloware commented on #4564
Please review my PR I will create a ScatterChart showcase page once the PR is accepted showing how to use it.

[2019-06-19 20:55] melloware commented on #4893
How can this be fixed? In the theme?

[2019-06-20 06:05] jepsar commented on #4893
Yeah. I found where they are. Will fix it when I'm back from my holiday.

[2019-06-20 06:42] Amit8608525622 commented on #4909
I am not able to setup this project on my system. I am getting below error while importing the project in Eclipse.

Could not calculate build plan: Plugin org.apache.maven.plugins:maven-war-plugin:3.1.0 or one of its dependencies could not be resolved: Failed to read artifact descriptor for org.apache.maven.plugins:maven-war-plugin:jar:3.1.0
Plugin org.apache.maven.plugins:maven-war-plugin:3.1.0 o

[2019-06-20 09:05] Rapster commented on #4306
I cant' reproduce the problem on Chrome and Firefox: it might have been fixed by the web browser itself. Although on IE 11 it doesn't show anything. I'll probably close this one then

[2019-06-20 09:39] Rapster commented on #4305
PR available here: https://github.com/primefaces/primefaces/pull/4911

Feedbacks are welcome! BTW, I did a bit of refactoring 'cause I feel `org.primefaces.model` is getting congested, so I moved the files into `org.primefaces.model.file`

[2019-06-20 09:41] Rapster opened #4912 "FileUpload: rename fileUploadListener into listener"
Let's keep it simple and homogeneous with the rest: `listener` instead of `fileUploadListener`

[2019-06-20 11:19] melloware commented on #4909
Looks like you have a problem with your personal  https://artifactory.wob.vw.vwg:8443 Artifactory.  If you just run it against Maven Central everything works fine.  Seems to me your Artifactory can't reach certain artifacts.

[2019-06-20 12:24] torbenw opened #4913 "ColumnToggler: XSS caused by script tags in headerText of Column"
## 1) Environment
- PrimeFaces version: 6.2.19
- Application server + version: Apache Tomcat 8.5.13
- Affected browsers: Internet Explorer 11, Firefox 67.0.3, Chrome 75

## 2) Expected behavior
The headerText should be treated as text in the ColumnToggler. HTML tags and code should be escaped. The headerText is already properly escaped in the DataTable's header.

## 3) Actual behavior
A script tag

[2019-06-20 12:36] melloware commented on #4913
I will fix this. @Rapster can you add the security label please?

[2019-06-20 15:40] Rapster commented on #3815
Ignoring deffered while ajax request makes it work. I submitted a PR so you can have a look @tandraschko

[2019-06-20 15:55] #4306 closed, assigned to nobody

[2019-06-20 16:43] #4913 closed, assigned to nobody

[2019-06-20 16:48] #3815 closed, assigned to nobody

[2019-06-20 16:51] #4908 closed, assigned to nobody

[2019-06-20 18:52] melloware opened #4917 "ChartJS: Scatter Chart"
Based on https://www.chartjs.org/docs/latest/charts/scatter.html

[2019-06-20 19:22] tandraschko commented on #4912
+1
Dont forget the migration guide

[2019-06-20 19:26] #4917 closed, assigned to nobody

[2019-06-21 08:17] Eehol opened #4919 "SelectOneMenu: label attribute not working"
## 1) Environment
- PrimeFaces version: 7.0.0
- Application server + version: JBoss EAP 7.1.1
- Affected browsers: IE11, Chrome 75

## 2) Expected behavior

The label of the selectonemenu is "Hello World"

## 3) Actual behavior

The label is the itemLabel of the selected entry.

## 4) Steps to reproduce

Just run the xhtml.

## 5) Sample XHTML

[code]

## 6) Sample bean

None

[2019-06-21 08:20] tandraschko commented on #4919
did it work in older versions?
If not, i don't think we ever implemented this feature

[2019-06-21 08:21] #4859 closed, assigned to nobody

[2019-06-21 08:21] #4813 closed, assigned to nobody

[2019-06-21 08:21] #4784 closed, assigned to nobody

[2019-06-21 08:28] Eehol commented on #4919
Indeed I just tried on PF6.2 and it doesn't work.

[2019-06-21 09:05] jthalmai commented on #702
This still (or again?) seems to be an issue with PrimeFaces 7.0.
In my table I have a paginator on top and on bottom of the table, like in the paginator showcase.

With the bottom one the bug is completely reproducible.

With the top one, when changing the rowsPerPage value, the bottom one is not immediately updated, but only after clearing the filter, the bottom paginator rowsPerPage value is upd

[2019-06-21 09:18] Rapster commented on #2674
I'd like to reopen that ticket and have @melloware @cnsgithub opinion. @tandraschko I'm not sure what you think, but I'd like you to reconsider it :smile: . IMO, and I'll repeat myself:

- Description does not describe the real benefit of this component, instead it says something that you can do natively in JSF, while it does not mention clearly the main feature of this component. This is why I sa

[2019-06-21 09:26] tandraschko commented on #2674
thats up to primetek
WDYT @mertsincan?

[2019-06-21 11:21] melloware commented on #2674
@Rapster I know I have tons of code using p:outputPanel because in JSF 2.0 and 2.1 we would use it as a wrapper component for the rendered="" flag.  Because before JSF 2.2 we couldn't do `jsf:rendered="#{value}"`

And those were how all the early examples from PF were back in 2011 so I think that is why they named it OutputPanel because it was just a `<div>` allowing you to control whether the out

[2019-06-21 11:24] Rapster commented on #2674
I don't get it, why not simply use `h:panelGroup`?

[2019-06-21 11:30] melloware commented on #4919
What would the label do?  Isn't that what the noSelectionOption is for?

`<f:selectItem itemLabel="Select City" itemValue="" noSelectionOption="true" />`

See: https://www.primefaces.org/showcase/ui/ajax/dropdown.xhtml

[2019-06-21 11:36] melloware commented on #2674
There is no reason we could not use h:PanelGroup other than like I said all the PrimeFaces examples used p:outputPanel and when we started in 2011 we were given the directive to use PF component anytime one existed and only use h: components when there was no PF equivalent.

[2019-06-21 11:46] Eehol commented on #4919
The label should act in the same way as the label of selectCheckBoxMenu (+ both "label" attribute of selectCheckBoxMenu and selectOneMenu have the same description in the PrimeFaces user guide 7.0).

More precisely, the label is displayed independently of the selection, unlike to the "noSelectionOption" selectItem. Our goal is to use this attribute to replace the end of the label by "..." if it re

[2019-06-21 11:57] melloware commented on #4919
Understood!  Interested in researching and providing a PR?

[2019-06-21 12:04] Eehol commented on #4919
Yes why not, I'll give it a try

[2019-06-21 12:13] Rapster commented on #2674
I think h:panelGroup was available at that time, `rendered` and `layout` attributes too

Yeah I understand, I kinda blame the showcase for that, it misguides a lot of developers like myself. Same scenario goes for using `actionListener` instead of `listener` (something I recently changed)

It makes sense for visual components, but outputPanel is not really one of them if you use it with deferred d

[2019-06-21 12:23] tandraschko commented on #2674
+0 from my side
the benefits are only a bit better name
we could also just do a better showcase description

also note:
not everyone uses JSF 2.2+, so jsf:rendered is not available

[2019-06-21 12:28] tandraschko commented on #2674
(also we can always improve docu + showcase but we can't rename such old components without talking with primetek)

[2019-06-21 12:30] Rapster commented on #2674
Yeah well the name would make a lot of difference imo, but as a starter definitely change the doc description... And I don't think passthrough attributes would solve anything in this scenario

[2019-06-21 12:37] melloware commented on #2674
No what I think he is saying is in my case where i was using p:outputPanel I can just do

[code]

is only available in JSF 2.2+

[2019-06-21 13:21] melloware commented on #4564
@tandraschko I think this is safe to close now.

[2019-06-21 13:23] #4564 closed, assigned to nobody

[2019-06-21 15:37] #4912 closed, assigned to nobody

[2019-06-21 17:08] melloware commented on #4909
OK I submitted a fix that fixes the issue.  However as a note since you have SO many items you would be best served removing the "effect=bounce" attribute and turning animations off.  It will greatly improve the picklist experience with that many items in it.

[2019-06-21 17:09] melloware commented on #4901
I think it is effects all around.  I am noticing weirdness with Picklist effects as well.

[2019-06-21 17:41] melloware commented on #3260
@tandraschko @Rapster @ssibitz This ticket can be closed.  This is already possible like this..

[code]

[2019-06-21 17:47] #3260 closed, assigned to nobody

[2019-06-21 17:48] melloware commented on #3098
I am not sure anything can be done about this request and if you use OmniFaces CombinedResourceHandler along with Primefaces MOVE_SCRIPTS_TO_BOTTOM its about as optimized as we can make the JS and CSS files.

[2019-06-21 17:50] #3098 closed, assigned to nobody

[2019-06-21 17:58] melloware commented on #2441
This can be closed as allowTypes is now checked on the server side as well with ticket https://github.com/primefaces/primefaces/issues/2791

[2019-06-21 18:02] #2441 closed, assigned to nobody

[2019-06-21 18:36] ttsiebzehntt commented on #4913
@tandraschko Are you going to fix this in 6.2.x? If yes, when can we expect a fix?

[2019-06-21 18:38] melloware commented on #4913
that would be @mertsincan who controls the Elite releases.

[2019-06-22 13:37] #4909 closed, assigned to nobody

[2019-06-23 07:28] christophs78 opened #4923 "Primefaces-Events (eg SelectEvent): use generics"
## 1) Environment
- PrimeFaces version: 7.1

## 2) Expected behavior
`org.primefaces.event.SelectEvent` is currently untyped.
For some usages it would IMO make sense to change it to
`org.primefaces.event.SelectEvent<T>`.

[2019-06-23 08:36] Rapster commented on #4923
Do you have an example as why it'd make more sense?

[2019-06-23 10:16] christophs78 commented on #4923
It would be some kind of syntactic sugar. :-)

Old (1):
[code]
New (1):
[code]
Old (2):
[code]
New (2):
[code]

Old (3):
[code]

[2019-06-23 11:03] Rapster commented on #4923
Ok that's what I thought, I understand what you're saying but I'm not sure if the change would bring any added value (syntaxically speaking).

Since you have no control over event and listener instanciation, having a generic does not guarantee anything in terms of what the `FacesEvent#getObject` type it will be.

In both cases scenario, you'll end up with ClassCastException if bad type is set.

I'

[2019-06-23 12:51] christophs78 commented on #4923
Technically i totally agree to you.
To some degree this would be a marketing move. People are used to generics today. A typecast looks "old school".
Do you see some way to do this "the right" way with additional type-safety?

[2019-06-23 13:15] jepsar commented on #4893
Introduced by fixing #4697

[2019-06-24 09:15] tandraschko commented on #4919
Thanks!

[2019-06-24 09:15] tandraschko commented on #4849
@melloware ? :D

[2019-06-24 11:08] Amit8608525622 commented on #4909
I have tried the fix provided by you(https://github.com/primefaces/primefaces/commit/16982ed2f4d5055bd72efc2def1aab58718d1bca) but it didn't work for me. Script error is still popping up and lagging is still there while transferring the items. I have also set "effect =none"

I have made below changes as you suggested.

Primefaces 6.2.9 --primefaces-6.2.9.jar\META-INF\resources\primefaces\componsnt

[2019-06-24 11:15] Amit8608525622 commented on #4909
@https://github.com/melloware --

transfer : function(b, g, f, d) {
				var e = this, a = b.length, c = 0;
				if (this.isAnimated()) {
					b.hide(this.cfg.effect, {}, this.cfg.effectSpeed,
							function() {
								var h = $(this);
								e.unselectItem(h);
								h.appendTo(f).show(e.cfg.effect, {},
										e.cfg.effectSpeed, function() {
											c++;
											if (c == a) {

[2019-06-24 12:09] mertsincan opened #4925 "The rowHover="true" not working with rowSelectMode="checkbox" on DataTable"
Reported By PRO User;

[2019-06-24 12:12] #4925 closed, assigned to mertsincan

[2019-06-24 12:16] mertsincan opened #4926 "The cursor appears on hidden elements on Tablet"
Reported By PRO User;

It shows up also when I browse the dedicated page of the component in the show case by using a tablet, in my case iPad Mini - iOS v11.1.
When the user taps on the label, the focus will be set to the dropdown input element, then a text cursor is displayed and when you scroll down the page the text cursor overlaps the header page.
I think that, as expected result, the text cur

[2019-06-24 12:17] #4926 closed, assigned to mertsincan

[2019-06-24 12:36] melloware commented on #4849
Sorry I plan on testing this!  Will let you know what I find out.

[2019-06-24 13:16] #4893 closed, assigned to mertsincan

[2019-06-24 13:28] WxU2U2gSsAw20uD opened #4927 "selectOneMenu: INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL"
### 1) Environment

- PrimeFaces version: 7.0.0
- Tomcat version: 9.0.x
- javax.faces glassfish version: 2.3.x
- javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL=true
- javax.faces.VALIDATE_EMPTY_FIELDS=true
- Custom JSF 2.3 converter with generics

### 2) Expected behavior

When user submit empty string: <f:selectItem itemLabel="&nbsp;" itemValue="" />
The converter receive a NULL obje

[2019-06-24 13:30] tandraschko commented on #4927
you probably need itemValue=#{null}, also see the migration guide

[2019-06-24 13:32] tandraschko commented on #4927
`SelectOneMenu / ThemeSwitcher: If custom content (with p:column(s) as child) is used with POJOs and you have a default f:selectItem like "Choose...", null (value="#{null}") instead of empty string (value="") should be used. Otherwise the properties on the var can't be resolved and a exception will be thrown.`

[2019-06-24 14:15] Rawi01 opened #4928 "BreadCrumb: Improve accessibility"
## 1) Environment
- PrimeFaces version: **latest**
- Does it work on the newest released PrimeFaces version? Version? **No**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **No**
- Application server + version: **-**
- Affected browsers: **-**

## 2) Expected behavior

According to the ARIA best practices site

[2019-06-24 14:25] Rawi01 commented on #4725
I had a similar problem last week. According to our accessibility test we should use `td` instead of `th` for our "Toggle filters" button that toggles out filter row. This row should also use `td` for all cells.

I created a custom renderer that supports rendering a single column and a full row as `td`. I can provide a pull request as soon as I have some time to refactor my stuff.

[2019-06-24 14:47] Rawi01 opened #4929 "BaseMenuRenderer: Hide icons from assistive technology"
## 1) Environment
- PrimeFaces version: **latest**
- Does it work on the newest released PrimeFaces version? Version? **No**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **No**
- Application server + version: **-**
- Affected browsers: **-**

## 2) Expected behavior

Menu item icons that use icon fonts shoul

[2019-06-24 15:00] #4927 closed, assigned to nobody

[2019-06-24 15:03] matinh opened #4931 "DataGrid and DataTable: rows- and first-attributes ignored after use of paginator"
## 1) Environment
- PrimeFaces version: 7.0/7.1-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No, neither with 7.0, nor with 7.1-SNAPSHOT.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source). No.
- Application server + version: Tested with Wildfly 11 and Jetty 9.4.15 from the primeface

[2019-06-24 16:20] Rawi01 commented on #4931
I checked some primefaces sources and it seems like the problem is in L297 https://github.com/primefaces/primefaces/blob/e2062dc5671b10e9f3913b454d4c31b86a62c226/src/main/java/org/primefaces/component/api/UIData.java#L290-L307

A possible fix might be to check for an exisitng value expression as in L305 and only set that value to the new one e.g.

[code]