[2019-01-17 18:29] christophs78 commented on #4417
@mertsincan - I invested some time to remote-debug chrome 71 on my android-phone.
Console show´s following error when i put the focus into the "Popup" - input-field:
![grafik](https://user-images.githubusercontent.com/10461942/51339977-13b7c680-1a8e-11e9-8312-3a1a81a3bc9b.png)
Can we please reopen this issue?

[2019-01-17 19:39] VsevolodGolovanov commented on #3668
I expect the "expand" and "collapse" events to trigger when I expand and collapse tree nodes...

Because I'm interested in "expandness", not "loadness". The requirement is to track, preserve and restore user's expanded state. This is orthogonal to caching.

Maybe better make a new "load" event instead. Though again, there is TreeNode#getChildren already...

It's not. This is what "program to contr

[2019-01-17 19:44] VsevolodGolovanov commented on #3951
I doubt this has any chance of being accepted, it's too big of a change for a pretty subtle gain.

[2019-01-17 20:44] VsevolodGolovanov commented on #3668
I've been trying to imagine what those (hypothetical? I doubt there are actual stats) cases are. Is it using the expand event to implement lazy loading between the server and a datasource (database) without making your own TreeNode implementation with a custom getChildren? And the problem is that this lazy loading is implemented to happen unconditionally, relying on expand being triggered once? If

[2019-01-18 06:45] majkers commented on #4448
I know that is why I used some code snippets in a description...Ok later on I will add come extra code

[2019-01-18 07:44] cnsgithub commented on #3415
Side note: MyFaces is using serialized java objects as `javax.faces.ViewState` IDs, even in server-side view state saving mode (see https://www.alphabot.com/security/blog/2017/java/Misconfigured-JSF-ViewStates-can-lead-to-severe-RCE-vulnerabilities.html).

[2019-01-18 07:48] tandraschko commented on #3415
Not in 2.3+

[2019-01-18 07:50] cnsgithub commented on #3415
Ah ok, good decision! :wink:

[2019-01-18 07:52] cnsgithub commented on #3415
Let's close this issue as wontfix?

[2019-01-18 07:53] tandraschko commented on #3415
Yup!

[2019-01-18 07:53] #3415 closed, assigned to nobody

[2019-01-18 08:30] majkers commented on #4448
Just modifying https://www.primefaces.org/showcase/ui/data/datatable/contextMenu.xhtml

contextMenu.xhtml

[code]

And ContextMenuView.java
[code]

[2019-01-18 08:38] mertsincan commented on #4417
Good catch, @christophs78 ;) Fixed now.

[2019-01-18 08:39] #4417 closed, assigned to mertsincan

[2019-01-18 08:54] mertsincan commented on #4417
Please try again; https://www.primefaces.org/showcase/ui/input/datePicker.xhtml

[2019-01-18 08:57] majkers commented on #4422
It is not working.
`if (cmSelMode !== 'checkbox')` cmSelMode has value 'multiple'. I think You should use `this.cfg.rowSelectMode`. And remember and please have in mind other selectione modes like 'new' and 'add'. I would also add highlighting row with `this.highlightRow(row);` if in 'checkbox' mode.

[2019-01-18 09:29] christophs78 commented on #4417
Well done! Datepicker now works on iOS and Android/Chrome.

[2019-01-18 09:34] mertsincan commented on #4417
Thanks to you ;)

[2019-01-18 09:36] markusg80 commented on #4417
Now it looks nice! Thank you

[2019-01-18 10:52] tdtappe opened #4449 "inputTextarea: counter component not updated after selected text is cut via mouse"
If some text is selected in an inputTextarea and the selected text is deleted/cut via mouse context menu the counter component is not updated and still shows the same number of remaining characters.
If the selected text is deleted via pressing the delete key everything's fine.

PrimeFaces version: 6.2.14
Wildfly 13.0.0.Final
Firefox 64.0.2, Chrome 71.0.3578.98

[2019-01-18 11:43] tandraschko commented on #4449
please provide a example or at least the steps to reproduce it in the showcase.
Issues without all informations requested are actually invalid.

[2019-01-18 12:07] #4445 closed, assigned to nobody

[2019-01-18 12:20] melloware commented on #4422
Yep its definitely more complicated than 1 scenario.   Closing my PR.

[2019-01-18 12:42] melloware commented on #4449
I have verified this issue and it's broken for InputText and InputTextArea.  I have submitted a PR that fixes it and i tested in IE11, Firefox, Chrome, and Edge and its working in all scenarios now.

[2019-01-18 12:50] melloware commented on #4238
@mauromol  I am looking at the code and I don't see a "readonly" property for the SelectOneRadio button?   The only property I see defined and used is the "disabled" property?  Does "readonly" work in basic layout non custom?

[2019-01-18 13:34] mauromol commented on #4238
Indeed, the PrimeFaces documentation doesn't name it either, but...

- it works as expected if layout!=custom
- it somewhat works even if layout==custom (see my original message)
- every component has a readonly attribute...
- the standard JSF selectOneRadio, which PF should extend, does have it: https://docs.oracle.com/javaee/6/javaserverfaces/2.1/docs/vdldocs/facelets/h/selectOneRadio.html

So,

[2019-01-18 13:37] melloware commented on #4238
OK thanks for the update. Looks like readonly is missing from SelectOneRadio taglib for 7.0 as well:  https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/primefaces-p.taglib.xml#L17275

[2019-01-18 13:43] mertsincan opened #4451 "jquery-plugins.js is missing in datePicker component"
only elite version.

[2019-01-18 13:43] #4451 closed, assigned to mertsincan

[2019-01-18 14:22] melloware commented on #4448
I think what is happening is it an ordering problem.  What I think happens is this..

1. Jquery event to display the Context Menu in the browser.
2. Ajax event fires to the server side for the p:ajax event.
3. Since you have update="contextMenuId" to update the contextMenu the DOM of the entire context menu is being replaced thus its detroying the current menu that is being displayed on screen.

T

[2019-01-18 14:29] majkers commented on #4448
The solution is here: https://forum.primefaces.org/viewtopic.php?t=41973

[2019-01-18 15:11] melloware commented on #4448
So when you say solution the JS hack or the fact to update the context menu with "rowSelect" Ajax event instead of the ContextMenu ajax event?

[2019-01-18 20:14] #4449 closed, assigned to nobody

[2019-01-18 20:15] tandraschko commented on #4449
Thanks melloware!

[2019-01-19 06:22] cnsgithub opened #4452 "TextEditor: support image upload"
I just stumbled upon an idea on primefaces-extensions/primefaces-extensions#757 and think it's worth being picked up as new feature request for PrimeFaces 7.1.

It woud be nice to have an additional editor button to upload images.

Since `p:textEditor` actually submits HTML it would make sense to embed Base64 encoded image data URLs using javascript's `FileReader` API. See my comment here: primefa

[2019-01-19 18:38] melloware commented on #4238
OK I tested this today.  In my case I don't think readonly is really working at all.  Readonly="true" if you look at the DOM sets the hidden Input fields to readonly="true" but does not affect the UI in any way for me either Custom or non-custom.  Which is probably why its not in the documentation.

It seems like property you want is "disabled" right?   If I do diabled="true" that turns the radio

[2019-01-19 18:42] mauromol commented on #4238
No, that's the eternal debate disabled vs readonly... Using disabled has other consequences, like graying out the field and not submitting its value to the server. Here I'm talking about the readonly property, which should simply prevent the user from changing the component value, like it is for any other component where readonly works.

[2019-01-19 18:46] melloware commented on #4238
Understood.. there will be much work that needs to be done on this component to support readonly.  The whole thing was designed around disabled but I do understand your need for readonly, its just not a trivial change.

[2019-01-21 07:49] majkers commented on #4448
It is more like a workaround not a fix. I meant a post by CORSIC.

[2019-01-21 10:28] metaxmx opened #4453 "Missing moment.js dependency for Chart.js"
The new "Chart.js"  charts like `<p:lineChart />` need the library `moment.js` (already included in PF) in order to display chart axes of type "time" (e.g. in order to display a timeline-ish chart).
Due to the include-mechanism of the `chart.js` sources, the `moment` namespace must be already defined in JavaScript when the `chart.js` file is included, it is not sufficient to add it afterwards, e.g

[2019-01-21 10:36] tandraschko commented on #4453
A PR would be great

[2019-01-21 11:39] metaxmx commented on #4453
I created a pull request to fix the missing library for LineChart in the simplest way.
Time-like axes might be possible on other ChartJs based charts too, I haven't checked this.

[2019-01-21 12:19] #4453 closed, assigned to nobody

[2019-01-21 12:33] melloware commented on #4448
OK. Definitely a workaround.

[2019-01-21 14:05] KarlKnapp opened #4455 "Datatable: Rowgrouping issue if value is null"
If the group value is empty a new group is created for each row.

## 1) Environment
- PrimeFaces version: 6.2

## 2) Expected behavior

![grouprowfixed](https://user-images.githubusercontent.com/30590617/51478910-0e5bc400-1d8d-11e9-86fc-eb06684f300b.png)

## 3) Actual behavior

![grouprowbroken](https://user-images.githubusercontent.com/30590617/51478918-19aeef80-1d8d-11e9-91a9-0b2d4ae3dd1a.png)

[2019-01-21 17:15] danielemaddaluno opened #4457 "ChartJS lineChart: how to hide scale when a dataset is hidden"
## 1) Environment
- PrimeFaces-7.0-SNAPSHOT on Mojarra-2.3.2.

## 2) Expected behaviour
Opening this [https://www.primefaces.org/showcase/ui/chartjs/line.xhtml](https://www.primefaces.org/showcase/ui/chartjs/line.xhtml) when clicking on `Left Dataset` or `Right Dataset` I expected the matching scale to be hidden from the canvas too.

## 3) Actual behaviour
Clicking on `Left Dataset` the scale is r

[2019-01-21 17:27] melloware commented on #4457
I don't think I totally understand what you mean?  To me the current behavior of the Chart is the correct behavior?

Can you check the ChartJS documentation to see if what you want is even accomplishable with raw ChartsJS?  https://www.chartjs.org/

[2019-01-21 17:54] danielemaddaluno commented on #4457
<img width="756" alt="screenshot 2019-01-21 18 48 03" src="https://user-images.githubusercontent.com/1886810/51491000-4d017680-1dad-11e9-951b-4215c646ce1d.png">

I have 3 or more datasets in the same chart, each with a different scale, let's image that all the scales are on the left, filtering out some of the dataset makes the scales a little bit incomprehensible (at least if there is at least one

[2019-01-21 18:58] DavidCabral opened #4458 "Dialog Framework - dialogReturn throw error in 7.0.RC1"
Example:
  https://www.primefaces.org/showcase/ui/df/data.xhtml

## 1) Environment
- PrimeFaces version: 7.0.RC1

[2019-01-21 18:59] melloware commented on #4457
OK anything you can research on ChartsJS on how to accomplish this would be great.  If there is some JavaScript method of forcing the scale etc?

[2019-01-21 19:59] melloware commented on #4458
Confirmed I am seeing this stack trace:
[code]

[2019-01-21 20:06] melloware commented on #4457
I would ask on Stack Overflow if its possible.  From ChartJS docs "For support using Chart.js, please post questions with the **chartjs** tag on Stack Overflow."

[2019-01-21 20:52] #4458 closed, assigned to nobody

[2019-01-22 13:57] danielemaddaluno commented on #4457
Thank you @melloware, I posted the specific question on [Stack Overflow](https://stackoverflow.com/questions/54308996/chartsjs-make-the-scale-appear-disappear-when-the-dataset-is-activated-deactiva).

[2019-01-22 14:11] melloware commented on #4457
Excellent post.  I just upvoted it so hopefully some ChartJS gurus will chime in!

[2019-01-22 15:40] majulvez opened #4460 "DatePicker: firstDay: 1 not working"
## 1) Environment
- PrimeFaces version: 6.2.14
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Apache Tomcat 7.0.62
- Affected browsers: All

## 2) Expected behavior
First day of the week is monday

## 3) Actual behavior
First day of the week is SUNDAY

## 4) Steps to reproduce
Just load the .x

[2019-01-22 15:50] melloware commented on #4460
This may be a dumb question but why do you assume the first day of the week should be MONDAY?  Based on the Spanish Locale?

[2019-01-22 15:54] fcorneli commented on #4460
https://www.timeanddate.com/calendar/days/

[2019-01-22 15:54] fcorneli commented on #4460
According to international standard ISO 8601, Monday is the first day of the week.

[2019-01-22 16:08] melloware commented on #4460
OK I was under the impression that it said "not working" like it was a bug when really this is a feature request.

While that may be true about ISO 8601 I would definitely not expect Monday to be the first day in a calendar component.  Every real world calendar I have including the one I am looking at my desk right now has the UI as Sunday to Saturday.  So I would hate for the component not to mim

[2019-01-22 16:14] tandraschko commented on #4457
lets close it, its more related to chartjs. We can reopen if we can fix/enhance something.

[2019-01-22 16:14] #4457 closed, assigned to nobody

[2019-01-22 16:15] majulvez commented on #4460
Hi @melloware ,

same property in component calendar it works as I expected. Calendar component starts the week in monday if I use firstDay:1 so I thought this issue would be considerer as a bug

[2019-01-22 16:20] majulvez commented on #4460
Maybe I confused you because I forgot to write down I am using spanish locale in the example. I'm going to edit it

[2019-01-22 16:21] melloware commented on #4460
Understood!  yes please add SPanish locale to your example it would help.  But yes this feature definitely looks missing in the DatePicker as its not in the PrimeNG component it was based on.  https://www.primefaces.org/primeng/#/calendar

[2019-01-22 17:02] pedrodelgado81 opened #4461 "Add ariaLabel attribute to commandLink without using title"
Add aria-label to commandLink without using title attribute as commandButton has.
It's an accesibility issue.

[2019-01-22 17:18] majulvez commented on #4460
In primeNG component is working fine using firstDayOfWeek: 1

I tried that property in date picker settings just in case but no luck

[2019-01-22 17:19] majulvez commented on #4439
Is this issue considered a bug?

[2019-01-22 17:26] melloware commented on #4460
@majulvez Let me look. If it's in the PrimeNG component I think I can fixt this component.  Investigating now.

[2019-01-22 17:40] melloware commented on #4460
OK figured it out its a documentation error.  The property is firstDayOfWeek: 1 and not firstDay.

[code]

I will update the showcase

[2019-01-22 17:45] melloware commented on #4460
Submitted PR to showcase: https://github.com/primefaces/showcase-facelift/pull/26

[2019-01-22 17:55] melloware commented on #4461
PR submitted. If you use ariaLabel it will be the label if you leave ariaLabel off it will default to title if there is one.

[2019-01-22 17:57] melloware commented on #4439
I would say its a bug.

[2019-01-22 19:49] majulvez commented on #4460
Hi @melloware ,

does it work with firstDayOfWeek:1?

I just did a test and It's not working as we expected. I still see sunday as a first day of the week

[2019-01-22 20:01] melloware commented on #4460
Attached is my test project you can run with "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

firstDayOfWeek: 1
![image](https://user-images.githubusercontent.com/4399574/51561913-7cb88900-1e56-11e9-8b55-b305127d117c.png)

FirstDayOfWeek: 0
![image](https://user-images.githubusercontent.com/4399574/51561978-a1acfc00-1e56-11e9-98e5-34884b54769c.png)

[2019-01-22 20:10] majulvez commented on #4460
I tested with 6.2.14. Maybe is the version. I see your test is with 7 snapshot. I'll give a try and I'll let you know

Thx!

[2019-01-22 20:11] melloware commented on #4460
yep it could be a bug in 6.2.14 branch that is fixed in 7.0-SNAPSHOT

[2019-01-22 20:27] #4461 closed, assigned to nobody

[2019-01-22 20:58] majulvez commented on #4460
I made a mistake in the last test. It's working fine in 6.2.14 using firstDayOfWeek:1 too

Thank you for your help @melloware

[2019-01-22 20:59] melloware commented on #4460
No problem. Can you close this ticket?  I have updated the Showcase appropriately for the next release.

[2019-01-22 20:59] #4460 closed, assigned to nobody

[2019-01-22 21:32] tandraschko commented on #4439
@mertsincan wdyt?

[2019-01-23 07:12] mertsincan commented on #4455
Thanks a lot for the PR ;)

[2019-01-23 07:13] #4455 closed, assigned to nobody

[2019-01-23 08:20] tandraschko commented on #4455
@KarlKnapp refactored with Objects.equals - Could you give it a try?

[2019-01-23 09:23] mertsincan commented on #4439
No bug, we have decided that users can control disabledDays in range using ajax events and throw a validation exception.

[2019-01-23 09:23] #4439 closed, assigned to nobody

[2019-01-23 09:53] tandraschko opened #4463 "Slider: throws exception on validate if submitted value is empty string"
Happens without value binding:

[code]

[2019-01-23 10:11] #4463 closed, assigned to nobody

[2019-01-23 12:54] tandraschko opened #4464 "ImageCropper: broken"
@melloware it seems that imageCropper is broken in trunk showcase and firefox. As you updated the plugin, can you check that?

[2019-01-23 12:55] melloware commented on #4464
Investigating...

[2019-01-23 12:58] melloware commented on #4464
Hmm I am using Firefox Quantum 64.02 and ImageCropper seems to be working fine for me?

![image](https://user-images.githubusercontent.com/4399574/51608153-a7e9b980-1ee4-11e9-835d-0f08d123afa1.png)

[2019-01-23 13:00] tandraschko commented on #4464
please try on localhost with trunk

[2019-01-23 13:03] melloware commented on #4464
Hmm localhost with the latest 7.0-SNAPSHOT from this morning is also working fine in Chrome and Firefox for me.

[2019-01-23 13:29] melloware opened #4465 "Taglib: Locale"
Standardize Locale description and add Locale to DatePicker as its missing.

Also fixed some duplicate CDATA wrappers.  PR coming.

[2019-01-23 13:48] #4465 closed, assigned to nobody

[2019-01-23 13:48] mertsincan commented on #4465
Good PR ;)

[2019-01-23 14:08] mertsincan opened #4467 "p:selectOneRadio with layout="custom" and p:outputLabel as clickable element causes Javascript exceptions"
Reported By PRO User;

[2019-01-23 14:08] jansohn commented on #1178
+1 for this. Having to add a separate `p:remoteCommand` is cumbersome...

[2019-01-23 14:10] #4467 closed, assigned to mertsincan

[2019-01-23 14:27] mertsincan commented on #4464
@melloware Please see; https://www.dropbox.com/s/p6m81vxtlgko693/cropper_test.avi?dl=0

After the page refresh, cropper component works fine for me on FF 64.0.2

[2019-01-23 14:31] tandraschko commented on #4464
yep, same for me
but it also works only randomly on refresh
maybe is the script initialized to early and "wb.initWithComponentLoad" doesn't work correctly?

[2019-01-23 14:39] melloware commented on #4464
ok interesting let me keep messing with it to try and reproduce.

[2019-01-23 14:46] mertsincan commented on #4464
It works fine for me with "wb.init" instead of "wb.initWithComponentLoad"

[2019-01-23 14:50] tandraschko commented on #4464
the problem is that wb.init will be actually be executed on document.ready (before window.load) and therefore the image shoudln't be loaded yet.
initWithComponentLoad actually should be the better solution - maybe also related a bit with MOVE_SCRIPTS_TO_BOTTOM.

[2019-01-23 14:58] melloware commented on #4464
Confirmed. If I change Showcase to MOVE_SCRIPTS_TO_BOTTOM=false it works fine.

[2019-01-23 15:00] tandraschko commented on #4464
probably jq "$element.on('load')" doesn't execute the listener when it's already loaded. Is there a jquery solution like "execute listener on load or when already loaded"?

[2019-01-23 15:02] martin654 commented on #4360
@mertsincan Is the old calenar going to be deprecated in future?

[2019-01-23 15:18] melloware commented on #4464
@tandraschko Am I reading this wrong?  It says Load method was deprecated in Jquery 1.8 and removed in 3.0.  Are we getting it because we have the migrate script?

https://api.jquery.com/load-event/

[2019-01-23 15:22] tandraschko commented on #4464
i think there is a difference between the old-style load method or the .on('load') event

[2019-01-23 15:23] melloware commented on #4464
Hmm that page says "This method is a shortcut for .on( "load", handler )."

[2019-01-23 15:28] #4464 closed, assigned to nobody

[2019-01-23 15:29] melloware commented on #4464
Excellent fix!

[2019-01-23 16:44] bl4cksun opened #4468 "DataTable: Row Selection does not select Radio Button"
## 1) Environment
- PrimeFaces version: 6.2.9
- Does it work on the newest released PrimeFaces version: no, can be reproduced in PrimeFaces Showcase (7.0-SNAPSHOT)
- Application server + version: presumably all
- Affected browsers: presumably all

## 2) Expected behavior

- when selecting a row in a table with radio button selection via mousedown, the corresponding radio button and the row should

[2019-01-23 16:48] melloware commented on #4468
Similar or same as this issue: https://github.com/primefaces/primefaces/issues/1417

[2019-01-23 16:53] bl4cksun commented on #4468
@melloware

You are correct, issue #1417 it is similar. However, there seems to be an inconsistency between the DataTable selectable via CheckBoxes and via RadioButton. I would expect the same behavior in both, either the row is selectable by mousedown elsewhere or it is not.

It would be good to know, which is the desired/expected behavior here.

[2019-01-23 17:46] rmpestano opened #4469 "DataTable : Sticky Header - cannot filter or sort on 7.0.RC1"
## 1) Environment
- PrimeFaces version: 7.0.RC1
- Does it work on the newest released PrimeFaces? no, works on v6.2

- Application server + version: WildFly 13
- Affected browsers: Chrome/Firefox

## 2) Expected behavior

 Datatable should be sortable and filterable

## 3) Actual behavior

Can't sort or filter datatable

## 4) Steps to reproduce

Just create a datatable with `stickyHeader=true` an

[2019-01-23 17:51] melloware commented on #4468
@bl4cksun Agreed.  It seems radio and checkbox do two different things but PF should just pick one and make it the same for both.

[2019-01-23 17:54] melloware commented on #4469
Similar to:
https://github.com/primefaces/primefaces/issues/3847

[2019-01-23 17:55] Rapster commented on #4469
I think @mertsincan might have an idea about this, see #1070

filter is disabled on purpose, see the line https://github.com/primefaces/primefaces/blob/bb98920e8ed8d3f2a56da956e51930bf43268d17/src/main/resources/META-INF/resources/primefaces/datatable/datatable.js#L3648

[2019-01-23 18:03] Rapster commented on #4469
In my company, we customized our stickyHeader so the paginator gets sticky also and we don't face those issues. @Taichou I think we might need your brain on this one 😉

[2019-01-23 18:08] rmpestano commented on #4469
As @Rapster [commented here](https://github.com/primefaces/primefaces/issues/3847#issuecomment-437000199) it is enabled after the sticky headers are activated. IMO it is very strange, who uses sort or filter after scrolling the page?

[2019-01-23 18:11] tandraschko commented on #4469
I would remove all Inputs from the Sticky Header ;) but thats up to primetek

[2019-01-23 19:21] GedMarc commented on #4460
Hi There,

What maven repo can I pull 7.0-Snapshot from? :)

[2019-01-23 19:23] melloware commented on #4460
change 7.0-SNAPSHOT to 7.0.RC1 and it should work.

that is in the PrimeTek repo which that pom.xml already has mapped.

[2019-01-23 19:24] melloware commented on #4469
I personally think the Sticky Header needs some love.  There are about 10-15 open items here around Sticky Header.

[2019-01-23 19:29] GedMarc commented on #4460
Phew! Not going crazy!
Considering my week so far this is comforting xD

Perhaps this is just incompatibility with options? The datepicker shows so that's already a massive step forward!

[pfdatepicker.zip](https://github.com/primefaces/primefaces/files/2788845/pfdatepicker.zip)

[2019-01-23 19:32] melloware commented on #4460
Whoops OK now I fixed it.  Try this one...
[pf-datepicker.zip](https://github.com/primefaces/primefaces/files/2788861/pf-datepicker.zip)

[2019-01-23 19:38] GedMarc opened #4470 "7.0.RC1 - DatePicker : Combination of selection="multiple" and numberOfMonths results in a broken date picker"
[pfdatepicker.zip](https://github.com/primefaces/primefaces/files/2788871/pfdatepicker.zip)

Not sure what else to say, it's all in the title :)

7.0.RC1

[2019-01-23 19:48] melloware commented on #4470
Thanks for including the reproducible sample!

[2019-01-23 21:17] melloware commented on #4372
@jdesmet Any update?

[2019-01-24 07:52] mertsincan commented on #4470
I think this issue is fixed on 7.0.Final. Please try 7.0-SNAPSHOT.

[2019-01-24 07:58] mertsincan commented on #4469
This issue works fine with Elite version 6.2.x. I need to find the fixes in 7.0 version.

[2019-01-24 07:59] GedMarc commented on #4470
which repo can I get 7.0-snapshot from?

[2019-01-24 08:04] cnsgithub commented on #4470
[code]

Or `master-SNAPSHOT` as version, see https://github.com/primefaces/primefaces/blob/master/README.md

[2019-01-24 08:05] mertsincan commented on #4469
Please examine these codes;
<details>
 <summary>on 7.0, setupStickyHeader function</summary>

[code]
</details>

<details>
 <summary>on 6.2.15, setupStickyHeader function</summary>

[code]
</details>

[2019-01-24 08:16] mertsincan commented on #4469
@tandraschko, I think this issue is related to https://github.com/primefaces/primefaces/issues/834

[2019-01-24 08:19] mertsincan commented on #4469
Maybe, we can use `position: sticky;` in the future :) Details; https://css-tricks.com/position-sticky-2/

[2019-01-24 08:21] tandraschko commented on #4469
yep, that would be the best solution. Maybe for the next version?

[2019-01-24 08:21] GedMarc commented on #4470
Ok not yet - it selects, but doesn't store.

[2019-01-24 08:24] GedMarc commented on #4470
[pfdatepicker-mastersnapshot.zip](https://github.com/primefaces/primefaces/files/2790736/pfdatepicker-mastersnapshot.zip)

![image](https://user-images.githubusercontent.com/5367513/51664390-06d13080-1fc2-11e9-9927-cc4bf9015f47.png)

On Form Update
![image](https://user-images.githubusercontent.com/5367513/51664418-105a9880-1fc2-11e9-92f4-a107dfb54a6f.png)

Jan 24, 2019 10:22:45 AM com.sun.faces.c

[2019-01-24 08:26] GedMarc commented on #4470
Other things I had to fix, was the immediate controller, Looks like this still stays around -
I did my ugly hack like this :
[code]

Then I simply added in the range options as well with the multiple filter, and my custom build worked ;)

[2019-01-24 08:27] GedMarc commented on #4470
![image](https://user-images.githubusercontent.com/5367513/51664683-a4c4fb00-1fc2-11e9-834a-111f6e055dab.png)

[2019-01-24 08:29] GedMarc commented on #4470
Please re-open, Only close issues on confirmation of resolution?
You guys aren't the best at testing your implementations ;)

[2019-01-24 08:30] GedMarc commented on #4470
as you can obviously see by performing any update... It's really quite annoying.

[2019-01-24 08:35] GedMarc commented on #4470
@melloware And again, no testing occurs when making changes. This is terrible.
I'm pulling out of this, I have a working version that does what I need it to.

[2019-01-24 08:37] #4470 closed, assigned to mertsincan

[2019-01-24 08:48] mertsincan commented on #4469
My suggestion;
@tandraschko can revert your fix in #834. As you know, p:layout component is deplicated. We'll remove it in the future (Maybe, on 7.1). I suggest that users use our new grid systems instead of p:layout. Because, new generation designs are made with this kind of grid systems. Our all Premium layouts use our grid systems;
https://www.primefaces.org/ultima/
https://www.primefaces.org/r

[2019-01-24 09:00] mertsincan commented on #4469
- It doesn't work on IE :smile: Maybe, we can find a workaround for it.

[2019-01-24 09:11] tandraschko commented on #4469
let me check that issue before reverting.

[2019-01-24 10:47] mertsincan commented on #3971
Related to https://github.com/primefaces/primefaces/issues/4469

[2019-01-24 10:47] #3971 closed, assigned to nobody

[2019-01-24 10:53] fanste commented on #1922
Moved ticket to eclipse-ee4j/mojarra#4535

[2019-01-24 12:03] tandraschko commented on #4469
fixed.
i didn't revert as the handling in the old version was also not correct.
Works fine for me now.

[2019-01-24 12:04] tandraschko commented on #4469
Please test :D

[2019-01-24 12:04] #4469 closed, assigned to tandraschko

[2019-01-24 12:21] rmpestano commented on #4469
Hi, it works for me, thank you!

Note that the behavior is a bit different than in v6.2. Now the sort/filter headers comes enabled and are disabled when the sticky headers are activated. Makes a lot more sense to me.

[2019-01-24 12:35] melloware commented on #4470
@tandraschko please reopen this.  There are clearly unresolved issues.

[2019-01-24 12:42] melloware commented on #4470
When I run this sample and select a few dates on the mutliple calendar and press the All Button I get this stack trace with 7.0-SNAPSHOT.

[code]
[pf-4470.zip](https://github.com/primefaces/primefaces/files/2791694/pf-4470.zip)

[2019-01-24 12:45] tandraschko commented on #4470
then please create a new issue + PR, as the owner closed this 2 times here, we should leave it closed.

[2019-01-24 12:47] melloware commented on #4470
No problem i will create a new one.

[2019-01-24 12:49] melloware opened #4471 "DatePicker: PartialResponseError submitting multiple values"
Here is a test case:
[pf-4470.zip](https://github.com/primefaces/primefaces/files/2791715/pf-4470.zip)

Run the sample and then select a few dates from the multiple Calendar and press the "All" button.

You will get this stack trace:

[code]

[2019-01-24 13:05] mertsincan commented on #4470
Thanks @melloware ;)

[2019-01-24 13:33] mertsincan commented on #4471
Does it work without immediate attribute on datepicker?

[2019-01-24 13:35] melloware commented on #1231
@mertsincan @tandraschko I think we should make this vdldoc change for 7.0.  I would say JSF 2.2 and 2.3 are becoming more prevalent than 2.0/2.1 and BalusC says this is backward compatible.  I can see in the Elite releases the VDLDOC is being generated I just don't see how.  It must be something internal @mertsincan does with his build script?

[2019-01-24 13:39] melloware commented on #4471
So with immediate=false the error goes away but the values are not accepted and and the multi-calendar dissapears and I get this in the JavaScript Console:
[code]

![image](https://user-images.githubusercontent.com/4399574/51681716-7f7cc080-1fb3-11e9-9d02-6ff03e867095.png)

The other poster said he had to use this crazy hack to make it work:

![image](https://user-images.githubusercontent.com/4399

[2019-01-24 14:20] tandraschko commented on #4469
reverted my changes for #834 as PrimeTek would like to stay with the old behavior that the sticky header has enabled filters.

So please retest after my next commit.

[2019-01-24 14:22] tandraschko commented on #4469
https://github.com/primefaces/primefaces/commit/b96481f02cd6859c86798405084ed74338b295e6

[2019-01-24 16:11] rmpestano commented on #4469
Yea, now it works like PF 6.2, thank you very much!

[2019-01-24 17:28] melloware commented on #4395
Well I just tested this and its working fine. Attached is my sample test case:
[pf-4395.zip](https://github.com/primefaces/primefaces/files/2792833/pf-4395.zip)

Run it with "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

Screenshot:
![image](https://user-images.githubusercontent.com/4399574/51696483-9df2b400-1fd3-11e9-87e0-6e0d549584e8.png)

[2019-01-24 21:33] GedMarc commented on #4471
On value setting also found encodeEnd() didn't handle properly for no value selected with immediate=true, had to wrap.

[code]

[2019-01-25 06:53] mertsincan commented on #4469
Thanks a lot, @tandraschko ;)

[2019-01-25 07:33] mertsincan opened #4472 "DatePicker throws a JS exception with multiple selection and numberOfMonths > 1"
Details; https://github.com/primefaces/primefaces/issues/4471#issuecomment-457199702

[2019-01-25 07:49] #4472 closed, assigned to mertsincan

[2019-01-25 07:51] mertsincan commented on #4471
@melloware, the second issue(JS error) is fixed. Could you please test it?

[2019-01-25 09:22] bl4cksun commented on #4468
Since #1417 and this issue differ in the expected behavior, maybe the behavior should be configurable with a default behavior that is intuitive for most people.

[2019-01-25 12:27] melloware commented on #4471
@mertsincan I have confirmed the JS error is no longer displaying if immediate="false" in this scenario.

[2019-01-25 12:37] #4471 closed, assigned to mertsincan

[2019-01-25 12:38] mertsincan commented on #4471
Thanks a lot, @melloware ;) Original issue is fixed now. Could @melloware and @GedMarc please test it?

[2019-01-25 12:44] melloware commented on #4471
@mertsincan So far the fixes look good.  But @GedMarc has been heavily using this component so I will wait until he confirms as well.

[2019-01-25 12:56] GedMarc commented on #4471
Perhaps my repo is out of date?
Can you confirm the dependency for me please?
[code]

We have this widget in production ;) We were forced by business to push it in on the day of 6.2.14 release  ;)

[2019-01-25 13:08] melloware commented on #4471
@GedMarc I think you can do this...

[code]
I am not quite sure how jitpack works.  If not if you git clone PF here you can do "mvn clean install" to build 7.0-SNAPSHOT locally.

It looks like JitPack will then force a build of the latest code if you use the above!  So cool.

[2019-01-25 13:31] GedMarc commented on #4471
Getting much closer!

[code]

I double checked the getters/setters, looks ok to me, maybe just a sanity check on my stuff? I haven't done the best this week

[pfdatepicker.zip](https://github.com/primefaces/primefaces/files/2796248/pfdatepicker.zip)

[2019-01-25 13:38] melloware commented on #4471
@GedMarc I had to fix this in your code to be bean compliant like this...

[code]

You were returning testView instead of a void method.

[2019-01-25 13:38] GedMarc commented on #4471
Ah yes I do the CRP builders, not the best week xD

[2019-01-25 13:39] mertsincan commented on #4471
@melloware, you are so fast 😄

[2019-01-25 13:58] GedMarc commented on #4471
Standard Inline & Normal & Immediate- Pass
Immediate Inline & Normal & Immediate - Pass
Locale Inline & Normal & Immediate - Pass

Restricted Dates inline & Normal  & Immediate - Fail
Time Zoned Dates Inline & Normal  & Immediate - Fail

----
Outside @form Not Updated - Pass
Inside @form Updated - Pass
-----

I see you guys don't do "broken components", but "bug in components" logging - Should thi

[2019-01-25 13:59] GedMarc commented on #4471
Also looks like immediate=false without multiple doesn't function (date4 and after)
But this is really getting much better

[2019-01-25 14:01] GedMarc commented on #4471
crap wrong issue

[2019-01-25 14:01] GedMarc commented on #4471
no right issue xD

[2019-01-25 14:06] melloware commented on #4471
@GedMarc I would open a new issue one for each issue you have.  That way they get tracked as individual issues and not in one big bucket.  As small a reproducible test case for each just showing the issue.

[2019-01-25 14:07] GedMarc commented on #4471
Then for this bug, this is complete

Thanks guys! See you on the next issue thread!

[2019-01-25 16:00] KarlKnapp commented on #4455
Seems to work, too.

[2019-01-26 01:21] rmpestano opened #4473 "DatePicker - TypeError: dayIndex is undefined (on windows only)"
Hi guys, I'm getting an js error with datepicker but only on windows machines (Firefox/Chrome/Edge - all with clean browser caches). I've tested on two different windows 7 and 8 computers and 3 Linuxes (Ubuntu) desktops. I have no issues on ubuntu machines.

It is important if someone else with windows machines could also test the provided sample project.

****

## 1) Environment
- PrimeFaces vers

[2019-01-26 03:21] michael-knapp-j4care opened #4474 "SelectManyCheckBox grid layout - closing tr-tag not rendered"
primefaces 7.0.RC1 - org.primefaces.component.selectmanycheckbox.SelectManyCheckboxRenderer

Obvious bug:  if the number of items in 'selectItem' is not a multiple of 'colums',  the closing 'tr'-tag  is not rendered. Result is an unbalanced DOM tree with ambiguous effects in the web browser. (parts of page not displayed, misalignments, ...)

[code]

[2019-01-26 07:47] tandraschko commented on #4474
Was already fixed for Panelgrid: https://github.com/primefaces/primefaces/issues/4122

Would be great if you can provide a PR

[2019-01-26 12:12] rmpestano commented on #4473
Guys,

I`ve created a windows 10 VM and **could not reproduce** the issue, its working on all browsers both primefaces-test and the link I've provided.

It may be some kind of cache or browser version, please don't close this issue yet, I'll investigate a bit further.

[2019-01-26 12:38] melloware commented on #4473
I was testing this heavily on windows 10 yesterday and everything was looking good. Definitely let us know if you can reproduce j can try out what you find.

[2019-01-26 12:40] melloware commented on #4474
I can look at this.

Sent from my iPhone

[2019-01-26 13:22] rmpestano commented on #4473
Hi @melloware, I just don't know what's happening.

Things I've done:

- Took same primefaces jar which is working on the windows 10 VM
- reinstaled firefox
- clear browser caches dozens of times
- use private ff windows
- tested on chrome and FF

Things I've noticed:

- It works on primefaces showcase (Also ran the showcase locally and it worked!)
- it fails on two different windows machines (at

[2019-01-26 13:56] melloware commented on #4473
This weekend I will retest all 4 browsers on Windows 10 and let you know if I see anything strange. Chrome Firefox IE11 and Edge.

[2019-01-26 14:52] michael-knapp-j4care commented on #4474
My suggested fix: (I'm not used to git and pull requests)
[code]

[2019-01-26 22:18] rmpestano commented on #4473
Look the generated html of the same page (with only an inline datepicker) on showcase (working) and on primefaces-test project:

The scripts look very similar:

![prime-test](https://user-images.githubusercontent.com/1592273/51793417-7f451680-21a7-11e9-8d68-99a861095d6d.png)
![showcase](https://user-images.githubusercontent.com/1592273/51793418-7f451680-21a7-11e9-9d42-5fb5f0e3b399.png)

Now the co

[2019-01-26 22:37] rmpestano commented on #4473
Alright, found the problem, it is a locale issue.

If you look carefully on the images above you'll see primefaces-test application was using my machine locale (PT_BR):
[code]

forcing the locale to en (as primefaces showcase does) on faces-config solves the issue.

Now I think you can solve the issue, right? following is a sample app with pt_BR locale configured as default to reproduce the issue:

[2019-01-26 22:55] melloware commented on #4473
Yep that will help let me do some debugging

[2019-01-27 22:48] Rapster commented on #4474
@michael-knapp-j4care  Well, there is always a first time, have a try 😉

[2019-01-28 06:39] #4473 closed, assigned to mertsincan

[2019-01-28 06:40] mertsincan commented on #4473
Hi @rmpestano,

Could you please test it again?

[2019-01-28 08:53] SaschaPro commented on #4395
@melloware
I think there is a mistake in your example.
The bug only occurs if the search query from the autocomplete component matches the characters in the escaped ampersand (& amp;).
In the sample I provided the 'M' matches the 'm' in '& amp;'.
It works fine if the search query is 'Mo', because that does not match the characters in the escaped ampersand.
Therefor I think your example will not wo

[2019-01-28 12:32] melloware commented on #4474
@michael-knapp-j4care I am trying to reproduce this using the Showcase code...

[code]

The selectItems=9 and I have tried columns=2 (not a multiple of 9), columns=3 (is multiple), columns=4 (not a multiple) and all of it renders fine with the proper closing tag.  Can you give me an example of where it is producing the problem?

[2019-01-28 12:44] tandraschko commented on #4474
@melloware did you use Mojarra 2.3? Other JSF impls auto closes it.

[2019-01-28 13:02] melloware commented on #4474
I am using Mojarra-2.3.2 which is default in the showcase.   Which one should I use?

[2019-01-28 13:18] melloware commented on #4395
OK that was the hint I needed. I submitted a PR to fix it.

![image](https://user-images.githubusercontent.com/4399574/51838756-4b680f00-22d5-11e9-8557-7b02e0cb0e9f.png)

[2019-01-28 13:38] tandraschko commented on #4474
should be fine.
So we need a example, otherwise  -> 'can't replicate'

[2019-01-28 13:51] rmpestano commented on #4473
Hi @mertsincan,

I'm still getting the same error:  `TypeError: dayIndex is undefined[Learn More] datepicker.js.xhtml:214:17`

![screenshot from 2019-01-28 11-49-50](https://user-images.githubusercontent.com/1592273/51840268-c0960d00-22f2-11e9-8128-13fe2e35e5b6.png)

My local primefaces copy points to the following commit:

[code]

Does the [sample application](https://github.com/primefaces/primef

[2019-01-28 14:27] melloware commented on #4473
@mertsincan the sample is still broken for me.  I think what the component needs is to detect if the PrimeFaces.locale is not defined in the JS that it falls back to "en_US" and logs a warning to the console.

[code]

[2019-01-28 14:52] mertsincan commented on #4473
@rmpestano and @melloware Please try again ;) Fix; https://github.com/primefaces/primefaces/commit/8417e00ac8bd9304110117b1026742aaba0dea01

[2019-01-28 15:01] melloware commented on #4473
Looks good to me but better have @rmpestano chime in too.  Since my default locale is en_US.

[2019-01-28 15:09] rmpestano commented on #4473
Yea it is working great now! thank you guys!

[2019-01-28 18:03] michael-knapp-j4care commented on #4474
The original code is wrong logically, the error is even obvious by looking at it. Just looking at the browser's output is not the way how to check the correctness.
Are there some HTML beautifiers or similar things after the HTML generation?
With simple examples it may work, because browsers are quite robust with simple errors in XHTML code.
It usually affectes elements put after the SelectManyChec

[2019-01-28 18:23] tandraschko commented on #4474
I don't think so as the DOM levels were completely broken with #4122.
It would be great if you could provide a sample this week as we will probably release RC2.

Also "view page source" in firefox e.g. should really print the plain rendered html.

[2019-01-28 19:09] NOTiFYcouk opened #4477 "columnToggler: Unselected Columns being displayed"
## 1) Environment
- PrimeFaces version: 6.2.15
- Does it work on the newest released PrimeFaces version? Version? No 6.2.15
- Does it work on the newest sources in GitHub? No
- Application server + version: JBoss WildFly 15.0.1.FINAL (EE8)
- Affected browsers: Google Chrome/Safari

## 2) Expected behavior

7 columns I selected display as I move through the dataTable
...

## 3) Actual behaviour
All

[2019-01-28 21:04] melloware commented on #4474
@michael-knapp-j4care I agree the code just looks broken looking at it but without a reproducible test case to prove its broken so we can prove its fixed its hard to commit a change like this.

[2019-01-28 21:33] michael-knapp-j4care commented on #4474
Sample code with 7 Elements

[code]
Sample source on Firefox, displayed with the "view source" option (the DOM tree in the browser's debugger is different from the source)
Note the missing closing </tr> tag in the line between the blank lines, which I've added to highlight
But it is displayed correctly in the browser, but this does not mean that this is always the case.

[code]

[2019-01-28 21:59] melloware commented on #4474
Thanks I will check it out!

Sent from my iPhone

[2019-01-29 03:16] dani7120 commented on #1253
Hi, this issue was solved and released?

[2019-01-29 05:49] mertsincan commented on #4473
Glad to hear, thanks a lot for the update!

[2019-01-29 07:53] mertsincan opened #4478 "The p:tree with multipleDrag="true" feature doesn't seem to work correctly"
Reported By PRO User;

[code]

[code]

[2019-01-29 07:54] #4478 closed, assigned to mertsincan

[2019-01-29 12:39] melloware commented on #1253
@dani7120 Yes it was fixed in PF 6.2 or higher: https://github.com/primefaces/primefaces/issues/1403

[2019-01-29 12:49] melloware commented on #4474
PR Submitted for review.  Test case attached here:
[pf-4474.zip](https://github.com/primefaces/primefaces/files/2807722/pf-4474.zip)

I have added the TBODY tags and properly closed out the TR tags.   Also slight refactoring to move the FacesException up to "fail fast".

[2019-01-29 20:38] melloware commented on #4477
I was able to reproduce this.

Reproducible test case:
[pf-4477.zip](https://github.com/primefaces/primefaces/files/2809571/pf-4477.zip)

Just run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2019-01-29 21:05] melloware commented on #4477
I submitted a simple fix.  I just looked at what Sort was doing and it was calling `$this.updateColumnsView();` to repaint the visible columns.  I simply added that same line to a successful completion of a Paginate request.

[2019-01-29 21:16] #4477 closed, assigned to nobody

[2019-01-29 21:16] tandraschko commented on #4477
thanks @melloware

[2019-01-29 21:17] NOTiFYcouk commented on #4477
@melloware Thanks very much. I'll give it a go ASAP.

[2019-01-29 21:21] melloware commented on #4477
No problem let me know if it works for you.

[2019-01-30 09:54] banmani opened #4481 "Upload functionality is not working with tabs"
## 1) Environment
- PrimeFaces version: 6.2

## 2) Expected behavior
In the first click of tab only p:fileUpload functionality should work
And Calendar pop-up also should work

## 3) Actual behavior
After Navigating the tab p:fileUpload functionality is not working.
We have to click on the tab 2nd time or Navigate back to any other tab and coming back then only fileUpload functionality is working

[2019-01-30 12:54] #4474 closed, assigned to nobody

[2019-01-30 13:04] melloware commented on #4481
@banmani can you please take your examples and make them runnable so we can debug?  This should be easy to do just clone this project: https://github.com/primefaces/primefaces-test

You can execute the sample with "mvn jetty:run-exploded" command and hit http://localhost:8080/primefaces-test to run the page.

[2019-01-30 13:21] tandraschko commented on #4481
I did the following:
- add h:body
- clean h:head (to make it clean as possible and to test PF ;))
- make the handleFileUpload public (the exception was that the method cant be resolved)
- "click second tab", upload something and make a system.err.println into the handleFileUpload method

[2019-01-30 13:21] #4481 closed, assigned to nobody

[2019-01-30 20:51] NOTiFYcouk commented on #4477
When I deploy 6.2.15 I get in the console:

20:42:31,766 INFO  [org.primefaces.webapp.PostConstructApplicationEventListener] (ServerService Thread Pool -- 90) Running on PrimeFaces 6.2.15

I've built the Master branch it created: primefaces-7.0-SNAPSHOT.jar Java JAR file - 5.2 MB

When I deploy my build using te new JAR nothing is shown in the log and when try & bring the page I get:

javax.el.ELE

[2019-01-30 21:00] melloware commented on #4477
Are you positive you have a proper PUBLIC setter and getter for selectedManufacturerChanged in MotorcycleController

[2019-01-30 21:59] NOTiFYcouk commented on #4477
Works fine with 6.x.xx & 7.0.RC1
[code]
the bean method:

[code]

[2019-01-31 06:52] krishnakittu opened #4483 "Global configured partial submit does not apply on default events, without defined p:ajax"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-01-31 08:17] tandraschko commented on #4483
partialSubmit is deactivated per default, see the user guide.

[2019-01-31 08:36] krishnakittu commented on #4483
@tandraschko
For autocomplete component on query event Partial submit is not working. I added the Context param(**Primefaces.SUBMIT**) as per documentation. But still the full form is submitting.

[2019-01-31 11:47] tandraschko commented on #4483
Yep seems like that the global partialSubmit is not applied.
This works:
`<p:ajax event="query" partialSubmit="true" />`

It should even work if you activate it in web.xml and only add:
`<p:ajax event="query"  />`

[2019-01-31 11:56] tandraschko commented on #4483
Currently the primefaces.SUBMIT param is only evaluated for scripts generated on the server side (like p:ajax or p:commandButton).
Some components requires a default ajax event to get data from the server (p:autoComplete query, p:datatTable paginate, ..., ...), which ignores the global config.

New feature as it never worked for this case. As we already have a RC2, i will do it for 7.1.

[2019-01-31 12:05] melloware commented on #4477
Try 7.0.RC2 which was just released it has this column toggler fix in it.

[2019-01-31 13:34] NOTiFYcouk commented on #4477
Perfect. Working as expected:

13:27:30,948 INFO  [org.primefaces.webapp.PostConstructApplicationEventListener] (ServerService Thread Pool -- 87) Running on PrimeFaces 7.0.RC2

Thanks for the excellent support.

[2019-01-31 13:46] melloware commented on #4477
And the column toggle fix is working for you as expected?

[2019-01-31 13:46] mfrenaij opened #4484 "InputMask: NullPointerException after update v6.2 to v7.0RC1"
## 1) Environment
- PrimeFaces version: 7.0RC
- Works with version 6.2

## 2) Expected behavior
InputMask should accept values like 'FF', '00' - '99' (not '0A')

## 3) Actual behavior
NullPointerException at org.primefaces.component.inputmask.InputMaskRenderer.translateMaskInfotRegex(InputMaskRenderer.java:79)

## 4) Steps to reproduce
Enter a value e.g. '08' in the inputMask field and press 'Ente

[2019-01-31 13:49] tandraschko commented on #4484
@cnsgithub can you check that?

[2019-01-31 13:50] NOTiFYcouk commented on #4477
Exactly as expected.

[2019-01-31 14:21] matinh opened #4485 "TabView: validation failures not handled correctly with AJAX and skipChildren="false""
When you have a `<p:tabView>` with an `<p:ajax skipChildren="false">`, validation of all components inside the tabView will happen. If validation fails, model is not updated and listeners/setters are not called. so far, this is expected behavior. However, the active tab on client-side (in the browser) changes and thus client and server are not in sync regarding `activeIndex`, which is probably a b

[2019-01-31 14:42] tandraschko commented on #4485
Enhancement as we never implemented this behavior.
Would be great if you can work on a PR.

Maybe wizard is also a better component to use for this case?!

[2019-01-31 16:35] cnsgithub commented on #4484
@mfrenaij @tandraschko I wonder if you're using this correctly? Where did you specify your `p:inputMask mask` attribute? See https://primefaces.org/showcase/ui/input/inputMask.xhtml.

[2019-01-31 16:59] tandraschko commented on #4484
yep, probably invalid usage
however we should not throw a NPE then and just skip the validation.

[2019-01-31 17:12] cnsgithub commented on #4484
The `mask` attribute is required: https://github.com/primefaces/primefaces/blob/d166f951acb0d119fb6d5ef73e0b874dc0bb1194/src/main/resources/META-INF/primefaces-p.taglib.xml#L8923

Therefore we should throw an `InvalidArgumentException` in the first place.

[2019-01-31 17:28] tandraschko commented on #4484
thats ok for me, too

[2019-01-31 17:31] firsthour opened #4486 "TextEditor: value returns HTML with Quill editor specific CSS (aka is PF's Quill implementation useless?)"
## 1) Environment
- PrimeFaces version: 6.2.15
- Application Wildfly 12
- Affected browsers: Firefox, Chrome

## 2) Expected behavior

I expected this to work like the old p:editor, for example centering text would have CSS like "text-align: center" and making text big would have CSS like "font-size: 2.5em".

## 3) Actual behavior

p:textEditor's value returns Quill specific CSS classes such as "q

[2019-01-31 17:31] firsthour opened #4487 "TextEditor: value returns HTML with Quill editor specific CSS (aka is PF's Quill implementation useless?)"
## 1) Environment
- PrimeFaces version: 6.2.15
- Application Wildfly 12
- Affected browsers: Firefox, Chrome

## 2) Expected behavior

I expected this to work like the old p:editor, for example centering text would have CSS like "text-align: center" and making text big would have CSS like "font-size: 2.5em".

## 3) Actual behavior

p:textEditor's value returns Quill specific CSS classes such as "q

[2019-01-31 17:31] firsthour opened #4488 "TextEditor: value returns HTML with Quill editor specific CSS (aka is PF's Quill implementation useless?)"
## 1) Environment
- PrimeFaces version: 6.2.15
- Application Wildfly 12
- Affected browsers: Firefox, Chrome

## 2) Expected behavior

I expected this to work like the old p:editor, for example centering text would have CSS like "text-align: center" and making text big would have CSS like "font-size: 2.5em".

## 3) Actual behavior

p:textEditor's value returns Quill specific CSS classes such as "q

[2019-01-31 17:31] firsthour opened #4489 "TextEditor: value returns HTML with Quill editor specific CSS (aka is PF's Quill implementation useless?)"
## 1) Environment
- PrimeFaces version: 6.2.15
- Application Wildfly 12
- Affected browsers: Firefox, Chrome

## 2) Expected behavior

I expected this to work like the old p:editor, for example centering text would have CSS like "text-align: center" and making text big would have CSS like "font-size: 2.5em".

## 3) Actual behavior

p:textEditor's value returns Quill specific CSS classes such as "q

[2019-01-31 17:31] firsthour opened #4490 "TextEditor: value returns HTML with Quill editor specific CSS (aka is PF's Quill implementation useless?)"
## 1) Environment
- PrimeFaces version: 6.2.15
- Application Wildfly 12
- Affected browsers: Firefox, Chrome

## 2) Expected behavior

I expected this to work like the old p:editor, for example centering text would have CSS like "text-align: center" and making text big would have CSS like "font-size: 2.5em".

## 3) Actual behavior

p:textEditor's value returns Quill specific CSS classes such as "q

[2019-01-31 17:38] #4490 closed, assigned to nobody

[2019-01-31 17:38] #4489 closed, assigned to nobody

[2019-01-31 17:38] #4488 closed, assigned to nobody

[2019-01-31 17:38] #4487 closed, assigned to nobody

[2019-01-31 17:41] tandraschko commented on #4486
i don't think we can change something here (if there is no option in quill).
You can also use the pe:ckeditor.

[2019-01-31 17:51] firsthour commented on #4486
I apologize that I made so many duplicate entries, I have no idea how it happened.

One thing to consider is exposing the Delta object that Quill provides through its API through getContents(). I believe this is the intended way to use Quill, simply getting the inner HTML provides _an_ answer but for lots of functionality within Quill, I don't think it's _the_ answer.

https://quilljs.com/docs/api

[2019-01-31 17:52] firsthour commented on #4486
I also just edited in the last 3 paragraphs of my issue, I submitted early before which probably started the trigger of even more submissions somehow. Something to note though that the showcase suffers the same problem:

https://screenshotscdn.firefoxusercontent.com/images/5ec43d69-c668-4cca-aaba-85e8f3f0505d.png

[2019-01-31 20:26] melloware commented on #4484
PR submitted. I used FacesException since that seems to be the pattern other components are using for invalid configuration errors.

[2019-01-31 20:27] melloware commented on #4486
@firsthour It would be great if you want to deep dive this and figure out of getContents will fix the issue?

[2019-01-31 21:36] #4484 closed, assigned to nobody

[2019-01-31 22:17] firsthour commented on #4486
Honestly I wrote up to my team this morning that we should just walk away from the Quill implementation, if/when we get some time I will look into pe:ckEditor. Quill's delta markup seems great if you want to later convert to multiple outputs, but we just need HTML. They also provide no out of the box way to convert to HTML and reading their github it seems they did before 1.0.

Leveraging getConte

[2019-02-01 12:30] melloware commented on #4486
I agree with you.  I think this issue on Quill is a related complaint: https://github.com/quilljs/quill/issues/2029

[2019-02-01 12:31] melloware commented on #4393
@ken-han Any debugging you have done as to why or provide a PR to help us fix it?

[2019-02-01 12:32] melloware commented on #4390
@ken-han Any debugging you have done as to why or provide a PR to help us fix it?

[2019-02-01 13:31] NOTiFYcouk opened #4492 "columnToggler: After dataTable data refresh resorts back to displaying all columns"
## 1) Environment
- PrimeFaces version: primefaces-7.0.RC2
Does it work on the newest released PrimeFaces version? Version? No primefaces-7.0.RC2
Does it work on the newest sources in GitHub? No
Application server + version: JBoss WildFly 15.0.1.FINAL (EE8)
Affected browsers: Google Chrome/Safari

## 2) Expected behaviour

1. On start-up displays all columns in dataTable.
2. Use columnToggler to s

[2019-02-01 14:04] sbcontinuum commented on #4393
In order for `BlockUi` to be contained to the view it is attached to, it adds `position: relative` to the DOM element we are attaching it to (the table in this case).

`StickyHeader` gets `postion: absolute` with `top` and `left` offsets that are based on the position of the actual table header relative to the page root. (e.g. `top: 50px; left: 20px`). An element with `position: absolute` gets pos

[2019-02-01 14:27] ken-han commented on #4390
@melloware We haven't been able to find out why this happens. We "fixed" this by simply adding a single pixel to the table header with javascript.

Ofcourse since this bug only happens with chrome, in firefox the table header is a pixel too large.

[2019-02-01 15:07] ghost commented on #433
+1

[2019-02-01 19:32] melloware commented on #4393
@sbcontinuum Interesting proposal.  Interested in trying it and submitting a PR?

[2019-02-02 14:04] melloware commented on #4492
Smaller reproducible test case:
[pf-4492.zip](https://github.com/primefaces/primefaces/files/2824464/pf-4492.zip)

1. Navigate to http://localhost:8080/primefaces-test/test.xhtml
2. Use Column Toggler to remove some columns.
3. Use the paginator to page to the next page.
4. Now press the Update button you will see the columns re-appear.

[2019-02-02 14:31] melloware opened #4493 "Tag Library: XSD validation errors"
Using Eclipse it is validating the tag library XML against the XSD.  It is reporting the whole document is invalid because the order of the elements.

**Current:**
[code]
**Expected:**
[code]

Basically the order of description of tag-name is backwards.  On PrimeFaces extensions they are in the correct order and the document is valid. Adding @Rapster .

[2019-02-02 15:56] #4493 closed, assigned to nobody

[2019-02-02 19:21] Rapster commented on #4493
Before make the changes, I would have ping the JSF guys to make sure if it makes sense to define an order. IMO, It's been working so far for many years, so my guess is that the XSD is not properly well defined

[2019-02-02 23:50] melloware commented on #4493
Well regardless of what JSF team says the scheme is definitely defined with order. My guess is a lot of the tools are forgiving but it definitely was not validating in XML Spy or in Eclipse so I feel like this is the right change.

[2019-02-03 01:10] Rapster commented on #4493
I understood an order was set, but my question is does is make sense? It's not up to PF team anyway, but asking would have been nice though. At the end, I kinda don't care but reading the tagname first feels more natural than the other way around. Whatever floats your boat 😉

[2019-02-04 06:24] mertsincan commented on #4492
Could you please try it after adding <p:ajax event="toggle" />? Please see; https://github.com/primefaces/primefaces/issues/3044#issue-279257719

[2019-02-04 07:34] NOTiFYcouk commented on #4492
Thanks. That appears to have fixed it.

Have added and removed columns, moved and resorted them. Added and removed Manufacturers and repeated previous.

Be good to update the example in the Showcase. That's always my first port of call when using a component for the first time.

[2019-02-04 07:48] mertsincan commented on #4492
Thanks a lot for the update and your suggestion. We can add a demo for such issues. Thanks again ;)

[2019-02-04 07:48] #4492 closed, assigned to nobody

[2019-02-04 07:59] frifle opened #4495 "Client Side Validation: UnsupportedOperationException registering a custom ClientValidationConstraint"
java.lang.UnsupportedOperationException
	at java.util.Collections$UnmodifiableMap.put(Collections.java:1457)
	at org.primefaces.validate.bean.BeanValidationMetadataMapper.registerConstraintMapping(BeanValidationMetadataMapper.java:171)
	at de.frifle.test.playground.validation.ConstraintListener.<init>(ConstraintListener.java:35)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Met

[2019-02-04 08:52] tandraschko commented on #4495
for now all MapBuilder are modifiable again, we can decide what to do after the release.

[2019-02-04 08:52] #4495 closed, assigned to nobody

[2019-02-04 08:53] tandraschko commented on #4495
@Rapster if you would like to introduce a unmodifiable option, please create a issue for 7.1

[2019-02-04 10:18] Rapster commented on #4495
I'll have a look after release. FYI, we should considerer using a service locator pattern for something like BeanValidationMetadataMapper, making everything static is not the right thing to do.

[2019-02-04 10:41] majulvez opened #4496 "Datepicker: js error uncaught Extra/unparsed characters found in date (selectionMode="range")"
## 1) Environment
- PrimeFaces version: 6.2.15 and 7.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? No. Version? 6.2.15
- Does it work on the newest sources in GitHub? No
- Application server + version: Apache Tomcat 7.0.62
- Affected browsers: Chrome/Firefox

## 2) Expected behavior
Datepicker shows the range of dates selected in the calendar (today and tomorrow)

## 3) Actu

[2019-02-04 12:27] melloware commented on #4496
Attached is a runnable sample:
[pf-datepicker.zip](https://github.com/primefaces/primefaces/files/2827898/pf-datepicker.zip)

Just run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

It appears this is fixed in the upcoming 7.0 and most likely in 6.2.16.

[2019-02-04 12:41] tandraschko commented on #4496
@mertsincan can you verify?

[2019-02-04 13:50] majulvez commented on #4496
Thanks @melloware , but if you use inline="true" property in your example, you'll see that the range given is not showed

[2019-02-04 15:39] melloware commented on #4496
@majulvez Then you should have had inline in your example code above. I literally copied and pasted what you had.  I just ran it with inline="true" and I still get no JS errors and my screen looks like this...

![image](https://user-images.githubusercontent.com/4399574/52218641-1295e000-2869-11e9-8cd0-2315dc25552c.png)

[2019-02-04 16:02] majulvez commented on #4496
I meant with your example no js errors is showed (not like in 6.2.15) but I still don't see that range selected. I've tested with chrome and firefox (last version).

I told you about inline="true" because is easier to see the behaviour.

This is what I see

https://imgur.com/a/Scyaph4

[2019-02-04 16:27] melloware commented on #4496
I selected that range by hand.  So I guess the real bug here is that its not preselecting the dates from the backing beans values.  That is the bug.

[2019-02-04 16:30] majulvez commented on #4496
Yes. That is what I was testing when I see the js error. It's wrote down in the expected behaviour in the issue.

Thanks

[2019-02-04 16:33] melloware commented on #4496
Right I was focused on that the JS Error was your problem.  Not the fact its not preselecting the dates.  @mertsincan this is definitely an issue you can test with my test case above.

[2019-02-04 23:44] lemmondg opened #4497 "Schedule: The integrated tooltip is using the coordinates for the schedule component instead of the parent window."
## 1) Environment
- PrimeFaces version: 6.2.8
**- Does it work on the newest released PrimeFaces version?**    No, It is still a problem on version 6.2.8
**- Does it work on the newest sources in GitHub?**    I haven't tried it but the source code in question has not changed.
**- Application server + version:**               Tomcat 8
**- Affected browsers:**                               All brows

[2019-02-05 00:34] melloware commented on #4497
@OBreidenbach do you mind reviewing this?

[2019-02-05 01:13] stiemannkj1 opened #4498 "Include OSGi headers in MANIFEST.MF for all builds"
OSGi headers are only included when the project is built with the `release` profile. These headers should be included in all builds.

[2019-02-05 03:12] stiemannkj1 opened #4499 "Ensure that all optional packages and ServiceLoader SPIs are declared in OSGi header"
Optional classes such as those loaded via `Class.forName()` and `ClassLoader.loadClass()` should be declared as `resolution:=optional` in the `Import-Package` header. Also the `Require-Capability` and `Provide-Capability` must reflect the new `ServiceLoader` service for `VirusScanner`.

[2019-02-05 03:22] stiemannkj1 opened #4500 "Call PortletContext.getClassLoader() to obtain the application ClassLoader in a portlet environment if possible"
`PrimeApplicationContext` attempts to obtain the application `ClassLoader` by calling `ServletContext.getClassLoader()`. In a Portlet 3.0 environment there is now an equivalent `PortletContext.getClassLoader()` method, so the `PrimeApplicationContext` should try to obtain the `ClassLoader` that way before falling back to `Thread.currentThread().getContextClassLoader()`.

[2019-02-05 07:55] OBreidenbach commented on #4497
@melloware, Sorry, but I am short on time at the moment.
@lemmondg, may be you can provide a running example? You can use the sample project. https://github.com/primefaces/primefaces-test
If you already have a solution, can you please provide a pull request?
Thanks

[2019-02-05 08:11] mertsincan opened #4502 "Wrong initial value for filterMode on Tree"
Only elite version.

[2019-02-05 08:11] #4502 closed, assigned to mertsincan

[2019-02-05 08:30] matinh commented on #4485
I had a look at `tabview.js`. I guess I'd have to start in the `select` function and create an AJAX request there before changing the active tab. However, I'm totally new to PrimeFaces component development and am thus not able to create a PR for this enhancement.

If you could give me some hints how to implement this or point me to some documentation, maybe I could have another look at it.

I was

[2019-02-05 08:33] #4498 closed, assigned to nobody

[2019-02-05 08:33] #4499 closed, assigned to nobody

[2019-02-05 08:33] #4500 closed, assigned to nobody

[2019-02-05 13:07] tandraschko opened #4503 "Button/CommandButton: remove resolveIcon"
image is long time deprecated

[2019-02-05 13:49] tandraschko opened #4504 "LinkButton: add icon support"

[2019-02-05 13:50] #4504 closed, assigned to tandraschko

[2019-02-05 15:02] brivalin opened #4505 "Tree with propagateSelectionDown to false still propagates selection on update"
## 1) Environment
- PrimeFaces version: 6.2.0
- Does it work on the newest released PrimeFaces version? Version? Not working in 7.0.RC2
- Does it work on the newest sources in GitHub? Not working
- Application server + version: Wildfly 10.1.0.Final
- Affected browsers: All

## 2) Expected behavior

When setting attribute 'propagateSelectionDown' to 'false' in checkbox selection, I expect there is

[2019-02-05 18:45] melloware opened #4506 "ChartsJS: Upgrade to 2.8"
Placeholder for 7.1 when ChartsJS 2.8 comes out.

This issue around line charts was reported on the forum:
https://forum.primefaces.org/viewtopic.php?f=3&t=58090

As you can see in the screenshot below, the cartesian line chart is missing top points and has narrow lines at top...if you refresh the showcase, you'll see those two points raising from bottom and disappearing when maximum value is reac

[2019-02-05 19:04] ravihariharan opened #4507 "Charts - Bar - IE Style not applied"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-02-05 19:25] melloware commented on #4507
@ravihariharan looks like its a know ChartsJS issue?  https://github.com/chartjs/Chart.js/issues/3378

Looks like PF just renders the canvas and ChartsJS takes it from there:
[code]

[2019-02-05 19:47] melloware commented on #4505
Reproducible Test Case showing the issue:
[pf-4505.zip](https://github.com/primefaces/primefaces/files/2833589/pf-4505.zip)

Run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2019-02-05 20:05] #4507 closed, assigned to nobody

[2019-02-05 21:08] ravihariharan opened #4508 "ChartsJS Support Export"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-02-05 21:26] melloware commented on #4508
Good suggestion.  Just submitted PR with the fix.  It now works identical to the old Charts exportAsImage() function.

[2019-02-05 21:33] #4508 closed, assigned to nobody

[2019-02-06 07:24] mertsincan opened #4510 "RangeSlider not updating values on submit"
Reported By PRO User;

[2019-02-06 07:26] mertsincan commented on #4510
Hi @tandraschko, @melloware and @Rapster,

Could you please check this issue? I couldn't replicate it in elite versions.  Test case; https://www.primefaces.org/showcase/ui/input/slider.xhtml

[2019-02-06 08:04] mertsincan opened #4511 "appendTo attribute doesn't work correctly on DatePicker"
It throws a JS exception on console.

[2019-02-06 08:06] #4511 closed, assigned to mertsincan

[2019-02-06 08:56] Pillez7 opened #4512 "p:calendar: processUpdates / updateModel converts input with LocalDate.toString"
See forum for details, including stack trace of the calls:
https://forum.primefaces.org/viewtopic.php?f=3&t=57911

## 1) Environment
- PrimeFaces version 6.2

## 2) Expected behavior
String value in the bean should have the correct pattern.

## 3) Actual behavior
String value in the bean ignores the pattern and is created by .toString() method.

## 4) Steps to reproduce
1. open the page
2. chose a

[2019-02-06 08:56] jepsar opened #4513 "DataTable: custom global filter function"
.. allowing to create your own, custom global filter function.

See also: https://stackoverflow.com/questions/54543368/primefaces-datatable-multiple-keyword-search-using-global-filter

[2019-02-06 09:20] tandraschko commented on #4512
please provide a runnable example (both xhtml + bean), otherwise it's invalid.

[2019-02-06 09:21] tandraschko commented on #4513
Feel free to sponsor it. The community commiters doesn't like to touch datatable :D

[2019-02-06 09:43] tandraschko commented on #4510
just a showcase problem as the validation error was hidden. See:
- https://github.com/primefaces/showcase-facelift/commit/358062a9fe7ff5ac17c645bc269d8ff6919ecd92
- https://github.com/primefaces/showcase-facelift/commit/7a975691517d85b33645502dde658d9a39b5f62f

[2019-02-06 09:43] #4510 closed, assigned to nobody

[2019-02-06 10:17] Pillez7 commented on #4512
I'm not sure when and if I have the time to do this because I need to finish the project for the costumer in the next weeks and month.

As I wrote in the forum the call hierachie looks like this:
- Calender(UIInput).processUpdates
- Calender(UIInput).updateModel
- ...
- ELSupport.coerceToType
- ...
- ELSupport.coerceToString
- LocalDate.ToString

Because LocalDate.toString gives a yyyy-MM-dd value

[2019-02-06 12:09] #4496 closed, assigned to mertsincan

[2019-02-06 12:10] mertsincan commented on #4496
Hi @majulvez and @melloware,

Could you please check my fix? Thanks a lot!

[2019-02-06 12:48] melloware commented on #4497
Can you try it with PF 7.0.RC2?  I can't reproduce your issue as the tooltip is always near the event.

![image](https://user-images.githubusercontent.com/4399574/52342417-5a407700-29e3-11e9-809a-edd412aab2f5.png)

And debugging its the "jsEvent" that its using the coordinates for event on the screen which all seems correct to me.  Maybe this was fixed as part of the Full Calendar JS update for 7.

[2019-02-06 13:32] majulvez commented on #4496
Hi @mertsincan ,

I still don't see the dates preselected when the calendar is showed

Thanks

[2019-02-07 08:01] mertsincan commented on #4496
Hi,

Is this issue resolved?

[2019-02-07 08:32] mertsincan opened #4514 "DatePicker with range selection doesn't work with initial value"
Exp;
[code]

[2019-02-07 08:33] #4514 closed, assigned to mertsincan

[2019-02-07 08:35] mertsincan commented on #4496
Please see; https://github.com/primefaces/primefaces/issues/4514

Could you please check #4514 fix? Thanks,

[2019-02-07 14:16] Exandra opened #4515 "Datatable+selectManyCheckbox: Malformed XML response on "update""
## 1) Environment

- PrimeFaces version: 7.0.RC2
- JSF: **Mojarra 2.3.5** (!)
- Application server + version:
  - Wildfly 14.0.1.Final
  - primefaces-test (jetty)
- Affected browsers: All

## 2) Expected behavior

If you click on the commandButton in the sample XHTML while running Mojarra 2.3.5, two forms should be updated.

The commandButton-update should generate a well-formed XML response, like

[2019-02-07 14:19] tandraschko commented on #4515
@melloware can you check this pls? Could be related to the other issue.

[2019-02-07 14:24] melloware commented on #4515
Let me look.  This would be very bizarre.

[2019-02-07 14:47] OBreidenbach opened #4516 "DataTable: clearFilter does not work if only globalFilter ist used"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No, 7.0RC2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: wildfly 11
- Affected browsers: FF, Chrome, ...

## 2) Expected behavior

Having a table with a globalFilte

[2019-02-07 16:17] bvandaele opened #4517 "OverlayPanel: OverlayPanel with show effet open with not visible content when doubleclick on trigger"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? not working (6.2)
- Does it work on the newest sources in GitHub? not working
- Application server + version: Wildfly 10.1.0
- Affected browsers: Firefox 65, Chrome 72, IE 11

## 2) Expected behavior

When double clicking on overlay panel trigger element, the overlay panel should shortly

[2019-02-07 18:53] tandraschko commented on #4516
@mertsincan WDYT?

[2019-02-07 19:50] majulvez commented on #4496
Yes. It works fine now.

Thanks

[2019-02-07 21:56] melloware commented on #4515
OK I have confirmed this is broken in 6.2 and 7.0.RC2.  Then I verified its fixed in 7.0-master.

@Exandra try this sample project:
[pf-4515.zip](https://github.com/primefaces/primefaces/files/2842802/pf-4515.zip)

Just run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

I believe it was fixed with this bug: https://github.com/primefaces/primefaces/

[2019-02-07 22:27] tandraschko commented on #4515
Thanks!

[2019-02-07 22:27] #4515 closed, assigned to nobody

[2019-02-08 11:20] krishnakittu opened #4519 "AutoComplete : Removal of all items at once"
## 1) Environment
- PrimeFaces version: all

- Application server + version: all servers
- Affected browsers: all browsers

## 2) Expected behavior
Is it possible to remove all items at once in multiple items in autocomplete
...

## 3) Actual behavior
As of now we need to hold backspace key untill its cleared
..

## 4) Steps to reproduce
no need
..

## 5) Sample XHTML
no need
..

## 6) Sample bean

[2019-02-10 17:41] #4517 closed, assigned to nobody

[2019-02-10 17:41] tandraschko commented on #4517
Thanks!

[2019-02-11 08:48] georgwolf opened #4523 "DatePicker: client side getDate/setDate throw JS error"
## 1) Environment
- PrimeFaces version: 7.0 RC2 / 6.2.16
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No

## 2) Expected behavior
Client side JavaScript methods getDate() / setDate(...) retrieve/set date of DatePicker component

## 3) Actu

[2019-02-11 09:32] OBreidenbach opened #4524 "Dialog: auto heigth does not increase page height"
## 1) Environment
- PrimeFaces version: 7.2.RC2
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Wildfly 11
- Affected browsers: Firefox, Chrome

## 2) Expected behavior
If the the height of a dialog is higher than

[2019-02-11 09:56] OBreidenbach opened #4525 "SelectCheckboxMenu: add JS selectValue method"
Add a selectValue JavaScript method to SelectCheckboxMenu similar to SelectOneMenu.

[2019-02-11 10:24] OBreidenbach commented on #4524
Ok, this happens because of #2130.
If I remove
.ui-dialog {... max-height: 100vh; max-width: 100vw; }
at
https://github.com/primefaces/primefaces/blob/14494a7cc1539b6d5b5155a90954c77ecd20f310/src/main/resources/META-INF/resources/primefaces/dialog/dialog.css#L1
everything works fine.

[2019-02-11 10:47] #4523 closed, assigned to mertsincan

[2019-02-11 10:52] mertsincan commented on #4516
@OBreidenbach, Could you please attach a PR for this issue? Thanks a lot!

[2019-02-11 12:32] melloware commented on #4524
Hmm but if you remove those 100vh does it reintroduce issue #2130?

[2019-02-11 13:02] #2449 closed, assigned to mertsincan

[2019-02-11 13:07] mertsincan commented on #2449
In the showcase, I removed the above css. Please try;
[code]

On Barcelona Layout, you need to make the following change to re-calculate stickyHeader according to menu animation;
[code]

[2019-02-11 13:09] #4525 closed, assigned to nobody

[2019-02-11 14:28] OBreidenbach commented on #4524
I guess it will reintroduce the issue #2130. But it is a false solution.

The dialog has the attribute 'fitViewport' which is set to false by default. So I expect that the dialog can exceed the viewport. That is not true anymore with (max-height: 100vh; max-width: 100vw;) set.
We are using positionType="absolute", if you shrink the window you get scroll bars, so you can scroll to close the dialog.

[2019-02-12 04:23] jxmai commented on #4524
@OBreidenbach This is a really valid point. 👍  I agree what you proposed and the previous solution did not consider this part.

However, we cannot simply remove the css since that css appeared for #2130 (unless we can address both)

---

We might think of making improvement through renderer, and if your point is valid

So the fix for #2130 must only address the positionType="fixed".

[code]

[code

[2019-02-12 08:03] OBreidenbach commented on #4524
Actually, I do not see how #2130 is fixed at all. If you have a fixed dialog which is smaller (hight and width) than the viewport, you can still move the dialog to the lower right corner. If you then drag the lower right corner of the browser to the left / top, the closing button still disappears.
IMHO with #2130 a regression was introduced which even does not solve the problem. So the commit shou

[2019-02-12 09:25] jepsar commented on #2276
.. just checked the code, and there [already is a facet called `options`](https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/breadcrumb/BreadCrumbRenderer.java#L86) to do so. This was also present in the documentation PDF (6.2), but this is not the first place where I would look (shame on me).

So, this issue might be closed as invalid or won't fix. However

[2019-02-12 09:43] RaduFurnea opened #4528 "p:autocomplete: multiple="true" does not hide placeholder on element added"
## 1) Environment
- PrimeFaces version: 6.2
- JSF: 2.2.17
- Affected browsers: all

## 2) Expected behavior

p:autocomplete with multiple enabled, expecting placeholder to disappear when element is added.

## 3) Actual behavior

Placeholder remains visible regardless of number of elements added.

## 4) Steps to reproduce

Self explanatory from the description.

## 5) Sample XHTML

`								 <p:aut

[2019-02-12 10:28] anhquande commented on #3899
I experience the same problem on Primefaces 6.3.
In one page, the stop() is called.
In other page, the stop() is not called.

I cannot find out the difference related to the download file function between these 2 pages. It is hard to reproduce. But i think the problem is still there. And close this issue will make the problem ignored.

[2019-02-12 10:38] tandraschko commented on #4524
if a bugfix destroys features, we can revert and check the original issue after the release.

[2019-02-12 10:50] Rapster commented on #4528
Please follow issue template (and don't forget samples)

[2019-02-12 12:32] melloware commented on #2276
@jepsar Just submit that fix to the Showcase Facelift. https://github.com/primefaces/showcase-facelift  They usually accept PR's without having to create an issue first just reference this issue in your PR.

[2019-02-12 12:34] melloware commented on #3899
If you can narrow it down and reproduce the issue is the only way we can help fix it.

[2019-02-12 13:09] jepsar commented on #2276
Sorry, but the `options` facet is something different. This issue is still valid. I'll provide a PR for both PrimeFaces and the showcase.

[2019-02-12 13:09] RaduFurnea commented on #4528
Updated answer.

[2019-02-12 13:30] crocimi commented on #1671
Any idea for this question?

[2019-02-12 13:31] melloware opened #4529 "Chips: Placeholder remains after adding items"
Using Chips component if you have a placeholder it is not removed when adding items.

[code]

![image](https://user-images.githubusercontent.com/4399574/52638678-7723f100-2ea0-11e9-8cd4-7f34a7801cdb.png)

Test Case:
[pf-chips.zip](https://github.com/primefaces/primefaces/files/2856011/pf-chips.zip)

Submitting a PR to fix.

[2019-02-12 13:31] melloware commented on #4528
I submitted Chips as a separate issue: https://github.com/primefaces/primefaces/issues/4529

[2019-02-12 13:38] #4529 closed, assigned to nobody

[2019-02-12 13:43] melloware commented on #4528
PR submitted please review.  Its a similar fix to Chips.

[2019-02-12 14:10] astranCZ opened #4532 "Calculated position of tag p:menu (overlay="true")"
## 1) Environment
- PrimeFaces version: 7.0.RC2
- Application server + version: Tomcat 7 and 9
- Affected browsers: All

## 2) Expected behavior
Calculated position of tag p:menu (overlay="true") on p:dialog is not dependent on the position of the scroll bar main window.

## 3) Actual behavior
Calculated position of tag p:menu (overlay="true") on p:dialog is dependent on the position of the scroll

[2019-02-12 14:16] tandraschko commented on #4532
Please follow the issue template and provide a example.

[2019-02-12 16:41] rruffer opened #4533 "chips jsf 2.3 (CDI) NullPoiterException in List<String>"
235/5000
Dear,

When I use the componet chips with List object <String> the following error occurs:

`14:36:30,053`` SEVERE [javax.enterprise.resource.webcontainer.jsf.context] (default task-1) java.lang.NullPointerException
	at com.sun.faces.cdi.CdiUtils.createConverter(CdiUtils.java:125)
	at com.sun.faces.application.ApplicationImpl.createConverter(ApplicationImpl.java:1458)
	at javax.faces.appl

[2019-02-12 17:12] tandraschko commented on #4533
Thats a known mojarra bug

[2019-02-12 17:17] tandraschko commented on #4533
Just search, you will find the same issue multiple Times. Not sure if they already fixed IT.

[2019-02-12 17:17] #4533 closed, assigned to nobody

[2019-02-12 17:28] rruffer commented on #4533
It was resolved by configuring the project for jsf version 2.2

[2019-02-12 18:01] jxmai commented on #4524
Since I brought it up, I will revert it  then (@tandraschko Please reopen #2130 after that).

[2019-02-12 21:00] tandraschko commented on #4524
reopnend, thanks!

[2019-02-12 21:00] #4524 closed, assigned to nobody

[2019-02-13 06:13] astranCZ commented on #4532
Example added

[2019-02-13 06:15] astranCZ opened #4536 "Menu: wrong calculated position with overlay="true""
## 1) Environment
- PrimeFaces version: 7.0.RC2
- Application server + version: Tomcat 7 and 9
- Affected browsers: All

## 2) Expected behavior
Calculated position of tag p:menu (overlay="true") on p:dialog is not dependent on the position of the scroll bar main window.

## 3) Actual behavior
Calculated position of tag p:menu (overlay="true") on p:dialog is dependent on the position of the scroll

[2019-02-13 06:16] #4532 closed, assigned to nobody

[2019-02-13 08:18] #4528 closed, assigned to nobody

[2019-02-13 12:17] melloware commented on #1912
Based on this Stack Overflow: https://stackoverflow.com/questions/54655656/primefaces-chart-browser-hang

I posted the following answer and they reported back it works.  For those of you having this issue.

[code]

[2019-02-13 15:55] ravihariharan opened #4539 "ChartJS Support 'hidden' on datasets"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-02-13 16:29] melloware commented on #4539
I can take this one.  Should be easy to add.

[2019-02-13 21:29] melloware commented on #4539
Please review my PR. Thanks!

[2019-02-14 01:08] ravihariharan commented on #4539
I have tested Line and Bar chart and its working . Thanks for the fix @melloware

[2019-02-14 06:19] astranCZ opened #4541 "Autocomplete: wrong fixed position autocomplete-panel on page with scroll and p:dialog"
## 1) Environment
- PrimeFaces version: 7.0.RC2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 7 + 9
- Affected browsers: Chrome, Firefox, Edge...

## 2) Expected behavior
Autocomplete panel on dialo

[2019-02-14 08:14] #4123 closed, assigned to mertsincan

[2019-02-14 10:54] OBreidenbach commented on #4536
I have the same behavior with a SelectOneMenu inside of a Dialog. If the drop down is visible it stays on its position in the view port during scrolling. So it looses contact to the component.
That did not happen with PF6.2

[2019-02-14 11:41] ludekz opened #4542 "Datatable : removing filter token invoke sort"
I use datatable with filter facet, that has selectCheckboxMenu. It is in the mode, that shows multiple tokens -  multiple="true" updateLabel="true"

Example is on https://github.com/ludekz/primefaces-test.git

When I click on X to remove token

![obrazek](https://user-images.githubusercontent.com/22681931/52780590-c9087a80-304a-11e9-82ba-bb42f17118c3.png)

also sort of table is invoked:

![obrazek

[2019-02-14 11:46] martin654 commented on #4542
Reported under a PRO account

[2019-02-14 11:53] melloware commented on #4536
@OBreidenbach do you mean this issue?  https://github.com/primefaces/primefaces/issues/4180

[2019-02-14 11:56] ventsislavhristov opened #4543 "InputNumber: value not rendered in the hidden input field"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version?: No, tested on 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source): not tried, but should not be different.
- Application server + version: Tomcat 8.5
- Affected browsers: All

## 2) Expected behavior

[2019-02-14 11:58] melloware commented on #4541
This doesn't fix your issue but a temporary fix on 7.0RC2 is to set the p:dialog property to blockScroll="true".  That disables the page scrollbar while a modal dialog is being displayed.

[code]

[2019-02-14 12:00] melloware commented on #4536
@astranCZ Like I said in the other thread this isn't a fix more like a workaround but for now you can...

On 7.0RC2 is to set the p:dialog property to blockScroll="true".  That disables the page scrollbar while a modal dialog is being displayed.  To me this is good default behavior of a modal dialog as you should not need to scroll the outer page if a modal is displayed.

[code]

[2019-02-14 12:03] melloware commented on #4543
Have you tried this with 7.0.RC2 to see if its fixed?

[2019-02-14 12:15] ventsislavhristov commented on #4543
Just tested it with 7.0.RC2, the issue is still there. It is also fairly obvious from looking at the source code of InputNumberRenderer at https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/inputnumber/InputNumberRenderer.java , lines 160-186, there is no rendering of the "value" attribute.

[2019-02-14 12:19] melloware commented on #4543
Yep I a agree with you and I see the issue.   Let's wait for @tandraschko to weigh in with his opinion but I would definitely support fixing this and can make the fix if he agrees.

[2019-02-14 12:20] #4542 closed, assigned to mertsincan

[2019-02-14 12:20] ventsislavhristov commented on #4543
Thanks a lot!

[2019-02-14 12:49] melloware commented on #3245
I think I will do this for PF 7.1  My client started using this component and it would be good to update but its too close to 7.0 release.

[2019-02-14 13:00] tandraschko commented on #4543
Yup, why not.

[2019-02-14 13:17] tandraschko commented on #4536
works fine for me with trunk

EDIT: ok, not for all cases :D

[2019-02-14 13:33] OBreidenbach commented on #4536
@melloware no I do not mean #4180. In #4180 the select box was initially rendered at the top left corner of the view port. No the select box is rendered at the right place, under the component. But if you scroll the page, everything moves, only the select box stays at it place relative to the view port.
Often our dialogs are higher than the view port, so blockScroll is no option for us.

[2019-02-14 13:41] melloware commented on #4536
Thanks for the clarification.

[2019-02-14 14:38] mlribes opened #4546 "DatePicker: mask attribute"
The DatePicker component is much better and more flexible than Calendar, but missing masks support

[2019-02-14 14:38] mertsincan commented on #4536
If I don't remember wrong, offset property has been removed position API. Maybe, this issue is related to it.???

[2019-02-14 14:38] mertsincan commented on #4536
Please see; http://jqueryui.com/upgrade-guide/1.10/#removed-offset-option-use-my-or-at

[2019-02-14 14:40] tandraschko commented on #4536
not sure, our jqueryui version seems quite old

[2019-02-14 14:43] melloware commented on #4536
I think our Jquery UI 1.12.1 is the latest UI version available?

[2019-02-14 14:50] mertsincan commented on #4536
Note: The offset option will be removed in 1.10; http://jqueryui.com/upgrade-guide/1.9/#deprecated-offset-option-merged-into-my-and-at

Our version is v1.12.1

[2019-02-14 15:45] OBreidenbach commented on #4536
IMHO this is because of https://github.com/primefaces/primefaces/blob/9091e47cd104779e19d8191d471685be1b2bfdf4/src/main/resources/META-INF/resources/primefaces/forms/forms.selectonemenu.js#L989
Introduced by @mertsincan for issue #4126
If I remove the line, for me everything is working fine.
But this only explains the behavior, for the SelectOneMenu not for the menu overlay=true.

[2019-02-14 22:37] mertsincan commented on #4536
Please try this example;
[test.txt](https://github.com/primefaces/primefaces/files/2867041/test.txt)

I made some changes in align and show methods of Menu widget.
[code]

Position API Note: jQuery UI does not support positioning hidden elements. Please see; https://api.jqueryui.com/position/

[2019-02-15 10:26] jepsar commented on #2276
I've been playing with this facet for a while and it would take some extra HTML (I would say a span will do), a extra CSS class and some extra rules to keep things consistent.

An other option I tried is just using a disabled menu item. This does not require any changes in the code and will not interfere with existing themes for sure. However, accessibilitywise / semanticswise, this is not the bes

[2019-02-15 11:44] melloware commented on #2276
I say if you have this need then submit a PR and hope it gets accepted.  If it doesn't get accepted its still valuable because you can simply make your own custom component to make it work in your projects.

[2019-02-15 14:59] melloware commented on #4536
Looks good to me @mertsincan but i will let anyone else try their use case.

[2019-02-15 15:59] tandraschko commented on #4536
so autocomplete and all other components needs to fix, too?
we have many components with overlays like select* or chips.

[2019-02-15 18:29] joergmattes opened #4547 "datePicker: selectionMode multiple -> js error when rendering existing not-empty value"
## 1) Environment
- PrimeFaces version: 7.0.RC3
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? I guess no, since 7.0.RC3 was released yesterday
- Application server + version: Tomcat 9.0.12
- Affected browsers: Chrome 62

## 2) Expected behavior
When displaying a datepicker with selectionMode="multiple" and existing non-empty v

[2019-02-16 03:40] cleverpig commented on #1837
mark

[2019-02-17 13:26] melloware commented on #3781
@Benschio thank you for the test case. This was also just reported on Stack Overflow here:https://stackoverflow.com/questions/54733163/checbox-field-in-orderlist

I will attempt to fix this because I definitely think its a bug worth fixing!

[2019-02-17 13:30] melloware commented on #4497
@lemmondg any chance you had time to verify this with 7.0.RC3 so we can close this issue?

[2019-02-17 16:55] melloware commented on #3781
OK this is a little more complex than I thought.  Because those other components extend UIData they have logic to increment the index.  However OrderList is a UIInput component so its definitely a different use case.

[2019-02-18 07:25] erdbeertony opened #4549 "DatePicker: rendering error with multiple values and inline"
## 1) Environment
- PrimeFaces version: 7.0RC3
- Does it work on the newest released PrimeFaces version? Version? No.
- Application server + version: Tomcat 9.0
- Affected browsers: Firefox 65.0.1

## 2) Expected behavior
When using selectionMode="multiple" readonlyInput="true" inline="true" the datepicker should be rendered at all time (without manual input field) just giving the list of date val

[2019-02-18 08:21] #4549 closed, assigned to mertsincan

[2019-02-18 08:23] mertsincan commented on #4547
Duplicate of #4549

[2019-02-18 08:23] #4547 closed, assigned to nobody

[2019-02-18 08:39] OBreidenbach commented on #4536
I did some testing:
[code]
I found the menu overlay, colorpicker and selectOneMenu.

Others working fine: chips, calendar, datePicker, keyboard, password, selectCheckboxMenu and textEditor.
It does not seem as it is a general problem. May be we should create a separate issue for every component that has wrong scrolling behavior?

[2019-02-18 09:52] mertsincan commented on #4536
Thanks a lot for your test, @OBreidenbach;) But, Dialog has two positionType; fixed and absolute. Could you please try the above test page without positionType? Also, please add  ```<h:body style="width: 15000px; height: 15000px">``` Then, after you open the panel of selectCheckboxMenu and scroll the page (vertical scroll and horizontal scroll), you will see that the panel is in different places o

[2019-02-18 10:02] mertsincan commented on #4536
Is the menu fix Ok for everyone? @OBreidenbach, @melloware, @tandraschko ??

[code]

[2019-02-18 12:33] melloware commented on #4536
@mertsincan I did some minimal testing and it looks OK to me.  I did not stress it heavily though.

[2019-02-18 13:09] OBreidenbach commented on #4536
@mertsincan If posititionType="fixed" the overlay menu is rendered at the correct location.
But with positionType="absolute" it still does not scroll with the dialog.

[2019-02-18 13:25] mertsincan commented on #4536
Thanks @melloware ;) @OBreidenbach Could you please attach a sample page for me?

Also, did you add my fixes into your page? (https://github.com/primefaces/primefaces/issues/4536#issuecomment-464666937)
Test page with my fixes;
[test.txt](https://github.com/primefaces/primefaces/files/2875775/test.txt)
Could you please try it?

[2019-02-18 13:37] Benschio commented on #3781
Thank you very much for looking into it!

[2019-02-18 13:52] OBreidenbach commented on #4536
@mertsincan Sorry I missed your change to setupDialogSupport (dialog.css('position') === 'fixed').
Your fix is working for both positionTypes.
My sample page is the same as in https://github.com/primefaces/primefaces/issues/4536#issuecomment-464637526, plus your fix in the head section.

[2019-02-18 15:32] rdebusscher opened #4550 "Update CONTRIBUTING.MD"
CONTRIBUTING.md

Still refer to
- Apache License 2
- Java 6

[2019-02-18 15:35] tandraschko commented on #4550
Please provide a PR. I dont have time.

[2019-02-18 16:03] rdebusscher opened #4552 "Consider removing resources/META-INF/resources/primefaces/dock/assets/iepngfix.htc"
The file seems unused and has a possible conflicting License.

The Eclipse Foundation flagged this file as not compatible.

[2019-02-18 16:18] ghost opened #4553 "Carousel : Page Scroll not working (only mobile devices)"
## 1) Environment
Primefaces official Demo and the issue is present in the GIT version also.

## 2) Expected behavior
The page should be scrollable

## 3) Actual behavior
The page is not scrollable

## 4) Steps to reproduce
1. Open the Carousel component in the Primefaces Official demo in any mobile device.
2. Try swiping up/down to scroll.
3. The page can be scrolled only when it is swiped on the

[2019-02-18 16:28] melloware commented on #4552
I would say safe to remove and check the Dock still works in the showcase.  I don't think IE specific fixes are supported much anymore so this should be OK to remove.

[2019-02-18 16:45] ghost commented on #4553
A new pull request (#4554) has been created to fix this issue.

[2019-02-18 17:24] #4550 closed, assigned to tandraschko

[2019-02-18 17:39] melloware commented on #4553
Nice fix. Thanks for submitting.

[2019-02-18 22:07] spauny opened #4556 "datePicker: show time without seconds JS issue"
Snippet from `0-datepicker.js`, function `parseTime`, line 622 (`Master branch`)
As you can see below, if `validTokenLength` is 2 there will never be a `tokens[2]` yet `tokens[2].length` is always checked.
[code]

[2019-02-19 07:53] fanste opened #4557 "DataTable: multi-sort broken"
## 1) Environment
- PrimeFaces version: 7.0.RC3
- Does it work on the newest released PrimeFaces version? Version? No (as i use the newest)
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No (as i use the newest)
- Application server + version: WF10.1.Final, JSF 2.2
- Affected browsers: All

## 2) Expected beha

[2019-02-19 09:27] mertsincan opened #4559 "Calendar: Shows translated text for previous selected language"
Reported By PRO User;

[2019-02-19 09:29] #4559 closed, assigned to mertsincan

[2019-02-19 12:41] melloware commented on #4557
What was the previous version you tried before 7.0.RC3?  I think this has been broken for a while because I noticed this behavior with 6.2 also.

[2019-02-19 13:27] OBreidenbach opened #4560 "SelectCheckboxMenu: change default value for labelSeparator from ',' to ', ' (with blank)"
The title says everything

[2019-02-19 13:33] fanste commented on #4557
I've implemented the multi-sorting in my app using 6.3-SNAPSHOT. So I can't give you information based on earlier versions - I can't even test version prior 6.2 due to required code changes.

But the JS code looks (nearly) identical in 6.0 to 7.0.

A possible fix is on the way..

[2019-02-19 15:07] tandraschko commented on #4536
@mertsincan will you also fix the others before the 7.0 release?
As mentioned in the ticket, colorpicker and selectOneMenu doesn't work, too.
And there is a ticket for AutoComplete: https://github.com/primefaces/primefaces/issues/4541

[2019-02-19 17:03] ravihariharan opened #4562 "TreeTable MultiSort Support"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-02-19 17:06] ravihariharan commented on #4562
TreeTable sortBy attribute #1926

Duplicate :(

[2019-02-19 17:06] #4562 closed, assigned to nobody

[2019-02-20 08:08] mertsincan opened #4563 "Add ScreenReader support to Panel icons"
Added aria-label to close, toggle and option menu icons. Users can customize label text using Messages_*.properities file.

[2019-02-20 08:12] #4563 closed, assigned to mertsincan

[2019-02-20 09:07] rdebusscher commented on #4552
@melloware Thx

I do not have IE (nor Windows) so I can not verify if the Dock works OK without this file.

[2019-02-20 09:21] darkcloud8027 opened #4564 "ChartJS: DataSet only supports List<Number> but not List<Points>"
I request an enhancement for New ChartJS to add another dataset List<Points> in order to draw like time series diagram or scatter point diagram

[2019-02-20 09:42] jepsar commented on #932
Is this issue (still) valid? I had a look at the [filter code](https://github.com/primefaces/primefaces/blob/821f990b49b09022fd2fa9b38962f8c611bc742c/src/main/java/org/primefaces/component/datatable/feature/FilterFeature.java#L186) when fixing #4513 and it was looking good to me. I think I've even tested this issue's scenario, but I can double check that tonight.

[2019-02-20 10:08] ggjersund commented on #4486
Agree to this. Should have an option for HTML output, otherwise the statement of WYSIWYG is simply false. Also @firsthour, the package you linked to does not convert it into HTML. It also uses custom classes.

[2019-02-20 11:44] melloware commented on #4552
Yep I tested on IE11 and it works fine without this file.

[2019-02-20 11:52] melloware commented on #4564
I think this would be a good enhancement.

Example diagram using Point: https://www.chartjs.org/docs/latest/charts/scatter.html

[2019-02-20 11:53] melloware commented on #932
I agree. @tandraschko I think this one is safe to close as fixed.

[2019-02-20 11:59] #932 closed, assigned to nobody

[2019-02-21 06:39] #4552 closed, assigned to nobody

[2019-02-21 08:56] wilhei opened #4565 "Barcode: Code128 as PNG not scannable"
When I generate a Barcode (Code128) with format=png, it cannot be scanned because the second last strip is too wide.
![2019-02-21 09_46_10-strokesplus](https://user-images.githubusercontent.com/43268706/53156083-cc59b400-35be-11e9-9f67-66ea1b5a6146.png)

My example code:
`<p:barcode value="9710287" type="code128" format="png" height="200" width="400"/>`
`<p:barcode value="9710287" type="code128" h

[2019-02-21 10:22] tandraschko commented on #4565
did you try a newer barcode4j? we likely cant fix it. but feel free to anaylze it.

[2019-02-21 11:16] wilhei commented on #4565
Yes, in my project I'm generating Barcodes with barcode4j-2.1 as png to insert them in a pdf. This generated png-barcodes (Code128) work fine. But I didn't try whether in barcode4j-2.0 this error accours.

For now I replaced my primefaces-Barcode with https://lindell.me/JsBarcode/, which seems to work fine to display them on the page.

Here, how I generate my png-barcode with barcode4j-2.1, which

[2019-02-21 12:51] melloware commented on #4565
2 things.

1. If you simply include Barcode4J 2.1 in your pom.xml does the PF component generate Code128 correctly?  Since PF doesn't bundle that JAR its up to you to provide it.

2. The only difference I see between PF code and your code is this line... We use the value 150 where you used 300.

[code]

[2019-02-21 13:54] firsthour commented on #4486
That's too bad. We converted to pe:ckEditor in like 3 minutes from p:textEditor. You do need two additional dependencies (PrimeFaces Extensions and something specific to CK Editor) but it's worth it for us.

[2019-02-21 15:27] majulvez opened #4566 "Add onMonthChange and onYearChange callbacks to DatePicker"
## 1) Environment
- PrimeFaces version: 6.2.16
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: No apply
- Affected browsers: No apply

## 2) Expected behavior
Use 'onMonthChange' event in order to call your custom js function. This event actually exists in primeng component.

## 3) Actual behav

[2019-02-21 15:29] majulvez commented on #4566
https://forum.primefaces.org/viewtopic.php?f=3&t=58222&p=173712#p173712

[2019-02-21 16:15] krishnakittu opened #4567 "TabView: effect attribute on on demand Loading not working on first click"
## 1) Environment
- PrimeFaces version: Primefaces Showcase
- Application server + version: no need
- Affected browsers: no need

## 2) Expected behavior
The behavior should be consistent every time.
...

## 3) Actual behavior
On First Click fold effect is not working
..

## 4) Steps to reproduce
Not needed
..

## 5) Sample XHTML
not needed
..

## 6) Sample bean

..

[2019-02-21 16:19] tandraschko commented on #4567
If its reproduceable in the Showcase we need at least a url and steps to reproduce

[2019-02-21 16:27] krishnakittu commented on #4567
Steps to reproduce the issues.
1. URL: https://www.primefaces.org/showcase/ui/panel/tabView.xhtml
2. go to on-demand loading block
3. click on godfather II tab.
4. we cannot observing fold effect.
5. if you click on godfather II tab again you can observe fold effect.

[2019-02-21 18:31] melloware commented on #4566
@mertsincan We should figure out which client side "on" methods we want to support and add them all

[2019-02-22 06:50] mertsincan opened #4568 "Add itemDisabled support to SelectOneMenu with custom layout"
f:selectItem has itemDisabled. But, it has no effect on SelectOneMenu with custom layout.

[2019-02-22 06:51] #4568 closed, assigned to mertsincan

[2019-02-22 07:04] mertsincan opened #4569 "Reimplemented RadioButton component"
It may have a widget and we can move all custom events from SelectOneRadio.

[2019-02-22 08:37] mertsincan opened #4570 "Reset index of shift selection on DataTable with multiple selection"
Reported By PRO User;

[2019-02-22 08:38] #4570 closed, assigned to mertsincan

[2019-02-22 11:22] fanste opened #4571 "DefaultCommand: Triggers click on disabled button"
## 1) Environment
- PrimeFaces version: 7.0.RC3
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers: Tested with IE, FF 60

## 2) Expected behavior
If you have a DefaultCommand e.g. setup for an in

[2019-02-22 11:41] fanste commented on #4571
PR #4572

[2019-02-22 12:34] mertsincan opened #4573 "Add resetRows method to dataTable to reset rows attribute"
Reported By PRO User;

The number of rows the datatable should display may change on Ajax request, because we have a value expression bound to the rows property. So it is necessary that the bound EL expression gets recalculated. However, the value of the rows property is stored in the StateHelper. Once a value has been set into the StateHelper, it will be returned from there. Only if it is null, t

[2019-02-22 12:35] #4573 closed, assigned to mertsincan

[2019-02-22 14:31] fanste opened #4574 "SelectOne(Radio): Submit without value skips required-validation"
## 1) Environment
- PrimeFaces version: 7.0.RC3
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: WF 10, JSF 2.2
- Affected browsers: ALL

## 2) Expected behavior
A selectOneRadio with a value that does not match an

[2019-02-22 16:44] tandraschko commented on #4574
Did it work in 6.2? A PR would be great.

[2019-02-22 16:44] tandraschko commented on #4574
@cnsgithub mr security, could you assist? :D

[2019-02-22 16:57] fanste commented on #4574
Yes, it did work. The bug is definitely introduced by the patch of PR #4447. I have a working solution, but it is absolutely not nice...

The other thing is, that I'm totally unable to reproduce the bug of #4446 using a PF 6.2 as stated in that issue. So it could be enough to simply set the submitted value back to empty string. And @Gaboros should report back if the error appears again that he enc

[2019-02-22 22:18] ngwaambe opened #4575 "Dataview - Support for lazy loading"
Dataview:Support for lazy loading
PrimeFaces version:7.0C3

Are they any plans to support this feature for DataView

[2019-02-22 22:26] tandraschko commented on #4575
Dont think so but you can easily sponsor features via PrimeFaces PRO or implement by yourself and provide a PR

[2019-02-23 10:58] ngwaambe commented on #4575
Ok, thanks for the information.

[2019-02-24 10:22] krishnakittu opened #4576 "TabView : Tabclose event receives null tab in the listener with jstl / c:forEach"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: glassfish 4.1
- Affected browsers: al

## 2) Expected behavior
 Tab Close event listener should receive closed tab

## 3) Actual behavior
Receives null tab

## 4) Steps to reproduce
1. Generate 3 tabs by click on new tab button
2. Close the first tab you receive closed tab in listener.
3. Close the second tab then you rece

[2019-02-24 11:41] arunvc opened #4577 "Multiple date selection in Calendar navigation"
From drop down select the Month to April , The calendar stays back to December 2018,

![image](https://user-images.githubusercontent.com/9069988/53298593-4061b980-3856-11e9-8c6c-be0c5c4b0ba9.png)

If i navigate using < button once, then everything works fine.

## 1) Environment
- PrimeFaces version: 7.0 RC3 Also in 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Applica

[2019-02-24 12:33] melloware commented on #4576
Have you tried PF 7.0.RC3 to see if this was already fixed? See https://github.com/primefaces/primefaces/issues/3800

[2019-02-24 13:03] tandraschko commented on #4577
no sample or steps to reproduce -> invalid

[2019-02-24 13:04] tandraschko commented on #4576
i dont think that c:forEach will work in this case used with ajax.

[2019-02-24 13:06] krishnakittu commented on #4576
@melloware  i tried with 7.0.RC3 . Its not working. @tandraschko  can you please suggest any work around for this to work. Its working for the first close event  but the second one not.

[2019-02-24 13:07] tandraschko commented on #4576
use it like the datamodel sample in the showcase and google about jstl disadvantages for your knowledge.

[2019-02-24 17:48] arunvc commented on #4577
[test.zip](https://github.com/primefaces/primefaces/files/2898184/test.zip)

Sample attached

Run and open http://localhost:8080/test/index.xhtml
Click the date textbox and change the month in combo

[2019-02-24 20:38] #4576 closed, assigned to nobody

[2019-02-24 20:41] tandraschko commented on #4574
@gaboros plz provide a sample Till tuesday, otherwise we have to revert in favor of Security

[2019-02-24 20:49] tandraschko commented on #4574
I will revert now and Open the other issue, its the better way.
Please retest after the revert

[2019-02-24 20:53] tandraschko commented on #4446
Reisen because of #5474

[2019-02-24 20:53] tandraschko commented on #4446
Please provide a example

[2019-02-24 20:54] #4574 closed, assigned to nobody

[2019-02-25 00:52] melloware opened #4579 "Enhancement: MOVE_SCRIPTS_TO_BOTTOM should remove script from DOM"
Currently all widgets call remove script to remove their script from the DOM once the component executes.

For example a widget script is given an ID matching the ID of the component and  is then removed in the WidgetVar initialization.

[code]

If you navigate to the Showcase which is using MOVE_SCRIPTS_TO_BOTTOM you can see the entire script is left in the DOM. https://www.primefaces.org/showcas

[2019-02-25 00:53] melloware commented on #4565
@wilhei Any updates to my questions?  Wondering what we can do to fix this?

[2019-02-25 03:07] arunvc commented on #4577
Xhtml code

[code]

Bean code, add getter and setter

[code]

[2019-02-25 06:43] tandraschko commented on #4579
Sure

[2019-02-25 07:03] mertsincan opened #4580 "When the value is removed on ajax event on SelectOneRadio, View is not affected by it."
Reported By PRO User;

[2019-02-25 07:07] #4580 closed, assigned to mertsincan

[2019-02-25 09:40] krishnakittu commented on #4576
@tandraschko as per your suggestion i used datamodel for dynamic tabs with binding. Its giving empty tabs.
Sample code:
**<p:tabView id="tabView" value="#{bean.dynamicTab}" var="tabvar"><p:tab binding="#{tabvar}" /> </p:tabView>**

[2019-02-25 09:46] tandraschko commented on #4576
you cant bind a tab to a datamodel var, that doesnt make any sense. binding should be avoided in generell.

[2019-02-25 10:24] krishnakittu commented on #4576
Sorry for asking repeated questions,
In my scenario tabs are generated on server side by programmatically. Can you suggest how  can i show it on UI by tabview.

[2019-02-25 11:54] tandraschko commented on #4576
Showcase / tabview / datamodel

[2019-02-25 12:57] #4566 closed, assigned to mertsincan

[2019-02-25 13:16] mertsincan commented on #4556
Wrong if-condition ;) Thanks a lot!

[2019-02-25 13:16] #4556 closed, assigned to mertsincan

[2019-02-25 13:42] fanste commented on #4446
Now I had been able to reproduce the issue. It does not appear on the first submit but on each following submit, when the row was not expanded again. So the correct "steps to reproduce"

1. Select something from an SelectOneMenu which is inside a RowExpension.
2. Close the RowExpension (optional)
3. Process the form.
4. Dot expand the last changed row.
5. Process the form (e.g. because you changed

[2019-02-25 13:47] tandraschko commented on #4446
Please Ping me in some weeks again
We should not change it until the final release, its to risky

[2019-02-26 06:17] mertsincan opened #4581 "Add empty string check for href attribute on Link Component"

[2019-02-26 06:18] #4581 closed, assigned to mertsincan

[2019-02-26 13:12] JavaTesting1 opened #4582 "ColumnToggler: Toggles too many columns with p:columnGroup"
## 1) Environment
- PrimeFaces version: 6.2.16
- Does it work on the newest released PrimeFaces version? No (Tested on 6.2.17)
- Does it work on the newest sources in GitHub? Not tested
- Application server + version: Tomcat 8.5.35
- Affected browsers: Chrome 72.x

## 2) Expected behavior
ColumnToggler should only toggle the column which has been clicked in the columnToggler overlay.

## 3) Actual

[2019-02-26 14:28] stiemannkj1 opened #4583 "JavaScript ScriptEngine not available via Thread.currentThread().getContextClassLoader() in certain environments"
## 1) Environment
- PrimeFaces version: **`7.0.RC3`**
- Does it work on the newest released PrimeFaces version? **No**
- Does it work on the newest sources in GitHub? **No**

In Liferay 7.0+ the JavaScript `ScriptEngine` is not available for the context `ClassLoader` which means that `new ScriptEngineManager().getEngineByName("javascript")` returns `null`.

## 2) Steps to reproduce:

1. Create a P

[2019-02-26 14:42] tandraschko commented on #4583
If you provide a PR, please make the Part optional and log a warning If the scriptengine is Not available.

[2019-02-26 15:33] stiemannkj1 opened #4585 "PrimeApplicationContext is not thread safe"
## 1) Environment
- PrimeFaces version: **`7.0.RC3`**
- Does it work on the newest released PrimeFaces version? **No**
- Does it work on the newest sources in GitHub? **No**

## 2) Explanation

The `PrimeApplicationContext` is an application scoped object that is lazily initialized. However, its initialization is not protected by any `synchronized` blocks or other thread safety code. So if X threa

[2019-02-26 15:40] tandraschko commented on #4585
It would handle it as enhancement which can only occur in the first requests after context startup. Even then we just create some shortliving instances.

[2019-02-26 15:51] stiemannkj1 commented on #4585
@tandraschko that's true for the `PrimeApplicationContext` itself, but the current implementation can expose partially constructed `CacheFactory` or `VirusScanner` as well. That's a bug.

[2019-02-26 16:25] #4583 closed, assigned to nobody

[2019-02-26 16:25] tandraschko commented on #4583
Thanks

[2019-02-26 16:41] tandraschko commented on #4585
How can a partial construction Happen? Afair the worst Case should be multiple Shirt living virusscanner

[2019-02-26 16:59] stiemannkj1 commented on #4585
https://stackoverflow.com/questions/12611366/constructor-synchronization-in-java

[2019-02-26 21:39] stiemannkj1 commented on #4585
@tandraschko, I think I have a fix. It includes some API changes. I'm testing now.

[2019-02-27 09:52] mertsincan opened #4587 "Add filterPlaceholder attribute to SelectCheckboxMenu"
Placeholder text to show when filter input is empty.

[2019-02-27 09:57] #4587 closed, assigned to mertsincan

[2019-02-27 11:56] rajankumar20 opened #4588 "p:selectOneMenu performance is down for huge data"
Hi,

p:selectOneMenu is working for slow for huge data (3000 records).
Please improve this bug. For huge data it is taking a lot of time for populate.

Thanks & Regards,
Rajan kumar

[2019-02-27 11:59] melloware commented on #4588
You did not fill out the template correctly.  This will be closed unless you do.

For example you did not provide a runnable test case or even provide what version of PF you tested against.

Also just my UI 2 cents... 3000 items is too many for a select one.  3000 items you should be using an AutoComplete or some thing like that, that lets the user quickly search and find records.

[2019-02-27 12:32] lionstorke opened #4589 "Exception when running Primefaces-6.2.11 on Adopt Open JDK 11"
# IMPORTANT
I try to migrate my Primefaces application from Java 8 to AdoptOpenJDK 11. Application runs without any errors in Java 8. But when using AdoptOpenJDK 11, Primefaces throws an Exception as it cannot find its own library (Error loading css, cannot find "theme.css" resource of "primefaces-" library).

## 1) Environment
I'm using following environment:
- AdoptOpenJDK 11 with Eclipse OpenJ9

[2019-02-27 12:39] tandraschko commented on #4589
Looks more related to MyFaces, the jdk or even just Missing modules conf?
Does it Work on other Java 9+ vms?
I dont have time to Check, so please try to dig deeper.

[2019-02-27 15:23] tandraschko commented on #4589
And the exception says that the "primefaces.THEME" param is empty.
Can you post your web.xml?

[2019-02-27 15:25] melloware commented on #4589
I run PF 6.2.15 in JoinFaces on OpenJDK 11.01 on MyFaces 2.3 with no issues

[2019-02-27 15:39] lionstorke commented on #4589
I narrowed the issue a little bit.
When using AdoptOpenJDK 11 my theme name is an empty String.
When using Java 8 my theme name is afterwork.

See output from Eciplse debug session.

![adoptopenjdk - theme is empty string](https://user-images.githubusercontent.com/29922835/53501987-73ea5100-3aad-11e9-9997-5ce45326d05d.png)

![java 8 - theme - afterwork](https://user-images.githubusercontent.com/29

[2019-02-27 15:44] melloware commented on #4589
No problem I was just letting you know I was using PF in an OpenJDK11 environment.

[2019-02-27 17:03] tandraschko commented on #4589
Then dig deeper. As its working fine on openjdk....

[2019-02-27 17:50] tandraschko commented on #4589
I wil mark it as invalid as a valid issue should contain a reproducer. In this case a cloned primefaces-test project would be required.
We cant help, it might even a problem in your uimanager Bean.

[2019-02-28 07:48] mertsincan commented on #4536
Ok. I will work on these issues today ;)

[2019-02-28 08:05] #4536 closed, assigned to mertsincan

[2019-02-28 08:35] lionstorke commented on #4589
@tandraschko
Although you marked it as defect and invalid I'll post you my web.xml. What I currently don't understand is the fact, that the same web.xml will work under Java 8 and currently not with AdoptOpenJDK. But I'll try now PF 6.2.17.

web.xml
----------------------------------------
<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="

[2019-02-28 08:50] mertsincan opened #4590 "SelectOneMenu is rendered at wrong position in Dialog with positionType"
Details; https://github.com/primefaces/primefaces/issues/4536#issuecomment-464637526

[2019-02-28 08:51] #4590 closed, assigned to mertsincan

[2019-02-28 08:51] tandraschko commented on #4589
Did you try to debug your uimanager?

[2019-02-28 09:28] mertsincan opened #4591 "ColorPicker is rendered at wrong position in Dialog with positionType"
Details;https://github.com/primefaces/primefaces/issues/4536#issuecomment-464637526

[2019-02-28 09:29] #4591 closed, assigned to mertsincan

[2019-02-28 09:56] mertsincan opened #4592 "InputTextarea with autoComplete is rendered at wrong position in Dialog with positionType"
Details; https://github.com/primefaces/primefaces/issues/4536#issuecomment-464637526

[2019-02-28 10:01] #4592 closed, assigned to mertsincan

[2019-02-28 10:20] mertsincan opened #4593 "OverlayPanel is rendered at wrong position in Dialog with positionType"
Details; https://github.com/primefaces/primefaces/issues/4536#issuecomment-464637526

[2019-02-28 10:21] #4593 closed, assigned to mertsincan

[2019-02-28 10:35] YahiaZZ opened #4594 "p:toggleSwitch not recognised in PF 7.0 RC3"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

Hi

## 1) Environment
- PrimeFaces version: 7.0 RC3

- Application server + version: Tomcat 7
- Affected browsers: All

## 2) Expected behavior
toggleSwitch worked
...

## 3) Actual behavior
Error cannot resolve the name
<p:toggleSwitch> Tag Library supports namespace: http://primefaces.or

[2019-02-28 10:37] tandraschko commented on #4594
Can someone check it if its working fine in the Showcase?

[2019-02-28 10:41] YahiaZZ commented on #4594
Hi,
It's working fine in the showcase, but when i try  to use it , it fails i don't know why

[2019-02-28 10:42] tandraschko commented on #4594
Probably multiple jar Files. @melloware can you verify if its working fine with rc3?

[2019-02-28 10:44] YahiaZZ commented on #4594
By the way, RequestContext is not resolved in PF 7.0 ?

[2019-02-28 10:48] tandraschko commented on #4594
Check the Migration Guide ;)

[2019-02-28 10:50] YahiaZZ commented on #4594
Ok thanks ^.^

[2019-02-28 10:52] mertsincan commented on #4536
@OBreidenbach, @melloware and @tandraschko. Could you please check the fixes in the above issues?
(Menu-SelectOneMenu-ColorPicker-InputTextarea-OverlayPanel)

[2019-02-28 11:00] mertsincan commented on #4594
I couldn't replicate it. But, maybe we can change 'COMPONENT_TYPE' of ToggleSwitch to be compatible with others components;
COMPONENT_TYPE = "org.primefaces.component.ToggleSwitch"; instead of 'org.primefaces.ToggleSwitch'
and
```<component-type>org.primefaces.component.ToggleSwitch</component-type>```
...

@melloware Could you please make this change after checking this issue? Thanks a lot ;)

[2019-02-28 12:01] OBreidenbach commented on #4536
I checked ColorPicker, SelectOneMenu and Menu(overlay=true). They all scroll fine in a Dialog positionTyp="absolute".

[2019-02-28 12:15] mertsincan commented on #4536
Thanks a lot, @OBreidenbach ;)

[2019-02-28 13:36] lionstorke commented on #4589
I figured out the problem and have the solution.

The #{uiManager.theme} property is initialized during @PostConstruct phase. But this method wasn't never called in AdoptOpenJDK. What's the reason? Still, I use ManagedBeans and Scopes from Faces. Yes, it's deprecated, but it still works under Java 8. But it seems, as if it doesn't work anymore with AdoptOpenJDK 11.

So I installed Weld and switche

[2019-02-28 13:36] #4589 closed, assigned to nobody

[2019-02-28 13:41] tandraschko commented on #4589
Could be a Tomcat or MyFaces issue in Combination with your vm  But as you said, its already deprecated so CDI is the better way.
I just suggest to use OpenWebBeans If you are a MyFaces user. Both teams are working closely together at Apache and its also more lightwight and faster.

[2019-02-28 14:36] OBreidenbach opened #4595 "Tree: interrupt the execution of nodeClick event"
## 1) Environment
- PrimeFaces version: 7.0.RC3
- Does it work on the newest released PrimeFaces version? Version? No, 7.0.RC3
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Wildfly 11
- Affected browsers: all

## 2) Expected behavior
Extend the functionality of the onNodeCli

[2019-02-28 21:08] stiemannkj1 opened #4596 "Validation packages should be optional for OSGi"

[2019-02-28 21:17] #4596 closed, assigned to nobody

[2019-02-28 21:28] tandraschko commented on #4585
fixed the double checked locking now.

[2019-02-28 21:31] tandraschko commented on #4585
to make it 100% correct, we still need to sync the creation in PrimeApplicationContext#getCurrentInstance

[2019-02-28 21:31] melloware commented on #4594
Sorry updated sample.  I am stumped on this one:
[pf-4598.zip](https://github.com/primefaces/primefaces/files/2916990/pf-4598.zip)

[2019-02-28 22:36] tandraschko commented on #4585
I made some other lazy initialization.
IMO the only "bug" which could occur now is that if multiple requests hit the app after container startup in the same millis.
This could lead to multiple shortliving (1 per thread) PrimeApplicationContext objects, which includes:
- 1 PrimeEnvironment
- 1 PrimeConfiguration
- 2 ConcurrentHashMap
- 4 Lazy objects

its not the nicest way but its very hard to syn

[2019-03-01 02:47] stiemannkj1 commented on #4585
@tandraschko, since `PrimeEnvironment`, `PrimeConfig`, and all `CacheProvider`s are still **mutable** and don't provide any locking or thread-safety mechanism, they will break if anyone uses their mutable features. I recommend that you remove all setters from these classes. The setters are basically pointless on those classes anyway. If you do that and [merge my PR](https://github.com/primefaces/p

[2019-03-01 08:56] rajankumar20 commented on #4588
Dear team,
Thanks a lot.  I was using jsf version 6.1I have used Autocomplete for huge data and it is working fine.SelectOne is not suitable for huge data but Autocomplete is good for this purpose.
Thanks & Regards,Rajan kumar

    On Wednesday, 27 February, 2019, 5:30:02 pm IST, Melloware <notifications@github.com> wrote:

You did not fill out the template correctly. This will be closed unless yo

[2019-03-01 10:20] HISeG-ME opened #4601 "Selectonemenu: support for aria-labelledby IE11/ JAWS"
## 1) Environment
- PrimeFaces version: 6.2
- Affected browsers: Internet Explorer 11 / Microsoft Edge

## 2) Expected behavior
When using the JAWS Screenreader (tested with JAWS17 and JAWS18) with IE11, the Label which is connected to the Selectonemenu Element (ui-helper-hidden-accessible, Input) should be read when it gets the Focus.

Neither the Labels´ for attribute is recognized, nor the manu

[2019-03-01 10:23] #4585 closed, assigned to nobody

[2019-03-01 11:04] tandraschko commented on #4585
done! @stiemannkj1 @melloware @cnsgithub @jxmai @Rapster it would be great if you could give my changes a try in your applications, if everything works as expected before we release the final.

[2019-03-01 11:11] tandraschko opened #4602 "Use LangUtils for string empty/blank check"
TreeTableRenderer
LinkRenderer
FileUploadUtils

[2019-03-01 11:14] Rapster commented on #4602
Actually, every places where checks on String are made (in org.primefaces.component package at least)

[2019-03-01 14:27] melloware commented on #4588
@tandraschko safe to close this ticket.

[2019-03-01 14:28] #4588 closed, assigned to nobody

[2019-03-01 15:01] melloware commented on #4601
@HISeG-ME to help me fix this can you paste the current HTML generated and the "expected" HTML you would want generated?   It will help me figure out how to fix this if I can see what the ScreenReader is expecting.

[2019-03-01 17:37] stiemannkj1 commented on #4585
@tandraschko just ran all the Faces tests and everything is working great!

[2019-03-01 21:06] melloware commented on #4601
Hmmm this looks like a a regression because this was fixed 4 years ago to have p:outputLabel for="" set the aria-labelledBy of the for attribute as long as its an InputHolder which SelectOne is.  Original Commit: https://github.com/primefaces/primefaces/commit/6cca4616d028f3b538e3b0a3b0c1881c7d5b5ec2

[2019-03-01 21:35] melloware commented on #4601
In fact I am not seeing this work for Calendar or any other component that it used to.    I debugged and so far that piece of code in OutputLabel is being called.  However I am not seeing in reflected in the HTML.

I am going to debug further.

[2019-03-02 01:32] melloware commented on #4601
OK I debugged it and submitted a fix.  This was definitely an issue for all InputHolder components not just SelectOneMenu.

[2019-03-02 01:57] melloware commented on #4594
I debugged this a little further. It seems to work for me with 7.0.RC3 but is failing with the 7.0-SNAPSHOT.

[2019-03-02 02:09] melloware commented on #4564
We should also support TimePoint type: https://www.chartjs.org/docs/latest/axes/cartesian/time.html#time-cartesian-axis

So I think we should have NumberPoint and TimePoint type points.

**Number:**
{x: number, y:number}

**Time:**
{x:date y:number}

[2019-03-02 08:41] jepsar opened #4606 "DataTable filter is not triggered when changing input by pasting by mouse or dragging text"
Affects PF 7.0 RC3

[2019-03-02 10:16] krishnakittu commented on #4576
Hi Team
The issue was solved by adding
**TabView t=(TabView)PrimeFacesContext.getCurrentInstance().getViewRoot().findComponent("tabView");
		t.getChildren().remove(tab);**
on the tab close event listener. May be it helps someone.

[2019-03-02 13:57] tandraschko commented on #4606
@mertsincan can you review and apply the PR if correct?

[2019-03-02 14:01] #4601 closed, assigned to nobody

[2019-03-03 13:45] ngwaambe commented on #4575
Hi all.
I created a branch from master for adding lazymodel support for dataview. Am unable to push my branch(Not allowed 403). Am I missing something.

Thanks in advance.

[2019-03-03 16:00] melloware commented on #4575
See https://help.github.com/en/articles/creating-a-pull-request for how to submit your PR from your branch.

Or: https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

[2019-03-03 17:43] tandraschko opened #4608 "[perf] optimize invokeOnComponent for NamingContainers"
https://issues.apache.org/jira/browse/MYFACES-4283

[2019-03-03 20:31] tandraschko commented on #4608
https://github.com/apache/myfaces/commit/04073fb6efbcdaeb1ca0fd25cd7675bef855d091

[2019-03-03 20:36] tandraschko commented on #4608
should only be UITabPanel and UITree

[2019-03-03 20:37] tandraschko commented on #4608
looks like UITabPanel is already optimized as it was copied from MF; only UITree left

[2019-03-04 07:49] mertsincan commented on #4606
Firstly, thanks a lot, @jepsar ;)
I think it is not a bug. We have customizable attributes such as filterEvents for users to solve such issues and most of Users use filterEvent with 'keyup' event. You can change it according to your issue.

Best Regards,

[2019-03-04 08:11] jepsar commented on #4606
Bug or not, this seems like a more reasonable default to me. Keystrokes will also trigger a 'input propertychange' event.

[2019-03-04 08:17] mertsincan commented on #4594
Hi @melloware,
I added the following line to faces-config.xml;
[code]
Could you please try again?

[2019-03-04 10:14] jepsar commented on #4606
@mertsincan I was just checking the `autoComplete` component, and there by default mouse pasting and text dragging is supported. Shouldn't that behave in the same way then?

[2019-03-04 10:44] mertsincan commented on #4606
Hi @jepsar,
Thanks a lot for the feedback. We have to think about other users. Most of Users use keyup event. Also, I think it's not right to change the default behavior before 7.0.Final release. Maybe, we can make this change on 7.1.
For autocomplete, please see the following code;
[code]
It has a completely different implementation. The implementation such as filtering, sorting, keyboard navigat

[2019-03-04 12:11] melloware commented on #4594
@mertsincan can you explain why this makes it work?  Its the same value in the PF Taglib.  And why 7.0.RC3 works but the SNAPSHOT has started failing?

[2019-03-04 12:17] tandraschko commented on #4594
for me everything looks correct now.

[2019-03-04 12:56] melloware commented on #4594
One thing that may be different is I am on Windows 10 are you both on Mac/Linux?

[2019-03-04 17:21] melloware commented on #4594
@tandraschko @mertsincan this is safe to close!  I realized my dumb mistake locally and verified this is all working now.

[2019-03-04 17:33] #4594 closed, assigned to nobody

[2019-03-04 17:39] melloware commented on #919
[pf-multiselect.zip](https://github.com/primefaces/primefaces/files/2927536/pf-multiselect.zip)

Posting this working example with 6.2 here due to a forum request.  Everything is working fine for me just run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2019-03-05 07:35] AcuarioCat commented on #4539
This works but there is strange behavior on multi-axis graphs. This can be seen on https://www.chartjs.org/samples/latest/charts/line/multi-axis.html, clicking one of the datasets to disable it replaces the axis scale with values from -1 to 1. Expected behavior would be either leave the axis unchanged or hide the axis.

[2019-03-05 08:40] astranCZ opened #4609 "SelectOneMenu: Wrong fixed position panel on dialog with scroll"
## 1) Environment
- PrimeFaces version: 7.0.RC3
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 7 + 9
- Affected browsers: Chrome, Firefox, Microsoft Edge

## 2) Expected behavior
When you open the Se

[2019-03-05 09:17] Rapster commented on #4609
It looks like there was a bunch of issues fixed in the past which sound the same as that... For example: https://github.com/primefaces/primefaces/issues/4180

[2019-03-05 09:35] tandraschko commented on #4609
Please try a build from source, should be fixed

[2019-03-05 09:35] OBreidenbach commented on #4609
Sounds like this is a duplicate of #4590

[2019-03-05 10:09] astranCZ commented on #4609
I have build from SNAPSHOT (master-6_1-g79934bb-2532) and still no fix.
[code]

[2019-03-05 12:31] melloware commented on #4539
@AcuarioCat I would report that on the ChartJS issues page as that issue is in the core of ChartsJS: https://github.com/chartjs/Chart.js/issues

[2019-03-05 12:57] melloware commented on #4609
Attached test case is working fine for me in 7.0-SNAPSHOT.
[pf-4609.zip](https://github.com/primefaces/primefaces/files/2930976/pf-4609.zip)

Run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2019-03-05 15:48] melloware commented on #3501
I have this same issue.  My temporary workaround for those that need this to:

1. Have PrimeFaces message in your XHTML, mine is called "globalMessages" in this example

[code]

2. Create a JS method to allow you to dynamically add messages to the p:messages component.

[code]

3. In your Lazy datatable load method catch the error and fire off the JS update.

[code]

[2019-03-05 16:06] astranCZ commented on #4609
I started your example. The same problem.
The menu opens at the right place, but after turning the mouse wheel, the field changes the position and the menu remains in place.

[2019-03-05 16:21] astranCZ commented on #4609
After click, the menu closes - OK.
But do not click but turn the wheel to scroll the scrollbar.
I too using Windows 10 and Chrome, but same behavior in all browsers.

[2019-03-05 16:51] tandraschko commented on #4609
@mertsincan can you check this before the release?

[2019-03-05 21:13] melloware commented on #4609
OK after pressing CTRL+F5 to reload my JS I can confirm the issue.

[2019-03-06 07:20] OBreidenbach commented on #4609
The height of the div inside the dialog is higher then the height of the dialog. So the dialog gets a scrollbar. The failure happens if using the scrollbar of the dialog, not if using the scrollbar of the window/document.
The failure happens not only with SelectOneMenu but also with:
colorpicker, overlay menu, calendar, keyboard, passwort, selectCheckboxMenu

No problem with: datePicker

You can e

[2019-03-06 10:28] bjjoop opened #4610 "Calendar: bad browser performance if pages attribute set"
## 1) Environment
- PrimeFaces version: 6.2.16
- Application server + version: Apache Tomcat 9.0.7
- Affected browsers: Edge, Chrome

## 2) Expected behavior
Browser should not have a visible delay after changing the date via the input element

## 3) Actual behavior
After changing the date in the input element and leaving the field (e.g. tab), a delay can be observed. The reason for this delay are

[2019-03-06 12:22] melloware commented on #4610
This is most likely not a PF problem but a bug in the underlying JQuery DatePicker the PF Calendar is based on.

Here is the source for the Jquery DatePicker: https://github.com/jquery/jquery-ui/blob/master/ui/widgets/datepicker.js

"Pages" is actually the "numberOfMonths" settings in the underlying Jquery DatePicker.

If you analyze deeper and can provide a PR that would be great.  There is not m

[2019-03-06 13:13] fanste opened #4611 "TreeTable: add columns support to columnGroup"
In 2014 support for ``p:columns`` was introduced inside ``p:columnGroup`` for ``p:dataTable`` - see commit 8779900c956afbbd9abc7cfa5946f3e212ca93bb.

Same should be done for tree table. A PR is currently in our internal testing.

[2019-03-07 09:53] #4577 closed, assigned to nobody

[2019-03-07 09:53] arunvc opened #4612 "Calendar: Multiple date selection and navigation"
From drop down select the Month to April , The calendar stays back to December 2018,

![image](https://user-images.githubusercontent.com/9069988/53947834-8f2c1080-40ec-11e9-8e4a-2c7f5fdde76d.png)

Sample attached
[test.zip](https://github.com/primefaces/primefaces/files/2940544/test.zip)

Run and open http://localhost:8080/test/index.xhtml
Click the date textbox and change the month in combo

Samp

[2019-03-07 11:10] YahiaZZ opened #4613 "Schedule: Problem with PF6.1"
## 1) Environment
- PrimeFaces version: PF6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Tomcat 7
- Affected browsers: all browsers

## 2) Expected behavior
Displaying p:schedule with its events
...

## 3)

[2019-03-07 11:29] tandraschko commented on #4613
Please provide a runnable example. We don't have a MainView or Team.get() ;)

[2019-03-07 11:32] tandraschko commented on #4613
And does it work on 7.0.RC3?

[2019-03-07 11:34] YahiaZZ commented on #4613
I cannot use 7.0 RC3 because I have to change a huge project developed initially  with PF 6.1 but it works with PF 6.0, the problem with 6.0 is that I cannot use p:chips !

[2019-03-07 11:40] tandraschko commented on #4613
If you need a Bugfix for 6.1, you can check PrimeFaces Elite and Pro. Here we cant do anything for you.
You can however fork the 6.1 tag and fix it by yourself.

[2019-03-07 11:40] #4613 closed, assigned to nobody

[2019-03-07 12:17] melloware commented on #4577
@arunvc why did you close this? Did you resolve the issue?

[2019-03-07 15:36] arunvc commented on #4577
Since its marked invalid i created a new issue #4612

[2019-03-08 14:03] mertsincan opened #4615 "Sorting on VirtualScroll and Frozen Columns doesn't work"
Reported By PRO User;

[code]

[2019-03-08 14:04] #4615 closed, assigned to mertsincan

[2019-03-08 14:43] mertsincan opened #4616 "InputMask doesn't fire change event of clientValidator"
Reported By PRO User;

Testcase:
[code]
[code]

[2019-03-08 14:44] #4616 closed, assigned to mertsincan

[2019-03-09 07:49] ngwaambe commented on #4575
Hey guys,
how do I proceed from here. [Pullrequest](https://github.com/primefaces/primefaces/pull/4614)

[2019-03-09 12:21] melloware commented on #4575
@ngwaambe PF is getting ready to release 7.0 so no major changes are being pulled in right now only major bugfixes.  Right after 7.0 is released your PR will be review and probably merged for 7.1!

Thanks for your submission!

[2019-03-10 01:15] usharik opened #4617 "DefaultMenuItem: EL is not calculated in setStyleClass method"
## 1) Environment
- PrimeFaces version: 7.0.RC3
- Does it work on the newest released PrimeFaces version? Version? No (7.0.RC3)
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) not tested
- Application server + version: Wildfly 7.0.0.Final
- Affected browsers: Google Chrome

## 2) Expected behavior

EL expressio

[2019-03-11 10:39] #830 closed, assigned to mertsincan

[2019-03-11 14:11] melloware opened #4619 "Controlling Font Performance with font-display"
Based on findings with Google Lighthouse I think we need to add the CSS property "font-display" to the CSS.

You can read what Google says about this property here so I am not quite sure the correct setting should be "swap" or "fallback" but I figured you guys would do some internal testing.

[code]

It looks line FontAwesome chose "font-display: auto;".

https://github.com/FortAwesome/Font-Awesom

[2019-03-11 14:13] melloware commented on #4619
This fix was already put in PrimeIcons: https://github.com/primefaces/primeicons/issues/164

[2019-03-11 17:12] erickdeoliveiraleal opened #4621 "Calendar: Value could be either String or java.util.Date (Regression 6.2 > 7.0.RC3)"
## 1) Environment
- PrimeFaces version:
- Does it work on the newest released PrimeFaces version? Version? yes
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: Jetty
- Affected browsers:

## 2) Expected behavior

On click first calendar should not throw exception. maxdate/minda

[2019-03-11 17:20] tandraschko commented on #4621
@mertsincan can you check before releasing it?

[2019-03-11 23:34] erickdeoliveiraleal commented on #4621
I simplified the example

[2019-03-12 09:35] tandraschko commented on #4621
@cnsgithub could you check that please? otherwise i have to revert the validation for the final release.

[2019-03-12 10:00] cnsgithub commented on #4621
@erickdeoliveiraleal @tandraschko Was `maxdate="today"` an allowed value at some point in time? Didn't know, also cannot find this in user guide. Maybe it was just passed through to jquery datepicker and was supported unofficially. Workaround would be to not use those unofficial magic strings and rather go with strings following the specified date pattern or `java.util.Date`. Wontfix.

[2019-03-12 12:05] erickdeoliveiraleal commented on #4621
I did not know that either. but other developers in my work yes. it's in some answers from stackoverflow too. but there are alternatives like {now} from Omnifaces. Perhaps it could be documented in the migration guide.

[2019-03-12 12:10] tandraschko commented on #4621
is there a list of keywords supported by jquery datepicker? We could at least log a warning in such cases.

[2019-03-12 12:16] cnsgithub commented on #4621
Not sure, cannot find it [here](https://api.jqueryui.com/datepicker/#utility-formatDate). Also, since the utility method is used by @mertsincan' new `datepicker` as well, we must pay extra attention when trying to support JS-specific stuff here.

[2019-03-12 12:16] melloware commented on #4621
I think "today" might be the only special one.  In case of "today" for backwards compatibility maybe we should make it today using new Date() or something?

[2019-03-12 12:19] tandraschko commented on #4621
i think its really ok to add such a special handling for today

[2019-03-12 12:21] cnsgithub commented on #4621
Using max time of `new Date()`?

[2019-03-12 12:24] mertsincan commented on #4621
No, please see the other value types;
[code]
http://api.jqueryui.com/datepicker/#option-maxDate

Exp; maxDate="+1m +7d"

[2019-03-12 12:26] cnsgithub commented on #4621
Okay, if you want to support those, more effort must be spend to translate those formats into java. @tandraschko In this case I'd recommend to revert input validation.

Btw, this should have been documented somehow.

[2019-03-12 12:30] melloware commented on #4621
Agreed we can revert the input validation for now.

[2019-03-12 12:30] cnsgithub commented on #4621
Or do at least if `value instanceof Date`?

[2019-03-12 12:31] mertsincan commented on #4621
@cnsgithub, you're right ;) We'll add it into next documentation.

[2019-03-12 12:31] tandraschko commented on #4621
If you assign maxdate to a Date ValueExpression? Does this work on the client side currently?

[2019-03-12 12:33] cnsgithub commented on #4621
Yes, as far as I can remember, that worked properly.

[2019-03-12 12:33] mertsincan commented on #4621
[code]
Yes ;)

[2019-03-12 12:35] tandraschko commented on #4621
Ok, so i would just do validation for "instanceof Date" for now and note it somewhere.

[2019-03-12 12:42] tandraschko commented on #4621
Could someone do it?
I'm on a different thing today - will publish a JSF benchmark update soon :D

[2019-03-12 12:43] cnsgithub commented on #4621
I am currently doing it...

[2019-03-12 12:58] cnsgithub commented on #4621
PR: https://github.com/primefaces/primefaces/pull/4622

[2019-03-12 13:04] #4621 closed, assigned to nobody

[2019-03-12 13:04] tandraschko commented on #4621
Looks good for me. Thank you!

[2019-03-12 13:04] tandraschko commented on #4621
(would be great if someone could retest with some different cases)

[2019-03-12 14:21] Reslop opened #4623 "Dialog Framework: Update Dialog Height on validation errors"
## 1) Environment
- PrimeFaces version: 7.0.RC3
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Glassfish 5
- Affected browsers: Chrome, Firefox, Microsoft Edge

## 2) Expected behavior
If you have the heigh

[2019-03-12 14:51] #4619 closed, assigned to mertsincan

[2019-03-13 09:56] mertsincan opened #4624 "Duplicate HTML IDs detected with Scrollable Datatable"
Reported By PRO User;

Exp;
[code]

[2019-03-13 10:04] #4624 closed, assigned to mertsincan

[2019-03-13 11:04] carlbradwell17 opened #4625 "DatePicker: Time is not set on Date Object"
## 1) Environment
- PrimeFaces version: 7.0.0-RC3

## 2) Expected behavior
When I use a datePicker to set a Date object on a bean, both the date and time should be set.

## 3) Actual behavior

The date is set, but the time is always 00:00:00.
E.g. if I set the datepicker to "14/03/19 11:57", when I inspect the Date object, the value is "Thu Mar 14 00:00:00 GMT 2019".

## 4) Steps to reproduce

Cre

[2019-03-13 11:13] carlbradwell17 opened #4626 "DatePicker: pattern including date and time"
## 1) Environment
- PrimeFaces version: 7.0-RC3

## 2) Expected behavior
If i want to use a datePicker to set a date object which includes the time, I should set the showTime attribute to true to allow the user to select a time. I then should be able to set a pattern parameter, to format the datetime in the input.
It is possible to pass a pattern for the time when the datePicker is set to timeOnly

[2019-03-13 11:43] tandraschko commented on #4617
still don't understand this request.
Why not just pass the Category pojo to the createMenuItem and set the correct styleClass when building the model?

probably a won't fix.

[2019-03-13 13:10] carlbradwell17 opened #4627 "DatePicker : when showTime true and maxdate set, cannot select time today"
## 1) Environment
- PrimeFaces version: 7.0.-RC3

## 2) Expected behavior
If I use the datepicker component, and set showTime="true" and I set maxdate="#{now}", I should be able to select any date/time up until the minute the page was loaded.

## 3) Actual behavior

If I select the current day, the hour selector is disabled, but I can advance the minutes beyond the maxdate. I cannot decrease the h

[2019-03-13 13:19] carlbradwell17 opened #4628 "DatePicker: Unselectable values not indicated in month view"
## 1) Environment
- PrimeFaces version: 7.0-RC3

## 2) Expected behavior
 When I use a datePicker, and set view="month" and maxdate="#{now}", I should not be able to select months greater than the current month, and they should be visually disabled.

## 3) Actual behavior

There is no visual differentiation of disabled months, and I am able to select one, but it sets the value to the current month

[2019-03-13 14:38] tandraschko commented on #4628
whats #{now}?

[2019-03-13 14:40] carlbradwell17 commented on #4628
From omnifaces, "The builtin managed bean #{now} returns you the java.util.Date instance representing the current time." Any Date object will do in this example.

[2019-03-13 16:59] erickdeoliveiraleal opened #4629 "Dialog: Not supporting HTML content in 7.0"
## 1) Environment
- PrimeFaces version:
- Does it work on the newest released PrimeFaces version? Version? yes
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no

## 2) Expected behavior
Clicking button should display a link

## 3) Actual behavior
Showing a escaped text

## 4) Steps to reproduce
Click button

#

[2019-03-13 17:13] tandraschko commented on #4629
@cnsgithub can we somehow control it with a escape flag in this case? Maybe we need to introduce a flag here

[2019-03-13 17:18] erickdeoliveiraleal opened #4630 "Messages.properties can't use label with primefaces.slider.OUT_OF_RANGE and primefaces.calendar.OUT_OF_RANGE"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? yes. 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version:
- Affected browsers:

## 2) Expected behavior

PrimeFaces 7.0 introduced primefaces.calendar.OUT_OF_RANGE.

p

[2019-03-13 23:07] hink084 opened #4631 "AccordionPanel: Slide Behavior IE11 Flickering"
The execution order of the slide up / down behavior within the Accordion Panel has changed.  You can observe the execution order by setting a breakpoint within the Accordion Panel JavaScript (see below).  This change of behavior is causing flickering in IE, most likely due to the content of the page briefly becoming larger than expected and then potentially showing / hiding an unnecessary vertical

[2019-03-14 00:14] melloware commented on #4629
Runnable sample.  PR coming.
[pf-4629.zip](https://github.com/primefaces/primefaces/files/2964140/pf-4629.zip)

[2019-03-14 00:46] melloware commented on #4623
Runnable sample:
[pf-4623.zip](https://github.com/primefaces/primefaces/files/2964211/pf-4623.zip)

Run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

However it works if I add...

[code]

[2019-03-14 01:05] melloware commented on #4623
Ahh debugging this further its because Dialog Framework dialogs get opened inside an iframe which is why the height gets fixed.

[2019-03-14 01:13] melloware commented on #4631
I wonder if the difference is slideDown is passed "normal" but slideUp is not passed that effect param?

However according to the docs "normal" and omitted should default to 400ms: http://api.jquery.com/slideup/
http://api.jquery.com/slidedown/

And it looks like queued=true is the default.

[2019-03-14 03:42] #4629 closed, assigned to nobody

[2019-03-14 06:29] cnsgithub commented on #4630
PR: https://github.com/primefaces/primefaces/pull/4634

[2019-03-14 07:13] mertsincan commented on #4360
No ;)

[2019-03-14 18:21] erickdeoliveiraleal opened #4635 "JSF 2.3 compatibility: values getting null"
## 1) Environment
- PrimeFaces version: no
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version:
- Affected browsers:

## 2) Expected behavior

Value should remain, even with javax.faces.INTERPRET_EMPTY_STRING_SUBMIT

[2019-03-14 19:27] melloware commented on #4635
Are you using Mojarra? Is it related to this? https://github.com/primefaces/primefaces/issues/4533

[2019-03-14 19:37] erickdeoliveiraleal commented on #4635
I'm using Mojarra. I don't know if is related, not present in Mojarra 2.2

[2019-03-14 19:44] melloware commented on #4635
Oh OK you aren't getting a NullPointerException your value is just NULL. OK.   This is most likely not a PrimeFaces issue but a Mojarra bug: https://stackoverflow.com/questions/53759078/related-problem-with-null-versus-empty-string-when-updating-to-jsf-2-3-mojarra

[2019-03-14 23:33] erickdeoliveiraleal commented on #4635
I read it, and it doesn't look like it's the same bug. I will post mojarra issue then.
Stackoverflow: https://stackoverflow.com/questions/55173655/using-javax-faces-interpret-empty-string-submitted-values-as-null-causes-viewpar

[2019-03-14 23:42] hink084 commented on #4631
So I'm still navigating down the debugging rabbit hole, but I think this is a jQuery timing issue rather than an animation issue - in other words, I don't believe the duration of the slideDown and slideUp is at fault.

However, the "normal" argument passed in the PrimeFaces accordion.js is erroneous, but as you mentioned it shouldn't effect anything and default to the 400ms ('fast' or 'slow' are t

[2019-03-15 01:50] augustd commented on #3520
Is the fix for this issue in one of the 6.2.x minor versions available on the [Primefaces.org downloads page](https://www.primefaces.org/downloads/) if you purchase support? I see this is tagged as part of the 6.3 milestone, but curious if this is anywhere in 6.2.

[2019-03-15 10:00] #4635 closed, assigned to nobody

[2019-03-15 10:43] melloware commented on #4631
Great debugging.  And this only affects IE11?  Definitely feels like something Jquery changed between 1.11 and the 3.X branch.

[2019-03-15 10:44] melloware commented on #3520
No this is going to be in the 7.0 release.  If you need it now 7.0.RC3 is available in the PrimeFaces maven repo and will be released shortly as 7.0 final.

[2019-03-15 21:35] hink084 commented on #4631
I've been debugging with Chrome, but I've only seen flickering issues with IE11. I've also tested Firefox and Samsung Internet Browser and didn't see any flickering.

[2019-03-16 07:31] bkampsnl commented on #4448
Any update ?

[2019-03-16 12:48] melloware commented on #4448
@bkampsnl This is definitely not high priority so without someone providing a PR this most likely will not be worked on.  Especially since above there is a provided workaround.

[2019-03-17 13:59] d-bykov opened #4636 "DataTable: "IllegalArgumentException: Unsupported rows per page value" with ShowAll in rowsPerPageTemplate"
## 1) Environment
- PrimeFaces 7.0.RC3
- WildFly Full 16.0.0.Final
- Affected browsers: Firefox 65.0.2

## 2) Expected behavior

When I select "All" in DataTable's rows per page drop-down list, all available rows should be shown.

## 3) Actual behavior

When the "All" option is selected, empty table is shown and there is an _java.lang.IllegalArgumentException: Unsupported rows per page value: 15_

[2019-03-17 20:31] tandraschko commented on #4636
@melloware @cnsgithub @Rapster any idea?
This really breaks a migration. The problem is that "All" resolves to 15, which is actually not in the list of "rowsPerPageTemplate".
We probably have to pass "All" instead a rownumber in this case to the server.
Otherwise we have to allow all numbers.

[2019-03-17 20:39] melloware opened #4637 "ChartsJS: Polar and Radar have incorrect scale"
From this forum post: https://forum.primefaces.org/posting.php?mode=reply&f=3&t=58338

Looking at Polar and Radar charts the JS should not be "scales" it should be singular "scale".
https://www.chartjs.org/docs/latest/charts/radar.html

The radar chart supports only a single scale. The options for this scale are defined in the scale property.
[code]

Attached is runnable sample:
[pf-4637.zip](http

[2019-03-17 21:04] melloware opened #4639 "ChartJS: Scales add common options"
Documentation: https://www.chartjs.org/docs/latest/axes/

Scales have the following common properties that should be implemented...

Name | Type | Default | Description
-- | -- | -- | --
display | boolean | true | Controls the axis global visibility (visible when true, hidden when false).
weight | number | 0 | The weight used to sort the axis. Higher weights are further away from the chart area.

[2019-03-18 07:20] cnsgithub commented on #4636
Original issue: https://github.com/primefaces/primefaces/issues/3519

I'll have a look into this. But again, these undocumented features are quite annoying and prevent us from rolling out any new features without breaking something. There is no word about `rowsPerPageTemplate="{ShowAll|'All'}"` in the user guide. :cry:

[2019-03-18 07:35] Rapster commented on #4636
Good catch @cnsgithub :wink: Regarding documentation, I had in mind to throw an exception if such a case happened, so it doesn't happen anymore

[2019-03-18 08:19] #4637 closed, assigned to melloware

[2019-03-18 09:07] #4636 closed, assigned to mertsincan

[2019-03-18 09:07] mertsincan commented on #4636
Release time :D

[2019-03-18 09:13] cnsgithub commented on #4636
@mertsincan Oops, I did a pull request at the same time :wink:: https://github.com/primefaces/primefaces/pull/4640

I just had a look at your commit: it's very similar despite it's using `{ShowAll|` again hardcoded. I think we should use a constant here.

[2019-03-18 09:26] tandraschko commented on #4609
@mertsincan will you fix this for 7.0? It really breaks some cases.

[2019-03-18 09:56] mertsincan commented on #4636
@melloware, so sorry :( I didn't see your PR.

You're right! Could you please attach a new PR? Thanks a lot!

[2019-03-18 10:32] mertsincan commented on #4609
Unfortunately, no! This issue is different from #4536. A new attribute can be added and some JS codes can be modified accordingly. I need a lot of time to fix the issue and do the tests. Therefore, I'll fix this issue on 7.0.x and 7.1.

[2019-03-18 11:14] melloware commented on #4639
I will fix this for 7.1

[2019-03-18 12:29] jepsar opened #4642 "MessageFactory: make getLocale() public"
So it can be used in PrimeFaces extensions:

https://github.com/primefaces-extensions/core/blob/master/src/main/java/org/primefaces/extensions/util/MessageFactory.java#L78

[2019-03-18 13:14] parlak1 opened #4644 "TreeTable: selectionMode="checkbox" - option request - propagateSelectionUp/Down"
I have a 2 level TreeTable (Father, Son). I can add/remove any node. Checkboxes are represented with "0":
-0 Father1 (2 sons)
  -0 Son11
  -0 Son12
+0 Father2 (3 sons)

I add Father3 and now I have:
+0 Father1 (w/ two Sons)
+0 Father2 (w/ 3 Sons)
+0 Father3 (w/ 0 Son)

Now I want to add a son (Son31) to Father3: it does. But later on, if I want to remove only Son31, it selects both Father3 and Son

[2019-03-18 14:39] Rapster commented on #4642
I think this method should be moved to LocaleUtils (as a public method)

[2019-03-18 14:43] jepsar commented on #4642
@Rapster even better :-)

[2019-03-18 15:51] ravihariharan opened #4645 "primefaces 7.0 jar missing in mvnrepository"
https://www.primefaces.org/primefaces-7-0-final-released/

https://mvnrepository.com/artifact/org.primefaces/primefaces

![image](https://user-images.githubusercontent.com/15189434/54543468-16db1000-4974-11e9-8b3a-210f45682faf.png)

[2019-03-18 16:04] tandraschko commented on #4645
Primetek is aware of that

[2019-03-18 16:04] #4645 closed, assigned to nobody

[2019-03-18 17:15] #4642 closed, assigned to nobody

[2019-03-18 17:16] #4630 closed, assigned to nobody

[2019-03-18 17:17] #4595 closed, assigned to nobody

[2019-03-18 17:18] #4543 closed, assigned to nobody

[2019-03-18 17:19] #4560 closed, assigned to nobody

[2019-03-18 17:22] tandraschko opened #4646 "Move to Java8 LocalDate/Time"

[2019-03-18 17:26] #4375 closed, assigned to tandraschko

[2019-03-18 17:30] #4553 closed, assigned to nobody

[2019-03-18 17:32] tandraschko opened #4647 "DataTable: fix "All" pagesPerRow validation"
See: https://github.com/primefaces/primefaces/issues/4636

[2019-03-18 17:34] #3146 closed, assigned to nobody

[2019-03-18 17:37] #4539 closed, assigned to nobody

[2019-03-18 17:39] #4571 closed, assigned to nobody

[2019-03-18 17:44] #4602 closed, assigned to tandraschko

[2019-03-18 17:47] tandraschko commented on #3072
See: https://github.com/primefaces/primefaces/issues/4646

[2019-03-18 17:47] #3072 closed, assigned to nobody

[2019-03-19 08:42] usharik commented on #4617
1. If setCommand understand ELs why setStyleClass not?
2. I'm trying to use PanelMenu as a navigation element on which currently selected category should be highlighted. That's why I'm trying to use EL in setStyleClass().

[2019-03-19 08:47] tandraschko commented on #4617
Because the info should be already there when you build the model. You just have to make it requestscoped instead viewscoped.

Because a command/listener can only be a EL

[2019-03-19 09:07] fanste commented on #4611
PR #4648

[2019-03-19 10:04] NicolaIsotta opened #4649 "Wrong link in docs"
I cannot reopen #2770
Wrong link is:
https://github.com/primefaces/primefaces/blob/80d10c8a792e2cecfe15a50c952822d96dfdaf4b/docs/7_0_0/misc.md#L304
It should point to GitHub instead.

[2019-03-19 10:05] tandraschko commented on #4649
Why not just provide a PR instead of a issue?

[2019-03-19 10:06] NicolaIsotta commented on #4649
PR is coming… just a sec.

[2019-03-19 10:10] #4649 closed, assigned to nobody

[2019-03-19 10:10] tandraschko commented on #4649
Thanks :) please skip the issue for doc the next time, it's not required for tracking :)

[2019-03-19 10:34] gako opened #4651 "PieChart: PieChartRenderer writes circumfence value into cutoutPercentage field (same for DonutChart)"
## 1) Environment
- PrimeFaces version: 7.0
- Application server + version: Payara 4.1.2

## 2) Expected behavior

Circumfence value is used by ChartJS
...

## 3) Actual behavior

circumfence value is overwritten with cutoutPercentage value

## 4) Steps to reproduce

Try to change circumfence value in PieChartOptions

## 5) Sample XHTML

default <p:pieChart usage>

## 6) Sample bean

pieChartModel

[2019-03-19 10:35] #4207 closed, assigned to cagataycivici

[2019-03-19 10:37] #4382 closed, assigned to cagataycivici

[2019-03-19 10:43] #4075 closed, assigned to cagataycivici

[2019-03-19 10:43] #4086 closed, assigned to cagataycivici

[2019-03-19 10:45] #3882 closed, assigned to cagataycivici

[2019-03-19 10:46] tandraschko commented on #4377
@cnsgithub would you like to move your wiki page about secure upload to the docs?

[2019-03-19 10:46] #4384 closed, assigned to cagataycivici

[2019-03-19 10:47] #4183 closed, assigned to cagataycivici

[2019-03-19 10:47] #4184 closed, assigned to cagataycivici

[2019-03-19 10:49] #3973 closed, assigned to cagataycivici

[2019-03-19 10:50] #4354 closed, assigned to cagataycivici

[2019-03-19 10:50] #3576 closed, assigned to cagataycivici

[2019-03-19 10:52] #3593 closed, assigned to cagataycivici

[2019-03-19 10:53] tandraschko commented on #3723
@msgeissler Would you like to contribute the docu changes via PR? they are in github now as .md file :)

[2019-03-19 10:54] #4245 closed, assigned to cagataycivici

[2019-03-19 10:56] #4132 closed, assigned to cagataycivici

[2019-03-19 10:57] #3456 closed, assigned to cagataycivici

[2019-03-19 10:58] #3421 closed, assigned to cagataycivici

[2019-03-19 11:00] #3393 closed, assigned to cagataycivici

[2019-03-19 11:04] #3383 closed, assigned to cagataycivici

[2019-03-19 11:05] #4444 closed, assigned to cagataycivici

[2019-03-19 11:06] #3897 closed, assigned to cagataycivici

[2019-03-19 11:06] #3592 closed, assigned to cagataycivici

[2019-03-19 11:07] #3414 closed, assigned to cagataycivici

[2019-03-19 11:08] #4093 closed, assigned to cagataycivici

[2019-03-19 11:08] cnsgithub commented on #4377
@tandraschko We are still awaiting for PrimeTek to join the documentation discussion [here](https://github.com/primefaces/primefaces/pull/4334). Please don't get me wrong, but I don't want to waste time as long as there is no official roadmap for documentation.

[2019-03-19 11:09] #3403 closed, assigned to cagataycivici

[2019-03-19 11:13] tandraschko commented on #4377
AFAIK the decision was made by Cagatay and i can't change it. I think thats the official roadmap for now.

I'm not 100% happy as rapster invested many time and i know myself how that feels.
But its still much better as the PDF as we can improve the docu now.

[2019-03-19 11:15] #4351 closed, assigned to cagataycivici

[2019-03-19 11:15] #4235 closed, assigned to cagataycivici

[2019-03-19 11:19] #3398 closed, assigned to cagataycivici

[2019-03-19 11:28] #4199 closed, assigned to cagataycivici

[2019-03-19 11:42] cnsgithub commented on #4377
Convinced. Where do you want me to move the wiki?

[2019-03-19 11:44] tandraschko commented on #4377
I would add it as sub-sections to the FileUpload.md.
Mert said that the guide.md is generated from the single *.md files via:
```npm i docsify-cli -g```
```.../primefaces/docs/7_0_0> docsify serve```

[2019-03-19 11:55] #3548 closed, assigned to cagataycivici

[2019-03-19 12:02] tandraschko commented on #4377
ok even better
guide.md is not required, i will delete it
if we change something, github auto deploys it

[2019-03-19 12:07] #4260 closed, assigned to cagataycivici

[2019-03-19 12:15] #3614 closed, assigned to cagataycivici

[2019-03-19 12:15] usharik commented on #4617
I can't use request scope because I need to store selected category between requests.

[2019-03-19 12:17] #3384 closed, assigned to cagataycivici

[2019-03-19 12:19] #3388 closed, assigned to cagataycivici

[2019-03-19 12:22] #4415 closed, assigned to cagataycivici

[2019-03-19 12:23] #4369 closed, assigned to cagataycivici

[2019-03-19 12:44] #3883 closed, assigned to cagataycivici

[2019-03-19 12:47] #4254 closed, assigned to cagataycivici

[2019-03-19 13:00] tandraschko commented on #3740
@OBreidenbach Could you please change the documentation? Its here now: https://github.com/primefaces/primefaces/tree/master/docs

[2019-03-19 13:00] tandraschko commented on #3778
@OBreidenbach Could you please change the documentation? Its here now: https://github.com/primefaces/primefaces/tree/master/docs

[2019-03-19 13:05] #4173 closed, assigned to cagataycivici

[2019-03-19 13:11] #3533 closed, assigned to cagataycivici

[2019-03-19 13:25] #4102 closed, assigned to cagataycivici

[2019-03-19 13:27] #3537 closed, assigned to cagataycivici

[2019-03-19 19:25] melloware commented on #3714
@tandraschko @krichter722  This ticket can be closed.

You cannot set rowkey on TreeTable and the original poster was confused and sorted himself out on Stack Overflow:  https://stackoverflow.com/questions/50430627/what-does-ptreetables-rowkey-and-treenode-rowkey-stand-for

[2019-03-19 19:43] hichamglia opened #4655 "JQPlot: Device Pixel Ratio"
This is my first issue report.
metergauge is not displayed as expected.
Even if I set the style="width:400px;height:250px" the output is not readable.
You can check what I am talking about in the demo page :
https://www.primefaces.org/showcase/ui/chart/metergauge.xhtml

[2019-03-19 19:46] melloware commented on #4655
I don't understand. Can you explain what exactly is not working?  When you say the output is not readable I don't know what you are referring to.

The Custom chart in that example has `meterGaugeModel2.setShowTickLabels(false);` so that is why labels are not being displayed in the second gauge?

[2019-03-19 20:17] #3714 closed, assigned to cagataycivici

[2019-03-19 20:18] #3625 closed, assigned to cagataycivici

[2019-03-19 20:27] hichamglia commented on #4655
Both charts are not well displayed.
Only 1/4 of the chart is displayed as you can see in the screenshot below
<img width="1024" alt="pf" src="https://user-images.githubusercontent.com/20902770/54639448-4b8abc80-4a85-11e9-8485-fbf24c9ce845.png">

[2019-03-19 20:44] melloware commented on #4655
What browser?  I am in Chrome and here is what mine looks like...

![image](https://user-images.githubusercontent.com/4399574/54640459-36eafc00-4a66-11e9-8baf-4555d670865c.png)

[2019-03-19 20:46] pzygielo commented on #4655
@adamo901 - please reset zoom in your browser

[2019-03-19 20:56] hichamglia commented on #4655
The zoom is set to normal in all my browsers.
The below screenshot is from safari
<img width="1134" alt="PF2" src="https://user-images.githubusercontent.com/20902770/54641126-492a6180-4a89-11e9-8b75-e4f56fdfc596.png">

And I have also the same issue on Chrome 73.0.3683.75 and FireFox 66.0 (64 bits)

[2019-03-20 10:44] tandraschko commented on #4497
No example, no response -> invalid

[2019-03-20 10:44] #4497 closed, assigned to nobody

[2019-03-20 10:44] #4372 closed, assigned to nobody

[2019-03-20 10:45] #802 closed, assigned to nobody

[2019-03-20 10:45] #685 closed, assigned to nobody

[2019-03-20 11:06] melloware commented on #4655
Here is my firefox. Its working in IE, Chrome, Firefox.

![image](https://user-images.githubusercontent.com/4399574/54679805-a3a1dd00-4ade-11e9-84c6-ac1b3c423a48.png)

[2019-03-20 12:22] iimayconii commented on #4655
I tested and is rendering as follows (Chrome version: 73.0.3683.75):

![image](https://user-images.githubusercontent.com/5523917/54683896-9c37ff00-4af1-11e9-93a9-44c5026509d9.png)

[2019-03-20 13:43] patzi opened #4656 "Slider: validate not working with converter"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? no
- Application server + version: tomcat 9.0
- Affected browsers: all

## 2) Expected behavior
When having a slider **non range** with `<f:converter converterId="converterId" />` at the input field slider should validate values same as w

[2019-03-20 14:45] cavalka opened #4659 "Dynamic DataTable ajax update issue"
I have a dynamic table where I can delete records from the table.  After clicking the delete button the action bean is initiated to delete record from database and then the data table is to be update.  Problem is the data table never gets refreshed with the deleted record removed from data table.  The ajax update is not working on dynamic data table.  If I execute PF('mrTable').filter() on complet

[2019-03-20 14:57] tandraschko commented on #4659
Please follows our issue template.

[2019-03-20 17:15] HISeG-ME opened #4660 "Selectonemenu: Limited accessibility of ui-selectonemenu-list with Screenreader Jaws 17/ Internet Explorer 11"
## 1) Environment
- Primefaces Version: 6.2
- Affected Browsers: Internet Explorer 11/ Jaws 17

## 2) Expected behavior
When using the Screenreader Jaws, the user will tab into the Selectonemenu (advanced). If it gets the focus, the List can be opened with the Spacer bar. Thereafter, the Inputfield will get the focus and its possible to navigate through the available Listitems using the arrow up/

[2019-03-20 17:17] cavalka opened #4661 "Dynamic DataTable ajax update issue"
## 1) Environment
- PrimeFaces version: PrimeFaces 7.0RC1
- Application server + version: OpenLiberty
- Affected browsers: All

## 2) Expected behavior
Expecting Dynamic Data Table to be updated with the deleted record removed from Dynamic Data Table

## 3) Actual behavior
The Dynamic Data Table is never updated and the deleted record still remains in Dynamic Data Table.

## 4) Steps to reproduce

[2019-03-20 17:34] melloware commented on #4660
Is this specific to IE and JAWS17 or does it work ok with other browsers?

[2019-03-20 17:37] jasonex7 opened #4662 "LinkButton: 'target' and 'title' attributtes not rendered"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Jetty 9.4 from https://github.com/primefaces/primefaces-test
- Affected browsers: ALL

## 2) Expected behavior

'Target' and 'title' attributes should be rendered because there are in `primefaces-p.taglib.xml`.
[

[2019-03-20 17:52] melloware commented on #3740
@OBreidenbach this was merged i think its safe to close?

[2019-03-20 17:52] melloware commented on #3778
@OBreidenbach this was merged i think its safe to close?

[2019-03-20 18:36] tandraschko commented on #4661
Please provide a full runable example or clone primefaces-test.

[2019-03-20 20:38] cnsgithub commented on #4377
PR: https://github.com/primefaces/primefaces/pull/4665

[2019-03-20 20:49] wklaczynski opened #4666 "Can not render view when is primefaces on majora 2.3, when use PartialViewContext.setRenderAll(true) or use "@all" selector in primefaces component."
Can not render view when use PartialViewContext.setRenderAll(true) or use "@all"
 selector in update selector in primefaces components. With majora 2.2 all works fine.

## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: wildflay 15
- Affected browsers: firefox

[2019-03-20 20:54] wklaczynski commented on #4666
Also there is a problem with everything that requires render all. Functions that worked perfectly with primefaces 6.2 on the jsf 2.2 version did not work on jsf 2.3. The use of @form works perfectly but it is not always possible.

            String ajaxscript = builder.init()
                    .source(sourceId)
                    .form(formId)
                    .event("scxmlhide")

[2019-03-20 21:15] tandraschko commented on #4666
Please try 7.0 and provide a small as possible example without any state flow stuff.

[2019-03-20 21:18] tandraschko commented on #4666
Note: there also is an mojarra bug that doesnt render the resources in the head when using update @all. That might be the same bug

[2019-03-20 22:46] wklaczynski commented on #4666
Similar functions without the use of primafaces work on every JSF version. The problem always appears in the use of primefaces, PartialViewContext.setRenderAll (true), or any attempt to use @all, but only on the version 2.3.

            writer.startElement("script", component);
            writer.writeAttribute("type", "text/javascript", "type");
            writer.write("window.scxmltask = setTi

[2019-03-20 22:52] tandraschko commented on #4666
I can check it tommorow but i need a simple cloned primefaces-test Project without stateflows etc.

Afair neither mojarra nor MyFaces implemented @all correctly. Only PrimeFaces does.

I think its the same error: https://github.com/eclipse-ee4j/mojarra/issues/4354

[2019-03-20 23:06] #4377 closed, assigned to cagataycivici

[2019-03-20 23:06] tandraschko commented on #4377
Thanks

[2019-03-21 06:47] #3740 closed, assigned to cagataycivici

[2019-03-21 06:49] OBreidenbach commented on #3778
@melloware:  @tandraschko opend this issue. So I can not close it.

[2019-03-21 08:06] HISeG-ME commented on #4660
In Firefox and Chrome, Jaws allows the arrow navigation but won´t read the Listitems unless they´re selected and appear in the Inputfield (Chrome) and won´t be read at all (Firefox).

[2019-03-21 08:08] #3778 closed, assigned to cagataycivici

[2019-03-21 10:59] melloware commented on #4660
@HISeG-ME If you can look at the HTML source  in the browser and determine what we are missing or what ARIA tags may be in the wrong places that is causing this issue I definitely don't mind fixing it.  But typically I count on people who actually use these screenreaders to help us figure out what we need to change.  Just let me know.

[2019-03-21 11:20] melloware commented on #4655
If you can dig deeper into it please do.  I have tested on 2 different computers in 3 different browsers and it looks fine for me.

[2019-03-21 12:19] wklaczynski commented on #4666
Unfortunately, the same problem is in Primefaces 7.0.

I analyzed the problem of the render all function. Everything is fine when there is the original HeaderRenderer. When the PartialViewContextImpl setting for render all forces the rendering of the entire component tree. In the case when it is active, primefaces sets its own head renderer "org.primefaces.renderkit.HeadRenderer". The responce is

[2019-03-21 12:48] tandraschko commented on #4666
Yup, thats the mojarra bug. Feel free to fix this on mojarra side.

[2019-03-21 12:48] #4666 closed, assigned to nobody

[2019-03-21 13:03] wklaczynski commented on #4666
This is the correct operation. No matter if the render @all, head is not rendered during partial ajax submit for dynamic resources. The original jsf script dynamically consists of differences. Ajax script from primefaces does not do this.
JSF selects dynamic resources as rendered in viewroot during restorephase, it always renders differences:

[code]

The problem is in "PrimeFaces.ajax":

[code]

[2019-03-21 14:36] iimayconii commented on #4655
I think the zoom problem in the chart is generated by the size calculation according to window.devicePixelRatio.
Basically the rendering problem happens for screens with the largest pixel density.

Documentation of "window.devicePixelRatio: (https://developer.mozilla.org/en-US/docs/Web/API/Window/devicePixelRatio)

The code snippet in the jqPlot that generates the calculation is at line 294 of the

[2019-03-21 14:47] melloware commented on #4655
Look like there are open issues on JQPlot...

https://github.com/jqPlot/jqPlot/issues/119

According to that the way to fix it is...

[code]

[2019-03-21 15:02] melloware commented on #4655
OK I fixed it and submitted a PR.  Thanks for investigating this issue!

[2019-03-21 15:20] iimayconii commented on #4655
You're welcome! I thank you for the excellent work that you guys do!

[2019-03-21 15:29] melloware commented on #4655
The subject of this ticket should be re-titled to "JQPlot: Device Pixel Ratio"

[2019-03-21 17:33] edudoda commented on #1715
Same problem here.
Recently we added a JS call: `onclick="if(PF('tabela')){ PF('tabela').clearFilters();}"` in a `<p:commandLink />` component to ensure new dataTable values displayed are not filtered with previously user values. But then,  if `paginatorAlwaysVisible="false" `, next times, when new dataTable registries should have paginator, none is displayed =/

[2019-03-22 07:21] hichamglia commented on #4655
Many thanks for the great work.
I think the title should still keep some word related to "metergauge primefaces chart".

[2019-03-22 13:51] melloware commented on #4655
Well according to the JQplot ticket it affects more than MeterGauge it can affect any chart so that is why I wanted the issue described more generically.  MeterGauge was a symptom not the cause.

[2019-03-22 14:45] OBreidenbach opened #4672 "Calendar: Choosing browser selections triggers defaultCommand"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-03-22 14:54] mstichweh commented on #3424
In the meantime it would be very nice to just have the `data` object as additional parameter in the `onAdd` function:

[code]

Then it would be possible to access `data.originalFiles.length` to get the number of uploading files, especially for multiple uploads with auto upload enabled. This value could be transfered to the backing bean by `remoteCommand` then.
To decrement the number of uploading

[2019-03-22 15:59] #4659 closed, assigned to nobody

[2019-03-22 16:01] tandraschko commented on #3723
Or anyone else?

[2019-03-22 16:02] #4639 closed, assigned to nobody

[2019-03-22 16:05] #2643 closed, assigned to nobody

[2019-03-22 16:06] tandraschko opened #4673 "Docu for 7.1"
After we polished the docu, we need to clone it for 7.1.

Tickets which needs to be documented for 7.1:
- #4538 (@OBreidenbach)
- removed image attriubte in buttons

[2019-03-22 23:21] wklaczynski commented on #4666
Maybe to solve your conflict between the majora, just do it when it's render all cleaning up the attribute in "RESOURCE_IDENTIFIER" FacesContext?

context.getAttributes().remove(RESOURCE_IDENTIFIER)

[2019-03-23 00:38] tandraschko commented on #4666
I think mojarra should just align their impl.
It doesnt make sense that PrimeFaces must always workaround such issues.

[2019-03-23 02:05] wklaczynski commented on #4666
Majora solves this problem in jsf.js. I solved it by doing it this way, so I have jsf 2.3 and primefaces. I can not imagine working without primefaces. I hope that you will solve this problem soon. This solution works great for me, so it's a closed topic for me.

https://github.com/wklaczynski/state-flow-faces/blob/master/state-flow-primefaces/src/main/java/org/ssoft/faces/prime/PrimeFlowPartialVi

[2019-03-23 08:47] tandraschko commented on #4666
As i said, it should be changed on mojarra side, not in PF.

[2019-03-23 10:42] wklaczynski opened #4676 "menuItem: disableClientWindow does not apply to url"
When use  with "url" attribute
When I use the <p:menuitem with the "url" attribute and the "disableClientWindow='true'" attribute, the window parameter is still rendered.

                        <p:menuitem
                            value="Users"
                            url="faces/web/users/list-users.xhtml"
                            disableClientWindow="true"

[2019-03-23 10:47] wklaczynski commented on #4676
The problem is in "OutcomeTargetRenderer", for "url" it should be the same as for "outcome".

[code]

[code]

[2019-03-23 15:28] melloware commented on #4676
Looking at this to prevent all the code from being duplicated i think this method needs refactoring.

[2019-03-23 15:36] melloware commented on #4676
I took a shot at refactoring this method, if felt wrong to repeat all that client window code inside of each IF statement.

[2019-03-23 16:09] melloware commented on #3963
This can be done already with JitPack.  You can get the current snapshot of GitHub any time you want with this in your pom.xml.

[code]

[2019-03-23 16:17] melloware commented on #4647
Related to? https://github.com/primefaces/primefaces/issues/3228

[2019-03-23 17:56] #3963 closed, assigned to nobody

[2019-03-23 21:14] msgeissler commented on #3723
@tandraschko sorry as I am not working with PrimeFaces or JSF anymore at the moment, I forgot about this issue. I will try to give it a ago, but I might not have the time for a fully fledged out final version.

[2019-03-23 22:17] msgeissler commented on #3723
@tandraschko I created a PR #4679 with some updates to the documentation.

[2019-03-24 20:47] tandraschko commented on #3723
@msgeissler Thanks, i really appreciate your help even you don't use PF currently! :)

[2019-03-24 21:04] tandraschko opened #4680 "OutputLabel: indicateRequired=auto skips check for @NotEmpty/Blank when @NotNull is present"

[2019-03-24 21:05] #4680 closed, assigned to nobody

[2019-03-24 21:08] tandraschko commented on #4676
Could someone check if the JSF impls really applies the windowId it to the url and not only for outcome?
I generell i would say the clientWindow should only be appended to internal urls (outcome) and not external (url).

[2019-03-24 21:12] #4662 closed, assigned to nobody

[2019-03-24 21:12] #3723 closed, assigned to cagataycivici

[2019-03-25 08:16] mertsincan opened #4681 "Accessibility issue with VirtualScroll DataTable"
Reported By PRO User;

Then when setting the selectedRow to a row outside of the scrollview from backing java bean. And then scrolling the selected row into view, the selected row is missing the aria-selected="true" attribute.
A manual mouseclick is needed and then the attribute is set correctly.
This only happens in the combination of virtualScroll, frozen columns and selected row set from java b

[2019-03-25 08:18] #4681 closed, assigned to mertsincan

[2019-03-25 10:03] wlhUser opened #4682 "selectOneMenu: Selecting a record by typing some letters does not work"
**1) Environment**
PrimeFaces 7.0 -> here it does **not** work
(PrimeFaces 6.2 -> here it works)
Browsers: Tested on Firefox 66 and Chrome 72 (suppose the problem is not browser related)

**2) Expected behavior**
When setting the focus on the p:selectOneMenu component in the browser, without having it expanded, and typing a few letters, the item which starts with **all** typed letters should be se

[2019-03-25 10:08] #4506 closed, assigned to nobody

[2019-03-25 10:10] #4651 closed, assigned to nobody

[2019-03-25 11:13] #4676 closed, assigned to nobody

[2019-03-25 11:14] tandraschko commented on #4676
lets leave it for now, jsf doesn't have a url/href attr.

[2019-03-25 11:33] melloware commented on #4682
Runnable Test Case:
[pf-4682.zip](https://github.com/primefaces/primefaces/files/3003022/pf-4682.zip)

[2019-03-25 11:42] melloware commented on #4682
OK this was done on purpose as part of this ticket: https://github.com/primefaces/primefaces/issues/2356

This was requested to make it behave like the regular HTML5 select box.  The reason we do this is because of Principal Of Least Astonishment https://en.wikipedia.org/wiki/Principle_of_least_astonishment.

[2019-03-25 12:16] wlhUser commented on #4682
Hi Melloware,

I'm not sure how to understand your comment.
I've just tested the HTML select box, and it works in the same way as I'm expecting it to work.

Attached you find an extended version of the XHTML page, which contains a p:SelectOneMenu component and a HTML select. If I'm typing 'ABCD' int the HTLM select box, the record 'ABCD' is selected.

Maybe there is a misunderstanding. In case I t

[2019-03-25 12:19] melloware commented on #4682
Hmm so there is a must be some built in delay of whether to use the next letter or to keep this letter and cycle through the options with that letter.  Sounds like we need a combination of the old behavior and the new behavior.

[2019-03-25 12:28] wlhUser commented on #4682
p:selectOneMenu from PF 6.2 already combines the two approaches already, It works (almost) exactly like the HTML select. The only difference is the delay time. This is in PF 6.2 slightly bigger than in HTML select.
Maybe this is the reason, why the ticket #2356 was created.

[2019-03-25 12:32] melloware commented on #4682
You are right looking at the code it uses a full 1000 delay.  Maybe that is too long compared to the regular HTML5 select box?  I will revert the change and lower that delay so I can get it to match the HTML5 version.

[2019-03-25 12:49] wlhUser commented on #4682
Thank you.
But please do not lower the delay too much. I did not measure it in HTML select but it is not much lover than 1sec - maybe 800ms.

[2019-03-25 12:49] melloware commented on #4682
OK so I just tested 6.2 vs 7.0 with your example and 6.2 is not quite the same as HTML5. In your Example if I press "A" it selects "AA" the first record starting with "A" If I pause for 5 full seconds and press "A" again nothing happens.   The ticket #2356 was created for exactly that reason those users were saying it should go to the next "A" item.  Can you confirm with 6.2.  I cannot get 6.2 to

[2019-03-25 13:13] Eehol opened #4683 "SelectCheckboxMenu: add accessibility to items checkbox and label"
Hello,

For accessibility purpose (see WCAG2.1 rules), is it possible to add the "for" attribute to the selectCheckboxMenu's labels to reference the left checkbox ?

POC (left=PF 7.0 code, right=POC code) :
https://i.postimg.cc/qBhpHdTv/primefaces-Select-Checkbox.png

With this change, a screenreader reads "Other - checkbox not checked"
With PF 7.0, it reads "checkbox not checked" without the labe

[2019-03-25 13:29] wlhUser commented on #4682
Yes you are right. To step through all records starting with 'A', by repeatedly pressing 'A' (with a pause in between), does not work in PF6.2. This is a different behavior compared to the HTML select.

Finally, neither PF6.2 nor PF 7.0 behave like exactly the same as the HTML select.

[2019-03-25 13:41] melloware commented on #4682
OK well at least I feel better that neither behavior 100% matched HTML5 select.  So we will leave this bug open to try and make both scenarios work.  But it explains why #2356 was created and voted by users.

[2019-03-25 13:48] #4608 closed, assigned to tandraschko

[2019-03-25 13:54] melloware commented on #4683
I am looking at the source for 7.0 and it does add the for="" attribute. See this line: https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/selectcheckboxmenu/SelectCheckboxMenuRenderer.java#L191

[2019-03-25 13:55] #4503 closed, assigned to tandraschko

[2019-03-25 14:27] Eehol commented on #4683
Indeed the code you pointed seems correct to me but you can check in the Primefaces showcase that the generated code have no "for" attribute :-/
https://i.postimg.cc/L6Ddqjrh/1553523864277-primefaces-Select-Checkbox.png

[2019-03-25 14:28] #4018 closed, assigned to Rapster

[2019-03-25 14:40] tandraschko commented on #3777
@OBreidenbach would you like to provide a PR + also for taglib + docu?

[2019-03-25 14:44] #4673 closed, assigned to nobody

[2019-03-25 14:46] melloware commented on #4683
You are right. I found it for the Multiple style if does it all in JavaScript Side here: https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/forms/forms.selectcheckboxmenu.js#L196-L207

[2019-03-25 14:48] mertsincan opened #4684 "InputMask has required mask attribute since PF 7.0"
Reported By PRO User;

I noticed that mask attribute for p:inputMask has been made required since PF 7.0. In our case we have mask attribute with expression where whe use mask according to condition evaluation. One of possibilities is "no mask" with empty string in mask.

[code]

[2019-03-25 14:48] #3892 closed, assigned to nobody

[2019-03-25 14:50] #4684 closed, assigned to mertsincan

[2019-03-25 15:21] kaushikmeduri opened #4685 "DatePicker: Accessibility 508 Compliance"
## 1) Environment
- PrimeFaces version:6.1.19
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version:  Jboss 6.0
- Affected browsers: All browsers

## 2) Expected behavior

We are using https://www.primefaces.org/sh

[2019-03-25 15:31] kaushikmeduri opened #4686 "RowEditor: Not 508 compliant"
## 1) Environment
- PrimeFaces version:6.1.19
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version:  Jboss 6.0
- Affected browsers: All browsers

## 2) Expected behavior

We are using <p:rowEditor/>
We are expecti

[2019-03-25 15:34] tandraschko commented on #4685
Feel free to provide a PR

[2019-03-25 15:35] tandraschko commented on #4686
Feel free to provide a PR

[2019-03-25 15:47] kaushikmeduri opened #4687 "SelectOneRadio: label not generating Title for screen readers"
## 1) Environment
- PrimeFaces version:6.1.19
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version:  Jboss 6.0
- Affected browsers: All browsers

## 2) Expected behavior

We are using <p:selectOneRadio label=
We a

[2019-03-25 16:42] melloware commented on #4683
Submitted a PR.  When testing my PR it now generates the HTML like this...

[code]

[2019-03-25 17:20] kaushikmeduri commented on #4685
We have Elite Account . Please advise what is PR and steps to create PR .

[2019-03-25 17:30] tandraschko commented on #4685
google about GitHub Pull Requests (PR)

[2019-03-25 18:04] melloware commented on #4687
I am looking at the native JSF selectOneRadio and neither one of them respect the label="" property.

[code]
Looking at the generated output in HTML it uses the title attribute but the label is ignored as each item gets its own label.

[code]

[2019-03-25 18:57] tandraschko opened #4689 "MoveScriptsToBottom: Multiple script tags in some cases"

[2019-03-25 19:01] tandraschko commented on #4689
nvm

[2019-03-25 19:01] #4689 closed, assigned to nobody

[2019-03-25 19:42] kaushikmeduri commented on #4685
hi , We have not implemented any date pickers yet.
Do you know any prime faces extension some one already have for this ..

[2019-03-25 19:44] #4683 closed, assigned to nobody

[2019-03-25 21:42] kaushikmeduri commented on #4686
We do not have fix . Please advise if prime faces can provide a price quote for fixes to be included as patch. In the past our agency has some work done for 508 fixes

[2019-03-25 21:42] kaushikmeduri commented on #4685
We do not have fix . Please advise if prime faces can provide a price quote for fixes to be included as patch. In the past our agency has some work done for 508 fixes

[2019-03-25 21:54] tandraschko commented on #4686
Please see: primefaces.org/support - there is a "get a quote" button

[2019-03-25 21:54] tandraschko commented on #4685
Please see: primefaces.org/support - there is a "get a quote" button

[2019-03-25 22:09] melloware commented on #4687
@kaushikmeduri what was your expectation the Radio button would do as far as ARIA or Screenreader?  It does not look like the Label field is the correct field as every radio item gets its own Label.

[2019-03-25 23:03] melloware commented on #4682
OK I think I got it.  PR submitted now it behaves ALMOST identically to the HTML5 keyboard navigation.  Basically I look for an exact match and if not found then I fallback to the cycling through the first letter.  I tested it pretty heavily and I am happy with how it is working.  Definitely an improvement over 6.2 and 7.0.

[2019-03-25 23:19] erickdeoliveiraleal opened #4693 "ImageCropper image is black on Chrome"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: WildFly or Jetty
- Affected browsers:

## 2) Expected behavior

ImageCropper show image

## 3) Actual behavior

Ima

[2019-03-26 01:03] melloware commented on #4693
See https://github.com/primefaces/primefaces/issues/2444

[2019-03-26 01:13] erickdeoliveiraleal commented on #4693
sorry, thank you

[2019-03-26 01:37] erickdeoliveiraleal commented on #4693
I defined in jsf tag backgroundColor="black" or transparent and the issue persists

[2019-03-26 01:39] kaushikmeduri commented on #4687
We have requirement to associate radio box group title/label to each radio box choice when selecting.
I am trying to find a solution sticking with prime faces tags to associate / group radio box choices to common label/legend
Examples below ....
https://www.w3.org/WAI/tutorials/forms/grouping/ https://webaim.org/techniques/forms/controls#radio

[2019-03-26 01:50] erickdeoliveiraleal commented on #4693
Looks like different issues, since my image is all black. in #2444 only background is black

[2019-03-26 09:26] wlhUser commented on #4682
Great. Thanks a lot. Looking forward to test it.

[2019-03-26 10:25] #3777 closed, assigned to tandraschko

[2019-03-26 10:26] #4682 closed, assigned to nobody

[2019-03-26 11:35] melloware commented on #4693
Looks like its a common JCrop reported issue: https://www.google.com/search?q=jcrop+black+image+site:stackoverflow.com&rlz=1C1CHBF_enUS819US819&sa=X&ved=2ahUKEwj90r2I25_hAhXIx1kKHe2oAgcQrQIoBDAAegQIBRAM&biw=1920&bih=947

https://stackoverflow.com/questions/22091164/jcrop-creates-a-black-image-instead-of-new-image

[2019-03-26 11:38] melloware commented on #4687
Those examples say to use a FieldSet around your radio group?

So just use a FieldSet from PF: https://www.primefaces.org/showcase/ui/panel/fieldset.xhtml

[2019-03-26 11:47] ravikrsk opened #4695 "SelectOneMenu dropdown does not popup and throws jquery error "r.getClientRects is not a function""
Tried upgrading PrimeFaces form version 6.1.4  to 6.2.13 (and above), (in Spring-4.3.8.RELEASE + JSF2.2.18 application), and all the SelectOneMenu and autoComplete components dropdowns does not popup, on click, and throws jquery error "r.getClientRects is not a function".

## 1) Environment
- Works fine on PrimeFaces version 6.1.4
- Does not work with PrimeFaces version:  6.2.13 and above. Even tr