[2019-11-25 08:05] Rapster commented on #5162
@martin654 could you please have a new try with my suggestion, reverting that commit has regression on #4185

[2019-11-25 09:59] tandraschko commented on #4513
@jepsar could you please add a showcase page which demonstrates this globalFilter + globalFilterFunction?
So i could test my refactorings

[2019-11-25 10:45] mertsincan opened #5368 "Add formatted attribute to InputNumber"
Defines whether the returned value is formatted or not.

[2019-11-25 10:46] #5368 closed, assigned to mertsincan

[2019-11-25 18:29] #5335 closed, assigned to Rapster

[2019-11-25 18:29] Rapster commented on #5335
To be continued on 8.1...

[2019-11-25 19:24] jaindsonvs opened #5371 "Datatable: (scrollable): Wrong column size when used with Primefaces Extension component pe:layout"
Datatable: (scrollable): Wrong column size when used with Primefaces Extension component pe:layout

## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? No. It does not work on version 7.0 and primefaces-extensions 7.0.3. It used to work on Primefaces 6.2 and primefaces-extensions 6.2.4.
- Does it work on the newest sources in GitHub? (Buil

[2019-11-25 21:13] melloware commented on #5371
Confirmed. In 7.0 it generates a Table Header TH for the headers with a calculated width.
[code]
in 6.2 it does not it only generates TR with not TH.  So most likely something that was fixed in 7.0 related to datatable headers.
[code]
Most likely one of these issues: https://github.com/primefaces/primefaces/issues?utf8=%E2%9C%93&q=datatable+milestone%3A7.0+

[2019-11-26 07:02] der-tkw opened #5372 "${project.version} isn't replaced in core.js"
## 1) Environment
- PrimeFaces version: 7.0 and 7.0.10 (6.2.2.6 is still OK)
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) N/A
- Application server + version: All
- Affected browsers: All
- Related issue: #2747

## 2) Expected behavior
Vers

[2019-11-26 08:26] tandraschko commented on #5372
@mertsincan this works fine in trunk, probably the maven-resource-plugin isn't configured in the elite versions? can you check?

Will close the ticket as not related to the community version.

[2019-11-26 09:28] Rapster opened #5373 "FileUpload: add show function in client API"
To make it very simple, I'd like to open a file upload through a menu item. See this code:
[code]

First, I want to take advantage of `FileUpload#listener` method , that's why I'm using it. Second, I make it not visible using CSS since I want to open it through menuitem. Now I need to open the file dialog when clicking on menu item.

Since there is no `PF('fileupload').show()` implemented in the c

[2019-11-26 09:41] goraSi commented on #5117
Any updates on this? I'm rolling out new release of my app soon and would like to include Primefaces 7.x because of other great features but this is currently showstopper for me.

[2019-11-26 09:48] tandraschko commented on #5117
if it's a showstopper, i really suggest to dig into it and provide a PR. Otherwise you can sponsor it via PrimeFaces PRO.

[2019-11-26 10:43] Rapster commented on #2763
I was about to write a ticket explaning that issue... True, PF is using a native select to render `Column#filterOptions` but I don't know why... Actually using filterOptions is a lot more easier than writing boiler plate code like:
[code]

+1 from my side to fix this, unless there is a good reason to keep native rendering

[2019-11-26 12:05] melloware commented on #5373
+1 for me, client API functions additions that get around workarounds like above are always useful.

[2019-11-26 12:06] melloware commented on #5371
@jaindsonvs I believe what you are seeing is the new correct behavior based on all the bugfixes for other datatable issues.   I think you will either have to give your column sizes or not use a scrollable table if you don't want those defaults.

[2019-11-26 12:06] #5371 closed, assigned to nobody

[2019-11-26 12:09] melloware commented on #2763
@Rapster I think this is similar to this issue as well: https://github.com/primefaces/primefaces/issues/2270

[2019-11-26 12:57] fanste opened #5374 "Calendar: inline mode is not styled correctly with disabled=true"
## 1) Environment
- PrimeFaces version: lastest trunk

## 2) Expected behavior
`<p:calendar mode="inline" disabled="true" />` should get the styleClass `ui-state-disabled`

## 3) Actual behavior
The component is internally disabled but the styleClass `ui-state-disabled` is not applied

PR #5375

[2019-11-26 13:55] SimonePadovan commented on #5014
Hi, i reallized that the problem is caused by this line in all ultima theme.css:

I opened an issue in primefaces ultima theme by without answer....could you please telle me how to solve this problem ? Is it save to remove this line ? thanks

[2019-11-26 14:15] regenduft commented on #5014
this is not a theming issue - this is a primefaces issue that was introduced with commit https://github.com/primefaces/primefaces/commit/852741bf1376fc8e966441bffc9a82e80c601b15

in this commit, instead of
` headerCol.width(width);`
the code is now
`$this.setOuterWidth(footerCol, width);`

the source code of this.setOuterWidth was

[code]

with commit https://github.com/primefaces/primefaces/commi

[2019-11-26 14:37] SimonePadovan commented on #5014
Thank you very much regenduft !
I'm simple using Ultima theme (we don't have a theme designer). With your workaround works partially, since header column sizes and body sizes become different. We hope primefaces will solve this problem

[2019-11-26 14:42] SimonePadovan commented on #5014
one more thing how can i disable box-sizing:border-box for all datatables via css ?

[2019-11-26 16:28] #5373 closed, assigned to Rapster

[2019-11-26 16:29] Rapster commented on #5373
FYI, a new version of this plugin is available, should we upgrade?

[2019-11-26 16:33] melloware commented on #5373
I thought I just upgraded this recently to the latest version

[2019-11-26 16:34] melloware commented on #5373
I uprgaded to 10.2.0 26 days ago https://github.com/primefaces/primefaces/pull/5292

[2019-11-26 16:37] Rapster commented on #5373
https://github.com/blueimp/jQuery-File-Upload/releases/tag/v10.4.0

[2019-11-26 16:41] melloware commented on #5373
Ahh yep if you update it don't forget to update the 3rd part libs docs: https://primefaces.github.io/primefaces/8_0/#/core/thirdpartylibs

[2019-11-27 09:32] Rapster commented on #4256
I see use of `IOUtils` from `org.apache.commons.io` in `VirusTotalVirusScanner`, there is potential risk of a `ClassNotFoundException`? Or it's documented somewhere that default `VirusScanner` works along this dependency?

[2019-11-27 09:51] tandraschko commented on #4256
it's shaded

[2019-11-27 10:00] Rapster commented on #4256
Oh yeah I remember now

[2019-11-27 13:14] JoakinAA opened #5376 "InputNumber: The minValue attribute does not work correctly"
## 1) Environment

- PrimeFaces version: 7.0.8
- Application server + version: Tomcat 9.0.26
- Affected browsers: Chrome, Firefox and IE 11+

## 2) Expected behavior

It should allow me to write when the minimum value is a double digit

## 3) Actual behavior

If minValue = "10" does not allow me to enter any number

## 4) Steps to reproduce

See primefaces-test example.

## 5) Sample XHTML

See pr

[2019-11-27 13:18] tandraschko commented on #5376
I think thats the same issue as here: https://github.com/primefaces/primefaces/issues/4315
and it's expected by the underlying autoNumeric plugin

[2019-11-27 13:19] tandraschko commented on #5376
and
https://github.com/primefaces/primefaces/issues/3025

was discussed many times actually

[2019-11-27 14:01] melloware commented on #5376
Here is the issue from AutoNumeric explaining it: https://stackoverflow.com/questions/39287389/how-type-value-in-autonumeric-input-with-set-vmin

Closing as duplicate.

[2019-11-27 14:01] #5376 closed, assigned to nobody

[2019-11-27 14:17] enricokl commented on #5329
There is a new Problem with this fix. In InputTextAreaRenderer is the submittedValue with \r\n and by that the length of the value can be greater than the maxlength.
Example:
Jquery -> val() = 'Test\n'
Java -> string = 'Test\r\n'
![pfIssueNextLineLeer](https://user-images.githubusercontent.com/58223973/69732089-4bba7c00-112b-11ea-8264-84c7bebf67ee.PNG)
![pfIssueNextLineVorher](https://user-images.

[2019-11-27 15:43] christophs78 commented on #5334
add  Issue 2:
see 0-datepicker.js; functions incrementHour, decrementHour, incrementMinute, decrementMinute, incrementSecond, decrementSecond

[2019-11-27 15:46] christophs78 commented on #5334
... this functions call validateHour, validateMinute, validateSecond.
These have some additonal shortcomings.
old time 16:59; maxDate 17:00; incrementHour
validateHour only checks the hour and decides its valid to increase the hour. So we increment from 16:59 to 17:59 and are outside maxDate.

[2019-11-27 15:48] christophs78 commented on #5334
related issue: https://github.com/primefaces/primefaces/issues/4627

[2019-11-27 17:56] melloware commented on #4790
@christophs78 want to look at this one too?

[2019-11-27 18:29] christophs78 commented on #4790
Yes, i will look at this. Datepicker is something we call in my language „Fass ohne Boden“.  (barrel without ground) Looked today at the TypeScript-File which implements Calendar for PrimeNG. There had been some fixes during this year. And no one ported them to PrimeFaces. (Shared component, but not shared defect fixing....)

[2019-11-27 18:31] melloware commented on #4790
I have noticed that as well.  and in fact a fix I made in Primefaces is still a bug in the PrimeNG one.

[2019-11-27 18:48] dclaroni opened #5378 "DataTable & ContextMenu: ContextMenu does not open for empty DataTables"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Affected browsers: Firefox

## 2) Expected behavior
When right-clicking an empty row in a datatable the context menu is displayed.

## 3) Actual behavior
When right-clicking an empty row in a databale the default browser context menu

[2019-11-27 19:09] melloware commented on #5378
I was able to verify your issue.  I fixed it correctly, you can't use row as that does not have cfg it needs to be the datatable itself.  I tested my fix and its now working properly.

If you need this fix right now just add this script to your page.
[code]

[2019-11-27 19:18] #5378 closed, assigned to melloware

[2019-11-27 19:47] melloware commented on #394
@kukel can you test this with 8.0-SNAPSHOT to see if it is still an issue?  I can't quite reproduce what you are seeing?

[2019-11-27 20:09] christophs78 commented on #4790
@DrTotenkopf: Could you try setViewDate? When I look into https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/datepicker/1-datepicker.js this may do what you expect.

[2019-11-27 20:12] melloware commented on #4751
@christophs78 Also this one, I verified its an issue with the example above.

[2019-11-27 20:15] melloware commented on #4790
When I try this on the showcase:https://www.primefaces.org/showcase/ui/input/datePickerJava8.xhtml
Open a console and type...
[code]
I get this error:

[2019-11-27 20:17] melloware commented on #4723
Going to close this one since the workaround is to use effect="none" to turn the animation off.  If someone feels strongly about IE/Edge issue in the future we can re-open.

[2019-11-27 20:17] #4723 closed, assigned to nobody

[2019-11-27 20:38] melloware commented on #3522
Looks like this would need an additional user built plugin to FullCalendar to make it work: https://stackoverflow.com/questions/10949486/year-view-in-fullcalendar-jquery-plugin

[2019-11-27 20:40] melloware commented on #3464
This is not a bug its expected behavior.  You are telling the component to update itself on every AJAX request made on the page which thus destroys the old component and creates a new one.

[2019-11-27 20:40] #3464 closed, assigned to nobody

[2019-11-27 20:48] melloware commented on #2364
@tandraschko I believe you have fixed this. I just tested the example above in the showcase and it now works fine so I am closing this issue.

[2019-11-27 20:48] #2364 closed, assigned to nobody

[2019-11-27 20:56] melloware commented on #2159
Closing this issue as it currently works as intended.

[2019-11-27 20:56] #2159 closed, assigned to nobody

[2019-11-27 21:04] melloware commented on #1875
Attached is test case:
[pf-1875.zip](https://github.com/primefaces/primefaces/files/3898772/pf-1875.zip)

I have verified this is no longer an issue in PF 8.0.

[2019-11-27 21:04] #1875 closed, assigned to nobody

[2019-11-27 21:29] melloware commented on #964
This is only an issue on the old Jquery ThemeRoller themes.  All of the modern Premium Themes and included free `Nova` and `Luna` themes do not have this issue.   So if anything this should be reported on the legacy Themes issue site: https://github.com/primefaces/themes/issues

[2019-11-27 21:29] #964 closed, assigned to nobody

[2019-11-28 03:15] ndrikdarto opened #5380 "InputNumber : not listen style width setting"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-11-28 03:19] ndrikdarto commented on #5380
I use it in dataTable
[code]

[2019-11-28 03:43] ndrikdarto commented on #5380
sorry, I found the way.

[code]
It can be closed.

[2019-11-28 07:27] #5380 closed, assigned to nobody

[2019-11-28 07:28] tandraschko commented on #5380
Please use Google next time before creating a issue

[2019-11-28 08:21] christophs78 commented on #4751
Same issue with yearPicker.

Notes for myself:
0-datepicker.js
- Functions renderTitleMonthElement, renderTitleOptions
- updateViewDate, _setInitOptionValues

`_setInitOptionValues` is the one we need to fix.

[2019-11-28 08:28] christophs78 commented on #4751
https://github.com/primefaces/primeng/blob/master/src/app/components/calendar/calendar.ts is implemented Angular-specific. But quite sure, it has the same issue.

[2019-11-28 08:56] Rapster commented on #2763
Paginator combox style does not really bother me, though this one does... I had a quick look how we could render a SelectOneMenu instead of native HTML select, I was thinking of having a `RendererUtils#encodeSelectOneMenu`. `SelectOneMenuRenderer#encodeMarkup`  could have reused this method but I don't think it's be possible, it's doing too much stuff for what we want in this ticket.

So my best b

[2019-11-28 09:08] Rapster commented on #5162
8.0 release is coming soon, and it'd be nice to hear from you since as I said it's causing a regression that need to be fixed

[2019-11-28 11:23] mertsincan commented on #5372
This is not related to elite version. Could you please try the released versions such as 6.2, 7.0 etc.?
Please see in 7.0 source;
[code]
Version-SNAPSHOTS works fine. We need to do this in the release bundle.

[2019-11-28 11:29] mertsincan commented on #5372
Hi @melloware, Could you please improve the fix within https://github.com/primefaces/primefaces/issues/2747?

Thanks a lot!

[2019-11-28 12:00] enricokl opened #5381 "InputTextArea: Server Validation Problem with maxlength and \r\n"
## 1) Environment
PrimeFaces version: 7.0.10, 8.0
Application server + version: Tomcat 9.0.21
Affected browsers: Tested on IE and FF

## 2) Expected behavior
The number of signs in InputTextArea in Javascript are the same as in Java, if you push ENTER.

## 3) Actual behavior
The number of signs in InputTextArea in Javascript not are the same as in Java, if you push ENTER.
So it is possible that th

[2019-11-28 12:04] melloware commented on #2763
I am OK with that.  It clearly states what it does and it prevents duplicate code.

[2019-11-28 12:06] tandraschko commented on #2763
lets talk about after 8.0

[2019-11-28 12:10] melloware commented on #5372
Yep I will take a look at this

[2019-11-28 16:02] melloware commented on #5372
OK @mertsincan PR submitted.

[2019-11-28 16:22] melloware commented on #5381
Attached is my test case:
[pf-5381.zip](https://github.com/primefaces/primefaces/files/3902487/pf-5381.zip)

PR Submitted fixes the issue so the newlines on the client and server match again.

[2019-11-28 16:32] melloware commented on #4942
@stolp I also updated 8.0 to use the latest QuillJS 1.3.7 can you check if it is fixed in 8.0-SNAPSHOT?

[2019-11-28 17:02] melloware commented on #4606
I am going to close this for now as there is a workaround and Mert said this is how its supposed to work.

[2019-11-28 17:02] #4606 closed, assigned to mertsincan

[2019-11-28 17:29] DrTotenkopf commented on #4790
I just tried setViewDate() with Primefaces 7.0.10. I get this error:  TypeError: PF(...).setViewDate is not a function. It seems there is no function with the name setViewDate.

[2019-11-28 23:42] Rapster commented on #5356
Working on ticket #4278 for post 8.0, and I thought of adding attributes in some classes but since this ticket I have doubts now,  does it mean we can't have attributes? What's the rule?

[2019-11-29 08:03] mertsincan commented on #5368
Reverted this attribute. It causes some problems.

[2019-11-29 08:19] martin654 commented on #5162
Hi, sorry for delay. I will try your suggestions and give feedback.

[2019-11-29 09:42] tandraschko commented on #5356
do you mean UIComponent#getAttributes?

[2019-11-29 09:42] #5372 closed, assigned to melloware

[2019-11-29 09:42] #5381 closed, assigned to melloware

[2019-11-29 09:46] Rapster commented on #5356
No class attributes, most of your commits got rid of class attributes

[2019-11-29 09:49] tandraschko commented on #5356
yep, those should be avoided
just think aoubt that UIComponent instances are shared between requests and that wrong state could be still there from a old request/view

[2019-11-29 10:04] Rapster opened #5385 "Deprecate DefaultStreamedContent ctors/setters"
Should be a immutable object. Also, I think we should remove `ByteArrayContent`, and instead use `DefaultStreamedContent` with a `ByteArrayInputStream`

[2019-11-29 11:41] Rapster commented on #5356
Ok and same with renderers ?

[2019-11-29 11:59] tandraschko commented on #5356
renderes should not have any fields, they are appscoped AFAIK

[2019-11-29 12:16] stolp opened #5387 "Datatable: stickyTopAt broken at showcase when div.layout-notification is shown"
## 1) Environment
- PrimeFaces version: 8.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Not sure
- Does it work on the newest sources in GitHub? No
- Application server + version: -
- Affected browsers: all

## 2) Expected behavior
The stickyTopAt attribute points to .layout-topbar and this should be the top position.

## 3) Actual behavior
The datatable header stops at the

[2019-11-29 13:24] melloware commented on #5387
This may be similar to this: https://github.com/primefaces/primefaces/issues/5094

[2019-11-29 13:27] melloware opened #5388 "TimeLine: JS Error"
Go to the showcase: https://www.primefaces.org/showcase/ui/data/timeline/allEvents.xhtml

Open the console and you will see this error:

This bug was introduced with https://github.com/primefaces/primefaces/commit/7be389313032a191dd25796b986c4282e162fe2c#diff-28cd7b7805f212735ee6518b1cc7cf93

The old bindEvents had a el-parameter, the new _bindItemsEvent misses this parameter:
![grafik](https://us

[2019-11-29 13:47] martin654 commented on #5162
Hi, sorry, I had only short time for retest. With PF version 7.0.4 (same as in reproducer above) I can use field attribute as suggested:

[code]

I would expect that filterable and sortable set to true would enable sorting and filtering, but the UI doesn't contain filtering inputs any more, nor the sorting feature.

It is true that the **field** is propagated into the Map<String, Object> filters i

[2019-11-29 14:03] #5388 closed, assigned to melloware

[2019-11-29 14:07] jasonex7 commented on #5388
Thanks @melloware 👍  .

[2019-11-29 15:07] Rapster commented on #5162
Yes, it is true

I'm having a look

[2019-11-29 15:12] melloware commented on #4901
OK digging into this deeper if I just create a standalone XHTML page in a simple app the effects are working. It appears to be related to the CSS styles or theme of the Showcase?

[2019-11-29 15:29] melloware commented on #5387
It is because the way the styled it the topbar has top of 70px so that is what the sticky is using even though the notification bar is also adding 70px to top.
[code]
So I think the sticky doesn't know its supposed to be 140px total as its just looking at the target component and seeing top of 70px

[2019-11-29 15:32] Rapster commented on #5162
The code is clear, in `DataTableRenderer#encodeColumnHeader`:

[code]

`UIColumn#isFilterable` and `UIColumn#isSortable` return true by default. So, yes to enable filters/sorters: sortBy/filterBy must be set.

But am I happy with this? No. Just like you, I would expect that, if `field` set and `sortable`/`filterable `enabled then filters/sorters should be rendered.

`sortBy`/`filterBy `should be u

[2019-11-29 16:06] stolp commented on #5387
I have not yet located the code for this but my hunch is that top attribute is ignored and only the height is taking into account. Might be wrong though.

[2019-11-29 20:58] Rapster commented on #4278
@tandraschko @melloware whenever you have some time, I'd like to hear from you on [my comment](https://github.com/primefaces/primefaces/issues/4278#issuecomment-443165936) and specially on this:

Let's put some code, it might help. `InputRenderer#encodeEnd` would look like this:
[code]

And to show the problem, let's take `InputNumberRenderer` (extending `InputRenderer`):
[code]

My idea is that,

[2019-11-30 08:37] christophs78 commented on #5060
@markusg80
Most of us do this work in our spare time for free. (As it´s the same with a good amount of other open source projects. There are some "big ones" which are sponsored. This means there´s a company behind which pays some developers. But for PrimeFaces at this point in time maybe 80% of the work is done by the "community" for free.)

Calendar has the following UI for date + time:
![grafik]

[2019-11-30 08:50] markusg80 commented on #5060
First thank you for your time. I know how open source software works. And i think its really good. So for me the main Problem is time and I’m absolutely without experience to develop Primefaces Components.

So to your question:
Should we build separat input´s for hour, minute and (optional) second?
Yes this is exactly what i expected 😉

[2019-11-30 13:46] melloware commented on #4278
Yep i see the problem.  You need some way of getting valueToRender into the encodeMarkup/Script without having to pass it as a param.  I will defer to @tandraschko as to the safest way to accomplish that.  But other than that I like your proposal.

[2019-12-01 13:11] #5374 closed, assigned to fanste

[2019-12-01 17:27] christophs78 commented on #4685
As a reference what others do: https://material.angular.io/components/datepicker/overview#keyboard-interaction

[2019-12-02 07:14] mertsincan commented on #5372
Thanks a lot, @melloware ;)

[2019-12-02 14:30] melloware commented on #184
Duplicate of https://github.com/primefaces/primefaces/issues/3956

Closing this ticket as the newer ticket has more information.

[2019-12-02 14:30] #184 closed, assigned to nobody

[2019-12-02 19:20] Rapster commented on #4278
Or, my "best" option is having something like this:

[code]

`InputRenderer#encodeMarkup` returns whatever is needed for `InputRenderer#encodeScript`. I think 85% of the component will return `Collections.emptyMap()`

[2019-12-02 19:23] melloware commented on #4278
Also not a bad idea!

[2019-12-03 10:26] rcroonenberghs opened #5392 "calendar: yearrange can not handle 2 dates in the past"
PF 7.0.7
browser FF, chrome, edge
server: wildfly

## 2) Expected behavior
I put in a calendar component with yearrange "c-76:c-14" to be able to limit the selection for dates where a person is at least 15 years old. I expect the year initially show is current year.

## 3) Actual behavior
When you open the selector the date is defaulted show as december 1943. When clicking on a day (example14) it

[2019-12-03 12:21] #5356 closed, assigned to tandraschko

[2019-12-03 12:22] tandraschko commented on #5356
I didn't implement it for UIRepeat, it should not be used in MyFaces environments at best.

[2019-12-03 12:32] melloware commented on #5392
I don't think your using it correctly.  When I do your use case above I get the same results because your initial `#{contact.dateOfBirth}` is NULL.

The `yearRange` only affects the years available for selection in the dropdown. So you need to START the calendar at a date within that year range.

Attached is my example project you can run with "mvn clean jetty:run-exploded" and navigate to http://

[2019-12-03 12:38] WillemLab opened #5394 "TextEditor: Add Custom (Google) Fonts"
Add an easy way of adding your custom fonts (**Google Fonts**) to the TextEditor fonts `Select Menu`.

StackOverflow: https://stackoverflow.com/questions/59152951/add-google-fonts-to-primefaces-text-editor

Example how to add custom fonts to QuillJS which is the library TextEditor uses: https://quilljs.com/playground/#custom-fonts

[2019-12-03 12:41] melloware commented on #5394
To achieve registering a custom font or any other custom module in QuillJS I think we need to add "extender" functionality to this component similar to how other components have implemented it to allow the user to get at the core QuillJS configuration before it is created.

Also possibly a "register" method on the widget to allow registering the fonts before the component is loaded.

[2019-12-03 13:22] tbrix84 opened #5395 "Messages: "for" should take an array of ids"
p:messages takes just one id at the moment but it would be great if we had the opportunity to refer to more than one id.
The problem is that it's not possible to have a "global" p:messages in the template with a non-global on an included page with more than one validation field. The validation message of the n-th field will not show in the non-global p:messages.

Location: MessagesRenderer - colle

[2019-12-03 13:26] rcroonenberghs commented on #5392
ok, that makes sense.

[2019-12-03 13:26] #5392 closed, assigned to nobody

[2019-12-03 13:31] tandraschko commented on #5395
should be easy
the second if can even be optimized as SearchExpressionFacade can resolve multipleComponents

[2019-12-03 13:40] melloware commented on #5395
I can take a stab a a PR if you want?

[2019-12-03 14:15] melloware commented on #5395
Can you please review my PR.  I used `SearchExpressionFacade.resolveComponents` to resolve multiple components with one expression as @tandraschko suggested.

[2019-12-03 14:36] #5395 closed, assigned to nobody

[2019-12-03 15:03] #5385 closed, assigned to Rapster

[2019-12-03 16:01] melloware commented on #4901
I am closing this ticket as I have opened a showcase ticket for this instead: https://github.com/primefaces/showcase-facelift/issues/96

[2019-12-03 16:01] #4901 closed, assigned to mertsincan

[2019-12-03 17:30] melloware commented on #4942
Attached is my runnable test case. Can't reproduce on 8.0.
[pf-4942.zip](https://github.com/primefaces/primefaces/files/3917857/pf-4942.zip)

Closing this ticket. We can re-open if you can reproduce the issue.

[2019-12-03 20:29] melloware commented on #4032
Can you review my PR.  I think it is that simple as it went from ...

`http://localhost:8080/showcase/javax.faces.resource/dynamiccontent.properties.xhtml;/hello`

to...

`http://localhost:8080/showcase/javax.faces.resource/dynamiccontent.properties.xhtml;/hello%23.pdf?ln=primefaces&v=8.0-SNAPSHOT&pfdrid=63c2507f24e60841be415b0defa59341&pfdrt=sc&pfdrid_c=true`

[2019-12-03 22:11] stolp commented on #4942
I am sorry, but I can reproduce this issue using the given test case (thanks!) with the current 8.0-SNAPSHOT.

After the first resize the handle is stuck inside the text area. Please reopen this.

[2019-12-03 22:16] melloware commented on #4942
Can you paste an animated Gif or screencast of what you are seeing?  I must be doing something different than you are doing.

[2019-12-03 22:22] stolp commented on #4942
- move mouse to resize handle
- press and hold LMB when on handle
- pull down
- release LMB

After this, the resize hotspot has moved upwards by the vertical size of the toolbar

The video may not be helping much but here it is: https://www.file-upload.net/download-13809119/pf-4942.webm.html

[2019-12-04 00:38] melloware commented on #4942
Ok let me try your steps.

[2019-12-04 06:10] der-tkw commented on #5294
Will this also be fixed for the elite version?

[2019-12-04 08:44] Rapster commented on #5162
@martin654 I'll revert those changes soon, but I wanna be sure you're okay with it

[2019-12-04 09:35] pzygielo opened #5398 "MenuModel: 8.0.rc1 - method addElement removed without deprecation"
_I understand that release 8 might introduce breaking changes with relation to release 7 and you exercise this right to do so._

## 1) Environment
- PrimeFaces version: upgrade from 7.0 to 8.0.rc1

## 2) Expected behavior
`MenuModel.addElement` to be deprecated for at least one release to allow easy PF upgrade and update of client code separately.

## 3) Actual behavior
I found method `MenuModel.a

[2019-12-04 09:38] tandraschko commented on #5398
We had some breaking changes in 8.0 (like changing events to LocalDate), where we can't add deprecation. So we decided to also break some minor things like this issue, too.

[2019-12-04 09:38] #5398 closed, assigned to nobody

[2019-12-04 10:01] pzygielo opened #5399 "UploadedFile: method getContents renamed without deprecation"
_I understand that release 8 might introduce breaking changes with relation to release 7 and you exercise this right to do so._

## 1) Environment
- PrimeFaces version: upgrade from 7.0 to 8.0.rc1

## 2) Expected behavior
https://github.com/primefaces/primefaces/blob/29b5d2d0ef4a1b6da5213b1d7f2e11476c3160c5/src/main/java/org/primefaces/model/file/UploadedFile.java#L35 to be named `getContents` as

[2019-12-04 10:03] tandraschko commented on #5399
Why do you create those tickets? we have a migration guide where everything is listed

[2019-12-04 10:05] pzygielo commented on #5398
Understood, just raised for issue visibility. Hope to see this change mentioned in final release notes.

[2019-12-04 10:06] tandraschko commented on #5399
Just check our wiki -> https://github.com/primefaces/primefaces/wiki/Migration-Guide

[2019-12-04 10:06] #5399 closed, assigned to nobody

[2019-12-04 10:08] pzygielo commented on #5399
Thanks for the link. Didn't check it before.

However this one change introduced grammar error I think.

[2019-12-04 10:11] tandraschko commented on #5399
which one?

[2019-12-04 10:18] pizzi80 opened #5400 "Component css: use primeicons"
Instead of define hundreds of rules and then override them inside theme.css
it would be better to use directly primeicons inside component.css

[2019-12-04 10:23] #4032 closed, assigned to nobody

[2019-12-04 12:13] melloware commented on #5400
That's up to @mertsincan I am assuming there is a reason they do not as the themeroller themes use different icons.

[2019-12-04 12:14] melloware commented on #5294
That's up to @mertsincan whether or not this goes into Elite

[2019-12-04 12:15] tandraschko commented on #5400
IMO themeroller is outdated, PrimeIcons not complete yet. Not sure whats the best way.

[2019-12-04 12:31] melloware commented on #5400
Agree and I prefer FontAwesome 5.X to all of them as it has 8000+ icons.

[2019-12-04 12:33] pizzi80 commented on #5400
There's also MaterialIcons that are licenced with Apache License Version 2.0

https://google.github.io/material-design-icons/

[2019-12-04 12:37] tandraschko commented on #5400
I dont think we plan to support "yet another item set".

I think a good goal would be to replace all jqueryicons by primeicons when they are feature complete (compared to jquery).
we should still support fontawesome of course.

[2019-12-04 12:38] melloware commented on #4942
OK was able to reproduce.  definitely think its related to the QuillJS toolbar somehow messing up the coordinates of the resizable.

[2019-12-05 04:50] payal-gupta-04 opened #5401 "SelectOneMenu: filter input sets other input fields placeholder text as default text in IE 11 browser"
If <p:selectOneMenu> component has "filter" attribute as "true" along-side a <p:inputText> component, then the placeholder text of <p:inputText> becomes its default value [XHTML code below] when filter dropdown of <p:selectOneMenu> component is opened and control is taken to the <p:inputText> component.

**Version:** 7.0

**Note**: **The issue is occurring on in IE 11 browser.**

Steps to reproduc

[2019-12-05 11:15] mertsincan opened #5402 "InputNumber is not backward compatible on new PF versions after autonumeric API is updated"

[2019-12-05 11:16] #5402 closed, assigned to mertsincan

[2019-12-05 12:23] mertsincan commented on #5162
Hi @Rapster,

I think the resolveStaticField works as expected. It doesn't need to check if the value of the filterBy/sortBy variable is at the server. Because, some Users can do something in the lazy-load method using these values. I think they should decide its value.  Exp; "#{bean.x.y}" -> in load method: x.y
I think this is a more flexible use for users.

- Whether the data/field is fake or no

[2019-12-05 12:25] melloware commented on #5401
Attached is a reproducer:
[pf-5401.zip](https://github.com/primefaces/primefaces/files/3926786/pf-5401.zip)

I have verified the issue in IE11 and it is the strangest thing.  The InputText has focus to edit the placeholder text but is not highlighted in blue like it really has focus.  It feels like an IE bug almost.  You should never be able to edit the placeholder text!

[2019-12-05 13:58] Rapster commented on #5162
Okay let's start with the original problem:

As I said, you're lucky it worked before because `DataTable#resolveStaticField` always expected an EL expression on this form: `#{var.property}`, but the code before 7.0 was unintentionnally okay with `#{property}`, as a result it causes issue #4185 (fixed in 7.0) with facelet tags (and they've been in JSF for a long time so we should support it).

Now,

[2019-12-05 14:24] fortochnik opened #5403 "DataTable: Add getRows() client API method"
## 1) Environment
- PrimeFaces version: 7.0.10
- Does it work on the newest released PrimeFaces version? Version?
Works for 7.0 version
- Application server + version: used https://github.com/primefaces/primefaces-test.git
- Affected browsers: Chrome, FF

## 2) Expected behavior

PF('widgetName').rows for p:dataTable return list of rows
![image](https://user-images.githubusercontent.com/9285311/70

[2019-12-05 14:34] melloware commented on #5403
There is no "rows" property on the datatable. Are you asking for this as a new feature?

[2019-12-05 14:44] melloware commented on #5403
You can just do `PF('widgetName').jq.find('tr');` to achieve the same thing

[2019-12-05 15:36] fortochnik commented on #5403
ok, it works in 7.0 because function 'groupRows' and 'groupRow' in DataTable widget uses this property but it changed in 7.0.10

7.0:
[code]
7.0.10
[code]
thanks for workaround

[2019-12-05 15:48] melloware commented on #5403
Got i, that makes sense.  You were just getting lucky previously using a private var.  I am going to close this ticket for now.

[2019-12-05 15:48] #5403 closed, assigned to nobody

[2019-12-05 16:36] Rapster commented on #30
I was playing with some PRO user code, and I realized that `Map` have been changed into `List` (in `LazyDataModel#load` signature). The "problem" I faced is that, I wanted to retrieve a particular field from the filter metas.

Before:
[code]

Now:
[code]

In terms of time complexity, there is a big loss since it was O(1) but now O(n). Even though, we don't expect a huge number of filters, I think

[2019-12-05 17:38] heatherita commented on #4536
I am having this issue with the following:

[code]
I'm using PF 7.0 with the California custom theme 2.0. My select menu shows in upper left and not under the component. Has a workaround been found? Thanks.

[2019-12-05 20:48] heatherita commented on #4536
Just to give a bit more detail on the issue, using the FF dom inspector, I see that when I click the p:selectonemenu the overlay box changes, I think due to a js script.

It changes from this:

`<div id="trackingForm:trackingTabs:searchTermListAdv:0:ctlSearchNumAdv_panel" class="ui-selectonemenu-panel ui-widget ui-widget-content ui-corner-all ui-helper-hidden ui-shadow ui-input-overlay" style="wid

[2019-12-05 20:58] melloware commented on #4536
PF always does "PrimeFaces.zindex++" starting at 1000 so any components on the page get incremented by 1.  That is why you are seeing the 1012.

[2019-12-05 21:07] heatherita commented on #4536
I understand, but the inline style on that div is causing it to be displayed in the upper left. Is there something I can do to eliminate it?

`style="width: 209px; left: 0px; top: 26px; display: block;"`

[2019-12-05 21:14] melloware commented on #4536
I would open an issue on the California forum: https://forum.primefaces.org/viewforum.php?f=79

[2019-12-05 22:33] metaxmx opened #5404 "DefaultCommand: Multiple DefaultCommand instances in same form broken"
## 1) Environment
- PrimeFaces version: 7.0.10 (Elite)
- Still worked on the previous version: 7.0.9 (Elite) and 7.0
- Does it work on the newest released PrimeFaces version? Version 7.0.10? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 9
- Affected browsers: Firefox/Chrome

## 2) Expected behavior
When you define multiple `<p:defaultCommand />` insta

[2019-12-06 08:41] martin654 commented on #5162
Thank you both for your comments.

Yes, the approach with Colum#field works as described. My concern is that I have to specify filterBy and sortBy expressions to enable filtering / sorting. I can fill anything I want to filterBy and sortBy, they just have to contain something...:

[code]

I think that Column attributes filterable="true" sortable="true" should be used for this and filterBy and sort

[2019-12-06 10:13] Rapster commented on #5162
Cool, I'm glad we clear the air. i'll revert the commit then, and close the other ticket also.

Regarding your last coment, I don't think we can change anything right now since 8.0 is getting release very soon. The impact of these changes would be way too big at this stage.

Though, I'm gonna create a ticket to throw few ideas on datatable, I think there are few things we can simplify.

[2019-12-06 10:15] tandraschko commented on #5162
@Rapster please don't revert/commit anything currently if it isn't a bugfix.
If it's just for better code or something, wait for 9.0

[2019-12-06 10:17] Rapster commented on #5162
not better code, the original commit is a bug fix of #4185 (fixed in 7.0)

[2019-12-06 10:19] tandraschko commented on #5162
Then please provide a PR - Mert can then decide if we merge it for 8.0 or later.

[2019-12-06 11:40] pawwal opened #5408 "FileUpload: temporary file handlers leak"
## 1) Environment
- PrimeFaces version: **7.0**
- Does it work on the newest released PrimeFaces version? Version? **No - the problem is still there**
- Does it work on the newest sources in GitHub? **No - the problem is still there**
- Application server + version: **verified on WildFly 10.0.0 and 18.0.1**
- Affected browsers: **Not relevant**

## 2) Expected behavior
Temporary file handlers shou

[2019-12-06 12:18] tandraschko commented on #5408
thanks!
did a small improvment, please check my last commit

[2019-12-06 12:18] #5408 closed, assigned to nobody

[2019-12-06 13:07] fabermundi opened #5409 "Tree: collapse not called if dynamic = true"
## 1) Environment
- PrimeFaces version: 7.0.10
- Does it work on the newest released PrimeFaces version? Version 7.0.10? No
- Application server + version: wildfly 16
- Affected browsers: Chrome, Firefox

## 2) Expected behavior
When "dynamic" property is setted to "true", "collapse" event should be called when node is collapsed.

## 3) Actual behavior
"collapse" event is not called.

## 4) Steps

[2019-12-06 13:18] tandraschko commented on #5409
I can only talk about 8.0RC1 and what i see is this:
- the events are correctly called
- but as you update the whole tree, it's broken. I removed the update and everything is working fine.

Thats up to PrimeTek / @mertsincan to fix something in Elite.

[2019-12-06 14:12] fabermundi commented on #5409
Indeed, I'm sorry but I published the wrong code. The tree should be dynamic and the update should not be there. I corrected the code above and tested it against version 8.0.RC1 of Primefaces and "collapsed" event is not called.

[2019-12-06 15:54] Rapster commented on #30
Also, I would keep `DataTable#filterBy` and `DataTable#sortBy` instead of filterMeta/sortMeta. First the name is more simple and clear in my opinion as it explicitly says what's the intention, and second it doesn't introduce any breaking change.

[2019-12-06 16:12] tandraschko commented on #30
About the List/Map:
sort was always a list, so i just made filter the same. Also the most impl will probably just loop the list and apply the sort to their queries/whatever. So the benefit is likely not really big when using a map.

sortBy is already resevered AFAIR. It would probably need some other refactoring to remove also the single sortstate and always use sortMeta.

[2019-12-06 16:31] Rapster commented on #30
What about this in 7.0 https://github.com/primefaces/primefaces/blob/7.0/src/main/java/org/primefaces/model/LazyDataModel.java#L132 ?

Here a "relevant" example in #5162, for 2 fields something specific is done. Again I would keep a Map for filters, and homogenize sorts with a Map too

Here is the commit dee92e0f86ea75c948bdeb8c7ba400329a3a6de0 that rename `filterBy` into `filterMeta`. Regarding s

[2019-12-06 16:48] tandraschko commented on #30
I know, we had filters/filterMeta and filterBy before ;)
Feel free to provide a PR the Map changes.
I dont like to do big refactorings anymore about the singleSort/multiSort. Thats something for 9.0 then.

[2019-12-06 17:19] Rapster commented on #30
Before `Datatable#getFilterMetadata` was used internally to the component, so that's okay. I'll provide a PR for Map

[2019-12-06 20:53] kukel commented on #394
I'll try (sorry, had unseen problems with email account I receive notifications of github on). Will try next week, out of the country for a few days). But a quick check in the showcase at least did have good 'boundary' detection and positions better. But honestly, having a context menu pop-up in the middle of the screen (at least on phones) for me would be better. Luckily the original problem is g

[2019-12-06 22:17] jasonex7 opened #5410 "SelectCheckboxMenu: clicked text doesn't work, but event is still fired"
## 1) Environment
- PrimeFaces version: 8.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- It works with PrimeFaces 7.0
- Application server + version: jetty with primefaces-test repo
- Affected browsers: All

## 2) Expected behavior
It should select the item when text is clicked and fire one ajax request

## 3) Actual beh

[2019-12-07 11:55] Rapster opened #5411 "DataTable#resolveDynamicField: better impl"
Use regex instead just like `DataTable#resolveStaticField`

[2019-12-07 12:20] tandraschko commented on #5410
A PR would be great

[2019-12-07 13:27] melloware commented on #394
@kukel No worries let me know when you get around to testing it.  I appreciate all of your efforts!

[2019-12-07 13:38] melloware commented on #5410
Excellent bug ticket @jasonex7 . I can look at this one on Monday.

[2019-12-07 13:47] melloware commented on #5404
@metaxmx Excellent debugging and thanks for the PR.

[2019-12-07 13:58] JeeDevUser opened #5413 "p:dialog: inaccessible nested modal dialog"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-12-07 14:09] JeeDevUser commented on #5413
![nested_modal_dialog](https://user-images.githubusercontent.com/56500986/70375881-7d89ca80-1903-11ea-984d-b69d6804036f.png)

[2019-12-07 16:54] JeeDevUser commented on #5230
Any news about this problem?
Basically, with this problem, the LazyDataModel remains useless...The 8.0 RC2  may be a good opportunity to fix this ;-)

[2019-12-08 08:24] christophs78 opened #5414 "DatePicker: close popup with esc-key"
The Calendar-Popup can be closed by pressing esc-key. DatePicker should have the same ability.

[2019-12-08 12:53] christophs78 opened #5415 "DatePicker: put focus back to the input field after date-selection"
.... so the user is able to jump to the next input field with tab

[2019-12-08 15:50] melloware commented on #5230
Feel free to submit a PR.

[2019-12-08 16:10] JeeDevUser commented on #5230
Sorry, but what is PR exactly?
Do you mean I need PrimeFaces PRO, in order to have bug fix, or what?

[2019-12-08 16:22] melloware commented on #5230
a PR = Pull request meaning you have debugged the problem and fixed it and you are providing a fix back to the community.

You could also sponsor is via PrimeFaces PRO.

[2019-12-08 20:14] zakhdar opened #5417 "FileUpload: VirusTotal API limit error"
By defaut VirusTotal have a rate limit (4 requests/minute) for non premium user.
I you try to scan more than 4 files in one minute you get a JSON exception because the response from Virus Total is not correctly managed

[code]

1) Environment
- PrimeFaces version: 7.0
- Application server + version: Wildlfy 17.0.1
- Affected browsers: Firefox / Chrome

## 2) Expected behavior

Have a correct messa

[2019-12-08 20:28] tandraschko commented on #5417
A PR would be great

[2019-12-08 21:55] Rapster commented on #4566
@mertsincan could we add a "range selection change" client event also? Or simply `onDateChange` event? Server side "dateSelect" exists but not client side, I think it'll be quite useful for a new feature I'm thinking of for datatable filtering (which is filtering date on a range)

[2019-12-09 00:01] zakhdar commented on #5417
Ok i will prepare this tomorrow

[2019-12-09 12:21] melloware commented on #5413
See: https://stackoverflow.com/questions/8970685/modal-confirmdialog-over-modal-dialog-everything-is-blocked

[2019-12-09 13:26] melloware commented on #5413
This works fine for me using appendTo. Closing ticket.
[code]

[2019-12-09 13:26] #5413 closed, assigned to nobody

[2019-12-09 13:28] #5410 closed, assigned to melloware

[2019-12-09 13:57] jasonex7 commented on #5410
Thanks @melloware. It works as expected now.

[2019-12-09 14:07] melloware commented on #5417
PR submitted to catch JSON Exception and display the default "Cannot perform virus scan" error message

[2019-12-09 15:19] Rapster commented on #5417
Is is possible to see the body response? From the API doc, it should return a 204 code

[2019-12-09 15:22] melloware commented on #5417
I think we would have to modify this code since the current code is just doing url.openConnection() we are never even checking the HTTP response code its just calling an assuming. So I took the least impactful approach in catching the JSONException.  We would need to change to something like...

[code]

[2019-12-09 15:35] Rapster commented on #5417
I understand, but I think it's important to inform the end user about that rate limit error. The current expection thrown is not clear enough. i like your last proposal, but I just wonder what the body message looks like...

[2019-12-09 15:59] melloware commented on #5417
Updated my PR to give better error messages regardless of body.

[2019-12-09 22:51] aLeXcBa1990 opened #5420 "DatePicker: Ajax only updates other components the first time the date is selected"
I have a DatePicker that updates a table when selecting a date, but only updates the table the first time I select the date.

## 1) Environment
- PrimeFaces version: 8.0.RC1
- Application server + version: spring-boot-starter-undertow
- Affected browsers: Firefox / Chrome

## 2) Expected behavior

When selecting a date in the DatePicker with ajax, the other components must be updated regardless of

[2019-12-10 07:06] tandraschko commented on #5420
Example please or a forked primefaces-test Project 😜

[2019-12-10 07:59] mertsincan opened #5421 "CellSeparator attribute is not working on DataTable"
It has no effect on datatable widget.

[2019-12-10 07:59] #5421 closed, assigned to mertsincan

[2019-12-10 09:23] stklcode opened #5422 "Dialog: closeDynamic fails due to invalid use of data-widgetvar"
## 1) Environment
* **PrimeFaces version:** 7.0.10
* **Does it work on the newest released PrimeFaces version?** No.
* **Does it work on the newest sources in GitHub?** In works in showcase.
* **Application server + version:** Apache TomEE 8.0.0 (Tomct 9.0.22, MyFaces 2.3.4)
* **Affected browsers:** all tested

## 2) Expected behavior

Opening and closing a dialog from backend bean by
[code]
shoul

[2019-12-10 09:46] tandraschko commented on #5422
good analysis! a PR to fix it would be a next good step :)

[2019-12-10 12:47] melloware commented on #5422
@tandraschko I think this is a bug in Elite as in 8.0 we only use data-widget everywhere.  @mertsincan I feel like there is a mix between data-widgetvar and data-widget in Elite.

I have attached my sample project and its working fine in 8.0.
[pf-5422.zip](https://github.com/primefaces/primefaces/files/3944889/pf-5422.zip)

[2019-12-10 12:48] stklcode commented on #5422
Apparently my analysis was not good enough :wink:
I'm sorry, but PrimeFaces already does it right - at least in 7.0.8 and 7.0.10 (Elite license) and 8.0 (master).

https://github.com/primefaces/primefaces/blob/45bb466d5a52707fa0542a0dbf68fb5ddcc8abc3/src/main/resources/META-INF/resources/primefaces/core/core.dialog.js#L17-L19

Somebody in our company had the (not so) gread idea to overwrite the `P

[2019-12-10 12:48] #5422 closed, assigned to mertsincan

[2019-12-10 15:25] #5420 closed, assigned to nobody

[2019-12-10 16:00] melloware opened #5423 "FilterMeta: Add toString() method"
## 1) Environment
- PrimeFaces version: 8.0.RC1

While testing 8.0.RC1 I was debugging in issue in our custom code with FilterMeta.  FilterMeta does not implement toString() so it was difficult to constantly walk through the debugger to look at properties.

SortMeta DOES have a toString so we should implement a similar method.

[2019-12-10 16:13] #5423 closed, assigned to melloware

[2019-12-10 20:12] melloware opened #5425 "InputNumber: Console Warning"
PrimeFaces 8.0.RC1.

Seeing the above message in the console over and over from AutoNumeric.

[code]

[2019-12-11 12:15] #5417 closed, assigned to melloware

[2019-12-11 12:25] melloware commented on #5425
From their documentation

showWarnings | Defines if warnings should be shown. This is safe to disable in production. | true
-- | -- | --

[2019-12-11 13:41] crocimi commented on #2705
No news about this?

[2019-12-11 13:43] tandraschko commented on #2705
no plans from the community AFAIK
but feel free to provide a PR or sponsor it via PrimeFaces PRO

[2019-12-11 13:54] #3078 closed, assigned to melloware

[2019-12-11 15:09] JeeDevUser commented on #5230
@melloware, can I comment some observations here? I think I found where the problem lies....and a solution.
The problem affects
https://github.com/primefaces/primefaces/issues/3002
also.
Consider **DataTableRenderer.java,** and following method:
[code]
Consider following part inside that method:
[code]
Now, if p:dataTable have folowing settings:

`scrollRows="20" rows="30"`

_and LazyDataModel.get

[2019-12-11 15:15] melloware commented on #5230
So are you saying removing this block entirely fixes your problem?
[code]

[2019-12-11 16:33] #5425 closed, assigned to melloware

[2019-12-11 16:39] JeeDevUser commented on #5230
**" So are you saying removing this block entirely fixes your problem? "**
-Yeah, exactly.
As I said (because I tried this solution with LazyDataModel), the original issue is:
https://github.com/primefaces/primefaces/issues/3002
which is closed, but _not _resolved. However, I think, the fix I provided here can be applied on this issue as well. I tested solution with paginated and non-paginated  p:

[2019-12-11 16:46] JeeDevUser commented on #3002
A detailed explanation of what causes the problem  (along with solution which I suggest) can be seen here:
https://github.com/primefaces/primefaces/issues/5230
At least,  additional verification must be done in the problematic if() statement, though I personally don't see any reason for it to be in the source code.

[2019-12-11 17:38] melloware commented on #5230
I submitted your fix for PrimeTek to review.

[2019-12-11 17:58] JeeDevUser commented on #5230
Thanks.
Please, let me know the result, and do not forget to mention the original issue:
https://github.com/primefaces/primefaces/issues/3002
P.S. If the solution is accepted, may I introduce myself as PrimeFaces contributor? ;-)

[2019-12-11 18:46] melloware opened #5429 "CSS: Replace non-standard zoom property"
Go to the showcase page in Firefox 71+: https://www.primefaces.org/showcase/ui/panel/accordionPanel.xhtml

In the console it reports:

They are correct if you look here its a non standard CSS which used to be used to fix IE8 issues.
https://developer.mozilla.org/en-US/docs/Web/CSS/zoom

It should be replaced with:
[code]

**Components affected:**
- [x] Accordion
- [x] AutoComplete
- [x] Dialog
- [

[2019-12-11 19:57] tandraschko opened #5431 "FileUpload: button doesn't work for 100% in advanced mode"
http://primefaces.org/showcase/ui/file/upload/auto.xhtml

The "hand" cursor isn't shown everywhere in the button and sometimes the click doesn't open the upload window (at least in harmony e.g.).

[2019-12-11 19:57] tandraschko commented on #5431
If somehone has time to check it...

[2019-12-12 08:20] tandraschko opened #5432 "Make LazyDataModel multi-sort implementation optional."
The current situation forces applications to implement multi-sort OR reimplement every sort logic with multisort

[2019-12-12 08:29] #5432 closed, assigned to nobody

[2019-12-12 08:30] tandraschko opened #5433 "LazyDataModel: pass Map with filters instead of List"
As the old filters also were a MAP

[2019-12-12 09:22] #5433 closed, assigned to tandraschko

[2019-12-12 09:24] tandraschko opened #5434 "DataTable: MultiViewState doesn't apply singleSort"
broken in 8.0.RC1 probably

http://localhost:8080/showcase/ui/data/datatable/tableState.xhtml

filters are applied back, sort not

[2019-12-12 09:33] tandraschko opened #5435 "DataTable: rename filterMeta back to filterBy"
for better naming and backward compatitiliby

[2019-12-12 09:47] #5435 closed, assigned to nobody

[2019-12-12 09:49] tandraschko opened #5437 "MenuModel: readd addElement as deprecated for easier migration"

[2019-12-12 09:49] #5437 closed, assigned to nobody

[2019-12-12 09:59] tandraschko opened #5438 "DataTable: cleanup sorting"
Filters previous had 3 similar attributes:
Filters
FilterBy
FilterMeta

we should check the same for sorting.

All properties related to sort:
* sortMeta
* sortField
* sortBy
* sortOrder
* sortFunction
* sortMode (single | multiple)
* allowUnsorting

Some facts:
1) it seems like sortBy and sortField is similar. One points to a fieldname of the entity, one is a VE? @Rapster Maybe you have a better

[2019-12-12 10:07] Rapster commented on #5435
I would also rename `sortMeta` into `sortBy` _(at least for consistency)_

[2019-12-12 10:10] tandraschko commented on #5435
Not possible - sortBy is already there. I created another issue for 9.0 for it.

[2019-12-12 10:11] tandraschko opened #5439 "Schedule: all dynamicProperties are handled as LocalDateTime"
https://github.com/primefaces/primefaces/pull/5436

[2019-12-12 10:11] #5439 closed, assigned to nobody

[2019-12-12 10:14] Rapster commented on #5435
Ah I see... From the doc sounds like it does the same thing. Ideally, maybe we should have only sortBy (which can take a String/SortMeta/List<Meta>)

[2019-12-12 10:26] #5434 closed, assigned to nobody

[2019-12-12 10:39] Rapster commented on #5431
What is supposed to show? What is everything?

I know it can take some time to open, but it does open eventually. Any js errors?

[2019-12-12 11:04] christophs78 commented on #5433
Way better. :-)

[2019-12-12 11:41] christophs78 commented on #5433
Wrote code like this an tuesday:
[code]
Not necessary anymore. ;-)

[2019-12-12 12:20] tandraschko commented on #5433
your welcome :P

[2019-12-12 12:22] tandraschko commented on #5431
sorry, "everywhere". If you have the cursor near the border, often doesn't show the hand cursor.

no js error. I think it opens always in the showcase but my customer use a modified harmony and there it doesn't always open.

[2019-12-12 12:32] tandraschko opened #5441 "Provide a alternative for p:component function"
Actually the replacement is:

`#{p:resolveClientId('@id(myID)', view)};`

but this doesn't work with EL, as the param of @id is not resolved as expression:

`#{p:resolveClientId('@id(cc.attrs.target)', view)};`

also a string concat with "+" doesn't work as it's handled as int. The only solution is:

`#{p:resolveClientId('@id('.concat(cc.attrs.value).concat(')'), view)});`

I think we should provi

[2019-12-12 12:34] Rapster commented on #5431
Looks fine on the showcase, I think it's a premium theme issue. Up to @mertsincan to fix it

[2019-12-12 12:39] tandraschko commented on #5431
For me it's not fine in the showcase. If you have the cursor on the button, there is no "hand" as cursor. All other buttons are working fine. (tested in current online showcase + FF)

[2019-12-12 12:42] Rapster commented on #5431
Which browser? (Looks fine on Chrome 78)

[2019-12-12 12:42] tandraschko commented on #5431
newest FF

[2019-12-12 12:44] Rapster commented on #5431
I confirm the problem on FF (Next time please follow issue template :yum: )

[2019-12-12 12:47] mertsincan commented on #5431
Replicated it. We need to add a style to fileupload.css in core. Maybe,
`.ui-fileupload-choose.ui-state-hover { cursor: pointer;}`

[2019-12-12 12:49] tandraschko commented on #5441
maybe something like:

`#{p:resolveFirstComponentWithId(cc.attrs.target, view).clientId}` ?

Thats really what i does: find the first UIComponent with the ID equals the param;
This is not unique as it's not a search expression or absolute path or something.
I don't like to name it `resolveFirstClientIdWithId`, it sounds weird.
I think `resolveFirstComponentWithId` is good. the clientId is just a a

[2019-12-12 12:50] melloware commented on #5431
I can look at this one if you guys want?

[2019-12-12 12:50] mertsincan commented on #5431
@tandraschko

Does it work in showcase?

[2019-12-12 12:51] tandraschko commented on #5441
And it's also usable for p:widgetVar:

`#{p:resolveFirstComponentWithId(cc.attrs.target, view).widgetVar}`

[2019-12-12 12:52] melloware commented on #5441
I like it.

[2019-12-12 12:58] tandraschko commented on #5441
@melloware can you please test it? I didnt test it yet.

[2019-12-12 12:58] #5441 closed, assigned to nobody

[2019-12-12 12:59] melloware commented on #5441
I will test it today.

[2019-12-12 13:00] tandraschko commented on #5431
+1 for the style overwrite

nope, even not in the harmony showcase. I think it's up to my customers code.
So if the style is fixed, we can close it.

[2019-12-12 13:13] melloware commented on #5431
OK I tried that style and that does not fix it.  I even tried to overwrite with `cursor: pointer !important;` in a few places and none of them have any effect.

[2019-12-12 13:15] melloware commented on #5431
It also happens on Mirage theme.  Seems to be the "border-box" styled premium themes have the issue in Firefox.

[2019-12-12 14:51] carlbradwell17 opened #5442 "DataExporter: Pre/PostProcessors not called"
## 1) Environment
- PrimeFaces version: 8.0.RC1
- Does it work on the newest released PrimeFaces version? Yes, works on 7.0

## 2) Expected behavior

If I set the postProcessor or preProcessor attribute on a p:dataExporter, it should call the method.

## 3) Actual behavior

The method is not called at all, for postProcessor or preProcessor and where type is any of XML,CSV,XLS or PDF.

## 4) Steps

[2019-12-12 14:56] melloware commented on #5442
Confirmed it doesn't look like its working on the showcase: https://www.primefaces.org/showcase/ui/data/dataexporter/customizedDocuments.xhtml

@Rapster i am assuming this is related to all that Exporter refactoring to move the exporters to the package.

[2019-12-12 15:21] #5442 closed, assigned to Rapster

[2019-12-12 15:21] Rapster commented on #5442
Fixed! Thanks for reporting

[2019-12-12 20:08] melloware commented on #5441
This worked like a charm! Thanks for this fix.

[2019-12-13 05:45] gvozdevs opened #5443 "Bean validation enabled"
## 1) Environment
- PrimeFaces version: 8.0.RC1

## 2) Expected behavior
When javax.faces.validator.DISABLE_DEFAULT_BEAN_VALIDATOR is setter to true, PrimeConfiguration.beanValidationAvailable is set to false

## 3) Actual behavior
When javax.faces.validator.DISABLE_DEFAULT_BEAN_VALIDATOR is setter to true, PrimeConfiguration.beanValidationAvailable is also set to true

Error commit https://github

[2019-12-13 07:49] mertsincan opened #5444 "InputNumber is not working with initial value"
Reported By PRO User;

[2019-12-13 07:49] #5444 closed, assigned to mertsincan

[2019-12-13 09:37] tandraschko commented on #5443
to be honest, i would just revert the commit it for now

[2019-12-13 09:39] #5443 closed, assigned to Rapster

[2019-12-13 09:39] Rapster commented on #5443
Fixed! Thanks for reporting

[2019-12-13 10:05] carlbradwell17 commented on #5442
Tested on snapshot build, now working as expected.

[2019-12-13 12:15] melloware commented on #5444
@mertsincan @tandraschko Shouldn't this have fixed this issue a while ago: https://github.com/primefaces/primefaces/issues/4543

I thought this was also done to prevent the JS code from doing it because of that issue above reported a performance problem with lots of InputNumbers?

[2019-12-13 12:15] tandraschko commented on #5444
i think so
@mertsincan did you just copy the code from elite to trunk, without trying it?

[2019-12-13 12:16] melloware commented on #5444
also, I use InputNumber if 25 applictions using 7.X elite and all of our apps our working fine.  I don't think this fix is necessary.

[2019-12-13 12:25] mertsincan commented on #5444
Adding the value inside the renderer is not the right approach. When you set an initial value,
you write it to the hidden area without using the autoumeric api on #4543. Then, when you change the value in input number, the formatted values are written to the hidden input. Exp;
Initial value: 123.5678
Component: decimalPlaces=2
If you write this value inside Renderer, the value of hidden input is 1

[2019-12-13 12:32] melloware commented on #5444
I guess that makes sense. But the ticket above says the value is "null" when its submitted.  Shouldn't it be 123.5678 in your example and not NULL because we are setting the hidden field always?

[2019-12-13 12:39] mertsincan commented on #5444
Yes, this ticket is related to 7.0.x. On 8.0, the behavior of the inputnumber is incorrect for initial values.
Another example on 8.0 before my fix;
decimalPlaces=2

Initial value: 123.456
The value of hidden input: 123.456
Submitted value: 123.456

Initial value: null
The value of hidden input after you enter 123.456 to inputnumber: 123.45
Submitted value: 123.45

the behaviors are very different

[2019-12-13 12:59] melloware commented on #5444
Understood thanks for the explanation!

[2019-12-13 17:49] melloware opened #5445 "pom.xml plugin updates"
I was trying to build PF in my corporate environment where we have Nexus block quarantined jars.

Most of the problems were around plugin versions so I am submitting an update to get on newer versions that do not have security vulnerabilities.

[2019-12-15 08:52] christophs78 opened #5447 "Create a Testsuite"
PrimeFaces offers a extraordinary amount of UI-components which are extensive configurable.

This causes sometimes issues because it´s hard the test all possible mutations of the components. Sometimes we create regressions when fixing a bug. Some impulsive people call PrimeFaces rubbish because of corner-cases which do not work as expected.

During this year i tried to extend the showcase-project

[2019-12-15 13:28] melloware commented on #5447
Thomas has been working on this PrimeFaces Selenium project. Maybe you could contribute?
https://github.com/primefaces-extensions/primefaces-selenium

[2019-12-15 13:43] tandraschko commented on #5447
I think the first step is just a much bigger Showcase
Like a database with samples

[2019-12-15 15:52] christophs78 commented on #5447
First of all: We all do our best to avoid regressions. And we do most of the time a good job.

https://github.com/primefaces-extensions/primefaces-selenium is a good project. It help´s us to test applications built with PrimeFaces. Maybe i contribute at some point in the future. :-) But IMO it does not (direct) help us with improving qualitiy of PrimeFaces itself.

When we fix bug´s or add feature

[2019-12-16 15:01] wsaca commented on #5431
You could try disabling pointer-events on the hidden input:
[code]

[2019-12-16 15:04] melloware commented on #5431
@wsaca that does the trick!   I am going to submit a PR.

[2019-12-16 22:04] #5431 closed, assigned to nobody

[2019-12-17 04:55] maruTA-bis5 opened #5449 "primefaces-8.0.RC1.jar: META-INF/LICENSE.txt is Apache License, not MIT"
## 1) Environment
- PrimeFaces version: 8.0.RC1
- Does it work on the newest released PrimeFaces version? Version? No. 7.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No. 87fd21c71ecb9e7669d76def21cd6375c1b42fbd
- Application server + version: All
- Affected browsers: All

## 2) Expected behavior
In primefa

[2019-12-17 08:07] mertsincan opened #5450 "FileUpload throws a JS exception when onAdd attribute is used."
use $this instead of this.

[2019-12-17 08:08] #5450 closed, assigned to mertsincan

[2019-12-17 09:19] Rapster commented on #5449
LICENSE.txt in resources/META-INF needs to be replaced by MIT License. Being said, we should use https://www.mojohaus.org/license-maven-plugin/ since mycilla is no longer maintened

[2019-12-17 10:01] #5449 closed, assigned to nobody

[2019-12-17 19:23] melloware opened #5451 "Timeline: Update to 6.3.1"
We are currently heavily testing 8.0.RC1 with a few of our production applications.

Using the timeline and zooming in or out we are getting "Inifinite Loop" issues in the browser: https://github.com/visjs/vis-timeline/issues/213

This is fixed in Timeline 6.3.1 so I am submitting a PR to get this into 8.0.RC2.

[2019-12-17 21:02] #5451 closed, assigned to melloware

[2019-12-18 02:46] maruTA-bis5 opened #5453 "DataTable: header area width is not same as table body when scrollWidth set"
## 1) Environment
- PrimeFaces version: 8.0.RC1
- Does it work on the newest released PrimeFaces version? Version? Yes. It works on 7.0 (community)
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No. commit 0216064df6045887680a3dcc0296d4ec37ceb211
- Application server + version: WildFly 18.0.1
- Affected browse

[2019-12-18 07:08] #5404 closed, assigned to mertsincan

[2019-12-18 07:47] mertsincan commented on #5230
Hi all,

Unfortunately, I don't understand this issue and PR. When I review the above sample code to replicate this problem,
the dataTable has liveScroll="true" but we'll remove the code block that has if(table.isVirtualScroll()). Why??

@JeeDevUser Could you please create new ticket for your issue?

Best Regards,

[2019-12-18 07:49] mertsincan commented on #3002
Hi @JeeDevUser,

Could you please create new ticket and attach a sample maven project for us to replicate?

[2019-12-18 08:04] Iseur commented on #2658
Hi, i'm currently with 7.0 PF and same issue, any news about this ?

[2019-12-18 08:06] #5414 closed, assigned to christophs78

[2019-12-18 08:15] #4790 closed, assigned to nobody

[2019-12-18 08:16] christophs78 opened #5454 "Global: Invalid state for inputs referenced from a FacesMessage via clientId"
We sometimes add errors to inputs via Java-business-logic:
`FacesContext.getCurrentInstance().addMessage("form:txt", new FacesMessage(FacesMessage.SEVERITY_ERROR, "Error!", "Contact admin."));`

This come with the limitation, that this input does not get the same red border like inputs which have an validation-error.

The following generic code make setValid(false) to all input´s which have a erro

[2019-12-18 08:26] tandraschko commented on #5454
to be honest, i don't know :D
you are the first since ~10 years PrimeFaces which asked about such a feature

[2019-12-18 08:28] christophs78 commented on #5454
look at eg https://forum.primefaces.org/viewtopic.php?t=25085

[2019-12-18 08:31] #4751 closed, assigned to christophs78

[2019-12-18 08:33] tandraschko commented on #5454
ok sorry, you are the second one :D

[2019-12-18 08:47] #5334 closed, assigned to christophs78

[2019-12-18 08:52] tandraschko commented on #5454
I think we can add it with a config flag in 9.0 which is disabled per default

[2019-12-18 10:50] mertsincan commented on #5429
Hi @melloware,

I find an issue related to transform-origin: 0 0; Please check selectOneMenu demo;
![Screen Shot 2019-12-18 at 13 48 41](https://user-images.githubusercontent.com/11868120/71080011-5ea9f480-219d-11ea-9e72-e1ddbca348cc.png)

[2019-12-18 11:10] JeeDevUser commented on #5230
@ mertsincan ,
" but we'll remove the code block that has if(table.isVirtualScroll()). Why??"
-Because that part of code leads to duplicate rows rendered.

Actually, you should refer to:
https://github.com/primefaces/primefaces/issues/3002
That’s where the virtualScroll is used
(my mistake, sorry, i was supposed to write a comment there but i got confused so I wrote here)
Read the explanation I ga

[2019-12-18 11:59] melloware commented on #5429
I will investigate.

[2019-12-18 12:19] melloware opened #5455 "CSP: Timeline AJAX Missing CSP nonce"
Getting "Missing CSP nonce" error when making an AJAX call.

**Steps to reproduce:**
1. Enable CSP in Showcase
[code]

2. Navigate to http://localhost:8080/showcase/ui/data/timeline/allEvents.xhtml

3. When the RangeChanged Ajax event is fired you will get the below stacktrace.

**StackTrace:**
[code]

[2019-12-18 12:29] melloware commented on #5455
@tandraschko I am not sure yet but it might be because the rangeChanged event is firing before the script `$(function(){PrimeFaces.csp.init('MTlhMWVhZDItNmJkMC00NTg5LWFkZDgtYjA1ZjM4ZDY1YjVi');});` has run since that runs last that the NONCE has not been set yet when the AJAX fires?

is it possible to move the CSP init script up to first in the list of scripts?

[2019-12-18 12:41] tandraschko commented on #5455
how can it fired before?

[2019-12-18 12:43] melloware commented on #5455
Well i wasn't sure but the "RangeChanged" event fires as soon as you load the page.  So Is it possible as the javascript createWidgets are running it creates the timeline and immediately fires the RangeChanged event before the init script has executed?

[2019-12-18 12:45] tandraschko commented on #5455
no idea, never touched timeline ;)

[2019-12-18 13:32] melloware commented on #5455
OK I debugged and verified that is what is happening.  The RangeChanged fires before the CSP init script on page load.   Need to figure out how to not make the RangeChanged fire on page load.

[2019-12-18 15:46] #5455 closed, assigned to melloware

[2019-12-18 16:05] melloware commented on #5455
We may run into this with other components that fire AJAX events immediately upon page load so we should beware.

[2019-12-18 16:06] #4627 closed, assigned to nobody

[2019-12-18 18:32] melloware opened #5459 "TimeLine: Clean Up Memory"
To prevent browser memory leaks the Timeline "destroy()" method should be called on AJAX updates.

[2019-12-18 18:52] melloware opened #5461 "DatePicker: Calling incorrect super.destroy()."
DatePicker is calling the wrong super method for destroy.

https://github.com/primefaces/primefaces/blob/b1cfde71c09f32ad3711dfb66a3bafddf843cee9/src/main/resources/META-INF/resources/primefaces/datepicker/1-datepicker.js#L104-L110

It should be `this._super();` not `this._super(cfg);`

[2019-12-18 18:56] #5459 closed, assigned to melloware

[2019-12-18 19:06] #5461 closed, assigned to nobody

[2019-12-18 20:12] melloware commented on #1912
I just ran the exact scenario in the OP's example and as of Primefaces 8.0 this worked fine.  Memory is being cleaned up properly by the refresh() method of the chart widget.   I ran it and Chrome reported the same JS heap size as when the loop started as when it finished.

[2019-12-18 20:12] #1912 closed, assigned to nobody

[2019-12-18 20:49] #5415 closed, assigned to christophs78

[2019-12-18 21:25] melloware commented on #5453
Most likely one of these issues introduced it between 7.0 and 8.0.
https://github.com/primefaces/primefaces/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+milestone%3A%228.0.RC1%22+scrollable

[2019-12-19 12:06] melloware commented on #5429
I have fixed all the issues and tested in multiple browsers and everything I an see seems to be working.

[2019-12-19 12:56] #394 closed, assigned to nobody

[2019-12-19 12:57] Rapster commented on #5453
Since it's a regression, I think it should be in 8.0.RC2 scope

[2019-12-19 12:58] melloware commented on #5453
Looks like RC2 was just released so I removed the milestone.

[2019-12-19 13:18] Rapster commented on #5453
Ah I see, I guess a new milestone has to be created then @tandraschko?

[2019-12-19 14:12] tandraschko opened #5463 "DataTable: multiViewState reset doesn't work correctly"
Checkout and open:
http://localhost:8080/showcase/ui/data/datatable/tableState.xhtml

If you click on "Clear table state" in the second table, only one clientId is processed in #showMessage.

@Rapster can you check that?

[2019-12-19 14:16] tandraschko commented on #5463
stop
the reset itself is called, just the DataTable somwhoe isn#t resetted

[2019-12-19 14:24] tandraschko opened #5464 "DataTable: multiViewState doesn't remember filters with LazyDataModel"

[2019-12-19 14:25] #5464 closed, assigned to nobody

[2019-12-19 14:32] tandraschko commented on #5463
hmm weird, it seems to work as it should now
probably because of #5464

Could @melloware or @Rapster help me do some testing over the showcase if everything is working fine?

[2019-12-19 14:45] melloware commented on #5463
I can poke around.  In production my client has a customized Lazy Datatable we use and store sorts and filters and all the refactoring you did last week solved all my problems!  We don't use the TableState stuff but I will poke around the showcase.

[2019-12-19 14:47] Rapster commented on #5463
I can try later, quite busy right now

[2019-12-20 12:57] mertsincan commented on #4536
Hi @heatherita,

Could you please try it without California? I think this issue is not related to California. The theme/layout does not interfere with the z-index.

[2019-12-21 07:40] christophs78 commented on #5463
I think there´s still something wrong....

before clear table state:
![grafik](https://user-images.githubusercontent.com/10461942/71304868-859a3d80-23cc-11ea-89a5-0ac99d632300.png)

after clear table state:
![grafik](https://user-images.githubusercontent.com/10461942/71304873-9d71c180-23cc-11ea-90a5-0c0d4cafbaed.png)

IMO technically the table-state is cleared. You can check this by navigating to

[2019-12-21 08:36] christophs78 commented on #5463
see showcase-PR: https://github.com/primefaces/showcase-facelift/pull/99

[2019-12-21 08:43] christophs78 opened #5465 "DataTable: reset-method does not reset rows-(per-page-)attribute"
Think reset should call resetRows which was added with https://github.com/primefaces/primefaces/issues/4573

[2019-12-21 08:48] christophs78 commented on #5465
... seems to be a bit more complicated

[2019-12-21 09:25] ebehmen commented on #4513
Is the global filter executed as the last one, after applying all column filters? I want to limit the result to a  distinct value in a column but still want to show maximum number of results by applying the global filter as the last one.

[2019-12-21 09:34] Rapster commented on #5463
There is an obvious bug which might be the root cause of others:
1. Select "Renault" as Brand
2. Refresh (filter kept: OK)
3. Clear table state
4. Refresh
5. Everything looks good
6. Go on page 5: no result (NOK)
7. Go back on page 1: filter Renault is back (NOK)

@christophs78 This is how we use table state, this is why clear method has a consumer so you can reset the datatable from the client id

[2019-12-21 10:01] christophs78 commented on #5463
That's all fake news. ;-) (just kidding)
I updated the showcase-PR.

[2019-12-21 11:01] christophs78 commented on #5463
LazyDataModel does not seem to have this issue.

[2019-12-21 14:13] Rapster commented on #5465
Please follow issue template

[2019-12-21 15:45] christophs78 commented on #5465
## 1) Environment
- PrimeFaces version: 8.0-SNAPSHOT
Not related to Browser or Application-Server

## 2) Expected behavior
DataTable#reset should reset the row´s per page to the value provided via XHTML-attribute
`<p:dataTable id="tableStateDT" var="car" value="#{dtTableStateView.cars}" widgetVar="carsTable" multiViewState="true" rows="10" paginator="true" `

## 3) Actual behavior
DataTable#reset

[2019-12-22 18:38] jepsar commented on #4513
@ebehmen I think you want to have a look at the lazy data model

[2019-12-23 09:39] tandraschko commented on #5409
Duplicate of: https://github.com/primefaces/primefaces/issues/3668
also with fix and details inside

[2019-12-23 09:39] #5409 closed, assigned to nobody

[2019-12-23 12:29] melloware opened #5466 "InputTextArea: Introduce "query" behavior to allow to set global="false""
See forum post: https://forum.primefaces.org/viewtopic.php?f=3&t=60712

When using "completeMethod" of InputTextArea it should send its AJAX with global=false to not trigger the AJAX status similar to the AutoComplete component search method.

See AutoComplete: https://github.com/primefaces/primefaces/blob/1ba97c624b579088c2890f7f80232948eb39d7ea/src/main/resources/META-INF/resources/primefaces/au

[2019-12-23 15:36] melloware opened #5469 "Exporter: XLSXSTREAM NullPointerException"
Using the showcase basic example: https://www.primefaces.org/showcase/ui/data/dataexporter/basic.xhtml

Switch
[code]

To:
[code]

It throws a NPE with the stack trace:
[code]

[2019-12-23 15:37] melloware commented on #5321
Introduced an NPE: https://github.com/primefaces/primefaces/issues/5469

[2019-12-23 15:59] #5469 closed, assigned to melloware

[2019-12-23 21:30] Rapster commented on #5465
Is this ticket a duplicate of #5463 or does it give a clue why it's not working in #5463? I'm confused

[2019-12-24 06:26] christophs78 commented on #5463
Did we have this issue with 7.0 too? Or is this something we introduced with 8.0?

[2019-12-24 06:29] christophs78 commented on #5465
#5463 and #5465 are both related to DataTable. But this issue is not related to multiViewState. This issue simple says the rows (per page) - attribute ist not reset by the reset-method.
(I simply noted this issue during testing #5463, so i opened a separate issue for this.)

[2019-12-24 11:06] mertsincan opened #5471 "Slider with inputnumber throws a JS exception"

[2019-12-24 11:06] mertsincan commented on #5471
Fix; https://github.com/primefaces/primefaces/commit/dbf4a3759045ad77920c9174480d9015d526abaa#diff-f9b7a575dac10ce9baed134404370b7c

[2019-12-24 11:06] #5471 closed, assigned to mertsincan

[2019-12-24 13:27] melloware commented on #5230
@JeeDevUser I think you should create a reproducible sample using: https://github.com/primefaces/primefaces-test so @mertsincan can see the issue.

[2019-12-24 15:57] Didjit01 opened #5472 "DialogActionListener.java: needs default constructor"
## 1) Environment
- PrimeFaces version: 7.0
- MyFaces: 2.3.5, 2.3.6
- Tomcat 9

## 2) Expected behavior
In `faces-config.xml`, should be able to specify this:
[code]

## 3) Actual behavior
Faces initialization fails (`MyFaces: FacesConfigurator#configureApplication( )`).

MyFaces initialization calls `ClassUtils#buildApplicationObject` with a list of ActionListener classes and `null` as the defaul

[2019-12-24 20:26] erickdeoliveiraleal opened #5473 "Schedule: JS error (RangeError: invalid language tag: "pt_BR")"
## 1) Environment
- PrimeFaces version: 8.0.RC2
- Does it work on the newest released PrimeFaces version? Version? 7.0 yes
- Does it work on the newest sources in GitHub? no
- Affected browsers: all

## 2) Expected behavior
Should display normal

## 3) Actual behavior
Error in browser console

## 4) Steps to reproduce
add pt_BR locale to faces-config:
`<locale-config>
			<default-locale>pt_BR</def

[2019-12-24 21:47] elab opened #5474 "8.0RC2: typo in error message"
Small typo in the error message:
https://github.com/primefaces/primefaces/blob/8.0.RC2/src/main/java/org/primefaces/component/treetable/TreeTableRenderer.java#L272

is:  "treeTable's value must be null"
should be: "treeTable's value must **not** be null"

[2019-12-25 07:20] christophs78 commented on #5463
Just made a small reproducer based on primefaces-test with PrimeFaces 7.0. The issue described by @Rapster had been there with 7.0 too.

[2019-12-25 08:24] christophs78 commented on #5463
DataTableBase#getFilteredValue returns the same (filtered) instance of ArrayList after the reproducer-steps described by @Rapster. (Even after DataTable#reset which does setFilteredValue(null);)
I don´t unterstand this... hope some of you JSF-Pro´s unterstand this.

[2019-12-25 08:51] #5474 closed, assigned to nobody

[2019-12-25 08:52] tandraschko commented on #5473
@christophs78 can you have a look plz?

[2019-12-25 09:00] tandraschko commented on #5472
I think it's an bug in MyFaces.
Mojarra first looks for a constructor with param, also if the param is null. As fallback the default constructor is used.
I will create a MyFaces issue and link it here.

[2019-12-25 09:10] tandraschko commented on #5472
@Didjit01 i really wonder about your environment. JSF itself has a action-listener and this should be used as base for DialogActionListener. So the base-action-listener MUST not be null.

Therefor it also never occurs e.g. in the primefaces showcase.
Can you try to not use the myfaces-bundle but the api/impl jar? Maybe its related to this.

[2019-12-25 09:56] christophs78 commented on #5473
@erickdeoliveiraleal: Thanks for reporting this issue. With PrimeFaces 8.0 we use FullCalendar 4.x. FullCalendar 4.x comes with it´s own localication-mechanism. Just provided a PR which adjusts Java/PrimeFaces-locale to FullCalendar-locale.

[2019-12-25 10:06] #5473 closed, assigned to nobody

[2019-12-25 13:19] Betlista opened #5476 "Unable to build it"
## 1) Environment
- PrimeFaces version:
The last one in GitHub - last commit b1188af2273eb726c26627b9647255ccaea822a0
- Does it work on the newest released PrimeFaces version? Version?
N/A
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
No.
- Application server + version: N/A
- Affected browsers: N/A

## 2) Exp

[2019-12-25 13:27] tandraschko commented on #5476
works finr for me with jdk1.8.0_161 and Apache Maven 3.5.4

[2019-12-25 13:28] tandraschko commented on #5476
also our builds are fine: https://travis-ci.org/primefaces/primefaces

[2019-12-25 13:59] Betlista commented on #5476
Interesting, and can you tell me, where the dependency is coming from?

When I added:

        <dependency>
            <groupId>com.google.guava</groupId>
            <artifactId>guava</artifactId>
            <version>28.1-jre</version>
        </dependency>

it got fixed for me.

In dependency tree (mvn dependency:tree) I see only:

[code]

...but this is for tests.

[2019-12-25 14:04] tandraschko commented on #5476
its from the optional tika integration for filetype detection (a fileupload security feature)

[2019-12-25 14:05] VsevolodGolovanov opened #5477 "Tree: composite components inside miss their values on update (only mojarra with full state saving)"
(Attached the primefaces-test based reproducer, see first comment.)

## 1) Environment
- PrimeFaces version: 6.1.
- Does it work on the newest released PrimeFaces version? Version? No, 7.0.
- Does it work on the newest sources in GitHub? No - checked with com.github.primefaces:primefaces:master-SNAPSHOT.
- Application server + version: Wildfly 10.1, Wildfly 18.1. Also primefaces-test's jetty (moja

[2019-12-25 14:05] tandraschko commented on #5476
maybe we can update the rika version after 8.0 release and also use the java8, not java7 dependency. Maybe this will fix it

[2019-12-25 14:06] VsevolodGolovanov commented on #5477
[primefaces-tree-with-composite-test.zip](https://github.com/primefaces/primefaces/files/4000526/primefaces-tree-with-composite-test.zip)

[2019-12-25 14:10] VsevolodGolovanov commented on #5477
The reproducer shows that the issue is not present with the myfaces22 or myfaces23 profiles.
Is it a Mojarra issue? Maybe related to https://github.com/eclipse-ee4j/mojarra/issues/4338 ?
Not sure. Since there is no vanilla JSF tree component, I'm not sure how to correctly reproduce the issue without PrimeFaces.

[2019-12-25 14:27] tandraschko commented on #5477
JFYI: my personal motivation is quite low to investigate hours into such a bug, which just exists in mojarra and full state saving.
I dont think that full state saving should be used.

[2019-12-25 14:27] Betlista commented on #5476
I tried with Eclipse and yes, Eclipse has no problem with that, because Eclipse does not work as it should with maven projects. Is that how you tested?

If you try from **command line** you should see same error.

But how it worked on Travis CI is a big unknown for me...

**Summary** (as I see it at the moment):
`com.google.common.base.Function` and `com.google.common.base.Predicate` are from Guav

[2019-12-25 14:29] tandraschko commented on #5476
i use CMD ;)

adding guava is not a fix, we  don't use guava. it's just a dependency from a optional dependency of primefaces.

[2019-12-25 14:32] erickdeoliveiraleal opened #5478 "Calendar: not localized"
How to reproduce: Set your language to pt-br in faces-config
`<locale-config>
			<default-locale>pt_BR</default-locale>
			<supported-locale>pt_BR</supported-locale>
		</locale-config>`

PrimeFaces 7.0:
![Capturar2](https://user-images.githubusercontent.com/3578953/71447170-3759a700-270a-11ea-8fe2-a5379b3d8348.JPG)

PrimeFaces Snapshot or 8.0.RC2:
![Capturar](https://user-images.githubusercontent.

[2019-12-25 14:44] tandraschko commented on #5478
@christophs78  sorry :D can you also check this one? you had the most contact with calendar/datepicker

[2019-12-25 14:45] VsevolodGolovanov commented on #5477
Debugging during update shows that when org.primefaces.component.tree.TreeRenderer#encodeTreeNode calls `uiTreeNode.encodeAll(context);` execution gets to the composite component instance's `encodeBegin`, where it calls `pushComponentToEL` as it should, but it doesn't go into this `if`'s body:

[code]

\- the component is not recognized as composite, so the `cc` references in xhtml evaluate to nul

[2019-12-25 14:51] Betlista commented on #5476
Ok, the problem was (of course) on my side...

I had warnings:

[code]

on maven build

The important one in this case was

[code]

because `org.owasp.html.HtmlPolicyBuilder` (used in `org.primefaces.util.HtmlSanitizer`) is using Guava and while dependency info was not available I got that error from maven as well as in Idea.

I fixed it so, that I deleted `com\googlecode\owasp-java-html-sanitizer

[2019-12-25 14:57] #5476 closed, assigned to nobody

[2019-12-25 15:08] Didjit01 commented on #5472
@tandraschko when I dug into the MyFaces code a bit, the call to buildApplicationObject is called with an explicit null for the base object.  Perhaps that's the root bug?  But I must confess I'm a real novice at JSF, so my setup should remain suspect.

[2019-12-25 15:31] tandraschko commented on #5472
Yes, thats what i mean
if you check the MyFaces code, there is: `<action-listener>org.apache.myfaces.application.ActionListenerImpl</action-listener>`
which is the default impl.

As i said, please try to not use the myfaces-bundle, just the api and impl jar.

If that doesn't work ad if you send me your applciation, i can debug whats wrong.

For now i will close the issue as it's not a PF issue.

[2019-12-25 15:31] #5472 closed, assigned to nobody

[2019-12-25 15:43] tandraschko commented on #5472
@Didjit01 maybe you can just grab some MyFaces+SpringBoot sample app and check if it works fine for you.
Joinfaces has something

[2019-12-25 16:48] Rapster commented on #5463
`TableStateView` is `SessionScoped` so I guess it brings some unexpected results... I tried with RequestScoped, works much better. Doesn't mean there is nothing wrong. I'll definitely put a new method resetting the component for 9.0, I even think it should be the default behavior as it's quite confusing to clear the state but nothing change on the UI side

[2019-12-25 18:28] christophs78 commented on #5478
@erickdeoliveiraleal : This seem´s to work fine. Tried with Showcase (Datepicker/Calendar). And locale via attribute of DatePicker and via default-locale in faces-config.xml.
![grafik](https://user-images.githubusercontent.com/10461942/71449403-0d28d900-274c-11ea-81c1-f11cef138380.png)

Did you include https://github.com/primefaces/primefaces/wiki/Locales for pt_BR into your XHTML? (or template us

[2019-12-25 18:38] christophs78 commented on #5463
This issue even exists with multiViewState="false". (Tested with tableState.xhtml) There seems to be a issue. DataTableBase#getFilteredValue has still it´s old value after navigating to another XHTML and back or doing a refresh. But it does not seem related to multiViewState. It seems to be related to the filter mechanism used without LazyDataModel.

[2019-12-25 19:59] Rapster commented on #5463
Very good point to try without multiviewstate :wink: At least, we know the problem doesn't come from there. SessionScoped bean shows this issue then:

After refresh (and setting filters), the table is displayed as normal, but when I click on paginator 5 `DataTable#processEvent` is called, which update value with filtered values (previously set in session) I tried without it, works fine. So I think

[2019-12-26 07:45] christophs78 commented on #5463
Now i got it. `org.primefaces.showcase.view.data.datatable.TableStateView` is `@SessionScoped`. And so it´s member `filteredCars` is `@SessionScoped`.
In a real-world-usecase `org.primefaces.showcase.view.data.datatable.TableStateView` propably would be `@ViewScoped`.

https://github.com/primefaces/primefaces/commit/20baf62631dd3662c978abb6cb57669940ca967d and the introduction of `DataTable#proces

[2019-12-26 09:21] VsevolodGolovanov commented on #5477
When a view is restored first all of its components get constructed, then all their states get restored.
During construction `pushComponentToEL` gets called, and so `UIComponent#isCompositeComponent` gets called, and that's how `component.isCompositeComponent=false` gets assigned - because the state was not yet restored, so the attributes are not there.

This is compensated by the following code i

[2019-12-26 09:51] VsevolodGolovanov commented on #5477
PR submitted: https://github.com/primefaces/primefaces/pull/5479

[2019-12-26 13:47] Rapster commented on #5463
Sorry if I was no clear enough in my previous message. Anyway, I think we can close this one, and open a new one for this problem

[2019-12-26 15:01] tandraschko commented on #5463
yep, please
i designed getFilterBy to the only source of truth. I didn't see the getFilteredValue anyway.

I created a refactor ticket for the sorting stuff for 9.0.
Please create another ticket to check filterValue

[2019-12-26 15:01] #5463 closed, assigned to nobody

[2019-12-26 15:46] testing138 opened #5480 "Sidebar: add dynamic feature"
Hi all,

can you please add the option for p:sidebar as **dynamic**.
This option is also already available for p:dialog.

Many thanks

[2019-12-26 15:54] tandraschko commented on #5480
Feel free to create a pull request or sponsor it via PrimeFaces PRO.

[2019-12-26 20:34] erickdeoliveiraleal commented on #5478
Sorry, maybe it is related to my browser cache. idk.

[2019-12-26 20:34] #5478 closed, assigned to nobody

[2019-12-28 07:52] christophs78 opened #5481 "DataTable: removal of processEvent method"
follow-up-issue to https://github.com/primefaces/primefaces/issues/5463

## 1) Environment
- PrimeFaces version: 8.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: all
- Affected browsers: all

Onl

[2019-12-28 08:01] christophs78 opened #5482 "multiViewState: add component reset option"
## 1) Environment
- PrimeFaces version: 8.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: all
- Affected browsers: all

## 2) Expected behavior
`PrimeFaces.current().multiViewState().clear...` sho

[2019-12-28 13:39] Rapster commented on #5482
I wonder if I should remove the consumer, I introduced this so I can do later a reset... I think I should have introduced reset option instead of consumer, my bad...

[2019-12-28 17:25] christophs78 commented on #5482
IMO you did overall a realy good job in improving the handling of MultiViewState with 8.0.
Related to replacing the consumer with a reset-option: Is there something als than reseting we may do with the consumer?

[2019-12-28 19:58] christophs78 opened #5483 "DataView (and other UIData-impls): add multiViewState"
DataTable and DataList have it already. Now add it to...
- [x] DataView
- [x] DataGrid
- [ ] TreeTable

[2019-12-28 20:02] Rapster commented on #5483
I'm working on a PR for the reset thing, and I realized almost every UIData component should support multiview state, so I think you can make this ticket bigger 😉

[2019-12-29 03:58] mafaul commented on #4724
https://www.bountysource.com/issues/72488814-celleditor-dynamic-columns-celledit-event

[2019-12-29 08:14] christophs78 commented on #5483
Yep. I´d would be nice to have multiViewState for all UIData-implementations. Just the question, where to start and where to stop. Where to put our effort, ...

[2019-12-29 08:19] christophs78 opened #5485 "DataList: lazy=true; LazyDataModel#load called twice when restoring multiViewState"
## 1) Environment
- PrimeFaces version: 8.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: all
- Affected browsers: all

## 2) Expected behavior
`LazyDataModel#load ` shoud be called once per reque

[2019-12-29 13:04] melloware commented on #5485
I think it is similar to this issue? https://github.com/primefaces/primefaces/issues/1151

[2019-12-29 13:10] christophs78 commented on #5485
Yes. I´ll look into this. Sounds like DataExporter has a similar bug.

[2019-12-29 13:44] christophs78 commented on #1151
`org.primefaces.component.datatable.export.DataTableExporter`

[code]

call 1:
![grafik](https://user-images.githubusercontent.com/10461942/71557779-377bde80-2a4b-11ea-835e-55d58a171c9a.png)

call 2:
![grafik](https://user-images.githubusercontent.com/10461942/71557681-a6f0ce80-2a49-11ea-88a2-a8e91528f91d.png)

[2019-12-29 17:12] mdzaebel commented on #4765
So the issue should be opened again.

[2019-12-29 23:34] Rapster commented on #1151
Why don't we just save wrappeddata from lazydatamodel on the side, and set it back after export?

[2019-12-30 09:21] tandraschko commented on #4765
can you please check it with 8.0.RC2?

[2019-12-31 16:48] doleron opened #5490 "SelectOneMenu: panel changes width after display and after click in scrollbar"
Component changes the items panel width after display. This flick behavior occurs in IE/Edge and only if  the vertical scrollbar is required. If user then try to click in component scrollbar (to scroll down and select an item below for instance) the width changes again bringing usability concerns.

See the example below:

![selectonemenu_issue](https://user-images.githubusercontent.com/9665358/716

[2019-12-31 17:04] melloware commented on #5490
Read this ticket: https://github.com/primefaces/primefaces/issues/4723

Add the property `effect="none"` to your SelectOneMenu as this issue is related to the animation effect.  I think its actually a JQuery issue.

[2019-12-31 18:26] doleron commented on #5490
Hi @melloware thank you for the quick reply. Unfortunately `effect="none"` worked only to prevent the "first display change". The second width change still keeping up, as the following gif shows:

![selectonemenu_still_issue_effect_none](https://user-images.githubusercontent.com/9665358/71630276-d259f180-2be0-11ea-8c5d-309423053792.gif)

What is the way to go? Should I close this issue and open on

[2020-01-01 06:22] melloware commented on #5490
I am not sure if opening a jquery ticket will do any good. Let’s leave this one open for now but it’s definitely related to Microsoft browsers.

[2020-01-01 13:36] melloware commented on #5490
I tried to debug this issue last month and I couldn't see anything we were doing in the PF code that would cause this issue. Turning the effect=none made me think it was related to animations but you can reproduce it with effect=none so it is something else.

[2020-01-01 20:14] christophs78 commented on #5490
One weak point of PrimeFaces is the fact, it´s to some degree based on jQuery UI. jQuery UI is essentialy dead since may 2017. (https://github.com/jquery/jquery-ui/commits/master)
That´s something that may cause trouble at some point in the future. IMO most newer UI-components out there are written for Angular/React/Vue/... Something we can´t use (wrap) for PrimeFaces. Maybe it would be necessary

[2020-01-01 21:14] tandraschko commented on #5490
The good thing is: we don't use many things from jQueryUI :D
- some components like slider and calendar
- animations
- some helpers
- style classes (we use the same names, we dont need to change anything here)

I think this is also the order we should have a look at. Feel free to create a issue.

If not many components are used, i dont think it's too much work for us.

[2020-01-01 21:35] doleron commented on #5490
Regarding @christophs78

Although the component doesn't "flick" on firefox, scrollbar behavior differs from chrome:

FF on Windows:
<img width="572" alt="Screenshot 2020-01-01 at 18 26 48" src="https://user-images.githubusercontent.com/9665358/71646301-fa228580-2cc4-11ea-8064-09486fa15b4e.png">

FF on MacOS Mojave:
<img width="423" alt="Screenshot 2020-01-01 at 18 27 24" src="https://user-images.g

[2020-01-02 05:17] mafaul opened #5491 "Datatable: Sequence of multisort"
## 1) Environment
- PrimeFaces version: 8 RC2
- Application server + version: Payara 5.194
- Affected browsers: Chrome

## 2) Expected behavior
I see that the LazyDataModel changed to take a map for multisort data instead of a list.
A list is ordered in java and a map not. How would it retain the order in which the columns where sorted?
For filters it doesn't matter because the results will be the

[2020-01-02 08:29] tandraschko commented on #5491
we can simply use a LinkedHashMap - but not sure if this fixes, i thought that we rebuild this map each request

[2020-01-02 08:38] tandraschko commented on #5491
Can you retest plz? Commited the change to LinkedHashMap

[2020-01-02 08:38] #5491 closed, assigned to nobody

[2020-01-02 09:11] #5485 closed, assigned to nobody

[2020-01-02 09:39] tandraschko opened #5492 "Upgrade jQuery UI 1.13"
As jQuery UI is not active anymore, we should try to move away from long-term perspecive.

Currently we have following dependencies:
- some widgets like calendar and slider
- animations
- utils
- class names (we just use the same names, we don't need to change it)

[2020-01-02 09:39] tandraschko commented on #5492
A first step would be to check which components depend on jQuery UI and check for replacement.

[2020-01-02 09:41] tandraschko commented on #5492
for animations there are many replacements availble like animation.css or velocity.js

[2020-01-02 12:31] melloware commented on #5492
I follow JqueryUI and it has been getting some love recently from @mgol  They are updating it at the very least to support  the upcoming JQuery 4.0 release.  See recent PR updates here: https://github.com/jquery/jquery-ui/pulls?q=is%3Apr+is%3Aclosed+sort%3Aupdated-desc

[2020-01-02 12:34] melloware commented on #5490
So if this issue happens with animations turned off then i feel like its not a Jquery UI issue but a main Jquery issue with the panel being created.

[2020-01-02 12:37] tandraschko commented on #5490
why should it be a jquery issue? it's our component

[2020-01-02 12:38] melloware commented on #5490
Well you are probably right but I tried to debug this issue and I don't see anything executing in our code that would cause a repaint of the panel.  All there is is a bunch of subscribed events but clearly their is some redraw issue happening.

[2020-01-02 13:19] doleron commented on #5490
I have found that by using `effect="none"` the problem only happens on Internet Explorer 11. Hence, with `effect="none"` the problem no longer occurs on MS Edge.

![ezgif-2-4009c6c8f104](https://user-images.githubusercontent.com/9665358/71668839-3dbed300-2d49-11ea-83d8-e326f7b3cee5.gif)

Just as a note, my current Microsoft Edge version is 44.18362.449.0.

[2020-01-02 14:16] melloware opened #5493 "DataTable: currentPageReportTemplate {endRecord} incorrect calculation"
## 1) Environment
- PrimeFaces version: 8.0.RC2
- Does it work on the newest released PrimeFaces version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: Jetty Showcase
- Affected browsers: ALL

## 2) Expected behavior

Using currentPageReportTemplate reports the correct values.

## 3) Actual behavior

It is reporting incorrect values for the {endRecord} value

[2020-01-02 19:37] christophs78 commented on #5490
The horizontal scrollbar-issue on Firefox:
![grafik](https://user-images.githubusercontent.com/10461942/71688001-52c65100-2d9f-11ea-8233-30bd34dfa838.png)

We can avoid it with overflow:hidden at the ul-element:
![grafik](https://user-images.githubusercontent.com/10461942/71688102-873a0d00-2d9f-11ea-990d-8c869a907531.png)

(But not sure wheather this is a good idea for all usecases.)

[2020-01-02 20:13] christophs78 commented on #5490
I looked into `/classes/META-INF/resources/primefaces/forms/forms.selectonemenu.js` and can´t find something that raises my attention.

I also tried to reproduce the issue using effect="none" on IE11 under Windows 10.
![grafik](https://user-images.githubusercontent.com/10461942/71689840-565bd700-2da3-11ea-8a07-28ce0829d638.png)
The issue is not there. (Only the horizontal scrollbar we may avoid wi

[2020-01-02 20:15] melloware commented on #5490
@christophs78 That was my original conclusion of #4723  I believe it to be an IE + Jquery UI bug related to animations.

[2020-01-02 20:19] christophs78 commented on #5490
What do you think of setting effect to none as a default. (IMO the effect is a nice2have that is not essential.)
Second question: What to you think about setting ul to overflow: hidden via forms.css?

[2020-01-02 20:22] melloware commented on #5490
i like both ideas.

[2020-01-02 20:31] christophs78 commented on #5490
Adding
[code]
to forms.css does the job for part 2.

@tandraschko: What do you about this and setting effect to none as default?

[2020-01-02 20:33] tandraschko commented on #5490
-1 for none as default

-0 for the overflow currently; what happens with many items and overflow: hidden?

[2020-01-02 21:02] christophs78 commented on #5490
Disable effect only for IE via Javascript?
There are already some (very) old browser-switches:
[code]
Many items and overflow:hidden: (FF 71/Windows 10)
![grafik](https://user-images.githubusercontent.com/10461942/71692876-6972a500-2dab-11ea-8d4f-708a1138001d.png)
The vertical scrollbar comes from the outer div. But we miss a few pixels.

[2020-01-02 21:13] christophs78 commented on #5490
The root cause for the horizontal scrollbar must be some CSS-issue on IE and FF.

We may do some weird things like adding the following width-calculation.
[code]
But there should be a clean solution which addresses to root cause.
Maybe tomorrow. For today i´m to tired.

[2020-01-03 07:35] christophs78 commented on #5490
Just looked how https://material.angular.io/components/select/overview solves the horizontal scrollbar issue...

Surprise, surprise.....
![grafik](https://user-images.githubusercontent.com/10461942/71711917-54c1fb80-2e03-11ea-8c4c-a39b4fd3a50a.png)
They use the CSS `min-width: calc(100% + 32px);` trick.

And they use `text-overflow: ellipsis;`
![grafik](https://user-images.githubusercontent.com/10

[2020-01-03 08:21] #5493 closed, assigned to nobody

[2020-01-03 12:31] ghost commented on #3819
Upgraded 6.2 to 7.0 successfully too with help of this ticket.

@heatherita
As mentionned by @tandraschko

Replacing menuitem.setUrl() calls by menuitem.setOutcome() does it and you do not need to play with the contextPath,

Imo that is a dirty solution to use Faces.getRequestContextPath(), just forget setUrl

[2020-01-03 12:37] melloware commented on #5490
To me these both seem like reasonable CSS changes for the SelectOneMenu.  @mertsincan @tandraschko thoughts?

[2020-01-03 12:38] tandraschko commented on #3819
Yep, Url should only be used for external or non-faces internal Urls

[2020-01-03 12:39] tandraschko commented on #5490
looks god for me

[2020-01-03 12:45] melloware commented on #5490
@christophs78 would you like to submit a PR with your CSS changes for review?

[2020-01-03 12:58] christophs78 commented on #5490
Yes, PR is coming.

[2020-01-03 17:59] davegiwd opened #5494 "Adding type="number"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2020-01-03 18:06] melloware commented on #5494
@davegiwd You forgot to fill out the ticket.

[2020-01-03 18:33] stolp opened #5495 "DataExporter: NPE when using format xlsxstream without specifying options"
## 1) Environment
- PrimeFaces version: 8.0RC2
- Does it work on the newest released PrimeFaces version? Yes, 7.11
- Does it work on the newest sources in GitHub? No
- Application server + version: Does not matter
- Affected browsers: Does not matter

## 2) Expected behavior

Export should be possible

## 3) Actual behavior

Exporting yields the following exception:

Caused by: java.lang.NullPoint

[2020-01-03 18:34] melloware commented on #5495
Already fixed. See: https://github.com/primefaces/primefaces/issues/5469

[2020-01-03 18:34] #5495 closed, assigned to nobody

[2020-01-03 18:35] stolp commented on #5495
My bad, sorry.

[2020-01-03 18:35] melloware commented on #5495
No problem!

[2020-01-03 19:06] davegiwd opened #5496 "InputNumber: setting type="number" on InputNumber breaks following SelectOne controls"
Setting "type=number" on an InputNumber results in any subsequent SelectOne controls to not respond to clicks.

## 1) Environment
- PrimeFaces version: Behavior observed with both 8.0.RC1 and 7.0.11
- Application server + version: Tomee Plume 7.1.0 (running Mojarra 2.2.12)
- Affected browsers: Chrome, Firefox, IE11 tested. Same behavior on all 3. Also, same behavior on Chrome mobile

## 2) Expecte

[2020-01-03 19:08] davegiwd commented on #5494
Sorry. Somehow managed to submit while working on it. Please see #5496

[2020-01-03 19:08] #5494 closed, assigned to nobody

[2020-01-03 19:14] melloware commented on #5496
Getting this Javascript error in the console: `Uncaught Error: The input type "number" is not supported by autoNumeric`.

![image](https://user-images.githubusercontent.com/4399574/71743880-a5514d00-2e33-11ea-8681-4a76d2e368e3.png)

From the AutoNumeric docs : https://github.com/autoNumeric/autoNumeric

[2020-01-03 19:14] #5496 closed, assigned to nobody

[2020-01-03 19:17] tandraschko commented on #5496
please google next time, it was already discussed some time ago

[2020-01-03 19:24] stolp opened #5497 "DataTablePDFExporter: Accessing Document Object"
## 1) Environment
- PrimeFaces version: 8.0RC2
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Irrelevant
- Affected browsers: Irrelevant

## 2) Expected behavior

I like to extend the `DataTablePDFExporter` class to export a PDF document with landscape orientation.
For this, I must overload the `preExp

[2020-01-03 19:25] melloware commented on #5497
Let me investigate.

[2020-01-03 19:31] melloware commented on #5497
Just submitted PR please review.  I think it is a valuable improvement to this class.

It will allow you to override `getDocument()` to create your own instance of the Document.

[2020-01-03 21:15] stolp commented on #5497
Looks perfect for me. Thanks!

I also liked to add that the dataexporter interface in 8.0 is far more clearer and usable now than the one back in 7.0.

[2020-01-03 21:19] #5497 closed, assigned to melloware

[2020-01-04 07:47] christophs78 commented on #5490
To keep you updated:
`width: calc(100% + 30px);` does not do the job within the HTML/CSS/JS used/generated by PrimeFaces-SelectOneMenu:
![grafik](https://user-images.githubusercontent.com/10461942/71762348-5c020b80-2ece-11ea-94ee-97f8428dacbf.png)

adding only eg 10px is better but not perfect:
![grafik](https://user-images.githubusercontent.com/10461942/71762372-bbf8b200-2ece-11ea-8594-c397e828aa

[2020-01-05 04:13] mafaul commented on #5491
Tested, it works. Thank you very much.

[2020-01-07 20:37] melloware commented on #5453
Its the 10px padding.
[code]
Try adding this to your page and see if it fixes your issue.
[code]

[2020-01-08 02:07] maruTA-bis5 commented on #5453
There is still 2px difference. (source: https://github.com/maruTA-bis5/primefaces-test/commit/111a70ca53ccd86a7efea3bdcbf51d2ce7adec35)
(2px = left + right border width)
![image](https://user-images.githubusercontent.com/1310661/71944187-59712000-3206-11ea-8da5-29334c995f45.png)

[2020-01-08 12:27] melloware commented on #5453
Thanks for testing. you are right something is still off.

[2020-01-09 07:03] mertsincan opened #5501 "Add decimalSeparatorAlternative attribute to InputNumber"
Allow to declare an alternative decimal separator which is automatically replaced by `decimalCharacter` when typed.

[2020-01-09 07:04] #5501 closed, assigned to mertsincan

[2020-01-09 08:21] tpzstamp opened #5502 "InputTextarea: Autocomplete doesn't work in datatable"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version?
Not sure.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
Not sure.
- Application server + version:
Red Hat JBoss Enterprise  7.0
- Affected browsers:
Firefox

## 2) Expected behavior
I try to put the

[2020-01-09 08:25] tandraschko commented on #5502
Please follow the issue template

[2020-01-09 10:03] OBreidenbach opened #5503 "SelectOneRadio: with custom layout keyboard navigation does not work properly"
## 1) Environment
- PrimeFaces version: Showcase ->PrimeFaces-8.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version:
- Affected browsers: FF, Chrome, ...

## 2) Expected behavior
In custom layout the r

[2020-01-09 10:26] #5490 closed, assigned to christophs78

[2020-01-09 19:44] metaxmx opened #5504 "InputNumber: Regression in handling large numbers for value/minValue/maxValue after AutoNumeric update"
## 1) Environment
- PrimeFaces version: 7.0.11 (Elite)
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 9
- Affected browsers: Firefox tested

## 2) Expected behavior
The formatting/encoding of the decimal numbers in the `value`/`minValue`/`maxValue` is problematic for for large values (w

[2020-01-09 19:49] melloware commented on #5504
Good debugging.  Have you tried to tweak any of the code to get it working?  PR perhaps?

[2020-01-09 20:42] melloware opened #5506 "DataTable: DOM memory leak on widget.refresh()"
1) Environment
- PrimeFaces version: 7.0+
- Does it work on the newest released PrimeFaces version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: ALL
- Affected browsers: ALL

## 2) Expected behavior

When calling `widget.refresh(cfg)` there should not be multiple duplicate cloned THEAD objects.

## 3) Actual behavior

For scrollable datatable if you open F1

[2020-01-10 02:15] tpzstamp commented on #5502
I've revised my post following the template. Could you please mark it as valid and proceed to investigate? Thank you.

[2020-01-10 12:22] melloware commented on #5502
Can you use PrimeFaces Test project: https://github.com/primefaces/primefaces-test

And create a runnable sample for us to see and debug the problem?

[2020-01-10 14:35] bigbonsai opened #5508 "InputText: Floating Label is broken in firefox but works with edge and chrome."
## 1) Environment
- PrimeFaces-8.0-SNAPSHOT on Mojarra-2.3.13.
- Firefox latest 72.0.1 (64-Bit)

## 2) Expected behavior
The floating label should fit above the inputfield when input made.

## 4) Steps to reproduce
Open Showcase (https://www.primefaces.org/showcase/ui/input/inputText.xhtml) for inputText with firefox. Start entering content in the inputfield with the floating label.

[2020-01-10 14:58] Rapster opened #5509 "AutoUpdate: event/observer pattern"
Based on this https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/358

I'd like to be able to write something like this:
[code]

`on`: attribute indicating the kind of event to observe
`listener`: action to execute when `update-cart` is fired (before getting updated, being said I don't know if we should have a pre & post listener?)
`@obs`: retrieve client ids from comp

[2020-01-10 15:03] bigbonsai commented on #5508
The css rule gets not affected:
`.ui-float-label > input:focus ~ label, .ui-float-label > input.ui-state-filled ~ label, .ui-float-label > input:-webkit-autofill ~ label, .ui-float-label > textarea:focus ~ label, .ui-float-label > textarea.ui-state-filled ~ label, .ui-float-label > textarea:-webkit-autofill ~ label, .ui-float-label > .ui-inputwrapper-focus ~ label, .ui-float-label > .ui-inputwrapp

[2020-01-10 15:27] melloware commented on #5508
@bigbonsai can you add this CSS to your page and see if it fixes it.
[code]

[2020-01-10 15:50] bigbonsai commented on #5508
Yes adding the css to the page fixes it.

[2020-01-10 15:54] melloware opened #5511 "Mousewheel: Duplicate Plugins"
It looks like we have duplicate mousewheel plugins.

1. Old plugin: https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/jquery/jquery.mousewheel.js

This plugin is really old and no longer maintained.

2. Offical Jquery Plugin: https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/mousewheel/jquery.mo

[2020-01-10 16:00] bigbonsai commented on #5508
Your fix will only work on focus.
I removed the  -webkit-autofill rules in css and this fixes the issue.

[2020-01-10 16:06] melloware commented on #5508
Let me try that.

[2020-01-10 16:23] melloware commented on #5508
OK so those are there to solve if the fields ae auto filled by the browser like an Address form the floating label will move.  I feel like this might be a bug in Firefox.

[2020-01-10 17:32] melloware commented on #5508
OK i just submitted anothre fix.  By moving the webkit-autofills into their own section Firefox now works.

[2020-01-10 22:24] orange-buffalo commented on #3060
@melloware, unfortunately I will not be able to work on this PR. My project is migrating away from JSF stack, and this topic is no longer relevant for us. We can close this request if community has no interest in this feature.

[2020-01-10 22:36] melloware commented on #3060
I will leave it open. It will be sad to see you go your contributions to the community have been much appreciated.

[2020-01-11 04:52] tpzstamp commented on #5502
I'm not good at setting up the project environments via maven. Just created very very simple testing code in 3 files. I've reproduced it in JDK 1.8 and Tomcat 9. Could you please try it?
Btw, the code is not correctly formated here. I also attached them in the zip file. Thanks .

[code]
[code]
[code]
[inputTextarea_autocomplete.zip](https://github.com/primefaces/primefaces/files/4048985/inputTexta

[2020-01-11 13:39] melloware commented on #5502
OK I will give it a shot.  I formatted the code for you. Next time in GitHub you just need 3 ticks to start in end instead of 1 tick.

[2020-01-12 14:22] #5506 closed, assigned to melloware

[2020-01-12 14:26] tandraschko commented on #5509
maybe ´@event´ instead ´@sub´?

[2020-01-12 15:48] alfonx commented on #5504
Backport to 7.12 would be very much appreciated.

[2020-01-12 15:54] tandraschko commented on #5504
the changes are to big IMO for RC3
we will check it after the release

[2020-01-12 15:58] alfonx commented on #5504
JFI: This is a regression.. It worked great with all 7.0.0 to 7.0.10

[2020-01-12 20:45] Rapster commented on #5509
I kinda like `@sub` as it means subscribers, or maybe `@obs` for observers... I want short keyword and fluent reading so it can be read like "update `@id`", "update `@widgetvar`",  "update `@all`" Doesn't sound good with `@event` because it's not event that being updated but subscribers/observers/listeners to it

[2020-01-13 10:10] bigbonsai commented on #5508
This fix works perfect.
Thank you very much.

Close #5510

[2020-01-13 10:13] tandraschko commented on #5508
Please don't close it; the PR is still not merged

[2020-01-13 11:32] marcelocaser opened #5513 "DatePicker: Touch UI does not open correctly"
## 1) Environment
- PrimeFaces version: PrimeFaces-8.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 9 + JDK 13
- Affected browsers: Opera 65.0.3467.69 / Chrome 79.0.3945.79

## 2) Expected

[2020-01-13 12:36] melloware commented on #5513
@christophs78 Any chance you want to look at this one?  It is easily reproducible on the showcase.

[2020-01-13 12:46] melloware commented on #5502
Attached is a test case based on your example that proves the issue.

[pf-5502.zip](https://github.com/primefaces/primefaces/files/4053562/pf-5502.zip)

[2020-01-13 13:02] melloware commented on #5502
OK this might be complex to understand but add `autoResize="false"` to your InputTextArea in your datatable. That fixes it.

This is because when AutoResizing the InputText is a "Deferred" Widget and since the datatable is not  displaying it yet the render method never gets called to set up the InputTextArea.

By setting autoResize=false you are telling it not to be a deferred widget and this ever

[2020-01-13 13:02] #5502 closed, assigned to nobody

[2020-01-13 13:30] #5482 closed, assigned to nobody

[2020-01-13 14:10] tandraschko commented on #5482
@Rapster i commited a small refactoring, please review
i also changed the showcase
could someone please adjust the docus? i dont have much time this week

[2020-01-13 14:15] tandraschko commented on #5483
added TreeTable, not sure how easy it is

[2020-01-13 14:19] christophs78 commented on #5513
Yes, i´ll look at this.

[2020-01-13 14:20] Rapster commented on #5482
Arf... I was actually working on those changes, please next time let me know you plan to do something :wink:

[2020-01-13 15:29] melloware opened #5514 "DataTable: Unregister filter events on refresh()"
Similar to #3139

If you call `datatable.refresh(cfg)` it is not unbinding the old filter events thus when you filter the datatable it is calling multiple repeated filter events.   If you call refresh() 5 times and then filter you will see 5 filter AJAX events fire.  We do this for other events on the datatable.

PR coming.

[2020-01-13 15:50] #5514 closed, assigned to melloware

[2020-01-13 20:09] christophs78 commented on #5513
Does not occur with FF, Edge and IE.

[2020-01-13 20:17] christophs78 commented on #5513
Issue is located in `0-datepicker.js`, function `enableModality`.

[2020-01-13 20:29] melloware commented on #5513
Is it because now the new datepicker is appended to BODY by default and enable modality is doing
`$(document.body).append(this.mask).addClass('ui-overflow-hidden');`

or zIndex related?
`this.mask.css('z-index', String(parseInt(this.panel.css('z-index'), 10) - 1));`

[2020-01-13 20:47] christophs78 commented on #5513
Inline is already excluded from append to BODY. I will try the same for touchUI. (I will continue tomorrow. It´s getting 10pm in good old europe. Time to slow down and going to bed.)

[2020-01-13 21:03] tandraschko commented on #5483
I will create a new issue for the DataView tracking for RC3

[2020-01-13 21:04] tandraschko opened #5516 "DataView: add multiViewState support"
see: https://github.com/primefaces/primefaces/issues/5483

[2020-01-13 21:04] #5516 closed, assigned to nobody

[2020-01-14 04:10] tpzstamp commented on #5502
I see. Thank you, melloware.

[2020-01-14 06:49] PlassJ opened #5517 "TabView: with DataModel"
## 1) Environment
- PrimeFaces version: 7.11

## 2) Expected behavior
Should be possible to assign an id ("#{car.id}") to the tab.

## 3) Actual behavior
Id will be always be empty and an Exception occurs.

[code]

## 4) Steps to reproduce
https://www.primefaces.org/showcase/ui/panel/tabView.xhtml

## 5) Sample XHTML (Example created from Showcase)
[code]

## 6) Sample bean
See Showcase TabbedView

[2020-01-14 08:53] tandraschko opened #5518 "SelectOneMenu: optimize perf"

[2020-01-14 09:04] #5518 closed, assigned to nobody

[2020-01-14 10:33] fmarangon commented on #5211
This bugfix caused an issue when using **row expansion** on a **frozen datatable**.

The line
            **this.updateExpandedRowsColspan();**
in method **init** (**datatable.js**, row **40**) calls **getExpandedRows** which relies on **this.frozenTbody** being already initialized, but at this point method **setupScrolling()** hasn't been called yet (it's called by **this.renderDeferred();** in m

[2020-01-14 10:55] fanste commented on #5211
PR #5519

[2020-01-14 12:16] melloware commented on #5517
@PlassJ Can you post the stacktrace that you get?  Does this happen on form submit?

[2020-01-14 12:23] melloware commented on #5517
I must not be understanding the issue because I was able to assign an ID to the tabview.
[code]

And I can see that ID in the HTML and in the JS console.

[2020-01-14 12:31] tandraschko opened #5520 "[perf] use JS native .closest when lookup parent overlay containers"

[2020-01-14 12:48] #5429 closed, assigned to mertsincan

[2020-01-14 12:57] Gyurmatag commented on #3054
I'm facing the same problem. @Zerounodue have you got any solution for this?

[2020-01-14 12:58] #5508 closed, assigned to melloware

[2020-01-14 13:15] eliakocher commented on #3054
@Gyurmatag  I have found no solution to this problem.

[2020-01-14 16:17] christophs78 commented on #5513
Maybe same (already fixed) issue for PrimeNG-Calendar: https://github.com/primefaces/primeng/issues/7389

and some more... https://github.com/primefaces/primeng/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+touch+calendar

[2020-01-14 16:22] christophs78 commented on #5513
![grafik](https://user-images.githubusercontent.com/10461942/72361890-7c15a400-36f2-11ea-883c-e9334c8f5121.png)

[2020-01-14 18:55] #5511 closed, assigned to melloware

[2020-01-15 06:31] PlassJ commented on #5517
@melloware Thank you for your fast reply.

If have updated my initial issue report.
It is all about giving the tab an id depending on the var of the tabView

[2020-01-15 08:57] christophs78 opened #5522 "SelectOneMenu: filter does not use 100% width"
## 1) Environment
- PrimeFaces version: 7.0.0
- Does it work on the newest released PrimeFaces version? Version? No, 8.0-SNAPSHOT
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: does not matter
- Affected browsers: does not matter

## 2) Expected behavior
Filter-Input-Field sh

[2020-01-15 08:59] christophs78 commented on #5522
We are able to fix this with:
[code]
Can we add this OOTB to PrimeFaces? (form.css)

[2020-01-15 09:08] tandraschko commented on #5522
+1 from my side
@mertsincan ?

[2020-01-15 10:50] matinh opened #5523 "DataTable: rowsPerPage from paginator broken after using a filter"
## 1) Environment
- PrimeFaces version: 8.0-SNAPSHOT (commit 6b6c2be from 2020-01-15)
- Does it work on the newest released PrimeFaces version? Version? It works on 7.0, can't test 7.0.x.
- Does it work on the newest sources in GitHub? No, it's broken.
- Application server + version: Jetty 9.4.15 from primefaces-test
- Affected browsers: Tested with Firefox 67 and 71 but probably independent from

[2020-01-15 12:08] melloware commented on #5522
+1 from me too.

[2020-01-15 12:15] melloware commented on #5523
@matinh Our test team has been testing one of my apps on PF 8.0 and just discovered this issue as well.  Since you were involved in the original PR do you have a proposed fix for this issue?

[2020-01-15 12:26] matinh commented on #5523
I think I found the cause, which is actually the same as described in https://github.com/primefaces/primefaces/issues/4931#issuecomment-505859004: `UIData.setRows()` is called by [`FilterFeature` ](https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/datatable/feature/FilterFeature.java) from the `DataTable` component:
[code]

This is just, what has been fixe

[2020-01-15 12:47] melloware commented on #5523
@matinh I am testing your fix and it still doesn't work.   Do these steps.

1. Set RowsPerPage to 1.
2. Filter String field by character "o".
3. use the Pagintor to go to Page 2.
4. Now set RowsPerPage back to 5...nothing happens.  That should cause the table to repaint with 5 rows.

[2020-01-15 12:59] melloware commented on #5523
Looking at before your original PR the only way I can seem to fix it is by always setting the "data" values like in this closed PR: https://github.com/primefaces/primefaces/pull/5524/files

[2020-01-15 13:16] melloware commented on #5517
@PlassJ thanks for the updated issue!  See the answer from BalusC on why this is not possible what you are trying to do and he offers 3 solutions.

https://stackoverflow.com/questions/6884801/using-id-causes-java-lang-illegalargumentexception-empty-id-attribute

[2020-01-15 13:16] #5517 closed, assigned to nobody

[2020-01-15 13:17] #5513 closed, assigned to christophs78

[2020-01-15 13:45] matinh commented on #5523
As discussed in the PR #5524 always setting the data values re-introduces #4931 and is thus no valid solution.
So another idea for a fix would be: overwrite `setRows()` and `setFirst()` methods in `UIData` and check if there is a writable value-expression assigned. If it is, set the value of the VE, just like it is now done in `UIData.updatePaginationData()`. This way we don't need to change all c

[2020-01-15 13:46] melloware commented on #5523
I say give it a try...

[2020-01-15 14:56] matinh commented on #5523
@melloware Ok, I now created PR #5526 which does as suggested above: the fix is in `setFirst()`/`setRow()` so all problematic places should be caught now.

In my tests the reproducers for this issue and for #4931 work now. Could you please review and also check your use-cases.

[2020-01-15 19:08] melloware commented on #5523
OK I just submitted a PR which fixes all the issues in #5523, #4931 and for #5493 and i regression tested them all.  @matinh can you give my PR a shot for all your use cases.

[2020-01-16 07:03] PlassJ commented on #5517
@melloware Thank you again

[2020-01-16 09:05] astranCZ commented on #5230
Here is sample (using https://github.com/primefaces/primefaces-test) with defect
[primefaces-test-scrool.zip](https://github.com/primefaces/primefaces/files/4070195/primefaces-test-scrool.zip)

[2020-01-16 09:31] JeeDevUser commented on #5230
Excellent, thanks @ astranCZ .
@melloware, here is reproducible sample :-)

[2020-01-16 10:30] carlbradwell17 opened #5528 "DatePicker : Localization of Time"
## 1) Environment
- PrimeFaces version: 8.0.RC2
- Does it work on the newest released PrimeFaces version? Not working on 7.0 either

## 2) Expected behavior

When a datepicker has the showTime option set to true, or the timeOnly option set to true, the time should be localised, according to the locale.

This is possible with the calendar component by setting a pattern, although for datepicker the

[2020-01-16 11:14] tuerker opened #5529 "Schedule:InitialDate is ignored"
The initialDate of the schedule component is simply ignored.

This bug is probably caused by the line 159 in class ScheduleRenderer.java

wb.attr("defaultDate", ((LocalDate) initialDate).format(dateTimeFormatter), null);

which should be

wb.attr("initialDate", ((LocalDate) initialDate).format(dateTimeFormatter), null);

Many thanks in advanced for fixing. Best regards
Can.

## 1) Environment
- Pr

[2020-01-16 12:06] melloware commented on #5528
@christophs78 can you take a look?

[2020-01-16 12:08] #5522 closed, assigned to christophs78

[2020-01-16 12:23] #5523 closed, assigned to melloware

[2020-01-16 12:25] melloware commented on #5529
@tuerker I can see this in the FullCalendar docs: https://fullcalendar.io/docs/defaultDate

I don't see anything about "initialDate"?  Can you point to some documentation?

[2020-01-16 12:29] melloware opened #5530 "DataXXX: html() vs innerHTML perf improvement"
Forum Post: https://forum.primefaces.org/viewtopic.php?f=3&t=60866

Components like the DataTable replacing the entire section of HTML using Jquery .html(replace) method can cause browser performance issues.

Stack Overflow: https://stackoverflow.com/questions/18393981/append-vs-html-vs-innerhtml-performance

@stolp tested it using a particular datatable he was seeing issues with and the result wa

[2020-01-16 12:37] tandraschko commented on #5530
JFYI: i'm not sure if we can merge it
it could break jQuery UI 'remove', which is ESSENTIAL for widget destruction:
https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/core/core.widget.js#L88

We must check how they implemented it before or at best migrate to native DOMNodeRemoved and test ;)

[2020-01-16 12:48] christophs78 commented on #5528
Yes.

[2020-01-16 12:57] christophs78 commented on #5528
org.primefaces.component.datepicker.DatePickerBase#calculateTimeOnlyPattern

[code]

[2020-01-16 13:00] stolp commented on #5530
Please let me know where I can help with testing.

[2020-01-16 13:00] christophs78 commented on #5528
@carlbradwell17: Does it help to use `hourFormat="12"`?

[2020-01-16 13:07] melloware commented on #5230
@mertsincan we now have a reproducer for you to look at the issue

[2020-01-16 13:13] melloware commented on #5530
@tandraschko I agree we should test but I can't find ANY documention on the Jquery "remove" event and when its supposed to fire.  I have Googled and went through all the events on the Jquery site?  Can you point me to something so I can do some research?

[2020-01-16 13:24] melloware commented on #5530
Also I think we will be OK on that remove because it is attached to the **jq** object.
[code]
But we are never calling innerHTML on the **jq** object only something inside the **jq** object like **TBODY** of the datatable.  So we aren't actually replacing the main DIV itself only an element contained in the DIV

[2020-01-16 13:27] melloware opened #5531 "TreeTable: JS Error on Sort"
Navigate to showcase Treetable Sort example: http://primefaces.org/showcase/ui/data/treetable/sort.xhtml

Try and sort a column and you get this error:
[code]

[2020-01-16 13:32] melloware commented on #5531
PR on the way I see the issue it was related to #5332

[2020-01-16 13:35] tandraschko commented on #5530
sure it is but you need to check if the child widgets#destroy methods are still called
maybe the jquery append method had the 'remove' logic - or they also rely on DOMNodeRemoved, no idea

[2020-01-16 13:48] #5531 closed, assigned to melloware

[2020-01-16 13:52] carlbradwell17 commented on #5528
Hi,
My application uses java.util.Locale and java.time.format.DateTimeFormatterBuilder to produce the patterns for datetimes.
For a language such as Danish (da), the desired pattern is **dd/MM/y HH.mm**, where the seperator is dot rather than colon.
This works fine with the Calendar component, as enabling the time picker is done by providing time as part of the pattern, but not in datepicker where

[2020-01-16 13:59] melloware commented on #5530
@stolp I don't think this trick will work.  See the PR conversation as to why its faster and why we can't implement this fix.  https://github.com/primefaces/primefaces/pull/5533

[2020-01-16 13:59] #5530 closed, assigned to melloware

[2020-01-16 14:51] stolp commented on #5530
I have verified that initializations are indeed not executed for SelectOne menus. Since in my case I was using p:cellEditor around the SelectOne menues this went by unnoticed.

This is too bad, I will have to cut down on available entries per page to make the application usable.

Thank you very much for your time and effort.

[2020-01-16 14:58] melloware commented on #5529
@tuerker the defaultDate property is correct if you press F12 in your browser and open the console you will see this error.
[code]

[2020-01-16 15:08] melloware commented on #5530
@stolp  on that specific page you can use my prototype override trick if that improves your performance on that page and you are not seeing any issues.  We just can't add it to the default for all datatables but there is nothing stopping you from using that in that use case.

[2020-01-16 15:10] stolp commented on #5530
I'm stupid. Thanks!

[2020-01-16 15:21] melloware commented on #5529
@christophs78 I am having a little trouble debugging this.  I can see the Renderer sends the proper JSON to the browser:
[code]

However the above error occurs.  The documentation says default date is a valid format and that it will use the timezone or "local" if none listed.  However we are using the moment.js plugin so not sure if this is an error thinking its a moment.js date?

[2020-01-16 16:41] christophs78 commented on #5528
Ok. I understand. :-)
To be honest this is a feature i don´t need in my day-job.
And the DatePicker-component was designed by the original author in a way that does not make it easy to do what you expect.
Is it an option for you to provide a PR?

The method `calculateTimeOnlyPattern` is also used to format the pattern for the client. So it´s maybe not enough to modify/extend only this method.

[2020-01-16 16:43] christophs78 commented on #5529
We need to add this usecase to https://www.primefaces.org/showcase/ui/data/schedule/configureable.xhtml. :-)

[2020-01-16 16:56] christophs78 commented on #5529
I´ll need to check this with the non-minified JS of FullCalendar and moment.js. With the minified versions it really hard to debug this. Even on chrome.
I´ll look at this within the next few days.

[2020-01-16 17:37] melloware commented on #5529
Thanks yeah maybe i will download the non minified to get a better stack trace. I will also update the Showcase usecase too.

[2020-01-16 17:45] melloware commented on #5529
Added Showcase Example: https://github.com/primefaces/showcase-facelift/pull/115

[2020-01-16 17:57] melloware commented on #5529
Non Minified stack trace:
[code]

[2020-01-16 19:57] christophs78 commented on #5529
The solution is so simple. :-)
Only needed to remove 3 lines of unnecessary code that came from the old FullCalendar 3.x - integration.

[2020-01-16 20:00] #5529 closed, assigned to christophs78

[2020-01-16 20:01] melloware commented on #5529
I can't believe I didn't see that!  Thanks for the fix.

[2020-01-16 20:19] melloware commented on #3261
closing as invalid.  Please provide a runnable sample using the Primefaces Test project.  I can't understand what your actual issue is.

[2020-01-16 20:19] #3261 closed, assigned to nobody

[2020-01-16 20:21] melloware commented on #3229
This is already possible with currentPageReportTemplate {totalRecords}...
[code]

[2020-01-16 20:21] #3229 closed, assigned to nobody

[2020-01-16 20:46] melloware commented on #3254
Since this won't be implemented in the native jquery Calendar I am closing this feature request.

[2020-01-16 20:46] #3254 closed, assigned to nobody

[2020-01-16 20:49] melloware commented on #3325
This is available in the new PF DatePicker see this example and click on the "Button Bar" eample in the showcase: https://www.primefaces.org/showcase/ui/input/datepicker/datePicker.xhtml

[2020-01-16 20:49] #3325 closed, assigned to nobody

[2020-01-17 07:55] tuerker opened #5535 "DatePicker:TimeOnly has wrong icons for picker down"
When p:datePicker is used with the attribute timeOnly="true", the icons for the picker down are wrong (exactly the same as for picker up) -> see attached screenshot.

![Screenshot from 2020-01-17 08-37-17](https://user-images.githubusercontent.com/10051373/72593657-cb7fee00-3905-11ea-95d6-a1e7978a36bb.png)

The problem is caused by a typo: use ui-icon-car**e**t-1-s instead of ui-icon-car**a**t-1-s

[2020-01-17 12:34] melloware commented on #5535
I can't reproduce with 8.0.RC2.  See screenshot:
![image](https://user-images.githubusercontent.com/4399574/72612757-aedeb880-38fb-11ea-8199-9fda2f59cbab.png)

Here is my reproducer just run "mvn clean jetty:run-exploded" and navigate to: http://localhost:8080/primefaces-test/test.xhtml

[pf-5535.zip](https://github.com/primefaces/primefaces/files/4076805/pf-5535.zip)

What "theme" are you using?

[2020-01-17 12:45] stolp opened #5536 "PrimeIcons: Documentation and showcase information missing"
## 1) Environment
- PrimeFaces version: 8.0RC2
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Not relevant
- Affected browsers: Not relevant

## 2) Expected behavior

The documentation on how to activate PrimeIcons is missing from the 8.0 documentation. Likewise the showcase is missing the vital part t

[2020-01-17 13:05] tuerker commented on #5535
Thanks for the feedback. Your example is convincing. I will have a closer view on our side and let you know about the outcome.

[2020-01-17 13:14] melloware commented on #5535
It might be your THEME. Check what theme you are using I am using Omega in the example above.

[2020-01-17 13:14] melloware commented on #5536
I will take care of this.

[2020-01-17 13:18] marcelocaser opened #5537 "DatePicker: Unable to select date."
## 1) Environment
- PrimeFaces version: PrimeFaces-8.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? not tested
- Does it work on the newest sources in GitHub? not tested
- Application server + version: not relevant
- Affected browsers: All

## 2) Expected behavior

After selecting a date, you can change it!

## 3) Actual behavior

You cannot select another date when

[2020-01-17 13:26] melloware commented on #5537
Agree I have verified this in the showcase. It will only let you select another date once you click outside the input field.

[2020-01-17 13:35] melloware commented on #5537
@christophs78 When I debug this it works if I step through the debugger because in the `showOverlay` method the panel.show() is showing it. However not debugging it does not show.  So I feel like this is a setTimeout issue you had used before and then removed I think we need to put that back.  it feels like it needs to be delayed.

[2020-01-17 13:41] melloware commented on #5537
I have verified a fix and submitted a PR.  The setTimeout of 100 ms delays fixes it and the panel shows every time

[2020-01-17 13:52] tuerker commented on #5535
I am using the attached theme, which was created via the standard JQuery Theme Roller  https://jqueryui.com/themeroller/

[jquery-ui-1.12.1.custom.zip](https://github.com/primefaces/primefaces/files/4077061/jquery-ui-1.12.1.custom.zip)

This generated theme does not include any ui-icon-carat-* icons but there ui-icon-caret-* icons.

On https://jqueryui.com/upgrade-guide/1.12/#theme it is stated th

[2020-01-17 13:59] melloware commented on #5535
PF kept that most likely for backward compatibility those ThemeRoller themes are being phased out in favor of their newer non ThemeRoller themes like Omega, Nova, and Luna that are free and premium themes.

In the PF jar they still include 1 legacy themeRoller them called Aristo you can find here: https://github.com/primefaces/primefaces/tree/master/src/main/resources/META-INF/resources/primefaces

[2020-01-17 14:33] melloware commented on #5536
Check this out: https://primefaces.github.io/primefaces/8_0/#/core/fonticons

[2020-01-17 14:37] stolp commented on #5536
+1 from me

[2020-01-17 14:38] melloware commented on #5536
Working on updating showcase next.

[2020-01-17 14:39] #5536 closed, assigned to melloware

[2020-01-17 14:43] stolp commented on #5536
Thanks for including the FontAwesome 5 part, I was not aware of this before.

[2020-01-17 14:47] tuerker commented on #5535
Sure, cloning all ui-icon-caret-* to ui-icon-carat-* classes worked.

Nevertheless, PrimeFaces should use the ui-icon-caret-* classes instead of the deprecated ui-icon-carat-* classes.

[2020-01-17 14:53] melloware commented on #5536
That is how i run my production apps.  FontAwesome 5 has so many more options.

[2020-01-17 15:02] melloware commented on #5535
well like i said they are phasing out ThemeRoller entirely so i doubt they will update it since their Premium Theme use "carat".

[2020-01-17 15:02] #5535 closed, assigned to nobody

[2020-01-17 18:42] melloware commented on #4628
Reproducer:
[pf-4628.zip](https://github.com/primefaces/primefaces/files/4078356/pf-4628.zip)

[2020-01-17 18:50] melloware commented on #3857
@Rapster any more on this issue?

[2020-01-17 18:53] melloware commented on #3381
Closing as a workaround is provided and PrimeTek will probably not fix this as it is done on purpose to meet other requirements.

[2020-01-17 18:53] #3381 closed, assigned to nobody

[2020-01-17 19:43] #5537 closed, assigned to nobody

[2020-01-17 20:29] melloware commented on #5400
I just updated the docs on how to use FontAwesome5 with PrimeFaces:
https://primefaces.github.io/primefaces/8_0/#/core/fonticons?id=fontawesome-5x-or-higher

[2020-01-17 21:49] stolp commented on #5400
I followed the instructions for FontAwesome5 and it works great. This came just at the right time. Thanks a lot!

[2020-01-18 11:09] Rapster commented on #3857
I created a PR I let @tandraschko decides whether it should be in this release or not

[2020-01-18 16:06] #3857 closed, assigned to Rapster

[2020-01-18 16:56] stolp opened #5544 "Datatable: Unable to change paginatorPosition once table is rendered"
## 1) Environment
- PrimeFaces version: 8.0RC2
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? Not tested
- Application server + version: Tomcat 9
- Affected browsers: all

## 2) Expected behavior

I try to dynamically switch the paginatorPosition based on the number of rows of the table and the selected rowsPerPage to only display the b

[2020-01-18 17:13] tandraschko commented on #5544
we always need a reproducer ;)

[2020-01-18 17:14] stolp commented on #5544
I put something together ... just checking if this is supported anyway.

[2020-01-18 19:15] stolp commented on #5544
I added a reproducer. Please let me know i you find something missing or wrong.

[pf-5544.zip](https://github.com/primefaces/primefaces/files/4081537/pf-5544.zip)

[2020-01-19 12:25] tandraschko opened #5546 "DataGrid: add multiViewState"

[2020-01-19 12:25] #5546 closed, assigned to nobody

[2020-01-20 13:44] christophs78 opened #5547 "FileUpload: support chunking and resume"
PrimeFaces FileUpload (as of 8.0) is not ideal for uploading realy large files. (hundreds of MB or even larger)
- There is no support for resume
- (as far as i understand) we need a good amount RAM because the uploaded file has to fit into the memory

There are libraries like http://www.resumablejs.com/ and https://github.com/blueimp/jQuery-File-Upload which try to solve both requirements. What do

[2020-01-20 14:59] marcelocaser commented on #4464
I think the problem still persists. When clicking on the 'crop' button an error page is generated!

[2020-01-21 10:20] adjiandov opened #5548 "Dialog: keeping the html/body scroll when showing modal dialog"
## 1) Environment
- PrimeFaces version: 6.2.2
- Application server + version: JBoss Wildfly 10.0.0
- Affected browsers: all

## 2) Expected behavior
I would like to either override or have a parameter to decide if the scroll in the modal background should be hidden or not.
...

## 3) Actual behavior
When a modal dialog is shown the html/body tags overflow property is set to hidden. for pages that

[2020-01-21 10:36] #5548 closed, assigned to nobody

[2020-01-21 10:37] adjiandov commented on #5548
Please remove this issue.

[2020-01-21 10:48] adjiandov commented on #3423
For me as I have to stay on 6.2.2, is there any method I can override in order to have the same outcome as in 6.3? Thank you

[2020-01-21 13:43] melloware commented on #5548
Closing an issue is all you can do there is no delete issue.

[2020-01-21 13:44] melloware commented on #4464
Ahh that is a new issue please open a new issue.

[2020-01-21 13:53] marcelocaser opened #5549 "ImageCropper: error page"
## 1) Environment
- PrimeFaces version: PrimeFaces-8.0-SNAPSHOT

## 2) Expected behavior

The image to be cropped.

## 3) Actual behavior

As you can see in the showcase, a page error is generated after clicking on the 'Crop' button

## 4) Steps to reproduce

Open Cropper in showcase and than click on the 'Crop' button.

## 5) Sample XHTML

Not necessary

## 6) Sample bean

Not necessary

[2020-01-21 15:06] Rapster commented on #5549
Not reproducible with the latest snapshot (that's why it's important to follow issue template :wink:)

[2020-01-21 15:06] #5549 closed, assigned to nobody

[2020-01-21 15:07] MatthiasScherrerFGCZ commented on #5523
Addendum: Even without any filtering, the issue persists.

1. Go to the showcase (https://www.primefaces.org/showcase/ui/data/datatable/paginator.xhtml) where the default rows per page is 10.
2. Go to page 5.
3. Select 15 from the rows per page drop down.
4. Nothing happens.

Is this also fixed by 0b3bab65696a6730b453ca8ac67c6cf91c0f9775?

[2020-01-22 08:07] matinh commented on #5523
You are right. And this is for sure related to the original problem.
But could you please open a separate issue for it and link it to this one. The original issues seems to be fixed.

[2020-01-22 09:29] adupeyron opened #5550 "Tree: ContextMenu is not working in 8.0RC1 showcase"
## 1) Environment
- PrimeFaces version: 8.0RC1

## 2) Expected behavior
ContextMenu is displayed, and different based on nodeType

## 3) Actual behavior
ContextMenu is not displayed

## 4) Steps to reproduce
showcase Tree: ContextMenu in 8.0RC1
https://www.primefaces.org/showcase/ui/data/tree/contextMenu.xhtml

[2020-01-22 09:29] #5466 closed, assigned to melloware

[2020-01-22 09:30] tandraschko commented on #5547
If you would like to work on it - sure :)

[2020-01-22 09:33] tandraschko commented on #5550
Confirmed; Can someone check it?

[2020-01-22 10:33] stolp commented on #5544
I am not sure that this is really an enhancement request.

Shouldn't the row selection event trigger a redraw of the table component?

In this case I think it is a bug.

[2020-01-22 11:49] tuerker opened #5551 "DatePicker: Add minTime and maxTime attributes"
Currently, the p:calendar component provides the attributes minHour and minMinute as well as maxHour and maxMinute, but these attributes cannot really be used to restrict a valid time span from which a user might select the time.

Assume, I want to restrict the time the user can choose to any time in the time interval 09:00-17:00.
If I use minHour="9", minMinute="0", maxHour="17" and maxMinute="0"

[2020-01-22 12:43] christophs78 commented on #5551
@tuerker : You may use the DatePicker-component. DatePicker is the succesor of Calendar and already has this feature. (see https://www.primefaces.org/showcase/ui/input/datepicker/datePickerJava8.xhtml)
Just wait for the PrimeFaces 8.0-release. (DatePicker in PrimeFaces 7.0 is buggy)

[2020-01-22 12:44] christophs78 commented on #5547
I´ll look at this at some point in the future.

[2020-01-22 12:52] melloware commented on #5549
@marcelocaser When I run the showcase locally this does not happen so I will wait and see when the next time the showcase is deployed to the public if the Cropper is working ok.

[2020-01-22 12:55] melloware commented on #5523
@ProgrammingIsAwesome @matinh I just tested the showcase locally and its working fine.  The showcase has not been deployed since we made this fix so I can say yes your issue is fixed.

[2020-01-22 13:19] melloware commented on #5550
The fix for ticket https://github.com/primefaces/primefaces/issues/5069 is what broke this.

@fanste Can you look at your fix? If not I will have no choice but to revert it for the 8.0 release.

[2020-01-22 13:21] marcelocaser commented on #5549
thanks @melloware! thank you for your attention!!

[2020-01-22 14:32] tuerker commented on #5551
Dear christoph, thanks for the hint. We will return back to the datePicker (which we replaced by the Calendar because the datepicker was buggy in PF7).

Nevertheless, the datepicker also does not support the requested feature. As in the calendar component, there are only mindate and maxdate attributes but i am requiring a datetime in a given mindate and maxdate interval and ontop of that only time

[2020-01-22 14:35] melloware commented on #5520
@tandraschko I don't think closest is supported in IE.  See: https://developer.mozilla.org/en-US/docs/Web/API/Element/closest

I think we will have to use a polyfill. I am getting "Object doesn't support property or method closest".

[2020-01-22 14:58] gambit4348 opened #5552 "PhotoCam: when will it be fixed in Comunity version?"
1) Environment
- PrimeFaces version: **7.0 Community**
- Does it work on the newest released PrimeFaces version? Version? **Possibly YES**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **Not checked**
- Application server + version: **JBoss 7.1.3**
- Affected browsers: **Google Chrome**

2) Expected behavior

[2020-01-22 15:00] melloware commented on #5552
It will be fixed when Community release 8.0 is out.  There is no Community fixes for 7.0 only Elite releases.

[2020-01-22 15:00] #5552 closed, assigned to nobody

[2020-01-22 15:09] christophs78 commented on #5551
mindate- and maxdate-DatePicker-attributes are a bit missleading. You can bind them to java.time.LocalTime. (see https://primefaces.github.io/primefaces/8_0/#/components/datepicker)
So you may have one datePicker with a value-binding to java.time.LocalDate and another datePicker (with timeOnly=true and minDate=someLocalTime and maxDate=someLocalTime) with a value-binding to java.time.LocalTime.
Co

[2020-01-22 15:14] tandraschko commented on #5520
i already added a polyfill ;)

[2020-01-22 15:18] melloware commented on #5520
OK i see the polyfill now but I am getting this error in IE11. I am wondering if its related to MOVE_SCRIPTS_TO_BOTTOM.

[2020-01-22 15:27] melloware commented on #5520
OK I found the problem.  My maven pom.xml was not updated so it did not include the script.  Closing the ticket.

[2020-01-22 15:27] #5520 closed, assigned to nobody

[2020-01-22 16:13] #5550 closed, assigned to nobody

[2020-01-22 16:17] melloware commented on #5544
i don't think pagination retriggers a redraw of the whole table it only replaces the TBODY I believe.  If you step through the debugger in the browser you will see it remove the old rows and replace the new ones.  So I think this is an enhancement.

See code below which executes after pagination.

[code]

[2020-01-22 16:18] fanste commented on #5550
Nothing to do for me anymore, right? Thanks for providing the fix

[2020-01-22 16:19] melloware commented on #5550
@fanste Nope you are good I worked it out!

[2020-01-22 16:23] tuerker commented on #5551
No, i want to have a single datepicker where on the upper part i select the date and in the lower part i select the time. the add-on that is needed is the selectable time must come from a given interval set by mintime and maxtime.

[2020-01-22 16:25] tuerker commented on #5551
This is similar to the minHour and maxHour of p:calendar but goes beyond by providing the manTim and maxTime as LocalTime values.

[2020-01-22 17:33] MatthiasScherrerFGCZ commented on #5523
@matinh @melloware So should I still make a separate issue and link to this one for completeness' sake?

[2020-01-22 17:51] melloware commented on #5523
No that is not necessary as it is covered by this issue.

[2020-01-22 17:52] christophs78 commented on #5551
I understand your usecase. And i also think it´s really useful.
Just try to think what we can/should do. :-)

1) PF-Calendar is based on jQueryUI. And that´s problematic because jQueryUI is almost dead since 2017. This is why PF-DatePicker was introduced. (There is only minimal life support to jQueryUI to keep it working with newer jQuery-versions.)
But https://trentrichardson.com/examples/timepic

[2020-01-22 20:01] tandraschko commented on #5551
@christophs78 in general i would not further enhance p:calendar with own code, we should try to make datePicker better

[2020-01-22 20:23] tuerker commented on #5551
i think that tandraschko's proposal should be the way to go.

in the meanwhile I will solve my problem with a validator which is anyhow needed for realizing other constraints, too.

many thanks for your efforts.

[2020-01-22 20:47] melloware commented on #521
This appears to be fixed in the latest showcase so closing the issue.

[2020-01-22 20:47] #521 closed, assigned to nobody

[2020-01-23 06:45] kaiwinter opened #5554 "Calendar: LocalDateTime validation too lenient"
Validation of `java.util.Date` is more strict than the validation of `LocalDateTime`. Example see below. Before PrimeFaces 8 I was using a custom Converter which sets `DateTimeFormatter` to `ResolverStyle.STRICT`. This would lead to the same behavior for `LocalDateTime` as for `java.util.Date`.
I think [`BaseCalendarRenderer:convertToJava8DateTimeAPI`](https://github.com/primefaces/primefaces/blob

[2020-01-23 08:30] tandraschko commented on #5554
@christophs78 WDYT?

[2020-01-23 08:49] christophs78 commented on #5554
We should make this configureable via a new ResolverStyle-attribute. (IMO it depends on the usecase what´s "right".)
And we should do this for Calendar and DatePicker.
PR is welcome. (Please also add a few UnitTest´s for this.)

[2020-01-23 08:55] adupeyron commented on #5550
ok its working and ok with different context menu based on nodeType
Thanks

[2020-01-23 09:11] kaiwinter commented on #5554
OK, I'm working on this.

[2020-01-23 09:27] praveen22goal opened #5555 "PrimeFaces 6.1.2 Picklist: browser crash Issue on transfer 4000+ records"
## 1) Environment
- PrimeFaces version: 6.1.2
- Does it work on the newest released PrimeFaces version? Version? No Tried in Version 7
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
No, I tried with steps https://github.com/primefaces/primefaces/issues/3675 but not works for me

- Application server + version:

[2020-01-23 09:30] tandraschko commented on #5555
Duplicate of? https://github.com/primefaces/primefaces/issues/4320

[2020-01-23 09:32] #5555 closed, assigned to nobody

[2020-01-23 09:43] praveen22goal commented on #5555
https://github.com/primefaces/primefaces/issues/4320 for filter, we are not using filter.. During transfer browser gets crashed or could you please provide the js file for the fix?

[2020-01-23 09:44] tandraschko commented on #5555
try 6.2.14 if it's fixed.
I dont have to time provide custom fixes, i just do it in my sparetime here.

[2020-01-23 11:26] praveen22goal commented on #5555
added effect="none" and its working fine.

<p:pickList id="pickList" value="#{pickDemoBean.testNumber}"
	   var="numbers" itemLabel="#{numbers}" itemValue="#{numbers}" effect="none" />

[2020-01-23 12:34] melloware commented on #5555
Yep I was going to suggest effect="none" next as the animation is really expensive when you have that many items.

[2020-01-23 12:37] melloware commented on #5550
Excellent thanks for reporting it and testing.

[2020-01-23 13:18] mertsincan opened #5557 "Calendar component xss vulnerability"
Reported By PRO User;

[code]

[2020-01-23 13:19] #5557 closed, assigned to mertsincan

[2020-01-23 13:39] melloware commented on #5503
I will admit i thought this was going to be easy to fix but its actually quite tricky.

[2020-01-23 14:04] melloware commented on #5401
Unfortunately I think this truly is an IE bug that PF cannot fix.  I swapped out the PrimeFaces Inputtext for a regular native input and it still happens.   Its like IE11 isn't detecting the focus and leaving the placeholder text.  I would say report it to Microsoft but I doubt you will get any fix since IE is in maintenance mode.

[code]

[2020-01-23 14:08] melloware commented on #5227
@christophs78 I say we write a note in the documentation and then close this ticket.

[2020-01-23 14:56] melloware commented on #5401
I found another person not using PrimeFaces that has the same issue with IE11:
https://stackoverflow.com/questions/37018143/placeholder-text-is-editable

I am going to close this ticket for now as WontFix

[2020-01-23 14:56] #5401 closed, assigned to nobody

[2020-01-23 16:11] MatthiasScherrerFGCZ opened #5558 "DatePicker: Date picker not showing/disappearing in popup mode"
The date picker is not showing resp. disappearing when clicked if there is not enough space to display it, i.e., after a resize or if the window is small from the beginning.
On Firefox (v72.0.1) it works, however on Chrome and Chromium it does not. See the three short videos attached in the zip showing the one working (FF) as well as the two not working examples (Chrome and Chromium).
[datePicker_

[2020-01-23 16:14] melloware commented on #5558
I believe this is already fixed.  Have you tested it locally with the latest 8.0-SNAPSHOT?
See: https://github.com/primefaces/primefaces/issues/5513

The Showcase is still using 8.0.RC1 and is behind the current 8.0-SNAPSHOT.

[2020-01-23 17:44] #5558 closed, assigned to nobody

[2020-01-23 18:08] melloware commented on #5326
Also it looks like you can use `rowStatePreserved="true"`. Closing this ticket for now as there are provided solutions

[2020-01-23 18:16] melloware commented on #5263
Your test works for me if I remove the partialSubmit="true".
[code]

[2020-01-23 18:22] melloware commented on #5263
OK nevermind I see what you mean.  If you watch the network traffic even with partialSubmit="true" its always including the Datatbale in the submit even though you said @none.

[code]

[2020-01-23 18:33] melloware commented on #5263
OK submitted a fix.

[2020-01-23 20:49] #5554 closed, assigned to kaiwinter

[2020-01-23 22:25] stolp commented on #5544
Thanks, I feared that this is the case.

Noob question: Is my reading of the sources correct in that the paginator is rendered only once during widget creation (called from DatatableRenderer:encodeEnd())?

[2020-01-24 06:38] mertsincan commented on #5453
Please try;
[code]

Best Regards,

[2020-01-24 06:58] mertsincan commented on #5014
Hi @regenduft,

- No, the outerWidth() and width() always return float numbers.

- Could you please attach your forum issue?

- Maybe, you can try;

[code]
Best Regards

[2020-01-24 07:10] #5453 closed, assigned to mertsincan

[2020-01-24 09:38] kaiwinter commented on #5554
This is a bit embarasing but I missed a positive unit test, which parses a valid date when `resolverStyle` = `STRICT`. Now I've added one and **it fails currently**. The problem is that STRICT is well veeeery strict. When using the date format `yyyy-MM-dd` the `DateTimeFormatter` doesn't know which era you want to parse (yyyy = year of era). Better would be using `uuuu-MM-dd` (uuuu = year). But th

[2020-01-24 10:33] christophs78 commented on #5554
IMO hardcoding the ERA-Default is fine. (And it´s only a default, so it´s still theoretical possible to add "G" to the date format.)  I already did a similar trick with DAY_OF_MONTH for monthpicker.
I´ll open another issue for replacing uuuu with yyyy (and similar) in `org.primefaces.convert.DatePatternConverter`.
Can you (re-)open a PR so we are able to merge your modification into master?

[2020-01-24 10:55] kaiwinter commented on #5554
Great, I've opened a new PR. Sorry for the inconvenience and thanks for your fast replies that makes it a pleasure to contribute here.

[2020-01-24 11:38] christophs78 opened #5562 "Calendar/DatePicker: pattern: support symbol "u""
## 1) Environment
- PrimeFaces version: 8.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: all
- Affected browsers: all

## 2) Expected behavior
https://docs.oracle.com/javase/8/docs/api/java/time/

[2020-01-24 12:25] melloware commented on #5544
Yes and also in the widget init() method which is whenever the entire datatable is updated in an update="" call.

See..
[code]

That sets up the paginator on the datatable.

[2020-01-24 12:28] stolp commented on #5544
Ok so in this case I could imagine that it would make sense to have an additional datatable event like `pageSizeSelect`. With this the user (like me) would be able to update the whole component if he chooses to.

Would this make sense?

[2020-01-24 12:30] melloware commented on #5544
I usually leave that kind of advice up to @mertsincan only because the datatable is so complex.

[2020-01-24 12:46] #5562 closed, assigned to nobody

[2020-01-24 18:50] benjblack opened #5565 "PrimeReact TreeTable: column parameter not passed to template"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

## 1) Environment
- PrimeFaces version: PrimeReact 3.4.0
- Does it work on the newest released PrimeFaces version? No
- Affected browsers: all

## 2) Expected behavior
`
  nameTemplate(rowData, column) {
    return rowData[column.field];    //this returns the field value
  }

      let tes

[2020-01-24 18:56] melloware commented on #5565
Wrong tracker please use the PrimeReact Issue tracker not the PrimeFaces one.
**Use:**
https://github.com/primefaces/primereact/issues

[2020-01-24 18:56] #5565 closed, assigned to nobody

[2020-01-24 20:37] #5263 closed, assigned to melloware

[2020-01-27 13:20] martin654 commented on #4765
Hi,
Isn't this related with https://github.com/primefaces/primefaces/issues/5162 ? Field attribute works for sorting or filtering only when sortBy or filterBy attributes specified no matter what you type in them... I think that sortable="true" and filterable="true " should work with combination with filed="myField1Name". (tested with 8.0RC2)

[2020-01-27 15:59] #5504 closed, assigned to metaxmx

[2020-01-27 16:19] usrflo opened #5566 "Tree: Create ui-tree-droppoint inside empty tree"
With the current TreeRenderer implementation there is no drop-point for an empty but droppable tree.

I propose to change https://github.com/primefaces/primefaces/blob/4380e49adb34c4afd3b321000607652541db9ba6/src/main/java/org/primefaces/component/tree/TreeRenderer.java#L801
in the following way:

	public void encodeTreeNodeChildren(FacesContext context, Tree tree, TreeNode node, String clientId,

[2020-01-27 16:22] tandraschko commented on #5566
It would be great if you can work on it and provide a PR for both PF and the showcase (add a new example)

[2020-01-27 17:41] melloware commented on #5566
Horizontal and Vertical tree use the same renderer so this fix automatically applies to both.  I also used the already defined constant instead of "root".

[2020-01-27 19:31] melloware commented on #91
This ticket was fixed for a while as there are separate properties for draggable and droppable. So you can set the source tree to draggable="true" and the dest tree to droppable="true" and it would solve this issue without forcing the first tree to be droppable. Closing the ticket

[2020-01-27 19:31] #91 closed, assigned to nobody

[2020-01-28 10:03] matinh commented on #4738
If somebody will have a look at this, please also consider components other than `<h:link>`. It would be really nice if one could use `<p:toggleSwitch>` or `<p:button>` inside `<p:menuItem>` to create menus like modern browsers have for zoom/unzoom or cut/copy/paste.
This basically comes down to just render child-components if present. Or maybe some new component like `<p:menuItemWithInputs>` woul

[2020-01-28 11:13] christophs78 commented on #5547
PrimeFaces already includes https://github.com/blueimp/jQuery-File-Upload.
Maybe we only need the server-side part for chunking. And some client-side configuration. (https://github.com/blueimp/jQuery-File-Upload/wiki/Chunked-file-uploads)

[2020-01-28 12:07] Tosken1337 opened #5568 "SelectOneMenu: Typing in the select list will only match the first character"
1) Environment
- It does not work on version 7.0.11 or 8.x RC
- It works on previous versions 6.1.x
- Affected browsers: Chrome, IE and Firefox

2) Expected behavior
When the select list is open, typing should select the option which matches the complete typed string.
E.g. selectOneMenu contains (Paris, Istanbul)
Typing 'Pari' should select Paris.

3) Actual behavior
Each typed character will sele

[2020-01-28 12:22] melloware commented on #5568
Read through this whole ticket: https://github.com/primefaces/primefaces/issues/4682

I think it depends on how fast you type.  If I type Paris fast it works if I type it slow it goes to Instanbul.

And also try it with a normal native HTML5 select box to compare the behaviors.

[2020-01-28 12:38] Tosken1337 commented on #5568
Okay, i see.
There was a change in the 7.1 milestone for this right?
Will there also be a fix in the 7.0.x branch?

[2020-01-28 12:40] melloware commented on #5568
That fix was put in 7.0.2 so if you are using 7.0.11 you have the current HTML5 like behavior already.

[2020-01-28 12:44] Tosken1337 commented on #5568
Okay now i checked again and figured out whats wrong.
I use a capital first letter.
Then it does not work as expected.
So go to the sample page and type:
'Pari' with capital P.
This will select Instanbul

[2020-01-28 12:55] melloware commented on #5568
Ahh yep that makes sense.

[2020-01-28 12:55] #5568 closed, assigned to nobody

[2020-01-28 12:59] Tosken1337 commented on #5568
This behavior makes sense for you?
Is it not an issue from your point of view?

[2020-01-28 13:08] melloware commented on #5568
Unfortunately no i don't think its broken.

in PF 6.2 it did this and always forced to lowercase text
[code]

But that was the cause of this reported issue: https://github.com/primefaces/primefaces/issues/4764

[2020-01-28 13:10] melloware commented on #5568
Also it was broken previously in 6.2 see this ticket: https://github.com/primefaces/primefaces/issues/2356

[2020-01-28 13:20] melloware commented on #5568
However you are more than welcome to debug and provide a fix just make sure to regression test #2356 #4764 and #4682

[2020-01-28 13:59] melloware commented on #4738
@matinh I think this might be a pretty invasive change.  It might only get implemented with PRO sponsorship or a 1 time quote from PrimeTek.

[2020-01-28 14:15] tandraschko commented on #4738
I dont think it's invasive; we just need a facet to render custom content?

[2020-01-28 14:20] melloware commented on #4738
Oh you think it will be that easy?  OK!

[2020-01-29 09:09] fr60 commented on #3054
Same problem here ! no solution. using different pattern will result in ajax dateSelect event not fire

[2020-01-29 13:55] melloware commented on #3054
@fr60 @eliakocher @Gyurmatag If you need a quick fix to this right now just add this script somewhere on your page or in your JS file.
[code]

[2020-01-29 14:34] melloware commented on #2304
This is a duplicate of #3054 so we will track the issue there.  The fix above will introduce multiple onChange events when used with TimePicker.

[2020-01-29 14:34] #2304 closed, assigned to nobody

[2020-01-29 19:55] melloware opened #5569 "ConfirmDialog: Default to appendTo="@(body)""
1) Environment
- PrimeFaces version: 8.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? Yes

## 2) Expected behavior

Using a non global confirm dialog should default to appendTo="@(body)".

## 3) Actual behavior

Default has no appendTo default.  We have a scenario like this in PrimeFaces 7 it is rendering the modal on top but in PrimeFaces 8.0 testing it is rendering

[2020-01-29 20:50] melloware opened #5571 "CSP: Replace eval() with csp.eval()."
JavaScript eval function is not allowed in CSP.  There are still eval calls in the following places.

Carousel:
https://github.com/primefaces/primefaces/blob/4380e49adb34c4afd3b321000607652541db9ba6/src/main/resources/META-INF/resources/primefaces/carousel/carousel.js#L315

Dialog:
https://github.com/primefaces/primefaces/blob/4380e49adb34c4afd3b321000607652541db9ba6/src/main/resources/META-INF/re

[2020-01-30 13:02] stolp commented on #5544
@mertsincan What is your opinion on introducing a pageSizeSelection ajax event to the datatable component?

[2020-01-30 15:39] #5569 closed, assigned to nobody

[2020-01-30 15:45] tandraschko commented on #5569
Why did you close the issue itself?
I just talked about the fix itself that if 7.0 worked fine without @(body), it should do the same in 8.0

[2020-01-30 15:50] melloware commented on #5569
Yep but I can't figure out why my exact scenario is breaking.  I wrote a little PrimeFaces test project doing what I thought was the exact same thing and I can't reproduce it by itself.  I can flip the Test back and forth between 7.0 and 8.0 and it works fine.

 So I am thinking you are right its something in my CSS or project causing it so I figured we should close for now until I can reproduce i

[2020-01-30 15:51] melloware commented on #5569
Also I agree with you I think by making this change could introduce other issues without fully understanding the impacts.

[2020-01-30 16:03] melloware commented on #5569
And i also looked the z-index in my app was the same at 1002 for both 7.0 and 8.0.  I will let you know if I solve the mystery.

[2020-01-30 18:48] jasonex7 commented on #5520
I have some errors related to this commit, please consider my comments:

- https://github.com/primefaces/primefaces/commit/fd04cd4c47dbc04d0588dda949e1d22ef5796efd#r37046408

- https://github.com/primefaces/primefaces/commit/fd04cd4c47dbc04d0588dda949e1d22ef5796efd#r37046425

[2020-01-30 18:51] tandraschko commented on #5520
should be fixed now

[2020-01-30 19:16] jasonex7 commented on #5520
The error disappeared. Thank you 👍🏼

[2020-01-31 08:03] tuerker opened #5573 "p:inputNumber: Too restrictive for double/float values"
The p:inputNumber component Is too restrictive and thus not really useful for double/float values. By default, the decimalPlaces attribute is set to 2 digits and you cannot even get rid of this default value. In case of double/floating, you do not know in advance how much fraction digits are needed and thus you cannot set it explicitly. The workaround to use a large number for the decimalPlaces at

[2020-01-31 08:19] tuerker opened #5574 "InputNumber: @Digits is ignored for decimalPlaces"
The p:inputNumber component takes into account certain javax validation constraints such as @DecimalMin or @DecimalMax, but ignores some important ones such @Digits or @Positive, or @PositiveZero.

## 1) Environment
- PrimeFaces version: 8.0 RC3

## 2) Expected behavior

Calling p:inputNumber on a value with the annotation

@Digits(integer = 6, fraction = 3)

should implicitly set decimalPlaces to

[2020-01-31 09:41] tandraschko commented on #5574
Feel free to work on it: https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/metadata/transformer/impl/BeanValidationInputMetadataTransformer.java#L124

[2020-01-31 09:43] tandraschko commented on #5573
WDYT @metaxmx @melloware @Rapster ?

[2020-01-31 12:11] metaxmx commented on #5573
The current InputNumber implementation makes heavy use of the formatting library AutoNumeric (https://github.com/autoNumeric/autoNumeric).
However, the AutoNumeric library only seems to support fixed-point inputs, specialized for currencies, percentages etc.
I found no support to enter a floating-point number, like `"1.45e27"`, only fixed-point decimals like `"0.00000000000000000345"` or `"1234000

[2020-01-31 12:14] tandraschko commented on #5573
Thanks @metaxmx, i appreciate your feedback.

[2020-01-31 12:32] melloware commented on #5573
I agree with @metaxmx assessment.  I think there is nothing for us to fix here, if you want InputNumber you have to declare how many decimal places you want.

If you want a truly floating point number i think you will have to use a different custom JS component other than AutoNumeric or just use InputText and write some client side JS to restrict to only numeric entry onKeyDown.

[2020-01-31 12:37] melloware commented on #5574
Digits is already in use because its a BV1.0 class however it just doesn't do the min and max number but it does account for decimal places...
https://github.com/primefaces/primefaces/blob/29e6f9fecf0f80f7af0240e4d25e876b8d39d2f4/src/main/java/org/primefaces/metadata/transformer/impl/BeanValidationInputMetadataTransformer.java#L140-L143

However @Positive and @PositiveZero are BV1.1 and cannot be

[2020-01-31 12:40] tandraschko commented on #5574
it can be used if we check for 1.1 before accessing it
just check e.g. JSF23Helper

[2020-01-31 13:22] tuerker commented on #5574
@melloware Could it be that the following code

[code]
is not working as expected since

`inputNumber.getDecimalPlaces()
`
is always set to 2 by default and therefore this if statement always delivers false such that the Digit annotation has no effect even on the decimalPlaces value?

[2020-01-31 13:25] melloware commented on #5574
I would step through the debugger and see. I would expect that to get triggered.

And are you also sure you have enabled Bean Validations in your web.xml with...
[code]
https://primefaces.github.io/primefaces/8_0/#/core/beanvalidationtransformation

[2020-01-31 13:26] tandraschko commented on #5574
@tuerker is right here, AFAIR the default was set last week; so the value is never empty.

A possible fix would be to render a default in the renderer and not set the default via the initialValue in the stateHelper

[2020-01-31 13:31] melloware commented on #5574
Ahh yeah we probably need to check if its empty or DEFAULT value

[2020-01-31 13:45] tandraschko commented on #5574
Please see my commit. This should at least fix the current supported annotations

[2020-01-31 13:48] melloware commented on #5574
@tandraschko that looks good.

[2020-01-31 13:50] #5574 closed, assigned to nobody

[2020-01-31 13:50] tandraschko commented on #5574
Please create a new issue for supporting new annotations; i renamed this issue to fix @Digits

[2020-01-31 15:19] tuerker commented on #5574
Many thanks. I will create a new issue.

[2020-01-31 15:58] tuerker opened #5575 "InputNumber / TransformMetadata: Add support for @Positive, @PositiveOrZero, @Negative, @NegativeOrZero"
The p:inputNumber component ignores the following bean validation constraints:
@Positive
@PositiveOrZero
@Negative
@NegativeOrZero

## 1) Environment
- PrimeFaces version: 8.0 RC3

## 2) Expected behavior

The p:inputNumber component on a @Positive annotated value allows only positive numbers.
Dito for the rest.

## 3) Actual behavior

..

## 4) Steps to reproduce

..

## 5) Sample XHTML

..

## 6

[2020-01-31 20:34] melloware commented on #5445
Updated CheckStyle and the checkStyle.xml document to be compatible with the latest plugin.

[2020-02-01 11:20] tuerker opened #5578 "InputNumber: Long/Integer values should implicitly set decimalPlaces="0""
The inputNumber component

 <p:inputNumber value="#{givenValue}"/>

should not require to EXPLICITLY set the attribute decimalPlaces="0" in case the given value is a Long/Integer/Short value.

## 1) Environment
- PrimeFaces version: 8.0 RC3

## 2) Expected behavior

The inputNumber component should restrict decimalPlaces to zero whenever the component is invoked with a Long/Integer value.

## 3) A

[2020-02-01 13:19] tuerker opened #5579 "Spinner: should not allow to enter non-numeric values"
The p:spinner component should not allow to enter non-numeric values.

## 1) Environment
- PrimeFaces version: 8.0 RC3

## 2) Expected behavior

The spinner component allows only numeric values and does not let the user enter any symbols that would lead to non-numeric values.

Above that the spinner should only allow only values that are instances of the underlying number class. For instance, if t

[2020-02-01 13:22] melloware commented on #5578
This is a good idea I just ran into this myself.

[2020-02-01 13:38] tuerker commented on #5578
Ideally, the min and max values of the underlying number class are respected, too, i.e., that corresponding minValue and maxValue attribute values are set explicitly. Of course, all this must be done before applying potential bean validation constraints.

[2020-02-02 19:43] tuerker commented on #5551
i just changed the title of this issue since it make more sense to enhance the datePicker instead of the old calendar component.

[2020-02-02 22:17] stolp opened #5580 "TabView: Error when nesting a dataTable in a tabView inside another tabView"
# IMPORTANT

## 1) Environment
- PrimeFaces version: 8.0RC3
- Does it work on the newest released PrimeFaces version? Yes,
- Does it work on the newest sources in GitHub? No
- Application server + version: Irrelevant
- Affected browsers: All

## 2) Expected behavior

This has rendered without problems in the 8.0RC2 release candidate.

## 3) Actual behavior

The following console error appears:
Typ

[2020-02-02 22:36] stolp opened #5581 "TabView: dynamic + update @form messes up component rendering"
## 1) Environment
- PrimeFaces version: 8.0RC3
- Does it work on the newest released PrimeFaces version? Version? Have not checked yet
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version:  Irrrelevant
- Affected browsers: all

## 2) Expected behavior

It should be possible to nest

[2020-02-03 08:01] tandraschko commented on #5580
Without reproducer -> invalid

[2020-02-03 09:41] stolp commented on #5580
It has been late yesterday - I updated the reproducer from #5581 to use the correct primefaces version and the issue is now reproducible.
[pf-5580+5581.zip](https://github.com/primefaces/primefaces/files/4147150/pf-5580%2B5581.zip)

[2020-02-03 09:47] tandraschko commented on #5580
Ok. Can you find the breaking commit please?
Or can you try to use the github master? We already fixed something related to JS attr() in RC3

[2020-02-03 09:55] stolp commented on #5580
Will try with master.

[2020-02-03 10:04] stolp commented on #5580
Apparently this works on master with the reproducer, thanks for the hint.

I will crosscheck master with my application later to make this safe.

#5581 is not related to this, the error is still there.

[2020-02-03 10:06] stolp commented on #5581
Updated reproducer: [pf-5580+5581.zip](https://github.com/primefaces/primefaces/files/4147272/pf-5580%2B5581.zip)

[2020-02-03 10:30] stolp commented on #5580
I crosschecked with master in my application. This error is resolved with master. I think this issue can be safely closed now.

[2020-02-03 10:44] #5580 closed, assigned to nobody

[2020-02-03 13:02] jthalmai opened #5582 "DataTable: Reordering duplicates columns after update"
## 1) Environment
- PrimeFaces version: 8.0-Snapshot
- Does it work on the newest released PrimeFaces version? No (7.0)
- Does it work on the newest sources in GitHub? No
- Application server + version: WildFly 18
- Affected browsers: Firefox

## 2) Actual behavior

On our page we have a `p:dataTable` with `draggableColumns="true"` which is updated via Ajax when there is new data available. If an

[2020-02-04 10:01] stolp opened #5584 "Datatable: Additional Header text shown in a dragged datatable row when reflow="true" is set"
[pf-5584.zip](https://github.com/primefaces/primefaces/files/4152578/pf-5584.zip)
## 1) Environment
- PrimeFaces version: 8.0RC3
- Does it work on the newest released PrimeFaces version? No (Checked against 7.0.10)
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: -
- Affected b

[2020-02-04 12:10] RalfScania commented on #4655
It is still not fixed in RC3, please review.

[2020-02-04 13:19] melloware commented on #4655
Can you create a PrimeFaces Test case proving the issue: https://github.com/primefaces/primefaces-test

I am using the Showcase and I can't reproduce the issue.

[2020-02-04 14:12] RalfScania commented on #4655
![image](https://user-images.githubusercontent.com/54022311/73752144-b0640980-4760-11ea-8e37-5b3a0d351646.png)

This is a screen from the actual showcase.

[2020-02-04 14:36] melloware commented on #4655
Found this issue too:  https://github.com/jqPlot/jqPlot/issues/117

Fixing...

[2020-02-04 14:53] Rapster commented on #5581
I had a quick look. First, you can reproduce a lot more simply:
[code]

- Keeping dynamic option
  - Removing tabChange event from tabview 1 make it work
  - Just removing update make it work
  - Set update to `@this` make it work
- Remove dynamic option
  - Works

I reproduced the problem on the showcase adding an ajax event on a dynamic tabView. From what I can see, not updating only the tabView

[2020-02-04 15:20] #4655 closed, assigned to melloware

[2020-02-04 18:12] adupeyron opened #5586 "Media: quicktime player NPE with StreamedContent in 8.0RC3"
## 1) Environment
- PrimeFaces version: 8.0RC3

## 2) Expected behavior

mp4 video auto play

## 3) Actual behavior

java.lang.NullPointerException
	at org.primefaces.component.media.MediaRenderer.encodeEnd(MediaRenderer.java:63)

## 4) Steps to reproduce

with a bean returning a mp4 as StreamedContent

## 5) Sample XHTML

			<p:media height="200px" value="#{mediaBean.testMp4}" player="quicktime">

[2020-02-04 19:55] tuerker commented on #5573
@melloware: i know it is not the fully fixing the issue, but could you do also the following

[code]
as you did it for the long/integer fix in

https://github.com/melloware/primefaces/commit/0b88faff7c5ebb3b582030b00d239c36ba1a968e

by the way, you could easily add defaultDecimalPlaces = "0" for Short;

Many thanks in advance.

[2020-02-04 20:33] melloware commented on #5573
So you are saying leave decimalPlaces 2 for BigDecimal 0 for Integer/Long/Short and Max Value supported for Double and Float.  Do you know what the max value supported is?

[2020-02-04 20:55] metaxmx commented on #5573
I'm not sure that a very high `decimalPlaces` would be a good default value for a widget that handles fixed-point numbers. AutoNumeric itself has also a default value of `2` (probably because this is a reasonable precission for currency values).

You can easily set up AutoNumeric for e.g. 200 decimal places. But then your numbers would be formatted like `"7.8100000000000000000000000000000000000000

[2020-02-04 20:58] melloware commented on #5573
@metaxmx I agree with you.  I do think "0" is reasonable for int/long/short but "2" should be the smart default for all other types.

[2020-02-04 21:29] #5573 closed, assigned to nobody

[2020-02-04 21:39] melloware commented on #5586
I submitted a PR.   This is good defensive programming either way Joushua Bloch always says compare the constant on the left to prevent NPE's.

[2020-02-05 07:51] tuerker commented on #5578
Could you please extend this also for BigInteger. Thanks in advance.

     if (value instanceof Long || value instanceof Integer  || value instanceof Short **|| value instanceof BigInteger**) {
            defaultDecimalPlaces = "0";
}

[2020-02-05 08:29] tuerker commented on #5578
@melloware: I would like to come back to my other issue, p:inputNumber: Too restrictive for double/float values #5573, which was simply closed yesterday. I do not agree that a default decimalPlaces of 2 is a good solution per se. This might be the case for developers implementing software for the financial industry dealing with prices only but not for those working in the scientific field where de

[2020-02-05 12:06] melloware commented on #5578
To answer your questions...

- I closed yesterday's ticket because there is nothing for PrimeFaces to fix which I why i marked it WontFix.
- I updated for BigInteger
- Yes Autonumeric forces 2 decimalPlaces if you leave DecimalPlaces either NULL or Undefined.  There is no concept of unbounded decimal places.
- As @metaxmx said why not just set DecimalPlaces="25" or some large number if you need th

[2020-02-05 12:07] #5586 closed, assigned to melloware

[2020-02-05 12:14] stolp opened #5588 "ImportConstants: Limited to top-level scope - unable to use ui:include"
[pf-5588.zip](https://github.com/primefaces/primefaces/files/4159408/pf-5588.zip)
## 1) Environment
- PrimeFaces version: 8.0RC3
- Does it work on the newest released PrimeFaces version? Version? no, 7.0.10
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: All
- Affected browser

[2020-02-05 12:18] melloware commented on #5588
I will let @tandraschko answer as he knows more than I do but JSF 2.3 added `f:importanConstants` which is what PrimeFaces and OmniFaces ImportConstants was used for in the past.

If you look at the JavaDoc: https://javaee.github.io/glassfish/doc/5.0/vdldoc/f/importConstants.html

It says "Used inside of the metadata facet of a view,".

So a good practice it to declare your constants in metatadata

[2020-02-05 12:18] tandraschko commented on #5588
Please provide a PR for the documentation

[2020-02-05 12:32] stolp commented on #5588
Thanks for the hints and clearing this up.

My point was that I liked to reuse the **importConstants elements** via <ui:include> in several files.

From what I got here (and some further experiments), this seems not possible with current JSF implementations.

Am I correct here?

[2020-02-05 12:35] melloware commented on #5588
I think that is correct as the recommended place is in f:metadat unless f:metadata allows using ui:include which I have never tried.  @tandraschko am I wrong on this?

[2020-02-05 13:05] stolp commented on #5588
From my experiments with the reproducer ui:include seems not to be supported in f:metadata,

I am unsure if this is a side effect, intentional or just unspecified.

[2020-02-05 13:06] melloware commented on #5588
If I had to guess it was intentional in the JSF spec.

[2020-02-05 15:18] tuerker commented on #5578
Many thanks for your comments. Then, I will submit an issue on the Autonumeric GithHub.

[2020-02-05 16:19] tuerker commented on #5578
This is exactly what we were doing and which is working only for individual cases.

However, since we are more and more reusing complex generic code fragments and do not want to copy the entire code fragments for all the different cases, it is essential that decimalPlaces MUST NOT be bounded by default.

Look at this code fragment:

[code]

Here, decimalPlaces is set to 32 by default. But actually

[2020-02-05 17:32] #5588 closed, assigned to nobody

[2020-02-05 17:34] melloware commented on #5588
OK check out the updated docs I added a Warning at the bottom.
https://primefaces.github.io/primefaces/8_0/#/components/importconstants

[2020-02-05 18:37] tandraschko commented on #5588
The docu is not correct
p:importConstants/Enum must NOT be in f:metadata, thats only for the f:*, which was IMO a bad decision for the JSF api

[2020-02-05 18:38] melloware commented on #5588
Are you sure?  Mine works fine having p:importConstants in f:metadata?

[2020-02-05 18:40] tandraschko commented on #5588
p:importConstants works everywhere on the page, it doesnt matter
also it works inside the ui:include, when declared inside the ui:include itself
the var is set as attribute to the FaceletContext

[2020-02-05 18:41] tandraschko commented on #5588
the JSF API just has the restriction to only work in f:metadata, PF doesn't has this restriction

[2020-02-07 11:15] marcelocaser commented on #1178
per hour, did I use this solution? https://stackoverflow.com/questions/24452834/how-to-ajax-update-an-item-in-the-footer-of-a-primefaces-datatable

[2020-02-09 11:23] mafaul commented on #4765
It appears to be resolved by #30

Tested with 8.0 RC3

  **p:column filterBy map as received in LazyDataModel:**

[code]

**p:columns (Dynamic Columns) filterBy map as received in LazyDataModel:**
[code]

[2020-02-09 11:23] #4765 closed, assigned to nobody

[2020-02-09 13:07] melloware commented on #4765
Thanks for testing and closing!

[2020-02-10 13:53] morvael opened #5593 "Calendar popup in dynamic dialog not fully visible"
## 1) Environment

PrimeFaces version: 7.0.11

## 2) Expected behavior

Calendar popup fully visible, even when part of external page in a dynamically generated dialog.

## 3) Actual behavior

![picker_bug](https://user-images.githubusercontent.com/1133953/74155274-9456e100-4c14-11ea-9888-bc88160f580e.png)

[2020-02-10 14:15] melloware commented on #5593
What happens when you add `appendTo="@(body)"` to the calendar?

[2020-02-10 14:26] morvael commented on #5593
"The attribute appendTo is not defined on the component calendar". Only datePicker has that attribute, and I am unable to use datePicker because of missing functionality (editing milliseconds).

[2020-02-10 14:38] melloware commented on #5593
OK please create a reproducer using PrimeFaces Test project and attach to this ticket.

[2020-02-10 15:01] morvael commented on #5593
[primefaces-test.tar.gz](https://github.com/primefaces/primefaces/files/4181472/primefaces-test.tar.gz)

[2020-02-10 15:05] melloware commented on #5593
Thanks for the reproducer!

[2020-02-11 09:24] christophs78 commented on #5593
Dynamic dialog is based on HTML-IFRAME. Due to this the content of the dynamic dialog has to fit within the dialog=IFRAME. (I know that´s not ideal.)
Knowing it´s not ideal you may e.g. work around by increasing the height of the dialog.

[2020-02-11 11:47] melloware commented on #5593
Yes this is a limitation of the dialog framework using an IFRAME.  Not content can be drawn outside the IFRAME so I am going to mark this as WONTFIX.

[2020-02-11 11:47] #5593 closed, assigned to nobody

[2020-02-11 11:55] morvael commented on #5593
Was afraid this may be so. Yes, I'll have to resize the dialog.

[2020-02-13 08:37] Thomas-Schindler opened #5594 "FileUpload: Improve VirusScanner Interface"
I would suggest to improve the VirusScanner interface which is intented for implementing custom scan services, so that within the implementation file metadata about the uploaded file (name, MIME-type) and a reference to the fileupload component is available. This would make it possible to log the filename etc. and to inform the user about the problem if a virus threat was detected.

Also it would

[2020-02-13 09:51] manhtq1996126 commented on #3627
How did you fix that?

[2020-02-13 12:10] melloware commented on #5594
@Thomas-Schindler thanks for reporting. Since 8.0 is about to be released this won't make it until the next version.  Any chance you would like to submit a PR for this enhancement?

[2020-02-13 12:54] melloware commented on #5571
Found an issue I have to reopen this ticket and fix.

[2020-02-13 13:23] #5571 closed, assigned to melloware

[2020-02-13 14:02] arnis87 opened #5596 "AutoComplete:#5298 fix expects queryMode="server" to be default, but is "null""
## 1) Environment
- PrimeFaces version: 6.2.27
- Does it work on the newest released PrimeFaces version? Version? yes

## 2) Expected behavior
`AutoComplete.queryMode` should default to "server" as per documentation

## 3) Actual behavior
`AutoComplete.queryMode` in latest elite release is `null `causing unexpected event broadcasts with `query=null`

## 6) Sample code
[code]

[2020-02-13 14:10] melloware commented on #5596
@mertsincan This is an Elite release issue with 6.26 which is supposed to have this fix in it:
https://github.com/primefaces/primefaces/issues/5298

I am closing this issue as its an Elite issue and fixed correctly in master

Master has this
[code]

[2020-02-13 14:10] #5596 closed, assigned to nobody

[2020-02-13 14:12] arnis87 commented on #5596
So this will be fixed in elite .28?

[2020-02-13 14:14] melloware commented on #5596
That is up to @mertsincan but this tracker is only for Community issues not for Elite issues which is why I closed it.

[2020-02-13 14:59] stolp commented on #5584
@melloware: I do not understand why this is flagged as an enhancement and not as a bug.

Shouldn't a dragged row keep its look when reflow is set to true?

[2020-02-13 15:08] melloware commented on #5584
switched to defect.

[2020-02-13 17:49] mmariotti opened #5597 "UIMenuItem: isDisabled() is not checked inside decode()"
## 1) Environment
- PrimeFaces version: **ALL**
- Does it work on the newest released PrimeFaces version? Version? **NO**
- Does it work on the newest sources in GitHub? **NO**
- Application server + version: **ALL**
- Affected browsers: **ALL**

## 2) Expected behavior
`UIMenuItem` should conform to every other `UICommand` component, checking for `isDisabled()` before enqueuing an `ActionEvent` i

[2020-02-13 18:05] melloware commented on #5597
Nice thoughtful issue!  @Rapster @tandraschko thoughts on this?

[2020-02-13 18:19] mmariotti commented on #5597
My application failed a PenTest because of this one... :(
I can't even soothe myself 'cause someone else spotted it :@

[2020-02-13 18:40] Rapster commented on #5597
Just so I can follow you, why that?

[2020-02-13 19:08] mmariotti commented on #5597
take the example and add:

[code]
and now execute: `PrimeFaces.ab({s:"form:menuitem",p:"form",u:"form",f:"form"})`.

Even if the `<p:menuButton/>` is **disabled**, the inner `<p:menuitem/>` is not, and it's not even **rendered** (it's not present on the page source/dom but its attribute `rendered` is **true** and `disabled` is **false**).
So, if you execute the JS,  the **<p:menuitem/>** action is

[2020-02-13 20:46] #5566 closed, assigned to nobody

[2020-02-14 08:42] mertsincan opened #5598 "PDF exporter downloads or pops open the file based on # of records in datatable"
Reported By PRO User;

[2020-02-14 08:43] #5598 closed, assigned to mertsincan

[2020-02-14 12:01] melloware commented on #5598
@mertsincan can you check my comment, I think there may be a bug introduced?

[2020-02-14 12:01] #5578 closed, assigned to nobody

[2020-02-14 12:23] melloware commented on #5597
@mmariotti Can you try this version in your local code.  I made some slight modifications.

1. I defensively check if the ancestor is not null. (not sure this can happen but better to be safe)

2. I use the Menu interfaces which I think captures all of your components and future ones/

[code]

[2020-02-14 13:34] Rapster commented on #5597
@mmariotti the behavior you're describing would happen with every containers/or components containing commands no? Is this really something we can prevent?

[2020-02-15 02:15] mmariotti commented on #5597
@melloware it's useless, it cannot happen because `null instanceof Anything` is always false.
@Rapster actually, it seems there's no container component that can be disabled while allowing `UICommand` children other than `AbstractMenu` descendants and `SplitButton`.
Nevertheless, it feels weird to check for somthing so specific, and does not take into account new future components.
But yes, it can

[2020-02-15 10:08] Rapster commented on #5597
I think you're wrong, most of our component can `p:panel`,` p:dataTable`, `p:outputPanel` etc. using passthrough attributes at least

First, if we were to apply this fix (which looks correct) it's a performance killer. Depending the number of components in your tree and commands, this fix will have side effect

Second, in your sample let's say you disabled this button because the user is not allow

[2020-02-15 11:53] Rapster commented on #5594
+1 Regarding:

First problem: What about having this signature: `VirusScanner#performVirusScan(UploadedFile)` as simple as that? Let me know if you need more arguments, but I feel UploadedFile contains everything you need

Second problem: fully agree, we lose on VirusException infos. We'll have to rethink `FileUploadUtils#isValidFile` impl, maybe it should no longer return a boolean but throw an e