[2021-06-25 16:44] melloware commented on #7467
Duplicate of https://github.com/primefaces/primefaces/issues/5960

See the explanation Tabs are not updateable you must update the whole TabView.

[2021-06-25 16:45] #7467 closed, assigned to nobody

[2021-06-25 16:45] fcorneli commented on #7467
ah OK, thanks.

[2021-06-25 16:45] melloware commented on #7467
Also documented here: https://primefaces.github.io/primefaces/10_0_0/#/components/tabview?id=getting-started-with-the-tabview

[2021-06-26 15:04] Rapster opened #7469 "Datatable: support of custom dynamic filters"
**Description**
As of today, working with filters and `<p:columns />` imply all columns share same filter component, which obviously is not ideal... `Columns#filterOptions` looks like an attempt to solve that problem but works only if a select component is what you want. I think there is a simple way to solve that "problem". Basically, facet filter expect one `ValueHolder` component, instead it sh

[2021-06-26 19:27] susantaylorcollier opened #7471 "DataTable: Reflow Sortable Columns Incorrect"
**Describe the defect**
I reported this defect in the primefaces forum and the developer indicated it was a defect and should be reported here:

I have a page where I use the 'sort by' attribute in the datatable. However, on mobile display, once the reflow option kicks in and the sort button appears instead of the arrows on the columns, the column titles that display in the dropdown list do not ma

[2021-06-27 15:24] edudoda commented on #7136
Same problem here, all my treeTables with `filterBy=""` on columns are not refreshing anymore after initial display. Need to put `onsuccess="location.reload()"`  on  `<p:ajax` to refresh data. But in my case, treeTable does not necessarily need to be empty, any further update after initially display doesn't show the new data.

[2021-06-27 18:34] anuragnz opened #7472 "Dashboard: for dynamic components with Grid layout"
Hi there,

The dashboard component looks good.
We need to define the columns and then we can add components to each columns like this:

[code]

For dynamic dashboard components defining columns is not suitable. Rather if we can just define number of columns then it would become a grid layout type. Which would be really great.

So the option would be
[code]

[2021-06-28 08:42] #7461 closed, assigned to tandraschko

[2021-06-28 08:47] tandraschko commented on #223
i will close it for now
i think it has no advantage for non-lazy mode but for lazy
and for this purpose someone can just call the converter manually in getRowData/getRowKey

[2021-06-28 08:47] #223 closed, assigned to tandraschko

[2021-06-28 09:52] wlhUser opened #7478 "<h:body onload/> does not work on FF in 10.0.3 - Probably related to #7395"
With PF 10.0.3 **onload** events on **<h:body/>** are not executed in FF (89.02) any longer. - on Chrome and Edge it works fine. In 10.0.2 it worked on FF as well.

Example:
...
[code]

On Chrome, and Edge, the 'onload'-js will be executed - on FF not.

Taking a look at the rendered HTML, you see that it is different on FF compared to the other browsers.

**EDGE, Chrome**:
[code]

**FF**:
[code]

[2021-06-28 10:14] buunsal commented on #7478
We confirmed the issue source is this PR: https://github.com/primefaces/primefaces/issues/7395
We are planning to relase a version 10.0.4 this week and revert this PR changes.
Also can you check if it works correctly in 11? @wlhUser

[2021-06-28 10:20] wlhUser commented on #7478
@sqores I can check on the released PF versions. 11 is not accessible for me.

[2021-06-28 10:24] buunsal commented on #7478
OK, no problem. @melloware tested it and said he didn't see a issue. @tandraschko can you please check too?

[2021-06-28 10:27] #7469 closed, assigned to Rapster

[2021-06-28 10:38] buunsal commented on #7478
Also I didn't see a issue with 11 when I tested it. Which missing fix might be causing this issue in 10.0.3 any ideas @tandraschko @melloware ?

[2021-06-28 10:57] tandraschko commented on #7478
the issue just occurs when you have attributes on h:body
i think melloware will try to fix it, otherwise we will revert it

[2021-06-28 11:13] buunsal commented on #7478
@tandraschko  also there was another pro issue that opened last week. And the pro user said that the values sent by ajax are different in firefox and only with version 10.0.3. The issue has been fixed with the new jar we reverted the #7395. I don't know the source of the issue but I hope there is no issue with 11.

[2021-06-28 11:17] tandraschko commented on #7478
@sqores can you provide a reproducer for that AJAX values issue? Otherwise we will never know...

[2021-06-28 11:23] buunsal commented on #7478
We talked about this with @melloware and he tested it in 11 and didn't encounter a issue. Just keep that in mind if you see something not working in firefox.

I'll still create a reproducer and test it again with 11.

[2021-06-28 11:53] buunsal commented on #7478
@wlhUser 10.0.4 released please try with it. The issue should be resolved.

[2021-06-28 11:55] tandraschko commented on #7478
@sqores why did you close it? you didnt commit anything in trunk and i dont think this is fixed in trunk

[2021-06-28 11:57] tandraschko commented on #7478
its even more worse:
[code]

[2021-06-28 11:58] buunsal commented on #7478
@tandraschko  I've been working on it since last week As far as we know it doesn't have a solution and it doesn't affect 11. @melloware also couldn't find a solution. I closed it because it's only a 10.0.3 issue. You can open it back if you want.

[2021-06-28 12:12] tandraschko commented on #7478
@melloware i fixed the renderer part
could you check if it still fixes the initial issue?

This would now produce:

[code]

for this example:

[code]

[2021-06-28 12:16] wlhUser commented on #7478
Have tested with 10.0.4. The issue does not occur any more - works fine.
Thanks for the quick fix.

[2021-06-28 12:17] tandraschko commented on #7478
@melloware

my new fix has some downsides:
1) if you ONLY have simple text inside the body, the FOUC isnt rendered
2) if you have simple text before any other element, the FOUC is rendered after the text, before the next element starts

i dont think 1) is realistic
im not sure if 2) fixes your initial issue

[2021-06-28 12:19] melloware commented on #7478
Yes I worked with @squores last week and even tried to use the exact same setup the PRO user had and I could not reproduce the AJAX issue with Firefox.    Let me retest after these fixes.  Honestly as long as it fixes the main issue @stolp and I see with a normal JSF project using what I would consider normal `<h:body>` template I will be happy with it.

[2021-06-28 12:34] tandraschko commented on #7419
@melloware @christophs78

i wonder if we should:
1) add javaee-api into root pom as provided dependency
    we would not need jsf,cdi,bval,servlet api in all modules anymore
2) add shared dependencies (openpdf, fileupload, poi, rome) into root pom dependency-management

[2021-06-28 12:45] melloware commented on #7419
@tandraschko That is 100% my preferred way of handling dependencies and kinda what we do in the PFE multimodule. So we can just change a dependency in 1 place even if its used in multiple pom's.

[2021-06-28 12:49] christophs78 commented on #7419
good idea!

[2021-06-28 15:08] tandraschko commented on #7408
any review welcome

[2021-06-28 15:08] #7408 closed, assigned to tandraschko

[2021-06-28 15:23] tandraschko commented on #7408
mvn clean package -Pee works fine on TomEE

[2021-06-28 16:38] melloware commented on #7408
This looks great @tandraschko very clever!

[2021-06-28 17:20] melloware commented on #7478
@tandraschko I have tested and I am good with your fix.  Even for 2) above it fixes the issue because there is a script in the body it still prevents the flickering because the DevTools must know they need to wait for a script to run!  Not sure if you want to close this issue or not?

[2021-06-28 17:51] melloware commented on #7471
This looks like a sorting issue where the JS thinks the headers are on one order and the server thinks they are in another order I think.

[2021-06-28 18:01] ravihariharan opened #7484 "TextEditor: Default value XSS"
**Description**

**Scenario 1:**
 `<p:textEditor value="#{dtBasicView.xssStr}" /> where xssStr is blank`

Without owasp-java-html-sanitizer-20181114.1.jar (HTML Not Sanitized )
Enter `<script type="text/javascript">alert("1111");</script>`
Click Button - Logs `<p>&lt;script type="text/javascript"&gt;alert("1111");&lt;/script&gt;</p>`

With owasp-java-html-sanitizer-20181114.1.jar (HTML Sanitized )

[2021-06-28 18:23] #7478 closed, assigned to melloware

[2021-06-28 19:51] #7484 closed, assigned to melloware

[2021-06-28 20:22] ravihariharan commented on #7484
@mertsincan / @sqores  can this fix be part of elite 7.0.23 ?

[2021-06-29 01:56] AndrewG10i opened #7486 "AutoComplete: preserve order of underlying List with unique=true option"
Faced with an issue that AutoComplete component doesn't keep the order of the original List to which it is bind to (when it has an option `unique="true"` set). In some scenarios (like in ours) preserving an original order is crucial.

From the component code we see that it uses `HashSet` for filtering out duplicated values, also seems the implementation is similar for both PF 8 and 10 versions.

S

[2021-06-29 07:17] Lemming112 opened #7487 "Component: Title"
**Description**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you would like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

**Example XHTML**
[code]

**Example Bean**
[code]

[2021-06-29 08:05] #7487 closed, assigned to nobody

[2021-06-29 12:14] melloware commented on #7486
Thanks for the suggestion!  I have submitted the fix and updated the Integration Test which actually already was proving your bug and I didn't realize it :)

[2021-06-29 13:14] miedrl opened #7489 "SelectOneMenu: Hover effect on select items is not continuous with long item names"
**Describe the defect**
If selectOneMenu has a select item whose name is longer than the options box, a scroll bar appears so that the full name can be read by scrolling. When hovering over a select item, the background and text color of the respective item changes (e.g. to blue blackground and white text) but for select items with overlong names, the hover effect does not color the whole backgrou

[2021-06-29 13:26] melloware commented on #7489
Which theme are you using just to make sure we have all the info?

[2021-06-29 16:27] Rapster opened #7496 "SideTabMenu: new component"
**Description**
Whenever we want to display related objects/subjects to the main subject displayed on a page  (e.g adress/history/achievements of a user). These related subjects are displayed on the side (it avoids to display all information in one page, to scroll down to see more, unnecessarily load stuff in case user doesn't open it etc.)

A bit like below, except it's no submenus displayed but

[2021-06-30 05:47] miedrl commented on #7489
I'm using the Rain Theme.

[2021-06-30 07:06] skybber opened #7497 "SubTable: Column ignores rendered attribute"
**Describe the defect**
Column in SubTable is rendered even if rendered="false". `SubTableRenderer.encodeRow(...)`shoud check column.isRendered()

**Reproducer**
Simply add rendered="false" to column in subTable

**Environment:**
 - PF Version: _10.0_
 - JSF + version: _e.g. Mojarra 2.2.20 or MyFaces 2.3.9_
 - Affected browsers: ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Add render

[2021-06-30 12:21] melloware commented on #7489
Works fine for me with Saga see this reproducer:
[pf-7489.zip](https://github.com/primefaces/primefaces/files/6740770/pf-7489.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

![image](https://user-images.githubusercontent.com/4399574/123959212-e7514580-d97b-11eb-9896-dca67727fda8.png)

Are you sure you are using the latest version of Rain theme for

[2021-06-30 12:26] melloware commented on #7497
Thanks for the report I submitted a PR to fix it.

[2021-06-30 12:31] miedrl commented on #7489
The problem only appears when the box for the select items is smaller than the name of the item it contains (a horizontal scroll bar must appear). In your example, the box's width was automatically adjusted to the item's name's length so there is no scroll bar.

The problem also appears in the Rain demo (https://www.primefaces.org/rain/input.xhtml), when you change the select item's name so that i

[2021-06-30 12:32] melloware commented on #7489
Can you update my attached reproducer above so I can see the problem.  I can't fix it if I can't reproduce it.

[2021-06-30 12:40] #7497 closed, assigned to melloware

[2021-06-30 12:40] #7486 closed, assigned to melloware

[2021-06-30 13:24] miedrl commented on #7489
Please try this reproducer. I've added javascript to adapt the box's width [pf-7489.zip](https://github.com/primefaces/primefaces/files/6741205/pf-7489.zip)

[2021-06-30 14:42] melloware commented on #7489
I see it now.  But just as a note you didn't need JS to do this just use the `panelStyle` attribute...

[code]

[2021-06-30 14:51] melloware commented on #7489
OK I found a workaround.  Not sure what your RAIN color theme is but if you add this CSS to your application it will fix it. Its missing `overflow: auto`

[code]

But it only highlights up until its container elements width of 200px.

[2021-06-30 14:53] melloware commented on #7489
Assigning to PrimeTek to fix in the themes.

[2021-06-30 15:33] miedrl commented on #7489
melloware: "But it only highlights up until its container elements width of 200px."

But I think the problem is still not fixed because the complete select item should be colored, not only until the width of 200px. Is there a way to color the whole item, no matter the size of its container element's width?

[2021-06-30 15:38] melloware commented on #7489
It is fixed if you use my CSS above.  Here is my screenshot:

![image](https://user-images.githubusercontent.com/4399574/123990417-bda61780-d997-11eb-8801-2803d0ada06e.png)

[2021-06-30 16:04] miedrl commented on #7489
It works with Rain now, thank you.

[2021-06-30 19:10] melloware commented on #7454
The other option @tandraschko is to add them to the owasp-suppressions.xml in our app with reason for exclusion.

See: https://github.com/primefaces/primefaces/blob/master/primefaces/src/conf/owasp-suppressions.xml

[2021-07-01 08:36] skybber opened #7504 "SubTable: Column does not use `colspan/rowspan"
Describe the defect
SubTableRenderer.encodeRow(...) shoud write attribute colspan to `td` using value from `column.getColspan()`

Reproducer
Simply use colspan="2" in subtable

Environment:

    PF Version: 10.0
    JSF + version: e.g. Mojarra 2.2.20 or MyFaces 2.3.9
    Affected browsers: ALL_

To Reproduce
Steps to reproduce the behavior:

    Add colspan="2" to column in subTable
    See error

[2021-07-01 11:33] melloware commented on #7504
Added `rowSpan` and `colSpan` since that is what main table columns supports.

[2021-07-01 11:47] #7504 closed, assigned to melloware

[2021-07-01 14:56] ufuk23 opened #7506 "Timeline: component needs scrollable attribute"
We need a scrollable attribute for the timeline component. The header of the timeline must be constant at the top of the timeline.

We try to use the timeline wrapped in the scrollpanel, but the header of the timeline is not shown steady at the top when the rows are so much like below. Sharing some pictures to tell more about that.

**So we need a scrollable property that will be used inside of th

[2021-07-01 14:57] AndrewG10i commented on #7486
@melloware, great, thanks for addressing this so quickly! )

[2021-07-01 15:10] ufuk23 opened #7507 "The timeline component shows some texts by clipping"
Some texts are shown by clipping in the timeline because they have a short time period like below. Is there any way to show the whole text or could you think about that considering it as a new feature?

![image](https://user-images.githubusercontent.com/8513827/124146281-499e6900-da96-11eb-8805-feae6fb51759.png)

[2021-07-01 15:29] melloware commented on #7506
You might want to check what is possible in the vis-timeline component itself since PF is just wrapping that underlying component.

https://visjs.github.io/vis-timeline/docs/timeline/#Configuration_Options

[2021-07-01 15:31] melloware commented on #7507
You might want to check what is possible in the vis-timeline component itself since PF is just wrapping that underlying component.

https://visjs.github.io/vis-timeline/docs/timeline/#Configuration_Options

Also that is being clipped it looks like because that is the length of the time element.  What we do is showa placeholder then use a tooltip to show more detail if they hover over a small event

[2021-07-01 18:02] #7507 closed, assigned to nobody

[2021-07-01 19:34] melloware commented on #7506
You can do this now...

![image](https://user-images.githubusercontent.com/4399574/124179990-8ca21180-da81-11eb-891f-547d05b41bf5.png)

I add this facet which adds the scroll right and scroll left buttons on the Timeline shown in the picture.

[code]

[2021-07-01 19:34] #7506 closed, assigned to nobody

[2021-07-01 20:15] ufuk23 commented on #7506
That is not the same I told. We need vertical scroll that allows the header steady

[2021-07-01 20:23] melloware commented on #7506
See `verticalScroll` here: https://visjs.github.io/vis-timeline/docs/timeline/#Configuration_Options

And we already have this property available on the timeline: https://primefaces.github.io/primefaces/10_0_0/#/components/timeline?id=timeline

Just set `verticalScroll="true"`

[2021-07-02 10:35] tandraschko commented on #7454
i think we can close it if we add supressions?

[2021-07-02 10:47] #7448 closed, assigned to wal-jan

[2021-07-02 11:35] melloware commented on #7454
OK I will add the suppressions.

[2021-07-02 13:32] #7454 closed, assigned to melloware

[2021-07-02 14:59] Rapster opened #7516 "Datatable: introduce encodeDynamicCell method"
**Description**
Introduce this new method so it can be possible to override dynamic column rendering

[2021-07-02 16:48] christophs78 opened #7523 "TreeTable: provide integrationtests"
Please assign this one to me, i´ll try to work on this.

[2021-07-02 16:58] melloware commented on #7523
CC @FlipWarthog as I was working with him on doing Tree tests.

[2021-07-02 17:10] FlipWarthog commented on #7523
Yep, @melloware gave me the rundown on adding new integration tests so I've started on Tree in reference to #3887. I'm sure TreeTable will be completed first, so I'll watch this issue and pull in the changes when they're complete.

[2021-07-02 21:16] #7516 closed, assigned to Rapster

[2021-07-02 21:18] #7462 closed, assigned to melloware

[2021-07-05 09:15] KevinOldag opened #7528 "CommandLink: doesn't fire action if "onclick" is defined with CSP enabled"
**Describe the defect**
Currently we are migrating our project from Primefaces 8.0 to Primefaces 10.0.0. In Primefaces 8.0 everything worked fine. CSP is enabled since we migrated to PF 8.0.
We are using p:commandLink with an onclick event to check, whether there are changes in the form.. But since primefaces 10 the action of a commandLink isn't executed, if there is an onclick event defined. The

[2021-07-05 12:27] melloware commented on #7528
I wonder if it is related to this fix: https://github.com/primefaces/primefaces/issues/7078

[2021-07-05 12:30] KevinOldag commented on #7528
If I replace the commandLink with a commandButton, everything works fine.

[2021-07-05 12:32] tandraschko commented on #7528
maybe commandlink still renders onclick 2
p:button also did it

[2021-07-05 12:36] melloware commented on #7528
It does it renders passthrough attribute "click"...

[code]

But after it has already rendered the dynamically built `onclick` event..

[code]

[2021-07-05 12:52] melloware commented on #7528
No I don't think my hypothesesis above is correct as this link...

[code]

renders...
[code]

[2021-07-05 13:04] #7419 closed, assigned to christophs78

[2021-07-05 14:18] schaeferm opened #7531 "PanelMenu with global state"
**Describe the defect**
With #6054 the state saving was changed from Cookies to LocalStorage. As discussed in https://github.com/primefaces/primefaces/issues/6054#issuecomment-874127828 ff. the new implementation behaves different in that the state is now saved on a per page basis vs. previously globally.

**Environment:**
 - PF Version: _10.0_
 - JSF + version: _MyFaces 2.3.9_
 - Affected browser

[2021-07-05 18:38] christophs78 opened #7537 "TreeTable: multisort is broken"
**Describe the defect**
Multisort does not respect sort sortPriority. Example 3 "Document Viewer (multi sort, predefined sort in markup)"

**Reproducer**
http://primefaces.org/showcase/ui/data/treetable/sort.xhtml

**Environment:**
 - PF Version: 10.0, 11.0-SNAPSHOT

**To Reproduce**
Look at example 3.

**Notes**
https://github.com/primefaces/primefaces/blob/1f60dda906c252c33865fe38b7614662b8ef130

[2021-07-06 17:09] melloware commented on #7528
More debugging.

CommandLinkRenderer outputs this onclick:
[code]

CSPResponseWriter only has this:
[code]

[2021-07-06 18:15] melloware commented on #7531
I guess the question for everyone is should we introduce a new attribute to determine this?  Does it make sense for all components or should we just restore the PanelMenu behavior back to being a "global" since that is how it was before.

[2021-07-06 18:53] melloware commented on #7531
@schaeferm if you need a MonkeyPatch right now you can add the following to your app.

[code]

[2021-07-06 21:42] vfedoriv opened #7546 "DataTable: onCellEdit event fires too late"
**Describe the defect**
Assume we have datatable whit cell we trying edit and some button below that submit that has ajax action
Then
first scenario: we edit datatable cell (enter new value), do mouse click on some form place (to imitate focus lost) - here onCellEdit
 event will fire, then click the button.
So - **onCellEdit will fire first, then button action will fire second**
second scenario: w

[2021-07-06 21:49] #7523 closed, assigned to christophs78

[2021-07-06 22:27] tandraschko opened #7547 "GitHub Actions should also verify JS minification"

[2021-07-07 08:52] #7528 closed, assigned to melloware

[2021-07-07 13:13] melloware commented on #7546
I am not quite sure how it will be possible to fix this if the button click is queuing an AJAX event and then the browser notifies the text area focus was lost and queues the OnCellEdit AJAX event.  The ordering will always be like that.

To me the workaround in the Stack Overflow post is valid because its using the component's `blur` event which does fire before the Document Focus lost event whic

[2021-07-07 15:42] l-tong opened #7549 "autoComplete: Serenity theme layout.js bug on removing item"
**Describe the defect**
Remove an item from the p:autoComplete multiple select is not working.  It throws an error:
[code]

I have to manually change the serenity-layout/layout.js with temporary fix shown in the codes below.
[code]

**Environment:**
 - PF Version: 10.0.0
 - JSF + version: Mojarra 2.3.9
 - Affected browsers: ALL

**To Reproduce**
1. Download serenity-2.1.1.zip from PrimeStore and a

[2021-07-07 15:44] melloware commented on #7549
According the WIKI Serenity has not been updated for PF10 yet: https://github.com/primefaces/primefaces/wiki/Updates-Of-Premium-Templates-For-PrimeFaces-X

[2021-07-07 15:59] l-tong commented on #7549
Is there an estimate on when Serenity will be updated?  Thanks!

[2021-07-07 16:00] melloware commented on #7549
I don't work for PrimeTek but they have been updating the Discord channel with updates: https://discord.com/channels/787967399105134612/787967713137524737

[2021-07-07 18:25] buunsal commented on #7549
I updated Serenity with new material theme which one is developed from scratch. Please wait a week for release. We are working on some missing features.

[2021-07-07 18:25] #7549 closed, assigned to buunsal

[2021-07-07 18:32] buunsal commented on #7549
Also for monkeypatch for your issue please delete autocomplete code block in layout.js

[2021-07-07 19:45] melloware commented on #7523
Got one of these today: "TreeTable001Test.testGlobalFilter:223 » StaleElementReference stale element re.."

[2021-07-07 20:23] christophs78 commented on #7523
Already looked at this, but currently no idea whats wrong.
https://github.com/primefaces/primefaces/blob/master/primefaces-integration-tests/src/test/java/org/primefaces/integrationtests/treetable/TreeTable001Test.java#L223

[2021-07-07 21:38] karlkras commented on #7364
So what happens to this? It just gets logged and no further work on it as no one can figure out how to fix it?
This would seem to be a pretty serious issue wouldn't it?

[2021-07-07 22:41] tandraschko commented on #7364
You can either pay for support, wait until a contributor like i have time or do it by yourself and become a contributor.

[2021-07-08 07:00] christophs78 commented on #7523
TreeTable001Test.testGlobalFilter:217 » StaleElementReference stale element re...
TreeTable001Test.testGlobalFilter:224 » StaleElementReference stale element re...

[2021-07-08 07:03] christophs78 commented on #7523
Maybe we should add some wait after 213.
Or better modify https://github.com/primefaces/primefaces/blob/925ff332c4d44270d29aaff1e019be713dbd47ba/primefaces-integration-tests/src/test/java/org/primefaces/integrationtests/AbstractTableTest.java#L57.

[2021-07-08 07:11] christophs78 commented on #7523
Ok. For DataTable-integration-tests we set `filterEvent="enter"`.
TreeTable does not have this attribute, so filter ist (propably) fired after each keyup. So we need different implementations of filterGlobal for DataTable und TreeTable.

[2021-07-08 09:24] wlhUser opened #7557 "p:SelectOneMenu - JS function selectValue does not work"
For <p:selectOneMenu> the JS function widget.selectValue() does not work. Seems that the component is not correctly initialized.

**Reproducer**
Can be reproduced on the PF ShowCase Site:
1. Go to Show Case 'selectOneMenu'
2. Find the id of the component 'Hide NoSelection Option' in the browser debugger
3.  Execute in the browser debugger:
`PrimeFaces.getWidgetById('j_idt302:hideNoselectionOption'

[2021-07-08 12:20] melloware commented on #7557
Duplicate of https://github.com/primefaces/primefaces/issues/7393 and workaround already provided there.

[2021-07-08 12:20] #7557 closed, assigned to melloware

[2021-07-08 12:30] #7547 closed, assigned to tandraschko

[2021-07-08 19:50] #6636 closed, assigned to nobody

[2021-07-09 12:31] irieill opened #7562 "DataTable/TreeTable: draggable columns can not be filtered with touch."
**Describe the defect**
Draggable columns of data table can not be filtered with touch.

**Reproducer**
https://github.com/irieill/primefaces-test

I think the problem is that `touchstart` event on the default filter `input` is bubbling to the columns table header which has handlers defined when `draggable` that prevent focusing.

As workaround i added a custom event handler to the filter input th

[2021-07-09 12:32] melloware commented on #7562
Care to submit a PR or provide what you did here as a MonkeyPatch?

[2021-07-09 13:12] iki-hacon opened #7563 "Datepicker: numberOfMonths > 12 shows wrong month names + year"
**Describe the defect**
An (inline) p:datePicker with numberOfMonths  > 12 shows wrong month names and wrong years after the second october

**Environment:**
 - PF Version: _10.0_
 - JSF + version: does not matter

**Expected behavior**
Correct months names and years

**Example XHTML**
[code]
See last 3 months (should be Nov 2021, Dec 2021 and Jan 2022)
![datepickerFehler](https://user-images.gith

[2021-07-09 13:14] melloware commented on #7563
Is it using `11` because months are 0-11 or are they 1-12?

cc @wal-jan @jepsar

[2021-07-09 13:18] iki-hacon commented on #7563
Yes, they are numbered from 0 to 11, but they are 12 elements. Modulo 12 also gives numbers from 0 to 11. In our test, this fix gives the correct result.

[2021-07-09 15:16] #7563 closed, assigned to iki-hacon

[2021-07-09 15:54] irieill commented on #7562
I hook into/extend [`bindTextFilter`](https://github.com/primefaces/primefaces/blob/bc22e09bb3b45137a833f0bd1c07cdd5cc4de65c/primefaces/src/main/resources/META-INF/resources/primefaces/datatable/datatable.js#L679) to add my custom event handler on the filter input.

[code]

[2021-07-09 17:48] markpalermo commented on #7471
Changing the column order after initial rendering seems to break the ordering expected by filters/sorters.
On the Primefaces Showcase:
https://www.primefaces.org/showcase/ui/data/datatable/columns.xhtml

Change the columns to be "code  quantity category name" and click "Update".
Sorting and filtering will now be against the wrong column for most of them.

[2021-07-09 18:35] melloware commented on #7562
Can you try this monkeypatch instead of your code above?  It should do the same thing.

[code]

[2021-07-10 06:29] irieill commented on #7562
Of course, that works too. Thank you!

[2021-07-10 11:31] #7562 closed, assigned to melloware

[2021-07-10 12:02] wal-jan commented on #7364
I did some analysis on this issue. I think there are (at least 2) race conditions. First on `UIInput#submittedValue` and second in the test class on `FileUploadView#fileList`. The root cause is that the FileUpload widget does send asynchronous HTTP requests in parallel. These requests are processed by the underlying HTTP layer in **parallel threads**.
In each of the threads

- the submitted value

[2021-07-10 16:30] melloware commented on #7364
Good analysis @wal-jan I will let @tandraschko chime in on the race condition.

[2021-07-10 18:44] christophs78 opened #7569 "SelectManyMenu: provide PF Selenium - wrapper and integrationtests"
I´ll try to work on this.

[2021-07-10 19:32] melloware commented on #7569
Assigned to you.

[2021-07-10 19:37] tandraschko commented on #7364
i dont think that multi-upload with async requests is a good idea
either send all files in one request - or queue requests

[2021-07-10 20:19] karlkras commented on #7364
Hey, I sponsor many contributors and am very appreciative of the support. I'm just very surprised that (IMO) such  important functionality has gone this long (has this always been broken?) without notice.

[2021-07-12 08:04] artragis opened #7572 "Badge: Icon is duplicated if update badge only"
**Describe the defect**
If another component (poll, commandButton) update a badge by its id the badge content is duplicated.

**Reproducer**

Clone & launch the branch https://github.com/artragis/primefaces-test/tree/badge_duplication
Wait for some seconds and observe :
![badge_dupli](https://user-images.githubusercontent.com/1523653/125252066-3f7f3480-e2f8-11eb-9a39-74e49d1ea3b8.gif)
Nota: if you

[2021-07-12 08:20] tandraschko commented on #7572
can you try to update the commandlink? Maybe a weird case when badge is inside a commandlink

[2021-07-12 08:46] artragis commented on #7572
Like I said in the issue, updating the command link or the container just works. The issue is quite strange and unexpected. Perhaps it just worth documentation.

[2021-07-12 09:33] #7572 closed, assigned to tandraschko

[2021-07-12 10:24] AlessandroBori opened #7573 "Italian server localization"
Localization of primefaces.data.EMPTY_MESSAGE is missing
 should be _primefaces.data.EMPTY_MESSAGE= Nessun record trovato._ or similar

[2021-07-12 10:36] jepsar commented on #7573
It's missing in all the `Messages_xx.properties` files, so missing for each language.

[2021-07-12 12:18] melloware commented on #7573
@jepsar I am only seeing it missing for Italian?

[2021-07-12 12:19] AlessandroBori commented on #7573
In 10.0.2 release (and further releases 10.0.3 & 10.0.4) is present in some languages (German, french etc...) but not in italian

[2021-07-12 12:20] jepsar commented on #7573
Oh, that's weird, I did a search for the key.. probably in the wrong context.. I'm getting results now. Sorry for the fuzz.

[2021-07-12 12:27] melloware commented on #7573
Acutally @AlessandroBori  the Italian is missing quite a few keys.  Do you mind translating all of these and I will fix it?

[code]

[2021-07-12 14:12] elab opened #7574 "Primefaces-Showcase: Typo in DataExporter / DataTable examples"
Some buttons in examples are titled with "XLXS" where it should be "XLSX".

Affected files (simply search by "XLXS"):

primefaces-showcase/src/main/webapp/ui/data/dataexporter/basic.xhtml
primefaces-showcase/src/main/webapp/ui/data/dataexporter/excludeColumns.xhtml
primefaces-showcase/src/main/webapp/ui/data/dataexporter/lazy.xhtml
primefaces-showcase/src/main/webapp/ui/data/dataexporter/treetable

[2021-07-12 16:29] msquare opened #7575 "Tree: TreeNode Drag&Drop not working"
**Describe the defect**
With #7273 the support for drag&drop in the tree element broke. This is since the javascript init function applies drag&drop classes to span elements, which were changed to div in #7273.

**Reproducer**
Just try the tree dragdrop example from the showcase.

**Expected behavior**
The expected behavior is that you can drag items around using your mouse.

**Example**
https://w

[2021-07-12 16:35] VsevolodGolovanov commented on #2811
6.2.30: still happens, but only for timeOnly cases. Eh, good enough for me.

[2021-07-12 17:15] ghost opened #7576 "Calendar: mindate and maxdate does not work"
**Describe the defect**
As described here
https://forum.primefaces.org/viewtopic.php?f=3&t=67214
setting mindate/maxdate in p:calender get strange results.

This one works:
`<p:calendar id="cal" mode="inline"
	value="#{data.selectedDate}"
	pattern="dd.MM.yyyy" locale="de"
	mindate="03.06.2021"
	maxdate="09.06.2021">
	<p:ajax event="dateSelect" listener="#{controller.dateSelectListener}" update="co

[2021-07-12 18:03] melloware commented on #7575
Good catch!

[2021-07-12 18:09] melloware commented on #7574
Thanks for pointing this out!

[2021-07-12 18:12] #7575 closed, assigned to melloware

[2021-07-12 18:17] #7574 closed, assigned to melloware

[2021-07-12 18:25] christophs78 opened #7579 "Tree: provide PF Selenium - wrapper and integrationtests"
If someone else (@FlipWarthog?) wants to work on i´m happy. Else i'll try to care about this.

[2021-07-12 19:24] FlipWarthog commented on #7579
I have started working on Tree. Progress is slow, but if there's no rush I'll continue on it and at least get the base tests and wrapper in place.

[2021-07-13 12:12] #7569 closed, assigned to christophs78

[2021-07-13 13:04] miedrl commented on #5094
@melloware Will this issue be fixed in PrimeFaces 11.0.0?

[2021-07-13 13:26] melloware commented on #5094
That's up to @mertsincan he seemed to have an idea on how to solve this for 11.0

[2021-07-14 06:31] miedrl opened #7580 "Tooltip: should be hoverable and dismissible for accessibility"
**Describe the defect**
The components tooltip and overlayPanel do not fullfil the WCAG 2.1 [success criterion 1.4.13](https://www.w3.org/TR/WCAG21/#content-on-hover-or-focus) for accessibility. The points "dismissible" and "hoverable" of the criterion are not fulfilled as the tooltip/overlay panel disappear when hovering over them and are not dismissible via e.g. ESC.

**Reproducer**
Use this rep

[2021-07-14 08:01] BalthaZarr83 opened #7581 "TreeTable: Filtering and selectionMode checkbox combination bug"
Defect:
When I add filtering capacity to a treeTable with selectionMode set to checkbox, the checkboxes get rendered even for nodes with selectable set to false. Somehow the styleclass ui-treetable-selectable-node is also added to the tr element corresponding with the unselectable node.

I created a sample Project based on the primefaces test prpject:
https://github.com/BalthaZarr83/PF-TreeTable-B

[2021-07-14 11:56] melloware commented on #7580
@miedrl you don't list what is your expected behavior?  I am not understanding exactly what is wrong?

When you hover over it and it dissappears that is controlled by the `hideEvent` option see: https://primefaces.github.io/primefaces/10_0_0/#/components/tooltip

The default is `hideEvent="mouseout"` but you can change that to be another JS Event to hide it.

And for OverlayPanel the defaults are

[2021-07-14 12:14] miedrl commented on #7580
@melloware
I'm sorry, i forgot to add the expected behaviour but it is also mentioned in WCAG 2.0 success criterion 1.4.13 which I linked to. This criterion (among others) has to be fulfilled so that a website or web application can be called accessible.

Additional contents such as PrimeFaces' tooltips and overlay panels need to be dismissible and hoverable as follows:

**dismissible:**

--> This

[2021-07-14 12:17] melloware commented on #7580
Dismissable makes sense to add ESC to close it.

However for hoverable see my post above.  This is controlled with "showEvent" and "hideEvent" so there is nothing we can FORCE it to stay open if entered if someone had say `"hideEvent="mouseover"` right?  Without taking that flexibility away from the component?

[2021-07-14 12:25] jepsar opened #7582 "SelectOneMenu: focused styling (outline) not visible with ui-state-error"
**Describe the defect**
No outline on focused one menu with error.

**Reproducer**
Just create a form with a required `p:selectOneMenu`, leave blank and submit and update the form.

**Environment:**
 - PF Version: _10.0_
 - Theme: Saga

[2021-07-14 12:28] jepsar commented on #7582
There is even a specific rule to prevent this: `body .ui-selectonemenu.ui-state-focus:not(.ui-state-error)`, but no such rule for basic `p:inputText` fields.

By the way, `p:inputText` with `ui-state-error` show a blue outline when focussed. Not really clear IMO.

I think this will be much clearer:
[code]

<img width="300" alt="Screenshot 2021-07-14 at 14 36 14" src="https://user-images.githubuser

[2021-07-14 12:50] melloware commented on #7573
ping @AlessandroBori ???

[2021-07-14 13:01] AlessandroBori commented on #7573
@melloware i'm on it

[2021-07-14 13:06] miedrl commented on #7580
@melloware
Is there a way to expand the mouseover and mouseout events of the button so that they also cover the tooltip/overlay panel? This way, the tooltip would only close if the mouse is outside the button AND outside the tooltip.

Another problem appears with overlay panel (collision is set to "fit") if the overlay panel is very large and the screen width is very small. The content looks like

[2021-07-14 13:11] melloware commented on #7580
Not sure i would have to research.

[2021-07-14 13:15] AlessandroBori commented on #7573
done
[code]

[2021-07-14 13:37] melloware commented on #7573
awesome let me fix it right now.

[2021-07-14 13:42] #7573 closed, assigned to AlessandroBori

[2021-07-14 14:12] BalthaZarr83 commented on #7581
I looked a bit deeper into the problem:
It seems the problem lies in the TreeTableRenderer class:
The filter method is calling the cloneTreeNode(TreeTable tt, TreeNode node, TreeNode parent) method.
But this method is ignoring the selectable property of the original node, therefore the clone gets the selectable=true default property.

[2021-07-14 14:22] melloware commented on #7581
Let me look...

[2021-07-14 14:25] melloware commented on #7581
Hmm I see this in clone tree node?

[code]

[2021-07-14 14:58] BalthaZarr83 commented on #7581
Right, but selected is not selectable. It's selectable property that defines whether the ui-treetable-selectable-node styleclasses get added to the tr elements.

[2021-07-14 15:04] BalthaZarr83 commented on #7581
...so:
clone.setSelectable(node.isSelectable));
should do it.

[2021-07-14 15:12] melloware commented on #7581
Good catch. PR submitted.

[2021-07-14 15:21] #7581 closed, assigned to BalthaZarr83

[2021-07-14 17:50] jepsar opened #7586 "Badge: does not render with ui-badge-dot class on empty value"

[2021-07-14 17:53] melloware commented on #7586
Can you just add a description or code snippet to the problem please.

[2021-07-14 17:58] jepsar commented on #7586
It's not much more than the title. `Badge.DOT_CLASS` is never added when you use `<p:badge value="#{null}">` or `<p:badge value="">` in the test project.

[code]

[2021-07-15 09:25] jlaera opened #7590 "DataTable: with frozen and dynamic columns loses sorting on refresh"
After re-render the table, the icons that indicates which column was used in the sorting does not appear everywhere.
Actually the sort indicator is only displayed for the frozen columns but not for the dynamic ones.

For the reproducer, you can use the showcase "DataTable Dynamic Columns" and by simply adding the frozen attribute like below:

[code]

**Steps to reproduce the behavior:**
_please ad

[2021-07-15 11:41] BalthaZarr83 opened #7591 "TreeTable: Issue with filtering and unselectable Nodes"
Somehow when using a treeTable with selectionMode="checkbox" and a column with the filterBy attribute, nodes with selectable set to false can end up in the TreeNode Array referenced by the selection attribute.

To reproduce it:
Select one item via the checkbox.
Then enter something in the Filter so that the previously selected element is no longer visible.
Then make another selection.

Environment

[2021-07-15 11:49] tandraschko commented on #7591
please provide a reproducer

[2021-07-15 11:49] #7586 closed, assigned to jepsar

[2021-07-15 11:58] melloware commented on #7591
@BalthaZarr83 your issue about propagation is already open and has been for a while here: https://github.com/primefaces/primefaces/issues/4644

[2021-07-15 12:15] melloware commented on #7591
PR submitted please review.

[2021-07-15 12:23] #7591 closed, assigned to melloware

[2021-07-15 12:26] BalthaZarr83 commented on #7591
Wow you are fast:-)
That would be the reproducer, if it still helps
https://github.com/BalthaZarr83/PF-TreeTable-Bug-Demo

Note that to prove that the propagation bug is independent of the yesterday reported bug in the cloneMethod I added a custom TreeTableRenderer with the extra line that fixes the clone bug.

[2021-07-15 12:27] BalthaZarr83 commented on #7591
Thanks melloware, and sorry for not checking that before!

[2021-07-15 14:33] melloware commented on #7591
@BalthaZarr83 I submitted a PR for the propagation props too.  It was already supported just missing from the taglib.xml for you to be able to set them.

https://github.com/primefaces/primefaces/pull/7593

[2021-07-15 14:42] melloware commented on #7036
Closing without a reproducer and no response from OP.  If a reproducer is provided will re-open this ticket.

[2021-07-15 14:42] #7036 closed, assigned to nobody

[2021-07-15 15:07] VsevolodGolovanov commented on #2690
In 6.2.30 splitButton without children causes js errors when clicking anywhere on the page: `Uncaught TypeError: Cannot read property 'left' of undefined`.
Seems to be fixed in 7.0 by #3435.

Can be fixed in 6.2.30 by adding offset check (see `//if there are no menuitems, then the offset is undefined`):
[code]

Reproducer:
[code]

[2021-07-15 16:03] VsevolodGolovanov opened #7595 "Global: PF generates natural ids risking duplicates"
**Describe the defect**
PrimeFaces renders helper markup such as overlay panels and generates ids to tie them together, by adding things like "_panel" to the base component id. Problem is those are very natural ids, that a web application developer could easily specify himself. The ids are generated in such a way that Mojarra's duplicate id detection doesn't notice them. Duplicate ids result in st

[2021-07-15 16:15] tandraschko commented on #7595
I dont think we will change this. Its been there since over 10 years without problems.

I think one could easy create a simple JS to catch duplicate ids.

[2021-07-15 16:16] VsevolodGolovanov commented on #7595
This was brought on by upgrade from 6.1 to 6.2.30, where old code that lucked out and worked suddenly broke.

Probably caused some wasted time, just nobody bothered reporting it.

[2021-07-15 16:54] VsevolodGolovanov commented on #7595
Even adding something small like "_pf_panel" would help a lot. And adapting to this change would be trivial, if someone hardcoded it in their css or js. Could be a simple change for a next major version.

[2021-07-15 17:02] melloware commented on #7595
I understand what you are saying. But yeah this would be a huge change in all the components everywhere.    Can definitely be done in a major version upgrade but it would probably touch almost every Renderer.java and every .js file.

[2021-07-15 17:06] melloware commented on #7282
any update on this ticket?  keep open or close it?

[2021-07-15 17:21] jepsar commented on #7282
It doesn't have priority for me currently. Might get back to it later. Feel free to close for now.

[2021-07-15 17:54] #7282 closed, assigned to jepsar

[2021-07-16 05:49] BalthaZarr83 commented on #7591
Great! Thanks!

[2021-07-16 07:19] #4644 closed, assigned to melloware

[2021-07-16 12:52] kozeljko opened #7597 "Columns: row value is null in sortBy and filterBy"
**Describe the defect**
We are in the process of upgrading from 6.1 to 10.0. One of the main motivations was the inability to use columns with filterBy. The issue was fixed in 7.0, but reappeared again with 10.0.0.

In one case, we use the DataTable component with a single static column and some dynamic columns. Cell values are determined by both row key (date) and column key (data id), as can be

[2021-07-16 13:40] VsevolodGolovanov commented on #7595
Maybe add configurable suffix, and leave it empty by default, so that it's an opt-in mechanism.

[2021-07-16 14:52] Rapster commented on #7597
I can't remember why, but field seems to be mandatory... To ease the migration 8 to 10, field is still deduced from sortBy EL expression. But in your case, sortBy expression is a bit more tricky than what "we" used to dealt with. As a workaround, use `Column#field` attribute, and put whatever you want that should do the trick

[2021-07-16 15:14] melloware opened #7598 "Responsive: PrimeFlex 3.0 Upgrade"
**Description**
PrimeFlex 3.0 was released and contains some breaking changes we would need to update in our components and our GridLayoutUtils.java

Migration Guide: https://www.primefaces.org/primeflex/migration

cc @christophs78

TODOs:

- [x] Showcase
   - [x] all XHTMLs (use PrimeFaces CLI migration tool)
   - [x] PrimeFlex section (documentation as part of XHTMLs)
- [x] Documentation
   - [x

[2021-07-16 17:03] kbrown2017 opened #7600 "TextEditor: Accessibility Issues"
The Text Editor has the following issues with accessibility by keyboard users and use of a screen reader.

- 1.1.1, 1.3.1, 3.3.2:  Each of the <button> controls, text area of the editor, and modal textboxes are missing labels.  These labels must be added to assist the screen reader user in understanding the context of each control.  Please update each of the buttons to include an ARIA label that p

[2021-07-16 17:05] melloware commented on #7600
PF uses QuillJS under the covers so most of these should be reported to QuillJS: https://quilljs.com/

[2021-07-16 17:41] melloware commented on #7600
For example: https://github.com/quilljs/quill/issues?q=is%3Aissue+is%3Aopen+aria

[2021-07-16 17:41] #7600 closed, assigned to nobody

[2021-07-16 18:12] christophs78 commented on #7598
Don´t know yet wether i like all this class-renaming or not.
At least this should allow developers to include PrimeFlex 2 and PrimeFlex 3 without walking through the whole application and replacing css-classes.
Maybe someone want´s to write a migration-tool which walks through all XHTMLs and does this replacement automatically.

[2021-07-16 18:15] melloware commented on #7598
That is not a bad idea.  We were discussing something similar.

[2021-07-16 19:57] christophs78 opened #7601 "DataTable: add integrationtests for dynamic columns"
... including sort & filter

[2021-07-16 19:59] christophs78 commented on #7598
We may provide such a PrimeFlex-Migration-CLI-Tool as new PrimeFaces-module or as part of PF Extensions.
Better to be done once than each costumer on it´s own.

[2021-07-17 16:02] wal-jan commented on #7364
@karlkras after some more analysis I do not think any more that the FileUpload functionality is broken. Let me explain.

- In the reproducer the FileUpload component is backed by a `@ViewScoped` bean. In Primefaces showcase the bean is `@RequestScoped`. The FileUpload component in advanced mode sends each file asynchronously in parallel (see my previous analysis above). In the showcase each reques

[2021-07-17 22:47] paoesco commented on #6987
Is this only for elite users ?
That's a regression from previous primefaces versions so I would have expected to be available to everybody

[2021-07-18 06:19] christophs78 commented on #7537
please active https://github.com/primefaces/primefaces/blob/b56889f50fa7609ac63530268c166f713d6930e3/primefaces-integration-tests/src/test/java/org/primefaces/integrationtests/treetable/TreeTable002Test.java#L61 after this one is fixed

[2021-07-18 11:48] melloware commented on #6987
@paoesco Yes the bug is in Community 10.0 and the fix is only in Elite 10.0.2. That is how the Elite subscription works.  If not you will have to wait until Community 11.0 comes out.

[2021-07-19 07:13] #7601 closed, assigned to nobody

[2021-07-19 10:17] iki-hacon opened #7604 "Datatable: Displayed row does not match actionlistener data after update + sort"
**Describe the defect**
We use the client datatable widgetvar to clear or reapply the filter to the datatable on data update.
After the migration to PF 10 (from 6.1) we are now experiencing wrong data in our row commandButtons.

**Reproducer**
See [primefaces-test-datatable-issue.zip](https://github.com/primefaces/primefaces/files/6839949/primefaces-test-datatable-issue.zip) or relevant snippets b

[2021-07-19 10:19] tandraschko commented on #7604
can you try a snapshot? we already fixed many DT bugs

[2021-07-19 10:56] iki-hacon commented on #7604
When I change the dependency to
[code]
I get an exception during startup of jetty and can not access the test project.

[2021-07-19 11:24] tandraschko commented on #7604
which exception?

[2021-07-19 11:47] tandraschko commented on #7597
yep
not sure why field is handled as mandatory
SortMeta#of should check for field != null && sortBy expression != null

[2021-07-19 12:02] iki-hacon commented on #7604
[code]

[2021-07-19 12:21] tandraschko commented on #7597
i fixed the example now BUT it still invokes the sortBy while creating the SortMeta and therefore rowKey is null

For sorting its invoked correctly

[2021-07-19 12:34] tandraschko commented on #7597
@Rapster
why do we try to extract the "field" from the expression?
shouldnt it be just the other way, that we create a sort VE from the field?

[2021-07-19 12:41] tandraschko commented on #7604
i can run it but i also built PF local without jitpack
but the bug is still existent

@Rapster
any idea?

[2021-07-19 12:49] iki-hacon commented on #7604
It seems similar to this issue: https://github.com/primefaces/primefaces/issues/7367

[2021-07-19 14:23] tandraschko commented on #7597
it seems thats is currently used extracting the field name to comparing userSortMeta and userFilterMeta
if its the only thing currently, i think we should change the tests to work on columnKey
field is just optional currently

[2021-07-19 14:31] Rapster commented on #7597
#resolveSortField has always been there AFAIR, but as I already mentionned we should stop trying to extract from EL expression, that's a very dirty trick

That's what we do already, not sure I follow

Not only, for lazy tables, sortMeta and filterMeta are keyed by fieldname

[2021-07-19 14:35] tandraschko commented on #7597
field is actually just a additional/optional attribute, where the sortVE will be generated from
the second usecase is that its used to compare SortBy and UserSortBy, to build the initial SortBy map
later it isnt used anymore, columnKey is used for everything else

[2021-07-19 14:55] tandraschko commented on #7597
im not sure if i understand correctly but it really seems like
1) if filterBy or sortBy is used, field ist just a optional info which is used to build initialSortBy via sortBy and userSortBy
2) in the past there were 2 notations possible: sortBy=#{car.value} sortBy=#{car[column.container.value]}
    in both cases, sortBy is just called for each row when actual sorting is done
    but we try to ext

[2021-07-19 15:23] tandraschko commented on #7597
i think i understand everything BUT p:columns sortBy

when we decided to introduce a new notation (sortBy=#{column.container.value}) and deprecate the old (sortBy=#{car[column.container.value]})?

IMO
sortBy=#{column.container.value}
is wrong and isnt a valid expression for sorting
whereas
#{car[column.container.value]}
is a real expression and resolves to the value

[2021-07-19 15:41] Rapster commented on #7597
True, I'm not even sure first option even works...

[2021-07-19 15:51] #7579 closed, assigned to FlipWarthog

[2021-07-19 15:56] tandraschko commented on #7597
nope, it isnt and really hard to support
as we cant easy differ between #{column.container.value} or e.g. a valid syntax like here: #{testView.tableModel.getValue(row, column.keyId)}

[2021-07-19 16:22] tandraschko commented on #7597
sortBy=#{column.container.value} is still not supported and test still deactivated; not related to this issue

[2021-07-19 16:22] #7597 closed, assigned to tandraschko

[2021-07-19 16:32] melloware commented on #7364
so now that integration tests have been provided and a working test case @karlkras @wal-jan can this issue be closed?

[2021-07-19 16:46] karlkras commented on #7364
I see a test case for simple mode, does this apply to auto too? That's where it all started.

[2021-07-19 17:02] tandraschko commented on #7364
And we need at least docs or really change the behavior

[2021-07-19 17:09] wal-jan commented on #7364
@karlkras test case for mode=advanced auto=false multiple=true is https://github.com/primefaces/primefaces/blob/171c42d7abc62b0af85e8008d7b4e86cb136dcc4/primefaces-integration-tests/src/main/webapp/fileupload/fileUpload006.xhtml#L17-L18

[2021-07-20 01:50] ndrikdarto opened #7606 "DataTable : p:columns's and p:column's row height is not in same level in one datatable with frozenColumns"
**Describe the defect**
Use p:dataTable with frozenColumns, p:column and p:columns. If the p:columns's value has 1 line, the p:column display row height correctly. But if the p:columns's value has more than 1 line, the p:column do not display row height correctly. the p:column still diplay 1 line row height. So, the p:column's and p:columns's row height is unsychrone.

**Reproducer**
Clone reposit

[2021-07-20 02:06] ndrikdarto commented on #7606
Is this the solution? https://stackoverflow.com/questions/25887963/primefaces-datatable-frozen-columns-misallignment

[2021-07-20 11:09] jepsar commented on #7582
Can also be seen here https://primefaces.org/diamond/invalidstate.xhtml and the same issue applies to hover as well I've noticed.

[2021-07-20 11:21] Rapster opened #7607 "Column: wrong parsing of fieldname from sortby/filterBy VE"
**Describe the defect**
As we're migrating all of our columns to use `UIColumn#field` instead of sortBy/filterBy. I recently discovered a bug when sortBy contains an expression like: `#{i18n[row][property]}`, it resolves a fieldname `i18n[row][property]` which obvisouly turn into a bug later on. Same goes for `p:columns` with `#{i18n[row][column[property]]}` (`row][column[property]` being resolved

[2021-07-20 11:26] tandraschko commented on #7607
We should even think about it, if we really need to parse field from the VE
field in SortMeta/FilterMeta isnt mandatory at all

[2021-07-20 11:34] Rapster commented on #7607
Well I always said that we should remove that thing, you'll always find a VE that will mess this up (I'm just fixing it for backward compatibility)... Regarding `UIColumn#field`, on the contrary I think it should be mandatory for sorting and filtering on the long run. Make even more sense for lazy tables, as it's some sort of alias of the column it helps you to identify your column.

[2021-07-20 11:51] tandraschko commented on #7607
what does your PR fix now?
"#{i18n[row][column[property]]}" still listed as unsupported in the test?

[2021-07-20 12:00] Rapster commented on #7607
That's the idea, better to return null than a wrong field. As mentionned, we should support two very basic VE of sortBy/filterBy instead of trying so hard to support everything

[2021-07-20 12:09] melloware commented on #7606
Yes PrimeTek has stated in the past they do not want to dynamically calculate heights and widths with JS code because of the performance penalty.  So the script I posted above on Stack Overflow I use in my projects and works great.

Closing this issue as PrimeTek has made their stance clear here: https://github.com/primefaces/primefaces/issues/2388#issuecomment-305125194

[2021-07-20 12:09] #7606 closed, assigned to nobody

[2021-07-20 12:11] #7607 closed, assigned to Rapster

[2021-07-20 12:16] fanste commented on #6575
There seems to be a chicken-egg problem when lazy mode is combined with multi-view-state.

`DataTableRenderer#preRender` invokes `DataTable#restoreMultiViewState` which decodes the selection using the changes from this issue. The decode-routine tries to resolve the real object behind the row-key using the data model. But that data model is not yet populated as `DataTable#loadLazyData` is invoked a

[2021-07-20 12:40] didiez opened #7609 "Tree: "value" invoked on visitTree, even when rendered=false"
**Describe the defect**
The value expression in the `value` attribute of `<p:tree>` is being invoked even when the component is not rendered.

**Reproducer**
Clone repository https://github.com/didiez/primefaces-tree-bug in order to reproduce your problem.

**Environment:**
 - PF Version: 10.0.0
 - JSF + version: Mojarra 2.3.15
 - Affected browsers: ALL

**To Reproduce**
Steps to reproduce the beh

[2021-07-20 13:01] melloware commented on #6575
@fanste can you provide a PR of what you were thinking?

[2021-07-20 13:10] tandraschko commented on #7609
yep
its visited for statesaving, im not sure if we can fix this

[2021-07-20 13:52] #7609 closed, assigned to tandraschko

[2021-07-20 14:02] melloware commented on #7609
nice!

[2021-07-20 14:09] tandraschko commented on #7604
its the same issue actually
seems its broken again

NOTE: its not, added a exact testcase

[2021-07-20 14:46] tandraschko commented on #7604
verified it now, works fine for me now

[2021-07-20 14:46] #7604 closed, assigned to tandraschko

[2021-07-20 14:57] iki-hacon commented on #7604
@tandraschko Is there any monkey patch to make this working for me in PF 10.0.0 right now?

[2021-07-20 15:58] tandraschko commented on #7604
Nope sorry
In better invest my time in still existing bugs sorry

I suggest to make a snapshot build and deploy it in your own repo
GitHub master is more stable as 10.0 probaply

[2021-07-20 16:06] fanste commented on #6575
We just tested our solution and it works. But implement it nicely a change to the interface `MultiViewStateAware` is needed.

`restoreMultiViewState()` would get `restoreMultiViewState(boolean runDataIndepententRestore, boolean runDataDependentRestore)` or something like that.

In case of lazy mode the usage would look like
[code]

in case of non-lazy mode it would look like
[code]

If such a chan

[2021-07-20 16:10] Rapster commented on #6575
Better to provide a PR to assess all the changes 😉

[2021-07-21 07:21] shelcomite opened #7613 "Tree: Focus / Navigation broken if tree is droppable"
If droppable is active on a p:tree and you tab to it the whole tree container is focused. And in this case it is impossible to select a node via keyboard.

**Reproducer**
https://www.primefaces.org/showcase/ui/data/tree/basic.xhtml
https://www.primefaces.org/showcase/ui/data/tree/dragdrop.xhtml

**Environment:**
PF Showcase v10

**To Reproduce**
Tab to focus the tree on both pages.

**Expected beh

[2021-07-21 08:28] weiprd opened #7614 "Splitbutton: Spacebar does not keep menu open in Firefox"
**Issue Description**
The submenu of the [SplitButton](https://www.primefaces.org/showcase/ui/button/splitButton.xhtml?jfwid=9a7bd) can be opened by pressing down the spacebar. When you release the spacebar, the submenu closes immediately.
It stays open using the return key.

**Expected behavior**
I would expect the submenu to also stay open when using spacebar, so you can make the selection using

[2021-07-21 12:20] melloware commented on #7613
Definitely confirmed this issue and its something to do with multiple focus call conflicts when using Drag and Drop.

[2021-07-21 12:22] melloware commented on #7614
I can't reproduce?  When I press the SpaceBar the splitButton menu opens and I can navigate it with arrows keys just fine?

Chrome 91.

[2021-07-21 12:25] weiprd commented on #7614
I used Firefox 78.12.0esr (64-Bit)

[2021-07-21 12:27] melloware commented on #7614
Firefox 89.0.2 (64-bit) has the same issue but Chrome and Edge do not.  @jepsar can you try Safari since I know you are a mac user?

[2021-07-21 13:49] FlipWarthog commented on #7598
@melloware Also this condition in PanelGridRenderer will need to be updated:
[code]

[2021-07-21 15:02] VsevolodGolovanov commented on #3346
Makes no sense that change/valueChange doesn't include selected dates, only textual input. And this distinction is probably not interesting in almost 100% of cases, but often leads to faulty UI that only handles dateSelect, since devs generally just click a random date to test, unlike real users who may want to input a specific date by hand. And both guide and showcase make a point of presenting d

[2021-07-21 15:36] wal-jan commented on #6428
There are more NPEs. <p:fileUpload **mode=simple auto=true** _fileLimit=x sizeLimit=y allowTypes=z_ .../> sends empty parts if fileLimit, sizeLimit or allowTypes are violated. NPEs occur with both UPLOADER=native and UPLOADER=commons

[PF-6428-commons.zip](https://github.com/primefaces/primefaces/files/6856978/PF-6428-commons.zip)
[PF-6428-native.zip](https://github.com/primefaces/primefaces/files

[2021-07-21 15:50] ozziej opened #7615 "DatePicker: crashes with NPE when converting from p:calendar"
**Describe the defect**
When migrating from PF8.0 to PF10.0.4 changing p:calendar to p:datePicker causes Null Pointer Exceptions if the referenced object is null. (which is not terribly surprising, but this code works on p:calendar, and I cannot see an easy way around this.)

**Environment:**
 - PF Version: 10.0.4
 - JSF + version: JSF 2.3, WildFly 24.0.0_Final
 - Affected browsers: ALL

**To Repr

[2021-07-21 16:27] melloware commented on #7615
I actually think it should not have worked in Calendar and the above error is correct?

[2021-07-21 18:47] garcia-jj opened #7616 "FileUpload: Simple auto upload throws exception while size limit is reached"
I tried to use the simple file upload component with auto=true, and an error occurs while I sent a file that reaches the max upload size.  Debugging the code I see that field `part` inside `NativeUploadedFile` class is null.

**Reproducer**
Clone repository https://github.com/garcia-jj/primefaces-upload-issue in order to reproduce that issue. The page http://127.0.0.10:8080/primefaces-test/basic.x

[2021-07-21 18:55] melloware commented on #6428
@wal-jan can you open a new issue with these in it?

[2021-07-21 19:44] wal-jan opened #7617 "FileUpload: several NPEs"
Follow up of #6428
`FileUpload` throws NPE at several places. `<p:fileUpload mode=simple auto=true fileLimit=x sizeLimit=y allowTypes=z .../>` sends empty parts if fileLimit, sizeLimit or allowTypes are violated. NPEs occur with both UPLOADER=native and UPLOADER=commons
Example:
[code]
[code]
**Reproducer**
[PF-6428-native.zip](https://github.com/primefaces/primefaces/files/6858249/PF-6428-native.

[2021-07-22 00:50] FlipWarthog commented on #7613
@melloware I started working on adding integration tests to reveal this issue, first proving that it works in the normal case and is broken in the drag/drop case, and it looks like this is happening for normal trees too in 11.0.0.

Reproducer: [primefaces-test-pf7613.zip](https://github.com/primefaces/primefaces/files/6859413/primefaces-test-pf7613.zip)

[2021-07-22 07:13] ozziej commented on #7615
Yes, as I mentioned, it probably **should** give an NPE error, but when using p:calendar it doesn't, but using p:datePicker, it does.

[2021-07-22 07:48] ozziej commented on #7615
So, I re-created the issue, using the example at :
https://www.primefaces.org/showcase/ui/data/datatable/crud.xhtml

The example here gets around the issue by using a rendered attribute on the container.
<p:outputPanel rendered="#{not empty crudView.selectedProduct}">
...
                            <div class="p-field p-col">
                                <p:outputLabel for="creationTime">Creat

[2021-07-22 11:45] melloware commented on #7615
i think maybe you are misunderstanding me. I am saying this is NOT a bug in DatePicker..  You have...
[code]

So that means your `selectedUser` is null and thus `dateOfBirth` cannot be reached.  The error is clear JSF EL error and correct.  Why the Calendar does not have this error I am not sure but I believe the DatePicker is doing the right thing and this is the correct error.

@tandraschko any

[2021-07-22 11:47] melloware commented on #7613
Excellent.  When I run the showcase 11.0-SNAPSHOT I see the same behavior described above.  Focus is fine for normal trees and wrong for DragDrop Tree.  Are you saying your reproducer thinks its wrong for 11.0 for normal trees?

[2021-07-22 11:50] ozziej commented on #7615
@melloware I'm understanding completely, and I agree that its "doing the right thing" however, this ONLY occurs with the date picker.
So, all other elements e.g. <p:inputText value="#{userController.selectedUser.surname}"/> for example do NOT produce a NPE. its ONLY the p:datePicker element.

So, what I'm perhaps saying, is that yes, the datePicker is "doing the right thing" by throwing an NPE, ho

[2021-07-22 12:02] melloware commented on #7615
Understood.

[2021-07-22 12:29] melloware commented on #7616
Thanks for the reproducer!  I modified your example slightly to print out an invalid size message.
[code]

[2021-07-22 12:29] tandraschko commented on #7615
currently expected as we need to extract the type of the binding.
maybe #getExpectedType works better in all cases compared to #getType

[2021-07-22 12:31] melloware commented on #7616
PR Submitted please review.

[2021-07-22 12:35] melloware commented on #7617
OK I fixed the first one with this PR: https://github.com/primefaces/primefaces/pull/7618

[2021-07-22 13:03] shelcomite commented on #7613
In V10 the droppoints (also li elements like nodes) are the problem. The jQuery find() selectors are looking for li instead of li.ui-treenode.

For example in VerticalTree:

[code]

should be something like this:

[code]

[2021-07-22 13:21] FlipWarthog commented on #7613
That's the behavior I'm seeing with both the primefaces-test(linked above) and the new integration test. I haven't done a dive into the showcase page to see what the differences are.

I still need to step through the js debugger to see if what I'm seeing is similar to what @shelcomite mentioned, which I think is what we were talking about yesterday.

[2021-07-22 13:26] melloware commented on #7615
You can follow my PR here for comments: https://github.com/primefaces/primefaces/pull/7619

[2021-07-22 13:33] melloware commented on #7613
Can either of you try this MonkeyPatch...
[code]

[2021-07-22 13:56] fanste opened #7620 "Showcase: Update schema location of ehcache"
Trying to import this repository to eclipse to implement some fixes shows me an error regarding the ehcache example in the showcase. Root cause is, that they enforce HTTPS instead of HTTP and my eclipse 2021-03 installation is not happy about the 301 HTTP status.

After changing all `http://www.ehcache.org/...` to `https://www.ehcache.org/...`, everything is fine.

PR is on the way.

[2021-07-22 13:59] melloware commented on #7620
thanks!

[2021-07-22 14:56] miedrl opened #7623 "InputGroup: highlighting does not cover whole inputGroup"
**Describe the defect**
When an input text (or another input component) is part of an input group and the input text is hovered over or focused, only the input text is highlighted but not the input group addons (see picture below). The defect appears no matter if the input group addons are set before or after the input text.

![screenshot_highlighting_inputgroup](https://user-images.githubusercont

[2021-07-22 14:59] tandraschko commented on #7623
new feature as never implemented to support this

[2021-07-22 15:54] stolp commented on #7623
To add my two cents, I don't think that this is a desirable behavior.

IMHO hover-highlighting should be limited to active input elements, one at a time.

[2021-07-22 16:01] melloware commented on #7623
I just had this same conversation with a co-worker about this too and I agree with @stolp

[2021-07-22 16:25] FlipWarthog commented on #7613
@melloware That didn't quite work. I think the issue is related to [this issue](https://github.com/primefaces/primefaces/issues/7575).

Changing the above, as well as changing from span to div seems to fix it:
[code]

[2021-07-22 16:38] melloware commented on #7613
So this MonkeyPatch...
[code]

[2021-07-22 17:36] garcia-jj commented on #7616
Great job. Thank U

[2021-07-22 17:43] FlipWarthog commented on #7613
Correction, your original MonkeyPatch works in PrimeFaces 10 since the span/div change wasn't made until later:
[code]

There's a hitch, though: while this fixes the main focus issue, the bindKeyEvents cases for KeyCode.UP and KeyCode.DOWN still hit the droppoints so you're required to press either twice to actually move once.

[2021-07-22 19:29] christophs78 opened #7625 "PrimeFaces Selenium: evaluate http-proxy as generic solution for PrimeSelenium#guardAjax"
We may play around with https://github.com/lightbody/browsermob-proxy#http-request-manipulation.
I don´t plan to work on this immediatelly. Just to put it in our backlog and maybe come back later.

[2021-07-23 05:49] miedrl commented on #7623
Okay but then I would expect the input element to be fully covered by the highlighting as in the second picture. In my opinion, the right border of the input element should be highlighted as well if the element has an inputgroup-addon attached at the right.

[2021-07-23 11:01] melloware commented on #7623
Assigning to PrimeTek

[2021-07-23 12:06] #7613 closed, assigned to FlipWarthog

[2021-07-23 12:11] melloware commented on #7625
I created a new "integration_test" label so we can label tickets specifically for this.

[2021-07-23 12:23] melloware commented on #7616
@wal-jan is going to take a shot at a more comprehensive fix.

[2021-07-23 14:04] sreekaranr opened #7627 "Primefaces 10: Removal of ui-state-error on password"
**Describe the defect**

ui-state-error is not added to the list of classes when validation fails on p:password. This was working in version 8 and that is how we were able to identify and highlight the fields. In addition to removal of ui-state-error, no update on classes is made on validation errors for p:password making it difficult to implement a custom solution.

**Environment:**
 - PF Version

[2021-07-23 14:19] melloware commented on #7627
duplicate already fixed in Elite 10.0.2 and 11.0.0 see: https://github.com/primefaces/primefaces/issues/7219

[2021-07-23 14:20] #7627 closed, assigned to nobody

[2021-07-23 14:22] jepsar opened #7628 "Spinner: align text alignment classes with PrimeFlex 3"
See #7370

`p-` prefix should be removed.

@melloware I'll create a PR for this.

[2021-07-23 14:48] #7628 closed, assigned to jepsar

[2021-07-24 21:32] christophs78 commented on #7598
Regarding PrimeFlex-Migration-CLI-Tool the first step seems to be creating a file (JSON/XML/CSV) which contains a mapping for all PrimeFlex 2.0 - classes to PrimeFlex 3.0 - classes. I´ll try to start a PR for this.

[2021-07-25 02:09] jxmai opened #7631 "DatePicker: Arrow icons for changing time are not rendered - e.g. css class: ui-icon-carat-1-n"
**Describe the defect**

Arrow icons in datepicker component are not rendered properly.

**Reproducer**

Go to showcase: https://www.primefaces.org/showcase/ui/input/datepicker/datePicker.xhtml

![image](https://user-images.githubusercontent.com/10467831/126885301-decfc6f1-9c70-4457-9fa9-a35c365ecbac.png)

![image](https://user-images.githubusercontent.com/10467831/126885312-b9f35de2-a696-447e-a53

[2021-07-25 10:42] melloware commented on #7631
I think this might be a Saga Vela Arya theme issue.

[2021-07-25 12:56] christophs78 commented on #7631
https://github.com/primefaces/primefaces/issues/7114 ?

[2021-07-25 14:22] jxmai commented on #7631
Interesting. The text indent in jquery ui is strange but this line https://github.com/primefaces/primefaces/blob/53e480465f9009f5223f75cbdd66af9f2e7b8dde/src/main/resources/META-INF/resources/primefaces/jquery/jquery.ui.css#L353 has already been there since 11 Aug 2017

That looks like the same defect. I included the css https://github.com/primefaces/primefaces/commit/366b62afd7c55ac91c239f69ad612

[2021-07-25 14:22] #7631 closed, assigned to nobody

[2021-07-25 14:23] Groell-Philipp commented on #6950
Comment moved to #6561.

[2021-07-25 20:59] melloware commented on #6950
Yes your comments could belong under #6561

[2021-07-26 11:13] #7616 closed, assigned to nobody

[2021-07-26 11:13] #7617 closed, assigned to wal-jan

[2021-07-26 11:36] Groell-Philipp commented on #6561
The problem here, and in other widgets as well, is that for keyboard navigation inside a widget focus management must happen programatically. A mix of tabindex and ARIA role/property attributes alone won't do the trick. See section 6 of the WAI-ARIA authoring practices.

You can find working examples of both vertical and horizontal menus at

* https://www.w3.org/TR/wai-aria-practices-1.1/examples/

[2021-07-26 11:42] KaBo00oM opened #7634 "TreeTable: DefaultTreeNode.setChildren() produces NullPointerException"
**Describe the defect**
When using the Function DefaultTreeNode.setChildren(List<TreeNode> children) to setup the TreeTable a NullPointerException is thrown. because the rowKey of the Children is never set/updated.

**Reproducer**
I recreated the issue by forking the primefaces-test git-repository to https://github.com/KaBo00oM/primefaces-test to show what happens.

**Environment:**
 - PF Version:

[2021-07-26 12:24] iki-hacon commented on #7604
This is a very critical bug for us! Our application is heavy on data (and therefore DataTables) and this bug causes the user to edit or even delete the wrong data entries. Without noticing it. Even with a confirm dialogue, no one really looks at the details. So this bug does not cause an error messages or something highly visible or it simply does not work. But some days later the user notices som

[2021-07-26 12:34] tandraschko commented on #7604
i think the most related commits are linked here: https://github.com/primefaces/primefaces/issues/7336

we, the community, marked the this issue as "elite" candidate. everything else is up to @mertsincan @sqores
however you can push the fix to elite probably with PrimeFaces PRO but please contact PrimeTek then
i hope 11.0 is ready soon but thats also up to primetek

[2021-07-26 13:26] #7634 closed, assigned to tandraschko

[2021-07-26 13:28] tandraschko commented on #7634
fixed it and added a unittest

[2021-07-26 13:29] #7615 closed, assigned to melloware

[2021-07-26 14:36] tandraschko commented on #7136
ok guys
i will commit a fix now, it would be great if you can test your applicaitons and everything in treetable
i ported some fixes from DataTable to TreeTable now, i hope everyhting is still working
we dont have that much integrationstests like for DataTable

[2021-07-26 14:38] tandraschko commented on #7136
@christophs78 @melloware i would be very very nice if you could add some more integrationtests for treetable, especially this case

[2021-07-26 15:09] tandraschko commented on #7136
nvm, i have some minutes to do it

[2021-07-26 15:24] #7136 closed, assigned to tandraschko

[2021-07-26 15:41] tandraschko commented on #7537
@christophs78 do you plan to work on this?
too complicated for my spare time currenctly :D

[2021-07-26 17:22] wal-jan commented on #7576
DatePicker shows same behaviour
[code]
results in `... minimum date must be less than maximum date`

[2021-07-26 17:58] christophs78 commented on #7537
No short term-plans to work on this. Maybe later.

[2021-07-26 18:19] jepsar opened #7638 "UICalendar: validateMinMax does not work with strings or mixed types"
It cannot be used on strings or if both dates are of different types.

See https://stackoverflow.com/questions/68503275/jsf-primefaces-10-how-to-set-pdatepickers-maxdate-attribute-using-utility-be

https://github.com/primefaces/primefaces/blob/e84141bdc5a60aa3a4261b31304d686e181c1d62/primefaces/src/main/java/org/primefaces/component/api/UICalendar.java#L377-L385

[2021-07-26 18:22] jepsar commented on #7638
Might be a duplicate of #7576

[2021-07-26 18:26] jepsar commented on #7638
Yeah, it is a duplicate

[2021-07-26 18:26] #7638 closed, assigned to nobody

[2021-07-27 07:53] #7537 closed, assigned to tandraschko

[2021-07-27 12:17] netslow opened #7639 "Spinner: different stepFactor for increase/decrease"
**Description**
I've faced with task where I need different **stepFactor** for increase and decrease value.

**Describe the solution you would like**
For increase **stepFactor** should be 6, when decrease it should be 1. Add two properties like: stepPlus and stepMinus.

**Additional context**
I've tried to handle it in setter method in bean. But if user clicks fast, this method doesn't work well.

[2021-07-27 12:45] jepsar commented on #7639
I'm not sure if this is really common thing to add to the spinner. What is your use case?

[2021-07-27 12:53] tandraschko commented on #6710
i now started to move TreeTable code to features
later we can decide how we can merge them with DataTable features

[2021-07-27 12:54] melloware commented on #7639
To me this is not really a needed feature and is easy to just MonkeyPatch yourself to get this behavior for that sepcific spinner.  Just use this patch script.

[code]

[2021-07-27 13:32] melloware commented on #6397
Reopening issue as InputNumber is firing too many change events because of this fix reported by a PRO user.

[code]

[2021-07-27 15:30] kozeljko commented on #7597
Hello,

thanks for the responses. I've been busy with other projects, so I couldn't check back on this answer. From what I've read here, we've been using an approach that doesn't really fit well with the new way that sorting is handled. And that examples with #{car[column.container.value]} and #{car.value} are the way to go.

I've played around a bit with the example and got some success by making

[2021-07-27 15:41] melloware commented on #7597
PrimeTek decides what goes in an Elite release.  Typically its issues submitted by PRO customers or absolutely critical defects fixed here in the Community.

[2021-07-27 15:42] kozeljko commented on #7597
Thanks for the clarification

[2021-07-27 15:42] melloware commented on #7639
I am going to close this as wontFix.  We can always re-open if more and more people request this feature but since its easy enough for people to just use the MonkeyPatch above I don't think this should go into the product.

[2021-07-27 15:42] #7639 closed, assigned to nobody

[2021-07-27 15:47] jepsar commented on #7639
@melloware Should't it be
[code]
?

[2021-07-27 15:48] melloware commented on #7639
Yep just updated my script :)

[2021-07-27 20:29] #7576 closed, assigned to wal-jan

[2021-07-28 06:42] tandraschko commented on #7597
just to clarify
every valid EL expression, that returns the value for the current row/column, works for sorting
however, only #{car[column.container.value]} and #{car.value} are working to extract the field, which is optional in the PF codebase

[2021-07-28 07:34] netslow commented on #7639
Thank you. I'll try this workaround.

[2021-07-28 08:30] jepsar commented on #6956
If IE is dropped we could DRY up CSS using the `:is()` pseudo selector

https://caniuse.com/css-matches-pseudo
https://developer.mozilla.org/en-US/docs/Web/CSS/:is

[2021-07-28 08:39] tandraschko commented on #6956
we discussed this today in our company and IE11 end of life seems to be 06/2022

[2021-07-28 08:40] tandraschko commented on #6956
https://blogs.windows.com/windowsexperience/2021/05/19/the-future-of-internet-explorer-on-windows-10-is-in-microsoft-edge/

[2021-07-28 10:10] tandraschko commented on #6710
the code looks much cleanrer now, thats enough for me currently

[2021-07-28 10:10] #6710 closed, assigned to tandraschko

[2021-07-28 12:07] melloware commented on #7639
Excellent let me know if that doesn't work for you.

[2021-07-28 12:07] melloware commented on #6710
Looks great @tandraschko !

[2021-07-28 12:57] wal-jan opened #7641 "FileUpload: throws RuntimeExceptions when chunked mode is used"
**Describe the defect**
1. Chunked FileUpload throws RuntimeException if `UPLOADER=native`.
[code]

2. Chunked FileUpload throws NPE if `UPLOADER=comons` and
`<init-param><param-name>uploadDirectory</param-name>...</init-param>` is not configured in `web.xml`
[code]
**Reproducer**
Former issue cannot be reproduced with primefaces-test project, since jetty adds some attributes to the request which

[2021-07-28 12:58] wal-jan commented on #7641
I'll provide a PR with corrected FileUpload handling and some more integration test.

[2021-07-28 13:07] melloware commented on #7641
I assigned it to you. Thanks!

[2021-07-28 15:46] jepsar commented on #7614
No issue with Safari Version 14.1.1 (16611.2.7.1.4)

[2021-07-28 15:53] garcia-jj opened #7642 "FileUpload: Ajax Status component doesn't came back to complete status after upload completes"
**Describe the defect**
While using file basic upload component, the ajax status component doesn't back to COMPLETE status after upload done. The status component still in the START state.

**Reproducer**
The reproducer is available at https://github.com/garcia-jj/primefaces-upload-issue.

**Environment:**
 - PF Version: _10.0_ downloaded via gradle from Maven Central
 - JSF + version: _e.g. Wildf

[2021-07-28 18:13] Rapster commented on #7641
Can't reproduce your first problem with native uploader

[2021-07-28 18:41] wal-jan commented on #7641
The bug is in
https://github.com/primefaces/primefaces/blob/97e4308f0eca1a5b07f4dbb34341adc8e7c3bed2/primefaces/src/main/java/org/primefaces/component/fileupload/NativeFileUploadDecoder.java#L78-L79
`Stream.of(request.getAttributeNames())` sets up a stream of a *single element* (in this case the element is of type `Enumeration<String>`) In the next line `o,nextElement()` only succeeds if the enume

[2021-07-28 19:03] Rapster commented on #7641
And how do you create a request without any request attributes?

[2021-07-28 19:17] wal-jan commented on #7641
primefaces-integration-test project utilizes TomEE. Looks like TomEE does not add request attributes (in contrary to Jetty). And the Reproducer does not set request attributes at all.

[2021-07-29 07:06] tandraschko commented on #6773
i already removed this stuff locally: https://gist.github.com/tandraschko/b9168b3bc4982f5ce3eab373f32244b4
basically we overwrite some Mojarra code because their internal "isNestedInIterator" doesnt work for PrimeFaces components

i think we should only apply it after adding some intergrationtests for old cases, too
we need do check old google issues
and some tests where multiple datatables are ne

[2021-07-29 11:39] melloware commented on #6773
@tandraschko I am not positive but I don't think multiple datatable works in `ui:repeat` right now see: https://github.com/primefaces/primefaces/issues/3812

So I am not sure that is worth testing.

[2021-07-29 12:12] melloware commented on #7642
I fixed your reproducer...
[pf-7642.zip](https://github.com/primefaces/primefaces/files/6900362/pf-7642.zip)

Your `complete` facet is empty which means it doesn't get rendered because it has no children.
[code]

The JS code ensures that there is a valid complete facet to call and since yours never gets rendered this does not do anything..
[code]

So I changed it to...
[code]

And now your code wo

[2021-07-29 12:15] #7642 closed, assigned to nobody

[2021-07-29 12:22] garcia-jj commented on #7642
Thank U @melloware. 👍

[2021-07-29 12:23] melloware commented on #7642
no prob!

[2021-07-29 12:28] stolp commented on #6773
In my PrimeFaces 10 application, I am using a p: tabView with p:repeat over p:tabs containing a p:dataTable each.

This is so far working for me, but I am not using selection.

So yes, this pattern is in use out there.

[2021-07-29 12:29] melloware commented on #6773
Interesting that this has been PrimeTek's stance on this issue: https://github.com/primefaces/primefaces/issues/3812#issuecomment-710003755

[2021-07-29 12:34] stolp commented on #6773
I stand corrected: It is indeed a <c:forEach>

[2021-07-29 12:34] tandraschko commented on #6773
TBH i think PF is just doing something wrong if everything works but no selection
therefore i would like to have some tests, so we know at least what works and what not

[2021-07-30 07:31] macbyte0815 opened #7647 "TriStateCheckbox: required not working"
required attribute is in <p:triStateCheckbox> not working.
Tested on version 6.25 and 8.0
Code:

[code]

Bean Code:

[code]

[2021-07-30 08:00] iki-hacon commented on #7604
@tandraschko
I have now analysed the source code of 10.0.0 and master quite a bit and it seems that a small little change fixes my issue. The question is if this has some side effects which I do not foresee?

My fix is:
`org.primefaces.component.datatable.feature.SortFeature.java`

Add the following 2 lines to the end of

[code]
If I put a patched SortFeature.java like this into the test project,

[2021-07-30 10:54] serial389 opened #7648 "DataTable/TreeTable: In a sorted datatable the aria-label in Primefaces 10 always shows the text "undefined" after the column name."
In Primefaces 10 the `aria-label` for a sorted datatable is partly broken and always shows the text "undefined" after the column name.
In Primefaces 8 the `aria-label` works as expected.

 - PF Version: 8.0  works
 - PF Version: 10.0  don't work
 - PF Version: 11.0-SNAPSHOT  don't work
 - Affected browsers: ALL

**To Reproduce**
To see what is wrong go to the Primefaces showcase for DataTable Sort

[2021-07-30 11:33] melloware commented on #7648
Great analysis.  Check out my PR. the PF8 labels are the correct labels and these should not have ben updated to their "server" side keys.

[2021-07-30 11:37] melloware commented on #7647
Well not sure what the correct behavior is as a checkbox unchecked IS a value.  IS your idea that if its required they HAVE to check the box?  Because unchecked is sending a proper value that its unchecked.  Juts like a boolean checkbox its either TRUE or FALSE I don't think you can mark it "required"?   @tandraschko ??

[2021-07-30 12:13] macbyte0815 commented on #7647
Im sorry. Well this is true. It sends a "0" for empty. In this case i thought it works like an empty InputText or InputNumber.
When required attribute is true. You have to set it to "1" or "2".
You can mark it as required see PrimeFaces User Guide 6.2 - Page 569

[2021-07-30 12:19] melloware commented on #7647
Unfortunately checkboxes don't work this way there is ALWAYS a value.

[2021-07-30 13:37] serial389 commented on #7648
You PR bings back the aria-lables but it has a sideeffect on the new Primefaces 10 feature "allowUnsorting".
When for a DataTable allowUnsorting="true" is set the aria-label text is sometimes wrong because now there is no text for "no sort" in your PR.
In Primefaces 8 there is no allowUnsorting but this is new in Primefaces 10.
So you now in Primefaces 10 needs three different aria label text for

[2021-07-30 13:39] melloware commented on #7648
No so when the column is unsorted it uses the Asc label which is `activate to sort column ascending` which is correct if you activate this column it will sort ascending.

[code]

[2021-07-30 13:40] jepsar commented on #7647
See also https://showcase.omnifaces.org/validators/RequiredCheckboxValidator

[2021-07-30 13:54] serial389 commented on #7648
When i run your RP this is what i get for a sorted table with allowUnsorting="true":

1. Table is sorted ascending - aria-lable shows after column name "activate to sort column descending"
2. Toggle the sort
3. Table is sorted descending - aria-lable shows after column name "`activate to sort column ascending`"
4. Toggle the sort
5. Table is `unsorted` - aria-lable shows after column name "activat

[2021-07-30 13:57] melloware commented on #7648
I see let me fix

[2021-07-30 14:57] #7647 closed, assigned to nobody

[2021-07-30 15:09] #7364 closed, assigned to wal-jan

[2021-07-30 15:34] melloware commented on #7648
Ughhh this actually has to be dynamic based on `allowUnsorting` property as when `allowUnsorting='false"` then the next step in Step 3 would be "activate to sort column ascending".  So the logic was wrong previously even without missing labels.

[2021-07-30 15:47] #7641 closed, assigned to wal-jan

[2021-07-31 11:07] melloware opened #7651 "Exporter: Regression Issue with OmniFaces Gzip"
**Describe the defect**
PF10 introduced a regression of an old ticket: https://github.com/primefaces/primefaces/issues/1993

Reported to OmniFaces: https://github.com/omnifaces/omnifaces/issues/635

BalusC is correct this is a regression

[2021-07-31 13:32] #7651 closed, assigned to melloware

[2021-08-01 11:49] Rapster commented on #6575
Can you create a ticket for this issue, explaining the non technical problem. ideally with a reproducer plz

[2021-08-01 12:02] #7531 closed, assigned to melloware

[2021-08-01 15:01] #7614 closed, assigned to jepsar

[2021-08-01 15:23] melloware commented on #7620
I can't run locally now. I get this error...

[code]

If I revert the ehache.xml to what it was before I can run locally again.  Thoughts?

[2021-08-01 20:00] christophs78 commented on #7620
ehcache-core.xsd defines it´s targetNamespace with http://
![image](https://user-images.githubusercontent.com/10461942/127783745-c4bac2de-7ef9-41b2-ab70-15d9dca05a8a.png)

[2021-08-01 20:01] christophs78 commented on #7620
Switching to https makes IntelliJ 2021.2 unhappy
![image](https://user-images.githubusercontent.com/10461942/127783841-4916bda2-25fb-4702-b84a-9f13e1d146eb.png)
And it fails at runtime.

[2021-08-02 06:57] fanste commented on #7620
Revert it and I will try to debug Eclipse to see, why it is unhappy with "HTTP" instead of "HTTPS" while other tools and IDEs accept it without any problem.

But this takes 2 weeks, as I will be on vacation.

[2021-08-02 11:34] melloware commented on #7620
Reverted.

[2021-08-02 17:21] wal-jan opened #7659 "FileUpload: Chunked file upload throws ClassCastException if resume and commons-upload"
**Describe the defect**
Chunked FileUpload in advanced mode throws ClassCastException if `UPLOADER=commons` and `FileUpload Resume Servlet` is configured.
[code]
Browser console shows
[code]

**Reproducer**
[PF-7364-resume.zip](https://github.com/primefaces/primefaces/files/6918554/PF-7364-resume.zip)

**Environment:**
 - PF Version: _10.0_
 - JSF + version: _Mojarra and MyFaces_
 - Affected brows

[2021-08-02 17:22] wal-jan commented on #7659
The root cause is: `UPLOADER=commons` requires `<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>`. This filter wraps all POST requests having Content-Type `multipart...` with `org.primefaces.webapp.MultipartRequest`.
If FileUpload resume is configured the FileUpload widget sends GET or DELETE requests to the FileUpload Resume Servlet url-pattern (e.g. `/file/resume/`). Th

[2021-08-02 17:53] melloware commented on #7659
So Commons Upload supports this we are just not supporting it correctly?  My only other option is if it was not possible to support would be to throw an exception saying that "chunked is not supported with Commons FileUpload please use JSF Native uploading." or something like that.

[2021-08-02 18:21] tandraschko commented on #7659
im also not sure if we should support chunks in commons-upload mode as the way to go is servlet-upload IMO
and commons is just for older servers - or does it still have some nice features?

[2021-08-03 07:07] JensPiegsa opened #7661 "Avatar: Fallback logic"
**Description**

I'm just trying to get familiar with the new avatar widget in PrimeFaces 10.

From my point of view, the widget could become even more useful if it would implement some kind of fallback logic.

E.g.
* gravatar image -> letters or
* custom image -> gravatar image -> letters or
* custom image -> gravatar image -> icon

I tried to implement the first case using PF 10. However, this r

[2021-08-03 08:50] JensPiegsa opened #7662 "Avatar: Color adjustments for dynamicColor mode"
**Description**

The current color spectrum of the `dynamicColor` mode might not fit into the theme of a page.

**Describe the solution you would like**

The widget could be used in a more flexible way if it would allow to customize the generated background colors.
How about two new optional attributes for saturation and lightness components?

**Example XHTML**
[code]

**AvatarRenderer**
[code]

[2021-08-03 09:01] buunsal opened #7663 "InputNumber: firing too many change events"

[2021-08-03 09:01] #7663 closed, assigned to melloware

[2021-08-03 09:46] jepsar commented on #7662
@melloware can be assigned to me if you like

[2021-08-03 09:51] jepsar commented on #7661
Can you share what you have tried? I don't think the component should try and act on the response code.

[2021-08-03 10:26] JensPiegsa commented on #7661
**XHTML**:

[code]

**CSS**:

[code]

[2021-08-03 11:00] buunsal commented on #7336
Absolutely I agree. @tandraschko I want to fix this issue for 10.0.5 but i don't understand too much. So I can't add it because I don't want to break anything. Could you please help with what I should include?

[2021-08-03 11:57] melloware commented on #7662
Done!

[2021-08-03 12:05] melloware commented on #7661
So the old PFE Gravatar had a fallback where I would use UI Avatars to draw the fallback letters.

See: https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/709

[2021-08-03 13:21] melloware commented on #7648
@serial389 can you try my latest PR I think I have it all fixed.

[2021-08-03 17:09] #6688 closed, assigned to tandraschko

[2021-08-03 17:23] wal-jan commented on #7659
I'm fine with resuming chunked file uploads is only supported with native servlet uploader. But Primefaces should give a clear error message if the configuration is not supported.

[2021-08-03 20:28] Rapster commented on #7659
I'll have to take a look at this. As far as I can tell, filter mapping is not properly defined for FileUploadFilter

[2021-08-04 11:03] tandraschko commented on #1921
@christophs78 @melloware anyone interessted in adding a integration test? i would fix the issue then

[2021-08-04 11:25] christophs78 commented on #1921
I'll add a test later this week.

[2021-08-04 12:59] serial389 commented on #7648
I have tested your PR and the aria-label in a sorted datatable works as expected.

[2021-08-04 13:00] melloware commented on #7648
thanks for testing!

[2021-08-04 13:16] tandraschko opened #7667 "Provide JPA implementation for LazyDataModel"
which contains basic filter + sort logic based on CriteriaAPI
anyone interssted?

[2021-08-04 13:21] melloware commented on #7667
Is that similar to this?  https://github.com/omnifaces/optimusfaces

We have something @FlipWarthog did at our client using QueryDSL overtop of JPA.  @FlipWarthog do we have one that is just straight JPA CriteriaBuilder??

[2021-08-04 13:26] tandraschko commented on #7667
similar, but probably more basic and smaller

[2021-08-04 13:27] melloware commented on #7667
got it I know we have something just not sure if its pure JPA.  I will let you know.

[2021-08-04 13:29] tandraschko commented on #7667
usage simply like this:

[code]

[2021-08-04 13:30] melloware commented on #7667
Yep love it.

[2021-08-04 14:09] FlipWarthog commented on #7667
@melloware  We did but scrapped it. The one that used CriteriaBuilder wasn't being used, so we decided it wasn't worth maintaining through PF upgrades along with the QueryDsl version. From my memory, it looked a lot like what @tandraschko posted above, with some of our extra caching built in and a lot clunkier since it was built on ~PF5 or something like that.

[2021-08-05 05:49] miedrl commented on #7623
Is there any update on when this will be fixed/implemented?

[2021-08-05 07:41] jepsar commented on #7623
@miedrl  this is easy to fix in your project with custom CSS. This is working for me (Chrome) in the showcase:
[code]

[2021-08-05 09:57] munakbey opened #7668 "Timeline vertical scroll not work in mobile devices."
I'm working on responsive web project.When ı use timeline vertical scroll it works succesfully on browser but not in mobile device

[2021-08-05 11:35] #7668 closed, assigned to nobody

[2021-08-05 11:37] melloware commented on #7668
Is your issue this: https://github.com/visjs/vis-timeline/issues/135 ??

[2021-08-06 12:15] tandraschko commented on #7667
Commited it
MatchMode IN, RANGE and GLOBAL are missing currently

please review

[2021-08-06 12:25] melloware commented on #7667
Nice should we throw UnsupportedOperation for the IN, GLOBAL, RANGE for now?

[2021-08-06 12:29] tandraschko commented on #7667
changed

[2021-08-06 15:18] #7648 closed, assigned to melloware

[2021-08-07 07:39] christophs78 commented on #1921
Please look at https://github.com/primefaces/primefaces/pull/7672- maybe this issue was already fixed during some other refactoring.

[2021-08-07 07:56] tandraschko commented on #1921
@Rapster can you review if the tests cover this issue?

[2021-08-07 10:18] christophs78 commented on #1921
Figured out how to break it. Integrationtest ist updated. Ready to get fixed. ;-)

[2021-08-07 15:06] tandraschko opened #7674 "Selenium / Integration Tests: auto load driver?"
I know that arquillian had the feature to download the drivers automatically
maybe a good idea for us, too?
sometimes annoying

@christophs78 @melloware ?

[2021-08-07 15:22] tandraschko commented on #1921
i see
maybe the best idea is to add a new abstract method:

```int count(Map<String, FilterMeta> filterBy);```

which will be called before load:

[code]

[2021-08-07 15:25] tandraschko commented on #1921
so load doesnt need to call setRowCount and no user has to fix "first" by the custom code above

[2021-08-07 15:26] melloware commented on #7674
I do think that is a good idea.  We can see what they were doing and try and do the same.

[2021-08-07 15:30] christophs78 commented on #1921
Yep. That's a technical clean solution. We just have to make a breaking  change to LazyDataModel one more time.
Other workarounds like calling #load a second time when it returns no rows and page>1 may be a compromise but not ideal.

[2021-08-07 15:42] melloware commented on #7674
Looks like its this Arquillian Drone project: http://arquillian.org/arquillian-extension-drone/

[2021-08-07 15:43] tandraschko commented on #1921
@Rapster WDYT`?

[2021-08-07 15:55] Rapster commented on #1921
The idea of having another method is not that bad but forces the user to execute another request, while depending the framework (JPA, JOOQ, Spring etc.) or search engine (ES, ACS etc) you can have both information in one request. So -1 on my side for another method

Something I'm working on, is to introduce a new load method that would return a structure, explicit enough so the user knows what he

[2021-08-07 16:07] christophs78 commented on #1921
It's IMO more complicated.
71 rows, pagesize 10, active page 8
row 71 gets deleted
Data Table does not know this yet.
Calls load with something like first = 70 (or 71?)
So load returns no rows. That's our current issue.

[2021-08-07 16:08] christophs78 commented on #1921
We made breaking changes to LazyDataModel with V8 and V10. At some point we should finally nail it. At least for some years.

[2021-08-07 16:10] Rapster commented on #1921
Yes I started to investigate, and figuring out a clean solution. ( What I just mentioned is a solution to a statement you mentioned... Somewhere 😅)

[2021-08-07 16:16] tandraschko commented on #1921
i think you need 2 selects
1) one count how much entities are available for the filters and apply it to rowCount (e.g. 71)
2) one which really selects the entities only the for the current page (first - pageSize) (e.g. 1 - 20)

and you need to calculate rowCount + first BEFORE call #load

and not sure if you can even combine both results in one query call with simple sql

[2021-08-07 16:57] christophs78 commented on #1921
I agree to some degree to @Rapster argument. We use SpringData. In straight-forward usecases you call one SpringData-repository-method. And this does the count SQL-statement and the pagination SQL-statement. (Or maybe JPA does this for SpringData.)

[2021-08-07 17:04] jepsar commented on #7661
@melloware can be assigned to me as well. Shall I add it to https://github.com/primefaces/primefaces/pull/7673?

[2021-08-07 17:15] #7662 closed, assigned to jepsar

[2021-08-07 18:39] JensPiegsa commented on #7662
@jepsar: Awesome!

[2021-08-07 19:18] christophs78 commented on #1921
Added kind of hack to integrationtest-PR. (Can throw it out when we agree on some other solution.)
I´m myself also a bit of wonky between doing a technical clean solution introducing a performance-degredation for something like 99,8% of usecases and adding a hack.
(Apache Solr seems to be simlar to Elastic Search in terms of query handling. You request one page of results for some query statement.

[2021-08-07 19:34] tandraschko commented on #1921
Feels dirty
I think a count select is a more clean solution

[2021-08-07 19:54] christophs78 commented on #1921
Yep, is dirty.
Trade-off of technical clean count method is runtime performance as @Rapster noted.
Whatever tradeoff is the right one.

[2021-08-07 20:44] Rapster commented on #1921
The idea is there, but calling twice as you can imagine is a no go for me, unless we have no other options

@tandraschko Not sure where you're getting at. Basically, the datamodel "length" is modified outside of his scope, at this point  `DataTable#first` is no longer "synchronized" with the component. @christophs78 gives a good description in https://github.com/primefaces/primefaces/issues/1921#i

[2021-08-08 06:51] christophs78 commented on #1921
There also may be other users modifiying data. (eg adding or removing rows to the DB behind)

[2021-08-08 07:06] jepsar commented on #7661
@JensPiegsa see the PR for an example on how to use fallback.

[2021-08-08 07:43] jepsar opened #7676 "Badge: add visible attribute"
I'll create a PR for this.

[2021-08-08 09:08] Rapster commented on #1921
Good point, my last comment won't solve this problem

[2021-08-08 09:13] JensPiegsa commented on #7661
@jepsar Looks good to me.

[2021-08-08 09:21] Rapster commented on #1921
I think I understand @tandraschko point now... Indeed we'll most probably need this new method actually 😉 What bothers me is that it'll be systematically called, maybe this method could be optional to impl. and return getRowCount() by default?

[2021-08-08 10:11] jepsar commented on #7366
I don't want to "break" the 3rd party hotkey.js script, so I think I'll just use the custom implementation and close this as won't fix. @melloware can you please remove the milestone?

[2021-08-08 10:59] tandraschko commented on #1921
I think its quite mandatory to implement it, especially if filtering is used
For non-filtering a getRowCount impl would bei currently enough

also it makes completely sense to split up the current behavior (that ppl call setRowCount in #load), much cleaner and everyone knows that you need to implement this 2 methods

[2021-08-08 11:40] #7366 closed, assigned to jepsar

[2021-08-08 16:32] Rapster commented on #1921
Not mandatory but to avoid another long debate, just make it abstract, and i'll simply return getRowCount in our impls.

[2021-08-08 20:37] christophs78 commented on #7674
Startingpoint:
https://github.com/arquillian/arquillian-extension-drone/blob/master/drone-webdriver/src/main/java/org/jboss/arquillian/drone/webdriver/binary/handler/AbstractBinaryHandler.java

Per-browser implementations:
https://github.com/arquillian/arquillian-extension-drone/tree/master/drone-webdriver/src/main/java/org/jboss/arquillian/drone/webdriver/binary/handler

More download-code also n

[2021-08-09 08:06] bh-tt opened #7678 "Replace QuillJS"
I'd like to see QuillJS replaced since it is [dead](https://github.com/quilljs/quill/issues/3359) and it contains [security vulnerabilities](https://snyk.io/vuln/SNYK-JS-QUILL-1245047).

[2021-08-09 08:48] tandraschko commented on #1921
implemented it now, please review
i like the change but 2 things are still not perfect
1) count returns int, not long; but we cant change it as UIData is based on int
2) #count is not called for DataView etc. but this code is in general not aligned with DataTable

[2021-08-09 08:52] #7676 closed, assigned to jepsar

[2021-08-09 08:54] #7661 closed, assigned to jepsar

[2021-08-09 08:56] tandraschko commented on #7659
@Rapster still interessted? i would otherwise merge the PR

[2021-08-09 09:01] Rapster commented on #7659
Yup don't like the fix so far but don't have much time right now... but there is a real question regarding should we keep supporting commons. As you said, it's for old servers, which mostly likely are EOL today so it might not worth the effort

[2021-08-09 09:07] tandraschko commented on #7659
yep, ok
feel free to create a sucessor ticket in the future

[2021-08-09 09:07] #7659 closed, assigned to wal-jan

[2021-08-09 09:50] #1921 closed, assigned to tandraschko

[2021-08-09 09:58] tandraschko commented on #7674
i would not use drone
also we should not try to rebuild, looks bit to overengineered from a short view? not sure

+1 to implement it very basic for chrome and firefox

[2021-08-09 11:07] Rapster commented on #7678
Please follow feature request template...

[2021-08-09 11:30] bh-tt commented on #7678
Sorry, my bad.

[2021-08-09 11:30] #7678 closed, assigned to nobody

[2021-08-09 11:35] bh-tt opened #7679 "TextEditor: QuillJS has security vulnerabilities"
**Description**
QuillJS is used in the TextEditor component and has [security vulnerabilities](https://snyk.io/vuln/SNYK-JS-QUILL-1245047). Unfortunately it appears to be [dead](https://github.com/quilljs/quill/issues/3359#issuecomment-832299063).

**Describe the solution you would like**
One can either patch the vulnerability itself using a fork or replace the component with another library (I'm

[2021-08-09 11:41] melloware commented on #7679
But isn't this why we use the OWASP HTML Sanitizer with Text Editor?

[2021-08-09 11:55] bh-tt commented on #7679
Yes, you're completely right. I need to do more research before opening an issue.

[2021-08-09 11:55] #7679 closed, assigned to nobody

[2021-08-09 14:05] #7667 closed, assigned to tandraschko

[2021-08-09 14:05] christophs78 commented on #1921
We should align DataView and (when we dont remove them) DataList and DataGrid.
Think we had some integrationtests for DataList. I‘ll try to bring them back as DataView-tests.

[2021-08-09 14:23] tandraschko opened #7680 "Sidebar: add open and close behaviors"
like dialog

[2021-08-09 14:33] #7680 closed, assigned to tandraschko

[2021-08-09 15:22] christophs78 opened #7681 "DataView: provide PrimeFaces Selenium wrapper and integrationtests"

[2021-08-10 02:03] AndrewG10i commented on #7486
Just curious any chance to see this in let say 8.0.12? ...it might take some time until we upgrade to 10/11.x. Thank you! ;)

[2021-08-10 07:46] buunsal opened #7685 "Revert #7395: MoveScriptsToBottom Firefox flash of unstyled content (FOUC)"

[2021-08-10 07:46] #7685 closed, assigned to buunsal

[2021-08-10 07:47] buunsal commented on #7685
reverted https://github.com/primefaces/primefaces/issues/7395

[2021-08-10 08:23] matsandreassen commented on #7128
Hello again. I just updated to 10.0.4 and I still can't unselect using backing bean like I described in OP. Also confirmed by silvio3punkt5 further down.

I forked so that it can be verified in https://github.com/matsandreassen/primefaces-test

[2021-08-10 08:40] OBreidenbach opened #7686 "DataView: misses ResourceDependency to touch/touchswipe.js"
**Describe the defect**
When using DataView with a pager in mobile/touch modus, there will be an exception in the console
'Uncaught TypeError: a.swipe is not a function'.
The same is true for DataGrid and DataList. All components missing the ResourceDependency to touch/touchswipe.js.

**Reproducer**
See example code below.

**Environment:**
 - PF Version: 10.0
 - JSF + version: does not matter
 -

[2021-08-10 08:58] christophs78 commented on #7128
We also need to recheck/enhance https://github.com/primefaces/primefaces/blob/master/primefaces-integration-tests/src/test/java/org/primefaces/integrationtests/datatable/DataTable004Test.java.

[2021-08-10 09:52] christophs78 commented on #7128
@matsandreassen Can you reproduce this issue with 11.0.0-SNAPSHOT? (IMO it works fine.)
And the integration test IMO does the right checks.
Maybe PrimeTek made some kind of mistake when they picked this fix for 10.0.1? (elite-branches are not public so we can´t check this.)
(I´m talking about single selection mode.)

@silvio3punkt5 - You talked about Checkbox. So you mean a multiselect-usecase? Ma

[2021-08-10 10:04] christophs78 commented on #7128
https://github.com/primefaces/primefaces/pull/7688 enhances our existing integrationtests. 11.0.0-SNAPSHOT seems to work fine with multiselect/checkbox.
@mertsincan, @sqores: Maybe something is still broken for 10.0.X - elite release?

[2021-08-10 11:58] #7686 closed, assigned to OBreidenbach

[2021-08-10 12:31] #7681 closed, assigned to christophs78

[2021-08-10 13:13] matsandreassen commented on #7128
I would if I find out how to replace 10.0.4 with the snapshot artifact. I tried inputting

[code]

into primefaces-test but it's not resolving properly.

[2021-08-10 13:15] melloware commented on #7128
When using the master SNAPSHOT from jitpack it can take a while to build and publish before it resolves. Go here and click on the "Builds" tab you will see Master SNAPSHOT is still building..

https://jitpack.io/#primefaces/primefaces

[2021-08-10 13:34] matsandreassen commented on #7128
The snapshot works as desired! The hypothesis seems to check out, something seems to have gone wrong when merging to elite.

[2021-08-10 18:44] christophs78 opened #7690 "DataView: lazy loading pagination error"
**Describe the defect**
https://github.com/primefaces/primefaces/pull/7689

**Thoughts**
We adapted LazyDataModel as part of fixing https://github.com/primefaces/primefaces/issues/1921. We need to adapt DataView to match adapted LazyDataModel. (Same for DataList and DataGrid if we do not remove them.)

[2021-08-11 05:52] Mohammed-Sameer-Inamdar opened #7691 "Filters are null after sorting lazy loading data table."
**Describe the defect**
After applying filters If I tried to sort then filters are giving null at lazy data modal load method.

**Environment:**
 - PF Version: 6.2
 - JSF
 - Affected browsers:  ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. apply filter values
2. sort with any column
3. then see the list at table or console
4. See error filters are null

**Expected behavior**
filter mu

[2021-08-11 05:53] Mohammed-Sameer-Inamdar commented on #7691
**any help will be appreciated thank you sooo much**

[2021-08-11 06:04] tandraschko commented on #7691
Im sure this works fine on current versions, 6.2 is many years old

[2021-08-11 06:37] tandraschko commented on #7691
If you can replicate it with a 11.0 snapshot in a cloned primefaces-test project, feel free to reopen.

[2021-08-11 06:37] #7691 closed, assigned to nobody

[2021-08-11 07:18] Mohammed-Sameer-Inamdar commented on #7691
At least I want to know the cause because It's a huge project and totally dependent on prime faces. So if I change the version I have to test the whole project that needs time. For now I want to resolve this error after that we are updating the version.
Please just it's a totally tough situation I need help.

[2021-08-11 07:21] tandraschko commented on #7691
then i suggest you to get PrimeFaces PRO support
most of the developers here are here in freetime and they dont like to invest time in outdated versions

[2021-08-11 07:32] miedrl opened #7692 "InputGroup: InputTextarea within InputGroup has wrong border-radius"
**Describe the defect**
When I use an InputTextarea within an InputGroup (instead of an InputText), the InputTextarea does not have the right border-radius (e.g. 4px) on the side where no InputGroup-addons exist (see pictures below).

![inputGroup_inputTextarea](https://user-images.githubusercontent.com/77431692/128987246-a91ff47d-716e-40c9-ae3a-e071bdcadcc4.png)
![inputGroup_inputTextarea2](https

[2021-08-11 07:46] miedrl opened #7693 "InputGroup: Is not responsive at 320px screen width (Firefox)"
**Describe the defect**
In order to be accessible to all users, a website or web application has to fulfill a list of WCAG 2.1 success criteria. PrimeFaces' InputGroup does not fulfill success criterion [1.4.10](https://www.w3.org/TR/WCAG21/#reflow) as it does not adapt to a screenwidth of 320px, instead it flows over the edges of the viewport (see picture below).

![inputGroup_responsiveness](htt

[2021-08-11 09:11] OBreidenbach commented on #7686
@melloware: Just wondering if it not also missing at TreeTable?

[2021-08-11 10:29] iki-hacon opened #7694 "DatePicker: it needs a 2nd outside click to close the panel"
**Describe the defect**
When you open the date picker panel with the button, and then click outside of the panel to close it again, it only closes on the second click.

**Reproducer**
https://www.primefaces.org/showcase/ui/input/datepicker/datePicker.xhtml

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://www.primefaces.org/showcase/ui/input/datepicker/datePicker.xhtml'
2. Clic

[2021-08-11 11:39] melloware commented on #7686
If it is in DataTable then it should be in TreeTable.

[2021-08-11 11:44] melloware commented on #7686
OK I just fixed it adding it to treetable!

[2021-08-11 11:47] melloware commented on #7693
Assigned to PrimeTek

[2021-08-11 11:47] melloware commented on #7692
Assigned to PrimeTek

[2021-08-11 11:48] melloware commented on #7694
@jepsar can you review this?

[2021-08-11 12:23] Mohammed-Sameer-Inamdar commented on #7691
okay thank you so much for replying me with your valuable time.

[2021-08-11 13:03] melloware commented on #7691
@Mohammed-Sameer-Inamdar and just to add not just open source developers like us don't support legacy versions... PrimeTek themselves only support the latest major 2 versions of software because its expensive to maintain 10 versions of software.

[2021-08-11 14:33] #7690 closed, assigned to christophs78

[2021-08-11 14:40] jepsar commented on #7694
I'm having vacation right now. I can have a look this weekend.

[2021-08-11 15:02] brivalin opened #7695 "Tree: ContextMenu unbound when removing all tree nodes"
**Describe the defect**
ContextMenu unbound when removing all tree nodes (except root node). The context menu is then launch with the selected node to null and could generate NullPointer by using a button afterwards.

**Reproducer**
[pf-tree-ctxmenu.zip](https://github.com/primefaces/primefaces/files/6969260/pf-tree-ctxmenu.zip)

**Environment:**
 - PF Version: _10.0_ and _11.0.0-SNAPSHOT_
 - JSF

[2021-08-11 15:04] melloware commented on #7695
Thanks for the reproducer. @FlipWarthog want to tackle this one?  I have a feeling the ContextMenu says if it can't find what its target is it binds to "document".

[2021-08-11 19:51] christophs78 commented on #7694
This line was part of the initial contribution. It was not added to fix some other issue.
![image](https://user-images.githubusercontent.com/10461942/129093334-4ac2c766-319c-4063-afe5-7f50d674dc2d.png)

From my side green flag to remove it.

[2021-08-11 22:25] FlipWarthog commented on #7695
Can do.

[2021-08-12 01:42] FlipWarthog commented on #7695
@melloware After a bunch of poking and digging it seems the culprit is this block of code in `BaseTree`'s `bindContextMenu` method (tree.base.js, starting at line 137):
[code]

Unfortunately, it looks like that logic was explicitly put there but root driver for it is hard to tell. It originated with [this commit](https://github.com/primefaces/primefaces/commit/364309638f829973f07825eab55754a7c0629

[2021-08-12 02:37] FlipWarthog commented on #7695
This MonkeyPatch should do it:
[code]

[2021-08-12 07:39] NRanjbaran opened #7698 "Dialog Framework: Action and JavaScript errors"
**Describe the defect**
There is a p:commandButton to open the dialog framework inside the xhtml page, which is itself a composite template.
After opening the dialog framework, show contents with the following JavaScript error in chrome inspection and the listeners on the dialog do not work too :

`Uncaught TypeError: v.test is not a function
    at Function.se [as find] (jquery.js.xhtml?ln=primef

[2021-08-12 08:06] brivalin commented on #7695
I tried your MonkeyPatch and contextMenu doesn't appear anymore outside the tree when empty. That's OK for this.

But on my mind, I thought that the contextMenu should only appear on right click on nodes, and not appear on right click on the tree panel when there are no nodes inside.

What do you think about it ?

[2021-08-12 10:09] t-oster opened #7699 "Datatable: LazyDataModel+RowEditor breaks with Session serialized/restored"
**Describe the defect**
When using Datatable with a lazy data model and a row editor, as soon as the session is serialized/deserialized between the requests (e.g. with spring session for load-balancing), the model does not get updated anymore before the RowEditEvent is processed.

**Reproducer**
See my clone of the primefaces-test repo.
This commit https://github.com/t-oster/primefaces-test/commit

[2021-08-12 10:29] tandraschko commented on #7699
Can you please try a 11.0 Snapshot?
We fixed around 50 datatable bugs since 10.0

[2021-08-12 10:59] t-oster commented on #7699
Thanks for the quick response. Can you give me an exact version number for the pom.xml?
I just tried
[code]
but I cannot get it to compile/run.

[2021-08-12 11:11] tandraschko commented on #7699
Check our readme how to configure jitpack
Otherwise build from source

[2021-08-12 11:50] t-oster commented on #7699
It downloads the latest version from jitpack and compiles. But when it starts it only complains about a number of duplicate jar files and bails out:
[code]
and many more....

I cannot find any other reference to jitpack in the readme as just to add the repository (which is already added in the test-project) and change the groupId to com.github.primefaces, which I did.

https://github.com/t-oster/p

[2021-08-12 12:00] melloware commented on #7699
Don't run in Netbeans run at command line `mvn clean jetty:run`.

[2021-08-12 12:00] tandraschko commented on #7699
When i clone your repo, the Error is already visible without applying the commit you mentioned?

[2021-08-12 12:12] t-oster commented on #7699
I now compiled 11.0.0-SNAPSHOT from the github repository.
I get
[code]
even when running from command line.

If you run
[code]

[2021-08-12 12:14] melloware commented on #7699
can you please run `mvn --version` and show us the entire results?  I want to see what JDK you are using etc.

[2021-08-12 12:15] t-oster commented on #7699
[code]

I also tried opendk-8

[2021-08-12 12:23] melloware commented on #7694
MonkeyPatch:

[code]

[2021-08-12 12:42] melloware commented on #7698
I can't reproduce. Attached is my reproducer:
[pf-7698.zip](https://github.com/primefaces/primefaces/files/6975494/pf-7698.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

its working fine for me.

[2021-08-12 12:52] stolp commented on #7694
Applying this monkeypatch yields: Uncaught SyntaxError: Unexpected token ':'

Am I doing something wrong here?

[2021-08-12 12:53] melloware commented on #7694
Nope I just fixed the script :)  It has to be = not : before function

[2021-08-12 12:56] stolp commented on #7694
Thanks, now it works :-)

[2021-08-12 12:57] #7694 closed, assigned to melloware

[2021-08-12 13:54] FlipWarthog commented on #7695
So, looking at that block of logic, I get the feeling that they explicitly need the ContextMenu to still be available even if all the nodes are removed. E.g. my ContextMenu has both Remove and Add, if I remove all I can no longer add new ones. If the behavior you're describing is how you'd like it to behave, you can use the following MonkeyPatch in your own app, but I think for the actual fix we'l

[2021-08-12 13:55] melloware commented on #7695
Yes I  would submit a PR with your original MonkeyPatch fix.  It seems to be safer to do.

[2021-08-12 14:28] brivalin commented on #7695
It seems to be OK for me with the workaround.
I close the issue.

[2021-08-12 14:28] #7695 closed, assigned to FlipWarthog

[2021-08-12 14:34] NRanjbaran commented on #7698
It worked properly on a reproducer, but it has an error on my project. I need more research in my project.
Thank you very much

[2021-08-12 14:34] #7698 closed, assigned to nobody

[2021-08-12 14:42] melloware commented on #7698
No problem.  It could be Ultima related I see you are using that theme.  Other than that it must be something local in your project.

[2021-08-12 15:55] tandraschko commented on #7699
test project now works again with PF11

[2021-08-12 16:06] tandraschko commented on #7699
i now reintroduced that old code
it would be great if we could somehow create a test for it, so we can easily refactor in future
@melloware @christophs78 any idea? maybe we can set such a serialization strategy in tomcat/tomee

[2021-08-12 16:07] #7699 closed, assigned to tandraschko

[2021-08-12 16:18] melloware commented on #7699
@tandraschko is this the same issue the JoinFaces guys were reporting?

[2021-08-12 16:21] tandraschko commented on #7699
looks like the same, yes

[2021-08-12 18:56] christophs78 commented on #7699
@tandraschko Should javax.faces.STATE_SAVING_METHOD=client also kick in serialization or is this different?
(https://github.com/primefaces/primefaces/pull/7702 adds client side state-saving to our nightly IT´s. IMO we missed to test this until now.)
Do we need some more for this issue? (At least we probably need to add another integrationtest for this specific DataTable-rowedit-usecase.)
Which par

[2021-08-12 19:20] tandraschko commented on #7699
Good point and idea.
Serialization of component/viewstate is done by jsf impl and saved on client or server with Java serialization but replaceable by e.g. Myfaces SPI.

CDI beans (viewscoped, sessionscoped, window,...) are stored in session and the AS or servlet container decides when to serialize

[2021-08-12 19:46] christophs78 commented on #7699
Tomcat/TomEE - equivalent to `org.eclipse.jetty.server.session.NullSessionCache` / `org.eclipse.jetty.server.session.FileSessionDataStore`. (see https://github.com/t-oster/primefaces-test/commit/aeee1eeb4195ce2730958c107e6446cd85f820b1)

Basic strategy:
https://stackoverflow.com/questions/35917945/tomcat-how-to-persist-a-session-immediately-to-disk-using-persistentmanager

How to do this with embe

[2021-08-12 19:52] christophs78 commented on #7699
To add something like https://github.com/t-oster/primefaces-test/commit/a77ad2ffbd95809d942c15df3378bb21c9c2c04e to our IT´s:
We already have DataTable007Test which checks rowEdit-event for non-lazy datasource. We need something similar for lazy datasources.

[2021-08-12 20:09] t-oster commented on #7699
Thank you for the quick response and fix. However the underlying cause is described in https://github.com/joinfaces/joinfaces/issues/1159#issuecomment-893390402 and an IMHO easier fix instead of reintroducing old code is just fix the deserializer.

I added a fixed branch to my repository https://github.com/t-oster/primefaces-test/commit/1cd8d2473c20c01c9f47eed868da1251d6a8ebaa which includes the w

[2021-08-12 20:26] tandraschko commented on #7699
+1 for your nicer fix
Can you provide a PR?

[2021-08-12 20:27] t-oster commented on #7699
@tandraschko after I confirm it works in my big project tomorrow, I will.

[2021-08-13 09:29] t-oster commented on #7699
@tandraschko I improved my version a bit because it did not work in my bigger project. I now wrap the data in a LinkedList because I got a NotSerializableException in some cases and I also try to backup/restore the rowIndex and listeners.
However it may be that the listeners are called on restore because I have to call setRowIndex(). Also I guess the wrapped list is now serialized twice (first in

[2021-08-13 09:39] tandraschko commented on #7699
hmmm
doesnt sound better as the current solution ;D

[2021-08-13 10:29] t-oster commented on #7699
yes, that was what I thought. However for anyone stuck with PF 10 the workaround can be used. Thanks for the quick replies.

[2021-08-13 10:52] buunsal commented on #7693
@miedrl
![image](https://user-images.githubusercontent.com/45278820/129346472-8cbfb4ac-ce80-4516-89ef-fc099e65713f.png)
I didn't reproduce your issue

[2021-08-13 10:56] miedrl commented on #7693
@sqores I tried again and the error seems to only appear in Firefox. The responsiveness is fine in Google Chrome, Edge and Internet Explorer though.

[2021-08-13 11:32] jesjimher opened #7704 "Filters: MatchMode NOT_EQUAL"
**Description**
Building a filter with `FilterMeta` is very easy:

[code]
But available `MatchMode`s don't cover all needs. According to javadoc, the only supported values for `MatchMode` are:

[code]
So, something as simple as filtering by value different than X, isn't possible with `FilterMeta` right now.

**Describe the solution you would like**
It would be nice if `MatchMode.NOT_EQUALS` existe

[2021-08-13 12:10] buunsal commented on #7693
@miedrl  please update your browser or remove extensions
![image](https://user-images.githubusercontent.com/45278820/129355093-8a7f6601-c28f-40a3-b5a1-356c3507943f.png)

[2021-08-13 12:25] #7409 closed, assigned to mertsincan, buunsal

[2021-08-13 12:25] #7447 closed, assigned to mertsincan, buunsal

[2021-08-13 12:25] #7489 closed, assigned to mertsincan, buunsal

[2021-08-13 12:25] #7582 closed, assigned to buunsal

[2021-08-13 12:25] #7692 closed, assigned to buunsal

[2021-08-13 12:30] melloware commented on #7693
I can't reproduce either on Firefox 91.0 x64

[2021-08-13 12:34] miedrl commented on #7693
Okay, it's a problem with my browser. We use Extended Support Release 78.13

[2021-08-13 12:34] #7693 closed, assigned to buunsal

[2021-08-13 12:45] tandraschko commented on #7704
as "not" cant be applied to all MatchModes, i think we should introduce new MatchModes like NOT_EQUAL, NOT_CONTAIN and so on

@Rapster WDYT?

[2021-08-13 14:49] Rapster commented on #7704
Which MatchMode you think negation can't be applied? Beside GLOBAL (which is not really a matchmode) everything else look ok to me. +1 for adding new matchmode, just need to figure out a proper name for it (notIn, notEq, notRange etc. ?)

[2021-08-13 15:11] tandraschko commented on #7704
Range?
And greater/less is already  negated?

[2021-08-13 18:01] melloware commented on #5492
JqueryUI release a 1.13 alpha which removes all deprecated jquery functions and contains some bug fixes.

https://github.com/jquery/jquery-ui/releases/tag/1.13.0-alpha.1

[2021-08-13 20:41] Rapster commented on #7704
Ah I didn't see it that way, yeah that work too.
Yes like not in range, exclusion?

[2021-08-14 09:52] jepsar commented on #7582
@sqores thanks for fixing. In general (for all input types) I think a red border and outline would be more clear in case of a focussed input with `ui-state-error`. Is it worth opening a new issue for that, or is it blue (theme color) on purpose?

[2021-08-14 09:54] jepsar commented on #7409
@sqores great fix! Thanks.

[2021-08-14 12:04] christophs78 commented on #7699
I´m giving up trying to find a Tomcat/TomEE - equivalent for org.eclipse.jetty.server.session.NullSessionCache (https://github.com/t-oster/primefaces-test/commit/aeee1eeb4195ce2730958c107e6446cd85f820b1) we may add to our integrationtests.
At least it looks like there´s no OOTB-solution for this. Tried a few things without success.

[2021-08-16 06:45] buunsal commented on #7582
@jepsar Could you please open a new issue and assign me? If there is no browser block, I can change it.

[2021-08-16 06:56] jepsar opened #7710 "Themes: focussed ui-state-error elements should be bordered in the error color"
See #7582

@sqores requested to be assigned (I don't have the permission to do that).

[2021-08-16 06:56] jepsar commented on #7582
@sqores done: #7710

[2021-08-16 07:13] buunsal commented on #7710
Could you please take a look at our other ui library examples? All the same anyway. I can do the same. Is this appropriate @jepsar

https://primefaces.org/primeng/showcase/#/invalid
https://primefaces.org/primereact/showcase/#/invalid
https://primefaces.org/primevue/showcase/#/invalid

[2021-08-16 07:19] jepsar commented on #7710
Having only the border as red will certainly help and it would make things consistent. I personally like a red outline as well.

[2021-08-16 07:23] buunsal commented on #7710
OK, I'm doing the same with other ui libraries.

[2021-08-16 07:25] tandraschko commented on #7704
ok, so we can do it for:
[code]

but not for

[code]

right?

[2021-08-16 07:40] #7623 closed, assigned to buunsal

[2021-08-16 07:40] #7710 closed, assigned to buunsal

[2021-08-16 07:42] buunsal commented on #7710
Could you please test @jepsar

[2021-08-16 07:55] jesjimher commented on #7704
Shouldn't it be simpler to add a `.not()`/`.invert()` method to `FilterMeta`, that negated/inverted current `MatchMode`? I don't see any `MatchMode` that can't be negated. At most, some of them would be somewhat redundant (f. e. negating `GREATER_THAN` would be the same as just using `LESS_THAN_EQUALS`), but there's no actual harm in allowing two different ways of achieving the same effect. And ju

[2021-08-16 07:59] tandraschko commented on #7704
yeah maybe
GLOBAL isnt even a MatchMode actually, so negation can be applied to all others probably
it isnt just as nice that greater/less is already negated but i think we can ignore that fact

also just for ref: https://github.com/primefaces/primeng/blob/2444986ee9e47dc4a502ef0b1eaf2e87d51ad3e7/src/app/components/api/filtermatchmode.ts

[2021-08-16 08:05] jesjimher commented on #7704
Oops, looks like PrimeNG implements it with `MatchMode`s, not with a method. Perhaps it's wiser doing it the same way in both libraries, then.

[2021-08-16 08:16] matsandreassen commented on #7128
@melloware Is something happening with this? Can I do anything to help ensure this gets fixed in elite?

[2021-08-16 11:49] melloware commented on #7128
@matsandreassen I don't work for PrimeTek so its up to @sqores to put into Elite.

[2021-08-16 12:05] matsandreassen commented on #7128
Hello @sqores: This issue already has a 10.0.1 ELITE label but it was definitely not fixed in that release. Should not this issue be re-opened for 10.0.6?

[2021-08-16 12:33] buunsal commented on #7128
Hello @matsandreassen I'm examining. I will do the necessary fixes for 10.0.6.

[2021-08-16 12:51] buunsal commented on #7128
@matsandreassen Could you please try again with 10.0.5? I couldn't reproduce your issue when I tested

https://user-images.githubusercontent.com/45278820/129567666-f7eec165-70d6-4ebf-b0fa-f8bc13c846c0.mov

[2021-08-16 14:03] melloware opened #7712 "OutputPanel: Update deferred behavior based on Scaffolding"
**Description**
Thanks to the great work of @jepsar PrimeTek has asked we port the Scaffolding component to core PF.

See: https://www.primefaces.org/showcase-ext/sections/scaffolding/basicUsage.jsf

This will allow the Skeleton component to be useful and provide a true Skeleton experience users have come to expect with other languages.

[code]

[2021-08-16 14:04] buunsal commented on #7712
Thanks for your great work @jepsar

[2021-08-16 14:04] jepsar commented on #7712
Cool, I can take care of it

[2021-08-16 14:16] matsandreassen commented on #7128
Not so fast. ;)

I originally described two facets to this problem. The first is the one you demonstrate in your video to be solved.

The second one is not solved. If you clear the selection in the backing bean and update the table, the UI still indicates the row to be selected. I provided a primefaces-test fork where it's easily reproduced: https://github.com/matsandreassen/primefaces-test/tree/u

[2021-08-16 14:20] melloware commented on #7128
@matsandreassen that is because that was a completely different issue and reported and fixed here for 11.0:  https://github.com/primefaces/primefaces/issues/7391

The fix is right here in SelectionFeature.java: https://github.com/primefaces/primefaces/commit/ebee2cc303dea786761a0b15a277529e94434ee7#diff-5ca105b8da2e2839895b44587227b2d3440201b71dbd9c13f2ab15a6cb3c22b2

[2021-08-17 07:00] jepsar commented on #7710
@sqores The border is red, but the outline (which is a `box-shadow` I just noticed) is still blue (Saga). What did you mean with "I'm doing the same with other ui libraries"? I'm going to do the same as with the other ui libraries OR I'm going to do the same with the other ui libraries?

[2021-08-17 07:13] matsandreassen commented on #7128
I assumed this was the issue since I reported it myself back in March. Someone else reported it AND it was fixed while I was on summer vacation. That's great!

@sqores Please add #7391 for elite release. 👍

[2021-08-17 07:30] buunsal commented on #7710
I think there was a misunderstanding. Just wanted to say that I will do the same thing that is done in the other ui libraries.

[2021-08-17 07:32] jepsar commented on #7710
Okay, then it is working. Still believe a red outline color will be an improvement.

[2021-08-17 07:33] jepsar commented on #7710
Should I open a new issue for the outline?

[2021-08-17 07:41] buunsal commented on #7710
It's a design decision. We do not intend to change at the moment. I can only change it if it changes in other ui libraries in the future. If you take a look at our material themes as an example, you will see that they are different.
https://www.primefaces.org/serenity/invalidstate.xhtml

[2021-08-17 07:52] jepsar commented on #7710
Alright, I was not sure it was intended. Thanks for the info.

[2021-08-17 07:59] brivalin opened #7713 "Timeline: Multiple timelines stop showing after switching between Tabs from Tabview"
**Describe the defect**
When you have 3 timelines in 3 different Tabs from Tabview and you switch between these 3 tabs, a Javascript error appears in browser Console and timeline doesn't appear without reloading page.
The error Javascript is : **Uncaught TypeError: Cannot read property 'emitter' of null**
This problem is not present if you have only 2 Tabs.

**Reproducer**
[pf-timeline-tabview.zip

[2021-08-17 09:25] jepsar commented on #7710
@sqores One thing though, will theme changes (in general) also be applied to upcoming versions of the premium themes? We're using the Diamond theme in our apps for example. You pointed out that Serenity has different styling. See also https://primefaces.org/diamond/invalidstate.xhtml

Should I drop a note on this in the PF Forum?

[2021-08-17 10:35] buunsal commented on #7710
@jepsar I released a new Diamond version now. Please check your PrimeStore account.

[2021-08-17 11:42] tandraschko commented on #7390
@jan-tosovsky-cz would you like to contribute this feature?

[2021-08-17 11:44] tandraschko commented on #7442
@anuragnz would you like to contribute this feature via a PR?

[2021-08-17 11:57] jan-tosovsky-cz commented on #7390
@tandraschko tbh I am not JS expert (it would be tough to find proper lines in PF codebase and create tests)

[2021-08-17 13:00] buunsal opened #7714 "Datatable: extend usage of selectionPageOnly attribute"
https://github.com/primefaces/primefaces/pull/6732

[2021-08-17 13:01] #7714 closed, assigned to buunsal

[2021-08-17 19:06] christophs78 opened #7715 "DataTable: FilterMatchMode gte is broken"
Current impl of GreaterThanEqualsFilterConstraint is `return (o1, o2) -> o1.compareTo(o2) == 0;`

Fix comes as part of a larger Integrationtest-PR.

[2021-08-17 20:58] Rapster commented on #7712
Why "scaffolding" btw? 😅

[2021-08-18 01:07] anuragnz commented on #1568
Is there any update or workaround on this issue with iphone DataTable reflow not working?

[2021-08-18 04:50] buunsal commented on #7484
@ravihariharan Ok, I included this fix for 7.0.23.

[2021-08-18 06:56] jepsar commented on #7712
@Rapster I think it's appropriate: you scaffold your UI until the data is loaded. I'm open for suggestions. How about `p:texasSwitch`? https://www.youtube.com/watch?v=AtupVg6tiMo 🤣

.. if the current skeleton was called bone, the new component could be skeleton, but that would be too confusing.

[2021-08-18 12:07] melloware commented on #7712
We are definitely open to names as its quite difficult to name exactly what this is doing...   And since you don't HAVE to use a Skeleton you could literally swap any two UI components on load calling it Scaffolding seemed more generic.

[2021-08-18 12:14] polyluchs commented on #3926
I found this issue (exactly as described in the initial post) still existing in PrimeFaces Version 8.0 and 10.0.0
Can you please check it again?

[2021-08-18 12:16] ravihariharan commented on #7484
Thanks @sqores :)

[2021-08-18 12:18] melloware commented on #3926
@polyluchs can you provide a PrimeFaces Test reproducer so we can debug the issue: https://github.com/primefaces/primefaces-test

[2021-08-18 12:19] jepsar commented on #7712
I think @stolp was even planning to swap an entire view 😉

[2021-08-18 12:20] melloware commented on #1568
@anuragnz I have never gotten it working correctly on iPhone. Haven't checked the latest 11.0-SNAPSHOT but something tells me something specific needs to be added for IOS to work.

[2021-08-18 12:25] melloware commented on #7715
Always good when a test catches a bug!

[2021-08-18 13:20] polyluchs commented on #3926
I created a Test reproducer (see zip file below)

Without filtering the tree looks as expected when I select Banana.
Banana is selected and Fruits is partially selected.

![expected](https://user-images.githubusercontent.com/7465418/129902777-53e7f10f-0fab-494a-a708-c372c97d653b.PNG)

I expect the same result, when I filter for "banana" and select Banana node in the filtered tree.

I start with a

[2021-08-18 13:23] #7715 closed, assigned to christophs78

[2021-08-18 13:24] melloware commented on #3926
Thanks for the reproducer

[2021-08-18 13:30] melloware commented on #3926
@FlipWarthog any interest in investigating this one?

[2021-08-18 14:21] Rapster commented on #7712
I have no objection with the name, I'm just having a hard time to see the relation between a scaffold and this component 😅

[2021-08-18 15:05] jepsar commented on #7712
Naming options:

🎉  = loader
❤️ = deferred
👀 = placeholder
😕  = scaffold

[2021-08-18 15:12] tandraschko commented on #7712
i dont like scaffolding, too

the functionally actually is the same as dynamic=true on dialog or sidebar, but just with a temp content before

maybe its more like a "defferedContent"

[2021-08-18 15:14] melloware commented on #7712
How about just `<p:deferred>` ??

[2021-08-18 15:14] FlipWarthog commented on #7712
OR `p:placeholder` ?

[2021-08-18 15:15] FlipWarthog commented on #7712
I personally love the name `p:scaffolding`, but I can see how it might be obscure/odd

[2021-08-18 15:15] melloware commented on #7712
Well @tandraschko is right Angular refers to this as `deferredContent` https://stackoverflow.com/questions/42142235/how-to-use-the-deferredcontent-directives-in-angular-dart-components

[2021-08-18 15:16] melloware commented on #7712
I am afraid people would confused PlaceHolder with `p:watermark` which updates the "placeholder" attribute on components :)

[2021-08-18 16:29] anuragnz commented on #1568
Hi @melloware,

I have checked with latest build but still the same issue that DataTable is not responsive on iOS but works fine on Android.
Could you please see what could be workaround or the solution?

[2021-08-18 16:37] melloware commented on #1568
I don't work for PrimeTek but if you need this fix your could request it through PRO support or "Case Quote" on their Support page.

[2021-08-18 17:02] stolp commented on #7712
I am pro scaffold/scaffolding as it gives me the association of a building being erected.

I would prefer the shorter form, but I am not a native speaker.

For me deferredContent only tells half the story, as the presence of a temporary replacement is not inferable from the name.

[2021-08-18 20:11] melloware commented on #7712
OK my votes would be `scaffold` or `deferred` but i am starting to like `scaffold` the best.

[2021-08-18 20:24] Rapster commented on #7712
If it makes sense to you I'm cool with it :wink:

[2021-08-18 20:30] buunsal commented on #7712
My vote is for `skeletor` 😅

[2021-08-19 05:34] jepsar commented on #7712
Lol, skeletor also crossed my mind. Scaffold is probably the best option, as the (deferred) loader is optional.

[2021-08-19 07:01] chovyy opened #7720 "MenuButton: Accept button styles"
**Description**
Currently you cannot style **MenuButtons** as described here: https://www.primefaces.org/showcase/ui/button/button.xhtml since the `styleClass` attribute will not be applied in conjunction with `.ui-button` but to the outer `span`.

**Describe the solution you would like**
Similar to #7292 a new attribute `buttonStyleClass` should be added, so one can style the generated button.

*

[2021-08-19 07:20] tandraschko commented on #7712
TBH i never heard of scaffold in any UI library, also i didnt know the word ;D
can someone check other UI libraries for this?

[2021-08-19 07:31] doteo78 commented on #7391
Working properly with version 10.0.6. Thanks!

[2021-08-19 07:38] jepsar commented on #7712
After reading https://blog.logrocket.com/improve-ux-in-react-apps-by-showing-skeleton-ui/ and https://uxdesign.cc/what-you-should-know-about-skeleton-screens-a820c45a571a `loader` seems appropriate as well and might be easier to get for non native speakers.

[2021-08-19 07:39] doteo78 commented on #7336
I tried it with version 10.0.6 and the problem still persists. After using the filter the datatable is not updated (new rows/removed rows) via ajax action. You need to use the global filter again to see the changes.
Could you check it please?

[2021-08-19 07:56] buunsal commented on #7336
@doteo78 I already tested before the version was released. Could you please create a reproducer?

[2021-08-19 08:18] christophs78 commented on #7336
We added at least one integrationtest for this. You may run this one against
10.0.6. (I have to look which one.)

[2021-08-19 08:22] christophs78 commented on #7336
DataTable021Test should check this.
@doteo78 does it work for you with 11.0.0-SNAPSHOT?

[2021-08-19 08:25] buunsal commented on #7336
@christophs78 how can i run this test ?

[2021-08-19 08:32] christophs78 commented on #7336
https://github.com/primefaces/primefaces/tree/master/primefaces-integration-tests

When you use IntelliJ it should be easy once you downloaded Chromedriver. I may come back later this day with more detailed information. (Currently on vacation and out in the nature.)

[2021-08-19 08:47] buunsal commented on #7336
https://github.com/primefaces/primefaces/tree/master/primefaces-integration-tests this project is not compiling with 10.0.6. There are some differences in version 11.0.0 and 10.0.6 for example tree datatable class structure etc. So at least I couldn't get it to work 😅  I would love to know when you explain it in more detail.

[2021-08-19 09:34] tandraschko commented on #7720
why not just write different selectors?

[2021-08-19 10:04] jepsar commented on #7720
I see the point. Can be assigned to me.

We should do the same for `SplitButton`.

It seems though that `SplitButton` already has partial button style class support through the parent element though.

[2021-08-19 10:35] chovyy commented on #7720
Does that mean, I will apply the button style directly to the menuButton?

[code]

Would be even better...

[2021-08-19 11:11] doteo78 commented on #7336
Tested with master-SNAPSHOT version and it does not work for me :-(

[2021-08-19 11:19] jepsar commented on #7720
That's already done partly for the `SplitButton`. If it will be made more generic and made to support all of the button classes it'll also work for the `MenuButton`. @sqores should this be solved in the themes?

[2021-08-19 11:22] tandraschko commented on #7720
hm?

1) either you (if its your own style) or PF themes needs to adjust the selector to e.g.
[code]

2) or we introduce buttonStyleClass

2 is easier and used alogn other components

[2021-08-19 11:28] jepsar commented on #7712
Scaffolding is also used as a term to generate code from a model. See for example https://www.toptal.com/angular-js/your-first-angularjs-app-part-2-scaffolding-building-and-testing and https://book.cakephp.org/1.3/en/The-Manual/Developing-with-CakePHP/Scaffolding.html

[2021-08-19 11:37] christophs78 commented on #7336
@sqores: https://github.com/christophs78/primefaces/tree/IT_PF_10_0_X let´s you run our current integrationtests against 10.0.x.

@doteo78: So there must be another issue not solved yet. --> We need as @sqores mentioned at least a reproducer or even better a PR containing a failing integrationtest.

[2021-08-19 11:39] buunsal commented on #7720
@chovyy you can use overlay menu for styleable button. https://www.primefaces.org/showcase/ui/menu/menu.xhtml?jfwid=1a3bd
@tandraschko Option 2 makes sense to me. But I think the span rendered outside is unnecessary. If we remove it, complexity will be reduced and the issue will be solved. We can only render button. Of course, I did not examine it in detail.

[2021-08-19 12:43] melloware commented on #7712
OK so let's go with `loader` since you are right scaffolding might be confusing.

[2021-08-19 12:53] melloware commented on #7336
Yes @doteo78 your use case must be different than the others so if you can provide a [PrimeFaces Test](https://github.com/primefaces/primefaces-test)  reproducer we can debug it.

[2021-08-19 13:41] doteo78 commented on #7336
[primefaces-test-7336.zip](https://github.com/primefaces/primefaces/files/7014714/primefaces-test-7336.zip)

Run the attached project (mvn jetty:run) and visit http://localhost:8080/primefaces-test/

Click "Delete row" button -> The first row is deleted and the datatable is updated. Now if you use the filter and leave it blank again you see the rows, but if you click "Delete row" the row is delete

[2021-08-19 13:42] tandraschko commented on #7712
some thoughts:

1) most frameworks are talking about `async components`, `dynamic components`, `defer rendering`, `deffered loading`
    i think we should choose a similar name, `loader` is a bit to global IMO
2) we should remove the loader, async, global attr and use p:ajax for that, so ppl can even more customize of the request
3) only use one facet, for the un-loaded template markup

A example

[2021-08-19 13:47] tandraschko commented on #7712
and after thinking more about it, dont we have it already? https://www.primefaces.org/showcase/ui/panel/outputPanel.xhtml?jfwid=f285d

[2021-08-19 13:53] tandraschko commented on #7712
https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/resources/META-INF/resources/primefaces/outputpanel/outputpanel.js ;)

[2021-08-19 13:54] tandraschko commented on #7712
i think we just may extend outputpanel to render a template facet before

[2021-08-19 13:57] melloware commented on #7712
Not a bad idea i should have considered that originally.   @jepsar what do you think?  Then we should update the Skeleton showcase example to show this behavior since everyone asks how to use it!

[2021-08-19 13:58] Rapster commented on #7712
if I'm not mistaken: one seems to be based on server side condition, the other is client based. Maybe we should have a component that covers both.

[2021-08-19 14:00] tandraschko commented on #7712
seems so @Rapster
so we need this 2 enhancements and deffered outputPanel should work perfectly

[2021-08-19 14:03] jepsar commented on #7712
Sounds as a plan! 👍🏻

[2021-08-19 14:05] Rapster commented on #7712
From what I can see already, reusing outputPanel code will end up with this bug https://github.com/primefaces-extensions/primefaces-extensions/issues/505. A correction that I made to prevent this https://github.com/primefaces/primefaces/issues/3815 to happen (which I'm guessing p:scaffold have already, hope I'm wrong :D)

[2021-08-19 14:15] melloware commented on #7336
I can confirm your issue exists on 11.0.0-SNAPSHOT and have re-opened the ticket.

[2021-08-19 14:20] Rapster commented on #7712
Also, after mentionning all these names, it becomes pretty clear `outputPanel` name is far from what the component actually is 😄 We could introduce a new tag name resuing outputPanel and renderer, but at some point it should be renamed properly .

[2021-08-19 14:27] melloware commented on #7712
@Rapster What is your preferred tag name?   I know OmniFaces had suggested `lazyPanel` but that's not the only thing this is used for right?

[2021-08-19 14:37] Rapster commented on #7712
Everything but outputPanel (kinda of a pleonasm if you think about it...) I'm cool with lazy/deferred whatever comes after. outputPanel does simple output also (but IMO I'll never use this for that purpose, I'll simply go with a div or panelGroup).

This component should stick to his purpose: deferring content loading/display (make me think those are two different things but I'll come back to that

[2021-08-19 14:44] tandraschko commented on #7712
defferedPanel (with the options of the current outputPanel) and remove the features from OutputPanel is also ok for me

but then in general p:outputPanel is quite useless

[2021-08-19 14:50] Rapster commented on #7712
What is the difference between options and features that you just mention?

[2021-08-19 14:59] tandraschko commented on #7712
the deffered feature in general and there is a defferentMode or something similar (im on the phone currently, cant check code)

[2021-08-19 14:59] christophs78 commented on #7712
We use p:outputPanel to have a (JSF-) container we can update via Ajax. (For usecases where we use the server-side rendered-attribute to control visibility of ui-elements.)

[2021-08-19 15:04] Rapster commented on #7712
p:outputPanel does no magic here. You can do the same with a h:panelGroup and maybe with a div using passtrough attrs.

[2021-08-19 15:07] melloware commented on #7712
@Rapster agreed but outputPanel has been there almost since Day 1 and we have thousands and thousands of instances of it over hundreds of XHTML pages.  Not that it can't be changed but jst pointing out it would make migration to 11.0 a pain to remove it so i am for creating the new component based on it with a different name.  Just my two cents.

[2021-08-19 15:07] christophs78 commented on #7712
Yep. p:outputPanel does no magic. But it is currently used in this way and we should only break it when it's worth breaking it.

[2021-08-19 15:13] jepsar commented on #7712
Indeed. I would create a new tag and maybe deprecate `p:outputPanel`.

[2021-08-19 15:20] Rapster commented on #7712
@melloware @christophs78 Yeah I understand, and also sorry about that... If it worth removing it? Well it is quite useless as it is, and buggy so... But as @melloware said, it seems a lot of people are using ouputPanel but misinterpreted the benefit of it (showcase and doc was to blame to be honest).

So we can't simply remove it, though it worth mentionning in the migration guide/docs that p:outp

[2021-08-19 15:26] tandraschko commented on #7712
I think the best replacement for outputPanel is
div jsf:id=
But only for jsf 2.2+

I think its not worth to remove for now and i would implement the new feature in outputPanel
Deffered mode is there since 2013

[2021-08-19 15:45] stolp commented on #7712
As long as outputPanel stays 100% backwards compatible I fully agree with that.

If there is a breaking change introduced I would prefer to have a new component introduced.

[2021-08-19 15:47] rider87 commented on #7712
I prefer also to have a new component.
Users already using the component from PFE.  There should be only a search / replace to PF core afterwards.

[2021-08-19 16:11] tandraschko commented on #7712
Users are using deffered outputPanel since 2013 ;)

[2021-08-19 16:16] rider87 commented on #7712
yeah, therefore leave outputPanel like it is and create new component p:scaffolding....
Maybe deprecate `p:outputPanel`
If users want to use p:scaffolding (instead p:outputPanel), they have to change it in there project anyway.

[2021-08-19 16:43] christophs78 commented on #7336
I´m writing an (currently failing) integrationtest for this. @doteo78 : Thanks for providing the reproducer!

[2021-08-19 17:23] jepsar commented on #2521
Posting a link to the PFE showcase in cause someone stumbles upon this issue: https://www.primefaces.org/showcase-ext/sections/renderers/commandButtonSingleClick.jsf

[2021-08-19 17:36] christophs78 commented on #7336
@doteo78 : After some research and trying to writing a IT i think to know what´s going on.
DataTable requires you to remove the row from the filtered list too. See our already existing integrationtest: https://github.com/primefaces/primefaces/blob/17d7bc92d52acab43ab6a21c648f93391df0ded0/primefaces-integration-tests/src/main/java/org/primefaces/integrationtests/datatable/DataTable021.java#L66

Pri

[2021-08-19 18:38] FlipWarthog commented on #3926
@melloware Yep, looking into it now.

[2021-08-20 07:11] jepsar commented on #7712
@rider87 a new component does not imply that there will be a search and replace migration from PFE. I will incorporate improvements 2 and 3 suggested by @tandraschko in comment https://github.com/primefaces/primefaces/issues/7712#issuecomment-901926450

You can setup you current code so you can migrate more easily, but that's up to you. Have a look at the linked comment to get an idea of what to e

[2021-08-20 08:37] doteo78 commented on #7336
@christophs78 - In the beginning of the ticket while debugging the initial issue you mentioned this:

Besides, when adding a new row it is more complicated to know if it is neccesary to add the object to filteredValue. You need to check first if it meets the filter criteria.

So for now, seeing what you guys are doing in Primefaces 11 I am calling this function after adding or removing (have not t

[2021-08-20 10:20] jepsar opened #7724 "DataTable: components can't overflow in editable cells"
See https://github.com/primefaces-extensions/primefaces-extensions/issues/511

<img width="504" alt="Screenshot 2021-08-20 at 11 58 36" src="https://user-images.githubusercontent.com/7500178/130237860-f924317d-079d-4159-b99c-bb131eb5c1f5.png">

This CSS rule sets overflow to hidden:

https://github.com/primefaces/primefaces/blob/65de61e60e6218b28ff147f947ed422e1ffd8916/primefaces/src/main/resource

[2021-08-20 11:00] tandraschko commented on #7712
i would suggest 2 PRs for now:
1) add the template facet
2) add the server-side condition (ready attr)

even the load ajax event is already there on outputPanel

later we can talk with PrimeTek, if we should rename the whole component to e.g. "defferedPanel" and/or deprecate the old outputPanel etc.

[2021-08-20 11:30] christophs78 commented on #7336
This was true at the time of writing this. This was fixed.

Your solution makes sense.

DataTable overall is way more complicated as most of us (including me) think first. Think eg of combining filter, paging and editable. You may add a new row on a page currently not selected. Or adding a (new/blank) row which does not fit into filter-criterias.
At some point i accepted it´s hard (almost impossib

[2021-08-20 11:44] tandraschko opened #7725 "DataTable: support RequestScoped LazyDataModel"
when switching to ViewScoped, it works

should be the same case like DataTable002, just switch to RequestScoped

in theory it should work, not idea if we should work on this

[2021-08-20 12:19] jepsar commented on #7720
The wrapping span cannot be removed as it contains both the button and the menu.

https://github.com/primefaces/primefaces/blob/65de61e60e6218b28ff147f947ed422e1ffd8916/primefaces/src/main/java/org/primefaces/component/menubutton/MenuButtonRenderer.java#L66-L69

[2021-08-20 12:51] melloware commented on #7724
@jepsar i would submit a PR and then we can assign to PrimeTek to review?

[2021-08-20 12:59] jepsar commented on #7724
I'm not 100% sure if you want this for every component. But I could create a PR. It would be simply having `overflow: visible;` in the second block above.

[2021-08-20 13:01] melloware commented on #7724
Yep I would think when editing it seems a reasonable choice.

[2021-08-20 14:03] #7336 closed, assigned to christophs78

[2021-08-20 14:57] chovyy commented on #7720
Might be an option, but I guess, custom CSS would then be the nicer workaround.

[2021-08-20 14:59] jepsar commented on #7720
@chovyy I'll submit a PR

[2021-08-20 15:00] chovyy commented on #7720
Cool, thanks a lot! :+1:

[2021-08-20 16:59] jepsar commented on #7712
PR 1: https://github.com/primefaces/primefaces/pull/7728

[2021-08-21 08:08] jepsar commented on #7720
Just checked `SplitButton` which consists of two buttons, which make applying buttons styles on them less straightforward. Outline will work if you would remove a border. So I won't touch that for now.

For `MenuButton` we have another option. We could render the `styleClass` on the button as well, so:

[code]

will render:

[code]

[2021-08-21 09:12] #7712 closed, assigned to jepsar

[2021-08-21 11:32] dima-fedotovs opened #7729 "Button: dialog refreshes the page after open"
When you open a dialog via PF('dlg').show() - it appears on the screen for a moment and then the page is reloaded. Affected versions (ELITE) 10.0.5 and 10.0.6. **It isn't reproducible with 10.0.4**

The demo project can be found in GitHub - https://github.com/dima-fedotovs/PFDialogReproducer

**Environment:**
 - PF Version: __10.0.5__, __10.0.6__
 - JSF + version: __Mojarra 2.3.14.SP04__
 - App se

[2021-08-21 11:47] dima-fedotovs commented on #7729
After further investigation, I've found that it isn't p:dialog. Seem in PF 10.0.5 the p:button changed its behaviour. Now it is navigating to the same view after click.

[2021-08-21 11:51] dima-fedotovs commented on #7729
Probably related to #7461

[2021-08-21 11:57] melloware commented on #7729
I agree @tandraschko this does look related to #7461

[2021-08-22 08:35] tandraschko opened #7730 "GraphicImage / StreamedContent: Make StreamedContent instance reusable"

[2021-08-22 08:40] #7730 closed, assigned to tandraschko

[2021-08-22 08:48] tandraschko commented on #7729
its actually the same with 8.0
if you check the rendered xhtml:
`onclick="PF('dlg').show();window.open('\/primefaces\-test\/index.xhtml','_self')"`

[2021-08-22 08:56] tandraschko commented on #7729
yeah, its by design
if you check h:button rendering, its the same
so you MUST add "return false" after your statement

[2021-08-22 09:41] jepsar opened #7731 "OutputPanel: add boolean attribute to enforce deferred load"

[2021-08-22 14:25] jepsar opened #7733 "DataScroller: add loading facet"
Which should be shown when data is being loaded, similar to #7712

[2021-08-22 14:50] #7731 closed, assigned to nobody

[2021-08-22 18:48] milansie opened #7735 "CSV: primefaces.bv.js"
**Describe the defect**
There is bug with passing arguments to getMessageBV function in primefaces.bv.js.

When validation error occurs, function `PrimeFaces.validation.ValidationContext.getMessageBV ` is called, with these arguments - element, message id, custom msg and **limit values**.
This method just calls another function `PrimeFaces.validation.Utils.getMessageBV`, but only first three argum

[2021-08-22 19:15] tandraschko commented on #7735
Please provide a reproducer

[2021-08-22 21:19] milansie commented on #7735
simple demo attached ..
[pfiss7735.tar.gz](https://github.com/primefaces/primefaces/files/7028162/pfiss7735.tar.gz)

[2021-08-23 06:51] mci-daniel opened #7736 "Datatable: Selection Update Bug"
**Describe the defect**
I have a lazy datatable (rowSelectMode="multiple", selectionPageOnly="true") inside a dynamic p:dialog.
I open the dialog with a p:commandButton - update="@widgetVar(dialog)", oncomplete="PF('dialog').show()".
The problem is that the selection of the datatable is not updated correctly (the selectionholder doesn't contain the most current selected rowkeys).

e.g.
- Open the

[2021-08-23 07:11] tandraschko commented on #7736
please provide a forked primefaces-test and try 11.0-SNAPSHOT
we already fixed ~50 DataTable bugs since 10.0

[2021-08-23 07:53] morvael opened #7737 "Datatable throws ListDataModel cast exception"
I think there was a bug introduced somewhere due to #7391, because this didn't happen for us on 10.0.5 and suddenly appeared on 10.0.6. The problem happens when selecting rows in a filtered datatable with lazy model.

[code]
(lazy data model descendant class name and deployment name redacted)

In the old code this part of SelectionFeature
[code]
 called this part of UIData:
[code]
and it worked. N

[2021-08-23 07:58] tandraschko commented on #7737
please provide a reproducer

[2021-08-23 08:01] morvael commented on #7737
The old method called setValue directly:
[code]

And the new one uses new updateValue:
[code]
which is
[code]
and it wants value to be list.

I'll try to prepare a reproducer.

[2021-08-23 08:58] morvael commented on #7737
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/7030742/primefaces-test-master.zip)

Enter something into filter input to filter a value and click on the row to select it. You should get:
![Screenshot 2021-08-23 at 10-57-09 PrimeFaces Test](https://user-images.githubusercontent.com/1133953/130419932-8c2b4103-9b5d-49a0-85f2-2c8ef1472e9f.png)

[2021-08-23 09:00] morvael commented on #7737
I think this bug will make many people around the world using datatable with lazy & filter & selection (doesn't seem to be very uncommon scenario) quite unhappy with 10.0.6.

[2021-08-23 09:11] morvael commented on #7737
I think that it's easy to miss this exception without custom exception handler that shows some "behind the scenes" exceptions to the user. Apart from that the component seems to work (see how the footer changes while selecting one or more items). So I don't know the ramifications of this bug.

[2021-08-23 09:12] morvael commented on #7737
But it's definitely wrong to assume DataTable.getValue always returns a List, it can also return a LazyDataModel.

[2021-08-23 09:29] mci-daniel commented on #7736
Thanks for the quick reply.

I think this issue is a duplicate of https://github.com/primefaces/primefaces/issues/7391

[2021-08-23 09:29] #7736 closed, assigned to nobody

[2021-08-23 09:36] Groax256 opened #7738 "Panel: collapsed binding broken for expressions with composite attribute, which are not resolveable or a readonly MethodExpression"
**Describe the defect**
Panel collapse binding is broken when EL has composite attribute as a part of a bigger expression.

**Reproducer**
https://github.com/Bartekc8888/primefaces-test

**Environment:**
 - PF Version: 10.0
 - JSF + version: Mojarra 2.2.20
 - Affected browsers: ALL

**To Reproduce**
Steps to reproduce the behavior:
1. Run reproducer and click button under panel

**Expected behavio

[2021-08-23 09:39] tandraschko commented on #7737
it seems to work fine with 11.0.0-SNAPSHOT, right?

[2021-08-23 09:48] tandraschko commented on #7735
thanks!

[2021-08-23 09:48] #7735 closed, assigned to tandraschko

[2021-08-23 09:49] morvael commented on #7737
Seems like I can't find that jar, so no way to test.

[2021-08-23 09:50] tandraschko commented on #7737
scroll down and check the readme here: https://github.com/primefaces/primefaces

[2021-08-23 09:55] morvael commented on #7737
There is no 11.0.0-SNAPSHOT there, and master-SNAPSHOT looks like 6_1?

[2021-08-23 09:57] tandraschko commented on #7737
master-SNAPSHOT = 11.0.0-SNAPSHOT

[2021-08-23 09:58] tandraschko commented on #7737
otherwise you can always checkout PF master and just do a mvn install -DskipTests

[2021-08-23 09:59] morvael commented on #7737
Then why do I get master-6_1-g9cdffab-6065 with master-SNAPSHOT? Anyway, I provided a reproducer for 10.0.6 :)

[2021-08-23 10:02] tandraschko commented on #7737
i dont know, i dont use jitpack

this is the community issue tracker and I can only fix it for 11.0
therefor i would like to know if it works there, so we can identifiy it as elite only and ping PrimeTek.

[2021-08-23 10:05] tandraschko commented on #7615
@melloware you can change this code to only catch PropertyNotFoundException? can you test it?

[2021-08-23 10:06] morvael commented on #7737
This is the content of https://jitpack.io/com/github/primefaces/primefaces/master-SNAPSHOT/maven-metadata.xml
![Screenshot at 2021-08-23 12-06-05](https://user-images.githubusercontent.com/1133953/130429737-1870731a-7e81-41df-b7b7-6b7356846fe4.png)

I guess that's another issue that could be raised...

[2021-08-23 10:08] morvael commented on #7737
I think I have already suggested elite needs an issue tracker too. Because otherwise we end up with some catch 22 situation.

[2021-08-23 10:12] tandraschko opened #7739 "Jitpack master resolves to 6_1"
https://github.com/primefaces/primefaces/issues/7737

can you check plz @melloware ?

[2021-08-23 11:19] tandraschko commented on #7737
created a issue for the jitpack issue

i cant replicate it with a snapshot, however i dont know if i make something wrong

@sqores @mertsincan
can you have a look? i really suggest to release 11.0 as 10.1 and get rid of all that datatable issues easily.

i will also ping PrimeTek in the team chat and likely close that issue then, thats only elite.

[2021-08-23 11:24] christophs78 commented on #7737
i´ll add explizit integrationtests for the combination of DataTable + Lazy + Filter + Selection
@morvael : do you use single or multiselect?

[2021-08-23 11:24] morvael commented on #7737
Multiselect (as in the reproducer).

[2021-08-23 11:34] buunsal commented on #7737
@morvael I tested with 10.0.6 and 11.0.0-SNAPSHOT. Yes it doesn't work with 10.0.6 and it works with 11.0.0-SNAPSHOT. I'll try to fix it for the next elite version.

[2021-08-23 11:45] jacekzwroclawia opened #7740 "Button: onclick attribute doesn't work as expected in PF 10.0"
Hi,
I've just upgraded PF 8.0 to PF 10.0. But now I have problem with my previously working `<p:button ... />` tags with `onclick` attribute.

PF tag:
`<p:button href="https://www.google.com/" value="Google Search" onclick="someFunction();" />`

**Generated HTML in PF 8.0:**
`<button id="j_idt125:j_idt164" name="j_idt125:j_idt164" type="button" class="ui-button ui-widget ui-state-default ui-corner

[2021-08-23 11:49] jepsar commented on #7740
Duplicate of https://github.com/primefaces/primefaces/issues/7729 ?

[2021-08-23 11:55] tandraschko commented on #7740
duplicate of https://github.com/primefaces/primefaces/issues/7729

11.0 SNAPSHOT works as designed and renders the window.open

[2021-08-23 11:55] #7740 closed, assigned to nobody

[2021-08-23 11:55] buunsal commented on #7737
Source of the issue is this fixes: https://github.com/primefaces/primefaces/issues/7336
And fixed with this: https://github.com/primefaces/primefaces/issues/7368

[2021-08-23 12:02] melloware commented on #7739
Checking....

[2021-08-23 12:03] melloware commented on #7739
When I look at JitPack Master buld from this morning it built 11.0-SNAPSHOT.

https://jitpack.io/com/github/primefaces/primefaces/master-6_1-ga678c02-6066/build.log

But I do see this error at the bottom so maybe JitPack is having trouble.
[code]

[2021-08-23 12:03] jacekzwroclawia commented on #7740
Thanks for answer, for now I use workaround:
`<p:button href="https://www.google.com/" value="Google Search" onmousedown="someFunction()" pt:ontouchstart="someFunction()" />`

[2021-08-23 12:05] melloware commented on #7615
sure

[2021-08-23 12:10] #7738 closed, assigned to tandraschko

[2021-08-23 12:17] melloware commented on #7615
Tested locally now I am letting the whole Integration Test suite run.

[2021-08-23 12:37] tandraschko commented on #7739
could it be related to your repo restructure?

[2021-08-23 12:53] melloware commented on #7739
It could be but it looks like its just running the root pom.xml and building everything correctly.  It should just be checking out Git Master and running.  Let me see if JitPack has any support ticket I can open.

[2021-08-23 12:54] Rapster commented on #7739
There are instructions regarding multi-module: https://jitpack.io/docs/BUILDING/#multi-module-projects

Not sure if that can help. Also, someone created an issue regarding the error message @melloware, see https://github.com/jitpack/jitpack.io/issues/4494

[2021-08-23 12:57] melloware commented on #7739
I also submitted a support request using their "Report a Bug" feedback on their home page.

[2021-08-23 13:29] jepsar commented on #7720
@sqores please see comment above. Do you prefer using the `styleClass` attribute or should we introduce `buttonStyleClass`?

[2021-08-23 13:32] tandraschko commented on #7720
i think introducing buttonStyleClass is the only clean thing
reusing it for 2 elements is quite hacky/dirty

[2021-08-23 13:48] tandraschko commented on #7704
so lets go with new enums like in PrimeNG?

[2021-08-23 13:56] Rapster commented on #7704
I guess so, I don't know what is "is", "isNot" though. And I don't think we need the date filters.

[2021-08-23 14:41] tandraschko commented on #7704
yep, we dont need date stuff. less/greater is enough.

Should we rename "range" to "between" like used in SQL?
what about less / greater? should we allow "not greater" or should user go with less?

[2021-08-23 14:42] buunsal commented on #7720
@jepsar you can add buttonStyle and buttonStyleClass

[2021-08-23 14:44] tandraschko commented on #7704
[code]

[2021-08-23 14:46] Rapster commented on #7704
Looks good, maybe it's time to remove GLOBAL. Really don't know what it's used for

[2021-08-23 14:49] tandraschko commented on #7704
i think its used to idenfity the global filter in a custom LazyDataModel.

[2021-08-23 15:15] Rapster commented on #7704
Arf...  Let's stick to this issue for now

[2021-08-23 16:59] jepsar commented on #7731
@melloware can you please set the milestone?

[2021-08-23 17:01] melloware commented on #7731
done

[2021-08-23 19:22] efibn commented on #4685
This issue really have to get prioritized, PLEASE !

[2021-08-23 19:30] melloware commented on #4685
@efibn your best bet might be to pay for a 1 time PRO support to PrimeTek and fund this issue.

[2021-08-24 06:12] #7720 closed, assigned to nobody

[2021-08-24 09:17] blutorange opened #7746 "Schedule: Does not respect "views" option set by an extender"
**Describe the defect**

When an extender sets a value for `options.views`, the schedule widget does not respect that value, e.g.

[code]

Then inspect `PF("schedule").cfg.options.views` in the browser console, it's missing the `dayMaxEvents` option set by the extender.

**Environment:**
 - PF Version: _10.0_

**Reproducer**

See the showcase https://www.primefaces.org/showcase/ui/data/schedule/ex

[2021-08-24 10:47] fanste opened #7748 "Server side message properties: wrong encoding"
**Describe the defect**
It looks like the newly introduced server side message properties (#6995) do not use the correct encoding. In my case the german umlauts are totally messed up.

Screenshot of the eclipse debug view (class `PropertyResourceBundle` field `lookup`)
![grafik](https://user-images.githubusercontent.com/3531183/130602617-badadcb6-7a2e-4e82-8ef8-59dd69b322d2.png)
![grafik](https://

[2021-08-24 10:50] fanste commented on #7748
Is this really a bug in PF 10 or is there anything wrong with our dev environment (all my collegues have the same problem)?

I cannot believe that nobody recognized the wrong encoding while introducing the server side message properties.

_Edit 24.08.2021 13:17:_
Maybe this is the solution why nobody detected that problem:
https://docs.oracle.com/javase/9/intl/internationalization-enhancements-jdk

[2021-08-24 10:58] fanste commented on #7748
Reproducer: https://github.com/fanste/primefaces-test/tree/test-7748
![grafik](https://user-images.githubusercontent.com/3531183/130605062-549a8c86-90de-4c4d-971e-610ec7f6cf70.png)

[2021-08-24 11:18] stolp commented on #7748
Java 8 is not able to work with UTF-8 encoded properties. This has been reported in #7149 and was fixed in the 10.0.3 elite release.

[2021-08-24 11:24] fanste commented on #7748
Thanks for the hint. Somehow I did not find that issue -> closed

[2021-08-24 11:24] #7748 closed, assigned to nobody

[2021-08-24 13:17] #7746 closed, assigned to blutorange

[2021-08-24 18:05] melloware commented on #7620
any update on this or should we close it?  I think only the https://ehcache URL can be HTTPS and the W3C ones stay HTTP?

[2021-08-25 07:03] fanste commented on #7620
The project business is currently taking up my time. This issue is on my list.

`xmlns:xsi` was changed by mistake, maybe thats already the fix for IntelliJ.

[2021-08-25 07:28] jitpack-io commented on #7739
Hi,

It seems like there was a timeout as we have a 15 minute limit. Rebuilding the same commit was successful this time:
https://jitpack.io/com/github/primefaces/primefaces/a678c02/build.log

[2021-08-25 08:33] tandraschko commented on #7739
@jitpack-io i see but https://jitpack.io/com/github/primefaces/primefaces/master-SNAPSHOT/maven-metadata.xml still says 6_1?

[2021-08-25 11:13] Mumbasms commented on #4726
Containment suppose to work on all four sides right? up, down, left and right.  For me, if I drag the node outside of the panel towards the right and down then I see the scrollbar. However in the direction up and left, node just vanishes and no scrollbar is visible. Is this expected behaviour?

[2021-08-25 11:59] doteo78 commented on #7336
[primefaces-test-7336-v2.zip](https://github.com/primefaces/primefaces/files/7046723/primefaces-test-7336-v2.zip)

Another bug only when using MyFaces (a reproducer is attached).

Run the project (mvn jetty:run -Pmyfaces23) and visit http://localhost:8080/primefaces-test/
Then click "Delete row" on any row -> the row is deleted and the datatable is updated.
Click again "Delete row" on another row

[2021-08-25 12:17] melloware commented on #4726
@Mumbasms PF is just wrapping jsPlumb so you would have to see what jsPlumb does wiht containment property: https://jsplumbtoolkit.com/

This is all their docs say: https://docs.jsplumbtoolkit.com/toolkit/current/articles/dragging.html

[2021-08-25 12:24] melloware commented on #7336
Here is the MyFaces 23 reproducer using 11.0.0-SNAPSHOT and you are correct the second delete button does not update the table.

[pf-7336-myfaces23.zip](https://github.com/primefaces/primefaces/files/7046888/pf-7336-myfaces23.zip)

cc @tandraschko

[2021-08-25 12:25] tandraschko commented on #7336
is this the same: https://github.com/primefaces/primefaces/actions/runs/1165377212

@christophs78 can you check?

[2021-08-25 12:41] melloware commented on #7620
Yep I am going to close for now we can re-open if you decide other changes are needed!

[2021-08-25 12:41] #7620 closed, assigned to fanste

[2021-08-25 14:01] tandraschko commented on #7725
not easy, will close it for now

[2021-08-25 14:01] #7725 closed, assigned to nobody

[2021-08-25 14:58] tandraschko commented on #7704
@Rapster could you please review?

[2021-08-25 14:59] Rapster commented on #7704
Looks good

[2021-08-25 15:00] #7704 closed, assigned to tandraschko

[2021-08-25 16:19] christophs78 commented on #7336
Problably not the same. If it would be the same it will fail for Java 8 too.
Currently looking into what is going on here.

[2021-08-25 17:00] christophs78 commented on #7336
@doteo78 : Please try to add `if (dataTable.getFilteredValue()!=null) {` to your filterAndSort-method.

[2021-08-25 17:48] christophs78 commented on #7336
Looks like a have to accept DataTable#filterAndSort does not work with MyFaces. (@tandraschko : Maybe you can add some aspects to this.)
When we don´t get it working with MyFaces we will have to remove it.

@doteo78 : Plan B is to do it this way. Well knowing this is not ideal and has some other limitations.
[code]

[2021-08-25 19:55] christophs78 commented on #7598
Do we still wan´t to do this for 11.0.0 or do we postpone this to 12.0.0?
When we wan´t to do this for 11.0.0 we would not to start early. Modify PrimeFaces Core, migrate Showcase incl. PrimeFlex - documentation.
From my personal view i would prefer a stable 11.0.0 release and do this afterwards.

[2021-08-25 20:02] melloware commented on #7598
I am OK waiting until 12.0 on this one.

[2021-08-25 22:50] FlipWarthog commented on #3926
@melloware I was just going to just write my analysis, but I'm also going to submit a draft PR of what I'm talking about that'll definitely need some review.

The issue itself is the result of how tree nodes are filtered out; effectively, the `TreeRenderer` is skipping them, thus they're not present in the DOM for the JS to interact with (or even know about, for that matter).

My approach to the f

[2021-08-26 06:31] buunsal commented on #7269
#7759 Carousel has been reimplemented so I am closing this issue for now.

[2021-08-26 06:31] #7269 closed, assigned to nobody

[2021-08-26 08:11] doteo78 commented on #7336
It does not work when using the filter first as you probably already know.

Yep! This is what I am doing right now ;-)

Another thing I realized is that search keywords are lost after updating the datatable (adding/removing rows) although the datatable is still well filtered. It seems to be fixed in version 11.0.0-SNAPSHOT and I don't know if it is related with issue #7325. Behaviour is similar bu

[2021-08-26 16:18] fanste commented on #6898
I just wanted to implement that and luckily saw, that it is already done. Thanks melloware!

[2021-08-27 14:09] VsevolodGolovanov opened #7763 "AutoComplete: duplicate ids with custom content"
**Describe the defect**
An autocomplete with custom content renders duplicate ids in query results.

**Reproducer**
[primefaces-autocomplete-custom-content-duplicate-ids.zip](https://github.com/primefaces/primefaces/files/7067446/primefaces-autocomplete-custom-content-duplicate-ids.zip)
(Targets 10.0.0 instead of master-SNAPSHOT due to #7739.)

**Environment:**
 - PF Version: 6.2.30, 10.0.0
 - JSF

[2021-08-27 16:02] melloware commented on #7763
Hmmm is that the issue or is it that the original content has not been removed from the DOM yet before adding the new items to the panel?

[2021-08-27 16:19] VsevolodGolovanov commented on #7763
No, after the update is finished each search result ends up with elements with duplicate ids. In this case the graphicImage generated id.

[2021-08-27 16:20] melloware commented on #7763
yep i see it now. It this block of code...

[code]

Its just calling EncodeAll.   I am not sure how to fix this so I will leave for @tandraschko or @Rapster to chime in.

[2021-08-27 16:28] VsevolodGolovanov opened #7765 "DataTable: rowExpansion+rowEditor creates duplicate ids"
**Describe the defect**
Using dataTable with rowExpansion and rowEditor creates duplicate ids.

**Reproducer**
[primefaces-datatable-rowexpansion-roweditor-duplicate-ids.zip](https://github.com/primefaces/primefaces/files/7068337/primefaces-datatable-rowexpansion-roweditor-duplicate-ids.zip)
(Targets 10.0.0 instead of master-SNAPSHOT due to #7739.)

**Environment:**
 - PF Version: _6.2.30_, _10.0.

[2021-08-27 17:13] VsevolodGolovanov opened #7767 "SelectOneMenu: duplicate ids with custom content"
**Describe the defect**
Using selectOneMenu with custom content results in duplicate ids.

**Reproducer**
[primefaces-7767-selectonemenu-custom-content-duplicate-ids.zip](https://github.com/primefaces/primefaces/files/7068606/primefaces-7767-selectonemenu-custom-content-duplicate-ids.zip)
(Targets 10.0.0 instead of master-SNAPSHOT due to #7739.)

**Environment:**
 - PF Version: _6.2.30_, _10.0.0_

[2021-08-27 17:50] VsevolodGolovanov commented on #7763
Also:
[code]
Same problem.

[2021-08-28 10:05] stallprobbe opened #7769 "Component: DataTable - SummaryRow"
I have upgrade from primeface 5 to primeface 10.0.5, works nice but I have problem with (DataTable)  <p:summaryRow>, it works if I add sortby on a column and click on that, but before it shown the  <p:summaryRow> when I populate the data. I use Freya 2.0.0  as template.

Run the include test, you need to click on a column, then summaryrow shows.

[primefaces-test-master.zip](https://github.com/pri

[2021-08-28 11:33] christophs78 commented on #7769
There were major changes in DataTable with 10.0.0: https://primefaces.github.io/primefaces/10_0_0/#/../migrationguide/10_0_0?id=datatable

Probably relevant for your reproducer:
`DataTable#sortBy: expects a single or a collection of SortMeta (default sorting can either be configured through markup or programmatically)`

--> Please try to provide SortMeta for DataTable#sortBy.

[2021-08-28 12:21] melloware commented on #7769
@christophs78 is right change your datatable to remove `sortBy` and move it to the `p:column` like...

[code]

[2021-08-28 12:21] #7769 closed, assigned to nobody

[2021-08-28 12:32] melloware commented on #7739
I sent another support request about this.

[2021-08-28 12:39] melloware commented on #7457
@jepsar I am not sure anyone is going to chime in so I think we should make a reasonable assumption here as to the expected behavior.  What do you think?

[2021-08-28 13:46] pmensalt commented on #7457
I still think this is a bug. Imo, 'lazy loading' means loading the data the moment it is needed, not sooner. This is not the case here.
Lazily loading the data would mean in this case loading it whenever the popup is shown, or when the month view is changed.
At the moment, only when changing the month view is lazily loaded, not when the popup is show.

This should be the intended behaviour in my o

[2021-08-29 12:51] melloware commented on #7713
@brivalin thanks for the reproducer!   Finally had a chance to sit down and look at this.  Here is a MonkeyPatch that fixes the issue.

[code]

The issue is that when updating the timeline the old `instance` value was still there so it was trying to destroy and object that was already destroyed so we have to `null` out the value after destroying it.

[2021-08-29 13:05] #7713 closed, assigned to melloware

[2021-08-29 13:28] melloware commented on #5051
reproducer for 11.0.0 that its still a bug:
[pf-5051-PF11.zip](https://github.com/primefaces/primefaces/files/7072582/pf-5051-PF11.zip)

[2021-08-29 18:02] melloware commented on #7590
I have confirmed this is still an issue in 11.0.0-SNAPSHOT.  It works fine if `frozenColumns=2` is removed.

[2021-08-30 07:39] doteo78 commented on #7325
@melloware: Any chance to include this in a 10.0.x version?
I am not sure if it will fix that global filter keywords are lost after updating the datatable even when not using MultiViewState.

[2021-08-30 07:51] brivalin commented on #7713
Thank you for the MonkeyPatch.
I integrated it in my project and I confirm that it fixes the problem and now works as expected.

[2021-08-30 11:04] melloware commented on #7325
@doteo78 I don't work for PrimeTek so I don't get to decide what goes in Elite releases.   That is up to @sqores

[2021-08-30 11:04] melloware commented on #7713
Thanks for testing!

[2021-08-30 11:14] doteo78 commented on #7325
Alright!!
Do you think this issue is the same that occurs when not using MultiViewState? You can reproduce it with datatable crud showcase and with my reproducer attached in #7336. It works fine with 11.0.0-SNAPSHOT but I don't know if it is because of this fix.

[2021-08-30 11:39] melloware commented on #7325
My guess is its most likely because of this fix if it works in 11.0.0-SNAPSHOT.

[2021-08-30 11:59] melloware commented on #7739
Team, I have verified while this is bad naming on Jitpack's part the JAR is correct and its been doing this for over a year. See my history...
![image](https://user-images.githubusercontent.com/4399574/131335771-5674502d-a2cb-447b-95a9-a7ff23a2d5fc.png)

The JARS when you crack them open are the proper 11.0-SNAPSHOT. So while it "looks" incorrect the MASTER-SNAPSHOT is resolving correctly.
[code]

[2021-08-30 11:59] #7739 closed, assigned to melloware

[2021-08-30 12:00] melloware commented on #7767
@VsevolodGolovanov Jitpack is resolving correctly. The name 6.1 looks bad but its the correct JAR it is downloading and using for 11.0-SNAPSHOT.

[2021-08-30 14:08] melloware commented on #6397
OK the real issue is the InputNumber is just calling `val` like ` this.hiddenInput.val(value);`.

From JQuery docs `val` does not fire "change" events

So the slider is subscribed to change events that never happen...
[code]

As we saw above from PRO user calling `trigger('change')` is not an option as it fires too many change events.

[2021-08-31 11:02] #6397 closed, assigned to melloware

[2021-08-31 14:23] jepsar opened #7772 "FileUpload: Explain client side API show() and user activation"
https://www.primefaces.org/showcase/ui/file/upload/basic.xhtml (so PrimeFaces 10.0.0, but I don't think that matters)

[code]

Logs this error in the JS console:

[code]

Firefox version: 91.0.2

No longer works with Chrome (it used to). Chrome reports:

[code]

[2021-08-31 14:29] jepsar commented on #7772
https://stackoverflow.com/questions/210643/in-javascript-can-i-make-a-click-event-fire-programmatically-for-a-file-input

[2021-08-31 14:56] melloware commented on #7772
Hmmm have you tried any of these tricks?

[2021-08-31 14:59] jepsar commented on #7772
Tried some briefly. Seems like a won't fix (documentation mention) so far.

[2021-08-31 18:00] VsevolodGolovanov opened #7776 "DataTable/TreeTable: cellEditor saves changes too late"
**Describe the defect**
DataTable cellEditor saves changes when you click away from it. But if you click something like a commandButton, then the saving request gets queued after the button's, which is usually not what you want.

**Reproducer**
[primefaces-datatable-celledit-request-late.zip](https://github.com/primefaces/primefaces/files/7085911/primefaces-datatable-celledit-request-late.zip)

**

[2021-08-31 18:02] VsevolodGolovanov commented on #7776
Btw the reproducer won't start with master-SNAPSHOT, same exception as here: https://github.com/primefaces/primefaces/issues/7604#issuecomment-882491021

[2021-08-31 18:08] VsevolodGolovanov commented on #7776
I know that if you use something like blockUI bound to ajax requests that this could swallow the click, and the button won't get it at all. But this is preferrable behavior.
Maybe make handled events configurable.

[2021-08-31 18:14] melloware commented on #7776
This has been reported a lot before.  To fix it locally you need AJAX on the input. Not sure how to fix it otherwise.
[code]

[2021-08-31 18:21] VsevolodGolovanov commented on #7776
In the real application the action invalidates the table's model, so when the cellEdit event arrives it ends with a system error.

It's fixable by handling some event that happens before the target click. mouseup is probably best, as focusin is not supported in older Firefox versions, and mousedown could be too late as well.

[2021-08-31 18:21] melloware commented on #7776
the only other option is on your CommandButton `onclick` is to use widget methods to close the celleditors first.

[2021-08-31 18:51] melloware commented on #7776
Please submit a PR with any proposed changes and we can look at it.  I know others have brought this issue up in the past.

[2021-08-31 19:54] VsevolodGolovanov commented on #7776
I just realized the real page already does the p:ajax workaround, but updating the datatable (i.e. row) so that the cellEditor immediately rerenders in output mode. Problem is, the cell is still considered to be in input mode by the datatable js, and the cellEdit fires on the next click regardless. Hmmm. What's the bug here? Should datatable rerender the cell in input mode, not output? It doesn't

[2021-08-31 20:09] melloware commented on #7776
I am not sure there is a right answer but I think that is what this ticket was getting at: https://github.com/primefaces/primefaces/issues/3465

In the end i am not sure there is any 1 solution that make all use cases happy.

[2021-09-01 07:43] irieill opened #7777 "AccordionPanel: strange/unexpected data model update behavior"
**Describe the defect**
Submitting a form containing an `AccordionPanel` with dynamic `Tab`s results in strange/unexpected data model update behavior in that only the last `Tab`s elements setters are invoked.

**Reproducer**
https://github.com/irieill/primefaces-test

**To Reproduce**
Observe the differences in console output while reproducing.

Steps to reproduce the behavior:
1. Click on 'Save'

[2021-09-01 07:49] irieill commented on #7777
Changing `multiple` does not matter. Setting `dynamic=false` makes the issue even more obvious, regardless if some `Tab` is activated.

[2021-09-01 08:39] brivalin opened #7778 "DataTable: Scroll Height attribute add 'px' when using 'vh' value"
**Describe the defect**
Use scrollable height feature on Datatable breaks CSS when using the 'vh' to have the scroll generated based on viewport. It had 'px' after 'vh'. Example: I use scrollHeight="50vh", It results in "max-height: 50vhpx".
![datatable_vh](https://user-images.githubusercontent.com/26894018/131638453-f850d563-25f7-4218-8d32-16aa32e02c21.PNG)

**Reproducer**
[primefaces-datatable-v

[2021-09-01 10:34] agharta commented on #7335
Hi all,
In 10.0.6 problem persists.
In advanced mode, my workaround is setting global="false" to p:fileUpload component, and all works fine (because fileupload have its upload bar).

Has anyone tried this solution? What do you think about it @melloware ?

Regards

[2021-09-01 11:21] melloware commented on #7335
@agharta yes this problem is in 10.0.6 because you see this ticket is marked fixed in 11.0.0. So yes you will still see the issue but I posted a fix if you need it right now you can implement in your project right now.

See this solution: https://github.com/primefaces/primefaces/issues/7151#issuecomment-804050300

[2021-09-01 11:26] agharta commented on #7335
Ah! I see! Sorry, my mistake.
Ok, for my situation the global="false" option is actually a valid solution and doesn't generate collateral effects.
When 11 will be released l'll go back to global="true" and test again it.

Cheers

[2021-09-01 11:41] melloware commented on #7335
@agharta why not use my MonkeyPatch in the other ticket?  It will allow you to use global="true" right now?

[2021-09-01 11:52] melloware commented on #7778
Fixed with my PR. Thanks for the reproducer!
![image](https://user-images.githubusercontent.com/4399574/131666698-53ac286a-a276-41a1-ab96-3b030788e495.png)

[2021-09-01 12:06] melloware commented on #7777
Looks like it's releated to you using "ui:repeat" ??   Seems like lots of issues in past with TabView and Accordion and ui:repeat.

See: https://github.com/primefaces/primefaces/issues/523
See: https://github.com/primefaces/primefaces/issues/998
See: https://github.com/primefaces/primefaces/issues/720

What happens if you just put straight text boxes inside accordion without the `ui:repeat` i wond

[2021-09-01 12:07] #7778 closed, assigned to melloware

[2021-09-01 12:07] agharta commented on #7335
@melloware  because I tend not to override external frameworks: more generally, if any incompatibility with the override is introduced in the future version 11 or later, then my entire product will suffer.
I prefer - where possible - to stick to what is provided by the framework and, if necessary, to rely on the migration guide.

global = "false" actually makes sense - at least to me - in fileuplo

[2021-09-01 12:08] melloware commented on #7335
understood but I usually add these monkeypatchs to a file called patch.js with @TODO "Remove in 11.0.0" etc.  Just my preference.  And then when a new PF comes out I simply review my patch.js file for what I can remove.

[2021-09-01 12:19] agharta commented on #7335
May be a solution: one unique patch file to keep reviewed. You're right too.
Ok, I evaluate this way with my colleagues.
Thanks a lot for the tip!

Best regards

[2021-09-01 13:10] irieill commented on #7777
Not using `ui:repeat` but straight text boxes works! Thank you for pointing me in the right direction. Did not see the relation to these issues. Unfortunately thats not an option for my real usecase. But replacing with `p:repeat` also works. That is perfectly fine. [As stated in the docs](https://primefaces.github.io/primefaces/10_0_0/#/components/repeat)

What is the reason not using p:repeat as

[2021-09-01 13:23] tandraschko commented on #7777
Because its a hack as the mojarra impl of ui:repeat isnt well enough designed. P:repeat should not exist and we can hopefully remove it in the future.
I cant remember if they fixxed it, maybe try the newest version.

[2021-09-01 13:24] tandraschko commented on #7777
@melloware @christophs78 could we add some unittests for this issues?

[2021-09-01 13:30] melloware commented on #7777
I believe Mojarra has fixed most of the issues for ui:repeat and I believe this does not affect MyFaces correct?

@irieill What version of Mojarra are you using?

[2021-09-01 13:34] melloware commented on #7777
OK update it looks like Mojarra ui:repeat still has issues.

`mvn clean jetty:run -Pmojarra22` = broken
`mvn clean jetty:run -Pmojarra23` = broken
`mvn clean jetty:run -Pmyfaces22` = WORKS!
`mvn clean jetty:run -Pmyfaces23` = WORKS!

So it sounds like we need to roll more changes into Mojarra UI:repeat.

[2021-09-01 14:11] irieill commented on #7777
@melloware I am running WildFly 22.0.1 that ships with Mojarra 2.3.14.SP02.

[2021-09-01 14:44] jepsar commented on #7772
I'll submit a PR with documentation changes.

[2021-09-01 14:46] jepsar commented on #7772
The only workaround I've seen is hijacking a mouse move event and use that to trigger a click. But that's too ugly in my book and it may fail at a later moment.

[2021-09-01 15:26] melloware commented on #7777
yeah even with Mojarra 2.3.16 its still an issue . So Mojarra still has bugs in repeat.

[2021-09-01 16:02] melloware commented on #5453
I just ran into this with the Altantis 2.0.1 theme and my fix for anyone else looking is...

[code]

[2021-09-01 16:37] melloware commented on #7772
Perfect assigned to you,

[2021-09-01 18:32] melloware commented on #7777
OK comparing Mojarra to PrimeFaces p:repeat it looks like the only diffrence now after all these years is this...

PrimeFaces:
[code]

Mojarra:
[code]

PrimeFaces has a custom had for `UITabPanel` and UITabPanel states this...

[2021-09-01 18:50] tandraschko commented on #7777
Yeah
Myfaces algorithm works fine without this check

[2021-09-01 18:51] melloware commented on #7777
I was looking at MyFaces UiRepeat and its completely different.  I can't tell how it determines if its nested or not.  Based on DataModel?

[2021-09-01 18:56] tandraschko commented on #7777
Its a different algorithm which doesnt need a "Check if nested in another repeat"

[2021-09-01 20:13] melloware commented on #7777
I opened a Mojarra ticket: https://github.com/eclipse-ee4j/mojarra/issues/4957

[2021-09-01 20:13] #7777 closed, assigned to nobody

[2021-09-01 21:29] firsthour opened #7780 "PanelGrid: Exception when ui:repeat is used to populate rows"
**Describe the defect**
In a p:panelGrid when ui:repeat is used to populate all the rows, Primefaces throws an exception:

javax.faces.FacesException: PanelGrid without a 'columns' attribute expects at least one <p:row> element.

**Reproducer**
n/a

**Environment:**
 - PF Version: _10.0.6_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Try to load page

**Expecte

[2021-09-02 05:16] jepsar commented on #7772
It no longer is browser specific, it also does not work with Chrome. So it will probably fail with all browsers (soon). If no solution can be found, I think we should deprecate / remove `show()`.

[2021-09-02 08:16] Rapster commented on #7780
Please post the full stacktrace. But from what I can see, `<ui:repeat />` is not eligible as children of `<p:panelGrid />`, you can workaround it using `<c:foreach />` which is executed at build time (see https://stackoverflow.com/a/3343681/4605161 for more details). Or if PanelGrid had a `var` attribute, that would be even better?

[2021-09-02 09:45] mauromol opened #7781 "TriStateCheckbox: Add readonly attribute"
**Description**
The `<p:triStateCheckbox>` is missing a `readonly` attribute that allows to render the checkbox in a non-disabled fashion, still maintaining it read-only.
It's not even possible to simulate such a behaviour with something like `onclick="return false"` because this component is also missing the `onclick` attribute.

**Describe the solution you would like**
Adding the ability to set

[2021-09-02 09:51] Rapster commented on #7781
Feel free to provide a PR

[2021-09-02 11:06] melloware commented on #7772
should we not deprecate it should we remove it entirely @tandraschko ?

[2021-09-02 11:10] melloware commented on #7780
I definitely understand this use case.  I think if there is a UIRepeat we should just not throw the error about missing Rows.

[2021-09-02 11:13] tandraschko commented on #7772
If it doesnt work anymore -> remove

[2021-09-02 11:18] melloware commented on #7780
Reproducer:
[pf-7780.zip](https://github.com/primefaces/primefaces/files/7098442/pf-7780.zip)

[2021-09-02 11:25] Rapster commented on #7780
I understand it too. Ideally, using a var attr would be more straightforward or am I missing something?

[2021-09-02 11:28] melloware commented on #7780
@Rapster PanelGrid has 3 rendering modes with flex, grid, table, etc and introducing `UIData` or whatever it takes to make it a `var` with repeating seems like a much bigger change no?  This is simply asking for it to put back pre 10.0 behavior and not blow up if there is a UIRepeat in it which is reasonable. We got burned on one my projcets with this error.

We can always do a folow on PR to add

[2021-09-02 12:10] melloware commented on #7781
I followed what PrimeNG was doing.

[2021-09-02 12:13] Rapster commented on #7780
Agreed 100% on fixing this issue with a simple fix (my devs usually go that route but as I was facing that same issue, I realized it'd be more clean to simply have a var attr, specially depending the JSF version and impl it doesn't always work...). I don't think you would need UIData since you don't need to save state of each row.