[2021-02-15 14:02] tandraschko commented on #6990
@mertsincan theme error, can you check it plz?

[2021-02-15 14:56] jepsar commented on #6990
As a workaround one could use `itemLabel="&#xA0;"`...

[2021-02-15 16:13] riteshsingh03 opened #6991 "PickList - Version 6.0.2 - Not able to move selected item one item above"
**Describe the defect**
Not able to move selected item one step above, showing error in console TypeError: e.querySelector is not a function.

[https://primefaces.org/primereact/showcase/#/picklist](url)

**Reproducer**
Clone repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to receive an answer and a solution and attach the

[2021-02-15 16:15] tandraschko commented on #6991
This repository is for PrimeFaces, not PrimeReact. Please use the right repository/issue tracker.

[2021-02-15 16:15] #6991 closed, assigned to nobody

[2021-02-15 16:48] Chandok opened #6993 "PickList:(v6.0.2) Move Up (Single) and Move Down buttons are not working"
**Issue is reproducible in [Official Demo](https://www.primefaces.org/primereact/showcase/#/picklist).**

**Step1**: Select one record in picklist
**Step2**: Click on Move Up Or Move Down Button.
**Step3**: It goes to blank page and console shows following error.

**Console Error**
react-dom.production.min.js:209 TypeError: e.querySelector is not a function
    at Function.value (DomHandler.js:176

[2021-02-15 17:02] #6993 closed, assigned to nobody

[2021-02-15 18:53] melloware commented on #6990
Hmm in the `forms.selectonemenu.js` we put `labelText = '&nbsp;';` in other situations where its null.  I wonder if its not happening in this case?  Or you are saying this was working in 8.0 and definitely broken with the new themes?

[2021-02-15 18:54] jepsar commented on #6990
Yes, this was working with 8 (Nova Light)

[2021-02-15 18:57] anuragnz commented on #6985
Thanks. Just confirming its working fine now.

[2021-02-15 22:23] melloware commented on #6987
I cant reproduce either. Closing until OP comes back with a reproducer.

[2021-02-16 00:50] edudoda commented on #6987
I ran 'primefaces-test' and it works.
But not in my environment, I'm still trying to figure it out... will try to send a reproducer...
Thanks in advance!

[2021-02-16 09:36] #6990 closed, assigned to mertsincan

[2021-02-16 09:40] #6913 closed, assigned to Rapster

[2021-02-16 09:46] mertsincan commented on #6990
It's fixed for now, but we need to change the placeholder behavior in PF11.
https://primefaces.org/primereact/showcase/#/dropdown

[2021-02-16 10:03] #6988 closed, assigned to mertsincan

[2021-02-16 10:08] mertsincan commented on #6144
We implemented it like a button in Prime* libraries. So I'm not sure about this change.
https://primefaces.org/primereact/showcase/#/autocomplete

[2021-02-16 13:12] mertsincan commented on #5126
Thanks @melloware ;)

[2021-02-16 13:40] jepsar commented on #6982
We should probably bundle / translate these as well https://github.com/primefaces/primefaces/blob/master/src/main/resources/org/primefaces/Messages.properties

Should that become a new issue?

[2021-02-16 13:41] tandraschko commented on #6982
+1 for new issue

[2021-02-16 13:42] jepsar commented on #6982
Can be done per language.. I can take care of Dutch.

[2021-02-16 13:48] jepsar opened #6995 "Core: add translations for server side message properties"
See:
* https://github.com/primefaces/primefaces/blob/master/src/main/resources/org/primefaces/Messages.properties

Feel free to translate any open task, even if it has mentions. And maybe take some time to review / complete the client side version at https://github.com/primefaces/primefaces/issues/6982

- [x] en @melloware :smile:
- [x] nl @jepsar
- [x] pl @melloware @pionas
- [x] cs @sasynkamil
-

[2021-02-16 13:51] mertsincan commented on #6834
This issue is not related to Theme. When we change the value of the checkbox, we must remove or add the 'ui-state-active'. Checkbox is currently doing this on Blur event. When we change this change in the core, the theme'll work the way users want.

50% for me :D

[2021-02-16 14:06] mertsincan commented on #4569
Yes, for Custom layout in https://www.primefaces.org/showcase/ui/input/oneRadio.xhtml

[2021-02-16 15:27] melloware commented on #6932
@sasynkamil do you mind provide SV and NB translations for the server side as well.  See this ticket: https://github.com/primefaces/primefaces/issues/6995

[2021-02-16 15:28] melloware commented on #5920
@claudioweiler do you mind providing a PT translation for server side as well. See this ticket: https://github.com/primefaces/primefaces/issues/6995

[2021-02-16 15:53] jepsar commented on #6995
nl
[code]

[2021-02-16 16:12] melloware commented on #6834
@mertsincan I provided a fix.  This was definitely NOT right. Thanks for helping me see the problem.

[2021-02-16 16:15] zhedar opened #6997 "ProgressBar: labelTemplate not visible anymore"
**Defect**
PrimeFaces 10 seems to break `progressBar`'s `labelTemplate`. The specified text is not shown anymore. Default template is used in both cases. Custom css removed for test purposes.

Behaviour until 8.0:
<img width="228" alt="Bildschirmfoto 2021-02-16 um 17 04 42" src="https://user-images.githubusercontent.com/6633403/108089865-563b9b00-707a-11eb-8602-1f4a7b084f59.png">

Current behaviou

[2021-02-16 16:20] tandraschko commented on #6997
@mertsincan thats a theme issue for you

[2021-02-16 16:20] melloware commented on #6997
Yep its broken currently in showcase: https://www.primefaces.org/showcase/ui/misc/progressBar.xhtml

[2021-02-16 18:32] melloware commented on #6995
Polish pl:
[code]

[2021-02-16 20:37] buunsal commented on #6995
tr
[code]

[2021-02-16 21:14] sasynkamil commented on #6995
Czech - cs

[code]

[2021-02-16 21:15] sasynkamil commented on #6932
@melloware sure; I attached to #6995 cs (czech) and I will ask my colleagues for sv and nb.

[2021-02-16 21:28] melloware commented on #6932
Excellent thank you!

[2021-02-16 21:41] stolp commented on #6995
German:
[code]

[2021-02-17 08:41] stefan-dan commented on #6995
Romanian ro:
[code]

[2021-02-17 08:45] prusinskaite commented on #6995
ru
[code]

[2021-02-17 09:19] mauromol commented on #6995
As invided by @melloware in https://github.com/primefaces/primefaces/issues/4238#issuecomment-778647170, I edited https://github.com/primefaces/primefaces/wiki/Locales directly. Please let me know if you need further help from me on this front.

Here are my doubts given that I don't know (or can't remember) the context:

Server localization:
- primefaces.datatable.SORT_LABEL: translation depends o

[2021-02-17 12:38] melloware commented on #6995
@mauromol @stefan-dan You rock thank you so much!

Georgian ka:
[code]

[2021-02-17 12:43] melloware commented on #6995
Client side JS messages PR if anyone would like to review their client side locale as well: https://github.com/primefaces/primefaces/pull/6984

[2021-02-17 12:44] tsotzolas commented on #6995
Yes of course!!!
I will do it!

[2021-02-17 13:33] tsotzolas commented on #6995
Greek - el
[code]

[2021-02-17 13:50] claudioweiler commented on #5920
Hi @melloware!

Sorry, I don't understand what should be done.

I edited https://github.com/primefaces/primefaces/wiki/Locales, that already has an `pt_BR` translation snippet, but has an minor typo. Also edited `en` snippet, that was outdated, to be equals to https://github.com/primefaces/primefaces/blob/master/src/main/resources/org/primefaces/Messages_en.properties.

Should I just add an commen

[2021-02-17 13:57] rosvit commented on #6995
Slovak - sk

[code]

[2021-02-17 14:09] melloware commented on #5920
No just add a comment to the #6995 that you have reviewed the pt_BR on the Wiki! Thanks!

[2021-02-17 17:23] Rapster commented on #6995
fr (in progress)

[code]

[2021-02-18 07:43] tuerker opened #6999 "Password: attribute styleClass ignored"
There must be very recently a change in the p:password component. It now ignores the styleClass attribute.

[code]

produces

`<input id="loginForm:loginPassword" name="loginForm:loginPassword" type="password" class="ui-password ui-inputfield ui-widget ui-state-default ui-corner-all ui-state-filled" autocomplete="on" aria-disabled="false">`

[2021-02-18 08:26] nokiajavi commented on #6995
Spanish - es

[code]

[2021-02-18 08:26] buunsal opened #7000 "Toolbar: Styles are not responsive"

[2021-02-18 08:37] #7000 closed, assigned to buunsal

[2021-02-18 09:38] Rapster commented on #7000
Why remove separator support?

[2021-02-18 10:56] buunsal commented on #7000
Because the seperator component was deprecated, it had to be replaced with the divider or removed. What is your opinion on this issue? Do you think the separator should remain or be replaced with the divider component? You can also take a look at the current showcase github for use without a seperator.

[2021-02-18 10:59] Rapster commented on #7000
We usually deprecate first and then remove support on the next release.

[2021-02-18 11:05] claudioweiler commented on #6995
Brazilian Portuguese: pt_BR

https://github.com/primefaces/primefaces/wiki/Locales#brazilian-portuguese-messages_pt_brproperties reviewed

[2021-02-18 11:28] jepsar commented on #6995
@claudioweiler Thanks! Any chance you can provide the `pt` version as well?

[2021-02-18 11:42] claudioweiler commented on #6995
Sorry @jepsar, there are subtle differences between `pt` and `pt_BR` that I am not aware of.

In absence of a contribution, I think that this translation can be used, until someone correct it, with relative confidence.

[2021-02-18 11:46] jepsar opened #7002 "Documentation: deprecate locales wiki and redirect to documentation"
.. as done with the migration guide.

https://github.com/primefaces/primefaces/wiki/Locales

https://primefaces.github.io/primefaces/10_0_0/#/core/localization

See also

https://github.com/primefaces/primefaces/issues/6982

https://github.com/primefaces/primefaces/issues/6995

From the documentation we could link to the locale file folder(s) in the source tree instead of embedding them all.

[2021-02-18 12:00] melloware commented on #7000
@sqores did you try Toolbar with `<p:divider layout="vertical" />` I know I fixed it for MenuBar with this PR: https://github.com/primefaces/primefaces/pull/6992

[2021-02-18 12:05] #6999 closed, assigned to melloware

[2021-02-18 14:04] fanste opened #7004 "DatePicker: JS-Error in destroy and refresh"
**Describe the defect**
When the DatePicker widget should be removed during `PrimeFaces.ajax.Response.destroyDetachedWidgets` it will throw a JS error because of an illegal usage of a utililty method.

![grafik](https://user-images.githubusercontent.com/3531183/108367960-37fca900-71fa-11eb-92c8-852b688cc6d5.png)

[code]

In both cases `this.cfg.appendTo` is a string - per default `@(body)`. But bo

[2021-02-18 14:17] newk5 commented on #6995
I can confirm this version works for pt_PT aswell.

[2021-02-18 14:19] tandraschko commented on #7004
@melloware you introduced core.utils.js #resolveAppendTo.
for me the method is quite weird. what is panel? the overlay?

[2021-02-18 14:19] melloware commented on #7004
Looking...

[2021-02-18 14:21] tandraschko commented on #7004
I think we should pass it as param and add a good doc for it.

[2021-02-18 14:23] melloware commented on #7004
yep on it. I am looking at that commit and most of the components have a "panel" but we should pass it in.  working on it now.

[2021-02-18 14:25] fanste opened #7005 "Resuse already resolved FacesContext"
**Describe the defect**

Not really a defect, but a minor improvement.

While debugging through the PF code I found a place where the FacesContext is resolved using `getFacesContext()` while it is already available as a method parameter. A search revealed 3 places where this is the case.

https://github.com/primefaces/primefaces/blob/afc689c39b6ae3675cd7455f65a081737a3a3334/src/main/java/org/prime

[2021-02-18 14:26] tandraschko commented on #7005
PR would be great

[2021-02-18 14:37] tandraschko commented on #7005
same here e.g. https://github.com/primefaces/primefaces/blob/afc689c39b6ae3675cd7455f65a081737a3a3334/src/main/java/org/primefaces/component/api/UITabPanel.java#L637

[2021-02-18 14:41] melloware commented on #7004
OK please review my PR.  Refactored appendTo to take Panel in and in 1-datepicker.js used the same `resolveDynamicOverlay` method as used in the core widget.

[2021-02-18 14:41] #7004 closed, assigned to tandraschko

[2021-02-18 14:50] fanste commented on #7004
Thanks for the quick fix. But there seems to be one error:
[code]

`widget` == `this`? Because `widget` is undefined.

[2021-02-18 14:52] tandraschko commented on #7004
already fixed it. can you try again?

[2021-02-18 14:57] tandraschko commented on #7004
@melloware overlaypanel.js #setupDialogSupport - isnt that exactly your #resolveAppendTo method?

[2021-02-18 15:00] melloware commented on #7004
Yep!  Looks like I never found that one when I did the original refactoring of all this boilerplate.  You fixing it?

[2021-02-18 15:03] tandraschko commented on #7004
would be great if you can do that in another ticket and do the tests:
+ only 1 DOM overlay left after update
+ all DOM overlay removed on widget destroy

both with custom appendTo (like @form) and default.
Thats really a tricky place an everything must work.

also see colorpicker (may a bit different, no appendTo config support, we may refactor this even in another ticket)

[2021-02-18 15:09] #7005 closed, assigned to melloware

[2021-02-18 15:12] fanste commented on #7004
Now it is working. Thanks

[2021-02-18 15:25] gako opened #7008 "DataScroller with SelectBooleanCheckbox: Initial checked value is overwritten for loaded chunks during first decode"
**Describe the defect**
If I create a datascroller with a list of items, that have a boolean value that is initially true and bound to a p:selectBooleanCheckbox within the datascroller, the checkbox is checked for entries that are initially dispayed (ok) but for additionally loaded elements due to scrolling the checkbox is not checked anymore.

**Reproducer**
[primefaces-test.zip](https://github.c

[2021-02-18 15:36] melloware opened #7009 "Overlay/ColorPicker: Refactor setupDialogSupport"
**Description**
Refactor overlaypanel.js #setupDialogSupport to use `Primefaces.core.utils.resolveAppendTo`

only 1 DOM overlay left after update
all DOM overlay removed on widget destroy
both with custom appendTo (like @Form) and default.
That is really a tricky place an everything must work.

also see ColorPicker (may a bit different, no appendTo config support, we may refactor this even in anot

[2021-02-18 15:36] melloware commented on #7004
New ticket created: https://github.com/primefaces/primefaces/issues/7009

And you are right ColorPicker does look similar but slightly different. Have to look at that one more.

[2021-02-18 15:39] melloware commented on #7008
Good debugging. Thanks for the reproducer also!

[2021-02-18 15:41] melloware commented on #7008
We actually have this same method in 3 components.
[code]

- [ ] InputSwitch
- [ ] SelectBooleanCheckBox
- [ ] ToggleSwitch

So all 3 of these components I am guessing would have this exact same issue.

[2021-02-18 15:43] gako commented on #7008
I working on a fix, to skip the update phases for newly loaded children in these load reqeust, but not sure whether I'm on the right track, we will see...

[2021-02-18 15:44] melloware commented on #7008
Cool and whatever fix you come up with you should apply in your PR to all 3 of the above components.

[2021-02-18 16:50] gako commented on #7008
still struggeling with github PRs  ;-) but there should be one now at
https://github.com/primefaces/primefaces/pull/7010

[2021-02-18 16:51] ubau commented on #6995
lv
[code]

[2021-02-18 19:55] melloware commented on #6982
Added showcase Locale selector so anyone can see and test our locales.

![image](https://user-images.githubusercontent.com/4399574/108413654-45fdfa00-71f9-11eb-825d-de8e0e0be8fb.png)

[2021-02-18 22:29] melloware commented on #6995
As a note I updated Hebrew is actually "iw" not "he" and Georgian is "ka" not "ge".

https://www.localeplanet.com/icu/ka/index.html

[2021-02-18 23:32] willbigas opened #7011 "FloatLabel: Add support for SelectOneMenu,AutoComplete,DatePicker"
**Description**

Could we have floatlabel in SelectOneMenu, AutoComplete, DatePicker like we have in PrimeReact, today I do some css workarounds to have something like that, it would be very interesting to have this in primefaces for jsf.
https://primefaces.org/primereact/showcase/#/floatlabel

**Describe the solution you would like**
Using the same strategy that we have in traditional inputs, hav

[2021-02-19 11:27] buunsal opened #7012 "Slider: min max range styles missing"
![image](https://user-images.githubusercontent.com/45278820/108498702-4e6c3880-72be-11eb-9efd-1982487a2d90.png)
Jquery UI Slider have 4 range mode and we are supporting only 2 of them. Also I think we need "min" range by default.

[2021-02-19 12:19] melloware commented on #7011
I can look and see how PrimeReact is doing it and maybe modify ours.  Our current float label was based on PrimeReact.

[2021-02-19 14:30] buunsal commented on #6997
closed with https://github.com/primefaces/primefaces/commit/cf8b7d67b1b52dfeca8f46bc274b2212fce4b5f5

[2021-02-19 14:30] #6997 closed, assigned to mertsincan

[2021-02-19 14:32] melloware commented on #7011
I think this one is for @mertsincan as looking at PrimeReact they do some CSS in the core and the rest in themes.

[2021-02-20 16:51] melloware opened #7015 "Core: getUnproxiedClass support Quarkrus/Hibernate"
**Description**
Our code `LangUtils.getUnproxiedClass(class)` is returning the incorrect class for Quarkus.

Quarkus proxies end with `_ClientProxy` so for example:

[code]

[2021-02-20 19:28] tuerker commented on #7015
@melloware: what about hibernate proxy which was formerly $$

    private static final String HIBERNATE_PROXY = "$HibernateProxy$";

[2021-02-20 19:44] melloware commented on #7015
Is that new?  Meaning did hibernate just change that?

[2021-02-20 19:46] gako opened #7018 "TreeTable: Add Support for new DataExporter"
**Description**
At the moment only Datatable is implemented with the _new_ DataExporter Implementation

**Describe the solution you would like**
Also support exporting TreeTables with the new generic DataExporter

See PR for possible Solution, atm its more or less a 1:1 copy of the DataTable Exporter with adjustments for the TreeTable node iteration.
Maybe some common functionality could be merged

[2021-02-20 19:50] melloware commented on #7018
Nice. I think when we broke these out the idea was each component implement its own exporters so I am ok with the copying.  You are right if we refactor too much we don't want to lose the independence.

[2021-02-20 19:57] gako opened #7020 "TriStateCheckbox: Escape Attribute is missing"
**Description**
To allow html in the tristatecheckbox's label the escape attribute would be needed similiar to SelectCheckboxButton

**Describe the solution you would like**
Added attribute and 'escape' and handling in renderer

See Pull Request #7019

[2021-02-20 20:15] gako opened #7022 "ColumnToggler: Additional Event "close" if toggler popup is closed again"
**Description**
At the moment there only exists an ajax event if a single column is toggled. If a customer toggles multiple columns multiple events are fired and a lot of ajax calls updates are fired.
If you are only interested in the final selection of a column toggeling listening to the new close event of the column toggler is more efficient because this way only a single ajax call is fored once

[2021-02-20 20:46] tuerker commented on #7015
I think more than 2 years ago. From our git i see that we changed it in May 2018.

[2021-02-20 20:51] tuerker commented on #7015
i would revise it as follows to run also with older hibernate versions:

`(name.contains("$$") || name.contains("$HibernateProxy$") || name.contains("_ClientProxy"))`

[2021-02-21 03:12] melloware commented on #7015
@tandraschko what do you think?

[2021-02-21 07:25] tandraschko commented on #7015
Yep, why not

[2021-02-21 13:09] melloware commented on #7015
I also submitted a PR at DeltaSpike: https://github.com/apache/deltaspike/pull/116

[2021-02-21 13:15] #7015 closed, assigned to melloware

[2021-02-21 20:50] tuerker opened #7025 "DataTable Paginator: use standard layout for selectOneMenu created for rowsPerPageTemplate"
The selectOneMenu created for rowsPerPageTemplate looks as follows:

![Screenshot from 2021-02-21 21-45-38](https://user-images.githubusercontent.com/10051373/108638253-9fcb2200-748e-11eb-96ad-6462914076f0.png)

However, it should look consistently with the other selectOneMenus:

![Screenshot from 2021-02-21 21-45-11](https://user-images.githubusercontent.com/10051373/108638286-c0937780-748e-11eb-

[2021-02-21 21:28] melloware commented on #7025
Duplicate of #2270

[2021-02-21 21:29] #7025 closed, assigned to nobody

[2021-02-21 21:31] tuerker commented on #7025
@melloware: it did not get the point. it does not look good, it should be really fixed.

[2021-02-21 21:31] tuerker commented on #7025
is there a reason why not do that?

[2021-02-21 21:35] melloware commented on #7025
That ticket #2270 is still open so I closed this as a duplicate.  The other ticket still being open means someone is free to work on it and provide a PR.

[2021-02-21 21:37] tuerker commented on #7025
ok. i thought it might be a quick issue for the experts.

[2021-02-21 21:57] melloware commented on #7025
Unfortunately it's not a quick or easy fix or I would definitely do it.

[2021-02-21 22:01] tuerker commented on #7025
Thanks for the explanation and all your great work.

[2021-02-22 00:10] felixoi opened #7026 "Datatable: SelectOneMenu has wrong value after filtering"
**Describe the defect**
After filtering in a datatable with a SelectOneMenu in a column the value of the SelectOneMenu gets a wrong value. It seems like the selection is still the value from the entry which was in the row before the filtering.

**Reproducer**
https://github.com/felixoi/primefaces-test

**Environment:**
 - PF Version: 10.0.0-RC1
 - JSF + version: Mojarra 2.2.8
 - Affected browsers:

[2021-02-22 07:07] #7012 closed, assigned to buunsal

[2021-02-22 07:56] mertsincan opened #7027 "The selectionMode attribute doesn't work correctly with null or empty value on DataTable"
Improve resolveSelectionMode method on DataTable

[2021-02-22 07:57] #7027 closed, assigned to mertsincan

[2021-02-22 08:34] #5014 closed, assigned to fanste, mertsincan

[2021-02-22 09:07] #7008 closed, assigned to gako

[2021-02-22 09:36] Rapster commented on #7026
I can see it works fine in 8.0 but not in the current build

[2021-02-22 09:36] torbenw commented on #7026
We have the same problem with PF 10.0.0-RC1. When debugging you can see that the setter for the property is called in the backend, so it's not just a frontend problem.

[2021-02-22 12:31] melloware commented on #7026
This is ringing a bell. I think we fixed a similar issue for 10RC1 that was the SelectOne not having the right values after filtering. I am trying to find the ticket.

[2021-02-22 14:16] melloware commented on #5782
@NRanjbaran What RTL language are you using? We are looking for translators for RTL languages: See this WIKI: https://github.com/primefaces/primefaces/wiki/Locales

We want to add these files to the core of PF.

[2021-02-22 14:29] rho66 opened #7028 "DataTable: Using an inputtextarea in a celleditor - no line break / no new line possible"
**Describe the defect**
It is not possible to enter multiple lines into an inputtextarea within a celleditor, because every keypress on ENTER will close the input-mode and submits the form.

**Reproducer**
Run attached clone of https://github.com/primefaces/primefaces-test.git with following command:

mvn clean jetty:run -Pmojarra23

**Environment:**
 - PF Version: 10.0
 - JSF + version:  Mojarra

[2021-02-22 14:31] melloware commented on #7028
I think I know how to fix this.  Thanks for the reproducer!

[2021-02-22 14:32] stolp commented on #7028
@melloware: You might want to have a look at https://forum.primefaces.org/viewtopic.php?f=3&t=59362

[2021-02-22 14:32] melloware commented on #7026
This is the issue I was referring to but it turned out to be a Mojarra only issue: https://github.com/primefaces/primefaces/issues/6427

[2021-02-22 14:36] rho66 commented on #7028
@stolp: this does not worked for me

[2021-02-22 14:38] Rapster commented on #7026
Yeah but it's working in 8.0... :(

[2021-02-22 14:40] melloware commented on #7026
Yep so probably not the same issue. It just sounded familiar.

[2021-02-22 14:43] Rapster commented on #7026
Or, my last clue is that something changed in UIData between 8.0 and 10.0

[2021-02-22 15:09] tandraschko opened #7029 "LinkButton: broken with custom markup"
works
[code]

works not:
[code]

[2021-02-22 15:09] tandraschko commented on #7029
anyone interessted in fixing it?

[2021-02-22 15:10] melloware commented on #7028
It was broken in both row editing and cell editing. That post was only trying to fix cell editing.  I have fixed both scenarios with my PR.

[2021-02-22 15:12] melloware commented on #7029
I can look.

[2021-02-22 15:33] stolp commented on #6803
This issue is not yet on the list of issues for the 10.0 milestone. Is there any chance that a fix will be part of PrimeFaces 10?

[2021-02-22 16:00] tandraschko commented on #6803
Yeah, work on a proposal and PR 😜

[2021-02-22 18:35] rho66 commented on #7028
@melloware Thank you, for the quick fix! I'll try to apply this to PF 8.0 also!

[2021-02-23 01:39] delisyd commented on #1152
Hi there,
One quick question.
Do you know if Primefaces v5.1 is vulnerable? I have a customer who is running that version.
All the information that I see was about 5.2.x
@cagataycivici

[2021-02-23 01:55] melloware commented on #1152
Yes 5.1 is vulnerable I would move to 6.0 or higher immediately. Bitcoin miner malware was exploiting this defect.

[2021-02-23 11:26] felixoi commented on #7026
Seems like we need to sadly move down to 8.0 again, as our software heavily depends on datatables 😞

[2021-02-23 11:27] Rapster commented on #7026
Did you try with a `h:selectOneMenu` ?

[2021-02-23 11:29] felixoi commented on #7026
Yes, I'm getting the same result @Rapster.

[2021-02-23 11:30] Rapster commented on #7026
Did you try to debug and see why current behavior happens?

[2021-02-23 11:35] felixoi commented on #7026
I only did the debugging as far as @torbenw. The setter is called with the wrong value when filtering. Any tips what to debug further (never did any primefaces internal debugging)? @Rapster

[2021-02-23 12:38] rho66 commented on #7028
Got it also running with PF 8.0 ;-)

[2021-02-23 12:51] melloware commented on #7028
Nice work @rho66 !

[2021-02-23 12:57] #7029 closed, assigned to melloware

[2021-02-24 10:22] rcroonenberghs opened #7032 "Slider: Manual input number via AZERTY SHIFT does not work"
**Describe the defect**
When using an AZERTY lay out keyboard it is necessary to press < SHIFT > + a number to enter a number. When doing this in regular inputfields this works. But when doing this in an inputfield related to a slider, it does nothing. The entry is not catched. When entering numbers via the numeric pad it works. When using a QWERTY lay out, you don't need the shift key and that al

[2021-02-24 11:31] Tammo0987 commented on #7026
I have the same issue, the fix is also urgent for me.

[2021-02-24 12:42] tandraschko commented on #7026
Can you try to revert PF UIData changes and try fo find a breaking commit?

[2021-02-24 12:46] #7020 closed, assigned to gako

[2021-02-24 12:51] #6982 closed, assigned to melloware

[2021-02-24 13:03] #6995 closed, assigned to melloware

[2021-02-24 13:31] felixoi commented on #7026
Last working is 9b5c7a23d0f717b524ab669166dba8265315ab38 and first broken is f6e3969e1c8cbedeec945c6bd9f3546152fb2b34 @tandraschko

[2021-02-24 13:40] tandraschko commented on #7026
can you try to revert some stuff and provide a PR?
maybe a naming issue ( columns vs uicolumns)? Otherwise i dont see anything releated

[2021-02-24 13:49] felixoi commented on #7026
Theoretically, it can also be any other commit between these both which do not affect UIData. Only checked the commits which had changes in UIData

[2021-02-24 13:52] Rapster commented on #7026
I see, so maybe in DataTable post https://github.com/primefaces/primefaces/commit/9b5c7a23d0f717b524ab669166dba8265315ab38

[2021-02-24 14:00] felixoi commented on #7026
@Rapster as I said, 9b5c7a23d0f717b524ab669166dba8265315ab38 is working.

[2021-02-24 14:06] Rapster commented on #7026
Yup that's what I'm saying 😉

[2021-02-24 14:30] melloware commented on #7032
In slider.js this is done on purpose right now with this block
[code]

[2021-02-24 14:33] felixoi commented on #7026
@Rapster sorry, i missread your message :) I acutally found the commit, it's 6ce1163c107f3445962620ecb14075cffc23d63a

[2021-02-24 14:33] melloware commented on #7032
Because on a normal keyboard QWERTY SHIFT+1 is actually `!` and we don't want special characters added into the input only numbers and decimal and comma.

[2021-02-24 14:36] melloware commented on #7032
Here is the whole block if you want to investigate how we can fix it on both QWERTY and AZERTY.
[code]

[2021-02-24 14:40] Rapster commented on #7026
Cool, I'll try to have a look as soon as I can

[2021-02-24 15:16] Rapster commented on #7026
You can have a try with PR https://github.com/primefaces/primefaces/pull/7033 (you can either fork or download source from my branch https://github.com/Rapster/primefaces/tree/fix-7026)

[2021-02-24 15:50] stevendegroote commented on #7032
Needless to say, the code is pretty bad, as a whole lot of special chars can be typed into that field with an Azerty keyboard (including @ , # , & etc)

Might I suggest to checkout the below logic, like I do in several places to enforce numeric-only input?

    $('.some-integer-field-class').on('keypress', function (e) {
    	if (e.which < 32) return true; // Control chars (charcode)
        if (d

[2021-02-24 16:00] melloware commented on #7032
I agree the current code is bad.  Yours looks much better but i noticed you are using "keypress" which is not supported in Android. Did you mean keydown?

[2021-02-24 16:04] melloware commented on #7032
Also yours doesn't handle #6319 `Allow enter of "-" in associated input if minValue is less then 0`

[2021-02-24 16:09] stevendegroote commented on #7032
The minus is supported. Please check the regex carefully ;)
But those are details, I've just given an example.

I confirm I'm using keypress, which I see is not favoured anymore. But perhaps the regex logic can be used via keydown or keyup too.

[2021-02-24 16:11] stevendegroote commented on #7032
Also, according to MDN, keypress is (still) supported on all listed browsers on Android.

[2021-02-24 16:12] melloware commented on #7032
OK so yeah the reason this is so complex is there are some use cases you are missing.
1. #6319 Only allow Negative sign if the slider setting `minValue < 0` basically don't allow a negative if the slider is expected to only be positive.  Yours does not handle that and allows negative always.
2. #5579: Does yours prevent someone from entering two decimals like "55.66.77"? Or two negative signs "--1

[2021-02-24 16:23] melloware commented on #7032
Actually it even looks like the current version allows multiple "." its only prevented in Spinner.

[2021-02-24 16:37] stevendegroote commented on #7032
Ok so considering keypress is no longer recommended according to MDN, then use input:

    $('.int-input').on('input', function(e) {
      var start = this.selectionStart,
        end = this.selectionEnd;
      $(this).val($(this).val().replace(/[^0-9\.-]/g, ''));
      this.setSelectionRange(start, end);
    });

I put this together in 5mins, so only tested on Azerty ;)
And yes, Ctrl+C and Ctrl+V

[2021-02-24 17:04] melloware commented on #7032
I am working on something from your example that handles all the scenarios (I hope).

[2021-02-24 17:09] melloware commented on #7032
Can you guys try this one on AZERTY?  It works for QWERTY and I am trying to remain using `keydown`.
It also...
- prevents duplicate negative sign
- prevents duplicate decimal separator
- only allow negative sign if min < 0

https://jsfiddle.net/Lbrkp6c5/

[2021-02-24 17:13] rcroonenberghs commented on #7032
This does not work. I can enter with shift, but I can't with the numeric pad anymore. And I can enter non numeric character like "'(§
![image](https://user-images.githubusercontent.com/8414821/109038398-f96c6000-76cb-11eb-8f1c-0dd2e59055f8.png)

[2021-02-24 17:42] melloware commented on #7032
@rcroonenberghs can you try this version: https://jsfiddle.net/Lbrkp6c5/1/

[2021-02-24 18:05] rcroonenberghs commented on #7032
This seems to be working.
Only thing I can't put in is a comma. Depending on locale, a comma can be used as decimal point. Not sure on how to support that and if that is necessary.

[2021-02-24 18:08] melloware commented on #7032
Yep in that fiddle just change the following and click Run:
[code]

Now you should be able to enter comma not dot and not allowed to enter a negative sign.

[2021-02-24 18:09] stevendegroote commented on #7032
Works fine. I tested with the comma as decimal separator, and that works too.
Tested on PC in firefox and brave.

Side note: don't we need to allow thousand separators? Or was that not supported before either?

[2021-02-24 18:13] melloware commented on #7032
i don't think that was supported before only a decimal sep.  Since the slider only cares about a real number?  Ok I will submit this as a PR.  Thanks for reporting and testing everyone!
If you need this right now just add this to your project..

[code]

[2021-02-24 18:28] melloware commented on #7032
Hang on need to fix that script. decimalStep is just a boolean `this.decimalStep = !(this.cfg.step % 1 === 0);`

[2021-02-24 18:55] melloware commented on #7032
OK I updated the script above.  Unfortunatey right now '.' is the only decimal character that will work as ',' is not respected as a decimal character and would take some rework of this component etc.  But for not it solves this AZERTY issue.

[2021-02-24 19:23] melloware commented on #7032
Also this website is amazing for debugging JavaScript key event issues: https://w3c.github.io/uievents/tools/key-event-viewer.html

[2021-02-24 19:24] FernandoGiovanellaDias opened #7036 "TreeTable: "setPartialSelected=true", TreeNode checkbox does not change"
**Describe the defect**

In a "TreeNode" of an <p: treeTable> attribute, the "setPartialSelected (true)" does not change the checkBox to partially selected.

**Environment:**
 - PF Version: _8.0_
 - java version "1.8.0_211"
 - Affected browsers:  Chrome

**To Reproduce**

1 - to create a TreeTable, use a List< Deck>
2 - for each item in this list, I create a TreeNode with the root Node and the obj

[2021-02-25 10:09] #7026 closed, assigned to Rapster

[2021-02-25 13:58] stefanrosca commented on #6943
Fixed the problem by passing an empty groups array in the timeline renderer.

[code]

[2021-02-25 14:16] melloware commented on #6943
Thank you!  Let me try this out...

[2021-02-25 15:11] melloware commented on #7002
This is complete! Wiki Deprecated with instructions on what to do if you have a new language or a change to be made.  Localization.md has been updated with links to the source tree.

[2021-02-25 15:11] #7002 closed, assigned to melloware

[2021-02-25 19:21] leosj29 opened #7038 "DataTable: Slow header loading in reflow mode"
**Describe the defect**
In a "Datatable" with the attribute reflow = "true" and in Responsive mode, the column headers are displayed lag behind the content.

**Reproducer**
Go to Showcase http://primefaces.org/showcase/ui/data/datatable/responsive.xhtml.

**Environment:**
- PF Version: 8 and 10.0
- java version "1.8.0_265"
- Affected browsers: All

**Example**

![prime](https://user-images.githubu

[2021-02-25 19:42] melloware commented on #6995
@pionas do you mind reviewing he client side version as well for PL?  Its out of date I think.

Here: https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/locales/locale-pl.js

The full version of English is here: https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/locales/locale-en.js

it should hav

[2021-02-25 20:30] melloware commented on #7038
I am not having that issue. Could it be that Chrome is trying to bring up the "Ingles v Espanol" translate bar?

[2021-02-25 21:25] melloware commented on #7038
Does the same happen in Firefox or Edge or any other browser?

[2021-02-25 23:29] felixoi commented on #7026
Reopening as this is not fully fixed. I've updated my reproducer accordingly.

New steps to reproduce:
- Filter by name 'Test 5'
- Filter by type 'Three'
-> All SelectOneMenu values are set to null

[2021-02-25 23:56] Rapster commented on #7026
Since there is only one result, how do you end up having all select components values to null? Can't reproduce so far

[2021-02-26 00:53] felixoi commented on #7026
Actually i don't know if my steps to reproduce are/were correct. I even get this if i search for 'Test 6' which has no results and then removing the filtering again.

[2021-02-26 00:55] melloware commented on #7026
Make sure to try with -Pmyfaces23 profile there was a similar bug reported like this before and it was a mojarra issue it worked fine in MyFaces.

[2021-02-26 00:59] felixoi commented on #7026
@melloware Seems like you are correct. Both works for myfaces..

[2021-02-26 01:03] Rapster commented on #7026
Reproduced indeed with Test 6, but the bug is also here in 8.0. At this point, we can blame Mojarra :p

[2021-02-26 01:41] melloware commented on #7026
Yep another user I think in the ticket I posted higher up in this thread reported the same thing and We realized it was a mojarra. Myfaces rocks.

[2021-02-26 03:24] leosj29 commented on #7038
Yes, in firefox too.

[2021-02-26 03:28] leosj29 commented on #7038
The translator appears because I use my mobile. But in Chrome and Firefox on desktop in responsive mode it also happens.

[2021-02-26 07:46] tandraschko commented on #7038
Maybe to wide Ajax Update in the Showcase?

[2021-02-26 08:57] buunsal opened #7040 "Datepicker: views one more redundant week"
![image](https://user-images.githubusercontent.com/45278820/109278450-9abcf880-7829-11eb-8500-39b776743a0e.png)

[2021-02-26 09:02] #7040 closed, assigned to buunsal

[2021-02-26 12:04] melloware commented on #7038
Hmmm I don't see any AJAX happening during this while I am resizing back and forth.  Very strange I am on my desktop only and it doesn't happen for me.

[2021-02-26 12:18] tandraschko opened #7042 "ExceptionHandler: allow overwrite of redirectUrl construction"

[2021-02-26 12:22] melloware commented on #6943
Reopening this issue as it has caused two regression tests to fail...
[code]

[2021-02-26 12:33] melloware commented on #6943
@stefanrosca I think your fix needs to go in `DefaultTimelineUpdater` where it tries to dynamically update the group or something like that.  Because this fix actually broke normal non-lazy timelines so I have reverted for now and reopened the ticket.

[2021-02-26 13:19] leosj29 commented on #7038
It only happens when the responsive mode is entered directly, if the datatable is resized this does not happen

[2021-02-26 13:19] stefanrosca commented on #6943
I think the timeline component should have a "groupEvents" attribute to control the behaviour. The current autodetect mechanism does not work for lazy loaded events as it looks for groups in the initial model that is empty at that point

[2021-02-26 13:19] melloware commented on #7040
@sqores we have some Integration Tests failing now I am going to investigate.
[code]

[2021-02-26 13:24] melloware commented on #7038
OK that helps.  let me try that.

[2021-02-26 13:38] melloware commented on #6943
Maybe you could try...
[code]

But we would need to test showcase lazy and non lazy examples all of them to make sure nothing is broken.

[2021-02-26 13:45] stefanrosca commented on #6943
I suggest a fix like this

[code]

[2021-02-26 13:51] melloware commented on #7040
OK its showOtherMonths="true"
[code]

Used to look like this and that is what we were testing for..
![image](https://user-images.githubusercontent.com/4399574/109307771-207f7a80-780f-11eb-8c57-2969ec4ab07c.png)

After your fix its this..
![image](https://user-images.githubusercontent.com/4399574/109308208-b74c3700-780f-11eb-8acc-7e50b700aaa0.png)

So that makes sense but I am wonder if people want

[2021-02-26 13:51] melloware commented on #7040
I say we leave it like this and I will fix my tests.

[2021-02-26 13:56] stefanrosca commented on #6943
This won't work for lazy loaded events that are not grouped

[2021-02-26 13:58] melloware commented on #6943
Yep you are right.  It seems like we would need an extra indicator needed for lazy to let them know groups are being used.

[2021-02-26 14:00] melloware commented on #6943
Actually to use groups do you have to have a group "facet"?  Couldnt the check just include if the group facet is not null we assume you are using groups?

[2021-02-26 14:05] stefanrosca commented on #6943
It works fine without a group facet. I actually had one but deleted it to check if something changes :)

[2021-02-26 14:26] stefanrosca commented on #6943
[code]

This should be fine fost most users but the documentation should mention that facet is required for lazy loaded grouped events

[2021-02-26 15:01] melloware commented on #6943
Let me test this.  This is what I was thinking also...

[2021-02-26 15:04] melloware commented on #7040
Tests fixed and passing!

[2021-02-26 15:07] tuerker opened #7044 "SelectOneMenu: empty value breaks layout"
Whenever the item value of a p:selectOneMenu is empty, layout of the menu changes (shrinks). Example:

[code]

![Screenshot from 2021-02-26 16-06-56](https://user-images.githubusercontent.com/10051373/109317132-acfc5e00-784c-11eb-87a5-e70a973beb80.png)

[2021-02-26 15:16] tandraschko commented on #7044
AFAIR this was already fixed 1-2 weeks ago @melloware ?

[2021-02-26 15:17] buunsal commented on #7040
Because of when showOtherMonths is false datepicker renders even so extra one week with visibility hidden css. And this sitiuation adds extra empty paddings. We never want this case happen. But I guess you already understood why. thanks for fixed the tests

[2021-02-26 15:19] melloware commented on #7044
Mert fixed that in the CSS in the latest snapshot.

[2021-02-26 15:20] tuerker opened #7045 "SelectOneMenu: item value is not printed when there is no label"
p:selectOneMenu delivers empty label when itemLabel is not explicitly defined. Example:

[code]

![Screenshot from 2021-02-26 16-12-49](https://user-images.githubusercontent.com/10051373/109318802-7a536500-784e-11eb-83a9-146cec02231d.png)

p:selectOneMenu in contrast just prints the item value in such a case:

[code]

[2021-02-26 15:21] melloware commented on #7044
Make sure you CTRL+F5 in your browser after you build the latest SNAPSHOT.

[2021-02-26 15:23] tuerker commented on #7044
I did CTRL+F5 and i am running on the latest snapshot. Hope that this is not related to diamond template i am using?

[2021-02-26 15:26] melloware commented on #7044
Oh yep it is.  Mert fixed it in the themes.  SO it will be fixed when your diamond template is updated.

See: https://github.com/primefaces/primefaces/issues/6990

And the fix: https://github.com/primefaces/primefaces/commit/8616a113dcdfb61796ee6030f7e0773a6c3a0015

[2021-02-26 15:27] melloware commented on #7045
Please create a reproducer. I don't understand the issue.

[2021-02-26 15:57] tuerker commented on #7045
here is the reproducer:

[p-selectonemenu.zip](https://github.com/primefaces/primefaces/files/6050810/p-selectonemenu.zip)

[2021-02-26 16:12] tuerker commented on #7044
@melloware after having created a reproducer for https://github.com/primefaces/primefaces/issues/7045, i have also created a reproducer for this one.

the problem is not due to diamond. it is simply still persistent.

see:
[p-selectonemenu-2.zip](https://github.com/primefaces/primefaces/files/6050888/p-selectonemenu-2.zip)

[2021-02-26 16:30] tuerker commented on #6986
@mertsincan i can confirm that this issue does not arise it with Saga, Vela and Arya themes. however, it is definitely an issue with the Diamond template. Our Diamond template is from November 2020. Is there an update of this template? If yes, how we get it?

[2021-02-26 18:25] melloware commented on #7038
OK so its not AJAX but it is JS code.  The table loads and renders then the JS code to make it responsive then fires that is why you see this delay.  The DOM loads then the Datatable JS code then proceeds to make it responsive..

I have a workaround for you if this is definitely bothering you.  Try this: https://stackoverflow.com/questions/9550760/hide-page-until-everything-is-loaded-advanced/2812

[2021-02-26 18:28] christophs78 opened #7048 "DataTable: integration-tests fail since today"
Our integration-tests fails since today due to
`DataTable009Test.testFilterIssue1390:54 expected: <Java,JavaScript> but was: <null>`
see https://github.com/primefaces-extensions/primefaces-integration-tests/runs/1987979513?check_suite_focus=true

Maybe it´s caused by https://github.com/primefaces/primefaces/commit/89972adc0ce27294ec36bf454b153005cc2b753e

@Rapster

[2021-02-26 18:29] melloware commented on #7048
Yep I reported it to him.

[2021-02-26 20:48] christophs78 commented on #7026
We should add a integration-test for this. I´ll look into this. DataTable is such a complex beast.

[2021-02-26 21:59] christophs78 commented on #7048
(Outdated) https://github.com/primefaces-extensions/primefaces-integration-tests/pull/123

[2021-02-27 12:56] #6943 closed, assigned to stefanrosca

[2021-02-27 12:58] melloware commented on #7042
@tandraschko I think you fixed this with your commit?  Safe to close the ticket?

[2021-02-27 13:08] #7042 closed, assigned to tandraschko

[2021-02-27 19:39] christophs78 commented on #7048
https://github.com/primefaces-extensions/primefaces-integration-tests/pull/124

[2021-02-27 20:49] felixoi opened #7049 "DataTable: cellEditInit event not triggered for the first row"
**Describe the defect**
The cellEditInit event is not triggered for the first row in a datatable.

**Reproducer**
https://github.com/felixoi/primefaces-test/tree/report-3

**Environment:**
 - PF Version:  10.0.0-RC1
 - JSF + version: Mojarra 2.2.8 & MyFaces 2.3.6
 - Affected browsers: ALL

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the first row to edit (no console output)
2. Cl

[2021-03-01 08:51] #7032 closed, assigned to melloware

[2021-03-01 10:25] ghost commented on #6730
@melloware there is still a misbehaviour when using paging in conjunction with selectionPageOnly="false", that is reproducible on the showcase page:

1) Go to https://www.primefaces.org/showcase/ui/data/datatable/selection.xhtml?jfwid=1ca56
2) Select the "select all"-checkbox in the Checkbox-table
3) Deselect the first entry
4) Navigate to the second page

--> All entries on the second page are de

[2021-03-01 11:02] tandraschko commented on #7049
@melloware would you like to check it?

[2021-03-01 11:03] #7038 closed, assigned to melloware

[2021-03-01 11:35] halisyilboga opened #7051 "Datatable: Group row can't toggle columns correctly."
**Describe the defect**
Datatable with a column grouprowed can't toggle columns correctly.
**Environment:**
 - PF Version: _8.0_
 - JSF + version: _e.g. Mojarra 2.2.8 or MyFaces 2.3.6_
 - Affected browsers: _e.g. Chrome, iOS, ALL_

**Reproducer**
[https://github.com/halisyilboga/primefaces-test/tree/datatable-grouprow-toggle-report](https://github.com/halisyilboga/primefaces-test/tree/datatable-gr

[2021-03-01 11:51] cagataycivici opened #7052 "Unify checkbox-radio state visuals"
Sync the behaviors (e.g. focus, active, hover) of all checkbox - radio elements with the behaviors from other Prime libraries.

[2021-03-01 11:51] cagataycivici commented on #6834
We need to review all checkbox and radio buttons;

https://github.com/primefaces/primefaces/issues/7052

[2021-03-01 11:51] #6834 closed, assigned to melloware

[2021-03-01 11:54] cagataycivici commented on #6899
Fixed in designer

[2021-03-01 11:58] cagataycivici opened #7053 "Separator styling for Menu"
Add support for separators in menu components

[2021-03-01 11:59] cagataycivici commented on #5126
Tracked at;

https://github.com/primefaces/primefaces/issues/7053

[2021-03-01 11:59] #5126 closed, assigned to nobody

[2021-03-01 11:59] tandraschko commented on #7052
JFYI:
we talked and decided some years ago that there is not only 1 single state on a element and they are combinable (e.g. state-active + state-hover)
so we should not remove .ui-state-active e.g. on hover (https://github.com/primefaces/primefaces/issues/2510)

[2021-03-01 12:00] melloware commented on #6730
@klaffke That is expected behavior. Once you unselect one checkbox we don't know about the rest of your table.  If you want select all behavior you should listen to the RowSelect event and when you see the value is `@all` then you should fill out your Selection in the backend with ALL your values in your collection.  When you unselect we have no choice but to remove `@all` and only select the keys

[2021-03-01 12:00] tandraschko commented on #7052
also https://github.com/primefaces/primefaces/issues/3257

[2021-03-01 12:00] #7028 closed, assigned to melloware

[2021-03-01 12:00] melloware commented on #7049
Yep I will check this one.

[2021-03-01 12:53] #7044 closed, assigned to melloware

[2021-03-01 12:53] #7045 closed, assigned to melloware

[2021-03-01 15:16] melloware commented on #7048
Integration tests passing again!

[2021-03-01 15:16] #7048 closed, assigned to Rapster

[2021-03-01 18:29] Rapster commented on #7048
So I don't get it, what's the expected behavior about the filter event order?

[2021-03-01 19:20] sasynkamil commented on #6995
Swedish - sv

primefaces.calendar.DATE_INVALID_RANGE_MESSAGE_ID = {0}: Valideringsfel: Startdatum är större än slutdatum
primefaces.calendar.INVALID = {0}: Valideringsfel: Ogiltigt värde.
primefaces.calendar.MAX_DATE = {0}: Validation Error: Value must be {2} or before. SE: Värdet måste vara {2} eller tidigare.
primefaces.calendar.MIN_DATE = {0}: Valideringsfel: Värdet måste vara {1} eller senare.

[2021-03-01 19:21] astappiev opened #7054 "What about Maven release for 10.0.0-RC2?"
This would simplify testing, at least for us :)

[2021-03-01 19:22] melloware commented on #7054
Its in Maven Central right now. https://repo.maven.apache.org/maven2/org/primefaces/primefaces/

[2021-03-01 19:22] #7054 closed, assigned to nobody

[2021-03-01 19:32] astappiev commented on #7054
Pretty strange, because I can't download it via Maven, also https://mvnrepository.com/artifact/org.primefaces/primefaces shows only the RC1 build.

Ok, probably we just need to wait for a little

[2021-03-01 19:34] melloware commented on #7054
No need to wait. Those UI's like MVN repository sometimes take hours or days to display but you can use it right now.

https://repo.maven.apache.org/maven2/org/primefaces/primefaces/10.0.0-RC2/

I am already using it.

[2021-03-01 19:36] astappiev commented on #7054
Not really :(

[2021-03-01 19:38] melloware commented on #7054
workfing absolutely fine for me from 3 different machines.
[code]

[2021-03-01 19:38] melloware commented on #7054
Also listed in Maven Search:
https://search.maven.org/artifact/org.primefaces/primefaces/10.0.0-RC2/jar

[2021-03-01 19:43] astappiev commented on #7054
Works on the server, indeed the problem with my system, sorry.

[2021-03-01 19:44] melloware commented on #7054
no worries

[2021-03-01 21:18] melloware commented on #7051
Your reproducer is not runnable?  Please update it so I can reproduce your issue.

[2021-03-01 21:30] halisyilboga commented on #7051
I updated the link. I forgot to past the link sorry.

[2021-03-01 21:33] melloware commented on #7051
I am still seeing your XHTML as empty here: https://github.com/halisyilboga/primefaces-test/blob/datatable-grouprow-toggle-report/src/main/webapp/test.xhtml

So this reproducer does nothing.

[2021-03-01 21:34] melloware commented on #7049
thanks for the reproducer. It was a JS truthiness issue with row=0!

[2021-03-01 22:34] edudoda commented on #6916
Hi guys, I just updated from PF10 to last RC2 and  `<p:graphicImage />`  is not working anymore, when a value content is returned from Bean. Eg: Using a simple method that returns String (path) :
`<p:graphicImage value="#{utilBean.retrieveS3Url(utilBean.user.logo)}" />` now throws: _Property [retrieveS3Url] not found on type [...]_

It was working in PF10.0.0-RC1 and earlier, also it still works w

[2021-03-01 22:47] tuerker commented on #6916
i assume that you need to use the attribute `stream="false"`.

[2021-03-01 22:49] edudoda commented on #6916
Doesn't work as well

[2021-03-01 23:02] tuerker commented on #6916
in my case following works:

`<p:graphicImage  value="#{instrument.image.streamedContent}" stream="false" />`

the value should be DefaultStreamedContent.

[2021-03-01 23:15] edudoda commented on #6916
But I just want to retrieve a simple String as an image path from bean (like: https://s3.amazonaws.com/xpto/1/logo_square.png)

[2021-03-02 01:16] edudoda opened #7057 "DataTable: is not working when resizableColumns="true""
**Describe the defect**
DataTable is not working when resizableColumns="true" in PF10.0.0-RC2
(It was working in PF10.0.0-RC1)

**Reproducer**
Last Showcase show the error.

**Environment:**
PF Version: 10.0.0-RC2
JSF + version: JSF 2.2.19
Affected browsers: Chrome, Safari
Locale var: 'pt_BR'

**To Reproduce**
1. Go to https://www.primefaces.org/showcase/ui/data/datatable/columnResize.xhtml
2.  Ch

[2021-03-02 02:31] edudoda opened #7058 "GraphicImage: throws PropertyNotFoundException"
**Describe the defect**
If a   **value=""** is a string returned by the Bean method, the component <p:GraphicImage />  throws PropertyNotFoundException.

Also tried with  stream="false" and not solve, maybe it is related to [#6916](https://github.com/primefaces/primefaces/issues/6916)

If the same method is inserted in any other component value="",  like <p:outputLabel /> or even the standard JSF

[2021-03-02 07:45] buunsal commented on #7057
Also not working in showcase: https://www.primefaces.org/showcase/ui/data/datatable/columnResize.xhtml?jfwid=2286e
It looks broken with this PR: https://github.com/primefaces/primefaces/pull/6370
I'll try to fix it by just adding missing $this lines

[2021-03-02 08:08] #7058 closed, assigned to tandraschko

[2021-03-02 08:08] #7057 closed, assigned to buunsal

[2021-03-02 08:17] buunsal commented on #6501
Already resolved with this https://github.com/primefaces/primefaces/pull/6370

[2021-03-02 08:17] #6501 closed, assigned to buunsal

[2021-03-02 08:46] tandraschko opened #7060 "DataTable / Paginator: Custom content syntax not JSF spec compatible"
https://primefaces.github.io/primefaces/10_0_0/#/components/datagrid?id=custom-content-in-paginator

This works in Mojarra but not in MyFaces if you have a JSF component inside this custom facet:

[code]

In Mojarra, the generated clientId of the commandLink will be: form:datatable:test
In MyFaces, generated clientId is: form:datatable:__f_{Exporters}:test

And { } is invalide inside a id.

Not su

[2021-03-02 08:57] tandraschko commented on #7060
it seems that Mojarra doesnt add a special id to it, MyFaces does
not sure whats more aligned to specs

not sure whats the best way to fix it

[2021-03-02 08:59] tandraschko opened #7061 "TreeTable: custom TreeNode not cloned correclty when extending DefaultTreeNode or CheckboxTreeNode"

[2021-03-02 09:03] #7061 closed, assigned to tandraschko

[2021-03-02 10:09] tandraschko commented on #7060
see: https://issues.apache.org/jira/projects/MYFACES/issues/MYFACES-4381

[2021-03-02 10:09] #7060 closed, assigned to nobody

[2021-03-02 12:05] #7049 closed, assigned to melloware

[2021-03-02 12:23] halisyilboga commented on #7051
I think I fix it. You can checkit now. Sorry it was my mistake.

[2021-03-02 12:33] melloware commented on #7051
OK confirmed the issue.
[pf-7051.zip](https://github.com/primefaces/primefaces/files/6068574/pf-7051.zip)

I am not sure column toggler was designed to work with group rows.  Did this work in 8.0?

[2021-03-02 13:26] halisyilboga commented on #7051
No it is not working on primefaces 8. If you accept the bug I may work on it.

[2021-03-02 13:42] melloware commented on #7051
I didn't think so.  Going to mark this as enhancement as I don't think it was designed to work with grouped rows.

[2021-03-02 14:05] pizzi80 opened #7062 "Component: p:slider cursor grab like PrimeVue"

[2021-03-02 14:07] Rapster commented on #7062
Please follow the new feature template, or will be closed

[2021-03-02 14:56] pizzi80 opened #7063 "Slider: cursor grab"
**Description**
The cursor style is not 'grab'

**Describe the solution you would like**
The cursor style should be 'grab' like in PrimeVue p-slider

**Additional context**

inside **theme.css** the class  **"body .ui-slider .ui-slider-handle"**
does not define the cursor style

**Example XHTML**
[code]

**Example Bean**
[code]

**Solution**
[code]

[2021-03-02 14:56] #7062 closed, assigned to nobody

[2021-03-02 14:58] melloware commented on #7063
Assigned to @mertsincan since this is a theme issue.

[2021-03-02 15:52] ghost commented on #6803
None of the panels are actually moved.

I tested it with the reproducer. A separate drop event is logged for each panel on which the dragged panel is dropped.

- Drag a panel over another panel -> 1 event is logged
- Drag a panel over two panels -> 2 events are logged, one for each panel
- the same is true for three and four panels

[2021-03-02 16:40] melloware commented on #6803
PR is welcome if it seems like it is tracking drag over every panel its dragged over that seems like the bug.

[2021-03-03 09:56] pizzi80 opened #7065 "Password: feedback width not equals to parent input"
**Describe the defect**

the width of the feedback is not equal to the parent input

**Reproducer**

![Schermata da 2021-03-03 10-40-50](https://user-images.githubusercontent.com/17908214/109786837-e26ac800-7c0d-11eb-8e5d-6f7f35a910ab.png)

**Environment:**
 - PF Version: _10.0_
 - JSF + version:  _2.3_
 - Affected browsers: _Chrome, iOS, ALL_

**To Reproduce**
Steps to reproduce the behavior:
1.

[2021-03-03 11:07] wklaczynski opened #7066 "MenuItem: allow ui-state-active on menu item"
**It is not possible to light the menu when the selection is active**

This would allow the programmer to set a different appearance for a menu item when the target associated with that item is active.

This could be an "active" parameter, which when set to "true" adds the "ui-state-active" style displayed according to the selected "theme".

[code]

from model
[code]

[2021-03-03 11:12] tandraschko commented on #7066
why not just add ui-state-active styleclass?

[2021-03-03 11:31] wklaczynski commented on #7066
Of course, the style could be attributed:
[code]

Unfortunately, such a style does not exist in theme.css. You can add yourself in css, but then choosing a different theme would not update it, it would not look like the theme. But you could add a style like that like "p: tabMenu", for "p: menu", etc ...

Css examle:
[code]

[2021-03-03 12:23] wklaczynski commented on #7066
Actually, the "ui-state-active" style in theme.css can be treated as the style that applies to most components. Do not limit it to a selector of selected components. Because similar problems are in p: tree, etc ... Practically even like "p: label", etc ... developer will set styleClass to "ui-state-active", should deselect according to theme. But the "active" parameter in some would speed up progr

[2021-03-03 12:59] ghost commented on #6803
Update: the tolerance of the droppable was set to "touch" (as in the showcase and the documentation) , therefore each droppable that the draggable was dropped onto was (rightfully) receiving a drop event. Using tolerance="pointer" solves this issue.

**But** I noted that the default value of the tolerance attribute (fit, pointer, touch or intersect) is not documented in https://primefaces.github.i

[2021-03-03 13:32] melloware commented on #6803
@klaffke great detective work.  See my PR I have updated the taglib and the docs.  I will also update the DND DataView showcase example to "pointer".

[2021-03-03 13:34] #6803 closed, assigned to melloware

[2021-03-03 16:29] melloware opened #7068 "jQuery: Upgrade to 3.6.0"
**Description**
3.6.0 Released...
https://blog.jquery.com/2021/03/02/jquery-3-6-0-released/

[2021-03-03 19:03] edudoda commented on #6987
Hi @melloware and @Rapster,
sorry for the long delay, it took me a while to discover what was wrong. I started reproducing all my environment libs and configurations comparing it to the **primefaces-test** code provided and finally found it!

To reproduce the problem, just include this param in **web.xm**l:
[code]

Also, as I noticed if I downgrade to PF 8.0 it works.

[2021-03-03 21:14] melloware commented on #7065
Inline is even more wrong...
![image](https://user-images.githubusercontent.com/4399574/109873248-80c15280-7c3b-11eb-9d3c-d5a15a1b1a13.png)

[2021-03-04 01:08] willbigas commented on #7060
@tandraschko Do you expect to release the version with the correction? 2.3.9 I think

[2021-03-04 06:53] tandraschko commented on #7060
Yeah but not this or next month, we already did a release train in february
You might use Apache snapshot repo: https://repository.apache.org/content/groups/snapshots/org/apache/myfaces/core/myfaces-impl/2.3.9-SNAPSHOT/

[2021-03-04 06:54] tandraschko commented on #7060
It would be great If you can test

[2021-03-04 09:02] tandraschko commented on #7066
i will set it as theme issue, to allow ui-state-* on menu-items
i dont think we should add a java-wrapper-method for this.

[2021-03-04 10:52] jepsar commented on #6273
Should we refactor Ajax downloading into a static utility method? See for example https://stackoverflow.com/questions/66470751/primefaces-streamedcontents-download-by-one-button

This would allow you to download several files triggered by one request.

https://github.com/primefaces/primefaces/blob/8d9e7700e97db2aff288d6d709287fb6a5609ff0/src/main/java/org/primefaces/component/filedownload/FileDown

[2021-03-04 10:57] tandraschko commented on #6273
sure, create a feature request for v11

[2021-03-04 11:46] christophs78 commented on #7048
The ideal solution would be to events. The existing "filter" - event which fires before filter and something like "afterFilter", "postFilter" (or whatever fit´s into our naming-conventions which) fires after filtering.

[2021-03-04 12:12] tandraschko commented on #7048
in general there is only one client-behavior: filter
this p:ajax events are normally "pre" events, so we introduced e.g. PostFilterEvent

i think this is quite good

[2021-03-04 12:16] Rapster commented on #7048
Ok but PostFilterEvent is no client behavior, subscribing to this event shouldn't be any different than filter

[2021-03-04 12:19] tandraschko commented on #7048
yeah but it will
p:ajax is designed for client events, event handling on the server side is actually provided by f:event / #subscribeToEvent

[2021-03-04 12:28] melloware commented on #7065
@tandraschko I think we should assign to @mertsincan .  This is a regression in behavior from 8.0 when Mert added all the new animation and overlay stuff.  So I think this is a broken regression that should be fixed before 10.0.

[2021-03-04 12:32] tandraschko commented on #7065
for me its not a vital bug but please ask him.

[2021-03-04 12:44] melloware commented on #7066
I agree adding a new option doesn't make sense when its just a style change.

[2021-03-04 18:53] edudoda commented on #6968
Thanks, @melloware , RC2 solves the problem with Global Filter in DataTable but for <p:treeTable /> it's not fixed yet, should I open a new issue?

[2021-03-04 19:30] melloware commented on #6968
Yep open a new issue.

[2021-03-04 19:47] edudoda opened #7070 "TreeTable: display an extra line in header when scrollable="true""
**Describe the defect**
 Theme/Layout problem when treetable has scrollable="true".

**Environment:**
PF Version: 10.0.0-RC2
JSF + version: JSF 2.2.19
Affected browsers: Chrome, Safari

**To Reproduce**
1. Insert  **scrollable="true"**  in a **<p:treeTable/>** component
2. When filtered, tree table now displays an extra line in header (including sortIcons) with class="ui-treetable-scrollable-thead

[2021-03-04 19:57] melloware commented on #7070
Datatable CSS:
[code]

TreeTable CSS:
[code]

SO I think the only difference is this needs to change
[code]

[2021-03-04 20:02] edudoda opened #7071 "TreeTable: Global Filter is not working"
**Describe the defect**
Global filter in TreeTable is not working  in PF10.0.0-RC2  (only column filters is working).
The same was happening before with <p:datatable/> was already fixed  and related to   #6968  #6953

**Environment:**
PF Version: 10.0.0-RC2
JSF + version: JSF 2.2.19

**To Reproduce**
1. Include  global filter in a TreeTable component
2. Try to filter,
3. It should work as  it work

[2021-03-05 10:39] Baegger92 opened #7072 "ClassCastException with DefaultMenuItem in MenuModel when set an id programmatically"
Describe the defect
When setting MenuModel for a menubar programmatically and giving an id to an DefaultMenuItem, their is an ClassCastException on clicking the menu items.

Environment:
PF Version: 10.0.0-RC 1+2

Example working:
[code]

Example not working:
[code]

[code]

Exception:
SEVERE [javax.enterprise.resource.webcontainer.jsf.context] (default task-3) java.lang.ClassCastException: org.pr

[2021-03-05 11:55] tandraschko commented on #7071
@Rapster please review
i think we still have a broken "globalFilter" attribute
AFAICS it should set the default value of the "globalFilter" input component
but its called each request, not only in the initial GET
or do i miss something?

[2021-03-05 11:56] #7071 closed, assigned to tandraschko

[2021-03-05 12:03] melloware commented on #7070
Agreed this doesn't look right. Working on a fix...
![image](https://user-images.githubusercontent.com/4399574/110113293-e9661780-7d80-11eb-9711-26ddb4b95078.png)

[2021-03-05 12:07] tandraschko commented on #7072
@melloware something for you?

[2021-03-05 12:11] melloware commented on #7072
Yep looking at this now.

[2021-03-05 12:34] tandraschko commented on #7070
and why does it work here? http://primefaces.org/showcase/ui/data/treetable/scroll.xhtml?jfwid=4099b

[2021-03-05 12:47] melloware commented on #7072
I am getting a different error:
[code]

[2021-03-05 12:50] stolp commented on #7072
I saw a similar error once I did a setId() on the menu item. I think you are not allow to change it.

[2021-03-05 12:53] melloware commented on #7072
Its related to this fix..

https://github.com/primefaces/primefaces/issues/1039

https://github.com/primefaces/primefaces/issues/6367

https://github.com/primefaces/primefaces/issues/6647

[2021-03-05 13:11] melloware commented on #7070
I have a feeling the multisort indicator's are somehow throwing this logic off and making the height 14px when it should be 0px.

[2021-03-05 13:14] melloware commented on #7070
Ahh I see the sort icon does not have ui-helper-hidden while everything else does.  Let me look why that is.

[2021-03-05 13:22] Baegger92 commented on #7072
Ok crazy, i tried it again with my posted example on RC-2 and got the ClassCastException again...

[2021-03-05 13:23] Baegger92 commented on #7072
Now found it out. If you clicked on the MenuItem with the id, you got a NumberFormatException. Clicking in the Submenu on the other MenuItem (Submenu Default Item), you get the ClassCastException.

[2021-03-05 13:23] melloware commented on #7070
I have the right fix.  The theme's icon CSS was more specific and setting display back to `inline-block`
![image](https://user-images.githubusercontent.com/4399574/110121134-0227fa80-7d8c-11eb-8914-d4541bdd5aa5.png)

The right fix is to make our components.css style more specific...
[code]

[2021-03-05 13:27] melloware commented on #7072
Here is my runnable reproducer:
[pf-7072.zip](https://github.com/primefaces/primefaces/files/6090714/pf-7072.zip)

You can run with `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

Can you tweak my example so I get your ClassCastException.    So then I can test my fix.

[2021-03-05 13:54] cadubad opened #7075 "Overlays: On mobile not working"
I'm using a Samsung Galaxy S10, and when a click at https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml -> Advanced, the select items list closes unexpectedly.

[2021-03-05 13:55] melloware commented on #7072
OK I am not sure HOW this working in 8.0 other than it ignored your ID "default".  Because MenuBar all menu's get coordinates like "0_0" or "1_2" where the first number is the Submenu and the 2nd number is the menu item under that submenu.  Yours is failing because now it says "default" which can't find the coordinates of the menu item.

I suggest removing the ID and letting the MenuBar generate i

[2021-03-05 14:18] Baegger92 commented on #7072
Correct. That solved it. Wasn't clear to me, that i shouldn't use that in combination and it was only luck that it worked for me in PF 8.

[2021-03-05 14:18] cadubad opened #7076 "SelectOneMenu: ItemLabel "" causes min heigth"
**Describe the defect**
When I put itemLabel empty, it causes the height of the component to be too small

**Environment:**
PF Version: 10.0.0-RC2
JSF + version: jsf-impl-2.3.9.SP04
Affected browsers: Chrome

**To Reproduce**
Steps to reproduce the behavior:

1 - insert an empty itemLabel on any p:selectOneMenu
2 - When executed, even with other items in the list, the height is almost zero

[code]

[2021-03-05 14:21] melloware commented on #7075
I only have an iPhone to test on and it works fine. Sorry I don't have an Android to test with!

[2021-03-05 14:22] melloware commented on #7076
Duplicate of https://github.com/primefaces/primefaces/issues/7044 fixed for 10.0.0 Final.

[2021-03-05 14:22] #7076 closed, assigned to nobody

[2021-03-05 14:23] melloware commented on #7072
Yep the new part for setting ID's in menu items is for other types of menus.  @tandraschko I wonder if we should defend against this in MenuBar and throw a better FacesException?

[2021-03-05 14:26] cadubad commented on #7076
Thanks!

[2021-03-05 14:37] cadubad commented on #7075
It happened at the showcase with Android.

In my application it happens with Android and Iphone too

I put the bug on YT so you can check

https://www.youtube.com/watch?v=LAgHPXt3ALU

this started to happen after the upgrade of Prime 8 to 10

[2021-03-05 14:43] melloware commented on #7075
Weirs its not happening on my iPhone.  Its like the keyboard on your Android display causes the menu to close.

[2021-03-05 14:46] cadubad commented on #7075
I have a video of a user of my app that shows the problem on the iphone. Would it help if I made it available on YT?

I had to remove the filter = "true" for the selectonemenu to work again

[2021-03-05 15:35] melloware commented on #7075
you can cause no matter what I do it works fine on my iPhone.

[2021-03-05 16:10] cadubad commented on #7075
https://www.youtube.com/watch?v=XNfSHndAo-o

[2021-03-05 16:13] melloware commented on #7075
OK not happening on mine.  Could be an issue with the theme you are using or custom CSS.  Can you tester do the same test with his iPhone on the PF Showcase?

[2021-03-05 16:19] cadubad commented on #7075
I did the following tests.

My App:
Galaxy S10 - It didn't work.
Galaxy S20 - It didn't work.
Iphone (Video 2) - It didn't work.

PF Showcase:
Galaxy S10 (Video 1) - It didn't work.
Galaxy S20 - It didn't work.
Iphone - It worked.

[2021-03-05 17:28] christophs78 commented on #7075
I can reproduce this issue with https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml on my Huawei P30 with up2date Chrome.
Maybe (not sure) it´s related to the switch from jQuery animations to CSS-animations.

[2021-03-07 12:47] melloware opened #7078 "CommandButton: Rendering onClick twice"
**Describe the bug**
Go to this page: https://www.primefaces.org/showcase-ext/sections/inputphone/basicUsage.jsf

Right click and do view source. You will see duplicate `onClick` events registered for the same component.

Found it using W3C validator...

![image](https://user-images.githubusercontent.com/4399574/110217029-e69e1c00-7e7f-11eb-80a3-54b84caa4846.png)

**Environment:**
 - PF Version: _

[2021-03-07 13:00] christophs78 opened #7079 "CascadeSelect: NPE when placeholder-attribute is not set"
Noted while writing integration-tests for CascadeSelect.

[2021-03-07 15:58] melloware commented on #7079
Nice catch!

[2021-03-07 16:31] christophs78 opened #7082 "CascadeSelect: does not show selected value (eg after submit/update or for pre-selected values)"
Integration-test PR is incoming

[2021-03-07 16:35] christophs78 commented on #7082
PF-Selenium-PR: https://github.com/primefaces-extensions/primefaces-selenium/pull/103
Integration-Test-PR: https://github.com/primefaces-extensions/primefaces-integration-tests/pull/125

[2021-03-07 16:39] christophs78 commented on #7082
Maybe we should also check whether CascadeSelect plays together with converters.

[2021-03-07 16:53] melloware opened #7083 "CascadeSelect: enable/disable widget methods"
**Description**
CascadeSelect should support `enable()` and `disable()` widget methods like SelectOneMenu does.

[2021-03-08 07:25] #7079 closed, assigned to melloware

[2021-03-08 07:25] #7082 closed, assigned to melloware

[2021-03-08 07:26] #7083 closed, assigned to melloware

[2021-03-08 07:27] #7078 closed, assigned to melloware

[2021-03-08 10:09] stolp opened #7086 "DataTable: cellEdit no longer sets focus on InputText content"
**Describe the defect**
In PrimeFaces 8 clicking in a table cell will automatically activate/focus the input text, so the user can start typing immediately.

In PrimeFaces 10 this behavior has changed. The user needs to click in the input text component again to enter content.

For keyboard only usage this is even worse. Hitting tab from an inputText cell will activate the next cell, but the keybo

[2021-03-08 12:24] fanste commented on #7075
Isn't there some kind if `close overlays on scroll`?` Maybe the appearance of the keyboard triggers the scroll event as the visible keyboard changes the viewport-height of the browser.

it only happens if the menu has a filter input which is automatically focused (according to video).

I think it is either
https://github.com/primefaces/primefaces/blob/fb751e12bdf8931fb8a0f23b5d4c32de57a71972/src/m

[2021-03-08 12:47] GedMarc opened #7087 "Jakarta Build: XSD References"
**Describe the defect**

When using the Jakarta artefacts the tag libs are not resolved due to the facelet definition,
To autodetect (with specifying taglibraries in servlet) the tag library needs to be in jakarta namespace as well

**Required**
[code]

**Current**
[code]

EE9 XSD: https://jakarta.ee/xml/ns/jakartaee/#9

- [ ]  web-fragment.xml
- [ ]  faces-config.xml
- [ ]  primefaces-p.taglib.xm

[2021-03-08 12:57] melloware commented on #7075
Yes if the browser fires a `scroll` event or a `resize` event the overlay is hidden. See: https://github.com/primefaces/primefaces/issues/6583

[2021-03-08 13:28] GedMarc commented on #7087
Solved in a shade

[2021-03-08 13:47] melloware commented on #7087
@GedMarc is this something we need to do in PF shade in the pom.xml?

[2021-03-08 14:47] melloware opened #7089 "SelectOneMenu/CascadeSelect: Refactor findSelectItem"
**Description**
`SelectOneMenu.findEditableValue` and `CascadeSelect.findItemByValue` are the same basic method.  This should be refactored in 11.0 up to the parent `SelectRenderer`.

[2021-03-08 15:59] edudoda opened #7090 "TreeTable: wrong column sizes when scrollable="true" and dynamic columns"
**Describe the defect**
When we have scrollable="true" with dynamic component generating columns in tree table, the column sizes are different from header to the body.    Maybe is related to #7070

Also, don't know why but this only works with **<c:forEach/>** component, when using the equivalent **<ui: repeat/>** nothing is displayed, which I think is another bug. Is it right?

**Environment:**
P

[2021-03-08 16:22] melloware commented on #7090
Did ui:rpeat work in PF8?  I don't think it would I think you have to use `forEach` or `p:columns` if you want dyanmic columns.

[2021-03-08 16:41] edudoda commented on #7090
No, to generate columns indeed I use c:forEach, but is just a doubt related to this, why we can't use it, I generally try to use it in favor of c:forEach as component says it's a 'safe' replacement:  `<ui:repeat: "Repeatedly renders its content by iterating through the List returned from the value attribute. Intended as a JSF-safe replacement for c:forEach."`
And it works fine when is inside each

[2021-03-08 16:43] melloware commented on #7090
No its due to the way the component is rendered `repeat` does not work for Columns..  You really should be using `<p:columns` not forEach anyway?

[2021-03-08 17:43] edudoda commented on #7090
Got it! Just tried with `p:columns` and got the same problem  as `c:forEach` regarding to the column-size layout.

However, when used `p:columns` dynamic columns are not exported as they are using `c:forEach` with    `l:dataExporter`  (xmlns:l="http://www.lapis.com/jsf/exporter")

[2021-03-08 17:50] melloware commented on #7090
I don't know what that Lapis exporter is so it could have a bug where it doesn't understand p:columns...

[2021-03-08 19:52] edudoda commented on #7090
It's an [old project/code](https://github.com/rdicroce/jsfexporter) that enable us to export p:treeTables to Excel/PDF out of the box. BTW it's not related to this issue.

[2021-03-09 08:21] #7070 closed, assigned to melloware

[2021-03-09 08:28] tandraschko commented on #7036
Please provide a small reproducer (bean + xhtml) or fork primefaces-test.

Also a PR would be great

[2021-03-09 15:45] melloware commented on #7090
Can you put together a reproducer or test your code against the latest 10..0.0-SNAPSHOT which now has the other scrollable fix in it?

[2021-03-09 15:55] melloware commented on #7086
OK its caused by this fix: https://github.com/primefaces/primefaces/issues/6187

[2021-03-09 16:03] melloware commented on #6187
This causes a regression.  reopening.

[2021-03-09 16:08] melloware commented on #6187
After reverting this fix I think the only way you can handle this is in  your `onfocus` event you will have to call `e.preventDefault()` or `e.stopPropagation()` to prevent this event from bubbling up.

[2021-03-09 16:47] melloware commented on #7087
Ping @GedMarc

[2021-03-09 20:29] melloware commented on #6995
Hindi:
[code]

[2021-03-09 23:36] edudoda commented on #7090
Sure, but how can I download this version?
Can't see it on Maven:  Missing artifact org.primefaces:primefaces:jar:10.0.0-SNAPSHOT

[code]

[2021-03-10 00:22] stolp commented on #7090
You want that:

[code]

See https://github.com/primefaces/primefaces

[2021-03-10 01:10] edudoda commented on #7090
I didn't mention but I tried that in my legacy code, but I don't know why  it gives me old primefaces-5.1.jar
**But when run it from https://github.com/primefaces/primefaces-test  it works!**  Apparently this issue was fixed.

[2021-03-10 01:56] juvenislux015 opened #7097 "Message: display="tooltip" does not work since 8.0"
**Describe the defect**
p:message as tooltip is not working.

**Reproducer**
See www.primefaces.org/showcase/ui/message/messages.xhtml
![image](https://user-images.githubusercontent.com/22677843/110563413-3df50280-8186-11eb-92c5-e08d1b2a4afe.png)

**Environment:**
 - PF Version: _8.0_
 - JSF + version: _2.3.5_
 - Affected browsers: _Chrome, Firefox_

**To Reproduce**
[code]

**Expected behavior**

[2021-03-10 08:07] GedMarc commented on #7087
Sorry, I have to roll it back, i gave it a good 'ol college try but It's not deploying to my artifactory as a complete with everything release

[2021-03-10 10:46] pizzi80 commented on #7068
I'm testing with PF 8 / JSF 2.2 with no problem at all ... going in production right now ... why not target PF 10 ?

You could easily replace jquery for testing with Omnifaces CDN
[code]

[2021-03-10 11:04] mertsincan commented on #7052
Hi @tandraschko,

No, we'll remove ui-state-{hover|focus|active}.  The following events should only do the following operations without being affected by other ui-state-{hover|focus|active}.

|Jquery Events| Style Class |
| --- | ---|
focus | addClass('ui-state-focus')
blur | removeClass('ui-state-focus')
mouseenter | addClass('ui-state-hover')
mouseleave | removeClass('ui-state-hover')

These sit

[2021-03-10 11:52] tuerker opened #7099 "PanelGrid: make attribute "columns" optional"
Currently, p (as well as h) panelGrid requires the attribute columns. It would cool to get rid of this restriction and to create the grid based on the actual child elements. For instance,

    <p:panelGrid>
           <h:outputText value="a" />
           <h:outputText value="b" />
           <h:outputText value="c" />
    </p:panelGrid>

would be equivalent to:

    <p:panelGrid columns="3">

[2021-03-10 12:07] stolp commented on #7099
-1. I am strictly against such a change, since it totally breaks backwards compatibility.

[2021-03-10 12:10] stolp commented on #7086
Thanks. I will cross check this once it is merged.

[2021-03-10 12:13] tuerker commented on #7099
the attribute should only be optional and will thus not break backwards compatibility.

[2021-03-10 12:14] tuerker commented on #7099
you could still use it as of now with the columns attribute.

[2021-03-10 12:14] stolp commented on #7099
I was to quick with my objection. I think the current state is, that columns is already optional with 0 as the default.
In that case a p:row is required.

[2021-03-10 12:14] #7052 closed, assigned to mertsincan

[2021-03-10 12:16] tuerker commented on #7099
i think it should be a straight-forward extension to make the attribute columns optional without the necessity to use p:row or whatever.

[2021-03-10 12:16] buunsal commented on #7053
closed https://github.com/primefaces/primefaces/pull/7100

[2021-03-10 12:16] #7053 closed, assigned to buunsal

[2021-03-10 12:19] tuerker commented on #7099
currently i have hundreds of panelGrids, e.g., using the same rendering conditions and styleClass attributes, which i cannot refactor because the panel grids does not have the same number of columns.

[2021-03-10 12:20] tandraschko commented on #7099
i general i dont even understand why someone would use a h/p:panelGrid. I like plain html and grid systems much more, people should more rely on plain html.

[2021-03-10 12:23] melloware commented on #7099
-1. I agree with @tandraschko and also @tuerker i think it needs the columns so it knows where to wrap right especially in layout="flex" or layout="grid".

So columns=2
[code]

Would put A and B on the first row and C on the second row.  So I don't think we should change this to assume what a user wants they should have to be explicit about it.

[2021-03-10 12:23] #7086 closed, assigned to melloware

[2021-03-10 12:27] melloware commented on #7068
PrimeTek is trying to minimize chnages for 10.0.0 final release.  Plus there is no security impact to this release so I thought it was safer to wait.  If it fixed a security CVE I would absolutely push for it.

[2021-03-10 12:32] stolp commented on #7099
I agree, but think this is typically a problem with legacy code. There was a time when grid systems where just not ready. Refactoring a few hundred p:panelGrid instances really is time consuming and no fun.

[2021-03-10 12:35] #6899 closed, assigned to cagataycivici, mertsincan

[2021-03-10 12:35] tuerker commented on #7099
@melloware i am not proposing to change the current semantics. i am just asking for a little extension. so whenever the attribute columns is not provided, the panelgrid should derive it automatically from the number of child elements.

[2021-03-10 12:40] melloware commented on #7090
Yep that is why we always recommend you use PrimeFaces Test.

[2021-03-10 12:40] #7090 closed, assigned to nobody

[2021-03-10 12:42] #7063 closed, assigned to mertsincan

[2021-03-10 12:43] #7065 closed, assigned to melloware

[2021-03-10 12:47] pizzi80 commented on #7068
ok! thanks for the reply! ;)

[2021-03-10 13:23] melloware commented on #7097
Looks like there are 2 issues here.  1 we need to make the style more specific to hide the current message
[code]
Second issue is when even after I hide the message why the tooltip is not displayed.

[2021-03-10 13:38] edudoda commented on #6987
Hi guys, I also noted that now, when a table is initially sorted using a Collection (not SortMeta type) eg.:  `<p:dataTable sortBy="#{bean.xpto}" .../> `  it **doesn't show the initial active sorted icon** on that column and **always defaults to descending** order, it's only possible to change/use  sortOrder="asc" when in each column (before we could set it from p:dataTable param).

And also, each

[2021-03-10 14:12] jepsar opened #7101 "Barcode: QR code is not rendered as SVG"
**Reproducer**
https://www.primefaces.org/showcase/ui/multimedia/barcode.xhtml

**Environment:**
 - PF Version: _10.0.0-RC2_

**Expected behavior**
SVG image instead of PNG of fixed width and height of 125px.

[2021-03-10 14:52] jepsar commented on #7101
For the record: I'd prefer not to change libraries, but as a reference, this is what we are using in one of our projects to generate SVG QR codes: https://github.com/nayuki/QR-Code-generator

[2021-03-10 15:38] yodist commented on #6995
Bahasa Indonesia - in :

[code]

[2021-03-10 15:39] melloware commented on #6995
@yodist are you also working on Client Side JS messages too?

[2021-03-10 15:44] yodist commented on #6995
@melloware  yes, I'm working on that too. But, where should I submit that one?

[2021-03-10 15:45] melloware commented on #6995
Just paste it here also and I will create a PR with both in it!

[2021-03-10 15:51] yodist commented on #6995
Okay! here it is the Client Side JS messages for Bahasa Indonesia - id : locale-id.js

[code]

[2021-03-10 16:41] Rapster commented on #6987
Does it happen because of the client saving state method?

[2021-03-10 16:42] edudoda commented on #7090
Found it, it was due to that lib [com.lapis.jsfexporter](https://mvnrepository.com/artifact/com.lapis.jsfexporter/export-source-primefaces/1.0.3.Final)  I mentioned above =x,  which was requesting for PF5.1 version, and because when using -SNAPSHOT approach [maven resolves  to the nearest version](https://stackoverflow.com/questions/34201120/maven-set-dependency-mediation-strategy-to-newest-rather

[2021-03-10 16:53] melloware commented on #7090
TreeTable will have a first class Exporter in PF11 so you can get rid of that lib hopefully.

[2021-03-10 16:56] edudoda commented on #6987
No... not related,  I already switched to server saving after that, so it's happening in server method.

It's another issue, but I'm asking first because maybe it's the new desired behavior, as I didn't found sortOrder="" param  for dataTable itself on [new manual](https://primefaces.github.io/primefaces/10_0_0/#/components/datatable?id=datatable).

I just can see   'Defect report' or  'Feature re

[2021-03-10 17:26] Rapster commented on #6987
Sounds like an defect then

[2021-03-10 21:13] aripddev opened #7103 "CSP: default-src seems to be a directive, not a value"
**Describe the defect**
I have found that default-src is added after nonce with comma which gives "default-src seems to be a directive, not a value" error. As a result nonce value is not approved by csp evaluator (https://csp-evaluator.withgoogle.com).

web.xml CSP_POLICY settings
[code]
and the result is

[code]

<img width="960" alt="Screen Shot 2021-03-11 at 00 03 01" src="https://user-images.g

[2021-03-10 21:16] melloware commented on #7103
Can you double check.  PrimeFaces does not add this `, default-src * data: 'unsafe-eval' 'unsafe-inline'` so I have no idea where that is coming from.

[2021-03-10 21:21] melloware commented on #7103
I just tested locally and this is what PF is generating...

![image](https://user-images.githubusercontent.com/4399574/110699188-9646f700-81bc-11eb-8289-45b73d72314c.png)

And its working properly.

[2021-03-10 21:26] melloware commented on #7103
Here is your policy also working...
![image](https://user-images.githubusercontent.com/4399574/110699977-6ba96e00-81bd-11eb-8d39-dcb104ad355c.png)

[2021-03-10 23:13] edudoda opened #7104 "DataTable/TreeTable: initial sortBy without active-sort-icon and missing sortOrder param"
**Describe the defect**

When dataTable or treeTable is initially sorted using a Collection (not SortMeta type) eg.: <p:dataTable sortBy="#{bean.xpto}" .../> it doesn't show the initial active-sorted-icon on that column and always defaults to descending order, it's only possible to change/use sortOrder="asc" when in each column (before we could set it as p:dataTable param).

And there is a strange

[2021-03-11 07:16] tandraschko commented on #7104
@Rapster can you check this?

[2021-03-11 08:13] aripddev commented on #7103
Found it. It is because of nginx header settings which adds `Content-Security-Policy`.
Sorry for taking your time.

[2021-03-11 08:13] #7103 closed, assigned to nobody

[2021-03-11 09:48] Rapster commented on #7104
Can't reproduce, please provide a reproducer. Regarding this point:

Either use `DataTable#sortBy` or `Column#sortBy` using both doesn't make much sense IMO. So far, DataTable#sortBy has more priority than Column#sortBy, if you have a relevant use case I can think about changing it

[2021-03-11 14:27] stolp commented on #7086
I tested this with 10.0.0 Final but the behavior is still as described. Was this merged in 10.0.0?

[2021-03-11 14:37] melloware commented on #7086
Looks like it was merged but are you using the Showcase?  it has not been deployed yet so would still show the issue.  Looking in GitHub this was definitely in the 10.0.0 release.

[2021-03-11 14:40] stolp commented on #7086
No - I built our project with 10.0.0 and checked there.

[2021-03-11 14:41] melloware commented on #7086
Huh then maybe its a different issue. Can you create a reproducer?

[2021-03-11 14:41] melloware commented on #7086
when I use the PF showcase CellEdit example it seems to be working fine and focusing the cell.

[2021-03-11 14:57] stolp commented on #7086
I will see if i can find a reproducer.

[2021-03-11 17:03] rider87 commented on #61
agreed - would be great to have this in PF11

[2021-03-11 18:14] jsolanou opened #7105 "DataTable: Select single does not work when containing character comma"
Hi, I have a problem with the datatable component, when I want to display
the value that ​​contains a comma character for example "dummy,some text.pdf".
The single selection and the multiple selection are no longer works.
The event works fine, but when I debug it, doesn't bring the row selected it show 0 elements.
I'm using PrimeFaces Version 8.0

Is there a quick possible solution for this?

[2021-03-11 18:20] tandraschko commented on #7105
please follow the issue template and provide a reproducer, otherwise invalid.
and please test with todays released 10.0 before.

[2021-03-11 18:30] jsolanou commented on #7105
ok, thanks i will try with the primefaces version 10

[2021-03-11 18:34] melloware commented on #7105
I think your issue is this: https://github.com/primefaces/primefaces/issues/5946

[2021-03-11 19:03] melloware commented on #7086
OK latest showcase is deployed and when I go here: https://www.primefaces.org/showcase/ui/data/datatable/edit.xhtml?jfwid=3a9d8 when I click on  CellEdit example the Cell is being focused.

[2021-03-11 19:34] jepsar commented on #7101
I had to switch libraries as the old one does not support SVG. New one is MIT licenced.

[2021-03-11 21:20] stolp commented on #7086
Thanks, I can confirm that the showcase seems fixed now. Still weird that this is not the same on my side. Will try to pin this down.

[2021-03-11 23:56] jsolanou commented on #7105
@melloware  Thank you very much, if it is exactly the same behavior but reading the trace of the issue, it is a design error on my part since row key is a unique identifier and should be a number or alphanumeric.

[2021-03-11 23:57] #7105 closed, assigned to nobody

[2021-03-12 14:18] tsobis opened #7114 "DatePicker: time icon problem"
The datePicker component has a css problem, when the component includes time, the arrows for changing the time do not appear

PF Version: 10.0.0

[showcase examples](
https://www.primefaces.org/showcase/ui/input/datepicker/datePicker.xhtml)
check examples
Look at examples
Time (Min-Max)
Time Only (Min-Max)
Time (German)
Time Only
Time

the component has from the css file
https://github.com/primefa

[2021-03-12 14:28] edudoda commented on #7104
@Rapster I totally agree with you, but it's happening the opposite: `Column#sortBy` is overriding `DataTable#sortBy`.  Moreover, just with `Column#sortBy` we can get old behavior (PF8 and earlier): initial active-sorted-icon and change default order.

Commented [reproducer](https://github.com/edudoda/primefaces-test-cases) is attached now.

[2021-03-12 14:29] melloware commented on #7114
This style is more specific and prevents the use of `!important`.
[code]

[2021-03-12 15:31] Rapster commented on #7104
Can't run it, I can see you modified few things in pom.xml... Don't have time for this, please provide a ready runnable reproducer with jetty (which primefaces-test is already configured for this)

[2021-03-12 17:13] melloware commented on #7104
@edudoda we should be able to just run `mvn clean jetty:run` and see your reproducer.

[2021-03-13 00:27] wklaczynski opened #7117 "Add "ui-panelgroup" and "ui-panelgroup-addon" class slector."
**Description**
Same as for input "ui-inputgroup", but adding panels to the group. Thanks to this style, you will be able to combine components into groups.

[code]

**Example XHTML**
[code]
![obraz](https://user-images.githubusercontent.com/2326804/111011358-630d8f00-8399-11eb-977f-03919cb9bc50.png)

[2021-03-13 01:12] wklaczynski commented on #7117
Maybe the same for vertical panels.

[code]

[2021-03-13 02:53] edudoda commented on #7104
OK just run it now using this command, please check reproducer again...

[2021-03-13 11:26] Rapster commented on #7104
Ok, please read migration guide here: https://primefaces.github.io/primefaces/10_0_0/#/../migrationguide/10_0_0 and breaking  changes. It contains every answers :wink:

[2021-03-13 11:27] #7104 closed, assigned to nobody

[2021-03-13 12:33] melloware commented on #6987
So @edudoda is this still an issue now that Rapster pointed out the other problem with your reproducer?

[2021-03-13 12:37] melloware commented on #7117
Interesting.  I don't see the harm in adding this to PF. @tandraschko @Rapster thoughts?

[2021-03-13 12:43] edudoda commented on #7104
I read it and still not understood. Can you clarify me this points:

1 - Like documentation says, I'm using a single on` DataTable#sortBy` and set `UIColumn#sortBy` and it has no effect to initially sort. (As you can see in first `p:dataTable` of reproducer)

2 -  `DataTable#sortOrder` was removed and replaced by `UIColumn#sortOrder` (defines default sort order), OK. But then,  now it's the only w

[2021-03-13 12:44] melloware opened #7118 "Collector: Remove in 11.0"
**Description**
Per PrimeTek the Collector component will be removed in 11.0

[2021-03-13 12:45] melloware opened #7119 "ThemeSwitcher: Remove in 11.0"
**Description**
Per PrimeTek the ThemeSwitcher component will be removed in 11.0

[2021-03-13 12:45] melloware opened #7120 "Ribbon: Remove in 11.0"
**Description**
Per PrimeTek the Ribbon component will be removed in 11.0

[2021-03-13 12:59] melloware commented on #7104
@edudoda it looks like you are passing `DataTable#sortBy` a "field" `sortBy="#{item.op.test}"` not a SortMeta?  Docs say it must be a

[2021-03-13 13:23] edudoda commented on #7104
@melloware  got it now. Yes, I was, because 'field' in columns (sort/filter) is still working and all my legacy code is using the old ''field'' logic.  As I didn't see any erros thrown, I was 'understanding/reading' that  "a single" still could be a field, not that should be a single of SortMeta type.

So, to reduce refactoring, better to me is switched to column#param approach and forget about ne

[2021-03-13 13:25] melloware commented on #7104
How about your other ticket. Is that still an issue now that you have resolved how to refactor your code for 10.0.0?

[2021-03-13 14:02] edudoda commented on #7104
You mean #6987 ?    It's not related to default/initial sort stuff, but to the mechanism in which each column are sorted when user click in a sortAble column header.  If `UIColumn#sortBy` should still accept 'field', so yes, error persists when STATE_SAVING_METHOD = client. I just updated the [reproducer](https://github.com/edudoda/primefaces-test-cases) to reflect this.

[2021-03-13 14:13] blutorange opened #7124 "Publish TypeScript declarations to NPM"
Now that 10.0 is released and the JavaScript docs [are up-to-date](#7123), it would be great if the [TypeScript declarations](https://github.com/primefaces/primefaces/blob/master/docs/PrimeFaces.d.ts) could be published to NPM. For now, in my own projects, I just copied said file into my project, but that's a bit hard to update and maintain. If it were published on NPM, people could then just

* n

[2021-03-13 14:14] edudoda commented on #6987
Yes, reproducer is now updated to reflect this.

[2021-03-13 16:53] melloware commented on #7124
I did ask PrimeTek and it didnt sound like they were interested in publishing it.    I will ask one more time and if not then I think I should create a token and publish them no?

[2021-03-13 16:53] stolp commented on #7086
Ok found it. My code still contained the monkey patch in https://github.com/primefaces/primefaces/issues/6187

After removing it, everything worked as expected.

[2021-03-13 17:14] melloware commented on #7086
Excellent thanks for reporting back!

[2021-03-13 17:34] blutorange commented on #7124
@melloware First of all, thanks for asking. Hmm yeah well, would be great if you ask again. Though I guess the only question would be if they have anything against us doing it or whether they have any preferences regarding the package name etc.

Publishing to NPM shouldn't be hard, go ahead and get a token and claim the package name.

[2021-03-14 01:56] #4205 closed, assigned to nobody

[2021-03-14 01:56] #2209 closed, assigned to nobody

[2021-03-14 01:56] #983 closed, assigned to nobody

[2021-03-14 01:56] #73 closed, assigned to nobody

[2021-03-14 14:53] melloware commented on #7124
OK I will let you know what they say.

[2021-03-14 14:57] melloware opened #7126 "DatePicker: AutoDetect Display Mode"
**Description**
Add a new `autoDetectDisplay` attribute to the DatePicker which will detect if the browser is Mobile it will set `touchUi=true` else it will be false for Desktop browser.

Based on conversation on Discord with @jepsar and @willbigas

[2021-03-14 15:34] melloware commented on #7099
So this could be done but it would rquired two loops.  1 loop to figure out how many columns there are and you can't use `getChildCount` because you have to account for unrendered items.
[code]

Also we currently throw an exception if columns=0.
[code]

[2021-03-14 15:39] melloware commented on #7124
Also are you on the Discord channel?  If not you should be!

[2021-03-14 18:18] MMAliAbbas commented on #61
+1

[2021-03-14 21:43] tuerker commented on #7099
dear @melloware, i am thinking loud since i am not deep in the code. would it be not sufficient to change the method

`public int getColumns() { return (Integer) getStateHelper().eval(PropertyKeys.columns, 0); }`

such that it checks whether attribute columns is explicitly set, and if yes it return the corresponding value.  if the attribute columns is not set, then it counts the rendered childs an

[2021-03-15 06:40] matsandreassen opened #7128 "DataTable: unselect not clearing selection in PFX"
**Describe the defect**
Testing out PFX. While following the migration guide, I noticed a problem with Datatable when performing a _unselect_.

In my datatables, I noticed that _selection_ was not updated even though the rowUnselect event listener was called properly. Also, when I clear the selection from the model in my backing bean and update/re-render the datatable, the row would remain selecte

[2021-03-15 07:55] #7114 closed, assigned to melloware

[2021-03-15 07:56] #7097 closed, assigned to melloware

[2021-03-15 08:17] #6931 closed, assigned to melloware

[2021-03-15 08:18] #7068 closed, assigned to melloware

[2021-03-15 08:23] #7120 closed, assigned to melloware

[2021-03-15 08:23] #7119 closed, assigned to melloware

[2021-03-15 08:24] #7118 closed, assigned to melloware

[2021-03-15 08:25] #5781 closed, assigned to melloware

[2021-03-15 08:37] #6860 closed, assigned to arturobernalg

[2021-03-15 11:44] melloware commented on #7128
I have verified this issue and will investigate.

[2021-03-15 13:19] texasaggie1994 commented on #7119
Out of curiosity, is the component simply redundant now and there is another way to accomplish switching themes or is it simply not supported? I was working on a way for a user to switch between a dark and light theme similar to the showcase and noticed that this widget was not working recently.

[2021-03-15 13:23] melloware commented on #7119
try something like this...
[code]

[2021-03-15 13:49] melloware commented on #7124
OK PrimeTek said it was OK if I push it to NPM.  However when running the commend above with my proper token I get this error.
[code]

[2021-03-15 13:54] blutorange commented on #7124
Are you working on a `clean`ed directory? There's [a separate goal that installs Node / NPM and runs npm install](https://github.com/primefaces/primefaces/blob/master/pom.xml#L361-L368). Can you try doing a `mvn package` first, this should run those goals?

If that works, we should include it in the publish profile.

[2021-03-15 13:57] melloware commented on #7124
Yep I was in a cleaned directory.  OK its published!

See: https://www.npmjs.com/package/primefaces

[2021-03-15 13:57] #7124 closed, assigned to melloware

[2021-03-15 13:59] blutorange commented on #7124
Awesome, looks great. I'll give it a try later.

[2021-03-15 23:38] oarenas-GI opened #7130 "Datatable: lazy component isn't skipped when its parent has rendered property to false"
**Describe the defect**
It looks like lazy datatable isn't skipped when its parent has rendered property to false. When the page is loading, for some reason, it's calling savestate method from Datatable and fails. This error didn't appear on Primefaces 8.0.7.

**Environment:**
 - Server: Payara Server 5.2021.1 (community)
 - PF Version: 10.0
 - JSF + version: included in the specific Payara versio

[2021-03-16 09:30] #7130 closed, assigned to tandraschko

[2021-03-16 13:46] #7089 closed, assigned to melloware

[2021-03-16 13:56] djamel2288 opened #7131 "Component: <p-password></p-password> float label"
**Description**
add float label to p-password input

[2021-03-16 13:57] melloware commented on #7131
Wrong issues this is Primefaces and I think you want PrimNG: https://github.com/primefaces/primeng

[2021-03-16 13:57] #7131 closed, assigned to nobody

[2021-03-16 14:00] #6917 closed, assigned to melloware

[2021-03-16 14:05] melloware commented on #7128
OK I have verified the JS code is definitely unselecting the item.
**Selected:**
![image](https://user-images.githubusercontent.com/4399574/111321892-c0763a00-863e-11eb-8952-4e374e19ca39.png)

**Unselected:**
![image](https://user-images.githubusercontent.com/4399574/111322325-311d5680-863f-11eb-88a3-10743e4152e8.png)

So I think that means the SelectionFeature or something is not clearing out the

[2021-03-16 14:24] djamel2288 commented on #7131
i'm really sorry

[2021-03-17 08:25] matsandreassen commented on #7128
Fantastic! Looking forward to continue my PFX migration.

[2021-03-17 10:39] silvio3punkt5 commented on #7128
**Description**
There is still an issue that unselecting - by clearing the list in the bean via action method - does not clear the selection in the UI.

**To Reproduce / Sample Code:**
Using the latest showcase example in DataTable -> Selection -> Checkbox.

Add Clear-Button in selection.xhtml:174:
`
                    <f:facet name="footer">
                        <p:commandButton process="chec

[2021-03-17 11:39] melloware commented on #7128
@silvio3punkt5 have you tried it with 11.0.0-SNAPSHOT that has this PR applied?

[2021-03-17 12:30] silvio3punkt5 commented on #7128
@melloware yes, I've used 11.0.0-SNAPSHOT including the commit from above

[2021-03-17 12:35] Rapster commented on #7128
I'm having a look

[2021-03-17 14:16] melloware commented on #7099
While it works for static layouts like...
![image](https://user-images.githubusercontent.com/4399574/111482093-f502f800-8709-11eb-824c-a47335e99adb.png)

It breaks using `<p:row>` example where its EXPECTING `columns=0` like in the Showcase.
![image](https://user-images.githubusercontent.com/4399574/111481922-cd139480-8709-11eb-9c09-b5af8961bbdf.png)

[code]

So I am inclined NOT to make this chan

[2021-03-17 14:19] stolp commented on #7099
I feel sorry @tuerker but I also still agree to not implement this.

[2021-03-17 14:39] tuerker commented on #7099
this is rather hint that the attribute columns is expected to be = 0 somewhere else instead of dealing with the null/empty value.

of course, there would the solution to extend the panelgrid by a new attribute "autoColumns" (or "derivedColumns", ...) which is set to true whenever one cannot/want not to explicitly set the number of columns upfront.

@melloware wdyt?

[2021-03-17 17:23] Dougnlizt opened #7136 "TreeTable: Initial empty table doesnt render nodes on AJAX update when root changes"
**Describe the defect**
If a TreeTable is initially empty, and at least one column has the filterBy attribute, an ajax update which populates the TreeTable data will show the columns but not the data.

Please note the sample code is taken from the Mirage theme demo files with slight modifications to duplicate the issue.

**Reproducer**
None

**Environment:**
 - PF Version: 10.0.0
 - JSF + version:

[2021-03-17 17:49] kguelzau commented on #7026
Is there any workaround beside switching to myfaces?
We had no problems with PF 8.x and mojarra 2.2.20 but with PF 10.0 and mojarra 2.3.14

Is https://github.com/eclipse-ee4j/mojarra/issues/4562 which is mentioned in #6427 also the root cause for this issue?

[2021-03-17 17:51] Rapster commented on #7026
Try to set to true rowStatePreserved attribute of datatable. Let us know if that work?

[2021-03-17 18:34] christophs78 commented on #7128
we should add a integration-test for this :-)

[2021-03-17 19:48] samgoularte opened #7137 "Layout: no tag was defined for name"
**Describe the defect**
Layout and LayoutUnit tags are not being recognized in version 10.0.0.

**Reproducer**
_n/a_

**Environment:**
 - PF Version: _10.0.0_
 - JSF
 - Affected browsers: _All_

**Example XHTML**
[code]

**Example Bean**
_n/a_
[code]

[2021-03-17 19:52] melloware commented on #7137
Yep was removed in PF10.0.0 see: ticket: https://github.com/primefaces/primefaces/issues/2168

You can use Layout from PrimeFaces Extensions: https://www.primefaces.org/showcase-ext/views/layout.jsf;

[2021-03-17 19:52] #7137 closed, assigned to nobody

[2021-03-18 10:16] #7128 closed, assigned to Rapster

[2021-03-18 10:53] torbenw commented on #7026
We tried to set rowStatePreserved on the datatable, but after that the label of each dropdown seems to be a concatenated string of all the selected dropdown values in the datatable. It's not possible to open the dropdown menus either.
![rowStatePreserved1](https://user-images.githubusercontent.com/1230226/111613149-80e65400-87de-11eb-916f-b552875a78cc.png)
![rowStatePreserved2](https://user-images

[2021-03-18 11:36] vfedoriv commented on #42
Any plans to implement it?

[2021-03-18 11:42] melloware commented on #42
@vfedoriv in 6 years no open source committer has contributed this feature so you would probably need to sponsor this feature using PrimeFaces PRO or provide a PR if you manage to add the functionality yourself.

[2021-03-18 11:43] melloware commented on #7136
@Dougnlizt but this seems to work on the Showcase no?  https://www.primefaces.org/showcase/ui/data/treetable/filter.xhtml?jfwid=2f51e

[2021-03-18 13:57] sasynkamil commented on #6995
Norwegian - no

primefaces.calendar.DATE_INVALID_RANGE_MESSAGE_ID = {0}: Valideringsfeil: Startdato er senere enn sluttdato
primefaces.calendar.INVALID = {0}: Valideringsfeil: Ugyldig verdi
primefaces.calendar.MAX_DATE = {0}: Valideringsfeil: Verdien må være {2} eller tidligere.
primefaces.calendar.MIN_DATE = {0}: Valideringsfeil: Verdien må være {1} eller tidligere.
primefaces.calendar.OUT_OF_RAN

[2021-03-18 14:05] Dougnlizt commented on #7136
The issue is when the treetable starts out as 'empty'.  After an ajax update that then has data for the treetable, the treetable is not showing the data.

The showcase does not cover this use case -- it shows only the case where the treetable is pre-populated with data.  In our use case, the user goes to the page and the treetable is empty until the user makes a certain selection.  After doing so,

[2021-03-18 14:06] melloware commented on #6995
Thank you @sasynkamil added!

[2021-03-18 14:09] melloware commented on #7136
OK thank you for clarifying.

[2021-03-19 07:43] vonnai commented on #7068
there is a bug in jquery 3.5.1, the code $(selector).css('max-height', '100') does nothing, it works only if the value is a number or string with px. So dialog feature fitVieport in Primefaces 10.0.0 doesn't work (file: dialog.js, function fitViewport). It works well with jquery 3.6.0. When do you suppose the Primefaces 10.0.1 will be released? Should I create a new issue for this bug? Thanks

[2021-03-19 10:53] melloware commented on #7068
@vonna yes create a new issue.  The right fix is to make it `$(selector).css('max-height', '100%')` pr 'px' but PX doesn't make sense I assume they wanted 100% max height?

[2021-03-19 11:02] vonnai commented on #7068
@melloware the code $(selector).css('max-height','100') does nothing in jquery 3.5.1, it means there is not any max-height property set to element's style attribute. Expected property in style attribute should be `max-height:100px`. You are using this not working construction in dialog.js function fitViewport (PF 10.0.0). My question is: are you going to upgrade jquery in 10.0.1? or should I creat

[2021-03-19 11:09] vonnai opened #7139 "Dialog fitViewport doesn't work in pf 10.0.0"
**Describe the defect**
dialog.js function fitViewport, please change the row `this.content.css('max-height', String(maxHeight));` to `this.content.css('max-height', maxHeight);`. String constant for max-height without units doesn't work in jquery 3.5.1 which is used in PF 10.0.0. In jquery 3.6.0 it works fine.

**Environment:**
 - PF Version: 10.0.0

[2021-03-19 11:10] vonnai commented on #7068
new issue is #7139.

[2021-03-19 11:18] melloware commented on #7139
@vonnai can you try this and verify it works... Just add this script to your application.
[code]

[2021-03-19 11:22] #7139 closed, assigned to melloware

[2021-03-19 11:23] vonnai commented on #7139
yes, these solutions `this.content.css('max-height', maxHeight + 'px');` or `this.content.css('max-height', maxHeight);` works fine. But you didn't have to do that for pf 11 with jquery 3.6.0. Only 10.0.1 needs it. Thanks

[2021-03-19 11:25] melloware commented on #7139
Yep I just think it makes this fix more explicit with its intent.  jquery keeps going back on forth on requiring Strings for CSS variables.

[2021-03-19 11:26] melloware commented on #7139
That is why it broke they had JQuery Migration plugin telling us that it was a violation passing a number into CSS it had to be a String.  And they still may require that for jQuery 4.0

[2021-03-19 11:31] melloware commented on #6987
This client side saving issue has also been raised on Discord and the forums by other users.

[2021-03-19 13:36] davidsan1982 opened #7141 "DataExporter: does not work with summaryRow"
I have a project which uses primefaces 8.0 and I'd like to know why dataExporter doesn't work with summaryRow and if there is any plan to fix this bug soon or if there is any way to do this without coding my own exporter.

Thank you very much.

[2021-03-19 13:41] melloware commented on #7141
I really doubt SummaryRow will be supported in the Exporter without Sponsoring via PF PRO or providing a PR.  I looked into it and its not so easy to implement the way SummaryRows are done.

[2021-03-19 16:42] davidsan1982 commented on #7141
It's a pitty to read that. Thanks for your soon answer anyway.

[2021-03-19 16:42] #7141 closed, assigned to nobody

[2021-03-19 17:02] Rapster commented on #7141
It's a pity to give up that easy :D

[2021-03-19 19:42] melloware opened #7142 "CascadeSelect: Icons Missing Styles"
**Description**
I am working on theming a PF 10 app and noticed CascadeSelect does not handle icons the same way as other components.  Its missing `ui-icon`.

[2021-03-19 20:54] leosj29 opened #7144 "Spinner: without thousands and decimals separator"
**Description**

I think it would be important to create an attribute to the component to show its numeric content without any formatting or with a desired format (separators, which are already there)

**Example XHTML**
[code]

![Selection_500](https://user-images.githubusercontent.com/2030440/111841051-f4fa2800-88c2-11eb-9e27-47627fc9b6bc.png)

[code]

![Selection_499](https://user-images.githubu

[2021-03-19 20:59] christophs78 commented on #6812
As ChartJS 3 is gone into RC-state i´ll start to work on this.

[2021-03-19 21:19] clarktrip1 opened #7145 "DefaultMenuItem: Breaking change not documented"
new DefaultMenuItem( "SomeReallyCoolText" ) worked in 8.0.3 but no longer works.  That constructor has been removed.  I don't spot that breaking changing in the doc.

[2021-03-19 23:16] davidsan1982 commented on #7141
Hehehe. It doesn't matter. My project is abandomed already . Maybe i'll do another one in a different way.🤷🏻‍♂️

[2021-03-20 03:00] leosj29 commented on #7144
I have two possible options.

The first option is to add the **useSeparators** property (default true)

**Option 1 -> SpinnerBase.java**
[code]

The second option is to ignore the Locale and leave the use of the separators to the choice of the developer

**Option 2 -> SpinnerBase.java**
[code]

[2021-03-20 12:27] melloware commented on #7144
You can already do this now.

[code]

![image](https://user-images.githubusercontent.com/4399574/111869466-13f5ca00-8956-11eb-95eb-1781bc778563.png)

And if you wanted to do this for all your spinners you can set it globally like this: https://primefaces.github.io/primefaces/10_0_0/#/core/globalattributes

[2021-03-20 12:29] #7144 closed, assigned to nobody

[2021-03-20 12:35] melloware commented on #7145
When you say worked in 8.0.3 and doesn't work do you mean in 10.0.0?

[2021-03-20 12:46] melloware commented on #7145
There is this in the 8.0 Migration Guide: https://primefaces.github.io/primefaces/10_0_0/#/../migrationguide/8_0?id=menu

[code]

[2021-03-20 14:29] leosj29 commented on #7144
By default, before version 8 it did not generate the separators. I think that for compatibility reasons the separators should appear if indicated by the developers and not have to remove them as indicated above.

[2021-03-20 16:12] melloware commented on #7144
As with all major version upgrades things are subject to change and not stay backward compatible forever.  The decision was made to default this as enabled and allow a developer to disable them if they don't want them in my example above.

[2021-03-21 14:17] aissous opened #7147 "Datatable: selection set to empty array with array VE"
When the selectedRows attribute is Array in LazyDataModel, the items of the array have null values.
The problem is in org.primefaces.component.datatable.feature.SelectionFeature in setSelection method :
selection = isArray ? Array.newInstance(clazz.getComponentType(), selected.size()) : selected;
This instruction create array with null objects.

[2021-03-21 14:26] melloware commented on #7147
This issue was also reported on Discord Channel.  @Rapster its definitely a regression.

@aissous to fix it right now switch from using `Car[] selectedCars` to `List<Car> selectedCars` will fix your issue.

[2021-03-21 15:15] melloware commented on #7099
I agree I think this would require a new attribute

[2021-03-21 15:42] melloware commented on #7087
I think we need to solve this and add the proper schemas in the Jakarta version of the PF Jar for these 3 XML files.

https://jakarta.ee/xml/ns/jakartaee/#9

- [ ] web-fragment.xml
- [ ] faces-config.xml
- [ ] primefaces-p.taglib.xml

[2021-03-21 16:02] #7147 closed, assigned to Rapster

[2021-03-21 19:16] stolp opened #7149 "Localization: Message property files use UTF-8 encoding which is not supported in Java 8"
**Describe the defect**
All message property files use UTF-8 encoding. This is not supported with Java 8, here we need ascii with utf-8 escapes.

This is leading to encoding errors for non-ASCII characters as reported here: https://forum.primefaces.org/viewtopic.php?f=3&t=66065

**Reproducer**
Run the showcase under Java 8,

**Environment:**
 - PF Version: _10.0.0_
 - JSF + version: _ALL_
 - Affec

[2021-03-21 21:46] stolp commented on #7149
@melloware : I have a pull request ready, but it is stumbling over a checkstyle violation rule which I think should be lifted in the case of message properties:

/home/runner/work/primefaces-1/primefaces-1/src/main/resources/org/primefaces/Messages_ru.properties:35: Line is longer than 160 characters (found 315). [LineLength]
...

See: https://github.com/stolp/primefaces-1/commit/54336cf3e32a2e213

[2021-03-22 09:02] jepsar commented on #7149
@stolp https://stackoverflow.com/questions/2362652/excluding-classes-in-maven-checkstyle-plugin-reports

[2021-03-22 11:03] tandraschko commented on #7149
isnt there a way to pass the encoding in MessageFactory? Maye use Properties instead of ResourceBundle?
i would like to stay with UTF8 if possible.

[2021-03-22 11:10] #7142 closed, assigned to melloware

[2021-03-22 11:53] melloware commented on #7149
Yep I think I have a fix for this...

[2021-03-22 12:37] carlbradwell17 opened #7151 "FileUpload : Ajax broken when BlockUI present"
**Describe the defect**
When FileUpload and BlockUI components are in the same page, any Ajax operation by FileUpload will throw a JavaScript exception and the file upload will fail.
I.e. if mode="simple" and auto="true", or if mode="advanced", Ajax is utilized and will trigger this error.
When mode="simple" and auto="false", the exception is not thrown and file is uploaded OK. Likewise, removing

[2021-03-22 12:52] jarciano opened #7153 "Sidebar: Components z-index behind control"
**Describe the defect**
When trying to use the DatePicker or autoComplete components within the sidebar they do not work, Another problem is that when adding a form with several fields the sidebar does not create a scroll.

**Environment:**
 - PF Version: _8.0.7_
 - Affected browsers: _Chrome, iOS, ALL_

**To Reproduce**
Steps to reproduce the behavior:

Just add within a page the button that will

[2021-03-22 12:54] melloware commented on #7153
What happens if you set baseZIndex="1000" ?

[2021-03-22 12:55] jarciano commented on #7153
@melloware did the test to remove **baseZIndex="10000"** and the component apparently worked.

[2021-03-22 12:56] melloware commented on #7153
Yes I think the example should not show it at 10,000.  PF starts all zindex at 1000 so your DatePickers etc will get 1002, 1003 etc and be above the Sidebar.

[2021-03-22 12:57] jarciano commented on #7153
Really, even with baseZIndex="1000" the problem continues.

[2021-03-22 12:58] melloware commented on #7153
hmmm OK let me look.

[2021-03-22 13:06] Ponferson opened #7154 "Dialog: resizeable not working"
**Describe the defect**
resizeable is broken.

**Reproducer**
Just have a look in the showcase.
www.primefaces.org/showcase/ui/overlay/dialog.xhtml
The basic dialog with resizeable does not work.

**Environment:**
 - PF Version: 10

[2021-03-22 13:09] stolp commented on #7149
This is indeed the better solution. I will drop my work on a pull request.

[2021-03-22 13:12] melloware commented on #7151
This will fix you up for now just add this JS to your application...
[code]

[2021-03-22 13:19] melloware commented on #7154
The theme.css is doing this for some unexplained reasoned.
[code]
If you go into Chrome and uncheck it the resizing works fine!
![image](https://user-images.githubusercontent.com/4399574/111995762-abdaeb80-8aef-11eb-9940-05383de55cca.png)

[2021-03-22 13:44] melloware commented on #7154
To fix this right now add this CSS to your application to override the theme.css
[code]

[2021-03-22 13:46] melloware commented on #7153
Ahh I think the `baseZIndex` should only be used with `dyanmic="true"` to lazy load the sidebar until its clicked on.  Can you try that?

[2021-03-22 13:52] melloware commented on #7154
OK if you use `responsive="true"` and remove this style the dialog is messed up.  I think there is some definite theme work that needs to happen here.

[2021-03-22 14:10] Ponferson commented on #7154
I think the dialog still needs a background. When I change the style classes in the showcase, the enlarged background is transparent. In addition, the dialog content decreases in size after a vertical reduce.

[2021-03-22 14:12] melloware commented on #7154
Try giving the dialog a starting height and width like `height="300" width="300"` .

[2021-03-22 14:17] melloware commented on #7154
There definitely looks like some theme work is needed to fix this.

[2021-03-22 14:29] melloware commented on #7154
Try and add this style as well:
[code]

[2021-03-22 15:19] jarciano commented on #7153
It didn't work, see that I added `dyanmic="true"` and even then the components don't work.

[code]

https://www.loom.com/share/97e63b60f7a747c29818ee8baa771dd9

[2021-03-22 15:22] melloware commented on #7153
ok so baseZindex is a problem no matter what.  I will have to see why that property is even there.

[2021-03-22 15:25] melloware commented on #7087
@GedMarc I think the problem is you can't just change the header.  I think it might be that the XML needs to be changed to conform to the stricter schema.  I know in IntelliJ I get errors when I just change the XSD.

[2021-03-22 15:32] GedMarc commented on #7087
I've created a release on 10.0 with the change that's' working nicely - picks up runs and everything (Mojarra), as my base is jakarta namespaced i dont really need to worry about the backwards compatibility ;)

https://mvnrepository.com/artifact/com.guicedee.services/primefaces/1.1.1.2-jre15

IntelliJ and Eclipse pick up nicely, haven't found any issues so far (besides for jstl not being read at a

[2021-03-22 15:35] GedMarc commented on #7087
ref to wait for the jsp/jstl namespace finalization decision - https://github.com/eclipse-ee4j/jstl-api/issues/144

[2021-03-22 15:36] melloware commented on #7153
I dont ses how this would ever work since it does this every time it shows the sidebar:
[code]

[2021-03-22 16:46] jarciano commented on #7153
And in the case of scrolling the content inside the sidebar any solution?

[2021-03-22 16:51] melloware commented on #7153
Sorry can you use a ScrollPanel with height and width set to 100%.
https://www.primefaces.org/showcase/ui/panel/scrollPanel.xhtml

[2021-03-22 16:52] fanste commented on #2068
We are currently observing the same problem in PF 8. Yet untested with PF 10.

It seems that a `p:commandLink` inside `p:columns` inside `p:columnGroup` is not working. Not working means, that the request is sent to the server but it doesn't seem to invoke the decode method of the `p:commandLink`.

I will investigate this tomorrow. Find a reproducer below.

[code]

[code]

[2021-03-22 17:33] jarciano commented on #7153
It really worked, did it that way is correct? `<p:scrollPanel mode="native" style="width:100%;height:100%">`

Now I would like to remove the contour line from the panel that was created
https://gyazo.com/8a433fbc03eb0436ef0424992d8d323b

[2021-03-22 17:36] melloware commented on #7153
[code]

[2021-03-22 17:44] jarciano commented on #7153
I prefer to work directly on the component, and it worked just by adding `border: none;`
`<p:scrollPanel mode="native" style="width:100%; height:100%; border:none;">`

[2021-03-23 09:03] mertsincan opened #7156 "AutoComplete with event change and forceselection is not working as expected"
Reported By PRO User;

It can behave like HTML input element.

[2021-03-23 09:03] #7151 closed, assigned to melloware

[2021-03-23 09:05] #7156 closed, assigned to mertsincan

[2021-03-23 09:11] carlbradwell17 commented on #7151
@melloware thank you, the workaround works OK.

[2021-03-23 09:41] #7149 closed, assigned to melloware

[2021-03-23 11:23] melloware commented on #2068
Hmm it would be interesting if you could try it with a PF Test Reproducer and see if this is fixed in 10?

[2021-03-23 13:09] fanste commented on #2068
Tested with PF 10 and the bug still exists. Narrowed it down to https://github.com/primefaces/primefaces/blob/d4ce8fccc8d72627c350847cad911428dcff732c/src/main/java/org/primefaces/component/api/UIData.java#L788-L796
which only checks for `Column` but not for `Columns`. I will try to implement a fix

[2021-03-23 13:12] melloware commented on #2068
I reopened the ticket and assigned to you.  Thanks!

[2021-03-23 13:30] fanste commented on #2068
PR #7159

[2021-03-23 13:36] #2068 closed, assigned to fanste

[2021-03-23 13:38] #7101 closed, assigned to jepsar

[2021-03-23 13:52] #7145 closed, assigned to nobody

[2021-03-23 14:17] AndrewG10i opened #7160 "Datatable: Lazy Sorting doesn't work when STATE_SAVING_METHOD=client (PF 10.0.0)"
**Describe the defect**
After switching from PF 8.0.7 to PF 10.0.0 noticed that sorting doesn't work at all (method `load(int first, int pageSize, Map<String, SortMeta> sortMap, Map<String, FilterMeta> filters)` always receives empty sortMap).

It turned out that by changing STATE_SAVING_METHOD from client to server - resolves the issue, and sorting start working properly on the datatable with laz

[2021-03-23 14:18] #10 closed, assigned to nobody

[2021-03-23 14:18] #7018 closed, assigned to gako

[2021-03-23 14:19] melloware commented on #7160
Duplicate of https://github.com/primefaces/primefaces/issues/6987

[2021-03-23 14:19] #7160 closed, assigned to nobody

[2021-03-23 14:28] buunsal opened #7161 "OutputPanel: loading gif does not take style and it looks low resolution"
Outputpanel currently uses gif for loading icon and it can be changed with primeicons spinner. So we will able to change color size etc. And there will be a smooth loading icon.

[2021-03-23 15:08] tandraschko opened #7163 "Exporter: code looks weird"
See: https://github.com/primefaces/primefaces/pull/7017#issuecomment-804979792

[2021-03-23 15:15] tandraschko commented on #7163
@ravihariharan  please see my questions in the linked ticket and come back

[2021-03-24 07:43] CGSUser1 opened #7164 "Datatable: Lazy Loading and sort listener in wrong call order"
**Describe the defect**
When I use a sort listener in a datatable with lazy loading, the load method is called before the sort listener method. It works fine with a page listener.

**Environment:**
 - PF Version: _10.0_
 - JSF + version: _MyFaces 2.3.6_
 - Affected browsers: _Chrome_

**To Reproduce**
Steps to reproduce the behavior: There is no showcase. See the code below.

**Expected behavior**

[2021-03-24 08:08] #7161 closed, assigned to buunsal

[2021-03-24 08:24] mertsincan opened #7165 "Add partialUpdate attribute to DataTable"
| Name | Default | Type | Description
| ---| --- | --- | --- |
| partialUpdate | true | Boolean  | When disabled, it updates the whole table instead of updating a specific field such as body element in the client requests of the dataTable. Default is true.

Note: When disabled, it updates the whole table for _Sorting_, _Filtering_, and _Page_ events.

Details; https://github.com/primefaces/primefa

[2021-03-24 08:29] tandraschko commented on #7165
@mertsincan its still called autoUpdate currently

[2021-03-24 11:55] #7165 closed, assigned to mertsincan

[2021-03-24 11:57] mertsincan commented on #7165
Fixed now.

[2021-03-24 12:11] tandraschko commented on #7165
looks better :) just did a small cosmetics on the request param (the opposite of "partial update" is "full update")

[2021-03-24 12:17] mertsincan commented on #7165
Thanks @tandraschko, the "fullupdate" word didn't sound nice to me, so I used the "rerender" word :)

[2021-03-24 12:53] mertsincan commented on #1178
Fixed in https://github.com/primefaces/primefaces/issues/7165. Please use partialUpdate="false" for this issue.

[2021-03-24 12:53] #1178 closed, assigned to mertsincan

[2021-03-24 12:54] melloware commented on #7164
@Rapster does this go back to the point that these features are not in a ordered Map so its random not predictable order that was reported before?

[2021-03-24 13:16] Rapster commented on #7164
Current scenario sounds good to me. Though, features has always been decoded before behaviors so I'm kinda surprised it didn't work that way in 8.0

[2021-03-24 13:32] melloware commented on #7075
@cadubad or anyone else can you try this MonkeyPatch by adding this JS to your app and testing again and see if the mobile browser works?
[code]

[2021-03-24 14:41] cadubad commented on #7075
Hi @melloware

It seems to have solved it.

I encountered a similar problem. When I use OverlayPanel with some input inside it, it is closing on its own. Should I open another case?

https://www.youtube.com/watch?v=Pda6RL6sEo8

[2021-03-24 14:46] melloware commented on #7075
Hang on let me have you try another snippet here and if it works I will just update this ticket to be more inclusive.

[2021-03-24 15:05] melloware commented on #7075
Try this...
[code]

[2021-03-24 15:19] cadubad commented on #7075
In the first test it didn't work.

so I changed the second line for this (based on your first code):

`PrimeFaces.widget.OverlayPanel.prototype.bindPanelEvents = function() {`

And it worked!

Thanks!

[2021-03-24 15:39] melloware commented on #7075
My bad was in a hurry.

[2021-03-24 15:55] cadubad commented on #7075
So far everything is working perfectly. Thanks for the quick feedback!

[2021-03-24 19:32] melloware opened #7166 "DataExporter: Excel export use currency data type for currency data"
**Description**
Similar to https://github.com/primefaces/primefaces/issues/6648

When using Currency in a table export it to excel as a currency cell.

![image](https://user-images.githubusercontent.com/4399574/112372368-16d61f00-8cb6-11eb-8e1c-9d3adc4b0cca.png)

Reported by @willbigas on Discord

[2021-03-25 12:07] ufukarmagan opened #7167 "Datatable: liveScroll not working when inside OverlayPanel"
Datatable liveScroll not working when inside OverlayPanel

**Reproducer**
Datatable liveScroll (inside OverlayPanel) worked on PF 8, but after upgrading PF10, it's not working.

 - PF Version: 10
 - JSF + version: 2.2
 - Affected browsers: ALL

[2021-03-25 12:08] ufukarmagan commented on #7167
any workarounds will be welcome

[2021-03-25 12:38] melloware commented on #7167
When you say its not working can you be more specific or provide a PrimeFaces Test reproducer please?

[2021-03-25 12:57] ufukarmagan commented on #7167
At PF8, when I open overlay, first datatable's 10 rows fetched, then other 10 rows fetched when scrolling inside overlayPanel, so liveScroll worked.
At PF10, still first 10 rows fetching, but when scrolling inside overlayPanel this time nothing happen,
![overlay_defect](https://user-images.githubusercontent.com/17969359/112476280-c973b380-8d82-11eb-8238-2ae7caaa0abe.PNG)
so other rows not fetching

[2021-03-25 14:20] melloware commented on #7167
Something tells me the calculation of determining that the scroll has changed to fire the load has changed.  Possibly Jquery change or something else...
[code]

[2021-03-25 14:21] melloware commented on #7167
would be great if you could debug.

[2021-03-25 16:12] tetzla opened #7170 "SelectCheckBoxMenu: Invalid DOM (WCAG conformity)"
**Description**

The serialized DOM of the selectCheckboxMenu component does not fulfill the "Web Content Accessibility Guidelines (WCAG)" (see https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0#qr-ensure-compat-parses).

**Reproducibility**

1.	Add bookmarklets "Check serialized DOM of current page" and "Check for WCAG 2.0 parsing compliance" from https://validator.w3.org/nu/about.html to brows

[2021-03-25 16:14] melloware commented on #7170
PR is welcome

[2021-03-25 16:18] melloware commented on #7170
These two `label` and `group-label` probably need to be `data` attributes not regular attributes.

[2021-03-26 09:34] tetzla opened #7172 "GMap: Invalid DOM (WCAG Conformity)"
**Description**

The serialized DOM of the GMap component does not fulfill the "Web Content Accessibility Guidelines (WCAG)" (see https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0#qr-ensure-compat-parses).

**Reproducibility**

1. Add bookmarklets "Check serialized DOM of current page" and "Check for WCAG 2.0 parsing compliance" from https://validator.w3.org/nu/about.html to browser favorites.

[2021-03-26 11:17] #7170 closed, assigned to melloware

[2021-03-26 11:50] melloware commented on #7172
Unfortunately there is nothing PrimeFaces can fix about this.  This element...
[code]

with the invalid `controlwidth="40" controlheight="113"` is generated by the Google Maps JS code itself and not by Primefaces.  I suggest you open a ticket on the Google Maps issues. You want to go here: https://developers.google.com/maps/support#issue_tracker

And pick the Bug Report for "Maps JavaScript API".

[2021-03-26 11:50] #7172 closed, assigned to nobody

[2021-03-26 11:56] melloware commented on #7170
@tetzla Appreciate the reports.  Keep them coming if you find others!

[2021-03-26 16:28] tetzla commented on #7172
Thanks for the information. I've created a Google bug report.

[2021-03-26 16:40] tetzla commented on #7170
Thanks for your fast solution!

[2021-03-26 16:44] melloware commented on #7172
Can you post a link to your ticket here so I can follow it?

[2021-03-26 16:46] tetzla commented on #7172
https://issuetracker.google.com/issues/183690333

[2021-03-26 16:58] zhedar opened #7174 "DatePicker: dialog redisplays, if datePicker is updated via ajax request"
**Describe the defect**
If the datePicker itself is updated via `<p:ajax event="dateSelect" update="@form"/>`, the date picker dialog doesn't properly hide or seems to open up again instantly. Another click is needed to lose focus and hide the date dialog. This behaviour doesn't happen, if `p:calendar` is used.

![calendarDatepicker](https://user-images.githubusercontent.com/6633403/112666090-12e4

[2021-03-26 17:04] melloware commented on #7163
@tandraschko I just updated a showcase example for Grouped Datatable that shows it exporting two datatables.

[code]

For XLS download it puts each Datatable in its own Excel Sheet in the download.

[2021-03-26 17:08] melloware commented on #7174
@zhedar can you try it with `focusOnSelect="true"` so like

[code]

Or with `hideOnDateTimeSelect="true"`...
[code]

[2021-03-26 17:14] melloware commented on #7174
I can't reproduce.
[pf-7174.zip](https://github.com/primefaces/primefaces/files/6213353/pf-7174.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2021-03-26 17:46] zhedar commented on #7174
Sorry, I should have provided the Java code as well.

This does happen, when a Date without time is used.
try
`private LocalDate localDate;` instead of `LocalDateTime`
and
[code]

[2021-03-26 17:51] melloware commented on #7174
Yep I see it now.

[2021-03-26 18:24] melloware commented on #7174
OK try this script just add it to your project. Make sure you have `focusOnSelect="false"` on your DatePicker.

[code]

[2021-03-26 18:27] melloware commented on #7174
Here is a patched reproducer showing its fixed:
[pf-7174.zip](https://github.com/primefaces/primefaces/files/6213675/pf-7174.zip)

[2021-03-26 19:13] melloware commented on #7164
Linking to this ticket which is related: https://github.com/primefaces/primefaces/issues/6690

[2021-03-26 19:13] melloware commented on #6690
See: https://github.com/primefaces/primefaces/issues/7164

[2021-03-26 19:46] SirError opened #7176 "Datepicker: Change event is not called when using mask="true""
**Describe the defect**
The ajax "change event" is not called when the date is type istead of being selected.
The behaviour should be the same as the other inputs, the value of the input is changed and the user leaves the field,  the event is called.
Calendar works like this.

**Environment:**
 - PF Version: 10.0
 - JSF + version: _e.g. Mojarra 2.2.14
 - Affected browsers:  ALL_

**To Reproduce**

[2021-03-26 20:08] melloware commented on #7176
Can you try it with `mask="false"`.  I think its the mask that is eating the change events.

[2021-03-26 20:30] SirError commented on #7176
Yeah, you are right,
with mask="false" it works,
but I need the mask, :/
would it be possible to keep the mask and have the change event?

[2021-03-26 20:32] melloware commented on #7176
I have a feeling its a problem with the InputMask component not triggering the change: https://github.com/RobinHerbots/Inputmask/issues

So if I have 10/10/2021 and then I remove the last 1 and make it 2 so 2022 its not triggering the change.  Its like once the mask is complete its not firing a change.

[2021-03-26 22:44] zhedar commented on #7174
I can confirm, that this works great. Thanks for your quick action!

As `focusOnSelect` is `false` by default, this doesn't require any further configuration.

[2021-03-26 23:38] arjantijms commented on #6964
I am actually somewhat disappointed myself too :( From being one of the many contributors to Mojarra, I'm suddenly pretty much the only one. If you want I can nominate you though to become committer, so it's not essentially me who's the bottleneck. Let me know if interested.

Btw, on the issue of resetting EL vars in general, almost a decade ago I also created issues for this, but with Mojarra and

[2021-03-27 07:55] tandraschko commented on #6964
+1 for melloware and christoph78 as commiter ✌️

[2021-03-27 12:30] melloware commented on #6964
Yes @arjantijms  we appreciate all your work and know how busy you are but myself and @christophs78 would not mind being added as committers so we can help out!

[2021-03-27 13:00] melloware commented on #7176
The weird part is it seems to be working with this JSFiddle: https://jsfiddle.net/ucatw6k1/1/

[2021-03-28 14:52] jepsar commented on #7126
Maybe a standard input with some pass throughs will do instead of reimplementing the UI of this component. See https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time

[2021-03-28 14:55] melloware commented on #7126
Well that input looks like its just for Time Input?

[2021-03-28 14:58] melloware commented on #7126
Maybe a new `InputTime` component?

[2021-03-28 14:59] jepsar commented on #7126
No, not at all.. and it is browser dependent. Wasn't thinking of building it into this component, but to use it as an alternative.

Can find any good, modern time pickers.. have been looking for quite a while now.

Something like this would be nice https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time#handling_browser_support

[2021-03-28 15:01] melloware commented on #6445
@fanste I think we have a similar issue now with the onchange event. See: https://github.com/primefaces/primefaces/issues/7176

[2021-03-28 15:04] melloware commented on #7126
Actually I think you can use this now like this...
[code]

[2021-03-28 15:06] jepsar commented on #7126
Yeah, with some pass throughs.

This would be nice if it looked good on retina screens https://github.com/loebi-ch/jquery-clock-timepicker

[2021-03-29 08:52] jepsar commented on #7126
Oh no.. I was commenting at the wrong issue! Sorry for the noise.. Comments should have been on https://github.com/primefaces-extensions/primefaces-extensions/issues/283

[2021-03-29 11:55] melloware commented on #7167
@ufukarmagan Can you put together a reproducer using PF Test so I can debug the issue?
See: https://github.com/primefaces/primefaces-test

[2021-03-29 12:22] melloware commented on #7153
Decided since this property has value in certain circumstances to just update the documentation to provide more clarity on this attribute.

[2021-03-29 12:55] melloware commented on #7172
Looks like the issue has been moved here and Google has been slowly working on Accessibility issues over the last 3 years.

See: https://issuetracker.google.com/issues/69541792

[2021-03-29 13:06] melloware commented on #7164
Wait I thought the Load Method was called in RENDER_RESPONSE phase so how can this be?  The Sort should be called before the load method?

[2021-03-29 13:09] melloware commented on #6877
@milansie Why not just overwrite the wigdet method and CSS to do this by default in your application?

[2021-03-29 13:25] Rapster commented on #7164
Oh I get how it was working in 8.0, indeed sort was called in RENDER_RESPONSE phase, that would explain why sort listener was called before load actually happen.

[2021-03-29 14:17] ufukarmagan commented on #7167
I've been forked PF Test project for demonstrating this issue. Link: https://github.com/ufukarmagan/primefaces-test

[2021-03-29 17:54] melloware commented on #7167
Can you add this JS to your application and test it.  It should fix the problem.

[code]

[2021-03-29 18:01] SirError commented on #6987
is there any workaround for this case besides changing the state saving method to server?

[2021-03-29 19:03] melloware commented on #7176
OK it was a bug in the Plugin. I just tested it with the latest InputMask and its firing every time.  Here is a patched version of your reproducer:
[pf-7176.zip](https://github.com/primefaces/primefaces/files/6223901/pf-7176.zip)

[2021-03-29 19:57] SirError commented on #7176
Hum, almost.
I noticed that it's calling the event even when I don't change the value.
So, it's acting like "blur" instead of "change"

[2021-03-29 20:10] melloware commented on #7176
I am not seeing that.  Its only firing your change if the value actually changes?

[2021-03-29 20:20] melloware commented on #7176
OK I simplified your test case.  the two DatePicker and Calendar both bound to the same listener and value is what was throwing it off.
[pf-7176.zip](https://github.com/primefaces/primefaces/files/6224312/pf-7176.zip)

This simplified test case shows its still not working with just DatePicker.

[2021-03-29 20:26] melloware commented on #7176
OK its a regression caused by this issue: https://github.com/primefaces/primefaces/issues/6445

@fanste if I flip flop the lines back then the onchange event in this reproducer works.

[2021-03-29 20:36] melloware commented on #7176
OK I think I have a fix for all scenarios I am working on.

[2021-03-30 07:27] ufukarmagan commented on #7167
Yes, it fixed the problem, thanks for supporting.

[2021-03-30 07:32] tandraschko commented on #7167
reopened because still not commited in PF codebase

[2021-03-30 07:32] #7153 closed, assigned to melloware

[2021-03-30 09:45] DazzlingBob opened #7181 "PF 10 filter: dropdown values in datatable row reset after filtering"
**Environment**
PrimeFaces version: primefaces 10.0.0
Application server: Jetty 9.4.46 + version: Mojarra-2.3

**Expected behavior**
The country dropdowns in a datatable row must always keep its value after whatever filtering.

**Actual behavior**
The country dropdowns in a datatable row are all reset to "Choose item".

**Steps to reproduce**
When filtering a country which is not in the datatable

[2021-03-30 11:21] christophs78 commented on #7181
Sounds like https://github.com/primefaces/primefaces/issues/7026

[2021-03-30 11:39] melloware commented on #7181
Duplicate of #7026 right now unless Mojarra fixes it switching to Myfaces is the only way to fix it.

[2021-03-30 11:39] #7181 closed, assigned to nobody

[2021-03-30 12:10] melloware commented on #7176
OK try this patched version. All fixes are in the `test.js` file.
[pf-7176.zip](https://github.com/primefaces/primefaces/files/6228888/pf-7176.zip)

@fanste This also fixes #6445

[2021-03-30 12:10] DazzlingBob commented on #7181
I am a little puzzled?
It works fine in my project using mojarra-2.3 and primefaces 8+
When i upgrade to primefaces 10 it breaks.

And the only option is to switch to myfaces? (or keep using primefaces 8+)
So primefaces 10 is only compatible with myfaces?

[2021-03-30 12:14] melloware commented on #7181
No this bug is a core Mojarra bug. So you need Mojarra to debug and fix the issue.  PrimeFaces 10 was refactored heavily to fix so many issues with the datatable.  It ended up exposing this Mojarra bug.   So while it worked in PrimeFaces 8 it was not correct.

[2021-03-30 12:16] melloware commented on #7181
@DazzlingBob what you can do is put together a reproducer and report it on Mojarra like I did with this ticket here: https://github.com/eclipse-ee4j/mojarra/issues/4680

[2021-03-30 16:34] christophs78 commented on #7026
Overall this is far away from ideal. It may cause people loosing data. Think of someone who first set´s a filter and saves data without looking what happened.
Even if it´s a Mojarra bug. To someone without in depth-knowledge it look´s like the overall package is bad.

[2021-03-30 16:46] giulianoc opened #7184 "video-js does not work with Primefaces 10"
Hi,
I have a simple xhtml page with a video-js tag:
[code]

Using Primefaces 8.0.2, the video tag works fine, the player starts and play the video correctly.

Using Primefaces 10.0.0, the video tag does not work and console provides the following errors:

Uncaught TypeError: v.setTimeout is not a function
    at _t (video.min-7.3.0.js.xhtml:12)

Uncaught TypeError: Cannot read property 'mergeOptio

[2021-03-30 16:53] melloware commented on #7184
Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2021-03-30 17:10] melloware commented on #7184
I think both your issues are related to VideoJS

v.setTimeout issue: https://github.com/videojs/video.js/issues/5758

The issue is still open and lots of people getting this error.

[2021-03-30 17:59] christophs78 commented on #7026
@Dazzlingbob: Did some debug-work on this, based on our integration-tests.
I looked what happens after https://github.com/primefaces-extensions/primefaces-integration-tests/blob/master/src/test/java/org/primefaces/extensions/integrationtests/datatable/DataTable009Test.java#L162.

MyFaces:
![DataTable_7026_MyFaces](https://user-images.githubusercontent.com/10461942/113034308-3d9ec480-9192-11eb-9dd6

[2021-03-30 19:21] christophs78 commented on #7026
Did some more debugging why it behaves different with Mojarra compared to MyFaces.

When DataTable has a filter which results in no rows a empty list is put as value into StateHelper.
![image](https://user-images.githubusercontent.com/10461942/113043378-a5f2a380-919c-11eb-83f6-61adf737bd21.png)

One request-cycle later - on Mojarra - it´s not a empty list any more. Instead it´s null. And null caus

[2021-03-30 20:30] christophs78 commented on #7026
Think i figured it out:
https://github.com/eclipse-ee4j/mojarra/blob/2.3.14-RELEASE/impl/src/main/java/javax/faces/component/UIComponentBase.java#L1337
Empty lists get discarded during UIComponentBase#saveAttachedState. (Only lists which contain at least one entry are saved.)

[2021-03-30 20:36] melloware commented on #7026
Wonder if this line...

[code]

Should be ...
[code]

or
[code]

But I think the 2nd one makes it n unmodifiable list.

[2021-03-30 20:41] christophs78 commented on #7026
MyFaces does not check (indirect) for empty list´s and discards them
https://github.com/apache/myfaces/blob/myfaces-core-module-2.3.8/api/src/main/java/javax/faces/component/_DeltaStateHelper.java#L700

[2021-03-30 20:45] christophs78 commented on #7026
Yeah. resultList should be initialized independent of having items within the list. At least from this perspective and to align it with MyFaces.
But why has Mojarra this pretty complicated code? Trying to optimize things?

[2021-03-30 21:25] christophs78 commented on #7026
This part of Mojarra-code did not change over the last 10 years. Even 2.0.4 is like today https://github.com/javaee/mojarra/blob/2.0.4/jsf-api/src/main/java/javax/faces/component/UIComponentBase.java#L1542.
I´ll do a Mojarra-PR to change this. Maybe tomorrow.

[2021-03-31 09:20] fanste commented on #7176
I will test this in my application as soon as I find some time for it.
Thanks for improving the fix. I totally agree with you (PR message), that no time should be wasted for IE anymore (even our company has switched to MS Edge Chome and our IT is really slow 😉)

[2021-03-31 09:34] milansie commented on #6877
@melloware Hi, of course I have done that. I just thought, that default behaviour is not 100% correct (if overlay panel renders outside of the screen) and should be changed. But decision is on you, I don't insist :) I'm satisfied with workaround solution :)
Have a nice day

[2021-03-31 12:34] jepsar opened #7186 "DatePicker: rangeSeparator split can conflict with date part separator"
https://github.com/primefaces/primefaces/blob/4b74f0f75a2beb4a7915a0b12298ebc413b90958/src/main/java/org/primefaces/component/datepicker/DatePickerRenderer.java#L305-L314

With default range separator and ISO date format you will get the following string value for all days in March 2021 (in this case, Dutch format): `01-03-2021 - 31-03-2021`. Split by `-`:

<img width="700" alt="Screenshot 2021-03

[2021-03-31 12:41] melloware commented on #7186
@Rapster thoughts?

[2021-03-31 12:42] jepsar commented on #7184
Ha, we also use video-js with PF8.. subscribing

[2021-03-31 13:03] melloware commented on #7184
If someone creates a small reproducer i can look at it and try and see what is causing it but it definitely seems to be a JS conflict.

[2021-03-31 14:16] giulianoc commented on #7184
Hi,
attached find the xhtml file where the video tag is not working using PF 10.
To make it working I rollbacked to PF 8 even if I'd like to use PF 10.

Best regards
giu

On Wed, Mar 31, 2021 at 3:03 PM Melloware ***@***.***> wrote:

[2021-03-31 14:26] melloware commented on #7184
There is no attachment. it didn't come through.

[2021-03-31 14:36] giulianoc commented on #7184
Hi,
I renamed recorder.xhtml to recorder.txt and attached again.
In case you still do not receive it, I copied it below in this email.
Best regards
giu

------------------------

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core

[2021-03-31 14:51] melloware commented on #7184
A runnable sample would be preferable. Please create using PrimeFaces Test... I can't reproduce your code above because I have NONE of our Java classes and code.

[2021-03-31 16:34] tetzla opened #7187 "DataTable: Invalid DOM (Incorrect Order of Body and Footer)"
**Description**

The serialized DOM of an EMPTY DataTable does not fulfill the "Web Content Accessibility Guidelines (WCAG)" (see https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0#qr-ensure-compat-parses). The footer element ist followed by the body element:

![HTML Check](https://user-images.githubusercontent.com/81367382/113178515-f62a3e00-924e-11eb-9580-980feecc3d46.png)

**Reproducibility**

[2021-03-31 16:46] melloware commented on #7187
Attached is my reproducer:
[pf-7187.zip](https://github.com/primefaces/primefaces/files/6238121/pf-7187.zip)

I am not seeing that....here is the HTML rendered in the DOM:
[code]

[2021-03-31 17:09] melloware commented on #6640
Actually the more i think about this maybe it should handle this.  reopening.

[2021-03-31 17:31] melloware commented on #7186
What happens if you just use a custom range separator like tilde `rangeSeparator="~"` ??

[2021-03-31 18:22] jepsar commented on #7186
That's basically what I did to temporarily fix it. I used a long / em hash instead of a regular hash. Try using a regular expression special character as separator ;-)

You can assign this issue to me if you like.

[2021-03-31 18:28] melloware commented on #7186
Done!

[2021-04-01 06:55] miedrl commented on #7187
@melloware Please try out the following code to reproduce the error:
![emptyTable](https://user-images.githubusercontent.com/77431692/113255260-e7cc3880-92c7-11eb-8d8d-4a1cde0121a3.png)

[2021-04-01 06:55] jepsar commented on #7187
Isn't this a duplicate of #6301 ?

[2021-04-01 08:12] tetzla commented on #7187
I agree, it is a duplicate of  #6301.

I'm little bit confused about the release strategy:

https://github.com/primefaces/primefaces/releases -> Why is there no release 9?
https://www.primefaces.org/store/elite.xhtml -> When will the next Elite release be published?

[2021-04-01 09:21] jepsar commented on #7187
9 is skipped https://www.primefaces.org/introducing-primefaces-10-the-nextgen

Elite was released last week https://www.primefaces.org/primefaces-7-0-20-and-8-0-8-released/ previous release was 2 months ago

[2021-04-01 11:03] tetzla commented on #7187
Is there a planned date for Elite 10 or even 11?

[2021-04-01 11:47] melloware commented on #7187
10 you can get right now from Maven Central.
[code]

10.0.1 will most likely be the first Elite release but eveyrone is on public 10.0.0 right now.

[2021-04-01 11:48] #7187 closed, assigned to nobody

[2021-04-01 11:48] melloware commented on #7184
Going to close this as invalid unless someone can prove to me its a PF issue...

[2021-04-01 11:53] melloware commented on #7187
@tetzla that is why I provided the runnable reproducer above on 10.0.0.  If you had run `mvn clean  jetty:run` with my attached reproducer you would see its working.  That is why we request these little reproducers before reporting bugs.

[2021-04-01 12:06] jepsar commented on #7184
I'm currently not scheduled on the application with video-js, but I think I will be soon though as they have some new requirements. I want to update that application to PF10 primarily due to the jQuery upgrade. I'll have a look then.

By the way, there is no `window.default` in PF: https://github.com/primefaces/primefaces/search?q=window.default
Showcase console:

[2021-04-01 19:14] gernansoares commented on #7075
Even after I apply this monkey patch, datePicker is still closing automatically on mobile when trying to navigate months, is there any other option? Monkey patch really worked for SelectOneMenu, OverlayPanel and SelectCheckboxMenu, but not worked for datePicker

I tried using:

Galaxy S10
Galaxy S8
Galaxy A51

[2021-04-01 19:17] melloware commented on #7075
I didn't MonkeyPatch DatePicker which explains why this didn't fix it.  Give me a few minutes I will see if I can provide a patch to try.

[2021-04-01 19:25] gernansoares commented on #7075
Yeah I know that, just thought it could be fixed by fixing the overlay, my mistake

[2021-04-01 19:31] melloware commented on #7075
Try this MonkeyPatch...
[code]

[2021-04-01 19:37] gernansoares commented on #7075
Worked like a charm, thank you so much

[2021-04-01 19:37] melloware commented on #7075
no problem I updated my PR with this.

[2021-04-01 20:20] SirError commented on #7176
It's working now, thanks a lot :)

[2021-04-02 05:48] jepsar commented on #7184
Okay, just did a quick and dirty upgrade to 10 just for the sake of testing the video, and it is working for us.

Video.js 7.3.0, http-streaming 1.13.1

[code]

[code]

[code]

[2021-04-02 07:23] stefan-dan commented on #6425
@melloware please update the wiki, there is written "_PDF can now be set in Portrait Mode..._", I think it should be Landscape Mode. https://primefaces.github.io/primefaces/10_0_0/#/../migrationguide/10_0_0?id=dataexporter

[2021-04-02 07:34] giulianoc commented on #7184
Hi,
can I try your fix?

In my pom I'm using:

<repository>
    <id>prime-repo</id>
    <name>Prime Repo</name>
    <url>http://repository.primefaces.org</url>

</repository>

<dependency>
    <groupId>org.primefaces</groupId>
    <artifactId>primefaces</artifactId>
    <version>10.0.0</version>
</dependency>

Should I change something?

Best regards
Giuliano

On Fri, Apr 2, 2021 at 7:48 AM Jasper

[2021-04-02 07:51] jepsar commented on #7184
There isn't really a thing as "my fix". I just upgraded to PF10 and it worked. I already posted the relevant code and version numbers that we are using.

[2021-04-02 09:16] buunsal opened #7190 "DataTable: Radiobutton Selection - icon remains selected when unselect with shift key"
![image](https://user-images.githubusercontent.com/45278820/113402140-3acbeb80-93ad-11eb-936b-8b9cecacc844.png)

[2021-04-02 09:20] #7190 closed, assigned to buunsal

[2021-04-02 10:38] zakhdar opened #7192 "DataTable: Sort not working when javax.faces.STATE_SAVING_METHOD is set to client"
**Describe the defect**
Sorting of datatable is not working when javax.faces.STATE_SAVING_METHOD is set to client

**Reproducer**
Tested with Primefaces 10 Showcase  repo from github

**Environment:**
 - PF Version: 10
 - JSF + version: Mojarra 2.3.14.SP02
 - Affected browsers:  Firefox
 - AS : Wildfly 22

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Datable Sort Demo page
2. Click o

[2021-04-02 10:55] melloware commented on #7192
Duplicate of https://github.com/primefaces/primefaces/issues/6987

[2021-04-02 10:55] #7192 closed, assigned to nobody

[2021-04-02 10:56] melloware commented on #6425
Yep you are right.

[2021-04-02 10:59] melloware commented on #6425
Fixed!

[2021-04-02 11:01] melloware commented on #7184
Closing this ticket for now until @giulianoc can provide a reproducer as @jepsar has tested on 10.0.0 and its working fine.  I will reopen if @giulianoc can provide a test case.

[2021-04-02 11:01] #7184 closed, assigned to jepsar

[2021-04-02 11:36] #7022 closed, assigned to gako

[2021-04-02 13:27] stefan-dan opened #7193 "DataTable/TreeTable: GlobalFilter not working with filterable="false""
**Describe the defect**
Global filter works only on p:column that has atribute `filtarable="true"`, but it should work on every column that has `filterBy=""` atribute.
I have a datatable where I need only the global filter, not the column filters. To disable column filter I use `<p:column filterable="false"/>`, but this breaks the GlobalFilter in PF10, in PF8 it works as expected.
I haven't tested

[2021-04-02 16:51] melloware commented on #7193
interesting. So if it is a global search you want it searching all columns but right now we filter only by active or filterable columns assuming you don't want the others checked.

[2021-04-02 18:52] tarwork opened #7194 "PieChart: PieChart code from showcase keeps growing when rendered in the browser"
**Describe the defect**
We are using PF 10.0. I am trying to run the PieChart example from the Showcase in our app. When the piechart is rendered in the browser it keeps growing in size indefinitely.

**Reproducer**
Clone repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to receive an answer and a solution and attach the GitH

[2021-04-02 18:57] stefan-dan commented on #7193
@melloware yes, you can downgrade to PF 8 to see the behaviour I need. Or maybe there is a way to make the column `filterable=true` and to hide the input column filter?

[2021-04-02 19:40] melloware commented on #7193
Yep you can hide the filters with this CSS.
[code]

[2021-04-02 19:42] melloware commented on #7194
I don't understand. it doesn't happen in the Showcase here: https://www.primefaces.org/showcase/ui/chartjs/pie.xhtml
So how I am supposed to reproduce your issue if it doesn't happen in the showcase and your instructions are to copy the showcase code?  Can you provide a runnable PF reproducer to show me the issue?
Provide an executable example using the [PrimeFaces Test](https://github.com/primefa

[2021-04-02 20:03] stefan-dan commented on #7193
Thank you, it is working. It's possible to know if it will be fixed, or should I apply this workaround?

[2021-04-02 20:05] melloware commented on #7193
For now I would apply the workaround because I am not sure if the new behavior is actually the correct one. if I mark a column filterable="false" i would expect it to not be involved in filters.    Becuase then how else will user exclude columns from the global filter?  Marking as workaround and for discussion.

[2021-04-02 20:19] stefan-dan commented on #7193
User can exclude column from global and column filter by removing the `filterBy` attribute. I think that the attribute `filterable` duplicates the meaning of `filterBy` attribute, beacause why you will need to set `filterBy` for a column that you don't want to filter. We can replace `filterable` attribute with something like `columnFilter` or `globalFilter`. But this is only my opinion, thanks for

[2021-04-02 20:49] melloware commented on #7193
because of this example: https://www.primefaces.org/showcase/ui/data/datatable/field.xhtml
Fields sets a whole bunch of defaults and you can turn things off with `filterable="false"` etc.

[2021-04-03 12:33] christophs78 commented on #7194
Maybe it‘s in some way related to your surrounding HTML-code. And maybe some CSS assigned to this HTML.

[2021-04-03 17:57] tarwork commented on #7194
I will try to do a primefaces test project when i have a little more time but let me do a better job of explaining what i have done and what seems to be a work around.

in my xhtml i had something like :

...
[code]
...

My IDE is Netbeans 8 and I am using JDK 8 with Tomcat version 8.0.27. The backing bean code is exactly like in the showcase. When i run my project and go to the xhtml page the pie

[2021-04-04 12:18] melloware commented on #7194
Can't reproduce. Here is a runnable reproducer.
[pf-7194.zip](https://github.com/primefaces/primefaces/files/6254513/pf-7194.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

I don't see the issue.

[2021-04-04 13:58] ciukstar opened #7195 "ThemeSwitcher: Uncaught TypeError: Cannot read property 'eq' of undefined"
**Describe the defect**
[code]
[code]

**Environment:**
 - PF Version: 10.0.0
 - JSF + version: Mojarra 2.3.14
 - Affected browsers: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Any simple example from official documentation
4. See error in browser console

**Expected behavior**
Should display option panel. Instead a "TypeError" is thrown.

[2021-04-04 14:14] ciukstar commented on #1601
Stale

[2021-04-04 14:14] #1601 closed, assigned to nobody

[2021-04-04 15:06] melloware commented on #7195
ThemeSwitcher was deprecated in 10.0.0 and marked for removal in 11.0.0 so it probably won't be fixed.  You should just do this instead.
[code]

See Migration Guide: https://primefaces.github.io/primefaces/10_0_0/#/../migrationguide/10_0_0

[2021-04-04 15:31] melloware commented on #7195
I just added this to the migration guide: https://github.com/primefaces/primefaces/blob/master/docs/migrationguide/10_0_0.md#themeswitcher

[2021-04-04 16:32] ciukstar commented on #7195
The workaround works. Thanks for the quick response.

[2021-04-04 16:32] #7195 closed, assigned to nobody

[2021-04-05 12:07] melloware commented on #7194
OK this explains it: https://www.chartjs.org/docs/latest/configuration/responsive.html#configuration-options

ChartJS are `responsive=true` by default so they are naturally responding to their container size.

[2021-04-05 12:52] tarwork commented on #7194
If the Chart.js team decided to have that as a default I can live with that and adapt it to my needs.

Thank you again.

Will close issue as this is not a bug...

[2021-04-05 12:52] #7194 closed, assigned to nobody

[2021-04-05 18:22] kawoolutions opened #7196 "FileUpload: onupload + oncancel never called in simple mode, oncancel not called in advanced mode"
**Describe the defect**
The fileUpload component has an onupload and oncancel callbacks. In simple mode onupload and oncancel are never called. In advanced mode, oncancel is never called, however onupload is.

**Reproducer**

I have forked the PF test repo and created a branch on my own Github account that I will create a PR from...

**Environment:**
 - PF Version: _10.0_
 - JSF + version: _I used

[2021-04-05 18:24] kawoolutions commented on #7196
A test case PR is here: https://github.com/primefaces/primefaces-test/pull/79

[2021-04-05 18:38] melloware commented on #7196
It looks like its a misunderstanding of what "cancel" is used for.  IT looks like in Advanced Mode it is called when the AJAX upload "fails".

[code]

[2021-04-05 18:44] melloware commented on #7196
And it looks like according to the documentation the ABORT error is thrown for the fail function which is when we are calling the oncancel.

Doc is right here explaining it: https://github.com/blueimp/jQuery-File-Upload/wiki/API#how-to-cancel-an-upload

[2021-04-05 19:05] melloware commented on #7196
**onupload** - is called when pressing the Upload button. See: https://github.com/primefaces/primefaces/issues/6396

Example:
[code]

It gives you a chance to do something like the upload and bring up an "Are you sure?" dialog.

[2021-04-05 19:24] kawoolutions commented on #7196
Indeed. This is really confusing. Thanks for clearing up a couple of things.

[2021-04-05 20:01] #7196 closed, assigned to melloware

[2021-04-05 20:42] #7176 closed, assigned to melloware

[2021-04-06 09:19] Ponferson opened #7199 "Dialog: Button-Icons not correct width"
**Describe the defect**
Icon-Buttons in Dialog-Footer has not correrct width.
The previously set width is correct and is overwritten by the theme.
The theme has the CSS-class "body .ui-dialog .ui-dialog-footer button" with the attribute "width:auto".
**Reproducer**
Clone repository https://github.com/primefaces/primefaces-test

**Environment:**
 - PF Version: 10.0
 - Affected browsers: ALL

**To R

[2021-04-06 12:00] melloware commented on #7199
This is theme related not PF core related so assigning to @mertsincan.

However you can easily fix this yourself with CSS.
[code]

[2021-04-06 12:21] christophs78 commented on #7087
Maybe we need to provide a JAR for JSF3 und one for JSF4, because they have different namespaces.

[2021-04-06 12:35] vulkman opened #7200 "Exporter: Dragged columns incorrect Excel export order"
**Steps to reproduce**

* load a DataTable with DataExporter and draggable columns
* drag a table column
* perform an Excel export

**Expected result**

The Excel file contains the new sequence of column headers with the new sequence of column data.

**Actual result**

The Excel file contains the new sequence of column headers but with the old sequence of column data.

[2021-04-06 12:45] melloware commented on #4135
This is now a first class citizen in Faces 4.0: https://github.com/eclipse-ee4j/faces-api/issues/1568

[2021-04-06 13:31] melloware commented on #7200
I have verified this is an issue and still an issue as far as PF 10.0

[2021-04-06 15:35] wal-jan opened #7201 "Menu: Rendering menus throw ClassCastException if child element is XML comment"
**Describe the defect**
XML comments as child elements of _p:MenuButton_ (and presumably other menu elments) cause a ClassCastException.

**Reproducer**
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/6265793/primefaces-test.zip)

**Environment:**
 - PF Version: _8.0_ _10.0_
 - JSF + version: _ALL_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:

[2021-04-06 15:37] wal-jan commented on #7201
I've already corrected the child element handling an can provide a PR.

[2021-04-06 15:38] melloware commented on #7201
Sure please provide we can review!

[2021-04-06 17:36] XakepSDK opened #7203 "Low FPW animations on Firefox"
**Describe the defect**
Animations have low FPS on Firefox. This happens with all components that have animations

**Reproducer**
1. Open this in Firefox and Chromium or Chrome https://www.primefaces.org/showcase/ui/panel/accordionPanel.xhtml
2. Interact with Accordion elements
3. Growl animation has low FPS https://www.primefaces.org/showcase/ui/message/growl.xhtml
4. https://www.primefaces.org/s

[2021-04-06 17:54] tandraschko commented on #7203
@mertsincan @sqores  something for PrimeTek, related to latest animation changes

[2021-04-06 17:56] XakepSDK commented on #7203
Oh, i forgot to mention, this was happening with PF 8.0 too

[2021-04-06 19:32] melloware commented on #7203
OK then these must be Jquery animations because in 10.0 most things switched to CSS animations but if you are seeing this in 8.0 and 10.0 it must be jQuery animations.

[2021-04-06 19:33] melloware commented on #7203
I am using Firefox 86.0.1 and I am seeing no issues including Growl.  Are you sure the issue is not a plugin you are using in Firefox?

[2021-04-06 20:02] XakepSDK commented on #7203
Thanks for testing. Looks like it's Firefox profile bug.
I have tested on Firefox 88.0b7
1. With extensions - issue present
2. In safe mode (no extension and customizations enabled) - issue present
3. Fresh profile - no issue
4. Re-created my current profile - no issue

[2021-04-06 20:02] #7203 closed, assigned to mertsincan

[2021-04-06 20:27] melloware commented on #7201
Reproducer:
[pf-7201.zip](https://github.com/primefaces/primefaces/files/6267393/pf-7201.zip)

[2021-04-07 09:10] buunsal opened #7206 "Panel: renders empty facets"
As it was added to the DataTable component before, if the facet is empty, facet should not be rendered, or user should decide this by using the "renderEmptyFacets" attribute. https://github.com/primefaces/primefaces/pull/6438

[2021-04-08 01:55] GedMarc commented on #7087
ok looks like i've got something on the jakarta shade that works with updates, just doing some final checks

[2021-04-08 10:53] Rapster opened #7208 "PrimeUIComponent: new class"
The idea is to give a clear and basic definition of our ui components (and also filling this gap in JSF api missing a UIComponent interface).

[2021-04-08 11:32] melloware commented on #7087
@GedMarc that is great news. Looking forward to reviewing it.

[2021-04-08 11:41] fumogmbh opened #7210 "PhotoCam device selection not working"
Try showcase https://www.primefaces.org/showcase/ui/multimedia/photocam/deviceSelection.xhtml

device selection is not working. Not on pc, not on tablets, not on mobile devices.

[code]

[2021-04-08 11:57] Rapster commented on #7210
Any exception?

[2021-04-08 12:09] melloware commented on #7210
on my machine photocom is just showing a black image.  I think this plugin is not working properly.

[2021-04-08 13:16] jepsar commented on #7210
Working on macOS!

[2021-04-08 13:18] melloware commented on #7210
I am using Chrome on Windows 10 and i just get a black screen even though my camera is on and PrimeFaces.org is allowed to use my camera.

[2021-04-08 14:21] jepsar commented on #7210
Might be the same SSL stuff we experienced with the code scanner in PFE. @fumogmbh does it work when you run the showcase on localhost? @melloware is code scanner working for you?

[2021-04-08 14:22] melloware commented on #7210
let me try the showcase localhost.

[2021-04-08 14:25] melloware commented on #7210
OK running locally it works fine.

[2021-04-08 14:28] fumogmbh commented on #7210
Webcam itself is running online and on localhost as well (it just needs https if not localhost)
Its just the device selection whitch is not working, it freezes on android/chrome or always shows the same camera on iPad etc.

[2021-04-08 14:30] fumogmbh commented on #7210
sorry, closed this..

[2021-04-08 15:15] jepsar commented on #7210
Works for me with Android + Chrome as well. @fumogmbh please provide more detailed information, else I don't see this getting resolved.

[2021-04-08 15:28] jepsar commented on #7210
Relates to https://github.com/primefaces/primefaces/pull/6009 ? I don't get why the JavaScript was modified and no PR was made at https://github.com/jhuckaby/webcamjs Now upgrading will be a pain when new versions are released.

[2021-04-08 15:38] fumogmbh commented on #7210
Unfortunately I don't have any further information at the moment, I'll keep looking.
I tested it on 5 different android devices, an iPad, 1 android tablet and a pc with windows 10 and 2 webcams. Unfortunately, it didn't work anywhere to switch from the front to the rear or first to the second camera.

[2021-04-08 23:00] #7206 closed, assigned to buunsal

[2021-04-09 06:49] vonnai opened #7211 "Autocomplete: force selection doesn't work when multiple mode is enabled in PF 10"
**Describe the defect**
The autocomplete component with multiple mode = true, force selection = true adds invalid value after enter key is fired. Please look at function bindKeyEvents. I cut the case which should be fixed. Please fix it to 10.0.1. Thank you.

[code]
**Reproducer:**
Primefaces showcase - Autocomplete multiple example

**Environment:**
 - PF Version: 10.0.0.

[2021-04-09 08:38] jepsar opened #7212 "AutoComplete: Add option to highlight split query string"
Our auto complete methods allow you to search on multiple words, split by space. So searching for "pears apples" will match with "apples and pears". I would like to have this as well, as an option, in the query string highlighting. So, "**apples** and **pears**" will be shown.

https://github.com/primefaces/primefaces/blob/4f34341de3ed915d296541c496fb39033727929e/src/main/resources/META-INF/resour

[2021-04-09 09:04] anuragnz opened #7213 "AutoComplete: Footer"
Can we have a Footer in AutoComplete component.

Use case:
Suppose we display a list of Items in AutoComplete and now we like to add a new Item.
It will be very useful to add a Command link("Add item") in footer so we can display a dialog and display form etc.

[2021-04-09 11:12] melloware commented on #7213
This sort of already exists...

https://github.com/primefaces/primefaces/issues/5905

[2021-04-09 11:12] melloware commented on #7212
Done

[2021-04-09 11:20] melloware commented on #7211
Thanks for reporting. You can monkeypatch your code right now with this fix...

[code]

[2021-04-09 11:23] vonnai commented on #7211
Is it possible to add this fix to PF 10.0.1?

[2021-04-09 11:29] melloware commented on #7211
I don't work for PrimeTek so I don't control what goes in 10.0.1. @sqores this should probably go into the Elite release 10.0.1.

[2021-04-09 11:30] #7211 closed, assigned to melloware

[2021-04-09 11:38] vonnai commented on #7211
oke, thank you. @tandraschko, I hope this fix will be a part of Elite 10.0.1.

[2021-04-09 14:47] undermensch opened #7216 "Datepicker: LocalDateTime with showTime="false" throws converter error"
Datepicker with value=LocalDateTime with showTime="false" throws converter error

 PF Version: 10.0.0
 Mojarra 2.2
 Affected browsers:  ALL

Steps to reproduce the behavior:
1. Create a Datepicker with a LocalDateTime as a value
2. Set showTime="false"
3. Submit Value
4. BaseCalendarRenderer will create a converter exception since the submitted value has no time

**Expected behavior**
Value succes

[2021-04-09 14:49] melloware commented on #7216
if you don't want time why not use `LocalDate` which is more correct?

[2021-04-09 16:17] undermensch commented on #7216
If I use the p:schedule component with ScheduleEvent which uses LocalDateTime for start and end of event and if I give users the option of selecting all day or specifying times, it's better to use LocalDateTime. I don't want to show time if the user selects all day event, but I want the option of times if the user does not select all day. What would be the purpose of a showTime attribute? If I use

[2021-04-09 16:31] melloware commented on #7216
its trying to give smart defaults for expected behavior.  So just override the converter with your own like this...

[code]

[2021-04-09 20:11] undermensch commented on #7216
That example just results in another converter exception. I did get it to work by creating my own custom converter. I feel this should work out of the box, without my having to create a custom converter; however, if this is the expected behavior, then I guess this would be more of a feature request.... Thanks.

[2021-04-09 21:26] melloware commented on #7216
Agreed this should probably work.

[2021-04-10 10:18] jepsar commented on #7210
Found the issue. The showcase used an unspecific query selector to read the value of the device selector, which matched the locale select element.

[2021-04-10 11:42] #7210 closed, assigned to jepsar

[2021-04-10 11:43] melloware commented on #7210
Excellent work.

[2021-04-10 11:52] melloware commented on #7216
Reproducer:
[pf-7216.zip](https://github.com/primefaces/primefaces/files/6289765/pf-7216.zip)

[2021-04-10 11:57] melloware commented on #7213
Duplicate of #5905

[2021-04-10 12:26] #7166 closed, assigned to melloware

[2021-04-11 11:44] #7201 closed, assigned to melloware

[2021-04-11 11:56] melloware opened #7217 "Timeline: Escaping All HTML"
**Describe the defect**
Reported on Stack Overflow: https://stackoverflow.com/questions/66694416/primefaces-timeline-blink-on-update/66723424

If you go to the this example you will notice the loading facet is not working:
https://www.primefaces.org/showcase/ui/data/timeline/editServer.xhtml?jfwid=8ab21

[code]

This is because Timeline added XSS protection so its clearing out the "class".  TimeLi

[2021-04-11 12:23] melloware commented on #7217
Actually the new versiion there would be too much to whitelist so I think disabling it is our only choice.  For example in the showcase which uses `<h:panelGrid>` to render its events. it now looks like this...

![image](https://user-images.githubusercontent.com/4399574/114304034-118f1780-9a9f-11eb-9168-c70d241a2ae6.png)

Because we allow any JSF component inside the timeline i think we should put

[2021-04-11 16:26] #7186 closed, assigned to jepsar

[2021-04-12 07:08] GedMarc commented on #7087
JSP and JSTL removed from Mojarra in v4 - that explains my issues sigh

https://github.com/eclipse-ee4j/mojarra/releases/tag/4.0.0-M1-RELEASE

[2021-04-12 07:23] tandraschko commented on #7087
JSTL is still there

[2021-04-12 07:28] GedMarc commented on #7087
Mmm weird.. the JSTL's have moved into the faces URN,

![image](https://user-images.githubusercontent.com/5367513/114356875-5f745000-9b71-11eb-8b36-c4f7f848b2dc.png)

[2021-04-12 07:31] GedMarc commented on #7087
yeah ok, i'll make the updates

![image](https://user-images.githubusercontent.com/5367513/114357191-bed26000-9b71-11eb-86fa-1f41ffcbba59.png)

[2021-04-12 11:04] vonnai opened #7219 "Password: ui-state-error, ui-state-disabled doesn't work in PF10"
**Describe the defect**
As I see in PasswordRenderer.java, the styleClass attribute never contains classes ui-state-error and ui-state-disabled, because there is not any call the function createStyleClass (InputRenderer.java). Please, fix it to 10.0.1

[code]

**Environment:**
 - PF Version: 10.0.0

[2021-04-12 11:39] melloware commented on #7219
@sqores @mertsincan another one for 10.0.1

[2021-04-12 11:45] #7219 closed, assigned to melloware

[2021-04-12 11:46] melloware commented on #7219
Thank for reporting. I was able to remove another line as well as password.getStyleClass is automatically done in that other method.

[2021-04-12 11:48] vonnai commented on #7219
Yes, you are right, I have checked it now. Thanks for the quick fix and hope for it in 10.0.1 .

[2021-04-12 12:51] melloware commented on #7219
I just added Integration Tests for this issue as well: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/519891651f6de7a1649d1c5dafb10e45885e40a6

[2021-04-13 10:42] tuerker opened #7222 "SelectBooleanButton: make onLabel/offLabel attributes optional"
Currently, p:selectBooleanButton requires the attributes onLabel/offLabel. Could you please makes these attributes optional and use the default labels true/false in that case.

This would help to quickly migrate SelectOneCheckboxes by simply replacing h:selectBooleanCheckbox by p:selectBooleanButton.

[2021-04-13 11:41] melloware commented on #7222
I don't like "True" and "False" as defaults plus we would have to make these IL8N labels so it could be tweaked per Locale.

And you can already control this yourself by using Global Attributes like this:
https://primefaces.github.io/primefaces/10_0_0/#/core/globalattributes

[code]
No change to PF needed.

[2021-04-13 12:15] tuerker commented on #7222
the global attributes have a major disadvantage: the IDE then shows everywhere the missing attributes. i know one can also configure the settings accordingly that this is suppressed. but in any case this has to be done by any developer. therefore, i am in favor having default cases which do not cause any additional work if the default case does the job.

of course, the ideal solution would map tru

[2021-04-13 13:27] jepsar commented on #7222
I usually create custom tags to handle stuff like that. Downside is that you might need to create a lot of properties, depending on the tag.

[2021-04-13 17:08] MatthiasScherrerFGCZ opened #7223 "Datatable filtering in non-lazy datatables triggers undesirable valueChangeEvent when no records are found"
**Defect**
Whenever a non-lazy datatable is filtered so that the filtered result list is empty, i.e., no records are found, and afterwards the filter is cleared so that the filtered result list is not empty anymore, valueChangeEvents are triggered. In our project, we use the same approach for lazy datatables and everything works as expected.

**Environment:**
 - PF Version: 11.0.0-SNAPSHOT
 - JSF

[2021-04-13 17:12] melloware commented on #7223
This looks an awful lot like this one: https://github.com/primefaces/primefaces/issues/7026

[2021-04-13 18:07] MatthiasScherrerFGCZ commented on #7223
@melloware Thanks for bringing this to my attention. And yes, this is exactly that except with a selectOneMenu instead of a selectBooleanCheckbox.

[2021-04-13 18:15] melloware commented on #7223
OK we think its a Mojarra issue that @christophs78 has submitted a PR for and will be in Mojarra 2.3.15.  MyFaces does not have this issue.

[2021-04-13 18:16] melloware commented on #7223
You can verify its the same issue if you run your reproducer with `mvn clean jetty:run -Pmyfaces23` and try it.  if it works then its definitely the same Mojarra bug.

[2021-04-13 18:22] MatthiasScherrerFGCZ commented on #7223
I tested it and as you said, it works fine with MyFaces. It still does call the valueChangeListener twice instead of only once, however the values are not changed as desired. Is there currently a workaround since it is not a PF issue?

[2021-04-13 18:29] melloware commented on #7223
Nope you will have to wait for Mojarra 2.3.15, 3.0.1 or 4.0 which is when that fix is going in.

[2021-04-13 18:29] #7223 closed, assigned to nobody

[2021-04-14 06:11] clockwiser opened #7224 "SelectOneMenu: empty string becomes null and triggers valuechangelistener"
**Describe the defect**
trigger valuechangelistener when there is no change
**Reproducer**
1. Select blank option from selectonemenu.
2. Submit the form data which causes some validation error after submitted to server side bean.
3. Submit again with the blank option of selectonemenu.
4. No change of selection from selectonemenu, but triggers valuechangelistener with newvalue = null and oldvalue="

[2021-04-14 07:53] naofireblade opened #7225 "ContextMenu: Datatable long touch is not working on iPad"
Datatable Context Menu is not working on iPad. Issue #6776 fixed it for iPhone but the Context Menu still does not open on iPad (Air 2020 iPadOS 14.4.2)

**Reproducer**
The example shown in PF Showcase is not working on iPad too.
https://www.primefaces.org/showcase/ui/data/datatable/contextMenu.xhtml

**Environment:**
 - PF Version: 10.0.0
 - JSF 2.2
 - Affected browsers: iPad OS

**To Reproduce**

[2021-04-14 08:13] naofireblade commented on #7225
The problem is that `PrimeFaces.env.ios` is false on iPad:
[code]

This is the result of `window.navigator.userAgent` on iPad:
[code]

[2021-04-14 08:21] naofireblade commented on #7225
Apple messed up the User Agent on iPad OS: https://developer.apple.com/forums/thread/119186

[2021-04-14 09:02] Ponferson opened #7226 "TabView: fixed width moves scrollable header"
**Describe the defect**
With a fixed width and a scrollable head, the text is truncated and the header is moved when clicked.

**Reproducer**
If the header is minimally smaller than the TabView, the text is truncated.
![grafik](https://user-images.githubusercontent.com/39244449/114682239-312c7700-9d0f-11eb-8ffc-0dbc2fb1f712.png)
If you click on the padding of the first or last list element at the

[2021-04-14 09:58] naofireblade opened #7228 "ContextMenu: Selection is not performed and contextMenu event is not fired on iOS"
**Describe the defect**
When opening the context menu on iOS the row (datatable) or node (tree) is not selected. Therefore you have to tap the row first to select it and hold to open the context menu afterwards.
The ajax event contextMenu is not fired as well.

**Reproducer**
The example shown in PF Showcase is not working on IOS too.
https://www.primefaces.org/showcase/ui/data/datatable/contextMe

[2021-04-14 10:00] naofireblade commented on #4448
I have a fix for that but did not test it with TreeTable yet.

[2021-04-14 10:26] naofireblade commented on #7228
The problem does not occur on Android devices.

[2021-04-14 10:56] KieniL commented on #5013
Is there a development on this issue? We observed this issue ourselves.
When we drag and drop columns and have activated frozencolumns the whole table seems broken afterwards.
We no removed the draggablecolumns to have the frozencolumns and scrolling working the right way.

I just want to make sure if there is any progress on this so that we can hope for a fix in a further version.

Thank you very

[2021-04-14 11:57] melloware commented on #7225
Hey this is great research and much appreciated for the fix!

[2021-04-14 11:58] #7225 closed, assigned to naofireblade

[2021-04-14 12:04] melloware commented on #7224
Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2021-04-14 12:08] melloware commented on #7226
Reproducer:
[pf-7226.zip](https://github.com/primefaces/primefaces/files/6310667/pf-7226.zip)

[2021-04-14 12:09] melloware commented on #7226
I think this is as designed in the scrollable TabView.  If I make your width 800px it does not happen.  I think the problem is it thinks it needs to scroll your tab into view because it exceeds its container.  I believe this is expected behavior.

[2021-04-14 12:10] melloware commented on #7228
Since you have been debugging any insight on this problem as to why it doesn't select the row?

[2021-04-14 12:11] melloware commented on #7222
My vote is -1 on this.  Lets see what others have to say.

[2021-04-14 12:13] melloware commented on #5013
Nope I looked at this for a bit and its quite complex when you combine frozen columns etc.  PF is keeping track of the headers separately so for now I would say do not use them in combination.

[2021-04-14 12:54] wlhUser commented on #5013
Just as a note. I've implemented a workaround for myself, by disabling drag and drop on frozen columns.

Something like this:
var frozenHeaders = jQuery('#' + <tableId>+ ' thead th.ui-frozen-column'));
frozenHeaders.draggable('disable');
frozenHeaders.droppable('disable');
frozenHeaders.disableSelection();

However, its a bit tricky to call this code snippet every time the table gets re rendered.

[2021-04-14 12:56] melloware commented on #5013
Let me see if I can do a PR to add something like this.  I really do think they should be disabled from drag and drop.

[2021-04-14 13:16] jepsar commented on #7222
Yeah, think so too. Another pro of using custom tags by the way is being able to easily switch between components. If you even decide a `p:switch` is a better option, you only have to change it in your custom tag. I usually create a tag per data type for inputs and table columns.

[2021-04-14 13:23] tandraschko commented on #7222
I think we could do it like:

[code]

via Messages

true/false is really something global

[2021-04-14 13:51] naofireblade commented on #7228
Not yet, but I'm planning to find a solution in the next weeks.

[2021-04-14 14:08] Ponferson commented on #7226
That is exactly the point. Apparently there is a width at which the tab titles are not fully displayed and the navigation arrows not showing, which are dependent on the size of the characters.

For example, if I have a certain browser width then this problem occours.
*To Reproduce*
-> I can click on the first element and the header moves so it disappears.
or
-> I can click on the last element, I c

[2021-04-14 17:06] melloware commented on #5013
If you need a monkeypatch of this right now just add this JS to your application.  It should work all the time after AJAX updates etc.

[code]

[2021-04-14 21:48] paoesco commented on #6987
Hello everybody,

Facing the same problem here.
Adding in web.xml
[code]
I reproduce the issue in my code (very simple datatable) and also in a more complex project.

No workaround found, and I would love to have this issue resolved, I wanted to avoid to pay for extra memory when users can store the state in their side :)

[2021-04-15 05:02] clockwiser commented on #7224
Get around using p:ajax's listener which works fine.

[2021-04-15 11:22] rabiter opened #7231 "DataTable: using ui:decorate inside the datatable component"
**Describe the defect**
Neither "decorate" nor "include" can be used inside a datatable if an EL they use is based on a datatable row variable (see the code example below)

**Reproducer**
primefaces-test application is attached
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/6317431/primefaces-test-master.zip)

**Environment:**
 - PF Version: all
 - JSF + version: both

[2021-04-15 11:54] robertoferreirajrr commented on #6987
Hi Guys!

Same here!... exactly like @paoesco describes!

[2021-04-15 12:07] #7224 closed, assigned to nobody

[2021-04-15 12:08] melloware commented on #7231
This is a question for @tandraschko I have no idea if this scenario is valid or whether Datatable can support this.

[2021-04-15 12:10] melloware commented on #7226
Assigning to @squores  I have no idea what the "correct" behavior should be.

[2021-04-15 12:10] #6932 closed, assigned to melloware, sasynkamil

[2021-04-15 12:10] #7217 closed, assigned to melloware

[2021-04-15 12:36] tandraschko commented on #7231
no idea, sorry. never used decorate, no idea if it should work

[2021-04-15 14:14] rabiter commented on #7231
yeah, thanks anyway, Closing the ticket then.

[2021-04-15 14:14] #7231 closed, assigned to nobody

[2021-04-15 16:09] #7212 closed, assigned to jepsar

[2021-04-16 06:34] sasynkamil opened #7232 "DataTable: not working filterBy & sortBy in dynamic columns (p:columns)"
**Describe the defect**
Filtering & sorting is not working for dynamic columns p:columns in p:dataTable. Sorting does not trigger sorting. And filtering result is always empty table.

Followed Dynamic Columns in PF 8 & 10 showcase and [doc](https://primefaces.github.io/primefaces/10_0_0/#/components/datatable)

(Note: If I enter "A" or "a" to the filtering input box above string column, nothing ha

[2021-04-16 06:58] Ponferson commented on #7226
I would expect to avoid scrolling if there are no navigation arrows visible. This would basically avoid scrolling over.
In the event 'focus.tabview' is checked scrollable header.
A possible solution would be to change the event as follows
[code]

[2021-04-16 07:02] #7199 closed, assigned to mertsincan

[2021-04-16 08:03] neXus1987 opened #7233 "FileDownload: Write direct to the Outputstream"
**Description**
In many applications some data, e.g. csv file will be generated on the fly. so it would be a memory efficent feature to write directly to the outputstream

**Describe the solution you would like**
Maybe a vistor pattern could be the solution, so you can use the stream as is or define a outputstream consumer.

[code]

[2021-04-16 08:29] Rapster commented on #7233
Not related to PF as you can already do something like this: https://stackoverflow.com/a/23874232/4605161

[2021-04-16 08:30] neXus1987 commented on #7233
Yes but for this approach you need an extra thread.

[2021-04-16 08:41] Rapster commented on #7233
I don't see how you could do without it, deadlock will most likely happen otherwise. I've been through that topic and that's the best solution I came across so far, if you have a better solution please share

[2021-04-16 09:14] neXus1987 commented on #7233
add following to DefaultStreamedContent:

[code]

within builder:
[code]

in FileDownloadActionListener -> Method processAction:
Part old:

[code]

to
[code]

[2021-04-16 09:46] Rapster commented on #7233
Great! You can submit a PR now 😉

[2021-04-16 10:55] neXus1987 commented on #7233
Ok done

[2021-04-16 13:26] melloware commented on #7226
Great idea. I submitted a PR.  If anyone needs a monkeypatch just add this code to your application.
[code]

[2021-04-18 14:53] melloware commented on #7232
Hmm it seems to be working on the Showcase?  Can you check what is different between yours and the showcase?

See: https://www.primefaces.org/showcase/ui/data/datatable/columns.xhtml?

[2021-04-18 14:56] tsobis opened #7236 "Change the deprecated BigDecimal.ROUND_DOWN"
Since the world is moving away from java 8 little by little how about I change the deprecated BigDecimal.ROUND_DOWN with RoundingMode.DOWN for scaling of BigDecimals?

[2021-04-18 14:58] melloware commented on #7232
OK I have your test case working if you change your dynamic columns to use `field` like the showcase exmaple like this...
[code]

[2021-04-18 15:00] melloware commented on #7236
Since RoundingMode has been available since 7 I think then yes I think its safe to change to `RoundingMode.DOWN`.

[2021-04-18 15:30] #7236 closed, assigned to tsobis

[2021-04-18 15:31] melloware commented on #7236
Thanks for the PR.  I should have caught this myself when I added this code. 😄

[2021-04-18 15:33] tsobis commented on #7236
It was helpful to me to check the process of giving back to the project.

[2021-04-18 17:42] tsobis commented on #7154
The first thing I see is that the
.ui-resizable-handle .ui-resizable-se
gets from jquery the .ui-icon and.ui-icon-gripsmall-diagonal-se
which are not necessary and take the SE hot spot location to the wrong location.

After removing it with something like,
[code]
some styling is needed
for fixing the problem from the theme.css
[code]

for fixing the location of the se
[code]
Finally I believe that

[2021-04-18 18:00] tsobis commented on #7154
The problem with the .ui-icon .ui-icon-gripsmall-diagonal-se
is that the theme.css has position that overwrites the default position
[code]
That is why I suggest to remove them with jquery, you could try to change the  position of the ui-icon as well

[2021-04-18 20:09] #5013 closed, assigned to melloware

[2021-04-18 20:15] #7226 closed, assigned to melloware

[2021-04-19 08:15] sasynkamil commented on #7232
Ok, thx for investigation (I was focusing on version & doc v8) . I can see that this `field` is new feature in v10 doc:

- Ajax based filtering is enabled by setting field or filterBy at column level

And I verified that this `field` alternative is working in v10 for filtering, but sorting does not work.
So for v8.0 - v8.0.4 this `field` is not supported and sortBy & filterBy is broken.

[2021-04-19 11:37] melloware commented on #7232
I just tested this runnable example:
[pf-7232.zip](https://github.com/primefaces/primefaces/files/6335680/pf-7232.zip)

Sorting and filtering work fine in v10.0.0.  You are reporting Sorting is not working?  Can you try my reproducer?

[2021-04-19 11:38] melloware commented on #7154
@tsobis This all feels like CSS that needs to be fixed in the Theme and should take care of everything.

[2021-04-19 14:51] sasynkamil commented on #7232
I tested project 'pf-7232.zip' as it is (master-SNAPSHOT, dynamic p:columns, field) and sorting and filtering is working correctly. But when I change project from 'server' to 'client', then sorting stops working (also sorting for normal p:column stops working). Filter is working with both settings 'server' or 'client' correctly.

    <context-param>
        <param-name>javax.faces.STATE_SAVING_MET

[2021-04-19 15:05] tandraschko commented on #7232
Then lets close this one here

[2021-04-19 15:05] #7232 closed, assigned to nobody

[2021-04-19 15:06] sasynkamil commented on #7232
Ok, so I understand that filterBy & sortBy in v8 will not be fixed.

[2021-04-19 15:09] tandraschko commented on #7232
mixed p:column / p:columns are not supported in V8
thats a new feature in V10

[2021-04-19 15:11] sasynkamil commented on #7232
Interesting - we have using mix of p:column & p:columns since v5.

[2021-04-19 15:12] tandraschko commented on #7232
might work for basis usages yup but we did heavily refactoring in V10, to support this for sort/filter correclty

[2021-04-19 15:13] tandraschko commented on #7232
and fixing bugs in elite is up to PrimeTek (CC @sqores @mertsincan)
i dont think they can easily backport it.

[2021-04-19 19:55] tsobis commented on #7154
Ok, I am a bit confused do you want to remove the
[code]
because it has the !important?
Can the change be to the file
primefaces\src\main\resources\META-INF\resources\primefaces\dialog\dialog.css

line 6
`.ui-dialog .ui-dialog-content {position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto;}`

and at the end of the file add
[code]
I have tested the change with the dialo

[2021-04-19 20:02] melloware commented on #7154
I feel like the draggable handle image is important to show people its resizable.  I noticed it was missing also.

Let me test out the above.

[2021-04-19 20:03] tsobis commented on #7154
Sorry i did not change the line 6 at all

[2021-04-19 20:07] tsobis commented on #7154
It is a bit weird although it seems to work, after multiple resizes the scroll it seems to shrinking each time. I will check it again.

[2021-04-20 07:24] sasynkamil commented on #7232
Ok. I verified in simple vanilla PF project that if both p:column & p:columns are present in v8:
1) sorting is working for all columns
2) filtering is working just for p:columns

Noted differences in `sortBy` and `filterBy` values: `#{product[column.property]}` and not `#{column.property}`.
[code]