[2022-10-24 20:32] melloware commented on #9339
@StefanSchubert that is controlled by Charts.js: https://www.chartjs.org/docs/latest/samples/line/line.html

The more data you have it tries to be smart about what labels to display on an axis.  I think its all around `ticks` and `tick configuration` https://www.chartjs.org/docs/latest/axes/styling.html#major-tick-configuration

[2022-10-24 20:32] #9339 closed, assigned to nobody

[2022-10-24 20:34] melloware commented on #9339
Actually here is a good stack overflow: https://stackoverflow.com/questions/54814885/using-chart-js-the-x-axis-labels-are-not-all-showing

[2022-10-24 20:37] melloware commented on #9339
Actually we have the setting in our CartesianTicks class `autoSkip`

[code]

[2022-10-25 08:48] tandraschko opened #9340 "Lazy not serializable"

[2022-10-25 08:51] #9340 closed, assigned to tandraschko

[2022-10-25 09:43] X452-625 commented on #9337
I think I can make it work with AutoComplete however as for the lazy loading of SelectOneMenu, do you think if it's possible to make it happen ? Should I create a ticket or something?

In another approach as work around for lazy loading with SelectOneMenu, I tried to initialize the items list in `onchange="#{page.initItems()}"` but strangely, this method is always called once when loading the menu

[2022-10-25 10:08] melloware commented on #9337
This ticket I have left open for lazy loading.  As for the onchange I think it's a client side JS call.  It should get called whenever the select one is set to a value so are you setting the value in the component?

[2022-10-25 10:14] melloware commented on #9337
Also how many items are in your dropdown that you need this kind of performance?? A dropdown should have less than 50 items else it's not the right UX component thus the autocomplete is a better choice which has true lazy loading.

[2022-10-25 10:45] NicolaIsotta commented on #9336
My example is still broken @melloware
I'm pretty sure there's no need for this:
https://github.com/primefaces/primefaces/blob/d450cb7f12fe92cb3912ee9b678945bc540a7e46/primefaces/src/main/resources/META-INF/resources/primefaces/forms/forms.selectonemenu.js#L1555-L1557
The value received from `$item.html()` is an already escaped value:
https://github.com/primefaces/primefaces/blob/d450cb7f12fe92cb39

[2022-10-25 10:48] melloware commented on #9336
Let me look. I had your whole example working yesterday?

[2022-10-25 12:38] X452-625 commented on #9337
I just added the option onchange to the code example before actually, I leave the default value to the first element and nothing else but it still call for the method in `onchange` when loading (same issue with `onkeydown`)
[code]

The issue I have with my page is not that I have too many items in the list but I need to put many filters (dropdown) and the loadingof all these differents items from

[2022-10-25 13:26] melloware commented on #9336
@NicolaIsotta did you run my reproducer I attached. it has that patch as well as I properly `itemEscaped` your items.

[code]

[2022-10-25 14:24] NicolaIsotta commented on #9336
ampersand is not html code, Mojarra's h:selectOneMenu handles it without needing `itemEscaped="false"`.
The problem is that the js at line 1556 escapes the label but it's already escaped.
If you have a `itemLabel="&amp;"` and try to debug the js, what happens is:

- after line 1541 the value of `label` is `&amp;`
- after line 1556 the value of label is `&amp;amp;`

So there's a double escape of th

[2022-10-25 16:33] melloware commented on #9336
OK 2 different issues.
**First issue:**
[code]

Was wrong without my fix above because `data-label=""` so when you selected it the value was blank.  So that was the fix I made above for that specific scenario and now the `data-label="<&>"` which is correct and when you select it is correct.

**Second Issue:**
[code]

Renders in the dropdown like this:
![image](https://user-images.githubusercontent

[2022-10-25 19:08] StefanSchubert commented on #9339
Hi @melloware,

I see - thanks a lot for the hints.
After that I also find the AutoSkip and tried to set it via the options:

`
            CartesianScales scales = new CartesianScales();
            CartesianLinearAxes tunedXAxes = new CartesianLinearAxes();
            tunedXAxes.setType("x");
            CartesianLinearAxes tunedYAxes = new CartesianLinearAxes();
            tunedXAxes.setType(

[2022-10-26 01:11] FlipWarthog opened #9341 "DataTable: JpaLazyDataModel ignores SortMeta's sortPriority when applying sort"
### Describe the bug

In the `applySort` method, it's assumed that the `Map<String, SortMeta>` will return a properly ordered list when `.values()` is called. This works in most cases when it's used in a `p:dataTable` but in my application I also use `LazyDataModelIterator`, passing in my own maps (which happen to be HashMaps).

### Reproducer

Reproducer:
[primefaces-test.zip](https://github.com/

[2022-10-26 11:24] #9341 closed, assigned to FlipWarthog

[2022-10-26 17:06] melloware opened #9343 "Menu: Respect iconPos attribute"
Currently the `MenuItem` has the `iconPos` property but I can find no where in the code it is being used or respected.

For example:
[code]

Renders like this...
![image](https://user-images.githubusercontent.com/4399574/198090833-374073a2-c661-45d9-acf5-7b8b4356b5a4.png)

Instead of this...
![image](https://user-images.githubusercontent.com/4399574/198091083-b5fba985-bab6-4dea-818b-5bedd6ec7284.p

[2022-10-26 18:17] Rapster opened #9345 "DataView: add selection feature"
### Description

Just like DataTable, DataView could support selection feature.

### Describe the solution you would like

On top of my head, it could look like this:

[code]

For a first draft, support of single and multiple mode, also `disableSelection` attr. Maybe some idea that we can steal from there: https://github.com/primefaces/primefaces/issues/8416. And later on and depending on the prog

[2022-10-26 19:20] melloware opened #9346 "Tabview: Widget `reload` method fails if using `effect`"
### Describe the bug

When using `effect="slide" dynamic="true" cache="false"` the widget method to reload the tab like `reload(1);` fails.

### Reproducer

[tabview-reload.zip](https://github.com/primefaces/primefaces/files/9873110/tabview-reload.zip)

Just change the SelectOne and see that it is broken.

### Expected behavior

Reload should work with or without `effect`

### PrimeFaces edition

[2022-10-26 19:22] melloware commented on #9346
MonkeyPatch:

[code]

[2022-10-26 19:53] #9346 closed, assigned to melloware

[2022-10-26 19:55] melloware commented on #9345
cc @stolp since I think he uses DataView heavily and would probably appreciate this feature.

[2022-10-27 10:46] mertsincan opened #9348 "SelectCheckboxMenu default label is undefined for null value"
Reported By PRO User;

[2022-10-27 10:46] #9348 closed, assigned to mertsincan

[2022-10-27 10:58] mertsincan opened #9349 "DataTable: when it is updated, the filter values are set empty. (LazyDataModel + "special" API-usage)"
As in the example below, after selecting a value from the selectcheckbox menu, the filter values are lost when the table is updated. It works fine with version 11.
[code]

[2022-10-27 11:16] stolp commented on #9345
Thanks for the pointer, I would definitely appreciate this. Currently, we implement our own selection emulation using boolean checkboxes to fake this.

[2022-10-27 11:36] tandraschko commented on #9349
@mertsincan that reverts my fix for: https://github.com/primefaces/primefaces/issues/9040

[2022-10-27 11:48] mertsincan commented on #9349
Hi @tandraschko, yes but unfortunately, there are at least 5 issues reported by PROs regarding https://github.com/primefaces/primefaces/issues/9040
When they update the PF version, they completely lose the value they submitted in the filter.
Exp;
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/9879004/primefaces-test.zip)
Maybe, you can have a look at this example to be compat

[2022-10-27 12:19] christophs78 commented on #9349
We need to add integrationtests for this specific situation. (or extend exisiting ones)

[2022-10-27 12:50] irieill opened #9350 "Growl: allow to ignore for clientIds/keys"
### Description

Similar to #4748 but for Growl.

### Describe the solution you would like

My use case is two different configured growls where one is for all messages that the second one is not for.

### Additional context

_No response_

[2022-10-27 12:53] #9287 closed, assigned to mertsincan

[2022-10-27 12:59] irieill commented on #9350
A workaround for my special use case is to order the growls appropriately and set `redisplay="false"` on the last one. But this may not be possible for others.

[2022-10-27 13:07] #9289 closed, assigned to mertsincan

[2022-10-27 13:16] #9297 closed, assigned to mertsincan

[2022-10-27 13:53] deichhuhn opened #9351 "AjaxStatus: Start-Facade is displayed after all ajax request are finished"
### Describe the bug

The "start"-facet of the ajaxStatus is still displayed even after all global ajax requests are finished. This error only happens when there is a delay configured in the ajaxStatus and multiple ajax-calls are chained (through oncomplete-listeners pointing to a remoteCommand).

Maybe the error is in FileUpload-Component because this component calls the "oncomplete"-listener bef

[2022-10-27 16:32] NicolaIsotta commented on #9336
I'll try to be clearer with an example.
This is the xhtml:
[code]
And this is the java:
[code]
The rendered output, with both Mojarra and MyFaces, is:
![pf_dropdown](https://user-images.githubusercontent.com/18428155/198346475-00a2a2da-5f8f-4faa-9aa7-d0277531f772.jpg)
![h_dropdown](https://user-images.githubusercontent.com/18428155/198346511-5b44615c-0cc0-41df-a023-f213eb5d20a7.jpg)
(The primeface

[2022-10-27 17:34] melloware commented on #9336
OK that but your ORIGINAL issue was `<f:selectItem itemValue="B" itemLabel="#{testView.label}"/>` with

[code]

are you saying removing the following fixes it:

[code]

Let me submit a PR and let the Integration tests run.

[2022-10-27 21:00] melloware commented on #9336
OK two Integration test failures:
[code]

[2022-10-27 21:09] melloware commented on #9350
Yes `redisplay="false"` is what this was intended to solve so not sure if there is any action here?

[2022-10-27 21:18] melloware commented on #9351
Thanks for the excellent reproducer!

I am going to fix it but an easy workaround right now is this:
[code]

[2022-10-27 21:22] #9351 closed, assigned to melloware

[2022-10-27 21:32] melloware commented on #9336
OK so here is the input.

[code]

![image](https://user-images.githubusercontent.com/4399574/198402286-dc061fbd-926a-44f5-9237-eb17ec18a53b.png)

[2022-10-27 21:40] melloware commented on #9336
With the PR included this is what happens..

![image](https://user-images.githubusercontent.com/4399574/198403503-1f51e984-c927-4a49-868f-006c817992c2.png)

[2022-10-27 21:46] melloware commented on #9336
I think the major difference between `h:selectOneMenu` and PF is you can't format HTML in the `h:selectOne` it just renders a browser `<select>` element where ours allows custom styling etc so we have to defend against XSS.

[2022-10-28 05:52] NicolaIsotta commented on #9336
I saw. I'll try find another solution.

[2022-10-28 11:46] melloware commented on #9336
I will close for now as it works as designed but let me know if you come up with a solution or you can just leave yours MonkeyPatched to leave that code out.

[2022-10-28 11:46] #9336 closed, assigned to melloware, NicolaIsotta

[2022-10-28 15:11] #9343 closed, assigned to melloware

[2022-10-28 15:13] #9350 closed, assigned to nobody

[2022-10-28 16:13] FlipWarthog opened #9357 "DataTable: `disabledSelection` not properly styling checkbox. breaking radio"
### Describe the bug

When `disabledSelection` is used on a dataTable with `selectionMode="multiple"`, the disabled rows' checkboxes are not properly styled (missing `ui-state-disabled`).

Additionally, if using single select, the same behavior happens while also allowing multiple selections.

Doing some digging, this may relate to changes made for #8279

### Reproducer

Using a local checkout of

[2022-10-28 16:18] christophs78 commented on #9349
Needed some time to at least understand to some degree what´s going on there while i tried to add a good integrationtest. (Don´t ask what i did yesterday evening...)

The reproducer provided by the PROs is at least somehow awkward...

[code]

This code ignores filterBy provided to `LazyDataModel#load`. Instead this code references to a ViewScoped view-bean. Maybe it work´s, but the customer does n

[2022-10-28 18:16] #9357 closed, assigned to melloware

[2022-10-29 13:19] melloware commented on #9171
Integration Test: https://github.com/primefaces/primefaces/pull/9361

[2022-10-30 15:59] irieill commented on #6087
I have created just [another test for DataScroller](https://github.com/irieill/primefaces-test/tree/PF6087) with an implementation of some `LazyScrollableDataModel` that works very well and compares it with the default `LazyDataModel`. With [some additional initialization code](https://github.com/irieill/primefaces-test/blob/33614edc96b229e8624000e132bd092db04ccf04/src/main/java/org/primefaces/tes

[2022-10-31 11:43] melloware commented on #6087
Hmmm I am not an expert on this so would like to hear from @tandraschko @Rapster @jepsar on this one.  I see that DataScroller assumes a LazyDataModel so I would love to fix the renderer to work properly with the lazy data model.  But I do see what you did and it does seem DataScroller has some special requirements.

Maybe we can include your LazyScrollableDataModel and then enforce this component

[2022-10-31 11:55] rabiter opened #9364 "java.lang.IllegalStateException: Could not find backup for factory javax.faces.context.PartialViewContextFactory"
Hello,

We found this exception in a server log, it occurs from time to time. According to the stacktrace it always happens in PrimeFaces$Ajax.update(..). Do you have any idea what might cause it?

[code]

Thank you!

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces edition

Community

### PrimeFaces version

8.0.7

### Theme

_No response_

### JSF implementatio

[2022-10-31 12:22] melloware commented on #9364
Please  provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

It looks like you are using Mojarra 2.3.9 which is quite old have you tried 2.3.18?

[2022-10-31 15:47] djmj commented on #9349
I see the problem now and had some thoughts.

**Use case**

We wanted to use our own "filter" with value binding and updating the table with ajax. In our load method we use the value, similar to your usecase.

Of cause we want our "filter" to be displayed in the table header. This does not work so good by just using the _header_ facet since it displays the sort indicator below it.

So we revert to

[2022-10-31 18:28] melloware commented on #9364
I did find this: https://stackoverflow.com/questions/31187989/wildfly-8-seam2-redirect-javax-faces-context-partialviewcontextfactory

[2022-11-01 04:19] ybendek opened #9366 "commandButton: Issues with partialSubmit and actionListener"
### Describe the bug

I'm in the middle of an upgrade for our application developed some years ago with Primefaces 6.2, and changing all the infrastructure to support now Primefaces 11.

However in this migration I found a weird behaviour that it works before without issues with our old components, but now with Primefaces 11 and upgrade in our infrastructure is not working.

The following it's a s

[2022-11-01 09:45] StevenHachel commented on #9055
This means that the outputPanel element will no longer do what it was designed to do, which is to load pages/areas asynchronously. Each page will not be able to be fully displayed until all areas have been fully rendered and once what it the feature I loved PrimeFaces for. It still seems to work under Mojara 2.2. As of Mojarra 2.3 it no longer does. If it does, there are some javascript errors on

[2022-11-01 12:08] melloware commented on #9366
Change your button to `process="@this panelData"` and it all works.  The Button itself `@this` needs to be processed or else it won't run the ActionListener.

[2022-11-01 12:12] melloware commented on #9366
I don't see it anywhere in the release notes but you are saying it worked before on 6.2 i think because CommandButton was adding `@this` implicitly.

[2022-11-01 12:52] mihaiDumea opened #9368 "CSP: Inline event handlers are not triggered"
### Describe the bug

With CSP enabled. In same request, components that are updated and their inline event handlers triggered via `PrimeFaces.current( ).executeScript("$('selector').click()")` will not be able to be executed.
In the eval section of the partial response, scripts added for execution in invoke application phase will come before scripts added by CSP in render response phase, but I ex

[2022-11-01 13:40] mafaul opened #9369 "GraphicImage: ismap attribute not working as expected"
### Describe the bug

Primefaces renders ismap="false" attribute on img tags, instead, it should not be rendered at all.

According to javax.faces.component.html.HtmlGraphicImage -> isIsmap():

Issue was first introduced by https://github.com/primefaces/primefaces/pull/8772.

### Reproducer

`<h:form>
            <h:outputLink value="https://google.com" target="_blank">
                <p:graphicI

[2022-11-01 13:41] melloware commented on #9368
Confirmed with reproducer:
[pf-9368.zip](https://github.com/primefaces/primefaces/files/9910357/pf-9368.zip)

[code]

[2022-11-01 13:44] mafaul commented on #9369
This bug causes the browser to just add the coordinates that were clicked on to the URL.
If there are f:param elements too, it messes them up.
For example: https://www.google.com/search?q=Primefaces?315,338=
Instead of https://www.google.com/search?q=Primefaces

[2022-11-01 14:09] ybendek commented on #9366
Yes, now it works. makes complete sense, especially if the button is outside the container I want to process.

And yes, it works before with PF 6.2, I try to find anything related in the releases notes between 6.2 and 11 with no luck, that's why I decide to create this issue :)

Thank you for the clarification.

[2022-11-01 14:29] #9366 closed, assigned to nobody

[2022-11-01 14:49] melloware commented on #9369
Confirmed.  Submitted a fix now letting integration tests run

[2022-11-01 15:15] #9368 closed, assigned to melloware

[2022-11-01 15:16] #9369 closed, assigned to melloware

[2022-11-01 17:10] #9171 closed, assigned to fanste

[2022-11-01 19:41] Rapster commented on #9349
I can try to give my thoughts on this. First, I don't see any good reason to have a null check on the filterValue, knowing the String madness in a JSF environnement, we should allow to take null or empty string as an input. Second, I can easily imagine a scenario where I decide to reset the filter value using  the "filter api" even though I just set one (edit: turns out, looks like to be #9040 sce

[2022-11-01 23:32] Rapster commented on #9364
Yup, after reading it, maybe this can help: https://www.beyondjava.net/modify-jsf-library-load-order (must be due to your environnement)

FYI, I can see in omnifaces "ordering after others" is used

[2022-11-02 00:48] djmj commented on #9349
@Rapster

Here some more details what we try to achieve.

**Example 1 - reuse value in load method**

Sometimes we have certain "filter" values binded to bean properties because we have to reuse them inside the load method. Below a simplified example where the binded value is passed to the service remote method.

**Example 2 - reuse value to preselect other options**

Further as an example the val

[2022-11-02 08:20] Rapster commented on #9349
What about this then?

[code]

You just need to process first and then update, instead of `onchange` (which would be called first) use `oncomplete` event (to ensure that your bean has been processed first).

[2022-11-02 08:32] liptga commented on #6944
This has just punched me in the face... Is there any workaround? Do you have any idea?

[2022-11-02 08:37] Rapster commented on #6944
Yes, don't use composite 😄 But on a more serious note, I didn't dig that much since last time, so that's my best answer so far

[2022-11-02 10:38] liptga commented on #6944
I don't give up that easy. I have a workaround if the composite component is used in a view only once:

Composite component class:

[code]

CC xhtml:
[code]

Better than nothing.

[2022-11-02 10:46] Rapster commented on #6944
Yeah... First, like Thomas mentionned the component needs some love (I have to check if I can find the refacto I started few years back...) and second, you better off using facelet tags (in combination with omnifaces) than composite (works as an include, do better and simpler than cc) and you won't have to patch anything

[2022-11-02 11:04] liptga commented on #6944
The problem is, that if you want to have state, it is better to use composite, as far as I understand CC. But of course if you can have only one instance in the view, it can be a view scope bean, who keeps the state, I know.

[2022-11-02 11:26] Rapster commented on #6944
Not sure I follow, every `UIComponent` has a state...If by state, you mean your bean then I'm not aware of the relation between this and the type of reusable component you wanna use...

At this point, either you wanna to keep using a cc then you have to stick to your patch (till we refactor this component, and yet there is no guarantee we get rid of PhaseListener, I must say I have no idea why thi

[2022-11-02 13:35] liptga commented on #6944
I also don't like CCs, since somehow it never works as expected. Still I have not seen possibilities to have a state associated with a facelet tag "instance". Thats the problem.

[2022-11-02 13:38] Rapster commented on #6944
Again, I have no idea what you mean by state, so I think a bit of reading is required: https://stackoverflow.com/a/6822269/4605161

[2022-11-02 13:59] Rapster commented on #6944
The link you found is really useful to understand the issue, plus it's BalusC certified therefore I'm posting just to highlight it 😄 : https://stackoverflow.com/a/11961132/4605161

[2022-11-02 18:31] djmj commented on #9349
I see and this works when user is changing the filter but not when the filter has a default value in the bean set. For example we set the year filter by default to 2022.

	private Integer year = 2022;

At page load its not set and any other ajax request updating the table will not set it.

[2022-11-02 19:18] Rapster commented on #9349
What about `FilterMeta#filterValue` then?

I don't see the "problem" here, looks fine by me...

[2022-11-02 20:48] christophs78 commented on #9279
IMO we should look what PrimeVue does. My disabled colleagues say PrimeVue works, but PrimeFaces SelectOneMenu does not work for them. (Jaws Screenreader)

[2022-11-03 01:41] djmj commented on #9349
Looks like old PHP map fizzling to me and its not DRY. I have to repeat the String literals from the markup `"year"` inside the java code. I try to avoid this.

We dont need a property `year` since we already have an existing filter bean like `CarFilter` with many properties provided by a shared library:

	private CarFilter carFilter;

	// load method - unnecessary boilerplate filter "set" calls

[2022-11-03 09:13] Rapster commented on #9349
Sure... Please come up with a reproducer, it'll save all of us a bunch of time because so far I don't see why PF can't handle your use case

[2022-11-03 11:26] christophs78 commented on #9349
Even better - provide a (probably failing) integration test. Use https://github.com/primefaces/primefaces/commit/e7333816c420b260c504f8bc9238ae7059902521 as kind of template.
(This way we ensure not to break existing usecases. PrimeFaces, JSF and DataTable allow for so many usecases. Integration tests help us to avoid breaking other existing usecases while trying to fix or enhance other ones.)

[2022-11-03 11:49] melloware commented on #9279
Agreed we probably need to look at PrimeVue and emulate that if we can I know our SelectOne renders differently than the other Prime libs so it may not be as easy as we hope!

[2022-11-03 11:50] Bukama opened #9373 "Graphic Image: Since PF 12 `ismap` attribute is rendered and causing invalid HTML"
### Describe the bug

Since Primefaces 12 the [Graphic Image](https://www.primefaces.org/showcase/ui/multimedia/graphicImage.xhtml?jfwid=f6fca) renderes a `ismap` attribute with the values `true` or `false`, resulting in invalid HTML:

![pf_img_ismap](https://user-images.githubusercontent.com/4354359/199713579-08c28d78-bd14-4995-b8a8-a3e04b215243.PNG)

While the `ismap` attribute is allowed on the

[2022-11-03 11:51] melloware commented on #9349
+1 to @Rapster @christophs78   suggestions.  @djmj even if you put together a pF Test showing the issue we can always turn it into an Integration Test.  We just need to see your actual use case.

[2022-11-03 11:51] melloware commented on #9373
Duplicate of: https://github.com/primefaces/primefaces/issues/9369

[2022-11-03 11:53] Bukama commented on #9373
Oh sorry, I had the task to create an issue laying on my desk for about two weeks and didn't double checked if there was an issue created in the meantime :(

[2022-11-03 11:54] melloware commented on #9373
No problem!

[2022-11-03 11:55] melloware commented on #9373
I better test the TRUE scenario I fixed the false scenario.

[2022-11-03 12:32] melloware commented on #9373
This PR makes it render correctly with false and true.

[code]

` ismap="ismap"` is the JSF XHTML way of rendering booleans and still passes the NuHTML checker as valid.

[2022-11-03 12:35] melloware commented on #9364
Going to close for now until we can get a reproducer.

[2022-11-03 12:35] #9364 closed, assigned to nobody

[2022-11-03 12:48] #9373 closed, assigned to melloware

[2022-11-03 18:06] rabiter commented on #9364
Thank you! This is very likely exactly the case we have faced with.

[2022-11-03 18:06] rabiter commented on #9364
Thank you for a hint!

[2022-11-03 20:41] #7009 closed, assigned to melloware

[2022-11-04 16:53] djmj commented on #9349
The reproducer in https://github.com/primefaces/primefaces/issues/9349#issuecomment-1293407918 covers the same use case we have. Only difference is we are calling a remote service instead doing filtering in memory. I gave arguments why we are using filters with value binding and not the API intended way.

[2022-11-04 18:21] mihaiDumea opened #9377 "CSP: Dialog return ajax behavior event is not executed in the root window context"
### Describe the bug

With CSP enabled. Have widgets defined in root window, lookup them within onstart attribute of a dialogReturn ajax behavior event. The referenced widgets are not found because they are looked up in the dialog iframe window.
`$.globalEval` is used instead of `rootWindow.$.globalEval`.

### Reproducer

[code]

### Expected behavior

Same as without CSP enabled.
Pass and use win

[2022-11-04 19:54] melloware commented on #9377
Can you review my PR please?

[2022-11-04 19:58] melloware opened #9379 "FileUpload: Path security hardening"
## Preamble

### Impact

This issue allows a malicious actor to potentially break out of the expected directory. The impact is limited to sibling directories. For example, `userControlled.getCanonicalPath().startsWith("/usr/out")` will allow an attacker to access a directory with a name like `/usr/outnot`.

### Why?

To demonstrate this vulnerability, consider `"/usr/outnot".startsWith("/usr/out")

[2022-11-04 20:00] #9379 closed, assigned to melloware

[2022-11-04 20:58] mihaiDumea commented on #9377
See the comment on the commit. evalResult needs to be changed also.

[2022-11-04 21:38] Rapster commented on #9349
Ok, so based on the reproducer that Mert provided. I understand two issues:
- once one/several value(s) from the custom filter is/are selected, it/they gets lost in column filter
- if you have preselected values in the custom filter (e.g selectCheckboxMenu here), these are not showing in the filter therefore not taken account in load method at page loading

Do I get that right?

[2022-11-04 21:51] djmj commented on #9349
Yes that is correct.

**Simplified example**

Here simple test files i send @mertsincan at PRO support. In this test intentional i show the `filterYear` property again in the `header` facet and also use a second component outside the table to double check.

This shows, that the `filterYear` is correctly pushed to the bean but on update the input component in the filter facet is not updated with th

[2022-11-04 22:21] Rapster commented on #9349
Ok, so again based on Mert reproducer (sorry, can't pull altogether the files you submitted, that's why we ask for reproducer). Solutions has been handed over to you [here](https://github.com/primefaces/primefaces/issues/9349#issuecomment-1299789421) and [here ](https://github.com/primefaces/primefaces/issues/9349#issuecomment-1301103383) _(my bad I mentionned FilterMeta when it should be UIColumn

[2022-11-05 00:17] melloware commented on #9377
I will take a look

[2022-11-05 11:30] melloware commented on #9377
OK updated my PR please have a look now.

[2022-11-06 04:02] newk5 opened #9381 "SplitButton: Style being applied to default button instead of parent div"
### Describe the bug

If you apply a css style to a p:splitButton, its styling is being applied to the the splitbutton default button instead of only the div that wraps it. This is a problem in some cases, for example if you apply a margin-right that will break the presentation of the splitbutton since it will create a distance betweent he default button and the second button:

![image](https://us

[2022-11-06 12:44] melloware commented on #9377
OK PR updated again. I chose to always use the rootWindow when in dialog.js

[2022-11-06 12:58] Rapster commented on #7699
Just catching up with modifications that has been made lately, IMO the solution would be what BalusC is saying here: https://github.com/jakartaee/faces/issues/1585

Besides that, if we continue with that fix,  `LazyDataModel` should inherit from `DataModel` and no longer `ListDataModel` (because everything is overrided :smile: )

[2022-11-06 15:01] melloware commented on #9381
I chose a slightly different way to fix it.

[2022-11-06 15:50] #9381 closed, assigned to melloware

[2022-11-06 19:17] mihaiDumea commented on #9377
All good now

[2022-11-06 19:33] #9377 closed, assigned to melloware

[2022-11-06 19:41] christophs78 commented on #9279
@Bukama : Can you please have a look at https://www.primefaces.org/primevue/dropdown? Is this fully accessible? (PrimeTek claims it´s accessible and my disabled colleagues say it work´s for them using Jaws.)

[2022-11-06 19:46] christophs78 commented on #9279
Which HTML-code is generated by PrimeVue-Dropdown? (as of 3.18.1)

![image](https://user-images.githubusercontent.com/10461942/200191553-3a27aa4f-9d51-47f6-8042-a4d7b70e1514.png)

![image](https://user-images.githubusercontent.com/10461942/200191686-2612f3ef-678f-4e7f-ae01-c04dabca3361.png)

[2022-11-06 19:54] christophs78 commented on #9279
Code generated by PrimeFaces SelectOneMenu (as of 12.0.0)

![image](https://user-images.githubusercontent.com/10461942/200192639-5992ab0d-1cc2-413a-ba6c-5773208a89e6.png)

![image](https://user-images.githubusercontent.com/10461942/200192006-099f5806-3b17-42e0-af1f-fe1b94ea0aff.png)

[2022-11-06 20:03] christophs78 commented on #9279
Cross-Check Angular Material - component "Select" (https://material.angular.io/components/select/overview, as of 14.2.6)

![image](https://user-images.githubusercontent.com/10461942/200192244-5e0bcda5-f46e-4737-b8b2-e9c992ced76b.png)

![image](https://user-images.githubusercontent.com/10461942/200192379-3b40c772-6cbd-4c9a-b65b-5cdf4cf9c1b8.png)

[2022-11-07 05:32] Bukama commented on #8765
It's even bad cause the `ids` are used for references of labels/error messages and are core element for screen readers. So according to your discussion in the PR about performance / duplicate IDs: "First make it right (no duplicate Ids) then make it fast" would be my point.

[2022-11-07 07:27] wlhUser opened #9383 "ColorPicker: GUI elements are not moved to selected color"
### Describe the bug

In the colorPicker widget there are markers showing the selected color or hue. However these markers are not moved on selecting colors  - one always stay in the upper left corner of the color selection box, while the other stays always on top of the hue selector.

It is only a minor bug, but users may get confused by the behavior.
![colorPicker](https://user-images.githubuser

[2022-11-07 13:43] melloware commented on #9383
The original Jquery ColorPicker has not been updated in years and has some bugs.  We have this open ticket: https://github.com/primefaces/primefaces/issues/8000

[2022-11-07 15:42] christophs78 commented on #9279
After talking to my disabled colleague, thinking about this issue and comparing with PrimeVue und Angular Material i think we may try to get rid of the focus-input with text="text". The other two implementations work pretty fine without this. They assign role="combobox" to some DOM-element (eg span).
See https://github.com/primefaces/primevue/blob/master/src/components/dropdown/Dropdown.vue. (Inpu

[2022-11-08 01:54] melloware commented on #8765
Totally agree.  We probably need to fix this with the difficult solution of naming container and ui repeat etc.

[2022-11-08 09:34] Bukama opened #9384 "CommandLink: Invalid HTML when disabled"
### Describe the bug

Since Primefaces 12 (Issue: #8218 / PR: #8219) disabled [CommandLinks](https://www.primefaces.org/showcase/ui/button/commandLink.xhtml?jfwid=d4529) are rendered with invalid HTML, because an attribute `disabled=true` is renderend. But this in not allowed on anker-tag (`<a>`).

![pf_commandlink](https://user-images.githubusercontent.com/4354359/200528420-5ffde1b3-4240-4994-a9f

[2022-11-08 10:39] melloware commented on #9384
I think I already fixed this but will confirm

[2022-11-08 12:35] melloware commented on #9384
I am pretty sure I fixed this with this PR: https://github.com/primefaces/primefaces/pull/9374

[2022-11-08 12:46] jepsar commented on #9384
I don't think so. There is no such attribute. And it seems that CSS is required.

https://stackoverflow.com/questions/10276133/how-to-disable-html-links

I'll have a look at it this evening (CET).

[2022-11-08 12:57] melloware commented on #9384
Oh its saying disabled is not allowed at all on the element.  My fix makes it render as `disabled="disabled"` like other components.

[2022-11-08 13:52] melloware commented on #9384
OK maybe similar to this fix I made where you have to exclude certain props before passing the list: https://github.com/primefaces/primefaces/pull/9382

[2022-11-08 14:28] RegiK123 opened #9386 "Chips: the value is truncated after about 20 characters"
### Describe the bug

the value is truncated after about 20 characters, but all put text should be visible without any wrapping
![image](https://user-images.githubusercontent.com/26834946/200590950-ffa37da0-c382-4000-a01b-20e30af782fb.png)

### Reproducer

![image](https://user-images.githubusercontent.com/26834946/200589147-a501a61c-7e6d-4228-b8f9-5ed5ba7e2cbc.png)

Go to ['...'](https://www.prim

[2022-11-08 14:34] melloware commented on #9386
Its this CSS causing it.

[code]

You can workaround it with this CSS:

[code]

[2022-11-08 14:45] RegiK123 commented on #9386
The workaround is OK, but it will be better to get the next version to work correctly by default.

[2022-11-08 14:47] melloware commented on #9386
of course but I wanted to give you something so it works right now.

[2022-11-08 15:09] wlhUser commented on #9383
Have debugged the JS code and found that probably some casts to String are the problem. After removing them the colorPicker works as expected. The code is a bit ugly, as the JS-file is a compressed one. I attach both the corrected and the original one for an easier comparison. Needed to rename to *.txt, as otherwise I cannot attache the files.
-> primefaces-12.0.1.jar\META-INF\resources\primefaces

[2022-11-08 15:31] melloware commented on #9383
Take a look at my PR.

[2022-11-08 15:50] melloware commented on #9383
Thanks for tracking this down!

[2022-11-08 15:50] #9383 closed, assigned to melloware

[2022-11-08 20:33] jepsar commented on #9384
@Bukama what's your take on https://github.com/primefaces/primefaces/pull/9388#pullrequestreview-1172752853 ?

[2022-11-08 22:54] PaulWasilewski opened #9389 "DatePicker: change event not triggered when [Enter] is used with `mask`"
### Describe the bug

When the user press Enter in a `<p:datePicker>` component the `valueChange / change event `is not fired (works for tab, mouse click). Works with other input fields like `<p:input>`.

### Reproducer

_No response_

### Expected behavior

valueChange event is fired when user is pressing Enter and value changed

### PrimeFaces edition

_No response_

### PrimeFaces version

12.0

[2022-11-08 23:47] Rapster commented on #3551
What if table was `@process` before `listener` gets called? That should work no? We just need to make it processable :smile:

[2022-11-09 02:28] melloware commented on #3551
You can try it @Rapster we have test cases above.  I gave it my shot and failed 😨

[2022-11-09 10:00] pizzi80 opened #9390 "Resizable: content does not grow"
### Describe the bug

Which component should be resized?

https://www.primefaces.org/showcase/ui/misc/resizable.xhtml

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces edition

_No response_

### PrimeFaces version

12 showcase

### Theme

_No response_

### JSF implementation

All

### JSF version

n/a

### Java version

n/a

### Browser(s)

Chrome 107 | FF 106

[2022-11-09 10:10] pizzi80 opened #9391 "Spotlight: z-index problem with growl"
### Describe the bug

![Schermata del 2022-11-09 11-05-39](https://user-images.githubusercontent.com/17908214/200802132-0cbcb8ed-ff40-46ee-a60f-874d189ab0d1.png)

### Reproducer

https://www.primefaces.org/showcase/ui/misc/spotlight.xhtml?jfwid=d45d6

Click Save button

### Expected behavior

_No response_

### PrimeFaces edition

_No response_

### PrimeFaces version

12 showcase

### Theme

_No

[2022-11-09 10:11] jepsar commented on #9390
I do see a theme issue there. These rules solved it for me.

[code]

[2022-11-09 10:18] jepsar commented on #9391
Seems that the z-index is calculated. Order might be wrong. I would need to look into it further.

[2022-11-09 10:19] jepsar commented on #9391
Also, one could debate whether this is a bug or not..

[2022-11-09 10:48] pizzi80 commented on #9391
Yes, it's a strange situation... it's questionable which is more important, the growl(s) or the spotlight ...

[2022-11-09 12:18] RegiK123 opened #9392 "Tree: Missing code to sort tree"
### Describe the bug

In PF11 was removed TreeUtils, so because I still need to sort trees I add this manually, but on version PF12 this code stopped working.

[code]

### Reproducer

Try to use this code on the newest PF12 to sort tree component

[code]

### Expected behavior

The sort functionality should be provided for this component as in the previous version.

### PrimeFaces edition

_No res

[2022-11-09 12:19] RegiK123 commented on #9392
this code comes from PF 10
https://github.com/primefaces/primefaces/blob/10.0.0/src/main/java/org/primefaces/util/TreeUtils.java

[2022-11-09 12:56] melloware commented on #9391
To me the Spotlight is the most important thus its called "Spotlight" :)  I think this was all intentional.

[2022-11-09 13:00] melloware commented on #9392
looks like SortFeature has this...

[code]

[2022-11-09 13:08] RegiK123 commented on #9392
but I need for the tree not for the table, because I don't have a table

[2022-11-09 13:10] melloware commented on #9392
Can you provide a PrimeFaces Test reproducer please.  I am not even sure how you are trying to use this code with Tree.

[2022-11-09 13:27] melloware commented on #9389
Can you provide a PrimeFaces Test reproducer?  I am hitting ENTER key and its firing the `change` event.

[code]

IF I edit the date "11/08/2022" and hit ENTER the change event is fired.

Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-11-09 13:36] RegiK123 commented on #9392
ok, I extends DefaultTreeNode by
add
public void sort() {
        Comparator<SystemTreeNode> cmp = Comparator.comparing(SystemTreeNode::getNodeName);
        TreeUtils.sortNode(this, cmp);
 }

to allow adding users new nodes on my hierarchy tree
![image](https://user-images.githubusercontent.com/26834946/200844425-86bdd79c-af44-400c-a900-f8ca7603eefb.png)

so after user add new node I want to sort

[2022-11-09 13:47] melloware commented on #9392
Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-11-09 16:08] RegiK123 commented on #9392
I have a problem with running this project, please see an example of the code:
before use, the button tree will be in order as in init, after using the button it should be in alphabet order. (TreeUtils form PF 10)

[code]

[code]

[2022-11-09 21:27] tandraschko commented on #9392
I wonder if you should use SortMeta and pre-sorting, instead of manually do this in code

[2022-11-09 21:54] melloware commented on #9392
It looks like its Tree and not TreeTable and it looks like Tree has no sorting built in?  So that is why i think its happening manually.

[2022-11-09 22:11] melloware commented on #9392
Fixed and works fine:
[pf-9392.zip](https://github.com/primefaces/primefaces/files/9975520/pf-9392.zip)

You just need to fix your sort method...

[code]

[2022-11-09 22:11] #9392 closed, assigned to nobody

[2022-11-09 22:40] PaulWasilewski commented on #9389
Hi Thanks for the quick response.

It seems to be related to the combination of mask and time. For me it works removing the mask feature.

But I don't have time to provide a running example within the test project. Here is a simple reproducer I used for finding a solution.

However, thanks for the support and great work.

[code]

[2022-11-10 06:16] Bukama commented on #9384
Sorry was very busy the last days. Just did my review.

[2022-11-10 07:29] RegiK123 commented on #9392
It works fine, thanks :)

[2022-11-10 08:21] jepsar commented on #9392
@melloware looks like someone plagiarized your solution https://stackoverflow.com/a/74385498/880619

[2022-11-10 08:24] #9384 closed, assigned to jepsar

[2022-11-10 09:56] tuerker opened #9395 "DataTable: Support for row-specific titles"
### Description

Would be great to have the possiblity to define row specific title attributes. This would be very useful especially for big tables where you do not or cannot use frozenColumns. then you could pack important row-specific information into the default row mouse-over.

### Describe the solution you would like

In fact, i am asking for the possibility to extend the datatable by an attr

[2022-11-10 10:54] melloware commented on #9392
Ha thanks. It's the highest form of flattery!

[2022-11-10 11:30] tuerker commented on #9395
I have done this extension now. see pull request https://github.com/primefaces/primefaces/pull/9396

[2022-11-10 13:29] melloware commented on #9389
Related to: https://github.com/primefaces/primefaces/issues/9259

Its all Mask related as the InputMask registers its own events that intercept the DatePicker events

[2022-11-11 14:23] NicolaIsotta opened #9397 "BlockUI: duplicate ids generation"
### Describe the bug

When multiple blockUI target the same element, they generate divs with the same id

### Reproducer

[code]

### Expected behavior

Generated divs shouldn't have duplicate ids. Instead:
![blockui_duplicated_ids](https://user-images.githubusercontent.com/18428155/201359504-ae12f9c7-5894-4f0c-9acc-76cf28e7fd53.jpg)

### PrimeFaces edition

Community

### PrimeFaces version

12.0

[2022-11-11 14:28] NicolaIsotta commented on #9397
testing a fix right now, should be easy

[2022-11-11 14:30] melloware commented on #9397
thanks!

[2022-11-11 15:47] NicolaIsotta commented on #9397
MonkeyPatch:
[code]

[2022-11-11 16:33] #9397 closed, assigned to NicolaIsotta

[2022-11-11 16:33] #9395 closed, assigned to tuerker

[2022-11-11 20:20] christophs78 commented on #9279
Former work on this aka why is it currently implemented the way it is:

- focus-input was introduced with https://github.com/primefaces/primefaces/commit/4bdf60e7
  (was introduced to ensure clicking the label (referring via for-attribute to SelectOneMenu) set´s the focus to the SelectOneMenu)
- additional screereader-support was added with https://github.com/primefaces/primefaces/issues/598
- eve

[2022-11-11 20:39] christophs78 commented on #9279
References (one more time):

- https://www.w3.org/WAI/ARIA/apg/example-index/combobox/combobox-select-only.html
- https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/combobox_role

[2022-11-12 16:08] salviof opened #9401 "Button: Button href atribute rendering can be wrong when generate window.open"
### Describe the bug

When set href on button component like: <p:button href="http://primefaces.com/teste">  they render this:
...
onclick="window.open('http:\\/\\/primefaces.com\\/test','_parent')"
..
Thats not a problem in modern browser because they can handle it, but in a webview on a a flutter app, thats return a http error code -6
Maybe EscapeUtils.forJavaScript can be removed when targetURL

[2022-11-12 21:59] melloware commented on #9401
This is interesting let me look into it.

[2022-11-12 23:42] salviof commented on #9401
ok, you can close this insue, this is not the reason for the problem, my problem is linked to p:photoCam component permissions, with the flutter system, sorry, thanks for response.

[2022-11-12 23:42] #9401 closed, assigned to nobody

[2022-11-13 13:32] melloware commented on #9391
I think i will close this as as designed.  @pizzi80 you might be able to monkeypatch the Growl code to do something different for your specific use case.

[2022-11-13 13:32] #9391 closed, assigned to nobody

[2022-11-14 00:46] mertsincan opened #9403 "SelectCheckboxMenu with `updateLabel` attribute doesn't work as expected"
Reported By PRO User;

![Screen Shot 2022-11-14 at 00 44 49](https://user-images.githubusercontent.com/11868120/201553873-cfc93fb7-41f9-4097-b1ce-e120945f35c4.png)

Test Code;
[code]

[2022-11-14 00:47] #9403 closed, assigned to mertsincan

[2022-11-14 11:24] mertsincan opened #9404 "Add `exportRowspan` and `exportColspan` attributes to Column/s"
| Name | Default | Type | Description |
| --- | --- | --- | --- |
| exportRowspan | 0 | Integer | Defines the number of rows the column spans to be exported.
| exportColspan | 0 | Integer | Defines the number of columns the column spans to be exported.

Calculating colspan and rowspan is a very costly task in terms of performance, especially when exporting in tables with columns that use column gr

[2022-11-14 11:24] #9404 closed, assigned to mertsincan

[2022-11-14 16:45] jrcampins commented on #5840
On April 28, 2020, @tim12s wrote: "Responsive panelgrid does not currently allow specific cells within the grid to be identified or styled uniquely. This capability only exists with the layout='tabular' mode."

I will really appreciate if someone can tell me how to set the style of specific cells of a panelGrid with layout=tabular.

I want to "hide" some cells. I have partially solved the problem

[2022-11-15 12:15] tandraschko opened #9409 "TabView: render first tab as active if current activeIndex is bigger as data count"
this was already implemented for dynamic tabs

[2022-11-15 13:01] #9409 closed, assigned to tandraschko

[2022-11-15 23:08] mertsincan opened #9410 "Using invalid `autocomplete` attribute on hidden elements"
Reported By PRO User;

<input id="j_idt166:j_idt167_hinput" name="j_idt166:j_idt167_hinput" type="hidden" autocomplete="off" />

https://www.primefaces.org/showcase/ui/input/autoComplete.xhtml
field: "POJO"

This may be related to https://github.com/primefaces/primefaces/issues/7851.
Details; https://www.w3.org/WAI/standards-guidelines/act/rules/73f2c2/

[2022-11-15 23:11] mertsincan commented on #9410
@tandraschko @melloware @jepsar @Rapster @christophs78 What do you think?

[2022-11-16 00:04] melloware commented on #9410
Let us review and do some reading.  We will get back to you!

[2022-11-16 00:13] #9293 closed, assigned to melloware, mertsincan

[2022-11-16 12:34] melloware commented on #9410
I can confirm the NuHTML5 Checker doesn't like it either:

![image](https://user-images.githubusercontent.com/4399574/202181839-5d49aee2-df89-440c-83da-340c9dfe64bc.png)

[2022-11-16 12:38] melloware commented on #9410
OK after researching this was originally added to hidden inputs because of a Firefox issue.  see: https://stackoverflow.com/questions/18460909/firefox-overrides-javax-faces-viewstate-with-old-value-on-f5-how-to-turn-off-au

But that is old Firefox 23 i will check if its still an issue with newer Firefox.

[2022-11-16 12:41] melloware commented on #9410
OK @BalusC recommends to do nothing and ignore the W3C validator: https://stackoverflow.com/a/18463706/502366

_"If W3 conformance is really that important, consider rendering `<input type="text" style="display:none">` instead of `<input type="hidden">`. This goes however far overboard IMO."_ –
[BalusC](https://stackoverflow.com/users/157882/balusc)

[2022-11-16 18:56] hfluz opened #9412 "TriStateCheckbox: Item label not aligned with checkbox"
### Describe the bug

The item label is not aligned with the checkbox.

It was correct on Primefaces 8 (tested on older version of primefaces-test), but it isn't from Primefaces 10 to 12 (latest primefaces-test). It's just 1 line to reproduce, so I didn't upload the reproducer, but I can if needed.

How it's displayed:

![image](https://user-images.githubusercontent.com/832674/202267618-d40c1f27-8

[2022-11-16 19:47] jepsar commented on #9412
Workaround:

[code]

Tested with:

[code]

[2022-11-17 09:07] RegiK123 opened #9413 "TreeTable: Add SelectAll Checkbox header"
### Describe the bug

Select all not working for the tree table. (<p:column selectionMode="multiple" />)

### Reproducer

Run the code. The checkbox on the header not works and does not display.

[code]
code based on the https://www.primefaces.org/showcase/ui/data/treetable/selection.xhtml?jfwid=74ff1

### Expected behavior

The selectAll checkbox should work for the tree table in the same way as

[2022-11-17 09:33] lbroker commented on #5283
I see similar issue on Primefaces 8.0, actual test did with PF 8.0.22
tested with text alignment, and it does work with sanitizer.
Tested on PF10, and there is no this issue on PF10 version.

[2022-11-17 09:53] jepsar commented on #5283
@lbroker Please read https://github.com/primefaces/primefaces#community--elite--pro

If it works with the most recent version of PrimeFaces, there isn't much we can do here.

[2022-11-17 10:10] lbroker opened #9414 "TextEditor formating is not working with sanitizer on PF8"
### Describe the bug

Component p:textEditor is used with sanitizer, means attribute secure=true
When some text is formatted, for example center in the row, when while text is saved and loaded next time, formatting is not visible.
If try to use without sanitizer (secure=false) then text formatting is visible correctly.

Code which shows issue:
<h:form id="frmTest">
    <h4>With sanitizer (sequre=t

[2022-11-17 10:15] tandraschko commented on #9414
so it works fine on newer versions?

[2022-11-17 10:50] lbroker commented on #9414
Yes, it works with PF10.
And see that PF8 still gets updates. And I think PF8 is still widely used.

[2022-11-17 11:03] tandraschko commented on #9414
please read carefully: https://github.com/primefaces/primefaces#community--elite--pro

the only thing we can do here is to ping @mertsincan

[2022-11-17 11:03] #9414 closed, assigned to nobody

[2022-11-17 12:27] melloware commented on #9414
@lbroker as others have stated we can't fix 8 issues but you might want to check two things.  1. You are using the latest OWASP Sanitzer.

That you decompile the code of 8.0.22 or look at the sources JAR and make sure the sanitizer lines look like this...

[code]

[2022-11-17 12:29] melloware commented on #9413
@RegiK123 I don't see a "Select All" in the checkbox header on the showcase: https://www.primefaces.org/showcase/ui/data/treetable/selection.xhtml?jfwid=0eef8  Am I missing something?

[2022-11-17 12:47] RegiK123 commented on #9413
@melloware  "SellectAll" - I mean the checkbox in the header that should be used to select all nodes in the tree table. And yes even if you add this line <p:column selectionMode="multiple" />    the column is displayed, but the checkbox is not :(

This should work in the same way, as it works for table -> I refer to the http://www.primefaces.org:8080/showcase/ui/data/datatable/selection.xhtml?jfwi

[2022-11-17 12:59] melloware commented on #9413
OK marked as enhancement as not all Datatable features are available in TreeTable as its quite different.

[2022-11-17 21:07] lbroker commented on #9414
Thanks @melloware, your recommendation regarding HTML_STYLES_SANITIZER update in PF 8.0.22 solved issue.
At least have checked text alignment what was important to me. Thanks :)

[2022-11-18 01:36] Rapster commented on #9349
Since there are no feedbacks on this and I don't see any issue with 12.0  and the provided scenario, maybe the commit can be reverted WDYT?

[2022-11-18 09:09] liefke opened #9421 "Speedial: Button accessibility tooltip and aria-label"
To accomplish accessibility guidelines I need to set some description attributes to the speed dial button, like "title" or "aria-describedby".

But the speed dial component does neither support a title attribute, nor does it render pass through attributes correctly.

_Steps to reproduce_

Use a JSF page like this:

[code]

The result looks like this:

[code]

As you can see, the passthrough attrib

[2022-11-18 12:21] melloware commented on #9349
I am all for reverting it but its up to @mertsincan ??

[2022-11-18 12:22] tandraschko commented on #9349
+1 for revert it

if we really required, we can also add a attribute to DT

[2022-11-18 13:00] christophs78 commented on #9349
Reverting will break DataTable039Test (https://github.com/primefaces/primefaces/commit/e7333816c420b260c504f8bc9238ae7059902521). We at least need to modify (or disable) this as part of the revert-PR.

[2022-11-18 13:01] melloware commented on #9421
Great suggestion.  One comment though for `menuItem` doesn't the value already describe it so you don't need an `aria-description` on the menu item just on the Button to trigger the speed dial right?

[2022-11-18 13:03] Rapster commented on #9349
And if you apply the fix proposed https://github.com/primefaces/primefaces/issues/9349#issuecomment-1304304966 Does it work?

[2022-11-18 13:08] christophs78 commented on #9349
We before added https://github.com/primefaces/primefaces/commit/8b40e57af079e86323ac5cc98eb35fd2977e5ad8#diff-5f99e9fbde103f8ae481c72952b9c72c402b4471d178ddaa5208f7ed2508ef17. This one is similar but not exact the same.
You told us, your suggested solution based on PF-test works. So it should also work to put this into a integrationtest.
(Overall the PF history has IMO too many instances of fixing

[2022-11-18 13:32] mertsincan commented on #9349
Sorry, I missed these comments :/ I still don't understand that users have to use an attribute like filterValue. I think the way of use in the project I attached above is the kind of use we usually encounter in every project. If you are updating the table in the filter, I think it is not the right approach to say that you have to use this attribute.

I think we can all discuss how we can resolve t

[2022-11-18 13:39] mertsincan commented on #9349
https://github.com/primefaces/primefaces/issues/9349#issuecomment-1304288509 I agree with @djmj

[2022-11-18 13:56] melloware commented on #9349
So it sounds like it should be a config and defaulted to legacy behavior?

[2022-11-18 14:04] Rapster commented on #9349
Ok, I understand after such a long exchanges, we can get lost... I could have remove the "noise" to make things more clear, but not really confortable doing that 😅

I'll try to make things clear, concise and simple. Problems/Solutions are the following (based on what I said):

Solution is to use `oncomplete`. More details [here](https://github.com/primefaces/primefaces/issues/9349#issuecomment-129

[2022-11-18 14:08] mertsincan commented on #9349
I'm not sure, but I think if there really is going to be an attribute like filterValue, we should use it every time we use filter. An approach such as use this for these cases and use another attribute for other cases is utterly confusing. users may be undecided about what to use in which situation.

[2022-11-18 15:01] melloware commented on #9421
MenuItem is a duplicate of: https://github.com/primefaces/primefaces/issues/7970

[2022-11-18 17:05] Rapster commented on #9349
I'm really trying to help you here... 😅

Only when you have default values, yes

Well on one hand you don't like the use of filterValue but on the other hand, you want it to be used every time. I'm confused...

[2022-11-18 18:14] liefke commented on #9421
It depends on the length of the value you choose. The value is optional, the menu item could be just an icon (like the examples here: https://primefaces.org/primeng/speeddial). In that case you would need something as accessibility text, and apparently the data-tooltip element wouldn't be sufficient because unknown to any accessibility tool.

And from an implementation point of view: Apparently fo

[2022-11-18 18:17] melloware commented on #9421
i am thinking the following without getting crazy.

1. new prop on speedDial `ariaLabel` that goes on the `<button ... aria-label="Add new element">...</button>`

2. new prop on the MenuItem `ariaLabel` that we can just render on any MenuItem see: https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA8

[2022-11-18 18:40] liefke commented on #9421
I would focus on the passthrough attributes first, as there are enough other cases were you could use them.

But the ariaLabel prop could be an additional feature.

[2022-11-18 18:45] melloware commented on #9421
the `ariaLabel` prop is the easiest. Passthrough attributes in JSF are quite tricky as you have seen above.  And MenuItem doesn't support them at all and its a significant effort to implement which is why its not done.  Getting stuff to be ARIA compliant is always the first goal.

[2022-11-18 18:49] melloware commented on #9421
This component:
[code]

Now renders this correctly:
[code]

[2022-11-18 18:53] liefke commented on #9421
As far as I can see, you would just need to change all `writer.startElement("div", speedDial)` to `writer.startElement("div", null)` and `writer.startElement("a", null)` to `writer.startElement("a", element)`. The rendering of passthrough arguments is done in the writer.

[2022-11-18 18:59] melloware commented on #9421
yeah but that still won't give you explicit control of setting the label on the button itself. I think passthrough elements we always want on the outmost control the DIV.

[2022-11-18 19:04] melloware commented on #9421
I removed the passthrough attributes on everything except for the container DIV element now.

[2022-11-18 19:07] mihaiDumea opened #9424 "CSP: Unintended form submit at CommandButton click"
### Describe the bug

With CSP enabled, form submit event gets triggered after a commandButton is triggered. Two HTTP requests are generated instead of one.
[jsWrapper](https://github.com/primefaces/primefaces/blob/18892c0860c5da0f3b2cc278392d7d64fcc7fe73/primefaces/src/main/resources/META-INF/resources/primefaces/core/core.csp.js#L66) does not manage to cancel the default action of the event. May

[2022-11-18 19:08] melloware commented on #9421
i think there should also be a `title` attribute on speed dial that gets put on the button?  Right now there doesn't seem to be any way to add a tooltip to the button right?

[2022-11-18 19:13] melloware commented on #9424
Have you tested a fix?

[2022-11-18 19:16] mihaiDumea commented on #9424
Yes I had

[2022-11-18 19:17] melloware commented on #9421
Also `writer.startElement("a", element)` won't work because MenuItem is not a `UIComponent`.

[2022-11-18 19:19] mihaiDumea commented on #9424
From here I got the inspiration: https://developer.mozilla.org/en-US/docs/Web/API/Event/cancelable

[2022-11-18 19:28] melloware commented on #9424
OK check out my PR I think it makes sense.

[2022-11-18 19:43] mihaiDumea commented on #9424
Indeed. Without CSP would have an inline event handler `onclick="PrimeFaces.ab({...});return false;"` and returning false is enough to prevent the default action, either generating the event by the browser and having the `event.cancelable` defined, or triggering it via JQuery and having `event.cancelable` undefined.

[2022-11-18 19:44] #9424 closed, assigned to melloware

[2022-11-18 19:44] melloware commented on #9424
Thanks for the report and the fix!

[2022-11-19 12:15] #9421 closed, assigned to melloware

[2022-11-19 22:14] mertsincan commented on #9349
- I know, thank you :)

- No, if it is necessary to use filterValue as you suggested above, it can be a bit confusing for what situations users (including me) should use filterValue. Frankly, I didn't know that filterValue should be used until I wrote the above solution :D
It would be great if we can find a solution without using filterValue like in old usage. But if we are going to need an attrib

[2022-11-21 07:23] devmsaleh opened #9426 "DataTable: filterMinLength"
### Description

Please add filterMinLength to allow filter to work if minimum number of characters were entered, I know this can be accomplished with a custom filter function, but it's nice to have this built in attribute.

### Describe the solution you would like

Please add filterMinLength to allow filter to work if minimum number of characters were entered, I know this can be accomplished with

[2022-11-21 09:08] tandraschko commented on #9349
The LazyDataModel API is built to be generic and we pass all filters via FilterMeta in the #load method
so the normal case is that you loop all FilterMeta and add all in your "where" statement, like we do in our JpaLazyDataModel
this is the way how LazyDataModel was designed and worked in the past and also works now

the case, that you bind one single filter and use it in a non-generic (and "bindi

[2022-11-21 17:02] pizzi80 opened #9428 "DatePicker: add inputmask.js dependency only if mask is enabled"
### Description

Actually the datepicker has a dependency on inputmask even
if the mask option is not enabled.

Actually the default value for the mask option is false ...

### Describe the solution you would like

If it's possible add inputmask.js dependency only if mask is enabled

### Additional context

_No response_

[2022-11-21 17:11] tandraschko commented on #9428
We dont have optional resources and it offen makes problems
Feel free to come with a PR
Otherwise i would not Invest time here

[2022-11-21 17:54] FlipWarthog opened #9429 "DataTable: selectionMode=multiple with rowSelectMode=none still shows cursor pointer"
### Describe the bug

DataTable Checkbox selection with `rowSelectMode="none"` still sets the `cursor: pointer` style on hover of the entire row, despite only being able to select via the Checkbox.

### Reproducer

This issue can be reproduced running the showcase locally. Modify the Checkbox example in the `ui/data/datatable/selection.xhtml` showcase page and set `rowSelectMode="none"`. Run the s

[2022-11-21 18:57] melloware commented on #9429
looks like its this in the themes.

[code]

[2022-11-21 18:59] melloware commented on #9429
Actually its this line...

[code]

[2022-11-21 19:58] melloware commented on #9428
Agreed this is not worth investing time in for a very small network size performance gain.  My vote is -1.

[code]

[2022-11-21 20:06] melloware commented on #9426
I know what you want but like you mentioned this can be accomplished other ways and I hesitate adding yet another filter property on the column.  Just my two cents.

[2022-11-22 09:24] vonnai opened #9431 "Blockui: resetPositionCallback is not executed if the duration is undefined"
### Describe the bug

The resetPositionCallback is not executed in "hide" call if the duration is undefined. It really does nothing (master, blockui.js)
[code]
Fadeout works fine.

### Reproducer

1. open Primefaces demo
2. [go to blockui page](https://www.primefaces.org/showcase/ui/misc/blockUI.xhtml)
3. execute this code in console ``` PF('buiDatatable').cfg.animate = false;  ```
4. put the brea

[2022-11-22 09:42] liefke commented on #9421
My bad, I didn't notice that `MenuItem` isn't a UIComponent. That you added the passthrough elements to the button is imho the best solution.

Thanks for the quick fix.

[2022-11-22 11:38] fcjm opened #9432 "DataTable: Paginator does not get dynamically rendered when filtering"
### Describe the bug

We have a DataTable with predefined filters and paginatorAlwaysVisible=false and we page for every 5 entries. Now we have 6 results in total, but the filter is set in such a way, that less than 5 results show up initially. In that case the Paginator does not get rendered, which is to be expected. If you now remove the filter from the table (and all 6 results should show up ag

[2022-11-22 12:36] melloware commented on #9431
You are right it looks like jQueryUI `hide` method will not call the callback if no duration is defined.

MonkeyPatch:

[code]

[2022-11-22 12:42] vonnai commented on #9431
I don't think your fix is right. The duration should be set to default only if the animated is false. Jquery default duration is 400 for fadeIn, fadeOut. Your fix will change the default behavior for each primefaces user. I think nobody uses the duration value in calling the hide func on the blockui widget.

[2022-11-22 12:45] melloware commented on #9429
Workaround:
[code]

[2022-11-22 12:46] melloware commented on #9431
No its right it sets the duration to `1 millisecond` ONLY if duration is `undefined, 0, or null`

[2022-11-22 12:48] melloware commented on #9431
The callback will never be called in fadeout or in hide without the duration set to a positive value.

[2022-11-22 12:50] melloware commented on #9429
Because `rowSelectMode` doesn't put anythng in the DOM there is nothing to select or remove.  So this CSS style is applied to selectable rows.  If you turn selection off then the whole row including the checkbox becomes unselectable.

[2022-11-22 12:53] vonnai commented on #9431
fadeOut works well with undefined duration, it uses the 400 by default and the callback will be called, just you can try it.The problem is only for hide.

[2022-11-22 12:55] melloware commented on #9431
OK updated my PR and monkeyPatch to only apply it to hide.

[2022-11-22 13:01] vonnai commented on #9431
thanks, it looks much better. I would change the default to 0, because if animated is false, why the hide action should take 1 millisecond?

[2022-11-22 13:15] melloware commented on #9431
let me try 0 but in JS falsy is `undefined, null or 0`.  So if they are treating undefined as don't call the callback I assume 0 will also be ignored.

[2022-11-22 13:17] vonnai commented on #9431
0 works well, I have tried it.

[2022-11-22 13:18] melloware commented on #9431
OK i just tested it too it is working. Odd that they aren't using `falsy` behvior and looking for undefined explicitly.

[2022-11-22 13:19] #9431 closed, assigned to melloware

[2022-11-22 16:40] christophs78 opened #9435 "SelectManyMenu & SelectManyCheckbox: add attribute collectionType to documentation and primefaces-p.taglib.xml"
### Description

plus maybe add refererence to https://stackoverflow.com/questions/25245426/org-hibernate-lazyinitializationexception-at-com-sun-faces-renderkit-html-basic

### Describe the solution you would like

-

### Additional context

_No response_

[2022-11-23 09:55] tuerker opened #9437 "VirusScan: Provide defaults for host and port"
### Description

Provide defaults for host and port such that no explicit configuration in web.xml is needed anymore when these defaults are fine.

Actually by looking deeper into this issue, I also detected a bug that the

primefaces.fileupload.CLAM_AV_FILE

message is not correct since '{0}' cannot be replaced by the standard message formatter. here, the message should include ''{0}'' instead of

[2022-11-23 13:39] melloware opened #9439 "Images: Support WEBP Files"
Based on this OmniFaces ticket and PR: https://github.com/omnifaces/omnifaces/issues/720#event-7876725970

we have similar code in PF.

[2022-11-23 14:58] #9439 closed, assigned to melloware

[2022-11-23 14:58] #9429 closed, assigned to melloware

[2022-11-23 15:28] #9437 closed, assigned to tuerker

[2022-11-23 18:48] tandraschko opened #9442 "Spinner: doenst increase because of rounding / math.floor error"
### Describe the bug

see spinner.js #spin:

`newValue = (dir > 0) ? Math.floor(newValue / step) * step : Math.ceil(newValue / step) * step;`

in my case step is 0.1 and newValue 0.6, which means that `newValue / step` is `5.999999999` and Math.floor results in 5 instead of 6

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces edition

Community

### PrimeFaces ver

[2022-11-23 18:51] tandraschko commented on #9442
@melloware can you check? you introduced this because of #8631

[2022-11-23 19:19] #9435 closed, assigned to christophs78

[2022-11-23 19:58] melloware commented on #9442
yep will check.  I think I even added integration tests.

[2022-11-23 20:12] melloware commented on #9442
MonkeyPatch:

[code]

[2022-11-24 11:36] tandraschko commented on #9442
my case now works but not sure if it fix all possible rounding errors

[2022-11-24 13:39] melloware commented on #9442
I just updated the integration tests and the original ticket i fixed and this new ticket are both working!

[2022-11-24 13:40] melloware commented on #9428
Going to close this for now.  PR would be welcome if you really want to fix it but as I said these feels like a lot of work for a small improvement!

[2022-11-24 13:40] #9428 closed, assigned to nobody

[2022-11-24 13:41] melloware commented on #9410
Going to close this for now as not necessary.

[2022-11-24 13:41] #9410 closed, assigned to nobody

[2022-11-24 14:00] #9442 closed, assigned to tandraschko

[2022-11-24 17:01] wbss1 opened #9446 "SelectOneRadio: problem with accessibility on Custom Layout (Facet)"
### Describe the bug

The extension Accessibility Insights for Web (https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjkligggfmakdaogkfomddhfmpjeni) report a problem of accessibility WCAG 4.1.2 on SelectOneRadio Custom Layout (Facet)
[code]
![Screenshot_1](https://user-images.githubusercontent.com/100421074/203835040-78ec6a86-b65b-45e5-9ec6-0c0f68660789.png)

### Reproducer

_

[2022-11-24 17:22] melloware commented on #9446
Related to: https://github.com/primefaces/primefaces/issues/9282

[2022-11-26 16:07] andrejkolontai opened #9452 "ResourceUtils: does not recognize resource URLs on Jakarta EE"
### Describe the bug

`org.primefaces.util.ResourceUtils.getResourceURL(FacesContext, String)` doesn't recognize resource URLs on Jakarta EE. This caueses the ImageCropper to break when resource are used, i.e. `#{resource['requestPhotosEdit:9752-66110-07_3']}` used in the `image` attribute.

These URLs resolve into something like `/admin-ui/jakarta.faces.resource/9752-66110-07_3.jsf?ln=requestPhot

[2022-11-26 17:05] melloware commented on #9452
Thanks for the excellent report!

[2022-11-28 08:20] tandraschko commented on #9452
shouldnt RESOURCE_IDENTIFIER be shaded to jakarta?
i will check it now

[2022-11-28 09:35] tandraschko commented on #9452
really weird
it also fails on MyFaces 4.0.0-SNAPSHOT, where you can clearly see:
`public static final String RESOURCE_IDENTIFIER = "/jakarta.faces.resource";`

`else if (value.contains(ResourceHandler.RESOURCE_IDENTIFIER)) {`
evaluates to false
where as `else if (value.contains("/jakarta.faces.resource")) {`
evaluates to true

maybe someone else can debug further
dependencies are looking fine
no i

[2022-11-28 10:36] NicolaIsotta commented on #9452
I decompiled the jakarta jar, this is the method:
[code]
Seems like the compiler, knowing that `RESOURCE_IDENTIFIER` is a constant (static and final), replaces the string reference with the value.

[2022-11-28 10:44] tandraschko commented on #9452
puuuh, okay
we have to check how to manage this with shade plugin
this will propably also hit us for other constants

[2022-11-28 12:22] #9452 closed, assigned to tandraschko

[2022-11-28 12:58] melloware commented on #9452
Nice fix!

[2022-11-28 15:10] xLevision opened #9453 "AjaxExceptionHandler + CSP - OnClick is not triggered"
### Describe the bug

If i use AjaxExceptionHandler with enabled CSP all inline JS (e.g. onClick) inside the Dialog will not be triggered. If i disable CSP its working. If i open the Dialog manually and let CSP enabled its also working. But both together not working.

### Reproducer

[producer.zip](https://github.com/primefaces/primefaces/files/10104942/producer.zip)

### Expected behavior

_No re

[2022-11-28 19:33] FlipWarthog commented on #9429
Workaround works like a charm, thanks!

[2022-11-30 08:16] landrit commented on #1588
@tandraschko
Is there an example of this?
How can I set the width and height of the content to 100% of the space when resizing?
Every time I resize the dialog the width and height is getting set but it does not use the whole space available

![image](https://user-images.githubusercontent.com/34266191/204741637-3a90fccd-d3ad-4820-9ea5-17d174c82ec5.png)

How can I prevent the default behaviour that

[2022-11-30 08:46] Sungray commented on #9201
That would be a very good solution. I'm currently stuck on this one too.

[2022-11-30 12:38] melloware commented on #1588
@landrit Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-11-30 17:46] SirError opened #9457 "CommandButton: CommandButton loses focus when 'clicked' with enter button in a modal"
### Describe the bug

Hi everyone, this bug is kind weird.

if I have a modal dialog, with a commandButton and I use the enter button to "click" it instead of using mouse click, it loses focus when the ajax request ends.

This happens in Chrome, but not in Firefox;

I added a reproducer to better show the problem

### Reproducer

1 - It only happens in Chrome,  so open it in Chrome http://localhos

[2022-11-30 17:52] jepsar commented on #9457
Does it work without the dialog?

[2022-11-30 17:58] SirError commented on #9457
<EDIT> Yes, it works without dialog </Edit>,

 it only happens on Dialog, and only when the Dialog is modal

[2022-11-30 18:32] SirError opened #9458 "InputNumber: wrong selection after ajax"
### Describe the bug

If the inputNumber is updated by an ajax call before getting focus, and the value is bigger than the old value,
 just part of the new value is selected

This image shows what happens
![image](https://user-images.githubusercontent.com/6018700/204878241-960640e0-550a-444f-8c9c-6296854e599e.png)

This other shows what shoul happen
![image](https://user-images.githubusercontent.c

[2022-11-30 20:06] ybendek opened #9459 "Avatar: Error rendering label with only numbers"
### Describe the bug

I have an issue where the value passed to the attribute label is only numbers or anything different as letters, the current version throws an exception with the message

`java.lang.StringIndexOutOfBoundsException: String index out of range: 0
	at java.base/java.lang.StringLatin1.charAt(StringLatin1.java:47)
	at java.base/java.lang.String.charAt(String.java:693)
	at org.primef

[2022-11-30 21:04] melloware commented on #9459
Can you paste your exact XML snippet. We definitely assumed it was names that would be in there.

[2022-11-30 21:33] melloware commented on #9459
Verified it and added 3 more unit tests.

[code]

[2022-11-30 21:38] ybendek commented on #9459
Sure, I found that not for only numbers, in some cases fails with letters

`
<p:avatar label="41235 5asdd"  shape="circle" dynamicColor="true"  size="large" saturation="60" icon="pi pi-user"/>

<p:avatar label="1234"  shape="circle" dynamicColor="true"  size="large" saturation="60" icon="pi pi-user"/>

<p:avatar label="888 7666"  shape="circle" dynamicColor="true"  size="large" saturation="60" ico

[2022-11-30 21:39] melloware commented on #9459
Great let me add your use case to the unit tests.

[2022-11-30 21:40] melloware commented on #9459
OK with my latest fix your labels would come out like this...

[code]

[2022-11-30 21:49] melloware commented on #9458
Not sure I want to fix this because this is a race between your AJAX update and the tab key and AutoNumeric but here is a nice little workaround using AJAX `oncomplete`

[code]

[2022-11-30 21:52] melloware commented on #9458
I marked this 3rd party as I actually believe its AutoNumeric that automatically selects all the text when you tab in. so its selecting the range of 3 then your AJAX update wipes it out and its still only has the range select of 3

[2022-11-30 22:19] #9459 closed, assigned to melloware