[2017-08-08 15:50] RamiOthman opened #2616 "TabCell after ajax call in primefaces datatable p:cell"
I created a datatable with primefaces of which there are two columns each depends on the other. (Column1 = column2 * 2 and column2 = column1 / 2). I used the component "p: celledit", when I modify column1 and I validate, column2 changes automatically, for the update, I used omnifaces with the Ajax.updateRow (table, index) method. Everything is fine, except that I have to use the tab button to navi

[2017-08-08 15:54] tandraschko commented on #2616
Questions -> forum
A valid issue contains everything asked in the issue template.

[2017-08-08 15:54] #2616 closed, assigned to nobody

[2017-08-08 17:20] Rapster commented on #2606
With this amount of code information, I'd suggest you to use the provided tempate (primefaces-test) so PF team can reproduce the problem. FYI, follow the issue template ;-)

[2017-08-09 09:19] mhmghanem opened #2617 "add closeOnEscape feature to dialogFramework"

[2017-08-09 09:34] tandraschko opened #2618 "Remove deprecated jQuery function usage"

[2017-08-09 09:59] michaelGroe opened #2619 "PickListRenderer: multiple attribute value does not conform to w3c html standards"
## 1) Environment
- PrimeFaces version: latest from master
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No

## 2) Expected behavior
pickList generates valid html code

## 3) Actual behavior
pickList does not generate valid html code

Instead of <select multiple="true"> the right way according to w3c would be <select multiple="multiple

[2017-08-09 10:00] michaelGroe commented on #2619
Can be fixed by simple one line change in PickListRenderer.encodeListInput()

[2017-08-09 11:05] #2618 closed, assigned to tandraschko

[2017-08-09 11:34] mertsincan opened #2620 "Add rowSelector attribute to DataTable"
Client side check if rowclick triggered row click event not a clickable element in row content.

[2017-08-09 11:37] #2620 closed, assigned to nobody

[2017-08-09 12:16] mertsincan opened #2621 "Add focusOnSelect attribute to Calendar"
If enabled, the input is focused again after selecting a date. Default is false.

[2017-08-09 12:18] #2621 closed, assigned to nobody

[2017-08-09 12:40] Rapster commented on #2619
Cool, so you can provide a PR then ;-)

[2017-08-09 13:22] michaelGroe commented on #2619
created pull request #2622

[2017-08-09 13:41] #2619 closed, assigned to tandraschko

[2017-08-09 13:41] tandraschko commented on #2619
Thanks!

[2017-08-09 16:40] #2233 closed, assigned to tandraschko

[2017-08-09 18:49] erickdeoliveiraleal opened #2624 "update moment js to 2.18.1"
update moment js to 2.18.1

[2017-08-09 23:36] Mobe91 commented on #1433
This breaks any code that acts on tree nodes based on tree node data equality.
Assume this bean:

[code]

The above code used to work but does not work any more with PF 6.1. Row keys are auto-assigned when building the tree so they may be unknown at some points in user code and may not be available when tree nodes need to be matched based on data equality. What is the suggested migration strategy

[2017-08-10 07:35] tandraschko commented on #1433
Can you have a look @tom-b-wright ?!

[2017-08-10 07:59] sorvant commented on #1433
Yes, I will look at it and come back with a solution.

[2017-08-10 08:41] sorvant commented on #1433
@Mobe91
As you've already detected: in Primefaces 6.1 the DefaultTreeNode.equals method was improved so that 'row key' value is also considered. When you want to look for a node that has a specific data value, the best practice is to rely on strict data equality instead of the node equality. I think you need to change your code in your product so that it is based on node.data equality.

The follow

[2017-08-10 15:45] tandraschko opened #2625 "[perf] use oldschool for loop for selectItems"

[2017-08-10 15:46] #2625 closed, assigned to tandraschko

[2017-08-10 15:46] #2624 closed, assigned to tandraschko

[2017-08-10 19:49] erickdeoliveiraleal opened #2626 "update fullcalendar to 3.6.2"
Changes:

https://github.com/fullcalendar/fullcalendar/compare/v2.9.1...v3.6.2

https://github.com/fullcalendar/fullcalendar/releases

Breaking Changes in 3.0:

IE8 support dropped
jQuery: minimum support raised to v2.0.0
MomentJS: minimum support raised to v2.9.0
lang option renamed to locale
dist files have been renamed to be more consistent with MomentJS:
lang/ -> locale/
lang-all.js -> locale-

[2017-08-11 08:46] dhladky commented on #942
I realized this issue affects also other field types, such as text boxes. This makes the rowExpansion basically useless.

[2017-08-11 08:46] tandraschko opened #2627 "SelectOneButton: doesn't allow null value in SelectItems"
the associated selectItem is never selected

[2017-08-11 08:48] mertsincan opened #2628 "First row is not rendered correctly on DataTable with frozenColumn and frozenRow"
Reported By PRO User;

[2017-08-11 08:51] #2628 closed, assigned to nobody

[2017-08-11 08:53] #2627 closed, assigned to tandraschko

[2017-08-11 10:35] skybber opened #2629 "LifecyclePhaseListener store not serializable PhaseId to session"
PhaseId is stored in LifecyclePhaseListener.getPhaseInfo() causing session serialization problems on Tomcat at least:

    WARNING: Cannot serialize session attribute org.primefaces.component.lifecycle.LifecyclePhaseListener for session BC8EFF77ED3185E0F819EEA5FC834A50
java.io.NotSerializableException: javax.faces.event.PhaseId

[2017-08-11 10:52] tandraschko commented on #2629
Long time fixed.

[2017-08-11 10:52] #2629 closed, assigned to nobody

[2017-08-11 19:00] gopalakrishnach opened #2630 "p-datatable Row Group with Row expansion. Colspan for row expansion template"
1) Environment
- PrimeFaces version: 4.1.3
- Does it work on the newest released PrimeFaces version? No

2) Expected behavior: When p-datatable has Row Group and Row Expansion the colspan of the row expansion template must be total number of visible columns - 1. Since the p-datatable has Row Group the first column is sortfield and in some rows the first column will span more than one row so you mu

[2017-08-11 19:13] tandraschko commented on #2630
Use the PrimeNG project.

[2017-08-11 19:13] #2630 closed, assigned to nobody

[2017-08-11 20:13] tandraschko commented on #2630
https://github.com/primefaces/primeng

[2017-08-11 20:21] gopalakrishnach commented on #2630
Thanks. Posted. https://github.com/primefaces/primeng/issues/3651

[2017-08-11 20:27] tandraschko commented on #2595
Works fine for me.

[2017-08-11 20:27] #2595 closed, assigned to nobody

[2017-08-12 07:26] Rapster commented on #2595
Okay strange... I may have done something wrong then

[2017-08-12 10:08] Rapster opened #2631 "Datatable: multiviewstate + lazy after sorting crashes"
## 1) Environment
- PrimeFaces version: 6.2-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Jetty
- Affected browsers: Chrome

## 2) Expected behavior

1. Sort any column of the table in lazy.xhtml

[2017-08-12 10:08] Rapster commented on #2631
@mertsincan you might have an idea on this

[2017-08-12 11:52] Rapster commented on #2606
I simply try this and it works

[code]

[2017-08-12 12:02] Rapster commented on #2431
Shoud be closed then ;-)

[2017-08-14 06:18] garcia-jj opened #2632 "InputGroup breaks with InputNumber"
The new feature InputGroup available in the latest version doesn't work with components like InputMask. This is caused because this kind of components create hidden HTML elements that breaks CSS styles.

This issue only occurs when the addon is before InputMask. Doesn't occurs when the addon is after InputMask.

![image](https://user-images.githubusercontent.com/140387/29259858-2bbea6c8-809c-11e7-

[2017-08-14 08:32] tandraschko opened #2633 "AccordionPanel: activeIndex should allow null as value"

[2017-08-14 08:33] #2633 closed, assigned to tandraschko

[2017-08-14 10:43] SavchenkoVV commented on #404
+1

[2017-08-14 17:55] garcia-jj commented on #2605
Its not possible due HTML security restrictions. Imagine you are visiting an website with this form:

[code]

[2017-08-15 16:49] Dragonsol opened #2634 "DataTable: Persisting object with rowExpansion using cellEdit event"
## 1) Environment
- PrimeFaces version: PrimeFaces 6.2-SNAPSHOT (August 15, 2017)
- Application server + version: WildFly 10.1.0
- Other:  Hibernate 5
- Affected browsers: all

## 2) Expected behavior
Expected the "child" objects in the rowExpansion to be persisted, even if the rowExpansion was never toggled.

## 3) Actual behavior
cellEdit event handler contains null values for all elements / chi

[2017-08-16 05:30] mariaarora opened #2635 "Not able to add more than 970 elements in <p:picklist>"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-08-16 06:50] mertsincan opened #2636 "The change event of Spinner in IE not working when pressing enter key"
Reported By PRO User;

https://www.primefaces.org/showcase/ui/data/datatable/filter.xhtml

[2017-08-16 06:51] #2636 closed, assigned to nobody

[2017-08-16 07:33] Rapster commented on #2635
#2543 #2527 At this stage, you should provide a sample, otherwise we won't bother to have a try...

[2017-08-16 07:47] tandraschko commented on #2635
Duplicate of #2543

[2017-08-16 07:47] #2635 closed, assigned to nobody

[2017-08-16 11:52] melloware opened #2637 "Update Component: ContentFlow"
From PF Extensions Project Request:  https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/446

I suggest to use a more sophisticated implementation like https://vanderlee.github.io/coverflow/
I already integrated this one (using jQuery) into my Primefaces-based application already and it works well, even with pe:documentViewer as "cover" items.

**Advantages:**
- It all

[2017-08-16 15:16] jxmai opened #2638 "AJAX request cannot reach bean if command link / button located in accordion"
## 1) Environment
- PrimeFaces version: Latest Primefaces snapshot by the time of writing
- Does it work on the newest released PrimeFaces version? Version? work on 6.0, 6.1, but broke in 6.2 Snapshot
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 8.0.20
- Affected bro

[2017-08-16 15:27] tandraschko commented on #2638
patch or analysis is very welcome ;)

[2017-08-16 15:31] jxmai commented on #2638
I was bisecting this issue the other day but some of the commits in between cannot be compiled... such as https://github.com/primefaces/primefaces/commit/f1c095e9fed3628b5ac9ccd2688c284af07e09c6. This issue will be more of a problem when RC is released. To analyse later.

---

As a note:  bad commit: https://github.com/primefaces/primefaces/commit/09ff17ce55b0889b3650d871306611f75970cf34

good com

[2017-08-16 18:18] alberto-stage commented on #911
This problem seems to be still present on Primefaces 6.1

[2017-08-17 00:32] jxmai commented on #2638
@tandraschko  I found out the first bad commit: https://github.com/primefaces/primefaces/commit/3088e8bd40566e4cf28ade1979dc3d43ea0fc00e for issue #2525

![image](https://user-images.githubusercontent.com/10467831/29390918-295076d6-82b9-11e7-9206-d49d44fff81c.png)

Please take a look. It looks like you skipped some children processes that should not be skipped.

[2017-08-17 07:26] OBreidenbach opened #2639 "p:calendar add missing close event to popup"
## 1) Environment
- PrimeFaces version: 6.1.4
- Does it work on the newest released PrimeFaces version? Version? No, Version 6.1.4
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No.
- Application server + version: Wildfly 10.1
- Affected browsers: All

## 2) Expected behavior

Listening to close event of the c

[2017-08-17 08:42] OBreidenbach opened #2641 "p:menuButton: add title attribute"
## 1) Environment
- PrimeFaces version: 6.1.4
- Does it work on the newest released PrimeFaces version? Version? No, 6.1.4
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Wildfly 10.1
- Affected browsers: all

## 2) Expected behavior

Have the title attribute at the menuButton

[2017-08-17 09:19] OBreidenbach opened #2643 "Dialog: improve positioning with my+at"
## 1) Environment
- PrimeFaces version: 6.1.4
- Does it work on the newest released PrimeFaces version? Version? No, 6.1.4
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Wildfly 10.1
- Affected browsers:

## 2) Expected behavior

At the moment there is only the 'position' att

[2017-08-17 13:12] melloware commented on #2447
I have verified this in Firefox but as stated there is no issue.  I believe this to be a Firefox "false positive".   Chrome, IE, and Firefox all tested and working fine in the above scenario.  I recommend closing this ticket.

[2017-08-17 13:28] melloware commented on #2394
OK I tested this in Firefo, Chrome, and IE.   All are working properly its just that Firefox reports this stuff in the console.   I believe this to be again just something weird Firefox is reporting or a "false positive".  For example Chrome reports this in the exact scenario:

":8080/showcase/javax.faces.resource/socket/socket.js.xhtml?ln=primefaces&v=6.2-SNAPSHOT:2167 [Deprecation] Synchronous X

[2017-08-17 13:30] stiemannkj1 commented on #2394
@tandraschko, no issue with the functionality, just an error in the logs as far as I remember.

[2017-08-17 13:51] melloware commented on #2394
OK I think its safe to close this ticket.

[2017-08-17 14:47] melloware commented on #82
This is an Atmosphere issue I just reported here:  https://github.com/Atmosphere/atmosphere/issues/2289

[2017-08-17 14:49] #82 closed, assigned to nobody

[2017-08-17 14:49] tandraschko commented on #82
Thanks for your help!

[2017-08-17 14:50] tandraschko commented on #2447
Could maybe create a issue on on athmosphere side? such a error/warning isn't nice.

[2017-08-17 14:50] #2447 closed, assigned to nobody

[2017-08-17 14:51] tandraschko commented on #2394
Thanks! Could someone create a ticket on athmosphere side? So we can simple upgrade it later.

[2017-08-17 14:51] #2394 closed, assigned to tandraschko

[2017-08-17 15:09] tandraschko commented on #2638
Please give it a try, could be fixed ;)

[2017-08-17 15:10] jxmai commented on #2638
Alright, let me try it out before closing this ticket.

[2017-08-17 15:15] tandraschko commented on #2639
Thanks!

[2017-08-17 15:15] #2639 closed, assigned to tandraschko

[2017-08-17 15:16] tandraschko opened #2644 "[Documentation] Calendar: close event"
#2639

[2017-08-17 15:17] tandraschko commented on #2641
Thanks

[2017-08-17 15:17] #2641 closed, assigned to tandraschko

[2017-08-17 15:17] tandraschko opened #2645 "[Documentation] MenuButton: title attribute"
#2641

[2017-08-17 15:20] jxmai commented on #2638
@tandraschko It works :+1: This ticket can be closed now.

[2017-08-17 15:40] avinashmoram commented on #1447
@djmj  @tandraschko I had similar problem. We call web services from the load method and when the web services returns error messages, they do not get displayed at the top of the page where we show all p:messages. Is there a way to update that p:messages id. Because the existing page event update did not update my p:messages.

[2017-08-17 15:46] #2638 closed, assigned to nobody

[2017-08-17 15:47] tandraschko commented on #1447
Should work if you define it in the update attribute - but thats something for the forum ;)

[2017-08-17 16:40] melloware commented on #2394
I will take care of reporting it to them.

[2017-08-17 17:52] melloware commented on #448
PR submitted.  Added new "hrp" attribute so you can set hrp="top" for example.

[2017-08-17 18:25] melloware commented on #2394
Reported https://github.com/Atmosphere/atmosphere-javascript/issues/226

[2017-08-17 18:25] melloware commented on #2447
Reported https://github.com/Atmosphere/atmosphere-javascript/issues/226

[2017-08-17 19:32] melloware commented on #484
PR submitted: https://github.com/primefaces/primefaces/pull/2647

[2017-08-17 21:11] taylor-seth commented on #2382
Has this been flagged for an upcoming release?

I understand the idea that it "feels wrong" since ideally a component shouldn't be updated if it isn't available.  Most of the time this is true and could be seen as a code smell that should be fixed with some simple refactoring.  However, in our case, the most pain has been with the dialog framework.

We have business logic that is shared between th

[2017-08-18 01:56] ravihariharan commented on #1856
@tandraschko  : Something interesting quill-image-drop-module
https://github.com/kensnyder/quill-image-drop-module

Demo : https://plnkr.co/edit/ubVmPkBjqQESsefM3JrT?p=preview

[2017-08-18 05:43] mariaarora commented on #2543
I tried the loop for 970 elements.
It is not working beyond that

xhtml:
   <p:pickList value="#{pickListView.deviceListSource}"
							var="picklist" itemLabel="#{picklist.displayName}"
							itemValue="#{picklist}" styleClass="Wid30"
							showSourceFilter="true" showTargetFilter="true"
							converter="entityConverter" id="picklistMonitor"
							filterMatchMode="contains">

[2017-08-18 07:34] tandraschko commented on #2382
No plans, sorry.
I suggest to use the underlying facesContext.getPartialViewContext().getRenderIds().add(clientId)

[2017-08-18 14:17] piyushsingh90 opened #2648 "PF 6.1: p:messages does not work"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? 6.0
- Application server + version: Mojarra 2.2.13 on Glassfish.

## 2) Expected behavior
[code]

When we click the commandButton, the message component should be displayed, with the appropriate message.

## 3) Actual behavior
p:messages component is not rendered on the GUI. No error mess

[2017-08-18 14:41] tandraschko commented on #2648
This example works fine in the showcase when copied into the showcase with trunk.

[2017-08-18 14:41] #2648 closed, assigned to nobody

[2017-08-18 14:53] Dragonsol opened #2649 "textEditor does not render properly when using CelEdit (in dataTable)"
1) Environment

    PrimeFaces version: PrimeFaces 6.2-SNAPSHOT (August 15, 2017)
    Application server + version: WildFly 10.1.0
    Other: Hibernate 5
    Affected browsers: all

2) Expected behavior

textEditor to be properly rendered.

3) Actual behavior

In "view" mode, it works properly and displays the data as expected.
![pic1](https://user-images.githubusercontent.com/8823006/30273361-adf

[2017-08-21 15:22] Rapster opened #2650 "DataTable: duplicate cliend ids in custom facet paginator"
## 1) Environment
- PrimeFaces version: 6.2-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
## 2) Expected behavior
As an example, menu button is used in facet, and as a result, menuButton should display menu items

## 3) Actual b

[2017-08-21 21:45] #448 closed, assigned to tandraschko

[2017-08-21 21:46] tandraschko opened #2652 "[Documentation] BarCode: hrp"
#448

[2017-08-21 21:48] tandraschko commented on #2632
A PR would be great.

[2017-08-22 06:37] javan-mehdi commented on #186
Hi,

When I have an ajaxStatus tag in my dialog it happens. It took me almost a week to figure it out. I think it's easy to reproduce it as I did. However, I can send a sample project if it helps. I uses PrimeFaces 6.1 and FireFox 55.0.2 which is the latest version now.

Until this problem is resolved by PrimeFaces, there are two workarounds: Either remove the ajaxStatus tag or set ajax attribute

[2017-08-22 09:07] mertsincan opened #2653 "p:layout in custom dialog make all content invisible on PF elite versions"
Reported By PRO User;

When combining <p:layout> within a dialog, it opened almost empty (see emptyDialog.jpg) that means that all our components are missing - seems that the show method on the dialog is failing so while page DOM contains the expected html, it is not initialized.

Test code;
[code]
When we used primefaces-6.1.jar or 6.1.3, everything worked just fine.

[2017-08-22 09:13] #2653 closed, assigned to nobody

[2017-08-22 09:34] mertsincan commented on #2395
Hi @tandraschko,
Reverted this PR on 6.1.5 and 6.0.23. Issue; #2653
Our PRO Users have some problems related to this PR after upgrading PrimeFaces elite version. p:autocomplete, p:wizard, p:layout etc are not working after PF6.1.3. When I  send a custom jar after reverting this PR, they say our codes work fine. Therefore, I reverted this PR on Elite versions for now. Also, one of our PRO User see

[2017-08-22 09:50] mariaarora opened #2654 "Hand icon appearing on entire canvas on primefaces barchart drilldown"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-08-22 10:03] tandraschko commented on #2395
@melloware @Rapster we also did something in PFE, right? Could you check that?

[2017-08-22 11:25] melloware commented on #2395
We ended up not having to fix anything in PFE.  It was all fixed by this ComponentUtils fix after the Jquery Upgrade to 2.2.4.  I feel like this fix is the right fix and we need to figure out why p:wizard and p:layout are not working with this fix.

[2017-08-22 11:54] mertsincan commented on #2395
Hi @tandraschko , @melloware and @Rapster

I attached a sample maven project. Could you please try it? An issue is reported by PRO User related to this PR.

[primefaces-test.zip](https://github.com/primefaces/primefaces/files/1241900/primefaces-test.zip)

6.2-SNAPSHOT;
- It doesn't work with this PR
- it works fine without this PR

[2017-08-22 12:11] melloware commented on #2395
I have confirmed your findings I get "Uncaught Error: Syntax error, unrecognized expression: unsupported pseudo: j_idt6"

in pe:timepicker it is doing this..

[code]

[2017-08-22 12:16] melloware commented on #2395
@mertsincan here is what is strange.  I am running the PFE Showcase which has a TimePicker and Layout examples using PF-6.2 SNAPSHOT exactly like your test above but everything is working fine.  Could it be that somehow in my showcase i am including more componoents on the page which is bringing more JS files in and your example somehow is missing JS files because it ONLY has a timepicker on the p

[2017-08-22 12:59] melloware commented on #2395
More research:   On the failing test this is what is printed out.

`"button:'#frmTimePicker\:timePicker .pe-timepicker-trigger'"`

But in the PFE Showcase for some reason it is not including the form which is why it is working.

`"button:'#j_idt41 .pe-timepicker-trigger'"`

I don't know why one is including the whole form and the other is not?

[2017-08-22 13:01] AndrewShwaika commented on #2395
I think extra unescape happens in rather complex fgtimepicker options setting.

[2017-08-22 13:30] mertsincan commented on #2395
@melloware, could you please try it after removing  prependId attribute of <h:form> tags on PrimeFaces Extensions Showcase?
![image](https://user-images.githubusercontent.com/11868120/29567888-3a39f010-8757-11e7-80a5-225e249d1b4e.png)

[2017-08-22 13:42] melloware commented on #2395
Ahh that's its.  PrependId was why and now I have the same issue.

[2017-08-22 14:20] AndrewShwaika commented on #2395
We have to distinguish these cases:

1. String with escaped identifier used directly in JQuery selector
1. String with escaped identifier passed to complex initialization with extra unescaping

Reverting PR will broke case 1. Identifier with 2 backslashes before ':' in string won't match any nodes.

[2017-08-22 14:36] tandraschko commented on #2395
just my 2 cents: AFAIR both versions worked fine - not sure whats wrong with layout or timepicker. But currently i don't have time for it.

[2017-08-22 14:49] mertsincan commented on #2395
@tandraschko Did you try my sample maven project?

[2017-08-22 16:28] melloware commented on #2395
So i think the real issue is with Jquery 2.2.4 that what used to be valid...

JQuery 1.X selector (2 slashes)
`$('#formId\\:clientId') `

JQuery 2.X (1 slash)
`$('#formId\:clientId')`

But because each component does things slightly differently I think we need to leave the code reverted and fix it everywhere it is wrong.

[2017-08-22 18:00] pjt1 opened #2655 "blank columns in dataTable within a panelGrid"
## 1) Environment
- PrimeFaces version: 6.1
- Tested on 6.0 and no undesired results (issue does not exist for this version)
- Application server + version: Tomee 7.0.2
- Affected browsers:  Chrome

## 2 and 3) Expected and Actual Behavior
Link below shows both with undesired behavior highlighted
https://ibb.co/cgeDj5

## 5) Sample XHTML
`<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="htt

[2017-08-22 19:36] tandraschko commented on #2395
Hmm, stupid case as @AndrewShwaika already mentionend.

If the ID contains a ':', the current solution doesn't work.... If it doesn't contain the ':', it works...
The opposite happens if we revert the PR.

Same for p:layout and pe:timepicker. We must find a solution to support both cases.

[2017-08-22 19:57] tandraschko commented on #2395
Lets compare the Layout case, which uses widgetBuilder#append and results in a simple id selector $(var):
- Escaped with **4** slashes, it results on the client in #form:j_idt23, which is wrong
- Escaped with **8** slashes, it results on the client in #form\\:j_idt23, which is correct

[2017-08-22 20:05] tandraschko commented on #2395
Draggable uses widgetBuilder#attr and resuls in a complex query $(var .someClass):

- Escaped with 4 slashes, it results on the client in #form\:j_idt23, which is correct
- Escaped with 8 slashes, it results on the client in #form\\:j_idt23, which is wrong

[2017-08-22 20:15] tandraschko commented on #2395
@mertsincan
As already stated:
JQuery 1.X selector requires **2** real slashes
$('#formId\\\\:clientId')

JQuery 2.X selector requires **1** real slash
$('#formId\\\:clientId')

So, therefore we have to reduce the escaping from **2** real slashes to **1** real slash, which happenend in this PR. This is absolutely correct for me!

The problem now happens with your commit here: https://github.com/pr

[2017-08-22 20:16] melloware commented on #2395
OK so thanks to @tandraschko we have narrowed it down.  I think we need to leave the fix in for 6.2 and fix two components to work with Jquery 2.2.4/ComponentUtils...

1. PF Layout
2. PFE TimePicker

They seem to be the only two components having issues with this fix for Jquery 2.2.4.  Have I summarized that correctly?

[2017-08-22 20:31] melloware commented on #2395
OK I just tested this in PFE showcase.

1. if you use WidgetBuilder.attr such as wb.attr("forTarget", ComponentUtils.escapeJQueryId(clientId)); this fix works fine.

2. If you are using ResponseWriter directly then it does not work and you need to use the 8 slash version for it to work.

So really the only components that need fixing are ones using ResponseWriter they must escape with 8 slashes OR

[2017-08-22 20:36] tandraschko commented on #2395
I'm working on a fix currently. I think we should not use wb#attr and introduce something like wb#selectorAttribute

[2017-08-22 20:37] tandraschko commented on #2395
@melloware if you have gtalk or something, we can also hangup a little bit. It's sometimes much easier :D

[2017-08-22 20:44] tandraschko commented on #2395
Commited something.
The case was a little bit different. As melloware already mentionend, the ResponseWriter already escapes something and the new introcuded escapeEcmaScriptText doubles the slashes.
Therefore i reverted to the old 8 slashed and introduced a new widgetBuilder method to pass selectors, which does _NOT_ double the slashes.

[2017-08-22 20:54] melloware commented on #2395
I like your fix.  I will update PFE to use the new selectorAttribute.

[2017-08-22 21:07] tandraschko commented on #2395
Great!

[2017-08-22 21:07] #2395 closed, assigned to tandraschko

[2017-08-22 21:30] Rapster commented on #2395
Hey sorry I couldn't help... I'm quite busy integrating Barcelona into our web apps. Will be quite busy for the next months :-/ Glad to hear that issue was fixed, oneof my colleague told me about this problem... Great job everybody! ;-)

[2017-08-22 21:37] tandraschko commented on #2395
Everthing is ok - you do much more as the most users! ;)

[2017-08-23 05:58] mertsincan commented on #2395
@tandraschko, I send an email about https://github.com/primefaces/primefaces/commit/64fd1f2ae993e26c27d1d2e0ac77f6a97e4eeb6d

[2017-08-23 08:01] Rapster commented on #2395
@tandraschko you mentionned gtalk but there is also https://gitter.im/ that I think will fit more our need ;-)

[2017-08-23 08:39] tandraschko commented on #2395
@Rapster We can also do that, no problem. I just used gtalk in the past as gmail is always open in the browser and i usually didn't chat with multiple persions till now.

[2017-08-23 08:56] tandraschko commented on #2395
I think the fix is also ok when e.g. PFS is used in p:block block attribute as the user must only use 1 slash:
block="@(#j_idt87\\:pnl)"

[2017-08-23 09:20] mertsincan commented on #2395
Thanks, @tandraschko. I'll add the fixes in the DraggableRenderer.java and BaseMenuRenderer.java into elite versions. Also, can we add 1 slash before ":" character in core.expressions.js for PFS?

My test page; http://localhost:8080/showcase/ui/ajax/selector.xhtml
$('.panel :input') works
$('.panel \\:input') works
$('.ui-panel \\:input\\:not(select)') works

[2017-08-23 09:39] tandraschko commented on #2395
+1 if that works (but really only for PFS - for a normal id, document.getElementId instead of jQuery is used)

[2017-08-23 09:47] mertsincan commented on #2395
Yes, only for PFS. Also, please see "Special characters in CSS" section in the https://mathiasbynens.be/notes/css-escapes

[2017-08-23 11:37] melloware commented on #2395
@mertsincan Can you roll all of these changes into Elite 6.1.5 please?

[2017-08-23 12:55] mertsincan opened #2656 "Keyboard navigation doesn't work with disabled inputs on DataTable with editMode="cell""
Test code;
[code]

[2017-08-23 13:00] #2656 closed, assigned to nobody

[2017-08-23 14:29] tandraschko commented on #2395
@mertsincan Whats the important part in your link?
I think we can even do it better:
- ":" escaping should be done directly in WidgetBuilder#selectorAttr
- Components like p:block, which uses SEF#resolveClientId should also use #selectorAttr instead of #attr

WDYT?

[2017-08-23 14:37] melloware commented on #2395
@tandraschko I think you are suggesting similar to how @mertsincan added context.getResponseWriter().write(ComponentUtils.escapeEcmaScriptText(value)); in the attr() function that you would do the Jquery escaping in selectorAttr() method instead of us having to call ComponentUtils before passing into selectorAttr().

I like that.

[2017-08-23 14:44] tandraschko commented on #2395
exactly yes. This will work fine for our case now.

The second part would be if we can always escape every ":" from the SEF#resolveClientIds, which may also contain PFS.

[2017-08-23 18:19] pjt1 commented on #2655
Closing issue.....this was resolved in 6.1.1 through Issue# 2337

[2017-08-23 18:19] #2655 closed, assigned to nobody

[2017-08-23 19:11] melloware commented on #2655
@pjt1 thanks for following up and closing.  It is a big help to the developers to close tickets they may not know have been fixed!

[2017-08-24 06:53] mertsincan commented on #2395
About my PFS suggestion (https://mathiasbynens.be/notes/css-escapes);

I think the solution is good for now. We just need to be careful when we use selectorAttr method.

[2017-08-24 06:55] mertsincan commented on #2395
@melloware, I'll add this fix to elite versions.

[2017-08-24 08:05] tandraschko commented on #2395
+1
is think the current behavior with PFS is ok, users must also use a slash when they use jQuery native.

[2017-08-24 08:06] tandraschko commented on #2395
Maybe we should just think about moving the escape call inside #selectorAttr.

[2017-08-24 11:03] PlassJ commented on #2653
Got the same Problem in 6.1.4 while using p:layout inside a tabView.
I have read #2395 but didn`t got the point.
Will this be fixed in 6.1.5 ?

[2017-08-24 11:20] melloware commented on #2395
@tandraschko +1 for moving the escape inside selectorAttr.  I would think the only reason to use this special selectorAttr() call of WidgetBuilder is because you have a Jquery ID.  So why count on the caller to escape it first when that is the point of this new method.

[2017-08-24 11:21] melloware commented on #2653
@PlassJ Yes this will be fixed in 6.1.5.  Mert and Thomas are creating a better fix and putting that fix in all components that need it like p:layout.

[2017-08-24 11:40] tandraschko commented on #2395
commited something, please have a look at it :)

[2017-08-24 11:50] PlassJ commented on #2653
Thank you

[2017-08-24 12:32] melloware commented on #2395
I love it.  Fixing PFE now!

[2017-08-24 13:30] tandraschko opened #2657 "Split menu.js"

[2017-08-24 13:35] #2657 closed, assigned to tandraschko

[2017-08-24 13:38] tandraschko commented on #2575
also configured "fail on build" when a violation occurs

[2017-08-24 13:38] #2575 closed, assigned to tandraschko

[2017-08-24 13:45] vhcolombo opened #2658 "DataTable: Livescroll is breaking the rowGroup"
The rowGroup is broken when use livescroll property

## 1) Environment
- PrimeFaces version:
**6.1**

- Does it work on the newest released PrimeFaces version? Version?
**Doesn't work**

- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
**It doesn't work neither in the github version.**

- Application server + ve

[2017-08-24 21:10] Dragonsol commented on #2269
Subtable is very useful, especially when you have a list of data entity object that contains a list other objects - i.e. a list of people where each has a list of children.

To implement something like that with row grouping, I will need to create a flat list with duplication (of parents) to be able to group on the parent object, which is a waste of bandwidth, memory and computing resources.

[2017-08-25 03:59] Fyotty commented on #2451
da pra add uma imagem

[2017-08-25 08:55] rdebusscher opened #2659 "Support for disabled item in Breadcrumb, icon only"
When you set a menu-item to disabled and don't specify a value (only icon), you get a NullPointer Exception.

[code]

[2017-08-25 09:17] #2659 closed, assigned to rdebusscher

[2017-08-25 11:22] mesche commented on #2364
Please fix this bug/problem. It's a strange behavior for the user

[2017-08-25 11:30] melloware commented on #2395
@mertsincan I have tested all of the changes @tandraschko has made for this fix.  Can this entire fix be put into Elite 6.1.5 Release please?

[2017-08-25 15:21] tandraschko opened #2660 "Poll: avoid multiple start"

[2017-08-25 15:22] #2660 closed, assigned to tandraschko

[2017-08-26 23:07] melloware commented on #2363
Looks like this is a way old enhancement request:  https://github.com/primefaces/primefaces/issues/146

[2017-08-26 23:08] melloware commented on #146
Related to https://github.com/primefaces/primefaces/issues/2363

[2017-08-27 06:34] sudheerj commented on #2363
Hi Guys,
I will analyze and work on the issue after 2 weeks.Thanks.

Regards,
Sudheer

[2017-08-27 21:13] heapifyman opened #2661 "Slider broken after update"
I have a page (form) with two sliders. The first is a range slider, the second one is a "normal" slider.

The values selected in the first slider determine the max allowed value for the second slider and the second slider should be "updated" when I move any of the knobs of the first slider.

Pleaser see my example project: example project https://github.com/heapifyman/primefaces-test

It appears t

[2017-08-28 07:46] Rapster opened #2662 "Panel: add ui-panel-actions for facet "actions""
Basically, our panel will contain menubutton in facet actions, instead of writing something like this:
[code]

I could simply use:
[code]
Facet would generated in div (with inline-block style)

I'll try to provide a PR soon

[2017-08-28 08:44] UserPSPretoria opened #2663 "Cannot insert text in Primefaces TextEditor with JavaScript."
PrimeFaces version: 6.1

I cannot do a text insert with JavaScript into the TextEditor PrimeFaces component.
 With the PrimeFaces extensions CKEditor we can do the following but not with the standard TextEditor:

        String command = "PF('editorWidgetVar').instance.insertText('" + newTemplate + "');";
        RequestContext.getCurrentInstance().execute(command);

With the following xhtml:

<pe

[2017-08-28 08:52] tandraschko commented on #2663
Questions -> forum

however, you can probably get the editor instance via: PF('editorWidgetVar').editor and after that, you can check the QuillJS API ;)

[2017-08-28 08:52] #2663 closed, assigned to nobody

[2017-08-28 08:53] tandraschko commented on #2661
Please check with a build from source, i fixed some slider bugs the lost months.

[2017-08-28 09:31] UserPSPretoria commented on #2663
Yip, you are correct. I replaced .instance with .editor and now I can access the QuillJS API, and use methods like insertText() etc.

Thank you, appreciate.

And yes I will use the forum next time, sorry about that.

[2017-08-28 09:52] Rapster opened #2664 "PanelGrid: default columns value"
Default value should be set to one

[2017-08-28 11:54] Rapster commented on #2662
i think same thing should go for options facet (e.g .ui-panel-options)

[2017-08-28 11:57] tandraschko commented on #2664
is 1 also used in the JSF impls?

[2017-08-28 12:26] Rapster commented on #2664
The Mojarra impl is kinda strange:
[code]

But when I try it, it displays one column

[2017-08-28 12:53] melloware commented on #156
@dmaidaniuk do you have your example changes you made available for us to review?   We are considering implementing this feature.

[2017-08-28 15:50] Rapster opened #2666 "Tab: add facet "actions""
Just like https://www.primefaces.org/showcase/ui/panel/panel.xhtml "Custom Actions"

Quick poc:
![image](https://user-images.githubusercontent.com/7521311/29781507-b32a38d8-8c19-11e7-909a-c68af4d4c8ad.png)

I'll try to provide a PR soon

[2017-08-28 16:14] heapifyman commented on #2661
@tandraschko Hi, I just tried with build from source but did not notice any change in behaviour.

[2017-08-28 16:29] nickscha opened #2667 "Diagram: missing events for element interaction"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: all
- Affected browsers: all

## 2) Expected behavior
The p:diagram component should provide "click" and "contextmenu" events for an element (.ui-diagram-element) so that users can interact with the diag

[2017-08-28 19:01] mertsincan opened #2668 "SelectOne/ManyButton doesn't use itemEscaped=false"
Reported By PRO User;

[2017-08-28 19:02] #2668 closed, assigned to nobody

[2017-08-28 19:50] mertsincan opened #2669 "Incell dblclick event issue for selectonemenu on DataTable"
Reported By PRO User;

Selectonemenu behaves strangely with editInitEvent="dblclick". On double clicking the cell editor the seleconemenu list popup is not displayed. On clicking again on selectonemenu the cell editor closes.

[2017-08-28 19:51] #2669 closed, assigned to nobody

[2017-08-29 06:37] Hint10 opened #2670 "p:calendar with ajax "blur" triggers invalid submit on first request"
## 1) Environment
- PrimeFaces version: 6.1

## 2) Expected behavior
No "blur" event is submitted, only the "dateSelect" event is triggered with the clicked value

## 3) Actual behavior
Clicking a date in the navigator for the first time submits old value.

## 4) Steps to reproduce
1. Open calendar navigator
2. Click any date
3. Component is submitted with the old value, the clicked value is disca

[2017-08-29 07:40] tandraschko commented on #2670
Thats expected as blur is exected before dateSelect. I would use change instead of blur.

[2017-08-29 07:40] #2670 closed, assigned to nobody

[2017-08-29 08:51] tandraschko commented on #2661
I see whats wrong.
Thats probably something wrong or not as expected specified in the JSF API.

Your update looks like:
temperatureNormalisation temperatureNormalisationValue temperatureNormalisationSlider

In that case, the partial-response xml should contain the nodes in the same order but that isn't the case.
If you check the response, the slider is the first updated component.

The problem now

[2017-08-29 08:53] tandraschko commented on #2661
Yep, i see. Thats expected: https://stackoverflow.com/questions/15488162/how-to-use-pajax-to-update-several-components-in-order
Check the first answer.

[2017-08-29 08:53] #2661 closed, assigned to nobody

[2017-08-29 08:54] tandraschko commented on #2661
I wil also probably work if you move the hiddenInput before the slider in your xhtml.

[2017-08-29 09:14] mertsincan opened #2671 "Incell editor: discard on validation error"
Reported By PRO User;

On cell edit if there is a validation error clicking anywhere outside (other than another cell editor) , the cell editor does not discard the value and close.
Expected result is: the cell editor should take back the old value and close.
Please note: saveOnCellBlur="false"

[2017-08-29 09:16] #2671 closed, assigned to nobody

[2017-08-29 10:41] heapifyman commented on #2661
@tandraschko Hi, thanks for the quick reply.

Unfortunately, the first three suggested solutions did not work.

1. moving `<h:inputHidden>` before the slider did not change the bahaviour
2. updating only `<p:panelGrid>` instead had the strange effect that for each update another slider was added to the page (instead of updating the existing one) - is this intended behaviour?
3. using chained calls

[2017-08-29 10:52] tandraschko commented on #2661
updating the panelGrid is somehow a bug in the panelGrid. If i replace this with p:outputPanel, it works fine.

[2017-08-29 11:31] melloware commented on #93
@tandraschko The Extensions component only uses moment.js which PF already includes for p:schedule.  I think this component would be a useful addition to PF core without adding any additional JS libraries.

I am willing to help in any way if you want help migrating this component to PF.

[2017-08-29 11:45] kodmarcel opened #2672 "DataTable: Filtering and sorting does not work on ColumnGroup"
The showcase for grouping [https://www.primefaces.org/showcase/ui/data/datatable/group.xhtml](https://www.primefaces.org/showcase/ui/data/datatable/group.xhtml) is used and modified to add sorting and filtering. The header columns show sorting arrows and input area for filtering but neither works on dynamic columns.

## 1) Environment
- PrimeFaces version: 6.0 (6.1, 6.2-SNAPSHOT(29.8.2017) are not

[2017-08-29 12:13] tandraschko commented on #93
if the code is cleanuped and fine, i have no problem of adding it. Must just discuss this with Cagatay.
I just wonder if we can improve the UI? It's really basic.

[2017-08-29 13:55] mismanc commented on #2503
I have the same issue:

    @OnOpen
    public void onOpen(RemoteEndpoint r, EventBus eventBus) {
        //logger.info("OnOpen {}", r);
        String user = r.pathSegments(2);
        String ru = r.pathSegments(1);

        if (eventBus != null) {
            eventBus.publish("chat/*", new ChatMessage(user,"Entered Room " + user,true));
        } else {
            System.out.println("EVENT BUS

[2017-08-29 14:08] dmaidaniuk commented on #156
Hi @melloware ,

Unfortunately I don't have some complete implementation. As I remember we wanted such functionality in case if on server we have different from system time, forced timezone comparing to client and other similar situations.

Regards,
Dmytro

[2017-08-29 14:31] mertsincan opened #2673 "Cell edit selectonemenu: unable to save"
Reported By PRO User;

With the below configuration in datatable:
<p:datatable editable="true" cellEditMode="lazy" editMode="cell" saveOnCellBlur="false" ../>
The solution selectOneMenu.setAppendTo("@(body)"); works but changed value is not getting saved after selecting the drop down value. Instead only cellEditCancel event is triggered on selecting dropdown value.

[2017-08-29 14:32] #2673 closed, assigned to nobody

[2017-08-29 22:37] lagar84 commented on #2638
Could this #2638 and #2525 backported to elite? I am facing an issue when changing tabs with ajax and lost tab content

[2017-08-30 11:09] melloware commented on #2638
Typically PF will only backport a fix to Elite if a PRO user requests the change.

[2017-08-30 12:04] melloware commented on #93
I will take a shot at this.  Maybe @mertsincan and his UI team can help us make it pretty?   Right now it definitely respects the PF themes so that is good and is stylable with "ui-timer" class.  But you are right maybe we could make it look better.

[2017-08-30 14:32] Rapster opened #2674 "[Documentation] Outputpanel: wrong description"
I think the placeholder of outputpanel is kinda wrong, I quote:

I don't think that's the purpose of this component since you can do it in native JSF, see https://stackoverflow.com/questions/9010734/why-do-i-need-to-nest-a-component-with-rendered-some-in-another-component-w

To me, the real benefit of this component is the deferred part

[2017-08-30 14:50] Rapster opened #2675 "Set up Gitter"
Allows to have quick and reactive talk _(that not deserve a ticket or a post on a forum)_

See https://gitter.im/

[2017-08-30 20:35] mertsincan commented on #2395
Added to 6.0.23 and 6.1.5. Thanks a lot!

[2017-08-30 20:44] mertsincan commented on #2483
Added to elite versions. Thanks a lot!

[2017-08-30 22:41] mertsincan opened #2677 "Add Grid CSS support to components that use ui-grid-col- for resposive feature"
"ui-grid-col-6" =  "ui-g-12 ui-md-6"

[2017-08-30 22:58] #2677 closed, assigned to nobody

[2017-08-31 00:27] mertsincan opened #2678 "Scrolling to top problem on TreeTable with scrollable = true"
Reported By PRO User

If TreeTable isn't scrollable the position on my page not change, but if TreeTable is scrollabe and I specified "scrollHeight", the TreeTable scroll on the top.
Is there a way to avoid scrolling to the top (just update color of the cells).

[2017-08-31 00:28] #2678 closed, assigned to nobody

[2017-08-31 09:47] vlapra commented on #1758
Something new about it?

[2017-08-31 11:20] melloware opened #2679 "XML Exporter: Not Escaping Data"
## 1) Environment
- PrimeFaces version: 6.2-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: Jetty 9
- Affected browsers: All

## 2) Expected behavior

Using the XML DataExporter with a column value like "BMW & Ford" should print in the XML document "BMW & amp; Ford"

## 3) Actual behav

[2017-08-31 11:20] melloware commented on #2679
PR coming...

[2017-08-31 11:29] tandraschko commented on #2674
hmmm? the description sounds correct for me - also if the real benefit might be deffered loading and autoUpdate etc.

[2017-08-31 11:55] Rapster commented on #2674
By "wrong" I mean, this is not the main benefit of this component, like I said you can do exactly the same in native JSF and as simple. The description mislead developers of my company tending to use this component while it's not necessary...

[2017-08-31 11:57] tandraschko commented on #2674
Should we change the descrption cagatay? IMO it's not nessecary but we should think about it.

[2017-08-31 12:11] #2679 closed, assigned to tandraschko

[2017-08-31 12:15] tandraschko opened #2681 "[perf] Use SharedStringBuilder everywhere"

[2017-08-31 12:21] tandraschko commented on #2679
@melloware we have now 2 escapeXml methods. 1 in XmlUtils, 1 in ComponentUtils. Could you please check which can be removed?

[2017-08-31 13:03] tandraschko commented on #2681
changed the most core parts for now

[2017-08-31 13:03] #2681 closed, assigned to tandraschko

[2017-08-31 13:39] melloware commented on #2679
My bad. I didn't realize their was one in Componentutils.  I would like to do the following:

1. Modify the one in ComponentUtils to the updated version I just added which adds unicode checks.

2. Move the XmlUtil.escapeTag to ComponentUtils as "escapeXmlTag" and remove the XmlUtil entirely.

Thoughts?

[2017-08-31 13:42] melloware commented on #2679
Nevermind I see why they split in into XML util because it uses XML Beans which requires POI dependency where Componentutils does not.  I think I will just update the method in ComponentUtils and remove the new one I added in XmlUtil.  I will submit a PR shortly.

[2017-08-31 13:46] tandraschko commented on #2679
Please note: ComponentUtils#escpeXML is used by our Ajax stuff. So please check first if we really need to escape every which is inside XMLUtils.

[2017-08-31 15:04] mauromol commented on #578
I can't provide an actual use case, but I can state for sure that from my tests and experiments I did some time ago, the `p:blockui` does not perform the job, at least not in a way it's actually useful. I mean, the user can trigger a double click on the upload component before the blockui can actually block further interactions. So, if the final purpose is to avoid double clicks, blockui is not th

[2017-08-31 16:35] melloware commented on #2679
The only thing added that was not being escaped before was double quote.

case '\"':
       sb.append("&quot;");
        break;

I can't see how that would be valid XML with a double quote even for Ajax.  Should we leave both flavors of the util?

[2017-08-31 16:48] Miraje commented on #1261
Hi @sudheerj do you have any news on this subject?

Any help on this subject would be very appreciated! thanks in advance!

[2017-08-31 17:06] tandraschko commented on #2679
Not sure. Can you try if it breaks something? It's normally used for adding json to the ajax response via RequestContext.

[2017-08-31 17:07] melloware commented on #2679
I will do some experimenting and report back.

[2017-08-31 17:14] paulspinelli commented on #1793
I too would like this feature.

[2017-08-31 17:14] melloware commented on #2679
OK it is failing i unit test.  I closed my PR.  It seems for PrimePartialResponseWriter for sending JSON back it needs to leave the double quotes.   For now I think I need to leave everything the way it is and have the XmlUtil.escape for truly escaping only XML where the ComponentUtils method is for escaping anything used in the client or components.

[2017-08-31 17:40] paulspinelli commented on #142
A workaround:
[code]

[2017-08-31 18:33] Rapster commented on #2674
@tandraschko @cagataycivici In case (and IMO it's necessary) you decide to remove this description, I think `deferred` should be set to true by default

[2017-09-01 09:06] Rapster opened #2683 "Log: add hotkey"
Just like `ui:debug`, I don't wanna see that popup always open, but instead, use an hotkey to open it _(being said, it should be possible to close it)_

[2017-09-01 14:02] Rapster opened #2684 "[Documentation] Dialog: appendToBody should be changed to appendTo"
The documentation still referencing appendToBody.

But in some description like dilaog and confimDialog, its says:

I think it's better to no mention `appendToBody` at all

Just wondering but, overlaypanel has a appendToBody property, should it be appendTo?

[2017-09-01 14:51] tandraschko commented on #2684
Overlay panel needs a refactoring to appendTo probably buts thats another ticket ;)

[2017-09-01 14:52] tandraschko commented on #2683
Why not just add a p:hotkey to your template?

[2017-09-02 14:31] melloware commented on #1185
I understand why you would want this but I think you will have to continue casting.   LazyDataModel is backed by a List.  And there are method such as...

[code]

This requires list to get the row by its int.  It does not take a long and thus PF would have to downcast all throughout the code from long down to int which is a HUGE code smell because you are going from a larger to smaller number espe

[2017-09-04 03:55] evilkid commented on #2512
I believe the problem is in this line:
https://github.com/primefaces/primefaces/blob/03efe65c47af7c16ff27e87597cd750957f6d582/src/main/resources/META-INF/resources/primefaces/datatable/datatable.js#L2427

When nothing is changed, both "inputs.eq(0).val()" and "cell.data('old-value'))" returns an empty string, so "changed" remains false.

[2017-09-04 07:32] Mobe91 opened #2685 "DataTable contains empty header when header facet content is rendered=false"
## 1) Environment
- PrimeFaces version: 6.1

## 2) Problem

The `encodeFacet` method in `org.primefaces.component.datatable.DataTableRenderer` currently renders the header `div` even if the facet component is not rendered. This results in an empty bar being rendered above the data table. What do you think about adding a check to the renderer to only encode the header if its contents are indeed ren

[2017-09-04 09:17] rengar-zz commented on #10
Please add this feature

[2017-09-04 11:17] kukel opened #2686 "[Documentation] Client Side API, Widget: PrimeFaces.widget.DataTable add 'addRow()'"
The 6.1 documentation misses this client side api method

[2017-09-04 11:18] kukel opened #2687 "Datatable: Add deleteRow(...) to the client widget API"
The PrimeFaces 6.1 datatable has an `addRow()` client-side api call. Implement a `deleteRow(...)` too where the parameter can be either a row index or a row key.

[2017-09-04 11:51] kukel commented on #2390
https://forum.primefaces.org/viewtopic.php?f=3&t=52352

[2017-09-04 14:17] RamiOthman opened #2688 "Rowkey is null when celledit with LazyDataModel"
## 1) Environment
- PrimeFaces 6.1
- Wildfly 10
- Browser : Firefox

## 2) Expected behavior
When updating a cell, the method onCellEdit is called, and  we can get the rowKey from the CellEditEvent object.
...

## 3) Actual behavior
rowKey is always null
..

## 4) Steps to reproduce
just edit a cell
..

## 5) Sample XHTML
  <p:dataTable emptyMessage="Nessun record trovato."

[2017-09-05 00:13] jrcampins commented on #649
The issue persists in version 6.1, but it doesn't fail unless in addition to pattern the calendar component also has mindate/maxdate.

[2017-09-05 13:19] Rapster opened #2690 "Splitbutton: display as button in case no children rendered"
If there is not child items defined in SplitButton, don't display arrow (e.g should look like a button then). It makes think there is something wrong...

[2017-09-05 13:37] Rapster commented on #2683
That should work, but... First I think it should be possible to close the dialog clicking on a cross icon, then have an attribute like "hotkey" to open it. If you want to close it, define your own hotkey yes.

[2017-09-05 13:50] tandraschko commented on #2683
So we just need to add a close icon?

[2017-09-05 14:00] Rapster commented on #2683
and hotkey attribute, because if we give the possibility to close it, we should provide an easy way to open it as well (without using explicitely another component like hotkey)

[2017-09-06 12:17] cagataycivici opened #2691 "Add updateColumnWidths method to TreeTable"
This removes fixed widths, make them auto and fixes again. Requested by a PRO user.

[2017-09-06 12:18] #2691 closed, assigned to cagataycivici

[2017-09-06 12:38] alexey-anufriev commented on #1942
Hi @jxmai,
I am sorry for the delay.

I have tried to do as you have advised me. And the result is very strange.
It works under Tomcat but it doesn't under JBoss EAP.

How can I debug this?

[2017-09-06 12:57] luizphilipim opened #2692 "Treetable inside Bootstrap modal dont bind javascript events"
## 1) Environment
- PrimeFaces version: 6.1 and 6.2-SNAPSHOT
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Using Primefaces showcase with Jetty
- Affected browsers: all

## 2) Expected behavior

Correctly create treetable widget and bind javascript events.

## 3) Actual behavior

6.2-SNAPSHOT: Dont sh

[2017-09-06 14:50] Rapster commented on #2685
I think PF should provide a `headerText` attribute as well. In our case, we use this facet in a composite, if not set, it's still rendered. It would be a lot more easier if there was this new attribute, so in case the value is empty, it's not rendered

[2017-09-06 14:51] dmaidaniuk commented on #1942
Hi @ice-pro,

I suppose you are using JBoss EAP 7. If so than this enterprise container use Undertow as application server, not Tomcat anymore. So this issue could be related to JBoss EAP 7 JSF spec integration.

[2017-09-06 15:12] jxmai commented on #1942
@ice-pro I agree with @dmaidaniuk so this could be a web container's bug. I don't deal with Jboss often so I might not be able to provide useful info, so I just try my best.

Firstly, I know Jboss has been renamed to wildfly for some time (https://en.wikipedia.org/wiki/WildFly), so the easiest way before stepping into any implementation might be trying to upgrade wildfly to the latest version if y

[2017-09-06 15:15] Mobe91 commented on #2685
I do not think that a separate `headerText` is necessary. You can introduce a `headerText` attribute in your composite component and just have:

[code]
With my proposed fix in the renderer, this would result in no header row being rendered at all if `#{not empty headerText}` evaluates to `false`.

[2017-09-06 16:27] Rapster commented on #2685
Quite paintful to do that for every use of the composite... Plus, PF already already does that for some component (like panel for instance). I do agree your fix would work, but I prefer to use an attribute rather than defining a facet, specially if it contains only text...

[2017-09-06 17:41] dmaidaniuk commented on #1942
@ice-pro,

From my side I can recommend next articles for JSF 2 debugging entry point:

- [Debugging JSF Life Cycle - what exactly happens in each phase](https://stackoverflow.com/a/21928634/2881869)
- [How JSF Works and how to Debug it - is Polyglot an Alternative? ](https://dzone.com/articles/how-jsf-works-and-how-debug-it)

[2017-09-06 18:15] fabrii commented on #2577
My workaround does not work if application is behind WAF. It detects multiple ajax calls and blocks the connection. Any thoughts?

[2017-09-06 20:42] Mobe91 commented on #2685
It certainly would be more concise, I grant you that. I would be happy to include such an attribute in my PR if desired: @tandraschko  @cagataycivici

[2017-09-06 23:45] Rapster commented on #2685
I don't think your fix is enough actually, what if your facet contains two components, one rendered and the other not?

[2017-09-07 12:11] tandraschko opened #2695 "AutoUpdate not compatible with MyFaces ViewPooling"
as PostAddToView event is not executed

[2017-09-07 15:26] vortexalex commented on #237
I have same problem with Primefaces 6.1 and `<p:panelGrid> ` ...  unfortunately I'm not CSS master...

[2017-09-07 15:42] mallorygiles opened #2696 "Dialog Framework: Add dialogClose event"
I would like to request a dialogClose event that can be set on the p:ajax of the commandButton/Link that opens a DialogFramework dialog. This event will fire if the user clicks the x at the top of the dialog. This will give the DialogFramework similar functionality as `<p:ajax event="close"/>` within a p:dialog

[2017-09-07 15:59] jxmai commented on #237
@vortexalex I guess what @kukei meant is if you just want to achieve putting two elements on the same line. You can simply set `style="float:left"` for instance.

By setting `h:panelGrid`, you are actually creating another table behind the scene which is way overkill for this simple feature.

@tandraschko On the other hand, this is a real bug during my testing (PF 6.1.4).

[2017-09-08 07:20] Rapster opened #2697 "SelectBooleanButton: if no labels set, the icon does not switch"
## 1) Environment
- PrimeFaces version: 6.2-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers:

## 2) Expected behavior
Clicking on button should switch icon
## 3) Actual behavior
The ic

[2017-09-08 09:03] msaadab opened #2698 "Issue is file upload"
https://www.primefaces.org/showcase/ui/file/upload/single.xhtml

got exception when upload file

[2017-09-08 12:23] Mobe91 commented on #2685
You are right. What is actually happening in case of multiple root components inside the `f:facet` tag is that they are getting wrapped in a `javax.faces.component.UIPanel` component. So the following does the trick:
[code]

Tested this with Mojarra and MyFaces.

[2017-09-08 12:42] arnoldpettibone opened #2699 "Chart - Toggle off series and export as image"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: WebLogic 12.1.3
- Affected browsers: IE, FF, Chrome

## 2) Expected behavior
1. The user hides a series on the chart by clicking on the corresponding legend item.
2. The user exports the chart as image
3. The ima

[2017-09-08 12:51] arnoldpettibone opened #2700 "Chart - Smooth line option not connected to the right class attribute"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No

## 2) Expected behavior
The smooth line option activates when `org.primefaces.model.chart.LineChartSeries.smoothLine` is `true`.

## 3) Actual behavior
The smooth line option activates when `org.primefaces.model.chart.LineChartSeries.

[2017-09-08 12:55] arnoldpettibone opened #2701 "Chart - Line break in title is ignored in exported image"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No

## 2) Actual behavior
Exporting the chart as image, line breaks `<br/>` in the title are ignored. In the picture, the title is written on a single line.

[2017-09-08 14:27] pavalasc opened #2702 "TimelineGroup without events not shown"
Dear All
I'm using Timeline grouping example provided at http://snapshotshowcase-primeext.rhcloud.com/sections/timeline/grouping.jsf:
Trying to add a TimelineGroup without any event attached is not shown on timeline!
This is a perfect case in day to day reality, a truck without any order to carry out, or a resource without any task allocated...
## 1) Environment
- PrimeFaces version:6.1
- Applicat

[2017-09-08 19:54] melloware opened #2703 "ComponentUtils.resolveLocale() from PF Extensions"
@tandraschko I wanted to add this method to PF ComponentUtils to get it out of PrimeFaces Extensions.

Basically it uses the existing locale util method and if not found defaults to the JSF default Locale.  It is used by...

- PFE TimePicker
- PFE DocumentViewer
- PFE Calculator

[code]

[2017-09-08 22:41] jxmai commented on #2698
![image](https://user-images.githubusercontent.com/10467831/30233460-52eb0a6a-94bb-11e7-9713-4843dd48e687.png)

![image](https://user-images.githubusercontent.com/10467831/30233690-c29819b0-94bc-11e7-9a44-358d97845e9b.png)

Replicated. But file upload function itself works fine on the latest trunk though, is it a showcase's specific problem ?

![image](https://user-images.githubusercontent.com/104

[2017-09-09 00:45] msaadab commented on #2698
Thanks ,

yes, it a showcase's specific problem

On Sat, Sep 9, 2017 at 3:41 AM, jxmai <notifications@github.com> wrote:

--

*Best Regards,M Saad Abdurrab*

[2017-09-09 16:18] melloware commented on #2700
Looks like this was already fixed in 6.1  See this in the source tree:

https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/model/chart/LineChartSeries.java#L123

[2017-09-09 16:27] #2700 closed, assigned to nobody

[2017-09-10 18:00] neXus1987 opened #2705 "Fileupload: Directory structure"
Hello!

with the jsf 2.2 passthrough attribute , you can set following attributes to the p:fileupload component:
pt:directory="" pt:webkitdirectory="" pt:mozdirectory=""

With this it is possible to upload directories, but in the fileuploadevent just the file name exist.
Is it possible to add the directory structure?

Sure this is a feature request!

Thanks
Phil

[2017-09-10 18:55] Rapster commented on #2705
Not related to PF, but jQuery file upload third party library, I had the same issue and had to tweak it.

[2017-09-11 06:48] mertsincan opened #2706 "Add zoom attribute for PDF reader on media component"
Sets default zoom value for Pdf Reader.

[2017-09-11 06:49] #2706 closed, assigned to mertsincan

[2017-09-11 07:38] mertsincan opened #2707 "p:datatable virtualScrolling with filter doesn't show emptyMessage"
Reported By PRO User;

ExampleCode (modified from Showcase)
[code]
Steps to reproduce:
1. scroll down
2. filter year: '2000'
3. filter brand: 'x'
=> now we see only a short time the emptyMessage, its fading out fast.

[2017-09-11 07:40] #2707 closed, assigned to mertsincan

[2017-09-11 07:50] Rapster commented on #2705
Here you go:

[code]

[2017-09-11 13:27] tandraschko commented on #2702
A PR is very welcome here.

[2017-09-11 13:27] tandraschko commented on #2699
Is this a bug in our code or in jqplot?

[2017-09-11 13:28] tandraschko commented on #2701
Bug in PF or jqplot?

[2017-09-11 13:28] tandraschko commented on #2698
As it works fine like @jxmai mentioned, i will close it here. Please create a issue + PR in the showcase project.

[2017-09-11 13:28] #2698 closed, assigned to nobody

[2017-09-11 13:29] tandraschko commented on #2692
PR is welcome

[2017-09-11 13:44] tandraschko commented on #2696
I think the best solution would be to sponsor it or provide a perfect PR - i have no time for such features in my freetime ;)

[2017-09-11 13:45] tandraschko commented on #2688
Could someone verify the ticket and maybe provide a PR?!

[2017-09-11 13:45] luizphilipim commented on #2692
I tried, but no success :(
I'll try some more.

[2017-09-11 13:51] tandraschko commented on #2692
JFYI:
In PF we have something like defferentRenderers.
e.g. if the dialog is invisible now and contains a TreeTable, the treeTable will likely be initialized via _render when the dialog will get visible.
I'm sure this won#t work with bootstrap modal.
Maybe thats the reason for you problem.

[2017-09-11 13:53] tandraschko commented on #2692
I'm also not sure if we can easily fix this and will fix it.
 Maybe it would be great if you can sponsor it via PrimeFaces PRO.

I would use a PF modal component now ;)

[2017-09-11 15:29] Rapster commented on #2650
If the facet contains more than one element, it won't work.

If contains:
1. one element, the new id "xxx_facetname_top" is correctly set: it works
2. more than one element, the facet is a `UIPanel` type and the new id is not set to children: won't work

To reproduce, add another `menuButton` to the sample

[2017-09-11 16:13] Rapster opened #2708 "Paginator: don't write element if not template"
So far, there is predefined template aka "paginator elements", all surrounded by `{}`. If a template is defined in paginatorTemplate but not defined, his name is written in output stream. IMO, if defined as a template but not found, nothing should be written in output. You might ask about text you'd like to write after a template, in that case, define as a static text, means no `{}`.

My use case

[2017-09-11 16:59] jxmai commented on #2688
@RamiOthman  The sample code looks like a part of a live system's codebase which is not runnable by others... Suggest to create a (MCVE) https://stackoverflow.com/help/mcve that can be run on https://github.com/primefaces/primefaces-test for the ease of verifying and debugging

[2017-09-11 17:11] RamiOthman commented on #2688
@jxmai I solved the problem by adding  selectionMode="single"  disabledSelection="true" in the definition of p:datatable. so I understood that rowkey is non null only when using selection, which is normally false, we can use this value in other contexts without using the selection

[2017-09-11 17:34] Rapster commented on #2650
The id set to the parent shouldn't be propagated to the children @tandraschko?

[2017-09-11 17:37] jxmai commented on #2688
@RamiOthman Sounds like a workaround since you were not intended to use selection but to get the rowkey only.  I use table feature heavily but I have not seen this issue before. Are you OK with your workaround or are you still planning to create a smaller sample ?

[2017-09-11 21:55] mertsincan opened #2709 "Initial column size issue on DataTable with columnGroup and resizableColumns="true""
Reported by PRO User;

We have <dataTable> with <p:columnGroup> and we want to set one of our columns with fixed size of 10px.

<p:columnGroup type="header">
<p:row>
<p:column style="width: 10px !important; position: relative;" /> ; <--- HERE
</p:row>
</p:columnGroup>

[2017-09-11 21:57] #2709 closed, assigned to nobody

[2017-09-12 12:45] tandraschko commented on #2650
Basically i would check the JSF specs in detail and otherwise ask the EG.

[2017-09-12 12:45] tandraschko commented on #2708
+1

[2017-09-12 12:47] tandraschko commented on #2703
As long as it isn't used in PF, IMO we should not add it. Otherwise i could e.g. unintentionally remove it as it's unused.

[2017-09-12 12:49] Rapster commented on #2708
Great, I'll provide a PR then

[2017-09-12 12:53] tandraschko commented on #2664
1 as default is ok, it's the same on myfaces side. Thanks.

[2017-09-12 12:55] melloware commented on #2703
Understood.  This method seems like a bulletproof way to get the correct Locale without an NPE.  I was wondering if anywhere in PF that is using the ComponentUtils.toLocale() should actually be using this new resolveLocale() method instead like we do in PFE?

For example its used in 3 spots in PF...

- CalendarTemplate
- DatatableTemplate
- TreeTableTemplate

And all 3 are doing this identical cod

[2017-09-12 13:00] tandraschko commented on #2703
+1 to move this logic to a util, you can easily reuse it than in PFE.
Note that we have a additional statement in the PF core (instanceof Locale).

[2017-09-12 13:07] melloware commented on #2703
Got it i will create a LocaleUtil and add the exception handling like above.  I will submit a new PR.

[2017-09-12 13:08] tandraschko commented on #2703
+1

[2017-09-12 15:06] #2662 closed, assigned to tandraschko

[2017-09-12 15:07] #2703 closed, assigned to tandraschko

[2017-09-13 07:48] Rapster commented on #2650
EG? I wrote a post on stackoverflow https://stackoverflow.com/questions/46171478/children-component-does-not-contain-id-parent-in-facet hoping I could get a answer

[2017-09-13 08:07] tandraschko commented on #2650
JSF Expert Group - they know why it's no naming container. Also, i'm not sure if it would fix something as the component currently exists only 1 times and not multiple times.
maybe we also just missuse facets for this case and maybe need something new.

[2017-09-13 11:09] tandraschko commented on #2708
Does it break something?

[2017-09-13 11:10] #2697 closed, assigned to tandraschko

[2017-09-13 11:15] tandraschko commented on #2697
Thanks. Just did a small perf enhancement ;)

[2017-09-13 11:33] mertsincan opened #2714 ""styleClass" attribute has no effect on Horizontal Tree"
[code]

[2017-09-13 11:35] #2714 closed, assigned to mertsincan

[2017-09-13 11:44] Rapster commented on #2708
Nop, the condition covers only this point:

- `{}` define a template/facet, if not found not written

[2017-09-13 12:19] pneumcke opened #2715 "primefaces-6.1.5.zip - pom.xml missing"
The newly released primefaces-6.1.5.zip differs to the previous versions in two aspects:
- additional directory 6_1_5 in the zip file
- missing directory tag with the pom.xml file

Was this done on purpose? At least the missing pom.xml makes the update in my environment much more difficult.

[2017-09-13 12:29] mertsincan commented on #2715
I'll check and get back to you.

[2017-09-13 12:58] mertsincan commented on #2715
Thanks a lot! Fixed now.
Please try again.

[2017-09-13 12:58] #2715 closed, assigned to nobody

[2017-09-13 13:52] pneumcke commented on #2715
Thanks, that was fast!

[2017-09-13 14:12] FuturesTr4der opened #2716 "DataTable: Attribute draggableColumns='true' destroys pagination"
## 1) Environment
- PrimeFaces version: 6.0.9+
- Application server + version: JBoss Wildfly 10
- Affected browsers: Chrome 60

## 2) Actual behavior
Attribute "draggableColumns='true'" destroys pagination on an Datatable, if the table contains Column Groups (<p:columnGroup type="header"...). If you click on the next page, no rows are displayed anymore.
...

## 3) Steps to reproduce
Add p:columnGr

[2017-09-14 05:27] deveshgangwar20 opened #2717 "Ajax not called when unselect checkbox for remaining last checkbox field"
Dear Team,
In primefaces,selectCheckboxMenu is having Ajax call.Ajax call is working fine for all checkbox selection and unselection except remaining one checkbox unselection.Please find below code for your reference.

	<p:selectCheckboxMenu value="#{fishSampMB.selectedLabs}"
						filterMatchMode="startsWith" label="select here" filter="true"
						required="true" requiredMessage="Lab is required

[2017-09-14 05:51] mertsincan opened #2718 "Add disabled attribute to CellEditor"
Prevents hidden content to be shown.

[2017-09-14 05:53] #2718 closed, assigned to mertsincan

[2017-09-14 08:15] tandraschko commented on #2717
You miss every information requested in our issue template -> invalid.

[2017-09-14 08:15] #2717 closed, assigned to nobody

[2017-09-14 11:31] #484 closed, assigned to tandraschko

[2017-09-14 13:08] mertsincan opened #2719 "TieredMenu with overlay="true" and toggleEvent="click" is closing by click on sub-submenu"
Reported By PRO User;

ExampleCode (modified from Showcase):
[code]

[2017-09-14 13:09] #2719 closed, assigned to mertsincan

[2017-09-14 16:48] trajano opened #2720 "SelectBooleanCheckbox: Hidden elements should have the aria-hidden attribute"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: WebSphere 8.5.5.12
- Affected browsers: Internet Explorer/ Chrome/Firefox

## 2) Expected behavior

[code]

Should render

[code]

## 3) Actual behavior

[code]

Missing `hidden` element causing accessibility tool to flag it.

## 4) Steps to reproduce

[code]

## 5) Sample XHTML

[code]

## 6) Sample bean

[code]

[2017-09-14 16:54] trajano commented on #2720
In

https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/selectbooleancheckbox/SelectBooleanCheckboxRenderer.java#L102

Something like
[code]
should be added

[2017-09-14 17:55] tandraschko commented on #2720
because?

[2017-09-14 18:29] trajano commented on #2720
As I specified:

[2017-09-14 23:13] maxicoof commented on #1261
<script type="text/javascript">
                    $(document).ready(function () {

                        $('#uploadF_input').prop("title", "Select xyz");
                    });

[2017-09-15 06:08] mertsincan opened #2721 "Javascript error on updating Treetable"
Reported By PRO User;

[2017-09-15 06:09] #2721 closed, assigned to mertsincan

[2017-09-15 07:16] mertsincan opened #2722 "ColumnClasses attribute is not working with ui-grid-col-* on PanelGrid"
Reported By PRO User;

<p:panelGrid columnClasses="ui-grid-col-1,ui-grid-col-11"layout="grid"columns="2">
<p:outputLabel value="TEST1"/>
<p:outputLabel value="TEST2"/>
</p:panelGrid>

[2017-09-15 07:17] #2722 closed, assigned to mertsincan

[2017-09-15 07:50] Rapster opened #2723 "Datatable: choose what can be sticky"
So far, only columns header can be sticky, but when I scroll the datatable, I still want to see the paginator and the header of the datatable. We should be able to write somehting like this:
[code]

In case of stickyHeader:

- Columns header are always displayed
- Separator ` ` or `,` indicates what should be displayed, in that case both datatable header and paginator are displayed.

[2017-09-15 07:56] Rapster commented on #2720
Feel free to provide a PR then ;-)

[2017-09-15 08:14] mertsincan opened #2724 "SelectCheckBoxMenu broken on DataTable Filter"
Reported By PRO User;

[2017-09-15 08:16] #2724 closed, assigned to mertsincan

[2017-09-15 11:30] mertsincan opened #2725 "Undesirable filter fields appear on column with field attribute on DataTable"
Reported By PRO User;

[2017-09-15 11:31] #2725 closed, assigned to mertsincan

[2017-09-15 11:52] melloware commented on #2724
@mertsincan while this fix works it now broke the original feature we wanted with grouping checkboxmenu items...

https://github.com/primefaces/primefaces/issues/2416

The grouping now no longer appears.

[2017-09-15 11:56] melloware commented on #2416
@KingDavid14 this fix is awesome but it broke #2724 Any chance you could investigate?

[2017-09-15 12:06] mauritz-lovgren commented on #1715
As @jxmai stated, the proposed solution JS in this issue does not work, since `paginator.cfg.rows` and `paginator.cfg.rowCount` are not properly set at the time the oncomplete event is fired.

Our hack was to use a PostFilterEvent listener:

[code]

The listener would call the JS that performed the showing / hiding of the paginator based on actual filtered rows. We put all this in a composite data

[2017-09-15 12:11] Rapster commented on #2650
FYI, problem reproduced here as well https://www.primefaces.org/showcase/ui/data/dataexporter/basic.xhtml

Although it looks like there is nothing wrong because it uses buttons

[2017-09-15 12:13] trajano commented on #2720
Just need to find time to set up and do it

[2017-09-15 12:34] amenegotto commented on #1610
Hello,
I tested with 6.2-SNAPSHOT cloned right now and the problem does not reproduce anymore.

I was planning a migration from 5.3 to 6.1 but now I will wait until 6.2.

[2017-09-15 12:39] #1610 closed, assigned to nobody

[2017-09-15 12:40] Megachronix opened #2726 "Colspan problem on Datatable with hidden dynamic columns"
If you set `<p:columns visible="#{column.visible}">` dynamically in a DataTable, the calculated colspan of the empty message is calculated over every column, not just visible ones.

## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: Tomcat 8.0.36 + Java 8
- Affected browsers: any browser

## 2) Expected behavior
If your filter does not match any value and the empty message

[2017-09-15 12:54] mertsincan commented on #2724
The PR on #2416 has some JS mistakes. Exp;
//check if inputs must be grouped
var grouped = this.inputs.find('input[group-label]'); /* need to be used filter('[group-label]') instead of find('input[group-label]') to find grouping input */

Fixed now. Thanks a lot!

[2017-09-15 17:47] trajano opened #2727 "Allow for plain checkboxes"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: WebSphere 8.5.5.12
- Affected browsers: Internet Explorer/ Chrome/Firefox

## 2) Expected behavior

[code]

Should render a plain checkbox with no styling like `selectOneRadio`

## 3) Actual behavior

Has no effect

## 4) Steps to reproduce

[code]

## 5) Sample XHTML

[code]

## 6) Sample bean

[code]

[2017-09-15 19:24] tandraschko commented on #2727
what about using the h:* component?

[2017-09-15 20:28] trajano commented on #2727
I lose the item label that the prime faces one provides

________________________________
From: developer@trajano.net <developer@trajano.net> on behalf of Thomas Andraschko <notifications@github.com>
Sent: Friday, September 15, 2017 3:24:35 PM
To: primefaces/primefaces
Cc: Archimedes Trajano; Author
Subject: Re: [primefaces/primefaces] Allow for plain checkboxes (#2727)

what about using the h:* c

[2017-09-16 08:29] tandraschko commented on #2727
You can just use a h:outputLabel/p:outputLabel for that.

[2017-09-16 08:29] #2727 closed, assigned to nobody

[2017-09-16 10:23] VsevolodGolovanov opened #2728 "MultiViewState: Add RowExpansion state"
Following #1931, this issue is about:

- [x] - Column Reordering
- [ ] - Row Expansion
- [x] - Column Visibility
- [x] - Column Resizing

[2017-09-16 11:11] kukel commented on #2708
Maybe in 'jsf development' mode write a log line that a facet was used but not defined/declared

[2017-09-16 11:18] kukel commented on #2390
12 days, no comment on the forum post... See that it does not help... I'm inclined to open a new identical issue. It is getting out of hand in Stackoverflow... please...

[2017-09-16 11:33] VsevolodGolovanov opened #2729 "[Documentation] Document p:widgetVarFromContext"
The useful EL function `p:widgetVarFromContext` already exists and works, but it's not documented in the User Guide (PF 6.1). I propose listing it in the 11.2 EL Functions section, so that it would be a part of the official API.

[2017-09-16 16:30] trajano commented on #2727
That was what I wanted to avoid.

[2017-09-18 08:16] jan-tosovsky-cz opened #2730 "New folderUpload component"
In time where all major browsers support entire folder upload, see
https://stackoverflow.com/questions/3590058/does-html5-allow-drag-drop-upload-of-folders-or-a-folder-tree it would be nice to add this possibility also into PF (even with drag&drop). Especially for Intranet apps with controlled environment.

[2017-09-18 08:18] tandraschko commented on #2730
It would be great if you could sponsor this via PrimeFaces PRO.

[2017-09-18 08:19] tandraschko commented on #2730
Ah, and it's a duplicate of #2705

[2017-09-18 08:19] #2730 closed, assigned to nobody

[2017-09-18 08:40] Rapster commented on #2729
Not only this one, there is plenty of functions contained in tag.xml that are not documented. Thanks for providing explanations and examples

[2017-09-18 08:46] tandraschko commented on #2729
It would also be usefull if you could prepare some text ;)

[2017-09-18 08:54] tandraschko commented on #2382
Switched from throwing to logging ;)

[2017-09-18 08:54] #2382 closed, assigned to tandraschko

[2017-09-18 09:00] mertsincan opened #2731 "Add disabled attribute to Tree"

[2017-09-18 09:02] #2731 closed, assigned to mertsincan

[2017-09-18 09:24] #2303 closed, assigned to tandraschko

[2017-09-18 09:26] tandraschko commented on #1433
any news here @Mobe91 ?

[2017-09-18 11:50] agoetze opened #2732 "TreeTable JavaScript "TypeError" on Update"
## 1) Environment
- PrimeFaces version: 6.0.23 and 6.1.5
- Does it work on the newest released PrimeFaces version? Version? No, but it works on 6.0.22 and 6.1.4.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Not tested.
- Application server + version: Tomcat 7.0.72
- Affected browsers: Mozilla Firefox 55.0.3

[2017-09-18 11:53] mertsincan opened #2733 "Selection issue with entered value from keyboard on Autocomplete with forceSelection"
Repored By PRO User;

[2017-09-18 11:55] #2733 closed, assigned to nobody

[2017-09-18 12:07] mertsincan commented on #2732
Fixed for 6.1.6, 6.0.24 and 6.2.
https://github.com/primefaces/primefaces/issues/2721

[2017-09-18 12:07] #2732 closed, assigned to nobody

[2017-09-18 14:27] mibrahim-iti opened #2734 "Last version of primefaces (version 6.1.5) broke some function on selectCheckboxMenu"
I am using selectCheckboxMenu tag in my code and in it was working fine with PrimeFaces jar (6.1.3, 6.1.4) as it was adding selections to list and remove it also from list after deselected it from menu.
But in last version of PrimeFaces (6.1.5) remove from list doesn't work anymore and i tried it also using events (ValueChangeEvent and AjaxBehaviorEvent) to see what happen and i am sure remove is

[2017-09-18 14:29] mertsincan commented on #2734
I'll check and get back to you.

[2017-09-18 14:40] mertsincan commented on #2734
Fixed for next version.

https://github.com/primefaces/primefaces/issues/2724

[2017-09-18 14:40] #2734 closed, assigned to mertsincan

[2017-09-19 06:41] VsevolodGolovanov commented on #2729
Example.
[code]

[2017-09-19 14:08] melloware opened #2735 "PanelGrid: Grouping Broken in 6.2.SNAPSHOT"
Run the showcase with "mvn clean jetty:run" to run against the latest PF 6.2.-SNAPSHOT.

Look at /showcase/ui/panel/panelGrid.xhtml and the Grouping example is not rendering correctly.

[2017-09-19 15:24] tandraschko commented on #2735
PR is welcome ;)

[2017-09-19 18:21] melloware commented on #2735
I have been trying to narrow it down.  It works in Elite 6.1.5 but is broken in 6.2-SNAPSHOT.  The only two commits I see are:
1. Formatting of the code for the new checkStyle standards.
2. Mert making minor changes for responsive from "ui-grid-row" to "ui-g" etc.  But those looks harmless to me.

[2017-09-19 18:34] Mobe91 commented on #1433
Well, adopting my code obviously fixed the issue. It also makes sense for me to inlcude the row key in equals/hashCode. However, this change should be included as breaking change in the migration guide IMHO because it apparently has the potential to break existing applications.

[2017-09-19 18:43] tandraschko commented on #1433
Thanks, will add a hint.

[2017-09-19 18:43] #1433 closed, assigned to tandraschko

[2017-09-20 06:13] mertsincan opened #2736 "when attribute “vertical” is true we are expecting that p:carousel will scroll the records vertically"
Reported By PRO User;

<p:carousel value="#{carouselView.cars}" headerText="Responsive" var="car" itemStyle="text-align:center" responsive="true" vertical= “true”>

[2017-09-20 06:14] #2736 closed, assigned to mertsincan

[2017-09-20 09:35] mertsincan opened #2737 "Add view attribute for PDF reader on media component"
Sets the view of the displayed page on Pdf Reader. Details; http://www.adobe.com/content/dam/Adobe/en/devnet/acrobat/pdfs/pdf_open_parameters.pdf

[2017-09-20 09:38] #2737 closed, assigned to mertsincan

[2017-09-20 12:16] mertsincan opened #2738 "'Today' button on calendar does not save the value on DataTable with editMode="cell""
Reported By PRO User;

We noticed that on clicking 'Today' button on calendar, it does not save the date and cell editor is closed.
Refer attached screenshot.
Expected: on clicking 'Today' button in calendar, today's date should be selected and on Enter selected date should be saved.
....

[2017-09-20 12:18] #2738 closed, assigned to mertsincan

[2017-09-20 12:54] mertsincan opened #2739 "Datepicker panel is reopening after selecting a day on Calendar with focusOnSelect="true""
Reported By PRO User;

On selecting date on calendar through click, the date is selected but calendar opens up again.
Expected: on clicking on a date in calendar, date should be selected and calendar should close and should not open up again.

[2017-09-20 12:56] #2739 closed, assigned to mertsincan

[2017-09-20 15:13] jxmai commented on #2735
Here is the problem https://github.com/primefaces/primefaces/commit/226aa77ac2bc457d6108c1bb41102d47c3a05f8a, please fix it asap:

[2017-09-20 15:15] jxmai commented on #2735
This issue can be replicated in the showcase as mellowware mentioned. This ticket can break many applications as our user interfaces can be messed up completely.

http://localhost:8080/showcase/ui/panel/panelGrid.xhtml

![image](https://user-images.githubusercontent.com/10467831/30651885-8ec6c936-9dec-11e7-8125-585cea297cc7.png)

---

This ticket might be related to #2664

cc: @Rapster

[2017-09-20 15:43] melloware commented on #2735
Ahh i didn't even think that would be the issue so I ignored @Rapster change because it seemed harmless.  But that is definitely causing the issue.

[2017-09-20 16:09] Rapster commented on #2735
Indeed the PR would only work for grid layout, not tabular :/ I guess this PR should be reverted?

[2017-09-20 16:14] jxmai commented on #2735
Actually I am not sure about the use case of https://github.com/primefaces/primefaces/commit/226aa77ac2bc457d6108c1bb41102d47c3a05f8a, but this issue is rather serious that brought me here...

[2017-09-20 16:22] Rapster commented on #2735
Use case is same as Mojarra or MyFaces :wink:
@tandraschko I think the quickest fix would be to revert the PR, too bad we'll lose `h:panelGrid` compliancy

[2017-09-20 17:36] melloware commented on #2735
Could we do something clever that returned the column count this way if not in "grid" layout?

[2017-09-20 17:59] tandraschko commented on #2735
Reverted for now ;)
@melloware  +1 if possible

[2017-09-20 17:59] #2735 closed, assigned to nobody

[2017-09-20 19:23] melloware commented on #2664
https://github.com/primefaces/primefaces/pull/2741

[2017-09-20 19:24] melloware commented on #2735
Attempted to fix with a PR.

[2017-09-20 19:28] melloware commented on #2735
hnmmm looks like my PR is not quite working. Need to dig deeper.

[2017-09-21 07:15] orange-buffalo commented on #453
Hi @cagataycivici, version 6.1 has been already released, do you have any plans to incorporate the fix?

[2017-09-21 08:07] #2664 closed, assigned to tandraschko

[2017-09-21 10:04] arnoldpettibone commented on #2699
I think is in jqplot code. Maybe I should open the same issue on their github?

[2017-09-21 10:04] arnoldpettibone commented on #2701
I think is in jqplot code. Maybe I should open an issue on their github?

[2017-09-21 10:33] tandraschko commented on #2699
yep, please. Will close it for now, we can upgrade jqplot later.

[2017-09-21 10:33] #2699 closed, assigned to nobody

[2017-09-21 10:33] tandraschko commented on #2701
yep please, we can upgrade jqplot later.

[2017-09-21 10:33] #2701 closed, assigned to nobody

[2017-09-21 10:44] spauny opened #2742 "user oncomplete callback called before extension oncomplete"
## 1) Environment
- PrimeFaces version: Latest (6.1.5)
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 8.5
- Affected browsers: All

## 2) Expected behavior
User oncomplete callback should be called after ext.oncomplete so it guarantees the DOM has been updated and it's actually `after e

[2017-09-21 12:26] melloware commented on #2720
I submitted PR https://github.com/primefaces/primefaces/pull/2743

I found everywhere "ui-helper-hidden-accessible" was being used to hide an input and I added the HTML hidden attribute to the input or select component.   Please review!

[2017-09-21 12:56] mertsincan opened #2744 "Empty message issue on DataTable with columnGroup and resizableColumns"

[2017-09-21 12:57] #2744 closed, assigned to nobody

[2017-09-21 14:26] kukel commented on #2705
Would not make it a new component... Would add a parameter to the existing fileUpload component since you would still be uploading files right? Or do I miss something?

[2017-09-21 14:38] Rapster commented on #2705
As I said, this is not a PF issue, or maybe PF can figure something out so the relativePath get pass to the formData. Probably somehthing interesting here: https://github.com/blueimp/jQuery-File-Upload/wiki/How-to-submit-additional-form-data. I had the same issue, and had to tweak it, see above. I guess a new attribute could be add to the existing component, but there is already `pt:webkitdirector

[2017-09-21 15:01] neXus1987 commented on #2705
yes exactly with pt:webkitdirectory the browser allows you to select a folder, but as i saw the relative path was not transmitted to the fileuploadevent (the files are there but just the file name). that´s why i thought pf could do something. Sure it is no issue, it´s a new feature.

[2017-09-21 20:09] Quix0r opened #2745 "Fieldset: add title attribute"
Having `title` attribute (including `role` where applyable) will improve user experience as you can add small informations (longer text than what you have in `legend` tag) to your components giving the user a short description of what is done here.

I use this across my entire JSF/PF projects (all AGPLv3) and would like to switch to `p:fieldset` but I miss that attribute.

Or am I doing it wrong?

[2017-09-22 05:24] SUDHARSHAN99 opened #2746 "not printing all pages in IE browser and only printing first page I have used printer tag"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-09-22 07:50] tandraschko commented on #2746
All infos missing -> invalid.

[2017-09-22 07:50] #2746 closed, assigned to nobody

[2017-09-22 08:04] oliver303 opened #2747 "${project.version} isn't replcaced in core.js"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-09-22 08:08] oliver303 commented on #2747
I can get the version by using an application scoped bean and getting the version number by java code. But that's a bit of overkill imho for page footer with version infos.

[2017-09-22 08:08] tandraschko commented on #2747
a PR would be great.

[2017-09-22 08:29] oliver303 commented on #2747
Hi Thomas! Servus!

Sorry for the question, but how do i provide a problem report?

regards
Oliver

[2017-09-22 08:30] tandraschko commented on #2747
Servus :D
PR stands for Pull Request :)

[2017-09-22 08:34] oliver303 commented on #2747
OK! I'll do it this weekend. I'm busy with other work.

[2017-09-22 08:48] Rapster commented on #2745
One attribute `title` should be enough no? Passthrough attributes could be used, but the component does not support it so far.

[2017-09-22 08:51] tandraschko commented on #2745
+1 for reusing passtrough.

[2017-09-22 10:38] eversnarf commented on #947
Would be quite useful indeed!

[2017-09-22 11:00] oliver303 commented on #2747
[code]
Although a PR is requested the above mentioned change in `pom.xml` should do the trick. The tag `<filtering>true</filtering>` is necessary. The guys from PrimeFaces Extensions do the same. But, Thomas, if you still insist, i'll provide you with a PR.

[2017-09-22 11:18] melloware commented on #2747
I will test it and submit the PR.

[2017-09-22 11:39] JanRR commented on #1770
Well done! THX!

[2017-09-22 12:21] #2747 closed, assigned to tandraschko

[2017-09-22 12:21] tandraschko commented on #2747
Thanks!

[2017-09-22 14:23] eversnarf opened #2749 "p:button does not use nested f:param when using href attribute"
PrimeFaces version: 6.1.5
With `<p:button>` nested `<f:param>` elements are not passed as parameters to the url defined in `href ` attribute.

[code]
When clicking on the button, I would expect to go to http://www.google.com?q=primefaces
Instead, I go to http://www.google.com

Parameters are correctly taken into account when using the `outcome ` attribute instead of `href`.
I know I can directly p

[2017-09-22 14:29] tandraschko commented on #2749
Does it work with h:button?

[2017-09-22 14:33] banifou opened #2750 "Action method not working in p:menuitem in Sentinel leftmenu"
Action method is not fired in <p:menuitem> in leftmenu in Sentinel layout.
Example:
[code]
I've tested this with the last version of sentinel Layout and PrimeFaces version: 6.0.

[2017-09-22 14:43] tandraschko commented on #2750
Use the https://github.com/primefaces/layouts project for sentinel stuff. this is only for primefaces core.

[2017-09-22 14:43] #2750 closed, assigned to nobody

[2017-09-22 15:03] eversnarf commented on #2749
AFAIK `h:button` does not have a `href` attribute

[2017-09-22 19:51] Quix0r commented on #2745
My point here is, that `legend` and `fieldset` tags can get a separate `title` tag (with their own text, of course).

[2017-09-23 07:57] Rapster commented on #2745
I don't see why HTML spec define `legend` as a node instead of an attribute of `fieldset`. Specially when the only use case of using `legend` is with `fieldset`... To me, they make one element, for this reason, one `title` should be enough. I don't think we would bother creating two new attributes for so little while passthrough attributes do the job

[2017-09-24 18:18] tandraschko commented on #2749
Feel free to provide a PR ;)

[2017-09-25 07:14] mertsincan opened #2751 "Add decimalPlaces attribute to Spinner"
Reported By PRO User;

[2017-09-25 07:16] #2751 closed, assigned to mertsincan

[2017-09-25 09:50] Rapster commented on #2449
A workaround wrote by @mertsincan (thanks to him) proposed here: https://forum.primefaces.org/posting.php?mode=reply&f=53&t=52269

[2017-09-25 12:03] stefanwendelmann commented on #2278
Same issue for me with PF 6.1. When i use PF 6.0 its working fine.
The exact eample can be found here: https://gist.github.com/60cd4e4f7bda0d75eee013523b7dbe9c.git

[2017-09-25 12:26] Rapster commented on #2449
To make it simple, a new attribute could be created `stickyRelativeTo` expecting a jquery selector (e.g `.topbar` or `#top_bar`)

[2017-09-25 14:01] jxmai commented on #2278
@stefanwendelmann This bug is in PF6.1, so you need to build the source by yourself, wait for PF6.2 or use an elite version.

[2017-09-25 19:56] melloware commented on #2654
I can't reproduce in PF 6.1.  Can you try with the latest code and see if you have the same issue?

I tested on the showcase here:  https://www.primefaces.org/showcase/ui/chart/interactive.xhtml

[2017-09-25 20:26] melloware commented on #2576
I fixed this and tested it locally.  I had to switch to use the new LocaleUtils function which makes it consistent with the PrimeFaces Calendar component.

[2017-09-25 20:30] JHookDev commented on #162
@bgonzalez2 What version of Primefaces did the javascript override work in for preventing TreeTable checkbox selection propagation? Specifically for the propagateDown override. The propagateUp override works in Primefaces 6.1, but there is no propagateDown function to override.

[2017-09-25 20:54] bgonzalez2 commented on #162
I am still on 5.2.  I can't upgrade due to issue 244.

[2017-09-25 20:54] #162 closed, assigned to nobody

[2017-09-26 00:35] Dragonsol commented on #2313
I could be related to the issue I have reported previously as well: #2649 .

[2017-09-26 08:09] mertsincan opened #2753 "Client side validation is not firing for autocomplete with multiple selection"
Reported By PRO User;

[2017-09-26 08:10] #2753 closed, assigned to mertsincan

[2017-09-26 13:23] Dragonsol opened #2754 "Add NoBorder=true/false or Border=true/false attribute to all UI elements"
It would be great if all UI elements will have an additional attribute to indicate if a border should be rendered. It is applicable to obvious elements such as p:dataTable or p:panelGrid, but also to elements such as p:textEditor that (for some unknown reason) has a border around it.

For example:
[code]
or

`<p:textEditor value="#{domain.domainName}" readonly="true" toolbarVisible="false" border=

[2017-09-26 13:25] melloware commented on #2754
You don't need to do that PF has a built in style called ui-noborder so just do...

[code]

[2017-09-26 13:33] cmastrantono opened #2755 "jQuery Error with treeTable in 6.1.5 (works in 6.1.4)"
## 1) Environment
- PrimeFaces version: 6.1.5 (works with 6.1.4)
- Myfaces 2.2.11
- Application server + version: Jetty 9.3.10
- Affected browsers: Chrome 61

Downgraded to 6.1.4 and everything worked well.

## 2) Expected behavior
When first level is clicked, a p:ajax updates the treeTable to show more data...

## 3) Actual behavior
Once the first level is clicked, jQuery is broken forever until

[2017-09-26 13:34] Dragonsol commented on #2754
I have tried it (PrimeFaces 6.2-snapshot) and it does absolutely nothing. Here is the full PF JSF:

[code]

The HTML source:

`
...
div id="j_idt34:table" class="ui-datatable ui-widget ui-noborder"><div class="ui-datatable-header ui-widget-header ui-corner-top"></div><div class="ui-datatable-tablewrapper"><table role="grid"><thead id="j_idt34:table_head"><tr role="row"><th id="j_idt34:
...
`

...

[2017-09-26 13:54] melloware commented on #2755
Already fixed for 6.1.6 please close this ticket.

https://github.com/primefaces/primefaces/issues/2732

[2017-09-26 13:56] melloware commented on #2754
sorry ui-noborder only works on panels.

https://stackoverflow.com/questions/10421581/how-to-remove-border-from-specific-primefaces-ppanelgrid

To do it for a datatable see BalusC's answer

https://stackoverflow.com/questions/18880208/remove-all-borders-on-a-specific-datatable

[2017-09-26 13:58] #2755 closed, assigned to nobody

[2017-09-26 14:57] tandraschko commented on #2754
absolutely -1
If you don't like borders, use css overwrites or a custom theme.

[2017-09-26 14:57] #2754 closed, assigned to nobody

[2017-09-26 15:06] Dragonsol commented on #2754
While I understand that it is possible to mock around with *custom* CSS to achieve everything and anything, I would suggest considering to have an additional attribute added to the base UI component (and then inherited by all other UI components) to control whether borders should be displayed or hidden.

It will introduce a consisted and controlled way to achieve this, rather than have multiple CS

[2017-09-26 15:11] tandraschko commented on #2754
PrimeFaces is a web framework and CSS is the way to go. Otherwise we would have to introduce many attributes for controlling UI rendering.

[2017-09-26 15:30] melloware commented on #2754
+1 @tandraschko this is what CSS is for an some themes actually turn off these borders by default.  So i wouldn't want it controlled by the component.

[2017-09-26 18:55] #2576 closed, assigned to tandraschko

[2017-09-26 21:56] DaniGalicia opened #2756 "SelectOneMenu Validation Error: value is not valid"
SelectOneMenu component fails when is used with an object type javax.persistence.Entity as value. I use a custom converter but sometimes can't convert value because the value object sended is not equals  anyone collection object.

Sometimes sends the righ Object type and another sends and HibernateProxy object.

## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest released Prim

[2017-09-27 07:29] tandraschko commented on #2756
1) Objects or entities should not be used as value
2) Use converters
3) It's known that ORM frameworks generates proxies, nothing that we can change.

[2017-09-27 07:29] #2756 closed, assigned to nobody

[2017-09-27 08:10] uvoigt commented on #2155
It looks like in `org.primefaces.component.datatable.DataTable.restoreTableState()` the filters are set using datatable's `setFilterBy` whereas in `loadLazyData` `getFilters` is used to call `lazyModel.load`

[2017-09-27 11:01] JoakinAA opened #2757 "Double event change on InputNumber component with p:ajax"
## 1) Environment
- PrimeFaces version: 6.1.4
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Not tested
- Application server + version: Primefaces Showcase
- Affected browsers: Tested on Chrome, Firefox and IE v.11

## 2) Expected behavior

[2017-09-27 11:35] tandraschko commented on #2757
@mertsincan
it's already fixed in trunk: https://github.com/primefaces/primefaces/commit/a7c781329c3781134631db4545d716bc3f83365d
so feel free to merge it to elite.

[2017-09-27 11:41] Rapster opened #2758 "InputGroup: use facet instead of plain CSS"
See this example: http://tobago-vm.apache.org/demo-5-snapshot/content/20-component/010-input/50-input-group/Group.xhtml?dswid=-6912

It involves to make it  as a pure JSF component

[2017-09-27 14:42] nelsongraca commented on #12
This would be indeed great if it was supported.

[2017-09-27 15:50] Quix0r commented on #2745
Makes sense, `legend` is only for `fieldset` around. Okay, `title` is enough. 👍 And thank you for explaining it.

[2017-09-27 19:02] kukel commented on #2754
Definitely -1 here to (and +1 for Thomas' suggestion).

[2017-09-28 07:42] tandraschko commented on #2757
Will close it for now as fixed in trunk and will re-ping mertsincan via slack ;)

[2017-09-28 07:42] #2757 closed, assigned to tandraschko

[2017-09-28 07:50] Rapster commented on #2745
You can provide a PR ;-) It's quite easy really

[2017-09-28 08:41] harshal-kalavadiya commented on #2000
Hi mertsincan,
I am still facing the same problem.
Please find my code below:

[code]

Here I am usung p:inputText inside f:facet and I am not able to enter space.
Primeface version : 6.1
Primfaces Extension Version : 6.0.0
Application Server : jboss-eap-7.0 / wildfly-10.1.0.Final
Can you please help me for this?

[2017-09-28 15:36] Quix0r commented on #2745
No time for this, maybe.

[2017-09-28 16:19] Rapster commented on #2745
Too bad, I don't think you'll see this done anytime soon...

[2017-09-28 22:07] jxmai commented on #942
Analysis: this issue could be as @dhladky's description. I have briefly examined the rowExpansion's internal implementation, and I noticed that the row will be removed during collapsed.

https://github.com/primefaces/primefaces/blob/6f8aa2bf30ebf599597e77c9df587e4d5039c64c/src/main/resources/META-INF/resources/primefaces/datatable/datatable.js#L2109-L2111

So if the content inside row toggler is *

[2017-09-29 05:29] mertsincan opened #2760 "Add size attribute for Invisible reCaptcha"
Details; https://developers.google.com/recaptcha/docs/invisible

[2017-09-29 05:30] #2760 closed, assigned to mertsincan

[2017-09-29 07:14] mertsincan opened #2761 "Open calendar on clicking input box"
Reported by PRO User;

After selecting the value form the calendar for the fist time,(without saving it) user is unable to open the calendar again

[2017-09-29 07:15] #2761 closed, assigned to mertsincan

[2017-09-29 07:23] dhladky commented on #942
FYI: I also noticed, that the content of the standard text box is reset to its starting value. I thought I found a workaround - trigering "update" of another component did the trick, but it worked only sometimes.

So the final workaround I had to use was when entering edit mode expand everything and remove the toggler so collapsing is prevented. The result is uggly, but reliable form.

[2017-09-29 11:29] sorny commented on #171
I know its a late call but you have to set the AxisType to DateAxis:

e.g.: for the X-Axis where model is a OhlcChartModel:
`model.getAxes().put(AxisType.X, new DateAxis());`

[2017-09-29 11:40] tandraschko commented on #171
So we can close this ticket?

[2017-09-29 11:54] m-kuzmenko commented on #171
The ticket is relevant. See https://stackoverflow.com/q/30146546/6537500

[2017-09-29 12:19] sorny commented on #171
Well, as a final remark: Be aware that you have to represent the date in milliseconds for OhlcChartSeries.value as the DateAxis will render it back to a human readable date.

Simply pushing the ate into OhlcChartSeries will cause problems since OhlcRenderer creates the javascript array by calling .toString() while not taking care of string representation.

We can close this ticket now 👍

[2017-09-29 12:39] #171 closed, assigned to tandraschko

[2017-09-29 20:32] melloware commented on #171
Is this similar to this ticket too?

https://github.com/primefaces/primefaces/issues/95

[2017-09-29 20:36] melloware commented on #194
Primefaces has announced it is deprecating mobile in 6.2 and removing in 6.3 so this ticket should be closed as WontFix.

[2017-09-29 20:38] melloware commented on #81
PrimeFaces has [announced ](https://www.primefaces.org/primefaces-6-2-roadmap/)it is deprecating Mobile in 6.2 and removing in 6.3. Ticket can be closed as WontFix.

[2017-09-29 21:13] jxmai commented on #942
Thanks for sharing the workaround. Just a few notes:

I guess the key here is to use partial form submit (`process`) to avoid mapping the content inside rowExpansion as `update` has nothing to do with this issue.

Yes, it will work as the form mapping is correct since you are forcing the toggler to keep expanding.

---

I think I found a way to solve this issue by hiding the content. The `loadExpa

[2017-09-29 21:38] sorny commented on #171
Somehow yes, the series identifier handling in primefaces is not consistent. A line-chart is able to render a plain java.util.Date object while a ohlc-chart is not (based on the issue description, still got to retest the behaviour).

[2017-09-30 11:40] tandraschko commented on #2594
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:40] #2594 closed, assigned to nobody

[2017-09-30 11:40] tandraschko commented on #2569
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:40] #2569 closed, assigned to nobody

[2017-09-30 11:41] tandraschko commented on #1864
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:41] #1864 closed, assigned to nobody

[2017-09-30 11:41] tandraschko commented on #1759
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:41] #1759 closed, assigned to tandraschko

[2017-09-30 11:42] tandraschko commented on #1397
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:42] #1397 closed, assigned to nobody

[2017-09-30 11:42] tandraschko commented on #868
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:42] #868 closed, assigned to nobody

[2017-09-30 11:42] tandraschko commented on #759
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:42] #759 closed, assigned to nobody

[2017-09-30 11:43] tandraschko commented on #410
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:43] #410 closed, assigned to nobody

[2017-09-30 11:43] tandraschko commented on #194
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:43] #194 closed, assigned to nobody

[2017-09-30 11:43] tandraschko commented on #81
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:43] #81 closed, assigned to nobody

[2017-09-30 11:44] tandraschko commented on #256
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:44] #256 closed, assigned to nobody

[2017-09-30 11:45] tandraschko commented on #140
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:45] #140 closed, assigned to nobody

[2017-09-30 11:45] tandraschko commented on #502
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:45] #502 closed, assigned to nobody

[2017-09-30 11:46] tandraschko commented on #98
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:46] #98 closed, assigned to nobody

[2017-09-30 11:47] tandraschko commented on #1604
PrimeFaces Mobile will be deprecated  in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 11:47] #1604 closed, assigned to nobody

[2017-09-30 11:49] tandraschko commented on #2758
IMO the markup is very easy, so i would not create a JSF component for it.

[2017-09-30 12:24] melloware commented on #171
OK I will investigate and see if I can fix it.

[2017-09-30 12:51] sorny commented on #171
Just had a look into the chart-renderer code. Looks like the encodeData implementations differ a lot. LineRenderer is able to handle a string, OhlcRenderer is not :/

[2017-09-30 13:47] Dragonsol commented on #2754
@melloware  - fair enough, that is a valid point.

[2017-09-30 13:51] Dragonsol commented on #2754
For the record (in case, someone will be attempting to achieve the same) -
for the p:datatable, the CSS is based on BalusC's answer (https://stackoverflow.com/questions/18880208/remove-all-borders-on-a-specific-datatable):

[code]

... and for the p:textEditor, I've used:
[code]
to disable the border around the UI element.

[2017-09-30 15:11] melloware commented on #171
I will review all the chart renderers and make them consistent if I can.

[2017-09-30 16:43] NicolaIsotta opened #2763 "Column filtering with filterOptions: style can be improved"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? It shouldn't
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) It shouldn't
- Application server + version: Tomcat 8
- Affected browsers: All

## 2) Expected behavior
The select created by filterOptions

[2017-09-30 17:28] jxmai commented on #2745
PR: #2764

[2017-09-30 17:32] Rapster commented on #2745
Why not make it support passthrough attributes directly?

[2017-09-30 17:39] jxmai commented on #2745
I guess the `passthrough` attribute was mentioned in the following blog post: https://www.primefaces.org/jsf-2-2-pass-through-attributes/

but `title` seems really straightforward to use and easy to add :). Also, it is consistent with other components.

[2017-09-30 17:40] jxmai commented on #2745
IMHO, There is no harm to add `title` attribute to fieldset.

[2017-09-30 19:33] tandraschko commented on #840
PrimeFaces Push will be deprecated in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 19:33] #840 closed, assigned to jfarcand

[2017-09-30 19:33] tandraschko commented on #337
PrimeFaces Push will be deprecated in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 19:33] #337 closed, assigned to nobody

[2017-09-30 19:34] tandraschko commented on #1939
PrimeFaces Push will be deprecated in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 19:34] #1939 closed, assigned to nobody

[2017-09-30 19:34] tandraschko commented on #2503
PrimeFaces Push will be deprecated in 6.2 and removed in 6.3 ( see https://www.primefaces.org/primefaces-6-2-roadmap/)
Therefor i will close this issue as won't fix. If you will provide a PR to fix this issue until 6.2 RC1, i can merge it.

[2017-09-30 19:34] #2503 closed, assigned to nobody

[2017-10-01 10:10] Rapster commented on #2745
Yes it's easy to add (it's actually way more easier to support passthrough attributes :wink:), but what if I want to support all the HTML5 attributes that `fieldset` has, add a new JSF attributes for each HTML attributes? That's a hell of a work. Regarding the consistent point, maybe those attributes were added before passthrough attributes came out (just a guess). Only limitation is passtrough at

[2017-10-01 12:45] melloware commented on #2763
You have solved it the way I have solved it and just use a Facet instead of the native FilterOptions.

PF have specifically chosen to use the Browser Native select options for rendering the filterOptions.  Because the PF SelectOne is not just a styled browser native selectOne its actually a totally custom component with CSS to make it look like a browser native select one menu.

[2017-10-01 12:48] tandraschko commented on #2745
As we already have "title" in my components, i think it's ok add to it for now. For other "rare" attributes, passthrough should be used.

[2017-10-01 12:48] #2745 closed, assigned to tandraschko

[2017-10-01 12:49] tandraschko opened #2765 "[Documentation] Fieldset: title"
see #2745

[2017-10-02 10:13] Quix0r commented on #2745
Thank you, guys for adding it. 👍

[2017-10-02 13:00] mertsincan opened #2766 "The colspan of empty row is not calculated correctly on dynamic columns"

[2017-10-02 13:03] #2766 closed, assigned to mertsincan

[2017-10-02 19:39] jxmai commented on #2317
Replicated in the showcase. Here is the line that reports the null pointer in showcase's codebase https://github.com/primefaces/showcase/blob/24cfcd9946d24010ca14539e105722b6fce4b34b/src/main/java/org/primefaces/showcase/view/data/tree/ContextMenuView.java#L68.

[code]

The issue should be because  `selected node` is not set properly by right clicking the icon. Either we should prevent the context

[2017-10-02 20:24] melloware commented on #2317
I vote for selecting the node on right click.

[2017-10-03 03:42] jxmai commented on #2317
OK, I see the problem, but I am not entirely sure why the code specifically skips the toggler on purpose

In `tree.js`

https://github.com/primefaces/primefaces/blob/7d46489a6ea47b00539f4a1a22cb71c5cf17c39f/src/main/resources/META-INF/resources/primefaces/tree/tree.js#L317

The `if` statement above will be skipped if we right click on the icon, which will skip the entire bloc of code below

https:

[2017-10-03 09:18] mertsincan opened #2768 "Inconsitency between SelectCheckboxMenu rendering of multiple label and panel contents"
Reported By PRO User;

This creates inconsistency if no values are saved on server before attempting to save for the first time. Items that were selected and caused validation failure are still checked in the panel but not visible in the multipleLabel.
getSubmittedValues() should be used instead in encodeMultipleLabel (line 212).

[2017-10-03 09:19] #2768 closed, assigned to mertsincan

[2017-10-03 11:32] melloware commented on #2317
OK so if I am reading that right it says as long as the target is NOT the tree toggler icon?   My guess is that clicking the icon shows and hides the tree node so they didn't want any other click events happening on it?

I am wondering if that will have side effects changing it.   Worth a shot though?  It might even take another if that if its the toggler and its a right click do a "select".

[2017-10-03 14:12] mertsincan opened #2769 "Empty value issue on Autocomplete"
Reported by PRO User;

As showed in the attachment, in order to reproduce the issue, you can make this sequence
•	Select an item from autocomplete (i.e. zzzzz)
•	Delete with keyboard the selected item (pressing the backspace key very fast)
•	Stop and see the preview selected item that starts with “z”

[2017-10-03 14:13] #2769 closed, assigned to mertsincan

[2017-10-03 14:15] tandraschko commented on #2666
Could you provide a sample code to check your PR?

[2017-10-03 14:17] #2708 closed, assigned to tandraschko

[2017-10-03 14:18] tandraschko commented on #2708
@kukel @Rapster a log would be a good small enhancement. If anyone has time, please prepare a PR.

[2017-10-03 14:24] tandraschko commented on #2720
Thanks for the pR!

[2017-10-03 15:00] NicolaIsotta opened #2770 "[Documentation] Update locales link"
In the documentation PDF there are some links pointing to the old, outdated wiki in Google code, instead of the new one here in github.

[2017-10-03 16:55] jxmai commented on #2317
Exactly correct. It was introduced several years ago in https://github.com/primefaces/primefaces/commit/8c9fd3928163b5b28462f0f527270176b1396670#diff-3cc01523b05bd1fb5ffa60e642384c14R213

Not sure yet since the commit only says 'fixes and refactor' without any sample, so we need some testing to tell.

I would say it depends. On one hand,  this issue can be easily prevented with a simple null check

[2017-10-03 17:08] tandraschko commented on #2317
+1 to fix our code and ignore right clicks on the toggler

[2017-10-03 17:26] tandraschko opened #2771 "Rework util functions for resolving clientId(s) and widgetVar"
Also allow SEF to use in facelets.

Example to search from root:
var clientId = #{p:resolveClientId('form:tabView:myDataTable', view)};

Example to search from current component:
p:commandButton onclick="#{p:resolveClientId('@parent', component)}"

p:resolveWidgetVar is the same as p:widgetVarFromContext - only with better naming. Docu text exmaple is already available here: #2729

[2017-10-03 17:44] jxmai commented on #2317
OK, I will take a shot later

[2017-10-03 17:50] tandraschko opened #2772 "[Documentation] Document p:resolveClientId + p:resolveClientIds + resolveWidgetVar"
see #2771

[2017-10-03 17:59] #2771 closed, assigned to tandraschko

[2017-10-03 20:36] jxmai commented on #2317
PR: #2773. The node can be set correctly by right clicking either node or icon when the patch is applied.

I was thinking to also remove the toggler check on left click, but that's not relevant to this issue so I did not touch it.

https://github.com/primefaces/primefaces/blob/dfdd412e01cc6b8c6db11c5deba49c64214f047d/src/main/resources/META-INF/resources/primefaces/tree/tree.js#L275-L276

[2017-10-03 22:15] h-arora commented on #11
Will this feature be added/implemented anytime soon?

[2017-10-04 07:07] tandraschko commented on #11
No plans but you can sponsor it via PrimeFaces Pro or provide a PR ;)

[2017-10-04 13:31] tandraschko opened #2775 "[perf] optimize selectOneMenu with customContent"
Currently we call menu#getColumns() 3 times and do a foreach loop each time ->
3 ArrayList instances
3 Iterator instances

we can simply optimize it down to
1 ArrayList instance
0 Iterator instances

means each selectOneMenu with customContent now saves 5 object instances.

[2017-10-04 13:32] tandraschko commented on #2775
@melloware would be great if you could review, i also removed an unrechable if statement. Not sure it worked before your PR.

[2017-10-04 13:32] #2775 closed, assigned to tandraschko

[2017-10-04 13:52] tandraschko opened #2776 "[Documentation] SelectOneMenu: customContent"
See #1036

[2017-10-04 13:54] tandraschko commented on #1036
Could we improve this by removing the attribute and looking for p:column as child?

if (menu.isCustomContent()) -> if (menu.getColumns().size() > 0) ?

[2017-10-04 13:57] tandraschko commented on #1036
Ok, i'm a little bit confused as we had 2 customContent variables, with a different meaning.
Will check it again.

[2017-10-04 14:01] tandraschko commented on #1036
@melloware
Currently i think we have 3 hints for the same meaning:
var attribute used -> custom content
    which means the same as p:columns are available as content
    which means the same as customContent=true ?

There is only custom content, which means that var and columns need to be defined. Everything else means no custom content?!

[2017-10-04 14:06] tandraschko commented on #1036
I also wonder if the following combinations can be used correctly:
1) var == null, columns == 0
2) var != null, columns > 0

i think it's only valid when var and columns are used.

[2017-10-04 14:12] #2776 closed, assigned to cagataycivici

[2017-10-04 14:13] tandraschko commented on #2776
Not required for now.

[2017-10-04 14:13] tandraschko commented on #1036
Removed the attribute again, i think it's ok as var+columns represents custom-content.

[2017-10-04 14:13] #1036 closed, assigned to tandraschko

[2017-10-04 15:10] #2742 closed, assigned to tandraschko

[2017-10-04 15:16] #2512 closed, assigned to tandraschko

[2017-10-04 16:31] melloware commented on #1036
Ahhh I like your solution better.  Nice work.

[2017-10-04 16:32] melloware commented on #2775
+1 Nice optimization to only have getColumns() build the list once and pass it around.

[2017-10-04 16:40] jxmai commented on #2556
As a note: the clone header triggers right after

[code]
The height(0) does not actually hide the clone header. I will try to come up with a fix and we can discuss there. I think hide() could be used but is there any particular reason to use height(0) ?

[2017-10-04 16:40] jxmai commented on #2556
hide() works fine using my sample

[2017-10-04 17:02] jxmai commented on #1715
To see if anything helpful after https://github.com/primefaces/primefaces/issues/2742 is fixed

[2017-10-04 18:57] #2019 closed, assigned to tandraschko

[2017-10-04 19:21] tandraschko commented on #2074
Added map & iterable support. CDI features are not supported.

[2017-10-04 19:21] #2074 closed, assigned to tandraschko

[2017-10-04 19:22] tandraschko opened #2778 "JSF 2.3: Enhance UIData supported type"
added support for map & iterale - CDI features are not supported for now

[2017-10-04 19:23] #2778 closed, assigned to tandraschko

[2017-10-05 07:12] ssibitz opened #2780 "Primefaces is using uncompressed resources"
Hello,

I analyzed my primefaces-site on the server to solve performance issues.
The first thing i am doing was to test it via the PageSpeed-Tool from Google which is available in Google-Chrome and so i find out the main "problems" which are coming from Primefaces:

1.) Most of the Stylesheet's and JavaScript's are not compressed or minified - coming from Primefaces.
So please minimize and compres

[2017-10-05 07:16] tandraschko commented on #2780
if you download the JAR there, i can't see any uncompressed resource:
http://repo1.maven.org/maven2/org/primefaces/primefaces/6.1/

[2017-10-05 07:16] #2780 closed, assigned to nobody

[2017-10-05 07:17] tandraschko commented on #2780
And please -> 1 issue/enhancement request -> 1 ticket. The second point is a valid enhancement but it would need some hacking around the resource handling as it's not supported out of the box by JSF.

[2017-10-05 08:34] ssibitz commented on #2780
I am talking about primefaces-6.1.6.jar because i am using the latest one:

Here are the files which are not compressed or not minimized by default, but very big uncompressed
and so PageSpeed said the page is not performant:
\primefaces-6.1.6\META-INF\resources\primefaces\components.css
\primefaces-6.1.6\META-INF\resources\primefaces\components.js
\primefaces-6.1.6\META-INF\resources\primefaces\co

[2017-10-05 08:40] tandraschko commented on #2780
Seems like something related to elite only.... Will ping them.

[2017-10-05 08:44] ssibitz commented on #2780
For the second point i will make a new ticket.

I know, that the resource-handling in JSF is out of the box not the best,
but eventually with the Filter i already added could also be a performant solution for Primefaces...

[2017-10-05 08:46] tandraschko commented on #2780
+1
feel free to attach the sources, i will check them!

[2017-10-05 08:55] #2556 closed, assigned to tandraschko

[2017-10-05 09:02] ssibitz opened #2781 "[perf] Collect scripts and render it before the body ends"
The resource-order of Stylesheet's and JavaScript's are not "optimized",
so they are very imperformant in every HTML-Site generated.

What i mean ? The position of stylesheet's should always be the head (Head-Tag),
but the javascript's must be moved to the end of the HTML (In the Body-Tag).

This is at the moment the recommented way for HTML5, but not rendered in Primefaces.

Browser's can so rend

[2017-10-05 09:11] 4a6f42 opened #2782 "DataTable: rowExpansion treated as selectable row by range selection"
## 1) Environment
- PrimeFaces version: 6.1

## 2) Expected behavior
Holding shift to select a range of dataTable rows submits the accordings rowKeys of actually selectable rows. Either all rowExpansions in range are highlighted or none.

## 3) Actual behavior
rowKeys of rowExpansions are included in the list and empty, leading to a HTTP header like `table_selection=1,2,,3,4,`
A dataTable without

[2017-10-05 11:17] melloware commented on #2781
So I like the idea of this but I personally think this filter is doing too much.   I use PrimeFaces Extensions optimizer which compresses CSS and JS so its compressed once inside the WAR/JAR and not recompressed on the fly every time using CPU.  https://github.com/primefaces-extensions/primefaces-extensions.github.com/wiki/Maven-plugin-for-web-resource-optimization

But I think @tandraschko gets y

[2017-10-05 11:24] tandraschko commented on #2781
yup, this issue only about one thing: move all scripts tags dynmically to the bottom, before the body ends.

I think the best way is to do this via a custom responsewriter probably. We can there also merge the script contents.

[2017-10-05 11:25] tandraschko commented on #2781
I also played with this idea in the past, no idea why i never finished it. It should also be faster if 1 script tag contains 10x PrimeFaces.cw instead of 10 script tags with each a single PrimeFaces.cw call

[2017-10-05 11:32] ssibitz commented on #2781
The "compression" - part is only needed for compressing the whole xhtml-page, but not the resources - so it's not needed in primefaces and "optional" used by me in only special cases.
(It's only a modified source so you can read it !)

But the second part which optimizes the tag's dynamically will be the thing that could handle the resources for primeface...

I also use the omnifaces DeferredScrip

[2017-10-05 11:59] mertsincan opened #2783 "Manual input is not working correctly for specific date patterns on Calendar"
Reported By PRO User;

sample xhtml code:
<p:calendar mask="true" navigator="true" timeControlType="select"
timeInput="true" showHour="false"
showMinute="false" showSecond="fase"
pattern="MMM/dd/yyyy" />

[2017-10-05 12:01] #2783 closed, assigned to mertsincan

[2017-10-05 12:43] tandraschko commented on #2781
Got a 80% working solution now which just wraps the ResponseWriter.
Will share my solution later, not sure if i can do a 100% solution until RC1.

[2017-10-05 12:51] tandraschko commented on #2781
90%-100% - works fine for all cases now in MyFaces ;)

[2017-10-05 12:59] melloware commented on #2781
Excellent!

[2017-10-05 13:03] ssibitz commented on #2781
Perfect :-)

[2017-10-05 13:06] tandraschko commented on #2781
Some "chars" statistics from a "normal" sized view:
- script includes (script src="..."): 9
- script blocks (script with js content, like produced by WidgetBuilder): 26

all script blocks are now merged inside a single script block, which means we save here 25 script tags.
A script tag looks like: <script id="form:msgs_s" type="text/javascript">...</script>

So, for each script tag, we save around

[2017-10-05 13:18] tandraschko commented on #2781
Done! Also please try without omnifaces first, not sure what happens ;)

You can activate it via your faces-config in your application:

    <factory>
        <faces-context-factory>org.primefaces.application.resource.ScriptCollectingFacesContextFactory</faces-context-factory>
    </factory>

[2017-10-05 13:52] melloware commented on #2781
I will give it a shot and remove my Omnifaces optimizations.

[2017-10-05 13:55] tandraschko commented on #2781
What did you used from omnifaces exactly? For merging X files into 1?

[2017-10-05 14:12] melloware commented on #2781
http://showcase.omnifaces.org/resourcehandlers/CombinedResourceHandler

[2017-10-05 16:03] NicolaIsotta commented on #2763
I guess this can be closed then, since the quick fix I tried (adding the `ui-inputfield` class) doesn't really work, and there's an easy, working alternative.

[2017-10-05 16:03] #2763 closed, assigned to nobody

[2017-10-05 20:26] melloware commented on #2781
I tried running the Showcase with Mojarra with this factory enabled and nothing seems to work.  I get Console errors like the page is not loading properly.  Not sure if this is related...

[code]

[2017-10-06 05:44] mertsincan opened #2785 "Add oneLine attribute to Calendar"
Details; http://trentrichardson.com/examples/timepicker/

[2017-10-06 05:46] #2785 closed, assigned to mertsincan

[2017-10-06 06:53] ssibitz commented on #2781
I am currently using Mojarra / Primefaces / Omnifaces / Bootstrap v4 (Beta) / SASS (As CSS-Framework, so i don't need to compress because it's done automatically at saving in IDE) in my project.

Are you using Omnifaces directly by including it or using only the code-parts as source for combining ?

This could be important for other user's if they don't need to include Omnifaces anymore...

[2017-10-06 07:12] marcodelpercio opened #2786 "Bootstrap theme, undesired data-table scrollbar"
Hi,

Initially we thought this was a bug introduced by our CSS code but actually the bug can be experienced in live showcase right now on the primefaces website:

Open: https://www.primefaces.org/showcase/ui/data/datatable/basic.xhtml
and from PFThemes select the Bootstrap theme
you'll see that only in Chrome an horizontal scrollbar at the bottom appears

Environment
- PrimeFaces version: 6.1.4 (t

[2017-10-06 07:40] tandraschko commented on #2781
Will check mojarra now

[2017-10-06 07:57] tandraschko commented on #2781
works in mojarra now but there are 2 JS errors in the showcase. Will check it later why it occurs.

[2017-10-06 08:01] tandraschko commented on #2781
Hmm not sure but it seems that the order is not not correct.
If i change
        <h:outputScript name="main/js/index.js" target="head" />
to target=body, it works

however, one small js error occurs about a missing ";"

[2017-10-06 09:28] ssibitz commented on #2781
Please do not forget that also all Stylesheets(CSS) should be merged into 1 file
and add them to the head-tag.
At the moment some stylesheets are in the body-tag which i also move to the head manually by using my filter as workaround...

[2017-10-06 13:26] tandraschko commented on #2781
It won't merge any files, you still have to use OmniFaces or other things. Merging everything into 1 file is also not the best solution.

[2017-10-06 13:31] tandraschko commented on #2781
@melloware should work in the showcase now ;)

[2017-10-06 13:36] tandraschko commented on #2781
Just to clarify:
This "extension" just moves all scripts to the bottom. Also it merges inline-scripts into one single tag. It won't merge included scripts (script src="...") into a single file.

[2017-10-06 14:00] melloware commented on #2781
@tandraschko 2 things...

1. This works awesome in Mojarra in the showcase.  I feel like the pages are loading way faster than before.  Really snappy response time.

2. I agree with your on merging into 1 script.  We have had issues on some of our projects where the merged file has the JS in the wrong order or causes issues.

+100 for this solution!

[2017-10-06 14:09] tandraschko commented on #2781
great :)

I think we already do it correct in PrimeFaces:
in general, we have grouped our JS in 3 big files (some special components require additional js but i skip it now...):

jquery.js
core.js
components.js

jquery.js can be used separately, also if you have pages without primefaces components. So it makes sense to leave it as it it.

core.js is really our very very core. In a modern applicati

[2017-10-06 14:11] tandraschko commented on #2781
and FYI: works in both myfaces and mojarra

[2017-10-06 18:22] melloware commented on #2781
i agree i wouldn't change anything else.  This is a huge optimization!

[2017-10-07 11:48] tandraschko commented on #2781
Great!
DOMContentLoaded without is around ~800ms for showcase/ui/misc/responsive.xhtml, with the optimization it's ~660ms.
Thats really cool.

We be great if you could test it in a real work application (works fine in mine), to see if everytrhing is working.

[2017-10-07 16:46] melloware commented on #2781
I am going to to 2 things...

1. Test in the PFE showcase next.

2. See if I can get permission to test one of our production apps which is Jboss 6.4 EAP with real world scenario.

[2017-10-07 22:50] salviof opened #2787 "Primefaces Diagram Javascript Error"
## 1) Environment
- PrimeFaces version: 6.1.0
- Mojarra 2.3.0
-Java 1.8
- Affected browsers: All Brownsers

## 3) Actual behavior
Using same Datamodel example in (https://www.primefaces.org/showcase/ui/data/diagram/flowchart.xhtml)

I Receve this javascript error, and conections are not showing
----->
**TypeError: Cannot read property 'parentNode' of null
    at r.endpointAdded (diagram.js.xhtml?l

[2017-10-08 12:24] tandraschko commented on #2786
A PR is very welcome.

[2017-10-09 05:35] schlebe commented on #1130
This issue seems to be corrected in issue [#2769](https://github.com/primefaces/primefaces/issues/2769)

[2017-10-09 07:02] RajendraDave opened #2788 "DataTable: alignment issues when table-layout is auto"
## 1) Environment
- PrimeFaces version:6.1
- Application server + version: JBOSS 7.1.1
- Affected browsers: Firefox,IE,Chrome

## 2) Expected behavior
Header columns and body columns should be aligned.
Column should not be of fixed width.The width must be adjusted according to its column contents:
![expected-behaviour](https://user-images.githubusercontent.com/32572729/31327137-b5082b46-acea-11e7-

[2017-10-09 07:07] mertsincan opened #2789 "Client side validation - not setting focus to some input components"
Reported By PRO User;

[2017-10-09 07:09] #2789 closed, assigned to mertsincan

[2017-10-09 10:39] marcodelpercio commented on #2786
Looks like this is a non-regression issue in Google Chrome. There's a jsbin that proves it on a plain table
[https://bugs.chromium.org/p/chromium/issues/detail?id=771143](url)

[2017-10-09 11:05] tandraschko commented on #2786
So can we close this here?

[2017-10-09 11:41] ssibitz commented on #2781
In which version do you plan this enhancement to be included ?
Are there any plan ?

[2017-10-09 11:45] tandraschko commented on #2781
6.2 - but currently i'm unsure if there is a any benefit.
I created a blog post today (not released yet) but i can't measure any difference in my real-world application. The DOMContentLoad performance is sometimes 1-3% faster. Most of the time it's exactly the same.

[2017-10-09 12:44] mertsincan opened #2790 "New component: sidebar"
Sidebar is a panel component displayed as an overlay.

[2017-10-09 12:47] #2790 closed, assigned to mertsincan

[2017-10-09 13:17] rcroonenberghs opened #2791 "FileUpload: check allowTypes on server side"
## 1) Environment
- PrimeFaces version: 6
- Application server + version: wildfly-10.1.0.Final
- Affected browsers: All

## 2) Expected behavior

When uploading a file which is not in the allowedtypes, a error is shown on screen and upload is blocked. But if you tamper with the post, you can change a valid file to a file extension that would not be allowed. (tested via Burpsuite) Expected behaviou

[2017-10-09 19:55] renatossalves commented on #2222
I'm using primefaces 6.1, and SelectCheckboxMenu doesnt work with grouping yet!

[2017-10-09 19:58] melloware commented on #2222
Its fixed in Elite 6.1.6.

[2017-10-10 06:06] mertsincan opened #2793 "Add ariaLabel attribute to commandButton"

[2017-10-10 06:08] #2793 closed, assigned to mertsincan

[2017-10-10 07:05] PlassJ opened #2794 "DataTable: expandableRowGroups feature support activIndex for groups"
First of all great work.
I love this feature but there are some things missing:
like a activIndex for the expandable groups.
Example: A lot of data grouped by day but on load i only want to open the group for today.

Some client side callbacks would be nice too, things like "onRowGroupExpand" or "onRowGroupClose".

Greetings

also see: #2269 #1950

Environment
- PrimeFaces version: 6.1.5
- Does it

[2017-10-10 07:18] #2788 closed, assigned to nobody

[2017-10-10 08:40] thomas-mc-work opened #2795 "Schedule: description not shown as title"
## Environment
- PrimeFaces version: 6.1
- Application server + version: payara 4.1.1.171
- Affected browsers: all (as it's not present in the html code)

## 2) Expected behavior

Like described in the documentation:

## 3) Actual behavior

I create a `DefaultScheduleEvent` and set it's description to "something". I can see the event in the `Schedule` as expected

- the Java attribute `title` is c

[2017-10-10 10:51] frevado opened #2796 "DataTable with lazy="true" and multiViewState="true" casues EL parse error during page reload"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No. Tried 6.1, 6.1.4, 6.1.5, 6.1.6.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No.
- Application server + version: GlassFish 4.1.2
- Affected browsers: Probably all, seems unrelated to browser (tr

[2017-10-10 11:03] kukel commented on #2791
checking  allowed *types* based on filename extensions (not on content) is confusing. It should in the documentation (and showcase) be explicitly stated that content is not checked! (allowed 'extensions' would have been a better 'name')

[2017-10-10 11:08] kukel commented on #2705
@Rapster: For FF there is another attribute if I remember correctly (hence the 'webkit' prefix). So 'generalizing' that would be better (hiding it away in a generic attribute)

[2017-10-10 12:18] tandraschko commented on #1978
Applied for Overlay panel now. Thanks for the PR.
If the same is still required for FileUpload, please create a new issue.

[2017-10-10 12:18] #1978 closed, assigned to tandraschko

[2017-10-10 12:20] RajendraDave opened #2797 "StickyHeader : Duplicate header and alignment issues when table-layout is auto"
## 1) Environment

-  PrimeFaces version:6.1
-  Application server + version: JBOSS 7.1.1
-  Affected browsers: Firefox,IE,Chrome

## 2) Expected behavior
Header columns and body columns should be aligned.
Column should not be of fixed width.The width must be adjusted according to its column contents:
![expected-behavior](https://user-images.githubusercontent.com/32572729/31385852-589fb54c-ade2-11

[2017-10-10 12:21] tandraschko commented on #2431
Yep, i think thats up to the theme and not directly related to core.
You can easily add the style in your application - or creating a custom theme.

[2017-10-10 12:21] #2431 closed, assigned to nobody

[2017-10-10 12:22] tandraschko commented on #2797
Same as for #2788

[2017-10-10 12:22] #2797 closed, assigned to nobody

[2017-10-10 12:34] Rapster commented on #2796
Duplicate #2631

[2017-10-10 13:06] mertsincan opened #2798 "Add delegate attribute to Tooltip"
Test code;
[code]

[2017-10-10 13:08] #2798 closed, assigned to mertsincan

[2017-10-10 13:22] melloware commented on #2798
I think its spelled wrong shouldn't "delegete" be "delegate"?

[2017-10-10 13:25] tandraschko commented on #2798
Yep! @mertsincan ?

[2017-10-10 13:57] mertsincan commented on #2798
Thanks @melloware :)

[2017-10-10 16:20] jxmai commented on #2787
I don't see any error in the showcase using both Chrome and FF.

The connections are working properly

![image](https://user-images.githubusercontent.com/10467831/31397880-c6df7500-adac-11e7-8bd3-98eecccef02b.png)

[2017-10-10 19:44] tandraschko commented on #2787
works also fine in trunk.

[2017-10-10 19:44] #2787 closed, assigned to nobody

[2017-10-10 19:46] tandraschko commented on #2781
Hmm, it could also be that DOMContentLoad is fired after the script executing somehow.
Not sure how i can measure it feels really much faster in the showcase.
Do you guys have a idea how to measure the benefit? Would like to create a blog post, also the promote this feature.

[2017-10-10 19:57] melloware commented on #2781
@tandraschko I agree it definitely "feels" faster in both PF and PFE showcases.  I was trying to do the same thing you were with Chrome Tools but I can't trust how accurate those timings actually are.

I think its worth leaving this code and since its turned on with faces-config you could always caveat it with "use at your own risk"?

[2017-10-10 19:59] tandraschko commented on #2781
yep
probably i will also add a context-param to avoid the faces-config
probably i also try to something for ajax-requests
i think it would also improve the rendering when all DOM elements are replaced first and after that, script tags are executed

[2017-10-10 20:11] melloware commented on #171
PR submitted if you want to review it.

[2017-10-11 06:02] mertsincan opened #2801 "Add escapeJQueryId method again to ComponentUtils"
Reported By PRO User;

[2017-10-11 06:03] #2801 closed, assigned to mertsincan

[2017-10-11 06:51] ssibitz commented on #2781
What's about Google PageSpeed - Does it give bether "points" when using this new "feature" ?

[2017-10-11 07:02] tandraschko commented on #2801
JFYI @mertsincan: We also released a small bugfix version (6.1.5) but can't find in the maven repo? @melloware ?

[2017-10-11 07:09] tandraschko commented on #2781
No idea, google page speed can't be used for intranet applications. But you just try this feature and give us feedback ;)

[2017-10-11 07:54] ssibitz commented on #2781
OK, I will try it and give a feedback on my real application...

[2017-10-11 09:23] mauromol commented on #2337
Hi,
I know well your policy about community/elite versions, but...
Community versions 6.0 and 6.1 suffer from severe bugs like #1891 and this one respectively.
So, non-elite users must stick with 5.3 (6.2 is not yet available) because of these problems, which hurt a so popular component like DataTable.
Wouldn't it be worth to release a 6.0.x or 6.1.x version for the community, as a special excepti

[2017-10-11 11:09] ssibitz commented on #2781
So, i now tested it with my Application on the server and making Screen-Shot's of the Performance Before/After that of Google's PageSpeed.

so e.g.:
[code]
When you do that you will lose the test.js because only the script's in the header tag will be rendered -
I am right with this ?

What i see is that the Omnifaces DeferedScript-Handler does not work anymore -
I will analyze and Report what's th

[2017-10-11 11:15] tandraschko commented on #2781
Those images are not generated at runtime. Have a look at here: https://github.com/primefaces/themes

In overall, it looks great! I don't know what OmniFaces is doing exactly but also not sure if we can support every special case.

[2017-10-11 11:28] sorny commented on #171
Code looks good to me, but no unit tests?

[2017-10-11 11:42] ssibitz commented on #2781
OK, i also can now see the problem with omnifaces in the Debugger:
It seems that's a very small bug, but in Omnifaces or in Primefaces ?!

In the Class ScriptCollectingResponseWriter when the String comes in the write(String str) function the high comma is losed in the string:

[code]

1. Call) write with String str = OmniFaces.DeferredScript.add(**'**
   inline = OmniFaces.DeferredScript.add('
2.

[2017-10-11 11:52] melloware commented on #2801
Yes I did not do a public release to the repo because 6.1.5 is tied to this exact fix in Elite 6.1.5+.

Because if someone downloads 6.1.5 thinking its got fixes for 6.1 Community and tries to use it against the PF Community release 6.1 it would break in the opposite direction.

So my thought was Maven Central releases should only be to match up to Community Releases to prevent having this issue.

[2017-10-11 11:57] melloware commented on #171
As a general rule there is very little unit test code coverage of the entire PrimeFaces library.     Its on the long term goal list of the PF Team to add unit testing framework to make unit testing these components easier but its not there right now so unit testing component rendering is a pain.

I forgot to mention that I always test this stuff in the Showcase before committing so I tested all th

[2017-10-11 12:06] tandraschko commented on #2781
Not sure, here is the OmniFaces code: https://github.com/omnifaces/omnifaces/blob/develop/src/main/java/org/omnifaces/renderer/DeferredScriptRenderer.java#L66

[2017-10-11 12:08] tandraschko commented on #2781
I think we need to overwrite the #write(char) method

[2017-10-11 12:12] tandraschko commented on #2781
Commited it. Could you please give it a try?

[2017-10-11 12:13] ssibitz commented on #2781
So, now i know exactly what's the problem with the missing high-comma by
debugging it into the omnifaces-sources and primefaces-sources:

The Class ScriptCollectingResponseWriter does not overwrite the write function
for a single character, so you lose any single character which should be rendered:

So the solution is simple by adding the following function to the class
and also omnifaces will wor

[2017-10-11 12:15] tandraschko commented on #2781
Cool, thanks! Commited!

[2017-10-11 12:16] sorny commented on #171
Oh, I didnt expect such a mature library to have so little code coverage. I just retested your code changes in my codebase, looks good. +1

[2017-10-11 12:21] melloware commented on #171
Thanks for testing!   Yep Code Coverage is on the team's tech debt list.

[2017-10-11 12:30] ssibitz commented on #2781
Now it work's right - Perfect !

The only thing which user's should know is that they append their own external JavaScript's in the head and setting the target to body - then all Script's are working right in combination with Primefaces !

[2017-10-11 12:53] tandraschko commented on #2781
Removed the FacesContext and added a context-param to enable it (primefaces.COLLECT_SCRIPTS).

Hmm, whats wrong with the order?
If you have a custom script (e.g. h:outputScript target=head), will it be rendered after the primefaces scripts currently? So the order, without my changes, is correct?

If the CollectScripts is activated, the order somehow is not correct anymore?

[2017-10-11 13:03] melloware commented on #2781
I am assuming lowercase "p" like in other PF context params?

[code]

[2017-10-11 13:05] ssibitz commented on #2781
Sorry, my mistake - Everything is working fine now :-)

The problem with the custom script target was also the missing character renderer which makes
the problem (With the Omnifaces defferedScript and also h:outputScript).

Now also this is working right in my application and all scripts are in the order as exepted...

[2017-10-11 13:40] ssibitz commented on #2780
Are you also using the Resource-Optimizer
https://github.com/primefaces-extensions/primefaces-extensions.github.com/wiki/Maven-plugin-for-web-resource-optimization
for the Primefaces-Build ?

Because i can't see it in the pom.xml - File ?!
The output-files from the aggregations are combined,
but not compressed/minimized , so they are very big ...

_From the pom.xml:_
[code]

[2017-10-11 13:42] tandraschko commented on #2780
Nope, we still using the old plugin.

Compression only runs with -Prelease flag

[2017-10-11 13:44] tandraschko commented on #2781
Great! :)

@melloware yep, of course

[2017-10-11 13:57] tandraschko commented on #2781
Ajax seems to be more complex, will skip that case for now.

[2017-10-11 13:57] #2781 closed, assigned to tandraschko

[2017-10-11 14:36] ssibitz commented on #2780
Hmm - So how can i check it ?

Because this output - files are still uncompressed in the jar file(s) of primefaces...

[2017-10-11 15:07] tandraschko commented on #2780
What do you mean?
If you run build primefaces trunk with -Prelease, all files should be compressed. Not sure what you mean to "check it"?

[2017-10-11 15:12] #2796 closed, assigned to nobody

[2017-10-11 15:14] #95 closed, assigned to tandraschko

[2017-10-11 15:19] #942 closed, assigned to tandraschko

[2017-10-11 15:28] ssibitz commented on #2780
ok, now i understand - you are using a maven - build - parameter.
That wasn't clear for me what you are mean with "Flag" ...

I will try it ...

[2017-10-11 16:40] jxmai opened #2802 "TextEditor: Quill editor in accordion will be broken after performing update to its form"
## 1) Environment
- PrimeFaces version:
- Does it work on the newest released PrimeFaces version? Version? PF latest trunk
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 8.5
- Affected browsers: All

## 2) Expected behavior

Quill editor should work in accordion under

[2017-10-11 17:02] erickdeoliveiraleal opened #2803 "Update quill from 1.3.1 to 1.3.3"
https://github.com/quilljs/quill/compare/v1.3.1...v1.3.3

[2017-10-11 17:42] jxmai commented on #2548
Causing regression #2802

[2017-10-11 17:42] jxmai commented on #2802
After some debugging, this issue is causing by upgrading quill editor since 1.3.0 even though currently we are using 1.3.1.

[2017-10-11 17:43] jxmai commented on #2803
We really should evaluate the regression first since 1.3.0. See #2802

[2017-10-11 17:46] tandraschko commented on #1724
See https://github.com/primefaces/primefaces/issues/2168

[2017-10-11 17:46] #1724 closed, assigned to nobody

[2017-10-11 17:47] #2500 closed, assigned to cagataycivici

[2017-10-11 17:47] tandraschko commented on #2500
Duplicate

[2017-10-11 17:49] tandraschko commented on #2803
First, we should check if fixed in 1.3.3.
If not, try if we can workaround it in PF, otherwise create a issue there.
However, i don't have time sry.

[2017-10-11 17:51] jxmai commented on #2803
Agree. will take a look later

[2017-10-11 21:35] jxmai commented on #2803
Update quill to 1.3.3 does not fix the problem. More details will be post back to #2802. I suspect the issue is triggered by the change of `picker.js` in quill js. by https://github.com/quilljs/quill/pull/1576/commits/83bc6912304f6347e9264ae94cd1a9881a2478fb Not 100% sure yet.

Also that commit was a part of the 1.3.0 released, which strengthen my assumption

https://github.com/quilljs/quill/relea

[2017-10-11 22:01] jxmai commented on #2802
I can confirm that this regression is actually triggered by https://github.com/quilljs/quill/pull/1576, after putting back `option.hasAttribute('selected')`, the editor will run normally in Primefaces.

![image](https://user-images.githubusercontent.com/10467831/31469000-b8784ff6-aea5-11e7-8066-c9549b01a888.png)

The motivation of the changes can be found in https://github.com/zenoamaro/react-quil

[2017-10-11 22:05] jxmai commented on #2802
Either revert the update back to 1.2.6 or patch it somehow ( I don't know yet since the changes were brought by other projects and this issue is not easily reproducible using quill js only, so I lean toward rolling back at least before PF 6.2), and we cannot left the regression to PF 6.2 as RC is approaching.

[2017-10-11 22:34] jxmai commented on #2803
Analysis in https://github.com/primefaces/primefaces/issues/2802#issuecomment-335961894, but I lean toward downgrade quill back to 1.2.6 for PF 6.2.

[2017-10-12 02:30] shawnlow opened #2804 "PrimeFace 4.0 issue about inputmask"
Hi guys, I want to ask whether Primefaces version 4.0 input mask component has an issue of enter key handler? Example: when you press enter key, the input mask was still there not cleared up. Anyone here facing the same issue?
sorry for my poor English.

[2017-10-12 05:35] mertsincan opened #2805 "Add latobold font to Omega Theme"

[2017-10-12 05:37] #2805 closed, assigned to mertsincan

[2017-10-12 06:09] mertsincan commented on #2801
Thanks, @melloware. Our PRO User wanted me to add ComponentUtil.escapeJQueryId for now. If you send me a download link for PRO/Elite Users, I can suggest it for such problems.

[2017-10-12 07:12] tandraschko commented on #2804
Questsions -> forum

[2017-10-12 07:12] #2804 closed, assigned to nobody

[2017-10-12 08:35] #1745 closed, assigned to tandraschko

[2017-10-12 08:37] tandraschko commented on #2802
Not sure if we should rollback. The updates fixes quite a lot bugs.
The goal should be to get it running till 6.2.

[2017-10-12 09:55] squaregoldfish commented on #472
This bug still exists in 6.1

[2017-10-12 10:41] NicolaIsotta opened #2806 "p:message with display="tooltip" is not readable with Aristo in IE11"
## 1) Environment
- PrimeFaces version: showcase (6.2-SNAPSHOT)
- Affected browsers: IE11

## 2) Expected behavior
Tooltip error message should be readable

## 3) Actual behavior
On IE 11:
![tooltip ie11](https://user-images.githubusercontent.com/18428155/31492140-08cd6528-af4a-11e7-8005-382e351be557.jpg)
Also, there may be some css issues also with other browsers (ex. Edge):
![tooltip edge](https

[2017-10-12 11:22] ssibitz commented on #2781
**At one thing i have a problem with the 6.2 - build,
so should i create a new ticket for that ?**

When i have a SelectOneMenu it's no longer possible for me
to select an entry by using the keyboard (up-/down) .
(Only by clicking on the drop-down...)

I also tried to switching off the "Script Collector" but that does not change anything...

[2017-10-12 11:38] melloware commented on #2801
@mertsincan you can refer them to this thread and download.

https://forum.primefaces.org/viewtopic.php?f=14&t=52458

[2017-10-12 11:39] melloware commented on #2781
@ssibitz that is definitely a new bug as it doesn't relate to this script collector.

[2017-10-12 11:40] tandraschko commented on #2781
New problem -> new ticket ;)
It would be great if you could also analyze it as i assume it's still working with 6.1.6?

[2017-10-12 11:41] tandraschko commented on #2781
(And you need to provide a good and small example, the navigation with keyboard is working fine for me with arrow keys)

[2017-10-12 12:09] ssibitz commented on #2781
Yes, it's working right in Primefaces 6.1.6.

I switched to 6.2-SNAPSHOT only for Testing the "Script Collector" which works fine
and today i noticed that the SelectOneMenu has a problem in 6.2-SNAPSHOT "only" ...

[2017-10-12 12:23] ssibitz opened #2807 "SelectOneMenu will not work with keyboard selection in 6.2-SNAPSHOT"
It does not work in the latest 6.2-SNAPSHOT,
but already working in 6.1.6 - version.

**Preface:**
In my application the user need to select his location by choosing it from the
SelectOneMenu after he entered his username/password.
In version 6.1.6 he can choose the location by pressing the up-/down- arrow key's
(Keyboard) or use the mouse by clicking the dropdown-icon (Mouse or Touchscreen).

In

[2017-10-12 12:24] ssibitz commented on #2781
So I created a new ticket for that:  #2807

[2017-10-12 12:26] tandraschko commented on #2807
As all users, you need to provide a example which can be used by us. We don't have a loginControl.
At best, try to run the the showcase from github with the last PF 6.2-SNAPSHOT. It works fine for me and there are already good sample xhtml + beans available in the showcase, to base your example on it.

[2017-10-12 12:40] ssibitz commented on #2807
It does not depend on my code,
so as i tried by now the same issue on this "Simple" selectOneMenu from the showcase - but without using the value here:

I am not able to set the focus to the ComboBox / selectOneMenu
or navigate via Tabulator and Cursor-Key's:

[code]

The problem is that you can't set the focus to the element by using the keyboard
anymore so also the up/down-key's will not work...

[2017-10-12 12:54] chaodhib opened #2808 "Wrong page size in lazy datatable after an export is made"
There is currently a bug with the excel export of a lazy datatable: after the export, the datable content is cleared and reloaded, but with an incorrect page size. The page size was changed in order to fetch the entire content of the table before exporting it (into Excel/CSV/...). However, it's not set back to its original value.

## 1) Environment
- PrimeFaces version: Tested on 6.0.

## 2) Expec

[2017-10-12 12:59] ssibitz commented on #2807
In 6.1.6 the selectOneMenu will be rendered as:

[code]

but in 6.2 it renderes this from the same source as commented before:
[code]

The main difference at rendering which i can currently see is this :

`<input id="console_focus" hidden="hidden" ...  />
`

[2017-10-12 13:07] ssibitz commented on #2807
When i remove the
`hidden="hidden"`
Tag by Using Google-Chrome-Tools direct in the Browser the selectOneMenu is now
available again via TAB and Cursor Up/Down Key's ...

[2017-10-12 13:23] tandraschko commented on #2807
@mertsincan Could you please check that? Focusing the selectOneMenu in the showcase is broken :/

[2017-10-12 13:42] melloware commented on #2807
This is a side effect of this request:  https://github.com/primefaces/primefaces/issues/2720

[2017-10-12 13:49] tandraschko commented on #2720
Reverted as it breaks #2807

[2017-10-12 13:49] tandraschko commented on #2807
Ok, reverted the change ;)

[2017-10-12 13:49] #2807 closed, assigned to tandraschko

[2017-10-12 13:50] ssibitz commented on #2807
Ok, i take a look at the side-affected request...

But why setting the hidden-attribute -
Isn't it that the class-helper "ui-helper-hidden-accessible" is already used for that ?

[2017-10-12 13:53] ssibitz commented on #2807
OK - Reverted - alright ;-)

[2017-10-12 14:00] ssibitz commented on #2807
By the way - As the customer in the request #2720 says :

selectOneMenu

..will be rendered / handled correct in primefaces 6.1.6 in:
Google Chrome, Firefox & Internet Explorer / Edge

:-)

[2017-10-12 14:10] ssibitz commented on #2720
Now i see what the customer with #2720 means:

Not the "hidden" - tag
but the tag for **screenreader's** should be hidden by setting this attribute:

`aria-hidden="true"`

I think that's a mistake from the customer...

[2017-10-12 14:50] melloware commented on #2720
yep you are right I will fix

[2017-10-12 15:11] #2720 closed, assigned to tandraschko

[2017-10-12 15:21] #2695 closed, assigned to tandraschko

[2017-10-12 15:30] jxmai commented on #2802
I need to raise a ticket in quill, and I will link the issue back to here.

![image](https://user-images.githubusercontent.com/10467831/31504529-396d3850-af38-11e7-8300-b4da4f489588.png)

Basically, `option.selected` is not exactly the same as `option.hasAttribute('selected')`

![image](https://user-images.githubusercontent.com/10467831/31504581-577d203a-af38-11e7-9a31-5a2d2ee9f7ac.png)

[2017-10-12 15:46] jxmai commented on #2802
Quill ticket: https://github.com/quilljs/quill/issues/1762

[2017-10-12 15:59] tandraschko commented on #2695
This also increased the compatibility - i sometimes had problems that AutoUpdate was not executed probably.

[2017-10-12 16:50] VsevolodGolovanov opened #2811 "Spurious valueChange events in a Calendar with a datetime pattern"
## 1) Environment
- PrimeFaces version: 6.1, 6.2-SNAPSHOT (c20c99950d01595e36c939259a7d1022644ceb14)
- The issue is present in both tested versions.
- The issue **is not** present in 5.2.12.
- Application server + version: Wildfly 10.1
- Affected browsers: Firefox 56, Chrome 61.

## 2) Expected behavior

The valueChange event should be triggered when the value actually changed and only once.

## 3

[2017-10-12 17:46] tandraschko commented on #2811
PR is welcome!

[2017-10-12 17:47] #2808 closed, assigned to tandraschko

[2017-10-12 18:23] ssibitz commented on #2720
This aria-hidden BugFix will fix both issues: #2720 and #2807 :-)

[2017-10-12 18:24] jxmai commented on #2688
@tandraschko The reporter seems OK with the workaround and the sample is not runnable, so there is no point to leave this issue open.

[2017-10-12 19:27] jxmai commented on #2802
The goal should be to get it running till 6.2.

@tandraschko I have done what I can do. If there is no answer from them or for whatever reason the patch cannot arrive before Primefaces 6.2, we need to rollback since `p:texteditor` currently is pretty much unusable.

---

The other solution is to override their library to revert https://github.com/quilljs/quill/pull/1576 ourselves since it is only

[2017-10-13 03:25] jxmai commented on #2811
The regression is from https://github.com/primefaces/primefaces/commit/c315e32b7b11d24d1fb2506d81c02152d4d66516 causing by upgrading timepicker during 6.0 RC3

Ticket: https://github.com/primefaces/primefaces/issues/1371

[2017-10-13 03:26] jxmai commented on #1371
Causing regression: #2811

[2017-10-13 03:34] jxmai commented on #2811
And this line is extremely suspicious. https://github.com/primefaces/primefaces/commit/c315e32b7b11d24d1fb2506d81c02152d4d66516#diff-fb7f75dc88d243f1129be700515ce555L11645

![image](https://user-images.githubusercontent.com/10467831/31529173-43e1140e-af9d-11e7-9cf1-4e81fb38634c.png)

It looks like there was a custom fix before but forgot to put back in during upgrade.

Please examine if any more c

[2017-10-13 03:36] jxmai commented on #2811
I was right. Please look at: https://code.google.com/archive/p/primefaces/issues/5702

![image](https://user-images.githubusercontent.com/10467831/31529278-d64067dc-af9d-11e7-982e-ee57fd722bea.png)

[2017-10-13 05:28] ssibitz opened #2812 "PrimeFaces Mobile will be deprecated so why don't using Bootstrap 4 for Responsive Framework as "Feature" ?"
I have seen in the Primefaces 6.2 Roadmap that
the PrimeFaces Mobile Renderkit will be deprecated.

So why don't include Bootstrap 4
instead of re-inventing the wheel by creating/using own stylesheet's and script's ?
I know that Bootstrap 4 is currently in Beta-State,
but it's stable enough to be used in a project as i have seen in
my customer's Application.

I am currently using Bootstrap 4 in my

[2017-10-13 05:33] ssibitz commented on #2812
By the way - is there an option
in Primefaces to add my "Own" components to it ?

I have some ideas :-)

[2017-10-13 06:07] gollrich commented on #472
thanks good to know, still using 6.0.3, but removed all the inline calendar now.... lost the hope that the problem would be fixed any time soon.

[2017-10-13 07:13] tandraschko commented on #2812
Questions -> Forum ;)
We don't need to bootstrap.
We have a grid since many years and the user can use what they wan't. We have have a simple class "ui-fluid" so make it fluid in EVERY grid.
For whole page layouts, we have our PrimeFaces Templates.
But PF as component library, with own components instead of bootstrap widgets, we are not bound to any layouting framework.

New components should go t

[2017-10-13 07:13] #2812 closed, assigned to nobody

[2017-10-13 07:14] tandraschko commented on #2812
If you would like to use bootstrap, you should try bootsfaces or butterfaces.

[2017-10-13 07:15] tandraschko commented on #472
@gollrich You can still analyse the problem and maybe provide a PR ;)

[2017-10-13 07:16] #2688 closed, assigned to nobody

[2017-10-13 07:18] mobegoulm commented on #2606
Works now with mojarra 2.2.15!

[2017-10-13 07:18] #2606 closed, assigned to nobody

[2017-10-13 07:53] ssibitz commented on #2812
No - Bootsfaces/Butterfaces is not an option for me cause Bootstrap "Alone"
has too less components inside for real usage inside a customer project.

On the other side Bootsfaces/Butterfaces only used Bootstrap 3 ...

A combination of Bootstrap 4 and Primefaces would be great
but i see i have to do it by my own ...

[2017-10-13 11:18] kukel commented on #2798
what does it do? No showcase or docs available...

[2017-10-13 11:30] melloware commented on #2811
Nice detective work!

[2017-10-13 11:32] melloware commented on #2812
@ssibitz for custom components as was mentioned you can suggest or write new components for PrimeFaces Extensions Project:

https://www.primefaces.org/showcase-ext/views/home.jsf

[2017-10-13 12:24] mertsincan commented on #2798
Hi @kukel,

Please try the following code;
[code]
When you just update button component with p:poll, tooltip's behaviour is losed due to its showEvent being dependent on button. First solution, you can update tooltip and button components with poll. Second solution, you can use delegate attribute on tooltip. With delegate attribute, tooltip's showEvent is connected to $(document). When you update

[2017-10-13 14:08] croo opened #2813 "BaseMenuRenderer.encodeEnd(..) always throws IllegalArgumentException"
## 1) Environment
- PrimeFaces version: 6.2 (2 months old build from source)
- Does it work on the newest released PrimeFaces version? no
- Does it work on the newest sources in GitHub? I didn't test it but checked the primefaces sources on github and the problem seems to be still there
- Application server + version: JBOSS 7 eap
- Affected browsers: all

## 2) Expected behavior
Should not throw I

[2017-10-13 16:13] tecbea opened #2814 "cant build on localmachine"
## 1) Environment
- PrimeFaces version: 6.1

## 2) Expected behavior
Cant build the primefaces on localmachine

## 4) Steps to reproduce
[code]

## 5) possible corrections

a) add the plugin repo on pom.xml
[code]

b) maven-jsf-plugin:jar:1.3.3-SNAPSHOT does not exist in http://repository.primefaces.org/

c) using the version 1.3.2 that exist on http://repository.primefaces.org/ it gives an compil

[2017-10-13 16:18] jxmai commented on #2814
This is not an issue. You need to build maven-jsf-plugin before building primefaces.

https://github.com/primefaces/primefaces/wiki/Building-From-Source

If you already have maven-jsf-plugin in your local maven repository you can skip this step.

[2017-10-13 19:23] #2814 closed, assigned to nobody

[2017-10-13 20:39] jxmai commented on #2786
I have seen this issue before but there is nothing primefaces can do since it is a chrome bug. so this issue can be closed.

---

And here is the jsbin link: http://jsbin.com/vuniyof/edit?html,output that was mentioned above for verification purposes

[2017-10-13 21:08] #2786 closed, assigned to nobody

[2017-10-13 22:09] jxmai opened #2815 "expand or collapse treetable from bean does not work after using the filter function"
## 1) Environment
- PrimeFaces version: Primefaces latest trunk
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat V8.5, V 8.0
- Affected browsers: All

## 2) Expected behavior

Expand or collapse from b

[2017-10-14 04:26] jxmai commented on #2815
I see what's going on, and I can workaround this issue with some EL like

[code]

I was thinking to raise a patch so that we can use root as tree root when filter value is an empty string. On a second thought, it cannot fix the issue since what if I need to expand all while the filter is on ?

The workaround works perfectly which should be the correct implemention in the first place.

[2017-10-14 04:26] #2815 closed, assigned to nobody

[2017-10-14 21:56] jxmai commented on #828
@VsevolodGolovanov  Good observation ! :+1:

[2017-10-15 09:26] #828 closed, assigned to tandraschko

[2017-10-15 09:26] tandraschko commented on #828
Thanks for the PR!

[2017-10-15 09:29] #2690 closed, assigned to tandraschko

[2017-10-15 09:29] tandraschko commented on #2690
Thanks for the PR!

[2017-10-15 09:45] #2452 closed, assigned to tandraschko

[2017-10-15 09:45] tandraschko commented on #2452
Thanks for the PR!

[2017-10-15 09:59] tandraschko commented on #2806
Does it work with other themes?

[2017-10-16 03:22] jxmai commented on #2567
@MKhlon I can replicate this issue now by following your step to replicate.  I see what went wrong in the primefaces codebase, but fixing this issue can be a bit challenging since we need to make sure not to break the existing codebase since the js file is used in multiple places.

For your info, here is what went wrong.

In `paginator.js`

https://github.com/primefaces/primefaces/blob/2692e9ae6f5

[2017-10-16 08:16] koflerdavidgrawe opened #2821 "Component value removed if invalid"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Not tested, but assumed to not have changed
- Application server + version: Tomcat 8.0
- Affected browsers: Chrome (assumed all)

Prerequisite:
Instea

[2017-10-16 08:21] mertsincan opened #2822 "Wrong Date Format with "M/d/yy" pattern"
Reported By PRO User;

What can I do?
(I know I can write MM/DD/YY but I need this format because I'm taking it from java method)
The code used is as follows:
<p:calendar id="startDate" required="true" mask="true"
pattern="M/d/yy"></p:calendar>

[2017-10-16 08:24] #2822 closed, assigned to mertsincan

[2017-10-16 08:25] tandraschko commented on #2821
Likely we won't change this behavior soon. It works fine since "years".

If you would like to change something here, we first have to create a bundle of unittests, to validate the current behavior.
If you can provide this unittests, we can go a step further, provide a unittest for your special case, fix it and discuss if the broken unittests are correct to be broken afterwards.

[2017-10-16 09:52] NicolaIsotta commented on #2806
With Omega it works. I haven't tested community themes.
I dicovered the cause with a little bit of F12.
The `p:tooltip` content has both the `ui-state-error` and the `ui-tooltip-text` classes.

`ui-state-error` sets both `background-color` and `background-image` with the `background` shorthand.

https://github.com/primefaces/primefaces/blob/710af7e68da8d47f60185d2c59cdbc4c854f102c/src/main/resourc

[2017-10-16 10:24] koflerdavidgrawe commented on #2821
This issue has a rather high priority to us and I think that a lot of people would agree. While deleting Username and Password on a login form is quite common, deleting entered values on any other input form has a deteriorating effect on usability.

The inverse request, reseting the value of a Calendar can be achieved rather easily using the "resetinput" component. For the given issue there is no

[2017-10-16 10:53] YahiaZZ opened #2823 "<p:selectCheckboxMenu Selected Items not displayed"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-10-16 11:13] tandraschko commented on #2821
I'm really not sure but how behaves the JSF impls here? I think they all clear the value, also see: https://issues.apache.org/jira/browse/MYFACES-3525

[2017-10-16 11:40] melloware commented on #2822
@mertsincan There are a few similar issues to this exact issue with Date formatting. Is it possible your fix might have fixed one or more of them?

https://github.com/primefaces/primefaces/issues/1754

https://github.com/primefaces/primefaces/issues/1038

https://github.com/primefaces/primefaces/issues/911

[2017-10-16 11:41] koflerdavidgrawe commented on #2821
As the comment history suggests, the spec is not exactly clear on the matter. The closing of java.net sadly makes the spec issue impossible to track.

PF having provided a way to reset input values on validation errors seems to have gone the way of doing it only on demand, which is the obviously more sensible option in this case.

The patch provided - as well as the workaround in the related issue

[2017-10-16 11:42] melloware commented on #2823
works fine in the 6.1 Showcase so I don't think you will see your issue for 6.0 get fixed.  Have you tried 6.1 Community Edition?

https://www.primefaces.org/showcase/ui/input/checkboxMenu.xhtml

[2017-10-16 11:43] koflerdavidgrawe commented on #2821
Related: https://stackoverflow.com/questions/3933786/jsf-2-bean-validation-validation-failed-empty-values-are-replaced-with-las

[2017-10-16 11:53] melloware commented on #2806
@NicolaIsotta please review my PR.

[2017-10-16 12:01] melloware commented on #2811
Should we put this patched line back the way it was?

[2017-10-16 12:37] NicolaIsotta commented on #2806
Thanks @melloware , I approved the PR.

[2017-10-16 12:38] #2806 closed, assigned to tandraschko

[2017-10-16 12:40] tandraschko commented on #2821
Feel free to provide a PR - BUT - it will only work for primefaces components and not e.g. for h:inputText.
I think the parameter should be called "primefaces.DISPLAY_NULL_ON_VALIDATION_ERROR" as it doesn't reset anything, it just displays null.

[2017-10-16 12:43] melloware commented on #2813
@croo do you have a proposed fix?

[2017-10-16 12:44] melloware commented on #2654
@tandraschko I recommend closing this issue as Invalid.

[2017-10-16 12:47] #2654 closed, assigned to nobody

[2017-10-16 12:57] croo commented on #2813
Nope. I tried to work along the lines of this thread and override the Renderer:
https://code.google.com/archive/p/primefaces/issues/6187
but did not succeed.

What I confirmed is when I use DefaultMenuItem instead of UIMenuItem the problem goes away. Can you confirm that this approach should work? (as far as I can tell from the primefaces source it *should* work..)

Similar the "programmatically"

[2017-10-16 13:20] YahiaZZ commented on #2823
Hi,
Even I try the 6.1 version, it's not working until adding updateLabel="true" to it but still not have the "x" icon to deselect an item
Thanks

[2017-10-16 13:32] tecbea commented on #2814
Hi,
using the maven-jsf-plugin from github head did work
thanks for answer, and sorry i did not see that build from source

cheers

[2017-10-16 15:32] jxmai commented on #2811
Not sure, I think it's better to let PF team to evaluate. However, I do think `1.6.3` is the last time-picker upgrade since that project has been no activity for a year  (https://github.com/trentrichardson/jQuery-Timepicker-Addon), so it might be safe to change their library this time.

![image](https://user-images.githubusercontent.com/10467831/31620586-3c3b2d80-b25d-11e7-9f65-88df30ba7c86.png)

[2017-10-16 19:24] tandraschko commented on #2813
I never used models but i think it's not valid to use UIMenuItem, as UIMenuItem is a real UI component, not a model pojo.
See here some usages of UIMenuItem:
        UIMenuItem menuItem =
                (UIMenuItem) fc.getApplication().createComponent(UIMenuItem.COMPONENT_TYPE);

[2017-10-16 19:26] tandraschko commented on #2813
This will likely be closed as invalid.

[2017-10-16 19:27] tandraschko commented on #2823
Could you verify again @melloware ?

[2017-10-16 19:32] tandraschko commented on #2749
Just to make it sure: If you don't provie a PR, it will likely not happen in the near future.

[2017-10-16 19:33] melloware commented on #2823
The "X" is only there if you use the attribute multiple="true".  If you are not doing multiple the "X" is not there because there is nothing to remove you are in single select mode.

[2017-10-16 19:36] tandraschko commented on #2823
but the example above has an multiple attr?

[2017-10-16 19:41] tandraschko commented on #2433
I think the only correct thing would be to move it into the themes itself, as only the theme knows the sizes.
As this would be a bigger effort, not sure if it's worth. We also have to check the premium themes then.

Also i think it's no problem to overwrite it in a custom theme, which is only perfect way for a perfect theme.

[2017-10-16 19:43] tandraschko commented on #2424
As i don't think this has an high prio for us, it would be great if you could more analyze the problem, maybe provide a PR or go PrimeFaces PRO to sponsor the fix.

[2017-10-16 19:44] melloware commented on #2823
its  working fine for me in the 6.1.5 Showcase and 6.2.0-SNAPSHOT.  So its possible this was fixed past the 6.1 Community Edition?  I just know i can't get it to happen.

[2017-10-16 19:47] tandraschko commented on #2823
Ok, thanks.
So lets close it for now as can't replicate - also a complete example is missing.

[2017-10-16 19:47] #2823 closed, assigned to nobody

[2017-10-16 19:51] tandraschko commented on #1926
A PR is very welcome here.

[2017-10-16 19:52] tandraschko commented on #1885
Will close it for now :)

[2017-10-16 19:52] #1885 closed, assigned to nobody

[2017-10-16 19:54] tandraschko commented on #1821
I think you can easily do it via 2 ways:

1) execute the button via JS from the hotkey
2) create a remoteCommand and call it from both commandButton and hotKey

Also your way would be a little bit nicer, i think we can close it for.

[2017-10-16 19:54] #1821 closed, assigned to nobody

[2017-10-16 19:58] tandraschko commented on #1689
@mertsincan Any news? I think it would be a great ARIA enhancement

[2017-10-16 20:00] #1574 closed, assigned to nobody

[2017-10-16 20:01] tandraschko commented on #1574
Example still missing after 1,5 years. As it's a mandatory info now, i will close it.

[2017-10-16 20:01] tandraschko commented on #1562
As the effort is quite high and it has not the a high prio for us, it would be great if you could sponsor it via PrimeFaces PRO.

[2017-10-16 20:04] tandraschko commented on #1494
Will close it for now as there is no information how the reproduce it.
If the issue is still there in 6.1 or 6.2-SNAPSHOT, please create new issue with all informations requested by our issue template.

[2017-10-16 20:04] #1494 closed, assigned to nobody

[2017-10-16 20:05] tandraschko commented on #1448
Could you try it again in the current showcase?

[2017-10-16 20:05] tandraschko commented on #1435
a PR is really welcome here

[2017-10-16 20:05] tandraschko commented on #1436
a PR is really welcome here

[2017-10-16 20:07] tandraschko commented on #1430
I like the idea of @movalz - just have not much time to think about an implementation.

[2017-10-16 20:08] tandraschko commented on #1418
I will close it for now.
https://github.com/primefaces/primefaces/issues/2781 speeds up the page load
Sure, TurboLink would be a next step but way to complex for now.

and, turbolinks will actually only "optimize" the rendering time of your application. the rendering time of my applications are for 90% below 100ms.

[2017-10-16 20:08] #1418 closed, assigned to nobody

[2017-10-16 20:09] melloware commented on #1689
I looked into this issue and it would be a great enhancement I was wondering if there was some way to intercept any ResponseWriter that sees the validation has failed an adds "aria-invalid" to it rather than try and add this to every component but i wasn't quite sure where this kind of code would go....

[2017-10-16 20:16] tandraschko commented on #1689
Its possible via a custom ResponseWriter but i think it's to magical. Maybe we can better use abstraction/inheritance in our input renderers in the future BUT as the markup is very different, not idea.

[2017-10-16 20:19] tandraschko commented on #1259
Will close it for now as there is no information how the reproduce it.
If the issue is still there in 6.1 or 6.2-SNAPSHOT, please create new issue with all informations requested by our issue template.

[2017-10-16 20:19] #1259 closed, assigned to nobody

[2017-10-16 20:19] tandraschko commented on #1385
Works fine in 6.2-SNAPSHOT
If the issue is still there in 6.1 or 6.2-SNAPSHOT, please create new issue with all informations requested by our issue template.

[2017-10-16 20:19] #1385 closed, assigned to nobody

[2017-10-16 20:25] #1208 closed, assigned to tandraschko

[2017-10-16 20:29] tandraschko commented on #1125
emptyLabel should be used for that case

[2017-10-16 20:29] #1125 closed, assigned to nobody

[2017-10-16 20:39] #767 closed, assigned to nobody

[2017-10-16 20:43] tandraschko commented on #1027
Works for me.
If the issue is still there in 6.1 or 6.2-SNAPSHOT, please create new issue with all informations requested by our issue template.

[2017-10-16 20:43] #1027 closed, assigned to nobody

[2017-10-17 04:12] jxmai commented on #2423
How to replicate the problem exactly ? What confuse me most is the following description:

Do you need a button within a split button ?

If we just place two buttons side by side with smaller font, it is working fine

![snapshot1](https://user-images.githubusercontent.com/10467831/31646428-6571ab88-b2c7-11e7-8910-5175c0aa62ef.png)

[2017-10-17 06:17] cnsgithub commented on #2433
Here is what you could also do. I have created this layout for custom SelectOne Menus which have special requirements which can't be done with PrimeFaces.

This solution uses only Unicode / Fontawesome for the Arrow.  In my opinion this is better than using an image at all, as it will scale without getting blurred, and the Color can be set by CSS without having to modify the image.

https://jsfidd

[2017-10-17 06:45] tandraschko commented on #2433
AFAIK our new premium themes are also based on fonts.

[2017-10-17 07:09] Mobe91 commented on #2423
@jxmai

A split button is composed of two "simple" buttons. Here I am referring to the button on the right side, i.e. the one that triggers the display of the drop down containing secondary actions.

[2017-10-17 07:14] cnsgithub commented on #2433
Well that may be, but i don't think this is something only paying users should have.

Just a suggestion: Instead of having like 20 outdated free themes, why not select one of the "premium" ones to be the default one instead? Aristo (which is also the one bundled with the standard jar) has several CSS problems like this.

---

Anyway, It shouldn't be too hard to change this, so if you want to impro

[2017-10-17 07:27] tandraschko commented on #2433
Omega is one of those premium themes, we merged to PrimeFaces core. But it's one of the oldest. Maybe we can do this with another, newer one in the next months.

[2017-10-17 08:25] #1290 closed, assigned to tandraschko

[2017-10-17 08:25] #1393 closed, assigned to tandraschko

[2017-10-17 08:31] #2600 closed, assigned to tandraschko

[2017-10-17 08:56] rdebusscher opened #2825 "Facets of datatable render a DIV, even when no components in the footer are rendered."
Following tags (where rendered attribute is, of course, EL based to make any sense :) )

[code]

Generates following HTML

[code]

Important here is that there is an empty div with some style classes.

[code]

Which results in some gray 'bar' due to the padding and background color.

**Expected**

When Datatable Renderer does not find any child of facet to be rendered, it should not render the div

[2017-10-17 08:58] koflerdavidgrawe commented on #2821
Thanks for the input. We currently lack the resources to do this, so we would appreciate if somebody would stand up to the task. Support could definitely be provided. We might find time ourselves for the task in the future.

[2017-10-17 09:14] #2825 closed, assigned to rdebusscher

[2017-10-17 09:20] rdebusscher commented on #2825
@tandraschko @cagataycivici

Should this also be used in other components that uses facets (TreeTable, ... actually a lot of components uses this javax.faces.component.UIComponent#getFacet)

Let me know

[2017-10-17 09:29] tandraschko commented on #2825
We should in any case move this method to ComponentUtils or our BaseRenderer, to be reusable in the future.
Also some minor improvements:
1) call the method shouldRenderFacet
2) add a small javadoc that it checks the facet with rendered=true and the first level of the child components
3) we should use a index-loop to avoid the iterator instance

[2017-10-17 09:30] tandraschko commented on #2825
otherwise the change looks fine ofc :) and +1

[2017-10-17 09:59] rdebusscher commented on #2825
Moved to ComponentUtils.shouldRenderFacet

[2017-10-17 11:24] melloware commented on #2825
+1!  I agree we should look for other places using facets and do something similar using this new ComponentUtil optimization.

[2017-10-17 11:26] tandraschko commented on #2825
+1

Just my opinion:
As you already use "return ..." in the first if statement, i think its better to read if you do this:

`
        for (int i = 0; i < facet.getChildren().size(); i++) {
            // Stop when a child who is rendered is found.
            if (facet.getChildren().get(i).isRendered()) {
               return true;
            }
        }

        return false;
    }`

[2017-10-17 11:37] rdebusscher commented on #2825
I don't like returning from within a loop, while, ...  It looks too much as procedural language.

A few years ago, I even only did a return at the end of the method and **never** somewhere in the middle. But due to pressure from my colleagues, I adapted already a bit :)

I'll adjust the return statement.

[2017-10-17 13:00] tandraschko commented on #2825
great!
Shouldn't it be
if (!ComponentUtils.shouldRenderFacet(facet)) {
instead of
if (ComponentUtils.shouldRenderFacet(facet)) {
?

[2017-10-17 13:13] kukel commented on #2728
If I may 'prioritize' I'd say

1. Column Visibility
3. Column Reordering
4. Row Expansion

That is at least what we experienced in feedback from our customers in several datatables

[2017-10-17 13:17] rdebusscher commented on #2825
Yes indeed.

I inversed meaning of the initial method and didn't check enough!

thx!

[2017-10-17 13:58] tandraschko commented on #1253
duplicate of #1403

[2017-10-17 13:58] #1253 closed, assigned to nobody

[2017-10-17 14:00] tandraschko commented on #210
Duplicate of #495

[2017-10-17 14:00] #210 closed, assigned to nobody

[2017-10-17 14:06] tandraschko commented on #1776
duplicate of #1403

[2017-10-17 14:06] #1776 closed, assigned to nobody

[2017-10-17 14:06] #1232 closed, assigned to mertsincan

[2017-10-17 14:21] jxmai commented on #2423
OK, I see.

Although the description makes sense, the overlapping does not happen even I decrease the font size as you can see in the screenshot above.

A small code snippet to replicate the issue will be nice to move this ticket forward.

[2017-10-17 14:53] tandraschko commented on #2729
Will close this as the method is deprecated in 6.2 and resolveWidgetVar should be used.

[2017-10-17 14:53] #2729 closed, assigned to cagataycivici

[2017-10-17 14:55] tandraschko commented on #2675
We will probably open a slack channel. Will close this for now.

[2017-10-17 14:55] #2675 closed, assigned to nobody

[2017-10-17 15:09] Rapster commented on #2675
I'm a big user of Slack and the integration with github is not that great, although Gitter is definitely meant for that

[2017-10-17 15:17] tandraschko commented on #2685
@rdebusscher Is is the same issue as yours today? Or another facet?

[2017-10-17 15:24] tandraschko commented on #2675
The PF is already using Slack for internal usage, so we probably won't create a second chat thing.

[2017-10-17 15:39] Rapster commented on #2675
Ah okay, makes sense 😉

[2017-10-17 15:58] rdebusscher commented on #2685
Is the same. But my adjustments are active for header and footer of datatable so should be ok to close.

Funny, didn't know about this issue, I had the issue with my client yesterday.

[2017-10-17 15:59] rdebusscher commented on #2685
See also #2825

[2017-10-17 16:28] melloware commented on #2685
@rdebusscher I have gotten into the habit of looking for old defects that look and smell like something I just fixed.  A lot of times there are duplicate or similar tickets out there.  Nice job you closed 2 tickets with 1 fix!

[2017-10-17 18:45] #2685 closed, assigned to nobody

[2017-10-17 19:07] tandraschko commented on #303
Currently not possible as we need to get the server side component.
I think it's possible if we do some major refactoring but i'm not sure if someone needs to attach one contextMenu to multiple components.
I would close it for now till someone really needs it.

[2017-10-17 19:07] #303 closed, assigned to nobody

[2017-10-17 19:23] Mobe91 commented on #2825
Are you sure that it is OK to never render the root component inside the facet if all children are not rendered, irrespective of the type of the root component?
As I mentioned in #2685, the component used for auto-wrapping multiple roots in a facet is always UIPanel so it would be valid to restrict the checking of root component children to cases where the root component type equals UIPanel (as in

[2017-10-17 19:51] sv3ntek opened #2826 "Bug icons Menu-MenuBar"
Hello i found 1 error in primefaces SHOWCASE "Menu - Menubar"

The icons dont appear correctly. I'm using chrome browser.

![image](https://user-images.githubusercontent.com/32882769/31686022-a4f7a6ee-b34a-11e7-8e62-24172adaedeb.png)

[2017-10-17 20:12] melloware commented on #2826
Can you hit CTRL+F5 in your browser to reload CSS?  It looks fine in my Chrome?

[2017-10-17 20:26] melloware commented on #2811
I submitted this PR as after reviewing this was definitely fixed in the old timepicker from that Google Code issue.

[2017-10-17 20:34] tandraschko commented on #2826
Works also fine for me.

[2017-10-18 05:24] rdebusscher commented on #2825
The wrapping is not always performed. When the footer contains only a panelGroup for example, no wrapping is done.

Within the spec (JSF 2.0, section 9.4.6) there is only a mentioning that there should be 1 component, a UIComponent descendent. So UIPanel is not mentioned and thus dangerous to limit the check to this type.

Since the method returns when it finds a rendered component, performance ov

[2017-10-18 06:42] mertsincan opened #2828 "Wrong Date Format with "M/d/yy" pattern"
Reported By PRO User;

for example
If I want to write today's date - 10/18/17 - This mask will allow me to write - 10/1/17 - as you can see - only one digit for day.
I checked on java -
System.out.println("" + new SimpleDateFormat("M/d/yy").format(new Date()));
And the output was 10/18/17
So, the expected behavior is not what we have right now.
If it's doesn't bother you - please try this code :
<

[2017-10-18 06:43] #2828 closed, assigned to mertsincan

[2017-10-18 06:45] mertsincan commented on #2822
Hi @melloware,
I'll check them.

Thanks!

[2017-10-18 07:56] #2826 closed, assigned to nobody

[2017-10-18 07:58] tandraschko commented on #2825
I think there is no reason from performance perspective, that we should change something here. The iterator has been removed, so i'm fine with it ;)

[2017-10-18 08:01] tandraschko commented on #2667
Feel free to provide a PR

[2017-10-18 08:04] #2565 closed, assigned to nobody

[2017-10-18 08:04] #2563 closed, assigned to nobody

[2017-10-18 08:28] koflerdavidgrawe commented on #2821
We have implemented a fix, which is seems to work. I will leave the code here for reference (inspired by https://github.com/javaee/javaserverfaces-spec/issues/671#issuecomment-299379611)

[code]

[2017-10-18 09:10] tandraschko opened #2829 "OutputPanel: move delay and global to p:ajax"

[2017-10-18 09:27] #2829 closed, assigned to nobody

[2017-10-18 09:27] tandraschko opened #2830 "[Documentation] OutputPanel: removed delay + global"
It has been moved to reuse p:ajax. See #2829 and the migration guide.

[2017-10-18 11:22] erickdeoliveiraleal commented on #2825
I built primefaces yesterday and after this commit series all my datatable's header has disappeared.

[2017-10-18 11:28] tandraschko commented on #2825
try to build today ;)

[2017-10-18 11:43] culjar opened #2831 "Dialog Framework: auto width ignored"
It's not possible to auto adjust the width to fit content of a Dialog Framework.

When I put the value of parameter "contentWidth" as "auto" it doesn't change and it is always 640, because this is the default value of property 'contentWidth'. In fact, inspecting the page at runtime it puts the iframe width value as "auto" literally, instead of translating it to the corresponding calculated value.

[2017-10-18 12:15] Fennes3 opened #2832 "TextEditor: in Dialog submits on key "ENTER""
## 1) Environment
- PrimeFaces version: 6.1
- The issue is present in 6.0 too

## 2) Expected behavior
Pressing "ENTER" in text-editor causes a line-break and NO form-submit.

## 3) Actual behavior
Form is submitted on "ENTER" in text-editor.

## 4) Steps to reproduce
Place a p:dialog inside a h:form. Insert a p:textEditor and a p:defaultCommand inside the Dialog.
Open Dialog. Press "ENTER" in tex

[2017-10-18 12:54] #2666 closed, assigned to tandraschko

[2017-10-18 13:34] tandraschko commented on #588
AFAIR autocomplete=false doesn#t work also very good. The proposed solution is always to clear it via JS or set autocomplete=off to the form. So thats up to the user. Will close it for now.

[2017-10-18 13:34] #588 closed, assigned to nobody

[2017-10-18 14:10] tandraschko commented on #1095
No example, will close it as invalid.

[2017-10-18 14:10] #1095 closed, assigned to nobody

[2017-10-18 14:10] tandraschko commented on #1126
No example -> invalid.
Freel free to create a new issue will all infos requested by our issue template.

[2017-10-18 14:10] #1126 closed, assigned to nobody

[2017-10-18 14:19] tandraschko commented on #1394
@BalusC Could you please provide a patch or PR?

[2017-10-18 14:25] tandraschko commented on #1588
Feel free to provide a PR!

[2017-10-18 15:09] NicolaIsotta opened #2833 "DataTable: improve filter look in narrow columns"
## 1) Environment
- PrimeFaces version: SHOWCASE, all versions are affected
- Affected browsers: all

## 2) Expected behavior
Filter input doesn't overflow and it's always centered, even on narrow columns.

## 3) Actual behavior
![filter overflow](https://user-images.githubusercontent.com/18428155/31725631-1a14475e-b425-11e7-93ad-950f8974bcea.JPG)

## 4) Steps to reproduce
Go to https://www.primef