[2019-09-12 10:33] #4973 closed, assigned to mertsincan

[2019-09-12 11:05] melloware commented on #5143
@jasonex7 Care to investigate this one and see if its fixed in your new vis.js branch?

[2019-09-12 11:19] #933 closed, assigned to melloware

[2019-09-12 11:21] #3165 closed, assigned to melloware

[2019-09-12 12:08] #97 closed, assigned to melloware

[2019-09-12 13:16] #5036 closed, assigned to nobody

[2019-09-12 15:56] jasonex7 commented on #5143
I've investigated and the problem is the current implementation of TimelineModel assumes that TimelineEvent data property is unique (you can see `equals` and `hashCode` of TimelineEvent), but this example uses the same data (string in this case) among multiple TimelineEvent, so in the method model.getIndex(timelineEvent) we get the wrong id and then update a different timeline event on UI.

https:

[2019-09-12 16:31] melloware commented on #5143
Couldn't we just fix the equals() and hashcode() of TimelineEvent to account for more than the data?  Such as start and stop date to make the object unique?  would that solve this issue?  So the same data could be attached to 2 different events as long as the start/stop were different.

[2019-09-12 16:43] melloware commented on #5143
OK I just tested it with PF 7.0 and I get the issue but if I test with 7.1-SNAPSHOT I do not see this issue.

[2019-09-12 16:45] melloware commented on #5143
You can test it with 7.1-SNAPSHOT by just changing the pom.xml to this..

[code]

That will use the JitPack version which is the latest SNAPSHOT from GitHub Master.

[2019-09-12 17:16] jasonex7 commented on #5143
I think we didn't resolve the real problem doing that, because in that case we couldn't have two events with the same data and with the same start and end date which the timeline javascript component (any version, old and new) already allows and can be displayed nicely using stackEvents="true".

[2019-09-12 17:22] jasonex7 commented on #5143
I've just test that and the issue is still present:

![timeline-test](https://user-images.githubusercontent.com/16229253/64806004-e73e4680-d557-11e9-9854-97f82f1c83a1.gif)

[2019-09-12 17:37] melloware commented on #5143
Ahh its not as drastic on 7.1 it happens really fast on my machine.  in 7.0 I get it leaving the old one behind.

So what is the proposed fix?

[2019-09-12 18:36] jasonex7 commented on #5143
I propose to change the implementation of TimelineModel to behave similiar to a list (in fact the events property is an ArrayList) and require user pass index param on `update`, `delete`, `select` and `getOverlappedEvents` methods and remove (or deprecate if you wish) `getIndex` method. Also create a property called `index` in event classes `TimelineModificationEvent` and `TimelineSelectEvent` for

[2019-09-12 18:41] melloware commented on #5143
You are right I think we almost have to do that to make this type of issue go away.  Want to do that in your 7.1 PR since we already making major changes why not fix this along the way?

[2019-09-12 18:42] #5110 closed, assigned to melloware

[2019-09-12 19:05] #1964 closed, assigned to nobody

[2019-09-12 19:06] jasonex7 commented on #5143
Yeah, is a good fix. I'll do on my PR.

[2019-09-12 19:15] melloware commented on #3742
I think its because Dialog Framework opens the dialog in an IFRAME.  I am not sure how these mobile browsers treat IFRAMES but its probably different than desktop browsers.

[2019-09-12 19:54] melloware commented on #910
- Added LEFT and RIGHT keyboard events if the galleria has focus
- Added tabIndex=0 so the galleria can receive focus and keyboard events
- Add touch swipe events for mobile browsers to swipe back and forth.

[2019-09-12 20:14] mores opened #5149 "Timeline: TimelineUpdater is null when javax.faces.PARTIAL_STATE_SAVING is false"
## 1) Environment
- PrimeFaces version: 7.0.7
- Does it work on the newest released PrimeFaces version? No Version? 7.0.7

## 2) Expected behavior
I expect timelineUpdater not to be null

## 3) Actual behavior
timelineUpdater is null

## 4) Steps to reproduce
https://github.com/mores/primefaces-test/tree/timeline001-nullUpdater

         <context-param>
                <param-name>javax.faces.PART

[2019-09-12 20:15] melloware commented on #5149
@jasonex7 Another one to investigate.  Thanks @mores for all of these reports.  We are working on a timeline overhaul for 7.1 so yours is perfect timing.

[2019-09-12 20:33] mores commented on #5143
Since you are overhauling this feature.....Assuming you have more than 1 model ( as in linked timelines ) is there an easy way reference the correct model after the changed event fires ?

[2019-09-13 05:23] jasonex7 commented on #5143
You can use `timeline.getValue()` method to obtain `TimelineModel`.

[2019-09-13 06:21] MarkusChur opened #5150 "DataTable: Selection - Checkboxes inaccessible for voice commands"
## Summary
When using selection for DataTable, checkboxes can't be toggled via voice commands. The root cause is very similar to [ISSUE-4979](https://github.com/primefaces/primefaces/issues/4979) which is fixed by [PULL-4981](https://github.com/primefaces/primefaces/pull/4981).

* The `<div>` that represents the checkbox doesn't have a role attribute
* The `<div>` that represents the checkbox does

[2019-09-13 07:09] goraSi commented on #5117
any updates on this

[2019-09-13 09:17] MarkusChur opened #5151 "Growl: Inaccessible for screen readers"
# Summary
When using screen readers growl messages are not read out at all. It seems like attributes are not set correctly so that assistive technology is not able to interpret what's going on.
There are two use cases: POST requests that update the whole page and AJAX requests that update the growl. I provide a PR that makes it a bit better but due to browser and screen reader incompatibilities it

[2019-09-13 11:12] melloware commented on #5151
Thanks for the PR and the testing!

[2019-09-13 11:13] #5151 closed, assigned to nobody

[2019-09-13 11:15] melloware commented on #5150
Any chance you want to submit a PR for this?

[2019-09-13 11:20] MarkusChur opened #5153 "Growl: FacesSeverity not read out by screen readers"
# Summary
There is a nice icon that represents FacesSeverity but there is no alternative text for it. I think primefaces should provide message keys per severity for i18n as well.

## 1) Environment
* PrimeFaces version: 7.0.6
* PrimeFaces showcase: https://www.primefaces.org/showcase/ui/message/growl.xhtml

## 2) Expected behavior
FacesSeverity is read in addition to message text.

## 3) Actual b

[2019-09-13 11:24] MarkusChur commented on #5150
yes but not before next week I guess :)

[2019-09-13 11:28] melloware commented on #5153
Couldn't we add a tooltip to the icon or an aria-label on the icon to give the screenreader a hint rather than adding another SPAN in the HTML?

[2019-09-13 11:35] melloware commented on #5149
@mores What is your use case that you have PARTIAL_STATE_SAVING false?

I believe in future JSF this will be the only option and they will be removing Full state saving.

[2019-09-13 11:37] #910 closed, assigned to melloware

[2019-09-13 11:45] melloware commented on #5117
No update other than I can make the NPE go away but I can't get it to respect the checkboxes for the Dynamic Columns.  I am just an open source community helper you may have to engage PrimeFaces Support and ask for a quote for how much to fix this issue if you don't have PRO support: https://www.primefaces.org/support/  You can click "get a quote" button.

[2019-09-13 11:57] MarkusChur commented on #5153
I checked that but then the text is not read out. I guess things get complicated when using aria-live regions. When adding another `<span>` the text is read out correctly and it does not break the visual appearance

[2019-09-13 12:19] melloware commented on #5153
Please review my PR.

[2019-09-13 12:30] melloware commented on #3020
@MarkusChur Can you help me fix this one?

[2019-09-13 12:45] mores commented on #5149
Back in 2011 this application was using icefaces. In order to utilize Advanced Components it had to be false ( http://res.icesoft.org/docs/v2_devguide/html/ICEfaces%202.0.0%20Release%20Notes.html )

At some point we migrated to primefaces.

Over the years we have tried to set it back to true, only to find certain pages are now broken, so it keeps getting set back to false.

It would take some time

[2019-09-13 12:57] melloware commented on #1813
Going to close this issue for now unless @outlinedspider you can come up with a reproducible example.  Your text says "when you press the button" but then in your XHTML you have no button you have a command link.  I will reopen if you can produce a PrimeFaces Test demo that can prove your issue.

[2019-09-13 12:57] #1813 closed, assigned to nobody

[2019-09-13 13:05] melloware commented on #623
testing in the showcase I can use tab and arrow keys to navigate the menu and menu button

https://www.primefaces.org/showcase/ui/menu/menu.xhtml

https://www.primefaces.org/showcase/ui/menu/menuButton.xhtml

[2019-09-13 13:05] #623 closed, assigned to nobody

[2019-09-13 13:35] mores opened #5156 "Timeline: model is not being updated with changes"
## 1) Environment
- PrimeFaces version: 7.0.7
- Does it work on the newest released PrimeFaces version? No Version? 7.0.7

## 2) Expected behavior
When a user changes an event - the model should be kept in sync with all changes

## 3) Actual behavior
The TimelineEvent from the TimelineModificationEvent is correct, but the TimelineModel will still have the original End Date

## 4) Steps to reproduc

[2019-09-13 13:36] melloware commented on #5156
@jasonex7 ??

[2019-09-13 14:01] jasonex7 commented on #5156
This is a documentation problem and the lack of an example in PrimeFaces showcase of server side edit. When you update the timeline javascript component that not necessarily means you update the server side model. To keep both sync, you have to update the model in the corresponding add, delete or changed listener method. To learn how to use that I had to check original PrimeFaces Extension showcas

[2019-09-13 14:08] melloware commented on #5156
So after we merge your PR we should then create more showcase examples to match the old PFE Timeline examples.  @mores can you confirm this fixes your issue and we can close this issue.

[2019-09-13 14:23] mores commented on #5156
Yes, this fixes my issue.

[2019-09-13 14:23] #5156 closed, assigned to nobody

[2019-09-13 14:38] jasonex7 commented on #5149
This is an old bug:

- https://forum.primefaces.org/viewtopic.php?t=42460
- https://forum.primefaces.org/viewtopic.php?f=14&t=41800
- #774
- primefaces-extensions/primefaces-extensions.github.com#127

I think the solution to this is use javax.faces.PARTIAL_STATE_SAVING = true (the default and recommended behavior in JSF) and use javax.faces.FULL_STATE_SAVING_VIEW_IDS to indicate the pages of the p

[2019-09-13 14:46] jasonex7 commented on #5156
@melloware Yeah, those examples should be back then.

[2019-09-13 14:48] melloware commented on #5149
Thanks for the research @jasonex7

[2019-09-13 15:22] melloware commented on #3267
Fixed with: https://github.com/primefaces/primefaces/issues/4163

[2019-09-13 15:23] #3267 closed, assigned to nobody

[2019-09-13 15:44] schlebe commented on #3378
Thanks to Melloware having implemented this enhancement; but I have stopped to develop in Java for my customer. I regret, but I don't have the opportunity to test this new function. I want only to thank Melloware for his work. Bye

[2019-09-13 16:41] jasonex7 commented on #5149
I found a much better solution that fixes this problem once for all. The problem with PARTIAL_STATE_SAVING = false is that there is no RESTORE_VIEW phase so the TimelineListener (which is responsible for setting TimelineUpdater) gets executed on RENDER_RESPONSE phase which is too late for event listeners. When PARTIAL_STATE_SAVING = true, the TimelineListener gets executed on RESTORE_VIEW and Time

[2019-09-13 20:33] jasonex7 commented on #5143
@melloware I encountered a problem with this approach, specifically in `delete` method. Imagine you have 3 instances of `TimelineEvent` in `TimelineModel.getEvents()` property which (an ArrayList) with indexes 0, 1 and 2 respectively. Then you delete the one with index=1 in that list, then automatically the TimelineEvent on index 2 has now index = 1, but in the UI the id property is still 2. Anoth

[2019-09-13 20:35] melloware commented on #5143
Or should we just bit the bullet and create a String "id" field that can be assigned by user or if not we can autoAssign it with UUID.random(). ???  We definitely need some unique identifier and index definitely doesn't feel right.

[2019-09-13 20:50] jasonex7 commented on #5143
I'd like to create a `private final String id` property in `TimelineEvent` as I was intended, then add that property in new constructors and change existing ones to use `UUID.randomUUID().toString()` to auto assign it and change equals and hashCode of TimelineEvent to consider only the new id property. Also change the corresponding TimelineModel, 1-timeline.js and other classes to use the id prope

[2019-09-13 21:11] melloware commented on #5143
I like it. We have to have something unique or else we will never be able to solve theee problems.

[2019-09-14 06:13] sulaiman-allemyar opened #5158 "FileUpload"
I am developing a web application using spring boot and primeface.
When I upload files more than 1Mb it can not be uploaded. However  I didnt limit the size of file in my view page.
when I limit it to a large size(like 4000000000), it even does not work in this situation too.
When I upload a file more than 1MB it does not even call the backing bean method.
Please help me it is urgent problem

[2019-09-14 11:53] melloware commented on #5158
Please use the forum for questions: https://forum.primefaces.org/viewforum.php?f=3

This issue tracker is only for bugs and enhancements not questions.

Although it looks like Spring boot is 1MB by default you have to change it. See: https://stackoverflow.com/questions/40271484/spring-upload-file-size-limit

[2019-09-14 11:53] #5158 closed, assigned to nobody

[2019-09-14 12:40] melloware commented on #925
@VsevolodGolovanov Do you know if this is still an issue as of 6.2 or 7.0?

[2019-09-14 13:59] VsevolodGolovanov commented on #925
@melloware, it is. Checked with both 6.2 and 7.0 on Wildfly 11.

[2019-09-15 12:30] melloware commented on #925
Thanks for checking, just from looking at the code nothing stands out to me but the Datatable is a complex beast that I definitely don't fully understand.

[2019-09-16 06:46] MarkusChur commented on #5153
done

[2019-09-16 06:46] christophs78 opened #5159 "PanelGrid: new layout(-mode) "flex""
PanelGrid has currently the layout-modes "table" and "grid".
Grid is based on the "old" grid-CSS, which has a few corner-cases because it´s based on the CSS-float-mechanism.
Think it would make sense to provide a additional "flex-grid" - layout-mode. (I´ll provide a PR for this within the next month.)

One question: PrimeFlex is currently not provided OOTB with PrimFaces. We may document that this

[2019-09-16 08:44] Selaron opened #5160 "FileUpload: Using the new API of PF 7.1-SNAPSHOT, simple single fileUploader throws ELException: Cannot convert"
When trying out the improved new File Upload API introduced in #4305 and following the [documentation ](https://primefaces.github.io/primefaces/7_1/#/components/fileupload?id=simple-file-upload) and [migration guide](https://github.com/primefaces/primefaces/wiki/Migration-Guide#70-to-71) it is suggested I'd use the new `SingeUploadedFile` interface.
The [documentation ](https://primefaces.github.i

[2019-09-16 09:36] tandraschko commented on #5160
I think we need a seperate wrapper for multi and single

Also we should rename NativeUploadedFile to NativeSingleUploadedFile
And
DefaultSingleUploadedFile to CommonsSingleUploadedFile

[2019-09-16 09:40] tandraschko commented on #5159
Related to #1820

[2019-09-16 11:39] melloware commented on #5159
@christophs78 Much appreciated for the future PR.  To answer your questions...

1. Assume PrimeTek does not include PrimeFlex out of the box we can add it to the documentation possible even be clever and put a JS Console PrimeFaces.error() if we detect that primeflex.css is not loaded.

2. I would just call the layout mode "flex".

3. I would be amazing if you could fix #1820 while you are adding

[2019-09-16 11:44] #5153 closed, assigned to melloware

[2019-09-16 11:56] christophs78 commented on #5159
Probably https://github.com/primefaces/primefaces/issues/1820 was already fixed:
https://github.com/primefaces/primefaces/commit/9f880385fa26287737eb92f79467d232057f40de#diff-d7a99593a8e92d9c69f098585d87dcfa
https://github.com/primefaces/primefaces/issues/2677

[2019-09-16 12:07] melloware commented on #1820
This was fixed in https://github.com/primefaces/primefaces/issues/2677

[2019-09-16 12:07] #1820 closed, assigned to nobody

[2019-09-16 12:07] melloware commented on #5159
You are right I just tested and confirmed.  Thanks I closed the other ticket!

[2019-09-16 17:24] jasonex7 commented on #5143
@melloware I suggest changing the title of this issue to something like: Timeline: Support for multiple events with same data.

[2019-09-16 17:25] melloware commented on #5143
Done.

[2019-09-16 19:09] mores commented on #5143
I think it would be useful if the group on https://www.primefaces.org/docs/api/6.1/index.html?org/primefaces/model/timeline/TimelineEvent.html was an Object and not just a string.
My use case is that this group is backed by a database and I need the primary key when an event changes groups - but I don't want to display that primary key inside that string....
Should I create a new issue to track th

[2019-09-16 19:25] jasonex7 commented on #5143
That wouldn't be necessary, you can use TimelineGroup and then use their id field (String) as TimelineEvent group parameter. You must add TimelineGroup instances to TimelineModel as you add TimelineEvent instances.

[2019-09-16 19:42] mores commented on #5143
Great ! Perhaps that calls for another example in the showcase.

[2019-09-16 21:40] jasonex7 commented on #5143
Yeah, I think an issue in showcase should be open for adding the old examples from primefaces extensions.

[2019-09-17 08:45] Rapster commented on #5160
I think I made a mistake in the showcase, I should have leave it as `UploadedFile` and then use `FileUploadUtils.consume` method or cast it directly into a `SingleUploadedFile`. I think I mentionned that before, but maybe `UploadedFile` should have a more restricted visibility, `protected`? It'll be less confusing for users and this interface is really meant for internal use of PF.

I don't think

[2019-09-17 09:14] tandraschko commented on #5160
For me UploadedFile feels like internal, or even should be removed. Not sure here, just feels a bit weird.

So the User should directly use the single or multi model for the valuebinding. Which means that we would also need 2 seperate wrappers.
Otherwise it will always fail when casting/assigning it to the Bean

[2019-09-17 10:42] mertsincan opened #5161 "Improve Inverted DataScroller"
Users can use startAtBottom attribute without virtualScroll attribute.

[2019-09-17 10:43] #5161 closed, assigned to mertsincan

[2019-09-17 10:44] mertsincan commented on #342
@melloware Fixed now ;)

For this issue, please use startAtBottom="true".

Best Regards,

[2019-09-17 10:44] #342 closed, assigned to nobody

[2019-09-17 11:13] #5149 closed, assigned to nobody

[2019-09-17 11:13] tandraschko commented on #5160
I would even go further and do:

- remove the old UploadedFile
- rename SingleUploadedFile to UploadedFile
- renamed MultiUploadedFile to UploadedFiles

[2019-09-17 11:22] melloware commented on #5143
I created a new issue in the showcase project: https://github.com/primefaces/showcase-facelift/issues/63

[2019-09-17 11:38] mertsincan opened #5162 "Change in resolveStaticField is not suitable for lazyloaded datatable"
Reported By PRO User;

Test code;
test.xhtml
[code]
LazyCarDataModel.java
[code]
The other codes; https://www.primefaces.org/showcase/ui/data/datatable/lazy.xhtml

[2019-09-17 11:41] #5162 closed, assigned to mertsincan

[2019-09-17 11:47] mertsincan commented on #5162
Hi @Rapster,

I reverted this commit; https://github.com/primefaces/primefaces/commit/5f818a7238102facf62ca1ded88d1a7aceccf101

Users can add #{anything.field} to filterBy/sortBy to pass your expression. Please try the above test code.

Best Regards,

[2019-09-17 12:07] selvait90 commented on #4760
I stuck with the same scenario, what is the release date of version 7.1 which has this fix. Is there any other workaround to handle this problem/use fix until launch of version 7.1 .

[2019-09-17 12:16] melloware commented on #4760
@selvait90 if you need this fix right now just add this JS snippet to your page which inline patches it with this fix.

[code]

[2019-09-17 12:30] melloware commented on #4760
@mertsincan This tiny fix should probably go in an Elite release?

[2019-09-17 12:42] Rapster commented on #5162
I think `DataTable#resolveStaticField` works as expected, your PRO user is actually lucky it worked before. I don't think this method was meant to support "fake" field. There are 2 scenarios in this ticket:

1. PRO user mentionned:

If it's a constant then why not use `<f:attribute name="orderType" value="MARKET_ORDER" /`> and then in the load method retrieve it it with `Components.getCurrentCompo

[2019-09-17 12:42] selvait90 commented on #4760
@melloware It works like a charm. You made my day. thank you so much for quick response.

[2019-09-17 12:45] melloware commented on #4760
No problem!

[2019-09-17 13:44] melloware opened #5163 "TextEditor: SONATYPE-2018-0365 Issue"
Original Security Issue: https://github.com/primefaces/primefaces/issues/3214

Using Sonatype IQ Server they are reporting PF as vulerable with the following explanation.

**Explanation**
PrimeFaces is vulnerable to Cross-Site Scripting (XSS). The decode() method in the TextEditorRenderer class, which is partially responsible for rendering text input into an HTML document, allows arbitrary JavaScr

[2019-09-17 13:52] tandraschko commented on #5163
-1 to let it work only with owasp

[2019-09-17 13:54] melloware commented on #5163
How about an attribute secure="true" which will be true by default and throw the error?   Basically a way that a user can opt-out of security but its enabled by default?

[2019-09-17 16:06] NicolaIsotta opened #5165 "InputNumber and Spinner: support additional bean validation constraints"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: all
- Affected browsers: all

## 2) Issue Description
Right now, only Spinner is considered in [BeanValidationInputMetadataTransformer](https://github.com/primefaces/primefaces/blob/70a

[2019-09-17 16:07] NicolaIsotta commented on #5165
I'll provide a PR as soon as I have some time to test.

[2019-09-17 16:29] melloware commented on #5165
Excellent I will review your PR after you submit.

[2019-09-17 18:33] melloware commented on #5162
@mertsincan the build is broken because the unit test was failing.  I just submitted a PR with fixed unit test and I think I made a better fix to resolving the static field.

[2019-09-17 18:42] melloware commented on #4958
@mertsincan It looks like even the source is messed up.

[2019-09-17 19:46] melloware commented on #3214
For 7.1 a new attribute secure="true" (default) has been added which requires this library by default.  You will only be able to use the TextEditor without it by opting-out with secure="false".

[2019-09-17 19:47] #5163 closed, assigned to melloware

[2019-09-17 22:59] Rapster commented on #5162
I would prefer an answer from Mert before going any further. Unit test failing shows the method is not doing what it's suppose to do. It's fiddling what it's done here, to solve this use case: simply create two attributes in the Car POJO (to adapt with PRO user code of course)

[2019-09-18 06:34] martin654 commented on #5162
Hi.
I think that the assumption that filtering can happen only on Car POJO attributes is not correct. With lazy datatable we often use backend sorting, filtering and pagination. Filters values are sent to backend together with info about current page, page size, sorting column and sort order. In such a scenario the coupling between POJO attributes and filter values is very loose. It basically says

[2019-09-18 09:49] Rapster commented on #5162
Who said your view representation should be similar to your domain model/database? Anyway, I need to have a deeper look at this to fully understand how these filters works and also I'm not happy with using String manipulation as it is a "performance killer" and boilerplate code

[2019-09-18 10:52] melloware commented on #5162
@Rapster let me know what you come up with.  But I will say there is a few spots in the code where its looking for a string between two string such as between "{" and "}". We should move this method into LangUtils which does exactly that from Commons Lang.

[code]

[2019-09-18 12:34] Hellebrekers opened #5170 "DatePicker: Initial value doesn't render the rangeSeparator"
## 1) Environment
- PrimeFaces version: 7.0.5
- Does it work on the newest released PrimeFaces version? 7.06, No
- Does it work on the newest sources in GitHub? No
- Application server + version: WildFly 16
- Affected browsers: All

## 2) Expected behavior
When setting the attached 'selection' within a bean on @PostConstruct then the component should also use the rangeSeparator.

## 3) Actual beha

[2019-09-18 12:49] melloware commented on #5170
Original Issue: https://github.com/primefaces/primefaces/issues/4514

[2019-09-18 13:11] melloware commented on #5170
@Hellebrekers can you review my PR.  I just tested your snippet using the showcase and I get this on page load.
![image](https://user-images.githubusercontent.com/4399574/65151545-4edf1080-d9f4-11e9-804a-42c298945856.png)

Is your issue that if you assign a custom rangeSeparator it was not being respected?

[2019-09-18 13:19] melloware commented on #5170
And if I set rangeSeparator="@" I see this on page load.

![image](https://user-images.githubusercontent.com/4399574/65152199-7aaec600-d9f5-11e9-9664-85f9dfaffd01.png)

[2019-09-18 13:24] Hellebrekers commented on #5170
@melloware Works perfectly fine like that!

[2019-09-18 13:34] #5170 closed, assigned to nobody

[2019-09-19 09:05] IT-Smile opened #5174 "Tree: Filter support for horizontal orientation"
Hello
I'm using Primeface 6.2.13.
I would like to know if there is any prediction for p:tree with orientation horizontal to work with filters and animation.
These are nice features, that are implemented in the normal tree, but aren't available in the orientation horizontal.

Thank you in advance.

Best regards

[2019-09-19 11:01] melloware commented on #5174
You have 3 options to try and get this functionality added as an enhancement.

1. Update the code and provide a PR since this a community supported project.
2. Ask PrimeTek for a once time quote on what it would take to implement this feature: https://www.primefaces.org/support/ by requesting a Case quote.
3. Become a PrimeFaces PRO subscriber: https://www.primefaces.org/support/

[2019-09-19 11:07] melloware commented on #396
This jquery component would be ideal: https://markjs.io/

[2019-09-19 12:49] tandraschko commented on #396
Feel free to do it in Extensions and close this issue

[2019-09-19 12:52] melloware commented on #396
Added to PF extensions: https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/725  So closing this ticket.

[2019-09-19 12:52] #396 closed, assigned to nobody

[2019-09-20 07:34] MarkusChur commented on #3020
# Fix for Screen readers
the menu button is missing the following attributes:

- `aria-haspopup="true"`: then it is announced as submenu button
- `aria-controls="idOfSubMenu"`: this has to be set to the id of the submenu `<div>` which is toggled. The id is already implemented it just has to be set.
- `aria-expanded="true|false"`: the state of the menu has to be applied to the button

# Keyboard ac

[2019-09-20 14:04] melloware opened #5175 "FileUpload: Tika Issues"
Based on this forum thread: https://forum.primefaces.org/viewtopic.php?f=3&t=59996

I can confirm that just having Tika on the classpath is not currently enough to force it to load and be used in `Files.probeContentType`.

Also currently Tika 1.19.1 is being used and Tika 1.22 is the latest that fixes multiple CVE's.
CVE's fixed in 1.22: https://www.cvedetails.com/vulnerability-list/vendor_id-45/p

[2019-09-20 17:50] melloware commented on #3020
@MarkusChur can you review my PR around the ARIA stuff.  I believe I understood what you are saying.

As for Keyboard Accessbility I can TAB to the button, press SPACEBAR to bring up the menu and then use Arrow up and Down keys to navigate the menu.  Pressing TAB again moves you to the next control?  I don't think any of the PrimeFaces menus allow TAB for navigation its always with the arrow keys.

[2019-09-20 19:20] afd0174 opened #5178 "p:selectOneMenu option element titles not working"
1) Environment

PrimeFaces version: 7.0
Wildfly 10.1
Mojarra 2.2.13.SP1
Affected browsers: All browsers (server-side issue)

2) Expected behavior

In PrimeFaces 6.2, I could use Javascript to attach title attributes to the HTML option elements generated from the p:selectOneMenu tag (with the title elements appearing on hover-over as tool tips) .  In PrimeFaces 7.0, the Javascript approach does not

[2019-09-20 20:04] melloware commented on #5178
Just change your JS to the following and it works fine.
[code]

[2019-09-20 20:04] #5178 closed, assigned to nobody

[2019-09-21 06:31] MarkusChur commented on #3020
looks good!

@melloware regarding keyboard control. Yes, it can be either arrow keys or tabs. But if arrow keys are used the focus has to jump to the first element in the list and the `tabindex="-1"` has to be set for the first element in the list.

Please see https://www.w3.org/TR/wai-aria-practices/examples/menu-button/menu-button-links.html
There you can transfer all necessary attributes. The t

[2019-09-23 09:36] tandraschko opened #5179 "Document CSP"
@melloware interessted?

[2019-09-23 11:18] melloware commented on #5179
Yep I can take the first crack at it and submit for review!

[2019-09-23 11:47] melloware commented on #3020
OK I read through that spec and added TabIndex=-1 on the Menu and each "A" hyperlink which is what their example is doing.

Ours is slightly different than theirs as the role="menu" is on our container DIV and not the UL. Can you review again I think the -1's will do it.

[2019-09-23 11:48] #3268 closed, assigned to melloware

[2019-09-23 11:49] #1550 closed, assigned to melloware

[2019-09-23 14:27] mauromol commented on #4489
I think this is a really serious problem, why was this closed without even an explanation?

Substantially PrimeFaces is deprecating p:editor (and going to remove it? See https://github.com/primefaces/primefaces/issues/2168) and replacing it with a rich-text editor component which is not on par with features (but this might not be a huge problem) and currently producing **non-portable** HTML code (

[2019-09-23 14:29] mauromol commented on #2168
Before removing p:editor in favour of p:textEditor, please note that the latter is not currently generating portable HTML code by default! See https://github.com/primefaces/primefaces/issues/4489 (even if you closed it). I think it's a really serious problem.

[2019-09-23 14:32] melloware commented on #4489
Read more here: https://github.com/primefaces/primefaces/issues/4486

The user accidentually created 4 identical issues 4486-4489 but most of the discussion took place in 4486.

[2019-09-23 14:36] mauromol commented on #4489
Oh, really sorry for that, using GitHub search I just found this one! Thanks.

[2019-09-23 14:48] mauromol commented on #4486
Could the following example be useful for PF to configure Quill to use inline styles instead of custom classes: https://github.com/quilljs/quill/issues/1093 ?

Embedding Quill CSS in you own application, or either pointing to their CSS, is not a viable solution for all use cases: what if you're using p:textEditor to generate HTML mail bodies? I don't want to put in them references to external CSS

[2019-09-23 14:50] melloware commented on #4486
It's really up to PrimeTek. They use QuillJS in PrimeNG, PrimeReact, PrimeFaces, and PrimeVue.  So its their editor they have chosen.  To me the real flaw lies in how QuillJS works as CKEditor and CLEdit both generated proper HTML without the need of a new stylesheet.

[2019-09-23 14:54] tandraschko commented on #2168
p:editor is a serious problem as CLEditor is not maintained since years.
We have to remove it for sure.

Quill was the decision of PrimeTek.
I would use CKEditor and be Happy.

[2019-09-23 20:08] #5179 closed, assigned to melloware

[2019-09-23 22:58] tandraschko opened #5181 "[perf] Cache enabled/jsf23 in DynamicResourcesPhaseListener"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-09-24 03:23] doleron opened #5182 "TreeTable: Add editInitEvent attribute to editable TreeTable"
Since 6.2 ```DataTable``` has an ```editInitEvent``` property to define a client side event to open cell on editable table (see [\#2603]) however the same property is not available for TreeTables.

[2019-09-24 06:09] Maikel-Nait commented on #910
Better late than never :)
Awesome !

[2019-09-24 12:15] eduarddrenth commented on #2269
subtables is a must have, it doesn't seem to work in 7.0.7. What is the status?

[2019-09-24 12:25] melloware commented on #2269
@eduarddrenth It has not been removed yet so it still should be in 7.0.7.  What error are you getting?

It is still available in 7.1 see here: https://www.primefaces.org/showcase/ui/data/datatable/subTable.xhtml

[2019-09-24 12:30] eduarddrenth commented on #2269
I saw, I tried (a lot of things..), no error, just no data

[2019-09-24 12:32] melloware commented on #2269
it could be another bug introduce but at least I can assure you the SubTable has not been removed yet.  Might want to look through the 7.01-7.0.7 release notes for any Datatable changes that might have broken it.

[2019-09-24 12:33] eduarddrenth commented on #2269
Thanks, I will

[2019-09-24 13:02] eduarddrenth commented on #2269
In those releases datatable was touched. I have a not so nice work around (datatable in a cell). My use-case that isn't working:

- datatable with lazy loading
- for each row I want to show a subtable

When I use columnGroup type="header" (or no type) and subtable I only see subtable data, no row data. I cannot spend time to file a bug.

[2019-09-24 15:47] awenger63 commented on #1643
Hi, just test on showcase (PrimeFaces-7.1-SNAPSHOT) in Ajax spinner and not work ! What is wrong ?

[2019-09-24 16:01] melloware commented on #1643
It's definitely fixed but it looks like the showcase has not been deployed since this fix was made.  I can tell by debugging the JS the showcase definitely does not have this code yet but I can confirm its working fine when I run the showcase locally.

[2019-09-24 16:30] awenger63 commented on #1643
@melloware Thanks for this check

[2019-09-24 17:23] melloware opened #5183 "CSP: Spinner not registering change event"
PrimeFaces version: 7.1-SNAPSHOT

**CSP Disabled:**
- Go to the Showcase spinner example: http://localhost:8080/showcase/ui/input/spinner.xhtml
- On the Ajax Spinner press up or down and you will see the Ajax fire and the label updated

**CSP Enabled:**
- Go to the Showcase spinner example: http://localhost:8080/showcase/ui/input/spinner.xhtml
- On the Ajax Spinner press up or down and you will se

[2019-09-24 20:06] #5159 closed, assigned to nobody

[2019-09-25 06:54] easttall opened #5184 "inputTextarea: autocomple only append remain number of words but not replace all with the chosen one"
## 1) Environment
- PrimeFaces version: 5.3, 6.2 & 7.0
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: tomcat 7
- Affected browsers: chrome 77, IE 11, Firefox 69

## 2) Expected behavior
key in some words to

[2019-09-25 11:22] melloware commented on #5184
Thank you for the reproducer!  Let me investigate.

[2019-09-25 12:05] melloware commented on #5184
Submitted a patch.  If you need this fix right now in your code just add this JS to your page.

[code]

[2019-09-25 13:06] christophs78 commented on #4625
Applied a fix/work-around for this (for LocalDateTime) during my work on java.time-support.

[2019-09-25 13:22] easttall commented on #5184
thanks..

[2019-09-25 13:26] #4625 closed, assigned to nobody

[2019-09-25 13:37] #5184 closed, assigned to melloware

[2019-09-25 14:04] NicolaIsotta opened #5186 "DatePicker: pattern messed with LocalDateTime and showTime="true""
## 1) Environment
- PrimeFaces version: trunk
- Application server + version: jetty 9.20
- Affected browsers: all

## 2) Expected behavior
The user-provided pattern is not modified.

## 3) Actual behavior
HH:mm is added to the pattern, causing conversion errors.

## 4) Steps to reproduce

..

## 5) Sample XHTML
[code]

## 6) Sample bean
[code]

[2019-09-25 14:09] #5165 closed, assigned to nobody

[2019-09-25 14:10] NicolaIsotta commented on #5186
Additional sub-issue: the ConverterException may not be thrown if the pattern contains time:
https://github.com/primefaces/primefaces/blob/7421d91ab7b4a9e50a49c799a4d1df564ef16158/src/main/java/org/primefaces/component/calendar/BaseCalendarRenderer.java#L205-L207
https://github.com/primefaces/primefaces/blob/7421d91ab7b4a9e50a49c799a4d1df564ef16158/src/main/java/org/primefaces/component/calendar/B

[2019-09-25 14:16] NicolaIsotta commented on #5186
Related to #4625 and #4626

[2019-09-25 17:49] christophs78 commented on #5186
We have to look at BaseCalendarRenderer and CalendarUtils. And test changes against Calendar and DatePicker.
We should add test-methods in DatePickerTest and CalendarUtilsTest.

[2019-09-25 17:59] #4660 closed, assigned to nobody

[2019-09-25 18:01] melloware commented on #4660
@MarkusChur I checked in both Splitbutton and SelectOne ARIA updates.  If you would like to test them you can use the JitPack build locally.

[code]

[2019-09-25 18:27] christophs78 commented on #5186
And we have to look into the clientside JS. (0-datepicker.js)
Methods formatDateTime, formatDate, formatTime.
As far as i remember the clientside-JS can not handle a pattern which includes time. We´ll have to change the clientside-JS too. Or we need to remove HH:mm in DatePickerRenderer when we render dateFormat-attribute.
Question: Is there any other time-pattern than HH:mm which is relevant? If

[2019-09-25 18:31] NicolaIsotta commented on #5186
IMHO the easiest and best solution is the server-side only:

1. If the user provides a pattern and if the pattern contains a time part, remove the part
2. This "cleaned" pattern will be passed by the widget builder
3. if showTime is true, generate a time pattern from the datepicker attributes (hourFormat and showSeconds)
4. Combine the "clean" pattern and the generated time pattern to create a "fu

[2019-09-26 06:32] vonnai commented on #1834
Hi, I have similar problem. BlockUI set style css attribute position: relative to blocked component, which causes problem at dialog. The solution is to check component's position before and if there is set fixed or absolute, relative will not be set.

blockui.js (PrimeFaces 7.0.7)
change row 122
`this.block.css('position', 'relative').attr('aria-busy', this.cfg.blocked).append(this.blocker).append

[2019-09-26 11:27] melloware opened #5189 "CSP: Not working in MS Edge"
In the Console it is reporting:

See this post for why: https://github.com/elastic/kibana/issues/30988#issuecomment-463786740

Apparently CSP is broken in Edge and Microsoft probably won't fix it until they release their new browser.   So the questions are:

1. Should we fix it like that post IF browser is Edge add all those unsafe directives?

2. Should we just do nothing since all the other brow

[2019-09-26 11:52] melloware commented on #1834
@vonnai yes please provide a PR so we can review. And I would put css into a variable like..

[code]

[2019-09-26 11:57] tandraschko commented on #5189
+1 for 1

[2019-09-26 12:33] MarkusChur commented on #3020
I tested this with the master snapshot and NVDA, there are still issues.

- no focus is set on first menu element when toggling the button
- menu is not announced properly. I think the `<ul> `needs `role="menu"` and `<li>` needs `role="none"`, and `<a> `needs `role="menuitem"`. Even if I fix it with chrome developer console it does not count correctly. This might be related to the wrapping element

[2019-09-26 12:34] vonnai commented on #1834
@melloware I made PR.

[2019-09-26 12:49] melloware commented on #3020
Thanks for testing.  Do you have suggestions that will make it work?

[2019-09-26 13:16] NicolaIsotta commented on #5186
Created PR #5191
Feel free to test and review

[2019-09-26 14:57] beikov opened #5193 "Dialog Framework: Closing dialog doesn't work when in iframe"
I'm on Primefaces 7.0 and this issue is related to https://github.com/primefaces/primefaces/issues/1403 and https://github.com/primefaces/primefaces/issues/1776

I have a JSF page that contains an iframe with a JSF page as src. The nested JSF page now opens a dialog, which works, but when closing, it tries to find the sourceWidget which it can't because the dialog is attached to the root window, b

[2019-09-26 18:33] melloware commented on #5193
I created this test case:
[pf-5193.zip](https://github.com/primefaces/primefaces/files/3659350/pf-5193.zip)

Just run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/main.xhtml

it looks like it is working fine for me.

[2019-09-26 18:52] melloware commented on #5189
Actually found a better fix that is working in all browsers and supported by Microsoft Edge 44.18362.329.0

[2019-09-26 19:10] beikov commented on #5193
I think the main.xhtml should also use a Primefaces component so that it gets the `PF` initialized in the window.

[2019-09-26 19:16] melloware commented on #5193
I am not quite sure what you mean.  Can you just paste a full main.xhtml that you think would exhibit the behavior?

[2019-09-26 19:18] beikov commented on #5193
Sure, just add a PF component so that the JS Object `PrimeFaces` is setup on the main window.

[code]

[2019-09-26 19:26] melloware commented on #5193
Done.  Still working fine for me.  Attached test case:
[pf-5193.zip](https://github.com/primefaces/primefaces/files/3659553/pf-5193.zip)

[2019-09-26 20:03] melloware commented on #5183
OK I think these two articles explain the problem...

https://stackoverflow.com/questions/37113525/how-to-trigger-js-native-even-addeventlistenerchange-function-by-jquery

https://stackoverflow.com/questions/21290775/jquery-el-triggerchange-doesnt-fire-native-listeners

[2019-09-26 20:11] beikov commented on #5193
That is by coincidence because the components have the same id/widgetVar...
Use the following main.xhtml to reproduce it

[code]

[2019-09-26 20:33] melloware commented on #5193
OK that finally makes the bug appear:
[pf-5193.zip](https://github.com/primefaces/primefaces/files/3659796/pf-5193.zip)

[2019-09-27 06:36] mertsincan opened #5195 "PieChartDataSet class doesn't implement Serializable"
Reported By PRO User;

[2019-09-27 06:37] #5195 closed, assigned to mertsincan

[2019-09-27 11:16] melloware commented on #5195
@mertsincan It shouldn't have to implement Serializable because it extends ChartDataSet which does implement Serializable?

All the charts were made serializable with this commit: https://github.com/primefaces/primefaces/commit/f3c1486c8be7c32592214ea1e45e30ff54345145#diff-43f82afaac54773f920aad579bcc0380

[2019-09-27 11:32] #5189 closed, assigned to melloware

[2019-09-27 12:42] MarkusChur commented on #3020
Yes, but via PR. Please bear with me that this takes a bit :) Also in regards to the other PRs I wanted to provide.

[2019-09-27 12:54] melloware commented on #3020
No worries.  I appreciate the help you have provided!  I reopened this issue so we can track it.

[2019-09-27 14:05] christophs78 commented on #5195
Maybe this fix makes some sense as patch for 6.2. But not for 7.0 and later. (Because 7.0 contains the commit mentioned by @melloware.)

[2019-09-27 14:07] tandraschko commented on #5195
Then please remove it If the superclass already has it. Can someone provide a PR?

[2019-09-27 14:08] melloware commented on #5195
I will fix it.

[2019-09-27 15:04] fanste commented on #3411
PR #5197

[2019-09-27 15:20] fanste opened #5198 "Chart (jqPlot): Disable series strikes-through wrong series in legend (combined with stacked-feature)"
1. Visit current showcase, e.g. bar-chart (Horizontal and Stacked) https://www.primefaces.org/showcase/ui/chart/bar.xhtml
2. - Click on "Boys" (blue series) in legend => blue series is removed, but "Girls" is striked-through
    - Click on "Girls" (yellow series) in legend => yellow series is removed, but "Boys" is striked-throug

This is reported as [jqplot#177](https://github.com/jqPlot/jqPlot/i

[2019-09-27 15:25] melloware commented on #5198
Don't forget to update jqplot.txt that is in that folder mentioning this ticket and the patch being applied.

[2019-09-27 15:47] fanste commented on #5198
Thanks for the info.

PR #5199

[2019-09-27 17:51] melloware commented on #5193
Not quite sure how to fix this one.  Looping over all available Iframes and Windows until you find the one the widget lives in? Not even sure that is possible.

[2019-09-27 18:42] melloware opened #5200 "Facet: Refactor facets using ComponentUtils.shouldRenderFacet()"
Anywhere in the code doing..

[code]

needs to be..

[code]

[2019-09-27 19:52] melloware commented on #2903
@MarkusChur another one to investigate. 😄

[2019-09-27 19:58] melloware commented on #2177
Duplicate of: https://github.com/primefaces/primefaces/issues/4660  follow that ticket please.

[2019-09-27 19:58] #2177 closed, assigned to nobody

[2019-09-27 20:08] melloware commented on #836
Google removed support for secure token on May 18, 2016.  See: https://github.com/ambethia/recaptcha/issues/179

Closing this ticket.

[2019-09-27 20:08] #836 closed, assigned to nobody

[2019-09-27 20:40] heatherita commented on #3819
Watch out for this one folks! It gave me trouble upon upgrading from PF 6.2 to PF 7.0, partly because I had upgraded to a custom theme at some point along the way and I wasn't sure if the theme was causing the problem. A quick addition of omnifaces method `Faces.getRequestContextPath()`  saved me. So glad to have figured it out!

[2019-09-27 22:22] tandraschko commented on #5160
will do a big refactoring now
feels like everything is bit messed up and to cumberstone

[2019-09-27 22:25] tandraschko commented on #5160
e.g. take http://localhost:8080/showcase/ui/file/upload/single.xhtml
and add 2 files -> upload
it seems that only 1 file received

[2019-09-27 22:42] tandraschko commented on #5160
Im really quite unhapy with the current status.
everything is weird.

We have 2 modes:

- Basic
   this means we dont use our JS widget and native html technologies are used.
   currently restricted to "single" file upload as "multiple=true" is not applied here.
   This means always 1 file and 1 request.

- Advanced
  this means that our JS is used.
  multiple just says that you can select multipl

[2019-09-27 22:54] Rapster commented on #5160
I'm on vacation right now, so can't help much but maybe reading #4038 should help you correct your last statement

[2019-09-27 22:59] tandraschko commented on #5160
oh damn, just one file is displayed but 2 selected....

[2019-09-27 23:05] Rapster commented on #5160
That is another issue, I opened an issue actually for that and ping Mert but no answers. After some time, I realized it was fixed by web browser itself :/

See https://github.com/primefaces/primefaces/issues/4306

[2019-09-27 23:16] tandraschko commented on #4306
doesn't work on firefox for me

[2019-09-27 23:19] #5160 closed, assigned to tandraschko

[2019-09-27 23:21] tandraschko commented on #5160
fixed now

the only difference to the old API is, that multiple=true in mode=simple now used the UploadedFiles model to receive all files in the single request

[2019-09-27 23:36] tandraschko opened #5202 "Multiple file upload in single request not supportd with commons fileupload"
See #5160

[2019-09-27 23:40] #5202 closed, assigned to tandraschko

[2019-09-27 23:46] #5181 closed, assigned to tandraschko

[2019-09-28 10:17] tandraschko commented on #4617
As you are the first one since years, i suggest you to use the following workaround:

[code]

[2019-09-28 10:17] #4617 closed, assigned to nobody

[2019-09-28 10:18] tandraschko commented on #4617
sorry, i'm stupid enough each time to dont remember how to format correctly.

[2019-09-28 10:22] beikov commented on #5193
You could capture the path from the root window to the source widget when creating the iframe for the dialog and uses that to determine the source widget object.

[2019-09-28 10:30] tandraschko commented on #3858
Will close it as deprecated

[2019-09-28 10:30] #3858 closed, assigned to nobody

[2019-09-28 12:28] melloware commented on #4617
@tandraschko I fixed the formatting.   Thanks for the workaround!

[2019-09-28 12:30] melloware commented on #5193
Any chance you want to take a shot at it and if you get it working either submit a PR or paste the code here and I can submit it?

[2019-09-28 13:20] beikov commented on #5193
Let's see, I'll give it a shot

[2019-09-28 14:42] melloware commented on #40
I am closing this ticket as I have opened a PrimeFaces Extensions issue where a new component like this can incubate.

[2019-09-28 14:42] #40 closed, assigned to nobody

[2019-09-28 14:43] melloware commented on #67
I am closing this ticket as I have opened a PrimeFaces Extensions issue where a new component like this can incubate.

[2019-09-28 14:43] #67 closed, assigned to nobody

[2019-09-28 16:12] beikov commented on #5193
There you go: https://github.com/primefaces/primefaces/pull/5204

[2019-09-30 05:26] fanste commented on #5117
@melloware You have to update the model behind the dynamic columns. That is mainly the same mechanism as it is used for any iterating component with their `rowIndex`.

[code]

[2019-09-30 06:54] mertsincan commented on #5195
Thanks @melloware ;)

[2019-09-30 08:01] #5175 closed, assigned to melloware

[2019-09-30 08:16] #4741 closed, assigned to melloware

[2019-09-30 11:17] e-reznik opened #5205 "PickList: Getting instance of transferred object"
## 1) Environment
- PrimeFaces version: 7.0

## 2) Expected behavior
When an element (entry in the PickList) has been transferred, I want to get an instance of that element.

## 3) Actual behavior
After being invoked after a transfer event, I can get a list of the transferred objects by `event.getItems() `
The element in that list is of type `String` and as value it has the actual transferred obje

[2019-09-30 11:24] #2514 closed, assigned to nobody

[2019-09-30 11:58] melloware commented on #5117
@fanste  I tried that and it still is not working correctly.  If you check the Price column which is the last column it hides ALL the columns. However if you hid the Brand column it immediately comes back after you press the Refresh button.

[2019-09-30 14:16] Rapster commented on #5162
Okay so, after reading the documentation my guess is that you could use [`Column#field`](https://www.primefaces.org/docs/vdl/7.0/primefaces-p/column.html#field):

@mertsincan @martin654 could you confirm it does the same as your tweak?

[2019-09-30 14:17] Rapster commented on #5162
@melloware I think this method could be useful yes, but not in this particularly case

[2019-09-30 16:35] kec-ebranchekoden opened #5206 "Serenity static vertical menu and PrimeFaces >= 7."
Please see:

https://forum.primefaces.org/viewtopic.php?f=73&t=57972
https://forum.primefaces.org/viewtopic.php?p=177694#p177694
https://forum.primefaces.org/viewtopic.php?f=73&t=59136

For a detailed description of the issue.

[2019-09-30 16:40] melloware commented on #5206
@mertsincan can you check this one since is premium theme related?

[2019-09-30 16:48] tandraschko commented on #5206
WIll close it. This is for the PrimeFaces community and we can't handle it here.

I will ping mert why we don't have an issue tracker for and if he can reply in the forum.

[2019-09-30 16:48] #5206 closed, assigned to mertsincan

[2019-09-30 17:04] melloware commented on #5117
I think this bug is actually similar to this issue: https://github.com/primefaces/primefaces/issues/4582

[2019-10-01 06:40] mertsincan commented on #5206
Yes, please use forum for such Layout issues.

In the forum, I'll check your issue and get back to you.

Best Regards,

[2019-10-01 07:54] Rapster commented on #977
Use footer facet

[2019-10-01 07:54] #977 closed, assigned to nobody

[2019-10-01 11:28] #5200 closed, assigned to melloware

[2019-10-01 12:24] melloware commented on #4955
Because this is a theme issue that the community cannot fix I reported it on the forums for Omega: https://forum.primefaces.org/viewtopic.php?f=40&t=60106

Please follow the issue there and I will close this ticket.

[2019-10-01 12:25] #4955 closed, assigned to mertsincan

[2019-10-01 12:52] melloware commented on #5105
@mertsincan I added this InputMask blurb to the Migration Guide

[2019-10-01 12:56] melloware commented on #5193
I think this is the exact same issue: https://github.com/primefaces/primefaces/issues/2086

[2019-10-01 12:57] melloware commented on #2086
We believe this issue will be fixed with this PR: https://github.com/primefaces/primefaces/pull/5204

[2019-10-01 13:07] tandraschko commented on #2086
Would Close it as duplicate

[2019-10-01 13:53] #4787 closed, assigned to melloware

[2019-10-01 14:05] tandraschko commented on #5183
What about using jquery.on instead of element.addEventListener in PrimeFaces.csp.register?

[2019-10-01 14:08] #2086 closed, assigned to nobody

[2019-10-01 14:11] melloware commented on #5183
Oh I am OK with that I just assumed you were attaching it to the DocumentListener for a reason!

[2019-10-01 14:19] tandraschko commented on #5183
@melloware fixed it
if you test some other cases, it would be great

[2019-10-01 14:19] #5183 closed, assigned to nobody

[2019-10-01 14:23] melloware commented on #5183
This is a great fix!  I will poke around with it.  I think our last remaining CSP issue is whether we want to allow whitelists or not: https://github.com/primefaces/showcase-facelift/issues/39

[2019-10-01 14:26] tandraschko commented on #5183
Not sure :D
PrimeFaces.current().executeScript() is currently broken. I investigate....

[2019-10-01 15:13] melloware commented on #5183
OK I have confirmed the Spinner issue is fixed and the Confirm Dialog issue is fixed in IE, Edge, Firefox, and Chrome!

[2019-10-01 15:51] tandraschko commented on #5183
great!
also fixed the #executeSCript thing now. Would be great if someone could really go through the showcase with enabled CSP and check everything....

[2019-10-01 16:25] melloware commented on #5183
I have been running the showcase solely with CSP=true so anytime I am using it its with CSP.

[2019-10-01 16:54] melloware commented on #5183
I have searched the entire codebase and there are no other calls to "new Function()" so that is good however there is 1 place still calling `$.globalEval` which is in the file `0-jquery.iframe-transport.js`.  I think we need to switch that call to our `PrimeFaces.csp.eval` call to be safe?

[2019-10-01 18:55] melloware commented on #5030
So where did we end up on this ticket?  Can it be closed it sounds like @mertsincan and @tandraschko  are both -1 on it?

[2019-10-01 18:57] Rapster commented on #5030
Sadly, I guess it can be closed...

[2019-10-01 18:57] #5030 closed, assigned to nobody

[2019-10-01 19:16] melloware commented on #4771
Still happening with Mojarra 2.3.13 but not with MyFaces 2.2 or 2.3

[2019-10-02 06:29] ghost opened #5207 "selectCheckboxMenu: Callback for remove items when using "multiple='true'""
## 1) Environment
- PrimeFaces version: 7.0

## 2) Expected behavior
I have a very special use of the selectCheckboxMenu. For performance reasons I don't use the "onChange" callback because the user is able to check multiple entries in the menu. So I decided to use the "onHide" callback. When the user is hiding/closing the selection I reload my data. But there is a problem for me: I have the param

[2019-10-02 11:53] melloware commented on #5207
For now add this to your page.  This will fire your onHide="" callback whenever the "X" is pressed on one of the token labels to remove it.

[code]

[2019-10-02 13:42] EugenFischer opened #5208 "AjaxStatus: causes JS error on ajax calls"
Using blockUI component with ajaxStatus on one page cause UnexpectedType error after ajax call is finished.
Error occurs inside BlockUI javaScript, but it's curious why it's called at all.

## 1) Environment
Cloned [primefaces git project](https://github.com/primefaces/primefaces-test.git)
PrimeFaces version : 7.0 ( also 7.0.7 )
Application server : Jetty, Tomcat 9, Wildfly 17
Browser : IE11, FF69

[2019-10-02 13:47] melloware commented on #5208
Thanks for the reproducer!  Let me try it.

[2019-10-02 13:48] melloware commented on #5208
Actually the link to your clone is not correct? Can you just attach a zip file of your project here without the /target folder?

[2019-10-02 14:00] EugenFischer commented on #5208
[primefaces-test-clone.zip](https://github.com/primefaces/primefaces/files/3681444/primefaces-test-clone.zip)

[2019-10-02 14:09] jthalmai opened #5209 "Tree: Filter not always triggered"
## 1) Environment
- PrimeFaces version: PrimeFaces Showcase (7.1-SNAPSHOT)
- Does it work on the newest released PrimeFaces version? No (7.0)
- Affected browsers: Firefox, Chrome

## 2) Expected behavior

Filtering of the tree should be triggered by:
- Cutting (ctrl+x)
- Pasting (ctrl+v)
- Deleting (del key)

## 3) Actual behavior

If you enter a filter text by pasting, or remove text by cutting o

[2019-10-02 14:28] melloware commented on #5208
It works fine if you switch..
[code]

To...
[code]

[2019-10-02 20:56] EugenFischer commented on #5208
As you can imagin this is just the simpelst example, our applications do use a mix of primefaces and jsf ajax calls so this may solve some cases, but we need a reliable solution for.

Does it make sence to adapt the blockUI method where the error occurs to check first if the parameter exist before access the property? Or will some other side effects happen?

Kind Regadrs
Eugen

[2019-10-02 21:37] melloware commented on #5208
I think it needs deeper Analysis with F Ajax. But the problem is definitely the mix of f:Ajax with block.  Just checking for that variable and ignoring might make the problem go away but not actually fix the problem.

[2019-10-03 10:28] Dasister opened #5211 "p:dataTable: p:rowExpansion doesn't work with p:columnToggler"
## 1) Environment
- PrimeFaces version: 7.0 and below
- Does it work on the newest released PrimeFaces version? Version?: No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source): No
- Application server + version: WildFly 10
- Affected browsers: all known

## 2) Expected behavior
Colspan of expanded row is equal to

[2019-10-03 10:52] Dasister commented on #3987
Sorry for late reply.
Reproduced on PrimeFaces 7.0.

I've recorded what I've meant:
![resizeMode](https://user-images.githubusercontent.com/1691753/66120842-792ff100-e5e4-11e9-8237-0b3a21a331d4.gif)
As you can see all columns are resized in table with resizeMode="expand" set. And only two columns are resized on second case.

@melloware could you please check this out?

[2019-10-03 11:56] melloware commented on #3987
OK that helps explain what you mean I thought you meant the table width came in its just the columns get misaligned the table still stays at 100% width. I have removed the can't replicate label

[2019-10-03 12:08] melloware commented on #5208
OK I submitted a PR which is harmless and prevents the issue.

[2019-10-03 12:29] mertsincan commented on #4958
I couldn't replicate this issue. Please see;
https://www.dropbox.com/s/gadfb5e6keq1fu8/Theme_icon_test.avi?dl=0

Also, Omega and Aristo theme use an image for icons but the other themes use an icon library named PrimeIcons.

- This is related to encoding. We are using SASS to create new themes and when you provide CSS files from SASS file, it encodes icon codes. I don't think this will be a proble

[2019-10-03 12:32] mertsincan commented on #4959
I'll fix it on the next elite versions and 7.1. For now, please use;
[code]

[2019-10-03 12:34] melloware commented on #4958
@mertsincan Is it just a matter of adding this to the page for the premium themes?
[code]

[2019-10-03 12:39] morvael commented on #4958
EE A4 81 from theme pulled from https://www.primefaces.org/showcase/javax.faces.resource/theme.css.xhtml?ln=primefaces-nova-dark
![Screenshot at 2019-10-03 14-36-54](https://user-images.githubusercontent.com/1133953/66127243-80a6c880-e5eb-11e9-9c40-c8a1de227bbf.png)
EE A4 3F from theme pulled from primefaces-7.0.5.jar
![Screenshot at 2019-10-03 14-37-45](https://user-images.githubusercontent.com/1

[2019-10-03 12:41] morvael commented on #4958
First file opens in xed editor without problems. Second gives warning about invalid characters. Bytes differ. So something must be wrong.

[2019-10-03 12:41] morvael commented on #4958
Files in my possession:
[themes.zip](https://github.com/primefaces/primefaces/files/3686047/themes.zip)

[2019-10-03 12:44] morvael commented on #4958
Bad file:
    iconv -f UTF-8 theme.css -o /dev/null; echo $?
    iconv: illegal input sequence at position 32498
    1

Good file:
    iconv -f UTF-8 theme.css.xhtml\?ln\=primefaces-nova-dark -o /dev/null; echo $?
    0

[2019-10-03 13:02] mertsincan commented on #4958
@melloware, premium layouts use FontAwesome icons. Luna and Nova use primeicons. My above comment is related to icon encoding. When you provide CSS file from SASS file, It encodes all icons of any library.

@morvael, does it work with PF7.0.5 or the latest elite version?

[2019-10-03 13:21] morvael commented on #4958
Icons in primeicons are perhaps encoded ok, but the unicode character pointing to them in the css is damaged during css compression.

Doesn't work in 7.0.5. Haven't upgraded to latest PF yet, but may soon check the css file stored inside.

[2019-10-03 13:26] morvael commented on #4958
In 7.0.8:
iconv -f UTF-8 theme.css -o /dev/null; echo $?
iconv: illegal input sequence at position 32498
1

[2019-10-03 14:10] mertsincan commented on #4958
- You're right! I checked it again. if the last two characters of the icon code end with 01, yuicompressor is encoding wrong. Exp;
[code]
the output after yuicompressor;
![image](https://user-images.githubusercontent.com/11868120/66133966-3845d580-e600-11e9-960e-77af02ddccb5.png)

When I change content code, exp; ui-datepicker-next:before {content: "\e902"}
the output after yuicompressor;
![image]

[2019-10-03 14:11] morvael commented on #4958
That's the message I was trying to convey from the start :)

[2019-10-03 14:17] mertsincan commented on #4958
We don't use yuicompressor on Premium Layouts. Therefore, until now, no questions about it did not come on them.

Example, you don't have a problem with home icon of breadcrumb. Because its icon code is "\e925" (not 01). Right?

[2019-10-03 14:17] morvael commented on #4958
Yes, it's even visible in the first post of this bug report.

[2019-10-03 14:21] mertsincan commented on #4958
Thanks a lot for the update! I think we can exclude theme.css files from yuicompressor on pom.xml. @tandraschko @melloware WDYT?

[2019-10-03 14:45] melloware commented on #4958
So can you stop SASS from encoding them?  Because I just ran a test with YUI Compressor raw and it compressed this properly.
[code]
So really having the raw unicode values would allow YUI to still work and I definitely think we want to be compressing our CSS.

[2019-10-03 14:46] melloware commented on #4958
Or in your SASS build script if you are using NPM use uglify.js to compress the CSS before you check it  into GitHub here.  Then we just exclude them from being compressed?

[2019-10-03 15:07] mores commented on #5149
When javax.faces.PARTIAL_STATE_SAVING is set to true, my panelGroup that is created using binding breaks.
Adding that page to FULL_STATE_SAVING_VIEW_IDS makes it work again.

[2019-10-03 17:23] melloware commented on #4747
@xxaaxxaa we have make great progress towards CSP and we think it will be ready for 7.1

[2019-10-03 17:24] #5209 closed, assigned to melloware

[2019-10-03 18:02] melloware opened #5213 "CSP: Customize Policy"
We cannot know every Javascript usage on every PrimeFaces website. You may have custom code in your application that you need to allow other CSP directives such as `unsafe-inline` or whitelist a websitesuch as `https://www.google-analytics.com`.  By using the `primefaces.CSP_POLICY` context parameter you can override the default policy.

[code]

This will give developers ultimate flexibility and i

[2019-10-03 18:20] #5213 closed, assigned to melloware

[2019-10-03 18:39] AbdulAhadArain opened #5215 "Primefaces dialog is blank when dynamic is set to true"
Environment :
jdk : 1.7
liferay : 6.2
primefaces : 5.3

I am trying to convert my dialogues to lazy load to speed up page load time but when I set dialog attribute dynamic to true it shows nothing but just plain bar I have attached screenshot.

Edit:
I have used the exact code provided on Primefaces showcase but it does not even show a simple p:outputext

![image](https://user-images.githubusercon

[2019-10-03 18:44] melloware commented on #5215
This is question for Stack Overflow or the forums please.

Please create a small reproducible example using this Test project: https://github.com/primefaces/primefaces-test

That will narrow down whether the problem is LifeRay portal related.

[2019-10-03 18:44] #5215 closed, assigned to nobody

[2019-10-03 18:51] AbdulAhadArain commented on #5215
the above mention test package uses primefaces 7 i am using 5.3

[2019-10-03 20:01] lelduayen opened #5216 "SelectOneRadio: not displaying the input (circles)"
## 1) Description
I've just updated to 6.2.25 and the select one radios stop displaying.

The problem is [this commit 135fce7](https://github.com/primefaces/primefaces/commit/135fce7d3c4b505702baf40e6848c455a0b66645#diff-646c47fad60da19b6baed1d4b0cc5634) because if I disable that css rule then the circles are back.

The problem is that I don't know what the .ui-helper-hidden-accessible class means

[2019-10-03 20:08] melloware commented on #5216
@mertsincan can you investigate?

[2019-10-03 20:10] melloware commented on #5216
@lelduayen I wonder if it is confined to the Elite releases as the Showcase appears OK?  https://www.primefaces.org/showcase/ui/input/oneRadio.xhtml

[2019-10-03 20:37] melloware commented on #5215
So switch it to 5.3 in the pom.xml

[2019-10-03 20:42] lelduayen commented on #5216
Hi there, I downloaded it from the PrimeStore / Elite.
Also I've just checked the css on the Showcase and it doesn't have the css rule I've mentioned.

[2019-10-03 20:59] melloware commented on #5216
I see it is in master so the showcase should have that CSS.  Strange..
https://github.com/primefaces/primefaces/blob/bced07846e6715036c574c35ae87250a561982a7/src/main/resources/META-INF/resources/primefaces/core/core.css#L1-L7

[2019-10-03 22:47] melloware commented on #5208
If you need this fix right now just add this to your JS file that you include on every page.
[code]

[2019-10-03 23:20] melloware commented on #5216
Can you make a small reproducer using the PrimeFaces Test project please? https://github.com/primefaces/primefaces-test

[2019-10-04 07:42] mikereem commented on #5042
I had the same issue and found ticket https://github.com/primefaces/primefaces/issues/96 where the solution (workaround) was working for this one too. See: https://www.primefaces.org/stateful-column-toggler/

[2019-10-04 08:33] mertsincan commented on #4958
Hi @melloware,

- No, please see this issue; https://github.com/sass/sass/issues/1395 this link contains a lot of solutions. But, hacky.

- I'll create gulp file for it on designer and test this issue.

[2019-10-04 08:35] EugenFischer commented on #5208
Nice,
is it possible to get this fix on our primefaces prime account?

[2019-10-04 11:00] tandraschko commented on #5208
Hmmm. So we just ignore f:ajax now? Not sure if it's a good solution

[2019-10-04 11:18] melloware commented on #5042
Thanks @mikereem I will close this ticket thanks for providing a solution.

[2019-10-04 11:18] #5042 closed, assigned to nobody

[2019-10-04 11:21] melloware commented on #5208
Well I as just offering it up to @EugenFischer because he has a large project he is migrating and needs a solution to get him working.  As for the fix provided it appears during `f:ajax` calls BlockUI is subscribed to
[code]

However the `settings` object is always undefined.

[2019-10-04 11:31] tandraschko commented on #5208
Yeah, but we should try to get it working with f:ajax, not just skipping?

[2019-10-04 11:37] melloware commented on #5208
Yes we should get `f:ajax` working.    I didn't know where to begin to start looking on why this object is undefined for `f:ajax` but fine for `p:ajax`.  Do you want take a look?

I thought the defensive undefined check on` settings` seemed harmless though.

[2019-10-04 12:23] tandraschko commented on #5208
i think thats the problem of an bad implemented ajaxStatus.

Instead that the ajaxStatus catches the f:ajax for displaying the ajaxStatus itself, it catches the f:ajax status and resend them as p:ajax events.

I will change this now

[2019-10-04 12:33] tandraschko commented on #5208
please review.

[2019-10-04 12:33] #5208 closed, assigned to melloware

[2019-10-04 12:36] tandraschko opened #5217 "BlockUI: also bind JSF/f:ajax events"
Currently p:blockUI  was also triggered when p:ajaxStatus is on the view, however it failed because of an JS error.

I think we should correctly bind the f:ajax events directly in p:blockUI.

[2019-10-04 12:38] melloware commented on #5208
Looks good!

[2019-10-04 12:41] tandraschko commented on #5217
ok, not as easy.
but it's easy to use p:ajaxStatus in combination with f:ajax now -> <p:ajaxStatus onstart="PF('myBlockUI').show();"

[2019-10-04 12:41] #5217 closed, assigned to tandraschko

[2019-10-04 12:55] #4958 closed, assigned to mertsincan

[2019-10-04 15:01] melloware commented on #3268
Sonatype IQ Server has assigned this security issue SONATYPE-2018-0608

[2019-10-04 15:30] melloware commented on #5216
@lelduayen I can't reproduce this so unless you can provide a small reproducible sample I am inclined to close it.

[2019-10-04 18:10] lelduayen commented on #5216
Hi there, sorry about the late response. I'm going to provide you with an example, give me until tomorrow please.

[2019-10-04 18:10] melloware commented on #5216
Not a problem!  I will investigate once you do.

[2019-10-04 19:15] melloware opened #5219 "Filter: Refactor JS filtering"
There are 8 places in the code doing the identical check to block an enter key.

Refactor into `PrimeFaces.utils.blockEnterKey` method.

There are 3 places doing identical key filtering for filters.

Refactor into `PrimeFaces.utils.ignoreFilterKey` method.

[2019-10-05 12:55] melloware commented on #1152
Added CVE-2017-1000486 so future seekers can find this ticket.

[2019-10-05 13:29] melloware commented on #5205
@e-reznik Have you researched this issue for a possible fix?  Interested in submitted a PR?

[2019-10-05 13:49] vurvantsev opened #5221 "primefaces.MOVE_SCRIPTS_TO_BOTTOM not compatible with MyFaces' f:websocket"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-10-05 16:02] tandraschko commented on #5221
duplicate of: https://issues.apache.org/jira/browse/MYFACES-4295

[2019-10-05 16:02] #5221 closed, assigned to nobody

[2019-10-06 12:39] #5219 closed, assigned to melloware

[2019-10-07 09:31] wolfomat commented on #2667
Is there any update on this, the issue seems to be open but not resolved?

[2019-10-07 11:19] melloware commented on #2667
@wolfomat It is open and not resolved. There are a few ways to get this ticket resolved.

1. Submit a PR fixed the issue yourself that the community can review.
2. Hope someone in the community fixes it and submits a PR.
3. Ask PrimeTek for a 1 time quote to fix this issue that you would pay for and sponsor Click on "Case get a quote:":https://www.primefaces.org/support/
4. Pay for PrimeFaces PRO

[2019-10-07 11:31] elab commented on #433
Slightly modified version of the [BalusC code](https://stackoverflow.com/a/18613759/522578) cited by @mauromol [above](#issuecomment-116488027):
- prevent adding new row to the table on "Enter" click
- cancel editing on "Escape" click
[code]

[2019-10-07 11:42] melloware commented on #433
@elab.  I am using the showcase and your fix for Cell editor is already natively in the latest Showcase Cell Edit event: https://www.primefaces.org/showcase/ui/data/datatable/edit.xhtml  This ticket was about ROW editing right?

Nevermind: I see you are attaching to the Cell Editor to close the row editor.

[2019-10-07 11:52] elab commented on #433
@melloware yes, the ticket is about the row editing.
I'm (actually, BalusC) attaching the handler to the cell editor as the key press is happening in an input element which is located under div with the "ui-cell-editor-input" class (while we are on row editing):
[code]
(just checked that)

[2019-10-07 12:13] melloware commented on #433
OK I submitted a PR.  I modified all answers slightly.

1. Use `:input` instead of `input` so if you are are a select dropdown you can still press ENTER or ESC.  Previously it would only work if you were in an input box.

2. Modified the ROW finder to use the more specific styles `.ui-row-editor-check` and `..ui-row-editor-close` instead of `.ui-row-editor .ui-icon-close`

3. used Jquery constants

[2019-10-07 12:47] elab commented on #433
@melloware: you made me thinking about,  we could in fact catch key events for the row itself (to automatically cover any input elements), this also simplifies the code a bit:

[code]

[2019-10-07 13:14] melloware commented on #433
@elab I think the problem is the `ui-row-editing` style does NOT appear until you actually click and edit a row.  So when the component loads no rows are marked with `ui-row-editing` yet right?

[2019-10-07 13:55] elab commented on #433
In the initial state no rows are marked with that, right.
But it works. It looks like browser's event processing always takes the current state of elements into consideration when processing events.

[2019-10-07 14:00] christophs78 commented on #4626
This was solved with https://github.com/primefaces/primefaces/pull/5191.

[2019-10-07 14:01] christophs78 commented on #4625
Additional improvements with https://github.com/primefaces/primefaces/pull/5191

[2019-10-07 14:32] lelduayen commented on #5216
@melloware I've downloaded the primefaces test project, changed the dependency to prime 6.2.25 and added a simple SelectOneRadio to the test page. This way I reproduced the error.
Here are some images of the issue:

### Select one radio issue
![select-one-radio issue](https://user-images.githubusercontent.com/11880357/66320408-282a4080-e8f5-11e9-83a4-f1fe2d2264c6.PNG)

### Select one radio issue c

[2019-10-07 14:51] melloware commented on #433
Cool let me test it locally and update my PR.

[2019-10-07 14:52] #4626 closed, assigned to nobody

[2019-10-07 14:53] melloware commented on #5216
OK just attach here the zip file of your Test project.  Must zip it up and DO NOT INCLUDE the /target folder.

[2019-10-07 15:06] melloware commented on #433
Tested and its working great.  PR updated.

[2019-10-07 15:13] lelduayen commented on #5216
Sorry, I tried with rar and just saw image extensions allowed 😄, my bad!

[primefaces-test.zip](https://github.com/primefaces/primefaces/files/3698090/primefaces-test.zip)

[2019-10-07 15:26] melloware commented on #5216
OK thanks for the sample.  I can confirm this is broken on 6.2.25 and 7.1-SNAPSHOT. It works on 7.0 which does not have this fix.  Assigning to @mertsincan

[2019-10-07 19:06] melloware opened #5223 "JS: Global offon() JQuery function"
We do a lot of this in the JS code
[code]
where we turn off an event to turn it on to clear the old event.
I would like to add this Jquery function to do this in one step like
[code]
This will then let the code be cleaner with...
[code]

[2019-10-08 06:54] christophs78 opened #5225 "PanelGrid: allow to set styleClass for PanelGrid-content"
Required to use PrimeFlex - features like p-align-baseline.

[code]

Will provide PR and showcase-PR.

[2019-10-08 09:07] christophs78 opened #5227 "Grid CSS / PrimeFlex: label align-issue with horizontal forms"
## 1) Environment
- PrimeFaces version: 7.1 (SNAPSHOT)
- Affected browsers: all browsers

## 2) Behavior
Grid CSS and PrimeFlex align labels on the upper left corner. This is not ideal. They should be baselined.
![grafik](https://user-images.githubusercontent.com/10461942/66381836-59207900-e9ba-11e9-8d07-fdd35068a5d7.png)
(Issue is not specific for babylon-theme.)

PrimeFlex offers CSS-class p-ali

[2019-10-08 09:28] mertsincan commented on #5223
Hi @melloware,

Adding a global method is -1 for me ;( Maybe, you can add it to core.utils.js. This usage can confuse users and they might think this is a method in jquery. In my personal opinion, our codes should be both clean and understandable.

Thanks a lot for your effort ;)

[2019-10-08 09:32] tandraschko commented on #5223
core.utils makes it unreadable in the widgets IMO.
If would leave it for now then.

[2019-10-08 10:14] christophs78 commented on #5129
I´m working on this and will provide a PR.

[2019-10-08 10:24] christophs78 opened #5229 "Update JUnit from 4.x to 5.x"

[2019-10-08 11:08] melloware commented on #5227
Not sure if you should open this on the PrimeFlex issues page?  https://github.com/primefaces/primeflex/issues

[2019-10-08 11:08] melloware commented on #5229
+1 for this if you want to submit a PR.

[2019-10-08 11:11] melloware commented on #5223
I understand your points i will close the ticket and PR.  The reason I personally think this is a huge improvement...
**Pros:**
- Prevent human error in typing when adding off() events
- Easy to switch on() events to offon() without cutting and pasting the block for the off()
- Leverage the power of JQuery and Javascript extensibility
- Reduces boilerplate code

[2019-10-08 11:11] #5223 closed, assigned to melloware

[2019-10-08 11:21] astranCZ opened #5230 "DataTable: In liveScroll and on update data rows duplicity"
##  1) Environment
- PrimeFaces version: 7.0 and 7.1-SNAPSHOT
- Application server + version: Apache Tomcat/7.0.47
- Affected browsers: Chrome, Firefox, Explorer

## 2) Expected behavior

After updating datatable not dupliciting rows

## 3) Actual behavior

Rows are duplicated after datatable update

## 4) Steps to reproduce

1) Load data to DataTable
2) Scroll to end data in DataTable (50 rows)
!

[2019-10-08 12:05] #5225 closed, assigned to nobody

[2019-10-08 13:18] #433 closed, assigned to melloware

[2019-10-08 13:20] melloware commented on #3505
@tandraschko Is it safe to close this ticket since we have settled on our policy and allow overrides with `primefaces.CSP_POLICY` ??

[2019-10-08 13:26] tandraschko commented on #3505
Yep, lets close it

[2019-10-08 13:26] #3505 closed, assigned to nobody

[2019-10-08 14:14] #5129 closed, assigned to nobody

[2019-10-08 17:28] christophs78 commented on #5227
I don´t think this is something primeflex can solve.
p-align-baseline uses CSS property align-items: baseline. This may work for native browser html-(input-)elements, but not for custom components drawn via a UI-component-library.
I´ll give it a try in babylon-forum.

[2019-10-09 06:45] christophs78 commented on #5227
[https://forum.primefaces.org/viewtopic.php?f=98&t=60180](https://forum.primefaces.org/viewtopic.php?f=98&t=60180)

[2019-10-09 12:33] robertoferreirajrr commented on #4967
@mertsincan The problem persists in showcase again...

![Image of Problem](https://i.ibb.co/N7nmd0v/Deepin-Screenshot-selecionar-rea-20190704091618.png)

showcase PrimeFaces-7.1-SNAPSHOT on Mojarra-2.3.2.

[2019-10-09 12:55] robertoferreirajrr opened #5234 "Wrong legend color position in exporter jqplot chart."
Charts: Wrong position when use export component

Hi! When I export a charts to a png, the legends of the chart appears in wrong position! In the showcase it happens too!... I using primefaces 7.0, i see that in show case the version is 7.1, and still happening... the problem occurs in showcase...

![Image of Problem](https://i.ibb.co/N7nmd0v/Deepin-Screenshot-selecionar-rea-20190704091618.png)

I

[2019-10-09 12:57] mertsincan commented on #5234
Hi @robertoferreirajrr,
I'll try it with elite versions and get back to you.

[2019-10-09 12:57] tandraschko commented on #5234
Please follow the issue template. Does it work with trunk/7.1-SNAPSHOT?

[2019-10-09 13:06] robertoferreirajrr commented on #5234
Hi @tandraschko , updated following the issue template

[2019-10-09 13:41] melloware commented on #5234
Adding @fanste because of knowledge of jqPlot and the current legend fix he has out there.

[2019-10-09 13:41] tandraschko commented on #5234
The showcase hosted by PrimeTek may never be up to date, so please try it in a sample, your application or checkout the showcase

[2019-10-09 13:48] kk160292 opened #5235 "Virus scan while file upload issue using primeface 7.0"
I have got below issue while doing error.

I configured key as well.

<context-param>
    	<param-name>primefaces.virusscan.VIRUSTOTAL_KEY</param-name>
        <param-value>af6d267942616bdc3dd15009e3929fcaec14095d7588e52ac05d54e043b3ab35</param-value>
	</context-param>

Oct 09, 2019 7:14:26 PM org.primefaces.virusscan.impl.VirusTotalVirusScanner performVirusScan
WARNING: Cannot perform virus scan

[2019-10-09 13:57] melloware commented on #5235
Socket Timeout sounds like your app can't reach virustotal.com rest services for checking if the file has a virus.  Is your app firewalled?

[2019-10-09 14:18] fanste commented on #5234
@melloware I won't call it knowledge :D

But I checked to showcase hosted by PrimeTek and tandraschko is right. The showcase does not include the fix for #4797.

I run a quick test in one of my applications changing PF to 7.1-SNAPSHOT and the exported image looks fine for me.
![grafik](https://user-images.githubusercontent.com/3531183/66489710-5738e180-eab0-11e9-8db8-08c6da0e949a.png)

[2019-10-09 14:20] tandraschko commented on #5234
ok, good.

also talked with @mertsincan if they can autodeloy the showcase for trunk nightly at PrimeTek.
Otherwise we may look for alternatives.

[2019-10-09 14:20] #5234 closed, assigned to nobody

[2019-10-09 14:21] fanste commented on #5234
@tandraschko Maybe it would be enough to include a build date + revision of PF in the footer of the showcase.

[2019-10-09 14:25] tandraschko commented on #5234
in general it would be great (a PR would be cool!=
but that will not fix the real problem as we have only 1 online showcase
i think we have to differ between stable elite releases and unstable trunk showcase - also in the hosted showcases

[2019-10-10 10:43] tandraschko opened #5236 "OverlayPanel: add behavior events for hide and show"
for p:ajax instead of attaching p:remoteCommand to onHide/onShow

[2019-10-10 10:45] tandraschko opened #5237 "Add util method to escape JS variable name"
this is quite usefull for composites
sometimes you have a p:remoteCommand inside a composite and you would like to prepend the clientId in the name of the remoteCommand to make it unique.
JSF ids contains ":", which is not allowed for variables

[2019-10-10 11:32] martin654 commented on #5162
@Rapster Hi, reproducer attached. "Column#filed" is not working for filtering nor sorting.

[primefaces-test-master_column_field.zip](https://github.com/primefaces/primefaces/files/3712214/primefaces-test-master_column_field.zip)

[2019-10-10 12:32] kk160292 commented on #5235
@melloware Thanks. It was due to firewall.
I have one question here. using performvirusscan how would we display message in UI whether virus detected or not.

[2019-10-10 13:18] melloware commented on #5235
It just returns false that it is not valid in the isFileValid code.   I don't see any way right now you cna detect that is was due to a virus problem.  Although in the Doc it looks like you can do a custom implementation of Virus Scan.  See here: https://primefaces.github.io/primefaces/7_0/#/components/fileupload?id=fileupload

[2019-10-10 13:18] #5235 closed, assigned to nobody

[2019-10-10 13:33] kk160292 commented on #5235
@melloware thanks for ur response. I already implemented virus scan Console its printing response as blow
Oct 10, 2019 1:26:36 PM org.primefaces.virusscan.VirusScannerService performVirusScan
SEVERE: Detected a virus

HOw to display message in UI

[2019-10-10 13:35] melloware commented on #5235
I don't see any easy way although you may be able to since that is a java.util.Logger statement add a LogAppender that looks just for that message?   It doesn't look like this was designed to be intercepted it was just designed to not allow the file to upload.

[2019-10-10 13:36] kk160292 commented on #5235
@melloware Thanks.

[2019-10-10 14:18] #5236 closed, assigned to tandraschko

[2019-10-10 16:08] #5237 closed, assigned to tandraschko

[2019-10-11 08:17] #3411 closed, assigned to fanste

[2019-10-11 09:30] fanste commented on #5117
I had a look at it and the problem is that the `StateHelper` used by `DynamicColumn > Columns#isVisisble` is component-specific and not row-specific. That means: `applyModel()` replaces the data but not the state helper. Therefore the last column will always overwrite the visibility value of the previous columns.

But I have no idea how this should be fixed.

[2019-10-11 10:59] #3549 closed, assigned to nobody

[2019-10-11 11:00] melloware commented on #5117
I 100% agree with your assessment.  You came to the exact conclusion I did and I also don't know how to proceed to fix this.

[2019-10-11 15:49] mridgez59 commented on #4765
This still is an issue in PF 7.0. Any updates?

[2019-10-11 19:47] melloware commented on #3494
Attached is sample reproducer:
[pf-3494.zip](https://github.com/primefaces/primefaces/files/3719397/pf-3494.zip)

[2019-10-11 20:10] melloware commented on #3493
I agree with Thomas this is the correct behavior and the old behavior was incorrect.

[2019-10-11 20:10] #3493 closed, assigned to nobody

[2019-10-11 20:30] mrswadge commented on #4128
We found an infinite loop scenario UIData if there are no rows in the table.

https://github.com/primefaces/primefaces/blob/f709bc3c89178abadbc7711271d0cb32cdb279ea/src/main/java/org/primefaces/component/api/UIData.java#L1032-L1034

If rows is 0, the second half of the if clause is not executed, so processed increments infinitely whilst rows remains at zero.

[2019-10-12 12:37] melloware commented on #4128
@mrswadge Can you submit a PR with your fix?

[2019-10-13 07:47] JeeDevUser commented on #5230
The wrong behavior seems to depend on the total number of elements in the LazyDataModel (I mean, what return getRowCount() )as well as on values of

scrollRows=.. rows=...
properties
 For example:
- if LazyDataModel.getRowCount() returns 50, then following combinations:
`    ....scrollRows="15" rows="40"...
    ...scrollRows="20" rows="40"...
`
work as expected, BUT with
`   ... scrollRows="20" ro

[2019-10-14 09:15] #5198 closed, assigned to fanste

[2019-10-14 09:27] #5009 closed, assigned to nobody

[2019-10-14 10:57] tandraschko opened #5241 "Refactor DefaultStreamedContent + LazyDefaultStreamedContent for Java8"
See: https://github.com/primefaces/primefaces/issues/1124

i think we can merge LazyDefaultStreamedContent  to DefaultStreamedContent with usage of a Supplier for the InputStream.

[2019-10-14 11:07] #5241 closed, assigned to nobody

[2019-10-14 11:07] tandraschko commented on #5241
LazyDefaultStreamedContent has been removed
DefaultStreamedContent now takes a Supplier<InputStream> as constructor argument

[2019-10-14 11:07] tandraschko commented on #5241
also see #1124

[2019-10-14 11:23] wklaczynski opened #5242 "Cannot resolve EL variable in h:outputStylesheet"
When use h:outputStylesheet with primefaces inside body, can not resolve variable.

## 1) Environment
- PrimeFaces version: 7.0
- Wildflay 18.0.0.Final:
- Affected browsers: firefox

## 2) Sample XHTML
[code]
## 3) Proposed solution.

org.primefaces.renderkit.HeadRenderer.

[code]

[2019-10-14 11:25] tandraschko commented on #5242
The issue template has:

# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

[2019-10-14 12:01] melloware commented on #3288
@Rapster now that #5010 has been merged do you want to tackle this one?

[2019-10-14 12:15] tandraschko commented on #5242
please add a good description and a runnable bean+xhtml. I have no idea what your problem currently is.

[2019-10-14 13:06] #4000 closed, assigned to melloware

[2019-10-14 13:08] melloware opened #5243 "Security: Upgrade QuillJS 1.3.7"
Update QuillJS 1.3.7 due to security vulnerabilities
https://app.snyk.io/vuln/npm:extend:20180424
https://www.npmjs.com/advisories/1039

[2019-10-14 13:56] Rapster commented on #5241
12 constructors -> good reason to use a builder :wink:

[2019-10-14 14:01] #5243 closed, assigned to melloware

[2019-10-14 14:12] Rapster commented on #5242
I understand what's wrong but please:

1. Follow @tandraschko instructions
1. What makes you so sure EL variable is not resolved?
1. Explain what's wrong with the current code
1. Explain how your patch fix that issue

Understand that, with poor information you're giving, there is no way to consider spending time on this and applying your fix

[2019-10-14 16:52] #3245 closed, assigned to melloware

[2019-10-14 16:52] #2193 closed, assigned to melloware

[2019-10-14 16:52] #2941 closed, assigned to nobody

[2019-10-14 16:52] #5143 closed, assigned to nobody

[2019-10-14 18:20] wklaczynski commented on #5242
Unfortunately. I have analyzed the problem more. This cannot be solved. The problem is with the majora. Unfortunately "ui: repeat" and "p: repeat" calculate the value "var" much too late to be resolved when rendering head. The head itself does not belong to the component tree. The solution doesn't help. The problem has no solution. Head can only take static values. The only exception is the compos

[2019-10-14 18:21] #5242 closed, assigned to nobody

[2019-10-14 18:41] christophs78 commented on #5227
@mertsincan came up with the following idea:
[code]

This is not pixel-perfect but quite good:
![grafik](https://user-images.githubusercontent.com/10461942/66774801-c9e7f980-eec2-11e9-99fe-c1280356061b.png)

[2019-10-14 19:27] tandraschko commented on #5242
Yep, i see. Next time please post more code.
I think supporting simple EL is no problem for us but ui:repeat would be much more work.

[2019-10-15 08:24] tandraschko commented on #4128
reverted the PR as it breaks processing of a normal DataTable

[2019-10-15 15:06] macribbs opened #5246 "SelectManyMenu:deselected values set along with selected ones"
The p:selectManyMenu component, when processed, is not correctly reflecting the selections on the view.  I noticed this behavior on one of my views and then confirmed that it acts this way on the **PrimeFaces Showcase** as well.  If a user selects an option, but then clicks another option using a simple click (no other keys used), both options are set in the backing bean when the view is submitted

[2019-10-15 16:24] melloware commented on #5246
Is your issue this which was fixed in 7.0.6?  https://github.com/primefaces/primefaces/issues/5018

[2019-10-15 16:34] macribbs commented on #5246
Will download the later version and test.  Thanks very much.

[2019-10-15 16:34] melloware commented on #5246
Let me know if it fixes your issue and i will close this ticket.

[2019-10-15 18:42] #608 closed, assigned to melloware

[2019-10-16 11:06] #5246 closed, assigned to nobody

[2019-10-16 11:40] melloware commented on #4546
Same request for PrimeReact: https://github.com/primefaces/primereact/issues/765

[2019-10-16 12:46] #3244 closed, assigned to nobody

[2019-10-16 13:00] melloware commented on #3244
Excellent change.

[2019-10-16 13:22] tandraschko commented on #3212
@fanste do you still need it? If not, please close it.

[2019-10-16 13:42] #3195 closed, assigned to nobody

[2019-10-16 14:13] stolp opened #5247 "LightBox: Support descendant image links in addition to direct children"
## 1) Environment
- PrimeFaces version: 7.0.8

## 2) Expected behavior
Per documentation LightBox expects the image links it displays as direct children of the p:lightBox element:
[code]

 I suggest to enhance the collection of image links to all descendant elements, so that the for example the following example works as well:
[code]
In my case, I generate a list of preview image attachments links

[2019-10-16 14:42] tandraschko commented on #1562
Will close it for now.
We should add least create a ticket for each component itself.

Lets wait if someone needs that.

[2019-10-16 14:42] #1562 closed, assigned to nobody

[2019-10-16 14:43] Asderel opened #5248 "Tree: CopyTreeNode method set as "default" node types"
## 1) Environment
- Primefaces 6.2.19

## 2) Expected behavior
Copying a node using the method `createCopyOfTreeNode` of org.primefaces.component.tree.Tree model copies a node with all its attributes.

## 3) Actual behavior
The node gets copied with all its attributes except the "type" one and, instead, it sets the type attribute as "default".

## 4) Steps to reproduce
1. Create an instance of `Tr

[2019-10-16 14:48] #5248 closed, assigned to nobody

[2019-10-16 14:50] tandraschko commented on #800
I dont understand the exact requirement. I will close it for now. Please consider to create a new ticket and fill all requested informations in the issue template.

[2019-10-16 14:50] #800 closed, assigned to nobody

[2019-10-16 14:51] tandraschko commented on #699
I will close it for now.
The issue was created for 5.2 and is many years old.
Also the example isnt runnable.
Feel free to create a new ticket with all requested informations of the issue template.

[2019-10-16 14:51] #699 closed, assigned to nobody

[2019-10-16 15:16] tandraschko commented on #5205
Thats already supported if you use a converter. Just look at the second example in the showcase.

[2019-10-16 15:16] #5205 closed, assigned to nobody

[2019-10-16 17:28] melloware commented on #5247
It's tricker than that.  This line..

[code]

Is returning DIV's instead of anchor "A" like it is when there is no wrapper div.

[2019-10-16 23:02] macribbs commented on #5246
I confirm that it is fixed as of 7.0.6

[2019-10-17 09:07] tandraschko commented on #994
I will close the issue for now as it doesn't have a runnable sample (bean+xhtml).
If you can provide both - or a forked primefaces-test project - please create a new issue and i will have a look. We fixed some dialogReturn stuff the last months.

[2019-10-17 09:07] #994 closed, assigned to nobody

[2019-10-17 13:06] melloware commented on #5229
I took care of it.  It wasn't too bad.

[2019-10-17 14:01] #5229 closed, assigned to melloware

[2019-10-17 14:11] #3905 closed, assigned to tandraschko

[2019-10-17 14:45] #3256 closed, assigned to melloware

[2019-10-17 18:26] melloware commented on #3101
@ravihariharan I am confused on what you actually need done here?

[2019-10-17 18:39] melloware commented on #2433
It seems the old icon themes are not being updated at all and the new free themes like Omega, Luna, and Nova that come with PF all use icon fonts.  I am going to close this ticket for now.

[2019-10-17 18:39] #2433 closed, assigned to nobody

[2019-10-17 18:58] melloware commented on #394
@kukel is this still an issue?  I just added Long Press for mobile devices to trigger the context menu. https://github.com/primefaces/primefaces/pull/5238

[2019-10-17 19:06] melloware commented on #705
Since you can simply override the CSS the current default seems reasonable to me.  Ticket has been open for 4 years with no upvotes so closing issue.

[2019-10-17 19:06] #705 closed, assigned to nobody

[2019-10-17 19:16] melloware commented on #3060
@orange-buffalo want to submit a PR?

[2019-10-18 07:46] tandraschko opened #5251 "PrimeFaces#ajax#update: only log warning on ProjectStage Development"
https://stackoverflow.com/questions/58434076/primefaces-7-0-ajax-update-warning/58434639?noredirect=1#comment103221503_58434639

I will also remove the stacktrace, it's not very usefull and blows up the console

[2019-10-18 07:47] #5251 closed, assigned to nobody

[2019-10-18 08:19] mertsincan opened #5252 "Calendar without value attibute NPE"
Reported By PRO User;

	at org.primefaces.component.calendar.BaseCalendarRenderer.resolveDateType(BaseCalendarRenderer.java:268)
	at org.primefaces.component.calendar.BaseCalendarRenderer.getConvertedValue(BaseCalendarRenderer.java:152)
	at javax.faces.component.UIInput.getConvertedValue(UIInput.java:1045)
	at javax.faces.component.UIInput.validate(UIInput.java:975)
	at org.primefaces.component.ca

[2019-10-18 08:19] #5252 closed, assigned to mertsincan

[2019-10-18 10:42] #5216 closed, assigned to mertsincan

[2019-10-18 13:37] ravihariharan commented on #3101
@melloware We have readonly step and I wanted to style the Steps.VISITED_ITEM_CLASS in  readonly case.

![image](https://user-images.githubusercontent.com/15189434/67098582-80c9cb00-f18a-11e9-95a7-d419a612c12c.png)

[2019-10-18 13:48] #3624 closed, assigned to nobody

[2019-10-18 14:34] jasonex7 opened #5254 "Timeline: Linked timelines fires too many ajax requests"
## 1) Environment
- PrimeFaces version: 7.0 and 7.1-SNAPSHOT
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No

## 2) Expected behavior

In [Linked Timelines example](https://www.primefaces.org/showcase/ui/data/timeline/linked.xhtml) when you move the first timeline, then only one ajax request should be fired.

## 3) Actual behavior

In

[2019-10-18 14:58] melloware commented on #5254
And Vis Timeline 6.0 was just released too: https://github.com/visjs/vis-timeline/releases/tag/v6.0.0

[2019-10-18 15:21] jasonex7 commented on #5254
Excellent news! Do you recommend open another issue for updating to v6.0.0?

[2019-10-18 15:21] melloware commented on #5254
No I think you can make it part of this PR if you fix this Ajax issue.

[2019-10-18 17:09] melloware commented on #4992
@neXus1987 I am thinking of switching the plugin to not use JCrop anymore since Jcrop looks like it has stopped receiving updates.  There is Cropper.js https://fengyuanchen.github.io/cropperjs/ which is very popular and is kept up to date.

I don't see "boxHeight/boxWidth" equivalents in Cropper.js can you look?   They allow aspectRatio but I don't see anything about those two particular when look

[2019-10-18 19:36] melloware opened #5255 "ImageCropper: Use Cropper.js"
Currently ImageCropper uses JCrop https://github.com/tapmodo/Jcrop which has 54 open pull requests and no activity in the last almost 2 years.

Would like to upgrade to Cropper.js https://fengyuanchen.github.io/cropperjs/ which is actively maintained.

We have open ImageCropper issues that could be addressed:
https://github.com/primefaces/primefaces/issues/4992
https://github.com/primefaces/primef

[2019-10-18 19:44] melloware commented on #4136
See PR: https://github.com/primefaces/primefaces/pull/5256 for cropper.js switch.

[2019-10-19 14:28] melloware commented on #5255
Found anothe issue with Cropper.js I don't like that JCrop does not have.  If you use an IMAGE from another site using https:// JCrop works fine.  However with Cropper it requires CORS headers to be on the remote server for it to manipulate the image.

[2019-10-19 14:55] melloware commented on #4992
Closing this issue as its a JCrop issue.

[2019-10-19 14:55] #4992 closed, assigned to nobody

[2019-10-19 23:53] orange-buffalo commented on #3060
@melloware, will not be able to work on this immediately, but in some time I think I can provide one.

[2019-10-21 11:54] Eehol opened #5258 "PanelMenu: missing expand icon"
## 1) Environment
- PrimeFaces version: 7.0
- Application server + version: JBoss EAP 7.1.1.GA (WildFly Core 3.0.12.Final-redhat-1)
- Affected browsers: Chrome 64bits v77.0.3865.120, Internet Explorer v11.1268.16299.0, Firefox 32bits 60.9.0esr, Opera v63.0.3368.107

## 2) Expected behavior

**Context** :
* Use a panelMenu with 3 levels of menu (MainMenu expandable> SubMenu1 expandable > SubMenu2 n

[2019-10-21 12:52] melloware commented on #5258
Attached is my test case:
[pf-5258.zip](https://github.com/primefaces/primefaces/files/3750823/pf-5258.zip)

It is working in PF 7.1-SNAPSHOT I believe because this issue was fixed.
https://github.com/primefaces/primefaces/issues/4958

[2019-10-21 13:37] melloware opened #5259 "Photocam: Upgrade to 1.0.26 fixes Safari"
Fixed IOS and Safari for Photocam.
https://github.com/jhuckaby/webcamjs/pull/283

[2019-10-21 14:50] melloware commented on #5254
Looks like they did a patch release to 6.0.3: https://github.com/visjs/vis-timeline/releases/tag/v6.0.3

[2019-10-21 16:10] melloware opened #5261 "Exporter: Upgrade Apache POI 4.1.1 [CVE-2019-12415]"
Current version: Apache POI 3.17
Proposed version: Apache POI 4.1.1

Reasons to update:
- JDK8 only
- CVE's fixed [CVE-2019-12415]
- performance improvements

https://poi.apache.org/changes.html

[2019-10-21 22:40] jasonex7 commented on #5254
I've investigated how was the execution of the original example in showcase of PrimeFaces Extensions and saw that no ajax request was fired on moving timeline, only when user selected an item. See the following capture:

![7df0e5fc-1a2b-4132-82b0-f53f648fe1cb](https://user-images.githubusercontent.com/16229253/67215168-9dfad580-f3e6-11e9-8d53-d9b4eb0bd061.gif)

So the main difference is that the c

[2019-10-21 22:40] #5254 closed, assigned to jasonex7

[2019-10-22 05:12] christophs78 commented on #4783
I´ll play around with FullCaelndar 4.x within the next weeks and keep you updated.

[2019-10-22 09:20] stolp opened #5263 "DataTable: invalid values with rowReorder of editable components like SelectBooleanCheckbox"
## 1) Environment
- PrimeFaces version: 7.0.8
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? Not tested
- Application server + version: Tomcat 9
- Affected browsers: All

## 2) Expected behavior
When dragging a row I expect that the values of input components do not change.

## 3) Actual behavior
After dragging a row containing false va

[2019-10-22 10:56] #5261 closed, assigned to melloware

[2019-10-22 10:57] #5259 closed, assigned to melloware

[2019-10-22 10:57] #5258 closed, assigned to nobody

[2019-10-22 11:37] melloware commented on #4783
I updated the title of this ticket to 3.10.0 which is what FullCalendar we upgraded to.  @christophs78 If you get 4.X working just create a new ticket so we can track that change separately.  Thanks for looking into this!

[2019-10-23 07:46] arunvc commented on #2008
Related issue -
We have datatable with editable inputs in all rows and column
A column with autocomple and inputNumber with ajax calls,
when an ajax call is made from these control the whole datatable values are posted with the request, which is not necessary.

[2019-10-23 11:31] hAzUpL8 commented on #1169
Hi @jxmai I still have a problem with adding new row. I always got last row and not the new one. In your example I got :

![image](https://user-images.githubusercontent.com/33866210/67387977-279dd500-f598-11e9-8760-5fbfb23db2a1.png)

I don't have lazy loading enabled. I have
<p:commandButton id="btnAdd"  value="Add" icon="fa fa-plus" actionListener="#{beanVSB.onDvdRowAdd}" oncomplete="PF('wvDt').a

[2019-10-23 11:46] melloware commented on #2008
@arunvc That is the way the Datatable works it submits the whole form.  if you want cell by cell submission to not submit the whole table that is why the PrimeFaces Extensions Sheet component exists: https://www.primefaces.org/showcase-ext/sections/sheet/basicUsage.jsf

It submits cell by cell only the data you have changed on the sheet.

[2019-10-23 11:48] melloware commented on #1169
@hAzUpL8 See this issue instead: https://github.com/primefaces/primefaces/issues/3901

[2019-10-23 14:33] hAzUpL8 commented on #1169
@melloware , I've looked at this before, but I don't have any lazyModel... In my case I don't use any lazy loading.

[2019-10-23 14:39] melloware commented on #1169
What version of PrimeFaces?

[2019-10-23 14:43] #5255 closed, assigned to melloware

[2019-10-23 14:44] #4693 closed, assigned to nobody

[2019-10-24 07:14] hAzUpL8 commented on #1169
Primefaces version 7.0, but the application is portlet and is running on IBM Websphere portal 8.5
.
.
.
During this time, I found a solution. The problem was with ViewScoped ManagedBean on the portal. When I changed to SessionScoped everything started working normally!

[2019-10-24 09:37] #4611 closed, assigned to nobody

[2019-10-24 11:24] melloware commented on #1169
Interesting.   I wonder if it is portal related but glad you got it resolved.

[2019-10-24 11:31] cyanotyp opened #5265 "PanelMenu: CTRL+Click does not open new Tab (Firefox)"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version?  No
- Does it work on the newest sources in GitHub?  No, Version? 7.1 snapshot
- Application server + version: Oracle WLS 12.2.1.3.0
- Affected browsers: Mozilla Firefox 60ESR, 68ESR

## 2) Expected behavior

Do a CTRL+Click on MenuItem - and Link opens in **NEW** Tab.

## 3) Actual behavior

We r

[2019-10-24 11:45] tandraschko commented on #5265
No idea but we just render a link here - so i should be up to the browser?

[2019-10-24 11:56] melloware commented on #5265
@cyanotyp Yes can you try any other link in Firefox not in a PF app?  Maybe Firefox disabled this behavior?

[2019-10-24 11:59] melloware commented on #5265
Ahh I can reproduce.  Investigating....

[2019-10-24 12:07] melloware commented on #5265
I think its definitely a firefox issue: https://support.mozilla.org/en-US/questions/965091

[2019-10-24 12:16] melloware commented on #5265
Found it.  PanelMenu is doing this...

[code]

its handling the link click itself.

[2019-10-24 12:29] tandraschko commented on #5265
Why are we doing this? Because of the focus?

[2019-10-24 12:31] melloware commented on #5265
Yeah it looks like a bunch of the menu's do this.  I am doing a PR now for your review.

[2019-10-24 12:54] #5265 closed, assigned to melloware

[2019-10-24 12:57] melloware commented on #5265
@cyanotyp if you need an immediate fix just include this script on your page.

[code]

[2019-10-24 15:48] cyanotyp commented on #5265
Hello all,

thank you for the quick updates and hotfix !
I will try to implement the same tomorrow and post an update here :)

[2019-10-24 16:15] cyanotyp commented on #5265
Hello @melloware
your hotfix works perfect for our project, our users will be very happy !

[2019-10-24 16:20] melloware commented on #5265
No problem!  This will be fixed for good in 7.1  Thanks for reporting the issue!

[2019-10-24 18:24] christophs78 opened #5267 "Schedule: Upgrade Fullcalendar (4.3.1)"
succeeds https://github.com/primefaces/primefaces/issues/4783
Migration-Guide: https://fullcalendar.io/docs/upgrading-from-v3

[2019-10-24 18:27] christophs78 commented on #5267
@melloware : Started to work on this. At this point in time i switched to the new version and got the rendering up and running. I´ll have to put more work on this. (events etc) But i hope to have a complete PR within some weeks. (spare time is limited...)

[2019-10-24 18:37] melloware commented on #5267
fantastic!  Much appreciated.

[2019-10-24 18:38] melloware commented on #4686
@kaushikmeduri This is already implemented. see the documentation for RowEditor is has properties for these titles..
https://primefaces.github.io/primefaces/8_0/#/components/roweditor?id=attributes

However I don't know how to actually set them.  @tandraschko any thoughts?

[2019-10-25 02:09] jxmai commented on #1169
@hAzUpL8 Just noticed you pinged me some time ago. Good to know you found the solution :). Although I am not sure your explanation "changing from session scope to viewscope works" which does not make sense to me (Warning: There is a high chance it just works by accident). Be careful of the differences between session scope and viewscope though

[2019-10-25 08:26] irieill opened #5268 "EL functions: Add array/list support for page authorization related functions"
When checking page authorization with p:ifAllGranted(), p:ifAnyGranted() or p:ifNotGranted() you have to build a String containing all roles. When working with constant imports by e.g. using p:importConstants you have to concat one role with another by e.g. #{Role.A += ',' += Role.B += ...}.

It would be very nice if one could just pass an array or list of roles by e.g. #{[Role.A, Role.B, ...]}.

[2019-10-25 08:38] pneumcke commented on #4366
I have the same issue with 6.2.25 (and can not upgrade to 7.0 on that maintenance branch). The original error message from StackOverflow also reported 6.2.
Would it be possible to merge that fix to the 6.2 branch of PrimeFaces?
Thanks!

[2019-10-25 11:34] melloware commented on #4366
@pneumcke If you need this fix right now just add this JS function to your page or library.

[code]

[2019-10-25 12:02] pneumcke commented on #4366
Wow, thanks a lot for that quick fix! I'll see if I actually need a hotfix for the bug report.
Nevertheless, I would still prefer an "official" fix with a 6.2.26 version.

[2019-10-25 12:17] Rapster commented on #5268
<del>Not sure though if varargs are well supported in EL specification, see https://stackoverflow.com/a/9913396/4605161</del>

From omnifaces, BalusC created n functions because varargs were not supported in JSF functions. That would explain why PF have implemented that way. I had a try implementing it and I ended up with an exception

[2019-10-25 12:35] melloware commented on #5268
I have an idea i will submit a PR for review.

[2019-10-25 12:47] Rapster commented on #5268
Okay I found a workaround using `String[]` as a signature

[2019-10-25 12:49] melloware commented on #5268
Does String[] cover using any java.util.Collection of Strings like `List<String>`?
The PR I submitted follows other PF patterns found in SelectOne etc.

[2019-10-25 12:58] melloware commented on #5268
Looking more at it maybe change to `String[]` is the correct fix?

[2019-10-25 13:19] Rapster commented on #5268
First, I'm not a big fan of `Object` parameters, indeed it's convenient since you can use the same method for different expected types like String, String[], Collection, but seeing a method expecting Object parameter makes me always wonder "what the hell does it expect?! How does it work?!" While using varargs is quite convenient in that sense: simple and clear.

Not sure if it's the best but I pr

[2019-10-25 13:20] melloware commented on #5268
I agree with you on `Object`. If you get it to work with String[] and it works on older JSF that feels like the simplest change.   Also will let @tandraschko weigh in.

[2019-10-25 13:40] Rapster commented on #5268
Yup i'm not submitting anything before hearing his thoughts

[2019-10-25 16:10] tandraschko commented on #5268
Overloading with Array is ok for me but please also try old containers like glassfish 3 or tomee5

[2019-10-25 17:31] kaushikmeduri opened #5270 "OmegaMenu: java.lang.NoClassDefFoundError: org/primefaces/context/RequestContext giving error after Prime Faces Upgrade to 7.0 from 6.1.19"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${OmegaMenu}: ${java.lang.NoClassDefFoundError: org/primefaces/context/RequestContext}

## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version?  No
- Does it work on the newest source

[2019-10-25 17:47] melloware commented on #5270
1. You are trying to use an old Omega theme with PF 7.0

2. You need to log into your Elite account and get the latest Omega Theme which has been updated for PF 7.0.

3. Premium Theme Questions go to forum: https://forum.primefaces.org/viewforum.php?f=40

[2019-10-25 17:47] #5270 closed, assigned to nobody

[2019-10-25 17:49] kaushikmeduri commented on #5270
Hello,
can you advise where can we get new Omega for Prime Faces 7

[2019-10-25 17:49] melloware commented on #5270
Log in here with your account and it will be available for you to download: https://www.primefaces.org/store/

Assuming you have purchased it?

[2019-10-25 17:54] padupa-eeoc commented on #5270
following up on @kaushikmeduri question. we have renewed our elite subscription, but don't see access to the omega template download link.

[2019-10-25 17:57] melloware commented on #5270
Your Omega subscription should be under the same account you originally purchased it under.  Having an Elite subscription alone is not enough it has to be the account the purchased the Omega template.  If you think you are using the account that purchased the template I would contact PrimeTek @onursenture @mertsincan

[2019-10-25 19:13] melloware opened #5271 "PanelMenu: ARIA role="tablist""
According to Google if you go to the showcase PanelMenu..
https://www.primefaces.org/showcase/ui/menu/panelMenu.xhtml

It is reporting "Some ARIA child roles must be contained by specific parent roles to properly perform their intended accessibility functions."

Basically Elements with the role tab must either be a child of an element with the tablist role, or have their id part of the aria-owns p

[2019-10-25 19:30] #5271 closed, assigned to melloware

[2019-10-25 19:30] melloware commented on #5271
I have confirmed switching it to role="tablist" fixes the issues since the submenu are role="tab".

[2019-10-28 06:49] mertsincan opened #5275 "The cells are not created correctly on PanelGrid with layout="flex""
Test code;
[code]

[2019-10-28 06:53] #5275 closed, assigned to mertsincan

[2019-10-28 08:25] mertsincan opened #5276 "The class converter is not working on 7.1-SNAPSHOT"
Reported By PRO User;

[2019-10-28 08:26] #5276 closed, assigned to mertsincan

[2019-10-28 11:21] melloware commented on #5275
Adding @christophs78 for review.

[2019-10-28 11:33] melloware opened #5277 "jQuery: Browser Plugin Update 0.1.0"
Currently using Browser plugin 0.0.6 upgrade to latest 0.1.0.

[2019-10-28 12:05] melloware opened #5279 "InputNumber: Upgrade AutoNumeric 4.5.x"
Current version: 1.9.45
Latest Version:  4.5.10

Upgrade Guide:
https://github.com/autoNumeric/autoNumeric/blob/next/doc/HowToUpgradeToV4.md

[2019-10-28 12:55] #5277 closed, assigned to melloware

[2019-10-28 12:57] #3153 closed, assigned to melloware

[2019-10-28 14:05] tandraschko opened #5280 "Refocus after AJAX update doesnt work correctly"
the cursor isnt set to the original cursor

[2019-10-28 14:06] tandraschko commented on #5280
Wrong commit message; real commit:
https://github.com/primefaces/primefaces/commit/d3e67728114f971f44a09c986074b0e9ab23e337

[2019-10-28 14:06] #5280 closed, assigned to nobody

[2019-10-28 19:30] melloware opened #5281 "ChartJS: Upgrade to 2.9.3"
https://github.com/chartjs/Chart.js/releases/tag/v2.9.0
https://github.com/chartjs/Chart.js/releases/tag/v2.9.1
https://github.com/chartjs/Chart.js/releases/tag/v2.9.2
https://github.com/chartjs/Chart.js/releases/tag/v2.9.3

Changes for PF:
- Align property on Legend
- RTL aware for Legend and Tooltips.

[2019-10-28 20:07] joergmattes opened #5283 "TextEditor: <li> indentation doesn't work if sanitized even if allowStyles="true""
## 1) Environment
- PrimeFaces version: 7.0.5
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? Don't think so
- Application server + version: Tomcat 9.0.26
- Affected browsers: All

## 2) Expected behavior
If I use indentation of a bulleted list in p:textEditor, the identation is correctly saved.

## 3) Actual behavior
The indent

[2019-10-28 20:24] melloware commented on #5283
I agree with you I submitted your fix.

[2019-10-28 20:39] joergmattes commented on #5283
Thank you!

[2019-10-29 09:50] ProfEibe commented on #5267
Will this include the List-View of the calendar-events?
Or is this already in the 3.10 version?

[2019-10-29 10:02] christophs78 commented on #5267
Yes, we will include https://fullcalendar.io/docs/list-view with 4.x.

[2019-10-29 10:19] tandraschko commented on #2842
I will close the issue as it's a feature.
See my last comment for disable the feature.

[2019-10-29 10:19] #2842 closed, assigned to nobody

[2019-10-29 10:20] tandraschko commented on #1922
@fanste can you check if its fixed in 2.3.2 like mentioned by rapster in the linked issue? (and maybe provide a PR with the changes made to mojarra UIRepeat)

[2019-10-29 10:23] tandraschko commented on #1031
does it work with ui:repeat?

[2019-10-29 10:35] Rapster commented on #5268
I don't think it's needed to test with older containers, since JSF functions are built by impls (e.g Mojarra: see `FaceletTagLibProcessor` and MyFaces: see `TagLibraryConfig`). So far I've tested with latest impls, I'll have to give a shot to 2.0 impls)

[2019-10-29 11:21] #5283 closed, assigned to melloware

[2019-10-29 11:21] #5281 closed, assigned to melloware

[2019-10-30 06:35] mertsincan opened #5287 "Calendar widget custom close event handler not called on touch devices."
Reported By PRO User;

[code]

[code]

[2019-10-30 06:37] #5287 closed, assigned to mertsincan

[2019-10-30 07:32] mertsincan commented on #5270
Hi @kaushikmeduri,

You must use Omega 2.0.0 version to work with 7.0. If you are an Elite User, please use "Other" tab under Elite section to download the new version;
![image](https://user-images.githubusercontent.com/11868120/67837516-481de000-fb00-11e9-9396-08cae3711da5.png)

If you encounter any problems with access, please send an email to contact_at_primetek.com.tr

Best Regards,

[2019-10-30 08:21] hAzUpL8 commented on #1169
Almost certainly the problem is the portal. You never know what's going on in those PortletBridges. I've noticed that quite a few PF components on Websphere Porat are not working properly, so I don't use them....

[2019-10-30 13:52] spylacopa commented on #3926
I still see this error with just checked and build 7.1-SNAPSHOT,

also tried @melloware 's test case, which is also not working here

[2019-10-30 15:36] melloware commented on #3926
@spylacopa @f-r-a-n-s It might be related to this fix? https://github.com/primefaces/primefaces/issues/5089

Both issues were reported by @f-r-a-n-s

[2019-10-30 15:45] spylacopa commented on #3926
I d not think so. In your last screenshot it really looked as if it were fixed, but I cannot reproduce this.
![tree](https://user-images.githubusercontent.com/20950104/67874081-bbd9e000-fb34-11e9-81cf-9c372c161da6.png)

[2019-10-30 16:21] melloware commented on #3926
i can't reproduce the issue... I see this..
https://user-images.githubusercontent.com/4399574/63698861-ba670100-c7ed-11e9-902f-59f3284d0dc3.png

[2019-10-30 17:25] melloware opened #5288 "Dock: Reimplement using CSS"
Based on this original suggestion: https://github.com/primefaces/primefaces/issues/3153

Problems with current dock:
- Uses third party Fisheye JS which has not been updated since 2009
- Does not look quite like the modern Max OSX dock
- Uses Javascript for all the animation

The suggestion to use pure CSS with a little JS is a good one and I have settled on this really well done CSS that can be m

[2019-10-30 18:52] melloware opened #5291 "FileUpload: Update to 10.2.0"
Current Version 9.4.5
New Version: 10.2.0

Also replacing the 300KB gif ie-anim with 3KB progressbar.gif in from FileUploader.

[2019-10-31 01:59] rvieira5 opened #5293 "SelectOneRadio: multiple AJAX events on 1 click submitting wrong value"
## 1) Environment
- PrimeFaces version:7.0
- Does it work on the newest released PrimeFaces version? Version? No. 7.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Apache Tomcat 8.5
- Affected browsers: Chrome, Firefox
- JSF implementation: MyFaces 2.3, Mojarra 2.3

## 2) Ex

[2019-10-31 11:11] #5279 closed, assigned to melloware

[2019-10-31 11:35] #5268 closed, assigned to nobody

[2019-10-31 12:08] melloware commented on #5293
I have verified the issue.  Attached is the reproducible test case:
[pf-5293.zip](https://github.com/primefaces/primefaces/files/3793644/pf-5293.zip)

[2019-10-31 12:22] melloware commented on #5293
I can see in the network traffic when I select the first radio it fires one AJAX event.  When I click the second radio it fires 2 AJAX events the first for "/" the second for "x" which is why its setting the value to "X".
![image](https://user-images.githubusercontent.com/4399574/67946276-62ff5b80-fbb7-11e9-9b95-af35046bd767.png)

I am not sure why.

[2019-10-31 13:09] #5291 closed, assigned to melloware

[2019-10-31 18:25] melloware opened #5294 "POM: License information missing"
We use Sonatype IQ server and its reporting PrimeFaces as missing its license info and marking it as an alert.

![image](https://user-images.githubusercontent.com/4399574/67975314-39135c80-fbea-11e9-9e92-4074ca6cb26f.png)

[2019-11-02 16:27] #5294 closed, assigned to melloware

[2019-11-03 12:16] joergmattes opened #5296 "Datatable: row reorder doesn't work with headerRow/summaryRow (IndexOutOfBoundsException)"
## 1) Environment
- PrimeFaces version: 7.0.8
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? Don't think so
- Application server + version: Tomcat 9.0.27
- Affected browsers: All

## 2) Expected behavior
When I have a datatable with row reorder and headerRow, I expect the reorder to work correctly

## 3) Actual behavior
When re

[2019-11-03 14:47] rider87 commented on #4452
Did you had the time for a PR?

[2019-11-04 10:23] tandraschko commented on #5293
It would be great if someone could so JS debugging and see who triggers the second request.

[2019-11-04 10:42] tandraschko commented on #2674
Changed the docs a bit now.

[2019-11-04 10:42] #2674 closed, assigned to cagataycivici

[2019-11-04 10:45] tandraschko commented on #4720
@melloware can we patch the search.js and deliver it in via our repo instead using unpkg.com? (see index.html)

[2019-11-04 12:01] #4720 closed, assigned to nobody

[2019-11-04 12:18] melloware commented on #5293
It if firing the valuechange for both. Here are the two ajax calls.

1. Fires the minus sign (-) when I click Minus Radio.
![image](https://user-images.githubusercontent.com/4399574/68120361-1e373580-fed3-11e9-8875-3ebfb1d3945b.png)

2. Immediately fires the times (x).
![image](https://user-images.githubusercontent.com/4399574/68120394-3f982180-fed3-11e9-8b87-2d47947e3f3f.png)

[2019-11-04 12:19] tandraschko commented on #5293
but who triggers the change event on JS side?
maybe one comes from event bubbling or something...

[2019-11-04 12:22] tandraschko commented on #4720
i tried to apply the patch but it throws errors now.
I will close this for now. If a new docsify is released someday, the documentation will automatically use the newer version.

[2019-11-04 12:43] #5267 closed, assigned to christophs78

[2019-11-04 12:46] tandraschko commented on #4646
@christophs78 can you also update the ClockRenderer? Its the last component which uses the deprecated methods

[2019-11-04 13:13] tandraschko commented on #5059
enhanced the docs for now.
I would like to get rid of p:repeat but thats up to Mojarra.

[2019-11-04 13:13] #5059 closed, assigned to nobody

[2019-11-04 14:05] mertsincan opened #5298 "Add queryMode attribute to Autocomplete"
| Name | Default | Type | Description |
|---|---|---|---|
| queryMode | server | String | Specifies query mode, valid values are "server" (default), "client" and "hybrid".

**Query Modes:**

1. **server** mode;
- When the input field is entered a query value, autocomplete _always_ sends an ajax request to find the new values of the panel. This is the current behavior.
**The affected attributes**;

[2019-11-04 14:06] #5298 closed, assigned to mertsincan

[2019-11-04 14:11] irieill opened #5299 "SelectOneMenu: with required=true and f:SelectItem with itemDisabled=true for empty value prevents ajax update with validation error"
## 1) Environment
- PrimeFaces version: **7.0**
- Does it work on the newest released PrimeFaces version? **No**
- Does it work on the newest sources in GitHub? **Not tested**
- Application server + version: **Wildfly 17.0.1.Final**
- Affected browsers: **Tested with Firefox, IE, Edge**

## 2) Expected behavior
Given a p:SelectOneMenu with required=true, with an initial empty value and a f:SelectI

[2019-11-04 14:29] melloware commented on #5299
Is this your issue?
https://github.com/primefaces/primefaces/issues/4927

[2019-11-04 14:34] irieill commented on #5299
Further testing reveals that this issue relies on the itemDisabled property of f:SelectItem set to true. When ommited evething works as expected. Nevertheless my usecase requires this property set to true, and issue still exists for p:SelectOneMenu.

@melloware
I do not think the linked issue is related. I did not set javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL nor javax.faces.VALI

[2019-11-04 14:41] melloware commented on #5299
understood the real issue is `itemDisabled=true`.

[2019-11-04 14:45] melloware commented on #5299
Wonder if its related to this:
https://github.com/primefaces/primefaces/issues/1636

[2019-11-04 14:57] christophs78 commented on #4646
@tandraschko Yes. I´ll look into this and provide a PR.

[2019-11-04 15:19] melloware commented on #5299
I wonder if also this line of code is causing the issue in the Java code
[code]
Basically its marking it disabled in the browser HTML can you see if the regular h:selectOne marks that "option" as disabled?  I wonder if it has special handling for the noselectoption.

[2019-11-04 15:54] irieill commented on #5299
I do not know if i understand you correctly. This is the rendered ouptput of the four different select variants
[code]

[2019-11-04 16:35] melloware commented on #5299
OK so all of them have `disabled="disabled"` so that is not the problem.  Thanks for checking.

[2019-11-04 16:43] Rapster commented on #5241
I think there is a slight difference between this new version and the old `LazyDefaultStreamedContent`. Whenever `DefaultStreamedContent#getStream` is called, it will constantly instanciate an `InputStream` considering the example given in #1124

To make it truely lazy maybe reusing `org.primefaces.util.Lazy` instead of `Supplier`? Or add another attribute of type `InputStream` that gets initializ

[2019-11-04 17:04] tandraschko commented on #5241
not sure in which case it should make a big difference but changed it to Lazy + builder ;)

[2019-11-04 18:45] irieill commented on #5299
I think i have found the problem. It is still the same code in master branch.

- submittedValue is determined correctly
- submittedValues is not determined correctly - it contains the disabled SelectItems value as first item
- which then is choosen as submitted value falsely

https://github.com/primefaces/primefaces/blob/5095fa7ee2b5712ff347435941e0c73388851476/src/main/java/org/primefaces/renderk

[2019-11-04 18:59] melloware commented on #5299
Care to submit a PR?

[2019-11-04 19:44] irieill commented on #5299
Jep

[2019-11-04 19:54] tandraschko commented on #5299
If we uncomment those lines, other things are broken again
i somewhere commented it.

[2019-11-04 21:56] irieill commented on #5299
Well - I removed my fix. I am not sure if changing the submitted value order is ok. Additionally I recognized the following doc

https://github.com/primefaces/primefaces/blob/5095fa7ee2b5712ff347435941e0c73388851476/src/main/java/org/primefaces/renderkit/SelectRenderer.java#L299-L306

Which refers to https://github.com/primefaces/primefaces/issues/3296. I think both issues conflict with each other

[2019-11-05 09:19] tandraschko opened #5301 "TabView: rendered flag is ignored on dynamic tab"

[2019-11-05 11:09] wlhUser opened #5302 "p:dataTable - p:columnToggler: Number of frozen columns not considered correctly in column toggler"
<p:columnToggler>
  Example:
  The JavaScript **PrimeFaces.widget.ColumnToggler** object contains an attribute **frozenColumnCount**, which might not be initialized correctly. Hence the toggled column id is not being sent correctly to the server side in **fireToggleEvent**

To reproduce:
- Create a data table with **2** frozen columns and a column toggler
- Check the value of the attribute **froze

[2019-11-05 12:08] melloware commented on #5302
Have you tested your fix?

wouldn't it also be wrong in the coltoggler `check()` method as well?

[2019-11-05 12:37] wlhUser commented on #5302
I did not test the solution as I proposed it, but I applied a equivalent fix in my own js code correcting the value of the attribute **frozenColumnCount** of the columnToggler  widget. This fix works - at least in the cases I tested.

I'm not sure what exactly you mean related to the check() method. But of course the **check** and **uncheck** methods rely on the frozenColumnCount attribute, and be

[2019-11-05 12:40] melloware commented on #5302
OK I meant this but it looks like in the check() method of colToggler.js it does this...
https://github.com/primefaces/primefaces/blob/2f8da82feeb8d471ca9fd173455ee6b3f3ad142d/src/main/resources/META-INF/resources/primefaces/columntoggler/columntoggler.js#L286-L288

So its using TH appropriately there.

[2019-11-05 12:43] #5301 closed, assigned to tandraschko

[2019-11-05 12:43] melloware commented on #5302
Submitted PR

[2019-11-05 12:45] wlhUser commented on #5302
I did not debug this code you are referring to in the check() method, but I suppose it is correct.

[2019-11-05 13:47] Rapster commented on #5241
As I said, it's a slight difference. Either choose builder pattern or multiple constructors but both does not  make sense.

[2019-11-05 14:29] tandraschko commented on #5241
thats by purpose - i don't like to break applications in that way just because of cosmetics.
We could however deprecate it.

[2019-11-05 14:54] tandraschko commented on #4738
I reverted it for now as it breaks a simple case:

`                            <p:menuitem icon="fa fa-building"
                                        action="#{indexController.company}"
                                        update="@form">
                                <p:spacer width="10"/>MyMenuItem
                            </p:menuitem>`

The reason is that "custom content" isnt the

[2019-11-05 15:14] Rapster commented on #5241
+1 deprecate constructors (except no arg) sounds good

[2019-11-05 15:29] christophs78 commented on #5024
@mertsincan , @tandraschko , @melloware : This is one issue we should fix IMO for the next release. Some advice how we could solve this? The first time i looked on this (maybe a half year ago) it looked like a somewhat complicated CSS-issue.

[2019-11-05 15:36] melloware commented on #4738
maybe just `"submit=false"` ??

[2019-11-05 15:36] Rapster commented on #4738
Is it possible to update the ticket, i'm not sure I'm following what's wrong?

[2019-11-05 16:13] tandraschko commented on #4738
The problem is that the menu always automatically renders a onclick with either a POST or GET script.
But in the case from the reporter, he has his own link and don't need a onclick.

[2019-11-05 16:13] tandraschko commented on #5024
probably just need a heigher zindex?

[2019-11-05 16:19] melloware commented on #5024
I assigned to @mertsincan because I assumed it was a CSS issue.

[2019-11-05 16:20] #5302 closed, assigned to nobody

[2019-11-05 16:41] Rapster commented on #4738
What about using a facet to override this?

[2019-11-05 17:35] melloware commented on #5299
@irieill Did you settle on a fix?

[2019-11-05 18:45] #5038 closed, assigned to melloware

[2019-11-05 20:12] tandraschko commented on #4738
facet name=action?

[2019-11-05 21:21] irieill commented on #5299
Jep. https://github.com/primefaces/primefaces/pull/5306 Unfortunately I botched the commit message XD

[2019-11-05 21:29] melloware commented on #5299
That is OK at least you submitted the PR!

[2019-11-05 23:47] Rapster commented on #4738
yes it's just a thought, but with name=custom sounds better

[2019-11-06 06:22] mertsincan opened #5307 "Time does not stop spinning in DatePicker"
When I click in the up/down arrow, keep holding the button and release it out of the calendar, then:
- The spinner doesn't stop incrementing
- The calendar popover is closed

[2019-11-06 06:24] #5307 closed, assigned to mertsincan

[2019-11-06 07:08] mdzaebel opened #5308 "WildFly 7.1-SNAPSHOT not deployable: CalendarRenderer"
## 1) Environment
- PrimeFaces version: PF 7.1-SNAPSHOT (checked out some days ago)
- Application server + version: WildFly 11
- Affected browsers: All

## 2) Expected behavior
Deployment with minimal XHTML should work

## 3) Actual behavior
SEVERE Critical error during deployment: : com.sun.faces.config.ConfigurationException:
  Source Document: vfs:/C:/neu/servers/wildfly-11.0.0.Final/standalone

[2019-11-06 08:30] tandraschko commented on #5308
I cant see anything what could be wrong.
Also it works fine for me in Mojarra and MyFaces.

Please try to dig into it, i dont have time to check it on wildfly.

[2019-11-06 08:41] christophs78 commented on #5024
It already has a zindex and increasing this value does not solve the issue.
![grafik](https://user-images.githubusercontent.com/10461942/68281979-10231980-0079-11ea-949d-51c541577657.png)
IMO as i wrote in july the main difference between Calendar and DatePicker is the position inside the DOM where the overlay is attached.

[2019-11-06 09:50] e-reznik opened #5309 "PickList: Multiple Entries"
## 1) Environment
- PrimeFaces version: **7.0**
- Application server + version: **Payara 5**
- Affected browsers: **Firefox**

## 2) Expected behavior
I want to have some entries multiple times in my right list. So the entries shouldn't disappear from the left list.
![grafik](https://user-images.githubusercontent.com/55981254/68288093-15399600-0084-11ea-8f86-186a0d6a0670.png)

## 3) Actual behavio

[2019-11-06 12:19] melloware commented on #5309
Isn't this a duplicate of this: https://github.com/primefaces/primefaces/issues/2858

[2019-11-06 12:49] melloware commented on #5308
I got the same error on WildFly 13 I will investigate.

[2019-11-06 13:35] melloware commented on #5308
OK did some debugging.  If I remove from faces-config-xml..
[code]

It then blows up with the same  error on DatePicker. If I then remove DatePicker...
[code]

Everything starts up fine.  So it is something related to the refactoring of DatePicker/Calendar to use the same BaseCalendarRenderer.

[2019-11-06 13:48] mertsincan commented on #5186
Hi @NicolaIsotta,

Why do you remove time patterns?
[code]
Exp;
[code]
MaxDate is empty string on the widget's script.

[2019-11-06 13:48] tandraschko commented on #5309
I think #2858 can be a part of this ticket.
But this ticket also allows duplicate of the same items in the target and source.

I think we can close #2858 in favor of this.

[2019-11-06 13:52] mertsincan commented on #5099
I think this issue is related to #5186. But, it has some issues. Could you please check this issue again?

[2019-11-06 13:52] #5099 closed, assigned to nobody

[2019-11-06 14:18] NicolaIsotta commented on #5186
User-provided time pattern is ignored because it's evaluated from the component properties:
https://github.com/primefaces/primefaces/blob/dbf4a3759045ad77920c9174480d9015d526abaa/src/main/java/org/primefaces/component/datepicker/DatePickerBase.java#L407-L421
I'll check why this case is not working.

[2019-11-06 14:29] stolp opened #5310 "Poll: class java.lang.String is not supported as "interval" for p:poll"
## 1) Environment
- PrimeFaces version: master (7.1 to be)
- Does it work on the newest released PrimeFaces version? yes, 7.0.8
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat
- Affected browsers: all

## 2) Expected behavior

Background: I am currently attempting a preliminary move from 7.0.8 to the upcoming 7.1 release with my application. During testing

[2019-11-06 14:39] mertsincan commented on #5024
Hi @christophs78,

Please use appendTo="@(body)" attribute on DatePicker.

[2019-11-06 14:39] #5024 closed, assigned to mertsincan

[2019-11-06 14:48] #5310 closed, assigned to nobody

[2019-11-06 14:54] #5308 closed, assigned to melloware

[2019-11-06 14:58] melloware commented on #2858
Closing this ticket as its superseded by #5309

[2019-11-06 14:58] #2858 closed, assigned to nobody

[2019-11-06 15:53] mallorygiles commented on #4383
Should this also prevent javascript:alert(1) from being passed for pfdlgcid? Asking because when scanning my application, it reports XSS vulnerability for my dialogs. Also XSS vulnerability reported when passing pfdlgcid=%3Cimg+src%3Dx+onerror%3Dalert%281%29%3B%3E because the response then contains
`<![CDATA[PrimeFaces.closeDialog({pfdlgcid:'<img src=x onerror=alert(1);>'});;]]>`

[2019-11-06 16:02] melloware commented on #4383
But did you try the above steps in the test?  do you actually get a javascript alert?  I cannot reproduce using the steps in the ticket.

[2019-11-06 16:34] NicolaIsotta commented on #5186
Ok now I remember. This is the function used to parse `mindate` and `maxdate`:
https://github.com/primefaces/primefaces/blob/ac15b2b3d605d711afdeef79702bb19ad0e35150/src/main/resources/META-INF/resources/primefaces/datepicker/0-datepicker.js#L135-L142
In time-only datepickers `dateFormat` is always empty, so `mindate` and `maxdate` are not supported.

[2019-11-06 18:56] mdzaebel commented on #5308
@melloware Thanks a lot for removing the wildcard generic types. However, pulling from the master, doesn't change, as it's in 7.1 milestone. Shouln't this be commited to the master too?

@tandraschko : According to [java-ee-survey-2018](https://arjan-tijms.omnifaces.org/2018/05/java-ee-survey-2018-results.html) WildFly (~60%) is by far the most used application server. What about adding it to the

[2019-11-06 18:57] melloware commented on #5308
hmm are you sure?  I pulled from master and built and my Wildfly is working again.

[2019-11-06 18:59] melloware commented on #5308
it was fixed with this commit: https://github.com/primefaces/primefaces/commit/25991f9d5f81df5993122cacb7ce0c706e26cb5f#diff-25d902c24283ab8cfbac54dfa101ad31

[2019-11-06 19:43] mdzaebel commented on #5308
Ok, I validated, that your sources are correctly commited, but - in contrary to your experience - I now get the following error on WildFly 11:

INFO  WFLYWELD0003: Processing weld deployment pf7-0.0.1-SNAPSHOT.warINFO  Mojarra 2.2.13.SP4  für Kontext '/pf7' wird initialisiert.SEVERE Critical error during deployment: : com.sun.faces.config.ConfigurationException:
  Source Document: vfs:/C:/neu/serv

[2019-11-06 19:47] melloware commented on #5308
That is a different error you are getting "java.lang.NoClassDefFoundError: Lorg/primefaces/util/Lazy;"  Are you sure you don't have your maven builds messed up or two PF JAR's in your war?

[2019-11-06 20:03] tandraschko commented on #5308
yep, seems like a corrupted classpath.

we don't have any "build-server" - we just build primefaces and test with jetty and different JSF impls/versions, thats it.

[2019-11-06 20:16] mdzaebel commented on #5308
I cleaned the WildFly full 11 deployment directories and rebuild everything. I have an absolute minimal PF project with only a minimal index.xhtml and still the same exception occurs. If your primefaces-test (Jetty-based) would conform to JEE, it might be possible to reproduce the problem. It should be possible, to make the web.xml conforming (read some articles about it).

This is my minimal pom.

[2019-11-06 20:22] tandraschko commented on #5308
I'm sure there is something wrong at your side.
"runtime dependency: java.lang.NoClassDefFoundError: Lorg/primefaces/util/Lazy;"
just check our code, it's there.
Or check the generated JAR in the PF target dir - and your primefaces.jar

[2019-11-06 20:28] mdzaebel commented on #5308
yes, the war includes primefaces-7.1-SNAPSHOT.jar which includes the Lazy.class and it is in the deployment directory. Funny stuff - must be a local problem.

[2019-11-06 20:29] melloware commented on #5308
also do me a favor in your /standalone folder delete the folders /data /log and /tmp.  I have seen Jboss get cluttered with "junk" and deleting those folders usually fixes it.

[2019-11-06 21:08] mdzaebel commented on #5308
I stopped the server, deleted data,log,tmp (and additionally all file from deployments) rebuild, restarted and redeployed with a now changed exception:

[code]
In fact, the class exists. So, I really have to reinstall my server, to verify the problem.

[2019-11-06 21:13] tandraschko commented on #5308
Its actual shaded to org.primefaces, no Idea whats wrong on your side

[2019-11-06 21:42] mdzaebel commented on #5308
Same problem on newly created WildFly 15, but PF has commons-io-2.4.jar.

Caused by: java.lang.NoClassDefFoundError: org/apache/commons/io/input/BoundedInputStream
	at java.lang.Class.forName0(Native Method)
	at java.lang.Class.forName(Class.java:348)
	at com.sun.faces.util.Util.loadClass(Util.java:333)
	at com.sun.faces.config.processor.AbstractConfigProcessor.loadClass(AbstractConfigProcessor.ja

[2019-11-06 21:49] mallorygiles commented on #4383
I do not get the alert when I try, but since it was flagged as a possible vulnerability, I wanted to make be sure it's looked into. I'm not a pen-tester or hacker, but I just imagine that if it can be put into the response, then it can probably be exploited somehow. For example, if they already can get `pfdlgcid:'<img src=x onerror=alert(1);>'` what's stopping them from closing out that `<![CDATA[

[2019-11-06 22:25] mdzaebel commented on #5308
@melloware Could you attach a copy of your sample project, that worked?

[2019-11-06 22:27] melloware commented on #5308
Yes tomorrow when I am in the office.

[2019-11-07 00:39] melloware commented on #4383
I am not a pen tester either but I don’t think unless you can get it to alert that it’s vulnerable. What tool is telling you it is?

[2019-11-07 06:28] mdzaebel commented on #5308
I succeeded with removing `<optional>true</optional>` for commons-io in PF pom.xml.

I still would recommend to add tests for most common application servers and to fix primefaces-test to be JEE conforming.

So thanks to @melloware and @tandraschko for your immediate help!!

[2019-11-07 09:29] christophs78 commented on #5024
Hi @mertsincan! Would it make sense to set appendTo per default to "@(body)"?

[2019-11-07 10:07] tandraschko commented on #5308
As i said, there is something wrong at your side.
When i generate the primefaces.jar and check the bytecode, ImageCropperRenderer uses:
org/primefaces/shaded/commons/io/input/BoundedInputStream

[2019-11-07 11:34] nokiajavi opened #5312 "Steps: Allow clickable active item"
Well, I have a problem with the Steps component. When I want to execute actions, updates or url in the active index these are not executed.

The problem is that when the component is rendered, the action index is deleted from the action code or url etc., preventing it from being pressed. Here I show the code of the current operation:

**Example Outputcode:**
in this example, the active index is 2,

[2019-11-07 12:03] mallorygiles commented on #4383
I used OWASP ZAP.

[2019-11-07 12:14] melloware commented on #5308
agreed with @tandraschko you should not need to do this.  My WAR for Wildly just has PF 7.1 in the WEB-INF/lib and it works and starts fine.

[2019-11-07 12:18] melloware commented on #4383
Hmm @cnsgithub care to weigh in here?

[2019-11-07 12:26] melloware commented on #5312
Yep its this code doing that.
https://github.com/primefaces/primefaces/blob/ac15b2b3d605d711afdeef79702bb19ad0e35150/src/main/java/org/primefaces/component/steps/StepsRenderer.java#L135-L137

Looks like it shuts off the current index and all previous indexes.  You want it to be just the previous indexes that are disabled but leave the active item enabled correct?

[2019-11-07 12:53] #4959 closed, assigned to mertsincan

[2019-11-07 14:02] nokiajavi commented on #5312
What should be removed from if, is the '=' , so that the actions of the activeIndex are allowed to be executed

**Correction**:

**change this:**
`activeIndex <= index`

**for this other:**
`activeIndex < index`

[code]

Thanks you!

[2019-11-07 14:16] NicolaIsotta commented on #5186
I found a fix, PR coming

[2019-11-07 14:55] NicolaIsotta commented on #5186
PR: #5313

[2019-11-07 21:52] mdzaebel commented on #5308
Thanks, unfortunately, reverting `<optional>true</optional>` lets the exception reappear. It's located in org/primefaces/shaded, as yours is. However, the runtime classpath seems to load it from a different point. `ImageCropperRenderer `imports `org.apache.commons.io.input.BoundedInputStream`. May be _maven-shade-plugin_ has problems for WildFly on Windows 8 but @melloware has no problems so I'm s

[2019-11-07 22:13] melloware commented on #5308
I will post my war tomorrow. We have to get to the bottom of this.

[2019-11-08 09:55] mertsincan opened #5315 "Panels are processed after paging on DataList and DataGrid"
Reported By PRO User;

[2019-11-08 09:56] #5315 closed, assigned to mertsincan

[2019-11-08 10:06] mertsincan opened #5316 "The onHide method in the Dialog Framework doesn't remove the dialog's widgetVar"

[2019-11-08 10:07] #5316 closed, assigned to mertsincan

[2019-11-08 11:52] melloware commented on #5308
@mdzaebel Download this WAR: http://melloware.biz/download/primefaces/melloware-wildfly.war

Load it in Wildfly and navigate to http://localhost:8080/melloware/jsf/ajax.html

Let me know how it goes.

[2019-11-08 12:52] mdzaebel commented on #5308
ok, will be late in the evening

[2019-11-08 15:28] #5299 closed, assigned to nobody

[2019-11-10 09:08] mdzaebel commented on #5308
I successfully deployed your war on a newly installed WildFly 18. However, the URL has to be http://localhost:8080/melloware rather than http://localhost:8080/melloware/jsf/ajax.html (results in "Not Found").

Still, in my sample project, that depends on PF 7.1-SNAPSHOT, most optional settings in pom.xml of Primefaces lead to problems. E.g. if the optional JSON is required by implementation, class

[2019-11-10 13:25] melloware commented on #5308
OK so now you can extract my 7.1-SNAPSHOT from inside the WAR and replace yours inside your WAR?

it just makes no sense why you need those optional dependencies.

[2019-11-10 17:28] mdzaebel commented on #5308
Replacement did not work. However, looking through the target files of primefaces, I saw, that there are 3 different PF-Jars created. If I use primefaces-7.1-SNAPSHOT-shaded.jar in my WEB-INF/lib. it works. Otherwise, I get the above errors. So, how should I define my dependency in the pom in order to get the shaded jar?

[2019-11-10 17:58] mdzaebel commented on #5308
In order to depend on a shaded jar, you could create an own maven repository, install the shaded jar into it, and than depend on 7.1-SNAPSHOT-shaded, which is altogether not easy. Do you know easier solutions?

[2019-11-10 21:26] melloware commented on #5308
I am still struggling as to what the issue is as I can’t reproduce it. I just run “mvn clean install” on primefaces.  And you have proven my war works fine. So what are you doing differently?  I have no idea what you are talking about a shaded jar?

Can you post your War so I can try it?

[2019-11-11 07:14] ssibitz commented on #5298
Sounds like a nice feature, but why i have to use a
"stringlist - hashmap"
for the client/hybrid mode instead of a normal stringlist in the original server - mode ?

Does that mean that i have to build a stringlist/hashmap with all possible queries
and the values as list which should be shown then for the autocomplete ?

[2019-11-11 10:21] tandraschko commented on #4953
Isnt it the same as: https://github.com/primefaces/primefaces/issues/5024#issuecomment-549873683 ?

[2019-11-11 10:49] #5066 closed, assigned to tandraschko, mertsincan

[2019-11-11 12:14] melloware commented on #4953
Yes. I just tested my example with `appendTo="@(body)"` and its working great!  Closing this ticket.

[2019-11-11 12:14] #4953 closed, assigned to nobody

[2019-11-11 12:50] #3450 closed, assigned to nobody

[2019-11-11 13:03] SimonePadovan commented on #5014
Has this been fixed in 7.0.9 version ? thanks

[2019-11-11 13:16] melloware commented on #5014
Yes its in Elite 7.0.6 and higher.

[2019-11-11 13:20] tandraschko commented on #3889
Related to https://github.com/primefaces/primefaces/issues/4738

[2019-11-11 13:30] tandraschko commented on #3359
Will close it for now.
tried a DataTable with 200 entries and there is no delay.

[2019-11-11 13:30] #3359 closed, assigned to nobody

[2019-11-11 13:30] tandraschko commented on #3288
@Rapster If you would like to see it, please do it before RC1.

[2019-11-11 13:37] tandraschko commented on #3085
already supported, just missing in the docs

[2019-11-11 13:37] #3085 closed, assigned to nobody

[2019-11-11 13:43] tandraschko commented on #3101
AFAICS it should be possible to style it?
Please provide a sample xhtml and explain what doesnt work to style exactly.

[2019-11-11 13:45] SimonePadovan commented on #5014
I'm using 7.0.8 and still have this problem....

[2019-11-11 13:49] melloware commented on #5014
Then yours' might be a different problem.   Please create a reproducer using the PrimeFaces Test project: https://github.com/primefaces/primefaces-test

[2019-11-11 14:16] tandraschko commented on #2174
Seems like a bug in the forked mojarra ui/p:repeat.

it works fine with MyFaces and current Mojarra ui:repeat.

[2019-11-11 15:03] tandraschko commented on #2174
Updated to newest Mojarra UIRepeat

[2019-11-11 15:03] #2174 closed, assigned to nobody

[2019-11-11 15:04] tandraschko commented on #1922
@Rapster said it's fixed in 2.3.2 and i updated to newest UIRepeat now. So i think it's fixed.

[2019-11-11 15:04] #1922 closed, assigned to nobody

[2019-11-11 15:23] tandraschko commented on #1031
updated our forked p:repeat. If it's still not working, it should be fixed in Mojarra first.

[2019-11-11 15:23] #1031 closed, assigned to nobody

[2019-11-11 15:45] melloware commented on #4723
OK narrowed it down.  If you use `effect="none"` on your selectOne this issue does not happen.  It only happens when using the animation effect here:
https://github.com/primefaces/primefaces/blob/c8e95abf9341d9abffc4046156ddea4606ff4992/src/main/resources/META-INF/resources/primefaces/forms/forms.selectonemenu.js#L689-L703

[2019-11-11 17:39] melloware commented on #3588
Closing this issue as it has been solved with the above code. and the suggestion #2 above is a duplicate of https://github.com/primefaces/primefaces/issues/2238

[2019-11-11 17:39] #3588 closed, assigned to nobody

[2019-11-11 18:38] christophs78 commented on #5099
see PR https://github.com/primefaces/primefaces/pull/5313

[2019-11-11 19:34] #5193 closed, assigned to nobody

[2019-11-12 07:24] SimonePadovan commented on #5014
Thanks for your answer, i did what you suggested and noticed that the problem happens only in combination with ultima-theme. So i opened an issue in primefaces ultima forum.
thanks

[2019-11-12 07:49] jepsar commented on #4606
FYI as a workaround I currently use a custom renderer for `p:dataTable` where I default the filter event.

[2019-11-12 08:35] tandraschko commented on #3535
It seems that when deselect a item, the SelectionFeature still receives "@all" instead the "@all - the deselected entry"

[2019-11-12 08:54] tandraschko commented on #3535
the real problem is the following:
datatable.js removeSelection:
when you deselect a row, it removes the rowkey

but in this case, you selected "all" before and "this.selection" is filled with "@all"
in theory we have to replace "@all" with the rowKeys of all rows and then remove the selected rowKey

it's a simple IF statement actually:

        if (this.selection && this.selection.length === 0 &&

[2019-11-12 08:57] Rapster commented on #3288
Let me have a look, I'm afraid I was a bit hasty on this one

[2019-11-12 09:13] sergi-mm opened #5320 "Timeline: timeZone and browserTimeZone are ignored when manually set"
I have an issue using Timeline component in different timezones: we want to force the visualization of the events in an specific timezone, but if we force the timezone in Timeline component, is completely ignored (both _timeZone_ and _browserTimeZone_ parameters). BTW I use Primefaces 7.0.8.

The issue can be simply reproduced using any timeline demo like this: https://www.primefaces.org/showcase/

[2019-11-12 09:16] tandraschko commented on #5320
@christophs78 can you assist?

[2019-11-12 09:27] fanste commented on #3212
It still would be a nice to have and may cleanup some of you hacky code. But yeah, I had no time to think about a good solution. As you said: introducing several hundreds of such event attributes is far too many work and not maintainable.

[2019-11-12 09:32] tandraschko commented on #3212
I think we can easily support 3 events:
postInit
postRefresh
preRestroy

as this is the same for every widget and inherited by core.widget.js

[2019-11-12 09:40] #1179 closed, assigned to nobody

[2019-11-12 10:05] fanste opened #5321 "Excel(X)Exporter: Improve performance for huge exports"
## 1) Environment
- PrimeFaces version: 7.1-SNAPSHOT from the past

## 2) Expected behavior
A datatable with thousands of rows and tens of columns should be exported in a reasonable time.

## 3) Actual behavior
The export takes a really long time and even may crash the application server because of the feature `autoSizeColumn` that is always invoked at the end of the excel export.

A PR is coming

[2019-11-12 10:08] christophs78 commented on #5320
@sergi-mm: Can you check this against 8.0-Snapshot? We did some major rework with 8.0. (updated JS-Library; LocalDateTime instead of java.util.Date, ... (see https://github.com/primefaces/primefaces/wiki/Migration-Guide)

[2019-11-12 10:33] fanste commented on #5321
PR #5322

[2019-11-12 12:13] melloware commented on #3212
@tandraschko Not sure what you were thinking but we could do those in the widget as `callBehavior('postInit')` and then users could use `pe:javascriptBehavior` to attach if we didn't want to update the signature of every single widget in the taglib?

[2019-11-12 12:16] #5321 closed, assigned to fanste

[2019-11-12 12:50] melloware opened #5323 "ContextMenu: Not attaching to page"
PrimeFaces 8.0-SNAPSHOT

Visit Showcase: https://www.primefaces.org/showcase/ui/menu/contextmenu/basic.xhtml

The Context menu should be attached to the page but its not working at all.

[2019-11-12 13:17] #5323 closed, assigned to melloware

[2019-11-12 13:28] Rapster commented on #3288
I thought it'd be easier, but it's not without modifying the PF API. After a deeper analysis, `SplitButton `inherits `HtmlCommandButton` just like `CommandButton`, and this component have no `outcome` attribute, it's certainly wanted that way, to use `action` instead. I think it's better to keep it that way.

[2019-11-12 13:28] #3288 closed, assigned to Rapster

[2019-11-12 15:20] sergi-mm commented on #5320
Ok, we will check it with 8.0-snapshot version, but I see there are many changes in Timeline so we should refactor and test the code

[2019-11-12 20:11] christophs78 commented on #5320
Think we need to implement https://visjs.github.io/vis-timeline/docs/timeline/#Time_zone in PrimeFaces-Timeline to support this usecase.

[2019-11-12 20:24] melloware commented on #5320
@jasonex7 any thoughts on this?

[2019-11-13 07:59] mkomko opened #5326 "DataTable: draggableRows -> wrong value sent to view after reordering"
## 1) Environment
- PrimeFaces version: 7.0.9
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: WildFly 10.1.0
- Affected browsers: All

## 2) Expected behavior
After dragging and reordering rows in a DataTabl

[2019-11-13 09:07] Rapster commented on #5268
I gave a quick polish to SecurityUtils, ~but I don't think passing an object fix that issue. The user wants to pass either a `varargs` or `Object[]` in EL facelet function. The fix won't give the possibility to do as such, unless you use an intermediate bean that does the conversion from Object[] to String (of course).~

My bad, I didn't see the `[]` in the EL

[2019-11-13 10:26] Rapster commented on #5298
@mertsincan can you please update the showcase?

[2019-11-13 12:14] melloware commented on #5326
Is this similar to this issue?  https://github.com/primefaces/primefaces/issues/1499

[2019-11-13 13:26] mkomko commented on #5326
It sounds like it is probably related, but I can't be sure. Also, I just couldn't believe that it's still the same bug after all these years?

[2019-11-13 13:30] melloware commented on #5326
Things only get fixed if...

A) you yourself or an open source committer dedicates time to fixing an issue and submitting the fix
B) You pay PrimeTek for the one time bug fix
C) You pay for PrimeTek Pro support

[2019-11-13 13:31] melloware commented on #5326
Can you try your sample above using the trick they suggested the `<p:ajax event="rowReorder" update="@this"/>` to the datatable?

[2019-11-13 13:51] mkomko commented on #5326
I see! Surprising that no Pro customer had the problem yet :-).

That does indeed work!

[2019-11-13 13:56] melloware commented on #5326
OK let me see if I can fix it for good but at least you have a workaround!

[2019-11-13 13:57] mkomko commented on #5326
Thank you! That StackOverflow answer sounds like a good analysis of the problem: https://stackoverflow.com/a/33911857/10157328

[2019-11-13 14:14] jasonex7 commented on #5320
I agree with @christophs78. I'm going to make a PR to handle that parameter in vis timeline component.

[2019-11-13 14:34] #1586 closed, assigned to nobody

[2019-11-13 15:01] neXus1987 opened #5327 "dataTable: filtering with dynamic id not working"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 8.5
- Affected browsers: Chrome/Firefox

## 2) Expected behavior
When i filter the datatable without a dynam

[2019-11-13 15:03] #2338 closed, assigned to nobody

[2019-11-13 15:16] melloware commented on #1499
Closing this issue as new issue #5326 has attached a reproducible test case.

[2019-11-13 15:16] #1499 closed, assigned to melloware

[2019-11-13 16:39] #30 closed, assigned to nobody

[2019-11-13 18:52] melloware commented on #5320
@christophs78 please review the PR before I merge it.

[2019-11-13 19:56] mhettig commented on #1179
Awesome :man_dancing:

[2019-11-13 20:06] tandraschko commented on #5327
Works fine for me.
@melloware can you verify?

[2019-11-13 20:21] tandraschko commented on #4117
I would like to fix it but no sample -> invalid.
if you still have the problem, please create a new issue with a runnable sample

[2019-11-13 20:21] #4117 closed, assigned to nobody

[2019-11-13 20:22] melloware commented on #5327
[pf-5327.zip](https://github.com/primefaces/primefaces/files/3843339/pf-5327.zip)

Attached is a Test case works fine in 7.0 and 8.0-SNAPSHOT for me.

[2019-11-13 20:22] #5327 closed, assigned to nobody

[2019-11-13 21:19] melloware commented on #1848
[pf-1848.zip](https://github.com/primefaces/primefaces/files/3843536/pf-1848.zip)
Attached is a test case showing the issue.

[2019-11-13 22:35] mdzaebel commented on #5308
Sorry for the delay. Attached my war, that produces the ..BoundedInputStream ClassNotFoundException.

[pf7-0.0.1-SNAPSHOT.war.zip](https://github.com/primefaces/primefaces/files/3843756/pf7-0.0.1-SNAPSHOT.war.zip)

[2019-11-13 22:37] melloware commented on #5308
I don't see the attachment?

[2019-11-13 22:38] mdzaebel commented on #5308
Had to zip it

[2019-11-13 22:38] melloware commented on #5308
OK I see it now, trying it out

[2019-11-13 22:48] melloware commented on #5308
OK I see your problem.

1. In your WEB-INF/lib your primefaces.jar is actually an exploded JAR of compiled classes. That explains the problem I get the same BoundedInputStream problem.

2. I deleted your /lib/primfaces.jar folder and replaced it will a real JAR primefaces-8.0-SNAPSHOT.jar and your war starts up fine.

So the issue is you have some strange configuration where your primefaces is bei

[2019-11-13 22:55] mdzaebel commented on #5308
Yes, the usual dependency in pom does not work. After "mvn clean install" on PF I have the following jars in the target directory:
- original-primefaces-7.1-SNAPSHOT.jar
- primefaces-7.1-SNAPSHOT-shaded.jar  (works)
- primefaces-7.1-SNAPSHOT.jar (does not work)

But how should I depend on the project in the pom (I use Eclipse) in order to get the shared jar? I could copy it into WEB-INF/lib but of

[2019-11-13 23:00] melloware commented on #5308
So if you are using Eclipse its linking your PrimeFaces source code.  You can either right click on the your WAR project and unlink the project.   Or close your Primefaces source code project in Eclipse and itwill go back to using your JAR version.

I think your problem is that Eclipse is seeing your open PrimeFaces Source, and your WAR is using that project.  Try closing your Primefaces source co

[2019-11-13 23:04] mdzaebel commented on #5308
Ok, thats a good explanation. I'll try it tomorrow. It's 0:04 in Germany. Thanks for your instant help!!

[2019-11-13 23:19] mdzaebel commented on #5308
After `mvn clean install` on Primefaces, closing it and redeploy my dependent project it works. So this is a solution, but should be mentioned as many could fall into this trap.

[2019-11-13 23:20] melloware commented on #5308
Nice!  yeah i think you are surprisingly in the minority of people who keep the PF source code open in the same Eclipse :)  But glad you got it resolved!

[2019-11-13 23:21] mdzaebel commented on #5308
Yes, thank you too, wonder where you get your energy to help so much in PF issues!

[2019-11-13 23:52] Rapster commented on #30
I already felt that 2 load methods was too much for something that is supposed to only fetch data, but now 4 load method...!?

[2019-11-14 07:29] mertsincan opened #5329 "inputTextarea maxlength allows ENTER over limit"
Reported By PRO User;

[2019-11-14 07:31] #5329 closed, assigned to mertsincan

[2019-11-14 07:39] tandraschko commented on #30
Its better to have 4 methods as breaking nearly all PrimeFaces applications ;)

[2019-11-14 08:46] Rapster commented on #5162
I just tried your use case:

1. You passed incorrect value to field, pass a String value not an EL expression (unless it has a proper value)
2. [Column#field](https://www.primefaces.org/docs/vdl/7.0/primefaces-p/column.html#field) does exactly what you want
3. we'll have to revert that commit sooner or later since it has regression on #4185

[2019-11-14 08:52] Rapster commented on #30
Still think it's not a good idea to introduce so many methods... I would do same as `Exporter#export`: create a immutable object that wrap your inputs

[2019-11-14 09:09] tandraschko commented on #30
There are only 4 inputs, i don't see a reason to do some overengineering here.
Old methods are not used by PF and are deprecated, thats ok for now.

[2019-11-14 09:30] Rapster commented on #30
Ok I saw you just deprecate these methods. It's not about the number of arguments, it's the API calling:
- different load method
- having different (and just a few) inputs depending the datatable configuration
- which could grow in the future, and that will make your method signatures change again...

On top of that, having 4 times the same method name is hard to read/analyse.... Anyway, as long w

[2019-11-14 12:10] tandraschko opened #5330 "SearchExpressionHint should be a Enum"
to be similar to JSF2.3, also this case fails:

        Assertions.assertFalse(
            SearchExpressionUtils.isHintSet(
                SearchExpressionHint.VALIDATE_RENDERER | SearchExpressionHint.SKIP_UNRENDERED | SearchExpressionHint.RESOLVE_CLIENT_SIDE,
                SearchExpressionHint.IGNORE_NO_RESULT));

[2019-11-14 12:11] #5186 closed, assigned to nobody

[2019-11-14 12:12] #5320 closed, assigned to jasonex7

[2019-11-14 12:47] #5330 closed, assigned to tandraschko

[2019-11-14 12:51] melloware commented on #5330
Can you check I am getting a compile failure "SelectCheckboxMenuRenderer.java:[327,129] incompatible types: org.primefaces.expression.SearchExpressionHint cannot be converted to java.util.Set<org.primefaces.expression.SearchExpressionHint>"

[2019-11-14 13:58] Rapster commented on #30
@tandraschko  In case you didn't notice, the unit test `LazyDataModelIteratorTest#testOverloadedIteratorSingleSorting` is failing

[2019-11-14 14:04] tandraschko commented on #30
no idea, i dont have build failures?!

[2019-11-14 14:13] tandraschko commented on #30
damn netbeans... they are running now

[2019-11-14 14:14] Rapster commented on #30
Maybe you skipped tests, but travis complains and I also have this test failure

[2019-11-14 14:33] tandraschko commented on #30
Can't debug currently as my netbeans doesn't support junit5 yet.
If someone can fix this, please do.

[2019-11-14 15:36] tandraschko opened #5332 "TreeTable: custom filter with SelectOneMenu not working"
Main difference:
DataTable: SelectOneMenu#validate is called before populateFilterMetaData
TreeTable: SelectOneMenu#validate is called after populateFilterMetaData

[2019-11-14 15:56] Rapster commented on #30
This unit test is really confusing me, it's more a `LazyDataModel` unit test than a `LazyDataModelIterator` test, i'm not sure what it's trying to test and with all these load methods I'm kinda lost...

Basically `LazyDataModelImpl#load` is never called, that explain the 0 count

[2019-11-14 16:04] melloware commented on #30
Since the test failure is on a deprecated method should we just remove that test altogether?

[2019-11-14 16:07] tandraschko commented on #30
dont think so
we still support the old method, it's just deprecated and should actually work as before

[2019-11-14 17:37] melloware commented on #30
I looked at this and I have no idea how the unit test was working with the old code.  I believe the code is correct I believe the unit test is flawed.

[2019-11-14 18:41] christophs78 opened #5334 "DatePicker: timeOnly; default time should respect minDate and maxDate"
# Issue 1
DatePicker in timeOnly-mode defaults to the current time; this does not make sense when minDate and/or maxDate are set
--> DatePicker should check wether current time is inside minDate/maxDate; if not it should default to minDate (when current time is before minDate) respectively maxDate (wehn current time is after maxDate)

# Issue 2
eg DatePicker-input has value 04:00. minDate is 07:00

[2019-11-14 20:14] Rapster opened #5335 "Improve quality gate before 8.0"
Before 8.0 gets released, I'd like to clean up few things based on sonarcloud analysis. The idea is just to apply the simplest fix to the squids. I'm planning to start with [maintainability section](https://sonarcloud.io/component_measures?id=org.primefaces%3Aprimefaces&metric=Maintainability). Of course, I'll do whatever I can in the most reasonable way. I'll certainly ping you for advice.

[2019-11-15 08:51] tandraschko commented on #5335
please also check why our sonar-project.properties isn't used correctly
i always deactived the rules in our properties first but doesn't work, so i had to use the UI to disable checks.

[2019-11-15 10:41] tandraschko commented on #5335
What should we do about:
https://sonarcloud.io/project/issues?id=org.primefaces%3Aprimefaces&open=AWWwlzIHlgbYnohYUhY0&resolved=false&types=VULNERABILITY

[2019-11-15 10:46] Rapster commented on #5335
2 options: disable the rule or turning into immutable list.

I don't think sonarcloud consider the properties file, see https://stackoverflow.com/a/45095506/4605161

[2019-11-15 10:51] Rapster commented on #5335
@tandraschko I created that ticket so we can link commits, and also I think it'd be better to commit per squid and not randomly...

[2019-11-15 10:55] Rapster commented on #5335
squid:S2176 I think it has a good point and we shouldn't disable it, mostly we should rename all into ClientXXXConverter or ClientXXXValidator

[2019-11-15 10:58] Rapster commented on #5335
squid:S1611 "Parentheses should be removed from a single lambda input parameter when its type is inferred" Why disable it?

[2019-11-15 11:44] christophs78 commented on #5335
Ok. I´ll look into TimelineEvent und ScheduleEvent. (introduce builder, deprecate args constructors)

[2019-11-15 11:46] christophs78 opened #5337 "TimelineEvent and DefaultScheduleEvent: provide builder"
deprecate args constructors; like https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/model/menu/DefaultMenuItem.java

also see https://github.com/primefaces/primefaces/issues/5335

[2019-11-15 14:01] ndrikdarto opened #5339 "PanelMenu: link ignores "target" attribute"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-11-15 14:13] tandraschko commented on #5339
@melloware
thats something for you
PrimeFaces.utils.openLink(e, currentLink); doesn't honor the target attribute

[2019-11-15 14:32] Rapster commented on #5335
@christophs78 Could you have a look at [this one](https://sonarcloud.io/project/issues?id=org.primefaces%3Aprimefaces&open=AWxM5-Nqdg2jiL0yV2Wf&resolved=false&rules=squid%3AS2175) please

[2019-11-15 14:53] tandraschko commented on #5335
i think it's right to disable squid:S2176; also think about SelectOneMenu or InputText.

[2019-11-15 14:57] Rapster commented on #5335
What about them? Their hierarchy looks good to me

[2019-11-15 15:00] tandraschko commented on #5335
We will also have classes with the same name as in the JSF API/Impl, therefore S2176 doesn't make sense for me.

[2019-11-15 15:07] Rapster commented on #5335
Well, I'd say using same names as api was not the best thing to do in a first place... It's definitely an unusual move... Anyway I'll check it out later

[2019-11-15 15:22] tandraschko commented on #5335
yup but there is no reason to change it ;) therefore -1 to change something here.

[2019-11-15 16:05] maruTA-bis5 opened #5340 "Client Side Validation: CSV for byte value is inconsistent with server-side validation"
## 1) Environment
- PrimeFaces version: 7.0 Community
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source): No
- Application server + version: WildFly 18.0.1
- Affected browsers: All

## 2) Expected behavior
-127 ~ 128 is valid for byte value.

##

[2019-11-15 16:14] tandraschko commented on #5340
A PullRequest with a bugfix would be great!

[2019-11-16 11:56] Rapster commented on #5335
Working on that [squid](https://sonarcloud.io/project/issues?id=org.primefaces%3Aprimefaces&resolved=false&rules=squid%3AS1161&types=CODE_SMELL):
1. `DatePickerBase#getSelectionMode`: I think there is a design issue here, since Calendar has not selectionMode

2. `SelectOneMenuBase#setDir`: Hides `HtmlSelectOneMenu#setDir` which does a `handleAttribute("dir", dir);`. IMO, we shouldn't override getD

[2019-11-16 12:25] Rapster commented on #5335
@tandraschko Since you updated UIRepeat recently, does UITabPanel need also to be updated since it's copied from MyFaces?

[2019-11-16 14:29] christophs78 commented on #5335
I think that´s fine. DatePicker has a selectionMode. (single, multiple, range)
Calendar has it´s own base-class which does not contain selectionMode, because calendar does not support selectionMode.

[2019-11-16 20:29] Rapster commented on #5335
@christophs78 @tandraschko don't you think `LazyScheduleModel#loadEvents` should be abstract?

[2019-11-16 21:52] christophs78 commented on #5335
Yes, should be abstract.

[2019-11-17 12:23] #5337 closed, assigned to nobody

[2019-11-17 16:40] christophs78 commented on #5335
@Rapster: https://sonarcloud.io/project/issues?id=org.primefaces%3Aprimefaces&issues=AWkJ_LvjgtFwgfOLlJpO&open=AWkJ_LvjgtFwgfOLlJpO seems to be a false-positive. It seems to be the only "critical" security issue. Is there a way to get rid of it?

[2019-11-17 19:51] Rapster commented on #5335
Should we delete `ConstantsHashMap` and `EnumHashMap`? We should simply do a simple test and throw an exception, no need to create a new class for that

[2019-11-17 20:05] tandraschko commented on #5335
nope, we can't as we just put them into the FC attributes

[2019-11-17 20:07] Rapster commented on #5335
Oh yeah I see what you mean

[2019-11-17 22:12] Rapster commented on #5335
Just a thought, just like we did for fileupload, should we move some of the classes in `org.primefaces.model` into a more appropriate package? I was thinking of packages like:
- data
- tree
- schedule
- dashboard

[2019-11-17 23:38] Rapster commented on #5340
I think the problem comes from here: https://github.com/primefaces/primefaces/blob/0ce35ffd518c794f5db5e392b381e87efb8bb9e0/src/main/resources/META-INF/resources/primefaces/validation/validation.js#L377

And byte has a minimum value of -128 and a maximum value of 127 inclusive

[2019-11-18 00:09] #5340 closed, assigned to nobody

[2019-11-18 00:10] Rapster commented on #5340
@maruTA-bis5 just fix it, please try with the latest snapshot

[2019-11-18 03:44] maruTA-bis5 commented on #5340
@Rapster This issue still reproduces.

1. Input `-1`
    - expected: no error
    - actual: `'-1' must be a number between 0 and 255.`
2. Input `128`
    - expected: `'128' must be a number between -128 and 127.`
    - actual: '128' must be a number between 0 and 255.

[2019-11-18 06:16] christophs78 commented on #5335
Schedule already has a some breaking changes. So developers need to touch code. Think this is a good opportunity the also move model-classes into a distinct package.
On the other ones i would be conservative.

[2019-11-18 07:39] tandraschko commented on #5335
Time for breaking changes is over now, WE will probably so rc1 this week.
So Testing on my side already started.

[2019-11-18 07:57] Rapster commented on #5335
I think it's better to make breaking changes once and for all than at every release. Specially that we already made modifications that makes developers touch the code like @christophs78 said, and renaming package is not the kinda task that takes time

[2019-11-18 09:09] Rapster commented on #5340
Having a look

[2019-11-18 09:26] Rapster commented on #5340
Can you try again please? Dont forget to clear your cache

[2019-11-18 09:56] maruTA-bis5 commented on #5340
4e85d2b3da works perfectly. Thank you @Rapster  !

[2019-11-18 13:10] melloware commented on #5339
Looking into it!

[2019-11-18 14:21] #5332 closed, assigned to tandraschko

[2019-11-18 15:06] tandraschko commented on #5207
added "itemUnselect" event

[2019-11-18 15:06] #5207 closed, assigned to tandraschko

[2019-11-18 15:29] melloware commented on #5339
@tandraschko @ndrikdarto This work fine for me in PF 7.0 and 8.0-SNAPSHOT.  Attached is a test case where I open the same URL in an IFRAME, _self, and _blank to open in a new window.  It is respecting the "target" attribute correctly.

[pf-5339.zip](https://github.com/primefaces/primefaces/files/3859337/pf-5339.zip)

[code]

[2019-11-18 15:31] tandraschko commented on #5339
Test the panelMenu  case :P
SlideMenu doesn't use the PrimeFaces.utils.openLink method

[2019-11-18 15:35] melloware commented on #5339
Ahhh i see his test case is PanelMenu.  Creating a reproducer now.  I can reproduce on PF7.0 and 8.0.

[2019-11-18 15:42] melloware commented on #5339
OK submitted fix and tested in IE11, Chrome, Firefox, Edge.

[2019-11-18 16:21] tandraschko commented on #5335
we can't do this without asking PrimeTek and i even didn't get a answer if we release RC1 this week or not.

@rapster WDYT about disabling the "duplicate code" checks? We always try to optimize duplicate code but most of the issues can't be resolved. We are a component framework - some component are always similar.

[2019-11-18 16:26] Rapster commented on #5335
I know the "duplicate code" is big and sometimes we can't do much about it _(this is why I disabled it for XXBase.java)_, but regarding renderers and others, I think it's better to keep an eye on it, we can't simply ignore it

[2019-11-18 18:08] #5339 closed, assigned to melloware

[2019-11-18 20:39] christophs78 commented on #5335
How´s the releationship between community and PrimeTek? PrimeNG, PrimeReact und PrimeVue seem to be driven by PrimeTek by at least 95%. PrimeFaces ist different at this point in time. It´s driven primary by the community.
Is PrimeTek happy with the current state of things? Does the commerical part work for them? Is there some kind of coordination between PrimeTek und community?

[2019-11-18 21:01] melloware commented on #5335
I think your analysis is correct about the other Prime projects are 95% PrimeTek right now similar to how PrimeFaces was back from 2011-2015.  Since 2015 it seems Mert is the PrimeTek employee overseeing PF but he typically only fixes PrimeFaces PRO reported issues leaving all other issues up to the community to fix.

However if its a MAJOR refactoring usually Thomas will check with Mert first for

[2019-11-18 21:03] tandraschko commented on #5335
PrimeTek is the "owner" - i'm the "community lead" and therefore the "bridge" between PrimeTek and community.
I'm also not a employee of PrimeTek. I just have good connections to PrimeTek and use PrimeFaces since many years in my daily job.

You can just compare the numbers of stars and everything on github.
PrimeNG is probably ~5x more often used as PrimeFaces. Thats also expected - Angular works

[2019-11-19 07:15] martin654 commented on #5159
Hi, can I have a question why **p-nogutter** is used for rows? ( FLEX_ROW_CLASS = "p-grid p-nogutter"; ) What if user wants some gutter? Shouldn't this be optional? Thanks

[2019-11-19 07:33] christophs78 commented on #5159
Do you have a concrete usecase where it would be better without p-nogutter?
When you look at the showcase-page https://www.primefaces.org/showcase/ui/panel/panelGrid.xhtml i think we are fine with p-nogutter.
From a technical point of view it would be easy to remove p-nogutter from FLEX_ROW_CLASS. After introducing layout="flex" we also added the new attribute "contentStyleClass". So it would be e

[2019-11-19 10:27] tandraschko opened #5343 "DatePicker: does not remove duplicate panels when using appendTo"

[2019-11-19 11:52] #5343 closed, assigned to tandraschko

[2019-11-19 11:52] martin654 commented on #5159
Well, in our case we used layout="grid" and switched to layout="flex". In "grid" layout we had configured padding between "cells" of the grid and we wanted to use them as well in "flex" mode.

In given showcase-page the principle is a bit "wierd" - the theme defines margin that overrides the p-nogutter no-margin. We would have to do the same in our theme.

I think it would be more straightforward

[2019-11-19 12:12] #5293 closed, assigned to nobody

[2019-11-19 12:47] SimonePadovan commented on #5014
@mertsincan can you please investigate this problem happening only using ultima theme?

[2019-11-19 12:52] tandraschko commented on #3512
Created a issue in the JSF specs: https://github.com/eclipse-ee4j/faces-api/issues/1481

As you are the only user currently with this feature request, i think we can close it for now and wait for JSF3.

[2019-11-19 12:52] #3512 closed, assigned to nobody

[2019-11-19 13:45] fanste opened #5345 "SplitButton: Support for p:confirm"
Issue #507 introduced support for `p:confirm` in the menu items of the split button. This issue is about to support the split button itself.

PR is on the way.

[2019-11-19 13:55] fanste commented on #5345
PR #5346

[2019-11-19 14:07] melloware commented on #811
Closing issue as duplicate with workaround

[2019-11-19 14:07] #811 closed, assigned to nobody

[2019-11-19 14:11] melloware commented on #3602
@fanste why not submit a PR if you have tested it?

[2019-11-19 14:39] fanste commented on #3602
Well.. thats a good question... so -> #5347

[2019-11-19 16:28] christophs78 opened #5348 "DefaultCommand: exclusion of textarea,button,input[type="submit"],a does not work when used together with scope"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? No

## 2) Expected behavior
DefaultCommand should not be triggered inside a textarea. (Because inside a textarea we expect to create a new line with enter.)

## 3) Actual behavior
When used without scope it work´s fine. When used with scope it does not work.

## 4) Steps to reproduce
push

[2019-11-19 16:34] melloware commented on #5348
Related to https://github.com/primefaces/primefaces/issues/4984 See my comments on what may be wrong

[2019-11-19 16:35] fanste commented on #5211
The PR #5349 fixes even some more issues regarding `p:columnToggler` and `p:dataTable`.

I once quickly clicked through using the provided sample project.
@Dasister please test my changes.

[2019-11-19 16:42] Rawi01 commented on #3512
Thanks for the update, would be great to get it in JSF3. I solved this problem using a custom renderer, guess that I have to maintain it for some time :smile:

[2019-11-19 16:44] christophs78 commented on #5348
Yes, same issue. Thank´s for pointing me on this.
I´ll provide a PR within the next few days.

[2019-11-19 16:46] melloware commented on #5348
OK i will close this one as a dupe since the other has a runnable reproducer.

[2019-11-19 16:46] #5348 closed, assigned to christophs78

[2019-11-19 21:59] jasonex7 opened #5352 "Timeline: error mixing start/end properties with some events"
When Migrating PF Extensions https://github.com/primefaces/showcase-facelift/issues/63 I realized that start and end properties of <p:timeline> doesn't work when define some timeline ajax events in Editable Server-side example because of the way of binding some ajax events on client side.

[2019-11-19 22:46] Rapster commented on #5345
More support for `p:confirm` I like it! :wink:

[2019-11-19 23:44] Rapster commented on #5352
Next time, please follow issue template

[2019-11-20 06:13] mertsincan opened #5354 "Lazy loading is not working correctly on DataScroller"
Reported By PRO User;

[2019-11-20 06:14] #5354 closed, assigned to mertsincan

[2019-11-20 12:09] #5352 closed, assigned to jasonex7

[2019-11-20 17:40] christophs78 opened #5355 "Timeline: buffer rangechange-events to reduce the amount of requests"
Primefaces 8.0-SNAPSHOT (but not a new 8.0 issue)

When we look at https://www.primefaces.org/showcase/ui/data/timeline/allEvents.xhtml and scroll within the timeline we see a huge amount of rangechange-events are fired.

![grafik](https://user-images.githubusercontent.com/10461942/69262979-b2d4af80-0bc4-11ea-9479-6155b6dac003.png)

Maybe we should send only all 100ms (or so) one event to the serv

[2019-11-20 17:46] melloware commented on #5355
Adding @jasonex7

[2019-11-20 18:21] christophs78 commented on #5355
Maybe it´s simple a bad idea to listen to to rangechange-event and someone should only listen to the rangechanged-event.

[2019-11-20 18:25] jasonex7 commented on #5355
I don't think server side processing of rangechange-event is appropriate, I think that event is best for client-side maybe with [<pe:javascript />](https://www.primefaces.org/showcase-ext/sections/clientBehaviours/javascriptBehaviour.jsf) tag.

[2019-11-20 18:31] christophs78 commented on #5355
Ok. I will add a note to the documentation and remove rangechange-event from the allEvents-showcase-page.

[2019-11-20 20:49] tandraschko opened #5356 "Check MyFaces ViewPooling compatibility"
See: https://myfaces.apache.org/wiki/core/user-guide/configuration-of-special-features/view-pooling.html

especially:

[2019-11-20 20:57] tandraschko commented on #5356
Open:
- DataTable
- DataView
- UIRepeat
- Tree
- TreeTable

Done/Checked:
- UICache
- AutoComplete
- Calendar
- Columns
- ColumnToggler
- CellEditor
- DatePicker
- InputTextarea
- OrderList
- Panel
- PickList
- Rating
- Schedule
- SelectOneRadio
- SelectManyCheckbox
- Wizard

[2019-11-20 21:03] tandraschko commented on #5356
@christophs78 can you please try to analyze why in Calendar and DatePicker there is a customEvents, which triggers the event later in the validation phase? little bit strange code
Nevermind, same in PickList and OrderList, probably just to trigger the event after validation

[2019-11-20 21:03] melloware commented on #5227
@christophs78 where are we with this ticket?

[2019-11-21 08:13] christophs78 commented on #5227
Hm... We have the project-specific solution, we included into the showcase.
Do we want to add something to PrimeFaces OOTB? Or do we want do write a note into the documentation?
IMO this ticket ist not really "finished".

[2019-11-21 09:19] #5355 closed, assigned to nobody

[2019-11-21 12:31] melloware commented on #5335
@Rapster how close are we to finishing this ticket?  I still see 44 open items on the report. I think you fixed the XXE one but its still showing up on the report?

[2019-11-21 12:44] #5345 closed, assigned to fanste

[2019-11-21 13:23] Rapster commented on #5335
44? I see 602! What are these XXE you mentionned? For 8.0, we might be okay, there is still 2 or 3 squid I'd like to fix. I'd like to have your opinion on this squid [Fields in a "Serializable" class should either be transient or serializable](https://sonarcloud.io/project/issues?id=org.primefaces%3Aprimefaces&open=AWWwly4VlgbYnohYUhPP&resolved=false&rules=squid%3AS1948&types=CODE_SMELL)

[2019-11-21 13:34] melloware commented on #5335
Its 44 Vulnerabilities: https://sonarcloud.io/project/issues?id=org.primefaces%3Aprimefaces&resolved=false&types=VULNERABILITY

Not the 602 code smells I am more concerned about vulnerabilities.

[2019-11-21 13:46] melloware commented on #5335
As for your question we have two options.
[code]
or
[code]

I personally prefer option 1.

[2019-11-21 13:47] Rapster commented on #5335
Well, by the look of it I'm not really concerned, you can have a look it's 99% the same problem, but I don't think sonarcloud suggestion is the best. I would use an immutable set instead of making it protected

[2019-11-21 13:52] melloware commented on #5335
I think the XXE one that was assigned to you about the XML Transformer you fixed but it's still showing up?

[2019-11-21 13:54] christophs78 commented on #5335
Yep, i also think the XXE is a false positive. Asked a few days ago whether we are able to mark it as false positive...

[2019-11-21 14:03] christophs78 commented on #5356
Yep, think the same. eg dateSelect should only be triggered after the selected value was validated successful.

[2019-11-21 14:56] christophih opened #5359 "SelectCheckboxMenu: itemDisabled is broken"
## 1) Environment
- PrimeFaces version: latest
- Does it work on the newest released PrimeFaces version? no
- Does it work on the newest sources in GitHub? no
- Application server + version: OpenLiberty
- Affected browsers: Browser independent

## 2) Expected behavior

If selectItems are disabled
...
<f:selectItems ... itemDisabled="#{val.valid} ... />
...
it should be rendered to the client. That

[2019-11-21 14:59] melloware commented on #5359
Might be related to this fix: https://github.com/primefaces/primefaces/issues/5063

[2019-11-21 15:07] melloware commented on #5359
[pf-5359.zip](https://github.com/primefaces/primefaces/files/3875316/pf-5359.zip)
Attached is test case run `"mvn clean jetty:run-exploded"` to run it and go to localhost:8080.

Can you reproduce your issue with that?  It seems to be fixed on 8.0-SNAPSHOT?

[2019-11-21 17:29] tandraschko commented on #5335
I already marked it as false positive but on the next checks, it shows again.

[2019-11-21 17:43] tandraschko commented on #5335
About the vulnerabilities...

95% of the issues are public modifiable arrays/sets/lists whatever.
It's not nice but whats the problem here? that a user can manipulate our HTML attributes? Thats even possible with unmodifieable maps or anything else. Reflection makes it possible.

Therefore, if we don't find a good reason, -1 from my side to change it.

Of couse immutable set is a nicer code - but

[2019-11-21 20:49] Rapster commented on #5335
I disabled that "XML transformers should be secured" squid. Regarding the rest, I think sonar has his good reasons to consider it as a vulnerability (actually it's listed in the squid description), even though I understand it, I don't mind it

[2019-11-21 23:20] Rapster commented on #5335
`UIOutcomeTarget#getChildren` never used: safe to delete?

[2019-11-22 07:07] #5211 closed, assigned to nobody

[2019-11-22 07:33] #3602 closed, assigned to fanste

[2019-11-22 07:36] christophih commented on #5359
Thank you for information about issue #5063. Seems to be fixed with 8.0-SNAPSHOT.

[2019-11-22 08:13] #5359 closed, assigned to nobody

[2019-11-22 08:31] #4984 closed, assigned to mertsincan

[2019-11-22 09:28] Rapster commented on #5335
@tandraschko Does `DefaultStreamedContent` needs to implement `Serializable`? I'm pretty sure there was a long discussion about this, but can't find the ticket

[2019-11-22 09:29] tandraschko commented on #5335
yep
normally it's used in requestscoped bean but sessionscoped could serialize it

[2019-11-22 12:48] melloware commented on #5335
Here is the problem I have with that mutability warning.
[code]
Is immutable as EnumSet.of makes an immutable set.  But their detector just sees a `public static Set` and assumes its mutable.

[2019-11-22 12:52] tandraschko opened #5361 "Calendar/DatePicker: value not set in component, if no value-binding is set"
A common case for DataTable filter is that the filter facet contains a datepicker/calendar without a value binding.
In this case we don't convert the submitted value and the DatePicker#getValue is null -> no filtering applied

[2019-11-22 12:56] tandraschko commented on #5361
@christophs78 please also review

[2019-11-22 12:56] #5361 closed, assigned to tandraschko

[2019-11-22 13:15] melloware commented on #2832
Looks like this could help? https://github.com/quilljs/quill/issues/479

[2019-11-22 13:21] christophs78 commented on #5361
The fix looks reasonable.
But it may be some kind of breaking change to return LocalDate if no ValueExpression is present. Up to 7.0 BaseCalendarRenderer#getConvertedValue returned a java.util.Date without a explicit converter.
Now we return LocalDate if no ValueExpression is present and no explicit converter is defined.
Think we need to add this to the MigrationGuid. (IMO this may cause some not

[2019-11-22 13:28] tandraschko commented on #5361
yep, could you add something to the migration guide?

[2019-11-22 13:58] tandraschko opened #5362 "Accordion: tab header should render a ID"
Currently the id of the tab is rendered to the content, but not to the header.
I would add the same Id to the header, but with "_header" suffix.

[2019-11-22 14:04] #5362 closed, assigned to tandraschko

[2019-11-22 14:27] christophs78 commented on #5361
Yes

[2019-11-22 16:08] Rapster commented on #5335
EnumSet is not immutable unfortunately

[2019-11-22 16:18] christophs78 opened #5363 "DatePicker: inline="true" broken"
I broke it with https://github.com/primefaces/primefaces/commit/24ea45ed86d3e8f4d865e3f38d28338c9e3ffb03.

I have to add a fix to ignore appendTo="@(body)" for inline="true".

[2019-11-22 16:24] jxmai commented on #2832
@melloware This issue might be fixed. Pls correct me if I am wrong.

I tried to use the sample I provided https://github.com/primefaces/primefaces/issues/2832#issuecomment-343242737 with an additional `secure="false"` due to https://github.com/primefaces/primefaces/issues/5163#issuecomment-532231472

[code]

Enter key works inside the dialog with default command

![image](https://user-images.githu

[2019-11-22 17:05] christophs78 commented on #5361
done

[2019-11-22 17:18] christophs78 commented on #5361
@tandraschko:
Maybe stupid question: Which client-side event of Calender/DatePicker do you use to filter the DataTable? onchange only get´s triggerd when i type text into the field and leave it. When i pick a date via Calendar/Datepicker there does not seem to be a appropriat event to listen to.

[2019-11-22 17:19] tandraschko commented on #5361
It was from a customer
he registered p:ajax on onchange and dateselect and triggered the DT filter in oncomplete

[2019-11-22 17:41] melloware commented on #2832
You are 100% correct!  Marking as fixed in 8.0 and closing ticket.

[2019-11-22 17:41] #2832 closed, assigned to nobody

[2019-11-22 18:24] melloware commented on #5335
You are right I just fixed it and Sonar respected wrapping in UnmodifiableSet!  Seeing if I can fix the others.

[2019-11-22 19:20] tandraschko commented on #5335
Cagatay postponed RC1 to early next week
but as we already in bugfixing phase, please don't commit big refactorings anymore

[2019-11-22 19:27] melloware commented on #5335
OK we will freeze this ticket until after RC1 is released.

[2019-11-22 20:25] markusg80 commented on #5060
Any news regarding this issue? It is really important feature for us to change from Calendar to Datepicker component

[2019-11-22 20:27] tandraschko commented on #5060
Not really :D
Feel free to provide a PR or sponsor it via PrimeFaces PRO!

[2019-11-22 21:01] markusg80 commented on #5060
Is there really no one else with the need to enter the time with Keyboard? It can be very boring to enter time value with mouse controls. To submit a pr i dont have the time st this moment and my company dont have any intension to spend money for one festure.

[2019-11-22 21:07] melloware commented on #5060
There probably are others out there that need this feature but it will only get fixed if someone in the community submits a PR or sponsors it via PRO.  if your company doesn't want to then you will just have to wait and rely on others.

[2019-11-22 21:20] markusg80 commented on #5060
And why Primefaces has no intensions to add features to his components many people asking for. It is always an advantage for Primefaces to have useful features for the components! I think its not so a big effort for experienced programmer to implement this. I doesn‘t have experience in creating web components. so for me it will be a big effort to implement feature in a Webcomponent and to ensure t

[2019-11-22 22:05] melloware commented on #5060
I don’t disagree. I am just telling you your options for making it happen.

[2019-11-23 11:39] #5363 closed, assigned to nobody

[2019-11-24 03:18] Rapster commented on #5335
Should we?

Another thing, you'll see  few things increased on [sonarcloud](https://sonarcloud.io/dashboard?id=org.primefaces%3Aprimefaces), it's because I added js/css files. Those results has been uploaded from my personal PC, I'm working on creating a new profile in maven for this. Just like for java files, there might be rules that need to be disabled. But please, let's talk about it first

[2019-11-24 07:06] christophs78 commented on #5335
I think we should target js/css-qualitiy-improvements for 9.0 release.
Why? Last year Microsoft screwed the MS-SQL-Server-JDBC-driver 7.2 - release by doing some last minute code-improvements suggested by SonarCloud (or some similar tool). They had no appropiate automated tests. So the 7.2 - release had a major bug. They needed to reject it und replace it with 7.2.1.
Think we should target js/css-

[2019-11-24 10:11] tandraschko commented on #5335
As i said, code is freezed for refactoring now.
I will check tomorrow If the Method mentioned by rapster can be removed.

[2019-11-24 11:56] Rapster commented on #5335
I didn't plan to do anything on that front for this release, I was keeping you updated in case you didn't notice

[2019-11-24 13:40] Rapster commented on #5356
I'm not sure I understand those changes according to view pooling definition of MyFaces. First, it sounds like in case there are attributes that needs to be saved/restored in the state then saveState/restore has to be implemented. Does all attributes needs to be saved and restored? MyFaces uses UIData as an example, but I feel it's a complex component to take as an example 😅

Second, since compone

[2019-11-24 15:07] tandraschko commented on #5356
I probably reverted the commit you linked as the component references are ok, they are in the same view.

Most of the times we use fields as Cache in current request. This has to be resetted as the view is now reused in other requests

[2019-11-24 15:09] Rapster commented on #4185
Reopened because of #5162