[2020-11-23 20:36] tandraschko commented on #3796
Not sure.
If you get the sample project and replace all message with mesages, only the messages in each line for the associated Input is displayed?
Or do i remember incorrectly?

[2020-11-23 20:46] melloware commented on #3796
No replacing with `messages` does not work.  Attached is a reproducer:
[pf-3796.zip](https://github.com/primefaces/primefaces/files/5585679/pf-3796.zip)

[2020-11-24 08:27] tandraschko commented on #3796
it seems to work for me? just replaced all p:message with p:messages in test.xhtml and its displayed each line?

[2020-11-24 09:20] tandraschko commented on #1430
passthrough attributes should work here: https://stackoverflow.com/questions/29671305/using-fselectitems-var-in-passtrough-attribute

[2020-11-24 09:20] #1430 closed, assigned to nobody

[2020-11-24 09:43] tandraschko commented on #3564
I will close it for now. No work done here and #3571 would be the real way IMO.

[2020-11-24 09:43] #3564 closed, assigned to nobody

[2020-11-24 10:01] tandraschko commented on #5819
added basic support; data will be null in the event as TreeTable doesnt have the "filteredValue" in the state as DataTable.

[2020-11-24 10:01] #5819 closed, assigned to tandraschko

[2020-11-24 10:02] tandraschko commented on #5639
@melloware will you further work on it?

[2020-11-24 12:17] theobisproject opened #6548 "RemoteCommand: Calling remote command in Javascript unload event does not work in all browser"
**Describe the defect**
I need to change state in my application when the user closes the browser while some action is performed. This is currently implemented with a call to a remoteCommand in when the unload event is triggered in the browser.

The call to the remote command does not work in Firefox and Internet Explorer. Seems like the Ajax request is aborted. In the Internet Explorer there even

[2020-11-24 12:23] tandraschko commented on #6548
We abort all PF AJAX requests in window unload (NOTE: we had a bug in 7.0/8.0 that we did it in beforeunload, i fixed it this week in trunk).

In general there is no guarantee that a AJAX request will work in unload: https://stackoverflow.com/questions/19274486/doing-an-ajax-call-on-window-unload and therefore its not a bug on our side. You can only rely on beforeunload.

For questions please use

[2020-11-24 12:23] #6548 closed, assigned to nobody

[2020-11-24 12:26] theobisproject commented on #6548
Are you able to tell me why the request is not aborted when I do this using chrome?
EDIT: Sorry it is mentioned in the stackoverflow that chrome always completes them

[2020-11-24 13:16] tuerker opened #6549 "DatePicker: what happened to attribute disabledWeekends of p:datePicker?"
Surprisingly it looks like that at least in the recent PF9 snapshots the attribute disabledWeekends of p:datePicker does not exists anymore. Is this true?

I would really favor to have disabledWeekends back since it is more convenient for its purpose compared to the attribute disabledDays which of course is more powerful and emulate it. The latter however increases error-proneness.

[2020-11-24 13:38] melloware commented on #3796
Hmm If I replace all `message` with `messages` I still get this:
![image](https://user-images.githubusercontent.com/4399574/100101518-5a1ba080-2e30-11eb-8e99-92d1eda8516d.png)

Those last two inputs should have messages next to them...

[2020-11-24 13:40] tandraschko commented on #3796
ahhh
yep

im unsure what we should do here
we can easy fix message, first check for messages attaached to the CC, otherwise fallback to extrack the input and check messages for the input
messages a bit more work as its inside a loop and should we also display both - messages attached for the CC and the extraced input?

tooltip is almost impossible to support because of PFS

also CSV needs to be ad

[2020-11-24 13:48] #5326 closed, assigned to melloware

[2020-11-24 13:48] melloware commented on #5326
The workaround provided is the solution desired by PrimeTek not to break other functionality.

[2020-11-24 13:50] melloware commented on #1661
Please see workaround in: https://github.com/primefaces/primefaces/issues/5326

[2020-11-24 14:35] melloware commented on #6549
@tuerker I am looking at the docs for PF 7.0. and 8.0 and I can't find any reference to `DisabledWeekends`?

7.0: https://primefaces.github.io/primefaces/7_0/#/components/datepicker

8.0: https://primefaces.github.io/primefaces/8_0/#/components/datepicker

[2020-11-24 14:49] tuerker commented on #6549
I went now into the history of our code. Somebody must have left this attribute after having migrated from p:calendar to p:datePicker. So actually this attribute disabledWeekends belongs to p:calendar.

Nevertheless, i think that would be a good addition to the datePicker. What do you think? Many thanks.

[2020-11-24 14:51] melloware commented on #6549
Ahh I see you are confusing `DatePicker` with the older jQuery `Calendar` component.

DatePicker is much more powerful and flexible and you can accomplish the same with `disabledDays="0,6"` or if you want to make it more description `disabledDays="#{dateProvider.disabledWeekends}"`

Adding `disabledWeekends` doesn't make much sense to me if all it will do is add 0,6 to the list and could also caus

[2020-11-24 14:53] melloware commented on #6549
@christophs78 @jepsar your thoughts but I am leaning towards **wontfix** status?

[2020-11-24 14:59] jepsar commented on #6549
@melloware +1 for `disabledDays="0,6"` / won't fix.

[2020-11-24 15:09] tuerker commented on #6549
@melloware

disabledDays="0,6" does unfortunately not work. delivers:

`Cannot convert 0,6 of type class java.lang.String to interface java.util.List`

So you are forced to write a method which delivers a list.

You are right w.r.t. the confusion that the combination of disabledDays and disabledWeekends could cause. Therefore, forget this extension. Thanks.

[2020-11-24 15:09] #6549 closed, assigned to nobody

[2020-11-24 15:32] melloware commented on #6549
You might have to do `disabledDays="[0,6]"` ??  But I think you are right I think it has to be a method that returns a List<Integer> so `disabledDays="#{dateProvider.disabledWeekends}"`

[2020-11-24 15:38] tuerker commented on #6549
disabledDays="[0,6] is also not working. i have used the list returning method.

[2020-11-24 16:14] melloware commented on #5639
@tandraschko I updated this ticket. CellEdit works fine for regular TreeTable columns like in our Showcase but with Dynamic Columns it does not work.

[code]

I think its similar to these issue:
https://github.com/primefaces/primefaces/issues/5117

The fix for https://github.com/primefaces/primefaces/pull/5592 works for DataTable but does not work for TreeTable even though it uses the same CellEdi

[2020-11-24 16:49] christophs78 commented on #6549
https://primefaces.github.io/primefaces/9_0/#/components/datepicker?id=date-restriction
This works in https://www.primefaces.org/showcase/ui/input/datepicker/datePickerJava8.xhtml, „Disabled Date/Day“

[2020-11-24 17:08] melloware commented on #5901
I think we need @mertsincan to weigh in here as he did the fix for https://github.com/primefaces/primefaces/issues/2055 originally and this seems to clearly work for some users i guess depending on what application server they are using?

[2020-11-24 17:35] tandraschko commented on #5509
i commited a solution, please review and check.
Also added a showcase sample, would be great if you can review, test, improve docs and showcase :D

thanks :D

[2020-11-24 17:43] Rapster commented on #1390
I'll work on this, I think I have a few clues of what's going on. Meantime, I think #5481 and #6296 can be closed (it's more or less related to this)

[2020-11-24 17:50] melloware commented on #5509
Showcase looks great I will tackle updating the docs!

[2020-11-24 19:10] melloware commented on #5509
I also added Integration Tests for this: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/e6f58f1c40c599340f54e0d14d59b0bb852143a4

[2020-11-24 20:20] ravihariharan opened #6552 "InputNumber : Have a option to disable scroll to change value"
Run the test on showcase

1. https://www.primefaces.org/showcase/ui/input/inputNumber.xhtml
2. Click on an input number box
3. use the mouse to  scroll up or down
_4. The number get updated._

When the focus is on a InputNumber  and the user tries to scroll assuming it is page , the number get updated like Spinner.
This case unexpected issue  and there should be option to disable the changing of v

[2020-11-24 20:22] melloware commented on #6552
Isn't that this fix: https://github.com/primefaces/primefaces/issues/5849

Fixed in 8.0.3 an 9.0

[2020-11-24 20:23] #6552 closed, assigned to melloware

[2020-11-24 20:23] ravihariharan commented on #6552
@melloware .. i hope @mertsincan  can back fix this to elite  7

[2020-11-24 20:24] ravihariharan commented on #5849
@mertsincan  can back fix this to elite  7

[2020-11-24 20:27] melloware commented on #6552
You can fix it in your app right now yourself just add this script to your app.

[code]

[2020-11-24 20:34] melloware commented on #6552
I copied the code out of 9.0 but you might want to look at 7.0's init method by digging into your elite JAR and starting with that. Then just add `this.cfg.modifyValueOnWheel = false;`

[2020-11-24 22:40] mertsincan commented on #6501
Hi @sqores,
With this PR, the problem still exists. When we toggle a few columns, the table shows a horizontal scroll. Unfortunately, reverted.

[2020-11-25 06:51] buunsal commented on #6501
Hi @mertsincan,
I am working on it.

[2020-11-25 08:55] tandraschko opened #6555 "Update jQuery to 3.5.1"
we should probably update it for 9.0?

[2020-11-25 12:46] melloware commented on #6555
Yep it is the same as 3.5.0 but they reverted one change they made so its safe to move to 3.5.1.
https://blog.jquery.com/2020/05/04/jquery-3-5-1-released-fixing-a-regression/

[2020-11-25 12:52] #6555 closed, assigned to melloware

[2020-11-25 14:15] melloware commented on #3929
Reproducer:
[pf-3929.zip](https://github.com/primefaces/primefaces/files/5597208/pf-3929.zip)

[2020-11-25 14:22] melloware commented on #3742
@rcroonenberghs Have you tried this on newer IOS Safari?  I have a feeling this was definitely a bug in IOS Safari since its working in all other browsers and mobile platform.  Going to close for now.

[2020-11-25 14:22] #3742 closed, assigned to nobody

[2020-11-25 14:29] melloware commented on #3649
I fix this in my apps by running this JS on pages with scrollable tables.
[code]

This is a duplicate of https://github.com/primefaces/primefaces/issues/3381

[2020-11-25 14:29] #3649 closed, assigned to nobody

[2020-11-25 14:42] melloware commented on #3508
I have tested this on Nova Light and newer themes and this does not happen in PF 8.0.  So the issue seems to be fixed and was theme related with older jQuery themeRoller themes.

Since a workaround has been provided I am going to close this issue.

[2020-11-25 14:42] #3508 closed, assigned to nobody

[2020-11-25 14:51] ghost opened #6557 "Datatable: Reorder with RowExpansion doesn't work for expanded rows"
**Describe the defect**
I have a p:dataTable with draggableRows="true", a p:rowToggler column and a p:rowExpansion.
When I expand one of the columns and then drag it to the last position, only the table row (without the expansion) gets dropped. The expanded row stays at the top. Also, the rowReorder event doesn't get fired.

Works:
![1](https://user-images.githubusercontent.com/1710231/100240399-d

[2020-11-25 15:28] melloware commented on #6557
There are definitely multiple issues here.  But one of the issues is because this introduces new rows when you have it expanded the indexes are off.  That can be fixed with this in `makeRowsDraggable`..

[code]

That fixes the issue of which row was dragged properly and makes the AJAX fire but that doesn't fix the real problem of closing the original row's expander and having the dragged row show

[2020-11-25 15:58] melloware commented on #6557
As with all things in the Datatable some features were not designed or intended to go together.  This may be one of them.

[2020-11-25 16:07] melloware commented on #526
It looks like this is supported already: https://github.com/primefaces/primefaces/issues/258

[2020-11-25 16:07] #526 closed, assigned to nobody

[2020-11-25 17:39] melloware commented on #6169
Going to close since valid workaround provided and no simple coding solution can fix this.

[2020-11-25 17:53] melloware commented on #5438
@Rapster I am now getting an unexpected error
[code]

with this table:
[code]

I don't see why this table is not valid when I have no sorting or filtering defined on any column?  Is it now saying we MUST have "field" on every column but what if my column is a virtual column that does not map to any value in the bean?

Attached is the reproducer:
[pf-5296.zip](https://github.com/primefaces/primefac

[2020-11-25 18:04] tandraschko commented on #5438
+1 melloware
please also add such  example to the showcase if not already there

[2020-11-25 18:27] melloware commented on #5296
@joergmattes Can you try removing your hack and adding this JS code I think I fixed it.
[code]

[2020-11-25 18:30] melloware commented on #5438
OK the error is misleading it is because now headerRow requires a `groupBy` or `field` attribute.
[code]

So I think its that the error message is misleading. If it had said "HeaderRow requires either groupBy or field attribute set" I would have gotten it right away.

[2020-11-25 21:44] #5438 closed, assigned to Rapster

[2020-11-25 22:58] Rapster commented on #5481
I'm closing this for now as I'm working on #1390 and they're related (and I think the fix is a more than juste removing the method)

[2020-11-25 22:58] #5481 closed, assigned to christophs78

[2020-11-25 22:59] Rapster commented on #6296
I'm closing this for now as I'm working on #1390 and they're related

[2020-11-25 22:59] #6296 closed, assigned to christophs78

[2020-11-26 04:19] jxmai commented on #6532
Thanks for the invite:) For starter, I tested Rapster's pull request branch: https://github.com/primefaces/primefaces/pull/6486 up to commit: 4308246a2efe77aabbdefe7f23fbe702d2870be5 against the sample provided under https://github.com/primefaces/primefaces/issues/6421 (https://github.com/primefaces/primefaces/files/5398261/primefaces-test.zip), the filter is working as expected.

One key note her

[2020-11-26 09:26] zhiying99 opened #6561 "Menubar, Menu, MenuButton: not accessible"
**Describe the defect**
p:menubar (p:menu, p:meneButton as well) is not accessable. That is, when tabbing through the menu using a screen reader like JAWS, it does not read any of the menu items, even all the generated elements have titles or aria-lables.

**Reproducer**
See here: https://www.primefaces.org/showcase/ui/menu/menubar.xhtml

**To Reproduce**
Open a screen reader (JAWS for example), t

[2020-11-26 09:52] Rapster commented on #6532
Does this sample actually work? I'm pretty sure it won't in lazy mode

[2020-11-26 09:57] jepsar commented on #6561
Relates to #4928

[2020-11-26 12:50] melloware commented on #6561
@zhiying99 I think this may be a JAWS flaw.  We are following the ARIA guidelines exactly.

For MenuBar see: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-2/menubar-2.html

[code]

You can see the `<ul role="menubar"` and the `<li role="none"` and the item itself has `<a role="menuitem" aria-haspopup="true" `. All of that is according to the ARIA spec.

[2020-11-26 12:54] VsevolodGolovanov commented on #3045
The problem likely was that focusing the first radio item looks bad, if the selected item is different. So the focus function should take care to focus the selected radio item. I thought PrimeFaces.focus implemented this though (#3029)? Not sure why dialog still reinvents it...

[2020-11-26 12:57] melloware commented on #3045
@VsevolodGolovanov can you investigate and provide a PR if we have reusable code we are not reusing?  I agree I dont like reinventing the wheel.

[2020-11-26 13:27] #258 closed, assigned to melloware

[2020-11-26 13:28] #5296 closed, assigned to melloware

[2020-11-26 13:46] fabermundi opened #6563 "DataTable: filtering doesnt work inside p:panelGrid"
**Describe the defect**
My datatable did not filter when entering a text in the filter box, so I simplified my code until getting the above shown code and tracked down that when changing the p:panelGrid to h:panelGrid the filter is working again.
Unfortunately I can not track this down anymore so I let the experts here handle this...

**Environment:**
 - PF Version: 8.0.5
 - JSF + version: JSF 2.3

[2020-11-26 14:42] ghost commented on #6557
Hi melloware,

thanks for the really fast reply!

Will the fix for the IndexOutOfBoundsException be part of the 9.0 release?

Regarding the other problem, I noticed that the row expansions are actually table rows (tr), separate from their origin row. Could the event that fires when you drag a row, be modified, so that both the row and its expansion get selected for dragging?

Regards and again, ma

[2020-11-26 15:17] melloware commented on #6563
I can take a look at this one.

[2020-11-26 15:19] melloware commented on #6557
Yep that is the hard part. I am still working on some kind of way to make it work.

[2020-11-26 15:25] melloware commented on #5509
@tandraschko safe to close this ticket as I think all implementations, docs, and integration tests are complete?

[2020-11-26 15:26] tandraschko commented on #5509
yup

[2020-11-26 15:26] #5509 closed, assigned to tandraschko

[2020-11-26 15:43] ghost commented on #6557
Awesome, thanks!

[2020-11-26 15:51] #105 closed, assigned to melloware

[2020-11-26 15:51] #6545 closed, assigned to melloware

[2020-11-26 15:51] #6546 closed, assigned to melloware

[2020-11-26 16:09] melloware commented on #6563
I think it might just be a misunderstanding of the panelGrid.

A naked `<p:panelGrid>` like you have expects it to have `<p:row>` items as its direct descendents for you to "draw" how you want your grid see the "Grouping" example here at the showcase: https://www.primefaces.org/showcase/ui/panel/panelGrid.xhtml

To fix your issue you can switch to grid or flex mode by simply adding..

[code]

...

[2020-11-26 16:16] tandraschko commented on #6563
can't we make columns=1 as default then?

[2020-11-26 16:22] melloware commented on #6563
Well I think if columns=null is what triggers p:panelGrid to look for p:row values instead of it formatting,  Once you use columns="1" as default that would break.

[2020-11-26 16:25] tandraschko commented on #6563
ok ok
but the panelGrid in the example is rendered as exepcted, just filtering doesnt work?

[2020-11-26 16:27] melloware commented on #6563
Attached is reproducer:
[pf-6563.zip](https://github.com/primefaces/primefaces/files/5604104/pf-6563.zip)

No it actually break it because the panel grid is looking for a `<p:row>` and doesn't it find it. So its `table` tags mess up the datatable `table` tags and the whole thing is rendered off.

[2020-11-26 16:30] melloware commented on #6563
You can see the top table rendering is off the bottom table is correct.

![image](https://user-images.githubusercontent.com/4399574/100374741-bb7f7300-2fda-11eb-9d6a-b5ce5a0d25c6.png)

[2020-11-26 16:33] tandraschko commented on #6563
yep ok, then its completely by design.

[2020-11-26 16:42] tandraschko commented on #6563
we could however log a warning in this case? columns = null and no p:row

[2020-11-26 16:43] melloware commented on #6563
I am wondering if we should actually throw a FacesException?

[2020-11-26 16:48] tandraschko commented on #6563
yeah, even better

[2020-11-26 16:58] fabermundi commented on #6563
I agree. It would really be good to send out some kind of error message as it took me some time to track this down.
Thanks for your help.

[2020-11-26 17:09] melloware commented on #6563
Ok I will submit a PR

[2020-11-26 17:33] zhiying99 commented on #6561
I am not sure. the role="menuitem" and aria-haspopup="true" are in li-element instead of in a-element.
Actually the a-element does not need a tabindex="-1" but in the generated html there it is.
And the  "div tabindex="0" class="ui-helper-hidden-accessible" makes the screen reader (both JAWS and NVDA, although I am sometimes realy annoyed by JAWS;) silent.

[2020-11-27 04:47] jxmai commented on #6532
The filter does not work when we add `lazy=true`. If I am not mistaken, it hasn't been working in lazy mode in the first place (since previous versions) :thinking: .Just curious how much impact will be, I would prefer the sample to work as is in non-lazy mode if possible:) . The first solution seems like having less impact

[2020-11-27 11:12] Rapster commented on #6532
Yeah doesn't work for the same reason as #6421

[2020-11-27 11:38] NicolaIsotta opened #6564 "SubTable: style and styleClass of Rows inside columnGroup are ignored"
**Describe the defect**
I want to style the footer row of a subtable, so I added a class to the styleClass of the p:row element inside p:columnGroup. However, the provided styleClass is simply ignored.

**Environment:**
 - PF Version: 8.0, snapshot
 - JSF + version: ALL
 - Affected browsers: ALL

**To Reproduce**
Open provided xhtml (modified from showcase)

**Expected behavior**
style and styleCl

[2020-11-27 11:39] NicolaIsotta commented on #6564
PR coming later

[2020-11-27 12:58] melloware commented on #6561
Please see the spec. https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-2/menubar-2.html

The role="menuitem" absolutely goes in the `a` element and the tabindex="-1" is also required as part of the spec.

tabindex="-1" | a | Makes the menuitem element keyboard focusable but not part of the Tab sequence of the page.
-- | -- | --
tabindex="0"  | a | Makes the menuitem element key

[2020-11-27 13:05] melloware commented on #6563
OK need a decision here. The code is doing this:
[code]

Basically it says if you are not a `Row` just encode whatever component it is.  However in this case the `<table>` tag is already open so its rendering the Datatable wrong.   So I am not sure I should replace `child.encodeAll(context);` with a FacesException since I guess there could be use cases where you would just want to render the compo

[2020-11-27 13:16] tandraschko commented on #6563
i think we should remember if a Row is available as child and after the loop check !rowFound && columns==null -> throw

[2020-11-27 13:18] melloware commented on #6563
OK that is good idea.

[2020-11-27 13:18] #6402 closed, assigned to Rapster

[2020-11-27 13:18] #6421 closed, assigned to Rapster

[2020-11-27 13:24] #2456 closed, assigned to melloware

[2020-11-27 13:28] melloware commented on #6557
@klaffke can you try the following:

1. Add this JS to your application JS file that loads after Primefaces.
[code]

2. In your AJAX "rowReorder" event add update="@this" to redraw the datatable after it reorders.  This is similar to this defect https://github.com/primefaces/primefaces/issues/5326

[2020-11-27 13:30] tandraschko commented on #6557
same here, just a workaround IMO
the JS should cover both issues

[2020-11-27 13:30] tandraschko commented on #6542
+1

[2020-11-27 13:32] melloware commented on #6557
Well I fixed the JS stacktrace error.  But this problem is hard becuase the row expanders create their own `<tr/>` rows and those are not brought along in the draggable.  So the row expanders are detached from their parent row.

[2020-11-27 13:41] #6563 closed, assigned to melloware

[2020-11-27 15:48] Rapster commented on #6542
I think the PR is safe to be merged

[2020-11-27 16:11] ghost commented on #6557
Thanks, melloware! I can test your changes on monday at the earlist, but I will let you know how it worked for our application.

[2020-11-27 16:33] #6542 closed, assigned to Rapster

[2020-11-27 16:35] melloware commented on #6542
Great job! Were you going to add a showcase example? Or if you are busy working on other PR's I can help with that?

[2020-11-27 16:40] Rapster commented on #6542
Done

[2020-11-27 17:08] Rapster commented on #6542
Turns out, I made few changes so the constraint can be applied to every comparable objects and not only related to date

[2020-11-27 17:09] melloware commented on #6542
I saw that and like it.  So you could even have it be Integer or anything else than is Comparable.

[2020-11-27 17:11] Rapster commented on #6542
:wink:

[2020-11-27 17:17] melloware commented on #6564
It was missing from both header and footer rows of SubTable

[2020-11-27 17:24] #6564 closed, assigned to melloware

[2020-11-27 19:30] NicolaIsotta commented on #6564
Seems like you were faster. Well, thanks!

[2020-11-27 20:57] Rapster commented on #1390
I made a PR (still a draft, requires a bit more testing) but removing `Datatable#processEvent` method didn't help. I think this issue has been there for a while... FYI, same issue with sort event being out of sync

[2020-11-28 01:08] Rapster commented on #6169
I might have a solution for this

[2020-11-28 13:14] VsevolodGolovanov commented on #3045
@melloware, there it is.

I checked that this fixes the cases provided by the OP.

Additionally checked that it focuses the selected radio item, if there is one:
[code]

[2020-11-28 16:20] melloware opened #6573 "Dependencies: Update POI, OWASP, JSON"
Latest versions:
[code]

[2020-11-28 16:35] melloware commented on #1524
This is not happening in the latest showcase so this bug was fixed along the way.

[2020-11-28 16:35] #1524 closed, assigned to nobody

[2020-11-29 14:23] Rapster opened #6575 "DataTable: clean up selection"

[2020-11-29 14:57] #6573 closed, assigned to melloware

[2020-11-29 15:05] Jens-dojo opened #6576 "Panel: Runtime error on panel show()"
Hello,

the close() function of a panel has

 close: function() {
        if(this.visibleStateHolder) {
            this.visibleStateHolder.val(false);
        }

The show() function however does NOT check if visibleStateHolder exists and throws a runtime error when that is the case

  show: function() {
...
  this.visibleStateHolder.val(true);

I have no ideas how pull requests work....
Maybe som

[2020-11-29 15:28] melloware opened #6577 "FilterMeta: Not Serializable"
Sonar waring:
https://sonarcloud.io/project/issues?id=org.primefaces%3Aprimefaces&open=AXYJ44gfOgr_iiYF627s&resolved=false&sinceLeakPeriod=true&types=CODE_SMELL

Getting this error from Integration tests:
[code]

[2020-11-29 15:41] melloware commented on #6576
Thank you for reporting you are correct this is a bug. To fix right now just add this JS to your application.

[code]

[2020-11-29 15:45] #6576 closed, assigned to melloware

[2020-11-29 16:11] Jens-dojo commented on #6576
Thank you for your prompt reply and help!

[2020-11-29 18:31] #3045 closed, assigned to VsevolodGolovanov

[2020-11-29 23:22] #6577 closed, assigned to Rapster

[2020-11-30 09:47] ghost commented on #6557
Hi Melloware,

I've tested your fixes (the javascript code as well as update="@this") and it works! I've attached an updated reproducer, which incorporates your fixes, for testing purposes.

[6557Reproducer.zip](https://github.com/primefaces/primefaces/files/5615114/6557Reproducer.zip)

[2020-11-30 10:48] ghost commented on #6557
@melloware there is still a way to trigger an IndexOutOfBoundsException when moving elements in the table from bottom to top:

1. Expand all rows
2. Drag the last entry to the first position

java.lang.IndexOutOfBoundsException: fromIndex = -3

I think this could also affect #5296

[2020-11-30 11:03] zhiying99 commented on #6561
Thank for the response. Yes the spec. page https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-2/menubar-2.html works fine (read by Screen Reader). What does not read is here https://www.primefaces.org/showcase/ui/menu/menubar.xhtml.
It's fine for me to close the issue.

[2020-11-30 13:09] melloware commented on #6557
Awesome let me investigate and thanks for testing so far!

[2020-11-30 13:12] melloware commented on #6561
Hmmm can you check the differences in why it does not read?  I wonder if it tabIndex="0" stuff?

[2020-11-30 13:29] ghost commented on #6557
You're welcome! I've also tested the fix on our application with the same result.

[2020-11-30 13:41] zhiying99 commented on #6561
As descibed in "Example XHTML" part, the tab-focus is landed on the surrounding elements like <div ... >, or <li … />, while the accessable values are inside the inner a-elements. If simply change the tabindex stuff (remove or change), the focus is not visiable any more.

I am working on the other similar issue, i.e.  tab-focus-contrast on menus. It displayed different background color with hover,

[2020-11-30 13:45] melloware commented on #6557
@klaffke Can you try this add this 1 extra line to to do Math.max.

[code]

[2020-11-30 13:51] melloware commented on #6561
@MarkusChur Can you help us here?  We are trying to figure out why MenuBar for example is not accessible even though it looks like we are following the ARIA spec correctly.

[2020-11-30 14:03] ghost commented on #6557
@melloware this will prevent the exception, but does not work if you try dragging the row at index 2 to position 1. It will be dragged to position 0, because the toIndex is still negative.

![2020-11-30 15_03_05-PrimeFaces Test](https://user-images.githubusercontent.com/1710231/100619284-34edcd00-331d-11eb-897c-dc8f636ab30f.png)

[2020-11-30 14:05] melloware commented on #6557
ahh good point.  let me keep poking.

[2020-11-30 15:46] melloware commented on #6557
OK I updated your reproducer can you try and break it again.  I moved everything into test.js.  I also added 2 more rows for testing.
[pf-6557-fixed.zip](https://github.com/primefaces/primefaces/files/5616939/pf-6557-fixed.zip)

[2020-11-30 15:54] tuerker opened #6579 "FilterMeta: javadoc on deprecated ctor"
With the changes in the class FilterMeta from Nov 28 there is no constructor FilterMeta(String field, Object filterValue) anymore, which had used so far. We require advice how to migrate this since there is also no setField method.

Thanks in advance.

[2020-11-30 15:56] tandraschko commented on #6579
Please check the migration guide

[2020-11-30 15:56] #6579 closed, assigned to Rapster

[2020-11-30 15:59] tuerker commented on #6579
Of course, I checked https://primefaces.github.io/primefaces/9_0/#/../migrationguide/9_0. But there is no answer to that.
I would be glad if you can point at the place where this is described.

[2020-11-30 16:01] tandraschko commented on #6579
`DataTable#filterBy: no longer expect a Map, but a single or a collection of FilterMeta (use FilterMeta#builder)`

[2020-11-30 16:02] melloware commented on #6579
@Rapster we are also using this Deprecated method in TreeTable.java but there is no JavaDocs in the deprecated method for what to do and how to fix it.

[2020-11-30 16:22] Rapster commented on #6579
Yeah true, I'll put a comment on this ctor so users know what to do, I don't plan to modify TreeTable though (since I think this component needs a complete refactoring 😅 )

[2020-11-30 16:30] tuerker commented on #6579
thanks for the hint. however, i am not get the builder approach to work. it is unclear how to translate the "old"

new FilterMeta(String field, Object filterValue)

to

FilterMeta.builder()...

There are no methods, such as setField or setFilterValue, available on the FilterMeta.builder() expression.

[2020-11-30 16:33] tandraschko commented on #6579
FilterMeta.builder().field(...).filterValue(...).build(); ;)

[2020-11-30 16:35] tandraschko commented on #6579
its also already updated in the showcase, however we dont have control of the deployment. You may get it from github sources.

[2020-11-30 16:39] Rapster commented on #6579
You can have a look here: https://primefaces.github.io/primefaces/9_0/#/components/datatable?id=filtering

[2020-11-30 16:43] tuerker commented on #6579
this is actually what i tried intuitively, too. however, intellij was stating that there is no such field() method.

![Screenshot from 2020-11-30 17-38-01](https://user-images.githubusercontent.com/10051373/100637474-34f8c780-3333-11eb-8fc2-353315dd0321.png)

after closing intellij and invalidating the cache of intellij this is now also working. thanks again.

[2020-11-30 17:10] arjantijms opened #6580 "Jakarta EE 9 version of PrimeFaces"
With the Jakarta EE 9 APIs recently released, and the GlassFish 6.0.0 release imminent, it would be nice to have a Jakarta EE 9 version of PrimeFaces.

[2020-11-30 17:12] melloware commented on #6580
@arjantijms we have a primefaces-9.0-jakarta.jar ready to go whenever PrimeTek releases 9.0 Community it will be released.

[2020-11-30 17:19] arjantijms commented on #6580
@melloware, thanks, sounds good!

ps. I'm about to release a Jakarta EE 9 demo app with PF. In the meantime I'll use the transformer (https://github.com/eclipse/transformer) on an old version of PF then. As soon as PrimeFaces 9 is there it can switch over.

[2020-11-30 17:21] melloware commented on #6580
You can always grab master SNAPSHOT and run "mvn clean install" it builds the JAKARTA version as well.

[2020-11-30 17:27] melloware commented on #6580
@tandraschko Should we switch to use this Eclipse Transformer plugin vs the io.yupiik.maven we are using?

[2020-11-30 18:05] GedMarc commented on #6580
this is the full list -

[code]

[2020-11-30 18:12] melloware commented on #6580
@GedMarc I am working on a PR. However in the MANIFEST.MF for OSGI these packages are still not being converted even with your latest list.
[code]

any thoughts?

[2020-11-30 18:24] melloware commented on #6580
@GedMarc nevermind I found it!

https://github.com/eclipse-ee4j/jakartaee-platform/blob/master/namespace/unaffected-packages.adoc

Those are not being converted to Jakarta.

[2020-11-30 19:23] tandraschko commented on #6580
Duplicate of https://github.com/primefaces/primefaces/issues/5646

the current way is fine - maven shade plugin replaces usages in java code and the yupiik addon is to enable shade plugin to replace simple strings in e.g. our core.js

[2020-11-30 19:23] #6580 closed, assigned to nobody

[2020-11-30 19:52] melloware commented on #4609
I think this one is more similar to: https://github.com/primefaces/primefaces/issues/1173

[2020-11-30 20:50] tandraschko commented on #6580
@melloware does jitpack support classifiers? so @arjantijms could use a jitpack snapshot

[2020-11-30 20:52] melloware commented on #6580
Let me test it right now and see if it works.

[2020-11-30 20:55] #1173 closed, assigned to melloware

[2020-11-30 20:55] #4609 closed, assigned to melloware

[2020-11-30 21:06] melloware commented on #6580
Yep this works!
[code]

[2020-12-01 10:27] Rapster commented on #405
If someone is able to provide a runnable reproducer I can have a look at it (see https://github.com/primefaces/primefaces-test)

[2020-12-01 10:46] ghost commented on #6557
@melloware I've tested it thoroughly and found a few cases where it did not work as expected. The culprit was that ui-rowgroup-header and ui-expanded-row-content rows were counted for the target index, even when they are out of the dragging scope (= after both the dragged source row and the target row).

Below is my fix, up to the console log statement:

[code]

[2020-12-01 12:31] melloware commented on #405
@Rapster I can't reproduce either so I say we close this issue and we can reopen if OP or someone else provides a runnable test case.

[2020-12-01 12:31] #405 closed, assigned to nobody

[2020-12-01 20:04] melloware opened #6583 "Improvement in behavior of components that have overlay panels in scrollable containers"
**Describe the defect**
There have been multiple defects reported about overlay panel of components not sticking with the component when scrolling in a dialog or in a window.

**Reproducer**
[overlay-scroll.zip](https://github.com/primefaces/primefaces/files/5625120/overlay-scroll.zip)

**Components:**
- [x] AutoComplete https://github.com/primefaces/primefaces/issues/4541
- [x] SelectOneMenu http

[2020-12-01 20:25] melloware opened #6585 "Tika: Update 1.25"
[code]

@GedMarc

[2020-12-01 20:27] arjantijms commented on #6580
@melloware @tandraschko Thanks a lot! I'm going to try that one. Always bet on prime ;)

[2020-12-01 20:32] melloware commented on #6580
@arjantijms Just don't forget to at Jitpack to your repos.  It will take a minute to pull down as it builds the latest MASTER snapshot.
[code]

[2020-12-01 20:33] #6585 closed, assigned to melloware

[2020-12-01 20:37] melloware commented on #6557
Nice work let me see if I can Jquery this a little bit.

[2020-12-01 21:12] melloware commented on #6557
OK can you try this version I made it a little more jQuery friendly.
[code]

[2020-12-02 00:46] Rapster commented on #1921
Ok I reproduced the issue in lazy mode (didn't try in default mode): delete all rows of the last page the paginator updates with page 19 of 19 but no rows are displayed.

[2020-12-02 09:45] ghost commented on #6557
@melloware

thanks for optimizing the code (the prevAll method is very handy!). I was not able to trigger an exception using this version, neither with the reproducer nor in our application.

[2020-12-02 12:31] aligit opened #6587 "Schedule: ContextMenu support"
**Description**
I'm using the **schedule** but there is currently no integration of the contexMenu to associate the event with it. This integration is already provided in TreeTable and DataTable.

**Describe the solution you would like**
Extend the list of events with something like onEventRightClick able to catch which event has been chosen(or at least which startDate)

**Example XHTML**
[code]

[2020-12-02 12:36] melloware commented on #6587
The AJAX method to make it consistent with other components would be "contextMenu". Similar to: https://github.com/primefaces/primefaces/issues/3761

[2020-12-02 12:43] tandraschko opened #6588 "Add shared interface between TreeTable and DataTable for managing column/columns"
Currenly both TreeTable and DataTable have very much similar methods like findColumn, findColumnInGroup, getColumnCount and so on.

to be honest, i dont like the default-method interfaces that much but its a way that we can share methods easily.

[2020-12-02 12:52] #6588 closed, assigned to tandraschko

[2020-12-02 12:57] melloware commented on #6588
I know what you mean Default Interfaces feel like cheating but I guess its better than an alternative Static Utility like TableUtils.java ....

[2020-12-02 15:00] tuerker opened #6590 "InputNumber: Does not work correctly with @Positive"
@melloware The p:inputNumber has still some flaws. Two things, I have detected now:

1) I thought that you had fixed that when p:inputNumber runs on an integer attribute that it is not needed to write decimalPlaces="0" anymore. However, this is not the case with the current snapshot.

2) When p:inputNumber runs on an integer attribute which is annotated with @Positive, then it is NOT possible anym

[2020-12-02 15:45] tuerker opened #6591 "Datatable: filter facet does not work with p:columns"
@Rapster After the recent changes on the datatable component (< 10 days) something is broken w.r.t. filtering.

Since several years, I have a lazy datatable where is based on p:columns together with a filter facet. This filter is not working anymore. When entering the load method of the LazyDataModel

load(int first, int pageSize, Map<String, SortMeta> sortBy, Map<String, FilterMeta> filterBy)

th

[2020-12-02 15:59] melloware commented on #6590
@tuerker

1. I have an integration test for this and its passing during last nights build.

2. Yes you have to use `PostiiveOrZero`.
[code]

[2020-12-02 16:19] melloware commented on #6590
Integration Test:
[code]

[code]

[2020-12-02 16:20] tuerker commented on #6590
1) this is my code

[code]
[code]
![Screenshot from 2020-12-02 17-17-16](https://user-images.githubusercontent.com/10051373/100899545-42908780-34c2-11eb-8de2-f1d788868c24.png)

as you see from the screenshot, the fraction of two is included (when decimalPlaces="0" is not used).

2) Actually when PostiiveOrZero is used, it can be set to NULL but however it is not the case for Positive (which i requ

[2020-12-02 16:23] melloware commented on #6590
Well Positive means Positive and 0 is not Positive.  That is why Bean Validations have PositiveOrZero.  NULLing out your field I bet Bean Validations are thinking its 0 and failing validation.

[2020-12-02 16:30] tuerker commented on #6590
But this is wrong.

The positive annotation shall ensure that only positive values are accepted besides the NULL value (if not explicitly excluded by NotNull) .

https://javaee.github.io/javaee-spec/javadocs/javax/validation/constraints/Positive.html

[2020-12-02 16:33] tandraschko opened #6592 "TreeTable: rework filter, sort + add MultiViewState"
Current limitations:
- TreeTable does only support single-column-filtering
- No MultiViewState implementation
- No globalFilter + GlobalFilterFunction
- Current DataTable refactorings has moved some fields to UIColumn and removed from DataTable
- add multiSort
- add allowUnsorting

First step is to implement all these functionality, later i can check to unify code between DataTable and TreeTable

[2020-12-02 16:36] melloware commented on #6590
Let me write some integration tests.

[2020-12-02 16:38] tandraschko commented on #6592
commited first draft, will make it feature complete tomorrow and add all possible showcase examples.

After that i'm going to try to reuse FilterFeature and move some features to shared default-method-interface

[2020-12-02 17:07] Rapster commented on #6592
My 2 cents, IMO I think TreeTable is broken by design... The only and main difference between DataTable and TreeTable is that one has a flat model and the other a treemodel, few features might be shared between those two components, other would probably have to change. In terms of rendering, only rows (and cells?) are different (there is the expand/collapse icon).

I'm not saying it has to be done

[2020-12-02 18:06] Rapster commented on #6591
Fixed

[2020-12-02 18:34] Rapster opened #6593 "UIPageableData: new class"
**Description**
UIData is an enchanced version of `javax.faces.component.UIData`. Actually, it's not quite accurate. UIData "supports" also pageable  feature, and fill few holes starting from JSF 2.0 (bug & enchancements). As of today, it's hard to make a distinction between PF feature and JSF impl. fixes.

Another thing, is that a lot of classes inherits from UIData PF while they don't use any fe

[2020-12-02 18:47] melloware commented on #6593
I think this is a good idea.

[2020-12-02 19:37] melloware commented on #6590
OK  I wrote 4 Integration Test scenarios:

https://github.com/primefaces-extensions/primefaces-integration-tests/commit/d35cc75805138d6e539d691402055ccc08591e3d#diff-25a6634263c1b1f6fc4697a04e2b9904ea4b042a89af59dc93ec1f5d44848a26

For your issue #1 it proves its not an issue and everything is working properly with `decimalPlaces="0"`.  Feel free to review my test case.

For your issue #2 it verif

[2020-12-02 19:45] melloware commented on #6590
Reproducer:
[pf-6590.zip](https://github.com/primefaces/primefaces/files/5631674/pf-6590.zip)

[2020-12-02 19:55] melloware commented on #6590
OK I know why and not sure how its possible to fix.  So in this scenario here is the widget config:
[code]

That is what AutoNumeric gets.  So when you blank it out and we call `var val = this.autonumeric.getNumericString();` AutoNumberic knows that blank < 0.0000001 so its returning the internal value it already has since it failed validation.

Not sure what we can do to fix this nor if we should

[2020-12-02 21:27] tuerker commented on #6590
It should be fixed. Question: by whom?

What I do not get why is @PositiveOrZero working well for the NULL case while @Positive does not. Following your explanation above, autonumeric should do the same for blank < 0 in case of @PositiveOrZero?

[2020-12-02 21:33] melloware commented on #6590
Because @PositiveOrZero does this...
[code]

and AutoNumeric is treating blank "" with minValue="0" to be "" in `var val = this.autonumeric.getNumericString();`.

Most likely because of JavaScript truthiness treating 0 and "" as identical.

[2020-12-02 21:37] tuerker commented on #6590
This could be the explanation. I have tested also

    @Min(1)
    @Max(999999)

instead of

    @Positive
    @Max(999999)

which has the same meaning. These result is the same in case of integers. So @Positive and @Min(1) behave exactly the same here.

[2020-12-02 21:43] tuerker commented on #6590
Nevertheless, autonumeric should do some revisions.

A while ago i had placed there another important issue which they did not took serious.

https://github.com/autoNumeric/autoNumeric/issues/674

I think this is also a crucial issue which must be fixed. Otherwise, we will always have this hack where certain min/max values are arbitrarily set like it is done with

`minimumValue:"0.0000001"
`
The s

[2020-12-02 22:20] melloware commented on #6590
I think it's also your expectation of what Java  @Positive means vs what the JavaScript autonumeric MinValue means. They are not the same thing so the only way to translate positive is to give it something greater than 0 like 0.000001.  Autonumeric is then doing the correct thing saying blank "" Which means 0 < 0.00001 so it's not valid.   Once again solvable by simply putting minValue="0" on the

[2020-12-02 22:55] tuerker commented on #6590
I thinking loud. Since you set minimumValue:"0.0000001". Can't you send also "0.0000001" to autonumeric for validation in case of NULL?

[2020-12-03 00:47] melloware commented on #6590
I think that would be a hack.  What if we detect an integer type value and instead of 0.00001 we use 0. I think then everything would work?

[2020-12-03 07:51] tuerker commented on #6590
Yes, this could work.

[2020-12-03 08:15] #3761 closed, assigned to melloware

[2020-12-03 08:33] tandraschko commented on #6592
maybe but doesnt change anything for now :D we have users, which uses the treetable with all its features, just MVS is missing. This is payed refactoring + implement MVS.

[2020-12-03 11:05] Rapster commented on #6588
I was originally not thrilled about these changes, but now you're turning a lot of things into default-method interfaces, I'm getting more and more sceptical... Ideally, it's temporary but in my experience, temporary things tend to last...😅

[2020-12-03 11:07] tandraschko commented on #6588
i dont think its temporary but IMO still nicer then using util methods here

[2020-12-03 11:12] DaanVanYperen opened #6596 "DataTable: RowToggle collapse does not skip children"
**Describe the defect**
RowToggle ajax event with `skipChildren="true"` only skips children on expand, not collapse.

**Reproducer**
https://github.com/DaanVanYperen/primefaces-test-skipchildren-missing-from-rowToggle-collapse/

**Environment:**
 - PF Version: _8.0.5_
 - JSF + version: reproducer defaults.

**To Reproduce**
Steps to reproduce the behavior:
1. Expand datatable row.
2. Check posted

[2020-12-03 11:35] ansurakin commented on #4617
Thanks!
My be need create property like: boolean evaluateExpression

[2020-12-03 12:27] #6557 closed, assigned to melloware

[2020-12-03 13:23] tuerker commented on #6591
Dear @Rapster unfortunately the bug is still there. At least it not solved in the latest snapshot. Or is this fix not merged into the master?

[2020-12-03 13:38] Rapster commented on #6591
Please provide at least a XHTML sample

[2020-12-03 14:03] tuerker commented on #6591
I stripped a lot of the code. Hopefully you get an idea.

The filter of the following column with a filter facet is working:

[code]

while the "same" column within a p:columns widget is not working:

[code]

Using the filter of the column "status x" created via p:column works as you see in the next screenshot:

![Screenshot from 2020-12-03 15-00-53](https://user-images.githubusercontent.com/10051

[2020-12-03 14:16] melloware commented on #6590
@tuerker I wrote even more Integration tests proving this fix:
https://github.com/primefaces-extensions/primefaces-integration-tests/blob/master/src/test/java/org/primefaces/extensions/integrationtests/inputnumber/InputNumber004Test.java

However I did discover an issue we discussed earlier with NULL not being an instance of Long. See Test below proves the isue that when you have a Long and then y

[2020-12-03 14:28] MatthiasScherrerFGCZ commented on #6591
@Rapster Additional information (before the latest fix):

- The filterBy was empty, i.e., 0 instead of the expected size 1.
- To be sure that the filterBy is correctly initialised, we simply did filter for another column without a face filter that is generated in the same p:columns. So after applying the first filter, the size of filterBy was 1 as expected. Then we filtered the column with the fac

[2020-12-03 14:51] Rapster commented on #6591
I'll have a look

[2020-12-03 14:58] melloware commented on #5483
@tandraschko is working on TreeTable now: https://github.com/primefaces/primefaces/issues/6592

[2020-12-03 15:06] melloware commented on #6596
@DaanVanYperen can you add this JS to your application JS file that loads after PF and let me know if its fixed. It should be.
[code]

[2020-12-03 15:08] melloware commented on #6596
Ahh nevermind I see you already tested it.

[2020-12-03 15:16] tuerker commented on #6590
@melloware yes i remember the discussion. when the value is null the instanceof check cannot be done and so by definition  decimalPlaces=2 is taken.

and this is actually what i think autonumeric has to fix. the default decimalPlaces=2 is simply too restrictive.

as i wrote in that mentioned open issue at autonumeric, there should be at least the possibility to explicitly set decimalPlaces to unre

[2020-12-03 15:18] melloware commented on #6590
OK so I will commit my PR which fixes the @Positive and @negative issue with Integer type values defaulting to 0.

[2020-12-03 15:18] #6590 closed, assigned to melloware

[2020-12-03 15:19] #6596 closed, assigned to melloware

[2020-12-03 15:20] melloware commented on #6596
Thank you for reporting!  Fixed for 9.0

[2020-12-03 15:28] melloware commented on #6592
@tandraschko I believe this ticket also fixes these two:

#1926
#5483

[2020-12-03 15:48] Rapster commented on #6591
At this point, there is too much factors to take account for me to try. Please provide a reproducer. I tried with this sample, and not facing any issue:

[code]

[2020-12-03 16:04] fanste opened #6600 "SelectOneMenu: add CSS class to children of SelectItemGroup"
**Description**
`SelectItem`s could be grouped in `SelectItemGroup`s. But `SelectOneMenu` renders everything in a flat list instead of a nested list. Therefore it is not possible to tell which select item belongs to a group and which select item is not part of a group.

**Describe the solution you would like**
As it would be really cumbersome to change the markup and to adjust all the javascript t

[2020-12-03 16:20] DaanVanYperen commented on #6596
That was quick! Cheers.

[2020-12-03 16:21] MatthiasScherrerFGCZ commented on #6591
@Rapster
Yes, I see. We definitely have to provide a reproducer. Thanks.

[2020-12-03 16:32] tuerker commented on #6591
dear @Rapster could you please attach your reproducer such that we can adapt it. i could imagine that the problem is caused by using a selectonemenu in the facet filter. many thanks in advance.

[2020-12-03 16:38] tandraschko commented on #6592
@Rapster currently we have FilterableTable, SortableTable and ColumnHolder. I think we could merge them to 1 class, at least we could merge Filter and Sort?

[2020-12-03 16:38] tandraschko commented on #1926
Will be handled in #6592

[2020-12-03 16:38] #1926 closed, assigned to tandraschko

[2020-12-03 16:38] tandraschko commented on #5483
Will be handled in #6592

[2020-12-03 16:38] #5483 closed, assigned to tandraschko

[2020-12-03 16:40] fanste commented on #6600
PR #6601

[2020-12-03 16:46] Rapster commented on #6592
Yes i guess, I didn't really follow your devs, I suggest for that kind of dev you make a PR (do many commits as you want) so  we get the chance to have a clear idea of your changes, also you get feedbacks in return and finally whenever you feel like it's done: squash & merge it (and keep the commit history clean)

[2020-12-03 17:04] Rapster commented on #6591
My sample is based on showcase (i just assembled dynamic and lazy showcase together)

[2020-12-03 17:47] Rapster commented on #6591
Also make sure you're using the last snapshot...

[2020-12-03 18:44] melloware commented on #2481
Relates to: https://github.com/primefaces/primefaces/issues/1895

[2020-12-03 18:44] melloware commented on #1895
Relates to: https://github.com/primefaces/primefaces/issues/2481

[2020-12-03 20:14] melloware commented on #6587
This is dependent on Right Click being supported by FullCalendar. See this open ticket: https://github.com/fullcalendar/fullcalendar/issues/2748

[2020-12-03 22:08] tuerker commented on #6591
@Rapster finally i managed to create a reproducer.

[p-dynamiclazy.zip](https://github.com/primefaces/primefaces/files/5639170/p-dynamiclazy.zip)

when the columns are created via p:columns while the facet filter is conditionally (i.e., bound to a rendered condition), then this problem occurs. In the reproducer, i am just rendering the facet filter (selectonemenu) for the "brand" column only.

If

[2020-12-03 22:12] #6593 closed, assigned to Rapster

[2020-12-03 23:22] #6591 closed, assigned to Rapster

[2020-12-03 23:23] Rapster commented on #6591
Thank you for providing a reproducer. Hope this time is the right one 😉

[2020-12-04 07:21] tuerker commented on #6591
Great. Problem is fixed now. Many thanks again. I really appreciate that you all are so responsive.

[2020-12-04 09:11] MatthiasScherrerFGCZ commented on #6591
@Rapster Thanks :)

[2020-12-04 12:02] #4541 closed, assigned to melloware

[2020-12-04 12:16] vicanfon opened #6602 "Is it possible to use primefaces with thymeleaf?"
I am using thymeleaf a the rendering engine of my springboot project.

Is it possible to use primefaces? how?

[2020-12-04 12:21] Rapster commented on #6602
not sure what the question is... but sure you can use PF and thymeleaf in the same app

[2020-12-04 12:21] #6602 closed, assigned to nobody

[2020-12-04 12:22] tandraschko commented on #6602
You can not use PrimeFaces components inside a thymeleaf view. You can however use JSF+PrimeFaces on SpringBoot and serve both JSF and thymeleaf on different URLs.

[2020-12-04 12:26] vicanfon commented on #6602
Thanks @tandraschko, I meant just that. using Primefaces components inside thymeleaf.

Thanks for the clarification

[2020-12-04 12:35] melloware commented on #6587
There is also this plugin: https://github.com/mherrmann/fullcalendar-rightclick

However it doesn't work for FullCalendar 5 and the author left a very unprofessional answer to my ticket: https://github.com/mherrmann/fullcalendar-rightclick/issues/23

[2020-12-05 10:11] tandraschko opened #6605 "AccordionPanel: add JS API to toggle or open/close all tabs"
See https://stackoverflow.com/questions/65152673/how-to-collapse-programmatically-all-panels-in-a-primefaces-accordionpanel

[2020-12-05 13:37] melloware commented on #6605
If someone needs this now:
[code]

[2020-12-05 18:16] #1390 closed, assigned to Rapster

[2020-12-05 18:27] melloware commented on #1390
I just uncommented the integration test for this and running it now:
https://github.com/primefaces-extensions/primefaces-integration-tests/commit/11b9b9ad6e43529fe9a5a7587d98e8485e74e94f

[2020-12-05 18:48] melloware commented on #1390
All tests passing!  great job @Rapster @christophs78

https://github.com/primefaces-extensions/primefaces-integration-tests/actions/runs/402897263

[2020-12-05 18:52] #6600 closed, assigned to fanste

[2020-12-05 19:02] #6605 closed, assigned to melloware

[2020-12-05 20:30] Rapster commented on #1390
Thanks everyone!

[2020-12-05 20:37] Rapster commented on #6591
Forgot to mention, since sortBy & filterBy are the same, you can simplify this by using `UIColumns#field`:

[code]

[2020-12-06 01:07] Rapster opened #6608 "DataTable: Remove initMode attribute"
**Description**
Whether it's load or immediate: it does the same thing

[2020-12-06 01:23] #6608 closed, assigned to Rapster

[2020-12-07 08:24] tuerker opened #6609 "Datatable: filtering crash with null column values"
@Rapster i have detected another bug. The following NPE is thrown when filtering on a datatable (which was workling for long years):

[code]

The columns looks as follows:

[code]

This datatable iterates over a list of objects:

[code]

Could you please check and fix it. Thanks in advance.

[2020-12-07 08:37] tandraschko commented on #6592
@Rapster should we merge all 3 and call it UITable?

[2020-12-07 09:18] Rapster commented on #6592
Sure

[2020-12-07 09:26] Rapster commented on #6609
`StringEqualityFilterConstraint#predicate` is null which I don't see how it could happen... Are you using a custom FilterConstraint? Because `StringEqualityFilterConstraint` is never directly called from our codebase

[2020-12-07 09:33] Rapster opened #6610 "StyleClassBuilder: create styleClass easily"
**Description**
Tired of reading/writing styleClass boilerplate code and IntelliJ screaming at me about refactoring these ternary coditions. It can simply by a builder:

Before:
[code]

After:
[code]

[2020-12-07 09:38] tuerker commented on #6609
no. as you can see in this use case, we have a datatable that iterates over a list of objects that are computed via a nativequery based on a view. the expression entity[0] refers to the first column of the view which is a string value. interestingly, the filter for the numeric columns, e.g., num_chages (entity[4]), price(entity[5]), anddiscountedprice (entity[6]), are working correctly.

[2020-12-07 09:39] tuerker commented on #6609
something must have changed here since the corresponding screens were running since years.

[2020-12-07 09:40] tandraschko commented on #6610
+1 for a builder
however, i dont see how we can mix both style and styleclass into a String styleClass result?

and please make it like WidgetBuilder, reuse the instance and get it from PrimeRequestContext

[2020-12-07 09:42] Rapster commented on #6609
Something did change indeed... My best guess would be to debug and see when/how StringEqualityFilterConstraint is instanciated with a null predicate?

[2020-12-07 09:56] tandraschko commented on #6592
did it in 2 classes now as SubTable doesnt need filtering/sorting

[2020-12-07 10:02] Rapster commented on #6592
Mmmh... I see your point, but I would still make it one interface, it's okay if SubTable doesn't need it though it could support it if we want to.

[2020-12-07 10:04] tandraschko commented on #6592
i dont like to add many empty methods there, when they are not needed
also i dont like to make e.g. getSortByAsMap a empty default method

[2020-12-07 10:06] Rapster commented on #6592
Ah ok I thought they all contain default stuff... I guess it's okay then

[2020-12-07 10:07] tandraschko commented on #6592
@Rapster
what about FilterMeta resolveFilterField? it still looks like old code, which doesnt use the Map?

[2020-12-07 10:09] Rapster commented on #6592
sorry i don't follow?

[2020-12-07 10:10] tandraschko commented on #6592
nvm, its based on the column. all good :D sry

[2020-12-07 10:17] tandraschko commented on #6592
there is one thing left i would like to refactor before going to the final tests.
In DataTable we have some static utils like resolveStaticField, resolveDynamicField and createValueExprFromVarField

they belong to TreeTable and DataTable actually, should move them to UISortableFilterableTable?

[2020-12-07 10:21] Rapster commented on #6592
yes

[2020-12-07 10:50] tuerker commented on #6609
line StringEqualityFilterConstraint.java:42

        return predicate.test(val, str);

states that the predicate must be null.

so the question is here: how can it be that the predicate is not set?

I drilled down the problem: I have found out that the problem occurs when the corresponding column contains at least one null value. I hope that this helps you to fix the bug.

[2020-12-07 10:57] tuerker commented on #6609
here is a reproducer:

[p-filter-datatable.zip](https://github.com/primefaces/primefaces/files/5652204/p-filter-datatable.zip)

[2020-12-07 10:58] tuerker commented on #6609
col_2 is a column that in contrast to col_1 contains a null value. there the filter does not work.

[2020-12-07 11:01] clockwiser opened #6611 "FileUpload: Spring Framework issue with commons-fileupload"
**Describe the defect**
Listener of fileUpload is not invoked in advanced mode with common mode uploader.

**Reproducer**
In the source of CommonsFileUploadDecoder, it looks like be possible to handle advanced mode, but simply not working.
With native uploader, same code runs without any problem.
**Environment:**
 - PF Version: _8.0_
 - JSF + version: _e.g. Mojarra 2.2.20
-  Tomcat 8.5
 - Affected

[2020-12-07 11:10] Rapster commented on #6609
Ok I see it now

[2020-12-07 11:55] tuerker commented on #6591
Thanks for the hint. Actually it works as you stated for p:columns.

However, you cannot do the same for p:column. There you will get the following error:

`Column 'field' attributes must be non null.`

[2020-12-07 12:00] tuerker commented on #6591
just replace in the reproducer above the html file to verify this:

[code]

while this works:

[code]

[2020-12-07 12:05] Rapster commented on #6591
`UIColumn#field` expects a constant

[2020-12-07 12:11] tuerker commented on #6591
i see.

[2020-12-07 12:15] tuerker commented on #6591
i can confirm that the following works:

[code]

[2020-12-07 12:15] tuerker commented on #6591
thanks again.

[2020-12-07 12:25] Rapster commented on #6592
What about renaming `UITable` into `ColumnAware` and `UISortableFilterableTable` into `UITable`?. `SubTable` is no table but a custom tr/td renderer. I feel that `UISortableFilterableTable` is a bit too verbose for a class name

[2020-12-07 12:32] #6609 closed, assigned to Rapster

[2020-12-07 12:32] Rapster commented on #6609
Fixed. Thanks for reporting

[2020-12-07 12:39] Rapster commented on #6611
Next time please, format your code: https://docs.github.com/en/free-pro-team@latest/github/writing-on-github/basic-writing-and-formatting-syntax#quoting-code

[2020-12-07 12:41] tuerker commented on #6591
i have detected that it this approach gets trickier with at least lazy model when the column is based on embedded values.

This is the currently running column:

[code]

When changed to the field approach it will not run anymore:
[code]

The following instead will run since the query then will mapped again correctly:
[code]

[2020-12-07 12:43] tandraschko commented on #6592
done

[2020-12-07 12:46] tuerker commented on #6609
great. thanks. when it will be in the master?

[2020-12-07 12:48] Rapster commented on #6591
Assuming var="entity", try field="address.zip"?

[2020-12-07 12:50] tuerker commented on #6591
exactly this runs. see third code fragment above. thanks.

[2020-12-07 12:53] Rapster commented on #6591
My bad I didn't see, then it works as expected

[2020-12-07 13:01] Rapster commented on #6609
it's already there

[2020-12-07 13:01] melloware commented on #6611
When I try this I am getting a stack trace:
[code]

Which explains why the Listener is not called.

[2020-12-07 13:02] tuerker commented on #6591
would be great to generalize the column concept one step ahead to avoid redundancy problems by just writing

[code]
instead of
[code]

thereby, the field defines the output the table field.

[2020-12-07 13:05] Rapster commented on #6591
Weird, first sample should work

[2020-12-07 13:13] tuerker commented on #6591
great. i had not tested this. it was an immediate wish after seeing that field is available.

[2020-12-07 13:13] melloware commented on #6611
It looks like `MultiPartRequest` is NULL here:
[code]

[2020-12-07 13:13] tuerker commented on #6591
it is actually working. many thanks again.

[2020-12-07 13:17] Rapster commented on #6611
Yeah i'm having a closer look... Seems like the original request is no `ServletRequestWrapper`

[2020-12-07 13:24] Rapster commented on #6611
Ok, make sure to enable multi part by setting enctype to your form (e.g `<h:form enctype="multipart/form-data">... </h:form>`)

[2020-12-07 13:28] tandraschko commented on #6611
Should we add a warning log?

[2020-12-07 13:29] Rapster commented on #6611
Good point

[2020-12-07 13:29] melloware commented on #6611
Yes we should and we should fix the showcase form because that is what I am testing with.  I am fixing the showcase example now.

[2020-12-07 13:30] Rapster commented on #6611
@melloware do you think you can also add the log?

[2020-12-07 13:30] tandraschko commented on #6611
i will add the log, NP

[2020-12-07 13:31] clockwiser commented on #6611
I have tried that <h:form enctype="multipart/form-data">, but didn't work.

By debugging, found the "FileItem file" becomes null in the following part.

source file: CommonsFileUploadDecoder
method: decodeAdvanced()
FileItem file = request.getFileItem(clientId);

Don't know why.

[2020-12-07 13:32] Rapster commented on #6611
Make sure your filter-mapping is configured with the right servlet-name. Usually it's "Faces Servlet" you might have changed that name?

[2020-12-07 13:34] melloware commented on #6611
@tandraschko I am wondering if we should throw a FacesException instead of log a warning?  "Your form is not a multipart form. Please use enctype="multipart/form-data"." Or something like that.

[2020-12-07 13:35] clockwiser commented on #6611
No. I have checked that matches. Also I tried allowCasualMultipartParsing="true", which is a context setting of tomcat 8.5.

[2020-12-07 13:37] tandraschko commented on #6611
@melloware better we avoid that. There can be a different form on the client or even no parent form on the server side. (because appendTo e.g.)

[2020-12-07 13:41] melloware commented on #6611
@clockwiser OK so this is specific to Tomcat. And just making sure you are using Commons FileUpload 1.4 the latest version correct?

[2020-12-07 13:42] Rapster commented on #6611
@melloware +1 to throw exception in `CommonsFileUploadDecoder#getRequest`, if it returns null it will crash later so better to inform what's wrong asap

@clockwiser start debugging `FileUploadFilter`, you should be able to understand why your request is not wrapped into a `MultipartRequest`

[2020-12-07 13:43] clockwiser commented on #6611
If there is a concrete example of advanced mode with common uploader, it will be greatly appreciated.  Also my case is migration from richfaces to primefaces, and primefaces uploader has no createTempFile option, which is a big headache and the reason of why must use common uploader. In common uploader, thresholdsize can be used like a createTempFile switch.

[2020-12-07 13:47] melloware commented on #6611
@clockwiser let me throw together a quick runnable example for you.

[2020-12-07 13:49] clockwiser commented on #6611
No. I used 1.3.3 according the dependency from https://mvnrepository.com/artifact/org.primefaces/primefaces/8.0.

[2020-12-07 13:49] tandraschko commented on #6611
added logging on renderer side
@Rapster please add the exception in the getRequest like you mentioned

[2020-12-07 13:53] melloware commented on #6611
@clockwiser Here is a reproducer:
[pf-6611.zip](https://github.com/primefaces/primefaces/files/5653053/pf-6611.zip)

Unzip and run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2020-12-07 14:36] clockwiser commented on #6611
This sample uses glassfish, not tomcat 8.5. Maybe that's the reason of different running results.

[2020-12-07 14:39] tandraschko commented on #6611
it uses jetty, not glassfish
you can normally do a simple "mvn clean package" and deploy it to your tomcat

[2020-12-07 14:41] melloware commented on #6611
@clockwiser yes it uses Jetty but it is to prove the base PF code is working.  Now its time for you to help figure out why it doesn't work in Tomcat.  I use this code in Undertow (WildFly) and it also works fine.

[2020-12-07 15:35] tuerker commented on #6591
i have detected a case where it is not working:

[code]

while the following is working.

[code]

could it be that "title" is somehow reserved?

[2020-12-07 15:36] tuerker commented on #6591
the following error is thrown:

[code]

[2020-12-07 15:38] tuerker commented on #6591
This might be related with the other issue which you have fixed but i do not have at the moment since it is not in the master.

[2020-12-07 15:45] Rapster commented on #6591
I fixed that issue same time as #6609

[2020-12-07 16:00] tuerker commented on #6609
i see it now. thanks.

[2020-12-07 16:11] tandraschko opened #6612 "Overview Mime-Types over Tika?"
It only has ~60kb instead of 7mb TIKA. https://github.com/overview/mime-types

Could some check this? Does it cover all cases like TIKA?

[2020-12-07 16:12] tandraschko commented on #6612
@cnsgithub ?

[2020-12-07 16:44] melloware commented on #6612
@tandraschko I think we tried before and here was the result: https://github.com/primefaces/primefaces/issues/4244

Because some files can only be detected with magic numbers and not just by file extension.

[2020-12-07 17:08] fanste opened #6614 "SelectOneMenu: Wrong item highlighted when SelectItemGroup is used"
**Describe the defect**
In [line 151](https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/forms/forms.selectonemenu.js#L151) the index of the selected option is used to resolve the item form the collection of all items. The selected option could be the children of a group and therefore the index is simply wrong.

**Environment:**
 - PF Version: 9.0

[2020-12-07 17:18] fanste commented on #6614
PR #6615

[2020-12-07 17:35] #6614 closed, assigned to fanste

[2020-12-07 17:41] tandraschko commented on #6612
Afaics Overview does also content checking?

[2020-12-07 19:19] melloware commented on #6612
I can give it a shot and let you know.

[2020-12-07 19:55] melloware commented on #6612
OK now I remmeber why its because Tika plugs into the standard FileContentDetector SPI interface:
https://odoepner.wordpress.com/2013/07/29/transparently-improve-java-7-mime-type-recognition-with-apache-tika/

I am going to submit a PR over at MimeTypes that makes it also an SPI so we can plug it in and give users the choice between Tika or MimeTypes!

https://github.com/overview/mime-types/issues

[2020-12-07 20:10] tandraschko commented on #6612
Ok, we could even integrate it without this SPI but sounds good!

[2020-12-07 20:12] tandraschko commented on #6612
perfect, he already responded! We must also use this Class.forName hack probably we have for TIKA

[2020-12-07 20:21] melloware commented on #6612
Yep working on it.

[2020-12-07 21:35] Rapster commented on #6612
Does it actually matter Tika, Mime-Types or whatever? It's up to `Files#probeContentType` to find the right impl. Now I remember starting working on this... Yeah I think we don't need any of this. As of today,we're doing this:
[code]

but `Files#probeContentType` already does that

[2020-12-07 21:39] tandraschko commented on #6612
yeah but there was a classloading issue AFAIR, so we did a manual lookup try

[2020-12-07 22:08] melloware commented on #6612
Correct it was done this way on purpose because of class loading.

[2020-12-07 22:10] Rapster commented on #6612
Yeah I'm reading this post to understand, though I'm trying to find the source code you mentionned:

Is this problem reproducable on showcase?

[2020-12-07 22:51] Rapster commented on #6612
Ok I reproduced this problem on the showcase, seems like a classloader issue indeed... I fixed it by reimplementing Files#probeContentType:

[code]

So I think we should no longer bother with tika or whatsoever, though I think we should give the possibility to set the FileTypeDetector, in web.xml for instance, the user might want to prioritize

[2020-12-07 23:12] clockwiser commented on #6611
Not solved yet, but found out a similar case.
https://forum.primefaces.org/viewtopic.php?t=57347

[2020-12-08 00:04] tuerker opened #6617 "Datatable: Filtering conversion issue"
@Rapster : Found another issue: When filtering over LocalDate/LocalDateTime column, filtering is not working anymore: I get the following error when i enter "20" into the filtering box:

`Cannot convert 20 of type class java.lang.String to class java.time.LocalDateTime`

[2020-12-08 00:34] melloware commented on #6612
Cool I will update my PR with this and I like your suggestion about priority.

[2020-12-08 00:35] Rapster commented on #6612
I already work on a proposal, will submit it soon

[2020-12-08 00:35] melloware commented on #6611
Yep now we just need to know why. I don't really use Tomcat so I never test and debug with it.

[2020-12-08 00:42] Rapster commented on #6617
Please follow issue template

[2020-12-08 01:01] tuerker commented on #6617
have no computer currently with me to create a reproducer. should be easy for you to change the type of the column of the reproducer i sent you before from string to localdatetime.

[2020-12-08 05:17] clockwiser commented on #6611
Compared required form formats of jetty and tomcat, there are differences.  Tomcat requires input tags for file items, then wrap  them into request. However, the generated html from JSF xhtml only has div tags for file items. Guess Jetty can handle div tags to make a proper uploader request, but tomcat can't.

Samples of tomcat handling commons uploader.
https://balusc.omnifaces.org/2007/11/multip

[2020-12-08 07:39] tuerker commented on #6617
here is the reproducer. thanks in advance.

[p-filter-datatable-2.zip](https://github.com/primefaces/primefaces/files/5657568/p-filter-datatable-2.zip)

[2020-12-08 07:50] clockwiser commented on #6611
Now I am going to take native upload method. But found another problem, the uploaded file handler disappears after finishing listener action. If pass the file handler to next process, and try to call getInputStream(), it shows file not found error. Is it possible to control when to delete the uploaded file with native uploader? Common uploader seems to have a cleantracker setting, but currently ca

[2020-12-08 08:20] tandraschko commented on #6611
that isnt true. Even Jetty cant do that. Advanced FileUpload creates a temp form in a iframe to upload, so it never just submits the normal view. Check your network monitor.

[2020-12-08 08:21] tuerker opened #6619 "DatePicker: year filter does not work anymore"
In the latest snapshot, the year filter is not working anymore. see screenshot below. it has some "arbitrary" range as default. in my example 2007 to 2020. if you need to go beyond that range using the prev/next buttons, the drop-down is empty.

![Screenshot from 2020-12-08 09-14-21](https://user-images.githubusercontent.com/10051373/101457873-5f9bdf00-3936-11eb-961c-25afe5b28144.png)

[2020-12-08 08:42] havist opened #6620 "DatePicker throws JS error and fails on rerender on invalid input"
**Describe the defect**
When invalid input value is typed on the DatePicker the JS error occurs and the component is damaged when rerender during Ajax request because of invalid unparseable value initialization.

**Environment:**
 - PF Version: _8.0_
 - JSF + version: _Mojarra 2.2.20_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Showcase at https://www.pr

[2020-12-08 11:47] Rapster commented on #6611
@clockwiser did you do that at least?

[2020-12-08 11:47] melloware commented on #6619
Can you post your  XHTML snippet. I have a feeling this has to do with min and max date validation.

[2020-12-08 11:55] tuerker commented on #6619
The problem occurs in both cases:

* with and without bean validation
* and for both LocalDate as well as well for LocalDateTime

`    private LocalDate installationDate;
`
[code]

[2020-12-08 12:07] Rapster commented on #4498
Since Tika is no longer an optional/required dependency (only used for unit tests though), does it mean we need to remove this line from pom.xml:
https://github.com/primefaces/primefaces/blob/0f49b1c0634b85018d07295f32afbb6e142f41e8/pom.xml#L441

[2020-12-08 12:10] tandraschko commented on #4498
yup

[2020-12-08 12:40] melloware commented on #6619
Works fine for me:
[pf-6619.zip](https://github.com/primefaces/primefaces/files/5659296/pf-6619.zip)

![image](https://user-images.githubusercontent.com/4399574/101485109-ad114f80-3928-11eb-8c17-32bfb2908864.png)

[2020-12-08 12:42] melloware commented on #6620
Fixed already in 9.0.

Duplicate of: https://github.com/primefaces/primefaces/issues/5683

[2020-12-08 12:43] #6620 closed, assigned to nobody

[2020-12-08 12:46] melloware commented on #6612
I like your PR.  Now simply including either Tika or MimeType 1.0.0 when it is released will automatically be picked up

[2020-12-08 12:53] #6612 closed, assigned to melloware, Rapster

[2020-12-08 13:14] tandraschko opened #6621 "GraphicImage: doesnt support MethodExpression anymore for stream=false"
see DynamicContentSrcBuilder

[2020-12-08 13:17] #6621 closed, assigned to tandraschko

[2020-12-08 13:17] melloware commented on #6610
I really like this change and we can easily update 1 component at a time anytime we are in there touching the component for any other reason.

[2020-12-08 13:23] tuerker commented on #6619
thanks. i have checked your reproducer. it reveals exactly the problem i have described above.

do the following:

1) press on the year drop-down and select the first/last year (2010 or 2030)

2) if you have chosen first (2010) use the prev button to go back in the months till 2009 is reached. then the year will disappear

the same happens on the other end.

![Screenshot from 2020-12-08 14-22-11](

[2020-12-08 13:32] melloware commented on #6619
2 issues:

1. None of those steps were in your original ticket. You never mentioned going back to year 2010 etc.  So how as a dev are we supposed to debug your ticket when you don't follow the issue template.

2. You state "In the latest snapshot, the year filter is not working anymore." which is also not true.  If you run the reproducer with PF 8.0 this has NEVER worked.   So why do you state thi

[2020-12-08 13:38] tuerker commented on #6619
i thought the bug is obvious. sorry for being not precise enough in the first description. it will try to do better.

thanks for all your efforts.

[2020-12-08 13:38] melloware commented on #6619
The bug has always been there in the JS:
[code]

[2020-12-08 13:47] tuerker commented on #6619
just a side mark: the "arbitrary" range (2007 to 2020) mentioned in the original description was sure from an example where the @PastOrPresence annotation was used. For me it looked "arbitrary" because i had no explanation why it is a 14 year range while it was somewhere else 20 years.

[2020-12-08 14:11] #6619 closed, assigned to melloware

[2020-12-08 14:20] clockwiser commented on #6611
I had tried to debug the filter but didn't figure out much. So I came here. :-)

[2020-12-08 14:26] tandraschko commented on #6173
@biesalsk what is your usecase here?

[2020-12-08 14:56] tandraschko commented on #6173
i will commit something now which doesnt break existing apps. We may even define a attribute "cloneOnFilter" because it might hurt performance and i currently dont have a case where the filteredValue needs to be a custom node.

[2020-12-08 15:00] biesalsk commented on #6173
We created a CustomTreeNode which triggers a background process if the node expands. It is necessarry to hold the received state within the TreeNode. On filter, all TreeNodes gets recreated and we're loosing all states.

The original problem was, that we need to enable lazy loading of data from external systems for TreeTables.

[2020-12-08 15:04] tandraschko commented on #6173
I see. Please test again - you need to set cloneOnFilter=true now

[2020-12-08 15:05] biesalsk commented on #6173
In my oppinion, there is no reason to recreate each TreeNode while filtering regardless of which implementation for TreeNode is used.

[2020-12-08 15:08] tandraschko commented on #6173
Yeah, but thats the current impl. A improvement for the future would be to add a "filtered" flag to the TreeNode and not render again based on this decision.

[2020-12-08 15:40] melloware commented on #6612
@Rapster I am testing with MimeTypes and I think we need to put this line back:
[code]

We remove the file extension if Tika so it tests "magic bytes" only but the standar NIO Detector and Mime Types require the file extension to properly evaluate the type.

[2020-12-08 15:41] melloware commented on #6612
I will submit a PR.

[2020-12-08 16:02] Rapster commented on #6612
I'll have a closer look regarding Tika

[2020-12-08 16:04] melloware commented on #6612
I think @cnsgithub removed the extensions because I think Tika will do an extension check first before a magic bytes check.  This way it forced it to not use the file extension.  WE could just remove that requirement and just let Tika be Tika and always use the extension.  We could probably skip this Temp File check altogether because its just being done to test the magic bytes by ignoring the fil

[2020-12-08 16:33] tuerker commented on #6619
I tried it out the latest code. The issue is still there. Have I overlooked something?

![Screenshot from 2020-12-08 17-32-54](https://user-images.githubusercontent.com/10051373/101512594-787ab380-397b-11eb-8077-d06d8f94c9fd.png)

[2020-12-08 16:42] melloware commented on #6619
Did you press CTRL+F5 to reload JavaScript?

[2020-12-08 17:21] Rapster commented on #6612
I just pinged the Tika guys asking for a new impl of FileTypeDetector... Indeed Tika check on extension first for some reason... For security reasons (and that's the topic here) I would completely ignore the extension, so whether it's mime-types or Tika I can't say I'm happy with what they're doing... Since Tika is the "RI kinda" of content analysis, I guess we can workaround it...

[2020-12-08 17:25] melloware commented on #6612
OK thanks for researching.  Did you open a Tika ticket you could link here or just ask on the mailing list?

[2020-12-08 17:28] christophs78 commented on #6511
We have this feature (as part of our custom PrimeFaces 8.0-build) in our enterprise-grade COVID-19-contract-tracing application since 3 weeks in production. Works very well. :-)
We replaced 3 fat SelectOneMenu´s in our main XHTML (which contains all information around one person) with AutoComplete with REST-endpoint. Average CPU-time for this XHTML went down from 70ms to 50ms. (And there happens w

[2020-12-08 17:29] Rapster commented on #6612
I just pinged an existing ticket where they talk about this https://issues.apache.org/jira/browse/TIKA-1217

[2020-12-08 17:30] melloware commented on #6511
Thanks for reporting. I think this is an excellent addition to AutoComplete.

[2020-12-08 17:30] tandraschko commented on #6511
great, thanks for the feedback.

[2020-12-08 18:31] #6617 closed, assigned to Rapster

[2020-12-08 18:42] melloware commented on #6617
We just got an Integration test failure after this change.
[code]

[2020-12-08 19:22] melloware commented on #6617
Rerunning now I think I fixed the test.

[2020-12-08 23:49] clockwiser commented on #6611
There was no problem when ran your example on tomcat 8.5. Created maven snapshot and deployed the snapshot to tomcat wtp server, and ran from inside eclipse.

[2020-12-09 00:02] melloware commented on #6611
So our sample works on Tomcat?  Does that mean you need to figure out what is different between your app and ours?

[2020-12-09 00:11] clockwiser commented on #6611
The biggest difference is that my project is still using good old spring framework+mybatis. But hardly it is the cause of the issue, I think.

[2020-12-09 00:17] melloware commented on #6611
Ahh ok could it be some Spring filter or listener that is in between and somehow causing the issue. That would be my theory.

[2020-12-09 07:36] tuerker commented on #6619
After clearing cache, it works. Thanks.

[2020-12-09 09:14] fanste opened #6626 "InputMask: IE11 not supported anymore"
**Describe the defect**
The input mask uses the external library [0-jquery.inputmask.js](https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/inputmask/0-jquery.inputmask.js) which uses `Array.prototype.includes`. This function is not available in IE11.

Is IE11 still supported in PF9?
Then maybe we should simply include a polyfill. Or at least ment

[2020-12-09 09:21] tandraschko commented on #6626
+1 to add a polyfill
we already have some of them in a seperate file

[2020-12-09 09:23] fanste commented on #6626
I've just found the polyfill-file.

PR #6627

[2020-12-09 09:29] #6626 closed, assigned to fanste

[2020-12-09 09:29] tandraschko commented on #6626
Thanks!

[2020-12-09 10:06] Rapster commented on #6611
Would that help you https://forum.primefaces.org/viewtopic.php?t=24077 ?

[2020-12-09 11:31] dgoicocheta opened #6628 "ExceptionHander: Lost session when session tracking mode is 'URL'"
When session tracking mode is configured as URL in web.xml, ExceptionHander don't append the jsessionid param to the location of error page, the session is lost and, all the exception info is lost in page error.

**To Reproduce**
Configure sesion tracking mode as URL in web.xml,
[code]
Configure ExceptionHandler as usual in faces-config.xml, launch a exception, and in the redirect error page, the

[2020-12-09 12:19] tandraschko commented on #6628
should work now, please test test test

[2020-12-09 12:19] #6628 closed, assigned to tandraschko

[2020-12-09 12:36] melloware commented on #6611
@clockwiser If you can confirm that the forum post @Rapster posted does fix your issue I will update the FileUpload docs so we don't run into this again.

[2020-12-09 12:41] melloware commented on #6626
Thanks @fanste I should have caught this but I never test with IE11 much anymore as all my clients have dropped it as an acceptable browser.

[2020-12-09 13:06] dgoicocheta commented on #6628
The solution an works with myfaces, but no with mojarra, I review the ExternalContext.encodeRedirectURL method from myfaces and mojarra, and while myfaces uses the encodeRedirectURL from HttpServletResponse, mojarra only append the collection map parameters, not the jsessionid, Maybe it`s a bug from mojarra i don't know.

[2020-12-09 13:17] melloware opened #6629 "Mobile: HTML5 InputMode attribute"
**Description**
Add `inputmode` to `AbstractPrimeHtmlInputText`.

https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/inputmode

The `inputmode` attribute tells the browser on devices with dynamic keyboards which keyboard to display.  This is useful hint on mobile devices.

I already added it to `InputNumber` so it can support either numeric or decimal keyboard only but I would lik

[2020-12-09 13:25] astappiev commented on #5808
No good solution found as for now.

[2020-12-09 13:25] #5808 closed, assigned to astappiev

[2020-12-09 13:34] Rapster commented on #5808
Till we don't have a clean way of supporting arrays and list, I'm against supporting more array stuff. It's not because arrays are "old school" or anything like that, it's just it results as ugly/messy code

[2020-12-09 13:41] tandraschko commented on #6628
should be better now

[2020-12-09 13:55] tandraschko commented on #6030
@melloware @christophs78 did a small refactoring, please review (and/or test :D)

[2020-12-09 14:02] melloware commented on #6030
I like it. Looks good.

[2020-12-09 14:18] dgoicocheta commented on #6628
Ok, tested with mojarra 2.2 and 2.3 (2.2.20,  2.3.14), and myfaces 2.2 and 2.3 (2.2.12, 2.3.7)  and it's work.

[2020-12-09 15:30] christophs78 commented on #6030
Looks good. Maybe i can add some integration-test for this.

[2020-12-09 15:45] melloware commented on #6628
Excellent thanks for testing!

[2020-12-09 15:48] buunsal opened #6631 "Timeline: Vertical and horizontal scroll"
https://visjs.github.io/vis-timeline/examples/timeline/groups/visibleGroups.html

[2020-12-09 17:18] fanste opened #6633 "PickList: Transferred item rolled back if transfer event refreshes a DataTable"
**Describe the defect**
A `p:pickList` with a `transfer`-event that updates a `p:dataTable` is totally broken due to a change that was implemented for issue #5582. The comment on the changed code is
[code]
And that is the root cause of my issue. It really destroys ANY currently active drag'n'drop.

**Reproducer**
If really required, I will try to setup a small testcase.

**Environment:**
 - PF Ver

[2020-12-09 17:32] melloware commented on #6633
Nope i totally get it. It is because in JQ DragDrop you have to use the global manager and cancel all events there is no way to cancel a specific event.
[code]
 There may be a better way but that was the only real way I found in all my stack overflow searches.

[2020-12-09 17:35] fanste commented on #6633
Only a single d'n'd might be active at a time, right? I don't know if there is any information available about he origin of the d'n'd Then we could simply check that before we cancel it.

[2020-12-09 17:36] melloware commented on #6633
Would this help?
[code]

Basically only cancel if the table has draggable rows or columns?

[2020-12-09 17:38] fanste commented on #6633
In fact that would not help in my case either, as I have to enable draggableRows on my table. But in most cases that would be the simpliest fix.

[2020-12-09 17:40] melloware commented on #6633
I mean to solve your problem right now you could just add this code.
[code]

Basically just monkeypatch and remove that DD cancel.

[2020-12-09 17:45] fanste commented on #6633
One more strange observation: even items moved with the 'move selected items'-button are reverted to the source list once the datatable is refreshed.

I will redefine the `unbindEvents` for my application, thanks for the tip. But we still should search for a better solution.

[2020-12-09 17:47] melloware commented on #6633
Agreed for now I am going to add the check for draggableRows and draggableColumns but that is only a nice improvement not a solution.

[2020-12-09 18:01] fanste commented on #6633
Worth a test, worked in my local example:
[code]

[2020-12-09 18:06] melloware commented on #6633
I was just working on something similar.  Let me test it with both drgaable columns and rows.

[2020-12-09 18:35] #6633 closed, assigned to fanste

[2020-12-09 18:35] melloware commented on #6633
Great teamwork!  Nice solution.

[2020-12-09 21:27] alipsitz-sf opened #6636 "DatePicker: TimeOnly 12:04 a.m. (midnight plus 4 minutes) is not handled correctly"
(Apologies in advance, I am new to reporting defects. I kinda just looked at what others were doing to fill in the format below.)

**Describe the defect**
Using the time-only 12-hour datePicker causes 12:04 a.m. to become 12:04 p.m. The input box correctly displays "12:04 AM", but when opening the time picker, it gets changed to 12:04 PM" and updates the input box with the incorrect value.
GIF bel

[2020-12-09 21:28] melloware commented on #6636
Thanks for reporting we will look into it and report back.

[2020-12-09 23:27] clockwiser commented on #6611
My project is based on spring mvc, not spring webflow. @Rapster's post doesn't fix the issue.

[2020-12-09 23:35] Rapster commented on #6611
If it works with native but not with apache, then something's wrong with your FileUploadFilter (mapping) configuration, does it get called at least?

[2020-12-09 23:46] melloware commented on #6611
@clockwiser can you post your full web.xml for us to see?

[2020-12-10 00:42] clockwiser commented on #6611
It is called, I even debug into it.
By debugging, found the "FileItem file" becomes null in the following part, failing to get FileItem and action is not called.

source file: CommonsFileUploadDecoder
method: decodeAdvanced()
FileItem file = request.getFileItem(clientId);

[2020-12-10 00:49] clockwiser commented on #6611
There are several customized filters involved in the web.xml. Now I'm checking into these filters. As for web.xml file, sorry I need to consult project manager if it is allowed to publish

[2020-12-10 08:35] tandraschko commented on #6611
It seems that also basic && auto=true needs no enctype anymore, i will change the logging a bit.

[2020-12-10 09:08] fanste opened #6637 "DataTable: mutli-sort does not always respect priority"
The whole refractoring regarding #5438 reverted the functionality of #4557.

1. `UITable.getSortMetaAsString` now returns ALL sort meta instead of only the active sort meta.
2. `UITable.getSortMetaAsString` returns the sort meta at a random order, not according the priority.
3. `LazyDataModel.load#multiSortMeta` is a `HashMap` and a user has to sort the meta according the priority before it could

[2020-12-10 10:05] fanste commented on #6637
I already started to implement a PR #6638 before you assigned the ticket to yourself, @Rapster.

If you have a own/better implementation, feel free to close my PR.

[2020-12-10 10:06] Rapster commented on #6637
Cool, i'll do the review then

[2020-12-10 10:10] fanste commented on #6637
Most probably a refactor would be even better to really make `sortByAsMap` a `LinkedHashMap` which eliminates the sorting at all other places.

[2020-12-10 11:33] melloware commented on #6637
+1 we use linkedHashMap in all of our custom implementations.

[2020-12-10 12:32] #6629 closed, assigned to melloware

[2020-12-10 13:14] melloware commented on #6636
I have confirmed your issue with reproducer:
[pf-6636.zip](https://github.com/primefaces/primefaces/files/5672953/pf-6636.zip)

[2020-12-10 15:09] melloware commented on #6636
@christophs78 I can see the problem.

**8.0**
in 8.0 PF sent this to the UI: `defaultDate:"00:04 AM"` which was both correct and incorrect.  It has "00:04" in the text box which is not even a valid AMPM date.  But had the UI dropdown correct.
![image](https://user-images.githubusercontent.com/4399574/101789704-9c4f0e00-3acf-11eb-867c-940ce70d9b4d.png)

**9.0**
In 9.0 PF sent this to the UI: `defau

[2020-12-10 15:43] Rapster commented on #6637
I quite expected that issue to happen, but I was hoping to fix it once we figure out #6532, but it's not gonna happen in this release... I made few changes to your PR, otherwise it looked good 😉

[2020-12-10 15:48] #6637 closed, assigned to Rapster

[2020-12-10 16:01] svenhaag opened #6640 "Chips: validator acts on list instead of item"
Using e.g. `<f:validateLongRange minimum="0" maximum="42" />` in the chips component does not work as the validator acts on the value list instead of the single items.
Adding a valid integer item results in a validation error.
It seems impossible to use `List<Integer>`.

On the other hand, adding a string to the int list immediatelly throws an error. The validator is not called at all.

**Environm

[2020-12-10 16:05] tandraschko commented on #6640
i will mark it as new feature as its by design.
normally the "value" of a component is validated and the value is a List for a "selectMany" component

[2020-12-10 16:09] svenhaag commented on #6640
Hi @tandraschko, so it's designed to work with `List<String>` only? Please also refine the documentation on this.

[2020-12-10 16:12] tandraschko commented on #6640
looks like other types are supported as i can see converter supporter in our code

[2020-12-10 16:18] svenhaag commented on #6640
The convert works property on the single items.

[2020-12-10 16:24] tandraschko commented on #6640
yep

[2020-12-10 17:11] melloware commented on #6640
so what is the action here?

[2020-12-10 17:16] tandraschko commented on #6640
unsure
we have to check e.g. selectMany* first

[2020-12-10 18:03] melloware commented on #6611
OK so we have ruled out its a Tomcat issue because our sample WAR works fine in Tomcat.

So that leaves us with its some Filter or Servlet in Spring Framework that must be causing the issue.  I will close this ticket for now and will re-open if we are provided a Test case we can debug and see the problem.

[2020-12-10 18:03] #6611 closed, assigned to nobody

[2020-12-10 18:50] melloware commented on #6636
I wrote a failing integration test proving the issue as well so if its fixed we will have a regression test.
https://github.com/primefaces-extensions/primefaces-integration-tests/commit/dc1b455549e771f19347b5ab2365f36cbcfb5c95

[2020-12-10 19:02] JamieGHamilton opened #6641 "DatePicker: JavaScript error during ajax request"
**Describe the defect**
The datePicker widget javascript contains the method "_destroy" which gets called during an ajax request when the component is rerendered.  This destroy method calls 2 methods: this.restoreOverlayAppend() and this.onOverlayHide() - neither function seems to be defined anywhere and creates javascript errors.

**Reproducer**

**Environment:**
 - PF Version: 8.0
 - JSF + versi

[2020-12-10 19:07] melloware commented on #6641
I can't reproduce?
[pf-6641.zip](https://github.com/primefaces/primefaces/files/5675079/pf-6641.zip)

Run `mvn clean jetty:run -Pmyfaces23` and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2020-12-10 19:18] JamieGHamilton commented on #6641
MyFaces will capture and hide this exception so you have to turn on debugging and pause on caught exceptions.
I can reproduce it with your example:
![image](https://user-images.githubusercontent.com/24283616/101818884-8272f280-3af2-11eb-90d2-e51a49390ded.png)

[2020-12-10 19:21] melloware commented on #6641
I have my Chrome Console set to "preserve log" so any error thrown in the console remains and does not get cleared and I don't see it?
![image](https://user-images.githubusercontent.com/4399574/101819260-fad9b380-3af2-11eb-89d9-7b91e1914eda.png)

[2020-12-10 19:24] JamieGHamilton commented on #6641
In chrome you need the stop sign to be blue and the checkbox "Pause on caught exceptions"
![image](https://user-images.githubusercontent.com/24283616/101819482-5441e280-3af3-11eb-8706-0182a9bbf4ff.png)

[2020-12-10 19:27] melloware commented on #6641
I see it now thanks!

[2020-12-10 19:30] Rapster commented on #6611
Can you debug `CommonsFileUploadDecoder#createUploadedFile` and check/debug from there, anything suspecious like name being null or `FileItem#fileParams` being empty, does it actually contain anything etc. Basically, do you see a reason why file being null?

[2020-12-10 19:35] melloware commented on #6641
OK can you add this MonkeyPatch to your JS code that loads after PF and see if its fixed.
[code]

[2020-12-10 19:47] JamieGHamilton commented on #6641
Yes...it's fixed!

[2020-12-10 19:48] melloware commented on #6641
Thanks for reporting I would have never seen this if not for that break on JS error checkbox!

[2020-12-10 19:48] #6641 closed, assigned to melloware

[2020-12-10 19:50] JamieGHamilton commented on #6641
No problem.

[2020-12-10 20:12] svenhaag commented on #6640
To me, the (item) converter does not make any sense if validator acts on the list.

[2020-12-10 20:50] svenhaag opened #6643 "Chips: Unique/Distinct entries"
The p:chips component should ignore duplicate entries.
Make this feature configurable with an attribute.

[2020-12-10 20:58] melloware commented on #6643
Similar to `p:collector` the attribute should be called `unique`.  For example `unique="true"`

[2020-12-11 00:54] clockwiser commented on #6611
Exactly fails here.
class:org.apache.commons.fileupload.MultipartStream
method:readBodyData

public int readBodyData(OutputStream output)
            throws MalformedStreamException, IOException {
        final InputStream istream = newInputStream();
        return (int) Streams.copy(istream, output, false);

Streams.copy throws exception: org.apache.commons.fileupload.MultipartStream$MalformedStr

[2020-12-11 09:29] Rapster commented on #6611
There you go, you know exactly where to look now :wink:

[2020-12-11 12:13] melloware commented on #6611
@clockwiser I know this is for Spring Boot but this sounds an awful lot like your issue: https://stackoverflow.com/questions/51149162/spring-boot-streaming-apache-fileupload-stream-ended-unexpectedly

As I said some other Filter in your chain is somehow disturbing this process and corrupting or closing the stream.

[2020-12-11 13:47] jepsar opened #6646 "DatePicker: Extra/unparsed characters found in date with 5 digit year"
**Describe the defect**
While typing a date the component sometimes will replace the input value with key press values at the wrong location of the date. This made me end up with a 5 digit year (20201). When going back to that view to modify the date, it will give the "Extra/unparsed characters found in date" exception. I cannot use the component to change the date.

**Reproducer**
Unfortunately t

[2020-12-11 14:49] melloware commented on #6646
I think this might already be fixed in 9.0.  When I try a 5 digit year in the latest showcase with 9.0.  I don't get any JavaScript error.

![image](https://user-images.githubusercontent.com/4399574/101917322-19dd5180-3b96-11eb-9712-ee88f804958a.png)

[2020-12-11 15:16] zicheee opened #6647 "BaseMenuModel: generateUniqueIds overwrites manually set ids"
**Describe the defect**
When I create a sub menu and assign my custom id, the id is overwritten by BaseMenuModel.generateUniqueIds.
In case a menu element already has an id it should not be overwritten.

**Environment:**
 - PF Version: _8.0_

**To Reproduce**
Copy the code below and create a sub menu and assign your custom id to the menu item. When the menu is rendered, the *BaseMenuRenderer* call

[2020-12-11 15:18] melloware commented on #6647
Duplicate of https://github.com/primefaces/primefaces/issues/1039 which is fixed for 9.0

[2020-12-11 15:18] #6647 closed, assigned to melloware

[2020-12-11 18:43] melloware commented on #6643
Integration Test: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/1bdd2727f2582f2e728aa75b8ec63550c0c2e86d

[2020-12-11 19:09] melloware opened #6648 "Exporter: Excel export use numeric data type for numeric data"
**Description**
This was reported by a customer of mine.  When using the datatable export for Excel it exports all cells as Strings.  This causes Excel 2016 to report that a column  "Number stored as text" error because it knows that cell should actually be numeric.

I would like to update the Excel exporter to handle this and make it a number.

**Current:** (year is treated as a String)
![image](

[2020-12-11 19:48] melloware commented on #6646
I am going to close this for now as its fixed.

[2020-12-11 19:48] #6646 closed, assigned to melloware

[2020-12-11 20:38] BryanV91 opened #6650 "LinkButton: onclick attribute gets duplicated"
**Describe the defect**

onclick attribute gets duplicated on `<span />` and `<a />` rendered tags.

**Environment:**
 - PF Version: _8.0_
 - JSF + version: _Mojarra 2.2.8_
 - Affected browsers: _Chrome_

**To Reproduce**

Copy & paste example code.

**Expected behavior**

onclick attribute should be rendered only once.

**Example XHTML**
[code]

**Rendered HTML**
[code]

[2020-12-11 20:41] melloware commented on #6650
Confirmed the issue...we are calling `renderPassthroughAttributes` on both SPAN and A.
[code]

[2020-12-11 20:47] melloware commented on #6650
My PR puts it on the SPAN and not on the A.  That feels like the right place for the `onclick` but i will defer to @tandraschko I can easily switch them.

[2020-12-11 22:55] clockwiser commented on #6611
If so, native uploader should not work as the input stream is corrupted by the same filters which cause problem to common uploader.  Only if native uploader not use input stream, your theory is possible.

[2020-12-12 10:51] #6631 closed, assigned to buunsal

[2020-12-12 11:18] mertsincan opened #6652 "DataTable Filter - inputNumber holding values after page refresh"
Reported By PRO User;

Refresh the page (F5, note that CTRL+F5 works)
Notice that the data is no longer filtered, but the previously selected item is still selected.

[2020-12-12 11:19] #6652 closed, assigned to mertsincan

[2020-12-12 13:46] Rapster commented on #6427
A similar issue has been reported #6652, can you try it out with master?

[2020-12-12 15:07] melloware commented on #6611
I may be mistaken but I believe COmmons FileUpload uses Servlet Filters so its in a chain with other Spring Filters.  Native uses `javax.servlet.http.Part` in the Servlet 3.0 spec to handle the MultiPart upload so I have a feeling they are two completely different things and handled by your container `Tomcat` or `Jetty` or whatever is implementing the Servlet 3.0 spec.

[2020-12-12 15:25] melloware commented on #6427
I retested this with latest Master and its still broken. It also exposed a JS error which I just fixed.
![image](https://user-images.githubusercontent.com/4399574/101987812-5d9e8c80-3c64-11eb-846d-f63f8607ea20.png)

But it does not fix this issue it just prevents an error when `this.headers` is undefined.

[2020-12-12 15:40] melloware opened #6654 "InputNumber: Sign put in wrong position"
**Describe the defect**
From the forums: https://forum.primefaces.org/viewtopic.php?f=3&t=64500&p=187158#p187158

When the symbol variable is set to empty, the negative sign of the number is positioned at the end of the number instead of at the beginning.

We need to add new attribute `negativePositiveSignPlacement` which we should name `signPosition` for consistency see:
http://autonumeric.org/gu

[2020-12-12 15:51] melloware commented on #6654
Now doing this..
[code]

results in this:
![image](https://user-images.githubusercontent.com/4399574/101988594-980a2880-3c68-11eb-8eaf-15e69886716d.png)

[2020-12-14 08:17] svenhaag opened #6657 "Chips: allow arbitrary collection type such as TreeSet"
Currently only `List<String>` can be used for the Chips components value. Therefore the entries are eventually redundant and unsorted.

Please also support other types of collections, so that e.g. a `TreeSet` can be used to have unique and sorted entries.

**Example XHTML**
[code]

**Example Bean**
[code]

[2020-12-14 09:35] #6654 closed, assigned to melloware

[2020-12-14 09:43] Rapster commented on #6657
Please follow the "new feature" template, otherwise will be closed as invalid

[2020-12-14 09:47] #6648 closed, assigned to melloware

[2020-12-14 11:17] #6610 closed, assigned to Rapster

[2020-12-14 11:20] #6643 closed, assigned to melloware

[2020-12-14 11:40] #6592 closed, assigned to tandraschko

[2020-12-14 12:16] tandraschko commented on #5117
i refactored it now and fixed the exception but it still doesnt work and all columns are hidden

[2020-12-14 12:46] tandraschko commented on #5117
the impl in DataTable is completely different. It doesnt use setVisible and handle the state in a own Map. I assume the DataTable impl is also broken when you update the datatable+proces=buttonOnly+partialSubmit.

The impl in TreeTable would be better if working but it also misses MVS for the toggler.

[2020-12-14 12:53] tandraschko commented on #5117
yeah, both DT and TT are broken actually....

[2020-12-14 13:02] tandraschko commented on #5117
puh, the Table and Columns hell...
@Rapster i actually dont like to refactor further but couldnt we in theory support multiple p:columns? Currently the DynamicColumnsListener makes it a 1:1 dependency but i dont understand the DynamicColumnsListener actually, we always collect it/iterate over the children (UITable#forEachColumn)

[2020-12-14 13:21] Rapster commented on #5117
Yes I don't see any reason why we couldn't support multiple `p:columns`, should be quite easy with `UITable#forEachColumn`. Commit 0ec44a5478ebf025d671b867c9af54177eef9502 doesn't say much, but originally it looks like specific to TreeTable. Would it be just because of this?

[code]

[2020-12-14 13:22] #6650 closed, assigned to melloware

[2020-12-14 13:25] tandraschko commented on #5117
no idea TBH

[2020-12-14 14:25] melloware commented on #6657
I could be wrong but when I try to switch Chips to Collection instead of List I get this error:
[code]

It seems like Set is not supported in the EL coerceToType??  I found this post from BalusC about it: https://stackoverflow.com/questions/7711703/displaying-objects-from-a-set-collection-in-datatable-jsf-does-not-work

but maybe I am missing something.

[2020-12-14 14:30] Rapster commented on #6657
Well, I don't think you can explicitely specify a Set through EL. Anyway, here the requirement is to enlarge the support of `Collection` and not make it specific to `List` (see `ChipsRenderer#encodeMarkup`). Basically, we'll have to use introspection for this

[2020-12-14 14:35] melloware commented on #6657
I just submitted this PR: https://github.com/primefaces/primefaces/pull/6658

Which makes it more like AutoComplete but it seems like the submission never even gets to the ChipsRenderer because of the EL Expression issue.  My Integration test fails. when I try and use set.

However @svenhaag I did make it so even if you use `List` and the `unique=true` it ensures the List is unique.  I updated my

[2020-12-14 14:55] svenhaag commented on #6657
@melloware unique acts via JavaScript. I think this could be omitted when relying on the JAVA based collection ;).

[2020-12-14 15:02] melloware commented on #6657
Please see PR: https://github.com/primefaces/primefaces/pull/6658

We make the Server side List unique if unique="true".  Its the same code as done in AutoComplete with multiple.

And as I have said JSF will not allow the value to be a Set only a List it seems.

[2020-12-14 15:17] #6657 closed, assigned to nobody

[2020-12-14 15:49] tandraschko commented on #5117
fixed it now

in general i think its related to "preserveRowState" of p:columns. I now switched TreeTable to handle it the same like in DataTable.

@Rapster would be great if you can review. I will propably align "resizable columns", too to only handle one map and not map+string.

@melloware there is a small bug somewhere in the rendering part that always "almost 2 columns" are rendered if you des

[2020-12-14 15:51] melloware commented on #5117
I can look at that part see if I can find the issue in the JS.

[2020-12-14 15:53] tandraschko commented on #5117
there are 2 issues, for both Tree and DataTable.
If you deselect all but 1 column via JS, there are still "almost 2" columns rendered.
If you update it via ajax, there is only 1 column toggled and also "almost 2" columns rendered.

I will add my example here

[2020-12-14 15:54] tandraschko commented on #5117
[pf-5117.zip](https://github.com/primefaces/primefaces/files/5689923/pf-5117.zip)

[2020-12-14 15:56] tandraschko opened #6659 "TreeTable/DataTable: Refactor DynamicColumns/p:columns handling to support multiple of it"

[2020-12-14 15:56] tandraschko commented on #5639
@melloware can you retest again?

[2020-12-14 15:58] melloware commented on #5117
For some reason I can't unzip your reproducer its giving me a corrupted zip file?

[2020-12-14 16:00] tandraschko commented on #5117
my local one isnt corrupted, uploaded it again.

[pf-5117.zip](https://github.com/primefaces/primefaces/files/5689965/pf-5117.zip)

[2020-12-14 16:00] tandraschko commented on #5117
yep, should be fine

[2020-12-14 16:03] melloware commented on #5639
Yep!

[2020-12-14 16:05] melloware commented on #5639
@tandraschko This issue is still happening with the reproducer.

[2020-12-14 16:05] tandraschko commented on #3682
@melloware would you also like to retest? we have something similar in our app and it works fine

[2020-12-14 16:06] tandraschko commented on #5639
@melloware you have to press "Process and Refresh" before normal "Refresh", otherwise the changes are not posted via AJAX. Or attach AJAX to p:columnToggler.

EDIT: wrong issue, sorry. WIll check it maybe tomorrow.

[2020-12-14 16:06] melloware commented on #5117
I am using Windows 10 and whenever I try and unzip I get this:
![image](https://user-images.githubusercontent.com/4399574/102104636-6b871580-3dfc-11eb-8504-606162e4f8e6.png)

[2020-12-14 16:09] tandraschko commented on #5117
[pf-5117 (2).zip](https://github.com/primefaces/primefaces/files/5690010/pf-5117.2.zip)

now compressed with windows, before i used 7z

[2020-12-14 16:19] tandraschko opened #6660 "TreeTable: add resizable columns state to View and MultiViewState"
the current resizable state is lost after update or view refresh

[2020-12-14 16:20] tandraschko opened #6661 "DataTable: add resizable columns state to ViewState"
currently its only saved in MultiViewState

[2020-12-14 16:23] melloware commented on #5117
Got it now. Debugging...

[2020-12-14 16:24] tandraschko opened #6662 "TreeTable: resizableColumns implemented but doesnt work"

[2020-12-14 16:25] tandraschko commented on #6662
oh, my fail... it works

[2020-12-14 16:25] #6662 closed, assigned to tandraschko

[2020-12-14 16:36] tandraschko opened #6663 "ColumnToggler: MyFaces ViewPooling support"

[2020-12-14 16:37] #6663 closed, assigned to tandraschko

[2020-12-14 16:44] Rapster commented on #6657
Oh yeah my bad, I thought we were creating a temporary ArrayList... Regarding, your last point, read the 2nd paragraph (and yet, it's based on DataTable), but in general nothing prevents to have a Set as value (except EL expressions)

[2020-12-14 17:11] #6661 closed, assigned to tandraschko

[2020-12-14 17:29] melloware commented on #5117
OK I debugged.  here is what I see.

1. Yes all 4 columns are marked `false` in the AJAX call in `columnTogglerState`

2. All 4 column headers are marked `ui-helper-hidden` correctly.
![image](https://user-images.githubusercontent.com/4399574/102114163-e3a70880-3e07-11eb-91c7-2567ecb72160.png)

3. However 3 of the 4 BODY columns are marked `ui-helper-hidden` and when I debug the `TreeTableRenderer

[2020-12-14 17:36] melloware commented on #3682
I have verified this is still broken.  Attached is reproducer:
[pf-3682.zip](https://github.com/primefaces/primefaces/files/5690565/pf-3682.zip)

[2020-12-14 17:54] melloware commented on #3682
Nevermind this is because its `RequestScoped` and it is destroying and re-creating the TreeModel every request.  I don't think this is expected use case.  If I switch it to `SessionScoped` or `ViewScoped` everything works perfectly.

I think we should close this ticket.

[2020-12-14 17:56] tandraschko commented on #3682
yep, thats by design. Same happens in repeat or datatable.

[2020-12-14 17:56] #3682 closed, assigned to nobody

[2020-12-14 18:04] tandraschko commented on #5117
OK, can you dig deeper?

[2020-12-14 18:40] melloware commented on #5117
OK i figured out why.  I am not quit sure but here is what is stored in VisibleColumnsMap:
[code]
Which is the ID of the column header and correct which is why it hides the header.

But then when looping over the body here is the value of `column.getColumnKey`.
[code]

it includes the row ID `0` so its not finding a match in the map.    It works fine now for `p:columns` the `columnKey` is correct

[2020-12-14 19:03] tandraschko commented on #5117
Could you check if it worked before in DataTable? Should be the same code and i didnt change the JS code. And the Bug already occurs on the JS side

[2020-12-14 19:11] melloware commented on #5117
I can confirm this same behavior was broken in 8.0 before any of these changes.  The toggler sends the column header ID which is correct but when looping over cells or nodes the columnKey contains the RowIndex in it as well and thus the MAP will never `containsKey`. I think I have a fix for you to review but I am sure you won't like it 😄

[2020-12-14 19:16] melloware commented on #5117
OK PR submitted I verified it fixes it for both Datatable and TreeTable and works for regular columns and `p:columns` as well.

[2020-12-14 19:55] tandraschko opened #6665 "Propsal: further refactoring on DataTable/TreeTable column related state"
Currently we have the following state, which is also stored in the MVS:

[code]
and orderedColumns is still not refactored.

TBH i dont like further refactorings for 100% as our current code is quite nice and stable compared to 8.0 BUT the next version will be 10.0 and i dont like to refactor everything again. And we have at least 3-4 weeks before a RC1.

we could merge and unify many many code if

[2020-12-14 19:57] tandraschko commented on #6665
i know there are many other things to refactor but this is probably the most core thing currently we could do.
I would really like to reduce the code here, especially in UITable.

I would also like to re-use DataTableFeatures in TreeTable but this are internal refactorings, this one here is a big public refactoring.

[2020-12-14 19:58] melloware commented on #6665
I think this would be a good refactoring to help get the two Tables more manageable. I know @Rapster has been in there way more than me though.

[2020-12-14 20:00] tandraschko commented on #6665
more managable and more unified columnSettings instead of X builder, just 1 for all

[2020-12-14 20:28] tandraschko commented on #5117
i see, i think i can make a better fix tomorrow, let see :)

Thanks for super help!

[2020-12-14 20:30] melloware commented on #5117
No problem I thought you would have a better fix :)

[2020-12-14 20:48] Rapster commented on #6665
I don't really have an opinion on this since, as I already mentionned, I think TreeTable is simply "wrong" as it is. My project integrate this component with which we're not really happy about... And I'll probably start working on a new version of it based on DataTable in the next weeks/months (that's also one of the reasons why I'm trying to clean up stuff as much as I can to have a better start)

[2020-12-14 21:02] tandraschko commented on #6665
I have some customers and they are quite happy with it actually ;D

nevertheless, this change propsed here does a major refactoring independent of TreeTable, it should just merge column related state to one place and its builder/attributes.

any ideas about the name?
ColumnMeta? Also e.g. LazyDataModel will the pass a Map with ColumnMeta. What about the attr compared to filterBy/sortBy?

[2020-12-14 21:06] tandraschko commented on #6665
and i will work on a PR for it, not just commit it :P

[2020-12-14 21:08] melloware commented on #6665
I like `ColumnMeta`.

[2020-12-14 21:42] Rapster commented on #6665
Yes please...

So ColumnMeta will contain everything from FilterMeta/SortMeta?

[2020-12-14 21:46] tandraschko commented on #6665
exactly
+ isVisible + width + order/displayOrder

[2020-12-15 00:01] Rapster commented on #6665
Yeah let's see what the PR look like, I fear this new Meta might be bloater code but still sounds interesting, as only one iteration over JSF tree will be necessary to initalize these. Besides `ColumnMeta`, what about `ColumnDescription` _(as they're not really metadata after all)_? Also, I'm trying to find a better name than columnConfig... I'll sleep on it 😄

[2020-12-15 09:02] #6660 closed, assigned to tandraschko

[2020-12-15 09:41] tandraschko commented on #5117
the bug is quite stupid...
The Renderer loops the rows and apply the rowIndex on the DataTable, therefore all Columns#getClientId (which is used by #getColumnKey) get the rowIndex inside it.
The solution would be to eager create the columnKey and cache it. Or lazily remove the rowIndex

[2020-12-15 09:43] tandraschko commented on #5117
At least this would be easy for p:column, p:columns is even worse as its dyanmic, based on the columnIndex

[2020-12-15 11:06] tandraschko commented on #5117
commited, would be great if you could test a bit some cases and check the integration tests.

[2020-12-15 11:06] #5117 closed, assigned to tandraschko

[2020-12-15 11:30] christophs78 commented on #6665
I´ll keep an eye on your PR.

[2020-12-15 11:55] tandraschko commented on #6532
This one is related, i fixed columnKey generation: https://github.com/primefaces/primefaces/issues/5117

[2020-12-15 12:02] tandraschko commented on #6532
Im still not sure here. Maybe we should leave it as it is and pass columnKey as map-key also to LazyDataModel

[2020-12-15 12:10] Rapster commented on #6532
Yeah I was thinking about that, if you put everything in the new `ColumnMeta`/`ColumnDescription`/`ColumnDefinition` class, field can't be the key since you might have no sorters/filters enabled. Restoring MVS through columnKey/clientId is still a problem, but this is another issue. Also, I think you meant pass field as key to LazyDataModel

[2020-12-15 12:14] tandraschko commented on #6532
why is MVS still a problem? because auto-generated j_id might change? Users can simply set p:column id="..." then.

Nope, thats what we currently do! If we merge all to ColumnMeta and pass this to LazyDataModel, i would better to use `Map<ColumnKey, ColumnMeta>` or just a `List<ColumnMeta>` as `Map<Field, ColumnMeta>` would only work if we pass only sort/filter-active ColumnMeta.

[2020-12-15 12:21] HalitTalha opened #6666 "Chips: Stop ENTER propagating to Row Editor"
Having a component that depends on ENTER key event, like chips, inside a rowEditor appears to cause event propogation kind of troubles.
Let's say you will enter a tag via the chips input, when you hit ENTER, rowEditor also responds to that.

I suggest making the functionality originally proposed here #433 optional. Otherwise users of the API will have to solve this with less intuitive workarounds.

[2020-12-15 12:24] tandraschko commented on #5639
still not fixed by my changes. If anyone would like to have this fixed, i need more debugging infos what wents wrong in the PF internals.

[2020-12-15 12:27] Rapster commented on #6532
You're only postponing the issue doing so, table component could change position in the JSF tree and then you'll have the same problem. Even if you're setting an id to the table, same thing can happen. It's not an easy problem to solve as long as columnKey is based on a "volatile" value

-  `Map<ColumnKey, ColumnMeta>`: columnKey (which is a clientId) is not really helpful for users
- `List<Column

[2020-12-15 12:27] Rapster commented on #6665
One downside I see to that, is that methods like that one:

[code]

You'll have to convert into either a loop (and please don't do that) or store a new field "sortingEnabled" in view state

[2020-12-15 12:33] tandraschko commented on #6532
Sure but thats another topic. Then we would need on each MultiViewStateAware-component a attr called "mvsKey" instead of the clientId.

users can simple set id="brand" e.g., its the same as you would index by #field but more flexible.

[2020-12-15 12:34] melloware commented on #5117
Retested a bunch of scenarios and also ran the integration tests and everything is working fine.

[2020-12-15 12:38] tandraschko commented on #5117
@melloware i think there is still some JS wrong.
If you deselect all but 1 row in the DT, the rowstyle is still only 50% applied, could you check it?

[2020-12-15 12:39] melloware commented on #5117
Deselect Rows or columns?

[2020-12-15 12:42] tandraschko commented on #5117
column sorry :D

[2020-12-15 12:50] tandraschko commented on #3476
JFYI if anyone would like to check it in detail: it does NOT happen without p:panelGrid/p:row around the DataTable.

[2020-12-15 12:54] tandraschko commented on #1501
@Rapster we simple could sort columns based on the priority attribute? we will also reuse this in ColumnMeta for reordering then.

[2020-12-15 13:10] Rapster commented on #1501
There is your issue, not the other way around @wfsaxton :smile: I don't like reusing attribute which were meant for another purpose (sorting in that case, and they are two very different things). But in this ticket, the problem comes from `p:columns` which doesn't give a lot of options in terms of rendering, but that may be solved using `FilterMeta#builder` and `SortMeta#builder`, and using switch

[2020-12-15 13:15] tandraschko commented on #1501
we definitily need a order/priority in ColumnMeta for reordering, so for me it makes sense to also have the same ability as attr and in the ColumnMetaBuilder for the user.

[2020-12-15 13:27] melloware commented on #5117
ok let me look

[2020-12-15 13:35] melloware commented on #5117
OK I am running the 5117 reproducer and when I deselect all columns but Price I don't see any issues.  What am I missing?

[2020-12-15 13:37] tandraschko commented on #5117
![columns](https://user-images.githubusercontent.com/2485545/102221902-05c18900-3ee3-11eb-959f-6e7ed5f01385.png)

in firefox

[2020-12-15 13:38] tandraschko commented on #6659
ok, works fine now :)
I will maybe try to overcame the cached getColumns() in DT/TT and only use forEachColumn but thats another topic.

[2020-12-15 13:39] #6659 closed, assigned to tandraschko

[2020-12-15 13:41] melloware commented on #5117
Weird you are right its definitely a firefox issue doesn't happen on Chrome or Edge.  Let me see what I can find out.

[2020-12-15 14:04] Rapster commented on #1501
Yes, introducing a displayOrder is a better idea than using sortPriority

[2020-12-15 14:12] tandraschko commented on #1501
i dont mean "sortPriority", we also have a "priority" attr :D

[2020-12-15 15:37] Rapster commented on #1501
Ah yes indeed, for responsivity right? Probably do some renaming in here as it gets confusing but yeah indeed for this ticket, reusing "priority" (displayPriority?) sounds good

[2020-12-15 15:46] melloware commented on #6666
So is your issue specific to Chips or do you have other components in mind that this happens with?

[2020-12-15 15:58] melloware commented on #6666
I fixed the Chips issue with that PR.  AutoComplete looks like it already had this fix.   So are there other components triggering the RowEditor close when you press Enter that is not expected behavior besides chips?

[2020-12-15 16:34] melloware commented on #6640
Reproducer:
[pf-6640.zip](https://github.com/primefaces/primefaces/files/5697209/pf-6640.zip)

I think your only choice now is to write a custom validator...
See "Custom Validator" here: http://incepttechnologies.blogspot.com/p/validation-in-jsf.html

[2020-12-15 16:41] tuerker opened #6669 "Datatable: clearFilter widget function should support custom filters"
Below you will find a repoducer which demontrates that a datatable filter is not cleared when it is created using a facet-filer.

[p-facet-filter-datatable.zip](https://github.com/primefaces/primefaces/files/5697235/p-facet-filter-datatable.zip)

To reproduce the problem:

1) select true or false from the selectonemenu of colum 1 and enter "00" into the filter of the second column
2) now use the r

[2020-12-15 16:41] tuerker commented on #6669
[code]

[2020-12-15 16:43] Rapster commented on #6669
Indeed, so far clearFilters only support native filter

[2020-12-15 16:47] Rapster commented on #6669
Did you try using `.ui-column-filter` class?

[2020-12-15 16:52] melloware commented on #6669
i think i have an idea

[2020-12-15 17:04] melloware commented on #6669
This should do it:
[code]

[2020-12-15 17:12] HalitTalha commented on #6666
It is only chips for my case.
Thanks alot for the quick fix

[2020-12-15 17:24] #6666 closed, assigned to melloware

[2020-12-15 20:35] melloware commented on #4582
This is confirmed fixed in 9.0

[2020-12-15 20:35] #4582 closed, assigned to tandraschko

[2020-12-15 20:41] melloware commented on #348
Going to close this for now as I am not quite sure what the issue is and no reproducer is provided.  If someone provides a reproducer I will gladly reopen it.

[2020-12-15 20:41] #348 closed, assigned to cagataycivici

[2020-12-15 20:43] melloware commented on #2491
@tandraschko @Rapster  Isn't this available now that MVS has `visibleColumns` stored and restored with the MultiViewState?

[2020-12-15 20:50] melloware commented on #3476
Yep I have no idea what's wrong but somehow the panelGrid styles are interfering with the DataTable styles becuase its TR/TD inside TR/TD.  I stared at it for a while but I can't figure out exactly where the problem is.

[2020-12-15 20:58] melloware commented on #1758
This now works if you use MultiViewState it remembers the column order of your rearranged columns even in the `colreorder` event as its stored in MVS.

https://primefaces.github.io/primefaces/9_0/#/core/multiviewstate?id=multiviewstate

[2020-12-15 20:58] #1758 closed, assigned to nobody

[2020-12-15 21:04] melloware commented on #2154
This has been implemented in 9.0 by @tandraschko  See: https://github.com/primefaces/primefaces/issues/6659

[2020-12-15 21:04] #2154 closed, assigned to tandraschko

[2020-12-15 21:05] melloware commented on #1399
Duplicate of https://github.com/primefaces/primefaces/issues/1910 which has a workaround

[2020-12-15 21:05] #1399 closed, assigned to nobody

[2020-12-15 21:08] #2491 closed, assigned to tandraschko

[2020-12-16 07:50] svenhaag commented on #6640
Thanks @melloware, that's exactly what I already did. Like so:
[code]
Additionally I have set up a ValueChangeListener to modify (sort and make unique) the Chips entries, like so:
[code]

Cheers

[2020-12-16 09:37] tuerker opened #6671 "Datatable: dynamic content switch issue"
I have detected another issue with the datatable component. Below you will find a repoducer which demontrates the problem.

[p-datatable-paginator.zip](https://github.com/primefaces/primefaces/files/5701616/p-datatable-paginator.zip)

Quick description of the setting:

* There are two lists: the first with 11 records, the second with 6 records.
* There is a selector to switch between these two lis

[2020-12-16 09:59] tuerker commented on #6669
Many thanks. However, I could not manage it. I added this code fragment to my util.js file. But it has no effect even after having cleared the browser's cache several times.

[2020-12-16 10:21] fcjm opened #6672 "Password: Html validation errors (aria-readonly, role)"
**Describe the defect**
I'm currently working on a project which was recently tested for valid html code. Among other components, we use the Primefaces password component which causes some errors when validating the html which is displayed in the browser. I have also tested it via primefaces-test for the 9.0-SNAPSHOT version, but the errors still exists.

The password field in the resulting html s

[2020-12-16 12:11] melloware commented on #6669
Here is your reproducer using PF 8.0 which has the bug but I added the snippet to test.js.
[pf-6669.zip](https://github.com/primefaces/primefaces/files/5702565/pf-6669.zip)

If you test this you should see its working fine.

[2020-12-16 12:18] melloware commented on #6672
I ran the PF Password against Google LightHouse and it reports...
![image](https://user-images.githubusercontent.com/4399574/102347394-59c57f80-3f6e-11eb-9e63-cbf65e5c69a1.png)

What HTML validator are you using?

Although I did find this that says type="password" should have no role.
https://www.w3.org/TR/html-aria/

input type=password | No corresponding role | No roleGlobal aria-* attributes an

[2020-12-16 12:25] tuerker commented on #6669
I got it working now. Thanks again.

[2020-12-16 12:26] fcjm commented on #6672
I am using the Nu Html Checker. The first bookmarklet on the site - https://validator.w3.org/nu/about.html#extras) - to be exact.

[2020-12-16 12:46] melloware commented on #6672
Thanks for reporting!  Fixed for 9.0

[2020-12-16 12:46] #6672 closed, assigned to melloware

[2020-12-16 12:47] melloware commented on #6669
No prob thanks for reporting!

[2020-12-16 12:47] #6669 closed, assigned to melloware

[2020-12-16 13:11] melloware commented on #6640
Excellent! That is the beauty of JSF.  If something doesn't work the way you want plugging in an fixing it with customization is so easy!

[2020-12-16 13:21] fcjm commented on #6672
Thank you for the quick answers and the fix! I have noticed that with this fix the "aria-disabled" won't be set as well. This one did not show up as an error though,

[2020-12-16 13:27] melloware commented on #6672
AHh OK let me make disabled OK.

[2020-12-16 13:30] melloware commented on #6672
OK I fixed it master to leave aria-disabled.

[2020-12-16 14:35] melloware commented on #6671
I fixed your example. Its working fine.  You had an AJAX ordering issue.
[pf-6671.zip](https://github.com/primefaces/primefaces/files/5703325/pf-6671.zip)

[code]

[2020-12-16 14:35] #6671 closed, assigned to nobody

[2020-12-16 14:45] tuerker commented on #6671
i see. i have adapted my code accordingly.

@melloware i really appreciate your great responsiveness and the quality of your responses. thank you very much.

[2020-12-16 14:47] melloware commented on #6671
No problem. Thanks for the reproducers it makes our job so much easier to debug a problem if we can see it!

[2020-12-16 16:02] dgoicocheta opened #6674 "HeadRenderer: When Session tracking is 'URL', HeadRenderer don't add the jsesionid param to the resources"
**Reproducer**
When session tracking mode is 'URL', the jsesionid must be appended to the resources url.
HeadRenderer don't append the jsessionid to the css and validation resources, then new session is created on every request.

**Environment:**
 - PF Version: all
 - JSF + version: all

**Expected behavior**
HeadRenderer must encode resources to append jsessionid

[2020-12-16 17:08] melloware commented on #6674
Thanks for reporting I created this PFE issue as its ShortCut Icon would have the same issue:
https://github.com/primefaces-extensions/primefaces-extensions/issues/248

[2020-12-16 18:08] #6674 closed, assigned to dgoicocheta

[2020-12-16 21:18] melloware opened #6677 "Dialog: Multiple modals with closeOnEscape=true"
**Describe the defect**
Multiple stacked modal dialogs with `closeOnEscape="true"` will close the top dialog but then not close any other dialogs on escape.

Stack Overflow: https://stackoverflow.com/questions/65329834/primefaces-multiple-dialogs-with-closeonescape

**Reproducer**
[dialog-modal.zip](https://github.com/primefaces/primefaces/files/5705533/dialog-modal.zip)

**Environment:**
 - PF Ve

[2020-12-16 21:50] melloware commented on #6677
Add this to your JS that loads after PF to fix it right now:
[code]

[2020-12-17 13:04] #6677 closed, assigned to melloware

[2020-12-17 14:17] melloware commented on #281
Going to close this issue.  5 years old without a reproducer and so much has changed in both CSS themes and Datatable.

[2020-12-17 14:17] #281 closed, assigned to nobody

[2020-12-17 16:08] tandraschko commented on #6665
Thats what i have in mind (not all fields, getter setter, builder etc are created yet):
https://github.com/primefaces/primefaces/pull/6679/files

this state can then be 1:1 reused for MultiViewState and its a single place of truth of the current important state.

[2020-12-17 17:24] tandraschko commented on #6665
the change would be so big, really unsure
i will first try to reduce code in UITable soon and to reuse DTFeatures for TT

[2020-12-17 17:40] melloware commented on #6665
Maybe we save this major refactoring for PF10?  Just cleanup and optimize the current code as best we can?

[2020-12-17 17:43] tandraschko commented on #6665
I think the next release is 10 of you follow Twitter. But yeah, 11 ist fine

[2020-12-17 17:45] melloware commented on #6665
HA yeah I have not been following the mentioned making it 10 but I have been referring to it as 9.  Should we rename the 9.0 milestone here now to 10?  The pom.xml from 9.0-SNAPSHOT to 10.0-SNAPSHOT?

[2020-12-17 17:49] tandraschko commented on #6665
Lets wait, primetek will do it when releasing RC1

[2020-12-17 21:43] melloware commented on #763
I am going to close this for now as there is no good option other than blocking the UI.  Making a copy of the data does not seem to make sense for this corner case.    or another option you could write your own REST Service to export the data that way you control it and don't count on what's in the datatable.

[2020-12-17 21:43] #763 closed, assigned to nobody

[2020-12-18 00:25] Rapster opened #6682 "DataTable: force selection while disabled checkbox"
**Describe the defect**
Even though check are disabled, you can still force selection by tweaking selection holder in HTML:

1. Go here: http://localhost:8080/showcase/ui/data/datatable/selection.xhtml
2. Disable selection with whatever condition you like (mine was `disabledSelection="#{car.id eq car.id}"` 😅 )
3. Modify `form:checkboxDT_selection` input value with a few ids
4. Click view: elements

[2020-12-18 09:03] #2238 closed, assigned to melloware

[2020-12-18 12:57] #59 closed, assigned to melloware

[2020-12-18 13:07] NOTiFYcouk commented on #3800
"tabView: event.getTab() null in Mojarra 2.3" still current on:
Mojarra 2.3.14.SP01
WildFly 21.0.2.Final
WELD  3.1.5 (Final)

[2020-12-18 13:09] melloware commented on #3800
@NOTiFYcouk you can see the Mojarra 2.3 ticket is still open here: https://github.com/eclipse-ee4j/mojarra/issues/4407

Its a Mojarra bug not a PF bug.

[2020-12-18 18:16] melloware commented on #1234
@djmj So you are using TabView not as an AJAX tabview but to navigate to different outcomes?  Why not use TabMenu as that is what its for?  I guess I don't understand the use case here?

[2020-12-18 20:21] tandraschko opened #6688 "DataTable: refactor/fix filterBy/sortByMap lifecycle"
Currently the maps are initialized in #initSortBy; this is correct done for sortBy but not for filterBy. FilterBy is initialized multiple time.
Also user-defined filterBy, global and MVS is applied multiple times then.

How should it looks:

1) ViewScoped filter/sortByMap should be intialized the getter; when there is no state available yet, the ViewScoped state should be initialized there. so ini

[2020-12-18 20:21] tandraschko commented on #6688
i hope this are just some small refactorings

[2020-12-18 20:23] tandraschko opened #6689 "DataTable: introduce ColumnMeta"
I thought about ColumnDisplayState too but i would like to be similar to FilterMeta/SortMeta.

It contains widht (resizable columns), visibilty (toggleable columns) and the display order.

This reduces code and make it bit more readable.

[2020-12-18 20:24] tandraschko opened #6690 "DataTable: refactor when data gets filtered/sorted/lazy-loaded"
Currently its done in FilterFeature, which calls SortFeature and vice versa.
I think we should only decode the state there and load/sort/filter data before rendering.

[2020-12-18 20:27] tandraschko commented on #1501
Will work on it after #6689

[2020-12-19 00:13] Rapster commented on #6688
Before I do anything, there is one PR I need to merge and one I need to polish ('cause it's been bugging our app for a while...). And if I'm start working on this before them, I'll have to resolve conflicts which I've been doing to many times lately...

Regarding initialization, as far as I can remember, it's initialized once and updated every request.

[2020-12-19 00:20] Rapster commented on #5868
@mertsincan Would it be possible to request a reproducer as close as his use case to figure out the best way to fix this and #3917 please?

[2020-12-19 13:46] melloware commented on #1234
To me since this use case doesn't really make sense for the AJAX tabview and a workaround was provided I can't see a lot of users wanting this functionality. Closing this ticket.

[2020-12-19 13:46] #1234 closed, assigned to nobody

[2020-12-19 14:03] melloware commented on #1895
I am not sure this feature makes any sense.  This would have to AutoComplete all 3 values pasted to make sure they are in the list?  This doesn't make a lot of sense to me for AutoComplete and would make more sense in the Chips component where free text entering of data is allowed.

[2020-12-19 18:07] melloware commented on #2492
Original Poster never returned with a PR and no one else in 3 years has asked for this kind of feature.

[2020-12-19 18:07] #2492 closed, assigned to nobody

[2020-12-19 18:15] melloware commented on #4569
@mertsincan I don't understand this ticket.  Are you talking about reimplementing `SelectOneRadio`???

[2020-12-19 20:22] djmj commented on #1234
@melloware Because _p:tabMenu_ does not has an optional child panel and i want to keep a consistent style between _p:panel_ and _p:tabView_ in our websites which _p:tabMenu_ does not allow. So we only render the content of the currently active tab if we are using GET requests. Further we either render a panel or a tabView depending on dynamic content (tabs).

Yes the workaround is working but look

[2020-12-19 20:55] djmj commented on #1895
The _value_ attribute of _AutoComplete_ does not requires data to be already persisted in the database or any other source.

In my autocomplete i compare the input against the database in the converter and if its a new value i create a new _transient_ instance, so the converter never returns null or an empty list! Its a combination between autocomplete and chips with free input. Its basically a la

[2020-12-19 21:30] melloware commented on #1234
If I understand you correctly and from your examples you wants Tabs but you want the panel underneath it to look like the Panel is attached to the tab the way TabView does.

We have this exactly your same scenario and we use TabMenu and a little CSS to draw the TabMenu and panel to make it look like the panel is attached to the Tab.  So really all you need is a little bit of CSS and not all these

[2020-12-19 21:33] melloware commented on #1895
I think I got it.    I think I will add this pasting to `Chips` and `AutoComplete` and have a `pasteDelimiter` attribute because some people might want to use comma , and some semicolor ;

I will see if I can fix this and get this into 9.0

[2020-12-19 22:44] djmj commented on #1234
Thanks for your comment and i will have a look at it. Next year we will modernize our shops with a new template of yours anyway so i will keep this in mind.

[2020-12-19 22:47] #6689 closed, assigned to tandraschko

[2020-12-19 23:02] djmj opened #6691 "Chips: make items editable / toggle source"
Chips currently has the disadvantage, that its not possible to edit each item invididually or toggle displaying the _source_ string to do so.

The only option is to remove the item and add it again at the end but this changes the order of items.

Making each item editable or adding a _toggle source_ button at the end of the component to show it as a delimiter separated list could be a solution.

[2020-12-19 23:05] djmj commented on #1895
Nice!

For our use case its even more complex since we need the input field being editable which chips does not support. https://github.com/primefaces/primefaces/issues/6691

We often get unwanted characters like ():; or number values we must remove manually before _"passing"_  the list  to the autocomplete, so we need the input editable. Sometimes they even mix delimiters or have no delimiter at

[2020-12-20 02:04] #6169 closed, assigned to Rapster

[2020-12-20 13:35] melloware commented on #6691
I will work on this one as well.

[2020-12-20 16:24] fcorneli opened #6693 "TextEditor: nested lists"
This issue can be easily demonstrated via the showcase:
https://www.primefaces.org/showcase/ui/input/textEditor.xhtml

When trying to create a list within a list. For example:

- item 1
  - item 1,1
  - item 1,2
- item 2

The HTML value always returns a "flat" list, like:
- item 1
- item 1,1
- item 1,2
- item 2

Affected PrimeFaces versions: 7, 8

[2020-12-20 16:38] melloware commented on #6693
@fcorneli here is the HTML generated:
[code]

Duplicate of: https://github.com/primefaces/primefaces/issues/4486

To fix you need to add this to your page:
[code]

[2020-12-20 16:38] #6693 closed, assigned to nobody

[2020-12-20 16:59] fcorneli commented on #6693
@melloware Thanks for the tip. Adding:
[code]
and `class=\"ql-editor\"` to my JSF component fixed the issue.

[2020-12-20 17:01] melloware commented on #6693
Nice work!  Glad I could help and thanks for posting your solution back.

[2020-12-20 17:11] fcorneli commented on #6693
Using
[code]
is actually much cleaner I guess.

[2020-12-20 18:40] melloware opened #6695 "TimeLine: Update to 7.4.4"
**Description**
Fixes XSS Security issue: https://github.com/visjs/vis-timeline/releases/tag/v7.4.4

https://github.com/visjs/vis-timeline/pull/840

[2020-12-20 18:52] melloware opened #6697 "Schedule: FullCalendar 5.5.0"
**Description**
Full Calendar 5.5.0 fixes IE11 support.

https://github.com/fullcalendar/fullcalendar/releases/tag/v5.5.0

[2020-12-21 11:24] #6697 closed, assigned to melloware

[2020-12-21 11:25] #6695 closed, assigned to melloware

[2020-12-21 13:47] mertsincan opened #6700 "Core: After updating a component using AJAX in Safari, the current scroll position changes"
Test code;
[code]

[2020-12-21 14:11] melloware commented on #4623
OK because the iFrame size is set initially the workaround of setting `options.put("contentHeight", "auto");` is the best option for this as the iFrame has to be sized when the dialog is rendered using dialog framework.

[2020-12-21 14:11] #4623 closed, assigned to melloware

[2020-12-21 14:23] rudgal opened #6702 "SelectOneMenu: issue with uppercase characters when selecting via keyboard input"
**Describe the defect**
Just recently updated to PrimeFaces 8.0 to resolve the issue described by [#4682](https://github.com/primefaces/primefaces/issues/4682). It appears that the selection of options via keyboard-input is still not working 100% as expected with respect to upper-case characters.

**Reproducer**
Reproduced with latest showcase from https://www.primefaces.org/showcase/ui/input/oneM

[2020-12-21 14:28] melloware commented on #6702
I will investigate.

[2020-12-21 15:49] dimonrv opened #6703 "Layout: top and south units are not displayed"
**Describe the defect**
The example (https://www.primefaces.org/showcase/ui/panel/layout/nested.xhtml) does not display layout unit "Middle top unit content" and "Middle south unit content".

**Environment:**
 - PF Version: 8.0
 - JSF + version: _e.g. Mojarra 2.3.2
 - Affected browsers: ALL

[2020-12-21 15:51] melloware commented on #6703
Layout has been removed in 9.0. It is recommend to switch to straight CSS or to the PFE version of Layout.

See: https://github.com/primefaces/primefaces/issues/2168

[2020-12-21 15:51] #6703 closed, assigned to nobody

[2020-12-21 16:13] melloware commented on #1895
@djmj Converted this ticket to just chips for now. As AutoComplete is much trickier and would require some code rearranging.

[2020-12-21 17:42] melloware commented on #6702
@rudgal can you add this script to your application JS and reload make sure to press CTRL+F5 to reload JS code.
[code]

[2020-12-21 17:58] #2039 closed, assigned to melloware

[2020-12-21 17:59] #1369 closed, assigned to melloware

[2020-12-21 18:28] melloware commented on #2457
If you need this fix right now just add this JS to your application.
[code]

[2020-12-21 19:19] djmj commented on #223
I also dont see much advantage to it or it could even make smaller projects / tables more complicated then just using attribute _rowKey_ directly.

The only positive thing i see is the JSF consistency across data conversions with an attribute like _converter_.

[2020-12-21 19:24] Rapster commented on #223
Agreed, I'll coment later on this

[2020-12-22 03:06] asterisk360-admin commented on #6580
@melloware @tandraschko...  when the premium themes will be compatible with jakarta 9?

[2020-12-22 06:13] christophs78 opened #6707 "SelectOneMenu: one of yesterdays (21.12.2020) commits broke integration-tests"
Error:  Failures:
Error:    SelectOneMenu001Test.testBasic:45 expected: `<Max>` but was: `<MaxMax>`
Error:    SelectOneMenu002Test.testSelectItemGroup:50 expected: `<Volkswagen>` but was: `<VolkswagenVolkswagen>`
Error:    SelectOneMenu005Test.testHideNoSelectionOption:54 expected: `<4>` but was: `<9>`
[INFO]
Error:  Tests run: 142, Failures: 3, Errors: 0, Skipped: 2

https://github.com/primefaces

[2020-12-22 06:17] christophs78 commented on #6707
This issue was introduced by https://github.com/primefaces/primefaces/commit/c303520232406391d855b95d729232a904094db2 @mertsincan

[2020-12-22 09:11] rudgal commented on #6702
@melloware Thanks for the quick response, I just tested the JS script.
To gain expected behavior I also had to override the matchOptions function as shown below (in order to get a non case-sensitive match):
[code]

[2020-12-22 12:05] tandraschko commented on #6580
thats up to PrimTek, not us. Better usk in the your premium layout forum per mail.

Nevertheless, 9.0 isnt released yet so Layouts cant switch. And then, normally you can just replace the imports in the layout classes.

[2020-12-22 12:31] melloware commented on #6702
@rudgal thanks for testing and the enhancement!  I have updated my PR to add the `lowercase` check.  This will be fixed for 9.0.

[2020-12-22 12:38] tandraschko commented on #2457
@melloware what is the bug here?
is a row selected and re-ordered, its not selected anymore after this?

[2020-12-22 12:40] melloware commented on #2457
So if it is selected when you reorder it works.  But what fails is if you click and hold down on a row it is not selected you can drag it and drop it somewhere and its still not selected. I think the expected behavior and so does the OP thinks this row should be selected if you drag and drop it and I agree.

[2020-12-22 12:41] #6702 closed, assigned to melloware

[2020-12-22 12:42] tandraschko commented on #2457
not sure TBH
the current behavior fits more my taste, i think thats up to @mertsincan

[2020-12-22 12:44] melloware commented on #2457
Yep we can leave it up to @mertsincan but its strange to me I click and drag a row, then i have to click it again to select it.

[2020-12-22 12:45] tandraschko commented on #2457
what happens if you click on a button, still hold the click but move away, and relese the click? the button is still not click
Thats the case i compare, i dont like to click the action, just reorder

[2020-12-22 12:49] melloware commented on #6707
Issue: https://github.com/primefaces/primefaces/issues/6700

I am looking into this.

[2020-12-22 12:56] melloware commented on #2457
Good point.  Think we should close this PR and issue?  I am OK with that.  I can mark it as "workaround" since I have provided one and we can close this.

[2020-12-22 13:02] melloware commented on #6707
OK my PR constrains the new fix just to the Safari browser.

[2020-12-22 13:18] #6707 closed, assigned to melloware

[2020-12-22 13:20] tandraschko commented on #6700
@mertsincan as discussed, this breaks basic AJAX cases, we reverted it for now

[2020-12-22 13:59] melloware commented on #6707
Integration tests are passing again.

[2020-12-22 18:06] melloware commented on #2457
Closing with workaround provided and "works as expected".

[2020-12-22 18:06] #2457 closed, assigned to melloware

[2020-12-22 19:32] melloware commented on #4942
@stolp I am going to close this for now as it looks like Jquery  Resizable has a significant number of bugs open and I am pretty ure we are running into one here with how it calculates the handles.
https://bugs.jqueryui.com/query?status=!closed&component=ui.resizable

[2020-12-22 19:32] #4942 closed, assigned to nobody

[2020-12-23 09:43] tandraschko commented on #6665
fixed by #6689 for now

[2020-12-23 09:43] #6665 closed, assigned to nobody

[2020-12-23 09:44] tandraschko opened #6710 "TreeTable: reuse TableFeatures from DataTable"

[2020-12-23 09:50] #1895 closed, assigned to melloware

[2020-12-23 09:50] #6691 closed, assigned to melloware

[2020-12-23 10:13] #2062 closed, assigned to melloware

[2020-12-23 10:15] tandraschko commented on #223
we dont need to do it for 9.0 but i like the approach
often you already have a converter available for a Entity e.g. and this can just be reused (@FacesConverter(for = MyEntity.class))

[2020-12-23 13:01] DanielPettersson opened #6711 "AutoComplete: change event not triggered"
**Describe the defect**
Autocomplete does no longer trigger the change ajax event. Though in the same setup inputText does trigger change ajax event. Using Primefaces 8.0, autocomplete triggers change ajax event.

Autocomplete still triggers itemSelect if using a completeMethod, and also triggers blur event. It's just change event that is effected. I guess the problem is caused by https://github.c

[2020-12-23 13:11] tandraschko commented on #1501
Introduced "displayPriority" on p:column/columns now
basic work done, need to marry it with draggable columns now.

I also think about renaming the "priority" to "responsivePriority" or "reflowPriority"

[2020-12-23 13:22] melloware commented on #1501
I like `responsivePriority`

[2020-12-23 13:39] ahoflack commented on #6493
Hi,

this issue is closed but jquery version seems to be same like 7.0.13 in last version 7.0.18 yesterday.

Could you please open this issue ?

How can i check jquery version exactly in PF package

Thx
Alexander

----- Mail original -----
De: "Melloware" <notifications@github.com>
À: "primefaces/primefaces" <primefaces@noreply.github.com>
Cc: "Alexandre Hoflack" <alexandre.hoflack@free.fr>, "Ment

[2020-12-23 14:02] commander-hp opened #6712 "New Component: Skeleton from PrimeVue"
Hi,

It would be very awesome, if you can implement also the Skeleton (from PrimeVue) in Primefaces:
https://primefaces.org/primevue/showcase/#/skeleton

I think the requirement should be clear.

[2020-12-23 14:05] melloware commented on #6493
@ahoflack To find out Jquery version open F12 console in your browser and type `jQuery.fn.jquery` to display the Jquery version running.

And since this is an Elite 7.0 issue we will not re-open this ticket this is the Community tracker not for Elite release. If you have an urgent need you should contact PrimeTek directly. Or upgrade to 8.0.2 or higher this issue is definitely fixed.

[2020-12-23 14:05] commander-hp opened #6713 "AutoComplete: with multiple items and add items which are not in list (like Chips)"
Hi,

I would like to have in p:autoComplete the possibility like in p:chips:
- Add multiple items (from the list) is currently working

**Feature Request:**
- Add multiple items from list AND add items which are NOT in the list (like in p:chips).

Thanks

[2020-12-23 14:14] tandraschko opened #6714 "DataTable: component broken when updated with draggableColumns"
Open
http://localhost:8080/showcase/ui/data/datatable/displayPriority.xhtml?jfwid=ab131

and add:
`<p:commandButton value="Update" process="@this" update="@form"/>`

[2020-12-23 14:17] tandraschko commented on #6714
@melloware
would you like to check it? Its related to #5582

[2020-12-23 14:22] melloware commented on #6714
Yep let me look.

[2020-12-23 14:29] ahoflack commented on #6493
Thx for information on 8.0.2 release,

I wish you a merry Christmas and an Happy New Year

Alexander

----- Mail original -----
De: "Melloware" <notifications@github.com>
À: "primefaces/primefaces" <primefaces@noreply.github.com>
Cc: "Alexandre Hoflack" <alexandre.hoflack@free.fr>, "Mention" <mention@noreply.github.com>
Envoyé: Mercredi 23 Décembre 2020 15:05:33
Objet: Re: [primefaces/primefaces]

[2020-12-23 14:46] melloware commented on #6714
OK I tested with your scenario and its fixed and tested against original #5582 scenarios and they remain fixed.

[2020-12-23 14:50] Dasister opened #6716 "TreeTable/DataTable: cell edit with Calendar/DatePicker navigator bug"
**Describe the defect**
A click in the date-picker causes a blur of the cell editor. The cell editor switchs from the input mode to the output mode too soon.
Same behaviour for p:datePicker component.

**Environment:**
 - PF Version: _6.1_
 - JSF + version: Mojarra 2.3.3
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Click on cell to edit value
2. Navigate to ano

[2020-12-23 14:51] #6714 closed, assigned to melloware

[2020-12-23 14:51] tandraschko commented on #6714
thanks!

[2020-12-23 14:55] #1501 closed, assigned to tandraschko

[2020-12-23 14:56] tandraschko opened #6717 "TreeTable: Support custom p:column ordering"
like #1501

[2020-12-23 14:57] tandraschko opened #6718 "Column/Columns: rename priority to responsivePriority"

[2020-12-23 14:59] melloware commented on #6716
I think this is similar to this bug as well: https://github.com/primefaces/primefaces/issues/3972

[2020-12-23 14:59] melloware commented on #6716
@Dasister can you just attach your reproducer ZIP here as a zip file.  Don't include the /target folder its not needed.

[2020-12-23 15:03] melloware commented on #6711
Introduced with https://github.com/primefaces/primefaces/issues/6061

[2020-12-23 15:07] Dasister commented on #6716
Reproducer: [pf.zip](https://github.com/primefaces/primefaces/files/5735831/pf.zip)

[2020-12-23 15:23] melloware commented on #6711
I can't reproduce with 8.0 or 8.0.4 or 9.0-SNAPSHOT.  Can you try my reproducer:
[pf-6711.zip](https://github.com/primefaces/primefaces/files/5735873/pf-6711.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2020-12-23 15:56] #6717 closed, assigned to tandraschko

[2020-12-23 16:39] melloware commented on #6716
While testing this I actually found multiple issues besides just the navigator buttons. See my PR.

[2020-12-23 16:48] melloware commented on #3972
Closing this as its related to issue: https://github.com/primefaces/primefaces/issues/5639 around TreeTable with dynamic columns and cell editing.

[2020-12-23 16:48] #3972 closed, assigned to nobody

[2020-12-23 16:50] buunsal commented on #6712
Skeleton and other new components are currently in development. They will be published with the new primefaces version.

[2020-12-24 10:00] ufuk23 opened #6721 "Timeline: Support B.C. Dates"
In the last version, you force that DateTime with timezone should be used for the timeline component. We would like to see the timeline component for past times. In the previous versions, we could see a date which is past like B.C but now we could not. How could we do that? Is there any way to do it?

Feature request:
The timeline component should support the past like B.C.

[2020-12-24 13:00] melloware commented on #6721
@ufuk23 Can you give an example of how you currently construct a BC Date currently?  When you say last version supported B.C. do you mean PrimeFaces 7? And you are now using 8?

And Timeline should support LocalDate as well so for 100 .B.C for example..
[code]
That should be 100 B.C. is that working?

[2020-12-25 13:36] ufuk23 commented on #6721
Thanks for your help. The Primefaces version 6 we used was working, but we could not get it work version 8. We can set the date like this LocalDate.of(-1200,1,1), but client side has an error about jquery and cannot show the past correctly.

[2020-12-25 14:27] melloware commented on #6721
OK let me investigate.

[2020-12-25 15:29] #5312 closed, assigned to melloware

[2020-12-25 16:21] #6718 closed, assigned to tandraschko

[2020-12-25 19:56] melloware commented on #6711
No response from OP. Closing until reproducible steps are provided.

[2020-12-25 20:06] melloware commented on #6721
Confirmed for `LocalDate.of(-140, 1, 1).atStartOfDay();` its sends this JS to the browser `new Date('-0141-12-31T22:00:00-04:56:02')`

Which is not a valid date.
![image](https://user-images.githubusercontent.com/4399574/103141475-bdfce780-46c2-11eb-95b8-f8903decdfa3.png)

Explained here why this is messy: https://stackoverflow.com/questions/25846123/how-to-format-bc-dates-like-700-01-01

[2020-12-25 21:10] tandraschko commented on #3648
@melloware interessted to check this?
Maybe the name is not valid and should be removed + autoRun=true instead

[2020-12-25 21:20] tandraschko commented on #2672
@melloware would you Like to retest? I feel this might be fixed by my commits

[2020-12-25 21:39] melloware commented on #3648
Yep I will check this

[2020-12-26 04:15] BryanV91 commented on #3648
@melloware

Running now on PF 8.0 works as expected with `name="onload"` and not with `autoRun=true`

[2020-12-26 09:51] tandraschko commented on #3648
OK
I still think that should not be used as onload runs before $(function())
But it should work with MoveScriptsToBottom

[2020-12-26 09:51] #3648 closed, assigned to nobody

[2020-12-26 13:31] #1904 closed, assigned to melloware

[2020-12-26 13:31] #6713 closed, assigned to melloware

[2020-12-26 13:52] melloware commented on #2672
I have modernized the reproducer:
[pf-2672.zip](https://github.com/primefaces/primefaces/files/5743160/pf-2672.zip)

Using 9.0-SNAPSHOT we don't get a stacktrace but none of the columns actually sort.

[2020-12-26 13:59] tandraschko commented on #925
i can see that behavior, yep but its easy as this needs refactoring
what happens:
- DataTable is processed and loop all rows
- for each row, all DataTable childs are processed (p:columns in this case)
- if p:columns is processed, it also process the facets

In theory DataTable needs to be refactored, to loop all childs, check for column/s and process the facets
After that, loop rows and process al

[2020-12-26 15:01] tandraschko commented on #2716
works fine AFAICS

[2020-12-26 15:01] #2716 closed, assigned to tandraschko

[2020-12-26 15:30] tandraschko commented on #2672
will check it now
seems like the generated columnKey is wrong

[2020-12-26 15:59] christophs78 opened #6722 "CSP: provide infrastructure to add CSP-support to PrimeFaces-Selenium"
see https://github.com/primefaces-extensions/primefaces-integration-tests/pull/78

[2020-12-26 16:15] melloware commented on #6722
@christophs78 you going to work on this? If so I will assign you the ticket.

[2020-12-26 16:22] christophs78 commented on #6722
Yes, please assign it to me.

[2020-12-26 19:14] #5901 closed, assigned to melloware, mertsincan

[2020-12-26 20:07] tandraschko commented on #2672
@melloware i fixed sorting but AIFACS there are not filters displayed?!

[2020-12-26 21:55] melloware commented on #2672
I know his original sample did not have filters so not sure why they said filters were not working.

[2020-12-27 00:23] tandraschko commented on #2672
its quite hard to support ui:repeat here. the basic functionality is working but filtering/sorting doesnt work because the #getColumnKey doesnt contain the ui:repeat index

i fixed it now
rendering now works perfectly but sort doest not work because the sortBy contains a var from ui:repeat, which isnt available at this time. This would need a refactoring, it works fine in filtering because forEach

[2020-12-27 00:24] tandraschko commented on #2672
@melloware could you write some basic integration tests for this and #5117?

[2020-12-27 11:32] tandraschko commented on #6688
also it seems that SortMeta isnt sorted by priority, i think we have to add this somewhere to sort this map in each request

[2020-12-27 15:27] tandraschko commented on #2672
had to refactor sorting a bit and fixed all bugs now (note: Player in the example needs to be Serializable)

the code before was cleaner as it could simple use sortMeta#getColumn, which doest have the correct state of the ui:repeat, therfore in JSF its always better to use visit/invoke pattern vs findComponent.

In theory we should never use sortMeta#getColumn or filterMeta#getColumn

[2020-12-27 15:27] #2672 closed, assigned to tandraschko

[2020-12-27 15:38] tandraschko commented on #1899
Only 1 request in 4 years and even no idea how to implement it. Lets close it for now until another request shows up

[2020-12-27 15:38] #1899 closed, assigned to nobody

[2020-12-27 16:02] melloware commented on #2672
Yep let me see if I can add some Integration tests for this.  Great work!

[2020-12-27 16:06] melloware commented on #6490
@christophs78 should this be closed now since you figured out your issues?

[2020-12-27 16:07] melloware commented on #6492
@christophs78 what is the status of this ticket?

[2020-12-27 16:26] christophs78 commented on #6490
Yes, i think we may close this.
There is still some optimization-potential, but no low-hanging fruit to do improvements without increasing code-complexity.

[2020-12-27 16:47] #6721 closed, assigned to melloware

[2020-12-27 16:52] melloware commented on #2672
@tandraschko We have 3 failing integration tests after this change revolving around sorting.
[code]

[2020-12-27 17:00] melloware commented on #2672
I see its not sorting correctly because DataTable003Test sorts by "First Appeared, then by Name" but if you look at the screenshot it looks like the sort order is off and its sorting by Name first even though we clicked it second.

![image](https://user-images.githubusercontent.com/4399574/103175833-063f1580-483b-11eb-9990-5c9261e6201e.png)

[2020-12-27 17:04] Rapster commented on #6688
I'm gonna assign it to you, as you've been bringing a lot of changes recently to DataTable you'll be able to do changes according to what fits best for you

[2020-12-27 17:05] #6532 closed, assigned to Rapster

[2020-12-27 17:13] Rapster commented on #6384
Since `ui-expanded-row` class is set on `tr`, it's not time efficient to check the presence of `rowToggler `component inside `column` with our(s) current algo(s) to determine whether or not this CSS class should be set. Closing it for now

[2020-12-27 17:13] #6384 closed, assigned to Rapster

[2020-12-27 17:16] Rapster commented on #6409
Closing it for now, it seems with recent changes, community is fine with it 😢

[2020-12-27 17:19] Rapster commented on #4185
Changes merged, then reverted and no matter good reason have been given... PR is still on hold for almost a year. Better to be closed

[2020-12-27 17:19] #4185 closed, assigned to Rapster

[2020-12-27 17:19] tandraschko commented on #6409
I just fixed bugs for now as RC1 is near
So im fine to talk about refactorings here after the release

[2020-12-27 17:27] #6490 closed, assigned to christophs78

[2020-12-27 17:34] Rapster commented on #223
I'll assign it to you Thomas, as I don't see the added-value of this. I see why `Converter` comes in mind as it looks very similar to what we do with selection, but turns out, with multi-selection `LazyDataModel#getRowData` is not optimized at all, and in normal mode, `DataTable#rowKey` is good enough,

[2020-12-27 17:37] Rapster commented on #6409
ok

[2020-12-27 17:40] tandraschko commented on #223
I dont plan to work on it for now

[2020-12-27 18:08] christophs78 opened #6727 "DataTable: sorting regressions due to changes introduced today (Dec 27, 2020) or yesterday (Dec 26, 2020)"
Error:    DataTable003Test.testMultiSort2:99->AbstractDataTableTest.assertRows:21 expected: <2> but was: <5>
Error:    DataTable003Test.testMultiSort:68->AbstractDataTableTest.assertRows:21 expected: <4> but was: <2>
Error:    DataTable013Test.testSortByWithDefault:50->AbstractDataTableTest.assertRows:21 expected: <4> but was: <2>

https://github.com/primefaces-extensions/primefaces-integration-te

[2020-12-28 12:50] melloware commented on #6727
@tandraschko I just kicked off the tests again and they are still failing even with your latest change?
[code]

[2020-12-28 13:02] tandraschko commented on #6727
for me it looked correct, i started the integration test suite with tomee-embedded:run and checked the code. Before my change the "sort priority" was not correct. Could you check it maybe? maybe the test is wrong? not sure

[2020-12-28 13:32] melloware commented on #6727
OK I verified locally its not working and the Showcase Sort example is broken.
The showcase example sorts by Brand then Year but in the screenshot its sorted by Year then Brand.
[code]

See:
![image](https://user-images.githubusercontent.com/4399574/103217606-fe3caf80-48e6-11eb-9888-6625a4792032.png)

[2020-12-28 13:42] Rapster commented on #6727
Just giving my 2 cents, but `SortFeature#sort` sort "reversly" the list. Certainly a regression since 7dba5cb7fdf185ecdf2a03515103faa9f57ca585

[2020-12-28 14:04] tandraschko commented on #6727
looks good now, can you rerun the tests @melloware ?

[2020-12-28 14:06] melloware commented on #6727
Running now!
https://github.com/primefaces-extensions/primefaces-integration-tests/actions/runs/448803808

[2020-12-28 14:19] melloware commented on #6727
All tests passing again. Thanks @tandraschko closing ticket.

[2020-12-28 14:19] #6727 closed, assigned to tandraschko

[2020-12-28 15:07] tandraschko commented on #5581
analyzed the bug:
if `dynamic`, the tab content is loaded dynamically, see ´TabViewRenderer#67´ and therefore not the whole TabView is rendered
the request param which controls this is ´_contentLoad´, which is always passed, indepent if you define ´p:ajax´ with ´tabChange´ or not

we could fix it by dymically add the `_contentLoad` param if:
1) no behavior defined (see js line 590 in the else bloc

[2020-12-28 15:08] tandraschko commented on #5581
WDYT @melloware @Rapster ?

[2020-12-28 15:08] tandraschko commented on #5581
The same probably applies to other "dynamic" components, which is only partially rendered. Not sure if we have others, maybe dialog.

[2020-12-28 15:20] melloware commented on #5581
It sounds like we should add option 1) no matter what?  And then add documentation for option 2) like you suggested?

[2020-12-28 15:35] christophs78 commented on #6492
IMO our time and energy is invested better for other things. I don´t plan to work on this furher. At least for now.
Yes, there was a perf-regression with 7.0, but you could work around by using fast converters, avoid using SelectOneMenu for to many entries, ...

[2020-12-28 15:42] #6722 closed, assigned to christophs78

[2020-12-28 15:47] #6492 closed, assigned to christophs78

[2020-12-28 16:55] tandraschko commented on #5581
Not sure
Either we break one or another case
I think we should just align the docu

[2020-12-28 18:24] melloware commented on #5581
@tandraschko I think this is similar to #3929 as well

[2020-12-28 19:47] melloware opened #6728 "DataTable/TreeTable: Multisort priority indicator"
**Description**
We have been using this in our production apps for years but the idea is for multi-sort a way of identifying the order of the columns sorted.

**Describe the solution you would like**
When a table has multisort and more than 1 column is sorted show a visual indicator of the sort order.  If only 1 column is sorted there is no need for such priority indicator.

**Additional context**

[2020-12-28 19:59] tandraschko commented on #6728
Maybe the PrimeTek designer has a good Idea? @cagataycivici @mertsincan ?

[2020-12-28 20:05] melloware commented on #6728
I submitted my PR for review.  The styling would have to be changed in the themes but here is all they would have to override:
[code]

[2020-12-28 20:32] mertsincan commented on #6728
Hi all,

Thanks a lot for your efforts! Could you please check 'Multiple Columns' example in https://primefaces.org/primereact/showcase/#/datatable/sort?

@melloware can add CSS styles related to alignment to the core. The rest of the styles can come from the Theme.

[2020-12-28 20:35] melloware commented on #6728
Perfect let me look at those styles and change mine to use that so you can simply override with the Themes.  I will update my PR.

[2020-12-28 20:42] melloware commented on #6728
OK looked at Primereact and updated my PR with CSS to match it only doing alignment.
[code]

[2020-12-28 21:02] mertsincan commented on #6728
Thanks @melloware, could you please change 'ui-sort-priorty' class with 'ui-sortable-column-badge' class? Then you can merge it ;)

Nice feature for PrimeFaces!!

[2020-12-28 21:03] melloware commented on #6728
Yep fixing it now.

[2020-12-28 21:05] melloware commented on #2061
Workaround if you need this feature but we have decided to mark as WontFix natively.

[code]

[2020-12-28 21:05] #2061 closed, assigned to melloware

[2020-12-28 21:18] #6728 closed, assigned to melloware

[2020-12-28 21:36] melloware commented on #6728
Updated Integration Tests proving this feature:
https://github.com/primefaces-extensions/primefaces-integration-tests/commit/ff3e46346aa84effc8b9035b2ac2399e97ca12c5

[2020-12-28 22:10] stolp opened #6730 "Datatable: support true Global Select/Deselect"
**Description**
The provided checkbox-based multiple selection model features a global selection checkbox in the table header.

This checkbox only applies to the currently displayed rows of the table.
This will become apparent when paging is activated, so the checkbox example in the Primefaces showcase will not reveal this properly.

This is both counter-intuitive and cumbersome when using with la

[2020-12-29 01:02] melloware commented on #3465
No comments in 3 years and as Thomas mentioned this would be difficult to fix with very little reward. Don't update the whole data table while row editing is occurring.

[2020-12-29 01:02] #3465 closed, assigned to nobody

[2020-12-29 01:17] melloware commented on #1017
No comments in 5 years and this can easily be accomplished with just CSS as mentioned. Closing this ticket.

[2020-12-29 01:17] #1017 closed, assigned to nobody

[2020-12-29 01:46] buunsal opened #6731 "DataTable: RowGroup does not work anymore"
Grouping features no longer works on Primefaces 9 with the current showcase on github master.
![image](https://user-images.githubusercontent.com/45278820/103252999-51b70800-4990-11eb-943e-8f5862f5d504.png)

@tandraschko Could this has occurred after your last commits?

[2020-12-29 09:44] tandraschko commented on #5581
changed the docs

[2020-12-29 09:44] #5581 closed, assigned to tandraschko

[2020-12-29 10:23] tandraschko commented on #3929
aligned the docu that this is not supported.

[2020-12-29 10:23] #3929 closed, assigned to tandraschko

[2020-12-29 10:25] tandraschko commented on #6731
will check it on weekend

[2020-12-29 14:15] melloware commented on #6730
I decided on `selectionPageOnly` to keep it consistent.

[2020-12-29 15:17] stolp commented on #6730
Agreed, this is better.

[2020-12-29 16:37] Rapster commented on #6730
@stolp Would it be a feature that you'd like to use also in lazy mode? If yes, it might required few additionnal changes

[2020-12-29 16:41] stolp commented on #6730
Hoping I am not asking to much, but yes this is definitely required here. I have basically all tables using lazy mode (as they can easily contain a few thousand entries).

[2020-12-29 16:49] Rapster commented on #6730
@melloware I could be wrong but in lazy mode, will your PR work? I fear as a result, selection might be n repetition of current page selection. Also I wonder if this is the best approach (in lazy mode), just like you, we have at minimum thousands of entries (and one entry is not a lightweight), so you could easily congest your memory...

[2020-12-29 16:59] melloware commented on #6730
We can try but it should be no different than @stolp current workaround which just calls the JS selectAllRows method right?

[2020-12-29 17:05] Rapster commented on #6730
Ah ok all good then, I must be missing something. Cool feature, our clients are also confused with the check all feature 😅

[2020-12-29 17:13] melloware commented on #6730
Well there still may be more to do here.  Just from looking at the workaround he posted leads me to believe it works for both lazy and non lazy. At least hopefully 😁

[2020-12-29 18:44] melloware commented on #6730
Actually @Rapster and @stolp this issue looks similar: https://github.com/primefaces/primefaces/issues/3535

[2020-12-29 18:47] melloware commented on #3535
@Hamsterbau I this this workaround is no longer needed if we natively add this feature for `selectionPageOnly="false"` so it selects all items instead of just the page you are on. See #6730

[2020-12-29 19:15] melloware commented on #2782
I just tested this and in 9.0-SNAPSHOT this appears to be fixed and its selecting the correct rows and not the expansions.  We can always reopen if its still an issue but I cannot reproduce it.

[2020-12-29 19:15] #2782 closed, assigned to nobody

[2020-12-29 19:35] melloware commented on #3360
@mdzaebel Thank you for reporting. Since you have provided a CSS workaround I am going to mark this as closed.  This would be odd for PF to try and fix this when its an underlying HTML/CSS issue.  But thank you for posting your workaround!

https://stackoverflow.com/a/48957267/502366

[2020-12-29 19:35] #3360 closed, assigned to nobody

[2020-12-29 20:23] melloware commented on #3535
OK attached a reproducer for 8.0:
[pf-3535.zip](https://github.com/primefaces/primefaces/files/5752063/pf-3535.zip)

[2020-12-29 21:34] tandraschko commented on #6731
seems like this commit https://github.com/primefaces/primefaces/commit/7dba5cb7fdf185ecdf2a03515103faa9f57ca585 broke it
not sure why, i fixed sorting afterwards

[2020-12-29 21:39] tandraschko commented on #6731
[pf-2672.zip](https://github.com/primefaces/primefaces/files/5752255/pf-2672.zip)

[2020-12-29 21:40] tandraschko commented on #6731
@Rapster do you know how HeaderRow/rowGrouping works? maybe you have a short idea here

[2020-12-29 22:10] Rapster commented on #6731
Yeah, from what I can see sorting doesn't seem to be working. The condition on columnKey is never verified:
[code]
sorting is then not called.

[2020-12-29 22:29] Rapster opened #6734 "DataTable: checkbox selection not fully checked on click"
**Describe the defect**
A picture is worth a thousand words. So let me show you (or you can reproduce on showcase)
![selection](https://user-images.githubusercontent.com/7521311/103317882-e3745300-4a2c-11eb-90f6-e413e985199a.gif)

In 2 words, checkbox selection is not fully checked on first click. My best assumption _(and I can be completely wrong)_ is that, this problem came with the new themes (

[2020-12-29 23:23] melloware commented on #6734
I noticed this too. I will investigate and fix. I think I know what is happening.

[2020-12-30 00:19] melloware commented on #6734
OK its being captured by two different click events and they are at war.

1. Row Click itself.
[code]

2. and Checkbox click

[code]

So I think in the RowClick I need to jump up if its the `ui-chkbox-box` being clicked. I can't do it with a clever RowSelector I don't think as the whole TR gets the click event.

[2020-12-30 13:11] melloware commented on #6734
@Rapster I moved your issue to the Showcase as its a PrimeOne theme issue and nothing to do with core PF code.

See: https://github.com/primefaces/primefaces-showcase/issues/258

[2020-12-30 13:11] #6734 closed, assigned to melloware

[2020-12-30 13:30] Rapster commented on #6734
Sounds good

[2020-12-30 13:39] melloware commented on #3535
@Rapster @stolp OK I have to fix this issue to go with #6730.  @tandraschko analysis of the problem above is correct.

Here is what happens.

1. First if you check the header checkbox its sets form selection to `form:myTable_selection: @all`.
![image](https://user-images.githubusercontent.com/4399574/103354649-198bf400-4a7a-11eb-9edc-9571ec92c8fc.png)

2. Now uncheck 1 row and it properly unchecks

[2020-12-30 13:59] stolp commented on #3535
I can understand the dilemma and cannot think of any better solution. I don't think it will have any influence on most people's usecases, including mine.

Thank you very much for fixing this so quicky! Once it is merged I will verify this with our product.

[2020-12-30 14:06] melloware commented on #3856
Added documentation warning that RowGroup and Lazy are not compatible features:

[2020-12-30 14:06] melloware commented on #2658
Added documentation warning that RowGroup and Lazy are not compatible features:

[2020-12-30 15:15] tandraschko commented on #6731
@Rapster fixed it now and added comments that we have to refactor that code when you refactored column grouping

[2020-12-30 15:15] #6731 closed, assigned to tandraschko

[2020-12-30 15:18] melloware commented on #4901
I finally got around to fixing this in the Showcase.  Will be fixed in the final release of 10.0 Showcase.

See PR: https://github.com/primefaces/primefaces-showcase/pull/259

[2020-12-30 15:54] melloware opened #6737 "DataTable: Single Sort should not have to declare priority"
**Describe the defect**
While fixing the Showcase demo for SummaryRow it had a single sort declared but no `sortPriority` declared and it was not sorting the table by default.  But as soon as I added `sortPriority=1` to the column it then sorted by default correctly.

The issue is in SortMeta if you pass `NULL` to `priority(NULL)` it sets it to NULL instead of its default `MIN_VALUE`.

**Failed:**

[2020-12-30 15:57] christophs78 commented on #6731
We need to add integration-tests for RowGroup. :-)

[2020-12-30 16:10] #2658 closed, assigned to melloware

[2020-12-30 16:10] #3856 closed, assigned to melloware

[2020-12-30 17:25] Rapster opened #6739 "DataTable: virtualScroll + scrollable broken"
**Describe the defect**
No data displayed:

![image](https://user-images.githubusercontent.com/7521311/103370121-4832ba80-4acc-11eb-9689-995b0566f603.png)

Regression due to this commit d4be4df857550c1e42eec6d180299ab20ebe31e3. As a consequence JS error:

    at Class.cloneHead (components.js.xhtml?ln=primefaces&v=9.0-SNAPSHOT:6190)
    at Class.setupScrolling (components.js.xhtml?ln=primefaces&v=

[2020-12-30 17:45] #6739 closed, assigned to Rapster

[2020-12-30 18:43] melloware commented on #5051
Updated reproducer for PF 8.0:
[pf-5051.zip](https://github.com/primefaces/primefaces/files/5755328/pf-5051.zip)

[2020-12-30 18:49] Rapster commented on #2658
You meant "Lazy loading AND LiveScroll" no? row grouping (headerRow/groupRow should work with classic lazy loading)

[2020-12-30 18:50] melloware commented on #2658
You are right it should be AND.  I will fix the docs.

[2020-12-30 19:00] melloware commented on #1258
Thank you for the CSS workaround.  I don't see PF core fixing this issue and since its easily fixed with CSS going to close the issue.

[2020-12-30 19:00] #1258 closed, assigned to nobody

[2020-12-30 19:03] Rapster opened #6742 "DataTable: groupRow should set sortOrder asc by default"
**Description**
As I was trying out row grouping feature recently, I struggled for a bit to enable properly that feature. Turns out, setting groupRow is not enough, you need to define sortOrder also _(obviously...)_ (either with asc or desc)

**Describe the solution you would like**
When `UIColumn#groupRow` is set, `SortMeta#sortOrder` should be set to asc by default

**Example XHTML**
[code]

WDY

[2020-12-30 19:06] #6737 closed, assigned to melloware

[2020-12-30 19:08] melloware commented on #6742
@Rapster I saw the same thing when I was trying to get it working.  I think it should default to ASC if not declared.

[2020-12-30 19:09] tandraschko commented on #6742
is it the same on 8.0 or just on current master?

[2020-12-30 19:20] melloware commented on #3342
Testing with PrimeFaces 8.0 I do not see this issue. See: https://www.primefaces.org/showcase/ui/data/datatable/columnResize.xhtml

if you still think its an issue as of PF 8.0 please report back but i will close for now.

[2020-12-30 19:20] #3342 closed, assigned to nobody

[2020-12-30 19:21] Rapster commented on #6742
In 8.0 you had to define `DataTable#sortBy` which I assume sort asc by default (or according to DataTable#sortOrder), it didn't have UIColumn#sortOrder either.

[2020-12-30 19:30] tandraschko commented on #6742
all right; +1

[2020-12-30 19:41] #6742 closed, assigned to Rapster

[2020-12-30 19:50] melloware commented on #497
Here is a reproducer using PF 8.0 and this seems fixed to me:
[pf-497.zip](https://github.com/primefaces/primefaces/files/5755523/pf-497.zip)

I actually think it was fixed by https://github.com/primefaces/primefaces/issues/660

[2020-12-30 19:50] #497 closed, assigned to nobody

[2020-12-30 20:21] Rapster commented on #3535
Giving my 2 cents, but what about whenever `@all` is added to the selection holder:
- unselect a row will add the rowkey to the selection holder
- select a row will remove the rowKey
- to unselect all, uncheck the "select all" checkbox (should clear the selection holder)

On server side, simply do `@all` minus rowKeys? I'm not talking about lazy mode yet, as I don't know how `@all` behave in lazy

[2020-12-30 20:29] melloware commented on #3535
not quite sure.  Previously eveyrhting just did `selectAllRowsOnPage` the convenience method for `selectAllRows`  was never called before anywhere in JS code it was just provided as a client API widget method and sets '@all`' for the Server Side to interpret.

And unselecting a row tried to find the rowKey in the list and remove it.  But the list just contained `@all` so it removed nothing. And th

[2020-12-31 12:40] melloware commented on #6575
@Rapster I never thought about it but is this issue you are fixing similar to this one:
https://github.com/primefaces/primefaces/issues/3551

Because in that ticket they talk about lost selections while updating with a p:poll and they discussed storing the client side state in `localStorage` etc.  Is your PR solving the same issue as in that ticket or is that ticket different?

[2020-12-31 13:28] #6712 closed, assigned to mertsincan, buunsal

[2020-12-31 15:35] Rapster commented on #6575
I don't know what I took that day, but this sample I have given seems to work... 😅 I'll probably recycle/or create a new ticket because the PR fix several things and clean up selection code. I'll have a look on #3551 @melloware as soon as I can

[2021-01-02 10:58] 123MarkA321 commented on #5051
Start the view and scroll down:
<img width="162" alt="2021-01-02 11_56_41" src="https://user-images.githubusercontent.com/64163092/103455947-cae88f00-4cf1-11eb-9106-b51d2dd7efa3.png">

Now hide and show the expandedRow:
<img width="72" alt="2021-01-02 11_56_57" src="https://user-images.githubusercontent.com/64163092/103455945-ca4ff880-4cf1-11eb-9ac0-94ada8de3733.png">
We see now 199 and not 149.

[2021-01-02 14:03] melloware commented on #5051
@123MarkA321 I didn't dig into why I just wanted to make sure we had a reproducer for 8.0 and prove the issue.  Yep its definitely a bug just didn't investigate a fix yet.  If you want to help PR's are welcome!

[2021-01-02 15:41] Rapster commented on #6575
@melloware #3351 is something different

[2021-01-02 15:47] melloware opened #6750 "Avatar: Port Gravatar from Extensions"
**Description**
PrimeFaces Extensions has a Gravatar component: https://www.primefaces.org/showcase-ext/sections/gravatar/basic.jsf

See: https://github.com/primefaces-extensions/primefaces-extensions/issues/258

**Describe the solution you would like**
Port the functionality to the new PF Avatar component to allow Gravatars.

**Example XHTML**
[code]

![image](https://user-images.githubuserconten

[2021-01-02 15:52] melloware commented on #6575
OK wasn't sure. I think i can solve #3351 pretty easily with localStorage no?

[2021-01-02 16:07] Rapster commented on #6575
I didn't give too much thoughts to be honest, But yeah most probably, it sounds very similar to those issue with JSF components scope, states need to be restored after a request (we use StateHelper to fix this), maybe for js widgets LocalStorage could be the solution on client side

[2021-01-02 17:59] melloware opened #6752 "Avatar: Port LetterAvatar from Extensions"
**Description**
LetterAvatar in Primefaces extensions has 2 features not in Avatar.

See:https://www.primefaces.org/showcase-ext/sections/letteravatar/basicUsage.jsf
1) the ability to pass a name like "Optimus Prime" and have it shorted to "OP".
2) the ability to dynamically assign the colors based on the text of the avatar.

Linked: https://github.com/primefaces-extensions/primefaces-extensions/i

[2021-01-02 23:01] 123MarkA321 commented on #5051
I have a workaround for the liveScroll=true (not virtualScroll). This changes is in class Model in test  reproducer
[code]

Here the result:
<img width="156" alt="2021-01-02 23_53_13" src="https://user-images.githubusercontent.com/64163092/103468165-bd192500-4d56-11eb-8ea3-61dca848cb44.png">
<img width="280" alt="2021-01-02 23_53_41" src="https://user-images.githubusercontent.com/64163092/10346822

[2021-01-03 09:12] jepsar opened #6757 "BreadCrumb: style new accessible HTML"
See #4928

@melloware can you take care of setting the theme label and milestone? And maybe assign @mertsincan

[2021-01-03 12:42] melloware commented on #6757
Done

[2021-01-03 15:48] melloware opened #6760 "POM: Exclude certain transitive dependencies"
**Describe the defect**
To prevent some `provided` dependencies from being used in code we should `exclude` those transitive dependencies from the pom.xml.

Example: Commons Collections4

[2021-01-03 19:53] #6760 closed, assigned to melloware

[2021-01-03 21:21] tandraschko commented on #6730
what happens if:
- you select "all pages"
- deselect a single entry

will this then actually select the current page minus the deselected?
Asking regarding #3535

[2021-01-03 22:03] melloware commented on #6730
Yes @tandraschko that is exactly what happens. That is the best/only thing we can do since we don't know the full row keys.  This is better than leaving ALL in there which to me is just really wrong.

[2021-01-03 22:13] stolp commented on #6730
I like to add, that this is typically of no concern when you keep track of the selection state on the server side.

One can argue, that the DOM representation of the selection can not in any case be fully aware of the underlying model here.

I think this is fine from the user side of view.

[2021-01-04 00:10] Rapster commented on #6760
Did you try this:
[code]

It should exclude all transitive dependencies in a less verbose way

[2021-01-04 00:25] melloware commented on #6760
I did not try that. I usually only ever exclude individual but I like this idea better.

[2021-01-04 09:21] tandraschko commented on #6575
I checked the related issue and the basic case (select multiple rows and update it) should be fixed by this PR actually.
After that i would close it. localStorage etc. is out of scope by far.

[2021-01-04 09:24] tandraschko commented on #5960
A tab is not updatable, thats by design and discussed multiple times in the past.
You have to update the tabView, as the TabView renders the tab.

[2021-01-04 09:24] #5960 closed, assigned to nobody

[2021-01-04 09:29] tandraschko commented on #2036
@melloware would you like to reproduce this? maybe we can fix it easily with some CSS

[2021-01-04 09:33] tandraschko commented on #1111
If i set a width of the of ui-selectManyMenu to e.g. 300px and filter in the showcase (https://www.primefaces.org/showcase/ui/input/manymenu/basic.xhtml), the size wont change.
@melloware would you like to have a look, to?

[2021-01-04 09:41] Rapster commented on #6575
Which related issue?

[2021-01-04 09:46] tandraschko commented on #6575
#3551

[2021-01-04 11:18] tandraschko commented on #5960
updated the docs now

[2021-01-04 11:40] #4567 closed, assigned to tandraschko

[2021-01-04 11:50] tandraschko commented on #1541
This is currently completely by design.
TabViewRender renders the tab, there is no TabRenderer. Therfore it can never work without refactoring the whole component.

Even if we would have a TabRenderer, you cant update a component which isnt intially rendered and you still would need update the TabView.

I will close this for now.
I also aligned the docs a bit today for #5960

However, we could add

[2021-01-04 11:50] #1541 closed, assigned to nobody

[2021-01-04 11:52] Rapster commented on #6575
All I can say is that this PR doesn't fix the following scenario:
- select row
- update
- select another row pressing shift
- expecting range to be selected

That's what I understand from #3551

[2021-01-04 11:55] tandraschko commented on #6575
hmm, does it work without the "update" step? It should work theoretically, but we can check it afterwards of course.

[2021-01-04 11:55] tandraschko commented on #32
In theory we could support this BUT not with the current approach.
Currently the TabView is the component which handles the dynamic tab.
So if you add a "var" to TabView, its marked as dynamic.

We could do it like for columns; move the dynamic tabs handling to a new components p:tabs.
So we could do it like p:columns and p:column.

[2021-01-04 12:03] Rapster commented on #6575
Yes it will work, basically client state is lost after update, and since selecting a range is based on a state, it won't work. I wonder if we could make it work without originRowIndex... can be discussed later

[2021-01-04 12:24] tandraschko opened #6763 "PickList Filter - holding values after page refresh"

[2021-01-04 12:25] #6763 closed, assigned to tandraschko

[2021-01-04 12:39] #3337 closed, assigned to tandraschko

[2021-01-04 12:44] melloware commented on #1541
@tandraschko I we could think about adding JS methods for add and remove tab but i would think AddTab would have to be AJAX so it can notify the backend about the new Tab.   If more people ask we can create a ticket but I know people on the forums have asked they want to add a tab WITHOUT AJAX which to me doesn't seem possible or not without a lot of refactoring.

[2021-01-04 12:45] tandraschko commented on #1541
I think we could allow something like:
addTab('title', 'content as string or jqueryelement'); whis woudlnt require AJAX but would be lost after update

[2021-01-04 12:45] melloware commented on #6575
Yep I think #3551 I could fix pretty easily with localStorage and only reloading it upon component update.

[2021-01-04 12:49] christophs78 commented on #3244
I think we finally can deprecate/remove this.
All browsers since IE10 support placeholder. https://caniuse.com/input-placeholder
(Just talked to a colleague, which was mislead by this component.)

[2021-01-04 12:58] tandraschko commented on #3244
I didnt remove it because of JSF2 users. If you check the source, it just sets the placeholder attr

[2021-01-04 13:35] tandraschko commented on #3244
Updated the docs

[2021-01-04 14:03] melloware commented on #6760
OK I tried it and it excludes too much and the build fails. So I will leave the precisions excludes for now.

[2021-01-04 14:03] christophs78 commented on #3244
p:InputText even has dedicate placeholder-attribute:
https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/inputtext/InputTextBase.java#L38
So you even dont need passthrough attributes.

[2021-01-04 14:04] tandraschko commented on #3244
but not h:* components

[2021-01-04 14:40] melloware commented on #1111
I can reproduce by making the current showcase `style="width:800px"`.

![image](https://user-images.githubusercontent.com/4399574/103546408-f04fd700-4e70-11eb-873e-090413b680f4.png)

Seeing if there is an easy fix

[2021-01-04 15:38] tandraschko commented on #593
i see the problem now and we can fix it as rowExpand already has a fix for it.

[2021-01-04 15:49] tandraschko commented on #593
still not working, will leave it as it is now and look again in the future.
Would be great if someone could check it.

The fix i applied for it is in RowExpand:
'''

        if (table.isLazy() && ((LazyDataModel) table.getValue()).getWrappedData() == null) {
            table.loadLazyData();
        }
'''

but even when adding this before:
[code]

creates a exception

[2021-01-04 15:50] tandraschko commented on #593
the same exception will likely occur in rowToggle request as getRowData() is called before lazyData is loaded. Therefore the above fix should actually work.

[2021-01-04 18:46] melloware opened #6766 "Rating: Widget method validations"
**Describe the defect**
While writing Integration Tests for rating I found some validation issues on the client side widget methods. We currently block being above the min/max on the server side with ticket: https://github.com/primefaces/primefaces/issues/4203

However I found the following scenarios were failing:
- Calling `setValue` on a disabled rating allowed you to set the rating
- Calling `s

[2021-01-05 08:26] #593 closed, assigned to tandraschko

[2021-01-05 08:28] #6766 closed, assigned to melloware

[2021-01-05 08:29] #1111 closed, assigned to melloware

[2021-01-05 09:13] tandraschko commented on #6730
we should really think about if we need the old behavior, which means "select all" == "all rows in all pages"

I think its common that "select all" == "select all rows from the current page"

[2021-01-05 09:14] fcorneli opened #6768 "FileUpload: 7.0.18 regression in Safari no longer working in dialog"
Seems like there is some regression in version 7.0.18 when using `p:fileUpload` within a `p:dialog`.
Under Safari, nothing happens. Under Chrome, a second "open file" dialog is shown, and then it works.
7.0.17 does not have this issue.

It seems like `p:fileUpload` is only affected when used within a `p:dialog`. Outside a `p:dialog` it is still working.

[2021-01-05 10:12] stolp commented on #6730
As much as I agree with the conclusion that this is the *right* behavior, I would like to argue that backwards compatibility should not be dropped without a very good reason.

There may be applications out there which take the existing behavior for granted. I generally don't like the idea of forcing them to change. Or maybe I'm just getting to old to embrace change easily ... ;-)

[2021-01-05 10:31] tandraschko commented on #3424
I checked this issue now and its quite hard to implement.
1) We could either add a new event which will be called when all uploads are done (that would be another request)
or
2) We could pass the files count and current uploaded file index to the FileUpload event

the 2) would be the better option probably.

Another option (which doesnt fix this direclty) would be to allow to upload multiple files

[2021-01-05 11:44] Rapster commented on #3212
@melloware @tandraschko Remember this issue #3815? I remember you talking about JS lifecycle events to fix that issue. Only a workaround has been provided on this day, but maybe with your fix, it would be a better fix? I currently have issue with `p:outputPanel` since I need deferred loading on ajax request (e.g loading image on datatable pagination)...

[2021-01-05 11:56] tandraschko commented on #3212
i think this is another topic.
This issue here let you intercept a widget lifecycle with JS events

In #3815 i think it was talking about more global events like run deffered mode on "ajaxLifecycleFinished" instead instant.

[2021-01-05 12:34] melloware commented on #6768
I have a feeling its this: https://github.com/primefaces/primefaces/issues/6700

[2021-01-05 12:38] melloware commented on #6730
Right now everything works as it does today the behavior only changes if you add `selectionPageOnly="false"` by default its `true` and acts just like it does today.

[2021-01-05 12:43] tandraschko commented on #6730
yeah but its broken anyway; as "false" is the default, it only works correctly if you dont deselect a single row afterwards?

[2021-01-05 12:47] #2546 closed, assigned to tandraschko

[2021-01-05 12:48] tandraschko opened #6769 "Dialog: Composite support for visible binding"

[2021-01-05 12:49] tandraschko opened #6770 "Panel: Composite support for collapsed binding"

[2021-01-05 12:55] #6770 closed, assigned to tandraschko

[2021-01-05 12:55] #6769 closed, assigned to tandraschko

[2021-01-05 12:55] melloware commented on #6730
I am confused `true` is the default because right now selection is Page Only?  You have to disable it to make it select the whole table with `@all`.  Maybe we are talking about two different things?

[2021-01-05 13:06] tandraschko commented on #6730
Im confused now :D i think i was confused with the attr name and default

we talk about the, if "all rows in all pages" or "all rows in the current page" are selected.
"all rows in the current page" was the default and this is working fine now, also if you deselect one row, as "@all" will be converted to "all row keys that are selected now", right? (https://github.com/primefaces/primefaces/issues/