[2021-04-20 09:05] tsobis commented on #7154
@melloware So, I did not want to add images since I checked and the project does not have many, instead I used a primeicon and rotate it.
Please check this version is way better. If it is ok tell me to PR it. If you want me to test something specific, tell me.

[code]

[2021-04-20 09:10] tsobis commented on #7154
No this solution has problem with the confirmation dialog.
I added another selector to the final part

[2021-04-20 11:08] melloware commented on #7154
So is the above safe to try?

[2021-04-20 11:09] tsobis commented on #7154
yes

[2021-04-20 11:56] melloware commented on #7154
OK this looks good to me.  I have assigned to @mertsincan since these changes should be done in the Themes and only PrimeTek controls the theme code.  Plus it won't need any !important since the theme will win.

[2021-04-20 12:55] jepsar commented on #7213
The issue with #5905 is that the option is only shown when there are more items than the ones displayed. If you want to add items it should be always visible when the options are shown. I'll have a look at adding such a feature.

[2021-04-20 13:14] wal-jan commented on #7216
After some debugging I got to this Ecxeption:
[code]
I suggest the following change
[code]
But maybe there is a better solution to check for this special case.

[2021-04-20 13:17] melloware commented on #7216
@christophs78 what do you think?

[2021-04-20 17:57] christophs78 commented on #7216
I don´t think we should add code like this to PrimeFaces. Hacks like this may be added to custom projects but not to an universal library like PrimeFaces.
If someone like´s to do a PR IMO the right place should be to add a few if´s to https://github.com/primefaces/primefaces/blob/10.0.0/src/main/java/org/primefaces/component/calendar/BaseCalendarRenderer.java#L163.
Pseudo-code:
[code]

[2021-04-20 19:55] melloware commented on #7216
OK I think I fixed it in the cleanest spot.

[2021-04-20 20:42] anuragnz commented on #7213
Yes this will be really useful.

[2021-04-21 11:37] #7216 closed, assigned to melloware

[2021-04-21 11:41] melloware commented on #7222
@tuerker No matter what solution your IDE is going to complain about them missing because they are marked as required in the TagLib.  So we would have to make them not required in the TagLib as well. But if you use a Custom tag you could mark them not required in your taglib.xml for your custom tag.

[code]

[2021-04-21 11:45] melloware commented on #7222
I am working on a PR for this now.

[2021-04-21 13:12] Microbobs opened #7241 "SelectCheckboxMenu: Attribute emptyLabel is ignored"
**Describe the defect**
Using the SelectCheckboxMenu with the attribute emptyLabel set still results in displaying the label text when there is no selection. I couldnt find a related issue, so i created this one.

**Reproducer**
https://github.com/Microbobs/primefaces-test

**Environment:**
 - PF Version: 10.0.0
 - JSF + version: Mojarra 2.2.x
 - Affected browsers:  ALL

**To Reproduce**
Steps to

[2021-04-21 13:58] melloware commented on #7241
See: https://primefaces.github.io/primefaces/10_0_0/#/components/selectcheckboxmenu?id=attributes

try adding `updateLabel="true"` and let me know if that does it?  The emptyLabel is only used if that updateLabel property is true.

[2021-04-21 14:19] matsandreassen commented on #6987
Took me all day to discover this. Great to see that others have already encountered it. I use client side state saving in order to load balance effectively so I'd prefer this be fixed as well.

[2021-04-21 19:35] tarwork opened #7242 "Confirm Dialog : Triggering Confirm Dialog causes Accessibility check failure"
**Describe the defect**
Using the current Primefaces Showcase 10.0.0 and checking it with the Site Improve accessibility checker chrome browser plugin along with viewing source exposes a reproducible accessibility error.

**Reproducer**
I am using the Primefaces Showcase

**Environment:**
PF Version: 10.0.0
JSF + version: Mojarra 2.2.x
Affected browsers: Chrome

**To Reproduce**
Steps:

1. go to p

[2021-04-21 20:42] melloware commented on #7242
I will investigate this...

[2021-04-21 20:54] wal-jan commented on #7136
TreeTableRenderer.filter() implicitly assumes that the tree tables root node does not change. After collecting the matching nodes it creates a clone of the root node and sets the  clone as new value of the tree table
[code]
TreeTableRenderer.filter() is called from 2 positions
[code]
and
[code]
In the former case the value of the tree table is reset to null before filter() is called. So subsequent

[2021-04-21 20:59] tarwork commented on #7242
further testing shows that this case also happens for the p:dialog as well when choosing the Modal option.

https://www.primefaces.org/showcase/ui/overlay/dialog.xhtml?jfwid=e0659

the same tracing of the html code in the inspect window will show the role attribute go from role="dialog" to role

perhaps they are sharing the same code. If not, I can create a new issue for this component.

[2021-04-22 00:33] melloware commented on #7242
I think it's all sharing the same code.  I will fix it.

[2021-04-22 06:14] Microbobs commented on #7241
Hi,
thanks for your reply. I missed that part when recreating the issue in the primefaces-test environment. It works fine there now. I guess the mistake must be within my actual project. I'll try to reproduce it.

[2021-04-22 06:15] pascalbxlx opened #7243 "PrimeFaces: Incompatibility with Oracle Weblogic 14 & HTTPS on HTTP2"
We are porting an existing application from weblogic 12 to weblogic 14 using https and we are facing issues. We have reported this to Oracle and the feedback from them:

_The problem is introduced by HTTP/2.

WLS 12c is using HTTP1.1 protocol, this is why the application is working in WLS 12c.
WLS 14c is using HTTP/2 protocol. If HTTP/2 is manually disabled in Chrome, you will see that it works ok

[2021-04-22 06:25] Microbobs commented on #7241
I updated the test-repo. The issue seems to be linked with "multiple=true".

[2021-04-22 06:35] tandraschko commented on #7243
i dont think this is PrimeFaces related.
ResourceHandling is done directly in JSF, JSF just streams PrimeFaces resources.

The "broken pipe" is also expected as the client aborts the requests. This is because of a Firefox features, discussed several times in the forum.

In MyFaces we reduced the logging in this case, see here: https://issues.apache.org/jira/browse/MYFACES-3736

[2021-04-22 07:28] GedMarc commented on #7243
Http2 is only supported from jakarta EE 8 / Servlet 4.1/5, which is weblogic 14....
You are attempting to do something that your server does not handle

Not a primefaces bug, client implementation error. On servers that fully support it, there is no problems
Undertow 2.2 etc,,,

[2021-04-22 11:04] javiermiraticarum opened #7244 "AutoComplete (dropdown="true"): Accessibility of button"
**Describe the defect**
According to WCAG criterion 4.1.2 all buttons must have an accessible name.

**Environment:**
 - PF Version: _8.0_
 - Affected browsers: _ALL_

**Expected behavior**
The button must have a text in the span ui-button-text or in an aria- * attribute
which could be entered in an attribute of the component.

**Example HTML**
Current
[code]
Expected
[code]

[2021-04-22 11:31] melloware commented on #7241
That is correct that option is specifically not designed for `multiple` mode. See the snippet below.

[code]

[2021-04-22 11:36] juceda opened #7245 "LinkButton: Style regression"
**Describe the defect**
With latest commit b5b4ee432ed131cc88acc42cd419680fa8331a8e, now class ui-button-text-icon-right are added always on text-only buttons without icon.

**Reproducer**
Clone repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to receive an answer and a solution and attach the GitHub Link or zip file of your

[2021-04-22 11:42] melloware commented on #7242
OK thanks for reporting PR submitted.

[2021-04-22 11:43] melloware commented on #7244
Wouldn't just `aria-label="Show options"` be enough with no need to change the `ui-button-text` ?

[2021-04-22 11:47] melloware commented on #7243
@pascalbxlx You also didn't mention which versions of Mojarra that WL 12 and 14 use?     Is WebLogic pluggable where its possible to swap Mojarra out for MyFaces?  That is what we do with some of our Jboss installations for better performance.

[2021-04-22 11:53] melloware commented on #7245
Thank you for reporting....PR submitted.

[2021-04-22 13:08] javiermiraticarum commented on #7244
Yes, one of the two options is enough.

[2021-04-22 15:12] zakhdar opened #7248 "Tree: CSS customization when dropRestrict=sibling is enable"
**Description**

When drag&drop is activated on a p:tree with the dropRestrict = sibling attribute, when we click on a node to move it, it would be interesting to change the color of the drop point if it is a valid drop point or not, that would allow for a more intuitive interaction.

**Describe the solution you would like**
A solution would be to have a attribute like  siblingClass when we can de

[2021-04-22 15:16] zakhdar opened #7249 "Tree: Header"
**Description**
It's possible to have a header in Tree like in panel , datatable  ,  orderList   ...  (<f:facet name="caption"> or <f:facet name="header">)

[2021-04-22 15:32] tandraschko commented on #7249
just put a p:panel around?

[2021-04-22 15:33] #7245 closed, assigned to melloware

[2021-04-22 15:35] #7242 closed, assigned to melloware

[2021-04-22 15:39] #7200 closed, assigned to melloware

[2021-04-22 15:39] zakhdar opened #7250 "MenuButton does not expand when we have ui:include in the same xhtml"
**Describe the defect**
p:menuButton does not expand when whe have ui:include in the same xhtml

**Reproducer**
[code]

blank.xhtml

[code]

just try to click on the menu , nothing happens even in web console (no javascript event / error)

but if you remove this line `<ui:include src="blank.xhtml" />` it's work fine.

**Environment:**
 - PF Version: 10
 - JSF + version: Mojarra 2.3.14.SP02
 - AS :

[2021-04-22 15:48] zakhdar commented on #7249
Thanks for your suggestion ,I had not thought of it yet it is so obvious

[2021-04-22 16:02] #7249 closed, assigned to nobody

[2021-04-22 16:17] melloware commented on #7250
Works fine for me.  reproducer:
[pf-7250.zip](https://github.com/primefaces/primefaces/files/6359748/pf-7250.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2021-04-22 16:42] zakhdar commented on #7250
Hi @melloware ,

I tested your reproducer and it's work fine.
i will try to make a complete reproducer and post it for further research.

thanks for your support.

[2021-04-22 16:43] melloware commented on #7250
No problem just post back if you can or can't reproduce.  I have a feeling your issue is your DOCTYPE.  Look at my blank.xhtml vs yours.

[2021-04-22 16:59] zakhdar commented on #7250
You are right when I use your "blank" file with my project it works, but what seems strange to me if I use my version of the "blank" file on your reproducer it works also.
Just for my information do you think this is due to Mojarra version or application server (i am using WildFly)?

[2021-04-22 17:28] melloware commented on #7250
could be a bunch of things or even Firefoz not liking the DocType could be anything.

[2021-04-22 17:28] #7250 closed, assigned to nobody

[2021-04-22 19:33] melloware commented on #7244
OK PR Submitted for new `dropdownAriaLabel="Show Options"` attribute with server side property default.

[2021-04-22 20:27] wal-jan commented on #7136
Reproducer [pf-7136.zip](https://github.com/primefaces/primefaces/files/6361049/pf-7136.zip)

[2021-04-23 00:26] leosj29 commented on #7144
I tried to use the properties as you mentioned above, but when submitting the form it generates error.

![Selection_586](https://user-images.githubusercontent.com/2030440/115800293-8dd70400-a397-11eb-91ac-b2c3967a59c2.png)
And when sending the form it generates
![Selection_585](https://user-images.githubusercontent.com/2030440/115800360-ae9f5980-a397-11eb-85c4-67a883b649f4.png)

The code is

[2021-04-23 00:30] leosj29 opened #7252 "Spinner: without thousands and decimals separator"
I tried to use the properties as you mentioned above, but when submitting the form it generates error.

![Selection_586](https://user-images.githubusercontent.com/2030440/115800293-8dd70400-a397-11eb-91ac-b2c3967a59c2.png)
And when sending the form it generates
![Selection_585](https://user-images.githubusercontent.com/2030440/115800360-ae9f5980-a397-11eb-85c4-67a883b649f4.png)

The code is

_Orig

[2021-04-23 11:06] melloware commented on #7252
Reproducer is working fine for me:
[pf-7252.zip](https://github.com/primefaces/primefaces/files/6364784/pf-7252.zip)

Rune `mvn clean jetty:run` and go to http://localhost:8080/primefaces-test/test.xhtml

[2021-04-23 11:07] melloware commented on #7144
ReproduReproducer is working fine for me:
[pf-7252.zip](https://github.com/primefaces/primefaces/files/6364784/pf-7252.zip)

Rune `mvn clean jetty:run` and go to http://localhost:8080/primefaces-test/test.xhtml

[2021-04-23 11:15] OBreidenbach opened #7253 "InputText and InputTextarea: Let the counter count bytes instead of characters"
**Description**
I needed the counter in the textarea to count bytes instead of characters.
I providing a PR as may be some one else find it usefull.
The countBytesAsChars feature is borrowed from the word count plugin for the ckeditor.

[2021-04-23 11:19] OBreidenbach commented on #7253
PR https://github.com/primefaces/primefaces/pull/7254

[2021-04-23 13:31] leosj29 commented on #7252
Yes, the code works very well, the problem gives if you add the property decimalSeparator = "".
I added it and it causes the mentioned error.

Add the property decimalSeparator = ""

![Selection_587](https://user-images.githubusercontent.com/2030440/115878523-e0e7a000-a405-11eb-9115-4e540487a5ec.png)

[2021-04-23 13:40] melloware commented on #7252
But why are you adding it if you want an Integer value?  You should just leave it out like my reproducer?

[2021-04-23 14:22] leosj29 commented on #7252
I think the problem is not that it is an integer value or not. The problem it is specifying that empty property. But if you think that this is how it should work, then I agree with it.

[2021-04-23 14:23] melloware commented on #7252
Yeah I guess I am trying to figure out a use case where this matters?

[2021-04-23 15:05] tuerker commented on #7222
great. many thanks again.

[2021-04-23 15:33] tuerker opened #7255 "Datatable: not visible columns within grouped columns become visible after sorting/filtering"
A column with the attribute visible="false" that is part of a grouped column becomes visible after any click on the table, e.g., sort, filter, or page navigation.

See attached repoducer. Open the page and you see three column where the first two are grouped. When you sort on the first column, the non-visible column become visible such that four columns are now shown (while the table header is kep

[2021-04-23 17:39] ybendek commented on #1308
Any progress in this one?  I have the same issue and the scrollbar is not render in apple devices, even if you try the primefaces's showcase

[2021-04-23 17:56] melloware commented on #1308
No progress on this.  this component needs a good bit of work to be mobile ready.

[2021-04-23 17:59] ybendek commented on #1308
Ouch :( Or any workaround while it's officially fixed?

[2021-04-23 18:03] melloware commented on #1308
Not that I am aware of.

[2021-04-24 12:42] melloware commented on #7255
OK this ticket is related to this one: https://github.com/primefaces/primefaces/issues/7051

Basically grouped rows don't play nicely with Column Toggler and column visibility because in your case there are 5 row headers and 3 columns and the code is trying to figure out which ones are visible but the columns don't line up 5 vs 3.

Here is a MonkeyPatch that fixes it for you right now:
[code]

[2021-04-24 13:24] melloware commented on #7252
Integration Test proving the bug: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/124b982fe0e59b489f0bcfc517097b1e2de64623

[2021-04-24 13:30] #7252 closed, assigned to melloware

[2021-04-24 13:32] melloware commented on #7252
@leosj29 Fixed for 11.0 thanks for reporting!

[2021-04-24 13:36] melloware commented on #7243
@pascalbxlx It sounds like you have a very large payload causing your broken pipes as @tandraschko mentioned.  I am going to close this ticket for now as WontFix as there is nothing for PF to do about this.  If you do have more info or want us to reopen because you have found something definitive PF can fix I will reopen!

[2021-04-24 13:36] #7243 closed, assigned to nobody

[2021-04-24 13:49] melloware commented on #7248
This is pretty tricky since PF doesn't evaluate whether the drop is allowed until AFTER you actually drop the node.
[code]

So it will be tough to preemptively tell its not allowed to drop and change the `helper` css to a different style.  At least not without some major rework of the tree drag and drop.

[2021-04-25 08:38] jepsar commented on #7213
Any suggestions for the facet name? Currently there is a `header` facet, which is used as the (table) header of custom content. I was thinking of renaming that to `tableHeader` (breaking change) and simply call the new facet `footer`. Or should I leave the `header` facet untouched and go for `suggestionsFooter`? Or simply `header` and `footer`? WDYT?

See also:
https://github.com/primefaces/primef

[2021-04-25 14:22] melloware commented on #7213
My vote is `header` and `footer` since they are commons names used throughout many components.

[2021-04-25 17:21] anuragnz commented on #7213
Yes footer facet would make more sense. @jepsar

[2021-04-25 17:47] jepsar commented on #7213
Okay, `footer` it is. However, I find it somewhat confusing as the facet will not be used to render the custom content table footer, while the `header` facet is used to render the custom content table header.

[2021-04-25 17:58] melloware commented on #7213
Hmmm now I am thinking panelFooter.

[2021-04-26 06:05] OBreidenbach commented on #7253
@melloware you assigned the issue to me and approved my PR. Is there any action, I should do with this issue?

[2021-04-26 06:43] tuerker commented on #7255
many  thanks again.

[2021-04-26 07:18] pascalbxlx commented on #7243
But indeed. Here we are migrating from WL12 to WL14 and the problem appears on WL14.. The problem does not happen on WL12

[2021-04-26 07:21] pascalbxlx commented on #7243
I will ask Oracle. We took the latest package available from Oracle. There is no pluggable mechanism but may be it could be overriding by putting a specific Mojarra in the patch path. In any case I need the support of Oracle (the installation has to be supported).

[2021-04-26 10:08] melloware commented on #7243
Yes please let us know what Oracle says and if we can help.

[2021-04-26 10:10] melloware commented on #7253
Nope just waiting for some others to review. No action on your part.

[2021-04-26 11:36] #7222 closed, assigned to melloware

[2021-04-26 11:44] #7253 closed, assigned to OBreidenbach

[2021-04-26 12:11] tandraschko commented on #7163
@melloware
can you check this example? http://localhost:8080/showcase/ui/data/datatable/group.xhtml?jfwid=99ad4

export throws a exception for me

[2021-04-26 12:12] melloware commented on #7163
Yep will investigate.

[2021-04-26 12:37] tandraschko commented on #7163
i get something like this:
[code]

PDF seems also broken

[2021-04-26 12:58] melloware commented on #7163
Yep I see the problem.  Working on a fix.

[2021-04-26 13:20] melloware commented on #7163
OK fixed and merged.  I assumed ColumnMeta always returned the ColumnMeta for the table but it is allowed to be empty if you are not using DisplayProiorty or others.  So it has to handle both cases.  Exporter is now fixed all around.

[2021-04-26 13:25] #7244 closed, assigned to melloware

[2021-04-26 13:25] #7255 closed, assigned to melloware

[2021-04-26 13:30] tandraschko commented on #7163
@melloware refactored; can you review plz?

[2021-04-26 13:49] melloware commented on #7163
Looks great and I just tested everything locally and everything is working as expected!

[2021-04-26 13:53] #7163 closed, assigned to tandraschko

[2021-04-26 14:47] tandraschko commented on #7060
MyFaces 2.3.9 released

[2021-04-26 17:40] jepsar commented on #7213
@melloware @tandraschko  Sorry.. the `header` facet is a facet of `p:column`, not of `p:autoComplete`, so `footer` it will be.

https://github.com/primefaces/primefaces/blob/4c4568fb960aa7a3018616d927a8a2218c834a54/src/main/java/org/primefaces/component/autocomplete/AutoCompleteRenderer.java#L509

Updated PR

[2021-04-27 06:17] 5hu6hamKadam commented on #2249
Just Add p-fluid class to make it's width 100%.
`<p-chips id="chips" class="p-fluid"> </p-chips>`

[2021-04-27 07:48] #7213 closed, assigned to jepsar

[2021-04-27 09:43] tuerker opened #7262 "Datatable: right-align all columns of a "numeric" datatype by default"
Is there an easy way to globally set that all datatable columns of a "numeric" datatype should be right-aligned by default?

Currently, i am adding style="float:right" to each column of a "numeric" datatype individually (and thus often leads to inconsistent layout depending whether the different developers of the project have this in mind or not)

[2021-04-27 09:49] tandraschko commented on #7262
-1 from my side to add a auto-feauture for this

[2021-04-27 09:51] stolp commented on #7262
I use a column style class for this purpose:

[code]

I am not sure an automatism is a good idea here. It would at least require an additional attribute to enable a non backward compatible behavior. What would be gained in such a case?

[2021-04-27 09:54] tandraschko commented on #7262
exactly - a styleclass in a user app is better as a new magic attribute, which is probably different in some locales and even requires some reflection work

[2021-04-27 10:01] tuerker commented on #7262
i am fully aware of the problem of backward compatibility. therefore i asked whether there is a way to globally set this property once for all tables.

[2021-04-27 11:01] tuerker commented on #7262
yes but this is not enough.

it should be done datatype-dependent, i.e., for all columns of a "numeric" type.

gain: it is not needed anymore to place style="float:right" or styleClass="columnRight" for each column individually, i.e., hundred times.

[2021-04-27 11:08] melloware commented on #2249
@5hu6hamKadam This is for PrimeFaces JSF and your post above is for PrimeNG.

[2021-04-27 11:14] melloware commented on #7262
-1

I use PrimeFlex `styleClass="p-text-right"` as you can see in the Quantity Column in this example:
https://www.primefaces.org/showcase/ui/data/dataexporter/basic.xhtml?jfwid=371f5

@tuerker Not sure how we could possibly automate this.  I really don't find it that inconvenient to configure my columns when setting up a datatable.  I think the only way you could accomplish this is to override th

[2021-04-27 11:29] tandraschko commented on #7262
this can only be implemented in one single case: when the `field` on `p:column` is used. For every other markup, we cant even identify if its number or not.
And its not worth to introduce a new attribute for one single case, which would be required for backward compatibility

[2021-04-27 11:29] #7262 closed, assigned to nobody

[2021-04-27 14:30] tuerker commented on #7262
@melloware whether using styleClass="p-text-right" or style="float-right" does not really change here anything. i actually would like to get rid of the need to add such an attribute to each numeric column. the idea could be to configure a context parameter once which tells the datatable renderer to add "float:right;" (or - more generically - the corresponding context parameter value) to the style

[2021-04-28 07:51] jepsar commented on #7213
https://github.com/primefaces/primefaces-showcase/pull/354 is still open

[2021-04-28 11:29] melloware commented on #7213
I just merged it. Thanks for the reminder.

[2021-04-28 12:00] mertsincan opened #7263 "Data table with groupRow="true" position of last row not is correct when use a p:rowExpansion"
Reported By PRO User;

[code]

And

[2021-04-28 12:01] #7263 closed, assigned to mertsincan

[2021-04-28 12:05] mertsincan commented on #7263
@sqores Please add this fix to 10.0.1 and 8.0.9 ;)

[2021-04-28 12:07] OBreidenbach opened #7264 "CommandLink: Renders title as aria-label if aria-label is not defined"
**Describe the defect**
The CommandLinkRenderer renderes the title as aria-label attribute if the aria-label attribute is not defined.
https://github.com/primefaces/primefaces/blob/c49696d66ff3216a849a6d81ccd821f553bcda2c/src/main/java/org/primefaces/component/commandlink/CommandLinkRenderer.java#L93-L98

In our application we have visible tags to indicate that the list is filtered with some prope

[2021-04-28 12:15] melloware commented on #7264
Yep please provide PR!

[2021-04-28 12:56] #7264 closed, assigned to OBreidenbach

[2021-04-28 13:15] jepsar opened #7266 "AutoComplete: Theme: Add padding to .ui-autocomplete-footer and .ui-autocomplete-empty-message"
See also https://github.com/primefaces/primefaces/pull/7258

Without custom styling message and footer look like

<img width="375" alt="Screenshot 2021-04-28 at 15 08 48" src="https://user-images.githubusercontent.com/7500178/116409213-e7c24880-a833-11eb-9bdf-7fdad47c6382.png">

<img width="373" alt="Screenshot 2021-04-28 at 15 09 16" src="https://user-images.githubusercontent.com/7500178/11640922

[2021-04-28 13:23] tandraschko commented on #7266
`ui-autocomplete-emptyMessage` doesnt fit our naming conventions? maybe better use `ui-autocomplete-emptymsg`

[2021-04-28 13:24] jepsar commented on #7266
It was already like that, but I could rename it. Has no impact on theme.

[2021-04-28 13:26] tandraschko commented on #7266
maybe you can check the naming of other style classes like this (e.g. DT)

[2021-04-28 13:29] jepsar opened #7267 "AutoComplete: change CSS class names to comply with conventions"
See https://github.com/primefaces/primefaces/issues/7266

@melloware you can assign this to me

[2021-04-28 17:34] jepsar commented on #7267
I've found an other instance: `.ui-timepicker-oneLine`.

[2021-04-28 21:40] devmsaleh opened #7269 "Carousel : Change pagination buttons style to be page numbers"
I was wondering if it's possible to change the carousel pagination buttons style to be page numbers?
something like paginationStyle='pageNumbers'

[2021-04-29 05:57] vonnai commented on #7219
@sqores,  @mertsincan, please, don't forget to add this fix to 10.0.1 ;-) Thank you.

[2021-04-29 08:07] Rapster commented on #7269
A rework of this component is planned for PF 11. Up to @mertsincan

[2021-04-29 08:53] tandraschko commented on #7267
lets align it with datatable: ui-datatable-empty-message

[2021-04-29 09:12] jepsar commented on #7267
@tandraschko done. Sorry, I didn't get what you were saying yesterday.

[2021-04-29 09:18] #7267 closed, assigned to jepsar

[2021-04-29 09:28] jepsar commented on #7266
I noticed that a padding value is set for empty message:

https://github.com/primefaces/primefaces/blob/a74d415cbdd2e85862da7af3c2ef0b9eb4c9e9c2/src/main/resources/META-INF/resources/primefaces/autocomplete/autocomplete.css#L150-L152

I could change it to match the Saga padding value and do the same for footer. Or are there great differences between different themes as it comes to padding values?

[2021-04-29 11:18] JohannesProbst opened #7271 "InputNumber: Separator broken"
**Describe the defect**
Using a dot as thousand separator (e.g. _thousandSeparator="."_) and a comma as decimal separator (e.g. _decimalSeparator=","_) on the InputNumber component, leads to a value beeing cut at the thousand separator after leaving the inputfield (e.g. change-event), if the user input value has at least 4 digits (e.g. user input is 4000 -> 4.000) and the attribute '_symbol_' is n

[2021-04-29 12:14] melloware commented on #7269
It would definitely require modification to this component.

[2021-04-29 12:26] melloware commented on #7271
Confirmed issue with Reproducer:
[pf-7271.zip](https://github.com/primefaces/primefaces/files/6398479/pf-7271.zip)

[2021-04-29 12:59] HolgerSuhr opened #7272 "PanelGrid: without <p:row> but with composite component containing <p:row> throws Exception"
A p:panelGrid without "columns=" needs to see at least one p:row directly. Otherwise it throws an exception.
If I use only composite components (with p:row inside) in this panelGrid I get this exception.

PanelGridRenderer:207 counts only p:row not p:row inside the component.

**Environment:**
 - PF Version: 10.0
 - Mojarra 2.3.9
 - Affected browsers: ALL

[2021-04-29 13:01] miedrl opened #7273 "Tree: Selection is not WCAG compliant"
**Issue Description**
Primefaces' Tree Selection component does nut fulfil the WCAG accessibility criterion [4.1.1](https://www.w3.org/WAI/WCAG21/Understanding/parsing.html) as it renders syntactically incorrect HTML code. The problems seems to be that in complex trees which include components like checkboxes the included components are rendered as 'div' elements while the tree itself as well as i

[2021-04-29 13:04] melloware commented on #7272
Duplicate of https://github.com/primefaces/primefaces/issues/3355

[2021-04-29 13:04] #7272 closed, assigned to nobody

[2021-04-29 13:14] HolgerSuhr commented on #7272
That's no duplicate. Rel. 8.0 doesn't contain this code line

`        if (i == 0) {
            throw new FacesException("PanelGrid \"" + grid.getClientId(context)
                + "\" without a 'columns' attribute expects at least one <p:row> element.");
        }
`

[2021-04-29 13:20] stolp commented on #7272
It is true that the behavior has changed from 8.0 to 10.0.0, yet IMHO it is now just enforcing a constraint that has been present all the time.

[2021-04-29 13:37] melloware commented on #7271
Here is a MonkeyPatch you can add to your project can you please try it by adding this JS your application JS file.
[code]

[2021-04-29 13:47] melloware commented on #7272
@HolgerSuhr Can you please provide a PrimeFaces Test reproducer?  [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.

[2021-04-29 13:49] melloware commented on #7272
It was originally fixed as part of this ticket: https://github.com/primefaces/primefaces/issues/6563

[2021-04-29 13:55] melloware commented on #7273
If you review my PR I think it was as easy as changing the SPAN to a DIV.  Everything is working properly.

![image](https://user-images.githubusercontent.com/4399574/116562327-0e828c80-a8d1-11eb-9e8a-24df74c6dc82.png)

[2021-04-29 14:02] HolgerSuhr commented on #7272
No, it wasn't present all the time.
Rel. 6-8.0 work perfect.
The xhtml doesn't contain a p:row but the components do. But these don't get counted.
If I insert a <p:row> in the first line after p:panelGrid, it works, because this one row was counted

[2021-04-29 14:06] matinh opened #7276 "OverlayPanel: z-index issue"
The contents of an opened `<p:overlayPanel>` should be at the top (speaking in z-dimension) and cover other contents. However, if the `<p:overlayPanel>` is used inside a `<p:tabView>`, this is not the case for `<p:commandButton> components. They cover the overlayPanel!

A picture is worth a thouthands words:
![Image of Yaktocat](https://i.imgur.com/yv52N7V.png)

To me this seems like a CSS bug, bu

[2021-04-29 14:08] HolgerSuhr commented on #7272
@melloware
You don't need a testproject.
Look at PanelGridRenderer line 207.
If *all* content gets rendered via line 198  `child.encodeAll(context);` you'll get the exception,
even if the table has 200 rows...

Ticket 6563 is a ticket to dataTable

[2021-04-29 14:17] melloware commented on #7272
Yes I know what the code is doing but its working fine for me so without a reproducer how can we see your problem.

also working fine on all Showcase examples: https://www.primefaces.org/showcase/ui/panel/panelGrid.xhtml

So I am asking, I don't understand your problem?

[2021-04-29 14:22] HolgerSuhr commented on #7272
hmm, it's so simple
I don't have any <p:row> in the xhtml of the <p:panelGrid>.
Instead I have many <x:specialComponent> which produce <p:row>
But these don't get counted of the code in PanelGridRenderer because they are not at top level.
line 198 `child.encodeAll(context);` produces <p:row> entries, but these are not counted.

[2021-04-29 14:24] melloware commented on #7276
Already fixed in 10.0.0. Try this reproducer:
[pf-7276.zip](https://github.com/primefaces/primefaces/files/6399345/pf-7276.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

Screenshot:
![image](https://user-images.githubusercontent.com/4399574/116566879-1c3a1100-a8d5-11eb-9942-0b6a682004de.png)

its working fine

[2021-04-29 14:29] melloware commented on #7276
Unless you have a PRO account to report this for 8.0 to get it in Elite release. It has already been fixed in the Community 10.0.0 so there is nothing I an do here except close the ticket and mark it ask fixed in 10.0.0

[2021-04-29 14:29] #7276 closed, assigned to nobody

[2021-04-29 14:30] melloware commented on #7272
Yep but isn't that EXACTLY ticket https://github.com/primefaces/primefaces/issues/3355 which I originally said is a duplicate.  Is that it doesn't search composites for <p:row> ????

[2021-04-29 14:30] matinh commented on #7276
Switching to PF 10 is currently no option for me.
Do you know if there was actually a fix/patch for this in PF10, or does it just work because of redesign or similar?

[2021-04-29 14:33] melloware commented on #7276
I have a feeling it works because of redesign either with this ticket: https://github.com/primefaces/primefaces/issues/6973

Or: https://github.com/primefaces/primefaces/issues/6978

[2021-04-29 14:34] matinh commented on #7276
Thanks so far. So I'm on my own :(
If I find an easy fix, I'll come back here.

[2021-04-29 14:37] melloware commented on #7276
OK cool it might be a zIndex thing where you might be able to  do it with CSS stting the overlayPanel to z-index 9999 or something.

[2021-04-29 15:43] JohannesProbst commented on #7271
Thx for the fast response @melloware - your patch is working fine 👍

[2021-04-29 15:52] #7271 closed, assigned to melloware

[2021-04-29 18:26] melloware commented on #7272
Try this...put and underendered row first `<p:row rendered="false"/>` does that work?
[code]

[2021-04-30 05:19] mertsincan opened #7277 "SelectionMode throws NullPointerException with MyFaces on DataTable"
[code]

[2021-04-30 05:19] #7277 closed, assigned to mertsincan

[2021-04-30 07:36] #7273 closed, assigned to melloware

[2021-04-30 07:37] HolgerSuhr commented on #7272
Yes, that works.

[2021-04-30 12:24] mertsincan opened #7278 "New row is not added to the same page in DataTable with paginator All"
Reported By PRO User;

[2021-04-30 12:25] #7278 closed, assigned to mertsincan

[2021-04-30 13:23] jepsar opened #7279 "FileUpload: Add dropZone attribute"
Facet content should act as the drop zone for uploading files instead of the default component DOM output

[2021-04-30 13:26] melloware commented on #7279
Want me to assign to you?

[2021-04-30 13:28] jepsar commented on #7279
Okay with me

[2021-05-01 01:54] mertsincan opened #7280 "SelectCheckboxMenu's panel misplaced in Dialog"
Reported By PRO User;

[2021-05-01 01:54] #7280 closed, assigned to mertsincan

[2021-05-01 08:17] jepsar opened #7281 "Spinner: Add horizontal buttons"
So, something like

[code]

or

[code]

[2021-05-01 08:22] jepsar opened #7282 "Spinner: Add list of allowed values"
For zooming for example you might want to allow `[ 25, 50, 75, 100, 150, 200, 400, 800 ]`

[2021-05-02 14:33] iwamun opened #7284 "FileUpload: show function in client API doesn't work for the second time"
** using client API  FileUpload can't call listener method **
Calling show function of FileUpload same as #5373

**Environment:**
 - PF Version: 10.0
 - JSF + version: Mojarra 2.2.19
 - Affected browsers: Safari Chrome may be any browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on button 'CSV Upload'
2. Click on menu item '0'
3. Chose some file
4. Repeat these steps
5. FileUplo

[2021-05-02 21:03] stolp opened #7285 "PickList: Add localization support"
**Description**
With PrimeFaces 10, localization message files are now part of the distribution. Not all components do support that.
For example, PickList shows fixed tooltip strings like 'Add',, 'Add all' etc. for the control buttons.

As a hack for localization, the following attributes are currently available in PickList: addLabel, addAllLabel, removeLabel, removeAllLabel, moveUpLabel, moveTopL

[2021-05-02 21:35] stolp commented on #7285
The following reproducer shows the localization for German language in action.

[PF-7285.zip](https://github.com/primefaces/primefaces/files/6412270/PF-7285.zip)

[2021-05-02 22:09] stolp opened #7288 "Printer: Unable to print Charts"
**Describe the defect**
When printing my page using the p:printer component, Charts objects are missing from the print output.
If I use Ctrl-P, the page is rendered correctly.

**Reproducer**
See: https://github.com/stolp/primefaces-test/tree/PF-7285

**Environment:**
 - PF Version: _10.0_
 - JSF + version: _e.g. Mojarra 2.3.14_
 - Affected browsers: _ALL_

**To Reproduce**

1. Print page via Prin

[2021-05-02 22:21] stolp opened #7289 "GitHub Defect Template: PrimeFaces and JSF versions suggested should be aligned with the issue template"
**Describe the defect**
Currently it suggests PrimeFaces 8 and Mojarra 2.2.8. The primefaces-test project usesPrimeFaces 10.0 and  Mojarra 2.2.20.

**Reproducer**
Create a defect issue.

[2021-05-03 06:49] seinecle opened #7291 "FileUpload doesn't work on mobile Chrome-based browsers (Chrome, Brave) on Android"
**Describe the defect**
FileUpload doesn't work on mobile Chrome-based browsers (Chrome, Brave) on Android

**Reproducer**
Live app can be tested here: https://nocodefunctions.com/nocodeapp-web-front-1.0/umigon/umigon.html
-> file upload works on desktop and mobile - just FIrefox
-> file upload **does not work** on mobile - Chrome and Brave browsers

**Environment:**
 - PF Version: 10.0
 - JSF + v

[2021-05-03 07:21] jepsar commented on #7285
NL:

primefaces.picklist.ADD = Voeg toe
primefaces.picklist.ADD_ALL = Voeg alles toe
primefaces.picklist.REMOVE = Verwijder
primefaces.picklist.REMOVE_ALL = Verwijder alles
primefaces.picklist.MOVE_UP = Eerste
primefaces.picklist.MOVE_TOP = Omhoog
primefaces.picklist.MOVE_DOWN = Laatste
primefaces.picklist.MOVE_BOTTOM = Omlaag

[2021-05-03 11:44] #7289 closed, assigned to nobody

[2021-05-03 11:44] melloware commented on #7289
Good call and thanks for the PR.

[2021-05-03 11:51] melloware commented on #7288
I wonder if its a bug in the JS lib or some setting we are missing?

See: https://github.com/DoersGuild/jQuery.print

[2021-05-03 12:06] melloware commented on #7291
Interesting.  I don't have Android but does it have any kind of mobile console.  Does it show any errorrs?

[2021-05-03 12:20] melloware commented on #7291
When I do my test with Desktop Chrome and putting it in Mobile "mode" it seems to work fine.  I know that is not the same thing as true mobile browser.

[2021-05-03 12:37] HolgerSuhr commented on #7272
This new exception in PanelGridRenderer:207 has really no need and no sense :-(
There are also many `<p:panelGrid` with a `<p:repeat` inside which often has nothing to repeat.
That's a normal situation, but now I get an exception.

[2021-05-03 12:57] melloware commented on #7284
Here is a reproducer it is working fine for me?
[pf-7284.zip](https://github.com/primefaces/primefaces/files/6414926/pf-7284.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2021-05-03 12:59] jepsar commented on #7291
I think I can run to my Android phone from NetBeans using debug tools.. never tried it though. I'll see if I can get it running.

[2021-05-03 13:05] melloware commented on #7272
This exception makes perfect sense see: https://github.com/primefaces/primefaces/issues/6563

[2021-05-03 13:25] #7285 closed, assigned to stolp

[2021-05-03 13:32] jepsar opened #7292 "FileUpload: Add buttonStyleClass"
To style buttons like https://www.primefaces.org/showcase/ui/button/button.xhtml

@melloware you can assign me to this as well

[2021-05-03 13:34] melloware commented on #7292
Done

[2021-05-03 13:42] tsobis commented on #7291
I have tried with my phone
Android 10
chrome 90.0.4430.91
The page provided and it works ok for me
https://nocodefunctions.com/nocodeapp-web-front-1.0/umigon/umigon.html
I uploaded an xlsx file and it works and reads the file correctly

[2021-05-03 13:44] melloware commented on #7291
Thanks for testing @tsobis !

[2021-05-03 13:54] tsobis commented on #7291
Tested also on
Android 9
chrome 79.0.3945.116
Upload works on page https://nocodefunctions.com/nocodeapp-web-front-1.0/umigon/umigon.html

[2021-05-03 14:00] HolgerSuhr commented on #7272
Did I read it correct in 6563?
For *this one* situation of
having a dataTable inside a panelGrid and don't like to insert `columns=` or `<p:row`
you inserted an exception that blows
every empty panelGrid and every panelGrid consisting of composite components?

Very strange.
It would be interesting to know the count of blowing panelGrids in the world. I can start with 257.

[2021-05-03 14:05] melloware commented on #7272
The real issue you are running into is this: https://github.com/primefaces/primefaces/issues/3355

If it searched composites and repeats for p:row's.

[2021-05-03 14:06] stolp commented on #7272
We had about 40. With a little bit of regexp-magic, they were quick to find and fix.

I always welcome a framework telling me which mistakes make so I was quite ok with this in the long run.

Bu I confess I was excited at first too ...

[2021-05-03 15:23] seinecle commented on #7291
Tried again, still not working:
Android 10
chrome 90.0.4430.91
also tested on Brave 1.23.76 built on chromium 90.0.4430.93.
Strange.

[2021-05-03 15:28] tsobis commented on #7291
Check the video, sorry for the images from the filemanager but i do not have time to remove them.
https://user-images.githubusercontent.com/10451035/116896771-3c533280-ac3d-11eb-8e23-989c794e7b7b.mp4
Maybe some problem with your phone or connection?

[2021-05-03 16:03] tsobis commented on #7291
@seinecle Perhaps the file has some sort of a problem? Can you share a file so that I can test it?

[2021-05-03 17:53] christophs78 commented on #7026
https://github.com/eclipse-ee4j/mojarra/releases/tag/2.3.15 is available

[2021-05-03 17:53] christophs78 commented on #7181
https://github.com/eclipse-ee4j/mojarra/releases/tag/2.3.15 is available

[2021-05-03 17:55] christophs78 commented on #6427
https://github.com/eclipse-ee4j/mojarra/releases/tag/2.3.15 is available

[2021-05-03 21:52] stolp commented on #7288
Maybe https://github.com/DoersGuild/jQuery.print/issues/43 is relevant here?

[2021-05-03 23:20] iwamun commented on #7284
I create environment of pf-7284.zip.
It is not working in the same way as my example.

Perhaps my English is problem.
Did you click on menu item '0' twice?
It works for the first time. but it doesn't work for the second time.

I try to reproduce in safari/chrome on Mac, and edge/firefox on Win10.
But it's not working.

[2021-05-04 00:09] melloware commented on #7284
Ok now I understand I did not click the same link twice.  I will try that.

[2021-05-04 03:32] iwamun opened #7293 "DataTable: Paginator doesn't work after filtered."
**Describe the defect**
Instance of row's bean is renewed after filtered.

**Environment:**
 - PF Version: 10.0
 - JSF + version: Mojarra 2.2.19
 - Affected browsers: Safari Chrome may be any browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Filter rows
2. Clear the filtered rows
3. Move to other pages
4. Instance of row's bean is renewed

**Expected behavior**
It doesn't reproduce on

[2021-05-04 06:13] vonnai commented on #7219
Can anybody or @cagataycivici, @tandraschko explain to me, how you assign labels to defects, please? Some tasks have label 10.0.1, the others have label elite. This bug has still label 11.0.0. So I really don't know what you are able to put in elite 10.0.1, which is the version that I'm waiting for. I have reported 3 defects for pf 10, I think that they have the same priority:

[7139](https://gith

[2021-05-04 08:04] mertsincan opened #7294 "Add Bootstrap Theme with Light and Dark mode"

[2021-05-04 08:05] #7294 closed, assigned to mertsincan

[2021-05-04 08:18] tsobis commented on #7291
I have also checked with brave 1.23.76, check the video. The upload works for me.

https://user-images.githubusercontent.com/10451035/116976881-6141b700-acca-11eb-8e00-1688021d8c51.mp4

[2021-05-04 09:32] tandraschko commented on #7219
I dont have a relation to Elite as i dont work for PrimeTek.
@mertsincan @sqores

[2021-05-04 12:05] melloware commented on #7219
@vonnai your best bet is to sign up for PrimeFaces PRO and that way you can request what goes into Elite releases in a private channel directly to primetek.  Right now these community issues its totally up to PrimeTek to decide what goes in Elite and what is a priority or not.  PRO is the only way you can "force" priority.

[2021-05-04 12:08] tandraschko commented on #6987
can anyone provide me a simple as possible primefaces-test project?

[2021-05-04 12:17] melloware commented on #7288
I just commented on that ticket.  I tried `print({globalStyles:false,timeout:1500, iframe: false});` and none of it works.  It seems the plugin can't print `canvas` elements which is what ChartsJS is.

Charts can be exported as images but not sure if that does you any good or not? http://localhost:8080/showcase/ui/chartjs/export.xhtml

[2021-05-04 12:23] melloware commented on #7288
I think this method is not detecting `canvas` correctly...
https://github.com/DoersGuild/jQuery.print/blob/master/jQuery.print.js#L141

[2021-05-04 12:29] melloware commented on #7288
OK here is the real problem.  https://stackoverflow.com/questions/41239428/jquery-clone-does-not-clone-content-of-canvas

[2021-05-04 12:31] stolp commented on #7288
Yes, canvas is what I saw in DoersGuild/jQuery.print#43 as well.

Sadly, exporting images does not help my use case.

All I want is to present the user a button to print the whole page as it is (the content is already optimized for printout).

I do not need the feature of the printer component to print parts of the page at all.

Is there is an easier way to do this via JavaScript? Pressing Ctrl-P

[2021-05-04 12:32] vonnai commented on #7219
@melloware how dangerous is it to use the actual version with all fixes from 10.0.0 which is in the repo now, or should I make fixes on my own? I don't see any benefits of the elite subscription. Many thanks for the previous replies guys.

[2021-05-04 12:33] stolp commented on #7288
@melloware You are just too fast ... :)

[2021-05-04 12:35] melloware commented on #7288
So I think we need to patch that printer.js with copying the canvas as well. :)

[2021-05-04 12:40] melloware commented on #7219
I would say its fairly safe I do it once in a while for my client and put it in my own Nexus private repo if I really need a fix that is not coming for a while like in 11.0.  I would say use at your own risk but I am fairly confident what is in master is always pretty solid especially now that we have more integration test coverage.

[2021-05-04 12:42] #7075 closed, assigned to melloware

[2021-05-04 12:47] tandraschko opened #7295 "Dynamic Content Streaming: allow direct writing to response instead of buffering"
[code]

[2021-05-04 12:50] #7295 closed, assigned to tandraschko

[2021-05-04 12:50] #7233 closed, assigned to neXus1987

[2021-05-04 12:52] melloware commented on #6987
@tandraschko here you go...
[pf-6987.zip](https://github.com/primefaces/primefaces/files/6421169/pf-6987.zip)

[2021-05-04 12:58] melloware commented on #7284
Confirmed this is a defect.

[2021-05-04 13:02] melloware commented on #7293
Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2021-05-04 13:08] iwamun commented on #7293
ok. I understood.I'll provide an example using this project.

[2021-05-04 13:13] melloware commented on #7284
OK I fixed it. Try this reproducer...
[pf-7284-fixed.zip](https://github.com/primefaces/primefaces/files/6421261/pf-7284-fixed.zip)

You need to `update="@form"` not `update="growl"`

[2021-05-04 13:15] melloware commented on #7284
Actually `update="@this growl"` is even better.  The fileUpload itself needs to be updated after to reset it.

[2021-05-04 13:29] melloware commented on #7288
Maybe we should upgrade to Print.js it seems to do canvas... https://github.com/crabbly/Print.js/issues/267

[2021-05-04 14:09] tandraschko commented on #6987
fixed it now by removing UIComponent from Meta
they were transient and not correctly initialized, also UIComponent shouldnt be used actually, therefore we have invokeOnColumn

[2021-05-04 14:09] #6987 closed, assigned to tandraschko

[2021-05-04 14:28] melloware commented on #7284
Going to close this issue for now that it has been resolved and I don't think there is anything we should hack into the code for this specific scenario.

[2021-05-04 14:34] tandraschko commented on #7284
why should a update be required?

[2021-05-04 14:53] melloware commented on #7284
It looks like the FileUpload component needs to be reset when called like this.  @Rapster added this client side show method which I have never used but it looks like after you use it it puts the FileUpload in a state where it needs to be reset.  I can reopen if you want?

[2021-05-04 14:54] tandraschko commented on #7284
yeah please
i think we could reset automatically somehow? update=@this is just a hack IMO

[2021-05-04 15:01] tandraschko commented on #6987
@mertsincan @sqores good candidate for 10.0.1

[2021-05-04 15:02] melloware commented on #7284
I wonder if its this line in 3-fileupload.js...
[code]

Its not adding itself to the update list.

[2021-05-04 15:03] tandraschko commented on #7284
why updating? couldnt we do this on JS side? updating is always just a hack

[2021-05-04 15:06] melloware commented on #7284
I guess all the FileUpload client side show is doing is this...
[code]
But after uploading the File the component is in a bad state I am not sure why or how this is different from a regular file upload.

[2021-05-04 15:07] stolp commented on #6987
10.0.1 is already released it seems ...

[2021-05-04 15:32] melloware commented on #7284
Let me see if I can step through the debugger and figure out where this goes wrong.

[2021-05-04 20:58] stolp commented on #7288
I cannot really judge if it is the better alternative, but it seems to be better maintained at the moment.

How about incubating this in pimefaces-extensions? It is less of a risk in breaking anything and gets feedback earlier this way.

[2021-05-04 21:59] iwamun commented on #7284
Hi! @melloware.
I conrirmed your fixed program. I should try to find some hack as you did.

[2021-05-04 23:32] iwamun commented on #7293
@melloware
Here is an example. Thank you for your help.
[pf-7293.zip](https://github.com/primefaces/primefaces/files/6424416/pf-7293.zip)

[2021-05-05 11:25] melloware commented on #7293
OK attached is my fixed version:
[pf-7293-fixed.zip](https://github.com/primefaces/primefaces/files/6426704/pf-7293-fixed.zip)

Your `TestBean` was not `Serializable` and since you are using a `@ViewScoped` bean all beans must be Serializable for it to hold them in the filtered list and then restore them properly.

[2021-05-05 11:25] #7293 closed, assigned to nobody

[2021-05-05 11:26] melloware commented on #7291
@seinecle unless you can provide us with a reproducible case on why this doesn't work it appears to be working fine for others and I will close this ticket.

[2021-05-05 11:27] melloware commented on #7288
Not a bad idea.  Let me do that.

[2021-05-05 12:26] iwamun commented on #7293
I confirm your fixed version. Thanks for your help again.
Can I ask a question?
Why does it work well on primefaces 8.0?
Could you tell me what is the different if you don't mind.

[2021-05-05 12:35] melloware commented on #7293
There is no way this should have worked on 8.0 if you did not have Serializable it should have worked the same way.

[2021-05-05 12:53] iwamun commented on #7293
My example pf-7293.zip works on 8.0.
Because I found these difference when our service is going to migrate from 8 to 10.
You can change the environment of 10 to 8 with modifing 2 files, pom.xml and web.xml.
[code]
[code]

[2021-05-05 13:52] melloware commented on #7293
It should not have.  All ViewScoped beans must be Serializable as part of the JSF spec (not PrimeFaces Related). So your old code was wrong either way.  Why it worked before I am not sure and I am not going to research.

[2021-05-05 14:28] matinh commented on #7276
It's definitely not a (simple) z-index thing. Changing z-index has no effect unless I set the z-index of the problematic button to -1!

It seems the problem is triggered by a combination of various style-attributes.
I could work around the problem when I defined the following CSS rules:

[code]
Note, that this might have unwanted side-effects. I didn't test this extensively.

Unfortunately this ch

[2021-05-05 14:34] iwamun commented on #7293
Thanks for your reply. I understand what you say,  my code is wrong.
But I recognize that the instance of bean maintains in the same view according the JSF spec.
In my case the view doesn't move so that the instance should remains without implementing serializable.
Sorry if I misunderstand.

[2021-05-05 14:55] seinecle commented on #7291
indeed it is a case of "it does work just for me". Thanks for taking the time to investigate. I'll reopen if I can provide a clear cut case.

[2021-05-05 14:55] #7291 closed, assigned to nobody

[2021-05-05 16:22] melloware commented on #7276
Thanks @matinh .  At least we know its fixed in 10.0 😄

[2021-05-05 16:24] melloware commented on #7293
Yes I don't believe that is how ViewScoped works.

[2021-05-05 16:27] melloware commented on #7293
Here you go:
https://stackoverflow.com/a/10508127/502366

https://stackoverflow.com/a/18999562/502366

[2021-05-05 20:23] BalusC opened #7296 "SummaryRow/HeaderRow: conflict with PanelGridBodyColumnRenderer"
**Describe the defect**
When `<p:dataTable><p:summaryRow><p:column>` is nested in `<p:panelGrid><p:row><p:column>` then the `ColumnRenderer` of `<p:summaryRow><p:column>` incorrectly delegates to `PanelGridBodyColumnRenderer` as "helper renderer", causing a rendering of a double-nested `<td>` element.

**Reproducer**
[code]

**Environment:**
 - PF Version: 8.0
 - JSF + version: Mojarra 2.3.15
 - A

[2021-05-05 20:42] melloware commented on #7296
Thanks for the debug!   Will fix.

[2021-05-06 03:24] iwamun commented on #7293
I visited their sites.
This is why my view scoped bean are fortunately stored by Mojarra.
Thank you for your information.

[2021-05-06 11:20] melloware commented on #7296
@BalusC Attached is a reproducer. If you run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

[pf-7296.zip](https://github.com/primefaces/primefaces/files/6433994/pf-7296.zip)

If I use PrimeFaces 8.0 its broken but if I switch the pom.xml to 10.0.0 its working fine.  So I believe this has already been fixed for 10.0.0.

But looking through the changes for 10

[2021-05-06 11:53] BalusC commented on #7296
Not sure how it looks for you, but entire summary row doesn't show up in first place.
![image](https://user-images.githubusercontent.com/173372/117294019-23ff3580-ae40-11eb-8278-6358904c1203.png)

[2021-05-06 12:04] christophs78 commented on #7149
IMO this one did not made it into 10.0.1. Could it be added with 10.0.2?

[2021-05-06 12:22] melloware commented on #7296
HA yeah you are right.  Yep looking into it.

[2021-05-06 12:23] BalusC commented on #7296
Looks like things have incompatibly changed in `<p:dataTable sortBy>`. Now it expects a concrete `SortMeta` instance or a collection thereof instead of an EL expression referring the column property `sortBy="#{item.group}"`, or a plain vanilla String `sortBy="group"` or even map in EL `sortBy="#{{'field':'group','order':'ASCENDING'}}"`. None of them work any more. The `UITable#updateSortByWithUser

[2021-05-06 12:36] melloware commented on #7296
I got it. I used the showcase and followed your example and got it to break.
![image](https://user-images.githubusercontent.com/4399574/117299052-177ddb80-ae46-11eb-8ef6-317a3f053462.png)

[2021-05-06 12:37] BalusC commented on #7296
Was about to report the same after sorting out the sortBy in local project :)

![image](https://user-images.githubusercontent.com/173372/117299239-4dbb5b00-ae46-11eb-89b3-7207da075709.png)

[2021-05-06 12:40] melloware commented on #7296
OK i submitted a draft PR with your fix but its still doesn't fix my issue.  Can you review to make sure it is what you were expecting?

https://github.com/primefaces/primefaces/pull/7297/files

[2021-05-06 13:12] melloware commented on #7296
OK I updated my PR.  I had to do the same fix in HeaderRow if you are using both a Summary Row and and Header Row.  Now its all working.

[2021-05-06 14:52] berkson opened #7298 "SelectOneMenu: Not Working Correctly on Mobile Browsers"
SelectOneMenu  and the mobile keyboard close when we select the component in his advanced mode.

    I was using primefaces 8.0 and the SelectOneMenu advanced (includes a field to search for a string) was working verywell in all gadgets, but after upgrade to primefaces 10 the component doesn't work correctly at mobiles.
    After select the component the navigator calls the mobile keyboard, from t

[2021-05-06 14:55] melloware commented on #7298
Already fixed and workaround provided in this ticket: https://github.com/primefaces/primefaces/issues/7075

Just add this MonkeyPatch to your application:
[code]

[2021-05-06 14:55] #7298 closed, assigned to nobody

[2021-05-06 16:06] wlhUser opened #7299 "DataTable: Column widths get corrupted"
**Describe the defect**
In a dataTable with resizable columns, the column width is OK when the table is displayed initially, but gets messed up (made much too small) when refreshing the table one or two times via ajax.

**Environment:**
 - PF Version: 10.0.1
 - JSF + version:  Mojarra 2.3
 - Affected browsers:  ALL

**To Reproduce**

I do not have an example to reproduce, but I debugged the code,

[2021-05-06 18:29] BalusC commented on #7296
LGTM but I'm wondering if this doesn't warrant some sort of integration test?

[2021-05-06 18:32] melloware commented on #7296
Yep I need to add a new test here: https://github.com/primefaces-extensions/primefaces-integration-tests

I guess the trick will be how to detected is rendered "incorrecctly" vs "correctly" with Selenium.

[2021-05-06 18:33] BalusC commented on #7296
Oh they are there. Yes I see, thanks!

[2021-05-06 18:35] melloware commented on #7296
Yeah we have about 300+ tests so far and growing as we add scenarios.  Runs against Mojarra and Myfaces.  And against Firefox, Chrome, and Safari.

[2021-05-06 18:52] melloware commented on #7299
I see what you mean but trying to figure out how the word "null" gets in there.  Its only set in 1 place in the code when it gets the values from the AJAX call on resize. so its possible the JavaScript has null which then gets converted to "null".

[2021-05-06 19:26] tandraschko commented on #7299
Please provide a reproducer.

[2021-05-07 07:59] wlhUser commented on #7299
Maybe a stacktrace hepls to reproduce.
In the method 'decodeColumnResizeState' the variable 'columnResizeStateParam' gets filled in the very first line, and this contains kind of 'null' values per column.

![grafik](https://user-images.githubusercontent.com/47218021/117416823-0e5e3e80-af1a-11eb-9188-2916dc9c95ff.png)
![grafik](https://user-images.githubusercontent.com/47218021/117416993-35b50b80-a

[2021-05-07 08:35] tandraschko commented on #7299
In think its related to Client Side. We need a reproducer

[2021-05-07 10:49] jthalmai opened #7300 "ChartsJS: Memory leak after ajax updates"
**Describe the defect**
On our page we have multiple _p:barChart_ components that are updated with ajax when there is new data available. After a while an out of memory error occurs in the browser.
Some investigation showed that the JavaScript object _Chart_ of the _ChartJS_ library keeps all the old chart instances and after an update also has the new ones. So this probably also affects other typ

[2021-05-07 11:31] melloware commented on #7300
This is probably ALL charts I agree.  Can you add this MonkeyPatch to your application.js and let me know if it cleans up the leak?
[code]

[2021-05-07 11:34] jepsar commented on #7279
Okay.. attribute it will be. That would also allow you to use a text area as drop zone.

[2021-05-07 11:34] tandraschko commented on #7300
sorry, i was faster :P
could someone test?

[2021-05-07 11:35] melloware commented on #7300
HAHAH yes I was just about to submit a PR.  Thanks for beating me to it!

[2021-05-07 11:44] melloware commented on #7299
Agreed I can see multiple places in the Client Side JS that need to defend against NULL.  @wlhUser can you even post just your Datatable settings for us to see?

[2021-05-07 12:45] oacuna commented on #2147
Hello everybody! The same localization problem for the 'inputNumber' component using the one corresponding to Paraguay (es_PY), where the dot (.) is the thousands separator and the comma (,) is the decimal separator. The currency symbol is G (guaraní).

I'm trying to write a value: G 350.000
The application turns it to: G 350 (error)

This is corrected if:
a) I use the property 'decimalPlaces'> 0

[2021-05-07 12:48] melloware commented on #2147
@oacuna can you see this ticket and see if it fixes your issue? https://github.com/primefaces/primefaces/issues/7271

[2021-05-07 13:21] wlhUser commented on #7299
Hi melloware,
I think its not the client side code, but the server side. In fact the i think it is: **UITable.getColumnsWidthForClientSide**
The data generated there is being sent to the client side as **<tableClientId>_resizableColumnState**, and from there it gets returned to the server in the next request.
See **DataTableRenderer.java line 346**
`  if (resizable) {
            encodeStateHolder

[2021-05-07 13:52] melloware commented on #7299
hmm but it should be reproducible outside of your "complicated" scenario.  If you create a small sample using those same settings does it happen?

[2021-05-07 14:03] oacuna commented on #2147
Thanks for the prompt response @melloware!

Unfortunately the suggested solution does not work (totally), because it keeps cutting units of a million (or greater). For example:

Case 1)
If I write the value: G 350.000
Correctly written: G 350.000 (corrected)

Case 2)
If I write the value: G 3.500.000
Incorrectly write: G 3.500 (error)

Case 3)
If I write the value: G 3.500.000.000
Correctly writte

[2021-05-07 14:03] wlhUser commented on #7299
Will try to make a small  example

[2021-05-07 14:05] melloware commented on #2147
Can you paste your exact `<p:inputNumber` here so I can debug with your exact settings?

[2021-05-07 14:21] jthalmai commented on #7300
The MonkeyPatch works for us. Only the current instance is kept.

[2021-05-07 14:22] melloware commented on #7300
Nice!  OK this is fixed for 11.0.

[2021-05-07 14:22] #7300 closed, assigned to tandraschko

[2021-05-07 14:26] oacuna commented on #2147
Yes of course @melloware  👍

<p:inputNumber decimalPlaces="0" decimalSeparator="," thousandSeparator="." dir="rtl" id="ecMonto" emptyValue="zero" required="true" requiredMessage="Debe especificar el monto del cheque" value="#{myBean.monto}" valueChangeListener="#{myBean.processValueChange}">
        <p:ajax process="@this" update="ecMontoPagar"/>
</p:inputNumber>

If you need something else, pleas

[2021-05-07 14:46] stolp commented on #7300
I am assuming that it is safe to use this monkeypatch with PrimeFaces 8 as well?

[2021-05-07 14:47] melloware commented on #7300
Yep safe for 8.0 as the widget itself has not changed.

[2021-05-07 15:18] melloware commented on #7271
Updated the MonkeyPatch above from replace to replaceAll to catch multiple seaparators.

[2021-05-07 15:19] melloware commented on #2147
OK I think I fixed it please try this instead. It has to be `replaceAll` and not `replace`
[code]

[2021-05-07 15:28] melloware commented on #7288
Just an update on this ticket.  This is fixed by a combination of PrintJS which handle's `canvas` objects and by ChartsJS 3.X while ChartsJS 2.9.3 when using responsive makes it print out 900+ pages :)

[2021-05-07 16:20] wlhUser commented on #7299
Attached you find a zip file containing a xhtml file and the corresponding Bean. To have the same layout as me, I've attached the theme as well.

When opening the page the first time it looks like this:
![grafik](https://user-images.githubusercontent.com/47218021/117479115-383a5400-af60-11eb-95f6-2cc38399a18c.png)

Now press the **Refresh** button **twice**.
After the first press, everything is OK

[2021-05-07 16:52] melloware commented on #7299
Excellent thank you! let me investigate.

[2021-05-07 18:16] melloware commented on #7299
Attached is my reproducer I can't get your sample code to work.
[pf-7299.zip](https://github.com/primefaces/primefaces/files/6443553/pf-7299.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2021-05-07 18:51] oacuna commented on #2147
Excelent job @melloware 👍 💯 now my application it's writing/showing correctly the numbers (thousands and decimals).

Thanks a lot and greetings from Paraguay!

[2021-05-08 08:52] jepsar commented on #7292
Why don't we do

[code]

instead of

[code]

and just take the supported properties from the child buttons? This will save a lot of attributes.

[2021-05-08 13:12] cocorossello opened #7302 "JS minify broken due to #7173 (a typo I guess)"
**Describe the defect**
I was trying to build the project with js minification and I found it's broken

**Reproducer**
mvn package -Prelease

**Environment:**
Master branch complation

**To Reproduce**
Clone and execute:
mvn clean install -Prelease

**Expected behavior**
yuicompressor should work

[2021-05-08 13:13] cocorossello commented on #7302
https://github.com/primefaces/primefaces/pull/7303

[2021-05-08 14:56] melloware commented on #7292
I think its because FileUpload has 3 or 4 different modes and buttons don't make sense for all modes which is why they did it this way.

[2021-05-08 14:58] melloware commented on #7302
Thanks for the PR!

[2021-05-08 14:58] #7302 closed, assigned to cocorossello

[2021-05-08 15:19] melloware commented on #7075
I made a small cut and paste issue on this which was fixed with: https://github.com/primefaces/primefaces/issues/7302

[2021-05-08 16:53] melloware commented on #7299
OK I as able to reproduce it!
[pf-7299.zip](https://github.com/primefaces/primefaces/files/6446214/pf-7299.zip)

And yep look at what the client is sending on that second call..
[code]

[2021-05-08 17:10] melloware commented on #7299
You were definitely right.  I submitted a 1 line PR fix.

[2021-05-09 16:58] jepsar commented on #7282
I think this does not make much sense, as you can input values in the input field. At least not without removing the input field and display the selected value statically.

[2021-05-10 06:35] #7299 closed, assigned to melloware

[2021-05-10 08:04] da-z commented on #2379
Does not work for selectManyMenu unfortunatelly.

[2021-05-10 10:53] wlhUser commented on #7299
Thanks a lot for the very quick fix.

[2021-05-10 11:43] melloware commented on #7299
@wlhUser Thanks for reporting this and providing me with the example to fix it.  I would have had a tough time reproducing it without it!

[2021-05-10 11:47] melloware commented on #2379
@da-z Then please open a new ticker for SelectManyMenu.

[2021-05-10 11:52] melloware commented on #7282
I agree. Do you want me to close it?  For this type I would use a SelectOneMenu or something if it truly only had these many values.

[2021-05-10 12:11] jepsar commented on #7282
I'm not sure yet. I think it's still useful to be able to +/- through select items, but I'm not sure if this should be spinner or a selectOneMenu variant. I think spinner make most sense, but that will require not rendering the input type=text, but a hidden input instead.

[2021-05-10 12:59] cocorossello opened #7307 "Exporter: Currency handle infinite numbers"
**Describe the defect**
Exporter is broken if column contains value similar to 74E221

**Reproducer**
[code]

**Environment:**
 - PF Version: Latest build
 - JSF + version: MyFaces 2.3.5-NEXT
 - Affected browsers: ALL

**To Reproduce**
Steps to reproduce the behavior:
Click on the exporter button

**Expected behavior**
Maybe CurrencyValidator should do some validation before or try not to parse In

[2021-05-10 13:01] melloware commented on #7307
Yep let me look at this one.

[2021-05-10 13:02] cocorossello commented on #7307
Wow, so fast. I've attached a PR, it's just an idea...

[2021-05-10 13:05] melloware commented on #7307
@cocorossello I see what you did can you submit the PR please. It looks pretty good to me.

[2021-05-10 13:15] jepsar commented on #7292
I was not implying to render the child buttons as is, I just wanted to read their properties. Will be less coder friendly though.

[2021-05-10 14:01] #7307 closed, assigned to cocorossello

[2021-05-10 14:15] christophs78 commented on #7296
Same opinion. In an ideal world we would add for almost each issue we fix at least one integration test. Even when writing integration-test(s) takes more time than the fix itself. But - maybe not unexpected - it´s hard to convince all contributors to do this. Still a long way to go until PrimeFaces has good test coverage.
But as @melloware already mentioned: One year ago we had no integration test

[2021-05-10 15:14] carlbradwell17 opened #7309 "Avatar : Gravatar Insecure Content Warning"
**Describe the defect**
When including p:avatar with the Gravatar options, an Insecure Content warning is displayed in the browser.
This is due to AvatarRenderer loading the image via HTTP rather than HTTPS:
` private static final String GRAVATAR_URL = "http://www.gravatar.com/avatar/";`

**Environment:**
 - PF Version: 10.0.0
 - JSF + version: Mojarra 2.2.20
 - Affected browsers: ALL

**To Reprod

[2021-05-10 15:16] melloware commented on #7309
I wonder if we should just use HTTPS always?

[2021-05-10 15:24] melloware commented on #7309
I just tested it and HTTPS works fine for localhost and HTTP so this should be the default.

[2021-05-10 15:27] #7309 closed, assigned to melloware

[2021-05-10 21:16] stolp opened #7311 "ToggleSwich: Support switching value when clicking on an assigned outputLabel"
**Description**
`p:toggleSwitch` does not behave like `p:selectBooleanCheckBox` when activated by clicking on an `p:outputLabel ` with a `for ` attribute set to the id of the ToggleSwitch.

**Describe the solution you would like**
ToggleSwitch should change its value like selectBooleanCheckBox  does when a user clicks on the assigned label.

**Additional context**
Add any other context or screensh

[2021-05-11 11:42] melloware commented on #7311
Ahh I see SelectBooleanCheckbox is not attaching to an external `p:outputLabel` its using its own built in `label` and attaching an onClick to it.

See: https://www.primefaces.org/showcase/ui/input/booleanCheckbox.xhtml

I wonder if there are any PF components that actually allow `p:outputLabel` to be the trigger?

[2021-05-11 11:48] melloware commented on #7311
This works though..
[code]

[2021-05-11 11:49] tandraschko commented on #7311
i think its native HTML, that it triggers focus of the attached input.

[2021-05-11 11:49] stolp commented on #7311
Well, p:selectBooleanCheckbox does - I use this all the time. Same goes for p:inputText, p:selectCheckBox etc. (This activates the field).

I think this is basic HTML functionality (label -> input).

[2021-05-11 11:53] stolp commented on #7311
What puzzles me, is that toggleswitch is sharing almost the same implementation with seletBoleanCheckbox when it comes to HTML.

I tried to spot differences in the source, but failed to identify them.

[2021-05-11 11:57] melloware commented on #7311
OK yeah these components do look almost the same.  They both use a hidden input to track the checkbox so i would expect they would work the same?

[2021-05-11 12:00] stolp commented on #7311
That was my assumption when bringing that up.

I can confirm that the workaround is working. Thanks for that!

[2021-05-11 12:21] melloware commented on #7311
OK I am going to align these components more closely as they are different but should be more like each other. I will see i that fixes this issue.

[2021-05-11 20:40] oacuna commented on #4682
Hello everybody!! Unfortunately in PrimeFaces 10.0.0 you still cannot select one of the options, by pressing the initial letter. Please if you could help me. Thanks!

[2021-05-11 20:44] melloware commented on #4682
Works fine here: https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml

Click on Grouping example and press "g" it will take you to German.

[2021-05-11 20:52] oacuna commented on #4682
@melloware in the same showcase page, could you try it with the next component? I think when the <p:selectOneMenu> has <f:selectItems value="#{myBean.selectListValues}"/> the error occurs.. only when you clic it once, just then, it can filter/select one option by the first letter.

[2021-05-11 20:56] oacuna commented on #4682
@melloware for those <p:selectOneMenu>, also with <f:selectItems value.../> but with colums specified as <p:column .../> etc., then it can filter/select one option by the first letter. In my project and i the same page (the component with label "Advance"), works as i describe here.

You are rigth, only if you click first then it will filter the list.. but, is this correct? the user say that wasen'

[2021-05-11 23:06] andrew-simmons opened #7313 "SelectOneMenu: PF10 Parse Error in Dialog Framework Page"
**Describe the defect**
When opening a Dialog Framework page in PrimeFaces 10, a Parse Error occurs due to use of non-breaking space entities in a selectOneMenu.

Note when similar markup is used in normally loaded pages, this issue does not occur. It may be worthwhile to replace usages of `&nbsp;` with `&#160;`.

**Environment:**
 - PF Version: _10.0_ (parse error), _8.0.2_ (renders without error

[2021-05-12 08:45] tandraschko opened #7314 "ClientWindow: decode first before add it to ExternalContext"
Otherwise `@PreDestroy` of `@ClientWindowScoped` beans will be broken in JSF 4

[2021-05-12 08:50] #7314 closed, assigned to tandraschko

[2021-05-12 10:54] dgoicocheta opened #7315 "inputNumber: bad conversion on focus lost when decimalSeparator="," and thousandSeparator=".""
**Describe the defect**
The inputNumber do a bad conversion on focus lost when decimalSeparator=","  and thousandSeparator="."  the number don't have decimals and only have one thousand separator

(Better explain above with examples)

**Environment:**
 - PF Version:  10.0
 - JSF + version: ALL
 - Affected browsers:  ALL

**To Reproduce**
Change the default locale in faces-config to es_ES (or one l

[2021-05-12 11:20] melloware commented on #7315
Already fixed https://github.com/primefaces/primefaces/issues/7271

Workaround is provided in that ticket.

[2021-05-12 11:20] #7315 closed, assigned to nobody

[2021-05-12 11:31] melloware commented on #7313
@andrew-simmons Can you please create a reproducer using PrimeFaces Test so I can debug [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.

You can just attach the zip file of the just the /src folder and pom.xml no need to include target.

[2021-05-13 12:03] melloware commented on #4682
@oacuna Yes if you have a "filter" then you are using the filter to filter items the first letter pressing does not apply.  It only applies when using a normal SelectOneMenu just like an HTML5 Select box.

[2021-05-13 14:26] melloware commented on #7313
@andrew-simmons I can't reproduce.  Attached is my reproducer
[pf-7313.zip](https://github.com/primefaces/primefaces/files/6473045/pf-7313.zip)

Run `mvn clean jetty:run -Pmojarra23` and navigate to http://localhost:8080/primefaces-test/test.xhtml

Can you see if I am doing something different than you?

[2021-05-13 23:51] #7311 closed, assigned to melloware

[2021-05-13 23:52] #7296 closed, assigned to melloware

[2021-05-14 08:18] kr1stjans opened #7316 "FullAjaxExceptionHandler: NoSuchElementException"
**Describe the defect**
I very rarely receive FullAjaxExceptionHandler with NoSuchElementException in LinkedList.pop inside stopNamingContainer during the remoteCommand execution. I have multiple components called widgets and I load the content of each one asynchronously with remoteCommand.

**Reproducer**
I couldn't replicate it in a simple repo yet.

**Environment:**
 - PF Version: _6.1_
 - JSF

[2021-05-14 08:22] tandraschko commented on #7316
we cant help you without a reproducer (primefaces-test)
also i dont think this is a PF bug, looks like a mojarra issue.

[2021-05-14 10:42] kr1stjans commented on #7316
Thanks for the pointer. The problem seems to be a race condition in com.sun.faces.facelets.tag.jsf.IterationIdManager#_getStackOfTrackedIds.

[code]

Multiple requests use the same context and consequently the same stack of _STACK_OF_TRACKED_IDS. If the stack is null, then two simultaneous requests both create new stack and add element to it, but the actual stack will have only one element, becaus

[2021-05-14 10:44] #7316 closed, assigned to nobody

[2021-05-14 11:24] AlexChaplygin opened #7317 "DataTable+ RowToggler + Column selectionMode=multiple+ RowExpansion + TextArea : can't use space in textArea"
**I have dataTable**

`
<p:dataTable widgetVar="..." id="..." value="#{...}"
   reflow="true" styleClass="..."
   sortBy="#{...}" sortOrder="descending" rowIndexVar="rowIndex"
   var="..."
   paginator="true" rows="100" paginatorPosition="bottom"
   paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink}

[2021-05-14 11:24] tandraschko commented on #7316
could analysis! You can always try MyFaces btw ;)

[2021-05-14 11:28] wal-jan commented on #7313
Interesting issue. Here's a reproducer

Run `mvn clean jetty:run`, navigate to [http://localhost:8080/primefaces-test/test.xhtml](http://localhost:8080/primefaces-test/test.xhtml) and click on button "Show dynamic dialog"

The dialog is send to the browser as XML (not HTML). In fact the dynamic dialog isn't even neccessary, just put the `<p:selectOneMenu ...` and `<f:view contentType="application/

[2021-05-14 11:32] tandraschko commented on #7313
same on MyFaces?

sorry, i dont have time to try the reproducer but im not sure about the fix
i think this should be escaped by the JSF impl probably

[2021-05-14 12:31] wal-jan commented on #7313
Same on Myfaces!
But my PR does not work, please ignore.

[2021-05-14 13:08] melloware commented on #7317
if this is for 6.2 we won't be fixing it as its more than 2 major versions behind.  We would need a reproducer showing its still a problem in PF10.

Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2021-05-14 13:11] melloware commented on #7313
I guess the question is why do you do this? `<f:view contentType="application/xhtml+xml>` ??

[2021-05-14 15:11] andrew-simmons commented on #7313
Haven't had time to dig into this. Will work on it today.

[2021-05-14 15:32] JulyJuli opened #7320 "ERROR Error: Expecting instance of DOM Element Component: Title"
I try to use paginator dropdown in the table. On element click I receive the next error.
![image](https://user-images.githubusercontent.com/34139003/118293815-bcea1c80-b4e2-11eb-8edf-311a20c16fde.png)

![image](https://user-images.githubusercontent.com/34139003/118293837-c2dffd80-b4e2-11eb-9bfb-305234762ad3.png)

I tried to debug paginator example on [Stackbiz](https://stackblitz.com/edit/primeng-

[2021-05-14 15:38] tandraschko commented on #7320
Please use the PrimeNG not PrimeFaces issuetracker

[2021-05-14 15:38] #7320 closed, assigned to nobody

[2021-05-14 19:44] #6812 closed, assigned to christophs78

[2021-05-14 20:10] andrew-simmons commented on #7313
Made some changes, but no luck causing the error with [pf-7313.zip](https://github.com/primefaces/primefaces/files/6480978/pf-7313.zip).

Could anything cause what PrimeFaces / Mojarra generates to be parsed a second time?

[2021-05-14 23:55] melloware commented on #7313
Not that I am aware of. Was hoping you could reproduce so I can see the issue

[2021-05-15 07:29] jepsar commented on #7292
Added 3 attributes. (See PR).

[2021-05-16 00:48] #7208 closed, assigned to Rapster

[2021-05-16 13:55] melloware commented on #7313
I think this has something to do with how the Dialog Framework is opening the page and what is getting wrapped in CDATA or not.  Very strange.

[2021-05-16 15:13] melloware commented on #7288
Now that we have upgraded to Charts 3.2 for PF11 I updated the Printer component and created a showcase example and now Charts are printing correctly.

[2021-05-16 15:19] melloware opened #7323 "Input Widgets: Support enable() and disable() widget methods"
**Description**
I think all Input type widgets should support a client side `enable()` and `disable()` methods.  This not only makes selenium testing easier it also makes the components more scriptable.  I only discovered this while using `p:password` and decided we should review all input ones and add these widget convenience methods.

[2021-05-17 21:50] juliosmax commented on #2055
this issue is happening now in primefaces 10 , with p:media , any workaround?

[2021-05-18 09:31] #7292 closed, assigned to jepsar

[2021-05-18 09:40] tuerker opened #7324 "Datatable: Exporter issue with NULL DisplayPriority"
@melloware with the revision 572eaeee2c75fa901fb450c503b88d5912aa1ff6 from April 22, 17:39 the datatable exporter is not working anymore. the following NPE is thrown:

[code]

i hope that you have an idea what has been broken here. many thanks in advance for fixing.

[2021-05-18 09:58] MatthiasPischka opened #7325 "DataTable/TreeTable: Global Filter not preserved by MultiViewState"
**Describe the defect**
As discussed earlier in the primefaces forum (https://forum.primefaces.org/viewtopic.php?f=3&t=66857): When i am using the globalFilter IntputField in combination with the MultiViewState, the table entries are still filtered after revisiting the same site but the value (search keywords) of the globalFilter InputField is resettet.

**Reproducer**
Visit the PrimeFaces Showcas

[2021-05-18 11:45] melloware commented on #7324
@tuerker Are you using the latest version I believe I already fixed this with this commit: https://github.com/primefaces/primefaces/pull/7259/files

[2021-05-18 11:46] melloware commented on #7317
Closing until a reproducer is provided

[2021-05-18 11:46] #7317 closed, assigned to nobody

[2021-05-18 11:49] melloware commented on #2055
I think this is something Chrome has disabled or changed so not much PF can do about it.  If you can research the Google Chrome release notes over the years you might be able to find some reason why.

[2021-05-18 12:00] tuerker commented on #7324
@melloware my snapshot was from May 12. i have now quickly tested the latest snapshot. the problem still is there.

[2021-05-18 12:02] melloware commented on #7324
OK can you provide your DataTable XHTML in full here so I can see what it doesn't like?  The line number here:
[code]

Makese no sense since its this line..
[code]

And `table` is used 2 lines above so table can't be NULL.  That's what makes me think you aren't using the latest?

[2021-05-18 12:24] melloware commented on #7324
I think I might know the issue but its strange I can't reproduce in the showcase or my example.

[2021-05-18 12:30] tuerker commented on #7324
this is the error output for the latest snapshot.

[code]

[2021-05-18 12:31] tuerker commented on #7324
it is triggered via the "new" getExportableColumns() method.

[2021-05-18 12:32] melloware commented on #7324
OK that makes more sense.
[code]

DisplayPriority is a `Integer` not an `int` so it can be NULL I guess. I have to guard against it being NULL.  Fix coming...

[2021-05-18 12:33] tuerker commented on #7324
great. thanks.

[2021-05-18 13:25] #7288 closed, assigned to melloware

[2021-05-18 18:12] melloware commented on #7164
Reproducer:
[pf-7164.zip](https://github.com/primefaces/primefaces/files/6503374/pf-7164.zip)

**10:0.0:**
[code]

[2021-05-18 18:16] melloware commented on #7164
Here is what happens when I dump the stack when the page first loads..
[code]

But when the field is sorted you can see the "lazy" method is called in the SortFeature.
[code]

[2021-05-18 19:03] smirnov-vladimir opened #7328 "DatePicker: dateStyleClasses shifts to wrong date"
**Describe the defect**
When added metadata with some styles, the styles is applied to wrong date: shifts +/- one day.

**Environment:**
 - PF Version: _10.0_
 - Time zone in browser is UTC+06:00

**To Reproduce**
Steps to reproduce the behavior:
1. Set time zone on you PC to UTC+06:00
2. After 18:00 styles is shifts on next day

**Solution**
Function **toISODateString()** in _datepicker.js_ now i

[2021-05-18 19:06] melloware commented on #7328
cc @christophs78 @jepsar for second set of eyes. I know we have a lot of Integration tests for DatePicker but not sure if we have this scenario covered.

[2021-05-18 20:00] christophs78 commented on #7328
Propably not covered by integration tests.
`toISODateString` is currently only called from `renderDateCellContent` during evaluation of `this.options.dateStyleClasses`. So we at least should not break other functionally. And dateStyleClasses  is only populated via dateMetadata introduced with PF 10. (Think we have no integration tests for dateMetadata.)

[2021-05-18 20:14] melloware commented on #7328
Perfect.  Then I definitely agree with this fix.  @jepsar do you agree?

[2021-05-18 20:17] melloware commented on #7328
If someone needs this MonkeyPatch now just apply this to your application JS.
[code]

[2021-05-19 07:03] anuragnz opened #7330 "Barcode: Type: qr"
The QR code does not appear.

It works in PF10.0 but not from the latest PF11.0 as I just downloaded to test and have the issue.

<p:barcode value="0123456789" type="qr"/>

The error on console:
**No dynamic resource handler registered for: qr. Do you miss a dependency?**

[2021-05-19 07:06] jepsar commented on #7328
I can have a good look at it this evening. The function was indeed introduced with the metadata addition.

[2021-05-19 08:08] jepsar commented on #7330
We have switched to `io.nayuki:qrcodegen`. See https://github.com/primefaces/primefaces/issues/7101

You need to add this to your project

[code]
and you can remove
[code]

https://github.com/primefaces/primefaces/blob/master/docs/migrationguide/11_0_0.md

[2021-05-19 08:12] anuragnz commented on #7330
Thanks a lot. It works now.

[2021-05-19 08:25] #7330 closed, assigned to jepsar

[2021-05-19 09:22] tuerker opened #7332 "InputMask: mask not working correctly when trying to restrict to upper letters"
I am not sure whether this is a bug or simply not forseen. Whenever one uses an upper A instead of a lower a in the mask to enforce upper letters, then the entering on the form looks correct but the data is not stored, i.e., send to the backing bean.

Use this example to verify:

`<p:inputMask id="key" value="#{maskView.productKey}" mask="AAA-999.999.999" validateMask="true"/>
`

Many thanks in ad

[2021-05-19 11:49] jepsar commented on #7330
@melloware milestone should be 11

[2021-05-19 11:54] melloware commented on #7332
I have verified this.  It looks like the server side validateMask method is not validating the mask correctly when using uppercase.  In my integration test everything works with `validateMask="false"` can you confirm?

[2021-05-19 12:08] melloware commented on #7332
OK thanks for reporting!  Integration Test was failing and now is passing...
[code]

[code]

[2021-05-19 12:13] #7332 closed, assigned to melloware

[2021-05-19 12:13] melloware commented on #7332
Integration Test updated: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/a83a3340b208f7f011489fae146fe56e8daff395

[2021-05-19 12:14] melloware commented on #7330
Sorry thanks for correcting!

[2021-05-19 12:57] tuerker commented on #7332
as usual many thanks for your great work.

[2021-05-19 14:34] Charriu83 opened #7335 "FileUpload: File upload doesn't work with BlockUI"
**Describe the defect**
FileUpload caused an JavaScript exception while uploading a file when a p:blockUI with trigger exists on the same xhtml site. The JavaScript errors is `Uncaught TypeError: c.source is undefined` (Firefox) or `Uncaught TypeError: Cannot read property 'name' of undefined` (Chrome) and leads to `bindTriggers()` function in components.js. Without trigger everything is okay.

**

[2021-05-19 16:56] jepsar commented on #7328
Looking good!

[2021-05-19 17:01] #7328 closed, assigned to melloware

[2021-05-19 17:21] melloware commented on #7335
Duplicate of https://github.com/primefaces/primefaces/issues/7151

Can you try the solution posted in there please?

[2021-05-19 17:22] #7335 closed, assigned to nobody

[2021-05-19 17:58] #7324 closed, assigned to melloware

[2021-05-19 17:59] melloware commented on #7324
@tuerker its now merged do you mind pulling it down and testing with your test case? Please report back!

[2021-05-20 06:10] tuerker commented on #7324
many thanks. it now works again.

[2021-05-20 06:23] Charriu83 commented on #7335
Good morning melloware,
the workaround from #7151 fixed the JS error. In the example project the listener is now called.

In my project the listener is still not called and file is always NULL. No more JS errors and no errors in the java console.

[2021-05-20 12:09] melloware commented on #7335
Hmmm if you remove BlockUI from your project does the file upload work?  You may be having some other issue unrelated to blockui.

[2021-05-20 12:15] melloware commented on #7324
Excellent thanks for testing.

[2021-05-20 13:51] melloware commented on #6956
Microsoft has bumped up the timeline...

https://bit.ly/341JvuE

"the Internet Explorer 11 desktop application will be retired and go out of support on June 15, 2022, for certain versions of Windows 10."

[2021-05-21 18:44] MatthiasPischka opened #7336 "DataTable: Removed data (rows) remain after update when filtered before"
**Describe the defect**
When using a List (for example ArrayList) of DTOs for a dataTable and removing some elements from the list, updating the table throw ajax, everythink works fine.
But when I first filter the rows inside the dataTable throw column or global Filter and then remove some of the still visible elements, they remain after ajax update. But the elements are arleady removed from the J

[2021-05-21 19:11] melloware commented on #7336
I have confirmed this issue.  Even calling on the server side Java code `this.filteredList.remove(product);` is not removing the product from the filtered view.

[2021-05-21 20:34] christophs78 opened #7337 "Schedule: update FullCalendar to 5.9.0"
... and maybe expose some of the additional features - see https://fullcalendar.io/blog/2021/05/new-features-in-v570

[2021-05-21 20:38] christophs78 commented on #7336
We had similar issues in one of our (still PF 7 based) applications too. In our case when adding new rows or editing existing ones on an filtered DataTable.
From my feeling we still have not worked out all issues caused by having the full list an the filtered list.
@Rapster : Some thoughts?

[2021-05-21 21:00] christophs78 commented on #7336
Propably we should write integration-tests for at least 3 usecases for filtered DataTable:

- add new object to list
- remove object from list
- edit existing object (and afterwards do not fullfill filter-criterias)

[2021-05-21 21:34] melloware commented on #7336
I use lazy tables almost exclusively and I do not remember seeing this issue. But without lazy this is definitely happening.

[2021-05-22 13:54] hfluz opened #7338 "ToolbarGroup: Align="right" doesn't work"
**Describe the defect**
In Primefaces 8 I had many toolbars that have only buttons aligned to right, like the one below:

![image](https://user-images.githubusercontent.com/832674/119228000-240d5f80-bae7-11eb-9f24-a57cc118f6c3.png)

After updating to Primefaces 10, the alignment to right doesn't work anymore:

![image](https://user-images.githubusercontent.com/832674/119228035-5e76fc80-bae7-11eb-9

[2021-05-22 16:13] melloware commented on #7338
Assigning to @sqores to review since he made the change.

[2021-05-22 16:39] buunsal commented on #7338
Although the toolbar group on the left is empty, it needs to be rendered. Issue stems from this. No need to add an extra css. I'll fix it next week.

[2021-05-22 16:57] cd2357 opened #7342 "Showcase: Include imports in bean code snippets"
**Description**

Some classes used are ambiguous (same class name in different packages).

For example
* `org.primefaces.model.chart.LineChartModel` vs `org.primefaces.model.charts.line.LineChartModel`
* `javax.faces.view.ViewScoped` vs `javax.faces.bean.ViewScoped`

This can make it hard for users to get value from the provided code snippets. They might use the snippet but it might not work, just

[2021-05-22 17:31] christophs78 commented on #7336
@MatthiasPischka: Can you try following code?
[code]

[2021-05-22 18:37] ZiupeX opened #7343 "FileDownload: cause ArrayIndexOutOfBoundsException"
I faced problem with <p:fileDownload /> after update primefaces to version 10.  When open the view where is <p:fileDownload /> I faced the following exception:

[code]

below my code

[code]

[code]

before ubgrade to version 10 it works without exception. I tried also with empty stream but the same issue

[code]

[2021-05-22 18:52] melloware commented on #7343
I have seen this same issue.  It's related to storing state but haven't figured out what has changed between 8 and 10.   We also use Wildfly/Undertow.

[2021-05-22 19:02] melloware commented on #7343
Attached is your example and it doesn't happen:
[pf-7343.zip](https://github.com/primefaces/primefaces/files/6526986/pf-7343.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2021-05-22 19:07] melloware commented on #7342
Can you please report this issue under the Showcase project instead found here: https://github.com/primefaces/primefaces-showcase

Thanks!

[2021-05-22 19:07] #7342 closed, assigned to nobody

[2021-05-22 21:25] ZiupeX commented on #7343
Hmm maybe it is related with server where is runned. I runned your example and it works but on wildfly not. Have you tried with

instead of jetty:run >> wildfly:run

I`m use newest version of wildfly 23.0.2.Final

https://www.wildfly.org/downloads/

[2021-05-22 22:02] ZiupeX commented on #7343
I found problem. Problem was related with following parameter:

[code]

when I remove it problem gone

[2021-05-23 01:29] melloware commented on #7343
Ok I will try and add that to my reproducer to see if I can get it to happen.

[2021-05-23 08:20] christophs78 commented on #7336
This issue is even reproduceable with the CRUD-example of premium templates: eg https://www.primefaces.org/freya/crud.xhtml
At this point it´s hard to argue against people who tell you "yes, the showcase looks good, but in real world there are way to many pitfalls when you start combining featues".

[2021-05-23 08:50] jepsar commented on #6140
How about
[code]
[code]

[2021-05-23 10:48] MatthiasPischka commented on #7336
@christophs78 Yes this workaround brings the expected behaviour (product is removed even when filtered before). I added a second button to my example (https://github.com/MatthiasPischka/primefaces-test).
And yes you are right. I found this issue while i am using the avalon theme and orienting at the crud example.

[2021-05-23 12:11] melloware commented on #7343
OK yep now I can reproduce it by adding that to the web.xml.
[pf-7343.zip](https://github.com/primefaces/primefaces/files/6528034/pf-7343.zip)

It looks like a Mojarra bug as it works fine in Myfaces.

`mvn clean jetty:run -Pmyfaces22` - WORKS

`mvn clean jetty:run -Pmyfaces23` - WORKS

`mvn clean jetty:run -Pmojarra22` - **ERROR**

`mvn clean jetty:run -Pmojarra23` - **ERROR**

[2021-05-23 12:24] melloware commented on #7343
Opened Mojarra Issue: https://github.com/eclipse-ee4j/mojarra/issues/4936

[2021-05-23 14:18] jepsar opened #7344 "HotKey: allow two different combinations for Mac and PC"
On Mac you might want to use `command+e` (`meta+e`) while on PC you would want to use `ctrl+e` for the same action.

We could do:

1. introduce a new attributes `bindMac` and use `bind` for PC
2. introduce new attributes `bindMac` and `bindPC` and deprecate `bind`
3. allow JSON in `bind`, for example `{pc:'ctrl+e',mac:'meta+e'}`
4. introduce a new key name, like `metaCtrl` which translated to `com

[2021-05-23 20:24] AlexChaplygin commented on #7317
https://github.com/AlexChaplygin/primefacesbug

I reproduced it on 7.0 version but if I change version to 8.0 everything is ok. Do you have any thoughts about it? Some workarounds?

[2021-05-24 11:02] buunsal opened #7345 "Splitter: add resizeEnd event and onResizeEnd callback"

[2021-05-24 11:55] #7338 closed, assigned to buunsal

[2021-05-24 12:10] melloware commented on #7317
@AlexChaplygin Looks like about 500 GitHub issues were closed between 7.0 and 8.0 so its hard to speculate what fixed it.  I doubt you will get much support on 7.0 now that 8.0 and 10.0 are the latest two major versions.  I would say your best best is to upgrade to 8.0 or 10.0

[2021-05-24 12:14] melloware commented on #7344
I see some weird Meta key handling already in HotKey.js.

[code]

I also noticed Meta is not listed under special keys?

How about a new property `osAware` so `osAware="true"` will be CTRL on PC and META on MAC.  I think that is the proper https://en.wikipedia.org/wiki/Principle_of_least_astonishment

[2021-05-24 12:33] #7345 closed, assigned to buunsal

[2021-05-24 13:09] jepsar commented on #7344
Yeah I noticed meta. But isn't it mapped to the Windows key on a PC? But apart from the command button, the delete button also requires special handling. And Mac has a function key. So option 4 is no good.

[2021-05-24 18:19] melloware commented on #7282
@jepsar Did you decide to not implement this one?  I forget what we decided.

[2021-05-24 18:44] melloware commented on #7325
This was pretty easy. The filter was being stored in MVS it just wasn't being restored.

[2021-05-24 19:09] #7325 closed, assigned to melloware

[2021-05-24 19:23] melloware commented on #2728
Visibility, Width and Display Order was added in https://github.com/primefaces/primefaces/issues/6689

Changing the name of the issue to the one remaining MVS issue which is RowExpansion.

[2021-05-24 19:24] melloware commented on #2728
Not sure if remembering row expansion in MVS is the right thing as all the other MVS states are Column based states not ROW based states.

[2021-05-24 19:50] Rapster commented on #2728
selection is row based state

[2021-05-24 19:53] melloware commented on #2728
I think Selection is treated special and not part of MVS right?  its stores everything in a Selected Collection controlled by the user and it submits an array of all the selected rows every time a row is selected.

[2021-05-24 19:57] milansie opened #7349 "MenuItem - inconsistency of the default value of the "global" attribute in UIMenuItemBase and DefaultMenuItem"
Hello,

I don't know correct category - it's not defect, maybe a question or something..

We noticed different default value in "global" atribute in MenuItems.

Default value of "global" atribute  = true in UIMenuItemBase (and all other components), but false ("not defined") in dynamic DefaultMenuItem.

Is there any reason for that? Could it be changed for same value - for clarity  and better usab

[2021-05-24 20:01] melloware commented on #7349
Not sure if there is any reason to it other than I assume PrimeTek did not want to trigger the global AJAX indicator every time you pressed a menu option by default.  I wonder if we should change DefaultMenuItem to `false` as well?

[2021-05-24 20:10] Rapster commented on #2728
No, it's also part of MVS

[2021-05-24 20:12] milansie commented on #7349
Umm, it is `false` in DefaultMenuItem. Question was, if it could be `true`, same as in static (xhtml) menuItem (UIMenuItemBase).
I understand that someome did not want to trigger global ajax indicator everytime - but why they do that just in part of cases? In my opinion it make sense to do it same way all the time - either way...

[2021-05-24 20:23] melloware commented on #2728
Ahhh yep I see it now in `DataTableState` I was looking in UiTableState. `private Set<String> selectedRowKeys;`

[2021-05-24 20:26] melloware commented on #7349
Yep not sure where or why the original decision was made.  They should be consistent.

[2021-05-24 20:58] jaindsonvs opened #7351 "Poll: IDs referenced in "update" are rerendered even though parent component is not rendered anymore"
**Describe the defect**
The component p:poll rerenders the components referenced in attribute "update", even though its parent component is not rendered anymore (which means p:poll is not rendered as well and so it should not be active).

**Reproducer**
Download the following project: https://drive.google.com/file/d/1OGOVhduAqnFO3uUcNi9UdneI-3Ls5wYP/view?usp=sharing.
Run: mvn jetty:run
Hit http://

[2021-05-25 06:39] milansie commented on #7349
Thank you very much. Should I close issue, or it will be closed automatically by background processes after release?

[2021-05-25 07:54] jepsar commented on #7282
I'll have a go at it. I'll add it to the spinner, not to selectOneMenu. I was hoping for the horizontal buttons to be merged first, but I guess I'll have to digest some conflicts 😆

[2021-05-25 08:13] #7349 closed, assigned to melloware

[2021-05-25 09:08] #7351 closed, assigned to tandraschko

[2021-05-25 09:09] tandraschko commented on #7351
@mertsincan @sqores marked as elite candidate, quite easy and good fix

[2021-05-25 09:10] tandraschko commented on #7343
so lets close it? looks like it should be fixed in mojarra

[2021-05-25 09:12] tandraschko commented on #7087
@GedMarc can we close it? or is there anything we need to do?

[2021-05-25 09:18] GedMarc commented on #7087
its been open for a really long time I think its safe to close -
We need to wait for other teams and central deploys first as well either way, i think when that happens and we know what to do we can pick this up again?

[2021-05-25 09:20] #7087 closed, assigned to nobody

[2021-05-25 09:20] tandraschko commented on #7087
yep

[2021-05-25 10:09] tandraschko opened #7352 "FileUpload: simple & auto doesnt work anymore"
[code]

[2021-05-25 10:11] tandraschko commented on #7352
i liked to suggest this approach for #7284 as simple mode fits better. But it seems its broken.

@melloware would you like to check it?
seems like
[code]
is registred but the handler is never called? at least in my firefox

[2021-05-25 11:28] #7343 closed, assigned to nobody

[2021-05-25 11:28] melloware commented on #7352
Let me check it out.

[2021-05-25 12:51] tandraschko commented on #7284
i fixed it with a small hack
it seems that the fileupload plugin doesnt trigger the change event anymore, maybe thats also related to #7352
maybe @melloware finds a solution for this and we can try to apply a similar fix to this issue

[2021-05-25 12:51] #7284 closed, assigned to tandraschko

[2021-05-25 12:58] melloware commented on #7284
i will let you know what i find out

[2021-05-25 13:15] tandraschko commented on #7284
not sure why but it works now with this commit

[2021-05-25 13:29] melloware commented on #7284
Weird does the JQ Input not exist at the time or is the name slightly different than we expect?

[2021-05-25 13:32] tandraschko commented on #7284
May be detached by the plugin, not sure.

[2021-05-25 14:25] jaindsonvs commented on #7351
If anyone else like me can't easily update PF version or wait for version 11, this is the workaround I'm using right now:

[code]

The solution is hardcoded for this specific scenario, but you can tweak for you own scenario (see comments "UPDATE HERE").
Once the poll is started, it is still kind of active when it is not rendered, although it does not call the listener and does not update the other

[2021-05-25 14:27] melloware commented on #7351
Thanks for posting your workaround!

[2021-05-25 15:26] jepsar commented on #7344
I think this should be done with option 1. @melloware can you please assign me?

[2021-05-25 15:42] melloware commented on #7344
Done

[2021-05-25 16:34] melloware commented on #7352
MonkeyPatch if someone needs it:

[code]

[2021-05-25 16:46] #7352 closed, assigned to melloware

[2021-05-25 16:46] tandraschko commented on #7352
Thanks!

[2021-05-25 17:56] christophs78 commented on #7336
Think we should try to fix this. (And not only add the convenience function suggested by my PR.)

`value`/`filteredValue` after `FilterFeature#filter` (2 values filtered)
![image](https://user-images.githubusercontent.com/10461942/119540329-9ef7a400-bd8d-11eb-84d1-0a5703685e7b.png)
value is (internally) set to the filteredValue

One request-cycle later it looks like this:
![image](https://user-ima

[2021-05-25 18:04] melloware commented on #7336
Agreed that does seem wonky and don't want to add another hack on top of it.

[2021-05-25 18:51] melloware commented on #7313
Going to close this one for now until someone provides a use case where this makes sense.  Right now the only way to reproduce is to do `<f:view contentType="application/xhtml+xml"/>` which doesn't make any sense to me why you would do that.

[2021-05-25 18:51] #7313 closed, assigned to nobody

[2021-05-25 19:36] melloware commented on #2048
duplicate of https://github.com/primefaces/primefaces/issues/4725 so tracking it there.

[2021-05-25 19:36] #2048 closed, assigned to nobody

[2021-05-25 20:04] melloware commented on #3310
I just tested this with PrimeFaces 10 and its no longer happening.  If someone has a use case that it does still happen we can re-open the ticket

[2021-05-25 20:04] #3310 closed, assigned to nobody

[2021-05-25 20:20] christophs78 commented on #7336
Cross-checked this with PF 8.0. One request-cycle after filter is applied value and filteredValue points to the same ArrayList-instance. (PF 10.0.0 has at this point two different ArrayList-instances as shown before.)

[2021-05-25 20:58] christophs78 commented on #7336
PF 10.0.0 - saved state for DataTable with filter
![image](https://user-images.githubusercontent.com/10461942/119567206-53a0be00-bdac-11eb-8781-8e0387686d55.png)

PF 8.0 - saved state for DataTable with filter (exact same usecase)
![image](https://user-images.githubusercontent.com/10461942/119567259-661af780-bdac-11eb-8c36-48fb0a467eb0.png)

IMO this shows PF 8.0 does not save state for value-attr

[2021-05-25 23:28] Rapster commented on #7336
I'll try to have a look this week

[2021-05-26 05:58] jepsar opened #7354 "MediaPlayer/PhotoCam: remove Flash support"
https://en.wikipedia.org/wiki/Adobe_Flash

[2021-05-26 09:29] #7323 closed, assigned to melloware

[2021-05-26 09:53] testing138 commented on #42
Are there any plans to integrate this?

[2021-05-26 10:01] tandraschko commented on #42
as @melloware said, there are no plans currently
feel free to sponsor it or provide a PR

[2021-05-26 10:21] irene-hase commented on #5704
@mertsincan
 I get the same exception with TreeTable. I use Primeface version 8.0.9.
 Is there a fix for that?

 `11:36:51,370 ERROR [io.undertow.request] (default task-10) UT005023: Exception handling request to...xyz.jsf: java.lang.NumberFormatException: For input string: "*"
	at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
	at java.lang.Integer.parseInt(Integer.

[2021-05-26 11:25] tandraschko commented on #7336
maybe bit related to: https://github.com/primefaces/primefaces/issues/1390

[2021-05-26 11:56] melloware commented on #7354
Photocam also has an SWF fallback we should remove as well.

[2021-05-26 12:29] tandraschko opened #7356 "Fragment: restore AutoUpdate behavior and improve the API"
it was removed in 7.0 probably and the original design is broken

[2021-05-26 12:36] melloware opened #7357 "Timeline: Upgrade to 7.4.8"
Upgrade Timeline to 7.4.8

cc @sqores

[2021-05-26 12:56] #7356 closed, assigned to tandraschko

[2021-05-26 13:04] buunsal opened #7359 "Timeline: showNested attribute and variable for nested timeline groups"
For loading as collapsed at page opened. Something like this:
![image](https://user-images.githubusercontent.com/45278820/119664399-f5bbb700-be3b-11eb-9e23-88c78b464c75.png)

[2021-05-26 13:05] #7357 closed, assigned to melloware

[2021-05-26 13:16] #7164 closed, assigned to nobody

[2021-05-26 13:34] #7359 closed, assigned to buunsal

[2021-05-26 13:37] #7354 closed, assigned to melloware

[2021-05-26 14:41] buunsal commented on #7219
Hi,

"elite" labels show that it is still in the planning phase. The tags we have added such as "10.0.2" show which elite version it was added. This fix is included in the elite version, which will be released tomorrow. Thanks for the PR @melloware

[2021-05-26 14:43] melloware commented on #7219
Yep so "elite" is how we mark one that we think should be in the next Elite release.

Once @mertsincan or @sqores actually merges that fix into an Elite release you remove the Elite label and add 10.0.2 label or whatever elite releases it is in.

[2021-05-26 16:47] melloware opened #7362 "InputMask: Disabled or ReadOnly breaks the page"
**Environment:**
 - PF Version: _10.0_
 - JSF + version: ALL
 - Affected browsers: ALL

Forum Post: https://forum.primefaces.org/viewtopic.php?f=3&t=66983

**To Reproduce**
[pf-inputmask.zip](https://github.com/primefaces/primefaces/files/6548359/pf-inputmask.zip)

Steps to reproduce the behavior:
1. Run the reproducer the menu and save buttons do not work and no JavaScript errors are thrown.
2. S

[2021-05-26 17:11] melloware commented on #7362
This MonkeyPatch fixes it right now...
[code]

[2021-05-26 20:35] karlkras opened #7364 "FileUpload: Multiple with auto="true" only works first time"
**Describe the defect**
Getting irregular and unreliable results when performing an auto, advanced, multiple file upload.
On startup you simply get a file upload instance to select csv files from. I'm assuming you have, or can get a set of csv files (~4) to be able to use for this. On first selection it appears to work correctly, i.e., select 4 files and upon submit, the table showing files select

[2021-05-27 07:13] #7362 closed, assigned to melloware

[2021-05-27 11:37] melloware commented on #6956
Also remove the IE function in the Java class `AgentUtils`.

[2021-05-27 12:07] melloware commented on #7364
I have confirmed the problem is `auto="true"`. If you turn `auto="false"` it works every time.

The problem is if Auto its calling upload after each file is added and then submit is immediately called while its still adding files to the collection.

When I step through the debugger I can see files=1 then submitted then files 1 and 2 and submitted etc.  Not sure how to fix it.
[code]

[2021-05-27 12:44] karlkras commented on #7364
If this is the problem, why do I get more than 1 result on some of the attempts?
As mentioned, it seemed to work every time on the very first use.

[2021-05-27 12:49] melloware commented on #7364
Since its JavaScript its a timing issue so what happens is as each file is uploaded if auto="true it calls `upload` then the 2nd file is added and `upload` is called again.  and the `this.files` collection is also being manipulated by the AJAX request etc.    If you use a debugger which slows everything down you can see the problem every time.   At least from my debugging that seems to be the prob

[2021-05-27 12:51] karlkras commented on #7364
Also, I am already using the "workaround" but the preference is to not have the need for the extra click.

[2021-05-27 13:06] melloware commented on #7364
Yep its definitely a bug. Just not sure the correct way to fix it.   Basically `upload` should only be called once after all the files have been processed. But since this same method is used for single file uploads its tricky.

[2021-05-27 13:23] karlkras commented on #7364
Wouldn't suppose some sort of a timer could be injected to allow all file upload events to complete before firing the update? Sounds sorta hacky, but might be an approach?

[2021-05-27 13:26] melloware commented on #7364
Yep but typically using Timers is usually a last resort.  The other reason its definitely a timing issue because with auto="false" where all the files are added first then you press Upload it works every time and basically its the same code executing but in a forced order.

[2021-05-27 13:32] karlkras commented on #7364
And that works because the files are already in memory and the amount of time to perform the actual "upload" is comparatively faster?

[2021-05-27 13:36] melloware commented on #7364
Its because Upload is only being called once with all 4 files properly in the list.  The other way upload is being called 4 times one for every file and looping over the files list and thus the sporadic results.

[2021-05-27 13:42] karlkras commented on #7364
I see.

[2021-05-27 14:10] jepsar opened #7366 "HotKey: Allow to set filterTextInputs per instance"
`filterTextInputs` is now hardcoded in the jQuery plugin. I would like to be able to set it per instance. For example, I want to use `Esc` to cancel a form, which is not possible with the focus in an input field.

https://github.com/primefaces/primefaces/blob/28f3322af89f97991eca7d92bde3d0f83e0ff33e/src/main/resources/META-INF/resources/primefaces/hotkey/hotkey.js#L123-L127

https://github.com/pri

[2021-05-27 14:16] melloware commented on #7364
I think there something bigger going on here.  even adding a delay waiting 500 milliseconds its still sporadic on the 2nd upload.

[2021-05-27 14:30] tandraschko opened #7367 "DataTable: filtering breaks row-state / action-listener call with current var"
Actual:
- filter by "2"
- click button: "doSomething: 0" is printed

Actual:
- filter by "2"
- click button: "doSomething: 2" should be printed

[code]

[code]

[2021-05-27 14:31] tandraschko commented on #7367
@melloware @christophs78 could one of you guys create a integration test for it?

[2021-05-27 14:33] melloware commented on #7367
Yep I think we already have an integration test we can piggy back and add a button to and click it.

[2021-05-27 14:34] tandraschko commented on #7367
oh, it works fine with "impl Serializable"
must be still something different in my customer app, will come back

[2021-05-27 14:37] tandraschko commented on #7336
i remember that we had many users with errors, because their POJO doesnt implement Serializable
i think it should not be saved in the state, yes
just always recevied from the bean

not sure why it happens

[2021-05-27 14:37] melloware commented on #7367
Yep I have helped a few people on the forums with the exact same issue where they were not using Serializable and adding it to their POJO fixed it.

[2021-05-27 14:39] tandraschko commented on #7367
added a comment here #7336
i feel my customers problem is somehow different but related

[2021-05-27 14:45] tandraschko commented on #7336
yep, reproduced
POJO without Serialization works fine in 8.0, thats really that value seems no saved in component state

[2021-05-27 15:02] tandraschko commented on #7336
ok, in 8.0 the DataTable#setValue is called in the filter request with:
1) null
2) List with filtered POJOs
3) null

in 10.0:
1) null
2) List with filtered POJOs

it seems that this is missing in 10.0:

[code]

[2021-05-27 15:07] tandraschko commented on #7336
so we have 2 possibilites:
1) use either value or filteredValues in the DataTableRenderer
2) reset like we did in 8.0

[2021-05-27 15:12] tandraschko commented on #7336
reintroduced that statement
could @melloware or @christophs78 create automatic tests for this?
one example is here, the other one is in 7367, when the POJO doesnt have the Serializable

[2021-05-27 15:19] melloware commented on #7336
Let me kick off the current tests.  And then we need to add more tests for this.

[2021-05-27 15:26] melloware commented on #7336
Multiple integration tests fail now...
[code]

[2021-05-27 15:31] karlkras commented on #7364
@melloware , actually, I'm having the same problem with the fileUpload advanced mode even in auto="false" state.
Basically it looks like the advanced state is technically broken for multi file use.

[2021-05-27 15:32] karlkras commented on #7364
so this brings me back to my original implementation of having to use standard. Bummer.

[2021-05-27 15:35] tandraschko commented on #7336
hmm, not sure why that happens now

Im out for today, "feierabend" in germany now.

[2021-05-27 15:48] melloware commented on #7364
Can you try this reproducer?
[pf-7364.zip](https://github.com/primefaces/primefaces/files/6555250/pf-7364.zip)

It works for me every time?

[2021-05-27 15:49] melloware commented on #7364
Oh actually you are right.  Something is broken.

[2021-05-27 15:53] karlkras commented on #7364
It's interesting that this hasn't been noticed before. I would have thought it would be a rather popular component/state.
We've been using standard mode since moving from richfaces to primefaces 8.0 in our application rewrite early last year when we saw this behavior then. I figured it was a lack of knowledge from the dev doing the work on how the component worked and I'd take another look at it a

[2021-05-27 16:43] christophs78 commented on #7336
We already have a PR with additional tests for this: https://github.com/primefaces-extensions/primefaces-integration-tests/pull/156

[2021-05-27 16:47] melloware commented on #7364
I guess people have not been using multiple or that it works the first time and nobody reported it not working.

[2021-05-28 06:44] tandraschko commented on #7336
@melloware i copied the DataTable001Test to a primefaces-test but i works fine for me? can you verify?

[2021-05-28 07:14] tandraschko commented on #7336
ok, found it
monkeypatched the DataTable in the test-project and forgot to delete it, sorry

should be better now, can you trigger the tests again?

[2021-05-28 07:31] christophs78 commented on #7336
[code]

You can rerun the job on your own via
![image](https://user-images.githubusercontent.com/10461942/119946969-7cd17200-bf97-11eb-8b47-83d50a061e9d.png)

[2021-05-28 08:47] tandraschko opened #7368 "DataTable: check remove of SelectableDataModelWrapper"
i reintroduced SelectableDataModelWrapper because of a bug
this was added to fix a bug between filtered values and the selection of a value

@melloware @christophs78 could you try to add some integration tests for this?
im not sure what the case was as its not in the commit comment of 2011 ;D

maybe like you select a value, filter (and therefore remove the selection from the displayed list) and do

[2021-05-28 10:44] fanste opened #7369 "UIData: Huge memory consumption for facets containing UIInput"
Primefaces: 8.0++

### Description of the bug

Recently our server (WF 10) crashed with OOM exception. The heapdump revelead over 90mio instances of `HashMap#Node` (consuming 4GB of heap space). Nearly 90% of those instances exists because of the state saving mechanism (50% of those nodes are filled with `SavedState` instances).

It looks like that the `facets` (like `filter`) are stored per row-i

[2021-05-28 11:01] fanste commented on #7369
Additionally I recognized, that `setRowIndex` is used multiple times in e.g `DataTableRenderer#encodeRows`: line 1152,1157,1160,1164,1168; 1159,1167 (both because of isInSameGroup). I don't measured the performance overhead, but some of them could be removed. And maybe the others should be checked against the currently active `rowIndex` so it does not unnecessarily save and restore the same state.

[2021-05-28 11:37] tandraschko commented on #7336
bah
i basically restored #5481 and i think the behavior was partly correct (they were restored on postback only, not on pageload/f5)
the filteredValues are stored in the SessionScoped and therefore it should be restored on f5 actually, or not?
the problem is that the filter-input doesnt contain the old text ("2010" in the test) anymore as its component state (viewscoped)

so one state is stored in

[2021-05-28 11:37] melloware commented on #7368
I know with @Rapster we also could never figure out the use case for SelectableDataModelWrapper either.  Its been there forever but we could not tell what problem it was solving!

[2021-05-28 11:44] melloware commented on #7369
I can't answer the `setRowIndex` question maybe @mertsincan @Rapster @tandraschko can help here.

[2021-05-28 11:58] jepsar opened #7370 "Spinner: respect p-text-left class to left align input text"

[2021-05-28 12:01] melloware commented on #7370
I guess it should respect all the `p-text` alignment classes?

[2021-05-28 12:06] jepsar commented on #7370
At least: left, right, center

[2021-05-28 12:13] Rapster commented on #7369
Can you ellaborate? What makes you think that?

pagination won't change a thing. Ideally, you should use a lazy model for better perf

Shouldn't be called if you're not using grouping features

[2021-05-28 12:23] tandraschko commented on #7367
related and fixed by: #7336

[2021-05-28 12:23] #7367 closed, assigned to tandraschko

[2021-05-28 12:24] tandraschko commented on #7368
do we have tests wich tries different states with selection + filtering? If yes, lets remove it

[2021-05-28 12:32] melloware commented on #7368
We will check i am pretty sure we do have selection and filtering together.

[2021-05-28 12:37] fanste commented on #7369
Because the state map contains the component IDs of the filter's UIInput multiple times - including the rowIndex:
`f:dt:idOfFilter` vs `f:dt:0:idOfFilter`, `f:dt:1:idOfFilter`, ...

`UIData#setRowIndex` > `#setRowIndexWithoutRowStatePreserved` > `#saveDescendantState` > iterates over children (here: column) and calls overloaded `#saveDescendantState` > iterates over facets of that column.

Because

[2021-05-28 13:39] Rapster commented on #7369
Thank you for sharing those details.

f:dt:idOfFilter vs f:dt:0:idOfFilter, f:dt:1:idOfFilter, ...

You sure these indexes are not column indexes? If not, then yeah seems pretty odd

True, after a closer look I didn't expect to work that way

@mertsincan @tandraschko should be better help

[2021-05-28 14:04] fanste commented on #7369
I'm pretty sure, because:

1. The first call to `#setRowIndex` in `UIData` is without any `rowIndex` in the client ID, as no previous `rowIndex` was available.
2. Our heap dump showed numbers greater than 50000, and the table only has a maximum of 50 columns.
3. The number is always equals the previous `rowIndex`

[2021-05-28 14:05] tandraschko commented on #7369
i also remember something weird regarding visiting rows, as on each row visit, each column header and facets/filters were visited.
Cant find the issue currently.

[2021-05-28 14:31] fanste commented on #7369
The question is, how to fix that behaviour. It is not totally wrong, as facets could be per-row. But most facets like header, footer, filter are not per-row.

Easiest solution would be to check the facet name and only process those "table related" facets for `(curently active**) rowIndex = -1` (or the other way arround: process "row related" facets for `rowIndex > -1`). But is this enough to alway

[2021-05-28 15:07] melloware commented on #7369
@tandraschko i believe it's issue #925

[2021-05-28 18:41] jepsar commented on #7364
I did some tests and so far found that:

1. The upload is not guaranteed to work the first time.
2. The issue is not related to `auto="true"`.
3. The issue is not related to `multiple="true"`.
4. After upgrading to jQuery File Upload Plugin 10.31.0 the issue is still present.
5. `sequential="true"` will only upload the first file.
6. `onAdd="console.log(this)"` will block uploading.
7. `fail: func

[2021-05-28 19:19] karlkras commented on #7364
`The issue is not related to multiple="true".`
So you're saying this happens even for single file uploads?

[2021-05-28 19:30] jepsar commented on #7364
Yes, with single you can select 4 files (one at a time, auto false), and the same thing might happen.

[2021-05-28 20:32] karlkras commented on #7364
Well, at least all of advanced mode is uniformily hosed.
That could be a good thing.
Please tell me standard mode is still reliable.

[2021-05-29 11:21] #7370 closed, assigned to jepsar

[2021-05-29 11:22] #7344 closed, assigned to jepsar

[2021-05-29 12:04] melloware commented on #7368
Added Selection with Filtering test and verified its passing:
https://github.com/primefaces-extensions/primefaces-integration-tests/commit/39cbcb121b582e0b504fc4b6b5a8d8cd4a5ea125

I filter the table and make sure the selection is held and then I unfilter the table and make sure the selection is held.

Would you like me to remove SelectableDataModelWrapper locally and re-run the test?

[2021-05-29 12:12] melloware commented on #7368
OK then I removed the SelectableDataModelWrapper code and rebuilt and re-ran the Integration Test and its still passing.  So yeah the same conclusion @Rapster came to I have no idea what problem it was trying to solve but it definitely does not seem needed.

[2021-05-29 13:40] ndrikdarto commented on #7364
After upgraded to PF10.0.0, I can not upload file. It is just stoped after drag and drop a file. I don't get this situation on PF 8.0.

I get following message on Chrome:
`jQuery.Deferred exception: Cannot read property 'name' of undefined TypeError: Cannot read property 'name' of undefined
    at HTMLDocument.<anonymous> (http://localhost:8080/lunaha/javax.faces.resource/components.js.xhtml?ln=pr

[2021-05-29 17:02] christophs78 commented on #7368
Hm. Maybe stupid question or i overlook something...
I think SelectableDataModel and SelectableDataModelWrapper is ONLY used for LazyDataModel.
I placed breakpoints to the SelectableDataModelWrapper-constructors and run eg DataTable021Test. We never run into this breakpoints.
DataTable only creates new instances of SelectableDataModelWrapper when there is already a instance of SelectableDataModel.

[2021-05-29 17:06] christophs78 commented on #7368
Think we need to add filtering to our existing DataTable006Test. (DataTable006Test checks LazyDataModel together with Selection but currently misses filtering.)

[2021-05-29 17:10] melloware commented on #7368
Yep I agree. I can take care of it.

[2021-05-29 18:15] tandraschko commented on #7336
Will continue the broken case in a new ticket

[2021-05-29 18:17] tandraschko opened #7373 "DataTable: filteredValues broken with scope bigger then ViewScoped"
See #7336

bah
i basically restored #5481 and i think the behavior was partly correct (they were restored on postback only, not on pageload/f5)
the filteredValues are stored in the SessionScoped and therefore it should be restored on f5 actually, or not?
the problem is that the filter-input doesnt contain the old text ("2010" in the test) anymore as its component state (viewscoped)

so one state i

[2021-05-30 07:25] christophs78 commented on #7368
Please. Thank you!

[2021-05-30 11:47] melloware commented on #7368
Added test: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/79472d2e20e1b603b40e970c3e5bc9378cad472c

it fails with...
[code]

[2021-05-30 11:51] melloware commented on #7368
If I remove the SelectableDataModelWrapper everything works.

[2021-05-30 11:55] melloware commented on #7364
@ndrikdarto I don't think this is the same issue yours might be this; https://github.com/primefaces/primefaces/issues/7151

[2021-05-30 14:19] melloware commented on #7373
I think I like option 3.  For the most part if people want their filters remembered they use MVS right?

[2021-05-30 18:29] christophs78 commented on #7373
Add a note to docs sounds good. Same opinion like @melloware - MVS is the way to get this done.

[2021-05-30 18:31] christophs78 commented on #7368
I extended @melloware integration-test and still looks good with SelectableDataModelWrapper removed.
And if some comes up with another corner-case after this we have to further extend our integration-tests.

[2021-05-30 20:03] tandraschko commented on #7368
perfect, i will remove it again

[2021-05-30 20:04] tandraschko commented on #7373
would one of you add notes to the docs?
what should we do with the failing integration test? switch to ViewScoped or remove it?

[2021-05-30 20:17] #7368 closed, assigned to tandraschko

[2021-05-30 20:36] christophs78 commented on #7373
i disabled the related i-test via
[code]
--> all our i-tests are passing

[2021-05-31 07:14] #7373 closed, assigned to christophs78

[2021-05-31 08:53] #7281 closed, assigned to jepsar

[2021-05-31 10:01] mertsincan opened #7375 "InputNumber: switch to PrimeTek native code"
Like;
https://primefaces.org/primereact/showcase/#/inputnumber

[2021-05-31 11:33] #4448 closed, assigned to naofireblade

[2021-06-01 07:55] jthalmai commented on #7300
My previous scenario only tested the 'refresh' case of the monkeypatch. Now I also tested the 'destroy' case with a conditionally rendered chart, but there I get a JS error 'cfg is not defined' in the first line of the destroy function.

[2021-06-01 08:17] jepsar opened #7378 "Spinner: unable to tab to next field"
**Reproducer**
https://www.primefaces.org/showcase/ui/input/spinner.xhtml
Focus a spinner and press tab

**Environment:**
 - PF Version: _10.0_, _11.0.0-SNAPSHOT_ (was working in 8)
 - Affected browsers: _Chrome, Firefox_ (probably all)

Note that `Shift+Tab` should also work.

Note that it is working in https://primefaces.org/primeng/showcase/#/inputnumber

[2021-06-01 08:28] jepsar opened #7379 "DataTable: scroll headers do not align with body cells in Chromium 91 based browsers"
**Describe the defect**
In scroll mode, headers do not align with body cells. See:

https://www.primefaces.org/showcase/ui/data/datatable/scroll.xhtml

<img width="1111" alt="Screenshot 2021-05-31 at 14 37 07" src="https://user-images.githubusercontent.com/7500178/120290979-216af100-c2c3-11eb-8ab7-e0511cdade25.png">

**Environment:**
 - PF Version: _10.0.0_, _11.0.0-SNAPSHOT_
 - Affected browsers:

[2021-06-01 09:33] #7378 closed, assigned to jepsar

[2021-06-01 09:59] #7167 closed, assigned to tandraschko

[2021-06-01 11:27] melloware commented on #7300
Sorry try this..
[code]

[2021-06-01 12:38] jthalmai commented on #7300
Thanks, this works.

[2021-06-01 14:04] melloware commented on #30
@sourour I would ask this on Stack Overflow or the PrimeFaces forums.  This is not the correct venue for questions.

[2021-06-01 14:10] sourour commented on #30
ok

[2021-06-01 14:40] buunsal commented on #7379
Can you test it @jepsar ? It should be fixed.

[2021-06-01 14:40] #7379 closed, assigned to mertsincan, buunsal

[2021-06-01 14:44] melloware commented on #7379
MonkeyPatch:
[code]

[2021-06-01 15:35] jepsar commented on #7379
@sqores Looking good! Thanks!

[2021-06-01 19:34] #7174 closed, assigned to melloware

[2021-06-01 19:57] melloware commented on #925
@VsevolodGolovanov Runnable Reproducer:
[pf-925.zip](https://github.com/primefaces/primefaces/files/6580302/pf-925.zip)

I am going to close this ticket as we will track the issue in https://github.com/primefaces/primefaces/issues/7369

[2021-06-01 19:57] #925 closed, assigned to nobody

[2021-06-01 19:58] melloware commented on #7369
Reproducer from #925:
[pf-925.zip](https://github.com/primefaces/primefaces/files/6580305/pf-925.zip)

GET the page. Initial rendering yields the expected output: there is no current row in a header, but there is a column.

[code]

Now press the "submit" button. Observe the output:

[code]

[2021-06-02 12:50] jepsar opened #7382 "Spinner: input text should use the theme font-family"
Now it defaults to the navigator default for `input`... which seems to only affect Chromium

[2021-06-02 17:00] #7382 closed, assigned to jepsar

[2021-06-02 17:03] melloware opened #7384 "Spinner: Only respect left click on buttons"
**Description**
Spinner should only allow increment/decrement buttons when pressed with the left click not the right click or middle click.

Similar to: https://github.com/primefaces-extensions/primefaces-extensions/issues/423

[2021-06-02 17:26] #7384 closed, assigned to melloware

[2021-06-02 19:03] christophs78 commented on #7368
Maybe `SelectableDataModelWrapper` was introduced at some point for https://primefaces.github.io/primefaces/10_0_0/#/components/datatable?id=rowkey?

[2021-06-03 00:07] educalize opened #7387 "Calendar/DatePicker: Disabled or ReadOnly Mask breaks the page"
**Describe the defect**
When the p:calendar component has readonly or disabled properties set to true the action attribute of p:commandButton no longer works.

I reported similar issue in the following post. https://forum.primefaces.org/viewtopic.php?f=3&t=66983 which resulted in the following issue [https://github.com/primefaces/primefaces/issues/7362](url)

**Reproducer**
[primefaces-test.zip](h

[2021-06-03 11:05] buunsal commented on #2270
PrimeFaces 5.3 themes are no longer supported.

[2021-06-03 11:05] #2270 closed, assigned to nobody

[2021-06-03 11:19] buunsal commented on #7066
We do not add styles that are not actively used in our components. Theme files would grow excessively if we decided to add a style for the sake of one user. Unlike you, most people don't want that. So you can add it manually.

I'm closing because @tandraschko said that. If there is a different request, open a new issue.

[2021-06-03 11:19] #7066 closed, assigned to buunsal

[2021-06-03 11:55] melloware commented on #7387
I can't reproduce.  Your example was not runnable.  Attached is an example that actually works and has no issues.
[pf-7387.zip](https://github.com/primefaces/primefaces/files/6591446/pf-7387.zip)

Unzip and run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml and you will see it works fine.

![image](https://user-images.githubusercontent.com/4399574/120641020-

[2021-06-03 12:03] melloware commented on #7368
I think we should update that doc for 10.0 and 11.0 removing that blurb about SelectableDataModel.  If should just say you must implement `rowKey`.

[2021-06-03 12:06] buunsal commented on #6144
Same for all other prime ui libraries as @mertsincan said. SelectOneMenu is look like an html select element. When clicked, a panel item will definitely open instead of typing. And the other one is a button that opens a panel. You don't have to make a choice and you can choose by typing. Because their intended use is not the same. So we don't want them to look the same either. If we want to make s

[2021-06-03 12:06] #6144 closed, assigned to buunsal

[2021-06-03 13:51] buunsal commented on #7266
Closed via https://github.com/primefaces/primefaces/commit/bd9907bfc876ee0303c9009d40553681807fbe0b

[2021-06-03 13:51] #7266 closed, assigned to buunsal

[2021-06-03 17:06] melloware commented on #7117
assigning to @sqores to review

[2021-06-03 17:07] melloware commented on #7099
Going to close this for now.  Can always re-open if we get lots of feedback but right now no plan to implement.

[2021-06-03 17:07] #7099 closed, assigned to nobody

[2021-06-04 04:53] shahrulsiagainfo commented on #3457
hi, melloware
after i put this into web.xml, the problem about layout has been fixed
but, some keyboard key like 'z' not function after success web deployment. Do you have any idea to fix this?

[2021-06-04 05:39] buunsal commented on #7117
Thanks for wanting to contribute but we cannot add these css to core or themes which one css not used in our components. We often try to use customized styling, even in our demos and templates. So we don't even add ours css to the core. We using extra demo.css or inline inpage stylings for this purpose. Otherwise, we cannot maintain the styles. You can also do the same more easily using primeflex.

[2021-06-04 05:39] #7117 closed, assigned to buunsal

[2021-06-04 06:32] asterisk360-admin commented on #7193
The way in PF 10 adds more tags in all columns for implement the global filter.
Its lots of work hidding all the filters of columns with css.

I'm think add a parameter "hideFilter" in column will be helpfull.

[2021-06-04 11:08] melloware commented on #7387
Closing until a reproducer can be provided.

[2021-06-04 11:10] melloware commented on #3457
@shahrulsiagainfo  MOVE_SCRIPTS_TO_BOTTOM should not have any effect on any code.  So when you say `z` is not working I have no idea what you mean.  But MOVE_SCRIPTS_TO_BOTTOM simply moves all your Javascript to the bottom of the page.

[2021-06-04 11:11] melloware commented on #7379
Looks like we aren't the only ones who had Chrome 91 issues: https://github.com/fullcalendar/fullcalendar/releases/tag/v5.7.2

[2021-06-04 11:23] buunsal commented on #7379
"Chrome 91 updates the way it renders tables on web pages. This change fixes known issues and brings Chrome closer to the behavior of other browsers, so we expect the impact to be minimal. However, you should test important workflows in your environment for unexpected issues. A full explainer is available https://docs.google.com/document/d/16PFD1GtMI9Zgwu0jtPaKZJ75Q2wyZ9EZnVbBacOfiNA/edit"

[2021-06-05 14:21] #7337 closed, assigned to melloware

[2021-06-06 10:30] jan-tosovsky-cz opened #7390 "FileUpload: pass files count in FileUploadEvent"
**Description**
If both advanced mode and multiple is set for FileUpload component, every file is uploaded separately via handleFileUpload(FileUploadEvent event)
However, it is not easy to determine which one is the last to trigger some subsequent action.

Currently I utilize remoteCommand, which passes the number of uploaded files to backend via FleUploaded onstart event.

[code]
Then in the back

[2021-06-06 10:41] tandraschko commented on #7390
Similar to: https://github.com/primefaces/primefaces/issues/3424

[2021-06-06 17:22] tandraschko commented on #3424
duplicate; we will add 2) in #7390

[2021-06-06 17:22] #3424 closed, assigned to nobody

[2021-06-07 12:41] doteo78 opened #7391 "Datatable: Row remains selected after clearing backing bean"
**Describe the defect**
Basic datatable with single selection: when a row is selected and an action that clears the backing bean selected row object is executed, the row remains selected in the browser.

This only happens when the datatable has declared the "rowSelect" event.

**Reproducer**
Run the attached project (mvn jetty:run) and visit http://localhost:8080/primefaces-test/. Then select a ro

[2021-06-07 12:52] tandraschko commented on #7391
@melloware @christophs78 do we have a integration test for this?

[2021-06-07 12:58] melloware commented on #7391
We have tons of selection tests.  Let me add this specific case and see.

[2021-06-07 18:45] melloware commented on #7387
I need to apply the same fix for #7362 InputMask for Calendar/DatePicker if using a mask.

[2021-06-07 19:04] educalize commented on #7362
In these cases the popup does not work either.

[2021-06-08 07:21] cnsgithub opened #7393 "SelectOneMenu: client side function selectValue() doesn't work before menu was opened"
**Describe the defect**
When calling the SelectOneMenu widget function [selectValue()](https://primefaces.github.io/primefaces/jsdocs/classes/src_primefaces.primefaces.widget.selectonemenu-1.html#selectvalue) before the menu was opened at least once, the function call fails.

[code]
It seems like ``this.items`` in [forms.selectonemenu.js:1114](https://github.com/primefaces/primefaces/blob/10.0.0/s

[2021-06-08 11:10] melloware commented on #7393
I think this was introduced with this issue: https://github.com/primefaces/primefaces/issues/6418

Looks like if `selectValue` is called an the items are empty it has to create the items.

[2021-06-08 13:58] melloware opened #7395 "MoveScriptsToBottom: Firefox flash of unstyled content (FOUC)"
**Description**
Optimizing a PrimeFaces app using the following tricks...

- PrimeFaces MOVE_SCRIPTS_TO_BOTTOM
- OmniFaces CombinedResourceHandler
- PrimeFaces Extensions CombinedResourceHandler Helper https://github.com/primefaces-extensions/primefaces-extensions/issues/293

Causes the Firefox Flash of Unstyled Content (FOUC) issue.   If you go to the PFE Showcase using Firefox: https://www.prime

[2021-06-08 14:42] Charriu83 commented on #7335
Hello again,
it was a problem with Jetty v10. We need some additions to get the file upload work properly:

[code]

Found here https://stackoverflow.com/a/51555219.

[2021-06-08 14:49] tandraschko commented on #7395
its related to the layout plugin, because it requires javascript to display correctly?
therefire it doesnt occur with pure css layouts?!

[2021-06-08 14:49] melloware commented on #7335
thanks for posting back about your issue and solution.

[2021-06-08 14:50] melloware commented on #7395
No that is just the example @stolp was able to verify it in all his apps as well as all of my client apps which do not use layout.  Its purely a FF issue because it renders the HTML before applying CSS if everything is deferred like we have it.  The PFE Showcase was just the easiest place to demo the problem.

[2021-06-08 14:52] melloware commented on #7395
Sorry forgot to mention you also have to be using all 3 optimizations above which removes PrimeFaces theme.css and JS code from headrenderer and also moves it to the bottom of the page deferred.

https://github.com/primefaces-extensions/primefaces-extensions/issues/293

[2021-06-08 20:21] educalize commented on #7387
Apparently the calendar and datpicker components are also having problems opening the date and hour and minute selection. Probably a related issue.

[2021-06-08 20:47] melloware commented on #7387
I am sure its all the same issue.  I have no issues at all when no mask is used.  It has to be related to the mask.

[2021-06-09 10:26] tandraschko opened #7397 "PickList: add ability to disable transfer on dblclick"
transferOnDblclick, default true

[2021-06-09 10:46] jepsar opened #7398 "Inplace: add keyboard support"
Output should be focusable and enter should trigger a click.

See also: https://stackoverflow.com/questions/67901875/how-to-tab-correctly-to-pinplace-component-in-jsf-so-screenreader-can-read-the

[2021-06-09 10:51] #7397 closed, assigned to tandraschko

[2021-06-09 13:12] #7387 closed, assigned to melloware

[2021-06-09 13:37] melloware commented on #7393
This MonkeyPatch will fix you up..

[code]

[2021-06-09 14:24] #7393 closed, assigned to melloware

[2021-06-09 14:25] #7395 closed, assigned to melloware

[2021-06-09 14:30] tandraschko commented on #7391
integration moved to this repo now, feel free to work on it :)

[2021-06-09 17:56] melloware commented on #7391
Failing Integration Test provided.

[2021-06-09 19:08] educalize commented on #7387
I downloaded the source code from the master. Generated primefaces-11.0.0-SNAPSHOT.jar. I installed it in my project and the components still have problems, not opening the popup to select the date and other features such as selecting the hour and minute. The previous problem, which was a problem with the use of a mask, has apparently been solved. It remains these problems that I reported.

[2021-06-09 19:26] melloware commented on #7387
Yep then you definitely have other unrelated issue.  Please create a PrimeFaces Test reproducer for me to debug that actually runs with `mvn clean jetty:run` or else there is nothing I can do.

[2021-06-10 07:12] arunvc opened #7406 "SelectCheckboxMenu: Option to have multiple columns"
**Description**

selectCheckboxMenu supports just single column, would be nice to have multiple columns like selectOneMenu

**Sample**
[code]

[2021-06-10 10:23] #7398 closed, assigned to jepsar

[2021-06-10 10:25] tandraschko opened #7408 "Showcase: add profiles for servlet containers"
in general the showcase pom/build needs some facelift
we should add a profile for servlet-containers, which contains the JSF+CDI etc. impls
so that one could also build the showcase for EE containers

also some readme improvements

[2021-06-10 10:33] jepsar opened #7409 "Inplace: Style .ui-inplace-display.ui-state-focus in themes"
Inplace display (output) nodes can now receive focus.

See #7405

[2021-06-10 12:08] melloware opened #7410 "Integration Tests: README.MD"
**Description**
The README.MD needs to be updated as currently nothing on it is correct.

For example running a single test does not work with

` mvn verify -Dit.test=org.primefaces.integrationtests.datepicker.DatePicker001Test`

In fact I am not sure the `verify` plugin is working at all without a failsafe plugin declaration. I tried...

`mvn verify -Pintegration-tests -Dit.test=org.primefaces.in

[2021-06-10 12:51] melloware commented on #7391
here is a workaround for now. Give your Datatable a widgetVar like `widgetVar="selectTable"` and then add this to your command button.

[code]

[2021-06-10 12:56] tandraschko opened #7411 "PickList: introduce transferOnCheckboxClick"
Currently the checkbox is just another visible hint for visualize the selection, which can be moved via buttons then or drag and drop.
A customer would like to directly move the item via click on the checkbox

[2021-06-10 13:01] #7411 closed, assigned to tandraschko

[2021-06-10 13:04] tandraschko commented on #7391
Did this work in 8.0?

[2021-06-10 13:05] stolp opened #7412 "Showcase: Let the user select the localization"
**Description**
The fact that PrimeFaces now comes with built-in localization should be made more prominent, so more localization input could be gathered from the community.

To test and verify localization files, it would be great if the showcase can be switched to other languages by the user.

**Describe the solution you would like**
I would like to see an additional selector (like the theme sel

[2021-06-10 13:09] jepsar commented on #7412
There is a locale selector in the right bar:

<img width="585" alt="Screenshot 2021-06-10 at 15 09 04" src="https://user-images.githubusercontent.com/7500178/121530560-d442f980-c9fd-11eb-9425-04bc219f89c9.png">

[2021-06-10 13:11] melloware commented on #7391
Looks like it did in 8.0 the selection is cleared.   Attached is 8.0 reproducer.
[pf-7391-80.zip](https://github.com/primefaces/primefaces/files/6631643/pf-7391-80.zip)

[2021-06-10 13:11] melloware commented on #7412
Yep I already added it as @jepsar pointed out!

[2021-06-10 13:11] #7412 closed, assigned to nobody

[2021-06-10 13:19] doteo78 commented on #7391
That's what I'm doing for now. Indeed I am checking if there were validation errors because I don't want to unselect the row if the action (business logic) could not be done. For example:

[code]

[2021-06-10 13:26] tandraschko commented on #7408
we should add a "servlet-container" profile and move all EE dependencies to this profile and activate by default

but we would also need the possibility to empty jsf-listener for EE and introduce a second filter prop cdi-listener

anyone interessted?

[2021-06-10 16:11] melloware commented on #7391
When I debug 8.0 vs 10.0 in the Javascript for `setupSelection` the `_selection` value holder has the value in 10.0 and does not in 8.0.

[code]

Investigating more.

[2021-06-10 16:23] melloware commented on #7391
I think its the SelectionFetaure does a `decode` but there is never anything on the `encode` that checks and re-valuates the selection and sets the `selectedRowKeys` value based on the user setting.

[2021-06-10 17:20] mafulafunk opened #7413 "DataTable: Column FilterFunction not being called"
Describe the defect
filterFunction of column in dataTable not called when

    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>

is set to "client"

Reproducer

https://github.com/mafulafunk/primefaces-test

Branch that works: master
Branch showing the issue: issue

Environment:

PF Version: 10.0.0
JSF +

[2021-06-10 17:22] melloware commented on #7413
Duplicate of https://github.com/primefaces/primefaces/issues/6987 already fixed in Elite 10.0.2

[2021-06-10 17:31] melloware commented on #7391
Figured it out. Thanks for the reproducer helping me debug it!

[2021-06-10 18:04] #7391 closed, assigned to melloware

[2021-06-10 18:11] melloware commented on #7406
Duplicate of https://github.com/primefaces/primefaces/issues/4696

[2021-06-10 18:11] #7406 closed, assigned to nobody

[2021-06-10 19:41] mafulafunk commented on #7413
Without further knowledge on to what Elite 10.0.2 refers to precisely

I retested with the 11 Snapshot build

I installed locally of the commit ebee2cc303dea786761a0b15a277529e94434ee7
of PrimeFaces main branch.
Problem still persists.

[2021-06-10 19:51] melloware commented on #7413
Your example works fine for me with 11.0.0-SNAPSHOT.
[pf-7413.zip](https://github.com/primefaces/primefaces/files/6634021/pf-7413.zip)

Sorting and Filtering both work fine.

[2021-06-10 20:01] melloware commented on #7413
Oh hang on I see what you mean. FilterFunction is not being called by the default `filterBy="#{customer.name}"` is being called.

[2021-06-10 20:07] melloware commented on #7413
Its actually got nothing to do with Client side state saving. FilterFunction is not being called is the real bug not that your table isn't filtering.

[2021-06-10 20:21] melloware commented on #7413
Integration Test proving the bug: https://github.com/primefaces/primefaces/pull/7415

[2021-06-11 05:36] cnsgithub commented on #7393
Thanks for the quick fix. I just tried it with a build that includes 5a5be48 and the selectValue() function now works as expected.

[2021-06-11 07:03] jepsar opened #7416 "Inplace: editor=true buttons not focusable in Safari"
**Describe the defect**
Inplace: editor=true buttons not focusable in Safari

<img width="273" alt="Screenshot 2021-06-11 at 08 59 44" src="https://user-images.githubusercontent.com/7500178/121644772-ba53f600-ca93-11eb-85df-3ae3f91223bd.png">

**Reproducer**
* https://www.primefaces.org/showcase/ui/input/inplace.xhtml
* Click "PrimeFaces" (under header "Edit")
* Press tab

**Environment:**
 - PF V

[2021-06-11 12:50] melloware commented on #7413
@Rapster any chance you can look at this?  I can see on page initialization its a proper `FunctionFilterConstraint` however when the filter is actually called i can see in the debugger its now a `StartsWithFilterConstraint` and the FunctionFilterConstraint is gone.

[2021-06-11 16:35] melloware commented on #7051
I am going to close this for now as its not supported and I am pretty sure it was not designed to be supported.

[2021-06-11 16:35] #7051 closed, assigned to nobody

[2021-06-11 16:37] melloware commented on #6410
This is currently not possible to use CSS to accomplish this as you have to know a fixed position of where the sticky will be.

[2021-06-11 16:37] #6410 closed, assigned to nobody

[2021-06-11 16:51] melloware commented on #2831
The crux of this issue is because its an IFrame when using the Dialog Framework there is no way to set `auto` width.

[2021-06-11 17:29] melloware commented on #7136
@wal-jan care to try and fix and submit a PR?

[2021-06-11 17:59] wal-jan commented on #7136
@melloware  as I wrote on 21 Apr

[2021-06-11 20:45] christophs78 opened #7419 "Development: multi-module + shade + IDE - issues"
Not a issue for PrimeFaces-users, but a issue for people working on this OpenSource-project.

IntelliJ does not understand shaded classes in multi-module-projects: https://stackoverflow.com/questions/30407065/getting-intellij-to-import-shaded-dependencies-in-a-multi-module-maven-project/30898810

Causes e.g. issues for showcase-module:
![image](https://user-images.githubusercontent.com/10461942/12

[2021-06-11 22:37] melloware commented on #7419
I have the same issue with Eclipse

[2021-06-12 00:09] Rapster commented on #7413
I can have a quick look at it

[2021-06-12 08:54] jepsar commented on #7416
Apparently this is an issue with Safari and buttons in general...
https://stackoverflow.com/questions/42758815/safari-focus-event-doesnt-work-on-button-element
https://gist.github.com/cvrebert/68659d0333a578d75372

With `[option]`+`[tab]` it does work (yeah.. really)

@melloware please remove the milestone

[2021-06-12 08:54] #7416 closed, assigned to jepsar

[2021-06-12 10:31] Species8372 commented on #6987
I am currently using Version 10.0.1, with server-side state-saving.

Changing Sortings by clicking on column-headers did not pass the information all the way to the lazy model.
The sort-information got lost in SortFeature.decode(), because the SortMeta.getComponent() was always null.

I removed the following lines in SortFeature.decode() and it is now behaving as i'd expect:

`
if (!(sortBy.getCom

[2021-06-12 11:18] christophs78 commented on #7419
Maybe we can create an optional maven-profile for showcase-module which tries to compensate this shading issues for our dev-environments.

[2021-06-12 11:58] #7413 closed, assigned to Rapster

[2021-06-12 12:03] melloware commented on #7419
I can't get Showcase or Integration Tests to work in the IDE so I have to in Eclipse use the option ""Maven -> Disable Workspace Resolution" so it doesn't hook the projects up instead it always uses the JAR from .m2.  This makes it work but then doesn't allow me to DEBUG PF code while running the IT or Showcase.

[2021-06-12 12:09] melloware commented on #6987
@Species8372 why not update to 10.0.2 since you are using 10.0.1 i believe it has this fix already in it?

[2021-06-12 12:10] melloware commented on #7416
Removed milestone and marked it WontFix since there is nothing we can fix.

[2021-06-12 12:43] melloware commented on #7413
Integration test now passing!  Thanks @Rapster

[2021-06-12 12:56] melloware commented on #7387
MonkeyPatch:

[code]

[2021-06-12 14:15] Species8372 commented on #6987
Thankx for the hint. I was not aware of the 10.0.2 - release as i have started the migration just before its release.
I can confirm the Sort is now working.

Thank you for your quick response, melloware

[2021-06-12 15:21] jepsar opened #7422 "EL function: closestWidgetVar should consider base"
If you for example would use `#{p:closestWidgetVar(component)}` directly in a `p:inplace` it will not find the `Inplace` widget.

[2021-06-12 17:33] tandraschko commented on #7422
Can you post a example?

[2021-06-12 17:53] jepsar commented on #7422
[code]
https://stackoverflow.com/a/67916584/880619

[2021-06-13 19:10] wal-jan opened #7424 "Showcase: missing dependency OWASP encoder"
**Describe the defect**
A fresh build showcase breaks on `/showcase/index.xhtml`

**Reproducer**
Not needed as it's reproducible with showcase.

**Environment:**
 - PF Version: _11.0_
 - JSF + version: _Mojarra 2.3.16_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/primefaces/primefaces.git; cd primefaces/primefaces-showcase
2. mvn cl

[2021-06-13 19:54] tandraschko commented on #7424
Duplicate of https://github.com/primefaces/primefaces/issues/7419
?
Actually it should be shaded

[2021-06-13 21:29] wal-jan commented on #7424
Sorry, yes it is a duplicate of #7419. In Netbeans I had open projects ``primefaces/primefaces`` and ``primefaces/primefaces-showcase``. Then mvn jetty:run does not work correct because Netbeans replaces primefaces.war with the resource in primefaces/primefaces/target directory (which does not reflect maven shade configuration). If I close project ``primefaces/primefaces`` the showcase works fine!

[2021-06-13 21:29] #7424 closed, assigned to nobody

[2021-06-14 09:10] #7422 closed, assigned to jepsar

[2021-06-14 15:25] susantaylorcollier opened #7426 "DataTable: Responsive Priority with Row Expansion"
I have an application where I have created a CSS page using the Primefaces Theme Designer. I did not make any changes to the CSS design, only created the CSS from the Arya theme dark (though I believe the problem happens with all the themes). The problem I am encountering is with the data table. I have a table where I use rowtoggler. When I apply the ResponsivePriority to columns and the columns a

[2021-06-14 15:26] melloware commented on #7426
Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2021-06-15 09:08] tandraschko commented on #7193
yep, we need a param for that. maybe with name:
1) hideFilter
2) globalFilterOnly

Maybe others

[2021-06-15 10:31] tuerker opened #7427 "DataTable: Numeric filters with option to select a comparator (=, !=, <, >, <=, >=)"
It would be really great if out-of-box numeric datatable filters would be supported such that you can enter a filter value together with the dynamic option to select a comparator (=, !=, <, >, <=, >=). This would massively enhance the usefulness of the table filters.

[2021-06-15 11:53] melloware commented on #7193
How about instead of `hideFilter` we use `filterDisplayed` with a default to `true` and you can hide it with `filterDisplayed="false"` that way it starts with the word "filter" so IDE's and our doc pages have it lined up with other filter props?

[2021-06-15 11:58] melloware commented on #7427
I think you are looking for something similar to how PrimeVue does it. See the example here: https://primefaces.org/primevue/showcase/#/datatable/filter  and click on the "Balance" column filter icon.

[2021-06-15 12:33] tuerker commented on #7427
yes, functionality-wise it is exactly that.

i would just prefer a different DEFAULT layout where you have the input field followed on the right end by a SelectOneMenu for the comparator selection. this would have the advantage that you can easily overview your entire filter criteria.

[2021-06-15 12:37] tuerker commented on #7427
actually, this is nearly the second variant, the Filter Row approach, of primevue. would be great if this could be available for primefaces, too. the primevue extension looks really very powerful and generic. props to the developers.

[2021-06-15 12:43] melloware commented on #7427
Up to PrimeTek or Sponsored by a PRO account. I doubt any of the open source volunteers will commit to this.

[2021-06-15 16:28] melloware commented on #5037
Also recently brought up on Stack Overflow: https://stackoverflow.com/questions/67989856/primefaces-datepicker-range-selection-with-time/67989910

[2021-06-15 17:36] melloware commented on #7426
I see the issue. The RowExpansion row is giving a static colspan="7" or however many columns are in the table.  When the responsive priority is triggered the colspan is not adjusted because unlike RowToggler this is not done with JavaScript so it can be adjusted the Responsive Priority is done with CSS and assigning style `ui-column-p-X`.

I don't think these two features were designed to work tog

[2021-06-15 17:51] susantaylorcollier commented on #7426
Well, since this has been marked won't fix I suppose that is that.  What I was trying to replicate was bootstraps way of handling responsiveness in tables.  When there are more columns than can be displayed, a small subset of columns are displayed and a plus/minus symbol allows the user to expand the row to see all of the data.

[2021-06-15 17:54] susantaylorcollier commented on #7426
I am trying to match reports to a company standard.  They use bootstrap, I am using primefaces with the bootstrap CSS.  Naturally, it does not provide all of the functionality of bootstrap so I am trying to figure out ways to mimic bootstrap functionality.

[2021-06-15 17:59] melloware commented on #7426
You could still replicate it.  But what you will need to do is with your "+" icon to show all columns you will have to loop over the columns and remove the Responsive CSS styles like `ui-column-p-2`  That should cause the browser to show them all.

Here is a JS code you could execute on your "+" sign.

[code]

This removes all the responsive priority styles from the columns so then it will display

[2021-06-15 18:10] susantaylorcollier commented on #7426
Wow.  Thank you so much for your response.  I am a back-end developer, thus very 'light' on javascript.  If you have the time, can you explain this prototype a bit more?  With that, I might be able to implement this and figure out what the code should be for the minus sign.

[2021-06-15 18:13] melloware commented on #7426
Just go here: https://www.primefaces.org/showcase/ui/data/datatable/responsive.xhtml

That is the Responsive example and shrink your browser until some columns dissapear.

Now press F12 to bring up the JavaScript console and paste the script above and hit ENTER.  You will see it apply that script and you should see your columns re-appear.

[2021-06-15 18:23] elab commented on #3108
I'm facing the same problem (end function of monitorDownload is not called) with **dataExporter**.
It looks like the [DataExporter is still setting the cookie named "primefaces.download"](https://github.com/primefaces/primefaces/blob/30596b9758e8db0c5f862e60d7532f68e87e2d9c/primefaces/src/main/java/org/primefaces/component/export/DataExporter.java#L222-L224).

Could you please look into?

PrimeFac

[2021-06-15 18:26] melloware commented on #3108
@elab I am seeing it generate the full cookie + VIEW ID.

![image](https://user-images.githubusercontent.com/4399574/122104392-9e2ebc80-cde5-11eb-9477-e5ddd0f804a0.png)

[2021-06-15 18:27] melloware commented on #3108
Oh sorry you are talking about DataExporter not File Download.  Can you please open a new ticket with the exact issue you are having?  Please provide a PrimeFaces Test reproducer as well.

[2021-06-15 18:31] susantaylorcollier commented on #7426
I guess my confusion is that in bootstrap, the plus sign is applied to each row, not the entire table.  So when the user presses the plus sign, the table is expanded (like in row expansion) and all the columns for that single row are displayed.  As a developer, I am so very sorry to bother you and really appreciate your help.  I do Java but must venture into the UI world with much trepidation.

[2021-06-15 18:32] melloware commented on #7426
Oh that is all custom in Bootstrap.  Bootstrap is doing all of that and the PF Datatable will not do that without you custom coding. I was just showing you what is possible.

[2021-06-15 18:38] melloware commented on #3108
@elab I just tested it and it works fine for me with DataExporter.  So I have a feeling you have something else wrong in your app.

[code]

[2021-06-15 19:33] melloware commented on #183
Closing as duplicate of this request: https://github.com/primefaces/primefaces/issues/2931  Or its similar enough...

[2021-06-15 19:33] #183 closed, assigned to nobody

[2021-06-15 21:29] elab commented on #3108
Thank you, @melloware, I found the difference: In my p:commandButton / p:commandLink there was the `ajax="false"` attribute. Removing it solves the problem :)

(The project is migrating from PF 8, where it was working, to PF 10.)

----
But why does the `ajax` attribute have impact? The documentation is not quite understandable to me.

The [Migration Guide 8.0 -> 10.0/DataExporter](https://primefac

[2021-06-16 00:07] melloware commented on #3108
It's not prohibited but Monitor download only works with Ajax requests so it can monitor the start and stop. Non Ajax request is a full request response the "stop" won't ever be signaled. Which explains why you were seeing the dialog never go away

And no Ajax attribute at all always defaults to TRUE for CommandButton. It's the default behavior.

[2021-06-16 09:17] tandraschko opened #7431 "DataTable: rowExpansion state lost after AJAX update"
This will require to remember the rowKeys, so a user must set the rowKey attr now

[2021-06-16 09:18] #2728 closed, assigned to tandraschko

[2021-06-16 09:18] #7431 closed, assigned to tandraschko

[2021-06-16 11:43] tandraschko opened #7432 "Release profile fails because of JS minification errors in moment-timezone-with-data.js"
@melloware can you take care of it?

[2021-06-16 11:49] melloware commented on #7432
Yep will take care of it.

[2021-06-16 12:26] tandraschko opened #7433 "Splitter: PF crash on IE11"

[2021-06-16 12:27] #7433 closed, assigned to tandraschko

[2021-06-16 12:35] melloware commented on #7433
HA I was just fixing the same thing cause it also breaks the release plugin.

[2021-06-16 12:43] #7432 closed, assigned to melloware

[2021-06-16 12:47] #7410 closed, assigned to nobody

[2021-06-16 16:41] melloware commented on #2568
Can't reproduce with latest Showcase and PF10.

[2021-06-16 16:41] #2568 closed, assigned to nobody

[2021-06-16 16:52] melloware commented on #2903
@cklaffke it looks like we are using `role="option"` which according to the ARIA spec is the correct role.  See: https://www.digitala11y.com/option-role/

Closing for now unless you have more info on why the screen reader is reading it this way or a suggestion for the correct ARIA attributes if you can figure them out.

[2021-06-16 16:52] #2903 closed, assigned to nobody

[2021-06-16 19:01] christophs78 opened #7436 "MenuModel: does not allow for p:ajax when e.g. used with DialogFramework"
For some (dynamic) usecases you may use MenuButton bound to a MenuModel which is generated programmatical.
When you open DialogFramework-Dialog from a MenuItem you want to react to this with something like
`<p:ajax event="dialogReturn" listener="#{dfView.onProductChosen}" update="growl"/>`

At this point we are currently IMO at a dead point.
Not sure whether there´s a way to solve this.

[2021-06-16 19:12] christophs78 opened #7437 "DialogFramework: resizeable is broken"
**Describe the defect**
Showcase; Dialog Framework --> Data
Modify DFView#chooseProduct
[code]

draggable works, resizeable has no effect

**Environment:**
 - PF Version: 11.0-SNAPSHOT
 - JSF + version: _e.g. Mojarra 2.2.20 or MyFaces 2.3.9_
 - Affected browsers: Firefox, Chrome, Edge (probably all)

[2021-06-16 20:06] melloware commented on #7437
Are you sure it's not the same as the other open resizable issue where it's actually a theme issue. Check the other ticket to see if it's related.

[2021-06-16 20:08] melloware commented on #7437
#7154

[2021-06-17 09:23] wlhUser opened #7438 "FileUpload: Broken in 10.0.2"
**Describe the defect**
File Upload is broken

**Environment:**
 - PF Version:  10.0.2
 - JSF + version:  Mojarra 2.3
 - Affected browsers: tested on Firefox, Chrome

**To Reproduce**
1. Open a page with a fileUpload component in 'simple' mode
2. Click the 'plus' button and select a file in the file browser
3. Nothing was selected !!
This worked perfectly in 10.0.1

**Usage**:
`<p:fileUpload mode=

[2021-06-17 11:39] stefan-dan opened #7439 "Menubar/TieredMenu: mobile detection click handling"
**Describe the defect**
On chromium based browsers and Safari, you should tap twice to open a submenu of a p:menubar, on Firefox it is working as expected. It's not a showcase bug, I can reproduce it on my private project.

**Reproducer**
Showcase: https://www.primefaces.org/showcase/ui/menu/menubar.xhtml

**Environment:**
 - PF Version: 10.0
 - JSF + version: Mojarra 2.2.20 or MyFaces 2.3.9
 - Af

[2021-06-17 12:11] melloware commented on #7439
Confirmed this behavior even on 11.0-SNAPSHOT.

[2021-06-17 12:18] melloware commented on #7439
Temporary fix:

[code]

You can't use "hover" which is the default when in Touch mode.  I am going to submit a fix that switches `toggleEvent="click"` automatically if a mobile browser is detected.

[2021-06-17 13:01] melloware commented on #7439
MonkeyPatch:

[code]

[2021-06-17 13:04] Rapster commented on #7438
Which impl: native, commons, auto? Any JS errors? Any exceptions?

[2021-06-17 14:05] wlhUser commented on #7438
I have to correct my data from the initial post:
- the problem occurs with the 'simple' mode - 'advanced' mode works fine
- no JS errors
- no exceptions

[2021-06-17 14:09] melloware commented on #7438
The only fix made in 10.0.2 was this one: https://github.com/primefaces/primefaces/issues/7352

[2021-06-17 14:35] wlhUser commented on #7438
Yes, seems to be related to #7352.
My usage of fileUpload is:
`<p:fileUpload mode="simple" skinSimple="true" value="#{bean.file}" />`
For the case of 'skinSimple' something had been changed in the ticket mentioned above.
In case I do **not** use 'skinSimple', it works fine - (but does not look that nice)

[2021-06-17 14:50] melloware commented on #7438
So we need a PrimeFaces Test reproducer that uses both #7352 and your scenario above and we then must test both to ensure both work.

[2021-06-17 15:14] zakhdar opened #7441 "FileUpload : action listener with FilesUploadEvent as parameter unrecognized"
**Describe the defect**
I'm using FileUpload in advanced mode (uploader = auto) to upload multiple files , i'm using for that the File**s**UploadEvent as parameters of my actionListener,  (i'm testing the code of primefaces showcase)

[code]

when i upload some files i get this error :

`listener="#{testBean.handleFilesUpload}": Method not found: class  com.test.TestBean.handleFilesUpload(org.prim

[2021-06-17 15:25] melloware commented on #7441
You are not following this example exaclty: https://www.primefaces.org/showcase/ui/file/upload/basicAuto.xhtml

[code]

Multiple with skinSimple="true is what triggeres the File(s) other than that its the singular File upload one at a time.

[2021-06-17 15:32] melloware commented on #7438
@wlhUser can you try this MonkeyPatch:

[code]

[2021-06-17 20:37] melloware commented on #7437
@christophs78 were you able to check if this is a duplicate of #7154 ?

[2021-06-17 21:43] zakhdar commented on #7441
Hi @melloware ,

thank you for your response after some test it's work when mode="simple" skinSimple is related to theming.

[2021-06-17 21:43] #7441 closed, assigned to nobody

[2021-06-18 04:48] anuragnz opened #7442 "FileUpload: upload to an API"
**Description**
Upload file to an API would be great.

**Describe the solution you would like**
We have a separate media server  where we like to upload all the media files to that without interfering and avoid slowing down the web application.
It would be great if we can directly upload files to an API and update the Jsf page to view those uploaded files as preview.

Would be great to have attrib

[2021-06-18 08:16] pmensalt opened #7443 "DatePicker: month/year navigator isn't updated correctly when using LazyDateMetadataModel"
**Describe the defect**
When using a DatePicker with month/year navigator, combined with a model (eg. for disabling days), the month/year selected values are reverted to the first elements in the lists. Eg. current year is 2021, the list is populated 10 years before and after the current year (2011-2031). The selected year will display as 2011, but internally, 2021 is still used, which is correct.

[2021-06-18 08:57] Rapster commented on #7442
The widget seems to have an option for that _(see url option)_: https://github.com/blueimp/jQuery-File-Upload/wiki/Options

If you can investigate how to integrate in PF, would be great

[2021-06-18 09:02] #6898 closed, assigned to melloware

[2021-06-18 10:33] mossaab0 opened #7444 "DataTable: Reflow Lost While Dragging Row"
**Describe the defect**
While dragging a row in a `p:dataTable` that has both `draggableRows` and `reflow` enabled, the reflow is lost for that particular row during the transition.
[code]

- The right side of the screenshot shows the row (highlighted in green) in the reflow mode.
- The left side shows the same row (highlighted in red) where the reflow is lost during dragging operation.

![dataTab

[2021-06-18 11:15] melloware commented on #7443
@jepsar can you investigate please

[2021-06-18 11:18] jepsar commented on #7443
Sure!

[2021-06-18 11:19] melloware commented on #7442
That is weird though because that is under AJAX options and AJAX is not allowed to send data except to the host system originating the page for security reasons?  So I wonder how this could possibly work?

[2021-06-18 11:21] melloware commented on #7442
Ahhh its a partial URL or relative URL.  I don't think it can send to a "different" server as requested above.  I am really not sure this would be possible.

[2021-06-18 11:22] melloware commented on #7443
Most likely its a JS change like calling setViewDate() or something that updates the UI.

[2021-06-18 11:24] melloware commented on #7444
I am not sure these datatable features were designed to work together.  Not all datatable features can be used together.

[2021-06-18 11:24] melloware commented on #7438
@wlhUser did you get a chance to try the above MonkeyPatch?  If it works for you I will submit a PR.

[2021-06-18 11:26] jepsar commented on #7443
Yeah, JS is where I was going to start.

[2021-06-18 11:40] Rapster commented on #7442
See https://github.com/blueimp/jQuery-File-Upload/wiki/Upload-directly-to-S3

Regarding security reason, that is up to your CSP policy and not AJAX don't you think?

[2021-06-18 11:47] mossaab0 commented on #7444
@melloware you mean this issue should be marked as a feature request?

[2021-06-18 11:49] melloware commented on #7442
Ahhh no it looks like the Form POST is to Amazon but the BlueImp uses JSON call to the local server at `/documents` to post its JSON config.  I have to admit I don't fully understand the BlueImp component but that would make sense if its POST/PUT the file to Amazon but the orchestration of the component is all local AJAX.

[2021-06-18 11:51] melloware commented on #7444
Yes i changed it to New Feature as these are currently not designed to be used together.  I doubt anyone in the community will work on it so most likely you would have to sponsor that feature via PRO or submit a PR.

[2021-06-18 12:09] wlhUser commented on #7438
Not yet, I'm happy that it works without simpleSkin.
I'll give feedback after I tried it.

[2021-06-18 12:48] wlhUser commented on #7438
Have tested the proposed code, and can confirm it works with  simpleSkin='true'.
(Added it at the end of my xhtml file and re-executed the init method of the fileUpload widget,)

Thanks melloware

[2021-06-18 12:49] melloware commented on #7438
Thanks for testing! I am fixing it now!

[2021-06-18 13:03] #7438 closed, assigned to melloware

[2021-06-18 13:13] melloware commented on #7444
@mossaab0 OK this MonkeyPatch looks big but can you try it and see if it fixes your issue?  Just add this script to your application JS file.

[code]

[2021-06-18 13:21] melloware commented on #7444
Oh nevermind.   I just tested it its working fine and the dragged row is dropped correctly right?  You are just saying while dragging the row the reflow is lost correct?  But everything works fine when its dropped right?

[2021-06-18 13:23] mossaab0 commented on #7444
@melloware while dragging, the same unwanted behavior happens (i.e., reflow is lost). After dropping, reflow is recovered. But, each column name gets duplicated for all rows. When I re-drag again, a third column name is added (for each column and row).

[2021-06-18 13:25] melloware commented on #7444
OK my fix is not necessary. All you are saying is the table looks funny while dragging right?  But after you drop eveyrthing looks correct right?

That is because when doing drag and drop a fake Helper row is rendered with HTML like this..
[code]

I don't think this is worth trying to fix while dragging if in reflow mode when its only whle you are dragging the rendering is off.

[2021-06-18 13:27] melloware commented on #7444
I thought you were originally saying the renderng of the table was wrong AFTER you dropped the row.  Its only message up while dragging.

[2021-06-18 15:03] mossaab0 commented on #7444
Your understanding is correct. But I disagree with your thinking. When the user drags the row and scrolls up/down to drop it, the row gets overflown horizontal, and most of the content of the row isn't visible to them anymore. That makes it difficult for the user to decide where to drop the row (e.g., they can't compare with the content of the other rows).

I understand that you might consider thi

[2021-06-18 15:05] melloware commented on #7444
Understood!  Well all the draggable code is there if you can figure it out we would gladly accept a PR!

[2021-06-18 15:54] mossaab0 commented on #7444
@melloware I think I have a better understanding of what's happening, and I believe it'd be an easy clean fix for somebody who is more experienced than I am (I'm not a front end person).

When the row is dragged, this `div` is created as an immediate child of `body` and becomes what the user is dragging:

[code]

Note that the children of the newly created div don't have any ancestor with `class=u

[2021-06-18 16:02] mossaab0 commented on #7444
@melloware copying the above `@media (max-width: 640px) .ui-datatable-reflow .ui-datatable-data td[role="gridcell"]` code to `.ui-sortable-placeholder td` gave an extra visual improvement.

[2021-06-18 16:04] melloware commented on #7444
Can you paste your exact CSS changes here in complete.

[2021-06-18 16:05] melloware commented on #7444
Or provide a PR.

[2021-06-18 16:13] mossaab0 commented on #7444
No. A mere CSS change would force the dragged row to appear in the `reflow` mode even when `reflow=false`.

Instead, the code that inserts `<div class="ui-sortable-helper"/>` as a child of `<body/>` should instead insert it as a child of  `<div class="ui-datatable-reflow"/>`.

I'm sorry. I don't know how to do it (for my use case, `reflow=true`, so I don't care about breaking the `reflow=false` ca

[2021-06-18 16:20] melloware commented on #7444
It was a CSS fix and you had to modify this right? `helperRow.appendTo(helper.find('tbody'));`Just trying to get to the bottom of what you are fixing but its hard to follow with all your comments and suggestions exactly what you are touching.

[2021-06-18 16:27] mossaab0 commented on #7444
I added the following to my CSS file. This forces the dragged row to appear in the `reflow` mode regardless of the value of `reflow` in `p:dataTable`.

[code]

[2021-06-18 16:37] melloware commented on #7444
So I think we need two things..

1. Change this line of code if `cfg.reflow`...

[code]
 to

[code]

2. Change the CSS to have the `ui-datatable-reflow` style.

[code]

[2021-06-18 16:51] mossaab0 commented on #7444
Before dragging, we currently have this structure:

[code]

While dragging, we currently get this structure:
[code]

Instead, I propose the following, which doesn't involve making any CSS change to `ui-sortable-placeholder`:

Solution 1:
[code]

Solution 2:
[code]

[2021-06-18 16:59] melloware commented on #7444
That DIV is created by the Jquery UI Sortable and its appended to body here.

[code]

See: https://api.jqueryui.com/sortable/#option-appendTo

[2021-06-18 17:02] mossaab0 commented on #7444
If I understand your comment correctly, you're perhaps suggesting we can do Solution 1, but not Solution 2. That's fine with me.

[2021-06-18 17:04] mossaab0 commented on #7444
Is this Solution 3 possible?

[code]

[2021-06-18 17:05] melloware commented on #7444
I don't think Solution 3 is possible.

[2021-06-18 17:06] mossaab0 commented on #7444
Well, if Solution 1 is possible, that should work, I hope!

[2021-06-18 17:08] melloware commented on #7444
well maybe 3 is possible.  Trying to determine that.

[2021-06-19 07:37] jepsar commented on #7443
@pmensalt thanks for reporting!

[2021-06-19 08:17] pmensalt commented on #7443
@jepsar Thanks for solving it!

[2021-06-19 12:14] melloware commented on #7443
@pmensalt I believe this MonkeyPatch will work if you want to try it right now...

[code]

[2021-06-19 12:25] pmensalt commented on #7443
@Melloware I confirm the patch works! Thanks for the very fast fix for this problem!

[2021-06-19 12:30] #7443 closed, assigned to jepsar

[2021-06-19 15:37] fcorneli opened #7447 "SelectOneMenu: not vertically centered"
When using `p:selectOneMenu` in for example an `h:panelGroup`, the component is not vertically centered as was the case on PrimeFaces 7 or 8.

See screenshots in attachment.

**Environment:**
 - PF Version: 10.0.2
 - JSF + version: Mojarra 2.3.14.SP04 (WildFly 23.0.2)
 - Affected browsers: all

**Example XHTML**
[code]

<img width="394" alt="Schermafbeelding 2021-06-19 om 12 10 06" src="https://us

[2021-06-19 20:23] christophs78 commented on #7437
Yes it´s the same issue like #7154.

[2021-06-20 11:48] melloware commented on #7437
Closing as duplicate.

[2021-06-20 11:48] #7437 closed, assigned to nobody

[2021-06-20 12:01] melloware commented on #7447
The problem is the PF themes have SelectOne with `vertical-align: baseline`.

Reproducer:
[pf-7447.zip](https://github.com/primefaces/primefaces/files/6682226/pf-7447.zip)

To fix this right now just add this CSS to your application:
[code]

![image](https://user-images.githubusercontent.com/4399574/122673279-aac46380-d19d-11eb-99eb-f31c552792c1.png)

[2021-06-20 16:00] fcorneli commented on #7447
@melloware The suggested fix indeed works. Thanks.

[2021-06-21 09:07] tandraschko commented on #7442
why not just upload the file in your controller to an API?

[2021-06-21 09:16] #7193 closed, assigned to melloware

[2021-06-21 10:35] morvael opened #7448 "DatePicker: Add support for fractions of a second"
To allow migrating some use cases from Calendar component, which is deprecated now, support for entering/selecting milliseconds should be added to DatePicker. It's a functionality that is present in Calendar, but not in DatePicker. While doing this, you may consider adding support for micro- or nanoseconds (any precision from 0 to 9).

[2021-06-21 12:33] melloware commented on #7448
I didn't realize the old Calendar allowed for partial seconds.   This would be a relatively large change i would think and the DatePicker is shared between PrimeVue, PrimeReact, etc so we could investigate if its been implemented in those other libraries but most likely this would need to be a PRO request or a PR.

Just out of curiosity what is your use case for allowing users to enter partial sec

[2021-06-21 12:57] morvael commented on #7448
Is it really that large change? java.util.Date supports millisecond precision (3), LocalDateTime supports nanosecond precision (9). So it's really just utilising the same types, simply one more input is needed which goes up down from `0` to `(10^precision)-1`, and uses the same types (so the converter may truncate extra data if the underlying type does not support enough precision).

In my use cas

[2021-06-21 13:02] melloware commented on #7448
I didn't investigate it I just assumed it would be a big change involving adding a new UI element and controls, validating all the server side code handles either millis (Java Date) or nano (Java Time) etc.  Probably a new property like `showFractional="true"` because most people won't want this enabled by default.

[2021-06-21 13:03] morvael commented on #7448
Yes, this should be disabled by default.

[2021-06-21 13:08] morvael commented on #7448
But it should be simple being a variant of seconds on/off support which is already there. So a copy/paste/replace process :)

[2021-06-21 13:21] melloware commented on #7448
Feel free to submit a PR!

[2021-06-21 13:32] morvael commented on #7448
I wouldn't even know where to start :) Just pointing missing functionality because of calendar deprecation as PF Elite user :)

[2021-06-21 13:41] melloware commented on #7448
Understood.  Then you are definitely not the judge of what changes should be "easy". 😄

[2021-06-21 13:44] morvael commented on #7448
Perhaps, I can only speak from general experience, sometimes adding a field is a chore if you have very many places to alter :)

[2021-06-21 14:43] Rapster commented on #7442
There can be a real advantage when you deal with big files, you're saving time by not copying the file on the webapp server, in few words: you're making one upload and not two. But if that's not the case, then I wouldn't bother... If copying is slowing down your webapp, the problem might be elsewhere...

[2021-06-21 15:27] RalfScania opened #7449 "Timeline: add event not called"
Primefaces: 10.0.2

Description of the bug
Timeline add event is not called

Steps to reproduce
Reproducer: https://github.com/RalfScania/primefaces-test-pf10

If you press on a free space in the timeline, following event is never called in. TestView.
[code]

This was working in 10.0.0

[2021-06-21 15:43] melloware commented on #7449
Thanks for the reproducer!

[2021-06-21 16:10] anuragnz commented on #7442
When lot of users concurrently uploading files then web application gets really slow. So directly uploading to another server via API would be ideal.

[2021-06-21 19:02] melloware commented on #7449
I think it might be this issue: https://github.com/visjs/vis-timeline/pull/1081 in Timeline 7.4.8 that was fixed in 7.4.9.  Let me try it.

[2021-06-21 19:11] melloware commented on #7449
Confirmed its fixed in Timeline 7.4.9

[2021-06-21 19:28] #7449 closed, assigned to melloware

[2021-06-22 06:13] jungm opened #7451 "Make String.prototype.replaceAll polyfill ECMA-262 compliant"
Current polyfill for String.prototype.replaceAll is not really compliant with [ECMA-262](https://tc39.es/ecma262/#sec-string.prototype.replaceall) and always assumes the string to be replaced is a regular expression.

This causes issues when InputNumbers use a period as the grouping seperator, resetting any kind of input to an empty string. To reproduce, open PrimeFaces showcase in Internet Explor

[2021-06-22 07:13] tandraschko opened #7453 "Selenium: Onload-Scripts are not executed after redirect"
Selenium provides no way to catch a redirect, therefore i would add this logic in our proxy

[2021-06-22 07:13] #7453 closed, assigned to tandraschko

[2021-06-22 08:04] tandraschko opened #7454 "Security: Rometools and Guava are vulnerable"
One or more dependencies were identified with known vulnerabilities in PrimeFaces:

guava-27.1-jre.jar (pkg:maven/com.google.guava/guava@27.1-jre, cpe:2.3:a:google:guava:27.1:*:*:*:*:*:*:*) : CVE-2020-8908
jdom2-2.0.6.jar (pkg:maven/org.jdom/jdom2@2.0.6, cpe:2.3:a:jdom:jdom:2.0.6:*:*:*:*:*:*:*) : CVE-2021-33813

See
https://github.com/OWASP/java-html-sanitizer/issues/226
https://github.com/rometoo

[2021-06-22 08:08] tandraschko commented on #7454
i skip provided dependencies now to fix the build

any help is welcome
java-html-sanitizer already upgraded the dependency, but no release
rome looks like they dont have enough commiters

[2021-06-22 08:09] GedMarc commented on #7454
guava 30.1.1-jre safe no issues
jdom safe as well

rometools upgrade which we tried needs an update to commons io, broke something on the build @melloware if i remember right?

[2021-06-22 08:14] tandraschko commented on #7454
rometools works fine on showcase

[2021-06-22 08:27] #7451 closed, assigned to nobody

[2021-06-22 08:45] tandraschko commented on #3501
will close it in favor of: #6690

[2021-06-22 08:45] #3501 closed, assigned to nobody

[2021-06-22 08:46] tandraschko commented on #6690
See: #3501

[2021-06-22 11:40] tandraschko commented on #3887
@melloware
do we have some integration tests about tree+treetable selection? i would like to implement this

[2021-06-22 11:50] melloware commented on #7451
Why did we add a second file and not just update core.polyfill.js?  To me its just adding more files unecessarily?

[2021-06-22 11:51] tandraschko commented on #7451
the polyfill isnt as small as others

[2021-06-22 11:53] melloware commented on #7451
If we go with this: https://github.com/primefaces/primefaces/issues/6956

This change won't be needed at all if we drop IE support.

[2021-06-22 11:55] melloware commented on #7454
Guava 30.1.1 has a lame issue open I have begged them to fix you can read about here: https://github.com/google/guava/issues/4011 I even submitted a PR that was rejected. Google says "they are thinking about it."

As for Rome Tools the latest version I thought there was an issue but that was a long time ago!

@tandraschko when can we switch on Dependabot?

[2021-06-22 11:57] melloware commented on #3887
I think we spent most of our time on Datatable tests I don't think we have many if any TreeTable tests.

[2021-06-22 11:57] tandraschko commented on #7451
yep, IF we drop
we dont have any decision yet by PrimeTek

[2021-06-22 12:02] melloware commented on #7449
@RalfScania looks like this was just released in 10.0.3 Elite if you want to give it a shot.

[2021-06-22 12:52] tandraschko commented on #3887
if anyone is interessted, some simple integration tests would be great

[2021-06-22 12:52] #3887 closed, assigned to tandraschko

[2021-06-22 15:06] RalfScania commented on #7449
Works as expected. Thanks!

[2021-06-23 07:55] tandraschko commented on #2831
@melloware so lets close it and add a hint to the docs?

[2021-06-23 08:16] tandraschko commented on #223
This can easily implemented via:

[code]

[2021-06-23 08:17] tandraschko commented on #223
is it worth to include those additional constructors?

[2021-06-23 09:28] Samuel-StO opened #7455 "OverlayPanel: Doesn't disappear when double clicking in input text"
**Describe the defect**
When you have an overlayPanel that needs to be displayed on a click event of an input box, sometimes the overlaypannel doesn't go away when we click elsewhere on the page

**Reproducer**
 Reproducer : https://github.com/Samuel-StO/primefaces-overlaypannel-issue

**Environment:**
 - PF Version: 10.0
 - Affected browsers:  ALL

**To Reproduce**
Steps to reproduce the behavior

[2021-06-23 11:50] melloware commented on #2831
That is a great idea. I will update the docs and close this ticket once i have updated.

[2021-06-23 11:57] melloware commented on #223
Not sure I love those constructors but could we add a new class that was `LazySelectableDataModel` ??

The new class would prevent breaking backward compatibility.

[2021-06-23 12:16] tandraschko commented on #223
TBH i dont like a new class
and the new constructors would just be optional

[2021-06-23 12:16] #2831 closed, assigned to melloware

[2021-06-23 12:18] melloware commented on #223
OK if they don't break backwards compatibility I am OK with it.

[2021-06-23 12:36] pmensalt opened #7457 "DatePicker: lazy load disabled dates when panel is opened"
**Describe the defect**
Lazy loading disabled dates was implemented in ticket #6355.
However, this doesn't work when opening the panel, no viewChangeEvent is fired. When changing months, the viewChangedEvent is fired correctly.

At the moment, when closing the panel, a viewChangeEvent is fired to set the the state of the dates of the current month to prepare the state the next time the panel is sh

[2021-06-23 12:45] jepsar commented on #7457
I don't understand your issue completely. Are you manipulating the date before opening the panel? The model is fetched for the set date when the component is rendered.

Also, I don't agree with firing events that don't relate to what is actually happening to fix an issue elsewhere. So we should only fire a view change when the view actually changes.

[2021-06-23 13:01] pmensalt commented on #7457
Let me explain my usecase:

I have many DatePickers on a page. Changing the value of any of them _might_ have an impact on the disabled days of the other ones.
At the moment, when I change a value of DatePicker 1, then the state of the disabled days isn't updated for DatePicker 2. However, opening, closing and reopening the panel of DatePicker 2 shows the correct disabled days (because a viewChang

[2021-06-23 13:17] pmensalt commented on #7457
In respond to your 2nd part of your message:
When the panel is opened, this can be seen as a viewChanged event, right? the view _is_ changed, something is added. This event is also fired when the panel is closed. In my opinion, this is the same kind of behaviour: Something is removed from the view, so a viewChanged event is fired. So to be consistent, a viewChangedEvent should also be fired when o

[2021-06-23 13:23] jepsar commented on #7457
I'm not sure if updating the lazy model on opening the panel should be default behavior. If we would add that, I think it should be at least an option.

That a view changed is triggered by closing the popup is a bug in my opinion.

@melloware WDYT

[2021-06-23 13:27] melloware commented on #7457
I am no quite sure if that is a bug or not but most things in DatePicker are done for a reason.   But its definitely possible its a bug.

[2021-06-23 13:30] pmensalt commented on #7457
In my opinion (if I understand it correctly how it works), the view is changed when closing the popup for a reason: When reopening the popup, the default month is again visible, so it should contain the state for that month. If it isn't updated when the popup is closed, then it is never updated (because it's also not updated when the popup is shown, because that's what I'm asking here)

[2021-06-23 13:50] potop commented on #7367
Can this bug be fixed within 10.0.1 release or smth?
We have just migrated our app to 10.0 and this issue is a blocker for us.
Will need to downgrade to 8.0 for now

[2021-06-23 13:55] melloware commented on #7367
@potop it has been marked with the "Elite" label so PrimeTek usually reviews those for Elite releases so hopefully it will go in 10.0.4.

[2021-06-23 14:33] jepsar commented on #7457
I see what you mean when you don't select a date. In that case the picker is reverted to the set date (one might argue if that is a good thing) and a view change event is appropriate. I would just leave the picker at the browsed to month and send no event.

If you do select a date, the view change is also fired, which I think is a bug, or at least inefficient.

I don't know if the behavior of both

[2021-06-23 14:34] melloware commented on #7457
I guess its an @mertsincan question?

[2021-06-23 15:17] melloware commented on #7455
Thanks for the reproducer. Can you try this MonkeyPatch:

[code]

[2021-06-24 08:40] tandraschko opened #7459 "DataTable: update DataTable with RowExpansion + ColumnGroups results in wrong colspan"
as columnCount currently also counts ColumnGroups

[2021-06-24 08:42] #7459 closed, assigned to tandraschko

[2021-06-24 08:48] #7455 closed, assigned to melloware

[2021-06-24 11:55] zhedar opened #7460 "InputNumber: focus on mouseover over empty fields, if symbol is used"
**Describe the defect**
If symbols are used, `p:inputNumber` focuses on mouseover.

![inputnumber-mouseover2](https://user-images.githubusercontent.com/6633403/123258564-cdcf7a00-d4f3-11eb-8923-f7f90da1b880.gif)

**Environment:**
 - PF Version: _10.0_
 - Affected browsers: _ALL_

**To Reproduce**
1.  hover of field
2. put cat on keyboard (alternatively: start typing)
3. hover of next fields
4. eve

[2021-06-24 12:04] zhedar commented on #7460
Just **after**  opening this issue, I discovered the seemly new `emptyValue` property, which defaults to `focus`. The behaviour from PF 8 is restored, when `emptyValue="empty"` is used. So I guess, this isn't a defect, but rather intentional.
It got me puzzled though. It seems, this behaviour doesn't appear, if no symbol is used.

[2021-06-24 12:09] Charriu83 opened #7461 "Button: outcome is overwritten by onclick"
**Describe the defect**
We have some p:buttons implemented as "cancel" buttons. They have an outcome an should navigate back to the list and releasing a dirty flag by a function in the onclick-Event. There is no navigation when the user clicks the button.

Wenn you inspect the component with the browser the onclick of the button only contains the onclick()-function and not the outcome. Debugging i

[2021-06-24 12:22] melloware commented on #7460
Yep its as designed in the InputNumber component. See this ticket: https://github.com/primefaces/primefaces/issues/6441

[2021-06-24 12:22] #7460 closed, assigned to nobody

[2021-06-24 12:44] christophs78 opened #7462 "Wizard: JS-API, add enable/disable-functions for back- and next-nav-buttons"
Wizard currently has JS-functions for
- hideBackNav
- hideNextNav
- showBackNav
- showNextNav

We may add similar JS-function´s to enable/disable back- and next-button.
- disableBackNav
- disableNextNav
- enableBackNav
- enableNextNav

Maybe refactor (or copy) parts of https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/resources/META-INF/resources/primefaces/forms/forms.butto

[2021-06-24 12:54] christophs78 commented on #7336
@tandraschko Maybe we can in future try to do such fixes via PR´s which we squash to one commit. This would make it way easier for PrimeTek to pick such fixes for a elite-release without  the risk of breaking something because they only select two of three commits or whatever.
Or someone else is confused at a later point when looking into the commit history of a class.

[2021-06-24 17:11] wal-jan commented on #7448
I'll try to create a PR. As @melloware already stated it is not at all trivial. The PR will only support millis (not micros nor nanos) since JS Date only supports milliseconds. `DatePicker` will be extended by 2 properties: `showMilliseconds` (default `false`, implicitly `true` if `pattern` contains upper case `S`), and `stepMillisecond` (default `1`).  The PR will contain changes in `primefaces`

[2021-06-24 17:58] melloware commented on #7448
@wal-jan that would be great.  and the Showcase is now part of this repo its a submodule.  As well are are integration test suite too.  So everything is all right here now!  A PR would be appreciated!

[2021-06-24 19:50] melloware opened #7464 "MindMap: Remove custom Safari Function"
**Describe the defect**
Mindmap in the showcase is currently failing with:

![image](https://user-images.githubusercontent.com/4399574/123323655-cfa13980-d503-11eb-9e7f-c558ec664ad6.png)

It's because of this call in mindmap.js which is no longer needed as it was pulled from Raphael because Safari finally fixed the real issue.

[code]

[2021-06-24 20:00] melloware commented on #7464
MonkeyPatch:

[code]

[2021-06-24 20:10] #7464 closed, assigned to melloware

[2021-06-25 07:52] Samuel-StO commented on #7455
The MonkeyPatch works well, thanks.

[2021-06-25 16:36] fcorneli opened #7467 "TabView: Update single tab"
When you explicitly set a tab to be updated, the tab content gets duplicated over all tabs.

**Environment:**
 - PF Version: 10.0.3
 - JSF + version: 2.3.14.SP04 (WildFly 24.0.0)
 - Affected browsers: all

**Example XHTML**
[code]

When clicking "Save" in the above example, the fieldset from tab2 will also show up under the tab 1.