[2022-04-28 12:20] melloware commented on #1152
Understood.  Just wanted to make sure you knew you were plugging one hole while the dam is still leaking all around you.

[2022-04-28 12:24] esternocleidomastoideo commented on #1152
the system has an expiration date but we really need to live up to the norm until it's gone forever.

[2022-04-28 12:28] felixoi opened #8726 "Overlays: Close on scroll of window"
**Describe the defect**
Dropdowns (used in MenuButton, SelectChecboxMenu, ...) stay open on scroll and overlay the topbar on the showcase for example.

![image](https://user-images.githubusercontent.com/14966472/165751863-2aaa1e08-cfb1-43dd-a405-a628be420789.png)

**Reproducer**
https://github.com/primefaces/primefaces/tree/master/primefaces-showcase

**Environment:**
 - PF Version: 11.0.0
 - PF T

[2022-04-28 12:29] jepsar commented on #1152
You can always overload the affected classes and patch them manually.

[2022-04-28 12:30] melloware commented on #8119
Reproducer:
[pf-8119.zip](https://github.com/primefaces/primefaces/files/8582690/pf-8119.zip)

The values are just submitted in the form in the order they are in the DOM currently.

[2022-04-28 12:32] jepsar commented on #8725
Please open a pull request for the fix. And a reproducer will still be needed to see if the fix fixes the issue.

[2022-04-28 12:34] melloware commented on #8726
I had fixed this before to close the dropdown upon browser scroll as requested by PrimeTek but it was reverted with this fix: https://github.com/primefaces/primefaces/issues/6978

I will fix it again

[2022-04-28 12:45] mertsincan opened #8727 "Add onShow callback option to Dialog Framework"
Client side callback to execute when dialog is displayed.

Exp;
[code]

[2022-04-28 12:46] #8727 closed, assigned to mertsincan

[2022-04-28 13:41] rjeq commented on #8725
Hmm, its a little hard to reproduce as it involves some timing issue and quick clicking / typing and slow backend,
we'll see if we get the time to dig further.

[2022-04-28 13:59] melloware commented on #8725
I submitted a PR for us to review with the changes above also so we could make sure all integration tests pass.

[2022-04-28 14:06] Nickath opened #8730 "Paginator: not synchronized in both paginators on 'ShowAll' selection option"
Rows per page number does not change in both paginators (bottom and top) on 'ShowAll' option only, is this a bug or I miss something?

I am using the following properties

`paginator="true"
 paginatorPosition="both"`

Primefaces version: **11.0.0**
JSF version: **2.2.20**

[2022-04-28 14:12] melloware commented on #8730
Looks like a bug I just replicated it using the showcase.

[2022-04-28 15:13] #8726 closed, assigned to melloware

[2022-04-28 15:32] melloware commented on #8724
Ahh this must be an Elite issue as in 11.0.0 it works correctly: https://www.primefaces.org/showcase/ui/misc/tag.xhtml

So this must have broken when they patched 11.0.3 I will mark it Elite.

[2022-04-28 16:51] ozziej commented on #8724
Thanks. I did specifically mention it was 11.0.3.

[2022-04-28 18:06] melloware commented on #8265
OK fixed it with this MonkeyPatch:

[code]

[2022-04-28 18:44] #8265 closed, assigned to melloware

[2022-04-28 18:44] #8719 closed, assigned to jepsar

[2022-04-28 18:45] #127 closed, assigned to melloware

[2022-04-28 22:28] melloware commented on #8173
Duplicate of https://github.com/primefaces/primefaces/issues/2270

[2022-04-28 22:28] #8173 closed, assigned to mertsincan

[2022-04-29 04:53] aripddev opened #8737 "Avatar: Missing title tag for tooltip information."
**Description**
Missing title tag for tooltip information.

**Example XHTML**
[code]

[2022-04-29 06:13] rjeq commented on #8725
This is great, will this come in the Elite subscriptions for 11 series ?

[2022-04-29 06:24] aripddev commented on #8737
PR has been created. https://github.com/primefaces/primefaces/pull/8738

[2022-04-29 06:45] rho66 opened #8739 "AutoComplete: dropdownMode not listed in Server API"
in Server API https://primefaces.github.io/primefaces/11_0_0/#/components/autocomplete the description for attribute dropdownMode is missing

[2022-04-29 07:46] #8739 closed, assigned to jepsar

[2022-04-29 10:20] melloware commented on #8725
I would keep using your patch for now.  I need some more people to review it and I need to study it further and maybe write an Integration Test for it.

[2022-04-29 10:58] #8724 closed, assigned to mertsincan

[2022-04-29 12:29] #8460 closed, assigned to melloware, jepsar

[2022-04-29 12:38] #8737 closed, assigned to aripdcem

[2022-04-29 18:29] hink084 opened #8741 "AutoUpdate: Multiple Events"
Extending Issue #5509

It would be nice to have the ability to attach multiple events to the AutoUpdate **"on"** attribute.

**Example XHTML**
[code]

**observer.xhtml - Showcase (Extension)**
[code]

**ObserverView.java - Showcase (Unmodified)**
[code]

**Demo:**
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/8594351/primefaces-test.zip)

[2022-04-29 19:04] melloware commented on #8741
Just verifying that there is a workaround does this work???

[code]

[2022-04-29 19:48] hink084 commented on #8741
I attempted to do that but could only get the first event to attach.  I have attached a demo.

**Demo**
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/8594351/primefaces-test.zip)

[2022-04-29 19:52] melloware commented on #8741
OK just checking thanks for the update!

[2022-04-29 20:03] #8725 closed, assigned to melloware, rjeq

[2022-04-30 14:09] melloware opened #8743 "Core: FullAjaxExceptionHandler does not show error page when exception is thrown during ajax request"
**Describe the defect**
Original report on OmniFaces: https://github.com/omnifaces/omnifaces/issues/686

**Reproducer:**
[pf-8743.zip](https://github.com/primefaces/primefaces/files/8597485/pf-8743.zip)

Run `mvn clean jetty:run` and click "Send AJAX Error".

**Environment:**
 - PF Version: _11.0.0_

Analysis done by @BalusC in that ticket should be implemented.

[2022-04-30 14:17] melloware commented on #8743
I think this issue BalusC is referring to is here:

[code]

[2022-04-30 14:47] #7901 closed, assigned to melloware

[2022-04-30 14:50] melloware opened #8744 "ToggleSwitch: Theme change for icon support"
**Description**
Mert we implemented: https://github.com/primefaces/primefaces/issues/7901

PR: https://github.com/primefaces/primefaces/pull/8322

I have a showcase example already built for you to make the necessary theme changes...

![image](https://user-images.githubusercontent.com/4399574/166110429-5599638e-d3e0-4cd2-86c0-a7c9e4e65ceb.png)

Some suggested CSS changes will be required like...

[2022-04-30 18:01] tandraschko commented on #8743
Need to check it
It should not fail and ist there since years

[2022-04-30 18:42] melloware commented on #8743
Yep i created a reproducer for you to check it out.

[2022-05-01 06:55] jepsar opened #8746 "AutoComplete: multiple inline load indicators are shown (on slow queries)"
Queries are not processed sequentially, but parallel. This results in multiple load indicators if you trigger multiple simultaneous queries.

[2022-05-01 07:19] fcorneli commented on #8574
Just got bitten by this one again, this time when the Galleria (even with images) was not rendered anymore upon an update.

[2022-05-01 07:26] jepsar opened #8748 "UICommand: multiple inline Ajax status icons with disableOnAjax="false" and async="true""
For example, change the showcase to

[code]

[2022-05-01 12:16] melloware commented on #8574
@fcorneli is this a new issue or the MonkeyPatch above solves it?

[2022-05-01 12:28] #8746 closed, assigned to jepsar

[2022-05-01 12:58] #8748 closed, assigned to jepsar

[2022-05-01 14:56] fcorneli commented on #8574
MonkeyPatch solves it too, but you may not forget about it of course. :)

[2022-05-02 02:56] mertsincan opened #8751 "DataTable scrollable and reflow not working smoothly"
Reported By PRO User;

The combination doesn't seem to work smoothly, as the view port of the scrollable area remains unchanged when the browser windows size is reduced.
You can confirm that on the PF show case:
http://primefaces.org/showcase/ui/data/datatable/scroll.xhtml => first table vertical scroll

[2022-05-02 02:56] #8751 closed, assigned to nobody

[2022-05-02 04:25] mertsincan opened #8752 "Add primefaces.HIDE_RESOURCE_VERSION configuration"
Determines whether to hide version information in resource paths.
[code]
Default resource path;
core.js.xhtml?ln=primefaces&v=11.0.0
If true, resource path;
core.js.xhtml?ln=primefaces

[2022-05-02 04:26] #8752 closed, assigned to mertsincan

[2022-05-02 04:57] AzharMobeen commented on #8232
Dear @melloware
I think I'm also facing the same issue while printing it's not keeping the page formating:
[Please check your official link](https://www.primefaces.org/harmony/invoice.xhtml)

I'm using PF 11 and Harmony 4.1.0. I have checked all the themes have the same issue could you advise.

**I have also tested with primefaces version 10 and it's working fine** but I don't want to downgrade PF

[2022-05-02 11:52] melloware commented on #8232
@AzharMobeen this has been fixed for 12.0.0.  The best workaround you can do for 11.0.0 is to create your own PrinterBehavior and copy the code from PF.

See: https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/java/org/primefaces/behavior/printer/PrinterBehavior.java

[2022-05-02 12:22] melloware opened #8753 "Carousel: Swipe not working on mobile"
**Describe the defect**
Reported on forum: https://forum.primefaces.org/viewtopic.php?f=3&t=72282

Carousel swipe events are not working on mobile devices.

**Reproducer**
You can use the Showcase in Chrome mobile emulation to see the issue

**Environment:**
 - PF Version: _10.0.0_
 - Affected browsers: _ALL_

[2022-05-02 13:08] #8753 closed, assigned to melloware

[2022-05-02 16:01] AzharMobeen commented on #8232
@melloware Thanks for your reply. Actually I never did this bofore. Could you please tell me how I need to do use this or simply copy this class **PrinterBehavior.java** into my source code will it work out ?

[2022-05-02 16:02] tetzla commented on #6592
I'm a little bit confused: This ticket is closed, but according to the documentation the feature "MultiViewState" is not supported for the component "TreeTable": https://primefaces.github.io/primefaces/10_0_0/#/core/multiviewstate

Could you please add this feature? DataTable and TreeTable should behave as identically as possible.

[2022-05-02 17:42] melloware commented on #8232
1. Copy the class to lets say `com.yourproj.PrinterBehavior`.

2. Change this line...
[code]
to your downloaded version in your WAR of  `jquery.Print` version 1.6.2

3. in your `faces-config.xml`

[code]

[2022-05-02 17:51] melloware commented on #6592
@tetzla can you open a new ticket for TreeTable MVS support please.

[2022-05-02 18:17] AzharMobeen commented on #8232
I tried to add <behavior> tag in faces-config.xml but it's giving error:
**Element behavior not allowed here**

It would be great if you could share some example.

[2022-05-02 18:30] melloware commented on #8232
When in doubt reference PrimeFaces: https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/resources/META-INF/faces-config.xml

That faces-config.xml has it correctly

[2022-05-02 18:46] melloware commented on #8232
Here is a fully working sample project:
[printer-override.zip](https://github.com/primefaces/primefaces/files/8605392/printer-override.zip)

Just unzip it and run `mvn clean jetty:run` and go to localhost:8080/primeface-test to see it in action

[2022-05-02 18:49] AzharMobeen commented on #8232
Thanks @melloware I did all above changes and it's working fine. Is there any tentative date for PF 12 ?

[2022-05-02 18:52] melloware commented on #8232
no date that I know of its when PrimeTek feels like releasing.  They mentioned trying to release every 6 months which would make June the target.

[2022-05-02 19:03] melloware commented on #8492
Runnable workaround:
[printer-override.zip](https://github.com/primefaces/primefaces/files/8605468/printer-override.zip)

Just run `mvn clean jetty:run`

[2022-05-03 05:52] AzharMobeen commented on #8232
Okay @melloware, Thanks for your quick help.

[2022-05-03 06:26] tetzla opened #8756 "TreeTable: MultiViewState Support (MVS)"
**Description**
Please add MultiViewState support to component TreeTable. It's currently quite cumbersome and inconsistent to store the tree state explicitly within the view bean.

**Describe the solution you would like**
see https://primefaces.github.io/primefaces/12_0_0/#/core/multiviewstate

**Tasks**

- [ ] Selection
- [ ] Expansion
- [x] Sorting
- [x] Filtering
- [x] Column (resize, display,

[2022-05-03 06:27] tetzla commented on #6592
see https://github.com/primefaces/primefaces/issues/8756

[2022-05-03 06:39] arnis87 commented on #8708
@mertsincan Seems this is described as high level vulnerability. I was expecting this to be in elite release .4 for version 11, it should surely end up in next one.

[2022-05-03 06:41] tandraschko commented on #8756
It would be great If you can sponsor it via PrimeFaces PRO or provide a PR

[2022-05-03 08:48] #8743 closed, assigned to tandraschko

[2022-05-03 09:23] #8741 closed, assigned to tandraschko

[2022-05-03 15:38] melloware commented on #8430
@jepsar I can focus on the inputs in inline mode fine?   I just can't select them with the keyboard. Which is basically #4685

Are you saying you can't even TAB to them?  Because I can TAB to them fine?

[2022-05-03 16:26] melloware commented on #8520
OK submitted PR basically handling the 4th case ` CSP="reportOnly" and CSP_REPORT_ONLY_POLICY="report-uri /csp-violation-report-endpoint/"`

[2022-05-03 16:54] jepsar commented on #8430
@melloware I've updated the description of the issue with a reproducer. Just tested it with the latest version and it is not working for me. I can focus the arrows, but I cannot focus the inputs.

The other issue is broad. I guess it mainly is about popup, as inline is pretty okay already.

[2022-05-03 16:57] melloware commented on #8430
Ohhhh sorry I thought you meant the arrows now the inputs.  Thanks for the update!

[2022-05-03 17:35] melloware commented on #8430
to make this consistent with all the other tabindexes in DatePicker they all should be 0 so you tab in order.  That was the cause of this issue

[2022-05-03 17:48] jepsar commented on #8430
I think that it was done intentionally to fix a Firefox issue. I'll need to dive in the history to check, but I think it was added by @christophs78

[2022-05-03 17:49] melloware commented on #8430
yeah the whole component needs 508 review in https://github.com/primefaces/primefaces/issues/4685

[2022-05-03 19:23] melloware commented on #8430
Tested in Firefox and it seems OK so let me know what you find out.  PrimeReact does not have this feature so I have nothing to compare against.

[2022-05-03 22:08] melloware commented on #7820
Duplicate of: https://github.com/primefaces/primefaces/issues/1435

[2022-05-03 22:08] #7820 closed, assigned to nobody

[2022-05-04 11:36] AzharMobeen commented on #7898
Hi Everyone,

Anyone know how to use Speeddial in datatable ? WRT each row wise some actions. I have tried to use but it's showing blank column.

[2022-05-04 11:45] mertsincan commented on #7898
Hi @AzharMobeen,

SpeedDial has 'position:absolute'. You should add position: relative to columns' style.

Best Regards,

[2022-05-04 12:18] AzharMobeen commented on #7898
@mertsincan thanks for your reply.

I tried it's position stil not properly align, after alot of css changes I was able to align in column but still I'm not happy becuase of custom css changes. Ideally when we we want to use in column it should be done by himself as splitbutton is doing.

main css changes for:

- Direction.
- number of menu iteam
- size fo the main button
- ans so on.

[2022-05-04 12:35] melloware commented on #7898
@AzharMobeen can you post your CSS for others to see who may have the same use case?

Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project showing your results would really help!

[2022-05-04 12:39] jepsar commented on #7898
@AzharMobeen please open a new issue for this

[2022-05-04 12:40] AzharMobeen commented on #7898
I'm preparing example but meanwhile could you please tell me the process I mean I should create seperate issue or in this chat we can continue ?
What is the normal flow if I want to discuss any primefaces component ?
How can I contribute to any component please share guide lines as well.

[2022-05-04 12:41] AzharMobeen commented on #7898
@jepsar Sure

[2022-05-04 12:51] #8520 closed, assigned to melloware, cnsgithub

[2022-05-04 12:55] jepsar commented on #7898
To discuss use https://forum.primefaces.org/viewforum.php?f=3&sid=4404edb5b273e9174e7c7c70597b3a54 or https://discord.com/channels/787967399105134612/787967662293909524 or simply open a new issue

To contribute see https://github.com/primefaces/primefaces/blob/master/CONTRIBUTING.md

[2022-05-04 13:24] melloware commented on #4186
Can't reproduce with PF11 so this issue looks like its resolved:
[pf-4186.zip](https://github.com/primefaces/primefaces/files/8620688/pf-4186.zip)

[2022-05-04 13:24] #4186 closed, assigned to nobody

[2022-05-04 13:25] AzharMobeen opened #8760 "SpeedDial: Not working properly in DataTable column"
**Describe the defect**
When we try to use SpeedDial in Datatable column it's having display and alignment issue

**Reproduced**
I have created fork repository on top of [primefaces-test](https://github.com/primefaces/primefaces-test.git). Please clone [my fork](https://github.com/AzharMobeen/primefaces-test) that and run as per primefaces-test README.

**Environment:**
 Same as [primefaces-test](

[2022-05-04 13:26] AzharMobeen commented on #7898
@jepsar Thanks man
I have created [new issue](https://github.com/primefaces/primefaces/issues/8760) with [example project](https://github.com/AzharMobeen/primefaces-test).

[2022-05-04 13:50] melloware commented on #8760
Can you include your CSS here that you used to fix your issue locally.

[2022-05-04 15:46] melloware commented on #7858
@fanste does this still happen? I just tried in the showcase page using the exact steps you did in Chrome and Edge and can't get it to happen?  Just making sure I am not doing something wrong or its possible a Chrome bug was resolved?

[2022-05-04 16:44] AzharMobeen commented on #8760
I have change SpeedDial diraction to left and added below css, It could be temporary solution :
[code]
[code]
<img width="875" alt="image" src="https://user-images.githubusercontent.com/18392008/166731415-0a246bbd-f812-4add-a221-02ce38b0f602.png">
<img width="897" alt="image" src="https://user-images.githubusercontent.com/18392008/166732028-7413f578-97e4-478a-a6f8-409557d1ee40.png">

[2022-05-05 10:47] pizzi80 commented on #8674
You should consider to push this to JSF (mojarra/myfaces)
because a lot of people use jsf + omnifaces + primefaces ...

As I said many times in mojarra's and omnifaces' repo,
JSF it's a mature project now and developers expect somenthing that works out of the box ;)

[2022-05-05 11:14] fanste commented on #7858
https://github.com/primefaces/primefaces/blame/16fad745ba4f5a222a05af9105db5804d6035df1/primefaces/src/main/resources/META-INF/resources/primefaces/forms/forms.css#L118

Fixed with #7884 => PF version 11

[2022-05-05 11:14] #7858 closed, assigned to melloware

[2022-05-05 11:40] melloware commented on #7858
Nice find!

[2022-05-05 15:48] melloware commented on #1308
Also linking this ticket: https://github.com/primefaces/primefaces/issues/1927

Forum Post: http://forum.primefaces.org/viewtopic.php?f=26&t=44044

Generalized this ticket to PickList needs mobile support

[2022-05-05 15:49] melloware commented on #1927
Closing this as duplicate of https://github.com/primefaces/primefaces/issues/1308

Which calls for general mobile support of picklist

[2022-05-05 15:49] #1927 closed, assigned to nobody

[2022-05-06 08:54] mertsincan opened #8763 "Scroll position is wrong after items are filtered on selectOneMenu"
Reported By PRO User;

[2022-05-06 08:54] #8763 closed, assigned to mertsincan

[2022-05-06 14:40] ingeniotechnologies opened #8764 "DataTable: Nested Table in RowExpansion with Splitbutton issue"
### Describe the bug

To reproduce, add a main datatable and in its rowexpansion tag, add another datatable with selectionMode='single'.

[code]
the testing methods in the bean are just

[code]

The first issue has to do with the selection of the subitem row when clicking or entering slplitbutton. If I click on the center of the dropdown button of the splitbutton, the subitem row gets correctly se

[2022-05-06 15:05] melloware opened #8765 "Core: Prevent duplicate IDs in DOM"
### Describe the bug

PrimeFaces has a few places where duplicate IDs are present in the DOM.  This issue is to track all of them in 1 spot.  Most of the time its in places where PF uses `UIColumn` to iterate over some advanced rendering but not always.

**Why is it bad?**
https://softwareengineering.stackexchange.com/questions/127178/two-html-elements-with-same-id-attribute-how-bad-is-it-really

[2022-05-06 15:06] melloware commented on #7765
Created new tracking issue: https://github.com/primefaces/primefaces/issues/8765

[2022-05-06 15:07] melloware commented on #7763
Closing in favor of this tracking ticket: https://github.com/primefaces/primefaces/issues/8765

[2022-05-06 15:07] #7763 closed, assigned to melloware

[2022-05-06 15:07] melloware commented on #7767
Closing in favor of this tracking ticket: https://github.com/primefaces/primefaces/issues/8765

[2022-05-06 15:07] #7767 closed, assigned to melloware

[2022-05-06 15:08] melloware commented on #3781
Closing in favor of this tracking ticket: https://github.com/primefaces/primefaces/issues/8765

[2022-05-06 15:08] #3781 closed, assigned to melloware

[2022-05-06 15:11] ingeniotechnologies commented on #8764
I spoke too soon, I still don't have the woraround working 100%. I have some issues with the subitem row selection; which is critical to take action from the split botton on the correct subitem. Still working on making it work...

[2022-05-06 15:20] melloware commented on #8764
Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-05-06 15:39] #8430 closed, assigned to melloware

[2022-05-06 15:45] ingeniotechnologies commented on #8764
I would also be nice if primefaces added this as an example in showcase. It seems to be a pretty common thing developer want to do. And this way, primefaces would notice any issues.

[2022-05-06 15:46] melloware commented on #8764
i think nested datatable is an uncommon thing and I never recommend it as a UI practice.  That is just me personally.

Also PrimeTek has stopped advertising `SubTable` as well even though the code is still in there you won't find any showcase examples.

[2022-05-06 16:10] ingeniotechnologies commented on #8764
I think this is what "DataTable Row Group" tries to address. If you look at that example in showcase, that data would come from two tables, a representatives table and a customers? table. Except in that example, data comes from possibly two join tables... In my opinion, there should be a subtable there that should be populated with representative.customers.

[2022-05-06 16:18] melloware commented on #8764
But that is RowGrouping which is a perfectly understandable use case.    Why not just create the POJO representing your rows in your backing bean to have the data from your two tables and represent it in Row Grouping if that is all your are trying to do?

it looks like the only value you need to repeat is the `#{item.name}` and make that the Row Grouping to give you that Nested table look?

Your e

[2022-05-06 16:43] ingeniotechnologies commented on #8764
I thought about doing just that, but I need to be able to execute some actions on row header and other set of actions on subitems. I'll give that a try, looking at the example again, looks like I can place my action buttons in row header and other action buttons in the subitems... Thanks!

[2022-05-06 16:45] melloware commented on #8764
Yep you should totally be able to do that. Let me know how it goes!

[2022-05-06 18:52] ingeniotechnologies commented on #8764
hi @melloware hmm, I just got the project back to working using just a single datatable with header row, but the weirdest thing is happening. So I load a single item from dataset and it properly creates the expandable header row with its action buttons and a simulated subrow with its other set of action buttons. The issue arises when I then add new row and try to display the table. It then gives a

[2022-05-06 18:53] melloware commented on #3476
I know why this is.  This is just like #2206 except the HeaderRow is just rendering its contents.

[code]

EncodeAll is just rendering its components and one of those is <p:column> so its rendering another `<TD>` which throws everything off.    Not sure there is any good way to fix this other than switch your PanelGrid to `<div>` layout with PrimeFlex.

[2022-05-06 18:55] melloware commented on #8764
Wait you are calling "AddRow" ?   Also check your "rowKey" and your objects equals() and hashcode() are correct?  Maybe its having trouble distinguishing your second row for uniqueness?

[2022-05-06 18:55] ingeniotechnologies commented on #8764
yup, that makes sense, I'll check it out

[2022-05-06 18:57] melloware commented on #8764
Maybe also make sure its Serializable object.

[2022-05-06 20:05] ingeniotechnologies commented on #8764
thanks! it was a typo, I entered p:headerRow field="item.name" instead of just p:headerRow field="name"

[2022-05-06 20:11] ingeniotechnologies commented on #8764
Ok, so far so good. I still have to figure out a few things. for instance, the action buttons in header rows still need to 'know' which header buttons are being clicked since it appears these headers are not selectable. once I figure that out, I think this would work.

[2022-05-06 20:53] melloware commented on #8764
And I actually think this is a much cleaner much less heavy solution than nested tables.

[2022-05-06 21:14] ingeniotechnologies commented on #8764
Absolutely, thanks a lot!

[2022-05-06 22:25] ingeniotechnologies commented on #8764
Hi again @melloware, something related to this whole thing. my splitbutton  is located as follows `h:form->p:tabView->p:tab->p:panel->p:dataTable->p:column->p:splitButton`. I believe menuitem link commands are not being executed because splitbutton   is buried too deep. is there a way to overcome this?

[2022-05-06 22:38] melloware commented on #8764
No I feel like it might be a bug. That should be ok.  Let me put together a little test case and see. I will post back here what I find out.

[2022-05-07 00:47] ingeniotechnologies commented on #8764
@melloware I started removing and rearranging html code. what seemed to be causing the issues were a bunch of p:dialog and p:confirmDialog code I had. I then removed the global form and added a separate form inside each p:tab as follows: `p:tabView->p:tab->p:panel->h:form->p:dataTable` and while the p:dialog and p:confirmDialog resided inside this form, the p:splitButton menu actions would not wor

[2022-05-07 06:46] christophs78 opened #8767 "Dialog Framework: fitViewport not recognised"
### Describe the bug

fitViewport is documented and sent to the client, but the client-side JS does not recognize it.

### Reproducer

enhance primefaces-showcase/src/main/webapp/ui/df/viewProducts.xhtml

[code]

and enhance primefaces-showcase/src/main/java/org/primefaces/showcase/view/df/DFView.java
[code]

### Expected behavior

there should be a vertical scrollbar

### PrimeFaces edition

Comm

[2022-05-07 11:51] melloware commented on #8764
I wonder if there was just too much in the `<h:form>` and something was colliding.  As a general rule I always put my dialogs in their own `<h:form>`.   Plus if you hve dialog inside table rows that HTML gets repeated OVER and OVER in the DOM rather than 1 dialog outside your table that you just update before showing with the row data.

So do you have it all working now?

[2022-05-07 11:53] #604 closed, assigned to melloware

[2022-05-07 11:54] melloware commented on #8764
I am going to close this ticket for now since it seems you have solved your issues.

[2022-05-07 11:54] #8764 closed, assigned to nobody

[2022-05-07 12:24] melloware commented on #8730
MonkeyPatch to fix it:

[code]

[2022-05-07 14:39] #8730 closed, assigned to melloware

[2022-05-07 14:40] melloware commented on #8708
@arnis87 this will be in 11.0.5

[2022-05-07 15:27] ingeniotechnologies commented on #8764
Thanks for everything!

[2022-05-07 15:32] melloware commented on #3476
Going to close this now as WontFix

[2022-05-07 15:32] #3476 closed, assigned to nobody

[2022-05-07 17:18] melloware commented on #8472
I am actually moving this ticket under: https://github.com/primefaces/primefaces/issues/7813

[2022-05-07 17:31] melloware commented on #7590
in PF 12.0 with this ticket: https://github.com/primefaces/primefaces/issues/8620

The sort indicators are cleared now and reset upon the update which is better.  If you then use `mutliViewState="true"` to remember your sorts and filters you still get the same behavior above with the frozen columns keeping their sort indicators but the non-frozen column not.

[code]

[2022-05-07 17:35] melloware commented on #5005
I can't reproduce this in 12.0. If you can reproduce it in 12.0 please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

I will re-open if you can provide that.

[2022-05-07 17:35] #5005 closed, assigned to nobody

[2022-05-08 23:15] ingeniotechnologies commented on #8764
hi @melloware, everything is looking good, I would just like to ask one last question. since with this implementation, I'm using a read-only entity because it comes from joined tables and/or subtables, actual data changes to both database and sets are made to original item/subitem updatable entities and don't reflect back to the read-only entity. is there a way to force reloading data on datatable

[2022-05-09 08:43] brivalin commented on #8708
Hello,
Which versions are affected by this vulnerability ?
Is it Primefaces 11 only ?

[2022-05-09 11:36] melloware commented on #8708
Well if its any Moment.js below 2.29.3 then theoretically every version of PF below 11 would be affected because moment.js has been in PF since at least version 5 i believe.

[2022-05-09 11:38] melloware commented on #8764
@eframsergio so I am not sure exactly your use case but you can use case but if you want changes to your UI without user interaction you have 2 options.

1. Poller https://www.primefaces.org/showcase/ui/ajax/poll.xhtml?jfwid=cc511

2. Socket Push - https://showcase.omnifaces.org/push/socket

Once you deetct your data has changes in your poller you `update=` your table or if you know it happens in

[2022-05-09 11:40] jepsar opened #8773 "Charts (jqPlot): Remove"
The jqPlot charts are deprecated since 10. So they should be removed at some point. That will also take care of duplicate class names (making importing easier).

[2022-05-09 13:57] #8248 closed, assigned to melloware

[2022-05-09 14:16] ingeniotechnologies commented on #8764
Awesome, thank you!

[2022-05-09 14:22] tsotzolas opened #8774 "DataTable Group dataExporter problem"
### In Datatable Group dataExporter  is not working properly.

And this happens and in Primefaces Showcases
https://www.primefaces.org/showcase/ui/data/datatable/group.xhtml?jfwid=ab914

<img width="774" alt="image" src="https://user-images.githubusercontent.com/3863689/167430246-35f84b55-5a92-44c8-9fe0-499b93840b36.png">

I check and in primefaces 11.0.4 and a similar problem is exists and in thi

[2022-05-09 14:25] melloware commented on #8774
Fixed for 12.0.0: https://github.com/primefaces/primefaces/issues/8241

[2022-05-09 14:25] #8774 closed, assigned to nobody

[2022-05-09 14:50] krizajb opened #8775 "selectOneMenu display via jQuery or JS"
### Description

Is it somehow possible to open the dropdown menu via jQuery e.g. $(PrimeFaces.escapeClientId('dropDownId')).open();
Just to avoid any confusions, this is the open state I am referring to:
<img width="264" alt="image" src="https://user-images.githubusercontent.com/496094/167436399-ac0dfd7c-ca49-423f-8387-dc39d51746e4.png">

### Describe the solution you would like

$(PrimeFaces.esc

[2022-05-09 14:54] melloware commented on #8775
Next time this is best for forums or Stack Overflow.  You want the widget `show()` method

Go to this page: https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml

Press F12 to open console and type `PrimeFaces.widgets.widget_j_idt311_city.show();`

[2022-05-09 14:54] #8775 closed, assigned to nobody

[2022-05-09 17:47] #8767 closed, assigned to christophs78

[2022-05-09 17:58] melloware commented on #5247
@stolp i know this is old but don't you want to use the new Galleria instead in FullScreen mode instead of Lightbox?

https://www.primefaces.org/showcase/ui/multimedia/galleria/fullscreen.xhtml

I think then you can have DIV's or more control over the display of content?

[2022-05-09 18:00] melloware commented on #5247
And it has "caption" support to show the text I think you were trying to display? https://www.primefaces.org/showcase/ui/multimedia/galleria/caption.xhtml

[2022-05-09 19:07] #7943 closed, assigned to melloware

[2022-05-09 21:00] stolp commented on #5247
@melloware thanks for bringing that up again!

I added some screenshots to illustrate my use case. The attachment list is generated via ui:repeat and is located inside the p:lightbox, thus my initial request for including descendant elements as well.

![normal](https://user-images.githubusercontent.com/522940/167495814-09486cac-d047-4c3a-bd79-1aaa77ac13f1.png)
![expanded](https://user-images.githu

[2022-05-09 23:06] melloware commented on #5247
Yep I am checking to see if Lightbox should be deprecated with a PrimeTek as Galleria does everything that Lightbox does. Thanks for your feedback!

[2022-05-09 23:07] #5247 closed, assigned to nobody

[2022-05-10 18:53] melloware opened #8778 "DataView: emptyMessage missing from TagLib"
Looks like `emptyMessage` property is missing from the taglib and docs

[2022-05-10 18:54] #8778 closed, assigned to melloware

[2022-05-11 11:27] stefan-dan opened #8780 "Chips: stops processing input on the first non-unique pair"
### Describe the bug

Chips component with `unique="true"`, does not process the whole input, but stops at the first non-unique pair.

### Reproducer

1. Go to https://www.primefaces.org/showcase/ui/input/chips.xhtml
2. Click on **Unique** input
3. Write `aaa,aaa,bbb`
4. Press `Enter`
5. See error, `bbb` was not processed

### Expected behavior

The whole input must be processed, regardless of the

[2022-05-11 12:22] melloware commented on #8780
Confirmed. Working on a fix.

[2022-05-11 12:29] melloware commented on #8780
MonkeyPatch:
[code]

[2022-05-11 12:53] #8780 closed, assigned to melloware

[2022-05-11 15:05] stefan-dan commented on #8780
Thanks for the fast reply. I tried the MonkeyPatch, and it works for standard input, but it breaks the `addOnPaste="true"` feature.
![image](https://user-images.githubusercontent.com/52972263/167880347-fe3fccf8-6e90-4de9-a9bb-a6ec945b9db6.png)

[2022-05-11 15:27] melloware commented on #8780
I can't reproduce.  without `addOnPaste` it lets you paste but when you press ENTER those would be removed as unique.  And `addOnPaste="true"` it doesn't even let me paste that.

But if I do `aaa,bbb,cccc` only `cccc` is properly added above.

[2022-05-11 15:42] stefan-dan commented on #8780
With `addOnPaste="true"`, when you paste something it processes it correctly, but the initial input remains in the input field, like in the image above, and you have to press `Enter` once again to get rid of it.
You can check the original behavior of `addOnPaste="true"` in the showcase.

[2022-05-11 16:10] melloware commented on #8780
hmm i am running 12.0-snaphot locally and not seeing that behavior. its working as I would expect.

[2022-05-11 20:02] bsanders1979 opened #8782 "DataExporter: Does not support ColumnGroup"
### Describe the bug

When exporting datatables that use <p:columnGroup>, the data does not line up with the headers

### Reproducer

[primefaces-test.zip](https://github.com/primefaces/primefaces/files/8673062/primefaces-test.zip)

* Open localhost:8080
* Click Export
* View File Contents

### Expected behavior

The data and headers should line up

### PrimeFaces edition

Community

### PrimeFace

[2022-05-11 20:09] melloware commented on #8782
Fixed for 12.0.0: https://github.com/primefaces/primefaces/issues/8241

[2022-05-11 20:10] #8782 closed, assigned to nobody

[2022-05-12 00:24] tomtibbetts opened #8783 "DataTable: Ajax select does not work when there are div tags within the columns"
### Describe the bug

Hi,
I have a situation that when I wrap text within a column with div tags the ajax select (double and single) does not work.  It will work if the first column has div tags and there are no other columns.  This is very frustrating.  I don't know if this happens just to this theme or if it's a general problem.  I appreciate your help.  Thank you.
Below is my sample code.

This

[2022-05-12 10:06] tuerker opened #8784 "DataExporter: Does not work correctly when columnGroup is used"
### Describe the Bug

The dataexporter does not create the desired output for both csv as well as for xls when columnGroup is used. In case of csv, the header is missing while the content is there. In case of xls, the header is correct but the content is missing.

The following little example demonstrates it (see also the attached reproducer):

![Screenshot from 2022-05-12 11-35-53](https://user-i

[2022-05-12 10:43] Miraje opened #8786 "Card: Verify the correct subtitle attribute"
### Describe the bug

When adding the title attribute a NullPointerExcception is thrown due an incorrect validation, the title attribute is validated insted of the subtitle one.

### Reproducer

Add a card componente and set only the title attribute.

### Expected behavior

Render the component without any erros.

### PrimeFaces edition

Community

### PrimeFaces version

11

### Theme

_No respon

[2022-05-12 11:31] szati64 opened #8787 "InputNumber: change ajax behavior doesn't fire if you click on draggable components"
### Describe the bug

Hi!
We have encountered a bug when you try to modify the value of an inputNumber which has a change ajax behavior attached to it then the event doesn't always fire. In normal cases if you click outside of the input field the component formats the number you input there and then fires the change ajax. There is a special case however if you click outside of the input field but

[2022-05-12 11:43] #8786 closed, assigned to Miraje

[2022-05-12 12:02] melloware commented on #8784
Column Groups only work for XLSX and CSV.  By making a Column Group work for CSV would violate [RFC-4810](https://datatracker.ietf.org/doc/html/rfc4180) which defines what makes a valid CSV.

It is also why on the Column Group showcase page https://www.primefaces.org/showcase/ui/data/datatable/group.xhtml?jfwid=4e242  We only provide XSLX and PDF download buttons.

[2022-05-12 12:02] #8784 closed, assigned to nobody

[2022-05-12 12:18] melloware commented on #8783
@tomtibbetts Not a bug.  Simply use the `rowSelector` attribute of the datatable like this `rowSelector="td,div"` that will make all cells with DIVS also selectable.

See the docs: https://primefaces.github.io/primefaces/11_0_0/#/components/datatable?id=attributes

[2022-05-12 12:18] #8783 closed, assigned to nobody

[2022-05-12 12:18] tuerker commented on #8784
yes but the XLSX export even on the showcase is not working correctly!

![Screenshot from 2022-05-12 14-17-48](https://user-images.githubusercontent.com/10051373/168072969-461ee589-1fd9-424f-8a78-373ecce70032.png)

XLSX export delivers:

![Screenshot from 2022-05-12 14-17-28](https://user-images.githubusercontent.com/10051373/168073018-19c041a1-2f67-48a7-90ff-5f530354d1f8.png)

[2022-05-12 12:20] melloware commented on #8784
Yes if you look its already fixed in 12.0_SNAPSHOT see: https://github.com/primefaces/primefaces/issues/8241

![image](https://user-images.githubusercontent.com/4399574/168073212-31e04958-9c7c-4b87-abbc-8049dd1d3365.png)

[2022-05-12 12:21] melloware commented on #8787
Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-05-12 12:45] tuerker commented on #8784
i see that the fix of the XLSX exporter issue is quite new. many thanks. cheers.

[2022-05-12 13:24] szati64 commented on #8787
Hi! I have made an executable example based on PrimeFaces Test project and I added the two reproducer cases I mentioned in the issue: https://github.com/szati64/primefaces-issue-8787-reproducer

[2022-05-12 14:47] melloware commented on #8787
Good reproducer.  This is a tricky one.  I don't quite see it but it looks like when you click on the draggable its somehow stopping propagation of the change event.  Because this seems to work if you click on anything else other than a draggable.  Very strange.

[2022-05-13 15:04] pizzi80 commented on #8743
Please release also in v11 elite ... it's a frustrating bug and the workaround it's not clear

[2022-05-13 15:33] pizzi80 commented on #8743
using the workaround of  BalusC

I got the following JS error:

[code]

[2022-05-13 15:38] melloware commented on #8743
I don't think BalusC thoroughly tested his workaround and it was assuming your 500.xhtml had not much in it.

His workaround was for that very specific error the user was reporting but not a comprehensive fix for all scenarios depending on what code you have in your 500.xhtml.

[2022-05-13 15:47] melloware commented on #8743
@pizzi80 if you update my reproducer above to show your issue I can see if I can make it work or MonkeyPatch it for you.

[2022-05-13 15:57] pizzi80 commented on #8743
ok!  ... I didn't understand ... ;)

no worries I'll wait for the next release

only a funny note on the reproducer ...

it's funny that you use Eclipse Jetty with Apache MyFaces

while I use Apache Tomcat with (now) Eclipse's Mojarra LOL
... maybe it's time to unify all these projects :D

[2022-05-13 17:22] melloware commented on #8743
@pizzi80 its also possible you are running into a slightly different issue than the original reported.  Which is why I was hoping you could reproduce it so I can check whether this fix actually fixes it or not.

[2022-05-14 21:57] pfumi opened #8791 "DataTable: Row alignment issue with scrollable and frozen columns"
### Describe the bug

When using a DataTable with scrollable and frozen columns there are two alignment issues.

1) If a text in the frozen column or scrollable column wraps, then the row alignment breaks.
See here
![frozen_column_rows](https://user-images.githubusercontent.com/6900303/168447722-524b740c-d795-4437-8a20-7e0bac8091d8.png)

2) If there is a footer with just horizontal scrolling, then

[2022-05-14 22:01] pfumi commented on #8791
Attempt to fix it #8792

[2022-05-15 07:12] jepsar commented on #1848
Why would one want to confirm when navigating to a single menu item? I much more see the point of warning a user when navigating away from a changed form. See https://stackoverflow.com/questions/8259090/how-to-detect-unsaved-data-in-form-when-user-leaves-the-page

[2022-05-15 11:59] melloware commented on #8791
Nice work.  I wonder if it also fixes this issue? https://github.com/primefaces/primefaces/issues/2388

[2022-05-15 13:50] pfumi commented on #8791
I think the issue in https://github.com/primefaces/primefaces/issues/2388 still persists, I think we need also to fix the height when updating, let me look...

[2022-05-15 21:32] shahensaifullah opened #8793 "Property "$primevue" was accessed during render but is not defined on instance. in nuxt 3"
### Describe the bug

In nuxt 3 i've made a dropdown. but the dropdown menu does not work.
My Settings:
[code]
[code]

but all CSS are working well like button but vue code is not working.
In nuxt 2 i need to make plugins but in the documentation, i did not see any plugins to add in nuxt 3.

### Reproducer

_No response_

### Expected behavior

In dropdown, in general, when i click dropdown menu,

[2022-05-15 21:42] #8793 closed, assigned to nobody

[2022-05-15 21:43] melloware commented on #8793
This is JSF you want PrimeVue repo

[2022-05-16 13:03] #8369 closed, assigned to jepsar

[2022-05-17 11:58] melloware commented on #8475
I am going to close this as WontFix as it does appear other Prime libs do the same thing.

[2022-05-17 12:09] jepsar commented on #8475
Hmm.. I would like this to be added though. Does it matter if other libraries don't support this?

[2022-05-17 12:25] melloware commented on #8475
OK reopened.

[2022-05-17 16:28] astappiev commented on #5035
Hi again, it looks we have the issue again after a while.
We weren't using the menu element any more, but today I needed it again, and reproduced this issue (or even #6906 to be more precise).

What happens, is that when I click trigger and before aligning the menu, the scrollbar appears and the menu position ix wrong by the scroll width.

The way I fixed it now, by moving the element to always vi

[2022-05-17 17:12] melloware commented on #5035
I submitted a PR fix can you review.

[2022-05-18 10:14] halisyilboga commented on #8502
Aslinda grup satir yapmak ile sort yapmak arasinda fark var. Grup satirlamanin siralama olmadanda calisabilmesi gerekmektedir. We add newly added rows at the top of the table and this feature broke that. Also we make inplace edit and automatik sorting is also broke that feature. Last but not least default sorted column seems ugly and irritating. We can get the order from db or backend why I soppos

[2022-05-18 11:57] jepsar commented on #8502
@halisyilboga please open a new issue which includes a reproducer and references this issue.

[2022-05-18 20:43] bsanders1979 commented on #1805
I realize this is an old ticket, but I just upgraded from 5.1 to 11 (huge jump, I know) and I'm getting this error when trying to upload a file. We tried it a few different ways and can't get it to work. Tried using both native and commons upload. When we go native, org.primefaces.component.fileupload.CommonsFileUploadDecoder.getRequest(FacesContext) returns null because "request instanceof Multip

[2022-05-18 23:29] melloware commented on #1805
Can you post your whole stack trace?  I don't think you can use native because you are still on JSF 2.2 so are you using Apache Commons FileUpload 1.4 in your war?

Have your filter and web.xml values set for Commons FileUpload?

[2022-05-19 01:00] gmanjon opened #8797 "FileUpload: First multiple upload after fresh deploy fails on a random number of files when `validateContenType=true`"
### Describe the bug

After a fresh deployment, when multiple files are being uploaded in the very first upload, a small random number of them fail to reach the fileuplaod component listener method, and the server ouputs the following log:

The log appears the exact same number of times as the number of files that doesn't reach the fileupload component listener method.

After that operation, all u

[2022-05-19 09:32] zicheee opened #8798 "Uncaught TypeError: c.replace(...).replaceAll is not a function"
### Describe the bug

Today I updated to PrimeFaces 10.0.12 and I cannot use the SelectOneMenu anymore.
When I click on the list, a JavaScript error is thrown in the console:

Uncaught TypeError: c.replace(...).replaceAll is not a function   components.js.xhtml?ln=primefaces&v=10.0.12:20

### Reproducer

Use Android 7 with WebView or Firefox 75 or Chrome 80 and try to use the SelectOneMenu compone

[2022-05-19 09:39] tandraschko commented on #8797
can you please try again?

[2022-05-19 09:39] #8797 closed, assigned to tandraschko

[2022-05-19 09:41] tandraschko commented on #8798
if you check the commit, replaceAll was removed

@melloware can you check and close if required?

[2022-05-19 10:39] gmanjon commented on #8797
Hi @tandraschko,

That was fast, thank you very much.

I downloaded master an tested locally successfully. Everything works fine now. I tried many times an none failed, and as soon as switched to 11.0.0 it failed again.

I built it from source because I couldnt find any SNAPSHOT neither in sonatype (only 4.1.0-SNAPSHOT there) or in http://repository.primefaces.org (Primefaces 8 is the last one the

[2022-05-19 10:49] tandraschko commented on #8797
check our github index, there we describe how to get the snapshot

also read this for your PF 10 fix: https://github.com/primefaces/primefaces#community--elite--pro

A valid startup listener for JSF is to use a PostConstructApplication event observer, just google a bit

[2022-05-19 11:40] melloware commented on #8798
So a few things.

1. 1, Yes that issue in SelectOne was fixed in 11.0.0 and confirmed its in master fixed.
2. We do use `replaceAll` in a few places throughout the JS code base but we use a PolyFill so its always available in all browsers https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/resources/META-INF/resources/primefaces/core/core.polyfill.replaceall.min.js
3. It was f

[2022-05-19 11:41] #8798 closed, assigned to nobody

[2022-05-19 11:52] jepsar commented on #7427
I don't think that parsing the filter value is the best option here. I think that somehow the `filterMatchMode` should be selectable from a list of allowed options.

[2022-05-19 12:17] eduarddrenth commented on #7427
Ok of course, though I experience a bit of syntax that enables advanced sql like querying makes (some) users very happy.

[2022-05-19 12:21] melloware commented on #7427
Agreed all around if we can make an advanced Filtering option like PrimeVue/React where it basically sets the filterMatchMode etc it should just flow down in to JpaLazyDataModel or MorphiaLazyDataModel etc and just work if done correctly.

[2022-05-19 13:13] gmanjon commented on #8797
Yep, all the questions were answered in the main README, sorry to bother you (I know that's quite annoying).

And about the workaround I've been actually googling quite a bit before asking but didn't hit that specific event.  Anyway I'm receiving an exception trying to initialize Primefaces at that stage:

[code]

No worries, I will use a custom 10.0.0 fixed untill 12.0.0 is realeased and I have t

[2022-05-19 13:45] Nickath opened #8799 "Wizard: SelectOneMenu inside wizard tab shows the same dropdown panel twice onclick when I open the tab using javascript for more than one time"
I have a **@ViewScoped** bean managing an .xhtml page containing **3 tab panels**, in the second panel I have some `<p:selectOneMenu` components.

I am **navigating through the tabs using javascript**  for example: `"PF('wizard').loadStep(PF('wizard').cfg.steps[1], false);" `. When I navigate for the first time in the second tab, everything works fine, but **when I get there for the second or more

[2022-05-19 13:50] melloware commented on #8799
Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-05-19 21:55] mertsincan opened #8800 "Error in modifying List that holds selected datatable rows"
Reported By PRO User;

Datatable with selection enabled, on backing bean we have:
private transient List<ShipmentEconomic> selectedShipmentEconomics = Lists.newArrayList();
User interface has button "Select all incomes" implemented in the following way:
List<ShipmentEconomic> incomes = <business logic>;
selectedShipmentEconomics.addAll(incomes);
Executing the button method we get an UnsupportedOpe

[2022-05-19 21:55] #8800 closed, assigned to mertsincan

[2022-05-20 01:40] newk5 opened #8801 "CommandButton: when ajax=false, it doesn't work when used inside composite component with a form"
### Describe the bug

When using a composite component which has a h:form inside and using cc:renderFacet to put a p:commandButton with ajax=false inside, that page won't render with the following error:
[code]
I think this issue might be related to #8317

### Reproducer

[primefaces_test.7z](https://github.com/primefaces/primefaces/files/8735132/primefaces_test.zip)

### Expected behavior

Primef

[2022-05-20 01:54] newk5 commented on #8317
Does it happen with a commandButton? I recently noticed this and I created #8801 . I provided a reproducer there.

[2022-05-20 14:40] jepsar opened #8803 "Tree: support `ui-noborder` style class"
When you set this style class the tree will be styled without a border and padding.

[2022-05-20 14:42] melloware commented on #8801
So its the same issue the  `getClosestForm` walks up the tree but doesn't drill into Composite Components??

[2022-05-20 16:10] tuerker opened #8804 "DataExporter: Ignores ColumnToggler"
When columns are excluded with the columnToggler, the data exporter still exports the "hidden" columns.

Expected Behavior: The exporter does not export the "hidden" columns.

Many thanks in advance for fixing this issue.

PS: I am using a quite recent snapshot: 12.0.0-20220512.142926

[2022-05-20 16:16] newk5 commented on #8801
Yea seems like it. To be clear, this is when you use a  f:facet like:

![image](https://user-images.githubusercontent.com/32560510/169569957-e4bb4aec-2e2b-466c-a9ea-9bf967377496.png)

Do you know of any workaround I could try?

[2022-05-20 16:18] melloware commented on #8801
No so what happens is that code walks up the tree and find my:component but never finds an h:form.  Your only workaround right now is to wrap your `my:component` with the `h:form` so its outside of it would be my guess.

[2022-05-20 16:22] newk5 commented on #8801
Hmm I see, unfortunately that's not an option for us. The h:form itself is inside "my:component" in many of our composite components.

[2022-05-20 16:22] melloware commented on #8804
Isn't that this comment: https://github.com/primefaces/primefaces/issues/8031#issuecomment-1070994570 ???

[2022-05-20 16:23] melloware commented on #8801
Unfortunately as far as I can see that is the only workaround for now that would actually work.

[2022-05-20 16:27] melloware commented on #8804
Also do you have `visibleOnly="true"` set on your Exporter?  https://github.com/primefaces/primefaces/issues/7966

[2022-05-20 16:35] melloware commented on #8801
It looks like OmniFaces does the same thing we are doing ` getClosestParent(component, UIForm.class)`...

[code]

[2022-05-20 16:39] melloware commented on #8801
Also lots of old posts with the general consensus is not to embed forms in the CC.

https://stackoverflow.com/questions/25795164/how-to-update-a-composite-component-form-from-another-composite-component

https://stackoverflow.com/questions/12952404/problems-with-composite-components-that-include-form

https://stackoverflow.com/questions/28201827/should-i-use-hform-in-composite-component-or-not

[2022-05-20 16:57] #8803 closed, assigned to jepsar

[2022-05-20 17:06] newk5 commented on #8801
I think the issue when using h:form inside composite components is that you can very easily nest forms without noticing, but in my case there, I'm not doing that. There are many valid use cases to have a form within a composite component, we have many composite components like that. We use it to create predefined page layouts which we then insert the content from outside with f:facet: Just 1 examp

[2022-05-20 18:22] melloware commented on #8801
Yep not arguing with you just saying it seems like its not a widely recommended practice.  The only way we can fix it is to modify that `getClosestForm` and it will fix both Menu and CommandButton

[2022-05-20 18:28] melloware commented on #8801
Let me take a shot at this ...

[2022-05-20 18:31] newk5 commented on #8801
Yea I think its not recommended mostly because it can lead to accidently nesting forms. Also I recall @tandraschko said on #8317 that the server lookup could be made optional to make it work in a similar manner to p:ajax.

[2022-05-20 18:31] tandraschko commented on #8801
try it but i dont think we can easily support this.
the easiest way is to make it optional, log a warning as like with p:ajax and try to find a form, if required, on client side.

[2022-05-20 18:46] newk5 commented on #8801
I should also mention that even in other situations PF doesn't detect forms when they're inside composite components and prints that log. I had to disable  that specific log message with logback because I could not see my server logs because they were being filled up completely with that message. Here's an example:

[code]
![image](https://user-images.githubusercontent.com/32560510/169592701-62b71

[2022-05-20 18:52] tandraschko commented on #8801
yep, sure
that doesnt work in any case in PF when we look for a form

IMO we can even think about adding a "wont fix" label here but thats something you dont like ;D but the fallback + log thing is ok for me

[2022-05-20 18:59] newk5 commented on #8801
Yea I dont mind the log spam too much since I can get around it by suppressing it with logback, that can be a WONTFIX, I'm fine with that, I just mentioned that because I thought it might be related to the issue of PF not being able to find a parent form even though a parent form exists.

My main issue is not being able to use a commandButton with ajax false or a menuItem inside a composite compon

[2022-05-20 19:15] melloware commented on #8801
OK so @tandraschko there is no easy fix unless I am mistaken.  In @newk5 use case above when it walks the hiearchy looking for `UIForm` it finds this..

[code]

The first thing is the `UINamingContainer` which is your composite component.  You can't just walk `getChildren()` of that UINamingContainer looking for forms you would have to do a `visitTree`.  and then inside there if you found more UIN

[2022-05-20 19:21] #5035 closed, assigned to melloware

[2022-05-20 20:17] tuerker commented on #8804
no. this issue https://github.com/primefaces/primefaces/issues/8031#issuecomment-1070994570 was about the wrong ordering of the columns. this problem was fixed some time ago.

[2022-05-20 20:18] tuerker commented on #8804
thanks for the hints. i tried it out now. no change. the deselected columns are still exported.

[2022-05-20 20:22] melloware commented on #8804
You are right.  I fixed it.  Though you defeinitely need `p:ajax` on ColumnToggler for it to work as ColumnToggler is UI only without it.

[code]

[2022-05-20 20:30] tuerker commented on #8804
This did not helped, too.

[2022-05-20 20:31] tuerker commented on #8804
By the way, while using visibleOnly="true", i detected another problem. then, some "visible" columns are not exported anymore.

[2022-05-20 20:32] melloware commented on #8804
I have a fix in PR: https://github.com/primefaces/primefaces/pull/8806

Included a showcase example...

[2022-05-20 20:38] #8804 closed, assigned to melloware

[2022-05-20 20:38] melloware commented on #8804
OK its merged feel free to try the latest 12.0.0-SNAPSHOT.

[2022-05-20 20:39] tuerker commented on #8804
great will do it.

[2022-05-20 20:44] bsanders1979 commented on #1805
According to the documentation, JSF 2.2 is the bare minimum.

This is with
* primefaces.UPLOADER=commons
* filter/mapping for PrimeFaces FileUpload Filter
* Tomcat 8.5.65
* JSF 2.2.20
* commons-fileupload 1.4
* commons-io 2.2
* PF 11
[code]

[2022-05-20 20:45] melloware commented on #1805
Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-05-20 20:58] tuerker commented on #8804
the problem is fixed with this new snapshot. as you stated, visibleOnly="true" must be set on the exporter and  <p:ajax /> on the toggler.

many thanks again.

[2022-05-20 20:59] tandraschko commented on #8801
Yeah
Thats very hard, and If you find one, you are not sure If its really the parent one

[2022-05-20 21:28] melloware commented on #8804
Great news!  Thanks for testing.

[2022-05-21 12:45] melloware opened #8808 "Lightbox: Deprecate in 12.0.0"
Per PrimeTek Lightbox is being deprecated in 12.0.0 and removed in 13.0.0.

Its replacement is the Galleria component: https://www.primefaces.org/showcase/ui/multimedia/galleria/basic.xhtml

[2022-05-21 12:46] melloware opened #8809 "LightBox: Remove"
Per PrimeTek Lightbox is being deprecated in 12.0.0 and removed in 13.0.0.

Its replacement is the Galleria component: https://www.primefaces.org/showcase/ui/multimedia/galleria/basic.xhtml

[2022-05-21 13:34] #8808 closed, assigned to melloware

[2022-05-21 18:00] KimGabrielsen opened #8811 "selectOneButton: Loosing value when same button is clicked twice in succession"
### Describe the bug

I have a number of selectitems under a selectOneButton.
each selectitem has a distinct value.
When I click the same button twice the value in the backing bean is reset on click no 2. If I click the same button again yhe value in the backing bean will have the correct value.

### Reproducer

[pf-8811.zip](https://github.com/primefaces/primefaces/files/8749541/pf-8811.zip)

I h

[2022-05-22 13:09] melloware opened #8812 "FileUpload: ClamAV not enabled by default"
### Describe the bug

Stack Overflow: https://stackoverflow.com/questions/72324933/enabling-clamav-in-primefaces-fileupload-component

Basically the SPI should search through all enabled VirusScanners and report back if they are enabled.

### PrimeFaces edition

Community

### PrimeFaces version

11.0.0

### JSF implementation

All

[2022-05-22 13:13] #8812 closed, assigned to melloware

[2022-05-22 13:29] melloware opened #8814 "Core: Use more inclusive language"
There has been a push in the community to use more inclusive language: https://www.vice.com/en/article/v7dd3d/we-need-to-stop-saying-blacklist-and-whitelist

[2022-05-22 13:44] melloware commented on #8811
Confirmed with reproducer:
[pf-8811.zip](https://github.com/primefaces/primefaces/files/8749541/pf-8811.zip)

[2022-05-22 14:56] Nickath commented on #8799
I struggled to reproduce the bug in this environment but I did not manage to although I tried to transform the context to be as similar as possible to that of mine application. Nevertheless, I managed to solve my issue into my application by adding the ` appendTo="@this"` property into my `<p:selectOneMenu>`, so I guess the issue can be closed.

Thanks for following up!

[2022-05-22 15:19] melloware commented on #8811
OK this is not an issue.  By default SelectOneButton is a "toggle" type button so the same thing happens even with Button 2

[code]

You can see each time a click it it `checks` and then `unchecks` the button which is why it goes back to 0.  If you don't want this behavior simply set `unselectable="false"` on the component that way it no longer toggle at least 1 button will always remain active.

[2022-05-22 15:22] melloware commented on #8799
No problem!  That is why the reproducer is nice if you can't reproduce it, it makes you dive deeper into an issue!  Glad you got it resolved!

[2022-05-22 15:22] #8799 closed, assigned to nobody

[2022-05-22 20:41] KimGabrielsen commented on #8811
Yes it works... :-)
Sorry, my bad. I did not know about that flag.

Thanks.

[2022-05-22 20:41] #8811 closed, assigned to nobody

[2022-05-23 11:53] #8814 closed, assigned to melloware

[2022-05-23 12:23] tandraschko opened #8817 "CommandButton/SplitButton/CommandLink/MenuButton: ui-state-loading not removed"
### Describe the bug

i dont have a reproducer but addClass/removeClass is more safe anyway

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces edition

_No response_

### PrimeFaces version

12.0.0-SNAPSHOT

### Theme

_No response_

### JSF implementation

_No response_

### JSF version

_No response_

### Browser(s)

_No response_

[2022-05-23 12:24] #8817 closed, assigned to tandraschko

[2022-05-23 12:26] tandraschko commented on #8773
lets also do it in 13.0, where lightbox and IE support will be removed
12.0 should be soon, so it doesnt hurt to remove it after 12.0

[2022-05-23 12:38] melloware commented on #8773
OK that sounds good to me too.

[2022-05-24 19:21] bsanders1979 commented on #1805
I will work on putting something together. What’s interesting is that not all instances are affected. But, this particular instance has a hierarchy along the lines of TabView -> Wizard -> DataTable -> RowExpander. Saw this in the response payload. Not sure if it offers any valuable clues or not.

![image](https://user-images.githubusercontent.com/1124276/170115598-bb538e87-7002-4a2e-b74d-ea59f3be8

[2022-05-24 22:30] melloware commented on #1805
Yep sample will help because I can't reproduce in my environment.

[2022-05-25 05:22] javaone199 opened #8819 "Charts: Merge all components into one component"
### Description

Merge all chartJS components into one component.

<p:barChart>
<p:lineChart>
....

One chartJS component:

<p:chartJS  type="bar" model="#{bean.model}">

The benefit is that: only one chart component is needed to render all different charts for an iterating container component.

### Describe the solution you would like

One chartJS component:

<p:chartJS  type="bar" model="#{bean.

[2022-05-25 11:33] melloware commented on #6812
Reproducer for stacked group charts...

[stacked-group.zip](https://github.com/primefaces/primefaces/files/8770688/stacked-group.zip)

[2022-05-25 14:33] melloware commented on #8819
I think PrimeTek did this as a conscious decision to speparate from the old JQuery Charts which did something similar to the above.

Some recommendations:

1. It should be `<p:charts` all lowercase and not call out the technology "chartsJS" in it.
2. It can be in addition to the existing renderers to make it backwards compatible with the existing code. It would just be adding ANOTHER additional re

[2022-05-25 16:35] melloware opened #8821 "ChartsJS: Upgrade to 3.8.0"
https://github.com/chartjs/Chart.js/releases/tag/v3.8.0

[2022-05-25 18:21] Rapster commented on #8819
I've mentionned that "problem" when chartjs for PF has been released, see here https://github.com/primefaces/primefaces/issues/4011#issuecomment-418752368. It'd be a lot easier to have one component instead of n number of chartjs component. Also, there is no need AFAIR to have multiple renderers. Simply serialize your input model in JSON, give it to chartjs and it's done ;)

[2022-05-25 18:26] melloware commented on #8819
Yeah I just didn't want to break backward compatibility of people already using the existing renderers throughout their apps?

[2022-05-25 18:34] Rapster commented on #8819
And you won't, the idea is to create a new component `p:chartjs` which won't reuse existing renderers. AFAIR, my solution is really dependant on a "good" json serializer, I used gson in the past, and I don't know how much you can do with json.org though

[2022-05-25 18:39] melloware commented on #8819
OHHH you want a whole new component that doesn't use our JSON object model just pass it JSON.  THat is similar to how PrimeReact does it.

[2022-05-25 18:43] Rapster commented on #8819
I would still use java object, not plain json as input (but we could simply introduce an extender if necessary). I still have this PR that showed how I've done it https://github.com/primefaces/primefaces/pull/4031/files

[2022-05-25 19:16] #8821 closed, assigned to melloware

[2022-05-26 12:13] melloware opened #8824 "Repeat: Deprecate"
I think for 12.0.0 we should do the following:

1. Mark `p:repeat` deprecated
2. Log a WARNING if you are using MyFaces that its not necessary and convert from `p:repeat` to `ui:repeat`
3. Log a WARNING if you are using Mojarra to upgrade to version 2.3.18+, 3.0.3+, or 4.0.0+.  Those versions have the proper fix in them that `p:repeat` was trying to solve.
4. Update the taglib docs to say the same

[2022-05-26 14:57] melloware commented on #6773
Mojarra 2.3.18, 3.0.3 and 4.0 fixed their `isNestedIterator` finally with this...

[code]

[2022-05-26 15:27] tandraschko commented on #6773
Perfect
Lets remove both p:repeat and cleanup UiData in v13

[2022-05-26 16:27] melloware opened #8826 "Repeat: Remove"
Remove Repeat in 13.0.0 since its been deprecated in 12 and by then MyFaces and Mojarra will fully support what p repeat was meant for.

See: https://github.com/primefaces/primefaces/issues/8824

[2022-05-26 16:27] melloware commented on #6773
Perfect tickets created and marked for 13.0.0

[2022-05-26 16:30] #8824 closed, assigned to melloware

[2022-05-26 16:40] melloware commented on #6414
Going to close this for now as there is not much we can do about this as the upstream componnents would have to update and Moment.js is not going anywhere

[2022-05-26 16:40] #6414 closed, assigned to nobody

[2022-05-26 23:51] jarciano commented on #6812
We upgraded Babylon to 6.0.0 with Primefaces 6.0.4 and the error persists.

[[Charts createStackedBarModel](https://forum.primefaces.org/viewtopic.php?f=98&t=72619&p=200253#p200253)](https://forum.primefaces.org/viewtopic.php?f=98&t=72619&p=200253#p200253)

[2022-05-27 00:33] melloware commented on #6812
I just don't see how Babylon is affecting it as it should work the same in all themes like my reproducer works in Saga theme.

[2022-05-27 05:33] horstLei opened #8827 "Client Localization Links in Doc are pointing to wrong place / primefaces/docs/11_0_0/core/localization.md"
hi all
at the moment the link to the localization is pointing to https://github.com/primefaces/primefaces/tree/master/src/main/resources/META-INF/resources/primefaces/locales this link ends in 404
it should be
https://github.com/primefaces/primefaces/tree/master/primefaces/src/main/resources/META-INF/resources/primefaces/locales
master/**primefaces**/src... the difference
it seems all links pointi

[2022-05-27 10:58] melloware commented on #8827
Thanks for reporting this has been fixed. I am merging now but it may take a few minutes before the DocGen site reflects the changes

[2022-05-27 10:58] #8827 closed, assigned to melloware

[2022-05-27 12:19] MijnRVO-general opened #8830 "CSP: CSP support for Portlet implementation"
### Description

We've been using Primefaces in our Liferay application for a while now. From security standpoints we would like to tighten our CSP Header, removing the 'unsafe-inline' tag.

There already is a primefaces.CSP context-param that enables CSP for Primefaces. This will rewrite the inline Javascript and set the CSP HTTP header. Since we only use Primefaces in a Portlet context the excis

[2022-05-28 13:58] #8317 closed, assigned to melloware

[2022-05-28 13:58] #8801 closed, assigned to melloware

[2022-05-30 11:50] miedrl opened #8833 "AccordionPanel: Wrong style when using single tab."
### Describe the bug

The tabs of an accordionPanel are styled depending on whether it's the first, last or any other tab of the accordionPanel. This way, the first tab gets rounded top borders and the last tab gets rounded bottom borders (see code). When I use an accordionPanel with only one tab, I expect the tab to have rounded top and bottom borders as it's the first and last tab at the same ti

[2022-05-30 12:42] jepsar commented on #8833
Can you please try if you can replicate this with the latest master?

[2022-05-30 13:52] miedrl commented on #8833
I tried it with the latest master SNAPSHOT and it works, thank you. Is there a fix release date for version 12.0.0?

[2022-05-30 13:54] jepsar commented on #8833
You can expect a RC soon (coming weeks). I don't have a specific date for you.

[2022-05-30 13:54] #8833 closed, assigned to nobody

[2022-05-30 13:54] melloware commented on #8833
I think June they are shooting for 12.0

[2022-05-30 14:05] miedrl commented on #8833
Thank you both :)

[2022-05-31 13:20] pizzi80 opened #8834 "PrimeFaces.scrollTo"
### Describe the bug

After one of the latest Firefox and Chrome updates

PrimeFaces.scrollTo() in not scrolling anymore

### Reproducer

[code]

[code]

### Expected behavior

scroll to "data" p:panel

### PrimeFaces edition

Elite

### PrimeFaces version

8.0.17

### Theme

_No response_

### JSF implementation

Mojarra

### JSF version

2.2.20

### Browser(s)

Chrome 102 | Firefox 100 - Fedora

[2022-05-31 13:35] jepsar commented on #8834
Works for me (PF11, macOS).

Chrome 101.0.4951.64 (Official Build) (arm64)
Chrome 102.0.5005.61 (Official Build) (arm64)
Firefox 100.0.2 (64-bit)
Firefox 101.0 (64-bit)

[2022-05-31 13:57] pizzi80 commented on #8834
tested also on

PF 11.0.4
Jakarta Faces 3.0.2

Chrome 102 and Firefox 100

Fedora 35 and Windows 11

same results :(

the problem is that the browser console has no errors ... simply doesn't work

[2022-05-31 14:11] melloware commented on #8834
Reproducer:
[pf-8834.zip](https://github.com/primefaces/primefaces/files/8805887/pf-8834.zip)

Works fine for me on PF 11 with Windows 10 and Chrome  Version 102.0.5005.63 (Official Build) (64-bit) and Firefox 101.0 (64-bit)

[2022-05-31 15:45] michaelMarquard commented on #5301
Hello @tandraschko ,
I have a JSF view that contains the following snippet
[code]
where `anlagenverwaltung` and `tabHandler` are some CDI-Bean.

This worked fine with Primefaces version `8.0`,
but after upgrade to version `10.0.0`
it works when **rendering the view** for `anlagenverwaltung.initialized == false` (the form is not rendered)
but it crashes
in `com.sun.faces.lifecycle.RestoreViewPhase.

[2022-05-31 15:59] melloware commented on #5301
@michaelMarquard please create  an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  If you can reproduce it with 11.0.0 then open a new issue.

Also i wouldn't use 10.0.0 i would go to 11.0.0 as it fixed so many more issues than 10.

[2022-05-31 18:34] melloware commented on #8834
@pizzi80 can you run my reproducer with `mvn clean jetty:run` and try it?

[2022-05-31 19:09] jepsar opened #8835 "TabView: add global actions facet"
### Description

Currently an `actions` facet exists, but there are issues:

1. There is no way of adding a global (all tabs) facet.
2. The name is not in line with the `p:panel` facet `options` (see https://www.primefaces.org/showcase/ui/panel/panel.xhtml)
3. The outputted HTML could be better. Now the facets are rendered as additional list items in the `ul` containing the tabs.
4. Documentation,

[2022-06-01 07:45] michaelMarquard commented on #5301
@melloware , thank you for your quick reply!
`11.0.0` fixed the problem!
Sorry that I did not try this version prior to comment on the present issue.

Kind regards,

Michael

[2022-06-01 08:52] pizzi80 commented on #8834
tested, it works...

the problem is css smooth scroll

If you enable it inside test.css

[code]

PrimeFaces.scrollTo does not work anymore

I don't know why but before Chrome 102 or 101 and FF 100 or 99
it was working for sure, because i use this technique since 2 years

[2022-06-01 09:36] pizzi80 commented on #8834
so basically It's better to avoid PrimeFaces.scrollTo ;)

[2022-06-01 09:40] jepsar commented on #8834
or `html { scroll-behavior: smooth; }`.

[2022-06-01 09:51] jepsar commented on #8834
I'll have a look if I can get this to work without having to override scroll behavior tonight.

[2022-06-01 10:17] nettozahler opened #8836 "Selenium test framework: TimeoutException using CommandLink with p:confirm"
### Describe the bug

Running a Selenium test on Firefox using CommandLink with p:confirm fails with TimeoutException.

### Reproducer

Will provide a pull request with an appropriate integration test producing the error.

### Expected behavior

Selenium test runs fine without TimeoutException.

### PrimeFaces edition

Community

### PrimeFaces version

11

### Theme

Any

### JSF implementation

[2022-06-01 10:41] pizzi80 commented on #8834
take a look at this
[https://stackoverflow.com/questions/1174863/javascript-scrollto-method-does-nothing](https://stackoverflow.com/questions/1174863/javascript-scrollto-method-does-nothing)

[2022-06-01 11:51] melloware commented on #8834
PF code is doing this which is what a lot of users in that Stack Overflow recommend to do...

[code]

[2022-06-01 11:55] melloware commented on #5301
No problem glad its resolved!

[2022-06-01 11:57] melloware commented on #8836
Interesting.  You mentioned Firefox but it looks like its failing on all browsers.

[2022-06-01 12:36] melloware commented on #8834
Looks like it is a Safari Webkit bug: https://bugs.webkit.org/show_bug.cgi?id=238497

Still looking for a bug reported in Chromium. But the above error is exactly what we are seeing with smooth-scrolling in Chrome as well.

[2022-06-01 12:50] #8836 closed, assigned to melloware, nettozahler

[2022-06-01 12:50] melloware commented on #8836
Thanks for the tests I fixe the underlying problem and they are all passing now.

[2022-06-01 12:54] nettozahler commented on #8836
Great. Big thanks for the quick solution.

[2022-06-01 15:25] firsthour opened #8838 "TabView: Dynamic tabs causes ajax listeners to stop working with deferred outputPanel"
### Describe the bug

p:tabView with dynamic="true", that has a tab with a p:outputPanel with deferred="true", will cause issues with other tabs if they are opened before the deferred loading is complete.

In our code, we have a first tab that has about a dozen different deferred output panels that enable the page to load immediately while the data in the background flows in. We want the user to b

[2022-06-01 19:09] melloware commented on #8838
Excellent reproducer.  Confirmed.

[2022-06-02 07:30] jepsar opened #8839 "Schedule: Tooltips are transparent and lack padding"
### Describe the bug

Tooltips are transparent and lack padding.

<img width="333" alt="Screenshot 2022-06-02 at 09 22 21" src="https://user-images.githubusercontent.com/7500178/171576915-1d2a7891-6ec0-442a-b330-e7c3412c9875.png">

<img width="338" alt="Screenshot 2022-06-02 at 09 22 34" src="https://user-images.githubusercontent.com/7500178/171576921-7ab2b1ca-f939-4a38-ae14-68be87e992e6.png">

<i

[2022-06-02 07:58] nettozahler opened #8840 "Selenium test framework: TimeoutException when downloading a (text) file"
### Describe the bug

Running a Selenium test on Firefox featuring the download of a (text) file fails with TimeoutException.

Remark: I have also seen UnsupportedOperationException during file download (maybe with HTMLUnitDriver which is not yet supported by PF Selenium test framework) when the onload.js sees an "empty" http response.

### Reproducer

Will provide a pull request with an appropria

[2022-06-02 09:08] fanste opened #8843 "DatePicker: Month-Picker with manual input throws JS error"
### Describe the bug

A manually entered year-month in the Month-Picker will produce JS error while typing:

![image](https://user-images.githubusercontent.com/3531183/171596245-fc738e11-00a1-4957-863b-812833312b39.png)

### Reproducer

Showcase: https://www.primefaces.org/showcase/ui/input/datepicker/datePickerJava8.xhtml?jfwid=3145d

Open the web console.

Start typing in the input for `Month Pi

[2022-06-02 09:10] tandraschko commented on #8843
Did you try on master? i remember a similar issue

[2022-06-02 09:10] fanste commented on #8843
A possible fix could be to add `this.isDate(this.value)` in line https://github.com/primefaces/primefaces/blob/e16f2fddf1e4f0a0af5ebfc6381874d0b32b6d24/primefaces/src/main/resources/META-INF/resources/primefaces/datepicker/0-datepicker.js#L515

[2022-06-02 11:54] mafaul opened #8844 "FileUpload: Shrink Large Image Before Upload to Server"
### Description

Files are uploaded from users, sometimes over expensive or slow mobile networks.
Resizing (make smaller) images before upload would be amazing.

### Describe the solution you would like

Add a property on p:fileUpload called 'maxUploadImageWidth' that will reduce the image size (keeping proportions) if the uploaded file is an image, and if it exceeds the maximum width (in pixels).

[2022-06-02 12:06] oguzhannkayaa opened #8845 "There is no Modal"
### Description

How it does not have modal? I can't find in Ultima react. Also in primefaces.

### Describe the solution you would like

Feature add

### Additional context

_No response_

[2022-06-02 12:07] melloware commented on #8839
This has been reported before. This is how it is in raw FullCalendar too.  I have no idea why.  Most examples show it using custom tooltips with Popover and Bootstrap but we don't want to do that.

[2022-06-02 12:08] jepsar commented on #8845
This is not the PrimeReact issue tracker

[2022-06-02 12:08] #8845 closed, assigned to nobody

[2022-06-02 12:09] melloware commented on #8845
This is PrimeFaces you want PrimeReact.  You can see modal here: https://primefaces.org/primereact/dialog/

You are missing this CSS
[code]

[2022-06-02 12:11] jepsar commented on #8839
The least we can do is set the theme background. Like this it is not usable. Especially in week view.

[2022-06-02 12:12] melloware commented on #8840
Maybe I am wrong but we don't have tests for any Downloads as most selenium drivers as far as I know don't support capturing the downloaded file so there is nothing you can verify?

[2022-06-02 12:17] melloware commented on #8839
Yep have you found the proper CSS style to set?

[2022-06-02 12:21] jepsar commented on #8839
Yes, well, I can do a default padding and use the CSS background var. It would have been ideal if we had more CSS variables like space sizes 😄

[2022-06-02 12:52] melloware commented on #8839
I would submit a PR if you can or post here what CSS they need to add to the themes if possible so Mert doesn't have to try and figure it out.

[2022-06-02 12:53] jepsar commented on #8839
Sure, will do!

[2022-06-02 12:55] melloware commented on #8844
Can you do this yourself already with `onupload` method?

You could shrink the file with JavaScript yourself before sending it to the the server?

[2022-06-02 13:04] melloware commented on #8843
I have confirmed the issue is in 12.0 and the fix works as suggested

[2022-06-02 13:19] fanste commented on #8843
Thanks for the fix.

I was not able to load the SNAPSHOT from Jitpack, as our company proxy is really picky...
A custom build was planned for tomorrow.

[2022-06-02 13:21] melloware commented on #8843
Thanks for reporting i will merge this today.

[2022-06-02 13:32] melloware commented on #8840
Its timing out because it is guarding an AJAX link even though AJAX=False but I am still not sure what would happen as this response. Meaning how would you capture that the file was actually downloaded?

[2022-06-02 13:33] #8843 closed, assigned to melloware

[2022-06-02 14:08] melloware commented on #8844
Actually I think you would have to override some JS code of the uploader to inject this ability to shrink files.

[2022-06-02 14:41] nettozahler commented on #8840
I can speak for Firefox and HTMLUnitDriver (although the latter is not supported by PF Selenium framework). With HTMLUnitDriver the downloaded binary (or text) content is available as page via driver.getPageSource(). In Firefox there is indeed no way (known to me) to capture the downloaded file.

But anyhow my application offers various downloads of Excel and PDF documents, and I must verify these

[2022-06-02 15:05] melloware commented on #8840
OK i understand. Also curious why you are doing your FileDownload that way and not the PF way?

[code]

???

[2022-06-02 15:09] tandraschko commented on #8840
not sure if selenium supports something but in theory we could try to check the PF downlook cookie if p:fileDownload is used

[2022-06-02 15:15] melloware commented on #8840
Agreed. The other issue is right now with `ajax=false` it is guarding it for HTTP even though this is a download and that is the Timeout.

I can't see any attribute in the DOM on the button that we can check for so we can click this button unguarded when its a download.

[code]

[2022-06-02 15:17] jepsar commented on #8840
You can download with<del>out</del> Ajax since 10

[2022-06-02 15:19] melloware commented on #8840
Yep but if you look at his IT test he isn't using `p:filedownload` is he is sending the file to the browser manually.

[2022-06-02 15:28] melloware commented on #8840
OK I got his branch working but since there is asbolutely no way to tell it not to guard for HTTP as a `submit` button I added an overloaded `clickUnguarded()` method to the button and link.

https://github.com/primefaces/primefaces/pull/8847

[2022-06-02 15:29] nettozahler commented on #8840
Until now I was not aware that there is a special PF way of doing file downloads :) therefore I was using the legacy way. If the PF way with p:fileDownload solves my problem and is working with Selenium I could also use this.

Does p:fileDownload also offer response header settings like this;

[code]

[2022-06-02 15:33] melloware commented on #8840
@nettozahler if you use the example: https://www.primefaces.org/showcase/ui/file/download.xhtml?jfwid=f8de4

The DefaultStreamContent adds the headers for you...

![image](https://user-images.githubusercontent.com/4399574/171665952-3ce3a54b-81fc-492d-acea-4dfefe646e82.png)

As for Cache Control I highly recommend OmniFaces CacheControlFilter: https://showcase.omnifaces.org/filters/CacheControlFilt

[2022-06-02 15:34] #8840 closed, assigned to melloware

[2022-06-02 17:17] melloware commented on #8840
Also welcome @nettozahler you are the first person in a while reporting PrimeSelenium issues and tests and we appreciate the feedback and suggestions!

[2022-06-02 18:20] #8839 closed, assigned to jepsar

[2022-06-02 18:44] jepsar commented on #8844
Yeah, think so too. I'm not sure if I correctly remember this, but aren't there plans to rewrite the upload widget code at PrimeTek?

[2022-06-02 18:59] melloware commented on #8844
I don't know if they talked about a new Uploader since the other 3 libs PrimeVue/React/Ng are all client side and not sure they have all the features we are currently using from BlueImp.

[2022-06-03 06:20] Teutron-flo commented on #7011
@melloware, one short hint here, I think I found a bug in your code.
I added your changes in a local primfaces 11 build and tested my application with it.

For selectOneMenu, it works when you focus the component and also when you change values.
But in case the component has a value and is disabled, nothing happen:

![image](https://user-images.githubusercontent.com/80260448/171798262-d435598e-c21

[2022-06-03 08:49] nettozahler commented on #8840
Regarding the testability of file downloads I would like to add that it is possible to configure Firefox (not sure for other browsers) so that it downloads files of certain types (e. g. PDF) to the download folder without prompting (no "Save as..." dialog). With such a configuration it should be quite easy to write an integration test for file downloads even with verification of the downloaded con

[2022-06-03 10:31] nettozahler opened #8850 "Discussion: PrimeSelenium support for HTMLUnitDriver?"
### Description

Currently PrimeSelenium test framework is supporting Chrome, Firefox and Safari. Even the HEADLESS mode is available (not for Safari). This is all fine.

My integration tests are running with PrimeSelenium on a bigger build server landscape with various build nodes. These build nodes are behind firewalls so opening http(s) connections to the outer world are impossible. Even DNS re

[2022-06-03 11:17] melloware commented on #8840
If you want to take a crack at it a `p:filedownload` Integration Test would be very welcome in our suite!

[2022-06-03 11:22] melloware commented on #8850
I have never worked with the HTMLUnitDriver but i would think it would be possible to add it to this class: https://github.com/primefaces/primefaces/blob/master/primefaces-selenium/primefaces-selenium-core/src/main/java/org/primefaces/selenium/internal/DefaultWebDriverAdapter.java

[2022-06-03 11:42] melloware commented on #8850
Actually this might be a question for @tandraschko but you might be able to plug it in with the SPI.

`import org.primefaces.selenium.spi.WebDriverAdapter;` looks like the interface the DefaultDriverManagerFactory implements but you could easily implement an HtmlUnit version.

[2022-06-03 12:08] nettozahler commented on #8850
While these can be the first steps to integrate HTMLUnitDriver, I must admit that there is more to do, maybe even in core PF code. For example when testing my application I have learned that p:fileupload with mode="advanced" and dragDropSupport="true" does not work at all with HTMLUnitDriver throwing weired exceptions I could not solve. So for testing I had to fall back on mode="simple", skinSimpl

[2022-06-03 12:19] melloware commented on #8850
so i will say I can guarantee we won't fix PF core classes to support an integration testing driver.  That would violate everything I believe in software development that touching production code to "fix" testing is an absolute no no.

I thought you were saying it all works with HtmlUnitDriver...what you are stating is we would need to start fixing (aka hacking) core PF components to make it work

[2022-06-03 12:22] melloware commented on #7011
@Teutron-flo thanks for the report. See my PR just have to move where `bindFloatLabel` happens to fix it.

[2022-06-03 12:25] melloware opened #8854 "Selenium: Fix Chrome deprecated warning"
Seeing this:
[code]

[2022-06-03 12:41] tandraschko commented on #8850
+1 melloware

[2022-06-03 12:47] #8850 closed, assigned to nobody

[2022-06-03 12:57] #8854 closed, assigned to melloware

[2022-06-03 16:35] nettozahler opened #8857 "Selenium: TimeoutException in complex mask with many update="@form""
### Describe the bug

Let's try this (maybe) difficult one. Running a Selenium test on Firefox featuring a complex mask with many update="@form" fails with TimeoutException.

It does not happen always so it might be a timing issue or race condition or concurrency problem. I have seen it with

org.primefaces.selenium.component.InputText
org.primefaces.selenium.component.Calendar
org.primefaces.sele

[2022-06-03 17:39] melloware commented on #8857
I will say this definitely looks like a race condition.

But I would also say why would you `update="@form"` in a change request of a single field?  I typically only use `update="@form"` on Submit buttons when I want the whole form and its error messages to re-render.  But AJAX inside change events or keypress you want to be selective with what you update.

[2022-06-03 17:51] melloware commented on #8857
Actually whenI just try this simple case...

[code]

I get a `org.openqa.selenium.StaleElementReferenceException: stale element reference: element is not attached to the page document`

[2022-06-03 20:00] nettozahler commented on #8857
Yes. I also sometimes had the `org.openqa.selenium.StaleElementReferenceException` when `update="@form"` is present. This forced me to fiddle around with

`new WebDriverWait(driver, waitTime).until(ExpectedConditions.elementToBeClickable(locator));`

and other `ExpectedConditions`. It would be great if PrimeSelenium would handle this automatically :-)  It seems to me that `update="@form"` currentl

[2022-06-03 20:05] nettozahler commented on #8857
But I would like to emphasize that PrimeSelenium is great and does an outstanding job for me to make my PF application testable with automatic GUI tests. With all the heavy Ajax usage it would be a pain to use plain Selenium API only (believe me, I know what I’m talking about :-) ).

[2022-06-03 20:23] nettozahler commented on #8857
Motivation for using `update="@form"`: consider having a complex mask with many fields with some elaborated business logic where changing one field forces recalculation of many other fields.

It would be quite cumbersome to have an `update="long list of field IDs"` and also harder to maintain if some fields are removed or added over time.

And it gets even worse when the fields to be updated are r

[2022-06-03 20:35] nettozahler commented on #8857
Besides all that `update="@form"` is valid PF/JSF API usage  :-)

[2022-06-03 21:43] stolp commented on #8857
We also have PrimeSelenium based tests in conjunction with Selenide which show a flaky timeout behavior at some defined locations and we pulled our hair wondering what is causing this. Thanks a lot for pointing this problem out!

A quick code sweep revealed, that indeed the flaky parts involve update="@form". We use it sparingly, but it definitely does have its merits, especially regarding code ch

[2022-06-03 23:52] melloware commented on #8857
I agree all around we need to deep dive why @form fails. I am actually surprised we haven't had this reported before.

[2022-06-04 12:00] melloware commented on #8857
as a note to @stolp comment about using CSS to update specific components you can also use the Observer functionality in PF to specifically target your updates... See: https://www.primefaces.org/showcase/ui/ajax/observer.xhtml

[2022-06-04 12:37] melloware commented on #8844
I think I am going to close this for now as I don't think its something we should add to core.  @mafaul if you do get it working with custom Javascript please post your solution here so we can have it for others!

[2022-06-04 12:37] #8844 closed, assigned to nobody

[2022-06-04 17:52] #8857 closed, assigned to melloware

[2022-06-04 17:53] melloware commented on #8857
OK I fixed InputText and InputTextArea to handle `update="@form"` they were definitely broken.

[2022-06-04 20:30] nettozahler commented on #8857
Thank you @stolp and @melloware for your suggestions. When I am back at work I will explore if CSS update or PF Observer functionality suits better for me. I will be back at work on Tuesday due to Monday being public holiday in Germany. Can you point out where the updating by CSS classes is documented?

[2022-06-04 21:12] stolp commented on #8857
Selectors are documented here: [https://primefaces.github.io/primefaces/11_0_0/#/core/searchexpression?id=primefaces-selectors-pfs](https://primefaces.github.io/primefaces/11_0_0/#/core/searchexpression?id=primefaces-selectors-pfs)

In addition [https://www.primefaces.org/showcase/ui/ajax/selector.xhtml](https://www.primefaces.org/showcase/ui/ajax/selector.xhtml) is showcasing this feature.

[2022-06-06 06:45] mohammediqraminamdar commented on #3437
i used above script but not work
how to solve this issue or  which primeFaces version that s resolved ?

[2022-06-06 09:21] mertsincan opened #8863 "Resizable component does not show the handle icon and the handle is located at wrong position"
Reported By PRO User;

[2022-06-06 09:22] #8863 closed, assigned to mertsincan

[2022-06-06 11:57] melloware commented on #3437
Its fixed in 6.2.6+ or 7.0+

[2022-06-07 13:28] tibor-both-cc commented on #6641
Can the fix patched also to the 8.x.x versions?

[2022-06-07 13:31] melloware commented on #6641
Most likely not in 8.0 as the fix is already included in 10.0.0 and 11.0.0 and you have the MonkeyPatch you can use above for 8.0

[2022-06-07 16:31] melloware commented on #8443
One of the side effects of this patch I am seeing is that the `DefaultMenuModel` must be stored in a ViewScoped/SessionScoped/ApplicationScoped bean basically anything but RequestScoped.  This is due to the fact in RequestScoped the ID's are lost.

Which is probably why it was doing that weird "positional" lookup in the past which never seemed right to me.

[2022-06-08 13:16] pawkli95 commented on #8232
Hi, I have some problems understanding step nr 2, could you show some example
Best regards,
Pawel

[2022-06-08 13:32] melloware commented on #8232
Just download this file it has everything you need to see it working: https://github.com/primefaces/primefaces/files/8605392/printer-override.zip

[2022-06-08 14:04] pawkli95 commented on #8232
Thanks for quick response. In this repo in class PrintBehaviour there is no @ResourceDependency pointing to jQuery.printer.js. That's why I am confused.

[2022-06-08 14:07] melloware commented on #8232
Oh yeah in that demo I cheated and put...

[code]

I just included in on the page manually.

[2022-06-08 17:54] melloware opened #8867 "Menu: Using RequestScoped model is broken"
### Describe the bug

Using a `@RequestScoped` model breaks in 12.0.0 due to #8443

### Reproducer

[pf-8443.zip](https://github.com/primefaces/primefaces/files/8863936/pf-8443.zip)

Use the reproducer in `@ViewScoped` and everything works and with `@RequestScoped` everything fails.

### Expected behavior

MenuModel should be backwards compatible with previous PF while fixing bugs

### PrimeFaces

[2022-06-08 19:06] melloware commented on #8867
cc @stolp

**PF < 11:**
menuid was coordinates of menu like `2_1`

**PF 12 Update/ Elite 11.0.5:**
menuid was made a UUID `561231c6-354a-4842-8086-81d00531fde3` however this does not work for RequestScoped beans as the menu id is lost.

**PF 12 With this fix:**
menuid is now`UUID|Coords` like `561231c6-354a-4842-8086-81d00531fde3|0_3` where it will try and use the ID and if the ID cannot be matche

[2022-06-08 20:21] tarwork opened #8869 "Printer : component does not display contents properly under certain circumstances."
### Describe the bug

I am using the p:printer component to help the user only print the contents of my page so the header and footer of app is not also printed. What is happening however is the printer components' results seem to be dependent on whether the browser is in full screen or not full screen. In full screen the target text is painted on top of each other. When the browser window is much

[2022-06-09 06:10] pawkli95 commented on #8232
Thanks for your help :) @melloware

[2022-06-09 11:49] melloware commented on #8869
Tested with 12.0.0 and its working fine.  See this ticket for a workaround: https://github.com/primefaces/primefaces/issues/8232

![image](https://user-images.githubusercontent.com/4399574/172839789-f74db1b8-8e58-4b3d-86bf-0d8c1d82f9f6.png)

[2022-06-09 11:49] #8869 closed, assigned to melloware

[2022-06-09 14:51] melloware opened #8872 "Cookies: Support SameSite=Strict for Faces 4.0"
Currently PF creates 3 cookies that can be secured with SameSite=Strict in Jakarta Faces 4.0

1. FileDownload Cookie
2. DataExporter cookie
3. Client Window Cookie

[2022-06-09 15:56] #8872 closed, assigned to melloware

[2022-06-10 00:34] antonioalveslopes opened #8876 "Diagram: not working properly when MaxConnections = 1"
### Describe the bug

Endpoint's Diagram is not working when maxConnections equals 1.
Checking the source code of DiagramRender.java, I checked that at method encodeEndpoint:
[code]
If I change that condition to
[code]

Then it'll work normally.

I also check on canvas object on JS side, that when maxConnection is set to 1, because of that piece of code, the maxConnections is not present, which ma

[2022-06-10 11:38] melloware commented on #8876
Thanks for the report. I actually think it should be `if (maxConnections > 0) {` ??? Basically any positive number but 0 and negative numbers ignored.

[2022-06-10 12:08] antonioalveslopes commented on #8876
Hi!!
But it has to accept "-1" for represent inifinity connections. isn't it?

[2022-06-10 12:10] melloware commented on #8876
Oh OK i was looking in the JSPlumb docs and couldn't find the definition for MaxConnections and what its possible values are.  I will change it back to your suggestion `!= 0`.

[2022-06-10 12:12] melloware commented on #8876
Ahh found it "A value of -1 means no upper limit." https://www.art2dec.co/jslab/jas/jsplumb/dist/apidocs/classes/Endpoint.html

[2022-06-10 12:12] #8876 closed, assigned to melloware, antonioalveslopes

[2022-06-11 08:51] jepsar commented on #8834
You can workaround the issue using this as an override:
[code]
I'll submit this as a PR

[2022-06-11 10:28] jepsar commented on #8834
@melloware I'm not 100% sure though if we should add this to PF. This is a bug in a 3rd party product which they should solve at some point. When they do, our fix will be obsolete. Maybe add an issue for PF13 to check this and revert if it was fixed?

[2022-06-12 08:36] jepsar commented on #8000
I'll go for https://iro.js.org/colorPicker_api.html which is way more flexible and allows us to replace the current picker in PF without breaking changes and add features later (like alpha, hsla, rgba, wheel, swatches etc).

[2022-06-12 11:51] melloware commented on #8000
I like that idea.

[2022-06-12 11:56] melloware commented on #8834
When we have done these before I usually just put a JS doc note in the code so if it comes up again when I am looking at the code I can see this was a workaround that could be check again.  I htink your fix is good though its essentially doing the same thing the code was doing before.  But the big key is it will prevent new bug tickets from coming in about this same issue!

[2022-06-12 12:00] #8834 closed, assigned to jepsar

[2022-06-12 15:21] bsanders1979 commented on #1805
Ok, I figured it out. State Saving is set to client and it happens when you upload a file and the component is inside of a table row. I suppose I could set the state saving to server, but not sure of the impact of doing so.

mvn clean jetty:run -Pmojarra22 -Djetty.port=5000

[FileUpload-NotSerializable.zip](https://github.com/primefaces/primefaces/files/8886117/FileUpload-NotSerializable.zip)

[2022-06-12 15:46] melloware commented on #1805
Thanks for the reproducer!  I have reopened the Issue to investigate.

[2022-06-13 07:07] horstLei opened #8879 "Taglib refers to non existing class"
### Describe the bug

in primefaces-p.taglib.xml the converter is referring to a wrong non existing class

<type>java.faces.convert.Converter</type>. but it should be <type>javax.faces.convert.Converter</type>

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces edition

Community

### PrimeFaces version

10.0.x, 11.0.x

### Theme

_No response_

### JSF implementat

[2022-06-13 07:19] #8879 closed, assigned to tandraschko

[2022-06-13 07:22] tandraschko commented on #8838
@melloware do we really need a confirmed label? we already have "cant replicate" as opposite

[2022-06-13 07:27] horstLei opened #8880 "InputTextRenderer encodeScript can end in a Nullpointer"
### Describe the bug

the code part
`protected void encodeScript(FacesContext context, InputText inputText) throws IOException {
        String counter = inputText.getCounter();
        WidgetBuilder wb = getWidgetBuilder(context);
        wb.init("InputText", inputText)
                .attr("maxlength", inputText.getMaxlength(), Integer.MIN_VALUE);
       if (counter != null) {
            UICom

[2022-06-13 07:27] tandraschko commented on #8838
we even have "needs investigation" - feels all much to much now

[2022-06-13 07:30] #8880 closed, assigned to tandraschko

[2022-06-13 07:31] tandraschko commented on #8880
@mertsincan elite candidate

[2022-06-13 11:37] melloware commented on #8838
Yep my original idea was "confirmed" once a core dev actually confirmed it was a real issue but now we add "Needs Triage" on new tickets and we simply remove that label once a core dev has looked at or verified a ticket.

[2022-06-13 11:39] tandraschko commented on #8838
for me it doesnt matter if we do it that or the other way, we just should not have 4 labels with the same meaning

[2022-06-13 12:23] maruTA-bis5 opened #8881 "ColumnToggler: hides the outer table's column AND inner table's cell"
### Describe the bug

Use ColumnToggler with a nested DataTable's outer one as a dataSource hides the outer table's column AND inner table's cell.

### Reproducer

https://github.com/maruTA-bis5/primefaces-test/tree/column-toggler-nested-datatable

1. Go to `test.xhtml`
2. Click on `>` (rowToggler)
3. Click on `toggle` button
    - ![image](https://user-images.githubusercontent.com/1310661/1733502

[2022-06-13 14:08] melloware commented on #8881
I didn't investigate but my guess is the Jquery selector is not specific enough so it's picking up both tables columns. Should be an easy JS fix if someone investigates.

[2022-06-14 07:25] #8830 closed, assigned to MijnRVO-general

[2022-06-14 07:33] #8867 closed, assigned to melloware

[2022-06-14 07:49] tandraschko commented on #8838
process=@this on the button fixes it

[2022-06-14 07:56] tandraschko commented on #8838
also the problem is related to async=true default on deffered outputPanel

i wont invest time here, maybe not resolveable or i costs me many many time

feel free to dig deeper by yourself or sponsor a fix

[2022-06-14 12:32] weissreto opened #8883 "DatePicker: DateTimeConverter for custom date type no longer working with Primefaces 11"
### Describe the bug

In our product we have our own Date, Time and DateTime classes. These classes has nothing to do with java.util.Date or the java.time.* classes. To support our own classes we have implemented own DateTimeConverters for them. These converters have worked fine in Primefaces 7 but do no longer with Primefaces 11.

The problem is located in the org.primefaces.util.CalendarUtils cl

[2022-06-14 12:33] weissreto commented on #8883
See also https://pro.primefaces.org/browse/AXONIVY-42

[2022-06-14 12:34] jepsar commented on #6956
Support ends tomorrow 😅

But... "Internet Explorer mode in Microsoft Edge enables backward compatibility and will be supported through at least 2029".

[2022-06-14 12:35] jepsar commented on #8883
Can you please try with `DatePicker` in PF 12? Conversion has been touched there. `Calendar` is no longer supported by the community.

[2022-06-14 12:58] jepsar commented on #8000
Okay, so I've spent some time on trying to replace the jQuery color picker with iro.js. Inline is easy, but there is no popup support. I though that popup was added by our widget, but I found out that most of it is part of the jQuery plugin. Dropping popup is not really an option, and adding popup support will take too much time IMO, especially when we know that all components will be made accessi

[2022-06-14 13:11] weissreto commented on #8883
Yes, I know `Calendar` is no longer supported. I have the problem also with `DatePicker `in PF11. Can try to reproduce it with PF12 also. But I'm pretty sure it has the same behavior as the code I change to fix the issue has not changed in PF12. See my PR:
https://github.com/primefaces/primefaces/pull/8884

[2022-06-14 14:10] christophs78 commented on #8883
Can you please paste your converter into this issue? (I´m a commiter but do not have a Pro-account.)
I probably have some idea what you are doing but would help to see your code too.

[2022-06-14 14:32] firsthour commented on #8838
That's disappointing but I understand. Our pages are too complex to add process=@this to every susceptible element but I will see if we can cover the worst cases.

I will also look into sponsorship.

[2022-06-14 15:23] marw1tt commented on #8406
Hi, I want to test the solution for this bug with PrimeFaces 12. Can you tell me when the PrimeFaces Test Project will be updated, so it can be run with PrimeFaces 12?

[2022-06-14 15:28] melloware commented on #8406
You can do it now just run "mvn clean install" on PF to build 12.0.0-SNAPSHOT then change the PF Test project Pom.xml to point to 12.0.0-SNAPSHOT

[2022-06-14 15:39] marw1tt commented on #8406
OK, thank you!

[2022-06-15 13:02] jepsar opened #8885 "GMap: Marker: Support Symbol / vector based icons"
### Description

Icon is now a `String` which cannot be used to add a `Symbol`, only images are supported.

### Describe the solution you would like

Add `Symbol` model, and make marker icon an `Object`. Icons can either be a `String` or a `Symbol`.

### Additional context

https://developers.google.com/maps/documentation/javascript/symbols

[2022-06-16 13:04] melloware commented on #8000
I wonder if we can make Coloris work if we hack the component to have multiple versions? It has all the features we need I believe with accessibility support I think I just need to hack the component to allow multiple instances?

But you are right maybe waiting to see how the PrimeReact component comes out first might be the right move.

[2022-06-16 13:24] melloware commented on #1805
@bsanders1979 when I run your reproducer if fails with Mojarra but works with MyFaces.

`mvn clean jetty:run -Pmyfaces23` you will see it works and throws no exception.  So this looks like a Mojarra bug.

Reported here: https://github.com/eclipse-ee4j/mojarra/issues/5117

[2022-06-16 13:25] jepsar commented on #8000
Yeah, I was hoping for an easy swap.

[2022-06-16 13:49] melloware commented on #8881
To confirm this is the issue:

[code]

Basically when finding the column to hide or unhide is finding all TR > TD and it has no way of telling that those TR/TD is from your inner table or outer table.

[2022-06-16 13:50] melloware commented on #8838
I agree @tandraschko this is a complex use case and issue and not worth the time to try and spend hacking a fix for.  I am going to mark it as such and since a workaround has been provided i think that is the best we can do.

[2022-06-16 13:50] #8838 closed, assigned to nobody

[2022-06-16 14:48] marw1tt opened #8887 "DataTable: Enable row selection per button even if disabledSelection="true""
### Description

When we worked with PrimeFaces 8.0 it was possible to set disabledSelection="true" on a p:dataTable so that the selection of a row was only possible by clicking on a designated button. With PrimeFaces 10.0 this was not possible anymore because if disabledSelection="true" was set, no rows were highlighted anymore, despite the current selection. So we could use that feature only wit

[2022-06-16 15:03] melloware commented on #8887
OK we can review your PR when you submit.

[2022-06-16 16:00] bsanders1979 commented on #1805
Thanks for the update. I'm not opposed to switching implementations or maybe even switching from client to server. Just not sure if there are any gotchas I need to be aware of.

[2022-06-16 16:06] marw1tt commented on #8887
PR: [8887](https://github.com/primefaces/primefaces/pull/8888)

[2022-06-16 16:51] Rapster commented on #8887
Why don't you use an EL like disabledSelection="#{item.selected}" ?

[2022-06-16 17:47] jepsar opened #8889 "GMap: Overlays: Data should be generically typed"
### Description

Data is now an `Object`.

### Describe the solution you would like

Refactor to  `Overlay<T>` and data to `T`.

### Additional context

_No response_

[2022-06-16 17:54] melloware commented on #1805
I would say go to MyFaces if you have that option. It's rock solid, faster, and much less gotcha bugs like this one.

[2022-06-16 19:18] tandraschko commented on #8887
+1 rapster

[2022-06-16 19:53] melloware commented on #8887
I updated the Additional Context with the exact use case trying to accomplish.

[2022-06-16 19:58] mertsincan commented on #8867
Thanks a lot, @melloware!

[2022-06-17 05:45] mahi-ro opened #8891 "TreeTable: propagateSelectionUp="false" and propagateSelectionDown="false" is not working"
### Describe the bug

`propagateSelectionUp = "false"` and `propagateSelectionDown = "false"` is not working.
Node selection is propagated.

### Reproducer

[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/8925642/primefaces-test-master.zip)

### Expected behavior

Node selection does not propagate.
Selecting a root node does not select a leaf node, and selecting a leaf

[2022-06-17 07:13] marw1tt commented on #8887
Hello Rapster, unfortunately disabledSelection="#{item.selected}" doesn't work for us because it is necessary for our workflow that the selection is strictly only possible with the click on the button within a row and as soon as disabledSelection=true, no row highlighting is available.

[2022-06-17 07:44] mauromol opened #8892 "Migration guide: InputMask change not mentioned in 6.2->7.0 migration guide"
### Describe the bug

I'm migrating from PF 6.2 to 7.0. I'm following the migration guide at:
https://primefaces.github.io/primefaces/11_0_0/#/../migrationguide/7_0

However, I see no mention of the fact that `p:inputMask` does not accept an empty mask (empty string) any more.
In previous PF 6.2 I may want an `p:inputMask` substantially behave like a plain `p:inputText` in certain conditions, like

[2022-06-17 08:33] Rapster commented on #8887
Do you mind creating a reproducer with primefaces-test, so I could get a better grasp of what you want to achieve plz?

[2022-06-17 08:59] jepsar opened #8893 "GMap: DefaultMapModel: Warn when set ID is overwritten"
### Describe the bug

If you have set ID on overlays and add them to the model, the IDs are overwritten.

https://github.com/primefaces/primefaces/blob/97c493fcce6f2e777929b41ea7034070557872f8/primefaces/src/main/java/org/primefaces/model/map/DefaultMapModel.java#L83-L104

Side effect is that `findOverlay` cannot work properly, as it expects generated IDs.

https://github.com/primefaces/primefaces

[2022-06-17 09:15] jepsar commented on #8893
I think at least a warning should be logged when the ID is not null.

[2022-06-17 09:45] marw1tt commented on #8887
Yes, of course, I will provide one.

[2022-06-17 11:35] melloware commented on #8892
@mauromol the workaround I would use is to use the right component for the right job. I feel like what you were doing before doesn't make sense to me to use a Mask component without a mask.  I get it that it makes it convenient but it would be like saying "I want to use InputNumber but if not Italy I don't want it to be a number I want it to be a string".

I would do this..

[code]

[2022-06-17 11:39] melloware commented on #8892
Migration Guide for 7.0 updated thanks!

[2022-06-17 11:39] #8892 closed, assigned to melloware

[2022-06-17 11:43] melloware commented on #8893
You mean log a warning if ID is not null and its not found as an overlay in `findOverlay` ?  I would be OK with that.

[2022-06-17 11:44] #8885 closed, assigned to jepsar

[2022-06-17 11:44] jepsar commented on #8893
Yes, I already added that to my next PR (in progress)

[2022-06-17 11:51] melloware commented on #8891
Thanks for reporting I have verified your issue.

[2022-06-17 12:06] melloware commented on #8891
Its weird it was in the docs and in the TagLib.xml just never actually implemented.  Fixed for 12.0.0

[2022-06-17 12:33] #8891 closed, assigned to melloware

[2022-06-17 12:48] mauromol commented on #8892
This of course is an alternative. It's just more work. After all, I think that it shouldn't hurt in any way if a `p:inputMask` had no mask... it's just a special case of inputMask where I don't require any special mask to be proposed and validated.

Any way, the issue here was to let people know about the change. I saw the updated guide, which now states that "`mask` attribute is now required", bu

[2022-06-17 12:53] melloware commented on #8892
Actually looking at the Source code I don't see this exception so somewhere in PF 8.0, 10.0, 11.0 this requirement was removed,  Can you try a higher version?

[2022-06-17 12:57] melloware commented on #8892
Ahh here it is in 7.0.8 and 8.0: https://github.com/primefaces/primefaces/issues/5105  added a `validateMask="true"` or false property whether you want the mask validated on the server side.

[2022-06-17 13:16] jepsar opened #8896 "DataTable: (un)select events are not fired when checkboxes are clicked"
### Describe the bug

(un)select events are not fired when checkboxes are clicked with a multiple select data table. Same goes for the select all / none checkbox in the header.

Events ARE fired when the row is clicked.

### Reproducer

[code]

[code]

### Expected behavior

Both row click and checkbox (un)select should fire the appropriate events

### PrimeFaces edition

Community

### PrimeFaces

[2022-06-17 13:23] melloware commented on #8896
From the docs: https://primefaces.github.io/primefaces/11_0_0/#/components/datatable?id=ajax-behavior-events

![image](https://user-images.githubusercontent.com/4399574/174306754-e16dd545-6639-4b30-8b72-a05e65ea06b5.png)

Do you want "rowUnselectCheckbox" ?

[2022-06-17 13:31] jepsar commented on #8896
Wow! Yeah! Just wondering why there is a difference. Can't think of any use case. Anyway... invalid.

[2022-06-17 13:31] #8896 closed, assigned to nobody

[2022-06-17 13:48] melloware commented on #8896
I forget why but i think it was because people wanted to distinguish row click from checkbox click but I really can't remember why. It has been like this since like PF4.

[2022-06-17 13:51] stolp commented on #8896
I can imagine that having a row click without selection is super useful for supporting keyboard actions on columns, e.g. select row, press 'd' to delete.

[2022-06-17 15:47] ritonglue opened #8898 "primefaces-showcase : crudView. create new product twice "failed""
### Describe the bug

In crud.xhtml :

- hit "new" button
- cancel dialog
- hit again "new" button : the method crudView.openNew is not called and the "name" box appears in red.

How to fix it ?

### Reproducer

_No response_

### Expected behavior

The method crudview.openNew should be called even if the user has cancelled the previous creation.

### PrimeFaces edition

_No response_

### PrimeFa

[2022-06-17 15:53] marw1tt commented on #8887
Here is a reproducer. If you select a row by clicking on a button, then no row selection highlighting is visible. If you use my changes, then the row selection highlighting is visible.
[primefaces-test-master_#8887.zip](https://github.com/primefaces/primefaces/files/8928980/primefaces-test-master_.8887.zip)

[2022-06-17 20:12] Rapster commented on #8887
Do this instead:

[code]

And add this method in your bean:
[code]

I wonder if you really need to enable selection feature, maybe you should stick to your custom selection and forget what PF can do for you. It's most probably simpler that way

Out of scope, but avoid `@all` unless it's really really necessary

[2022-06-17 21:05] melloware commented on #8898
Fixed it with this PR:  https://github.com/primefaces/primefaces/pull/8903

I broke the form into 2 forms and change the cancel button to `type="button"`.

[2022-06-17 21:06] #8898 closed, assigned to melloware

[2022-06-17 21:07] #8889 closed, assigned to jepsar

[2022-06-17 21:07] #8893 closed, assigned to jepsar

[2022-06-18 12:54] tandraschko commented on #8883
TBH i dont think this is an good change
A ConverterException says that the current value is not convertable -> e.g. a bad input on the UI and a error message will be shown the user
we now ignore the converter forever

either we introduce a own exception type or look for a nice and correct fix

user applied converters, doesnt matter if via annotation or component attr should be respected first

[2022-06-18 13:05] melloware commented on #8887
I agree with @Rapster you aren't really using PrimeFaces Selection at all so you should do as he recommended and use your custom selection.  Rather than try and use multiple flags to accomplish what you want which wouldn't be clear to most users anyway.

@marw1tt let me know what you think and I can close this ticket and PR if you agree.

[2022-06-18 13:25] tandraschko commented on #8883
can anyone provide a simple primefaces-test, what works in 11 and fails in 12?

[2022-06-18 13:37] melloware commented on #8883
Reproducer: [pf-8883.zip](https://github.com/primefaces/primefaces/files/8933619/pf-8883.zip)

Works in 8.0 but if you switch the pom.xml to 11.0.0 you will then see the error.

[2022-06-18 13:40] tandraschko commented on #8883
yeah
there is no reason that our own converters should be used over the attached one
the PR is just a weird hack around that

[2022-06-18 13:56] marw1tt commented on #8887
I can check it on monday, till then I have no access. I will send a reply as soon as I verified that approach.

[2022-06-18 14:49] melloware opened #8905 "SearchExpressions: Failure to evaluate RowIndex"
### Describe the bug

Without an `@` in the search expression this evaluates correctly inside a DataTable column

[code]

However using `@form` for the same expression fails...
[code]

**StackTrace:**
[code]

### Reproducer

[search-expressions.zip](https://github.com/primefaces/primefaces/files/8933803/search-expressions.zip)

### Expected behavior

The search expression should work.

### PrimeFa

[2022-06-19 08:51] tandraschko commented on #8883
how can i replicate the issue exactly after reverting the change?

[2022-06-19 09:11] christophs78 commented on #8883
DatePicker014Test?

[2022-06-19 11:44] melloware commented on #8883
My reproducer above is based exactly on his DatePicker014 Integration test which was the use case that was failing?

If you revert the changes I would expect my reproducer would fail with 12.0.0-SNAPSHOT.

[2022-06-19 14:02] melloware commented on #8881
I had to modify the selector from `tr` to `tr:not(.ui-expanded-row-content)` so it ignores the row expanded content

MonkeyPatch:

[code]

[2022-06-20 00:48] Gabrielcuadrosnavarro opened #8907 "active p:menuitem in p:submenu"
![imagen](https://user-images.githubusercontent.com/96390264/174507217-256effe5-02fa-4659-86ea-76ff142f6e2d.png)

i try this
<po:menu widgetVar="PoseidonMenuWidget">
<p:submenu label="Requests">
<p:menuitem value="test" outcome="/welcome"/>
<p:menuitem value="test2" outcome="/welcome_1"/>
</p:submenu>
</po:menu>

<po:menu widgetVar="PoseidonMenuWidget">
<p:submenu id="om_components" label="#{bundl

[2022-06-20 01:07] melloware commented on #8907
You are using a custom Poseidon Theme and this looks like a custom Poseidon issue.  Make sure you have the latest download of Poseidon to match the PF version you are using.

[2022-06-20 06:18] weissreto commented on #8883
Hi

I agree that my PR is some kind of hack. Note, that I only catch ConverterException in case of converting object to string and not the other way round, string to object, that is called to parse user input. So the exception there is shown on the UI as always.

For me the whole CalendarUtil is also a kind of hack. Why not just implement your own DateTimeConverter that covers java.time.* classes

[2022-06-20 07:04] #8881 closed, assigned to melloware

[2022-06-20 07:22] tandraschko commented on #8883
i partly reverted the PR on my machine and still all tests are running fine

i will commit this partly revert now

[2022-06-20 07:26] #8883 closed, assigned to weissreto

[2022-06-20 07:26] tandraschko commented on #8907
please use the poseidon forum, this issue tracker is for PF core only

[2022-06-20 07:26] #8907 closed, assigned to nobody

[2022-06-20 07:29] tandraschko commented on #8905
i will mark this as enhancement as this was not supported by JSF 2.3 either
we will need to fix this first in MF / Mojarra
then we should finally switch to SearchExpressionAPI if JSF 2.3+

[2022-06-20 08:05] marw1tt commented on #8887
I checked that approach and it works. But it feels more like a workaround than my approach, and resetting the "selected" flag for all other entries seems a bit laborious. I could do this, if it were only just one table where I have to adjust that, but it is not. We have many other projects that depend on our framework, so we need a solution that can be done at one place.

A little bit background s

[2022-06-20 09:12] Rapster commented on #8887
Like I said, you don't need PF selection feature. Mixing up your custom selection with PF selection will only make things harder IMO. All you need is your `selectedCar`, and to highlight row, see rowStyleClass attribute. You'll see that your final solution will be pretty straightforward and a lot more simple

[2022-06-20 09:24] marw1tt commented on #8887
[code]
That example is given within the PF dataTable [documentation](https://primefaces.github.io/primefaces/10_0_0/#/components/datatable). Why is that example there? Is it outdated and that form of selection is not intended anymore? Because why should somebody implement that if the row can be selected by a click on the specific row?

But despite from that, what is your opinion about "disabledSel

[2022-06-20 09:28] tandraschko commented on #8905
quite hard to implement - also need to do it in 3 places
it would be great if someone could try to provide PRs or sponsor it

[2022-06-20 09:35] tandraschko commented on #8887
in general this way of selection was always supported in the past, also see: https://github.com/primefaces/primefaces/issues/8406

so +0.5 from just merging your PR but we need to make sure that nothing else breaks

[2022-06-20 10:13] melloware commented on #8905
I looked at this and I came to the same conclusion it's not easy to implement.  Not sure it's worth the effort when there are other ways to do the same selection.

[2022-06-20 10:33] melloware commented on #8887
+1 from me only because it used to work and we removed functionality that was meeting a valid use case.

[2022-06-20 11:25] fanste opened #8908 "SelectOneMenu: filter shows incorrect SelectItemGroup"
### Describe the bug

We have a SelectOneMenu with SelectItemGroups. But the elements on level 1 are not always SelectItemGroups. It is a mix of SelectItem and SelectItemGroup.

![image](https://user-images.githubusercontent.com/3531183/174590305-d4c453fc-2793-4229-87c1-14da57c703a9.png)
Here you can see the group "H3" with some elements and the item (without group) "Others". I added some pading f

[2022-06-20 11:56] fanste commented on #8908
PR #8909

[2022-06-20 12:39] Rapster commented on #8887
I don't know the whole history of this, but my guess is PF team probably wanted to show how to implement very basic selection before they could implement their own selection features

No idea, I wouldn't go that route for sure, knowing PF do the job pretty well

Ok, so I assume this is your "real" problem. I guess that could be considered as valid use case yes but we'll have to check if there are

[2022-06-20 12:55] marw1tt commented on #8887
Indeed, that is my problem. :-)

Let me know if I can support you somehow or if you need additional information etc.

[2022-06-20 13:47] #8908 closed, assigned to fanste

[2022-06-20 14:32] jacekzwroclawia opened #8910 "More lightweight PrimeFaces"
### Description

Actually Primefaces JS files (components.js, jquery-plugin.js) are bigger and bigger along with following releases. In our company we use only few primefaces components, and we want our front to be as fast as possible - yes I know that in that case Primefaces is not the best option, but still we want to stay with it because of many reasons.

### Describe the solution you would lik

[2022-06-20 14:39] tandraschko commented on #8910
currently this is completely by design and in the past even more JS were aggregated to one big files instead of multiple smaller files.
the biggest files are jquery-plugins and component.js and we are working on it to remove as many as possible from jquery ui in all releases

we can remove some not common components from components.js and we can also create issues for deprecate/remove/rewrite sing

[2022-06-20 15:01] tandraschko commented on #8910
i think we could split up components.css/js in some files:
- core.js
  already exists; move growl, message, messages
- data.js
  datatable, datagrid, treetable, tree and so on
- containers.js
  tabview, wizard, panel, dialog, sidebars
- menu.js
  all menus
- forms.js
  all inputs, picklist, orderlist, autocomplete, chips, spinner
- misc.js
  splitter, notificationbar, chip, resizable, spotlight, b

[2022-06-20 15:11] melloware commented on #8910
i like this idea a lot!

[2022-06-20 15:12] stolp commented on #8910
I really do not think that this would be worth the effort, both for the maintainers and the consumers.

From a short glimpse we would probably omit at most one of these files per page. So we would probably just skip using dedicated JavaScript files. It is also cumbersome to maintain this per page.

The ideal solution IMHO would be, that the server side is dynamically generating a per-page js/css f

[2022-06-20 15:15] tandraschko commented on #8910
yeah
its unlikely that you only use components from 2 of 6 jS files

but -1 for the dynamic approach, at least in PF; this is better placed in OmniFaces or JSF impls

[2022-06-20 15:19] melloware commented on #8910
The only other option is to do it like PFE does it where each component generates its own JS file like "creditcard.js" and then it makes it per page dynamic of just what components you are using the page.

It makes it way more network requests if you have a lot of components but I use OmniFaces CombinedResourceHandler anyway to pack everything on my page to 1 JS file.  This is more like the modern

[2022-06-20 15:24] tandraschko commented on #8910
i dont think that the 1:1 component/js is a good way
that makes it "unusable" without CombinedResourceHandler

therefor either leave it as it is or split it up a bit more

also the even the 1400kb components.js is just ~480kb with gzip

maybe even splitting up components.js into 2 files much better
some thing like components-common.js and components-uncommon.js

[2022-06-20 15:31] melloware commented on #8910
Agreed I was just throwing it out there.

Even when I compare the GZIPPED stuff from one my production PrimeFaces JSF apps it scores high only Google Lighthouse with all our optimization tricks.

![image](https://user-images.githubusercontent.com/4399574/174635318-51ee4b05-2bcd-4e72-9323-447d13c00238.png)

So to me we could gain a little bit by breaking it up but @jacekzwroclawia your better bet m

[2022-06-20 15:32] jepsar commented on #6480
If you don't like a scrollbar, this could be an alternative:
[code]

[2022-06-20 18:58] jacekzwroclawia commented on #8910
Thank you guys for fast brainstorm about the topic.

I wrote this post because I saw that in PF10 jquery-plugin.js was 256KB, and in PF11 it is 354KB. My concern was that if there will be more and more components in PF in the future, jquery-plugin.js and components.js are going to be bigger and bigger. I always like that jQuery UI has this option to create custom package contains only widgets that

[2022-06-20 19:28] melloware commented on #8910
Mobile Score:
![image](https://user-images.githubusercontent.com/4399574/174667034-0df116fb-e5a7-44d5-bbaf-1e84cc3af4b2.png)

[2022-06-20 19:57] melloware commented on #8910
@jacekzwroclawia we switched to a new Optimizer plugin for PF 12.0.0 and I just tweaked it so `jquery-plugins` actually went from 354KB down to 319KB in 12.0.0

[2022-06-20 20:17] stolp commented on #8910
@tandraschko wrote:

I like this. To spin the idea further, maybe separating the deprecated components in a release could make sense? Yet I am not sure how much this will gain though.

[2022-06-20 21:10] jacekzwroclawia commented on #8910
In components.js there are 84 widgets, do you know how many of them are deprecated?

[2022-06-20 21:25] melloware commented on #8910
I will take a shot at this tomorrow splitting between two sets of components JS.  There are only a couple of deprecated and the largest one is jqury charts which is already in its own Js file.

[2022-06-21 07:09] jacekzwroclawia commented on #8910
Additionally, it is quite easy to choose desired widgets from jquery ui (https://jqueryui.com/download/) - maybe we don't need that much jQuery UI widgets in Primefaces? In PF10 we included 36 jQuery UI (1.12) widgets, and in PF11 we include 47 jQuery UI (1.13) widgets.

PF10 - 35 jQuery UI Widgets

[code]

PF11 - 47 jQuery UI widgets

[code]

[2022-06-21 07:21] tandraschko commented on #8910
@stolp about deprecated components: we should just move them into a seperate file for each component
for calendar this would be our widget, the jquery plugin and our jquery plugin hacks -> calendar.js

and this i would do for all depracted first, then we can go further and check if it makes a huge difference in splitting up components.js into common/uncommon

UPDATE: calendar e.g. removes ~100kb f

[2022-06-21 09:42] melloware commented on #8910
Ok I will do this today @tandraschko

@jacekzwroclawia yes I just grabbed all jquery widgets when upgrading. I will see if I can make it match 10.0.

[2022-06-21 10:44] jacekzwroclawia opened #8912 "DatePicker: Initial view with maxdate in the past/mindate in the future"
### Describe the bug

Because calendar widget is deprecated - I want to migrate to datePicker component, however I encoutered problems:

**TC 1.** When maxdate attribute is in the past and value is empty (not selected yet)

`<p:datePicker yearRange="1900:2021" maxdate="31-12-2021" pattern="dd-MM-yyyy" />`

When I open datePicker it shows current month with empty year filter, but I don't want this

[2022-06-21 13:34] melloware commented on #8912
Attached is reproducer:
[pf-8912.zip](https://github.com/primefaces/primefaces/files/8949307/pf-8912.zip)

[2022-06-21 13:58] melloware commented on #8912
This was originally fixed with https://github.com/primefaces/primefaces/issues/5334 but only for `Time Only` mode so now it does it for all modes respecting the min and max date so it works just like the old Calendar.

[2022-06-21 16:54] #8912 closed, assigned to melloware

[2022-06-22 11:54] brivalin opened #8916 "Tree: Mojarra looses UITreeNode server side generated"
### Describe the bug

After generating a Tree component server side, with its UITreeNode childrens. The tree is well-generated.
But when I update the Tree bounded in @RequestScoped bean, it loses UITreeNode childrens previously created for Tree.

When update Tree, It breaks with exception :

This issue is only present in Mojarra implementation.
Tested with MyFaces which keep UITreeNode childrens o

[2022-06-22 12:18] melloware commented on #8916
@brivalin i would report this on Mojarra https://github.com/eclipse-ee4j/mojarra/issues and include your reproducer.

I reported a similar issue that doesn't happen on MyFaces and you can see my example ticket here: https://github.com/eclipse-ee4j/mojarra/issues/5117

[2022-06-22 12:36] brivalin commented on #8916
Ok thank you.

What is the chance to have this Mojarra issue resolved for next Primefaces release ?

[2022-06-22 12:39] melloware commented on #8916
Well Mojarra is not related to PrimeFaces at all so there timelines have nothing to do with each other...

[2022-06-22 12:40] jepsar commented on #8916
I upvoted the linked issue. Not sure if that will help though 😁

[2022-06-22 12:56] #8916 closed, assigned to nobody

[2022-06-22 12:56] #8910 closed, assigned to melloware

[2022-06-22 14:13] fanste opened #8917 "SelectOneMenu: Include SelectItemGroup in filter"
### Description

Currently the filter only searches SelectItems but no SelectItemGroups

### Describe the solution you would like

It would be nice, if you could also filter for SelectItemGroups and it shows all items for that group.

### Additional context

A possible solution could be something like

https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/resources/META-INF/reso

[2022-06-22 14:16] tandraschko commented on #8917
i would not make it configurable, just add it :D

[2022-06-22 14:17] melloware commented on #8917
I was just writing the same thing @tandraschko !

[2022-06-22 14:57] fanste commented on #8917
PR #8918

[2022-06-22 15:22] #8917 closed, assigned to fanste

[2022-06-23 08:48] marw1tt commented on #8887
Hi there, I just wanted to let you know, that I am on holiday for three weeks starting this weekend. There I have almost no internet access, so if you need something from me, I can only take care of it afterwards. So do not wonder if I do not reply to anything.

[2022-06-23 12:32] melloware commented on #8887
@Rapster I have tested this and in my scenarios I don't see anything broken and all of our Integration tests are passing.  If we do find any scenarios this doesn't work for we can re-open and address.

[2022-06-23 12:33] #8887 closed, assigned to marw1tt

[2022-06-23 12:36] Rapster commented on #8887
Ok I think this https://github.com/primefaces/primefaces/issues/6682 could be a problem now

[2022-06-23 15:53] christophs78 commented on #8887
For every DataTable-related change Integration-Tests should be provided too. This is the only way to avoid fixing one thing and breaking another one.
You may use https://github.com/primefaces/primefaces/blob/master/primefaces-integration-tests/src/test/java/org/primefaces/integrationtests/datatable/DataTable004Test.java as a template.

[2022-06-23 16:19] melloware commented on #8887
Yep it looks like we already had 4 different Selection based IT's.

[2022-06-23 17:29] christophs78 commented on #8887
`disabledSelection` of `p:dataTable` is not yet covered by IT´s.

[2022-06-26 07:37] jepsar commented on #76
This one is easy to do with just a few CSS tweaks. I could add an example to the showcase.
[code]
<img width="481" alt="Screenshot 2022-06-26 at 10 00 39" src="https://user-images.githubusercontent.com/7500178/175805255-2eb7ee50-db50-43e6-97c5-7789704ef27e.png">

[2022-06-26 11:59] melloware commented on #76
I wonder if we just add a `layout` attribute that is either horizontal or vertical and just add the CSS style that will apply your custom CSS  by just setting the style to Renderer?

[2022-06-26 12:04] jepsar commented on #76
Will do

[2022-06-27 00:10] anuragnz commented on #36
Any update on this please?

[2022-06-27 07:07] ri3986 opened #8928 "Dialog Framework : onHide option is not working"
### Describe the bug

`onHide` option is listed in the full list of configuration options at the following URL, but it is not working.
https://primefaces.github.io/primefaces/11_0_0/#/core/dialogframework

### Reproducer

_No response_

### Expected behavior

The process set by the onHide option is executed when the dialog is hidden.
For example, in the following cases, an alert is displayed when

[2022-06-27 07:32] #8928 closed, assigned to tandraschko

[2022-06-27 08:55] stolp commented on #36
I like to add, that you can also emulate a column oriented dashboard using `dataView` / `dataViewGridItem`.

The latter has the columns attribute you are looking for. Drag and Drop needs to implemented explicitly in your `dataViewGridItem` content using `draggable` / `droppable`.

We are using this approach successfully for quite a while.

[2022-06-27 11:59] melloware commented on #36
@stolp I think a Showcase example showing this functionality with Dataview being used as a Drag Drop dashboard would be awesome!   Even if you want to post the code here I can add it as a showcase example called "Dashboard" under DataView.

[2022-06-27 12:28] dmkaw commented on #1805
@melloware can you please check once again if its really working on MyFaces?
I have run test suite provided by @bsanders1979 with myfaces23 profile and it is indeed not showing error in console, but error is still being thrown, you can see it in browser log, or by catching exception in debugger.

[2022-06-27 12:33] melloware commented on #1805
I have reopened the issue.  You are right MyFaces is not throwing the exception but the error is in the browser response.

[2022-06-27 12:39] melloware commented on #1805
ahhh @tandraschko already debugged this issue.

The problem is with Native JSF uploading its using Servlet 3.0 to do the upload instead of Apache Commons Upload.

See: https://github.com/primefaces/primefaces/blob/dc062460b17ac3564118b78e1e44eae2467a05c5/primefaces/src/main/java/org/primefaces/model/file/NativeUploadedFile.java#L42

The `NativeUploadedFile.java` stores  a `javax.servlet.http.Part`

[2022-06-27 12:49] tandraschko commented on #1805
in theory should JSF impl call methods from UploadedFileWrapper#saveState and not serialize the object
the value/uploaded file is then of course only available in the current reqeust and should not be saved

maybe its not used because object nesting or something? i think someone need to debug

[2022-06-27 12:52] melloware commented on #1805
Let me see if I can debug.

[2022-06-27 13:23] melloware commented on #1805
OK I am not sure whats going on here but I don't see it calling "SaveState" or "isTransient" of the UploadFilesWrapper its just trying to serialize it in `ClientSideStateHelper.java`  I would think this object would be ignored because its returning `transient` true and eveyrthing works in mode `server` just not in mode `client` on either MyFaces or Mojarra.

[2022-06-27 13:47] tandraschko commented on #1805
maybe we should just make it transient if both are by spec not serializable

[2022-06-27 13:59] melloware commented on #1805
When I enable `com.sun.faces.enableClientStateDebugging` I get this output.

[code]

[2022-06-27 14:13] jepsar commented on #1198
So, what should happen in this case? IMO this is a won't fix.

[2022-06-27 14:17] #1805 closed, assigned to tandraschko

[2022-06-27 14:46] bsanders1979 commented on #1805
FWIW, I decided to set the state saving to server and I think it might actually be an improvement for us. We have some pages with several form tags which increases the payload size/load times with client-side state saving.

[2022-06-27 15:06] melloware commented on #1805
looks like @tandraschko did fix this issue for 12.0.0 I just tested it and it works with client in 12.0.0-SNAPSHOT.  But yes `server` is most likely the better choice.

[2022-06-27 16:49] melloware commented on #1198
I think ideally it should.

1. Put the current `title` to the side.
2. Update the `title` and show the tooltip
3. When valid again restores the original `title`.

So we probably just need to store in another `data-` element and put it back. That would be my guess

[2022-06-27 16:54] melloware commented on #1198
But I can also live with WONTFIX.

[2022-06-28 09:01] stolp commented on #36
@melloware I can have a go adding some showcase code later this week. It's not overly complex but it may take some time to extract the relevant part from the application.

[2022-06-28 10:46] trubnikow opened #8932 "Datatable. Error: "is configured for single selection while multiple rows have been selected""
### Describe the bug

If rowkey has comma in value then expires this error by select:
Caused by: java.lang.IllegalArgumentException: DataTable 'xxx' is configured for single selection while multiple rows have been selected
	at org.primefaces.component.datatable.feature.SelectionFeature.decodeSingleSelection(SelectionFeature.java:127)
	at org.primefaces.component.datatable.feature.SelectionFeature.

[2022-06-28 11:17] tandraschko commented on #8932
Please provide a forked primefaces-test reproducer

[2022-06-28 11:23] melloware commented on #8932
Related/Duplicate: https://github.com/primefaces/primefaces/issues/5946

Related/Duplicate: https://github.com/primefaces/primefaces/issues/7105

[2022-06-28 11:26] tandraschko commented on #8932
yeah
in theory it should work with single selection but our decision is that rowKey must not contain a comma
so actually wont fix

do we have a fat hint somewhere about that in the docs?

[2022-06-28 11:28] melloware commented on #8932
No but i will add one: https://primefaces.github.io/primefaces/11_0_0/#/components/datatable?id=rowkey

[2022-06-28 11:29] tandraschko commented on #8932
+1
and then lets just close it here

[2022-06-28 11:35] #8932 closed, assigned to melloware

[2022-06-28 11:35] trubnikow commented on #8932
Thanks for Info.
Adding in Doku is a good idea

[2022-06-28 12:01] eduarddrenth opened #8934 "growl: sticky broken?"
### Describe the bug

Using the following xhtml in pf 11.0.5:
[code]
info messages nicely disappear after 1 second, error messages don't disappear

### Reproducer

_No response_

### Expected behavior

error messages disappear after 10 seconds

### PrimeFaces edition

Community

### PrimeFaces version

11.0.5

### Theme

saga

### JSF implementation

Mojarra

### JSF version

2.3

### Browser(s)

[2022-06-28 12:11] tandraschko commented on #8934
Please provide a reproducer

[2022-06-28 12:29] melloware commented on #8934
Sticky is `false` by default so i would expect use case 1 and 2 to be identical?

[code]

[2022-06-28 12:51] eduarddrenth commented on #8934
I'll see what I can do

[2022-06-28 12:52] eduarddrenth commented on #8934
absolutely, but I see it behave differently

[2022-06-28 13:34] eduarddrenth commented on #8934
unable to reproduce, still see this issue in our production running on payara

[2022-06-28 13:34] #8934 closed, assigned to nobody

[2022-06-28 16:47] melloware commented on #8934
I wonder if it's a but with 11.0.5

[2022-06-28 17:35] eduarddrenth commented on #8934
no, tested that

[2022-06-28 17:37] eduarddrenth commented on #8934
but yes, somewhere, something goes wrong... I suspect perhaps jsf implementation of payara has to do with it, but I don't know where this hooks into primfaces sticky

[2022-06-29 09:51] mertsincan opened #8935 "Add color-scheme style to Themes"
Dark -> color-scheme: dark
Dim -> color-scheme: light dark
Light -> color-scheme: light

[2022-06-29 09:55] #8935 closed, assigned to mertsincan

[2022-06-29 12:45] melloware commented on #8934
also make sure you don't have any overridden JS you have forgotten about that might be overriding the default JS behavior of Growl?

[2022-06-29 15:32] eduarddrenth commented on #8934
In my latest build on test env i don't see this anymore, thanks

[2022-06-30 07:48] miedrl opened #8937 "FileUpload: Choose button is hidden when disabled instead of getting disabled styling"
### Describe the bug

In some dialogs it may be necessary to disable certain components (using the disabled attribute) when entering the dialog and to only enable those components when needed (e.g. if other component values have to be set first). This behaviour should also be provided by p:fileUpload (mode="advanced") but when setting disabled="true" on the fileUpload component, its choose button

[2022-06-30 07:49] miedrl commented on #8937
Here is a short reproducer [reproducer.zip](https://github.com/primefaces/primefaces/files/9017572/reproducer.zip)

[2022-06-30 08:03] miedrl opened #8938 "FileUpload: Buttons have the wrong width/height on small screens"
### Describe the bug

On small screens the choose, upload and cancel buttons of p:fileUpload only show the icon, the button's text is hidden. As they are now buttons without text, they should be square (e.g. see style from the fileUpload's cancel button behind chosen file) but they seem to be slightly wider than high.

**Possible cause of the problem:** The button's padding is not adapted properly

[2022-06-30 12:07] mscelectit opened #8939 "Keyboard: CSP prevents inline-style"
### Describe the bug

With enabled CSP we get the following console error:

`jquery.js.xhtml?ln=primefaces&loc=&e=10.0.7:2`

`Refused to apply inline style because it violates the following Content Security Policy directive: "default-src 'self'". Either the 'unsafe-inline' keyword, a hash ('sha256-biLFinpqYMtWHmXfkA1BPeCY0/fNt46SAZ+BBk5YUog='), or a nonce ('nonce-...') is required to enable inline

[2022-06-30 12:13] tandraschko commented on #8939
please provide a reproducer

[2022-06-30 12:14] melloware commented on #8939
Yes and we have integration tests that run nightly that test with CSP turned on for Chrome and do not get this error.

[2022-06-30 12:16] melloware commented on #8939
Oh this looks like you are saying its PrimeFaces Extensions related?  what PFE component are you using I know for a fact that CSP does not work with CKEditor.  See: https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/748

[2022-06-30 13:12] mscelectit commented on #8939
Sorry for not providing a reproducer yet. It seems to be the "keyboard" component not the "CKeditor".

[2022-06-30 13:18] melloware commented on #8939
Ahh you mean this component? https://www.primefaces.org/showcase/ui/input/keyboard.xhtml

[2022-06-30 13:25] melloware commented on #8939
so far I am not able to reproduce it with CSP enabled so yes a reproducer would help.

[2022-06-30 14:31] brivalin commented on #8916
#eclipse-ee4j/mojarra/issues/5148

[2022-06-30 15:05] jasonex7 commented on #4752
@melloware is this still true? Because the [javadoc of Part.write method in Servlet 4.0 spec](https://javadoc.io/static/javax.servlet/javax.servlet-api/4.0.0/javax/servlet/http/Part.html#write-java.lang.String-) says:

*fileName* - The location into which the uploaded part should be stored. The value may be a file name **or a path**. The actual location of the file in the filesystem is relative to

[2022-06-30 15:06] jepsar commented on #2477
Hi @kukel,

Not ideal, but this this could help:

1. Use `dynamic="true"` on your select
2. Don't use custom options, but instead use emoji flags

[2022-06-30 15:08] melloware commented on #4752
Interesting.   I would open a new ticket if you feel this is something that needs to be addressed?

[2022-06-30 15:23] mscelectit commented on #8939
Sample/simple maven project to reproduce the problem:
[pfcsp.zip](https://github.com/primefaces/primefaces/files/9021163/pfcsp.zip)

(I use Wildfly as application server)

[2022-06-30 15:26] mscelectit commented on #8939
...there is no console message if I replace "p:keyboard" with "p:inputText"

[2022-06-30 15:28] jepsar commented on #8937
Okay, so it turns out that the button is actually rendered, but this CSS rule causes it to be hidden:
[code]
This fix should be applied to the themes:
[code]

[2022-06-30 15:31] melloware commented on #8939
Can't reproduce:
[pf-8939.zip](https://github.com/primefaces/primefaces/files/9021251/pf-8939.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/

Works fine with CSP enabled using PF10.0.0

**Edit:** I also use Wildfly as a server in production with CSP enabled using PF 10 and PF 11 without issue.

[2022-06-30 15:45] mscelectit commented on #8939
Ok, my web.xml includes the following context-param:

`<context-param>`
`        <param-name>primefaces.CSP_POLICY</param-name>`
`        <param-value>default-src 'self'; img-src 'self' data:; base-uri 'self'; frame-ancestors 'self'; block-all-mixed-content; script-src 'self'</param-value>`
`</context-param>`

which - when added to your sample code - causes the problem. Is this CSP_POLICY to stric

[2022-06-30 15:51] jasonex7 commented on #4752
OK or maybe should be this one. I'm preparing a pull request to support path in write method of `NativeUploadedFile`.

[2022-06-30 15:56] melloware commented on #8939
Ahhh yes that explains it.  Inline CSS cannot be prevented because so many Jquery components use inline CSS and we can't update all of PF and every jQuery component as this existed long before CSP was even an idea.  The best you can do is this...

[code]

[2022-06-30 15:56] #8939 closed, assigned to nobody

[2022-06-30 15:58] melloware commented on #4752
Sure thing!

[2022-06-30 17:00] melloware opened #8941 "FileUpload: allow absolute path in native mode"
Because the [javadoc of Part.write method in Servlet 4.0 spec](https://javadoc.io/static/javax.servlet/javax.servlet-api/4.0.0/javax/servlet/http/Part.html#write-java.lang.String-) says:

fileName - The location into which the uploaded part should be stored. The value may be a file name or a path. The actual location of the file in the filesystem is relative to MultipartConfigElement.getLocation()

[2022-06-30 17:03] melloware commented on #8941
Original ticket: #4752

[2022-06-30 17:10] jasonex7 commented on #8941
I also want to add support for directory paths not only a file paths. This would be great when using `UploadedFiles.write` (check the 's') method because Part.write only support file paths.

[2022-06-30 17:28] melloware commented on #8941
Sure I would submit a different PR for that.

[2022-06-30 17:29] #8941 closed, assigned to jasonex7

[2022-06-30 18:10] melloware opened #8944 "Ring/ContentFlow: Deprecated in 12.0.0"
Ring and Contentflow are quite redundant and provide similar functionality to the new Carousel component.

https://www.primefaces.org/showcase/ui/data/carousel.xhtml

Deprecate them in 12.0.0 and remove them in 13.0.0

[2022-06-30 18:11] melloware opened #8945 "Ring/ContentFlow: Remove in 13.0.0"
Ring and Contentflow are quite redundant and provide similar functionality to the new Carousel component.

https://www.primefaces.org/showcase/ui/data/carousel.xhtml

See: https://github.com/primefaces/primefaces/issues/8944

[2022-06-30 18:44] #8944 closed, assigned to melloware

[2022-06-30 20:18] jasonex7 opened #8947 "DataExporter: Update documentation in primefaces-p.taglib.xml"
Normally IDEs use documentation in primefaces-p.taglib.xml for autocompletion and it would be great to have updated with the latest changes in DataExporter.

[2022-07-01 14:41] #8947 closed, assigned to jasonex7

[2022-07-01 15:29] ltlBeBoy opened #8949 "DataTable: "virtualScroll" does not work together with checkbox selection"
### Describe the bug

When using checkbox selection for a data table and enabling "virtualScroll" the lazy loaded rows don't appear in the expected order. See reproducer:
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/9029921/primefaces-test-master.zip)

### Reproducer

1. Start reproducer.
2. Select one row.
3. Scroll down slowly.
4. After 20 rows the following data i

[2022-07-01 17:40] jepsar opened #8950 "DatePicker: use input number as year navigator"
### Description

When you use the date picker to select a date of birth, you may need to navigate to years ago. With the current selector you either need to include a lot of years, or you need to navigate multiple times.

### Describe the solution you would like

Instead of a select input it would be better (IMO) to have a numeric input.
[code]
This allows you to spin up and down, but also to simp

[2022-07-01 21:04] melloware commented on #8949
Confirmed this is still happening on 12.0-SNAPSHOT

[2022-07-04 11:09] AngeloRubens opened #8951 "Lifecycle: Different performance between JSF and PF commands"
### Describe the bug

When in https://www.primefaces.org/showcase/ui/misc/lifecycle.xhtml, execute Dummy Ajax request(p:commandButton) the execution time is every more expensive, in some case the exec time is over 50ms differ to Dummy Ajax request(h:commandButton) is every under 20ms. Can you verify this?

### Reproducer

https://www.primefaces.org/showcase/ui/misc/lifecycle.xhtml

### PrimeFaces

[2022-07-04 12:21] melloware commented on #8951
If you change the code so they both process `@form` you will see much closer results.

[code]

See this BalusC post: https://stackoverflow.com/a/15548755/502366

Note that the subtle difference with the PrimeFaces equivalent is that PrimeFaces defaults to `@form` in the process/execute, while the `<f:ajax>` one defaults to `@this`, so you might need to explicitly specify `execute="@form"`.

Note:

[2022-07-04 12:27] AngeloRubens commented on #8951
Ok thanks. But can you change a showcase page https://www.primefaces.org/showcase/ui/misc/lifecycle.xhtml for obtain the same execution time result with p:commandbutton and h:commandButton?

like this
[code]
or like this:
[code]

[2022-07-04 12:44] melloware commented on #8951
I just submitted a PR to update the showcase demo to both use `@form`.   Also of note the Showcase on the web uses Mojarra when I run locally I run with MyFaces.  However I just ran with Mojarra 2.3.18 and got similar results.  the JSF native is only a few MS faster than the PF one.

[2022-07-04 12:49] melloware commented on #8951
My local results with both using @form.  I pressed it 3 times each

**PF CommandButton:**
![image](https://user-images.githubusercontent.com/4399574/177157901-55387a88-f807-425d-ac9a-ecc78ed5346d.png)
![image](https://user-images.githubusercontent.com/4399574/177157965-a1699926-be6e-4bfb-93a0-63c60484b7fd.png)
![image](https://user-images.githubusercontent.com/4399574/177158020-f71f661b-4164-4f8d-

[2022-07-04 13:09] #8951 closed, assigned to melloware

[2022-07-04 13:56] jepsar opened #8953 "DatePicker: icon / trigger button not focusable by default"
### Describe the bug

I don't like the behavior where the date picker is shown on focus. Instead I use:
[code]
This comes with the accessibility issue that the icon is not focusable.

### Reproducer

See above.

### Expected behavior

Icon should be focusable by adding `tabindex="0"`, or at least it should be a setting as with autocomplete. And the UI states should be applied to the icon button.

[2022-07-04 15:22] haraleib opened #8955 "DataTable: responsive rows attribute"
### Description

Currently it is very hard to determine a good amount of rows with the `rows` attribute that the dataTable should displays for different screen resolutions.

### Describe the solution you would like

To provide very good UX it would be nice if there is an additional possible input for `p:dataTable` `rows` attribute with something like `dynamic` or `responsive` so that the dataTable

[2022-07-04 16:27] melloware commented on #8955
This could be difficult because rows is determined server side and renders that many rows to the browser.....where screen resolution is a client side determination after the rows have already been sent to the client.

[2022-07-05 10:18] tandraschko commented on #8955
yup

[2022-07-05 13:02] melloware commented on #8955
Going to mark this WontFix for now as this would be an extremely difficult/impossible to implement.   The only workaround you have now is to detect the browser resolution with JavaScript and dynamically change the `rows` .  However this will force an AJAX call for it to hit the server and re-render the rows.

[2022-07-05 13:03] #8955 closed, assigned to nobody

[2022-07-05 22:47] fanste opened #8956 "TreeTable: NullPointerException #visitTree with NULL value"
### Describe the bug

I have dynamically added components in my view. Once the view is restored and the dynamic actions are reapplied, a "static" `p:treeTable`, also contained in the view, throws a `NullPointerException` during `UITree#visitTree` due to a value of `null`.

![image](https://user-images.githubusercontent.com/3531183/177428848-59596818-2293-4e78-a0a2-e40693de1c28.png)

`visitNodes`:

[2022-07-05 22:55] fanste commented on #8956
Two possible solutions, the first one was tested locally, the second one is pure theory.

1. https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/java/org/primefaces/component/api/UITree.java#L970
[code]
2. https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/java/org/primefaces/component/api/UITree.java#L1094
[code]

[2022-07-06 11:51] tandraschko commented on #8956
does it occur in 12.0?

If you check https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/java/org/primefaces/component/api/UITree.java#L994
the NPE should not occur anymore in master; your 2. solution is already implemented there

[2022-07-06 11:59] #8956 closed, assigned to nobody

[2022-07-06 12:00] tandraschko commented on #8956
see https://github.com/primefaces/primefaces/issues/8210

[2022-07-06 13:17] miedrl opened #8957 "Gmap: Attributes 'streetView' and 'navigationControl' not working"
### Describe the bug

I am using p:gmap and am trying to use the attributes `streetView` and `navigationControl` but neither of them seem to work.

### Reproducer

[reproducer.zip](https://github.com/primefaces/primefaces/files/9055048/reproducer.zip)

### PrimeFaces version

10.0.0

### Theme

Diamond

[2022-07-06 13:18] melloware commented on #8957
@jepsar you have been using GMap recently want to investigate this one?

Looks like we have the right parameters: https://developers.google.com/maps/documentation/javascript/reference/map#MapOptions

[2022-07-06 13:36] jepsar commented on #8957
I can have a look, but my first guess is that these are now paid features which should be enabled in the Google Maps API.

@miedrl can you please check if your API key is allowed to use the features?

[2022-07-06 14:51] raphisuter opened #8958 "Spinner: pressing tab or other special buttons have no effect"
### Describe the bug

When using a spinner component and click inside it, it's impossible to tab to next element or click other special button combinations like ctrl+s or ctrl+p etc. (tested on 10.0.6 and 10.0.13)

### Reproducer

1. create spinner component`<p:spinner id="somId" />`
2. Click inside spinner component
3. Click tab or ctrl+s
4. still focus inside spinner, no error visible

### Expec

[2022-07-06 15:03] jepsar commented on #8958
Works for me. https://primefaces.org/diamond/input.xhtml

[2022-07-06 15:06] melloware commented on #8958
Yep I can TAB and SHIFT+TAB on the showcase: https://www.primefaces.org/showcase/ui/input/spinner.xhtml

[2022-07-06 15:13] jepsar commented on #8958
@raphisuter are you using Safari by any chance? Not everything is focusable by default there.

[2022-07-06 16:37] jasonex7 opened #8959 "DataExporter: Styles error on xls, xlsx and xlsxtream when using custom locale"
### Describe the bug

When using a custom locale like 'es_US', the DataExporter component export an Excel file which has errors in styles reported by Microsoft Excel.

![image](https://user-images.githubusercontent.com/16229253/177599453-883de111-5728-4903-a241-bb79bacba6a5.png)

The problem seems related to currency style setting in DataTableExcelExporter which doesn't escape currency symbols pri

[2022-07-06 16:51] melloware commented on #8959
Are you providing a PR?

[2022-07-06 17:06] melloware commented on #8959
I updated the CurrencyValidator unit test...

[code]

It looks like `US$#,##0.00` is the pattern for es_US so I am wondering if that is not a valid excel pattern?

[2022-07-06 17:10] jasonex7 commented on #8959
Yes, I'm providing a PR, please check if that would be OK.

[2022-07-06 17:13] melloware commented on #8959
That looks OK to me so it looks like POI needs it wrapped in quotes?

[2022-07-06 17:21] jasonex7 commented on #8959
No, it is a Microsoft Excel requirement (reference: https://support.microsoft.com/en-us/office/review-guidelines-for-customizing-a-number-format-c0a1d1fa-d3f4-4018-96b7-9c9354dd99f5)

![image](https://user-images.githubusercontent.com/16229253/177607726-cce987ac-df8f-4f03-9bd8-afaf09e133bc.png)

[2022-07-06 17:24] melloware commented on #8959
Thanks!

[2022-07-06 19:10] #8959 closed, assigned to jasonex7

[2022-07-06 20:47] marcelocastrillo opened #8963 "Datatable ConcurrentModificationException"
###JSF ConcurrentModificationException on datatable

We had an outage recently, and in the log of our application, we can see this exception. Looks like the data in a table is being modified while primefaces is sorting ¿How is this possible?

This is something that doesn't happen frequently, it just happened once in a production enviroment. Also this same stack trace repeats like ten or more times

[2022-07-06 20:49] melloware commented on #8963
Looks like this was reported before too: https://github.com/primefaces/primefaces/issues/1299

[2022-07-06 20:57] marcelocastrillo commented on #8963
Yes, I saw that, but the issue is closed.
I'm not sure that it is a PF issue but is seems rare that the error is occasional, I don't know if there is some characteristic of datatables that could lead to this behaviour

[2022-07-06 21:13] melloware commented on #8963
And you are sure another thread is not manipulating the underlying list?

Can you post the code on how your list is stored?

[2022-07-06 21:26] fanste commented on #8956
Sorry for the false-positive.

I tested it with PF12, but I did not recognize, that the update of my checked-out copy failed :/
So i built and tested it with a too old PF12.

[2022-07-07 07:00] raphisuter commented on #8958
@jepsar  I tested it on multiple browsers like latest chrome, latest firefox and edge and in all of them it's not working. To test I created a plain page with only a spinner element in the page and it's still the same. no error in dev console of the browsers as well and present in PF 10.0.6 and also PF 10.0.13.

[code]

[2022-07-07 07:04] jepsar commented on #8958
@raphisuter please provide a reproducer using https://github.com/primefaces/primefaces-test and test with the latest snapshot

[2022-07-07 07:10] tandraschko commented on #8963
i THINK it can theoretically only happen when multiple threads / AJAX requests working on the same list
so maybe you have asnyc=true on your AJAX or mix f:ajax/p:ajax, unsure

we likely cant do anything without reproducer

[2022-07-07 10:11] DaniEll-AT opened #8965 "Dialog: Copying Text with ctrl+c doesn't work"
### Describe the bug

Copying text out of a modal Dialog doesn't work, when there is an element with tabindex in the DOM-Hierarchy.
Due to _PrimeFaces.utils.preventTabbing_ the Event gets cancelled.

Example:
[code]

### Reproducer

- Open PrimeFaces Showcase [https://www.primefaces.org/showcase/ui/overlay/dialog.xhtml](https://www.primefaces.org/showcase/ui/overlay/dialog.xhtml)
- add `tabindex="

[2022-07-07 10:53] raphisuter commented on #8958
@jepsar I ran the project using `mvn clean jetty:run -Pmyfaces22` . In this configuration I still can't open dev console of chrome (F12) or open print dialog (ctrl+p) while focus is on the spinner or press other combinations or tabbing out. I found a pattern, seems like pressing ctrl+Character is not working whilest ctrl+Number works. My guess goes towards jQuery. I checked and PF 10.0.13 uses jQu

[2022-07-07 11:47] melloware commented on #8958
Its because of these lines in `spinner.js`

[code]

Any non numeric is prevented due to these tickets:

Original Issue: https://github.com/primefaces/primefaces/issues/5579

Tabbing was fixed in 11.0.0: https://github.com/primefaces/primefaces/issues/7378

[2022-07-07 11:55] jepsar commented on #7378
@melloware Should we label this as elite?

[2022-07-07 11:59] melloware commented on #8958
see my PR I have fixed it allowing F12 and F1 keypress etc.  CTRL+P is still blocked though.

[2022-07-07 12:07] melloware commented on #8963
Or if for some reason the list of values is stored in an `ApplicationScoped` bean and two more more users sort the list in the UI at the same time or something whacky.  Without a reproducer we probably can't fix.

[2022-07-07 12:07] fanste commented on #8963
Edit: Damn, melloware was faster ;)

--

There are two possibe causes for that issue:
 1. Multiple threads working on the same list
 2. A single thread that modifies the list while iterating over it (e.g. counted for or foreach)

The second option should not be the cause here, as the stacktrace contains just a call to `ArrayList.sort`. I don't think, that the JDK is faulty at that place.

The firs

[2022-07-07 12:27] melloware commented on #7378
Nah i think they should bump to 11.0.0 for this fix.

[2022-07-07 12:33] melloware commented on #8965
Thanks for the report will be fixed in the upcoming 12.0.0

[2022-07-07 12:39] melloware opened #8968 "Moment.js 2.29.4 CVE-2022-31129"
**Impact**
using string-to-date parsing in moment (more specifically rfc2822 parsing, which is tried by default) has quadratic (N^2) complexity on specific inputs
noticeable slowdown is observed with inputs above 10k characters
users who pass user-provided strings without sanity length checks to moment constructor are vulnerable to (Re)DoS attacks
Patches
The problem is patched in 2.29.4, the patc

[2022-07-07 12:48] #8958 closed, assigned to melloware

[2022-07-07 13:04] #8965 closed, assigned to melloware

[2022-07-07 13:21] DaniEll-AT commented on #8965
Could you please release this in v11 elite too?

[2022-07-07 13:22] melloware commented on #8965
I tagged it `elite` but its up to @mertsincan to decide what goes in V11.

[2022-07-07 13:25] marcelocastrillo commented on #8963
Thanks to all for your responses, I would love to give you a reproducer but actually I can't reproduce it on my local enviroment, so it would by difficult to do that.

Regarding the possible options:
- Bean scope: all the tables in the view have lists that come from a ViewScoped bean.
- Simultanious AJAX requests: this is very likely because we have a lot of p:ajax on the view.

On this comment I

[2022-07-07 13:37] melloware commented on #8963
@marcelocastrillo you can try 1 of 2 solutions.

1. Wrap your backing bean list `Collections.synchronizedList`....
[code]

2. Try `java.util.concurrent.CopyOnWriteArrayList` https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/concurrent/CopyOnWriteArrayList.html
it's expensive to modify, but wait-free to read.

[2022-07-07 13:37] #8963 closed, assigned to nobody

[2022-07-07 13:52] #8968 closed, assigned to melloware

[2022-07-07 15:47] jasonex7 opened #8970 "DataExporter: Align numeric cells at right in excel export"
### Description

Numeric cells that are not currency are aligned to left instead of right. Currency cells are already aligned to right.

![image](https://user-images.githubusercontent.com/16229253/177816067-27efad7a-d94d-49b3-9353-ae17f5304090.png)

### Describe the solution you would like

![image](https://user-images.githubusercontent.com/16229253/177816182-d5269e6f-5ff1-4137-9ca9-d712032962c3.p

[2022-07-07 21:04] #8970 closed, assigned to jasonex7

[2022-07-08 07:50] tandraschko opened #8972 "Tree: allow better lazy loading + create example"
### Description

currently all nodes are loaded because of rowKey building

### Describe the solution you would like

should work :D

### Additional context

_No response_

[2022-07-08 07:51] #8972 closed, assigned to tandraschko

[2022-07-08 09:59] sasynkamil opened #8973 "CSP: $ is not defined error when PF, Springboot, Joinfaces"
### Describe the bug

I'm getting error in the console: $ is not defined.

![image](https://user-images.githubusercontent.com/14141175/177962004-cf43e000-020a-4bd1-a96d-935d941aeb5c.png)

![image](https://user-images.githubusercontent.com/14141175/177962056-5a332c73-d41f-4db7-9e5c-5850bf979ed1.png)

### Reproducer

It is plain PrimeFaces & Springboot project (attached):

- Java EE 11
- PrimeFaces

[2022-07-08 10:25] miedrl commented on #8957
@jepsar How can I check if my API key is allowed to use the features? Google Maps Platform API checker showed the following:

![grafik](https://user-images.githubusercontent.com/77431692/177974749-c4b8e540-5367-4599-981b-624bf828452b.png)

[2022-07-08 10:49] jepsar commented on #8957
See https://developers.google.com/maps/documentation/streetview/overview and https://developers.google.com/maps/documentation/directions/overview

[2022-07-08 11:59] melloware commented on #8973
I fixed your `pom.xml` and your `application.yaml` and its all working for me now.  Also had to fix your `SpringBootApplication`.

[pf-8973.zip](https://github.com/primefaces/primefaces/files/9071832/pf-8973.zip)

I also made some optimizations.

[2022-07-08 11:59] #8973 closed, assigned to melloware

[2022-07-08 12:01] mertsincan opened #8974 "When DataTable is updated via ajax event, the value of the selectAll checkbox changes"
Reported By PRO User;

listForm:tableList_selection: "@all" -> not affected by unchecking
Updating the table on rowUnselectCheckbox event changes "@all" into a list of row ids that are checked which is ultimately a wanted behaviour, but updating the table is not a viable solution.

[2022-07-08 12:01] #8974 closed, assigned to mertsincan

[2022-07-08 12:30] sasynkamil commented on #8973
@melloware I tried to run project you attached, but got `no main manifest attribute` when I called `java -jar primefaces-spring-0.0.1-SNAPSHOT.jar`. So I added back the `spring-boot-maven-plugin`.
Now I'm getting 403 Forbidden in the browser.

[2022-07-08 12:34] melloware commented on #8974
I am investigating the failing Integration tests which were testing this ticket: https://github.com/primefaces/primefaces/issues/6730

[2022-07-08 12:35] melloware commented on #8973
2 things.

1. run `mvn clean spring-boot:run`
2. navigate to http://localhost:8080/test.xhtml you will see its all working including CSP.

i removed your root mapping to "/" that is why you are getting a forbidden that is NOT how you map that.

[2022-07-08 12:44] melloware commented on #8974
OK I updated the tests to reflect this new change I believe the previous test was actually proving the BUG you just fixed.

[2022-07-08 12:50] sasynkamil commented on #8973
Ok, I see now. But you also added to the application.yml:

[code]

And when this is set to the false, the error `$ is not defined` is back in the console. Unfortunately we have quite a lot of JS scripts in our production app and it stops functional when we set this property to `true`.

[2022-07-08 12:58] mertsincan commented on #8974
Thanks a lot, @melloware! I noticed that there was a mistake in the test. I was going to ask you about it :)

[2022-07-08 13:01] melloware commented on #8973
let me look. Move Scripts to bottom should never break your app. I have a feeling you have something wrong with your app or your JS code is that is breaking it?  I have been using MOVE TO BOTTOM for years now on large and small apps without issue?

Anyway I fixed it again:  [pf-8973-2.zip](https://github.com/primefaces/primefaces/files/9072208/pf-8973-2.zip)

Your issue with `$` missing is because

[2022-07-08 13:06] mertsincan commented on #8974
With this fix, users can create a structure like;
[code]

[2022-07-08 13:08] jepsar commented on #8973
You can also explicitly load the bundled jQuery from PrimeFaces if you are not using any components.

[2022-07-08 14:18] sasynkamil commented on #8973
@melloware Thank you - adding some pf component (styled as `display: none` is working correctly.

@jepsar I mentioned adding jQuery as workaround in the ticket.

[2022-07-08 14:34] melloware commented on #8973
You could have also just done this instead of including an invisible component...

[code]

That is what I think @jepsar meant.

[2022-07-08 14:36] rabiter opened #8976 "Datatable: FilterEvent misses the filterBy value"
### Describe the bug

The FilterEvent event misses the filterBy value (FilterEvent.getFilterBy() is empty). This only happens when the filter is shown via ajax request (refreshing the whole page fixes the issue). Please find the example in attached reproducer (it has comments on a page)

### Reproducer

[pftest.zip](https://github.com/primefaces/primefaces/files/9072840/pftest.zip)

1. Click the F

[2022-07-08 15:05] sasynkamil commented on #8973
I tried all three:

1. `<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>`
2. `<h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />`
3. 'hidden pf component'

In test project all three are working, but just 1. and 3. are working for me in production app. The 2. is throwing:
[code]

[2022-07-08 15:07] melloware commented on #8973
Ahh yeah you need more than just `jquery` included from PF.

[2022-07-08 15:14] melloware commented on #8976
Confirmed its a Mojarra 2.3 issue only...

`mvn clean jetty:run-exploded -Pmojarra22` **(passes)**

`mvn clean jetty:run-exploded -Pmojarra23` **(FAILS)**

`mvn clean jetty:run-exploded --Pmyfaces22` **(passes)**

`mvn clean jetty:run-exploded --Pmyfaces23`  **(passes)**

I bumped your pom.xml to use all the latest Mojarra and MyFaces versions as well and its still an issue on Mojarra 2.3.18.
[pf-

[2022-07-08 15:25] melloware commented on #8976
Ahh I just tried it with 12.0.0-SNAPSHOT with `mvn clean jetty:run -Pmojarra23` and its working.  So it looks like it is already fixed.

[2022-07-08 15:56] jasonex7 opened #8977 "DataExporter: Numbers greater than 1000 are formatted as currency in excel exporter with numberConverter"
### Describe the bug

When using `<f:numberConverter>` with type "number" and exporting with any excel format, the numbers are exported as currency when they are numbers.

![image](https://user-images.githubusercontent.com/16229253/178027169-c8c1ef87-fac9-4498-a106-62792b66555a.png)

### Reproducer

[code]

### Expected behavior

It should be formatted as numbers in excel at least or could be form

[2022-07-08 15:59] melloware commented on #8977
Yep this is what I was saying `currency` is different than regulars numbers.  Previously i have a section that is just `Double.ParseDouble` to print the values of non-currency numbers.

[2022-07-08 16:02] jasonex7 commented on #8977
@melloware do you think I could create a BigDecimalValidator class from apache commons validator? Similar to what you did with CurrencyValidator

[2022-07-08 16:02] melloware commented on #8977
yep!

[2022-07-08 16:07] rabiter commented on #8976
oookay, thank you! :-)

[2022-07-08 16:19] #8976 closed, assigned to tandraschko

[2022-07-08 17:43] melloware commented on #8953
You can do this already with `buttonTabIndex`

[code]

However I did find that the widget disable/enable was not disabling the button along with the input.

[2022-07-08 18:13] jepsar commented on #8953
Hmm.. okay, I was not expecting that such an attribute existed, because the default is different compared to AutoComplete.

[2022-07-08 18:16] melloware commented on #8953
Yeah I think its so you can separate the Input tabIndex and button tab index and also choose some people don't want the button to be tabbable etc.  I remember we added this a while ago when someone else wanted it tabbable.

[2022-07-08 18:18] melloware commented on #8953
Looks like it originates from Calendar: https://github.com/primefaces/primefaces/issues/1771

[2022-07-08 18:20] jepsar commented on #8953
I think it should be focusable by default for better accessibility. Users that don't want that can use the attribute to disable it.

[2022-07-08 18:20] jepsar commented on #8953
Shall I tackle this?

[2022-07-08 18:21] melloware commented on #8953
sure!  I agree i think it should be accessible by default.

[2022-07-08 18:27] melloware commented on #8953
I think it might just be this line...

[code]

to

[code]

???

[2022-07-08 19:17] #8953 closed, assigned to melloware, jepsar

[2022-07-10 00:57] #8977 closed, assigned to jasonex7

[2022-07-11 08:08] raphisuter commented on #8958
@melloware is it possible to add this to 10.0.14?

[2022-07-11 08:22] miedrl commented on #8957
Sorry, but the two links you provided didn't help me.
The street view seems to work but when I set streetView=false, it is still visible and usable. [Your showcase](https://www.primefaces.org/showcase/ui/data/gmap/street.xhtml?jfwid=e775d) is not helpful as I can only see this

![grafik](https://user-images.githubusercontent.com/77431692/178220189-1c787368-af25-4f1a-9531-c722507ef27d.png)

The att

[2022-07-11 08:28] rabiter commented on #8976
@melloware is there a chance that the fix will be backported to primefaces 11?

[2022-07-11 09:38] jepsar commented on #8957
They contain links to setting up your API key. Please use them to verify if streetview is enabled in your API key.

An API key where this paid service is enabled is required. That's not the case on the showcase. That's why I labeled this issue "documentation". There should be a huge warning on the showcase about the API key IMO.

[2022-07-11 09:40] jepsar commented on #8958
It's already labeled "Elite". It's up to PrimeTek to select which issues make it to the elite builds. See https://github.com/primefaces/primefaces#community--elite--pro

You can probably monkey patch the spinner widget. See https://stackoverflow.com/questions/36594082/monkeypatching-primefaces-widgets-extend-override

[2022-07-11 09:43] jepsar commented on #8976
Please read https://github.com/primefaces/primefaces#community--elite--pro

[2022-07-11 11:46] melloware commented on #8976
@rabiter also I am not quite sure which of the 300 bugs fixed between 11 and 12 actually fixed this issue.

[2022-07-11 11:49] melloware commented on #8958
Here is a MonkeyPatch you should just add to your application JS file which will override the spinner behavior.

[code]

[2022-07-11 11:50] melloware commented on #8957
I agree this is a documentation issue.  It sounds like your Google Maps API is not set up propertly as I have verified the configurations are correct for Google Maps.

[2022-07-11 12:11] raphisuter commented on #8958
Hi @melloware
Thank you kindly for the MonkeyPatch. There is a typo in line 2 PrimeFaces.widget.Spinner.**prototyoe**.bindEvents
I tested the MonkeyPatch and it works good. Seems like ctrl+s or ctrl+p are not working with this MoneyPatck. The most important features for us, tabbing out and opening the dev colsone of the browser (F12) are working perfectly.

[2022-07-11 12:17] melloware commented on #8958
Fixed my patch above.  Yeah ` var isPrintableKey = e.key.length === 1 || e.key === 'Unidentified';` is saying CTRL+P is a printable key.

If you really need that just change this line

[code]

[2022-07-11 12:21] raphisuter commented on #8958
tested it and works, thank you

[2022-07-11 14:00] commodis commented on #8743
Will this still be targeted for Elite? I ask because it still has the `elite` tag, but also the `12.0.0` milestone

[2022-07-11 14:01] melloware commented on #8743
@commodis that is up to @mertsincan to put in Elite unless you have a PRO account to request it

[2022-07-11 14:03] melloware commented on #8957
It is sorta documented here about making sure you have your API key? https://primefaces.github.io/primefaces/11_0_0/#/components/gmap?id=getting-started-with-gmap

[2022-07-11 17:07] commodis commented on #8743
Thanks for clarification how the process works - I understand.

[2022-07-11 17:13] tandraschko commented on #8743
JFYI about the process: https://github.com/primefaces/primefaces#community--elite--pro

[2022-07-11 19:54] jasonex7 opened #8987 "DataExporter: OutputFormat doesn't render correctly on exports"
### Describe the bug

When exporting a DataTable that contains <h:outputFormat> in header or footer facet, the exported value doesn't render correctly.

![image](https://user-images.githubusercontent.com/16229253/178346610-1761ea4b-6152-4cf0-929d-d1cee914dee6.png)

### Reproducer

[code]

### Expected behavior

![image](https://user-images.githubusercontent.com/16229253/178346985-e4af1f96-426d-440

[2022-07-12 07:23] javaone199 opened #8989 "Dialog content with scrollbar does not resize correctly when dialog resized"
### Describe the bug

If a dialog content has scroll bar, there will be a gap between dialog content and dialog border when dialog is resized.

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces edition

_No response_

### PrimeFaces version

11.0.0

### Theme

Saga

### JSF implementation

_No response_

### JSF version

_No response_

### Browser(s)

Chrome 103

[2022-07-12 10:12] mertsincan opened #8990 "A specific row containing elements with dynamic ID cannot be updated using `@row` search expression"
This is a known issue. Users often try to update the data in any row in the dataTable with ajax events using this expression. In this case, since the IDs created dynamically on the server are changed, the connection between the server and the client is broken at this stage. Therefore, the DOM replacement we made after the response in the core does not work. Please examine the following example;

_

[2022-07-12 10:13] #8990 closed, assigned to nobody

[2022-07-12 12:47] #8987 closed, assigned to jasonex7

[2022-07-12 13:04] mertsincan opened #8991 "AutoComplete dropdown tab lost focus"
Reported By PRO User;

We used multiple components including also a simple autocomplete and one with dropdown="true".
We need to update the panel that includes all components and as you can see from the example, the <p:autocomplete ... dropdown="true"> repositions the focus to the first one while in all other cases the focus is correct.

[2022-07-12 13:05] #8991 closed, assigned to mertsincan

[2022-07-12 14:05] #8649 closed, assigned to mertsincan

[2022-07-12 18:49] hink084 opened #8992 "Column: FilterValue Mutator Not Called"
### Describe the bug

The defined Column filterValue within a DataTable does not store the value within the backing bean when processed - the mutator method is not called.  This behavior changed when migrating from PrimeFaces v8 to PrimeFaces v10. As of 7/12/2022 this issue is still present within the PrimeFaces 12.0-SNAPSHOT.

There is a workaround which is to manually define the filter utilizing

[2022-07-13 12:02] #8938 closed, assigned to mertsincan

[2022-07-13 12:06] #8937 closed, assigned to mertsincan

[2022-07-13 13:13] #8744 closed, assigned to mertsincan

[2022-07-13 13:13] mertsincan commented on #8744
@melloware Could you please check it? Thanks a lot!

[2022-07-13 13:23] melloware commented on #8744
Will do!

[2022-07-13 14:13] melloware commented on #8744
@mertsincan alsmost there but maybe adding `line-height: 1.4;` it centers the icon better.

Before:
![image](https://user-images.githubusercontent.com/4399574/178754928-24b14f45-1024-49a7-93e3-02eadd03eaa5.png)

After:
![image](https://user-images.githubusercontent.com/4399574/178755001-536bb36f-2966-446a-8610-0ff988aa4577.png)

[2022-07-13 14:40] mertsincan commented on #8744
@melloware, Interesting! Which browser are you using? Also, could you please check the following CSS code in the browser's inspector?
[code]
<img width="82" alt="Screen Shot 2022-07-13 at 15 41 12" src="https://user-images.githubusercontent.com/11868120/178761825-74acb9eb-14a6-4bdd-a0df-d7f7a0fb87d6.png">

[2022-07-13 14:55] jepsar commented on #8744
Maybe this should be a new issue, but can we do a same animation as we have with speed dial?

https://www.primefaces.org/showcase/ui/button/speedDial.xhtml

See Transition Duration and Icon

[2022-07-13 15:43] rabiter commented on #8976
Looks like the issue is fixed in PrimeFaces 11.0.6

[2022-07-13 15:47] melloware commented on #8744
I  am using latest Chrome:

![image](https://user-images.githubusercontent.com/4399574/178776059-0f32d761-e91c-4322-a71e-ba83d7bd8cf8.png)

[2022-07-13 15:48] melloware commented on #8992
I think this might be related to this whole thread? https://github.com/primefaces/primefaces/issues/8159

[2022-07-13 15:50] melloware commented on #8976
Must have been this issue then: https://github.com/primefaces/primefaces/issues/8159

[2022-07-13 16:30] mertsincan commented on #8744
If I add `line-height: 1.4`, icon alignment is broken in my browser(Chrome Version 103.0.5060.114 (Official Build) (x86_64)).

@jepsar I'm not sure. Maybe you can try to apply speedDial's icon animation and then we can decide accordingly.

[2022-07-13 16:36] melloware commented on #8744
Hmmm maybe its my resolution then!

[2022-07-13 16:56] mertsincan commented on #8744
@melloware could you please try `line-height: 1.25rem;`?

[2022-07-13 16:58] melloware commented on #8744
that looks great!

[2022-07-13 17:03] mertsincan commented on #8744
Thanks a lot, @melloware ;)

[2022-07-13 18:11] hink084 commented on #8992
@melloware I don't think so.  I don't believe this has anything to do with dynamic columns or column ordering.  Also the dataTable.getFilterByAsMap() contains FilterMeta objects with the correct filtered values.

The problem here is that the filter value is not stored in the backing bean property defined within the filterValue attribute of the p:column component.

`filterValue="#{testView.animalFi

[2022-07-13 18:14] melloware commented on #8992
excellent research!  Let me see if I see anything obvious.

[2022-07-13 18:16] #8661 closed, assigned to mertsincan

[2022-07-13 18:20] #8989 closed, assigned to melloware

[2022-07-13 19:15] melloware commented on #8992
This was removed in 10.0 refatoring of datatable but its necessary just to set this filter value mutator.

https://github.com/primefaces/primefaces/blob/cd4fbdf1d9d4ae054da19b9a84001d0c34d142eb/src/main/java/org/primefaces/component/datatable/DataTable.java#L291-L328

[2022-07-13 19:22] melloware commented on #8992
OK submitted a fix.

[2022-07-13 19:30] hink084 commented on #8992
Wow, that's a great find!  Thanks for submitting a fix!!

[2022-07-13 19:39] melloware commented on #8992
i would never have found this without your reproducer so thanks!

[2022-07-13 19:50] #8683 closed, assigned to mertsincan

[2022-07-13 20:06] #76 closed, assigned to jepsar

[2022-07-13 20:45] #8791 closed, assigned to pfumi

[2022-07-13 21:39] #8992 closed, assigned to melloware

[2022-07-14 11:18] melloware commented on #8110
Similar to this issue I just fixed: https://github.com/primefaces/primefaces/issues/8992

I am wondering if it was because this `processUpdates` was removed from the Datatable code to hold the selection?

https://github.com/primefaces/primefaces/blob/cd4fbdf1d9d4ae054da19b9a84001d0c34d142eb/src/main/java/org/primefaces/component/datatable/DataTable.java#L291-L302

[2022-07-14 11:25] Rapster commented on #8110
Probably and as mentionned

[2022-07-14 11:53] Sun8642 opened #8994 "TabView: tab not rendered correctly in a particular situation"
### Describe the bug

When using a tabView with the attribute dymanic="true", if we try to display a particular tab which was not loaded (by clicking on it) and an update of the tabView occurs before the tab is fully loaded, the tab is set as active tab but not rendered.

### Reproducer

1. Go to the home page http://localhost:8080/primefaces-test/
2. Click on the second tab before the update from

[2022-07-14 13:28] melloware commented on #8994
Can you try this MonkeyPatch by adding it to `test.js` of your reproducer.

[code]

[2022-07-14 14:01] melloware commented on #8957
From what I understand `streetView="false"` is just supposed to disable the UI menu option?

From their docs:

I don't think this disables Street View it just disables the control?

[2022-07-14 14:49] Sun8642 commented on #8994
It doesn't work, it doesn't change the behavior at all

[2022-07-14 14:52] melloware commented on #8994
Its working for me:
[pf-8994.zip](https://github.com/primefaces/primefaces/files/9112847/pf-8994.zip)

Can you try mine and make sure you open an incognito window or press CTRL+F5 so it loads the fresh JS correctly.

[2022-07-14 15:07] Sun8642 commented on #8994
My bad, CTRL + F5 did the job, it's working like a charm, thank you !

[2022-07-14 15:11] jepsar commented on #8957
Yeah, but I suspect they check your API key. For the record we don't have a key with these services enabled, so it is hard to check.

[2022-07-14 15:13] #8994 closed, assigned to melloware

[2022-07-14 17:52] jepsar commented on #8683
@mertsincan Fix is looking great! Thanks!

[2022-07-14 17:55] jepsar commented on #8649
@mertsincan Looking great as well! Thanks!

[2022-07-14 18:11] jepsar commented on #8744
To animate the icon I need to change the way the icons are swapped. Will open a new issue.

[2022-07-14 18:15] jepsar opened #8997 "ToggleSwitch: Align icons (animation) with SpeedDial"

[2022-07-15 20:55] qoelhex opened #8998 "FileDownload/CommandButton inside facet of a datatable, not working at all"
### Describe the bug

In a dataTable I have facets for input and output. In a Blob field, for documents, I render a column with fileupload for input, all working there,  and for  output I render a commandButton with a fileDownload, no way to make it work.

If I go for the actionListener route to prepare the Stream prior to be called by the filedownload component, it doesnt fire at all the actionli

[2022-07-16 06:38] tandraschko commented on #8998
Please provide a reproducer and then also test with never versions

[2022-07-18 12:05] #971 closed, assigned to nobody

[2022-07-18 16:34] melloware opened #9002 "CSP: Body onload not working"
### Describe the bug

Forum Post: https://forum.primefaces.org/viewtopic.php?f=3&t=73590

When using...

[code]

The script will not execute when using CSP enabled.   This appears due to some jQuery issues: https://stackoverflow.com/a/55282859 with the load events

It generates this CSP script.

[code]

### Reproducer
[pf-9002.zip](https://github.com/primefaces/primefaces/files/9133728/pf-9002.zip

[2022-07-18 16:39] GedMarc commented on #9002
does the csp have script:inline enabled?

[2022-07-18 16:44] qoelhex commented on #8998
Ok!

[2022-07-18 16:58] melloware commented on #9002
@GedMarc we rewrite inline scripts from DOM events to `Jquery` events like this...

[code]

So we take an inline script and make it a body script wrappering it with `jquery`.   OTher events work it seems like

[2022-07-18 21:16] qoelhex commented on #8998
Hi @tandraschko , attaching the reproducer here...
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/9135832/primefaces-test-master.zip)

[2022-07-18 21:33] qoelhex commented on #8998
I did with the primefaces version configured in the git project, 11.0.0.

I'm not sure how to use with a different version, but if you need to, let me know and I figure out.

I don't know how to work with jetty logging, and I couldn't figure out yet how to make my logs to show up I would appreciate some advice on that.

I prepared 3 examples, two with the commandButton inside, and one with one out

[2022-07-18 21:51] melloware commented on #8998
Thank you we will take a look.

[2022-07-19 09:33] jepsar opened #9004 "Menus: Add badge support to menu items"
### Description

I would like to be able to use a badge on specific menu items of a menu to indicate that there are to dos within them.

### Describe the solution you would like

I hope we can do something similar as what we did with SpeedDial.

### Additional context

_No response_

[2022-07-19 11:31] cidylong opened #9005 "SelectOneMenu not working under <p:tabView>"
### Describe the bug

Component selectonemenu not work under <p:tabView>, very easy to reproduce it, Just create a <p:tabView> and insert a selectonemenu into. Try it, you will see what happen.

Ajax event and listener not work as well.

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces edition

Community

### PrimeFaces version

10.0.0

### Theme

_No response_

[2022-07-19 11:38] jepsar commented on #9005
Works for me with 11. Please try with 12.0.0-RC1 and provide a reproducer.

[2022-07-19 11:45] melloware commented on #9005
Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-07-19 11:45] #9005 closed, assigned to nobody

[2022-07-19 12:28] melloware commented on #8998
You had multiple errors and I fixed them all:
[pf-8998.zip](https://github.com/primefaces/primefaces/files/9141023/pf-8998.zip)

1. You are using AJAX downloading but didn't follow the showcase example. See this stack overflow: https://stackoverflow.com/a/70714913/502366
2. needed `process="@this"` on the Download button

[2022-07-19 12:29] tandraschko commented on #8998
@melloware can we improve the docs?

[2022-07-19 12:31] melloware commented on #8998
Yeah we can and the error that is displayed when its not @RequestScoped is this `"[WARNING] handleException /primefaces-test/javax.faces.resource/dynamiccontent.properties.xhtml java.io.IOException: Error in streaming dynamic resource"`

Maybe we can make that error a little better and say "...Make sure you are using @RequestScoped bean" ???

[2022-07-19 12:39] melloware commented on #8998
Also in the docs we already link here where its explained ViewScoped is not supported.
https://primefaces.github.io/primefaces/11_0_0/#/core/dynamiccontent?id=viewscoped-support

[2022-07-19 12:42] Vicca2707 opened #9007 "DataTable expandedRow : no state change after update"
### Describe the bug

after my upgrade from 10 to 11 my dataTable wont collapse my row after a update. Im using a method to expand/collapse the rows and using expandedrow to know withone i need to collapse and with one should be expanded. At the end is a button to clear my list with is tracking the expanded row and update the table.
After the clearing all rows was collapsed in PF10 but in PF11 the

[2022-07-19 12:48] tandraschko commented on #9007
please try 12.0.0-RC1, which was released today

[2022-07-19 13:06] #8998 closed, assigned to melloware

[2022-07-19 14:56] tandraschko commented on #8395
Actually i would like to contribute this type of LazyDataModel to PF and also write a example + doc
i just wonder, what is a perfect example for it and if we should support it?

i mean, the benefits are clear:
- the model handels filter/sort like in LazyDataModel
- it allows to apply filters via lambda
- it "forces" to uses a lamba to get the list of data, which will be filtered afterwards. This c

[2022-07-19 15:07] melloware commented on #9007
Your reproducer is not valid for me it didn't run at first and when I got it running I don't see any expandable rows.

[2022-07-19 15:55] #9002 closed, assigned to melloware

[2022-07-19 16:05] qoelhex commented on #8998
Oh boys, @tandraschko and @melloware , you rock!

[2022-07-19 17:10] kguelzau commented on #8304
1.13.2 contains another xss fix https://github.com/jquery/jquery-ui/security/advisories/GHSA-h6gj-6jjq-h8g9

[2022-07-19 18:07] melloware commented on #8304
We don't use that feature but it can't hurt to upgrade it. I will work on that now.

[2022-07-19 18:22] melloware opened #9009 "Core: jQuery UI 1.13.2"
### Description

Description
jQuery UI 1.13.2 is released: https://github.com/jquery/jquery-ui/releases/tag/1.13.2

cc @kguelzau

[2022-07-19 19:10] melloware commented on #9009
Yep you can see from my PR we didn't even pull in that CVE fix because our custom JQ UI build doesn't even pull in that component!

[2022-07-19 19:10] #9009 closed, assigned to melloware

[2022-07-20 01:21] melloware commented on #8395
I like it you could call it ReflectionLazyDataModel and add it ?

Can you add it without disturbing the Sort/FilterFeature.

[2022-07-20 05:48] StevenHachel commented on #7953
Hello,
I know I'm only a Primefaces Elite user and not eligible for support, but is there a workaround for JavaEE8 to make it work again?

Some pages take a really, really long time to load without this option and it's annoying that it doesn't work anymore.

Please excuse my question.
Steven

- JavaEE 8.0
- JSF 2.3.9 (org.glassfish -javax.faces)
- Primefaces 8.0.19
- omnifaces 2.7.18
- Payara 5

[2022-07-20 07:20] jepsar commented on #7953
Either get PRO support (https://github.com/primefaces/primefaces#community--elite--pro) or upgrade to PF 12 (RC was released yesterday).

[2022-07-20 09:24] cidylong commented on #9005
Thank you for your advice. I update primefaces to 11.0.0. It works fine.

Thank you again.

On Tue, Jul 19, 2022 at 9:38 PM Jasper de Vries ***@***.***>
wrote:

[2022-07-20 10:28] LouisCollet opened #9011 "Core: version 12.0.0-RC1 cannot download from Maven Central"
### Describe the bug

I get this error when attemptin to user the latest release :
----------------------------< lc:GolfWfly >-----------------------------
Building GolfWfly 1.0-SNAPSHOT
--------------------------------[ war ]---------------------------------
Downloading from central: https://repo.maven.apache.org/maven2/org/primefaces/primefaces-parent/12.0.0-RC1/primefaces-parent-12.0.0-RC1.pom

[2022-07-20 11:31] melloware commented on #9011
Yep we have notified PrimeTek.

[2022-07-20 14:31] cnsgithub opened #9013 "Spinner: Unable to enter values after ajax update"
### Describe the bug

We are currently encountering a problem, where it is not possible to enter new values into a ``p:spinner`` input after it was refreshed by an Ajax update. The spinner definition looks like this:

[code]

I've done some debugging and it seems like the problem is related to the ``keydown`` event handler defined in ``spinner.js``. It uses ``event.key`` for some checks, where ``e