[2021-11-23 20:10] melloware commented on #8106
Awesome!   Let me try this...

[2021-11-23 20:25] melloware commented on #8106
Tested and working if you want to review my PR.  Good catch!

[2021-11-24 08:57] jepsar commented on #887
This issue is about the tooltip labels. To render them as text on the buttons instead of tooltips, use `labelDisplay="inline"`.

[2021-11-24 10:21] tandraschko commented on #8071
also added selectBooleanCheckbox support now

[2021-11-24 10:27] tandraschko commented on #8071
@melloware would you like to provide a impl for selectManyCheckbox?

[2021-11-24 12:20] melloware commented on #8071
Yep let me add SelectManyCheckbox support.

[2021-11-24 12:47] melloware commented on #8071
I added SelectCheckBoxMenu support as that is actually what we use a lot for filtering at my client and we already had this custom override...

[code]

[2021-11-24 12:54] mshumako opened #8109 "ConfirmDialog: JAWS Screen reader does not read the text itself"
**Describe the defect**
We are using JAWS screen reader https://www.freedomscientific.com/products/software/jaws/
Professional Edition. Version: 2021.2107.12 ILM

When a confirm dialog appears, the reader only reads the "confirm dialog" words and description of the "No" button (it is under focus)
The reader does not read the text itself within the dialogue ("Are you sure you want to proceed?").
A

[2021-11-24 13:14] melloware commented on #8109
@mshumako Do you have a suggested fix?

I think this issue is this: https://stackoverflow.com/questions/28112944/jaws-screen-reader-misreads-confirm-dialog-message-ie11

We use aria-labelledBy to point to the title of the dialog.

[2021-11-24 15:44] mshumako commented on #8109
Seems that ScreenReader reads only the `aria-labelledBy` and ignores the `aria-describedby`. Since the `aria-labelledBy` attribute can accept multiple space separated ids to create an announcement then for my project it will be OK to have something like this: `aria-labelledby="j_idt304:j_idt307_title j_idt304:j_idt307_content"`. Thus, the reader will read both the title and the content.

[2021-11-24 16:17] SirError opened #8110 "Datatable: Lazy with multi selection is not keeping selected rows when paginating"
**Describe the defect**
After updating from Prime 7 to Prime 11 the datatable is not being able to keep the selected rows after paginate.

**Environment:**
 - PF Version: _11 RC2_
 - JSF Mojarra 2.2.12
 - Affected browsers:  ALL_

**To Reproduce**

1. Go to http://localhost:8080/primefaces-test/
2. select any row on the table
3. go to second page
4. go back to the first page

**Expected behavior**

[2021-11-24 16:23] mshumako commented on #8109
Can you, please, show me where(,java or .js file) these attributes(`aria-labelledBy` and `aria-describedby`) are added? As far as I understand, this does not happen in [ConfirmDialogRenderer](https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/java/org/primefaces/component/confirmdialog/ConfirmDialogRenderer.java)

[2021-11-24 19:43] melloware commented on #8109
Its in dialog.js

[code]

[2021-11-24 21:04] christophs78 commented on #8110
We need to add a mutation of org.primefaces.integrationtests.datatable.DataTable006Test#testLazySelectionMultipleCheckboxes with pagination. The existing IT covers lazy + multiple selection without pagination.

[2021-11-24 23:21] melloware commented on #8109
Here is the proper example: https://www.w3.org/TR/wai-aria-practices-1.1/examples/dialog-modal/alertdialog.html

Let me submit a PR.

[2021-11-24 23:38] melloware commented on #8109
It looks like we are following ARIA 1.1 so is it possible its a JAWS issue?  Have you tried other screen readers?

[2021-11-24 23:59] melloware commented on #8109
OK so I corrected the role to be `alertdialog` but other than that we are following all the correct ARIA guidelines.

[2021-11-25 06:24] devmsaleh opened #8112 "Calendar: add clear button in button bar"
Can you please add a clear button in the calendar button bar to clear the calendar input ?

[2021-11-25 06:47] jepsar commented on #8112
Calendar is deprecated and does not have a button bar that I know of. Please be more specific.

[2021-11-25 07:41] mshumako commented on #8109
Thank you

[2021-11-25 09:39] tandraschko commented on #8110
@christophs78 are you interessted in providing a IT and check what could be the problem? i can assist when you need help

[2021-11-25 10:59] melloware commented on #8112
Duplicate of this ticket: https://github.com/primefaces/primefaces/issues/3325

As you can see DatePicker has a Clear button:

![image](https://user-images.githubusercontent.com/4399574/143429381-7d4b2963-4c26-4e80-b3e3-7d2ce783416e.png)

[2021-11-25 10:59] #8112 closed, assigned to nobody

[2021-11-25 11:00] #8109 closed, assigned to melloware

[2021-11-25 11:00] christophs78 commented on #8110
I´ll provide a IT but do not plan to fix the issue.

[2021-11-25 17:47] tandraschko commented on #8110
@christophs78 would be great!

i think that code made it work in the past: https://github.com/primefaces/primefaces/blob/7.0/src/main/java/org/primefaces/component/datatable/DataTable.java#L869

@Rapster WDYT?
it restores `selectedRowKeys` from `selection` attr; seems like `selectedRowKeys` is currently more like a temp store for the current request
is `selection` a required attr if seleciton is e

[2021-11-25 17:52] melloware opened #8113 "Filters: Add type="search" to text filters"
**Description**
As requested on the forums: https://forum.primefaces.org/viewtopic.php?f=3&t=69745

Adding `type="search"` to filters to allow modern browers to add the "x" to clear filter icons.

PrimeVue issue: https://github.com/primefaces/primevue/issues/83

**Describe the solution you would like**
Simply adding `type="search"` to the generated input boxes for filter inputs

**WORKAROUND**

Yo

[2021-11-25 19:27] german1410 opened #8114 "TabView: disabled tabs can be reached using keyboard"
**Describe the defect**
When using **tabView** component and setting attribute _disabled_ to true, tab are being disabled but users can still reach them using the keyboard.

**Reproducer**
Define a simple **tabView** and set disable attribute to false for some tabs:
[code]
When page is rendered, tabs will appear as disabled by the user can navigate and set focus on disabled tabs because _tabindex_

[2021-11-25 21:04] christophs78 commented on #8110
We don´t have a bug.

@SirError: You only need to modify your implementation of LazyDataModel#getRowData a bit.

You had:
[code]
Just set `lista` to `fakeDb` and everything ist fine. With `getWrappedData()` you only get the list of rows on your current page. This is not compatible any more with newer PrimeFaces versions. PrimeFaces now calls getRowData for all selected rows independent of being on

[2021-11-25 21:21] tandraschko commented on #8110
I think its a bug
The selectedRowKeys ist cleared, also the state ist still there in selection attr

[2021-11-25 21:51] christophs78 commented on #8110
I wrote the passing IT and debugged the differences between the passing IT and the reproducer for about 1,5 hours...

_selection aggregates the selected rows over all pages (maybe this was different up to PF 7 or 8)
![image](https://user-images.githubusercontent.com/10461942/143502504-ce1b37ff-d644-4913-a43a-1520d50a0930.png)
![image](https://user-images.githubusercontent.com/10461942/143502361-68

[2021-11-25 21:55] christophs78 commented on #8110
This is the point in code where the reproducer failed before fixing getRowData:
![image](https://user-images.githubusercontent.com/10461942/143502790-1051bb9a-1a90-4445-bb52-64798ac56634.png)

[2021-11-25 22:53] Rapster commented on #8110
I can only agree with @christophs78. Not sure, if there is something else to be improved or not. Except that LazyDataModel#getRowData could expect a list of row keys instead of one, so you can retrieve the whole selection in one shot and not in n requests? (as mentionned, getWrappedData will only work for the current page which is not a bad idea, that's why I proposed in  the past to be the defaul

[2021-11-25 22:57] tandraschko commented on #8110
The question is: why do we need to load getRowData for a currently not visible page?
IMO er should just remember the selected rowkey until rendered again

[2021-11-26 01:29] SirError commented on #8110
but if I do that in the real app, it's going to query the database for each selected rows.
let's say, if the user selects 30 rows, the app will do 30 queries and that doesn't sound good.

Melloware suggested on discord to create a cache of the list, and ok that could prevent the amount of queries, but yet, that wasn't necessary before, so it seems like a stepback :/

[2021-11-26 07:22] christophs78 commented on #8110
@SirError : I agree to your argument.

From my side my work is done. I merged my IT-PR. We now have DataTable006Test#testLazySelectionMultipleCheckboxesWithPagination.

@tandraschko , @Rapster : Feel free to refactor our SelectionFeature-impl.

@Rapster: Why did you change SelectionFeature-impl during your work on PrimeFaces 10? There propably was some motiviation behind this we should keep in min

[2021-11-26 10:36] tandraschko opened #8116 "SelectManyCheck: doesnt work correctly with partialSubmit"
similar to https://github.com/primefaces/primefaces/issues/4327

[2021-11-26 12:29] #8116 closed, assigned to tandraschko

[2021-11-26 12:55] melloware commented on #8114
Fixed feel free to review my PR.

[2021-11-26 13:18] Rapster commented on #8110
The motivation was certainly simplification of the feature. I understand on one side it's not ideal that getRowData is called n times, but as mentionned this could easily be fixed by changing getRowData signature expecting a set of rowKeys or, rowKeys sent in the http request could easily be merged with passed rowKeys, and getRowData could be only called with newly rowKeys.

But here an issue that

[2021-11-26 13:35] tandraschko commented on #8110
That problem you mention also sounds reasonable but one can simple remove it from the `selection` attribute in the bean?

WDYT about reintroducing the old behavior now and rework `getRowData()` for 12.0?

[2021-11-26 13:39] Rapster commented on #8110
It comes down the same as calling getRowData as many times there are rowKeys then.

I can try to come up with something if necesary (Ideally, I don't wanna go back to that old findSelectionRowKeys method)

[2021-11-26 13:45] tandraschko commented on #8110
yep, that would be great!
And then lets rework this on 12.0

[2021-11-26 13:50] melloware commented on #8113
Very happy with this new feature. Not sure if you want to mark it for 12.0 or not @tandraschko but is pretty clever and useful!

[2021-11-26 13:57] tandraschko commented on #8113
lets decide @mertsincan

[2021-11-27 07:57] ltlBeBoy commented on #8071
I added the modifications and tested with my software (DataTable + SelectOneMenu). It works like a charm! Thank you so much for that quick fix!

[2021-11-27 08:18] RedRobin84 opened #8119 "SelectCheckboxMenu: Order of selected items not kept"
Greetings,

When using selectCheckboxMenu component (with attribute multiple="true"), after each item selection, the order of selected items in Collection resets exactly to order of the items in collection, thats used as available items to choose (in this case f:selectItems component)

E.g. use collection List<Long> 1,2,3,4, users chooses items in this order 4,3,2, but the result is stored as 2,3,

[2021-11-27 12:52] melloware commented on #8071
Thanks for testing @ltlBeBoy I just updated my PR to add SelectCheckboxMenu support as well.

[2021-11-28 08:48] christophs78 commented on #8100
Maybe this is a won´t fix, because this behaviour is controlled by FullCalendar. viewClassNames (https://fullcalendar.io/docs/view-render-hooks) is fired after events are loaded (https://fullcalendar.io/docs/events-function).

[2021-11-28 12:40] melloware opened #8120 "SelectCheckboxMenu: Selenium Component + Integration Test"
**Description**
Currently there is no PF Selenium Component for SelectCheckboxMenu.

**Describe the solution you would like**
- [x] New Selenium Component
- [x] Should implement all widget methods
- [x] Integration Tests for at least base functionality and all widget methods.

cc @FlipWarthog

[2021-11-28 12:41] melloware commented on #8100
Yeah it seems like it if you are limited by what FC offers without hacking it.

[2021-11-28 14:48] Rapster commented on #8110
Alright, I dug a bit on this. To sum up:

- The problem is that selection gets lost after pagination, and used to work on 7.0
- As @christophs78 mentioned, getRowData have to fetch from the whole database (or whatever) to work and not only the current page.
- @SirError thinks requesting the back-end data for every elements is a regression. Not true, 7.0 works the very same way
- There is a tiny di

[2021-11-28 20:43] nimo23 opened #8122 "AutoComplete: implement inline AJAX status"
**Description**
The [autoComplete](https://www.primefaces.org/showcase/ui/input/autoComplete.xhtml?jfwid=3a3d0) fetches a list of data from the backend and provides suggestions based on this data. This data can come from different sources (e.g. Rest-Endpoints), so it can take a while when the data is arrived. Actually, for such use cases, we can provide a global [ajax-status](https://www.primeface

[2021-11-29 09:47] torshid commented on #7241
@melloware is there a reason why we can't use the `emptyLabel` with the `multiple` mode? The documentation does not specify anything.

Is there currently a way for displaying a placeholder when there is no selection in `multiple` mode, which would be different than the `label` attribute?

Thanks.

[2021-11-29 12:10] melloware commented on #7241
@torshid the component actually renders two different sets of HTML based single mode or multiple mode.  So the label is for single mode.

Let me re-open this ticket and mark it as an enhancement request to show the label in multiple mode.

[2021-11-29 12:12] melloware commented on #8122
@nimo23 I think I get the idea.  Do you want it more like how PrimeReact does it where it shows the spinner icon right inside the input right?

See: https://primefaces.org/primereact/showcase/#/autocomplete

[2021-11-29 12:14] torshid commented on #7241
Excellent, thanks.

[2021-11-29 12:16] nimo23 commented on #8122
@melloware exactly like that.

[2021-11-29 16:53] peterremec opened #8123 "PrimeConfiguration: NPE when using on HCL Digital Experience"
**Describe the defect**
Using Primefaces 10, a simple portlet on HCL Digital Experience 9.5 stops working.

**Environment:**
 - _Primefaces 10.0_
 - _MyFaces 2.2.8_
 - _HCL Digital Experience 9.5 on Websphere Application Server 9.0.5.7_

**To Reproduce**
Using PF 7 or 8, portlet deployed on HCL Digital Experience 9.5 worked without any problem. When I changed Primefaces version from 8.0 to 10.0, a

[2021-11-29 17:08] tandraschko commented on #8123
please try a snapshot again

[2021-11-29 17:08] #8123 closed, assigned to tandraschko

[2021-11-29 17:20] peterremec opened #8124 "AutoUpdate: p:messages not updated after page navigation on HCL Digital Experience"
**Describe the defect**
After navigating to another portlet page, `autoUpdate` stops updating faces messages and `There are some unhandled FacesMessages ...` warning appears in logs. Portlet has two pages, both have two buttons - first one to display faces message and the second one to navigate to another page. Auto update works ok as long as I stay on the first page, but after I navigate on a sec

[2021-11-29 18:04] tandraschko commented on #8124
can you replicate this is a servlet environment, especially in a forked primefaces-test?
Otherwise i suggest to use PrimeFaces PRO, i personally wont learn about portlets to debug a issue and i also think its more related then to your container, not to PrimeFaces.

[2021-11-29 19:03] peterremec commented on #8123
Thanks for a quick reply. Tried a snapshot version and it looks like that another NPE appears, this time in `PrimeApplicationContext` class:

`[29.11.2021 19:58:39:150 CET] 00000a57 ServletWrappe E com.ibm.ws.webcontainer.servlet.ServletWrapper service CWSRV0014E: Uncaught service() exception root cause TestJSF22: javax.servlet.ServletException: javax.portlet.PortletException: java.lang.NullPointe

[2021-11-29 19:04] melloware commented on #8123
Looks like the error is here:

[code]

[2021-11-29 19:09] tandraschko commented on #8123
whats null? #getServletRegistrations?

[2021-11-29 19:15] tandraschko commented on #8123
i will fix this but your container, hcl digitial experience - whatever it is exactly, is kinda broken
it doesnt use PortletRequest, neither it implement servlet artifacts fully or correctly

[2021-11-29 19:24] tandraschko commented on #8123
@melloware @christophs78 could you please review my change? i dont like to destroy something short before of 11.0

[2021-11-29 19:26] peterremec commented on #8123
That might be the case. AFAIK HCL Digital Experience is ex IBM Portal and they've re-coded portlet bridge so this might be their job to fix it.

[2021-11-29 19:36] tandraschko commented on #8123
yeah
please try again
we can atleast fix simple NPE

[2021-11-29 19:37] melloware commented on #8123
this looks good to me @tandraschko

[2021-11-29 20:47] peterremec commented on #8123
Yes, NPE is now fixed. Thanks for your help.

[2021-11-29 20:52] nimo23 opened #8125 "InputNumber: "minValue>0" shows js warning"
**Describe the defect**
Using something like this:

[code]

shows the following warning in the javascript console:

Looking in https://github.com/autoNumeric/autoNumeric/issues/543#issuecomment-619542552, there is indeed the option. In my opinion, this should be the default (so that the warning disappears), if PF detects a "minValue > 0"

**Environment:**
 - PF Version: _11.00 RC2_
 - JSF + versio

[2021-11-29 21:39] tandraschko commented on #8124
as it works even fine on IBM portlet, i dont think its a PF issue
likely related to the porlet bridge
i would create a issue on HCL side, we can reopen then if they think its a PF bug with a description

[2021-11-29 21:39] #8124 closed, assigned to nobody

[2021-11-30 06:29] thundermeier opened #8126 "FileUpload: Event 'pfAjaxSuccess' not triggered when done"
**Describe the defect**
When using `fileUpload` together with `ajaxStatus` the status indicator never gets hidden when the upload is done.
This only happens when `ajaxStatus` is missing the `complete` facet for example like this:
[code]

**Environment:**
 - PF Version: _10.0_
 - JSF + version: _Mojarra 2.3.5_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Create

[2021-11-30 06:30] joeyapa opened #8127 "JqueryUI: Primefaces 7 Jquery UI 2021 CVE"
Primefaces cross site scripting vulnerability for  XSS CVE-2021-41184, CVE-2021-41183, CVE-2021-41182 under jquery-ui. As workaround we manually patched the jquery-ui to \META-INF\resources\primefaces\jquery\jquery-plugins.js

[2021-11-30 06:56] tandraschko commented on #8127
Primefaces7? So its fixed in 11 already?

[2021-11-30 08:10] tandraschko commented on #8127
we already have 1.13

[2021-11-30 08:10] #8127 closed, assigned to nobody

[2021-11-30 08:28] #8126 closed, assigned to nobody

[2021-11-30 08:50] jepsar commented on #8127
In general, if you are concerned about security, upgrade your PrimeFaces version.

[2021-11-30 09:09] nimo23 opened #8129 "AutoComplete: add support for generic collections, not just List"
**Describe the defect**
Using `p:autoComplete` with multiple=true and value="{bean.collection}"
throws the following error:

[code]

**Environment:**
 - PF Version: _11.0.0-RC2_
 - JSF + version: _e.g. Mojarra 2.2.20
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Use `p:autoComplete` with `multiple=true` and `value="{bean.collection}"` (and use a collection type

[2021-11-30 09:18] tandraschko commented on #8129
enhancement as it was never supported

[2021-11-30 09:49] melloware commented on #8127
Link to fixed issue: https://github.com/primefaces/primefaces/issues/5492

[2021-11-30 10:18] #8114 closed, assigned to melloware

[2021-11-30 10:26] #8106 closed, assigned to melloware

[2021-11-30 10:41] AceDoan commented on #6552
Hi @melloware ,
1. I can used this scripts successfully but it affected to others attributes like
"maxValue="100"
decimalSeparator=","
thousandSeparator="""
These attributes would be turned off when I use the scripts above
2. The second problem is when I use
<p:ajax ignoreAutoUpdate="true" update="percentageLowerLimit percentageUpperLimit" />
inside of <p:inputNumber then the content of inputtext

[2021-11-30 10:47] DazzlingBob opened #8133 "DatePicker: Uncaught TypeError in primefaces 8"
### Environment

PrimeFaces version: primefaces 8 + primefaces elite 8.0.13 and 8.0.14
JSF: Mojarra-2.3

### Expected behavior

No javascript error must occur. Datepicker must display.

### Actual behavior

The following javascript error is generated:

Uncaught TypeError: this.viewDate.getMonth is not a function
    at K.<computed>.<computed>.renderDateView (datepicker.js.xhtml?ln=primefaces&v=8.0

[2021-11-30 10:51] tandraschko commented on #8133
works fine in 11.0, so i will close it

@mertsincan would you like to fix it elite?

[2021-11-30 10:51] #8133 closed, assigned to melloware

[2021-11-30 10:54] DazzlingBob commented on #8133
Is there a way to manualy include a newer version of the datepicker.js in primefaces 8?

[2021-11-30 10:57] tandraschko commented on #8133
you can the extract the file from a newer JAR and replace it in your older JAR
or place the file in your project and include it in h:head last facet

[2021-11-30 11:51] tandraschko commented on #8110
im still not sure if i understand correctly all cases but when i read:

couldnt we then just make the SelectionFeature not to create a new list of seleciton elements but add/remove new selection/deselection from the existing list?

[2021-11-30 12:12] melloware commented on #6552
1. It should not be because this line calls the default constructor: PrimeFaces.widget.BaseWidget.prototype.init.call(this, cfg);`  But do me a favor add this line right after...
[code]

See if that fixes it.

2. Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2021-11-30 12:18] melloware commented on #8125
Can you try this MonkeyPatch by just adding this script to your JS file that loads after PF.

[code]

Just finding out if this does give the behavior you want?

[2021-11-30 12:32] Rapster commented on #8110
See it this way, I select all my elements and doing nothing for the next 14 minutes (session timeout - 1) and then I do whatever I'm supposed to do (simple update in db with current state items), you may have a few surprises like overriding what users did in the next 14 minutes 😄

Yeah that's something I started at first, making a disjunction. But I stopped as i was getting annoyed with the whole

[2021-11-30 12:33] melloware commented on #8125
@nimo23 when I have this

[code]

With this new `this.cfg.overrideMinMaxLimits = 'invalid';` it prevents me from entering a negative number but i can enter `0.50`

![image](https://user-images.githubusercontent.com/4399574/144048031-125f9cee-52ae-4610-aad4-fa3892697ad3.png)

[2021-11-30 12:36] nimo23 commented on #8125
Try to use `decimalPlaces="0"` to avoid `0.5`.

I think, when PF detects `p:inputNumber` with minValue>0, then it should set this `invalid` property so that no javascript warning is shown.

[2021-11-30 12:40] melloware commented on #8125
I do agree with you the current default has been complained about in the past.

[2021-11-30 20:20] seinecle opened #8135 "SelectOneMenu: Style Items"
**Description**
Making it easier to add extra space between selectItem options in a selectOneMenu (and similar inputs)

**Describe the solution you would like**
Either:
- a better documentation on how to customize css for selectItems
- adding a new, dedicated attribute to selectOneMenu to adjust this space

**Additional context**
By default, the choice options in a selectOneMenu are really narrowl

[2021-11-30 20:30] melloware commented on #8135
I don't see a selectOne in your screenshot?

And how to customize is documented right here: https://primefaces.github.io/primefaces/10_0_0/#/components/selectonemenu?id=skinning

You simply need to modify the CSS for `.ui-selectonemenu-items`

[2021-12-01 04:44] AceDoan commented on #6552
Hi @melloware ,
Seems It's did not fixed with Primefaces 7.0.17, right? I can succeed with 10.0.0 but not for 7.0.17.
About 10.0.0 the attribute maxLength will inactive when I set modifyValueOnWheel="false".

[2021-12-01 08:06] joeyapa commented on #8127
For this no plans to add it in Primefaces 7? The only way is to upgrade to Primefaces 11 is it?

[2021-12-01 08:10] tandraschko commented on #8127
this is the community issuetracker and we can only fix it for 11.0 - everything else are ELITE releases (like 7.0.x)
you can buy a fix via PrimeFaces PRO into the next ELITE release

[2021-12-01 09:50] melloware commented on #6552
Nope it's in 8.0.3 and 10.0.0+ if you look at the labels on the right

[2021-12-01 09:58] AceDoan commented on #6552
@melloware Do we have any way to fix it for 7.0.17?

[2021-12-01 11:27] tandraschko commented on #8135
yeah
either you modify the theme or you add some style classes
CSS over compontent attributes

[2021-12-01 11:27] #8135 closed, assigned to nobody

[2021-12-01 12:40] melloware commented on #6552
@AceDoan see my MonkeyPatch above you can use that right now with 7.0.17.

[2021-12-01 12:54] AceDoan commented on #6552
@melloware hmm, it does not work correct. It affected to others attribute as i mentioned above.

[2021-12-01 13:19] tandraschko commented on #8071
AFAICS we have:
selectManyCheckbox
selectBooleanCheckbox
selectOneMenu
selectCheckBoxMenu

should we support more or just close for now?

[2021-12-01 13:42] melloware commented on #8071
I say we close for now as those are the most popular filters.  And regular InputTexts etc are already handled.  So I say from now on let someone open a new ticket if they want a specific component to have `resetValue`

[2021-12-01 13:54] #8071 closed, assigned to nobody

[2021-12-01 13:55] melloware commented on #6552
I tested it and it works for me.

[2021-12-02 08:48] tandraschko opened #8137 "Faces 4.0 compatibility"
https://balusc.omnifaces.org/2021/11/whats-new-in-faces-40.html

we should check if we can support 4.0 in the same codebase
4.0 hasnt introduced much breaking changes that we use in PF (e.g. JSP, ManagedBeans, ...)

[2021-12-02 10:01] #8137 closed, assigned to tandraschko

[2021-12-02 10:01] tandraschko commented on #8137
first tests looks fine

[2021-12-02 11:57] OBreidenbach opened #8138 "Tree: Drag and Drop does not work"
**Describe the defect**
The drag and drop tree example in the showcase does not work.

**Reproducer**
Go to
https://www.primefaces.org/showcase/ui/data/tree/dragdrop.xhtml
and drag/drop any node

**Environment:**
 - PF Version: _11.0.0-RC2_
 - JSF + version:
 - Affected browsers: _hrome, Firefox

[2021-12-02 12:02] melloware commented on #8138
Related to this maybe: https://github.com/primefaces/primefaces/issues/7613

cc @FlipWarthog

[2021-12-02 12:02] tandraschko commented on #8138
does it work in trunk?

[2021-12-02 12:16] melloware commented on #8138
What I don't understand is it has `dragdropScope="demo"` but I don't see demo anywhere in that example?  I assumed dragdropScope would be an ID of an element of what can be dragged and dropped onto?

[2021-12-02 12:22] tandraschko commented on #8138
no idea TBH, never used drag&drop

[2021-12-02 12:23] melloware commented on #8138
me neither 😄

[2021-12-02 12:28] melloware commented on #7997
Reverting this as its broken it fixed HSB but broke normal color selection.  Switching to Coloris for PF12 is the way to go. :)

[2021-12-02 13:19] tandraschko opened #8140 "Slider: #validate doesnt work correctly"
1) the first if-block doesnt use the converter, this can break cases
2) the second block also uses the converter if the submittedValue is used, to convert it again into string
    the converter should only be used if the #getValue is used

[2021-12-02 13:23] tandraschko commented on #8138
sounds like just a context name: https://www.pureexample.com/jquery-ui/draggable-options-scope.html

[2021-12-02 13:46] #8138 closed, assigned to tandraschko

[2021-12-02 16:04] schlagges commented on #8137
the link is broken, it's: https://balusc.omnifaces.org/2021/11/whats-new-in-faces-40.html

[2021-12-02 17:52] DazzlingBob commented on #8133
@mertsincan please fix this issue in elite 8.0.15?

 The original issue is: https://github.com/primefaces/primefaces/issues/5683
 The code change is: https://github.com/primefaces/primefaces/pull/5687/commits/236cc2e78a091fbe48a448648fbb5aaecea2ba27

 It has been an issue for more than 1.5 years.

[2021-12-02 18:02] melloware commented on #8133
@DazzlingBob just use this MonkeyPatch in your JS file that loads after PF.

[code]

[2021-12-02 21:25] DazzlingBob commented on #8133
With the MonkeyPatch the DatePicker issue is fixed.

@melloware Thanks for the MonkeyPatch, made my day!

[2021-12-02 21:25] melloware commented on #8133
Happy to help!

[2021-12-03 14:44] schaeferm commented on #7914
Please update the component to support the Number type. Just now I have noticed that EL may also return a Double when a division is done.

[2021-12-03 14:57] tandraschko commented on #7914
new feature request pls ;)

[2021-12-03 15:40] schaeferm opened #8142 "Poll: support Number instead of Integer"
**Description**
With Polls interval I have noticed that EL may return a Double after a division was done. It would be nice when all parameters that currently accept Integer would be changed so that they accept Number.

**Describe the solution you would like**
Change all Integer parameters to Number parameters.

**Additional context**
Currently application devs would have to call the integer conver

[2021-12-05 15:34] jan-tosovsky-cz opened #8146 "TabView: Unexpected BoxShadow"
**Describe the defect**
When Tab is clicked outside the label or icon, but still in the tab area (e.g. red dot below), that tab gains disturbing BoxShadow.
![image](https://user-images.githubusercontent.com/3907898/144752794-50d4540c-cd62-4a1d-bf2f-759490e5a4c4.png)

**Environment:**
 - PF Version: _10.0.0_ but also _v11.0.0-RC2_
 - JSF + version: _Mojarra 2.2.20_
 - Affected browsers: _ALL_

**To

[2021-12-05 17:24] tandraschko commented on #8146
@mertsincan can you check this?

[2021-12-05 23:23] tomtibbetts opened #8148 "Problem with Datatable filter and sort display multiple empty rowsComponent: Title"
PrimeFaces 11.0.0-RC1
Wildfly 25 final
Harmony 3.0.1
Java 11

The data loads just fine in the table.  I can sort either of the columns multiple times and everything works.  The issue is if I filter a column then apply a sort.  The data in the table goes away leaving empty rows.  The number of the empty rows matches the number of rows that are rendered when filtered.  I basically copied this code f

[2021-12-06 07:24] tandraschko commented on #8148
Try 11.0.0-RC2 and read the Migration guide If it still doesnt work

[2021-12-06 08:57] tandraschko commented on #8148
also the issue is invalid without reproducer - so either provide a running primefaces-test or check our current showcase

[2021-12-06 21:20] nimo23 opened #8150 "SelectManyMenu: add property `dropdown`"
**Description**
The menu items of a [SelectManyMenu](https://www.primefaces.org/showcase/ui/input/manyMenu.xhtml?jfwid=b2650) are always visible.

**Describe the solution you would like**
Would be nice to add a property `dropdown` (with true and false) to `SelectManyMenu` to show a **dropdown** like
[SelectOneMenu](https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml?jfwid=b2650).

[2021-12-06 22:35] nimo23 opened #8151 "InputNumber: add documentation how to handle percentages / custom converters"
**Description**
`p:inputNumber` cannot work with `f:convertNumber`. I have the value "0.001" which represents a **percentage format**. Using this, works as usual:

[code]

Unfortunately, with `p:inputNumber`, I cannot handle `myPercentValue` :

[code]

**Describe the solution you would like**
Maybe a property `type` can be provided for `p:inputNumber` where type can be `number` (standard) or `perc

[2021-12-06 22:43] tandraschko commented on #8151
Works fine for me, we use it similar in our apps with a custom converter

[2021-12-06 22:48] tandraschko commented on #8150
Use SelectCheckboxMenu

[2021-12-06 22:48] #8150 closed, assigned to nobody

[2021-12-06 22:50] nimo23 commented on #8151
@tandraschko yes, with a **custom converter**..but without a custom converter, it does not, because this

[code]

throws "javax.servlet.ServletException: Error converting  [0,10 %] to a decimal value;".

The reproducer is simple:

Use this:

[code]

with `myPercentValue = 0.001 `(which represents 0.1%) (without a custom converter) and you see the error.

[2021-12-06 22:51] tandraschko commented on #8151
f:convertNumber is not a custom converter and wont work as InputNumber works with Numbers only, not string

[2021-12-06 22:54] nimo23 commented on #8151
yes, this is why I recommend the following:

Maybe a property `inputType` can be provided for `p:inputNumber` where `inputType` can be `number` (standard) or `percent`:

[code]

[2021-12-06 23:11] tandraschko commented on #8151
IMO a custom converter is enough and already supported

[2021-12-06 23:18] nimo23 commented on #8151
JSF `f:convertNumber `provides the 3 common `types` :

I think, `p:inputNumber` could also provide these common types out of the box (without needing to write a custom converter).

However, you can close this issue if you think.

[2021-12-07 00:17] tomtibbetts commented on #8148
I’m not sure what you mean by reproducer.  Is there a specific format you’re looking for?  And, from what I understand, the current showcase is not at 10.0.0.  But I don’t know how to verify that.

From: Thomas Andraschko ***@***.***
Sent: Monday, December 6, 2021 2:58 AM
To: primefaces/primefaces
Cc: Thomas Tibbetts; Author
Subject: Re: [primefaces/primefaces] Problem with Datatable filter and so

[2021-12-07 00:33] nimo23 commented on #8151
@tandraschko I created a custom percentConverter as you suggested:

[code]

Using the converter in `h:inputText` works:

`<h:inputText value="#{bean.myPercentValue}" converter="percentConverter"/>`

However, when I  use the converter in `p:inputNumber`, it does not work:

[code]

 I get this error:

[code]

Why does `p:inputNumber` not accept my `percentConverter`?

[2021-12-07 07:23] tandraschko commented on #8148
https://github.com/primefaces/primefaces-test

[2021-12-07 07:24] tandraschko commented on #8148
The current showcase is 11.0, which you also use 😄

[2021-12-07 07:39] nimo23 commented on #8151
The reason why the above did not work, is that `p:inputNumber` cannot accept my `getAsString()`-value coming from my `percentConverter`, because `org.primefaces.component.inputnumber.InputNumberRenderer.encodeEnd(InputNumberRenderer.java:114)`tries to encode a value like "0.1 %" to a `BigDecimal` which fails:

[code]

Or is there another solution? One more reason why `p:inputNumber` should have a

[2021-12-07 07:52] tandraschko commented on #8151
You have to return a number string, without %
As i said InputNumber works only with numbers

[2021-12-07 08:00] schaeferm commented on #8142
Just as a clarification: I used the Poll component as an example. I think that it would be a general improvement throughout the entire project. And when I think this further this wouldn't be actually limited to integer parameters but rather to all parameters that accept numbers. I don't know whether the documentation should be updated to reflect this change, as surly not in all cases floating poin

[2021-12-07 08:22] nimo23 commented on #8151
It works with this solution:

[code]

It was irritating for me, that `p:inputNumber` cannot handle all those java **numbers** including `NumberFormat` (with localized strings) even if we put a jsf converter in it. Maybe `p:InputNumber` can be extended in future to accept jsf `f:convertNumber` with its NumberConverter.java.

[2021-12-07 08:35] tandraschko commented on #8142
if you have other cases or suggestions, feel free to create a list here
otherwise we limit it to poll currently

[2021-12-07 08:41] tandraschko commented on #8151
i dont think we can support this easily as NumberFormat isnt public accessible in f:convertNumber.
also, as i already said, inputNumber is designed to work with numbers only
the formattings and symbols are applied on clientside and only numbers are posted/rendered between client<>server

maybe its better that you use a `p:inputText type=number` or something

[2021-12-07 08:42] tandraschko commented on #8151
i will change this ticket to a documentation ticket, so we can add your current converter and a small description

[2021-12-07 12:48] schaeferm commented on #8142
I have not done a detailed review of the current situation, but as this is related to how EL handles arithmetic operations and they can be used anywhere I thought it may be wise to review how numbers are processed/handled throughout the provided components.

[2021-12-07 13:08] pneumcke opened #8152 "NullPointerException caused by collapsed attribute from p:panel (PF 10, WebSphere)"
We have a p:panel in our main template that has a collapsed attribute with an EL expression.

This works fine when the page is rendered for the first time. A NullPointerException appears in the update phase:

`
javax.servlet.ServletException: java.lang.NullPointerException
	at org.omnifaces.filter.FacesExceptionFilter.doFilter(FacesExceptionFilter.java:105)
	at org.omnifaces.filter.HttpFilter.doFi

[2021-12-07 13:12] tandraschko commented on #8152
yep, thats a duplicate
i can only ping @mertsincan to put this into ELITE
otherwise try PrimeFaces PRO or use 11.0.0-RC2

[2021-12-07 13:12] #8152 closed, assigned to nobody

[2021-12-07 13:36] #8151 closed, assigned to nobody

[2021-12-07 13:41] nimo23 opened #8153 "SelectCheckboxMenu: does not show label with multiple="true""
**Describe the defect**
I use this:

[code]

and expect that the label "Select.." is shown when the component is rendered and no selection is made. However, the inputField is empty (explicitly use `emptyLabel="Select .."` does not help). If I set `multiple="false"`, then the label is shown correctly.

**Environment:**
 - PF Version: _11.0.0_RC2
 - JSF + version: Mojarra 2.2.20
 - Affected browsers

[2021-12-07 13:51] nimo23 opened #8154 "SelectCheckboxMenu: showHeader="false" does not work"
**Describe the defect**
The property `showHeader` means the header of the panel where the search box is? If so, then `showHeader=false` has no effect, the header is always visible.

I use this:

[code]

and expect that the header (with the search box and the "select all"-button) is not shown when the component is rendered. However, it is shown.

**Environment:**
 - PF Version: _11.0.0_RC2
 - JSF +

[2021-12-07 13:59] pneumcke commented on #8152
We just migrated to PF 10 - switching to PF 11 would require a new round of changes to the complete code page.
I would really love to have this fix in the next maintenance release of 10.0.x
Thanks a lot!

[2021-12-07 14:00] tandraschko commented on #8152
i really suggest to use 11.0 - it is much more stable as 10.0 as we introduced many integration tests
also it doesnt contain many breaking changes

[2021-12-07 14:46] #8154 closed, assigned to tandraschko

[2021-12-07 14:46] tandraschko commented on #8154
please test

[2021-12-07 14:48] tandraschko commented on #8154
the change looks much more as it is, i only added some `if (this.cfg.showHeader)` around code blocks

[2021-12-07 15:53] tandraschko commented on #8153
related to: https://github.com/primefaces/primefaces/issues/7241

updateLabel / emptyLabel seems to be not compatible now with multiple=true

[2021-12-07 18:11] djmj commented on #8151
@nimo23

Have a look at OmniFaces _ImplicitNumberConverter_ which can convert percentage or currency values without symbol. Maybe it is a fit for _p:inputNumber_?

- https://showcase.omnifaces.org/converters/ImplicitNumberConverter
- https://github.com/omnifaces/omnifaces/issues/387

[2021-12-07 21:44] tomtibbetts commented on #8148
Thank you, Thomas, for all your help!  I do have my issue resolved.

I apologize, but there is so much to learn and so much information, it feels overwhelming.

From: Thomas Andraschko ***@***.***
Sent: Tuesday, December 7, 2021 1:24 AM
To: primefaces/primefaces
Cc: Thomas Tibbetts; Author
Subject: Re: [primefaces/primefaces] Problem with Datatable filter and sort display multiple empty rowsCompon

[2021-12-07 21:57] #8148 closed, assigned to nobody

[2021-12-08 11:10] enricokl opened #8155 "CellEditInit: Last Cell throws NumberFormatException if you push the Tabulator Button"
**Describe the defect**
A dataTable in editMode "cell" and with the CellEditInit Ajax Event throws an NumberFormatException if you click tabulator in the last cell to be edited.

**Environment:**
 - PF Version: _8.0.13_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Click on last editable cell in the DataTable
2. Click on Tabulator
3. In log you see the NumberFor

[2021-12-08 11:19] tandraschko commented on #8155
so its already fixed in 10.x?

[2021-12-08 11:24] enricokl commented on #8155
Yes, is it possible to fix this in 8.0 as well? If it's ok, I can fix it myself and do a PullRequest.

[2021-12-08 11:26] tandraschko commented on #8155
yea, thats the problem
this is the community issue tracker, so you cant provide a PR as elite releases are managed in  a private PrimeTek repo

i can just ping primetek here (cc @mertsincan)

otherwise PrimeFaces PRO user can push fixes directly in elite

[2021-12-08 11:26] #8155 closed, assigned to nobody

[2021-12-09 12:06] #8055 closed, assigned to NicolaIsotta

[2021-12-09 18:40] markpalermo opened #8159 "DataTable filterBy/sortBy breaks when column ordering changes"
**Describe the defect**
When the column ordering has been changed on a DataTable, searching and filtering no longer function.
It would appear that the search/filter column name passed to the backing bean is no longer correct, likely using the column index to lookup the column name based on the initial ordering, rather than the updated ordering.

**Environment:**
Primefaces Showcase v11.0.0 RC2

**

[2021-12-10 08:33] StevenHachel commented on #6912
I have had problems with it since version 8.0.14.

If the Ajax status "Complete" is no longer recognized and the "statusDialog" is no longer hidden after the upload.
This occurs with nested components, i.e. when I use FileUpload documents multiple times.
Is there a trick how I can set this status manually to make it work again?

Problem:
After upload file (mode="auto)" p:ajaxStatus dosent call fun

[2021-12-10 12:11] #8140 closed, assigned to tandraschko

[2021-12-10 12:24] melloware commented on #6912
@StevenHachel if your problem truly is this ticket then set `global="false"` on the upload.  That would essentially negate this change and make it work like it did in 8.0.13.  If that does not do it then either A) the Elite merge did not merge all the changes from this ticket or B) This ticket might not be the cause of what you are seeing

[2021-12-11 02:02] #5064 closed, assigned to mertsincan

[2021-12-11 19:43] ghost commented on #2049
How did you resolve this?
I'm having similar issue.

[2021-12-13 08:12] tandraschko commented on #8159
anyone interessted in creating a test?

[2021-12-13 08:53] StevenHachel commented on #6912
@melloware thx for help.
The "global" attribute is only available in version 10 and therefore does not work with Primefaces 8.

My workaround is that I click a hidden button after uploading via the attribute fileUpload->oncomplete() so that the Ajax status gets its correct status and my application can be used again.

Steven

[2021-12-13 17:53] #8125 closed, assigned to melloware

[2021-12-13 18:37] melloware opened #8167 "CVE-2021-44228: Exclude Log4J as PF doesn't use it"
CVE-2021-44228  Apache Log4j2 <=2.14.1

Apache POI brings this in as a transitive dependency but PrimeFaces **does not include this JAR** it just uses POI to compile code but we **do not** include POI. This is purely to get the build working again and passing OWASP check.

**IMPORTANT:** So anyone reading this PrimeFaces is NOT vulnerable to this CVE.

[2021-12-13 19:04] #8167 closed, assigned to melloware

[2021-12-14 11:52] #8064 closed, assigned to melloware

[2021-12-14 11:57] tandraschko commented on #6956
even 01-2023:
Even IE11 running on Windows 7 will be supported longer than next June. Commercial customers who pay for the third year of Extended Security Updates (ESUs) will receive support for IE through the end of that contract, or until Jan. 10, 2023.

[2021-12-14 12:20] #8142 closed, assigned to tandraschko

[2021-12-14 12:49] tandraschko commented on #7882
a contribution would be welcome here

[2021-12-14 13:07] melloware commented on #7901
What theme are you in?  I can't get mine to look like yours in the Saga theme...

![image](https://user-images.githubusercontent.com/4399574/146003936-422341f0-9b17-46ad-be7c-08b05b9ae273.png)

[2021-12-14 13:14] pizzi80 commented on #6956
Angular do not support IE so PrimeNG do not support IE

[https://github.com/angular/angular/issues/41840](https://github.com/angular/angular/issues/41840)

just saying... but, If people is comfortable to pay for IE11 it should be comfortable to pay a PrimeFaces "legacy" or "LTS" version even double the price of the current version....

[2021-12-14 13:18] melloware commented on #6956
React doesn't support it either without a 3rd party library `react-app-polyfill`.

[2021-12-14 13:32] tandraschko commented on #6956
i need IE support personally until support ends, so...

[2021-12-14 13:43] miedrl opened #8169 "DataTable: row selection via icon does not work anymore"
**Describe the defect**
Before PrimeFaces 10.0.0 it was possible to select rows via clicking on an icon within p:dataTable instead of clicking on a table row itself. This was possible by deactivating row selection via disabledSelection="true" so normal row selection wouldn't be triggered but at the same time using data binding via the "selection" attribute to select a row by clicking an icon. Sinc

[2021-12-14 13:47] melloware commented on #8169
I have a feeling this behavior change was intentional as it was fixed with this ticket: https://github.com/primefaces/primefaces/issues/6575

[2021-12-14 13:48] melloware commented on #8169
To me this is the correct behavior in that if selection is disabled then nothing should happen.  It seems to me you were previously using a "hole" in the code to design your solution and that hole has been closed.

I would like @Rapster @christophs78 @tandraschko thoughts on this...

[2021-12-14 13:52] miedrl commented on #8169
@melloware Thank you, this sounds reasonable. However, I would also like to hear the other ones thoughts on this :)

[2021-12-14 13:53] tandraschko commented on #8169
the new behavior sounds also correct for me

[2021-12-14 23:40] Rapster commented on #8169
Same here, new behavior sounds good

[2021-12-15 00:22] melloware commented on #8169
Sorry @miedrl going to close this. If your goal is selection only on certain elements that is possible with the "rowSelector" property where you can give it a jquery selector of what you want to cause selection such as a type or CSS class

[2021-12-15 06:58] miedrl commented on #8169
@melloware No problem. I will try out your solution with the "rowSelector" property though, sounds promisingly.

[2021-12-15 13:40] melloware commented on #8169
Let us know how it goes!

[2021-12-15 13:40] #8169 closed, assigned to nobody

[2021-12-16 03:55] githubuser100007 opened #8173 "DataTable: Reflow should use styled selectOneMenu, not native one"
Reflow on p:dataTable causes sort button with no styling. It looks like a normal html sort dropdown with no styling.

Primefaces 11, Rain Layout

[2021-12-16 12:38] tandraschko commented on #8173
please provide a reproducer - at best a forked primefaces-test project
so we can see if related to rain or not

[2021-12-16 15:07] githubuser100007 commented on #8173
Any p:dataTable with reflow="true":

[code]

[2021-12-16 15:17] tandraschko commented on #8173
i still dont know what you mean
what is the sort button? whats a sort dropdown?

[2021-12-16 15:32] melloware commented on #8173
screenshots please.  reproducer please like @tandraschko asked for else we can'treally do anything and you should post on the RAIN forum: https://forum.primefaces.org/viewforum.php?f=138

[2021-12-16 16:13] githubuser100007 commented on #8173
Sort looks like this (with no formatting, looks unlike any other menu dropdown in the template)
![image](https://user-images.githubusercontent.com/37383950/146407784-b4272d38-63a0-4454-8f0a-cce8e3e7b8ec.png)

[2021-12-16 16:14] githubuser100007 commented on #8173
I did post on the rain forum, they asked me to create an issue here.

[2021-12-16 16:18] githubuser100007 opened #8176 "Breadcrumbs are not responsive"
Not sure if this is a defect generally, but in the RAIN template, the breadcrumb breaks our responsive site.

**Reproducer**
Add breadcrumbs as you would normally.

In the RAIN template, I use:

[code]

An example of a list working responsively that I found:
https://codepen.io/danield770/pen/nmBKr

**Environment:**
 - PF Version: 11
 - JSF + version: MyFaces 2.3.9
 - Affected browsers: ALL

[2021-12-16 16:20] tandraschko commented on #8176
i cant see any p:breadcrumb? please write better tickets

[2021-12-16 16:36] jepsar commented on #8176
Possible duplicate of #6480

[2021-12-16 16:39] githubuser100007 commented on #8176
I'm just following the RAIN template that we purchased. We define the viewname section just like in the demo. It doesn't wrap and breaks mobile layouts.

[2021-12-16 16:49] tandraschko commented on #8176
then please use the RAIN forum - this issue tracker is for PrimeFaces Core only

[2021-12-16 16:49] #8176 closed, assigned to nobody

[2021-12-17 07:38] c-koell commented on #6461
Is it possible to backboard this to the 8.x branch ? We are on 8.0.10 and we see this exception on java 17 now.

[2021-12-17 13:26] arnis87 opened #8177 "InputMask: InputMask does not clear mask symbols when autoClear=false"
**Describe the defect**
`p:inputMask autoClear="false"` behaviour differs from how it worked in PrimeFaces 8 for empty field

**Environment:**
 - PF Version: _11.0_

**To Reproduce**
Steps to reproduce the behavior:
1. Create page with `inputMask autoClear="false"`
2. Observe the empty field behaviour compared to PF8

**Expected behavior**
When nothing is entered the mask should not be visible.

*

[2021-12-17 13:34] melloware commented on #8177
We switched to this component which fixed so many bugs: https://github.com/RobinHerbots/Inputmask

I am using the property `clearIncomplete`... https://github.com/RobinHerbots/Inputmask#clearincomplete

 `.attr("clearIncomplete", inputMask.isAutoClear(), false);`

But I am wondering if it should be `clearMaskOnLostFocus` https://github.com/RobinHerbots/Inputmask#clearmaskonlostfocus

[2021-12-17 14:07] arnis87 commented on #8177
Yes I think you are correct. To me it also seems based on the documentation they provide that `clearMaskOnLostFocus` is how it might have worked at least conceptually in PF8.

[2021-12-17 14:10] melloware commented on #8177
Can you try this MonkeyPatch.  Just add this code to any JS file in your app that loads after PF.

[code]

[2021-12-17 14:31] arnis87 commented on #8177
Yes, this patch works

[2021-12-17 14:39] melloware commented on #8177
Fantastic! Thank for testing.

[2021-12-17 15:11] melloware commented on #8177
OK PR submitted. Thanks for reporting this.

[2021-12-18 18:33] #8177 closed, assigned to melloware

[2021-12-18 18:54] melloware commented on #8173
Forum post: https://forum.primefaces.org/viewtopic.php?f=138&t=70034

Mert confirmed to open a ticket here so assigned to him.

[2021-12-18 18:55] melloware commented on #8100
Should we close this as WontFix?

[2021-12-18 22:04] #8100 closed, assigned to christophs78

[2021-12-19 08:05] arnis87 commented on #8177
Will this be fixed in 11 elite patch as well?

[2021-12-19 11:58] melloware commented on #5780
Mentioned on the forums too: https://forum.primefaces.org/viewtopic.php?f=3&t=70076

[2021-12-19 12:54] melloware commented on #8177
That's up to @mertsincan

[2021-12-20 11:14] strefilov opened #8180 "SelectOneRadio: improve ARIA accessibility of custom layout"
Problem with screen reader JAWS or NVDA
jaws(screen reader ) can't read element radioButton and read as 1 from 1 without label

**Reproducer**
https://www.primefaces.org/showcase/ui/input/oneRadio.xhtml?jfwid=574c3

**Environment:**
 - PF Version: 11
 - JSF + version: Mojarra 2.2.20 or MyFaces 2.3.9_
 - Affected browsers:  ALL

**To Reproduce**
Steps to reproduce the behavior:
1. run screen reader

[2021-12-20 22:02] dziobek opened #8186 "OutputLabel: Duplicate onclick attribute rendered"
**Describe the defect**

Problem looks like https://github.com/primefaces/primefaces/issues/6650

outputLabel  -OutputLabelRenderer->  "Duplicate attribute onclick."

First attr. onclick written after exec.:
 renderPassThruAttributes(context, label, HTML.LABEL_ATTRS);

... another is generated by:
 renderDomEvents(context, label, HTML.LABEL_EVENTS);

Please verify lines 155 and 156:
https://github

[2021-12-21 09:23] tandraschko opened #8187 "Remove deprecated MatchMode#Range"
it was replaced by between

[2021-12-21 09:27] #8187 closed, assigned to tandraschko

[2021-12-21 12:31] tandraschko opened #8188 "AccordionPanel, Carousel, TabView misses varStatus in taglib"

[2021-12-21 12:31] #8188 closed, assigned to tandraschko

[2021-12-21 12:59] melloware commented on #8186
Thanks for the report PR submitted.

[2021-12-21 15:36] omerogrek commented on #8138
Describe the defect
The drag and drop tree example in the showcase still does not work completely.

Reproducer
Go to
https://www.primefaces.org/showcase/ui/data/tree/dragdrop.xhtml
and drag/drop any node on top of other node. Nodes cannot be dropped to other nodes.

Environment:

    PF Version: 11.0.0
    JSF + version:
    Affected browsers: Firefox

[2021-12-21 19:24] jepsar commented on #8180
Can be assigned to me.

[2021-12-21 20:34] melloware commented on #8180
Done!

[2021-12-22 12:46] melloware commented on #8138
@omerogrek please open a new ticket.

[2021-12-22 13:16] jepsar opened #8190 "DefaultCommand: TextEditor contents is not ignored"
**Describe the defect**
Form with both TextEditor and DefaultCommand makes you not being able to use enter in the editor as it submits the form.

**Reproducer**
[code]

**Environment:**
 - PF Version: 12.0.0-SNAPSHOT
 - JSF + version: Mojarra 2.3
 - Affected browsers: Chrome

[2021-12-22 13:19] jepsar commented on #8190
Possible duplicate of #4984 but that was tagged 8.0 RC1

[2021-12-22 19:13] jepsar commented on #8190
I just tried with the showcase on 12 and was able to reproduce this.

[2021-12-22 23:32] melloware commented on #8190
Something must have changed with a refactoring.

[2021-12-23 06:51] jepsar commented on #8190
No, it is no regression. The prevention is

https://github.com/primefaces/primefaces/blob/147af695f4435dc92c3319e723687cd0e28afcd3/primefaces/src/main/resources/META-INF/resources/primefaces/forms/forms.defaultcommand.js#L47-L50

but the TextEditor contents is a node tree in `div class="ql-editor"`, so we should exclude enters from any node in the editor.

Can be assigned to me.

[2021-12-23 15:06] tarwork opened #8193 "Schedule : event backgroundColor attribute setting not being honored"
The p:schedule component is not honoring the backgroundColor attribute being set to events.

 - PF Version: 10.0.7 and 11.0.0
 - JSF + version: Mojarra 2.2.20
 - Java version : 1.8
 - Affected browsers: Chrome, Firefox and Edge on Windows

**Example XHTML**
[code]

**Example Bean**
[code]
**Observed Behavior**
The event shows up with the default blue color with black text. So text color is being h

[2021-12-23 16:10] melloware commented on #8193
@tarwork this is not a bug this is as designed in FullCalendar.  If you go to the Showcase here: http://primefaces.org/showcase/ui/data/schedule/basic.xhtml

Click on Week view and you will see the background color of green.  IT only appears in DAILY or WEEKLY mode but not in Monthly Mode

![image](https://user-images.githubusercontent.com/4399574/147265719-59c4a968-9323-49ba-9a67-c71f7baffaba.png

[2021-12-23 16:10] #8193 closed, assigned to nobody

[2021-12-23 16:25] tarwork commented on #8193
@melloware

Hmmm, thank you for pointing that out. I should have mentioned for this particular app I am using the week view as my default. But my week view shows only blue events...

<p:schedule id="schedule" value="#{bean.eventModel}" widgetVar="myschedule" minTime="06:30:00" maxTime="18:30:00" allDaySlot="false" **view="timeGridWeek"** slotDuration="00:15:00" />

Looks like I need to investigate

[2021-12-23 16:57] melloware commented on #8193
Yep then compare what you are doing to the Showcase.  The showcase is setting background color to green and its working properly.

[2021-12-24 08:13] christophs78 opened #8195 "DataTable/TreeTable: add filterAndSort to UITable-interface"

[2021-12-24 14:11] melloware commented on #7964
@stolp it looks like the XML Exporter doesn't use header or footer facet at all?  You have it marked above as false but it looks like it never uses them anyway can you confirm what you mean?

[2021-12-24 14:15] melloware commented on #7964
Ahh i see XML looks like it never uses the footer but it uses the Header if NO `exportHeader` is found on the column so it can render the XML tag correctly.

[code]

I am hesitant about adding it to XML exporter as you can already override this with the headerText or exportHeaderValue on the column

[code]

[2021-12-24 14:28] melloware commented on #7964
OK please see my PR.  I did not touch XML exporter.

[2021-12-24 14:46] stolp commented on #7964
Thanks @melloware. I will check this over the weekend.

[2021-12-24 14:50] melloware commented on #7966
I decided against option and just made it the sensible default to not export `visible="false"` columns.  It makes sense it should export what's visible on your screen.

[2021-12-24 14:55] jepsar commented on #8180
@strefilov PR is ready for review.

[2021-12-24 14:59] melloware commented on #8031
@djmj @tuerker  I can't reproduce. We use ColumnToggler and Exporters on all our tables in our production app without issue.  Can someone provide me a reproducer for 11.0.0 that shows the problem without the use of `{exporters}`??

[2021-12-24 16:23] tuerker commented on #8031
@melloware this issue contains actually two issues.

1) there is the problem with the export of the grouped columns: exporting grouped column is definitively NOT working correctly as shown in the reproducer above p-dataexportercsv-grouped.zip. also in this reproducer the export button/link was in the exporters, it also not working when the export button/link is outside of the table:

[code]

2) th

[2021-12-24 16:53] melloware commented on #7966
OK changed my mind again and made a `visibleOnly` option which is `false` by default.

[2021-12-25 09:31] jepsar commented on #7822
I only see tables being rendered for the MegaMenu on that page.

[2021-12-25 13:02] melloware commented on #7822
@jepsar I was inclined to close this ticket because there is so little information.  And it uses the Diamond Theme showcase and not the main Showcase which removes all custom components of Diamond.

[2021-12-25 13:03] melloware commented on #7822
There is just too much going on in that Diamond Menu page.

[2021-12-25 13:03] #7822 closed, assigned to nobody

[2021-12-25 13:56] stolp commented on #7966
I like the solution, as it is backwards compatible and does not surprise users with a different behavior.

[2021-12-25 15:00] jepsar opened #8202 "AutoComplete: support LazyDataModel to search instead of completeMethod"
You might have many `LazyDataModels` in your project which are almost suitable to serve as an `AutoComplete` suggestions
provider. They could be used with `AutoComplete` in combination with a field attribute. The query string could be applied on the provided `lazyModelField` using `MatchMode.CONTAINS`.

[2021-12-25 15:43] stolp commented on #7964
Just for the record to clarify my point regarding XML-Export of tables:

An XML-Format export should typically only consist of the table data and no added header/footer information to allow proper consumption in other tools. It just doesn't make sense to have extra records here.

My apologies, I may have missed that this is no longer the case here, although I have a hunch that is was present in Pr

[2021-12-25 17:31] melloware commented on #7964
Please do open a new issue!

[2021-12-26 13:41] stolp opened #8205 "XML Exporter: Generate element names for a fixed locale without breaking other exporter behavior"
**Description**

In my multi-lingual application, I export tables to XML output and other formats like PDF and XLSX. The table column header string changes with the selected language.

The current implementation of DataTableXMLExporter derives tag names in the XML output from the corresponding column header value, which change according to the current locale setting used in the application.

This

[2021-12-26 13:42] stolp commented on #7964
Thanks, I opened #8205 for this.

[2021-12-27 07:14] strefilov commented on #8180
it works for NVDA but jaws can't read this solution. jaws(reader) can work with "aria-lable" .
I recommended add property aria-lable for p:radioButton. Developer will be able to select solution .

[2021-12-27 07:29] jepsar commented on #8180
@strefilov can you please reference documentation.

[2021-12-27 08:23] strefilov commented on #8180
![image](https://user-images.githubusercontent.com/7150149/147451391-0e099939-110f-48c5-988a-ff16d57acb16.png)

[2021-12-27 08:24] strefilov commented on #8180
jaws not read it

[2021-12-27 09:05] jepsar commented on #8180
@strefilov can you please reference documentation on this? I based my changes on https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/examples/radio/radio.html

Would adding `aria-labelledby` to the radio button help? That's what we use in general for components.

[2021-12-27 09:18] Rapster commented on #8202
What's the added value of this? Please add description. I have my own  idea but I'd rather hear it from you

[2021-12-27 09:30] jepsar commented on #8202
@Rapster added description. See also PR.

[2021-12-27 09:52] strefilov commented on #8180
https://www.w3.org/TR/wai-aria-1.1/#radio
https://www.w3.org/TR/wai-aria-1.2/#radio
to see Inherited States and Properties:

[2021-12-27 09:54] strefilov commented on #8180
please add support :
aria-label

[2021-12-27 11:26] fcorneli opened #8206 "Submenu: exception with comments"
JSF comments within `p:menuitem` like shown below:
[code]
gives us the following exception:
[code]

This should not happen I guess. A simple `instanceof` check should fix this.

**Environment:**
 - PrimeFaces 10.0.7
 - JSF + version: Mojarra 2.3.14.SP04 (WildFly)

[2021-12-27 11:50] tandraschko commented on #8206
Please try 11.0

[2021-12-27 12:10] jepsar commented on #8180
@strefilov I've updated the PR to make the labels point to the original inputs. That is the same as the other, non-custom, SelectOneRadio variants (assuming that those are working for you). See https://github.com/primefaces/primefaces/pull/8194/commits/0da7ea14914a2e534cc191a04376f7f89fd17400

Can you please try the the updated PR.

[2021-12-27 12:13] Rapster commented on #8202
Understood. Indeed autoComplete feature look a bit similar to filtering in DataTable:
- filter input
- filter mode

But could we do more? For example:
- if maxResults was limited to 10, you could request to load more (next page?) There is a moreTextSelect, but reusing LazyDataModel would be a lot more elegant approach
- display the total (matching filter)
- Also, optimizing the fetching process, i

[2021-12-27 12:19] Rapster commented on #8206
See also https://github.com/primefaces/primefaces/issues/2143

[2021-12-27 12:41] strefilov commented on #8180
it works ok!!

[2021-12-27 12:46] jepsar commented on #8180
@strefilov Great! Thank you for reporting and testing.

[2021-12-27 14:45] jepsar commented on #8202
Yeah, we could do that. Should be a new issue and PR IMO.

We could add that. Could be a placeholder you could use in moreText.

There is a queryDelay attribute. I prefer to use that to reduce server load.

I initially added an interface, but replaced it with the field. An interface would require you to modify existing lazy models. And, you can expect one generic lazy model which is used for all t

[2021-12-27 17:42] Rapster commented on #8202
Turns out, there is a cache attribute...

You shouldn't try too hard to make existing models compatible with autocomplete, there are 2 different components. If one day, we decide to change LazyDataModel again, it'll impact autocomplete and probably not in a good way... Though, you can create an adapter/intermediary to make them compatible

[code]

And an adapter to make compatible models from Data

[2021-12-27 20:11] #8206 closed, assigned to tandraschko

[2021-12-28 07:43] jepsar commented on #8180
@strefilov Please don't close issues with open PRs.

[2021-12-28 08:44] strefilov commented on #8180
sorry

[2021-12-28 11:56] #8195 closed, assigned to christophs78

[2021-12-28 12:00] #8186 closed, assigned to melloware

[2021-12-28 13:00] jepsar commented on #8180
@strefilov Can you please reopen the issue?

[2021-12-28 13:00] #8190 closed, assigned to jepsar

[2021-12-28 16:42] fcorneli opened #8210 "Tree: better handle null children"
While trying out to migrate from 10 to 11, we stumbled upon the following NPE:
[code]
Don't know exactly why this is happening, but this did not occur on the 10.0.x series.

[2021-12-28 16:45] tandraschko commented on #8210
we need a reproducer as stated in the issue template, otherwise we cant fix.

[2021-12-28 17:16] fcorneli commented on #8210
Pinpointing this one will not be easy. It happens somewhere within: p:dialog -> custom JSF composite -> p:tabView -> p:tab -> p:scrollPanel -> p:tree
Fun fun fun...

[2021-12-28 17:55] tandraschko commented on #8210
You can atleast debug whats null

[2021-12-29 18:56] jepsar opened #8213 "CommandButton: add option to disable button on Ajax requests"
Add option to disable the button on Ajax requests triggered by that button.

[2021-12-29 23:12] Rapster commented on #8213
Is it same as this https://github.com/primefaces/primefaces/issues/2521 ?

[2021-12-30 06:17] jepsar commented on #8213
Yes, you're right! Totally forgot about that one. This is a duplicate.

[2021-12-30 06:17] #8213 closed, assigned to nobody

[2021-12-30 11:24] jepsar commented on #8202
This is #8

[2021-12-30 11:43] jepsar opened #8215 "Panel: bottom border radius of content is incorrect with footer"
Screenshots are taken from https://www.primefaces.org/showcase/ui/panel/panel.xhtml (Saga, but also happens with Vela and Arya).

<img width="272" alt="Screenshot 2021-12-30 at 12 36 08" src="https://user-images.githubusercontent.com/7500178/147748592-f3ebce40-177f-4f11-ac67-ab9c19685ec9.png">
<img width="254" alt="Screenshot 2021-12-30 at 12 36 17" src="https://user-images.githubusercontent.com/7

[2021-12-30 14:52] jepsar commented on #5503
The fix for #8180 makes fixing this easier (I hope).

[2021-12-30 18:23] jepsar opened #8217 "MenuButton: JS deactivate: Cannot read properties of undefined (reading 'children')"
https://www.primefaces.org/showcase/ui/menu/menuButton.xhtml
[code]
results in
[code]

See also https://github.com/primefaces/primefaces/pull/8214#issuecomment-1003135341

[2021-12-30 18:38] melloware commented on #5503
Let me know if it does. I was stumped on this one before!

[2021-12-30 18:39] jepsar commented on #8217
Hmm.. needs parameters... 🤦🏼‍♂️

[2021-12-30 18:39] #8217 closed, assigned to nobody

[2021-12-30 18:43] jepsar commented on #5503
I'll have a look when the PR for #8180 is merged.

[2021-12-31 06:36] jepsar opened #8218 "CommandLink: add widget with disable / enable option"
Currently there is no widget for CommandLink.

[2022-01-03 09:57] #8218 closed, assigned to jepsar

[2022-01-03 12:05] tandraschko commented on #8202
TBH i like the current way that AutoComplete makes LazyDataModel compatible with it, without introducing new interfaces, changes etc. etc.

We could however introduce a new interface in the future, if we need to support other cases or other components

[2022-01-03 12:58] tandraschko opened #8221 "NotificationBar: duplicated on AJAX update"
because refresh/destroy isnt implemented

[2022-01-03 13:11] Rapster commented on #8202
Let's start with LazyDataModel I gues and see how it goes in the future. Suggestions count should also support DataModel#getRowCount (we don't use count method recently introduced)

[2022-01-03 13:19] tandraschko commented on #8202
perfekt, thanks for the feedback

#count is already used the current PR, so i will merge it

[2022-01-03 13:43] #8221 closed, assigned to tandraschko

[2022-01-03 13:44] #8202 closed, assigned to jepsar

[2022-01-03 15:17] jepsar commented on #8215
Another issue: when you collapse a panel, no bottom border is rendered:

<img width="174" alt="Screenshot 2022-01-03 at 16 16 10" src="https://user-images.githubusercontent.com/7500178/147947411-5a7b258c-5dc6-47be-900c-dbad8feddcb3.png">

Should I open a new issue for this?

[2022-01-03 18:26] christophs78 commented on #8210
https://github.com/primefaces/primefaces/blob/11.0.0/primefaces/src/main/java/org/primefaces/component/api/UITree.java#L996
getChildren() null?

@fcorneli can you please put a breakpoint into this line and validate your usecase?

[2022-01-03 18:46] shelcomite opened #8223 "Tree Drag and Drop not working"
Describe the defect
The drag and drop tree example in the showcase does not work.

Reproducer
Go to
https://www.primefaces.org/showcase/ui/data/tree/dragdrop.xhtml
and drag/drop any node

Environment:

PF Version: 11.0.0
JSF + version:
Affected browsers: Chrome, Firefox,...

[2022-01-03 18:52] FlipWarthog commented on #8223
@melloware You can assign this to me and I'll investigate.

[2022-01-03 18:53] jepsar commented on #8223
Works for me

[2022-01-03 18:53] melloware commented on #8223
@jepsar  I am using Chrome on Windows and it won't let me drag between the trees.  I can only drop nodes on the same tree at the same level.

[2022-01-03 19:08] FlipWarthog commented on #8223
@melloware @jepsar It's the dropzones; they're super tiny so it has to be right on the mark and you'll see it highlight.

![image](https://user-images.githubusercontent.com/83613837/147969647-a332d9bb-0c26-4d11-8584-6b68cc14e6a8.png)

[2022-01-03 19:31] melloware commented on #8223
Ahh so its just a showcase issue?

[2022-01-03 19:57] FlipWarthog commented on #8223
That, I haven't gotten to yet. I need to set up a reproducer in primefaces-test to see if it behaves the same.

[2022-01-04 01:42] FlipWarthog commented on #8223
Correction to my previous statement, the drop zones for putting a node between two other nodes (reordering) is working. The drop zones for adding a node as a child of another node is not working. I'm about to submit a PR with the fix but I also want to provide a MonkeyPatch for anyone seeing this issue in their own application on PF11 (or possibly PF10):

[code]

[2022-01-04 08:19] #8223 closed, assigned to FlipWarthog

[2022-01-04 10:29] #2521 closed, assigned to jepsar

[2022-01-04 10:43] tandraschko commented on #8210
i added some checks for null children
if the issue persist, provide a reproducer or we will just close it as invalid

[2022-01-04 10:43] #8210 closed, assigned to tandraschko

[2022-01-04 11:59] rds76 opened #8225 "Tooltip: global+trackmouse - mousemove event clear"
**Describe the defect**
mousemove event is not cleared for global tooltips with trackmouse

**Environment:**
 - PF Version: _ALL_
 - JSF + version: _Mojarra 2.2_
 - Affected browsers: _ALL_

**To Reproduce**
1. create global Tooltip with trackMouse
2. hide event do not unhook trackmouse event

**Expected behavior**
A clear and concise description of what you expected to happen.

**Example XHTML**

[2022-01-04 12:07] rds76 opened #8226 "Tooltip: multiple elements for target selector"
**Describe the defect**
Tooltip is showed on first element always

**Environment:**
 - PF Version: _ALL_
 - JSF + version: _Mojarra 2.2_
 - Affected browsers: _ALL_

**Expected behavior**
Tooltip should follow mouse pointer

**Example XHTML**
[code]

[2022-01-04 12:25] tandraschko commented on #8226
p:tooltip doesnt even have a `target` attribute

[2022-01-04 12:31] rds76 commented on #8226
sorry my fault, correct is `for`, updated...

[2022-01-04 12:32] RegiK123 opened #8228 "DonutChartOptions: cutout should be used instead cutoutPercentage"
After migration form PF10 to PF11  donutChartOptions.setCutoutPercentage stop working it is every time default 50% as i check in the PF code in the class responsible for setting this pram is still old "cutoutPercentage " insted of "cutout"
see: https://www.chartjs.org/docs/latest/getting-started/v3-migration.html
See also the package org.primefaces.component.donutchart;
method encodeOptions(FacesC

[2022-01-04 12:34] melloware commented on #8113
From @mertsincan

Hi,
I think we can add showClearButton or showClear attribute to Column. So we can easily style it by themes.

showClear* : When enabled, a clear icon is displayed to clear the value.

https://www.primefaces.org/showcase/ui/input/inputText.xhtml?jfwid=d6123 (Right icon demo)

WDYT?

[2022-01-04 12:49] RegiK123 opened #8229 "Chips: Chips broken after migration to PF11"
**Describe the defect**
Chips broken after migration to PF11, chip area size, multi line chips.

**Environment:**
 - PF Version: 11.00
 **To Reproduce**
Steps to reproduce the behavior:
1.Open http://www.primefaces.org:8080/showcase/ui/input/chips.xhtml?jfwid=c7ef3
2. add many chips
3. modify the element area like this
![image](https://user-images.githubusercontent.com/26834946/148062680-e782464b-

[2022-01-04 12:53] tandraschko commented on #8229
please follow the issue template

[2022-01-04 12:53] #7964 closed, assigned to melloware

[2022-01-04 12:53] #7966 closed, assigned to melloware

[2022-01-04 13:00] RegiK123 commented on #8229
updated

[2022-01-04 14:22] RegiK123 opened #8231 "Chips: Chips size and behavior broken"
**Describe the defect**
In version PF10 i can change the size of tags area and have multiple tags in multiple lines. In PF 11 when i change the size of chip area from one line to multiline , the the tags are as big as this area. Also when we have many tags in more the one line it start to cover each other. Bug is also visible on primefaces page
https://www.primefaces.org/showcase/ui/input/chips.xh

[2022-01-04 14:24] #8229 closed, assigned to nobody

[2022-01-04 17:04] FlipWarthog commented on #8223
@melloware You need both function fixes for it to work fully (see above). Otherwise the drop will work, but the node accepting the drop won't become a parent (if needed) and it'll cause the dropped node to disappear.

[2022-01-04 17:11] melloware commented on #8223
Ahhh I see now.

[2022-01-04 20:46] #8076 closed, assigned to christophs78

[2022-01-05 06:11] tschia opened #8232 "Printer: CSS styles are no longer working"
**Describe the defect**
The Printer component in PrimeFaces 11 appears to no longer support CSS styles.

In previous versions of PrimeFaces including 6.2, 8, and 10 this was a supported feature.

I suspect this is due to the migration/upgrade to Print.js described here:
https://github.com/primefaces/primefaces/issues/7288

Print.js does support passing CSS Styles as a configuration to the JQuery f

[2022-01-05 08:06] rds76 commented on #8226
btw, same problem happens with `delagate` option and even worst, it delagates event to only first element for selector and only in case it has ID attribute.

[2022-01-05 09:49] tandraschko commented on #8076
@melloware @christophs78 tests failed this night, can you check?=

[2022-01-05 11:28] iki-hacon opened #8233 "LinkButton: Enable/Disable via JS does not work correctly"
**Describe the defect**

**Defect 1 (disable => enable):**

Create p:linkButton
`<p:linkButton id="btn" widgetVar="btn" disabled="true" value="test"/>`

Try to enable the button later with Javascript:
`PF('btn').enable()`

Expected behavior: Button works, Link is clickable
Actual behaviour: Button does not work, no clickable link

**Defect 2 (enable=> disable):**

Create p:linkButton
`<p:linkButto

[2022-01-05 11:35] christophs78 commented on #8076
`Error:    Schedule001Test.testDateSelect:92 expected: <true> but was: <false>`
...fails on Firefox

[2022-01-05 12:58] melloware commented on #8233
Works fine for me on the Showcase:

1. Go here https://www.primefaces.org/showcase/ui/button/linkButton.xhtml

2. Press F12 to bring up the developer Console.

3. Enter `PrimeFaces.widgets.widget_j_idt319.enable();`

4. Enter `PrimeFaces.widgets.widget_j_idt319.disable();`

[2022-01-05 13:02] melloware commented on #8232
@tschia I don't see in the PrintJS settings where you can tell it what CSS classes to respect?  The only reference to CSS I see is styling the header.

[2022-01-05 13:03] melloware commented on #8232
Oh is it `targetStyles` ???

[2022-01-05 13:19] iki-hacon commented on #8233
@melloware no it does not - only on the first glance

1. Go here https://www.primefaces.org/showcase/ui/button/linkButton.xhtml
2. Press F12 to bring up the developer Console.
3. Enter `PrimeFaces.widgets.widget_j_idt319.enable();` => It looks enabled, but there is no link to click
4. Enter `PrimeFaces.widgets.widget_j_idt313.disable();` (please note, this is the second button "new tab"!) => Looks

[2022-01-05 13:23] iki-hacon commented on #8233
Some additional remarks:

regarding step 3: this only happens, if the linkButton was disabled at the first rendering. It works if the button was not disabled first and only disabled by javascript later.

There is a difference between the disable()(endable() by Javascript and the disabled/enabled rendering when updating the component the usual JSF way.

[2022-01-05 13:23] melloware commented on #8233
Got it.  I see. Its the `disabled="true"` is rendering the component in a way it can't ever be enabled.

[2022-01-05 13:29] iki-hacon commented on #8233
We have a workaround for the `widget.disable()`:

`$(PF('button').link[0]).attr('tabindex', '-1').attr('aria-disabled', 'true');`
This removes the link from the tab order and completely disables the button.

Later, when we do `widget.enable()`, we do the reverse:
`$(PF('button').link[0]).removeAttr('tabindex').removeAttr('aria-disabled');`

But we still can not enable a button, which has initially

[2022-01-05 13:34] jepsar commented on #8233
Fix probably will look a lot like https://github.com/primefaces/primefaces/commit/15bb18c75886269f8bc94f48e038b8a9f98d94e2 / https://github.com/primefaces/primefaces/pull/8219

We might be able to DRY some of the JavaScript

[2022-01-05 13:37] melloware commented on #8233
@jepsar yep similar but even easier since it already had a widget. I just had to render the button as normal instead of a custom SPAN if it was disabled.

[2022-01-05 14:20] melloware commented on #8232
Added a new property so you can pass any JSON options to `configuration` on Printer so it future proofs it for PrintJS.

[2022-01-05 15:27] julianaiglsdorfer opened #8237 "Default behaviour for keypress enter in dialogs"
Primefaces Version 10.0

I'm developing a Java EE Business Application with PF 10 and would like to know what is the current default behaviour of Primefaces when keypress Enter inside a Dialog? Could it be that there are differences between keypress Enter when an input Element is active inside an Dialog?

I would like to achieve that on enter always the last button (which is the submit button in m

[2022-01-05 15:40] melloware commented on #8237
Isn't this what you want: https://www.primefaces.org/showcase/ui/misc/defaultcommand/basic.xhtml

[2022-01-05 16:45] Teutron-flo opened #8238 "InputNumber: maxlength not respected"
**Describe the defect**
It looks like the maxlenght value for InputNumbers didn't work.

**Reproducer**
In showcase V11:

https://www.primefaces.org/showcase/ui/input/inputText.xhtml

Add to the Basic field:

`<input id="j_idt311" name="j_idt311" type="text" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all ui-state-filled" role="textbox" aria-readonly="false" aria-disable

[2022-01-05 17:22] melloware commented on #8238
@Teutron-flo that has been discussed and covered here by AutoNumeric the plugin that powers InputNumber:

https://github.com/autoNumeric/autoNumeric/issues/599

Its marked as "WontFix".

[2022-01-05 17:23] #8237 closed, assigned to nobody

[2022-01-05 17:50] tschia commented on #8232
Sorry wasn't able to get back to you for your questions. Looks like you found it, appreciate the quick response!

[2022-01-05 20:17] jepsar opened #8239 "BlockUI: DRY JavaScript code"
Duplicate code can be moved to function and `PrimeFaces.ajax.Utils.getSourceId` can be used.

[2022-01-05 20:45] GregLBrand opened #8241 "DataExporter and ColumnGroup not working on Showcase"
The Showcase shows the problem very well.  Access the Showcase link below and then click the XLSX button on the top right.  The exported data is not showing the column headers and data properly.
https://www.primefaces.org/showcase/ui/data/datatable/group.xhtml?jfwid=bcf7b

**Environment:**
 - PF Version:  11.0.0

![image](https://user-images.githubusercontent.com/45044006/148286756-1254af0c-b761-4

[2022-01-05 20:58] melloware commented on #8241
Ahhh this was working before so something changed.

[2022-01-05 21:00] melloware commented on #8241
It was working as of this ticket: https://github.com/primefaces/primefaces/issues/7163

[2022-01-05 22:29] GregLBrand commented on #8241
Workaround is to use the 'exportable="false"' on the ColumnGroup columns and then add the "display:none;" to the data columns. Yuck, but works.

<p:columnGroup type="header" exportable="false">
     <p:row>
          <p:column rowspan="2" headerText="Something"exportable="false"/>
            :
</p:columnGroup>

:
<p:column>
    <f:facet name="header"><h:outputText value="Something" style="display

[2022-01-05 22:35] melloware commented on #8241
I think I see the problem.  Working on a fix tomorrow

[2022-01-06 06:34] Teutron-flo commented on #8238
@melloware, ok with the minValue / maxValue i can get a similar behavior. Thanks for the information.

But wouldn't it good to writte such a known thing into the documenation?
I spend yesterday a couple of hours on it, because I thought the issue is on my side.

[2022-01-06 09:32] miedrl opened #8242 "selectOneMenu: Component is skipped by screenreader in browse mode"
**Describe the defect**
Screenreaders typically have a browse mode in which you can read the content of a page and a focus mode in which you can also interact with the page (e.g. clicking a button). In both modes each element should be readable by the screenreader. The defect here is that, when in browse mode, selectOneMenu components are skipped by the screenreader so a blind user would not know

[2022-01-06 12:27] melloware commented on #8238
OK PR submitted to update the documentation and taglib definition for maxLength on InputNumber to say `DO NOT USE! To limit the number of digits...set maximumValue, minimumValue and/or decimalPlaces accordingly.`

[2022-01-06 12:36] Teutron-flo commented on #8238
Thank you for your create support here! I realy love your (and of all other team member) work for primefaces!
It makes so much fun to work with it in our applications.

[2022-01-06 12:54] melloware commented on #8241
Much better now.  The fix was to use the overloaded method to exclude column groups when asking for exportable columns.

![image](https://user-images.githubusercontent.com/4399574/148386065-b0e09e76-52ab-4db4-8f50-7d7f3bc8d9a1.png)

[2022-01-06 12:57] eduarddrenth commented on #7427
For my pf (jpa) apps I use a library that allows users to use some syntax in values.

Based on https://bitbucket.org/fryske-akademy/crudapi/src/master/jpaservices/src/main/java/org/fryske_akademy/jpa/OPERATOR.java

see https://bitbucket.org/fryske-akademy/crudapi/src/master/

Perhaps this is of use

[2022-01-06 13:02] BryanV91 opened #8245 "DataTable: Filter + Input component with ajax processing that row and the next one"
**Describe the defect**
Whenever I set a filter value in the column that has an input component (like selectBooleanCheckbox, datePicker, inputText, etc.) and then I proceed to change that value by ajax, the table gets updated and it shows the affected values for the row that I clicked and the next one. This doens't happen when I don't set any filters.

**Reproducer**
Project attached: [primefaces-

[2022-01-06 13:03] melloware commented on #8242
I would report this as a bug to NVDA.  Our SelectOne has this ` aria-owns="j_idt120_items" role="combobox" aria-haspopup="listbox" aria-expanded="false"` which is proper ARIA identification so I would check with NVDA and report the bug there.

[2022-01-06 13:03] #8242 closed, assigned to nobody

[2022-01-06 13:05] melloware commented on #8242
As a caveat if you find something that NVDA reports we are not doing correctly for ARIA standards we are happy to fix but this generic report about 1 single reader does us no good.

[2022-01-06 13:10] eduarddrenth opened #8246 "Datatable: filter on Integer uses String comparison"
g.percelen is an Integer

The following xhtml:

[code]
results in String comparison for gt instead of numeric comparison

**Environment:**
 - PF Version: _10.0.8
 - JSF + version: Mojarra on payara 5.2021.9
 - Affected browsers: firefox 95.0.1 linux

**To Reproduce**
Create a pojo with an Integer field percelen
Create a Datatable for it with a list of these objects in a controler
values for percel

[2022-01-06 13:15] melloware commented on #8246
Have you tried this on 11.0 as well?

[2022-01-06 15:07] eduarddrenth commented on #8246
not yet, I will

[2022-01-06 15:15] BryanV91 commented on #8245
Ok. This a weird one. Problem gets solved after adding this to the bean:

`private List<Object[]> testFilteredList;`

And this attribute to the page:

`filteredValue="#{testView.testFilteredList}"`

Any thoughts?

[2022-01-06 16:03] melloware opened #8248 "GraphicImage: Support Responsive Image Sets"
**Description**

See: https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images

We can however use two new attributes — `srcset` and `sizes` — to provide several additional source images along with hints to help the browser pick the right one. You can see an example of this in our responsive.html example on Github (see also the source code):

[code]

The srcse

[2022-01-06 16:05] melloware commented on #8245
As discussed on Discord I thought not having `filterdValue` used to throw a FacesException that this was not used if filtering was attempted.  @tandraschko maybe we should add this exception??

[2022-01-06 16:22] eduarddrenth commented on #8246
still there:

![image](https://user-images.githubusercontent.com/10200360/148414985-c7603e17-c6ef-4b7b-8c1f-9625a27f3b92.png)

[2022-01-06 16:29] melloware commented on #8246
thanks for checking!

[2022-01-07 01:46] FlipWarthog commented on #8245
@melloware I think it might also relate to #7999, specifically I'm seeing this doc you wrote around what appears to be related to the issue. When debugging both with and without `filteredValues` set, `FilterFeature.filter` is called only once when when I click a checkbox and `filteredValues` set, but it's called 3 times when `filteredValues` is not set. And the call stack can be traced back here.

[2022-01-07 06:55] jreyes256 opened #8249 "Jakarta EE9.1: Support primefaces"
Greetings, I am working with Jakarta EE 9.1 but when implementing the library I get that I am missing components such as jakarta.faces

[2022-01-07 07:12] christophs78 commented on #8249
Please have a look at https://github.com/primefaces/primefaces-test/tree/jakarta.

[2022-01-07 07:13] jreyes256 commented on #8249
I have tried in some ways, which server they recommend me to use with payara gives me that problem

[2022-01-07 07:16] christophs78 commented on #8249
Please write down....

- which server (+version) you use exactly
- which components in which versions
- which exact error(s) you get

[2022-01-07 07:20] jreyes256 commented on #8249
Server: Payara Server 5.2021.10

In the Pom.xml I add the Jakarta EE 9.1 library and there it compiles the project for me, but it added the primefaces library with the Jakarta classifier and it gives me the error Jakarta Faces not found, which server do you recommend me to use

[2022-01-07 07:33] christophs78 commented on #8249
Maybe you run into https://github.com/payara/Payara/issues/5425
IMO it´s not a PrimeFaces issue. PrimeFaces Test show´s PrimeFaces works on Jakarta-ified Jetty.
I personally will not give suggestions regarding application-server because this IMO has way more implications.

[2022-01-07 10:13] tandraschko commented on #8249
+1 christoph

[2022-01-07 10:13] #8249 closed, assigned to nobody

[2022-01-07 10:44] melloware commented on #8245
Yep in that ticket Thomas explains the problem exactly. So in the case above without a filtered values it's just recreating the list every time with copies of the object and not the original references

[2022-01-07 11:21] jansohn commented on #7118
What's the recommended alternative? Writing `action` methods for add, delete, etc.?

[2022-01-07 14:03] melloware commented on #7118
Yes that is what I would do.

[2022-01-07 17:49] newk5 commented on #8159
Just ran into this issue today aswell on our apps. Been looking at the code to try to understand why its failing but I've failed so far. I'm leaving my observations here maybe someone can figure it out:

- When a new column is added to the datatable, if the column is added somewhere in the middle or start, this issue happens ( it doesn't happen if the column is added last)
- After the column is ad

[2022-01-08 09:24] jepsar opened #8251 "SplitButton: filter input field lacks left and right margin and icon"
Screenshot of SplitButton with filter (PF12):

<img width="213" alt="Screenshot 2022-01-08 at 10 18 23" src="https://user-images.githubusercontent.com/7500178/148638989-47bf6f00-9679-4aaa-98d3-8779e22f9ce3.png">

compared to a screenshot of a SelectOneMenu with filter:

<img width="371" alt="Screenshot 2022-01-08 at 10 18 57" src="https://user-images.githubusercontent.com/7500178/148639002-21d43bd

[2022-01-08 14:50] jepsar opened #8252 "SplitButton: add disableOnAjax support"
See #2521

[2022-01-08 16:05] melloware commented on #8251
Added theme label as I am sure there is some theme work involved too?

[2022-01-09 10:05] jepsar opened #8255 "MenuButton: add disableOnAjax support"
See #2521

[2022-01-09 13:12] christophs78 opened #8257 "Timeline: rework according to Schedule-component"
see https://github.com/primefaces/primefaces/issues/8076, https://github.com/primefaces/primefaces/pull/8090

Currently it´s essentially broken due to the changes we did with https://github.com/primefaces/primefaces/pull/8090. (Broken means server- and client-time are out of sync.)

- [x] adapt Timeline-component to be in sync with https://github.com/primefaces/primefaces/pull/8090
- [x] adapt Sho

[2022-01-09 13:42] jepsar commented on #8251
The only thing that needs to be done to the components CSS is removing `padding-right: 15px;` from the rule `.ui-splitbuttonmenu .ui-splitbuttonmenu-filter`. All the rest is theme related.

[2022-01-09 15:36] melloware commented on #8246
@jepsar can you comment on this ticket so I can assign it to you.

[2022-01-09 15:37] melloware commented on #8257
Great idea!  Good catch.

[2022-01-09 15:54] jepsar commented on #8246
Ah, is it not possible if you don't?

[2022-01-09 16:40] melloware commented on #8246
Nope!  It only lets me choose people on the ticket or PF Committers

[2022-01-09 17:07] #7891 closed, assigned to melloware

[2022-01-09 19:22] jepsar commented on #8231
PR requires a fix in the themes as well. See PR for details.

[2022-01-09 21:27] afd0174 opened #8261 "Dialog: Fixed Position Not Working"
Hi,

I've encountered an issue upgrading to PrimeFaces 11 with the p:dialog component.

https://forum.primefaces.org/viewtopic.php?f=3&t=70508

1. Expected behavior:  When I specify a value for the position attribute, I expect the dialog to hold its position in the viewport as the page is scrolled.
2. Observed behavior: The dialog scrolls with the page rather than holding its position fixed within

[2022-01-10 08:20] #8232 closed, assigned to melloware

[2022-01-10 08:22] #8241 closed, assigned to melloware

[2022-01-10 08:26] #8238 closed, assigned to melloware

[2022-01-10 10:43] RegiK123 commented on #8228
@melloware we need this fix for PF11

[2022-01-10 10:47] tandraschko commented on #8228
If you have PrimeFaces Elite, its up to @mertsincan to merge it to this branch
otherwise you can go PrimeFaces PRO

[2022-01-10 11:49] tandraschko opened #8262 "Accordion/TabView: not loaded tabs are processed when dynamic + repeating"
setSob should be called once when pressing on the button, not 3 times also for the unloaded tabs

[code]

[code]

[2022-01-10 13:05] melloware commented on #8261
@afd0174 I believe this was done in purpose by PrimeTek to align it with all their other libaries behavior like PrimeNG and PrimeReact.  See this ticket:  https://github.com/primefaces/primefaces/issues/6978

[2022-01-10 13:09] melloware commented on #8228
@ReginaGialbas I have tagged it Elite but like Thomas said its up to PrimeTek to decide what goes in an Elite release.  If you have PRO support you can request it.

[2022-01-10 13:38] RegiK123 commented on #8228
@melloware you still have bug in yours solution, if it is a string ended with % in js you need to also put it as a String (in '')

[2022-01-10 13:59] melloware commented on #8228
@ReginaGialbas can you review this PR: https://github.com/primefaces/primefaces/pull/8263

[2022-01-10 14:14] RegiK123 commented on #8228
@melloware ok so still it is a problem in this PR,
the best option is check if you have this "%" and if yes
 writer.write(",cutout:" + "'" + donutOptions.getCutout() + "'");
and if not
 writer.write(",cutout:" + donutOptions.getCutout());

https://www.chartjs.org/docs/3.3.1/charts/doughnut.html
"The portion of the chart that is cut out of the middle. If string and ending with '%', percentage of th

[2022-01-10 14:44] #8262 closed, assigned to tandraschko

[2022-01-10 14:53] melloware commented on #8228
OK check again I actually fixed it the correct way switching it to `Object` and then our Chart `writeValue` method detects whether its a `Number` or `String` and adds the quotes appropriately.

[2022-01-10 16:20] afd0174 commented on #8261
@melloware Thank you for the background.  Just to say it, via the reproducer project, if you eliminate the position attribute on the p:dialog, the dialog remains fixed when the viewport is scrolled, which seems consistent with the behavior advertised by the server-side API documentation, given the default value of "fixed" for the positionType attribute.

[2022-01-10 19:05] ingeniotechnologies opened #8265 "Carousel: Strange behavior when loading less items that the allocated slots in carousel"
**Describe the defect**
Let's say, I set numVisible="4" numScroll="1" in carousel attributes, but only load 1 item, the ui-carousel-items-container gets set with possible offending inline style="transform: translate3d(75%, 0px, 0px);"; which causes item to be shifted to the far right.

Then if I load 2 items, even stranger behavior takes place. The second item disappears and first item shifts towa

[2022-01-11 10:44] #8228 closed, assigned to melloware

[2022-01-11 10:48] #8239 closed, assigned to jepsar

[2022-01-11 11:30] devmsaleh opened #8266 "InputNumber : Widget class 'InputNumber' not found!"
I am using Primefaces 11, and I am adding the components from the backend to a panelgrid as follows:

1- xhtml page

`<p:panelGrid id="inputs" layout="grid" columnClasses="ui-grid-col-2,ui-grid-col-5" styleClass="ui-panelgrid-blank"columns="2" binding="#{myBean.myPanelGrid}"></p:panelGrid>`

2- backend code

[code]

---------------

when I open the page the input number is not working and i can se

[2022-01-11 11:37] tandraschko commented on #8266
never use the constructor of a component, use JSF #createComponent API

[2022-01-11 11:37] #8266 closed, assigned to nobody

[2022-01-11 11:48] #8252 closed, assigned to jepsar

[2022-01-11 11:49] #8255 closed, assigned to jepsar

[2022-01-11 11:50] #8233 closed, assigned to melloware

[2022-01-11 12:51] melloware commented on #8261
@afd0174 so what do you recommend we do?  Do we need to update docs or is there something that needs to be fixed or addressed?

[2022-01-11 13:30] afd0174 commented on #8261
I would recommend addressing the issue in the code so that you can achieve a dialog with a fixed position type regardless of whether or not an initial position is specified via the position attribute (consistent with the default value of "fixed" for the positionType attribute).  This is the behavior that exists in PrimeFaces 8.0 and 10.0.  As it sits in PrimeFaces 11.0, you get a fixed position ty

[2022-01-11 13:41] melloware commented on #7882
Yep I have to collect all attributes too because I just had OmniFaces add `integrity` and `crossorigin` attributes to scripts so I need to collect those and make sure they are moved as well.

[2022-01-12 08:40] StevenHachel commented on #7953
Hey,
under JavaEE8 and Weblogic 14.1.1.0.0 does not work this workaround anymore. :-(

When this workaround is active, then breaking the <p: ajaxStatus /> **oncomplete** state. :-( This is then simply no longer triggered.
This brings with it the problem that the <p:outputPanel deferred="true"/> again does not handle lazy laoding.
By the way. A bit annoying unfortunately.

[2022-01-12 09:27] jepsar commented on #7953
@StevenHachel You are still talking about 8.0.13?

[2022-01-12 12:22] StevenHachel commented on #7953
@jepsar Primefaces 8.0.14 :-)

[2022-01-12 12:45] tuerker opened #8268 "DataExporter: Updating apache.poi to 5.1.0 breaks xls export"
Updating apache.poi from 5.0.0 to 5.1.0 breaks xls export.

Following error is thrown:
[code]

Is this a PF or apach.doi issue?

reproducer: [p-dataexporter.zip](https://github.com/primefaces/primefaces/files/7854595/p-dataexporter.zip)

[2022-01-12 12:48] tandraschko commented on #8268
https://poi.apache.org/components/logging.html

poi requires log4j in 5.1

[2022-01-12 12:48] #8268 closed, assigned to nobody

[2022-01-12 12:48] melloware commented on #8268
No its your code.  You CAN NOT exclude this:

[code]

We do in Primefaces Core because we only need POI to compile but if you want it to run you need that dependency.

[2022-01-12 12:50] melloware commented on #8268
See: https://github.com/primefaces/primefaces/issues/8167

[2022-01-12 12:50] tuerker commented on #8268
many thanks for the quick response!

[2022-01-12 13:31] tuerker commented on #8031
@melloware the issue with the grouped column export seems to be fixed with https://github.com/primefaces/primefaces/issues/8241.

for the other issue, i have now prepared another reproducer which hopefully will help to identify the problem.

[p-dataexporter-2.zip](https://github.com/primefaces/primefaces/files/7854825/p-dataexporter-2.zip)

it is definitively not caused by

facet name="{Exporters}

[2022-01-12 13:33] tuerker commented on #8031
add-on: issue based on 12.0.0-snapshot as of yesterday evening.

[2022-01-12 13:49] melloware commented on #8031
Yep I have noticed it too while I was working on the visible fix.  Its definitely the ColumnToggler.

[2022-01-12 18:12] ingeniotechnologies commented on #8265
I think I found that the offending style is when "ui-carousel-item" element is set to grow with "flex-grow"; so my workaround for now is to set to "flex-grow: 0;"

[2022-01-12 18:20] melloware commented on #8265
That must be coming from the THEME CSS and not PF core carousel.css.  SO I am going to mark this as theme related.

[2022-01-12 19:21] melloware commented on #7882
@tandraschko I chose to only use attributes of include scripts as it makes sense but for inline scripts it doesn't make sense since we collect them all and output them in 1 giant script block.  So I think just doing the include scripts makes sense.  Not sure if you agree?

[2022-01-13 08:22] tandraschko commented on #7882
the question is: what should we do with inline scripts with attributes? Merge just with just with other inline scripts and remove all attributes - or create a new inline block with those custom attributes?

do we currently ignore other inline scripts, which are not text/js?

[2022-01-13 11:59] PraveenTrex commented on #5731
In which version of primefaces its fixed ? Currently I'm using 8.0 facing this issue @melloware @fanste

[2022-01-13 12:14] tandraschko commented on #5731
You can see the Milestone assigned to this issue

[2022-01-13 12:35] melloware commented on #7882
So my thought was this...

- Do this for actual included scripts only like my PR is currently doing
- Lets leave inline scripts alone the way they are currently working where you gather them all and put them in 1 script block.
- having separate inline script blocks and tracking any attribute changes feels messy to me.
- If someone requests it in the future we can always do it but this ticket was s

[2022-01-13 12:37] melloware commented on #7882
Sorry i forgot to answer your second part of the question right now you track the inline script by "key" like "text/javascript". So if you had another inline script type it would track by that and merge those so it would create 1 inline script block "per type".

Three is even an existing unit test testing this scenario.  Looks like it was issue: https://github.com/primefaces/primefaces/issues/3854

[2022-01-13 12:42] christophs78 opened #8274 "AutoComplete: multiple=true: disallow selecting the same item multiple times"
**Description**
AutoComplete with multiple=true currently allows to select the same item multiple times. This does not fit for every usecase.
![image](https://user-images.githubusercontent.com/10461942/149331596-f51bf3dd-8aaf-491a-b706-f140442b591e.png)

**Describe the solution you would like**
- ~~add an additional parameter (eg `unique=true`) to disallow selecting the same item multiple times~~

[2022-01-13 12:45] melloware commented on #8274
I think in Chips we have the `unique` attribute which does this?

-- | -- | -- | --
unique | false | Boolean | Prevent duplicate entries from being added. Default false.

[2022-01-13 12:52] PraveenTrex commented on #5731
Thanks @tandraschko

Is there any other way to fix this issue in version 8.0 ? because we just updated our project from the version 6.2

[2022-01-13 12:55] melloware commented on #5731
@PraveenTrex nope not easily sine it requires both Java and Javascript changes there is no easy MonkeyPatch for this.  You would basically have to implement this yourself.  And why did you upgrade to 8.0 and not 11.0?   Going from 6.2 to 8.0 you may as well have gone to 11.0 which has over 1000 issues fixed since 8.0.

[2022-01-13 13:14] christophs78 commented on #8274
Yep - `unique` does for Chips what this feature request suggest for AutoComplete used together with multiple=true.

https://github.com/primefaces/primefaces/blob/de7dfe05be653879fbdc7ec10f98a0b2af45cf62/primefaces/src/main/resources/META-INF/resources/primefaces/chips/chips.js#L130-L142

[2022-01-13 13:16] PraveenTrex commented on #5731
Thanks @melloware, I will update to version 11.0

[2022-01-13 14:16] christophs78 commented on #8274
Oh. We already have a `unique`-attribute for `AutoComplete`. (and it does what´s expected)

[2022-01-13 14:18] melloware commented on #8274
HA I thought I implemented it in more than one place but couldn't remember :)

[2022-01-13 14:32] #7882 closed, assigned to melloware

[2022-01-13 14:52] tandraschko opened #8275 "DataTable: lazy + MultiViewState + selection broken"
https://github.com/primefaces/primefaces/issues/6575#issuecomment-883514213
https://github.com/primefaces/primefaces/pull/7622

[2022-01-13 17:04] tetzla commented on #7172
The Google Maps bug https://issuetracker.google.com/issues/183690333 was fixed. An update of the corresponding Google Maps library would be nice.

[2022-01-13 18:10] melloware commented on #7172
@tezla that's not up to us right that comes from this library when you load it right?

[code]

so isnt that just when Google updates it you will get the newest changes?

[2022-01-13 20:10] melloware commented on #8261
OK @afd0174 got to the bottom of the issue.  Its this issue: https://github.com/primefaces/primefaces/issues/6931

Dialog was made `responsive="true"` by default which respects scrolling and browser size.  This is a smart default in today's modern webapps.  You simply have to change your dialog to `responsive="false"` and it works the way you expected it to and how it did in 8.0.

[pf-8261.zip](ht

[2022-01-14 10:29] tetzla commented on #7172
You're right. It's working automatically. Sorry.

[2022-01-14 10:47] tandraschko opened #8279 "DataTable: clarify how to disable selection on row basis"
Currently selection can be enabled via `selectionMode` on `p:dataTable` or on `p:column`.
The problem is that the `selectionMode` attribute on `p:column` can be disabled/enabled via the current row state.
See this example:

[code]

and our `#getColumnSelectionMode` resolves this without the current rowState and also checks the rendered attribute

[2022-01-14 13:59] tandraschko commented on #8279
So we have 2 solutions:

1) a user must define `selectionMode` on p:dataTable in this case
2) we ignore #isRendered in #getColumnSelectionMode

WDYT @Rapster ?

[2022-01-14 14:19] tandraschko commented on #8279
i implemented 2) now
will add another issue and provide a integration test

[2022-01-14 14:19] #8279 closed, assigned to tandraschko

[2022-01-14 14:23] tandraschko opened #8280 "DataTable: conditionally rendered selection doesnt remove selection when disabled"
e.g. when you have enabled selection on Row1, you select it, disable selection on Row1 -> the row is still selection in selectedRowKeys

[2022-01-14 16:18] afd0174 commented on #8261
@melloware Thank you for your help in running this to ground!  Just a minor thought - it might be worth updating the server-side API documentation for the responsive attribute, as its current description is "In responsive mode, dialog adjusts itself based on screen width" which I don't think tells the whole story:

[https://primefaces.github.io/primefaces/11_0_0/#/components/dialog](url)

Thanks a

[2022-01-14 16:20] melloware commented on #8261
Agreed fixing it now!

the good news is it was in the migration guide but you are right the responsive prop doesn't tell the whole story!  https://primefaces.github.io/primefaces/11_0_0/#/../migrationguide/11_0_0

[2022-01-14 16:29] melloware commented on #8261
New text will read: "In responsive mode the dialog adjusts itself based on screen width, browser resizing, and scrolling of the document."

[2022-01-14 16:44] vagelis-savvas opened #8283 "accordionPanel: Ignores f:passThroughAttribute"
**Describe the defect**
p:accordionPanel ignores f:passThroughAttribute, the specified attribute is not rendered in the final HTML document.

**Reproducer**
None.

**Environment:**
 - PF Version: _10.0_
 - JSF + version: _2.3_ (Mojarra 2.3.14.SP04)
 - Affected browsers: ALL

**To Reproduce**
Simply use a p:accordionPanel with an f:passThroughAttribute and observe that the named attribute and its v

[2022-01-14 17:29] #8261 closed, assigned to melloware

[2022-01-14 23:01] Rapster commented on #8279
Not sure if it makes a lot of sense to have rendered attribute based on var (e.g lang). Should `DataTable#disableSelection` be used in such scenario?

[2022-01-15 13:32] melloware commented on #8283
Thanks for reporting.  PR Submitted.

[2022-01-15 16:15] melloware commented on #8167
Just an FYI that POI 5.2.0 was released with log4j 2.17.1 now.

[2022-01-15 16:17] #8283 closed, assigned to melloware

[2022-01-16 07:52] jepsar opened #8286 "Tree: add filterFunction for custom filtering"
So you can filter in your bean like:
[code]

[2022-01-16 15:35] jepsar opened #8288 "Tree: filter / nodes tab order is wrong"
See https://www.primefaces.org/showcase/ui/data/tree/filter.xhtml and tab trough the fields. I would expect the filter to get focus first.

[2022-01-17 08:11] mertsincan opened #8294 "SelectOneMenu throws a JS exception"
Reported By PRO User;

[2022-01-17 08:12] #8294 closed, assigned to mertsincan

[2022-01-17 08:27] #8288 closed, assigned to jepsar

[2022-01-17 08:30] tandraschko commented on #8279
We dont have a #disableSelection method?

Also its really based on row, not each row should be selectable in our case

[2022-01-17 09:45] vagelis-savvas commented on #8283
Hello,
is this going to be resolved for PF 10.0.0 as well?
BR,
Vagelis

[2022-01-17 11:34] MatthiasScherrerFGCZ opened #8295 "TextEditor: Icons not showing up"
Icons of the class ql-stroke are not showing up as --text-color is not defined and no fallback value is given.

![ql-stroke](https://user-images.githubusercontent.com/60141928/149761017-bf139678-0374-4e07-a376-eb7348ac93ff.png)

**xhtml**:
[code]

**PF Version 11.0 (icons showing up)**
[code]

**PF Version 12.0 (icons not showing up)**
[code]

**Environment:**
 - PF Version: 12.0

Current workarou

[2022-01-17 12:36] tandraschko commented on #8279
both cases are working now
disableSelection was the intended way to go, thanks but should we consider the case above? The benefit is, that it doesnt even render a radio

[2022-01-17 12:40] tandraschko commented on #8279
lets stick with disabledSelection for now, i changed the tests and issue title

[2022-01-17 12:49] melloware commented on #8295
Which theme are you using?

working fine for me in Arya, Saga and Vela.

![image](https://user-images.githubusercontent.com/4399574/149772585-12d91879-365a-4d2a-9366-8d563ef9450f.png)

![image](https://user-images.githubusercontent.com/4399574/149772635-90b29661-b664-4102-b40f-0eeb18ae4a7e.png)

[2022-01-17 12:53] melloware commented on #8274
@christophs78 can this be closed?

[2022-01-17 12:56] melloware commented on #8283
@vagelis-savvas probably only if you have a PRO account and request it from Primetek to be added to 10.0.0

[2022-01-17 13:11] tuerker commented on #8295
when theme is none, this problem appears.

[2022-01-17 13:15] melloware commented on #8295
Yes that would make sense its using the variable `var(--text-color);` to read the color from the theme so the font color and icon color is correct.

If you want theme = none then you need to add this to your CSS...

[code]

or whatever you what your text color to be  PrimeTek has invested so much in the PrimeOne theme concept that trying to use 12.0 with legacy themes or no theme will become more

[2022-01-17 13:18] MatthiasScherrerFGCZ commented on #8295
@melloware
Thanks for the hint regarding the none-theme.

[2022-01-17 13:19] melloware commented on #8295
No problem I highly recommend to add variables for your custom theme at least for the minimum variables above!

[2022-01-17 13:19] #8295 closed, assigned to melloware

[2022-01-17 13:23] jepsar commented on #8295
Probably caused by the fix of #8064

[2022-01-17 13:24] tuerker commented on #8295
would be good if the old default would still do it.

[2022-01-17 13:27] jepsar commented on #8295
@tuerker See #8064

[2022-01-17 13:34] #8274 closed, assigned to nobody

[2022-01-17 13:48] melloware commented on #8295
@tuerker there can be no old default you must declare that CSS variable based on the way the QuillJS editor works.  We have to support multiple themes.

[2022-01-17 14:04] tandraschko opened #8296 "DataTable: NPE when MVS created by user code"

[2022-01-17 14:05] #8296 closed, assigned to tandraschko

[2022-01-17 14:26] tuerker commented on #8295
i see your point. i think after this change, there should be at least a comment in the migration document. otherwise, others will also fall over this change. many thanks in advance.

[2022-01-17 14:27] melloware commented on #8295
Agreed let me add it

[2022-01-17 14:40] melloware commented on #8064
To make this work for legacy themes or if you are using "no theme" you need to add at least 1 CSS variable to your stylesheet.

[code]

[2022-01-17 14:40] melloware commented on #8295
Migration guide updated: https://github.com/primefaces/primefaces/blob/master/docs/migrationguide/12.0.0.md

[2022-01-17 15:23] tandraschko commented on #8280
i'm going to add helper methods for this, so user controller can remove stuff from selection

[2022-01-17 15:25] #8280 closed, assigned to tandraschko

[2022-01-18 07:47] jepsar opened #8298 "Slider + Spinner: slider breaks after entering a value"
Confirmed with 12. Go to http://localhost:8080/showcase/ui/input/slider.xhtml, enter a value in the Spinner Slider demo and then try to drag the slider.

<img width="559" alt="Screenshot 2022-01-18 at 08 42 39" src="https://user-images.githubusercontent.com/7500178/149892835-4902949b-4ee7-4a92-a8cc-5d82f2b8062e.png">

See also https://stackoverflow.com/questions/70746810/how-to-bind-spinner-input-

[2022-01-18 08:48] #8286 closed, assigned to jepsar

[2022-01-18 08:49] #8246 closed, assigned to jepsar

[2022-01-18 09:28] eduarddrenth commented on #8246
Great!

[2022-01-18 10:04] melloware commented on #8298
We definitely had a similar issue in the past with slider + inputnumber

[2022-01-18 10:46] StevenHachel opened #8299 "<p:ajax event/> triggers <p:ajaxStatus/> too often"
**Environment:**
 - PF Version: 8.0.14
 - PrimeFaces Extensions 8.0.5
 - JSF version: 2.3.9
 - OmniFaces version: 2.7.14
 - JavaEE vesion: 8.0.1
 - WebLogic 14.1.1.0.0
 - Affected browsers: Chrome, Firefox

p:ajax event="click" calls the ajaxStatus too many times when I click the button. This leads to problems in some cases, for example if in which <p:ajaxStatus/> the "onstart" and "oncomplete" me

[2022-01-18 11:11] tandraschko commented on #8299
Never attach p/f:Ajax to a p:commandButton, its already ajaxified

[2022-01-18 11:11] #8299 closed, assigned to nobody

[2022-01-18 13:03] melloware commented on #8299
@StevenHachel the correct PF way to write what you are doing above is this...

[code]

[2022-01-18 13:23] FerranPC opened #8300 "DataExporter: ColumnGroup breaks exported table"
**Describe the defect**
Exported XLSX documents with columnGroup elements have shifted columns.
I think the pattern that follows is that it draws the row of data starting from the last column with title plus the number of columnGroups used.

**Reproducer**
When exporting a table with the DataExporer, if the table contains columnGroup cells, the data rows are not drawn in the appropriate column.

*

[2022-01-18 13:24] jepsar commented on #7427
We could create a default filterFunction in PFE or PF to support this. That would be easier than adding it to the filter feature.

[2022-01-18 13:32] #8300 closed, assigned to nobody

[2022-01-18 13:41] melloware commented on #8300
Duplicate of: https://github.com/primefaces/primefaces/issues/8241

[2022-01-18 13:46] StevenHachel commented on #8299
oh ok I got used to that from back then (plain JSF). Good to know that it is no longer needed in PF.
Thank you and sorry for the request.

steven

[2022-01-18 15:02] jepsar commented on #7427
.. I must say, that Vue filter demo is awesome

[2022-01-18 15:03] eduarddrenth commented on #7427
I'll have a look, perhaps I'll even refactor to stick closer to PF, or develop an extension sometime

[2022-01-18 15:12] melloware commented on #7427
Yep PrimeTek has updated the 3 JS libraries Datatable for that Advanced filtering its pretty slick.

[2022-01-18 15:29] eduarddrenth commented on #7427
I assume these filtering features aren't passed on into the jpa data layer and executed there?

[2022-01-18 19:06] jepsar commented on #8298
I've been debugging this, and it seems that this is not something we can fix from within the widget code. The issue seems to be with jQuery UI:

https://github.com/jquery/jquery-ui/blob/0c5becce0e395b89de0f526e857e7ca2717d4ab2/ui/widget.js#L575

[2022-01-18 19:15] melloware commented on #8298
ughhh with Jquery UI 1.13.0 upgrade probably.

[2022-01-19 14:25] eduarddrenth commented on #7427
I have the feeling I did not explain clear enough what my solution offers, it has been very valuable for years now for us.

**jpa module**
- building jpql queries, supports all possible jpql comparisons
- supports syntax in parameter values (i.e. !>=10, 1 <=> 5, is null, is blank, is empty, > "ape", 'Star*')
- supports boolean logic and (nested) grouping

**primefaces module**
- an abstract contro

[2022-01-19 19:39] jepsar opened #8301 "CommandButton: add inline Ajax status indicator"
The icon or text can be temporarily replaced with a spinner while an Ajax request is in progress.

![commandbutton](https://user-images.githubusercontent.com/7500178/150289234-254e1753-9f6b-4d0a-86c9-bd83a58b7d4b.gif)

Note that the speed of the GIF is slower than real time (don't want to spend time on getting the GIF right).

[code]

[2022-01-19 20:25] Rapster commented on #8301
I like the idea. Do you have a gif to share to see what it look like?

[2022-01-19 22:00] klaros-testmanagement commented on #8301
Great idea, I really like this too!

[2022-01-20 09:13] jepsar opened #8303 "CommandButton: Ajax requests should toggle a CSS class allowing style overriding"
I'm thinking to disable the button as we do now, but additionally have a CSS class while the Ajax request is in progress and based on that not set the opacity (will require a theme change). Not sure if this should be optional.

[2022-01-20 09:16] jepsar commented on #8303
Hmm.. while submitting this issue, I noticed the 'Comment' being disabled and it did not bother me that much. If we would add this feature, it should be optional I think.

[2022-01-20 11:57] melloware commented on #8303
I personally think if something is disabled it should be visually different.  Your current GIF's show me exactly the behavior I want.

[2022-01-20 12:06] jepsar commented on #8303
Okay, I think I'll just add the class, so it's up to the user to override the style.

[2022-01-20 12:08] melloware commented on #8303
That sounds good!

[2022-01-20 15:14] melloware opened #8304 "Core: jQuery UI 1.13.1"
**Description**
jQuery UI 1.13.1 is released: https://github.com/jquery/jquery-ui/releases/tag/1.13.1

[2022-01-20 15:18] melloware commented on #8298
jQuery 1.13.1 does not fix this issue

[2022-01-20 17:11] pradipt1505 opened #8308 "SelectOneMenu: Default command not working"
Hi,

We are upgrading from PF 7 to PF 11. During our upgrade we observed that default command (enter key) is not working on the pages where focus is on selectOneMenu. It works fine for the pages which have input text.

The above behavior is working in PF 7. Also just for information we are using PF11 on top of JSF2.3.14 (com.sun).

Can you please suggest how to resolve this issue?

[2022-01-20 17:14] melloware commented on #8308
Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-01-20 17:19] melloware commented on #8308
Actually this was fixed on purpose for this ticket: https://github.com/primefaces/primefaces/issues/5889

[2022-01-20 17:21] melloware commented on #8308
Can you try and add this script to your JS file that loads anytime after PrimeFaces...

[code]

[2022-01-20 17:27] melloware commented on #8308
Reproducer proving the fix:
[pf-8308.zip](https://github.com/primefaces/primefaces/files/7907309/pf-8308.zip)

[2022-01-20 17:35] melloware commented on #5889
This is actually the better fix...

[code]

[2022-01-20 17:36] pradipt1505 commented on #8308
This JS Function is working. Thank you for the quick response. However, this does feel like a workaround. Will there be any fix on the community version anytime soon?

[2022-01-20 17:38] melloware commented on #8308
yes I submitted a PR so it will be in PF 12.0.0

[2022-01-20 17:41] pradipt1505 commented on #8308
When will PF 12.0.0 be available?

[2022-01-20 17:58] melloware commented on #8308
That is up to PrimeTek but 11.0.0 just came out so probably in 6 months.   You are fine to use the MonkeyPatch above and just put a comment in your code to "Remove in 12.0.0"

[2022-01-20 20:15] afd0174 opened #8310 "Datatable: Input validation inside row-expander when expandedRow attribute"
Hi,

I've encountered an issue upgrading from PrimeFace 8 to PrimeFaces 11 when including a required text input inside of a p:rowExpander (itself inside of a p:dataTable) that is expanded via satisfying the EL condition given by the p:dataTable's expandedRow attribute.

Expected behavior: When intentionally not supplying a value for the required text input and submitting the form via p:commandButt

[2022-01-20 20:19] pradipt1505 commented on #8308
OK. Thanks for quick help.

[2022-01-20 20:27] nokiajavi commented on #5889
Thank you very @melloware, I will update it in my code.

[2022-01-21 00:58] nixonyeung opened #8311 "SelectOneMenu: CSV requiredMessage not showing"
I have a form includes an inputtext and a selectonemenu. validateClient is set to true to verify the values are input and selected. But for the selectonemenu if I haven't on focus the element, the requiredMessage "Magistracy is required" will not show up when I clicking the Submit button. Please have a look, thanks.

[code]

**Environment:**
 - PF Version: _11.0_
 - JSF + version: _JAVAServer Face

[2022-01-21 10:27] jepsar commented on #8122
I'll have a look at this, as it relates to the work I've been doing on the CommandButton

[2022-01-21 10:38] jepsar commented on #8303
I was planning to call it `ui-state-loading`. WDYT? FYI PrimeVue uses `p-button-loading`.

[2022-01-21 11:48] seinecle opened #8312 "OrderList: can't unescape html of the ordered list items"
**Items with html featured in an orderlist can't be unescaped**

**Environment:**
 - PF Version: _10.0.0_
 - JSF + version: MyFaces 2.3
 - Affected browsers: ALL

**Expected behavior**
The items in the orderlist should be shown with html formatting. They are not

**Example XHTML**
[code]

[2022-01-21 11:51] melloware commented on #8303
That name is ok with me.

[2022-01-21 11:53] seinecle commented on #8312
My mistake. The text to be unescaped needs to be in a `value` attribute of the `outputLabel`, like so:

`<p:outputLabel escape="false" value="#{item}"/>`

[2022-01-21 11:53] #8312 closed, assigned to nobody

[2022-01-21 13:11] melloware commented on #8311
It is working fine for me. Attached is reproducer run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/

![image](https://user-images.githubusercontent.com/4399574/150532704-38bec38f-bee7-48ff-a13e-5d84401f17a7.png)

Reproducer:  [pf-8311.zip](https://github.com/primefaces/primefaces/files/7913862/pf-8311.zip)

[2022-01-21 13:37] #8308 closed, assigned to melloware

[2022-01-21 13:39] #8304 closed, assigned to melloware

[2022-01-21 15:41] jepsar opened #8313 "DatePicker: Templates make the styling look broken"
Also with PF 12.

https://www.primefaces.org/showcase/ui/input/datepicker/datePickerJava8.xhtml

<img width="419" alt="Screenshot 2022-01-21 at 16 33 37" src="https://user-images.githubusercontent.com/7500178/150554950-57463f3c-be69-4c03-b216-74eca4aad548.png">

Caused by the injected span of the template.

IMO we should deprecate `dateTemplate` in favor of metadata.

[2022-01-21 16:49] melloware commented on #8313
hmmm not sure if we should deprecate or fix this just in case other Prime Libs support this functionality i am hesitant to pull it out?

[2022-01-21 17:40] jepsar commented on #8313
If this needs to be fixed it's a theme issue

[2022-01-21 17:46] melloware commented on #8313
marked it as theme and assigned to @mertsincan

[2022-01-22 15:40] melloware commented on #8153
I think we have a bigger problem with this component as discovered by one of my team members. The name `label` is a bad name. `label`, `emptyLabel` and `updateLabel` should be renamed `placeholder`, `emptyPlaceholder` and `updatePlaceholder` or something like that.  Here is why....

Take this scenario...
[code]

If on the server side you asked the `InputText` for its label by calling `component.ge

[2022-01-22 17:33] ThoSap opened #8314 "PrimeFaces CLI: PrimeFlex 2 -> PrimeFlex 3 migration issues"
**Describe the defect**
The [PrimeFaces CLI 11.0.0](https://mvnrepository.com/artifact/org.primefaces/primefaces-cli/11.0.0) does not migrate the following _PrimeFlex 2_ to **PrimeFlex 3 CSS classes**:
[code]

Also, it is accidentally migrating the following PrimeNG component selectors, **which do not exist in PrimeNG**
[code]

**Environment:**
 - Angular version: _13.1.3_
 - PrimeNG version: _13.

[2022-01-22 17:36] melloware commented on #8314
Excellent report let me add some unit tests.

[2022-01-22 18:05] melloware commented on #8314
OK I wrote some unit tests proving your issue then fixed it.  Also added all the missing classes you mentioned above.

[2022-01-22 19:15] ThoSap commented on #8314
Hi, definitely add the following test:
[code]
The css property **[border-top-color](https://www.w3schools.com/cssref/pr_border-top_color.asp)** is converted to **border-tocolor** with Primefaces CLI 11.0.0

Additional you _could_ add tests for the follwing for PrimeNG component classes, but I think your regex change got this covered:
[code]

[2022-01-22 19:45] ThoSap commented on #8314
Please check, the following **deprecated** PrimeFlex 2.0.0 Grid CSS classes _could_ also be missing in the `replaceRegex` HashMap:
https://github.com/primefaces/primeflex/blob/2.0.0/src/_grid_deprecated.scss#L130-L511

[2022-01-22 20:10] melloware commented on #8314
Let me check those out and add that test case.

[2022-01-22 22:27] melloware commented on #8314
`border-top-color` was fixed with my previous fix.  Unit test proving its fixed:
[code]

Yes those deprecated `p-col-order` are missing i think we assumed since they were already deprecated in a 2.0 release we didn't need to convert them.  What should they be converted to?

[2022-01-22 22:43] ThoSap commented on #8314
@melloware they should be changed to
https://www.primefaces.org/primeflex/order

As in total  **15x** deprecated _PrimeFlex 2.0.0_ `p-col-order` variants exist (excluding the responsive variants) and in _PrimeFlex 3.X.X_ only **7x** order variants exist, the migrations must be done the same way as it was done for elevation/shadow:
https://github.com/primefaces/primefaces/blob/11.0.0/primefaces-cli

[2022-01-22 22:59] ThoSap commented on #8314
I think [PrimeFlexMigration.java#L92](https://github.com/primefaces/primefaces/blob/11.0.0/primefaces-cli/src/main/java/org/primefaces/cli/migration/primeflex/PrimeFlexMigration.java#L92) should be
[code]
instead of
[code]
as both in PrimeFlex [2.0.0](https://github.com/primefaces/primeflex/blob/2.0.0/src/flexbox/_order.scss#L1-L27) and [3.X.X](https://github.com/primefaces/primeflex/blob/3.1.2/_s

[2022-01-23 02:05] melloware commented on #8314
Great let me fix it.

[2022-01-23 12:35] melloware commented on #8314
All changes made if you want to do one final review?

Also not sure if you built the 12.0.0-SNAPSHOT jar to test this, if not I can build you one if you need it to test against your PrimeNG project?

[2022-01-23 12:58] ThoSap commented on #8314
The last missing change is the deprecated
`p-col-order-*` to `flex-order-*` migration.

[code]

Everything else looks good ☺️
Would be great if you could provide a build then I test it against my project.

[2022-01-23 13:04] melloware commented on #8314
Ok will get you a build today.

[2022-01-23 16:15] ThoSap commented on #8314
The only thing missing now (I promise) are the responsive deprecated `p-(xl|lg|md|sm)-order-(first|0)` to `flex-order-0` replace regexes, see my updated comment above ;)

[2022-01-23 16:17] melloware commented on #8314
OK just committed.  Take a look.

[2022-01-23 16:17] ThoSap commented on #8314
LGTM

[2022-01-23 16:18] melloware commented on #8314
OK then this new JAR should do it...
[pf-cli-beta.zip](https://github.com/primefaces/primefaces/files/7920843/pf-cli-beta.zip)

[2022-01-23 16:19] newk5 opened #8317 "MenuItem: doesn't work when used inside composite component with a form"
When using a composite component which has a h:form inside and using <cc:renderFacet> to put content inside, if you use <p:splitButton> with <p:menuItem> it results in an exception:
[code]
 Primefaces fails to detect that p:menuItem is  inside a form.

**Environment:**
 - PF Version: _11_
 - JSF + version: I tested on myfaces22 but I believe it happens in all implementations
 - Affected browsers:

[2022-01-23 16:20] melloware commented on #8317
Hmm looks like we need to modify `UIForm form = ComponentTraversalUtils.closestForm(context, source);`

Its just walking the parent hierarchy looking for a form but it doesn't then dive into composite components.

[2022-01-23 16:31] tandraschko commented on #8317
We can make the lookup optional on Server, Client has a fallback for this
So it would work like p:ajax

[2022-01-23 16:37] ThoSap commented on #8314
I just tested your last PrimeFaces CLI beta zip against my PrimeNG project (FreyaNG 13.0.0 based on _PrimeFlex 2.0.0_) and migrated successfully to **PrimeFlex 3.1.2** without a single issue (validated every single line manually) 😋
Thanks for your productive collaboration 👍🏼

@melloware would it make sense to update the [PrimeFaces CLI README.md](https://github.com/primefaces/primefaces/blob/11.0.

[2022-01-23 16:40] melloware commented on #8314
Unfortunately I don't work for PrimeTek I am just an open source committer so I can't generate a Maven Central release but what I can do is add a link to this BETA on the README.MD!

Thanks for your testing and collaboration!

[2022-01-23 16:43] melloware commented on #8314
OK added this blurb to the README.MD

**12.0.0 BETA:**

Download: https://github.com/primefaces/primefaces/files/7920843/pf-cli-beta.zip

This BETA has many fixes found while converting a PrimeNG project using the CLI.  Thanks to @ThoSap.
To read about the changes: https://github.com/primefaces/primefaces/issues/8314

[2022-01-23 16:43] #8314 closed, assigned to melloware, ThoSap

[2022-01-23 16:44] ThoSap commented on #8314
You're welcome 🔥

[2022-01-24 00:27] daborg69 commented on #8314
Worked like a charm.

[2022-01-24 09:18] StevenHachel opened #8318 "clientValidator: log warning when CSV is disabled"
**Environment:**
 - PF Version: 8.0.14
 - PrimeFaces Extensions 8.0.5
 - JSF version: 2.3.9
 - OmniFaces version: 2.7.14
 - JavaEE vesion: 8.0.1
 - WebLogic 14.1.1.0.0
 - Affected browsers: Chrome, Firefox

Hello, the following JavaScript exception is thrown when I use this constellation.

[code]

This problem does not occur under JavaEE6 and JSF 2.1. I am currently migrating my application to Jav

[2022-01-24 09:28] tandraschko commented on #8318
Please try PF11, elite releases are not maintained by the community here

[2022-01-24 09:40] StevenHachel commented on #8318
@tandraschko
I cannot migrate to version 11 in the short term. Migrating to JavaEE8 is tedious enough.
Who do I contact if not here? Is there an elite issue board? I use and pay extra for elite to fix bugs in the next versions. Always being referred to the next version is a bit too easy.

[2022-01-24 09:46] tandraschko commented on #8318
I explained it many times here and its really annoying for us, who are working on the community version
I dont work for PrimeTek, neither other commiters like melloware does.

short version: elite releases are managed by PrimeTek, they decide what fixes will be done. We can just ping @mertsincan here, that this is an elite issue. PrimeFaces PRO users has a own issue board, which will be fixed for

[2022-01-24 09:48] tandraschko commented on #8318
i will now trigger a discussion with PrimeTek, how this should be handled in the future

[2022-01-24 09:59] melloware commented on #8318
@tandraschko i think this still happens on 12.0 Snapshot.  The issue seems to be around using client validation on "key up" behavior.

<p:inputText id="integer" value="#{validationView.integer}">
                                <p:clientValidator event="keyup"/>
                            </p:inputText>

[2022-01-24 10:24] tandraschko commented on #8318
primefaces.CLIENT_SIDE_VALIDATION is missing in web.xml

[2022-01-24 10:24] #8318 closed, assigned to tandraschko

[2022-01-24 10:42] melloware commented on #8314
@daborg69 thanks for reporting in. You guys were a huge help

[2022-01-24 10:48] StevenHachel commented on #8318
@tandraschko thx!

Final question: The community version would then be version 8.0/10.0/11.0/... ?
This means that if I report bug fixes for these versions, the fixes would not be included in the respective version, e.g. 8.0, but only fixed in the following version 10.0 or 11.0?

[2022-01-24 11:02] melloware commented on #8318
Yep you have it right. Unless you have PRO support then you have a direct channel to PrimeTek and can get issues resolved in Elite releases.

[2022-01-24 12:16] tandraschko commented on #8318
i will add a warning when rendering `p:clientValidator` and disabled CSV

[2022-01-24 12:26] melloware commented on #8318
I think a warning or console.error would be great when its not configured right.

[2022-01-24 12:26] #8257 closed, assigned to christophs78

[2022-01-24 12:38] melloware commented on #8311
Closing for now unless OP comes back with more info.

[2022-01-24 12:47] mmagiati-egritos commented on #76
Hello, any news with this feature?

thank you!

[2022-01-24 12:53] melloware commented on #76
@mmagiati-egritos Most likely you would have to sponsor this feature from PrimeTek.  You can use the email contact@primetek.com.tr to request a Quote for how much it would cost to implement this feature.

[2022-01-24 13:17] poppieng commented on #8153
Analyzing the css code, I found a temporary solution that works.
Just overwrite the css below.
[code]

[2022-01-24 15:29] mn-qualitasag opened #8319 "Datepicker: Change event is not called when pasting date and using mask="true""
**Describe the defect**
Additional issue in the datepicker like in issue #7176, where the change event is not fired when mask="true" and the date is **entered**, the change event is also not fired when mask="true" and a date is **pasted**. So when one pastes a date an leave the Datepicker input field (blur), the date is cleared. Also the date is not selected in the popout.

**Environment:**
 - PF

[2022-01-24 15:32] melloware commented on #8319
i wonder if because pasting needs `input`.  Pasting is always sort of special.  It does work if you manually type the date and not paste it?

[2022-01-24 15:37] mn-qualitasag commented on #8319
Yes, it works when I manually type the date. This was fixed in #7176.

I also think, that pasting is sort of special. In the firefox dev tools I can see, that the datepicker inputfield has registered events for "paste". So I guess it is handled over this events?

[2022-01-24 15:39] melloware commented on #8319
yeah it might be something InputMask plugin is doing under the covers

[2022-01-24 15:52] mn-qualitasag commented on #8319
Okay. And is here on primefaces side a solution possible?

[2022-01-24 15:53] melloware commented on #8319
looks like its possibly a bug in InputMask: https://github.com/RobinHerbots/Inputmask/issues/2431

[2022-01-24 16:02] melloware commented on #8319
Got it!  Try this MonkeyPatch:

[code]

[2022-01-24 16:36] mn-qualitasag commented on #8319
Okay thank you very much! We'll try that MonkeyPatch with our PF 10.0.6. Perhaps this can also marked for ELITE?

[2022-01-24 16:40] melloware commented on #8319
Try the MonkeyPatch and confirm it works.  It should work.  I will tag this Elite but there is no guarantee it will be put into an Elite release unless you have PRO support.

[2022-01-24 18:17] jepsar commented on #7901
This would definitely require theme changes

[2022-01-24 18:23] melloware commented on #7901
agreed i started to work on this and got stuck needing theme changes

i can submit what i have?

[2022-01-24 18:42] jepsar commented on #7901
Sure. I'm curious to see how the icon transition is animated. If there is no transition we could do something like https://github.com/primefaces/primefaces/pull/7969

[2022-01-24 19:10] aripddev commented on #7901
@melloware Sorry, I didn't see your previous message. First image is not from any PF theme. I captured it from GitLab.
And you are right, its look is not good. I tried it with Avalon template.

<img width="673" alt="Screen Shot 2022-01-24 at 22 09 04" src="https://user-images.githubusercontent.com/9448030/150848221-36b67e9d-4930-4f1b-8fd5-451a060ca97d.png">

[2022-01-24 19:14] #8319 closed, assigned to melloware

[2022-01-24 19:24] mn-qualitasag commented on #8319
Hi melloware

Can confirm, the patch works. I tested with the example code and in our applications.

Thank you again.

[2022-01-24 22:22] imoehldf opened #8323 "DatePicker: Popups Fail to Close When Selecting a Field with an Input Mask"
**Describe the defect**
When clicking in a DatePicker field, you'll get a popup to select a date. If you then select a different input field with a mask (i.e. Input Mask or a DatePicker with mask=true), the initial DatePicker popup won't close.

This itself isn't that big of an issue on its own, but it's a bigger issue with dialogs. If you select a date picker component, then an InputMask field (i

[2022-01-24 23:24] melloware commented on #8323
Thanks for the reproducer I will take a look.

[2022-01-25 02:05] nixonyeung commented on #8311
I have tried the reproducer and found that the problem occurs if I added primefaces.CLIENT_SIDE_VALIDATION = true in web.xml

Attached the modified web.xml and screen capture

[web.zip](https://github.com/primefaces/primefaces/files/7930061/web.zip)
![image](https://user-images.githubusercontent.com/41794209/150897238-85afca95-2bf8-4972-94aa-33cfa295117c.png)

[2022-01-25 07:06] jepsar commented on #7901
In general I must say that the circle is too small to contain icons. At normal text size the icon looks cramped. I feel it needs some padding. This could work if something like `size="large"` (like in `Avatar`) would be added.

[2022-01-25 07:52] miedrl opened #8324 "SelectOneRadio: HTML validation error when using required attribute"
**Describe the defect**
When using selectOneRadio with attributes layout="grid", columns="3" and required="true", the selectOneRadio is rendered as a \<table>-element in the HTML DOM with the attribute aria-required="true". This HTML syntax causes a validation error when analyzing the site with the [Nu HTML Checker](https://validator.w3.org/nu/) as the attribute aria-required is not allowed on \<t

[2022-01-25 08:30] jepsar commented on #8324
This might already be fixed by #8194 where the role of the table is changed.

[2022-01-25 08:38] miedrl commented on #8324
@jepsar Thank you. I tested validation after changing the table's role to "radiogroup" and there is no more validation error. In which version of PrimeFaces will this fix be available?

[2022-01-25 08:40] jepsar commented on #8324
The PR is still open for review, but the issue is labeled 12.0.0.

[2022-01-25 12:39] melloware commented on #8323
Yep I have confirmed your issue.

[2022-01-25 12:47] melloware commented on #8323
I am pretty sure its the InputMask is eating the focus call thus not triggering the popup to close.

Pretty sure its this issue: https://github.com/RobinHerbots/Inputmask/issues/2423

[2022-01-25 12:55] Rapster opened #8325 "Core: default values with properties file"
**Description**
As of today, it's possible to set default value using https://primefaces.github.io/primefaces/11_0_0/#/core/globalattributes
What about making this as built-in feature in PF using properties file?

**Describe the solution you would like**
My proposal looks like this:
- `PrimeApplication` is automatically registered using `faces-config.xml` file
- Property entry looks like this: `or

[2022-01-25 12:57] tandraschko commented on #8325
IMO something for JSF specs

[2022-01-25 12:59] Rapster commented on #8325
Sure, but what about current users running in older JSF versions?

[2022-01-25 13:01] tandraschko commented on #8325
then he can still use ApplicationWrapper like in our docs
i really dont see that PF should always backport features to older JSF versions

[2022-01-25 17:02] newk5 opened #8330 "TreeTable: Swapping nodes with Collections.swap causes NPE"
**Describe the defect**
If you swap items inside TreeNode#getChildren with Collections.swap, it causes an NPE with mojarra when the update="treeID" is triggered. With MyFaces NPE is only  thrown with quarkus for some reason, with jetty it doesn't throw an NPE but it doesn't seem to work either. @FlipWarthog has noticed that this is because TreeNodeChildren#.set clears the parent node  for some rea

[2022-01-25 17:03] melloware commented on #8311
OK I submitted a PR to fix it.

[2022-01-25 19:07] FlipWarthog commented on #8330
Adding some additional info here based on the discussion in the PrimeLand Discord. The specific code causing the issue has been (mostly) unchanged since it was added [back in 2013](https://github.com/primefaces/primefaces/commit/ae6ab661569b37cedac1fe3280b2ddd8be79a428).

A workaround was found by using `TreeNodeChildren.setSibling` rather than `TreeNodeChildren.set` (which wipes out the parent va

[2022-01-26 03:59] aLeXcBa1990 opened #8332 "Datatable: Does not render correctly inside a dialog"
**Describe the defect**
Creating a Datatable within a dialog with the paginator="true" option renders the paginator to one side of the table, this happens in the paginatorPosition="both" and paginatorPosition="top" options.

**Environment:**
 - PF Version: _11.0.0_
 - Affected browsers:  Chrome, Firefox

**To Reproduce**
Steps to reproduce the behavior:
1. Only open a dialog

**Expected behavior**

[2022-01-26 06:46] jepsar commented on #8332
@aLeXcBa1990 Cannot reproduce. [primefaces-test.zip](https://github.com/primefaces/primefaces/files/7939469/primefaces-test.zip)

Can you please try with the Saga theme?

[2022-01-26 06:51] nixonyeung opened #8333 "InputGroup: Command Button onkeypress not working"
I have an InputGroup contains InputText and CommandButton and it is located on a dialog.

If the dialog configured modal="true", onkeypress will not be triggered when key press on the CommandButton.  But when modal="false" the onkeypress is triggered.  Please take a look.

Attached is reproducer run mvn clean jetty:run and navigate to http://localhost:8080/primefaces-test/

[pf-test.zip](https://g

[2022-01-26 07:24] jepsar commented on #8333
Zip content:
[code]

[2022-01-26 08:14] #8311 closed, assigned to melloware

[2022-01-26 13:04] melloware commented on #8333
`onkeypress` only works if the button has focus right?  So in the non modal case does the button have focus and in the modal case it doesn't?

[2022-01-26 13:07] nixonyeung commented on #8333
Both cases the command buttons are on focus(i.e. with blue border) see the screen capture

[2022-01-26 13:21] melloware commented on #8333
In Modal mode there are two `keypress` events registered

![image](https://user-images.githubusercontent.com/4399574/151170211-e82f37b0-ecf2-4d12-9664-0ad49c7bae10.png)

The document one is `PrimeFaces.utils.preventTabbing(id, zIndex, tabbablesCallback);` if I remove that one then the keypress on the buttons works.  So the preventTabbing is doing an `event.preventDefault()` that is eating the keyp

[2022-01-26 13:26] melloware commented on #8333
In fact the lines causing the problem in `preventTabbing` are these lines in the else clause...

[code]

so the button's zindex must be less than the dialog's zIndex.  We might have to make this smarter somehow.

[2022-01-26 14:28] jepsar opened #8335 "Captcha: Make theme / prefers dark aware"
<img width="400" alt="Screenshot 2022-01-26 at 15 26 54" src="https://user-images.githubusercontent.com/7500178/151181149-1af7123c-fc9f-43f1-b951-0b275daf0987.png">

https://github.com/primefaces/primefaces/blob/18ae753d683fb3cc4c4dc45ecb5aaccce2ea8b79/primefaces/src/main/java/org/primefaces/component/captcha/CaptchaRenderer.java#L92

[2022-01-26 16:14] jepsar opened #8336 "Tree: Keyboard navigation breaks due to missing $this while pressing down arrow"
PF 11

<img width="574" alt="Screenshot 2022-01-26 at 17 08 53" src="https://user-images.githubusercontent.com/7500178/151201168-eaf1a038-4f0b-4b3d-bde9-03c81e53076b.png">

Can also be seen at

https://www.primefaces.org/showcase/ui/data/tree/selection.xhtml

[2022-01-26 16:25] jepsar opened #8337 "Tree: Improve node focus styling"
Select the Saga theme both in PrimeFaces and PrimeVue:

https://www.primefaces.org/showcase/ui/data/tree/selection.xhtml
https://primefaces.org/primevue/showcase/#/tree/selection

The PrimeVue node focus styling is much clearer:

<img width="382" alt="Screenshot 2022-01-26 at 17 20 04" src="https://user-images.githubusercontent.com/7500178/151203226-ad3ed729-3ba3-46aa-a629-05fb39709ac5.png">

vs P

[2022-01-26 16:35] melloware commented on #8336
Nice looks like an easy fix :)

[2022-01-26 18:39] jepsar commented on #8336
@melloware Yeah, easiest fix I did so far

[2022-01-26 19:31] #8336 closed, assigned to jepsar

[2022-01-27 08:32] jepsar opened #8339 "Tree: ui-treenode-outline and ui-state-highlight are applied on label instead of tree node content"
This makes styling harder. See also #8337

[2022-01-27 15:21] melloware commented on #8333
OK so if you remove `<div class="ui-inputgroup">` it works because

with inputGroup : `target.zIndex() === 1` **incorrect**

without inputGroup: `target.zIndex() === 1004` **correct**

So the jQuery `zIndex()` function is not properly calculating the zIndex for the button.

[2022-01-27 15:25] jepsar commented on #8333
Don't you need to check if the (indirect) parent of the target is the dialog?

[2022-01-27 15:27] melloware commented on #8333
i think since its used generically in overlays including Spotlight you have to check whether its up its parent chain is an overlay but i don't think that is quite clear how to do it generically.

[2022-01-27 16:41] miedrl opened #8340 "SelectCheckboxMenu: First selectItem is falsely selected when opening panel with space bar"
**Describe the defect**
When navigating the site with the keyboard instead of the mouse, SelectCheckboxMenus can be opened and closed with space bar. When clicking space bar, the component opens to show the selectItems but the first selectItem is instantly selected as it also reacts to space bar.

**Environment:**
 - PF Version: _10.0.0_

**To Reproduce**
Steps to reproduce the behavior:
1. Add th

[2022-01-27 17:54] afd0174 commented on #8310
Hi - I've attached a simplified example that sees the "failed UI validation on first click" bug eliminated based on whether or not the data table is enclosed in an outer form (bug occurs) or if the form is placed inside the row expansion (bug does not occur).  Any ideas on what would cause this behavior?  I'm exploring whether or not the affected view in my project can be refactored to move the fo

[2022-01-27 18:23] melloware commented on #8340
@miedrl can you try this MonkeyPatch and see if your issue is fixed?  If so I will submit a PR.

**MonkeyPatch for PF11:**

[code]

[2022-01-28 07:07] miedrl commented on #8340
@melloware I tried your patch. It throws a "$this.isLoaded is not a function" error but that could be because I'm missing something in my code. Despite the error, the patch fixes my problem just fine.

[2022-01-28 09:57] melloware commented on #8340
My patch above was for PF 11. I will try and make one for pf10

[2022-01-28 13:38] melloware commented on #8340
@miedrl PrimeFaces 10 MonkeyPatch:

[code]

[2022-01-28 14:57] melloware commented on #8323
Just confirmed the bug was fixed in InputMask and I tested it here and confirmed the issue is fixed. Thanks for reporting!

[2022-01-28 15:07] imoehldf commented on #8323
Thanks for the fast action!

[2022-01-28 15:10] #8323 closed, assigned to melloware

[2022-01-28 17:44] pfumi opened #8344 "UICalender: Transformation of @Past/@Future not fully align with the Java EE Bean Validation"
**Describe the defect**
With enabled `primefaces.TRANSFORM_METADATA` in `web.xml` the constraint `@Past` on a java field is transformed into the Calendar's maxdate field.

The PrimeFaces transformation sets NOW - 1 DAY, if there is no time (time is considered by the Calendar's pattern)
See code here https://github.com/primefaces/primefaces/blob/fc76cdf76b8ba4f31833de176b0c2bb5106081f3/primefaces/s

[2022-01-28 23:34] newk5 opened #8347 "DataTable: Paginator breaks when table is updated after previous table is filtered"
**Describe the defect**
For example if you filter a table and then open a dialog with another table, if you change page on that table, the paginator shows the wrong number of pages, it always shows 1 page only. This issue did not happen in PF10

**Reproducer**
[primefaces-test.7z](https://github.com/primefaces/primefaces/files/7962453/primefaces-test-master.2.zip)

**Environment:**
 - PF Version:

[2022-01-29 09:06] seinecle opened #8349 "Inputtextarea: overflows container"
PF 10.0.0

A wide `InputTextArea` will not resize to the proper width when needed : when displayed on a mobile screen for example.

An example is visible from the showcase itself: the last example on the page overflows its container when displayed on a mobile phone in portrait mode:

https://www.primefaces.org/showcase/ui/input/inputTextarea.xhtml?jfwid=ece10

[2022-01-29 09:15] jepsar commented on #8349
The rendered `textarea` has no width set, it only has a `cols` attribute, so the behavior is expected. If you want it to scale to the available width, wrap it in `<div class="ui-fluid">...</div>`.

[2022-01-29 09:33] seinecle commented on #8349
Thank you!

[2022-01-29 09:33] #8349 closed, assigned to nobody

[2022-01-29 11:42] ltlBeBoy opened #8351 "DatePicker: Time is not set to start / end of day when used as range filter"
**Describe the defect**
A _DatePicker_ is used as custom filter in a _DataTable_'s timestamp column. The corresponding entity attribute is from type _java.util.Date_. When choosing a date range only the entries of the matching end date with a time value of _00:00:00_ are included. All other entries of the matching end date with a later time are ignored.

**Reproducer**
See [primefaces-test-master.

[2022-01-29 11:54] ltlBeBoy commented on #8351
And if you don't want to change the default behavior, would it be possible to modify the method `DatePickerRenderer#getConvertedValue(FacesContext, UIComponent, Object)` in a way that a special range converter (implements a tagging range converter interface) can be specified? E.g.:

[code]

[2022-01-29 12:49] melloware commented on #8332
Closing for now unless we hear from OP

[2022-01-29 13:31] #8332 closed, assigned to nobody

[2022-01-29 14:12] melloware commented on #8347
OK you are right this is so strange that 1 table in 1 form is affecting the paginator of another datatable in another form.

[2022-01-29 14:24] melloware commented on #8347
OK I think I see the problem.  When you filter the first table this is sent back in the response...

[code]

And then when you open the dialog and then paginate the 2nd datable this is sent back in the response although I have no idea why the callback from `FilterFeature` for a different datable is being sent back to this 2nd datatable.

[code]

[2022-01-29 14:38] melloware commented on #8344
@pfumi I am having trouble reproducing your issue with your reproducer above.

So today is Jan 29.  When I run with `primefaces.TRANSFORM_METADATA=true` it makes today unselectable and defaults my date to Jan 28th which is the first valid day in the PAST?

And it makes TODAY the 29th greyed out as not selectable since its NOT in the Past.

![image](https://user-images.githubusercontent.com/4399574

[2022-01-29 14:45] melloware commented on #8351
Well forget the Range filter in datatable filter wouldn't this just have the same issue with straight DatePicker and range and `java.util.date` like on the Showcase Range example: https://www.primefaces.org/showcase/ui/input/datepicker/datePicker.xhtml ???

I think what you are saying is its making it.

[code]

And you think it should be...

[code]

IS that what you are saying is you think the sec

[2022-01-29 16:47] melloware commented on #8310
OK so I think the issue might be related to all the refactoring for RowExpansion in tickets #7431, #2728

So I was able to fix your issue "I think" by changing the button `process` value
[pf-8310-workaround.zip](https://github.com/primefaces/primefaces/files/7964139/pf-8310-workaround.zip)

Attached is a working reproducer where I put a `p:outputPanel` in your expander like:
[code]

And then chang

[2022-01-29 17:07] pfumi commented on #8344
If you take today 29 Jan as
java.util.Date, that is: 2022-01-29 00:00.000000

1) With `primefaces.TRANSFORM_METADATA=true` maxdate is validated on submit as follow:
2022-01-29 00:00.000000 < 2022-01-28

2) With `primefaces.TRANSFORM_METADATA=false` the `@Past` constraint is validated on submit as follow:
2022-01-29 00:00.000000 < 2022-01-29 18:01.000000 (time NOW)

For 1) today as date is invalid,

[2022-01-29 18:36] melloware commented on #8344
But why can't reproduce it with your sample?  I run your example and follow your instructions exactly and it all works for me with no errors?

[2022-01-29 18:53] marw1tt opened #8352 "OverlayPanel: The panel does not close when the user is tabbing out of it"
**Describe the defect**
If the content of the overlay panel is accessed through tabbing to the next control, it should close if the tab focus leaves the overlay panel contents.

**Reproducer**
The defect can be reproduced within the [primefaces showcases](https://www.primefaces.org/showcase/ui/overlay/overlayPanel.xhtml?jfwid=1a87e)

**Environment:**
 - PF Version: _10.0.0_
 - PF Theme: _Diamond_

[2022-01-29 18:59] pfumi commented on #8344
I think the cases in the description were swapped, can you please try again, sorry for that, I updated the description!

I tried it myself again with reproducer in the description, and I have two different behaviors with CASE 1 and CASE 2

[2022-01-29 19:08] pfumi commented on #8344
The only thing which is important, that in both cases 2022-01-29 is filled in, and with submit there are different results with the validation

[2022-01-29 20:17] ltlBeBoy commented on #8351
For consistency, yes:

- When I look at the PF11 sources for the [MatchMode](https://github.com/primefaces/primefaces/blob/11.0.0/primefaces/src/main/java/org/primefaces/model/MatchMode.java), I can see that `MatchMode.RANGE` is deprecated and `MatchMode.BETWEEN` shou be used. Then I look at the [FilterFeature](https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/java/org/prime

[2022-01-29 20:30] ltlBeBoy commented on #8351
Another option would be the possibility of specifying a custom _RangeConverter_. That converter would split the range string, convert the two dates e.g. with help of the _DateTimeConverter_ and then set the time value of the end date to [LocalTime.html#MAX](https://docs.oracle.com/javase/8/docs/api/java/time/LocalTime.html#MAX). But unfortunately the conversion part is included in the method [Date

[2022-01-29 20:32] ltlBeBoy commented on #8351
Btw, do you know what I did wrong at reproducer in the _LocalDateTime_ column? Filtering does not work at all there...

[2022-01-29 20:43] jepsar commented on #8351
Ah, I think I had the same discussion with @newk5 about this. Dates should be handed differently in between filters. It was about the MongoDB lazy model if I am correct.

[2022-01-29 20:43] melloware commented on #8351
Adding @jepsar as he just reworked the filters to Comparable.

[2022-01-29 21:02] melloware commented on #8344
Weird in your one case it won't let me fill in 01-29 it defaults to 01-28 like in my screenshot as the first valid day allowed.

[2022-01-29 21:20] pfumi commented on #8344
Hmm I can fill in 2022-01-29, it doesn't get changed to 2022-01-28, is this a locale thing? I'm on DE locale, you are on EN_US right? I try tomorrow again..

[2022-01-29 21:20] newk5 commented on #8351
If I understand correctly, the OP is saying the time units in a date filter should be ignored? Doesn't the datepicker allow you to specify the time units too? ( Hour: minutes)

To be honest I do ignore the time units in most of my own code when I filter between dates since I dont usually want to include hours/minutes. What I mean by "ignore"  is that I set the start date time units to 00:00 and en

[2022-01-29 21:48] melloware commented on #8344
Yes I am on en_US. I am wondering if that is it.

[2022-01-30 08:41] jepsar commented on #8351
@newk5 we aligned it with PF in the MongoDB model to be consistent

[2022-01-30 09:27] ltlBeBoy commented on #8351
To be clear:
- When the **time selection is not enabled** for the _DatePicker_, I expect the start time to be set to 00:00 and the end time to be set to 23:59.
- When our client would also want to choose the start and end time, then I would also enable the time selection. But this is currently also not possible, see [#5037](https://github.com/primefaces/primefaces/issues/5037)

[2022-01-30 14:35] githubuser100007 commented on #8173
Additional defect found while playing around with this sort dropdown on mobile. It seems to be selecting different dropdown values than the one that is actually selected. For instance, if I click on First Name Descending:

![image](https://user-images.githubusercontent.com/37383950/151704119-2d8e43fd-3e0c-4e68-8025-71bf3a5a2cd8.png)

It ends up closing the dropdown with a different value selected.

[2022-01-30 15:18] melloware commented on #8352
Yep right now its looking for mousedown outside the panel.

[code]

[2022-01-30 15:38] melloware commented on #8352
Here is a MonkeyPatch for PF10 that fixes the issue it checks for either mousedown or keyup to see if you have tabbed out of the overlaypanel.

[code]

[2022-01-30 15:44] melloware commented on #8173
@githubuser100007 this has been reported already here: https://github.com/primefaces/primefaces/issues/7471

[2022-01-30 15:48] melloware commented on #8344
Same result today. It is Jan 30th but the DatePicker is smart enough to default to Jan 29th and not allow the 30th to be selectable.

![image](https://user-images.githubusercontent.com/4399574/151706729-771cd928-1df8-467f-bc77-795489ec5fbb.png)

[2022-01-30 16:00] #8340 closed, assigned to melloware

[2022-01-30 16:05] melloware commented on #8352
@miedrl since you have a good handle on accessibility do you agree with this change?  Personally I feel like this is the correct change to make for accessibility.

[2022-01-30 16:14] melloware commented on #8344
Another thing to consider is how it is calculating NOW...

[code]

[2022-01-30 16:32] melloware commented on #8335
@jepsar What do you think of this?   Also if this is accepted we can modify LightSwitch for 12.0.0 to use `PrimeFaces.env`.

[2022-01-30 18:38] jepsar opened #8355 "DataTable: Date / LocalDateTime filter requires a converter"
class java.time.LocalDate cannot be cast to class java.time.chrono.ChronoLocalDateTime

Relates to #8351

[2022-01-30 19:16] jepsar opened #8356 "Filter: Negation should not flip prerequisites"
For example between:
[code]
Negation simply inverts the outcome. We should introduce `meetsPrerequisites`. Negation should respect (and not flip) `meetsPrerequisites`.

[2022-01-30 19:54] Rapster commented on #8356
Example?

[2022-01-30 20:36] jepsar commented on #8356
If filter is a list it should not return true immediately. Other option is to throw an exception.

[2022-01-31 08:09] fcjm commented on #8159
I think I found the solution. My problem was that if you add a new column nothing works at all. You can also see it in the mentioned showcase (Dynamic Columns) when you add a new column (e.g. "representative").

After some time debugging I noticed that the functions isColumnSortable() / isColumnFilterable() from UITable are always called from within the encodeColumnHeader function of the DataTable

[2022-01-31 08:28] jepsar commented on #8351
I think I'd like to close this as invalid. The actual issue is that the between filter should convert to local date values when the filter values are local dates. This is fixed with PR #8357

@melloware WDYT?

[2022-01-31 09:53] tandraschko commented on #8159
@fcjm can you please create a new issue + reproducer? i think its a bit different as this issue, i currently create a integration tests around the initial issue here

[2022-01-31 09:59] tandraschko commented on #8159
works fine when change your method to:

[code]

[2022-01-31 10:22] #8159 closed, assigned to tandraschko

[2022-01-31 11:34] jrajsky opened #8359 "FileUpload: Tilde as first character in filename causes StringIndexOutOfBoundsException on Windows"
**Describe the defect**
When component p:fileUpload is used to upload a file with name starting with tilde character (ie: _~myfile.txt_), application crashes on
[code]

The issue lies in method _FileUploadUtils:getValidFilename()_ -
on line 66: String[] parts = filename.substring(FilenameUtils.getPrefixLength(filename)).split(Pattern.quote(File.separator));
FilenameUtils.getPrefixLength(filename)

[2022-01-31 12:41] ltlBeBoy commented on #8351
@jepsar I would say no. Because the problem remains when you are using a _LazyDataModel_.

[2022-01-31 12:42] melloware commented on #8359
I will investigate.

[2022-01-31 12:58] jepsar commented on #8351
Then you need to fix it in your lazy data model. The date picker is doing its job and gets you a list of `LocalDate`s.

We need to have a look at the JPA model though. I'm hoping we have integration tests for that.

[2022-01-31 13:00] jepsar commented on #8359
@melloware let me know if I need to test on macOS

[2022-01-31 13:12] ltlBeBoy commented on #8351
And if one is using 100 entities with a timestamp, then there have to be 100 modified models for that?
In my opinion the view layer should prepare the input of the user. In a "freestyle fashion" like _InputText_. Or preformated like _DatePicker_. And if the default behavior does not fit my needs, then I specify a converter (which I have o code and test just once). But as I mentioned before, it is

[2022-01-31 13:24] jepsar commented on #8351
A converter should take care of serializing to / from string. It should not modify values.

I would suggest to use an abstract lazy model and correct the end date of a date range there, once.

[2022-01-31 13:34] melloware commented on #8359
OK PR Submitted.  Confirmed it was definitely broken on Windows.  Added unit test so it should run on all OS's.

[2022-01-31 15:14] #8359 closed, assigned to melloware

[2022-01-31 16:25] ltlBeBoy commented on #8351
OK, but I would not need a custom converter if the _DatePicker_ would return the correct value. If the output data type has a time part, then that time part has to be set corresponding to the selected range!

When the range _today_ - _today_ is selected, the output has to be

- `yyyy-mm-dd - yyyy-mm-dd` for _LocalDate_ data types
- `yyyy-mm-dd 00:00:00.0000000 - yyyy-mm-dd 23:59:59.999999` for _Lo

[2022-01-31 16:52] ltlBeBoy commented on #8351
Here is a reproducer that shows the problem. Without a _DataTable_ or filtering:

[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/7972595/primefaces-test-master.zip)

Please choose _today_ - _today_ as date range and take a look at the time part.

[2022-01-31 18:28] jepsar opened #8362 "DatePicker: enter range value with custom pattern causes "start.getTime is not a function""
See http://localhost:8080/integrationtests/datatable/dataTable026.xhtml

Tests 13 and 14 (last login date (time)), in the input enter / paste "2021-01-01 - 2021-01-10"

Note that this is not in master yet. See PR #8357

[code]

[code]

[2022-01-31 18:44] jepsar opened #8363 "FilterConstraint: Don't convert values for each row"
Now values are converted for each row, examples:

https://github.com/primefaces/primefaces/blob/a910479dd4febb60d99123f100265c5647b02ef7/primefaces/src/main/java/org/primefaces/model/filter/ComparableFilterConstraint.java#L42

https://github.com/primefaces/primefaces/blob/a910479dd4febb60d99123f100265c5647b02ef7/primefaces/src/main/java/org/primefaces/model/filter/StringFilterConstraint.java#L39

[2022-01-31 18:47] tandraschko commented on #8363
i dont like caching at all
IMO if someone needs high performance, its better to use LazyDataModel

maybe there is a better way to compare numbers without creating BigDecimal

[2022-01-31 19:13] jepsar commented on #8363
I agree lazy model is the best option for performance.

BigDecimal is a generic way to compare different number types and it is easy to parse based on a locale.

[2022-01-31 19:32] tandraschko commented on #8363
how do non-lazy table work with paging?
lets assume 10 pages, 10 rows each page
what happens when e.g. 10 rows are "full" when filtering 30 rows; do we still filter the next 70 values?

[2022-01-31 19:45] jepsar commented on #8363
I assume we do. The paginator need to be updated.

[2022-01-31 19:55] pfumi commented on #8344
@melloware
I think the result of `org.primefaces.util.CalendarUtils#now` doesn't matter, because in line `DatePicker:213/214` min-/maxdate is always converted to `LocalDate`.

I again tested everything, and now I can tell you this (I hope it's now better reproducable)

The timezone was wrong in the example, this caused this weird problems, now it's the system timzone sorry for that.
_**I updated t

[2022-01-31 20:56] melloware commented on #8362
That pattern `pattern="yyyy-MM-dd"` is the problem if you use `-` in a pattern you must change `rangeSeparator=" ???"` to change the range Separator from the default `-`.

Still doesn't explain why tests 10 and 11 fail as they are using the default "dd/MM/yyyy` with slashes.

[2022-01-31 21:00] melloware commented on #8362
I see the problem. Fixing..

[2022-01-31 21:15] melloware commented on #8344
Ahh I think you are right the real bug is when using `java.util.Date` its converting it to `LocalDate`.

[2022-01-31 21:57] BryanGarro25 opened #8365 "Calendar: Problem with Spanish time format AM/PM"
The component shows the hour like this: 8:15 p. m. instead of 8:15 PM (this just happens in spanish), when I change the date, it changes the format from p. m. to PM, and it fails throwing the next error message:
Error ' 8:15 PM' no se ha podido reconocer como hora. Ejemplo:  8:15 p. m.

I need the format to stay PM no matter the language.

In database is stored like this: 20:15:00

 - PF Version:

[2022-01-31 22:14] nimo23 opened #8366 "Component: "p.column headerText" does not support EL"
**Description**
Please provide support detection of EL within `<p.colum headerText=""/>` , if possible.

**Describe the solution you would like**
I would like that PR renders something like this  `<p.colum headerText="#{bean.title}"/>`

[2022-01-31 22:35] Rapster commented on #8366
Based on what you would like, and the little description you're giving, this shoud be already working

[2022-01-31 22:44] nimo23 commented on #8366
I also supposed this, however, if so, then it seems to be **bug** because it does **not** work:

This works, as I do not use EL within `headerText`:

[code]

This does NOT work, as I use EL within `headerText`:

[code]

I use current jsf version with current PF version.

[2022-01-31 22:49] Rapster commented on #8366
Oh yeah, no that can't work. There is ONE headerText per column for all rows. bean = row, and when column#headerText is encoded, bean is not available yet  (and will be whenever rows have to be encoded)

[2022-01-31 22:55] nimo23 commented on #8366
Yes, I supposed that. Feel free to close this issue if it cannot be resolved.

[2022-01-31 22:56] #8366 closed, assigned to nobody

[2022-01-31 22:56] Rapster commented on #8366
It can't be resolved, you should have a second look on what you're trying to do 😉

[2022-01-31 23:00] Rapster commented on #8363
-1 for having a cache

I just had a look, and indeed, converting for every row the very same value is not ideal... Unfortunately, I don't think there is a way to deduce the binded type from FilterMeta#filterBy VE (or is it?) so we could reuse it later for the conversion to apply. Conversion ideally should be done in `UITable#updateFilterByValuesWithFilterRequest` when filterValue is actually set..

[2022-02-01 07:09] jepsar commented on #8363
It turned out to be simple. A converter must be added to the filter. I added an exception if it was forgotten by the user.

[2022-02-01 07:12] jepsar commented on #8246
@eduarddrenth You should convert your filter value to integer:
[code]

[2022-02-01 07:20] jepsar commented on #8351
@ltlBeBoy I think you are right that we need to introduce a converter for this. That way we only need to convert once, and not every row. See also #8363

[2022-02-01 07:35] eduarddrenth commented on #8246
Thanks, this is needed until the fix is released I assume?

[2022-02-01 07:37] jepsar commented on #8246
No, I changed the fix to avoid having to convert the value for each row. With the new fix the value is converted (to the correct type) just once. See PR #8367

[2022-02-01 09:28] fcjm opened #8368 "DataTable: Dynamically rendered columns are not filterable/sortable"
**Describe the defect**
In our application we have cases where columns are added/removed dynamically by switching the "rendered"-attribute of each column. The column gets added but sorting and filtering is not working. This worked in previous versions of Primefaces. You can see the issue in the showcase "DataTable - Dynamic Columns" when adding a new column "representative". I have also added a re

[2022-02-01 09:46] tandraschko commented on #8368
in general, without checking your case now, your fix might work if you add a new column
also this case should currently work as we add the new column to the sortBy reference, not sure why it doesnt work

but your fix wont work if column order will change as the columnKey contains the count and you MUST reset sortBy/filterBy and so on
we might provide a helper method here

[2022-02-01 09:52] jepsar opened #8369 "Column: Add converter attribute for filter and short notation"
So you can do
[code]
instead of
[code]

[2022-02-01 10:03] tandraschko commented on #8368
[code]

i would add something like this to UITable. WDYT @Rapster ?

[2022-02-01 10:12] handschriftenportal-dev opened #8370 "SortMeta Constructor should be public"
https://github.com/primefaces/primefaces/blob/d8acc5196925c234c69c143036b02619a72d0eb9/src/main/java/org/primefaces/model/SortMeta.java#L63

Field columnKey can´t be set due to package private Contructor and field not present in Builder.

[2022-02-01 10:20] #4569 closed, assigned to mertsincan

[2022-02-01 10:20] #8180 closed, assigned to jepsar

[2022-02-01 10:20] #8324 closed, assigned to jepsar

[2022-02-01 10:22] #8352 closed, assigned to melloware

[2022-02-01 10:58] OBreidenbach opened #8371 "FileUpload: illegal html - The element 'input' must not appear as a descendant of an element with the attribute 'role=button'"
**Describe the defect**
If the fileUpload component is used in advanced mode, illegal html is rendered.
Our application is accessibility tested. The rendered source code is validated with the w3c validator. Beside other  findings there is the following message:
The element 'input' must not appear as a descendant of an element with the attribute 'role=button'

**Environment:**
 - PF Version: _11.0.

[2022-02-01 11:53] Rapster commented on #8368
I remember facing that issue when I refactored DataTable... I remember I had to call setSortByAsMap/setFilterByAsMap after modifying metas. If you call getSortByAsMap/getFilterByAsMap after adding the value, I don't think it will return the updated map,  maybe something to do with view state and serialization?

[2022-02-01 11:56] Rapster commented on #8370
Please follow issue template or will be closed as invalid. The reason it's not exposed, is because columnKey is based on clientId which is anondeterministic value

[2022-02-01 11:59] Rapster commented on #8363
Should we close this then and focus on #8369 ?

[2022-02-01 11:59] tandraschko commented on #8368
it should actually work but i think it doesnt hurt to add those 2 statements back

however, this will just fix if you add a new column to the end
we need such a method like mentioned above anyway

[2022-02-01 12:04] Rapster commented on #8369
What about this instead of adding a new attr?

[code]

or
[code]
That way, it's not only limited to filtering, it could be quite convenient using shorthand notation (e.g `<p:column field="xxx" />`)

Maybe not possible as it requires to implement ValueHolder if I remember correctly?

[2022-02-01 12:07] Rapster commented on #8368
I have nothing against adding this method, but as long as Column#columnKey is based on clientId, we'll be facing this sort of issues

[2022-02-01 12:13] jepsar commented on #8363
I don't think we need to do one of both, this should be fixed any way, and #8369 can follow as an enhanced convenience feature.

[2022-02-01 12:36] #8368 closed, assigned to tandraschko

[2022-02-01 13:56] #8362 closed, assigned to melloware

[2022-02-01 13:59] melloware commented on #8370
Going to close as invalid for now unless OP comes back with a good reason why it needs to be exposed. @handschriftenportal-dev let us know why you need this as Rapster pointed out this is a calculated value.

[2022-02-01 13:59] #8370 closed, assigned to nobody

[2022-02-01 14:02] melloware commented on #8365
Calendar is deprecated you should be using `DatePicker` instead.    Can you confirm the issue happens with DatePicker as well?

[2022-02-01 14:02] melloware commented on #8365
Please  provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-02-01 14:26] melloware commented on #8344
The problem is here:
[code]

To fix your issue above change your DatePicker to `showTime="true"`..

[code]

Since for a Date it has no idea what you want but without a TIME it has to assume you want a true local date.

[2022-02-01 14:33] Rapster commented on #8363
Ok I think I get it, I got confused 😅

[2022-02-01 14:51] melloware commented on #5503
I just tested this after the latest changes and it looks like the Tab key reaches the first radio in a component but subsequent tabs do not tab through the radios it goes to the next whole component.

[2022-02-01 14:53] jepsar commented on #5503
I did not spent time on that yet. I didn't want the other PR to get to big or complex.

[2022-02-01 15:02] melloware commented on #5503
No worries figured I would just test this and update.

[2022-02-01 15:05] #8371 closed, assigned to OBreidenbach

[2022-02-01 15:57] #8335 closed, assigned to melloware

[2022-02-01 16:13] BryanGarro25 commented on #8365
yes, I tried with date picker too and the problem persists

[2022-02-01 16:25] melloware commented on #8365
The bug is in the Java Local for Time/Date for `es`.

ES = a. m., p. m. : https://www.localeplanet.com/java/es-ES/index.html

EN = AM/PM : https://www.localeplanet.com/java/en-US/index.html

And I believe we are deferring to the JDK to do the `java.time` formatting.

[2022-02-01 18:44] pfumi commented on #8344
I think the problem is still here https://github.com/primefaces/primefaces/blob/fc76cdf76b8ba4f31833de176b0c2bb5106081f3/primefaces/src/main/java/org/primefaces/metadata/transformer/impl/BeanValidationInputMetadataTransformer.java#L173

`java.util.Date`, `java.time.LocalDateTime`, `java.time.LocalTime` have time information per default of the data type, also used with `showTime="false"`, it's stil

[2022-02-01 20:01] melloware commented on #8344
I assume we would have to do the same for `minDate` or `@Future` ?

[2022-02-01 20:30] pfumi commented on #8344
For `@Future` I think the logic is correct, because for example if you have a `java.util.Date` with TODAY, this would set `mindate` to NOW+1 day.
That means, it validates
2022-02-01 00:00.000000 (TODAY) >= 2022-02-02 (TODAY + 1 DAY)
Just `@Future` would validate
2022-02-01 00:00.000000 (TODAY) > 2022-02-01 21:21.000000 (TIME NOW)

So both are correct, if `showTime="false"`, then the time part is 0

[2022-02-01 20:51] melloware commented on #8344
OK I simplified your logic a little bit.  Please review my PR and thanks for the help!

[2022-02-01 21:18] pfumi commented on #8344
One suggestion

You could write this code
[code]
also this way
[code]

The rest looks great. Thanks for your time and effort!

[2022-02-01 21:34] melloware commented on #8344
Done!  good teamwork!

[2022-02-01 21:44] #8344 closed, assigned to melloware, pfumi

[2022-02-01 21:54] pfumi commented on #8344
@melloware Don't forget to merge it into master 😉

[2022-02-01 22:10] melloware commented on #8344
Never 😁

[2022-02-02 08:06] jepsar commented on #5503
Got this one figured out. We need to NOT `display: none` the original inputs (prevents them from getting focus) and we need listeners on them to transfer the focus to the custom radio buttons. Will fix it tonight and I think I'd like to add an integration test here.

[2022-02-02 08:10] jepsar commented on #4238
I'll have a look at this as I am already knee deep in the custom radio button

[2022-02-02 13:33] weiprd opened #8375 "PickList: drag&drop of multiple selected items not working as expected"
If you select more than one item in the PickList by holding down the crtl-key and move them with drag&drop, only one item will be moved.

**Environment**
PrimeFaces V11.0.0
Problem occurres on Chrome, Firefox and Edge.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to the PickList showcase https://www.primefaces.org/showcase/ui/data/pickList.xhtml?jfwid=5fcaa
2. Select two or more item

[2022-02-02 14:13] melloware commented on #8375
Is this a duplicate of this: https://github.com/primefaces/primefaces/issues/1081

[2022-02-02 14:34] #8375 closed, assigned to nobody

[2022-02-02 15:24] mihaiDumea opened #8376 "Datatable: ContextMenu is duplicated by the native one when contextMenu behavior is present"
onRowRightClick (https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/resources/META-INF/resources/primefaces/datatable/datatable.js#L2451) should return a value, as is expected by https://github.com/primefaces/primefaces/blob/97b0180f488e109b3dc898b9920fe8cca661df88/primefaces/src/main/resources/META-INF/resources/primefaces/datatable/datatable.js#L1276
The return value might

[2022-02-02 19:07] jepsar opened #8377 "SelectOneRadio: selected option not unselectable by keyboard"
You can select using space, but if the component has `unselectable="true"` set, you cannot unselected the selected option using space.

[2022-02-02 20:45] mertsincan opened #8380 "Datepicker shortYearCutoff is evaluated wrong"
Reported By PRO User;

you try to enter the date "3.3.62" and press enter it will be evaluated to 03.03.1962 if you press tab it will be evaluated to 03.03.2062.
If you try the date "3.3.55", enter will result in 03.03.1955 and tab in 03.03.2055.
...

[2022-02-02 20:47] #8380 closed, assigned to nobody

[2022-02-02 21:19] melloware commented on #8376
Can you try this MonkeyPatch?

[code]

[2022-02-02 22:03] mihaiDumea commented on #8376
Yes, is working. As I already tested it.
`PrimeFaces.widget.DataTable.prototype._onRowRightClick = PrimeFaces.widget.DataTable.prototype.onRowRightClick;
PrimeFaces.widget.DataTable.prototype.onRowRightClick = function (event, rowElement, cmSelMode, fnShowMenu) {
    this._onRowRightClick(event, rowElement, cmSelMode, fnShowMenu);
    return this.hasBehavior('contextMenu');
}`

[2022-02-02 22:49] melloware commented on #8376
Ok I will fix!  Thanks for reporting.

[2022-02-03 07:44] miedrl opened #8381 "Datepicker: Panel not responsive"
**Describe the defect**
The overlay panel of the datepicker component is not responsive and thus overflows small screens and can't be used to its full extent.

**Environment:**
 - PF Version: _10.0.0_

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [PrimeFaces datepicker showcase](http://primefaces.org/showcase/ui/input/datepicker/datePicker.xhtml?jfwid=d28da).
2. Reduce the screen

[2022-02-03 08:07] jepsar commented on #8381
For me the showcase is broken when I use it with my mobile. Somehow the inline picker is displayed statically and blocking most of the screen.

@miedrl can you try the "Touch UI" example?

[2022-02-03 08:11] miedrl commented on #8381
@jepsar When I open the showcase on my mobile, I get the same problem as you. I checked the "Touch UI" example on my computer using developer tools to reduce the screen down to 320px. The panel overflows the screen here too. Here is a screenshot of the result:

![grafik](https://user-images.githubusercontent.com/77431692/152304743-f5cd2832-0973-4ea1-98bb-ca8a95c7a613.png)

[2022-02-03 08:32] jepsar commented on #8381
You should check on a touch enabled device, it will auto detect touchability.

<img src="https://user-images.githubusercontent.com/7500178/152307716-a45d784f-0eb8-4f02-a01e-a66c82a6c24a.jpg" width="420"/>

[2022-02-03 08:35] miedrl commented on #8381
@jepsar I tried again with my laptop (which has a touch display). The result for touching the component is the same as when clicking on it.

[2022-02-03 08:40] jepsar commented on #8381
Can you go to the showcase and try this in your JS console?
[code]
It should return `true` if your device is a touch device according to PrimeFaces.

[2022-02-03 08:47] #8363 closed, assigned to jepsar

[2022-02-03 08:48] miedrl commented on #8381
@jepsar I tried and it returned false so it seems that my device is not a touch device according to PrimeFaces. Sorry that I could not help you here.

[2022-02-03 08:52] tandraschko commented on #8369
+1 to improve improve #8363 / example

i wonder in your example @Rapster, can we support p:columns when attaching f:converter?
you know, f:converter has some disadvantages in dynamic tags like ui:repeat - not sure about this case

[2022-02-03 09:51] jepsar commented on #8246
@eduarddrenth See also #8369 which should make life easier

[2022-02-03 10:00] jepsar commented on #8381
That check could be improved though, see for example https://javascript.plainenglish.io/how-to-detect-a-touch-screen-device-using-javascript-68a68360375a

https://hacks.mozilla.org/2013/04/detecting-touch-its-the-why-not-the-how/

I think date picker should switch to full screen based on screen size and not on touchable. Not sure if it does not already (did not investigate that yet).

[2022-02-03 10:05] eduarddrenth commented on #8369
Great!

[2022-02-03 10:07] maruTA-bis5 opened #8382 "Document(Column): Attribute "sortFunction" is duplicated"
**Describe the defect**
In `Column` component, description about `sortFunction` attribute is duplicated.

**Reproducer**
https://primefaces.github.io/primefaces/11_0_0/#/components/column
![image](https://user-images.githubusercontent.com/1310661/152317457-bb2f030b-ee50-4e6c-adac-659a8ae1307f.png)

[2022-02-03 10:20] #8382 closed, assigned to nobody

[2022-02-03 12:35] melloware commented on #8376
Please review the PR I just submitted.

[2022-02-03 12:38] melloware commented on #8381
It does not check screen size I added this feature in PF11 to autodetect touchable but not screen size.

https://github.com/primefaces/primefaces/issues/7126

[2022-02-03 12:44] melloware commented on #8381
This is how touch punch determines touch successfully...

[code]

[2022-02-03 13:07] Rapster commented on #8369
Since `f:converter` is resolved at build time, it wouldn't work straight away, you'll have to define a converter that resolve the proper converter at render time. The thing with supporting this is like I said, `UIColumn` will have to implement `ValueHolder` and I don't know how smart this is...

I would call the attribute `converter` since it could be used not only for filtering. Just to be sure,

[2022-02-03 13:10] tandraschko commented on #8369
+1 for converter attr for now

[2022-02-03 13:13] melloware commented on #8381
@jepsar i thnk the problem with screen size is who determines the size at which to switch it.  They can always use the `touchUI=#{myvaraible}"` and update the value based on screen size changes right?

[2022-02-03 13:16] melloware commented on #8381
There was this ticket that was long ago rejected: https://github.com/primefaces/primefaces/issues/1281

[2022-02-03 13:24] #8376 closed, assigned to melloware

[2022-02-03 13:31] jepsar commented on #8381
True, but that would mean at least one roundtrip to get the JS variable available as EL. A global setting "default to touch UI at maximum x pixels" would be more convenient I think. Also, the touch UI of the date picker won't be very useful on a huge touchable screen.

Or `touchUI` should be a JS function instead of a boolean.

[2022-02-03 13:51] maruTA-bis5 opened #8385 "Core: Client locale contains incorrect message keys"
**Describe the defect**
Message key `javax.faces.validator.LongRangeValidator.TYPE` and `javax.faces.validator.DoubleRangeValidator.TYPE` are used by client side validator. However `locale_en.js` (and other language's resources) has incorrect keys such as `javax.faces.validator.LongRangeValidator.TYPE={0}`.

**Environment:**
 - PF Version: _11.0.0_
 - PF Theme: _ Saga
 - JSF + version: _MyFaces 2.

[2022-02-03 14:20] maruTA-bis5 opened #8387 "CSV: LongRange/DoubleRange ignores converted value"
**Describe the defect**
Client-side LongRangeValidator(`javax.faces.validator.LongRange`) and DoubleRangeValidator(`javax.faces.validator.DoubleRange`) ignore passed value that converted by client-side converter.

**Reproducer**
https://github.com/maruTA-bis5/primefaces-test/tree/csv-converted-value

**Environment:**
 - PF Version: _11.0.0, master(1a0b83b5819d5097278ea4924dd60bbe3dcf4804)_
 - PF T

[2022-02-03 14:23] #8385 closed, assigned to maruTA-bis5

[2022-02-03 14:41] maruTA-bis5 opened #8388 "DataTable: Select all checkbox not updated using addRow() function"
**Describe the defect**
When added row to empty DataTable by `addRow()` JS function, checkbox in column header is not clickable.

**Reproducer**
https://github.com/maruTA-bis5/primefaces-test/tree/datatable-addrow-multiple-selection

**Environment:**
 - PF Version: _11.0.0, master(1a0b83b5819d5097278ea4924dd60bbe3dcf4804)_
 - PF Theme: _Saga_
 - JSF + version: _MyFaces 2.3.9_
 - Affected browsers:

[2022-02-03 15:49] maruTA-bis5 opened #8389 "Chart.js: CartesianLinearTicks.beginAtZero is ignored"
**Describe the defect**
Chart axes always begin at zero even if set false to `CartesianLinearTicks.beginAtZero`.

**Reproducer**
https://github.com/maruTA-bis5/primefaces-test/tree/chart-ticks

**Environment:**
 - PF Version: _11.0.0, master(1a0b83b5819d5097278ea4924dd60bbe3dcf4804)_
 - PF Theme: _Saga_
 - JSF + version: _MyFaces 2.3.9_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reprod

[2022-02-03 18:18] melloware commented on #8389
can you check whether this is a ChartsJS bug or this property name might have changed in a newer ChartsJS?

[2022-02-03 21:23] melloware commented on #8389
looks like it might have changed in ChartsJS 3 from 2 see: https://stackoverflow.com/a/68037674/502366

[2022-02-04 06:00] jepsar commented on #5503
The issue is worse, keyboard navigation on regular select one radio's doesn't work at all with Safari.

[2022-02-04 12:05] maruTA-bis5 commented on #8389
Yes, the `beginAtZero` property location changed in ChartJS 3.

When setup `org.primefaces.model.charts.axes.cartesian.CartesianScales` such like this,
[code]
`ChartRenderer#encodeScales` writes `scales`option these format:
[code]
(I used [this code](https://github.com/maruTA-bis5/primefaces-test/blob/chart-ticks/src/test/java/org/primefaces/CartesianLinearAxesEncodeTest.java) to check the written

[2022-02-04 12:19] tandraschko opened #8390 "LazyDataModelIterator: allow usage without paging"

[2022-02-04 12:25] #8390 closed, assigned to tandraschko

[2022-02-04 12:58] melloware commented on #8389
Will fix!

[2022-02-04 13:04] tandraschko opened #8391 "LazyDataModel: allow usage without paging"
Even if LazyDataModel is designed for paging, we can simple reuse it for non-pageable datatables
so the backend can be the same

[2022-02-04 13:06] #8391 closed, assigned to tandraschko

[2022-02-04 13:07] melloware commented on #8389
Thanks for reporting please review my PR!

[2022-02-04 13:09] melloware commented on #8387
@maruTA-bis5 do you have a proposed fix?

[2022-02-04 14:11] jepsar opened #8393 "Spinner: Add modifyValueOnWheel"
.. so you can disable it

Same as with InputNumber

[2022-02-04 14:55] jepsar commented on #8393
See also #5849

[2022-02-04 16:03] melloware commented on #8393
Nice!!! and thanks for naming it the same as the InputNumber prop for consistency!

[2022-02-04 18:50] tandraschko opened #8395 "DataTable: add reflection based LazyDataModel, similar to JpaLazyDataModel"
Currently we have 2 possible solutions (and maybe more?) to use a DataTable:
1) value binding to a `List<MyPojo>`
2) value binding to a `LazyDataModel`

in 1) sorting and filtering is done via our SortFeature+FilterFeature, whereas in 2) its done in the LazyDataModel itself

There are some benefits with a LazyDataModel, compared to the old/non-lazy way:
- the model handels filter/sort like in Lazy

[2022-02-04 18:52] tandraschko commented on #8395
WDYT about @Rapster? should we provide something or even replace our current Sort/FilterFeature with something like this? DataTable must wrap a value-binding with a `List<MyPojo>` with this new model of course.

In theory the code MUST be faster and cleaner with this. We just need a good place to cache the PropertyDescirptors.

[2022-02-04 18:52] tandraschko commented on #8395
cc @christophs78 @melloware

[2022-02-04 18:59] #8389 closed, assigned to melloware

[2022-02-04 19:34] melloware commented on #8395
I like where you are going with it!

[2022-02-04 19:41] csalmhof opened #8396 "Spinner: wrong role (textbox instead of spinbutton)"
**Describe the defect**
Spinner should get the role `spinbutton` (as changed in https://github.com/primefaces/primefaces/issues/4822) but is set to `textbox`.

**Reproducer**
Problem is appearing everytime spinner is used. Also in the [Showcase for Spinner](https://www.primefaces.org/showcase/ui/input/spinner.xhtml) the role of the Spinner is `textbox`.

**Environment:**
 - PF Version: _11.0.0_
 -

[2022-02-04 20:02] Rapster commented on #8395
I think it definitely worth to try and see how far you can go with this 😉 Please make a PR so we can follow your progress

[2022-02-04 20:59] melloware commented on #8396
Weird because there is this line of code in spinner.js
https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/resources/META-INF/resources/primefaces/spinner/spinner.js#L372

[2022-02-05 07:52] christophs78 commented on #8395
Sound´s interresting.
This would make `filteredValue` obsolet?

Thinking about implications of this:
- no more issues issues because `filteredValue` is not updated correct (good)
- people currently using `filteredValue` will need to rework (neutral, probably minor usage)
- we´ll aply filter/sort on each pagination-event (negativ performance-impact for datasources with a larger amount of datasets?)

[2022-02-05 09:34] jepsar commented on #8395
I use a property for a global filter (search query string) in my lazy model, as well as a two maps of properties of columns of which I need a **sum** or a **count**. Support in the lazy model for a certain operation on certain columns would be a nice addition (maybe needs a different ticket).

[2022-02-05 12:12] #8396 closed, assigned to jepsar

[2022-02-05 12:13] #8393 closed, assigned to jepsar

[2022-02-05 13:08] csalmhof opened #8398 "Spinner Wrong aria-attribute"
**Describe the defect**
Due to the change from https://github.com/primefaces/primefaces/issues/8396 the role of spinner is now `spinbutton`. In spinner also the aria-property `aria-multiline` is added, which is not supported by the role `spinbutton`. (See https://www.w3.org/TR/wai-aria-1.1/#spinbutton or https://www.w3.org/TR/wai-aria-1.2/#spinbutton)

**Reproducer**
Problem is appearing everytime

[2022-02-05 13:10] melloware commented on #8398
Thanks for the report and the PR!

[2022-02-05 13:11] #8398 closed, assigned to csalmhof

[2022-02-05 13:34] melloware commented on #8365
@BryanGarro25 can you put together a PrimeFaces test reproducer for me please?
 [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.

[2022-02-05 17:26] #8388 closed, assigned to Rapster

[2022-02-05 17:30] tandraschko commented on #8395
@christophs78 no, that would not change `filteredValue` behavior at all but we have to rework it in general
currently `filteredValue` is only used when !lazy - and its currently also optional, its just a store, where the user can receive the filtered list, which will also be used to restore it; maybe we should use it write-only anyway
and it should also work for lazy

[2022-02-05 17:32] tandraschko commented on #8395
so in best case, we filter once per request, for each request the datatable must be rendered
and this will be faster with this model-based-approach
the current filter and sort-feature always loops the DataTable, do some state changes like setRowIndex, evaluate EL expression and so on

[2022-02-05 18:44] christophs78 commented on #8395
@tandraschko  - i agree to you.
we just should avoid a 10.0.0 like mess. but we are in a better position this time.
i also agree to @Rapster this should be done via PR.

[2022-02-05 21:22] Rapster commented on #8395
`PropertyUtilsBean` and `DefaultResolver` from beanutils could be a good source of inspiration for handling propertydescriptors.

[2022-02-07 10:31] mertsincan opened #8403 "When you enter a text that matches the options in SelectOneMenu, it throws a JS exception"
Reported By PRO User;

[2022-02-07 10:37] #8403 closed, assigned to mertsincan

[2022-02-07 12:49] #8377 closed, assigned to jepsar

[2022-02-07 13:04] tandraschko opened #8404 "DataTable: RequestScoped LazyDataModel does not process inputs"

[2022-02-07 15:45] tandraschko commented on #8404
@melloware @christophs78 could you do me a favor and check why this test throws a org.openqa.selenium.StaleElementReferenceException? i tried it 30 min now to understand but already to late for today

[2022-02-07 16:01] melloware commented on #8404
Yep will see if I can try it today

[2022-02-07 16:52] marw1tt opened #8406 "DataTable: manual assigning selection attr does not set internal selection state in DataTable component"
**Describe the defect**
If I use a DataTable with "multiViewState=true", I can not set the selection using a Command Component like it is described within the Primefaces documentation (see [here](https://primefaces.github.io/primefaces/10_0_0/#/components/datatable?id=single-selection-with-a-command-component)).

If I set the selection like that, the value in the data model is updated but not popu

[2022-02-07 18:16] melloware commented on #8404
OK I am a little stumped on this one as well.  It calls the `clear` successfully but right after that the input is stale when calling `sendKeys`.

[2022-02-08 08:22] jepsar opened #8408 "SelectOneRadio: keyboard navigation does not work with Safari"
See https://www.primefaces.org/showcase/ui/input/oneRadio.xhtml and try to tab through the radio groups / buttons.

This should be addressed before #5503

[2022-02-08 13:03] #7959 closed, assigned to christophs78

[2022-02-08 13:50] macbl opened #8409 "Dialog Framework: Flash is empty on opened dialog"
The dialog framework's flash examples are not working in Tomee (8.0.9), JDK 17. Flash is empty on the loaded dialog. I don't get any error messages or other log output. Debugging shows that valueFromFlash is empty on the DFLevel1View bean.

[2022-02-08 13:57] melloware commented on #8409
Please provide a Reproducer. we can't debug your issue without one.

[2022-02-08 14:42] macbl commented on #8409
The reproducer would be the primefaces showcases at:
[https://github.com/primefaces/primefaces/blob/bbd83b581704a0d59476765c6f7d4f9a77bf7f50/primefaces-showcase/src/main/webapp/ui/df/data.xhtml](https://github.com/primefaces/primefaces/blob/master/primefaces-showcase/src/main/java/org/primefaces/showcase/view/df/DFLevel1View.java )
with the corresponding XHTML files:
[https://github.com/primefaces

[2022-02-08 15:08] marw1tt commented on #8406
I made a simple example where the error can be reproduced. First select the second row (Entry_2) by clicking on the row itself, then switch the page with the paginator and then switch back. Now select Entry_3 by clicking the "Select" button. It does not work. This works fine if I set the "multiViewState" attribute to "false". The example is based on your repo "https://github.com/primefaces/primefa

[2022-02-08 15:08] #8409 closed, assigned to nobody

[2022-02-08 15:39] melloware commented on #8409
@macbl thanks for reporting back.  I guess its good it was documented 😄

[2022-02-08 16:32] fanste opened #8414 "Exporter: monitorDownload not functional for non-ajax request"
Follow up for #3108.
Not tested with PF 11, as our application is not compatible with that version. But the source code is the same for PF 10 and 11 for this issue and the provided fix definitively fixes that issue.

**Describe the defect**
`PrimeFaces.downloadMonitor` is not functional for non-ajax request as triggert by `p:commandButton ajax="false"`.

**Reproducer**
No reproducer, as it is alre

[2022-02-08 16:32] #8404 closed, assigned to tandraschko

[2022-02-08 16:42] fanste commented on #8414
PR #8415

[2022-02-08 17:28] tandraschko opened #8416 "DataTable: clarify / rename selection attributes"
Currently we have following attributes to define selection and modes:

**p:dataTable**
`selectionMode=single | multiple` - defines the selection mode, without rendering checkbox/radiobuttons
`rowSelectMode=new | add | checkbox` - defines how selection should work when clicking on the row itself; new = unselect all rows before; add = just add the new to the selection; checkbox = disables selection

[2022-02-08 17:29] tandraschko commented on #8416
to also disallow row-selection when p:column has `selectionMode=single`, i would rename `rowSelectMode` `checkbox` to `none`: https://github.com/primefaces/primefaces/issues/8417

[2022-02-08 17:30] melloware commented on #8416
cc @FlipWarthog as he just dealt with this on his project :smile: