[2017-02-27 14:38] sergi-mm commented on #1921
Thanks @tandraschko, that works! But maybe it should be a good idea to perform this correction in the datatable paginator, to avoid each project that use Primefaces to copy-paste this code snippet.

What do you think?

[2017-02-27 14:49] Rapster commented on #1798
Would be great to have an example of this in the showcase

[2017-02-27 14:59] Selaron opened #2120 "Add clientCache support to lazy DataTable"
## 1) Environment
- PrimeFaces version:
   6.1.RC1 and 6.1.RC2-SNAPSHOT
- Does it work on the newest released PrimeFaces version?
   no: 6.1.RC1
- Does it work on the newest sources in GitHub?
   no.
- Application server + version:
   Apache Tomcat 8.5.8
- Affected browsers:
Firefox 51.0.1, Chrome 56

## 2) Expected behavior

Using a dataTable with lazy="true", clientCache="true" (introduced by #1

[2017-02-27 18:48] ngriffin7a opened #2121 "JSF 2.3: p:fileUpload does not prepend the parameter namespace prefix"
## 1) Environment
- PrimeFaces version: 6.1 master
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 8 / Pluto 3.0 / Liferay Faces Bridge 6.x
- Affected browsers: N/A

## 2) Expected behavior

Uploading file with p:fileUpload using the primefaces-applicant-portlet should cause the file to

[2017-02-27 18:54] ngriffin7a commented on #2121
PR: https://github.com/primefaces/primefaces/pull/2122

[2017-02-27 19:12] ngriffin7a opened #2123 "p:confirmDialog shows grayed-out screen in a portlet environment"
## 1) Environment
- PrimeFaces version: 6.1 master (built *WITHOUT* the release profile)
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 8 / Pluto 3.0.0
- Affected browsers: N/A

## 2) Expected behavior

The primefaces-applicant renders correctly on the page and there are no JS console e

[2017-02-27 19:13] ngriffin7a commented on #2123
Assign to @stiemannkj1

[2017-02-27 19:14] #2118 closed, assigned to mertsincan

[2017-02-27 20:21] #2121 closed, assigned to tandraschko

[2017-02-27 20:29] tandraschko commented on #2121
@ngriffin7a thanks for the good patch! I just did a small refactoring on the fileupload script to reuse PrimeFaces.ajax. Would be great if you could give it a try :)

[2017-02-27 20:30] tandraschko commented on #2118
@mertsincan Could you please explain your fix? IMO you introduced a concurrency bug now.

[2017-02-27 20:33] tandraschko commented on #1921
Not sure, we always have something similar in UIData#calculateFirst. Try to analyze it why we need it a second time in the datamodel.

[2017-02-27 21:53] ngriffin7a commented on #2121
It works, thanks for the improvement! :)

[2017-02-27 22:09] ngriffin7a commented on #1997
I just tried setting a breakpoint in the `createPostData` JS function and the return value of calling `extractParameterNamespace` was correct. So all is well. :)

[2017-02-27 23:24] hink084 commented on #405
So I started digging into this last week.   It appears the PrimeFaces DataTable / LazyDataModel Classes don't properly support LiveScrolling with a Lazy Data implementation. It will load the data just fine - [N] amount of rows at a time (N being the Page / Scroll Size).  However, unexpected behavior occurs when using LiveScrolling with the RowEditor feature or creating Command Buttons/Links within

[2017-02-28 00:26] ngriffin7a commented on #2123
@stiemannkj1 I changed the title and description of this issue to "Invalid unicode character in uncompressed core.js" -- please try to reproduce. Thanks.

[2017-02-28 07:56] Rapster opened #2124 "TreeTable: add Lazy feature with pagination"
Just like http://www.primefaces.org/showcase/ui/data/datatable/lazy.xhtml

But it is more tricky to do it, as lazyness can be done on a node itself and on pagnination

[2017-02-28 08:49] amoralico opened #2125 "KeyFilter does not work for new component <p:chips>"
1) Environment
Primefaces 6.1.RC1
- Tomcat 8
- Chrome, Firefox, all i guess

## 2) Expected behavior
Try to use <p:keyfilter for="chips" mask="pint"> associated with the new component <p:chips id="chips"> to restrict key entry only for digits.

## 3) Actual behavior
I can entry any character.

## 5) Sample XHTML
<p:chips id="chips">
...
</p:chips>
<p:keyfilter for="chips" mask="pint" />

I found a

[2017-02-28 09:08] benoitbb opened #2126 "Layout Adamantium 2.1.3 css problem on 6.1.RC1"
## 1) Environment
- PrimeFaces version: 6.1.RC1
- Work well on 6.0
- Jboss 6.4 eap :
- Affected browsers: Firefox ESR (45.7.0) only (No problems on chrome for example)

This issue for 2 problems:
1) First one on a <p:calendar> input with "showOn" button activated when used in conjunction with a <p:sticky> component. The icon of the input calendar does not come back to its initial state.

See the c

[2017-02-28 10:44] DaHoC opened #2127 "Picklist: disabled items allow for client-side manipulation"
This may cause security issues in cases where people rely on the disabled items assignment not being able to be manipulated on the client-side.

## 1) Environment
- PrimeFaces version: 6.0 and 6.0.15 and newest
- Does it work on the newest released PrimeFaces version? Version?
- Application server + version: Apache Tomcat 8.5.11
- Affected browsers: All

## 2) Expected behavior
Disabled items cann

[2017-02-28 11:09] Rapster commented on #1633
@tandraschko I had a look at what you did (at a glance), don't see much difference with my PR. But I don't like this new API very much, looks too complicated to me (IMO). I'm wondering about performance now... Anyway, what you did should be done for all components having a `getFor` method (like tooltip)

[2017-02-28 12:03] tandraschko commented on #1633
the API follows the way of the JSF 2.3 search expressions. You need to pass a ContextCallback, to work on the component in the correct context. Of course we could add a layer between the OutputLabel and the handling but not sure. What should be done when a component is found, is mostly different for each component.
About performance: you can try both solutions but the main difference is 1 more obj

[2017-02-28 12:49] Berger1994 commented on #1900
Oh.. i checked the problem again and now I think i found the right problem.

The sample is the same as in the first post. On the first click on the button there are 7 post params
[code]

On the second click I got only 5 post params
[code]

Now I checked the file "core.ajax.js" again I found an interesting problem. In your send method you are trying to read the form element of the element.

[code]

[2017-02-28 13:00] tandraschko commented on #1900
It would be possible but it's just a dirty hack.
That means that the rendered form of the initial view is not in the DOM anymore and the remoteCommand should not be executed.

[2017-02-28 13:12] Berger1994 commented on #1900
Ok, thank you for your time and your fast response.

For the first solution, I will override your method in my project so that the problem is fixed for me. For a good solution, i will change my "update" structure with remote commands so that the problem should not occur.

[2017-02-28 14:05] DaHoC commented on #2127
Our current solution: Override component's "validateValue" function in the following fashion:

[code]

[2017-02-28 16:48] tandraschko commented on #2127
Instead of overwriting a component method, i would try to attach a validator.

[2017-02-28 17:31] ngriffin7a commented on #2123
@stiemannkj1 No need for you to try and reproduce. I was able to reproduce it with the PrimeFaces Showcase in a plain webapp.

[2017-02-28 17:35] ngriffin7a commented on #2123
@tandraschko If you could take a look at this I would appreciate it. This is only a problem when components.js is *not* minified, meaning, when the "release" profile is *not* specified during the Maven build. If you deploy the PrimeFaces Showcase as tomcat/webapps/primefaces-showcase.war then you can use the Chrome "Inspect" tab to inspect the sources for this URL:
http://localhost:8080/primefaces

[2017-02-28 18:27] tandraschko commented on #2123
Replaced it with a "new" space. Does it work now?

[2017-02-28 18:56] ngriffin7a commented on #2123
@tandraschko That fixed it, thanks!

[2017-02-28 18:56] #2123 closed, assigned to tandraschko

[2017-02-28 22:06] ltlBeBoy opened #2128 "Column header not rendered when using "Column.field" attribute"
## 1) Environment
- PrimeFaces version:
**6.0/6.1RC1**
- Does it work on the newest released PrimeFaces version? Version?
no (**6.0/6.1RC1**)
- Does it work on the newest sources in GitHub?
no (code missing in sources)
- Application server + version:
**Payara Server 4.1.1.163 #badassfish (build 215)**
- Affected browsers:
all

## 2) Expected behavior
I tried to create a dynamic a tab view with a p

[2017-03-01 21:56] devilanne commented on #2048
Yes! Please add caption support. We have to use extra scripting to add captions and it would make things so much easier if data tables supported a caption attribute. Captions are a must for accessibility.

[2017-03-02 07:57] ChanaShuver opened #2130 "Dialog locked to the top when minimize screen."
## 1) Environment
- PrimeFaces version:5.3
Its reproduce on the showcase (The latest version).
- Affected browsers:  Chrome

## 2) Expected behavior
When open Dialog and minimize the screen and drag the Dialog to top of the Screen, The Dialog is not locked to the top and it is possible to close the Dialog.

## 3) Actual behavior
When open Dialog and minimize the screen and drag the Dialog to top o

[2017-03-02 08:10] Rapster commented on #1633
I had a look at a glance in Mojarra implementation of `UIComponent.invokeOnComponent`. I don't even see how the composite could be pushed into the EL:

[code]

Calling `invokeOnComponent` this way will never put the composite in EL context (only the targeted component):

[code]

This would explain why it fails to resolve the "cc.*".

Being said, I remember I tricked this in my PR to ensure composi

[2017-03-02 09:28] benoitbb opened #2131 "moment.js warning in p:schedule"
Hello, I have problem with the schedule component in the last version 6.1.RC. Works perfectly on 6.0.0.

## 1) Environment
- PrimeFaces version: 6.1.RC
- Does it work on the newest released PrimeFaces version? Version? No
- Application server + version: jboss eap 6.4
- Affected browsers: chrome( 56.0.2924.87 (64-bit) ), firefox (45.7.0)

## 2) Expected behavior
I expect a working schedule componen

[2017-03-02 09:37] tandraschko opened #2132 "InputHolder (InputNumber + other inputs) support for slider#for"

[2017-03-02 09:40] #2132 closed, assigned to tandraschko

[2017-03-02 09:50] tandraschko commented on #2131
AFAICS it should be used like here: https://github.com/primefaces/primefaces/issues/1472

So there is not bug, but the warning.

[2017-03-02 09:57] benoitbb commented on #2131
Sorry but have a look at the 2 last images. There is a bug with when using "columnFormat" parameter on the component schedule. The schedule does not work at all by using this parameter.

Thank you.

[2017-03-02 10:03] tandraschko commented on #2131
Sorry but have a look at the link that i posted :P columnFormnat shoudln't be used like in your example.

[2017-03-02 10:05] benoitbb commented on #2131
Yes sorry, I read your answer too fast. It is ok for me. Sorry again ;-).

I close the ticket.

[2017-03-02 11:22] tandraschko commented on #2119
Feel free to provide a PR.

[2017-03-02 11:32] tandraschko commented on #2125
Would you please try a trunk build? I modified the keyfilter java renderer, it might work now.

[2017-03-02 14:11] mertsincan commented on #2118
Thanks @tandraschko , I made some changes on my fix.

[2017-03-02 14:20] marcozanghi opened #2133 "captcha not evaluate public/private key param in web.xml"
PrimeFaces version: "6.0"

I have defined an EL into web.xml to place the private/public key of the captcha but the captcha component not evaluate that expression.
[code]
It seems that the primefaces component don't calls evaluateExpressionGet() but the simple context.getExternalContext().getInitParameter().
[code]
(For the theme param it seems to work - http://forum.primefaces.org/viewtopic.php?f

[2017-03-02 15:37] tandraschko commented on #2133
Please provide a PR

[2017-03-02 16:40] yannickb85 commented on #433
We need this option too.

[2017-03-02 17:09] marcozanghi commented on #2133
#2135

[2017-03-02 17:26] #2133 closed, assigned to tandraschko

[2017-03-02 21:13] bgmoon commented on #433
Need this option for "in place" as well :)

[2017-03-02 21:14] cagataycivici commented on #433
Please create a separate ticket for inplace and we'll discuss.

[2017-03-03 04:50] jxmai opened #2137 "Selectable Datatable's Filter function failed on flipping page"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-03-03 08:04] Rapster commented on #1633
What do you think?

[2017-03-03 08:29] tandraschko commented on #1633
No idea, how did it work with your solution?

[2017-03-03 08:37] #2119 closed, assigned to tandraschko

[2017-03-03 08:38] tandraschko commented on #2137
@mertsincan As you fixed the other bug 2 weeks ago, could you check that case? Seems like a bigger bug

[2017-03-03 08:44] Rapster commented on #1633
As I said, I knew this problem and I used a trick:

[code]

Another reason I'd rather use this API is that, I used callback only if necessary, and the client using this API won't have to bother creating a callback (like I would do in PE for DynaFormRenderer). For example:

[code]

[2017-03-03 08:51] tandraschko commented on #1633
So the difference is that you do a invokeOnComponent on the CC itself instead the parent namingcontainer?

[2017-03-03 09:13] kukel commented on #2124
and filtering ;-)  Will create a new feature request to for this.

(and still have to find out how the sorting actually works for other than first column does not always seem intuitive)

[2017-03-03 09:27] Rapster commented on #1633
Not only,

To make it simple I do this: `composite.invokeOnComponent(context, composite, callback);`
But once `callback.invokeContextCallback` is called, it does this `callback.invokeContextCallback(context, target)`

[2017-03-03 09:30] Rapster commented on #2124
Let's reuse this one #1929 (I created one ticket for two features, my bad...) But we can always rename #1929 and create a new one for TreeTable

[2017-03-03 09:31] mertsincan commented on #2137
I'll check this issue and get back to you.

[2017-03-03 09:38] tandraschko commented on #1633
don't understand your second hint but the first just would mean the following to replace

                ComponentTraversalUtils.closestNamingContainer(composite)
                        .invokeOnComponent(context, children.getClientId(context), callback);

with

                composite.invokeOnComponent(context, children.getClientId(context), callback);

[2017-03-03 09:45] Rapster commented on #1633
Second hint, I'm talking about this:
[code]

Regarding what you said, what you wrote is fine _(although if you know it's a composite, I don't think it is necessary to use ComponentTraversalUtils.closestNamingContainer())_ To me, there is something strange with Mojarra impl (I don't understand the purpose of this method the way it is written) while MyFaces makes sense (as Leo explained)

[2017-03-03 11:43] RueKow commented on #2137
I had another issue with DataTable. Selection doesn't work after filtering.
Please see forum post: http://forum.primefaces.org/viewtopic.php?f=3&t=49695

[2017-03-03 12:15] tandraschko commented on #1633
what i understand, your code is doing the following:

- search the EditableValueHolder
- invokeOnComponent from the composite and target the composite
- inside the ContextCallback, evaluate the the attributes from the EditableValueHolder

What my code is doing currently:

- search the EditableValueHolder
- invokeOnComponent on the composite's parent NamingContainer and target the editableValueHold

[2017-03-03 12:22] mertsincan opened #2138 "Dynamic columns issue on DataTable"
Reported By PRO User,

We have a list to each row of datatable and another for detail of each row.
We get the information of the second list with the rowIndex of the datatable but on each row the
same information is display.
We have this problem since the version 6, it worked with the version 5.
...

[2017-03-03 12:24] #2138 closed, assigned to nobody

[2017-03-03 12:47] #2137 closed, assigned to mertsincan

[2017-03-03 13:48] erickdeoliveiraleal commented on #2133
This commit caused an error on build `
![imagem 1](https://cloud.githubusercontent.com/assets/3578953/23553288/f19a30a2-fffe-11e6-89cb-6cc6fa5beb1d.png)

[2017-03-03 15:04] marcozanghi commented on #2133
I think that is the solution. I have tested and the building is ok. #2139

[2017-03-03 15:48] Rapster commented on #1633
It should. I have to test this PR on MyFaces again (I did this few months ago and I don't remember if it worked on MyFaces), but as long as composite is pushed in EL, it will read the cc attributes

[2017-03-03 17:28] euvaldocp14 opened #2140 "Problem with ajax page event"
## 1) Environment
-PrimeFaces version: 6.0
Its reproduce on the showcase (The latest version).
-Affected browsers: Chrome

## 2) Expected behavior
I'm having trouble giving an update to the form with the ajax "page" event that is inside the datatable.

## 3) Actual behavior
Deveria renderizar um botão que se localiza dentro do formulario que engloba tudo e o que esta acontecendo é um bug que desco

[2017-03-03 17:32] tandraschko commented on #2140
You didn't answer all questsions, no example, no english -> invalid. sry.

[2017-03-03 17:32] #2140 closed, assigned to nobody

[2017-03-03 20:59] psborges84 opened #2141 "Media component error"
I'm using the primefaces-6.0.16.jar version.

I am using the p: media component, but the pdf is not being displayed in the browser, I already tested it in several browsers ie, firefox, chrome.
The same code with version 5.3.17 works.
Follows the code snippet that does not work in version 6

[code]

[code]

[2017-03-03 22:00] tandraschko commented on #2141
The usage is not correct!

The problem is the following:
- ViewFile initializes the StreamedContent once per session
- StreamedContentHandler will get the StreamedContent, stream it and closes the stream afterwards (this will happen for each request on the dynamic content!)
- As ViewFile initializes once, the stream is empty on the second stream try and nothing will be streamed

A better usage is

[2017-03-03 22:00] #2141 closed, assigned to nobody

[2017-03-03 22:02] tandraschko commented on #2141
also please use 6.1.RC1 - we fixed something related to streamedContent.

[2017-03-04 11:57] pablosborges opened #2142 "Media component error again"
Relative **#2141**
Does not work the code you posted.
I tested with the version of primefaces 6.0.16 and version 6.1.RC1.
With version 5.3.17 of primefaces works correctly.
Please test the code and do not close the ticket before testing.
thank you

[code]

[code]

[2017-03-04 11:57] pablosborges commented on #2141
Does not work open another ticket **#2142**

[2017-03-04 12:01] tandraschko commented on #2142
viewscope will never work. The file is requested in a new request, which doesn't have a viewstate. So only request, app or session will work.

[2017-03-04 12:05] tandraschko commented on #2142
I dont use spring but the following works fine for me with JSF managed beans:
https://gist.github.com/tandraschko/49ad7d316eaf3a2f7af1aac4004feb75

[2017-03-04 12:05] tandraschko commented on #2142
So will close it as can't replicate.

[2017-03-04 12:05] #2142 closed, assigned to tandraschko

[2017-03-04 12:50] pablosborges commented on #2142
It does not work, I just created a clean project with javax.faces-2.2.8-19.jar and primefaces-6.1.RC1.jar.

I'm using windows 7 with apache-tomcat-7.0.75

I would like to give you the clean design for you.

[2017-03-04 12:57] pablosborges commented on #2142
dont work.

2017-03-04 9:05 GMT-03:00 Thomas Andraschko <notifications@github.com>:

[2017-03-04 16:04] tandraschko commented on #2142
You can test in the showcase.
download it from github, change the version in the pom in line 220 to the RC1 and copy your xhtml and my java to it.
You can just run it via: mvn clean package jetty:run

[2017-03-04 16:10] preafos opened #2143 "Comments "<!-- -->" in MenuBar are causing a javax.servlet.ClassCastException"
## 1) Environment
PrimeFaces version: 6.0 (Community-Downloads)
- It doesn't work on the newest Community-Release. I haven't tested it with the Elite Downloads
- Does it work on the newest sources in GitHub? I haven't tested it.
- Application server + version: Glassfish 4.0
- Affected browsers: Firefox (Not relevant)

## 2) Expected behavior
It should process the *.xhtml an display the page correc

[2017-03-04 16:15] tandraschko commented on #2143
Did you set javax.faces.FACELETS_SKIP_COMMENTS / facelets.SKIP_COMMENTS in web.xml to true?

[2017-03-05 12:23] #2143 closed, assigned to nobody

[2017-03-05 12:56] tandraschko commented on #2126
@mertsincan is this something that should be fixed in the layouts or in PF core?

[2017-03-05 13:17] ModestinoAndre opened #2144 "selectCheckboxMenu (multiple) bugs on version 6.1.RC1..."
**Problem 01:**

When using [multiple="true"]:
After an ajax request/update (or when first loading the page with default itens already checked)
the selectCheckboxMenu does not show the itemLabel EL value, instead, it shows the object.toString().

In the below code, It should shows: u.loginName
but, It shows: u.toString()

Example:
Before Ajax update:
[https://drive.google.com/open?id=0Bw_c3JGGlIRD

[2017-03-05 13:19] scnbk-software opened #2145 "chips: does not escape characters by default"
## 1) Environment
- PrimeFaces version: since 6.0.14 (tested with 6.1.0.RC1, 6.0.0)
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: NA
- Affected browsers: ALL

## 2) Expected behavior
p:chips component should escapse the input by default (like p:input,...).
Espacing should be only disabled whe

[2017-03-05 13:31] tandraschko commented on #2144
Please answer all questions like in the issue template - inclusive example xhtml and example java (the example must be complete an runnable).
Also -> 1 problem -> 1 issue in github.
Will close this as invalid.

[2017-03-05 13:31] #2144 closed, assigned to nobody

[2017-03-05 13:38] tandraschko commented on #2145
Please provide a PR

[2017-03-05 13:42] preafos commented on #2143
I just tried to follow your advise to add:

	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>facelets.SKIP_COMMENTS</param-value>
	</context-param>

This suggested fix didn't work. The problem is still present. So please fix it in the next release, if you haven't done it already.

Anyway, it's not a good strategy to cover up an existing problem with the

[2017-03-05 13:48] tandraschko commented on #2143
you have to set javax.faces.FACELETS_SKIP_COMMENTS (JSF 2.2) to true and facelets.SKIP_COMMENTS (JSF < 2.2) to true.

PrimeFaces is just a component library, we don't parse the facelets file. This is up to the JSF impl.

[2017-03-05 14:00] preafos commented on #2143
Right, my mistake. Must be the slight hangover.

As I said before, there should be a drop statement in the DOM proccessing unit. It's should be an easy fix and increases your libraries usability immensely, which is great by the way.

[2017-03-05 14:03] tandraschko commented on #2143
As i already said, we don't have anything like a DOM processing unit. Thats all done by the JSF implementation, not by PrimeFaces.

[2017-03-05 14:56] ravihariharan opened #2146 "p:focus with ValueExpression Attribute "for""
Reference http://forum.primefaces.org/viewtopic.php?f=3&t=49812

project : https://github.com/ravihariharan/primefaces-test --> refer main/webapp/focus.xhtml

# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply deb

[2017-03-05 15:33] ravihariharan commented on #2146
The issue has been fixed at ravihariharan/primefaces and tested on tomcat 8.5.11 and Mojarra 2.2.14.

[2017-03-05 15:43] #2146 closed, assigned to tandraschko

[2017-03-05 15:58] preafos commented on #2143
When I'm looking into the TieredMenuRenderer.java from your repository, it's using a foreach-loop to iterate over a List<MenuElement>, which is causing this ClassCastException. So this can only mean one thing in my opinion, the List is not of type List<MenuElement> or wasn't at the beginning or somewhere in between. At some point someone casted a raw List type to List<MenuElement>.

The List<MenuE

[2017-03-05 16:04] preafos commented on #2143
http://www.primefaces.org/docs/api/6.0/org/primefaces/component/submenu/UISubmenu.html

[2017-03-05 16:07] tandraschko commented on #2143
Yep, i know that we could do it safer in our code but IMO it's a good practice to set SKIP_COMMENTS as it will lead to unexpected situations in some other components, too.

[2017-03-05 17:05] preafos commented on #2143
oO OK, we both have different definitions on "good practice". You've a bug / error at hand because of using unsafe raw type List. I know you won't fix every thing right away, but you should work on it at some time and not turning a blind eye to the issue. It's the same as disabling the fire warning system because of wrong alerts until the big disaster happens.
This shouldn't ever be a "wontfix" ta

[2017-03-06 00:23] djmj opened #2147 "InputNumber: submitted string value not localized"
## 1) Environment
- PrimeFaces version: 6.0 and 6.1 RC1
- Application server + version: Glassfish 4.1.1, mojarra 2.2.9
- Affected browsers: firefox tested

## 2) Expected behavior

Send locale aware string to model / converter. Default JSF behavior sends the raw input string to a converter and lets the converter do the conversion based on the view or converter provided locale.

## 3) Actual behavi

[2017-03-06 00:45] djmj opened #2148 "New textEditor is missing source view"
Since p:editor is marked as deprecated p:textEditor should be a valid substitution. But i am missing source view.

For rich content-management in combination with PrimeUI this is a must feature. For now we stay at old p:editor.

[2017-03-06 08:42] tandraschko commented on #2148
Is this possible in quilleditor? I didn't find anything about that.

(IMO the only replacement is ckeditor from extensions ;))

[2017-03-06 09:32] benoitbb commented on #2126
Hello,

I think 1 and 2 comes from Adamantium Layout. But I am not sure at 100 %.

Thank you.
Regards,

[2017-03-06 13:01] psborges84 commented on #2142
What jsf implementation are you using? Mojarra? Version?
Post here your web.xml.

In my tests, the method below. Never falls into the else.

[code]

[2017-03-06 13:37] psborges84 commented on #2142
I believe the error is related to dynamic loading. Because you rewrote the code for this part.

![erro](https://cloud.githubusercontent.com/assets/6934092/23612124/f333a202-0258-11e7-83d4-23fd7314716d.jpg)
![erro1](https://cloud.githubusercontent.com/assets/6934092/23612125/f335181c-0258-11e7-9d57-b63727d36d55.jpg)

[2017-03-06 16:15] tandraschko commented on #2142
As i said, i use the showcase which is available in github.

[2017-03-06 19:38] mertsincan opened #2149 "Add timeZone attribute to Clock with server mode"

[2017-03-06 19:42] #2149 closed, assigned to nobody

[2017-03-07 09:08] mertsincan opened #2150 "Add clickable class to check icon and cancel icon on RowEditor"
When user click check icon and cancel icon, RowSelect event won't be called.
Exp;
[code]

[2017-03-07 09:09] #2150 closed, assigned to nobody

[2017-03-07 10:30] agoetze opened #2151 "XLS data exporter ignores set data table filters"
## 1) Environment
- PrimeFaces version: 6.0.16 (working fine in 6.0.15)
- Does it work on the newest released PrimeFaces version? Version? No.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) I do not know.
- Application server + version: Tomcat 7.0.72
- Affected browsers: Tested on Firefox

## 2) Expected behav

[2017-03-07 10:41] activey commented on #2118
Guys, how about 6.0 version? Is there any chance to get this fix for this version as well?

[2017-03-07 10:45] activey commented on #2118
Ok, doesn't matter, I've done pretty much the same as you did here hehe, overrided class definition and it works ;>

[2017-03-07 11:49] tandraschko commented on #2118
I think it was merged to 6.0 branch but no garantue, i don't develop in elite branches ;)

[2017-03-07 11:50] tandraschko commented on #2118
Also you have to change your code if you use SessionScoped beans for this. See: https://github.com/primefaces/primefaces/issues/2141

[2017-03-07 12:03] activey commented on #2118
@tandraschko k thx ;)

[2017-03-07 14:25] mertsincan commented on #2151
I think this issue is fixed on 6.0.17 and 6.1; https://github.com/primefaces/primefaces/issues/2137

[2017-03-07 14:25] #2151 closed, assigned to nobody

[2017-03-07 17:02] giorgioprimefaces opened #2152 "PhotoCam: add resolution selection"
This is a feature request,
It would be great to have resolution selection in future releases,
actually I can only get images 320x240px which is sooo small nowadays!

thanks in advance,
Giorgio

[2017-03-07 17:08] tandraschko commented on #2152
Does webcamJS support this?

[2017-03-07 17:27] giorgioprimefaces commented on #2152
if webcamJS is this one
[https://pixlcore.com/](url), it can take hd pictures and you can set many parameters:
Webcam.set({
    width: 320,
    height: 240,
    dest_width: 640,
    dest_height: 480,
    image_format: 'jpeg',
    jpeg_quality: 90,
    force_flash: false
});

[2017-03-07 18:12] Rapster commented on #1633
Just tried my solution, works fine wih MyFaces

[2017-03-07 20:10] daendoonge opened #2153 "Re-Add "*" and "All Rows" paginator options"
#1072 from sudheerj/ShowAllOption … was overriden by changes from #191

Please bring back the option to show all rows from the table

[2017-03-07 20:18] daendoonge commented on #2153
int rows = 0;

            for( String option : options){
            	if(option.equalsIgnoreCase("*")){
            		rows = uidata.getRowCount();
            	}else{
            		rows = Integer.parseInt(option);
            	}
                writer.startElement("option", null);
                writer.writeAttribute("value", rows, null);

                if(actualRows == rows){

[2017-03-08 07:35] cmoetzing opened #2154 "DataTable: add support for multiple dynamic columns"
## 1) Environment
- Primefaces 6.1RC1
- Wildfly 10.1.Final
- All Browsers
- Mojarra 2.2.13

## 2) Expected behavior
When placing two `p:colunns` tags inside a `p:dataTable` nested inside another interator (`p:repeat`, `p:dataTable`) both dynamic sets of columns should be displayed and all iterated tables should display their own columns.

## 3) Actual behavior
The first table defines the structure

[2017-03-08 07:36] Rapster commented on #2153
It seems that you already had a look, might be a good idea that you provide a PR ;)

[2017-03-08 07:37] daendoonge commented on #2153
Lol I didnt know how to do it XD

On Mar 7, 2017 9:36 PM, "Sébastien Lepage" <notifications@github.com> wrote:

[2017-03-08 07:40] daendoonge commented on #2153
I wouldn't mind if you guys used 'Show All' instead of * but * works too

[2017-03-08 07:42] Rapster commented on #2154
Are you sure this is what you wanna do? Nested table? It might cause performance issue, and the rendering might not be so fancy. I'm just working around your problem, but have you tried this http://www.primefaces.org/showcase/ui/data/datatable/subTable.xhtml

[2017-03-08 07:56] cmoetzing commented on #2154
Unfortunately that is what I <s>want</s> need to do. I know that there are workarounds. I could also wrap my 3 different objects in one wrapper, create one `p:columns` iterating over the wrapper and render that one column depending on the content of the wrapper. But that is ugly.

I think subtables do not solve my problem. I need x separate tables. And the columns of these tables vary. In the most

[2017-03-08 08:53] tandraschko commented on #1633
fixed it, but thanks to mojarra, we ne a second new object instance

[2017-03-08 09:07] Rapster commented on #1633
Three instances of ContextCallback? That's a hell of a lot...

[2017-03-08 09:17] tandraschko commented on #1633
I don't think you can meassure a difference :P

But yes, we have 2 optimizations we/you can do:
1) introduce a new layer which builds the EditableValueHolderState and remove the contextCallback in OutputLabelRenderer
2) looking for another mojarra fix

[2017-03-08 09:24] benoitbb opened #2155 "DataTable: MultiViewState with a LazyDataModel"
## 1) Environment
- PrimeFaces version: 6.1.RC1
- Application server + version: jboss eap 6.4
- Affected browsers: Not related to a specific browser I think

I do not understand what's happen in my code. I have to add piece of javascript code after the datatable to force the submit of the filter values. So when I access to a page I first load datas without filtering and then I have to load data ag

[2017-03-08 09:51] tandraschko commented on #1633
i think i can delete one of them, will play a little bit with it now.

[2017-03-08 09:59] tandraschko commented on #1633
done, the code looks even easier now ;)

[2017-03-08 10:03] tandraschko commented on #2152
https://github.com/jhuckaby/webcamjs

its this
we use this under the hood. As it's in maintenance mode, we should rewrite the component probably. Feel to give ideas or sponsor it.

[2017-03-08 11:38] giorgioprimefaces commented on #2152
thanks tandraschko,
I've just discovered that p:upload used on mobile can use smartphone's camera and its options, so, for what I need it's more than enought.
I will not close this issue because I think it will be useful to improve options in p:photocam for desktop users...

Giorgio

[2017-03-08 12:20] Selaron opened #2156 "New p:chips componend should trigger forseeable ajax events on item addition and removal."
## 1) Environment
- PrimeFaces version:
6.1.RC1

- Application server + version:
Apache Tomcat 8.5.8

- Affected browsers:
any

## 2) Expected behavior
The new p:chip component should trigger e.g. the "change" event, when user adds an item or removes it by clicking the close icon.

## 3) Actual behavior
When a user is adding some icons, you can only try to track this via "keyup" or "focus" event.

[2017-03-08 13:49] Rapster commented on #1633
It's exactly what my PR is doing

[2017-03-08 18:16] tandraschko commented on #1633
Yep but for me it was important to separate the EditableValueHolderState from the CompositeUtils. Adding a util for resolving the "for" attribute for multiple components (focus, outputLabel etc.) and constructing a EditableValueHolderState is a different topic.

[2017-03-08 18:26] jepsar commented on #1691
Probably invalid. I'll close it.

See also:
http://stackoverflow.com/questions/2101755/binding-attribute-causes-duplicate-component-id-found-in-the-view

[2017-03-08 18:26] #1691 closed, assigned to nobody

[2017-03-09 11:21] vonnai opened #2157 "SelectCheckboxMenu multiple mode caused duplicities in label"
## 1) Environment
PrimeFaces version: 6.0.16
Does it work on the newest released PrimeFaces version? NO
Does it work on the newest sources in GitHub? NO
Application server + version: Tomcat 7.70
Affected browsers: ALL

## 2) Expected behavior
The select checkbox menu has not the same value rendered twice in label.

## 3) Actual behavior
If component is rendered with default values and I check all

[2017-03-09 13:19] Rapster opened #2158 "Tooltip: add composite components support in "for" attribute"
Same as #1633

[2017-03-09 13:46] gunnee opened #2159 "Check selectionMode on contexMenu - is it really required?"
## 1) Environment
- PrimeFaces version: 6.0.16
- Does it work on the newest released PrimeFaces version? No
- Application server + version: Tomcat v.8.0.36
- Affected browsers: Tested with IE 11, Firefox 51.0.1, Chrome 56...
- This bug does not exist in previous releases (e.g. 5.1.5).

## 2) Expected behavior
`p:datatable` in combination with `p:contextMenu` requires `selectionMode="single"` which

[2017-03-09 15:16] #2128 closed, assigned to tandraschko

[2017-03-09 15:26] tandraschko commented on #2158
For tooltip it's even harder as we support PFS there and we don't use resolveComponent.

[2017-03-09 20:04] Rapster commented on #2158
Why not using resolveComponent instead of resolveClientIds? And doing like you did in OutputLabelRendederer

[2017-03-09 21:18] tandraschko commented on #2158
resolveComponent can't handle PFS, thats the reason

[2017-03-10 06:55] mhrnr opened #2160 "selectOneMenu with filter: unmatched end tag in IE"
When using selectOneMenu with a filter, I always get a warning in Internet Explorer Developer Tools console:

HTML1512: Unmatched end tag.

Environment: Windows 7, Internet Explorer 11.0.9600.1837, Primefaces 6.0.14. The warning also appears in showcase: http://www.primefaces.org/showcase/ui/input/oneMenu.xhtml.

[2017-03-10 09:16] kukel commented on #2148
Correct, if @djmj would have searched a little, it would have become obvious very quickly that quilleditor does not support this. Whole discussion about it on their issuelist (in fact this issue is a duplicate here iirc)

[2017-03-10 09:18] kukel commented on #2160
Did you check if IE is right?

[2017-03-10 09:28] kukel commented on #2154
Tried 6.1RC1 ? There have been fixes in this area since 6.0 was release iirc

[2017-03-10 10:00] #2148 closed, assigned to nobody

[2017-03-10 10:04] tandraschko commented on #2160
The warning is there but the rendered html looks ok and is xml conform (copied the html to my xml editor).

[2017-03-10 12:10] kazsakke commented on #933
OK, I know this issue is almost a year old, but I faced the same problem and I figured out a workaround.

First you need to flip the whole component with a css transform:

`.ui-selectonemenu {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}`

After that don't forget to flip back the text in

[2017-03-10 12:30] crocimi opened #2161 "TabView: wrong activeIndex on tab close event"
## 1) Environment
- PrimeFaces version:primefaces-6.0.16
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Wildfly 10.0.0
- Affected browsers: all

## 2) Expected behavior
wrong activeIndex if a non-selected tab is remove

[2017-03-10 12:55] djmj commented on #2148
I did searched at quill repo and in their issue it seems they showed a workaround but not sure if it would work. https://github.com/quilljs/quill/issues/128.

[2017-03-10 13:05] Rapster commented on #2158
You wrote this though and it uses resolveComponent:
[code]

I guess I'm missing something

[2017-03-10 13:25] tandraschko commented on #2158
Im talking about tooltip, outputlabel doesnt support PFS

[2017-03-10 13:42] Rapster commented on #2158
So `@next` is not a PFS then? PFS is only client side from what I read indeed, but is it really necessary for tooltip to support PFS?

[2017-03-10 13:58] tandraschko commented on #2161
Would be great if you could provide a PR

[2017-03-10 14:01] tandraschko commented on #2158
exactly - PFS is evaluated on the client side via jQuery.
It was a feature request long time ago and was supported in the old PFE tooltips via forSelector.

Maybe it's a good way to include the "composite editableValueHolder extraction" directly in SEF to support both cases. I prototyped this in JSF 2.3 but we didn't include this case.

[2017-03-10 15:52] stakahop opened #2162 "6.1.RC1"
After adding 6.1.RC1 to my project I m waiting about one minute on server start after Initializing Mojarra with following INFO message:

[javax.enterprise.resource.webcontainer.jsf.config] Monitoring jndi:/default-host/{projectName}/WEB-INF/faces-config.xml for modifications

But everything works ok.

[2017-03-10 16:10] tandraschko commented on #2162
Works fine in our showcase and you miss a lot of infos from our issue template. Use a profiler and come back with the result.

[2017-03-10 16:10] #2162 closed, assigned to nobody

[2017-03-10 17:42] minexew commented on #539
Facing this issue in 5.2. Was it fixed in a later version?

[2017-03-10 20:12] tandraschko commented on #539
The issue is still open -> not fixed ;)

[2017-03-10 20:17] tandraschko commented on #539
But it would be great if anyone could provide a PR here!

[2017-03-11 10:26] cocorossello opened #2163 "PF 6.1 p:outputLabel does not work with custom component"
1) Environment
- PrimeFaces version: 6.1.RC1
- Does it work on the newest released PrimeFaces version? Yes Version? 6.0
- Application server + version: Tomee 7.0.2, Myfaces 2.2.12

2) Expected behavior

Label should be rendered

3) Actual behavior

NullPointer is thrown

5) Sample XHTML

<p:outputLabel for="someId">Label</p:outputLabel/>
<my:custom-component id="someId" />

The error is:
java.lang

[2017-03-11 11:26] Rapster commented on #2163
Indeed it should take account that there is no `cc:editableValueHolder`, but in the other hand, does it make sense to use `for` on a composite which does not have an input holder?

(In such kind of issue, don't forget to post composite code)

[2017-03-11 11:38] tandraschko commented on #2163
Yep, the fix is quite simple but i'm not sure if it makes sense to support this.

Quote from w3schools.com:

So, if you don't add a cc:editableValueHolder, it will target a div or even a element with a id, which is not rendered (depends if your root element in your CC is e.g. \<div id=#{cc.clientId}\>)

[2017-03-11 11:48] cocorossello commented on #2163
The custom component is not properly implemented, of course. We will fix
that. But it was working (not throwing an error) with PF 6.0 and the
exception message is confusing. Maybe throw a proper message error instead
of just silencing it?

El 11 mar. 2017 12:26, "Sébastien Lepage" <notifications@github.com>
escribió:

Indeed it should take account that there is no cc:editableValueHolder, but
in th

[2017-03-11 11:48] tandraschko commented on #1437
+1

[2017-03-11 11:59] Rapster opened #2164 "Use of target="_blank" with ajax="false" in menuitem messed up navigation"
## 1) Environment
- PrimeFaces version: 6.1-RC1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Jetty 8
- Affected browsers: Chrome

## 2) Expected behavior
Based on the showcase http://localhost:9999/showca

[2017-03-11 12:01] tandraschko commented on #2164
Could be the same as: #514
Would be great if you would provide a fix.

[2017-03-11 12:11] Rapster commented on #2164
It looks definitely the same. I'm having a look but I can't guarantee anything about this, it is very low level

[2017-03-11 12:28] Rapster commented on #2164
It's because of this:

[code]

First time, target equals `_blank` it's added to the form as attribute. Second time, `target="_blank"` is still present in form, while it shouldn't (target parameter is undefined at this point).

It's a very tricky case as we can't simply remove target attribute from form each time submit is called (just because target is an attribute of h:form)

[2017-03-11 15:37] tandraschko commented on #2164
What about this one:

`        submit : function(formId, target) {
            var form = $(this.escapeClientId(formId));

            var oldTarget;
            if(target) {
                oldTarget = form.attr('target');
                form.attr('target', target);
            }

            form.submit();

            form.children('input.ui-submit-param').remove();

            if (target) {

[2017-03-11 16:23] tandraschko commented on #2163
Added it to the migration guide and will close it as won't fix. It will just blow up our code and the usage is invalid.

[2017-03-11 16:23] #2163 closed, assigned to tandraschko

[2017-03-11 16:41] Rapster commented on #2164
This is exactly what I was thinking :) Although it's a bit different:
[code]

[2017-03-11 16:53] tandraschko commented on #2164
looks fine! if it works fine, please create a PR and i will merge it.

[2017-03-11 17:01] Rapster commented on #2164
Sure I'll do it ;)

[2017-03-11 17:16] #2164 closed, assigned to tandraschko

[2017-03-11 17:18] #514 closed, assigned to tandraschko

[2017-03-11 17:57] Rapster commented on #2158
Would be good idea to make editableValueHolder part of SEF yes.

[2017-03-11 19:50] Rapster commented on #2156
I'm working on it

[2017-03-11 23:10] Svhorsch opened #2166 "Firefox Bug in InputNumber"
## 1) Environment
- PrimeFaces version: 6.0
- Application server + version: wildfly 8.1.0
- Affected browsers: Firefox 51.0.1 (working on chrome)

## 2) Expected behavior
I have a TestController class which has two fields, a and b, both are of type int. On the UI i have two input fields, on of type inputNumber the other one of type inputText. There is also a commandButton, which just calls a "doWo

[2017-03-12 10:22] #2156 closed, assigned to tandraschko

[2017-03-12 10:24] tandraschko commented on #2166
A PR would be great, never had any issues with this component on FF.

[2017-03-12 10:30] #2125 closed, assigned to tandraschko

[2017-03-12 10:31] tandraschko commented on #2084
Will close it for now as it works fine with 6.1

[2017-03-12 10:31] #2084 closed, assigned to tandraschko

[2017-03-12 10:33] tandraschko commented on #2067
Yep, i think its a little bit out of scope.
Extensions provides a PdfViewer based on pdf.js. Maybe its somehow possible with pdf.js.

[2017-03-12 10:33] #2067 closed, assigned to nobody

[2017-03-12 10:36] tandraschko commented on #2025
Will close it for now. If we can fix something, please comeback.

[2017-03-12 10:36] #2025 closed, assigned to nobody

[2017-03-12 10:37] tandraschko commented on #2023
It would be great if you could check that issue with the atmosphere team. We can easily upgrade it if they fix something.

[2017-03-12 10:37] #2023 closed, assigned to nobody

[2017-03-12 10:39] tandraschko commented on #1877
I will close this as won't fix. The workaround provided here should be fine!

[2017-03-12 10:39] #1877 closed, assigned to tandraschko

[2017-03-12 10:41] tandraschko commented on #1856
I would suggest to use PrimeFaces Extensions CKEditor. p:Editor used cleditor under the hood, which is not maintained since years.

[2017-03-12 10:41] #1856 closed, assigned to tandraschko

[2017-03-12 10:42] tandraschko commented on #1832
It would be great if anyone could provide a PR!

[2017-03-12 10:43] tandraschko commented on #1531
p:editor uses cleditor under the hood which is not maintained since years.
I would suggest to use PrimeFaces Extensions CKEditor or the new p:textEditor (which doesn't work on all browsers).

[2017-03-12 10:43] #1531 closed, assigned to tandraschko

[2017-03-12 10:44] tandraschko commented on #706
p:editor uses cleditor under the hood which is not maintained since years.
I would suggest to use PrimeFaces Extensions CKEditor or the new p:textEditor (which doesn't work on all browsers).

[2017-03-12 10:44] #706 closed, assigned to tandraschko

[2017-03-12 10:44] tandraschko commented on #624
p:editor uses cleditor under the hood which is not maintained since years.
I would suggest to use PrimeFaces Extensions CKEditor or the new p:textEditor (which doesn't work on all browsers).

[2017-03-12 10:44] #624 closed, assigned to nobody

[2017-03-12 10:46] tandraschko opened #2168 "Remove p:editor, p:layout"
maybe in 7.x or something.
Currently it's only deprecated.

Its not maintained since years and has many bugs.
We should completely remove it as we now have the textEditor.

[2017-03-12 10:46] tandraschko commented on #57
Will close it as editor is deprecated.

[2017-03-12 10:46] #57 closed, assigned to nobody

[2017-03-12 10:47] tandraschko commented on #71
Will close it as editor is deprecated.

[2017-03-12 10:47] #71 closed, assigned to nobody

[2017-03-12 10:48] tandraschko commented on #710
p:editor uses cleditor under the hood which is not maintained since years.
I would suggest to use PrimeFaces Extensions CKEditor or the new p:textEditor (which doesn't work on all browsers).

[2017-03-12 10:48] #710 closed, assigned to nobody

[2017-03-12 10:55] tandraschko commented on #105
@Rapster "object" has been chosen as "video" was likely not available at this time. The component is quite old and never got a facelift.
So if you have ideas and time to work on, feel free.

[2017-03-12 11:56] Rapster commented on #105
We should discuss what media should support, same as today (audio, video and PDF)? Is it some sort of delegator, encoding the right HTML5 component depending the input?

See https://www.w3schools.com/html/html_media.asp

[2017-03-12 12:19] Svhorsch commented on #2166
whats PR?

[2017-03-12 12:31] tandraschko commented on #2166
pull request / bugfix patch ;)

[2017-03-12 12:49] tandraschko commented on #105
I think we just should decide somewhere if object or video is rendered. Maybe it can be handled via type or we need a new flag.

[2017-03-12 15:13] Shadowxx1 opened #2169 "2 o more Dropdown no execute"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-03-12 17:55] tandraschko commented on #2169
Please provide a java code as small and simple as possible. We can't just take it and try it. Otherwise it will be closed as invalid.

[2017-03-12 18:00] Rapster commented on #2169
Fork this https://github.com/primefaces/primefaces-test.git and try to reproduce your problem

[2017-03-13 05:45] gunnee commented on #2159
To clarify: this is not a feature. It is a bug ;)

[2017-03-13 07:02] devmsaleh opened #2170 "localize am/pm text in schedule component"
I am using schedule component and i found that the am/pm text is not localized, please add option to localize it, thanks.

[2017-03-13 08:28] tandraschko commented on #2170
Feel free to provide a PR.

[2017-03-13 08:29] tandraschko commented on #2145
@Rapster Would you like to do it? You are the "chips"-man ;)

[2017-03-13 08:36] tandraschko commented on #2159
Yep! Would be great if you could provide a PR to fix it.

[2017-03-13 08:54] Rapster commented on #2145
Sure, I can have a look at it ;)

[2017-03-13 09:23] Rapster commented on #2156
@tandraschko I made a PR for this in the showcase _(in case you didn't see it)_

[2017-03-13 09:51] Henny-cz opened #2171 "DataTable: add option to enable/disable contextMenu for a DataTable without records"
## 1) Environment
- PrimeFaces version: 6.0.16
- Does it work on the newest released PrimeFaces version? -> No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Wildfly 10.1
- Affected browsers: Chrome, Firefox

## 2) Expected behavior

When empty dataTable is rightClicked, I expec

[2017-03-13 10:01] devmsaleh commented on #2170
i am sorry what do you mean by PR ?

[2017-03-13 10:06] vonnai opened #2172 "SelectCheckboxMenu multiple mode different itemValue and itemLabel caused errors"
## 1) Environment
- PrimeFaces version: 6.0.16
- Does it work on the newest released PrimeFaces version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: Tomcat 7.70
- Affected browsers: ALL

## 2) Expected behavior
If I use inside <f:selectItem itemLabel="Test" itemValue="test"/> I expect, that I don't have to has item label and item value equals.

## 3) Actua

[2017-03-13 10:07] tandraschko commented on #2170
Pull Request which includes the changes in our code

[2017-03-13 10:12] tandraschko commented on #2171
It was a feature request: #1283

[2017-03-13 10:13] tandraschko commented on #2171
We could think about to introduce a new flag which disabled/enables this behavior.

[2017-03-13 10:13] tandraschko commented on #2172
A PR to fix this would be great ;)

[2017-03-13 12:09] fkjaekel commented on #1832
Tested with 6.0.16 + default theme without problems. I guess it will work with Modena theme too.

[2017-03-13 12:10] melloware commented on #2145
I was looking at this one as well as I plan on using Chips in an upcoming project.    I had it down to 1 part on escaping the HTML I couldn't find a function for.  I see ComponentUtils.escapeText is for JSON encoding not for HTML encoding.  @Rapster I will be interested in seeing your fix!

[2017-03-13 12:16] tandraschko commented on #2145
Escaping is done via #writeText instead #write
I think there is a escaping on the client side missing, server side should be fine.

[2017-03-13 12:17] tandraschko commented on #1832
The same example also with fileDownload?

[2017-03-13 12:40] melloware commented on #2145
Understood.  I had looked at all the other renderers that had an escape= on them and saw the write() vs writeText() but this was already using writeText() which is why i was confused it wasn't working.

[2017-03-13 13:09] tandraschko commented on #2145
Yep, but i think the bug happens on client side. The server side is only active if you post the values and update the component.

[2017-03-13 14:36] gunnee commented on #2159
Had a look into your code.. seems to be just a wrong reference. see my PR #2173

[2017-03-13 14:40] tandraschko commented on #2159
Thanks!

[2017-03-13 14:54] jxmai commented on #1832
This issue seems to be fixed by #1857 via https://github.com/primefaces/primefaces/commit/674b310c74f48cad1c9b30c63057f82a26991bb9

I tested again using Primefaces 6.0.15, and the download is working now.

---

There is a glitch in terms of the html it is generating however (This is quill editor's behaviour not primefaces's fault).

If the data is :

[code]

which essentially the same as :

[code]

[2017-03-13 14:59] tandraschko commented on #1832
Great :)

[2017-03-13 14:59] #1832 closed, assigned to tandraschko

[2017-03-13 15:19] jxmai commented on #1832
~~Wrong milestone :)  Should be `RC2`~~

Oh, since it was fixed before `RC1`... It is OK.

[2017-03-13 16:13] Rapster commented on #2145
@melloware are you taking care of it then?

[2017-03-13 16:31] mertergun opened #2174 "p:repeat: commandButton not called in nested p:dataTable on second page"
## 1) Environment
- PrimeFaces version:
6.0
- Does it work on the newest released PrimeFaces version? Version?
 No, I already use the latest version.
       <dependency>
            <groupId>org.primefaces</groupId>
            <artifactId>primefaces</artifactId>
            <version>6.0</version>
        </dependency>
- Does it work on the newest sources in GitHub?
Tested on 6.1.RC2-SNAPSHOT, too

[2017-03-13 16:44] gunnee commented on #2159
No problem. However, I'm curious why there is an attribute "selectionMode" for context menus at all?
I think, it can be removed... just a suggestion.

[2017-03-13 16:59] tandraschko commented on #2159
Hmm, it may also be possible that we changed a working code ;)

[2017-03-13 17:01] tandraschko commented on #2159
I reverted your change, seems like it was designed to specify the selectionMode on the contextMenu.

Looks like you should set selectionMode=single on your contextMenu.

[2017-03-13 18:06] melloware commented on #2145
I will take a shot.

[2017-03-13 18:12] melloware commented on #2145
OK I created this PR.  https://github.com/primefaces/primefaces/pull/2176

Please make fun of it if it is wrong.

[2017-03-13 18:50] cmoetzing commented on #2154
6.1RC1 still behaves the same (updated issue aswell).

[2017-03-13 18:59] Rapster commented on #2145
It looks to me, unless there is a good to reason on server side? @scnbk-software could you have a look?

[2017-03-13 19:04] neXus1987 commented on #1175
Hi all,

in my point of view i think also there is a bug. I can confirm this behavior and to find the datatable component is just a workaround, the main problem is that the real data from the filteredValue is not applied.

In our applications we have massively problems with that. For example in a master-detail view our detail is not updatet when there is something filtered.

Thanks
Phil

[2017-03-13 19:12] jxmai commented on #1175
I guess this issue is somewhat related to #1715 (defect)

the data is internally filtered but the user doesn't see if the data is filtered

[2017-03-13 19:20] neXus1987 commented on #1175
Yes exactly! Thanks!!!!

[2017-03-13 19:21] tandraschko commented on #2145
The server side should already be escaped, so the current approach is required probably.

[2017-03-13 19:28] jxmai commented on #1753
related to #1715 comment https://github.com/primefaces/primefaces/issues/1715#issuecomment-244608049 (bug No. 1)

[2017-03-13 19:50] jxmai commented on #2063
The sample is not complete and not in minimal form. There is no `HolidayBean`  and no `TimestampEntity` for instance.

---

AFAICS, please check the way to create the table and examine any error on the console since using `ajax='false'` is suspicious.

[code]

[2017-03-13 19:53] breasteve opened #2177 "selectOneMenu filtering enabled doesn't support NVDA screen reader"
## 1) Environment
- PrimeFaces version:
- tested w version 5.3 and 6.0
- tested selectOneMenu with 80 select items and with 7 select items; filter="true" and filter="false"
- Application server + version: WAS 8.5
- Affected browsers: IE 11, Chrome 56

## 2) Expected behavior
selectOneMenu supports NVDA screen reader such that each list item is read as user arrows up/down the list items.

## 3) Act

[2017-03-13 19:54] jxmai commented on #2083
Is this issue the same as #2137 ? but the version does not match up.

#2137 occurs during 6.0.16

This issue says 6.0.13 and 6.0.15 ...

[2017-03-13 20:07] jxmai commented on #1508
Works OK using 6.x.

[2017-03-13 20:41] jxmai commented on #1715
Quotes as a recap

@tandraschko I have linked a couple other related issues to this one (They all pointed to the bug 1). Although the pagination can have a workaround such as setting paginator to `true` (does not look nice by the way :disappointed: ). The bug 1 seems to be a long-running bigger issue.

[2017-03-14 08:11] gunnee commented on #2159
In my opinion, the selectionMode on contextMenu is not necessary as it does not have any impact on the contextMenu itself. In addition, it only affects the selection behaviour for dataTables, components like treeTable or tree do not use the contextMenu's selectionMode attribute. That's confusing. Please also note: When using the contextMenu as shown in the [PF example](https://www.primefaces.org/s

[2017-03-14 08:28] tandraschko commented on #2159
But it would fix your problem?

We cannot just remove it, it was introduced as a feature some time ago.

[2017-03-14 08:29] #1508 closed, assigned to nobody

[2017-03-14 08:30] tandraschko commented on #2063
closing as invalid as the sample is not complete. Maybe better try to forum first if you don't have a complete sample.

[2017-03-14 08:30] #2063 closed, assigned to tandraschko

[2017-03-14 08:31] tandraschko commented on #2177
It would be great if you could provide a possible solution or even a PR.

[2017-03-14 08:45] gunnee commented on #2159
I see your point. This change might be for major releases.. I was thinking for the collective good. ;)

[2017-03-14 09:59] Henny-cz opened #2178 "DataTable don't update paginator when no records found with given filter"
You can test it right on this example
https://www.primefaces.org/showcase/ui/data/datatable/tableState.xhtml

At start, you have 5 pages of records.
In column filter "Id" type for example: "blabla"
... message "No cars found with given criteria" will appear in dataTable

But paginator still shows 1 of 5 pages and you can move to next pages which also breaks filter totally. (filled but not filtered

[2017-03-14 11:22] scnbk-software commented on #2145
Hi and sorry for the inactivity.
I'm currently switching my appartment and had no internet (felt like an apocalypse).

I can have a look tomorrow.

[2017-03-14 11:32] DominikLudwig1995 opened #2179 "Unable to build the project (SSL-Problem)"
`[ERROR] Failed to execute goal on project showcase: Could not resolve dependencies for project org.primefaces:showcase:war:6.1-SNAPSHOT: Failed to collect dependencies for [javax.servlet:servlet-api:jar:2.5 (provided), javax.servlet.jsp:jsp-api:jar:2.1 (provided), commons-logging:commons-logging:jar:1.1.1 (compile), commons-lang:commons-lang:jar:2.6 (compile), org.hibernate:hibernate-validator:ja

[2017-03-14 11:45] karlkilden commented on #2166
My problem is similar but with any browser. After the inputnumber is blank I can type anything into it as well...

[2017-03-14 22:29] jxmai commented on #1661
Possibly related to #1499 (#1499 involved more discussion and a potential PR (https://github.com/michael-las/primefaces/commit/36dd4ff9db46f99b25e905ca4673bacb988308c9))

[2017-03-15 06:53] mertsincan opened #2180 "Add dropMode attribute to Tree with dragdrop"
Pro User;

We have two trees where we want to drag a node/leaf from the right-hand table onto a tree node on the left-hand-side. Currently when this happens the node/leaf is taken out from the source tree on the right-hand side. We want to keep that node available on the right-hand tree as it could be dragged and dropped again on another node in the left-hand node. How to do this?

"dropMode" attr

[2017-03-15 07:01] #2180 closed, assigned to mertsincan

[2017-03-15 11:40] mertsincan opened #2182 "Improve icon css on SelectCheckboxMenu with multiple"

[2017-03-15 11:41] #2182 closed, assigned to nobody

[2017-03-15 11:55] mertsincan commented on #2126
The first issue is fixed for 6.0.17; https://github.com/primefaces/primefaces/issues/2182

I couldn't replicate the second issue. I think it is a layout. Therefore, please use Adamantium forum;  https://forum.primefaces.org/viewforum.php?f=28
Please create a new topic in it and add a sample xhtml page to your topic.

[2017-03-15 11:55] #2126 closed, assigned to nobody

[2017-03-15 12:02] #2145 closed, assigned to tandraschko

[2017-03-15 12:10] #2172 closed, assigned to tandraschko

[2017-03-15 12:10] #2157 closed, assigned to tandraschko

[2017-03-15 12:13] mertsincan opened #2183 "Null pointer checks for Media"
If the name is null, it isn't added to dynamic url.

[2017-03-15 12:18] #2183 closed, assigned to nobody

[2017-03-16 06:24] mertsincan commented on #2083
Can you please try this issue without composite component?

[2017-03-16 09:24] mertsincan opened #2184 "ScreenReader support for close icon on ConfirmDialog"

[2017-03-16 09:28] #2184 closed, assigned to nobody

[2017-03-16 11:53] cagataycivici commented on #2168
7.x is fine, yes.

[2017-03-16 12:29] integrityhu opened #2185 "Ribbon onTabChange"
The documentation say that ribbon delivered from tabview, and any event that implemented in tabview should use. I try to implement onTabChange event to hold actual page index in server side, but the javascript doesn't invoked. I think there missing event handler, so I looked around the code.

primefaces/ribbon/src/main/java/org/primefaces/component/ribbon/RibbonRenderer.java
primefaces/ribbon/src/

[2017-03-16 12:43] Rapster commented on #2185
Please provide a PR instead

[2017-03-16 12:49] Rapster commented on #2185
I'm not sure if `onTabChange` should be an attribute, indeed, it is for `TabView` but is it necessary or common while we could use`p:ajax event="tabChange"`?

[2017-03-16 12:58] integrityhu commented on #2185
Yes, but unfortunately Ribbon is not an ajax behavior component.

[2017-03-16 13:05] Rapster commented on #2185
You can make become one ;)

[2017-03-16 13:10] integrityhu commented on #2185
Yes I'd like. Can you write me how can I start it? Could you send me a sample?

[2017-03-16 13:19] Rapster commented on #2185
It should give you some clues to start https://github.com/primefaces/primefaces/pull/2167

[2017-03-16 14:02] integrityhu commented on #2185
how can I add getBehaviorEventMapping() to Ribbon? I visit Slider for sample.

[2017-03-16 14:05] integrityhu commented on #2185
ok., I placed it in RibbonTemplate.java

[2017-03-16 14:32] integrityhu commented on #2185
I made some changes for ajax behavior (attached)
[ribbon-ajaxbehavior.zip](https://github.com/primefaces/primefaces/files/847983/ribbon-ajaxbehavior.zip)

[2017-03-16 14:35] Rapster commented on #2185
Again, provide a PR please. See https://help.github.com/articles/creating-a-pull-request/

[2017-03-16 14:47] Rapster commented on #2185
Check out your template by the way, you did a bad copy-paste I think :p

[2017-03-16 15:31] integrityhu commented on #2185
https://github.com/primefaces/primefaces/pull/2186
thanx :p

[2017-03-16 15:34] Rapster commented on #2185
Your PR will never be accepted, too many files changed for no reason. Did you do a merge? Please do a rebase

[2017-03-16 15:34] integrityhu commented on #2185
Usage:

<p:ribbon id="topRibbon" widgetVar="topRibbonWidget" activeIndex="#{styleManager.actualRibbonIndex}" onTabChange="handleTabChange(index)">
		<p:ajax event="tabChange" listener="#{styleManager.handleTabChange}"/>
...
</p:ribbon>

StyleManager:
    public void handleTabChange(TabChangeEvent event) {
        actualRibbonIndex = (Integer)event.getData();
    }

JavaScript:
function handleTabCh

[2017-03-16 15:39] integrityhu commented on #2185
please take your piece to merge it. Best regards, Zoltán

[2017-03-16 15:43] Rapster commented on #2185
Sorry no can do :)

[2017-03-16 15:44] integrityhu commented on #2185
that's what I can do now, too. :-)

[2017-03-16 15:55] integrityhu commented on #2185
I changed 3 files only. Please check it in attachet zip file.
I've no idea how can I rebase, and I've no time to continue with github.

[2017-03-16 15:57] Rapster commented on #2185
Don't bother, I'll take care of this (one day :p)

[2017-03-16 16:05] integrityhu commented on #2185
Ok, thank you! Have a nice day!

[2017-03-16 18:41] Rapster commented on #2179
Not a PF problem

[2017-03-16 19:40] Rapster commented on #2185
@cagataycivici any reason why Ribbon does not extend TabView? I just make it work but I'm wondering....

[2017-03-16 19:56] integrityhu commented on #2185
Neither onTabChange nor  ajax tabChange... so I made it. ;-)
Just github usage not know me, sorry.

[2017-03-16 20:05] integrityhu commented on #2185
ribbon.xml parent > javax.faces.component.UIPanel
tabview.xml parent > org.primefaces.component.api.UITabPanel
JavaScript working well from /src/main/resources/META-INF/resources/primefaces/ribbon/ribbon.js
PrimeFaces.widget.Ribbon = PrimeFaces.widget.TabView.extend

But onTabChange callback didn't work, before I added it in ribbon.xml.

If it's easy just change the parent, well done. I just try u

[2017-03-16 21:32] tandraschko commented on #2179
yep, works fine on my 3 machines. Also weird that it tries to lookup certificate path for a http adresss.
Will close it as won't fix. If you have some idea how we can fix something, please come back.

[2017-03-16 21:32] #2179 closed, assigned to nobody

[2017-03-17 08:41] #2120 closed, assigned to nobody

[2017-03-17 08:48] mertsincan commented on #2130
Please try with 6.1.RC1.

[2017-03-17 09:06] #2085 closed, assigned to nobody

[2017-03-17 09:38] mertsincan commented on #2020
Please see; https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/paginator/RowsPerPageDropdownRenderer.java#L43
For dynamic message, please see; https://www.mkyong.com/jsf2/jsf-2-0-and-resource-bundles-example/

[2017-03-17 09:38] #2020 closed, assigned to nobody

[2017-03-17 09:50] andyfinch commented on #2020
Confused?  Firstly the issue still exists i.e. The html element is hidden by default.  This is surely not correct.  Secondly the mkyong link does nothing to explain different messages.  If the primefaces.paginator.aria.ROWS_PER_PAGE should be used in a ResourceBundle how do I switch messages for different datatables?  Multiple resourcebundles?  That would be overkill and less than desirable.

[2017-03-17 11:26] cagataycivici commented on #2119
This breaks the production build, when I do mvn install -P release as js can't be compressed.

[2017-03-17 14:12] jlerbsc opened #2188 "Filmstrip issue on Galleria PF 5.3"
## 1) Environment
- PrimeFaces version: 5.3
- Application server + version: Tomcat 8.5
- Affected browsers: Chrome
- Does it work on the newest released PrimeFaces version? Version? I don't know
- Does it work on the newest sources in GitHub? I don't know

If we use a parent node to images in galleria, the filmstrip is generated with undefined src.

    <img src="undefined" class="ui-galleria-fram

[2017-03-19 07:48] Rapster commented on #2185
@tandraschko should we implement `onTabChange` while we could do this:
[code]

[2017-03-19 09:18] tandraschko commented on #2185
IMO the behavior event is enough

[2017-03-19 10:53] integrityhu commented on #2185
Okay, I changed my implementation (see attachment). TabView has onTabChange, so I added to ribbon.xml, too. Ajax tabChange event has getTab() method. How can I find out the index of this tab?
Best Regards, Zoltan
[ribbon-withnewparent.zip](https://github.com/primefaces/primefaces/files/853131/ribbon-withnewparent.zip)

[2017-03-19 10:55] tandraschko commented on #2188
Please provide a complete example and answer the questions in the issue template or it will be closed it as invalid.

[2017-03-19 11:17] integrityhu commented on #2185
I changed RibbonRenderer.java, but activeIndex become -1 on tabChange event.
[ribbon-withnewparent.zip](https://github.com/primefaces/primefaces/files/853143/ribbon-withnewparent.zip)

[2017-03-19 12:08] #1828 closed, assigned to tandraschko

[2017-03-19 16:46] integrityhu commented on #2185
IMHO that two file fix is not enought...

[2017-03-19 17:35] Rapster commented on #2116
Close for now _(as it is a duplicate)_ but would be nice to hear some news about this feature

[2017-03-19 17:35] #2116 closed, assigned to nobody

[2017-03-19 20:39] integrityhu commented on #2185
I think we need declare interfaces in ribbon.xml like this:

         <interfaces>
                <interface>
                        <name>org.primefaces.component.api.Widget</name>
                </interface>
                <interface>
                        <name>javax.faces.component.behavior.ClientBehaviorHolder</name>
                 </interface>
                <interface>

[2017-03-19 21:14] integrityhu commented on #2185
Ok, I checked. Not needed (interfaces are inherited).

[2017-03-19 21:18] integrityhu commented on #2185
Why I get activeIndex = 0 on tabChange event?

    public void handleTabChange(TabChangeEvent event) {
        Ribbon ribbon = ((Ribbon)event.getComponent());
        int tabIndex = ribbon.getActiveIndex();
        actualRibbonIndex = tabIndex;
    }

event.data = null

[2017-03-20 09:54] integrityhu commented on #2185
workaround:
new index:
        Ribbon ribbon = ((Ribbon) event.getComponent());
        int tabIndex = ribbon.getChildren().indexOf(event.getTab());
old index:
        int oidx = ribbon.getActiveIndex();

[2017-03-21 06:42] RueKow opened #2191 "Placeholder for SelectOneMenu"
## 1) Environment
- PrimeFaces version: 6.1 RC2
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 8
- Affected browsers: all

## 2) Expected behavior
A stylable hint should be displayed if selected item is empty or null.

## 3) Actual behavior
There is no placeholder attribute available.

## 4) Ste

[2017-03-21 07:55] Rapster commented on #2191
Please provide a PR instead

[2017-03-21 08:41] RueKow commented on #2191
I never used git in my projects, always subversion. So I don't know how to provide a pull request.

[2017-03-21 08:45] Rapster commented on #2191
Time to start then, it's very easy really https://help.github.com/articles/creating-a-pull-request/

[2017-03-21 08:46] RueKow commented on #2191
Ok, I will try. Thanks for the link.

[2017-03-21 08:59] c3027951 opened #2192 "javax.el.PropertyNotFoundException: Target Unreachable after upgrading GAE from 1.9.49 to 1.9.50"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-03-21 11:27] tzantw opened #2193 "TimeLine: add RTL support"
I am working on an arabic portal which makes use of primefaces timeline. Hence the date/year which appears on timeline should be in RTL(Right to left) fashion.
Currently the date/year appears on timeline axis as ...2000 2001 2002 2003...
But in arabic page it should appear from right to left as ...2003 2002 2001 2000...

The analysis are that primefaces have rtl support for tree and datatable. But

[2017-03-21 15:00] mydeadlyvenoms commented on #1993
Hi @mertsincan, I guess the exception gets still thrown when using "XML". All other formats are working fine.

[code]

[2017-03-21 15:29] mertsincan commented on #1993
Hi,
Can you please attach a sample maven project for us to replicate? You can use this project for it; https://github.com/primefaces/primefaces-test

[2017-03-21 22:16] Rapster commented on #2193
I suggest you to have a look to existing components supporting RTL, then have a try on TimeLine, and finally create a PR :)

[2017-03-21 23:44] c3027951 commented on #2192
Problem solved after I replaced the modified version of 2.2.13 javax.faces (based on the tutorial from http://www.mkyong.com/google-app-engine/gae-jsf-javax-naming-initialcontext-is-a-restricted-class/) with the older version from Maven.

		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.faces</artifactId>
			<version>2.2.5</version>
		</dependency>

[2017-03-21 23:44] #2192 closed, assigned to nobody

[2017-03-22 00:01] melloware commented on #2185
While we are at it this ticket is a duplicate of #1514 so if we do fix this make sure that one is closed as well.

[2017-03-22 00:01] melloware commented on #1514
Duplicate of https://github.com/primefaces/primefaces/issues/2185

[2017-03-22 06:51] RueKow commented on #2191
Not so easy as mentioned. I studied GitHub Flow for better understanding and I installed GitHub Desktop application on my Mac. Then I tried to follow the steps of GitHub Flow:

1. Create a feature branch: ok
2. Add commits:
3. Open a Pull Request:

When trying to add commits I could not found "SelectOneMenu.java" and "component.js" in the PrimeFaces repository. Only "SelectOneMenuRenderer.java" is

[2017-03-22 07:41] mertsincan opened #2194 "dropMode doesn't work correctly with dragdrop event on Tree"
Reported By PRO User;

[2017-03-22 07:42] #2194 closed, assigned to nobody

[2017-03-22 07:57] Rapster commented on #2191
I'm not familiar with Github Desktop, I'm using the good old TurtoistGit :) I suggest you to ask those questions to Github Desktop forum

[2017-03-22 08:29] RueKow commented on #2191
The problem is not GitHub Desktop.
I cannot find "SelectOneMenu.java" and "component.js" in the repository.

[2017-03-22 08:34] Rapster commented on #2191
You have to generates sources, doing `mvn clean install` should do ;)

[2017-03-22 09:24] JensPiegsa opened #2195 "DataTable: .ui-sortable-column.ui-state-active does not recieve .ui-state-hover"
## 1) Environment

- PrimeFaces version: 6.0

## 2) Expected behavior

The `th` column header element of a sortable column (`.ui-sortable-column`) of a dataTable should recieve `.ui-state-hover` css class on mouse over even if it is active (`.ui-state-active`).

The `.ui-state-hover` style is neccesary to visually indicate the possibility to click on the column header for resorting.

## 3) Actual

[2017-03-22 09:32] devmsaleh opened #2196 "Feature Request : document scanning component"
Is it possible that primefaces can introduce a document scanning component like http://www.dynamsoft.com ?

[2017-03-22 10:43] tandraschko commented on #2191
Yep, component classes are generated (see src\main\java-templates) and components.js is also generated (see \src\main\resources\META-INF\resources\primefaces for the single files)

[2017-03-22 13:11] madhu-singh opened #2197 "Table not supported in Text Editor"
1) Environment
- PrimeFaces version: 6.1.RC1
- No
- No
- Glassfish 3.1.2.2
- Mozilla Firefox

2) There should be option to insert table as it is present in CKEditor.
3) Insert table is not available in Text Editor
4) add text editor in any xhtml page and test.

5) <p:textEditor widgetVar="editor1" value="#{editorView.text}" height="300" style="margin-bottom:10px"/>

 6)package org.primefaces.showc

[2017-03-22 13:16] tandraschko commented on #2197
Its not available in the QuillEditor, so we cant fix this.
You can just use the PF Extensions CKEditor ;)

[2017-03-22 13:16] #2197 closed, assigned to nobody

[2017-03-22 13:16] tandraschko commented on #2196
Questions -> forum

[2017-03-22 13:16] #2196 closed, assigned to nobody

[2017-03-22 13:57] #2185 closed, assigned to tandraschko

[2017-03-22 14:02] tandraschko commented on #2185
@cagataycivici could you please create a new milestone for RC3 or final?

[2017-03-22 14:02] #1514 closed, assigned to nobody

[2017-03-22 14:13] mydeadlyvenoms commented on #1993
Yes sure, I'll try to provide you the project by the end of the week.

[2017-03-22 14:58] albfan opened #2198 "custom locales and i18n"
## 1) Environment
- PrimeFaces version: 5.2
- Application server + version: jboss EAP 6.2
- Affected browsers: All

## 2) Expected behavior

Installing https://github.com/javagalician you get "gl" Locale

Using FacesContext.getCurrentInstance().getViewRoot().setLocale() to change locale

Datatable columns with bigdecimal do nots follow the numericformat defined for Galician

1,234.56 = 1.234,56

#

[2017-03-22 15:10] okworx commented on #433
I'd like this function as well OOTB.

[2017-03-22 15:16] tandraschko commented on #2198
I can't see any PrimeFaces relation. Please use stackoverflow or the forum.

[2017-03-22 15:16] #2198 closed, assigned to nobody

[2017-03-22 15:38] albfan commented on #2198
Yes. I realize after write it, thanks

[2017-03-22 22:05] Llenobrac commented on #2037
i am having the same problem, but the only  thing that i have seen is that <ul ... role="tablist"> not contain the class ui-helper-clearfix.

primefaces 5.2 (working)
![seleccion_110](https://cloud.githubusercontent.com/assets/10191133/24222850/8eefa7a2-0f21-11e7-9017-52a8074363ef.png)

primefaces 6.0 (not working)
![seleccion_109](https://cloud.githubusercontent.com/assets/10191133/24222859/99973

[2017-03-23 08:21] cagataycivici commented on #2049
table-layout:fixed is the foundation for scrollable and resizable tables so we're unable to change due to technical reasons.

[2017-03-23 08:25] cagataycivici commented on #971
Can you post the datatable code please?

[2017-03-23 09:25] ValerioEmanuele opened #2199 "SelectCheckboxMenu - deselect all with required=true not calls valueChangeListener"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-03-23 10:54] Kaelink opened #2200 "[SelectCheckboxMenu] Error when removing a selectItem with a space inside the itemValue"
## 1) Environment
- PrimeFaces version: 6.1.RC2
- Does it work on the newest released PrimeFaces version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: Glassfish 4.1
- Affected browsers: Firefox, Chrome (not tested other)

## 2) Expected behavior
When we unselect one item, the corresponding box is unchecked in the selection panel, and the corresponding label

[2017-03-23 11:10] #2200 closed, assigned to nobody

[2017-03-24 10:10] NarutoTI commented on #834
is there a work around this issue ?

[2017-03-24 10:10] pizzi80 opened #2202 "Calendar Date Range"
Hi,

it would be nice to have the Date Range selection on <p:calendar>
like the Range Slider in <p:slider>

I've found this jquery extension on github that may be useful
http://tamble.github.io/jquery-ui-daterangepicker/

Bye,
Paolo

[2017-03-24 13:11] ravihariharan commented on #2202
https://www.primefaces.org/showcase/ui/input/calendar.xhtml --> Multiple: can show you multiple months.

Are you referring to the
- Today,
- Yesterday
- Last 7 Days
- Last Week (Mo-Su)
- Month to Date
- Previous Month
- Year to Date

![image](https://cloud.githubusercontent.com/assets/15189434/24295495/592d839a-1071-11e7-9cd1-a38235036dd1.png)

[2017-03-24 13:41] pizzi80 commented on #2202
Yes, but it can't bind to 2 different java.util.Date values

[2017-03-24 17:07] tandraschko commented on #2199
Not sure about this.
If you deselect all, no value is selected -> required validation fails. Right?
If the validation failed, a valueChangeListener should never get invoked.

[2017-03-24 17:10] tandraschko commented on #2188
Feel free to create a new issue with all informations + all sample codes.

[2017-03-24 17:10] #2188 closed, assigned to nobody

[2017-03-24 17:12] tandraschko commented on #2169
Closed for now. Feel free to create a new issue with minimal as possible and working example.

[2017-03-24 17:12] #2169 closed, assigned to nobody

[2017-03-24 17:18] tandraschko commented on #2147
Why do you need a converter?

[2017-03-24 17:22] tandraschko commented on #2166
Your sample is working for me on 52.0.1.
Just added @Named + @SessionScoped on your sample bean.

[2017-03-24 17:29] tandraschko commented on #206
works fine for me in the showcase.

[2017-03-24 17:29] #206 closed, assigned to nobody

[2017-03-24 17:32] djmj commented on #2147
Cause converters can be used for any input and because of the business case. If you really want to know :)

In german beverage retail, the deposit is included with vat for private users, and excluded vat for commercial users (just one of the most stupid things). But 99% of people, even retailers themselves only know the private deposit value (0,25 € on a plastic bottle, 0,30 € for commercial users

[2017-03-25 07:16] ValerioEmanuele commented on #2199
I agree with you, but the problem is that I deselect all and I am able to submit the form because I don't have enabled client side validation.
The result is that after the ajax view refresh I see the checkbox menu with all the labels inside it because it's value was not updated and this is wrong. Moreover this not happens if I do the same steps with a single checkbox.
I Hope that now my phrase was

[2017-03-25 08:12] tandraschko commented on #2199
I dont talk about client side validation, its the same for server side validation!

[2017-03-25 21:53] jlerbsc commented on #2188
It does not matter if you do not want to consider this request, there are also other components available that will do the trick.

[2017-03-26 09:07] neXus1987 commented on #1715
I think one problem could be that if a datatable is displayed the second time on a view with a viewscope bean, the filter should be applied during the jsf lifecycle and not on the clientside. This will mean that you will not control the filteredValue from backend and i think this the right way, because the filteredValue is just a result of the filtering happened on clientside. And when you want to

[2017-03-26 16:16] djmj opened #2203 "Mobile - selectBooleanCheckbox no styling if itemLabel not provided."
## 1) Environment
- PrimeFaces version: PF 6.1 RC.1
- Application server + version: Glassfish 4.1.1, mojarra 2.2.9
- Affected browsers: Firefox, IE

## 2) Expected behavior

show a jquery-mobile styled checkbox. I no or empty label is provided render a square checkbox.

## 3) Actual behavior

**Case 1:** no itemLabel attribute provide - styling is completely lost
**Case 2:** empty itemLabel provid

[2017-03-27 07:15] ValerioEmanuele commented on #2199
Ok, I understand that is not a bug. Thanks for your answers.

[2017-03-27 07:15] #2199 closed, assigned to nobody

[2017-03-27 09:25] mauritz-lovgren opened #2204 "Includes jQuery version (1.11.3) which has known XSS vulnerability"
## 1) Environment
- PrimeFaces version: 6.0.16
- Does it work on the newest released PrimeFaces version? No, but 6.0.17 includes same jQuery version.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No, latest source includes same JQuery version.
- Application server + version: all major, irrelevant
- Affected b

[2017-03-27 09:52] krandalf75 commented on #2179
There is an redirection on the repository. If you enter http://repository.primefaces.org/
you will be redirected to https://repository.primefaces.org/

HTTPS connection provides an certificate (Let'sEncryp) whose root certificate isn't reconized by Java.
You must manually install it.

[2017-03-27 09:53] tandraschko commented on #2204
@cagataycivici @mertsincan should we upgrade to jquer 1.12 for the next RC?!

[2017-03-27 10:22] mertergun commented on #2179
I got the same issue today, after purging my local maven repository, mvn could not get the dependencies from prime repo with the same exception. For now the workaround is to download and install the jar manually.

[2017-03-27 10:35] mertsincan opened #2205 "Default sorting issue with DataTable tableState"
Reported By PRO User;

When you change the URL, the problem doesn't exist.

[2017-03-27 10:36] #2205 closed, assigned to nobody

[2017-03-27 12:34] quidam opened #2206 "DataTable inside PanelGrid renders extra TD-Elements"
## 1) Environment
- PrimeFaces version: 6.1 RC2
- Does it work on the newest released PrimeFaces version? Works on 6.0.
- Does it work on the newest sources in GitHub? no.
- Application server + version: Wildfly 9.0.2 and 10.0
- Affected browsers: Firefox 52, Chrome 57, IE 11

## 2) Expected behavior

For each column of a DataTable one TD-Element is rendered.

## 3) Actual behavior

For each colum

[2017-03-27 13:39] cagataycivici commented on #2204
Better to wait for 6.2 but since it is XSS, we should. @mertsincan please update jquery.

[2017-03-27 13:58] oliverjstein opened #2207 "SelectOneMenuRenderer - encodeOptionsAsTable ignores null for itemValue"
I think it should be fixed if you change the condition in encodeOptionsAsTable from
`if(itemValue instanceof String)`
to
`if(itemValue == null || itemValue instanceof String)`

## 1) Environment
- PrimeFaces version: 6.0.17

## 2) Expected behavior
selectOneMenu combined with columns: When setting itemValue to null the item should be displayed with provided label
<f:selectItem itemValue="#{null}"

[2017-03-27 16:20] tandraschko commented on #2206
A PR would be great.

[2017-03-27 16:21] tandraschko commented on #2207
The example misses searchInfoPointController.

[2017-03-27 16:49] lagar84 commented on #2204
jQuery reverted the change in 1.12.3 (and 1.12.4), so only versions that has the fix is jquery-1.12.0, jquery-1.12.1 and jquery-1.12.2

Source: https://github.com/jquery/jquery/issues/3011

[2017-03-27 17:27] tandraschko commented on #2204
Ok so we can update jquery but the issue of the reporter will not be fixed. Upgrading to a already outdated version doesnt make sense IMO.

[2017-03-28 07:22] oliverjstein commented on #2207
the controller is not necessary - you can use any collection for the selectItems

 The relevant part is that you have to set itemValue to an empty string:
<f:selectItem itemValue="" itemLabel="#{msg['general.selectItem.noSelectionOption']}"/>

**setting itemValue to null does NOT work:**

<f:selectItem itemValue="#{null}" itemLabel="#{msg['general.selectItem.noSelectionOption']}"/>

[2017-03-28 08:02] mydeadlyvenoms commented on #1993
Hi @mertsincan

Sorry for the delay, here you go: https://github.com/mydeadlyvenoms/PrimeFacesIssues
Just click the export buttons under the datatable, the XML button will throw the mentioned exception. Your template project didn't work with OmniFaces therefore I created one from scratch, I tested it using the latest Payara server.

[2017-03-28 09:28] quidam commented on #2206
I'm not experienced in UI development, so I've got problems finding a fix that doesn't break something else. But I've found the change that causes the error:
In line 1220 of org/primefaces/component/datatable/DataTableRenderer.java
[code]
has been replaced by
[code]
which not only renders the children, but also the column (i.e. TD element), again.

This change has been introduced by you with the c

[2017-03-28 13:21] tandraschko opened #2208 "Slider support for InputNumber"

[2017-03-28 14:08] #2208 closed, assigned to tandraschko

[2017-03-28 14:18] pizzi80 commented on #2168
It would be nice to replace the <p:editor> with the PrimeFaces Extension CkEditor 4.6.x
which is very powerful and also can be extended for server-side file upload

https://www.primefaces.org/showcase-ext/views/ckEditor.jsf

[2017-03-28 14:20] cagataycivici commented on #2168
The one in extensions is too big to put in.

[2017-03-28 14:25] hfluz opened #2209 "DataTable: compatibility issue with rowExpansion and reflow"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest released PrimeFaces version? Version? No
- Application server + version: Jetty (using the maven project that comes with the Ultima theme)
- Affected browsers: All

## 2) Expected behavior
When using datatable with rowExpansion and reflow, I'd expect the cell width to span the total width available when in low resolution.

##

[2017-03-28 14:27] tandraschko commented on #2168
And it doesn't work as the license isnt compatible. Therefore its also in an extra module in extensions.

[2017-03-28 21:40] jschuck9 opened #2210 "Datatable Column groupRow Row Spans Incorrect Column If More Than One Column Marked as Grouped"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-03-28 21:45] jschuck9 commented on #2210
The actual error appears to be in datatable.js.  When grouped columns are setup for row spanning, the initial group column is removed from the column array.  This causes the index to be off by one.

The call ```this.groupRow(this.cfg.groupColumnIndexes[i]);``` appears to pass an incorrect column index to groupRow.

See lines:  3412 - 3440 in datatable.js

[code]

[2017-03-29 12:02] victorpasqualino opened #2211 "WidgetVar inside composite component submitting empty string value"
## 1) Environment
- PrimeFaces version: 5.3 and 6.0
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- JBoss 6.2.4
- Not important:

## 2) Expected behavior
If widgetVar not defined generate one unique.
public String resolveWidgetVar() {
		FacesC

[2017-03-29 12:07] mertsincan opened #2212 "Default sort issue on DataTable with multiViewState"

[2017-03-29 12:08] #2212 closed, assigned to nobody

[2017-03-29 15:11] #2211 closed, assigned to tandraschko

[2017-03-29 16:04] tandraschko opened #2213 "Update InputNumber"

[2017-03-29 16:05] #2213 closed, assigned to tandraschko

[2017-03-29 16:06] tandraschko opened #2214 "InputNumber: minValidation fails in some cases, also when the initial value is higher"

[2017-03-29 16:07] #2214 closed, assigned to tandraschko

[2017-03-29 16:08] tandraschko commented on #2214
The issue was temp fixes some times ago but reverted here: #1387

[2017-03-29 17:39] jschuck9 commented on #2210
Also, on livescroll with lazy data tables, appears to group the second column when the table reads more rows from the backing bean.

[2017-03-29 18:42] billbarni commented on #420
Tooltop is not working with spinner component.

[code]

[2017-03-29 18:55] mertsincan opened #2215 "Not able to resize the last column of data table with expand resizeMode"
Reported By PRO User;

[2017-03-29 18:57] #2215 closed, assigned to nobody

[2017-03-29 22:19] djmj opened #2216 "mobile - add onload event to pm:page"
Related to those forum threads a onload event to pm:page would be great to manually set focus on a new input element or to invoke other actions.

https://forum.primefaces.org/viewtopic.php?f=8&t=22097
https://forum.primefaces.org/viewtopic.php?f=8&t=41999

https://code.google.com/archive/p/primefaces/issues/4350

**Ugly Workaround**

Use a timeout and call method like _<script>pageOnLoad('myPageId

[2017-03-29 23:58] djmj commented on #2216
Oh i think its unnecessary since there is already:

	$(document).on('pageshow', '#pageStock', function(){
		$(PrimeFaces.escapeClientId("pageSearch:formSearch:query_input")).focus();
	});

[2017-03-30 09:17] schmolleg commented on #500
Hi all,
ich still have the same issue. I use primefaces 6.0 but the example code from above doesn't work. Does anyone have sample code. It's very urgent and i don't get the grouping working.

[2017-03-30 09:25] OskarsPakers commented on #500
@schmolleg The pull request was about supporting grouped items in SelectManyCheckbox, it might be that SelectCheckboxMenu does not support grouped items still.

[2017-03-30 09:30] schmolleg commented on #500
Oh you're right.
I need grouping in SelectCheckboxMenu i don't find a solution :-(

[2017-03-30 10:49] quidam opened #2217 "When a datatable filter returns no records, the number of records in the paginator is not updated"
## 1) Environment
- PrimeFaces version: 6.1.RC2
- Does it work on the newest released PrimeFaces version? Works on 6.0.
- Does it work on the newest sources in GitHub? no.
- Application server + version: Wildfly 9.0.2 and 10.0
- Affected browsers: Firefox 52

## 2) Expected behavior

When a filter is applied to a datatable, the total number of records in the paginator should reflect the number of

[2017-03-30 11:04] mertsincan opened #2218 "The table behaves differently, depending on whether panel is expanded or collapsed."
Reported by PRO User;

[code]

[2017-03-30 11:06] #2218 closed, assigned to nobody

[2017-03-30 11:50] martin654 commented on #1822
There are 7 tickets including this one in OPEN state in PF 6.1 RC1 including this one. Will they be included in RC3?

[2017-03-30 11:53] tandraschko commented on #1822
Currently i don't have time, sorry.

[2017-03-30 11:58] tandraschko commented on #1822
But you can provide a PR for this feature, so i will merge it directly after the 6.1 release.

[2017-03-30 12:01] fylb commented on #405
So, I tried your model (slightly modified it: removed the transient cache to keep content, and update the cache in the 'load(...)' methods), and encountered some other problems with lazy scroll.
Among them, on the sort feature: with a scroll table and lazy loading, when I clicked on the headers, the content would just disappear.
Looks like the problem is located in SortFeature.java :

[code]
shoul

[2017-03-30 13:45] erickdeoliveiraleal commented on #1007
Since https://github.com/primefaces/primefaces/commit/8bf78c56742ed023388bed342de54c80c957f5cc was reverterted, this can be reopened

[2017-03-30 13:45] erickdeoliveiraleal commented on #1007
#2204

[2017-03-30 14:14] hink084 commented on #405
The sorting issues were resolved in Commit: [80df8cf0674b585e2cb3743928ff30594b75e411] and Pull Request: [983092e15b9370c9f5779167c0741004f0cc95f0].  Issues #1321 and #2087 outline this.

[2017-03-30 18:41] ghost opened #2220 "p:calendar timeOnly="true" doesn't work with Client Side Validation"
1. Open [http://primefaces.org/showcase/ui/input/calendar.xhtml](http://primefaces.org/showcase/ui/input/calendar.xhtml) in a browser.
2. Adjust the value of the last field labeled "Time" to any value, except null/blank.
3. Click Submit button

Validation error message is reported: "Time: '00:00' could not be understood as a date. Time: '00:00' could not be understood as a date. Example: 3/30/17 2

[2017-03-30 18:45] ghost commented on #2220
Furthermore, if `CalendarView.java` is modified so that the `date11` field is initialized with `new Date()` (or anything besides null), then the p:calendar's input field will be initially rendered with the date part (e.g. "3/30/2017 11:43AM"), even though it has `pattern="HH:mm"`.

Disabling the global `primefaces.CLIENT_SIDE_VALIDATION` context parameter solves these issues.

[2017-03-31 02:17] itsmemarioss opened #2221 "p:ajax does not work inside h:selectOneMenu. Uncaught ReferenceError: jsf is not defined."
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-03-31 06:53] tandraschko commented on #2221
As you added 2 behaviors (p:ajax) for 1 event, the JSF impl must render a "helper script" to execute the behaviors ony by one.
If you will check the generated JS, something like "jsf.util.chain" should be there.

We can't fix anything regarding this as this is up to the JSF impl but there is a simple workaround:
<h:outputScript name="jsf.js" library="javax.faces" target="head"/>

Also, if you add

[2017-03-31 06:53] #2221 closed, assigned to tandraschko

[2017-03-31 09:10] schmolleg opened #2222 "Grouping for SelectCheckboxMenu not working"
Hello,

it seems that the issue:
https://github.com/primefaces/primefaces/issues/500

was not fixed for SelectCheckboxMenu. I use primfaces 6.0 but the component SelectCheckboxMenu does not work with ItemGroups. Example code an screenshots can be found in ticket #500.

[2017-03-31 10:12] marquem opened #2223 "PhotoCam: improve error handling"
Hi,

It would be great to improve the photocam's error handling, similar to the discreet error messages provided by the fileUpload component. The problem I have with alerts is, they tend to be ugly, intrusive and aren't very user-friendly on mobile devices.

Thanks,
Michael

## Environment
- PrimeFaces version: 5.2, 6.0, 6.0.17
- Application server + version: JBoss EAP 6.4

[2017-03-31 10:33] thienquach commented on #771
I have the same problem, is there any solution to overcome this problem?
I'm using PF 5.3

[2017-03-31 11:45] itsmemarioss commented on #2221
Ok, thanks man. I really thought about call one method but as I said I don't know how many pages have the same issue. I appreciate your help.

[2017-03-31 12:43] fbrissi opened #2225 "SelectOneRadio: change event not called when selecting with the space key"
## 1) Environment
- PrimeFaces Version: 6.0
- Does it work in the latest version of PrimeFaces? Version? No
- Does it work on the new sources of GitHub? No
- Application server + version: Payara 4.1.1.171.1
- Affected browsers: Chrome, Firefox

## 2) Expected behavior
When entering the selectOneRadio component with the tab key and pressing the space key to check, the onchange event is not triggere

[2017-03-31 13:36] mertsincan opened #2226 "Add responsive feature to fileUpload"

[2017-03-31 13:40] #2226 closed, assigned to nobody

[2017-03-31 13:56] mertsincan opened #2227 "Wrong dom structure on Simple FileUpload"
with 6.1.RC2

[2017-03-31 13:57] #2227 closed, assigned to nobody

[2017-03-31 14:18] mallorygiles opened #2228 "Drag and Drop between multiple tables"
I have a requirement to be able to drag and drop rows between multiple tables. For each table, I add a droppable componet with a datasource of the other tables. This is not working as expected because only the datasource of the last droppable listed for any component is used. I've tried it on Primefaces versions 6.0, 6.0.13, 6.1.RC1

I've created a project to reproduce at [https://github.com/mallo

[2017-04-01 14:30] melloware commented on #75
@cagataycivici Can this be closed as this now works with the multiple="true" option in CheckboxMenu?

[2017-04-01 14:46] melloware commented on #2220
I wonder if this is related to this issue too #2013

[2017-04-01 14:52] melloware commented on #1837
@JaviRpo I don't think it was designed to work this way.  Either you pick layout="grid" with columns="5" and let it be responsive or you manually control the layout with columns and rows.  You should check out Grid CSS seems more what you want...

https://www.primefaces.org/showcase/ui/panel/grid.xhtml

I recommend closing this ticket as PF team most likely will not address it.

[2017-04-01 15:39] melloware opened #2229 "SelectCheckboxMenu mode="multiple" Inability To Remove Item"
## 1) Environment
- PrimeFaces version: 6.0.17
- Does it work on the newest released PrimeFaces version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: Jboss EAP 6.4.7
- Affected browsers: ALL

## 2) Expected behavior

When restoring the page with values the Multiple Items in the SelectMenuCheckbox should be removable by clicking the "x" icon in the label.

#

[2017-04-01 17:24] melloware commented on #1788
Do you use this value?
[code]

if so your problem is because of JSF and nothing to do with PF.  You can read ad-nauseum about your exact issue all over Stack Overflow with the above setting turned on.

https://issues.apache.org/jira/browse/MYFACES-3667

if that is the case please close this ticket as INVALID.

[2017-04-01 17:45] melloware commented on #1439
I think I can fix this.  I will submit a PR.

[2017-04-02 07:40] alainpannetier opened #2231 "Patch proposal: tabview.js#init - explicitly hide non selected tabs (don't let browser decide)"
This is a bug fix proposal

## 1) Environment
- PrimeFaces version: 6.1 - straight from git head
- Application server + version: irrelevant: client side JS stuff
- Affected browsers: Gecko, Blink, Webkit
- The important point is that large scale projects can have several copies of jquery-ui.css
- Browsers may have to chose between several possible CSS rules at execution time and are selecting the

[2017-04-02 20:38] tandraschko commented on #2231
IMO we will likely not fix this as we also won't support jquery added by the user (instead using jquery provided by PF)

[2017-04-03 00:50] djmj commented on #2203
This is more a jQuery mobile bug. I filed there an issue. https://github.com/jquery/jquery-mobile/issues/8565

[2017-04-03 05:23] #2229 closed, assigned to nobody

[2017-04-03 05:24] mertsincan commented on #2229
Thanks a lot for the PR !

[2017-04-03 07:07] #2203 closed, assigned to nobody

[2017-04-03 07:32] UlrichLohrmann opened #2232 "renderKitId with value null leads to NullPointerException in CalendarResourceListener"
Primefaces Version 6.1, RC1
running on WebSphere application Server 8.5.5 with ,myfaces 2.2.11.
Application also uses Spring Web flow 2.2.4

We have some JSF facelets with p:calendar components in a form . On form submit we face a NullPointerException in org.primefaces.mobile.event.system.CalendarResourceListener in method processEvent, line 36, within the following statement:

[code]
In case of N

[2017-04-03 08:01] tandraschko commented on #2232
Its already there ;)

`        if(Constants.MOBILE_RENDER_KIT_ID.equals(renderKitId)) {
            ResourceUtils.addComponentResource(context, "mobile/widgets/datepicker.css", Constants.LIBRARY, "head");
            ResourceUtils.addComponentResource(context, "mobile/widgets/datepicker.js", Constants.LIBRARY, "head");
        }`

[2017-04-03 08:01] #2232 closed, assigned to nobody

[2017-04-03 09:09] tandraschko commented on #2216
Will close it for now as not required by the reporter. If you would provide a PR, we can still add the functionality.

[2017-04-03 09:09] #2216 closed, assigned to nobody

[2017-04-03 09:11] tandraschko opened #2233 "Upgrade JQuery UI to 1.12"
After 6.1

Note for PF team:

- they renamed the AJAX "complete" callback to "always" (jquery/jquery@fd80f59) - this will break our oncomplete

[2017-04-03 09:12] tandraschko commented on #1007
Created a new issue for both upgraded jquery + jquery ui -> #2233

[2017-04-03 09:12] #1007 closed, assigned to nobody

[2017-04-03 09:13] tandraschko commented on #2204
Created a new issue for updating jquery+jquery UI after the release: #2233

[2017-04-03 09:13] #2204 closed, assigned to nobody

[2017-04-03 09:14] tandraschko commented on #1645
See #2233

[2017-04-03 09:14] #1645 closed, assigned to nobody

[2017-04-03 11:34] melloware commented on #2229
@mertsincan No problem.  Can you look at this ticket too?  I think it can be closed as this feature is alreayd implemented.  https://github.com/primefaces/primefaces/issues/75

[2017-04-03 11:37] #1439 closed, assigned to tandraschko

[2017-04-03 11:38] tandraschko commented on #1439
Thanks!

[2017-04-03 11:57] melloware commented on #1862
I think this is related to #899 and fixed by #2201

[2017-04-03 12:14] liams62217 opened #2235 "Issue With InputNumber 6.1.RC2"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-04-03 12:25] tandraschko commented on #2235
Works fine for me in trunk/github master:

`
        <h:form>
            <p:messages />
            <p:outputLabel for="montantPAE" value="Montant" indicateRequired="true" />
            <p:inputNumber widgetVar="montantPAE"
                           required="true"
                           id="montantPAE" symbol="€" thousandSeparator=" "
                           decimalSeparator="," symbolP

[2017-04-03 12:26] #2235 closed, assigned to tandraschko

[2017-04-03 12:56] vonnai commented on #1862
The point 2. I don't think, that dialog should change size after update some component inside. Dialog should have fixed size to viewport and if a component overflows, scrollbar is the best practice.

[2017-04-03 13:37] vbors commented on #1862
Yes you are right, I expressed wrong.
The problem is that now if you have a component with lazy loading, after loading component the dialog exceed the viewport.

[2017-04-03 13:38] vbors commented on #1862
I fixed this in my project with an css 'max-height' property.

[2017-04-03 13:40] vbors commented on #1862
this is my code from function fitViewport of my extended Dialog:

[code]

[2017-04-03 14:05] melloware commented on #1862
Can your PR accomodate both fixes?

[2017-04-03 14:07] ggam opened #2236 "Wrong bevahiour on editable treetable with selectOneMenu"
## 1) Environment
- PrimeFaces version: 6.0.17 (the attached war uses 6.0 but the bug is also present on the latestversion)
- Does it work on the newest released PrimeFaces version? Version? No. I'm already using the latest version
- Application server + version: Payara 4.1.1.171
- Affected browsers: at least Firefox and Chrome (latest versions)

## 2) Expected behavior

The problem only happens o

[2017-04-03 14:07] vonnai commented on #1862
@vbors Did you try my fix? I think, it's not possible to exceed dialog viewport after lazy load.

[2017-04-03 14:20] melloware commented on #1862
My apologies I did not try the fix I was just asking if there was a clever way to fix all scenarios with your PR.  Like even adding a new property on dialog if someone does need this behavior.

[2017-04-03 14:25] vonnai commented on #1862
@melloware be cool, I think my PR fixes the point 1 of this issue.

[2017-04-03 14:33] tandraschko opened #2237 "Touch support for slider"

[2017-04-03 14:51] vbors commented on #1862
@vonnai I have not tried your fix, When I get time, I'll do a test and let you know :)

[2017-04-03 15:08] vbors commented on #1862
I read your commit changes and there i have a question:
the documentation of PF 6.0 for fitViewport say :

on line 113 there are:

[code]
after this on line 140 you add
`        this.content.height(winHeight - dialogMargin - titlebarHeight - contentPadding - footerHeight);`

So, i see there you have not an condition for height, after your code it has always viewport height?

[2017-04-03 15:10] #2237 closed, assigned to tandraschko

[2017-04-03 15:10] vbors commented on #1862
This aspect determined me to use CSS max-height

[2017-04-03 16:42] Rapster commented on #52
We plan to move to DF in the next few months. We open a lot of dialog through menu items, do you have an idea when this feature could be achieved?

[2017-04-03 23:46] djmj commented on #2062
Any change this fix will make it into 6.1, since it seems like a very small change?

[2017-04-04 06:05] vonnai commented on #1862
Yes, it has always viewport height and responsive. If content is bigger than viewport, height is correctly computed and there is scrollbar on the right side of dialog. Entire dialog is always visible and for example buttons in footer part will be always visible too.

[2017-04-04 07:08] liams62217 commented on #2235
Thanks you @tandraschko ,
FYI  that Works using  6.1.RC2  when  :
- I remove  :  symbol="€"
- I replace  : decimalSeparator=","  [comma] by decimalSeparator="." [point]

[2017-04-04 07:35] #2217 closed, assigned to tandraschko

[2017-04-04 07:50] vbors commented on #1862
I think there we should not have dialog with the viewport's height if the dialog size not exceeed viewport.

[2017-04-04 09:32] christophenoel commented on #1731
Got same problem with PF 6.0
Note I'm using dynamic columns in a (scrollable) datatable.

[code]

[2017-04-04 10:21] andyfinch opened #2238 "Column: New attribute exportValue for DataExporter (similar to exportFunction)"
## 1) Environment
- PrimeFaces version: 6.0.17
- Does it work on the newest released PrimeFaces version? New Feature

## 2) Expected behavior
Currently the column's Exported cell Value is either the contents of the p:column or derived from the ExportFunction attribute which should resolve to a MethodExpression which resolves to a String.

## 3) Actual behavior
I propose a new attribute of Exporter

[2017-04-04 11:05] melloware commented on #2178
Duplicate of https://github.com/primefaces/primefaces/issues/2217 which was already fixed.   Please close this ticket.

[2017-04-04 11:06] melloware commented on #2217
@tandraschko I think you can close this issue as a duplicate of this one.  https://github.com/primefaces/primefaces/issues/2178

[2017-04-04 11:08] melloware commented on #325
@tandraschko I believe this issue was fixed already with ticket https://github.com/primefaces/primefaces/issues/2226 and this can be closed.

[2017-04-04 11:14] #2178 closed, assigned to tandraschko

[2017-04-04 11:24] tandraschko opened #2239 "Slider: decimal support for min / max / step"

[2017-04-04 11:28] melloware commented on #75
@tandraschko this can be closed as this feature is already implemented with multiple="true".

[2017-04-04 11:30] tandraschko commented on #75
with target RC3?

[2017-04-04 11:41] #2239 closed, assigned to tandraschko

[2017-04-04 12:18] melloware commented on #75
I am using 6.0.17 and this feature works right now.

[2017-04-04 12:25] #75 closed, assigned to nobody

[2017-04-04 12:55] christophenoel commented on #1731
This should be fixed by:
https://github.com/primefaces/primefaces/issues/2138

[2017-04-04 13:17] tandraschko commented on #1731
should be or is fixed? Would be great if you could test it.

[2017-04-04 13:50] christophenoel commented on #1731
Sorry.
I just checked and it does not fix it at all.
Regards.

[2017-04-04 14:45] federicomartinlara1976 opened #2240 "calendar viewChange event bug"
## 1) Environment
- PrimeFaces version: 6.0 (Community)
- Application server + version: Tomcat 7.0 and Apache MyFaces 2.2.12
- Affected browsers: All browsers

## 2) Expected behavior
On push buttons next and prev, ajax event viewChange must change the month in calendar popup table

## 3) Actual behavior
ajax event viewChange hides and shows the same month in calendar popup table
..

## 4) Steps t

[2017-04-04 15:25] tandraschko commented on #2240
Can't replicate. The month is is correct on the view and in the event class.

[2017-04-04 15:26] tandraschko commented on #2240
Also the exmaple is not valid and not fully runnable. So please provide a small xhtml + bean without any other dependencies (like a CC or something).
Will close it for now till updated with a better example.

[2017-04-04 15:26] #2240 closed, assigned to nobody

[2017-04-05 00:06] melloware commented on #2191
@RueKow I will take this one and submit a PR.

[2017-04-05 08:21] weissreto commented on #424
We have large screens with a lot of data on them. We would like to use dynamic tabs so that we could load the data of the tabs on request. This will increase the performance of the initial screen response time a lot. Unfortunately this bug makes the feature unusable for us.

Why was it closed?
Could you please have a look at it?

[2017-04-05 11:12] melloware commented on #2207
PR submitted!

[2017-04-05 11:35] vonnai commented on #1862
If you can suppose, that dialog height will not exceed, you don't need fitViewPort property. If you can suppose, that content can exceed the window height, why should dialog change his height dynamicaly? It's more user friendly dialog looks like the same all the time. User always knows, where is the cancel button for example. But you are right, in documentation is written as you say.

[2017-04-05 12:33] vbors commented on #1862
Because it must be responsive, depending on screen size.

[2017-04-05 12:36] #2207 closed, assigned to tandraschko

[2017-04-05 12:47] #2225 closed, assigned to tandraschko

[2017-04-05 12:50] vonnai commented on #1862
it's fully responsive

[2017-04-05 13:03] melloware commented on #1551
Submitted PR which solves this a slightly different way if you are using an HTML5 browser. #2191

[2017-04-05 13:04] melloware commented on #2191
PR submitted I made one slight modification to your JS code.

[2017-04-05 13:10] tandraschko commented on #2191
AFAICS you added new placeholder attribute to the label, too. Why?

[2017-04-05 13:13] tandraschko commented on #2191
(i'm asking because i think that "placeholder" is not a valid attribute for a label element)

[2017-04-05 13:15] melloware commented on #2191
You are right I just updated the PR and removed it.  It was in @RueKow's code so I assumed it had some value but looking at the HTML5 docs it can't be used on a label!   Good catch!

[2017-04-05 13:19] tandraschko commented on #2191
I still think there is something wrong.
It tries to get the placeholder from the label: var labelText = this.label.attr('placeholder');

Also i'm not sure why a "ui-watermark" is required. Also, AFAIR there are some cases when the there is a label used instead input.

[2017-04-05 13:20] melloware commented on #2191
You are right I guess @Ruekow idea was if the label was being displayed it would show the placeholder value instead of blank.  But that really doesn't make sense the only thing this could should do is add the HTML placeholder to the Input.

[2017-04-05 13:29] melloware commented on #2191
That is what it is doing.  When the label is used if this is a read-only or disabled SelectOneMenu he must want to display the placeholder value.  That makes sense to me.

[2017-04-05 13:36] tandraschko commented on #2191
thats ok but as i said, placeholder is not allowed on label. So it should be a data attribute instead.

[2017-04-05 13:44] melloware commented on #2191
Good call i updated to "data-placeholder" for lack of a better data- name?

[2017-04-05 13:50] tandraschko commented on #2191
Yep, but please use jQuery's data method instead attr.
Also, please check that this code is only called when the label AND not the input is displayed.

[2017-04-05 14:47] tandraschko commented on #2238
There already is "exportFunction".

[2017-04-05 15:01] melloware commented on #2191
OK i tested every permutation with my latest changes.

1. Normal SelectOne with <f:selectItem itemLabel="Select One" itemValue="" /> displays "Select One" without the watermark entirely.

2. editable="false" with placeholder="Non Editable" and <f:selectItem itemLabel="" itemValue="" /> show the label styled to look like a watermark.

3. editable="true" with placeholder="Editable" and <f:selectItem

[2017-04-05 15:09] #2191 closed, assigned to tandraschko

[2017-04-05 15:09] tandraschko commented on #2191
merged it for 6.1 as it's a very small feature. Thanks.

[2017-04-05 15:12] andyfinch commented on #2238
You obviously didn't read what I put.  ExportFunction is heavyweight.  ExportValue would be fair simpler to use.

[2017-04-05 16:43] tandraschko commented on #2238
There is nothing heavyweight on exportFunction.
You can simple define a globalController which do a toString() ->

p:column exportFunction="#{exportUtil.toString(item.myValue}"

But i can leave your request open for the future ;)

[2017-04-06 07:31] andyfinch commented on #2238
Thank you tandraschko.  Yes by having to write a function we have already adding complexity.  The function will either have lots of if/else/switch in when working with multiple columns/values or you have to write multiple functions. Either way the potential for lots of code.  In my use case I have 1 column which I add hidden data on screen.  Currently this hidden data comes out on the exporter.  W

[2017-04-06 07:38] tandraschko commented on #2238
Yep exactly but the problem is that the most ValueExpressions are not a string, therefore we would probably neeed to attach converters or just call toString().

maybe yes!

[2017-04-06 08:17] andyfinch commented on #2238
For info this is some code in 5.2.12 (my current production version) I've overridden to get this working for myself.

`public class CustomExcelExporter extends ExcelXExporter {

    @Override
    protected void exportCells(DataTable table, Object document) {
        Sheet sheet = (Sheet) document;
        int sheetRowIndex = sheet.getLastRowNum() + 1;
        Row row = sheet.createRow(sheetRowInde

[2017-04-06 11:59] melloware commented on #709
Duplicate of #1760

[2017-04-06 11:59] melloware commented on #1760
Duplicate of #709

[2017-04-06 12:09] krichter722 opened #2244 "Document TransferEvent"
Please document `org.primefaces.event.TransferEvent` (see https://www.primefaces.org/docs/api/6.0/ for the empty Javadoc).

[2017-04-06 12:18] tandraschko commented on #2244
All of our events are undocumented and there is a small docu in the user guide.
So feel free to provide a PR or it will likely not happen ;)

[2017-04-06 12:52] #709 closed, assigned to tandraschko

[2017-04-06 12:52] #1760 closed, assigned to tandraschko

[2017-04-06 12:55] thiotes opened #2245 "Feature requests for p:growl"
Hi, i have some issues with the component (we are using version 6.0)

The first is that i cannot change the close icon behavior. I would like to always show the icon to close the message, but since it is a scripted to show and hide, that's a bit problematic. Was it not possible to use CSS for it?

The second is that i would like to automatically close (sticky=false) only messages of severity info,

[2017-04-06 13:00] tandraschko commented on #2245
Please don't create one issue for multiple stuff! 1 issue = 1 request!
Also the first is a question -> use the forum or create a feature request with exact description what you would like to change here.

[2017-04-06 13:00] #2245 closed, assigned to nobody

[2017-04-06 15:19] laurinmueller opened #2246 "Wrong Javascript load order when p:inputTextarea is the first Primefaces component on a page"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) I don't know
- Application server + version: Websphere 8.5.5.8
- Affected browsers: all

## 2) Expected behavior
no javascript error in the browser de

[2017-04-06 15:25] tandraschko commented on #2246
already fixed by #1573

[2017-04-06 15:25] #2246 closed, assigned to nobody

[2017-04-06 15:26] laurinmueller commented on #2246
Thanks!

[2017-04-06 16:19] buett opened #2247 "Wrong behavior in SelectOneRadio with non selection item"
## 1) Environment
- PrimeFaces version: 6.0, 6.1.RC2, 6.1-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? no, 6.0
- Does it work on the newest sources in GitHub? (Build by source ->  https://github.com/primefaces/primefaces/wiki/Building-From-Source): no
- Application server + version: tomcat 8.5.x
- Affected browsers: Chrome, Firefox

## 2) Expected behavior

I have a

[2017-04-06 16:20] buett commented on #2247
I could provide a patch or could trigger a pull request.

[2017-04-06 18:22] tandraschko commented on #2247
a PR would be great

[2017-04-06 22:46] slovi opened #2248 "Dialog Framework: Inner dialog with dialog status does not work correctly in Firefox 52.0"
## 1) Environment
- PrimeFaces version: 6.0, 6.1.RC1, 6.2.RC2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: tomcat 7
- Affected browsers: Firefox 52.0

## 2) Expected behavior
Inner dialog (dialog 2 in exa

[2017-04-07 03:29] ravihariharan opened #2249 "p:chips style="width:100%" issue"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-04-07 11:23] mydeadlyvenoms commented on #1993
Hi @mertsincan were you able to reproduce the issue? If not, let me know.

[2017-04-07 11:40] melloware commented on #2249
I see what you mean.   I think to be most flexible an inputStyle + inputStyleClass would need to be added as well as a chipStyle and chipStyleClass to custom style the chi labels themselves.

If you need to accomplish this right now you can do it pretty easily with CSS.

[code]

And in your XHTML.
[code]

[2017-04-07 13:44] slovi opened #2250 "Build - minifying process ends with error"
Charts.js contains unsupported white char and causes build error.

## 1) Environment
- PrimeFaces version: 6.1-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Windows 7, CZ
- Affected browsers: X

#

[2017-04-07 15:47] #2250 closed, assigned to tandraschko

[2017-04-07 17:55] buett commented on #2247
PR #2252

[2017-04-07 19:36] kemperalves opened #2253 "Schedule problem with el expression on then "view" propertie"
When using schedule with dynamic view property its causes a throw, tested in the last version, is too simple to reproduce, simple set the "view" property of schedule to use a el expression, like this:

I uploaded a project that simulate this issue to:

https://github.com/kemperalves/WebApplication1

`
view="#{(true)?'agendaDay':'agendaWeek'}"
`

or simple

`
view="#{'agendaDay'}"
`

Complete examp

[2017-04-08 12:03] melloware commented on #1892
@gyan2 i would close this issue.   The ? is a special regex character you can read about here.

https://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html

From looking at your example above it makes no sense when you say you were expecting '1.23.456.78)'.  Why would you expect the first parenthesis to not be displayed but the second one?  It looks like you are trying to do some kind o

[2017-04-08 12:04] melloware commented on #1893
@gyan2 I can't replicate this either.  I recommend closing the issue.

[2017-04-08 12:16] melloware commented on #1625
@ltlBeBoy I think the current behavior is correct for your exact example of if the table had a million rows it would crash the browser with so much DOm rendering.   So I think just the documentation needs to be updated to not say 0 will show all rows.

[2017-04-08 12:24] melloware commented on #1929
Linking to https://github.com/primefaces/primefaces/issues/1377

[2017-04-08 12:24] melloware commented on #1377
Duplicate of #1929

[2017-04-08 12:40] melloware commented on #742
@mertsincan was this ever implemented in PF itself?  It seems like this would be a better default styling?

[2017-04-08 16:08] #1377 closed, assigned to nobody

[2017-04-08 16:09] #1893 closed, assigned to nobody

[2017-04-08 16:10] tandraschko commented on #1892
@melloware Is the mask really used on the server side, too? AFAIR its only used on the client, you have the check the JS regex docu, not java's Pattern.

[2017-04-08 16:12] tandraschko commented on #2247
Thanks!

[2017-04-08 16:12] #2247 closed, assigned to tandraschko

[2017-04-08 17:26] melloware commented on #1993
@mydeadlyvenoms I am the original reporter of the OmniFaces defect and I am not having this issue with XML exports on PF 6.0.17 + OmniFaces 2.1+.    What versions are you using?

[2017-04-08 17:33] mydeadlyvenoms commented on #1993
Hi @melloware humm interesting... Here you can find my POM: https://github.com/mydeadlyvenoms/PrimeFacesIssues/blob/master/PrimeFacesIssues/pom.xml

[2017-04-10 07:23] gulbinas opened #2254 "JSF1064: Unable to find or serve resource, messages/messages.png, from library, primefaces."
## 1) Environment
- PrimeFaces version: RC_6.2
- Does it work on the newest released PrimeFaces version? Version? Yes. 6.0 was ok
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Payara 4.1.1.171
- Affected browsers: all

## 2) Expected behavior

No error

## 3) Actual behavior

[2017-04-10 07:39] sergi-mm commented on #1406
Hi @mertsincan, I've added a pull request to fix this issue just now. Please take a look at Pull Request #2255 .

Thanks.

[2017-04-10 07:51] tandraschko commented on #2254
No example, it works fine for us -> invalid.

[2017-04-10 07:51] #2254 closed, assigned to nobody

[2017-04-10 11:06] tandraschko commented on #1012
@kito99 Why do you need this?
The problem is that onchange is often a AJAX event and therefore the value is the old value when the ajax request fires. No idea why does it work currently but i will revert this change to fix the order.

[2017-04-10 11:35] melloware commented on #1993
OK so I see what you have so I ran the following test:

- Jboss Wildfly 10
- JDK 8
- OmniFaces 2.6.2
- PrimeFaces 6.1-SNAPSHOT

When I run the XML does download for me but I can confirm I do see this stack trace in the logs.

[2017-04-10 11:39] mydeadlyvenoms commented on #1993
Hi there, thank you very much for the verification. But I don't want to open a new issue, since this one clearly belongs to your original issue.

[2017-04-10 11:46] melloware commented on #1993
Both CSVExporter and XML Exporter both do this...

[code]
So it is weird CSVExporter works but XMLExporter throws the stack trace.

[2017-04-10 11:52] melloware commented on #1993
Submitted PR.

[2017-04-10 11:57] mydeadlyvenoms commented on #1993
Awesome, Thank you @melloware - that was fast ;-)

[2017-04-10 11:58] melloware commented on #1763
I submitted a PR for this.

[2017-04-10 12:06] tandraschko opened #2258 "InputNumber problem with event handling"
Currently we do the following:
- overwrite the event handler on the input (onchange, keyup, keydown)
- in the event handler, we first execute the original event
- after that, we copy the input to the hidden input (this is required that the server side can get the cleaned input, without any suffixes and prefixes

the problem is now the following:
onchange might trigger p:ajax, which posts the value

[2017-04-10 12:07] tandraschko commented on #2258
this also fixes p:slide in combination with p:inputNumber

[2017-04-10 12:10] #2258 closed, assigned to tandraschko

[2017-04-10 12:17] #1763 closed, assigned to tandraschko

[2017-04-10 12:19] melloware commented on #1540
I just submitted a PR but note that PrintScreen is not gauranteed to be code 44 in all browsers!

http://stackoverflow.com/questions/31835095/keycode-for-print-screen-44-is-not-working

[2017-04-10 12:49] kito99 commented on #1012
@tandraschko, I don't quite understand. Did this ever get fixed?

[2017-04-10 13:04] SantoshCCS opened #2260 "Bug in calendar time in showcase of primefaces"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-04-10 14:02] tandraschko commented on #1012
Yep, its fixed in 6.0. I just changed some implementation details but it should still work.

[2017-04-10 14:03] cnsgithub opened #2262 "JSF 2.3 support for PF Elite"
Hi, it seems that p:inputText does not support pass-trough for data attributes. I think this was working in a previous primefaces version.

Possibly problematic line

`
renderPassThruAttributes(context, inputText, HTML.INPUT_TEXT_ATTRS_WITHOUT_EVENTS);
`

Version used: 6.0.17 Elite

In my opinion data-* attributes should always be allowed for passtrough, as it is allowed HTML5

Thanks

[2017-04-10 14:12] mertsincan opened #2263 "stateKey issue on DataTable with tableState"
Reported By PRO User;

TableState.xhtml
[code]

detail.xhtml
[code]

[2017-04-10 14:12] tandraschko commented on #2262
Please try 6.1.RC2
Also debug renderPassThruAttributes - you will see that there renderDynamicPassThruAttributes will be called if JSF 2.2 is used.

[2017-04-10 14:13] tandraschko commented on #2260
Duplicate: https://github.com/primefaces/primefaces/issues/2220

[2017-04-10 14:13] #2260 closed, assigned to nobody

[2017-04-10 14:21] cnsgithub commented on #2262
I'm already using JSF 2.3. Could it be caused by this? Will try 6.1 RC thanks

[2017-04-10 14:32] #2263 closed, assigned to nobody

[2017-04-10 14:35] tandraschko commented on #2262
Please debug and check the if statements!
Otherwise i can't help and just have to close this issue as you miss many informations.

[2017-04-10 14:38] tandraschko commented on #2262
It could also be a Mojarra 2.3 bug, so pls try 2.2 too ;)

[2017-04-10 14:41] tandraschko commented on #60
@melloware your fix add this attribute to p:confirmDialog but the issue here is about p:confirm.

[2017-04-10 14:41] #1540 closed, assigned to tandraschko

[2017-04-10 15:00] melloware commented on #60
hmmm I was using the showcase example...

https://www.primefaces.org/showcase/ui/overlay/confirmDialog.xhtml

But it looks like the Dialog is what renders the message so the escapeMessage I thought should go on the dialog and not on the p:confirm?  I can look at this some more to see how the p:confirm actually links to the confirmDialog.

[2017-04-10 15:03] tandraschko commented on #60
Yep, just check it.
ConfirmDialog doesn't need a escapeMessage attribute as the facet can be used. On p:confirm, a facet can NOT be used.

[2017-04-10 15:03] melloware commented on #60
Ahhh I see it now it actually renders a Script to the UI.  let me cancel this PR and fix it a different way

[2017-04-11 06:22] cnsgithub commented on #2262
The reason seems to be that PF 6.0 just checks for (   return version.startsWith("2.2");  ) . So if PF 6.0 does not support JSF 2.3 it's fine. With PF 6.1 RC2 it works again

---

However if there's no reason to _not support_ a jsf 2.3 config on PF 6.0 , maybe it could be backported?
The method is named 'isAtLeastJSF22()'  -  and well JSF 2.3 is 'at least 2.2'

[2017-04-11 07:25] tandraschko commented on #2262
@mertsincan would you like to port everything? I wouldn't do it as there are more commits for it - also for dynamic resource loading, parameter namespacing and else...

[2017-04-11 07:28] cnsgithub commented on #2262
A simple solution probably could be to just assume JSF 2.3 is JSF 2.2 for PF 6.0 - as there should not be any drawbacks. Of course new features are not supported - but not necessary

[2017-04-11 09:46] tandraschko commented on #2262
Nope, it will lead to other errors, too.

[2017-04-11 11:59] melloware commented on #325
@mertsincan and @tandraschko this defect should be closed as it is fixed by #2226

[2017-04-11 12:01] melloware commented on #2249
I have added inputStyle and inputStyleClass to chips like...

[code]

[2017-04-11 12:58] #325 closed, assigned to nobody

[2017-04-11 13:54] kukel commented on #2253
But #{'view'} is not writable, so the error is correct...  Use a normal 'field' with getter and setter that contains the logic...

[2017-04-11 15:51] slovi commented on #2248
Example app git repository changed to https://github.com/slovi/primefaces-bugs

[2017-04-12 00:48] ghost commented on #2049
I think this issue should be resolved. I used a workaround javascript in my project. I called this script whenever the table contents changed, or on window resize. It is a little clunky at times, and i feel this would work better if something like this was used within the primefaces code.

[code]

[2017-04-12 08:24] mertsincan opened #2265 "XSS issue on Terminal"
Text;
prime $ greet<script>alert('test')</scipt>

[2017-04-12 08:25] #2265 closed, assigned to nobody

[2017-04-12 09:29] tandraschko opened #2266 "JSF 2.3: SEF (@next, @previous, @child) should also skip UILeaf / markup components"
See
javax.faces.component.search.UntargetableComponent

[2017-04-12 10:49] mertsincan opened #2267 "Default sort issue on DataTable with multiViewState"
Some changes were made on the fix of #2212.

[2017-04-12 10:50] #2267 closed, assigned to nobody

[2017-04-12 11:01] #2266 closed, assigned to tandraschko

[2017-04-12 11:11] tandraschko commented on #2262
As there are already community releases which are supporting JSF 2.3, it doesn't make sense to port this features as it's risky to just merge them.

@mertsincan please reopen if you would like to port it.

[2017-04-12 11:11] #2262 closed, assigned to nobody

[2017-04-12 11:54] omerzimeri1 opened #2268 "When using DataTable and RowEditor there is a LineBreak in the Column. How to remove ?"
## 1) Environment
- PrimeFaces version: 6.0

## 2) Actual behavior

I am using a DataTable und RowEditor. But when i use Celleditor in a Column where a inputText and a OutputText is, then there is a automatically a LINEBREAK added.

## 3) Expected behavior

NO LINEBREAK when using RowEditor in DataTable!

## 4) Sample XHTML

[code]

## 5) RENDERED HTML EXAMPLE

[code]

## 6) OUTPUT RENDERED HTML

[2017-04-12 14:34] djmj opened #2269 "Subtable should not be deprecated"
Subtable should not be deprecated since row grouping does not provides same functionality as subTable does.

We have already grouped data in bean like following simple example. I don't know how to realize it without subtable? So subtable should not be deprecated.

  	Map<String, List<String>> data;

  	<p:dataTable var="varType" value="#{bean.data.keySet()}">
  	  	<p:subTable var="varValue" value

[2017-04-12 15:07] melloware commented on #2268
Just to clarify... Do you mean a line break "BR" or space "nbsp;"?

[2017-04-12 15:19] omerzimeri1 commented on #2268
It's a "&nbsp;"
Look at the picture how it is renderee in Datatable

[2017-04-12 15:20] omerzimeri1 commented on #2268
It's a "& nbsp;"

[2017-04-12 19:32] gmlongo1 opened #2270 "Paginator Dropdowns Don't Match Theme"
## 1) Environment
- PrimeFaces version: 5.3
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 8
- Affected browsers: All

## 2) Expected behavior
The RowsPerPageDropdown and the JumpToPageDropdown inside the Paginator should be rendered in the same style/theme as the Primefaces SelectOneMenu.

## 3

[2017-04-13 11:41] mertsincan opened #2271 "Position issue on the panel of Calendar in Dialog"
Reported By PRO User;

[2017-04-13 11:43] #2271 closed, assigned to nobody

[2017-04-13 12:57] melloware commented on #2268
Hmm I am not seeing this behavior on the latest showcase is it possible this is already fixed?

https://www.primefaces.org/showcase/ui/data/datatable/edit.xhtml

[2017-04-13 13:23] omerzimeri1 commented on #2268
Yeah but the showcase runs in the version PrimeFaces-6.1-SNAPSHOT.

I'm using the version 6.0.

Is the PrimeFaces-6.1-SNAPSHOT - Version free for usage ?

[2017-04-13 13:27] melloware commented on #2268
Yes 6.1.RC2 is free for download read here:

https://www.primefaces.org/primefaces-6-1-rc2-released/

If you discover it is fixed after trying this version please Close this defect.

[2017-04-14 00:04] melloware commented on #2104
I would report this to the sentinel team to have them fix this in their CSS.  It seems to work fine with bare bones PF without a custom theme.  Report this issue to Sentinel here:

https://forum.primefaces.org/viewforum.php?f=23

[2017-04-14 00:06] melloware commented on #2102
If you already have a solution above why not propose a pull request?

[2017-04-14 10:22] tandraschko commented on #2104
Yep, or use the layouts issue tracker.

[2017-04-14 10:22] #2104 closed, assigned to nobody

[2017-04-14 11:07] kukel commented on #2268
Sure you did not add a 'nbsp' yourself somewhere by pressing ctrl-space or something?

[2017-04-14 19:48] melloware commented on #861
@tandraschko you can close this bug as it is explained by Optimus Prime in this blog post...

https://www.primefaces.org/stateful-column-toggler/

[2017-04-15 03:30] jxmai commented on #861
Duplicate as #1678, #1548, #217, #96

[2017-04-15 04:43] andresgarcia0313 opened #2274 "primefaces-crud-generator-with-netbeans"
Failed to install / Error al instalar
https://www.primefaces.org/primefaces-crud-generator-with-netbeans/
What I can do?  PLEASE!!!  / Que puedo hacer? please andresgarcia0313@gmail.com

[2017-04-15 07:51] tandraschko commented on #2274
Its not maintained by us, use the project website to get in contact: https://sourceforge.net/projects/nbpfcrudgen/

[2017-04-15 07:51] #2274 closed, assigned to nobody

[2017-04-15 09:56] mayankX opened #2275 "PhotoCam: add auto detach when rendered=false"
Need a way to stop/disable photocam, currently rendering photocam false, still doesn't disable browser photocam and also prevents photocam from working when rendering it back to true.

[2017-04-15 10:58] #861 closed, assigned to nobody

[2017-04-15 10:58] tandraschko commented on #861
Thanks!

[2017-04-15 23:18] melloware commented on #2275
Can you elaborate more on what you are looking for?  Are you looking for a disabled="true" attribute on the Photocam?

Also have you tried just shutting it down with Javascript by calling PF('yourWidgetVar'). dettach(); ?? That resets the camera and unhooks it from the component.

[2017-04-15 23:40] melloware commented on #2160
I agree I see the warning but there is nothing wrong with the generated HTML.  I feel like this is an IE false positive with its parser.

[2017-04-16 00:32] mayankX commented on #2275
Hi @melloware thnx for information on the **dettach** function, I was unable to find it anywhere in the documentation.

Also i am looking for this function to be called automatically whenever component is rendered **false**

And a disabled true/false functionality would be nice as well.

[2017-04-16 08:26] jepsar opened #2276 "BreadCrumb: add option to disable the last item by default"
Allowing a h:outputText in p:breadCrumb would be nice, or a current / last item text attribute on p:breadCrumb.

[2017-04-17 11:28] melloware commented on #2270
The Paginator is a normal HTML <select> option whereas the SelectOneMenu is a rendered <div> with multiple CSS stylings to make it look like a <select> box but really is not.

Maybe those stylings can be applied to the Paginator select but I am not that great at CSS to try and fix this one.

[2017-04-17 11:32] melloware commented on #2268
@omerzimeri1 Were you able to test 6.1RC3 and verify?

[2017-04-17 11:38] melloware commented on #2195
This appears to be done on purpose that if it is active it does not add the hover although I am not sure why?

[code]

[2017-04-17 11:50] JensPiegsa commented on #2195
Thanks for looking into this. Maybe it is just copy-pasted from somewhere else, where it makes more sense, e.g. navigation, where interaction with the 'already active element' does not have a meaningful purpose.

[2017-04-17 11:52] rodriST opened #2277 "Tree: Selecting and unselecting node programmatically"
Hello,

I am a newcomer in JSF and Primefaces, so if this is not a bug, sorry for opening the issue. I have written first in the forum, but nobody has answered me.

## 1) Environment

I have downloaded the test project ( https://github.com/primefaces/primefaces-test ) and I have modified it to reproduce error.

I have experienced this error in Firefox, Chrome and Opera, in Windows.

## 2) Expected

[2017-04-17 12:23] melloware commented on #2276
Since Breadcrumb is a menu container I don't think they will modify it to take anything other than p:menuitem's.

Can you elaborate on what you are trying to accomplish and maybe there is a way of doing it right now.  Such as styling your particilar menu item to look like text instead of a link and having the menu item url="#" so it does nothing.  You could event modify the style to remove the han

[2017-04-17 12:40] gmlongo1 commented on #2270
Yes, I can style the control somewhat with CSS, but it would be nice if these select controls were rendered identically to the SelectOneMenu, so that the same theme styles can be applied consistently.

[2017-04-17 13:49] melloware commented on #2270
I would say if you can figure it out with CSS submit a PR!

[2017-04-17 13:55] omerzimeri1 commented on #2268
i have tested 6.1.RC3, but it is not working
I have the same problem as in 6.0
The Linebreak ist not removing

[2017-04-17 13:57] melloware commented on #2268
OK my next suggestion then is to make a reproducible example for us to debug.   Because I can't reproduce your issue using the showcase.  To reproduce use this template...

Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to receive an answer and a solution.

[2017-04-17 15:37] omerzimeri1 commented on #2268
ok here is the result with primefaces-test.git

## 1) Model:

[code]

## 2) Controller:

[code]

## 3) View:

[code]

## 4) OUTPUT RENDERED HTML

You can see that there is a LineBreak ("& nbsp;") above the INPUTTEXT and the text-alignment ist not in the middle. In primefaces-showcases isn't a LineBreak!

![Example image](https://github.com/omerzimeri1/markdown-image/raw/master/test.JPG "image")

[2017-04-17 16:36] tandraschko commented on #2270
Its not possible with plain CSS.
Also it must be configurable as many persons e.g. use h:selectOneMenu and not p:selectOneMenu.

[2017-04-17 17:01] gmlongo1 commented on #2270
Good point Thomas about having a configuration option for using the native JSF selectOneMenu or the primefaces selectOneMenu.

[2017-04-17 17:09] melloware commented on #2268
Can you zip up the project and attach here as a .gz or some other way?  That way I can run it myself.

[2017-04-17 17:18] omerzimeri1 commented on #2268
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/926156/primefaces-test.zip)

[2017-04-17 17:31] gasparbarancelli opened #2278 "TimeLine: Cannot add the same component twice"
**1) Environment**

- **PrimeFaces version**: All version above 6.0.12
- **Application server + version**: GlassFish Server Open Source Edition 4.1 (build 13) / Payara Server 4.1.1.163 #badassfish (build 215)
- **Affected browsers**: All

**2) Expected behavior**

Update component timeline.

**3) Actual behavior**

The screen only renders on first access.

**4) Steps to reproduce**

I used the sam

[2017-04-17 17:38] jepsar commented on #2276
Thanks. I would prefer not to hack workarounds like this.

Maybe a facet is easier to add to a menu container?

[2017-04-17 17:41] tandraschko commented on #2278
does it work with newer mojarra versions? As it works fine in the showcase with both mojarra and myfaces, it think its a mojarra bug in the version used by glassfish.

[2017-04-17 17:43] tandraschko commented on #2278
also make sure that the deployed WAR doesn't contain a jsf-api/jsf-impl.

[2017-04-17 18:02] melloware commented on #2268
Found your issue.  Look at my screenshot my editor is showing a garbage unicode character "A" in the file right before <p:cellEditor>.  As soon as I remove those two invalid characters your table renders correctly.

![image](https://cloud.githubusercontent.com/assets/4399574/25098401/61fb47c4-2376-11e7-9d42-b3bd6992ff69.png)

[2017-04-17 18:21] melloware commented on #2276
A facet would be the right way to go for this feature.

[2017-04-17 18:43] omerzimeri1 commented on #2268
Thats weird. I used netbeans so i couldn't see that there is a unicode character "A".

[2017-04-17 19:18] melloware commented on #2268
I could not see it in Eclipse either!   So I finally used my hex editor to see if there was anything in there and sure enough.  So I think its safe to close this ticket.

[2017-04-17 19:20] #2268 closed, assigned to nobody

[2017-04-17 19:43] melloware commented on #2277
I have tested and confirmed this issue using the example above.

[2017-04-17 20:04] gasparbarancelli commented on #2278
Our system is very broad, has more than 400 controllers, we use JSF with Primefaces in all views, but only in versions above 6.0.12 with the timeline component this error occurs.

[2017-04-17 23:24] jamesdcampbell commented on #2155
I'm having the same issue. When going back to the page, none of the filters are being sent to the LazyDataModel.

[2017-04-18 07:21] mertsincan opened #2279 "Improve omega styling for disabled day on Calendar"

[2017-04-18 07:22] #2279 closed, assigned to nobody

[2017-04-18 08:05] mertsincan opened #2280 "Pattern issue on Calendar with timeOnly"
You can reproduce it on https://www.primefaces.org/showcase/ui/input/calendar.xhtml
Test;
- select a time on timeOnly demo
- click submit button

[2017-04-18 08:05] #2280 closed, assigned to nobody

[2017-04-18 08:19] RaveKev commented on #2270
I asked for that feature on facebook (this ticket is a result), because i styled the p:selectOneMenu-elements already and have a hard time, trying to style the<select>-elements the same way (also on the p:calendar).

It's not only the style of the box itself that couldn't be styled on each browser, but also the list of the selectable elements. p:selectOneMenu is a **huge** enrichment with its div-

[2017-04-18 08:29] #1637 closed, assigned to cagataycivici

[2017-04-18 08:30] #2035 closed, assigned to cagataycivici

[2017-04-18 08:33] #1737 closed, assigned to cagataycivici

[2017-04-18 08:37] mertsincan commented on #2208
Hi @tandraschko,
We have an issue related to inputNumber and slider. Could you please check it?
You can see it on http://localhost:8080/showcase/ui/input/slider.xhtml (InputNumber Slider demo)
Test;
-  please slide p:slider component
-  enter a value to inputNumber(Exp: 12).
- then, please try to slide p:slider again. You'll see a JS error to console.

[2017-04-18 09:40] tandraschko commented on #2208
@mertsincan seems like i only tested one direction of the binding :D

[2017-04-18 11:03] mertsincan commented on #2220
Fixed for 6.1.Final and 6.0.19. https://github.com/primefaces/primefaces/issues/2280

[2017-04-18 11:03] #2220 closed, assigned to nobody

[2017-04-18 11:08] melloware commented on #2220
@mertsincan I think you can close https://github.com/primefaces/primefaces/issues/2013 as well as its the same issue I believe.

[2017-04-18 11:17] mertsincan opened #2281 "Improve input styling on Chips"
Added "ui-widget" to token input.

[2017-04-18 11:17] #2281 closed, assigned to nobody

[2017-04-18 11:19] mertsincan commented on #2220
Thanks @melloware :)

[2017-04-18 11:19] mertsincan commented on #2013
Fixed for 6.1.Final and 6.0.19. #2280

[2017-04-18 11:19] #2013 closed, assigned to nobody

[2017-04-18 11:44] mertsincan commented on #2236
Fixed for 6.0.19.

[2017-04-18 11:44] #2236 closed, assigned to nobody

[2017-04-18 12:02] tandraschko commented on #2208
fixed ;)

[2017-04-18 12:30] mertsincan commented on #2208
Thanks a lot, @tandraschko :) it works fine for me ;)

[2017-04-18 12:41] erickdeoliveiraleal opened #2282 "Update Quill to 1.2.4"
Update Quill to 1.2.4

[2017-04-18 13:17] ggam opened #2284 "process="@none" on rowReorder event on Datatable doesn't work"
The `rowReorder` event of the Datatable component always processes the component itself, even when setting the `process` to `@none`. That works on other events, but not on `rowReorder`.

## 1) Environment
- PrimeFaces version: 6.1.0RC3
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces

[2017-04-18 13:28] tandraschko commented on #2284
Why would you set it to @none?

[2017-04-18 13:29] tandraschko commented on #2278
You didn't answer my questsions ;)
Feel free to analyze the changes between 6.0 and 6.1 and provide a PR.

[2017-04-18 13:36] gasparbarancelli commented on #2278
I have not declared any dependencies in jsf-api / jsf-impl in my pom.xml, dependencies are provided by Glassfish and Payara servers.

Yesterday test with the latest version of Payara and the error still occurs.

Everything happens as expected in the versions of primefaces below 6.0.12.

[2017-04-18 14:33] jxmai commented on #2278
@gasparbarancelli Please take a look at this changelog (https://github.com/primefaces/primefaces/issues?q=is%3Aissue+is%3Aclosed+label%3A6.0.13) to find out if anything you need. There was indeed a change on timeline during 6.0.13 (https://github.com/primefaces/primefaces/commit/92781482b4bedc8edb7041e3b8a368e81fb6aa2e). You can checkout the commit before and after to build PF from source in order

[2017-04-18 14:40] benoitbb commented on #2155
Hello guys,

Any chance to have an answer for this issue ?

Thank you.
Regards,

[2017-04-18 15:03] mertsincan opened #2285 "Grid Css issue on IE10"
Added -ms-flex-wrap: wrap; to .ui-g class.

[2017-04-18 15:04] #2285 closed, assigned to nobody

[2017-04-18 15:15] vip30 opened #2286 "Datatable: reflow mode using columns incorrect sorting dropdown"
## 1) Environment
- PrimeFaces version: 6.0
- Application server + version: JBoss EAP 6.1
- Affected browsers: All

## 2) Expected behavior
Use columns in reflow datatable and display headertext for sorting
The responsive dropdown filter will display the headertext correctly

## 3) Actual behavior
The columns headertext disappear on the dropdown menu but can be shown in the tbody
The first of five

[2017-04-18 18:12] gasparbarancelli commented on #2278
Exactly it was a commit of version 6.0.13 that caused this problem to occur, the getClientId method of the Timeline class was changed, more precisely in the call of the method this.setParent(this.parentComponent);

https://github.com/primefaces/primefaces/commit/92781482b4bedc8edb7041e3b8a368e81fb6aa2e

[2017-04-18 19:00] jxmai commented on #2278
@gasparbarancelli Since there is no sample code attached so it is hard for others to verify whether or not your use case is valid.  I looked at your stacktrace, you are using timeline inside a tabview. could you take the timeline out of the tabview container and test again ?

---

Looking at the source, the changes seem OK:

- if no parent component defined and the parent is not a form - > add par

[2017-04-18 19:42] gasparbarancelli commented on #2278
@jxmai
The problem really only occurs if the timeline component is inside a tab component.
I just added the timeline component inside a form and the component was rendered successfully.

If I set the value false to the prependId property of the tabview component the component is rendered successfully.

[2017-04-18 19:55] jxmai commented on #2278
Yes, this is what I expected :smile:

Yes, you can define `prepend ID to false` for your case (`default is true`), so the naming container id won't be part of the client id. The old code achieved somewhat like prepend ID to false unintentionally I guess.

---

@gasparbarancelli  If nothing else, you can close this ticket :)

[2017-04-19 03:35] jamesdcampbell commented on #2155
I just used two listeners to save the state of the pagination and filters till they get it working with the LazyDataModel. So it would look like:

XHTML:
[code]

Controller
[code]

This seems to give the datatable the intended functionality and is a good bandaid for now.

[2017-04-19 06:45] benoitbb commented on #2155
Hello,
Yes this should do the job. But to be in the same scope as the option MultiViewState (Session scope), the int and the Map has to be in a session Bean scope. ( I do not know if your "controller" dataTableController is a scope Session Bean )

Regards,

[2017-04-19 11:53] albfan opened #2287 "Backport nested dialogs to version 5.2"
So many things changed from version 5.2 to 6.0 that is not possible to upgrade with much effort, so fixing nested dialog could be a great improvement

NOTE: I use a tabView inside first dialog, maybe it is related

## 1) Environment
- PrimeFaces version: 5.2
- Does it work on the newest released PrimeFaces version? Yes on primefaces 6.0 works
- Application server + version: Jboss EAP 6.2
- Affecte

[2017-04-19 12:11] gasparbarancelli commented on #2278
I solved my problem but this is a primefaces bug, I would have to solve this.

[2017-04-19 12:53] tandraschko commented on #2287
5.2 is not in development anymore - i would upgrade PF.

[2017-04-19 12:53] #2287 closed, assigned to nobody

[2017-04-19 15:22] mores commented on #2083
Also broken in primefaces 6.1

[2017-04-19 15:37] mertsincan commented on #2083
Can you please try this issue without composite component?

[2017-04-19 16:11] jxmai commented on #2083
@mores Can you replicate your code into this test project https://github.com/primefaces/primefaces-test and upload to here as a zip / tar.gz. Currently your sample project is sitting among of a lot of other folders so it is not convenient for others to grab your code and to replcate. Also I don't think we can run your project: https://github.com/mores/maven-examples/blob/master/prime-filterPaginat

[2017-04-19 18:33] jxmai commented on #2278
Hmm, I don't think it is a bug since no duplicate ids are allowed in JSF application. As I said, you haven't provided any working sample so we have to guess what your problem based on a stacktrace.  If you can provide a full sample replicated using https://github.com/primefaces/primefaces-test, please do. Otherwise, this ticket is likely done.

[2017-04-19 18:34] #2282 closed, assigned to tandraschko

[2017-04-19 18:42] tandraschko commented on #2278
just my 0.02$: the change was done because of a another bug because of a "null" clientId, which appeared in same cases. I think the getClientId() was called to early sometimes (maybe it the taghandler?)
I would try to check why the "hacky" fix for https://github.com/primefaces/primefaces/issues/1946 was required and maybe revert it.
But to be honest, i don't have time to invest some hours for a co

[2017-04-19 18:51] jxmai commented on #2278
I am not a timeline user yet either... so I might miss some background info. If the problem was on #1946 itself, I cannot tell why the fix is needed.

[2017-04-19 19:22] kukel commented on #2270
p:calendar is more problematic since it is an existing component (from outside PrimeFaces). but it would be a nice enhancement

[2017-04-20 09:04] Ulziimunkh commented on #2178
www

[2017-04-20 11:26] regenduft opened #2290 "Datatable default sortBy does not work after ajax-updating an existing datatable"
## 1) Environment
- PrimeFaces version:
issue exists in 6.0.18
but does still work correctly with 6.0.17

- Application server + version:
tomcat 7.0.72

- Affected browsers:
Firefox ESR on Windows and Firefox 52.0.2 Linux

## 2) Expected behavior

After a datatable was updated via ajax, the rows should be sorted by the sortBy attibute

## 3) Actual behavior

When datatable is displayed the first t

[2017-04-20 11:30] mertsincan commented on #2290
Fixed for 6.0.19 and 6.1.Final; https://github.com/primefaces/primefaces/issues/2267

[2017-04-20 11:30] #2290 closed, assigned to nobody

[2017-04-20 11:49] srbala opened #2291 "Add release tag to 6.1 commit"
Add release tag to 6.1 release commit 7daa01603e2e9b90aa7803b6c6498650de61d7c6 so that it will be available at release tab https://github.com/primefaces/primefaces/releases

Commit diff
https://github.com/primefaces/primefaces/commit/7daa01603e2e9b90aa7803b6c6498650de61d7c6

[2017-04-20 11:58] cnsgithub opened #2292 "p:tabView keeps data of old tab in DOM (6.1)"
Hi, would it be possible to remove the content of an old tab when using the following attribute combination:

cache = false  -> The Tabs should never cache something or keep old content in the DOM
dynamic = true -> Each time a Tab is clicked, the content should be fetched from server, and only the currently active Tab content should be in DOM

 ## 1) Environment
- PrimeFaces version: 6.1

## 2) Ex

[2017-04-20 12:04] gasparbarancelli opened #2293 "Datatable: Bug in the datatable component when it is the child of a column"
**1) Environment**

PrimeFaces version: All version above 6.0.16
Application server + version: GlassFish Server Open Source Edition 4.1 (build 13) / Payara Server 4.1.1.163 #badassfish (build 215)
Affected browsers: All

**2) Expected behavior**

If the datatable is within a column, the columns of the datatable are not duplicated with empty columns.

**3) Actual behavior**

If the datatable is a c

[2017-04-20 12:04] tandraschko commented on #2291
@cagataycivici Can you do this please?

[2017-04-20 12:06] tandraschko commented on #2292
Will close it for now. No complete example, no complete describtion whats wrong, questions -> forum.
Feel free create a new issue if you have every information.

[2017-04-20 12:06] #2292 closed, assigned to nobody

[2017-04-20 13:35] brainlag commented on #2293
Can confirm, we have the same problem.

[2017-04-20 14:32] gasparbarancelli commented on #2278
If the timeline component is just inside a form in the first rendering everything happens perfectly, but when I do an update on the form the same error occurs "javax.faces.FacesException: Can not add the same component twice: form: timeline"

[2017-04-20 15:13] jonah-dawg opened #2294 "OneRadio defaults to all items selected - PF 6.1"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-04-20 15:16] tandraschko commented on #2294
you miss the sample bean.

[2017-04-20 15:45] Rapster opened #2295 "Autocomplete multiple + readonly results into a crash"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 7
- Affected browsers: Chrome

## 2) Expected behavior
It should not be possible to focus the input

## 3) A

[2017-04-20 20:43] mayankX opened #2296 "Schedule: Date Move, Day Delta Issue"
Schedule Component is not calculating right Day Delta always.

I am using following configuration for my schedule

`<p:schedule value="#{schedule_setup.eventModel}" id="customSchedule" widgetVar="customSchedule"
                                timeZone="IST"
                                view="agendaWeek">

                        <p:ajax event="dateSelect" listener="#{schedule_setup.onDateSelec

[2017-04-21 08:46] Henny-cz opened #2297 "p:selectManyMenu with filter - strange column resizing"
## 1) Environment
- PrimeFaces version: 6.0.16
- Affected browsers: Chrome, FireFox

## Actual problem

You can try it: https://www.primefaces.org/showcase/ui/input/manyMenu.xhtml

When you start to type "Afterdark" into filter, less and less record will be shown in menu and it seems that columns are stretching. I have same problem with my Menu.

(Better example is if you copy showCase example but

[2017-04-21 11:49] melloware opened #2298 "p:selectManyMenu required="true" not working"
## 1) Environment
- PrimeFaces version: 6.1.
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: Jboss EAP 6.4
- Affected browsers: ALL

## 2) Expected behavior

When selectManyMenu required="true" and no item selected that it prevents form submission.

## 3) Actual behavior

Currently required="tr

[2017-04-21 18:51] ghost commented on #2293
Having the same issue after upgrading from 6.0.14 to 6.0.18.

[2017-04-22 00:02] melloware commented on #2297
Is this related to this defect as well?  #1111

[2017-04-22 00:03] melloware commented on #1111
Possible related to #2297

[2017-04-22 00:04] melloware commented on #2296
Do you have a fix proposed?

[2017-04-22 00:06] melloware commented on #2294
Hmmm can you try and figure out what is different in your example than in the Showcase?  https://www.primefaces.org/showcase/ui/input/oneRadio.xhtml  The Showcase appears to not be defaulting all values to enabled?

[2017-04-22 00:08] melloware commented on #2278
Can you produce a TEst project that demonstrates the example for us to run?  Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to receive an answer and a solution.

[2017-04-22 02:23] srbala commented on #2291
Following command will do

[code]

[2017-04-22 06:43] Henny-cz commented on #2297
It seems that yes

[2017-04-23 08:59] Rapster commented on #2298
Did it work with PF 6.0?

[2017-04-23 12:12] melloware commented on #2298
I tried with 6.0.18 and 6.1 but did not try with the old 6.0

[2017-04-24 11:40] mertsincan commented on #2298
I couldn't replicate this issue. Test code;
[code]

Test Video; https://www.dropbox.com/s/9m66akbyrcvb86l/selectManyMenu_required_test.mp4?dl=0

[2017-04-24 11:44] melloware commented on #2298
Closing as invalid.  There must be something going on with our specific code.

[2017-04-24 11:44] #2298 closed, assigned to nobody

[2017-04-24 12:38] webelcomau opened #2299 "p:dataTable: 1st (only) rowEdit "tick save" invokes f:viewParam again (in addition to f:viewParam on @ViewScoped page)"
_There may be a good reason for the observed behavior in p:dataTable (it might not be an "issue", it is however a "concern" for me). I would appreciate any feedback or explanations._

I've made extremely easy for anybody to see what happens, see test app link below.

## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No.
- Application ser

[2017-04-24 14:07] cagataycivici commented on #2291
Thanks!

[2017-04-24 14:07] #2291 closed, assigned to cagataycivici

[2017-04-24 15:06] mertsincan opened #2300 "Default sort issue with LazyDataModel and multiViewState on DataTable"

[2017-04-24 15:08] melloware opened #2301 "Tree filter with more than 10 nodes"
From this forum thread:  https://forum.primefaces.org/viewtopic.php?f=3&t=50532

## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: JBOSS EAP 6.4
- Affected browsers: ALL

## 2) Expected behavior

Tree Filtering works for more than 10 nodes

## 3) Actual

[2017-04-24 15:09] #2300 closed, assigned to nobody

[2017-04-24 15:14] #2249 closed, assigned to nobody

[2017-04-24 15:18] #2294 closed, assigned to nobody

[2017-04-25 08:13] tandraschko opened #2303 "Synchronous XMLHttpRequest on the main thread is deprecated"
We should check if we can avoid this warning.
Currently we use it in PrimeFaces.getScript(). I think the xhr request must not be sync, but we must sync our order to get all required scripts.

[2017-04-25 08:14] tandraschko commented on #2299
As i already stated in your forum post, we need a example to run with mvn jetty:run. I don't use NetBeans and also never install a whole GF.

[2017-04-25 09:27] webelcomau commented on #2299
Hi Thomas,

You wrote:

I reply in awareness of your many contributions to both PrimeFaces Extensions and PrimeFaces from which I benefited, and am grateful, and also that this is the Community Issues system, not paid PRO system.

This insistence on `mvn jetty:run` is nothing short of ridiculous. The founder of PrimeFaces, Çağatay Çivici, has [previously personally congratulated me](https://github

[2017-04-25 10:15] webelcomau commented on #2299
Click: download NetBeans JavaEE bundle.
Click: install NetBeans.
Click: download test archive bundle.
Click: unzip bundle.
Click: Open test project.
Click: Clean and Build.
Click: Run.

Now that was hard. I can see exactly why you would refuse to do it.

[2017-04-25 10:50] tandraschko commented on #2299
Use our official test-project: 1 click ;) https://github.com/primefaces/primefaces-test.git

[2017-04-25 11:00] tandraschko commented on #2299
I do not want to argue BUT
1) you dont respect our issue guidelines
2) you ignore our official test project
3) instead of helping us to improve our testproject, you completely made your own
4) jetty:run is easier as it works everywhere. You just need Maven + JDK. Thats it. No IDE, no ApplicationServer, nothing.
5) it's possible to switch JSF implementations and versions with a simple servlet conta

[2017-04-25 11:04] webelcomau commented on #2299
Firstly: I WILL develop a Maven+Jetty based version of my https://github.com/webelcomau/Webel_PrimeFaces_test_template_NetBeans_Ant test template,  one which is designed to download as an archive bundle from GitHub that is fully compliant with `mvn jetty:run` but not tonight.

You wrote:

What complete and utter nonsense. It does not do anything. If you had even vaguely bothered to even inspect my

[2017-04-25 12:11] tandraschko commented on #2299
I know that our sample contains pre-defined sample beans, i checked that when you posted it.
We just prepared a simple project template to provide examples in a generic way. We also had eclipse based project in the past. Not everyone is using Eclipse, or NetBeans, or Ant. Maven is the most generic way currently in the java world.

If you would use our guidelines (and therefore our template), then

[2017-04-25 19:57] vonnai opened #2304 "Calendar: should trigger change event if date is selected from popup"
Hi, calendar with popup should trigger change event before some ajax event is fired. I looked in datepicker source code and then if no onSelect function is defined, datepicker triggers change event to main input element. So if there is nobody who use ajax events, it's not possible to catch change. Please, check it. After your agreement, I will create pull request. SelectOneMenu after select item f

[2017-04-25 20:25] tandraschko commented on #2304
i'm sure there a reason that jquery doesn't trigger onchange per default.

you can still catch this event via p:ajax event=dateselect onstart=....

[2017-04-26 06:42] vonnai commented on #2304
It's standard behavior, that jquery doesn't trigger onchange event on input element if value is changed programmaticaly by jquery. That's the reason why datepicker triggers change event. Please, could you explain, why there is jquery trigger in select one menu if value is changed and there is nothing in calendar? What is the difference? So, If I want to catch change event from another component so

[2017-04-26 06:53] #2160 closed, assigned to nobody

[2017-04-26 08:20] tandraschko commented on #2304
We have to discuss this as this would break backward compatibility as users currently register 2 events:
change and itemSelect

if they upgrade, 2 ajax events instead 1 would be fired.

[2017-04-26 09:51] mbechler commented on #2293
6.1, too. Reason is that HELPER_RENDERER is set and therefor both DataTableRenderer and ColumnRenderer.encodeEnd produce column output. Temporarily unsetting that in DataTableRenderer fixes the issue for us.

[2017-04-26 10:54] crocimi opened #2305 "OverlayPanel: not showing if button is updated"
## 1) Environment
- PrimeFaces version: PF6.0.18
- Does it work on the newest released PrimeFaces version? Version? No, 6.0.18
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: WF 10.0.0
- Affected browsers: All

## 2) Expected behavior
Clicking on the button should show the overly

[2017-04-26 11:04] tandraschko commented on #2305
Not sure if we can fix this. You have to update the overlayPanel, too.

[2017-04-26 11:50] melloware opened #2306 "Eclipse .gitignore add .classpath and .project"
I use Eclipse and I am adding .classpath and .project files to the .gitignore file so they are not possibly ever checked in just in case anyone else uses Eclipse.  Submitting a PR.

[2017-04-26 12:09] #2306 closed, assigned to tandraschko

[2017-04-26 15:42] HipDragon commented on #2269
I agree that this should be revisited and not be deprecated.

[2017-04-26 20:17] melloware opened #2308 "Remove TODO Auto-generated method stub comments"
These comments are showing up as todo action items in Maven Site/Eclipse Task console.  There is nothing to do so removing them.

`//TODO Auto-generated method stub`

[2017-04-26 20:34] melloware commented on #2244
Submitted PR

[2017-04-27 08:38] Rapster opened #2311 "Autocomplete: don't cast as String but use String.valueOf method"
## 1) Environment
- PrimeFaces version: 6.1

## 2) Expected/Actual behavior
Using this should allow me to not use converter:
[code]

`#{object.id}` is a Long, and I expect to be implicity convert as a String. Unfortunately it's not, because of this:
[code]

I find it very annoying, to use a converter for this, specially when you have an util method for it: `String.valueOf(Object object)`

## 3) Pr

[2017-04-27 08:51] #2308 closed, assigned to tandraschko

[2017-04-27 11:07] melloware commented on #2311
I think this is a good idea.

[2017-04-27 11:47] asmaEmad opened #2312 "LineChart primefcaes 4.0"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-04-27 11:49] asmaEmad commented on #2312
i was developing line chart using primefaces 4.0 that i checked each section of my code all are correct but the line didn't drawn in chart when i use primefaces 5.0 every thing is OK what is may problem is?

[2017-04-27 12:08] tandraschko commented on #2312
No example, It's a question -> invalid.
Use the forum for questions and provide a example there.

[2017-04-27 12:08] #2312 closed, assigned to nobody

[2017-04-27 13:42] NagyGa1 opened #2313 "TextEditor: in p:inplace sets property null if form submitted when editor not visible"
I suspect the value is still submitted despite it is not visible, and since it is not visible, the value is null.

## 1) Environment
- PrimeFaces version: 6.0.18, 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? Probably not
- Application server + version: Wildfly 10.1
- Affected browsers: All

## 2) Expected behavior

If the

[2017-04-27 14:23] ghost opened #2314 "SortMeta constructor fails to save value of sortFunction"
## 1) Environment
- PrimeFaces version:
6.1
- Does it work on the newest released PrimeFaces version? Version?
no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
no
- Application server + version:
not relevant
- Affected browsers:
all

while browsing the source code of PF 6.1 I noticed that the constructor of t

[2017-04-27 14:26] tandraschko commented on #2314
A PR would be great ;)

[2017-04-27 14:31] melloware commented on #952
@TinusJackson Did you want aria-atomic="true" on all messages regardless of severity?  So INFO, WARN, ERROR, FATAL.  Same with role="alert" or did you want that only on ERROR and FATAL?

[2017-04-27 15:25] melloware commented on #2311
@Rapster please review my PR if you don't mind!

[2017-04-27 15:26] Rapster commented on #2311
Yep looks good ;)

[2017-04-27 15:33] melloware commented on #2314
@maxdreamland please review my PR.

[2017-04-27 16:06] qstpss opened #2317 "contextMenu error on toggler icon of tree"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? There is no newer version yet.
- Does it work on the newest sources in GitHub? (Error may reproduced whatever)
- Application server + version: Tomcat 8. (In showcase too)
- Affected browsers: All

## 2) Expected behavior

ContextMenu should invoke for selected node

## 3) Actual behavior

[2017-04-27 16:37] melloware commented on #2317
Stack Trace:

[code]

[2017-04-28 07:52] ghost commented on #2314
I'm sorry, but I don't know what the acronym "PR" stands for. could you elaborate on what you would like me to do?

[2017-04-28 09:12] rengar-zz opened #2318 "TreeTable: event 'page'"
It would be nice to have event 'page' in treeTable like it's done for DataTable.

<p:ajax event="page" oncomplete="xxxxx" />

Already it exits 'sort' but don't exist 'page'

[2017-04-28 09:22] ohlsen3000 opened #2319 "Sticky toolbar with margin is fixed 'too late'"
## 1) Environment
- PrimeFaces version: 6.0
- Environment: Tomcat, Chrome | EDGE | IE | Firefox

## 2) Expected behavior
- Sticky panel with **a margin of n px with n > 0** is scrolled up
- The panel is expected to scroll up until its **top** hits the specified margin

## 3) Actual behavior
- Panel's top passes the specified margin, only after it reaches the top of the page it snaps to the specifi

[2017-04-28 09:23] appldo commented on #2163
as a workaround you can add

`<composite:actionSource name="dummy" targets=""/>`

to your composite component

[2017-04-28 10:31] mertsincan opened #2320 "Add toggleable feature to Carousel"
like toggleable panel component.

Attributes;
- toggleable -> Makes the panel of carousel toggleable. Default is false.
- toggleSpeed -> Speed of toggling in milliseconds. Default is 500
- collapsed -> Renders a toggleable panel as collapsed. Default is false.

[2017-04-28 10:34] #2320 closed, assigned to nobody

[2017-04-28 11:04] melloware commented on #2314
Its a "Pull Request" or a patch I am submitting.  You can review it here: https://github.com/melloware/primefaces/commit/840c938ebf285f745ccb9dd01f02af8267da0860

[2017-04-28 11:07] melloware commented on #2319
Reviewed your fix looks good to me assuming that $this.cfg.margin is always 0 if it is not set and not "undefined".

[2017-04-28 13:26] mertsincan opened #2322 "Add stateful attribute to Carousel"
Attribute;
- stateful -> When enabled, carousel state is saved in a cookie for the session. Default is false.

[2017-04-28 13:28] #2322 closed, assigned to nobody

[2017-04-29 13:26] ghost commented on #2314
looks good to me. toString() addition is a nice touch.

[2017-04-30 15:51] noor017 commented on #1468
[code]

Its setting the title of each element inside data-tooltip="Title" but not showing this title in tooltip.

[2017-05-01 03:14] sudheerj commented on #1610
I can able to replicate the issue.The same issue occurs in PrimeNG schedule too.

[2017-05-01 12:50] vbors opened #2323 "TreeTable paginator don't have default currentPageReportTemplate value"
## 1) Environment
- PrimeFaces version: 6.1.0

## 2) Expected behavior
A treeTable with Paginator must have an default value for currentPageReportTemplate property.
In Primefaces User Guide 6.1 say:

You can use {currentPage},{totalPages},{totalRecords},{startRecord},{endRecord} keyword
within currentPageReportTemplate. **Default is {currentPage} of{totalPages}.** Default UI is;

...

## 3) Actual

[2017-05-01 13:05] vbors commented on #191
I was created a new issue referenced to this: #2323

[2017-05-01 13:25] melloware opened #2325 "p:chips not respecting readOnly="true""
Based on this forum post:  https://forum.primefaces.org/viewtopic.php?f=3&t=50659

Chips is not respecting readOnly="true" natively.   The component supports the property but was not using its values.

[2017-05-01 13:26] melloware opened #2326 "p:chips converter is not used properly"
Based on this forum post: https://forum.primefaces.org/posting.php?mode=reply&f=3&t=50659

converter is not used properly:
"ChipsRenderer" class correctly calls the converter but then outputs the unconverted value, as string (method "encodeMarkup").
[code]

[2017-05-01 13:40] vip30 commented on #2286
Any following action?

[2017-05-01 14:43] melloware commented on #2323
I see the problem.  I will have to let @tandraschko weigh in on the fix since TreeTable is generated code from TreeTableTemplate it is not letting me override the "Pageable" interface for creating methods the way they need to be created are being autogenerated.  Not sure how to override or fix the autogeneration.

[2017-05-01 14:53] mertsincan opened #2329 "Selection is lost on DataTable with multiViewState"
Reported By PRO User;

Table state saves and restores "selectedRowKeys" but later DataTable erases it in the method "findSelectedRowKeys".

[2017-05-01 14:56] #2329 closed, assigned to nobody

[2017-05-01 18:45] mayankX opened #2330 "SelectManyMenu/SelectOneListBox: Add common ajax events like select+unselect"
Needed unselect event for p:selectManyMenu component as we have it for
https://www.primefaces.org/showcase/ui/data/tree/events.xhtml

[2017-05-02 07:04] #1929 closed, assigned to nobody

[2017-05-02 09:07] Selaron opened #2331 "SelectOneMenu: onkeyup and onkeydown not effective"
## 1) Environment
- PrimeFaces version:
6.0, 6.1

- Does it work on the newest released PrimeFaces version?
no

- Does it work on the newest sources in GitHub?
no

- Application server + version:
Apache Tomcat 8.5.14

## 2) Expected behavior
When selectOneMenu component has focus, configured onkeydown/onkeyup events should trigger when pressing down/releasing a key.
I'd expect these events to be t

[2017-05-02 10:59] kukel commented on #2331
Did you try using these events in a `p:ajax` or in a `pe:javascript` in case you do not actually need to call something serverside

[2017-05-02 11:05] kukel commented on #2317
Where does this error occur since the online showcase seems to be working for me

[2017-05-02 11:07] qstpss commented on #2317
Probably you don't follow steps to reproduce.

[2017-05-02 11:33] melloware commented on #2317
@kukel you have to right click on one of the "arrow" icons in the tree.  I had to do it a few times before I got the stack trace.

[2017-05-02 11:40] melloware commented on #2323
Looking more at this it is because it extends UITree and the others extend UIData which has the correct code.

[2017-05-02 11:40] B-R-Bender commented on #85
this would be nice. right now this would be very useful to me)
[picklist](http://puu.sh/vD5gQ/f7312c73dc.png)

[2017-05-02 14:26] Selaron commented on #2331
I now tested it with
<p:ajax event="keydown" ../>
but this does not fire either, while event="change" works es expected..

[2017-05-02 14:33] melloware commented on #2331
From looking at the code in forms.js for selectOneMenu I don't think the callbacks for keyup and keydown are actually hooked up.

[2017-05-02 15:14] Selaron commented on #2331
I also guess that SelectOneMenuRenderer is missing some lines of code to actually render "onkeyup" and "onkeydown" element attributes and DOM behavior events.

For **editable** SelectOneMenu, this is my quick & dirty workaround:
[code]

[2017-05-02 18:33] emmanuel-lopez commented on #1966
The issue still reproducible in on 6.1-Final

[2017-05-02 21:51] vsingleton opened #2332 "Fix for #211 no longer needed after commit e22e40a"
## 1) Environment
- PrimeFaces version:
commit e22e40a broke the PrimeExceptionHandler for portlets
5.3 was working, but 6.0+ no longer works in portlets.

- Does it work on the newest released PrimeFaces version? Version?
no.

- Does it work on the newest sources in GitHub? (Build by source ->
https://github.com/primefaces/primefaces/wiki/Building-From-Source)
no.

- Application server + version:

[2017-05-02 21:58] vsingleton commented on #2332
https://github.com/primefaces/primefaces/pull/2333
This pull was tested on master (7d9dbebbd4286d473537295e0c87fed7b4459bbd).

[2017-05-03 05:49] myset opened #2334 "Enhancement: Terminal escape attribute needed ..."
Hi,
Considering that new terminal component of PF 6.1 escape all tags, I propose you to introduce a new boolean attribute "escape" to the terminal with the same behavior like h:outputText escape attribute ...

Of course ... If you consider feasible.

Thank you

--
Mac OS X 10.12.4 (x86_64)
Java HotSpot(TM) 64-Bit Server VM 1.7.0_75 Oracle Corporation
Spring: 4.2.4.RELEASE
Java Servlet: 3.1
Java Se

[2017-05-03 06:31] #2332 closed, assigned to tandraschko

[2017-05-03 06:32] tandraschko commented on #2332
thanks!

[2017-05-03 06:33] #2314 closed, assigned to tandraschko

[2017-05-03 06:35] #2311 closed, assigned to tandraschko

[2017-05-03 09:10] #2325 closed, assigned to tandraschko

[2017-05-03 09:10] #2326 closed, assigned to tandraschko

[2017-05-03 09:18] tandraschko commented on #952
Not sure if the changes are correct.
W3 says:
A message with important, and usually time-sensitive, information.

i'm not sure if info messages are important.

[2017-05-03 09:19] tandraschko commented on #2319
Thanks for the PR.

[2017-05-03 09:19] #2319 closed, assigned to tandraschko

[2017-05-03 09:26] tandraschko commented on #2295
If it's readonly, it should never be possible to remove items. Maybe there is another fix required.
Feel free to analyze it.

[2017-05-03 09:27] #2284 closed, assigned to nobody

[2017-05-03 09:28] tandraschko commented on #2278
If you don't provide a example project like described by @melloware, i will close it was invalid.

[2017-05-03 11:09] melloware commented on #952
I was wondering whether this should only be for ERROR/FATAL messages and not applied for INFO/WARN.  I can make that change.  Thoughts?

[2017-05-03 11:18] tandraschko commented on #952
No idea.
WDYT @cagataycivici / @mertsincan? You are the ARIA pro's :D

[2017-05-03 12:36] vsingleton commented on #2332
Thank you for all your great work on PF.
Hope you folks are doing well.

[2017-05-03 14:09] tristann9 commented on #831
Our application uses PrimeFaces 6.0 on Mojarra-2.0 and we see the same issue there.  Using absantanna's steps, I'm also able to reproduce the issue on PrimeFaces Showcase running on PrimeFaces-6.1-SNAPSHOT on Mojarra-2.2.8.

[2017-05-03 15:04] svenwaibel opened #2335 "XMLExporter throws StringIndexOutOfBoundsException if headerText of dataTable is empty ("")"
## 1) Environment
- PrimeFaces version: 6.0.8
- Does it work on the newest released PrimeFaces version? Version? Should not work on newer versions
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Should not work with latest source code
- Application server + version:
- Affected browsers:

## 2) Expected behavior

[2017-05-03 16:50] gmlongo1 commented on #2293
I can confirm we have the same issue which is prohibiting us from upgrading to 6.1.  Worked fine in 5.3.

[2017-05-03 16:58] gmlongo1 commented on #2206
Seems to be a duplicate of #2293.  This issue is a showstopper for us.

[2017-05-04 06:21] mertsincan opened #2337 "The columns of DataTable are not correctly rendered inside PanelGrid"
Reported By PRO User;

we found an issue using the latest PF releases.
Datatables are not correctly rendered if placed inside a panelGrid.
...

test code;
[code]

[2017-05-04 06:23] #2337 closed, assigned to nobody

[2017-05-04 06:26] mertsincan commented on #2206
Duplicate of #2337

[2017-05-04 06:26] #2206 closed, assigned to nobody

[2017-05-04 08:34] kukel opened #2338 "Add 'used' and 'total' placeholders to inputTextarea"
There have been several requests in StackOverflow for being able to display the used and total number of characters in an `p:inputTextarea` in addition to the 'remaining' characters. This is easily done by overriding a js function, but it might be worth to just add this to the component itself.

[code]

This would make it possible to use a counterTemplate like:

[code]

[2017-05-04 14:28] jbrower2 opened #2339 "p:submenu inside p:panelMenu - minor formatting issue when expanded="true""
## 1) Environment
- PrimeFaces version: **6.1**
- Does it work on the newest released PrimeFaces version? Version? **No**
- Does it work on the newest sources in GitHub? **No**
- Application server + version: **All**
- Affected browsers: **All**

## 2) Expected behavior
The h3 element should have the class 'ui-corner-top', not 'ui-corner-all' when expanded="true".

## 3) Actual behavior
The h3 ele

[2017-05-04 14:51] tfe2012 opened #2340 "MarkerClusterer in google maps"
How use MarkerClusterer on <p:gmap> ?

I mean [this tool](https://github.com/googlemaps/js-marker-clusterer)

[2017-05-04 15:00] melloware commented on #2339
I will look into it and verify.

[2017-05-04 15:16] tandraschko commented on #2340
questions -> forum

[2017-05-04 15:16] #2340 closed, assigned to nobody

[2017-05-04 15:17] #2335 closed, assigned to tandraschko

[2017-05-04 15:27] melloware commented on #2339
@mertsincan do you approve of this change?  Here in these images you can see the closed and expanded states and corner is rounded when closed but changes to square when expanded and does not return to rounded.

Initial:
![image](https://cloud.githubusercontent.com/assets/4399574/25711272/89aa84e4-30bc-11e7-8cd6-3a48dfc57a0e.png)

After expanding and closing:
![image](https://cloud.githubuserconten

[2017-05-04 20:38] jschuck9 commented on #2210
The fix for this is surprisingly simple.  Instead of calling `column.remove()` when a row is added to the group, call `column.hide()` instead.

The core issue occurs because once the column is removed, subsequent calls to get the column from each row by index is off by 1 because all rows > 0 are missing the group column.

NOTE:  Tested via primefaces-test

Fixed code below:
[code]

[2017-05-04 20:41] jschuck9 commented on #2210
Test View:

[code]

[2017-05-04 20:42] jschuck9 commented on #2210
Test page:

[code]

[2017-05-04 21:32] jschuck9 commented on #2210
@cagataycivici Please review, I believe an appropriate fix has been identified above.

[2017-05-04 21:36] mertsincan commented on #2210
Thanks for the sample codes, I'll check and get back to you.

[2017-05-05 05:02] mertsincan commented on #952
I think we can add the aria-atomic="true" and role="alert" to all messages.
Details;
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions
http://webaim.org/techniques/aria/ (Please see Form Validation Example)

[2017-05-05 07:07] tfe2012 commented on #2340
You don't implement this function gmap in primefaces,

It's a task to improve gmap

[2017-05-05 07:26] #952 closed, assigned to tandraschko

[2017-05-05 07:44] mertsincan commented on #2340
Please try the following sample project;
https://www.dropbox.com/s/sneqx07rshsgavd/markerClusterer_test.rar?dl=0

Test Video;
https://www.dropbox.com/s/tkzomjitlpxhidd/markerClusterer_test_on_Gmap.mp4?dl=0

[2017-05-05 07:54] tfe2012 commented on #2340
Thx a lot:)

[2017-05-05 08:10] #2339 closed, assigned to nobody

[2017-05-05 08:10] mertsincan commented on #2339
Thanks a lot for your fix!

[2017-05-05 10:59] jbrower2 commented on #2339
Sure thing; thanks a lot for your quick response!

[2017-05-05 11:27] #2210 closed, assigned to mertsincan

[2017-05-05 11:34] rho66 commented on #1564
Is there a chance to support error pages under /WEB-INF, because Omnifaces supports this?!

[2017-05-05 11:35] tandraschko commented on #1564
no, sorry
we just call the servlet-api to redirect/forward to this page
and serving content in WEB-INF is just not possible

We won't introduce some wrapper-hacks to support this.

[2017-05-05 11:47] mertsincan opened #2341 "Escaping "/" character problem on Watermark"
Reported By PRO User;

<p:inputText id="name" value="#{beanValidationView.name}" label="Name" styleClass="ignoredInput"/>
<p:watermark for="name" value="dd/mm/aaaa" id="watermark" />
but value ("dd/mm/aaaa") is showing wrong: "dd\/mm\/aaaa".
...

[2017-05-05 11:49] #2341 closed, assigned to nobody

[2017-05-05 15:18] melloware commented on #2334
@myset do you mind reviewing my PR for this?  https://github.com/primefaces/primefaces/pull/2342

[2017-05-05 16:22] MarlucioPires opened #2343 "InputNumber onchange should only by triggered if input has been changed by user"
I deployed show case primefaces 6.1 in tomcat, and alter code:
nnchange in component inputNumber
`  <p:inputNumber id="input1" value="#{inputNumberView.input1}" widgetVar="wInput1"
                                       onchange="PF('wInput1').getValue()">
                            <p:ajax update="output1" />
                        </p:inputNumber>  `

CONSOLE ERROR:
`inputNumber.xhtml:374 Unca

[2017-05-05 16:41] #2343 closed, assigned to tandraschko

[2017-05-05 22:03] zortx233 opened #2344 "Programmatic Menu (p:menu) java.lang.ClassCastException when toggleable=true"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No. Works in 5.3.0
- Does it work on the newest sources in GitHub? (Build by source -> No https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: All
- Affected browsers: All

## 2) Expected behavior
Menu should render
...

## 3) Actual behavior

[2017-05-06 11:30] mores commented on #2083
The code has been replicated in a fork of that project: https://github.com/mores/primefaces-test/tree/issue-2083

[2017-05-07 13:17] melloware commented on #2344
Line 92 robably needs to change to something like this so it only checks for submenu if it knows the parent is a UIComponent.
[code]

[2017-05-07 21:29] VsevolodGolovanov opened #2345 "TextEditor doesn't express dependencies on jQuery scripts"
PrimeFaces 6.1.

[code]

Opening this page results in js errors:

[code]

Because jquery.js isn't loaded.

[2017-05-08 10:46] mohammedhassan01 commented on #1950
so i am having restriction on using PF Version 4 so , is there any work around to make this feature in PF 4

[2017-05-08 11:13] fanste commented on #1922
It seems to be fixed but I don't know where Mojarra has its code repository.

[2017-05-08 11:44] melloware commented on #2345
@VsevolodGolovanov  PR submitted if you want to review it.

[2017-05-08 16:38] zortx233 commented on #2344
Thanks. I was thinking the same thing for the fix.

[2017-05-08 17:19] #2345 closed, assigned to tandraschko

[2017-05-08 17:26] #2344 closed, assigned to tandraschko

[2017-05-08 17:32] #1495 closed, assigned to tandraschko

[2017-05-08 17:34] tandraschko opened #2348 "[Documentation] p:autocomplete unique attribute"
https://github.com/primefaces/primefaces/issues/1495

[2017-05-08 17:40] #1406 closed, assigned to tandraschko, mertsincan

[2017-05-08 17:46] #2301 closed, assigned to tandraschko

[2017-05-09 11:20] melloware commented on #2295
After looking at this I agree with @Rapster that you should not be able to remove items.  In encodeSingleMarkup it does this...
[code]
 But in encodeMultipleMarkup it only does this...
[code]
So for the sake of consistency and correctness I think the fix is a simple one and a good one.

[2017-05-09 14:06] mertsincan opened #2350 "Grouped SelectManyCheckbox with responsive layout not working"
Reported By PRO User;

[2017-05-09 14:10] #2350 closed, assigned to nobody

[2017-05-09 21:02] zortx233 opened #2351 "Programmatic Menu - submenus don't expand and collapse when toggleable="true""
This is a continuation of the issue found in #2344. While the ClassCastException no longer occurs, the actual functionality of toggling a programmatic menu's submenu does not work.

## 1) Environment
- PrimeFaces version: latest - 6.1.x, after applying the fix in #2347
- Does it work on the newest released PrimeFaces version? No. Version? Works in 5.3.0
- Does it work on the newest sources in GitH

[2017-05-10 13:14] 4a6f42 opened #2352 "TriStateCheckboxRenderer: missing styleClass "ui-state-error" for failed validation"
## 1) Environment
- PrimeFaces version:
6.1

## 2) Expected behavior
TriStateCheckbox.setValid(false) results in class "ui-state-error" on rendered component

## 3) Actual behavior
valid flag is ignored

Comparing SelectBooleanCheckboxRenderer and TriStateCheckboxRenderer the latter is missing the line concerning the validation styleClass. There might be a reason for that, but I can only consider

[2017-05-10 13:26] melloware commented on #2352
I agree and just submitted a PR if you want to review it.

[2017-05-10 14:16] ducky21 opened #2354 "PrimeFaces Community Downloads"
## 1) Community Downloads
- PrimeFaces version: 6.1
- Download of primefaces-6.1-sources.jar goes to a dead link.

## 2) Expected behavior
Download start
...

## 3) Actual behavior
404 error
..

## 4) Steps to reproduce
Click the community downloads link to download primefaces-6.1-sources.jar
..

## 5) Sample XHTML

..

## 6) Sample bean

..

[2017-05-10 15:05] melloware commented on #2238
Not exactly what you wanted but I found a really cool way to do what I want generically.

**Custom Exporter:**
[code]

Using it generically in any datatable column...
[code]

[2017-05-10 15:47] #2352 closed, assigned to tandraschko

[2017-05-10 18:36] RejDev opened #2355 "Name of icon badly managed in <p: ​​menuitem> with <pa:menu> (Barcelona theme)"
Hello dear community,

## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: Payara Server 171.1
- Affected browsers : Firefox / Chrome
- Font : font-awesome-4.7.0
- theme : Barcelona

## 2) Expected behavior

  Have a single icon

## 3) Actual behavior

When I specify the icon "person-add" or "personadd"  in the <p: ​​menuitem> tag, it is considered as two icons. ( person +

[2017-05-10 19:10] tandraschko commented on #2355
You example is invalid - please provide also your person-add css.

[2017-05-10 19:59] RejDev commented on #2355
@tandraschko : Thank you for taking the time to answer me.
"person-add" It is an icon in the list of icons proposed with the theme Barcelona
https://www.primefaces.org/barcelona/utils.xhtml

[2017-05-10 22:25] Josh68 opened #2356 "SelectOneMenu: keyboard navigation not standard"
## 1) Environment
- PrimeFaces version: **6.0**
- Does it work on the newest released PrimeFaces version? Version? **No, not in the demo**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **Have not tried**
- Application server + version: **Websphere 7 (latest)**
- Affected browsers: **All tested (Chrome, FF, IE

[2017-05-11 09:11] chaitugonam commented on #517
Hi Jansohn,
We are also facing the same issue. Are you able to solve.
Please provide your inputs to solve. We are using primefaces 5.1 .

Thanks in advance.
Krishna

[2017-05-11 11:33] melloware commented on #2356
I have observed the same behavior.  From first glance I don't see an easy fix but I am definitely not an expert in this component.

[2017-05-11 12:22] #2295 closed, assigned to tandraschko

[2017-05-11 12:23] #2334 closed, assigned to tandraschko

[2017-05-11 12:24] tandraschko opened #2357 "[Documentation] Document terminal escape"
#2334

[2017-05-11 12:25] #1497 closed, assigned to cagataycivici

[2017-05-11 12:25] #2100 closed, assigned to cagataycivici

[2017-05-11 12:34] tandraschko commented on #2354
@mertsincan The link is wrong, would you please fix it?

[2017-05-11 16:26] RejDev commented on #2355
This problem occurs only in <pa:menu> of Barcelona theme.
I found a temporary solution, It is necessary to use this "person_add " instead of "person-add", or the code "& #xE7FE;".
Note, it is impossible to use the  font-awesome in <pa:menu>.

[2017-05-11 17:32] #2278 closed, assigned to nobody

[2017-05-11 18:14] melloware commented on #2355
I would report this to the Barcelona team...

https://forum.primefaces.org/viewforum.php?f=53

And their GitHub issues page here:
https://github.com/primefaces/barcelona/issues/

[2017-05-11 18:39] #2355 closed, assigned to nobody

[2017-05-12 00:21] zhizhideng opened #2358 "The form attribute in p:menuItem is ignored"
1) Environment
- PrimeFaces version: 6.1

2) Expected behavior
According to document, if I specify the the "form" attribute of a menuItem, it should use the specified form for submission (It works for p:ajax).

In our case, we are using jQuery.load loading external contents for a panel, to avoid nested forms we have to remove any outer form and use the "form" attribute to specify the actual submis

[2017-05-12 11:08] rzapletal opened #2359 "Tooltip: works incorrectly when used with position="top" and trackMouse="true""
## 1) Environment
PrimeFaces version: 6.0.17, browser FireFox ESR 52.1.1 (32-bit)

## 2) Expected behavior
Tooltip should appear above element and move with mouse.

## 3) Actual behavior
Tooltip shows below element

## 4) Steps to reproduce
just render page with code from below

## 5) Sample XHTML
<h:outputText id="text" value="some example text">
<p:tooltip value="... might be some some really lo