[2018-02-09 08:12] tandraschko commented on #3306
There is no completely runnable example - projectBean missing, we don't have JPA...

[2018-02-09 08:12] #3306 closed, assigned to nobody

[2018-02-09 09:00] ShivaniSK commented on #3306
added projectBean

[2018-02-09 09:00] ShivaniSK commented on #3306
added projectBean. Please assist.

On Fri, Feb 9, 2018 at 1:42 PM, Thomas Andraschko <notifications@github.com>
wrote:

[2018-02-09 09:03] tandraschko commented on #3306
I can assist if you don't ignore our issue template.
It also contains:
- Otherwise the example must be as small and simple as possible! It must be runnable without any other dependencies (like Spring,..., or project/company internal classes)!

[2018-02-09 09:16] cnsgithub commented on #3282
Pull request: https://github.com/primefaces/primefaces/pull/3308

[2018-02-09 09:26] cnsgithub commented on #3264
Pull request: https://github.com/primefaces/primefaces/pull/3299

[2018-02-09 09:33] ShivaniSK commented on #3306
have updated the example. It is runnable now. Please check.

[2018-02-09 09:36] ShivaniSK commented on #3306
the itemValue here is toolObejct. Ajax call is not happening. Only if we change it to toolObject.toolName or toolObject.toolId then ajax call happens.

[2018-02-09 09:45] ShivaniSK commented on #3306
have added a runnable example. Please assist.

On Fri, Feb 9, 2018 at 2:33 PM, Thomas Andraschko <notifications@github.com>
wrote:

[2018-02-09 10:36] ShivaniSK opened #3309 "SelectCheckBoxMenu: ajax call not happening with itemValue as custom object."
## 1) Environment
- PrimeFaces version: 6.1

## 2) Expected behavior
Once u select any item from SelectCheckBoxMenu then "test()" should be called on server side and the selectedItems should be printed.
...

## 3) Actual behavior
Ajax call does not happen.
..

## 4) Steps to reproduce
Select any item from SelectCheckBoxMenu then it "test()" should be called on server side and the selectedItems sho

[2018-02-09 10:42] cnsgithub commented on #3234
Pull request: https://github.com/primefaces/primefaces/pull/3237

[2018-02-09 10:43] cnsgithub commented on #3214
Pull request: https://github.com/primefaces/primefaces/pull/3221

[2018-02-09 10:57] tandraschko commented on #3305
the sample doesn't even compile.

[2018-02-09 11:05] tandraschko commented on #3305
You just hit the security mechanism of JSF.
On the second request, when the SelectOneMenu is submitted, the suburbs list is empty and therefore the submitted value is "catched as not available in the model" -> so the change is invalid.
This doesn't happen of course when the scope is bigger as request, as the suburbs  list isn't empty on the second request.
Feel free to create a forum topic, maybe

[2018-02-09 11:05] #3305 closed, assigned to nobody

[2018-02-09 12:11] melloware commented on #3306
From looking at this example do you have a @FacesConverter that converts your Tool Object from a string to Object?   To me is seems like you are missing the Converter and that is why switching it to tool.name works.

[2018-02-09 12:13] tandraschko commented on #3309
itemValue must be a primitive, string or enum as it's rendered to the client. Otherwise you can use a converter like melloware mentioned in your other issue.

[2018-02-09 12:13] #3309 closed, assigned to nobody

[2018-02-09 16:27] ghost commented on #3304
Also agreed, that the following are not possible with the basic `<select>` element:

* Images
* Drag and drop targeting
* Checkbox selections
* Animations

Such features are extensions; whereas, keyboard selection is basic behaviour. The base component can be super-simple and use the core HTML functionality when other behaviour is not desired. For example, here's a high-performance filterable shut

[2018-02-09 17:54] ghost commented on #3304
To touch on the idea of using basic HTML components a bit more, consider these two bugs I found within a minute of each other. The purpose isn't to log them as bugs, but to illustrate why default HTML components for doing basic behaviours are preferred to the additional complexity implemented that offers no significant UX gains (in situations where the complexity is not warranted).

# Double Space

[2018-02-09 20:10] Kameecoding opened #3310 "DataTable: row is selected when clicking on inputSwitch inside a column"
## 1) Environment
- PrimeFaces version: 6.1.0
- Does it work on the newest released PrimeFaces version? No Version? 6.1.0
- Does it work on the newest sources in GitHub? No
- Application server + version: Application Server independent
- Affected browsers: browser independent

p:inputSwitch inside a p:dataTable with singleSelection mode

## 2) Expected behavior
Clicking any part of the switch shou

[2018-02-09 22:31] ghost commented on #3304
For completeness, here's a message I posted to the W3C's public HTML specifications mailing list.

---

Many web application frameworks offer developers a high-level user interface component called a List Builder. Having a standard List Builder would address an evident need. To avoid confusion with HTML list elements (OL, UL) and date pickers, the term “shuttle” is a reasonable choice. As a starti

[2018-02-10 01:42] djmj opened #3312 "PrimeFaces-6.2.RC1 - Mobile showcase CSS lost"
Current PrimeFaces mobile showcase using PrimeFaces-6.2.RC1 has Javascript and CSS issues.
It can be seen on accordion and overlaypanel does not work at all.

https://i.imgur.com/72bZ74C.jpg

[2018-02-10 05:49] ShivaniSK commented on #3309
tired by adding converter also. Please check above edited code with converter. It is still not working.

[2018-02-10 05:51] ShivaniSK commented on #3306
Have tried adding converter also. It is still not working. Please check issue 3309. It has a runnable example with converter. But no ajax call happening at server side.

[2018-02-10 05:55] ShivaniSK opened #3313 "SelectCheckBoxMenu: ajax call not happening with itemValue as custom object with converter."
## 1) Environment
Primefaces 6.1

## 2) Expected behavior
Once u select any item from SelectCheckBoxMenu then "test()" should be called on server side and the selectedItems should be printed.
...

## 3) Actual behavior
Ajax call does not happen. I was suggested to add a converter and the issue 3309 was closed. I tried adding converter but still it is not working.
..

## 4) Steps to reproduce
Selec

[2018-02-10 05:58] ShivaniSK commented on #3313
I was suggetsed to add a converter in issue 3309 and the issue was closed. I tried with converter also. Please check the above example. It does not work .

[2018-02-10 10:16] denizque opened #3314 "TAB navigation in autocomplete inside a datatable"
I have the newest version of primefaces elite.
I put an editable p:dataTable with various columns in it.
When I press the tab key to switch from one column to the other it switches as long as it not an autocomplete component.
The column which has p:inputText or p:selectOneMenu switches fine.
But if I put an autocomplete in that column and I press tab key nothing happens.
Is this a bug? Or what sho

[2018-02-10 10:16] #3313 closed, assigned to nobody

[2018-02-10 10:17] ShivaniSK commented on #3313
after adding converter i had to override equals and hashcode method in Tool bean class. After which this issue got resolved.
Thank you

[2018-02-10 13:00] melloware commented on #3312
@djmj can you close this ticket and open one on the Showcase Issues page found here:  https://github.com/primefaces/showcase/issues

[2018-02-10 13:01] melloware commented on #3314
Related to this #3087 ?  Looks like something was tweaked in PF 6.1.11.

https://github.com/primefaces/primefaces/issues/3087

[2018-02-10 13:05] melloware commented on #3313
Yep you really need to follow the examples on the showcase and understand how JSF conversion works.  Glad you got it resolved.

[2018-02-10 13:06] melloware commented on #3306
So I see you got it resolved on the other issue.  Is this resolved as well or do you still think it is an issue?

[2018-02-10 13:14] melloware commented on #3304
Yes that would be nice! But as you know the W3C doesn't move at a very fast speed for adoption of new things and then the browsers take a while to adopt those new W3C specs.

**So in the meantime shouldn't we just add Keyboard support to this already feature rich PickList?**   I can take a shot at adding Keyboard Support if you want?

As to your points about the "Showcase Search Field" that is NOT

[2018-02-10 13:17] melloware commented on #3304
Showcase issue reported:  https://github.com/primefaces/showcase/issues/64

[2018-02-10 15:41] #3312 closed, assigned to nobody

[2018-02-10 23:38] melloware opened #3315 "TextEditor: Requires components.js"
Based on this forum post: https://forum.primefaces.org/viewtopic.php?f=3&t=52597

TextEditor does not work if it is the only component on the page with this error:

[code]

[2018-02-11 09:46] tandraschko commented on #3315
hm? DefferedWidget should be in core.js, not components.js

[2018-02-11 13:38] melloware commented on #3315
Let me double check again. That is what I thought too.

[2018-02-11 13:45] melloware commented on #3315
You are right this was already fixed:  https://github.com/primefaces/primefaces/issues/2345

My mistake was the user was using PF 6.1.4 which I thought it was fixed in since I fixed it last May but it was put into the 6.2 release not the 6.1.X branch!

[2018-02-11 13:45] #3315 closed, assigned to nobody

[2018-02-11 21:18] ghost commented on #3304
Most definitely, thank you.

I suspected that the text input field wasn't part of PF -- that said, I think the main point still stands. JavaScript (AJAX) should be used to enhance browsers' default behaviour. It seems that more and more developers are simply rolling their own.

[2018-02-12 08:10] mafaul opened #3320 "Spinner: does not work with 0, negatives or blank values"
## 1) Environment
- PrimeFaces version: 6.2.RC2
- Application server + version: Payara 4.1.173
- Affected browsers: Google Chrome

## 2) Expected behavior
![image](https://user-images.githubusercontent.com/12007706/36087701-6826c576-0fdc-11e8-9c2c-58a1e76d5dbf.png)

## 3) Actual behavior
![image](https://user-images.githubusercontent.com/12007706/36087714-75afffaa-0fdc-11e8-9f88-d48aaa084c24.png)

[2018-02-12 08:16] mafaul commented on #3320
Adding a min="-5" attribute to the spinner solves the issue. Without the min attribute, the lowest you can go is 1. This does not work for blank values though, still get the error message.

[2018-02-12 09:57] tandraschko commented on #3320
Did it work with RC1 before?

[2018-02-12 10:00] tandraschko commented on #3320
@cnsgithub could you check that, too? AFAIR we applied a security thing here.

[2018-02-12 10:02] tandraschko commented on #3314
@mertsincan could you check that?

[2018-02-12 10:18] cnsgithub commented on #3320
@tandraschko I'm able to reproduce this issue and yes, it is related to the security fix. I didn't know that `java.lang.Double.MIN_VALUE` as denoted in `spinner.xml ` as default value for the `min` attribute is positive... I'll try to fix this.

[2018-02-12 11:17] Kameecoding commented on #3310
@tandraschko is there a way to get this fix into 6.2.0?

[2018-02-12 11:44] cnsgithub commented on #3320
Pull request: https://github.com/primefaces/primefaces/pull/3322

[2018-02-12 12:14] #3320 closed, assigned to nobody

[2018-02-12 12:17] tandraschko commented on #3310
Maybe, actually it's already to late ;)

[2018-02-12 13:37] melloware commented on #3304
OK I submitted a PR if you want to code review it or pull it and check it out.

https://github.com/primefaces/primefaces/pull/3317

[2018-02-12 13:45] mertsincan opened #3323 "InputNumber validation issue with p:clientValidator"
Validation don't work on blur.
[code]

[2018-02-12 13:47] #3323 closed, assigned to mertsincan

[2018-02-12 13:48] melloware commented on #2356
OK I submitted a PR that I have tested pretty thoroughly but wouldn't mind someone else checking it out and code reviewing or testing it.  https://github.com/primefaces/primefaces/pull/3318

[2018-02-12 13:49] martin654 opened #3324 "DataTable: Allow to store TableState for multiViewState in another scopes"
## 1) Environment
- PrimeFaces version: 6.2 RC2

## 2) Expected behavior
I would like to have a possibility to use another scope than session scope for storing TableStates.  Would it be possible to allow to define own inplementation of let's say "storage provider" with methods?

org.primefaces.PrimeFaces.**clearTableStates()**
org.primefaces.PrimeFaces.**clearTableState(String key)**
org.primeface

[2018-02-12 13:55] cnsgithub commented on #3296
Mentioned it here: https://github.com/javaserverfaces/mojarra/issues/4330#issuecomment-364920940

[2018-02-12 14:09] tandraschko commented on #3324
+1
I would also use ViewAccessScoped in my personal apps

[2018-02-12 15:01] ankitacroit09 opened #3325 "Calendar: add clean/clear button to clean the date"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-02-12 15:06] #3179 closed, assigned to nobody

[2018-02-12 18:27] joergmattes opened #3326 "selectOneMenu: &nbsp; rendered if label empty or blank"
## 1) Environment
- PrimeFaces version:
6.2.RC2
- Does it work on the newest released PrimeFaces version? Version?
Yes, works on 6.1.9.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
Don't know
- Application server + version:
Tomcat 7.0.82
- Affected browsers:
All

## 2) Expected behavior
When rendering an emp

[2018-02-12 18:32] tandraschko commented on #3326
@melloware we fixed something similar? Could you check?

[2018-02-12 19:42] melloware commented on #3326
Let me investigate.  It might be related to this: https://github.com/primefaces/primefaces/issues/2366

[2018-02-12 20:08] Dougnlizt commented on #1039
Bit by this again (using PF 6.1).  Sure would be helpful if this could be fixed.  I'm not off to code a work-around...

[2018-02-12 20:11] melloware commented on #3326
Looks like this was a JQuery 3.0 change as label.text(' ') used to work now it needs to be label.html(' ');

[2018-02-12 20:57] LuleJayjay commented on #1039
I can post and explain my workaround tomorrow. it's not much effort.

[2018-02-13 09:16] tandraschko commented on #3326
Did you retest that the other case also still works?

[2018-02-13 10:08] NEOMNI opened #3329 "PickList: Advanced filter properties"
## 1) Environment
- PrimeFaces version: 6.1.8
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: n/a
- Affected browsers: All

## 2) Expected behavior
Extend PickList filter properties to support 'filterEvent'

[2018-02-13 11:28] LuleJayjay commented on #1039
I posted and explained my workaround over here now:

https://stackoverflow.com/questions/29427893/primefaces-how-to-dynamically-add-a-contextmenu-to-a-menuitem/34859269#34859269

hope it helps

[2018-02-13 12:19] melloware commented on #3326
Yes it looks like all the test cases from before and this new test case now render properly.

<f:selectItem itemLabel="&lt;Select One&gt;" itemValue="" escape="true"/>
new SelectItem(null, ""),
new SelectItem("", "")

all tested and working.

[2018-02-13 12:29] melloware commented on #1039
So I am confused.  I just read that whole stack overflow and this bug ticket and here is what I think I got out of it.
1. It doesn't work at all.
2. It works if you use integers instead of strings for the id.
3. DefaultMenuModel ID's overwritten is by design use DynamicMenuModel
4. DynamicMenuModel does not work either.

Couldn't the code be modified to check if a MenuItem had an ID already if it

[2018-02-13 12:33] kukel commented on #3310
Same happens for commandButtons iirc...

[2018-02-13 12:43] LuleJayjay commented on #1039
But that's exacty what I did. I overwrote the MenuRenderer and explained how to do it. look at "Lule"s Code example

[2018-02-13 12:45] martin654 opened #3330 "InputNumber: 6.2 RC2 exception when decode invoked on empty submitted value"
## 1) Environment
- PrimeFaces version: 6.2 RC2
- Does it work on the newest released PrimeFaces version? Version? yes, 6.1.13
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: any
- Affected browsers: any

## 2) Expected behavior
p:inputNumber processes empty submitted value as us

[2018-02-13 12:49] melloware commented on #1039
So why not submit a PR if you have the issue fixed?

[2018-02-13 12:49] tandraschko commented on #3310
So we probably need a better/more global fix. We should target that with 6.3. So please investigate a little bit also check if components have the same problems.

[2018-02-13 12:50] tandraschko commented on #3330
@cnsgithub Could you check that, too?

[2018-02-13 12:51] #3326 closed, assigned to nobody

[2018-02-13 12:54] tandraschko commented on #3330
Also if the exception isn't nice, we should think about the case is valid.
I think emptyString or blank is valid and we need to add a trim - however a string value like "crash" shoudln't be valid.

[2018-02-13 12:55] LuleJayjay commented on #1039
how can I do this?

[2018-02-13 12:58] melloware commented on #1039
https://help.github.com/articles/creating-a-pull-request/

[2018-02-13 13:01] LuleJayjay commented on #1039
aaah thank you. Will do that in the evening then.

[2018-02-13 14:43] ghost commented on #3304
Looks good. Is it extensible enough to ignore diacritics?

[2018-02-13 14:48] melloware commented on #3304
Good question.  I guess we need to look at what Javascript sends as keycodes. For example A = 65.  And then this code in the PR converts 65 to 'a'.

[code]
So I guess it depends on what Javascript treats the keycode as for "a with an accent above it" or regular "a".

[2018-02-13 16:21] ghost commented on #3304
Another approach is to match against the select item names, ignoring diacritics:

* https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/normalize
* https://stackoverflow.com/a/18391901/59087

Imagine school names listed with French accents, but selection using keyboards that do not easily allow for typing accented characters. The expected behaviour would be that

[2018-02-13 17:24] webyildirim commented on #1671
What if overlay component is in ui:repeat, how can we access its id to update ?

[2018-02-13 20:15] kukel commented on #3310
Very recent: https://forum.primefaces.org/viewtopic.php?f=3&t=54087 and from loooong ago: https://stackoverflow.com/questions/19246362/jsf-disable-button-when-table-row-is-selected-and-row-selection-listener-is-call

[2018-02-14 00:27] guillep2k opened #3331 "Bug: Calendar won't accept user input when UTC is selected and the date is different from local zone"
## PrimeFaces version: PrimeNG 5.2.0

## Expected behavior

Calendar set to:

[code]

When the user enters a date with the keyboard in the input control (e.g. 03-01-2018) and the browser is in a time zone west of GMT but the control is set to UTC, the date should be accepted.

## Actual behavior

The library rejects the date at Calendar.prototype.parseDate() here:

       if (this.utc)

[2018-02-14 00:59] melloware commented on #3331
Wrong issues list you want the PrimeNG issues list not the Primefaces issues

[2018-02-14 02:33] guillep2k commented on #3331
Sorry, I got confused.

[2018-02-14 02:33] #3331 closed, assigned to nobody

[2018-02-14 06:17] mertsincan opened #3332 "Improve SelectCheckboxMenu hover style"

[2018-02-14 06:19] #3332 closed, assigned to mertsincan

[2018-02-14 06:28] cnsgithub commented on #3330
I was able to reproduce this issue.

As there is no natural reset functionality in the component this state can only appear when using with uninitialized wrapped values (e.g. `Double `or `Integer `being `null`) and `required="false"` (default) or when manually resetting the value as shown above. Though, I confirm, that's a valid use case.

I fixed this in the previous commit. Exceptions for invali

[2018-02-14 06:44] #3291 closed, assigned to nobody

[2018-02-14 07:19] Kameecoding commented on #3310
well the Selector based on which the selection is triggered is only checking for a span with class `ui-c`

both using div and tagging these affected spans with `ui-c` class fixes this issue

A more general fix could be a check to see if the element is contained within a component element.

[2018-02-14 08:08] cnsgithub commented on #3330
For further information see my pull request: https://github.com/primefaces/primefaces/pull/3333

[2018-02-14 08:39] mertsincan opened #3334 "Added summary support to DataTable for ScreenReaders"
Details;
https://www.w3.org/WAI/tutorials/tables/caption-summary/

[2018-02-14 08:40] #3334 closed, assigned to mertsincan

[2018-02-14 11:07] mertsincan opened #3335 "DataTable component Accessibility issue with Paginator"
Reported By PRO User;

[2018-02-14 11:08] #3335 closed, assigned to mertsincan

[2018-02-14 12:08] melloware commented on #3304
I really like the idea of the using one of the fuctions above to decode the diacritic.  I will review the ones posted.

As for the 2nd part about making maps of characters I think you are referring to as the user types characters keep narrowing what is selected.  But that functionality already exists with the "filter" functionality built into the picklist.  My idea for keyboard support was purely

[2018-02-14 12:19] timonohe commented on #977
Hey, is this just planned or is there another way to set a footer into an <p:autocomplete>-Component?

[2018-02-14 12:45] Restage commented on #1753
We could solve this problem by calling `clear()` before every new LazyLoadingQuery on the `EntityManager` in our DAO classes. This detaches all objects from the previous query from the EntityManager and hands a fresh result list to the view bean. This list gets rendered without any problems.
Without this mechanism we always had the correct number of rows and pages displayed in datatable, but the v

[2018-02-14 14:15] UserPSPretoria opened #3336 "SelectOneMenu displays an &nbsp; Text string when the selectItem itemLabel is set to empty string."
## 1) Environment

- PrimeFaces version: 6.2.RC2
Application server + version: Payara 4.1.173
Affected browsers: Google Chrome

## 2) Expected behavior

Dropdown with the first item as an empty string.

## 3) Actual behavior

![image](https://user-images.githubusercontent.com/31402902/36208399-9c7e8c3e-11a1-11e8-98fd-990e19ab567d.png)

## 4) Steps to reproduce

Please use the code below

## 5) Sam

[2018-02-14 14:28] tandraschko commented on #3336
Duplicate of: https://github.com/primefaces/primefaces/issues/3326
Please try a source build.

[2018-02-14 14:28] #3336 closed, assigned to nobody

[2018-02-14 14:48] guilhermeribeirodev commented on #1038
Same problem here with French. You change the pattern prop and things mess around. I changed from EEE to EEEE to fix Spanish wrong year shown but still fails with French. Have locale resources for both.  This is related with the way JS parses date back from input. Is quite bad implemented.

[2018-02-14 18:08] ghost opened #3337 "PickList: Apply filter after moving elements"
**Replicate**
1. Visit https://www.primefaces.org/showcase/ui/data/pickList.xhtml
1. Scroll down to the filter example.
1. Shuttle all items in **Available** filter to **Starting** filter.
1. Set **Available** filter to: `B`
1. Shuttle all items in **Starting** filter to **Available** filter.

**Expected Results**
Only **Black-Tie** appears in the **Available** list.

**Actual Results**
The filter

[2018-02-14 18:10] ghost commented on #3304
The filtering looks great! Having the showcase with accented characters for testing would be convenient. Also, there's some unexpected behaviour with the filter (#3337).

[2018-02-14 18:29] tandraschko commented on #3329
PR or sponsoring via PrimeFaces PRO welcome ;)

[2018-02-14 18:30] tandraschko commented on #3337
PR welcome

[2018-02-14 18:51] koan00 commented on #3277
Further analysis reveals the form value is never set on the client side when the option is selected. In forms.selectonmenu.js when selectItem: function(item, silent) ... is called, selectedOption.val() is undefined for items created dynamically. However selectedOption.val() does return the correct value for non-dynamically loaded items.

In debugging the ajax response to the dynamic load request,

[2018-02-14 18:59] arambrosius opened #3338 "Primeng Table isn't formatted with columns"
## 1) Environment
- Primeng Version: 5.2.0
- Angular Version: 5.2.5
- Bootstrap Version: 4.0.0

## 2) Expected behavior
![image](https://user-images.githubusercontent.com/35042830/36222260-71a2f434-1186-11e8-941d-55808d92a34a.png)

...

## 3) Actual behavior
![image](https://user-images.githubusercontent.com/35042830/36222296-887dc3be-1186-11e8-82f3-a72ec2c37eff.png)

..

## 4) Steps to reproduce

[2018-02-14 19:00] tandraschko commented on #3338
This is the PrimeFACES issue tracker, not PrimeNG.

[2018-02-14 19:00] #3338 closed, assigned to nobody

[2018-02-14 19:50] melloware commented on #1038
I was looking at this and I think we need a better JavaScript -> Java date format converter.  I might look into using this...

https://github.com/MadMG/moment-jdateformatparser

It uses moment.js which Primefaces already includes and it handles converting to and from the Java Date Format.

[2018-02-14 19:50] melloware commented on #1038
Here is another one we should consider...

https://github.com/TheCoder4eu/BootsFaces-OSP/blob/master/src/main/java/net/bootsfaces/utils/LocaleUtils.java

[2018-02-15 02:07] rvaneperen commented on #2337
I had this same problem with version 6.1.  All I needed to do is add appendToBody="true" and move the overlayPanel outside of the container (in my case a datatable inside of a panelgrid.  I moved it outside of the panelgrid and it worked just fine.

[2018-02-15 10:15] #3330 closed, assigned to nobody

[2018-02-15 10:24] tjkruger23 opened #3340 "selectOneMenu: Lazy Load multiple click duplicating select values"
# ISSUE
When clicking multiple times on a Lazy Load selectOneMenu drop down, when there is a delay, it duplicates the values of the drop down. See screenshot

![image](https://user-images.githubusercontent.com/14079788/36251608-6d05b136-124a-11e8-9869-675f045c761a.png)

## 1) Environment
- PrimeFaces version: 6.2.RC2
- Application server + version: Payara Server 4.1.2.173 #badassfish (build 24)
-

[2018-02-15 10:27] tandraschko commented on #3340
a PR or deeper anaylsis would be great!

[2018-02-15 11:28] cnsgithub commented on #3296
Fixed in https://github.com/primefaces/primefaces/pull/3299.

[2018-02-15 11:31] mertsincan opened #3341 "Added cellEditInit and cellEditCancel events to editable TreeTable"
like in the DataTable.

[2018-02-15 11:32] Zerounodue opened #3342 "DataTable: column width causes horizontal scrollbar"
#  Issue
The datatable width gets somehow calculated wrong.
This happens when setting the column width

this problem is also visible on one of the example:
https://www.primefaces.org/showcase/ui/data/datatable/columnResize.xhtml
"**Expand Mode with Grouping**" section

## 1) Environment
- PrimeFaces version:
6.1.13 and 6.2.RC2
- Does it work on the newest released PrimeFaces version? Version?
No
-

[2018-02-15 11:36] mertsincan opened #3343 "Added cellEditMode attribute to TreeTable"
Defines the cell edit behavior, valid values are "eager" (default) and "lazy". Like in the DataTable.

[2018-02-15 11:36] #3341 closed, assigned to mertsincan

[2018-02-15 11:36] #3343 closed, assigned to mertsincan

[2018-02-15 12:18] mertsincan opened #3344 "Added ui-inputswitch-checked class to parent element on InputSwitch"

[2018-02-15 12:19] #3344 closed, assigned to mertsincan

[2018-02-15 13:10] tiagojn commented on #713
Confirmed on Version 6.1

[2018-02-15 13:14] fkjaekel commented on #713
Since this issue was leading my server to out of memory errors, I disabled the iterator method:

[code]

[2018-02-15 13:15] martin654 commented on #3175
Isn't this similar to https://github.com/primefaces/primefaces/issues/2757 ?

[2018-02-15 13:19] tandraschko commented on #3175
don't think so - inputNumber is quite special ;)

[2018-02-15 13:33] martin654 commented on #3344
Hi! I run into styling issue recently with inputSwitch when I needed to have information about the state of input switch to style the component properly. This looks like it solves my problem. Thank you!

[2018-02-15 14:02] tjkruger23 opened #3345 "selectOneMenu: Lazy Load on select menu not submitting value."
# Issue
If one has a select one menu drop down with dynamic/lazy property = true, it doesn't submit the value when processing.

## 1) Environment
- PrimeFaces version: 6.2.RC2
- Application server + version: Payara Server 4.1.2.173 #badassfish (build 24)
- Affected browsers: Chrome, Firefox

## 2) Actual behavior
When selecting second in the drop down and processing the dialog is empty.

![image](

[2018-02-15 14:04] tandraschko commented on #3345
Should be the same: https://github.com/primefaces/primefaces/issues/3277

[2018-02-15 14:04] #3345 closed, assigned to nobody

[2018-02-15 14:10] jmichler opened #3346 "Calendar: dateSelect is not fired when entering date manually and leaving field with tab"
## 1) Environment
- PrimeFaces version: 6.1.13
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Glassfish 4.1
- Affected browsers: At leastChrome

## 2) Expected behavior
when manually entering a date into a calendar with ajax enabled (event dateSelect) that event should also be triggered
...

#

[2018-02-15 14:13] tandraschko commented on #3346
Expected behavioar.
You need to define a change envet for this purpose.
change and dateSelect catches both cases:

`                                <p:ajax  event="dateSelect" />
                                <p:ajax  event="change" />
`

[2018-02-15 14:13] #3346 closed, assigned to nobody

[2018-02-15 14:37] tandraschko commented on #3277
Fixed - please give it a try.

[2018-02-15 14:37] #3277 closed, assigned to nobody

[2018-02-15 14:40] tandraschko commented on #3340
fixed by https://github.com/primefaces/primefaces/commit/d2d2f6ee4626684ab33b7c4242d9da7804a880f8

Please give it a try.

[2018-02-15 14:40] #3340 closed, assigned to nobody

[2018-02-15 15:14] koan00 commented on #3277
Confirmed the fix works. Thanks!

[2018-02-15 15:30] Treppenhouse opened #3347 "DataTable: Pass nulls to the sortFunction or make the nullSortOrder column-specific"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 7
- Affected browsers: Firefox 57

## 2) Problem description
When sorting a column in a `<p:dataTable />` there is the possibility to define a custom `sortFunction`. However, within this sort function the

[2018-02-15 19:24] ghost commented on #3304
The browser's native select multiple widget behaves a bit differently. For example:

[code]

The user can type `aardw` to jump to `Aardwolf` (case insensitive by default) or `aas` to jump to `Aasvogel`.

[2018-02-15 20:13] melloware commented on #3304
Yep I knew that however that would require storing state of the last key pressed.  The browser does that natively because it controls the browser behavior of pure html components since the browser owns them and renders them.

I don't know if any pattern has been established in PF Javscript for storing variables in the component.  There might be a precedent for doing so but I am not familiar with i

[2018-02-16 06:50] cnsgithub opened #3348 "Testing: general considerations and replacement of EasyMock with Mockito"
As many PrimeFaces contributors and members prefer Mockito as a mocking framework we should go with it as of PrimeFaces 2.3, see https://github.com/primefaces/primefaces/pull/3333#issuecomment-365910872.

In general better test coverage should be aimed at, especially for complex things. For instance currently there are just three components under test. Therefore efficient regression testing is imp

[2018-02-16 07:01] cnsgithub commented on #3348
Pull request for the lib replacement part: https://github.com/primefaces/primefaces/pull/3349

[2018-02-16 07:50] leomekenkamp commented on #3088
Just an idea: what about enhancing the [columnToggler to include state](https://stackoverflow.com/a/48822142/5153794), and then moving the multi view state handling to the columnToggler? The toggler could then have an implementation to store the multi view state in the browser, or provide the possibility to put it in a backing bean, or both.

[2018-02-16 09:08] protonbart opened #3350 "Pre-sorting with comparator in Java Bean causes Sort on Column header in Datatable to break"
## 1) Environment
- PrimeFaces version:
v5.0

## 2) Expected behavior
Sort should function regardless
...

## 3) Actual behavior
Sort by clicking on header wont work in datatable.
..

## 4) Steps to reproduce
Create Datatable, have sort in it by bean.id, then do another sport in backing bean before you return list to datatable
..

## 5) Sample XHTML

..

## 6) Sample bean

..

[2018-02-16 09:37] jmichler opened #3351 "SelectOneMenu: add dirty event - which will be fired onblur when the value has been changed"
## 1) Environment
- PrimeFaces version: 6.1.14
- Does it work on the newest released PrimeFaces version? Version? No, 6.1.14
- Does it work on the newest sources in GitHub? no
- Application server + version: glassfish 4.1
- Affected browsers: Chrome at least

## 2) Expected behavior
We have a select-one-menu with an ajax event behind it. We want an update to the server be fired whenever someone le

[2018-02-16 09:42] jmichler commented on #3346
Thank you very much for your reply, this did indeed fix the problem.

[2018-02-16 09:51] tandraschko commented on #3350
No example -> invalid. Also not tested with the newest version.

[2018-02-16 09:51] #3350 closed, assigned to nobody

[2018-02-16 09:56] tandraschko commented on #3351
Don't understand your requirement. Do you mean you need a event when the selection will be changed?

[2018-02-16 10:00] jmichler commented on #3351
yes. But when navigating with the keyboard through that list I don't want the event to be fired on each "change" of the selected row but only when the menu looses the focus. Or at least stays on a selection for 5 seconds or so. I've tried to implement this using the "Blur" event but that fires also when I navigate through my form without any changes at all.

[2018-02-16 10:12] tandraschko commented on #3351
I see. In CKEditor it's called "dirty" and it will be fired when the value is changed via the blur event.
It could be quite tricky to implement, therefor i would suggest to sponsor it via PrimeFaces PRO.

As workaround you could probably use the change event with a delay configured.

[2018-02-16 10:15] tandraschko commented on #3348
+1 - for security improvements in the decode method, a unittest should be there.
Contributions are very welcome.

Often components just renders the widget script, for such easy things i would not create unittests.

[2018-02-16 14:37] georgwolf opened #3352 "Spinner negative values are broken with min attribute unset"
## 1) Environment
- PrimeFaces version: 6.2-SNAPSHOT (up to commit d2d2f6e)

## 2) Expected behavior
Spinner with no min value set spins from 0 to -1, -2 etc.

## 3) Actual behavior
Spinner set to -5e-324 when spinning past zero

## 4) Steps to reproduce
Run Primefaces Showcase with latest 6.2-SNAPSHOT and decrease Basic Spinner (on the Input -> Spinner page) past zero

This is related to issue #3

[2018-02-16 14:39] tandraschko commented on #3352
AFAIK i reverted all the changes, so the behavior should be like 6.1. Everything else will go into 6.3.

[2018-02-16 14:41] tandraschko commented on #3352
oh sorrry, now reverted also the min value / spinner.xml.

[2018-02-16 14:43] tandraschko commented on #3352
Could you please try with a trunk build again?

[2018-02-16 14:50] georgwolf commented on #3352
Yes, with latest commit 3b9cc9d spinner is working as expected

[2018-02-16 14:54] #3352 closed, assigned to nobody

[2018-02-16 16:15] ghost commented on #3304
Or store the keystrokes as a string, which is similar, but the implementation could be quite different. Perhaps:

1. Wait for user input.
1. User presses an actionable key (i.e., not a modifier).
1. If the key is not a letter, clear the current string buffer.
1. If the key is a navigation key (`Up`, `Down`, `Home`, `End`, `Page Up`, etc.), perform the action and go to step 1.
1. If the key is `Esc

[2018-02-16 16:27] melloware commented on #3304
@DaveJarvis I assume if the Picklist loses focus we would also want to clear out the stored keystrokes?

My thought was all the scenarios like if the user tabbed to a new browser tab or if there were 5 picklists on the screen as soon as you leave one it clears the buffer.

[2018-02-16 16:59] ghost commented on #3304
Yes, I believe that's the same behaviour as a multiple select list.

[2018-02-17 13:31] melloware commented on #3344
Looks like there might be an issue with this fix according to one user:  https://forum.primefaces.org/viewtopic.php?f=3&t=54358

@mertsincan can you investigate please?

[2018-02-17 13:56] mertsincan commented on #3344
Ok, I'll check it. Thanks @melloware ;)

[2018-02-17 16:38] Restage commented on #30
It would be really nice to see advanced filter metadata in the LazyLoadModel. Maybe something like

`public List<T> load(int first, int pageSize, String sortField, SortOrder sortOrder, Map<String, Object> filters, Map<String, FilterMatchMode> filterMatchModes)`

With the corresponding enum:
`public enum FilterMatchMode {
    STARTS_WITH,
    CONTAINS,
    ENDS_WITH,
    EXACT,
    CUSTOM
}`

The `

[2018-02-19 01:10] ekennedy80 commented on #3348
Why not JMockit?

[2018-02-19 06:24] cnsgithub commented on #3348
@ekennedy80 I just gave JMockit a read and I'm open to new things. Since you seem to be experienced with JMockit, could you provide a port of `InputNumberTest ` (https://github.com/primefaces/primefaces/pull/3349) to let us directly compare JMockit and Mockito?

Although modern IDEs (Eclipse Oxygen.2, IntelliJ 2017.3) come with code coverage analysis out-of-the-box, the different metrics that JMoc

[2018-02-19 12:18] mertsincan opened #3353 "Virtual Scroll problem after filtering and sorting on DataTable with lazy"
Reported By PRO User;

[2018-02-19 12:20] #3353 closed, assigned to mertsincan

[2018-02-19 12:56] drohatschek commented on #2337
The solution of @svrolanski worked fine for me. Here is his solution a bit more readable :)

1) Implement your own DataTableRenderer

[code]

Declare renderer in `faces-config.xml`:

[code]

[2018-02-19 12:58] melloware commented on #3348
@ekennedy80 I think Mockito and JMockit are the clear leading API's in the Java realm right now for mocking.  Just for me personally Mockito syntax is more readable for future developers looking at and modifying tests.    I guess the best I can explain it as is the following example...

An Interest Manager class we want to mock when someone calls getInterestPercentage() method to return the value

[2018-02-19 17:55] mmariotti commented on #2269
Totally agree.
You should, instead, enhance subTables to be used more easily for grouping.

In example, using `<p:column>`s alongside `<p:subTable>`:

[code]

 should be used to render the same [row-grouping - rowspan](https://www.primefaces.org/showcase/ui/data/datatable/rowGroup.xhtml) of the showcase example:
![example](https://user-images.githubusercontent.com/7235289/36391290-387821ce-15a6-11

[2018-02-20 06:19] elperez commented on #696
Hello, I have a question.
I have frozen columns in .ui-datatable-frozenlayout-left that I don't want to be resized and eaten up by .ui-datatable-frozenlayout-right. is there any way I can make .ui-datatable-frozenlayout-left nonresizeable and always visible (so the frozen columns are visible)?

[2018-02-21 10:09] martin654 opened #3354 "DataTable: add possibility to define load method separately from model"
Currently, the org.primefaces.model.**LazyDataModel** used in DataTable component
does both:
- data loading using load method(s)
- data holding being a model class

This doesn't have to be suitable for all applications. In our case we made architectional decision, that "model" and "controller" should be separated with different scopes and with different responsibilities.  "Model" classes are usual

[2018-02-21 10:18] tandraschko commented on #3354
I also seperate controllers and models but i can't follow for 100%.
Maybe you can give a small example.

A model for a lazyDataModel should never be put into a passivating scope as the memory usage is quite high and serializiation is sometimes required. The best way is to implement a lazyDataModel which directly calls the DB/Repositories. This can simple be added to your controller.

[2018-02-21 12:10] koflerdavidgrawe opened #3355 "PanelGrid: search for p:row also in child/childs (e.g. in composites)"
## 1) Environment
- PrimeFaces version: 6.1, 6.2.RC2
- Does it work on the newest released PrimeFaces version? Version? See above
- Application server + version: Tomcat 8.0.37
- Affected browsers: Chrome, FF

## 2) Expected behavior
Composite is rendered including its insertChildren

## 3) Actual behavior
a) ui:insertChildren components are not rendered
b) Exception is thrown if insertChildren com

[2018-02-21 12:19] tandraschko commented on #3355
I don't think we can fix it, it's up to the JSF impl AFAICS.

[2018-02-21 12:20] tandraschko commented on #3355
Also the example seems invalid. You can't use p:row as child of composite:implementation.
Also can't see the sense of the ui:include to replicate it.

[2018-02-21 12:24] koflerdavidgrawe commented on #3355
As the example shows it is working fine without the p:row tag. So I dont think its an issue of the JSF Impl.
Why cant a p:row be a child of a composite:implementation? We have a p:panelgrid surrounding multiple instances of the composite, which substituted gives a valid setup

[2018-02-21 12:27] tandraschko commented on #3355
The example shows a h:panelGrid.

[2018-02-21 12:29] koflerdavidgrawe commented on #3355
We wanted to reproduce using as little PF components as possible. The same issue arises with a p:panelGrid, as well as a p:column as a child of that.
I can provide another reproducer if need be

[2018-02-21 12:31] tandraschko commented on #3355
I see your usecase but the example doesnt match. But doesn't matter.

The problem is, like in other components, that we only scan the direct childs.
In the PanelGrid case, we only look for p:row in the direct childs instead of looping through e.g. composites.

The same problem happens e.g. with p:tab in p:accordion.

So it's a new feature as it's currently never designed to work with composites.

[2018-02-21 12:37] koflerdavidgrawe commented on #3355
Are you sure that is the underlying cause? The composites content, as well as the h:outputText, which is a child of the p:row, in the example is rendered. Just the substitue of composite:insertChildren is missing

[2018-02-21 12:39] tandraschko commented on #3355
I'm almost sure yes. Otherwise we can't fix insertChildren.
Also i don't have time for it.

[2018-02-21 12:56] koflerdavidgrawe commented on #3355
Okay. How can we help you implement this feature? When can we expect this to be looked at?

[2018-02-21 13:09] tandraschko commented on #3355
To be honest: you can't expect anything as this is a community issue tracker and quite high effort.
There are 3 ways to get a fix:
- use PrimeFaces PRO support to sponsor the fix
- investigate by yourself and provide a PR to fix that issue
- wait until someone from the community fixes it

[2018-02-21 13:30] tandraschko opened #3356 "NPE on PrimeFacesContext#release"

[2018-02-21 13:50] #3356 closed, assigned to nobody

[2018-02-22 02:29] erickdeoliveiraleal commented on #3286
This may have introduced a bug in ImageCropper
`java.lang.ClassCastException: java.lang.Integer cannot be cast to java.lang.Long
	at org.primefaces.component.imagecropper.ImageCropper.getSizeLimit(ImageCropper.java:164)
	at org.primefaces.component.imagecropper.ImageCropperRenderer.getConvertedValue(ImageCropperRenderer.java:188)
	at javax.faces.component.UIInput.getConvertedValue(UIInput.java:104

[2018-02-22 05:53] cnsgithub opened #3357 "imageCropper: ClassCastException regarding sizeLimit attribute"
The issue was introduced in #3286 and reported in https://github.com/primefaces/primefaces/issues/3286#issuecomment-367546810 by @erickdeoliveiraleal. Sorry about that, should have been noticed during testing...

A `ClassCastException ` occurs when using the default value of 10MB wrongly declared as `Integer `instead of `Long `constant.

[2018-02-22 05:57] cnsgithub commented on #3286
@erickdeoliveiraleal Thanks for reporting, just opened an issue for that: https://github.com/primefaces/primefaces/issues/3357

[2018-02-22 06:00] cnsgithub commented on #3357
Pull request: https://github.com/primefaces/primefaces/pull/3358

[2018-02-22 08:21] #3357 closed, assigned to nobody

[2018-02-22 08:58] vlsi opened #3359 "DataTable: .on('...', radioSelector, ...) is slow due to jQuery deficiency"
## 1) Environment
- PrimeFaces version: 3.4.1
- Does it work on the newest released PrimeFaces version? problem is present in `master`
- Does it work on the newest sources in GitHub? problem is present in `master`
- Application server + version: (does not matter, but Weblogic 10g)
- Affected browsers: IE, Chrome

## 2) Expected behavior
DataTable mouseover/mouseout should NOT take lots of resource

[2018-02-22 09:03] tandraschko commented on #3359
Could you try to provide 1-2 possible solutions to optmize it?

[2018-02-22 09:09] vlsi commented on #3359
@tandraschko , I think the workaround would be to avoid passing `selector` argument, and add an additional check to the event listener itself.
That is the event handler would be executed, and it would recheck if the element in question is `ui-radiobutton-box` with appropriate parents, etc.

What do you think?

[2018-02-22 09:14] vlsi commented on #3359
Technically speaking, `radioSelector` is not that complicated, and it might be even optimized at jQuery side. That is jQuery might rewrite the selector to "walk parents, and check class names" kind of filter condition (==reopen https://github.com/jquery/jquery/issues/3254 and optimize jQuery). That, however, sounds harder than fixing a couple of `on` calls in the DataTable code.

[2018-02-22 12:45] vlsi commented on #3359
Update: actual PrimeFaces version is 3.4.1, and in that version the events are bound to document: https://github.com/primefaces/primefaces/blob/3_4_1/src/main/resources/META-INF/resources/primefaces/datatable/datatable.js#L322

[2018-02-22 12:48] vlsi commented on #3359
It seems to be improved in https://github.com/primefaces/primefaces/commit/c0386d2485ee9f9bcb55e3b69e19414dc8f7fa0c

[2018-02-22 15:21] mdzaebel opened #3360 "DataTable: columns with groupRow=true hides rows"
Using _columns_ with _groupRow_="true" in a dataTable hides rows under certain circumstances. In the JEE7 example below, the first and third example is displayed correctly. However, the second table has a row, that could be grouped with the first AND the third row for different columns. In these cases, it's erroneously not displayed at all. During 6.2 development, _groupRow_ bugs have already been

[2018-02-22 20:29] #2439 closed, assigned to tandraschko

[2018-02-22 20:32] tandraschko commented on #2842
You can probably avoid it when setting "PrimeFaces.customFocus=true;" in the onstart attribute. But note: if the input will be replaced by the ajax engine, it won't get refocused.

[2018-02-22 20:34] tandraschko commented on #959
Could be the same as: https://github.com/primefaces/primefaces/issues/3355

[2018-02-22 20:36] tandraschko commented on #844
No idea, sry. We simple developed on our own UI and reused the iframe transport. I think a fix could be quite easy. PR is welcome!

[2018-02-22 20:41] tandraschko commented on #3108
a PR is welcome. I think the easiest way is to set the viewId as cookie path in monitorDownload and fileDownload.

[2018-02-22 20:58] #2912 closed, assigned to tandraschko

[2018-02-23 02:43] ahmedelbadry3 opened #3361 "Issue with p:rowExpansion persisting data"
Hello guys,

I've been playing around with 6.2RC2 but yet the problem of persisting the data in rowExpansion after toggle seem to exist. any ideas?

thank you

[2018-02-23 05:22] jxmai commented on #3361
@ahmedelbadry3  Could you please provide more details (sample) since I should have fixed this problem in #942  ?

[2018-02-23 07:06] mertsincan opened #3362 "Connector image of Horizontal Tree does not appear on IE11"

[2018-02-23 07:07] #3362 closed, assigned to mertsincan

[2018-02-23 07:26] mertsincan opened #3363 "Added ui-menu-overlay class to overlay menu component"

[2018-02-23 07:27] #3363 closed, assigned to mertsincan

[2018-02-23 08:37] #3361 closed, assigned to nobody

[2018-02-23 09:21] tandraschko commented on #2577
Works fine for me. Seems like it was fixed during JSF2.3 alignement and https://github.com/primefaces/primefaces/issues/2027.

[2018-02-23 09:21] #2577 closed, assigned to tandraschko

[2018-02-23 09:38] Rapster commented on #2861
@mertsincan is the author of that feature, he may have a clue :wink: (I'm facing the same problem actually)

[2018-02-23 09:40] tandraschko commented on #1010
Thats actually expected.
messages are attached to components and a datatable:0 is not an component.

in PrimeFaces we enhanced this that it's possible to attach messages to someRandomStringKey. However this does only work for p:messages, not p:message.

This will work for you case:
`        <p:dataTable value="#{myBean.items}" var="item" id="items" rowIndexVar="index">
            <p:column>

[2018-02-23 09:40] #1010 closed, assigned to nobody

[2018-02-23 09:43] tandraschko commented on #539
If you still ahve this problem, it would be great if someone could recreate the issue with all informations and examples.
It's quit hard to rebuild the example to check it currently.
I will close it for now.

[2018-02-23 09:43] #539 closed, assigned to nobody

[2018-02-23 09:46] tandraschko commented on #713
For me it's quite hard to replicate it without examples and will therefore close it.
Please reopen and provide all required informations requested by our issue template.

@fkjaekel If you faced this bug, could you please check it in detail and provide a PR to fix it?

[2018-02-23 09:46] #713 closed, assigned to nobody

[2018-02-23 09:48] Rapster commented on #2861
IMO, the problem is around here:
[code]

Instead of `childNode.getData()`, it should be the ValueExpression `filterBy` used for the filter constraint

[2018-02-23 09:50] tandraschko commented on #405
@hink084 so we can close this issue?

[2018-02-23 09:51] tandraschko commented on #21
looks like a duplicate of #1921

[2018-02-23 09:51] #21 closed, assigned to nobody

[2018-02-23 10:26] tandraschko commented on #2550
And i even can't replicate as a runnable example is missing -> invalid.

[2018-02-23 10:26] #2550 closed, assigned to nobody

[2018-02-23 11:43] luizphilipim opened #3364 "Implement Iterator for LazyDataModel"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: jetty-8.1.9.v20130131
- Affected browsers: All browsers

## 2) Expected behavior

For each over dataModel ends loop.

## 3) Actual behavior

For each over dataModel causes endless loop.

## 4) Steps to r

[2018-02-23 12:06] tandraschko commented on #3364
I see. It's no problem to create a own iterator here but NOTE: it will call the DB X times.

[2018-02-23 12:10] tiagojn commented on #3364
I'm having the same infinite loop problem on my servers, but over here we call it a bug  :smile:

[2018-02-23 12:10] tandraschko commented on #3364
Hm :D it would say: it was never a requirement, so it's a enhancement

[2018-02-23 12:17] tandraschko commented on #3364
Also there are 2 possible implementations possible:
1) load everything and then loop over it
2) load in steps/pages and do it lazy in the iterator#next method

[2018-02-23 12:20] tandraschko commented on #3364
Ok it's a little bit more effort... it would be great if someone could create a Iterator implementation which takes as LazyDataModel as constructor arg - i could add it then.
Or sponsor it via PrimeFaces PRO.

[2018-02-23 12:21] luizphilipim commented on #3364
Also there are 2 possible implementations possible:

1. load everything and then loop over it - I have a datatable with over 1M rows, if load everything, my server will crash :(
2. load in steps/pages and do it lazy in the iterator#next method - it would be ideal

[2018-02-23 14:06] fkjaekel commented on #2313
Considering that this issue was opened on April/2017 and PF 6.2 is not ready yet, could you please backport it 6.1?

[2018-02-23 14:13] mdzaebel commented on #3360
One first idea could be, to group from left to right and avoid overlapping rowGroups, that would fall together if they don't have other discriminating columns [datatable.js:groupRow()].

[2018-02-23 15:07] ahmedelbadry3 commented on #3361
<p:rowExpansion styleClass="variant-expansion" id="variantDetails" >
                                    <p:repeat value="#{addDealBean.attributeVariantList}" var="attr">
                                        <h:panelGrid columns="1" style="border: none">
                                            <h:outputLabel for="attSel" value="Choose the #{attr.attributeName}"/>

[2018-02-23 15:51] hink084 commented on #405
@tandraschko using the latest 6.2-SNAPSHOT with Payara 4.1.2.181 / Mojarra 2.2.14 - I recreated the test cases I provided on 11/16/2016 - by default, this is still a problem.  I've been able to get around it by using the LazyScrollDataModel class I provided above.  The reason why I never created a Pull Request for it was because of the preload() method call requirement.

[2018-02-25 22:02] djmj opened #3367 "Schedule: allow custom markup"
_Schedule_ could be made more flexible if styling would not be defined in java, but in xhtml markup. Java is the wrong place for styling which currently allows for title, description and adding css-classes.

https://stackoverflow.com/questions/8702058/add-custom-html-to-a-jquery-fullcalendar-cell/24563491

**Feature:**

Event's are often based on complex data and have more information then just ti

[2018-02-26 00:04] mdzaebel commented on #3360
There is a better answer from Stackoverflow. Just add the style _height:1em_ to each row (or something similar) when _groupRow=true_. Of course, side effects to other usecases have to be considered in advance.

[2018-02-26 03:29] jorgeaquino opened #3368 "Como pasar de la 5.3 a 6.x"
Quiero saber que tengo que hacer para cambiar de versión de primefaces 5.3 a las 6.x

[2018-02-26 06:22] cnsgithub commented on #3368
This issue tracker is meant to report problems - in English language. For questions you should use the forum: https://forum.primefaces.org/

This should answer your question:
https://github.com/primefaces/primefaces/wiki/Migration-Guide

[2018-02-26 08:33] #3368 closed, assigned to nobody

[2018-02-26 12:23] cnsgithub commented on #3364
In my opinion the first approach would render `LazyDataModel` useless because that would be in fact eager behavior which is sometimes simply impossible.

The second variant has to be implemented to be confirm to laziness and `Iterator` specifications.

However, to achieve this, the `Iterator` must be in knowledge of sort and filter requirements, otherwise calling `LazyDataModels's `load methods th

[2018-02-26 12:30] tandraschko commented on #3364
i don't think that any sorting or filtering should be applied when doing a for-each over the direct model.
Also it's impossible to pass something via a for-each loop.
What we coud do is:
1) provide a simple iterator, without any sorting or filtering, so a for-each will work
2) provide a overloaded iterator() method to allow to pass filtering and sorting options

IMO no refactoring is required.

[2018-02-26 12:40] cnsgithub commented on #3364
In principle, `LazyDataModel.load `could be called in `LazyDataModelIterator.hasNext `to decide whether there are more rows or not. The response could be hold as a prefetch in the iterator instance to be simply returned when `LazyDataModelIterator.next` gets called. This would reduce requests to the database for example.

@tandraschko The disadvantage of overloading the `iterator `method is that i

[2018-02-26 12:45] tandraschko commented on #3364
I would do it the following way:
Add a local variable "int currentRow" and increase this on #next.
#hasNext should simple compare the currentRow with lazyDataModel#getRowCount

This is quite a simple impl
a little bit better would be to load multiple items on "next", doing a query for each single item will lead to bad peformance

[2018-02-26 16:27] awenger63 opened #3369 "dataTable: horizontal scroll not work on RTL language"
## 1) Environment
- PrimeFaces version: 6.2.RC1 (actual showcase)
- Affected browsers: All

## 2) Expected behavior
support RTL language in dataTable horizontal scroll

## 3) Actual behavior
dataTable Header have not horizontal scrolling on RTL language and virtualScrolling haven't horizontal scrollbar

## 4) Steps to reproduce
- Go to show case : [https://www.primefaces.org/showcase/ui/data/datat

[2018-02-26 18:49] jxmai commented on #3361
Could you replicate the problem using https://github.com/primefaces/primefaces-test ?

 (Remember to set the version to 6.2 SNAPSHOT on this line https://github.com/primefaces/primefaces-test/blob/master/pom.xml#L27 to match https://github.com/primefaces/primefaces/blob/master/pom.xml#L15)

[2018-02-27 06:58] cnsgithub commented on #3364
Pull request: https://github.com/primefaces/primefaces/pull/3370

[2018-02-27 09:09] ghost commented on #2838
Will `<p:autoUpdate />` have something like a 'disabled' attribute, so that it can be disabled for some conditions?

[2018-02-27 09:23] tandraschko commented on #2838
Did you checked it before asking? ;)

[2018-02-27 09:30] ghost commented on #2838
Oops, now that you're saying it, I notice the commit
ee5cc12 (implemented disable attribute). ;-)

[2018-02-27 09:34] cnsgithub commented on #3337
I first thought fixing this would be as easy as just adding the `filter `calls to picklist.js at the following positions:
[code]

However, although the filter methods get called, they have no effect because it seems the changes are discarded with the following ajax response. Personally, I have no idea how to add these filters in a way that they are called after ajax response had been received.

[2018-02-27 09:48] vlsi commented on #3359
@tandraschko , just in case: even though binding events to the table is better, it does not solve the issue.
It just keeps the impact within the table.

[2018-02-27 09:50] tandraschko commented on #3359
Could you then please rework your description to match the 6.1/6.2?

[2018-02-27 11:34] cnsgithub commented on #1892
@gyan2 I think it's just a typo, `1.23.456.(78)` should be expected instead.

@tandraschko @melloware With #3237 the mask will be translated to regex on the server side. The mask itself is not a regex, it's specific to jquery.maskediput. Internally jquery.maskedinput uses JS regex. The bug lies there. However, since jquery.maskedinput is in archived state we have no chance to get it fixed from the

[2018-02-27 11:44] melloware commented on #1892
@cnsgithub Great debugging!  Should we just fix the JS right now since the component is dead and move to cleave.js in 6.3?

[2018-02-27 11:53] cnsgithub commented on #1892
@melloware The jquery.maskedinput code is somewhat cryptic, so that I am not willing to try to fix it there. :-1: However, if you're crazy enough, feel free to give it a try. This is the 'simple' return statement:
[code]

[2018-02-27 11:56] melloware commented on #1892
HA!  That is some terrible unreadable code right there.  OK let's definitely move to cleave.js in 6.3.

[2018-02-27 11:59] martin654 commented on #3354
Well, in our application we use @Controller annotated classes for logic. Those classes are stateless and efectively singletons. Then we have @Model annotated classses (injectable FlowScoped beans) where we store data. This @Model annotated classes are typically injected into Controllers (using proxy because we inject them to wider scope).
Concept of LazyDataModel does not fit this data / logic sep

[2018-02-27 13:28] adjiandov opened #3371 "p:inputNumber not updating after ajax value update"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version?
- No, I tried it on 6.2.RC2
- Does it work on the newest sources in GitHub?
-It does not.
- Application server + version:
JBoss Wildfly 10.1.0
- Affected browsers:
-Tested on Chrome and Firefox.
## 2) Expected behavior
The inputNumber component value should display the newly updated value

[2018-02-27 13:33] tandraschko commented on #3371
The exact same code doesn't work with a p:inputText

[2018-02-27 13:42] tandraschko commented on #3371
Works fine without immediate.
Will close it as invalid because i can't see a bug, just a weird example ;) Please use the forum.

[2018-02-27 13:42] #3371 closed, assigned to nobody

[2018-02-27 13:45] tandraschko commented on #3371
JFYI: i never never never used immediate and i use JSF since 8 years ;) It has a weird behavior if you don't know what happens for 100%. Just don't use it.

[2018-02-27 13:47] adjiandov commented on #3371
@tandraschko Thank you very much. I tried the forum before I posted here, it just never occurred to me that this would cause the issue. Saved me a lot of troubles. :)

[2018-02-27 13:49] cnsgithub commented on #3240
I just took a look at cleave.js in more detail. It's a nice lib that provides phone, credit card and number masks and besides syntax also considers the semantics. E.g. DE phone numbers look different than US, credit cards may be visa, master card, etc. What I am currently missing is especially for non-default formats like serial numbers the possibility to specify the pattern more individually.

I

[2018-02-27 13:50] cnsgithub commented on #3371
Immediate has some valid use cases though. One example could be when you need to perform an action on server side 'immediately' (just like the name says), without having to care about whether any input fields which may require validation are correctly filled by the user.

[2018-02-27 13:59] cnsgithub commented on #3240
Note: If we decide to additionally provide phone and credit card inputs, we may get problems validating them on the server side since we cannot simply clone semantic validations as with regex. To achieve this, inclusion of third-party-libs like https://github.com/googlei18n/libphonenumber would be necessary.

[2018-02-27 15:41] tandraschko commented on #3371
Sure you could use it for that - but it feels broken for me. That means that the button actually is independent from the inputs and validation doesn't matter. I just use "process=@this" for this purpose.

[2018-02-27 16:55] ghost opened #3372 "NullPointerException on sorting of nested DataTables"
Given a table (outer table) with another nested table (inner table). Inner table resides inside a column of outer table. The visibility of the column containing inner table can be toggled by a checkbox. If you now make one inner table visible, sort it, hide it again, then a NullPointerException is thrown whenever another table is made visible.

Inner table has `sortMode="multiple"`.

To clarify th

[2018-02-27 18:08] schlebe commented on #2696
I'm the author of #1001 and this issue is a duplicate of mine.
At end of my #1001 post I request the same thing for DialogFramework !

jxmai say: I just corrected it !

Well: but how can I use it in Primefaces 6.1.14 ?

Can somebody give us some lines of code ?

This is urgent because I have found a workaround to do the same thing ... but I hate workaround :-)
If a well build solution exists, I pr

[2018-02-28 06:21] cnsgithub commented on #2696
@schlebe The feature has NOT yet been implemented. @jxmai just corrected his previous comment. ;-)

[2018-02-28 06:48] schlebe commented on #2696
OK thanks for the information.

BUT, I have read the source and I think that this request is simple to implement !

Primefaces as already added 2 attributes/events that are onHide and onShow.

I think that where onHide is implemented, it is enough to add a new event that we can name onBeforeHiding() or onClosing !

The onHide event is called after DialogFramework has been closed or hidden.

The on

[2018-02-28 07:02] schlebe opened #3373 "Why icon Button is not more clickable after closing DialogFramework ?"
I have posted this question on forum but even kukeltje (the more activ PrimeFaces expert) doesn't have answered.

I develop now using Primefaces 6.1.14.

I think that the best thing is to follow my post on forum in this address [https://forum.primefaces.org/viewtopic.php?f=3&t=54492](https://forum.primefaces.org/viewtopic.php?f=3&t=54492)

In short, the problem is that I have developped a solution

[2018-02-28 07:47] cnsgithub commented on #3373
Why so complicated. I would avoid such complex JS workarounds if possible.

Example how you could do it, if i understood your use case correctly. You just need to add a function to check if the values have been changed.

[code]

[2018-02-28 07:52] martin654 commented on #3354
@tandraschko Thomas, I see you added 'new feature' label here. Is adding new 'load' attribute on dataTable as I suggested the preffered way to handle this issue?

[2018-02-28 08:06] cnsgithub commented on #1001
@schlebe As another workaround, just in case you further want to use the close button, you could override the button's click event handler.

E.g. on https://primefaces.org/showcase/ui/overlay/dialog/basic.xhtml to change the behavior when closing basic dialog, just do this:
[code]

[2018-02-28 08:07] kaizokun opened #3374 "Hascode method of CheckBoxTreeNode do not use the rowkey attribute"
Hi, the hashcode method of the CheckBoxTreeNode class do not use the rowkey attribute like the DefaultTreeNode class. So two CheckBoxTreeNodes that contain the same datas are considered as equals. Apparently it is an issue and someone asked me to post it here.

[2018-02-28 08:11] #3301 closed, assigned to cagataycivici

[2018-02-28 08:12] #3300 closed, assigned to nobody

[2018-02-28 08:14] schlebe commented on #3373
I have read your explanation that is a tricky solution that use that fact that dialog are not really closed but only hidden.

Your point of view is interesting; but one functionnality is missing.

The DialogFramework is hidden before the Confirmation dialog is shown and that is not acceptable for me. If the process ask if user will close the DialogFramework or not, the DialogFramework must be visi

[2018-02-28 08:14] #3298 closed, assigned to cagataycivici

[2018-02-28 08:15] #3150 closed, assigned to cagataycivici

[2018-02-28 08:17] #2926 closed, assigned to cagataycivici

[2018-02-28 08:19] #2897 closed, assigned to cagataycivici

[2018-02-28 08:21] #2888 closed, assigned to cagataycivici

[2018-02-28 08:22] #2882 closed, assigned to cagataycivici

[2018-02-28 08:23] #2851 closed, assigned to cagataycivici

[2018-02-28 08:23] #2841 closed, assigned to cagataycivici

[2018-02-28 08:24] schlebe commented on #1001
@cnsgithub: that is very interesting because that answers to another response that I have just posted on [https://github.com/primefaces/primefaces/issues/3373](issue-3373) !

The "closeIcon" solution for this issue can be used for DialogFramework and with closeIcon, the Confirmation dialog is displayed before DialogFramework is hidden !!! Super

I propose to continue our discussion on 3373 issue.

[2018-02-28 08:24] #1001 closed, assigned to nobody

[2018-02-28 08:25] #2830 closed, assigned to cagataycivici

[2018-02-28 08:29] tandraschko commented on #3354
there is no preffered way for now ;)
I just added the label as it would be a new feature.

[2018-02-28 08:32] #2772 closed, assigned to cagataycivici

[2018-02-28 08:33] #2770 closed, assigned to cagataycivici

[2018-02-28 08:34] cnsgithub commented on #1001
@schlebe You're welcome. The correct link to the issue is https://github.com/primefaces/primefaces/issues/3373. I just mention this in order to get correctly referenced by GitHub.

[2018-02-28 08:35] #2765 closed, assigned to cagataycivici

[2018-02-28 08:36] #2686 closed, assigned to cagataycivici

[2018-02-28 08:41] #2684 closed, assigned to cagataycivici

[2018-02-28 08:45] #2652 closed, assigned to cagataycivici

[2018-02-28 08:46] #2645 closed, assigned to cagataycivici

[2018-02-28 08:47] #2644 closed, assigned to cagataycivici

[2018-02-28 08:48] #2610 closed, assigned to cagataycivici

[2018-02-28 08:50] #2609 closed, assigned to cagataycivici

[2018-02-28 08:52] #2574 closed, assigned to cagataycivici

[2018-02-28 08:55] #2406 closed, assigned to cagataycivici

[2018-02-28 08:59] kaizokun opened #3375 "p:tree with propagateSelectionDown to false but propagate anyway"
Hello,

I have a strange issue with the tree component. The bean 'MyBean' use a view scope.

[code]

I update the tree it with a simple button to test.

If I select a node, with the propagateSelectionDown to false, the child nodes are not selected ( so it works ) and with the p:ajax the myBean.selectedFileNodes array is populated with the unique checked node.

Then if I update the p:tree with a si

[2018-02-28 09:01] tandraschko commented on #3375
Please follow the issue template.

[2018-02-28 09:01] #3375 closed, assigned to nobody

[2018-02-28 09:24] kaizokun commented on #3375
I don't have time...

[2018-02-28 09:29] tandraschko commented on #3375
Why should we invest time in our freetime to check your issue when you even don't have time to provide a reproducer?
No, thanks. Thats not how open source works.

[2018-02-28 09:39] kaizokun commented on #3375
Sorry I have been a bit rough, it's just that I 'm not familiar with github ... I just want to help, but of course I 'm not that involved than you, I should be more grateful. From my point of view it is a not expected behavior considering the component configuration and I wanted to signal it. I've been able to get the behavior I expected so I don't know if it is an issue or something not implement

[2018-02-28 09:47] Rapster commented on #3374
Please follow the issue template next time...

[2018-02-28 09:49] tandraschko commented on #3374
Could some provide a PR for this? (@melloware @jxmai @Rapster @cnsgithub ?)

[2018-02-28 09:50] tandraschko commented on #3374
there is nothing to reproduce here, so i think it's ok.
We added a change last year to the DefaultTreeNode to take the rowKey into equals/hashcode.

[2018-02-28 10:00] kaizokun commented on #3374
Ok thank you, is there a particular reason that it's not the case for the CheckBoxTreeNode ?

[2018-02-28 10:23] cnsgithub commented on #3374
PR: https://github.com/primefaces/primefaces/pull/3376

[2018-02-28 10:35] #2558 closed, assigned to cagataycivici

[2018-02-28 10:38] #2532 closed, assigned to cagataycivici

[2018-02-28 10:39] #2470 closed, assigned to cagataycivici

[2018-02-28 10:39] #2389 closed, assigned to cagataycivici

[2018-02-28 10:40] #2357 closed, assigned to cagataycivici

[2018-02-28 10:41] #2348 closed, assigned to cagataycivici

[2018-02-28 10:44] cagataycivici commented on #1894
Decided not to do a change in docs

[2018-02-28 10:44] #1894 closed, assigned to cagataycivici

[2018-02-28 10:46] #1804 closed, assigned to cagataycivici

[2018-02-28 10:47] #1611 closed, assigned to cagataycivici

[2018-02-28 10:56] #2875 closed, assigned to cagataycivici

[2018-02-28 10:57] cnsgithub commented on #3372
In `DataTable`, line 1702 (PF 6.2-SNAPSHOT) no column is returned by `findColumn(multiSortState.getSortKey()) `because `getSortKey() ` contains a client ID of an inner table column which is not rendered anymore and therefore cannot be found in the component tree.

So, I would say this issue is invalid.

In your `TestPage.xhtml `if you change `rendered="#{outerRow.expanded}" `to `style="#{!outerRow

[2018-02-28 11:15] cnsgithub commented on #3372
Ok, I have to correct something: the issue disappeared only if you exactly follow the steps provided by @reiudo. If you randomly click at various check boxes and columns it appears again.

The reason is probably in the line mentioned afore:
![image](https://user-images.githubusercontent.com/13161711/36784700-aa73c48c-1c80-11e8-90a7-a757de07344c.png)

Columns of the inner table are searched for in

[2018-02-28 11:42] cnsgithub commented on #3372
PR: https://github.com/primefaces/primefaces/pull/3377

[2018-02-28 11:55] ghost commented on #3372
Will every nested table now keep its own state like sorting, filtering or column order, even if it would be hidden and made visible again?

[2018-02-28 12:20] cnsgithub commented on #3372
No, I think only the last one will remember its state. The PR was just about fixing the NPE, not adding functionality that hadn't been there before.

[2018-02-28 12:39] #3372 closed, assigned to nobody

[2018-02-28 12:40] tandraschko commented on #3372
yep, thanks.

[2018-02-28 12:42] #3374 closed, assigned to nobody

[2018-02-28 12:42] tandraschko commented on #3374
Thanks

[2018-02-28 13:50] schlebe commented on #3373
@cnsgithub: I have used your technics, and I have replaced

`wgDialog.hide = function() { displayConfirmDialog();
`

where wgDialog is the DialogFramework widged variable.

by ...

[code]
this work well,

But I have the same problem that I have with icon/button that keep blocked and unclickable !

Sorry, I have forgotten to change the method call to close the DialogFramework.

Before, I called

[c

[2018-02-28 14:02] schlebe opened #3378 "DialogFramework: add ability to define a custom widgetVar"
Recently, I have posted some remarks about the interception of closing/hiding DialogFramework.

I have now a solution when some parts are explain in
https://github.com/primefaces/primefaces/issues/3373
https://github.com/primefaces/primefaces/issues/2538

This work well, but it is very complicated and tricky to find the DialogFramework Primefaces widget.
I explain that in forum https://forum.prime

[2018-02-28 14:10] cnsgithub commented on #3378
Just for your information: none of your links are working correctly. Could you please correct them in order to get the GitHub referencing working? Simply copy&paste the links, markdown automatically detects them...

https://github.com/primefaces/primefaces/issues/3373
https://github.com/primefaces/primefaces/issues/2538
https://forum.primefaces.org/viewtopic.php?f=3&t=54492

[2018-02-28 14:13] tandraschko commented on #3378
I even thought about to remove every data-widgetvar as you can simple get the widget via the ID -> PrimeFaces.getWidgetById(elementId)

[2018-02-28 14:14] tandraschko commented on #3378
See: https://github.com/primefaces/primefaces/issues/3263

[2018-02-28 14:17] tandraschko commented on #3378
Will likely be a won't fix but lets discuss it if not possible via PrimeFaces.getWidgetById ;)

[2018-02-28 14:31] schlebe commented on #3378
@cnsgithub: I have corrected the link.

@tandraschko: I understand your proposal but for DialogFramework, it is not possible to assign the ID !

@tandraschko: you have changed the title but this is not correct because DialogFramework has already an data-widgetvar ! What I want is to have the possiblity to define a custom widget-varname that I can simply retrieve using PF('widgetname') javascript f

[2018-02-28 14:33] cnsgithub commented on #3378
You can try to set a custom-id and based on the id you can probably get the name
_dlg -> _dlgwidget
: -> _

[2018-02-28 14:36] tandraschko commented on #3378
I see. Feel free to provide a PR or sponsor it. Not sure how easy it is.

[2018-02-28 14:59] schlebe commented on #3263
Just for info,

For DialogFramework it is not possible to define a custom ID. If you take the decision to replace widgetvar by id, and to remove data-widget,  don't forget to allow custom ID for DialogFramework :-)

[2018-02-28 15:04] cnsgithub commented on #3263
You may also rethink your UI. I got a pretty complex JSF application without the use of the DialogFramework. Almost anything can be done by using regular components as well if the dialog framework is giving you headaches.  Also a lot of dialogs are not very user-friendly in my opinion. You can use p:commandButton in combination with p:confirm as well. Dialogs these days are also counterproductive

[2018-02-28 15:15] schlebe commented on #3263
@cnsgituhb: I prefer to use DialogFramework for reusability at to avoid using some "include". I find this cleaner and more easy to debug.
There exists another solution (the best for me) that is Client/Server :-)

[2018-02-28 18:22] mateuszkl opened #3379 "Autocomplete documetation update"
In PrimeFaces 6.1 user guide in Autocomplete section -> POJO Support, it says:
"Note that when working with pojos, you need to plug-in your own converter"

Actually it's kind of false, becouse OmniFaces ListConverter works just fine. Just letting you know.
Their docs don't mention this, but it works 100%, no need to write custom converter.
`
<p:autoComplete value=....>

[2018-02-28 18:56] tandraschko commented on #3379
from primefaces perspective, omnifaces converter is a "own" converter.

[2018-02-28 19:31] mateuszkl commented on #3379
I agree, but it would be nice to know immediately that it's compatible. I wasted some time before i found this solution, and it's not like they're competitors.

[2018-02-28 19:58] tandraschko commented on #3379
I dont think it makes a big difference if we replace "own converter" with "a converter" and we will also not mention the omnifaces converter in our docu as its also a converter

[2018-02-28 19:58] #3379 closed, assigned to nobody

[2018-02-28 20:24] mateuszkl commented on #3379
yeah, I guess it doesn't

[2018-02-28 22:09] djmj opened #3380 "Breadcrumb: allow custom markup"
Using breadCrumb involves complicated and unncessary use of MenuModel to represent a linear data structure. This binds markup to Java code and makes rendering less flexible.

A tag like _p:menuItems_ with _var_ attribute. Even more flexible would be renderer for _p:menuItem_ in combination with _ui:repeat_ since it allows declaration of child _f:param_ of item.

**Example:**

Menuitems

    <p:bre

[2018-03-01 07:37] ankitacroit09 opened #3381 "DataTable: not having the keyboard focus on filter input field inside column header"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers:

## 2) Expected behavior
Should have focus on Input field when filtering enable

## 3) Actual behavi

[2018-03-01 09:34] #3364 closed, assigned to nobody

[2018-03-01 09:37] #3348 closed, assigned to nobody

[2018-03-01 09:53] #3074 closed, assigned to tandraschko

[2018-03-01 09:53] tandraschko opened #3383 "[Documentation] Remove autoUpdate attributes"
was replaced by p:autoUpdate

[2018-03-01 09:56] tandraschko opened #3384 "[Documentation] Droppable: greedy attribute"
see #3111

[2018-03-01 09:57] #3141 closed, assigned to nobody

[2018-03-01 09:58] #3166 closed, assigned to nobody

[2018-03-01 10:02] tandraschko opened #3385 "Remove Push"

[2018-03-01 10:02] tandraschko opened #3386 "Remove Mobile"

[2018-03-01 10:12] #3385 closed, assigned to tandraschko

[2018-03-01 10:33] #3386 closed, assigned to tandraschko

[2018-03-01 11:08] SergioSVQ opened #3387 "delete"
delete

[2018-03-01 11:40] #3111 closed, assigned to nobody

[2018-03-01 12:05] cnsgithub commented on #3298
Compared with `imageCropper.xml` the description has been cut accidently?

![image](https://user-images.githubusercontent.com/13161711/36843931-dcf9fc02-1d50-11e8-9d7b-79c400700674.png)

[2018-03-01 12:06] #1296 closed, assigned to nobody

[2018-03-01 12:07] tandraschko opened #3388 "[Documentation] fileupload icon attributes"
https://github.com/primefaces/primefaces/issues/1296

[2018-03-01 12:27] reitzmichnicht opened #3389 "Include license information in pom.xml"
## 1) Environment
- PrimeFaces version:
6.1.14

## 2) Expected behavior
pom.xml contains license information

In the distribution download, please add the following to tag/pom.xml

[code]

This helps a lot when working with license checking plugins.

[2018-03-01 12:39] melloware opened #3390 "PrimeFaces.current() needs to be Mockable for unit tests"
The old RequestContext for unit testing we could do the following:

[code]
So we could verify that things like addCallBackParam were called with..

[code]

The PrimeFaces.current() static class needs soemthing similar to be able to do something like...

[code]

[2018-03-01 12:42] tandraschko commented on #3389
@mertsincan / @cagataycivici Could you do this for elite? I will clseo this ticket for now as it's not related to the community version here.

[2018-03-01 12:42] #3389 closed, assigned to nobody

[2018-03-01 12:44] tandraschko commented on #3390
ideas welcome ;)

[2018-03-01 12:45] melloware commented on #3390
I will submit a PR!

[2018-03-01 13:01] tandraschko commented on #3109
we now always use $(function(){...});

[2018-03-01 13:01] #3109 closed, assigned to tandraschko

[2018-03-01 13:25] christophs78 opened #3391 "DataList and DataGrid should support multiViewState"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? no
- Does it work on the newest sources in GitHub? no
- Application server + version: does not matter
- Affected browsers: does not matter

## 2) Expected behavior

DataTable supports multiViewState since Version 6.1.
DataList and DataGrid should support multiViewState too

## 3) Actual behavior

[2018-03-01 15:09] #3058 closed, assigned to tandraschko

[2018-03-01 15:10] tandraschko opened #3392 "Remove environment infos from PrimeConfiguration"

[2018-03-01 15:20] tandraschko opened #3393 "[Documentation] remove outdated stuff"
- Push
- Mobile
- primefaces.SECRET context param

[2018-03-01 16:01] #3392 closed, assigned to tandraschko

[2018-03-01 21:13] jxmai opened #3394 "Treetable: no way to clear filter values out of the box - missing clearFilters API"
## 1) Environment
- PrimeFaces version: PF 6.3 Snapshot
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Tomcat 8.5
- Affected browsers: All

## 2) Expected behavior

There should be a way to clear filter values

[2018-03-02 00:26] gallegote opened #3396 "DataTable: new responsive mode"
## 1) Environment
- PrimeFaces version:  Primefaces 6.2

## 2) Expected behavior

Add a new responsive mode to the DataTable component, so that it works in a similar way to the jquery plugin [datatables](https://datatables.net/)

This mode is a mixture of the two responsive modes of primefaces. Only columns that are hidden by priority are displayed in reflow mode

![step1](https://user-images.gith

[2018-03-02 04:49] nxtruong72 opened #3397 "Datatable: always fire event cell edit"
## 1) Environment
- PrimeFaces version: 6.2

## 2) Expected behavior
The event onCellEdit change is fired only when the value is changed.

## 3) Actual behavior
onCellEdit event is fired even I didn't change anything (just click on the cell).

## 4) Steps to reproduce
Click on the cell.

## 5) Sample XHTML
I implement as the same as this https://www.primefaces.org/showcase/ui/data/datatable/edit.x

[2018-03-02 07:06] cnsgithub commented on #3397
I just tried to reproduce this issue on the showcase and can confirm.

That's kind of weird behavior: sometimes `onCellEdit `gets called although the value didn't change.

When looking at `datatable.js `it seems that the original intention was to only submit on changes. However, the implementor of `EditView.onCellEdit `must have known about the fact, that it is not working properly in all cases, b

[2018-03-02 07:25] nxtruong72 commented on #3397
Thanks for your reply, @cnsgithub
Do you know a way to work-around for this ?

[2018-03-02 07:27] cnsgithub commented on #3397
I'll try to make a PR.

[2018-03-02 08:20] #3394 closed, assigned to tandraschko

[2018-03-02 08:21] tandraschko opened #3398 "[Documentation] TreeTable: add clearFilters widget method"

[2018-03-02 08:55] cnsgithub commented on #3397
Pull request: https://github.com/primefaces/primefaces/pull/3399

@nxtruong72 If it is really fundamental, you could do some dirty patching in primefaces-6.2.jar directly. Therefore change `if(d||!a){g.doCellEditRequest(k)}` in `META-INF/resources/primefaces/components.js` to` if(d||a==false){g.doCellEditRequest(k)}`. Otherwise, better wait for the next patch release.

[2018-03-02 09:01] #3397 closed, assigned to nobody

[2018-03-02 09:11] #2749 closed, assigned to nobody

[2018-03-02 11:26] cnsgithub commented on #3189
Is there a checkstyle rule for that?

[2018-03-02 12:00] tandraschko commented on #3189
It doesnt make sense for every loop, therefore not possible

[2018-03-02 12:20] melloware commented on #3387
@tandraschko look like this is safe to delete.

[2018-03-02 12:24] #3387 closed, assigned to nobody

[2018-03-02 12:24] tandraschko commented on #3189
Very core is fine now + all common forms components.
Not sure if we should touch data components, too.

[2018-03-02 12:49] stevendegroote opened #3400 "Slider: does not allow manual decimal input"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Affected browsers: All

## 2) Expected behavior
A slider that slides between decimal numbers should also allow manual input in the linked inputfield.

## 3) Actual behavior
Currently, the linked input field does not allow typing , or . , but only accepts 0-9

## 4) Steps to reproduce

[2018-03-02 12:58] cnsgithub commented on #3400
If you copy+paste a decimal value like -234.5 it even accepts invalid values outside the range.

![image](https://user-images.githubusercontent.com/13161711/36899859-3f22adae-1e21-11e8-8f0d-e7139dc60234.png)

See #3282  what should be done on server side should probably also be done on js side so that the user cannot enter values outside the range

Enhancement? This should be a 'Defect'

[2018-03-02 13:34] tandraschko commented on #3189
Will close it for now. It think it's worth to optimize UIData + DataTable in the future but all other i woudln't touch.

[2018-03-02 13:34] #3189 closed, assigned to tandraschko

[2018-03-02 14:03] mertsincan opened #3401 "Improve autocomplete property of AutoComplete component"
Reported By PRO User;

[2018-03-02 14:05] #3401 closed, assigned to mertsincan

[2018-03-02 14:25] mertsincan opened #3402 "Split Button Overlay not getting hidden when default action is clicked"
Reported By PRO User;

[2018-03-02 14:25] #3402 closed, assigned to mertsincan

[2018-03-02 15:41] stevendegroote opened #3403 "[Documentation] Slider: Documentation incorrectly mentions types "Integer""
The PF user guide incorrectly mentions that the type of minValue, maxValue and step is "Integer".
The showcase on the other hand does have an example where decimal values are used.

https://www.primefaces.org/showcase/ui/input/slider.xhtml

[2018-03-02 16:44] JHookDev commented on #3228
A change was implemented with 6.2 to allow '\*' and 'All rows'. However only the '\*' works as expected. The 'All rows' option doesn't work, due to the regular expression used to split the options, as it is splitting on commas and spaces.

`String[] options = pageable.getRowsPerPageTemplate().split("[,\\s]+");`

The EL option suggested by cnsgithub works, however it does possibly require the imple

[2018-03-02 16:46] tandraschko commented on #3400
A PR is welcome here ;)

[2018-03-02 16:51] #3029 closed, assigned to nobody

[2018-03-02 22:04] jxmai opened #3404 "TreeTable: filtered values lost `expanded` attribute - every filtered node's expanded attr is false"
## 1) Environment
- PrimeFaces version: 6.3 SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) NO
- Application server + version: Tomcat 8.5
- Affected browsers: All

## 2) Expected behavior

filtered nodes should persist all info of or

[2018-03-02 23:53] jxmai opened #3406 "TreeTable: UX - support responsive vh"
## 1) Environment
- PrimeFaces version: PF 6.3 SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: N/A
- Affected browsers: N/A

## 2) Expected behavior

TreeTable should support vh

## 3) Actual behavior

Tr

[2018-03-04 10:33] tandraschko opened #3408 "Tree: getTreeNodes should check for the type and ignore UIInstructions"

[2018-03-04 10:47] #3408 closed, assigned to tandraschko

[2018-03-04 10:52] #3406 closed, assigned to nobody

[2018-03-04 11:26] tandraschko commented on #3396
Probably this will only be done if you sponsor it via PrimeFaces PRO.

[2018-03-05 07:41] cnsgithub opened #3409 "ComponentUtils.getHrefURL: lack of encoding"
As already mentioned in [this](https://github.com/primefaces/primefaces/commit/41fd99e3375227ccda3c4559c64dda26fa02b82a) commit comment parameter keys are not encoded. This may lead to HTTP parameter pollution.

~~Fragments are also not encoded.~~ See comment [below](https://github.com/primefaces/primefaces/issues/3409#issuecomment-370339135)

[2018-03-05 07:43] cnsgithub commented on #3409
PR: https://github.com/primefaces/primefaces/pull/3410

[2018-03-05 08:06] cnsgithub commented on #3409
@jasonex7 Your method seems to assume that the `baseUrl `already is correctly encoded in all parts: paths, parameters, fragment. Is that correct? Then we should make it a convention in javadoc or maybe annotate the `baseUrl `parameter with `@Encoded` (borrow from `javax.ws.rs`?) to avoid double encoding. What do you think?

[2018-03-05 12:47] brunoaandrade commented on #2667
The connector should also have a custom JS function to register click ('.ui-diagram > .jsplumb-connector').
The problem is that the connector (svg element) does not have any ID in the generated html.

[2018-03-05 18:10] brunoaandrade opened #3411 "Diagram: allow synchronization of elements to the server"
## 1) Environment
- PrimeFaces version: 6.1

## 2) Expected behavior
 After moving the elements in a p:diagram, there position should be updated.
 when a p:commandButton is pressed, the position of the elements are the same.

## 3) Actual behavior
 Diagram elements have always the same position in bean.

## 4) Steps to reproduce
Exemple https://www.primefaces.org/showcase/ui/data/diagram/basic.xht

[2018-03-05 19:31] tandraschko opened #3412 "PrimeFaces.current(): add utility method to focus input from bean"

[2018-03-05 19:58] #3412 closed, assigned to tandraschko

[2018-03-05 19:59] tandraschko opened #3413 "PrimeFaces.current(): allow search expressions (SEF) in update"

[2018-03-05 20:04] tandraschko opened #3414 "[Documentation] PrimeFaces.current - add focus methods"

[2018-03-05 20:21] tandraschko commented on #3411
AFAICS there is no way to syncrhonize the position to the server, so thats an new feature for me.

[2018-03-05 20:22] tandraschko commented on #3411
If you would like to provide a PR, let me know so i can give you some tips how it's implement in other components.
Otherwise, you can also sponsor it via PrimeFaces PRO.

[2018-03-06 07:49] Kameecoding commented on #3310
on a slightly related note, `<img>` and `<pre>` elements do not trigger row selection.

[2018-03-06 09:49] tandraschko commented on #3244
We can't remove it for now as IE9 doesn't support placeholder.
I would do the following:
remove the JS in 7.0 and replace it by a simple script which sets to placeholder attribute. So even JSF2.0 users can use it.

[2018-03-06 09:52] #3234 closed, assigned to nobody

[2018-03-06 10:14] #3246 closed, assigned to nobody

[2018-03-06 10:43] #3282 closed, assigned to nobody

[2018-03-06 12:13] tandraschko commented on #3263
It's only used by some special components, i just refactored a little bit for now.

[2018-03-06 12:13] #3263 closed, assigned to tandraschko

[2018-03-06 12:15] cnsgithub opened #3415 "Theoretical EL injection via unencrypted client side state saving"
## 1) Environment
- PrimeFaces version: 6.3-snapshot
- Does it work on the newest released PrimeFaces version? Version? Yes, 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Yes
- Application server + version: all
- Affected browsers: all

## 2) Expected behavior
EL expressions should never be serialized and

[2018-03-06 12:21] tandraschko commented on #3415
to be honest, unencrypted client side state is unsecure itself and should never be used.

[2018-03-06 12:25] cnsgithub commented on #3415
Yes, I totally agree. Therefore the title says 'theoretical' because you'll find it hardly in the wild. However, it's not a long time ago the JSF implementation did not consider it properly and some people out there rely on such outdated libraries. Also misconfigurations (see above) matter. So PrimeFaces should also do its homework and avoid doing such dubious things.

[2018-03-06 12:27] schlebe commented on #3263
If I understand well your code,
widgetvar-data = full-widget-id-with-form-name + '_dlgwidget'

but for DialogFramework, who decide of dialog-widget-id ? Primefaces ? or developper using a new (or already existing) option that allows dialog-widget-id definition ?

[2018-03-06 12:28] tandraschko commented on #3263
I don't know, also it's not related to that ticket. I just refactored the data attribute name for the DF to match the other parts of PF.

[2018-03-06 13:37] Rapster opened #3416 "Panel: do not encode footer if child not rendered"
## 1) Environment
- PrimeFaces version: 6.2

## 2) Expected behavior

Footer should not be displayed if child not rendered

## 3) Actual behavior

Footer is displayed

## 4) Steps to reproduce
[code]

![image](https://user-images.githubusercontent.com/7521311/37035138-d477f620-214b-11e8-92f3-f09d114e2d6c.png)

[2018-03-06 13:45] cnsgithub opened #3418 "dock: XSS"
## 1) Environment
- PrimeFaces version: 6.3-snapshot
- Does it work on the newest released PrimeFaces version? Version? Yes, 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Yes
- Application server + version: n/a
- Affected browsers: n/a

## 2) Expected behavior
`Value `of `MenuItem `must be properly escape

[2018-03-06 13:57] cnsgithub commented on #3418
PR: https://github.com/primefaces/primefaces/pull/3419

@tandraschko Could you please add the security label. Thanks.

[2018-03-06 14:46] tandraschko commented on #3178
First prototype commited. Probably the logic to prevent inputs on modality will be moved too.
Not sure about components like selectOne menue, were only a part is a dynamic overlay. Probably this will not extend DynamicOverlayWidget but used the util methods.

[2018-03-06 14:47] tandraschko opened #3420 "OverlayPanel: take use of appendTo instead appendToBody"

[2018-03-06 14:55] #3420 closed, assigned to nobody

[2018-03-06 14:55] tandraschko opened #3421 "[Documentation] OverlayPanel - appendToBody has been migrated to appendTo"

[2018-03-06 15:10] pistamarti commented on #2402
I just upgraded to Primefaces 6.2, but this is not working as expected:
The selected, not escaped selectItem is not displayed formatted.

[2018-03-06 15:23] melloware commented on #2402
paste example please.

[2018-03-06 16:03] tandraschko commented on #3178
main components refactored, need to adjust now components like selectOneMenu and autoComplete

[2018-03-06 16:03] #3418 closed, assigned to nobody

[2018-03-06 17:07] sentinalll opened #3422 "URL for push notifications does not contains contextPath"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-03-06 18:46] JHookDev opened #3423 "Calendar: Popup positioning when overflow-y: auto"
## 1) Environment
- PrimeFaces version: 6.1.13 and 6.2
- Does it work on the newest released PrimeFaces version? No Version? 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Tomcat 7.0.23
- Affected browsers: Chrome, Firefox, IE and Edge

## 2) Expected behavior
The Calendar p

[2018-03-06 18:54] classicPintus opened #3424 "FileUpload: add event when all files are uploaded"
# Need to understand when all uploads are completed.

I've a p:fileUpload used in order to upload images with the attribute "multiple" set to true.
Every file upload triggers the update of a p:dataTable that shows to the user the preview of the uploaded images.
When several images are uploaded at the same time, the p:dataTable is updated for every uploaded image, but this approach makes the user e

[2018-03-06 19:40] tandraschko commented on #3422
Sorry but PrimePush was already deprecated in 6.2 and removed in master already.
As this issue tracker belongs to the community version, i will just close it.
However, you can set the url via web.xml (should be mentioned in user guide) and if you are PRO/Elite user, i think you can get a fix in the next elite version.

[2018-03-06 19:45] tandraschko commented on #3424
Probably this need a bit of redesign the component event handling and ajax handling.
Currently all update/process stuff is available as direct attribute but fileUpload should then support multiple p:ajax events.
As it's quite a lot of work, it would be great if you could sponsor it via PrimeFaces PRO or provide a PR.

[2018-03-06 20:06] krausest opened #3425 "Widgets on client side are not available if e.g. a button is clicked before document ready"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: Glassfish 4.1.1
- Affected browsers: Chrome 64

## 2) Expected behavior
It should be safe to show a BlockUI before performing an action even when the user clicks very quickly.
<p:commandButton ... onstart="PF('blockUI').show()"/> should not throw javascript exceptions even when the page is rendered slowly and the document

[2018-03-06 20:08] tandraschko commented on #3425
puh, not sure if and how we could can fix that

[2018-03-06 20:09] krausest commented on #3425
How do you avoid this issue in your applications?

[2018-03-06 20:09] tandraschko commented on #3425
i don't avoid that, i never faced that issue.
I would do something like: https://stackoverflow.com/questions/19302093/prevent-any-clicks-before-ready

[2018-03-06 20:14] akallam opened #3426 "Primefaces Calendar OnChange Event when using popup to change date."
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-03-06 20:16] tandraschko commented on #3426
Expected behavior and discussed some times in the past.
Use the dateSelect ajax event to catch that selection in the popup.

[2018-03-06 20:16] #3426 closed, assigned to nobody

[2018-03-06 20:39] tandraschko opened #3427 "Upgrade to Java1.7"

[2018-03-06 20:40] #3427 closed, assigned to tandraschko

[2018-03-07 05:57] mertsincan opened #3428 "Autocomplete with forceSelection="true" is not cleared using Enter key, when the wrong value is entered"
Reported By PRO User;

I have reproduced this issue in your showcase.
The matching example is "Pojo" that have force selection = true and the drop down shows the theme

[2018-03-07 05:59] #3428 closed, assigned to mertsincan

[2018-03-07 06:02] cnsgithub opened #3429 "dataTable: XSS in headerText/footerText"
## 1) Environment
- PrimeFaces version: 6.3-snapshot
- Does it work on the newest released PrimeFaces version? Version? Yes, 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Yes
- Application server + version: n/a
- Affected browsers: n/a

## 2) Expected behavior
`footerText` and `headerText` of `UIColumn` m

[2018-03-07 06:39] cnsgithub commented on #3429
PR: https://github.com/primefaces/primefaces/pull/3430

@tandraschko Could you please add the security label? Thanks.

[2018-03-07 06:53] cnsgithub commented on #3429
In addition, there is a DOM based XSS vulnerability when using `p:dataTable reflow="true" headerText="&lt;script&gt;console.log('header xss');&lt;/script&gt;"`.

![image](https://user-images.githubusercontent.com/13161711/37077718-76ea8c34-21dc-11e8-82a9-df974bf26a3a.png)

[2018-03-07 08:57] #3429 closed, assigned to nobody

[2018-03-07 09:01] #2331 closed, assigned to nobody

[2018-03-07 09:03] #2583 closed, assigned to nobody

[2018-03-07 09:03] #2584 closed, assigned to nobody

[2018-03-07 09:06] #2795 closed, assigned to nobody

[2018-03-07 09:16] fabermundi opened #3431 "Autocomplete: with scrollheight ->popup disapears"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: wildfly 10.1.0.Final
- Affected browsers: Internet Explorer + Chrome + Firefox

## 2) Expected behavior
When clicking the scrollbar on an "Autocomplete" with property "scrollHeight" set, it should be possible to scroll throught the list.

## 3) Actual behavior
Unfortunately when trying to click the scrollbar the dialog wit

[2018-03-07 09:17] Rapster commented on #3427
Please remove `ComponentUtils.equals()` in favor of `Objects.equals()` introduced in Java 7

[2018-03-07 09:18] tandraschko commented on #3427
You can simply do it by a PR ;)

[2018-03-07 09:27] Rapster commented on #3427
Yeah I know, I just thought it would be quicker if it was done by you :D

[2018-03-07 09:50] floriandulzky opened #3433 "Datatable: filter do not work with UIInput Components in the data rows"
## 1) Environment
- PrimeFaces version: 6.1/6.2
- Does it work on the newest released PrimeFaces version? Neither 6.1 nor 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
no
- Application server + version: wildfly 11 / jetty-8.1.9
- Affected browsers: every browser

## 2) Expected behavior
I have a datatable

[2018-03-07 10:12] cnsgithub opened #3434 "Various potential DOM XSS vulnerabilities"
## 1) Environment
- PrimeFaces version: 6.3-snapshot
- Does it work on the newest released PrimeFaces version? Version? 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) yes
- Application server + version: n/a
- Affected browsers:n/a

## 2) Expected behavior
DOM XSS prevention, see https://www.owasp.org/index

[2018-03-07 10:18] tandraschko commented on #3434
Mr Security never stops :D

[2018-03-07 10:21] tandraschko opened #3435 "Refactor hide/leave logic on dynamic overlays"
currently it's implemented several times almost the same.

[2018-03-07 10:27] pistamarti commented on #2402
I just used the showcase (with dependency to primefaces 6.2)  and added an additional example on oneMenu.xhtm:
[code]
Additional method on SelectOneMenuView:
[code]
The options are formatted as expected, but the label is shown escaped:

![onemenu](https://user-images.githubusercontent.com/25150933/37087232-031f3c3c-21fa-11e8-91d2-f8190f0b76a0.JPG)

[2018-03-07 10:33] mertsincan opened #3436 "Scrollable DataTable throws a JS error with contextmenu"
Reported By PRO User;

when I update the screen, I see an error saying:Cannot read property 'off' of undefined.
the problematic row appears in file components.js.jsf line 3149.
in the function:bindContextMenu
this.scrollBody is null.

[2018-03-07 10:35] #3436 closed, assigned to mertsincan

[2018-03-07 11:52] melloware commented on #2402
I think it is related to this.  https://github.com/primefaces/primefaces/issues/3326

The problem is the new jquery if it sees "<Select One>" it thinks select is a tag and tries to make it <select></select>.  We switched to use .text() instead of .html() for label but I think it is breaking this scenario.  So somehow the client side JS will have to be smarter and know whether to use .html() or .te

[2018-03-07 11:59] KarlKnapp opened #3437 "datatable: cell editor crashes"
![datatableundefined](https://user-images.githubusercontent.com/30590617/37151341-5cc5f7b8-22d5-11e8-86c3-fc02442c8e5a.png)

## 1) Environment
- PrimeFaces version: 6.2

## 2) Expected behavior
No exception when using cell editor
...

## 3) Actual behavior
java.lang.NumberFormatException: For input string: "undefined"
	at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65

[2018-03-07 12:40] cnsgithub commented on #3434
@tandraschko I wonder if there is an example on how to use timeline groups. Neither the showcase nor the extensions mentioned in 6.2 user guide seem to contain one.

[2018-03-07 12:43] tandraschko commented on #3434
Don't know. There were many more examples of the timeline available in the extensions showcase. Maybe someone can port them.

[2018-03-07 12:44] cnsgithub commented on #3434
From the coding perspective it's also not clear how to use it:

![image](https://user-images.githubusercontent.com/13161711/37092842-93c52324-220d-11e8-9551-3e22b72fdf30.png)

[2018-03-07 12:51] tandraschko commented on #3434
Don't ask me :D never used it and the component was developed by Oleg. As i said, the only good source are the old examples int he extensions showcase.

[2018-03-07 13:17] ckirbas opened #3439 "Treetable: Checkbox Selection Unselect Problem"
## 1) Environment
- PrimeFaces version: 6.1.14
- Application server + version: wildfly 9.0.2
- Affected browsers: All

## 2) Expected behavior

<p:treeTable .... selection="#{myBean.selectedNodes}" ..>
</p:treeTable>

MyBean#
	public void setSelectedNodes(TreeNode[] selectedNodes) {
		this.selectedNodes = selectedNodes;
	}

setSelectedNodes method must be invoked when user selects/unselects a row

[2018-03-07 13:25] tandraschko commented on #3439
Please read our issue template again and edit your issue.

[2018-03-07 13:28] #3435 closed, assigned to tandraschko

[2018-03-07 13:57] tandraschko commented on #3431
fixed by #3435

[2018-03-07 13:57] #3431 closed, assigned to tandraschko

[2018-03-07 14:00] svrolanski commented on #2049
[code]

And this javascript based on @NBurgin answers:

[code]
Using this will adjust the table when the page finish loading:

[code]

And add this to the datatable to fix on page change:

`<p:ajax event="page" oncomplete="updateTableColumnMinWidths('#mydatatable');"/>`

[2018-03-07 14:18] b0rengar opened #3441 "MenuButton: missing support for aria-label"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) not tested
- Application server + version: not relevant
- Affected browsers: not relevant

## 2) Expected behavior
MenuButton tag has an attribute to

[2018-03-07 14:32] ravihariharan commented on #3056
@tandraschko @mertsincan   any plans to upgrade to FontAwesome 5.

[2018-03-07 14:35] cnsgithub opened #3442 "Allow own jQuery script file via ContextParam"
I would like to suggest a new ContextParam which allows to include a self maintained jQuery version to the site instead of bundling it with PrimeFaces.

This can be useful if MOVE_SCRIPTS_TO_BOTTOM is used, as currently this parameter will also move jQuery to bottom - which causes other non primefaces related scripts which rely on jQuery to fail during page load.

It would also allow to update the

[2018-03-07 14:46] tandraschko commented on #3056
Not yet but we have some months till a release ;)

[2018-03-07 14:49] tandraschko commented on #3442
hmm
what about modify the resources in the viewoor before it will be rendered? OmniFaces does the same.

[2018-03-07 15:02] cnsgithub commented on #3442
Well sure, but doing it directly in primefaces would be better than having to add yet another jar (omnifaces) or manually modifying the resources obviously, which just adds some overhead even if small.

[2018-03-07 15:15] tandraschko commented on #3442
Really not sure about this one.
I think it would be just a hack and a good solution (which would also provide merging of resources) would be very similar to omnifaces.

[2018-03-07 15:29] tandraschko opened #3443 "Refactor resize handlers"
currently it's implemented several times almost the same.

[2018-03-07 15:30] cnsgithub commented on #3442
I don't see why it would be a hack if a framework offers more flexibility to the developers without forcing them to fiddle or find a way around something just because the framework bundles something so essential as jQuery.

Actually i think the omnifaces way is the "hack". By the way - RichFaces (yes it's old of course) had this option back in their glory days.

Ultimately not having this option,

[2018-03-07 15:33] #3443 closed, assigned to tandraschko

[2018-03-07 15:53] melloware opened #3444 "Horizontal Tree: TreeNode styleClass not respecting Node EL variable"
**Version:** PF 6.1.13 and PF 6.2

**Screenshot:**
![image](https://user-images.githubusercontent.com/4399574/37102245-6aca310c-21f5-11e8-8e6b-e06f3baf9bd9.png)

We are trying to use StyleClass of TreeNode to color the treenode border based on the content of the node.  It appears using an EL expression in the styleClass() leads to the Node value being the previous value every time or off by 1 star

[2018-03-07 15:54] melloware commented on #3444
I am reporting this through a PRO account so no action for anyone.

[2018-03-07 16:07] Rapster opened #3445 "Mobile: remove all CSS classes variables in templates"
See #3386

@tandraschko I can help you with this if you want

[2018-03-07 16:22] tandraschko commented on #3445
please, yes.

[2018-03-07 16:44] #3178 closed, assigned to tandraschko

[2018-03-07 16:48] #3404 closed, assigned to nobody

[2018-03-07 16:50] #3416 closed, assigned to nobody

[2018-03-07 19:54] thiagosena commented on #3400
There is still a bug when using ajax with decimal values, this bug occurs in line 53 of file [SliderTemplate.java](https://github.com/primefaces/primefaces/blob/e8d31a629688934ffb863e9a08f2a8127335a8b2/src/main/java-templates/org/primefaces/component/slider/SliderTemplate.java#L53)

[2018-03-07 22:17] mjoellnier opened #3446 "ReCaptcha: add support for invisible captcha"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: Wildfly 10 in production/Glassfish 2.2.7 in test
- Affected browsers: all
- cloned sample project: https://github.com/mjoellnier/primefacesRecaptcha
- Primefaces forum thread: https://forum.primefaces.org/viewtopic.php?f=3&t=54605&p=165145#p165145

## 2) Expected behavior

It is expected that on button click (commandButton

[2018-03-08 05:50] #3444 closed, assigned to nobody

[2018-03-08 06:50] cnsgithub commented on #3446
Servus @mjoellnier,

If you include `p:messages` in your page like on showcase, you'll notice the validation error:

![image](https://user-images.githubusercontent.com/13161711/37137041-5ede1eda-22a4-11e8-89c9-365c1e6369fd.png)

This is probably caused by always setting `required="true" `in `CaptchaRenderer` and actually not submitting a value:

![image](https://user-images.githubusercontent.com/1

[2018-03-08 07:07] 001Shiv opened #3447 "Dynamic JSF DataTable [how to assign row element as per column ]."
//This Class Contains all Column Names
package com.pdf.exporter;
public class ColumnNames {
       private List<String> columnNamesList = new ArrayList<String>();
	public List<String> getColumnNamesList() {
		return columnNamesList;
	}
	public void setColumnNamesList(List<String> columnNamesList) {
		this.columnNamesList = columnNamesList;
	}
	public void addColumnName(String columnName) {
		colum

[2018-03-08 07:10] cnsgithub commented on #3447
Ever heard of a MVCE? https://stackoverflow.com/help/mcve

[2018-03-08 07:50] cnsgithub commented on #3446
PR: https://github.com/primefaces/primefaces/pull/3448

@mjoellnier Could you please test it?

[2018-03-08 08:08] Rapster commented on #3445
CarouselRenderer use a mobile CSS class for responsive mode (`MOBILE_DROPDOWN_CLASS`). Should I rename the variable and the CSS selector as well? (e.g `ui-carousel-respdropdown`)?

[2018-03-08 08:12] Rapster commented on #3447
When your question starts with "How", use forum please

[2018-03-08 08:25] cnsgithub commented on #3434
PR: https://github.com/primefaces/primefaces/pull/3440

[2018-03-08 08:50] s-buchner commented on #1671
Also a problem in p:dataTable.
Workaround does not work for me.
Had to use dynamic="false" - but that increases the size.

[2018-03-08 09:08] tandraschko commented on #3445
why not juse remove it? or is it still uses on the client side somewhere?

[2018-03-08 09:09] tandraschko commented on #3447
questions -> forum

[2018-03-08 09:09] #3447 closed, assigned to nobody

[2018-03-08 09:16] Rapster commented on #3445
Why are you suggesting to remove it? It can still be useful (to make it responsive as the name suggest it)

[code]

The selector is used in css and js

[2018-03-08 09:23] tandraschko commented on #3445
"mobile" sounds for me like "PrimeFaces Mobile" :D
As you suggested then, i would rename it but i would use "ui-carousel-dropdown-responsive"

[2018-03-08 09:27] Rapster commented on #3445
Got it! :wink:

[2018-03-08 09:47] #3445 closed, assigned to nobody

[2018-03-08 09:49] pistamarti commented on #2402
Maybe its also related to  [#3289]( https://github.com/primefaces/primefaces/issues/3289), but I'm sure you know this better than I do.

(I am just a happy user of primefaces, and looked at the commit-history of forms.selectonemenu.js)

[2018-03-08 10:02] tandraschko commented on #3446
Could something help me? :D
Why should one use a invisible captcha?
And why is the captcha value not submitted?

[2018-03-08 10:06] mjoellnier commented on #3446
The idea behind the invisible captcha is that the user does not have to actively "pass the test". So it's a better usability and also the "pretty" reCaptcha doesn't break the layout of the homepage because - you get it - it's invisible :D

@cnsgithub I'll test it as soon as possible today - but thank you very much in advance!

[2018-03-08 10:09] floriandulzky opened #3450 "Datatable: scrollHeight 100% not working since PF 6.2"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? no
- Does it work on the newest sources in GitHub? no
- Application server + version: jetty / wildfly
- Affected browsers: chrome

## 2) Expected behavior
If I set the property scrollHeight="100%" the datatable height should be calculated.

## 3) Actual behavior
If I set the property scrollHeight=

[2018-03-08 10:10] tandraschko commented on #3446
But what the sense of the captcha then? :D

[2018-03-08 10:11] mjoellnier commented on #3446
It stills analyze if the user is a bot - but without the need for the user to recognize store fronts or something like that :D so, the sense is still the same, but easier and more pretty

[2018-03-08 10:23] cnsgithub commented on #3446
It's magic: http://www.tomshardware.com/news/google-invisible-recaptcha-developer-rollout,33894.html

[2018-03-08 10:26] cnsgithub commented on #3441
PR: https://github.com/primefaces/primefaces/pull/3452

[2018-03-08 10:28] tandraschko commented on #3446
ok :D
will apply it if your tests are fine

[2018-03-08 10:29] tandraschko commented on #1325
refactored many things the last days, we can easily apply it now.

[2018-03-08 10:37] tandraschko commented on #1325
Ok, little bit different case. We could simple apply it if you block the whole document but not if you block single elements. Still needs effort. PR or sponsoring via PrimeFaces PRO welcome.

[2018-03-08 11:07] mjoellnier commented on #3446
As far as I can tell it works fine! :) From my simple point of view it's good to go 👍

Thank you guys @cnsgithub @tandraschko

[2018-03-08 11:28] david0 opened #3453 "defaultCommand: with browser autocomplete not working together in Firefox"
## 1) Environment
- PrimeFaces version: 6.*
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 7.0
- Affected browsers: Firefox (tested with v58)

## 2) Expected behavior
When selecting the browsers autocomplete suggestions using Enter the selected suggestion should be filled in and the `defaultComm

[2018-03-08 12:01] floriandulzky commented on #3433
I commited the fix for the issue #3450 with the wrong issue number in the commit message (#3433)
Mentioning in this issue is wrong - sorry for that
I changed the comit message but the mentioning in this issue did not disappear at the other issue the commit mentioning is correct.

[2018-03-08 12:23] tandraschko commented on #3453
a PR or deeper analysis would be great.

[2018-03-08 12:36] #3446 closed, assigned to nobody

[2018-03-08 12:37] #3434 closed, assigned to nobody

[2018-03-08 12:44] Rapster opened #3454 "Confirm: add precondition to dialog opening"
Related to this topic https://forum.primefaces.org/viewtopic.php?f=3&t=40408

It would be really nice to have some precondition before confirmDialog might open. This could be a new attribute set on p:confirm. My use case is the following:

I have a datatable, and a button allowing to delete the selection. Before the dialog shows up to confirm the removal, a check should be applied to make sure ite

[2018-03-08 12:50] cnsgithub commented on #3453
Is the intended behavior to immediately trigger the default command after pressing enter within autocomplete suggestions?

Otherwise, we could simply change `keydown `to `keypress `in `forms.defaultcommand.js`:
![image](https://user-images.githubusercontent.com/13161711/37151800-53d46764-22d7-11e8-9443-8f04d6e98fdb.png)

This would however imply that the user has to press enter twice when using an

[2018-03-08 13:10] melloware commented on #3390
This was not as easy as I thought but here is what I came up with that works.  Since I use CDI this made it a lot easier.

1. Produce PrimeFaces.current() from a provider like...
[code]

2. Never reference PrimeFaces.current() statically always Inject it like the following code...
[code]

3. Unit test you can Mock PrimeFaces and Ajax and verify the call.
[code]

[2018-03-08 13:15] tandraschko commented on #3390
I would probably use @ApplicationScoped or min. @RequestScoped for the producer ;)

[2018-03-08 13:18] melloware commented on #3390
Good call @RequestScoped will force it to be reinjected into @SessionScoped or @ApplicationScoped beans.  I feel like that is safer.

[2018-03-08 13:23] tandraschko commented on #3390
Yep, also it won't get serialized. @Dependent is sometimes tricky as default scope.

[2018-03-08 13:48] david0 commented on #3453
@cnsgithub: No, pressing twice is absolutly fine for me and seems also more intuitive to me.

I tried your solution, it works like a charm! :+1:

[2018-03-08 14:04] cnsgithub commented on #3453
PR: https://github.com/primefaces/primefaces/pull/3455

[2018-03-08 16:20] #3441 closed, assigned to nobody

[2018-03-08 16:20] tandraschko opened #3456 "[Documentation] MenuButton: add ariaLabel"

[2018-03-08 16:49] tandraschko commented on #3400
basically it works now BUT its not perfect and a range check e.g. should be implemented.

[2018-03-08 16:49] #3400 closed, assigned to nobody

[2018-03-08 17:42] soufanom opened #3457 "Layout: Missing Center-pane Element Error (PF 6.1 to PF 6.2)"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source ->  https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: GlassFish Server 4.1.1
- Affected browsers: ALL

## Expected behavior and Actual behavior
For p:commandbuttons wit

[2018-03-08 18:10] melloware commented on #3390
@tandraschko Found one issue while trying to now run my app.

[code]

Because it has no public empty constructor it can't be proxied. Any thoughts?

[2018-03-08 18:13] tandraschko commented on #3390
Yep, of course. The problem will also occur with @Dependent and serialization of course.
Could try to add a protected default constructor? If yes, we should add them for 6.3

[2018-03-08 18:16] melloware commented on #3390
Let me try that.

[2018-03-08 19:25] melloware commented on #3390
That works.

[2018-03-08 19:25] nazarenoneto opened #3459 "p:dataTable reflow="true" and p:summaryRow"
This is my code:

[code]

This is my vision:
![image](https://user-images.githubusercontent.com/923034/37171460-bbd77918-22ec-11e8-87b4-987399b4c63d.png)

I hoped that my vision would go without the headertext
![sem titulo](https://user-images.githubusercontent.com/923034/37171584-1245a716-22ed-11e8-867c-ac65ac858681.png)
Even if I set the headertext property it does not change to the defined text

[2018-03-08 19:27] #3390 closed, assigned to nobody

[2018-03-08 19:28] tandraschko commented on #3459
please respect our issue template.

[2018-03-08 19:28] #3459 closed, assigned to nobody

[2018-03-08 20:08] melloware commented on #3457
I think your error is your are using p:layout correct.  The error is coming from the layout component that you don't have a layoutUnit = "center".  I think...  The Layout JS component was upgraded for Jquery 3 from the old version being used in PF 6.1

[2018-03-08 21:22] soufanom commented on #3457
We have layoutUnit with position="center" inside layout component. I think if we would not have this, PF 6.1 will also complain but it does not.

[2018-03-08 21:48] tandraschko commented on #3457
Please provide a complete example.

[2018-03-08 22:17] soufanom commented on #3457
The error comes when we click **Submit** in the dialog of analysis_main.xhtml:

**template.xhtml:**
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"

[2018-03-09 01:26] JensPiegsa opened #3460 "org.primefaces.PrimeFaces should be proxyable"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: WildFly 10.1

## 2) Expected behavior

* `org.primefaces.PrimeFaces` should be proxyable.

## 3) Actual behavior

* Forcing static method call to `PrimeFaces.current()` makes it harder to run code within unit test.

## 4) Steps to reproduce

Static dependencies are not exactly great with unit testing, e.g.:

	PrimeFaces.cu

[2018-03-09 07:38] Rapster commented on #3460
Duplicate and already fixed #3390 ?

[2018-03-09 07:39] stuartruss opened #3461 "Primefaces Terminal , Cant process CR + LF , even embedding <BR> doesnt help"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-03-09 08:18] Rapster commented on #3461
Please fill the template as recommended. (Title won't be enough)

[2018-03-09 08:56] tandraschko commented on #3460
Already fixed yesterday. I will also add a method do set PrimeFaces#current.

[2018-03-09 08:56] #3460 closed, assigned to nobody

[2018-03-09 08:56] tandraschko commented on #3461
Please respect our issue template.

[2018-03-09 08:56] #3461 closed, assigned to nobody

[2018-03-09 09:42] JensPiegsa commented on #3460
Great! Thanks for your quick response.

[2018-03-09 11:55] thundermeier opened #3462 "SelectOneMenu: converter not called for string values"
## 1) Environment
- PrimeFaces version: **6.2**
- Does it work on the newest released PrimeFaces version? Version? **No**
- Does it work on the newest sources in GitHub? **No**
- Application server + version: **Wildfly 11**
- Affected browsers: **All**

## 2) Expected behavior
When using a converter with _SelectOneMenu_ the converter is called for every value of the select items.
As example I am u

[2018-03-09 12:17] #3462 closed, assigned to nobody

[2018-03-09 12:29] melloware commented on #3457
If you could create a reproducible example using our test project stripping out everything not needed until you have the smallest reproducible example please.

Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to receive an answer and a solution.

I can't seem to reproduce your issue...

[2018-03-09 12:31] melloware commented on #3460
@JensPiegsa This fix will be included in Elite 6.2.1 release.

[2018-03-09 15:35] cagataycivici commented on #742
Thank you for the PR however font icons are a premium feature in PrimeFaces, all premium templates replace the old png icons with font-awesome icons already, we need to keep it as it is.

[2018-03-09 15:35] #742 closed, assigned to nobody

[2018-03-09 18:39] Treppenhouse opened #3463 "TypeError: this.jqEl is undefined"
## 1) Environment
- This error occurs on PrimeFaces version: 6.2
- This error did not occur on Primefaces version: 6.1
- Application server + version: Tomcat 7
- Affected browsers: Firefox, IE 11

## 2) Problem
It is hard for me to give a minimal example or describe steps to reproduce the problem. But I thought maybe you can already use the information given here and find the problem in the code.

[2018-03-09 19:00] tandraschko commented on #3463
Impossible with this infos.

[2018-03-09 19:55] akallam opened #3464 "Datatable Expansion: Hiding when autoUpdate component is used"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-03-09 20:13] melloware commented on #3463
The firefox or Google Chrome console should have more information than that including a stack trace.

[2018-03-09 21:45] persapiens commented on #3457
hi @melloware,

This error happens at [Joinfaces Example](https://github.com/joinfaces/joinfaces-maven-jar-example)  too. I've just upgraded from PF 6.1 to 6.2.

If you try [running example](https://joinfaces-example.herokuapp.com/customInput.jsf), just press "Click Me" button and the error occurs.

[2018-03-10 16:18] melloware commented on #3457
OK I will try to put together a small sample and reproduce it.  I definitely see the issue in the example above and that error is definitely coming from the Jquery UI Layout library.

[2018-03-11 11:16] javan-mehdi opened #3465 "DataTable: synchronize cellEdit state on server"
## 1) Environment
- PrimeFaces 6.2:
- It doesn't work with the latest released version (6.2)
- It doesn't work with newest sources (6.3-SNAPSHOT)
- Application server: Jetty plugin in Maven and Weblogic 12c
- Affected browsers: Firefox 58.0.2 (latest version)

## 2) Expected behavior

When pencil icon in rowEditor of a dataTable is clicked, the row enters editing state. In that state when the data

[2018-03-11 17:45] melloware commented on #3457
OK this sample proves the problem.  I am still looking into it but stepping through the debugger the code works find on page load.  But on refreshing the page I get the error even though the JS its calling is identical.  I feel like it might be a bug in the Jquery Layout but still investigating.  You can run "mvn clean jetty:run" on this project and go to http://localhost:8080/primefaces-test/test

[2018-03-11 18:33] melloware opened #3466 "SelectOne: Escaping Regression"
Due to the Jquery3 upgrade and multiple different issues reported such as:

https://github.com/primefaces/primefaces/issues/3326
https://github.com/primefaces/primefaces/issues/3289
https://github.com/primefaces/primefaces/issues/2402

In regards to escaping I have to create this ticket to address the issue and fix it.

[2018-03-11 18:36] melloware commented on #3466
PR submitted and a screenshot of both scenarios listed in the tickets above displayed.

![image](https://user-images.githubusercontent.com/4399574/37257011-a1334336-2539-11e8-9579-7da418faa364.png)

[code]

[code]

[2018-03-11 18:38] melloware commented on #2402
Submitted and fixed: https://github.com/primefaces/primefaces/issues/3466

[2018-03-11 18:57] melloware commented on #3465
Not sure this will be an easy fix as if the datatable is updated via an update="" the AJAX is replacing the DOM for the entire datatable wiping out everything that was there.   Not sure how that state of what you are doing will be retained.

[2018-03-11 20:02] Rapster commented on #3454
Attribute could be called `if`, and after a quick analysis, it'd probably a lot easier if it was client side (and I honestly think it should be enough, but it all depends of the use case right? :-p). Saying all this, a new attribute as `requiredMessage` should come along (I'll create a ticket once this one done)

[2018-03-12 05:59] cnsgithub opened #3468 "autoComplete: various XSS vulnerabilities"
## 1) Environment
- PrimeFaces version: 6.3-snapshot
- Does it work on the newest released PrimeFaces version? Version? Yes, 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Yes
- Application server + version: n/a
- Affected browsers: n/a

## 2) Expected behavior
Proper escaping

## 3) Actual behavior
Improp

[2018-03-12 06:02] cnsgithub opened #3469 "inputTextarea: various XSS vulnerabilities"
## 1) Environment
- PrimeFaces version: 6.3-snapshot
- Does it work on the newest released PrimeFaces version? Version? Yes, 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Yes
- Application server + version: n/a
- Affected browsers: n/a

## 2) Expected behavior
Proper escaping

## 3) Actual behavior
Improp

[2018-03-12 06:13] cnsgithub opened #3470 "Client Side Validation: XSS"
## 1) Environment
- PrimeFaces version: 6.3-snapshot
- Does it work on the newest released PrimeFaces version? Version? Yes, 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Yes
- Application server + version: n/a
- Affected browsers: n/a

## 2) Expected behavior
Proper escaping

## 3) Actual behavior
Improp

[2018-03-12 06:51] cnsgithub commented on #3468
I changed the title of this issue since it came out that there are even more vulnerabilities in `p:autoComplete` as 'just' the one mentioned above: the attributes `moreText`, `emptyMessage `, `resultsMessage` and `p:column headerText` are also subject to XSS.

**XHTML (excerpt):**
[code]

**Bean (excerpt):**
[code]

[2018-03-12 06:57] javan-mehdi commented on #3465
One solution may be storing state of each row in ViewState and use this data in `encodeRow` to determine  whether `EDITING_ROW_CLASS` must be used for the row or not. Right now, when the pencil icon is clicked, the row goes to editing state only by JavaScript and there is no need to send an Ajax request. However, in my proposed solution, an Ajax request is needed to change the state of the row in

[2018-03-12 07:31] cnsgithub commented on #3468
More XSS:
- `data-item-value`
- `data-item-label`

[2018-03-12 08:07] cnsgithub commented on #3468
PR: https://github.com/primefaces/primefaces/pull/3471

[2018-03-12 08:11] floriandulzky opened #3472 "Datatable: CommandButton in datatable-header action called twice"
## 1) Environment
- PrimeFaces version: 6.1/6.2/6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? no
- Does it work on the newest sources in GitHub? (Build by source) no
- Application server + version: wildfly 11 / jetty
- Affected browsers: chrome / Firefox / IE

## 2) Expected behavior
Action of a button in an datatable header should be called once.

## 3) Actual behavior
Ac

[2018-03-12 08:23] tandraschko commented on #3465
It's currently by design. If you need this feature, i suggest to sponsor it via PrimeFaces PRO. It's to much effort to implement this in freetime.

[2018-03-12 08:26] tandraschko commented on #3468
Could you please stop creating issues? :D :D

[2018-03-12 08:28] tandraschko commented on #3463
Will close it for now.

[2018-03-12 08:28] #3463 closed, assigned to nobody

[2018-03-12 08:28] renanbaggio commented on #713
I'm using PrimeFaces 5.1 and I'm facing the same problem..

[2018-03-12 08:28] #3439 closed, assigned to nobody

[2018-03-12 08:28] tandraschko commented on #3439
Will close it for now, you can still create a new issue if you respect our issue template.

[2018-03-12 08:29] tandraschko commented on #713
It's fixed by: https://github.com/primefaces/primefaces/issues/3364

[2018-03-12 08:33] renanbaggio commented on #713
Thanks!

[2018-03-12 08:58] cnsgithub commented on #3469
More XSS:
- `counterTemplate="&lt;script&gt;alert({0})&lt;/script&gt;"`

[2018-03-12 09:11] Treppenhouse commented on #3463
Some more context:

We have a `<p:commandButton>` in every line of a  `<p:dataTable>` to show a `<p:confirmDialog>` using `onclick="PF('abortRequestDialog').show();`.

Inside that dialog there is a OK button that looks like this:

    <p:commandButton value="OK" action="#{viewBean.abort()}" onstart="start()"
       oncomplete="stop();PF('abortRequestDialog').hide()" update="@form"
       process="

[2018-03-12 09:14] tandraschko commented on #3463
I would really like to fix it - also as it doesn't occur in 6.1 - but i can't do it without a small replicator.

[2018-03-12 09:25] mertsincan opened #3473 "XSS issue on p:log"

[2018-03-12 09:29] #3473 closed, assigned to mertsincan

[2018-03-12 09:51] #3470 closed, assigned to nobody

[2018-03-12 09:56] cnsgithub commented on #3469
PR: https://github.com/primefaces/primefaces/pull/3474

[2018-03-12 10:18] #3469 closed, assigned to mertsincan

[2018-03-12 10:19] #2861 closed, assigned to nobody

[2018-03-12 11:06] OBreidenbach commented on #3022
@tandraschko, could you please have a new look at this ticket?
I want to set a default value for the time portion but must not set a default value for the date portion.
I did not find any way to do so. So I added this new feature.
It would be great, if you could merge my PR: #3023

[2018-03-12 11:50] tandraschko commented on #3022
I will check it before the next release, so we have some time ;)

[2018-03-12 11:52] cnsgithub commented on #3472
This is some weird behavior. However, I think it is not a PrimeFaces bug.

The stack is the same on both calls:
[code]

Workaround: add `process="@this" `to `p:commandButton`.

[2018-03-12 12:15] floriandulzky commented on #3472
But in the second datatable (without primefaces) everything works fine.

[code]

[2018-03-12 12:25] cnsgithub commented on #3472
Ok, I didn't see that second table. You're right.

[2018-03-12 12:41] cmastrantono opened #3475 "DataTable: add mode to view it like it in reflow mode or like dataList"
I talked to Cagatay and he told me to create an issue at GitHub as a request for this.

Te feature request is: be able to activate (with a param) a table view like the reflow one but in any resolution.

(see image below)

![image](https://user-images.githubusercontent.com/1071056/37284201-67ba22d2-25d9-11e8-94d1-c9111e8a2cd7.png)

[2018-03-12 12:46] tandraschko commented on #3475
Looks like DataList for me.

[2018-03-12 12:49] cmastrantono commented on #3475
Could be... but I was hoping to use the reflow view in any resolution with an editable datatable

[2018-03-12 12:52] tandraschko commented on #3475
I see. Not sure about the plans of PrimeTek to add it, but noone in the OS-community will just do it for you, so maybe you should talk with PrimeTek/Cagatay about sponsoring.

[2018-03-12 13:26] cnsgithub commented on #3472
I think the problem is somehow related to the fact that there are two `CommandButton `instances with the same `clientId` each firing an `ActionEvent`.

![image](https://user-images.githubusercontent.com/13161711/37286018-08417c92-2601-11e8-8a09-49b86c30dfde.png)

![image](https://user-images.githubusercontent.com/13161711/37286064-2bec9ba4-2601-11e8-95f4-793a1f38356e.png)

As the `DataTableRendere

[2018-03-12 13:28] melloware commented on #3472
@mertsincan usually fixes most of the Datatable issues as it is quite complex at this point.

[2018-03-12 13:31] cnsgithub commented on #3472
In the meanwhile you could use the workaround proposed in https://github.com/primefaces/primefaces/issues/3472#issuecomment-372284466

[2018-03-12 13:45] melloware commented on #1855
@schlebe and company.  A clever trick i found out was due to the icon in the frozen or non frozen rows causes the height to be off.  Simply add this hidden column in the other side from where your icon is and it makes the row heights line up.

[code]

[2018-03-12 13:55] HeavyMetalPirate opened #3476 "Datatable: renders empty header row when nested in <p:column> element"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? Works with latest maven build
- Does it work on the newest sources in GitHub? n/a
- Application server + version: Tomcat 8.5.5
- Affected browsers: Mozilla Firefox, any recent versions; Google Chrome, any recent versions

## 2) Expected behavior
When nesting a datatable with a header row

[2018-03-12 14:15] cnsgithub commented on #3475
You can try to dynamically add / remove CSS which overrides the default @media(max-width:640px) for the .ui-datatable-reflow when you want something like this. Then you can force the reflow-layout to be active on any resolution.

To see which classes to override see:

https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/datatable/datatable.css

Line

[2018-03-12 14:18] cmastrantono commented on #3475
Thanks! I'll try. (Also I just contacted Cagatay to talk about sponsoring)

[2018-03-12 15:56] floriandulzky commented on #3472
I updatetd the test project.
I have removed pagination and scrollable, so the header will not be copied. And I have the same behavior as before.

[2018-03-12 16:38] JHookDev opened #3477 "SelectOneMenu: Editable displays value instead of label"
## 1) Environment
 - PrimeFaces version: 6.2
 - Does it work on the newest released PrimeFaces version? No Version? 6.2
 - Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
 - Application server + version: Tomcat 7.0.23
 - Affected browsers: Tested with Chrome and IE

 ## 2) Expected behavior
 When rendering the dr

[2018-03-12 17:04] melloware commented on #3477
This was fixed before so there must be a regression somewhere:  https://github.com/primefaces/primefaces/issues/2862

[2018-03-12 18:19] melloware commented on #3477
Can you review this commit and try and determine why its not working?  or is your scenario possibly different?  https://github.com/primefaces/primefaces/commit/1cc5fbffda3e894154320ff7757028957b0d9a16

[2018-03-12 20:08] melloware commented on #3457
PR submitted with fix.

[2018-03-12 20:28] #3457 closed, assigned to nobody

[2018-03-12 20:29] tandraschko commented on #3457
@mertsincan We should probably merge it to elite

[2018-03-12 20:34] melloware commented on #1809
According to the Jquery UI Layout Author the Center Pane is required and cannot be closed or hidden.

https://groups.google.com/forum/#!topic/jquery-ui-layout/GAjEmH7MhtQ

So this is as design.  The layout was meant to be a Center pane surrounded by panes on all 4 sides optionally.  Recommend closing this ticket.

[2018-03-12 20:35] #1809 closed, assigned to nobody

[2018-03-12 20:38] melloware commented on #3457
Requested via my PRO account.

[2018-03-12 20:58] melloware commented on #3021
Agreed this seems isolated to Chrome.

[primefaces-layout.zip](https://github.com/primefaces/primefaces/files/1804547/primefaces-layout.zip)

[2018-03-13 08:28] mertsincan opened #3479 "Header and footer alignment issue on TreeTable with vertical scoll"
Reported By PRO User;

When the data is larger than screen portion of the treetable, all looks ok because the scroll bar is drawn.

[2018-03-13 08:30] #3479 closed, assigned to mertsincan

[2018-03-13 09:02] chanmratekoko commented on #3457
the same problem occurs

[2018-03-13 09:41] NicolaIsotta opened #3480 "Missing descriptions in the taglib"
Not really an issue, but almost all of the components in the file [standard-facelets-taglib.xml](https://github.com/primefaces/primefaces/blob/1a084be2a7ef33e9c4c38fa16b48e5e022d8500b/src/main/resources-maven-jsf/standard-facelets-taglib.xml) do not have the description attribute.

[2018-03-13 09:43] tandraschko commented on #3480
A PR would be great!

[2018-03-13 11:07] melloware commented on #3457
When you say the same problem occurs what do you mean?  Are you using 6.3-SNAPSHOT built from the latest source??

[2018-03-13 13:18] chopin111 commented on #3457
@melloware We have the same issue when using layout components from primefaces-extensions 6.2 - pe:layout and pe:layoutPane. Should we create same issue in extensions repo?

[2018-03-13 13:24] melloware commented on #3457
@chopin111 yes please I will fix it there too so I can make a 6.2.1 PFE Release in the next couple of weeks.

[2018-03-13 13:34] Hamsterbau opened #3481 "Datatable: Enhancement of paginator"
**Forum-Post:**
https://forum.primefaces.org/viewtopic.php?f=3&t=54773

## 1) Environment
- PrimeFaces version: 6.x

## 2) Expected behavior
A better way to define paginator-Template or just use a facet for paginaton, so it can be changed or created elsewhere, in an easier way.

Perhaps it would be great to have a paginator-Facet, to support the following things:

- Show content if no pagination i

[2018-03-13 13:47] tandraschko commented on #3481
Sponsoring welcome, i don't like to touch DataTable ;)

[2018-03-13 13:55] melloware commented on #3457
Thanks @chopin111 its fixed in PFE now too.  Also for those of you that use Layout I got this note from OptimusPrime...

So it looks like Layout will be removed in 6.3 so you may want to start switching your projects over to using PrimeFaces Extensions version of Layout which will remain supported.

[2018-03-13 13:56] melloware commented on #881
Also for those of you that use Layout I got this note from OptimusPrime...

So it looks like Layout will be removed in 6.3 so you may want to start switching your projects over to using PrimeFaces Extensions version of Layout which will remain supported.

[2018-03-13 13:56] melloware commented on #3021
For those of you that use Layout I got this note from OptimusPrime...

So it looks like Layout will be removed in 6.3 so you may want to start switching your projects over to using PrimeFaces Extensions version of Layout which will remain supported.

[2018-03-13 14:16] melloware commented on #3481
Neither do I @tandraschko .  I leave those up to Mert. :)

[2018-03-13 14:26] JHookDev commented on #3477
@melloware The commit you referenced appears to correct a different issue that was occurring during the decode to set the value on the bean from the component. The issue here is related to when rendering the editable dropdown from the bean value to the component, where the value is displayed when it should be the label when the value matches a select item value. I'll review the source later today

[2018-03-13 14:36] appldo opened #3482 "Datatable: Support adding of new rows"
Feature request:
The editable datatable is a very useful component, but as soon, as you can edit lines, it is straight forward that you would also like to add lines. We have many tables where we use this functionality and you can do that with some custom javascript and ajax. E.g. like [this](https://stackoverflow.com/questions/13821750/trigger-activate-the-roweditor-from-bean-for-a-primefaces-in-c

[2018-03-13 14:39] tandraschko commented on #3482
Its very unlikely that it will be implemented without sponsoring.

[2018-03-13 15:48] svrolanski commented on #3457
If it is deprecated, is there an example of how to replace it in primefaces?

[2018-03-14 08:33] ShivaniSK opened #3484 "KeyFilter: not working in Chrome"
## 1) Environment
- PrimeFaces version: 6.1
- Affected browsers: Chrome

## 2) Expected behavior
keyFilter with mask alphanum should not allow special characters in input textBox for all browsers
...

## 3) Actual behavior
keyFilter with mask alphanum not working in Chrome . Working in IE
..

## 4) Steps to reproduce
Try entering special characters in the input box in IE and Chrome
..

## 5) Sampl

[2018-03-14 10:39] jmorris1501 commented on #2838
tried using this with some autocomplete elements, causes the returned list to display like output text
![pf_1_expected](https://user-images.githubusercontent.com/13099697/37397494-6f4f72a2-2784-11e8-90f7-00c5ad832223.png)
![pf_2_actual](https://user-images.githubusercontent.com/13099697/37397496-6ff669b8-2784-11e8-8ebd-18804cc39334.png)

Attached pictures before and after clicking on the autocompl

[2018-03-14 12:33] melloware commented on #3457
Also another suggestion that would have made this work is adding this your web.xml.

[code]
This is a huge page performance optimization that moves all Javascript to the bottom of the page and executes it after the DOM is done loading.  It makes your pages speed up load time greatly and it solves this issue.

[2018-03-14 15:55] brunoaandrade opened #3485 "Diagram: event "onConnectionChange" have "getNewTargetEndPoint" always null"
## 1) Environment
- PrimeFaces version:
6.2

## 2) Expected behavior
When "onConnectionChange" called the method "getNewTargetEndPoint()" should return EndPoint

## 3) Actual behavior
When "onConnectionChange" called the method "getNewTargetEndPoint()" returns always null

## 4) Steps to reproduce
Exemple https://www.primefaces.org/showcase/ui/data/diagram/editable.xhtml

[2018-03-14 16:07] tandraschko commented on #3485
PR welcome

[2018-03-15 08:41] sergi-mm opened #3486 "TriStateCheckbox: "NaN" result when calling toggle() javascript method"
When using method `toggle()` from TriStateCheckbox it sets the value to NaN instead of the next defined value (0,1,2 in the example), and the icon of the TriStateCheckbox does not change. Then it remains in state NaN even if you click it to manually toggle.

This issue has been reproduced in the version 6.2 using its ShowCase page: https://www.primefaces.org/showcase/ui/input/triStateCheckbox.xhtm

[2018-03-15 09:24] chanmratekoko opened #3487 "Keyboard: Unicode Character does not support at p:keyboard in attribute layoutTemplate"
## Environment

* PrimeFaces version: 6.2
* Application server: Wildfly 10
* Affected browsers: ALL

## Expected behavior and Actual behavior

When we only upgraded from Primefaces version 6.1 to version 6.2, now clicking on these keyboard button (or) keyboard causes the following error:

'\\' 'u' '1' '0' '4' '1' ..... 'back' ..... '\\' 'u' '1' '0' '4' '4' ... 'clear'
each character set in one key

[2018-03-15 09:34] cnsgithub commented on #3486
If you check the toggle function it requires a parameter

![image](https://user-images.githubusercontent.com/13161711/37455004-59341186-283c-11e8-83e6-9aea2d2d9c23.png)

PF('triStateCheckboxJS').toggle(1)

[2018-03-15 10:02] sergi-mm commented on #3486
Thanks @cnsgithub ! I didn't know that toggle() function has a parameter... How the parameter "direction" works?

In fact, reviewing the documentation, it says there is no parameter...

![imatge](https://user-images.githubusercontent.com/9212820/37456636-2282eed8-2840-11e8-98f6-23fe0a90419c.png)

[2018-03-15 10:09] cnsgithub commented on #3486
well use +1 to go forward and -1 to to back i guess

[2018-03-15 13:11] djmj commented on #3367
Do we need to create Event objects programmatically. Could following schedule not internally create events itself based on markup?

     public class Order
     {
           Date start;
           Date end;
     }

     <p:schedule var="varOrder" value="#{bean.ordersDataModel}">
         <p:scheduleEvent start="#{varOrder.start}" end="#{varOrder.end}" title="#{varOrder.customer.name}" styleClass="

[2018-03-15 13:37] syabru opened #3488 "p:radio value lost on validation error."
## 1) Environment
- PrimeFaces version: 6.2 (works in 6.1)

## 2) Expected behavior
``p:radio`` value keeps its value when validation fails.

## 3) Actual behavior
``p:radio`` value is lost and radio element can't be selected anymore

## 4) Steps to reproduce
Add ``p:selectOneRadio`` element with layout ``custom``
Add a ``p:radio`` element which refers to ``p:selectOneRadio``
Add a checkbox elemen

[2018-03-15 15:27] #3480 closed, assigned to nobody

[2018-03-15 15:47] #3409 closed, assigned to nobody

[2018-03-15 16:16] jasonex7 commented on #3409
@cnsgithub I encode only the values of OutcomeTarget.getParams() because the original request had only EL in value attribute, but it's good that param key was also encoded. Thanks for the observation and commit.

[2018-03-15 20:11] Markus-Patt opened #3489 "AutoComplete: CSV throws Exception with MyFaces"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: jetty-maven-plugin:8.1.9.v20130131 from https://github.com/primefaces/primefaces-test
- Affected browsers: all

##

[2018-03-16 02:42] ybendek opened #3491 "New component: Material Floating Button"
It could be nice to include a similar component like this component. Commonly used with the google material design

https://github.com/nobitagit/material-floating-button

[2018-03-16 05:56] cnsgithub commented on #3409
@jasonex7 Ok. However, as getHrefURL is located in ComponentUtils, you have to expect it to be used in other locations as well in future.

[2018-03-16 06:25] cnsgithub commented on #3491
To be honest - I wouldn't add something simple as this. This just bloats PrimeFaces. You can bind the action of the button easily with a <p:remoteCommand> via JS. If you want to make a JSF component for this you can do so by using custom taglibs.

[2018-03-16 14:38] cbasener opened #3492 "DataTable: Misaligned header and content in p:dataTable with vertical scrolling"
## 1) Environment

- PrimeFaces version: 6.2.1
- Does it work on the newest released PrimeFaces version? No, does not work with 6.2.1
- Application server + version: WildFly 11.0.0.Final
- Affected browsers: IE 11.251.16299.0, Edge 41.16299.248.0

## 2) Expected behavior

p:dataTable with vertical scrolling should not show a horizontal scrollbar.
Scrolling with horizontal scrollbar should not misa

[2018-03-16 18:05] rainermueller commented on #3342
We have same issue with 6.1.14 release

[code]

**Version 6.1.14**
[code]

**Version 6.1.5 + 6.1.9**
[code]

[2018-03-16 18:13] rainermueller commented on #3342
The `p:dataTable` in our case has `scrollable="true"` and `scrollHeight="440"`.

The issue is gone if we remove attributes `scrollable` and `scrollHeight`.

[2018-03-16 20:54] #3489 closed, assigned to nobody

[2018-03-16 20:55] tandraschko commented on #3491
I suggest to sponsor it try it in PrimeFaces Extensions, it's like an sandbox for new components ;)

[2018-03-16 20:55] tandraschko commented on #3489
Thanks, the PR is fine!

[2018-03-17 12:14] melloware commented on #3491
This has also been asked for previously years ago so there must be a need. See this duplicate ticket...

https://github.com/primefaces/primefaces/issues/1006

[2018-03-17 12:14] melloware commented on #1006
Duplicate: #3491

[2018-03-17 12:26] #1006 closed, assigned to nobody

[2018-03-17 12:26] tandraschko commented on #3491
Lets do that in PFE first ;)

[2018-03-17 12:26] #3491 closed, assigned to nobody

[2018-03-18 13:11] bwhpers opened #3493 "When item is selected in selectOneMenu in dataTable, value is submitted only after focus change by next user action"
As of today, the issue can be seen in the showcase [https://www.primefaces.org/showcase/ui/data/datatable/edit.xhtml](https://www.primefaces.org/showcase/ui/data/datatable/edit.xhtml )

Try the second table ("Cell Editing with Click and RightClick"), select "Brand". The cell will remain in edit mode until the user triggers a change of focus through another action (i.e. select another cell or just

[2018-03-19 09:39] #3304 closed, assigned to nobody

[2018-03-19 09:45] #2356 closed, assigned to nobody

[2018-03-19 09:51] #232 closed, assigned to nobody

[2018-03-19 10:23] #3251 closed, assigned to nobody

[2018-03-19 10:32] jmorris1501 commented on #3464
Similar issue, but with autoComplete

tried using this with some autocomplete elements, causes the returned list to display like output text
![pf_1_expected](https://user-images.githubusercontent.com/13099697/37590600-7aaf1df0-2b71-11e8-86e6-bf48229bc00a.png)
![pf_2_actual](https://user-images.githubusercontent.com/13099697/37590613-856e0198-2b71-11e8-98e5-e172da9a5667.png)

Attached pictures befo

[2018-03-19 10:38] tandraschko commented on #3251
2 things @cnsgithub:
1) Could you please check if the license is compatible? AFAIK it's no problem to reuse MIT or Apache licenses but not sure about MPL
2) and please update https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/NOTICE.txt

[2018-03-19 10:43] cnsgithub commented on #3251
I'm not a lawyer but i think it should be okay ?

https://choosealicense.com/licenses/

[2018-03-19 11:17] fmarangon opened #3494 "DataTable: Broken custom draggable helper with MOVE_SCRIPTS_TO_BOTTOM"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: TomCat 8.0.47 (JSF 2.3.3)
- Affected browsers: any

## 2) Expected behavior
Draggable data-table column with custom dr

[2018-03-19 11:32] melloware commented on #3487
OK from looking at the source code commits this component was not really changed between 6.1 and 6.2.  So I am wondering if a) its a Jquery 3 thing or b) did something else in your environment change?

[2018-03-19 11:42] cnsgithub commented on #3494
I have already described the main reason for this problem here:

https://github.com/primefaces/primefaces/issues/3442

The problem with inline-scripts is they are processed at the point where they are rendered. And since all PF code is now on the bottom, it can't run properly inline. If it does it's just a timing thing. You could use

[code]

to ease the problem. But even this is not fail-proof if

[2018-03-19 12:20] tandraschko commented on #3494
NOTE: actually the users inline-script should also be moved the bottom and executed in the correct order. So it should work.

[2018-03-19 12:30] tandraschko commented on #3494
Don't know where it comes from but i don't see any error in PF. The script is executed correctly and after jquery is ready.

[2018-03-19 13:41] fmarangon commented on #3494
@tandraschko I don't know why it works fine for you, but this problem orignally aroused in another piece of code where it was working fine (and still is), until I refresh the whole page (F5 on browser).
The I see the behaviour I described.

I can also tell you that if I do and AJAX update on the component including the script (after the browser refresh) the drag function works fine so i guess @cns

[2018-03-19 13:47] tandraschko commented on #3494
I didn't say that it works, i just said that the script is executed late, when jquery is already ready.
Probably the DataTable script is rendered before yours. Will check it later.

[2018-03-19 14:02] tandraschko commented on #3494
Ok, no idea. As i said, the script order is ok.
Maybe a jquery bug or missusage. No time to check it.

[2018-03-19 16:32] ssibitz opened #3495 "Primefaces 6.2.1 includes Resources instead of linking to them ..."
I am wondering of the big size of the new Primefaces 6.2.1 release.
The current 6.2.1 release is very big in size : 4,07MB !

_So i analyzed that and i found out the following:_

In both versions (community 6.2 and elite/pro 6.2.1) there are webfonts and resources
inside that are coming from the Aristo and Omega Theme and also the fontawesome webfont
packed into the jar-file instead of only linkin

[2018-03-19 16:37] melloware commented on #3495
What about applications behind firewalls that are not allowed to reach out to the Internet?

[2018-03-19 16:51] Rapster opened #3496 "SelectoneButton: cumbersome margin-right"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version:
- Affected browsers: Chrome

## 2) Expected behavior
No margin-right should be set

## 3) Actual behavior
margin-ri

[2018-03-19 17:02] tandraschko commented on #3495
Use OmniFaces and be happy with it ;)

[2018-03-19 17:02] #3495 closed, assigned to nobody

[2018-03-19 18:05] lagar84 opened #3498 "ConfirmDialog: TypeError: this.jqEl is undefined"
## Reproducer: https://github.com/lagar84/primefaces-test

## 1) Environment
- PrimeFaces version: 6.2; 6.2.1 (it works on version 6.1, so this is a regression)
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: jetty,

[2018-03-20 06:30] ssibitz commented on #3495
**Really ?**
Ignoring and closing is not the right way when i payed for that primefaces service.

**And:**
If you are behind a firewall and can not reach the internet you also cannot access primefaces application
because the user's browser is rendering the whole page and getting the external links
and not the application server...

This is also a performance issue: The webbrowser can load external

[2018-03-20 06:46] cnsgithub commented on #3495
Really? I think the licence allows to modify the *.jar if i'm not wrong. You can easily remove the resources which are not needed. You can probably add this to your build process as well. Modifying a *.class is a different story. You could use gradle for example to integrate this in your build process.

PrimeFaces is not always used in environments with internet access. It can and probably will be

[2018-03-20 07:09] melloware commented on #3495
There are a lot of government and homeland security target companies that yes use Intranet applications with absolutely ZERO Internet access.  I personally have worked in these environments where absolutely a CDN link would be blocked from retrieval.

So to me this is a total showstopper of a requested feature to tie PF to external downloads as a requirement.

[2018-03-20 07:42] mertsincan opened #3499 "Picklist issue when scrollbar is present"
Reported By PRO User;

I attached a video, splitted in three parts, due to its big dimensions.
The steps are:
• With developer tools I reduced picklist height to make the scrollbar appear
• With the mouse wheel I reached the last item (Black-Tie)
• I clicked on last item checkbox and got moved to list top, to the first element and no item is selected
• Going down to the last item and checking it a

[2018-03-20 07:45] #3499 closed, assigned to mertsincan

[2018-03-20 08:54] martin654 commented on #3354
@tandraschko Thomas, I have another question related to load method. The **load** method is invoked in RENDER_RESPONSE phase, which is inconvenient because error messages could occur here and they would not typically be rendered because p:messages are in most cases rendered as one of first components. We have to do workarounds such as remembering messages and invoking another request using RemoteC

[2018-03-20 08:55] tandraschko commented on #3354
IMO i would create a new ticket

[2018-03-20 09:21] leomekenkamp opened #3500 "selectOneRadio: custom layout stops functioning after post"
## 1) Environment
- PrimeFaces version: 6.2.1
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 8.5.15
- Affected browsers: Firefox 59, IE 11, Chrome 64.0.3282.186

## 2) Expected behavior
After a full form post

[2018-03-20 09:22] martin654 opened #3501 "DataTable: invoke load method in LazyDataModel earlier than in RENDER_RESPONSE"
## 1) Environment
- PrimeFaces version: 6.2 and many previous versions
- Application server + version: any
- Affected browsers: any

## 2) Expected behavior
LazyDataModel's load methods are invoked **before** RENDER_RESPONSE phase

## 3) Actual behavior
The **load** method is invoked in RENDER_RESPONSE phase, which is inconvenient because error messages could occur here and they would not typicall

[2018-03-20 09:22] martin654 commented on #3354
Created new ticket for this: https://github.com/primefaces/primefaces/issues/3501

[2018-03-20 11:30] ssibitz commented on #3495
I now have solved this issue by creating a command-line-script which does the following thing:

1.) Unpack primefaces.jar
2.) Remove unwanted/unneeded resources from it like Webfonts or Pro-Themes
3.) Repack it and deploy it to locale maven repository

This resolves my issue that on my company
that we need an external hosted application with a high performance.
We also don't wont to include unneed

[2018-03-20 11:31] mertsincan opened #3502 "Improve multiViewState feature of sortable DataTable"
Reported By PRO User;

[2018-03-20 11:33] cnsgithub commented on #3495
jQuery is a client-side library. Here it makes more sense to 'save memory'. Whereas PrimeFaces is a server-side runtime jar library. You can most likely start to save storage space somewhere else ;)

[2018-03-20 11:34] #3502 closed, assigned to mertsincan

[2018-03-20 11:45] ssibitz commented on #3495
I don't do this to save space.

I do this because my company don't wont to have
deployed any embedded libraries / application on our server's (open source or commercial) when
they can be loaded from an external CDN-Server in the latest fixed / updated version when there is
a security relevant fix made.

So i removed things like WebFonts / Pro-Themes from the Library
and redirect them to the extern

[2018-03-20 11:52] tandraschko commented on #3495
As i already said, use OmniFaces and the CDNResourceHandler and be happy with it. I don't see any reason to implement the same again in PrimeFaces.

[2018-03-20 11:56] ssibitz commented on #3495
**But what about the Pro-Theme-Part's ?**

Why they are included into the Community-Edition and Elite-Edition of Primefaces
instead of including them only if a user buyed these themes :
\primefaces-6.2\META-INF\resources\primefaces-aristo\
\primefaces-6.2\META-INF\resources\primefaces-omega\

I don't have the licence to use these themes
and so i also don't want to have these part's always
included

[2018-03-20 12:03] tandraschko commented on #3495
Everything whats here in this repo, is open source and licenses under apache2. Aristo and Omega are the default themes which are delivered in the primefaces.jar.

[2018-03-20 12:11] #3496 closed, assigned to nobody

[2018-03-20 12:24] cnsgithub commented on #3495
I don't think what you are doing gives a big benefit. If you're going to use Elite builds, it doesn't make sense to use CDN for some part of it.

Also if you added omnifaces just for THIS, you're also adding a potential source of errors. I'm not saying that it will happen, but basically when updating omnifaces / jsf / primefaces. You need to make sure / test that everthing works fine, as these thr

[2018-03-20 13:08] melloware commented on #3498
In dialogs.js this line is definitely set in the init().
[code]
But when you call show() the this.jqEL is "undefined".  So something is unsetting it I just haven't figured out what.

[2018-03-20 13:28] Rapster commented on #2690
I should have put XHTML sample in that issue, my bad... What I meant it, if **no children are rendered**, display `SplitButton` as a simple button

[code]

Based on `ComponentUtils.shouldRenderFacet()`,  we could have `shouldRenderChildren()`

[2018-03-20 13:33] Rapster commented on #2690
I'll provide a PR

[2018-03-20 13:53] lagar84 commented on #3498
The only thing I could observe so far, is this bug have a relation to Step 1, when a non ajax postback is fired. Somehow the dom for confirmDialog is different when the same action is fired using ajax.
If you add this button to the reproducer (after the show data button):

`<p:commandButton ajax="true" value="Show data AJAX" action="#{testView.showData}" process="@form" update="@form" />`

confirm

[2018-03-20 18:43] melloware commented on #3486
So I added failsafe to this so the documentation will line up and toggle() will advance to the next one or you can still use toggle(direction) if you want to go forward or back.

[2018-03-20 19:49] #3486 closed, assigned to nobody

[2018-03-20 22:56] melloware commented on #3498
I reported this through my PRO account.  I looked at this one but its a little above my head on how to fix it.

[2018-03-21 05:19] ghost commented on #455
Hi,
  i faced the above issue in chrome when copying the cell and pasting it in a textbox. But the fileupload is  getting invoked i don't know why it is invoked please provide some solutions

[2018-03-21 05:25] ghost commented on #455
Please reopen this issue

[2018-03-21 06:28] cnsgithub commented on #455
You should create new issue containing a MCVE (https://stackoverflow.com/help/mcve), and follow the Issue creation template. This one is based on 3-yr old code and probably has nothing to do with your problem

[2018-03-21 08:20] Rapster commented on #3500
@leomekenkamp FYI, use ` for inline code, ``` for code blocks. See https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2018-03-21 08:45] tandraschko opened #3505 "Evaluate content-security-policy for inline scripts"
https://developers.google.com/web/fundamentals/security/csp/#if_you_absolutely_must_use_it

[2018-03-21 09:01] cnsgithub commented on #3505
What do you plan to use `Content-Security-Policy` for?

[2018-03-21 09:09] tandraschko commented on #3505
as the header says, for the inline-scripts

[2018-03-21 09:15] cnsgithub commented on #3505
Moving it to external JS would be the recommended way for a number of reasons. This is not possible in PF?

[2018-03-21 09:20] tandraschko commented on #3505
no

[2018-03-21 09:25] cnsgithub commented on #3505
Ok, I accept your taciturnity. :wink:

I just thought discussing it more broadly would finally result in a better implementation...

[2018-03-21 09:41] leomekenkamp opened #3506 "OutcomeTargetRenderer: unwarranted and possibly erroneous inclusion of the context path"
## 1) Environment
- PrimeFaces version: 6.2.1
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: all / n.a.
- Affected browsers: all / n.a.

## 2) Expected behavior
The url attribute of a MenuItem should not be

[2018-03-21 09:45] leomekenkamp commented on #3500
Ah, thanks. Fixed it. The layout that is :-), the original bug still stands.

[2018-03-21 09:47] mertsincan commented on #3505
@tandraschko, I researched it for a PRO User. Unfortunately, it is technically not possible in PF. Inline events used in HTML element won't work. Please see;  https://stackoverflow.com/questions/31060722/cordova-refuse-to-execute-inline-event-handler-because-it-violates-the-followi

My test code;
This code won't work. It throws an exception on console related to CSP
[code]

Please try this code in

[2018-03-21 09:52] tandraschko commented on #3505
yep, i see
the normal inline-scripts like PrimeFaces.cw should be no problem but the on* handlers....

[2018-03-21 09:57] cnsgithub commented on #3505
@mertsincan You have already proven that it should also work with event handlers when using your second approach.

[2018-03-21 10:01] tandraschko commented on #3505
The second approach is not possible because how behaviors are rendered.

[2018-03-21 10:03] cnsgithub commented on #3505
I know that would be kinda big refactoring, but technically it should be possible.

[2018-03-21 10:06] cnsgithub commented on #3505
This would also be a good protection against various XSS vulnerabilities and many security-aware customers would like it or otherwise decline using PF.

[2018-03-21 10:09] tandraschko commented on #3505
it's not possible for 100% as the JSF components would still render on* attributes with the behaviors.

[2018-03-21 10:11] mertsincan commented on #3505
I agree with @tandraschko. It is not possible.

[2018-03-21 10:15] cnsgithub commented on #3505
Then go and change it in mojarra/myfaces as well. :wine_glass: At least the possibility to opt-in would be nice.

[2018-03-21 10:21] tandraschko commented on #3505
i'm no pro in CSP but maybe there are other ways.
We can easily secure our inlinescripts, which are rendered for each widget.
Is there a option to ignore on* handlers?
I mean, if inline-scripts can't be executed and injected, not sure how important it is to secure on* handlers. They are dynamically generated for JSF components and someone would really need to hack your PF.jar or something.

[2018-03-21 10:21] tandraschko commented on #3505
@cnsgithub You have almost the same position as we, we can't just change something :D

[2018-03-21 10:30] mertsincan commented on #3505
- I think No :D You can only use 'unsafe-inline' parameter. Please see "Examples" section; https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src

[2018-03-21 10:31] cnsgithub commented on #3505
No.

Imagine that for some reason HTML attributes are not properly escaped in PF renderers. Then an attacker could simply exploit this vulnerability to inject an event handler of his or her choice. If there was a `script-src 'self'` directive, the attack would have been prevented. Unfotunately, `unsafe-inline `sweeps off this protection.

Also when using `meta http-equiv="Content-Security-Policy"

[2018-03-21 11:01] mertsincan commented on #3505
Thanks a lot for the info, @cnsgithub ;) I agree. If this CSP structure were suitable for PF, we would add it to HTTP headers.

[2018-03-21 11:01] cnsgithub commented on #3505
I like the idea of using passthrough `pt:nonce` on `f:ajax` as proposed here: https://stackoverflow.com/questions/22593549/java-server-faces-and-content-security-policy#answer-26246951

[2018-03-21 11:05] mertsincan commented on #3505
I've examined it two days ago :D

[2018-03-21 11:11] cnsgithub commented on #3505
And I would like PF to override and provide a custom `ClientBehaviorRenderer` even more: https://stackoverflow.com/questions/30525901/override-fajax-rendering-with-a-custom-renderer#answer-30527322

[2018-03-21 11:22] melloware commented on #3506
Related to?  https://github.com/primefaces/primefaces/issues/3154

[2018-03-21 13:18] #3498 closed, assigned to nobody

[2018-03-21 13:30] melloware commented on #3498
@mertsincan don't forget to add the Milestone labels to this ticket!  And thanks for fixing.

[2018-03-21 13:31] melloware commented on #3463
Fixed for 6.2.2 https://github.com/primefaces/primefaces/commit/9f86efba16ead70f9db1194744d291a7f64acefb

[2018-03-21 15:27] cnsgithub commented on #2155
@benoitbb If you like this to get fixed, you should provide a reproducer or at least a minimal but complete peace of code that can just be taken and tried out with copy and paste...

[2018-03-21 16:03] leomekenkamp opened #3507 "MenuItem: f:param tags ignored in combination with url attribute"
## 1) Environment
- PrimeFaces version: 6.2.1
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: Tomcat 8.5.15
- Affected browsers: Firefox 59, IE 11, Chrome 64.0.3282.186

## 2) Expected behavior
Menu items ad

[2018-03-21 16:05] tandraschko commented on #3507
similar to #2749

[2018-03-21 16:32] cbasener opened #3508 "DataTable: Misaligned rows with specific font size and empty column"
## 1) Environment
- PrimeFaces version: 6.2.1
- Does it work on the newest released PrimeFaces version? No, does not work with 6.2.1
- Application server + version: WildFly 11.0.0.Final
- Affected browsers: IE 11.251.16299.0, Edge 41.16299.248.0

## 2) Expected behavior

Using p:dataTable with an empty column and font size 11px should NOT misalign horizontal rows.

![edge_nbsp](https://user-images

[2018-03-21 17:10] mertsincan commented on #3498
You're right :))) Thanks a lot!

[2018-03-21 17:45] lucajav opened #3509 "Timeline: groupsWidth attribute not working"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-03-21 20:20] Hamsterbau commented on #3472
Workaround is not working, because of the called PrimeFaces method with the ID, which is not unique at this time:

PrimeFaces.ab({s:j_idt4:testtable:**j_idt8**});

...

PrimeFaces.ab({s:j_idt4:testtable:**j_idt8**});

I'm having the same problem with a selectbox, where the call looks a little bit different, but has the same problem:

PrimeFaces.ab({s:this,e:"valueChange",p:"myView:events:**j_idt58

[2018-03-22 06:10] mertsincan opened #3510 "Datatable column header alignment in IE 11"
IE check has been removed from calculateScrollbarWidth method in core.js.

[2018-03-22 06:11] #3510 closed, assigned to mertsincan

[2018-03-22 08:15] Rapster opened #3511 "[perf] isArray() is slow"
Based on this post https://stackoverflow.com/questions/16170548/object-isarray-is-slow-is-there-a-fast-way-to-do-that

isArray() has a big cost in terms of performance _(300ms!!!! according to the post)_. It should be always the last case to try when testing eligibility. First, most of the users are using List, second it's faster to evaluate.

We might even consider implementing our own `ArrayUtil

[2018-03-22 08:28] tandraschko commented on #3511
I don't think you can measure any difference if you change this.

[2018-03-22 08:30] tandraschko commented on #3511
If you would check the benchmark it's executed tons of times ;)

[2018-03-22 11:17] melloware commented on #3511
If you are going to add it I think org.primefaces.util.BeanUtils is the right place for this method.

[2018-03-22 11:24] tandraschko commented on #3511
I tried it by meself and all 3 checks (instanceof, checking the name, and isArray) takes 0ms for 100.000 calls after a small warmup. NN to introduce new methods.

[2018-03-22 11:24] #3511 closed, assigned to nobody

[2018-03-22 13:49] Rawi01 opened #3512 "SelectOneMenu: Unable to set autocomplete"
## 1) Environment
- PrimeFaces version: **6.2**
- Does it work on the newest released PrimeFaces version? **No**
- Does it work on the newest sources in GitHub? **No**
- Application server + version: **WildFly 10.1**
- Affected browsers: **Firefox**

## 2) Expected behavior

Setting `<f:passThroughAttribute name="autocomplete" value="off" />` on a SelectOneMenu should disable autocomplete after a

[2018-03-22 13:57] cnsgithub commented on #3512
`f:passThroughAttribute` and` f:passThroughAttributes` have been introduced in JSF 2.2. Currently, PrimeFaces uses `pt:` namespace attributes to achieve what you want to do. However, `p:selectOneMenu `lacks support for passthrough.

[2018-03-22 13:58] cnsgithub commented on #3512
Ok, that means it had worked before? Then forget about my previous answer...

[2018-03-22 14:04] cnsgithub opened #3513 "Ajax: XSS in parameter rendering"
## 1) Environment
- PrimeFaces version: 6.3.SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? 6.2.1
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: WildFly 12
- Affected browsers: n/a

## 2) Expected behavior
Ajax parameters have to be properly escape

[2018-03-22 14:13] cnsgithub commented on #3513
PR: https://github.com/primefaces/primefaces/pull/3514

[2018-03-22 16:26] tandraschko commented on #3512
The problem is that passtrough attributes were rendered multiple times, on multiple elements.
We decided to only apply it on the root component for now.

[2018-03-22 18:16] Rourke101 opened #3515 "Dialog documentation wrong"
A couple of things I think are wrong in page: https://www.primefaces.org/showcase/ui/df/basic.xhtml

[code]
Should be

[code]
Same for the other example

[2018-03-22 18:39] tandraschko commented on #3515
it's a showcase issue, please create a issue in the showcase repo and a PR ;)

[2018-03-22 18:39] #3515 closed, assigned to nobody

[2018-03-23 05:36] cnsgithub commented on #3515
@Rourke101 What's wrong with these snippets? The only difference is that the second one uses the diamond op? :confused:

[2018-03-23 06:57] cnsgithub opened #3516 "Dynamic AbstractMenu implementations: XSS in non-ajax parameter rendering"
## 1) Environment
- PrimeFaces version: 6.3-snapshot
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: WildFly 12
- Affected browsers: n/a

## 2) Expected behavior
`f:param `in dynamic, non-ajax `AbstractMenu

[2018-03-23 07:31] mertsincan opened #3517 "Cell edit: Cancel event on click"
Reported By PRO User;

We noticed that after performing incell edit, cancel event triggers on first click anywhere on the page.

[2018-03-23 07:32] #3517 closed, assigned to mertsincan

[2018-03-23 07:38] cnsgithub commented on #3516
PR: https://github.com/primefaces/primefaces/pull/3518

[2018-03-23 09:29] kukel commented on #3516
@cnsgithub: Wow... I have so much appreciation for you work... Thanks!. But wouldn't it be better to have all these xss issues in a 'private' issuelist so they are not disclosed before a fix has been made?

[2018-03-23 09:48] kukel opened #3519 "Prevent client-side changing of the datatable rows parameter (also affects other pageable components)"
## 1) Environment
- PrimeFaces version: up to latest source
- Application server + version: N/A
- Affected browsers: N/A

## 2) Expected behavior
Client side the rows value of the datatable should not be prone to manipulation

## 3) Actual behavior
You can change it client-side and with large datasets run into problems

## 4) Steps to reproduce
Manipulate the rows per page value on the client via

[2018-03-23 09:52] cnsgithub opened #3520 "XSS despite using ComponentUtils.escapeText"
## 1) Environment
- PrimeFaces version: 6.3-snapshot
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: n/a
- Affected browsers: n/a

## 2) Expected behavior
Developers can rely on `ComponentUtils.escapeText` t

[2018-03-23 10:05] cnsgithub commented on #3516
@kukel Thanks. And sorry for posting another one [here](https://github.com/primefaces/primefaces/issues/3520) without having read your comment. I largely agree. But what would be your proposed solution? I don't know/have any 'private' issue trackers.

[2018-03-23 10:08] #3513 closed, assigned to nobody

[2018-03-23 10:09] #3516 closed, assigned to nobody

[2018-03-23 10:10] #3468 closed, assigned to nobody

[2018-03-23 10:18] #3466 closed, assigned to nobody

[2018-03-23 11:43] melloware commented on #3520
@cnsgithub I like where you are going with this but here is what I propose and maybe @tandraschko or @mertsincan have different ideas

1. Rather than bring in the OWASP dependency we copy the classes (only 16 of them) into .encoder package in PF.  This code was last updated 1 year ago so its not likes its getting daily updates that we need to keep up with. (trying to keep with PrimeTek's goal of a

[2018-03-23 11:47] JensPiegsa commented on #2047
A quick test raises no more problems. Thanks!

[2018-03-23 12:00] leomekenkamp commented on #3506
It is indeed related to #3154. I think the original request cannot be implemented correctly, because in a JSF application it is not possible to know with 100% accuracy what the url in the browser window is. At the same time the JSF/Primefaces code generates a link that should be interpreted by the browser. That means that we can either specify an absolute path (starting with http: or /), or a rela

[2018-03-23 12:05] tandraschko commented on #3506
how that e.g. h:commandButton handle this?

[2018-03-23 15:53] LeandriT commented on #2301
can someone tell us, if this throuble is already solved?? I tried with newer versión of primefaces and i can´t filter on p tree component...

[2018-03-23 23:10] djmj opened #3521 "PF 6.2 mobile defects - autocomplete, modal, growl, dialog, checkboxmenu, datalist"
I know mobile will be removed and in 6.2 marked as deprecated. But this "deprecated" is more like a showstopper and most component's do not work anymore.

I downloaded PF 6.2 and checked my mobile application which does not work due to a lot of defects and then I checked out the showcase where same defects are present. In firebug i don't see any errors.

## 1) Environment
- PrimeFaces version: 6.2

[2018-03-23 23:43] tandraschko commented on #3521
Mobile has already been removed, so this ticket is invalid in the community issue tracker.

[2018-03-23 23:43] #3521 closed, assigned to nobody

[2018-03-24 12:05] RueKow opened #3522 "Schedule: additional year view"
1) Environment
PrimeFaces version: 6.2
Does it work on the newest released PrimeFaces version? No
Application server + version: Tomcat 8.5
Affected browsers: all

2) Expected behavior
new button "Year" (Year-Month-Week-Day) for selecting a year view with 12 months

3) Actual behavior
no year view available

4) Steps to reproduce
see showcase

5) Sample XHTML
...

6) Sample bean
..

[2018-03-25 23:08] djmj opened #3524 "Select*: Add checkbox to group"
With grouping enabled a nice enhancement is to have a checkbox next to the group label (like tree) which toggles all checkboxes of the children.

[2018-03-26 04:53] cnsgithub commented on #2301
~~@LeandriT As you can see above, the issue has been resolved by @melloware in https://github.com/primefaces/primefaces/pull/2302 and merged by @tandraschko. However, there is not yet a released version that contains the fix. All you can do is to build PrimeFaces by your own or wait for a new version.~~

Didn't see the milestone label, sorry. I have to go to the ophthalmologist again. :eye:

[2018-03-26 05:00] cnsgithub commented on #3520
@melloware I agree, OWASP encoding rarely changes and to not get in conflict with PrimeTek's dependency rules it would be okay to take copies of the classes under BSD-3. I also agree with points 2 and 3. I'll start with copying the OWASP classes. Then we'll see further.

[2018-03-26 05:02] cnsgithub commented on #3520
And btw, @tandraschko could you please add the security label? I hope not to overstretch your index finger... :wink:

[2018-03-26 06:43] mertsincan opened #3526 "OutputLink component doesn't work correctly in the header of panel"
Reported By PRO User;

https://github.com/primefaces/primefaces/issues/1533
OutputLink component doesn't work correctly in the header of panel
is again appearing with Primefaces 6.2.1

[2018-03-26 06:45] #3526 closed, assigned to mertsincan

[2018-03-26 08:15] cnsgithub commented on #3520
Reviews for https://github.com/primefaces/primefaces/pull/3525 are very welcome.

[2018-03-26 08:49] tandraschko commented on #3524
Please provide a PR or feel free to sponsor it.

[2018-03-26 10:19] leomekenkamp commented on #3506
That is one possibility, but I need the functionality in a menu. And menus need menuitems as children, so I cannot place a commandButton in a menu.

For those who are reading this in hope of a workaround: there is. Simply prepend "/.." to the url attribute. And if your application has a context path that is more than one subpath, simply add a '/..'.

So if your app is on context path '/bla/foo', a

[2018-03-26 10:40] djmj opened #3528 "CheckboxMenu: Add ui-state-active CSS class to if value selected"
PrimeFaces: 6.2
Server: Glassfish 5
JSF: Mojarra 2.3.2

User has no visible feedback if an option was selected in default mode.

In this mode the css class ui-state-active could be applied to the component.

[2018-03-26 10:41] djmj opened #3529 "CheckboxMenu: multiple and group displays wrong labels"
PrimeFaces: 6.2
Server: Glassfish 5
JSF: Mojarra 2.3.2

When multiple and option groups are used the labels are taken from the option group and not the value itself. See following image:

https://i.imgur.com/ZWOcZbl.jpg

[2018-03-26 10:53] geziefer commented on #1831
Is it part of version 6.2.1? (label is not set, but I tried it out and it seemed to be fixed).

However, even though the main animation bug is fixed, it is not quite ok yet:
If you start with a half-sized window, then scroll down the page, the behaviour is correct.
But when you maximize the browser window again, the animation is wrong and starts in about the middle of the screen instead of the bot

[2018-03-26 10:58] melloware commented on #1831
Yes it was fixed for PF 6.2 so its in 6.2.1.     And not its not perfect it was fixed based on this blog post.

http://www.monkey-business.biz/181/jquery-interfaces-fisheye-position-fixed-patch/#jquery-interfaces-fisheye-position-fixed-patch_english

[2018-03-26 11:07] melloware commented on #3520
I made a couple of comments let me know what you guys think. But overall I think this will be a huge improvement for PF going forward for security.

[2018-03-26 11:08] melloware commented on #2301
@LeandriT This was fixed for PF 6.2 can you not upgrade?

[2018-03-26 11:18] leomekenkamp opened #3530 "WidgetBuilder generates likely broken scripts for non-ajax postbacks"
## 1) Environment
- PrimeFaces version: 6.2.1
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: Tomcat 8.5.15
- Affected browsers: Firefox 59, IE 11, Chrome65.0.3325.181

## 2) Expected behavior
The popup pane

[2018-03-26 11:55] mohdGitHub commented on #3003
I have tried primefaces 6.2 but i found it's the same

[2018-03-26 13:01] tandraschko commented on #3506
i meant how h:commandButton handles the relative url with appending the contextPath e.g.

[2018-03-26 13:02] tandraschko commented on #3529
You should already know that we need a example. Please edit or it will be closed.

[2018-03-26 13:03] tandraschko commented on #3528
You should already know that we need a example (or link to the showcase) and steps to reproduce. Please edit or it will be closed.

[2018-03-26 13:05] tandraschko commented on #3530
Yep, the problem is that we check for postbacks but not for ajax requests...

[2018-03-26 13:15] #3530 closed, assigned to tandraschko

[2018-03-26 13:18] tandraschko commented on #3500
Should be fixed by: https://github.com/primefaces/primefaces/issues/3530
Could you build by source and test?
Mert will add it to 6.2.2

[2018-03-26 15:26] fanste opened #3532 "[DataTable] scrollable, missaligned thead_clone"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No, 6.2
- Application server + version:
- Affected browsers: IE11, Firefox

## 2) Expected behavior
Header columns and body columns should be aligned when data table is scrollable

## 3) Actual behavior
Header and body is missaligned by around 21px

## 4) Steps to reproduce
Our layout use

[2018-03-26 19:17] ravihariharan opened #3533 "[Documentation] deprecate layout"
User Guide - 3.75 Layout is not marked as (Deprecated)

[2018-03-26 19:26] mdzaebel opened #3534 "Showcases for Java EE 7/8 with CDI"
Showcase examples should be adapted to state of the art Java/Jakarta EE. The use of CDI is commonly aggreed as superior and best practice long ago (e.g. [1](https://stackoverflow.com/questions/4347374/backing-beans-managedbean-or-cdi-beans-named), [2](https://stackoverflow.com/questions/2930889/are-managedbeans-obsolete-in-javaee6-because-of-named-in-cdi-weld)). Of course, backward compatibility i

[2018-03-26 19:30] melloware commented on #3534
Agreed I tried to do it with PFE Showcase howver Jetty Maven plugin right now has an issue with it automatically includes CDI 1.0 which collides with trying to use EE7/8 needing CDI 1.1 or 1.2.

https://github.com/eclipse/jetty.project/issues/2080

I am waiting until Maven Jetty 9.4.9 plugin is released and then we can do this.

[2018-03-26 19:55] tandraschko commented on #3534
We also have spring users and the ManagedBean API is more neutral as CDI in that case.
Also i dont see a big benefit in switching to CDI. We just use ManagedBean and ManagedProperty. And we can simply use new EL features.
Note: i'm a big CDI fan and commiter of a Impl.

[2018-03-26 21:33] jxmai commented on #3003
@mohdGitHub There is a subtle difference. If you go to https://www.primefaces.org/showcase/ui/data/treetable/contextMenu.xhtml, left click / right click and space, you will notice that the page scrolls since the focus is not on the treetable.

[2018-03-26 21:33] mdzaebel commented on #3534
Why not support modern Spring examples too. While Spring and CDI could live in harmony it would be a better user experience to have more suitable and shorter examples at your fingertips. This work has to be done anyway as JSF Managed Beans are deprecated since JSF 2.3 ([Issue26](https://github.com/primefaces/showcase/issues/26)). However, I can't estimate benefit/cost analysis and must admit, that

[2018-03-27 07:38] tandraschko commented on #3534
We also still have many many JSF 2.0-2.2 users, so i would stick with ManagedBeans till JavaEE9 / JSF 3.0.

[2018-03-27 08:26] Hamsterbau opened #3535 "Datatable: selectAllRows(), unselectAllRows() partly broken"
## 1) Environment
- PrimeFaces version: 6.2.1
- Application server + version: Wildfly 11
- Affected browsers: Firefox (perhaps others)

## 2) Steps to reproduce

1. Click on checkbox in header (calls internally selectAllRows()
2. Unselect one checkbox from one row
3. Nothing happens, as well as pagination and other ajax stuff is broken.
4. After waiting and click another time on row or checkbox it

[2018-03-27 08:35] tandraschko commented on #3535
Does it work without update=@form?
update=@form for such events is actually a nogo.

[2018-03-27 08:49] Hamsterbau commented on #3535
First, thanks for the quick response. But changing update from **@form** to **:form:selected** after adding id "form" to h:form (to update the selected output field), has the same result.

Should i change the example page to my current test without @form?

[2018-03-27 08:57] tandraschko commented on #3535
Yep please.

[2018-03-27 09:32] Lms24 commented on #3521
I am aware that the issue is closed but would still second it as it would allow us a bit of extra time to migrate our application to the default PF until 6.3 without compromising our apps' security by staying on 6.1.

[2018-03-27 09:36] cnsgithub commented on #3521
I also recommend to invest some time and migrate your mobile app to regular primefaces (e.g using CSS Grid). It's not even that hard, just remove all <pm: and the renderkit one after another.

As djmj noted PF Mobile was quite buggy to begin with, and to be honest it never worked as good as the regular primefaces renderkit.

[2018-03-27 10:59] tandraschko commented on #3521
@lms24 This is a issue tracker for the community version, mobile doesn't exist here anymore. You can still get fixed by PrimeFaces PRO/Elite for 6.2.

[2018-03-27 11:18] melloware commented on #3534
Shouldn't this ticket be in the Showcase project? https://github.com/primefaces/showcase/issues

[2018-03-27 11:23] tandraschko commented on #3534
Yep, good point :D Will close it here.

[2018-03-27 11:23] #3534 closed, assigned to nobody

[2018-03-27 12:14] melloware commented on #3500
@leomekenkamp did you get a chance to test this?  I think this is a critical fix for PF 6.2.2 Elite.

[2018-03-27 13:28] macbyte0815 opened #3536 "PanelGrid: Support ui:repeat for rows"
## 1) Environment
- PrimeFaces version:6.1.9
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Wildfly 12
- Affected browsers:Chrome, FireFox, MS Edge

## 2) Expected behavior

Try to show Some Values from a ArrayLi

[2018-03-27 13:38] tandraschko commented on #3536
Why not use ui:repeat and a simple div as child?
p:repeat is just a hacky thing actually, which was introduced for a mojarra bug.

[2018-03-27 13:52] macbyte0815 commented on #3536
Tried it already with ui:repeat same issue -> Is not working. They have problems with the Style and StyleClass.
I´m working for 3 Years with primefaces. I have rewritten some Components that they are working for me like tabView with IFrames and so on. But I do´t want to rewrite your components that they are working as expected.

[2018-03-27 13:57] tandraschko commented on #3536
I don't think that the support of row inside p:repeat should work correctly and was never desigend to work.

So please post a simple as possible example that a ui:repeat doesn't work and i can check that case.

[2018-03-27 13:58] cnsgithub commented on #3536
The code to reproduce this is awful, a lot of proprietary code. You could have shown the issue with a lot less lines probably.

[2018-03-27 14:01] macbyte0815 commented on #3536
[code]

![grafik](https://user-images.githubusercontent.com/37838119/37972146-eabfd38e-31d7-11e8-86fd-c2e86a819bee.png)
It´s not working p:repeat is a copy of ui:repeat

[2018-03-27 14:02] tandraschko commented on #3536
ui:repeat inside panelGrid doesn't work, the component is not designed for this.

[2018-03-27 14:03] tandraschko commented on #3536
This is actually a common mistake in some components in PF. I will set "new feature" as label.

[2018-03-27 14:05] macbyte0815 commented on #3536
What should i do now? Wait for the new Feature ?
Or do you have any ideas for a workaround ?

[2018-03-27 14:08] tandraschko commented on #3536
hmpf, i actually don't like to answer things like "WTF" but the easiest way would be to implement it and provide a PR.

[2018-03-27 14:10] macbyte0815 commented on #3536
Oh I´m Sorry....
What do you mean with PR ? Don´t understand

[2018-03-27 14:11] tandraschko commented on #3536
Pull Request, something like a automatic patch in GitHub.

[2018-03-27 14:12] tandraschko commented on #3536
And after you implemented it, you can even just overwrite the renderer in your application to get an instant fix. After the next release, you can just remove the overwritten renderer class.

[2018-03-27 14:14] macbyte0815 commented on #3536
Excuse me, I have never done thomething like this. I normally solve all problems by myself and it work´s. Or found WA´s for the Problems. I don´t use GIThub. ALL IS NEW FOR ME.
This was why I have rewritten Components from PF to work for me.

[2018-03-27 15:49] tandraschko commented on #3536
It would be great if you could give back your bugfixes to the community and provide pull requests in the future.
I don't know a workaround as i never used this component. But i can see a encodeDynamicBody and encodeStaticBody, so there might be a way to use dynamic data.

[2018-03-27 16:15] #3022 closed, assigned to nobody

[2018-03-27 16:15] tandraschko opened #3537 "[Documentation] Calendar: defaultHour, defaultMinute, defaultSecond, defaultMillisec"
new attributes

[2018-03-28 04:49] chanmratekoko commented on #3487
@melloware

Error Still Occur testing with this repo
https://github.com/primefaces/primefaces-test

Test with
**Primefaces version 6.1 is OK**
but
**Primefaces version 6.2 does not work with below the code.**

Actual behavior (Error UI) with this source code

	<p:keyboard id="name"
		readonly="#{facesContext.currentPhaseId.ordinal eq 6}"
		layoutTemplate="\u1041\u1042\u1043-back,\u1044\u1045\u1046

[2018-03-28 07:06] mertsincan opened #3538 "Added onStart/onStop callbacks and cancel attribute to Draggable"
Details; https://api.jqueryui.com/draggable/