[2016-07-11 18:42] Charlie243 commented on #1547
In order to facilitate the debugging and resolution of this bug I'm including a simple code example here that shows the incorrect behavior.  (This is the same example that I included in my original post on the PrimeFaces forum.)

index.xhtml

[code]

TreeBean.java

[code]

As I said on the PrimeFaces forum: the issue is basic. You can tab forward through the components -- input text box #1, checkb

[2016-07-11 19:12] nicymike commented on #1576
Oh! I see, it's a feature. Sorry for the bug report and thank you for the information.

[2016-07-11 19:42] tandraschko commented on #1594
we need a example, otherwise we will close it as invalid.

[2016-07-11 21:07] ybendek commented on #1594
Sure, a very simple example, here using tabView component:

`
<h:form id="formCmp" >
 <p:tabView>
  <p:ajax event="tabChange" listener="#{testBean.onChangeTab}" />
  <p:tab title="tab1"></p:tab>
  <p:tab title="tab2"></p:tab>
  <p:tab title="tab3"></p:tab>
 </p:tabView>
</h:form>
`

`
public void onChangeTab(TabChangeEvent event){
        System.out.println(event.getTab().getTitle());
    }
`

In

[2016-07-11 21:14] tandraschko opened #1595 "Sometimes widgets are destroyed if they will be updated"
This happens for example with dialog and appendTo

[2016-07-11 21:17] #1595 closed, assigned to tandraschko

[2016-07-11 21:44] tandraschko commented on #1593
workaround: remove appendTo

[2016-07-12 07:50] integrityhu opened #1596 "github null field value"
field.value is always set to null regardless of which radio button is selected.
Please visit this forum topic: http://forum.primefaces.org/viewtopic.php?f=14&t=46154

[2016-07-12 10:52] tandraschko commented on #1596
dynaform is not a PrimeFaces component, so use the extensions issuetracker/forum.

[2016-07-12 10:52] #1596 closed, assigned to nobody

[2016-07-12 10:56] tandraschko commented on #1594
Workaround:
http://juel.sourceforge.net/guide/advanced/index.html - Enabling/Disabling ignoring of expected return type

[2016-07-12 11:06] tandraschko commented on #1594
also fixed in trunk, please give it a try.

[2016-07-12 11:06] #1594 closed, assigned to tandraschko

[2016-07-12 11:20] #1593 closed, assigned to tandraschko

[2016-07-12 11:36] orange-buffalo commented on #1593
@tandraschko Thanks for workaround. Unfortunately, for our case it is not applicable, as with complex layout and templating confirmation dialog appears under the backdrop overlay, which makes it inaccessible.

Is there any chance to backport this fix to 5.3 ?

[2016-07-12 14:43] ybendek commented on #1594
@tandraschko but is this including others events? I found exactly the same issue with others event components, for example with "toggle" event in p:columnToggler.

When 6.1 will be delivered (aprox)?

[2016-07-12 15:53] tandraschko commented on #1593
I'm sorry but i don't have any time to provide my bugfixes in elite currently. As you may know, i just do it in my freetime.

[2016-07-12 15:58] tandraschko commented on #1594
This occurs for every event.
The problem is actually that JUEL is the only implementation which handles this case correctly. As we don't test with JUEL per default, we don't hit this bug. But as i posted, the workaround/juel setting works fine.

probably winter/autumn this year.

[2016-07-12 16:01] ghost opened #1597 "JQPlot Charts: Problem with IL8N"
Charts with xAxis as dateAxis does't localize days and months. E.g. the date Jan 5, 2016 is always showed in English.

In Primefaces 5.3.11 charts i18 was fine.

Thanks
Luca

[2016-07-12 16:14] orange-buffalo commented on #1593
Yes, sure. Thank you for help!

[2016-07-12 17:16] xKopax opened #1598 "Problem Delta Theme and TabView"
On PF6, the Delta theme breaks the tabview component, this might be seen on Primefaces Showcase:

http://www.primefaces.org/showcase/ui/panel/tabView.xhtml

Instead of showing the content below, it starts to show them on the right.

[2016-07-12 18:46] tandraschko commented on #1598
what do you mean? looks fine for me.

[2016-07-12 19:46] xKopax commented on #1598
I tried on Firefox and Chrome, both of them showed the same problem.

Look at the image below

\/

![sem titulo](https://cloud.githubusercontent.com/assets/8135364/16781065/de2e0a6e-484f-11e6-8f28-495cddbb73be.png)

[2016-07-13 07:33] mahen025 opened #1599 "Primefaces Copy & Paste the data from excel into datatable"
Hi ,
i'm trying to find a way to Copy & Paste the data from excel into datatable using primefaces. please suggest me a solution to achieve the results.

[2016-07-13 07:57] tandraschko commented on #1599
please use the forum for questions.

[2016-07-13 07:57] #1599 closed, assigned to nobody

[2016-07-13 07:58] tandraschko commented on #1598
Could you please try to clear your cache? works fine in both browsers for me

[2016-07-13 08:58] michael-las commented on #1598
## Steps to reproduce
1. Clear cache
2. Open http://www.primefaces.org/showcase/ui/panel/tabView.xhtml
3. Switch to Delta theme
4. If necessary, make the window wide enough or use the browser's zoom to give more space to the components, so that you'll get the results above.
5. Switch to Afterdark theme
6. Clear cache
7. Reload the page
8. Switch to Delta theme

[2016-07-14 06:53] CSchulz commented on #1539
@tandraschko Is the feature completly removed in PF6?

[2016-07-14 08:05] tandraschko commented on #1539
No, just a bug.

[2016-07-14 11:20] CSchulz commented on #1539
Hum, I was asking because I have seen the removal of the feature in 4f0cc9254fcb544495bae7f0892ec155037b2b61.

[2016-07-14 11:37] tandraschko commented on #1539
Nope, i just removed code that doesnt work anymore

[2016-07-14 16:56] ciukstar opened #1601 "Dialog Framework: JSF 2.2 FlowScope support"
In my current project I use a lot of DialogFramework. Nested Dialogs are great (I used pe:masterDetail). Thanks guys! It will be nice and more effective to make use of JSF 2.2 Flow Scope. I performed some tests and it seems that upon action="#{myBean.openDialog('outcomeToSomeFlowId')}" there is no flowScope. That is, from a view that is outside of any flow, I cannot 'enter' a flow by openning a di

[2016-07-14 19:18] blairlc opened #1602 "Google Maps Map.fitBounds Overridden by GMap Attribute"
When using the Google Maps JavaScript API on a GMap component, Map.fitBounds throws the following error:

It appears that this is because fitBounds is a GMap attribute that can be set in the XHTML. I found [this workaround](http://stackoverflow.com/questions/23060823/fitbounds-in-primefaces-gmap-component) on Stack Overflow. This fixes the problem for me but it's not obvious or noted in the docume

[2016-07-15 02:00] JasonQuan opened #1603 "export component UTF-8 file name support"
PF version 6.0
org.primefaces.component.export.ExcelExporter.java

protected String getContentDisposition(String filename){
       return "attachment;filename="+URLEncoder.encode(filename,"UTF-8")+".xls";
}

[2016-07-15 10:59] hatspencer commented on #1470
To summarize, I've created PR #1600 which fixes this, and also fixed it in PR #1467.

[2016-07-15 12:39] pvnhome opened #1604 "Pages in a multi-page view can not be loaded lazily due to error"
Go to http://www.primefaces.org/showcase/mobile/lazyload.xhtml

Click "Go to Page 2" link. Nothing happening and you can see "TypeError: $(...).page is not a function" in the browser log.

[2016-07-15 13:57] sourour commented on #1446
primefaces elite version could resolve this issue ? Please advise.

[2016-07-15 16:38] antEatOaktree opened #1605 "autocomplete does not work in IE11"
My web application is using primeface 4.0.  I develop the application on my local computer (windows 7), then move it into windows2012 testing server.  Both are running the same war file in same version of tomcat.
 When I open two tabs in the IE 11 browser, the first tab URL points to local server (win7), the 2nd tab URL points to remote win2012 server.  The autocomplete works in the first tab, but

[2016-07-15 16:41] tandraschko commented on #1605
does it work with 6.0 in the showcase?

[2016-07-15 16:51] antEatOaktree commented on #1605
yes.  autocomplete in showcase6.0 works in the same IE browser

[2016-07-15 17:03] tandraschko commented on #1605
so why do open this issue? upgrade PF and should likely work in your application, too

[2016-07-15 17:09] antEatOaktree commented on #1605
oh, I did not deploy showcase war on my win2012 server to test if autocomplete work. I only know showcase on your web site works.  I  can not think of any possible cause that the IE tab pointing win7 works but the tab pointing to win2012 does not.   Could you please give me some hint?  It's the same tomcat , the same application war file.

[2016-07-16 09:35] tandraschko commented on #1605
try the showcase on your server but i'm sure this is not related to PrimeFaces.
maybe there some resource requests fails? check out firebug.
Nevertheless, it's more a forum topic then a issue. I will close it for now.

[2016-07-16 09:36] #1605 closed, assigned to nobody

[2016-07-16 16:04] tandraschko commented on #1601
Feel free to provide a PR which implements this feature

[2016-07-16 17:55] krishnakittu opened #1606 "Calender today button is not working"
Hi,

In a calender component (Version 5.0) on clicking on today button is not sets the date. Is it resoled in 6.0 ?.

[2016-07-16 20:02] ciukstar commented on #1601
What is a PR?

[2016-07-17 08:49] Rapster commented on #1601
Pull Request: https://help.github.com/articles/proposing-changes-to-a-project-with-pull-requests/

[2016-07-17 15:41] tandraschko commented on #1606
not a valid ticket, for questions use the forum.

[2016-07-17 15:41] #1606 closed, assigned to nobody

[2016-07-18 08:57] tecbea opened #1607 "mobile / pm:page / page transitions do not call renderDeferred"
Hi
seems on the mobile core pm:page , the renderDeferred do not works, what makes that Widgets  made with the logic PrimeFaces.widget.DeferredWidget  do not work.

One example is the gmaps

[code]

[2016-07-18 08:59] tecbea commented on #1607
using pf6

[2016-07-18 09:12] tecbea commented on #1607
correction, it happens inside tabview not in accordian
    <h:form id="contentForm">

[code]

[2016-07-18 13:24] marc-bouvier-dav commented on #1569
Hello, is this also fixed in any future Elite 5.3.X release?

[2016-07-18 13:30] tandraschko commented on #1569
check the labels on the right side, the versions numbers are always the elite version numbers.

[2016-07-18 13:55] marc-bouvier-dav commented on #1569
Thank you, I am very new with GitHub.

[2016-07-19 07:52] MiguelAngelLV opened #1608 "SmoothLine method is not effective in LinearChartSeries"
I have find a error in LineChartSeries

https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/model/chart/LineChartSeries.java#L120

Instead of check the variable "smooth", it check the variable showLine.

[2016-07-19 12:03] schlebe commented on #1001
this feature doesn't work in PrimeFaces 6.0.
... no chance

[2016-07-19 12:21] fabiozanardi7 commented on #1541
I agree

[2016-07-20 06:37] peterremec commented on #1540
I just noticed this bug, too. I get the same result by using 'PrtScr', 'Insert', 'Caps Lock', 'Num Lock', 'Scroll Lock', function keys and maybe some more.

+1 vote for this issue.

[2016-07-20 07:01] Rapter1990 opened #1609 "Connect between category and subcategory in jsf"
I devised a sample category with subcategory module in jsf by eclipse. I made an adding category module without any issue but I couldn't make an adding subcategory under related category . How do I solve the issue. Here the code below.

Suncategory .xhtml

<h:form>

[code]

/h:form
</h:body

Category Dao

public List getAllcategoriesbyName(String name) {
// TODO Auto-generated method stub
Session

[2016-07-20 07:30] Rapster commented on #1609
First, I don't understand what the problem is as it's not clear... Secondly, I don't think it is related to Primefaces

[2016-07-20 07:59] Rapter1990 commented on #1609
I just said that I couldn't add subcategory under its category.  How I can devise addSubcategory() function in SubCategory which is my issue.

[2016-07-20 08:01] Rapster commented on #1609
Again, it's not a Primefaces issue. Use forum for this

[2016-07-20 08:30] tandraschko commented on #1609
use the forum for questsions.

[2016-07-20 08:30] #1609 closed, assigned to nobody

[2016-07-20 12:02] julianomqs opened #1610 "PrimeFaces 6.0 Calendar JS Console Error Messages"
Hello,

When I enter a date in the p:calendar with mask via keyboard, some JS messages pop in browser console.

[code]

More info:

PrimeFaces version:
6.0 (I only tested in this version)

Browsers:
Chrome 51.0.2704.103 m
Firefox 47.0.1

How to reproduce:
Enter date via keyboard in a p:calendar with mask

This error can be reproduced in showcase:
http://primefaces.org/showcase/ui/input/calendar.xh

[2016-07-20 12:19] tandraschko commented on #1610
I can't reproduce it with mask however the same appears if you type in the "Datetime" example. This comes from jquery datepicker, see: https://github.com/trentrichardson/jQuery-Timepicker-Addon/issues/643

Maybe you can state the steps to reproduce your error, it works fine for me.

[2016-07-20 12:19] tandraschko commented on #1607
Feel free to provide a PR.

[2016-07-20 12:20] #1470 closed, assigned to tandraschko

[2016-07-20 14:04] ghost opened #1611 "[Documentation] User Guide update for DataTable disabledSelection attr usage"
[http://forum.primefaces.org/viewtopic.php?f=3&t=38042#p144430
](url)
User Guide - 3.33 DataTable section.

Please modify the following to the description field of **disabledSelection**

to

If adding an example of usage seems out of place in that field, then maybe something like

This at least ties back into Column's Note section, but the example is remarkably clear.

note: the documentation for

[2016-07-20 15:23] JjBenoit opened #1612 "FileUpload advanced multiple mode don't open selection file pop up On fireforx 17.0.7 esr with specific css"
you can show that bug directly on the primefaces showcase

FileUpload advanced multiple mode :
 with the bootstrap css the pop up opens
with sunny css pop up don't

[2016-07-20 15:58] pjomcsJAVA opened #1613 "SelectEvent in timeline not triggered!"
<fieldset class="scheduler-border">
    <legend class="scheduler-border">#{msg['tp_list']}</legend>
            <p:timeline id="timeline" value="#{nav.model}" height="450px" selectable="#{nav.selectable}" zoomable="#{nav.zoomable}" moveable="#{nav.moveable}" stackEvents="#{nav.stackEvents}" axisOnTop="#{nav.axisOnTop}" eventStyle="#{nav.eventStyle}" showCurrentTime="#{nav.showCurrentTime}" showNav

[2016-07-20 16:31] tecbea commented on #1607
sorry a PR ?

[2016-07-21 06:35] mertsincan opened #1614 "Add Omega theme support to 5.3.x"

[2016-07-21 06:37] #1614 closed, assigned to nobody

[2016-07-21 07:01] Rapster commented on #1613
Use forum for this, and other thing, give more detail/code in your post

[2016-07-21 07:17] sergi-mm commented on #279
When this feature will be available?

[2016-07-21 08:42] alarive commented on #1514
Any idea when you plan to implement this ?

[2016-07-21 10:18] tandraschko commented on #1514
No plans currently, but you can provide a PR

[2016-07-21 10:19] tandraschko commented on #279
No plans currently, but you can do a PR

[2016-07-21 10:19] tandraschko commented on #1607
Pull request

[2016-07-21 10:20] tandraschko commented on #1613
Exactly

[2016-07-21 10:20] #1613 closed, assigned to nobody

[2016-07-21 10:30] aaronkelly6 commented on #1528
I believe this behavior should extend to the styleClass attribute also.

[2016-07-21 11:20] tandraschko commented on #1612
firefox 17 is outdated and it works fine in a newer version

Does it work for the newest 17 version?

[2016-07-21 11:42] JjBenoit commented on #1612
yes of course is out dated bu some compagnies must deal with it .
the trouble is the font 'Segoe UI' in   :

  .ui-widget input,
 .ui-widget select,
 .ui-widget textarea,
 .ui-widget button {
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 1em;

[2016-07-21 11:46] tandraschko commented on #1612
but whats the problem with it?
you could try that:
font-family: 'Segoe UI',Arial,sans-serif;

[2016-07-21 11:57] JjBenoit commented on #1612
not work

just delete that font solve the problem
font-family: ,Arial,sans-serif;

that font name Segoe UI is present  in certain themes of  'all-themes-1.0.10.jar'

[2016-07-21 11:57] #1612 closed, assigned to nobody

[2016-07-21 12:01] JjBenoit commented on #1612
Bug 835204 - "Segoe UI Light" not recognized as a font-family name (was: Font will not display)
https://bugzilla.mozilla.org/show_bug.cgi?id=835204

[2016-07-21 12:03] madox2 opened #1615 "Wrong legend indentation in horizontal and stacked bar chart"
Indentation between last two labels of legend is smaller than between others.

![indentation_bug](https://cloud.githubusercontent.com/assets/15847857/17021874/0e901e52-4f4b-11e6-9474-93edaea60701.png)

As a workaround I set the same padding for each label:

[code]

[2016-07-21 14:13] mertsincan commented on #1593
Added to 5.3.15 and 6.0.2. Thanks @tandraschko.

[2016-07-21 14:16] mertsincan commented on #1576
No problem ;) thanks for the update!

[2016-07-21 15:11] orange-buffalo commented on #1593
Great news, thanks!

[2016-07-21 17:15] #1598 closed, assigned to tandraschko

[2016-07-21 17:57] jederfreitas commented on #349
Hi Cagatay, Pooum,

Is there a solution or a workaround about it? I have the same problem.

Thanks

[2016-07-21 18:05] xKopax commented on #1598
Thank you =)

[2016-07-21 18:19] #43 closed, assigned to tandraschko

[2016-07-22 07:16] sergi-mm commented on #279
Hello @tandraschko, I've just created a pull request with this feature: https://github.com/primefaces/primefaces/pull/1618.

Hope you can integrate with your code.

[2016-07-22 08:21] mertsincan opened #1619 "Hidden container support to Tabview on PF-Mobile"
Test code;

[code]

[2016-07-22 08:35] #1619 closed, assigned to nobody

[2016-07-22 08:36] mertsincan commented on #1607
Merge #1619

[2016-07-22 08:36] #1607 closed, assigned to nobody

[2016-07-22 14:10] teefal commented on #1525
Simplified things by removing the jqplot testing stuff.

[2016-07-22 15:05] shiva1248 commented on #1177
Hi,

Any update when would primefaces include W3C Web content Accessibility support for calendar component ?

Any timelines for this one ?

[2016-07-22 19:56] ghost commented on #1495
Any solutions about this issue? It's really annoying...

[2016-07-22 20:24] Rapster commented on #1495
Not sure if we should introduce a new attribute like "unique" or simply modify the current behavior

[2016-07-22 23:48] JaviRpo commented on #1495
An unique attribute would be fine, i guess

[2016-07-23 19:20] maol74 opened #1620 "Component type is misspelled in primefaces-p.taglib.xml, see outputLabel.xml in source code"
Component type is misspelled in primefaces-p.taglib.xml, see outputLabel.xml in source code.
Should be org.primefaces.component.Outputlabel but is org.primefaces.component.Outputlabelk

[code]

[2016-07-24 10:16] #1620 closed, assigned to tandraschko

[2016-07-25 07:31] mertsincan commented on #1525
Can you please try this issue with 5.3.x or 6.0.x version?

[2016-07-25 08:37] beadaptive opened #1622 "NPE in PF 6.0 PrimePartialResponseWriter if viewroot is null"
After migrating to PF 6.0 we encounted some NPEs in PrimeFaces' "PrimePartialResponseWriter", if the viewroot is null, for example on ViewExpiredExceptions.
There is a new Method "startMetadataIfNecessary" which is called e.g. by a redirect.
If we "manually" set the "metadataRendered" property per reflection to "true" in cases of a redirect when the viewroot is null, everything is working fine. Ma

[2016-07-25 08:43] #1622 closed, assigned to tandraschko

[2016-07-25 08:47] tandraschko commented on #1604
Feel free to provide a PR

[2016-07-25 09:03] #1583 closed, assigned to nobody

[2016-07-25 09:55] vbrandl opened #1623 "XSS via "legend" attribute in p:fieldset"
Values submitted via the "legend" tag in p:fieldset aren't escaped and open a possibility for XSS attacks.
Example code:

[code]

Where obj.attribute1 is

[code]

The JS code gets executed which leads to a XSS.
A simple fix would be using f:facet instead of the legend attribute

[code]

But I think the behaviour should be the same when using f:facet or the attribute.
If it is intended for "legend"

[2016-07-25 11:28] teefal commented on #1525
How do I do this without being pro/elite?  It says I need a password.  Build from git?

[2016-07-25 11:37] mertsincan commented on #1615
it is a jqplot issue. I checked jqplot API and found two method for legends. Please see the following codes;

[code]

[2016-07-25 11:49] mertsincan commented on #1525
Yes, you can build primefaces project in our github. Then, you can use produced jar for testing your issue.

[2016-07-25 12:05] mertsincan commented on #1568
I checked this issue on Iphone 6 and 6+. it works fine for me.

![iphone 6_test](https://cloud.githubusercontent.com/assets/11868120/17100746/215f7574-5279-11e6-9abd-b4123b0cc0e8.jpg)

[2016-07-25 12:14] mertsincan commented on #1568
Maybe, you can try it with the following css code;

[code]

[2016-07-25 12:49] teefal commented on #1525
Confirmed the bug happens with newly built version of the  trunk.  Attached find my stripped down sample project, which is run under a vanilla Glassfish 3.1.2.2 domain, freshly created with no params.

[primebug.zip](https://github.com/primefaces/primefaces/files/381516/primebug.zip)

Not sure how to check 5.3.x ... not familiar with github enough to grab the old source.

[2016-07-25 13:55] teefal commented on #1525
Btw, the bug happens on Mac/Chrome and Win10/Chrome, but not Win10/IE11, Win10/Edge or either Mac/Win10 Safari or Firefox.

[2016-07-25 14:03] mertsincan commented on #1525
Thanks for the sample project and details. Can you please attach a screenshot for us? I tested with Win8.1/Chrome. My screenshot;

![chrome_test](https://cloud.githubusercontent.com/assets/11868120/17104018/a20f1714-5289-11e6-9205-6878be86713a.PNG)

[2016-07-25 14:28] #1608 closed, assigned to nobody

[2016-07-25 15:02] teefal commented on #1525
My screen looks exactly like yours, except there's no box.  It hangs before the box opens, eventually timing out.

[2016-07-25 15:17] teefal commented on #1525
This is the area where it hangs, by the way ... it's about to call _jpqToImage on div.jqplot-point.label.jqplot-series-0.jqplot-point-11

![jpqtoimage](https://cloud.githubusercontent.com/assets/2871552/17106448/58f0682e-5259-11e6-828e-68334afac6ae.png)

[2016-07-25 15:18] teefal commented on #1525
More specifically, it's the call to writeWrappedText inside that invocation that hangs.

[2016-07-25 15:28] ltlBeBoy opened #1625 "Displaying all data available in a data table not possible (<p:dataTable rows="0" ...> is ignored)"
### Description:

A data table with a lazy data model should display all data available by setting attribute "rows" to "0". Also the attribute "paginator" is set to "false". Source code documentation for attribute "rows" says:

"Number of rows to display per page. Default value is 0 meaning to display all data available."
### Problem:

Omitting the attribute "rows" or setting it to "0" leads to an

[2016-07-25 16:17] ltlBeBoy opened #1626 "Default sorting for data table is ignored when sort mode "multiple" is set."
### Description:

A data table with a lazy data model should sort the rows by default by a certain column. Also the attribute "sortMode" is set to "multiple".
### Problem:

The rows of the data table are not sorted by default. But it works if attribute "sortMode" is set to "single".

[2016-07-26 07:32] #1623 closed, assigned to nobody

[2016-07-26 07:35] mertsincan commented on #1623
Added escape attribute to Fieldset component. Default value is "true".

[2016-07-26 07:40] mertsincan commented on #1604
Please use h:form;

[code]

I updated our demo page; https://github.com/primefaces/showcase/blob/ef1e044b06afb14fa8e8dd83e3d98b0e0b6b7077/src/main/webapp/mobile/lazyload.xhtml

[2016-07-26 09:27] OBreidenbach opened #1627 "p:repeat should not require the attributes: varStatus, offset, step, size"
In the taglib description the attributes for p:repeat varStatus, offset, step, size are marked as required.
The should not be required as in ui:repeat.

[2016-07-26 12:26] teefal commented on #1525
FYI, my version of Mac/Chrome is Version 46.0.2490.71 (64-bit).

[2016-07-26 15:19] Mrjoui commented on #771
i have the same problem.
I have a selectManyButton in a cellEditor DataTable with cell edit mode. And when i select the manybutton cell to edit, the component has focussed, and loose the ui-state-active and adds ui-state-focus.

I work with PF 6.0

[2016-07-26 22:30] kukel opened #1628 "Implement 'use uncompressed resources' like in PFE"
The

[code]

Can be very useful for people trying to find/fix/override things in the JS without the need to fully download the source and build a version with uncompressed resources. The amount of data in the jar should not be an issue, it is not that much). It could even be deduced or always active if the app is running in JSF Development Mode.

[2016-07-26 22:31] kukel commented on #1597
In what version does it fail?

[2016-07-26 22:33] maol74 opened #1629 "Tabview in Omega theme don´t show focus state in "right" way"
se http://www.primefaces.org/omega/panel.xhtml image below

![image](https://cloud.githubusercontent.com/assets/1272327/17157707/7171f622-5391-11e6-92d9-fa90d8af0b3b.png)

[2016-07-26 22:38] kukel commented on #1625
What  version of PF are you using? What version of the docs are you looking at? Does it work without a lazy datamodel?

[2016-07-26 22:39] kukel commented on #1626
What version of PF are you using?

[2016-07-26 22:47] maol74 commented on #1629
One way to fix this is to add the following css to the a-tag **only** if the tab is closeable

[code]

[2016-07-26 23:02] Charlie243 opened #1630 "Accordian tabs use a hard-wired h3 heading"
The accordion puts the title of each tab into a hard-wired h3 HTML heading -- which can cause structurally incorrect HTML.

I ran into this issue when my web app was evaluated for Section 508 accessibility compliance by a U.S. federal agency. The problem is structural, not stylistic. h1, h2, h3, etc. headings must be in the proper order. You cannot, for example, have an h3 heading follow an h1 wit

[2016-07-26 23:08] f4bi0luciano opened #1631 "p:password throws NullPointerException when rendered attribute is active"
When I use some expression in the rendered attribute, the component is leaving the field value to null.

Example: (its work)
`<p:outputLabel value="Senha de Acesso:" for="senha1" />
                <p:password id="senha1" label="Senha de Acesso:"
                    value="#{cadastroUsuarioBean.usuario.senha}"
                    feedback="true"
                    promptLabel="A senha deve possui

[2016-07-27 06:44] ghost commented on #1597
We’re using primefaces 6.0.

Thanks
Luca

[2016-07-27 07:22] Rapster opened #1632 "OutputLabel should support composite components with cc:editableValueHolder"
See https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/381

[2016-07-27 07:32] tandraschko commented on #1628
we discussed it several times in the past and we decided to not do it as it blows up the jar.
if you need to debug, you can still build PF by source as it will only be compressed with the release mvn profile.

[2016-07-27 07:32] #1628 closed, assigned to nobody

[2016-07-27 07:32] tandraschko commented on #1628
we discussed it several times in the past and we decided to not do it as it blows up the jar. (me was the +1 ;))
if you need to debug, you can still build PF by source as it will only be compressed with the release mvn profile.

[2016-07-27 08:00] hatspencer commented on #1631
Are you 110% sure that `#{cadastroUsuarioBean.usuario}` is not null?

[2016-07-27 08:22] tandraschko commented on #1631
And please provide a working example based on the showcase

[2016-07-27 08:48] Rapster opened #1633 "OutputLabel does not support composite component"
In a very simple way, here is a composite:

[code]

Here how I use it:

[code]

A mandatory icon should be displayed but it does not. In `OutputLabelRenderer` everything looks fine, except in line 118, `input.isRequired()` returns false while I explicitly set true.

[2016-07-27 09:11] NicolaIsotta opened #1634 "p:calendar should have inputStyle and inputStyleClass attributes"
Right now, `style` and `styleClass` attributes of the `p:calendar` component are applied to a `<div>` containing the actual `<input>` element. It would be useful to style the input component directly (e.g. for the integration with third-party frameworks like bootstrap).

[2016-07-27 09:31] #1629 closed, assigned to tandraschko

[2016-07-27 09:31] tandraschko commented on #1629
There border should not be there, it's the deafult chrome outline. We removed it.

[2016-07-27 10:41] mertsincan opened #1636 "Able to select disabled item in SelectOneMenu"
Reported by PRO User;

[2016-07-27 10:52] f4bi0luciano commented on #1631
@hatspencer I believe so, because only when I put this attribute "rendered" with the same expression the error happens. I made the change to see if it had to do with my expression, putting the readonly attribute with the same expression when the situation is reached (editing) the field is locked for editing (goal).

@tandraschko I'll try to see if I can play the same situation in a separate projec

[2016-07-27 10:52] ltlBeBoy commented on #1626
I use PF 6.0. But PF 5.3 has the same problem.

It's quite interesting:
In my project I use a _LazyDataModel_. On debugging I can see that the _SortMeta_ is _null_ on initial page call. Now I created a sample project with the backing bean and service from the [Primefaces showcase](http://www.primefaces.org/showcase/ui/data/datatable/basic.xhtml). I modified the facelet like this:

[code]

When I c

[2016-07-27 11:08] #1636 closed, assigned to nobody

[2016-07-27 12:10] kukel commented on #1630
I'm in favour of a level. Heck, I'm even more in favour of adding 'nesting' to the accordion by design ;-)

[2016-07-27 13:17] ltlBeBoy commented on #1625
I use PF 6.0. But PF 5.3 has the same problem. The documentation, which pops up in Netbeans on autocomplete, is from the file _META-INF/primefaces-p.taglib.xml_ in the PF jar.

It works without lazy datamodel. I created a sample project with the backing bean and service from the [Primefaces showcase](http://www.primefaces.org/showcase/ui/data/datatable/basic.xhtml). I modified the facelet like thi

[2016-07-27 15:10] kukel commented on #1568
So you add custom css, that strongly influences the positioning and flow and then say the reflow is wrong??? Maybe this css is just not triggered on Android and hence it has no problem. What if you remove the `@media` part? Does it fail on android to then?

[2016-07-27 15:10] tandraschko opened #1637 "[Documentation] confirmDialog appendTo should be String"
instead of Boolean

[2016-07-27 15:11] Rapster commented on #1633
Enhancement or bug?

[2016-07-27 15:13] tandraschko commented on #1633
enhancement as it was never implemented to support this.

[2016-07-27 15:19] Rapster commented on #1633
Using `for="rat:calendar"` works though: it returns the `Calendar` component

[2016-07-27 15:51] kukel commented on #1592
which version? small example?

[2016-07-27 16:36] #1453 closed, assigned to tandraschko

[2016-07-27 16:37] tandraschko commented on #990
converters are full supported in the calendar now - will close this feature request for now as this can easily be done with a converter

[2016-07-27 16:37] #990 closed, assigned to nobody

[2016-07-27 16:40] tandraschko commented on #839
fixed our calendar that converters are able to do the whole stuff
NOTE: if timeOnly is used, your converter should check and it and use another pattern:
if (((Calendar) component).isTimeOnly()) {
   ... use different pattern
}

[2016-07-27 16:40] #839 closed, assigned to tandraschko

[2016-07-27 16:51] andrei-ivanov commented on #1453
Will this also end up in 6.0.3?

[2016-07-27 17:13] tandraschko commented on #1453
not from my side, i just do it open source.
@mertsincan would you like to merge it?

[2016-07-27 20:36] tandraschko commented on #1633
whats the difference between #1632 and this?

[2016-07-28 06:23] mertsincan opened #1638 "InputNumber issue on keyup/down event"
Reported By Pro User;

[2016-07-28 06:24] #1638 closed, assigned to nobody

[2016-07-28 07:07] cyterdan commented on #819
Hi,

Any reason for this validation not being done in production mode ?

[2016-07-28 07:28] tandraschko commented on #819
performance, yes
as the content shoudln't be changed from development to production, its not required.

[2016-07-28 07:30] #1630 closed, assigned to nobody

[2016-07-28 07:30] mertsincan commented on #1630
h3 tag of accordion header was replaced with div tag.

[2016-07-28 07:32] Rapster commented on #1633
Let's picture this:

[code]

Using editableValueHolder on this every composite will help quickly and easily to retrieve the input from composite A _(using method such as `ComponentUtils.deepestEditableValueHolderTarget()` of PE)_. Doing this, You can write:

[code]

Reason I create #1632 is to make `OutputLabelRenderer` support `editableValueHolder`, in addition of `target = SearchExpressionFacade

[2016-07-28 07:35] tandraschko commented on #1633
i see but PF is not responsible to resolve isRequired internally correctly. Thats up to the JSF impl.
Could you try it with MyFaces?

[2016-07-28 07:37] NoFr1ends commented on #40
What about OpenLayers 3 and keep open for other maps too?

[2016-07-28 07:37] Rapster commented on #1633
Already did, not working either :(

[2016-07-28 07:41] msgeissler opened #1639 "Insufficient ajax support for p:catpcha"
Hi,

I noticed a shortcoming in the provided ajax support for p:captcha.
To allow the use of ajax with p:captcha you use
`RequestContext requestContext = RequestContext.getCurrentInstance();
        if(requestContext.isAjaxRequest()) {
            requestContext.execute("grecaptcha.reset()");
        }`
at the end of the validateValue-Method in org.primefaces.component.captcha.Captcha.

The proble

[2016-07-28 07:43] tandraschko commented on #1633
hmm, then i think it would be the best to create a example (without PF) and ask the guys from the JSF impl.

[2016-07-28 07:56] mertsincan opened #1640 "Add renderDisabledClick attribute to commandButton"
When enabled, click event can be added to disabled button.

[2016-07-28 07:57] #1640 closed, assigned to nobody

[2016-07-28 08:00] kukel commented on #1628
'blows up the jar'... Then please explain why there is compressed components.js AND each individual compressed js file of each component is also there. If you replace the latter with the uncompressed versions, the jar size changes from 3.9 to 4.2 MB... If that is 'blowing up' then shoot me...  (the -1 is me ;-))

p.s. I should have added this to the initial post since I already investigated this..

[2016-07-28 08:08] tandraschko commented on #1628
that may be a bug and should be remove of course :P

[2016-07-28 08:15] tandraschko opened #1641 "remove aggregated source scripts/styles from jar"

[2016-07-28 08:18] #1641 closed, assigned to tandraschko

[2016-07-28 08:18] tandraschko commented on #1628
https://github.com/primefaces/primefaces/issues/1641

[2016-07-28 08:26] kukel commented on #1628
A bug that existed in 5.3, 5.2, 5.1, 5.0 (did not check older versions) and obviously nobody thought the jar was bloated. Why not just replace it... Everybody happy... PF with a new feature etc... Then things like http://showcase.omnifaces.org/resourcehandlers/CombinedResourceHandler become easier... Or http://showcase.omnifaces.org/resourcehandlers/CDNResourceHandler

[2016-07-28 08:26] kukel commented on #1641
:-( And I hope you removed the non-aggregated ones ;-)

[2016-07-28 08:32] tandraschko commented on #1628
it was not my decision - if you would also copy all uncompressed resources to the jar, the jar size would be increased around 1-1,5 MB.

[2016-07-28 10:07] vbrandl opened #1642 "Different date format for the same locale"
When setting the Java locale to Locale.GERMANY

[code]

and the JSF locale to "de"

[code]

some date components still behave differently.
E.g. p:calendar shows dates as `dd.MM.yy` while f:convertDateTime formats to `dd.MM.yyyy`.
Also when showing dates in datatables, and formating the output like this:

[code]

the date gets shown as `dd.MM.yyyy`, but when adding a filter, it is filtering for `dd

[2016-07-28 11:12] kukel commented on #1628
I know it was not your decision... and yes it would grow, but not compared to how it 'was' the last few years... only <400k... Well... I would be so useful if on e.g. stackoverflow I could say: set this parameter in your web.xml set a breakpoint in such and so js file and 'debug'....

[2016-07-28 11:26] tandraschko commented on #1628
why 400k?
its actually around 1500kb

[2016-07-28 13:40] nikospara opened #1643 "Spinner and mousewheel: display updated but change event not triggered"
The `<p:spinner>` control allows several methods to change its value. When using the mouse wheel, the change event is not triggered, unlike when using the up/down buttons, editting the number directly or using the up/down keys from the keyboard.

To replicate the problem:
- Go to the [spinner showcase](http://www.primefaces.org/showcase/ui/input/spinner.xhtml)
- With the "Ajax Spinner" spinner foc

[2016-07-28 16:07] kukel commented on #1628
Compared to the current jar (3.9MB with both the 'compressed components.js' and each compressed individual component .js file (e.g. dialog.js) the increase when the latter are removed and replaced by the uncompressed individual ones, the increase of the zipped jar is around 400k, I tried.

So compared to the jars of the last 2.5 years, it will only grow with this amount. Compared to the one you ar

[2016-07-28 16:19] tandraschko commented on #1628
not sure if i understand you but currently we have jar with compressed and aggregated resources only
i don't compare to the jar we build yesterday, today we the aggregation source files

if we would build the jar now from source, with both compressed+aggregated and uncompressed+aggregated, the jar will grow around 1-1,5mb compared to trunk now

[2016-07-28 17:03] erickdeoliveiraleal commented on #1007
this can be closed, since there is this commit: https://github.com/primefaces/primefaces/commit/8bf78c56742ed023388bed342de54c80c957f5cc

[2016-07-28 20:19] Rapster commented on #1633
I "reproduced" with `h:outputLabel`  by debuging :/

[2016-07-29 07:38] SegfaultSorcerer opened #1644 "Datatable exporter to XLS breaks if header contains Inputtext"
Hi,
i want to use the Datatable Exporter in my application. I have a usual datatable with the globalsearch field  inside the header facet. I use PF 6.0. If i click on the export button the following happens:

ExcelExport.java (Primefaces lib)

[code]

The method getSheetName trys to figure out the title of the datatable by iterating through the header facet components. The method `ComponentUtils.g

[2016-07-29 07:50] mertsincan commented on #1644
I think this issue is fixed for 6.0.1.
Issue: #1552

[2016-07-29 07:53] SegfaultSorcerer commented on #1644
Oh, yes. I searched for an issue like this but did not find this.

Thank you :+1:

[2016-07-29 07:53] #1644 closed, assigned to nobody

[2016-07-29 08:03] tandraschko commented on #1633
So please ping the jsf impl guys.
Will close it for now, please reopen if there is a way that we can fix it.

[2016-07-29 09:53] tandraschko commented on #1632
Done - based on your code in PFE.
Could you please give it a try?
Would be great if you could remove the duplicate method in PFE for the next release then.

[2016-07-29 09:53] #1632 closed, assigned to tandraschko

[2016-07-29 12:38] Rapster commented on #1633
Mojarra ticket: https://java.net/jira/browse/JAVASERVERFACES-4172
MyFaces ticket: https://issues.apache.org/jira/browse/MYFACES-4059

[2016-07-29 13:08] aysegulP commented on #934
I upgreade 5.3. But the result is same. How can you resolve it with 5.3?

[2016-07-29 13:16] rdebusscher commented on #934
You don't have to do anything, just use the new PF dependency.

Any chance that you have a cache of the old code in your browser?

[2016-07-29 13:36] aysegulP commented on #934
Actually my string is "TIRSAN".It is turkish word.
When I search with **lowercase ı** no result. **Lowercase ı** is turkish character.
But it works with **lowercase i**

[2016-07-29 13:43] rdebusscher commented on #934
Best is that you open a new issue for the _special_ characters.

Maybe there is an issue with them?

[2016-07-29 13:49] aysegulP commented on #934
Ok. Thank you for your attention

[2016-07-29 18:38] erickdeoliveiraleal opened #1645 "update jquery ui from 1.11.0 to 1.12.0"
it is 1.11.0: https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/jquery/jquery-plugins.js

changelog https://github.com/jquery/jquery-ui/compare/1.11.0...1.12.0

[2016-07-29 18:47] erickdeoliveiraleal opened #1646 "update moment js from 2.8.4 to 2.14.1"
https://github.com/moment/moment/compare/2.8.4...2.14.1

[2016-07-31 21:31] erickdeoliveiraleal opened #1647 "Update FullCalendar from 2.2.5 to 2.9.1"
https://github.com/fullcalendar/fullcalendar/compare/v2.2.5...v2.9.1

[2016-07-31 21:39] erickdeoliveiraleal opened #1648 "update mousewheel from 3.0.3 to 3.1.13"
https://github.com/jquery/jquery-mousewheel/compare/3.0.3...3.1.13

[2016-07-31 21:47] erickdeoliveiraleal opened #1649 "Update FontAwesome from 4.6.1 to 4.6.3"
https://github.com/FortAwesome/Font-Awesome/compare/v4.6.1...v4.6.3

[2016-07-31 21:54] erickdeoliveiraleal opened #1650 "update webcamjs to 1.0.12"
https://github.com/jhuckaby/webcamjs/compare/v1.0.3...v1.0.12

[2016-07-31 22:00] erickdeoliveiraleal opened #1651 "update touchSwipe to 1.6.18"
https://github.com/mattbryson/TouchSwipe-Jquery-Plugin/compare/1.6.9...1.6.18

[2016-08-01 06:00] Rapter1990 opened #1652 "Connection between category and subcategory"
I devised a sample category with subcategory module in jsf by eclipse. I made an adding category module without any issue but I couldn't make an adding subcategory under related category . How do I solve the issue. Here the code below.

exception

WARNING: #{subCategoryMB.addSubCategory()}: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
javax.faces.FacesException: #{subCategoryMB.addSubCat

[2016-08-01 07:16] mtbadi39 opened #1653 "the latest primefaces themes [1.0.10] not published on Maven Central"
It seems that the version published to [Maven central](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.primefaces.extensions%22%20AND%20a%3A%22all-themes%22) was not the latest.

[2016-08-01 08:25] tandraschko commented on #1653
This was a primefaces-extensions feature (as you can see in the group-id)
as it this feature was migrated to primefaces, it's now in the primefaces repo: http://repository.primefaces.org/org/primefaces/themes/all-themes/

[2016-08-01 08:25] #1653 closed, assigned to tandraschko

[2016-08-01 08:31] #1395 closed, assigned to tandraschko

[2016-08-01 11:35] mtbadi39 commented on #1653
I know

why not in Maven Central ??

[2016-08-01 11:42] tandraschko commented on #1653
don't know, primetek only publish the primefaces artifact to central. Even normal themes are not in central or the maven plugin.

[2016-08-01 12:35] Rapster commented on #1652
Really? #1609 Use http://stackoverflow.com/, you'll find all the help you need

[2016-08-01 13:18] tandraschko commented on #1652
use the forum, it's a question

[2016-08-01 13:18] #1652 closed, assigned to nobody

[2016-08-01 14:21] slovi opened #1654 "Dynamic ui:include + UIData (with rowStatePreserved) rendering problem"
There is a situation where UIData with rowStatePreserved is not rendered. NullPointer exception is thrown in this case.

The example of such situation is:
- we have index.xhtml with ui:include with src attribute as expression

[code]
- we have datagrid coded in iframe2.xhtml

[code]

Then if you click "Frame 2" commandlink you get nullpointer returned in the partial response XML.

The problem is U

[2016-08-01 15:15] kukel commented on #1649
PrimeFaces should stop including FontAwesome like this and just 'depend' on the webjar version.  http://stackoverflow.com/questions/18891768/how-to-use-font-awesome-3-2-1-from-webjars-org-with-jsf#28652968

[2016-08-01 15:17] kukel commented on #1654
PF version affected? Did you try latest Mojarra? (2.2.12 I think)

[2016-08-01 16:05] slovi commented on #1654
Affected versions of primefaces are 5.2, 5.3, 6.0, 6.1 (SNAPSHOT) ...

The incorrect method is org.primefaces.component.api.UIData.saveDescendantInitialComponentStates

Primefaces imlementation is duplicated from the mojarra's api (javax.faces.component.UIData).

The only correct implementation of this method is in myfaces 2.2.10.

(I had a look into the latest mojarra - 2.2.13 - and saw incorrect

[2016-08-02 07:03] OBreidenbach opened #1656 "A filesize attribute at StreamedContent for the FileDownload component would be nice"
A optional filesize attribute at StreamedContent would be nice. With that, the browser can show how long the download will take.
Also a convenient constructor at DefaultStreamedContent taking a byte array and setting the stream and filesize attribute would be nice.
Similar to: org.omnifaces.util.Faces#sendFile((byte[] content, String filename, ...)

[2016-08-02 08:58] tandraschko commented on #1656
Duplicate  #279

[2016-08-02 08:58] #1656 closed, assigned to nobody

[2016-08-02 10:01] arunvc1 opened #1657 "datatable paginator links & rows per page doesn't work inside a span"
RowsPerPageDropdown and paginator links doesn't work inside a span or div tag

`paginatorTemplate="&lt;span style='float:right'&gt; {RowsPerPageDropdown}  &lt;/span&gt; "
`

I was trying to align the paginator links to left and rows per page drop down to right.

PF 6.0

[2016-08-02 10:14] cagataycivici commented on #1626
You need to provide a list of sort meta in multiple mode.

[2016-08-02 10:14] #1626 closed, assigned to nobody

[2016-08-02 12:16] Harwkx opened #1658 "p:panelMenu javascript access broken"
# Issue

I used to implement a custom script to collapse other open `p:panelmenu` entries if anotherone was clicked with primefaces 5.3. Since primefaces 6.0, the code is not getting executed properly. The javascript gets executed and stopped when in `PF('pmenu').headers.each(...)`. A simple `try/catch`resolves to `null` as exception.
## Tested Versions
- working in `primefaces-5.3.jar`
- broken i

[2016-08-02 16:19] tandraschko commented on #1658
You use a internally API which might get changed if you upgrade.
You need to check the sources again. If you need help you can try the forum/stackoverflow.

[2016-08-02 16:19] #1658 closed, assigned to nobody

[2016-08-03 07:10] Harwkx commented on #1658
I'll just reference the forum post from other authors here that are using the same functionality as i do, in case they running into this migration stopper.
http://forum.primefaces.org/viewtopic.php?f=3&t=27483

[2016-08-03 07:50] csaszika opened #1660 "Focus changing between components is slow"
Project's request is that the user can change focus between components (inputTexts, selectOneMenus...etc) with a button (enter) but not with tab.
My solution:
`<p:inputText id="id" value="#{bean.name}"
onkeypress="if (event.keyCode == 13) {
                                         somethingToDo();
                                         return false;}"
                         onfocus="this.selec

[2016-08-03 15:11] jxmai opened #1661 "DraggableRow with Datatable CellEdit Bug - Unable to display the correct data in output mode"
**The output mode always displays the old data after triggering the draggable row feature**

Example code:

**draggableTable.xhtml**

[code]

**EditableTableBean.java**

[code]

**Person.java**

[code]

Let's run the exmaple code:

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/17370398/8c918e38-5961-11e6-852e-f4685e8d6d4b.png)

Before dragging the row, I was able to set the data

[2016-08-03 18:07] Fyotty opened #1662 "Datatable: SummaryRow incorrect in Reflow mode"
Estou utilizando datatable com summaryRow, e está exibindo o headerText da coluna dentro da coluna do summaryRow. Exemplo:

`<p:dataTable id="datalist" value="#{agendaController.items}" var="item"
                                 selectionMode="single" selection="#{agendaController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"

[2016-08-04 06:30] MiguelAngelLV opened #1663 "Datatable lose rowKey when use filter and move next step in wizard"
I have a wizard with dataTables with selection mode.

If I add filter to dataTable and use it, when I back to previous step throw `DataModel must implement org.primefaces.model.SelectableDataModel when selection is enabled`

I use rowKey and it works fine if I don't use the filter. I debug and I saw that rowKey return null when back to previous step.

I use Primefaces 6.0

[2016-08-04 06:32] slovi commented on #1654
FYI, I requested the pull solving this issue https://github.com/primefaces/primefaces/pull/1655.

[2016-08-04 08:34] kukel commented on #1663
Please add an [mcve](http://stackoverflow.com/help/mcve) to your issue

[2016-08-04 08:34] kukel commented on #1662
English please

[2016-08-04 08:35] kukel commented on #1661
compliments for the quality of your post!

[2016-08-04 08:37] kukel commented on #1660
uhhmmmm what you have in there IS javascript. And what does `somethingToDo()` do? 'sleep' for several seconds?

[2016-08-04 08:47] kukel commented on #1657
'does not work' meaning?

[2016-08-04 08:47] tandraschko commented on #1662
Please create a new one with a englisch description

[2016-08-04 08:52] kukel commented on #1654
maybe better to create an issue in Mojarra as well?

[2016-08-04 09:12] anadollu opened #1664 "Can not buy venture theme from primestore at Turkey location"
Hi,

We have tried to buy venture theme on primestore many times. Every time we encountered the same issue by using different credit cards on payment step. Is there any other method to buy it.

Best.

[2016-08-04 09:33] mertsincan opened #1665 "Add scope="col" to headers on Datatable"
Details for creating accessible Tables; http://webaim.org/techniques/tables/data

[2016-08-04 09:35] #1665 closed, assigned to nobody

[2016-08-04 09:38] arunvc1 commented on #1657
click on pagination links stays on the same page, no request is send to server

[2016-08-04 10:58] mertsincan opened #1666 "Improve pagelink text on paginator"
'p' character in pagelink text was replaced with 'F' for first link, 'N' for next link etc.

[2016-08-04 10:59] #1666 closed, assigned to nobody

[2016-08-04 11:01] mertsincan commented on #1664
Please contact us; contact@primetek.com.tr

[2016-08-04 11:22] mertsincan opened #1667 "tabindex issue on Paginator with disabled page links"
Reported By Pro User;

[2016-08-04 11:23] #1667 closed, assigned to nobody

[2016-08-04 12:04] anadollu commented on #1664
I did already, but this email does not work. I am getting error reply message when i send an email. Be sure,  tried with all my email accounts.

[2016-08-04 13:44] mertsincan opened #1668 "Improve accessibility according to WCAG 2.0 on Picklist"
Issues;
- This form control has no programmatically determined name.
- This form has fields without LABEL elements or TITLE attributes.
- Identify row and column headers in data tables using TH elements, and mark layout tables with role='presentation'

[2016-08-04 13:49] #1668 closed, assigned to nobody

[2016-08-04 14:31] xfersys opened #1669 "SelectBooleanCheckbox in editable DataTable doesn't change"
I have a dataTable that is editable (editMode = "cell").
when I try to edit checkbox selection, the data is not actualized after the change was made.

`<p:dataTable id="submodels" var="submodel" value="#{projectMB.submodels}"
             editable="true" editMode="cell" widgetVar="cellSubmodels">
  <p:column headerText="Mapping file">
    <p:cellEditor>
      <f:facet name="output">
        <h:sel

[2016-08-04 14:50] csaszika commented on #1660
So for clarification, somethingToDo => primefaces:remoteCommand, this command change the focus to the next component (for example to an inputText). In javascript I tried the same. Here is the code:
`function focusTo(event, id) {
    if (event.keyCode == 13) {
        document.getElementById(id).focus();
    }
}`
And this focus change takes more time than I use just TAB button. Sorry for insufficie

[2016-08-04 20:26] Rapter1990 opened #1670 "primefaces datatable not refreshing"
I devised a sample process regarding adding category. There is no issue about adding category in the oracle database but. When any category is added, this category can not be shown in the datatable. I always refresh page to show this category. How to solve this problem. Here the sample code is below.

`<h:form>

[code]

[2016-08-05 06:58] tandraschko commented on #1670
Use the forum, there is no auto-sync between UI and DB.

[2016-08-05 06:58] #1670 closed, assigned to nobody

[2016-08-05 07:06] FuturesTr4der opened #1671 "Ajax refresh destroys overlayPanel with dynamic="true" property"
If you open a primefaces overlayPanel (with dynamic="true"), it works as long as you execute a ajax refresh. (PF 6.0)
See the following the example and screenshots:

`<p:panel id="panel">`
`<p:commandLink id="openOverlay" value="Open Overlay" />`
`<p:overlayPanel for="openOverlay" dynamic="true">`
`Content...`
`</p:overlayPanel>`
`<p:spacer width="100" height="10" />`
`<p:commandLink value="Ajax R

[2016-08-05 07:22] kukel commented on #1671
update the content INSIDE the overlayPanel then. And please...please...please... post version info

[2016-08-05 07:22] kukel commented on #1669
please use the forum for questions like this.

[2016-08-05 07:24] #1669 closed, assigned to nobody

[2016-08-05 07:44] FuturesTr4der commented on #1671
Sorry, i added the version info.
What do you mean with the "content update"? It doesn't work also if i update a panel, which is inside the overlayPanel.

[2016-08-05 12:36] mertsincan opened #1674 "Add tabindex to PickList"
To allow customizing the tab order

[2016-08-05 12:37] #1674 closed, assigned to nobody

[2016-08-05 13:29] mertsincan opened #1675 "Improve accessibility according to WCAG 2.0 on DialogFramework"
Issue;
- No TITLE attributes found for the frames on page.

[2016-08-05 13:30] #1675 closed, assigned to nobody

[2016-08-05 14:08] mertsincan opened #1677 "Add role="presentation" to table tag of submenu on MegaMenu"
Improve accessibility according to WCAG 2.0 on MegaMenu;
Issue;
- Identify row and column headers in data tables using TH elements, and mark layout tables with role='presentation'.

[2016-08-05 14:10] #1677 closed, assigned to nobody

[2016-08-05 15:54] yzheng32701 commented on #699
I had the same issue. Did you get it resolved?

[2016-08-05 17:24] jxmai opened #1678 "Datatable Paginator is incompatible with ColToggler - Bug Report"
**The datatable paginator will mess up the layout filtered by the ColToggler for some reason**

Code below:

**table.xhtml**

[code]

**EditableTableBean.java**

[code]

**Person.java**

[code]

**_Steps to Reproduce**_

Step 1: Running the example:

Initial Screenshot:

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/17444610/8a245116-5b06-11e6-8591-e107fad282ce.png)

Step 2: Fil

[2016-08-05 17:55] diegoporfirio commented on #699
Hi, @yzheng32701

Apparently so I googled the Primefaces will not get . And something related to JSF . I'm using it anyway in the system, since that time I am using that. Some time ago I tested in version 6.0 and is still not working.
They did not complain , so I'll leave it for now. If you find the solution do not forget to tell me the solution = )

[2016-08-05 20:34] jxmai commented on #1678
Duplicate issue as  #217, #96 that can be solved by http://blog.primefaces.org/?p=3341

[2016-08-05 20:34] #1678 closed, assigned to nobody

[2016-08-07 18:40] slovi commented on #1654
done https://java.net/jira/browse/JAVASERVERFACES-4174

[2016-08-07 20:13] mertsincan opened #1679 "Improve accessibility according to WCAG 2.0 on MegaMenu"
Issue;
- Headings must be nested correctly. For example, H2 must appear after H1, H3 after H2 etc.

h3 tag in li.ui-widget-header was changed with span tag.

[2016-08-07 20:17] #1679 closed, assigned to nobody

[2016-08-08 08:30] theo92hoo opened #1680 "bootstrap class tab-content and datatable_empty class"
Hi, I face a minor problem between bootstrap tab-content and empty ajax datatable. While i put my empty ajax datatable other than active tab, when i switch among the tab without reload/reset the table, the table empty message is put in colspan=0 td. I have a idea which is detect tab change then reload the datatable, but is there another way which no need to reload the datatable and show empty mess

[2016-08-08 08:33] mauritz-lovgren commented on #911
This bug exists with PrimeFaces 6.x as well.

We have worked around this by using a standard p:inputText instead of the p:calendar input in the situations were we need the week to be displayed in the input field like this:

[code]

primefaces: 6.0.2
mojarra: 2.2.12-jbossorg-2

[2016-08-08 08:55] #1680 closed, assigned to nobody

[2016-08-08 10:09] hichamglia commented on #244
I had no problem with OneMenu but when I migrated from 5.3 to 6.0 all p:selectOneMenu has become longer and my web app is now looking ugly.
Setting autoWidth to false resolve the problem.
I think the default value of autoWidth had to be 'false'

Is there a way to set it false in all my project by changing something somewhere in only one file?
(I have more than 600 p:selectOneMenu in my app)?

[2016-08-08 11:50] xKopax commented on #244
At least the doc doen't mention any automatic way.

So, you can use the "replace feature" of any IDE, you search for <p:sele...> e change it to <p:selec.. autoWidth=false..

or maybe, you could extend the OneMenu renderer class and set the autowidth=false

[2016-08-08 14:27] mertsincan opened #1681 "Datatable with cellEdit throws exception on scrollable and frozenColumns modes"
Reported By PRO User;

test.xhtml

[code]

[2016-08-08 14:30] #1681 closed, assigned to nobody

[2016-08-08 19:13] jbbjunior opened #1682 "Problem in dataexporter header with facet"
I have problems in PDF header when facet use in component dataExporter in datatable

The header appears javax.faces.component.UIPanel instead of appearing "Severity"

This happens only when we have something more than the tag outputText inside facet header

You can fix this in the next version?

[Code]
<p:dataTable id="DataTableId" widgetVar="tableId" rowKey="#{alert.entity}" var="alert" filterMap

[2016-08-09 12:35] tandraschko commented on #1654
JFYI: will wait till mojarra fixes the issue, the likely know it better how to fix "their" code :)

[2016-08-09 13:00] slovi commented on #1654
OK, just suggested the same solution as is done in myfaces ... but of course, it's up to you.

Anyway, thanks for the information.

[2016-08-09 15:12] auricgoldfinger opened #1684 "StackOverflow in JSONObject"
I noticed this while upgrading from PrimeFaces 5.1.13 to PrimeFaces 6.0.2 and using Apaches `FastDateFormatter` which I'm using in my project. It is being used on a dto that uses mostly Strings and Integers in its getters/setters. The dto didn't cause any problem in PrimeFaces 5.1

Given this class

[code]

Which uses this one

[code]

Serializing the `getInstance` method will cause a stack overfl

[2016-08-09 15:20] tandraschko commented on #1684
Please check if it also occurs with the original classes from JSON.org

[2016-08-09 15:45] auricgoldfinger commented on #1684
The original one has the same issue.

Problem is that this happens deep in the PrimeFaces code. I'm using remote commands to modify java beans using JavaScript and ajax calls.

You can find the stacktrace here https://gist.github.com/auricgoldfinger/e00e460d1c38275e524c8bd74d5c10db

One thing that I noticed is this: the previous behaviour was that the methods of the super classes weren't serialise

[2016-08-09 15:51] tandraschko commented on #1684
Ok but then you should create the issue on json.org' side
if they fix it, we can upgrade it later

[2016-08-10 02:27] henriquecoutobsb opened #1685 "inputNumber doesn't work with "," as decimalSeparator and "." as thousandSeparator"
The code:
`<p:inputNumber decimalSeparator="," thousandSeparator="." />`

The JavaScript error:

It seems it successfully sets the thousandSeparator, but skips the decimalSeparator.
The error happens with PrimeFaces 6.0 Community.

[2016-08-10 02:37] henriquecoutobsb commented on #1685
The problem only happens when you have only the thousandSeparator attribute with the "." value.
Even if you don't need decimal places, you must set the decimalSeparator to ",".

[2016-08-10 02:37] #1685 closed, assigned to nobody

[2016-08-10 07:41] LianeK commented on #1236
I have the same problem. Is there any solution or workaround yet?

[2016-08-10 08:06] andrei-ivanov commented on #1453
@mertsincan Would you? Please? :)

[2016-08-10 08:11] mertsincan commented on #1453
Ok, I'll add this fix to 6.0.3.

[2016-08-10 09:09] lcanalesmayo commented on #1631
What version of Primefaces are you using?

I have PF 5.3.15 in my project and I'm not getting NPE. I've tried both with and without "rendered" attribute.

Could you provide your cadastroUsuarioBean.usuario bean's class?

[2016-08-10 09:33] jepsar opened #1686 "Tree: expand event is not triggered with dynamic="true""
`expand` only works without `dynamic="true"`, `collapse` works both with and without `dynamic="true"`.

I'm on PF 6.0.

[2016-08-10 11:37] andrei-ivanov opened #1687 "Provide more details in the error message for unimplemented methods in LazyDataModel"
getRowData and getRowKey need to be implemented in some (documented) cases, but these cases were enforced only sometime later.
As we didn't notice this aspect from the documentation, we still get exceptions in the logs.
With a large code base, it's difficult to find the source so I think it would be nice to get the viewId and component id in the exception message.

[2016-08-10 12:08] tandraschko commented on #1687
Feel free to provide a PR.

[2016-08-11 06:55] auricgoldfinger commented on #1684
I filed [Issue #264](https://github.com/stleary/JSON-java/issues/264) over there but they don't recall a constructor taking the `includeSuperClass` parameter. Indeed, I went through their history and they didn't have such constructors.

Is it possible that the PrimeFaces version was a modified version of the original, which is now overwritten completely by the original?

[2016-08-11 07:35] tandraschko commented on #1684
not sure, sorry

[2016-08-11 12:19] kukel commented on #678
Is this still a problem? I've seen closed issues, but 6.0.2 users mentions this same problem

[2016-08-11 13:06] kukel commented on #1631
And please use the forum first for things like this

[2016-08-11 13:08] #1631 closed, assigned to nobody

[2016-08-12 04:05] jxmai opened #1688 "Primefaces showcase - dialogs - can be dragged out of screen through top / bottom"
http://www.primefaces.org/showcase/ui/overlay/dialog/basic.xhtml and

http://www.primefaces.org/showcase/ui/overlay/dialog/loginDemo.xhtml

The dialog can always be dragged out through the bottom of the screen:

![selection_003](https://cloud.githubusercontent.com/assets/10467831/17612475/d718beec-6017-11e6-94d0-beba2d9ea110.png)

And by some chances, the dialog can be dragged out through the top

[2016-08-12 04:31] jxmai commented on #1661
@kukel :+1:

[2016-08-12 09:37] christophih opened #1689 "Improve component accessibility - aria-invalid"
To improve the accessibility of input components you shoul add the attribute "aria-invalid" to the components, which should be set when the component is invalid (e.g. failed validation).

https://www.w3.org/WAI/GL/wiki/Using_Aria-Invalid_to_Indicate_An_Error_Field

It is necessary to make forms with validation accessible!

Thanks!

[2016-08-12 09:45] jepsar opened #1690 "widgetVar does not work for steps component"
I'm on PF 6.0.

When I use `widgetVar="stepsVar"` on the `steps` component, the widget is unknown (JavaScript console):

[code]

[2016-08-12 09:46] jepsar opened #1691 "Binding the steps component with the ID attribute set, in ui:define, causes duplicate IDs"
I'm on PF 6.0.

[2016-08-12 10:10] christophih opened #1692 "Improve component accessibility - set aria-sort on dataTable correctly"
According to  https://www.w3.org/TR/wai-aria/states_and_properties#aria-sort "...authors SHOULD apply aria-sort to only one header at a time...".

So the current implementation isn't correct, it renders "other" to all non-sorted columns.

Thanks!

[2016-08-12 14:51] maol74 opened #1693 "Primefaces showcase not running on latest PF version and latest Mojarra version"
http://www.primefaces.org/showcase is "still" running on PrimeFaces-6.0.RC4 on Mojarra-2.2.8, is there any reason for that?

Should be nice to see the latest greatest version of Primefaces?

Also would be nice to have it running on latest mojarra 2.2.x version, i.e Mojarra 2.2.13. Are there any reason it´s still running on Mojarra 2.2.8?

[2016-08-12 16:05] jxmai commented on #1688
In addition, when the dialog has been dragged out of the top boundary. You will see some unexpected behaviours when you try to resize the dialog.

[2016-08-12 16:16] jxmai commented on #1688
The same issue exists on mobile devices, modal or not does not matter.

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/17629159/a27a7380-607e-11e6-9262-29e69b1b551a.png)

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/17629119/6e348408-607e-11e6-8ddb-2063a9d2e29c.png)

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/17629084/39e1bc5c-607e-11e6-8

[2016-08-12 17:00] fkjaekel commented on #678
I didn't tested push with 6.0 yet. Currently I'm using 5.3.15, and after adding `<load-on-startup>1</load-on-startup>` to the PushServlet declaration I didn't have this issue anymore.

[2016-08-12 17:32] ginknee opened #1694 "Menubar and MenuButton Not Being Read by JAWS Reader - Section 508"
The menubar component is keyboard navigable until you turn on JAWS (using version 17).  But this and the menubutton are not articulated nor navigable by JAWS. I am using Primefaces 6.0. Can you please help with this?

[2016-08-13 14:59] tandraschko commented on #1690
Thats because there is currently no javascript for steps required.

[2016-08-13 14:59] #1690 closed, assigned to nobody

[2016-08-13 15:00] tandraschko commented on #1691
please provide a full working example or it will be closed as invalid.

[2016-08-13 15:01] tandraschko commented on #1684
will close it for now, feel free to create a issue again if the JSON team fixed something for you.

[2016-08-13 15:01] #1684 closed, assigned to nobody

[2016-08-13 15:03] tandraschko commented on #1660
use the forum for such things please (and provide a full example there).

[2016-08-13 15:03] #1660 closed, assigned to nobody

[2016-08-13 15:31] djmj opened #1695 "Delta Theme TabView CSS broken"
Go to ShowCase and select TabView and delta Theme.

http://www.primefaces.org/showcase/ui/panel/tabView.xhtml

You can see the content of tab is not displayed as block. I could not find the difference to other themes but i was able to fix it with a quick hack:

[code]

[2016-08-13 16:04] tandraschko commented on #1695
Please try a trunk build, we fixed some things regarding tabview.
Otherwise, i can't see anything wrong with your description ;)

[2016-08-14 08:27] SavchenkoVV commented on #1515
Any news?

[2016-08-14 11:49] jepsar commented on #1690
In that case, why is the `widgetVar` attribute offered? It's misleading to say the least.

[2016-08-14 12:24] jepsar commented on #1691
It must be a combination of different components.. Let me figure out what is causing this.

[2016-08-14 23:17] alexsoyes opened #1696 "Ajax keyup event not always fired"
I just found that on **PrimeFaces 6.0**, `p:ajax event="keyup"` is not always fired.

Here's a sample for testing.

[code]

Works perfectly on **PrimeFaces 5.3**. The listener contains just a simple log writer.

`System.out.println("Keyup event invoked : " + getCurrentTestValue());`
## Reproduce the bug
1. On the input, type your text, whatever it is.
2. Go in the input, type `CTRL+A` to get whole

[2016-08-15 08:44] Hummelbeine opened #1697 "disabledTextSelection feature for TreeTable"
Hi there,

could you add the disabledTextSelection feature to the TreeTable, too?

Thanks,
Stephan

[2016-08-15 10:03] tandraschko commented on #1693
there is no reason for the mojarra version, we could also run on MyFaces 2.2.x. It just doesn't matter.

the showcase actually runs in 6.0.1 if you check the resources, not sure why the version in the footer is not up to date.
We will update it for the next release.

[2016-08-15 10:03] #1693 closed, assigned to nobody

[2016-08-15 10:37] tandraschko opened #1698 "DataTable FilterFeature doesn't work correctly with empty arrays"
see: https://github.com/primefaces/primefaces/pull/1672

[2016-08-15 10:38] #1698 closed, assigned to tandraschko

[2016-08-15 10:57] #1585 closed, assigned to tandraschko

[2016-08-15 10:58] PlassJ commented on #1688
Confirmed!

[2016-08-15 11:04] #279 closed, assigned to tandraschko

[2016-08-15 11:04] tandraschko commented on #279
Applied, thanks for your PR!

[2016-08-15 11:10] #1230 closed, assigned to tandraschko

[2016-08-16 06:57] schlebe opened #1699 "FilterBy attribute of <p:columns> crashs when valueExpression is not an indexed value"
The following HTML <p:columns> code crashs

[code]

because the valueExpression of filterBy attribute doen't contain an indexed value (= value with [ and ] characters) !

This is working very well on Primefaces 5.3 and has stopped to work since I use Primefaces 6.0 !

I have already posted a PullRequest on this issue.

The problem is that the function
`public String resolveDynamicField(ValueExpres

[2016-08-16 08:42] tandraschko commented on #1699
Thats what i thought, it's a different example now :P

[2016-08-16 11:03] tandraschko commented on #1699
should work now ;)

[2016-08-16 11:03] #1699 closed, assigned to tandraschko

[2016-08-16 11:14] tandraschko commented on #80
Thanks sudheer, please also create a issue for the documentation

[2016-08-16 11:14] #80 closed, assigned to tandraschko

[2016-08-16 12:25] samygizaw opened #1700 "migration problem from primeFaces 5.0/5.1 to 5.3"
I am developing an app using JSF 2.2 with primeFaces 5.0. While am at it, I wanted to migrate to primeFaces 5.3 from the current PrimeFaces 5.0 because I wanted to use the capabilities  of steps component and other new stuffs available . But when I replace the primeFaces 5.0 jar file with primeFaces 5.3 the app will not run showing the following error in log file. Can anybody tell me what could ac

[2016-08-16 12:30] tandraschko commented on #1700
use the forum for questions please
AFAIR we already discussed it

[2016-08-16 12:30] #1700 closed, assigned to nobody

[2016-08-16 12:53] jepsar commented on #1691
Basically it comes down to the following conditions:
- Steps must be bound
- Steps must have an id attribute set
- Steps must be in a Facelet (in ui:define)

If you eliminate one of those conditions, steps will be rendered, else a duplicate ID is generated:

[code]

I'm using Payara 4.1.1.162 (Mojarra 2.2.13).

XHTML:

[code]

Template:

[code]

Just to be sure, I've replaced `o:form` with `h:form

[2016-08-16 13:17] samygizaw commented on #1700
Oops sorry!

[2016-08-16 13:28] murilosamuel commented on #1346
I have the same problem, tree doesn't work in a dialog.

[2016-08-17 06:27] anm12 commented on #1689
I tried this with JAWS - at the moment there is no information if the input is valid or not. A failed validation cannot be found in the form, so "aria-invalid" should be added to the invalid fields.

[2016-08-17 08:01] tandraschko commented on #1664
please use the forum or email; this is the issue tracker

[2016-08-17 08:01] #1664 closed, assigned to nobody

[2016-08-17 09:52] kmistry361 commented on #300
just put this code below to a default constructor

`public ChatView() {eventBus = EventBusFactory.getDefault().eventBus(); }`

It will work for any version

[2016-08-18 08:04] Rapster commented on #1633
Answer has been provided by Myfaces team. It seems a Primefaces issue actually. @tandraschko could you reopen it please?

[2016-08-18 08:23] tandraschko commented on #1633
Not sure if we will fix this, Leo says that we must do a invokeOnComponent every time. This could be related to every component reference in PF. And therefore we must look at performance.

Does it work just with #1632? (for=composite instead for=composite:input)

[2016-08-18 08:31] tandraschko commented on #1633
As Leo says:

From spec perspective there is nothing to do. First of all, JSF 2
composite component aims to encapsulate everything inside a composite
component, so the call is invalid from the beginning, because it is
assumed something from inside the composite content.

For me it means that we won't reopen this ticket but we should try to get the required functionality working withing #1632

[2016-08-18 08:40] fer-marino opened #1705 "LazyDataModel filtering on DataTable too slow with PF6"
Dear PF team,
I have a datatable with a lazydatamodel that supports filtering and sorting. Everything was running fine with PF 5.3, but when I've updated to 6.0 now every time I want to apply filters it take ages only to reach the load method of the lazydatamodel. My table has 9 columns and only one is filterable.

I'm running it on wildfly 9, but the issue is present also with wildfly 8.2

The ta

[2016-08-18 08:44] Rapster commented on #1633
I guess the problem will be the same with #1632 since in both cases, we're trying to evaluate el expression from `outputLabel`` and not from the composite itself. Let me try something, if it works, I will show you the fix, and you'll let me know what you think

[2016-08-18 08:44] tandraschko commented on #1705
Please provide a simple maven/jetty sample application, otherwise we can never replicate your problem.

[2016-08-18 08:45] tandraschko commented on #1633
Yep, but in #1632 we know that we have a composite available. So we could use invokeOnComponent only in this special case.

[2016-08-18 12:56] madhu-singh opened #1707 "Problem in rendering of tabView"
Till now i was using primefaces 5.0 and tabView was working fine.
![screenshot from 2016-08-18 18 20 02](https://cloud.githubusercontent.com/assets/13217607/17774377/fb810b0a-6570-11e6-937f-73fb9cfb780c.png)

but after upgrading to 6.0 problem is there in tabview rendering. Data is comming after tabs..
![screenshot from 2016-08-18 18 26 01](https://cloud.githubusercontent.com/assets/13217607/17774

[2016-08-18 13:13] tandraschko commented on #1707
Already fixed in trunk

[2016-08-18 13:13] #1707 closed, assigned to nobody

[2016-08-18 13:50] jbbjunior opened #1708 "Problem in dataexporter header with facet"
I have problem when exporting a datatable in pdf using ExportData component

If we add any tag or character inside the
`<f: facet name = "header"> beyond <h: outputText value = "Severity" />`

the title of the column in pdf is the wrong name.

Below is the example of the code problem, note that add to <br/> tag, it generates PDF with the title of the wrong column

[code]

Datatable
![datatablealar

[2016-08-19 03:27] adiabvs opened #1709 "Max date for calendar is not able to set from backing bean"
Hi,
Max date for calendar is not able to set from backing bean but we can set for Min Date.

[2016-08-19 08:01] michalrakus commented on #244
I had also problem with OneMenu by migration from 5.3 to 6.0 - the OneMenu-s became longer. I solved this by change the PF code - file forms.js (I added subtraction "-16"):

[code]

I think this OneMenu size change should be marked also in migration guide.

[2016-08-19 20:56] jxmai opened #1710 "Adamantium - no highlight on error field"
[code]

After clicking the button, there is no red bar under the dropdown menu.

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/17823960/c54bdfa6-6624-11e6-9710-aa91cadc1d51.png)

Using other theme:

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/17823995/eef01a84-6624-11e6-8987-21d0b5ca1f8b.png)

Ada theme v2.1
Primefaces v5.3.15

[2016-08-20 17:33] sanjayitdesires opened #1711 "Send data to managed bean when p:picklist onTransfer done"
I am using primefaces 6.0.3. Here is what I need to do,

I am using p:picklist, when I perform transferring item from source to target, an ajax transfer event will be fired and perform some tasks on managed bean. Let say I have a list of users in picklist source when I transfer a single entry into target then it will show complete details of that particular user below the picklist with a inputText

[2016-08-20 20:08] djmj opened #1712 "Calendar sets date on open with pattern"
Using a popup calendar without a pattern only _writes_ into the textbox when date is really selected.

When a pattern is provided, it sets the date when you click first time into the textbox just to open it. It should only set it on user selecting a date from the calendar.

**Observations:**

Clearing the textfield by hand, then clicking again into it does not sets the date! So its only on first c

[2016-08-20 21:43] commandercool commented on #1708
I have looked into this issue and it turned out that in jbbjunior's case facet component is actually of type `UIPanel` when it comes in `org.primefaces.component.export.Exporter` `exportValue` method.

And as it has no case where `component instanceof UIPanel`, we get facet's value from else clause as:

[code]

One way to fix it is to add the above case to handle `UIPanel` components:

[code]

But

[2016-08-21 00:32] tandraschko commented on #1711
Questions -> Forum ;)

[2016-08-21 00:32] #1711 closed, assigned to nobody

[2016-08-21 00:33] tandraschko commented on #1712
Does the same occur with plain jquery?

[2016-08-21 00:35] tandraschko commented on #1710
Please use the layouts project, not the PF core.

[2016-08-21 00:35] #1710 closed, assigned to nobody

[2016-08-21 09:18] tandraschko commented on #1709
Provide a full working example and maybe a forum post please.

[2016-08-21 09:20] tandraschko commented on #1695
will close it for now

[2016-08-21 09:20] #1695 closed, assigned to nobody

[2016-08-21 09:21] tandraschko commented on #1682
Duplicate: #1708

[2016-08-21 09:21] #1682 closed, assigned to nobody

[2016-08-21 09:22] tandraschko commented on #1708
@sudheerj does something similar work in the extensions exporter?

[2016-08-21 09:23] tandraschko commented on #1696
Feel free to fix the issue and provide a PR

[2016-08-21 09:26] tandraschko commented on #1649
we could probably add the dependency and include automatically the css from the original jar if our PF context param is set.
We will talk with cagatay about that.

[2016-08-21 09:28] tandraschko commented on #1642
Feel free to analyze the problem and provide possible solutions here.

[2016-08-21 09:29] tandraschko commented on #1639
Feel free to provide a PR which a good description.
The class (Captcha) is automatically generated, check "CaptchaTemplate.java"

[2016-08-21 09:30] tandraschko commented on #1627
Please provide a PR

[2016-08-21 09:40] #1603 closed, assigned to tandraschko

[2016-08-21 09:43] tandraschko commented on #1558
Feel free to fix the issue and provide a PR

[2016-08-21 09:44] tandraschko commented on #1553
Feel free to provide a PR

[2016-08-21 10:57] tandraschko commented on #1326
Feel free to provide a PR

[2016-08-21 10:58] tandraschko commented on #1312
Coudln't we just use java's URLEncoder for the filename?

[2016-08-21 13:43] jabrware opened #1713 "p:selectOneMenu doesn't support "rendered" property with f:selectItem [5.2]"
`<p:selectOneMenu value="#{bean.value}">
                <f:selectItem itemLabel="Hello"
                      rendered="false"/>
<f:selectItem itemLabel="Hello 2"
                      rendered="true"/>
</p:selectOneMenu>`

occurs with primefaces 5.2

[2016-08-21 19:34] tandraschko commented on #1713
1) issues against 5.2 are invalid
2) f:selectItem doesn't have a rendered property, you should use a better IDE. -> http://www.jsftoolbox.com/documentation/help/12-TagReference/core/f_selectItem.html

[2016-08-21 19:34] #1713 closed, assigned to nobody

[2016-08-22 06:19] OBreidenbach commented on #1627
PR: https://github.com/primefaces/primefaces/pull/1714

[2016-08-22 07:13] tandraschko commented on #1627
Applied, thanks

[2016-08-22 07:13] #1627 closed, assigned to tandraschko

[2016-08-22 09:16] arunvc1 commented on #894
Something like showRowEditor() would be a nice feature to have

or you can use

 oncomplete="jQuery('.ui-datatable-data tr').last().find('span.ui-icon-pencil').each(function(){jQuery(this).click()});

http://stackoverflow.com/questions/13821750/trigger-activate-the-roweditor-from-bean-for-a-primefaces-in-cell-editing-enable

[2016-08-22 13:28] Prismapanda commented on #349
Hi there,

we experienced this behaviour even if a cell is not editable at all (no p:cellEditor present, v6.0.3). Would be nice to hear of a fix.

[2016-08-22 13:40] FuturesTr4der commented on #1671
Any news about the defect of the overlayPanel?

[2016-08-22 13:41] tandraschko commented on #1671
No but feel free to fix the problem and provide a PR!

[2016-08-22 17:57] jxmai opened #1715 "DataTable - Filtering doesn't rerender Paginator; therefore the Paginator disappears sometimes with paginatorAlwaysVisible=false"
**filterTable.xhtml**

[code]

**TableBean.java**

[code]

**Person.java**

[code]

Initial Screenshot:

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/17865226/21fb298e-6867-11e6-83c8-226cfb6fab55.png)

Step 1: Filter out some records:

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/17865259/53dffdee-6867-11e6-8871-d5cad6fb5399.png)

Step 2: Click reload button

[2016-08-22 20:33] jxmai commented on #1715
I also provided a sample using **maven / jetty** based on showcase's code base

[Issue_#1715.zip](https://github.com/primefaces/primefaces/files/431081/Issue_.1715.zip)

Run from terminal:

[code]

[code]

or

[code]

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/17870591/c8ade3fa-687d-11e6-8475-7f510eb04e22.png)

[2016-08-22 21:01] jxmai commented on #1661
I also created a sample using **maven / jetty** based on showcase's code base.

[Issue_#1661.zip](https://github.com/primefaces/primefaces/files/431135/Issue_.1661.zip)

Run from terminal:

[code]

[code]

or

[code]

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/17871538/9ccf6714-6881-11e6-80ae-a4d852beea45.png)

[2016-08-22 22:09] jxmai commented on #1548
Hi, this is not a bug from Primefaces. I also raised a similar issue (Issue #1678), but it was a duplicate issue that already has a known solution using **Stateful Column Toggler**.

The original issue: https://github.com/primefaces/primefaces/issues/96

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/17873356/c7e837f6-688a-11e6-86c8-9e648f6a0aee.png)

The blog post: http://blog.p

[2016-08-22 22:22] jxmai commented on #1710
Alright, Issue has been redirected to the layouts project: https://github.com/primefaces/layouts/issues/108

[2016-08-23 06:47] DanielPischniok opened #1716 "Schedule: introduce double click event for dateSelect"
Probably it could be a new feature.
It would be excellent if the `<p:schedule...>` would support "rowDblselect" or e.g. like "dateDblselect". It would increase the user experience.

[2016-08-23 09:42] SamanDev opened #1717 "why rendered label for filter on column"
my project on primefaces 5.2 was working good but when upgrade to primefaces 6.03 in my datatable
header column has been problem and why rendered label for filter on column?

<label id="transForm:requestDL:j_idt647:filter_label" for="transForm:requestDL:j_idt647:filter" class="ui-helper-hidden">Filter by From</label>

[2016-08-23 10:02] tandraschko commented on #1717
no example, no detailed description, it's a question -> please use the forum

[2016-08-23 10:02] #1717 closed, assigned to nobody

[2016-08-23 10:03] tandraschko commented on #1716
Feel free to provide a PR

[2016-08-23 14:52] GithubJohn3031 commented on #1312
URLEncoder doesnt encode all characters for file download correctly. For example spaces are not encoded correctly.

Please see the complete solution in OF, Utils.encodeURI(): https://github.com/omnifaces/omnifaces/commit/bba09d3915576d58101cc3bb7cc9d4c35b1652f9

Comment to Utils.encodeURI();

[2016-08-24 07:35] GithubJohn3031 commented on #1603
This solution doesn't work correctly if filename contains spaces or some other characters.  Please see: https://github.com/primefaces/primefaces/issues/1312

[2016-08-24 10:06] hoax opened #1718 "p:dialog showEffect-attribute side effect with p:inputSwitch"
When I open a p:dialog for the first time with showEffect-attribute set and then click on the inputSwitch it turns on and straight off again as often as I click on it. After closing and reopening the dialog the inputSwitch works as expected. Using the Firefox (48.0) developer tools I see that after the first try there are are two event listeners for "click" that do toggle the switch.
If I remove t

[2016-08-24 17:57] marcos-simoes commented on #1686
Is not triggered with resizableColumns="true" too

@Primefaces 6.0

[2016-08-25 06:29] arunvc opened #1719 "AutoComplete: enhance usability with tabbing"
When tabbing through Autocomplete with dropdown="true" user has to tab twice to get the focus on the next input.

This issue is visible in http://www.primefaces.org/showcase/ui/input/autoComplete.xhtml
http://forum.primefaces.org/viewtopic.php?f=3&t=15101

[2016-08-25 06:55] mertsincan opened #1720 "Panel doesn't open with ALT+Down arrow keys on SelectOneMenu"
SelectOneMenu component doesn't show behavior of html <select> tag with ALT+Down arrow keys.

[2016-08-25 07:04] #1720 closed, assigned to nobody

[2016-08-25 13:50] andrei-ivanov commented on #39
+1

[2016-08-26 06:43] mertsincan opened #1721 ""Choose" button of advanced Fileupload focuses twice with Tab key on IE"
Exp; http://www.primefaces.org/showcase/ui/file/upload/multiple.xhtml

[2016-08-26 06:46] #1721 closed, assigned to nobody

[2016-08-26 11:21] mustafacataltepe opened #1723 "Inputtextarea bean validation maxlength conflict"
When having a bean validation set with @Size annotation inputTextarea component renders data-p-maxlength equal to the bean side value but renders maxlength with Integer.MAX_VALUE in InputTextareaRenderer so bean validation becomes void since its overriden with maxlength.

[2016-08-26 14:04] spio opened #1724 "Tab key in p:editor working different for Chrome and Firefox/IE/Opera"
In the p:editor component, the tab key has a different behaviour in Chrome compared to other browsers. While in Firefox, IE and Opera the tab key produces the input to be transferred to the next ui component (blur), in Chrome sometimes it puts a tab-space in the text or even do nothing (depending on Chrome's version).
I think that the correct behaviour is to transfer control to the next ui compone

[2016-08-26 20:55] Rapster commented on #1719
Does not seem a bug to me, dropdown button gets focus. Type "Enter" will expand it

[2016-08-27 05:01] NaveenGoyal95 commented on #10
Please add this feature

[2016-08-29 00:31] jrcampins opened #1725 "Dialog Framework: openDialog not working properly within nested dialogs"
I’m using PrimeFaces 6.0 and I’ve found a problem using nested dialogs. **RequestContext.openDialog** is not working properly. It doesn’t throw any exception, but it doesn’t open the dialog.

I built 5 pages (P1 to P5) based on the same Full Page Layout. Each page contains a **p:dataTable**. The **p:dataTable** has a **p:column** with a **p:commandButton** to open the next page in a new (nested) d

[2016-08-29 00:52] jrcampins opened #1726 "breadcrumb throws a NumberFormatException when its items have a command but not an id."
I found the problem when I started setting the menu item’s **command** instead of its **URL** or **outcome** (it never happened when all the items had either URL or outcome).

I followed the code execution using the debugger and I realized that it was trying to get the item position within the breadcrumb converting its **id** to integer. So, to work around the problem I simply had to add the follo

[2016-08-29 04:07] arunvc commented on #1719
Its a usability problem...
try to place 4 to 5 autocomplete in a page with dropdown="true"
using tab to navigate is annoying for user, cause they have to tab twice.

better usability approach on tab change
1. if auto complete has some value the focus should go to the next input control,
2. if auto complete has no value then focus to the drop down button.

Any way thank you.

[2016-08-29 08:01] cnsgithub opened #1727 "Dock: allow css styling via styleClass or passthrough attributes"
The <p:dock> component doesn't have styleClass, and neither does pt:class work for it. This is required to modify it's appearance individually

[2016-08-29 08:50] #1639 closed, assigned to tandraschko

[2016-08-29 08:53] tandraschko commented on #1726
Please test first before you open a issue ;)
Feel free to reopen then.

[2016-08-29 08:53] #1726 closed, assigned to nobody

[2016-08-29 08:54] tandraschko commented on #1727
Feel free to provide a PR

[2016-08-29 08:54] tandraschko commented on #1723
Please provide a example. I also don't understand whats wrong exactly.

[2016-08-29 08:58] tandraschko commented on #1705
Please reopen if you can provide a sample application, will close it for now.

[2016-08-29 08:58] #1705 closed, assigned to nobody

[2016-08-29 09:01] tandraschko commented on #1671
It's really better to update the content for dynamic overlays.
Update the content means that:

<p:panel id="panel">
<p:commandLink id="openOverlay" value="Open Overlay" />
<p:overlayPanel for="openOverlay" dynamic="true">
    <p:panel id="openOverlayContent">
Content...
    </p:panel>
</p:overlayPanel>
<p:spacer width="100" height="10" />
<p:commandLink value="Ajax Refresh" update="openOverlayCont

[2016-08-29 09:01] cnsgithub commented on #1727
Maybe do it like here

https://github.com/primefaces/primefaces/commit/977a2965619a874368e31a660f4603d80550b3b6

[2016-08-29 09:01] #1671 closed, assigned to nobody

[2016-08-29 09:15] tandraschko commented on #1727
Yup, why not. Try it and provide a PR.

[2016-08-29 09:47] cnsgithub opened #1728 "Dock: animation does not work when page can be scrolled"
This might be a duplicate of this ( https://github.com/primefaces/primefaces/issues/226 ) but since it hasnt been fixed for over a year ill try to make a better explanation of it so you can understand what's going wrong

You can reproduce the issue in the Showcase:

http://www.primefaces.org/showcase/ui/menu/dock.xhtml

Now Use the Chrome inspector and set the <html tag's height to 2000px.

Now wh

[2016-08-29 15:05] jrcampins commented on #1726
This morning I tested it using PrimeFaces 6.0. The problem remains. I'll re-open the issue.

[2016-08-29 15:11] jrcampins opened #1729 "breadcrumb throws a NumberFormatException when its items have a command but not an id."
I'm using PrimeFaces 6.0 now. I found the problem when I started setting the menu item’s **command** instead of its **URL** or **outcome** (curiously it never happened when all the items had either URL or outcome).

I followed the code execution using the debugger and I realized that it is trying to get the item position within the breadcrumb converting its **id** to integer (at org.primefaces.com

[2016-08-29 15:11] tandraschko commented on #1726
Don't forget the easy-as-possible example, otherwise "invalid" ;)

[2016-08-29 15:13] dkreye opened #1730 "dataTable within fragment not rendered correctly after paging"
If a p:dataTable (with paginator and AJAX page listener) is placed within a p:fragment (with autoUpdate), the dataTable is not rendered correctly after paging.

The initial rendering of the table is correct. But after switching to a different table page, the table is rendered wrong (all TABLE, THEAD, TR, TD, ... tags are missing, only the unformatted content of the table cells is visible).

Precon

[2016-08-29 15:27] jrcampins commented on #1726
This time I included the stack trace. There you can see the item's id is been used to determine the item's index within the menu (in this case the breadcrumb's menu model). The strange part is that the problem doesn't happen if you set the item's URL or outcome. It only fails if I set command instead. The good part is that it fails consistently. So I guess you won't need an example and you should

[2016-08-29 15:32] tandraschko commented on #1726
a stacktrace is not enough, i need a exmaple

[2016-08-29 15:44] jrcampins commented on #1726
Dear Thomas, I am trying to help you improve PrimeFaces by reporting the problems I find and describing them the best way I can. In this particular case I also found a work around, so when I post the issue I am only thinking about the rest of the community. I don't know what kind of example you are asking for. My description of the problem is precise so I think you don't really need one. It is up

[2016-08-29 15:49] dkreye opened #1731 "Width of dataTable columns not automatically adapted to content width anymore"
In Primefaces version 5.3.x the width of dataTable columns has been automatically adapted to the width of its content, i.e. columns with wider content have got a larger width.
Unfortunately, in version 6.0.x all table columns get the same width. As a consequence, cell content suffers from additional line breaks or is even truncated.

See attached screenshots for an example:
- Version 5.3.x:
  ![da

[2016-08-29 15:52] tandraschko commented on #1726
I just need a sample xhtml + bean, otherwise i must spend (many, maybe not in this case) time to generate a working example, to analyze the problem and fix it.
As i help here in my freetime (!), i would like to get an easy as possible example to generate an fast as possible bugfix ;)

[2016-08-29 16:28] jrcampins commented on #1726
Ok. Got it. I'll be sending you such an example shortly. 

Sent from Samsung Mobile.

<div>-------- Original message --------</div><div>From: Thomas Andraschko notifications@github.com </div><div>Date:29/08/2016  11:52 AM  (GMT-04:00) </div><div>To: primefaces/primefaces primefaces@noreply.github.com </div><div>Cc: Jorge Campins jrcampins@gmail.com, Author author@noreply.github.com </div><div>Subj

[2016-08-29 17:24] jrcampins commented on #1729
The breadcrumb component is part of a layout:

[code]

These are the controller declaration and the model property getter (requestBean.paginaActual.modeloMigasPan):

[code]

This is how items are added to the breadcrumb (if you comment **item.setId(elements.size() + "");** you should get the exception):

[code]

And this is the controller code:

[code]

[2016-08-29 17:27] jrcampins commented on #1726
Thomas, I added the example to the open issue #1729

[2016-08-29 17:41] jrcampins commented on #1729
I forgot to mention an important point. **You'll get the exception clicking a link corresponding to an item without id** (not when the item is added to the breadcrumb)

[2016-08-29 17:50] jrcampins commented on #1729
Another point that might be worth mentioning: if you omit **item.setId("0");** when adding the first item to the breadcrumb nothing wrong happens. Following the code with the debugger you will see that such item's id is initialized anyway (to "0"). Such internal initialization doesn't take place for the rest of items.

[2016-08-30 04:35] cahendi commented on #1543
How if I do an update on treetable context menu . when I tried to do it , the context menu doesn't show. different if I did update the context menu in the tree , it was a success .
i try it on primefaces 6.

thank before...

[2016-08-30 04:48] cahendi opened #1732 "Bug in treetable primefaces 6.0"
I have a project using primefaces 6. I found a bug in treetable . I try to do an update on the context menu , but the context menu automatically closed before I take action . when I tried to tree , it worked. but not with treetable .

thank's

[2016-08-30 07:40] tandraschko commented on #1732
Works fine for me in trunk (NOTE: i reverted locally the jquery update, we just updated it for testing in trunk)
Be sure that you place the contextMenu after the TreeTable. This is also available in the migration guide: https://github.com/primefaces/primefaces/wiki/Migration-Guide

[2016-08-30 07:40] #1732 closed, assigned to nobody

[2016-08-30 07:51] cahendi commented on #1732
I put contextmenu after treetable . but failed to treetable . whereas when I did the same thing in the tree .it's work.

[2016-08-31 08:18] mertsincan opened #1733 "TieredMenu Overlay disappears on Mouse Down without Mouse Up"
Reported by PRO User;

[2016-08-31 08:20] #1733 closed, assigned to nobody

[2016-08-31 08:24] mustafacataltepe commented on #1723
When you have field such as:

@Size(max=20)
private String areaStr;

in your bean definition, and set this value with a inputTextarea component as:

p:inputTextarea value="#{myController.areaStr}"

@Size annotation discarded and maxlength of the inputTextarea is set to be Integer.MAX_VALUE instead of the defined value which 20 in this example. When i check the generated html of the component, attr

[2016-09-01 10:24] mertsincan opened #1734 "Keyboard accessibility for icons of RowEditor"

[2016-09-01 10:28] #1734 closed, assigned to nobody

[2016-09-01 11:16] juger89 opened #1735 "InputTextarea throws js error without selectOneMenu in the page"
InputTextarea fails, because the following js error: "Uncaught ReferenceError: PrimeFaces is not defined". Auto resize is not working. Tested in version 6.0.

Solution:
If I put a selectOneMenu also into the page, the problem does not exist anymore.

[code]

[2016-09-01 12:56] douglasjunior opened #1736 "p:chart zoom with date/time axis shows nothing"
I have problem to set the zoom on a chart with "date time" axis. I made a simulation comparing the chart of Primefaces with native jqplot. With [tag:jqplot] native works fine, but with [tag:primefaces] not.

It seems to me an bug in the calculation of the viewport.

![Gif sample](https://raw.githubusercontent.com/douglasjunior/PrimefacesChartZoomTest/master/demo.gif)

My JSF page:

[code]

My mana

[2016-09-01 20:07] tandraschko opened #1737 "[Documentation] Allow server side interpolation for CSV messages enhancement"
As in: https://github.com/primefaces/primefaces/issues/778

Also note that the performance is better if client side messages are used (the js way)

[2016-09-01 20:10] tandraschko commented on #1735
works fine if i try your example via a new page in the showcase.
May be already fixed.

[2016-09-01 20:10] #1735 closed, assigned to nobody

[2016-09-01 20:20] tandraschko commented on #1723
do you mean with primefaces.TRANSFORM_METADATA?
works fine for me on /showcase/ui/csv/bean.xhtml and enabled primefaces.TRANSFORM_METADATA.

[2016-09-01 21:01] tandraschko commented on #1654
JFYI: The mojarra team asked for a example

[2016-09-01 21:15] alexeev commented on #1551
Any news on this one?

[2016-09-02 09:56] Nikoas83 commented on #1390
It seems its the same issue explained in this post : http://forum.primefaces.org/viewtopic.php?f=3&t=44524.

[2016-09-02 11:18] mustafacataltepe commented on #1723
it works for inputText but not fot inputTextarea in my case there is only inputText example on showcase for @Size validation, i am using mojarra 2.2.8-15 and PF 6.0 community release. When i debug InputTextareaRenderer inside encodeScript during widget building inputTextarea.getMaxlength() returns 2147483647 as value. If i convert component to an inputText it is working as intended.

[2016-09-02 11:23] tandraschko commented on #1723
I see, the problem is that InputTextarea has a own special handling of maxlength. We would need to read @Size there.

[2016-09-02 11:29] tandraschko commented on #1723
For now you can just set primefaces.TRANSFORM_METADATA to true.
Will probably close this request as won't fix in the future.

[2016-09-02 12:00] jmorris1501 commented on #1446
hi, i had the same issue as @sourour, updated to 6.0 with maven, no change.

[2016-09-02 13:02] mustafacataltepe commented on #1723
primefaces.TRANSFORM_METADATA is already set to true in web.xml. Should i assume this won't be fixed and i need to implement a workaround?

[2016-09-02 13:07] tandraschko commented on #1723
If you set this to true, please provide a simple jetty/maven app. I can only reproduce it if primefaces.TRANSFORM_METADATA is false, and this is expected.

[2016-09-03 09:56] tandraschko opened #1738 "Spotlight: Add blocked attribute like in PFE"
blocked is similar as the visible attribute on dialog. You can enable/disable it without JS.

[2016-09-03 13:04] csaszika opened #1739 "PickList problem with too many POJOs"
PickList works good with pojo in my project. But if I have too many pojos (in my case Action entities with Id, name, fk_actionType attributes) than picklList fails with this stacktrace:

`java.lang.NullPointerException
    at com.sun.faces.context.PartialViewContextImpl.createPartialResponseWriter(PartialViewContextImpl.java:469) [jsf-impl-2.1.28.redhat-3.jar:2.1.28.redhat-3]
    at com.sun.faces.

[2016-09-03 14:54] tandraschko commented on #1739
If you don't provide a small as possible example, i will close this as invalid.
Also the exception is not from us, it's from the JSF impl.

[2016-09-03 14:58] tandraschko commented on #1379
will close it, not updating the head is no solution as not loaded resources or other bugs will occur.

[2016-09-03 14:58] #1379 closed, assigned to tandraschko

[2016-09-03 14:59] tandraschko opened #1740 "JSF 2.3: Implement resource loading on the client side"
https://java.net/projects/mojarra/sources/git/revision/43e3c3ee16542deb36bf2fb09411b7fe1ed29003

[2016-09-03 18:11] csaszika commented on #1739
The essence of the problem is that pickList has a limit number of pojos(entity), nothing more. If I use few entities there won't be any problem but if I use many entities in a pickList there will be this "exception".
If you are sure that this problem doesn't belong to you than close it.
I made it on other way without pickList. DataTable can handle this 'big' number of pojo now.

[2016-09-04 14:32] tandraschko commented on #1739
We cant replicate such problems if you don't provide a small as possible example or test project.
Tested 5000 pojos in the showcase -> it's working fine.

[2016-09-04 14:32] #1739 closed, assigned to nobody

[2016-09-04 14:57] tandraschko commented on #1715
If i understand correctly:
1) filter with e.g. "1"
2) ajax update the component
3) the DataTableRenderer renders only "Person 1" as the data is still filtered internally - but the entered filter value isn't rendered and the paginator won't be rendered as paginatorAlwaysVisible is false (which is correct as only 1 page is available)
4) widget.filter filters the datatable with empty string and all e

[2016-09-04 15:12] tandraschko commented on #1715
not sure if we can fix it easily, i would use paginatorAlwaysVisible=true in your case. So you also won't have flickering.

[2016-09-04 15:25] tandraschko commented on #841
Might be a MyFaces bug, i don't see a PF class in the stacktrace and i don't get the exception if you copy the facet e.g. in our showcase.

[2016-09-04 15:25] #841 closed, assigned to nobody

[2016-09-04 15:29] tandraschko commented on #916
Feel free to provide a PR here

[2016-09-05 08:02] mauritz-lovgren opened #1741 "p:dataTable scrollWidth using percentage shrinks scroll area to nothing on page resize"
Using scrollWidth with percentage value (e.g. "50%") makes horizontal scroll area shrink when window is resized until the whole scroll area eventually disappears, simple example:

[code]

The employeeClient just needs an arbitrary list of objects to make this example run.

Initial column widths are also very strange here, what does '50%' really translate to? I have tried setting fixed widths for a

[2016-09-05 08:33] itai-m opened #1742 "selectOneMenu inside pickList"
when using p:selectOneMenu inside p:pickList column all the selectOneMenu in the same column get the same id, and because of that the pickList not send the correct data back to the server.

[2016-09-05 08:37] tandraschko commented on #1742
Please provide a example bean + xhtml

[2016-09-05 08:38] mertsincan opened #1743 "Screen Reader support to SelectCheckboxMenu"

[2016-09-05 08:42] #1743 closed, assigned to nobody

[2016-09-05 08:49] tandraschko opened #1744 "Test"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment

⋅⋅\* PrimeFaces Version: 1
⋅⋅\* Application Server/Version:
⋅⋅\* Affected Browsers:1
## 2) Expected Behavior

...
## 3) Actual Behavior

..
## 4) Steps to reproduce

..
## 5) Sample XHTML

..
## 6) Sample Bean

..

[2016-09-05 08:50] #1744 closed, assigned to nobody

[2016-09-06 06:19] mustafacataltepe commented on #1723
Attached jetty/mvn app

[textarea test.zip](https://github.com/primefaces/primefaces/files/456030/textarea.test.zip)

[2016-09-06 07:29] tandraschko commented on #1723
Thanks :) fixed now!

[2016-09-06 07:29] #1723 closed, assigned to tandraschko

[2016-09-06 08:11] #1697 closed, assigned to nobody

[2016-09-06 09:36] #1692 closed, assigned to nobody

[2016-09-06 11:21] #1649 closed, assigned to tandraschko

[2016-09-06 11:22] mertsincan commented on #1649
For now, I updated it from 4.6.1 to 4.6.3

[2016-09-06 11:49] #1650 closed, assigned to nobody

[2016-09-06 11:57] #1615 closed, assigned to nobody

[2016-09-06 12:21] b0rengar commented on #899
Same Problem here. Thanks a lot for your work-arounds! An official fix would be nice!

[2016-09-06 12:25] #1590 closed, assigned to nobody

[2016-09-06 12:30] #1548 closed, assigned to nobody

[2016-09-06 12:59] lagar84 opened #1745 "Tab navigation between editable cells in dataTable issue"
## 1) Environment
- PrimeFaces version: 5.3.16 (elite)
- Does it work on the newest PrimeFaces version? No
- Application server + version: Tomcat 8.0.23
- Affected browsers: All
## 2) Expected behavior

Tab navigation skips non editable cells and jump to next editable cell
## 3) Actual behavior

In an editable dataTable, if some columns, last or middle are NOT editable, tab navigation stops workin

[2016-09-06 16:45] andrei-ivanov commented on #1687
Pff, cannot make the PF I've built from master work :-(

[code]

Built with `mvn clean install`.
Tried with -Prelease, but it fails to build with some JS parsing errors.

[2016-09-06 17:14] tandraschko commented on #1687
we currently upgraded jquery.js for testing. Should work fine if you rollback.

[2016-09-06 17:57] #1648 closed, assigned to tandraschko

[2016-09-06 17:57] #1651 closed, assigned to tandraschko

[2016-09-06 18:13] #1646 closed, assigned to tandraschko

[2016-09-06 18:14] #1647 closed, assigned to tandraschko

[2016-09-06 18:22] tandraschko opened #1746 "Upgrade Atmosphere"

[2016-09-06 18:22] #1746 closed, assigned to tandraschko

[2016-09-07 11:19] #1687 closed, assigned to tandraschko

[2016-09-07 11:28] andrei-ivanov commented on #1687
Can I request for this to be included in 6.0.4 too? :-)
@mertsincan ?

[2016-09-07 15:40] erickdeoliveiraleal opened #1749 "update jqPlot to 1.0.9"
https://github.com/jqPlot/jqPlot/compare/d873684c50b560c1600f09879f0cfce9f71e702f...d96a669fbb729f4f51e2214688e54320411219af

[2016-09-07 15:57] andrei-ivanov commented on #1566
Hmm, seems this is "caused" by https://java.net/jira/browse/JAVASERVERFACES-3647, starting from 2.2.10

[2016-09-07 17:10] andrei-ivanov commented on #1566
Seems the workaround is really needed there, and I even found one more case where that has to be called.
The problem is that endDocument() flushes the buffer and I can't find a way to prevent that from happening :(

[2016-09-07 19:34] rponte opened #1752 "p:inputNumber crashes when used with f:convertNumber and locale"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? this is the newest community version
- Application server + version: Tomcat 7.0.68
- Affected browsers: Firefox and Chrome
## 2) Expected behavior

I expect the component `p:inputNumber` could work with standard JSF converter `f:convertNumber` when using locale attribute.
## 3) Actual behavior

The pages s

[2016-09-07 19:38] tandraschko commented on #1752
why do you like to use a f:convertNumber? The component was never designed for that usage.

[2016-09-07 19:43] tandraschko commented on #1566
AFAICS endDocument is only called that mojarra resets the internal FastStringWriter?
I would say, it's even invalid to call endDocument in our case as its really different how the implementations behave.

[2016-09-07 19:44] rponte commented on #1752
If `p:inputNumber` takes care of converting the value besides the mask so you're right, I no longer need this converter. But as I said in the issue, I'm not sure about that.

Anyway, when we use a simple `h:inputText` bound to `BigDecimal` it's common to use a number converter to handle its value and separators.

[2016-09-07 19:49] tandraschko commented on #1752
Exactly but inputNumber is designed for numbers only and therefore you have thousandSeparator and decimalSeparator. So you don't need a f:convertNumber. Or do i miss something?

[2016-09-07 19:51] vicenthy commented on #1752
I too never use with  bigdecimal type. Only Double type in managedbean
later convert on entity,  before of persist.

Em qua, 7 de set de 2016 16:38, Thomas Andraschko notifications@github.com
escreveu:

_Atila Augusto Dos Santos_

## _Analista Desenvolvedor Java Jr._

Celular, Whatsapp e Telegram: 021 97453 2617
http://blogdoatila.wordpress.com/

Currículo: https://www.linkedin.com/in/atiladesenvo

[2016-09-07 20:03] tandraschko commented on #1752
@vicenthy inputNumber works fine with BigDecimal, just f:convertNumber is not supported.

[2016-09-07 20:03] rponte commented on #1752
Probably you're correct. This converter works just like a double-check to avoid surprises, but it is causing some issues.

By the way, what's the reason `p:inputNumber` support any converter except JSF standard converter?

[2016-09-07 20:04] andrei-ivanov commented on #1566
From my memory, as I don't have the code in my face, it's also calling the wrapped writers endDocument and one of them (I think `PartialViewContextImpl$DelayedInitPartialResponseWriter`) end the changes element, based on some internal boolean.
I tried ending that element by hand, but because that boolean never gets reset to false, it ends it again, duplicating the end tag, when we actually want to

[2016-09-07 20:05] tandraschko commented on #1752
There is no reason, the functionality is just build in. Will close the ticket for now as this usage makes no sense.

[2016-09-07 20:05] #1752 closed, assigned to nobody

[2016-09-07 20:08] vicenthy commented on #1752
I meat in some f:convertNumber

Em qua, 7 de set de 2016 17:03, Thomas Andraschko notifications@github.com
escreveu:

_Atila Augusto Dos Santos_

## _Analista Desenvolvedor Java Jr._

Celular, Whatsapp e Telegram: 021 97453 2617
http://blogdoatila.wordpress.com/

Currículo: https://www.linkedin.com/in/atiladesenvolvedor

[2016-09-07 20:15] tandraschko commented on #823
`@ManagedBean
@RequestScoped
public class TestBean {

[code]

}`

[2016-09-07 20:17] tandraschko commented on #1566
Please give it a try ;)

[2016-09-07 20:19] tandraschko commented on #1749
@mertsincan We did some fixes in the jqplot js. Did you create issues on jqplot side? We could also create PR's there ;)

[2016-09-07 20:20] andrei-ivanov commented on #1566
Will do, but on Monday, when I'll get back at the office.
Thanks for the help :-)

[2016-09-08 06:41] gkiagia opened #1753 "dataTable updates do not work after filtering and calling filter() as a workaround changes page"
I have a dataTable with sorting and filters, populated from a List of custom objects that are fetched from a database with Hibernate. In this page, I also have a dialog that can edit the data of each row. In the dialog, I have a "Save" button that saves the current entry in the db and reloads the List of objects that populate the dataTable. The button code looks like this:

[code]

Because of the

[2016-09-08 07:36] ykidev commented on #699
I have the same problem. Seems like any commandXXX-component in a subtable header doesn't work properly (expect the first one).

@Dapcapix If you just want to redirect to another page, you could use the h:link tag and and generate the outcome through a method, that worked for me (made from the code you posted above):

`<h:link value="#{obj.txObjetivo}"
             outcome="responsavelObjetivoMBea

[2016-09-08 10:39] vbrandl opened #1754 "Wrong handling of abbreviated year pattern in calendar"
## 1) Environment
- PrimeFaces version: `6.0`
- Does it work on the newest PrimeFaces version? `no``
- Application server + version: `Wildfly 8.2.0.Final`
## 2) Expected behavior

From the [SimpleDateFormat](https://docs.oracle.com/javase/8/docs/api/java/text/SimpleDateFormat.html) doc:

Using a pattern like `dd.MM.yy` in a calendar component should parse `01.01.36` to `2036-01-01`
## 3) Actual be

[2016-09-09 06:27] Planche95 opened #1757 "Can't Unselect SelectOneButton at first time, after sumbit"
Even in showcase it doesn't work: http://www.primefaces.org/showcase/ui/input/oneButton.xhtml

Select some value -> click sumbit -> try to unselect this value.

At first time you click this will stay selected.

[2016-09-09 15:25] erickdeoliveiraleal commented on #1749
I tried to indentify @mertsincan patches here: https://github.com/primefaces/primefaces/pull/1755

[2016-09-11 15:49] erickdeoliveiraleal commented on #1029
already https://github.com/primefaces/primefaces/issues/1647

[2016-09-11 15:49] #1029 closed, assigned to nobody

[2016-09-12 07:44] tandraschko commented on #1742
Please create a new issue with a example

[2016-09-12 07:44] #1742 closed, assigned to nobody

[2016-09-12 14:08] leohalmeida opened #1758 "Datatable with draggableColumns and Dynamic Columns won't update the column model list index"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? no
- Application server + version: Wildfly 8.2.0.Final
- Affected browsers: tested on Firefox 48
## 2) Expected behavior

The expected behaviour is datatable to update the index of the columns list on the backing bean on 'colreorder' event, just like when you drag a row and its index is automatically updat

[2016-09-12 14:26] andrei-ivanov commented on #1566
Uf, still doesn't work :(
The response is still broken by `PartialViewContextImpl$DelayedInitPartialResponseWriter`.

This is where `javax.faces.context.PartialResponseWriter.inChanges` is set to `true`.

[code]

Calling `endDocument()` triggers an automatic call to `endChanges()`, which means the generated XML is broken.

[code]

[code]

[2016-09-12 14:28] andrei-ivanov commented on #1566
`endChangesIfNecessary()` is private and called from 3 places:
- `endDocument`
- `redirect`
- `startError`

So I don't see how to make it ignore that `inChanges` flag :(

[2016-09-12 14:36] tandraschko commented on #1566
Hmpf? I thought the problem was the endDocument call? If not, then our other workaround is completely unrelated to this issue?

[2016-09-12 14:40] andrei-ivanov commented on #1566
Well, the problem with `endDocument` is that it flushes the output buffer, so it cannot be reset anymore.
But calling it had another side effect, that it was setting `inChanges` to false, which means that the 2nd call would **not** call `endChanges`.

[2016-09-12 14:52] andrei-ivanov commented on #1566
Found a workaround:

[code]

Before `writer.getWrapped().endElement("changes");`

I think `writer.getWrapped().endElement("changes");` can be removed, as `javax.faces.context.PartialResponseWriter.startError(String errorName)` also does that by itself.

[2016-09-12 14:55] tandraschko commented on #1566
done, please test ;)

[2016-09-12 14:58] b0rengar commented on #899
There is still a Problem when the window is resized (e.g. screen is rotated on mobile).

[2016-09-12 15:10] andrei-ivanov commented on #1566
Seems to work now, the response received by the browser is fine now :)
Not sure it it matters, but this is how the response that **was reset** looks:

[code]

Doesn't seem correct, but since the response will be reset, not sure if it actually matters.

[2016-09-12 15:25] tandraschko commented on #1566
Thats not the response which is received by the browser? where do you got this from?

[2016-09-12 16:00] andrei-ivanov commented on #1566
Well, after the workaround is applied, by calling the various `writer` methods, the buffer is reset on line 166: `externalContext.responseReset();`.
Using a debugger I grabbed the content before it was reset :-)

[2016-09-12 20:50] stiemannkj1 opened #1759 "Unecessary non-mobile resources loaded when navigating to PrimeFaces mobile view via Ajax"
## 1) Environment
- PrimeFaces version: **6.0**
- Does it work on the newest PrimeFaces version? **Yes**
- Application server + version: **All Servers** (but reproduced on Tomcat 8.0.32)
- Affected browsers: **All Browsers** (but dev tools like those of Firefox or Chrome are needed to actually show the issue)
## 2) Expected behavior

PrimeFaces should only load mobile resources when navigating to

[2016-09-13 08:47] andrei-ivanov commented on #1566
So, any interest in fixing the response in the buffer that will be reset?
If not, I think this issue can be closed and I hope merged to 6.0.5 :-)

[2016-09-13 09:05] tandraschko commented on #1566
I don't think that we can fix for every case. We could do it if we would completely develop our own ResponseWriter etc.

[2016-09-13 09:07] andrei-ivanov commented on #1566
Yes, I also don't think it matters what happens to the throwaway response.
@mertsincan Will you please merge this for 6.0.5?

[2016-09-13 09:10] tandraschko commented on #1566
I always depends on what you set as BUFFER_SIZE. If the BUFFER_SIZE is to small, the response could be broken anyway. Setting the buffer to big means that you loss a little bit performance.
ExceptionHandling is a stupid thing and should be done in the JSF impl actually.

[2016-09-13 10:10] MiguelAngelLV opened #1760 "Single quote in labels of Charts"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? no
- Application server + version: Glassfish 4.0
- Affected browsers: All
## 2) Expected behavior

Charts with any labels
...
## 3) Actual

[2016-09-13 10:56] cnsgithub opened #1761 "Mobile: Add tooltip widget"
Tooltip should also be supported on mobile renderkit. There is no mouse on mobile devices, but it  would be useful to have the possibility of showing a tooltip when needed. On the default renderkit this can be done by using PF('tooltipWidget1').show()

[2016-09-13 11:46] tandraschko commented on #1761
There is no tooltip renderer for mobile. So we only have 1 tooltip.

[2016-09-13 12:19] tandraschko commented on #1761
The problem is that there is currently no tooltip widget available for mobile.
So this is a feature request.

[2016-09-13 13:45] pablosborges opened #1762 "add scrollbar component in the menu bar"
hello I am using the 5.3.16 version, I feel the lack of a feature in the menubar, as the items in my menu are many and just that the screen resolution must clearly the user to see all items. I have not found a way to reduce the spacing of a menu item.

[2016-09-13 15:17] christophenoel commented on #1239
There is a mistake in the fix (see line from the github). Smooth should be true if smoothLine is true.
Note in many scientific domains, smooth is an undesired feature.

[code]

[2016-09-13 15:22] tandraschko commented on #1239
nope, it's fine in our github: https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/model/chart/LineChartSeries.java

[2016-09-13 15:25] christophenoel commented on #1239
I don't know what you mean by it's fine.
The line should be replaced by:

[code]

but sorry my previous comment was not clear.

[2016-09-13 15:32] tandraschko commented on #1239
check the link i posted, the logic is correct there.

[2016-09-14 07:06] christophenoel commented on #1239
I'm very sorry. I indeed looked at an older version. Please apologize !

[2016-09-14 07:09] tandraschko commented on #1239
np :) but it's always better to check the current git master before (also when creating issues)

[2016-09-14 08:26] sergi-mm commented on #1406
We experience the same issue using timeline component. When lots of events are loaded in timeline, the browser crashes with a javascript error.

![javascript_error](https://cloud.githubusercontent.com/assets/9212820/18505037/938fa8d0-7a65-11e6-827b-ea1e03d017eb.png)

This error is more likely to occurs when using Firefox browser. It seems that Chrome browser supports better lots of javascript obje

[2016-09-14 09:52] andyba opened #1763 "Timeline Component attribute showCurrentTime has no effect when value is fale"
## 1) Environment
- PrimeFaces version: 6.0.4
- Does it work with the curent PrimeFaces version: No
- Payara 4.1.1.163
- Affected browsers:
  All, Not dependent on browser version
## 2) Expected behavior

That setting showCurrentDate="false" results in the current date line not being rendered.
## 3) Actual behavior

Setting showCurrentDate="false" has no effect, the current date line is still rend

[2016-09-14 09:54] andyba commented on #1763
Please see the following link, a fix has been proposed for the TimelineRenderer class: http://forum.primefaces.org/viewtopic.php?p=146194#p146194

[2016-09-14 10:04] tandraschko commented on #1763
Hey andy, would be great if you could provide a PR. I will merge ASAP then.

[2016-09-14 10:17] andyba commented on #1763
Unfortunately that is difficult as connection to GIT repositories is difficult from work.
Isn't the code in the original post enough to sort it out?

[2016-09-14 10:58] tandraschko commented on #1763
Maybe, just don't have that much time and accepting a PR is much easier for me.

[2016-09-14 11:06] andyba commented on #1763
I will see if I can get it done tonight, from home.

[2016-09-14 13:06] andrei-ivanov commented on #1566
So, can this issue be closed? :-)
Who should I ask for it to be merged for 6.0.5?

[2016-09-14 14:03] sergi-mm commented on #279
Hi @tandraschko, thanks for accepting my PR. Will be this feature released in any PF Elite before the 6.1 version release?

[2016-09-14 14:06] #1566 closed, assigned to nobody

[2016-09-14 14:07] tandraschko commented on #1566
I could also only ping @mertsincan, so lets see if he will his mails ;)

[2016-09-14 14:08] tandraschko commented on #279
Don't know sorry. Usually i don't commit stuff to elite as i'm not a elite user.

[2016-09-14 17:06] MitchTalmadge commented on #649
Same problem on PrimeFaces 6.0.

[2016-09-14 22:05] ridvan70 commented on #1212
What about overwriting the methods `getRowCount` and `getValue` in `org.primefaces.component.datatable.DataTable` as follows?

[code]

I've added the above in to `DataTableTemplate` and it seems to work, but needs to be reviewed by devs.

[2016-09-15 07:24] andyba commented on #1763
I wasn't able to get it done last night, time issues. I will see what can be done today.

[2016-09-15 09:42] kukel commented on #1731
show an ['mcve'](https://www.google.com/search?q=mcve+format+code) please...

[2016-09-15 11:39] sergi-mm opened #1764 "SelectManyMenu allows to select disabled items"
Using PF 5.3.14 (I suppose using PF 6.0 will be the same error) when disable some item with the attribute _itemDisabled_ and using checkbox to select the items with _showCheckbox="true"_, produce that the item is greyed but it still can be selected using the checkbox.

Moreover, the item selected is not passed to the backing bean list, so the bug is only in the view but it can cause confusion to u

[2016-09-16 08:28] hoax commented on #1718
Just found that this bug has been found before: http://forum.primefaces.org/viewtopic.php?f=3&t=42821

[2016-09-16 23:14] jaymesanches commented on #1290
Is it not working in primefaces 6.0 yet?

[2016-09-17 07:17] BalusC opened #1765 "p:graphicImage with StreamedContent generates different pfdrid query string value on every request"
p:graphicImage with StreamedContent generates different pfdrid query string value on every request. This has the consequence that the client side cache is busted on every request and thus client won't reuse the cached image anymore and re-download the image on every request.

It worked correctly in PF 5.3 as pfdrid represents the encrypted form of the EL string and thus remains constant across req

[2016-09-18 17:51] #1765 closed, assigned to tandraschko

[2016-09-18 17:54] #1764 closed, assigned to tandraschko

[2016-09-18 20:44] commandercool commented on #1754
Dates in this element are adjusted only 10 years after by the [shortYearCutoff](https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/jquery/jquery-plugins.js#L5604) property.
I don't know is this intended or a defect.

[2016-09-19 06:53] mertsincan opened #1767 "TieredMenu Overlay disappears on Mouse Down when item's text is clicked"
Reported By PRO User;

[code]

[2016-09-19 07:00] #1767 closed, assigned to nobody

[2016-09-19 08:24] mertsincan opened #1768 "Value is not saved on editable selectOneMenu when dropdown is closed"
Reported By Pro User;

[code]

[2016-09-19 08:26] #1768 closed, assigned to nobody

[2016-09-19 08:39] andrei-ivanov commented on #1687
@mertsincan Will you please merge this for 6.0.5?

[2016-09-19 08:39] andrei-ivanov commented on #1566
@mertsincan Will you please merge this for 6.0.5?

[2016-09-19 08:47] mertsincan commented on #1566
I'm sorry for the late reply. I was on holiday :) I'll add it into 6.0.5.

[2016-09-19 08:58] mertsincan commented on #1749
I'm sorry for the late reply. I was on holiday :) I'll check our jqplot fixes on 6.1.

[2016-09-19 09:04] tandraschko commented on #1749
They are already merged :) But we should really try to get the fixed directly into jqplot for further updates.

[2016-09-19 12:53] andrei-ivanov commented on #1687
@mertsincan this too please :)

[2016-09-19 20:00] stiemannkj1 opened #1769 "Ajax navigation with h:commandButton causes "malformedXML: PrimeFaces is not defined" error"
## 1) Environment
- PrimeFaces version: **6.0** (This bug does not occur in 5.3 and below, because it is due to [PrimeFaces Dynamic Resource Dependency Loading](https://github.com/primefaces/primefaces/issues/1066) which was added in PrimeFaces 6.0)
- Does it work on the newest PrimeFaces version? **Yes**
- Application server + version: **All Servers**
- Affected browsers: **All Browsers**
## 2) S

[2016-09-19 20:01] stiemannkj1 commented on #1769
Since there is such a simple straightforward workaround, this issue should probably be low priority, but I wanted to document it in case anyone else runs into it.

[2016-09-20 11:09] andyfinch commented on #1390
Problem stems from:

[code]

If you remove everything bar the super call then the issue is resolved.  Although what issues this causes I don't know.

[2016-09-20 12:37] JanRR opened #1770 "p:megaMenu - attribute autoDisplay="false" disables link-functionality"
## 1) Environment
- PrimeFaces version: 6.0.1
- Application server + version: JBoss Wildfly 8.1
- Affected browsers: FF, Chrome.. etc
## 2) Expected behavior

MenuItem should link to the given "url"
## 3) Actual behavior

MenuItem doesnt link to the given "url"
..
## 4) Steps to reproduce

See the xhtml - that is all you need. The attribute autoDisplay="false" disables the link-functionality for m

[2016-09-20 14:05] mertsincan opened #1771 "Add buttonTabindex attribute to Calendar"
If calendar component have showOn="button||both", user can change tabindex value of button with buttonTabindex attribute.

[2016-09-20 14:07] #1771 closed, assigned to nobody

[2016-09-20 15:07] andrei-ivanov commented on #1687
@mertsincan I'm not giving up :D

[2016-09-20 15:29] melloware opened #1772 "PR: SearchExpressionFacade JS Enhancement"
I am submitting a Pull Request for this enhancement.
## 1) Environment
- PrimeFaces version: 6.04
- Does it work on the newest PrimeFaces version? No
- Application server + version: Mojarra 2.28
- Affected browsers: All
## 2) Enhancement

While working on a PrimeFaces Extension issue https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/289 I had the need to get the reso

[2016-09-20 20:25] firsthour opened #1775 "Don't show autocomplete itemtip if there was no content defined"
With the old ternary operator assignment of content, it would always return "item.children('td:last')" if item wasn't a li element. The problem with that is if no itemtip content was defined (td.ui-autocomplete-itemtip-content) then it would just dump the same autocomplete result content into the itemtip. I didn't think this looked very good so now it checks if td:last has the itemtip content clas

[2016-09-21 00:54] zsuiqiang opened #1776 "Dialog Framework: Can't be used in iframe"
## 1) Environment
- PrimeFaces version: 6.04
- Does it work on the newest PrimeFaces version?
- Application server + version:GlassFish v4
- Affected browsers:Chrome
## 2) Expected behavior

Dialog can be closed correctlty which opened through a button in a iframe.
## 3) Actual behavior

"dialogReturn" ajax listener was not invoked
## 4) Steps to reproduce

When i click "ok" button,method "closeSel

[2016-09-21 08:53] mertsincan opened #1777 "Scrollable TreeTable alignment issue on Chrome"
Reported by Pro User;

[2016-09-21 08:54] #1777 closed, assigned to nobody

[2016-09-21 11:45] #1547 closed, assigned to nobody

[2016-09-21 15:58] firsthour opened #1779 "Don't hide autocomplete panel if itemtip clicked"
If the itemtip is the target of the mousedown event, then don't hide the entire autocomplete result panel. This allows the user to click an anchor link in the itemtip or copy text from it if necessary.

For pull request #1778

[2016-09-21 17:35] firsthour opened #1781 "Autocomplete itemtip also respects autoHighlight"
Right now if autoHighlight is set to false and the first result has an itemtip, the the first result will not be highlighted but its itemtip will appear as if it were highlighted.

For pull request #1780

[2016-09-21 19:01] outlinedspider opened #1782 "Editable dataTable with Buttons Not Keyboard Accessible"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version: 6.0.4
- Does it work on the newest PrimeFaces version?  No
- Application server + version: Glassfish 4.1.1
- Affected browsers:  Firefox 48.0
## 2) Expected behavior

Editable dataTable "butto

[2016-09-21 19:21] outlinedspider opened #1783 "Accordion Tabs Are Not Keyboard Accessible - Even After Setting a TabIndex"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version:  6.0.4
- Does it work on the newest PrimeFaces version? No
- Application server + version:  Glassfish 4.1.1
- Affected browsers:  Firefox 48.0
## 2) Expected behavior

Accordion tabs and the i

[2016-09-21 19:27] outlinedspider opened #1784 "Dialog Framework: Set Focus To The Dialog Window"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version: 6.0.4
- Does it work on the newest PrimeFaces version? No
- Application server + version: Glassfish 4.1.1
- Affected browsers:  Firefox 48.0
## 2) Expected behavior

Dialog framework window ga

[2016-09-21 20:40] outlinedspider opened #1785 "selectOneMenu and Other Inputs That Are Conglomerations of Several Parts"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version:  6.0.4
- Does it work on the newest PrimeFaces version?  No
- Application server + version:  Glassfish 4.1.1
- Affected browsers:  Firefox 48.0
## 2) Expected behavior

Inputs should have a la

[2016-09-21 20:44] outlinedspider opened #1786 "MenuButton Menu Is Not Keyboard Accessible"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version: 6.0.4
- Does it work on the newest PrimeFaces version? No
- Application server + version: Glassfish 4.1.1
- Affected browsers: Firefox 48.0
## 2) Expected behavior

keyboarding to the button a

[2016-09-21 20:52] outlinedspider opened #1787 "CheckboxMenu Not Keyboard Accessible When Trying To Close or Exit the List"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version:  6.0.4
- Does it work on the newest PrimeFaces version? No
- Application server + version:  Glassfish 4.1.1
- Affected browsers:  Firefox 48.0
## 2) Expected behavior

Esc will close a menu li

[2016-09-21 20:56] outlinedspider opened #1788 "User Erases Prepopulated Data From Autocomplete But Value Remains Even Though The Field Is Empty"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version:  6.0.4
- Does it work on the newest PrimeFaces version? No
- Application server + version:  Glassfish 4.1.1
- Affected browsers: Firefox 48.0
## 2) Expected behavior

If data is erased, the va

[2016-09-22 00:57] melloware commented on #1772
This is not necessary I am canceling the ticket and pull Request.

[2016-09-22 00:57] #1772 closed, assigned to nobody

[2016-09-22 04:47] JaviRpo opened #1789 "Add a class attribute with value "pe-inputNumber" or similar to the component p:inputNumber like pe:inputNumber was"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version?
- Application server + version: All
- Affected browsers: All
## 2) Expected behavior

With "pe:inputNumber" i can difference input for numb

[2016-09-22 04:48] JaviRpo commented on #1495
Any update about this issue?

[2016-09-22 04:49] JaviRpo commented on #1296
Any solutions about this issue?

[2016-09-22 04:49] JaviRpo commented on #1494
Any solutions about this issue?

[2016-09-22 06:59] ykidev commented on #699
I actually found a pretty simple workaround and thought I would share (No idea why I didn't think of this earlier):

Make the h:commandLink delegate the "click" to another h:commandLink you created outside of the SubTable, which is not displayed (display: none). Here is an example:

Link in SubTable
`<p:commandLink onclick="$('a[data-id=del-btn-#{bean.id}]').click(); return false;"/>`

Somewhere i

[2016-09-22 07:43] tandraschko commented on #1789
the outer span has a ui-inputnumber class ;)

[2016-09-22 07:43] #1789 closed, assigned to nobody

[2016-09-22 09:27] Rapster commented on #1495
I'm not part of PF team, @tandraschko might have an opinion on this

[2016-09-22 09:57] tandraschko commented on #1495
If nobody comments on the issue or somethings changes in the issue status -> no update

[2016-09-22 12:26] lgklein commented on #39
This improvement is still in the plans for implementation? If so, is there any idea to which version?

[2016-09-22 13:03] andrei-ivanov commented on #39
6.1 it seems, see http://blog.primefaces.org/?p=4094

[2016-09-22 13:11] lgklein commented on #39
Ty!

[2016-09-22 20:15] markusg80 opened #1790 "ajax update not work for selectonemenu if inside <ui:component> and rendered via facet"
## 1) Environment
- PrimeFaces version: 6.0.4, 5.3.19
- Does it work on the newest PrimeFaces version? No
- Application server + version: Glassfish 4.1.1
- Affected browsers: Firefox, Chrome
## 2) Expected behavior

A Button inside the ui:component opens dialog (wich is declared inside the >ui:component>) with a form inside and content rendered from a facet located in parent xhtml. SelectOneMenu s

[2016-09-23 01:16] JaviRpo commented on #1789
thanks, you are right

[2016-09-23 09:43] kukel commented on #1788
Please reduce your code to an [mcve](http://stackoverflow.com/help/mcve)

[2016-09-23 11:09] mertsincan opened #1792 "Wrong reference issue on ValueExpressionAnalyzer class"
Reported By Pro User;

[2016-09-23 11:10] #1792 closed, assigned to nobody

[2016-09-23 11:30] Rapster commented on #1495
Too bad, I think this feature is relevant _(and should be the default behavior actually).

[2016-09-23 11:36] tandraschko commented on #1495
i'm sure about 50% of the 500 issues are relevant ;)

[2016-09-23 11:48] Rapster commented on #1495
:)

[2016-09-25 09:29] Airblader commented on #1499
I just came across this as well trying to write a simple TODO list demo app. Reordering items and then marking one as done causes the wrong item to be marked.

Given that this causes a user to unknowingly modify the wrong data this can be a fairly severe bug if the table contains important data.

[2016-09-26 08:38] lcanalesmayo opened #1793 "DataTable: Support for overriding paginator events"
Hi,

Could you add support for overriding "onclick" pagination events in p:datatable component?

At this moment, they aren't customizable:

//First page link
        this.firstLink.click(function() {
            PrimeFaces.clearSelection();

[code]

Thanks in advance.

[2016-09-27 15:00] nooone opened #1794 "Font Awesome support in Ultima Layout"
## 1) Environment
- PrimeFaces version: 6.0
- **Premium Layout: Ultima 1.0.4**
- Does it work on the newest PrimeFaces version? No
- Application server + version: WildFly 10.1.0.Final
- Affected browsers: All browsers
## 2) Expected behavior

I expect that it's possible to use Font Awesome icons in a premium layout (Ultima), just like with other standard themes as well.
## 3) Actual behavior

It d

[2016-09-27 15:37] cagataycivici commented on #1794
This is tracked at;

https://github.com/primefaces/layouts/issues/120

[2016-09-27 15:37] #1794 closed, assigned to nobody

[2016-09-27 16:03] boanergesza1 opened #1795 "p:commandButtons and p:commandLinks do not fire events on root note in a p:tree with horizontal orientation"
## 1) Environment
- PrimeFaces version: 5.3
- Does it work on the newest PrimeFaces version? No
- Application server + version: Wildfly vs 8.2
- Affected browsers: Chrome, IE
## 2) Expected behavior

Events should be processed from the root node.
## 3) Actual behavior

No events are processed from the root node
## 4) Steps to reproduce

(see sample code below) Create xhtml with a tree with horison

[2016-09-27 21:57] outlinedspider commented on #1783
Fixed in version 6.0.4

[2016-09-27 21:57] #1783 closed, assigned to nobody

[2016-09-27 21:58] outlinedspider commented on #1782
Fixed in 6.0.4

[2016-09-27 21:58] #1782 closed, assigned to nobody

[2016-09-28 10:01] syboulenge commented on #1770
Experiencing the same issue on PF 5.3.

Any workaround ?

[2016-09-28 14:53] nooone commented on #1794
Quick update: I found a workaround that works for me. I replaced the default renderer with my own...

[code]

And registered it in my `faces-config.xml`:

[code]

[2016-09-28 15:41] beevelop opened #1797 "Columntoggler.js is missing an closing >"
`src/main/resources/META-INF/resources/primefaces/columntoggler/columntoggler.js` is missing an closing `>`

[code]

The typo does not seem to have major impacts. This issue is for tracking purposes of #1796

[2016-09-28 15:44] #1797 closed, assigned to tandraschko

[2016-09-28 17:47] JanRR commented on #1770
We use no workaround - currently we set autoDisplay="true".

[2016-09-29 10:25] mertsincan opened #1798 "Filter support to Tree"
Exp;

[code]

[2016-09-29 10:32] #1798 closed, assigned to nobody

[2016-09-29 11:51] #1757 closed, assigned to nobody

[2016-09-29 13:11] #1323 closed, assigned to nobody

[2016-09-29 13:21] mertsincan commented on #1762
I think you can try;

[code]

[2016-09-29 14:00] andrei-ivanov commented on #1687
@mertsincan ping :)

[2016-09-30 09:50] beevelop opened #1799 "IE11: Could not complete the operation due to error 800a025e"
## 1) Environment
- PrimeFaces version: 5.3
- Affected browsers: IE11 (11.0.9600.*)
## 2) Expected behavior

Executing `PrimeFaces.clearSelection()` should not trigger an exception.
## 3) Actual behavior

Running `PrimeFaces.clearSelection()` triggers the following exception for rowClicks on a datatable in IE11:

[code]
## 4) Steps to reproduce

Click on a row in a datatable or manually execute `P

[2016-09-30 11:48] cnsgithub opened #1801 "Update ROME dependency"
Hi, i was trying to use the Feedreader and noticed that it has a dependency to a very old version of the rome library (The documentation only says : Note that you need the ROME library in your classpath to make feedreader work - version 1.0). This is a very old lib and should be replaced by
https://github.com/rometools/rome  version 1.7 or above to get rid of the 'com.sun.syndication' dependency.

[2016-09-30 13:03] #1785 closed, assigned to nobody

[2016-09-30 14:19] #1786 closed, assigned to nobody

[2016-09-30 14:52] #1787 closed, assigned to nobody

[2016-09-30 16:49] ghost opened #1803 "ProgressBar: configurable animation"
ProgressBar are using a fixed animation speed (500ms), if my process is a little fast the progressBar does not follow the process progress.

A simple solution is create a attribute to change or disable the animation speed.
Javascript code would look like this:

[code]

[2016-10-01 00:07] IanDarwin opened #1804 "[Documentation] Gmap: documentation omissions"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No, this is the latest community release
- Application server + version: Wildfly 8.0 or any other whatsoever
- Affected browsers: ALL
## 2)

[2016-10-02 11:23] suewonjp opened #1805 "org.primefaces.model.UploadedFileWrapper throws NotSerializableException"
## 1) Environment
- PrimeFaces version:
  - from 5.3.RC1 and all later versions
- Does it work on the newest PrimeFaces version?
  - NO
- Application server + version:
  - Tomcat 8.0
  - myfaces 2.2.8
  - Springframework 3.2.8.RELEASE
  - Spring web flow 2.4.2.RELEASE
- Affected browsers:
  - All
## 2) Expected behavior

File upload should work as expected
## 3) Actual behavior

NotSerializableExc

[2016-10-03 00:00] drj123 commented on #500
if this issue is resolved. where I can find the sample code

[2016-10-03 09:05] andrei-ivanov commented on #1687
@mertsincan missed 6.0.5 :(
6.0.6 please?

[2016-10-03 10:08] snagel86 opened #1806 "Error in streaming dynamic resource"
## 1) Environment
- PrimeFaces version: 6.0
- Was working in 5.3
- Application server + version: WildFly 8.2 Final
- Affected browsers: Chrome Version 53, IE 11
## 2) Expected behavior

I like to play an audio mp3 which is loaded as byte [] from database.

`<p:media value="#{audioController.stream}" width="250" height="80"
        player="quicktime">
    <f:param name="autoPlay" value="false" />

[2016-10-03 10:38] mertsincan commented on #1687
Hi @andrei-ivanov,
Sorry for my late reply. Fixed for 6.0.6.

[2016-10-03 11:05] andrei-ivanov commented on #1687
@mertsincan Thank you, I can stop bugging you now :-D

[2016-10-03 13:27] tczu opened #1807 "Schedule: displays wrong endDate"
1) Environment
PrimeFaces version: 6.0
Application server + version: Wildfly 10.0.10.Final

2) Expected behavior
Schedule component that contain event (with some date range – StartDate differ from end EndDate) should display specified date range.

3) Actual behavior
When event dates (that are coming from database) are in YYYY/MM/DD format e.g: startDate: 2016-10-05, endDate 2016-10-10 than schedul

[2016-10-04 08:44] gako opened #1808 "ResourceUtils.filterStylesheets throws NPE if resource is not found (null)"
ResourceUtils.java Line 91

[code]

In special cases a resourceHandler can return null for a resource if it is not found... In this case the resourceUtils class throws a Nullpointer exception. It would be nice if this is handled gracefully.

[code]

**StrackeTrace of Exception**
java.lang.NullPointerException
at org.primefaces.util.ResourceUtils.filterStylesheets(ResourceUtils.java:96)
at org.prim

[2016-10-04 08:45] gako commented on #1808
The same is probably also true for **ResourceUtils.filterScripts** (line 119) but I havn't encouterd this yet.

[2016-10-04 10:50] crocimi opened #1809 "Layout: center unit doesn't trigger close event"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No
- Application server + version: Wildfly 10.0.0
- Affected browsers: Chrome, Firefox, IE
## 2) Expected behavior

When closing the LayoutUnit "Center" I expect the close event is fired
## 3) Actual behavior

The event is not fired for the center unit (it is fired for all other units)
## 4) Steps to repro

[2016-10-04 11:59] mertsincan opened #1810 "Add options attribute to customize the exported PDF/Excel file on DataExporter"
Options;
- String facetFontStyle;
- String facetFontColor;
- String facetBgColor;
- String facetFontSize;
- String cellFontStyle;
- String cellFontColor;
- String cellFontSize;

Example;

[code]

[2016-10-04 12:02] #1810 closed, assigned to nobody

[2016-10-05 13:26] itai-m opened #1811 "PickList: allow SelectOneMenu as item"
## 1) Environment
- PrimeFaces version: 5.3
- Does it work on the newest PrimeFaces version? no
- Application server + version: tomcat 8.0
- Affected browsers: chrome
## 2) Expected behavior

open and show the selectOneMenu inside of a pickList
...
## 3) Actual behavior

don't open the selectOneMenu and arrow button is cat in half.
..
## 4) Steps to reproduce

use any selectOneMenu  in a pickList.

[2016-10-06 03:36] outlinedspider commented on #1786
I thought it was menubutton that we were using.  It's not, it's the overlay menu (http://www.primefaces.org/showcase/ui/menu/menu.xhtml) except somehow our developers have used a p:commandLink to open the menu instead of a p:commandButton.  Could you please take a look?  I posted the xhtml code below:

[code]

[2016-10-06 04:00] outlinedspider commented on #1787
I can now access the checkboxMenu when using a keyboard to open the item list and un/select items in the list.  However, esc does not close the menu and so i must tab through each option until I reach the end of the list to move to the next input.  Can you make the item list close when the esc key is pressed?

Thank you!!!! :)

[2016-10-06 08:22] antidote2 opened #1812 "filtering datatable before render does not work"
## 1) Environment
- PrimeFaces version: 5.3
- Does it work on the newest PrimeFaces version? no
- Application server + version: wildfly 8.1
- Affected browsers: any
## 2) Expected behavior

datatable filtered according to filteredValue property when first rendered
## 3) Actual behavior

datatable is not filtered (content of value property is displayed), but for example after sorting a column - dat

[2016-10-06 08:32] mertsincan commented on #1787
I think this issue is fixed. When you press esc key in the panel of checkbox menu, panel is closed every time.

[2016-10-06 08:41] mertsincan commented on #1786
Thanks for the example. But, the keyboard issue of menubutton is fixed. Can you please create a new github issue for overlay menu?

[2016-10-06 13:24] outlinedspider commented on #1787
It won't close for me. Do you need to see our code?

Anna

On Oct 6, 2016, at 1:32 AM, mertsincan <notifications@github.com<mailto:notifications@github.com>> wrote:

I think this issue is fixed. When you press esc key in the panel of checkbox menu, panel is closed every time.

##

You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHubhttps://github.

[2016-10-06 13:58] outlinedspider opened #1813 "Menu: enhance keyboard accessibility"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment

[code]
## 2) Expected behavior

keyboarding to the button and clicking either spacebar or enter should open the menu. Once the menu is open the item list should be accessible by keyboard either by using tab or the

[2016-10-07 05:33] arunvc opened #1814 "Tab navigation is lost after choosing a date"
## 1) Steps to reproduce

http://www.primefaces.org/showcase/ui/input/calendar.xhtml
1. use tab to navigate
2. select a date using mouse click
3. tab navigation is lost and does not focus to next ui control
## 2) Environment
- PrimeFaces version: 6.0.4 on Mojarra-2.2.8.
- Does it work on the newest PrimeFaces version? Ni
- Application server + version: Tomcat 8.0.32
- Affected browsers: Chrome, Fi

[2016-10-07 07:32] mertsincan commented on #1814
Can you please try this issue with jquery datepicker API?
Exp; https://jqueryui.com/datepicker/#date-formats

[2016-10-07 07:38] mertsincan commented on #1787
This issue is fixed for PF V6.0.6 and V6.1.  V6.0.6 will be release next week.

[2016-10-07 07:51] arunvc commented on #1814
yes it doesn't work either, so its a datepicker issue
In chrome it doesn't work,

In firefox on date select focus is back to the date field and on next tab focus to next UI, which is some what acceptable behaviour.
https://jqueryui.com/datepicker/#alt-field

But  in firefox primefaces date control doesn't work the same way as in https://jqueryui.com/datepicker/#alt-field

[2016-10-07 07:51] #1814 closed, assigned to nobody

[2016-10-07 09:41] fpoulet73 opened #1816 "p:rowexpansion + datatable with p:columns ( dynamic)"
Issue when expand a row only when using dynamic columns.
The colspan is set to 0 in all case instead of the number of columns.
Work fine without dynamic columns.
## 1) Environment
- PrimeFaces version: 6.0.5
- Does it work on the newest PrimeFaces version? work on 5.3.17
- Application server + version:  Tomcat 8
- Affected browsers: Firefox
## 2) Expected behavior

Display correctly the expanded r

[2016-10-07 10:24] fpoulet73 commented on #1816
Added Infos
Just check the the code of RowExpandFeature.
It seems that table.getColumnsCount() does not return the correct value in case of dynamic columns.
I have replace the call of this method by a fix number and my issue is not there anymore

[2016-10-07 12:27] luizphilipi opened #1817 "Schedule: Update to new version of Fullcalendar (3.9.0)"
In version [3.0.0](https://github.com/fullcalendar/fullcalendar/releases/tag/v3.0.0) Fullcalendar has a new feature, List View. This will improve user experience a lot.

[2016-10-07 13:27] kukel commented on #1806
search stackoverflow also mentioned there

[2016-10-07 13:28] kukel commented on #1793
why do you need overriding? What is the problem you have or what do you want to achieve?

[2016-10-07 14:16] outlinedspider commented on #1787
Hmmmmm, unless there's another fix, pressing esc still doesn't work for us.  We've added the suggested fixes from github and closing the menu list isn't keyboard accessible.  If you need, I can send our xhtml and java files.

Thanks!!

Anna

Sent from Outlookhttp://aka.ms/weboutlook

---

From: mertsincan notifications@github.com
Sent: Friday, October 7, 2016 12:38 AM
To: primefaces/primefaces
Cc:

[2016-10-07 16:25] snagel86 commented on #1806
nothing found, sorry.

[2016-10-07 16:27] tandraschko commented on #1806
I can't run your sample as i don't have the AudioServiceBean.
I think your stream is null or empty.
Debug please or reopen if you can provide a sample which i can run.

[2016-10-07 16:27] #1806 closed, assigned to tandraschko

[2016-10-07 16:46] snagel86 commented on #1806
I run this in a wildfly 8.2 connected with a derby database. I used that to save a mp3 file as byte [] in database. I already debugged. It is not empty or null. And as mentioned, it's running with primefaces verion 5.3, but not in 6.0. I just like to use some features from 6.0

package de.almost.magic.services;

import java.io.Serializable;

import javax.ejb.LocalBean;
import javax.ejb.Stateless;

[2016-10-07 16:50] tandraschko commented on #1806
We can do it 2 ways:
- you provide a complete sample app (your code above contains entitymanagers etc. - i would need 1 hour to get a working example)
- debug and check which exceptions on which line occurs

otherwise i can't help you.

[2016-10-07 17:11] snagel86 commented on #1806
class: org.primefaces.application.resource.StreamedContentHandler

while ((length = (inputStream.read(buffer))) >= 0) {
line 97 --->                externalContext.getResponseOutputStream().write(buffer, 0, length);
                    }

catch(Exception e) {
                logger.log(Level.SEVERE, "Error in streaming dynamic resource. {0}", new Object[]{e.getMessage()});
                throw ne

[2016-10-07 17:14] snagel86 commented on #1806
I saw, that there is a re-implementaion in session handling between primefaces 5.3 and primefaces 6.0 in this class. There must be something wrong

[2016-10-07 17:17] tandraschko commented on #1806
Works actually fine.
We only changed one thing:
Pre 6.0:
the EL-ExpressionString is encryped and passed via the URL
6.0:
the EL-Expression string is stored into the session and a UUID is passed to the URL

Would be great if you could analyze it.

[2016-10-07 19:12] erickdeoliveiraleal commented on #1817
I think it will not be updated for now because FullCalendar uses jQuery 2 and PF uses 1.9, also FullCalendar 3 does not support IE 8, which is a requirement for now in PF.

[2016-10-07 19:13] erickdeoliveiraleal commented on #1817
https://github.com/fullcalendar/fullcalendar/releases/tag/v3.0.0

[2016-10-07 19:21] tandraschko commented on #1817
exactly! we can plan for the future.

[2016-10-07 22:51] luizphilipi commented on #1817
Ok, thanks for the quick response.

[2016-10-08 02:41] jxmai opened #1818 "calling ClearFilters on DataTable without filter - No error was thrown but something failed internally"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version: Primefaces v5.3
- Does it work on the newest PrimeFaces version? No, it failed on v6.0.x
- Application server + version: Tomcat v8.0
- Affected browsers: Firefox v49.0 (Browser version is irre

[2016-10-08 06:47] tandraschko commented on #1808
So we should

[2016-10-08 06:47] #1808 closed, assigned to tandraschko

[2016-10-08 12:35] ModestinoAndre opened #1820 "PanelGrid: support new grid classes (ui-g)"
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version?  NO
- Application server + version: TomEE 7.0 Plus
- Affected browsers: ALL
  2) Expected behavior: Responsive Layout

p:panelGrid does not work with the new Grid CSS classes (ui-g-*), it only works with the old Grid CSS (ui-grid-col-*).

`E.g.:`

[code]

[2016-10-08 19:09] #1818 closed, assigned to tandraschko

[2016-10-10 01:36] JaviRpo opened #1821 "Combining operation between p:hotkey and p:commandButton - p:commandLink"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? new feature
- Application server + version: ALL
- Affected browsers: ALL
## 2) Expected behavior

I generally use a **p:commandButton**/**p:commandLink** and add an additional component **p:hotkey** to do the same action of the **p:commandButton**/**p:commandLink**, but this requires repeat functionality b

[2016-10-10 09:04] ludekz opened #1822 "Dialog: Introduce new event to catch the dynamic contentLoad via p:ajax"
Dynamic p:dialog (with dynamic="true") updates autoUpdate component. Some other components have attribute ignoreAutoUpdate, that prevents ajax request from updating autoUpdate,  It will be handy if p:dialog also has ignoreAutoUpdate attribute.

[2016-10-10 11:05] #1799 closed, assigned to tandraschko

[2016-10-10 11:05] tandraschko commented on #1799
Merged, thanks!

[2016-10-10 11:25] tandraschko commented on #1654
@slovi ping :)

[2016-10-10 11:39] tandraschko commented on #1775
Merged, thanks!

[2016-10-10 11:39] #1775 closed, assigned to tandraschko

[2016-10-10 16:12] #191 closed, assigned to nobody

[2016-10-10 16:32] cagataycivici opened #1823 "New TextEditor Component"
Deprecate p:editor in favor of p:textEditor based on Quill

[2016-10-10 17:48] #1823 closed, assigned to cagataycivici

[2016-10-11 00:53] grburgos commented on #975
Any updates on this feature?

[2016-10-11 07:28] arunvc opened #1824 "data table edit row"
## 1) Environment

http://www.primefaces.org/showcase/ui/data/datatable/edit.xhtml
## 4) Steps to reproduce
1. Edit the first row,
2. Remove the value in year field, ie make it blank
3. Save

java.lang.IllegalArgumentException

[2016-10-11 08:47] tandraschko commented on #1823
You know that quill is only compatible with IE11 and does not work with our license (AFAICS)?

[2016-10-11 08:55] tandraschko commented on #1805
Reverted it as it won't work. Neither Part or FileItem (childs of Native/DefaultUploadedFile)

[2016-10-11 09:46] lcanalesmayo commented on #1793
I need to override pagination events in order to go forward/backward X pages in one click, where X is obtained from an internal business logic method.

[2016-10-11 11:00] cagataycivici commented on #1823
Quill works for me on chrome and ff as well, also license is bsd which is compatible with Apache.

[2016-10-11 11:11] mertsincan opened #1825 "Wrong value submitted on copy-paste on inputNumber"
Reported by PRO User;

[2016-10-11 11:14] tandraschko commented on #1823
Yeah thats true but does that mean, that we slightly drop older IE versions?
Oh, great that the license works!

[2016-10-11 11:24] #1825 closed, assigned to nobody

[2016-10-11 12:21] mertsincan commented on #55
This issue is fixed; #1472

[2016-10-11 12:21] #55 closed, assigned to nobody

[2016-10-11 13:30] #1770 closed, assigned to nobody

[2016-10-11 14:55] mertsincan opened #1826 "Security issue on ResourceHandler"

[2016-10-11 14:57] #1826 closed, assigned to nobody

[2016-10-12 10:50] martin654 opened #1827 "[perf] SearchExpressionFacade should not use VisitTree"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? no
- Application server + version: Tomcat 8.0 (also tested on WAS 8.5.5 and it is the same)
- Affected browsers: All
## 2) Expected behavior

Page is loaded with Primefaces 6.0 at the same speed as in 5.3
## 3) Actual behavior

Page loading takes much more longer. In given example it takes approximately 3-

[2016-10-12 11:19] tandraschko commented on #1827
The following happens in trunk:

1) OutputLabelRenderer calls SearchExpressionFacade#resolveComponent without a option
2) #resolveComponentById is called with Options.None
3) !isOptionSet(options, Options.VISIT_UNRENDERED) is evaluated to false
4) ComponentTraversalUtils#firstById is called with skipUnrendered=false

This means that 3) is wrong and should be without "1". Right?

[2016-10-12 11:30] cagataycivici commented on #1823
No but for editor we can make an exception I guess.

[2016-10-12 11:40] martin654 commented on #1827
1) yes
2) yes
3) isOptionSet(options, Options.VISIT_UNRENDERED) is evaluated to false, and !isOptionSet(options, Options.VISIT_UNRENDERED) is evaluated to **TRUE**
4) ComponentTraversalUtils.firstById is called with skipUnrendered = true (in version 5.3 it was called with skipUnrendered = false) and this causes different behaviour (calling visitTree)

[2016-10-12 11:46] tandraschko commented on #1827
Hmm, so i don't understand why it would be slower.
skipUnrendered=true should bring the better performance.

if skipUnrendered is set, we pass VisitHint.SKIP_UNRENDERED (which should be faster). Everything else is the same.
Could it be that the call to ComponentTraversalUtils#firstById results in null in your case?

[2016-10-12 11:55] martin654 commented on #1827
Well, that is the problem :) It should be faster but it is not. (I found your comment in the issue https://github.com/primefaces/primefaces/issues/1102 that it should improve performance).

The issue is related with the size of component tree and the fact, that ComponentTraversalUtils.firstById method goes through different path.

I think, that with a big number of components (in this case the pro

[2016-10-12 11:56] vonnai opened #1828 "DataTable filter: prevent submit on LEFT,RIGHT,HOME... keys"
## 1) Environment
- PrimeFaces version: 6.0.5
- Does it work on the newest PrimeFaces version? No
- Application server + version: Apache Tomcat 7, JSF 2.2.18
- Affected browsers: All
## 2) Expected behavior

If I write filtering pattern and I press keys LEFT, RIGHT, HOME, END, CTRL+LEFT, CTRL+RIGHT on keyboard, datatable will not filter. There could be prevent form submit on LEFT, RIGHT, HOME, END

[2016-10-12 12:01] tandraschko commented on #1827
Could you please do me a favor and provide 4 screenshots from your results:
1) newest mojarra + skipUnredered=true
2) newest mojarra + skipUnrendered=false
3) newest MyFaces + skipUnredered=true
4) newest MyFaces + skipUnrendered=false

all tests with ProjectStage=Production

The problem could be that isRendered evaluation is not cheap all the time as EL needs to be evaluated sometimes.
In this ca

[2016-10-12 12:29] martin654 commented on #1827
I do those tests in our production app on a test page. I am afraid that testing MyFaces won't be as easy as just updating POM, but I will try.

ProjectStage is (and was) set to production.

The screenshot above is a **case 1)**. Mojarra version 2.2.12 and Primefaces 6.0 (skipUnrendered evaluated to true)

**case 2)**. Mojarra version 2.2.12 and Primefaces 5.3 (skipUnrendered evaluated to false):

[2016-10-12 13:08] tandraschko commented on #1827
Yep i see. There's a huge different in the visitTree and invokeOnComponent API.
Will rename the VISIT_UNRENDERED a little bit and always use invokeOnComponent.

[2016-10-12 13:14] martin654 commented on #1827
That is great news, that it will be fixed 👍

Will it be fixed in milestone 6.1 or sooner in a minor PF version?

Thak you for your time.
Martin

[2016-10-12 13:28] tandraschko commented on #1827
Not sure, we can ping @mertsincan about that :)
As the behavior is a little bit different now, i personally would not push it into a bugfix version.

[2016-10-12 13:28] #1827 closed, assigned to tandraschko

[2016-10-12 13:35] ludekz commented on #1822
Hello, I'm not sure that the new title addresses what I meant.

I have global messages:
`<p:messages id="globalMessages" showDetail="true" autoUpdate="true" closable="true"  />`
and then dialog:
`<p:dialog id="helpdeskDlg" modal="true" resizable="false" fitViewport="true" dynamic="true" closeOnEscape="true" onHide="dialogClose()">...`

If there is a message shown and user open the dialog, the mess

[2016-10-12 13:47] mertsincan opened #1829 "FontWeight option has not effect for labelOptions on Chart"
Test code;

[code]

[2016-10-12 14:07] #1829 closed, assigned to nobody

[2016-10-12 14:30] tandraschko commented on #1822
You would like to have a new attribute ignoreAutoUpdate.
We don't add such attributes directly on the component in normal case as it's possible via p:ajax.
So you can probably use something like this in the future:
`<p:dialog>
   <p:ajax event="loadContent" ignoreAutoUpdate="true" />
</p:dialog>`

[2016-10-12 15:32] jxmai opened #1830 "Primefaces extension ckeditor throws error when clicking an ajax=false button after the editor was updated"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
  ## 1) Environment
- PrimeFaces version: Primefaces 6.0.5
- Does it work on the newest PrimeFaces version? No
- Application server + version: Tomcat v8.0
- Affected browsers: Chrome v53.0.2785.143 (64-bit)
  ## 2) Expected behavior

[2016-10-12 15:35] tandraschko commented on #1830
Please use the PrimeFaces Extensions github.
Also note: PrimeFaces Extensions is a community based project, so please provide a PR to fix it, too.

[2016-10-12 15:35] #1830 closed, assigned to nobody

[2016-10-12 15:43] jxmai commented on #1830
Thanks for the fast response. This issue has been redirected to https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/412.

This issue was causing by a null pointer, but I have not figured out the cause of it. Will provide a PR if I figure it out :)

[2016-10-12 19:02] geziefer opened #1831 "Dock: animation behaviour fault when scrolling page"
## 1) Environment
- PrimeFaces version: 5.3
- Does it work on the newest PrimeFaces version? no
- Application server + version: Tomcat 7
- Affected browsers: recent versions of Chrome, Firefox, Edge, IE
## 2) Expected behavior

When using a dock menu positioned on the bottom, it is expected that it behaves the same regardless being on a short page which fits into browser window or on a long page w

[2016-10-12 20:35] jxmai opened #1832 "p:textEditor not compatible with ajax update and file download"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version: Primefaces v6.0.6
- Does it work on the newest PrimeFaces version? No
- Application server + version: Tomcat v8.0
- Affected browsers: Chrome v 53.0.2785.143 (64-bit)
## 2) Expected behavior

[2016-10-12 21:17] tandraschko commented on #1823
ok :)
Can i close all the editor ticket and comment that it's deprecated?

[2016-10-13 12:28] fkjaekel commented on #1832
I can confirm issue 1. I'm using Modena Theme + Layout.

[2016-10-13 20:00] jxmai commented on #1824
Confirmed. But this is not a valid **Primefaces core** issue ticket I guess (It should be redirected to the showcase).  One way to solve this issue is to put a validation annotation on the field.

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/19364842/85d60da4-9155-11e6-8b86-dd4087b507a3.png)

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/19364888/c0f60c86-915

[2016-10-14 15:01] Nikoas83 opened #1833 "Datatable with lazyDataModel lost selections on pagination"
## 1) Environment
- PrimeFaces version: 5.3
- Does it work on the newest PrimeFaces version? I can't test with 6.0 (and earlier 5.X) but it seems this is not in bugFixes of release notes
- Application server + version: Widlfly 9.0.2
- Affected browsers: All

All are explained on this topic : [http://forum.primefaces.org/viewtopic.php?f=3&t=47224&p=147483#p147483](url)
## 2) Expected behavior

In d

[2016-10-15 23:52] JaviRpo opened #1834 "p:dialog bad renderer combined with p:blockUI"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version?
- Application server + version: All
- Affected browsers: All
## 2) Expected behavior

The p:dialog render normally combined with p:blockUI
...
## 3) Actual behavior

I want to block the p:dialog when a event of p:commandButton is present, but when i put a p:blockUI to block the p:dialog the dialog render b

[2016-10-16 00:29] JaviRpo opened #1835 "Sticky: allow stacking of multiple sticky components"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version?
- Application server + version: Tomcat 8
- Affected browsers: All
## 2) Expected behavior

When i have tow or more p:sticky components these could be staked one after the other
...
## 3) Actual behavior

The second p:sticky component is placed above the first p:sticky component.
![image](https://cloud.gith

[2016-10-16 23:07] JaviRpo opened #1836 "Dialog: modal should block page scroll"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version?
- Application server + version: Tomcat 8
- Affected browsers: All
## 2) Expected behavior

When i open a p:dialog with modal="true" attribu

[2016-10-17 00:08] JaviRpo opened #1837 "p:panelGrid with layout="grid" attribute doesn't work with <p:row> and <p:column> tags"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version?
- Application server + version: Tomcat 8
- Affected browsers: All
## 2) Expected behavior

Have the same initial rendering with DIV as with TABLE. In other words, i want to have a responsive panel grid with different colspan.
...
## 3) Actual behavior

p:panelGrid without layout attribute:
![image](https:/

[2016-10-17 07:23] christophih commented on #1689
Could you please solve this issue in one of the next ELITE releases?

[2016-10-17 07:56] mertsincan commented on #1689
I'll work on this issue.

[2016-10-17 12:03] erickdeoliveiraleal opened #1838 "Update Quill Editor to 1.1.5"
https://github.com/quilljs/quill/compare/v1.0.6...v1.1.5

[2016-10-17 14:22] Julienng opened #1839 "[OMEGA][StepsMenu] Label isn't visible on active step on stepmenu with the interactive mode"
The color of font is `white` with omega when the css `.ui-steps .ui-state-highlight span` is set.
On interactive mode of `stepmenu`, the label is not visible because there is no background-color for `ui-steps-title`.

![image](https://cloud.githubusercontent.com/assets/8990614/19441355/c34ee286-9485-11e6-96b8-440b7c86cab8.png)

You can see the problem on the showcase : [stepMenu](http://www.primef

[2016-10-17 14:43] tandraschko commented on #1834
Not sure if it's valid. Dialog modal=true should do the same as blockUI and shoudln't be used together.

[2016-10-18 06:10] mertsincan opened #1840 "Add unselectable attribute to SelectOneButton"
Default value is true. If false, user can not remove selection on selected button after selecting a button.

[2016-10-18 06:12] #1840 closed, assigned to nobody

[2016-10-18 08:19] martin654 commented on #1827
@mertsincan could you include this fix for 6.0.7 please?

[2016-10-18 15:16] tandraschko commented on #1839
Not a core bug, just a custom style bug in the showcase. Fixed it in the showcase -> https://github.com/primefaces/showcase/commit/7cfa75fc5dadbccb2f33de7659caa8ae361976e0

[2016-10-18 15:16] #1839 closed, assigned to nobody

[2016-10-18 15:17] tandraschko commented on #1834
Will close it for now.

[2016-10-19 00:26] JaviRpo commented on #1834
The idea is block the p:dialog when the user do click in p:commandButton inside the p:dialog to prevent the user close it while the p:commandButton's action is process.

Can you thing about the validity of the issue?

[2016-10-19 07:08] maol74 commented on #60
What is the status on this, this is a most needed feature?

[2016-10-19 08:20] mertsincan opened #1841 "Clientside validation issue on InputNumber"
Reported by PRO User;

[2016-10-19 08:25] #1841 closed, assigned to nobody

[2016-10-19 08:41] tandraschko commented on #1834
Done. Feel free to provide a PR to fix the issue.

[2016-10-19 10:25] mertsincan opened #1842 "Update description of type attribute on InputNumber"
`<description>Input field type. Valid values are "text"(default), "tel" and "hidden".</description>`

AutoNumeric API;

[2016-10-19 10:26] #1842 closed, assigned to nobody

[2016-10-19 10:33] ghost opened #1843 "Encoding problem for the first request when using ajax="false" on p:commandButton"
## 1) Environment
- PrimeFaces version: 6
- Does it work on the newest PrimeFaces version? Tested with version 6 provided by maven
- Application server + version: WildFly 10.1
- Affected browsers: Reproduced with Chrome 54.0.2840.59, Firefox 45.4.0, Internet Explorer 11
- Language setting: de_DE
- Operating systems tested: Windows 7 and Red Hat Enterprise Linux
## 2) Expected behavior

A form subm

[2016-10-19 10:44] tandraschko commented on #1843
does it work with h:commandButton?

[2016-10-19 10:47] ghost commented on #1843
Hello @tandraschko,

thanks for the quick reply. h:commandButton does not work either.

[2016-10-19 10:48] tandraschko commented on #1843
Also not with h:commandButton and h:inputText?
I don't think this is an PF issue.
You just need to set the encoding stuff...

[2016-10-19 10:50] dylannlaw opened #1844 "rowToggle action reset selectOneMenu value in rowExpansion"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version?
- Application server + version: Tomcat 8.0.36
- Affected browsers: Safari, Chrome
## 2) Expected behavior
- Value in selectOneMenu should remain there.
## 3) Actual behavior
- Value in selectOneMenu went missing.
## 4) Steps to reproduce

 I have selectOneMenu and inputText in my rowExpansion. Whenever I u

[2016-10-19 15:19] marklcg commented on #1806
I ran into this issue myself with PDF files.  Looking at the code, they added the token to 6.0 as @tandraschko  explained.  I suspect as a security enhancement?  Anyhow, the problem is when the resource is requested a second time because the key is removed the first time it is used.  Adobe plugin in IE results in a second request as does Chrome when you click download to download the PDF.  I suspe

[2016-10-19 15:59] ppalanisami opened #1845 "textEditor does not work in IE11"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version:6.0.6
- This is the latest version of Primefaces.
- Tomcat 8
- Affected browsers: IE 11
## 2) Expected behavior

The text editor should behave as same as in Chrome and Firefox.
## 3) Actual beh

[2016-10-19 16:56] tandraschko commented on #1806
Ohh, so IE doesn't reload the page but it does reload the images? Hmm, that could be really a problem in some cases.
cache=true isn't perfect for all cases.

[2016-10-19 16:56] tandraschko commented on #1806
And yes, it's a security enhancement.

[2016-10-19 17:50] tandraschko opened #1846 "Dynamic resource loading should ignore non-postback ajax requests"
Otherwise e.g. when you do a ajax request without form, all resources will be loaded again.

[2016-10-19 17:55] #1846 closed, assigned to tandraschko

[2016-10-19 18:01] tandraschko opened #1847 "Dynamic resource loading should ignore update=@all"
As the head (including all resources) will already be rendered

[2016-10-19 18:13] #1847 closed, assigned to tandraschko

[2016-10-19 18:26] tandraschko commented on #1769
Should be fixed, would be great if you could give it a try.

[2016-10-20 07:43] tandraschko commented on #1843
Never faced encoding problems, so will close it for now.

Things that i useually have in my applications:
- `<f:view contentType="text/html;charset=UTF-8" encoding="UTF-8">`
- `<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />`
- A Character Encoding Servlet Filter

[2016-10-20 07:43] #1843 closed, assigned to nobody

[2016-10-20 07:46] tandraschko commented on #1836
JFYI: https://github.com/primefaces/primefaces/issues/200

[2016-10-20 09:35] mauromol opened #1848 "MenuItem: using p:confirm with fixed navigation outcome"
## 1) Environment
- PrimeFaces version: 6.0
- Application server + version: Tomcat 8.0.14
- Affected browsers: Firefox 49.0.1
## 2) Expected behavior

Since PF 5.2 p:confirm is supported for p:menuItem as well.
I expect to be able to use it when the outcome is fixed, i. e. I provide a navigation outcome without any real action to perform. For example, just like I can do:

[code]

I would like to d

[2016-10-20 09:48] andrei-ivanov commented on #1810
I think the new `options` parameter is not used in `org.primefaces.component.export.ExcelExporter.export(FacesContext context, List<String> clientIds, String filename, boolean pageOnly, boolean selectionOnly, String encodingType, MethodExpression preProcessor, MethodExpression postProcessor, ExporterOptions options)`

[2016-10-20 11:05] mertsincan opened #1849 "Queued ajax requests processed on page navigation"
Reported by PRO User;

[2016-10-20 11:08] #1849 closed, assigned to nobody

[2016-10-20 11:10] tandraschko commented on #1849
@mertsincan To be honest, i don't like the fix at all as it just fixes our queue if primefaces non-ajax posts are done.
If the user uses another component (like h:commandButton, b:commandButton, ...), the queue won't be cancelled.
Can't we do it with "onbeforeunload"? Or is it to late?

[2016-10-20 12:43] mertsincan opened #1852 "KeyFilter allow input outside given regEx on Chrome and IE"
Reported by PRO User;

[2016-10-20 12:45] #1852 closed, assigned to nobody

[2016-10-20 13:41] stiemannkj1 commented on #1769
@tandraschko, Thanks! This works correctly, but there is still a weird issue (reproducible in webapps) where CSS files are not loaded. Using my example **`.xhtml`** files, you should be able to reproduce this.

[2016-10-20 13:53] tandraschko commented on #1769
Sorry to needle you instead trying the example :P (I currently @work, so i can't now)
I guess it will work fine when you use action="view2.xhtml?faces-redirect=true"?

The problem is that we can't execute our dynamic loading on the client when primefaces.js is NOT available on the view.
We also can't fix it that easily.
I guess it will also not load the styles/script with 5.3.

Workaround would be

[2016-10-20 14:43] stiemannkj1 commented on #1769
Yep, `faces-redirect=true` works fine, but that isn't really related to this bug. That's another good workaround though.

I just tested this, and you are correct. Although it seems like the necessary CSS should be added to the `<head>` section (in the partial response), and everything should work. I'm not sure why it doesn't. It seems like **`theme.css`** is loaded, but I'm not sure why some of th

[2016-10-20 14:45] stiemannkj1 commented on #1769
@tandraschko, do you think the new issues that I mentioned above should be considered to be a different bug (that happens to have the same workaround)?

[2016-10-20 14:56] mertsincan opened #1853 "XSS vulnerabillity on legend of Chart"
Added legendEscapeHtml options to chart model.

[code]

[2016-10-20 14:58] tandraschko commented on #1769
Will check it again :)

[2016-10-20 18:39] rmoyersrfd opened #1854 "CellEditor Doesn't Update Model For SelectBooleanCheckbox and SelectOneRadio"
Within a p:dataTable with pagination, p:cellEditor containing p:selectBooleanCheckbox and/or p:selectOneRadio, no update of the bound data happens if pagination controls are used.

Notice that p:inputText and p:selectOneMenu DO work properly if pagination controls are used.

This is 100% reproducible with PF 5.3.17 and PF 6.0.6

For example, using the sample XHTML below, check one or more of the c

[2016-10-20 18:47] jxmai commented on #1854
Is it related to the following reference ? (reference: http://stackoverflow.com/questions/27862661/selectbooleancheckbox-in-editable-datatable-doesnt-change)

[2016-10-20 19:40] #1853 closed, assigned to nobody

[2016-10-20 23:15] rmoyersrfd commented on #1854
I have solved this problem. The input controls need to have a `<p:ajax ... />` nested within them. For example:

[code]

If the page has multiple input controls, then ALL controls need the p:ajax

Furthermore, the p:cellEditor are not really needed. I think the page looks better without them. The code is certainly cleaner without the cellEditor. For example:

[code]

That's just my taste, though.

[2016-10-20 23:20] rmoyersrfd commented on #1854
Here is the little test project I built for this.

[RFDPF1854.zip](https://github.com/primefaces/primefaces/files/543168/RFDPF1854.zip)

[2016-10-21 06:10] ghost commented on #1843
Hallo @tandraschko,

thank you for all the information, but it does not work when using h:commandButton and h:inputText also. An encoding filter is not used, but all needed header values and meta tags are set.
I can reproduce the reported error for the "real" application only if version 6 of PF and PF extensions is used. The only difference in the application between correct and erronous behavior

[2016-10-21 06:22] supergamestone opened #1855 "There are some problems on the frozen column data table at a special case"
1) Environment
- PrimeFaces version:
  -- 5.3   6.0
- Does it work on the newest PrimeFaces version?
  -- No
- Application server + version:
  -- WebLogic Server 12.1.2.0.0
- Affected browsers:
  -- Google Chorme
![image](https://cloud.githubusercontent.com/assets/17096860/20255892/8bb162d6-aa83-11e6-8f16-d2bb08b37258.png)
![image](https://cloud.githubusercontent.com/assets/17096860/20255942/d4b4a

[2016-10-21 07:26] tandraschko commented on #1843
Your example works for me, therefore i closed it.
If you could provide a simple maven+jetty application which shows the behavior, also with the settings i mentioned above, please come back and reopen :)

[2016-10-21 07:45] tandraschko commented on #1769
It's a actually a bug or not implemented feature how mojarra handles the `<update id="javax.faces.ViewRoot">`
It works fine with myfaces.
Also its not reloaded to the dynamic resource loading as it isn't active in this case.

[2016-10-21 07:45] #1769 closed, assigned to tandraschko

[2016-10-21 12:36] ppalanisami opened #1856 "Not possible to copy and paste image in Text Editor"
# IMPORTANT

Unable to copy and paste the image on Text Editor.
## 1) Environment
- PrimeFaces version: 6.0.6
- Does it work on the newest PrimeFaces version? 6.0.6 is the new version.
- Application server + version: Tomcat 8
- Affected browsers: Chrome & Firefox
## 2) Expected behavior

When copy an image it should be possible to place directly on the text editor.
## 3) Actual behavior

Currently

[2016-10-21 13:22] marklcg commented on #1806
Yeah, I think it's the plug-in's causing the second request in the case of Adobe on IE or the video player the OP's case.  A simple case to demonstrate the issue is to use Chrome and stream a PDF.  It will render right, but if you click the download option in Chrome to save the PDF off, you'll see that the PDF is an empty file because the request was not filled.  I agree, cache=true is a workaroun

[2016-10-21 13:26] tandraschko commented on #1806
Please create a new issue for it. The discussion is unrelated to the original issue.

[2016-10-21 13:47] mertsincan opened #1857 "Duplicate text on TextEditor"
Reported by PRO User;

[2016-10-21 13:53] #1857 closed, assigned to nobody

[2016-10-21 20:40] marklcg commented on #1806
Sure, I can do that, although the OP may find its the root of his issue.

[2016-10-22 14:43] marklcg opened #1858 "StreamedContent handler security fix in 6 breaks some media handling"
## Environment
- PrimeFaces version: 6.0 (verified in 6.0.6 too)
- Does it work on the newest PrimeFaces version? No
- Application server + version: JBoss EAP 6.4
- Affected browsers: All
## Expected behavior

When streaming a PDF or other media, a second request for the same URL should produce the same streamed content.  Multiple requests occur when using standard browser plugins/features for med

[2016-10-22 14:45] marklcg commented on #1806
Issue #1858 created with example to reproduce.

[2016-10-23 18:24] zeeshanrb opened #1859 "p:graphicImage gives NoSuchMethodError after migrating to 6"
My Application was able to render dynamic jpeg images with Primefaces 5.3. Once i migrated to 6.0, my dynamic p:graphicImages are giving NoSuchMethodError related to EL.
## 1) Environment
- PrimeFaces version: 6
- Does it work on the newest PrimeFaces version? NO
- Application server + version: Weblogic11g
- Affected browsers: IE,Chrome,Firefox
## 2) Expected behavior

Should support EL 2.1, as pr

[2016-10-24 08:01] tandraschko commented on #1859
javax.el.ValueReference was introduced in EL 2.2 and should not be available in your environment?
So i can't fix in it all cases....

[2016-10-24 08:18] tandraschko commented on #1859
I fixed in the normal cases, everything else requires EL 2.2. Please try.

[2016-10-24 08:41] #1844 closed, assigned to nobody

[2016-10-24 09:36] mertsincan commented on #1849
@tandraschko,  I added the following event into core.ajax.js;

[code]

Cağatay said users can add "PrimeFaces.onPost();" method to other components(h:commandButton etc.)

[2016-10-24 10:55] martin654 commented on #1827
@mertsincan ping ;-)

[2016-10-24 15:39] zeeshanrb commented on #1859
So does this mean that EL2.0 is not supported entirely by primefaces 6 ?

[2016-10-24 15:49] zeeshanrb opened #1860 "c:forEach inside p:tab does not work"
I am using primefaces 6, JSf2.0, jstl 1.2 on Weblogic server. I have an xhtml page where i want to display panels dynamically inside a Tab. The panels should behave like a Dashboard, so i have put the panels inside a dashboard tag.

My problem is that c:forEach is not able to get values from the items I want to iterate. It is confirmed that my "items="${cg.charts}" is of List type and does have ob

[2016-10-24 16:38] tandraschko commented on #1859
Partially. You can't use p:graphicImage in composite components when you pass the expression when you use < EL 2.2.

[2016-10-25 11:51] tandraschko commented on #1860
ui:repeat won't work by design and AFAIR jstl/mojarra integration was very bad in that old versions.
Would you please try a new mojarra version? 2.0.9 is very very old...

[2016-10-25 11:56] #1859 closed, assigned to tandraschko

[2016-10-25 16:21] cipriandobra opened #1861 "Update attributes should skip unrendered components"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? This is the latest public version
- Application server + version: Glassfish 4.1.1
- Affected browsers: Firefox (but is not browser related)
## 2) Expected behavior

In function `WidgetVarExpressionResolver.resolveComponent` I expect that the traversal of the view's component tree should skip the unrendered

[2016-10-26 06:48] vbors commented on #899
In fitViewport function there is a  problem with getting right sizes if the dialog has dynamic = "true",  because dialog is hidden.

my solution was:
`var innerPadding;
  var titleHeight;
  if (!this.isVisible()) {
      this.jq.show();//show to get size(for hidden is not right size)
      titleHeight = this.titlebar.innerHeight();
      innerPadding = this.content.innerHeight() - this.content.hei

[2016-10-26 07:04] vbors opened #1862 "Dialog with fitViewport = true, is not resized on windows resize"
## 1) Environment
- PrimeFaces version: 6.0
- Affected browsers: Chrome, Firefox (tested)
## 2) Expected behavior

If Dialog has attribute fitViewport  = true,
For After resize windows the dialog must be resized to fit height of new windows.
...
## 3) Actual behavior
1. Now when resizing windows it  only adjusts the position
   `bindResizeListener: function () {
       var a = this;
       $(windo

[2016-10-27 07:42] dani-easydevel commented on #985
Hi,
Did someone find the solution ? I have the same issue and tried some css tests, but not working...
Its a problem on rendering the inputswitch, sure.

And I want to avoid the `dynamic="true"` solution.

Thanks in advance

[2016-10-27 11:16] cagataycivici opened #1863 "TreeTable pagination throws exception"
Reported by a PRO user;

We are getting an exception in the TreeTable when  the number of nodes is not a multiple of the pageSize and we are navigating to the last page. ie pageSize = 5 and numberNodes = 19
The exact exception is below:

java.lang.IndexOutOfBoundsException: Index: 19, Size: 19
at java.util.ArrayList.rangeCheck(ArrayList.java:653)
at java.util.ArrayList.get(ArrayList.java:429)
at o

[2016-10-27 11:56] #1863 closed, assigned to cagataycivici

[2016-10-28 09:25] andrei-ivanov commented on #1810
@mertsincan thoughts?

[2016-10-30 22:02] steinarb opened #1864 "In mobile, selecting selectOneMenu item with ajax update of inputText hangs with spinning cursor"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
## 1) Environment
- PrimeFaces version: 5.3, 6.0, 6.1-SNAPSHOT
- Does it work on the newest PrimeFaces version?
  No. I first encountered the issue in version 5.3, tried upgrading to 6.0, encountered the problem there as well, and t

[2016-10-30 22:24] slovi commented on #1654
Hi @tandraschko, sorry for not responding, I was busy. I prepared [testapp](https://github.com/slovi/myfaces_primefaces_uidata_issue) and found out the problem is in myfaces implementation. I created the issue in their bugtrack system https://issues.apache.org/jira/browse/MYFACES-4074. Very probably, fix of this issue will not have any impact to primefaces code. I think you can close the issue for

[2016-10-30 22:25] slovi commented on #1654
You can decline this pull request #1655

Jiri

[2016-10-31 08:41] tandraschko commented on #1654
all right, thank you :)

[2016-10-31 09:25] tandraschko commented on #1864
Sry but why do we need karaf? Normally users provide examples with maven/jetty ;)

[2016-10-31 09:42] lanse011 opened #1865 "No more "toggle" event from p:columnToggler"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No.
- Application server + version: Wildfly 10
- Affected browsers: Firefox and Chrome

## 2) Expected behavior

The p:columnToggler should trigger an ajax event "toggle" when used. It worked in PrimeFaces 5.x .

## 3) Actual behavior

The listener on the p:ajax component with the event "toggle" does not g

[2016-10-31 09:51] steinarb commented on #1864
I spent half Sunday trying to get an eclipse/tomcat setup working so that I could test the test application, and finally gave up and created the application in a form that works for me. :-)

But the important parts are the xhtml page and the bean, and they are self-contained, so changing the POM by removing the maven-bundle-plugin config should create a regular war.

I could do that but I don't ha

[2016-10-31 10:10] steinarb commented on #1864
Here's a primefaces mobile forum thread where I discuss this problem with myself: http://forum.primefaces.org/viewtopic.php?f=8&t=47803

Note the similarities to Issue #632 (but that issue should already be fixed in 6.0 or 6.1-SNAPSHOT...?).

[2016-10-31 10:26] martin654 opened #1866 "p:messages in ui:repeat not updated correctly"
## 1) Environment
- PrimeFaces version: 5.3, 6.0.6
- Does it work on the newest PrimeFaces version? no
- Application server + version: Tomcat 8.0
- Affected browsers: all

## 2) Expected behavior
**p:messages** with autoUpdate="true" in ui:repeat are updated on events

## 3) Actual behavior
p:messages placed in ui:repeat are not updated

## 4) Steps to reproduce
- When "Process input" button click

[2016-10-31 11:48] steinarb commented on #1864
Note also that debugging the beans from eclipse is extremely easy if karaf is started in the way described in the example (ie. with the "debug" argument):
1. Import the testcase as a maven project in eclipse https://github.com/primefaces/primefaces/issues/1864#issuecomment-257247874
2. Create a remote debug configuration in eclipse that connects to port 5005 localhost and looks in the imported tes

[2016-10-31 14:03] #1865 closed, assigned to nobody

[2016-10-31 19:13] stiemannkj1 opened #1867 "Exception when building from source"
### Steps to reproduce:

1. Clone the `maven-jsf-plugin`:

        git clone https://github.com/primefaces/maven-jsf-plugin

2. Build the `maven-jsf-plugin`:

        mvn clean install

3. Clone `primefaces`:

        git clone https://github.com/primefaces/primefaces

4. Build `primefaces` (**version `6.1-SNAPSHOT`**):

        mvn clean install

### Results

If the bug still exists, the followin

[2016-10-31 20:21] tandraschko commented on #1867
Could you please try to analyse the problem?
I also have it on my local machine but i don't know why. For me it occured after upgrading java on my linux mint 1-2 years before.
AFAIR it was a java bug when reading something from a jar's META-INF.
The file exists in the target, no idea.

[2016-10-31 22:25] stiemannkj1 commented on #1867
@tandraschko, the issue is happening because [you are trying to access the **`pom.properties`** file during testing](https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/config/PrimeConfiguration.java#L185). However, [that file is only available during and after the package phase](http://stackoverflow.com/questions/3886753/access-maven-project-version-in-spring-config-

[2016-10-31 22:42] stiemannkj1 opened #1868 "JavaScript errors and failures when rendering view"
## 1) Environment
- PrimeFaces version: `6.1-SNAPSHOT` ([commit `fabe6169`](https://github.com/primefaces/primefaces/commit/fabe616970d559e0dd89e1ea6cca023ab2c2d994) is the most recent commit which manifests this issue)
- Application server + version: Tomcat `8.0.32`
- Affected browsers: Firefox, Chrome

## 2) Expected behavior

View renders without JavaScript errors.

## 3) Actual behavior

View

[2016-10-31 22:44] stiemannkj1 commented on #1769
@tandraschko, got it. I will create a Mojarra issue for the CSS stuff not getting loaded. However, [what about the failures when `p:selectOneMenu` is included](https://github.com/primefaces/primefaces/issues/1769#issuecomment-255126215)? Are they related to this issue, or is it another bug?

[2016-11-01 02:35] stiemannkj1 commented on #1769
@tandraschko, I created [JAVASERVERFACES-4195](https://java.net/jira/browse/JAVASERVERFACES-4195) to track the CSS issue we discovered with ajax navigation.

[2016-11-01 08:42] mertsincan opened #1869 "Add CellEditInit feature to Datatable with editMode="cell""
An event is sent to server after clicking a cell and the input editor is filled with its content.

[2016-11-01 10:29] tandraschko commented on #1769
cool!
do you mean if p:selectOneMenu is included in the first page?
I guess this won't change anything as f:ajax is used and therefore the mojarra ajax client.

[2016-11-01 10:31] tandraschko commented on #1866
Does it work with MyFaces?
Also not sure if AutoUpdateable could work in ui:repeat correctly.

[2016-11-01 10:43] tandraschko commented on #1867
I moved the manifest creation to the normal build but this.getClass().getPackage().getImplementationVersion() is null.
Do you have experience with this stuff?
Solutions are to get the manifest manually but it's not very cool...

[2016-11-01 10:45] tandraschko commented on #1868
I think this is related to the upgraded jquery version for testing purpose. Will revert it the next days.

[2016-11-01 11:33] cagataycivici commented on #1858
I see but we should not keep it in session, @tandraschko @mertsincan what do you think? Right now we clear it after displaying the content which makes this work but link won't be bookmarkable to access again. Maybe we can add a configurable timer like after 10 minutes, they key gets removed.

[2016-11-01 11:37] #1868 closed, assigned to tandraschko

[2016-11-01 11:38] tandraschko commented on #1868
FIxed now

[2016-11-01 11:40] #1157 closed, assigned to nobody

[2016-11-01 11:42] tandraschko commented on #1358
Feel free to provide a prototype, i can help with polishing then.
I currently don't have any intentions to implement such a component.

[2016-11-01 11:43] tandraschko commented on #1712
any news?

[2016-11-01 11:46] tandraschko commented on #1858
i think the best way is to remove the "#remove" call and use a custom list implementation which removes the first entry, if the size is e.g. bigger as 250
They are just small expression strings, i think it should not harm to store some hundreds of them

[2016-11-01 12:57] #1869 closed, assigned to nobody

[2016-11-01 13:37] martin654 commented on #1866
No, not working with MyFaces too.

[2016-11-01 13:45] martin654 commented on #1866
The example I gave is simplified. The real world problem is that we have a composite component with dialog inside. In this dialog there is p:messages to display validation messages on dialog OK button. This composite is rendered on screen multiple times using ui:repeat.

[2016-11-01 13:50] Rildlanster commented on #1399
Annoying bug persisting in Primefaces 6.0. Happens when you use reflow="true". I think subtables are not made to be responsive.

[2016-11-01 14:45] stiemannkj1 commented on #1867
I think the problem is that the `MANIFEST.MF` does not get created until the package phase either. Maybe it'd be worth including a default `buildVersion` like `TESTING` when  `this.getClass().getPackage().getImplementationVersion() == null`. If you really want to get an accurate version while in the test phase, I think you will need to add a file like **`src/main/resources/example.properties`** fi

[2016-11-01 14:51] stiemannkj1 commented on #1769
No, I mean that if you put `p:selectOneMenu` on **`view2.xhtml`**, you will see errors when you navigate via ajax to **`view2.xhtml`**.

So basically, the problem I'm talking about has the same steps to reproduce and example code as [the original problem](https://github.com/primefaces/primefaces/issues/1769#issue-177881783) **except** **`view2.xhtml`**:

[code]

[2016-11-01 17:04] tandraschko commented on #1867
Thanks but fixed it a little bit different :)

[2016-11-01 17:04] #1867 closed, assigned to tandraschko

[2016-11-02 07:43] tandraschko commented on #1769
Yep, then it should be the same bug.

[2016-11-02 10:21] stiemannkj1 commented on #1769
Okay, can you reopen this issue then?

[2016-11-02 10:52] tandraschko commented on #1769
I mean that it should be the same mojarra bug :)

[2016-11-02 11:19] mertsincan opened #1870 "Improve omega styling for scrollPanel"

[2016-11-02 12:23] martin654 commented on #1827
@mertsincan could you include this fix for 6.0.8 please?

[2016-11-02 12:29] #1870 closed, assigned to nobody

[2016-11-02 12:40] tandraschko commented on #1861
Should work now, please give it a try.

[2016-11-02 12:40] #1861 closed, assigned to tandraschko

[2016-11-02 13:54] cipriandobra commented on #1861
I've rechecked the sample code from above and realized only now that just skipping the components that are not rendered could not solve the specific problem of the TabView since even if a tab is not rendered yet (because of a dynamic TabView) isRendered() will return true for it.
But this is an old problem related to TabView and how non-active tabs are visited and can be circumvented by a custom T