[2015-05-29 18:35] bsanders1979 opened #375 "Bug: Wizard"
When using the Wizard, the actionListener for a CommandButton within a tab beyond the first would not fire because the Wizard is only processing decodes for the first tab. The issue that I see here is that once Wizard.current has been lazily initialized, its value never changes.

See: http://forum.primefaces.org/viewtopic.php?f=3&t=42337

[2015-05-29 19:04] djmj commented on #362
Or `inputOnly` :D ...

or enhance it even more by rendering facet `input` lazy on row or cell edit enter event?
Makes the new attribute obsolete and initial saves DOM even if editable.

[2015-05-29 19:20] tandraschko commented on #374
ViewScoped or ViewAccessScoped? Its a big difference ;)

[2015-05-29 20:30] 99sono commented on #374
True,

But just to clarify:
org.apache.deltaspike.core.api.scope.ViewAccessScoped
:)

Thanks.

[2015-05-29 20:54] mores opened #376 "Schedule: server side logic should update event model for eventMove & eventResize"
( Original https://code.google.com/p/primefaces/issues/detail?id=6358 )

Some events in a schedule should be read only - users should be prevented from removing or modifying certain events.

[2015-05-29 21:46] tandraschko commented on #374
ViewScoped isn't supported by design and ViewAccessScoped integration in ResourceHandler requests is actually a DeltaSpike problem.

[2015-05-29 21:46] #374 closed, assigned to tandraschko

[2015-05-29 22:09] 99sono commented on #374
Hi there,
And many thanks for your feedback.

If you say that it is a DeltaSpike issue, I believe that you may very well be right.
However, looking at the PrimeFaces ResourceHandler, namely at the code where it sports that the request is targeting a Dnynamic resource, the primefaces code takes over and resolves the ValueExpression that was on the index.xhtml page.

I did not see that DeltaSpike wo

[2015-05-29 23:10] wsaca opened #377 "p:autocomplete multiple problem when validation failed"
Hello team,

My problem is this:

`<h:panelGroup id="panel">`
`<p:inputText value="..." required="true" />`
`<p:autocomplete value="..." required="true" multiple="true" ... />`
`<p:commandButton value="..." process="panel" update="panel" actionListener="..." />`
`</h:panelGroup>`

When I submit the panel, validation fails with inputText and after the panel is updated. When autocomplete is updated

[2015-05-30 02:02] sudheerj commented on #370
As you mentioned in the old issue post you have to change the first day on a calendar base instead of locale base.(for example 2 calendars on the same page with sunday and monday as first day).This is a   bit rare scenario and Cagatay may decide whether to provide this feature or not

[2015-05-30 07:14] devprime2 opened #378 "columnToggler flashing on the left top corner of window"
i'm using a dataTable using <p:columnToggler> and i've got some <p:commandButton> in ajax mode that update the form/dataTable at completion. When firing my buttons, the content of the toggler is printed and hided very fast like a flash in the let top corner of my page.

issue also reported in https://code.google.com/p/primefaces/issues/detail?id=8164
and in http://forum.primefaces.org/viewtopic.ph

[2015-05-30 07:39] tandraschko commented on #374
We stored the resource in the session before PF 3.0. Cagatay changed it by design -> https://code.google.com/p/primefaces/issues/detail?id=2073

[2015-05-30 09:51] rdebusscher commented on #374
See also as https://github.com/rdebusscher/AdvancedGraphicImageRenderer as another workaround to have the dynamic image when there is a scope image (like within a table, custom component, ...)

[2015-05-30 11:10] krisy opened #379 "TreeNode: selection vs. value bug"
Hi,

Working on WAS Liberty 8.5.5.5 with PF 5.1 (also tried PF 5.2 as well).
I used the code located on PF showcase Tree selection (http://www.primefaces.org/showcase/ui/data/tree/selection.xhtml), an modified it by adding :

`<propagateSelectionUp="false" propagateSelectionDown="false">`

I experienced the following:
- I selected a top level (parent) node, say: "Pictures"
- The `<selection>` fiel

[2015-05-30 12:03] cagataycivici commented on #368
[code]

does it for me.

[2015-05-30 12:03] #368 closed, assigned to nobody

[2015-05-30 14:16] sudheerj commented on #378
Not able to replicate the issue on latest showcase(runs on PF 5.3-SNAPSHOT).Can you try to replicate the same issue on showcase.

[2015-05-30 14:53] sudheerj commented on #379
The third point is not clear.Can you explain the issue in detail to replicate on showcase example.

[2015-05-30 15:19] sudheerj commented on #377
I tried to replicate the issue from above scenario(using latest showcase 5.3-snapshot).But all the autocomplete entries remained even after the panel update is completed.Can you make a step by step points to replicate the issue.

[2015-05-30 15:19] djmj opened #381 "EmptyMessage Facet for DataGrid"
Allow custom and more complex empty messages in datagrid defining optional facet for `emptyMessage`:

for good usability search interfaces with possible empty results should show clear indication for which input no results could be provided.

More advanced interfaces even provide more suggestions:
- Did you mean 'xy'? with a link button to invoke new search
- You may try one of these queries? ...

[2015-05-30 15:26] djmj opened #382 "Datatable column render state lost after row edit"
I have a datatable inside a composite component with a flag which triggers visibility of certain columns.

After a row editing event sometimes the cell dissapears  in case columns are rendered conditionally and at least one column exists which is not rendered.
(`<td></td>` is not rendered!)
# Cases:

All cells have celleditor inside.
## Initial table:

[code]

**Observation:** Everything works as

[2015-05-31 08:28] cagataycivici commented on #382
You can't use conditional column rendering with row edit as it will break table layout and display will be broken. Instead conditionally render the content.

Please use forum for questions like these.

[2015-05-31 08:28] #382 closed, assigned to nobody

[2015-05-31 08:32] cagataycivici commented on #381
Sounds good, will do.

[2015-05-31 08:35] cagataycivici commented on #377
I can't replicate.

[2015-05-31 08:36] #377 closed, assigned to nobody

[2015-05-31 08:38] cagataycivici commented on #370
Doesn't is already available via PrimeFaces.locales? Locale spefic configuration are done with PrimeFaces.locales. Please check.

[2015-05-31 08:40] cagataycivici commented on #376
There should better be an attribute like updateModelOnEvents="true|false". Where default is true and in your case I think it should be false. Can you confirm?

[2015-05-31 08:41] cagataycivici commented on #362
I plan to do the second one for 5.3, if that will do it marking this one as closed.

[2015-05-31 08:41] #362 closed, assigned to nobody

[2015-05-31 08:44] cagataycivici commented on #373
Watermark does not support this case as it is a javascript solution that conflicts with events of autocomplete, prefer a modern browser that supports placeholder attribute.

[2015-05-31 08:44] #373 closed, assigned to nobody

[2015-05-31 08:45] cagataycivici commented on #372
Please use forum first and in future provide more information with a more clear description. In my local test with 5.3, preselection works.

[2015-05-31 08:45] #372 closed, assigned to nobody

[2015-05-31 08:46] cagataycivici commented on #371
Please use forum for cases like these and follow issue posting guidelines in future.

[2015-05-31 08:46] #371 closed, assigned to nobody

[2015-05-31 08:47] cagataycivici commented on #366
Can't you just create a custom TreeNode implementation and override isLeaf?

[2015-05-31 08:47] #366 closed, assigned to nobody

[2015-05-31 09:23] #359 closed, assigned to cagataycivici

[2015-05-31 09:42] #152 closed, assigned to nobody

[2015-05-31 09:46] #238 closed, assigned to cagataycivici

[2015-05-31 09:50] #381 closed, assigned to cagataycivici

[2015-05-31 09:55] cagataycivici commented on #375
Can you post some code please?

[2015-05-31 09:58] cagataycivici commented on #346
Try DynamicMenuModel instead of DefaultMenuModel. Also please use forum first for questions like these and please format your code next time. Thank you.

[2015-05-31 09:58] #346 closed, assigned to nobody

[2015-05-31 09:59] cagataycivici commented on #355
Taking ownership.

[2015-05-31 10:00] #355 closed, assigned to cagataycivici

[2015-05-31 10:02] cagataycivici commented on #344
I don't understand anything, please edit your description with a clear one.

[2015-05-31 10:02] cagataycivici commented on #295
Will reopen if more users demand it.

[2015-05-31 10:07] #241 closed, assigned to cagataycivici

[2015-05-31 10:25] cagataycivici opened #383 "p:confirm should be stateful"
Somehow JSF behavior api does not support StateHelper api so we need to use our own internal apis to make p:confirm stateful as it can't be used inside data iteration right now.

[2015-05-31 10:30] #383 closed, assigned to cagataycivici

[2015-05-31 10:54] #128 closed, assigned to cagataycivici

[2015-05-31 13:36] mores commented on #376
There is an attribute called "editable" which prevents an entry to be modified.
In my case I need a little more control, one of the business rules is that an event must be between 9 am and 5 pm. In this case a user should be allowed to move/resize between those values - if they try to resize beyond - it should be denied.

[2015-05-31 14:15] mores commented on #370
Thanks to http://stackoverflow.com/questions/20842196/primefaces-locale-not-working
I was able to get the following to work:

`<script type="text/javascript">
            PrimeFaces.locales['tr'] = {
            closeText: 'Close',
            prevText: 'Previous',
            nextText: 'Next',
            currentText: 'Current Date',
            monthNames: ['January', 'February', 'March', 'April

[2015-05-31 16:40] sudheerj commented on #370
Ok.You posted the thread related to PrimeFaces locales.But my comments are related to other OP in the original post.

"Via PrimeFaces.locales, it is done on a per-locale basis. There are some cases when this is not satisfactory, and you could want it on a per-calendar basis."

[2015-05-31 18:43] sudheerj commented on #178
Duplicate of issue #365

[2015-05-31 20:19] 99sono commented on #374
Hi there,
And thank you for the feedback.

Rdebusscher, I have taken a look at the blogpost associated to teh AvancedGraphicImageRenderer, it sounds to me like the functionality you've implemented should actually be added to the standard primefaces. Namely, as an optional attribute to the standard renderer such as resolutionStrategy="default/tmpFolder/etc..."

Another thing, the readme file of the

[2015-06-01 04:06] sudheerj commented on #86
I can't replicate the issue on latest showcase.The first clicks changes the sort order when default sort order is applied on the datatable.

[2015-06-01 04:09] #178 closed, assigned to nobody

[2015-06-01 06:51] krisy commented on #379
Thank you for your reply!

If have modified the source code of the showcase (`<SelectionView.java>`) to print out the selected child nodes of the selected nodes:

[code]

If I select "Pictures", I would expect the contents of `<builder>` to only contain "Pictures"; but instead it contains "Pictures", and all of it childnodes:

[2015-06-01 07:02] cagataycivici commented on #379
Your link to demo is broken and there are 3 trees if your demo is tree selection. Is it checkbox selection?
If so that is expected, CheckboxTreeNode always propagates, use DefaultTreeNode instead.

[2015-06-01 07:05] #379 closed, assigned to nobody

[2015-06-01 07:05] cagataycivici commented on #86
Ok, closing then. Thanks.

[2015-06-01 07:05] #86 closed, assigned to nobody

[2015-06-01 07:06] #370 closed, assigned to nobody

[2015-06-01 07:07] cagataycivici commented on #370
Also make sure your locale js is loaded before Schedule gets initialized.

[2015-06-01 07:14] #297 closed, assigned to cagataycivici

[2015-06-01 08:04] krisy commented on #379
Updated the broken link; also, thank you for your reply (and yes, I was referring to checkbox selection).

[2015-06-01 11:35] gatschet commented on #356
Hi tandraschko

I disagree with you! Every files comes in own request and for me this is a bug in primefaces 5.1 because there is no way to handle all files in the same way...

See the answer from Vsevolod Golovanov on http://stackoverflow.com/questions/30500731/file-upload-with-multiple-files-fails-in-primefaces-5-1/ how to work arround this issue...

[2015-06-01 13:22] warrenmcinnes opened #386 "tabView bug PF5.0"
There seems to be a bug when using <p:tabView> with async/ajax enabled pages. Tabs change in URL but not on page it's self even when dynamic="true" cache="false".

No matter how I alter the config, the issue still persists in PF5.0, however changing to 4.0 works perfectly?

Please help

[2015-06-01 14:02] jrodalo opened #387 "DataTable's emptyMessage and colspan"
The &lt;td&gt; created for the emptyMessage it's not aware of the colspan attribute. For example, with this code:

[code]

I expect that emptyMessage's td had a colspan of 3 (2 of the first column and 1 of the second column).

DataTableRenderer.java (line 833)

[code]

Edit:
PrimeFaces 5.2

[2015-06-01 14:11] mmariotti commented on #367
A Javascript bug has been introduced when searching for existing dialog by id, the value is not escaped (":"), bringing up:

[code]

[2015-06-01 14:22] VsevolodGolovanov opened #388 "AutoComplete doesn't query on backspace/delete in IE9"
Also on cutting/delete via context menu.
Because IE9 doesn't trigger the input event. This could be worked around, i.e. using the selectionchange event.

[2015-06-01 14:50] wsaca opened #389 "p:autocomplete selectLimit default value"
Hello all,

I want to do something like this:
`selectLimit = "#{bean.value eq 'A' ? '1':''}"`

if value is 'A', autocomplete should be limited to 1 otherwise it should be unlimited. The documentation is not clear about what value is used to set "unlimited" options.

In source code, we dont have the implementation to do my requeriment, when selectLimit="", or is empty the input component (_xxxxx_in

[2015-06-01 14:57] bsanders1979 commented on #375
So, I found this issue prior to opening this, but did not think it was related: https://code.google.com/p/primefaces/issues/detail?id=4736

While putting together the sample code, I see that they are in fact related. The difference is that I'm not using &lt;p:wizard binding="..."&gt;. The binding is occurring elsewhere. My solution is very similar to the one provided in that issue. The difference

[2015-06-01 15:32] nunofaria11 opened #390 "Lazy DataScollerRenderer loads data twice"
The current **lazy** `DataScrollerRenderer` implementation loads data twice in its `encodeMarkup` method. Suggested correction:

[code]

SO post: http://stackoverflow.com/q/29303228/691916

[2015-06-02 12:39] LeoMinniti opened #391 "Subtable <p:column> has no support for colspan/rendered (in PF 5.2)."
I'm trying to implement dynamic columns for subtable, using rendered and colspan but it doesn't support those features, for example:

My subtable generates data based on date ranges (from month to month) and the rendered columns end up "breaking" the subtable layout.

As seen on the example below, those attributes work on the header and footer of the datatable and subtable,but not on the subtable

[2015-06-02 12:46] basiel007 opened #392 "Prime faces Mobile: Tabmenu does not stay fixed at bottom upon update @form"
When having a Tabmenu in a primefaces mobile project with the property fixed true set at the bottom of a page. It loses it's fixed state when an ajax action updates the form in which the tabmenu is located. In fact other scenario's of components in the form getting updated by ajax cause the fixed state to malfunction as wel.

[2015-06-02 14:47] mertsincan opened #393 "JS error in Dialog with appendTo"
A Javascript bug has been introduced when searching for existing dialog by id, the value is not escaped (":"), bringing up:

Uncaught Error: Syntax error, unrecognized expression: [id=form:j_idt397:j_idt400]

[2015-06-02 14:48] mertsincan commented on #367
Replicated the issue. I created a new issue. (#393)

[2015-06-02 14:52] #393 closed, assigned to mertsincan

[2015-06-02 15:34] kukel commented on #390
Duplicate: https://github.com/primefaces/primefaces/issues/290? Read that issue up to the end

[2015-06-02 15:35] kukel commented on #392
Use the forum first, be way more explicit by providing an example (mcve style) and provide version info... please...

[2015-06-02 15:39] kukel commented on #387
PF version? and you may provide a pull request

[2015-06-02 15:39] kukel commented on #386
Use the forum first... and read the forum posting rules (something about code examples, mcve style)

[2015-06-02 17:15] nunofaria11 commented on #390
Actually after taking a look at it, I believe it is solely a `DataScrollerRenderer` issue, not a `LazyDataModel` issue. If you take a look at (debug) the current implementation, when rendering a lazy `DataScroller` the data model loads data twice for the same _page_ (0 to `chunkSize`).

So I reopened this issue - the suggested correction works for me.

[2015-06-02 17:18] nunofaria11 commented on #290
I'm the author of the mentioned question and answer on [SO](http://stackoverflow.com/questions/29303228/primefaces-lazy-datascroller-calling-load-twice) - I don't believe it is a `LazyDataModel` issue, but a `DataScrollerRenderer` issue.
The suggested correction works for me - the `DataScroller` now inits data only once on render.

[2015-06-02 17:42] kukel opened #394 "ContextMenu: Mobile device opening location"
The context menu currently opens at the location of the mouse pointer. For desktops this is expected and normal behaviour. For smaller devices, the boundary detection does not work great and the context menu shows up in a way that makes it kind of not useful. Would be great if it showed up in the middle of the screen then. With some small changes, that is possible.

This sould go in PF core:

[cod

[2015-06-02 18:30] basiel007 commented on #392
The version is primefaces 5.2 the code to reproduce the problem is below just click the action button and you will see that the footer jumps up to the end of the render in stead of staying below at the fixed location.

[code]

[2015-06-02 19:09] devprime2 commented on #378
This css code si a workaround

.ui-columntoggler {
    display: none;
}

[2015-06-02 20:03] leomeurer opened #395 "Bug in p:editor 5.2 - Firefox only"
I am with the same problem that this issue https://code.google.com/p/primefaces/issues/detail?id=6580

After running an ajax update a strange "true" appear inside editor, and the editor is blocked(read only).

Environment
Primefaces 5.2
Firefox 38.0.1 (latest)
Win 7
Tomcat 7.0.42
Java 1.7.0_60

[2015-06-02 21:26] leomeurer commented on #395
I found a workaround.

I don't know why but if you change f:ajax for p:ajax like this:

<p:ajax execute="@form" update="editorContainer" />

everything works fine.

[2015-06-02 21:26] #395 closed, assigned to nobody

[2015-06-03 07:50] amayr666 opened #396 "New Component: Search"
What about a new component which can markup any occurences of a word or a part of a word in a specified object(div, panel,...)? Same thing like the browser search function, but for specified containers. This would be great, especially in addition to filter in dataTable.

eg.
    `<p:markDown styleClass="styleClassForMarkDown" for=":form:searchContainer" value="wordToSearch" />`

[2015-06-03 09:50] cagataycivici commented on #396
We will consider, thank you. I believe we can use a jQuery plugin for this or implement our own.

[2015-06-03 09:50] cagataycivici commented on #395
Thank you for the update.

[2015-06-03 09:50] cagataycivici commented on #378
We'll check, thanks.

[2015-06-03 09:51] cagataycivici commented on #392
Avoid updating header-footer parts, instead update their content. This is a practive when working with mobile views. They are create by jQM page widget so updating breaks them. Instead update their content.

[2015-06-03 09:51] #392 closed, assigned to nobody

[2015-06-03 09:52] cagataycivici commented on #394
How do you open a contextMenu on a mobile device? Do you have an example javascript contextmenu that is responsive?

[2015-06-03 09:53] cagataycivici commented on #290
Ok closing and will look at #390

[2015-06-03 09:53] #290 closed, assigned to tandraschko

[2015-06-03 09:53] cagataycivici commented on #390
Set to review.

[2015-06-03 09:54] cagataycivici commented on #386
Please use forum first and always try with latest PF.

[2015-06-03 09:54] #386 closed, assigned to nobody

[2015-06-03 09:56] cagataycivici commented on #367
Yes, there is an ugly bug fixed in #393.

[2015-06-03 09:56] cagataycivici commented on #391
Subtables issues are not being accepted as it will probably be replaced,reimplemented in 5.3.

[2015-06-03 09:56] #391 closed, assigned to nobody

[2015-06-03 09:57] cagataycivici commented on #375
Can you post some code please?

[2015-06-03 09:58] cagataycivici commented on #389
It is not clear what your requirement is, please discuss at forum first.

[2015-06-03 09:58] #389 closed, assigned to nobody

[2015-06-03 09:59] cagataycivici commented on #388
What is your PF version? Is it plain IE9 or IE10-11 with IE9 mode?

[2015-06-03 10:44] jrodalo commented on #387
Done!

Pull Request #397

[2015-06-03 10:55] basiel007 commented on #392
@cagataycivici i will add an example of updating only the content and you will see the problem is still there. I do some testing before i report a bug. This was just the most easy way to show the problem.

[2015-06-03 11:02] VsevolodGolovanov commented on #388
Reproducible in PF showcase, which says "Running PrimeFaces-5.2.5-SNAPSHOT" at the moment.
It's actual IE9 on Windows 7. Browser mode: IE9, Document mode: IE9 Standards.

[2015-06-03 11:14] basiel007 commented on #392
Here the new code sample:

[code]

HomePageController.java:

[code]

PersonComponent.java

[code]

[2015-06-03 11:32] basiel007 commented on #392
Besides i would like to argue that an update of @form should update ALL components in the form properly otherwise the @form update is quite useless.

[2015-06-03 12:15] mertsincan commented on #388
Replicated the issue on pure IE9. I will work on it.

[2015-06-03 14:01] orange-buffalo opened #398 "Update is failing with JS error when using binding components (v5.2.5)"
Assume the following xhtml snippet (please pay attention to `update` attribute of `p:commandLink` and `binding` of `p:dialog`):

[code]

When link is clicked and response from server is received, the following JS exception occurs:

[code]

Obviously, popup is not updated and `oncomplete` of the link is not triggered.

Reproduced on 5.2.5, while on 5.2 the same markup is working fine.

[2015-06-03 19:56] mertsincan commented on #398
Fixed for 5.2.6, 5.1.19 and 5.3. Same issue; #393.

[2015-06-03 19:56] #398 closed, assigned to nobody

[2015-06-04 03:12] sudheerj opened #399 "Autocomplete alignment issue with multiple mode"
The autocomplete display panel is not aligned properly with the input element.The left and top positions need to be adjusted to make it similar to the other autocomplete types.

![image](https://cloud.githubusercontent.com/assets/3127317/7976176/5477fdaa-0a95-11e5-8a8b-6d1bda28261f.png)

[2015-06-04 04:18] sudheerj commented on #378
The workaround is fine.But I didn't find any flash when the columnToggler datatable component is updated from command actions.May be I missed something.

[2015-06-04 05:59] Maikel-Nait commented on #369
To make the requirement more clear.
What **we need** is this:

[code]

but currently we need to do this:

[code]

because **RemoteEndpoint** do not have an API to access the **AtmosphereRequest** directly.

[2015-06-04 08:07] cagataycivici commented on #369
@jfarcand What do you think?

[2015-06-04 08:10] cagataycivici commented on #378
I've added it anyway.

[2015-06-04 08:10] #378 closed, assigned to cagataycivici

[2015-06-04 08:14] cagataycivici commented on #392
@form is very useful if it is inside pm:content. Best practice is;

[code]

[2015-06-04 08:17] cagataycivici commented on #399
Will check this, thanks.

[2015-06-04 08:44] basiel007 commented on #392
@cagataycivici did you test my latest example you will see that the problem is there without using the @form update.
I agree that it is best practise but still the rendering of components should be right if they are refeshed and the one of the tabmenu is clearly not correct as it does not remains fixed not in both examples i provided.

Hence i think this bug should be reopened and resolved if poss

[2015-06-04 08:59] #399 closed, assigned to cagataycivici

[2015-06-04 09:13] #390 closed, assigned to cagataycivici

[2015-06-04 12:19] codingPF commented on #343
I tried the first 5 showcases (animate/are/bar/bubble/combined) without any negative impcat. Behaviour as expected after the change.
Using IE10 & FF38

[2015-06-04 12:33] #9 closed, assigned to cagataycivici

[2015-06-04 12:49] lagar84 commented on #339
This issue is problably theme dependent, in Aristo its easier to reproduce.
Put mouse cursor on "File", it will show submenu (new, open, quit) - then SLOWLY move mouse to submenu, since there is a small space between "File" and submenu, the submenu will hide before you have the chance to select anything.
(reproduced in firefox 38.0.5 on windows 8.1 http://www.primefaces.org/showcase/ui/menu/menuba

[2015-06-04 12:50] cagataycivici commented on #393
Removed 5.1.19 as this doesn't happen in 5.1.18.

[2015-06-04 12:50] VsevolodGolovanov commented on #356
@tandraschko, I consider this a PrimeFaces issue, since JSF explicitly requires client to queue requests. JSF's server-side implementation is not required to properly handle multiple requests to the same view simultaneously. And it doesn't (Mojarra at least).

[2015-06-04 13:56] bsanders1979 commented on #375
I felt that putting the check in getStepToProcess() was better since setStep() appears to be generated code. Overriding the process methods to call the getter instead of accessing the variable directly was also necessary.

[code]

[2015-06-04 14:48] kahlon1005 commented on #12
When is the target release for this issue?

[2015-06-04 17:37] hbarrameda opened #401 "itemIndex problem in selectOneRadio with customLayout"
selectOneRadio  in version 5.2 introduced a problem with itemIndex when using the custom layout. The following code will show the issue:

[code]

[2015-06-04 19:34] tandraschko commented on #356
but it will be still uploaded in own threads ;)
Feel free to create a feature request to allow to queue the fileupload requests. It's not directly to this issue but it would also fix your problem.

[2015-06-05 02:23] sudheerj commented on #401
Can you please explain about the issue in detail.I can see that the selectedItem as correct value only.What else issue you faced in this scenario

![image](https://cloud.githubusercontent.com/assets/3127317/7998296/a8c6fad8-0b57-11e5-936a-c301e5a9def6.png)

[2015-06-05 03:46] hbarrameda commented on #401
Hello,

   I'm sorry to bother you but I found this problem in my work so I thought
that put it as an issue in the github was the way to go.

I attached here a file I wrote from the example of the showcase. I extract
the fragment related with custom layout and removed unneeded controls. To
execute it, you can use the same RadioView.java used in the showcase.

 The issue appears when the three "cus

[2015-06-05 08:00] cagataycivici commented on #12
Not being planned yet due to issues with higher priorities. You may consider PRO or CASE Support to speed it up.

[2015-06-05 08:50] cagataycivici commented on #387
Reverting as this change breaks frozen scrollable tables.

[2015-06-05 09:48] cagataycivici opened #402 "Typo in FontAwesome CSS urls"
iefix has & before it, it should have ? instead.

Also add version information.

[2015-06-05 13:51] jrodalo commented on #387
@cagataycivici Could you provide an example? I've tried this code with both versions and the result its the same:

[code]

![primefaces](https://cloud.githubusercontent.com/assets/1197514/8006573/2b4bf708-0b8d-11e5-9531-9632413e4559.png)

It looks like this case needs a bigger refactor than expected. The "emptyMessage" its duplicated on both sides of the table and hidden with css on the right side

[2015-06-05 14:37] VsevolodGolovanov opened #403 "Add sequential attribute to fileUpload"
FileUpload sends multiple upload requests in parallel. This is dangerous, because JSF explicitly requires client to queue requests (JSF 2.2 spec 13.3.2 Ajax Request Queueing). JSF's server-side implementation is not required to properly handle multiple requests to the same view simultaneously.

[2015-06-05 14:39] VsevolodGolovanov commented on #356
As opposed to what? Multiple threads accessing the same data without proper synchronization - this is exactly the problem. Created issue #403.

[2015-06-05 15:32] dmaidaniuk opened #404 "CellEdit: Incorrect work of editing after performing "save" or "cancel" actions via AJAX"
We have page with next block of tags:

[code]

and related methods in Bean

[code]

Also exists simple presentation class `poClazz` with 2 fields: `Long id` and `Long defaultDailyLimitInCents`.

All works fine for first time of in-cell editing/discarding. Newly entered data saved into DB or canceled and partial view refreshing done. However after that when second time try to edit value in some cel

[2015-06-05 16:58] devprime2 commented on #378
Thanks a lot !

[2015-06-05 18:20] darthstark1138 opened #405 "commandLink returns incorrect item on dataTable with liveScroll="true" lazy="true""
When using a commandLink (or commandButton) on a liveScroll, lazy datatable, the first items (before the first lazy load) report the correct item. After loading the second batch of items, items in the first batch correspond to items in the second batch.

It seems that JSF reuses the indexes when loading more items using ajax.

This has been reproduced on 4.0 and 5.2.

The problem have been reporte

[2015-06-06 01:11] djmj opened #406 "Add class ui-shadow to calendar popup overlay"
Add class ui-shadow to calendar popup overlay to make it more focused and distinct.

And it also looks much better.

[2015-06-07 10:03] cagataycivici commented on #403
It is better to create an attribute to make this configurable. Changing title.

[2015-06-07 10:04] cagataycivici commented on #387
I'll just display a div instead of tbody to avoid colspan issues.

[2015-06-07 10:05] cagataycivici commented on #401
Please do a search before creating new issues;

See #69

[2015-06-07 10:05] #401 closed, assigned to nobody

[2015-06-07 10:06] cagataycivici commented on #339
I can't replicate, please create a screencast and post a video link.

[2015-06-07 10:07] cagataycivici commented on #343
Ok, thanks.

[2015-06-07 10:12] webelcomau commented on #276
Hi Primefaces,

Thanks for looking into this. You wrote:

I don't know why you think it is expected or "not common"; The requirement (support for robust conditional rendering of columns while both viewing and row-editing a dataTable) seems to me a rather basic one, and it worked fine for Primefaces3.5.

For my real-world application I considered 2 workarounds:
1. Split a very large editable dataTa

[2015-06-07 12:53] lagar84 commented on #339
Here is a short video reproducing the problem: https://youtu.be/wPz9V3Q6p7c

[2015-06-07 23:49] djmj opened #407 "Remove CSS font-size in delta theme for ui-button."
Using delta theme there is a problem with the font-size of the ui-button text.

There is no other theme with such a small button text. I don't know why it does not affects showcase but in my application they are small, even smaller then the input components.

Remove:

.ui-button .ui-button-text {
    font-size: 12px;
}

[2015-06-08 04:33] RejDev opened #408 "Charts MultiAxis issue with responsive option"
Hello,
to better see the problem , take the example of the showcase (Charts - MultiAxis), and add the option `responsive="true"` to `<p:chart>` .
The width of the BarChartSeries do not fit(adapts) the window width when resizing.
a temporary solution is to force the refresh of the window every time.

Link : http://www.primefaces.org/showcase/ui/chart/multiaxis.xhtml
Thanks.

[2015-06-08 07:41] kukel commented on #394
A 'long-click' opens it. And what do you mean by 'a javascript context menu'? I use the PrimeFaces one with the above patches. Nothing else.

[2015-06-08 07:47] kukel opened #409 "SelectOneMenu Spark css improvements"
I noticed two css related things with the selectOneMenu component and the Spark theme
- You cannot give it an invalid look by adding a ui-state-error class.
- It has no change of appearance when hovering over it.

This can be simply tried in the live demo. It works for other inputs and also for the sentinel theme.

[2015-06-08 12:34] jfarcand commented on #369
@cagataycivici Yes we have had the discussion on the atmosphere [mailing list](https://groups.google.com/forum/#!topic/atmosphere-framework/AdDtsNY7wkg).  I will work on it as soon as I can.

[2015-06-08 16:02] cagataycivici commented on #369
No worries, just wanted to hear your opinion.

[2015-06-08 16:04] cagataycivici commented on #409
Please use layouts tracker;

https://github.com/primefaces/layouts/issues

[2015-06-08 16:04] #409 closed, assigned to nobody

[2015-06-08 16:06] cagataycivici commented on #408
Duplicate of #343

[2015-06-08 16:06] #408 closed, assigned to nobody

[2015-06-08 16:06] cagataycivici commented on #407
Wrong issue tracker, use themes repo please.

[2015-06-08 16:06] #407 closed, assigned to nobody

[2015-06-08 16:07] cagataycivici commented on #276
Try hiding the content of columns not the columns themselves.

[2015-06-09 08:56] basiel007 opened #410 "Primefaces mobile footer does not stay fixed"
In PrimeFaces 5.2 the footer in primefaces mobile does not stay at bottom fixed when updating a dataList after an ajax request.
The sample code is below just click on any selectonebutton in the table to see the effect.

Here the code sample:

[code]

HomePageController.java:

[code]

PersonComponent.java

[code]

[2015-06-09 09:01] #403 closed, assigned to cagataycivici

[2015-06-09 09:05] kukel commented on #410
what if you put the `pm:footer` outside the form and the form inside the `pm:content`

[2015-06-09 09:10] basiel007 commented on #410
Same problem (i also tried putting the tabmenu inside content and outside form of table) also same problem with code below:

[code]

[2015-06-09 09:44] #387 closed, assigned to cagataycivici

[2015-06-09 09:58] cagataycivici commented on #274
I agree but please create specific issues for each component, this one is too general.

[2015-06-09 09:59] webelcomau commented on #276
Primefaces wrote:

It permits editing without the bug, but it does not seem to be possible to hide the column that way.

I tried targeted 'rendered' then eventually tried plastering it across every possible element (except p:column), the header and column always appear (even if empty).

[code]

Even if I don't include the header f:facet at all, the column still appears (with empty header).

There

[2015-06-09 09:59] cagataycivici commented on #274
We have a method in CoreRenderer that renders pass thru already.

[2015-06-09 10:09] #343 closed, assigned to cagataycivici

[2015-06-09 14:25] NilsonUehara opened #411 "OutputLabel in DataTable does not make selection"
When `<p:outputLabel>` is included in `<p:dataTable>`, the selection not works.

[code]

[2015-06-09 22:07] RejDev opened #412 "```<p:poll>``` is not updatable by ID"
Hello,
example:

[code]

`<p:ajax  event="slideEnd" ... update="global_poll"` it has no effect on `<p:poll id="global_poll" .../>`
but  `update="pan_poll"`  YES

you must update the parent to have an effect on  `<p:poll>` and not directly with its ID.

Thanks.

[2015-06-10 01:34] srbala opened #413 "Primefaces Mobile, error getting dynamic data"
Primefaces version 5.3 snapshot

Primefaces mobile dynamic data not working, with 5.3-SNAPSHOT

http://localhost:8080/showcase/mobile/dataList.xhtml advanced list second page
http://localhost:8080/showcase/mobile/accordion.xhtml Dynamic, click on God Father III link

They are working in 5.2 release, PrimeFaces public demo 5.2.5-snapshot is working but fails on 5.3-SNAPSHOT.

[2015-06-10 01:40] srbala opened #414 "jQueryMobile update for PrimeFaces Mobile"
PrimeFaces Mobile currently uses JQM 1.4.4 release. JQM 1.4.5 was the maintainence release and it has been out for more then eight months.

Tested locally working also plays well PrimeFaces 5.2.

[2015-06-10 11:33] nixj14 opened #415 "Datatable sorting lost on ajax refresh"
This appears to be a known bug.  It is originally referenced here https://code.google.com/p/primefaces/issues/detail?id=3887.  There also appears to be a good deal of javascript workarounds to correct the behaviour (http://stackoverflow.com/questions/10032356/pdatatable-loses-sort-column-and-order-after-ajax-refresh).  Is there a reason why this shouldn't work out of the box?  As stated in both th

[2015-06-10 12:57] banifou commented on #7
That would be great to have this. Can't wait!

[2015-06-10 16:05] sachafournier opened #417 "p:datatable sort params not sent in request when using LazyDataModel"
PF: 5.2

I have a lazy datatable with sort event defined in it. When I click a column, my SortEvent listener is not called. The request seem incomplete. According to the stack, _sortDir and _sortKey are missing from request parameter.

Not sure about this one but after digging a little bit in javascript code I think I found the origin of the problem. PrimeFaces.bcnu function is doing a "call" with

[2015-06-10 17:59] jfarcand opened #418 "Update Atmosphere to 2.3.2"
With current `5.3-SNAPSHOT`

[2015-06-10 18:00] #418 closed, assigned to jfarcand

[2015-06-10 18:12] #369 closed, assigned to jfarcand

[2015-06-10 18:51] Three97 opened #419 "<p:dataTable> using scrollable and scrollHeight attributes causes Uncaught TypeError"
In Chrome (v.43.0.2357.65), Firefox (v.28.0 & 38.0.5) and Opera (v.30.0) using PrimeFaces v5.2's DataTable works great when the vertical scrollbar is not enabled. However, when it is enabled, getting "Uncaught TypeError: Cannot read property 'webkit' of undefined". The code fails with the "$.browser" property as it is not defined. Appears to be "scrollable" related, but was not able to isolate to

[2015-06-10 21:04] danilomagrini opened #420 "p:message with display='tooltip' doesnt work on p:spinner"
Tooltip is not showing when the "spinner" is empty:

[code]

If I use the same code on an "p:inputText" it works fine.

same here: http://forum.primefaces.org/viewtopic.php?f=3&t=25854&p=81847

[2015-06-10 21:44] german1410 opened #421 "Update poll.js remove access to response attribute that no longer exists"
Before poll interruption was handled by an attribute passed on the response "stop", this was handled by:

[code]

But at some point the poll was stopped by issuing a call to stop method and the attribute was removed from the response. This leads to errors being displayed on some browsers like IE11.

[code]

[2015-06-10 22:56] lagar84 commented on #339
It is possible to workaround this issue with some CSS:
.ui-menubar > .ui-menu-list > .ui-menu-parent > .ui-menu-child {
    top: 25px !important;
}
This value (25px) needs some tweaking depending on the used theme and height of the menubar

[2015-06-10 23:18] Maikel-Nait commented on #369
Amazing ... thanks a lot !  :)

[2015-06-10 23:36] normanstrydom opened #422 "PrimeFaces.widget.DataTable - resize problem"
This is just to notify you of a small bug in the resize logic in expanded mode -

function -
PrimeFaces.widget.DataTable
resize: function(event, ui) {

current,
            if(expandMode) {
                table.width(table.width() + change);

need to change to,
            if(expandMode) {
                table.width(table.width() - change);

[2015-06-11 07:19] tandraschko commented on #421
Please explain this a little bit better and detailed:
But at some point the poll was stopped by issuing a call to stop method and the attribute was removed from the response. This leads to errors being displayed on some browsers like IE11.

[2015-06-11 07:22] tandraschko commented on #421
AFAICS the #handleComplete method is also not used as the stop logic is done via Poll.java#broadcast

[2015-06-11 07:40] mertsincan commented on #340
Do you get a JS error on browser console?

[2015-06-11 08:27] cagataycivici opened #423 "Validating a RowEditor in Datatable with Pagination fails at second page"
Reported by a PRO user;

A project is using a DataTable having Pagination and Roweditor with (severside) validation.
When having validation errors "FacesContext.getCurrentInstance().validationFailed();"
is called. This should keep the edited row "open"/editable.
The problem is:
The DataTable is only acting appropriate, at the very first page. On all other pages, the row is "closed" when a validati

[2015-06-11 08:28] #423 closed, assigned to cagataycivici

[2015-06-11 08:35] kukel commented on #406
Did you try what happens on _all_ (other) themes? Might be not that nice looking. And keep in mind that calendar.js is an external JS. No idea if they want to keep merging changes like this over and over again. Maybe try to get it into the calendar component source

[2015-06-11 08:43] kukel commented on #417
Please edit your post and format the code...

[2015-06-11 08:49] kukel commented on #405
Did you check this in the generated html? Or with other debugging?

And a full example that demonstrates the problem would be nice. (The original ticket requested more details)

[2015-06-11 11:29] ghost opened #424 "TabView: Value of selectOneMenu lost if dynamic = true"
Hello,

we have a big problem here with several primeface components (version 5.2.3) (e.g. selectBooleanCheckbox, selectOneMenu...). If you put these on tabs of a tabView component they lose their values when the form containing the tabView is being updated (e.g. via a commandButton). This only happens when the tabView is set to dynamic. Other components like inputText e.g. don't lose their values

[2015-06-11 13:07] cagataycivici commented on #405
A simple test case would help.

[2015-06-11 13:09] cagataycivici commented on #417
Could this be related to;

https://github.com/primefaces/primefaces/issues/23

Also please post your code so we can compare in our environment. The change you suggested is in very core.

[2015-06-11 13:10] cagataycivici commented on #406
But it already has it, please check live demo;

http://www.primefaces.org/showcase/ui/input/calendar.xhtml

[2015-06-11 13:10] #406 closed, assigned to nobody

[2015-06-11 14:14] cagataycivici commented on #421
Yes, I can't find a reference to handleComplete. @tandraschko Do you know where we have it? It seems obselete as we can RequestContext.execute() approach to call stop() js method. Should we remove handleComplete?

[2015-06-11 14:15] cagataycivici commented on #422
What is the problem, how can we replicate using showcase?

http://www.primefaces.org/showcase/ui/data/datatable/columnResize.xhtml

Is working as it should.

[2015-06-11 14:15] #422 closed, assigned to nobody

[2015-06-11 14:16] cagataycivici commented on #369
Thank you @jfarcand

[2015-06-11 14:17] cagataycivici commented on #339
Thanks, we'll check.

[2015-06-11 14:19] cagataycivici commented on #411
It is not supported, use h:outputText instead. OutputLabel is useless in your case as it has no for attribute.

We can support it but it is not common to use as outputText is the way to go. If more users required it, we'll reopen.

[2015-06-11 14:19] #411 closed, assigned to nobody

[2015-06-11 14:23] cagataycivici commented on #412
Poll should not be updated as it is not UI component, to stop it, just grab the instance at server and call poll.stop().

[2015-06-11 14:23] #412 closed, assigned to nobody

[2015-06-11 14:27] tandraschko commented on #421
yep, i would remove it.

[2015-06-11 14:28] cagataycivici commented on #413
@tandraschko activeElement.getSelection is not a function error is given, do you have any feedback?

[2015-06-11 14:29] cagataycivici commented on #414
Set to 5.3.

[2015-06-11 14:29] cagataycivici commented on #415
Can you please provide a simple test.xhtml and TestView.java to help use replicate.

[2015-06-11 14:36] #420 closed, assigned to cagataycivici

[2015-06-11 14:36] tandraschko commented on #413
Weird....
                        var activeElement = $(document.activeElement);
                        var activeElementId = activeElement.attr('id');
                        var activeElementSelection = activeElement.getSelection();

maybe the jquery-plugins.js is missing?

[2015-06-11 14:37] cagataycivici commented on #420
Fixed now.

[2015-06-11 14:40] cagataycivici commented on #419
Is it possible to send a test.xhtml and TestView.java to replicate?

[2015-06-11 14:43] cagataycivici commented on #413
What is the dependency to jquery-plugins?

[2015-06-11 14:44] cagataycivici commented on #413
You can replicate it by running showcase with 5.3

[2015-06-11 14:44] tandraschko commented on #413
the plugin to get/set the current selection of an inputtext - don't know the name but we already used it in textarea or autocomplete

[2015-06-11 14:56] cagataycivici commented on #200
Just tried this on my ipad with a modal dialog where dialog itself overflows so it is scrollable. It worked just fine, I can scroll the dialog contents without scrolling the body.

[2015-06-11 14:58] cagataycivici commented on #166
I'm not sure if I get this, so dialogs are maximized and take full space in window but scrollbar doesn't appear?

[2015-06-11 14:58] Three97 commented on #419
Thank you for the reply. I will try to abstract the page data so as not to impose on potentially sensitive data and provide a stand-alone example. Hopefully in the next day or two?

[2015-06-11 14:59] cagataycivici commented on #419
Sure, I've found a reference to $.browser, we usually use PrimeFaces.env.browser but just want to make sure we fix your issue.

[2015-06-11 15:00] cagataycivici commented on #413
But this was working with 5.2, that is weird. I'll tell @mertsincan to dig this. Thanks.

[2015-06-11 15:08] tandraschko commented on #413
i added the functionality to remember the caret position after ajax updates, therefor it's a new feature.
but i also added the @ResourceDepedency on the AjaxBebehavior.

[2015-06-11 15:15] Three97 commented on #419
I've seen references to replacing $.browser with PrimeFaces.env.browser in some of the recent commits, so I suspect replacing the former with the latter would fix it, but not 100% sure, of course. I was attempting to find the issue more specifically by grabbing the latest and debugging locally, but have not been successful in getting it to run yet...

[2015-06-11 16:29] pavel-sedek opened #425 "p:wizard is not executing setters on step back"
If the user types into the input some value, clicks next and back, the value retains. If he types the same value into the same input and clicks back and then next, input is blank.

The issue could be simply reproduced on the showcase. http://www.primefaces.org/showcase/ui/panel/wizard.xhtml

1) Type something into firstname and lastname
2) Click next
3) Type something into street
4) Click back
5)

[2015-06-11 17:59] sudheerj opened #426 "Sticky doesn't resize when the browser window is resized"
The sticky component doesn't resize its width along with the browser window resize.Due to this the sticky toolbar is not fully visible.

[2015-06-11 20:29] smithh032772 opened #427 "PrimeFaces 5.2 and Atmosphere 2.3.2 (regression)"
[ANN] Atmosphere 2.3.2 released
https://groups.google.com/forum/#!topic/atmosphere-framework/DAQnl3wxYGY

me:
I downloaded the atmosphere-runtime 2.3.2 JAR and replaced the atmosphere-runtime 2.3.1 JAR in my project, and now PrimeFaces 5.2 Push no longer sends messages to the client. I use the notify (faces messages) example. No errors in the server log and no errors in the client/browser.

jfarca

[2015-06-11 20:33] smithh032772 commented on #418
Does this fix the following?

PrimeFaces bug #427
https://github.com/primefaces/primefaces/issues/427

[2015-06-11 21:40] normanstrydom commented on #422
The problem is when the datatable has resizableColumns="true" and
liveResize="true" then with the new resizeMode="expand" try to resize a
column, particularily to redice its size, the column sizing "runs" away
uncontrollably.  Changing the sign of "change" as indicated, leads to
the correct operation, but you may also find that other combinations
have a problem as I see similar addition of the "ch

[2015-06-12 07:09] srbala commented on #414
Posted pull request #428 to update JQM.

[2015-06-12 08:15] cagataycivici commented on #402
Actually it should have it.

[2015-06-12 08:19] cagataycivici opened #429 "Typo FontAwesome CSS urls"
# iefix should have & before it not ?

[2015-06-12 08:22] #429 closed, assigned to cagataycivici

[2015-06-12 08:42] Tecnocom opened #430 "DataTable issue when using scrolling, freezing and cell edit"
I have a data table which is editable, scrollable and has frozen columns.
The editMode is "cell".
I have a "cellEdit" event set up similarly to that in the example on the ShowCase.

Upon editing any cell within the scrollable area (to the right of the frozen columns), the CellEditEvent is populated with the wrong data (not to mention that the table itself is populated with the wrong data). The dat

[2015-06-12 08:52] mauromol opened #431 "Bean Validation: metadata transformer applies constraints only from Default group"
While debugging another thing, I saw that the `BeanValidationInputMetadataTransformer` always extracts the default constraint descriptors.
However, if in my facelet I've specified another validation group, I think the transformer should process the constraints in THAT group to generate metadata, instead.

A solution that works also with OmniFaces `<o:validateBean>` would be much appreciated, becau

[2015-06-12 12:28] srbala opened #432 "Signature Pad, New Component/feature request."
I would like to propose new component/feature, **_Signature Pad**_. with the raise of mobile users, mobile optimized views, it would be good addition to PrimeFaces. I would prefer this in mobile components too.

It was [discussed in forums](http://forum.primefaces.org/viewtopic.php?f=3&t=7183&p=28952&hilit=signature+pad#p28952) few years back, I think it never made it to feature request list.
Revi

[2015-06-12 12:44] tandraschko commented on #431
We can maybe check f:validateBean on the input which will be extracted currently but honoring o:validateBean or anything in a random commanButton won't work.

[2015-06-12 13:33] mauromol commented on #431
I understand the difficulty of determining _which_ command button to look at. Maybe a good heuristic could be to search for the first one that specifies a "validate bean" tag?

Or, even better, why not providing a `<p:validateBean>` that provides this feature and integrate it with the transformer?

In a real application, having to specify the validation group on each of the input components of a f

[2015-06-12 13:45] tandraschko commented on #431
The transformer is designed to only look at the current input field, so search for commandButtons etc. is actually too special and will cost performance.
We could provide an own tag which can be placed inside the current input but than it would be the same as f:validateBean.

I understand your requirement but do you really need different transformations on the same field for different views?

Doin

[2015-06-12 14:07] mauromol commented on #431
And what about the idea of `<p:metadataTransform>` but placed on the input component owning form, instead of the input component itself (to be looked at as a fallback if it's not specified at the component level)? It shouldn't cause a huge performance impact, should it? Having to specify it on every single input component would be again a nightmare.

Actually, in my use case I do not need differen

[2015-06-12 14:42] mauromol opened #433 "DataTable: Allow Enter and Esc to be used in editing to confirm/cancel editing"
Having a `<p:datatable>` with a `<p:rowEditor>`, it would be quite natural to be able to use Enter to confirm editing and Esc to cancel it. Instead, these keys are currently ignored and captured by other elements in the page.

[2015-06-12 14:46] mauromol commented on #433
Currently, since there's no client-side API for doing this, it's a bit hard to make this work:
http://stackoverflow.com/questions/13287220/using-return-enter-key-to-save-edited-cell-in-primefaces-3-4-in-cell-editable-da

[2015-06-12 17:24] nixj14 commented on #415
I created a simple maven project here to illustrate the bug:

https://www.dropbox.com/s/i5n97pltctn93yq/primefaces_test.tar.gz?dl=0

[2015-06-12 18:51] srbala commented on #432
Fellow developer suggested another product
https://github.com/triceam/Mobile-Signature-Capture/tree/master/html%20client/src/js   repository
https://raw.githubusercontent.com/triceam/Mobile-Signature-Capture/master/html%20client/src/js/signatureCapture.js   javascript file

License unknown, posted question to developer.

[2015-06-12 20:16] rapito opened #434 "defaultCommand skips client-side validation"
Client-side validation is being bypassed when using the _enter_ key.
## example code

[code]
## behaviour
- when _clicking_ on the `save button` the client-side validations are executed.
- after focusing the inputMask and presssing enter, server-side method executes even though the input is empty or the length requirement isn't met.

[2015-06-13 17:48] rbermudez opened #435 "demos Showcase not working"
demos Showcase not working

[2015-06-14 05:12] zakhaled opened #436 "p:inputText in p:dialog return empty values to bean"
I'm using p:inputText inside a p:dialog as following:

[code]

My Bean code is the following:

[code]

My Problem is that the inputText is sending empty value "" to the bean. When I use a p:spinner instead of the inputText it works fine. An other problem is when I use required=true in the inputText, it throws a validation error even if the inputText is not empty.
When I use the same code in a ui:c

[2015-06-14 11:03] srbala commented on #435
More description/detail.

Demo link http://www.primefaces.org/showcase/ is working.

any specific URL is not working or trying to build showcase locally?

[2015-06-14 12:37] gchauvet opened #437 "media component : add java applet"
Hi,

Did you plan to add Java applet support to media component ?

[2015-06-14 19:40] cagataycivici commented on #437
Please use forum for these kinds of questions. Thank you.

[2015-06-14 19:40] #437 closed, assigned to nobody

[2015-06-15 10:21] gchauvet commented on #437
Ooops all my apologies...

[2015-06-15 11:26] cagataycivici commented on #435
Please use forum for these kinds of cases.

[2015-06-15 11:26] #435 closed, assigned to nobody

[2015-06-15 14:43] sudheerj commented on #436
Not able to replicate any of the above mentioned issues on latest PF release.Please use forum for these type of questions.

[2015-06-15 16:15] cagataycivici commented on #436
Neither can I, please use forum first for these kinds of questions next time.

Working sample;

http://www.primefaces.org/showcase/ui/overlay/dialog/loginDemo.xhtml

Also please try removing appendTo="@(body)" and let us know.

[2015-06-15 16:15] #436 closed, assigned to nobody

[2015-06-15 16:16] cagataycivici commented on #433
CellEditor supports these (editMode="cell"), by design we don't support it for row edit. If more users require it, I'll reopen.

[2015-06-15 16:18] cagataycivici commented on #430
Please use forum first for these kinds of cases and post your code there. Your issue is also missing a lot of information like a runnable test case, version information and so on.

[2015-06-15 16:18] #430 closed, assigned to nobody

[2015-06-15 16:19] cagataycivici commented on #422
I know this, liveResize is not supported in this case due to concurrent number of calculations, browsers tend to misbehave.

[2015-06-15 16:21] cagataycivici commented on #427
I think @jfarcand will create a new issue for this.

[2015-06-15 16:21] #427 closed, assigned to nobody

[2015-06-15 16:21] cagataycivici commented on #425
That is by design, back does not process anything. Please use forum first for these kinds of cases.

[2015-06-15 16:21] #425 closed, assigned to nobody

[2015-06-15 16:22] cagataycivici commented on #419
Ok, I'll just do the same and close this one, it should fix it I think.

[2015-06-15 16:24] mauromol commented on #433
OK Catagay, but please reconsider. That's the first thing I tried to do as soon as I started typing something in the fields of the edited row. I think it's also a matter of accessibility: right now, you are forced to take the mouse, move its pointer and click on the "check" icon to confirm.

I can't think of any good reason for which they shouldn't be implemented "by design".

[2015-06-15 16:25] cagataycivici commented on #433
Ok, I'll reopen to see if more users will demand it. I have some performance changes upcoming in 5.3 to row editor, maybe will do it along the way.

[2015-06-15 17:58] cagataycivici opened #438 "Add menuStyleClass option to SplitButton"
This applies to overlay div element.

[2015-06-15 18:00] #438 closed, assigned to cagataycivici

[2015-06-15 18:42] smithh032772 opened #439 "[perf] DefaultScheduleModule#addEvent() using UUID.randomUUID().toString()"
DefaultScheduleModule#addEvent() is using UUID.randomUUID().toString() to populate ScheduleEvent.id. See below.

[code]

This presents a performance issue when there are many events added to the schedule component. In my app, I have Previous/Next buttons which allows enduser to navigate to previous/next month, and it is very likely that there are 100+ (or more) events per month. As you can see (at

[2015-06-15 19:15] cagataycivici commented on #439
Would be better than if you create a custom implementation of ScheduleModel using your own id generator instead of DefaultScheduleModel and contribute one :)

[2015-06-15 19:15] #439 closed, assigned to nobody

[2015-06-15 19:17] cagataycivici opened #440 "Configurable ancestor processing on tabchange"
Accordion and TabView skips processing of their children on tabchange, we should introduce an attribute like skipChildrenOnTabChange or maybe utilize p:ajax.

[2015-06-15 19:23] smithh032772 commented on #439
Okay. I did as I mentioned earlier (populate id with recommended code at URL, above), and DefaultScheduleModule#addEvent() no longer shows up in jvisualvm (Sampler).

[2015-06-16 11:15] VsevolodGolovanov commented on #66
sequentialUploads where implemented in #403. There are mistakes in description though:

should be

[2015-06-16 11:18] cagataycivici opened #441 "Sticky should be responsive"
Sticky component should adjust the width of its target on window resize and avoid setting fixed width when restoring its position.

[2015-06-16 11:30] #441 closed, assigned to cagataycivici

[2015-06-16 11:33] cagataycivici commented on #426
See #441

[2015-06-16 11:33] #426 closed, assigned to nobody

[2015-06-16 11:46] cagataycivici opened #442 "SelectOneMenu panel shrinks after update"
When a selectOneMenu is updated, overlay panel shrinks to auto width. It should be at least same size as dropdown just like initial display. This only occurs after ajax update.

[2015-06-16 13:11] fatdevelops commented on #366
Yes, that is indeed what I did. The main problem is that you are allowed to drop nodes in a leaf node (isLeaf() returns true) when drag and drop is enabled on client side which is not necessarily what you want depending on the use case (no possible restrictions here). If you have a p:tree that represents a file/document structure and you enable drag and drop, a user is able to drop a folder (isLea

[2015-06-16 15:19] Three97 commented on #419
I'm afraid I may have reported an issue that no longer exists...I pulled version 5.2 using Maven, but according to this post, it appears to have been addressed: http://forum.primefaces.org/viewtopic.php?f=3&t=41656. I apologize for bringing this up if that's the case. Not sure what version is being used in the showcase, but that may explain why the error isn't showing up there (new version with fi

[2015-06-16 18:30] rwaals opened #443 "FileUpload on Primefaces 5.2; not working / can't get it to work"
I am using Jetty 9.2.1 in combination with Primefaces version 5.2.

Didn't get the file upload to call my handler using the primefaces.UPLOADER, value auto.
I went as far as setting it to commons and including the speficied commons and fuleupload libraries + the filter and filter mapping from the documentation. That did not work either (in combination with both the simple and advanced fileUpload f

[2015-06-16 19:13] cagataycivici commented on #66
Will fix the description, thanks.

[2015-06-17 03:28] RejDev opened #444 "Duplication of the header bar in <p:dataTable> when the DOM changes (with stickyHeader)"
Hello,
Here are some screenshots to better understand the problem:

![cap](https://cloud.githubusercontent.com/assets/12255492/8199154/81ebd116-14a0-11e5-9fda-00440e7e7f43.png)

Options in dataTable:

[code]

thanks.

[2015-06-17 07:04] #442 closed, assigned to cagataycivici

[2015-06-17 07:10] cagataycivici opened #445 "Reimplement Row and Cell Editing in DataTable"
Current implementation is not effective, both output and input facets are rendered to the client. Instead we should lazy load it, when a row goes in edit mode, an ajax call should fetch the row in edit mode by rendering the input facets only. This will really help reducing page size and speed up performance.

[2015-06-17 07:36] PiotrRaszkowski opened #446 "Wizard - Next button causes NullPointerException"
When you move to the last step, the "Next" button disappears but you can change the css property "display" to block and then you are able to click the button again (additionally you can click the button before it disapears). This action causes NullPointerException in your code:
Line 76, WizardRenderer

[2015-06-17 07:37] erik-wramner commented on #287
This was removed for 5.2.4 and now 5.2.6 is out. Is there anything I can do to help get this incorporated into a coming release? We are currently patching this into the released versions for our application, so it would be great to have it in the official code. The same goes for #51.

[2015-06-17 08:26] mertsincan opened #447 "DateAxis support for Vertical Bar Chart"
Exp;

[code]

[2015-06-17 08:35] cagataycivici commented on #446
How to replicate at showcase?

[2015-06-17 08:39] PiotrRaszkowski commented on #446
Hi,

Use FireBug or similar tool to change the "display" property (from "none" to  "block"):
![image](https://cloud.githubusercontent.com/assets/6020028/8202756/20ec1f32-14dd-11e5-8fb9-f1b158021495.png)

Click "Next"
![image](https://cloud.githubusercontent.com/assets/6020028/8202725/efad31e0-14dc-11e5-9da0-1cc0ff58a4c8.png)

[2015-06-17 08:58] aluzme commented on #39
have issue fixed yet

[2015-06-17 09:03] #447 closed, assigned to mertsincan

[2015-06-17 09:17] cagataycivici commented on #445
Will not proceed.

[2015-06-17 09:18] #445 closed, assigned to cagataycivici

[2015-06-17 12:07] srbala commented on #443
Have you posted your question in PrimeFaces forum, you will get your answer since it has been reviewed by all community members.

[2015-06-17 15:37] SavchenkoVV opened #448 "Add HumanReadablePlacement settings to barcode"
Barcode4J provides 3 placement:

public static final HumanReadablePlacement HRP_NONE = new HumanReadablePlacement("none");

public static final HumanReadablePlacement HRP_TOP  = new HumanReadablePlacement("top");

public static final HumanReadablePlacement HRP_BOTTOM  = new HumanReadablePlacement("bottom");

[2015-06-17 17:51] rwaals commented on #443
Thanks, I have submited a topic there.

[2015-06-17 20:08] NilsonUehara opened #449 "inputText error: "1.540,00" não pode ser entendido como data"
When inputText is formated with `<f:convertNumber pattern="#,##0.00" />`, i get the error: `"1.540,00" não pode ser entendido como data`

[code]

Primefaces 5.2.5
Mojarra 2.2.9

[2015-06-17 21:17] tandraschko commented on #449
does it work with h:inputText?

[2015-06-18 03:21] sudheerj commented on #446
Thats fine.But generally Why user will  change the CSS through firebug and do the web interactions.

[2015-06-18 07:24] PiotrRaszkowski commented on #446
This bug has been detected by our tester - he was able to click the button before it disappeared... and it is possible also using your showcase :).

[2015-06-18 08:07] ghost opened #450 "Add default icon for p:confirm"
See the following minimal example, maybe the "alert" icon would be more appropriate instead of the plain "default" icon (which is the caret in our situation):
# Minimal Example
## page.xhtml

[code]
## Result

![global-confirm-dialog-default-icon](https://cloud.githubusercontent.com/assets/11957680/8226738/c12e5662-15a1-11e5-87e4-1ae69f5795be.png)

[2015-06-18 09:52] cagataycivici opened #451 "Performance improvement for ajax requests to find form"
jQuery selector we have uses parents('form:first'), this is very inefficient, use closest(':form') instead.

[2015-06-18 09:53] #451 closed, assigned to cagataycivici

[2015-06-18 09:56] cagataycivici opened #452 "Wrong position in Bar chart highlighter"
Highlighter of bar charts are not positioned correctly.

[2015-06-18 11:40] NilsonUehara commented on #449
Yes. With h:inputText works ok.

[2015-06-18 16:13] #452 closed, assigned to cagataycivici

[2015-06-18 16:13] fcanevar opened #453 "Locale support for p:spinner"
The spinner component (http://www.primefaces.org/showcase/ui/input/spinner.xhtml) should support different locales to enable input like "1,1" or "1.000,582" instead of "1.1".

This problem was first discovered in 2010 (http://forum.primefaces.org/viewtopic.php?f=3&t=6398), then an issue was opened in Jan 2015 (https://code.google.com/p/primefaces/issues/detail?id=7852) but still no luck.

Can anyo

[2015-06-18 16:17] cagataycivici commented on #453
What options should be defined by locale?

[2015-06-18 16:19] cagataycivici commented on #446
Ok, will look into it.

[2015-06-18 16:20] cagataycivici commented on #443
Could be an issue with jetty 9 upload impl so not related to PrimeFaces, try commons uploader.

[2015-06-18 16:20] #443 closed, assigned to nobody

[2015-06-18 16:21] cagataycivici commented on #448
Sorry but what is this about? Please provide more info.

[2015-06-18 16:21] cagataycivici commented on #39
It would have been marked as closed with a version number.

[2015-06-18 16:22] cagataycivici commented on #287
We'll look into this for 5.3 but can't do it right now due to workload.

[2015-06-18 16:23] cagataycivici commented on #444
What do you mean by dom changes?

[2015-06-18 16:24] fcanevar commented on #453
Mainly the decimal and the thousands separator, for example you could see how this one works: http://jqueryui.com/spinner/#decimal . If you use the German locale the decimal separator changes. (try input 1.000,99 and then press '+').
Thank you very much for your prompt reply

[2015-06-18 17:04] RejDev commented on #444
for example, when we remove a table element with the "remove button" , it displays a message with the function :

[code]

it adds the message, and it shifts the dataTable, if you close the message,it activates the "stickyHeader" erroneously.

[2015-06-18 17:19] RejDev commented on #444
for example, when we remove a table element with the "remove button" , it displays a message with the function :

[code]

it adds the message, and it shifts the dataTable, if you close the message,it activates the "stickyHeader" erroneously.

[2015-06-18 17:43] SavchenkoVV commented on #448
HRP_BOTTOM
![1](https://cloud.githubusercontent.com/assets/12197986/8237840/6a06443e-160b-11e5-9dc8-5a2b62b3e626.png)

 HRP_NONE
![2](https://cloud.githubusercontent.com/assets/12197986/8237841/6a061e46-160b-11e5-952d-acd2eba1e9af.png)

HRP_TOP
![3](https://cloud.githubusercontent.com/assets/12197986/8237839/6a03e504-160b-11e5-8fa4-1e59edb340f8.png)

[2015-06-18 22:35] RejDev opened #454 "p:panelGrid 's children must be a multiple of the option columns when layout="grid", otherwise it causes an error in the DOM."
Hello,
if the number of children of `p:panelGrid` are not a multiple of the `columns` option when `layout="grid"`, the div:

[code]

will not be closed !

<b>Code:</b> (columns="3" , but only 5 `<p:outputPanel>` ) [[ if 3/6/9/12/... no bug ]]

[code]

<b>Screenshot of the error in the generated html code:</b>
![cap5](https://cloud.githubusercontent.com/assets/12255492/8243975/a4790a84-160b-11e5-8b

[2015-06-18 23:02] RejDev commented on #219
Hello,
here is the cause of this problem:
https://github.com/primefaces/primefaces/issues/454

[2015-06-19 02:07] srbala commented on #443
commons-fileupload-1.3.0.jar is missing on your jar files list you may want to add that. Primefaces components has dependency on it
https://raw.githubusercontent.com/primefaces/primefaces/master/src/main/java/org/primefaces/component/fileupload/CommonsFileUploadDecoder.java

Few web.xml entries missing, you may want to add them too.

[code]

[2015-06-19 07:03] evesmary opened #455 "Text is being saved as images by Primefaces fileUpload"
I have a fileuploader and inputtext in a page. When I paste a text copied from a microsoft excel file to the inputtext component, the file uploader method is being invoked. As the result, the text is being saved as an image by primefaces fileUpload component.

Using PrimeFaces 5.1, JSF 2.1 Mojarra, Spring 3.2.13 and tomcat 7. Windows 7 professional, Microsoft Excel 2013 (xlsx).
common-fileupload-1

[2015-06-19 07:20] fante76 commented on #453
Hi! I've the same problem in the web application I'm developing. I'll stay tuned for a good solution.

[2015-06-19 07:49] rwaals commented on #443
I have it working now on Tomcat, using the native method (not including any of the commons libraries). I have tried everything to get it to work on Jetty, but, alas, it simply doesn't work there.

[2015-06-19 10:32] elhaloui commented on #295
I have the same problem and i think it will be nice to have getRowKey  in CellEditEvent

[2015-06-19 11:17] cagataycivici opened #456 "Reimplement Carousel"
Carousel implementation is legacy and misses practices from our latest widgets, reimplement it from scratch and also consider responsive carousel.

[2015-06-19 16:11] thaednevol opened #457 "required="true" 'breaks' update"
I have a datatable with two buttons at the end of the row, one is for editing and the other is for delete the row. When pressing any of these buttons, open a dialog (or confirm dialog if it's deleting it) and it is updated with the fields of the row.

At the end of the datatable I have a button to add a row with a dialog. This dialog contains a form which has inputtexts and some of them are requir

[2015-06-19 16:41] cagataycivici opened #458 "Responsive Carousel"
Add responsive option to carousel, when enabled content adjusts itself according to screen size.

[2015-06-19 17:26] dieter57 opened #459 "DataExporter XML does not correctly escape headers containing special characters"
Creating a datatable with variable column names is not exportable as XML with the DataExporter because the created tag is not correctly escaping the character `<`.

Having following definition in an xhtml page

[code]

with

`columnname[0] = "erw. >50% behind."`
`columnname[1] = "kind >50% behind."`
and
`statistikDetails0] = "10"`
`statistikDetails1] = "5"`

the produced xml looks like

[code]

[2015-06-19 18:58] sudheerj commented on #457
Why you need to update previous update/delete dialogs when you do operations on add dialog.Its better to have a sample testcase with the proper code snippets to replicate the issue.Or use forum with detailed explanation to confirm it as bug.

[2015-06-19 19:37] thaednevol commented on #457
OK, Let me explain better. There are 3 dialogs: one for add, one for editing and a confirmdialog to delete. The editing and deleting ones are updated according to the row of the datatable. And that is ok. Now, the add dialog has the fields empty, and some of them are required.

When the add dialog doesn't have the required="true" tag, the editing and deleting are updated for the buttons, even if r

[2015-06-19 20:36] stephanrauh opened #460 "Remove CSS scale from Advanced FileUpload"
The fileupload.css contains a very strange line that causes errors - for instance, see [this bug](https://github.com/TheCoder4eu/BootsFaces-OSP/issues/110) which has been reported on the BootsFaces page. As it turns out, it's a PrimeFaces bug, which in turn is a bug you've inherited from the FileUpload jQuery plugin.

The offending line is:

[code]

As a quick fix, it suffices to remove the line.

[2015-06-20 14:14] sudheerj commented on #100
Duplicate of issue #447

[2015-06-20 15:08] #100 closed, assigned to nobody

[2015-06-20 16:39] djmj opened #461 "Add filterBy and matchMode to Autocomplete"
I implemented a generic DAO using apache beanutils BeanComparator that I use to have a generic approach to be used in AutoComplete component.

My generic DAO can be obsolete if AutoComplete component will be enhanced adding `filterBy` and `matchMode` attributes and filter the binded collection itself.

`<p:autoComplete value="#{bean.foos}" var="varFoo" filterBy="#{varFoo.bar.name}" matchMode="cont

[2015-06-20 16:44] djmj opened #462 "AutoComplete - add maxResults parameter to filter method definition"
Add maxResults parameter to filter method definition. Similar to LazyDataModel.
Bean is not responsible of number of results.

In markup we set `maxResults` but in bean method we have to duplicate the number of results.

`<p:autoComplete maxResults="5" completeMethod="#{bean.filter}"/>`

`public List filter(String query) { return dao.getRows(query, 5) }`

Seperation of concern makes it cleaner:

`

[2015-06-20 16:53] sudheerj commented on #444
The issue is replicated and caused by default slideUp effect of a messages close icon during the click event.If there is a close effect then we can change the default close effect behavior.So it is good to have issue title as close effect feature.

In the mean time you might customize the messages renderer or use custom jquery code as a workaround.

[2015-06-20 17:06] sudheerj commented on #457
Are you trying to open multiple dialogs in the same page and update from one dialog to other.It is not a good design.For better understanding the usecase it is good to have a sample testcase with test.xhtml and testbean.java files.

[2015-06-20 18:20] thaednevol commented on #457
Hi. My test files are:

[code]

And the java code:

[code]

[2015-06-20 18:47] sudheerj opened #463 "Enter key submits the form on picklist filter event"
The enter key submits the form when picklist source filter or target filter event is triggered.This can be replicated on showcase example as well.The picklist example submits the form and the dialog will prompt.It has to be handled similar to datatable filter etc.

[2015-06-21 11:28] cagataycivici opened #464 "FileDialog displayed when clicking outside of simple fileupload"
Due to a CSS issue, even clicking outside of choose button displays native file dialog in simple mode.

[2015-06-21 11:30] #464 closed, assigned to cagataycivici

[2015-06-21 11:38] cagataycivici commented on #461
This is a too custom requirement and the value added is not worth the effort.

[2015-06-21 11:38] #461 closed, assigned to nobody

[2015-06-21 11:43] #463 closed, assigned to cagataycivici

[2015-06-21 11:51] cagataycivici commented on #460
I fixed #464, that is related to simple mode but cant's see any other issue with advanced. Trying the case on your end now.

I consider upgrading the plugin, it is just we fixed a couple of things in their code, need to test-migrate if necessary.

[2015-06-21 11:57] cagataycivici commented on #460
I couldn't replicate but removing it seems to work fine as well so will do it.

[2015-06-21 11:58] #460 closed, assigned to cagataycivici

[2015-06-21 11:59] cagataycivici commented on #462
You can just bind the maxResults to a bean property and call your backend call with it, instead of we passing it.

[2015-06-21 11:59] #462 closed, assigned to nobody

[2015-06-21 12:06] cagataycivici commented on #457
This should better be a forum post not a defect report as technically dialogs would be updated if you check the partial response xml.

[2015-06-21 12:06] #457 closed, assigned to nobody

[2015-06-21 12:07] cagataycivici commented on #454
This is expected, in layout mode, Grid CSS rules should be followed. Maybe should be documented better on our side though.

[2015-06-21 12:07] #454 closed, assigned to nobody

[2015-06-21 12:11] cagataycivici commented on #444
It is a very edge case yes. We can't now if DT is pushed down. Also you haven't mentioned your PF version, try with the latest version.

[2015-06-21 12:12] #444 closed, assigned to nobody

[2015-06-21 12:14] cagataycivici commented on #459
Yes, we should escape it, care to provide a pull request for XMLExporter.java?

[2015-06-21 12:15] cagataycivici commented on #295
Ok, let's do it then.

[2015-06-21 12:18] cagataycivici commented on #453
I think we can get it from PrimeFaces.locales maybe. We already have decimal seperator and grouping separator. Will keep this in our radar for 5.3.

[2015-06-21 12:19] cagataycivici commented on #455
What do you mean by inputtext? Please post a minimal test.xhtml replicating this.

[2015-06-21 12:20] #219 closed, assigned to nobody

[2015-06-21 12:20] cagataycivici commented on #448
Ok, got it.

[2015-06-21 12:21] cagataycivici commented on #448
Care to make a pull request?

[2015-06-21 17:16] dieter57 commented on #459
I just cloned the project and will have a look int the XMLExporter.java
tomorrow.
Hopefully coming up with an idea how to escape the special characters.
Regards
Dieter

Am 21.06.2015 um 14:14 schrieb Çağatay Çivici:

[2015-06-21 17:32] djmj commented on #462
Thats what i am currently doing which is a lot of boilerplate max result count definitions. It is nothing severe but its just unnecessary Java code in my opinion. Also maintaining is more work since one must always go into the bean to change the count.

And thats what I like a lot about JSF and PF, to write less Java Code :)

Your comment shows the inconsistency between the autoComplete filter and

[2015-06-21 17:32] RejDev commented on #454
Thank you for your reply,
I have a proposal , why not add hidden divs to compensate ?

[2015-06-21 17:34] djmj commented on #295
Thank you :+1:

[2015-06-21 17:47] RejDev commented on #444
Hello,
I tested with the latest version (primefaces-5.3-SNAPSHOT - 21/06/2015) .
The problem still exists.

[2015-06-22 04:54] evesmary commented on #455
I tested in Chrome41, firefox 38 and Safari. This issue occurs only in Chrome...inputtext means p:inputText..I have update the issue with the test code.

[2015-06-22 07:19] fcanevar commented on #453
Thanks a lot, is there a roadmap for the 5.3 release?

[2015-06-22 08:40] fcanevar commented on #453
This is the patch that I've made based on this one: http://jsf.hatemalimam.com/DailyLab/spinner/main.xhtml , keep in mind that it's tailored on our needs and that I'm not a JavaScript developer.

String.prototype.replaceAll = function(search, replace) {
    if (replace === undefined)
        return this.toString();
    else
        return this.split(search).join(replace);
}

PrimeFaces.widget.Spin

[2015-06-22 09:05] 452 commented on #11
be wonderful to see some API methods like this:

[code]

for others people old link of discussions:
https://code.google.com/p/primefaces/issues/detail?id=1469
http://forum.primefaces.org/viewtopic.php?f=3&t=5952

[2015-06-22 09:10] dieter57 commented on #459
I have a solution - just contact me in the primefaces community orum with the same userid or (dieter@wintop.net)

[2015-06-22 10:45] nelsongraca opened #465 "Parameter passed to ui:composition is not resolved by p:ajax"
The problem seems to be the same as here, still affects PF5.2
https://code.google.com/p/primefaces/issues/detail?can=2&start=0&num=100&q=&colspec=ID%20Type%20Status%20Priority%20TargetVersion%20Reporter%20Owner%20Summary&groupby=&sort=&id=4075

[2015-06-22 12:27] 452 commented on #11
on this moment I found only one workaround, but in my opinion this is bad way

[code]

[code]

[2015-06-22 12:50] cagataycivici commented on #465
This has been discussed many times, you need to cast AjaxBehaviorEvent in a case like this.

[2015-06-22 12:50] #465 closed, assigned to nobody

[2015-06-22 12:51] #446 closed, assigned to cagataycivici

[2015-06-22 12:55] #419 closed, assigned to cagataycivici

[2015-06-22 13:07] #295 closed, assigned to cagataycivici

[2015-06-22 13:10] cagataycivici opened #466 "Remove ui-state-focus from tabview"
We already have ui-tabs-outline to indicate focus on tabs for keyboard accessibility.

[2015-06-22 13:23] 452 opened #467 "new feature request for confirmDialog in <p:ajax /> and or <p:droppable />"
I think this be wonderful to use:

one global `<p:confirmDialog />`

[code]

`<p:ajax />` with `<p:confirm />`:

[code]

`<p:droppable />` with `<p:confirm />`:

[code]

[2015-06-22 13:57] nelsongraca commented on #465
While that works, I just want to say it feels more like a workaround than a fix, and would be nice to find some reference to this in the docs (I couldn't find any).

[2015-06-22 15:31] #466 closed, assigned to cagataycivici

[2015-06-22 15:46] #285 closed, assigned to cagataycivici

[2015-06-22 15:51] cagataycivici opened #468 "Add active option to Spotlight"
This is to control the initial state of spotlight, when true spotlight is shown as active.

[2015-06-22 15:56] cagataycivici opened #469 "Remove animate from spotlight taglib"
This attribute is not used, remove to avoid confusion.

[2015-06-22 15:56] #468 closed, assigned to cagataycivici

[2015-06-22 15:58] #469 closed, assigned to cagataycivici

[2015-06-22 16:02] cagataycivici commented on #459
Can't you just provide a pull request, what is so secret about it :)

[2015-06-22 19:03] dieter57 commented on #459
Just had to struggle with the build of the library because of some dependencies not in the pom.
Solved the issue, could test it and provided the pull.

[2015-06-23 08:08] #103 closed, assigned to cagataycivici

[2015-06-23 08:27] cagataycivici commented on #274
@mertsincan please also do the mobile renderers of standard components.

[2015-06-23 09:10] cagataycivici opened #471 "TextArea autoresize fails on IE10"
Functionality does not work and textarea is displayed as single line of input field.

[2015-06-23 09:51] gollrich opened #472 "Calendar: DateTimePicker error in javascript for mode="inline""
I´m reopening an bug from your old issuetracker...

https://code.google.com/p/primefaces/issues/detail?id=6790&thanks=6790&ts=1397477544

for more information also read
http://stackoverflow.com/questions/23036356/bug-in-primefaces-calendar-timepicker

issues still exists in 5.1.19 and 5.2.6

[2015-06-23 11:47] tandraschko opened #473 "RequestContext#showMessageInDialog should escape \n"
we should just replace \n by <br/>

[2015-06-23 12:15] #473 closed, assigned to tandraschko

[2015-06-23 12:56] JohnSchneider commented on #274
Thanks guys.

[2015-06-23 14:24] #471 closed, assigned to cagataycivici

[2015-06-23 15:50] cagataycivici opened #474 "TreeTable throws NPE on checkbox selection with required"
If a treeTable has checkbox selection and required, if no selections have been made a null pointer is thrown at validations phase.

[2015-06-23 15:50] #474 closed, assigned to cagataycivici

[2015-06-23 19:40] sudheerj commented on #348
@RejDev
I tried to replicate the issue.We need to unselect all the toggler checkboxes and then re-select all checkboxes then only the issue is replicated(even though column priority styles are still applied).Not replicated for the specific column.Isn't it?

[2015-06-24 07:11] cagataycivici commented on #465
I'm aware of that, we worked on this before but there is no other workaround.

[2015-06-24 07:13] cagataycivici commented on #275
Note that timeZone attribute is used during conversion of the submitted value, I don't think it is used anywhere at client side. So user submits Samoa time but it gets converted using New Zealand time. For conversion process, it needs to know about the offset right?

https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Date/getTimezoneOffset

Could we just put this info in hidden v

[2015-06-24 07:14] cagataycivici commented on #459
Thanks, will check!

[2015-06-24 07:18] cagataycivici commented on #467
p:ajax and p:confirm are both behaviors so not possible to nest them, they can be chained though. Confirm support for droppable could be useful it is too much work and we'd prefer waiting for more user requests regarding this. So closing it for now, if more users demand it we'll reopen. Thank you for your feedback.

[2015-06-24 07:18] #467 closed, assigned to nobody

[2015-06-24 07:19] cagataycivici commented on #453
Thank you, we'll consider this for 5.3.

[2015-06-24 07:20] cagataycivici commented on #455
Have you tried with 5.1, we can't replicate this.

[2015-06-24 07:22] cagataycivici commented on #454
We'll consider it if more users require it so won't take any action just for now.

[2015-06-24 07:22] cagataycivici commented on #462
If more users demand it, we can do it for sure but for now won't take action.

[2015-06-24 07:28] cagataycivici commented on #450
Issue is there is no default-icon so I think we should add one :)

[2015-06-24 07:34] ghost commented on #450
True, but as a non-global confirm dialog uses "alert" as default severity, it would either be nice not to display an icon at all or fallback to a default (perhaps "alert"? :-))

[2015-06-24 10:59] fcanevar opened #475 "Spinner: add precision attr"
I've noticed that the parameter "cfg.precision" is based on the stepFactor, that assumption is not always correct in my case. For example I could have a quantity of 2.75 meters and a stepFactor of 5 meters but the precision requested is 2 and not 0, I think it should be a parameter as the stepFactor is.

[2015-06-24 13:27] #424 closed, assigned to nobody

[2015-06-24 21:15] frederikd commented on #275
@cagataycivici I am not sure how submitting something to the server will help in this context. The problem is seemingly on the client side only. In our scenario we don't care about the computer's/client's time zone, but only about the one that the user can choose themselves in their user profile.
On the server side everything is handled as UTC, so conversion is happening already based on user prof

[2015-06-24 21:19] Arvoreen commented on #443
I managed to get this to work, with some minor differences
1. I am using Jetty 9.2.9.v20150224
2. You can not use commons file uploader. Since Jetty DOES implement the Sevlet 3.0 spec, it will try to parse the multipart form itself, even if you add the file upload filter in place.  I make sure to force 'native' processing by setting primfaces.UPLOAD context param to 'native'
3. With that parameter

[2015-06-25 08:26] jeeftor commented on #190
I'd love to see this fixed soon

[2015-06-25 09:03] kukel commented on #190
There is extender functionality... You can always use that for now

[2015-06-25 10:21] patrickgarner opened #476 "MethodExpression support for p:grahicImage"
org.primefaces.el.ValueExpressionAnalyzer doesn't allow nested method call per EL spec.  One must use nested property instead.

[code]

Please see http://stackoverflow.com/q/31037315/984932 for a discussion on this.

[2015-06-25 11:09] tandraschko commented on #476
Currently graphicImage shoudln't even support a single MethodExpression.
I will improve this for further versions.

[2015-06-25 14:21] mbeedub opened #477 "UI issue when input components placed in overlayPanel"
Very unsightly UI behaviour with overlayPanel when it contains input components (inputText, commandButtons etc) - for example when it's being used as an overlay for a login)

http://forum.primefaces.org/viewtopic.php?f=3&t=42565&p=133774#p133774

This contains simple code example taken from Primefaces showcase and also link to demonstrated behaviour:

http://www.videosprout.com/video?id=d54293d1-2

[2015-06-25 14:43] tandraschko opened #478 "[perf] avoid handler lookup in PrimeResourceHandler#handleResourceRequest"
if's only required if handlerType != null.

[2015-06-25 15:23] kukel commented on #477
Bad issue report. In the forum you stated it did work, with what version? Which version are you using now? etc...

[2015-06-25 15:37] mbeedub commented on #477
As per the forum, I haven't noticed if it was working previously or not so unfortunately can't say if it's been introduced recently.

This is a reproducible problem (at least for us) using PF5.2.5 using code taken from the showcase.

[2015-06-25 16:36] cagataycivici opened #479 "DataTable scrolling fails with Column Reordering"
After reorder, header and body is misaligned.

[2015-06-25 16:37] #479 closed, assigned to cagataycivici

[2015-06-25 16:41] cagataycivici commented on #477
A couple of questions... Which theme do you use, do you have a PrimeFaces layout as well like Sentinel? An external css option could be the issue, also what browser do you experience this with?

[2015-06-25 16:42] cagataycivici commented on #476
I also agree that we should throw exception or something when a method is bound, only values should be allowed per implementation.

[2015-06-25 16:45] cagataycivici commented on #190
@jeeftor Do you mean displayEndEvent?

[2015-06-25 16:46] cagataycivici commented on #443
Glad to hear, thanks for sharing this.

[2015-06-25 16:49] cagataycivici commented on #275
Ok, I think datepicker plugin's today button just gets the local time from user computer with no ability for timezone offset, I've found this;

http://blog.pocko.org/2010/04/jquery-datepicker-utc-offset-feature/

[2015-06-25 16:50] cagataycivici commented on #424
Why have you closed this, is issue resolved? I'm not sure how this could happen as we don't process children on inactive components in dynamic mode.

[2015-06-25 17:01] #450 closed, assigned to cagataycivici

[2015-06-25 17:01] cagataycivici commented on #450
Added alert as default.

[2015-06-25 17:19] tandraschko opened #480 "Log if QR/Barcode is requested and if the dependency is not available"

[2015-06-25 18:13] mbeedub commented on #477
You're quite right.  We've traced it to an external CSS file.   Please close this as a non issue.  Apologies for the false ticket.

[2015-06-25 20:53] frederikd commented on #275
That looks exactly like the issue we are having. Is there any way to support this as part of Primefaces, or would we have to do our own override for this?

[2015-06-25 20:53] aroeber commented on #190
As kukel mentioned it can be done via extender functionality as a work around:

[code]

[2015-06-25 23:53] pacificmaritime opened #481 "Autocomplete table body does not render when column not rendered"
**org.primefaces.component.autocomplete.AutoCompleteRenderer**#_encodeSuggestionsAsTable_
Around line 438, shouldn't this be a continue statement?

[code]

The table body will not render after return statement.

[code]

[2015-06-26 07:34] ozziej opened #482 "p:fileUpload inside a panel grid fails"
In this example:

[code]

If you have the p:panelGrid, you get the following error in the browser debugger.

Uncaught TypeError: Cannot read property 'getContext' of undefined
fileupload.js?ln=primefaces&v=5.2:1
Removing the `<p:panelGrid>` will then allow the uploader to work.

[2015-06-26 07:44] arend-von-reinersdorff commented on #94
I just tested the problem in my project again:
- The problem appears with Primefaces 5.0
- The problem no longer appears with Primefaces 5.1 and 5.2

Also, I cannot reproduce it in the current showcase anymore.

Looks like the problem is fixed?

[2015-06-26 21:06] bagovino opened #483 "Non-lazy datatable and SelectableDataModel"
Hi,

I'm currently attempting to implement a SelectableDataModel for a non-lazily loaded datatable. I created a new class that extends ListTableModel and implements SelectableDataModel:

[code]

I then populate this class with a List of the relevant objects and set the value attribute of the datatable to an instance of this class. I setup another List to hold the selected rows:

[code]

Everything

[2015-06-26 21:19] tandraschko commented on #483
Already fixed -> https://github.com/primefaces/primefaces/issues/229

[2015-06-26 21:19] #483 closed, assigned to tandraschko

[2015-06-27 14:11] flavio-pessoa opened #484 "Specialization of QR Code with implementation of Error Correction"
doubts arose when one is developing a screen using PrimeFaces 5.1 component (Barcode) , the requirements asked to create a QR Code with recovery level H.

how QRGen its build in zxing and himself suport recover level it's basic extend AbstractQRCode, equal example QRCode in QRGen directory (https://github.com/kenglxn/QRGen/blob/master/javase/src/main/java/net/glxn/qrgen/javase/QRCode.java) in meth

[2015-06-27 14:31] srbala commented on #6
I have been educating myself to maintain personal repository of PrimeFaces at https://github.com/jsftools/jpt-primefaces/releases

When time permits if you could do a review https://github.com/jsftools/jpt-primefaces/commits/5.2.x and give me feedback, i would really appreciate it.

[2015-06-28 16:43] bsanders1979 commented on #433
I've actually implemented this very functionality (not the escape key) and it was pretty easy to do. However, I added the escape piece because it's pretty simple. I can see why it's not implemented OOTB because it might be difficult to cover all use cases without overstepping boundaries.

[code]

[2015-06-29 06:25] slawomirkisiel opened #485 "CodeMirror readonly attribute"
If I need to use readonly feature on pe:codeMirror component I have to use "readOnly" attribute (upper "O") which works fine but in taglib (META-INF\primefaces-extensions.taglib.xml) there is defined "readonly" attribute (lower "o"). It causes error notification in NetBeans while using this attribute.

[2015-06-29 06:52] tandraschko commented on #485
use the extensions issuetracker next time and it's already fixed.

[2015-06-29 06:52] #485 closed, assigned to nobody

[2015-06-29 07:09] mauromol commented on #433
Actually, I'm currently using the code provided by BalusC on Stackoverflow with no issues so far. It's quite brief. I'm reporting it here how the Enter key is handled:

[code]

[2015-06-29 09:31] evesmary commented on #455
Was this issue tested by copying the cell instead of copy the text of a cell?

[2015-06-29 14:40] NilsonUehara commented on #449
This issue will be corrected in the next version 5.3?

[2015-06-29 14:55] tandraschko commented on #449
If we have time to fix it, yes.

[2015-06-29 14:56] NilsonUehara commented on #449
Ok. Thanks a lot!

[2015-06-30 07:06] scsynergy opened #487 "selectBooleanButton value is String literal"
Hi,

with primefaces 5.2, selectBooleanButton passes its value as a String literal "true" or "false" instead of as a boolean value. As soon as I added

[code]

it worked without problems.

[code]

Sadly, noone would verify my findings - here is the forum thread
http://forum.primefaces.org/viewtopic.php?f=3&t=42498

Regards,
Ronny

[2015-07-01 08:50] Julienng opened #488 "Calendar read only show overlay to select date"
Calendar have a bug, when the parameter `readonly` is on. You can modify the value of the calendar via the overlay if the calendar doesn't have a value (example above).

[code]

If the calendar is readonly, that not make sense to have an overlay to choose a date.

PF 5.2

[2015-07-01 09:20] Julienng opened #489 "Calendar: overlay isn't always open"
When you have a focus on a calendar with effect and click directly into the input of another calendar, the overlay isn't open.

Try on the show case:
- click into the calendar with label `Effect:` -> the overlay is open
- click into the calendar with label `Popup` -> the previous overlay is hidden but the new one doesn't appear
- click some where in the page
- click into the calendar with label `P

[2015-07-01 09:25] Julienng commented on #489
If you lose the focus of the current calendar before open another the overlay work correctly. But that cause problem when you create a page with create date - delivery date. People click directly into the next calendar.

[2015-07-01 13:37] #274 closed, assigned to mertsincan

[2015-07-02 04:08] sudheerj commented on #488
When we used calendar readonly property then popup date will be selected but not submitted.The disabled attribute only protects from both input and popup selection.

[2015-07-02 06:20] mafaul commented on #54
Email from Google:

Google launched reCAPTCHA v2 (i.e. No CAPTCHA reCAPTCHA) in Dec, 2014. The new version provides a more simplified user experience than reCAPTCHA v1, with an enhanced spam fighting mechanism.

Action requested: please upgrade your site implementation to reCAPTCHA v2.

Thank you,
reCAPTCHA Support

[2015-07-02 07:14] Julienng commented on #488
That not make sense to have a readonly property when this property accept write too. Final user doesn't understand if he can choose a date but never saved it.

[2015-07-02 07:56] cagataycivici commented on #488
I agree, will work on it.

[2015-07-02 07:58] cagataycivici commented on #54
My colleague @mertsincan is working on this now.

[2015-07-02 08:04] cagataycivici commented on #489
Can you replicate at;

https://jqueryui.com/datepicker/#animation

[2015-07-02 08:06] cagataycivici commented on #487
Not sure what is wrong on your side but component does the implicit conversion for you already, live demo is at;

http://www.primefaces.org/showcase/ui/input/booleanButton.xhtml

[2015-07-02 08:06] #487 closed, assigned to cagataycivici

[2015-07-02 08:07] cagataycivici commented on #449
What does the error mean in English?

[2015-07-02 08:08] cagataycivici commented on #455
Sorry we are unable to replicate.

[2015-07-02 08:08] #455 closed, assigned to nobody

[2015-07-02 08:12] cagataycivici commented on #485
Wrong tracker :)

[2015-07-02 08:14] cagataycivici commented on #482
Your code formatting is broken, please fix.

[2015-07-02 08:16] #477 closed, assigned to nobody

[2015-07-02 08:40] Julienng commented on #489
Nope, need to have two or more calendar into the same parent to have the problem. Like your showcase or my application.
The problem: i'm not able to open the overlay of another calendar when i already have the focus on a calendar.

[2015-07-02 09:47] ozziej commented on #482
Sorry about that, its what happens when you copy and paste without checking :-)

[2015-07-02 10:33] cagataycivici opened #490 "Swipe support for carousel"
For touch enabled devices add swipe support for carousel navigation.

[2015-07-02 10:34] #458 closed, assigned to cagataycivici

[2015-07-02 10:34] #456 closed, assigned to cagataycivici

[2015-07-02 10:34] #490 closed, assigned to cagataycivici

[2015-07-02 12:14] cagataycivici opened #491 "Add PostPageEvent to DataTable"
Similar to PostSortEvent and PostFilterEvent in DataTable, this event is triggered after data component updates its first and rows parameters. p:ajax event="page" is invoked before so good to have a post event callback.

[2015-07-02 13:17] umitmert opened #492 "PF 5.2 fileupload not invoke listener method."
https://code.google.com/p/primefaces/issues/detail?id=7545

[2015-07-02 15:06] fcanevar opened #493 "Responsive rowExpansion"
If the datatable containing the p:rowExpansion uses columns with the priority attribute, the generated html doesn't keep track of that and uses the same colspan ruining the layout.

Example:

[code]

You can see that when the "priorityColumn" disappears, the expansion colspan remains "2".

Thanks

[2015-07-02 18:14] sudheerj commented on #489
I can able to replicate the issue on PF showcase example.But we need to try it out in the jquery UI demo by adding popup calendar and animated calendar in the page(i.e by checkout the source).Then it can be formed whether it created an issue from jquery UI plugin or PF side.

[2015-07-02 18:25] sudheerj commented on #493
Is that means the rowExpansion table doesn't support the responsive feature  for rowExpansion data?

[2015-07-03 06:34] scsynergy commented on #487
#{search.object} is a HashMap, whithout the explicit converter the value for the key 'lock' is either the "true" or "false" literal string. With the explicit converter the value is Boolean.TRUE or Boolean.FALSE - looks to me like the implicit conversion fails for this specific scenario.

[2015-07-03 06:35] cnsgithub opened #494 "PF Mobile dynamic tabview is broken"
Hi, i am having exactly the same issue described here. (The shown code can be used for testing)

http://forum.primefaces.org/viewtopic.php?f=3&t=41479

PrimeFaces Version: 5.2.7 + Mojarra 2.2.11

Thanks, hope this can be fixed in a future patch, i am using a very ugly workaround up to now

[2015-07-03 10:07] #494 closed, assigned to mertsincan

[2015-07-03 12:07] Silense opened #495 "Dialog Framework: add customizeable position option"
It would be nice if we can set position for dialog (created by DialogFramework). By default in PF 5.2.RC3 position is "center".

I'm not familiar with JS, but i can offer this code (monkey-patching):

[code]

The difference is only at
`pos = e.options.position || "center";`
and in
`PrimeFaces.cw args.`

After this modification we can use "position" option when backing bean calls
`public abstract v

[2015-07-03 15:50] cagataycivici commented on #487
Does h:selectBooleanCheckbox work with that case?

[2015-07-03 16:13] NilsonUehara commented on #449
I could not make my system work with the en_US locale to view the message in English. But I think it's: "could not be Understood as a date"

[2015-07-03 16:25] mbechler opened #496 "UIData: rowIndexVar ignored when rowStatePreserved=true"
The copied UIData.setRowIndexRowStatePreserved implementation does not set the rowIndexVar in the request context. Probably should call setRowModel.

[2015-07-03 18:21] metaxmx opened #497 "Sticky: initialization incomplete"
The "Sticky" component does not fully support reloading:
- The component performs the first layouting when the first window.scroll event is fired.If the browser is already scrolled down when the sticky component is initializing, the target component is not made sticky until the user starts scrolling
- The status of the Sticky JavaScript component is not reset completely on reloading. When the Stic

[2015-07-06 01:18] balayogeeswar opened #498 "Lazy Data Table pagination changes displays raw text instead of datat able."
Dear PF team,

I have implemented Lazy data loading in ta tab view , Once the data loaded I will set total count of records from db and i will only fetch few records based on LIMIT, but when i click pagination the data table fetches the data and displays like raw text , how can fix this?.

Please let me know how to fix this. am using latest prime faces version too.
![on data load](https://cloud.gi

[2015-07-06 07:28] fcanevar commented on #493
Yes, it doesn't support the responsive feature of the datatable

[2015-07-06 07:34] indracrg opened #499 "Primefaces + Atmosphere Push Message Bug"
Updating the latest Primefaces and Atmosphere libraries in our system the push messages stop working, doing some tests and research we found that using PF 5.2.7 with Atmosphere 2.3.1 (or higher) in a Wildfly 8.2 (JEE7, Servlet 3.1), make Push messages unresponsive. It seems a change in Atmosphere 2.3.1+ related with the bug https://github.com/Atmosphere/atmosphere/issues/1799.
We have tried the wo

[2015-07-06 08:12] scsynergy commented on #487
Yes, even p:selectBooleanCheckbox works without errors.

[2015-07-06 08:13] Julienng commented on #489
Ok thanks !

[2015-07-06 10:14] jrodalo opened #500 "SelectCheckboxMenu with SelectItemGroups"
It would be nice if SelectCheckboxMenu supports SelectItemGroup like SelectOneMenu does.

With the following code:

[code]

and

[code]

I expect to see something like this:

![primefaces_2](https://cloud.githubusercontent.com/assets/1197514/8520074/273a92d2-23cf-11e5-97a9-5db8deb80573.png)

But Primefaces 5.2.x its rendering this:

![primefaces_1](https://cloud.githubusercontent.com/assets/119751

[2015-07-06 15:15] ptrzyna commented on #65
This AJAX event could also be used to refresh the counts/position in the table during live scrolling:
Example: Footer could have something like the following: "Showing 10 through 50 of 105999 records."

[2015-07-06 15:50] srbala commented on #432
Another work of signature capture based on @triceam work;
The link below was the one I was explained you about the signature capture rewrite, this work is generated using coffee script under MIT.

https://github.com/doublerebel/Mobile-Signature-Capture
https://raw.githubusercontent.com/doublerebel/Mobile-Signature-Capture/master/lib/signaturecapture.js

[2015-07-07 17:19] jfarcand commented on #317
This is fixed in 5.3-SNAPSHOT.

[2015-07-07 17:19] #317 closed, assigned to nobody

[2015-07-07 17:20] jfarcand commented on #317
Fix was https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/services/org.atmosphere.inject.Injectable

[2015-07-07 17:37] jfarcand commented on #499
Can you share some exception or code describing the issue?

[2015-07-07 17:59] jfarcand commented on #499
Please try `2.3.4-SNAPSHOT`, I think I've found the issue.

[2015-07-07 18:12] jfarcand opened #501 "Primefaces 5.3 should use Atmosphere 2.4.x"
Use 2.4.x which has a much better and performant internal injection framework, allowing object like 'RemoteEndpoint` to be injected as request scoped. Custom injection can also easily be done using [Injectable](https://github.com/Atmosphere/atmosphere/wiki/Injecting-Atmosphere-components-and-factories-using-the-javax.inject.Inject)

[2015-07-08 06:34] arunvc opened #502 "Date Time picker and Time picker for Mobile"
It would be nice to have a time picker for PF Mobile,
while using <p:calendar and  PRIMEFACES_MOBILE render kit, time is not rendered

Refer
http://forum.primefaces.org/viewtopic.php?f=3&t=20524
http://code.google.com/p/mobiscroll/

[2015-07-08 10:40] nixj14 commented on #415
Just wanted to follow up and see if that example sufficiently supplied you with what you needed.

[2015-07-08 15:44] victorpacheco3107 opened #503 "Datatable's filter not work when datatable inside overlaypanel that also inside dialog"
I have the next code that work perfectly:

[code]

But I need the same insede dialog:

[code]

It's the same code, the diferent is that is inside the dialog. Now, the filter not work in dialog. When I filter the table, the filter map always is empty!

[code]

Any idea? Thanks!

I'm using PrimeFaces 5.2, JSF 2.1 runing on JBoss EAP 6.1

[2015-07-09 08:26] cagataycivici opened #504 "Responsive charts throw JS error when not visible"
When a responsive chart is inside a hidden container like an inactive tab, resizing window throw JS error.

[2015-07-09 08:44] #504 closed, assigned to nobody

[2015-07-09 08:49] #491 closed, assigned to cagataycivici

[2015-07-09 08:51] cagataycivici commented on #488
I remember this, you need to use readonlyInput instead.

[2015-07-09 08:51] #488 closed, assigned to nobody

[2015-07-09 09:11] #190 closed, assigned to cagataycivici

[2015-07-09 09:22] cagataycivici commented on #432
This is likely to be sponsored by a PRO user.

[2015-07-09 09:22] cagataycivici commented on #65
I agree.

[2015-07-09 09:23] cagataycivici commented on #500
Sounds good to me :)

[2015-07-09 09:40] cagataycivici commented on #493
No idea how we can support this with css, marking as wontfix as a result, if we can find an idea will reopen.

If you could provide a patch, please let us know.

[2015-07-09 09:40] #493 closed, assigned to nobody

[2015-07-09 09:41] cagataycivici commented on #498
Please use forum for cases like these, probably you are updating the datatable itself or its container on page event via p:ajax event="page".

[2015-07-09 09:41] #498 closed, assigned to nobody

[2015-07-09 09:43] cagataycivici commented on #492
This is not a valid issue post, please follow the guideline and use forum first to start with.

[2015-07-09 09:43] #492 closed, assigned to nobody

[2015-07-09 09:44] cagataycivici commented on #482
How about p:panelGrid columns="1"

[2015-07-09 09:46] #402 closed, assigned to cagataycivici

[2015-07-09 09:53] Julienng commented on #488
Ok but why have a parameter `readonly` who is not `readonly` and a parameter `readonlyInput` who is a `readOnly` parameter? That look strange for me. I just want to understand the choice to go to the better way for my constraint.

[2015-07-09 10:20] fcanevar commented on #493
Hi, I think it could be done by creating JS events attached to the CSS mediaqueries that are used to hide the columns and than use the events to change the colspan attribute.

[2015-07-09 16:17] srbala commented on #432
That is good news. Looking forward for the new component.

[2015-07-09 16:30] VsevolodGolovanov commented on #120
@cagataycivici, it seems like this fix was lost when @mertsincan was messing up menu.js in #121.
More interestingly, the fix is not present in the current menu.js on GitHub, yet somehow the fix is there in the 5.2.8 Elite release. I wonder, how could that happen? I guess you have a private repository with branches for maintaining different versions?
Anyway, the fix is lost in the public repository

[2015-07-09 20:55] bravocharlie opened #505 "PrimeFaces.ajax.Response.handleReFocus focuses wrong input if user moves focus after setTimeout called"
The `handleReFocus` method uses setTimeout to recheck focus was set (it is commented as required for IE but is called with any browser).  Once this timeout is set, if the user moves focus to a new element before the timeout expires, the focus will be moved back to the element that was focused previously.  Whilst this is a small window of opportunity (currently 150ms), it is sufficiently long enoug

[2015-07-09 21:02] tomi213 opened #506 "p:fileUpload handles files with semicolon in name improperly"
If I try to upload a file that contains semicolon in the name the file name, the file name gets clipped.
Eg. file "my.exe;image.jpg" is renamed to "my.exe". This allows the person that is uploading the file to bypass allowTypes feature and potentially upload files with any extension.

File name is shown correctly on the web page before upload, but when I push the file name to p:growl from the back

[2015-07-10 09:00] karlkilden commented on #378
FYI our team produced a showcase here: https://code.google.com/p/primefaces/issues/detail?id=8164

[2015-07-10 13:02] augustobreno opened #507 "p:confirm is not working with p:menuItem in p:splitButton in 5.2.0"
This question was posted in Primefaces forum:

http://forum.primefaces.org/viewtopic.php?f=24&t=42725

Primefaces version 5.2.0 says that p:confirm may work with p:menuItem. I've tried make it work but with no success.

Here is the example code to demonstrate de problem. The button "Save" pop's up the dialog, but the buttons "Bt1" and "Bt2" doesn't.

It was supposed by documentation in page 121 to

[2015-07-10 13:33] fcanevar opened #508 "Locale support for p:chart"
The chart component (http://www.primefaces.org/showcase/ui/chart/line.xhtml) should support different locales to visualise numbers like "1,1" or "1.000,582" instead of "1.1".
If I wear to implement this I would add a new "locale" attribute and format the numbers according to the locale, jQplot supports internationalisation via these parameters: $.jqplot.sprintf.thousandsSeparator, $.jqplot.sprintf

[2015-07-10 13:37] fcanevar commented on #508
Right now I'm using an extender but I think it could be more transparent by using a "locale" attribute

[2015-07-10 14:11] indracrg commented on #499
We are sorry for the delay. We tried with 2.3.4-SNAPSHOT but it didn't work. There isn't a exception or trace to pinpoint the issue, all we know is that apparently the p:socket doesn't receive the notification we are firing.

Thanks.

[2015-07-10 14:15] jfarcand commented on #499
@indracrg I will need a test to reproduce it. Try with the `showcase` or any primefaces demo. For me after this fixes everything works as expected.

[2015-07-10 14:53] mailtowim commented on #258
I found the following workaround for this issue:

[code]

[2015-07-10 18:19] cagataycivici commented on #508
This should be up to you using tickFormat.

[2015-07-10 18:19] #508 closed, assigned to nobody

[2015-07-10 19:11] sdsdf23423reasdf opened #509 "p:ajax - automatically add @this to process if not already set"
Please see the stackoverflow question here - this still happens as of version 5.2.

http://stackoverflow.com/questions/10287115/primefaces-ajax-listener-not-executed-when-process-attribute-is-specified-for-a

This is extremely confusing and is the opposite of how the standard JSF components work. If specfying a component id to process, we should not have to also explicity specify @this in the proc

[2015-07-10 20:58] tandraschko commented on #509
We can do something like this:
if (!process.contains("@this")) {
    process = "@ŧhis " +  process;
}

[2015-07-10 21:09] tandraschko opened #510 "java.lang.AbstractMethodError: setFeature"
java.lang.AbstractMethodError: setFeature
at org.primefaces.config.ConfigContainer.initConfigFromWebXml(ConfigContainer.java:283)
at org.primefaces.config.ConfigContainer.(ConfigContainer.java:88)
at org.primefaces.context.DefaultApplicationContext.(DefaultApplicationContext.java:35)
at org.primefaces.context.DefaultRequestContext.getApplicationContext(DefaultRequestContext.java:227)
at org.primef

[2015-07-10 21:09] #510 closed, assigned to tandraschko

[2015-07-10 21:29] #478 closed, assigned to tandraschko

[2015-07-10 21:29] #480 closed, assigned to tandraschko

[2015-07-10 21:38] tandraschko commented on #505
Can you please describe your idea to fix the problem a little bit more detailed?
I don't think we have a easy to way to check if we have to refocus or not.
Maybe we can decrease the timeout to e.g. 50ms but we must test it on older computers with IE8.

[2015-07-10 23:02] githubde opened #511 "placeHolder does not render for autoComplete component when multiple="true""
placeholder does not render for autoComplete component when multiple="true"

version primefaces 5.2

[2015-07-11 06:04] bravocharlie commented on #505
Sure - my method has a global flag which is set to true after setTimeout in
handleReFocus is called.

A handler it is attached to document to monitor focus events on all inputs.
When an item is focused and the global flag is true (timeout has been
called) we store the id of this element in another global variable.

When the timeout callback executes, it checks to see if an another element
id has b

[2015-07-11 22:10] githubde opened #512 "NullPointerException at org.primefaces.component.autocomplete.AutoCompleteRenderer.encodeSuggestionsAsList(AutoCompleteRenderer.java:492)"
NPE at AutoCompleteRenderer.java:492 when using autoComplete comp inside a JSF composite component. This issue is more prevalent when the .xhtml page is secured using AuthenticationFilter.

Using:
primefaces 5.2
javax.faces-2.2.11.jar
Glassfish 4.1
JDK 1.8.0_45

2015-07-11T17:50:28.313-0400|Severe: java.lang.NullPointerException
    at org.primefaces.component.autocomplete.AutoCompleteRenderer.enc

[2015-07-12 05:09] cagataycivici commented on #493
Feel free to do a pull request about this then.

[2015-07-12 15:27] djmj opened #513 "New carousel padding/margin are off."
The padding/margin of upcoming carousel are a little bit off since basic ui-panel uses _0.2em_ padding and new carousel uses fixed _1px_.

Current view where borders are very close to each other.

http://fs2.directupload.net/images/150708/x785as4w.jpg

**Suggestions:**

Except a little right margin of the last visible item all paddings and margins are same as from other container components.

[cod

[2015-07-13 00:11] JaviRpo opened #514 "All actions uses target="_blank" after click in commandLink with this attribute"
I have a p:commandLink with an atribute target="_blank" for open a PDF in new tab and it works perfectly, but after this action, all other actions (p:commandLink or p:commnadButton) without target attribute open in new tab too.

I used following libraries:
primefaces-5.2.jar
jsf-api-2.2.10.jar
jsf-impl-2.2.10.jar
JDK 1.8

fragment from xhtml file:
<code><pre>
<h:form>
    <p:commandLink ajax="fals

[2015-07-13 07:13] Lemongrass3110 opened #515 "Datatable paginator orientation"
The paginator of the datatable is not rendered in one line for the header and the footer, which makes it looking unprofessional.

I am running on primefaces 5.2 from maven central. The image was taken from IE 11.

![primefaces datatable paginator](https://cloud.githubusercontent.com/assets/3517879/8644355/b70231f8-293e-11e5-8e88-51ec7ff96adf.jpg)

Sample code:

[code]

[2015-07-13 07:40] Lemongrass3110 opened #516 "Datatable context menu and XML comments"
I added a comment after the last menuitem in the context menu of our datatable and suddenly I got an exception.

I am running on primefaces 5.2 from the maven central repository.

Here is the code for the context menu:

[code]

Here is the exception that is caused:

[code]

[2015-07-13 08:36] tandraschko commented on #516
Set:
<context-param>
<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
<param-value>true</param-value>
</context-param>

[2015-07-13 08:36] #516 closed, assigned to nobody

[2015-07-13 13:07] cagataycivici commented on #378
Thank you, this is already fixed as of 5.2.6 and 5.1.19.

[2015-07-13 13:35] jansohn opened #517 "Client-side filter() resets / ignores pagination"
When using datatable filtering one has to use the client-side filter option like this PF('widgetVar').filter()

My goal is to stay on the current page the user has navigated to after performing actions like inserting or deleting entries via a command button. The problem is that the client-side filter() call resets or ignores the pagination value "first" which can be  used to set the page.
#### xht

[2015-07-13 15:15] cagataycivici opened #518 "Responsive TreeTable"
Similar to DataTable, add priority and reflow based support for responsive treetable.

[2015-07-13 19:26] sudheerj commented on #511
I can't replicate the issue on latest 5.3-SNAPSHOT(i.e, I can see the placeholder on autoComplete component when multiple option enabled).By the way the attribute name should be 'placeholder' not 'placeHolder'

[2015-07-13 20:14] djmj commented on #512
You are sure this is related to autoComplete? I had this error also and the problem was that Glassfish with mojarra swallows other exceptions or throws exceptions that are not really the problem.

Dont know anymore how i resolved it, but we use a lot of autocomplete in composites.

[2015-07-13 21:17] cagataycivici opened #519 "Make TreeTable table-layout fixed"
Similar to DataTable.

[2015-07-13 21:18] #519 closed, assigned to cagataycivici

[2015-07-13 21:35] cagataycivici commented on #512
The error doesn't seem autoComplete related, we've tried in an composite with no issues. Also line 492 does not seem indicate the method you have issue with;

https://github.com/primefaces/primefaces/blob/5_2/src/main/java/org/primefaces/component/autocomplete/AutoCompleteRenderer.java

[2015-07-13 21:35] #512 closed, assigned to nobody

[2015-07-13 21:37] cagataycivici commented on #512
If you can identify the root result that confirms issue is on our side, we'll reopen but right now issue is not clear so closing for now.

[2015-07-14 02:50] githubde commented on #511
@sudheerj, I have updated comment to "placeHolder" to correct "placeholder". I have retested in v5.2 and it is reproducible. I have a TestCase eclipse project but cannot attach .zip to issue tracker. How do I get access to 5.3-SNAPSHOT.jar so I could test it? Perhaps it is already fixed as you stated, but if it is reproducible in 5.2 should it be fixed in that version? Here is p:autoComplete usage

[2015-07-14 03:24] githubde commented on #512
@cagataycivici, In my isolated TestCase project, I have autoComplete working OK on form.xhtml and NOT ok on signup.xhtml.  (I can't attach .zip) The additional code in form.xhtml that makes it work is...

<commonComps:formComp submitButtonText="Submit Now"
        submitButtonAction="#{myBean.doSubmit}" />

## signup.xhtml

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http:/

[2015-07-14 07:45] mortenkri opened #520 "State restore error when using Dialog Framework"
We have had the following the issue for some time now and it seems to happen randomly and we cannot reproduce at will. Really hope someone can help:

We're using PrimeFaces Dialog Framework to open dialogs (RequestContext.openDialog(...)). Opening the dialog works fine. But once in a while, performing a POST (by clicking a p:commandButton within a form), results in the following error:

[code]

It

[2015-07-14 11:30] olpf opened #521 "Advanced multiple fileupload delete last file with double click removes all files"
Open the fileupload "multiple" in the showcase. Add 3 files. Double click on the "X" button of the last file  and all other files are removed too. Same behaviour if there are more than 3 files but the showcase is limited to 3.
If the fileupload is inside a dialog, even the dialog is closed.Probably a page refresh occurs.
JSF 2.2.11, PF 5.2.6 tested with chrome and FF.

[2015-07-14 12:28] Faldrian opened #522 "Minification introduces javascript errors"
I'm using PrimeFaces 5.2 via maven and stumbled upon the `b is undefined` error (known from other searches I did - with no real solution found).
Since I'm using maven and my project should be buildable using official repositories, I could build my own PrimeFaces-package, but it would be better if this is done right upstream. :)

This is the (beautified) minified javascript that is included in the

[2015-07-14 13:50] tandraschko commented on #522
Already fixed -> https://github.com/primefaces/primefaces/commit/0c2cd5c2cc0e778c07b6d5ba1230ddbf8bfc4aed#diff-4588c1df59105a4881283bfe70b4cd89

[2015-07-14 13:50] #522 closed, assigned to nobody

[2015-07-14 13:52] Faldrian commented on #522
thanks :) now i have to get the fixes version into maven somehow...

[2015-07-14 13:53] cagataycivici commented on #520
Unless you can provide a test case that we can run, we are unable to assist as showcase code is working fine where a similar case is implemented with car selection.

[2015-07-14 13:53] #520 closed, assigned to nobody

[2015-07-14 13:55] cagataycivici commented on #511
Unable to replicate with 5.3 and 5.2.8.

[2015-07-14 13:55] #511 closed, assigned to nobody

[2015-07-14 13:56] cagataycivici commented on #515
What do you mean in one line? What is the issue here?

[2015-07-14 13:58] cagataycivici commented on #513
Should have been a forum post, it is a personal preference, you can increase it for your app.

[2015-07-14 13:58] #513 closed, assigned to nobody

[2015-07-14 13:58] cagataycivici commented on #522
5.1.x and 5.2.x have this fix.

[2015-07-14 14:00] cagataycivici commented on #509
This will break many apps, we should not touch it at all. It has been like this for years and all of a sudden after an upgrade to a new version, behavior of apps will change and backward compatibility possibly broken for some cases.

[2015-07-14 14:00] #509 closed, assigned to tandraschko

[2015-07-14 14:03] cagataycivici commented on #120
Not sure, what is happening, need to investigate.

[2015-07-14 14:04] cagataycivici commented on #488
Because JSF does not process readonly fields at server side so we had to introduce readonlyInput specially for calendar as it is useful to pick dates from datepicker only without manual input where value is processed by JSF.

[2015-07-14 14:05] Faldrian commented on #522
The code I quoted in my report is taken from the primefaces-5.2.jar from the maven repository.
Of course I checked the latest package version (5.2) prior to opening this issue...

[2015-07-14 14:05] sdsdf23423reasdf commented on #509
Can this not be a configuration value at the least? The workaround is simple enough once you know the issue, but it seems very broken to me and has left me and many other developers puzzled for hours as to why an action listener is not being called.

Finally, do you really think any application would be relying on broken behavior of this to work correctly? I know you can't anticipate exactly how h

[2015-07-14 14:08] tandraschko commented on #509
+1

@cagataycivici
If a app will be broken with this change, the application is >already broken< as the developed action/actionListener won't be called.
With this change, many boilerplate code can be removed.

[2015-07-14 14:10] fanste opened #523 "TabView with dynamic tabs is not compatible with ui:repeat"
We have a tabView with dynamic tabs. Each tab has the same appearance but different data (and respectively different data holders). We build a table using ui:repeat and those data holders (p:inputText). The first tab works well, but the second, third, etc. tab won't persist the values entered in the inputText.
After a lot of debugging we found out, that the values of each tab is always stored in t

[2015-07-14 14:12] Lemongrass3110 commented on #515
Sorry to bother you, it was something style related it seems.
After I removed a `<div>` which was next to the datatable on the left side, it is now behaving correctly.
I just do not really understand why only the paginator was misplaced and not the whole datatable.
And my problem with it was that I personally think that it looks unprofessional if it is placed on different identitations in the head

[2015-07-14 15:02] cagataycivici opened #524 "Responsive PickList"
Add responsive attribute to picklist to adjust elements based on screen width.

[2015-07-14 15:41] cagataycivici opened #525 "Improve orderList responsiveness"
Remove dependency to ui-fluid, component should be fluid when responsive mode is enabled.

[2015-07-14 15:42] #525 closed, assigned to cagataycivici

[2015-07-14 16:13] #524 closed, assigned to cagataycivici

[2015-07-14 16:18] jederfreitas opened #526 "DataTable: support row editing in responsive mode"
As the post i did in post http://forum.primefaces.org/viewtopic.php?f=23&t=42756, the responsive datatable doesn't support row editing, so i opened this question as a suggestion by aragon to develop that functionality, in my case i have a cell editing, and i use selectBooleanCheckbox to edit bean values.

<img src="http://i58.tinypic.com/1zx146b.jpg">

Source code before edit

<img src="http://i61

[2015-07-14 16:23] #518 closed, assigned to cagataycivici

[2015-07-14 19:23] githubde commented on #512
Resolved. The autoComplete list not rendering was due to jquery conflict with jquery included in primefaces jar. Resolved by using primefacs jquery.

[2015-07-14 21:00] wadeem opened #527 "gmap: map.fitBounds is not a function"
Uncaught TypeError: this.map.fitBounds is not a function

gmap.js.xhtml?ln=primefaces&v=5.2:1 Uncaught TypeError: this.map.fitBounds is not a function

[2015-07-15 06:14] mortenkri commented on #520
Like I said; we are not able to reproduce it. If we had, I would probably already found a workaround. So, we're basically stuck then? So thanks a lot for helping out.

[2015-07-15 07:22] cagataycivici opened #528 "Improve SplitButton Responsive Layout"
SplitButton icons shrinks too much compared to similar elements like checkboxMenu, use same approach for a unified look.

[2015-07-15 07:23] #528 closed, assigned to cagataycivici

[2015-07-15 12:31] NilsonUehara commented on #449
I created a custom converter to solve the problem temporarily.

[code]

[code]

[2015-07-15 13:28] giorgioprimefaces opened #529 "datatable render problem after rowedit with rendered="false" columns"
I am using PF 5.2.8
if I set a column rendered="false" rowedit fails to render datatable (loses last one column)
before:
![screenshot183](https://cloud.githubusercontent.com/assets/4611791/8699478/039bf95e-2b06-11e5-9482-a326e33c10a6.jpg)
after:
![screenshot184](https://cloud.githubusercontent.com/assets/4611791/8699479/03cca1e4-2b06-11e5-976e-03cf891598c7.jpg)

the same happens if I use column to

[2015-07-15 18:47] violiveira opened #530 "Class org.primefaces.model.menu.DefaultMenuColumn does not implement Serializable"
AS the title says. the class org.primefaces.model.menu.DefaultMenuColumn does not implement Serializable which results in the following error: java.io.NotSerializableException

To correct this is enough to implement Serializable:
public class DefaultMenuColumn implements MenuColumn, Serializable

[2015-07-16 10:05] Julienng commented on #488
Ok. Sound good for me, thanks !

[2015-07-16 10:17] mrclBIE opened #532 "p:calendar shows no shadow, if showOn attribute not set"
I recognized, that there is missing the shadow in my datepicker div. After a short look in the javascript, I´ve seen that the ui-shadow class is only added, if the showOn attribute is not undefined. So I decided to set it actively and then i became the ui-shadow styleclass in the ui-datepicker-div.

I´am using primefaces version 5.2. The code snippet i copied from 5.3-SNAPSHOT.

The shortened code

[2015-07-16 14:14] diogo-cvs opened #533 "TrackMouse error in <p:message display="tooltip""
If <p:tooltip trackMouse="true" is defined, cause js error in 'blur' event (p:inputText)

[2015-07-16 18:01] bsanders1979 opened #534 "TabView (UITabPanel): loadedTabs is never recalculated when binding attribute is used"
UITabPanel.getLoadedTabs() is called by processDecodes(), processValidators(), and processUpdates(). The instance variable is never reset anywhere, and the result is that if a component generates an event from a Tab that is not in the collection, then it will never participate in the JSF lifecycle. Using the sample below, click "Do Something", then click "Tab 2", then click "Do Something Else". Yo

[2015-07-16 18:07] bsanders1979 commented on #534
Rather than cache the value, I just override the method to calculate every time although the seemingly better solution would be to reset the value whenever the value of tab.loaded changes.

[2015-07-16 19:26] justin-wesley commented on #105
I would consider raising the priority on this since most modern browsers support this and with the security concerns surrounding Flash, more organizations are dumping the use of Flash.

[2015-07-17 00:14] victorpacheco3107 opened #535 "When p:calendar is readonly true, p:ajax not fired"
When p:calendar is readonly true, p:ajax not fired!

[2015-07-17 07:36] alexeev commented on #404
+1
same problem here

[2015-07-17 09:12] lmy46 opened #536 "Meter Gauge Chart display incorrectly!!"
When I finished the set will be displayed incorrectly.

Code:

MeterGaugeChartModel meterGaugeChartModel = new MeterGaugeChartModel();
meterGaugeChartModel.setValue(140);
List<Number> ticks = new ArrayList<Number>() {
    {
        add(20);
        add(50);
        add(120);
        add(220);
    }
};
meterGaugeChartModel.setTicks(ticks);

[2015-07-17 12:20] TimLewen opened #537 "InputTextarea Remaining Chars blocking input"
![remainingchars](https://cloud.githubusercontent.com/assets/13380617/8746937/7d4b40dc-2c8e-11e5-8c13-1a314ca9ef21.png)

When I manually enter the values as shown as in the attachment it's not possible to enter any more
chars even though it's displayed that I can enter 3 more chars.

I used http://www.primefaces.org/showcase/ui/input/inputTextarea.xhtml  for testing. It appears to be working in fi

[2015-07-17 12:25] fcanevar opened #538 "Grid layout for selectOneButton"
It could be useful to have a grid (and responsive?) layout in the selectOneButton component like the one in selectOneRadio.

Fabio

[2015-07-17 13:02] fanste opened #539 "SelectOneRadio with custom layout inside ui:repeat not functional"
We build a highly dynamic table using `ui:repeat`. The first column has a label and the `SelectOneRadio` (custom layout). Column two & three contain the radioButtons associated with the `SelectOneRadio`.

Only the first iteration of the `ui:repeat` has the correct state for the `SelectOneRadio` and therefor shows the correct checked radio button. Each subsequent iteration does not show any checked

[2015-07-17 13:09] cagataycivici opened #540 "Collision detection for AutoComplete Panel"
Many components with overlays have collision detection to position the overlay in viewport. AutoComplete misses this and should do it.

[2015-07-18 14:03] tandraschko commented on #535
What do you mean? which event?

[2015-07-20 07:51] michiel-BG opened #542 "Issue with resizing layoutUnit with iframe"
When I build two resizable layoutUnits (like in the showcase: http://www.primefaces.org/showcase/ui/panel/layout/element.xhtml) and put an iframe in one of the two units, the resizing does not work properly anymore. Sometimes it doesn't resize at all and when it does, it is really jerky. I am using PrimeFaces 5.1.

[2015-07-20 11:24] vonnai opened #543 "SelectCheckboxMenu widget ignore HTML inside itemLabel"
Hello,

I have
f:selectItems value="#{values}" var="a" value="#{a}" itemLabel="&lt;b&gt; #{a} &lt;/b&gt;" itemLabelEscaped="false"
inside SelectCheckboxMenu. Menu is rendered without HTML inside label.

Please, look at the primefaces/form.js, function renderItems, rows 2209 - 2212, where items are rendered to checkbox menu panel. You add label.text() to new element label, but original label can co

[2015-07-20 13:05] jfarcand opened #544 "Allow Request Scoped Injection of Push Components and Atmosphere's own Components"
Starting with 5.3, it should be possible to inject request scoped

[code]

but also

[code]

[2015-07-20 18:50] tandraschko commented on #505
i reduced it to 50ms. Could you please give it a try?

[2015-07-20 18:54] #421 closed, assigned to tandraschko

[2015-07-20 20:13] jfarcand commented on #544
Fixed in 5.3 and Atmosphere 2.4.0-RC3 and up.

[2015-07-20 20:13] #544 closed, assigned to jfarcand

[2015-07-20 21:36] dariorios opened #545 "Dialog: improve accessibility"
There are a few of issues that needs to have the dialog framework data in order to be able to accesible support.

For example, there's not support for the ARIA attributes. In this link, appears a few of the contemplations that the dialog should take to work accesible.

http://www.nczonline.net/blog/2013/02/12/making-an-accessible-dialog-box/

The normal dialog implements a few of this things that

[2015-07-20 22:16] dariorios opened #546 "SelectManyButton: accesibility"
The component selectManyButton doesn't have navigation properties. I can't put a tab index for the component. If I use the tab keyboard to move inside it, The focus tab pass to the nearest component that can navigate. But I can't navigate between the buttons of this component, which is a accesibility problem.

[2015-07-21 11:05] mrclBIE opened #547 "update first and rows attribute in primefaces lazy loading datalist"
I have a problem with my primefaces DataList:

It is a searchresult list with a paginator. I set the first and rows primefaces attributes to be in my backing bean to recover the status after a page reload. So if an user goes through the results, is maybe on page 3 with 15 results in list, and reloads the page, he is at exactly this position.

Now the problem:

If the user starts a new search, I se

[2015-07-21 13:26] #540 closed, assigned to cagataycivici

[2015-07-21 15:39] kito99 commented on #479
Has this fix been applied to the 5.1.x branch?

[2015-07-21 16:02] ova2 opened #548 "p:steps CSS issues"
`.ui-steps-item` should have `box-sizing: border-box`. Otherwise, the border will be considered while width calculation. If you set

[code]

you don't need to set `width: 24%` anymore in this example http://www.primefaces.org/showcase/ui/menu/steps.xhtml You can set `25%` which is the right size for 4 items.

[code]

Furthermore, please remove `margin-left: 10px;` for `.ui-steps-title`. Otherwise,

[2015-07-21 19:39] indracrg commented on #499
Hello, we are sorry again for the delay. We got it working with Atmosphere 2.3.4-SNAPSHOT and Primefaces 5.2.8

Thank you very much for your help!

[2015-07-21 19:57] #499 closed, assigned to jfarcand

[2015-07-22 02:45] diogo-cvs opened #550 "modena-layout not updated 'layout-topbar' correctly in <p:pool"
The menu hangs and crashes, in return. I believe that lack some form of start ripplelink. I've tried putting Modena.init (); in onComplete, but it worked.

<?xml version="1.0" encoding="ISO-8859-1" ?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/fa

[2015-07-22 07:59] amayr666 opened #551 "DataTable default sort if sortMode = multiple"
Hi,
I want to use a dataTable with sortMode = multiple and a default sort. I tried to do it by
`<p:dataTable sortMode = "multiple" sortBy="#{item.value}" sortOrder="ascending">`

but this throws an NPE

[code]

[2015-07-22 09:56] nehadhavale opened #552 "Rio theme ; SelectManyMenu with checkbox = true misaligned in firefox mozilla browser."

[2015-07-22 11:17] mertsincan commented on #552
What rio version are you using? Can you please attach screenshots and sample codes for us to replicate? Also, We have a fix about SelectManyMenu. Please check it(https://github.com/primefaces/layouts/issues/3)
Next time, please use primefaces forum for your theme issues. (http://forum.primefaces.org/viewforum.php?f=26)

[2015-07-22 11:30] nehadhavale commented on #552
Thanks for your prompt reply. Really appreciate it...
I was using 1.1 Rio version. But just checked it by using Rio 2.0 and it is resolved.
Also, I am using font awesome. But again its button icons are not displayed properly in mozilla. Any idea about that?

And yes, next time I will post an issue in (http://forum.primefaces.org/viewforum.php?f=26)

[2015-07-22 11:38] mertsincan commented on #552
Glad to hear, thanks!

Can you please attach screenshots and a sample test.xhtml for us to replicate?

[2015-07-22 12:04] nehadhavale commented on #552
![font-awesome](https://cloud.githubusercontent.com/assets/13449794/8824889/b1e5c85a-3097-11e5-990c-3b143aa95403.png)

Code...
 <p:commandButton id="view" icon="fa fa-search White" title="#{msg.View}" actionListener="#{studentBean.viewStu(item)}" styleClass="GreenButton"
                                                 process="@this" update=":popup:viewDlg" onstart="PF('blockActionPanel').block()

[2015-07-22 12:11] nehadhavale commented on #552
This is the command button used:
<p:commandButton id="view" icon="fa fa-search White" title="#{msg.View}" actionListener="#{studentBean.viewStu(item)}" styleClass="GreenButton"  process="@this" update=":popup:viewDlg" onstart="PF('blockActionPanel').block();" oncomplete="PF('viewDlg').show();PF('blockActionPanel').unblock();"                                                rendered="#{accountContex

[2015-07-22 12:27] mertsincan commented on #552
I couldn't replicate the issue. Do you try it in other browsers?
Also, please check in your web.xml;

[code]

My test case;

[code]

screenshot;
![capture](https://cloud.githubusercontent.com/assets/11868120/8825232/22e100fe-3086-11e5-8901-c2d2493e3475.PNG)

[2015-07-22 12:36] nehadhavale commented on #552
Yes, its working fine with google chrome. I ll check my web.xml and get back.

[2015-07-22 12:45] nehadhavale commented on #552
My web.xml has this code. I don't know what the issue is. Google chrome has no problem.
I also updated my browser to the latest version. :(

[2015-07-22 12:50] nehadhavale commented on #552
![googlw_chrome](https://cloud.githubusercontent.com/assets/13449794/8825651/4f330428-309e-11e5-8df9-c1dbbc139993.png)
results using chrome browser...

[2015-07-22 13:36] mertsincan commented on #552
I researched this problem and found a issue in FF; https://support.mozilla.org/en-US/questions/959250
Also,If you have Rio Layout, you can try this solutions(font-awesome.css); http://superuser.com/questions/446001/firefox-cannot-render-icons-from-font-awesome-webfont-set

I still couldn't replicate it.

[2015-07-22 13:43] mertsincan commented on #550
Thanks for the sample. I will work on it and get back to you.
Next time, please use primefaces forum for your theme issues.(http://forum.primefaces.org/viewforum.php?f=27)

[2015-07-22 15:35] nehadhavale commented on #552
Thanks. Will have a look at these and keep you posted.

[2015-07-22 17:37] mbechler opened #553 "IE8 client side behavior encoding"
It seems that IE8 gets confused by the generated javascript for client side behaviors and starts throwing around “Expected identifier, string or number” errors. Quoting the eventName in CoreRenderer fixes the issue.

Fix in CoreRenderer.encodeClientBehaviors:
writer.write(eventName + ":");
->
writer.write("'" + eventName + "':");

[2015-07-23 03:12] sudheerj commented on #551
You need to provide the List of SortMeta for sortBy property.

<p:dataTable sortBy="#{bean.multiSortMeta}" .../>
private List<SortMeta> multiSortMeta;

[2015-07-23 05:35] amayr666 commented on #551
Hi, added this to `@PostConstruct` due to some stackoverflow posts (because nothing about sortMeta is written in the PF docu):

[code]

while preSortOrder is a `List<SortMeta> preSortOrder = new ArrayList<>();`.

The compiler says `Caused by: java.lang.ClassCastException: java.util.ArrayList cannot be cast to java.lang.Comparable`

How else is SortMeta used? I haven't found any appropriate usage f

[2015-07-23 07:02] LianeK opened #554 "NullPointerException in DataTable"
Hello,

I have a DataTable with expandable Rows with RowExpansion. In each RowExpansion is a new DataTable.

Test case 1:
Expanding row 1
Expanding row 2
-> works fine

Test case 2:
Expanding row 1
Sorting an column in DataTable in Row 1
Expanding row 2
- > NullPointerException

Exception occurs in DataTable.java - findColumn(String clientId):  return findColumnInGroup(clientId, this.getColumnGrou

[2015-07-23 09:08] nehadhavale commented on #552
Hey, I resolved the issue. I had some font-awesome css included in my project which were not required. After removing them the issue was resolved. Thanks for your help :).

[2015-07-23 09:08] #552 closed, assigned to nobody

[2015-07-23 09:10] mertsincan commented on #552
Glad to hear, thanks!

[2015-07-23 11:41] axeffekt1 commented on #276
The easiest way to solve this problem is to add emty column to table like: < p:column visible="false" / >
Then there is no problem with sending additional data and mentioned security issues. Yes I know, it is not the best solution, but you don't have to care about missing empty column. Nobody detect the column will gone because it will never be shown and table looks consistent for all lifecycle.

[2015-07-23 11:59] mertsincan commented on #554
Please try with rowStatePreserved="true" ;

[code]

[2015-07-23 11:59] #554 closed, assigned to mertsincan

[2015-07-23 12:22] mertsincan commented on #551
I added a maven project to dropbox. Please try; https://www.dropbox.com/s/7j2yts9oe9nadef/test.rar?dl=0

You can execute the sample with mvn jetty:run command and hit http://localhost:8080/test to run the page.

[2015-07-23 12:23] #551 closed, assigned to nobody

[2015-07-23 13:10] zlaoz commented on #99
workaround for commandButtons, setting ajax=true and reload page via oncomplete=window.location.replace():

[code]

[2015-07-23 13:21] LianeK commented on #554
Thanks. The proposed solution works for Primefaces version 5.2. In version 5.1 is the NullPointerException still thrown, but that's fine for me.

[2015-07-23 16:40] dimmykarson opened #555 "P:editor from Primefaces not working"
I have a application with JSF 2.0, Primefaces 5.2, using MDL: Material Design Lite from Google (MDL - http://www.getmdl.io/components/index.html). When I put p:editor on my jsf page it's not working, every elements on editor stay disabled. I inspect elements and saw: every div's disabled.

But, we have a easter egg: When I enter in page, the editor not work, but when I press F12 (to see javascript

[2015-07-24 07:24] juergenzimmermann opened #556 "Incompatibility with Atmosphere 2.4"
When I'm using PF 5.2 together with the latest Atmosphere 2.4.0-RC2 (instead of 2.3.x), then I get the following stacktrace (on WildFly 10):

ERROR [io.undertow.request] UT005023: Exception handling request to /shop/primepush/registriereKunde: java.lang.IncompatibleClassChangeError: Found interface org.atmosphere.cpr.AtmosphereRequest, but class was expected
    at org.primefaces.push.impl.PushEnd

[2015-07-24 08:19] tandraschko commented on #555
Please use the forum. It's working fine in the showcase.

[2015-07-24 08:19] #555 closed, assigned to nobody

[2015-07-24 08:45] indracrg commented on #82
Hello, we have the same problem with PF 5.2.8 and Atmosphere 2.3.4-SNAPSHOT and we were wondering if there are any news about this. We actually didn't had @PushEndpoints in web-fragment and it worked just fine, but now we need it and found this problem.

Thanks.

[2015-07-24 08:53] fanste opened #557 "FileUpload (advanced, multiple) throws JS error in IE10"
PrimeFaces 5.2

We use the Primefaces FileUploader in mode=advanced and multiple=true. If you select multiple files at once (click choose, select 2 or more files, accept) you will only get a single file in the preview of the upload queue. It doesn't matter how many files you select, you will always only get a single file. Pressing upload results in a JS error

[code]

The highlighted code in the J

[2015-07-24 09:11] zamrokk opened #558 "Autocomplete(multiple = "true") won't call converter if declare with @FacesConverter(forClass... but only with explicit call"
PrimesFaces version 5.2

i have an autocomplete "multiple=true" on an object list

if i use a converter like this
    @FacesConverter(forClass = TypeDocumentDto.class)
then converter is not called

if i do this
     @FacesConverter(value="typeDocumentConverter",forClass = TypeDocumentDto.class)
and this in the xhtml
     converter="typeDocumentConverter"
then the conveter is finally called

i was

[2015-07-24 09:24] NagyGa1 commented on #244
Stuck with 5.2.1 due to this.

[2015-07-24 09:34] fanste commented on #558
Search for `@FacesConverter forClass` via your favorite search engine and you will be pointed to some JSF bugs. E.g. http://forum.primefaces.org/viewtopic.php?f=3&t=30074

[2015-07-24 11:42] mertsincan commented on #550
Moved to PrimeFaces Forum. (http://forum.primefaces.org/viewtopic.php?f=27&t=42806)

[2015-07-24 11:42] #550 closed, assigned to nobody

[2015-07-24 11:51] #535 closed, assigned to nobody

[2015-07-24 21:54] djmj opened #560 "ManyMenu CSS - icon state highlight overrides active - must be reverse"
There is a CSS issue regarding ManyMenu with checkboxes and the selected items.

In DOM class _ui-state-active_ is applied to the checkbox icon. But in parent _<tr>_ element class _ui-state-highlight_ is applied so the state is overriden.

This results in the icon color being ignored from the _active_ class and the color is taken from _highlight_ class, which result in invisble icons.

This is not

[2015-07-24 23:19] ghost opened #561 "Event with multiple days in the Schedule component is shown 1 day short"
After upgrading PF5.2 from PF5.1, when an event which has multiple days is created with the Schedule component, the event is always one day short on the schedule menu. The start date of the event on the schedule menu is correct, but the end date is one day before the real end date of the event. The Schedule Demo in the PrimeFaces ShowCase has the same problem.

[2015-07-27 07:10] cagataycivici commented on #552
Please post at forum first and then layouts tracker not the PF tracker.

[2015-07-27 10:30] lapetro opened #564 "Datatable: Footer misaligned with grouped columns in scrollable datatable"
Datatable with scrolling and with colspan and rowspan in footer results footer columns that are not correctly aligned with the body columns of the table. The results are browser and browser size dependent. In some cases the result is OK.

![pic1](https://cloud.githubusercontent.com/assets/13519607/8903841/19446f30-345b-11e5-8874-2262657bbb39.jpg)

[2015-07-27 12:08] cagataycivici commented on #535
Use readOnlyInput="true" instead.

[2015-07-27 12:08] cagataycivici commented on #550
Please use layouts tracker not PrimeFaces Core.

[2015-07-27 12:11] cagataycivici commented on #558
Not sure if we are able to extract the type info from a List binding with ValueExpression APIs which is the case for multiple so explicit declaration is required. @tandraschko Do you know if this is possible to retrieve Type class from _List<Type> list_ value expression?

[code]

[code]

[2015-07-27 12:15] cagataycivici commented on #526
Editable in responsive is not supported.

[2015-07-27 12:15] mertsincan opened #565 "Add onblur and onfocus events to SelectBooleanCheckbox"
Exp;

[code]

[2015-07-27 12:18] mertsincan opened #566 "Add onblur and onfocus events to SelectBooleanButton"
Exp;

[code]

[2015-07-27 12:20] tandraschko commented on #558
I can check it but AFAIK it's not possible cause type erasure.

[2015-07-27 12:33] #566 closed, assigned to mertsincan

[2015-07-27 12:43] #565 closed, assigned to mertsincan

[2015-07-27 12:56] tandraschko commented on #558
AFAICS it's only possible to get the type from a field:
http://stackoverflow.com/questions/1942644/get-generic-type-of-java-util-list

This would require some reflection stuff on our side.
We would need to get #{bean} first and get "list" via reflection to get the generic type.

 I would close it as won't fix as it's seems to be very hacky and the workaround is very easy.

[2015-07-27 12:58] cagataycivici opened #567 "Improve Steps Flow"
Items on the left of the active one should be clickable and ones on the right should be disabled when readonly="false"

[2015-07-27 12:59] #567 closed, assigned to cagataycivici

[2015-07-27 13:14] #548 closed, assigned to cagataycivici

[2015-07-27 13:17] cagataycivici commented on #558
I agree, thank you.

[2015-07-27 13:17] #558 closed, assigned to tandraschko

[2015-07-27 13:22] cagataycivici commented on #538
It is already responsive;

http://www.primefaces.org/showcase/ui/misc/responsive.xhtml

[2015-07-27 13:22] #538 closed, assigned to nobody

[2015-07-27 13:25] cagataycivici commented on #120
I cannot replicate the issue and the fix is in menu.js here at GitHub. No private repos for 5.x major releases.

[2015-07-27 13:42] nicolas-mu opened #568 "Autocomplete dropdown not visible in p:cellEditor"
After upgrading my webapp from Primefaces 5.2.5 to 5.2.6, i can't see anymore the button for dropdown near my autocomplete in datatable>cellEditor (dropdown="true").
Before when my datatable row go in edit mode, and i had autocomplete in some cellEditor, i could use the dropdown button to see all the values. Now the autocomplete work well, but the dropdown does not show, so i have to write some va

[2015-07-27 17:59] JaviRpo opened #569 "p:blockUI doesn't work with p:commandButton"
I have a p:commandButton which y want block with p:blockUI but it doesn't with this component.

I used following libraries:
primefaces-5.2.jar
jsf-api-2.2.10.jar
jsf-impl-2.2.10.jar
JDK 1.8

fragment from xhtml file:
<code><pre>
<p:commandButton id="saveBtn" value="save" action="#{myBean.anyAction}" />
<p:blockUI bloked="true" block="saveBtn" />
</pre></code>

the problem is that the block's div t

[2015-07-27 18:15] JaviRpo opened #570 "styleClass attribute for p:blockUI"
it would be good if the component p:blockUI had the styleClass attribute, so we can to define visual aspects of each block independently

[2015-07-27 19:54] #568 closed, assigned to cagataycivici

[2015-07-27 19:55] cagataycivici commented on #569
Buttons cannot be blocked directly, you need a wrapper component like outputPanel around it and block it instead.

[2015-07-27 19:55] #569 closed, assigned to nobody

[2015-07-27 19:58] #570 closed, assigned to cagataycivici

[2015-07-28 07:16] cagataycivici commented on #547
Please use forum for these kinds of questions not the issue tracker.

[2015-07-28 07:16] #547 closed, assigned to nobody

[2015-07-28 07:29] #543 closed, assigned to cagataycivici

[2015-07-28 09:19] vonnai opened #572 "SelectManyCheckbox custom layout doesn't send values correctly"
Hello,

I use select many checkbox with custom layout. It works fine on the primefaces demo page, but not in all possible ways. If list or array in attribute "value" is not empty during initialization of selectManyCheckbox, selection doesn't work correctly. There are sent hidden checkboxes and cloned checkboxes altogether. So, If I have all checkboxes checked after initialization, I cannot uncheck

[2015-07-28 09:54] #54 closed, assigned to mertsincan

[2015-07-28 09:54] cagataycivici commented on #54
Available for 5.2.9 and 5.3.

[2015-07-28 09:57] cagataycivici opened #573 "Ajax support for Captcha component"
Add verification support when form is posted with ajax as well.

[2015-07-28 09:58] #573 closed, assigned to cagataycivici

[2015-07-28 11:46] scsynergy commented on #487
Cool, thanks!

[2015-07-28 11:54] cagataycivici commented on #561
Demo is implemented that way, when 00:00 does not include next day so next day is not added, in your code you can just choose to include next day. Watch out for timezones though.

[2015-07-28 11:54] #561 closed, assigned to cagataycivici

[2015-07-28 11:59] cagataycivici commented on #561
Edited demo to avoid confusion.

[2015-07-28 12:01] puneet739 opened #574 "Primefaces file upload component, After upload the file goes missing"
Need to have a feature in primefaces upload, where we can see the images, after they are uploaded.
Do we have any way to do that.

[2015-07-28 12:05] #572 closed, assigned to cagataycivici

[2015-07-28 12:28] cagataycivici commented on #534
Please see;

http://stackoverflow.com/questions/18667927/how-to-use-component-binding-in-jsf-right-request-scoped-component-in-session

and

https://myfaces.apache.org/orchestra/myfaces-orchestra-core/component-bindings.html

[2015-07-28 12:29] #534 closed, assigned to nobody

[2015-07-28 12:45] #507 closed, assigned to cagataycivici

[2015-07-28 12:48] cagataycivici commented on #527
Invalid report. Please use forum first preferrably with more description.

[2015-07-28 12:48] #527 closed, assigned to nobody

[2015-07-28 12:58] cagataycivici commented on #503
You need to place the dialog as a child of body and wrap it inside a form.

[2015-07-28 12:58] #503 closed, assigned to nobody

[2015-07-28 13:55] ghost commented on #561
Thank you for your reply, but even if the time of the end date in my application is set, as long as the time is less than 9am or all day flag is set to true, the end date is not shown correctly, 1 day short. However my application worked well with PF5.1, but not with PF5.2. As for timezone, it is correctly set to Schedule component and Calendar components which are used to set Start Date and End D

[2015-07-28 22:31] ReedElliott opened #575 "p:password throws NullPointerException when match attribute is set to empty string (match="")"
If you do not include the match attribute in the p:password component, the password component sets the value of the Match attribute to null and everything works fine.   If you set match="", p:password does not set Match to null but then tries to match the empty string to a null value at line 173 of Password.java which throws a NullPointerException.

This is not a problem if you are using p:passwor

[2015-07-29 06:27] LianeK opened #576 "PanelMenu: accessibility"
Please add keyboard accessibility and ScreenReader support for PanelMenu

[2015-07-29 07:15] chrisu86 opened #577 "deactivate option in p:autoComplete"
It would be very nice, if there was a "deactivate" option in p:autoComplete tag.
I want to be able to activate/deactivate the autocomplete behavior by a Bean value.
At the Moment i have to do something like this:

[code]

[2015-07-29 08:45] mauromol opened #578 "Provide a way to disable the fileUpload component while upload is in progress"
It would be useful in many cases to disable the fileUpload component while upload is in progress. The upload process may take a while and processing the uploaded file may take some more time. The progress indicator is not very meaningful and the user may think the upload is hanged and try to click on the choose button to select the file again (note I'm using fileUpload in advanced mode, auto=true)

[2015-07-29 10:50] tecbea opened #580 "data exporter, h:outputLink on column shows jsf link"
On a datatable, with a column with a h:outputLink, it shoes the JSF link on the pdf/xls.

correction can be done on : Exporter , exportValue

[code]
##

PF5 , Java7

[2015-07-29 11:09] cagataycivici commented on #577
Why don't you use disabled="true".

[2015-07-29 11:09] #577 closed, assigned to nobody

[2015-07-29 11:11] chrisu86 commented on #577
I dont want to disable the input field, i just want to turn off the autocomplete feature...

[2015-07-29 12:59] cagataycivici opened #581 "Add postRender method to DeferredWidget"
This is useful to do postInit work on widgets e.g.

PrimeFaces.widget.DataTable.prototype.postRender = function() {
   //
}

[2015-07-29 13:01] #581 closed, assigned to cagataycivici

[2015-07-29 14:15] bsanders1979 commented on #534
Thanks for the link! I was not aware of this.

[2015-07-29 17:09] justin-wesley commented on #567
You may want to have this more i18n friendly for locales that use RTL layouts.

[2015-07-30 00:59] ghost commented on #561
This problem is not closed yet. Schedule Demo in PF ShowCase still has the same problem. As I am not familiar with this Issue Tracker system, I do not know how to change the status back to "Open". Should I create a new issue?

[2015-07-30 10:21] pm2013 opened #582 "confirmDialog should appear at the center of the browser, not at the center of the page"
Now on longer pages confirmDialogs are hidden and users cannot even scroll to the dialog.

At least shold be possible to set the top property, as it is for the p:dialog.

[2015-07-30 10:25] pm2013 opened #583 "Dialogs should appear at the center of the browser, not at the center of the page"
Now on longer pages Dialogs are hidden and users cannot even scroll to the dialog
(with default positonType = "fixed")

The only solution is to set in css top:X !important
but in this case dialogs can't be move in vertical by users.

[2015-07-30 11:25] cagataycivici opened #584 "Fieldset missing resource dependency"
Fieldset is missing a dependency to jquery plugins

[2015-07-30 11:28] cagataycivici opened #585 "Provide drag support of components for touch enabled devices"
Many components like picklist, dialog, slider can't be dragged on a touch enabled device.

[2015-07-30 11:29] #584 closed, assigned to cagataycivici

[2015-07-30 11:29] #585 closed, assigned to cagataycivici

[2015-07-30 11:39] cagataycivici commented on #432
See #13, implemented now.

[2015-07-30 11:39] #432 closed, assigned to nobody

[2015-07-30 12:09] Lemongrass3110 opened #586 "Checkbox state refresh bug in Firefox"
This bug can be easily reproduced on primefaces' showcase.
http://www.primefaces.org/showcase/ui/input/booleanCheckbox.xhtml

Click one of the 2 checkbox(ajax or basic). => The checkbox will be displayed as checked.
Hit the refresh button or click refresh. => The checkbox is not checked anymore.
Click on the same checkbox again. => No change in display will happen.

Depending on which you choose:

[2015-07-30 14:12] giorgioprimefaces commented on #529
upgraded to PF 5.2.9, still having this problem
hope it will be fixed soon

[2015-07-30 14:45] olpf commented on #521
If some files are selected for the upload and one of the files is removed by double clicking on the X-button and afterwards the fileupload cancel button is clicked, the double clicked file remains but the ui state is so that there is no selection (e. g. the cancel button is disabled). This is reproducable in the showcase.

[2015-07-30 16:09] srbala commented on #13
This is great news...!

Is this component is mobile optimized and can be used under mobile view?

[2015-07-30 16:21] peda opened #588 "AutoComplete: autocomplete=off is not working in chrome"
Chrome does not honor the html attribute autocomplete=off instead it does expect autocomplete=false
where this might be an issue with most of the controls, it definitely is with the p:autocomplete control because the chrome autocomplete is shown above the primefaces autocomplete

[2015-07-30 17:43] cagataycivici opened #589 "Load excanvas on demand"
Only load excanvas.js if browser does not support canvas.

[2015-07-30 19:05] cagataycivici commented on #13
Yes

![signature](https://cloud.githubusercontent.com/assets/686247/8992428/148973e2-3707-11e5-8f47-2b611837b16d.jpg)

[2015-07-30 19:10] smithh032772 commented on #13
Wow wee! :)

On Thu, Jul 30, 2015 at 3:05 PM, Çağatay Çivici notifications@github.com
wrote:

[2015-07-30 22:46] workmonitored commented on #546
I have the same issue. This is due to rendering of the input component of each choice. It is rendered with a display of none. That causes it to be skipped. I'd suggest following the jquery ui button where it's rendered but still accessible with a size of 1px. This would cause each button to be toggleable by the keyboard as well. Not sure if keyboard toggle via space will work without looking at th

[2015-07-31 06:30] chrisu86 opened #590 "Add active option to autocomplete"
It would be very nice, if there was a "deactivate" (NOT DISABLE) option in p:autoComplete tag.
I dont want to disable the input field, i just want to turn off the autocomplete feature...

So a p:autoComplete becomes a p:inputText.

At the Moment i have to do something like this:

[code]

[2015-07-31 06:49] chrisu86 opened #591 ""my" and "at" option in p:autoComplete"
Im missing a "my" and "at" option in p:autoComplete to define the position of the suggestions panel.
I want to show the suggestions on the right side of the input field:

![autocomplete right](https://cloud.githubusercontent.com/assets/13551170/9002119/4e47dd7c-3760-11e5-9884-cd53d45fc173.JPG)

Here is my current solution to this problem:
1. The autocomplete field

[code]
2. Javascript for panel p

[2015-07-31 15:38] yanLanglois opened #593 "DataTable: Add support for RequestScoped LazyDataModel in editable mode"
There is a NullPointerException when rowEdit and rowEditCancel are triggered within a dataTable with :
- lazy = true
- editable = true
- RequestScoped LazyDataModel

For more information : http://forum.primefaces.org/viewtopic.php?f=3&t=42886

[2015-07-31 17:42] VsevolodGolovanov opened #594 "PrimeExceptionHandler doesn't see error pages defined in a web fragment"
ConfigContainer should parse `META-INF/web-fragment.xml` as well.

[2015-08-01 10:32] dadadom opened #595 "ReCaptcha V2 does not respect language setting"
The new ReCaptcha V2 component ("I am not a Robot") does not respect the language setting, set with language="...".

Bugfix in Pull-Request #592

[2015-08-01 18:35] sudheerj commented on #580
What do you mean by showing JSF link on pdf/xls? Because exporter component won't create links just like web page in the exported document.Do you mean outputLink need to be supported similar to JSF/PF commandlink.Can you please post the code for this usecase.

[2015-08-01 19:01] sudheerj commented on #595
Yes,its a small typo mistake in language attribute.The reCaptcha V2 is recently added in PF 5.2.9.Since it is already out so it might be fixed for next elite release.

[2015-08-02 04:05] shayegh commented on #8
please add this feature to user components.
this is so important feature
thanks

[2015-08-02 04:49] dariorios commented on #8
I agree. Is completely needed

[2015-08-03 06:00] shubforall opened #596 "<p:tree> nodeSelect event is not working"
I am having <p:tree> component inside the composite component.
The select event is not working and there are no error logs.

The same is working fine if <p:tree> component is moved out of the composite component.

Forum link : http://forum.primefaces.org/viewtopic.php?f=3&t=42908

Environment - PrimeFaces version - 5.2, Websphere liberty profile.

[2015-08-03 07:52] tandraschko commented on #596
No Example -> Invalid
Also works fine in the showcase: http://primefaces.org/showcase/ui/data/tree/events.xhtml

[2015-08-03 07:52] #596 closed, assigned to nobody

[2015-08-03 13:05] mertsincan opened #598 "Screen Reader support to SelectOneMenu"
Added aria-\* attribute for screen readers to SelectOneMenu

[2015-08-03 13:09] #598 closed, assigned to nobody

[2015-08-03 13:19] #595 closed, assigned to nobody

[2015-08-03 14:04] mertsincan opened #599 "Client Side Validation support to SelectBooleanButton"
Exp;

[code]

[2015-08-03 18:22] cagataycivici opened #600 "LazyDataModel doesn't honor the DataModel contract"
Reported by a PRO user;

It doesn't fire events to the DataModelListeners when setRowIndex is called, as per the DataModel docs:
If there is no wrappedData available when this method is called, the specified rowIndex is stored (and may be retrieved by a subsequent call to getRowData()), but no event is sent. Otherwise, if the currently selected row index is changed by this call, a DataModelEvent w

[2015-08-03 18:35] #600 closed, assigned to cagataycivici

[2015-08-03 19:14] cagataycivici commented on #599
Missing highlighters and button based submit.

[2015-08-03 19:17] #599 closed, assigned to nobody

[2015-08-03 19:31] cagataycivici opened #601 "Improve SelectBooleanCheckbox Performance"
Reported by a PRO user;

In an application with many checkboxes, toggling slows down when called with javascript api to toggle them all.

[2015-08-03 19:35] #601 closed, assigned to cagataycivici

[2015-08-03 19:47] #589 closed, assigned to cagataycivici

[2015-08-03 19:52] cagataycivici commented on #588
It is a bug of Chrome that should be fixed on Chrome side hopefully.

https://code.google.com/p/chromium/issues/detail?id=352347

[2015-08-03 19:58] cagataycivici commented on #588
So do you propose using "false" if user agent is chrome and "off" otherwise?

[2015-08-03 20:01] cagataycivici commented on #583
Proposed change will break many apps, instead I'd suggest using position attribute to define x and y coordinates for your dialogs that exceed viewport if you don't use scrollable dialog content. There is also fitViewport option so there are other alternatives for your requirements instead of changing defaults.

[2015-08-03 20:01] #583 closed, assigned to nobody

[2015-08-03 20:44] peda commented on #588
yes, I think it would be great if that could be done user agent dependent - even though I'm not a big fan of browser specific implementations it might be useful as Chrome has a major market share

[2015-08-03 21:05] pm2013 commented on #583
FitViewport doesn't show the dialog in the center of the browser. Manually setting Top coordinate is possible only with !important clausule, but user cannot then move the dialog.

If change of default behaviour is not possible, I propose to add an parameter, like a "browserCenter", eventually new option for "position" parameter.

[2015-08-04 09:26] cagataycivici opened #603 "ContextMenu not working with Cell Edit"
ContextMenu integration fails meaning right clicking on an editable cell does not display context menu.

[2015-08-04 09:27] #603 closed, assigned to cagataycivici

[2015-08-04 09:43] #586 closed, assigned to cagataycivici

[2015-08-04 11:11] bwolfmaier opened #604 "DataTable/TreeTable: selection mode for usage without keyboard"
It would be great if primefaces datatable provided a selection mode for keyboard-less displays, to be able to configure selection and deselection behavior similar  to mobile renderkit (without use of ctrl and shift key).

[2015-08-04 13:32] fcanevar opened #605 "ColumnToggler doesn't work with frozenColumns"
I've a dataTable composed roughly like this:

[code]

The column toggler doesn't recognise the columns headers, but if I remove the 'scrollable' and 'frozenColumns' attribute it works like a charm.

[2015-08-04 16:17] fcanevar commented on #605
I've just discovered that it also doesn't work if I apply some filter to the datatable

[2015-08-04 17:36] cagataycivici commented on #605
This has been logged and discussed before, please do a search before creating new tickets.

[2015-08-04 17:36] #605 closed, assigned to nobody

[2015-08-04 20:22] scipio11 opened #606 "p:resize is broken with toggleable="true""
I have p:panel toggleable="true" and panel is made resizable by p:resizable.
Then size of pane was changed and toggle button was clicked, the content of panel disapears, but the pannel remains untoggle

 <p:panel id="pnl" header="Poisitions"  toggleable="true" widgetVar="pnl" >
                            <h:form prependId="false" >
                                <p:dataTable scrollable="true" id

[2015-08-05 06:45] cagataycivici opened #607 "Scrollable Datatable with Frozen Columns corrupted on live scroll"
For a datatable with frozen columns if, some of the columns are not rendered then on live scroll, structure is corrupted as number of columns do not match after live scroll update.

[2015-08-05 06:46] #607 closed, assigned to cagataycivici

[2015-08-05 06:47] cagataycivici commented on #606
Your formatted code is corrupted.

[2015-08-05 15:15] fcanevar opened #608 "DataTable: add swipe support"
It would be nice to have the same swipe functionalities that are available in the mobile-renderkit also in the standard one so that responsive pages could be swipable.

Fabio

[2015-08-05 15:54] VsevolodGolovanov opened #609 "PrimeExceptionHandler should lookup error page in accordance with the servlet spec"
Shouldn't just go with root cause and expect an exact exception class match.
As servlet 3.1 spec defines it:

See Undertow implementation for reference: https://github.com/undertow-io/undertow/blob/master/servlet/src/main/java/io/undertow/servlet/core/ErrorPages.java

[2015-08-05 20:00] tandraschko commented on #609
Please post a example whats the difference and why you think we should change it.

[2015-08-06 05:53] umitmert opened #610 "Primefaces 5.2 not invoke fileuploadlistener"
I want to use pf fileupload but fileupload listener is not invoked. My configuration is below. Could you help me?

web.xml

<filter>
<filter-name>PrimeFaces FileUpload Filter</filter-name>
<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>PrimeFaces FileUpload Filter</filter-name>
<servlet-name>Faces Servlet</servlet-name>
</filter-m

[2015-08-06 06:15] mafaul commented on #53
See http://stackoverflow.com/questions/24181130/filter-a-lazy-datatable-with-dynamic-columns/27876091#27876091

[2015-08-06 06:43] andyserrato opened #611 "SELECTCHECKBOXMENU focus on last selected item"
After each ajax call component updates itself and the list is scrolled to the top and user has to scroll down again to select others

[2015-08-06 11:56] VsevolodGolovanov commented on #609
Servlet spec says: look at the caught exception, and in the error pages definitions find the exception-type that is the closest match in the class hierarchy (i.e. exact class match or nearest superclass).
PEH: look at the root cause, find exact exception class match with the exception-type.

You're relying on a web application descriptor, it's format and the way it's processed is specified in the

[2015-08-06 12:04] tandraschko commented on #609
Feel free to provide a pull request, so that i can have a look at it and review it.

[2015-08-06 12:26] fcanevar opened #612 "Add support for orientationchange in DataTable"
It would be nice to have the orientationchange event available both in mobile and standard renderkit or at least a hook to implement it easily.

Fabio

[2015-08-06 13:45] LianeK opened #613 "Screen Reader support for ColumnToggler and keyboard accessibility"
The checkboxes of new ColumnToggler element in DataTable are not accessible with keyboard

[2015-08-06 13:48] LianeK opened #614 "Screen Reader support for toggleable panels"
The little icon + or - has no description for ScreenReaders. With toggleTitle we can set a description, but it would be good to be able to differentiate between open and closed state of panel.

[2015-08-07 09:31] maydinbil opened #615 "Pick list add bigdataModel support"
Hi if use big data for pick list ist to slow. May be add bigdatamodel support

[2015-08-07 13:22] mirurita opened #616 "Programmatic Menu: not possible to create a dynamic expression for a boolean attribute (rendered, disabled...)"
Based on the following forum post (2013-09-17):
http://forum.primefaces.org/viewtopic.php?f=3&t=33906

It seems that setValueExpression method from DefaultMenuItem class was removed on PF 4.0

It is an API break, but the Migration Guide does not provide any workaround or info about how it should be migrated.
https://code.google.com/p/primefaces/wiki/MigrationGuide

Having the following disabled at

[2015-08-08 07:24] cagataycivici commented on #610
Please use forum for these kind of questions.

[2015-08-08 07:24] #610 closed, assigned to nobody

[2015-08-10 08:38] cagataycivici opened #617 "Duplicate event binding in Sticky"
There is a typo in sticky widget where resize event is binding twice. Should be once.

[2015-08-10 12:51] cagataycivici opened #618 "ScreenReader support for OutputLabel-ComplexInput Pairs"
Complex inputs like spinner, autocomplete, selectOneMenu should retrieve their aria-labelledby from p:outputLabel automatically.

[2015-08-10 12:51] #617 closed, assigned to nobody

[2015-08-10 12:51] #618 closed, assigned to cagataycivici

[2015-08-10 17:56] MALPI opened #619 "Datatable Header is not lining up when using scrollable"
As soon as I set scrollable = true, the datatable header columns aren't aligned well.

See Screenshot:

![unbenannt](https://cloud.githubusercontent.com/assets/1839910/9179003/01baaaec-3f9a-11e5-9e59-c573e0654190.png)

[2015-08-11 07:51] fcanevar opened #620 "PF Documentation, reference to p:push"
In the 5.2 PF guide at page 550 there is a reference to a p:push component that is no longer available.

[2015-08-11 14:09] kukel commented on #619
Cannot reproduce: http://www.primefaces.org/showcase/ui/data/datatable/scroll.xhtml. Create an mcve, most likely somewhere during the creation of the mcve, you'l  see the alignment becoming correct

[2015-08-11 14:09] kukel commented on #615
Maybe not use long picklists... bad design imo.

[2015-08-11 14:14] kukel commented on #582
Now being? PF 5.1, 5.2? And it did not happen before?

[2015-08-11 14:14] tandraschko opened #621 "Double ajax request with p:inputMask"
when p:ajax is registered for the change/valueChange event and leaving with enter.

[2015-08-11 14:15] dariorios opened #622 "schedule accesibility"
The component schedule is not accesible by the keyboard. It is possible to have a implementation that works with tab and the key arrows in order to give full navigation by keyboard.

[2015-08-11 14:16] kukel commented on #574
Use the forum first... There is a local preview and after uploading it is up to you... Should not be part of the upload component

[2015-08-11 14:20] kukel commented on #523
most likely in some way releated to https://github.com/primefaces/primefaces/issues/88. Also check the old googlecode issuelist. I think it was also mentioned there as an issue.

[2015-08-11 14:22] kukel commented on #578
or use some `p:blockui` ?

[2015-08-11 14:25] dariorios opened #623 "menu and Menu button accesibility"
The menu and MenuButton needs keyboard support with the tab and key arrows. This give full navigation to the component.

[2015-08-11 14:25] kukel commented on #542
How do you expect anyone to reproduce this? Code and a better explanation of **what does not resize at all** the iframe? Parts of the layout? and what is jerky?

[2015-08-11 14:27] pm2013 commented on #582
In version 4 PF p:confirmDialogs and p:dialog appear by default at the center of the browser, with no problems.

[2015-08-11 14:31] dariorios opened #624 "editor with focus and tab navigation"
The editor is a complex component, very useful for keeping notes and  create some special documents. But it's not supporting tab navigation. It is possible to work with some accesibility features here?  http://www.web2access.org.uk/test/11/

[2015-08-11 18:26] fanste commented on #523
As an additional note: We do not use the p:dataTable but a normal HTML table build using ui:repeat.

Our version is 5.2, sorry that I forgot to mention it.

[2015-08-11 22:08] JohnSchneider commented on #140
Pending an official feature addition, I've implemented my own PF mobile data scrolling, based on the JQuery Mobile "scrollstop" event, with no other dependencies.  Maybe this could serve as an idea for actual PF implementation.

JavaScript:

[code]

JSF/PF XHTML:

[code]

Superclass of CDI Bean:

[code]

[2015-08-12 01:26] daniel-armino commented on #53
Cagatay, one question about this error, do you know how version this ticket will be ok? I'm developing an application with datatable colums and dynamic filter on Primefaces 5.2 and this error remains.

[2015-08-12 06:58] LianeK commented on #614
I managed it with toggleEvent and set toggleTitle dynamically.

[2015-08-12 06:58] #614 closed, assigned to nobody

[2015-08-12 08:59] movalz opened #625 "footer columns of a DataTable with draggableColumns aren't rearranged"
In a p:dataTable with draggableColumns="true" and footer columns (via <f:facet name="footer"> inside the <p:column> elements) the footer columns aren't rearranged when a column is dragged and dropped to another position.

Reason: in datatable.js in DataTable.setupDraggableColumns.droppable.drop the handling of footer columns is missing

[2015-08-12 14:20] icordoba opened #627 "OutcomeTargetRenderer does not consider JSF 2.2 flow url parameters"
I am testing JSF 2.2 flows in a PrimeFaces application and when I replace h:button with p:button the link stops working.
In JSF 2.2 you can specify, for example, the flow_id in the "outcome" of a h:button. This seems not to work in PF . The exception I'm getting is:

[ERROR   ] SRVE0315E: An exception occurred: java.lang.Throwable: javax.servlet.ServletException: WELD-001303: No active contexts fo

[2015-08-12 14:23] tandraschko commented on #627
http://docs.oracle.com/javaee/7/api/javax/faces/flow/FlowHandler.html#FLOW_ID_REQUEST_PARAM_NAME
http://docs.oracle.com/javaee/7/api/javax/faces/flow/FlowHandler.html#TO_FLOW_DOCUMENT_ID_REQUEST_PARAM_NAME

[2015-08-12 14:56] #41 closed, assigned to cagataycivici

[2015-08-12 14:57] cagataycivici commented on #41
Added support for scrollable datatable, note that frozen columns + column toggler not yet supported.

[2015-08-12 19:51] tandraschko commented on #627
should be fixed in trunk.
Could you please try it? I don't have a example app.

[2015-08-12 19:51] #627 closed, assigned to tandraschko

[2015-08-12 19:52] #505 closed, assigned to tandraschko

[2015-08-12 20:03] icordoba commented on #627
Hello,
I'm sorry I have never built PrimeFaces from trunk, just used downloaded jars. I'll be pleased to test and report here if I have have a link on how to build it or to download a trunk build from git. Thanks.

[2015-08-12 20:10] tandraschko commented on #627
1) checkout maven-jsf-plugin
2) "mvn clean package" in the maven-jsf-plugin dir
3) checkout primefaces
4) "mvn clean package" in the primefaces dir

the builded primefaces jar is no available in the primefaces dir under the target dir.

[2015-08-13 07:49] mertsincan opened #628 "Validation issue on Tree component with rendered="false""
Reported by a PRO user;
A p:tree which has rendered="false" is still going to be validated.
Exp;

[code]

[2015-08-13 07:56] #628 closed, assigned to nobody

[2015-08-13 09:11] tandraschko opened #629 "Add JS function to get the widget instance by the clientId"
e.g.

PrimeFaces.getWidgetById('form:theDivOfMyDialog');

[2015-08-13 12:02] tandraschko commented on #629
Done. @cagataycivici, could you please add this js helper function to our documentation?

[2015-08-13 12:47] mertsincan opened #630 "RowExpansion problem with initial rowExpanded value on DataTable"
If set a initial value in rowExpanded, the row isn't added "ui-expanded-row" class.

[2015-08-13 13:01] #630 closed, assigned to nobody

[2015-08-13 13:15] tandraschko commented on #476
Should be fixed, please give it a try.

[2015-08-13 13:15] #476 closed, assigned to tandraschko

[2015-08-16 19:33] ramonchiara opened #631 "Autoresize is not working when inputtextarea is disabled"
Sometimes we want to show a disabled already filled inputtextarea, but although its autoresize is true, it stays small.

[2015-08-17 07:27] mertsincan commented on #631
I didn't replicate this issue. Can you please attach a sample test.xhtml, TestBean.java and screenshot  for us to replicate? and What browser and PF version are you using?

[2015-08-17 08:49] ramonchiara commented on #631
Sure!

test.xhtml

[code]

TestBean.java

[code]

Result in Chrome Version 44.0.2403.155 (64-bit)
![image](https://cloud.githubusercontent.com/assets/3186158/9301249/6d83ed0c-44a3-11e5-91b5-766dfce6c33a.png)

I'm using PF version 5.2

[code]

[2015-08-17 09:02] ramonchiara commented on #631
Note that I used `<p:focus>`
If I don't use it, the autoresize just takes place when I put focus manually on enabled inputtextarea
But, it should be very good if I could get the inputtextarea with the right size when rendered

[2015-08-17 09:19] mertsincan commented on #631
I replicated with 5.2. We have some fixes for inputtextarea on 5.2.x and 5.3. Please try this case with  5.2.x or 5.3

[2015-08-17 10:39] #631 closed, assigned to nobody

[2015-08-17 16:14] gregor2005 commented on #54
I found it in the showcase -> http://www.primefaces.org/showcase/ui/misc/captcha.xhtml
Should that mean ELITE/PRO users can use it?

[2015-08-17 16:31] puneet739 commented on #54
Anyone can use in now. Just get the latest snapshot of Primefaces.
or as stated earlier any version greater then 5.2.9

On Mon, Aug 17, 2015 at 9:44 PM, gregor2005 notifications@github.com
wrote:

##

Regards
Puneet Behl
0-9711616135

[2015-08-17 16:35] gregor2005 commented on #54
I'm not sure. As you can see in the download page the latest version is 5.2.6 and for the community 5.2

Download-Page: http://www.primefaces.org/downloads
Snapshot-Page: https://oss.sonatype.org/content/repositories/snapshots/org/primefaces/

[2015-08-17 21:13] mvreijn opened #632 "Ajax update of mobile-rendered selectOneMenu fails"
As noted here at SO: http://stackoverflow.com/questions/31965296/primefaces-mobile-ajax-update-of-selectonemenu-fails

The standard example from [PF showcase](http://www.primefaces.org/showcase/ui/ajax/dropdown.xhtml) where two selectOneMenu components update eachother, fails when the mobile renderer is used.

Tested using PF community 5.2 and 5.3 SNAPSHOT built from SVN on 17/08/2015.

[2015-08-18 08:27] GithubJohn3031 opened #633 "StreamedContentHandler small fix for NullPointerException"
PF 5.2.7

There is NullPointerException in StreamedContentHandler if `new DefaultStreamedContent()` is used.

The finally block should be

[code]

Here is the original code from PF5.2.7

[code]

[2015-08-18 09:25] spadovan opened #634 "Pdf Viewer"
Will be nice to have a component for viewing a pdf file directly in the page. Using pdf.js.

[2015-08-18 09:28] tandraschko commented on #634
primefaces-extensions provides one.

[2015-08-18 12:54] fcanevar opened #635 "FileUpload fails to execute listener on every second upload"
Hi, I would like to see this google code issue resolved: https://code.google.com/p/primefaces/issues/detail?id=6157, it still happens to me with PrimeFaces 5.2.9 and MyFaces 2.2.7, I think it's a problem of the MyFaces implementation, but the patch suggested in the issue works fine, could someone implement it in the 5.3 or 5.2.\* release?

I copy/paste the whole issue:

Reported by ryan.ben...@gma

[2015-08-18 13:05] tandraschko commented on #635
What about providing an COMPLETE example which demostrates the problem instead just reopening the case?
maybe you should try it without webflow or switching to mojarra etc.
For me, the fileupload works fine with MyFaces on every upload.

[2015-08-18 14:32] diegoarantes opened #636 "Row selection of dataTable the up and down keys"
Line selection of dataTable the keys up and down, as in this example:
http://showcase.richfaces.org/richfaces/component-sample.jsf?demo=extendedDataTable&sample=exTableSelection&skin=wine

[2015-08-18 15:21] sylvainroussy opened #637 "Relative to issue #214 : javascript error when tabView has no tabs"
I have a javascript error when TabView has no tabs (when starting page in my case) :
_Uncaught TypeError: Cannot read property 'left' of undefined_

I Suggest a test on the position () function:

[code]

[2015-08-19 00:05] djmj opened #638 "Accordion does not works with TreeSet"
I replaced an ui:repeat with p:accordion and it is not working.

The var evaluates to the TreeSet itself.

[2015-08-19 00:37] djmj opened #639 "AccordionPanel does not removes index if tab is closed again"
AccordionPanel does not removes an previously added index if tab is closed again.

On tab open the index is added to `activeIndex`, but on close it is never removed.

[2015-08-19 03:24] JaviRpo opened #640 "Remember permission for <p:photoCam> on client browser"
primefaces-5.2.jar

At the moment, <p:photoCam> component will request for client permission every time it is triggered. Please add the function to remember permission on client browser.

[2015-08-19 07:47] fcanevar commented on #635
Here it is a complete example, I'm Running it on: PrimeFaces 5.2.10, MyFaces 2.2.8, Java+Tomcat 8.
Only once every two it uploads the file correctly.

index.xhtml

[code]

TestBck.java

[code]

faces-config.xml

[code]

web.xml

[code]

Thanks!

[2015-08-19 08:02] fcanevar commented on #635
I've tried the same example also with Mojarra 2.2.12 and I've the same issue. :(

[2015-08-19 08:11] tandraschko commented on #635
removing

[code]

works fine for me. I don't see any case i would ever disable partial state saving.

[2015-08-19 08:25] fcanevar commented on #635
I've asked around, it seems that we needed to disable partial state saving due to "duplicated id" errors.
I don't think I can change it in our application, it would be to big of a deal to test it all again. Being it a parameter that can be disabled, shouldn't the framework account for that possibility?

[2015-08-19 08:33] tandraschko commented on #635
From PrimeFaces side, everything looks fine after some minutes of debugging.
We would need more time to find the reason why it doesn't work. Feel free to debug the problem - also in the JSF impls.

About partial state saving:
IMO it should never be deactivated as it's a very big performance/memory improvement in JSF 2.0.
I would check if the "duplicate id" error still exists and otherwise try to f

[2015-08-19 08:43] fcanevar commented on #635
Thanks a lot, I'll try to use it in my current version of the application and to test it as much as I can.
Keep up the good work ;)

[2015-08-19 09:00] tandraschko commented on #635
I debugged a little bit more into the issue and it seems that on every second request the FileUpload component doesn't exist in the component tree.
I have no idea why it works e.g. with an h:inputText with attached p:ajax but not p:fileUpload.

[2015-08-19 11:02] tandraschko commented on #637
Why do you render a tabview without tabs? I looks weird... I would not render the tabView.

[2015-08-19 11:07] sylvainroussy commented on #637
You're right, it's a possibility but I wanna avoid render evaluations and to have the empty tabView style (instead blank space)

[2015-08-19 12:21] dayoffrettchen opened #641 "Firefox editor empty submit"
The submit of text don't work with this Firefox version.

Reproduce:
Primefaces: Running PrimeFaces-5.2.10 on Mojarra-2.2.8
Tested Firefox version:
  "geckoAppInfo": {
    "_v": 1,
    "vendor": "Mozilla",
    "name": "Firefox",
    "id": "{ec8030f7-c20a-464f-9b0e-13a3a9e97384}",
    "version": "39.0",
    "appBuildID": "20150629114848",
    "platformVersion": "39.0",
    "platformBuildID": "20150

[2015-08-19 12:27] fcanevar commented on #453
I'd say that #475 is relative to this issue and could be bundled in an unique changeset

[2015-08-19 13:06] lagar84 commented on #635
Maybe it´s related to this mojarra issue:
https://java.net/jira/browse/JAVASERVERFACES-3404
(note that it was fixed for  2.2.11)
Mojarra h:inputFile was not working on second submit with PARTIAL_STATE_SAVING = false

[2015-08-19 13:21] tandraschko commented on #635
Thanks but the fix seems a little bit weird as the uploaded file will remain in the viewstate propably.
I will check it for 5.3.

[2015-08-19 13:37] mertsincan commented on #641
I didn't replicate the issue. Please try with FF-40.0.2.
![editor](https://cloud.githubusercontent.com/assets/11868120/9357591/836df6aa-4690-11e5-817c-9292ef46b953.PNG)

[2015-08-19 14:19] tandraschko commented on #635
Fixed in trunk.
Would be great if you could do a intensive test.

[2015-08-19 14:19] #635 closed, assigned to tandraschko

[2015-08-19 19:38] ReedElliott opened #642 "p:columnToggler hidden columns reappear after change page"
I created a p:dataTable with p:columnToggler by copying the code documented in the following blog:

http://blog.primefaces.org/?p=3341

When I select the column toggler button and uncheck a column, the column disappears and I see that primefaces added a style="display: none;" attribute to the appropriate th and td elements.

However, when I select the next page button or one of the numbered page b

[2015-08-20 01:55] janncors opened #643 "jquery not defined PF 5.2 IE 11"
Hello, I´m using PF 5.2, App Server Wildfly 9.0 Final and JSF 2.2.2. I've developed an web application using facelets templates. I've got many js scripts errors related when jquery when I've tried to render the application in IE11. Others browsers work fine (Mozilla, Opera and Chrome).

The following errors are showed by the IE debug console:
### Null reference of 'nodeType'  property:

SCRIPT5007

[2015-08-20 06:44] cnsgithub opened #644 "Frozen columns mismatch of header and rows and other various issues with it"
Hi, since the day this feature is in PrimeFaces it has been almost unusable for me due to some very annoying bugs. I have created a basic test case where you can see the major flaws about this component. Please try to fix it in the PF code. Any CSS or JS workaround is not a real option because it would basically make this component very hard to re-use.

So, here are the issues:
1. If any row on th

[2015-08-20 06:48] cnsgithub commented on #643
Hi, i'm not from the PrimeFaces Team (just a user) , but I think it would be useful to have a fully runnable example to reproduce instead of a imcompete XHTML with a lot of proprietary stuff. then it would be easier to find the cause.

[2015-08-20 07:12] tandraschko commented on #643
If you don't provide a complete maven project, i will close it as won't fix.
Our applications are working fine in IE11 - same as the showcase.

[2015-08-20 08:04] #609 closed, assigned to tandraschko

[2015-08-20 08:08] tandraschko commented on #594
Could you please post a real use case?
I actually don't include such a "application dependent" config in a shared jar.

[2015-08-20 10:14] dfme opened #645 "Sorted DataTable throws NullPointerException"
We are using a `<p:dataTable` within our Primefaces 5.0 application.
We currently wanted to upgrade to use 5.2 but we are hindered with the following issue:
Since Primefaces 5.1 the `BeanPropertyComparator` throws a `NullPointerException` when the component is being rendered during an ajax call.
After doing some analysis we have come to the conclusion that the initialisation of the `ValueExpressio

[2015-08-20 11:23] #642 closed, assigned to nobody

[2015-08-20 12:43] VsevolodGolovanov commented on #594
It's a modular enterprisey web application. A customer can purchase a set of modules, and that defines which modules get included in the build.
The modules are implemented as web fragment projects: servlets look up META-INF/web-fragment.xml specific configuration, JSF parses META-INF/faces-config.xml, sees templates and other resources in META-INF/resources, CDI discovers beans. It works well.

[2015-08-20 12:44] VsevolodGolovanov commented on #609
Thanks!

[2015-08-20 13:52] janncors commented on #643
Hello, I´ve shared the complete project in dropbox:
[Maven project](https://www.dropbox.com/s/y47bv47bwud7nrz/payuintegration.rar?dl=0)

Thanks,

[2015-08-21 00:49] kito99 opened #647 "Autocomplete with ampersand suggestion returns escaped markup"
Steps to reproduce:
1. Navigate to showcase example http://www.primefaces.org/showcase/ui/input/autoComplete.xhtml
2. Type '&' in the simple input
The first suggestion returned is "&amp;0" but should only be "&0".
3. Type 'a' next to the '&' in the simple input to make "&a"
The first suggestion returned is now "&amp;a0" but should only be "&a0".

This occurs with the latest showcase (8/20/2015). O

[2015-08-21 07:52] fanste commented on #20
I can confirm this bug. As soon as the validation fails you will get the submittedValue in the autocomplete inputfield instead of the label of the submittedValue.

[2015-08-21 16:39] VsevolodGolovanov commented on #149
IE8 would still fail (won't download, shows error dialog) if the fallback filename (without asterisk) contains non-ASCII characters. So it should be ASCIIfied somehow.
Update: actually it works in IE8, if you URLEncoder.encode the fallback filename too!

[2015-08-22 16:14] djmj opened #648 "Class ui-widget on p:commandLink and p:link breaks fontawesome"
Using a simple `p:commandLink` with themeroller icon was no problem.

[code]

Updating all icons to font awesome this does not work:

[code]

The reason for this is, that primefaces adds the class `ui-widget` to the `a` anchor tag which selectes different font.

Is `ui-widget` necessary on link? in most cases any parent container or body already has `ui-widget` applied to it.
## Current workaround

[2015-08-23 15:40] gregor2005 commented on #98
I have a similar or the same defect when I put a gmap inside a tabView when the gmap is not in the first tab.

[2015-08-24 10:28] cchet opened #649 "Calendar js error "wrong time format" with pattern (MM/dd/yyyy hh:mm a)"
When the locale is english and/or the pattern is set to 'MM/dd/yyyy hh:mm a' then the jquery datetime picker fails for "wrong time format" because the datetime picker cannot parse the time part because it thinks the time part is AM/PM.

This seems to be an jquery javascript issue.
The showcase does not contain an example with 12 hour format and therefore I do not know if this would work in version

[2015-08-24 11:33] mertsincan commented on #649
We could not replicate the issue, please try with 5.2.10 or 5.3

[2015-08-24 11:35] #641 closed, assigned to nobody

[2015-08-24 12:05] cchet commented on #649
Thanks.
We will update to version 5.2.10 and will test it right away.

[2015-08-24 12:18] Julienng opened #650 "Selection dataTable doesn't work when click on child of `td`"
Hi,
I found a bug when dataTable selectionMode is `single`. If the element of the column is an `input` and you click into it. The row is never selected.

I override the `onRowClick` of `dataTable` like that:

[code]

I can do a pull request if my change is ok for you.

[2015-08-24 12:53] weissreto opened #651 "validateLongRange with a minimum of 0 does not work with client side validation"
If I use `<f:valdidateLongRange minimum="0" maximum="10">` with client side validation then values from Long.MIN_VALUE .. 10 are accepted instead of 0 .. 10!

If I configure `minimum="1"` or `minimum="-1"` then the validation correctly accepts only values from 1 .. 10 respective -1 .. 10

[2015-08-24 15:16] thomaswoeckinger opened #653 "Enhance parsing of web.xml to support XML ENTITY declartions"
Currently org.primefaces.config.ConfigContainer.initConfigFromWebXml(...) uses only the given InputStream.
Therefore it is not possible to use enhanced XML ENTITY declaration during parsing, so an exception will be thrown.

This could be easily done by check if the giver URL is absolute and use InputSource as parameter for the parser.

The implementation could be following:

[code]

[2015-08-24 20:34] tandraschko commented on #651
Could you please try to change your pull requests just to use Integer instead of int? This wouldn't require the additional boolean var.

[2015-08-24 20:36] tandraschko commented on #653
Could you please post your example xml?

[2015-08-24 20:38] thomaswoeckinger commented on #653
It's particular useful when using XML Entity References to include common parts into the web.xml.

Example given:

[code]

and the web-login-config.xml

[code]

[2015-08-24 20:55] tandraschko commented on #653
Applied your changes. Please test.

[2015-08-24 20:55] #653 closed, assigned to tandraschko

[2015-08-24 21:00] thomaswoeckinger commented on #653
Tested an OK!
That was fast :-)

[2015-08-24 21:28] #633 closed, assigned to tandraschko

[2015-08-25 06:23] weissreto commented on #651
Hi Thomas

Do you mean something like this:

[code]

[2015-08-25 06:39] tandraschko commented on #651
yep, exactly :)
if this is working fine, i have no problems to accept the pull request!

[2015-08-25 10:16] mertsincan opened #654 "Add headerElement option to Dialog Framework"
User can add components into header of DF. The value of "headerElement" is  value of component's id. Exp;

[code]

viewCars.xhtml

[code]

[2015-08-25 13:30] cagataycivici opened #655 "SplitButton not compatible with Layouts"
SplitButton changes for responsive mode, break compatibility between premium layouts-themes.

[2015-08-25 13:31] #655 closed, assigned to cagataycivici

[2015-08-25 13:50] Julienng opened #656 "NullPointerException Dropdown autocomplete readonly"
Hi,
When an auto-complete is read only and the drop-down active, if the user click into the drop-down a `NullPointerException` is throw.

Exemple from the showcase with readonly:

[code]

the exception throw:

[code]

I think dropdown button have to be disabled when autocomplete is readonly. It's more explicit for the user.

[2015-08-25 18:28] xKopax commented on #654
It would be cool to have this on common dialog.

[2015-08-25 19:44] dariorios commented on #20
Correct. This problem is confirm when a validator fails and the autocomplete renders the value of the id instead of the object.

[2015-08-25 20:53] #654 closed, assigned to nobody

[2015-08-25 21:29] akarpavicius opened #657 "partialSubmitFilter does not filter inputs inside p:fieldset in Chrome"
Primefaces 5.2 on Jboss eap 6.2. JSF 2.1

Ajax partial submit with partialSubmitFilter does not filter input components that are placed inside the
 p:fieldset  tag. Issue is only Chrome (v. 44). In IE (v.11) works fine.

Here is a JSF fragment that fails. "onenewKey" field, thas is inside the  p:fieldset  tag, fails validation even though it should be excluded from ajax submit, as other two inputs