[2016-11-02 14:08] tandraschko commented on #1858
Is the proposed fix ok for you @cagataycivici ?

[2016-11-02 14:34] tandraschko commented on #1858
Another solution:
We can set stream=false as default
So @ViewScoped will also work

it's just a little bit slower as a new browser request (AFAIK)

[2016-11-02 14:37] tandraschko commented on #1858
We could also do both
setting stream=false as default + store the value-expressions in a big list (as fallback if stream=true is used)

[2016-11-02 15:26] tandraschko opened #1871 "New component: Organigram"

[2016-11-03 07:51] mertsincan opened #1872 "Add facet header/footer text of datatable to PDF exporter"
If Datatable have facet header and footer, they are added into exported pdf file.

[2016-11-03 08:10] #1872 closed, assigned to nobody

[2016-11-03 10:42] floriandulzky opened #1873 "RowExpansion does not work with filterBy"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No
- Application server + version: Wildfly 8
- Affected browsers: Tested in Chrome and Firefox, does not work in either.

## 2) Expected behavior
In a datatable I have implemented "filterBy" for a column. And a "rowExpansion" for each row.
In the row expansion I show data of the entity.
The filter itselfs

[2016-11-03 13:47] floriandulzky commented on #1873
Entity have to implement Serializable

[2016-11-03 13:47] #1873 closed, assigned to nobody

[2016-11-03 13:48] #1871 closed, assigned to tandraschko

[2016-11-03 13:55] msgeissler opened #1874 "Fileupload should not store files using their original names (files with same name collide)"
## 1) Environment
- PrimeFaces version: 5.3
- Does it work on the newest PrimeFaces version? 6.0 no
- Application server + version: Tomcat 7.0.62
- Affected browsers: Server Side issue
- Additional environments: JSF 2.2.12, Liferay 6.2, Liferay Faces Bridge 4.2.5-ga6

## 2) Expected behavior
If multiple user upload different files with the same name at the same time I expect them to be handled as

[2016-11-03 14:05] tomlux commented on #1753
We also have the same problem (PF6.0)

[2016-11-03 14:09] msgeissler commented on #1874
Some further testing showed that the folder in the temp-directory seems to be related to the view-session, a new upload in a new browser results in a new folder.
So this should not really be affected by the amount of user currently using the system.

The severity of this problem is not as big as I initially thought, as it might only affect people working in multiple tabs and having a slow backend.

[2016-11-03 17:09] cagataycivici commented on #1858
What does stream="true|false" does?

[2016-11-03 17:41] vanuatoo opened #1875 "cellEdit mode and selectionMode = single p:selectOneMenu can't select first value"
1) Environment
- PrimeFaces version: 6.0.7
- Does it work on the newest PrimeFaces version? No
- Application server + version: Glassfish 4.1.1
- Affected browsers: Firefox

## 2) Expected behavior
When you have p:selectOneMenu as the editor in p:dataTable and have selectionMode="single" you cannot select first item of the drop down.
...

## 3) Actual behavior
You should be able to select the first

[2016-11-03 17:43] vanuatoo commented on #1875
[Bug.tar.gz](https://github.com/primefaces/primefaces/files/569703/Bug.tar.gz)

[2016-11-03 18:34] tandraschko commented on #1858
stream=true is the current behavior and a url will be rendered -> the image will be requested in a extra http request

stream=false directly writes the byte array base64 encoded to the src attribute

[2016-11-03 19:00] stiemannkj1 commented on #1769
@tandraschko, I just checked, and the `p:selectOneMenu` JavaScript errors occur in both myfaces and mojarra, so this is a bug in primefaces. Do you want me to open another issue, or do you want to reopen this one?

[2016-11-03 19:01] tandraschko commented on #1769
Would be great if you would create a new one with the 2 small sample xhtmls :)

[2016-11-03 19:12] tandraschko commented on #1858
Ok, this won't work in all cases... stupid IE8...

[2016-11-03 19:14] stiemannkj1 opened #1876 "Ajax navigation with h:commandButton causes primefaces components to fail."
## 1) Environment
- PrimeFaces version: **6.1-SNAPSHOT** (This bug does not occur in 5.3 and below, because it is due to [PrimeFaces Dynamic Resource Dependency Loading](https://github.com/primefaces/primefaces/issues/1066) which was added in PrimeFaces 6.0) (This bug relies on the fact that #1769 is already fixed)
- Does it work on the newest PrimeFaces version? **Yes**
- Application server + ver

[2016-11-03 19:15] stiemannkj1 commented on #1769
Created new issue here: https://github.com/primefaces/primefaces/issues/1876

[2016-11-03 19:16] stiemannkj1 commented on #1876
Note that this issue should be low priority since the workaround is simply to use primefaces components instead of the default JSF components. Usually primefaces developers default to primefaces components anyway.

[2016-11-04 06:33] Timaty opened #1877 "AjaxExceptionHandler ExceptionInfo in Bean is null or wrong object"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No
- Application server + version: All Servers
- Affected browsers: All Browsers

## 2) Expected behavior

The ExceptionInfo which is shown in die Dialog should be the same if giving it to the Bean.

## 3) Actual behavior

If you use an error page for handling Exceptions showing the informations with the #

[2016-11-04 07:44] tandraschko commented on #1877
The problem probably is that the ExceptionInfo is only stored in the FacesContext. So in a new request, the info is lost.
We store in the session for redirects, maybe we should also always store in the session.
BUT, if the user uses multiple tabs and a exception might happen in another tab, the info object stored in the session might the right one.

[2016-11-04 08:06] tandraschko commented on #1876
As i said, the example works fine with myfaces and is the same mojarra bug.
(Just be sure that the browser cache is cleaned)

[2016-11-04 08:06] #1876 closed, assigned to tandraschko

[2016-11-04 08:41] Timaty commented on #1877
Okay, I understand.
Is there another option to get the ExceptionInfo in a bean method for ajaxExceptionHandler to send it via mail?

[2016-11-04 09:40] mertsincan opened #1878 "Timeline inside tabView not working"
Reported by Pro User;

Note: I want the tabView on demand loading.
Testing code:
xhtml:
[code]
Backend bean:
[code]

[2016-11-04 10:27] tandraschko commented on #1878
Mert, could you please explain me the fix?
resolveWidgetVarForTimelineUpdater contains the same as timeline.resolveWidgetVar, isn't it?

[2016-11-04 13:19] mertsincan commented on #1878
Hi Thomas,
No, I made the following change;

[code]

Because, on onComponentPopulated method, the clientId of timeline variable is null on the following line;

[code]

Then,  If resolveWidgetVar method is called, the clientId is the id value of timeline.(You can see it with debug.)  Therefore, clientId and behaviorSource are different from each other on CoreRenderer.decodeBehaviors(..) when 'selec

[2016-11-04 14:06] stiemannkj1 commented on #1876
Oops :flushed: I didn't even think of that! Sorry to waste your time :(

[2016-11-04 16:48] giorgioprimefaces opened #1879 "Gmap geocode not working in tabview"
1) Environment
Primefaces version 6.0.7 (wasn't working also in previous 6.0.5 not tested previous releases)
Apache tomcat 7
firefox and chrome (not tested other browsers)

2) Expected behavior & Actual behavior
if used outside a tabview (like in the showcase) it is working as expected, but if I try to put it inside a tabview js function geocode() stops to work with this error:

Uncaught TypeError

[2016-11-04 16:50] tandraschko commented on #1879
Please provide a sample xhtml based on the showcase beans.

[2016-11-04 17:04] tandraschko commented on #1878
Don't think we can fix it easily without refactoring but switching from clientId to Id is definitely not a real solution for this.
Let me know if you have any ideas :)

[2016-11-04 19:14] ghost opened #1880 "Add data entry in datatable vertically"
Currently the datatable adds entry as a new row, like:

name | number | color
 ------  | ------ | ------
apple  | 1|    red |
banana  |      2  |     yellow

instead, add new data entry as a new **column** what I want is this:

name | apple | banana
 ------  | ------ | ------
number  | 1|    2 |
color  |      red  |     yellow

Any ideas?
Thanks.

[2016-11-04 19:19] tandraschko commented on #1880
use the forum please.

[2016-11-04 20:56] geziefer commented on #1831
It's not only a non-working animation which makes the whole menu look wretched, but it also prevents other buttons from being pressed which are beyond the point where the menu thinks it has to show the bubble and let the menu item be clicked - which is a pretty major thing I'd say and makes it unusable.

Will someone care about that or do we have to abandon the useless dock menu?

[2016-11-05 10:54] steinarb commented on #1864
The following javascript stack trace appears in the chrome console when selecting an item in the selectOneMenu:

[code]

[2016-11-05 11:58] tandraschko commented on #1831
You have 3 solutions:
- you can use PrimeFaces support to get the bug fixed
- wait until someone fixes it
- analyze the problem by yourself and provide a PR :)

[2016-11-05 11:58] #1880 closed, assigned to nobody

[2016-11-05 12:42] geziefer commented on #1831
Hehe, I knew I'll get immediate comments when conplaining about the bug - but it was meant as a question, because I had the fear that no one at all might care about it, and I regard it as a major bug in the component, so I'd like to know if help is on the horizon or if I have to ommit the menu and do something differently.

[2016-11-05 18:58] steinarb commented on #1864
I have tried debugging this in chrome.

In the method below when I'm ready to step into the replaceChild() function and click on the "i" and "this" variables, they highlight the same <input> element in the document structure.  Clicking on the e variable highlights the <div> element that is the parent of the <input> in the document tree.

Is this an attempt to replace an object with itself?

I can'

[2016-11-05 22:47] JaviRpo commented on #533
I have the same error with global tooltip.
The first time the tooltip display, but the second time in same component or in another component it causes a JS error.
![image](https://cloud.githubusercontent.com/assets/8562436/20034065/8d3f4c72-a37f-11e6-92b5-2a76abeed3f3.png)

I'm in PrimeFaces 6.0

The error happens in this showcase with `trackMouse="true"` attritbute
http://www.primefaces.org/showc

[2016-11-06 11:32] mertsincan opened #1881 "Column headerText support to SelectOneMenu"
When you use headerText attribute of columns on SelectOneMenu, the header is displayed on the panel of oneMenu.

[2016-11-06 11:43] #1881 closed, assigned to nobody

[2016-11-07 04:14] #1709 closed, assigned to nobody

[2016-11-07 09:10] giorgioprimefaces commented on #1879
In the zip archive you'll find an example, I've used the same java code you can find in geocode demo in PF showcase,
thanks

[example.zip](https://github.com/primefaces/primefaces/files/574888/example.zip)

[2016-11-07 09:11] federicomartinlara1976 commented on #1879
Try this:
- Declare a unique style class for the 'address' element, for example: address
- Access to it via jquery: $('.address').val()

[2016-11-07 09:16] tandraschko commented on #1879
Not related to PF. If you place components inside UINamingContainers like TabView, they get the inherit the id from the naming container. So this can't work.
Use the full client id or as @federicomartinlara1976 said a style class.

[2016-11-07 09:16] #1879 closed, assigned to nobody

[2016-11-07 09:27] giorgioprimefaces commented on #1879
ok, thanks

[2016-11-07 14:13] karkok opened #1882 "Possible to access disabled tab in tabView."
## 1) Environment
- 5.3.5.
- Tomcat 7.0.59
- IE 11, Chrome, FireFox

## 2) Expected behavior
You shouldn't be able to access disabled tab in tabView.

## 3) Actual behavior
You can access disabled tab in tabView.

## 4) Steps to reproduce
1. Go to the page where you have tabView with couple of tabs, where at least one is disabled.
2. Click left mouse button on the disabled tab and keep the button

[2016-11-07 15:44] viaram commented on #1439
Are there any news regarding this issue?

[2016-11-07 16:47] hink084 commented on #1321
Similar in nature, I also found there to be a bug with Filtering/LiveScrolling with Primefaces v6.0.  @ohlsen3000 's solution works for Sorting but it does not with Filtering.  You can reproduce this by adding the "filterBy" attribute to the "p:column" tag.  In @ohlsen3000  's example this would be `filterBy="#{car.id}"`

The problem occurs when you attempt to scroll, filter/reduce the dataset, an

[2016-11-07 20:28] tony-in-nz commented on #1823
Just wondering about the doco.
The link from the showcase goes to editor and PDF does not have this listed.
Is there a place to download the 6.0.6 doco?

[2016-11-07 20:42] geocode commented on #1325
Please fix this issue.  This made the blockUI unusable for us.  There is a primefaces extension blockUI that works entirely differently -- we have started working with it, but it has created so many new problems.  Can we please fix this?

[2016-11-08 09:55] sytolk opened #1883 "v. 6.1-SNAPSHOT in sonatype is missing"
According to this [issue](https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/421)
Can you upload the latest version of primefaces in sonatype
If I have [primefaces-extension v6.1.0](https://oss.sonatype.org/content/repositories/snapshots/org/primefaces/extensions/primefaces-extensions/)
There is not dependent primefaces v6.1
`Failure to find org.primefaces:primefaces:

[2016-11-08 14:41] tandraschko commented on #1883
We don't deploy snapshots
you must build it from source.

[2016-11-08 14:41] #1883 closed, assigned to nobody

[2016-11-08 16:17] sytolk commented on #1883
@melloware can you deploy primefaces 6.1.0 jar too ? It`s not so hard work to run maven deploy command :)

[2016-11-08 16:29] tandraschko commented on #1883
I assume he don't have the permissions to deploy primefaces.

[2016-11-08 16:53] melloware commented on #1883
That is correct I am only a committer and Sonatype authorized for PF Extensions.

[2016-11-08 17:08] slovi commented on #1654
Hi @tandraschko, I created bug in myfaces and this is the result:

https://issues.apache.org/jira/browse/MYFACES-4074

They said, it should be fixed in primefaces.

So pull request #1655 is relevant now.

[2016-11-08 19:36] tandraschko commented on #1654
So feel free to provide a PR ;)

[2016-11-08 21:48] slovi commented on #1654
OK, I reopened this pull request #1655

[2016-11-09 07:54] tandraschko commented on #1654
Applied it, hopefully it doesn't brake anyting ;)

[2016-11-09 07:54] #1654 closed, assigned to tandraschko

[2016-11-09 08:21] #1878 closed, assigned to nobody

[2016-11-09 16:29] tandraschko commented on #1877
You could write an own ExceptionHandler.
As i said, i could fix it if you need it but it won't work for multi-tabs if a exceptions occurs in one or more tab probably.

Another solution would be that we store the exceptions in the session and pass the exception id via url param or something.
But the effor is quite high and you are the first user which needed it.
However, you can sponsor it if you l

[2016-11-10 00:23] djmj opened #1884 "Add unique support to AutoComplete"
A nice feature for AutoComplete would be a unique attribute / function, which enforces the uniqueness of the selected elements. Maybe allow _java.util.Set_ as value in case attribute unique is true.

 Visual effect:

When a user enters a duplicate element the first occurence could flash with _ui-state-error_ for a second to give user feedback.

[2016-11-10 01:15] djmj opened #1885 "AutoComplete with multiple calls converter on ArrayList"
I have an autocomplete with option multiple set to true. This is bound to an ArrayList in the bean and has an entity converter assigned to it.

## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version?
- Application server + version: Glassfish 4.1, JSF Mojarra 2.2.9
- Affected browsers: all

## 2) Expected behavior

Call the converter once for each element, with

[2016-11-10 06:15] CloudStrife28492 opened #1886 "TreeTable dynamic columngroup with dynamic columns - Header won't display"
Hi there,

I'm trying to implement a treetable with dynamic columns and therefore dynamic headers as well.

So far everything works fine if I use it like this :

`<p:treeTable value="#{auswahlBestehendeAuftraegeController.root}"`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`var="auftrag" id="treeTable" >`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`<f:facet name="header">TreeTable</f:facet>`
&nbsp;&nbsp;&nbsp;&n

[2016-11-10 07:45] mohsen opened #1887 "SplitButton: adds horizontal scroll in RTL"
Environment
- PF 6.0
- Latest Chrome and FF

`<p:splitButton>` ins buggy in RTL environment in all modern browsers. The issue is huge text indent (`text-indent: -9999999px;`) for this span in the result html:
`<span class="ui-button-text ui-c">ui-button</span>`

The workaround is to add this rule in page CSS:
`.ui-button-icon-only .ui-button-text { overflow: hidden }`

[2016-11-10 09:49] CloudStrife28492 commented on #1886
Yeah, I found the error.

Obviously treetable neither likes p:repeat nor ui:repeat. So I tried it using c:forEach and tadaaaaa it works like a charm. So to anyone who wants to use dynamic columns and dynamic columngroup on a treetable use c:forEach :)

[2016-11-10 10:00] tandraschko commented on #1886
All right, will close it ;)
Next time: please attach complete examples, otherwise your ticket could be closed as invalid.

[2016-11-10 10:00] #1886 closed, assigned to nobody

[2016-11-10 10:23] SavchenkoVV opened #1888 "Incorrect Partial Submit items in p:outputPanel"
## 1) Environment
- PrimeFaces version: 6.0, 6.1(develop)
- Does it work on the newest PrimeFaces version? No
- Application server + version: apache-tomcat-8.0.38
- Affected browsers: Chrome, FireFox

## 2) Expected behavior
Form must be submitted without error

## 3) Actual behavior
Submit form error: form:f2: Validation Error: Value is required.

## 4) Steps to reproduce
Simple working and not w

[2016-11-10 12:11] tandraschko commented on #1888
Please check your selector the next time, it will also return the outputPanel.

[2016-11-10 12:54] SavchenkoVV commented on #1888
So, it is not possible to submit some inputs form outputPanel?

[2016-11-10 12:56] tandraschko commented on #1888
It's possible if you write a correct selector which doesn't "select" the outputPanel, too.

[2016-11-10 13:20] SavchenkoVV commented on #1888
Thanks, it is works

[code]

But it is not(I thought container tabView like outputPanel)

[code]

or

[code]

[2016-11-10 13:22] tandraschko commented on #1888
Sorry but i can't follow you without description.
I would do something like: process="@(input:not(.not-process))" if would just like to process inputs.

[2016-11-10 14:52] SavchenkoVV commented on #1888
Not nice solution for sending form items (inputs, selects textareas) grouped by tabView and exclude someone...

But if there is no other solutions...Will try. Thanks.

[2016-11-10 18:37] mauritz-lovgren opened #1889 "p:calendar timeControlType="select" does not work with national time pattern"
## 1) Environment
- PrimeFaces version: 6.0.6
- Does it work on the newest PrimeFaces version? no
- Application server + version: JBoss EAP 7.0.3
- Affected browsers: All major.

## 2) Expected behavior

p:calendar should present time input select dropdowns for hour, minute (and second) when timeControlType ="select" (instead of default 'slider'), even when using national date time pattern, like t

[2016-11-11 11:39] alexeev commented on #1559
Any feedback from engineering after half a year?

[2016-11-11 11:47] alexeev commented on #404
Any feedback from engineering after 1,5 years?

[2016-11-11 11:55] #1888 closed, assigned to nobody

[2016-11-11 12:52] NagyGa1 opened #1890 "p:menu: two of them with overlay="true" one page: second shows items of the first"
[code]

When clicking on the second menu's trigger button, the items of the first menu showed, rightly positioned below the second button.

All browsers.

[2016-11-11 13:42] GianlucaD opened #1891 "First row in datatable always highlighted since PF 6"
if u use a rowSelect Ajax-Event on a datatable, the first row is highlighted, instead of the selected row

<p:ajax event="rowSelect" update="@form"> changes the highlighted Row

## 1) Environment
- PrimeFaces version: 6.0.7
- Application server  Tomcat 8.0.17
- Affected browsers: all

## 2) Expected behavior
the highlighted row is the last selected row.
As in 5.3.1 or pre 6.0
## 3) Actual behavior

[2016-11-11 14:10] gyan2 opened #1892 "InputMask: incomplete submit value when mask contains '?' and a character at the end"
## 1) Environment
- PrimeFaces version: 5.3 or 6.0
- Application wildfly-9.0.0
- Affected browsers: Firefox 49.0.2, Chrome 54.0.2840.71 m, Edge 38.14393.0.0

## 2) Expected behavior
<p:inputMask id="nss" value="#{myBean.number}" mask="9.99.999.?(99)">

with input '12345678' i expecting '1.23.456.78)'

## 3) Actual behavior
result is '1.23.456.(78', missing the **last character**

any combination w

[2016-11-11 14:22] gyan2 opened #1893 "inputMask, cursor key not working in Firefox"
## 1) Environment
- PrimeFaces version: 5.3 or 6.0
- Application wildfly-9.0.0
- Affected browsers: **Firefox 49.0.2**

## 2) Actual behavior

<p:inputMask id="name" value="#{myBean.name}" mask="*.**.***.****">

at editing a Field with inputMask, the **arrow keys**(left, right) not working in Firefox Browser.

in other Browser like Chrome 54.0.2840.71 m or Edge 38.14393.0.0 its do well.

sry i cou

[2016-11-11 15:02] tandraschko commented on #1891
@mertsincan Feel free to port it to elite :)

[2016-11-11 15:07] kukel commented on #1884
Feel free to provide a patch ;-)

[2016-11-11 15:11] kukel commented on #1860
@tandraschko: no need to try for the OP. In a `c:foreach` you cannot iterate over a var of a tabView... Limitation of JSF, not PrimeFaces

[2016-11-11 15:15] kukel commented on #1890
PF Version?
Error in your bean?

[2016-11-11 15:18] kukel commented on #1855
On what version does it work without errors then? Which 6.0.x?  And why do you report an issue if it works on the newest PF version?

[2016-11-11 15:20] kukel commented on #1858
Time to drop IE8 support and move to jQuery 22 instead of 1.x ;-)

[2016-11-11 15:23] kukel commented on #1833
Not a bug as can be seen in http://forum.primefaces.org/viewtopic.php?f=3&t=47224

[2016-11-11 15:24] tandraschko commented on #1858
we still have customers with IE8.... :/

[2016-11-11 15:25] #1833 closed, assigned to nobody

[2016-11-11 15:26] tandraschko opened #1894 "[Documentation] Add documentation for p:graphicImage stream=false benefits"
see #1858

[2016-11-11 15:26] tandraschko commented on #1858
But created a feature request for it: https://github.com/primefaces/primefaces/issues/1894

[2016-11-11 15:42] #20 closed, assigned to tandraschko

[2016-11-11 15:44] tandraschko commented on #20
Sorry for the late response.

[2016-11-11 15:47] tandraschko commented on #1885
Sorry can't follow you.
Quotes from you:

is the same for me.

[2016-11-11 19:47] Dr4gon commented on #959
Hi @kukel ,

I'm very sorry about not replying - I didn't get any notifications about that.

I edited the title accordingly.

Yeah @Rapster is correct. The child component won't be shown when it's a composite. Details in the stackoverflow post.

Best regards

[2016-11-11 22:16] NagyGa1 commented on #1890
PF 6.0.7, sorry.

No error logged on the server, no other obvious error anywhere else.

Guess the IDs got messed up somewhere and it always uses the first trigger.

[2016-11-11 23:05] djmj commented on #1885
I will try it with an example:

**Bean**

[code]

**Markup**

[code]

**Converter**

[code]

**If we selected 3 elements, what should the console log be?**

_Foo
Foo
Foo_

**But it is:**

_Foo
Foo
Foo
ArrayList
ArrayList
ArrayList_

So the converter is invoked using the _ArrayList_ as an argument. Which is just unnecessary.

[2016-11-12 00:40] djmj opened #1895 "Chips: Paste delimited list to add multiple"
Autocomplete is one of the best input component and i have a new idea to increase its usability.

**Feature**

Allow copy and pasting of a delimiter separated list into the textbox to quickly add multiple elements. It is an feature for advanced users to save much input time.

**A)**

1. Activate _advanced mode_ clicking on an icon (similar to source mode of text-editor).
2. A normal text input wit

[2016-11-13 10:37] cagataycivici commented on #1858
This change would be backward compatible right?

[2016-11-13 11:03] tandraschko commented on #1858
Yep. I would do it if we drop IE8 later.
Currently i would do this:
`i think the best way is to remove the "#remove" call and use a custom list implementation which removes the first entry, if the size is e.g. bigger as 250
They are just small expression strings, i think it should not harm to store some hundreds of them`

We would still have the problem if the user works e.g. 10 tabs (with over 25

[2016-11-14 06:21] mertsincan commented on #1827
I agree with Thomas. Unfortunately, we can not add this fix into elite release.

[2016-11-14 06:36] supergamestone commented on #1855
1. This is a wrong comment. I can not understand the question. I have fixed the wrong on the top comment as here.
   - Does it work on the newest PrimeFaces version?
   - -- No
2. The issue is found on the version of 5.3 and 6.0.
3. The the newest free PF version is 6.0. The 6.0.x is only for ELITE and PRO users that is not free version.
   ![image](https://cloud.githubusercontent.com/assets/17096

[2016-11-14 10:39] sergiyuvarov opened #1896 "Datatable improvement"
# IMPORTANT
With current implementation of the Datatable is not possible to implement such functionality:
1. saving and restoring columns order and visibility.
2. prevent dragging specific columns.
3. disable reorder columns to specific position.

Please, add these features if possible.

[2016-11-14 10:44] tandraschko commented on #1896
1 ticket = 1 topic/bug/feature

[2016-11-14 10:44] #1896 closed, assigned to nobody

[2016-11-14 10:55] sergiyuvarov opened #1897 "DataTable: columns order and visibility"
# IMPORTANT
Please, add such functionality to datatable component: saving and restoring columns order and visibility.

[2016-11-14 10:57] sergiyuvarov opened #1898 "DataTable: prevent dragging specific columns"
# IMPORTANT
Please, add such functionality to datatable component: prevent dragging specific columns.

[2016-11-14 10:58] sergiyuvarov opened #1899 "DataTable: allow disable reorder columns to specific position"
# IMPORTANT
Please, add such functionality to datatable component: disable reorder columns to specific position.

[2016-11-14 12:05] Berger1994 opened #1900 "p:remoteCommand destroys @ViewScoped managed bean"
If a remote command is invoked, which is not rendered in the actual dom tree, all beans with the "view scoped" annotation reinitialized.

It would be nice if this were handled with javascript ("PrimeFaces.ajax.Request.send").
Proposal for solution:
[code]
The only problem is that the RemoteCommandRender does not render the script tag in a extra container. For the solution above, this is required t

[2016-11-14 12:18] tandraschko commented on #1900
Not sure if PF is the problem.
Normally, for commandButtons or similar, the ajax request is still executed but the JSF impl doesn't execute the action/actionListener.
Could you check it with other jsf implementations/version and what happens with h:/p:commandButton?

[2016-11-14 13:47] mertsincan opened #1901 "CommandButton in facet "description" of DataList doesn't call its actionListener"
Reported By PRO User;

Modified ShowcaseExample;

[code]

[2016-11-14 13:51] #1901 closed, assigned to nobody

[2016-11-14 14:04] mertsincan opened #1902 "Column resizing problem with Internet Explorer 11"
Reported By PRO User;

-Columnt resizer ist not always on the right side
-Text is not allays on the left side and is cut off.
Under FF and Chrome works it fine.

[2016-11-14 14:12] #1902 closed, assigned to nobody

[2016-11-14 16:24] tandraschko commented on #1900
EDIT:
checked your post again (i thought it isn't available in the server-side "DOM") and will fix it before 6.1.

[2016-11-14 23:55] djmj opened #1903 "AutoComplete: allow label to be defined using facet"
Currently the label of selected elements of _p:autoComplete_ can only be defined using _itemLabel_ attribute.

To give user more visual feedback it would be nice if the developers gain more control of the rendering using a facet.

**Example**
In the drop down list we render a little + icon next to a property if it is not persistent and will be created by ORM on cascade save operation. This informa

[2016-11-15 00:24] djmj opened #1904 "AutoComplete: add 'addItem' JS widget function"
Trying to find a workaround for #1895 i thought about creating a text input field and allow user to add multiple comma separated items using copy paste.

Then add those items using javascript to the autocomplete. But there is no 'addItem' function. Just a 'removeItem' function.

[2016-11-15 07:40] mustafacataltepe commented on #1633
this fix is not present in 6.0.7 release, will it be merged into any elite releases or scheduled for 6.1 milestone only?

[2016-11-15 08:43] tandraschko commented on #1633
Its even not fixed for 100% now. There is still an open PR.

[2016-11-15 16:22] #916 closed, assigned to tandraschko

[2016-11-15 16:24] #1186 closed, assigned to tandraschko

[2016-11-15 16:35] tandraschko commented on #1476
Could you please recheck it with the current source? I applied a patch for a bug which also occured with multiple and validation.
Also the PR has conflicts.

If it doesn't work, please provide a new PR + a complete sample bean + small xhtml snippet.

[2016-11-15 16:39] tandraschko commented on #1860
Yep exactly. Thanks for the hint. I should check the issues more in detail...

[2016-11-15 16:39] #1860 closed, assigned to nobody

[2016-11-15 16:41] tandraschko commented on #1904
Please provide a PR.

[2016-11-15 20:15] firsthour opened #1906 "Ajax events after dataExporter broken in 6.0.7"
We're in the process of upgrading from Primefaces to 6.0.7 and ran into an issue with exporting datatables and then performing ajax requests afterwards.

I created a simple, reproduceable example below. In Primefaces 6.0.6 and earlier, exporting the datatable and then sorting works just fine.

In Primefaces 6.0.7, exporting the datatable and then sorting does not work.

I don't know for sure but I

[2016-11-15 20:26] tandraschko commented on #1906
@mertsincan do you have time to check this?
AFAICS this.nonAjaxPosted is NEVER set to false again. This breaks the whole ajax things?!

[2016-11-15 20:27] tandraschko commented on #1906
IMO i would remove the onPost js stuff, window unload SHOULD be enough. Not sure.

[2016-11-16 08:14] Rapster commented on #1856
Maybe related to #1186

[2016-11-16 21:39] hink084 commented on #405
This is still a problem in PrimeFaces v6.0 using Glassfish 4.1 / Mojarra 2.2.13.

The following example is crude but to the point.
A similar problem exists with the RowEditor (See modified example below).

**Recreation Steps:**
1. Cut and paste the following code.
2. Click the first few links in the DataTable and notice the output in the console.
3. Scroll down to initiate the LiveScroll feature.

[2016-11-17 07:40] Rapster commented on #1884
Duplicate #1495. IMO Autocomplete should be unique and not otherwise

[2016-11-17 09:03] #1884 closed, assigned to nobody

[2016-11-17 11:31] #1906 closed, assigned to nobody

[2016-11-17 13:38] kirilmicev opened #1907 "LazyDataModel#getRowData is called twice primefaces 5.3"
# IMPORTANT
i have read the isue #290
LazyDataModel#getRowData is called twice

and it is closed like done in primefaces 5.3

## 1) Environment
- PrimeFaces version:
        <dependency>
            <groupId>org.primefaces</groupId>
            <artifactId>primefaces</artifactId>
            <version>5.3</version>
        </dependency>
        <dependency>
            <groupId>org.primefaces.theme

[2016-11-17 14:03] tandraschko commented on #1907
Invalid because:
- you didn't tried it with the newest version (we asked "- Does it work on the newest PrimeFaces version?")
- No sample java bean
- No steps to reproduce

[2016-11-17 14:26] kirilmicev commented on #1907
I have now tried on primefaces 6.0 and still same behavior.
<dependency>
            <groupId>org.primefaces</groupId>
            <artifactId>primefaces</artifactId>
            <version>6.0</version>
        </dependency>
        <dependency>
            <groupId>org.primefaces.themes</groupId>
            <artifactId>all-themes</artifactId>
            <version>1.0.10</version>
        </depend

[2016-11-17 14:30] tandraschko commented on #1907
Please format the code ;)
And i still miss steps to reproduce.

[2016-11-17 15:42] zhedar opened #1908 "DataTable Row Edit isn't rendering output facet"
## 1) Environment
- PrimeFaces version: 6.1-SNAPSHOT
- 6.0 works, but current Snapshot doesn't
- Application server + version: showcase embedded jetty + Wildfly 10.1 tested, probably all of them
- Affected browsers: Chrome + Safari tested, probably all of them, as the content is missing in the DOM

## 2) Expected behavior
Components in the output facet of the `cellEdit` will be rendered when the r

[2016-11-18 08:55] kirilmicev commented on #1907
I formated the code. What steps do you miss?

I tried this with spring and with ejb and still i get 2 ccalls

[2016-11-18 09:22] tandraschko commented on #1907
Please provide a runnable example. I don't have Category or BaseObject here.
The simplest thing is to reuse stuff from the showcase.

[2016-11-18 10:09] #1908 closed, assigned to nobody

[2016-11-18 11:15] schmidtze-berlin opened #1909 "slideMenu not usable in hidden panels"
## 1) Environment
- PrimeFaces version: 6.0

## 2) Expected behavior
p:slideMenu usable in hidden p:panel

## 3) Actual behavior
JavaScript-Error (TypeError): d.addOnshowHandler is not a function

## 5) Sample XHTML

<p:panel toggleable="true" collapsed="true">
  <p:slideMenu />
</p:panel>

## Additional information
When using p:slideMenu in a hidden panel, then the JavaScript error shown above wi

[2016-11-18 12:16] RueKow opened #1910 "DataTable: responsive subtable not working"
## 1) Environment
- PrimeFaces version: 6.0 (community edition)
- Does it work on the newest PrimeFaces version? I don't know (I'm not ELITE or PRO user)
- Application server + version: Tomcat 8
- Affected browsers: every

## 2) Expected behavior
subtable should accept priority mode
...

## 3) Actual behavior
priority mode will be ignored in subtable
..

## 4) Steps to reproduce
Please add priorit

[2016-11-18 13:27] kirilmicev commented on #1907
i will try for the weekend to provide full project to  test this.

[2016-11-18 14:20] mertsincan opened #1911 "Window scrollbar issue with sticky component"
Reported By PRO User;
[code]

It seems that the panel tries to become sticky changing the page height; with the new height it probably does not need anymore to be sticky and switches back to the non sticky mode and it starts from the square one.
The page shake and the only option is to change the window size of the browser.

[2016-11-18 14:24] #1911 closed, assigned to nobody

[2016-11-21 12:35] robertistok opened #1912 "JQplot Chart: memory leak when updating with p:poll"
## 1) Environment

- PrimeFaces version: 5.3
- Does it work on the newest PrimeFaces version? No
- Application server + version: Tomcat v8.0.32
- Affected browsers: all of them

## 2) Expected behavior

I have a chart component, which gets data from the server every n seconds, specified by the user.
`	<p:chart id="dataChart" type="line" model="#{chartController.lineModel}"
		widgetVar="dataChart"

[2016-11-21 13:03] tandraschko commented on #1749
@erickdeoliveiraleal the upgrade of jqlpot destroyed following example "showcase/ui/chart/area.xhtml"
If you check it with firebug, following js error occurs: TypeError: this._barPoints is undefined

Please fix it or i need to revert your upgrade.

[2016-11-21 13:15] mustafacataltepe commented on #1633
thanks saw the PR now. We currently have bunch of composites like this and labels adressing inputs in those composites in our project. It used to work before even its not intended to work like that. Hope it's going to be fixed in an elite/milestone release or we ll have quite some rework to be done :)

[2016-11-21 13:23] Rapster commented on #1633
If it's urgent, nothing prevents you to build from source and then cherry pick this PR

[2016-11-21 13:37] tandraschko commented on #1749
FYI: tried to fix it via also adding "&& this._barPoints" to the IF statement in 20771 but the result is that the points are not summed up like in the example on the current showcase.

[2016-11-22 08:21] Rapster commented on #1591
@ova2 says

It's actually much more powerfull. No matter form is described dynamically, because DynaForm allows you to

-  Make your pages uniform. Create one DynaForm containing all your display possibilities and use it as a composite, and no matter what your change is, it'be spread all over your pages.

- Stop using JSTL or rendered attribute if you have some UI rendering logic. Your model is bu

[2016-11-22 08:31] Rapster commented on #1907
@tandraschko I'm wondering if we shouldn't provide some template example running under jetty, so people can quickly reproduce their problem and then send it back to us. It'd be easier for you, as we 'd just have to open the sample and execute it

[2016-11-22 09:25] gunnee opened #1913 "Switching between datatable cells using tabs not working with p:inputNumber"
## 1) Environment
- PrimeFaces version: 6.0.8
- Does it work on the newest PrimeFaces version? No
- Application server + version: Tomcat v.8.0.36
- Affected browsers: Tested with IE 11, Firefox 50, Chrome 54...

## 2) Expected behavior
Using `p:datatable` with cell editing, pressing the Tab key will allow a user to jump to the next cell which can be edited (see [PF showcase](http://www.primefaces.

[2016-11-22 09:27] tandraschko commented on #1907
Yep, sure. Feel free if you have some time :)

[2016-11-22 12:00] mertsincan opened #1914 "Alignment issue on the caption of Galleria component"
Reported By PRO User;

If we have a long description text for the picture it could happen that some text is truncated

[2016-11-22 12:01] #1914 closed, assigned to nobody

[2016-11-22 12:11] AndrewShwaika opened #1915 "Menu item outcome link doesn't evaluate navigation rule parameter value"
[OutcomeTargetRenderer.patch.txt](https://github.com/primefaces/primefaces/files/606266/OutcomeTargetRenderer.patch.txt)
## 1) Environment
- PrimeFaces version: 6.0.8
- Does it work on the newest PrimeFaces version? no
- Application server + version: Glassfish 4.1
- Affected browsers: all

## 2) Expected behavior

If navigation case in faces-config.xml has view-param value expression it should be

[2016-11-22 13:12] #1913 closed, assigned to nobody

[2016-11-22 13:38] Rapster commented on #1915
Please provide a PR instead

[2016-11-22 14:29] #1909 closed, assigned to nobody

[2016-11-23 08:29] sergiyuvarov opened #1918 "Autocomplete on search sends the hole form"
## 1) Environment
- PrimeFaces version: 6.0

## 2) Expected behavior
Autocomplete has to send only its parameters on search.

## 3) Actual behavior
Autocomplete sends all fields in the form.

## 4) Solution
Just add  "partialSubmit: true" to options in the PrimeFaces.widget.AutoComplete.search()

[2016-11-23 08:40] RueKow commented on #1910
I checked it with PF 6.1 Snapshot. The same result.

[2016-11-23 08:43] RueKow commented on #1910
Sorry for closing. I only want to leave a comment.

[2016-11-23 08:55] tandraschko commented on #1918
use p:ajax event="query" partialSubmit="true".

[2016-11-23 08:55] #1918 closed, assigned to nobody

[2016-11-23 10:54] sergiyuvarov commented on #1918
Thanks for answer.
It can be used as a workaround but it seems that such behavior isn't looked as expected.

[2016-11-23 14:53] regenduft opened #1919 "datatable: p:columns does not longer work with inline cell editor"
# IMPORTANT

This bug is obviously caused by the bad labeled change
https://github.com/primefaces/primefaces/issues/1869
which adds LATE LOADING to the cell editor.

So this is a nice, desireable but large change - and the new behaviour of having late loading for ALL cell editors cannot be disabled.
(in opposite of all other late loading features in primefaces which can be diabled mostly with an a

[2016-11-23 15:14] akhilkalra opened #1920 "Different ContextMenu for different nodeType doesn't work for Horizontal Tree"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? NO
- Application server + version: Jboss EAP 6.3.3
- Affected browsers: Chrome

## 2) Expected behavior
In the horizontal tree, when user clicks on different node types different context menu should appear.

## 3) Actual behavior
In the horizontal tree, when user clicks on different node types SAME context

[2016-11-23 15:25] tandraschko commented on #1920
ContextMenu must be placed AFTER the attachable component.

[2016-11-23 15:30] akhilkalra commented on #1920
I can still see the context menu and if that would have been the case context menu should not have been appear.  Additionally same code is working primefaces version 5.3 :(
Anyway I have tried keeping the context menu tag after tree as well but it doesn't work.

[2016-11-23 15:37] akhilkalra commented on #1920
I would suggest to please open the defect again or please let me know if you have some other solution.

[2016-11-23 15:47] tandraschko commented on #1920
Yeah, we changed that with 6.0. I can only work if it's placed after now.
If you update your sample to a complete sample with a whole xhtml and java bean and which doesn't work when the contextmenu is placed AFTER, i will reopen it.

[2016-11-23 16:36] akhilkalra commented on #1920
I have update my code. Please have a look and reopen it. Thanks.

[2016-11-23 17:07] tandraschko commented on #1920
Sry but please provide a full working example for testing. Some stuff like messages or createComponentGroup is missing.

[2016-11-23 21:04] #1915 closed, assigned to tandraschko

[2016-11-24 02:34] jastorgalj commented on #271
another option... dt is datatable.

[code]

[2016-11-24 09:01] akhilkalra commented on #1920
done.

[2016-11-24 11:50] sergi-mm opened #1921 "DataTable: lazy loading pagination error"
I've detected an issue related to pagination when using lazy loading in datatable. The problem is the following: starting by the example of showcase: http://www.primefaces.org/showcase/ui/data/datatable/lazy.xhtml, if we add a button to delete the records one by one, if you are for instance in page 2, when all record of this page have been deleted, the pagination "brokes" and displays page 1 with

[2016-11-24 12:35] fanste opened #1922 "UIRepeat wrong state restored for UIInput"
PF 6.0

Already reported as JSF issue as the default UIRepeat is affected. Tested it with p:repeat and it has the same behavior:

https://java.net/jira/browse/JAVASERVERFACES-4202

[2016-11-24 12:56] mertsincan opened #1923 "Freeze on page load when using charts"
Reported by PRO User;

We found that the problem is related to a jqplotlib function used in chart.js that enters an infinite loop under some conditions and, anyway, only on mobile browser.
• iPad Air (iOS 10.1.1) with Safari or Chrome (54.0.2840.91)
• Asus ZenPad 8 (Android 5.0.2) with Chrome (53.0.2785.124)
Our actual workaround is to modify the subfunction aD(aF, aE, aS, aG, aO, aH) within L.fn.

[2016-11-24 12:57] #1923 closed, assigned to nobody

[2016-11-24 15:41] tandraschko commented on #1922
Please ping us when it's fixed in Mojarra, we will port the fix then.

[2016-11-24 15:42] cagataycivici commented on #1891
@aragorn please revert this, this can be solved with JavaScript. First row is not selected, it receives focus visuals for keyboard access.

[2016-11-24 15:49] tandraschko commented on #1891
Hey Cagatay, i fixed a real bug that the selection is thrown away - also if the selection VE contains a real value.
Therefore if you update the datatable, there will never be a selected row as DataTable#processUpdates always sets it to null.

[2016-11-24 18:45] jlerbsc opened #1924 "Galleria.js Uncaught TypeError: Cannot read property 'left' of undefined on empty image list"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.

## 1) Environment
- PrimeFaces version: 5.3
- Does it work on the newest PrimeFaces version? I don't know
- Application server + version: Tomcat8
- Affected browsers: Chrome 54.0

## 2) Expected behavior

No javascript error in JS

[2016-11-24 19:20] GianlucaD commented on #1891
Something changed between 5.3.1 and 6.x Wouldn't it be better to revert these changes?

[2016-11-25 11:15] #1924 closed, assigned to nobody

[2016-11-25 11:38] jlerbsc commented on #1924
Could you fix it in version 5.3 please?

[2016-11-25 11:54] mertsincan commented on #1924
I can add it into 5.3.x version. (Next version -> 5.3.18)

[2016-11-25 12:05] jlerbsc commented on #1924
Ok Thanks. Can i download it through maven repository?

[2016-11-25 12:07] tandraschko commented on #1924
Elite versions are not available via maven and you need to purchase elite access.

[2016-11-25 12:11] mertsincan commented on #1924
Too fast :) Thomas 👍

[2016-11-25 13:08] jlerbsc commented on #1924
Ok I will wait for the update  5.3.18

[2016-11-25 15:22] kukel commented on #1899
Go ahead and create a pull request... (and using important in capitals and kind of bold without any real substantiation of your request has most likely the opposite effect, it gets ignored since it feels like shouting/begging)

[2016-11-25 15:22] kukel commented on #1898
Go ahead and create a pull request... (and using important in capitals and kind of bold without any real substantiation of your request has most likely the opposite effect, it gets ignored since it feels like shouting/begging)

[2016-11-25 15:22] kukel commented on #1897
Go ahead and create a pull request... (and using important in capitals and kind of bold without any real substantiation of your request has most likely the opposite effect, it gets ignored since it feels like shouting/begging)

[2016-11-25 15:25] kukel commented on #1869
In my opnion changes like this are to big to be in a 'z' release (x.y.z) even though they are elite releases. The chance of changes like this breaking things in a complex component as the datatable are simple to high...

[2016-11-25 15:35] kukel commented on #1900
Good catch. This explains the behaviour I saw in one of my test projects to.

[2016-11-25 15:42] kukel commented on #1924
You can always apply the patch yourself

[2016-11-26 09:34] vitormc commented on #1397
Did you guys found a solution for it?
I'm stuck with the same problem...

[2016-11-27 11:45] mashcos commented on #1397
Sorry but there still seems to be no solution. I tried to fix it and had some kind of success, but in the end there were still some problems and i've got too little experience in modifiying primeface.

[2016-11-28 08:14] mertsincan opened #1925 "NullPointer on datatables with selectable rows and no selection attribute"
Reported by PRO User;

We have some datatables in which:
we use selectable rows to allow the user to highlight a row to have a better experience on long horizontal scrolling
we use <p:ajax event="rowSelectRadio" .../> getting the selected object from the SelectEvent (argument of the listener)
In both cases we don't need the "selection" attribute.
Please let we know,
regards.

[2016-11-28 08:19] #1925 closed, assigned to nobody

[2016-11-28 08:28] vanjalee opened #1926 "TreeTable sortBy attribute"
This is actually a change request, and not an issue.

## 1) Environment
- PrimeFaces version: 5.3.14
- Does it work on the newest PrimeFaces version? No
- Application server + version: JBoss EAP 6.4
- Affected browsers: All

## 2) Expected behavior and Actual behavior
Although the issue #1199 has been resolved, and the sort event can now be handled, there still exists an obstacle when one tries to

[2016-11-28 08:43] mertsincan commented on #1891
I added a new fix for this issue with JS code. PF6.1 already has this fix. Therefore, I added it to only PF6.0.9 elite release.

[2016-11-28 08:43] #1891 closed, assigned to tandraschko

[2016-11-28 10:34] lanse011 opened #1927 "PickList: Drag&Drop issue on mobile devices"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No
- Application server + version: Wildfly 10
- Affected browsers: All

## 2) Expected behavior
Drag&Drop Feature should be editable for p:picklist component.
...

## 3) Actual behavior
Drag&Drop Feature is always activated for p:picklist component.
..

## 4) Steps to reproduce
http://forum.primefaces.org/

[2016-11-28 10:36] tandraschko commented on #1749
@erickdeoliveiraleal ping ;)

[2016-11-28 13:48] Rapster opened #1928 "Fullpage layout not supported in Dialog component"
## 1) Environment
- PrimeFaces version: 6.1-SNAPSHOT
- Does it work on the newest PrimeFaces version? No
- Application server + version: Jetty
- Affected browsers: Chrome 54

## 2) Expected behavior
Using a layout with `fullPage="true"` inside a dialog should have the same behavior as used in "normal" page

## 3) Actual behavior
There is a big overflow displayed in dialog, scrollbar are displayed,

[2016-11-28 16:45] Rapster opened #1929 "Filter TreeTable"
It would be nice to filter a treeTable like it's done for DataTable. Just to recall: http://www.primefaces.org/showcase/ui/data/datatable/filter.xhtml

[2016-11-28 16:54] erickdeoliveiraleal commented on #1749
I can't do it, because I don't know, sorry.

[2016-11-28 21:27] firsthour commented on #1919
Can confirm we're having the same issue with the upgrade to 6.0.8. Ours is broken with a p:inputTextarea inside the input facet.

[2016-11-28 21:41] firsthour commented on #1869
They have to introduce these features sometime though, and while it's unfortunate these bugs happen, I'm not sure how else their release schedule would handle it.

[2016-11-29 09:24] rdebusscher opened #1930 "DataExporter issue with filenames containing spaces on FireFox"
Content-disposition : attachment;filename=some file name.xls

With Firefox it is downloaded as *some*

There should be " around the filename.

[2016-11-29 09:29] tandraschko commented on #1930
Would be great if you could provide a PR. Thanks.

[2016-11-29 09:42] rdebusscher commented on #1930
@tandraschko Code changes pushed. Added to 6.1 release

[2016-11-29 09:44] tandraschko commented on #1930
even better! :D

[2016-11-29 09:44] #1930 closed, assigned to rdebusscher

[2016-11-29 11:20] cagataycivici opened #1931 "MultiViewState for DataTable"
Implement MultiViewState feature so that DataTable can remember its state across views, initially support following for 6.0.10;

- Page
- Sort
- Filter
- Selection

On second version, consider;
- Column Reordering
- Column Resizing
- Row Expansion
- Column Visibility

[2016-11-29 11:20] #1931 closed, assigned to cagataycivici

[2016-11-29 11:22] cagataycivici opened #1932 "Filtering DataTable on page load"
Add filters and globalFilter attributes to datatable so that DT can use these information to display data as filtered. Filters should be a list of FilterState objects, each FilterState object keeps columnKey and filterValue. Note that page author does not need to use filterValue to display the filter values as they can be retrieved from filters.

[2016-11-29 11:28] #1932 closed, assigned to cagataycivici

[2016-11-29 13:12] jlerbsc opened #1933 "Primefaces 5.3.17 problem with galleria when there is no image to display"
## 1) Environment
- PrimeFaces version: 5.3.17
- Does it work on the newest PrimeFaces version? i don't know
- Application server + version: Tomcat 8
- Affected browsers: chrome

## 2) Expected behavior
When the images collection is empty, the galleria component must be displayed
...

## 3) Actual behavior
Nothing is displayed

Generated html looks like

    <div id="j_idt7" class="ui-galleria ui-

[2016-11-29 20:10] darayam2 opened #1934 "TreeTable nodes does not work properly into a p:dialog"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.

## 1) Environment
- PrimeFaces version: **6.0x**
- Does it work on the newest PrimeFaces version?: **No**
- Application server + version: **GlassFish Server 4.1.1**
- Affected browsers: **Google Chrome Versión 54.0.2840.99 m, ;  Mi

[2016-11-30 01:00] zsuiqiang opened #1935 "Cell edit mode doesn't work correctly on TreeTable"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.

## 1) Environment
- PrimeFaces version:6.09
- Does it work on the newest PrimeFaces version?no
- Application server + version:
- Affected browsers: chrome 54

## 2) Expected behavior

...

## 3) Actual behavior

.. see [http://www.

[2016-11-30 06:51] #1935 closed, assigned to nobody

[2016-11-30 08:53] regenduft commented on #1919
Additionally, we are having the problem, that the first click into a cell editor does now take more than 1 second because lazy-loading the cell editor contents does take so long, as rendering the whole page.

Thus, we needed to rollback to 6.0.7. now, and can only go ahead when primefaces makes the lazy-loading of the cell editor disable-able.

[2016-11-30 09:10] regenduft commented on #1869
Nearly anywhere else, we have the possibility to decide, if we want lazy-loading or late loading via ajax from server, for example with the attribute like dynamic="true" in the p:overlayPanel.

Please add such a configuration possibility to the cell-editor, too.

After this change, we cannot use the cell-editor anymore, because every click onto a data-table row now takes 1second to load the cell-e

[2016-11-30 13:19] I-Simen-I opened #1936 "Navigation in p:menu using keyboard does not work when the menu is triggered by button"
## 1) Environment
- PrimeFaces version: 5.3
- Does it work on the newest PrimeFaces version?: No, tested on the demo site
- Application server + version: WebLogic 12.2.1.0
- Affected browsers: Chrome 54, Safari 10.0.1, IE 10/11

## 2) Expected behavior
Using p:menu with overlay="true" trigger="myButtonId" should give the same keyboard navigation support as when there are no overlay or trigger butt

[2016-11-30 14:08] Rapster commented on #1928
I can provide a PR if you think it looks good

[2016-11-30 14:28] miczal opened #1937 "Sorting/filtering for dataTable with stickyHeader inside tabView seems broken."
## 1) Environment
- PrimeFaces version: **6.0**
- Does it work on the newest PrimeFaces version? **I didn't see any correction when greping "stickyHeader" in change log. I run community version.**

- Application server + version: **Apache Tomcat 8.0.36**
- Affected browsers: **Chrome, FF, IE**

## 2) Expected behavior

Columns of `p:dataTable` with `stickyHeader="true"`, which is inside `p:tabView

[2016-11-30 14:51] Rapster commented on #1934
Please, make an effort on how you present your code https://help.github.com/articles/creating-and-highlighting-code-blocks

[2016-11-30 19:45] darayam2 commented on #1934
Thank you Rapster i did the homework,

[2016-11-30 22:25] kukel commented on #1931
Coooool great feature... What about column visibility? (column toggler)

[2016-12-01 10:15] cagataycivici opened #1938 "DataList does not render style"
Style attribute is ignored.

[2016-12-01 10:17] #1938 closed, assigned to cagataycivici

[2016-12-01 10:19] cagataycivici commented on #1931
@kukel, that is also for round 2.

[2016-12-01 12:34] jpourdeilami opened #1939 "Primefaces push strange behavior"
Hi,
I have just migrated my project from PF3.5 to PF6.0. In PF3.5 push was ok but after update push behaves strangely. It works sometimes and sometimes causes below exceptions:

`java.lang.IllegalStateException: Cannot change buffer size after data has been written
	at org.apache.catalina.connector.ResponseFacade.setBufferSize(ResponseFacade.java:265)
	at javax.servlet.ServletResponseWrapper.setBu

[2016-12-01 15:37] movalz opened #1940 "p:inputNumber doesn't work in conjunction with SeleniumIDE"
## 1) Environment
- PrimeFaces version: 6.0.9
- Does it work on the newest PrimeFaces version? No
- Application server + version: Tomcat
- Affected browsers: FireFox with Selenium IDE 2.9.1

## 2) Expected behavior
When recording user actions on a page with SeleniumIDE Recorder and entering a value into a p:inputNumber field this typing should be registered and added to the Recorder's command list

[2016-12-01 16:25] laurinmueller opened #1941 "defaultCommand and autofill/autocomplete not working together"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No
- Application server + version: Websphere 8.5.5.8
- Affected browsers: Chrome Version 54.0.2840.99 m/ Safari IOS 9

## 2) Expected behavior
When i have a simple Form, with autofill enabled on some fields and i have a defaultCommand that targets a p:commandButton  that triggers an action, I would suggest

[2016-12-01 16:36] ppandey01 opened #1942 "primefaces Input fields on form holds previous value after their value is cleared/set blank and form is submitted"
# Problem Statement

If there is already validation error on submitted form then in this situation, if user tries to clear/set blank value for any other mandatory prime-faces input field and resubmit the form then this Input fields on form holds previous value.

This Prime-faces behavior is different then pure JSF behavior where value from model is always shown in input field when input field is c

[2016-12-01 22:11] Rapster opened #1943 "Provide built-in project bug template"
@tandraschko You'll find attached a sample of what could be the future "bug web-app" so user can reproduce their problem, and so "we" can review it. This is a first draft, if you have anything you want to add, please share your thoughts.

Basically, it runs with jetty and contains an `index.html` and a managed-bean :) With time, we could provide some mocks, like dummy collection for testing datata

[2016-12-01 22:20] Rapster commented on #767
Duplicate #1459

[2016-12-01 23:14] Rapster commented on #1934
I just test it: TreeTable works inside dialog. Don't you see any error in your browser console?

[2016-12-02 05:44] kishor-p opened #1944 "Image Cropper throws java.awt.image.RasterFormatException: negative or zero width, when cropper is deselected"
## Problem Statement
`p:imageCropper` throws exception when the image is deselected.

## 1) Environment

- PrimeFaces version: 6.0 [Latest one running on showcase]
- Does it work on the newest PrimeFaces version? NO
- Application server + version:
- Affected browsers: ALL

## 2) Expected behavior

Should not throw any exception.

## 3) Actual behavior

Throws Exception:
[code]

## 4) Steps to repr

[2016-12-02 09:44] kukel commented on #1942
http://www.primefaces.org/showcase/ui/misc/resetInput.xhtml

[2016-12-02 09:54] PereBG opened #1946 "Timeline lazyload not working since 6.0.8"
Hello,

I'm using primefaces ELITE, and sice version 6.0.8 the lazyload event of timeline is not working, I have tested with versions 6.0.7, 6.0.8, 6.0.9 and 6.0.10. It works with 6.0.7 and older but not with the other ones, I have tested it with mozzilla firefox browser.

I'm firing the lazyload event from a remote command and the timeline is inside a pe:layoutPane, I'm using primefaces extension

[2016-12-02 09:58] Rapster commented on #1944
The crop width and height equals 0, and of course, a sub image can't be create from this. A check should be done on width and heigth, if so, return null. It should be enough. Feel free to provide a PR (See `ImageCropperRenderer.getConvertedValue()`)

[2016-12-02 11:46] mertsincan commented on #1946
I couldn't replicate this issue. Please attach a sample maven project or a runnable test case with; test.xhtml, TestBean.java. I did not see a difference between 6.0.7 and 6.0.10

[2016-12-02 11:47] kukel commented on #1934
off-topic: you mix JSF 2.2 and pre 2.2 namespaces:

    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"

Better to align them!

[2016-12-02 14:24] PereBG commented on #1946
Hello @mertsincan ,

We have a debug pont at `timelineBean.onLazyLoad()` method of our bean, as you can see at the example above we call that method from the remoteCommand, the point is that if we call `PF('timelineJS').fireLazyLoading(); ` to make the ajax request to our bean, the request never reaches our bean and the debug point is never triggered. We invoke the remoteCommand by clicking on the

[2016-12-02 15:49] dmaidaniuk commented on #1942
Hi @kukel,
Seems you understand wrongly target of given bug. Here described scenario when on second and other attempts for sending form with failed validation previous values will be restored instead of leaving mandatory fields as is (empty) as expected.

[2016-12-02 15:53] jxmai commented on #1942
I tried to run the code using **primefaces 6.0.9**, but I cannot reproduce the bug.

Clear value3 and submit:

![snapshot3](https://cloud.githubusercontent.com/assets/10467831/20840214/1575afb4-b875-11e6-88fe-332e12e97e3a.png)

Clear value4 and submit:

![snapshot3](https://cloud.githubusercontent.com/assets/10467831/20840228/223ae278-b875-11e6-871f-223262038b00.png)

[2016-12-02 16:11] dmaidaniuk commented on #1942
Hi @jxmai,

In bug description clearly said that bug reproduced for version Primefaces 5.3.14.

[2016-12-02 16:17] jxmai commented on #1942
I saw that, but if it has been fixed on the latest version such as v6.0.9. This ticket will be no longer valid. We always need to try the latest version first.

[2016-12-02 16:27] firsthour commented on #1919
This is a showstopper for us and no comments from the devs worry me.

[2016-12-02 16:31] ppandey01 commented on #1942
Thanks @jxmai. I will test it on latest primefaces version and then will provide my feedback.

[2016-12-02 16:57] #1928 closed, assigned to tandraschko

[2016-12-02 17:09] jxmai commented on #1942
@ppandey01 I looked at your code again, and I found out an issue:

In your java code:

[code]

**You are mixing JSF ManagedBean with CDI's RequestScoped. This is prohibited.**

Please use the following imports if  you don't need to use CDI

[code]

Plus I don't see any reason to use requestScoped in this case. ViewScoped might be more suitable.

I guess the issue will be solved after you fix the i

[2016-12-02 18:11] androidominus opened #1947 "Show delay for OverlayPanel"
Hi

I would to ask if in the next releases of PrimeFaces you can add a show delay for OverlayPanel.

This is just to avoid a nasty user experience in case of several overlaypanels targeting close components (like buttons in table rows).
If you pass over the targets fast the overlay panels will appear about in the same time.

To work around this I just overrided the show function of the widget addi

[2016-12-02 18:48] Rapster commented on #1947
It looks like you already figured how to do it. Feel free to provide a PR

[2016-12-04 06:12] luismiguel82 commented on #1614
Hi..!
please, can you share the PF 530.15.jar file

[2016-12-04 06:12] luismiguel82 commented on #1614
sorry it was PF 5.3.15.jar file

[2016-12-05 08:39] #1089 closed, assigned to tandraschko

[2016-12-05 09:37] cagataycivici opened #1950 "RowGrouping for DataTable"
Introduce two ways for grouping;

- With row span on a grouping column
- With a separate row that acts as a subheader for the rows below

Deprecate subtable as it becomes unnecessary.

[2016-12-05 10:34] phk31097 opened #1951 "SelectOneMenu is inaccessible"
## 1) Environment
- PrimeFaces version: 6.0.8
- Does it work on the newest PrimeFaces version? No
- Application server + version: jboss eap 6.4
- Affected browsers: Internet Explorer 11
- Screenreader: NVDA 2016.3

## 2) Expected behavior
All labels of the select one menu should be read (as in other browsers like Google Chrome).
Meaning that a select box does not have a label according to the scre

[2016-12-05 11:28] andyba commented on #1173
This is an issue for us with PrimeFaces 6.0.9 and is not easily fixed as shown here because we have a -lot- of SelectOneMenu components in dialogs.

[2016-12-05 11:56] #1950 closed, assigned to cagataycivici

[2016-12-05 22:08] darayam2 commented on #1934
kukel i have this

**http://www.primefaces.org/gettingStarted**

they put this:

[code]
and delete xmlns:ui="http://java.sun.com/jsf/facelets"

[2016-12-05 22:11] darayam2 commented on #1934
Rapster, thanks for your help, no, the browser console does not have errors

The problem is when you call the dialog from an external xhtml file using the tag

`<ui:include src="archivo.xhtml" />`

and make into the bean a calling to that file using:

`RequestContext c = RequestContext.getCurrentInstance();`
` c.update("form:popXhtml");`
` c.execute("PF('popXhtml').show()");`

[2016-12-06 16:42] mauritz-lovgren opened #1953 "dataTable paginatorAlwaysVisible="false" do not show / hide paginator when filter values change"
## 1) Environment
- PrimeFaces version: 5.x, 6.0.0 - 6.0.10
- Does it work on the newest PrimeFaces version? no
- Application server + version: JBoss EAP 7.0.3 GA (Mojarra 2.2.12)
- Affected browsers: All major (Firefox, Chrome, Opera, Safari, Edge, IE)

## 2) Expected behaviour

When using p:dataTable paginatorAlwaysVisible="false" one would expect paginator to display only when needed, also when

[2016-12-06 18:26] jxmai commented on #1953
Duplicate of #1715 (The same bug), which has already been marked as defect.

[2016-12-06 19:54] #1953 closed, assigned to nobody

[2016-12-06 22:47] heapifyman opened #1954 "JQplot Chart: DateAxis automatically adjusts displayed time to local time"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.

## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? no
- Application server + version: tomcat 8.5 (spring boot)
- Affected browsers: Chrome, Safari

## 2) Expected behavior
I would like the

[2016-12-07 08:48] mertsincan opened #1955 "Value containing double quotes generates an error on OrderList and PickList"
Reported by PRO User;

10:59:17,704 WARNING [javax.enterprise.resource.webcontainer.jsf.lifecycle] (http-localhost/127.0.0.1:443-10) Index: 0, Size: 0: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
at java.util.ArrayList.rangeCheck(ArrayList.java:653) [rt.jar:1.8.0_65]
at java.util.ArrayList.get(ArrayList.java:429) [rt.jar:1.8.0_65]
at org.primefaces.component.orderlist.OrderList.validate

[2016-12-07 08:52] #1955 closed, assigned to nobody

[2016-12-07 09:54] mertsincan opened #1956 "Update FontAwesome to 4.7.0"

[2016-12-07 09:57] #1956 closed, assigned to nobody

[2016-12-07 16:12] kukel commented on #1951
Why do you think this is a PF issue and not an IE11 one? (Since it works in Chrome, and PF does not implement things specifically for a browser or screenreader)

[2016-12-07 16:15] kukel commented on #1956
Why not do it like mentioned here: http://stackoverflow.com/questions/18891768/how-to-use-font-awesome-from-webjars-org-with-jsf#28652968 No need anymore for PF to update things....

[2016-12-07 16:20] kukel commented on #1918
or configure to use `partialSubmit="true"` on a global level

[2016-12-07 16:22] tandraschko commented on #1918
sure, partialSubmit=true as default would be great but it would be great in general.
We just don't do this to be compatible with JSF API and to not introduce unexpected behaviors.
If you don't process other components, there is no real performance loss (just if you use edge mobile connection or something)

[2016-12-09 09:12] mertsincan opened #1957 "Add cellEditMode attribute to DataTable"
Defines the cell edit behavior, valid values are "eager" (default) and "lazy".
If "lazy", an event is sent to server after clicking a cell and the input editor is filled with its content.

[2016-12-09 09:13] #1957 closed, assigned to nobody

[2016-12-09 10:02] kukel commented on #1954
How does a plain jqplot behave? If the data in the page (use 'view source' is in UTC and it is actually displayed in local time, it is a jqplot issue and not a PF one

[2016-12-09 10:10] mertsincan commented on #1869
Added CellEditMode attribute to Datatable; https://github.com/primefaces/primefaces/issues/1957

[2016-12-09 10:18] mertsincan commented on #1919
Fixed for next release. Default behavior is without lazy.
Added cellEditMode attribute to DataTable on 6.0.11. https://github.com/primefaces/primefaces/issues/1957

[2016-12-09 10:18] #1919 closed, assigned to nobody

[2016-12-09 10:27] kukel commented on #1931
Great!!! Does it work with using the same page in multiple tabs?

[2016-12-09 11:20] robert7k opened #1958 "Support for Ehcache 3.x as Cache Provider"
Currently, Primefaces 6 only supports the outdated 2.x versions of Ehcache. Support for Ehcache 3.x (see http://www.ehcache.org/) would be great.

[2016-12-09 14:39] Nikoas83 commented on #1529
i have the same issue !!! Its really simple to reproduce, juste create fileUpload with multiple and auto options enabled, upload files and cancel one with X button : you can see in console js browser multiple errors and the real issue that is the upload continue in background.... Test on FF and CHROME last version and Primefaces 5.3

`<h:form enctype="multipart/form-data" >
                    <p:

[2016-12-09 15:59] kukel commented on #1529
Tried PF 6 to?

[2016-12-09 16:07] Nikoas83 commented on #1529
Yes. You can test on showcase, in auto mode (this is just a little difficult cause file is limit to 100ko but after many attempts...) to reproduce bug.

[2016-12-09 20:13] heapifyman commented on #1954
Hm, that seems to be the case. If I pass a formatted date string like `2016-12-09 00:15:00+00:00` to the `lineChartSeries` (instead of the milliseconds), the same string appears in view source.

But on the page it is displayed as `2016-12-09 01:15` - so UTC + 1

[2016-12-09 20:23] heapifyman commented on #1954
However, these date strings are part of the `data` array, which is passed to `PrimeFaces.cw()` function. So could it be that the time is adjusted in there somehow?
example:
[code]

[2016-12-09 20:31] heapifyman commented on #1954
I have also reported this to jqplot https://github.com/jqPlot/jqPlot/issues/116
with little hope because almost none of the issues in the last few months has received any response. Is the project still alive?

[2016-12-09 21:47] Rapster commented on #1944
Fixed by #1952

[2016-12-09 21:51] Rapster commented on #1934
Provide a sample (provided in #1943) please, so it can be assessed

[2016-12-10 13:38] mertsincan commented on #1946
Hi @PereBG,

Thanks for the sample code. But, I still couldn't replicate this issue. Can you please attach a runnable maven project for us to replicate?
Note: You can use this test project; https://github.com/mertsincan/test

[2016-12-10 14:49] Rapster commented on #1415
Fixed by a41cdcebcc53551a258cefa50858006febc43f8b

[2016-12-10 16:01] Rapster commented on #349
Not reproduced in 6.1-SNAPSHOT

[2016-12-10 17:15] didiez opened #1959 "OutputLabel not rendering required mark for @NotNull fields when used inside composite component"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No
- Application server + version: tomcat embed 8.5.9
- Affected browsers: All

## 2) Expected behavior
OutputLabel must render a required mark (*) if the value expression in the associated editableValueHolder is annotated with javax.validation.constraints.NotNull, even if the expression is a dynamic expre

[2016-12-10 19:51] Rapster commented on #844
Interesting, I just reproduced the problem. (@mertsincan you have to try with a bigger file). It looks like it does not cancel the upload at all, it just remove the line from the table :/ See code in fileupload.js line 1999:
[code]
Once canceled, the output keep showing this:

![image](https://cloud.githubusercontent.com/assets/7521311/21075721/23b1e28c-bf19-11e6-9b3d-6ff2b098d7b1.png)

Once it ge

[2016-12-10 21:15] Rapster commented on #1529
Related to #844

[2016-12-10 21:23] Rapster commented on #1325
Feel free to provide a PR. Primefaces is an open-source project ;)

[2016-12-10 21:27] Rapster commented on #1296
Feel free to provide a PR. It's quite simple actually (will involve to update documentation though), but as said @sudheerj, just override style classes

[2016-12-10 21:36] Rapster commented on #1719
I don't see it as a usability problem, I like it actually :) What "bothers" me the most is once selected, press Tab goes back to the dropdown button, but I guess it's okay in case autocomplete is multiple. It's up to PF team :)

[2016-12-10 22:39] #1959 closed, assigned to tandraschko

[2016-12-10 22:41] tandraschko commented on #349
@Rapster did you tried it with the example?
So it fails in 6.0 but works fine in 6.1?

[2016-12-11 08:45] Rapster commented on #8
`maxResults` and `moreText` should be enough. To handle huge list, well, let's the end user be more accurate, in case of SQL, it'd be bad design to do an autocomplete with the full result set, THEY have to support pagination in their SQL request not autocomplete

[2016-12-11 08:57] Rapster commented on #1193
I see but I think `object` should do the trick. There is probably a reason why `object`  has been chosen over `video`. WDYT @cagataycivici ?

[2016-12-11 15:26] Rapster commented on #349
I didn't try with 6.0, but I did test 6.1-SNAPSHOT, I can navigate from an autocomplete to another one with no problem

[2016-12-11 15:39] Rapster commented on #1193
See #105

[2016-12-11 16:33] markusg80 commented on #105
In my opinion use of flash is death and if you add html5 media support Primefaces will be unbeatable framework also for the future! See also my request #1193

[2016-12-11 23:00] Rapster commented on #1885
Does this mean we should be able to reproduce it in the present showcase? I just tried quickly, I don't reproduce your problem with multiple theme autocomplete

[2016-12-11 23:05] Rapster commented on #1882
None of your tabs are disabled actually.... Is the sample correct?

[2016-12-11 23:07] Rapster commented on #1854
Should be closed then

[2016-12-12 02:13] #1854 closed, assigned to nobody

[2016-12-12 08:23] mertsincan commented on #1893
I couldn't replicate this issue with inputMask demo in showcase on FF50.0.2.

[2016-12-12 09:17] matthiasv88 opened #1963 "Initial value of datatable sorting dropdown is incorrect on mobile view"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No
- Application server + version: Wildfly 10.1.0 Final
- Affected browsers: All

## 2) Expected behavior
When the datatable is in normal mode, the default sorting is applied and visible in the table header. When switching to mobile view, the columns are replaced by one column and a dropdown is added for s

[2016-12-12 10:56] mertsincan commented on #1845
I tested it with IE11, but I didn't see a bug. Can you please try it with new versions like 6.0.10?

[2016-12-12 11:48] #1882 closed, assigned to nobody

[2016-12-12 11:54] PereBG commented on #1946
Hello @mertsincan,

I've forked your project and modified it to replicate the issue. It's at https://github.com/PereBG/test
If you change the primefaces version from 6.0.8 to 6.0.7 the timeline will display results.

Thanks in advance.

[2016-12-12 13:14] #1963 closed, assigned to nobody

[2016-12-12 18:40] Rapster commented on #1946
@mertsincan Create a repository for #1943 is a good idea indeed...

[2016-12-13 14:28] cnsgithub opened #1964 "Spinner: sends negative value to bean even when min is set to 1 and p:ajax is used"
## 1) Environment
- PrimeFaces version: 6.0.10 Elite
- Does it work on the newest PrimeFaces version? No
- Application server + version: WildFly 10.1.0
- Affected browsers: All

## 2) Expected behavior
Best behavior would be to disallow "-" input when min is >= 0 . Minimum behaviour should be: Negative value should not be written into the field.

## 3) Actual behavior
If the keyboard is used to ty

[2016-12-13 20:14] kukel commented on #1934
@darayam2: yes, but you MIX xmlns:h="http://xmlns.jcp.org/jsf/html" (jsf 2.2) and xmlns:f="http://java.sun.com/jsf/core" (pre jsf 2.2)

[2016-12-13 23:01] emmanuel-lopez opened #1966 "Datatable header columns miss-align with sticky and column toggler"
## 1) Environment
- PrimeFaces version: 6.0.10, Omega: 1.1.1
- Does it work on the newest PrimeFaces version? No
- Application server + version: Payara 4.1.1.163
- Affected browsers: Chrome, IE, Edge

![1](https://cloud.githubusercontent.com/assets/24555478/21162926/cb3af5e8-c144-11e6-9c91-7f629f54afbe.png)

![2](https://cloud.githubusercontent.com/assets/24555478/21162929/cffb4e7a-c144-11e6-9675-

[2016-12-14 07:31] Rapster commented on #1966
First, try this https://help.github.com/articles/creating-and-highlighting-code-blocks/
Second, did you try with a basic theme? I wonder whether it's an Omega issue or not...

[2016-12-14 09:51] phk31097 commented on #1951
Thank you for replying.

It is possible that this is an issue of the Internet Explorer.
I know neither ARIA-standards nor the PrimeFaces-implementation well enough.

In the forum I found "IE 8-9-10-11 and non-legacy versions of others." in context of supported browsers, so I would expect PrimeFaces-components to work with those.
Since it does not work I was hoping to find help on the forum or Gith

[2016-12-14 11:04] 1451678 commented on #1540
+1

[2016-12-14 12:57] juangon opened #1967 "When using appendTo="@this" on some p:select.. component in datatable header, it shows as hidden"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No
- Application server + version: Wildfly 10.1
- Affected browsers: Chrome, Chromium, Firefox

## 2) Expected behavior

When using appendTo="@this" in a p:select* component added to a p:datatable column header and trying to select an item from that p:select* list, it should show up.

## 3) Actual behavior

[2016-12-14 12:58] juangon commented on #1967
PR to fix this very soon
/cc @stiemannkj1 @vsingleton @ngriffin7a

[2016-12-14 13:22] tandraschko commented on #1967
appendTo="@this" is not really valid.
appendTo was used in older browser, to append overlays e.g. to to body as dialog nesting wasn't supported for IE7 e.g.
If appendTo="@this" would work fine, it's should actually do the same as the default behavior (without appendTo).

[2016-12-14 14:06] juangon commented on #1967
Hi @tandraschko thanks for answering.
appendTo="@this" is working perfectly fine, that's not the problem. Problem comes from wrong css, and appendTo="@this" isn't the default behavior, it appends to body by default.

[2016-12-14 14:17] juangon commented on #1967
Pull added in #1968

[2016-12-14 14:54] tandraschko commented on #1967
I see, the default is different like in our overlay components. There it's not the best idea to use @this as it triggers additional logic, which is not required, as it's already rendered inside @this.

@mertsincan Could you please check the datatable css fix? I don't like to touch css if not necessary :D

[2016-12-14 15:00] Rapster commented on #1967
I'd suggest to see that with @cagataycivici since he has done those two css modifications (it's been a while though :p )

[2016-12-14 16:58] mauromol commented on #958
I think there are cases in which the useless wasted space is unwanted, even if it may produce a "jumpy" UI (the web is full of such kind of things, anyway...).
Having an option to either fill the empty space with empty rows or rather shrink the table would be a useful feature for me. For both dataTable and treeTable.
Here is my CSS workaround to make the table shrink:
http://forum.primefaces.org/v

[2016-12-14 19:47] emmanuel-lopez commented on #1966
Tested without Omega Layout and using Primefaces 6.0.11.

![capture](https://cloud.githubusercontent.com/assets/24555478/21198065/b8ece906-c1f2-11e6-9c01-ce3df4e19dd9.PNG)

The beans and service files are the same.  Only change is the JSF code.

[code]

[2016-12-14 22:36] Rapster commented on #1966
Reproduced indeed on 6.1-SNAPSHOT

[2016-12-15 06:19] mertsincan opened #1969 "Wrong default value for groupRow attribute on p:columns"

[2016-12-15 06:21] #1969 closed, assigned to nobody

[2016-12-15 07:47] mertsincan opened #1970 "Add expandableRowGroups attribute to DataTable"
Makes row groups toggleable, default is false.

[2016-12-15 07:49] #1970 closed, assigned to nobody

[2016-12-15 08:08] mertsincan opened #1971 "ScreenReader support for icons of expandable row groups on DataTable"

[2016-12-15 08:09] #1971 closed, assigned to nobody

[2016-12-15 09:51] mertsincan commented on #1943
Thanks @Rapster. Added a sample project to github; https://github.com/primefaces/primefaces-test

[2016-12-15 09:51] #1943 closed, assigned to nobody

[2016-12-15 12:28] Rapster commented on #1943
Please modify the ISSUE_TEMPLATE.md so people know about this

[2016-12-15 12:43] tandraschko commented on #1943
If you provide a PR, i will apply it

[2016-12-15 15:15] djmj commented on #1885
Did you debug or log the value class like `System.out.println(value.getClass().getSimpleName());` in the converter method?

I could only test with PF 6.0.

[2016-12-15 15:22] Rapster commented on #1885
Debug, what's the difference?

[2016-12-15 15:27] djmj commented on #1885
Okay maybe it was fixed in a newer version.

[2016-12-15 18:54] kukel commented on #1966
Looks like the header shows 3 columns (like selected) and the data contains all 4 (at least the 'whitespace'). Will try to debug this on 6.1-SNAPSHOT over the weekend if possible

[2016-12-16 08:11] Rapster commented on #1943
PR provided #1972

[2016-12-16 10:42] hatemalimam commented on #983
Well we had such a thing, removed `dynamic="true" `fixed it.

[2016-12-17 14:50] FastainCS09 commented on #1933
This thing doesn't occurs in primfaces 6.0 version latest.Even if the images are empty ,the component remains there.

[2016-12-17 17:12] jlerbsc commented on #1933
Thanks for your response this is a good news but I am using 5.3.17 :-(

[2016-12-17 17:23] tandraschko commented on #1933
@mertsincan is 5.3 elite still maintained? Otherwise i would close it as invalid.

[2016-12-17 21:08] FastainCS09 commented on #1921
I tried the same code of as mentioned above and tries to delete all enteries from last page of the datatable,but there is neither a pagination break nor any exception error.

Version : Primefaces 6.0
Browser : Chrome latest.

[2016-12-19 02:50] wandyer opened #1973 "InputTextarea: browser scrolling lags on iOS Google Chrome"
# IMPORTANT
- If you open a issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open a issue, test it with the current/newest version.
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to get a solution to your problem.

## 1) Environment
- PrimeFaces version: 6.0
- Does it work o

[2016-12-19 08:28] fanste commented on #1950
I don't think, that subtables should be deprecated, as they are usefull when you already have pre-grouped data in you programm code. Instead I would suggest that a planned feature (6.0.12 when I'm right?) of row-grouping will be extended to subtables: toggleable grouping

The group-header is defined by p:columnGroup and all rows that have to be toggled are defined by the subtable.

[2016-12-19 08:52] FastainCS09 commented on #1889
The if (hasTime()) Condition in CalenderRenderer.java is buggy,it returns true only when the pattern is not  null or contains (":") ,so that's why no pattern runs except that contains separator (:).

`
  public boolean hasTime() {
        String pattern = getPattern();
        return (pattern != null && pattern.indexOf(":") != -1);
    }
`
The work around is to comment the check and it will works

[2016-12-19 10:02] sergi-mm commented on #1921
I've forked the Showcase project (https://github.com/sergi-mm/showcase) and made the changes I explained in the commit (https://github.com/sergi-mm/showcase/commit/9f48e7b2fd8653c061f52d0a71faa9d1488cac1f).

Please @FastainCS09, download the code, go to Datatable - Lazy page and try to delete the last row of the last page (the 3rd), you will see that the paginator updates with page 2 of 2 but no r

[2016-12-19 10:16] FastainCS09 commented on #1921
Ok i will take a look into it,

Osama Nasir
Snr.Software Engineer
BS(CS),FAST-NU

On Mon, Dec 19, 2016 at 11:02 AM, Sergi <notifications@github.com> wrote:

[2016-12-19 12:21] cagataycivici opened #1975 "CSS alignment improvements for radio and checkbox"
Apply vertical align middle to checkbox-radio and their labels.

[2016-12-19 12:35] cagataycivici opened #1976 "RadioButton generates invalid markup"
In responsive mode, a td is rendered but responsive mode uses divs.

[2016-12-19 13:18] #1976 closed, assigned to cagataycivici

[2016-12-19 13:18] #1975 closed, assigned to cagataycivici

[2016-12-19 20:44] #1838 closed, assigned to nobody

[2016-12-20 08:46] cnsgithub opened #1978 "Passthrough on overlayPanel is applied multiple times"
## 1) Environment
- PrimeFaces version: 6.0.12 Elite
- Does it work on the newest PrimeFaces version? No
- Application server + version: WildFly 10.1
- Affected browsers: All

## 2) Expected behavior
Passthrough should only be applied only once (preferably on the ui-overlaypanel)

## 3) Actual behavior
Rendered twice:
<div id="j_idt4:j_idt6" class="ui-overlaypanel ui-widget ui-widget-content ui-ov

[2016-12-20 14:02] erickdeoliveiraleal commented on #1959
I think this commit maybe causin a bug
I use this composite component
`<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
	<cc:interface>
		<cc:attribute name="value" />
		<cc:editableValu

[2016-12-20 14:13] tandraschko commented on #1959
Why do you have a selectBooleanCheckbox without value attribute?

[2016-12-20 14:17] erickdeoliveiraleal commented on #1959
http://stackoverflow.com/questions/30229959/select-all-items-in-multiple-selectmanycheckbox-with-dynamic-ids/30274241

[2016-12-20 14:18] erickdeoliveiraleal commented on #1959
`<my:selectManyCheckboxAll
											value="#{funcionarioCadastroBean.funcionario.arrayPermissaoCadastro}">
											<f:selectItem itemLabel="Consulta" itemValue="C" />
											<f:selectItem itemLabel="Edição" itemValue="E" />
											<f:selectItem itemLabel="Deleção" itemValue="D" />
											<f:selectItem itemLabel="Inclusão" itemValue="I" />
											<f:selectItem itemLabel="Relató

[2016-12-20 14:20] tandraschko commented on #1959
I see - already added a null check ;)

[2016-12-20 14:21] tandraschko commented on #1978
Feel free to provied a PR to fix this problem.

[2016-12-20 14:24] erickdeoliveiraleal commented on #1959
wowwwww this was fast. thank you

[2016-12-20 14:25] #1920 closed, assigned to nobody

[2016-12-20 14:50] cnsgithub commented on #1975
Since 6.0.12 the checkbox's itemLabel does render below the checkbox. Is this an intended change? In 6.0.11 it was aligned next to it.

It looks awkward in my opinion

	<p:selectBooleanCheckbox value="true" itemLabel="Hello World!"></p:selectBooleanCheckbox>

Renders as:

[✓]
Hello World!

[2016-12-20 21:36] #1889 closed, assigned to tandraschko

[2016-12-21 10:46] Treppenhouse commented on #1592
Sorry for the late response but here is one now.

I am using PrimeFaces Community version 6.0.

This is the .xhtml code:

[code]

When clicking on the column toggler, the menu should offer two entries: Column 1 and Column 2. Instead it shows this:
![primefacesbug](https://cloud.githubusercontent.com/assets/19527944/21386358/b95f840e-c772-11e6-921e-a8c91e6be9d7.png)

[2016-12-21 11:06] artwel opened #1979 "AutoComplete: suggestion list not refreshed with queryEvent="enter""
## 1) Environment
- PrimeFaces version: 5.3.17
- Does it work on the newest PrimeFaces version? Does not work with PrimeFaces 6.0
- Application server + version: Wildfly 10.1.0.Final
- Affected browsers: Chrome and Firefox (newest versions)

## 2) Expected behavior
refresh suggestion list when changing the query string and press enter

## 3) Actual behavior
suggestion list not updated
(when hiding

[2016-12-21 16:30] movalz opened #1980 "SelectBooleanCheckbox: better selenium recording compatibility"
## 1) Environment
- PrimeFaces version: 6.0.9
- Does it work on the newest PrimeFaces version? No
- Application server + version: Tomcat
- Affected browsers: FireFox with Selenium IDE 2.9.1

## 2) Expected behavior

When recording user actions on a page with SeleniumIDE Recorder and clicking a checkbox rendered via p:selectBooleanCheckbox to toggle the "checked" state this click should be register

[2016-12-21 16:47] thlinhit commented on #1877
@Timaty You can get the Exception Info as follows:
1. Putting this below line inside your exceptionDialog.
[code]
2. In the bean side, you create a value expression like:
[code]

[2016-12-21 17:01] mauromol opened #1981 "required attribute not working for p:fileUpload when mode="simple""
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? Not with 6.0
- Application server + version: Tomcat 8
- Affected browsers: Firefox 50.0.2

## 2) Expected behavior
If my <p:fileUpload> has both mode="simple" and required="true", validation should fail and the form submit should not take place.

## 3) Actual behavior
The form submit is performed anyway, i

[2016-12-21 17:29] kukel commented on #1592
You nest a tooltip INSIDE an outputText... That is not very common and can lead to unexpected behaviour. Does it fail if it is outside the outputText to? And what if you put the tooltips even outside the datatable?

[2016-12-21 20:06] qstpss opened #1983 "Tree: The dragging of node to the right or down boundary of the page breaks content of the page"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No.
- Application server + version: Tomcat 8.0
- Affected browsers: All

## 2) Expected behavior
The page should not to goes up (if we dragging the node to the down boundary of the page) and should not goes left  (if we dragging the node to the right boundary of the page)

## 3) Actual behavior

The page g

[2016-12-22 07:23] #1946 closed, assigned to nobody

[2016-12-22 08:05] Treppenhouse commented on #1592
~~Great this works!~~
Argh, it still does not work.

When the tooltip is put outside the f:facet (outside the h:outputText is not enough) but inside the table (putting it outside the p:dataTable does not work as the id can't be found in that case) the text in the column toggler is presented nicely. However, the tooltip does not work anymore, it is not shown! Try it out with the code below. The tex

[2016-12-22 22:04] Rapster commented on #1981
Reproduced on showcase 6.1-SNAPSHOT. Works with `<h:commandButton />` though. Could it be related to this #665?

[2016-12-23 01:25] melloware commented on #1400
I had reported this as a PRO user and this is the answer I got back from PrimeFaces:  "Scrolling and StickyHeader are not supported since you can enable scrollHeight to get fixed headers. Since functionality is similar, we don't sticky header on scrollable tables."

[2016-12-23 01:28] melloware commented on #1966
Definitely looks like a bug.  There is another issue where the user mentioned this:

I know this issue is quite old, but I still experienced the same inconsistencies with Sticky header's positioning with PrimeFaces 5.3
Fortunately I stumbled upon the jQuery lib floatThead (https://github.com/mkoryak/floatThead) and successfully got a fully functioning version running. As floatThead is quite simila

[2016-12-23 01:31] melloware commented on #1966
Also as a note because I have found multiple issues with sticky and scrolling especially https://github.com/primefaces/primefaces/issues/1400 because we do a lot of scrolling tables I have thought about making Jquery Floathead a PrimeFaces Extensions component.

[2016-12-23 09:33] kukel commented on #1983
This is a low priority issue imo, since if the node is 'dropped' everything becomes normal again. It only happens during dragging

[2016-12-23 10:14] qstpss commented on #1983
Yes, but it is a bad behavior.

[2016-12-23 11:14] cklaffke opened #1984 "Child components of datatable are not correctly processed"
## 1) Environment
Primefaces 6.0
jsf-api 2.2.13
Wildfly 10
Chrome + Firefox

## 2) Description
I use an InputText in a Primefaces datatable. When I submit my data (POST) for the first time, everything works properly. But when I do another POST-request on the same view the data in the InputText is not updated.
I did a lot of debugging and found out that the problem lies in processing the children o

[2016-12-25 08:20] ssachtleben opened #1985 "Open table context menu on left click"
See topic. Is it possible?

We dont use  the selection, we just use the context menu but I dont think all people get that they have to right click, so I would like to open the context menu on left and right click.

[2016-12-26 06:52] mertsincan opened #1986 "ClientSideValidation seems not to work with p:calendar"
Reported By PRO User;

[code]

[code]

[2016-12-26 06:55] #1986 closed, assigned to nobody

[2016-12-26 08:37] Rapster commented on #1985
1. At least: RTFM and try to come up with a solution ;)
2. Use forum for this
3. Respect the template which has been set up

[2016-12-26 08:48] Rapster commented on #1984
Your forgot to post your XHTML... Do you use `ColumnGroup` in your example?

[2016-12-26 09:01] mertsincan opened #1987 "Icon event issue on TreeTable with RowEditor"
When you click the pencil icon of rowEditor, the scrollbar on window comes to the top of the page.

[2016-12-26 09:02] #1987 closed, assigned to nobody

[2016-12-26 11:43] mertsincan opened #1988 "Alignment issue on toggler icon of Treetable"

[2016-12-26 11:43] #1988 closed, assigned to nobody

[2016-12-26 13:26] mertsincan opened #1989 "Alignment issue on SelectBooleanCheckbox"
Exp;
[code]

[2016-12-26 13:28] #1989 closed, assigned to nobody

[2016-12-26 13:28] mertsincan commented on #1975
Fixed for 6.0.13.  #1989

[2016-12-27 05:30] Maikel-Nait commented on #1907
Maybe this could help to build a simple setup with PrimeFaces 6 and Jetty 9 ...
http://www.source4code.info/2014/04/jsf-primefaces-hello-world-example.html

(requires Maven)

[2016-12-27 07:56] Rapster commented on #1907
Thanks but @mertsincan already set up the repository right there https://github.com/primefaces/primefaces-test

[2016-12-27 08:03] Maikel-Nait commented on #1907
Great ... just trying to help  :)

[2016-12-27 08:10] Rapster commented on #1907
Yep sure ;)

[2016-12-27 08:17] Rapster commented on #1907
@kirilmicev Can you provide a sample for this?

[2016-12-27 10:25] mertsincan opened #1990 "Add CellEditInit event to Datatable with lazy cellEditMode"
If datatable have cellEditMode="lazy" and <p:ajax event="cellEditInit" />, when user click a cell of table, this event is trigger.

[2016-12-27 10:26] #1990 closed, assigned to nobody

[2016-12-27 13:08] khanasad commented on #1006
FAB would be the perfect ui component for Primefaces.

[2016-12-27 15:38] cklaffke commented on #1984
I created a small example to reproduce the behaviour.

XHTML:
[code]
Bean:

[code]

There are two details that seemed to be important. First I made a binding of a derived datatable. Second the input field is not directly related to the collection inside the value of the datatable. Otherwise the problem did not occur.

Maybe you recognize that I introduce "var=x" in the XHTML and never use it. With

[2016-12-27 16:23] cklaffke commented on #1984
As an explanation on using my example:
Enter something and submit. The first request will update the input field. Then change the input and submit again. The changes will not be applied.

[2016-12-28 11:38] maruTA-bis5 opened #1991 "Calendar: behind a modal dialog get focus and datepicker appears"
## 1) Environment
- PrimeFaces version: 6.0 (Community)
- Does it work on the newest PrimeFaces version? yes
- Application server + version: GlassFish Community Edition 4.1.1
- Affected browsers: IE11, Edge, Firefox, Google Chrome (latest version)

## 2) Expected behavior
When the modal dialog is displayed, any field behind the dialog don't get focus.

## 3) Actual behavior
When the modal dialog i

[2016-12-28 15:20] jxmai commented on #1991
Does it work on the newest PrimeFaces version? yes

@maruTA-bis5 I tried to run your sample using 6.1 Snapshot and I can reproduce this bug. Please change your description to *No*.

---

In short, the modal dialog cannot prevent focus if user starts **tabbing from the browser's address bar**.

![snapshot3](https://cloud.githubusercontent.com/assets/10467831/21524751/3cf28896-ccde-11e6-94f1-dcef03b

[2016-12-28 20:02] EnmanuelReyes commented on #1978
@cnsgithub can you provide a sample view and a sample bean for the fileUpload component?
I already resolved the issue with the OverlayPanel and I don't want to make a PR only for fix the OverlayPanel knowing that the fileUpload has the same bug.

[2016-12-28 21:42] tandraschko commented on #1978
We only accept one PR for one issue, so please don't mix them together.

[2016-12-29 20:19] IvanCCruz opened #1992 "Attribute converter is missing on outputLabel tag definition on taglib.xml"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No
- Application server + version: Do not apply
- Affected browsers: Do not apply
- Affected IDE: Netbeans 8.2

## 2) Expected behavior

On IDE xhtml editor attribute converter on tag outputLabel must not be flagged as an error.

## 3) Actual behavior

Any occurrence of attribute converter on a outputLabel

[2016-12-29 20:26] tandraschko commented on #1992
Please provide a PR.

[2016-12-30 10:38] mertsincan opened #1993 "PrimeFaces Data Exporter causes stack trace with OmniFaces Gzip"
Details; https://github.com/omnifaces/omnifaces/issues/336

[2016-12-30 10:40] #1993 closed, assigned to nobody

[2016-12-30 11:08] abeel opened #1994 "Provide a way to add a new tab, without updating the whole tabView"
When a p:tab is added to p:tabView all other tabs is processed/rerendered to (which might be costly) if we have organized our application on tabs.

[2017-01-02 12:59] PlassJ opened #1995 "Timeline events displayed on wrong group after zoom"
## 1) Environment
- PrimeFaces version: 6.0.13
- Does it work on the newest PrimeFaces version? No
- Application server + version: WildFly 10.1.0
- Affected browsers: all

## 2) Expected behavior
TimelineEvents should stay in there group after zoom.

## 3) Actual behavior
TimelineEvents move to an other group after zoom.

## 4) Steps to reproduce
Showcase -> timeline -> custom
Point mouse cursor r

[2017-01-03 22:03] djmj commented on #915
@cagataycivici Why the favor for complex MenuModel if it would be much easier and flexible to define the items in markup using `p:menuitems`. Why put the "markup" into the java code if not necessary?

Another example use case is a simple state changing context menu. This is just too hard to create in java code using MenuModel. And if this is created in java it is not flexible since it is bound to

[2017-01-04 07:13] geekdiv commented on #1991
any solution for this prevent datepicker focus? I face same issue after update primeface.

[2017-01-04 10:59] manojkumar-1 commented on #1380
Is there any update on this. I have similar requirement.

[2017-01-04 11:00] manojkumar-1 commented on #1380
Looking for range filter for number and date data types

[2017-01-04 15:01] schlebe commented on #1932
It would be interesting to have an example in DEMO section on Primefaces Web site !

[2017-01-04 15:33] jxmai commented on #1991
There is workaround available. Please try the following script.

[code]

Basically we only need to prevent tabbing from the address bar.

[2017-01-04 23:41] ngriffin7a opened #1996 "In core.ajax.js, portletFormsSelector targets the form's action attribute rather than the form's id attribute"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No
- Application server + version: Tomcat+Pluto bundle
- Affected browsers: All

## 2) Expected behavior

Ajax navigation success from one viewId to another.

## 3) Actual behavior

Ajax navigation failure.

## 4) Steps to reproduce

A. Download the Pluto 3.0 Tomcat bundle from https://portals.apache.org/p

[2017-01-04 23:48] ngriffin7a opened #1997 "JSF 2.3: Parameter namespace prefix does not include the separator character"
Parameter namespace prefixing became a standard feature in JAVASERVERFACES_SPEC_PUBLIC-790. However, unlike the vendor-specific com.sun.faces.namespaceParameters feature, the parameter prefix now has the value of UINamingContainer.getSeparatorChar(FacesContext) appended to the namespace. Rather than parameters like "javax.faces.partial.ajax" being prefixed as "portletNamespacejavax.faces.partial.a

[2017-01-04 23:49] ngriffin7a commented on #1996
Pull request will be coming soon.

[2017-01-04 23:49] ngriffin7a commented on #1997
Pull request will be coming soon.

[2017-01-05 01:07] melloware commented on #1986
This user on the forum is reporting an issue with p:calendar in 6.0.13 so there might be a regression associated with this..

http://forum.primefaces.org/viewtopic.php?f=3&t=48865&p=150962

[2017-01-05 19:41] heapifyman commented on #1954
Hello and a happy new year!
I still have not found any solution to this problem. Does anyone have a clue how to solve this issue?
Or can anyone confirm that it is indeed an issue with underlying jqplot?

[2017-01-05 19:47] ngriffin7a commented on #1996
PR https://github.com/primefaces/primefaces/pull/1998

[2017-01-05 20:08] ngriffin7a commented on #1997
PR https://github.com/primefaces/primefaces/pull/1999

[2017-01-05 21:48] firsthour opened #2000 "Cannot enter space in datatable cell edit with selection"
## 1) Environment
- PrimeFaces version: 6.0.13
- Does it work on the newest PrimeFaces version? no
- Application server + version: Wildfly 10.0.0.Final
- Affected browsers: Firefox 50.1, Chrome 55, IE 11

## 2) Expected behavior

Be able to enter spaces while cell editing in a table that supports selection.

## 3) Actual behavior

Can't enter spaces, seems to defocus the cell editing but not actua

[2017-01-06 00:16] #1996 closed, assigned to tandraschko

[2017-01-06 00:17] #1997 closed, assigned to tandraschko

[2017-01-06 11:51] mertsincan opened #2001 "Timezone issue on Calendar"
Details; http://forum.primefaces.org/viewtopic.php?f=3&t=48865

[2017-01-06 11:52] #2001 closed, assigned to nobody

[2017-01-07 18:16] djmj opened #2002 "Mobile: Add support for font awesome"
Add support for font awesome to mobile components.

Using a font-awesome icon on a button for instance is not looking good.

[2017-01-09 13:40] ttsiebzehntt opened #2003 "NS_ERROR_NOT_AVAILABLE (Firefox) with AjaxStatus"
## 1) Environment
- PrimeFaces version: 5.3.17
- Application server + version: Tomcat 7.0.73
- Affected browsers: Firefox 50.0

## 2) Expected behavior
Ajax requests work without problems.

## 3) Actual behavior
We sometimes see the JavaScript Error "NS_ERROR_NOT_AVAILABLE" in FireFox with the following StackTraces:

[code]

or

[code]

After this error no more ajax reqeusts get executed, which fr

[2017-01-09 13:43] tandraschko commented on #2003
Does it also fail with 6.x?
If you don't provide a complete example, it will likely be closed as invalid.

[2017-01-09 14:20] CodeGolfWhatsapp commented on #1831
https://www.youtube.com/watch?v=J00yDkAkViA&feature=gp-n-y&google_comment_id=z12jdt5w4s2kevgeb23zzzsygwrsvzdin04

[2017-01-09 14:41] ttsiebzehntt commented on #2003
We have a relative large enterprise application, therefor I cannot "quickly" change to 6.x and recheck.
Where there any changes in the AjaxStatus component which would justify taking the effort to try to upgrade and recheck?

[2017-01-09 14:52] tandraschko commented on #2003
Maybe a newer jquery version or something like that.
I see but we need a reproducer.

[2017-01-09 14:57] andyfinch opened #2004 "DataTable - p:headerRow duplicates first row"
## 1) Environment
- PrimeFaces version: 6.0.13
- Does it work on the newest PrimeFaces version? No
- Application server + version: Weblogic 12.2.1.2 JSF 2.2.8-17
- Affected browsers: All

## 2) Expected behavior
p:headerRow should add a header for a group of rows

## 3) Actual behavior
The first normal data row is duplicated and appears twice in each group

## 4) Steps to reproduce
As per showcase

[2017-01-09 15:21] ttsiebzehntt commented on #2003
Forget my complaints about the major update, I just replaced the jars and it was working. I can also reproduce this error in 6.0.13:

[code]

Am I right that you really need some sort of .xhtml and bean combination to reproduce this error, the stacktrace isn't enough?

[2017-01-09 15:48] tandraschko commented on #2003
Yep. Stackrace is not enough in the most cases

[2017-01-09 16:00] orange-buffalo commented on #1439
The problem is still reproducible on ['FileUpload - Single' demo page](http://www.primefaces.org/showcase/ui/file/upload/single.xhtml), running PrimeFaces-6.0.12 on Mojarra-2.2.8.

[2017-01-10 09:42] rho66 opened #2005 "p:selectOneMenu display grouping"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? no
- Application server + version: Wildfly-10.0.0.Final
- Affected browsers: Firefox, Chrome, IE

## 2) Expected behavior
The selectOneMenu should display a list with grouping, the same way as it does using a list without grouping.

## 3) Actual behavior
I have some problem with p:selectOneMenu. My selectO

[2017-01-10 14:59] PlassJ commented on #1995
added possible fix  #2006

[2017-01-10 19:30] ReedElliott opened #2007 "Support "_" and "-" in @id(id) PrimeFaces SEF keyword"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-01-10 19:45] Rapster commented on #2007
`\w` does not take account non digit character such as `-`

[2017-01-10 19:50] #2007 closed, assigned to tandraschko

[2017-01-11 06:33] arunvc opened #2008 "DataTable: rowEdit+partialSubmit could only post the edited row instead whole dataTable"
## 1) Environment
http://www.primefaces.org/showcase/ui/data/datatable/edit.xhtml

## 2) Expected behavior
process="@this" partialSubmit="true"
post the datatable single row than all the rows

## 3) Actual behavior
post the full datatable rows than edited row

## 4) Steps to reproduce
try showcase example by adding process="@this" partialSubmit="true"

<p:ajax event="rowEdit" process="@this" parti

[2017-01-11 10:07] erdeisz commented on #1540
+1
 I get the same result with PF 6.0.13.

[2017-01-11 12:01] NiasSt90 opened #2009 "PrimePartialResponseWriter#redirect must not generate an extension block or ajax-redirect won't work"
## 1) Environment
- PrimeFaces version: 6.1-SNAPSHOT (HEAD)
- Does it work on the newest PrimeFaces version? no
- Application server + version: JBoss EAP 6.4.12
- Affected browsers: all

## 2) Expected behavior
redirect after ajax call
...

## 3) Actual behavior
no redirect occurs
..

## 4) Steps to reproduce
create an ajax-action which redirects in a portlet-jsf2 application.

The jsf2 ajax clien

[2017-01-11 12:27] tandraschko commented on #2009
Where is it defined that the redirect must be the first element?

[2017-01-11 12:35] NiasSt90 commented on #2009
in the jsf.js from mojarra-jsf-impl as shown in my snippet above.
i don't looked in the spec until now.

But if a redirect occurs, it's stupid to include the extension block (because it should load scripts/styles etc.pp. which is not necessary in case of a redirect).

[2017-01-11 12:38] tandraschko commented on #2009
It's not neccesarry in our case but it could still make sure to execute other eval tags before the redirect.

[2017-01-11 12:57] mertsincan opened #2010 "Ajax request doesn't cancel by extension onstart callback"

[2017-01-11 12:58] #2010 closed, assigned to nobody

[2017-01-11 13:02] mertsincan opened #2011 "Selecting and transfering of item in the picklist component couses exception."
Reported By Pro User;
[code]

[code]

[2017-01-11 13:06] #2011 closed, assigned to nobody

[2017-01-11 14:53] mertsincan opened #2012 "Add monitorKey attribute to fileDownload"
To set cookie name for monitorDownload method on client side.

Exp;
[code]

[2017-01-11 14:54] #2012 closed, assigned to nobody

[2017-01-11 15:30] Rawi01 commented on #2005
I reported it some time ago (#1534) including a fix for it. No response so far...
As temporary workaround you could set CSS `max-height` to `200px` for `.ui-selectonemenu-panel`

[2017-01-12 10:18] gako opened #2013 "p:calendar Client Side Validation with DATE Pattern is not working (FIX included)"
I found a bug in the validation.js File around line 460

[code]

The original pattern is e.g. "d M yy" after this parsing the variable datePattern only holds  the value "yy" because during each run of the loop the value is overwritten.
I think what you meant to do is something like this: (i only changed the line with ~~~~
[code]

## 1) Environment
- PrimeFaces version: 6.0.13
- Application server

[2017-01-12 10:34] gako commented on #2013
UPDATE1: Additional note, this error only occurs if the pattern contains "spaces" between the date parts. If the pattern is e.g. "d-MMM-yyyy" it works because the split method is doing nothing.

UPDATE2: I think the actual problem may really be that I use spaces as date part seperator between d,M and y. Because if only the date and time part is seperated by a space it works fine. I think the date/

[2017-01-12 12:56] mertsincan opened #2014 "Content in input cellEditor is removed after cell edit on dataTable with lazy cellEditMode"

[2017-01-12 12:57] #2014 closed, assigned to nobody

[2017-01-12 13:03] mertsincan opened #2015 "inputTextarea not allowing spaces and carriage returns"
Reported By PRO User;

I have a paginated data table lazily loaded with dynamic columns where one of the columns is of type p:inputTextarea. I found that when I type text in the text area, all carriage returns and spaces typed by the user are not inserted in the text.
...

Test Code;
[code]

[2017-01-12 13:04] #2015 closed, assigned to nobody

[2017-01-13 08:51] NiasSt90 commented on #2009
i've take a look in the spec (partial-response-xsd).
And as you can see below it's not allowed to have an extension element as the first child of partial-response.

    <xsd:element name = "partial-response" type="javaee:partial-responseType">
    	<xsd:annotation>
    		<xsd:documentation>
    			The "partial-response" element is the root of the partial
    			response information hierarchy, and

[2017-01-13 18:46] Rapster commented on #1981
Strangely, it works in my project ^^

[2017-01-13 19:06] Rapster opened #2016 "FileUpload: converter support"
## 1) Environment
- PrimeFaces version: 6-1-SNAPSHOT
- Does it work on the newest PrimeFaces version? No
- Application server + version: Tomcat 7
- Affected browsers: Chrome 55

## 2) Expected behavior

1. Upload a file
2. Submit form
3. I expect during `Apply Request Phase` custom converter be called so the uploaded file can be convert into String

## 3) Actual behavior
Custom converter not calle

[2017-01-15 09:24] tandraschko opened #2017 "Add getter for Part in NativeUploadedFile"

[2017-01-15 09:24] #2017 closed, assigned to tandraschko

[2017-01-15 09:26] tandraschko commented on #2016
Why do you need an own converter?

[2017-01-15 09:27] #2009 closed, assigned to tandraschko

[2017-01-15 14:02] Rapster commented on #2016
I save file's content in database, to do so, I'm using a converter which is quite straightforward.

[2017-01-15 20:16] tandraschko opened #2018 "JSF 2.3: Disable PF dynamic resource loading"
We don't need it in JSF 2.3, it's already implemented there

[2017-01-15 20:17] tandraschko opened #2019 "JSF 2.3: Provide @widgetVar implementation of the new SearchExpression API"

[2017-01-16 12:56] regenduft commented on #1988
this doesn't seem to be fixed for me (icon is in row above the cell content, the cell has an unwanted additional line-break directly behind the icon). I added
 div.ui-treetable span.ui-treetable-toggler { float:left; }
to my css to fix it.

[2017-01-16 15:00] andyfinch opened #2020 "DataTable rowsPerPageLabel/aria message is hidden"
## 1) Environment
- PrimeFaces version: 6.0.13
- Does it work on the newest PrimeFaces version? No
- Application server + version: Weblogic 12.2.1.2 JSF 2.2.8-17
- Affected browsers: All

## 2) Expected behavior
Paginator rowsPerPage Label should be displayed

## 3) Actual behavior
Label is rendered but hidden.  This is caused by UIData.PAGINATOR_RPP_LABEL_CLASS having a value of "ui-paginator-rpp

[2017-01-16 22:06] Rapster commented on #2016
The fact that `Converter.getAsObject`'s taking a `String` forces me to pass `null`. Too bad there is no `getAsObject(FacesContext context, UIComponent component, Object value)`... Trinidad seems to support Converter in `inputFile` https://myfaces.apache.org/trinidad/trinidad-api/tagdoc/tr_inputFile.html

[2017-01-17 10:50] 99sono commented on #244
Hi,

The algorithm in 6.0 is still bugy.
I have experienced primefaces drop downs that ware way too short for the length of the labels.

Please consider the fix provided in:
http://stackoverflow.com/questions/16784460/primefaces-pselectonemenu-width

By user 99sono, based on some of the content available in this thread as well.
The outerWidth value that is used to set the min-width when isAutoWidt

[2017-01-17 12:04] miron4dev opened #2021 "DataTable cannot be read by Screen Reader tool"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No
- Application server + version: JBoss EAP 7.0
- Affected browsers: Internet Explorer 11

## 2) Expected behavior
DataTable can be read by Screen Reader tool.
`table`, `tr`, `td` elements must have ARIA roles like in this example
https://www.paciellogroup.com/blog/2014/10/notes-on-fixing-incorrect-table-

[2017-01-17 12:06] miron4dev commented on #2021
I can prepare a pull request, if the issue will be accepted.

[2017-01-17 13:18] mustafacataltepe opened #2022 "CSV doesn't not invalidate associated label"
## 1) Environment
- PrimeFaces version: 6.0.13
- Does it work on the newest PrimeFaces version? No
- Application server + version: Tomcat 8.0.15
- Affected browsers: Firefox / Chrome

## 2) Expected behavior
When in a form which has a selectOneRadio input and its defined with @NotNull at the backend, if CSV is set true label for the selectOneRadio should have ui-state-error class and turn to red.

[2017-01-17 13:21] tandraschko commented on #2022
Example please.

[2017-01-17 13:47] mustafacataltepe commented on #2022
Attached sample jetty app

[sampleJettyApp.zip](https://github.com/primefaces/primefaces/files/711181/sampleJettyApp.zip)

[2017-01-17 14:19] jansohn commented on #30
+1 for having easier access to `filterMatchMode` in `load` method!

[2017-01-17 14:53] kalos9173 opened #2023 "PrimeFaces Push + CDI injection with Seam (WELD) problem"
Starting from PF5.3 and Atmosphere 2.3 there is a problem with CDIObjectFactory class. It doesn't find any implementations of CDIProducer (the AtmosphereProducers shoud be provided via services mechanism).
I got this exception:

2017-01-17 15:06:00.689 WARN  AtmosphereFramework:3113 - Unable to load AtmosphereClassInstantiator instance
java.lang.IllegalStateException
	at org.atmosphere.cdi.CDIObje

[2017-01-17 14:57] tandraschko commented on #2023
Feel free to work on the issue and provide a PR.

[2017-01-17 21:08] mertsincan opened #2024 "New Chips Component"
Chips is used to enter multiple values on an inputfield.

[2017-01-17 21:12] #2024 closed, assigned to nobody

[2017-01-18 06:58] pistamarti commented on #2004
Remark to 3)
Furthermore, the last normal data row in each group  is omitted.

[2017-01-18 16:17] firsthour commented on #2000
Any word on this? We've had to replace our existing in-cell editing with a dialog popup, but would really prefer the original method.

[2017-01-18 17:31] jxmai commented on #1390
Reproduced on the Primefaces 6.x. The filtered values are always a step behind. The `event="filter"` seems like the event before filtering, but there is no `after filtered event`. As a result, doing any business logic on the server side regarding to the filtered List on filter event becomes impossible...

Full sample to reproduce:

**table.xhtml**

[code]

**tableBean.java**

[code]

**Person.java

[2017-01-18 19:18] geekdiv commented on #1991
@jxmai I workaround focused on first inputtext like this ( it's work for my application. it's not general workaround ) ;)

`<p:focus for="name"/>`

[2017-01-18 19:59] jxmai commented on #1991
@geekdiv p:focus can only define the default focus field but it should not be able to prevent us tabbing from the address bar :confused: If it works for your app that's great for your purpose. The sample of this issue has a calendar as the first input field, so I don't think it is a general workaround. Correct me if I am wrong.

[2017-01-19 07:15] the-killer-bee commented on #2000
Hi,
I use PrimeFaces version: 6.0.13, and I get the same issue "I Can't enter spaces".
Using p:inplace resolve the issue, but it's not confortable when using roweditor.

Anyone could help us please ?

Thanks !

[2017-01-19 07:28] mertsincan commented on #2000
Fixed for 6.0.14 and 6.1.
https://github.com/primefaces/primefaces/issues/2015

[2017-01-19 07:28] #2000 closed, assigned to nobody

[2017-01-19 07:34] the-killer-bee commented on #2015
Hi mertsincan,

Do you know when primefaces 6.0.14 or 6.1 will be available as we have presentation next week and this issue is really awkward.

Thanks a lot

[2017-01-19 07:36] the-killer-bee commented on #2000
Thanks a lot @mertsincan ,
Do you know when primefaces 6.0.14 or 6.1 will be available as we have presentation next week and this issue is really awkward.

Thanks a lot

[2017-01-19 08:03] mertsincan commented on #2000
Today :)

[2017-01-19 09:02] #1995 closed, assigned to nobody

[2017-01-19 09:03] mertsincan commented on #1995
Thanks for your PR.

[2017-01-19 10:43] lwojtysiak opened #2025 "FileUpload not working on Liferay 6.2 when other JSF portlet exists on page"
# IMPORTANT
I have a problem with FileUpload component placed on webpage with twoi portlets.
First portlet is placed as runtime in Liferay theme, and the second one is "normal" portlet with file upload component.
The problem is that while trying to select file from system dialog and push "Select" - nothing happens. File is not showing in component and it is not possible to upload it.
In javascript

[2017-01-19 10:48] tandraschko commented on #2025
Would you please try a trunk build? We fixed many of small bugs on the new dynamic resource loading feature.

[2017-01-19 10:54] lwojtysiak commented on #2025
you mean PF 6.1-SNAPSHOT from branch master in github?
Should I download it from github and user from local repository - or "it's not so simple"? :)

[2017-01-19 11:06] tandraschko commented on #2025
Just download the master from github and build it -> https://github.com/primefaces/primefaces/wiki/Building-From-Source

[2017-01-19 11:07] mustafacataltepe commented on #2022
by the way sample app runs on 6.0 but behaviour is the same in 6.0.13

[2017-01-19 12:29] dkellenb commented on #1442
We face the same problem with PF 6.0. Changing values on a filtered or sorted data table, will update the model using the index in the filterer / sorted model. There are SO questions on this with no answer:
- http://stackoverflow.com/questions/33527471/primefaces-datatable-rendering-list-wrong-after-listener-sort-bug
- http://stackoverflow.com/questions/29544230/selection-goes-wrong-after-default-

[2017-01-19 12:46] lwojtysiak commented on #2025
Unfortunately - still the same:
"Widget not available: FileUpload"

(and: Widget not available: Layout)

[2017-01-19 12:49] tandraschko commented on #2025
@stiemannkj1 Do you have time to check that issue? Seems to be related to dynamic resource loading. I thought we catched all the issues :/

[2017-01-19 13:28] firsthour commented on #2000
This is awesome, thank you!

[2017-01-19 14:17] stiemannkj1 commented on #2025
@lwojtysiak, you are using an old version of Liferay Faces. Please upgrade to [our newest jars (you can use our archetype portlet to determine which dependencies and versions you need)](http://liferayfaces.org/) and let us know if the issue persists.

[2017-01-19 14:21] kukel commented on #2023
Off-topic: Seam != weld. Weld == CDI, Seam is not (it is the predecessor)

[2017-01-19 14:23] kukel commented on #2002
'Is not looking good' is to vague. For me it looks fine... Please show code and a screenshot

[2017-01-19 15:21] mertsincan opened #2026 "FileUpload javascript error with ClientSideValidation"
Reported by PRO User;

[2017-01-19 15:24] #2026 closed, assigned to nobody

[2017-01-19 20:15] kukel commented on #2024
could have been added to the autocomplete component 'multiple' variant with small changes. See [stackoverflow for an answer](https://stackoverflow.com/questions/39635358/input-multiple-with-tags-without-autocompletion/39656447#39656447). Why the need for an new component?

[2017-01-19 20:18] kukel commented on #2015
if the fix is in 6.1, you can most likely easily backport this to 6.0.13 (of which you do have the source)

[2017-01-19 20:20] tandraschko opened #2027 "SEF: support update with rowIndex"
e.g.
update=":myForm:myDataTable:0:myInput"

the component will currently be found currently but getting the clientId is called without "the context"
So we probably need to refactor a little bit.

[2017-01-19 21:13] lwojtysiak commented on #2025
Sorry, but I cannot upgrade all libraries in my environment. I had some problems with Primefaces and I suppose, that upgrading Liferay Faces will have some more problems...

Anyway - with Primefaces 5.3 everything (in that case) worked. Primefaces.js was loaded twice (in head and in body -> as in 6.0), but probably Primefaces.widget wasn't cleared (there is line to clear it, but I think it wasn't

[2017-01-19 21:43] stiemannkj1 commented on #2025
@lwojtysiak, Liferay Faces `3.2.4-ga5` was released long before PrimeFaces `6.0` existed, so we never tested with PrimeFaces `6.0`. Consequently using PrimeFaces `6.0` with Liferay Faces `3.2.4-ga5` is not supported (the same goes for `3.2.5-ga6`).

If you want, you could [upgrade your development environment to use the latest versions of Liferay Faces](http://liferayfaces.org/), see if the issue

[2017-01-20 08:13] lwojtysiak commented on #2025
In my opinion, problem is not with Liferay Faces and putting this script second time in HTML.
Because I can put this files in portlet manually.
The problem is, that scripts from core.js and components.js shouldn't run second time if already loaded. Specially if there is "Primefaces.widget = {}"

[2017-01-20 21:04] tandraschko commented on #2025
likely fixed the core.js reloading. component.js were always reloaded, so i didn't change this behavior.

Please try.

[2017-01-20 21:17] tandraschko commented on #2022
Not sure but it seems that label error style is not implemented, for no component:
showcase/ui/csv/bean.xhtml

[2017-01-20 21:27] #2018 closed, assigned to tandraschko

[2017-01-20 21:31] tandraschko commented on #1900
Could you please provide a simple xhtml+bean to replicate the issue in the showcase?
I'm not sure if it's good to fix this. Maybe you should just also don't render the button (or something else) which triggers the remoteCommand.

[2017-01-20 21:32] tandraschko commented on #1493
Could you please create a list, which components needs which new events?

[2017-01-20 21:35] tandraschko commented on #1981
Would you please provide a complete, stripped, xhtml with form and everything else?

[2017-01-20 22:19] didiez opened #2029 "Error counting the number of options in a select for rendering de options panel"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No
- Application server + version: tomcat 8.5.9
- Affected browsers: All

## 2) Expected behavior
When the number of options in a select `<p:selectOneMenu>` is greater than 10, the panel showing the options is supposed to have a default height value of 200px.
The problem arises when we have groups instead

[2017-01-20 22:26] didiez commented on #2029
PR with the fix #2028

[2017-01-21 10:33] ReedElliott opened #2030 "Disabling ajax events on p:dataTable breaks p:cellEditor"
## 1) Environment
- PrimeFaces version: 6.0.13
- Does it work on the newest PrimeFaces version? No
- Application server + version: GlassFish 4.1.1
- Affected browsers: Chrome

## 2) Expected behavior

CellEditor within a DataTable will move from input mode to output mode after user enters data an exits the field.

## 3) Actual behavior

CellEditor within a DataTable is stuck in input mode and ente

[2017-01-21 18:07] Rapster commented on #1493
Well, the link I gave it to you targeting at least 3 kind of components: body, form elements and media:

Missing events for:

# 1.  HTML.BODY_ATTRS (BodyRenderer)

- onafterprint
- onbeforeprint
- onbeforeunload
- onerror
- onhashchange
- onmessage
- onoffline
- ononline
- onpagehide
- onpageshow
- onpopstate
- onresize
- onstorage
- onunload

# 2.  HTML.CHANGE_SELECT_EVENTS (All UIInput)

- oninp

[2017-01-23 10:11] sergi-mm commented on #1921
Hi @FastainCS09 , did you test the code? Could you reproduce the error?

[2017-01-23 11:39] #1936 closed, assigned to nobody

[2017-01-23 12:19] mustafacataltepe commented on #2022
added PR to address this issue it that's an ok fix can you merge it into next elite release please, thanks in advance.

[2017-01-23 13:07] tandraschko commented on #2022
@mertsincan Feel free to merge this into elite :)

[2017-01-23 13:07] #2022 closed, assigned to tandraschko

[2017-01-23 14:00] FastainCS09 commented on #1921
Sorry I runed it,and was able to produce that error but didn't have the
time to fix it becuase I was totally stuck at some work,so i was not able
to fix it.but i will try to fix it  this week and then get back to
you.Sorry again

Osama Nasir
Snr.Software Engineer
BS(CS),FAST-NU

On Mon, Jan 23, 2017 at 11:11 AM, Sergi <notifications@github.com> wrote:

[2017-01-23 14:20] regenduft commented on #39
seems this was implemented with https://github.com/primefaces/primefaces/issues/1950 so this issue could be closed?

[2017-01-23 14:25] #39 closed, assigned to nobody

[2017-01-23 14:25] tandraschko commented on #39
Jup, thanks.

[2017-01-23 14:27] regenduft opened #2032 "DataTable RowGroup Row Grouping duplicates row and doesn't display other row"
See also https://github.com/primefaces/primefaces/issues/1950

## 1) Environment
- PrimeFaces version: 6.0.13 and 6.0.14
- doesn't work on the newest PrimeFaces version 6.0.14 released today.
- Application server + version: tomcat 7
- Affected browsers: Firefox 50.1.0

## 2) Expected behavior

Each row appears once

## 3) Actual behavior

Some rows are duplicated and others are missing.
Seems  alw

[2017-01-23 14:45] mertsincan commented on #2032
I'll check and get back to you.

[2017-01-23 16:12] regenduft commented on #2004
just noticed that my issue is a duplicate of this one: https://github.com/primefaces/primefaces/issues/2032

[2017-01-24 08:39] parlak1 opened #2033 "AutoComplete: add dynamic tooltip support"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-01-24 08:50] lwojtysiak commented on #2025
Looks better, because Primefaces.widget contains FileUpload.
But right now I have:
TypeError: this.jq.fileupload is not a function

[2017-01-24 08:51] NicolaIsotta commented on #1634
Hi @tandraschko, I just created PR #2034 to close this.

[2017-01-24 09:00] #2032 closed, assigned to mertsincan

[2017-01-24 09:29] #2004 closed, assigned to nobody

[2017-01-24 10:28] #1634 closed, assigned to tandraschko

[2017-01-24 10:28] tandraschko opened #2035 "[Documentation] Calendar: add inputStyle and inputStyleClass"

[2017-01-24 10:42] tandraschko commented on #2030
This is expected.
Our datatable JS does the following:
if (behaviorDefined('rowEdit')) { use it } else { construct a new ajax script }

There is no reason to add a behavior and set disabled to true.

[2017-01-24 10:42] #2030 closed, assigned to tandraschko

[2017-01-24 10:43] tandraschko commented on #2025
No idea, sry. If you can reproduce it with a simple maven/jetty application, i can check it. Otherwise please investigate by yourself or upgrade liferay.

[2017-01-24 10:44] tandraschko commented on #2003
Please create a new issue with a sample or reopen this issue. Will close it for now.

[2017-01-24 10:44] #2003 closed, assigned to nobody

[2017-01-24 10:46] tandraschko commented on #2016
Feel free to provide a PR.

[2017-01-24 11:48] tandraschko commented on #1985
Questions -> Forum

[2017-01-24 11:48] #1985 closed, assigned to nobody

[2017-01-24 11:50] #1944 closed, assigned to tandraschko

[2017-01-24 11:52] tandraschko commented on #1912
The best thing would be:
try to replicate this issue with native jqplot and create a issue on their side. We already use destroy - we likely can't fix it.

[2017-01-24 11:55] tandraschko commented on #1845
No response and can't replicate, will close it for now.

[2017-01-24 11:55] #1845 closed, assigned to nobody

[2017-01-24 12:01] tandraschko commented on #1691
I just wonder if binding works with other components in this case?
Binding often has problems or it could be a mojarra bug, too.

[2017-01-24 12:02] tandraschko commented on #1579
I see. Feel free to provide a PR.

[2017-01-24 12:04] tandraschko commented on #1558
Not sure but it looks fine for me.
Feel free to reopen with a more detailed description + screenshots.

[2017-01-24 12:04] #1558 closed, assigned to nobody

[2017-01-24 12:08] tandraschko commented on #1515
Works fine for me in trunk.

[2017-01-24 12:08] #1515 closed, assigned to nobody

[2017-01-24 12:10] tandraschko commented on #1474
News class is missing etc. Will close it as invalid.
If the bug is still present in the newest version, please create a new issue and respect our issue template.

[2017-01-24 12:10] #1474 closed, assigned to nobody

[2017-01-24 12:13] tandraschko commented on #1452
We require more informations to check that issue.
We also introduced a issue template with all required informations. If the issue still persists in the newest version, please create new issue and respect our template.

[2017-01-24 12:13] #1452 closed, assigned to nobody

[2017-01-24 12:17] tandraschko commented on #1447
We can of course introduce a new event BUT catchting this with p:ajax is not good idea as there would be 2 ajax requests.
So i don't like your idea that much.

[2017-01-24 12:21] djmj commented on #1447
I dont see it as a second `new` event. More like a hook into the lazy load event so that we can use `update` or `oncomplete` or other ajax functionality.

[2017-01-24 12:21] tandraschko commented on #1358
@Rapster I think a good way to provide such a component, is to do it in extensions first (so please, do ;))
So will close it for now.

[2017-01-24 12:21] #1358 closed, assigned to nobody

[2017-01-24 12:21] tandraschko commented on #1305
Will close it for now. We have a new editor and this is something, that should be fixed directly by CLEditor.

[2017-01-24 12:21] #1305 closed, assigned to nobody

[2017-01-24 12:44] tandraschko commented on #1447
I can't follow you.
"Lazy load" is probably called by multiple events like filter, sort,page. So "load" is NOT a client behavior, where as filter,sort,page is a client behavior. (Client behavior are events that can be catched with f/p:ajax).

[2017-01-24 12:46] tandraschko commented on #1193
Duplicate

[2017-01-24 12:46] #1193 closed, assigned to nobody

[2017-01-24 12:48] djmj commented on #1447
It is just an idea. A different description:

_We need `update`, `oncomplete` for the internal lazy load event to update other DOM._

`<p:ajax event="load"` was just an idea on how to solve it. Preferrable with a single ajax request.
`<p:table loadUpdate=":myComponent" loadOncomplete="rebind();">` is also an idea.

The p:ajax, as an idea is just more flexible since it could allow to invoke other b

[2017-01-24 12:55] tandraschko commented on #1447
But you know that filter,sort,page calls "lazy load". So whats the problem to define those 3 events?
If you don't like it, you can still use an composite to wrap the dataTable.

[2017-01-24 13:03] djmj commented on #1447
Hmm, i must check this 👍

[2017-01-24 13:07] tandraschko commented on #1447
All right. Will close it for now ;)

[2017-01-24 13:07] #1447 closed, assigned to nobody

[2017-01-24 13:08] #1141 closed, assigned to tandraschko

[2017-01-24 13:12] tandraschko commented on #874
Outdated, the code regarding dismissable already has been changed.

[2017-01-24 13:12] #874 closed, assigned to nobody

[2017-01-24 13:18] tandraschko commented on #821
@kukel Would you like to demonstrate how you would fix the problem?

[2017-01-24 13:22] tandraschko commented on #774
Will close it for now as the example requires postresql and we also fixed something regarding TimelineUpdater in trunk.
If the issue still persists in the newest version, please create new issue and respect our template.

[2017-01-24 13:22] #774 closed, assigned to nobody

[2017-01-24 13:23] tandraschko commented on #797
Looks like this has been fixed in atmosphere directly.

[2017-01-24 13:23] #797 closed, assigned to jfarcand

[2017-01-24 13:24] tandraschko commented on #771
Works fine in the showcase.
If the issue still persists in the newest version, please create new issue and respect our template.

[2017-01-24 13:24] #771 closed, assigned to nobody

[2017-01-24 13:27] tandraschko commented on #713
Feel free to provide a PR.

[2017-01-24 13:58] tandraschko commented on #639
The last example works fine now. If everything is deselected, the index is string empty now instead of "NaN".
I think -1 is still valid if used with "multiple=false"

[2017-01-24 13:58] #639 closed, assigned to tandraschko

[2017-01-24 14:00] tandraschko commented on #1490
Works fine for me now.

[2017-01-24 14:00] #1490 closed, assigned to tandraschko

[2017-01-24 14:01] #553 closed, assigned to nobody

[2017-01-24 14:16] tandraschko commented on #749
Works fine for me.

[2017-01-24 14:16] #749 closed, assigned to nobody

[2017-01-24 14:23] SavchenkoVV commented on #1515
Looks like fixed by https://github.com/primefaces/primefaces/issues/2026

[2017-01-24 15:44] Rapster commented on #2016
No problem. Although, I can't figure out what should be the String parameter, null?

[2017-01-24 16:16] #2027 closed, assigned to tandraschko

[2017-01-24 16:30] tandraschko commented on #2016
Thats the reason that there is no converter support.
Converters are used to convert string inputs to pojos and vice versa.
For the FileUpload, the byte[] will automatically be converted to UploadedFile.

IMO there is no need to support converters.

[2017-01-24 17:11] #1858 closed, assigned to tandraschko

[2017-01-24 17:41] mauromol opened #2036 "DataTable: columns with low reponsivePriority may be removed too late"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? not with 6.0
- Application server + version: Tomcat 8.0x
- Affected browsers: Firefox 50.1.0, Chrome 55.0.2883.87

## 2) Expected behavior

When you have a dataTable with about 10-11 columns, most of which must always be visible (=> default priority = 1) and you start to give priority 2, 3 and 4 to three d

[2017-01-24 20:31] kaushikmeduri opened #2037 "<p:tab not working"
We are using multiple tabs under <p:tabView
Code works fine in FireFox, Chrome.
It works well some of IE Users. Some in IE 11 complain they wont be able to navigate tabs except the first one which is default shown.
From logs it is verified that <p:ajax event="tabChange" works well. We are not able to reproduce in any of our Environments the specific problem . It could be User setting but we want t

[2017-01-24 20:39] tandraschko commented on #2037
How can we replicate the problem?

[2017-01-24 20:48] Julienng commented on #1579
I will, I just not have time to do it right now

[2017-01-24 21:02] kaushikmeduri commented on #2037
We are also not able to replicate problem.It only happens to Certain Government Users. This is Government  application which recently upgraded from primefaces-5.0.6 to primefaces-6.0.
Users did not have issue with older Jar file.
Please advise if there is any previous related issues with tabView not working related to Prime faces

[2017-01-24 21:11] tandraschko commented on #2037
Thats the problem. If you can't replicate it, how should i replicate it? I could invest many hours without any result.
So please come back if you are able to replicate it, otherwise i can't help you.

(Thats my opinion as developer which is just doing his open source work here. Maybe professional support like PrimeFaces PRO is better for such cases ;))

[2017-01-25 06:17] geekdiv commented on #1991
upps sorry @jxmai  it's work for my app. I edit  my comment :)

[2017-01-25 18:47] kaushikmeduri commented on #2037
Updating XHTML and BEAN for opinion. Logs do show onTabChange value printed successfully.
Not sure what causes Browser not to call p:tab function click.

XHTML

<p:tabView id="tabView" dynamic="false" cache="false">
<p:ajax event="tabChange" listener="#{userData.onTabChange}" onstart="blockScreen();" oncomplete="unBlockScreen();"
update=":form:confirmationmsg"/>
<p:tab id="Personal" title="Persona

[2017-01-25 18:48] #1292 closed, assigned to nobody

[2017-01-26 07:30] mertsincan opened #2038 "Improve SelectCheckboxMenu performance"
Reported By PRO User;
[code]

[2017-01-26 07:35] #2038 closed, assigned to nobody

[2017-01-26 10:52] mertsincan commented on #2022
Added to 6.0.15

[2017-01-27 11:47] cristiandean opened #2039 "Dialog: javascript error on multiple clicks"
Hello, I'm with a problem with the modals on primefaces. Sometimes it works, but sometimes apper this error in Javascript Console (when the error appear, the modal don't open).

[code]

I'm using the 6.0 version.

The bug happens when a dynamic button inside a modal is clicked several times.

I recorded a video using the example of the primefaces website itself.
[Video](https://youtu.be/Xe3FXoxQvi

[2017-01-27 17:33] workmonitored commented on #864
That was a bug within the existing plugin that PrimeFaces used. At this point, I cannot remember what the plugin was called but undeploying the jar file and changing javascript based on the original issue on the plugin fixes the issue. At one point, I assume primefaces should update from the original plugin.

[2017-01-27 17:33] #864 closed, assigned to nobody

[2017-01-27 21:33] tandraschko commented on #2029
Applied your PR (thanks!) + improved performance by avoiding list instances

[2017-01-27 21:33] #2029 closed, assigned to tandraschko

[2017-01-27 21:42] tandraschko commented on #1534
Fixed by https://github.com/primefaces/primefaces/issues/2029

[2017-01-27 21:42] #1534 closed, assigned to tandraschko

[2017-01-27 21:43] tandraschko commented on #2005
Fixed by: https://github.com/primefaces/primefaces/issues/2029

[2017-01-27 21:44] #2005 closed, assigned to tandraschko

[2017-01-27 21:49] tandraschko commented on #859
You can add skipChildren=true on p:ajax.

[2017-01-27 21:49] #859 closed, assigned to nobody

[2017-01-27 21:53] tandraschko commented on #280
It's implement by p:ajax but e.g. tabView must still implement the check if skipChildren is used for the current request.

[2017-01-27 21:54] tandraschko commented on #440
Duplicate of #280

[2017-01-27 21:54] #440 closed, assigned to cagataycivici

[2017-01-27 21:56] tandraschko commented on #1994
Duplicate of #1541
Next time please search in the issue tracker before creating new issues.

[2017-01-27 21:56] #1994 closed, assigned to nobody

[2017-01-28 08:56] Rapster commented on #2016
Not agree with you on this. I'd say it's a design problem. `Converter` has this method `getAsObject(FacesContext context, UIComponent component, String value)` because 99% of standard form ui element have a string input. But what about `inputFile` typically? I had a look on how other frameworks are doing:

- WPF: https://msdn.microsoft.com/fr-fr/library/system.windows.data.ivalueconverter(v=vs.110

[2017-01-28 09:04] Rapster commented on #2039
1. Follow the issue template
2. Use forum for this first
3. Try with the latest version of PF _(I can't reproduce the problem on showcase, event after several attempts)_

[2017-01-28 09:25] cristiandean commented on #2039
I already did all this.
http://forum.primefaces.org/viewtopic.php?f=3&t=49100

In my tests the error appears in the Windows and Mac in Chrome, Safari, Firefox and Edge.
I'm using the latest version of primefaces.

[2017-01-28 09:31] Rapster commented on #2039
1. No, you didn't follow the issue template.
2. Next time, provide the link to the forum.
3. 6.0 is the last PF community version. Try to build it from source

[2017-01-28 09:37] cristiandean commented on #2039
As you can see in the video, I performed the test on the site of the primefaces showcase itself. At the bottom there is the following text "Running PrimeFaces-6.0.14 on Mojarra-2.2.8.". I believe this is the last stable version not community. Is there any more recent?

Thank you

[2017-01-28 09:46] Rapster commented on #2039
This is why we ask to follow the issue template... So we don't have to guess everything... Anyway, it's the 6.0.14 is the last elite version, and I don't think there anything committed related to this problem since. You have to figure out a way to reproduce it systematically

[2017-01-28 09:51] cristiandean commented on #2039
I understand ... I believe the error happens when two or more requests are made to the server to close the dialog (it can be a quick double click). In my region this is a bit common due to the low speed of the Internet. I guess I just have to wait and see if anyone solves the problem. Thank you anyway

[2017-01-28 09:57] Rapster commented on #2039
It can be the reason, I already tried clicking several times

[2017-01-28 09:59] cristiandean commented on #2039
Did you see the video? Try slowing down your Internet with the Chrome developer tool, I believe you'll be able to simulate

[2017-01-28 10:11] Rapster commented on #2039
Indeed, I reproduced the probem using GPRS. I really thought there was an option for such a case, like this http://ovaraksin.blogspot.fr/2011/05/prevent-multiple-clicks-in-jsf.html

[2017-01-28 10:19] cristiandean commented on #2039
I will try, thank you very much

[2017-01-28 15:47] tandraschko commented on #2016
Yep exactly. But as converters only supports String, i don't think we should do some weird workarounds here.
The right way is to create a spec ticket probably. The converter was already enhanced in JSF 2.3 to have a generic parameters for the outcoming value object.

[2017-01-28 18:58] Rapster commented on #2016
I added a comment to the ticket, don't know if I'll get any response... https://java.net/jira/browse/JAVASERVERFACES_SPEC_PUBLIC-1355

[2017-01-28 19:09] tandraschko commented on #2016
I would create a new issue, with the whole description ;) I personally also don't like to answer new "questions" in already closed issues.

[2017-01-28 19:19] Rapster commented on #2016
Thanks @tandraschko I just created a new one https://java.net/jira/browse/JAVASERVERFACES_SPEC_PUBLIC-1439 _(I can't delete my previous comment on 1355 :/ )_

[2017-01-28 21:04] mehmetbektas opened #2040 "calendar multi ajax events"
## 1) Environment
PrimeFaces version: 6.0 (Community)
Does it work on the newest PrimeFaces version? yes, i use latest version of primefaces.
Application server + version: Apache Tomcat 8.0.36
Affected browsers: Firefox, Google Chrome (latest version)

## 2) Expected behavior
I think, dateSelect event should not trigger 'blur' event

## 3) Actual behavior
'dateSelect' event triggers 'blur' event

[2017-01-29 11:43] tandraschko commented on #2040
Why do u use blur? I would take the change event.

[2017-01-29 18:45] Berger1994 commented on #1900
Sorry for my late response.

I think with the example in my first post the problem should be replicatable in the showcase. In my project i don't use the button to execute the remotecommand.

I am using websocket, and the server sends me some remotecommand-ids to execute. I only check if the function is available in the current javascript cache and than i execute it.

The problem is not only with r

[2017-01-29 21:08] tandraschko commented on #1900
So you also manually invoked the PF ajax script? Could you please post the script?

The problem is, you are the first user since many many years which found this issue. We automatically remove the script tag of rendered widgets after the script has been executed. If we would like to fix this issue, we must NOT remove the script tag. As this is a behavior we have since ~5 years, i have to discuss t

[2017-01-29 21:57] tandraschko opened #2041 "p:repeat logs "no renderer found" in MyFaces"

[2017-01-29 21:57] #2041 closed, assigned to tandraschko

[2017-01-30 10:34] madhu-singh opened #2042 "1) Environment"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-01-30 10:45] #2042 closed, assigned to nobody

[2017-01-30 11:14] mehmetbektas commented on #2040
I think 'change' event runs every change action. I can't use 'change' event instead of 'blur' event.

I want to select hour and minute after day selection, but dateSelect event triggers blur event and this triggered onselect method that in Index.java bean before the time I want. So, when calendar popup is active, i want the 'blur' event not to be triggered.

[2017-01-30 11:44] tandraschko commented on #2040
But why do you want to catch a blur event? for which purpose?

[2017-01-30 11:45] tandraschko commented on #2040
(also don't think that we can fix that, it's likely done by the jquery plugin)

[2017-01-30 14:04] cagataycivici commented on #1951
Hi,

This seems like a bug in IE that is fixed on Edge.

The aria properties we use are ignored on IE.

https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8571350/

Regards,

Cagatay Civici
PrimeTek

[2017-01-30 14:04] #1951 closed, assigned to nobody

[2017-01-31 08:48] gako opened #2043 "SelectOneMenu: minor style issue with editable="true""
## 1) Environment
- PrimeFaces version: 6.0.14

## 2) Expected behavior
The Fontsize of a selectOneMenu should always be the same no matter wether it is editable or not

## 3) Actual behavior
If a selectoneMenu is editable the InputField used is having a smaller fontsize than the rendered label if editable is false.

## 4) Steps to reproduce
Just look at it in the Primefaces Showcase: http://www.p

[2017-02-01 09:17] mertsincan opened #2044 "Add datatipEditor feature to CartesianChartModel"
You can change tooltip of chart by yourself. Exp;
[code]

![customtooltip](https://cloud.githubusercontent.com/assets/11868120/22501116/0293cda6-e870-11e6-8295-381c3ae860bb.PNG)

[2017-02-01 09:20] #2044 closed, assigned to nobody

[2017-02-01 09:47] martin654 opened #2045 "update hotkey / enable hotkey in password fields"
# 1) Environment
- PrimeFaces version: 6.0.14
- Does it work on the newest PrimeFaces version? no
- Application server + version: any
- Affected browsers: any

## 2) Expected behavior
p:hotkey behavior with p:password is the same as p:inputText

## 3) Actual behavior
<p:hotkey/> filters binded keys inside <p:password/> field

## 4) Steps to reproduce
1) open page
2) write some text into password f

[2017-02-01 11:39] mertsincan opened #2046 "Retain page for TreeTable"
Reported By PRO User;

We noticed that after page navigation if the table is updated on any operation within the same view the current page of the tree table is reset back to 1.
Expected behavior: On update of treeTable the current page should remain the same.
Noticed that this behavior works fine with <p:dataTable/>. The current page is maintained.

[2017-02-01 11:41] #2046 closed, assigned to nobody

[2017-02-01 12:05] JensPiegsa opened #2047 "p:blockUI stops working after the component to be blocked has been update via AJAX"
Similar issues:

* http://stackoverflow.com/q/20028923/1725096
* http://stackoverflow.com/q/12390985/1725096

Currently the only solution seems to be a shift to *PrimeFaces Extensions* and use [`pe:blockUI`](http://www.primefaces.org/showcase-ext/sections/blockui/blockUIAjax.jsf) instead.

[2017-02-01 14:14] smckeetx opened #2048 "DataTable: Request caption support for accessibility purposes."
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? Unknown
- Application server + version: Tomcat 8.0.30
- Affected browsers: All

## 2) Expected behavior

Add &lt;caption&gt; to dataTable for accessibility purposes.

## 3) Actual behavior

Caption not supported

## 4) Steps to reproduce

N/A

## 5) Sample XHTML

N/A

## 6) Sample bean

N/A

[2017-02-01 14:24] NicolaIsotta opened #2049 "DataTable: alignment issues when scrollable="true" and table-layout is auto"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? No, it doesn't work on 6.1-SNAPSHOT
- Application server + version: Tomcat 7.0.55
- Affected browsers: At least IE, Firefox and Edge

## 2) Expected behavior
Header columns and body columns should be aligned:
![aligned](https://cloud.githubusercontent.com/assets/18428155/22509600/14ca9a94-e88f-11e6-904a-82

[2017-02-02 00:33] erickdeoliveiraleal opened #2050 "update webcamjs to 1.0.19"
https://github.com/jhuckaby/webcamjs/compare/v1.0.12...v1.0.16

[2017-02-02 01:08] huds8n commented on #448
It would be an excellent option

[2017-02-02 02:16] erickdeoliveiraleal opened #2051 "update moment.js to 2.17.1"
https://github.com/moment/moment/compare/2.14.1...2.17.1

[2017-02-02 07:18] sizer commented on #2049
Why did you add 'table-layout: auto;'?
p:dataTable add 'table-layout: fixed' when scrollable is true.
Because when your dataTable is scrollable, you can see full-table-data by scrolling it.

[2017-02-02 08:27] NicolaIsotta commented on #2049
Fixed tables are poor-looking IMHO, and I have to add scrollable only for vertical scrolling.

[2017-02-02 12:29] kukel commented on #2040
It's even next to impossible to 'fix' even for the jquery plugin. How does it know the user finished selecting things? Delay is the only option I can think of but even that would not work great UIX wise

[2017-02-03 07:17] mullerbest opened #2054 "I used primeface 5.0 and i tried to update to 5.3 and the system stop running and display this error Exception while loading the app : java.lang.IllegalStateException: ContainerBase.addChild: start: org.apache.catalina.LifecycleException: java.lang.RuntimeException: java.lang.VerifyError: (class: org/primefaces/behavior/confirm/ConfirmBehaviorHandler, method: createBehavior signature: (Ljavax/faces/view/facelets/FaceletContext;Ljava/lang/String;)Lorg/primefaces/behavior/base/AbstractBehavior;) Wrong return type in function"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-02-03 08:17] Rapster commented on #2054
Use forum for this

[2017-02-03 08:36] mertsincan opened #2055 "Wrong title displayed for PDF in chrome"
Reported By Pro User;

We noticed that the PDF viewer's title shows "dynamiccontent.properties" while the PDF is loading and then changes to the actual title of the PDF.
Also, on downloading the PDF from the PDF viewer, the file name is displayed as "dynamiccontent.pdf" in the browser dialog.

[2017-02-03 08:37] #2055 closed, assigned to nobody

[2017-02-03 11:20] tandraschko commented on #2054
Probably multiple primefaces jars inside the classpath.

[2017-02-03 11:20] #2054 closed, assigned to nobody

[2017-02-04 13:29] p4w3l commented on #2036
tableStyle="table-layout: auto;" improves the behaviour a little. Still with horz. scrollbar but without "delay"

[2017-02-05 22:01] mertsincan opened #2056 "Draggable dialog issue"
Reported By Pro User;

Issue can be reproduced in showcase as well.

[2017-02-05 22:03] #2056 closed, assigned to nobody

[2017-02-06 04:56] SantoshCCS opened #2057 "Summary Row of Datatable not exported in excel by data Exporter"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-02-06 11:24] mertsincan opened #2058 "SelectOneMenu ignores defaultCommand component"
Reported by PRO User;

[code]

[2017-02-06 11:27] #2058 closed, assigned to nobody

[2017-02-06 12:47] mertsincan opened #2059 "DataTable throws NPE in TabView with dynamic="true""
Exception;

       at org.primefaces.component.datatable.DataTable.findColumnInGroup(DataTable.java:962)
       at org.primefaces.component.datatable.DataTable.findColumn(DataTable.java:953)
       at org.primefaces.component.datatable.DataTable.getSortColumn(DataTable.java:1508)
       at org.primefaces.component.datatable.feature.SortFeature.singleSort(SortFeature.java:136)
       at org.primefa

[2017-02-06 12:49] #2059 closed, assigned to nobody

[2017-02-06 21:21] mertsincan opened #2060 "Datatables with multiViewState="true" regression"
Reported By PRO User;

[2017-02-06 21:22] #2060 closed, assigned to nobody

[2017-02-06 23:16] ramanimukesh opened #2061 "DataTable: rowSelect & rowDblselect doesnt't work together"
This is not a new issue in 6.0 but it does exist in 5.3 as well. but i was hoping that it will be addressed in the latest 6.0 release.

If we need to have both  single click and doubleClick event in data table only one works. is there any work around to this? in my application we need to achieve two separate task on single click vs double click. Thanks.

[2017-02-07 01:44] djmj opened #2062 "Dialog: position wrong if scrolled before shown"
If you have a dialog with `position="50, 50"` and open the dialog everything is fine and style is `top: 50px;`.

If you reload the page, scroll down the page by 100 pixel and then open the dialog, the dialog is positioned wrong. Its header is not visible, because its style is `top: -50px;`.

This is wrong. It must remain `top: 50px;` instead. Dialog is unaware of scrolling.

The same applies to ve

[2017-02-07 09:50] louayabdelhedi opened #2063 "Filter dataTable is not working"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-02-07 12:08] melloware opened #2064 "Enhancement: Datable widget resize() method to force redraw of table in client"
## 1) Environment
- PrimeFaces version: 6.0.14
- Does it work on the newest PrimeFaces version? No
- Application server + version: Jboss EAP 6.4
- Affected browsers: All

## 2) Expected behavior
I am using a Datatable with scrollable=true and scrollwidth=100% inside of a Jquery Layout.  When the browser is resized the datatable does not resize.  I would be nice if we could call tableWidget.resize(

[2017-02-07 12:54] luiscardozo commented on #1610
I can reproduce it, as @julianomqs said, with a p:calendar on PrimeFaces 6.0, and even in the showcase.

**Steps to reproduce:**
1) Go to the PrimeFaces Calendar [Showcase](http://primefaces.org/showcase/ui/input/calendar.xhtml)
2) Open the JavaScript console (Ctrl+Shift+J)
3) Go down to the "Mask:" input field and type a date.
4) There is no problem when typing month and day. But the warning appe

[2017-02-08 00:45] melloware commented on #2063
I suggest you take the steps above and "Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to receive an answer and a solution."

We use datatable filtering all the time and it is working fine in PF 6.0 so it must be something wrong with your code.  By creating a simple test case like above you should be able to pro

[2017-02-08 01:21] djmj opened #2065 "Mobile: inputSwitch - showLabels not working"
I wanted to hide the labels on mobile inputSwitch, but labels are still shown even if set to ``showLabels="false"`.

[2017-02-08 02:29] miguelkv commented on #648
Using Sentinel layout with FontAwesome we get a error, as stated by @djmj.

The reason is the .ui-widget class added to <a>, because it changes the font-family to "'titillium_webregular' !important".

One workaround:
`.ui-widget.ui-commandlink.fa{ font: normal normal normal 14px/1 FontAwesome !important; }`

This error can be seen at http://www.primefaces.org/eos/sentinel/forms.xhtml.

[2017-02-08 03:07] djmj commented on #2002
Here is code and a screenshot. The icon is displayed along description and not in a grey circle at the left. The button also uses font-awesome font for text.

	<p:button icon="ui-icon-shop" value="Warenbestand"/>
	<p:button icon="fa fa-payment" value="Warenbestand"/>

![pf-mobile-font-awesome](https://cloud.githubusercontent.com/assets/5265550/22721671/79c2806a-edb2-11e6-8acb-891729e37346.jpg)

**

[2017-02-08 07:39] devmsaleh opened #2066 "DataList: add drag&drop support"
Please enable drag and drop between two datalists

[2017-02-08 07:40] devmsaleh opened #2067 "Feature request : signature on images or pdf"
Please add feature to enable signature on images or pdf

[2017-02-08 18:57] Majasi commented on #1729
I have the issue with the `p:menu` component when trying to create the menu nodes programmatically.

[2017-02-09 00:00] ElSamplio opened #2068 "CommandLink: In dynamic columns header doesn't work"
# ABSTRACT
I have a datatable with grouped header and dynamic columns. I put a commandLink in the dynamic columns header with its listener that gets some parameters, however it doesn't run the listener method. In the same XHTML I have the same kind of commandLinks in every row (first column) and they work properly

## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces

[2017-02-09 08:24] mertsincan opened #2069 "Add multiple item support to label of SelectCheckboxMenu"
like multiple autocomplete
![multipleselectcheckboxmenu](https://cloud.githubusercontent.com/assets/11868120/22774881/c92aeda4-eeb1-11e6-9647-55255e95e450.PNG)

[2017-02-09 08:28] #2069 closed, assigned to mertsincan

[2017-02-09 11:27] martin654 commented on #2045
Could this change be enough?

[code]

[2017-02-09 17:01] tandraschko commented on #2043
See my comment in the PR

[2017-02-09 17:02] tandraschko commented on #2051
Any reason why we should update?

[2017-02-09 17:06] tandraschko commented on #1220
I can't see how your PR is related to fix this issue.
Please provide more descirption and a complete example (xhtml + bean).

[2017-02-09 17:08] tandraschko commented on #2068
Please provide a small example, which is useable in the showcase. We don't have your DTO's and other dependencies.

[2017-02-09 17:11] tandraschko commented on #2040
We don't have a special blur handling in our JS. So please check with native jquery datepicker and ask the datepicker dev's.

[2017-02-09 17:11] #2040 closed, assigned to nobody

[2017-02-09 17:14] tandraschko opened #2070 "Remove deprecated jQuery.fn.size() calls"

[2017-02-09 17:14] #2070 closed, assigned to tandraschko

[2017-02-09 18:43] bodabela commented on #1220
It is not visiting the  child tree unless it has the matching nodeType.
If you visit a certain node content that has an EL content that is not matching the actual bean instance (e.g. has no attribute) you find the EL expression fail.

[2017-02-10 00:10] erickdeoliveiraleal commented on #2051
some bugs corrected

[2017-02-10 00:17] djmj opened #2071 "Mobile - support for inplace"
It seems inplace is not supported for mobile devices but would be a useful feature.

http://forum.primefaces.org/viewtopic.php?f=8&t=38722

[2017-02-10 00:31] djmj opened #2072 "Mobile - Styling lost when updating p:inputNumber"
I have an _p:inputNumber_ within a _pm:field_ and want to update it via ajax.

After update the styling is lost. It seems the client component is not rebinded.
For testing purpose i also added a _p:inputText_ in my panel (myNumber). This works.

## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? i dont know, do not have elite subscription
- Glassfish 4.1.1

[2017-02-10 00:56] djmj opened #2073 "Mobile - signature component not rendering on mobile renderkit"
I tried to use signature component on mobile renderkit, but it is not rendering. I thought it has mobile support.

Here a related forum thread.

http://forum.primefaces.org/viewtopic.php?t=45710&p=144390

## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest PrimeFaces version? i dont know
- Glassfish 4.1.1 mojarra 2.2.9
- firefox, IE

## 2) Expected behavior

Signature componen

[2017-02-10 08:43] #2051 closed, assigned to tandraschko

[2017-02-10 08:45] #2050 closed, assigned to tandraschko

[2017-02-10 09:01] tandraschko opened #2074 "JSF 2.3: Enhance UIRepeat supported types"

[2017-02-10 15:31] kukel commented on #2072
Did you miss the "important" parts when you created the new issue? Lots of info missing....

[2017-02-10 15:32] kukel commented on #2071
Did you miss the "important" parts when you created the new issue? Lots of info missing....

[2017-02-10 15:32] kukel commented on #2065
Did you miss the "important" parts when you created the new issue? Lots of info missing....

[2017-02-10 15:33] kukel commented on #2068
Yes, search google for MCVE and SSCCE

[2017-02-10 15:33] kukel commented on #2073
Did you miss the "important" parts when you created the new issue? Lots of info missing....

[2017-02-10 15:35] kukel commented on #2067
On PDF it can be done b y customizing the exporter. For Images use some java image library or the jdk... Should not be something PF provides

[2017-02-11 15:19] djmj commented on #2073
I updated the issue.

[2017-02-11 15:26] djmj commented on #2072
I updated the issue.

[2017-02-12 09:32] zsalab opened #2076 "Update WebcamJS to 1.0.21"
# ABSTRACT

Thanks to WebcamJS original developer the new released version contains iOS support and it fix a image deformation bug contains in the current primefaces master.
Primefaces integration now support single click snapshot on iOS devices. This version also improve primefaces multiple (active-passive) photocam support on a single page.

## 1) Environment
- PrimeFaces version: 6.1-SNAPSHOT
-

[2017-02-12 10:38] ahmedmaksoud opened #2078 "Internet Explorer 10 Issue"
## 1) Environment
- PrimeFaces version: 6
- Does it work on the newest PrimeFaces version?
- Application weblogic + 12c:
- Affected browsers: IE 10

## 2) Expected behavior
try to open http://www.primefaces.org/ultima/
with IE 10   10.0.92
...

## 3) Actual behavior

the page not rendered correctly and scroll appears at the butom  of the page

[2017-02-12 10:43] tandraschko commented on #2078
Use the ultima repository issue tracker, not the pf core.

[2017-02-12 10:43] #2078 closed, assigned to nobody

[2017-02-12 15:57] #2076 closed, assigned to tandraschko

[2017-02-13 06:25] Maikel-Nait commented on #1541
I'm also in need of this feature, and definitely we are not the only ones...

Several references in the forum are also made regarding this problem:
[http://forum.primefaces.org/viewtopic.php?f=3&t=46882&p=145699#p145699](http://forum.primefaces.org/viewtopic.php?f=3&t=46882&p=145699#p145699)
[http://forum.primefaces.org/viewtopic.php?f=3&t=45702&p=142962&hilit=add+tab#p142962](http://forum.primefa

[2017-02-13 11:22] martin654 commented on #2045
The same problem is with p:textEditor

[2017-02-13 11:40] mertsincan opened #2080 "Improve keyboard support on Overlay Menu"
When user presses tab key on trigger element, if menu is open, it will be closed.

[2017-02-13 11:41] #2080 closed, assigned to nobody

[2017-02-13 13:10] andrei-ivanov commented on #2069
btw, no release announcement for 6.0.15 on the blog?

[2017-02-14 08:08] mertsincan opened #2081 "Multiple FileUpload throws js error"
Reported By PRO User;

Single Drag'n'drop works fine, but dragging multiple files into upload component throws JS errors.

[code]

[2017-02-14 08:10] #2081 closed, assigned to nobody

[2017-02-14 08:23] enisinanaj opened #2082 "Clientsi"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-02-14 08:23] #2082 closed, assigned to nobody

[2017-02-14 08:24] enisinanaj commented on #2082
I apologise. Pressed enter by mistake.

[2017-02-14 13:23] mores opened #2083 "filtering and paginator can not be used together inside dialog tested on 6.0.13 and 6.0.15"
## 1) Environment
- PrimeFaces version: 6.0.13 and 6.0.15
- Does it work on the newest PrimeFaces version? No
- Application server + version: jetty 8.1.1.v20120215
- Affected browsers: chrome

## 2) Expected behavior
After filtering the datatable - the row you clicked on should be selected

## 3) Actual behavior
After filtering the datatable - the FIRST row is selected

## 4) Steps to reproduce
Ho

[2017-02-14 14:59] kcrews123 opened #2084 "Many extra updates after PrimeFaces upgrade"
As described in my post to the PrimeFaces forum, (http://forum.primefaces.org/viewtopic.php?f=3&t=49209&p=0&e=0&sid=9f707d11a4d78d9133b039cf4587c2d2), after upgrading from 5.0.10 to 6.0.13 we started getting many more calls to the server than we used to.  I tried it in a pre-release build of 6.0.14 and it also happens with that version. It seems that this change occurred between 5.2.13 and 5.2.14.

[2017-02-14 16:14] cnsgithub opened #2085 "p:selectManyMenu does not apply class or style to columns"
- PrimeFaces 6.0.15

Showcase code can be used to reproduce:

Neigher style, nor styleclass are applied to the p:column. Resulting in a bad layout when setting the width of the component manually.

[code]

[code]

[2017-02-14 16:25] tandraschko commented on #2084
As it's not a maven project, it can't just run it.
i reused your sources in the PF showcase and use myfaces instead of mojarra.

The showcase runs on 6.1-SNAPSHOT and "bogus" is never printed.
So no idea.
If you provide a maven project which can be started via "mvn jetty:run" - i could have a look again but currently it looks fine.

[2017-02-14 16:28] tandraschko commented on #2084
Thats my output:

2017-02-14 17:27:56.742 getExtraDropdownIsFiltered
2017-02-14 17:27:56.743 getExtraDropdownIsFiltered
2017-02-14 17:27:56.743 getExtraDropdownIsFiltered
2017-02-14 17:27:56.743 null
2017-02-14 17:28:01.312 getExtraDropdownIsFiltered
2017-02-14 17:28:01.318 toggleCalls
2017-02-14 17:28:01.318 setPeriodicCalls - true
2017-02-14 17:28:01.318 getExtraDropdownIsFiltered
2017-02-14 17:

[2017-02-14 17:08] kcrews123 commented on #2084
Thanks for looking into this.  I don’t have access to 6.1 snapshot, but I just downloaded 6.0.15 and still see the problem.

2017-02-14 12:05:03.595 receivePeriodicCallCommand 2

2017-02-14 12:05:03.597 getExtraDropdownIsFiltered bogus

2017-02-14 12:05:05.597 receivePeriodicCallCommand 3

2017-02-14 12:05:05.597 getExtraDropdownIsFiltered bogus

2017-02-14 12:05:07.596 receivePeriodicCallCommand

[2017-02-14 17:14] tandraschko commented on #2084
You can build it by source and try again ;)

[2017-02-15 01:25] zsuiqiang opened #2086 "Dialog Framework: dialogReturn is not called back in some case"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-02-15 12:30] mertsincan opened #2087 "LiveScroll issue on DataTable with filtering column"
Reported By PRO User;
Test xhtml
[code]

        Scroll to bottom of the DataTable to view the second set of records (30-34)
        Filter the record by Balance Code Eg: 1
	Remove the filter value
	Scroll down to bottom. Records(31 to 34) Missing

[2017-02-15 12:31] #2087 closed, assigned to nobody

[2017-02-15 12:34] #1740 closed, assigned to tandraschko

[2017-02-15 12:37] tandraschko opened #2088 "Make remoteCommand updateable"

[2017-02-15 12:37] #2088 closed, assigned to tandraschko

[2017-02-15 12:51] #1900 closed, assigned to tandraschko

[2017-02-15 18:54] Mobe91 opened #2089 "selectManyMenu: poor performance when selecting all elements"
In my view I have a single checkbox that triggers selectAll/unselectAll on a p:selectManyMenu. This is extremely slow for a large item set (~ 2000 elements).

Environment:
- PrimeFaces version: 6.0
Especially slow in Microsoft Edge

[2017-02-15 19:08] tandraschko commented on #2089
Did you try to optimize the old logic via plain JS methods instead jQuery? Not sure if cloning is the best way.

[2017-02-15 20:43] Mobe91 commented on #2089
No I did not try this, I just took most of the code from the `init` method. However, I did run profiling in MS Edge and the problem is that layouting is performed for each changed item which is extremely costly in total. I prevented this by modifying the cloned version of the DOM and reattaching it once all modifications have been applied. This results in 1 instead of n layouting invocations.
Can

[2017-02-15 20:48] tandraschko commented on #2089
Not sure - I mostly try to understand performance issues by myself but therefore i need a example like stated in the issue template ;)

[2017-02-15 21:15] Mobe91 commented on #2089
Well then give me a couple of days and I will put together a sample project with lots of select items ;)

[2017-02-15 22:35] hink084 commented on #1321
This filtering bug appears to have been fixed in #2087 via [80df8cf0674b585e2cb3743928ff30594b75e411] by @mertsincan.  However, the sorting issue is still at large.  I created pull request: #2092

[2017-02-16 05:50] Mobe91 commented on #2089
Attached the sample project:
[primefaces-test-project-2089.zip](https://github.com/primefaces/primefaces/files/779182/primefaces-test-project-2089.zip)

[2017-02-16 05:52] Mobe91 commented on #2089
I discovered my approach to show a minor performance penalty in chrome (~20 ms) whereas MS Edge massively benefits from it.

[2017-02-16 12:43] #2045 closed, assigned to tandraschko

[2017-02-16 14:45] B-R-Bender opened #2093 "p:selectOneButton onchange doesn't firing in filter facet"
Hello, could you, please, check p:selectOneButton behavior in filter facet, it seems like it doesn't firing onchange event.
I've replaced p:selectOneButton with p:selectOneMenu and it works as expected.

## 1) Environment
- PrimeFaces version: 6.0
- Application server + version: Tomcat 8.0.20
- Affected browsers: tested in google chrome

## 2) Expected behavior
onchange event firing like in p:sele

[2017-02-16 15:00] #1749 closed, assigned to tandraschko

[2017-02-16 15:01] tandraschko commented on #1749
Revert as one chart type was broken.

[2017-02-16 15:11] tandraschko commented on #2093
Tested the following in a filter facet works fine for me in the current 6.1 snapshot:
                            <p:selectOneButton onchange="console.log('asdasd2');">
                                <f:selectItem itemLabel="Yes" itemValue='1'/>
                                <f:selectItem itemLabel="No" itemValue='0'/>
                            </p:selectOneButton>

As you didn't provide all

[2017-02-16 15:11] #2093 closed, assigned to tandraschko

[2017-02-16 15:15] tandraschko commented on #2073
In 6.1 the mobile renderkit will be deprecated in favor of responsive features. So please provide a PR if would like to get this fixed.

Will close it for now and reopen if a PR is provided.

[2017-02-16 15:15] tandraschko commented on #2072
In 6.1 the mobile renderkit will be deprecated in favor of responsive features. So please provide a PR if would like to get this fixed.

Will close it for now and reopen if a PR is provided.

[2017-02-16 15:16] tandraschko commented on #2071
In 6.1 the mobile renderkit will be deprecated in favor of responsive features. So please provide a PR if would like to get this fixed.

Will close it for now and reopen if a PR is provided.

[2017-02-16 15:16] #2071 closed, assigned to nobody

[2017-02-16 15:16] tandraschko commented on #2065
In 6.1 the mobile renderkit will be deprecated in favor of responsive features. So please provide a PR if would like to get this fixed.

Will close it for now and reopen if a PR is provided.

[2017-02-16 15:16] #2065 closed, assigned to nobody

[2017-02-16 15:17] tandraschko commented on #2002
In 6.1 the mobile renderkit will be deprecated in favor of responsive features. So please provide a PR if would like to get this fixed.

Will close it for now and reopen if a PR is provided.

[2017-02-16 15:17] #2002 closed, assigned to nobody

[2017-02-16 15:17] #2072 closed, assigned to nobody

[2017-02-16 15:17] #2073 closed, assigned to nobody

[2017-02-16 15:18] tandraschko commented on #1761
In 6.1 the mobile renderkit will be deprecated in favor of responsive features. So please provide a PR if would like to get this fixed.

Will close it for now and reopen if a PR is provided.

[2017-02-16 15:18] #1761 closed, assigned to nobody

[2017-02-16 15:22] #1633 closed, assigned to tandraschko

[2017-02-16 15:23] #1220 closed, assigned to tandraschko

[2017-02-16 15:38] tandraschko commented on #1997
@ngriffin7a I think our JS method "extractParameterNamespace" in core.ajax.js still works as expected?

[2017-02-16 16:58] nivaldin commented on #2062
Almost same problem here... If I change the number of rows shown in a DataTable paginated, then try to show a dialog, it calculates its top position so big that it's not show on the page.

[2017-02-16 17:33] djmj commented on #2073
Just right after i send a quote request it gets deprecated. Will be interesting to see if the mobile specific features will still be supported, because mobile works well and is easy to develop with.

If i know the application will be used 100% on a mobile device i always prefer primefaces mobile. But i stay tuned what you have in mind for us.

[2017-02-17 06:51] cnsgithub commented on #1761
Hi, question: Does it mean all "pm:" tags will be deprecated or just the renderkit (Components at: http://www.primefaces.org/showcase/mobile/index.xhtml) ? Would it be possible to "mix" them with 6.1 then?

[2017-02-17 10:48] tandraschko commented on #2037
Will close it for now as even you can't replicate it.
Feel free to reopen if you have the steps to replicate. As you are also use some screen blocking, it might related to this.

[2017-02-17 10:48] #2037 closed, assigned to nobody

[2017-02-17 10:58] tandraschko commented on #1984
Please avoid binding. Binding in ViewScoped will always break something.
Also binding to the bean itself seams weird.
If you can reproduce this without binding or with another way of binding (to a member variable in a RequestScoped bean...)

[2017-02-17 10:58] #1984 closed, assigned to nobody

[2017-02-17 10:59] tandraschko commented on #1958
Where is the pull request? :P

[2017-02-17 11:03] tandraschko commented on #1933
@mertsincan will close it for now. Please reopen if you would like to fix this in the 5.3 branch.

[2017-02-17 11:03] #1933 closed, assigned to nobody

[2017-02-17 11:04] #1907 closed, assigned to nobody

[2017-02-17 12:37] tandraschko commented on #954
Please try with the upcoming 6.1-RC1 next week. If it still doesn't work, please reopen or create a new issue.

[2017-02-17 12:37] #954 closed, assigned to nobody

[2017-02-17 12:38] tandraschko commented on #946
Please try again with the upcoming 6.1-RC1 next week. We fixed some problems regarding dynamic resource loading. Otherwise please reopen.

[2017-02-17 12:38] #946 closed, assigned to nobody

[2017-02-17 12:39] tandraschko commented on #649
If the issue still persists, please create a new issue and provide every infos required by the issue template.

[2017-02-17 12:39] #649 closed, assigned to nobody

[2017-02-17 12:45] tandraschko commented on #339
Does it still occur with the current showcase?

[2017-02-17 12:47] tandraschko commented on #375
Will close it for now as no example is available.
You can still create a new issue, respect our issue template and provide a example.

[2017-02-17 12:47] #375 closed, assigned to nobody

[2017-02-17 13:00] tandraschko commented on #622
We use http://fullcalendar.io/ for our schedule component. I think it would be the best if you could create a feature request there. Will close it for now.

[2017-02-17 13:00] #622 closed, assigned to nobody

[2017-02-17 13:03] tandraschko opened #2095 "DefaultOrganigramNode should be serializable"

[2017-02-17 13:04] #2095 closed, assigned to tandraschko

[2017-02-17 13:08] tandraschko commented on #496
Would you like to provide a PR?

[2017-02-17 13:16] tandraschko commented on #1231
@cagataycivici how we generate the vdldoc? I can't see the dependency in the pom.

[2017-02-17 13:18] tandraschko commented on #1506
I assume that its already fixed. Please reopen if not.

[2017-02-17 13:18] #1506 closed, assigned to nobody

[2017-02-17 14:55] mertsincan opened #2096 "SelectableDataModel exception when selecting a filtered row"
Reported By PRO User;

javax.faces.FacesException: DataModel must implement org.primefaces.model.SelectableDataModel when selection is enabled or you need to define rowKey attribute
The exception is thrown from the DataTable.getRowData method.
When a row is selected the DataTable.processEvent method is called and since the filteredValue is not null the value of the data table is updated. The DataT

[2017-02-17 14:55] #2096 closed, assigned to nobody

[2017-02-17 15:26] tandraschko commented on #482
works fine for me.

[2017-02-17 15:26] #482 closed, assigned to tandraschko

[2017-02-17 15:31] #678 closed, assigned to nobody

[2017-02-17 15:32] #727 closed, assigned to nobody

[2017-02-17 15:34] tandraschko commented on #865
The link doesn't work anymore.
A example and a PR would be nice;)

[2017-02-17 15:37] #1049 closed, assigned to nobody

[2017-02-17 15:38] #1229 closed, assigned to nobody

[2017-02-17 15:47] jxmai commented on #1688
This issue was fixed via #2056. Closing.

[2017-02-17 15:47] #1688 closed, assigned to nobody

[2017-02-17 15:55] jxmai commented on #1942
The sample code has incorrect implementation and there is no update for months. Suggest to close this issue since it is working fine on 6.0 +.

[2017-02-17 16:00] #1942 closed, assigned to nobody

[2017-02-17 16:01] tandraschko commented on #1156
Works fine.
If you can still reproduce it with a current version, please create a new ticket and provide the examples requested in the issue template.

[2017-02-17 16:01] #1156 closed, assigned to tandraschko

[2017-02-17 16:09] #1992 closed, assigned to tandraschko

[2017-02-17 16:31] lagar84 commented on #339
Yes, still occurs in current showcase
(Running PrimeFaces-6.0.14 on Mojarra-2.2.8 - Omega Theme)
Firefox 51.0.1 (32-bit)

Google Chrome still working fine

[2017-02-17 17:28] appldo opened #2097 "Image caching for p:graphicImage still not working in every case"
For Version: Master

We use the Icarus Layout. There is a picture for the personalrecord in the upper right corner of every page. The picture was created dynamic with  p:graphicImage and is not correctly cached. It is loaded on every page with a different viewid, because the viewid is encrypted in the url.

Before #1765 for each dynamic image a url parameter "pfdrid" with a random String was creat

[2017-02-17 19:19] mertsincan opened #2098 "Potential infinite loop with ComponentTraversalUtils.first method"
Reported By PRO User;

[code]

[2017-02-17 19:20] #2098 closed, assigned to nobody

[2017-02-18 19:36] ErickPezoa commented on #1823
I am planning on paying the $99.00 for the PF Elite just for this feature but before I do, I have a question about the new textEditor. Let's say I write a paper on the editor and I add a lot of formatting (bullets, bold, headers, italics, etc.) and I submit the text to save it on the database. **When I come back to see the paper on the UI, will the textEditor remember all of the formatting?** _If

[2017-02-19 18:20] tandraschko commented on #2097
Old behavior with security bug:
- put encryted EL expression to the URL
- decrypt EL expression on resource request and invoke it

Old trunk behavior:
- generate a resourceKey based on view+clientId
- put the resourceKey to the url and remember resourceKey+elExpression in a session map
- on the resource request, get the EL expression via resourceKey and invoke it

behavior now:
- generated a resou

[2017-02-19 18:20] #2097 closed, assigned to tandraschko

[2017-02-19 23:17] ErickPezoa commented on #2024
How does chips work? The documentation on the PrimeFaces showcase is vague. For data type do I need to pass to value? Is it a list (array list?)?

[2017-02-19 23:40] ErickPezoa opened #2099 "outputLabel support for p:chips."
## 1) Environment
PrimeFaces version 6.0.15. Tomcat EE 8.5.6

## 2) Expected behavior
When I click on the corresponding chips label, the system should move to the chips component so that I can start typing.

## 3) Actual behavior
When I click on the corresponding chips label, the system doesn't put focus on the chips component.

## 4) Steps to reproduce
(See sample XHTML as reference)
1. Click on

[2017-02-20 06:17] martin654 commented on #1866
Same problem was with the o:messages from omnifaces:
https://github.com/omnifaces/omnifaces/issues/325
#325 - <o:messages> is now also supported in iterating components

**EDIT:** probably not related with omnifaces issue

[2017-02-20 09:01] tandraschko commented on #1866
Feel free to provide a PR  ;)

[2017-02-20 10:33] giorgioprimefaces commented on #2086
zsuiqiang,
do you have your app working in an iframe? I'm having the same issue with an app working with iframes, if I try to execute it without iframe everything works great, but if I put inside an iframe dialogreturn stops to work

[2017-02-20 19:40] mertsincan opened #2100 "[Documentation] InputNumber: add padControl"

[2017-02-20 21:25] Rapster opened #2101 "Readonly attribute should not prevent decoding value"
So far, all the PF components (which have a readonly attribute) do not decode submitted value, they behave as they were disabled.
Example:

[code]

I was wondering what is the difference between readonly and disabled, I read this post: http://stackoverflow.com/questions/7730695/whats-the-difference-between-disabled-disabled-and-readonly-readonly-for-ht, and I realize the isReadOnly shoud not be pa

[2017-02-21 08:27] tandraschko commented on #2101
Sorry, don't have time to check that link but why should it make sense to decode a read-only value, if it can't be changed on the client?

[2017-02-21 10:44] Rapster commented on #2101
Well, I have this use case where the input is not a free text but has to be filled through the selection of an element in a table. You have to imagine that, this component is used everywhere in our app, and this input can be free text sometimes, So we decided to reuse the same component, and play with disabled/readonlu. If it's not possible I will override the renderer. I opened this ticket only t

[2017-02-21 10:46] tandraschko commented on #2101
Not sure as the input can be changed easily with firebug or something, so it might a security thing ;)

[2017-02-21 12:18] djmj opened #2102 "Add PrimeFaces css to p:signature"
PrimeFaces version: 6.0.14 - see showcase

Instead of using the keith-wood simple css class _kbw-signature_ signature looks much better using PrimeFaces css classes _ui-inputfield ui-widget ui-state-default ui-corner-all_.

On readonly one could use _ui-widget ui-widget-content ui-corner-all_.

The _kbw-signature_ class is the single css rule in a separate css file. Unnecessary if using PrimeFaces

[2017-02-21 13:03] saurabhiitr opened #2103 "Autocomplete"
# IMPORTANT
- If you open an issue, fill every item. Otherwise the issue might be closed as invalid.
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your p

[2017-02-21 13:44] miguelkv opened #2104 "Class ui-widget on p:commandLink and p:link breaks Font Awesome"
The `p:commandLink` does not work with Font Awesome icons:

`<p:commandLink styleClass="fa fa-fw fa-search" />`

As verified by @djmj in #648, the reason for this is that PrimeFaces adds the `ui-widget` CSS class to the <a> tag, which have a different font ("`'titillium_webregular' !important`").

One workaround (or possible solution?):
`.ui-widget.ui-commandlink.fa{ font: normal normal normal 14p

[2017-02-21 14:12] tandraschko commented on #2103
#1478
next time use the search first.
Also the issue is invalid as you didn't answer the questions and didn't provide a example.

[2017-02-21 14:12] #2103 closed, assigned to nobody

[2017-02-21 16:16] mertsincan opened #2105 "Virtual Scrolling for DataTable"
Loads data on demand as the scrollbar gets close to the bottom.

Exp;
[code]

[2017-02-21 16:17] #2105 closed, assigned to nobody

[2017-02-21 20:40] mertsincan opened #2106 "Dialog issue with absolute positionType"

[2017-02-21 20:41] #2106 closed, assigned to nobody

[2017-02-21 20:46] mertsincan opened #2107 "Calendar ui issue when no. of weeks > 5"
Reported By PRO User;

This can be reproduced in showcase as well. Refer attached screenshots.

[2017-02-21 20:50] #2107 closed, assigned to nobody

[2017-02-21 21:04] Rapster commented on #2099
I plan to use this component as well, so I can take a look at it

[2017-02-21 22:12] #2101 closed, assigned to nobody

[2017-02-21 22:12] Rapster commented on #2101
Let's close it for now

[2017-02-22 12:24] hinneLinks opened #2108 "Building From Source - Missing Files"
For a seperate Bug i've tried to test it with the newest sources from Github, as described here: https://github.com/primefaces/primefaces/wiki/Building-From-Source

I can clone it, but can't compile it, since a lot of Java-Classes are missing, e.g. org.primefaces.component.ajaxexceptionhandler.AjaxExceptionHandler

If i try to locate that file with the GitHub-Website, I can't find it either (https

[2017-02-22 12:30] tandraschko commented on #2108
They are generated by maven.

[2017-02-22 12:30] #2108 closed, assigned to nobody

[2017-02-22 12:30] tandraschko commented on #2108
Next time use the forum for questions.

[2017-02-22 13:07] #1297 closed, assigned to nobody

[2017-02-22 13:07] mertsincan commented on #1297
Hi @Rapster,
Thanks for the PRs,but, we have some problem with them on Premium Layouts. Please see; http://forum.primefaces.org/viewtopic.php?f=42&t=49470

Therefore, I made some changes on your PR. Thanks again for your PRs.

[2017-02-22 13:15] Rapster commented on #1297
I made two PRs for this, this one should be enough https://github.com/primefaces/primefaces/pull/1571 I tested it recently and worked fine

[2017-02-22 13:39] martin654 commented on #1866
We invesitgated it a little bit more and found out that in org.primefaces.event.AutoUpdateComponentListener processEvent method the client ID of each p:messages "instance" is added into partial rendered IDs list.

The problem is that for p:messages inside ui:repeat the clientId does not contain iteration index. This means that component is not found when component tree is processed.

For example:

[2017-02-22 14:08] erickdeoliveiraleal commented on #448
eg
public class EAN13Generator implements BarcodeGenerator {
	public void generate(CanvasProvider canvasProvider, String value) throws IOException {
		EAN13Bean bean = new EAN13Bean();
		bean.setMsgPosition(HumanReadablePlacement.HRP_TOP);
		bean.generateBarcode(canvasProvider, value);
	}
}

[2017-02-22 14:17] mertsincan opened #2109 "Wrong checkbox style on SelectManyMenu with initial value"
Details; http://forum.primefaces.org/viewtopic.php?f=42&t=49409

[2017-02-22 14:21] #2109 closed, assigned to nobody

[2017-02-22 15:04] jessepeng opened #2110 "DataTable decoding does not consider dynamically added/removed columns correctly"
## 1) Environment
- PrimeFaces version: 6.0
- Application server + version: Tomcat 8.5.8 with Mojarra 2.2.14
- Affected browsers: all

## 2) Expected behavior

When adding/removing columns dynamically (e.g. using `getChildren().add()`), attached AJAX events to these columns or components inside these columns should get fired on every request. In detail, the `processChildren()` method should iterat

[2017-02-22 15:41] tandraschko commented on #1866
Yep. I don't think there is a easy way to make this work in render-time repeating tags. c:forEach would work.

Also i think using autoUpdate in repeating components is not a good design. I would just use it in very very global tags like a global error messages tag.

[2017-02-22 17:41] jederfreitas commented on #723
@cagataycivici it will not be released?in 6.0 milestone?

[2017-02-22 18:03] tandraschko commented on #723
6.0 is already released since some months ;) It seems there are no plans for it currently.

[2017-02-23 09:04] martin654 commented on #1866
We would have to call visitTree (with root set to context.getViewRoot()) to determine correct clientId with iteration index for each p:messages. This means that for every p:messages we would visit tree, which is not efficient. It would be bettter to visitTree once for all p:messages after the tree is restored. I suppose that this would be too expensive to visit whole tree including iterations for

[2017-02-23 09:42] tandraschko commented on #1866
It's simply not possible to use visitTree in this case, without rethinking the complete autoUpdateable feature.
AutoUpdateComponentListener listens on PostAddToView, which happens only once for the component and not for each iteration.

autoUpdateable in general is not a good practice in repeat components. As i said, it should be used for something very global.

Will close the ticket for now.

[2017-02-23 09:42] #1866 closed, assigned to nobody

[2017-02-23 11:03] mertsincan opened #2111 "Accessibility issue with p:calendar"
Reported By PRO User;

The tag that is being used is:
<pf:calendar id="cpDOB" navigator="true" pattern="MM/dd/yyyy" showOn="button" mask="true" maxlength="10"
autocomplete="off" value="#{pc_Application.cpDOB}" label="#{bundle['aol.label.dateOfBirth']}" binding="#{cpDOB

[2017-02-23 11:04] #2111 closed, assigned to nobody

[2017-02-23 12:46] kapitanrum opened #2112 "p:lifecycle has not set ignoreAutoUpdate=true"
## 1) Environment
- PrimeFaces version: 6.0.15
- Does it work on the newest released PrimeFaces version? no
- Does it work on the newest sources in GitHub? no
- Application server + version: Tomcat 8.0
- Affected browsers: All

## 2) Expected behavior
Do not refresh components with attribute autoupdate=true (p:messages, p:outputPanel, p:growl) for component p:lifecycle.

## 3) Actual behavior
Comp

[2017-02-23 17:14] tandraschko commented on #2112
Feel free to provide a PR.

[2017-02-23 23:42] ngriffin7a commented on #1997
@tandraschko I'm researching that and will get back to you with my findings.

[2017-02-24 13:33] #2112 closed, assigned to tandraschko

[2017-02-24 13:35] #1781 closed, assigned to tandraschko

[2017-02-24 14:18] #133 closed, assigned to tandraschko

[2017-02-24 15:29] #1478 closed, assigned to tandraschko

[2017-02-24 16:38] tandraschko commented on #2110
Please provide as sample java / xhtml as requested in the issue template.

[2017-02-24 18:47] robertpanzer opened #2114 "The children of a deferred OutputPanel should use the same ViewScope"
## 1) Environment
- PrimeFaces version: 6.0, 6.0.10 and 6.1-SNAPSHOT
- Application server + version: TomEE 7.0.2 with myfaces, but I've also seen this with Mojarra 2.2.13
- Affected browsers: Current version of Chrome and Safari on OS X

## 2) Expected behavior

When the content of a `<p:outputPanel deferred="true" deferredMode="load"/>` is rendered it should use the same ViewScope as used by the

[2017-02-24 20:13] tandraschko commented on #2114
No form -> no viewstate-id to post -> new view every post

[2017-02-24 20:13] #2114 closed, assigned to tandraschko

[2017-02-25 11:20] #2099 closed, assigned to tandraschko

[2017-02-25 12:24] melloware commented on #2064
Was informed through PRO account this will not be fixed and we should continue using the above solution...

[2017-02-25 12:24] #2064 closed, assigned to nobody

[2017-02-25 17:48] Rapster opened #2116 "DialogReturn event is not supported by menuitem"
## 1) Environment
- PrimeFaces version: PF 6.1-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Jetty 8
- Affected browsers: Chrome

## 2) Expected behavior

onCarChosen should be called by doing thi

[2017-02-25 19:33] robertpanzer commented on #2114
Thank you!

Sorry for spamming!

[2017-02-25 22:17] Rapster opened #2117 "Ajax menu item no longer work"
## 1) Environment
- PrimeFaces version: 6.1-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? Yes
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Jetty
- Affected browsers: Chrome

## 2) Expected behavior
Action should be executed

## 3) Actual behavi

[2017-02-26 10:44] tandraschko commented on #2117
Would you like to check if mojarra and myfaces always writes the ID on p:ajax attachable components (h:commandButton/link and else)? Otherwise we have to revert this new feature. (Would be great if you could do it today, we will likely release a RC1 tomorrow)

[2017-02-26 10:52] Rapster commented on #2117
MyFaces does this:

[code]

Mojarra does that:
[code]

Looks like we do like Mojarra

[2017-02-26 11:02] tandraschko commented on #2117
does that mean that no id is rendered (if not set as attribute) in MyFaces on a commandButton?

[2017-02-26 12:39] Rapster commented on #2117
I should've has indicate that MyFaces uses `HtmlRenderer` and Mojarra uses `HtmlBasicRenderer`. Primefaces uses his own renderer which his `CoreRenderer` as you know. Anyway, id is rendered every time in commandButton, there is no condition on this. I don't understand why sometime id is not rendered depdending the component

[2017-02-26 13:06] Rapster commented on #2117
I just have a deeper look on `OutcomeTargetButtonRenderer`, renderer used by `HtmlCommandButton` in Mojarra. id is not always rendered, while PF does. Is this correct? Looks like we should always call `shouldWriteId` before writing clientId

[2017-02-26 13:07] tandraschko commented on #2117
for me it makes sense to always render a clientId to a command/executing component.
I think it's micro-optimization in the JSF impls as a non-command-component mostly don't need a id in the markup.

[2017-02-26 13:12] tandraschko commented on #1900
Reverted this as will close it as won't fix. The JSF impls sometimes decides to not render the id of the components, so this will break existing functionality.

[2017-02-26 13:12] #2117 closed, assigned to tandraschko

[2017-02-26 14:40] Rapster commented on #2116
Already discussed here: http://forum.primefaces.org/viewtopic.php?f=3&t=32131 A ticket has been created as well #52 @cagataycivici  Do you think you could do something about it? I try to work on it, but I'm stuck as I don't see how to call `decodeBehaviors` on `UIMenuItem` from `BaseMenuRenderer`

[2017-02-27 09:02] mertsincan opened #2118 "PDF problem on Media component with IE"
Reported By PRO User;

...

[2017-02-27 09:16] sergi-mm commented on #1921
Hello, there ware any improvement with this issue? I wish I could help, but apart from the sample code, I don't know how to fix it.

[2017-02-27 12:17] tandraschko commented on #1921
Not sure if it fixes your problem but i always ´do something like this in my AbstractLazyDataModel:

[code]

[2017-02-27 13:09] erickdeoliveiraleal opened #2119 "Update Quill to 1.2.2"
Many bugs corrected