[2018-11-13 08:39] tandraschko commented on #4236
There is something wrong with shading:
org/primefaces/shaded/commons/io/FileCleaningTracker

this file shouldn't even be shaded

[2018-11-13 09:14] mertsincan opened #4237 "Add keyboard support to SelectOneListbox"
like picklist

[2018-11-13 09:16] #4237 closed, assigned to mertsincan

[2018-11-13 09:17] mertsincan commented on #1436
Duplicate of #4237

[2018-11-13 09:17] #1436 closed, assigned to nobody

[2018-11-13 09:22] Rapster commented on #4038
I definitely agree with your analysis. We'll have to think of a better design... Whenever I have some time, I'll try to propose something

[2018-11-13 09:43] mauromol opened #4238 "SelectOneRadio: support readonly"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Not with 6.2
- Application server + version: Tomcat 8.0
- Affected browsers: Firefox 63.0.1

## 2) Expected behavior
When I set `readonly="true"` on a `p:selectOneRadio` with `layout="custom"` I expect radio buttons to be rendered as read-only (not clickable).

## 3) Actual behavior
When I set `re

[2018-11-13 10:46] tandraschko commented on #4236
Fixed it. @mertsincan can you port it and test the attached project with elite?

[2018-11-13 10:46] #4236 closed, assigned to nobody

[2018-11-13 10:55] mertsincan commented on #4236
Thanks @tandraschko ;)

[2018-11-13 12:26] melloware commented on #2791
@cnsgithub  We pay a third party firm to penetration test our apps and we usually score very high mostly because of no SQL Injection, the JSF ViewState, CSRF, etc.   This was one of the only issues that was brought to my attention but I will look over the list and post anything else I found.

As for File Content detection not sure this is something that PF should add or not.  But I use [Apache Tik

[2018-11-13 12:36] tandraschko commented on #2791
what dependencies are required? tika-parsers?
i tried adding it to my application but this are ~60mb of required libs....

[2018-11-13 12:42] cnsgithub commented on #2791
I am also not sure. However, I could imagine an opt-in attribute like `allowMimeTypes` (comma-separated or something like that). Then if any mime types have been specified we could leverage the `java.nio.file.Files.probeContentType(Path)` method to match the types and let it up to the user (somehow document it in the user guide) which `FileTypeDetector` service providers are picked up from the cla

[2018-11-13 12:45] crocimi opened #4239 "TreeTable: support filterFunction"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? -
- Application server + version: Wildfly 10.0.0
- Affected browsers: all

## 2) Expected behavior
filterFunction can be used in treeTable (like dataTable)

## 3) Actual behavior
Funtion is not called

## 4) Steps to reproduce
1. Build a

[2018-11-13 12:49] melloware commented on #2791
The dependency I add is only...
[code]
I don't think my WAR's have grown that much adding this dependency.  Our WARS are about 25-35 MB total.

[2018-11-13 12:49] cnsgithub commented on #2791
Just wonder if it supports `0xCAFEBABE` as well? :wink:

[2018-11-13 12:56] tandraschko commented on #2791
@cnsgithub using Files#probeContentType/FileTypeDetector sounds good!

[2018-11-13 12:56] melloware commented on #2791
HA!   I do like your idea though of if PF detects Tika on the classpath use its detector.  Kind of like how other PF dependencies are optional.

[2018-11-13 12:57] tandraschko commented on #2791
AFAICS Tika would be automatically used by Files#probeContentType?!

[2018-11-13 12:58] cnsgithub commented on #2791
Yep, that would be the plan. See https://github.com/apache/tika/blob/master/tika-java7/src/main/resources/META-INF/services/java.nio.file.spi.FileTypeDetector :+1:

[2018-11-13 13:01] tandraschko commented on #2791
+1

if you provide a PR, please don't forget that we are still on java7 and we need a if (!java8) -> log.warn

[2018-11-13 13:08] cnsgithub commented on #2791
@tandraschko Why do we need a warning? `FileTypeDetector` is available since 1.7?

[2018-11-13 13:14] cnsgithub commented on #2791
So, let's derive steps that have to be done regarding this issue in detail and with consensus...

What about my thoughts posted in https://github.com/primefaces/primefaces/issues/2791#issuecomment-438152568 about renaming, server side validation, etc.?

[2018-11-13 13:19] tandraschko commented on #2791
oh ok :D i thought its available since 1.8

[2018-11-13 13:28] tandraschko commented on #2791
allowTypes is currently only evaluated on the client.
Could we reuse the same regex on the server? (lets talk about the naming later)

Also, allowTypes is used by the advanced js-based upload.
There is also "accept", which is used by the simple, non js-based, upload

This new features would then validate the mimetypes?

[2018-11-13 13:30] cnsgithub commented on #2791
Javascript and java regex should be the same and therefore be reusable at backend side, except for look-behinds, see https://en.wikipedia.org/wiki/Comparison_of_regular_expression_engines#Language_features.

[2018-11-13 13:49] cnsgithub commented on #2791
Okay, didn't know the `accept` attribute. It seems to be passed through to the HTML file input: `<input accept="file_extension|audio/*|video/*|image/*|media_type">`, see https://www.w3schools.com/tags/att_input_accept.asp for allowed values.

Maybe we could reuse the `accept` attribute as well at server side to perform the mime type checking.

[2018-11-13 14:02] cnsgithub commented on #2791
As far as I can see, the `accept `attribute is always passed through and used together with native file dialog. Can you confirm that?

[2018-11-13 14:05] tandraschko commented on #2791
Possible, cant remember

[2018-11-14 04:41] cossioricardo commented on #4223
Hi, i need how know to apply the themes, please can you help me?

[2018-11-14 05:26] cnsgithub commented on #4223
@cossioricardo
General information on how to apply a theme: [user guide](https://www.primefaces.org/docs/guide/primefaces_user_guide_6_2.pdf), section 8.1

If you have elite or pro subscriptions, you can download the latest version from https://www.primefaces.org/downloads/.
@mertsincan Despite PF 6.2.11 being released as mentioned in your [blog post](https://www.primefaces.org/primefaces-6-2-11-r

[2018-11-14 10:51] brunotacca commented on #1837
I have the same problem, as for now, one can't merge columns (or rows) with a responsive panelGrid, which is unfortunate (_IMHO_), at least columns should have an option to be merged.

The primeface's showcase of responsive design states "In combination with Grid CSS, ui-fluid style class provides fluid width for efficient use of space in screen." (https://www.primefaces.org/showcase/ui/misc/respo

[2018-11-14 14:43] dmainardi commented on #4052
I noticed that, if you add `field` (with or without `sortField`), you cannot see sorter (or `filter`). Did you @Holi60k fix your problem with the (sort of) path I wrote?

[2018-11-14 14:54] nandorholozsnyak commented on #4052
@dmainardi yes!
We were using the ```sortBy``` tag by default but after in one task we tried out the ```field``` and it worked, on the second day we upgraded the version than it did not work, but then we rewrote the datatable columns with ```sortBy``` :)

[2018-11-14 16:17] ravihariharan commented on #3056
@mertsincan  is fontawesome going to be deprecated and removed in support of PrimeIcons? i see that the showcase has removed  fontawesome  link.

[2018-11-14 17:10] melloware commented on #3056
I would vote against removing FontAwesome.  FontAweosme is great and should always be an option for PrimeFaces users.   I have no problem with PrimeIcons replacing Jquery ThemeRoller icons but FontAwesome should remain an option and we should upgrade it to latest FontAwesome.

Just my two cents.

[2018-11-14 21:24] anhquande opened #4240 "Charts: Model classes should implement Serializable"
## 1) Environment
- PrimeFaces version: 6.3.0
- Does it work on the newest released PrimeFaces version? Version? No, 6.3.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: does not matter
- Affected browsers: does not matter

In the new chart package (org.primefaces.model.chart

[2018-11-14 21:26] melloware commented on #4240
I can take this one

[2018-11-14 21:47] anhquande opened #4241 "selectBooleanCheckbox: shows Label twice when using attribute label"
## 1) Environment
- PrimeFaces version: 6.3.0
- Does it work on the newest released PrimeFaces version? Version? yes, 6.2.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: does not matter
- Affected browsers: all browsers

## 2) Expected behavior
- Label should be shown only o

[2018-11-15 05:16] cnsgithub commented on #4241
Related to https://github.com/primefaces/primefaces/commit/b12119aad40e9db23762ee67dfbcb38c65fd9151?

[2018-11-15 07:21] cnsgithub commented on #2791
PR: https://github.com/primefaces/primefaces/pull/4242

[2018-11-15 07:40] tandraschko commented on #4241
@Rapster please try to fix, otheriwse it's better to revert

[2018-11-15 07:43] Rapster commented on #4241
I'll fix it

[2018-11-15 09:00] Rapster commented on #4241
I can't reproduce your problem, although I had another problem using `itemLabel`. Please sync your repo and let me know if 5a2ce6dc3 fixed your problem

[2018-11-15 10:19] cnsgithub commented on #2791
@tandraschko @melloware Against my expectations I got stuck here. Basically the regex syntax itself should be compatible (ignoring the look-behind support) between java and javascript. However, as javascript has built-in language support for regex literals, which java of course does not have (just strings), things get a bit complicated. What `allowTypes` expects is a valid javascript regex literal

[2018-11-15 10:44] #4241 closed, assigned to Rapster

[2018-11-15 11:50] melloware commented on #2791
Ughhh.  I was afraid of that.  I knew the Regex's were different I didn't know they were THAT different.

I personally for the least breaking change actually like the using the JS Engine to evaluate the regex.  While it might be a slight performance hit we are talking about File Uploads so its not like its happening hundreds per second and its worth the benefit of the server side security check.

[2018-11-15 11:52] cnsgithub commented on #2791
@melloware I totally agree. @tandraschko suggested to make the content type checking an opt-in feature. We could introduce an `enableContentTypeChecking `attribute or something like that?

[2018-11-15 11:53] melloware commented on #2791
Also agree maybe "checkContentType=true" for the property?  Default it will be "false".

[2018-11-15 11:55] cnsgithub commented on #2791
Yep, I also agree with the default `false`. Let's wait for @tandraschko's opinion.

[2018-11-15 12:10] melloware commented on #4240
PR Submitted.

[2018-11-15 12:18] tandraschko commented on #2791
"checkContentType" with "false" as default -> +1

About the regex -> thats what i remember ;)
Could we reuse a java regex 1:1 in javascript?

[2018-11-15 12:39] cnsgithub commented on #2791
Nope, see first edit in https://github.com/primefaces/primefaces/issues/2791#issuecomment-438990409.

Just one more thing to keep in mind: as of java 11 nashorn built-in support has been deprecated: http://openjdk.java.net/jeps/335

[2018-11-15 12:45] tandraschko commented on #2791
Yep, therefore -1 for the ScriptEngine stuff.

We could also not convert it from js to java or vice versa?
Then we have 2 possible ways:
1) don't use on the server, it's also not very secure...
   -> the user must add tika and enable checkContentType to get a real validation
2) add a second attribute for java-style regex

[2018-11-15 12:46] melloware commented on #2791
Ughh I don't like it if they are removing it from the JDK I don't want to rely on it.  Can we compromise with maybe not a 100% solution but for convert the JS Regex to Java Regex using this guy's solution.

https://stackoverflow.com/questions/8754444/convert-javascript-regular-expression-to-java-syntax

It's not perfect but its also not the end of the world either as we are just trying to check fi

[2018-11-15 12:48] #4240 closed, assigned to nobody

[2018-11-15 13:04] cnsgithub commented on #2791
Oops, just pushed another commit to the branch having the `ScriptEngine` stuff included. Personally, I'd like it if there wasn't the warning about the deprecation. But as the JEP says, the deprecation might also be reverted in a future release... Could you please rethink about it? In my opinion it would be the most reliable solution. And we could denote in the user guide that when `checkContentTyp

[2018-11-15 13:07] cnsgithub commented on #2791
Also stumbled upon this stackoverflow, however I don't think it's sufficient in the end. I don't really like to implement that stuff, sorry. But feel free to adopt and modify my PR.

[2018-11-15 13:11] melloware commented on #2791
No problem.  Just trying to find a good compromise.

[2018-11-15 13:12] tandraschko commented on #2791
1) isCheckContentType -> i would name it validateContentType
2) validateContentType is currently also used for validating the file name, i would split up
3) if we do 2), we could also disable the ScriptEngine stuff independently from 1), if it doesn't work for 100% in some environments

[2018-11-15 13:19] cnsgithub commented on #2791
Rename the attribute? You just agreed with it in https://github.com/primefaces/primefaces/issues/2791#issuecomment-439021390.

Done.

[2018-11-15 13:29] tandraschko commented on #2791
i know sorry - but it is validation actually, so it's better to name it like this
even the utils method is called "isValidType"

[2018-11-15 13:35] cnsgithub commented on #2791
Done.

[2018-11-15 17:30] #2791 closed, assigned to nobody

[2018-11-15 17:32] tandraschko commented on #2791
@cnsgithub do we have to add additional code for tika now because it's not used automatically?

[2018-11-15 17:38] tandraschko opened #4244 "FileUpload: implement validateContentType"
Currently we just validate the filename.
With Files#probeContentType we can get the real content type and validate it based on the "accept" attribute.
The problem is that #probeContentType is not reliable enough and the validation is only secure when apache tika is included as dependency:
`<dependency>
  <groupId>org.apache.tika</groupId>
  <artifactId>tika-java7</artifactId>
  <version>1.19.1</ve

[2018-11-15 17:39] tandraschko commented on #2791
created a seperate issue for the validateContentType -> https://github.com/primefaces/primefaces/issues/4244

[2018-11-15 17:40] tandraschko opened #4245 "[Documentation] FileUpload: validateContentType"
see: https://github.com/primefaces/primefaces/issues/4244

validateContentType used Files#probeContentType to validate the file content.
Per default, the jdk implementation of Files#probeContentType is not reliable enough as it just checks the filename.
Files#probeContentTypes uses the jdk FileTypeDetector, which has a plugin mechanism via ServiceLoader.
Therefore users could add their own detecti

[2018-11-15 20:48] tandraschko commented on #4244
@cnsgithub it would also be great if we could make the validate method bit smaller, it's quite complex.
Maybe splitup into validateFileName and validateFileContent? I'm you sure you will find a good way :D

[2018-11-15 21:59] melloware opened #4246 "CheckStyle: Correct fix for remaining issues"
Submitting a PR which fixes the remaining CheckStyle issues that were handled by excluding them in Maven plugin.

The problem is IDE's like Eclipse don't respect those exclusions so you have to add them manually every time you import the project in Eclipse.  So this fix, correctly fixes all the remaining CheckStyle issues.

[2018-11-16 08:07] cnsgithub commented on #2791
@tandraschko Please see my continued PR #4249 that includes unit test cases that make use of Apache Tika. At least in the test environment it's picked up and used automatically (defined as test scoped dependency in pom.xml).

One tricky thing to note is a short circuit of Apache Tika's implementation, see https://github.com/apache/tika/blob/master/tika-java7/src/main/java/org/apache/tika/filetyped

[2018-11-16 08:10] cnsgithub commented on #4244
Not sure if `tika-core` includes `tika-java7` as well which contains the service provider implementation?

[2018-11-16 08:11] #4112 closed, assigned to nobody

[2018-11-16 08:12] tandraschko commented on #4244
me neither, would be great if you can check it.

[2018-11-16 08:18] cnsgithub commented on #4244
Nope, `tika-core `doesn't work, we need `tika-java7 `(which includes tika-core, but not the other way around):
[code]

[2018-11-16 08:26] tandraschko commented on #4244
Good that tika-java7 is optional, the dependecies are ~50mb ;)

[2018-11-16 08:27] tandraschko commented on #4244
it's actually a no-go for such a small feature.

[2018-11-16 08:30] cnsgithub commented on #4244
I agree, that's really big. That's because tika is not only able to recognize content types by some magic bytes, but also supports extraction of meta data from various file formats...

Edit: Maybe excluding tika-parsers may decrease the size...

[2018-11-16 08:35] cnsgithub commented on #4244
Just as a side note, it would be appropriate, if servlet containers would make use of frameworks like Apache Tika to properly prefill `javax.servlet.http.Part#getContentType` for example...

[2018-11-16 08:37] tandraschko commented on #4244
tika-parsers is the same size or nearly the same.
tika-core isn't enough, right?

[2018-11-16 08:39] cnsgithub commented on #4244
I thought WITHOUT tika-parsers. This is probably the biggest module.

That's right.

[2018-11-16 08:40] tandraschko commented on #4244
ahh :D
ok, plz try :P

[2018-11-16 08:50] cnsgithub commented on #4244
Seems to work with this configuration, but cannot guarantee that detection is as reliable as before:

[code]

[2018-11-16 08:56] tandraschko commented on #4244
could we verify this via unittests?

[2018-11-16 08:58] cnsgithub commented on #4244
I've already provided a bunch of tests, mostly using magic numbers. But that's of course in no way exhaustive.

[2018-11-16 08:59] cnsgithub commented on #4244
Maybe you could ask Apache folks about that? :P

[2018-11-16 09:01] tandraschko commented on #4244
why me? :D i don't even use fileupload ;)

[2018-11-16 09:01] cnsgithub commented on #4244
Because you are the member of Apache Software Foundation, not me! ;)

[2018-11-16 09:03] tandraschko commented on #4244
everyone can ask questions on the dev mailing list :P

[2018-11-16 09:07] cnsgithub commented on #4244
Actually I would leave the decision to `p:fileUpload `users if they are willing to include hundreds of thousands of bytes or not. Users might even have there own SPI implementations plugged in. So I think it's not worth the effort from the PF side. I would simply recommend to include `tika-java7 `in the user guide and that's it.

Edit: Maybe my answer would have been different if Apache Tika had i

[2018-11-16 09:23] cnsgithub commented on #4244
Done, PR: https://github.com/primefaces/primefaces/pull/4249

[2018-11-16 09:59] #4244 closed, assigned to nobody

[2018-11-16 12:24] paolopiccinini opened #4251 "TextEditor: ajax listener method not called"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? No Version? 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: WebSphere 8.5
- Affected browsers: All

## 2) Expected behavior
The ajax method listener should be called

## 3

[2018-11-16 12:39] #4246 closed, assigned to nobody

[2018-11-16 12:44] #4251 closed, assigned to nobody

[2018-11-16 12:46] tandraschko opened #4252 "TextEditor / Editor: should skip decode if disabled/readonly"

[2018-11-16 12:47] #4252 closed, assigned to nobody

[2018-11-16 19:01] maeichris opened #4253 "BubbleChart: allow fractional X, Y, and radius values in BubbleChartSeries"
BubbleChartSeries takes only integers for the X and Y values.  This is very limiting, especially when the numbers are fractional over a small range, for example, between 0 and 2.  Of course it is less limiting when the numbers are large, as in the showcase example.

## 1) Environment
- PrimeFaces version:
6.2 (Community)

- Does it work on the newest released PrimeFaces version? Version?
No.

- Do

[2018-11-16 20:28] tandraschko commented on #4253
please create a additional issue for the documentation and remove the info from here.
we always have seperate documentation issues as the documentation is created much later, before the final release.

[2018-11-16 20:41] maeichris opened #4254 "[Documentation] Minor/easy documentation errors in BubbleChartSeries and BubbleChartModel"
There are a couple of errors in the 6.2 documentation (and all the earlier versions I looked into) regarding BubbleCharts under section 3.16.16 Chart API.

The documentation for "BubbleChartSeries" says "org.primefaces.model.chart.BarChartSeries extends org.primefaces.model.chart.ChartSeries".  This is a copy-paste error (notice Bar instead of Bubble); it should just say "org.primefaces.model.char

[2018-11-16 20:53] tandraschko commented on #4253
Thanks. A PR is very welcome :P

[2018-11-16 20:58] maeichris commented on #4253
If I can get the time, I'll give a go at it this weekend.  Warning: I don't know what I'm getting into.

"We do things not because they are easy, but because we thought they were going to be easy." - The Programmer's Credo

[2018-11-17 21:50] Victor-Ovchinnikov opened #4255 "imageCropper: stop working after browser updated"
## 1) Environment
- PrimeFaces version: 6.2 and on-site demo
- Affected browsers: Chrome Version 70.0.3538.77 (Official Build) (64-bit), Firefox 63.0 (64-bit)

## 2) Expected behavior
Crop area displayed after load

## 3) Actual behavior
Crop area not displayed after load, can't select crop area

## 4) Steps to reproduce
Visit PF demo https://www.primefaces.org/showcase/ui/multimedia/cropper.xhtml

[2018-11-17 22:59] cnsgithub commented on #4244
Just posted to dev@tika.apache.org, permalink: https://lists.apache.org/thread.html/a944008199d4c6d0f47c5ddcb8b1041672072eb835ae526db546f2d3@%3Cdev.tika.apache.org%3E

[2018-11-17 23:22] cnsgithub opened #4256 "fileUpload: virus scan"
Just an idea for further enhancement of `p:fileUpload` in terms of security: automatic virus scanning by providing an opt-in `performVirusScan` attribute.

Therefore I would recommend to use the [VirusTotal file-report API](https://developers.virustotal.com/v2.0/reference#file-report) that may be used after free registration and obtaining an API key (→ `primefaces.PRIVATE_VIRUSTOTAL_KEY` context p

[2018-11-18 12:33] melloware commented on #4256
@cnsgithub I love this idea.  I have some thoughts and questions...

**Thoughts:**
My current client uses [ClamAV](https://www.clamav.net/) and we wrote some code that takes the PF FileUpload and streams it to ClamAV and it reports back virus or not.   It works quite fast and our Penetration testers were impressed as they were not able to get a virus by it.  This is also useful for private institu

[2018-11-18 12:36] melloware commented on #4255
We have seen other Chrome 70 related components stop working like Touch Support because of some API changes in Chrome.  I bet this is related.

[2018-11-18 12:41] melloware commented on #4255
I will see if I can upgrade this component to a newer version of the plugin.

[2018-11-18 12:50] melloware commented on #4136
I think your suggestion of StreamContent was on Cagatay's list years ago as there is this open ticket: https://github.com/primefaces/primefaces/issues/12

[2018-11-18 12:55] cnsgithub commented on #4256
I see. That's a very good point. We could even do some more sophisticated stuff and define a `org.primefaces.spi.VirusChecker` interface (like `java.nio.file.spi.FileTypeDetector`) and bundle with PrimeFaces a default `VirusTotalVirusChecker` implementation of this SPI. That would already be a very good starter with the possibility for governments or other organizations that restrict internet acce

[2018-11-18 13:02] tandraschko commented on #4256
+0,5

i think there are good security improvements, which are not only bound to fileupload like CSP
but if you time, feel free to work on it

[2018-11-18 13:27] melloware commented on #4256
@tandraschko those are good points, @cnsgithub I think your CSP implementation looks really good and I was able to test it out and didn't find any issues.  Any chance we can get that merged before PF 6.3?

[2018-11-18 22:12] tandraschko opened #4257 "[perf] reduce objects created by MessagesRenderer and set initialSize"

[2018-11-18 22:21] #4257 closed, assigned to nobody

[2018-11-19 07:07] cnsgithub commented on #4256
@melloware Puh, since https://github.com/primefaces/primefaces/pull/3884 to introduce CSP is experimental only, I'd not recommend to merge it before 6.3 unless we explicitly mention its experimental state in the user guide. There are still some open steps (4 out of 8) and things that won't work. And the PR is outdated. Let's further discuss in https://github.com/primefaces/primefaces/pull/3884. Th

[2018-11-19 10:03] tandraschko opened #4258 "Introduce StaticMessage"

[2018-11-19 10:04] #4258 closed, assigned to nobody

[2018-11-19 10:04] tandraschko commented on #3981
see: https://github.com/primefaces/primefaces/issues/4258

[2018-11-19 11:15] cnsgithub commented on #4256
PR: https://github.com/primefaces/primefaces/pull/4259

[2018-11-19 12:27] tandraschko opened #4260 "[Documentation] add StaticMessage"

[2018-11-19 14:23] mertsincan commented on #3807
We decided to add this fix to Elite version.

[2018-11-19 19:33] melloware commented on #4136
Touch support should be improved with this PR: https://github.com/primefaces/primefaces/pull/4261

It doesn't fix your Dynamic Content issue but one thing at a time. 😄

[2018-11-19 20:05] #4255 closed, assigned to nobody

[2018-11-19 20:30] markusg80 commented on #4136
Yes i see! But why you not change to cropper.js? In my project i implement with javascript only without creating jsf component, and it works like a charm! The picture data i send as base64 src attribute! My Problem is only that i hav‘nt any experience in developing jsf Components and i‘m involved in many other projects at the moment. So till now it wasn‘t possible for me to find the time to recrea

[2018-11-19 20:32] melloware commented on #4136
I always get the short term fix it for release or for people using the current component and since Chrome 70 broke JCrop we had to get that updated to fix the problem.   The longer term is rewriting the component entirely to use a newer plugin like cropper.js.  Also JCrop is creating modern version 3.0 as well so it will be up to PF what to switch to.

[2018-11-20 09:50] NEOMNI commented on #2838
Is the "ignoreAutoUpdate=true" property also affected by this, as it can be set for the Button and Ajax components?

[2018-11-20 09:51] tandraschko commented on #2838
should work as before

[2018-11-20 10:24] NEOMNI commented on #2838
Thanks for the quick reaction!

[2018-11-20 10:32] tdtappe opened #4263 "OverlayPanel: Top position out of view"
1) Environment
Reproduceable with current showcase (6.2.11), primefaces-test-master sample project (6.2 - see below) and my app (6.2.1 with Wildfly 13.0.0.Final)
Browsers: Firefox 63.0.3 and Chrome 70.0.3538.110

2) Expected behaviour
The top of the overlay panel should always be visible (no negative top-value)

3) Actual behaviour
If the browser window is too small the overlay panel is moved to t

[2018-11-20 11:50] mertsincan opened #4264 "f:param non longer working with p:splitButton"
Reported By PRO User;

[2018-11-20 11:51] #4264 closed, assigned to mertsincan

[2018-11-20 14:44] Naldorenses commented on #3629
Hey there, I am sorry if I shouldn't have posted this here. My question would be if we can expect this issue to be fixed with 6.3? We found this issue to occur in our company as well. Could you also make sure to cover every component, we also experienced this under inputText?

Once again sorry if this is the wrong place to post this, we didn't mean to step on anyone's toes.

[2018-11-20 15:05] macbyte0815 opened #4265 "Gmap: Ajax OnOverlaySelect"
- Please use the naming convention for the title:
  Gmap: ajax overlayselect

## 1) Environment
- PrimeFaces version: 6.2.10/primefaces/wiki/Building-From-Source)
- Application server + version: Wildfly 14.0
- Affected browsers: Chrome + Firefox

## 2) Expected behavior
After clicking on a Marker Gmap Info Window Opens

## 3) Actual behavior
Nothing Happens - Copied the stack Trace
WARNING [javax.

[2018-11-20 15:09] tandraschko commented on #4265
This is not a runnable exmaple -> we don't have something like ArztPraxis
so please create a mvce

[2018-11-20 22:31] Rapster commented on #4264
And it worked before 6.2.11?

[2018-11-21 07:19] cnsgithub commented on #4244
Response from @tballison

What do you guys think?

[2018-11-21 08:42] macbyte0815 commented on #4265
Was working in Version 6.1.8
Since i Updated to Version 6.2.10 i got this error like the stacktrace
I will make today a Running Exaple MVCE

[2018-11-21 10:33] cnsgithub commented on #3875
I managed to reproduce this issue only with Mojarra, it doesn't seem to be directly related to the CDATA issue. The Mojarra `PartialResponseWriter `fails to remove unicode characters which are not allowed according to the XML1.0 spec, threrefore the browsers cannot parse the ajax response.

I opened a separate issue at Mojarra for this: eclipse-ee4j/mojarra#4516

@tandraschko maybe add the securit

[2018-11-21 10:35] tandraschko commented on #3875
But it's not related to PF then? Does it work in MyFaces?

[2018-11-21 10:46] cnsgithub commented on #3875
Not directly I think. Client side handling fails with a different error because JQuery is used instead of a plain ``XMLHttpRequest``, but if the ResponseWriter is fixed in Mojarra, it should work for Primefaces as well.

Haven't tested MyFaces yet.

[2018-11-21 10:55] cnsgithub commented on #3629
See https://github.com/eclipse-ee4j/mojarra/issues/4392.

[2018-11-21 12:42] tandraschko commented on #3875
I would be great if you can try it - primefaces-test offers a way to run with myfaces.
Could we close the issue then`?

[2018-11-21 16:30] cnsgithub commented on #3875
Just tried it with myfaces. The \u000C used in the Mojarra example is handled properly there.

But if you try the whole range of illegal XML characters, the same type of error occurs. See the myfaces branch in [cnsgithub/mojarra-ajax](https://github.com/cnsgithub/mojarra-ajax/tree/myfaces).

[2018-11-21 17:31] cnsgithub commented on #3875
@tandraschko Since you seem to be very active there, maybe you are interested in fixing this at https://github.com/apache/myfaces? 😛

Doing it the OWASP way should do it: https://github.com/OWASP/owasp-java-encoder/blob/master/core/src/main/java/org/owasp/encoder/XMLEncoder.java

And maybe the CDATA stuff as well:
https://github.com/OWASP/owasp-java-encoder/blob/master/core/src/main/java/org/owasp

[2018-11-21 17:48] cnsgithub commented on #3875
Since we do not render the `partial-response` XML in [PrimePartialResponseWriter](https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/context/PrimePartialResponseWriter.java) ourselves (because we simply delegate all `writes` to the wrapped `PartialResponseWriter` i.e. the myfaces or mojarra implementation) this issue seems not to be related to PrimeFaces.

In short,

[2018-11-21 20:11] tandraschko commented on #3875
i'm very active in refactoring old code for 3.x, yes :D
Feel free to create issues there and provide a PR + unittest. I can merge it ;)

PrimeFaces is a component library, we should not fix bugs in the implementations by wrapping and wrapping and wrapping code of the JSF impls.
I can not talk about Mojarra (i'm not a commiter there) but in MyFaces we can simply fix the bug and do a release.

[2018-11-21 20:11] #3875 closed, assigned to nobody

[2018-11-22 08:34] cnsgithub commented on #3875
@tandraschko [MYFACES-4266](https://issues.apache.org/jira/browse/MYFACES-4266)

[2018-11-22 08:56] #3214 closed, assigned to tandraschko, mertsincan, cnsgithub

[2018-11-22 08:57] mertsincan commented on #3214
Thanks a lot, @cnsgithub ;)
We decided to add this fix. Github files seem confused. So I've added it manually. Could you please check it?
Many thanks.

[2018-11-22 09:09] tandraschko commented on #3875
+1
thanks

[2018-11-22 09:54] mertsincan opened #4267 "The action of menuitem doesn't work correctly on Dynamic SplitButton"
Details; https://forum.primefaces.org/viewtopic.php?f=3&t=57422

[2018-11-22 09:54] #4267 closed, assigned to mertsincan

[2018-11-22 11:34] #4217 closed, assigned to mertsincan

[2018-11-22 12:31] melloware commented on #3214
So does this mean PF brings in the Sanitizer and Guava no matter what now?

[2018-11-22 12:32] tandraschko commented on #3214
yes
if someone uses textEditor, he must add the sanitizer + guava dependency
we will not shade it until the sanitizer removes guava

[2018-11-22 12:33] #4224 closed, assigned to nobody

[2018-11-22 12:36] melloware commented on #3214
OK then doesn't the dependency need to be marked with optional or provided and with newer 20181114.1 version?

[code]

[2018-11-22 12:58] melloware opened #4268 "Global: Serializable and serialVersionUID missing"
**Example warning:**  "_The serializable class OrganigramNodeCollapseEvent does not declare a static final serialVersionUID field of type long_"

While this may seem like boilerplate code it is not and it actually causes the compiler to recalculate a hash on the fly every time.

**From Joshua Bloch's book Effective Java:**

**Proposal:** I propose to submit a PR adding the serialVersionId to all t

[2018-11-22 13:09] tandraschko commented on #4268
we should check the current JDKs before, if there is really a difference. IMO its just boilerplate and we should only apply it if there is a performance difference or we use it correctly.

[2018-11-22 13:11] melloware commented on #4268
Still true as of JDK 11.  https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/io/Serializable.html

[2018-11-22 13:40] melloware commented on #3214
OK just so we are all on the same page.  I just tried to run the PF Extensions showcase and got this error parsing faces-config.xml.

So to me it appears this dependency is NOT optional and is now a required compile time dependency.  I am OK with that but then we need to remove the "provided" marker and let everyone know that HTML sanitzier and Guava are now coming with PrimeFaces as transitive de

[2018-11-22 13:45] tandraschko commented on #3214
i will fix this to make it optional

still bit unhappy with everyting
adding 2,5mb guava for a 200kb lib is bullshit... -> https://twitter.com/olivergierke/status/1065195542916067328

[2018-11-22 13:49] tandraschko commented on #4268
where exactly?

[2018-11-22 13:49] tandraschko commented on #4268
The text is bit long ;)

[2018-11-22 13:50] mertsincan opened #4269 "Improve PrimeIcons style on core.css"

[2018-11-22 13:50] #4269 closed, assigned to mertsincan

[2018-11-22 13:51] mertsincan commented on #4269
Added the only elite version. Community version contains this enhancement.

[2018-11-22 13:58] cnsgithub commented on #3214
@mertsincan I'm happy to read that! :beer:

[2018-11-22 14:10] melloware commented on #4268
Its the last paragraph of the Javadoc header.

[2018-11-22 14:11] tandraschko commented on #4268
All right, then plz proceed :)

[2018-11-22 14:12] ludekz opened #4270 "Confirm : wrong evaluation of disable attribute in datatable"
## 1) Environment
- PrimeFaces version: 6.2.11
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? -
- Application server + version: -
- Affected browsers: -

## 2) Expected behavior
Confirm dialog should show after clicking on the button only when "p:confirm disabled="  is false and should not appear for rows with "p:confirm disabl

[2018-11-22 14:14] ludekz commented on #4270
May be related to issue #4125

[2018-11-22 15:07] melloware commented on #4253
@maeichris I fixed it with the PR it was a relatively simple change.

[2018-11-22 15:07] tandraschko commented on #3214
@melloware could you retest? (If possible please also test the warning log, no time left for me today)

[2018-11-22 15:12] #4268 closed, assigned to nobody

[2018-11-22 15:14] melloware commented on #3214
@tandraschko Looks great I was able to start the PE Showcase without the HTML sanitizer dependency.

[2018-11-22 15:15] tandraschko commented on #4270
PR welcome

[2018-11-22 15:21] wsaca commented on #4237
@mertsincan This change added the next error "TypeError: $.ui is undefined".

[2018-11-22 17:05] melloware commented on #1431
I think this is fixed with this ticket: https://github.com/primefaces/primefaces/issues/3943

New "multiple" attribute makes it like an accordion behavior you want.

@tandraschko @mertsincan  I think this is safe to close.

[2018-11-22 17:09] melloware commented on #1973
@wandyer Is this still an issue now that IOS is up to 12.1?

[2018-11-22 17:11] wandyer commented on #1973
It seems to work fine now on iOS 12.0 and Google Chrome

[2018-11-22 17:11] #1973 closed, assigned to nobody

[2018-11-22 17:12] melloware commented on #1973
Awesome thanks for checking and closing the ticket!

[2018-11-22 17:14] melloware commented on #3899
@euanmat were you ever able to reproduce this?  If not I suggest closing this ticket as I can't reproduce your issue.

[2018-11-22 18:27] #3899 closed, assigned to nobody

[2018-11-22 18:28] euanmat commented on #3899
As suggested, I am closing this issue, because I wasn't able to reproduce it outside the project, thank you.

[2018-11-22 18:35] #4129 closed, assigned to nobody

[2018-11-22 20:24] #3243 closed, assigned to nobody

[2018-11-22 20:24] #1431 closed, assigned to nobody

[2018-11-22 20:28] #4253 closed, assigned to nobody

[2018-11-23 12:12] #4270 closed, assigned to mertsincan

[2018-11-23 12:59] mertsincan commented on #3056
Please see; https://github.com/primefaces/showcase-facelift/issues/1#issuecomment-441232764

[2018-11-23 12:59] #3056 closed, assigned to mertsincan

[2018-11-23 13:07] tandraschko commented on #3056
@mertsincan basically +1 to remove the fontawesome code from PF and reuse webjars after 6.3
however, we should add the styles for supporing fontawesome5.x in our base, too
probably we just need to enhance the ".fa" to also include ".fab, .fas, .far, .fal"

AFAICS we only have 2 places in PF (core.css and forms.css)

[2018-11-23 13:20] melloware commented on #3056
I agree with @tandraschko we should have Font Awesome 4.x and 5.x support in the PF CSS so users if they prefer or want to use FontAwesome can just drop in the web jars.

[2018-11-23 13:46] mertsincan commented on #3056
@tandraschko Yes, we'll add them to core.css(For next community version, a new Github issue can be created) and remove only fontawesome.css and fontawesome webfont files(such as *.ttf, *.svg etc.)

We can make additions to this line.
https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/core/core.css#L99
Exp; .ui-widget .ui-icon.fab, .ui-widget .ui-i

[2018-11-23 13:47] melloware commented on #3484
I can't reproduce this and there has been no response for more info from OP. I say we close this issue.

[2018-11-23 13:55] Rapster commented on #3256
New feature? Enhancement perhaps

[2018-11-23 14:00] melloware commented on #2248
@slovi Is this still true in the latest FireFox Quantum 62+ against PF 6.3-SNAPSHOT?

[2018-11-23 14:12] #3484 closed, assigned to nobody

[2018-11-23 14:14] tandraschko opened #4276 "Add support for FontAwesome 5.x"
PF is still delivered with 4.x but users can manually include 5.x
We must just adjust our styles

[2018-11-23 14:16] tandraschko commented on #3056
see: https://github.com/primefaces/primefaces/issues/4276

[2018-11-23 14:17] #4276 closed, assigned to tandraschko

[2018-11-23 15:27] ravihariharan commented on #2795
@tandraschko / @melloware

i had the same issue and then found we need to set tooltip =true for p:schedule.

USER GUIDE 6.2--> page 434
-->tooltip false Boolean Displays description of events on a tooltip

USER GUIDE 6.1 --> page 429
tooltip false Boolean Displays description of events on a tooltip.

USER GUIDE 6.0 --> page 417
tooltip false Boolean Displays description of events on a tooltip.

[2018-11-23 17:10] melloware commented on #1448
It has been a couple of years.  Is this still an issue on the latest showcase and Android versions?

[2018-11-23 17:13] Rapster commented on #1833
I'm facing this problem in 6.2, but seems to be fixed in 6.3 @Nikoas83 @Mitsch79 can you have a try?

[2018-11-23 17:37] melloware commented on #884
Can someone check this with the latest Showcase and IE11 to determine if this is still an issue?

[2018-11-23 17:38] melloware commented on #881
@tandraschko @Rapster  safe to close this enhancement ticket since Layout is deprecated.

[2018-11-23 17:40] Rapster commented on #881
Agreed

[2018-11-23 17:40] #881 closed, assigned to nobody

[2018-11-25 16:21] melloware commented on #3760
@CJBinder Can you provide the code you used to fix it?

[2018-11-25 16:30] melloware commented on #201
@tandraschko Tested on IE11 using the latest showcase and I can't reproduce.  Safe to close this issue.

[2018-11-25 16:32] #201 closed, assigned to nobody

[2018-11-25 17:42] Rapster opened #4278 "Core: Display readonly input component as text"
In a lot of web application, data displayed as input can also be displaying as output. For exemple, creation of a user and detail of a user. Basically, it'll show the same info but only the components change: input (creation) -> output (detail). In our company, we have a bean called `mode` which has 2 values: READ/UPDATE. Depending the mode set, we'll display the input or the ouput. For that, we c

[2018-11-26 08:50] OBreidenbach commented on #4278
👍 We do pretty much the same.
I am just not sure if there is always a generally valid read only view for all the input components.

[2018-11-26 09:13] Rapster commented on #4278
Yes I know, this is why I said "more or less all the input components". My thougths are, for:
- multiple values (like PickList, Chips, Autocomplete etc.): display them with a separator (e.g Berlin, Paris, London)
- simple value: simple text (e.g Berlin)

Though for Rating, we should keep it as it is. ColorPicker could be a simple box filled with a color or rgb code? I'd like to implement that from

[2018-11-26 09:14] AnkitaNalawade88 commented on #4026
Can someone provide me this fix, i am facing issues while navigating to different pages, my context root gets changed.
i am using latest version of primefaces ..i.e.
<primefaces.version>6.2</primefaces.version>
		<primefacesExt.version>6.2.4</primefacesExt.version>

Please guide, which version supports menu item / url navigations .. ???

[2018-11-26 09:25] AnkitaNalawade88 commented on #3819
Can someone provide me this fix, i am facing issues while navigating to different pages, my context root gets changed.
i am using latest version of primefaces ..i.e.
<primefaces.version>6.2</primefaces.version>
<primefacesExt.version>6.2.4</primefacesExt.version>

Please guide, which version supports menu item / url navigations .. ???

[2018-11-26 09:27] tandraschko commented on #4026
Check the migration guide, you have do adjust your code.

[2018-11-26 12:25] #953 closed, assigned to nobody

[2018-11-26 12:27] tandraschko commented on #4278
Basically i like the idea, however we should start the discussion after 6.3.
It could even be possible with just CSS (also its not the nicest way).

[2018-11-26 13:16] mertsincan opened #4279 "Vertical Scrollbar issue on SlideMenu on FF"
Added line-height property for .ui-menuitem-link to Nova and Luna Themes

[2018-11-26 13:17] #4279 closed, assigned to mertsincan

[2018-11-26 14:35] cbasener commented on #3943
Whether I'm missing some important point but this is not working for me.
I tried PF 6.2.9 and PF 6.2.10.
It seems that the new attribute 'multiple' doesn't change a thing.
It doesn't make any difference if I leave the attribute out, use 'multiple="true"' or use 'multiple="false"'.
The behavior is always the same.

This can also be validate with the current PF showcase: https://www.primefaces.org/s

[2018-11-26 15:44] mertsincan opened #4280 "Multiple attribute is not working correctly on PanelMenu"
Details; https://github.com/primefaces/primefaces/issues/3943#issuecomment-441659521

[2018-11-26 15:45] #4280 closed, assigned to mertsincan

[2018-11-26 15:45] mertsincan commented on #3943
Thanks a lot, @cbasener! Fixed now. Please see; https://github.com/primefaces/primefaces/issues/4280

[2018-11-26 17:15] Rapster commented on #4278
I started to work on something, I'll submit a PR to exchange ideas about this. CSS sounds like a lot of fiddling and it'll be a lot more easier to implement server side

[2018-11-27 01:11] djmj commented on #1491
Yes it is easy to do but adds a lot of unnecessary markup to an application which just bloats the markup. 4 lines just for an icon.

Especially if PF invests so much into their custom themes.

	<f:facet name="legend">
		<h:panelGroup styleClass="fa fa-user" style="vertical-align: middle; margin-right: 0.25em; font-size: 1.25em;"/>
		<h:outputText value="User" style="vertical-align: middle;"/>
	</f

[2018-11-27 06:48] cnsgithub commented on #3875
Servlet filter workaround that might be temporarily used as long as there is no MyFaces release containing the bugfix: https://github.com/cnsgithub/mojarra-ajax/blob/master/src/main/java/main/IllegalXmlCharactersFilter.java

Also not sure how long it will take at [Mojarra](https://github.com/eclipse-ee4j/mojarra/) to provide a fix (PR https://github.com/eclipse-ee4j/mojarra/pull/4517 was closed un

[2018-11-27 08:12] mertsincan commented on #4264
Yes, this issue is related to SplitButton feature in 6.2.11.

[2018-11-27 08:37] mertsincan commented on #4237
@wsaca I couldn't replicate it. Which version are you using to test?

[2018-11-27 10:09] efrenperez opened #4282 "Chartjs: unable to disable tooltip (Vertical Bars)"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-11-27 10:09] efrenperez opened #4283 "I can't disable tooltips in Chartjs (Bar)"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-11-27 10:15] tandraschko commented on #4283
why 2 issues?

[2018-11-27 10:16] #4283 closed, assigned to nobody

[2018-11-27 10:16] efrenperez commented on #4283
Navigation error, so sorry.

[2018-11-27 10:26] tandraschko commented on #4282
Thanks

[2018-11-27 11:27] #4282 closed, assigned to mertsincan

[2018-11-27 12:16] mertsincan opened #4284 "Improve encodeMenuItem method on BaseMenuRenderer For Premium Layouts"
For Premium Layouts

[2018-11-27 12:17] #4284 closed, assigned to mertsincan

[2018-11-27 13:23] wsaca commented on #4237
@mertsincan If you try it in the showcase this error is not thrown because the tabView component has already a dependency to "jquery-plugins.js". You should test it alone in a xhtml page.

[2018-11-27 13:51] domoscsaba opened #4285 "BreadCrumb: missing </span> when item is disabled"
When I create a BreadCrumb with disabled MenuItem the generated xml is not valid, one span is not closed.

Test code:
[code]

Renders like this:
[code]

One `</span>` is missing.

[2018-11-27 15:14] CJBinder commented on #3760
The following code is what we use to overcome the issue.

       PrimeFaces.widget.Calendar.prototype.bindDateSelectListener = function() {
              var _self = this;

              this.cfg.onSelect = function() {
                     if (_self.cfg.popup) {
                           _self.fireDateSelectEvent();

                           if (_self.cfg.focusOnSelect) {

[2018-11-27 18:09] melloware commented on #3760
@CJBinder This is an excellent fix. I submitted a PR with this fix.

[2018-11-27 18:20] melloware commented on #4285
Good catch.  PR Submitted.

[2018-11-27 20:39] #4285 closed, assigned to nobody

[2018-11-27 20:45] #3760 closed, assigned to nobody

[2018-11-27 22:04] melloware commented on #3619
@tandraschko This is a duplicate of https://github.com/primefaces/primefaces/issues/489 and can be closed.

[2018-11-27 22:32] #3619 closed, assigned to nobody

[2018-11-28 09:42] fanste opened #4289 "InputMask: server-side validation of mask attribute skips required-validation"
## 1) Environment
- PrimeFaces version: 6.3 SNAPSHOT as of 28.11.2018 09:30 UTC+1
- Application server + version: Wildfly 10.1, JSF Mojarra 2.2.13.SP1 20160303-1204
- Affected browsers: All

## 2) Expected behavior
Input mask with `required = true` should validate and set `validationFailed = true` when nothing or something invalid (not matching the mask) was inserted into the field.

## 3) Actual

[2018-11-28 09:59] fanste commented on #4289
There would be multiple solutions how to fix that:
- Set `isValid(false)` and set a message for the component
- Override some of the validation methods, but ensure that it does not conflict with the converter (own validation code has to be done before the converter is invoked)
- use the converter (getConvertedValue) to throw an exception when the mask does not match

I don't know what would be the

[2018-11-28 10:20] tandraschko commented on #4289
couldn't we just set it to "", so the original coverter logic will be executed?
All of your solutions are quite hacky, we should restore the behavior that our regex validation is just a "additional feature" and the validators are still executed.

[2018-11-28 10:48] Rkhiter commented on #3863
Primefaces 6.2.11
you can produce this  by add attribut styleClass selectCheckboxMenu is not working with Edge.
it works well with Firefox and Chrome.
I just tested it with example showCase primefaces just add styleclass.
if you remove styleClass it works well if you add attribut styleClass is not working  with Edge

[2018-11-28 10:57] tirumala27 opened #4291 "p:pickList is not updating from p:ajax in h:selectOneMenu with primefaces-6.1.2(It is working fine with primefaces-5.2.5)"
# IMPORTANT
p:pickList is not updating from p:ajax in h:selectOneMenu with primefaces-6.1.2
It is working fine with primefaces-5.2.5. I have migrated the jar to primefaces-6.1.2.

## 1) Environment
- PrimeFaces version: 6.1.2

## 2) Expected behavior
p:pickList should update when p:ajax event completed in h:selectOneMenu with primefaces-6.1.2

## 3) Actual behavior
p:pickList is not update when p:

[2018-11-28 11:59] tandraschko commented on #4291
We need a runnable example, otherwise -> invalid.

[2018-11-28 12:46] fanste commented on #4289
Well.. that would be the best solution. That's to simple to come into my mind :D

[2018-11-28 13:20] marcelocaser opened #4292 "TextEditor: Text justify not work"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Not tested.
- Application server + version: Tomcat 9
- Affected browsers: All

## 2) Expected behavior

![2018-11-28_085639](https://user-images.githu

[2018-11-28 13:34] tandraschko commented on #4292
Can you try the native Quill Editor ?
If it works there, we probably can just upgrade the editor.

[2018-11-28 13:51] melloware commented on #4292
Looks like this issue:
https://github.com/quilljs/quill/issues/2289 or https://github.com/quilljs/quill/issues/396

[2018-11-28 13:58] marcelocaser commented on #4292
@tandraschko Yes i tryed and not work.

@melloware Thanks. For me not work in any browser.

[2018-11-28 14:07] marcelocaser commented on #4292
Sory @melloware. It worked using the Chrome browser in both PrimeFaces and Quill Editor as issue https://github.com/quilljs/quill/issues/396. But in Firefox not work.

[2018-11-28 14:25] melloware commented on #4292
@marcelocaser No problem.  At the heart of it, its a QuillJS issue not a Primefaces issue.

[2018-11-28 16:02] tandraschko commented on #4292
Yep, i will close it for now.
We should upgrade the quillJS dependency, when the bug got resolved there.

[2018-11-28 16:02] #4292 closed, assigned to nobody

[2018-11-28 17:09] fanste opened #4293 "SelectBooleanCheckbox: Add option to optionally display label (old itemLabel)"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT

## 2) Expected behavior
A new option (e.g. `showLabel=true|false`, default = true) should be added to optionally display the label next to the checkbox. Till PF 6.2 you had `itemLabel`, which was the label next to the checkbox, and `label`, which was the label for e.g. validation messages.

I have a datatable which has a column + header text. T

[2018-11-28 18:22] HipDragon opened #4294 "Tree DragDrop can't DragDrop to top level"
## 1) Environment
- PrimeFaces version: 6.2.11 & 6.3-Snapshot
- Affected browsers: FireFox
- PrimeFaces Demo site has the bug to view (https://www.primefaces.org/showcase/ui/data/tree/dragdrop.xhtml)
- Previous worked on PrimeFaces 6.1.x

## 2) Expected behavior
Should be able to drag any sub tree node to the top tree node.

## 3) Actual behavior
When dragging a subnode to top level it doesn't dra

[2018-11-28 18:33] melloware commented on #4294
I think this is a duplicate of https://github.com/primefaces/primefaces/issues/4091

[2018-11-28 18:35] melloware commented on #4293
@Rapster this is related to your fix https://github.com/primefaces/primefaces/issues/4231 any thoughts?

[2018-11-28 18:54] HipDragon commented on #4294
Correct this is a duplicate of #4091, sorry my search didn't find that duplicate issue.

[2018-11-28 18:54] #4294 closed, assigned to nobody

[2018-11-28 20:52] Rapster commented on #4293
Ahhh I didn't expect that. Fair enough, I'll revert the commits 😉 Thank you for reporting. I was quite happy to get rid of `itemLabel` as the name is quite confusing (knowing we have a bunch of components having `f:selectItem`), and in this case there are none eligible...

[2018-11-28 23:13] Rapster commented on #4233
See #4293

[2018-11-28 23:13] #4233 closed, assigned to cagataycivici

[2018-11-28 23:13] #4232 closed, assigned to nobody

[2018-11-28 23:33] #4293 closed, assigned to Rapster

[2018-11-28 23:35] Rapster commented on #4291
In addition, please format your code properly, see https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2018-11-29 08:07] babubabu opened #4295 "Calendar: Opens under input field which is at bottom of page"
## 1) Environment
- PrimeFaces version: 6.2.11, 6.2.12
- Application server + version: Tomcat 8.5.32 /Jetty 9.4.11
- Affected browsers: Firefox 63.0.3, IE 11.785, Chrome 70.0.3538.110

## 2) Expected behavior
If an p:calendar field is located at the bottom of the page and the datepicker opens, the datepicker open above the field and not under.

## 3) Actual behavior
The datepicker open under the f

[2018-11-29 08:24] tandraschko commented on #4295
probably the jquery datepicker doesn't have such a colission detection.

[2018-11-29 08:43] Rapster opened #4296 "Move component CSS classes into Renderers"
99% of the CSS classes are used by renderers, and since these are responsible of rendering, make more sense that CSS classes are defined in renderers and not in component

[2018-11-29 13:19] fanste opened #4297 "Touch support not working correctly on Win10 + IE11 / Edge"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Affected browsers: Tested on Windows 10 +  IE11 / Edge

## 2) Expected behavior
On desktop browsers no touch support should be done by jquery.ui.touch-punch.js

## 3) Actual behavior
In my specific case: `p:dialog` with `draggable = true, resizable=true` and a child `p:selectBooleanCheckbox`
A click on the checkbox inside the dialog triggers t

[2018-11-29 13:26] tandraschko commented on #4297
can we just upgrade the plugin?

[2018-11-29 13:37] fanste commented on #4289
PR #4298

[2018-11-29 13:38] melloware commented on #4297
I already fixed this by upgrading touch punch in this PR: https://github.com/primefaces/primefaces/pull/4213

Let me fix it to use the navigator.msMaxTouchPoints > 0

[2018-11-29 13:41] melloware commented on #4297
I see now I just submitted a PR.  While touch punch was updated with tons of bug fixes and to support Chrome 70 it did not fix it for IE 11.  This fix will cure them all.

[2018-11-29 14:04] tandraschko commented on #4297
Could you create a issue on their side? So we don't get this error next time when upgrading?

[2018-11-29 14:15] melloware commented on #4297
Yep its already open: https://github.com/furf/jquery-ui-touch-punch/issues/309

[2018-11-29 14:39] fanste opened #4300 "Calendar: Typo in javascript"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Affected browsers: All

## 2) Description
Calendar with `mode=inline` + `event=dateSelect` will throw a JS error because of a typo in the JS file introduced in the bugfix of #3760

calendar.js line 201 => _self instead of $this

PR #4301

[2018-11-29 15:37] melloware commented on #4300
This was my bad that I didn't catch this.  Thanks for fixing.

[2018-11-29 15:57] #4300 closed, assigned to nobody

[2018-11-29 15:58] #4297 closed, assigned to nobody

[2018-11-29 19:22] mertsincan opened #4302 "Improve panel position on SelectOneMenu"

[2018-11-29 19:23] #4302 closed, assigned to mertsincan

[2018-11-30 09:22] Rapster commented on #4216
No news since, should we close it?

[2018-11-30 09:46] fcorneli opened #4303 "TextEditor: NPE at decode"
## 1) Environment
- PrimeFaces version: 6.2.12
- Did work on PrimeFaces version 6.2.10 (skipped 6.2.11 because of fileUpload issue)
- Application server + version: JBoss EAP 6.4.21
- Affected browsers: all

## 2) Expected behavior
No NPE

## 3) Actual behavior
[code]

## 4) Steps to reproduce
Just try to submit a form containing a p:textEditor

## 5) Sample XHTML
[code]

[2018-11-30 10:09] #4289 closed, assigned to nobody

[2018-11-30 10:10] tandraschko commented on #4289
Thanks for the PR!

[2018-11-30 10:19] tandraschko commented on #4303
ELITE only, probably the defaultValue is missing in the allow* attributes in the XML

[2018-11-30 10:48] Rapster commented on #4278
I just made a proposal (I didn't test everything, but just to give an idea of what it could look like). I only focused on InputRenderer kinda component (but that should be enough no?).

Basically, the idea is prety simple, depending the kind of component (select, simple input, tricky input like autocomplete/picklist) have their own way to retrieve the "readony value": see [ReadOnlyDecoder](https:/

[2018-11-30 12:11] melloware commented on #4278
Not bad.  How will user opt-in to using this or not using this?  will it be a web.xml CONTEXT setting?

[2018-11-30 12:13] melloware commented on #4216
@Rapster I think the idea is we label the as "invalid" and then before we release 6.3 RC @tandraschko goes and closes any of these invalid ones because we have gotten no example and have not heard back from the OP.  I think we should mark more defects as invalid as there is a bunch of junk Datatable issues that just say "sorting doesn't work" with no example or runnable proof.

[2018-11-30 12:16] Rapster commented on #4278
Yes, there will be an option in web.xml (disabled by default)

[2018-11-30 12:44] Rapster commented on #4216
Sounds good, was never clear to me how to deal with these invalids. I like the explanation, thanks :+1:

[2018-12-01 13:51] melloware commented on #3535
@Hamsterbau any update on this issue after you removed updating @form?

[2018-12-01 14:00] melloware commented on #1448
@tandraschko @Rapster no response on this ticket, its a few years old and reporting on an old version of Android . I recommend closing it.

[2018-12-01 14:27] melloware commented on #1549
I can't reproduce this using the showcase.  I set the activeIndex=2 and then proper menu option was highlighted.  Recommend marking closed or invalid.

[2018-12-01 14:32] melloware commented on #1308
I have verified this issue using IOS 12.1.

[2018-12-01 14:39] #1448 closed, assigned to nobody

[2018-12-01 21:57] #1549 closed, assigned to nobody

[2018-12-02 17:32] Rapster opened #4305 "Improve FileUpload API"
After fixing #4038 it brings some design flaws. By definition UploadedFile is either simple or multiple but can't be both. This is what the current design is implying. It's quite confusing... See also @cnsgithub coment: https://github.com/primefaces/primefaces/issues/4038#issuecomment-438169951

A proper design might imply some breaking changes of the current model. We have to make a clear distinc

[2018-12-02 18:35] tandraschko commented on #4305
I would do the following....
- UploadedFile with all methods from UploadedFile and SimpleUploaded, Native and Default can extend it
- UploadedFiles, which contains a list of UploadedFile and maybe helper methods

[2018-12-02 18:43] Rapster commented on #4305
Yup sounds simpler. I would love to see this for 6.3, as the commit will bring a lot of issues. But I labelled it 7.0 as I wasn't  sure about the changes

[2018-12-02 18:48] tandraschko commented on #4305
It's actually late for big changes, RC1 >actually< targets december.
We should wait for the release.

[2018-12-02 18:49] Rapster commented on #4305
Fair enough, let's stick to 7.0 then 😉

[2018-12-02 19:01] Rapster commented on #4305
Okay having a look at FileUploadEvent#getFile, I realize we should have a common interface between UploadFiles/UploadFile. I updated my proposal

[2018-12-02 19:24] tandraschko commented on #4305
I think it's better to change FileUploadEvent instead.
In generell, i think it's always good to have #getFiles and the user can get the first or all or whatever from this list.
So also a single upload should create a UploadedFiles with with size=1

So FileUploadEvent could have:
- getFiles

and maybe something like:
- getSingleFile
which could throw a Exception if size > 1

[2018-12-02 22:04] Rapster commented on #4038
BTW, in such definition (e.g mode simple + multiple true) only one filename is displayed. Would be nice to fix this before 6.3

[2018-12-02 22:08] Rapster opened #4306 "FileUpload: mode simple + multiple true displays one filename"
Since #4038 it's possible to have multiple files uploaded in simple mode, but only one filename is displayed. At least 2 should be displayed, if too many, ends with "etc."? @mertsincan could you have a look at it please

[2018-12-03 08:34] fcorneli commented on #4303
Indeed, PrimeFaces version 6.2.12 has the following within TextEditor:
[code]
which make the autoboxing go NPE when you don't explicitly set these attributes. And this while the trunk has it correct:
[code]
and this for all new Boolean attributes.

[2018-12-03 09:38] Rapster commented on #4305
I'll make a PR and we'll discuss about it

[2018-12-03 09:44] fanste opened #4307 "OverlayPanel: Dynamic panel is broken when parent container is re-rendered"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Affected browsers: ALL
- Similar issue: #1671

## 2) Expected behavior
OverlayPanel with `dynamic = true` is inside a DataTable. The pagination of the DataTable should not break the OverlayPanel once the panel content was loaded.

## 3) Actual behavior
An empty panel is shown, if the OverlayPanel was part of an AJAX re-render

## 4) Steps to r

[2018-12-03 09:46] fanste commented on #4307
As far as I've seen there may be two solutions:
 - track the `content-loaded` flag on the server side in the component and directly render the children.
 - reset the `content-loaded` flag on the client side on `refresh`

What would/should be preferred?

[2018-12-03 09:48] tandraschko commented on #4307
2) sounds easier

[2018-12-03 10:15] fanste commented on #4307
PR #4308 - tested in my local application

[2018-12-03 10:25] #3270 closed, assigned to nobody

[2018-12-03 13:03] melloware commented on #4306
Maybe end with "..." instead of "etc"?

[2018-12-03 16:35] fanste commented on #4263
The fix in #4309 works in my local application. But I can't tell you if this is the best / performant fix.

[2018-12-03 16:37] fanste opened #4310 "OverlayPanel: improve performance of resize handler"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Affected browsers: ALL

## 2) Description
Is there a reason why the `align()` is always invoked on window-resize even when the panel is not visible?
E.g. a datatable with hundret of rows and a embedded overlay-panel will have a huge performance impact.

A solution could be to guard the `align()` call with a `$this.jq.hasClass('ui-overlay-visib

[2018-12-03 16:44] melloware commented on #4263
Looks good to me but I will let @tandraschko review it and see.

[2018-12-03 18:29] Rapster commented on #4306
Yup I took the first thing that crossed my mind 😄 But actually, to be more accurate, it should display something like:

A.pdf, B.pdf and 24 more

[2018-12-03 18:37] tandraschko commented on #4310
core.utils actually does it:

`                if (element && element.is(":hidden")) {
                    return;
                }`

[2018-12-03 18:38] #4307 closed, assigned to nobody

[2018-12-03 18:53] tandraschko commented on #4310
improved it to also check visibility. you can check again?

[2018-12-04 05:09] cnsgithub commented on #4306
I like this. Please don't forget I18N then. :wink:

[2018-12-04 08:36] fanste commented on #4310
The problem was that the visibility property is always considered visible. I did't check the core.utils - my bad...

Your fix with checking the visibility it self works just fine. Thanks

[2018-12-04 08:39] #4310 closed, assigned to nobody

[2018-12-04 08:45] anhquande opened #4311 "Calendar: Popup panel does now appear the second time after first time show up with effect."
## 1) Environment
- PrimeFaces version: **6.3.SNAPSHOT**
- Does it work on the newest released PrimeFaces version? => **NO**. Version? **6.3.SNAPSHOT**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **NO**
- Application server + version: Does not matter
- Affected browsers: Chrome Version 70.0.3538.110 (Offici

[2018-12-04 12:07] melloware commented on #4311
Please close. This is a duplicate of https://github.com/primefaces/primefaces/issues/489

[2018-12-04 12:09] #4311 closed, assigned to nobody

[2018-12-04 13:39] #3765 closed, assigned to nobody

[2018-12-04 14:57] hansmeiser2000 opened #4312 "Tree: swapping root elements by drag drop causes an Error"
Open the showcase
https://www.primefaces.org/showcase/ui/data/tree/dragdrop.xhtml
and open the developer tools of
the browser with F12
In the example drag 'Node 1' above 'Node 0'.
Dependent on your browser you get different errors on the console. After the error is thrown, no further drag'n drop is possible.

FF
![image](https://user-images.githubusercontent.com/25437309/49450246-e87a6000-f7dc-11e

[2018-12-04 15:00] melloware commented on #4312
I believe this has been reported 3 times now.  Duplicate of https://github.com/primefaces/primefaces/issues/4091  Please close if it is a dupe.

[2018-12-04 15:08] hansmeiser2000 commented on #4312
Yes that's the error it happens only on root nodes.

[2018-12-04 15:08] #4312 closed, assigned to nobody

[2018-12-04 15:14] melloware commented on #4312
@tandraschko can you assign https://github.com/primefaces/primefaces/issues/4091 to @mertsincan since this issue keeps getting reported i feel like its something that needs to be fixed by PrimeTek sooner than later without a user PR.

[2018-12-04 16:36] Rapster commented on #4305
FYI, I just realized there is one event per upload, see doc:

So one event for one file, that put aside the discussion regarding FileUploadEvent#getFiles

[2018-12-05 12:07] #4091 closed, assigned to mertsincan

[2018-12-05 12:09] melloware commented on #4294
Fixed in 6.2.13 with this commit: https://github.com/primefaces/primefaces/commit/4cf1d84cd57511271ec2d77721e8159d0c13ea89

[2018-12-05 12:09] melloware commented on #4312
Fixed in 6.2.13 with this commit: https://github.com/primefaces/primefaces/commit/4cf1d84cd57511271ec2d77721e8159d0c13ea89

[2018-12-05 20:20] melloware commented on #4305
Not sure this is right place for it but I was messing around with Jboss 7 which is JSF 2.2 and since JSF 2.2 it uses the Native upload I was getting Classloader failures because it couldn't find Commons FileUpload classes.  I was under the impression if we use JSF 2.2 we don't need to include Commons FileUpload at all.

But I am not seeing that as the case.

[2018-12-05 21:17] tandraschko commented on #4305
AFAIR it should only use commons on 2.2 if explicitly defined in the webconfig

Also NOTE: there was a bug in the last (or next to last) elite version that even native required commons fileupload as the shading wasn't configured correctly.

[2018-12-05 21:22] melloware commented on #4305
Ahhh let me check that.  i wonder if it was still in web.xml.

[2018-12-06 07:15] #4303 closed, assigned to mertsincan

[2018-12-06 07:16] mertsincan commented on #4303
Fixed for 6.2.13.

[2018-12-06 07:37] mertsincan opened #4313 "Improve trigger button style of Calendar on Luna and Nova Themes"

[2018-12-06 07:38] #4313 closed, assigned to mertsincan

[2018-12-06 08:26] thereserayza opened #4314 "InputSwitch: Rendering inside hidden divs fails"
In primefaces 6.1, when a container with `style="display:none;'` has an inputSwitch inside and the container is toggled, the inputSwitch is not rendered (only showing a thin gray line) and its CSS attributes are empty. When the style of the container is removed, it is displayed normally.

[2018-12-06 08:30] tandraschko commented on #4314
This is no valid issue, please follow our issue template and provide the required&runnable example.

[2018-12-06 09:39] cbjerg commented on #4303
When is the 6.2.13 out?

[2018-12-06 10:28] hansmeiser2000 commented on #4312
Thank you for the quick fix, I patched it in components.js in primefaces-6.2.11.jar and it works.

[2018-12-06 11:57] melloware commented on #4314
IF you read this ticket InputSwitch is being deprecated for ToggleSwitch.  https://github.com/primefaces/primefaces/issues/3969

[2018-12-06 12:00] melloware commented on #1718
@tandraschko @Rapster can you close this ticket. Its a duplicate of https://github.com/primefaces/primefaces/issues/3969 which was closed by Optimus because he said InputSwitch is deprecated for ToggleSwitch.   But that issue is the exact same issue as this one here.

[2018-12-06 12:03] Rapster commented on #1718
@hoax please use toogleSwitch instead. Thanks Emil

[2018-12-06 12:03] #1718 closed, assigned to nobody

[2018-12-06 12:30] melloware commented on #3863
Created a reproducible test case:
[pf-3863.zip](https://github.com/primefaces/primefaces/files/2653051/pf-3863.zip)

This seems to be a common problem in Edge. https://answers.microsoft.com/en-us/edge/forum/all/microsoft-edge-keeps-jumping-to-top-of-page-after/c9b5d3bb-c01f-4b98-b39f-8dc2de5597ab

[2018-12-06 12:34] tandraschko commented on #3863
we have the same problem in our applications but didn't find the reason after ~1 hour search

[2018-12-06 12:43] melloware commented on #3863
Good news is it loos like Microsoft is already abandoning Edge: https://www.criticalhit.net/technology/microsoft-abandoning-edge-building-new-web-browser-based-chromium/

[2018-12-06 12:45] tandraschko commented on #3863
in generell i dont think that this are good news for the whole ecosystem :P But good for our bugs here, yes...

[2018-12-06 13:05] Rapster commented on #4314
@thereserayza could you please try with toggleSwitch. It's available in PF 6.2.8, or you'll have to wait for 6.3. In any case, don't expect a fix for this issue as this component is no longer maintened

[2018-12-06 13:55] schlebe commented on #4303
How avoid this issue using last release 6.2.12 ?
I have download last documentation to see if some ALLOW attributes exist but this is not documented ? Or what I search in <p:textEditor> is not correct.

Before downloading 6.2.12, I have following question:

If I have some pages with some <p:textEditor> can I use 6.2.12 using some workaround ? Which ?

[2018-12-06 15:10] tandraschko commented on #4303
There is no documentation for the elite releases but it's documented in the taglib. So you IDE should allow code-completion.

You can use it when you set all allow* to true or false (instead of null). Just the "default" mechanism is broken.

[2018-12-06 15:42] melloware commented on #4305
You were right i had the FileUploadListener in my web.xml.  Once I removed that it all worked.  Sorry about that!

[2018-12-06 16:09] phillipross commented on #4303
thanks @tandraschko

Specifically, the following attributes are the ones being referred to, and their default values are all "false"

[code]

[2018-12-06 16:09] BryanV91 opened #4315 "inputNumber: Can't clear input field when minimun value is not equal to zero"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: WildFly 13
- Affected browsers: Chrome, Firefox

## 2) Expected behavior

Whenever I press backspace or delete key, input field must be cleared.

## 3) Actual behavior

Whenever I press backspace or delete key, input field stays with the same value, unless I do a full selection with my mouse and then press backspace or del

[2018-12-06 17:12] tandraschko commented on #4315
Thats by design from the used autonumeric plugin.
This was alraedy discussed multiple times in the past: https://github.com/primefaces/primefaces/issues/3025

[2018-12-06 17:12] #4315 closed, assigned to nobody

[2018-12-07 05:54] cbjerg commented on #4303
@schlebe
I've just added them to the Element
<p:textEditor widgetVar="editor" value="#{settingsFacade.description}" placeholder="Add a description" allowBlocks="true" allowFormatting="true" allowLinks="true" allowStyles="true" allowImages="true">

[2018-12-07 08:26] schlebe commented on #4303
thanks both for your answer. Now, I can try to use last Primefaces release without loosing time to find what is wrong with <p:textEditor>  :-)

[2018-12-07 10:48] fanste commented on #4289
New PR  #4316.

Maybe I've tested the wrong code but the bug existed again. The `isEmpty`-check was at the wrong position which totally skipped the setter of the submitted value..

[2018-12-07 13:24] fanste commented on #1922
I've just stumbled over this error again and tested the latest Mojarra 2.2.18 on WildFly 10.1.0.Final. But the bug still seems to exist :(

Opened mojarra issue again: javaserverfaces/mojarra#4390

Maybe someone has an idea..

[2018-12-07 16:13] lagar84 commented on #1922
@fanste : I am not 100% sure, but mojarra new home should be here: https://github.com/eclipse-ee4j/mojarra

[2018-12-07 20:55] spadinha1 commented on #3659
Hello, I am having the same problem.

Did you found a solution ?

I cant update tomcat because ... selectevent inside component not works.

<ui:component...
<cc:interface>
...
		<cc:attribute name="actionSelect" required="true"
			method-signature="void action(org.primefaces.event.SelectEvent)" />
...
<cc:implementation>

<p:dataTable...
<p:ajax event="rowSelect" listener="#{cc.attrs.actionSelect}

[2018-12-09 12:48] schulzp opened #4317 "RemoteCommand: The form attribute is ignored"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: WildFly 14
- Affected browsers: Any

## 2) Expected behavior

Using `<p:remoteCommand form=":rootForm" />` outside a `h:form` should render fine.

## 3) Actual behavior

Using `<p:remoteCommand form=":ro

[2018-12-09 12:52] melloware commented on #4317
Good analysis.  And I agree it looks a lot like #2358 as if PrimeTek had intended on implementing this feature but never actually did.  Interested in in analyzing AjaxBehaviorRenderer and submitting a PR to fix this?

[2018-12-09 16:04] melloware commented on #4317
Looking at this I think this can be relatively easy to fix.  We need to check if the RemoteCommand has a form set and resolve it, if it has no form set then do the ComponentTraversalUtils.findClosestForm() method.

[2018-12-09 16:19] Rapster commented on #4317
`p:commandButton` has a form attribute and it works. You can have look from there and provide a PR :wink:

[2018-12-10 08:50] Amit8608525622 opened #4320 "Picklist: filter is causing script error and browser crash for more than 4000 items"
# IMPORTANT :
Picklist filter is not working properly.It is taking too much time to filter the data.We have tried to change the browser setting to resolve this issue like setting the value of dom.max_chrome_script_run_time;0 and
dom.max_script_run_time;0, but it didn't help.It just avoided the script error message but browser was still getting crashed and it is taking 2 min 47 seconds to filter da

[2018-12-10 09:03] Amit8608525622 commented on #4320
Please try on browser Mozilla Firefox 52.9.0 (32-bit) and IE as well.

[2018-12-10 09:22] tandraschko commented on #4320
i labbeled it as enhancement as picklist was never designed for such a big lists.
Feel free to analyze the performance and provide a PR.

[2018-12-10 09:48] #4317 closed, assigned to nobody

[2018-12-10 09:58] Rapster commented on #4320
Since it has been already loaded I don't see why it would take so much time (e.g 2 min 47 seconds) to filter just 4000 items.... Please provide a sample as the issue template stated, this is the only way to analyse your problem.

[2018-12-10 10:52] Rapster commented on #4320
FYI, in the future please make an effort about the format/indentation of your posted code :wink:

[2018-12-10 11:42] melloware commented on #4320
I know we fixed this Picklist Performance Issue in 6.2.7 which turned out to be a JQuery 3 related issue.  https://github.com/primefaces/primefaces/issues/3675  I wonder if the filter is a similar issue.

[2018-12-10 11:45] Rapster commented on #4320
Thanks Emil, I tried to find that issue as I remembered we faced a similar issue.

[2018-12-10 11:55] melloware commented on #4320
Attached is a demo showing the issue with 4000 items.
[pf-4320.zip](https://github.com/primefaces/primefaces/files/2663024/pf-4320.zip)

[2018-12-10 11:55] Amit8608525622 commented on #4320
Below is the sample code to reporduce this issue-

Bean -

import java.util.ArrayList;
import java.util.Collections;
import java.util.List;

import javax.annotation.PostConstruct;
import javax.faces.bean.ManagedBean;
import javax.faces.bean.ViewScoped;

import org.primefaces.model.DualListModel;

@ManagedBean
@ViewScoped
public class SampleUserActivation {

	private DualListModel<String> users = n

[2018-12-10 12:11] melloware commented on #4320
PR Submitted: https://github.com/primefaces/primefaces/pull/4321

The biggest issue was the work to update the UI was being done inside the for loop as well as trying to animate it.  My fix has the filter taking about 1 second for 4000 items.

[2018-12-10 12:52] #2358 closed, assigned to tandraschko

[2018-12-10 19:08] Rapster opened #4322 "Refactor CoreRenderer#buildAjaxRequest"
See Thomas comment https://github.com/primefaces/primefaces/pull/4319#issuecomment-445805082

[2018-12-10 21:08] rider87 commented on #2061
@tandraschko When will this be fixed?

[2018-12-11 07:36] mertsincan opened #4323 "Add formats attribute to TextEditor"
Details; https://quilljs.com/docs/formats/

[2018-12-11 07:38] #4323 closed, assigned to mertsincan

[2018-12-11 07:39] Amit8608525622 commented on #4320
Can you please let me know when and  in which version this fix is going to release and available for us?

[2018-12-11 08:30] tandraschko commented on #4320
just follow the ticket here.... ;)

[2018-12-11 08:43] tandraschko commented on #2061
no idea.
There are always 3 ways:
1) do it by yourself and provide a PR
2) sponsor it via PrimeFaces PRO
3) wait until someone fixes it

[2018-12-11 09:43] mertsincan opened #4324 "Added multiple defaultCommand support in same form"
Reported By PRO User;

[code]

[2018-12-11 09:44] #4324 closed, assigned to mertsincan

[2018-12-11 10:56] Rapster commented on #4125
@lagar84 could you have a try again, looks like it has been fixed

[2018-12-11 11:12] Amit8608525622 commented on #4320
Can I have the compiled jar file for this fix. I really need it for my project.

[2018-12-11 11:13] Rapster commented on #4320
You'll have to compile by yourself. See the wiki

[2018-12-11 11:17] tandraschko commented on #4320
we didn't fix anything currently.

[2018-12-11 11:42] Amit8608525622 commented on #4320
The fix(https://github.com/melloware/primefaces/commit/e09d8cab91f5e6358502d1c5c7771e25d1bf66b3) provided by the @melloware is solving the issue? I am not able to test it as there are lot of dependencies needed to compile the source code and it needs license to get those dependencies.

[2018-12-11 11:45] tandraschko commented on #4320
probably but we didn't apply it yet.
Please learn about how such a open source project works. If we didn't commit anything / the PR isn't closed, it's not yet fixed.
Even if we fix it, it's just commited here in the community version, which will become 6.3.
6.2.x (PrimeFaces ELITE) is not open source and managed by PrimeTek only.

[2018-12-11 12:11] melloware commented on #4125
Good catch @Rapster it looks like this was fixed in 6.2.12.

[2018-12-11 12:12] lagar84 commented on #4125
@Rapster @melloware  I ran the reproducer using PrimeFaces 6.3-SNAPSHOT - indeed now it is working as expected. it is safe to close this issue now.

[2018-12-11 12:17] melloware commented on #4320
@Amit8608525622 If you need this fix right now simply add this to your JS file that gets included AFTER PrimeFaces.  This will override the filter function in the widget with my fix.  This will at least get you going right now.

[code]

This is the power of PrimeFaces and JS.  You can override almost anything.

[2018-12-11 12:18] #4125 closed, assigned to nobody

[2018-12-11 20:54] melloware commented on #3848
Issued was reported on the old Google Code page and fix was provided: https://github.com/orhan27799/contentflow/issues/20

[2018-12-11 21:05] melloware commented on #3729
@Rapster @tandraschko safe to close this issue as it was fixed in: https://github.com/primefaces/primefaces/issues/3765

[2018-12-11 21:13] melloware commented on #3423
@JHookDev Can you check if this is a duplicate of https://github.com/primefaces/primefaces/issues/3545 and close if so?

[2018-12-11 21:16] melloware commented on #1057
@Rapster @tandraschko  @cnsgithub mentioned it was safe to close this issue.

[2018-12-11 21:19] tandraschko commented on #1057
hm? can't remember :D

[2018-12-11 21:20] melloware commented on #1057
The comment two above @cnsgithub says "Feel free to close this issue.".

[2018-12-11 21:26] #1057 closed, assigned to nobody

[2018-12-12 05:44] RejDev opened #4326 "widgetVar does not work with p:inputNumber"
Hello,
I just noticed that widgetVar does not work with p:inputNumber.

## 1) Environment
Primefaces version : **6.2**
Payara Server: 5.184

## 2) Sample XHTML
[code]

## 3) Result in browser console
[code]

## 4) Note
With **p:inputText** , widgetVar works very well, but not for **p:inputNumber**.

thanks for everything...

[2018-12-12 08:22] tandraschko commented on #4326
you must wrap your scripts in a jquery document ready handler ($(function() { ... }); as they are used by PF widgets, too.

[2018-12-12 08:22] #4326 closed, assigned to nobody

[2018-12-12 08:25] #3848 closed, assigned to nobody

[2018-12-12 08:36] RejDev commented on #4326
Thank you very much, your solution solved the problem.

[code]

[2018-12-12 12:24] stochmalm commented on #3437
For anybody who can't wait for the 6.3 release here's a hack with this fix. Just add it to <script> in your template.

     $(document).ready(function () {
            //Fix for primefaces bug: https://github.com/primefaces/primefaces/issues/3437
            PrimeFaces.widget.DataTable.prototype.showCurrentCell = function (cell) {
                var $this = this;

                if (this.current

[2018-12-12 13:15] Rapster commented on #3729
@matsandreassen could you have a try please? I didn't follow both tickets and descriptions sound different so... I'd prefer someone to test it and then we'll close it (if fixed)

[2018-12-12 19:56] Rapster commented on #3990
Thomas, I want to give the possibility to add an extra dictionnary for this feature (see here https://github.com/dropbox/zxcvbn#usage). I would like to do that just like we do with calendar and the locales. Can I create something like `PrimeFaces.passwords` in core.js?

[2018-12-12 22:36] melloware commented on #3987
@Dasister I created a Test application you can run with "mvn clean jetty:run-exploded".  I can't reproduce your issue.  The Table always stays width 100%?  This is using 6.3-SNAPSHOT so its possible its fixed.

[pf-3987.zip](https://github.com/primefaces/primefaces/files/2673816/pf-3987.zip)

[2018-12-12 22:56] melloware commented on #4145
I think the culprit is somewhere in the code below where the checkboxclick gets set to false when dragging but in Firefox when letting go of the click its firing.

[code]

[2018-12-12 23:03] melloware commented on #3157
@jan-tosovsky-cz can you try again with my runnable sample attached.  It uses PF 6.3-SNAPSHOT and it seems to work fine in Chrome and Firefox now. Just run "mvn clean jetty:run-exploded".
[pf-3157.zip](https://github.com/primefaces/primefaces/files/2673890/pf-3157.zip)

[2018-12-13 04:15] cnsgithub commented on #3990
`zxcvbn` is several hundred kilobytes (minified+gzipped). We should consider the [performance section](https://github.com/dropbox/zxcvbn#performance) carefully. Especially for mobile this might be a performance loss?

[2018-12-13 04:25] cnsgithub commented on #3990
Please also consider this interesting discussion: [How much does knowing the zxcvbn password strength help an attacker?](https://security.stackexchange.com/questions/92512/how-much-does-knowing-the-zxcvbn-password-strength-help-an-attacker)

[2018-12-13 07:32] tandraschko commented on #3990
As i already said, everything on the Client is just a nice gimmick. Only something on the server side gives a real value.

[2018-12-13 08:08] jan-tosovsky-cz commented on #3157
I can't resolve PF 6.3-SNAPSHOT dependency.

[2018-12-13 08:41] #3866 closed, assigned to mertsincan

[2018-12-13 08:42] mertsincan commented on #3866
Added filterMode attribute. Valid values are 'exact'(default) and 'contains'. You can use filterMode="contains" for this issue.

[2018-12-13 09:01] cnsgithub commented on #3990
There is a Java version as well: https://github.com/GoSimpleLLC/nbvcxz

[2018-12-13 09:16] matsandreassen commented on #3729
I'd love to, but I can't seem to find out which release contains this fix.

[2018-12-13 09:18] Rapster commented on #3729
You'll have to compile the sources

[2018-12-13 09:29] Rapster commented on #3990
That's exactly the purpose of this issue, a nice gimmick, have a better feedback on the complexity of the password. Basically the idea is to improve DataTable#testStrength as the current is no longer valid.

As Thomas said, at the end, complexity has to tested on business-layer side, so no need of https://github.com/GoSimpleLLC/nbvcxz

[2018-12-13 09:46] OBreidenbach opened #4327 "PartialSubmit: support SelectOneRadio with custom layout"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No, 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Wildfly 11
- Affected browsers: FF

## 2) Expected behavior

If I have a p:ajax component inside p:selectOneRa

[2018-12-13 09:51] Rapster commented on #3866
@mertsincan What's the diference between filterMode and filterMatchMode?

filterMatchMode: Match mode for filtering
filterMode: Mode for filtering valid values are exact (default) and contains

Please update descriptions to make it more understandable, is this new `filterMode` really necessary?

[2018-12-13 09:56] tandraschko commented on #4327
Did you try IT with  trunk?

[2018-12-13 09:57] eversnarf commented on #3866
@mertsincan I don't think the issue is the type of match but the fact that any matching children are not shown if their parent is already a match.

[2018-12-13 10:26] OBreidenbach commented on #4327
I tested with 6.2 and trunk (6.3-SNAPSHOT) of today.

[2018-12-13 11:00] tandraschko commented on #4327
ok, a PR would be great.

[2018-12-13 11:09] #4320 closed, assigned to mertsincan

[2018-12-13 11:11] mertsincan commented on #4320
Fixed for 6.2.14 and 6.3. For now, you can try the following js code;
[code]

[2018-12-13 11:19] mertsincan commented on #4145
I'll check and get back to you.

[2018-12-13 11:40] mertsincan commented on #4145
I think this is a FF issue. Please see; https://bugzilla.mozilla.org/show_bug.cgi?id=787944

[2018-12-13 11:57] melloware commented on #3157
@jan-tosovsky-cz simply do this to have PF 6.3-SNAPSHOT available for the test project.

[code]

[2018-12-13 11:58] melloware commented on #3729
simply do this to have PF 6.3-SNAPSHOT available for the test project.

[code]

[2018-12-13 12:03] melloware commented on #4145
@mertsincan it looks like all the commenters say adding helper clone alleviates the issue for FF.

http://api.jqueryui.com/sortable/#option-helper

[2018-12-13 12:35] melloware commented on #4145
I submitted a PR with this fix.  Works fine now in Firefox 64.

[2018-12-13 13:11] melloware commented on #1525
@teefal @sworcester-hsdmetrics @rainermueller  Attached is my test you can run using "mvn clean jetty:run" using the latest PF 6.3-SNAPSHOT.  Everything is working fine in Chrome, IE11, Edge, and Firefox with this sample.
[pf-1525.zip](https://github.com/primefaces/primefaces/files/2676132/pf-1525.zip)

So maybe the JQPlot update has fixed this issue. Can you verify and close?

[2018-12-13 13:32] jan-tosovsky-cz commented on #3157
It seems to be really fixed in the snapshot version. Thanks!

[2018-12-13 13:34] melloware commented on #3157
OK then please close this ticket.  Thanks for testing!

[2018-12-13 13:36] #3157 closed, assigned to nobody

[2018-12-13 14:19] mertsincan commented on #3866
Yes. FilterMatchMode="..." checks node's text according to its values such as contains, startsWith etc.
filterMode has two values; exact and contains
When using filtering on a tree,
- exact ->If the filtered value matches a node's text, this mode receives the node with the node's children and displays them in the tree. In short, this mode doesn't control node's children. The node is sufficient to

[2018-12-13 14:52] OBreidenbach commented on #4327
As workaround I put the selectOneRadio and the custom layout into a p:outputPanel and use this surrounding panel for the process attribute.
[code]

[2018-12-13 19:41] Rapster commented on #3866
Okay I get it now. I think we should rename these options though:

- lenient: your definition of exact
- strict: your definition of contains

[2018-12-14 07:04] cnsgithub commented on #3990
If you wanna make the validation fail, it should be repeated on the server side as well, otherwise it can be bypassed, same as other issues regarding _lack of user input validation_.

If you do it on the client side, please consider my [previous comment](https://github.com/primefaces/primefaces/issues/3990#issuecomment-446838558). You'll disclose the password strength secret and make brute forcing

[2018-12-14 08:21] matsandreassen commented on #3729
I'm on it. 👍

[2018-12-14 09:10] Rapster commented on #3926
Please have a try with the last sources, it might have been by #3866

[2018-12-14 09:48] Rapster commented on #3866
@mertsincan please consider my previous comment, otherwise I can do it. As I said, both attributes sounds like already the same, and values are more or less the same: it makes even more confusing. So renaming would be a big help

[2018-12-14 09:51] Rapster opened #4329 "Refactor PrimeFaces#clearTableState"
Quoting myself on Gitter:

@tandraschko coulld we do this on 6.3?

[2018-12-14 09:59] tandraschko commented on #4329
it's ok for me to mark the old method as @Deprecated and introduce a second overloaded method.
+ add a entry in the MigrationGuide.

[2018-12-14 10:10] matsandreassen commented on #3729
Confirmed. 6.3-SNAPSHOT fixes our usecase.

[2018-12-14 10:10] #3729 closed, assigned to nobody

[2018-12-14 10:14] tandraschko commented on #4327
Yep, therefore it's not a bug in the partialSubmit logic.
The case with custom layout is quite special as the inputs are not below the processed component. Therefore partialSubmit logic doesn't collect it.

[2018-12-14 12:14] Rapster commented on #4329
At a glance, we could have these methods:

- clearMultiViewStates(String key) (e.g key being Constants.TABLE_STATE, or DATALIST_STATE, could be an enum actually)
- clearMultiViewState(String key, String viewId): clear states of a viewId
- clearMultiViewState(String key, String viewId, String clientId)

Instead of having clearTableState and clearDataListState. Then deprecate these

[2018-12-14 12:34] tandraschko commented on #4329
@mertsincan WDYT?

[2018-12-14 14:34] melloware commented on #1736
@faxe1008 @douglasjunior Can you guys try again with my attached test project?  I can't reproduce your issue using PF 6.3-SNAPSHOT.  The DateAxisRenderer is included in the JS file by default.

[pf-1736.zip](https://github.com/primefaces/primefaces/files/2680403/pf-1736.zip)

TO run this just run "mvn clean jetty:run" and navigate to http://localhost:8080/primefaces-test/test.xhtml

You must first

[2018-12-14 14:38] melloware commented on #949
@Rapster can you close this ticket as invalid. It's really a question for forums not a bug.

[2018-12-14 14:39] #949 closed, assigned to nobody

[2018-12-14 21:56] JHookDev commented on #3423
@melloware The 2 issues appear to be different. The issue here is that the date selection popup for the calendar does not stay attached to the calendar input box when you scroll the modal panel contents. Where #3545 appears to be referring to the Calendar popup is rendered partly off the view when the calendar component is at the bottom of the view. 3545 also has a scrollable main view where this

[2018-12-14 22:03] melloware commented on #3423
Understood. Thanks for checking!

[2018-12-15 06:51] mertsincan commented on #3866
Thanks a lot for the feedback, @Rapster ;) We decided these options with @cagataycivici. For me, your options are OK :) @cagataycivici WDYT?

[2018-12-15 10:17] Rapster commented on #4329
Another thought, we could use the same key (e.g Constants.MULTI_VIEW_STATES) for every saved states. It does not change much since the concatenation of viewId and clientId is unique. Unless there is a scenario as follows: "we want to clear all datalist states but not datatable states", still doable but a bit slower

- clearMultiViewStates(): O(1)
- clearMultiViewState(String viewId): O(n) _(at wor

[2018-12-15 15:05] tandraschko opened #4330 "[perf] optimize LangUtils#isValueBlank"

[2018-12-15 15:07] #4330 closed, assigned to nobody

[2018-12-15 15:14] #4145 closed, assigned to nobody

[2018-12-15 15:17] tandraschko commented on #3668
@kukel WDYT?

You suggested 2 solutions:

the current PR implements 2) - i personally would prefer 1)

[2018-12-15 16:29] tandraschko opened #4331 "[perf] reduce some objects generated in SearchExpressionFacade"

[2018-12-15 16:32] #4331 closed, assigned to tandraschko

[2018-12-15 19:56] Rapster commented on #4128
@amathew121 Did you figure a fix for this?

[2018-12-15 20:02] Rapster commented on #4284
This new method is never called... How can it work? I suggest to give more details about it, as it could be deleted in the future. (I personnaly delete unused methods as it pollute code)

[2018-12-15 20:04] Rapster commented on #3866
Mert, don't forget to create a ticket to add this new attribute in the documentation 😉 BTW, do you have any clue if it would be possible to make the documentation open source? It would save a lot of effort to whoever is taking care of this

[2018-12-15 20:15] Rapster commented on #2449
In the showcase, a trick is used:

[code]

As it is common to have a topbar in website nowadays, I'd suggest to have this new attribute (`stickyAt`?)

[2018-12-16 11:40] Rapster commented on #3971
This one is a regression as it's working on 6.2

**UPDATE**
Not sure actually, I tried on my company app and the app is runnning under 6.2 but we overrided setupStickyHeader so the sticky contains columns header and paginator, so the bug could be there from the start

[2018-12-16 13:11] melloware commented on #4284
@Rapster my guess is in the premium layouts they use it.  Most of the Premium Layouts come with their own special menu for the sidebar.

[2018-12-16 13:59] Rapster commented on #4284
Yeah I think so too, but how to use it if it's never called?

[2018-12-16 15:15] mertsincan commented on #4284
We use it on Templates. Please do not remove this method. If you remove it I have to add it again. Thanks a lot, @melloware ;)

[2018-12-16 15:20] Rapster commented on #4284
In that case leave a comment, but can you explain how it is called? why don't you simply call encodeMenuItem(context, menu, menuitem, "-1");?

[2018-12-16 15:26] mertsincan commented on #4284
Please review the codes in previous commits. Because, we override the method on templates.

[2018-12-16 15:30] mertsincan commented on #4284
Also please read our support protocol on the templates.

[2018-12-16 15:45] tandraschko commented on #4284
If it's really unused in PF core, we should at least add a comment. someting like // don't remove it, it's used by templates

[2018-12-16 16:31] Rapster commented on #4284
Mert, I understand you override methods in premium layouts. But based on your commit, this new method is called nowhere, so even though you override it, how can it be called?

I'm just trying to understand.... But even though it's called, why don't you override `encodeMenuItem(FacesContext context, AbstractMenu menu, MenuItem menuitem, String tabindex)`, and then call `super.encodeMenuItem(context

[2018-12-16 19:43] Rapster commented on #4329
@mertsincan if you could have an opinion on this please. Would be nice to do something about it before RC1

[2018-12-16 20:08] tandraschko commented on #4329
I would also give my thoughts but not before january.
I would like to review the whole multiviewstate stuff then.

[2018-12-16 21:20] ghost commented on #4128
Sorry. I was busy and didn't get time to look into it.

I checked again on the latest code, and the issue is not reproduced in the latest code (6.3-SNAPSHOT). On debugging i found that the VisitContext is FullVisitContext in 6.3 and PartialVisitContext in 6.2. I don't understand much about how all these (contexts) work, but I think for a partial ajax request you would still expect a PartialVisitCo

[2018-12-17 06:33] mertsincan commented on #4284
- We don't work on only one PF version on templates.
on Template pages;

```encodeMenuItem(FacesContext context, AbstractMenu menu, MenuItem menuitem, String tabindex)``` this method is only available in 6.2.x and 6.3 versions.

[2018-12-17 06:44] cagataycivici opened #4332 "Modernize Documentation"
Documentation is currently done offline using a word processor, we should make expose it to markdown or similar to committer can maintain it.

[2018-12-17 06:44] cagataycivici commented on #3866
I'll be very happy if the odt doc can be ported to something modern like markdown. See;
https://github.com/primefaces/primefaces/issues/4332

[2018-12-17 06:45] cagataycivici commented on #3866
lenient and strict would be fine, why naming things are so hard?

[2018-12-17 07:21] mertsincan commented on #4329
Yes, it's better if we make these changes after 6.3 release.

[2018-12-17 07:39] tandraschko commented on #4332
Finally! :) Thats a good decision

[2018-12-17 09:28] Rapster commented on #4284
Okay I see, I encourage you to write a comment on that method then

[2018-12-17 09:43] Rapster commented on #4332
Sounds awesome! Does the final support has to be a PDF? If not, we could simply use github pages. We could use primefaces/primefaces repo itself, I can work on a first draft if that's okay?

[2018-12-17 10:52] Betlista commented on #1833
When no ajax events are used it works fine in 6.2 (I shared my code in forum - https://forum.primefaces.org/viewtopic.php?f=3&t=57687), consequence is, that you do not have list of selected items available (at least I' not aware of), but on submit it is available.

[2018-12-17 10:57] Rapster commented on #1833
@Betlista not related to this problem, wait for an answer on the forum (or use stackoverflow)

[2018-12-17 11:32] Betlista commented on #1833
@Rapster How is that not related, when it seems to me working in 6.2? You said it is not working in 6.2 and in forum it is marked as resolved for 5.3 too...

I specifically mean from expected behaviour part:

This is not the case (based on my testing in 6.2), when ajax events are not used, which is not mentioned as needed, from my point of view it is simply wrong implemenation... New bug should be

[2018-12-17 12:11] cnsgithub commented on #4332
Good decision!

Maybe we could also define some templates (e.g. freemarker or velocity) to automatically get attributes and descriptions out of `primefaces-p.taglib.xml`. This would ensure code and documentation to be in sync.

[2018-12-17 12:14] melloware commented on #4332
So just throwing my two cents in Spring Boot projects use something called AsciiDoc.  http://asciidoc.org/

The files are all stored in GitHub, but the output can be HTML, PDF, ePUB etc.  For an example of what Spring boot documentation looks like check out this: https://cloud.spring.io/spring-cloud-netflix/2.0.x/

It generates single page HTML or MultiPage and I think it looks quite nice.

[2018-12-17 12:19] cnsgithub commented on #4332
I'd like that! Introducing a table of content or things like that work like a charm.

We could have included static as well as dynamically generated contents.

[2018-12-17 12:29] cnsgithub commented on #4332
Automatically publishing generated docs via `mvn site `to GitHub Pages would be cool: https://github.github.com/maven-plugins/site-plugin/

[2018-12-17 12:33] cnsgithub commented on #4332
There's the [Asciidoctor ](https://asciidoctor.org/) (also available via `asciidoctor-maven-plugin`) that is able to generate different formats like HTML from `adoc` files.

[2018-12-17 12:51] melloware commented on #4332
@cnsgithub this is an example Spring Boot project doc so you can see the layout of the .adoc pages and the Maven pom.xml to generate.  https://github.com/codecentric/spring-boot-admin/tree/master/spring-boot-admin-docs

[2018-12-17 13:27] tandraschko commented on #4332
TomEE also uses adoc + JBake.
Here is a small history what TomEE did in the past: http://tomee-openejb.979440.n4.nabble.com/Merging-Old-and-New-Websites-td4685488.html

[2018-12-17 13:44] tandraschko opened #4333 "Check owasp depency plugin?"
https://jeremylong.github.io/DependencyCheck/index.html

anyone interessted to check that?

@cnsgithub @melloware WDYT?

[2018-12-17 13:50] melloware commented on #4333
I love this. Should be easy to add to the pom.xml.  I can investigate if you want and submit a PR?

[2018-12-17 13:59] zsolemolina commented on #3617
Hi there,
I've an issue with the boolen checkbox. Trying to manage that from the label (click on the label) the checkbox is not showing the active status, is still only showing the focus:

First click on the label:
![image](https://user-images.githubusercontent.com/2143979/50091556-fc29bb80-020b-11e9-805d-ce19df1797a7.png)

Second click on the label, there is no active status appended:
![image](ht

[2018-12-17 13:59] melloware commented on #4333
OK with skipProvidedScope=true our report comes back clean, with skipProvidedScope=false we get these errors...

[2018-12-17 14:04] tandraschko commented on #3617
Please look at the issue here. It was fixed in 6.3 and 6.2.13. There is no other workaround.

[2018-12-17 14:06] tandraschko commented on #4333
We could at least check if we could upgrade something. Otherwise we can't change anything.

[2018-12-17 14:08] zsolemolina commented on #3617
Thank you very much!

[2018-12-17 14:30] mertsincan commented on #4332
![image](https://user-images.githubusercontent.com/11868120/50093010-93007300-0220-11e9-81cd-913addc9938b.png)

I did a little work for 6.2; https://github.com/primefaces/primefaces/wiki/Configuration
I've finished the section 1 and 2. Also, I can move old pages such as 'Building From Source', 'Locales', 'Migration Guide', 'Contributing to PrimeFaces' and 'More secure file upload' to custom sideba

[2018-12-17 14:36] tandraschko commented on #4332
puh
to be honest, i would not put in the wiki.
Currently 2.1-2.4 is just available as single pages, i would like to see that i could also click on 2. and all 2.x are listed on the view.
Otherwise it's annoying as hell.

[2018-12-17 14:40] tandraschko commented on #4332
Maybe it would be much better if we would just have a "2. Setup" page instead of Y sub-pages.

[2018-12-17 14:44] melloware commented on #4333
Here is the config i used...

[code]

[2018-12-17 14:45] mertsincan commented on #4332
I've created using the pdf structure. Modifications can, of course, be made. Some pages may even be unnecessary. I'm just waiting for feedback :D Maybe we won't use wiki. This is just a test.

[2018-12-17 14:45] Rapster commented on #4332
@mertsincan At first, I thought the same, converting pdf into markdown and simply migrating, this is why I mentionned to reuse github's markdown support and hosting... I didn't expect there would be so much excitement about this ticket, but I guess we can do much better than a simple migration.

It would be awesome to generate component properties documentation through primefaces taglib xml. It me

[2018-12-17 14:51] Rapster commented on #4332
Problem using wiki is that, it will always shows last version, while we should show documentation according to a certain version (e.g doc of 6.2 or 6.3 or 7.0). Using git tags? Probably

[2018-12-17 14:59] mertsincan commented on #4332
![image](https://user-images.githubusercontent.com/11868120/50094725-ea084700-0224-11e9-8272-bb199bec887c.png)

Please see my screenshot. Some pages may be the same. For example, if a component on 6.2 and 6.3 have not changed at all, it is enough to direct only one page for both versions.

Exp;
For 6.2 and 6.3
``` * [1.1 What is PrimeFaces?](https://github.com/primefaces/primefaces/wiki/What-is-Pr

[2018-12-17 15:04] tandraschko commented on #4332
I don't think that wiki is the nicest ways.
As i said, each li/ul is a completly own and "delimited" view.
We could fix that by other structures (remove 2.x, just put everything in 2.) but not sure...
Also there is no search in wiki.

If possible, i would really like to have the documentation in the src directory, so it's tagged with the source code and we can auto-generate stuff like the componen

[2018-12-17 15:05] cnsgithub commented on #4332
Furthermore wiki is not per default read-only, is it? Everyone can modify without PR.

[2018-12-17 15:05] tandraschko commented on #4332
yep, thats another -0.5 for me

[2018-12-17 15:09] Rapster commented on #4332
You can change an option to make wiki editable by collaborators. But indeed, no PR feature on this (which is basically what we need the most)

[2018-12-17 15:57] cnsgithub commented on #4333
I've already used this for my projects as well. I'd like that to be integrated in PrimeFaces.

[2018-12-17 15:58] cnsgithub commented on #4333
Just wonder if we can somehow integrate it in SonarQube/Cloud's security reporting or if it's already done?

[2018-12-17 16:10] melloware commented on #4333
@Rapster is the Sonar guy.  Thoughts?

[2018-12-17 16:16] Rapster commented on #4333
Sonarsource does his own check, but based on code not dependencies: https://blog.sonarsource.com/sonarcloud-is-entering-sast-market (I don't know what's plugin is under the hood though)

You can see them here https://sonarcloud.io/organizations/primefaces/rules?types=SECURITY_HOTSPOT, but seems to be fixed already

Regarding dependencies, there is this plugin: https://github.com/stevespringett/dep

[2018-12-17 16:39] Rapster commented on #4306
@mertsincan it would be nice to have this fixed for 6.3, WDYT?

[2018-12-18 04:15] orange-buffalo commented on #4036
@mertsincan, is it possible to include this into the 6.2.x releases?

[2018-12-18 14:01] jansohn opened #4335 "TreeTable: Make TreeNode interface serializable"
## 1) Environment
- PrimeFaces version: 6.1.12
- Does it work on the newest released PrimeFaces version? Version? - No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) - No
- Application server + version: Apache Tomcat 8.5
- Affected browsers:

## 2) Expected behavior
`TreeNode` interface should extend `Serializ

[2018-12-18 14:09] tandraschko commented on #4335
If you have a field:
private TreeNode treeNode = new DefaultTreeNode()
it should still be serializable.
And per default, a treeNode must NOT be serializable. A user could also build the model on each request.

[2018-12-18 15:28] ravihariharan opened #4336 "TreeTable: support Select All Checkbox"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: All
- Affected browsers: All

## 2) Expected behavior
Similar to a Data Table there should be checkbox option to Selec

[2018-12-18 16:04] jansohn commented on #4335
I'm not quite sure I can follow you here. Are you talking about `@RequestScoped` beans?

I don't see how adding the `Serializable` interface to `TreeNode` would break anything? If the custom class does not implement `Serializable` then `TreeNode` would not be serialized anyway...

[2018-12-18 16:06] tandraschko commented on #4335
Exactly.

And i don't see how making it Serializable would avoid a bug at your side. It's just a IDE warning.

The custom class doesn't need to implemenet Serializable with your suggestion, it would be inherited by implementing TreeNode.

[2018-12-18 16:08] jansohn commented on #4335
So we could add it to avoid the warning?

[2018-12-18 16:19] tandraschko commented on #4335
I currently don't see any real reason to add it.
If we would make it serializable and users implement it (maybe stored in RequestScoped beans) with  non-serializable fields, they would also see a warning in the IDE ;)

If the warning is annoying for you and as you are already use DefaultTreeNode, why not just use the DefaultTreeNode in your model?

[2018-12-18 21:53] kaushikmeduri opened #4337 "datatable: select all option does not work well when using the filter"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
${component}: ${title}
Example:
SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to sol

[2018-12-19 02:17] wujianbin-sh commented on #4295
I find one solution to fix this problem:
In the generated package /primefaces-6.3.jar
Open this file:  META-INF/resources/primefaces/jquery/jquery-plugins.js and modify it as below:

Find the line 15810 like `this.updateDatePickerPosition = function (inst) {`
At the end of this function definition, at about line 15826, add one line code like this:
        `this.updateDatePickerPosition(inst);`
Thi

[2018-12-19 05:16] DmitriyAl commented on #1435
I'm not sure about current status of this issue but it seems that at least for 6.2 version of primefaces the issue with arrows combining SHIFT still exists. If the component under focus and a user clicks arrows navigation around items works. But if a user holds SHIFT simultaniously with arrows pressing the behavior is incorrect. For down arrow combining with SHIFT only 3 items can be selected and

[2018-12-19 08:06] jansohn commented on #4335
In your (far fetched) example where someone implements their own `TreeNode` class the programmer would simply need to implement

    private void writeObject(java.io.ObjectOutputStream out)
        throws IOException
    private void readObject(java.io.ObjectInputStream in)
        throws IOException, ClassNotFoundException;

to serialize / deserialize non-serializable fields, nothing hard about t

[2018-12-19 08:49] Rapster commented on #4337
Please format your code: https://help.github.com/categories/writing-on-github/

[2018-12-19 12:08] melloware commented on #4295
@wujianbin-sh  Are you suggesting at the end of the function to call itself recursively?  Won't that cause an infinite loop?

[2018-12-19 12:21] melloware commented on #4335
I submitted a PR.  To me this seems like a good change, that should not have any downstream impacts.  @tandraschko if you disagree you can of course reject the PR!

[2018-12-19 12:23] melloware commented on #4337
Also what is the scope of your "userRegistrationBean".  A better thing to do would be to create a small reproducible example so the developers can debug it.  Simply clone this project and make us a small test project.  https://github.com/primefaces/primefaces-test

[2018-12-19 13:16] tandraschko commented on #4337
No runnable example -> invalid.

[2018-12-19 13:36] kaushikmeduri commented on #4337
Issue is actually not reproduced every time . Scope is ViewScope.

[2018-12-19 13:43] kaushikmeduri commented on #4337
This issue closely related to primefaces/primeng#1862
Mrtcndkn added this to the 2.0-RC2 milestone on Jan 20, 2017

Please advise which version has the fix for 1862.  I have downloaded  6.2.13 , so far issue not produced in 6.2.13
Could you advise if fix actually went in after 6.1.19?

[2018-12-19 15:32] theobisproject commented on #4333
[Snyk](https://snyk.io/) is also a great tool for doing this job. A plus for me is that the reporting does not depend on a CI build.

[2018-12-19 18:00] ravihariharan opened #4339 "SelectOneMenu : IE 11 with f:selectItems converts string to scientific notation"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version?  6.2 No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: NA
- Affected browsers: IE

## 2) Expected behavior
The String values should be shown correctly when using f:s

[2018-12-19 18:58] marcelogore commented on #3201
@tandraschko Actually, I'd be interested if you are still sharing.

[2018-12-19 20:44] src-skyworld opened #4340 "Datatable: RowEdit validation with RowGroup"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? No Version? 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Unsure
- Application server + version: Tomcat/8.5.27, JVM/1.8.0_161-b12
- Affected browsers: Chrome

## 2) Expected behavior
Clicking row-edit che

[2018-12-20 03:15] wujianbin-sh commented on #4295
No, not call it in its body,
Just after its definition body, like this:
[code]

[2018-12-20 07:45] mertsincan commented on #4036
Thanks a lot for PR, @melloware ;)

[2018-12-20 09:47] OBreidenbach opened #4341 "Ajax: requires form"
## 1) Environment
- PrimeFaces version:
- Works on 6.2
- Does not work on 6.3-SNAPSHOT (2018/12/20)
- Application server + version: Wildfly 11
- Affected browsers: does not matter

## 2) Expected behavior
Example is rendered with PF 6.3-SNAPSHOT, as it is with PF 6.2.

## 3) Actual behavior
Exception is thrown:
[code]
This is caused by the changes of commit c7f8c9539ff07ce291a7f6e9f24fe4ad33431b79

[2018-12-20 09:52] tandraschko commented on #4341
Actually it's by design.
If you use a ajax event on dialog, a form is required to send the request.

We did (and still do!) a fallback on the first form in the DOM.

[2018-12-20 09:56] OBreidenbach commented on #4341
But if you do a fallback to the first form, why do I get an exception?

[2018-12-20 09:59] tandraschko commented on #4341
because the fallback is IMO just for edge-cases and done in JS.
Also it could be wrong on portlets.

[2018-12-20 10:26] tandraschko commented on #4341
We could probably switch to a warning instead of the exception - but that could be a real issue for some cases, therefore just ignore it, isn't a good idea.

[2018-12-20 10:28] OBreidenbach commented on #4341
OK, defining the form to use at the AjaxBehavior solves the problem.
[code]
But that means, I have to change that at all places in my application.

[2018-12-20 10:36] tandraschko commented on #4341
Yep.
maybe a warning log is enough. Thats also what the JSF impls do.

[2018-12-21 02:43] ravihariharan commented on #4339
the only workaround i found was using labelTemplate="{0}".
i tried to debug forms.selectonemenu.js , but could not find why it has issue only with IE 11.
Chrome , FireFox , Edge all work fine without the  labelTemplate="{0}".

@tandraschko / @Rapster  / @melloware  can you have a second look at the selectItem in forms.selectonemenu.js of what could cause the issue with IE 11.

[2018-12-21 12:15] melloware commented on #4339
@ravihariharan let me investigate.  Thanks for the sample project.

[2018-12-21 12:36] melloware commented on #4339
PR Submitted.  Just a one line fix.  By making it a String IE or JQuery won't try and convert it t scientifc notation. https://github.com/primefaces/primefaces/pull/4342

[2018-12-21 13:02] #4339 closed, assigned to nobody

[2018-12-21 13:02] tandraschko commented on #4339
THanks!

[2018-12-21 20:01] melloware commented on #4295
Test case that proves the problem:
[pf-4295.zip](https://github.com/primefaces/primefaces/files/2704092/pf-4295.zip)

[2018-12-21 20:04] melloware commented on #4295
@wujianbin-sh Your fix worked perfectly and I just submitted a PR.

[2018-12-24 11:33] tandraschko commented on #4341
merry christmas ;)

[2018-12-24 11:33] #4341 closed, assigned to nobody

[2018-12-24 11:34] #4295 closed, assigned to nobody

[2018-12-24 16:30] Rapster commented on #4332
@primefaces/committers @melloware @cnsgithub Do we need to keep skinning/CSS classes in documentation? I personnaly never had to use it

[2018-12-24 16:32] melloware commented on #4332
@Rapster do you mean sections in the PDF that say if you want to override XX use .ui-toolbar style etc?    I usually don't look through the documentation for this  I usually just end up studying the style classes etc.  But I can't say whether it doesn't help everyone.   I personally would be OK removing them from the docs.

[2018-12-24 16:35] tandraschko commented on #4332
Could you give a example? UserGuide Page XXX?

[2018-12-24 16:41] Rapster commented on #4332
Page 18, 36 etc. (from 6.2)

[2018-12-24 16:42] Rapster commented on #4332
Sorry I meant "skinning/CSS classes section"

[2018-12-24 16:57] tandraschko commented on #4332
Ahh i see. I would keep it for now as we already have it.
The benefit isn't big of course as it doesn't cover all cases but it think it's ok as entrypoint for users.

[2018-12-25 14:48] melloware commented on #4340
@tear-gas Interested and trying to fix it and submitting a PR?

[2018-12-26 18:14] Rapster commented on #3815
Could it be possible to fix this using standard JSF ajax API?

[2018-12-26 20:56] tandraschko commented on #3815
How?

[2018-12-26 20:58] Rapster commented on #3815
That's my question, BalusC had a tought about it on omnifaces, but he's not planning to fix it anytime soon I think

[2018-12-26 21:19] tandraschko commented on #3815
I think we have to introduce lifecycle events on the Client and init the Scripts after all state updates

[2018-12-26 21:58] tandraschko commented on #3815
Or somehow update the states before the components by js or force that the states are rendered before components in the partial response
EDIT: nvm, this doesnt work

[2018-12-27 17:49] melloware commented on #3756
Found this old post on how to fix it:  https://forum.jquery.com/topic/datepicker-height-problem

[2018-12-27 18:00] melloware commented on #1712
@djmj any news on this issue? I can't reproduce it but without a reproducible test case I can't tell.

[2018-12-27 18:41] melloware commented on #3684
@ravihariharan How did you make the screenshot of what you "Expected" it to look like?  did you use raw JqPlot and if so can you post the code here so we can see what is different about what PF is rendering.

[2018-12-27 19:14] melloware commented on #2405
@schlebe any update on this?  I can't reproduce it either with PF 6.3-SNAPSHOT.

[2018-12-27 19:37] schlebe commented on #2405
Sorry, but I don't have the possibility to test this issue again because my customer (Goodyear) has stopped my contract and I'm alone to work with you; all others IT members enjoy using Glassfish without participating. I regret but now I return to VB.net :-)

[2018-12-27 19:38] melloware commented on #2405
OK do you mind closing this issue since you were the reporter and no one else is having this issue.

[2018-12-27 19:40] schlebe commented on #2405
Thanks to all Primefaces team members and all others fun guys that have take some time to answer to my question on GIT and in Primefaces forum and some times, on StackOverflow.
Primefaces is my first expertiment with Open Source and it is very interesting.
Thanks to all folks

[2018-12-27 19:40] schlebe commented on #2405
@Melloware: yes you can close this issue.

[2018-12-27 19:40] #2405 closed, assigned to nobody

[2018-12-27 19:55] #1712 closed, assigned to nobody

[2018-12-27 20:33] melloware commented on #4220
@tarpatel I have verified this is already fixed in 6.3 using this attached test case:
[pf-4220.zip](https://github.com/primefaces/primefaces/files/2713313/pf-4220.zip)

I also verified if I changed the pom.xml from 6.3-SNAPSHOT back to 6.2 the problem existed in 6.2 but is now definitely resolved.

TO run this just run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces

[2018-12-27 20:44] melloware commented on #3975
@abialas I used you example and I can't reproduce using IE 11.472.   I also tested in Edge, Chrome and Firefox and I am not seeing the dialog move at all when fast forwarding, rewinding or anything?

When I right click on the video in IE11 it says Windows Media Player 12.0 not QuickTime.  So I am not sure what your issue is or whether its QuickTime but its definitely not anything related to PrimeF

[2018-12-27 20:46] #4220 closed, assigned to nobody

[2018-12-27 21:11] melloware commented on #2359
OK this was made as a conscious decision by PrimeTek when using Track Mouse its always on the bottom left no matter what you have for position.  It on purpose ignores the position attribute.

https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/tooltip/tooltip.js#L184-L193

https://github.com/primefaces/primefaces/blob/master/src/main/resources/META

[2018-12-28 08:07] fcorneli opened #4345 "Input Period"
An interesting input component would be inputPeriod. Usage example:
[code]

Proof of concept implementation via composite:
[code]
and the backing component as follows:
[code]

[2018-12-28 11:22] Rapster commented on #4332
I said that 'cause the whole migration is a heavy task... So if we can get rid of these, it'd a lot more easier 😋 Anyway, if you'd like to contribute, let me know so I can add you as contributor, just checkout my repos: https://github.com/Rapster/primefaces-asciidoc and https://github.com/Rapster/primefaces/tree/fix-4332

Feel free to come up with some kick ass ideas 😉 I thought about generating t

[2018-12-28 13:54] melloware commented on #3545
@professorxuk can you try this with 6.3-SNAPSHOT.  I can't reproduce your issue with your test case.  The Calendar opens correctly next to the input.

You must first build PF 6.3-SNAPSHOT ...
[code]

I believe it may have been fixed by: https://github.com/primefaces/primefaces/issues/4295

[2018-12-28 14:08] melloware commented on #3423
@JHookDev  Using your code above I created this attached test case:
[pf-3423.zip](https://github.com/primefaces/primefaces/files/2714987/pf-3423.zip)

When the pom.xml is set to PF 6.2 I can verify the behavior you reported.  When switching to 6.3-SNAPSHOT the behavior is different.  As soon as you begin to scroll the dialog the Calendar is closed.  To me this is much better behavior and correct b

[2018-12-28 16:13] tandraschko commented on #4332
So you say that the Initial work is done and we just need to migrate content?
If yes, we could apply the PR probably, publish the first result and ask the community to Help?

How can we host? How can User reach it?

I would really parse the wigets for publics APIs. If you check the js files from Extensions, we can just add "@public" to those methods AFAIR

What so you exactly mean with the modules

[2018-12-28 16:23] Rapster commented on #4332
Yes, the initial work is done. What's left is migrating into asciidoc, using processors and insert new images with current luna themes.

What I mean by module, is a maven module:
[code]

Yes I guess, we can apply the PR, but either `primefaces-asciidoc` becomes a child module or we need a new repo for it. I prefer the first option. Either way, it'll be better using primefaces repos than mines.

I

[2018-12-28 17:01] tandraschko commented on #4332
OK. I need to talk with cagatay about the repo changes but that will make life easier for us.
But we need the release first.

I meantime it would be perfect if you would complete the technical part and also parse the js wigets + apply the correct js method docus to wigets which are already migrated to the system.

Thank you for your great contributions. Thats an big task now, same as removing the

[2018-12-28 17:10] melloware commented on #4332
+1 on all your hard work @Rapster this will make life so much easier going forward.

[2018-12-28 17:28] melloware commented on #1369
Attached is a test case showing the issue.  Even though the OverlayPanel is calling registerDynamicOverlay() is not working.  Its almost like that needs to be registered after the dialog is displayed.

[pf-1369.zip](https://github.com/primefaces/primefaces/files/2715328/pf-1369.zip)

[2018-12-28 17:50] melloware commented on #200
PR Submitted: https://github.com/primefaces/primefaces/pull/4346

[2018-12-28 18:13] melloware commented on #685
@kishor-p @sekmiller I can't reproduce in the latest showcase and Chrome 62.  https://www.primefaces.org/showcase/ui/data/datatable/scroll.xhtml

Can either of you verify?

[2018-12-28 19:48] melloware opened #4348 "Spotlight: Position calculation incorrect if page scrolled"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT

## 2) Expected behavior

Spotlight should highlight the target="" element.

## 3) Actual behavior

Spotlight is calculated based on offsets of the element not where it is when the spotlight is shown.

## 4) Steps to reproduce

1. Got to showcase: https://www.primefaces.org/showcase/ui/misc/spotlight.xhtml
2. Scroll page down but where you can s

[2018-12-28 19:58] melloware commented on #4348
Related to: https://github.com/primefaces/primefaces/issues/2062

[2018-12-29 12:27] tandraschko commented on #4345
Maybe you can develop something and commit it to pf Extensions.
Otherwise you can always sponsor a component via primefaces pro.

[2018-12-29 18:36] RejDev opened #4349 "javax.enterprise.resource.webcontainer.jsf.context java.lang.NullPointerException with p:ajax listener call"
Hello,
Recently I migrated a JEE project from Payara to Wildfly, and since some calls p: ajax cause this exception :
 [javax.enterprise.resource.webcontainer.jsf.context] (default task-30) java.lang.NullPointerException: java.lang.NullPointerException

## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Application server   : wildfly-15.0.0.Final
- JSF implementation : Mojarra 2.3.5.SP2

## 2)

[2018-12-29 19:20] tandraschko commented on #4349
Thats a mojarra issue: https://github.com/eclipse-ee4j/mojarra/issues/4500

[2018-12-29 19:21] #4349 closed, assigned to nobody

[2019-01-01 11:49] Rapster commented on #4335
What's the problem? Maybe the real problem is there and not in PF. Regarding your warning, it might be a bad design, I'm guessing your class implements Serializable, but TreeNode does not. Fair enough, but are you sure you want treenode as attribute and not the corresponding data?

I agree, in theory implements shouldn't change anything but that's something we can't be 100% sure. 😄

Implementing S

[2019-01-01 12:20] tandraschko commented on #4335
We dont serialize it, right. But most people use it in ViewScoped beans and the Bean needs to implement serializeable with CDI. Therefore the warning occurs with the IDE.

But its just a warning...

[2019-01-01 12:31] tandraschko commented on #4335
Lets close it until there is a real reason. both with and without serializeable has pro and contras from cosmetical perspective.

[2019-01-01 12:31] #4335 closed, assigned to nobody

[2019-01-01 13:33] Rapster commented on #4335
Ah I see, that's a different story then... Indeed from https://docs.oracle.com/javaee/7/api/javax/faces/view/ViewScoped.html, it says

And from Omnifaces ViewScoped

[2019-01-01 16:20] tandraschko opened #4350 "PF shortcut for PrimeFaces util class"
Just a shortcut which uses PrimeFaces.current() -> PF.current().

Nothing special, just makes the line lenghts bit shorter.

[2019-01-01 16:23] #4140 closed, assigned to nobody

[2019-01-01 16:24] tandraschko commented on #4140
Melloware added a "blockScroll" atteibute. Thanks.

[2019-01-01 16:25] tandraschko commented on #1836
Possible via "blockScroll" now

[2019-01-01 16:25] #1836 closed, assigned to nobody

[2019-01-01 16:27] tandraschko opened #4351 "[Documentation] Dialog/lightbox/Spotlight: add blockScroll attribute"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-01-01 17:39] jansohn commented on #4335
Did you even take a look at the showcase of `treeTable`? Because what you are writing does not make any sense, sorry to be so blunt...

Please just take a look at the `basic.xhtml` and the `BasicView.java` of the showcase example. There's no way to NOT use it as a member variable.

[2019-01-01 19:25] Rapster commented on #4335
Hi @jansohn,

It's okay, I don't consider myself as a "know-it-all" in JSF, so there are few things that I might be missing out... See my comment right there: https://github.com/primefaces/primefaces/issues/4335#issuecomment-450729230

It's easy to say it does not make any sense, but you have to justify this statement as I don't see you giving relevant reasons to do it! 😉 Although, the fact that t

[2019-01-01 19:52] tandraschko commented on #4335
JSF ManagedBean ViewScoped must not implement Serializeable until you enable state serialization to session. With the JSF CDI you would get an exception on Startup.

As i said already, its just a hint from the IDE. Serialization is fine If you declare the Interface but the instance is a serializable impl.

[2019-01-02 08:24] jansohn commented on #4335
CDI is pretty much standard now in web applications so the right thing to do would be to add the Serializable interface and fix the serialization issues in the implementations (https://github.com/primefaces/primefaces/pull/4338#pullrequestreview-186531859). Just closing this issue and ignoring it doesn't solve anything...

[2019-01-02 09:42] tandraschko commented on #4335
There is no issue - or can give me a example which throws a exception?

[2019-01-02 13:42] melloware commented on #2062
Here is a test case showing the issue:
[pf-2062.zip](https://github.com/primefaces/primefaces/files/2720865/pf-2062.zip)

The problem is with this code:
https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/dialog/dialog.js#L353-L362

[2019-01-02 14:20] Alister71 commented on #909
It is observable in primefaces 6.2 and was not observable in 6.1

[2019-01-02 14:22] melloware commented on #909
It looks like this has been a strange issue since PF 5.3

[2019-01-02 14:47] jansohn commented on #4335
I can give two examples.

1\) Create a custom TreeNode class which does not implement Serializable and contains a non-serializable member variable, e.g. a `Thread` object. This throws `java.io.NotSerializableException`:

    WARNING: Cannot serialize session attribute [com.sun.faces.application.view.activeViewMaps] for session [9B3FD35F0CAC2195EB0127AE56E2E5C0]
    java.io.NotSerializableException

[2019-01-02 14:53] melloware commented on #4335
I think the long term fix for PF 7.0 should be in any of our "Default" objects or interfaces we should be using Serializable instead of java.lang.Object.  But that would be something we would have to get buy in from PrimeTek for.

[2019-01-02 15:43] Alister71 commented on #909
Yes, last check showed that it was pre 6.1 isssue

[2019-01-02 15:49] tandraschko commented on #4335
@melloware we don't need to buy in or something, we just need a good reason, i can discuss it and i can apply it.

@jansohn
Don't get me wrong, i'm happy that we have such a good discussion here - and it's good for a framework to have such users! :)

1) is not an real issue for me. If the user uses serialization, he can easily add Serializable to his custom TreeNode.
2) is even unrelated.

Sometim

[2019-01-02 15:53] #4348 closed, assigned to nobody

[2019-01-02 16:24] melloware commented on #909
Bootstrap theme CSS tries to ease the animation but makes it worse.

[code]

if you override the CSS with your own CSS to turn off the transition:width it resolves the issue.

[2019-01-02 16:41] #1803 closed, assigned to nobody

[2019-01-02 16:41] tandraschko opened #4354 "[Documentation] ProgressBar: animationDuration attr"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-01-02 16:47] #4350 closed, assigned to tandraschko

[2019-01-02 17:09] Rapster commented on #4350
I would have simply rename `PrimeFaces` into `PF` and make all methods static, to make the use of this util more straightforward. I don't see the benefit of this new util, save 8 characters on the line?

Being said, I would personnaly rename every `PrimeXXX` classes into `PFXXX`

[2019-01-02 17:20] tandraschko commented on #4350
1) static is not nice
2) We don't have any class with starts with "PrimeFaces" - only the Prime"FacesContext"
3) We newly introduced "PrimeFaces" last release, renaming it now isn't good

[2019-01-02 17:41] #4340 closed, assigned to nobody

[2019-01-02 18:29] #4256 closed, assigned to nobody

[2019-01-02 18:45] jansohn commented on #4335
I have to disagree here. It would be perfectly fine to extend Serializable as a first step now (doesn't break anything) and fix the data type in a major release later on because it might break things (though most POJOs should already implement Serializable).

In this case they will already get `java.io.NotSerializableException` during re-/undeploy phases. I'd argue that having the error visible at

[2019-01-02 18:49] tandraschko commented on #4335
Thats not true. As i said it's perfectly fine and used (actually most of the times) that ViewScoped is not serialized into the session.

[2019-01-02 19:00] jansohn commented on #4335
I stand corrected for `@ManagedBean`. Haven't used those for ages. They are already deprecated in JSF 2.3 so I would question your "most of the times".

[2019-01-02 19:20] melloware commented on #909
Fixed with PR: https://github.com/primefaces/themes/pull/14

[2019-01-02 19:21] melloware commented on #950
Fixed with PR: https://github.com/primefaces/themes/pull/14

[2019-01-02 19:31] tandraschko commented on #4335
It's the same for CDI.
You will only see a serialization exception if:
- the field in your Session or ViewScoped bean is not serializable
  && javax.faces.SERIALIZE_SERVER_STATE == true
  && container session persistence / replication is enabled

[2019-01-02 19:35] ravihariharan commented on #3684
@melloware the sample expected was without the DateAxis code.  i did not test with raw JqPlot .

[2019-01-02 19:36] melloware commented on #3684
@ravihariharan thanks for clarifying.

[2019-01-02 19:46] melloware commented on #802
Linking to Theme Issue: https://github.com/primefaces/themes/issues/9

[2019-01-02 19:59] tandraschko commented on #4335
(probably javax.faces.SERIALIZE_SERVER_STATE doesn't even matter here, not sure about the exact state saving impl since 2.3)

[2019-01-02 20:09] melloware commented on #1991
Test case proving the issue:
[pf-1991.zip](https://github.com/primefaces/primefaces/files/2721888/pf-1991.zip)

[2019-01-02 20:54] tandraschko commented on #4256
Thanks for your effort @cnsgithub - thats another great security milestone.

I did a small refactoring:
https://github.com/primefaces/primefaces/commit/fcea44d90a17174becffc00d5333030168a3e7bc

in generell we should never use static "contextuals".
This doesn't matter if you deploy PF inside the WAR but it can make a big difference if you deploy PF inside tomcat/lib e.g.

[2019-01-02 21:48] tandraschko commented on #4256
@cnsgithub could you please align your wiki page? How to use and also how to add a new VirusScanner impl.

[2019-01-02 22:46] jansohn commented on #4335
Why does the official documentation (https://docs.oracle.com/javaee/7/api/javax/faces/view/ViewScoped.html) say otherwise then?

Sounds pretty clear to me.

[2019-01-03 07:02] tandraschko commented on #4335
I dont know ;)

[2019-01-03 09:17] Rapster commented on #4350
1. What's not nice about it? You might think static is not nice but every call done by `PrimeFaces` methods delegate to a static method, so I'm not sure if it makes sense to change that...

2. The idea is to make it shorter and understandable, `PF` is the acronym we used most of the time so, it sounds better to me than "Prime" prefix

3. Your call, if you think it sounds better, it's better to do

[2019-01-03 09:34] tandraschko commented on #4350
1) where are static methods? As PrimeFaces is the main entry for user-utils its much better to make the instance exchangable. Also for unittesting.

2) i dont see a benefit, it saves 3 chars and none of the classes are used by users

3) i dont see a reason to do that. We can still deprecate and move slowly. I will leave it as it is. PF js method is also just a shortcut.

[2019-01-03 12:14] melloware commented on #4335
@jansohn I guess the CDI vendors chose to delay any errors until the bean actually get serialized rather than checking the bean and failing up front.

[2019-01-03 13:00] jansohn commented on #4335
@melloware this is described here (https://www.knitelius.com/2016/05/18/cdi-passivation-uncovered/)

[2019-01-03 13:13] melloware commented on #4335
ahh yep that explains it.  So if you just have a ViewScoped or SessionScoped bean used only by JSF and not injected anywhere it is not being scanned for passivation.

[2019-01-03 13:47] melloware commented on #3367
Agree with @OBreidenbach this is exactly what the Extender is for.

[2019-01-03 14:01] melloware commented on #2202
This will be fixed with the new DatePicker being ported from PrimeNG in the next PF: https://www.primefaces.org/primeng/#/calendar

[2019-01-03 14:01] melloware commented on #7
This will be fixed with the new DatePicker being ported from PrimeNG in the next PF: https://www.primefaces.org/primeng/#/calendar

[2019-01-03 16:26] tandraschko commented on #4335
it's just impossible to validate this earlier as the object instances can be different.

In OWB we just validate if the bean implements Serializable, everything else can only be done by the servlet container when the session map is serialized to disk or other instances.

[2019-01-03 16:27] Rapster commented on #4350
1. Take for example PrimeFaces#isAjaxRequest(): under the hood it's a static which is called (same goes for all the methods, either they are or do not depend on a PrimeFaces instance: so static). Unit test is a good argument though... What's the use of PrimeFaces#instance? So far, not much no? I guess that's for "exchangable" purposes, even though I'm not sure what you mean by that (considering th

[2019-01-03 16:35] #3367 closed, assigned to nobody

[2019-01-03 16:38] tandraschko commented on #4350
1) PrimeFaces#setInstance can easily be used in UnitTests, same like the JSF FacesContext#setCurrentInstance or in the old RequestContext. This exchangeable instance was even used in the past from users to fix a possible XSS.
The handling is absolute the same as in JSF, i just shortened the getCurrentInstance to current (like in CDI).
I just decided the make the instance static instead of doing th

[2019-01-03 17:36] tandraschko commented on #909
Duplicate: https://github.com/primefaces/themes/issues/13 (and more related to themes)

[2019-01-03 17:36] #909 closed, assigned to nobody

[2019-01-03 17:37] tandraschko commented on #950
Duplicate: https://github.com/primefaces/themes/issues/13 (and more related to themes)

[2019-01-03 17:37] #950 closed, assigned to nobody

[2019-01-03 17:46] mauromol commented on #909
Thanks Melloware and Thomas! What's the target milestone?

[2019-01-03 17:58] tandraschko commented on #909
There is currently no milestone.
We will first release the next PF core and then we should check to release the themes again.

[2019-01-03 18:13] melloware commented on #909
To fix it now @mauromol just go here and download and do mvn clean install since this was fixed in the 1.0.11 BootStrap theme.  https://github.com/primefaces/themes

[2019-01-03 19:55] cnsgithub commented on #4256
@tandraschko Thanks for merging it. 👍  Adjusted the [wiki page](https://github.com/primefaces/primefaces/wiki/More-secure-file-upload). 🍻

[2019-01-03 20:31] tandraschko opened #4356 "dynamic class lookup (Class.forName) doesn't use the right ClassLoader if PF is deployed in container/lib"

[2019-01-03 20:31] #4356 closed, assigned to tandraschko

[2019-01-03 20:52] melloware commented on #1525
@tandraschko @Rapster Safe to mark this ticket as fixed for 6.3 and close it.  I have created a test case that proves its fixed.

[2019-01-03 20:52] melloware commented on #1736
@tandraschko @Rapster Safe to mark this ticket as fixed for 6.3 and close it.  I have created a test case that proves its fixed.

[2019-01-03 21:01] #1525 closed, assigned to nobody

[2019-01-03 21:02] #1736 closed, assigned to nobody

[2019-01-04 07:34] sergi-mm opened #4357 "Scrollable Datatable: height should be adaptative"
Datatable scrollable body height is fixed and should be adaptative when using `scrollable=true` and `scrollHeight=X`. As it is now, when there are few rows to display, table body occupies all assigned height with nothing to show.

Changing the style property "height" to "max-height" will fix this issue. I will attatch a pull request for this.

[2019-01-04 07:40] sergi-mm commented on #4357
Added pull request #4358

[2019-01-04 08:25] jansohn commented on #4122
@tandraschko is this also fixed in one of the elite releases?

[2019-01-04 08:30] tandraschko commented on #4122
Dont think so. Elite is up to @mertsincan. Can you merge it?

[2019-01-04 12:03] melloware commented on #4357
@sergi-mm thanks for the PR. Can you review this item as well: https://github.com/primefaces/primefaces/issues/250

[2019-01-04 13:52] melloware commented on #3601
This is a duplicate of: https://github.com/primefaces/primefaces/issues/40

[2019-01-04 15:25] #3601 closed, assigned to nobody

[2019-01-04 15:44] tandraschko commented on #3668
@VsevolodGolovanov Why do you need the event when cache is enabled?
We could introduce a new flag probably, which is called "fireEventsOnCachedNodes" or something...

[2019-01-04 15:54] tandraschko commented on #3668
in 6.3, we will have:
expand and collapse events will be fired always, doesn't matter if dynamic true or false
BUT
expand and collapse will both NOT be fired when cache=true; expand will just be fired for the initial request to get the sub-nodes to cache

NOTE: cache=true is the default

[2019-01-04 16:22] #3668 closed, assigned to tandraschko

[2019-01-04 16:23] tandraschko commented on #3668
Done, i think everything should work like you expected when you set cache=false

[2019-01-04 16:32] tandraschko commented on #1686
See https://github.com/primefaces/primefaces/issues/3668

in 6.3, we will have:
expand and collapse events will be fired always, doesn't matter if dynamic true or false
BUT
expand and collapse will both NOT be fired when cache=true; expand will just be fired for the initial request to get the sub-nodes to cache

NOTE: cache=true is the default

[2019-01-04 16:32] #1686 closed, assigned to nobody

[2019-01-04 16:35] tandraschko commented on #1795
XHTML missing, i will close it as invalid for now.
If you the issue is still present, please create a new issue with all required informations.

[2019-01-04 16:35] #1795 closed, assigned to nobody

[2019-01-04 16:36] #4314 closed, assigned to nobody

[2019-01-04 16:37] tandraschko commented on #4265
Will close it for now. Feel free to create a new issue with a MVCE in the future.

[2019-01-04 16:37] #4265 closed, assigned to nobody

[2019-01-04 16:37] #4216 closed, assigned to nobody

[2019-01-04 16:39] tandraschko commented on #4337
primefaces != primeng.
Sorry, but if you can't provide a runnable example / MVCE, i have to close it for now.
Feel free to create a new issue someday with a runnable example, so we can reproduce and fix it.

[2019-01-04 16:39] #4337 closed, assigned to nobody

[2019-01-04 16:40] tandraschko commented on #4291
Will close it for now.
Feel free to create a new issue again with a fully runnable example.

[2019-01-04 16:40] #4291 closed, assigned to nobody

[2019-01-04 16:42] #4357 closed, assigned to nobody

[2019-01-04 16:43] #250 closed, assigned to nobody

[2019-01-04 19:13] #4028 closed, assigned to tandraschko

[2019-01-04 19:14] tandraschko commented on #1588
Implement behaviors.

You can do:
<p:ajax event="resizeStart|resizeStop" onstart="someJS(); return false;" />
or use
<pe:javascript event="resizeStart|resizeStop" execute="someJS(); return false;" />

the second approach produces fewer js content, maybe we should move it PF core.

[2019-01-04 19:14] #1588 closed, assigned to tandraschko

[2019-01-04 19:15] tandraschko commented on #1588
Duplicate of: https://github.com/primefaces/primefaces/issues/4028

[2019-01-04 19:15] tandraschko commented on #4028
Next time please provide a PR.

[2019-01-04 19:21] tandraschko opened #4359 "Dialog: resizeable broken"
just try it in the showcase

[2019-01-05 08:35] #3620 closed, assigned to tandraschko

[2019-01-05 08:40] tandraschko commented on #1346
This should work fine, many people miss the form inside the overlays if appendTo is used (and per default, appendTo is used by many overlays). So you have to put a form inside the overlay.

But no example -> invalid
i will close it for now.
Feel free to create a new issue if you face that again in 6.2 or newer.

[2019-01-05 08:40] #1346 closed, assigned to nobody

[2019-01-05 08:50] tandraschko commented on #3629
@cnsgithub Can we close it on our side?

[2019-01-05 08:52] tandraschko commented on #3488
Could you please add a runnable example? Otherwise we can't test it.

[2019-01-05 09:01] tandraschko commented on #1887
I will close it for now, i have no idea how to replicate.
Feel free to create a new issue with all required informations next time.

[2019-01-05 09:01] #1887 closed, assigned to nobody

[2019-01-05 09:58] #880 closed, assigned to nobody

[2019-01-05 10:19] tandraschko commented on #2513
Lets close it for now. We just have to keep that in mind.

[2019-01-05 10:19] #2513 closed, assigned to nobody

[2019-01-05 10:23] Rapster commented on #2513
Mmmmh why not labelling it into `Enhancement`, I think from now on we have to stop doing nullity test with strings but use `LangUtils.isValueBlank()`. We are facing too many problems due to this

[2019-01-05 10:42] tandraschko commented on #2513
If you really work on this and do a mass-replace, we can leave it open. (but please after the release)
Otherwise it will stay open for ages probably and noone works on it.

[2019-01-05 10:44] Rapster commented on #2513
I'll have a look after release, too busy right now. You can leave it close, I'll open it once I'll work on it

[2019-01-05 10:52] tandraschko commented on #4199
ok ;)
lets do
process=@all
update=@none

@form is not correct here and @all is actually used.

[2019-01-05 13:24] melloware commented on #3423
@tandraschko Can you review this and mark it 6.3 and close it?

[2019-01-05 13:24] melloware commented on #3545
@tandraschko Can you review this and mark it 6.3 and close it?

[2019-01-05 13:25] melloware commented on #3975
@tandraschko I was not able to reproduce this and without a reproducible test case I think this is safe to close.

[2019-01-05 15:15] #3423 closed, assigned to nobody

[2019-01-05 15:18] #3975 closed, assigned to nobody

[2019-01-05 15:19] #3545 closed, assigned to nobody

[2019-01-05 16:46] cnsgithub commented on #3629
@tandraschko Sorry, I have not yet tested with MyFaces + PrimeFaces (or at least cannot remember right now). And unfortunately, I am currently not able to do so. Would you like to give it a try? MyFaces itself seems not to be affected. If MyFaces + PrimeFaces in combination fails, that would mean that PrimeFaces on its own is affected as well. Otherwise we could close the issue and hope that Mojar

[2019-01-06 09:20] tandraschko commented on #3629
Tested, works fine.

[2019-01-06 09:20] #3629 closed, assigned to nobody

[2019-01-06 19:53] Rapster commented on #4332
UPDATE: The Client API is from now on generated :wink:

[2019-01-06 19:59] melloware commented on #4332
Nice work!

[2019-01-06 20:37] tandraschko commented on #4332
Yeah!!!

[2019-01-06 22:27] Rapster commented on #4332
If you have any suggestions, feel free: [index.txt](https://github.com/primefaces/primefaces/files/2730941/index.txt)

P.S: To rename into .html (Of course, they are plenty of sections that has not been migrated yet, I can't do all of that on my own 😄 )

[2019-01-06 22:46] tandraschko commented on #4332
looks nice on the first view!

How do you lookup the default values of the attribtues? Could we read them from the java classes, as there is no "default" node in the taglib?

(also seems like the tables of most of the components are not generated correctly for now? Starts from the Calender componet)

[2019-01-06 22:55] Rapster commented on #4332
I didn't touch the Calendar component (if you don't see a `_<tagName>.adoc` it means I didn't touch it. Regarding the default value, I have this for example:

[code]

But I just realized indeed `defaultValue `is not supported in taglib.xsd... Quite annoying as sometimes we put the default value in the description itself

[2019-01-06 23:12] tandraschko commented on #4332
yep exactly.
I think we can do 2 things:
1) read the default values from the classes
2) verify that each description in the taglib has the default value at the end and read it from there

probably 2) is the better way as we would also have it in the code completion in the IDE.

[2019-01-06 23:22] Rapster commented on #4332
Arf even 2 is annoying... But I guess we don't have a lot of choice, unless it's "legit" to add our own xml tag? Okay for 2, but we need a standard way to define default value (e.g `Default value(s) is|are: blablablah`)

[2019-01-06 23:26] Rapster commented on #4332
Definitely will need help, I'd like to work on #4278 again, and soon the RC1 will be released and there is at least one ticket I'd like to have a look at #3971 before final

[2019-01-07 07:05] mertsincan opened #4360 "New Component: DatePicker"
DatePicker is an input component to select a date, such as Calendar component. It is more flexible and easily customizable. Thus, new features can be added easily by us.

Some features;
- Range Selection
- Multiple Selection
- Month Picker
- Touch UI
- Date Template
etc.

[2019-01-07 07:05] #4360 closed, assigned to mertsincan

[2019-01-07 07:08] tandraschko commented on #4332
Im not an xsd pro but it could be possible via an own namespace. But even If we do, we probably still need it in the description for the IDE.
As i said, If would be cool If you could finish the technical stuff, everything else will need manpower from PrimeTek and/or community.

[2019-01-07 08:30] cnsgithub commented on #4332
This is what I've found in [Practical RichFaces](https://books.google.de/books?id=g3TCFczl0IwC&pg=SA10-PA74&lpg=SA10-PA74&dq=facelet-taglib+default+value&source=bl&ots=Gg_fAbGA9g&sig=Qx7cQspaY3T0e3SSlQmVPouMujU&sa=X&redir_esc=y#v=onepage&q=facelet-taglib%20default%20value&f=false):

![image](https://user-images.githubusercontent.com/13161711/50757062-72936980-125e-11e9-8340-9ffa765ff70c.png)

Coul

[2019-01-07 08:51] cnsgithub commented on #4345
Nice proposal. However, I think it's too specific since it may be used for hours and days only.

@mertsincan just added a new `datePicker` component that also supports date ranges. Not sure if you could use it for your use case as well: https://github.com/primefaces/primefaces/issues/4360

[2019-01-07 09:45] Rapster commented on #4332
Yup it would have been the best option, CDK has been part of a long discussion in https://github.com/primefaces/maven-jsf-plugin/issues/4 and https://github.com/primefaces/primefaces/issues/3967, I even created a tool `primefaces-cdk` but it has been decided to do otherwise. I think Thomas didn't want to introduce a new tool and keep the complexity low.

@tandraschko I don't know about introducing

[2019-01-07 10:26] cnsgithub commented on #4360
@mertsincan This new component seems to be a huge improvement, thank you!

I just left a few commit comments here: https://github.com/primefaces/primefaces/commit/35d9ee93463f693c60d93790b7144e896a84a979

[2019-01-07 10:52] mertsincan opened #4361 "PFS selector throws a JS exception when primefaces.SUBMIT is 'partial'"
Reported By PRO User;

[code]
To replicate this error, please use;
[code]

[2019-01-07 10:53] #4361 closed, assigned to mertsincan

[2019-01-07 11:28] cnsgithub opened #4362 "datePicker: lack of user input validation when using disabled dates/days"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Disabled dates/days must be validated on backend side.

## 3) Actual behavior
It's possible to bypass client side input validation and apply unallowed dates to the model.

## 4) Steps to reproduce
1. Go to http://localhost:8080/showcase/ui/input/datePicker.xhtml.
2. Manually set a disabled date, e.g. in dev console: `$('

[2019-01-07 12:09] cnsgithub opened #4363 "datePicker: lack of user input validation when using range"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Beginning date must be before end date. Otherwise backend validation must fail.

## 3) Actual behavior
End date can be before beginning date without validation error thrown.

## 4) Steps to reproduce
1. Go to http://localhost:8080/showcase/ui/input/datePicker.xhtml.
2. Install breakpoint in `jquery.js.xhtml?ln=primefaces

[2019-01-07 12:10] melloware commented on #4345
-1 Too specific a component.

[2019-01-07 12:14] cnsgithub opened #4364 "datePicker: combined date and time selection not working"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
I would expect some input controls for the time to appear with `showTime="true"`.

## 3) Actual behavior
Only the date selection is available:

![image](https://user-images.githubusercontent.com/13161711/50767691-10e2f780-127e-11e9-8737-6403a14f4b77.png)

## 4) Steps to reproduce
http://localhost:8080/showcase/ui/input/d

[2019-01-07 12:29] cnsgithub opened #4365 "datePicker: not working in IE 11 at all"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
`datePicker` should work in IE 11 as well, shouldn't it?

## 3) Actual behavior
A syntax error is thrown (just click at the input fields, some will open the picker, others won't).

![image](https://user-images.githubusercontent.com/13161711/50768263-14777e00-1280-11e9-83d8-c4c92b1a46b7.png)

The problem is the use of the

[2019-01-07 12:31] melloware commented on #2202
This feature is now available in DatePicker: https://github.com/primefaces/primefaces/issues/4360

@tandraschko this ticket can be closed.

[2019-01-07 12:32] melloware commented on #7
This feature is now available in DatePicker: https://github.com/primefaces/primefaces/issues/4360

@tandraschko this ticket can be closed.

[2019-01-07 12:32] #2202 closed, assigned to nobody

[2019-01-07 12:33] #7 closed, assigned to nobody

[2019-01-07 13:04] melloware opened #4366 "Calendar: Uncaught Wrong time format using min/max date"
From Stack Overflow: https://stackoverflow.com/questions/54025799/us-datetime-format-with-primefaces-6-2-issue

## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: ALL
- Affected browsers: ALL

## 2) Expected behavior

Calendar component using mindate/max

[2019-01-07 13:18] ruzsaz opened #4367 "Diagram: at connectionChange event.getNewTargetEndPoint() is always null"
The problem should be at /master/src/main/java/org/primefaces/component/diagram/Diagram.java
line 125:
`EndPoint newTargetEndPoint = model.findEndPoint(newTargetElement, params.get(clientId + "_targetEndPointId"));`

`"_targetEndPointId"` should be `"_newTargetEndPointId"`

[2019-01-07 13:22] tandraschko commented on #4367
Please provide a PR and test it

[2019-01-07 13:29] ruzsaz commented on #4367
I'm sorry, but I'm not a primefaces developer, just got that nullpointerexception, and looked for the sources to find the problem.

In short: I'd be happy to made that PR and test, but I don't know how...

[2019-01-07 13:36] melloware commented on #4367
@tandraschko I verified @ruzsaz is correct and I submitted a PR.

[2019-01-07 13:37] ruzsaz commented on #4367
Thx

[2019-01-07 13:45] melloware commented on #3485
Fixed wtith this PR: https://github.com/primefaces/primefaces/pull/4368

[2019-01-07 13:45] melloware commented on #4367
Duplicate of #3485

[2019-01-07 13:46] #4367 closed, assigned to nobody

[2019-01-07 13:46] melloware commented on #4367
Also duplicate of https://github.com/primefaces/primefaces/issues/817  Looks like this issue has been out there for a while!

[2019-01-07 13:46] #3485 closed, assigned to nobody

[2019-01-07 13:47] melloware commented on #817
Fixed with PR:  https://github.com/primefaces/primefaces/pull/4368

[2019-01-07 13:47] #817 closed, assigned to nobody

[2019-01-07 14:16] JHookDev commented on #3423
@melloware Thanks for the follow-up! I agree that is better behavior.

[2019-01-07 15:01] ravihariharan opened #4369 "[Documentation] DataExporter"
Documentation correction for DataExporter:

![image](https://user-images.githubusercontent.com/15189434/50775057-2c8cd480-1263-11e9-82dc-09b1e0447491.png)

[2019-01-07 16:54] xxiFear opened #4370 "DataExporter: CSVExporter does not use exportColumnHeader and exportColumnFooter"
## 1) Environment
- PrimeFaces version: 6.2.13 && 6.3.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 8.5.15
- Affected browsers: All

## 2) Expected behavior

CSV Export of any datatable exports the right column header which has been specified in column's "exportHeaderValue"

## 3) Ac

[2019-01-07 18:07] melloware commented on #4370
I agree with your changes.  I made a couple of minor tweaks in my PR:  https://github.com/primefaces/primefaces/pull/4371

[2019-01-07 19:36] jdesmet opened #4372 "selectOneMenu: filter="true" - filter field clears but items still filtered after selection"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Not tested on > 6.2
- Does it work on the newest sources in GitHub? Not tested
- Application server + version: TomEE
- Affected browsers: Safari, other untested

## 2) Actual behavior

When using <p:selectOneMenu filter="true" filterMatchMode="startsWith">,

1. Open up drop-down
2. Start typing in

[2019-01-07 21:21] melloware commented on #4372
Can you try it on the Showcase https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml

The Advanced dropdown is filterable with StartsWith. If I type "Om" it filters for Omega.  If I select it and then clicked the dropdown again the filter remains "Om" with Omega filtered.  Are you saying when you select an item your filter is getting cleared?

Can you fork or download this Test app and create

[2019-01-08 01:35] djmj opened #4373 "SEO markup - BreadCrumb add schema.org"
SEO markup support for breadcrumb would be a great addition all public sites would benefit from.

Many sites already have a main navigation _p:breadCrumb_ and markup is hard to add for complex breadcrumbs with template hieararchy or optional rendered attributes, since the _schema.org_ markup requires a _position_ / index parameter. _(which should be optional in a sorted list and would make impleme

[2019-01-08 07:17] cnsgithub commented on #4373
Could you please explain in more detail what exactly should be included in the markup? A concrete example would be nice.

Since you mention a `schemaFormat `attribute, which formats other than `json-ld` do you want to support? Microdata, RDFa?

Also, I am not sure if it makes sense to support schema.org markup for just one specific component. I'd prefer are more generic solution.

I'd recommend to

[2019-01-08 07:58] cnsgithub commented on #4373
Example for schema.org `BreadcrumbList` follows...

**Showcase** (https://www.primefaces.org/showcase/ui/menu/breadcrumb.xhtml):
[code]

**JSON-LD:**
[code]

**Structured Data Testing Tool:**
https://search.google.com/structured-data/testing-tool#
Please note that item must be a valid URL. However, since `p:menuitem url` is optional, an appropriate URL won't be always available.

**Generalization:

[2019-01-08 08:07] #4327 closed, assigned to mertsincan

[2019-01-08 08:57] matinh opened #4374 "menuButton: add support for submenus"
PrimeFaces' `<p:menubar>` component supports nested `<p:submenu>`s to group menu-items into sub-menus. This grouping is currently not supported for `<p:menuButton>`. `<p:submenu>`s inside a menuButton is silently ignored. It would be nice to also have sub-menu support in menu-buttons.

## 1) Environment

PrimeFaces 6.2

[2019-01-08 10:10] xxiFear commented on #4370
Thanks @melloware for your fast response and PR 👍

[2019-01-08 10:46] mertsincan commented on #4360
Thanks a lot for your tests and comments, @cnsgithub.

[2019-01-08 11:46] #4365 closed, assigned to mertsincan

[2019-01-08 11:47] mertsincan commented on #4365
Thanks @cnsgithub ;)

[2019-01-08 11:59] #4364 closed, assigned to mertsincan

[2019-01-08 12:20] melloware commented on #4370
@xxiFear No problem thanks for the suggested fix!

[2019-01-08 12:27] melloware commented on #4373
I like this idea.  But it should definitely be an "opt-in" property which is false by default. I wouldn't want it generating this extra script for no reason for say an internal website.

[2019-01-08 14:44] #4362 closed, assigned to mertsincan

[2019-01-08 14:45] mertsincan commented on #4362
Hi @tandraschko and @cnsgithub,

What do you think about my fix?

[2019-01-08 14:53] tandraschko opened #4375 "Java8"
- Lazy<> should be migrated to a Supplier instead of a abstract class

[2019-01-08 14:55] tandraschko commented on #4374
Feel free to implement it and provide a PR.
Or sponsor it via PrimeFaces PRO.

[2019-01-08 16:07] Rapster commented on #4375
Has it been validated by PrimeTek or is it still pending?

[2019-01-08 17:59] cnsgithub commented on #4362
Hi @mertsincan,

Thanks for your quick response. I've not yet checked it in detail, but it looks reasonable. (Now I can remember again why I never liked the old `java.util.Date` API. 😉 But Java 8 is foreseeable. 😉)

Just one thing, did you consider the timezone stuff?

[2019-01-08 18:04] cnsgithub commented on #4375
Yeah, lambda expressions and new datetime API! 🍻

[2019-01-08 22:54] djmj opened #4376 "SEO paginator - GET / next / prev support"
Pagination could be a built-in PrimeFaces feature but its complex to work in all cases. Currently it uses AJAX navigation buttons, so pagination data is not indexed by default.

SEO friendly pagination basically requires GET navigation buttons / links. Those can be normal links in paginator or specific _next / prev_ links in head section.

Google info: https://support.google.com/webmasters/answer/

[2019-01-08 23:06] djmj commented on #4373
@cnsgithub

**Format**

Basically a single supported format that google understands is all we would need. I just want to mention schema.org and search engines support multiple formats with pros and cons.

**SEO strategy**

If i find more suitable ideas i will open respective issues like #4376. SEO is one of the most important topics in public websites and definetly interesting for a lot of PrimeTe

[2019-01-09 05:48] cnsgithub opened #4377 "[Documentation] fileUpload: virus scan"
- new attribute `p:fileUpload performVirusScan="true"`
- see https://github.com/primefaces/primefaces/pull/4259, https://github.com/primefaces/primefaces/issues/4256

[2019-01-09 07:20] #4363 closed, assigned to mertsincan

[2019-01-09 07:28] mertsincan commented on #4362
- Fixed now ;)

[2019-01-09 12:54] melloware commented on #4373
Maybe the property could be called seo="true" or seo="false".  Thoughts?

[2019-01-09 12:55] cnsgithub commented on #4377
@Rapster Could you please add the 6.3 milestone and assign it to @cagataycivici?

[2019-01-09 13:12] #4359 closed, assigned to cagataycivici

[2019-01-09 13:14] cnsgithub commented on #4362
@mertsincan Just tried to recheck this issue after applying your fix and wondered if semantics has changed?

The dates that are initially disabled differ now from those in the screenshot above, although there was no change to the showcase afaik:

![image](https://user-images.githubusercontent.com/13161711/50901526-c0ec6800-1418-11e9-9377-76b39f79ca42.png)

[2019-01-09 13:23] cnsgithub commented on #4362
Backend side validation seems to be consistent with dates disabled in the screenshot. :+1:

[2019-01-09 13:32] cnsgithub opened #4378 "datePicker: not working in IE 11 at all - reloaded"
## 1) Environment
- PrimeFaces version: 6.3-snapshot
- Affected browsers: IE 11

## 2) Expected behavior
`p:datePicker` should work in IE 11 as well.

## 3) Actual behavior
A syntax error is thrown:

![image](https://user-images.githubusercontent.com/13161711/50902412-1a559680-141b-11e9-9c77-74f3a8593005.png)

Probably colon and `function `keyword are missing for definition of `renderDateCellConte

[2019-01-09 13:41] cnsgithub commented on #4378
PR: https://github.com/primefaces/primefaces/pull/4379

[2019-01-09 14:35] melloware commented on #4372
@jdesmet any update on this?

[2019-01-09 15:44] melloware commented on #649
I have reopened this ticket here: https://github.com/primefaces/primefaces/issues/4366

[2019-01-09 19:44] ravihariharan opened #4381 "[Documentation] 2.2 Dependencies"
![image](https://user-images.githubusercontent.com/15189434/50924026-5b9a7600-141c-11e9-800a-8eea1e9f57e4.png)

java.lang.NoSuchMethodError: org.apache.poi.ss.usermodel.CellStyle.setAlignment(Lorg/apache/poi/ss/usermodel/HorizontalAlignment;)V
	at org.primefaces.component.export.ExcelExporter.applyOptions(ExcelExporter.java:301)
	at org.primefaces.component.export.ExcelExporter.export(ExcelExporte

[2019-01-09 21:00] ravihariharan commented on #4381
[Documentation] - User guide 2.2 Dependencies - Apache poi #3576

[2019-01-09 21:00] #4381 closed, assigned to nobody

[2019-01-09 22:09] jdesmet commented on #4372
I would be glad to comply. I have logged it for full measure (was easy enough), but need to find the time to do all the testing. My apologies for the delay.

[2019-01-10 05:22] cnsgithub opened #4382 "[Documentation] textEditor: sanitization attributes"
Please add the `allow*` [attributes](https://github.com/primefaces/primefaces/blob/68214c784411e870b855258fcb106f59ebfe63e0/src/main/resources/META-INF/primefaces-p.taglib.xml#L19579) to the documentation.

[2019-01-10 06:23] #4378 closed, assigned to nobody

[2019-01-10 06:26] mertsincan commented on #4378
Thanks a lot for the PR ;)

[2019-01-10 06:30] cnsgithub opened #4383 "Dialog Framework: DOM XSS through conversation parameter"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
It's not sufficient to escape the `pfdlgcid` conversation parameter in `DialogNavigationHandler.java` when constructing the `openDialog` call.
Since it's added to the DOM in `openDialog` function at the client side it needs to be escaped there as well.

## 3) Actual behavior
The `pfdlgcid` request parameter is user-suppl

[2019-01-10 06:55] cnsgithub opened #4384 "[Documentation] signature: base65Value"
![image](https://user-images.githubusercontent.com/13161711/50951257-c85d5100-14ac-11e9-81b1-c218ee0f1380.png)

Can you link the spec to Base65? :laughing:

[2019-01-10 07:15] mertsincan commented on #3507
Could you please try this issue with the latest elite jar?

[2019-01-10 07:53] cnsgithub opened #4385 "calendar: potential XSS when using user-supplied timeOnlyTitle translation"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
`timeOnlyTitle `is contained in `PrimeFaces.locales` (https://github.com/primefaces/primefaces/wiki/Locales) and therefore must be considered as user-supplied input.

## 3) Actual behavior
The value is passed through to `jquery.ui.timepicker.js` without being escaped there: 					https://github.com/primefaces/primefaces/b

[2019-01-10 08:16] tandraschko commented on #4376
Please don't create such batch tickets and split it up. Menu has absolutely no relation to menus. If someone would work on it, he would never implement it batch on all those components. Maybe just on related components (like DataGrid and DataTable as the paginator is similar).

[2019-01-10 08:19] tandraschko commented on #4385
I think we pass "o" to the timepicker somehow?
It would be great if we could do something like this in PF, instead of changes the timepicker.js:
o.timeOnlyTitle = escape(o.timeOnlyTitle);

[2019-01-10 08:27] cnsgithub opened #4386 "selectCheckboxMenu: XSS when using group label"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Proper escaping of group's label.

## 3) Actual behavior
`SelectItemGroup.label` is correctly written in `SelectCheckboxMenuRenderer` but used without escaping in [forms.selectcheckboxmenu.js](https://github.com/primefaces/primefaces/blob/f47f2f34ea4d65f902b31199be3f7d84b013d78c/src/main/resources/META-INF/resources/prim

[2019-01-10 08:33] cnsgithub commented on #4385
That's kind of problematic, since we cannot know where `o.timeOnlyTitle` is used (in fact we currently know, but things might change :wink: ) and therefore don't know the context it's used in. So we should not assume it's being used in HTML context only.

There is no link to the lib provided in `jquery.ui.timepicker.js` that might be used to check for newer versions?

[2019-01-10 08:49] cnsgithub opened #4387 "galleria: XSS when showing caption"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Proper escaping of `p:graphicImage` captions used in `p:galleria`.

## 3) Actual behavior
`showCaption `function of `galleria.js` is vulnerable to XSS because it does not escape the image's `title` and `alt `attributes.

## 4) Steps to reproduce
1. Modify `galleria.xhtml` from the showcase like so:
`            <p:graphi

[2019-01-10 08:58] cnsgithub opened #4388 "lightbox: XSS when showing link title on click"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Proper escaping of the lightboxes' link titles.

## 3) Actual behavior
Link titles not properly escaped in `lightbox.js` click handler.

## 4) Steps to reproduce
1. Prepare `lightBox.xhtml `of showcase accordingly:
`            <h:outputLink value="../../resources/demo/images/nature/nature1.jpg" title="Nature 1&lt;script

[2019-01-10 09:01] #4366 closed, assigned to nobody

[2019-01-10 09:06] cnsgithub commented on #3624
@tandraschko Could you please remove the security label? It's more potential bug...

[2019-01-10 09:11] #4370 closed, assigned to nobody

[2019-01-10 10:26] spadinha1 commented on #1739
Hello.. I am having the same problem... I made a filter to test.. and the problem is the delay to render picklist.
Filtering on controller to 1000 pojos... its rendering ok... with all elements.. (8400) its not working.

[2019-01-10 11:01] cnsgithub opened #4389 "slider: XSS in displayTemplate"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Proper client side escaping of `p:slider displayTemplate`.

## 3) Actual behavior
XSS vulnerabilities in `slider.js`.

## 4) Steps to reproduce
1. Change `slider.xhtml` of the showcase accordingly:
`                <p:slider for="txt2" display="output" style="width: 200px" displayTemplate="Set ratio to %{value}&lt;script

[2019-01-10 11:18] ken-han opened #4390 "treeTable: Header row is one pixel smaller in width than the other rows when sticky headers is enabled"
Test repo --> https://github.com/ken-han/primefaces-header-bug

## 1) Environment
- PrimeFaces version: 6.2
NOTE: Same result in primefaces version 6.2.13

- Application server + version: Wildfly 13
- Affected browsers: Chrome

## 2) Expected behavior

A neat looking table with the header row and content rows alligned
![image](https://user-images.githubusercontent.com/46558687/50965138-6c58f380-14

[2019-01-10 11:58] cnsgithub opened #4391 "schedule: XSS in tooltips"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Proper escaping of `ScheduleEvent.description `when `p:schedule tooltip="true"` is used.

## 3) Actual behavior
The event descriptions are passed to jQuery's `html` function without being escaped which enables XSS.

See [1-schedule.js](https://github.com/primefaces/primefaces/blob/818f21d4fb8cfe5fc1bf94f222f67a5ec5778136

[2019-01-10 12:09] mertsincan opened #4392 "Different behavior in InputNumber Clientside Validation"
Reported By PRO User;

[code]

[code]

[2019-01-10 12:10] #4392 closed, assigned to mertsincan

[2019-01-10 12:14] melloware commented on #4385
@cnsgithub the TimePicker jquery addon is found here: https://github.com/trentrichardson/jQuery-Timepicker-Addon

[2019-01-10 12:16] melloware commented on #1739
@spadinha1 This was already fixed with this ticket for upcoming 6.3 release: https://github.com/primefaces/primefaces/issues/4320  It is also included in 6.2.14 if you are an Elite subscriber.

[2019-01-10 12:25] melloware commented on #4385
It looks like the original Author Trent Richardson is no longer maintaining it. https://github.com/trentrichardson/jQuery-Timepicker-Addon/issues/955   We usually make fixes to this component using the pfextensions.js file but since its abandoned we can probably just start editing this add on directly?

[2019-01-10 13:32] ken-han opened #4393 "TreeTable/DataTable: Header row is misplaced when blockui is set for the table and stickyHeader is true"
## 1) Environment
- PrimeFaces version: 6.2
Note: Using version 6.2.13 gives the same result

- Application server + version: Wildfly 13
- Affected browsers: Firefox and Chrome (not tested on any other browser)

## 2) Expected behavior

![image](https://user-images.githubusercontent.com/46558687/50971226-c662b480-14e3-11e9-9266-976e43a9bc16.png)

## 3) Actual behavior

Two header rows are visible,

[2019-01-10 14:09] cnsgithub opened #4394 "tooltip: XSS in target title"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Proper escaping of `title `referenced by `p:tooltip for`.

## 3) Actual behavior
Target `title `not escaped in `tooltip.js`.

## 4) Steps to reproduce
1. Modify the showcase to:
[code]
2. Open the [showcase](http://localhost:8080/showcase/ui/overlay/tooltip/tooltipOptions.xhtml).

[2019-01-10 14:16] SaschaPro opened #4395 "Autocomplete: Ampersand in suggestions returns escaped markup"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? Yes - 6.2
- Does it work on the newest sources in GitHub? Not tested
- Application server + version: JBoss EAP 7.* - tested on multiple versions
- Affected browsers: Chrome 71.0.3578.98

## 2) Expected behavior

The suggestions of the autocomplete component should not display nor highligh

[2019-01-10 14:43] cnsgithub opened #4396 "progressBar: XSS in labelTemplate"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Proper escaping of `p:progressBar labelTemplate`.

## 3) Actual behavior
labelTemplate is not escaped in progressbar.js

## 4) Steps to reproduce
1. Modify showcase accordingly:
`            <p:progressBar widgetVar="pbAjax" ajax="true" value="#{progressBarView.progress}" labelTemplate="{value}%&lt;script&gt;alert('xss')

[2019-01-10 15:00] melloware commented on #3507
I have verified this is fixed in Elite and can be closed!

[2019-01-10 15:07] #3507 closed, assigned to nobody

[2019-01-10 15:47] ravihariharan opened #4397 "DataExporter: Support custom Export class"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? NA
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) NA
- Application server + version: NA
- Affected browsers: NA

Raising this issue to discuss possible solution to support a Custom Export class for Da

[2019-01-11 05:49] cnsgithub commented on #4383
@melloware Since you already provided PRs for all other recent XSS issues: did you forget this one? :stuck_out_tongue_winking_eye:

[2019-01-11 05:50] cnsgithub commented on #4385
@melloware I agree.

[2019-01-11 07:41] mertsincan opened #4408 "Add new param {1} to counterTemplate to show the number of characters entered on InputTextarea"
params;
{0} -> number of remaning characters
{1} -> number of characters entered

[code]

[2019-01-11 07:43] #4408 closed, assigned to mertsincan

[2019-01-11 07:53] cnsgithub opened #4409 "Dynamic menus: XSS with non-ajax parameters"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Proper escaping of non-ajax parameters in dynamic menus.

## 3) Actual behavior
All menu components derived from `AbstractMenu` supporting dynamic models (`model` attribute) are vulnerable to XSS when used with item parameters in non-ajax mode, e.g. `p:breadCrumb`, `p:menu`, `p:dock`, `p:contextMenu`...

## 4) Steps to r

[2019-01-11 08:10] cnsgithub opened #4410 "inputTextarea: XSS in counterTemplate"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Proper escaping of `p:inputTextarea counterTemplate`.

## 3) Actual behavior
https://github.com/primefaces/primefaces/commit/5dd499449e7a1f3e8762d9f83d1a4ad499f12ad7 (https://github.com/primefaces/primefaces/issues/4408) introduced a new parameter for `counterTemplate`. However, the change didn't consider HTML escaping.

[2019-01-11 12:28] melloware commented on #4383
I did miss it. Can you review my fix please?

[2019-01-11 12:38] melloware commented on #958
@tandraschko @kukel I believe this issue was fixed with this ticket:  https://github.com/primefaces/primefaces/issues/4357  It can be marked for 6.3

[2019-01-11 12:47] #958 closed, assigned to nobody

[2019-01-11 13:24] xsenko opened #4412 "treeTable: selectBooleanButton values reset when change page"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: Apache Tomcat 8.5.37
- Affected browsers: Tried only Chrome and Firefox

## 2) Expected behavior

TreeTable component should not reset values of selectBooleanButton

## 3) Actual behavior

When page is changed in treeTable, all selectBooleanButton values became false.

## 4) Steps to reproduce

Change page on treeTable

##

[2019-01-11 13:28] fabermundi opened #4413 "PickList: Throws NullPointerException when escape parameter is omitted"
## 1) Environment
- PrimeFaces version: 6.2.14
- Does it work on the newest released PrimeFaces version? No

## 2) Expected behavior
Using pickList without the "escape" parameter should not throw an NullPointerException.

## 3) Actual behavior
An NullPointerException is thrown when page is loaded. Adding escape = "false" fixes the issue.

## 4) Steps to reproduce
Load the following sample (from th

[2019-01-11 13:32] tandraschko commented on #4413
@mertsincan missing defaultValue in elite xml's?

[2019-01-11 13:51] mertsincan commented on #4413
Yes @tandraschko ;) Fixed for 6.2.15 now. Default value is true. @fabermundi can use escape="true" for now.

[2019-01-11 13:51] #4413 closed, assigned to mertsincan

[2019-01-11 15:52] ravihariharan opened #4414 "DataExporter: Enhance DataExporter to support Other Data Components"
PrimeFaces version: 6.2
Does it work on the newest released PrimeFaces version? Version? NA
Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) NA
Application server + version: NA
Affected browsers: NA

Once DataExporter: Support custom Export class #4397 is in place we would be able to support other Data Components.

[2019-01-11 16:09] #4397 closed, assigned to nobody

[2019-01-11 16:09] tandraschko opened #4415 "[Documentation] DataExporter: customExporter"
see: #4397

[2019-01-11 16:14] #4388 closed, assigned to nobody

[2019-01-11 16:15] #4391 closed, assigned to nobody

[2019-01-11 16:19] #4386 closed, assigned to nobody

[2019-01-11 16:20] #4394 closed, assigned to nobody

[2019-01-11 16:22] #4387 closed, assigned to nobody

[2019-01-11 16:23] #4389 closed, assigned to nobody

[2019-01-11 16:24] #4396 closed, assigned to nobody

[2019-01-11 16:27] #4383 closed, assigned to nobody

[2019-01-11 16:27] tandraschko commented on #4383
@melloware Thanks for all those PRs!

[2019-01-11 16:29] #4410 closed, assigned to nobody

[2019-01-12 09:45] Rapster commented on #4412
I don't think it resets it, it actually does not do anything. You'll have to process selectBooleanButton values on pagination, or when selectBooleanButton has changed value. You're not far of the right solution as you implemented toggleStatus method but not using it

[2019-01-12 12:37] #4412 closed, assigned to nobody

[2019-01-13 08:42] christophs78 opened #4417 "DatePicker: calendar-popup does not work with iOS 12.1.1 (Safari) and Android 8 (Chrome 71)"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT, 7.0 RC1
- Affected browsers:
Safari (iOS 12.1.1); tested with iPad Pro 10.5"
Chrome 71 (Android 8.0); tested with Huawei P10 lite

## 2) Expected behavior
https://www.primefaces.org/showcase/ui/input/datePicker.xhtml should work similar to https://www.primefaces.org/showcase/ui/input/calendar.xhtml

DatePicker does not open calendar-popup when

[2019-01-13 09:32] Rapster opened #4418 "Tree: Rename filterMode values"
See #3866

[2019-01-13 10:57] markusg80 commented on #4417
For me same issue

[2019-01-14 06:44] mertsincan opened #4419 "Partial Submit issue with custom layout SelectOneRadio"
Reported By PRO User;

[code]

[2019-01-14 06:45] #4419 closed, assigned to mertsincan

[2019-01-14 07:56] cnsgithub opened #4420 "inputTextarea: lack of user input validation (maxlength)"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
`p:inputTextarea maxlength `must be validated at server side as well.

## 3) Actual behavior
`maxlength` is validated on client side only. Client side validation can be bypassed.

## 4) Steps to reproduce
In the modified showcase shown below, execute `$("textarea[maxlength=10]").val("A".repeat(100))` in the console and p

[2019-01-14 08:41] cnsgithub commented on #4420
Oops, this problem seems to be more general: improper input validation of `maxlength `is neither restricted to `p:inputTextarea `component nor to PrimeFaces (since Mojarra 2.3.2 and MyFaces 2.3.2 fail as well when testing `h:inputText maxlength` server side validation). :cry:

[2019-01-14 09:19] mertsincan commented on #4417
Hi @christophs78 and @markusg80,

Could you please try this fix?

[2019-01-14 09:33] cnsgithub commented on #4420
Opened an issue at MyFaces as well: https://issues.apache.org/jira/browse/MYFACES-4279

[2019-01-14 09:42] cnsgithub commented on #4420
Opened an issue at Mojarra as well: https://github.com/eclipse-ee4j/mojarra/issues/4530

[2019-01-14 10:25] cnsgithub opened #4421 "chips: lack of user input validation (max)"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
When using `p:chips max` it should not be possible to enter more than `max` values.

## 3) Actual behavior
Client side code may be bypassed to submit more than `max `values. Server side validation is missing.

## 4) Steps to reproduce
1. Put sample XHTML code shown below in `chips.xhtml `of showcase.
2. Put sample bean s

[2019-01-14 10:34] majkers opened #4422 "DataTable: rowSelectMode="none" ContextMenu is selecting row and checkbox"
I have a dataTable with multiple selection and atrribute rowSelectMode="checkbox" and contextMenu. So I want to select rows only with checkbox. But in this combination, I get row selected using RMB together with contextMenu

1) Environment
- PrimeFaces version: **6.2.14**
- Does it work on the newest released PrimeFaces version? Version? **No**
- Application server + version: **WLS 12.1.3.0.0**
-

[2019-01-14 10:52] mertsincan opened #4423 "Add counter and counterTemplate attribute to InputText"
like inputTextarea.

[2019-01-14 10:53] #4423 closed, assigned to mertsincan

[2019-01-14 10:59] mertsincan opened #4424 "Change SelectCheckboxMenu keyboard usability"
Reported By PRO User;

To open panel, user can use Enter, Space and ALT+DOWN_ARROW keys. Please check https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_select

[2019-01-14 11:00] #4424 closed, assigned to mertsincan

[2019-01-14 11:29] #4418 closed, assigned to nobody

[2019-01-14 11:29] mertsincan commented on #4418
Fixed before 7.0RC1

[2019-01-14 12:51] majkers commented on #4422
Moreover. It seems that RMB click removes selection and highlight from other rows when clicked row is not selected!

[2019-01-14 12:54] cnsgithub commented on #4409
PR: https://github.com/primefaces/primefaces/pull/4425

[2019-01-14 12:55] #4409 closed, assigned to nobody

[2019-01-14 13:03] cnsgithub commented on #4385
PR: https://github.com/primefaces/primefaces/pull/4426

[2019-01-14 13:32] cnsgithub commented on #4421
PR: https://github.com/primefaces/primefaces/pull/4427

[2019-01-14 14:49] #4421 closed, assigned to nobody

[2019-01-14 19:38] christophs78 commented on #4417
@mertsincan - the official showcase had not been updated yet?
I will recheck after it is updated. (I have no environment where i am able to test the current github-Snapshot easily on my iPad.)

[2019-01-14 20:30] markusg80 commented on #4417
For me same situation

[2019-01-15 02:16] djmj opened #4428 "SEO markup - menu support for SiteNavigationElement"
The _SiteNavigationElement_ helps google understand the site links and could be enhanced for primefaces menues.

- https://searchengineland.com/schema-markup-structured-data-seo-opportunities-site-type-231077
- https://schema.org/SiteNavigationElement

[2019-01-15 02:17] djmj opened #4429 "SEO markup - data components - ItemList"
# Google Carousels

Data lists are presented in google _Carousels_ so valid for any primefaces data repeating components such as _dataGrid_ or _dataList_.

- https://developers.google.com/search/docs/guides/mark-up-listings
- https://schema.org/ItemList

## Idea

The items in the list can be of various types so primefaces does not know how to render the markup for each item (var). An extension att

[2019-01-15 02:17] djmj opened #4430 "SEO markup - image gallery"
If you test this page _https://auto.ndtv.com/honda-bikes/grazia_ google also detects _ImageGallery_ schema.org markup. Testtool: https://search.google.com/structured-data/testing-tool

[2019-01-15 02:24] djmj commented on #2147
@alexsuter I think i explicitly used the locale _<f:convertNumber locale="US"/> for inputNumber as a workaround.

[2019-01-15 02:48] djmj opened #4431 "SEO markup - tabular dataset"
# Tabular datasets

Data components such as _p:dataGrid_ may be a valid candidate for google _tabular DataSet_ SEO markup. This is still in development phase as you can find informations at:

- https://developers.google.com/search/docs/data-types/dataset
- https://www.w3.org/TR/tabular-data-model/#intro

[2019-01-15 07:48] mertsincan opened #4433 "Duplicate objects are submitted to server when Partial Submit is used"
Test code;
[code]

[2019-01-15 07:48] #4433 closed, assigned to mertsincan

[2019-01-15 08:19] #4420 closed, assigned to nobody

[2019-01-15 11:14] UlrichLohrmann commented on #4036
The change is not backward compatible. We create PickList instance using Java code and if escape property is not set a NullPointerException will occur.
A call to pickList.setEscape(...) is required after upgrading to Primefaces version 6.2.14.

[2019-01-15 11:27] mertsincan commented on #4036
Hi @UlrichLohrmann,
Fixed for 6.2.15. https://github.com/primefaces/primefaces/issues/4413

[2019-01-15 12:00] UlrichLohrmann commented on #4036
Great, thank you.

[2019-01-15 14:47] cnsgithub commented on #4420
Just for documentation purposes:

According the user guide, `maxlength` attribute is also exposed to the following components: `p:autoComplete`, `p:calendar`, `p:inputMask`, `p:inputNumber`, `p:inputText`, `p:keyboard`, `p:password`, `p:spinner`.

This often makes no sense and is probably due to auto-generation of documentation based on components' `PropertyKeys `that are inherited from default JS

[2019-01-15 14:49] melloware commented on #4420
Hmmm I never tried it but can you actually use maxLength on p:password?

[2019-01-15 14:53] cnsgithub commented on #4420
In case of `p:password`, `maxlength `is not explicitly written in `PasswordRenderer`, however not sure if `renderPassThruAttributes `is doing so.

However, in case of `p:inputText`, `maxlength `is written explicitly in `InputTextRenderer`.

[2019-01-15 14:58] cnsgithub commented on #4420
Just tested in showcase with `<p:password id="nonFeedback" value="#{passwordView.password1}" maxlength="3" />`.

Gets rendered as:
`<input id="j_idt694:nonFeedback" name="j_idt694:nonFeedback" type="password" class="ui-inputfield ui-password ui-widget ui-state-default ui-corner-all" maxlength="3" role="textbox" aria-disabled="false" aria-readonly="false">`

Meaning that `maxlength `is enforced at

[2019-01-15 15:00] melloware commented on #4420
I thought that is what RenderPassthroughAttributes did.  So yeah because those derive from HTML Input it respects all their props.  Is there any way we can generically enforce your maxlength check on these types?  I haven't studied it closely enough.

[2019-01-15 22:51] majulvez opened #4435 "DatePicker: mindate and maxdate with selectionMode=range"
## 1) Environment
- Version 6.2.14
- Tested with version 7-SNAPSHOT too and it happens the same error
- Apache Tomcat 7.0.62
- Chrome/Firefox

## 2) Expected behavior
Showing datePicker component with a min a max interval

## 3) Actual behavior
 It shows javascript errors

## 4) Steps to reproduce
Just go to see the xhtml file in the browser and you see the same picture I posted in the forum
https

[2019-01-16 06:36] #4435 closed, assigned to mertsincan

[2019-01-16 06:37] mertsincan commented on #4435
Fixed for next version. Thanks a lot!

[2019-01-16 09:19] majulvez opened #4438 "DatePicker: selectionMode=range and numberOfMonths=2"
## 1) Environment
- PrimeFaces version: 6.2.14
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Apache tomcat 7.0.62
- Affected browsers: Chrome/Firefox

## 2) Expected behavior
DatePicker shows two months and you select first date in the first month and the other date in the next month, and ran

[2019-01-16 11:50] #4438 closed, assigned to mertsincan

[2019-01-16 12:17] majulvez opened #4439 "DatePicker: selectionMode=range and range with disabled dates in between"
## 1) Environment
- PrimeFaces version: 6.2.14
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Apache Tomcat 7.0.62
- Affected browsers: Chrome/Firefox

## 2) Expected behavior
Selecting a range of dates with disabled dates in between is not possible

## 3) Actual behavior
Selecting a range of

[2019-01-16 12:21] majulvez commented on #4438
Verified. Issue fixed.

Thanks

[2019-01-16 13:52] #4385 closed, assigned to nobody

[2019-01-16 16:46] christophs78 commented on #4417
The issue still persists with PF 7.0 RC1. (official showcase)
I´m able to reproduce this issue with iOS 12.1.1 (Safari) and on Android (8.0) with Chrome 71 (Huawei P10 lite).
![screenshot_20190116-174853](https://user-images.githubusercontent.com/10461942/51264828-a89bc080-19b7-11e9-973d-f0b2de9c4313.jpg)

[2019-01-16 17:52] melloware opened #4440 "DatePicker: CheckStyle Issue"
My Eclipse CheckStyle is reporting a problem with the DatePicker for checkstyle.

Description	Resource	Path	Location	Type
'{' at column 13 should be on the previous line.	DatePickerRenderer.java	/primefaces/src/main/java/org/primefaces/component/datepicker	line 175	Checkstyle Problem

Basically the CASE statement it doesn't like the brackets on the newline.  But for some reason the Maven plugin is

[2019-01-16 19:33] melloware commented on #4422
Agreed.  Please review my PR.  now in Checkbox mode it just performs the selection of that row and breaks out of other logic.

[2019-01-16 19:58] #4440 closed, assigned to nobody

[2019-01-16 21:26] melloware opened #4444 "[Documentation] SelectOneRadio unselectable"
See #108

[2019-01-17 07:07] denizque opened #4445 "AutoComplete : overlay is not visible inside datatable"
## 1) Environment
- PrimeFaces version: 7.0.RC1
- Does it work on the newest released PrimeFaces version? Version? No, 7.0.RC1
- Does it work on the newest sources in GitHub? (Build by source -> No
- Application server + version: Jetty 9.3.5.v20151012
- Affected browsers: Opera, Chrome

## 2) Expected behavior
When searching in AutoComplete inside a datatable the panel to overlay and show the resu

[2019-01-17 07:24] majkers commented on #4422
Actually I am sure whether a selection mode check that is implemented in onRowClick function is better. WIll it work in New mode?

[2019-01-17 09:00] #108 closed, assigned to nobody

[2019-01-17 09:41] ghost opened #4446 "SelectOneMenu: RowExpansion value lost"
This issue is similar to one I already reported and fixed but now for select one menu: https://github.com/primefaces/primefaces/issues/4138

If the SelectOneMenu is inside a RowExpension and the row is closed the submitted value will be lost on ajax process.

## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newe

[2019-01-17 12:09] melloware commented on #4446
Nice debugging and fix.  I think your changes clean up the code nicely too.

[2019-01-17 12:12] melloware commented on #4422
No the fix is in onRightClick it basically performs the focus of the row but then short circuits out if its a checkbox and does not perform the rest like selecting the row and unselecting all other values etc.

[code]

[2019-01-17 12:13] melloware commented on #4422
actually looking at it more i need to tweak it

[2019-01-17 12:16] majkers opened #4448 "DataTable/TreeTable: ContextMenu disappears after update"
I have a dataTable with contextMenu and menuItem dynamically being shown/disabled or not in it.

More or less it looks like this:

`<p:dataTable id="dataTableId">
.....
<p:ajax event="contextMenu"
listener="#{controller.onMenuDisplay}
update="contextMenuId" />
.....
</p:dataTable>
`

And below:

`
<p:contextMenu id="contextMenuId" for="dataTableId"
widgetVar="contextMenuWidgetVar">
					<p:menuite

[2019-01-17 12:17] melloware commented on #4422
I think this is more correct.
[code]

[2019-01-17 12:36] tandraschko commented on #4448
Please provide a simple reproducer xhtml+bean and also try 7.0.RC1.

[2019-01-17 14:30] majkers commented on #4448
You can use code from showcase https://www.primefaces.org/showcase/ui/data/datatable/contextMenu.xhtml The only thing You have to change is to add an event contextMenu to dataTable with update on p:contextMenu and rendered function to menuItem

[2019-01-17 16:43] tandraschko commented on #4448
So please modify the xhtml and post it here.
Issues without sample are actually invalid by our definition.
90% of the people here are helping in the freetime and if you like that someones fixes a bug for you, please provide a reproducer.