[2022-07-20 14:36] jepsar commented on #9013
I think this has been reported before. Can you try with 11 or 12-RC2 please?

[2022-07-20 14:44] melloware commented on #9013
Yeah I think this is already fixed there have been a lot of spinner improvements in 11.0.0+.

[2022-07-20 14:48] #9011 closed, assigned to cagataycivici

[2022-07-20 14:49] jepsar commented on #9011
https://github.com/primefaces/primefaces/releases/tag/12.0.0-RC2

... might take a while to end up at Maven central

[2022-07-20 15:56] LouisCollet commented on #9011
Thanks to everybody for the rapid reactions !

[2022-07-20 19:33] christophs78 commented on #8395
Needs to be done one a feature-branch + PR.
Curious to see whether it works out.

[2022-07-21 06:07] cnsgithub commented on #9013
Hmm, I checked the current master version of ``spinner.js``, the global event is still used.  Here for example:
https://github.com/primefaces/primefaces/blob/e7c36e62f6c4db2f0ec5199df8067b30ff34e756/primefaces/src/main/resources/META-INF/resources/primefaces/spinner/spinner.js#L177
This is the same line that caused the problem for us.

I also tested it in with PrimeFaces 11 now, the problem is sti

[2022-07-21 11:47] melloware commented on #9013
I see what you mean. I just submitted a PR and letting the Integration Tests run.

MonkeyPatch:
[code]

[2022-07-21 12:59] melloware commented on #9007
Going to mark as invalid unless a proper reproducer is provided

[2022-07-21 12:59] #9007 closed, assigned to nobody

[2022-07-21 13:11] cnsgithub commented on #9013
Great, thanks for the quick fix!

[2022-07-21 13:15] #9013 closed, assigned to melloware

[2022-07-21 18:25] Vicca2707 commented on #9007
New reproducer:
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/9161788/primefaces-test-master.zip)

![grafik](https://user-images.githubusercontent.com/2725515/180286256-6abc892d-b8ab-4f91-8e0e-894ee2882045.png)
click on first checkbox :
![grafik](https://user-images.githubusercontent.com/2725515/180286377-2d3694bc-43b1-4fd8-a24b-c2d121645a3f.png)
click on clear+update

[2022-07-21 18:53] melloware commented on #9007
Nope `java.lang.ClassNotFoundException: org.apache.catalina.filters.FailedRequestFilter` ??

[2022-07-21 18:57] melloware commented on #9007
Are you running `mvn clean jetty:run` and actually testing this first?

[2022-07-21 19:24] Vicca2707 commented on #9007
My bad, there was a change inside web.xml.
This one is running `mvn clean jetty:run`. my old test was on tomcat 8
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/9162130/primefaces-test-master.zip)

[2022-07-21 19:49] melloware commented on #9007
OK its because when you click your button its submitting the form and the datatable is sending its `rowExpansionState` to the server for evaluation.

![image](https://user-images.githubusercontent.com/4399574/180302924-ca0f5402-192f-488a-a3e7-d0c3f1c34820.png)

To fix this just change your command button to the following.

[code]

[2022-07-21 20:12] melloware commented on #8951
The latest has been deployed so you can see the closer results now.

https://www.primefaces.org/showcase/ui/misc/lifecycle.xhtml

[2022-07-22 15:26] dmainardi opened #9019 "DataExporter: thousand separator in view, comma in Excel"
### Describe the bug

Numeric values exported in Excel are divided by 1000.
I think this is because thousand separator is "," in English speaking country and "." in, for example, Italy or France.

![dataExporter](https://user-images.githubusercontent.com/14050486/180472208-17928a1a-318c-47c8-8872-0b102b8b081d.png)

### Reproducer

Go to https://github.com/dmainardi/primefaces-test and follow instr

[2022-07-22 16:29] melloware commented on #9019
OK I updated your reproducer using `12.0.0-RC2`:
[pf-9019.zip](https://github.com/primefaces/primefaces/files/9169309/pf-9019.zip)

I set in `faces-config.xml` to Italy like this.
[code]

My number comes out `7.462` on the UI and in `Excel` ?

![image](https://user-images.githubusercontent.com/4399574/180483294-88bd3cff-e3be-4471-aeea-b4a961ec0455.png)

![image](https://user-images.githubuserconte

[2022-07-22 17:14] jasonex7 commented on #9019
In order to solve this, I think it should be first validated with the NumberFormat of current Locale. I'm going to create a PR.

[2022-07-22 17:24] jasonex7 commented on #9019
Using the proposed change the Excel file goes like this (I'm opening the Excel file with EC locale of my OS):

![image](https://user-images.githubusercontent.com/16229253/180491943-2e18bba7-ffba-49b2-8920-0fc523238120.png)

The html view using the reproducer with locale "it" is like this:
![image](https://user-images.githubusercontent.com/16229253/180492039-7dc35d05-3d2c-4a52-b2b8-650888b58bab.png

[2022-07-22 17:33] melloware commented on #9019
But isn't that still wrong though?   7.162 in italy is not 7,162 in Excel right?  also in your screenshot YEAR is now messed up as 1,997 instead of 1997.

I guess we need @dmainardi to say what he expects Excel to look like in his scenario?

`7.162` in italy is Seven Thousand (7000)
`7,162` in US is Seven Thousand(7000) but in Italy that is just Seven (7)

[2022-07-22 17:47] jasonex7 commented on #9019
If the Excel file would be opened with "it" locale, then the thousand separator should be updated accordingly. I attach the excel file: [cars.xls](https://github.com/primefaces/primefaces/files/9169642/cars.xls)

I think that is a style problem, I update the PR to "detect" if value had thousand separator originally to decide if the number should also have it or not. The excel file [cars.xlsx](http

[2022-07-22 18:22] melloware opened #9021 "DataTable: CellEdit not closing editor"
### Describe the bug

The Cell Editor is not closing when you click on the document body.

### Reproducer

1. ON the showcase https://www.primefaces.org/showcase/ui/data/datatable/edit.xhtml
2. Double click to cell edit.
3. Now click anywhere else in the document and it should close and save the Cell Editor

### Expected behavior

The Cell Editor should fire its `saveOnBlur` method when clicking t

[2022-07-22 18:52] #9019 closed, assigned to jasonex7

[2022-07-22 18:54] #9021 closed, assigned to melloware

[2022-07-22 21:09] jasonex7 opened #9025 "DataTable: RowHover attribute doesn't work"
### Describe the bug

RowHover attribute doesn't work on PrimeFaces 12-SNAPSHOT but it works on PrimeFaces 11.

With PrimeFaces 12
![row_hover_12](https://user-images.githubusercontent.com/16229253/180568683-b9a0f78c-7ce2-4dd6-98a7-c840e06ecd25.gif)

With PrimeFaces 11
![row_hover_11](https://user-images.githubusercontent.com/16229253/180568735-13e5f228-d382-46cc-b913-9aabc18a6d61.gif)

### Reprod

[2022-07-23 14:19] #9025 closed, assigned to jasonex7

[2022-07-24 13:09] melloware commented on #8957
any update on this or can we close it?

[2022-07-24 14:34] jepsar commented on #8957
Not from my side. I'll add a warning to the showcase. I've asked for help to test on Discord, but didn't get a response.

[2022-07-24 16:37] dmainardi commented on #9019
Hello,
I updated the test in order to easily check difference between view and Excel.
In Italy the comma "," is decimal separator while the dot "." is thousand separator. So "1.000" values one thousand and "1,000" values one.
I tried to test with master-SNAPSHOT but I failed, so I will wait for RC3.
Thanks to you all.

[2022-07-25 11:56] melloware commented on #9019
OK with 12.0.0-RC2 I get this:
![image](https://user-images.githubusercontent.com/4399574/180772142-5c2db0ef-f72b-4385-9671-a4134257289c.png)

With 12.0.0-SNAPSHOT I get this:
![image](https://user-images.githubusercontent.com/4399574/180772218-6694b398-482b-41fe-a750-91885d1be296.png)

The SNAPSHOT I think is doing it correctly because my Excel is US English?

[2022-07-25 12:05] dmainardi commented on #9019
I think the SNAPSHOT version gives correct values, even if is in US English.

[2022-07-25 12:19] melloware commented on #9019
OK excellent so this will be in 12.0.0-RC3. or 12.0.0 final if we skip an RC3

[2022-07-25 14:32] NicolaIsotta opened #9027 "MenuButton: Add severities support"
### Description

Follow up of https://forum.primefaces.org/viewtopic.php?f=41&p=200891 as suggested by @mertsincan

### Describe the solution you would like

MenuButton should support severities style classes like SplitButton

### Additional context

_No response_

[2022-07-25 14:33] melloware commented on #9027
I marked it theme for @mertsincan

[2022-07-26 08:52] StevenHachel commented on #7953
Defect since PF 8! Primefaces was the top 1 framework for us at the time because it had this lazy loading feature. Now you just removed it without officially mentioning it.

Have now spent two days migrating our business project to Primefaces 12. Had to find out that it is still defective.

If only I had tested first instead of relying on the statement. :(

Attached is the test project with PF 12.

[2022-07-26 12:08] melloware commented on #9021
MonkeyPatch:

[code]

[2022-07-26 12:10] melloware commented on #7953
@StevenHachel looks like Thomas is investigating but I don't understand why overriding the Renderer to put the code back the way it was in 7 stopped working for you?

[2022-07-26 12:12] tandraschko commented on #7953
@melloware i would check it this week, if you have more time, you can also do it now :)

[2022-07-26 12:35] melloware commented on #7953
I will look into it!

[2022-07-26 12:47] melloware commented on #7953
@StevenHachel here is the PrimeFaces 12 way of doing it and its much better user experience that people are familiar with from Facebook and GitHub known as a "Skeleton".

[pf-7953.zip](https://github.com/primefaces/primefaces/files/9189854/pf-7953.zip)

Try my reproducer and see what you think...
It is also what is demonstrated on the showcase: https://www.primefaces.org/showcase/ui/panel/outputPa

[2022-07-26 13:02] StevenHachel commented on #7953
If I'd know that.
It doesn't seem to work anymore under JavaEE 8 and JSF 2.3.x and Payara 5 / Weblogic 14.
When I overwrite the renderer, the Ajax status "Complete" no longer runs as soon as actions are taken in the business app (as far as I can tell).
Only a refresh (F5) of the page then only helps. But that's not a solution for me.

You have to find out why that is. You are the specialists and I

[2022-07-26 13:06] melloware commented on #7953
@StevenHachel try my reproducer above I linked.  I fixed your example for 12.0.0-RC2.

[2022-07-26 13:07] StevenHachel commented on #7953
I know the example, but even there only the first call works if you take a closer look. Just click on another link and then again, for example with outputPanel. Nothing is dynamically reloaded, but always immediately... Can be observed quite well with the Firefox developer tool. :-)

I take a closer look at "Skeleton". :)

[2022-07-26 13:08] StevenHachel commented on #7953
I'm already hurrying. :-)

[2022-07-26 13:22] StevenHachel commented on #7953
It looks promising. Test it in our business product to see if it works correctly there as well. A lot has to be adjusted because it is a very large project.
We would prefer if OutputPanel works like it has for the last ten years.

Steven

[2022-07-26 13:38] melloware commented on #7953
@StevenHachel I have an even easier solution for you.  Just add `loaded="false"` to your output panel and it puts it back the way it use to work in PF7.

[code]

and if you want to set that property on ALL output panels in your app simply follow these instructions to turn it on globally: https://primefaces.github.io/primefaces/11_0_0/#/core/globalattributes?id=global-attributes

[2022-07-26 15:39] julioAzocar commented on #6461
solucion se actualiza primefaces de 8.0 a 11.0.0 y no arrojo mas error

[2022-07-26 16:14] StevenHachel commented on #7953
I will test it tomorrow. Thanks for your support. :-)
Let me know if it was successful for me.

Steven

[2022-07-27 09:59] StevenHachel commented on #7953
I see that it works fine in the simple test application.
In our business application, however, this leads to problems. Within the outputPanel component, if the flag is activated (loaded="false"), Javascript errors are triggered, which only makes the app usable again after a refresh (F5).

We use the outputPanel component mainly for datatables (editable, etc.) and critical areas that take a long ti

[2022-07-27 10:22] jepsar commented on #7953
Please do keep your application up to date. There are many fixes between versions of which some might be security fixes. If any issues arise, please report them (better for everyone). There is a large and growing number of integration tests which should prevent regression. If there is a certain feature which is critical for you, and there is no integration test for that yet, you can always open a

[2022-07-27 11:14] mertsincan opened #9031 "AjaxExceptionHandler: Can not handle ajax exception because of another exception"
**Reported By PRO User;**

_I found an issue relate to PrimeExceptionHandler while handling ajax exception._
_Source code: https://github.com/vothanhlongit/primefaces-exception-while-handling-ajax-exception.git_

_Details_
_We create an exception (exception A) in our code and want to use the AjaxExceptionHandler to handle it and display stack trace via a dialog like below:_

_While PrimeExceptionH

[2022-07-27 11:29] liefke opened #9032 "ColorPicker: support passthrough attributes"
**Reproducer:**
[pf-9032.zip](https://github.com/primefaces/primefaces/files/9198813/pf-9032.zip)

**Steps to reproduce**

Use the following JSF snippet:

    <ui:composition ... xmlns:pf="http://primefaces.org/ui" xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
      ...
      <pf:colorPicker value="#{bean.color}" widgetVar="colorPicker1" pt:data-example="value" />
      ...
    </ui:composition

[2022-07-27 11:45] #9031 closed, assigned to mertsincan

[2022-07-27 12:20] christophs78 opened #9033 "Dialog Framework: make dialogs more responsive"
### Description

Dialog Framework - dialog should be responsive

1. adapt their own size to available screenspace
2. should allow to use PrimeFlex inside the dialog

https://github.com/primefaces/primefaces/issues/723 only seem´s to be part of the truth.
(e.g. https://forum.primefaces.org/viewtopic.php?t=52907)

### Describe the solution you would like

- [ ] add best-practice-showcase-example
- [

[2022-07-27 12:25] melloware commented on #9033
I like this idea!

[2022-07-27 12:28] melloware commented on #7953
@StevenHachel echoing what @jepsar said but also I just tried the MyOutputRenderer trick and it works on Mojarra and MyFaces and I tried it in Wildfly, Tomee, and straight Jetty and its working fine.

See this reproducer: [pf-7953-renderer.zip](https://github.com/primefaces/primefaces/files/9198696/pf-7953-renderer.zip)

So I think you need to investigate to make sure your faces-config.xml is actu

[2022-07-27 12:37] melloware commented on #9032
Let me look it might have been "unintentional"

[2022-07-27 12:46] melloware commented on #9032
I have confirmed your fix is the correct one as right above it in the overloadded it does this...

[code]

Thanks for your report I have submitted a PR this will be fixed in 12.0.0-RC3

[2022-07-27 12:46] #9032 closed, assigned to melloware

[2022-07-27 20:27] jepsar opened #9036 "CommandButton: add opacity to theme transition"
Buttons are now disabled by default during Ajax requests. This looks okay on request which take a little while. On fast requests the short disablement makes the button flicker. See for example:

https://www.primefaces.org/showcase/ui/ajax/basic.xhtml

Flickering can be reduced by added something like `opacity .2s` to
[code]

[2022-07-27 20:34] javaone199 opened #9037 "Widget refresh logic does not support widgets with the same id during ajax update"
### Describe the bug

Widget refresh logic does not support widgets with the same id during ajax update. The new element (refreshed widget) with the same id will be removed from DOM. Should check if the old widget element is already detached from DOM. do not remove element by id.

Similarly, newly created overlay  (e.g., ContextMenu) will be destroyed if it has the same id as old overlay during aj

[2022-07-27 20:45] javaone199 commented on #9037
local storage can be used to restore widget states if any.  Widget refresh adds complexity. It is simpler to remove everything related to old widgets and create new widgets.

[2022-07-27 20:59] stolp opened #9038 "UICommand: reenabled after disableOnAjax when disabled on server side in request"
### Describe the bug

When a command button action willingly sets the disabled state of the button, the visual state of the button is still enabled. After another page update, this is reflected properly.

### Reproducer

Please clone: https://github.com/stolp/primefaces-test/tree/PF-9038

Form:
[code]

### Expected behavior

The button state should be disabled after the action finishes.

### Prime

[2022-07-27 21:37] tandraschko commented on #9037
Please provide a sample and better description.

[2022-07-28 07:29] jepsar commented on #9038
I thought you had an issue even when `disableOnAjax="false"` was set. Disabling `disableOnAjax` should prevent the issue you've described.

[2022-07-28 07:58] StevenHachel commented on #7953
@melloware I'll take another look at why it's not working for me. As I said, it worked under JavaEE6, but since the switch to JavaEE8 and Payara 5, the Ajax status is no longer set to "complete" due to this change. I'm trying to write an example.

Thanks for the help!

Steven

**Edit**: I now see why the Ajax "complete" event is not being fired.
Using the custom renderer always triggers a JavaScri

[2022-07-28 08:27] tandraschko commented on #7953
please just provide a sample, what is not working for you within a primefaces-test project
we cant helper otherwise.

[2022-07-28 08:36] michael-kiefer-4300 opened #9039 "OutputLabel: aria-labelledby isnt rendered correctly when p:outputLabel is placed after the referenced input"
### Describe the bug

When there's a `<p:outputLabel>` and a `<p:selectBooleanCheckbox>` inside a `<p:dataList>`, the attribute `aria-labelledby` only gets rendered correctly, when the `<p:outputLabel>` is written before the `<p:selectBooleanCheckbox>` in the source code.

But when the `<p:selectBooleanCheckbox>` is written before `<p:outputLabel>`, then the first (index 0) rendered `<input type="

[2022-07-28 09:08] tandraschko opened #9040 "DataTable: resetting FilterMetal#filterValue to null wont be applied to filter component"
### Describe the bug

the old value is still displayed but the filter applied correctly

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces edition

_No response_

### PrimeFaces version

12.0.0-RC2

### Theme

_No response_

### JSF implementation

_No response_

### JSF version

_No response_

### Browser(s)

_No response_

[2022-07-28 09:08] #9040 closed, assigned to tandraschko

[2022-07-28 11:26] melloware commented on #9036
@jepsar can't we just add this to forms.css right in core and not in the theme?

[2022-07-28 11:35] mertsincan commented on #9036
I think the current behavior can be like in https://www.primefaces.org/primereact/button
Loading -> 'Submit' with default icon or only 'Submit' text

[2022-07-28 11:41] mertsincan commented on #9036
Or https://www.primefaces.org/showcase/ui/button/commandButton.xhtml?jfwid=49dd7

[2022-07-28 11:51] jepsar commented on #9036
I tried yesterday, but it will be overruled by theme CSS. I could use a more specific selector, but that would break other theme transitions.

[2022-07-28 11:56] jepsar commented on #9036
That's what we have currently. This looks great when the request takes over half a second or so. With short requests it will flicker because the opacity is not transitioned. See https://www.primefaces.org/showcase/ui/ajax/basic.xhtml and click the button. Adding opacity to the transition will reduce the flickering a lot.

You will probably see the same flickering with React if you disable the butt

[2022-07-28 11:57] jepsar commented on #9036
For demo reasons these actions have a second of sleep added to them, so flickering is not visible here.

[2022-07-28 12:04] melloware commented on #7953
@StevenHachel agreed with Thomas it works just fine in my PF TEst reproducer and makes it work just like PF7 used to so you have something else going on with your custom code.

[2022-07-28 12:19] melloware commented on #9039
Confirmed with reproducer:
[pf-9039.zip](https://github.com/primefaces/primefaces/files/9209387/pf-9039.zip)

My suspicion is the ordering of the JSF tree as its rendering the components it renders the checkbox first then it renders the Outputlabel.

[2022-07-28 12:24] melloware commented on #9039
i suspect this issue is the same in most of the "Data" components like DataView etc.

[2022-07-28 12:42] matthijsvisser opened #9041 "Schedule: displayEventEnd does not work on 24h event"
### Describe the bug

After upgrading to Primefaces 8.0 from Primefaces 7.0 events that have an start and end time of 0:00 (i.e. 26-7-22 00:00 - 27-7-22 00:00) don't have an end time displayed in the week and day view. The "displayEventEnd" parameter doesn't seem to work for those events.

I don't want to use the "all-day" events or it's timeslot.

### Reproducer

Reproducable on the Primefaces 12

[2022-07-28 13:03] stolp commented on #9038
Indeed it works in the reproducer when I add `disableOnAjax="false"`. In my application it didn't help.

Still, since `disableOnAjax="true"` is now the default setting, it will break working implementations which the reproducer proves.

IMHO, sadly this is a regression and it should either be fixed or the default should be inverted.

[2022-07-28 13:11] dglb opened #9042 "Showcase doesnt work per default on TomEE because of EHCache version conflict"
### Describe the bug

using TomEE+ 8.0.12, I deploy PrimeFaces showcase (tag 11.0.0)
almost every components don't work: I get "Page Not Found".
In TomEE log, I see
28-Jul-2022 15:04:00.791 SEVERE [http-nio-8080-exec-29] org.primefaces.application.exceptionhandler.PrimeExceptionHandler.logException org.ehcache.core.spi.service.ServiceFactory: org.ehcache.core.statistics.DefaultStatisticsServiceFac

[2022-07-28 13:13] jepsar commented on #9038
We had a long discussion on this default in the original issue. I would like to keep it like it is now (@melloware WDYT?). However, we should add a note in the migration guide. If one does not want to use this feature, it can be disabled globally using https://primefaces.github.io/primefaces/12_0_0/#/core/globalattributes

[2022-07-28 13:19] tandraschko commented on #9042
can you try to build from source and test 12.x?

[2022-07-28 13:22] stolp commented on #9038
To make that clear, I also would prefer that this is kept as the default. It's a very valuable addition when working correctly.

In any case, I think it is hard to sell to users that the `disabled` attribute is not working correctly in conjunction with `disableOnAjax`.

Is there any technical reason that they cannot coexist?

[2022-07-28 14:23] miedrl opened #9043 "DataTable Paginator: Selected item of rows per page options not marked correctly"
### Describe the bug

The dataTable paginator allows displaying a drop-down list with the rowsPerPage options (e.g. show 5 or 10 rows per page). When selecting one of the options, the option should get the attribute _selected="selected"_ as follows

[code]

**Bug**: The attribute 'selected' is set when rendering the page but when changing the option (e.g. from 10 to 5 rows per page) it does not ch

[2022-07-28 14:35] jepsar commented on #9038
As a reference, the original PR with discussion: https://github.com/primefaces/primefaces/pull/8302

I will see if we can support server side disabling (not sure if that will work without having to resort to cookies though).

[2022-07-28 14:41] tandraschko commented on #9042
i will close this as won't fix
TomEE delivers ehcache 3.8.x, our code uses 3.9.9

it does not make sense to downgrade our dependency
so make sure set scope=provided in your application (or the showcase in this situation) or the same version as in TomEE , to avoid conflicts

also i dont know why TomEE comes with ehcache

[2022-07-28 14:41] #9042 closed, assigned to nobody

[2022-07-28 14:43] tandraschko commented on #9038
if i see that example above, it looks like a bug, not like something to discuss
whats the exact problem?

[2022-07-28 14:44] tandraschko commented on #9043
@jepsar the linke abov uses 12.0.0-SNAPSHOT

[2022-07-28 14:45] jepsar commented on #9038
I'll have a look if I can fix the issue where the button becomes disabled at the server side.

The discussion is whether or not to have `disableOnAjax="true"` as the default.

Actually this should be split into two issues...

[2022-07-28 14:47] jepsar opened #9044 "CommandButton: change disableOnAjax default to false?"
As a reference, the original PR with discussion: https://github.com/primefaces/primefaces/pull/8302

[2022-07-28 14:48] jepsar commented on #9038
Opened a new issue to discuss the default value: #9044

[2022-07-28 14:53] tandraschko commented on #9044
As i said: i dont see any reason to NOT make it default

[2022-07-28 15:07] melloware commented on #9044
Me too I prefer it is the default and it can always be changed with: https://primefaces.github.io/primefaces/11_0_0/#/core/globalattributes?id=global-attributes

[2022-07-28 15:13] melloware commented on #9041
works fine on the showcase:
![image](https://user-images.githubusercontent.com/4399574/181573656-d2424dab-9934-4329-b69e-77ec5d0f4bb1.png)

However if the event leaks into the "next" day FullCalendar won't show it.  So on your end date you might have to make it  `26-7-22 00:00 - 26-7-22 23:59`

[2022-07-28 15:14] tandraschko commented on #9039
i dont think this will ever work correctly
during rendering of the outputlabel, it will set the "labelledBy" to the target ('for=...') component - which is to late

we could add some JS magic but we cant fix it easily on server-side; maybe with a prerender listener but thats to much magic

[2022-07-28 17:42] matthijsvisser commented on #9041
With the following events:

[code]

I would expect the same time format on event 2 (0:00 - 0:00) as on event 1 05:00 - 0:00 and 0:00 - 06:00. In Primefaces 7.0 the time format was the same for each event

![afbeelding](https://user-images.githubusercontent.com/45653450/181601917-e9b98b63-cb23-4417-84cd-4e3b2581efb6.png)

[2022-07-28 18:38] melloware commented on #9041
I think this might be a FullCalendar bug. From what I can tell all the data is correct.

[2022-07-28 19:51] dglb commented on #9042
done with tag 12.0.0-RC2: same issue

[2022-07-28 21:26] melloware commented on #9043
Confirmed thanks for the report fixing for RC3

[2022-07-28 22:25] #9043 closed, assigned to melloware

[2022-07-29 07:50] rzo1 commented on #9042
It should not. We missed to backport the exclusion for org.ehcache while upgrading cxf. It got fixed on master for 9.x (jakarta / ee9.1) but wasn't backported for 8.x (javax / ee8). It is tracked with TOMEE-4021 and will be fixed in the next release (8.0.13).

For now, users can simply remove ehcache from the libs folder of TomEE.

[2022-07-29 10:10] jepsar commented on #9044
I'm also in camp `true`, so -1 on this from me.

[2022-07-29 10:46] stolp commented on #9044
I am also happy if this is the (working) default.

[2022-07-29 11:32] melloware commented on #9041
Yep looks like a FullCalendar bug I would report there.  If I do `00:00-23:59` it displays:
![image](https://user-images.githubusercontent.com/4399574/181750050-3cc49112-c488-4e0b-a467-5230bbe8d22d.png)

If I do `00:00-00:00` it does this:
![image](https://user-images.githubusercontent.com/4399574/181750171-ec8e7c70-cf04-48c1-ab76-44c741372e56.png)

In the old Full Calendar did it display it as `0

[2022-07-29 11:32] #9041 closed, assigned to nobody

[2022-07-29 13:22] fcorneli commented on #8659
Just noticed that a tab containing a required `p:tree` (within a `p:scrollPanel`) does not show up in red.
I even have a `<p:message for="categories"/>` on this tab, but the tab "title" does not color red in case of a missing value.
Using PF 12.0.0-RC2 here.

[2022-07-29 14:28] StevenHachel commented on #7953
hey everyone,
i got it reproduced! :-)

Attached is a small sample project, which is similar to our business project in terms of navigation. It consists of many decoupled modules that are deployed via Maven as required.

I somehow tried to recreate it roughly and didn't find any errors until in the last step I simply changed the javax.faces version to 2.3.9 under the "Mojarra22" profile, since und

[2022-07-29 14:31] melloware commented on #8659
@fcorneli create a PF Test reproducer so I can see the issue.

[2022-07-29 14:41] melloware commented on #7953
Still can't reproduce:
[pf-7953-2.zip](https://github.com/primefaces/primefaces/files/9220864/pf-7953-2.zip)

`mvn clean jetty:run -Pmyfaces22` **WORKS**

`mvn clean jetty:run -Pmyfaces23` **WORKS**

`mvn clean jetty:run -Pmojarra22` **WORKS**

`mvn clean jetty:run -Pmojarra23` **WORKS**

`mvn clean jetty:run -Pmojarra239` **WORKS**

Works with all versions of MyFaces and Mojarra tested including

[2022-07-29 14:56] StevenHachel commented on #7953
So the context is started with Mojara version 2.3.9 (javax.faces, NOT jakarta.faces) and no error can be seen in the console when you click on "stammdaten"? Possibly change the size of the console (Firefox) once so that the error also appears there. So only open it after you click on it.
You can already see that the status dialog at the bottom right is no longer executed as soon as you click somew

[2022-07-29 15:06] melloware commented on #7953
Is this the error you see in Firefox:
![image](https://user-images.githubusercontent.com/4399574/181788963-b9351da8-b018-4026-8e5b-f1726c79e544.png)
???

If so as I suspected its your code.  Your menu is generating this...

[code]

Basically `onclick="return false;;PrimeFaces.ab...` Firefox is saying you are NOT allowed to do anything after returning `false`. See: https://developer.mozilla.org/en-

[2022-07-29 16:35] StevenHachel commented on #7953
Thx for Info! :-) I will test it without the "return flag".

[2022-07-29 16:36] StevenHachel commented on #7953
No, this is the error in javax.faces 2.3.x
![grafik](https://user-images.githubusercontent.com/29144366/181804795-4d5adb91-9764-4c90-9c82-333d1954344b.png)

-----
**and IntelliJ Startuplog:**
[code]

[2022-07-29 17:23] melloware commented on #7953
weird I get literally NO errors in my console.  I can't reproduce your issue at all.  Your code is working fine for me.

![image](https://user-images.githubusercontent.com/4399574/181811784-aec769e5-b227-479e-b38d-979f41cf8b27.png)

[2022-07-29 17:26] melloware commented on #7953
OK I just got it.  In Firefox i have to resize the browser to trigger the error!

[2022-07-29 17:37] melloware commented on #7953
OK this turned out to be a PFE Layout bug I opened it here: https://github.com/primefaces-extensions/primefaces-extensions/issues/902

I attached a fixed reproducer so you can see it working!
[pf-7953-fixed.zip](https://github.com/primefaces/primefaces/files/9222155/pf-7953-fixed.zip)

I added a Monkeypatch in your HussCommon.js file.

[2022-07-29 17:37] #7953 closed, assigned to tandraschko

[2022-07-29 18:19] jepsar commented on #9038
Okay, this was an easy fix actually. PR incoming.

[2022-07-29 21:19] StevenHachel commented on #7953
Thanks for the patch, but it doesn't really solve the problem. There is no longer an exception, but all other JavaScript functions such as
`<p:ajaxStatus onstart="showStatusDialog()" oncomplete="hideStatusDialog()"/>`
are simply not triggered anymore. It was the same without the patch, just without an exception in the console.

`<p:ajaxStatus...` is just an example. I also registered websockets vi

[2022-07-29 21:49] #9038 closed, assigned to jepsar

[2022-07-29 21:56] stolp commented on #9038
Thanks for fixing!

[2022-07-30 08:27] jepsar commented on #9038
Added another PR. This should of course be fixed for all UI commands that support `disableOnAjax`.

[2022-07-30 08:38] jepsar commented on #9044
I'm confused by "also". You mean if it would be changed to to `false`, right? The others (so far) would like to keep it `true`.

[2022-07-30 09:45] stolp commented on #9044
I would like to keep it to `true` like all others. Probably should have used 'likewise' instead of 'also' here to make that clear, sorry.

[2022-07-30 09:55] stolp commented on #9038
I think that `org.primefaces.extensions.renderer.CommandButtonSingleClickRenderer` shows the same behavior. Should I open an issue there as well?

[2022-07-30 10:09] jepsar commented on #9038
No, that's not needed, it is deprecated now.

[2022-07-30 11:39] #9037 closed, assigned to nobody

[2022-08-01 09:20] fcorneli commented on #8659
@melloware See attachment for a demonstrator.

[8659-tree.zip](https://github.com/primefaces/primefaces/files/9232573/8659-tree.zip)

[2022-08-01 12:48] melloware commented on #8659
@fcorneli its because Tree is not an InputComponent so it doesn't have a "isValid" nor does it add "ui-state-error" to the root class when its invalid thus its not being picked up by the Tab JS code as "in error".

I bet this is why your original code was looking for `let uiMessageErrorDetailElements = $(tid + ' .ui-message-error-detail');` that I couldn't figure out why you needed to do that.

[2022-08-01 13:24] fcorneli commented on #8659
@melloware Indeed, that's one of the reasons why I had `ui-message-error-detail` in the original code. Maybe this could be added again? Won't hurt I guess...

[2022-08-01 13:26] fcorneli commented on #8659
@melloware Was thinking a bit about this, a nice feature for `tabView` could be `jumpToErrorTab=true/false`.

[2022-08-01 13:34] melloware commented on #8659
I would open a new ticket and call the property `focusOnError`

[2022-08-01 18:56] #9033 closed, assigned to christophs78

[2022-08-01 20:17] oliverdiaz8 opened #9052 "DatePicker: Month navigator fails when maximum date is set to the first day of month"
### Describe the bug
In DatePicker, the navigation button is disabled when trying to access the month of the maximum date, only if the max date is the first day of month.

### Reproducer
- In datepicker, set the max date to the first date of moth (date object or String).
- Open pop-up datepicker and press the previous month button.
- Now press the next month button to reach the max date month.

[c

[2022-08-01 20:52] melloware commented on #9052
Can you try this MonkeyPatch:

[code]

[2022-08-02 07:22] fcorneli opened #9054 "TabView/AccordionPanel: focusOnError"
### Description

Now that we have #8659, we could take this up to the next logical step, which is to flip towards the (first) tab with an error indication.

### Describe the solution you would like

This behavior should be activated via a `focusOnError` attribute being `true`.

### Additional context

_No response_

[2022-08-02 07:23] fcorneli commented on #8659
@melloware Created ticket #9054 for the `focusOnError` feature.

[2022-08-02 07:50] StevenHachel commented on #7953
Hello,

I've added another example without Primefaces Extensions layout and also added a debugger DIV, for example to monitor the AjaxStatus.

As you can see, after clicking on the "stammdaten" link, no more AjaxStatus is triggered. If I skip the click on the "stammdaten", you can see that it works perfectly.

If I switch to Mojarra version 2.2.x (within the POM under profile mojarra22 (javax.face

[2022-08-02 09:38] tandraschko opened #9055 "OutputPanel: deffered uses async=true per default, which leads to bad state in some situations"
### Describe the bug

In the example here:
https://github.com/primefaces/primefaces/issues/7953
https://github.com/primefaces/primefaces/issues/8838

the outputPanel posts without viewState id, which leads to that all JS script files are reloaded

we could default to async=false to avoid such usages errors

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces edition

[2022-08-02 09:38] tandraschko commented on #7953
i think your problem is the same as: https://github.com/primefaces/primefaces/issues/8838
if you check the AJAX request from the outputPanel, the viewState is missing, which leads to a bad state.
this fixes your problem:
[code]

loaded=false was discussed above and you can remove your overwritten renderer.

we may switch to async=false to avoid such problems, see: https://github.com/primefaces/pri

[2022-08-02 09:40] #9044 closed, assigned to nobody

[2022-08-02 09:47] #9055 closed, assigned to tandraschko

[2022-08-02 11:01] StevenHachel commented on #7953
It works! With and without Layout! Many many thx!
Thank you all for your help!

Steven

[2022-08-02 11:29] melloware commented on #9054
Let me try and tackle this.

[2022-08-02 13:37] melloware commented on #9054
You can try this MonkeyPatch:
[code]

[2022-08-02 14:30] oliverdiaz8 commented on #9052
It works like a charm

[2022-08-02 14:37] #9052 closed, assigned to melloware

[2022-08-02 20:46] SirError commented on #8110
I'm testing a few things before moving to prime 12-RC and I was tinkering with this again

I noticed that if call SelectionFeature.getInstance().decode after super.loadLazyData() the problem seems to be solved.

Do you think this might cause any trouble later?

the whole workround is something like this:

[code]

If I do this, I don't need to cache the rows neither keep querying the database.
Seem

[2022-08-03 18:33] #9054 closed, assigned to melloware

[2022-08-04 07:15] bjornerikolsen opened #9059 "AutoComplete: value is not cleared when using forceSelection=true"
### Describe the bug

When you clear the text input field, a value-changed event is supposed to be sent so that the server can update its data model. But this never happens. On the client side the dropdown is cleared, but on the server side the value change is not registered. Thus the server still has the old value. So if you use the dropdown again it will hold two values.

The reason for the miss

[2022-08-04 08:20] escay opened #9060 "ChartJS: Support timeUnit and timeUnitStepSize in CartesianLinearAxis"
### Description

Feature request to support all ChartJS 3.x time parameters from:
https://www.chartjs.org/docs/latest/axes/cartesian/time.html

In CartesianLinearAxis class, or perhaps in a subclass TimeCartesianLinearAxis representing "Time Cartesian Axis"

Like:
time.displayFormats
time.isoWeekday
time.parser
time.round
time.tooltipFormat
time.unit
time.stepSize
time.minUnit

Or at least:
time.d

[2022-08-04 08:31] escay opened #9061 "ChartJS: Support 'ticks.source' parameter in CartesianLinearTicks"
### Description

Feature request to support all ChartJS 3.x ticks.source parameters as defined in:
https://www.chartjs.org/docs/3.8.0/axes/cartesian/time.html

because when using a Cartesian 'time' axis, you want to have control of the X-axis values that will be rendered by ChartJS, and not have auto / optimal ticks on the X-axis.

### Describe the solution you would like

Current workaround: subc

[2022-08-04 09:05] agoetze commented on #8743
For all users still being on PrimeFaces 8: We had to revert to v8.0.16 to get rid of this problem. In all later versions (latest version right now is 8.0.19) the OmniFaces FullAjaxExceptionHandler does not work in conjunction with PrimeFaces. One just gets a broken page with some faulty CSS but not the expected error page.

[2022-08-04 11:53] melloware commented on #9059
Related: https://github.com/primefaces/primefaces/issues/8616

Related: https://github.com/primefaces/primefaces/issues/8019

[2022-08-04 12:09] melloware commented on #9061
I just called it `source` since its on the Ticks class itself.

[2022-08-04 12:19] melloware commented on #9060
I think to support our current pattern it should be `private CartesianLinearTime time;` so it will look like this...

[code]

[2022-08-04 12:21] melloware commented on #9059
@bjornerikolsen since you have done some analysis feel free to propose a PR.

[2022-08-04 12:37] #9061 closed, assigned to melloware

[2022-08-04 12:55] melloware commented on #9060
If you check out my PR I decided just on `CartesianTime` in case we need to reuse it somewhere else.  Also for DisplayFormat I made it just a `String` and not another JSON object.

[2022-08-04 13:28] escay commented on #9060
Thank you very much, the commit 7cc28a3 looks good to me.
I have no problem with the displayFormats, with the setter available it is easy to add what is needed.

Most difficult thing to do now is adding the Luxon dependency when a page renders a CartesianLinearAxes with type "time".

[2022-08-04 13:42] #9060 closed, assigned to melloware

[2022-08-04 14:08] wsaca opened #9064 "BlockUI: doesn't work when content changes"
### Describe the bug

Whether due to changes in the size of the window or the content (ajax) the blocker does not adjust to the target component. This component was working correctly before the refactor in #8548.

### Reproducer

1. Go to https://www.primefaces.org/showcase/ui/misc/blockUI.xhtml
2. Resize the window (width = 600px)
3. Click the button to block the component

### Expected behavior

[2022-08-04 14:27] Sun8642 opened #9065 "DatePicker: Clear button does not close the calendar popup"
### Describe the bug

The clear button (which is displayed via the showButtonBar attribute) from the datePicker component does not close the popup calendar.

### Reproducer

1. Go to the showcase https://www.primefaces.org/showcase/ui/input/datepicker/datePicker.xhtml
2. Enter a date into the field below the "Button bar" text
3. Click on the input to open the calendar popup
4. Click on the clear b

[2022-08-04 15:19] astappiev opened #9068 "BlockUI: Incorrect overlay placement"
### Describe the bug

The overlay is displayed incorrectly, the size is correct, but position is shifted.

### Reproducer

_No response_

### Expected behavior

It seems it's a mistake to use `.position()` which returns the position of en element relative to its parent. But instead it should be relative to a page `.offset()`, because the overlay element is no more created next to a block element,

[2022-08-04 15:20] astappiev commented on #9068
Possible solution, which works for our use cases https://github.com/primefaces/primefaces/pull/9067

[2022-08-04 18:08] jepsar opened #9070 "SelectManyCheckbox: Uncaught TypeError in JS API (un)checkAll"
### Describe the bug

Tries to trigger on `this.input` while `input` should be used

### Reproducer
[code]
https://stackoverflow.com/questions/73199463/uncheck-all-pselectmanycheckbox-checkboxes-from-a-pselectoneradio-item
### PrimeFaces version

Snapshot

[2022-08-04 18:32] #9070 closed, assigned to jepsar

[2022-08-04 20:09] #9068 closed, assigned to astappiev

[2022-08-04 20:35] #9064 closed, assigned to melloware

[2022-08-04 21:24] #9065 closed, assigned to melloware

[2022-08-05 12:34] mlribes opened #9073 "BlockUI: Custom content not displayed"
### Describe the bug

When BlockUI is triggered custom content doesn't appear in it.

### Reproducer

Access PrimeFaces Showcase - BlockUI.
Go to "Custom Content" item.
Click in the paginator.

### Expected behavior

Spinner must be shown because of "pi pi-spin pi-spinner" inside blockUI

### PrimeFaces edition

Community

### PrimeFaces version

v12.0.0-SNAPSHOT

### Theme

_No response_

### JSF

[2022-08-05 13:04] jepsar commented on #9073
BlockUI has been modified recently (like yesterday or so). Did you test with 12.0.0-SNAPSHOT, or just with the showcase?

[2022-08-05 13:08] mlribes commented on #9073
Only with showcase and previus versions.

[2022-08-05 13:09] jepsar commented on #9073
Not saying it has been fix, but please test with the most recent version.

[2022-08-05 13:37] melloware commented on #9073
i will take a look it looks like it is still not working as of today.

[2022-08-05 14:55] jacekzwroclawia opened #9074 "CommandButton: on click event added manually in JS doesn't work in PF 12"
### Describe the bug

I put below two problems in one issue, because I think that they may be connected.

1. In CommandButton on click event added manually in JS doesn't work.
Problem doesn't exist in PF 11. I reproduced it in PF 12.0.0-RC2.

I have code:

[code]

2. What's more - I **don't have** enabled option `disableOnAjax="true"` nor `inlineAjaxStatus="true"` (added in PF 12 #8301), but when

[2022-08-05 15:17] jepsar commented on #9074
Ad `disableOnAjax`: this is `true` by default. You can disable it globally by using https://primefaces.github.io/primefaces/12_0_0/#/core/globalattributes

Ad `inlineAjaxStatus`: there is no such attribute. You can add custom CSS to suppress the loading indicator. See https://www.primefaces.org/showcase/ui/button/commandButton.xhtml for a custom CSS example and the discussion at https://github.com

[2022-08-05 15:29] jacekzwroclawia commented on #9074
OK, thank you for response.
When I set `disableOnAjax=false`, event added manualy in JQuery in our projects work correctly. I think it is important in general (not only for our project) so manual added events for buttons work correctly.

[2022-08-05 15:35] jepsar commented on #9074
I was about to come back on the added listener. That indeed works if you keep the button enabled.

In general it is safer to do:
[code]

[2022-08-05 15:39] #9074 closed, assigned to nobody

[2022-08-05 15:40] jacekzwroclawia commented on #9074
In our project we have over 150 commandButtons, and couple of different functions in different JS files that are executed on event button click. It is really comfortable to use JS events instead of onstart or oncomplete on every button with the same functions everywhere.

Is there any option to globally set default value of `disableOnAjax="true"` to `false` ?

[2022-08-05 15:41] jepsar commented on #9074
☝🏻 https://primefaces.github.io/primefaces/12_0_0/#/core/globalattributes

[2022-08-05 15:55] tandraschko commented on #9074
@jepsar i wonder why the attached listener isnt called anymore? cant we suppor that?

[2022-08-05 16:29] jepsar commented on #9074
It seems impossible due to the disabled state. Some tests:
[code]

[2022-08-05 17:52] sebsoftware opened #9077 "DataTable: RowGroup SummaryRow lost in a paginated lazy table if rows fit exactly with page size"
### Describe the bug

If a datatable is paginated i.E. 10 rows, and the group rows are exactly fitting the first page the group header and the rows are rendered, but the summary row is not. The next page starts with the first row of the next group.

### Reproducer

_No response_

### Expected behavior

Render the SummaryRow on the first page, even it exceeds the rows of the datatable

### PrimeFac

[2022-08-05 18:25] tandraschko commented on #9077
Please provide a reproducer

[2022-08-05 18:29] #9073 closed, assigned to melloware

[2022-08-06 15:33] sebsoftware commented on #9077
Testing with the test-masters show that this happens only with lazy model.

1. Use the attached test.
2. Selected default page size is 10, no group summaries are show,
3. Change the page size and the summary rows are visible.
[primefaces-lazy-datatable-summaryrow.zip](https://github.com/primefaces/primefaces/files/9275346/primefaces-lazy-datatable-summaryrow.zip)

[2022-08-08 08:37] Sun8642 opened #9078 "Locale: Missing translations for the french locale"
### Describe the bug

There are some missing translations for the french locale.

Here is the file with all the translations (I didn't check the aria and the messages part)
[locale-fr.zip](https://github.com/primefaces/primefaces/files/9280251/locale-fr.zip)

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces edition

Community

### PrimeFaces version

11.0

### Th

[2022-08-08 08:40] pstawik opened #9079 "DataTable: Error in styling with rowStyleClass"
### Describe the bug

I tried to make changes in Primfaces Theme Designer on PF11. I added following code on home.xhtml

Of course, the style was not used for rows. This code works correctly on PF8.0.7. After adding the word "!important" to the style class .WE, the background color changed, but unfortunately there was no coloring of the rows for onMouseOver and onRowSelect events.

The attribute r

[2022-08-08 08:57] tandraschko commented on #9079
please provide a reproducer
there is of course no hover styling of the row in the showcase as no selection etc. is enabled

[2022-08-08 09:03] #9078 closed, assigned to tandraschko

[2022-08-08 09:03] tandraschko commented on #9078
Thanks!

[2022-08-08 09:12] jepsar commented on #9079
See https://forum.primefaces.org/viewtopic.php?f=3&t=74729

You will need to override existing styling with greater specificity.

[2022-08-08 09:26] StevenHachel opened #9080 "Error message starting Primefaces webapp in Payara 5 (with useBundledJsf property) LinkageError Jsf23WidgetVarSearchKeywordResolver Component: Title"
Hey everyone,
if Payara 5 is started with the setting "useBundledJsf" so that the JSF version 2.2.20 in the deployment bundle can be loaded, the following exception occurs during deployment:

`  Critical error during deployment:
java.lang.LinkageError: loader constraint violation: when resolving overridden method "org.primefaces.expression.impl.Jsf23WidgetVarSearchKeywordResolver.resolve(Ljavax/fa

[2022-08-08 09:50] SwiftWizard commented on #4837
Broken link...

[2022-08-08 09:59] tandraschko commented on #9080
Primefaces reads the JSF version by lookup specific classes, which are only available in this JSF version
In think 2.3 API is still available via classloader in your case
We could change the meachism to detect it but thats quite hard and there is no official API to receive the current deployed JSF version
also it just doesnt make sense to manually put JSF 2.2 in a 2.3 server.
So its a wontfix from

[2022-08-08 09:59] #9080 closed, assigned to nobody

[2022-08-08 10:05] pstawik commented on #9079
It does not work ... Besides, the post is nice several years old, and the error appears in PF from version 11.
Please read my answer to your suggestion.

[2022-08-08 10:07] pstawik commented on #9079
I have provided reproducer.
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/9280868/primefaces-test-master.zip)

[2022-08-08 10:47] jepsar commented on #9079
Probably the "existing styling" changed between 8 and 11. You should find what the new existing rule for datatable row background is and override it with greater specificity.

That the linked post is several years old does not matter. The DOM inspector tool have not changed that much.

[2022-08-08 10:59] jepsar commented on #9079
These rules with greater specificity will work:
[code]

[2022-08-08 10:59] #9079 closed, assigned to nobody

[2022-08-08 11:19] pstawik commented on #9079
Thank you very much for provided solution :)

[2022-08-08 11:26] melloware commented on #4837
@SwiftWizard what link are you looking for?

The showcase has the example right here: https://www.primefaces.org/showcase/ui/multimedia/cropper/fileupload.xhtml?jfwid=095fe

[2022-08-09 14:41] KCampos-GandG opened #9084 "Float Label: Date Picker"
### Describe the bug

![image](https://user-images.githubusercontent.com/74632368/183677910-14e9b3e2-d35b-4106-935c-2e3228d86666.png)

### Reproducer

Go to http://primefaces.org/showcase/ui/misc/floatLabel.xhtml
Click on DatePicker and select any date
Float label won't stay up

### Expected behavior

_No response_

### PrimeFaces edition

_No response_

### PrimeFaces version

v12.0.0-SNAPSHOT

#

[2022-08-09 14:46] melloware commented on #9084
Confirmed i will look into this.

[2022-08-09 19:37] arnieHouston opened #9085 "Incomplete error message from PF/ajax layer"
### Describe the bug

I'm getting the following errors in the Tomcat console:

Aug 09, 2022 2:30:16 PM org.primefaces.PrimeFaces$Ajax update
WARNING: PrimeFaces.current().ajax().update() called but component cant be resolved! Expression will just be added to the renderIds: {0}

This message is not only not complete, its missing the component name. Should be something like:

PrimeFaces.current().aj

[2022-08-09 19:45] tandraschko commented on #9085
we dont have more infos, just see:
https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/java/org/primefaces/PrimeFaces.java#L338

[2022-08-09 19:45] #9085 closed, assigned to nobody

[2022-08-09 19:51] arnieHouston commented on #9085
Bummer, but the {0} shouldn't be showing up. AFAIK, when logging, one uses {}, not {0}, {1}, etc.

[2022-08-09 19:52] tandraschko commented on #9085
maybe related to your environment? we use this everywhere

[2022-08-09 19:54] tandraschko commented on #9085
also see: https://stackoverflow.com/questions/15880629/logging-with-multiple-parameters

[2022-08-09 19:58] arnieHouston commented on #9085
Maybe. What logger are ya'll using? In the WAR we have log4j2 (api,core,slf4j-impl, web, and 1.2-api), and SLF4J (api,impl,ext). Do I need to add one for PF?

[2022-08-09 20:09] tandraschko commented on #9085
primefaces uses default java utils logging
you may google how to configure JUL to log4j or slf4j or something, in your container

[2022-08-09 21:19] #9084 closed, assigned to melloware

[2022-08-10 11:33] tandraschko commented on #9077
when our Renderer hits row=10, it checks if the a summary row must be encoded (DataTableRender#isInSameGroup)
so it compares row 10 and row 11
but when setting the rowIndex to 11, somehow row 1 is restored, not 11

anyone has time for a creating a integration test?

[2022-08-10 11:38] tandraschko commented on #9077
after debugging further, when calling UIData#setRowIndex(10) (row = 11, it begins with 0):
it calls getDataModel().setRowIndex(10);
but
getDataModel().getRowIndex() returns 0

https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/java/org/primefaces/model/LazyDataModel.java#L185
this makes 10 -> 0

[2022-08-10 12:03] tandraschko commented on #9077
NEVERMIND: i thought it works in 8.0 but not in 12.0

[2022-08-10 15:43] tandraschko commented on #9077
i commited a prototype
maybe we should revisit why LazyDataModel needs to care about the pageSize and remove this in future

it would just be great if anyone could provide a integration test, based on the sample

[2022-08-10 17:00] sebsoftware commented on #9077
Find a quickly hacked test case for 8  attached. Code is not very well, but I hope it is good enough for testin
[primefaces-lazy-datatable-summaryrow-8.0.zip](https://github.com/primefaces/primefaces/files/9302430/primefaces-lazy-datatable-summaryrow-8.0.zip)
g

[2022-08-10 17:37] sebsoftware commented on #9077
Regarding your question about size 15, if the summary should be shown on a break or not.

Maybe it would be nice to have an option to show a summaryrow even if the group
is split across pages or only at the end of the group as a separator.

But this is only nice to have, it is more important to don't loose a summary row :-)

[2022-08-10 21:13] sebsoftware commented on #9077
Just tested it with my application and it seems to work.
Good work!

[2022-08-11 08:47] jepsar opened #9088 "SelectOneRadio: items are not selected when moving the focus with arrow keys"
### Describe the bug

Items are no longer selected when moving the focus with arrow keys. They are in 11.

### Reproducer

https://www.primefaces.org/showcase/ui/input/oneRadio.xhtml

### Expected behavior

Items should be selected when moving the focus with arrow keys.

### PrimeFaces edition

_No response_

### PrimeFaces version

12

### Theme

_No response_

### JSF implementation

_No respons

[2022-08-12 00:01] #9088 closed, assigned to mertsincan

[2022-08-12 00:24] mertsincan opened #9089 "Add showSelectAll attribute to DataTable"
Whether to show the select all checkbox inside the column's header.

[2022-08-12 00:26] #9089 closed, assigned to mertsincan

[2022-08-12 01:59] mertsincan opened #9090 "DatePicker: Add showMinMaxRange attribute"
Whether to allow navigation past min/max dates. The default value is true.

Ref; https://github.com/primefaces/primereact/pull/2771

[2022-08-12 14:20] tandraschko commented on #9077
@sebsoftware would you like to provide a intergration test based on your example? would be great contribution and it wont break again in future

[2022-08-12 14:22] #9090 closed, assigned to melloware

[2022-08-12 20:27] christophs78 commented on #9077
You may build uppon https://github.com/primefaces/primefaces/blob/master/primefaces-integration-tests/src/test/java/org/primefaces/integrationtests/datatable/DataTable016Test.java + https://github.com/primefaces/primefaces/blob/master/primefaces-integration-tests/src/main/webapp/datatable/dataTable016.xhtml. (DataTable016Test uses non-lazy datasource without paging. So you may add something like d

[2022-08-13 00:45] #8957 closed, assigned to nobody

[2022-08-15 07:41] matsandreassen commented on #6461
I'd also like this to be backported to 8.x as we're not quite ready to move on to 11.

[2022-08-15 08:41] blutorange opened #9092 "Widget postConstruct lifecycle callback is invoked with non-fully constructed widget instance"
### Describe the bug

Client-side widget lifecycle callbacks were added I believe in PF 9, which are super useful for various purposes. I was just using the `postConstruct` callback, when I noticed a minor issue with it: Currently, `postConstruct` [is called during the init method of the BaseWidget](https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/resources/META-INF/resourc

[2022-08-15 08:54] tandraschko commented on #6461
Please see: https://github.com/primefaces/primefaces#community--elite--pro

[2022-08-15 09:02] tandraschko commented on #9092
I think PrimeFaces.createWidget in core.js should call postConstruct after init
also postRefresh

would you like to create a PR?

[2022-08-15 09:06] blutorange commented on #9092
I wasn't sure where best to call the postConstruct callback, but that sounds like a good idea. Sure, I can make a PR for this

[2022-08-15 09:28] jepsar opened #9093 "InputNumber: decimalPlaces not defaulting correctly on numeric types with null value"
### Describe the bug

If the value is `null` the type of the bound value should be checked

https://github.com/primefaces/primefaces/blob/fcced6df36579bc34f09b03b683f31fdee8f0ce3/primefaces/src/main/java/org/primefaces/component/inputnumber/InputNumberRenderer.java#L393-L395

### Reproducer

Bind to an `Integer` type of which the value is `null`

### Expected behavior

`decimalPlaces` should be 0

[2022-08-15 11:36] melloware commented on #9093
This has been discussed in the past with @tuerker see conversation: https://github.com/primefaces/primefaces/issues/6590#issuecomment-738021193

[2022-08-15 13:44] mertsincan opened #9094 "Bootstrap themes are missing on PrimeFaces 11-Elite version"
primefaces-bootstrap4-light
primefaces-bootstrap4-dark

[2022-08-15 13:44] #9094 closed, assigned to mertsincan

[2022-08-15 13:51] miedrl opened #9095 "Dialog: Focus shadow is cut off within dialog content"
### Describe the bug

When the upper most component within p:dialog has a focus shadow, the latter is cut off.

![grafik](https://user-images.githubusercontent.com/77431692/184647179-86061024-76c6-47ed-bd00-5c57361e5c79.png)

**Possible reason**: The dialog's content has no top padding and overflow is set to auto. As the focus shadow overflows the content, it is cut off.

### Reproducer

[reproduc

[2022-08-15 15:04] #9036 closed, assigned to mertsincan

[2022-08-15 15:06] mertsincan commented on #9036
@jepsar, Thanks a lot for your update! Fixed now. Could you please check it?

[2022-08-15 15:16] #9027 closed, assigned to mertsincan

[2022-08-15 15:34] #8997 closed, assigned to jepsar

[2022-08-15 17:25] jepsar commented on #9036
Thanks! Looking much better IMO

[2022-08-15 19:23] wsaca opened #9099 "Confirm Popup: css variable not minified correctly"
### Describe the bug

The [confirmpopup.css](https://github.com/primefaces/primefaces/blob/12.0.0-RC2/primefaces/src/main/resources/META-INF/resources/primefaces/confirmpopup/confirmpopup.css) file is using a css variable that is not minified correctly and break the applied style.

Apparently, the plugin **resources-optimizer-maven-plugin** doesn't support css variables used in the calc function.

[2022-08-15 19:34] melloware commented on #9099
Great catch. I know the issue will fix!

[2022-08-15 21:08] #9099 closed, assigned to melloware

[2022-08-16 09:50] #9095 closed, assigned to mertsincan

[2022-08-16 14:17] jepsar opened #9101 "TabMenu: disabled items can be focussed"
### Describe the bug

disabled items of a `TabMenu` can be focussed.

### Reproducer
[code]

### Expected behavior

Disabled items cannot be focussed and have the correct ui-state class and tabindex

### PrimeFaces edition

Community

### PrimeFaces version

12

### Theme

_No response_

### JSF implementation

_No response_

### JSF version

_No response_

### Browser(s)

_No response_

[2022-08-17 10:23] tfassbender opened #9102 "DatePicker: maskAutoClear="false" not working"
### Describe the bug

When using a <p:calendar> component I use the parameter **mask** to add an input mask to the component. The inputmask itself is working, but the option **maskAutoClear** cannot be turned off (the default value is true).

The feature seems to be working in the **InputMask** component, so I assume the bug is in the **Calendar** component.
I debugged through the class **Calendar

[2022-08-17 10:29] jepsar commented on #9102
Calendar is deprecated. Please use DatePicker instead.

[2022-08-17 11:42] melloware commented on #9102
Reopening this I see the issue and DatePicker will have the same one.

[2022-08-17 11:50] mertsincan opened #9105 "DatePicker autoformat not working with ajax"
Reported By PRO User;

There is nice feature in p:date picker which autoformats user input. For example 1.1.20 is formatted to 01.01.2020. This doesn't work when ajax is used.
We used to have custom .js imlementation for p:calendar of this "autoformat" feature and now we would like to use PF autoformat feature of p:datePicker.

[2022-08-17 11:51] #9105 closed, assigned to mertsincan

[2022-08-17 12:19] #9102 closed, assigned to melloware

[2022-08-17 13:06] mertsincan opened #9106 "Add shortYearCutoff attribute to Calendar"
The cutoff year for determining the century for a date. Any dates entered with a year value less than or equal to the cutoff year are considered to be in the current century, while those greater than it are deemed to be in the previous century.

[2022-08-17 13:06] #9106 closed, assigned to mertsincan

[2022-08-17 14:12] markusg80 commented on #8376
This Bug is still present on PF 11.0.6. Workaround with Monkeypatch works. When you plan to merge this to 11 version?

[2022-08-17 14:31] melloware commented on #8376
@markusg80 no plans unless you have PRO support?  See https://github.com/primefaces/primefaces#community--elite--pro

[2022-08-17 17:46] melloware opened #9108 "Terminal: AutoComplete not working on MyFaces"
### Describe the bug

Originally Reported here: https://github.com/melloware/quarkus-faces/issues/165

 **Mojarra:**
![image](https://user-images.githubusercontent.com/4399574/185206133-0dc755a0-fb48-48c4-b3c1-36f315bdfe6f.png)

 **MyFaces:**
![image](https://user-images.githubusercontent.com/4399574/185206255-3d5311da-a593-480b-b580-47546766d689.png)

Looks like the response JSON is being encoded

[2022-08-17 18:31] #9108 closed, assigned to melloware

[2022-08-17 19:31] wsaca opened #9110 "Skeleton: borderRadius attribute doesn't work"
### Describe the bug

borderRadius attribute is not rendered correctly, the html code looks like:
[code]

The line code:
https://github.com/primefaces/primefaces/blob/12.0.0-RC2/primefaces/src/main/java/org/primefaces/component/skeleton/SkeletonRenderer.java#L54

### Reproducer

In the showcase the examples (Rectangle and Rounded) are similar:

https://www.primefaces.org/showcase/ui/misc/skeleton.

[2022-08-17 19:36] melloware commented on #9110
Good catch!

[2022-08-17 19:36] #9110 closed, assigned to melloware

[2022-08-17 20:01] #9101 closed, assigned to jepsar

[2022-08-18 11:19] jepsar commented on #5037
To be honest, I have no idea on how the UI should look like for this feature. I don't think we can easily recycle the single date time picker.

[2022-08-18 13:55] arnieHouston commented on #9085
Tried multiple things such as the various jars that route from JUL to SLF4J (but I use Log4j), the log4 interceptor, etc. None of them worked. :(

[2022-08-18 14:01] arnieHouston opened #9113 "p:panel without header generation results in missing border-top"
### Describe the bug

I created my own theme and that may be involved, but this is what I'm seeing. It wasn't an issue in PF 8 with one of the community themes.

If I put a p:panel around some content I expect to get a box on the page, with all four borders. What I am getting is a box with no top border. Its in the style that way (border: 1px solid #color and then border-top: 0).

Which makes sens

[2022-08-18 14:19] tandraschko commented on #9113
when i run this with github master, it looks fine:

[code]

I suggest to clone primefaces-test, run the example and adjust your own theme like the PF internal themes

[2022-08-18 14:19] #9113 closed, assigned to nobody

[2022-08-18 14:20] melloware commented on #9113
yep and it may have been fixed since PF 8.0.

[2022-08-18 15:15] jasonex7 commented on #6461
To anyone trying to workaround this problem in PrimeFaces 8.x with Java 15+, the correct dependency you have to add to your pom.xml is the following:

[code]

That dependency has the corresponding SPI file in META-INF/services path.

[2022-08-18 21:54] melloware commented on #9093
Let me know if you figure this out.  I couldn't figure it out since NULL has no type.

[2022-08-18 22:08] melloware commented on #9092
@blutorange @tandraschko can you review my PR i think I captured what you both wanted

[2022-08-19 07:01] jepsar commented on #9093
I'll take care of it. Should not be too hard. I just haven't found the time yet.

[2022-08-19 07:04] #9092 closed, assigned to melloware

[2022-08-20 00:09] melloware opened #9118 "Signature: Drawing is off because of padding"
### Describe the bug

See: https://stackoverflow.com/questions/73418237/primefaces-signature-line-drawn-from-pointer-is-not-at-the-tip

@FlipWarthog diagnosed...

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces edition

Community

### PrimeFaces version

12.0.0-RC2

### Theme

_No response_

### JSF implementation

All

### JSF version

2.3

### Java version

11

[2022-08-20 01:41] #4393 closed, assigned to mertsincan

[2022-08-20 06:33] jepsar commented on #6590
@melloware can you please have a look at InputNumber004Test test 4? I think we should change "0.0000001" to "0" due to https://github.com/primefaces/primefaces/pull/9117

[2022-08-20 10:40] melloware commented on #6590
We should change it I think it's the same issue the unit test had.

[2022-08-20 11:04] #9093 closed, assigned to jepsar

[2022-08-22 10:30] utrucceh commented on #1843
https://stackoverflow.com/questions/9634230/unicode-input-retrieved-via-primefaces-input-components-become-corrupted

[2022-08-22 21:53] sebsoftware commented on #9077
I've tried to create an integration test. But integration-tests doesn't seem to work currently.

Even the example from the Readme is not working in the current master `mvn verify -Pintegration-tests,parallel-execution,mojarra-2.3 -Dit.test=DatePicker001Test` in my configuration.

I've attached current files, but I'm not able to test it. Maybe sthg is broken, or sthg in my environment isn't working

[2022-08-23 08:16] tandraschko commented on #9077
maybe related to macos, no idea

i commited the exmaple and created a simple test

[2022-08-23 08:16] #9077 closed, assigned to tandraschko

[2022-08-23 10:55] jepsar opened #9128 "TabMenu: items not visible on small screens"
### Describe the bug

Items are not visible on small screens. Especially if you do not use icons. With icons, only the icons are visible on small screens.

Large (don't mind the badge.. it's a PR I'm working on):

<img width="836" alt="Screenshot 2022-08-23 at 12 48 39" src="https://user-images.githubusercontent.com/7500178/186140340-caf6b7ed-bba6-47aa-b7ad-7b681d168631.png">

Small:

<img width="

[2022-08-23 13:48] jepsar opened #9129 "OutputLabel: required indicator placement with PrimeFlex can be hidden"
### Describe the bug

Due to the PrimeFlex CSS rule `.field.grid>label { display: flex; ... }` labels do not overflow. This can push the required indicator behind the input if the label is too long.

<img width="341" alt="Screenshot 2022-08-23 at 15 47 40" src="https://user-images.githubusercontent.com/7500178/186174956-710ce469-8a06-4f82-b580-d094a1705ee7.png">

### Reproducer

See for example ht

[2022-08-24 06:27] miedrl opened #9131 "Dialog: Focus is not within dialog after opening"
### Describe the bug

After opening a p:dialog the focus is not within the dialog but still on the content outside of the dialog. This is especially bad for modal dialogs.

### Reproducer

1. Go to [PrimeFaces Showcase Dialog](https://www.primefaces.org/showcase/ui/overlay/dialog.xhtml?jfwid=fd14f)
2. Click on any of the show buttons.
3. Click the TAB key to see where the focus is.
4. See error --

[2022-08-24 07:10] jepsar commented on #9131
There is a focus attribute: "Defines which component to apply focus by search expression". Did you try that?

[2022-08-24 07:21] tandraschko commented on #9131
even if not defined, we should focus the first input in the dialog propably

AFAIR we had such code in dialog.js

[2022-08-24 08:18] miedrl commented on #9131
@jepsar I've tried using the focus attribute but it does not seem to work. In my opinion, the focus should automatically be set to the first focusable component within the dialog when the dialog opens. This should not be done by setting the focus attribute.

[2022-08-24 08:56] miedrl opened #9132 "Dialog: HTML validation error within footer"
### Describe the bug

For accessibility the syntax of the HTML code must be correct. When implementing a p:dialog with a footer facet containing div elements, the HTML validation shows an error message.

### Reproducer

1. Open the example from the reproducer in your browser.
2. Copy the HTML code from the example to the [Nu HTML checker](https://validator.w3.org/nu/#textarea)
3. Click the 'check'

[2022-08-24 09:08] melloware commented on #9131
We do have code that focuses however it has some very specific requirements.  It has to be an input field and not hidden.  In the showcase example it's just a P paragraph which is not an input component nor is it focusable.

[2022-08-24 11:42] melloware commented on #9131
From my Forum Post explaining the issue: https://forum.primefaces.org/viewtopic.php?f=3&t=72264&p=200672&hilit=dialog+focus#p200672

That is because the Focus function to focus the first element on the dialog uses this selector...

[code]

But I found a solution that works by using styleClass="ui-helper-hidden-accessible"....

[code]

Try that its working for me!

[2022-08-24 11:45] melloware commented on #9132
When I check it it is fine for me?

I copied the dialog HTML with footer and pasted in NuHtml checker:

[code]

it reports..
![image](https://user-images.githubusercontent.com/4399574/186410423-2fcd78c8-d283-4cc3-b1dd-b04a179fe6fd.png)

[2022-08-24 12:39] melloware opened #9135 "Picklist: Selenium component and Tests"
### Description

Add Picklist selenium component and initial Integration Tests

### Describe the solution you would like

A Picklist Selenium component

### Additional context

This was kindly written by a coworker so I thought i would donate it as a start we can improve upon.

[2022-08-24 19:53] #9135 closed, assigned to melloware

[2022-08-24 21:52] cocorossello opened #9137 "SelectOneRadio: Labels and index are incorrect in custom layout"
### Describe the bug

Since PF 12.0.0-RC3 selectOneRadio with custom layout has issues with the labels if the item index is not straight.

Take for instance the showcase example with custom layout and change some <p:radioButton> order, labels will be broken.

This used to work in 11.0.0.

I'm not really sure about what commit broke this, if you can point me in some direction I can try to put up a

[2022-08-25 05:16] jepsar commented on #9137
Can you please provide more information about what "broken" means in this case? The only thing I can notice is that keyboard navigation is not working, but this should have been fixed between RC2 and RC3 (I think RC2 is still online).

[2022-08-25 07:26] jepsar commented on #9137
Also, this could not have worked with 11, as the custom facet was introduced in 12. https://github.com/primefaces/primefaces/pull/8194

[2022-08-25 08:53] cocorossello commented on #9137
Hi, label for attributes are broken.

The facet was just a reproducer in v12. I have cloned the repo and added an example without the facet, you can see the problem in https://github.com/cocorossello/primefaces-test.git

Click on the labels, you can see they don't work. Change version to 11.0.0 and labels work fine.

I'm not sure if it broke in RC2 or RC3, it probably broke in RC2

[2022-08-25 12:06] christophs78 commented on #9137
@cocorossello does not use <f:facet name="custom"> introduced with https://github.com/primefaces/primefaces/pull/8194.
He uses layout="custom".

We generate different HTML-code. (Left PF12, right PF11)
![image](https://user-images.githubusercontent.com/10461942/186659814-3a3a35bc-ebaa-416e-82d9-a4a4943e13d7.png)

[2022-08-25 12:14] jepsar commented on #9137
@christophs78 Yes, after the edit it is gone... I'll have a look

[2022-08-25 13:35] MatthiasScherrerFGCZ commented on #9093
@jepsar
The current build gives an NPE in our application as the type seems to resolve to null.

[code]

By changing the following lines it works:
[code]

[2022-08-25 13:47] tandraschko commented on #9093
fixed it, please check

[2022-08-25 19:18] MatthiasScherrerFGCZ commented on #9093
@tandraschko
Thanks. It fixed the problem.

[2022-08-25 22:25] jacekzwroclawia opened #9138 "Configuration: primefaces.HIDE_RESOURCE_VERSION and updating PrimeFaces"
### Description

#8752 -this is a nice feature, because it is bad practice to have that much visible library version for everyone, but it is problematic when you update Primeface and people have cached version of old scripts.

### Describe the solution you would like

Maybe instead of boolean, there can be configuration that could accept custom String, for example:

[code]

### Additional context

[2022-08-26 05:12] jepsar commented on #9138
https://security.stackexchange.com/questions/215205/is-it-really-security-misconfiguration-to-show-a-version-number/215212#215212

[2022-08-26 11:15] melloware commented on #9138
I totally understand when Pen Testers and security teams bring this stuff up but I am in agreement with @jepsar .  However the change suggested above is a good compromise to keep Security people at bay...

[2022-08-26 11:33] tandraschko commented on #9138
everyone can simple overwrite the ResourceHandler and append such a UID
i wouldnt add this to PF.

[2022-08-26 11:45] zaibatsu92 opened #9139 "TextEditor looses font size when changing other formatting"
### Describe the bug

When editing and saving a formatted text it is not correctly saved and the text looses it's size where other formattings are applied.

### Reproducer

Go to a page with a textEditor and type
`example text`
Mark the whole text and set the font size to large.
Then mark the word "text" only and set it to bold (strong).
Save.
The outcome is:
`<p><span class="ql-size-large">exampl

[2022-08-26 20:21] melloware opened #9140 "jQuery 3.6.1"
https://blog.jquery.com/2022/08/26/jquery-3-6-1-maintenance-release/

[2022-08-27 11:25] melloware commented on #9139
you are on 10.0.7 have you tried it with 11.0.0 or 12.0.0-RC3?

[2022-08-27 18:41] #9140 closed, assigned to melloware

[2022-08-28 12:10] #9132 closed, assigned to melloware

[2022-08-28 16:01] aissous opened #9143 "PanelMenu: Javascript exception if stateful enabled"
### Describe the bug

panelMenu with **statful enabled** throws javascript exception : "Uncaught Error: Syntax error, unrecognized expression: #mainMenuForm\:mainMenu__a5fe785f-4a15-4b4e-9443-66b3ac0c42d2|3".

The reason is that the menu items ids contains pipe "|" character.
In menu.panelmenu.js, the pipe character must be escaped : var element = $(PrimeFaces.escapeClientId(this.expandedNodes[i])

[2022-08-28 19:08] melloware commented on #9143
Can you explain more I am already seeing that line of code escaped?

https://github.com/primefaces/primefaces/blob/2f75f6512eb4a8d88c24576bf0e1a81ce094e0c0/primefaces/src/main/resources/META-INF/resources/primefaces/menu/menu.panelmenu.js#L462

[2022-08-28 21:32] aissous commented on #9143
In PF 12.0.0 the menu items ids contains a pipe character. Example of Id : **mainMenuForm:mainMenu__a5fe785f-4a15-4b4e-9443-66b3ac0c42d2|3**.
PrimeFaces.escapeClientId returns **#mainMenuForm\:mainMenu__a9034044-665b-4b4f-8055-930d26c8cad6|1** which is not accepted by jquery selector because of "|" character.
Changing this line as below works for me:
`var element = $(PrimeFaces.escapeClientId(this

[2022-08-28 22:50] melloware commented on #9143
Understood. That makes more sense.

[2022-08-29 06:14] fcorneli commented on #9093
I'm afraid that the fix is not sufficient to cover all cases. On some `null` values, even the type cannot be inferred. For example `value="#{cc.attrs.value.blablabla.whatever.woopsy}"`. Here `valueExpression.getType(...)` cannot go _deep_ if `blablabla` yields already a `null` and hence it will explode with a `PropertyNotFoundException`. The following patch fixes this issue.
[code]

[2022-08-29 06:14] miedrl commented on #9132
@melloware As I wrote in the description of the bug, the footer has to contain div elements. You cannot use the dialog showcase code for that.

[2022-08-29 07:10] fcorneli opened #9144 "Calendar: Uncaught TypeError: $this._base_updateDatepicker is not a function"
### Describe the bug

Within `2-jquery.ui.pfextensions.js` line 156 `_base_updateDatepicker` gets invoked, but this function does not exist.
[code]

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces edition

_No response_

### PrimeFaces version

12.0.0-SNAPSHOT

### Theme

_No response_

### JSF implementation

Mojarra

### JSF version

2.3.14.SP04

### Java vers

[2022-08-29 07:34] thucke commented on #8968
Hi @melloware,
wouldn't this PR be also good to merge on 11.x?
When would version 12.0.0 be avaiable that this CVE is removed in Primefaces?

[2022-08-29 07:35] tandraschko commented on #9093
please try again ;)

[2022-08-29 08:17] fcorneli commented on #9093
@tandraschko works as expected, thanks.

[2022-08-29 08:50] StevenHachel opened #9146 "SelectOneMenu: SelectItemGroup combination defect"
### Describe the bug

The SelectOneMenu does not properly render the checked/unchecked items. The items are only rendered correctly if I use either just the SelectItems (without grouping) or a list of objects.

Everything worked perfectly under PF 8, so I now have to adjust everything so that the clerks can work properly with it again.

[pfe-select_item_issue.zip](https://github.com/primefaces/pri

[2022-08-29 10:25] StevenHachel opened #9147 "DataTable: lazy+editable throws ClassCastException when using a plain List instead of LazyDataModel"
### Describe the bug

It doesn't work anymore since version 11.

If I set the attribute lazy="true" in the "DataTable" element, then click on edit and want to confirm the change, an exception is thrown.

[code]

Primefaces 7/8 does not have this problem.

I saw that the DataTable class has been adjusted...
[code]

new is in DataTable:
[code]

However, getValue() returns a ArrayList and not the Laz

[2022-08-29 10:41] tandraschko commented on #9138
can anyone update the docu with this information and maybe a example?

[2022-08-29 11:15] matsandreassen opened #9148 "SelectOneListbox: wrong height?"
### Describe the bug

Wrong CSS height attribute set for SelectOneListbox in Advanced mode?

### Reproducer

It is apparent in the [showcase](https://www.primefaces.org/showcase/ui/input/listbox.xhtml) by inspecting the children inside the listbox.

When using the component in _Advanced_ mode, the height of the _ui-selectlistbox-listcontainer_ is set to _200px_.

### Expected behavior

I expected

[2022-08-29 11:29] melloware commented on #8968
12.0.0-RC3 is available in Maven Central right now.

[2022-08-29 11:42] melloware commented on #9144
Hmm all I did in this ticket https://github.com/primefaces/primefaces/pull/8914 was move the code to the calendar itself.  So its weird you are seeing this error. It also works for me on the Showcase?

[2022-08-29 11:43] melloware commented on #9138
Yep I will add an example in the docu how to override and set this yourself.  I am changing this ticket to `documentation`.

[2022-08-29 12:06] matsandreassen commented on #6461
I tried adding _rhino-engine_ 1.7.14 in my 8.0.19 application, but even though it has the SPI file, I still get

javax.script.ScriptException: java.lang.NullPointerException: JavaScript ScriptEngine not available via the context ClassLoader or the extension ClassLoader.
	at org.primefaces.util.FileUploadUtils.isValidFileName(FileUploadUtils.java:168)

[2022-08-29 12:18] melloware commented on #9144
OK I submitted a PR but I have no idea how this code ever worked.  That line was not even there in the code I moved.

[2022-08-29 12:19] #9143 closed, assigned to melloware

[2022-08-29 12:20] ritonglue opened #9151 "SelectCheckboxMenu : text says SelectManyCheckbox (showcase)"
### Describe the bug

The description says : "SelectManyCheckbox is used to choose multiple items displayed in an overlay."

### Reproducer

_No response_

### Expected behavior

This description must refers to SelectCheckboxMenu

### PrimeFaces edition

_No response_

### PrimeFaces version

12.0.0

### Theme

_No response_

### JSF implementation

Mojarra

### JSF version

2.3

### Java version

[2022-08-29 12:24] #9151 closed, assigned to melloware

[2022-08-29 12:47] fcorneli commented on #9144
@melloware for somehow reason I cannot replicate the issue here myself anymore... it's like Monday-fun...

[2022-08-29 12:48] melloware commented on #9144
ok yeah and my PR failed.  Let me know if you see anything else weird.

[2022-08-29 12:49] #9144 closed, assigned to melloware

[2022-08-29 13:50] #9147 closed, assigned to tandraschko

[2022-08-29 15:14] tandraschko commented on #9146
When rendering lazy the selectItems when opening the panel on client side, the server side renders it correclty without disabled/state-disabled and afterwards the JS loops all opt/groups.
Even then initially its not disabled here: https://github.com/primefaces/primefaces/blob/0f7479695550e779645f3afd0192bc1c39d0b730/primefaces/src/main/resources/META-INF/resources/primefaces/forms/forms.selectonem

[2022-08-29 16:00] oliverdiaz8 opened #9154 "Carousel: Reverse swipe direction on mobile"
### Describe the bug

The actual swipe direction for "next" or "right" (slide right to left) swipes to previous item (if any), and vice versa. This behavior also applies to vertical orientation. Swipe directions works fine in v8.

### Reproducer

1. Use a carousel with more than one item.
2. Slide from right to left (forwards).
3. Carousel will slide to the previous item, if any.

### Expected beh

[2022-08-29 17:19] wsaca opened #9155 "BlockUI: Doesn't work with dynamic content"
### Describe the bug

When is used with dynamic content it's not working, with previous versions it worked because it was rendered inside the blocked component.

### Reproducer

I include an example [primefaces-test-blockui.zip](https://github.com/primefaces/primefaces/files/9446549/primefaces-test-blockui.zip)

Run it `mvn jetty:run` and go to `http://localhost:8082/primefaces-test/`

### Expecte

[2022-08-29 22:04] melloware commented on #9155
Confirmed. Thanks for the reproducer.

[2022-08-29 22:07] melloware commented on #9154
Agreed these are backwards.  Fixing them.

[2022-08-29 22:07] #9154 closed, assigned to melloware

[2022-08-29 22:17] melloware commented on #9132
Yep fixed it for 12.0.0 final

[2022-08-29 23:36] melloware commented on #9146
I will take a look

[2022-08-30 00:40] zsuiqiang commented on #8835
Very useful features

[2022-08-30 06:29] StevenHachel commented on #9147
what does that mean now?
How can I deal with this, other than pointing back to the next higher version?

Steven

[2022-08-30 07:11] tandraschko commented on #9147
we fixed it for the next/upcoming version in some weeks

[2022-08-30 11:53] zaibatsu92 commented on #9139
I was a bit confused with the versions. On the website download section ( https://www.primefaces.org/downloads/ ) it seems 10.0.15 is the latest version so I thought I have a recent one. V12 doesn't seem to have that problem.

[2022-08-30 11:56] melloware commented on #9146
@StevenHachel can you try this MonkeyPatch?  I have updated your example to use the MonkeyPatch and it seems to work.

[pf-9146-patched.zip](https://github.com/primefaces/primefaces/files/9452553/pf-9146-patched.zip)

[code]

[2022-08-30 11:58] #9138 closed, assigned to melloware

[2022-08-30 11:59] #9139 closed, assigned to nobody

[2022-08-30 11:59] melloware commented on #9139
Yep then its fixed in 11.0.0. or 12.0.0-RC3.

[2022-08-30 14:04] StevenHachel commented on #9146
Hello @melloware, I will test it. Thanks for the workaround.

[2022-08-30 14:08] #9146 closed, assigned to melloware

[2022-08-30 20:56] wsaca commented on #9155
@melloware the showcase example "Client Side API" doesn't work either, I think this issue won't fix it. should be resolved in another issue?

https://www.primefaces.org/showcase/ui/misc/blockUI.xhtml

[2022-08-30 21:48] melloware commented on #9155
Can you update your reproducer to show me?  I have your current reproducer working.

[2022-08-30 22:05] wsaca commented on #9155
@melloware I have changed the example to include 2 cases:
1. First press the "Process" button and then press the "Block Panel" button.
2. Click "Header II" tab and then press the "Block Panel" button.

[primefaces-test-blockui.zip](https://github.com/primefaces/primefaces/files/9456904/primefaces-test-blockui.zip)

[2022-08-30 22:58] melloware commented on #9155
Thanks for the updates I will take a look.

[2022-08-31 11:57] melloware commented on #9155
Thanks for all your great test cases I was able to fix them all and make the component more efficient on resizing!

[2022-08-31 12:26] #9155 closed, assigned to melloware

[2022-08-31 13:12] mathezsolt11 opened #9161 "ToggleSwitch: mark with 'ui-state-error' on failing validation"
### Description

The p:toggleSwitch component doesn't get marked with the 'ui-state-error' styleClass, on failing validation, as other components do. It would be helpful to be able to identify the component easier as invalid, if validation fails.

Identified in primefaces version 11.0.5

### Describe the solution you would like

Add the 'ui-state-error' styleClass to the p:toggleSwitch, when the c

[2022-08-31 16:19] melloware commented on #9161
OK this will still require  theme change

[code]

[2022-09-01 10:15] StevenHachel commented on #9146
It works, thx! :-)

Steven

[2022-09-01 10:23] mauromol opened #9164 "Migration guide: Inplace change not mentioned in 6.2->7.0 migration guide (also impacting user guide)"
### Describe the bug

I found another annoying and undocumented change from PF 6.2 to 7.0 (in addition to #8892).

I'm following the migration guide at:
https://primefaces.github.io/primefaces/11_0_0/#/../migrationguide/7_0

However, I see no mention of the fact that `<p:inplace>`, when adding `save` and/or `cancel` ajax behaviors, now requires an `update="@this"` in order for the inplace to work

[2022-09-01 10:52] #9161 closed, assigned to melloware

[2022-09-01 10:53] tandraschko commented on #9164
we dont document bugs; duplicate of https://github.com/primefaces/primefaces/issues/4721

[2022-09-01 10:53] #9164 closed, assigned to nobody

[2022-09-01 10:54] melloware opened #9165 "ToggleSwitch: Theme ui-state-error"
I fixed the main issue already:  https://github.com/primefaces/primefaces/pull/9162

Needs theme change something like..

[code]

[2022-09-01 10:56] melloware commented on #9161
New ticket for theme: https://github.com/primefaces/primefaces/issues/9165

[2022-09-01 11:05] mauromol commented on #9164
So whoever is upgrading to 7.0 is... left alone - to use kind words ;-).
It won't cost so much to add a note to the migration guide, since adding the `update="@this"` is an actual requirement for upgrading. We broke our production because of this.

[2022-09-01 11:13] tandraschko commented on #9164
we fixed like 381 tickets for 8.0, where propably 50% of it are bugs
and many of them could been introduced in 7.0 and fixed in 8.0

maybe many of them are maybe worth to put in a migration guide but as 7.0 is already 3 years old and the most people just migrate the whole chain to the newest version, its just impossible to document all correctly

[2022-09-01 11:14] StevenHachel commented on #9146
Addition:

Likewise, if the group is disabled, the SelectItem elements are all disabled, regardless of the disabled flag.
If the group is enabled, then the elements including the "disabled" value will be rendered correctly.

**Group disabled="true"**
![grafik](https://user-images.githubusercontent.com/29144366/187900597-1b5b1840-c61f-4420-a37a-e2383b11c3aa.png)

**Group disabled="false"**
![grafik

[2022-09-01 11:22] mauromol commented on #9164
I'd really like to know people who dare to upgrade PrimeFaces to more than 2 major versions ahead in a REAL production environment (in a sufficiently complex application, of course)... every time it's a pain to just upgrade to one version ahead. Moreover, from version 7.0 to version 8.0 there's also an updated requirement for Java version, and the migration guide 7.0->8.0 is quite long, so perform

[2022-09-01 11:26] tandraschko commented on #9164
then feel free to provide a PR with your findings to enhance the migration guide, you dont need to create a issue for each.
i wont invest time here, sorry.

[2022-09-01 11:26] jepsar commented on #9164
That's not my experience. I'm not saying I enjoy updating, but it surely is not a pain IMO.

[2022-09-01 12:09] melloware commented on #9146
I believe that is intentional.  If the group is disabled all of its underlying elements should be disabled.

[2022-09-01 12:40] mauromol commented on #9164
Seems like this problem is even worse, because putting `update="@this"` on my `<p:ajax event="cancel">` causes the value to be submitted, just like it happens with the `save` event... any suggested workaround would be appreciated.

@jepsar glad to know it's not a pain for you. From my experience, I could reference at least one issue (regression or breaking change) for each major (aka community) re

[2022-09-01 13:36] NicolaIsotta opened #9166 "InputNumber: wrong value shown"
### Describe the bug

If a inputNumber has a minValue, and the value to show is lower, minValue is displayed instead, even if the component is disabled.
Same happens with maxValue.

### Reproducer

[code]

### Expected behavior

The provided value should be displayed, even if it is lower then minValue or greater then maxValue.

### PrimeFaces edition

Community

### PrimeFaces version

12.0.0-RC3

[2022-09-01 13:37] tandraschko commented on #9166
why not just remove min/maxValue from a disabled input?

[2022-09-01 13:52] NicolaIsotta commented on #9166
Well my use case is a little more complex:
- data comes from a java class where numeric fields have validation annotations (eg Min,Max,DecimalMin...)
- primefaces.TRANSFORM_METADATA is enabled -> validation metadata are added also for disabled inputs
- java class is used for both data editing (fields enabled) and visualization (fields disabled)

Aside from that, I think that the value coming from

[2022-09-01 13:55] melloware commented on #9166
Yeah if you are past the min or max I do NOT think the value should be displayed its invalid.

[2022-09-01 14:00] himanshubhatia opened #9167 "Data Table Sort and Filter not working simultaneously"
i am using prime faces 10 with JSF 2.2.10.
First filtering the data and trying to sort the data that time data is blank, table show blank rows.

[2022-09-01 14:02] tandraschko commented on #9167
please follow the issue template, provide all information and a reproducer. Otherwise we cant help.

[2022-09-01 14:26] jasonex7 commented on #6461
rhino-engine maven dependency adds two jar files: rhino-engine-1.7.14.jar and rhino-1.7.14.jar. Could you check if those were aggregated to your generated deployment? I had no problem with PrimeFaces 8.0.0 and 8.0.4

[2022-09-01 15:05] NicolaIsotta commented on #9166
Seems like coercion has been added to avoid problems in AutoNumeric:
https://github.com/primefaces/primefaces/blob/f9ec9fe023a4fc2c9da41e04f1a8dfd84bc88522/primefaces/src/main/java/org/primefaces/component/inputnumber/InputNumberRenderer.java#L108-L109
Guess I'll have to find a different solution. Is it possible to disable validation metadata passthrough for disabled/readonly inputs?

[2022-09-01 15:05] #9166 closed, assigned to nobody

[2022-09-02 07:07] tandraschko commented on #9167
maybe u should try the forum first

[2022-09-02 07:07] #9167 closed, assigned to nobody

[2022-09-02 11:06] Sun8642 opened #9168 "TabView: with dynamic="true", ajax call will initialize all tabs to the left of the current tab"
### Describe the bug

When using a tabView with the property dynamic="true", if you have an ajax event triggered, it will initialize all tabs to the left of the current tab, even if the ajax has the partialSubmit parameter set to true.

### Reproducer

[primefaces-test-tab-view.zip](https://github.com/primefaces/primefaces/files/9482692/primefaces-test-tab-view.zip)
Step to reproduce the bug:

1.

[2022-09-02 11:29] newk5 opened #9170 "Schedule: NPE when event has no end date"
### Describe the bug

The schedule javascript component supports events without end dates, but the Primefaces Schedule renderer throws an exception when trying to encode those events to JSON.

### Reproducer

_No response_

### Expected behavior

Events without end dates should still show on the page

### PrimeFaces edition

Community

### PrimeFaces version

12.0.0-RC3

### Theme

Any

### JSF im

[2022-09-02 11:42] Mockabear commented on #8708
Current PF Elite 11.0.7 contains moment.js 2.29.3 and need update to 2.29.4!

[2022-09-02 12:05] #9170 closed, assigned to newk5

[2022-09-02 13:18] fanste opened #9171 "DataTable: Not compatible with MyFaces' component tree manipulation"
### Describe the bug

Our custom library utilizes the PF datatable in a very dynamic manner. Columns are populated dynamically based on runtime configurations. Everything worked fine with Mojarra, but because of other bugs, I tried MyFaces as the JSF implementation.

MyFaces performs way better and everything works as expected, but therefore I got a new bug: The contents of the dynamic columns is

[2022-09-03 06:48] jepsar commented on #9088
@mertsincan FYI I'm getting "Uncaught TypeError: Cannot read properties of undefined (reading 'keyCode')" (now(?)).

<img width="380" alt="Screenshot 2022-09-03 at 08 46 01" src="https://user-images.githubusercontent.com/7500178/188259268-b637a0b0-3987-4e88-8e26-9b6ffabc1871.png">

I'm currently working on a fix for #9137 and will have a look if I can fix this while I'm at it.

[2022-09-03 08:07] jepsar commented on #9088
This resource was missing:
[code]

[2022-09-03 08:24] jepsar commented on #9137
@cocorossello please have a look at the PR

[2022-09-03 13:29] jepsar commented on #9168
Your reproducer does not match the description "Click on the third or fourth tab" as there are only two tabs. And there is no data table.

[2022-09-03 13:46] Sun8642 commented on #9168
My bad sorry, I edited the issue to upload the right reproducer. Sorry for the loss of time.

[2022-09-03 13:53] jepsar commented on #9148
Relates to #3070 and #2847

It looks intentional to me:

https://github.com/primefaces/primefaces/blob/abf5177e34a935463662c194800f48ad4edf04d8/primefaces/src/main/java/org/primefaces/component/selectonelistbox/SelectOneListboxRenderer.java#L318-L329

[2022-09-03 18:06] cocorossello commented on #9137
Tested, works fine.
Thanks!

[2022-09-03 18:12] cocorossello opened #9173 "Calendar: seems broken in PF 12"
### Describe the bug

<p:calendar/> does not work in PF 12.0.0.RCx, it was working in 11.

Although it is deprecated, I guess it still should work.

Simple reproducer:

`<h:body>
    <h:form id="frmTest">
        <p:calendar/>
    </h:form>
</h:body>`

### Reproducer

https://github.com/cocorossello/primefaces-test/

### Expected behavior

calendar should work as in 11.0.0

### PrimeFaces edition

[2022-09-03 18:16] cocorossello commented on #9173
Throws js error:
`Uncaught TypeError: a.getJQ(...).scrollParent is not a function`

I can also see this error in my project:
`Uncaught TypeError: u._base_updateDatepicker is not a function`

I guess it seems related to https://github.com/primefaces/primefaces/commit/174bb7807423c490fccc92574f20a114d5e31045

[2022-09-03 19:01] jepsar commented on #9137
Thanks for reporting and testing!

[2022-09-03 20:13] melloware commented on #9173
I will take a look.

[2022-09-03 20:52] melloware commented on #9144
Got to the bottom of it and fixed it!

[2022-09-03 21:48] #9173 closed, assigned to melloware

[2022-09-04 06:12] jepsar commented on #9148
You can easily work around this by applying the following CSS:
[code]
If you only this on certain instances, throw in a style class.

[2022-09-04 10:42] #9148 closed, assigned to nobody

[2022-09-04 16:01] fcorneli commented on #9144
nice... so I didn't see ghosts after all :)

[2022-09-04 18:51] #9137 closed, assigned to jepsar

[2022-09-04 20:20] tandraschko commented on #9171
IMO a integration test is absolutely required here
also it would be great if you can work on a PR

[2022-09-05 06:10] jepsar commented on #9168
My guess is third party, but I would like to have a second opinion.

[2022-09-05 09:02] #9168 closed, assigned to tandraschko

[2022-09-05 10:27] pacvon opened #9175 "Autocomplete multiple: removeItem js function use not escaped itemlabel for selector"
### Describe the bug

When try to remove an item with an apostrophe in a label from selected items, js error occures. Its because the itemValue is not escaped for use as a selector.

problem line:
var foundItem = this.multiItemContainer.children("li.ui-autocomplete-token[data-token-value='"+itemValue+"']");

this works fine"
var foundItem = this.multiItemContainer.children("li.ui-autocomplete-toke

[2022-09-05 11:12] Mockabear opened #9176 "Moment.js 2.29.4"
### Describe the bug

There is a known vulnerability in Primefaces Elite 11.0.7:

primefaces-11.0.7.jar: moment.js (pkg:javascript/moment.js@2.29.3) : CVE-2022-31129

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces edition

Elite

### PrimeFaces version

11.0.7

### Theme

_No response_

### JSF implementation

All

### JSF version

2.3

### Java version

13

##

[2022-09-05 11:39] melloware commented on #9176
Please follow this ticket: https://github.com/primefaces/primefaces/issues/8968  I marked it "elite" but its up to PrimeTek to backport to PF11 etc.

See: https://github.com/primefaces/primefaces#community--elite--pro

[2022-09-05 11:39] #9176 closed, assigned to nobody

[2022-09-05 11:42] melloware commented on #9175
Thanks for reporting.  Fixed for 12.0.0 final.

[2022-09-05 11:43] melloware commented on #9175
MonkeyPatch:

[code]

[2022-09-05 11:45] #9175 closed, assigned to melloware

[2022-09-05 12:10] tandraschko opened #9178 "Touchable not deactivateable on component level"
p:dataTable touchable=false does nothing

See; https://github.com/primefaces/primefaces/blob/2b1384a3c6464c995e029757eeebd8cb6144f4d9/primefaces/src/main/java/org/primefaces/util/ComponentUtils.java#L269

If either local or global is enabled -> touchable true

i think thts wrong
default local and global should be true
but if one of both is false, it should be touchable false

same applies to RTL a

[2022-09-05 12:15] melloware commented on #9178
I went back and forth on this the idea was...

Local flag should always override the global so if Global = False but you want to turn one component on for touchable and add `touchable=true` to just 1 datatable that should enable it.

However if local="false" and global="true" its turning it on which is your scenario.   So we need to basically check if `undefined` on local before checking the globa

[2022-09-05 12:20] tandraschko commented on #9178
so we need to change TouchAware#isTouchable to object and default to false
then we can do:

[code]

right?

[2022-09-05 12:21] melloware commented on #9178
That look right to me!

[2022-09-05 12:21] melloware commented on #9178
And probably the same for flex and rtl ?

[2022-09-05 12:36] tandraschko commented on #9178
yep
please review, commited for touchable now
will continue with flex+rtl

[2022-09-05 12:41] tandraschko commented on #9178
looks like flex has better behavior as the global and local default is false
will leave this for now

[2022-09-05 12:41] #9178 closed, assigned to tandraschko

[2022-09-05 14:19] melloware commented on #9178
Thank you. Looks good to me!

[2022-09-05 15:13] dorkau80 opened #9179 "DataExporter: support dynamic grouped columns with ui:repeat"
### Describe the bug

The showcase page :
http://primefaces.org/showcase/ui/data/datatable/group.xhtml?jfwid=f547e
shows the issue.
After exporting data to  XLSX - button on the top right - the data export for second table (Dynamic Columns tab in export) does not show any header for dynamic columns ( 2010 2011 2012 2013 2014 - are missing).

Environment: v.12 ( tested also in v.11 - same issue)

!

[2022-09-05 15:49] melloware commented on #9179
As far as I remember this has never worked and was not designed to work with columns defined this way

[code]

[2022-09-06 10:35] tandraschko commented on #9179
it should be supported if you use #forEachColumn in the exporter
but AFAIR we were not sure if we should support this anyway in general

[2022-09-06 12:11] melloware commented on #9179
Yep we definitely using ` table.forEachColumn` and it works for `p:columns` but not for this `repeat` scenario.

[code]

[2022-09-06 12:20] tandraschko commented on #9179
I thought there is a special repeat handling in forEachColumn

[2022-09-06 12:23] melloware commented on #9179
I wonder if its because I am also checking `Map<String, ColumnMeta> allColumnMeta = table.getColumnMeta();` and those columns are not in the Column Meta?  I would have to take a deep dive on it but it doesn't seem critical to me since I never use ui:repeat to create columns I will just leave this in the backlog for now.

[2022-09-06 14:30] rider87 opened #9180 "Galleria: add hide to JS API"
### Description

Hi,

I´m looking for an option to hide the **p:gallery** in fullscreen with pressing ESC....

I cannot find a JS function to hide it (only show())
https://primefaces.github.io/primefaces/jsdocs/classes/src_PrimeFaces.PrimeFaces.widget.Galleria.html

I´ve tried also something like:
`	<p:hotkey bind="esc"
				handler="PF('myWidget').refresh()" />`

But it´s also not working

Can thi

[2022-09-06 14:52] jepsar commented on #9180
Workaround: `PF('myWidget').primeGalleriaWidget.hide()`

[2022-09-06 14:55] rider87 commented on #9180
Great, that workaround is working... Thanks

[2022-09-06 17:41] #9180 closed, assigned to jepsar

[2022-09-07 02:11] mertsincan opened #9182 "Add source attribute to Confirm component"
Source of the confirmation component. Valid values are the clientId of the source component and "this".

In some cases, users can give the clientId of the target element or "this" reference to the confirm components. For example;
[code]
[code]
AutoComplete is not a data component and it does not automatically interfere with the clientId of the components inside itself while rendering the data. The

[2022-09-07 02:13] #9182 closed, assigned to mertsincan

[2022-09-07 06:46] tandraschko commented on #9182
Mert, why we dont use search expressions here?

[2022-09-07 07:26] tandraschko commented on #9179
related ticket: https://github.com/primefaces/primefaces/issues/6409

i think we would need to use #forEachColumn and directly write the excel, not collecting it in a map nor using columnMeta propably

[2022-09-07 07:26] ritonglue opened #9183 "Showcase: DataTable Crud - number of selected products not updated on delete"
### Describe the bug

Select some lines then delete a single selected line by clicking on the trash icon of this line : the number of products selected is not updated.

### Reproducer

_No response_

### Expected behavior

The number of selected products must be updated if you delete a single selected line.

### PrimeFaces edition

_No response_

### PrimeFaces version

11.0

### Theme

_No respon

[2022-09-07 08:10] #9183 closed, assigned to tandraschko

[2022-09-07 08:39] Mockabear opened #9184 "SelectOneMenu: itemEscaped doesn't work anymore for selected items"
# 1) Environment
PrimeFaces version: 11.0.7. ELITE
Application server + version: Tomcat 9.0.45
Affected browsers: Chrome, Firefox, ..

# 2) Expected behavior
A selected selectItem with reseverd HTML chars should be displayed, formatted, not escaped.

# 3) Actual behavior
Some reseverd HTML characters of a selected selectItem are shown escaped. - Regardless of selectitems 'escape' property settigns

[2022-09-07 11:21] tandraschko commented on #9184
There is no "escape" attribute, its called [itemEscaped](https://javaee.github.io/glassfish/doc/5.0/vdldoc/f/selectItem.html#itemEscaped)

but its always escaped, right

[2022-09-07 11:24] tandraschko commented on #9184
it looks like it was broken/changed due: https://github.com/primefaces/primefaces/issues/6418

@christophs78 can you check?

[2022-09-07 11:58] christophs78 commented on #9184
I can check this on Saturday.

[2022-09-07 12:21] DonVuleone commented on #7271
Hello,

I tried your patch and mostly it works fine, thanks for that!
As a hint, there is one case, when it would not work:

I've implented an inputNumber like the following

`
<p:inputNumber id="i_val" decimalSeparator="," thousandSeparator="." decimalPlaces="0"
					 symbol=" pcs." symbolPosition="s"
					 value="#{cc.attrs.value}" >
	<p:ajax process="@this" update="@this" />
</p:inputNumber>
`

[2022-09-08 12:03] shelcomite opened #9186 "Growl: Multiple Growls on a page are rendered on same position"
### Describe the bug

If you add 2 p:growl elements to your page (e.g. one sticky="false" and one sticky="true") and you add a message to each p:growl you can only see one of the messages. The other message is hidden by the other.
=> Same position different z-index.

See Showcase: https://www.primefaces.org/showcase/ui/message/growl.xhtml
(Click on "Info"/"Warn" Button and the "Sticky" Button)

##

[2022-09-08 12:12] jepsar commented on #9186
It's debatable whether or not to call this a defect

[2022-09-08 12:14] tandraschko commented on #9186
AFAIR its currently by design

[2022-09-08 12:15] jepsar commented on #9186
Think so too.. the most recent message is on top. So it is perfectly usable IMO.

[2022-09-08 16:36] brivalin opened #9188 "BreadCrumb: Two home icons rendered if first menuitem includes a FontAwesome icon"
### Describe the bug

A breadcrumb component renders two icons  in first link (the default one + icon from menuitem) if first menuitem contains an "icon" attribute with a FontAwesome value like : icon="fal fa-house".

![image](https://user-images.githubusercontent.com/26894018/189176569-ffbf52c7-3fff-4c2d-b33e-18a5acd7fc7e.png)

### Reproducer

`<p:breadCrumb>
    <p:menuitem icon="fal fa-house" v

[2022-09-08 20:31] melloware commented on #9188
I think `homeIcon` at a minimum would be a good attribute.

[2022-09-09 08:05] StevenHachel commented on #9146
I found another bug.
If I define the "var" attribute in the selectOneMenu and make my outputs in a separate column element, the itemDisabled status doesn't work either.

![grafik](https://user-images.githubusercontent.com/29144366/189302556-d8e6ce61-0ad7-47f0-8bdd-f0c9124187a7.png)
[pf-9146-pfe-select_item_issue.with_patched.zip](https://github.com/primefaces/primefaces/files/9533537/pf-9146-pfe-s

[2022-09-09 09:01] majkers commented on #9138
Regarding https://github.com/melloware/primefaces/commit/c6eb081564d0f7667ef366a0d98b8e6a65d2ca91 First of all as far as I can see the property is called
`HIDE_RESOURCE_VERSION`
and not
`RESOURCE_VERSION`
So one can read here: https://primefaces.github.io/primefaces/12_0_0/#/gettingstarted/configuration
Secondly. You can't overwrite resource handler but simply add your own. So this could lead to w

[2022-09-09 09:06] tandraschko commented on #9138
the config is HIDE_RESOURCE_VERSION with true/false, which doesnt render the PF version anymore

the normal link:
`/fa/font-awesome.css.jsf?ln=primefaces&v=7.0.28`

the link with HIDE_RESOURCE_VERSION:
`/fa/font-awesome.css.jsf?ln=primefaces`

and like mentioned in our docu, you can add a own paramter with a custom resourceHandler

[2022-09-09 09:10] majkers commented on #9138
So read this and line 56
https://github.com/melloware/primefaces/commit/c6eb081564d0f7667ef366a0d98b8e6a65d2ca91

[2022-09-09 09:13] majkers commented on #9138
And hide resource version leads to this:

![image](https://user-images.githubusercontent.com/21099773/189315620-005f0094-d649-4ef1-9340-12a9eaec57f6.png)

and later on console to 404 error.
`.../javax.faces.resource/fa/fontawesome-webfont.woff.jsf?ln=primefaces?v=4.7.0
`
As you cas see font_awesome version is added to libraryName

[2022-09-09 09:13] melloware commented on #9138
I need to change the doc to HIDE_RESOURCE_VERSION and true.

[2022-09-09 09:14] tandraschko commented on #9138
why do you watch old commits instead of the current docs?
looks fine: https://primefaces.github.io/primefaces/12_0_0/#/core/misc?id=cache-busting-resource-handler

[2022-09-09 09:16] majkers commented on #9138
I was simply looking for a error I mentioned above. Docs are really weak. Eg. I am using version 7 and in docs there is no word of HIDE_RESOURCE...
https://primefaces.github.io/primefaces/7_0/#/gettingstarted/configuration
even though it was introdused in 7.0.27 I think

[2022-09-09 09:19] tandraschko commented on #9138
the docs are in general for the community versions, i dont think primetek updates it for elite releases
Also see: https://github.com/primefaces/primefaces#community--elite--pro

[2022-09-09 09:38] majkers opened #9189 "When primefaces.HIDE_RESOURCE_VERSION and primefaces.FONT_AWESOME set to true, there is 404 on js console"
### Describe the bug

When enabling :

[code]

in web.xml

I get an error 404 NOT FOUND on js console:

`.../javax.faces.resource/fa/fontawesome-webfont.woff.jsf?ln=primefaces?v=4.7.0`

beacuse in PrimeResourceHandler font awesome version number is appended as libraryName to primefaces:

![image](https://user-images.githubusercontent.com/21099773/189320231-950ee997-cf3f-48e8-8935-8f6d1ffefbdd.png)

[2022-09-09 09:38] majkers commented on #9138
Anyway I submitted a bug report https://github.com/primefaces/primefaces/issues/9189 Thanks

[2022-09-09 09:46] tandraschko commented on #9189
in general we cant help you as mentioned here: https://github.com/primefaces/primefaces#community--elite--pro

but please debug where libraryName=primefaces?v=4.7.0 comes from
normally a library doesnt contain any versions or params

[2022-09-09 09:48] majkers commented on #9189
I think it comses from font-awesome.css
[code]

[2022-09-09 09:49] majkers commented on #9189
I know I have an elite version but I am sure it won't work in community versions as well

[2022-09-09 09:52] tandraschko commented on #9189
community doesnt have the built-in font_awesome anymore
so if you can provide a reproducer in community, i can check
otherwise i can not really help, i can just ping @mertsincan or you can go PrimeFaces PRO

[2022-09-09 09:54] majkers commented on #9189
I can't simply migrate to community version and going PRO is also not the case...If you could ping Primetek team I would be graceful :)

[2022-09-09 09:55] tandraschko commented on #9189
all right, i will ping him in our team channel and will close the issue for now

[2022-09-09 09:55] #9189 closed, assigned to nobody

[2022-09-09 09:57] majkers commented on #9189
ok Thanks!

[2022-09-09 10:02] majkers commented on #9189
I' ve just downloaded 10 and 8 sources of community version. They DO have font-awesome in it!!!

![image](https://user-images.githubusercontent.com/21099773/189325418-38827b79-e452-4842-a2ab-d1ca7e47fc3b.png)

[2022-09-09 10:11] tandraschko commented on #9189
but 10.0.0 doesnt have HIDE_RESOURCE_VERSION, which i could debug
and even then i could not fix it in 7.0.x

[2022-09-09 10:18] majkers commented on #9189
ok I see :(

[2022-09-09 11:02] melloware commented on #9189
@majkers i know you said our documentation is "weak" but why even use the built in PF FontAwesome??? you should be using the external FontAwesome then you can use any version of FA you want and won't have this issue with `v=` see our EXCELLENT docs: https://primefaces.github.io/primefaces/11_0_0/#/core/fonticons?id=fontawesome

[2022-09-09 11:07] majkers commented on #9189
@melloware yeah you are right. I just did it and with font awesome beining used from external lib, there is no related bug... But I am not so sure about fa version. Here https://primefaces.github.io/primefaces/12_0_0/#/core/fonticons it is said that 4.x and 5.x version are supproted so no word about 6.x

[2022-09-09 11:29] melloware commented on #9189
6.x is I am using it in production.

[2022-09-09 11:30] melloware commented on #9189
I just updated the docs to add 6.x as supported.

[2022-09-09 11:31] melloware commented on #9146
I would open a new ticket please.

[2022-09-09 11:32] majkers commented on #9189
ok thanks

[2022-09-09 11:43] fanste commented on #9171
I'm a bit confused, as my reproducer behaves differently from the real application.

My application works, but duplicates the components, but only once.
The reproducer throws a duplicate-ID exception. When I set the reproducer to production and disable ID-checking, it duplicates the child-component of the column per request.

@tandraschko as you are in the MyFaces Team (or am I wrong?), any idea w

[2022-09-09 11:48] tandraschko commented on #9171
TBH no idea; this requires a lot of debugging and some samples to understand
that facelet-algorithm things are old and very complex
Leonardo had the most knowledge about it but he is not active anymore

[2022-09-09 13:46] StevenHachel opened #9190 "SelectOneMenu: itemDisabled attribute with "var" attribute + custom columns"
### Describe the bug

If I define the "var" attribute in the selectOneMenu and make my outputs in a separate column element, the itemDisabled status doesn't work either.

![grafik](https://user-images.githubusercontent.com/29144366/189364226-6b08239c-30b0-4281-9ec1-b73b7a867f5d.png)
[pf-9146-pfe-select_item_issue.with_patched.zip](https://github.com/primefaces/primefaces/files/9535896/pf-9146-pfe-

[2022-09-09 14:35] melloware commented on #9190
Related to: https://github.com/primefaces/primefaces/issues/9184 ???

[2022-09-09 15:28] fanste commented on #9171
Added a reproducer.
I just ignored that behavior, as a fix is more important ;)

PR is also available: https://github.com/primefaces/primefaces/pull/9191

[2022-09-09 19:38] christophs78 commented on #9184
We have an integrationtest for something very similar:
![image](https://user-images.githubusercontent.com/10461942/189429954-226b5ad7-8ad2-4887-b255-edbb5ff47331.png)

https://github.com/primefaces/primefaces/blob/master/primefaces-integration-tests/src/main/java/org/primefaces/integrationtests/selectonemenu/SelectOneMenu002.java, https://github.com/primefaces/primefaces/blob/master/primefaces-int

[2022-09-09 19:55] christophs78 commented on #9184
![image](https://user-images.githubusercontent.com/10461942/189432705-248b918e-3ad2-42e9-b068-ff3f419cca3d.png)

PR add´s an additional integrationtest and shows itemEscaped is working.

[2022-09-09 20:17] kurtomerfaruk opened #9194 "SelectOneMenu: ajax event change not trigger"
### Describe the bug

SelectOneMenu does not fire when element changes. The same situation works fine in version 11.0.0.

### Reproducer

[code]

### Expected behavior

_No response_

### PrimeFaces edition

_No response_

### PrimeFaces version

12.0.0-RC3

### Theme

_No response_

### JSF implementation

Mojarra

### JSF version

2.3.9

### Java version

11

### Browser(s)

Chrome 105.0.5195.10

[2022-09-09 20:53] anuragnz commented on #8835
Please add this feature. At the moment we are adding action facets to every tab which is repetitive.

[2022-09-10 10:59] christophs78 commented on #9194
I´m writing an IT for this.

[2022-09-10 11:37] christophs78 commented on #9194
Have a look at the referenced PR which contains a passing IT for this. IMO nothing is broken.
Feel free to provide another PR which adds a failing IT.

[2022-09-10 12:53] Mockabear commented on #9184
Thanks for taking a look, but I don’t understand the testcases: The pics from the test don‘t reflect the error situation. The items with special chars are **not** selected. The error occurs **only** on selection. See picture from point 3) above.

[2022-09-10 12:55] #9188 closed, assigned to melloware

[2022-09-10 12:56] Mockabear commented on #9184
.. and just for clarification: Why is this issue „invalid“?

[2022-09-10 13:00] melloware commented on #9186
From the docs: https://primefaces.github.io/primefaces/12_0_0/#/components/growl

keepAlive | false | Boolean | Defines if previous messages should be kept on a new message is shown.

Set `keepAlive="true"` if you want messages to stack.

![image](https://user-images.githubusercontent.com/4399574/189484506-78b8fb40-e661-48dc-bc73-3d3d840468ef.png)

[2022-09-10 13:00] #9186 closed, assigned to melloware

[2022-09-10 13:02] melloware commented on #9186
Oh I see you have two different growls and yes this is the expected behavior.  They both need to appear in the same spot as the two growl's don't know about each other.

[2022-09-10 13:03] melloware commented on #9184
@SLAPNet-dev I have marked it "needs investigation" it sounds like more work is needed on our end.

[2022-09-10 13:13] christophs78 commented on #9184
Are you able to reproduce this with 12.0.0-SNAPSHOT? (or 12.0.0-RC3)

[2022-09-10 13:34] Mockabear commented on #9184
Yes. Same behaviour under 12.0.0-RC3.

[2022-09-10 13:35] christophs78 commented on #9184
@SLAPNet-dev : You break this by walking through the options with cursor-up and cursor-down? (Your example has no itemValues so it does not work when you click on items with the mouse.)

After switching to itemEscaped it work´s IMO as @tandraschko suggested earlier:
[code]

[2022-09-10 14:43] Mockabear commented on #9184
Sorry for the trouble. Seems like erverything works like expected!
We've had an issue with dynamic created selectitems during a migrating from PF 8/JSF 2.2 to PF11/JSF2.3.  We had to clear the escape-flag on the selectitem to fix it.
During further investigation we build this wrong example with the help from IntelliJ..
![image](https://user-images.githubusercontent.com/99366998/189488434-fc9c5276-

[2022-09-10 14:43] #9184 closed, assigned to christophs78

[2022-09-10 15:18] melloware commented on #9190
This is not a bug.  When you control the rendering you need to control the state rendering.  I changed your example to this..

[code]

[2022-09-10 15:18] #9190 closed, assigned to nobody

[2022-09-10 15:35] melloware opened #9197 "DataExporter: Issue if no columnMeta and visibleColumnOnly="true""
### Describe the bug

Reported by @newk5 on Discord: https://discord.com/channels/787967399105134612/787967662293909524/1017412956813807636

### PrimeFaces edition

Community

### PrimeFaces version

12.0.0-RC3

### JSF implementation

All

### JSF version

2.3

### Java version

11

[2022-09-10 15:44] melloware commented on #9179
I actually think the issue is in `ColumnAware` here where it tries to get the Repeating values?

[code]

[2022-09-10 15:50] #9197 closed, assigned to melloware

[2022-09-10 15:51] StevenHachel commented on #9190
Okay, if this isn't supposed to be a bug, why was it working on PF5/6/7/8 before? Shouldn't this feature change appear in the migration document?

[2022-09-10 15:55] melloware commented on #9190
To me it was a bug before and was fixed.

 When you render with your own `<p:column>` you should be in complete control of the rendering.  For example say you want to render with a `strikethrough` or render it in RED when disabled or whatever you want.  That is the whole point of the custom `<p:column>` rendering...that you take complete control of how items are rendered.

[2022-09-10 16:01] StevenHachel commented on #9190
Okay, if it stays that way, that's a very good thing. :-)

[2022-09-10 16:15] tandraschko commented on #9179
Why should this be an issue?
It should work

[2022-09-10 23:02] melloware commented on #9179
I am still debugging.

[2022-09-11 11:50] melloware commented on #9179
OK I got the bottom of it.  It is specific to Excel/PDF trying to render the Grouping because it has to know how many cells.  This code was cleaned up from PF Extensions but I should have read closer it has this block in "addColumnGroup`

(https://github.com/primefaces/primefaces/blob/cad398453fecb6099df176d9b43b65fb3f35ac1c/primefaces/src/main/java/org/primefaces/component/datatable/export/DataTa

[2022-09-11 11:59] tandraschko commented on #9179
yeah, it need to use #forEachColumn

[2022-09-11 13:35] melloware commented on #9197
Reproducer:
[pf-9197.zip](https://github.com/primefaces/primefaces/files/9542630/pf-9197.zip)

[2022-09-12 06:45] Mredul-Hasan commented on #61
+1

[2022-09-12 09:28] mertsincan opened #9199 "Datepicker: ConverterException is not handled"
Reported By PRO User;

[2022-09-12 09:28] #9199 closed, assigned to mertsincan

[2022-09-12 10:38] #9194 closed, assigned to christophs78

[2022-09-12 11:36] melloware commented on #61
@Mredul-Hasan see my post above this exists in PFE: https://www.primefaces.org/showcase-ext/sections/imagezoom/basicZoom.jsf

[2022-09-12 16:52] claudioweiler commented on #3214
Hi @melloware, @tandraschko

Just found this one. I think that security constraint `rel='noopener noreferrer'` is not implemented in links sanitizing, as suggested in https://github.com/primefaces/primefaces/issues/3214#issuecomment-432567420 and https://github.com/primefaces/primefaces/commit/822e4cd6f5fa8585fc4ba4133d6b925422751c49#r31402159.

Am I missing something?

[2022-09-12 16:54] melloware commented on #3214
@claudioweiler feel free to submit a PR.  It looks like its configured correctly to me?

[2022-09-12 17:09] claudioweiler commented on #3214
Maybe I'm wrong!

What I can find is:
- PF has this https://github.com/primefaces/primefaces/blob/30ef1939c89fb38641cbb78a431345264d0831f6/primefaces/src/main/java/org/primefaces/util/HtmlSanitizer.java#L41
- It's based on Sanitizers.LINK that uses `rel='nofollow'` as default: https://github.com/OWASP/java-html-sanitizer/blob/37569793a12238424ebd1c2ccfc7db011b327088/src/main/java/org/owasp/html/Sa

[2022-09-12 17:11] melloware commented on #3214
Are you sure you have `secure="true"` set on your TextEditor that is what turns the sanitizer on.

[2022-09-12 17:22] claudioweiler commented on #3214
Sorry @melloware , I didn't mean to be rude, sorry my poor English!

`secure` is `true` by default, right? (https://primefaces.github.io/primefaces/12_0_0/#/components/texteditor)

I don't have `secure=false`, but I will try with explicit `true`.

But, to be clear, it's expected behavior that `noopener noreferrer` appears on `rel` attribute of links for `target=_blank`?

[2022-09-12 17:26] melloware commented on #3214
i think that is the intent.  So you may have to debug it! And the OWASP Sanitizer is in your classpath?

[2022-09-12 17:29] claudioweiler commented on #3214
I think we will never understand each other! Sorry!

[2022-09-13 09:09] patzi commented on #8989
I just stumbled upon this problem with chromium based browsers as well.
To reproduce just go to https://www.primefaces.org/showcase/ui/overlay/dialog.xhtml with a chromium based browser open the basic dialog and shrink it so that you get a vertical scrollbar. Release the mouse while the dialog still has the scrollbar and then resize again.
The glitch right/under the scrollbar even gets bigger the

[2022-09-13 09:19] patzi commented on #8989
This seems to be a bug upstream in jqueryui https://github.com/jquery/jquery-ui/issues/2083
@tandraschko please reopen this one

[2022-09-13 09:44] shelcomite opened #9201 "Growl: support simultaneous display of sticky and non sticky of different growl components"
### Description

If you add 2 p:growl elements to your page (e.g. one sticky="false" and one sticky="true") and you add a message to each p:growl you can only see one of the messages. The other message is hidden by the other.
=> Same position different z-index.

See Showcase: https://www.primefaces.org/showcase/ui/message/growl.xhtml
(Click on "Info"/"Warn" Button and the "Sticky" Button)

### Des

[2022-09-13 12:24] #9179 closed, assigned to melloware

[2022-09-13 13:43] melloware commented on #9201
This is a difficult one because both growls have no idea about each other.

[2022-09-14 13:38] mauromol commented on #9164
@jepsar just for your curiosity (maybe...), the forced upgrade from 7.0 to 8.0 (which was requested, I remember, because of a regression in 7.0, or better, one of the regressions we found in 7.0) for us is showing itself as a pain, as expected.
These are the regressions encountered so far:
- p:confirmDialog inside tabView+panelGrid reguired the addition of an appendTo="form" otherwise the overlay

[2022-09-14 13:45] melloware commented on #9164
@mauromol are you an Elite subscriber?  That Repeat bug 5661  was fixed in 8.0.1+?

As for QA over 600 Integration tests have been added in PF 11 and 12 to prevent exactly these kinds of issues. I guess the bigger question is why are you upgrading from a major version 5 versions behind to a version 4 versions behind?

[2022-09-14 13:46] melloware commented on #9164
Also the migration guides are open source if something is missing simply submit a PR updating the documentation.

[2022-09-14 14:35] mauromol commented on #9164
@melloware I deeply respect your work and your business model, don't get me wrong. Yet, I think that perhaps a bit more care towards the open source community should be due, especially when you ask people to open PRs: if I were truly cynical, I could ask you if I am supposed to fix your bugs so that you can sell your elite versions, without having the ability to download these versions unless I pa

[2022-09-14 14:40] tandraschko commented on #9164
wheter I, nor @melloware are working for PrimeTek and we dont have a business model; we are just open source commiters.

and if you are unhappy with it, i can just suggest to improve our documentation, provide integration tests to make it more stable in future or just buy PrimeFaces PRO to fix your bugs in a elite release; see https://github.com/primefaces/primefaces#community--elite--pro

[2022-09-14 14:50] tandraschko commented on #9164
and about the versions on the homepage; we have no control over it, therefore we have:
https://github.com/primefaces/primefaces#versions

[2022-09-15 09:46] StevenHachel opened #9207 "InputNumber: minValue cant override value"
### Describe the bug

The value cannot be changed without going through a detour. To change the number, the content must be marked in order to overwrite it. This is very unfavorable if you have to change a whole lot of such values (table in goods distribution with 20 items and their quantity).

can only changed, when marked:
![grafik](https://user-images.githubusercontent.com/29144366/190372720-4e

[2022-09-15 09:59] tandraschko commented on #9207
I think its a duplicate of: https://github.com/primefaces/primefaces/issues/5376

[2022-09-15 10:18] StevenHachel commented on #9207
It works in PF version 8. I can replace the number without having to mark it first.

[2022-09-15 11:19] melloware commented on #9207
Debugging the issue and PR is welcome here.  AutoNumeric was upgraded between 8 and 12.

Here is a great filter of everything that has changed in InputNumber from 12 back to 8.  https://github.com/primefaces/primefaces/issues?q=is%3Aissue+inputnumber+in%3Atitle+is%3Aclosed+sort%3Aupdated-desc+

[2022-09-15 13:26] melloware commented on #9207
I am running with `12.0.0-RC3` and your demo is working fine.
[pf-9702.zip](https://github.com/primefaces/primefaces/files/9575604/pf-9702.zip)

I will re-open if you discover its not working fine for some reason on 12.0.0-RC3.

[2022-09-15 13:26] #9207 closed, assigned to nobody

[2022-09-19 14:35] seeker105 opened #9213 "DatePicker: Closing Itself Immediately"
I'm using a DatePicker in a Primefaces dialog. The code for the field is
[code]

When the user clicks on the field it opens the datePicker, showing the current month and the dates. But the datePicker disappears when the mouse button is released. As long as the button is held down, the datePicker is visible. But it disappears as soon as the button is released.
If the user clicks on the field a seco

[2022-09-19 15:08] melloware commented on #9213
Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-09-20 12:51] enricokl opened #9214 "TreeTable: Strict CSP shows always expand icon"
### Describe the bug

If you are use primefaces.CSP true with default-src: 'self' or style-src: 'self' in primefaces.CSP_POLICY in web.xml, then in treetable the expand icon are always shown, even on an leaf.

### Reproducer

Set in web.xml the param primefaces.CSP to true and set the param primefaces.CSP_POLICY to default-src: 'self' or style-src: 'self'.

The TreeTable shows the expand icon alwa

[2022-09-20 12:55] enricokl commented on #9214
I have found the problem. The style of a node in TreeTableRenderer was set to 'visibility:hidden', when the node is a leaf. But the CSP "style-src: 'self'" delete the style attribute.

[2022-09-20 13:00] melloware commented on #9214
Yep you can't only use `Script-src` with PrimeFaces CSP.  There are too many inline styles as this project is 12+ years old and would need a major overhaul.  So only `script-src:` is supported.

[2022-09-20 13:04] #9214 closed, assigned to nobody

[2022-09-21 09:54] mertsincan opened #9224 "Add autoMonthFormat attribute to DatePicker"
Whether to format the month. Default is true.

[2022-09-21 09:55] #9224 closed, assigned to mertsincan

[2022-09-22 06:21] cidylong opened #9226 "Does PrimeFaces Dialog frameworks support inputText Ajax event and Listener?"
### Describe the bug

I'm trying popup a dialog from backbean by using:

PrimeFaces.current().dialog().openDynamic(CONTRACTITEM_EDIT_DIA, buildDiaOptions(), null);

dialog is showing well, but when I put some inputText fields work with

<p:ajax event="keyup" process="@this" update="@all" listener="#{contractitemSWController.onWeeklyRateChange()}" />

There is no response at all.

It works fine in

[2022-09-22 08:05] tandraschko commented on #9226
please provide a primefaces-test reproducer

maybe you just did not understand that the dialog-framework is a new view in a iframe and update `@all` will only update the content in the iframe

[2022-09-22 11:08] Bukama opened #9227 "AutoComplete: Possibility to remove "role=application" on elements"
### Description

[Primeface's autocomplete elements](https://www.primefaces.org/showcase/ui/input/autoComplete.xhtml) create a `<span>` tag around them, which is then labeled with `role="application"`.

This can result in problems identifying the "true" meaning of a section, especially for screenreader users, because screenreader reading aloud the term "application" and tell the user that this sec

[2022-09-22 12:35] Bukama opened #9230 "DataTable: Remove duplicate table headers (or change aria-labels) on scollable tables"
### Description

[Primeface's DataTable Scroll](https://www.primefaces.org/showcase/ui/data/datatable/scroll.xhtml) render two tables with table headers. One of them gets the CSS class `ui-datatable-scrollable-theadclone` and the style `height: 0px;` which makes it invisble for regular users.

But screenreaders pick up the "hidden" table header and provide its content to the user, resulting in dub

[2022-09-22 16:28] fanste commented on #8125
This provided fix doesn't seem to be feature complete. You now always need `update="@this"` if the value is e.g. sent to the server using `blur` event.

Before this change:
- enter a number, it had to be > `0`
- ajax fires, everything is fine
- clearing the input was not possible (too bad), and therefore you never sent something invalid to the server (by ajax)

After this change:
 - enter a number

[2022-09-22 18:31] newk5 opened #9231 "DatePicker: Validation error "INVALID_RANGE_DATES_SEQUENTIAL" when dates are the same"
### Describe the bug

If you have a datepicker using selectionMode="range" and select the same date for the starting date and end date, you get an error saying that the start date is greater than the end date, which is incorrect. I tracked down the issue to this line: https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/java/org/primefaces/component/datepicker/DatePicker.java#L

[2022-09-22 19:30] melloware commented on #9231
PR Submitted letting the integration tests run now

[2022-09-22 19:36] jepsar commented on #9231
Let me check if this is really what we want

[2022-09-22 21:37] melloware commented on #8125
Good point not sure this could be fixed easily to fit all use cases.

[2022-09-23 06:05] jepsar commented on #9231
@newk5 what is the type of object you are using? With a `LocalDateTime` or `Date` for example, end dates are set to the very end of the day. Also, what's missing in the report is that you are using `view="month"`. It might very well be that we should fix this issue by setting the end date to the very end of the month instead of simply adjusting the check.

[2022-09-23 06:23] newk5 commented on #9231
@jepsar  Yea I'm using view="month", and pattern="MM-yyyy" here's a screenshot of my debugger on that specific line on DatePicker.java
![image](https://user-images.githubusercontent.com/32560510/191901499-46135194-5816-45b1-b40e-74583fe0b098.png)

You can see they are both exactly the same, I think it's just that the comparator check that is incorrect. In this specific case it will return 0 which

[2022-09-23 06:26] newk5 commented on #9231
Also as I said above I chose the same exact month for both the start and end date so those values there on the debugger are correct.

[2022-09-23 08:46] MWI-msg opened #9233 "Carousel: Has no paginator link limit"
### Describe the bug

Since PrimeFaces 11.0.0 the carousel component is missing the of the attribute "pageLinks" which was used to limit the displayed page links in the paginator area. So now there is a page link for every item in the carousel. For example, if you have 20 items in it, it will show 20 page links and so on. We need at least an option to disable the display of the page links to preve

[2022-09-23 08:46] MWI-msg opened #9234 "Carousel: Has no paginator link limit"
### Describe the bug

Since PrimeFaces 11.0.0 the carousel component is missing the of the attribute "pageLinks" which was used to limit the displayed page links in the paginator area. So now there is a page link for every item in the carousel. For example, if you have 20 items in it, it will show 20 page links and so on. We need at least an option to disable the display of the page links to preve

[2022-09-23 08:46] MWI-msg opened #9235 "Carousel: Has no paginator link limit"
### Describe the bug

Since PrimeFaces 11.0.0 the carousel component is missing the of the attribute "pageLinks" which was used to limit the displayed page links in the paginator area. So now there is a page link for every item in the carousel. For example, if you have 20 items in it, it will show 20 page links and so on. We need at least an option to disable the display of the page links to preve

[2022-09-23 08:46] MWI-msg opened #9236 "Carousel: Has no paginator link limit"
### Describe the bug

Since PrimeFaces 11.0.0 the carousel component is missing the of the attribute "pageLinks" which was used to limit the displayed page links in the paginator area. So now there is a page link for every item in the carousel. For example, if you have 20 items in it, it will show 20 page links and so on. We need at least an option to disable the display of the page links to preve

[2022-09-23 08:46] MWI-msg opened #9237 "Carousel: Has no paginator link limit"
### Describe the bug

Since PrimeFaces 11.0.0 the carousel component is missing the of the attribute "pageLinks" which was used to limit the displayed page links in the paginator area. So now there is a page link for every item in the carousel. For example, if you have 20 items in it, it will show 20 page links and so on. We need at least an option to disable the display of the page links to preve

[2022-09-23 09:29] #9234 closed, assigned to nobody

[2022-09-23 09:29] #9235 closed, assigned to nobody

[2022-09-23 09:29] #9236 closed, assigned to nobody

[2022-09-23 09:29] #9237 closed, assigned to nobody

[2022-09-23 10:29] #9231 closed, assigned to newk5

[2022-09-23 12:13] melloware commented on #9213
Will close until a PF Test reproducer is provided.

[2022-09-23 12:14] melloware commented on #9226
Will close until a PF Test reproducer is provided.

[2022-09-23 12:14] #9226 closed, assigned to nobody

[2022-09-23 12:57] #9233 closed, assigned to melloware

[2022-09-26 10:40] #4770 closed, assigned to nobody

[2022-09-26 10:42] blatra commented on #9143
I'm using the harmony theme (3.0.1) and have exactly the same issue with harmony menu since I updated from Primefaces 11.0.4 to 11.0.6. The issue also appears with Primefaces 11.0.8.
It seems that Primfaces 11 from version 11.0.6 onwards is also affected by this bug.

[2022-09-27 09:38] blatra opened #9241 "HarmonyMenu: Javascript exception while restoring state"
### Describe the bug

I'm using Harmony theme 3.0.1 which was performing fine on Primefaces 11.0.4.
But since I upgraded to Primefaces 11.0.6 I encounter JavaScript Errors on page load while the menu tries to resore it's state from the cookie "harmony_expandeditems".
As a result the active menu entry is not highlighted and expanded submenus are not expanded anymore after page reload/switch.
I also

[2022-09-27 09:42] jepsar commented on #9241
Did you already report this at https://forum.primefaces.org/viewforum.php?f=82 ?

[2022-09-27 11:33] melloware commented on #9241
Isn't' that the same issue being reported here: https://github.com/primefaces/primefaces/issues/9143

This is the community tracker not for Elite or Premium Template issues

[2022-09-27 11:33] #9241 closed, assigned to nobody

[2022-09-27 11:58] blatra commented on #9241
No, I did not. But I will do this immediately.

Yes, it seems to be the same issue. I reported it here, because I thought it may has to be fixed in primefaces itself, because the update of the primefaces library led to the error.

[2022-09-27 12:02] melloware commented on #9241
Yeah it looks like its just a problem with that 11.0.X elite release with the Premium Templates.

[2022-09-28 11:18] jepsar opened #9244 "PrimeIcons: Migrate to 6.0.1"

[2022-09-28 11:25] jepsar commented on #9244
Should be like https://github.com/primefaces/primefaces/commit/b1273b0be841d5ebc7ea23c9e1570933114b2b5d + showcase

[2022-09-28 11:26] melloware commented on #9244
@jepsar want to submit a PR and we can see if it just works.  I am pretty sure its backwards compatible with current icons.

[2022-09-28 11:28] jepsar commented on #9244
Yes, just posted on Discord. Should be straight forward.

[2022-09-28 12:14] HKM-CIA opened #9245 "Columns: NumberFormatException updating buttons inside facet header of p:columns"
### Describe the bug

We have a dataTable with buttons inside the facet header of a **p:columns** component.

[code]

The resulting button ids are "frmTest:dataTable:dailyValues:i:commandButton" with 'i' from 0 to number of columns - 1.

On rowSelect event the buttons are updated  and get enabled or disabled.

With primefaces 6.2.30 everything works fine.
Using any version greater than 6.x, this l

[2022-09-28 12:16] melloware commented on #9245
Wonder if its related to this too: https://github.com/primefaces/primefaces/issues/7369

[2022-09-28 13:22] tandraschko commented on #9245
works fine in MyFaces (at least without exception) and the stacktrace is from Mojarra

[2022-09-29 08:29] fcorneli commented on #9144
OK, found the reason why I saw ghosts. If I run a local deploy via:
[code]
I get these funny JS errors.
If I run a local deploy via:
[code]
everything is OK.

Hence you always need do run a `clean` build I guess...

[2022-09-29 09:16] #9244 closed, assigned to jepsar

[2022-09-29 11:28] melloware commented on #9245
Yep fails on Mojarra works on MyFaces.

`mvn clean jetty:run -Pmyfaces23` - WORKS!

`mvn clean jetty:run -Pmojarra23` - FAILS.

So I would report this to the Mojarra team including your reproducer: https://github.com/eclipse-ee4j/mojarra/issues

[2022-09-29 13:03] SirError opened #9251 "BlockUI: If there's an ajax call on the button, the blockUI vanishes before finishing the ajax"
### Describe the bug

If the button that triggers the blockUI has an ajax call

[code]

the blockUI will be called and then disappears before the whole ajax is completed.

This works on Prime 7

### Reproducer
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/9674905/primefaces-test-master.zip)

Click the Open button,  then click Submit.

### Expected behavior

BlockUI sh

[2022-09-29 13:14] melloware commented on #9251
You are using CommandButton incorrectly and if you watch F12 Network tab you will see you are firing two AJAX requests every time you press the Submit Button.

It works if you use CommandButton properly like this.

[code]

[2022-09-29 13:14] #9251 closed, assigned to nobody

[2022-09-29 15:04] schlagges commented on #5064
The StickyToolbar does quite the same. It increases the z-index each time you scroll down and back to top. Starting from 1002. That leads to an overlayed Navigation and so on.

[2022-09-29 15:19] firsthour commented on #9055
This change now seems to stack up multiple deferred outputPanels one after another.

So if I have two deferments:

[code]

and the view:

[code]

The second outputPanel won't even start its sleep until the first finishes.

[2022-09-29 15:34] tandraschko commented on #9055
yeah, sure
you need to set async=false if you would like this to work

[2022-09-30 07:24] mertsincan commented on #9165
@melloware I didn't see "ui-state-error" class on ToggleSwitch. But, I added styles related to it to the themes. Could you please add "ui-state-error" class on validation? Please see;

<img width="905" alt="Screen Shot 2022-09-29 at 16 37 05" src="https://user-images.githubusercontent.com/11868120/193214292-5ccd4a56-5e27-4bce-b484-fe82e6aa7cfa.png">

[2022-09-30 07:31] #9118 closed, assigned to melloware

[2022-09-30 09:15] jepsar opened #9252 "IdleMonitor: add optional active timeout"
### Description

If you use IdleMonitor for session timeouts and set the timeout to 28 minutes (for example), and you start moving the mouse at 27 minutes, no active event is sent currently. With long timeouts, you want to be able to send an active event at a shorter timeout / when the user is not idle yet.

See also https://github.com/primefaces-extensions/primefaces-extensions/issues/958

### De

[2022-09-30 11:55] melloware commented on #9165
@mertsincan I have verified `ui-state-error` is being added to toggleswtich however what I don't see is any changes in the themes to add ui-state-error to the toggleswitch CSS.  I just looked through your changes and I don't see it.

See:
![image](https://user-images.githubusercontent.com/4399574/193264330-cf27188e-efeb-4346-bdef-104a2ffee0df.png)

It gets added to the root DIV

[2022-09-30 12:08] mertsincan commented on #9165
@melloware I tried it with the following code;
[code]
The 'ui-state-error' is added to the hidden element. Could you please check it? Also, can you add 'ui-state-error' like in my attached screenshot?

[2022-10-01 04:56] lih13800 opened #9254 "Treetable: clearFilters() API make table breaks table when filtering is enabled"
### Describe the bug

After I use the clearFilters(), the table is frozen. Although the value is change on the Java side, the tree table does not show any changes.

### Reproducer

1. Go to left corner to choose a tree root and load the tree root (default is root1) as you like
2. Click on "clear filters" button (no matter is anything in the filter side)
3. Go back to left corner to select other tr

[2022-10-01 10:52] #8699 closed, assigned to nobody

[2022-10-01 11:46] #9165 closed, assigned to melloware

[2022-10-02 17:46] jepsar commented on #9201
How about extending FacesMessage and add a sticky attribute?

[2022-10-03 03:29] lprimak opened #9256 "Regression (11.x vs. 12.0.0-RC3) Component: Lazy Data model ("
### Describe the bug

Lazy model rows are duplicated when table is sorted:

- Open the app
- Click on any column to sort

You will see that the two first rows displayed are duplicated.
Not just the first ones, but looks like all rows are duplicated.

This happens different implementation of LazyDataModel: FlowLogix library and OptimusFaces
in the same way, and it used to work correctly on PF 11.x

[2022-10-03 03:38] lprimak commented on #9256
never mind... due to a deployment error my sample data got duplicated in the database :)

[2022-10-03 03:38] #9256 closed, assigned to nobody

[2022-10-03 14:31] SirError opened #9257 "InputNumber: The value of the component is different from the submitted value"
### Describe the bug

If some action updates the inputNumber from the backing bean the value showed might be different from the value that will be submitted.

Example:
the backing bean sends the value 18.0000
and the component will show 18.00

once you submit it, the server will receive 18.0000 instead of 18.00
this might cause some trouble with the validation @Digits

### Reproducer

[primefaces-

[2022-10-03 16:44] melloware commented on #9257
OK this will only happen with padded 0's.

But it is interesting why you are setting a known invalid value and having the UI format it?  To me you should never count on the UI component formatting a value.

We only copy to the hidden input if the numbers are not the same but "18.00" and "18.0000" are the same number.

[code]

[2022-10-03 16:58] melloware commented on #9257
OK fixed submitted the initial value must always be formatted to match what the UI is displaying.

[2022-10-03 17:48] SirError commented on #9257
Thanks, @melloware , I know the example is a bit weird, but I had to simplify it as much as possible to create an "easy to show" reproducer.

thanks again!

[2022-10-03 17:49] #9257 closed, assigned to melloware

[2022-10-03 20:18] SirError opened #9259 "Datepicker: change event is triggered with `mask=true` when leaving input without changes"
### Describe the bug

The first time I pick any date the ajax event is called twice, this can be checked through F12
the first ajax sends an empty date, and the second the value picked.
[code]

### Reproducer

[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/9700633/primefaces-test-master.zip)

### Expected behavior

The event should be called just once with the correct

[2022-10-04 07:07] HKM-CIA commented on #9245
Sorry, just one question.
Why does it work with primefaces 6.2.30 ?
Am i missing something, i thought that the primefaces-test projects uses the same mojarra version for 6.2.30 and 11.0.8.

[2022-10-04 07:44] lprimak opened #9260 "DatePicker: onchange event called twice using touchUI="true""
### Describe the bug

When editing a cell with a datepicker in it, `currentCell` property returns null only on an iPhone
This is due to on `onchange` event being called twice and resetting `currentCell` to null

This can also be reproduced on Safari (Mac/Desktop) Developer Tools by impersonating iPhone
actual iPhone is not necessary.

### Reproducer

See https://github.com/lprimak/apps/blob/f3afa2

[2022-10-04 08:50] Bukama opened #9261 "Remove "role=row" and "role=columnheader" in table rows/headers"
### Description

[Primeface's data tables](https://www.primefaces.org/showcase/ui/data/datatable/contextMenu.xhtml?jfwid=d716f) is labeling table-headers (`<th>`) with `role="columnheader"` and table-rows (`<tr>`) with `role="row"`.

Both annotations result in warnings and even errors by the NU-HTML-Checker

From the NU HTML Check result of the showcase

[code]

According to the accessibility (tes

[2022-10-04 09:48] jepsar commented on #9260
@lprimak Can you please create a https://github.com/primefaces/primefaces-test which we can use to debug?

And do you have a suggestion how to fix this? Seems like a 3rd party issue to me.

[2022-10-04 11:23] tandraschko opened #9262 "Simple FileUpload: selecting no file in chrome throws JS error"
https://forum.primefaces.org/viewtopic.php?f=3&t=76511

[2022-10-04 11:24] #9262 closed, assigned to tandraschko

[2022-10-04 11:38] melloware commented on #9245
@HKM-CIA Between 6.2 and 11.0 there have been over 1000+ bugs fixes and feature enhancements over 4 years.  Most likely some bug or gap we closed is now causing this issue on Mojarra but not on MyFaces.

[2022-10-04 12:40] tandraschko commented on #9259
thats related to the mask and #7176

@melloware interessted to check it?

[2022-10-04 12:51] melloware commented on #9259
I can take a look its most likely the mask is triggering and onChange event

[2022-10-04 13:18] tandraschko commented on #9254
this is similar to issues in DataTable, were the internal filteredValue wasnt resetted

i just dont have time to work on it

[2022-10-04 14:15] melloware commented on #9184
This has me thinking either Mojarra or Myfaces taglib is wrong here is what Eclipse shows me for the tablib for `f:selectItem`

![image](https://user-images.githubusercontent.com/4399574/193843363-4f79d0a6-3639-47d4-bf15-76a4bd32f105.png)

[2022-10-04 17:00] SirError commented on #9259
Hum, seems like now the change event is not working when I type the date

[2022-10-04 17:06] melloware commented on #9259
Can you try it without the mask.  My guess is the change event never fired when you typed the date?

[2022-10-04 17:06] melloware commented on #9259
All I did was turn off the MASK onblur but nothing else of the component changed.

[2022-10-04 17:19] SirError commented on #9259
Yeah, without mask it works
but shouldn't it work with mask as well?

[2022-10-04 17:22] melloware opened #9266 "DatePicker: Min/Max not handling timeZone correctly."
### Describe the bug

Start a server in UTC like this `mvn  jetty:run -Ddev -Duser.timezone="UTC"`.  This makes the whole server in UTC.

Then add a DatePicker in EST like this...

[code]

This will generate an incorrect error
![image](https://user-images.githubusercontent.com/4399574/193883727-45248da1-b10a-4eb0-8753-a922cce01e88.png)

This is because deep in the bowels of CalendarUtils it was us

[2022-10-04 17:36] melloware commented on #9259
it does if I reinstate the change I just made and then you will get double AJAX requests.  So you have to determine which you want more.

[2022-10-04 17:38] melloware commented on #9259
The InputMask doesn't allow me to get at the underlying events so I have to brute force removing the "blur" if you are using the mask.  Let me try soemthing else.

[2022-10-04 17:44] SirError commented on #9259
The mask is important to my use case, so I prefer double event over no event =x

[2022-10-04 17:48] melloware commented on #9259
OK reverted.  Because InputMask adds so many events under the covers I recommend if you really need this use case just stop using mask for now.

[2022-10-04 17:51] #9266 closed, assigned to melloware

[2022-10-04 17:51] melloware commented on #9262
I reverted this line `if ($this.cfg.auto && files.length > 0) {` because its breaking Integration Tests

[2022-10-04 19:35] tandraschko commented on #9262
IMO integrationstests are wrong, not the code
already pinged @christophs78 to have a look

[2022-10-04 19:47] melloware commented on #9262
Cool!

[2022-10-04 20:36] Mockabear commented on #9184
Mmhh.. Mojarra's taglib looks fine:
![image](https://user-images.githubusercontent.com/99366998/193918166-c096fbcd-0944-4da6-8c7c-037109d1e0f3.png)
It seems as if the wrong properties (in IntelliJ) are generated by the JSF-Plugin:
![image](https://user-images.githubusercontent.com/99366998/193919222-1c1452f1-6377-481e-b050-3ccef9cf2000.png)
Regarding to it's header it's a 2.0 TLD Version. [In the

[2022-10-04 20:38] christophs78 commented on #9262
My current best bet point´s me to some issue with guard.

org.openqa.selenium.TimeoutException: Timeout while waiting for AJAX complete!
	at org.primefaces.selenium.internal.Guard.lambda$ajax$2(Guard.java:150)
	at net.bytebuddy.renamed.java.lang.Object$ByteBuddy$mHJEqBNh.run(Unknown Source)
	at org.primefaces.selenium.component.FileUpload.setValue(FileUpload.java:89)
	at org.primefaces.integration

[2022-10-04 20:43] melloware commented on #9184
ah yes that is definitely wrong.  It is `itemEscaped`.  I guess that is why it has caused confusion!

[2022-10-04 20:43] melloware commented on #9262
OK I am going to reinstate the fix maybe we should just comment out the tests for now before 12 release?

[2022-10-04 20:58] #9261 closed, assigned to Bukama

[2022-10-04 20:59] christophs78 commented on #9262
Opened a draft-PR to run our IT´s with some additional debug-output. Wait a bit and see.

[2022-10-04 21:49] christophs78 commented on #9262
After a clean-install on my local machine it get´s evident what´s happening...
![image](https://user-images.githubusercontent.com/10461942/193936645-492e3865-57d4-44c6-8c99-c19b7450e869.png)

Our guard run´s into nowhere because no file get´s uploaded.

[2022-10-05 08:14] HKM-CIA commented on #9245
@melloware, @tandraschko
thanks for your quick replies and good support

[2022-10-05 11:53] melloware commented on #9262
OK @christophs78 so what is the rememdy?

[2022-10-05 12:04] christophs78 commented on #9262
Using assertThrows and expect org.openqa.selenium.TimeoutException for the affectes IT´s. (We expect this exception because there´s nothing to guard.) - I can look at this in the evening.
Doing it totally clean and only apply the guard when we realy expect a upload in a generic way seems to be more complicated.

[2022-10-05 12:12] melloware commented on #9262
Thank you!

[2022-10-05 14:56] #9128 closed, assigned to cagataycivici

[2022-10-05 22:00] mores opened #9272 "ProgressBar: not yielding to poll for long running process"
### Describe the bug

A page contains both a poll and progressBar.
On page load, poll works as expected.
When a long server process is started, progress bar shows the progression, but the polling stops.

### Reproducer

https://github.com/mores/primefaces-test/tree/progressBarYield

### Expected behavior

I expect the polling to continue to poll while the progressBar is progressing.

### PrimeFace

[2022-10-05 22:07] melloware commented on #9272
I noticed you reported this on 7.0.29?  This is not an Elite tracker this is for community issues so unless its an issue on PrimeFaces 11 or 12 still it most likely will not be looked at by the community.

See: https://github.com/primefaces/primefaces#community--elite--pro

[2022-10-05 22:11] mores commented on #9272
This looks to be an issue on all versions, I tested with
7.0.29
8.0.21
10.0.16
12.0.0

[2022-10-05 23:29] melloware commented on #9272
Ok will check it.

[2022-10-06 08:00] cnsgithub opened #9274 "HorizontalBarChartModel: NullPointerException when calling getOptions"
Starting with PrimeFaces 11, some use cases of `HorizontalBarChartModel` are broken. When calling `HorizontalBarChartModel.getOptions`, a `NullPointerException` is thrown instead of returning `null` as expected if there were no options set before. Also a constructor that takes `ChartData` and `BarChartOptions` is missing. This behaves differently from other `ChartModel` implementations, probably b

[2022-10-06 11:20] melloware commented on #9274
@cnsgithub were you going to submit a PR?

[2022-10-06 11:32] melloware commented on #9272
OK not an issue.  I just fixed your example by adding `async="true"` to the poller and it works fine.

[code]

The poller is intentionally blocking by default.

[2022-10-06 11:32] #9272 closed, assigned to melloware

[2022-10-06 11:48] #8773 closed, assigned to jepsar

[2022-10-06 11:48] #6956 closed, assigned to melloware

[2022-10-06 12:28] cnsgithub commented on #9274
Oops, forgot to do that, here it is: https://github.com/primefaces/primefaces/pull/9275

[2022-10-06 12:31] #9274 closed, assigned to cnsgithub

[2022-10-06 20:58] lprimak commented on #9260
Hi, @jepsar
Reproducer is here: https://github.com/flowlogix/widget-currentcell-reproducer

Looks like the bug has something to do with a different screen size on the phone that makes
CSS/JS not work correctly for `currentCell`

Thank you!

[2022-10-06 21:21] lprimak commented on #9260
Hi, @jepsar I also made a screencast of the bug here:
https://youtu.be/40k3JGlkQRs

[2022-10-07 03:23] anuragnz opened #9278 "FlowChart: add designer"
### Description

Could we have an editable flowchart that can be used for designing workflows.

### Describe the solution you would like

If we can display pointers and just connect them as a flow with drag/drop.

### Additional context

_No response_

[2022-10-07 04:51] jepsar commented on #9278
I'm not expecting the community to add this. I would contact PrimeTek and ask for a quote.

[2022-10-07 05:00] Bukama commented on #4685
The problem that the DatePicker is not accessible via keyboard, was also a downrating in the accessibilty tests of our web-apps. As it is planed that Primefaces 13 should focus on accessibility (according to Cagatay Civici) I would like to ask the whole team at PrimeTek to give this issue the needed ressourced to get fixed.

[2022-10-07 06:36] jepsar commented on #4685
Agreed, but keep in mind that this is the community edition issue tracker. https://github.com/primefaces/primefaces#community--elite--pro

[2022-10-07 09:16] Bukama opened #9279 "SelectOneMenu: ARIA compliance"
### Description

[Primeface's SelectOneMenu](https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml?) simulates a combobox using a `div` with `role="combobox"` and a hidden `input` element (in showcase it has the id `j_idt343:option_focus` ) for the current selected value.
To this hidden input element has the role `text` is assigned, as colored in the screenshot.

When using a screenreader on

[2022-10-07 10:57] melloware commented on #9279
@Bukama I am slightly confused.  Right now that is `type="text"` and there is no `type="combobox"` its a type not a role?  So are you suggesting just adding `role="combobox"` to that hidden?

[2022-10-07 10:57] melloware commented on #9278
+1 to what @jepsar said.

[2022-10-07 10:58] #9278 closed, assigned to nobody

[2022-10-07 10:58] melloware commented on #9245
Thanks for opening the Mojarra ticket will close this one.

[2022-10-07 10:58] #9245 closed, assigned to nobody

[2022-10-07 11:53] #8809 closed, assigned to melloware

[2022-10-07 12:21] #8826 closed, assigned to melloware

[2022-10-07 12:32] Bukama opened #9282 "Core: Deprecate `<table>` based layouts"
### Describe the bug

When using the [SelectOneRadio](https://www.primefaces.org/showcase/ui/input/oneRadio.xhtml) with `layout` configuration set to `lineDirection`(wich is the default value!), then invalid HTML is rendered.

This is caused by the fact that with the rendering option `lineDirection` a table is rendered and the labels of the options point to the id of the table. But tables are not

[2022-10-07 13:09] jepsar commented on #9282
I can have a look, but this might be a tough one. I'd like to know what PrimeTek has in mind for this. IMO this component could use an overhaul.

[2022-10-07 13:22] #8945 closed, assigned to melloware

[2022-10-07 15:24] Bukama commented on #9279
Sorry! Yes I meant to add `role` to it.

[2022-10-07 15:26] Bukama commented on #9282
Yes my first thought was also "remove the layout tables" at all, but this would be of course a larger overhaul, which should be discussed first by the leadership.

[2022-10-07 15:33] Bukama commented on #4685
I'm totally aware of this. Nevertheless I hope that (and warmly ask) the PrimeTek team has the same opinion that the DatePicker is a largely used component which should be accessible and decides therefore to put "more than regular" ressource in the upcoming version, when accessibility is promoted widely for all PrimeTek libaries. Maybe (if technically possible) reusing code or even ressources from

[2022-10-07 16:09] melloware commented on #9279
Got it!

[2022-10-07 16:34] melloware commented on #9227
For this one does `application` make sense at all or should it simply be removed?

[2022-10-07 16:35] melloware commented on #9230
Yeah we need that cloned header for now but maybe stripping the aria values is a good idea.

[2022-10-07 16:48] melloware commented on #4685
as far as I know the PrimeVue Calendar is now 100% accessible: https://www.primefaces.org/primevue/calendar

Those fixes will eventually be ported to our PF DatePicker.

[2022-10-07 16:50] irieill opened #9287 "AccordionPanel: Theme defect on options and actions"
### Describe the bug

Somehow the theme part for [8491](https://github.com/primefaces/primefaces/pull/8495#issuecomment-1092267010) is missing in 12 release.

### Reproducer

[AccordionPanel](https://www.primefaces.org/showcase/ui/panel/accordionPanel.xhtml?jfwid=369c7)

### Expected behavior

[Panel](https://www.primefaces.org/showcase/ui/panel/panel.xhtml?jfwid=369c7)

### PrimeFaces edition

Co

[2022-10-07 16:56] #9230 closed, assigned to melloware

[2022-10-07 17:06] irieill opened #9289 "Chips: Not streched to full container size within InputGroup"
I would like to extent this issue.
[code]
Chips is not stretched to full container size. I think this could be fixed alongside.

_Originally posted by @irieill in https://github.com/primefaces/primefaces/issues/8231#issuecomment-1064967825_

![Screenshot 2022-10-07 190344](https://user-images.githubusercontent.com/21124034/194612275-35827edb-0190-4f04-bb43-47943b06ce34.png)

[2022-10-07 17:08] irieill commented on #9289
My workaround is some custom CSS
[code]

[2022-10-07 17:13] melloware commented on #8905
Going to close this for now.

[2022-10-07 17:13] #8905 closed, assigned to tandraschko

[2022-10-07 18:12] tarwork opened #9290 "DataExporter : column headers are not being exported to XLS, XLSX, PDF"
### Describe the bug

using the current PrimeFaces showcase located here :

https://www.primefaces.org/showcase/ui/data/dataexporter/basic.xhtml?jfwid=4b24b

when clicking on the XLS, XLSX and PDF buttons, the table column headers seem to be missing.

Primefaces 11 seem to have them so this must be a new issue to PF12.

### Reproducer

https://www.primefaces.org/showcase/ui/data/dataexporter/basic

[2022-10-07 18:22] melloware commented on #9290
Yep looks like i broke it with this fix: https://github.com/primefaces/primefaces/issues/9179

[2022-10-07 19:17] #9290 closed, assigned to melloware

[2022-10-07 22:56] melloware commented on #9290
Sorry about that I asked for it to be put in 12.0.1 Elite.

[2022-10-07 23:00] #9227 closed, assigned to melloware

[2022-10-07 23:05] melloware commented on #9227
OK that application makes no sense there and has been there since 2014 I have no history on why.  But clearly it is not correct so I removed it.

[2022-10-07 23:13] melloware opened #9293 "Font: Remove /fonts Open Sans"
The /fonts folder adds roughly 600K to the PF jar and I just checked none of the included themes use this font anymore so its just in the JAR taking up space?

![image](https://user-images.githubusercontent.com/4399574/194674255-a57174f7-49bf-44a9-8d5e-011277f7b693.png)

[2022-10-08 05:31] anuragnz commented on #9278
Hello @melloware  , how do we get this as a new component?

[2022-10-08 11:04] melloware commented on #9278
@anuragnz you have a few choices.

1. Ask PrimeTek for a 1 time quote of what it will cost to build this component Go here https://www.primefaces.org/support/ and click on "Case get a quote".

2. Build the component yourself and donate it to the community for others to use.

3. Hope someone else in the community also has this need and decides to build and donate a component. (not likely)

[2022-10-10 08:25] l-uuz opened #9295 "Sticky: Overlapping due to changing z-index"
### Describe the bug

The z-index of elements made sticky with `p:sticky` changes when scrolling. As a result, sticky elements overlap modal dialogs and blockUI.

blockUI:
![grafik](https://user-images.githubusercontent.com/56924246/194822376-91270066-ad84-4874-8d93-a5b3b3d63260.png)

After scrolling down:
![grafik](https://user-images.githubusercontent.com/56924246/194822412-e6950170-e154-41e4-9f

[2022-10-10 13:21] irieill commented on #6087
Today I experienced the same behavior with PrimeFaces 12. My investigations results in the following working solution:

[code]

One still needs to call `setRowCount()` in [one of the documented ways](https://primefaces.github.io/primefaces/12_0_0/#/components/datatable?id=lazy-loading).

The behavior is produced by a combination of
https://github.com/primefaces/primefaces/blob/6ec3c4a455e0d03d2e44

[2022-10-10 13:38] melloware commented on #6087
Yes please create a PR @irieill !

[2022-10-10 18:07] DazzlingBob opened #9296 "CommandButton: default button inline progress-indicator when execution action using PF 12"
**1 Environment**

PrimeFaces version: primefaces 12.0.0
Application server: jetty 9.4.49 + version: mojarra-2.3

**2 Expected behavior**

By default the same Behavior as primefaces 11: no button progress-indicator.
Or an option to revert to the old behavior.

The "migration guide 11.0.0 -> 12.0.0" does not state anything about this.

Do like the new progress-indicator of commandButton but existin

[2022-10-10 18:17] melloware commented on #9296
Isn't it this property ??

disableOnAjax | true | Boolean | If true, the button will be disabled during Ajax requests triggered by the button.
-- | -- | -- | --

[2022-10-10 18:18] melloware commented on #9296
And if you want to make that the default for all your CommandButtons in your app you can do so also: https://primefaces.github.io/primefaces/12_0_0/#/core/globalattributes

[2022-10-10 18:28] DazzlingBob commented on #9296
Tested with disableOnAjax="true" and disableOnAjax="false" but that does not work. Still a progress-indicator in the button.

[2022-10-10 18:29] melloware commented on #9296
cc @jepsar

[2022-10-10 19:38] jepsar commented on #9296
This was chosen as the default. You can use CSS to suppress it. (I can link the PR when I'm on my laptop). See the showcase for a custom CSS example.

[2022-10-10 19:52] mores opened #9297 "Schedule: BackgroundColor is not being displayed"
### Describe the bug

I create two different DefaultScheduleEvent, each one has a different BackgroundColor set.
When viewed in the browser, they have the same color.

### Reproducer

https://github.com/mores/primefaces-test/tree/eventColors

### Expected behavior

I expect the colors to be different....

Actual
![image](https://user-images.githubusercontent.com/1318377/194938710-b599c26d-d0a1-46f

[2022-10-10 19:52] mores commented on #9297
This has also been an issue in 10.x and 11.x

[2022-10-10 19:58] melloware commented on #9297
@mores isn't this your issue: https://github.com/primefaces/primefaces/issues/8193

I think its a misunderstanding of "backgroundColor" means to FullCalendar.

[2022-10-10 20:01] melloware commented on #9296
Here is is:
[code]

[2022-10-10 20:44] melloware commented on #9296
@DazzlingBob you should just be able to add
[code]

To disable the icon from all buttons.

[2022-10-10 20:50] mores commented on #9297
Fullcalendar documentation: https://fullcalendar.io/docs/event-parsing

![image](https://user-images.githubusercontent.com/1318377/194949785-70a3980f-ec74-48ff-9176-611c78da4970.png)

Their example:  week-numbers.html

![image](https://user-images.githubusercontent.com/1318377/194949900-8db304d8-15d9-4c07-a2df-2595aac8172a.png)
![image](https://user-images.githubusercontent.com/1318377/194949940-a

[2022-10-10 21:04] melloware commented on #9297
Looks like we are setting it:

https://github.com/primefaces/primefaces/blob/6ec3c4a455e0d03d2e449bd36d5d4f185faf9817/primefaces/src/main/java/org/primefaces/component/schedule/ScheduleRenderer.java#L139-L141

[2022-10-10 21:06] melloware commented on #9297
And we are setting it inthe SHowcase example: https://www.primefaces.org/showcase/ui/data/schedule/basic.xhtml?jfwid=bec67

[code]

Which displays...

![image](https://user-images.githubusercontent.com/4399574/194952307-f43463b1-2a53-40cd-98b0-1eff3a9badf3.png)

[2022-10-10 21:08] melloware commented on #9297
There is also this ticket: https://github.com/fullcalendar/fullcalendar/issues/5533

[2022-10-10 21:22] melloware commented on #9297
OK got your example working:
[pf-9297.zip](https://github.com/primefaces/primefaces/files/9749342/pf-9297.zip)

![image](https://user-images.githubusercontent.com/4399574/194954237-3242e8d7-1486-46fb-9cb2-e0d430e9956e.png)

[code]

[code]

[2022-10-10 21:23] mores commented on #9297
It is being set, but then the value is getting overridden by fc-event-main

![image](https://user-images.githubusercontent.com/1318377/194954293-01ebacf9-408f-400d-be08-3398d9b86a78.png)

[2022-10-10 21:23] melloware commented on #9297
Yep see above

[2022-10-10 22:35] DazzlingBob commented on #9296
Thanks for the workaround/solution direction!
This css sadly does not recreate the old behaviour, the text of the button disappears on action.
You want to keep the button text and display it visually as active.

Like https://www.primefaces.org/showcase-v8/ui/button/commandButton.xhtml (cannot find showcase primefaces 11).
Will look at the difference in classes between 11 and 12 later on.

[2022-10-11 03:38] #1023 closed, assigned to nobody

[2022-10-11 07:17] jepsar commented on #9296
Indeed, you will need different styling. I'll post the style to override the default behavior this evening.

[2022-10-11 10:35] DazzlingBob commented on #9296
Had a look at the generated classes:

PF11:
Button normal class:
ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only

Button with running action class:
ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-focus

PF12:
Button normal class:
ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only

Button with running action class:
ui-button

[2022-10-11 10:39] jepsar commented on #9296
If that's working for you, you could try
[code]
I'll check this evening (CET).

[2022-10-11 11:21] melloware commented on #9297
@mertsincan I think we need to update the themes to change `background` to `background-color` so the Schedule event coloring works without an override.

So this:
[code]

Should be:
[code]

[2022-10-11 11:40] doteo78 opened #9299 "FileUpload: custom icon attributes not working"
### Describe the bug

Always default icons are displayed even when **chooseIcon**, **uploadIcon** and **cancelIcon** are specified.

### Reproducer

Run the attached project (mvn jetty:run) and visit http://localhost:8080/primefaces-test/.

### Expected behavior

In this test _pi-check_ icon should show in every button of the FileUpload component.

### PrimeFaces edition

Community

### PrimeFaces

[2022-10-11 12:11] jepsar commented on #9299
@doteo78 Thanks! I'll have a look!

[2022-10-11 14:32] NicolaIsotta opened #9300 "SelectOneMenu: lack of validation on server side"
### Describe the bug

SelectOneRenderer does not correctly validate user submitted value.
If e.g. the ajax request is tampered with a value which is not in the available select items, the invalid value is decoded and submitted anyway.

### Reproducer

To reproduce:

- create a simple page with a selectOneMenu and a commandButton
- click the button and submit the form
- use Firefox developer tools

[2022-10-11 14:35] NicolaIsotta commented on #9300
I'm debugging right now. Seems like the problem lies here:
https://github.com/primefaces/primefaces/blob/75b0c093287b74c2ab5170b7afa4d8293b65c8df/primefaces/src/main/java/org/primefaces/renderkit/SelectOneRenderer.java#L50-L54
I think that, if validSubmittedValues is empty, no value should be submitted

[2022-10-11 15:04] melloware commented on #9300
Hmmm i feel like that might have addressed a previous issue.  If we fix we should definitely add an integration test.

[2022-10-11 15:14] brivalin opened #9302 "BreadCrumb: Home icon not shown when using lastItemDisabled="true""
### Describe the bug

When using the breadcrumb configured with only lastItemDisabled="true" and one menuitem corresponding to the home link, the home icon is not shown.

### Reproducer

`<p:breadCrumb lastItemDisabled="true">
    <p:menuitem value="Home" />
 </p:breadCrumb>`

### Expected behavior

The home icon should be shown disabled, because it's the last item.

### PrimeFaces edition

Elite

[2022-10-11 15:15] melloware commented on #9299
Its is because of the themes. The Themes override those custom icons.  To customize the icons you can do this...

[code]

Attached is a fixed reproducer:
[pf-9299.zip](https://github.com/primefaces/primefaces/files/9757450/pf-9299.zip)

[2022-10-11 15:23] jepsar commented on #9299
I think we should fix this in the component (set a default) and in the theme CSS.

[2022-10-11 15:28] melloware commented on #9299
Yep

[2022-10-11 17:13] jepsar commented on #9296
This is the issue and PR which include the motivation to make it default:

https://github.com/primefaces/primefaces/issues/8301

https://github.com/primefaces/primefaces/pull/8302

To override the CSS and suppress the load icon, use

[code]

[2022-10-11 17:13] #9296 closed, assigned to jepsar

[2022-10-11 17:15] melloware commented on #9296
@jepsar wonder if we should add this to the CommandButton MD document?

[2022-10-11 17:23] jepsar commented on #9296
Working on docs now

[2022-10-11 17:33] aissous opened #9305 "Component: DataExporter"
### Describe the bug

The DataTable header is no more exported using DataExporter. This issue is visible in showcase.

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces edition

_No response_

### PrimeFaces version

12.0.0

### Theme

_No response_

### JSF implementation

Mojarra

### JSF version

2.3

### Java version

1.8

### Browser(s)

_No response_

[2022-10-11 17:42] melloware commented on #9305
@tandraschko that is why I pinned this issue: https://github.com/primefaces/primefaces/issues/9290

Others are going to be constantly re-reporting it for a while.

[2022-10-11 17:42] #9305 closed, assigned to nobody

[2022-10-11 17:42] melloware commented on #9290
Repinning this issue so people can see it up top until 12.0.1 is released so people don't constantly re-report it.

[2022-10-11 21:17] DazzlingBob commented on #9296
@jepsar Added the css to my application and it is working great. Thanks for helping out. Keep up the good work.

[2022-10-12 09:15] brivalin commented on #9302
Thank you for looking at the problem.
Testing the fix in 13.0.0-SNAPSHOT it seems that it doesn't fix the initial problem that the icon doesn't appear in this case.

Could you have a look on this reproducer :
[pf-9302.zip](https://github.com/primefaces/primefaces/files/9763333/pf-9302.zip)

You should see something like this :
![breadcrumb_home](https://user-images.githubusercontent.com/26894018/1

[2022-10-12 11:21] melloware commented on #9241
See the issue and why it was changed: https://github.com/primefaces/primefaces/issues/8443

PR: https://github.com/primefaces/primefaces/pull/8446

You basically need PrimeTek to update the Harmony template for 12.0.0

[2022-10-12 12:08] #9302 closed, assigned to melloware

[2022-10-12 13:08] maruTA-bis5 opened #9310 "TreeTableExporter: `var` exposes different value during exporting between `selectionOnly` and others"
### Describe the bug

TreeTableExporter exposes `var` variable during exporting, but different behavior when `selectionOnly="true"`.

|export mode|`var` value|
|---|---|
|Standard (`pageOnly="false" selectionOnly="false"`)|`T`|
|Page Only|`T`|
|Selection Only|`TreeNode<T>`|

### Reproducer

1. Clone https://github.com/maruTA-bis5/primefaces.git and checkout `treetable-exposed-var` branch
2. Run sh

[2022-10-12 13:56] melloware commented on #9302
OK I got it this time if you want to retry.  Thanks for your reproducer.

[2022-10-12 14:34] brivalin commented on #9302
I tried it and it's works well. Thank you !

[2022-10-12 14:52] melloware commented on #9310
Thanks for the report.

[2022-10-12 14:59] brivalin opened #9311 "BreadCrumb: Home link not working with custom home icon"
### Describe the bug

When using breadcrumb component configured with a custom home icon, like a FontAwesome icon, the home link is not working.

After some investigations it looks like there is no `<a>` markup as parent of the generated `<svg>` markup.

### Reproducer

[pf-breadcrumb-customicon.zip](https://github.com/primefaces/primefaces/files/9766142/pf-breadcrumb-customicon.zip)

### Expected

[2022-10-12 15:21] melloware commented on #9311
Its similar to https://github.com/primefaces/primefaces/issues/9299

The theme.css is hard coding the icon:

[code]

You need to override that CSS to be the icon you want for now.

[2022-10-12 15:37] brivalin commented on #9311
Mmmhh... I don't think it's a theme problem. If I use a PF icon in homeIcon param, It's OK, the icon is correctly generated and the menuItem url works.
I think the problem is specific to FontAwesome icons that replace the `<a>` markup by a `<svg>` markup and breaks the link.

[2022-10-12 18:06] melloware commented on #9311
You are not including FontAwesome correctly for use with PrimeFaces JSF. See: https://primefaces.github.io/primefaces/12_0_0/#/core/fonticons  for how to install it properlly

[2022-10-12 20:38] irieill commented on #6087
Working on a reliable PR I did some more investigation and testet all sensible combinations of `chunkSize`, `mode`, `virtualScroll` and `startAtBottom`. Conculsion: nothing works with some default implementation of `LazyDataModel`.

Beside the problem of this issue there are two other problems:
1. With `chunkSize == 0` (default) nothing is displayed for all sensible combinations at all. For `chunk

[2022-10-13 07:34] NicolaIsotta commented on #9300
I actually found out this is not PrimeFaces' fault.
SelectOne* validation is delegated to jsf impl ( `UISelectOne.validateValue` )
Basically it works, but I found a corner case:

- p:selectOneMenu value is an integer
- there's a f:selectItem with itemValue="" (empty string) but without noSelectionOption="true"
- if the user tampers the request by setting the submitted value to 0, mojarra accepts i

[2022-10-13 07:58] #9300 closed, assigned to nobody

[2022-10-13 11:23] melloware commented on #6087
I would say fix in the renderer if that is what you are asking?

[2022-10-13 11:32] melloware commented on #9311
I fixed your example and it works fine:
[pf-9311.zip](https://github.com/primefaces/primefaces/files/9776137/pf-9311.zip)

[2022-10-13 11:32] #9311 closed, assigned to melloware

[2022-10-13 12:31] brivalin commented on #9311
From your install recommandation of FontAwesome with webjars, what I understand is that only Webfont+CSS setup is allowed and SVG+JS is forbidden. Is that right ?

The problem if I use the CSS setup is that I will loose lots of styling features that I currently need and which are possible with JS setup...

By reading some FontAwesome docs, I found a way to avoid the problem mentioned here and cont

[2022-10-13 12:33] melloware commented on #9311
Yes the PrimeFaces themes are all setup for CSS icons only because it needs to be able to handle `fa` or `pi` icons all with CSS.

[2022-10-13 16:04] brivalin commented on #9311
From your reproducer, It seems that there is no CSS color applied on the home icon when using a FA one.
The default color is then purple by default, and red if active. It may needs to be grey as the default home from Prime icons ?

[2022-10-13 16:21] melloware commented on #9311
Yeah that should be controlled with font color so you could just add a style to make it the same color font.

[2022-10-14 13:31] melloware commented on #9310
Reproducer was a big help!

[2022-10-14 13:49] #9310 closed, assigned to melloware

[2022-10-15 12:38] melloware commented on #9295
Fixed reproducer:
[pf-9295.zip](https://github.com/primefaces/primefaces/files/9792064/pf-9295.zip)

Here is a MonkeyPatch to fix the issue:
[code]

[2022-10-15 12:56] #9295 closed, assigned to melloware

[2022-10-15 13:08] melloware commented on #6381
I don't thnk this will ever be supported as the sticky can't work inside the TabView

[2022-10-15 13:08] #6381 closed, assigned to nobody

[2022-10-15 13:16] melloware commented on #1835
This can be done now with `margin="100"` option on the sticky where you can tell it where to stick.  Here is a reproducer of two stacked sticky.
[pf-1835.zip](https://github.com/primefaces/primefaces/files/9792136/pf-1835.zip)

[code]

[2022-10-15 13:16] #1835 closed, assigned to melloware

[2022-10-15 14:26] irieill opened #9315 "Tree: Selectable nodes are not highlighted on hover"
### Describe the bug

I think this is theme-only because `ui-state-hover` is added and removed correctly.

### Reproducer

[Showcase](https://www.primefaces.org/showcase/ui/data/tree/selection.xhtml?jfwid=0e559)

### Expected behavior

_No response_

### PrimeFaces edition

_No response_

### PrimeFaces version

13.0.0-SNAPSHOT

### Theme

_No response_

### JSF implementation

All

### JSF versio

[2022-10-15 14:53] melloware commented on #9315
@jepsar related to: https://github.com/primefaces/primefaces/issues/8649 ???

[2022-10-15 14:57] jepsar commented on #9315
It very well might. I'll have a look.

[2022-10-15 15:41] melloware commented on #9039
Going to close this one as WontFix as we stated there is no easy way to fix this.

[2022-10-15 15:41] #9039 closed, assigned to nobody

[2022-10-17 10:09] NicolaIsotta opened #9317 "PrimeFaces CLI: grid migration issue"
I was migrating an old project from grid css to primeflex and I noticed responsive classe are not converted.
The grid.css pattern for responsive classes, as you can see on [the showcase](https://www.primefaces.org/showcase-v8/ui/panel/grid.xhtml) or [the documentation](https://primefaces.github.io/primefaces/8_0/#/components/gridcss), is ui-(xl|lg|md|sm)-_n_,
while the migration tool looks only fo

[2022-10-17 11:09] tandraschko opened #9319 "Introduce p:shouldRenderFacet"
to be usable in e.g. composite compoments

[2022-10-17 11:22] NicolaIsotta commented on #9317
Offset classes are missing too. I'll add them later

[2022-10-17 12:42] #9319 closed, assigned to tandraschko

[2022-10-17 14:03] #9317 closed, assigned to NicolaIsotta

[2022-10-17 15:05] #9131 closed, assigned to nobody

[2022-10-17 17:03] FlipWarthog opened #9320 "DataTable: JpaLazyDataModel ConverterException for numeric columns when filtering by non-numeric"
### Describe the bug

Numeric JPA columns (Long, BigDecimal, etc) cause `JpaLazyDataModel` to throw a `ConverterException` if non-numeric values are add to the filters for those columns.

### Reproducer

https://github.com/FlipWarthog/primefaces-test/tree/hibernate

Running this reproducer using `mvn clean jetty:run -Pmojarra23`, open the test page and filter either "Number Col" or "Decimal Col" w

[2022-10-17 17:26] FlipWarthog commented on #9320
The workaround I'm currently using leverages `inputNumber` in a filter facet:
[code]

[2022-10-17 22:25] cocorossello opened #9321 "Exporter: Do not require POI OOXML"
### Describe the bug

Since PF 12.0.0 poi-ooxml dependency is always required for simple xls export. Before https://github.com/primefaces/primefaces/pull/8971 only poi dependency was required.

The problem is that ExcelStylesManager (used in both DataTableExcelExporter and DataTableExcelXExporter) imports classes from that library, even if they are not used

### Reproducer

The same exporter showc

[2022-10-17 22:41] cocorossello commented on #9321
I have made a PR with a possible working solution

[2022-10-18 00:38] lprimak commented on #9260
Are you able to reproduce this? thank you!

[2022-10-18 00:58] FlipWarthog opened #9324 "DataTable: Implement IN MatchMode for JpaLazyDataModel"
### Description

`JpaLazyDataModel` does not currently support `filterMatchMode="in"`

### Describe the solution you would like

`filterMatchMode="in"` to be supported when using `JpaLazyDataModel`.

### Additional context

Comment on original ticket: https://github.com/primefaces/primefaces/issues/7667#issuecomment-894219333

[2022-10-18 07:21] #9320 closed, assigned to FlipWarthog

[2022-10-18 11:32] melloware commented on #9321
I see your PR but let me try something first...

[2022-10-18 14:34] #9324 closed, assigned to FlipWarthog

[2022-10-18 14:44] NicolaIsotta commented on #8125
inputNumber is still broken if minValue is a decimal between 0 and 1, just try this to see:
[code]
I think that here:
https://github.com/primefaces/primefaces/blob/e8d3e2968dac710b725a9f2e761178c22063f0d0/primefaces/src/main/resources/META-INF/resources/primefaces/inputnumber/1-inputnumber.js#L42-L45
the if condition should be:
[code]
WDYT @melloware ?

[2022-10-18 15:01] melloware commented on #8125
@NicolaIsotta my first commit had it the way you suggest and Integration Tests fail I believe. Submit a PR and we can watch them run if you want!

[2022-10-18 15:13] NicolaIsotta commented on #8125
I'll open a new issue and a PR later

[2022-10-18 15:16] #9321 closed, assigned to cocorossello

[2022-10-18 15:30] melloware commented on #8125
I submitted the fix so I can watch the Integration Tests run.

[2022-10-18 17:37] jepsar commented on #9260
It's not on iPhone, but when you use touchUI="true" on the datePicker (which is implicit on iPhone / mobile)

@melloware any idea how this can affect the dataTable?

[2022-10-18 17:57] lprimak commented on #9260
yay! hope you found the screencast useful :)

[2022-10-18 17:58] melloware commented on #9260
i have an idea let me look.

[2022-10-18 18:34] melloware commented on #9260
I think the issue is in `datatable.js` which has special handling for Calendar/DatePicker and a few others when editing cells.  Something is clearly different when using TouchUI.

This is the code in `datatable.js`:
[code]

[2022-10-18 19:17] melloware commented on #9260
Or somehow this selector is not finding it when it Touch? `find('td:has(.ui-cell-editor-input:visible)')` ???

[2022-10-18 19:22] lprimak commented on #9260
hmmm... when using the workaround in the description the above JS (`find()`) works...

[2022-10-18 19:23] melloware commented on #9260
@lprimak which workaround?

[2022-10-18 19:29] melloware opened #9328 "InputNumber: "minValue>0 <1" shows js warning"
Originally fixed in https://github.com/primefaces/primefaces/issues/8125

inputNumber is still broken if minValue is a decimal between 0 and 1, just try this to see:
[code]
I think that here:
https://github.com/primefaces/primefaces/blob/e8d3e2968dac710b725a9f2e761178c22063f0d0/primefaces/src/main/resources/META-INF/resources/primefaces/inputnumber/1-inputnumber.js#L42-L45
the if condition should

[2022-10-18 19:31] lprimak commented on #9260
https://github.com/primefaces/primefaces/issues/9260#issue-1395808775
[code]

[2022-10-18 19:35] melloware commented on #9260
oh i see you are using the workaround.  It doesn't work out of the box so my thought is its related to the JS code I posted in the `datatable.js`

[2022-10-18 19:37] lprimak commented on #9260
Debugging JavaScript is not my forte :)

[2022-10-18 19:43] melloware commented on #9260
i will see if I can figure it out

[2022-10-18 20:01] melloware commented on #9260
@lprimak Here is my updated reproducer:
[pf-9260.zip](https://github.com/primefaces/primefaces/files/9814681/pf-9260.zip)

It just works for me I removed your line `onchange="var bt = PF('birthdayTable'); bt.saveCell(bt.currentCell)"` you don't need that the CellEditor already does that.  SO what is happening is `saveCell` is being called twice once from the Datatable and then you call it again an

[2022-10-18 20:10] lprimak commented on #9260
Ah, please look at the screencast (youtube link in the description).
Without the `onchange=` bit, The "default" behavior requires an additional click outside the date by the user.
to make the change "take" which is not the behavior I want.

[2022-10-18 20:16] lprimak commented on #9260
See my original question regarding this topic on discord: https://discord.com/channels/787967399105134612/787967662293909524/1025160751347941396

[2022-10-18 20:23] melloware commented on #9260
OK I got it working.  Just change this line...

[code]

`onChange` fires twice in TouchUI mode once that calls `SaveCell` and that nulls out `bt.currentCell` the second call is then NULL.

[2022-10-18 20:26] melloware commented on #9328
MOnkeyPatch:

[code]

[2022-10-18 20:30] lprimak commented on #9260
thanks!
So now question becomes, is this a bug that the event is fired twice?
Or, if the argument is null, should `saveCell()` just do nothing?

[2022-10-18 20:46] melloware commented on #9260
i think there are two fixes.  One `saveCell` should gracefully ignore if you pass a NULL cell.  2) figure out why TouchUI DatePicker fires the change twice.

[2022-10-18 20:48] lprimak commented on #9260
ok, cool, then I'll leave this issue open.

[2022-10-19 05:29] jepsar commented on #9260
It is called twice because of the onchange in the reproducer. The manual call passes null.

[2022-10-19 06:03] lprimak commented on #9260
Not sure I understand. When I remove the onchange line, the `touchUI` case still requires two clicks by the user to change the date

[2022-10-19 07:42] devmsaleh opened #9329 "inputMask: doesn't work if created programmatically"
### Describe the bug

I have an application that's built on **primefaces 12** to generate dynamic pages based on backend database, and I create InputMask as follows :

[code]

Issue : the mask doesn't work in my xhtml page and I get error in console :

So I tried manually to import the inputMask script as follows :

[code]

But it didn't work also
The only working workaround was to manually add in

[2022-10-19 07:48] jepsar commented on #9329
Please provide a reproducer https://github.com/primefaces/primefaces-test

[2022-10-19 08:01] Rapster commented on #9329
If you're open to an alternative, you might be also interested in this: https://www.primefaces.org/showcase-ext/sections/dynaform/basicUsage.jsf

[2022-10-19 08:14] Bukama commented on #9279
I know this issue was already closed at it seems do be done, but maybe my suggestion to fix this problem was not complete. When my team locally changed the role to combobox the screenreader seems happy, but the HTML-Validator shouts out a missing `aria-expanded` attribute - at least in disabled state.

@melloware Could you verifiy that  behavior with the upcoming PF 13 sources? Official showcase i

[2022-10-19 09:10] melloware commented on #9279
I guess the real question is not what the Checker says but what do your users report. Is the screen reader reading the  correct thing when disabled?

[2022-10-19 11:19] melloware commented on #9329
Weird the component has these dependencies declared which look right to me:

[code]

[2022-10-19 11:43] #9328 closed, assigned to melloware

[2022-10-19 12:20] NicolaIsotta commented on #9328
Thanks!

[2022-10-19 12:25] melloware commented on #9260
I have narrowed the bug down to this.  When it switched from regular to touchUI mode the click events get registered twice.

[code]

if I comment out this line they are only registered once but the wrong thing is happening.

[code]

So even though I am calling `off` before rebinding events the delegated click is still being registered.

[code]

[2022-10-19 12:40] melloware commented on #9329
Works just fine:
[pf-9329.zip](https://github.com/primefaces/primefaces/files/9820507/pf-9329.zip)

Unzip and run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/

[2022-10-19 12:40] #9329 closed, assigned to nobody

[2022-10-19 13:18] jepsar commented on #9329
That's why I've asked for a reproducer. I was expecting problems elsewhere.

[2022-10-19 13:19] jepsar commented on #9329
@melloware FYI you can also close issues as "Not planned" by using the arrow at the close button. Not sure how new this is in GitHub.

[2022-10-19 13:19] melloware commented on #9329
Hey i noticed your do that where is the "not planned" button?

[2022-10-19 13:20] jepsar commented on #9329
Just did an edit to clarify. There is an dropdown arrow at the close button. This will give cleaner change logs.

[2022-10-19 13:21] melloware commented on #9329
Nevermind I see it now:
![image](https://user-images.githubusercontent.com/4399574/196702728-ae85b79b-20b5-43a4-8f4f-78bfff539e6f.png)

[2022-10-19 13:49] Rapster opened #9331 "UIColumn: remove filterOptions"
### Description

You can do the same using dynamic filters introduced in https://github.com/primefaces/primefaces/issues/7469

### Describe the solution you would like

Delete it

### Additional context

I realized that filterOptions was used to cover this point, see doc:

predefined filter values use _filterOptions_ attribute and a collection/array of selectitems as value.

But you can achieve th

[2022-10-19 17:47] melloware commented on #9260
I fixed the NULL check in `saveCell` but still haven't found a solution for the double mapping of `click` events.

[2022-10-19 17:48] melloware commented on #9331
True not sure how popular the filterOptions method is I know I have used it in the past for simple lists.

[2022-10-19 17:55] Rapster commented on #9331
Yeah, I feel the same way about his popularity... I think we can make it clear that input is the default filter, and if user want something else then use facet filter, simple as that (I honestly think that's what users already do, and are probably not aware of that option)

[2022-10-19 17:56] melloware commented on #9331
Yep and as long as we provide an example usage in the docs or the showcase probably already does this feels safe to do.

[2022-10-19 17:58] Rapster commented on #9331
I'll make a PR, and let me know what you think

[2022-10-21 12:48] pfumi commented on #9297
I think the correct solution in the theme stylings is to have it like this

[code]

This is my event,
[code]

and the resulting HTML see here:

![image1](https://user-images.githubusercontent.com/6900303/197199450-c1021739-9026-4650-bb2a-17cbd5ce72b4.png)
![image2](https://user-images.githubusercontent.com/6900303/197199456-4441907d-eda1-43cc-88f6-e183038f6a1d.png)

Display:

![image3](https://use

[2022-10-24 15:28] NicolaIsotta opened #9336 "SelectOneMenu: html reserved chars are shown as entities"
### Describe the bug

In the selected value of a p:selectOneMenu, html reserved chars (eg: &, <, >) are shown as entities:
![selectonemenu](https://user-images.githubusercontent.com/18428155/197564164-e344365e-ee0c-4d8b-a72f-ecf63ab3aa91.jpg)
(If itemEscaped="false" chars are not shown at all)

### Reproducer

[code]
[code]

### Expected behavior

_No response_

### PrimeFaces edition

Community

[2022-10-24 15:53] X452-625 opened #9337 "SelectOneMenu with dynamic=true load lazily the items to optimize the performance"
Hello,
Here is the code example :
`<p:selectOneMenu value="#{form.selectedItem}" dynamic="true">
        <f:selectItem itemValue="" itemLabel="Select one" />
        <f:selectItems value="#{form.items}" />
      </p:selectOneMenu>`

The SelectOneMenu offers the option "dynamic" to render lazily the overlay but it still calls the getter of `form.items` and even more times if I use a converter when

[2022-10-24 15:59] melloware commented on #9336
Reproducer:
[pf-9336.zip](https://github.com/primefaces/primefaces/files/9853144/pf-9336.zip)

MonkeyPatch:

[code]

[2022-10-24 16:41] melloware commented on #9337
`dynamic="true"` doesn't mean the `form.items` won't be called it just means the DOM won't contain the overlay until you click on it.  So it doesn't bloat the HTML.

Also you should expect `form.items` to be called multiple times that is how JSF works....never put business logic in your `getters`.  See this under "Performance tips": https://primefaces.github.io/primefaces/12_0_0/#/core/performance

[2022-10-24 16:42] melloware commented on #9337
It sounds like what you really want is AutoComplete with the REST Service example for truly lazy selection: https://www.primefaces.org/showcase/ui/input/autoComplete.xhtml

[2022-10-24 17:11] X452-625 commented on #9337
The thing is that in order to load the list of items, it takes a lot of time, and when I have multiple selectOneMenu in the same page, it takes a lot of times to load even though I don't use these menus yet.
As for AutoComplete, the visual is not exactly what I need, I'll look more into it, it might work.

Thanks a lot.

[2022-10-24 17:33] melloware commented on #9337
Yeah I definitely see the issue.  Even though the code with `dynamic=true` in the renderer its loading the items to make a bunch of decisions.  It would take significant refactoring to make this not check the SelectItems before rendering the component:

https://github.com/primefaces/primefaces/blob/d450cb7f12fe92cb3912ee9b678945bc540a7e46/primefaces/src/main/java/org/primefaces/component/selectone

[2022-10-24 17:55] X452-625 commented on #9337
I'm testing with AutoComplete, it seems quite promising.
I just have a bit of blockage with the width of the input.

With SelectOneMenu, the width can auto adjust if I select an item with a label longer than the initial size of the menu.
However, the AutoComplete doesn't change its width at all. Do you have any idea how to ?

Thanks

[2022-10-24 18:35] melloware commented on #9337
there is no autosizing of the AutoComplete. I suggest you use `ui-fluid` style class similar to how the Showcase does it: https://www.primefaces.org/showcase/ui/input/autoComplete.xhtml

[2022-10-24 19:36] StefanSchubert opened #9339 "Charts: LineChart rendering of X-Axis lables broken"
### Describe the bug

Hi there,

first thanks a lot for the chart-API!

The problem I observed is that not all lables on the x-axis are rendered properly. While it works just perfect with charts containing 14 datapoints, I see missing lables when having 90 or more datapoints.

It looks like this:

<img width="1560" alt="image" src="https://user-images.githubusercontent.com/10548043/197608523-f5f80