[2021-01-05 13:15] melloware commented on #6730
OK so lets get on the same page.

1. Current PrimeFaces 8.0 behavior is the checkbox selects all on the current page.
2. new attribute defaults to `selectionPageOnly="true"` which is exactly like PF 8.0 behavior out of the box.
3. If you set `selectionPageOnly="false"`  you are saying you want global selection of `@all`.
4. Yes #3535 fixed a problem that was there either way if someone called the

[2021-01-05 13:20] tandraschko commented on #6730
exactly

so, this commit now introduces select "all rows in all pages", which is `@all`?
if you deselect one single row, it falls back to a "all rows of the current page minus the deselected row"

So this is feature is broken anyway?

Another thing which is weird, how does `@all` work currently on the server side?
As your PR doesnt change the server side selection logic, i would say that something

[2021-01-05 13:26] melloware commented on #6730
its already handled on the server side and has been there for years to support the `selectAllRows` JS method.
[code]

[2021-01-05 13:27] melloware commented on #6730
Basically all the pieces were already there all this does is allow the user to use it without restoring to the hack on Stack Overflow.

[2021-01-05 13:27] tandraschko commented on #6730
i cant believe that this piece of code works magically correctly for both cases selectionPageOnly=true and selectionPageOnly=false

and this doesnt answer the first part of my question :D

[2021-01-05 13:29] melloware commented on #6730
I have tested it. It does work in both use cases `true` and `false` and so has @stolp. I have not tested in it `lazy` mode only in regular mode and everything is working.  @stolp i believe is using `lazy` mode?

 The only slight glitch is the client side #3535 removal of 1 checkbox.  But like I said #3535 is a different issue than this one.

[2021-01-05 13:33] melloware commented on #6730
And just to reiterate people have been using `selectAllRows()` for years with no issue. All this code does is give the user a hook to use that JS method instead of always just doing `selectRowsOnPage()` which is what the checkbox is hard coded to do in PF 8.0

[2021-01-05 13:37] melloware opened #6771 "Timeline: Add zoomKey property"
**Description**
Requested on Discord chat by André G.

Add `zoomKey` attribute:  _Specifies whether the Timeline is only zoomed when an additional key is down. Available values are '' (does not apply), 'altKey', 'ctrlKey', 'shiftKey' or 'metaKey'. Only applicable when option moveable is set true._

[2021-01-05 13:41] tandraschko commented on #6730
#3535 is related to this issue. i dont think it will select all rows of all pages correctly minus the deselected one.

Before merging this, i would like to see integration tests with/without paging and/or lazy loading and/or selectionPageOnly
For "select all" and "select all minus an deselected row"

I just cant Imagine that this works fine in all this cases and dont have time to test everything.

[2021-01-05 13:47] melloware commented on #6730
I have stated multiple times that it will NOT. Because on the client side there is no way to know all rows keys if you have 1000s of rows.  so it only makes it the rowkeys of that page minuse deselected one.  That is why original developer chose to pass '`@all` to the server side when calling `selectAllRows()` instead of trying to pass 1000's of rowkeys in the UI or client side.

I will try and wr

[2021-01-05 13:48] buunsal commented on #6427
When I just tested it, I couldn't reproduce the issue with myfaces 2.2 or 2.3 versions. But when I tested it with mojarra, I was able to reproduce the issue. Could it be a mojarra issue?

[2021-01-05 13:52] stolp commented on #6730
I am using lazy mode. I have not yet tested versus HEAD yet, but hope to do so later today (The branch was blocked for unrelated reasons).

Disclaimer: I possibly can not claim to fully understand all implications of the change.

In my view, myTable_selection will in any case only contain the *displayed* selected items and never the complete set of rows.
So this is only capturing the visual state

[2021-01-05 13:55] melloware commented on #6730
@stolp you are correct once you uncheck one entry its no longer ALL so moving to another page should have nothing selected but your entries from the previous page.

[2021-01-05 13:59] tandraschko commented on #6730
i know why we have `@all`.
i just wanted to make clear that this feature "all rows of all pages" is partly broken if you deselect a single row as it falls back to "all rows of the current page - the selected one" which is confusing.
Not sure how other DataTables are handling this.
We could basically support his case by submit `@all` and another param with `deselected rowKeys`

[2021-01-05 14:01] melloware commented on #6730
yep that fix would be for #3535 since that is about the the issue we are talking about and it would require introducing a new `deselectedRowKeys`. Should we reopen #3535?

[2021-01-05 14:06] tandraschko commented on #6730
#3535 is currently fixed for the current feature set, so it would handle here it.
EDIT: you are right, this is currently also broken when selectAllRows is manually invoked, better reopen it.

Just checked the code now in detail and everything else should be fine if we have integration tests.

[2021-01-05 14:10] melloware commented on #6427
I can confirm its working fine in MyFaces so this definitely is a Mojarra issue.

In the past we report it to Mojarra with the reproducer and close the ticket like this one: https://github.com/eclipse-ee4j/mojarra/issues/4562

[2021-01-05 14:10] melloware commented on #6730
OK I will let you know when Integration Tests are written.

[2021-01-05 14:21] tandraschko commented on #6427
there could also be a very very small possibility that its a related to our own UIData which contains some mojarra code and it just works magically with MyFaces. But unlikely.
Most of the times the MyFaces algorithm is more stable.

[2021-01-05 14:26] tandraschko opened #6773 "UIData: remove Mojarra hacks and rowStatePreserved backport for JSF 2.0"
2.1 is there since 2010 and Mojarra should be stable enough now.

[2021-01-05 14:32] #6771 closed, assigned to melloware

[2021-01-05 14:47] fcorneli commented on #6768
@melloware Looking at the source code diff between 7.0.17 and 7.0.18 that is indeed the only possibility.

[2021-01-05 14:48] buunsal commented on #6700
I wanted to ask here because I don't know enough core.js and ajax requests. While debugging, something like the following came to my mind and seemed to solve the safari scroll problem. But it can also be wrong.
`var scroll = $(document).scrollTop();`
`$(PrimeFaces.escapeClientId(id)).replaceWith(content);`
`$(document).scrollTop(scroll);`
WDYT @mertsincan @tandraschko

[2021-01-05 14:51] melloware commented on #6768
@fcorneli thanks for checking we assigned this to Mert.  It broke our Integration Test suite so we reverted it in Master.  Those Integration Tests are coming in really handy!

[2021-01-05 14:53] stolp commented on #6768
I just experienced the same behavior using 8.0.6 with Brave. Reverting to 8.0.5 fixed this issue.

[2021-01-05 14:54] melloware commented on #6700
Just my two cents I don't love that fix and if we were going to do it I would prefer it be wrapped in `isSafari` like I did in this closed PR: https://github.com/melloware/primefaces/commit/16f2242e5006cd8a46f2271a89314e602e57a67f

I wouldn't want this executed for all browsers.

[2021-01-05 15:06] fcorneli commented on #6768
@melloware I noticed the work on the PrimeFaces Integration Tests. Very nice! Now, if somebody could run them **BEFORE** a release, that would be even better. :)
@stolp Thanks for sharing this info, I already have several projects running on 8, will revert them too.

[2021-01-05 15:35] buunsal commented on #6700
If you have resolved the issue and you are sure it is not affecting other browsers, you can ignore what I wrote.

[2021-01-05 15:46] melloware commented on #6700
No we haven';t solved it we reverted Mert's change in Master because it broke the integration tests.  I was just wrapping his fix in a Safari check but we reverted that too when we realized the fix does not really fix the issue. So master has the same code it always has had and we reopened this ticket.

[2021-01-05 16:08] melloware commented on #6730
Integration Tests: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/e2b6c20a65924bc6d5a0dc8b0ffdc0eafe73934c

- tests lazy mode and non-lazy mode
- tests selectionPageOnly="true" and selectionPageOnly="false"
- tests unselecting one row after selecting ALL
- tests unselecting one row after selecting ALL and moving to next page

I currently have tests 5 and 6 Disabled be

[2021-01-05 16:10] melloware commented on #6768
We are working on that for the future.... Our goal is to have every commit run against the suite.

[2021-01-05 16:16] melloware commented on #6427
@tandraschko so is it safe to close this ticket as I don't think there is anything we will fix besides your new 11.0 ticket to rip out Mojarra UI data? https://github.com/primefaces/primefaces/issues/6773

[2021-01-05 18:24] christophs78 commented on #6700
https://forum.primefaces.org/viewtopic.php?f=3&t=64889 probably also has this root cause

[2021-01-05 18:26] christophs78 commented on #6700
IMO 8.0.6 and 7.0.18 should be withdrawn. (Or release 8.0.7 and 7.0.19 asap which solves this issue.)

[2021-01-05 19:53] tandraschko commented on #6700
i cant help debugging here as i dont have an safari here. i would start google if this is a known bug when replacing DOM elements on safari.

[2021-01-05 19:54] #6427 closed, assigned to nobody

[2021-01-05 21:10] christophs78 commented on #6700
Tried to reproduced the original issue with Merts example on my iPad Pro. (iOS/iPadOS 14.2)
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.1 Safari/605.1.15
No scroll-position-issue
On which system with OS and Safari-version was the original issue reproduceable?
Can you record a short video of this issue?

[2021-01-06 05:18] buunsal commented on #6700
I'm using macOS Catalina 10.15.7 with safari v14.0.2. I was able to reproduce the issue and here is a video for you.

https://user-images.githubusercontent.com/45278820/103731692-d3dda700-4ff6-11eb-83bc-3f3887101bb8.mov

After the adding these lines:

[code]

https://user-images.githubusercontent.com/45278820/103733142-1785e000-4ffa-11eb-9b37-2b2dea46aa5f.mov

[2021-01-06 07:16] christophs78 commented on #6700
We should check what happens when eg p:focus is used combined with this.
Or something like https://primefaces.github.io/primefaces/8_0/#/core/javaAPI?id=execute-javascript may change focus, scroll-position,.... To be sure we do not create another regression on Safari.

Personally i only own a iPad but not a MacOS-device. So i can´t do this checks.
I tried do add Safari-support to our integration-t

[2021-01-06 08:58] buunsal commented on #6700
@christophs78 When we use p:focus, chrome also has a bug.

https://user-images.githubusercontent.com/45278820/103749315-6b062700-5016-11eb-8507-d0ac5d419186.mov

[2021-01-06 11:35] christophs78 commented on #6700
Hm. Maybe p:focus is in general a not ideal idea combined with AJAX.

Please try:
[code]

[code]

What happens for `commandButton` together with `PrimeFaces.current().focus("form:name2")`?

Does the original issue happen in much usecases on Safari or only on some special corner-cases?
Mert´s example looks a bit special because it has a outer div with less height than the inner div.

Just wan´t the

[2021-01-06 11:49] tandraschko commented on #6700
IMO none of the fixes are cool currently.
Merts fix duplicates DOM elements and the scripts finds both. So this doesnt work by design, wether Safari nor other browsers.

Remeber the scroll position and restore it on Safari might be the best currently but i wonder why it doesnt happen in other browsers?
Maybe a jquery bug? Maybe other browsers wait to scroll until DOM elements were replaced?
Does i

[2021-01-06 12:34] melloware commented on #6700
I agree with @tandraschko we should figure out why it doesn't work but to me this feels like a Safari bug.

@tandraschko this feels an awful lot like this old Edge bug we could never figure out and then went away when MS rewrote Edge with Chromium. See: https://github.com/primefaces/primefaces/issues/3863

@sqores can you try this?  Its another hack but it tries hiding the element then replacing i

[2021-01-06 13:24] buunsal commented on #6700
https://user-images.githubusercontent.com/45278820/103773142-abc46700-503b-11eb-817a-a718efc13b52.mov

[2021-01-06 13:26] buunsal commented on #6700
This is also a working method. But I haven't tested if it contains errors in the mert's reverted commit.

[2021-01-06 13:41] melloware commented on #6700
OK a better version would be to check the current visibility and put it back to that state.
[code]

[2021-01-06 14:38] buunsal commented on #6700
@melloware I don't think it should be specific to safari. there is a general problem. As in the p: focus example, some cases also running buggy with chrome.

[2021-01-06 14:40] tandraschko commented on #6700
Please lets ignore Focus here, thats not a valid workaround neither really related.

[2021-01-06 14:46] christophs78 commented on #6700
Yep. Focus is not a workaround. Just wanted to be sure we don´t break it by fiddling around with scrollTop().
@melloware suggestion looks good an and @sqores video confirms this does not interfer.

[2021-01-06 14:58] stolp commented on #6730
I just manually checked this with our application and it is working flawlessly with and without lazy mode.

[2021-01-06 15:37] zhedar opened #6774 "DataTable: Add emptyMessage localization support"
**Description**
I always need to set a `p:datatable`s `emptyMessage` to a localized string. Often times I just forget that though. The text "`No records found.`" seems to be hard coded into
`src/main/java/org/primefaces/component/datalist/DataListBase.java`,
`src/main/java/org/primefaces/component/datagrid/DataGridBase.java` and
`src/main/java/org/primefaces/component/treetable/TreeTableBase.java`

[2021-01-06 16:24] melloware commented on #6774
Please see my PR.  This is localized now using the server side `Messages.properties` or if you language was German you would include a `Messages_de.properties`.

Not in the JavaScript locales API since this is not used in JS only in Server Side loading.

[2021-01-06 16:29] zhedar commented on #6774
Thanks for your efforts, that was fast! Looking forward to added that to me properties file. That's what I actually meant.

[2021-01-06 16:30] melloware commented on #6774
Hopefully this will go into 10.0 which is schedule to have RC1 release in the next couple of weeks.

[2021-01-06 16:32] stolp commented on #6774
Perhaps we should add a place to keep some pre-translated message files as seen for some js Localizations?

[2021-01-06 16:41] melloware commented on #6774
I have to update the docs to include this.  Right now this only talks about client side localication:
https://primefaces.github.io/primefaces/10_0/#/core/localization

[2021-01-06 18:21] ebaykal opened #6776 "ContextMenu: Datatable long touch is not working on IOS"
Datatable Context Menu is not working on Iphone IOS (Safari and Chrome). On Android, touch & hold opens the Contextmenu, but it is not working on Iphone (both Safari and Chrome).

**Reproducer**
The example shown in PF Showcase is not working on IOS too.
https://www.primefaces.org/showcase/ui/data/datatable/contextMenu.xhtml

**Environment:**
 - PF Version: _8.0.6_
 - JSF 2.2
 - Affected browsers:

[2021-01-06 18:45] melloware commented on #6776
I have confirmed this issue with my iPhone

[2021-01-06 19:01] melloware opened #6777 "Spacer: Missing default dimensions"
**Description**
The spacer is a 1x1 pixel transparent image.  If you have no defaults set for height and width you are saying you want a 1x1 pixel spacer.  However this causes a Google Lighthouse error.

Error:
[code]

OK:
[code]

![image](https://user-images.githubusercontent.com/4399574/103809240-3189e780-5027-11eb-9387-377dd07801a8.png)

See: https://web.dev/optimize-cls/?utm_source=lighthouse&

[2021-01-06 19:46] tandraschko commented on #6700
@sqores can you try native JS without jQuery, to check that is not related to jQuery?
https://stackoverflow.com/questions/843680/how-to-replace-dom-element-in-place-using-javascript

[2021-01-06 19:49] tandraschko commented on #6777
is space a new component? TBH i dont like such components as its the same as "div width=1px height=1px" which will have a much better perf

[2021-01-06 19:50] #6774 closed, assigned to melloware

[2021-01-06 20:53] melloware commented on #6777
Spacer has been there since PF1!

[2021-01-06 20:57] melloware commented on #6777
Also spacer comes in handy when you need a PF component like in PanelGrid where a DIV does not work.
[code]

[2021-01-06 21:17] tandraschko commented on #6777
oh ok :D Then +1.

Maybe we should then also create a issue to support all different size units? currently "1" means px, what about em etc.?

about your example: yep div doesnt work but you can jsf:id to make it work.

[2021-01-06 21:30] melloware commented on #6777
well the default image is a 1pxx1px transparent pixel the smallest image you can make as the default.  But the Height and width are strings so you can do.

[code]

[2021-01-06 21:33] #6777 closed, assigned to melloware

[2021-01-07 06:58] OBreidenbach opened #6779 "jQuery UI Touch Punch: Upgrade to 1.0.8"
Hi,

We had a penetration testing of our application using Primefaces 8.0 and got this finding:

Primefaces uses the jQuery UI Touch Punch fork by RWAP:
https://github.com/RWAP/jquery-ui-touch-punch

Maybe Primefaces should upgrade to the current release of this fork: 1.0.8

[2021-01-07 08:40] buunsal commented on #6700
First of all, I apologize for the wrong videos I posted before. I switched from primefaces 8 to 10 to record screen videos. The variables "d" and "b" remained that way because I did copy paste. I haven't noticed that it is a very small source screen. @melloware  your suggestion doesn't work either.

Since it did not give any errors, I did not notice the problem. When I try again "PrimeFaces.env.sa

[2021-01-07 12:28] melloware commented on #6779
Let me investigate

[2021-01-07 12:55] melloware commented on #6700
@sqores Try this..

Replace:
[code]

With:
[code]

Just to see if that works.  I tested it locally and its working but I did not test thoroughly.

[2021-01-07 13:43] tandraschko commented on #6700
does replaceWith even exist in native JS? :D

[2021-01-07 13:44] melloware commented on #6700
I think it does for all but IE11 but I was seeing it if fixes the Safari issue.

[2021-01-07 13:44] buunsal commented on #6700
Yes but the result is not very good

![image](https://user-images.githubusercontent.com/45278820/103899528-9452b000-5107-11eb-9785-f2904b04c02a.png)

[2021-01-07 14:16] melloware commented on #6700
Yep using the native DOM replaceWith is definitely not the same for three reasons.

1. JQuery replaceWith removes all Event handlers on the old node being removed and native does not.

2. the output comes out like this:

![image](https://user-images.githubusercontent.com/4399574/103902835-140d5a00-50c9-11eb-905a-f6b395b786ff.png)

3. And its not supported in IE11.

[2021-01-07 14:47] melloware commented on #6779
@OBreidenbach I can confirm the 1.0.5 version we are currently using has none of these issues. I think your pentration tester is reporting false positives.   Or its falsely identiifying Touch Punch but really the problems are in Jquery UI which has fixed all these issues but they have not done an offical 1.13 release yet.

I have considered doing a custom build of Jquery UI for PF to fix these iss

[2021-01-07 16:26] OBreidenbach commented on #6779
@melloware Thanks for looking into this and sorry for opening this ticket as the library does not have these issues.
Just out of curiosity. You signed this ticket to release 10.0. Does this mean that release will be released soon?

[2021-01-07 16:29] melloware commented on #6779
10.RC1 is going to be released in the next 2 weeks!   And I have been given permission to upgrade Jquery UI which fixes these issues for 10.0.  That will be in another ticket.

[2021-01-07 16:31] OBreidenbach commented on #6779
Thanks for this fast responce.

[2021-01-07 17:38] christophs78 commented on #6700
Some thoughts...

- How do Angular, React or Vue handle this? I would expect they also manipulate DOM and have the same challenges.
- https://developer.mozilla.org/en-US/docs/Web/API/ChildNode/replaceWith takes a Node or DOMString; DOMString is handled as text; so it would require to first convert the ajax-response into a Node object

[2021-01-07 17:41] tandraschko commented on #6700
1) yep, i wondered the same. but in general most of the times just the data is updated in those frameworks, not containers. But maybe someone from PrimeTek could know this.
2) yep; we just should check if Safari works then in this single case; indepdent of IE11 or event handler bindings.

[2021-01-07 17:41] melloware commented on #6779
@OBreidenbach just to double check what version of PF are you running 8.0 or Elite 8.0.5 etc when they ran this PEN test?

[2021-01-07 18:24] melloware commented on #6779
And also do you know what tool was used to produce these results?

[2021-01-07 19:03] christophs78 commented on #6700
2. https://davidwalsh.name/convert-html-stings-dom-nodes may be to way together with https://developer.mozilla.org/en-US/docs/Web/API/ChildNode/replaceWith. Or at least we may try what this does for Safari.

[2021-01-07 19:31] mertsincan commented on #6700
Hi all,

Sorry for my delayed response :/ I tried it with replaceWith and replaceChild methods of JS and it works fine for me on Safari and other browsers. Could you please check this solution in the integration tests and Safari?

Also, you can try this issue with;
[code]
A different situation arises here. If you move el.prev().focus(); after the replaceWith method, the scroll problem disappears.

[2021-01-07 19:33] mertsincan commented on #6700
Hi @christophs78,

Thanks a lot for your solution. Could you please check my commit? WDYT?
https://github.com/primefaces/primefaces/commit/e1654acd2f41228cc68d5a360414c51f6499b238

[2021-01-07 19:45] christophs78 commented on #6700
Hi @mertsincan !

Added a comment to https://github.com/primefaces/primefaces/commit/e1654acd2f41228cc68d5a360414c51f6499b238:
PrimeFaces.escapeClientId IMO returns a string; how should replaceWith work? (DOM won´t even be touched by doing this.)

-->Totally breaks basic AJAX-usecases.

Huge amount of integration-tests broken:
![image](https://user-images.githubusercontent.com/10461942/103937501-1

[2021-01-07 19:51] tandraschko commented on #6700
STOP STOP STOP :D
we probably CANT use native replaceWith because of jQuery event handlers, DOM destroy event so on. Please just dont commit such core code without talking with us.
I just said that we should try it if it fixes the case and if it may be a jQuery "bug".

Also as @christophs78 already mention, the current will just replace a string or something and the DOM wont be replaced.

[2021-01-07 19:55] mertsincan commented on #6700
Hi Thomas,
I did not realize that you suggested this. I tested it again. This method does not work with native replaceWith method.

[2021-01-07 20:00] tandraschko commented on #6700
see https://github.com/jquery/jquery/blob/master/src/manipulation.js#L414
i also think that our widget core would be broken: https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/core/core.widget.js#L283

I really would like to check it by myself but i dont have an apple and probably never have :D

i just wonder why your plain .html sample above work

[2021-01-07 20:16] christophs78 commented on #6700
Maybe we should do a video-meeting with screensharing.

[2021-01-07 20:40] tandraschko commented on #6700
It could also be caused by any other script.
We need to verify why and how merts plain HTML example works, with native and jquery.
The we know that its not related to ihr Ajax Core.

[2021-01-07 20:48] mertsincan commented on #6700
I'm running tests without PrimeFaces. I think this issue is completely dependent on focus and replaceWith combinations. Please see my video;
https://www.dropbox.com/s/lap2nm8pgatx954/safari_test.mov?dl=0 (no jquery)
I get the same result with jquery and native javascript.

Test html;
[code]

Please see our focus method;
https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-I

[2021-01-07 20:51] tandraschko commented on #6700
Nice analysis Mert ✌️
We should search the Bug in selectOneMenu, not hack around in Ajax Core.

[2021-01-07 20:53] melloware commented on #6700
@mertsincan like @tandraschko couldn't we just do this in SelectOneMenu..
[code]

Even wrap it in `isSafari` if we want to.

[2021-01-07 20:55] melloware commented on #6700
Interesting that SelectOnemenu has this strangeness too:
[code]

[2021-01-07 20:56] mertsincan commented on #6700
Also, I think the line (selectonemenu.js#L465) is unnecessary. Because the dom changes after the ajax request. Maybe, we can check if there is an ajax request in onchange.

[2021-01-07 20:57] tandraschko commented on #6700
We should try to find the root bug
Remember scrollTop in the Widget is the same Hack, just different place.

[2021-01-07 20:58] melloware commented on #6700
Also we are calling this in 4 places in `SelectOneMenu`
[code]

When there is a `focus` method.
[code]

We should refactor SelectOneMenu to all call `focus()`  if it is necessary.

[2021-01-07 21:02] mertsincan commented on #6700
We have handleReFocus method in core.ajax.js. The line (selectonemenu.js#L465) is unnecessary for ajax requests.

[2021-01-08 06:43] OBreidenbach commented on #6779
@melloware we are using PF 8.0 the community version. I will ask which tool was used and come back to you.

[2021-01-08 12:32] melloware commented on #6779
OK so the issues above were fixed in 8.0.2 with this ticket: https://github.com/primefaces/primefaces/issues/5807

It will of course be in the 10.0 community release as well.

[2021-01-08 12:32] #6779 closed, assigned to melloware

[2021-01-08 15:38] stolp opened #6785 "Collect user defined localizations for server side components in the primefaces wiki"
**Description**
Users may want to provide their own translations for server side localization strings. Support has been improved with #6774 recently.

For client side translations there is a space in the wiki for that.

It might be a good idea to add server side translations there as well.

**Describe the solution you would like**

Add a place in the wiki for server side Message.properties and inc

[2021-01-08 16:20] melloware commented on #6785
@stolp do you have permission to edit the WIKI?  You might be able to.

[2021-01-08 16:26] stolp commented on #6785
Oh yes it seems so. So I add a Server section on the same page like in the documentation if this is alright with you.

[2021-01-08 16:29] melloware commented on #6785
Good with me.

[2021-01-08 16:41] stolp commented on #6785
Wiki changes are done. Maybe the documentation should now cross link this as well?

[2021-01-08 17:32] melloware commented on #6785
Yep let me fix the MD file.

[2021-01-08 17:34] melloware commented on #6785
OK MD file updated to have links to the client and server WIKI locations: https://github.com/primefaces/primefaces/blob/master/docs/10_0/core/localization.md

[2021-01-08 17:34] #6785 closed, assigned to stolp

[2021-01-09 12:05] aradicev opened #6787 "DataTable: After sorting the f:setPropertyActionListener for commandButton is not working correctly"
I have a p:tabView and in each tab there are 2 panels, each containing its own form with a p:dataTable within it. The tables have the same design. Last 2 columns of the tables are buttons that should perform actions on the rows. The problem is, when I perform a sort on any of the columns of the second table, the action is performed not on the row of the sorted table, but on the unsorted one. This

[2021-01-09 12:24] flashboss opened #6788 "9.0 git tag"
Where is the 9.0 tag in github repository?

[2021-01-09 12:41] melloware commented on #6788
We never released 9.0 PF is going right to 10.0 from 8.0.  So there will be a 10.0 GIT tag when its released in the next month.

[2021-01-09 12:41] #6788 closed, assigned to nobody

[2021-01-09 12:43] melloware commented on #6787
2 things.

1. Can you try removing your 2 FORMS and jus wrap the entire TabView in 1 Form ?

2. This is impossible for us to debug without a reproducer.  Please create one following the instructions below or your ticket wil be closed.

Clone repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to receive an answer and a solution

[2021-01-09 13:56] aradicev commented on #6787
The solution under 1. is not working. Unfortunately I do not have the time now to create an reproducer so I'll have to live without the sorter for now.

[2021-01-09 14:49] #6787 closed, assigned to nobody

[2021-01-09 15:37] stolp opened #6789 "PanelGrid: Include the grid id in exception message texts"
**Description**
With Issue #6565 an additional check was introduced which enforces that either a `columns` attribute or a `p:row` child element is present in a `p:panelGrid`.

This breaks working existing code which is assuming that columns="1" is the default and omits this attribute.

Sadly, the exception thrown only states _"PanelGrid without a 'columns' attribute expects at least one <p:row> el

[2021-01-09 19:36] #6789 closed, assigned to stolp

[2021-01-11 09:02] tandraschko commented on #3535
@melloware reopened as discussed

[2021-01-11 09:02] #6730 closed, assigned to melloware

[2021-01-11 13:04] melloware commented on #5781
FontAwesome should be considered deprecated for PF10 and will be removed from the JAR in PF11

[2021-01-11 13:36] melloware opened #6792 "DatePicker: setDate() widget method does not respect time"
**Describe the defect**
When calling `setDate(date)` on the widget it only sets the date portion and not the time portion.

**Environment:**
 - PF Version: _8.0+_

**To Reproduce**
Steps to reproduce the behavior:
1. Get an epoch time
![image](https://user-images.githubusercontent.com/4399574/104188889-ea657300-53e7-11eb-95e5-63ed57185409.png)

2. Call setDate with `PrimeFaces.widgets.widget_form_

[2021-01-11 13:36] melloware commented on #6792
Also note I discovered this while writing Integration Tests for Safari.

[2021-01-11 13:55] #6776 closed, assigned to melloware

[2021-01-11 13:59] #6716 closed, assigned to melloware

[2021-01-11 14:54] #6792 closed, assigned to melloware

[2021-01-11 15:25] melloware commented on #3535
Just for those reading this thread what we discussed is we probably need an `_unselectedRows` sent from the client to the server so we can have...

[code]

So the server side can determine that all rows should be selected minus the `unselectedRows` and send back to the UI the full list of selections.

[2021-01-11 15:28] tandraschko commented on #3535
yep exactly

[2021-01-11 17:57] JHookDev opened #6796 "Menubar: Inactive submenu visible"
**Describe the defect**
There are times when mousing over the menubar where a submenu will become visible even though another submenu is active and open. The erroneous submenu will be visible, however the submenu heading is not highlighted. The erroneous submenu will remain open until the user interacts with that specific submenu again. The user can interact with other submenus, while the erroneou

[2021-01-11 17:59] melloware commented on #6796
Good debugging and thanks for the reproducer.

[2021-01-11 18:00] JHookDev commented on #6796
I have a PR that I will submit shortly.

[2021-01-11 18:30] melloware commented on #3354
@martin654 I have been using Lazy datatable for years and I don't quite understand your use case and i think it would add more confusion to users.

I am going to close this ticket for now as there have been no upvotes in years and I really don't think this would be an improvement in behavior or usability.

[2021-01-11 18:30] #3354 closed, assigned to nobody

[2021-01-11 21:21] melloware commented on #782
DataGrid has been marked deprecated as of PF10.0 and will be most likely removed in PF 11.0 it is recommend to use DataView instead.  So I am updating this ticket to say DataView.

[2021-01-11 21:27] melloware commented on #1910
Subtable has been marked deprecated in 10.0 for possible removal in 11.0 and there is a workaround provided in this ticket.

[2021-01-11 21:27] #1910 closed, assigned to nobody

[2021-01-12 03:55] aligit commented on #6587
Thank you @melloware

[2021-01-12 05:16] aligit opened #6798 "Schedule: Background Events"
**Description**
To prevent date selection(dateSelect) in a given date interval I've to close the pop-up right after it's opened. This is frustrating because the user has to click in order to notice that reservation at selected date is not possible.

**Describe the solution you would like**
I would like an additional attribute in the scheduler which accepts start and end date/time and the cells in

[2021-01-12 07:49] crocimi opened #6799 "Datatable: Grouped keyboard selection"
**Describe the defect**
Grouped Data Table key up/down only select the prev/next row within the current group. I'm not sure if it was itentional or not

**Reproducer**
Data Table with group and active selection

**Environment:**
 - PF Version: _8.0_
 - JSF + version: _e.g. Mojarra 2.2.8 or MyFaces 2.3.6_
 - Affected browsers: _e.g. Chrome, iOS, ALL_

**To Reproduce**
Steps to reproduce the behavio

[2021-01-12 08:09] crocimi commented on #6799
#6800

[2021-01-12 09:57] #6796 closed, assigned to JHookDev

[2021-01-12 12:23] melloware commented on #6798
Two things...

1. Wouldn't Background Events be part of the Model and not properties on the Timeline?

2. Can you make any event not have the popup appear if you mark that event `editable="false"` so you can choose which events bring up the popup or not?  Or am I missing something?

[2021-01-12 12:26] arturobernalg opened #6802 "Core: Remove redundant initializer"
Java will initialize fields with known default values so any explicit initialization of those same defaults is redundant and results in a larger class file (approximately three additional bytecode instructions per field).

[2021-01-12 13:17] #6799 closed, assigned to crocimi

[2021-01-12 13:31] #3917 closed, assigned to Rapster

[2021-01-12 13:31] #6575 closed, assigned to Rapster

[2021-01-12 13:31] #6682 closed, assigned to Rapster

[2021-01-12 13:53] stolp opened #6803 "DataView: Multiple drop events for a single drag and drop operation with DataViewGridItems"
**Describe the defect**
I was playing with drag and drop in a data view and noticed that for some drop operations multiple DragDropEvents are generated. I was yet not able to determine a reproducible behavior here.

**Reproducer**
Clone: https://github.com/stolp/primefaces-test/tree/PF-6803

This is basically the DataView showcase code with added draggable, droppable and an event listener.

I trie

[2021-01-12 14:41] melloware commented on #6803
I think I see the issue. If I drag and completely hover over another Car and drop I only get one event. If I drag and hover in between two panels it drops it and then move the other one with a drag drop.  So its like it has to move both panels.

[2021-01-12 14:48] tandraschko commented on #6802
can you proove your statement?
I would say that the compiler should produce same bytecode if you not init a boolean or init it with boolen=false

[2021-01-12 18:02] arturobernalg commented on #6802
Hi @tandraschko

The PR try to solve a PMD warning --> https://pmd.github.io/latest/pmd_rules_java_performance.html#redundantfieldinitializer

[2021-01-12 19:21] #6802 closed, assigned to arturobernalg

[2021-01-12 19:59] thecatloko opened #6804 "Calendar: Opening off screen in Premium themes"
The Calendar component is opening off screen when positioned close to the right side of the page

Example:
![image](https://user-images.githubusercontent.com/11444679/104365544-e4aa8300-54f6-11eb-8f06-b2b4f3237ac6.png)

Reproducer: https://github.com/thecatloko/primefaces-test

[2021-01-12 20:05] melloware commented on #6804
I have verified this..  In your reproducer can you edit \src\main\webapp\resources\test.js and paste this in and restart the app and try again.

[code]

[2021-01-12 20:59] melloware commented on #6798
Usage:
[code]

Screenshot:
![image](https://user-images.githubusercontent.com/4399574/104373920-1c153180-54ef-11eb-8719-724605c32c4b.png)

[2021-01-12 21:48] tandraschko opened #6807 "Refactor CSV docs + add complex validation sample"
https://github.com/primefaces/primefaces-showcase/blob/master/src/main/webapp/ui/csv/complex.xhtml

[2021-01-13 10:30] #6807 closed, assigned to tandraschko

[2021-01-13 11:15] tandraschko opened #6808 "Document which cookies are used by PF"

[2021-01-13 11:42] #6808 closed, assigned to tandraschko

[2021-01-13 12:19] #6798 closed, assigned to melloware

[2021-01-13 12:36] aligit commented on #6798
Great! Thanks! @melloware

[2021-01-13 13:20] stolp opened #6810 "DatePicker: Clear button does not reset the time fields"
**Describe the defect**
I have a datePicker with showTime="true" showOnFocus="true" showButtonBar="true".

When hitting the clear button, the time selector is not reset, it stays at the current time.

**Reproducer**
Please clone the following Repository: https://github.com/stolp/primefaces-test/tree/PF-6805

**Environment:**
 - PF Version: _8.0_, _10.0_
 - JSF + version:  Mojarra 2.2.8
 - Affected

[2021-01-13 13:50] thecatloko commented on #6804
I tested and the fix works!
I commited the fix on another page on the reproducer https://github.com/thecatloko/primefaces-test

[2021-01-13 13:58] #6804 closed, assigned to melloware

[2021-01-13 13:59] melloware commented on #6810
Thanks for the reproducer!

[2021-01-13 17:56] melloware commented on #3684
jqPlot charts are being deprecated in PF10.0 for removal sometime in the future like PF13 or 14.  So please migrate to ChartsJS which is the official charting library of PF now.

[2021-01-13 17:56] #3684 closed, assigned to nobody

[2021-01-13 20:07] christophs78 opened #6812 "ChartJS: Upgrade to V3"
Something we should keep in mind for PrimeFaces 11.
They are currently at https://github.com/chartjs/Chart.js/releases/tag/v3.0.0-beta.8.

https://www.chartjs.org/docs/master/getting-started/v3-migration

[2021-01-13 21:52] melloware commented on #6810
I wrote an Integration test for this so its caught in the future.

[2021-01-13 21:56] #6810 closed, assigned to melloware

[2021-01-14 07:07] #6700 closed, assigned to mertsincan

[2021-01-14 07:07] #6768 closed, assigned to mertsincan

[2021-01-14 09:15] mertsincan opened #6813 "New Component: Card"
Card is a flexible container component.
https://primefaces.org/primereact/showcase/#/card

[2021-01-14 09:15] #6813 closed, assigned to nobody

[2021-01-14 09:50] mertsincan opened #6814 "New Component: Divider"
Divider is used to separate contents.

[2021-01-14 09:51] #6814 closed, assigned to nobody

[2021-01-14 11:30] mertsincan opened #6815 "New Component: Avatar"
Avatar represents people using icons, labels and images.

[2021-01-14 11:31] #6815 closed, assigned to nobody

[2021-01-14 12:59] mertsincan opened #6816 "New Component: Badge"
Badge is a small status indicator for another element.

[2021-01-14 13:00] #6816 closed, assigned to nobody

[2021-01-14 14:50] mertsincan opened #6818 "New Component: Chip"
Chip represents entities using icons, labels and images.

[2021-01-14 21:10] melloware commented on #2066
DataList is deprecated as of 10.0 and DataView is recommended and does have Drag and Drop.

[2021-01-14 21:10] #2066 closed, assigned to nobody

[2021-01-15 00:09] Rapster opened #6819 "Card: add header/title/subtitle/footer attributes"
**Description**
Just like few other components like `p:panel`, users have the choice to define properties though attributes or facets. Card should do the same

**Describe the solution you would like**
[code]

[2021-01-15 06:33] #6818 closed, assigned to mertsincan

[2021-01-15 07:54] mertsincan opened #6821 "New Component: ScrollTop"
ScrollTop gets displayed after a certain scroll position and used to navigates to the top of the page quickly.

[2021-01-15 07:54] #6821 closed, assigned to nobody

[2021-01-15 08:39] mertsincan opened #6822 "New Component: Skeleton"
Skeleton is a placeholder to display instead of the actual content.

[2021-01-15 08:39] #6822 closed, assigned to nobody

[2021-01-15 08:52] mertsincan opened #6823 "New Component: Tag"
Tag component is used to categorize content.

[2021-01-15 08:52] #6823 closed, assigned to nobody

[2021-01-15 09:15] serial389 commented on #6561
We are facing the same problem. The primefaces menubar is not compatible to JAWS or NVDA.
It seems the primefaces menubar is not handling the menuitem `a` tags for “roving tabindex” the way it is described in the specs:
[https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-2/menubar-2.html](https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-2/menubar-2.html)

Fo

[2021-01-15 10:01] buunsal opened #6824 "New Component: Chronoline"
Chronoline visualizes a series of chained events.

[2021-01-15 12:00] melloware commented on #6561
@serial389 Thanks for helping.  i think I understand the roving tabindex issue.  However for the `ul` what should the `aria-label` be?

[2021-01-15 14:36] serial389 commented on #6561
I have found this difference by comparing the primefaces menubar with the w3.org menubar tag by tag.
After some tests with JAWS and NVDA it seems that both screen reader are ignoring that `aria-label` attribute for the submenu `ul` tag.
So today for JAWS and NVDA it doesn’t matter if this `aria-label` exist or not.

But this `aria-label` is listed in the spec:

Role | Attribute | Element | Usage
-

[2021-01-15 15:12] cagataycivici opened #6826 "Gridlines, Striped Rows and Sizes for DataTable-TreeTable"
Create options for gridlines, striped rows (Datatable only) and sizes for DataTable and TreeTable e.g. showGridlines, stripedRows and size="small|large"

[2021-01-15 15:12] #6826 closed, assigned to cagataycivici

[2021-01-15 16:45] Helveticus opened #6828 "TreeTable regression: NodeSelectEvent has no tree node"
Describe the defect
I am using an ajax 'select' event to keep track of a single tree node selection.  With the latest snaphot, the tree node in the NodeSelectEvent is null. It appears that the Javascript no longer returns the tree node identifier.

Reproducer

                <p:treeTable id="mytree"
                             value="#{bean.root}"
                             var="node"

[2021-01-15 16:56] tandraschko commented on #6828
seems like the showcase is also broken: http://localhost:8080/showcase/ui/data/treetable/selection.xhtml?jfwid=266ad

[2021-01-15 17:02] Helveticus opened #6829 "PanelGrid: Regression, Exception when all rows in a panel grid are conditional"
**Describe the defect**
In a panel grid where all rows have a rendered attribute, Primfaces throws an exception:

javax.faces.FacesException: PanelGrid without a 'columns' attribute expects at least one <p:row> element.

**Reproducer**
n/a

**Environment:**
 - PF Version: 10.0 Snapshot
 - JSF + version: _e.g. Mojarra 2.3.9
 - Affected browsers: _e.g. Chrome, iOS, ALL_

**To Reproduce**

**Expected

[2021-01-15 17:26] melloware commented on #6829
I will fix this.

[2021-01-15 17:36] melloware commented on #6828
I see the problem.

[2021-01-15 17:48] #6829 closed, assigned to melloware

[2021-01-15 17:48] melloware commented on #6828
@tandraschko the Showcase is broken for a different reason i notified PrimeTek on Discord.

[2021-01-15 17:54] #6828 closed, assigned to melloware

[2021-01-15 18:02] buunsal opened #6832 "New Component: CascadeSelect"
CascadeSelect displays a nested structure of options.

[2021-01-15 18:18] Helveticus opened #6834 "Checkbox: Regression, custom styling of checkbox active state no longer working"
**Describe the defect**
The custom styling for a checkbox actiove state is no longer working.  I am no CSS expert, but I had to add an additional attribute selector to bring it back into working order.

**Reproducer**
n/a

**Environment:**
 - PF Version: 10.0 Snapshot
 - JSF + version: _e.g. Mojarra 2.3.9
 - Affected browsers: _e.g. Chrome, iOS, ALL_

**To Reproduce**

**Expected behavior**

// PF

[2021-01-15 18:20] melloware commented on #6834
What theme are you using?  I know PrimeTek is still working on Theme updates.

[2021-01-15 18:33] Helveticus commented on #6834
<context-param>
      <param-name>primefaces.THEME</param-name>
      <param-value>none</param-value>
</context-param>

[2021-01-15 18:40] melloware commented on #6834
Can you please create a PF Test reproducer?  I am not seeing the issue.

[2021-01-15 18:42] melloware commented on #6834
And from your example above the style would be applied as the "comma" means also apply it if aria is checked.  So the original active style should still be applied.

[2021-01-15 18:52] Helveticus commented on #6834
I will try to build a reproducer. It's my first, so will take me awhile ...

I was vague on the symptom:  when you click the checkbox, it will not be painted active, you need to click on something else first.  Sort of a delayed reaction.

[2021-01-15 18:55] melloware commented on #6834
Oh yes like this? https://github.com/primefaces/primefaces-showcase/issues/258

[2021-01-15 19:27] Helveticus commented on #6834
I think that's it!
Thanks for the legwork.

[2021-01-15 19:42] melloware commented on #6834
OK they are aware. Hopefully fixed before 10.0 is final.

[2021-01-16 16:04] mertsincan opened #6836 "New Component: Splitter"
Splitter is utilized to separate and resize panels.

[2021-01-16 16:04] #6836 closed, assigned to nobody

[2021-01-16 19:08] #6485 closed, assigned to melloware

[2021-01-16 20:28] mertsincan opened #6839 "Horizontal scroll in DataTable is not calculated correctly"
Scrollable Datatable always has a horizontal scroll.

[2021-01-16 20:29] #6839 closed, assigned to mertsincan

[2021-01-16 21:23] mertsincan opened #6840 "Dialog Framework always has a vertical scroll"
Remove static values from DF.

[2021-01-16 21:24] #6840 closed, assigned to mertsincan

[2021-01-16 23:19] mertsincan commented on #6583
The registerScrollHandler method doesn't do exactly that. Users can have nested scrollable containers.
Note: I have now added a fix for the datePicker. I'll make improvements to others after RC1.

PrimeReact;
https://github.com/primefaces/primereact/issues/1589
https://github.com/primefaces/primereact/issues/1655

[2021-01-17 00:22] Rapster opened #6841 "Core: remove deprecates introduced in 8.0"
Deprecated but still used:
- ~CalendarUtils#calculateTimeZone~
- `TimeLineModel#getIndex` (not sure what I'm supposed to do with this...)
- `p:chart` untouched as the whole component will be deprecated

[2021-01-17 13:19] Rapster commented on #6841
@christophs78 You certainly have a better understanding of what to do regarding Calendar component. Is it truly deprecated or is it too soon?

@jasonex7 You deprecated `TimeLineModel#getIndex` but still used, and also you're saying index is no longer required but instead of removing that method, you're suggering to turn into a private method. I'm not very familiar with this component, and I'm kind

[2021-01-17 13:48] christophs78 commented on #6841
Regarding Calendar. Think we have to look how much DatePicker - issues come up after 10.0.0 - release.
With 7.0 DatePicker was way to much broken. With 8.0 it was better but still had issues compared to Calender.
Hope we hit with 10.0 the point where people realy prefer DatePicker over Calendar.

[2021-01-17 18:43] Rapster commented on #6841
Okay so if I understand it well, these methods have no reason to be deprecated as they can't be removed or replaced, they will be removed only when Calendar component will be removed from PF.

[2021-01-17 20:39] christophs78 commented on #6841
Looked into the code...
`CalendarUtils#calculateTimeZone` is used for `java.util.Date` - support. (For Calendar and DatePicker) So deprecated is relative. We should not use this for new code. But we have to keep this as long as we need to support java.util.Date. So probably for a long long time.

But it should be easy to get rid of `DatePatternConverter `and `TimePatternConverter`. Both simply cal

[2021-01-17 20:42] melloware commented on #6841
We should undeprecate java.util.date stuff as we plan on supporting it for a long long time as there is just too much code out there written for it.

[2021-01-17 21:49] Rapster commented on #6841
@christophs78 Ok I see what you mean regarding the converters, indeed it should be easy to get rid of them since both delegate call to `DateTimePatternConverter`. Now about `CalendarUtils#calculateTimeZone`, I think it should be undeprecated just like mentionned @melloware.

[2021-01-17 22:16] Rapster commented on #6841
@melloware You might be able to enlight me on `TimeLineModel#getIndex`, since index is no longer used and no longer need to be sync with whatever what... I feel this method is no longer useful, am I wrong?

[2021-01-17 22:25] melloware commented on #6841
Let me take a look.  I think it might no longer be needed I will get back to you.

[2021-01-17 23:32] #6824 closed, assigned to buunsal

[2021-01-18 00:11] Rapster commented on #6841
I just realized that TimeLineEvent has setters and a builder, and setters are not marked deprecated... Oversight? For that kinda of class, setters could return current TimeLineEvent instance, specially if they're supposed to be mutable (and no need of a builder), but I guess Builder was used to be more consistent with the rest of the code? Should I mark them deprecated? Also `TimelineEvent#Builder

[2021-01-18 01:44] mertsincan opened #6844 "Diagram throws exception on drag"
Test;
https://www.primefaces.org/showcase/ui/data/diagram/hierarchical.xhtml

[2021-01-18 01:44] #6844 closed, assigned to mertsincan

[2021-01-18 06:45] christophs78 commented on #6841
Agree

[2021-01-18 07:35] OBreidenbach commented on #6779
@melloware If you are still interested, which tool was used: https://github.com/portswigger/software-vulnerability-scanner

[2021-01-18 08:35] mertsincan opened #6845 "Improve trackMouse position on Tooltip"

[2021-01-18 08:36] #6845 closed, assigned to mertsincan

[2021-01-18 09:22] martin654 commented on #2269
Hi.
Here is an example:

Imagine a paginated backend service where you have **list of lists.** For example a contract list and for each contract you have a list of documents. Pagination is done on the "outer contract list" (so the height of the table can be different for each page).

This cannot be done with row grouping, because you would have to change the backend service (not possible) to serve

[2021-01-18 09:50] Rapster commented on #2269
I strongly suggest you submit a PR on showcase then, but you mentionned your model is not flat, could `p:treeTable` be a solution here? Ah but you're lazy loading stuff also... don't know how well `p:treeTable` handle that stuff, last time I tried I can't say it worked perfectly :/

[2021-01-18 10:00] DanielPettersson commented on #6711
@melloware This issue only occurs when also enabling Primefaces CSP. I updated the description of the issue with my csp configuration.

By doing this I could reproduce the bug using your attached reproducer.

[2021-01-18 10:04] martin654 commented on #2269
Hi,
yes, it is lazy loaded using backend service pagination. And AFAIK i don't think that p:treeTable supports this. And the expand/collapse feature is not wanted in this case (at least it would have to be expanded initially).

I reported this as a PRO ticket.

In my opinion many PRO users are stuck on previous PF versions so they didn't notice the deprecation yet?

Thanks

[2021-01-18 10:09] tandraschko commented on #2269
it was deprecated by a statement of cagatay in the past, but not official in the docs AFAIR.
If there is a usecase and PrimeTek is ok with it, we should not deprecate it.
Nevertheless, we wont remove it for 10.0 anyway, so you are not stuck on older versions for now.

[2021-01-18 12:20] melloware commented on #6779
Thank you for letting me know I will check it out!

[2021-01-18 12:22] melloware commented on #6711
OK reopened ticket let me investigate.

[2021-01-18 12:27] melloware commented on #2359
Fixed in 10.0 with: https://github.com/primefaces/primefaces/issues/6845

[2021-01-18 13:11] melloware commented on #6711
This was similar to the problem I fixed for InputNumber: https://github.com/primefaces/primefaces/issues/6142

[2021-01-18 13:46] serial389 commented on #6561
I just gave your pull request a try and I’m sorry to say that it will not fix the problem.
We have tested both JAWS and NVDA and both are not working as expected.

First of all:
When you are not using a screen reader the primefaces menubar works fine.
But with a running screen reader you cannot navigate within the menubar. The used keys cannot be interpreted correctly, because the system is in an

[2021-01-18 14:05] melloware commented on #6561
OK can you do me a favor and test regular Menu and MenuButton to see if they are broken the same way or whether the screenreader is working for those?

So it sounds like instead of giving focus to “ui-helper-hidden-accessible” we have to find the very first menu item  and make that tabindex=0 instead of that hidden accessible.

[2021-01-18 14:21] melloware opened #6847 "Apache POI 5.0.0"
**Description**
See: https://poi.apache.org/changes.html#5.0.0

Completely  backward compatible with 4.X

[2021-01-18 14:23] GedMarc commented on #6847
YEAHHH!
I was looking for that changelog!

[2021-01-18 15:36] melloware opened #6849 "AutoComplete: Improve queryDelay=0"
**Description**
When `queryDelay=0` we should not use `setTimeout` we should run immediately.

Also the docs for queryDelay are missing in the MD file.

**Describe the solution you would like**
Fire immediately when `queryDelay=0`

[2021-01-18 15:53] #6849 closed, assigned to melloware

[2021-01-18 16:18] melloware commented on #6561
Also can you tell me that if once the MenuBar does get focus and we start setting tabindex=0 to the highlighted menu item does the screenreader start working then?  It looks like a log of this code for MenuBar and MegaMenu is assuming it has this "ui-helper-hidden-accessible" keyboard trap.

[2021-01-18 18:18] melloware opened #6851 "SelectOneMenu: JS error calling disable()"
**Describe the defect**
Found during Integration Testing...

When calling the widget `disable()` method throws the following JS error using the Showcase.

![image](https://user-images.githubusercontent.com/4399574/104950852-726eee00-598f-11eb-8f2a-13ab332ae729.png)

This can happen whenver the items are rendered on the client.

[code]

**Environment:**
 - PF Version: _10.0_

**Expected behavior**

[2021-01-18 19:25] melloware commented on #6851
@christophs78 this was introduced with https://github.com/primefaces/primefaces/issues/6418

[2021-01-18 19:48] #6851 closed, assigned to melloware

[2021-01-18 19:49] melloware commented on #6851
Failing Integration Test now passes!

![image](https://user-images.githubusercontent.com/4399574/104957579-69384e00-599c-11eb-8cf4-e3d04626f0d8.png)

[2021-01-18 20:01] humeyracal commented on #2043
We still have this problem with PF 8.0.1

[2021-01-18 20:10] melloware commented on #2043
@humeyracal You can fix this with some CSS very easily.

[2021-01-18 20:15] humeyracal commented on #2043
I added styleClass="ui-widget" to SelectOneMenu since adding it to container didn't help, still doesnt work. Can you help? Thank you.

[2021-01-18 20:19] melloware commented on #6711
@DanielPettersson Can you try it with this in your web.xml and let me know if it works.
[code]

[2021-01-18 20:21] christophs78 commented on #6851
Thanks for fixing this!

[2021-01-18 20:53] melloware commented on #2043
@humeyracal If you want to make the editor AND the Selctone labels the same size try adding this CSS.
[code]

Just set to whatever font size you want.

[2021-01-19 07:52] DanielPettersson commented on #6711
@melloware Yes, the workaround with MOVE_SCRIPTS_TO_BOTTOM works. Nice, thanks!

[2021-01-19 09:01] #6819 closed, assigned to Rapster

[2021-01-19 12:37] #6711 closed, assigned to melloware

[2021-01-19 12:49] tuerker commented on #6485
@melloware unfortunately this issue is still not fully solved. fullcalendar has another bug. see my comment in:

https://github.com/fullcalendar/fullcalendar/issues/5952

so it would be good to reopen this issue to monitor it. thanks and regards.

[2021-01-19 12:55] melloware commented on #6485
I am monitoring the issue. Will leave this closed for now since its a FullCalendar bug.

[2021-01-19 12:57] #6847 closed, assigned to melloware

[2021-01-19 13:07] melloware commented on #6561
OK I added aria-role="none" on the keyboard target div which should not read it out loud for assitive technolgoies but should allow you to TAB to it and once the Menu has focus we assign the first menu option tabindex=0 so hopefully the screenreader picks that up?

[2021-01-19 13:19] mertsincan opened #6853 "New Component: ConfirmPopup"
ConfirmPopup displays a confirmation overlay displayed relatively to its target.

[2021-01-19 13:21] tandraschko commented on #6853
@mertsincan cant we reuse ConfirmDialog here?

[2021-01-19 13:23] #6853 closed, assigned to mertsincan

[2021-01-19 13:24] melloware commented on #6853
@tandraschko are you suggesting use confirm dialog but have a `popup="true"` ?

[2021-01-19 13:25] mertsincan commented on #6853
@tandraschko ConfirmDialog and ConfirmPopup have different UI.
https://primefaces.org/primereact/showcase/#/confirmpopup
https://primefaces.org/primereact/showcase/#/confirmdialog

[2021-01-19 13:50] tandraschko commented on #6853
for me it looks the same:
confirmPopup == confirmDialog header=null closable=false :D

[2021-01-19 13:56] melloware commented on #6711
Thanks for reporting back this is fixed in 10.0  However you are better off with MOVE_SCRIPTS as it should make your page load speed a little faster or a lot faster depending on how many components on your page!

[2021-01-19 14:11] mertsincan commented on #6853
Is it the same for you on overlayPanel and Dialog :D
These choices depend entirely on the user's need. I can generate multiple components from an overlayPanel using CSS :D :D

[2021-01-19 14:35] tandraschko commented on #6853
hmm, i see
what about a different name then? For me "dialog" is a name as "popup" but actually means the same :D

also the build is currently broken

[2021-01-19 14:36] melloware commented on #6853
I would guess its ConfirmPopup to be consistent with PrimeReact/Vue/NG.  Which is not a terrible thing.

[2021-01-19 14:39] Rapster commented on #3212
Ok, doesn't sound like an easy one...

Regarding the changes that has been made, we have both methods:
- `public WidgetBuilder init(String widgetClass, T widget);`
- `public WidgetBuilder init(String widgetClass, String widgetVar, String id);`

The first one (newly introduced) does `renderLifecycleCallbacks`, any reason the second init method doesn't? If it doesn't, we could replace every init cal

[2021-01-19 14:45] tandraschko commented on #3212
we can deprecate the old one, i just didnt remove it because of extensions like PFE which reuses our WidgetBuilder.

[2021-01-19 14:50] melloware commented on #3212
I aalready updated PFE for the new `init` so its safe to remove

[2021-01-19 14:51] tandraschko commented on #3212
PFE isnt the only extensions lib ;) I will deprecate it for now and remove in 11.0.

[2021-01-19 14:51] melloware commented on #3212
HA OK good call. Deprecate away.

[2021-01-19 14:52] Rapster commented on #3212
Ok, so we can migrate all our components with this new method, and deprecate the old one right?

[2021-01-19 14:53] tandraschko commented on #3212
its all migrated already

[2021-01-19 14:54] #6841 closed, assigned to Rapster

[2021-01-19 14:56] Rapster commented on #3212
Ah indeed my bad, I didn't realize that only PFE components were still using it, and my local repo has not been updated for a while, so all good :wink: I'll simply deprecate the old method then

[2021-01-19 14:59] melloware commented on #3212
I think Thomas just did and checked in in

[2021-01-19 15:00] Rapster commented on #3212
Yup unit tests have not been updated though

[2021-01-19 15:04] melloware commented on #3212
Just rebuilt PFE and can confirm we have no deprecation warnings so that is good.

[2021-01-19 15:28] tandraschko commented on #3212
yeah, will align the tests now

[2021-01-19 15:29] Rapster commented on #3212
I'm on it if you didn't start yet

[2021-01-19 15:29] tandraschko commented on #3212
all right :)

[2021-01-19 16:14] fanste opened #6856 "OutputLabel: Label in composite component cannot resolve required attribute of input component in another composite component"
**Describe the defect**
I have two composite components. One (CC1) contains the `p:outputLabel` and the other one (CC2) a `p:inputNumber`. Both are connected using the for-attribute.

The `OutputLabelRenderer` tries to resolve the `required` attribute of the `p:inputNumber` which is defined as `required="#{cc.attrs.required}"` (required for CC2 is not hardcoded in the composite component, it is an

[2021-01-19 16:18] melloware commented on #6856
Isn't that similar to this? https://github.com/primefaces/primefaces/issues/3709

[2021-01-19 16:21] fanste commented on #6856
#3709 seems to complain about bean validation. This issue has to to with composite components.

PR #6857

[2021-01-19 16:22] tandraschko commented on #6856
nope it isnt, it think #3709 might already be working?

[2021-01-19 17:53] fanste commented on #6856
Simplified [test](https://github.com/fanste/primefaces-test/tree/test-6856) as requested in the PR.

It is enough if the input component is inside a composite component.
With the fix of #6857 the indicator is displayed.

[2021-01-19 21:30] melloware commented on #6856
I jut wrote an Integration Test using your example its test 8 `testComposite3` and its passing.

Now our Integration tests use MyFaces 2.3.7 not sure if that makes a difference?

See: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/2cd813feb3e85d4e50dd5df363629178adf20d75

[2021-01-19 21:32] melloware commented on #6856
I think the integration test also proves #3709 is working.

[2021-01-19 21:33] Rapster commented on #6856
@fanste I had a quick look on your reproducer, I only see one composite and it's very similar to https://github.com/primefaces/primefaces/issues/1633 but this has been fixed in PF6. Am I missing something?

Except (according to the fix I made with Thomas), you can write it down like this (without specifying `:invalue`):

[code]

Also, maybe you meant to use targets and not name (of editableValueHo

[2021-01-19 21:42] melloware commented on #3709
Integration Tests proving that `@NotNull @NotEmpty and @NotBlank` are working with and without composite.

https://github.com/primefaces-extensions/primefaces-integration-tests/commit/b967b0b9d07ae4874fa6ca56edb09677c9bc3e83

[2021-01-19 21:42] #3709 closed, assigned to tandraschko

[2021-01-19 23:36] buunsal opened #6858 "Timeline: dragging the mouse up and down over the groups not moving the rest of the timeline up and down"
Dragging the mouse up and down over the groups not moving the rest of the timeline up and down.

[2021-01-20 03:54] #6858 closed, assigned to buunsal

[2021-01-20 05:36] #6832 closed, assigned to mertsincan

[2021-01-20 05:49] mertsincan commented on #6832
@melloware Can I get help from you for JsDoc? Is there a command code to generate them automatically?
Exp;
https://www.typescriptlang.org/docs/handbook/declaration-files/dts-from-js.html

[2021-01-20 09:39] #4928 closed, assigned to jepsar

[2021-01-20 10:06] fanste commented on #6856
@Rapster Yes I mentioned in that comment that it is enough to only put the input component inside a composite component. I just also found your #1633 but it does still not work with Mojarra 2.2.x nor MyFaces 2.2.x (using my reproducer).

I currently use `for="ccTC"` as a workaround - maybe it also is the only solution as the MyFaces guy said, that a composite component is a self-contained thing wh

[2021-01-20 10:07] tandraschko commented on #6856
@fanste can you please check the JSF specs/docs, if invokeOnComponent should always push all components, not only if the clientId matches?

[2021-01-20 10:14] tandraschko commented on #6856
Ok, i think we mix some issues here.
What works:
- p:outputLabel for=cc:input, required set to any value just not something with #{cc}
- p:outputPabel for=cc, , required set to any value, also with #{cc}

What works not:
- p:outputLabel for=cc:input, required set any expression with #{cc} inside

[2021-01-20 10:14] tandraschko commented on #6856
We could only fix that correctly and good if we use invokeOnComponent if Mojarra would implement it the same like MyFaces. We need to check whats correct.

Otherwise i dont think there is a good solution.

[2021-01-20 10:20] fanste commented on #6856
@tandraschko The spec does not really tell something about push/pop inside `invokeOnComponent` if I had the correct document. But the Mojarra JSF API for 2.3 has the following comment on `findComponent`. (Edit: MyFaces API for 2.3 has the same comment)

This tells me, that the traversal context has to be completely valid which it is not at the moment. MyFaces should have the correct impl while Moj

[2021-01-20 10:23] tandraschko commented on #6856
yep, seems like a Mojarra bug then. Please create a issue here: https://github.com/eclipse-ee4j/mojarra
and maybe you can create a PR, mojarra team doesnt to be very active.

[2021-01-20 10:28] Rapster commented on #6856
I remember talking about this long time back when I was working on #1633: https://github.com/primefaces/primefaces/issues/1633#issuecomment-283584995

Sounds like a Mojarra issue

[2021-01-20 10:34] tandraschko commented on #6856
yep. TBH i dont think we should support this case. There are 2 possible solutions:
- use invokeOnComponent but Mojarra doesnt follow the specs
- loop all parents and push them into EL (expressions could even contain #{component})

both results in much worse performance as outputLabel is mostly very often used on a view.
I think our way to support #1633 is ok.

@fanste you can use either
[code]
or

[2021-01-20 10:36] mertsincan commented on #6478
Hi all,
The best solution is to create a responsive breadcrumb. For now, users can use the rendered="false" property of p: menuitem Or they can hide items with CSS.

We can continue to discuss;
https://github.com/primefaces/primefaces/issues/6480

[2021-01-20 10:36] #6478 closed, assigned to jepsar

[2021-01-20 10:38] Rapster commented on #6856
Or don't use composite, facelet tags instead (combined with omnifaces is even better)😉 Just like mention Thomas, composite itself has poor performance and IMO not really well supported

[2021-01-20 10:42] tandraschko commented on #6856
composite itself are a bit slower as own tags yes, but the performance isnt bad, even great in MyFaces.
Composites are in general good supported IMO, just some edge cases are not. Like p:message for="#{mycc}", same case as #1633, just for messages.

Just invokeOnComponent would slower as findComponent, which is currently used.

[2021-01-20 10:47] fanste commented on #6856
Maybe we should at least use `forComponent.invokeOnComponent(...)` as that would push the correct value for `#{component}`. Not supporting `#{cc}` is okay for me if the myfaces guy is correct about that internals of composite components should not be adressed from outside. For that case we can directly reference the composite component as long as we only have a single-component `cc:editableValueHo

[2021-01-20 10:49] mertsincan commented on #6757
Fixed in https://github.com/primefaces/primefaces/commit/4260e749c00648c86ba0a29ea5dc0e418206ff9a

Thanks a lot, @jepsar ;)

[2021-01-20 10:49] #6757 closed, assigned to mertsincan

[2021-01-20 10:52] mertsincan commented on #6834
I couldn't replicate it. Could you please test it again? Thanks a lot!

[2021-01-20 10:56] tandraschko commented on #6856
As we dont have any open issue regarding outputLabel and #{component} since years, we should not change that for now.

JSF applications are often form-centric with many outputLabels on the view.

[2021-01-20 10:56] #6856 closed, assigned to fanste

[2021-01-20 12:04] arturobernalg opened #6860 "Core: migrate String nullity check with LangUtils"
The idea is use isEmpty instead  of "length() == 0"
In the case of " "".equals" it performance issues
! isEmpty  instead if length() > 0

[2021-01-20 12:36] melloware commented on #6832
@mertsincan Yep let me review it and make any tweaks I see needed. Nice job though!

[2021-01-20 14:27] Rapster commented on #6860
I don't think it's about performance here (on the contrary...), though it sounds very similar to #2513. Ideally, every nullity check on String should be turned into a LangUtils.isBlank/isNotBlank

[2021-01-20 14:42] stolp commented on #6860
I actually agree with @Rapster's comment about the consistent use of Util-Classes, but from back experience this is also a great opportunity to introduce hidden bugs at a late stage.

And to add my two cents: As commons-lang is basically partly reimplemented here, I think that the seperation between StringUtils, CollectionUtils etc. should be applied to LangUtils as well. But maybe this has been d

[2021-01-20 14:48] melloware commented on #6860
@Rapster I totally agree.  @Stolp we still have RC2 so even though its late its not like 10.0 isn't being release final until end of Feb.

[2021-01-20 14:50] tandraschko commented on #6860
we will apply it after 10.0 Final, no need to apply cosmetics now

[2021-01-20 14:50] melloware opened #6865 "Build: Get Maven deploy release working properly"
**Description**
Assigning to myself to make sure we can do `mvn clean deploy -Prelease` to cut releases.

[2021-01-20 16:08] christophs78 opened #6866 "SelectOneMenu: regression due to today´s changes?"
see https://github.com/primefaces-extensions/primefaces-integration-tests/runs/1736016093?check_suite_focus=true

[code]

[code]

[2021-01-20 16:31] melloware commented on #6866
I think its a caching issue on GitHub Actions.  Once we put PF back to 10.0-SNAPSHOT I will try the Integration tests again.  Right now its set for 10.0-RC1 so its not building the SNAPSHOT and using an old SNAPSHOT.

[2021-01-20 18:58] melloware opened #6867 "DatePicker: Widget methods to line up with Calendar"
**Description**
While writing integration tests I realized we need 4 widget methods to bring the DatePicker inline with Calendar.

| show() | - | void | Show the overlay panel
| hide() | - | void | Hide the overlay panel
| disable() | - | void | Disables calendar
| enable() | - | void | Enables calendar

[2021-01-20 21:01] melloware opened #6868 "TimeLine: Using CSP breaks JS"
**Describe the defect**
Using timeline with CSP=true is failing Integration Tests and this was proven locally.

![image](https://user-images.githubusercontent.com/4399574/105234036-a3d6ed80-5b38-11eb-9564-c05dab9a425c.png)

**Environment:**
 - PF Version: _10.0.0-rc1_

This is because the "standalone" vis-timeline build must be used.

See: https://github.com/visjs/vis-timeline#standalone-build

[2021-01-20 21:06] #6868 closed, assigned to melloware, buunsal

[2021-01-20 21:07] melloware commented on #6858
@squores you might need to use my updaetd Timeline 7.4.6. in the Elite 8.0.7 release or it breaks people using CSP.

[2021-01-20 21:07] melloware commented on #6868
CC @sqores

[2021-01-20 21:33] melloware commented on #6866
Yep this was just a caching issue on the server.  Fixed once I put the 10.0.0 SNAPSHOT back

![image](https://user-images.githubusercontent.com/4399574/105243526-2e215080-5b3d-11eb-96da-b41dec5a8551.png)

[2021-01-20 21:33] #6866 closed, assigned to melloware

[2021-01-20 22:53] Rapster commented on #6834
Reproduced

[2021-01-21 08:13] jepsar opened #6870 "BreadCrumb: should not render separators in HTML"
It does not comply with WAI-ARIA. See https://www.w3.org/TR/wai-aria-practices/examples/breadcrumb/index.html

The separators are part of the visual presentation that signifies the breadcrumb trail, which is already semantically represented by the nav element with its label of Breadcrumb. So, using a display technique that is not represented in the accessibility tree used by screen readers prevent

[2021-01-21 09:08] tuerker opened #6872 "DataTable: column field based on array-valued iteration"
I have a lot of generic data tables (based on native queries delivering `List<Object>`) with columns of the following form, where `entity` is the name of the iteration variable and the columns are the values of that array-valued entity:

[code]
Currently, i do not see how to use the new field notation in this case. So the following (with or without the square brackets) does not work :

[code]
How

[2021-01-21 09:20] tuerker opened #6873 "DataTable: default headerText based on field"
It would be cool if you could further extend the datatable column field concept such that you can use p:column without the necessity to provide a headerText:

`  <p:column field="name" />
`

instead of

`  <p:column field="name" headerText="Name" />
`

or

`  <p:column field="name" headerText="#{messages.nameLabel}" />
`

In this default case, when the headerText attribute is missing, the headerTe

[2021-01-21 10:08] ghost opened #6874 "DataView: DataViewRenderer.encodeListLayout skips code if pageSize is greater than the number of elements"
**Describe the defect**
The method **encodeListLayout** will end abruptly if the pageSize is greater than the number of elements in the dataView.

Thus, writer.endElement("ul") and dataview.setRowIndex(-1) will not be called.
This leaves the rowIndex at an invalid position that is not within the range of elements in the DataView.

**Reproducer**
I don't have a reproducer; simply compare DataView.e

[2021-01-21 10:47] ghost opened #6876 "DataView: "No records found." message missing if the DataView has no elements"
**Describe the defect**
If a DataView (GridLayout and/or ListLayout) has no elements in it, the message "No records found." should be displayed.

![2021-01-21 11_35_34-PrimeFaces Test](https://user-images.githubusercontent.com/1710231/105340538-501edf80-5bde-11eb-8c81-6bba22b67052.png)

**Reproducer**
[primefaces-reproducer.zip](https://github.com/primefaces/primefaces/files/5848666/primefaces-rep

[2021-01-21 11:07] tandraschko commented on #6872
thats a question for @Rapster

[2021-01-21 11:14] fanste commented on #6856
Well.. until now i guess :D But thats not that a big deal, as there is a not that ugly workaround. So this is just for documentation in case someone has the same problem and stumbles accros this comment:

`The class 'org.primefaces.component.outputlabel.OutputLabel' does not have the property 'xxx'.`
[code]

**Solution:**
Set the `binding` attribute and use that instead of `#{component}`.
[code]
T

[2021-01-21 11:19] Rapster commented on #6872
Issue tracker is meant for issues or features purposes, otherwise please use forum and ping me on discord. Can you provide a reproducer of your first sample please?

[2021-01-21 11:51] tuerker commented on #6872
@Rapster here is the reproducer.

[p-datatable-field.zip](https://github.com/primefaces/primefaces/files/5849037/p-datatable-field.zip)

when you comment out the second table, you will see the working one.

[2021-01-21 12:46] milansie opened #6877 "SelectOneMenu: Align width of overlay panel with input"
**Description**
Overlay panel of p:selectOneMenu is changing size (width) according to size of values (width could be even wider than the screen size). There is an option 'autoWidth', but it works in opposite way - it extends width of input by size of values.

**Describe the solution you would like**
It would be nice, if there will be an options to fix overlay width with input width.
Solution may

[2021-01-21 14:00] Rapster commented on #6872
Since var is no pojo, there is no field

[2021-01-21 14:19] tuerker commented on #6872
This is not an urgent issue since there is a working solution. However, in the long run it would be good if non-pojo vars could be consistently used with the field attribute.

[2021-01-21 14:23] #6872 closed, assigned to nobody

[2021-01-21 14:26] Rapster commented on #6876
I encourage you to make a PR 😉

[2021-01-21 14:28] melloware commented on #6876
Yep you should be able to look at what DataTable is doing for empty records.

[2021-01-21 14:30] ghost commented on #6876
OK, I'm on it 👍

[2021-01-21 14:44] serial389 commented on #6561
I just tested your last pull request and the keyboard target `div` tag is still in the tab sequence.
When you tab into the menubar the focus is still first on the keyboard target `div` tag.
The job of a screen reader is to tell the user what he can do on this web element when it has focus.
But since in this case it is a `div` tag the screen reader will only say something like “tab able web element

[2021-01-21 16:15] tuerker opened #6879 "DataTable: set default column filter match mode"
@Rapster In all our table tables we are using the filter match mode "contains". It would be great if one could to set the default filter match mode to something else than startsWith for all data tables. This could be a config parameter in web.xml, for instance.
Any solution would be appreciated. Many thanks in advance.

[2021-01-21 16:24] Rapster commented on #6879
See https://primefaces.github.io/primefaces/10_0_0/#/core/globalattributes?id=global-attributes

[2021-01-21 16:24] #6879 closed, assigned to nobody

[2021-01-21 17:43] Rapster commented on #6879
I wish there could was a way more straightforward to override this default properties like a properties file but I think it's been decided in the past to stick to java

[2021-01-21 19:31] tuerker commented on #6879
thanks for the hint.

by the way: this is unfortunately a very uncomfortable solution. would be great if this solution could be reviewed. at least there should be a properties file from which this java code is generated.

[2021-01-21 19:35] melloware commented on #6879
@tuerker that is just an example how to do it.  There is nothing stopping you from writing a custom `createComponent` in the `ApplicationWrapper ` that reads from a properties file etc.   This is pure JSF and not even PrimeFaces.

This gives you a hook to do something before every single component is created.

[2021-01-21 20:41] melloware commented on #6868
For **charlietran1986**

Download and unzip this:
[pf-csp.zip](https://github.com/primefaces/primefaces/files/5852029/pf-csp.zip)

Run `mvn clean jetty:run` and go to http://localhost:8080/primefaces-test/test.xhtml

[2021-01-21 23:39] brooksie opened #6880 "Picklist: buttons rotated when used in a dialog"
When the picklist component is included in a dialog, the button to add/remove etc. are rotated by 90 degrees. i.e instead of pointing left/right/ they point up/down. Please see the picture:
![PF picklist in dialog issue](https://user-images.githubusercontent.com/4806551/105425024-737a7680-5c40-11eb-97fa-9b454c3ef9fd.png)
Note that the issue ony occurs where a dialog is being used. On a normal page

[2021-01-22 00:21] melloware commented on #6880
Thank you for the reproducer. I will let you know what I find out.

[2021-01-22 07:46] JuanMiguelBG commented on #6768
I experienced the issue in 8.0.6 and 7.0.18 too with both Chrome a Firefox. I've been to revert to 8.0.5 and 7.0.17 versions.

[2021-01-22 08:28] #6867 closed, assigned to melloware

[2021-01-22 09:46] tuerker commented on #6485
@melloware this issue is actually fixed. i must have been ony a "older" snapshot where the full calendar fix not yet included. i move d now to `<version.primefaces>10.0.0-rc.1</version.primefaces>`. there the problem is gone.

[2021-01-22 09:49] tuerker commented on #6485
@melloware i wanted to apply my reproducer above to that version 10.0.0-rc.1. however, i am getting following error. so something must have changed here?

[code]

[2021-01-22 09:51] tandraschko commented on #6485
omega has been removed, i will add it to the migration guide

[2021-01-22 09:54] tandraschko commented on #6485
and the correct version is "10.0.0-RC1"

[2021-01-22 09:57] tuerker commented on #6485
thanks for the hints. the primefaces pom.xml has the following entry from where i copied it:

`   <version>10.0.0-rc.1</version>`

[2021-01-22 10:01] tuerker commented on #6485
set theme to none and the reproducer works now again. many thanks again for your great responsiveness.

[2021-01-22 10:10] tuerker commented on #6485
@tandraschko i've seen that you have now changed the version to `10.0.0-SNAPSHOT`. it was `10.0-SNAPSHOT` before. it this change intended?

[2021-01-22 10:12] tandraschko commented on #6485
just check the history of pom.xml ;)

[2021-01-22 10:15] tuerker commented on #6485
i see. it was also changed last week.

[2021-01-22 10:15] melloware commented on #6485
Yep we are moving to semantic versioning. So 10.0.0 will be final release

[2021-01-22 11:46] melloware commented on #6768
Yep this will be fixed in 8.0.7 and 7.0.19

[2021-01-22 11:53] #6874 closed, assigned to nobody

[2021-01-22 11:53] #6876 closed, assigned to nobody

[2021-01-22 12:07] melloware commented on #6880
@mertsincan I can confirm this looks like theme issue in all premium themes including the new Saga Vela Arya themes in PF 10.0.

[2021-01-22 15:48] morvael opened #6881 "Ajax requests don't work as expected"
**Describe the defect**
Components which were working without problems in 8.0.3 suddenly became non-functional in 8.0.6. Both AutoComplete and SelectOneMenu are affected. AutoComplete does not set the selected value in view bean. SelectOneMenu won't show dropdown even though disabled property tied to item availablity shows values are not empty and the drop down should appear. Without any changes i

[2021-01-22 15:49] melloware commented on #6447
If you need this fix now just add this JS to your app...

[code]

[2021-01-22 15:51] melloware commented on #6881
Yep will be fixed in 8.0.7.  You can read all about the fix and what is being reverted here:

https://github.com/primefaces/primefaces/issues/6700

[2021-01-22 15:52] #6881 closed, assigned to buunsal

[2021-01-22 16:28] astappiev opened #6882 "Menus: allow to use p:divider instead of p:separator in PF10"
**Describe the defect**
[code]

**Reproducer**
Replace `p:separator` (which was deprecated in PF10) with `p:divider` in this example
https://www.primefaces.org/showcase/ui/menu/menuButton.xhtml?jfwid=b7b31

**Environment:**
 - PF Version: 10-RC1

[2021-01-22 16:31] melloware commented on #6882
Good idea let me look.

[2021-01-22 17:05] melloware commented on #6882
Showcase updated and this fix makes it work for all menus.

https://github.com/primefaces/primefaces-showcase/pull/297

[2021-01-22 17:56] #6865 closed, assigned to melloware

[2021-01-22 18:50] niravpradhan opened #6884 "Primefaces X unable to run with Jakarta EE 9 compatiable server glassfish 6"
I tried to use primefaces x with jarkarta ee 9 compatiable server glassfish n got the ava.lang.NoClassDefFoundError: javax/servlet/ServletRequestListener.

With Jakarta EE 9, the namespaces is changed from javax to jakarta.
So primefaces is not compatible with Jakarta Server Faces 3.0 but as per the primefaces x documentation, it says its compatible.

![image](https://user-images.githubusercontent

[2021-01-22 18:56] melloware commented on #6884
Are you using the right JAR with the `jakarta` classifer?
[code]

[2021-01-22 19:04] niravpradhan commented on #6884
I am using the gradle build tool with following dependency

implementation "org.primefaces:primefaces:${primefaces_version}"

where primefaces_version = 10.0.0-RC1

after using below, its working. Thank you for the help. Sorry raising the non-issue.
implementation "org.primefaces:primefaces:${primefaces_version}:jakarta"

[2021-01-22 19:05] #6884 closed, assigned to nobody

[2021-01-22 19:31] melloware commented on #782
DataView does have resorting https://www.primefaces.org/showcase/ui/dnd/dataView.xhtml?jfwid=b083a

[2021-01-22 19:31] #782 closed, assigned to nobody

[2021-01-22 19:56] melloware opened #6885 "TypeScript: Updates"
**Description**
@blutorange Before 10.0.0 final is released i wouldn't mind some help with a few things.

1. A review of our current TypeScript stuff.

2. I tried to do `npm update` to update the libs and it did but got all kinds of ESLINT issues I didn't understand.

3. I think we want to update `package.json` to Timeline 7.4.6 and FullCalendar 5.5.0 but was also getting errors I didn't understan

[2021-01-22 20:04] blutorange commented on #6885
Yeah, I did notice 10.0 was just around the corner. Didn't have much time lately, but I will take some time this weekend. I already started fixing a few errors in the TypeScript definition. Will also take a look at what you mentioned.

I'm looking forward to v10 :)

[2021-01-22 20:06] melloware commented on #6885
Yep 10.0.0-RC1 was released today to Maven Central so you can give it a try.  And I really appreciate the help.  I have been doing a good job of trying to keep the TypeScript stuff correct but these errors were stumping me.

[2021-01-23 13:27] melloware commented on #2802
Because we have been burned by this two times upgrading QuillJS I wrote an Integration Test so it will catch this if someone upgrades QuillJS in the future and doesn't apply this patch!

See: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/bc006410febbea49114f22309977e1a92b7c2d80

[2021-01-23 14:01] jepsar commented on #6870
Also, the themes still use `ul` instead of `ol`. I think, one I've fixed the HTML, we need a new issue to fix the themes / CSS.

[2021-01-23 14:59] mertsincan opened #6887 "PickList: PrimeOne search-icon hides actually clickable input"
Details; https://github.com/primefaces/primefaces-showcase/issues/273

[2021-01-23 15:00] #6887 closed, assigned to mertsincan

[2021-01-23 16:09] mertsincan opened #6888 "Radio/Checkbox: Missing ui-state-error in Premium/PrimeOne themes"
Details; https://github.com/primefaces/primefaces-showcase/issues/253

[2021-01-23 16:09] #6888 closed, assigned to mertsincan

[2021-01-23 16:20] #6882 closed, assigned to melloware

[2021-01-23 21:26] mertsincan commented on #6880
<img width="739" alt="Screen Shot 2021-01-24 at 00 23 28" src="https://user-images.githubusercontent.com/11868120/105614463-ad7f8000-5dda-11eb-995c-681319acaa38.png">
I couldn't replicate it on RC1. For now, close ;)

[2021-01-23 21:53] #6870 closed, assigned to jepsar, mertsincan

[2021-01-23 22:02] melloware commented on #6880
@mertsincan I can reproduce with this reproducer using SAGA theme with 10.0.0-SNAPSHOT the latest code.

[pf-6880.zip](https://github.com/primefaces/primefaces/files/5861158/pf-6880.zip)

Just run "mvn clean jetty:run" and navigate to http://localhost:8080/primefaces-test/test.xhtml

![image](https://user-images.githubusercontent.com/4399574/105615188-b4879d80-5d9c-11eb-9f2d-7cae0ab87276.png)

[2021-01-23 22:03] melloware commented on #6870
@mertsincan I still see in the themes.css you using `ul` and not `ol` the new ordered list?

[2021-01-23 22:19] mertsincan commented on #6870
@melloware I added .ui-breadcrumb-items class to 'ol' tag. If we make a different change in the future, we can proceed without breaking the theme over existing classes instead of tags.

Note: For 'ul' tag, all our themes are now produced from PF designer. That's why we have to ensure backward compatibility.

[2021-01-23 22:33] #6880 closed, assigned to mertsincan, buunsal

[2021-01-23 22:41] mertsincan commented on #5781
Yes, deprecated ;) We can remove Font Awesome icons from all Premium layouts up to version PF11.

[2021-01-23 23:00] mertsincan commented on #6834
@Rapster @melloware Could you please check it again? I think this issue has been fixed. Thanks a lot ;)

[2021-01-23 23:15] Rapster commented on #6834
Still there

[2021-01-23 23:24] melloware commented on #6834
@Rapster can you provide a small reproducer?  I am not seeing the issue either?

[2021-01-23 23:27] Rapster commented on #6834
showcase, datatable selection with checkboxes

[2021-01-23 23:38] Rapster commented on #6834
![selection](https://user-images.githubusercontent.com/7521311/105617066-845fef00-5ddc-11eb-8a46-331a65989e43.gif)

[2021-01-23 23:39] Rapster commented on #6834
Or is it expected to be that way?

[2021-01-24 00:04] melloware commented on #6834
Yeah mert commented this is because of Ui-state-focus and thinks it supposed to be that way and wanted to discuss on Discord

[2021-01-24 00:26] GedMarc commented on #6834
nooooooo that is definitely wrong, this would create havoc on many of our applications, and I somehow see our resolution to fix it will be "deal with it" - check boxes must select and tick on click

[2021-01-24 00:28] melloware commented on #6834
Yeah I think if it checked it should have one style.  And not have focus make a difference

[2021-01-24 02:02] tandraschko commented on #6834
it should be different when selected and selected+focus.
Same background, but focus should highlight it with another border.
This makes 3 different selectors:
.ui-state-focus
.ui-state-active
.ui-state-active.ui-state-focus

[2021-01-24 02:19] blutorange commented on #6885
Just a quick update: I resumed work on my branch which I had started in December. I fixed some typings, updated all dependencies.

I also updated TypeDoc, which had some fixes and now organizes files in modules. This changes the URLs to the JSDoc  so I need to update to docs and the showcase to account for that. Tomorrow I'll merge the master into my branch and take a look at the recent changes to

[2021-01-24 04:20] melloware commented on #6885
Excellent work. Looking forward to it

[2021-01-24 09:52] blutorange commented on #6885
@melloware  Another thing I'd like to ask: I"m already using the type declarations file in a project where I needed to create custom widgets and write additional client-side code. The project uses TypeScript to check all code, which helps when updating PrimeFaces and the API changes. Right now I've just copied the declarations file, which is hard to maintain -- it would be great if I could just fe

[2021-01-24 12:17] melloware commented on #6885
I can ask PrimeTek on the Discord channel.  They already publish to NPM for React NG etc so hopefully it will be no big deal.

[2021-01-24 12:21] melloware commented on #6885
OK I asked them and I showed them your instructions which make it super easy to just put in their user and token in a Maven command.  I will let you know what they say.

[2021-01-24 13:37] tuerker opened #6890 "DataTable: exports do not work with field"
@melloware @Rapster The datatable exporter seems not work with the new column field attribute notation if i have not missed any additionally required adaptations.

Just add the following column to /showcase/ui/data/dataexporter/basic.xhtml to verify:

[code]
The exporter delivers empty fields for such a column.

[2021-01-24 14:47] melloware commented on #6890
Let me investigate. Thanks for reporting.

[2021-01-24 15:32] melloware commented on #6890
I can confirm its definitely an issue.

[2021-01-24 15:36] charlie1986 commented on #6868
I have created new Enable command button to enable back input text, but the browser console still throws such error.
[pf-csp.zip](https://github.com/primefaces/primefaces/files/5862549/pf-csp.zip)

[2021-01-24 15:55] melloware commented on #6868
Just tried your reproducer. Its because there is no "enable" script in test.js.  So there is no function to call unless I am not seeing it?

[2021-01-24 16:06] melloware commented on #6868
Ahh you are disabling too much. You can't disable hidden inputs like ViewState or you break JSP. I tweaked your example so now it works...
[pf-csp-working.zip](https://github.com/primefaces/primefaces/files/5862608/pf-csp-working.zip)

[2021-01-25 08:55] christophih commented on #6881
Who knows when v8.0.7 is released?

[2021-01-25 08:57] tandraschko commented on #6881
@mertsincan @sqores

[2021-01-25 09:13] mertsincan commented on #6881
Today. I am currently doing some tests.

[2021-01-25 09:35] ViserMail opened #6893 "p: outputPanel deferred = "true" deferredMode = "visible" inside p: datatable loads content that is off-screen immediately"
p: outputPanel deferred = "true" deferredMode = "visible" inside p: datatable loads content that is off-screen immediately, although the documentation says that deferredMode = "visible" only activates p: outputpanel after scrolling when it is within the screen. If p: outputPanel deferred = "true" deferredMode = "visible" is placed outside p: datatable, everything works correctly. The problem start

[2021-01-25 09:37] tandraschko commented on #6893
please provide a runnable primefaces-test fork, we dont have _csrf or myBean.

[2021-01-25 09:48] ViserMail commented on #6893
Just put <p: outputPanel deferred = "true" deferredMode = "visible"> in any p: datatable and you will see that defered doesn't work correctly. myBean was for example, I don't have it either.

[2021-01-25 09:51] tandraschko commented on #6893
yeah but thats the contract ;D you provide a runnable example, so that we dont need to try to reconstruct your case, and we check the bug for you.

[2021-01-25 10:55] ViserMail commented on #6893
I will provide you myBean and remove the _csrf is that enough?

[2021-01-25 11:08] tandraschko commented on #6893
we need a runnable xhtml+bean, which doesnt have any dependencies like repositories, entities etc.
you can also remove _csrf from the sample and dont provide it, we just need a minimal example.

[2021-01-25 12:33] #6885 closed, assigned to blutorange, melloware

[2021-01-25 12:35] melloware commented on #6885
Fantastic work!

[2021-01-25 12:38] melloware commented on #6893
@ViserMail Just fork this project: https://github.com/primefaces/primefaces-test

That strips everything away and allows you to create us a small reproducer so we can debug.  If not the ticket will be closed.

[2021-01-25 12:52] melloware commented on #6327
Now that 10.0.0.RC1 is released you can now use AJAX filedownload and this Safari issue is resolved.

[2021-01-25 13:07] #6890 closed, assigned to melloware

[2021-01-25 13:22] melloware commented on #6873
I like this idea.  I have some production code that already does this let me submit a PR for review.

[2021-01-25 14:49] tuerker commented on #6890
@melloware: this fix does not work me. see my example:

![Screenshot from 2021-01-25 15-38-50](https://user-images.githubusercontent.com/10051373/105720417-b465da00-5f23-11eb-8f01-00f4bb0a4810.png)

delivers the following "broken" csv:

![Screenshot from 2021-01-25 15-43-22](https://user-images.githubusercontent.com/10051373/105720800-22120600-5f24-11eb-8944-e3ed99d5b2fe.png)

with the following e

[2021-01-25 14:52] melloware commented on #6890
Nothing has changed as far as writing goes so this looks like your Stream is being closed by your container...

Working fine for me locally.  If you can put together a PF Test reproducer I can debug it.  But it looks like a different issue

[2021-01-25 14:55] tuerker commented on #6890
before the fix, all exports were working but only the columns using the field notation were empty. now, it is really "broken".

i will try to find out when it is not working and to come with a reproducer.

[2021-01-25 15:02] melloware commented on #6890
Yep let me know if you can reproduce it

[2021-01-25 15:05] tuerker commented on #6890
i am step further. it looks like that it is a type conversion problem. with string columns it works, but with other type not.

[code]

[2021-01-25 15:05] melloware commented on #6890
Got it. I think I know what it is.

[2021-01-25 15:17] tuerker commented on #6890
i see, you got it alread. just to let you know. it is definitively an type coversion issue:

this one does not work (id is Long field; idString delivers its string representation):
[code]

while this one does:
[code]

so as soon as the field is not a string field, the problem occurs.

[2021-01-25 15:21] melloware commented on #6890
OK I fixed it if you want to try again.  I had only tested String fields not realizing that Objects could be returned.

[2021-01-25 15:36] tuerker commented on #6890
great. now it works. many thanks.

[2021-01-25 16:23] mossaab0 opened #6896 "ScheduleEvent: Builder<Object> cannot be converted to Builder<String>"
**Describe the defect**
I'm upgrading from 8.0 to 10.0.0-RC1 (in a JoinFaces project). My IDE issues the warning indicated in the subject, and I can no longer compile my project.

A code snippet similar to the one below (I'm using my own custom class instead of String) used to compile just fine. But it's not compiling anymore with 10.0.0-RC1.

[code]

**Environment:**
- PF Version: 10.0.0-RC1
- JS

[2021-01-25 16:33] melloware commented on #6896
I think this might be change that did it: https://github.com/primefaces/primefaces/issues/6108

What happens if you do this:
[code]

[2021-01-25 16:35] mossaab0 commented on #6896
This works, and am happy with it. Closing. Thanks!

[2021-01-25 16:35] #6896 closed, assigned to nobody

[2021-01-26 09:21] #6873 closed, assigned to melloware

[2021-01-26 10:11] tuerker opened #6897 "DataTable: support Converter#forClass for field shorthand notation"
@melloware @Rapster It seems that the field notation ignores existing faces converters.
I am seeing this for LocalDateTime fields.

[code]
delivers field values of the default LocalDateTime pattern, e.g. 2021-01-22T09:02:43.147

while in case of
[code]
the field values are actually converted using the existing converter, e.g. 2021-01-22 09:02.
my converter is defined as follows:

[code]

I am not

[2021-01-26 13:36] fanste opened #6898 "OutputLabel: Don't show required indicator, if input component is disabled"
**Description**
Currently the required indicator of `p:outputLabel` is always visible (in auto-mode) if the referenced input component is disabled. Currently I have to manually either set the `required=false` based on disabled or `indicateRequired` from `auto` to `false` based on the disabled-state.

(`disabled` could be replaced with `readonly` which has the same effect)

**Describe the solution

[2021-01-26 13:40] fanste commented on #6898
If accepted at all: I will prepare a PR, if we simply change the default implementation of `auto`. Otherwise I will set it to my TODO as soon as I have time for it.

Waiting for your feedback.

[2021-01-26 13:41] christophih commented on #6881
Sorry :-), same question again: is the release done today?

[2021-01-26 13:43] melloware commented on #6898
I added integration tests showing the current behavior.

https://github.com/primefaces-extensions/primefaces-integration-tests/commit/7c97151a94e1299e365fd7cd31b550bfe84c3bce

[2021-01-26 13:45] melloware commented on #6898
I can see Disabled removing the * but for ReadOnly that is still submitting the value in the form right so technically its required still?

[2021-01-26 13:46] melloware commented on #6881
I just looked in my PrimeStore account and 8.0.7 is there!

[2021-01-26 13:47] tandraschko commented on #6898
syncRequiredIndictor is to much magic IMO.

IMO the current behavior isnt wrong. The field can be required but currently not ediable during other inputs in the form.

If you would like to disable it, we should add a new attribute like: skipRequiredIndicatorOnDisabledInput

[2021-01-26 13:51] christophih commented on #6881
thanks, after login the link is visible - thanks!

[2021-01-26 14:08] tandraschko commented on #6898
or we make
indicateRequired=true|false|auto|autoSkipDisabled

[2021-01-26 14:10] fanste commented on #6898
`disabled` and `readonly` are normally handled the same way internally -> do not decode the submitted value. Everything else would be the wrong behaviour IMO, as the logic say "nothing will/should change due to disabled/readonly" but then the new value is decoded and changes the state.

The feature request is based on a requirement from a collegue who must not show the indicator if the field is no

[2021-01-26 14:14] tandraschko commented on #6898
I would call it autoSkipDisabled and also check readonly there?

[2021-01-26 16:05] melloware commented on #6897
Another good one @tuerker !

[2021-01-26 16:11] flashboss commented on #6788
cool... will the 10 version be compliant with jakartaee 9?

[2021-01-26 16:14] tandraschko commented on #6788
it is, check the docs (https://primefaces.github.io/primefaces/10_0_0/#/gettingstarted/download), readme or google pls next time.

[2021-01-26 16:18] melloware opened #6899 "Themes: Reduce size"
**Description**
I use the Theme Designer for our clients and we noticed we can reduce the theme.css generated from 250KB down to 150KB with a simple change to how the icons are declared.  Assigning this to @mertsincan for review since he is the CSS expert and Theme master.

**Describe the solution you would like**
Change the icon declaration to DRY principal (Dont repeat yourself).

**Current mixi

[2021-01-26 17:51] melloware commented on #6898
Yep my vote is for `indicateRequired=true|false|auto|autoSkipDisabled` and to check both readonly and disabled.

[2021-01-26 19:04] melloware commented on #6873
I modified one of the Integration Tests to use fields and to check this use case:

https://github.com/primefaces-extensions/primefaces-integration-tests/commit/e0de119d1664debdc753616163cae5b74a577d0a

[2021-01-26 19:30] melloware commented on #5126
I think this should be done with the new Divider class like ...

[code]

[2021-01-26 20:04] melloware commented on #3551
This fix as way simpler than we made it out.  Basically the row selected index gets set back to NULL on every update.  By only initializing it to NULL when the table is created but ignoring it up updates it allows the above use case to work just fine.

[2021-01-27 07:24] jthalmai commented on #3551
Will this work if the index of the selected entry changes after the update, e.g. if there is a new entry on top?

[2021-01-27 09:34] Rapster commented on #6897
It's kinda Christmas for you lately 😋

[2021-01-27 12:25] melloware commented on #3551
@jthalmai I tested with the test case listed in this ticket but feel free to try it yourself.  Just add this JS code to your application.
[code]

Please report back if its working

[2021-01-27 12:52] buunsal opened #6902 "Timeline: Calling move()/zoom() functions on timeline does not fire rangeChanged event"
When using the move/zoom buttons on timeline as per the example here [https://www.primefaces.org/showcase/ui/data/timeline/custom.xhtml?jfwid=fbbab](url)
the rangeChanged ajax event does not get fired.

[2021-01-27 13:18] melloware commented on #6902
Related to #5455   verified my PR still works for this use case and for #5455.

[2021-01-27 13:31] #6902 closed, assigned to melloware

[2021-01-27 14:49] fanste commented on #6898
Alright, added it to my TODO.

[2021-01-28 12:36] tuerker opened #6904 "DataTable: MatchMode "global""
There is an inconsistency in the code. The filter match "global" still exists in

[code]

while it is not used anymore in

[code]

I do not really need "global". Just migrated all "global" to "exact".

Nevertheless, i would be good to drop a note if this is not already done somewhere in the migration guide.

Thanks and regards.

[2021-01-28 12:46] melloware commented on #6890
@tuerker My latest fix also converts the values in the Exporter so your LocalDateTime example should now export in your expected format as well.

[2021-01-28 12:51] tuerker commented on #6897
Works. Many thanks.

[2021-01-28 13:03] tuerker commented on #6890
@melloware this is unfortunately not the case (if this fix is merged into the master)

[code]

![Screenshot from 2021-01-28 14-04-36](https://user-images.githubusercontent.com/10051373/106142546-ea989900-6171-11eb-845c-506be5fd1cea.png)

![Screenshot from 2021-01-28 14-05-10](https://user-images.githubusercontent.com/10051373/106142571-f1271080-6171-11eb-802c-9c346244c603.png)

[2021-01-28 13:13] melloware commented on #6890
Are you positive you rebuilt the SNAPSHOT correctly?  Because I am calling the exact same code @Rapster wrote that is displaying in the column so the Exporter is calling the exact same converter code.

[2021-01-28 13:16] tuerker commented on #6890
Yes but I will check it again and let you know.

[2021-01-28 13:17] ReinhardAT opened #6906 "Menu: wrong calculated position with overlay="true""
Same defect as #4536. Defect was solved in 7.x but comes back with 8.0

## 1) Environment
PrimeFaces version: 8.0.4
Application server + version: TomEE 8.0.4
Affected browsers: All

## 2) Expected behavior
Calculated position of tag p:menu (overlay="true") on p:dialog is not dependent on the position of the scroll bar main window.

## 3) Actual behavior
Calculated position of tag p:menu (overlay="

[2021-01-28 13:23] tuerker commented on #6890
Actually i pulled the master shortly before your last merge 30 minutes ago.

So, actually it works. Many thanks again.

[2021-01-28 13:24] melloware commented on #6890
thanks for testing. I was hoping you would say that!

[2021-01-28 13:27] tuerker commented on #6890
@melloware I brought also up the idea to map fields without headerText to the corresponding messages.property.

Thus writing

[code]

would be a shortcut for

[code]

Wdyt?

[2021-01-28 13:29] tuerker commented on #6890
or by using an additional attribute to do that mapping by default. my goal would be to reduce the potential inconsistencies.

[2021-01-28 13:54] jthalmai commented on #3551
Unfortunately it does not work in that case. It remembers the old selected index now, so it only works as long as the index does not change.
E.g. if old index was 2 and after the update the selected column is at index 3. The entry is initially marked correctly as selected, but when you shift-click index 4 then 2-4 are selected afterwards.

[2021-01-28 14:09] melloware commented on #6890
I don't think core PF should do that.  But you can do it easily with something like this totally untested example code...

https://primefaces.github.io/primefaces/10_0_0/#/core/globalattributes

[code]

Then in your resource bundle have...
[code]

[2021-01-28 14:14] melloware commented on #3551
Ahh your example in the first post doesn't show that. I did exactly what your steps told me to do.  So if your rows change underneath it would have to refind all the rowkeys and try and match it all up again.  YUCK.  closing my PR.

[2021-01-28 14:21] Rapster commented on #6904
`MatchMode#GLOBAL` is still used but works differently from the others, see `FilterMeta#of` and `GlobalFilterConstraint`

[2021-01-28 14:21] #6904 closed, assigned to nobody

[2021-01-28 14:24] jthalmai commented on #3551
I guess so, just as it probably does for the selection itself.

[2021-01-28 16:01] melloware commented on #6906
Reproducer:
[pf-6906.zip](https://github.com/primefaces/primefaces/files/5888462/pf-6906.zip)

Confirmed happening in 8.0 and 10.0.0.RC1

[2021-01-28 16:05] melloware commented on #6906
it looks like it was caused by this issue: https://github.com/primefaces/primefaces/issues/5035

[2021-01-28 16:20] melloware commented on #5035
@astappiev I have attached this reproducer.  This ticket was reported as causing a regression in #6906.

Here is a reproducer you can run with `mvn clean jetty:run` and see that #6906 is broken again.  Can you please update this reproducer or give me an example of your original use case that was not working?  Or else I will have to revert this fix.

Reproducer:
[pf-6906.zip](https://github.com/pri

[2021-01-28 16:23] melloware commented on #6906
If you need this fix right now just add this code to you app:
[code]

[2021-01-28 17:09] melloware commented on #4135
@OBreidenbach Do you care to share your response writer here please?

[2021-01-28 17:57] astappiev commented on #5035
Yes, looks like my "fix" creates regression, I also can see menu detached from modal, but we don't use any menu in modals :(

Here are an example and a reproducer of my issue (it uses the method as it was in PF 7, without my fix, see `test.js`).

![l9JLgteUkC](https://user-images.githubusercontent.com/4512729/106178048-943f5080-6199-11eb-8103-aa85a59234c4.gif)

[pf-example.zip](https://github.com/

[2021-01-28 18:07] astappiev commented on #5035
First, it may look like that it is because of padding in the button, but if you change or remove it, the menu position is still shifted for 1 rem.

Also with my fix, the position of the menu is sometimes out of the screen, as I [mentioned before](https://github.com/primefaces/primefaces/issues/5035#issuecomment-517256895) it happens when some width is decimal as a result of `calc()` method. Just a

[2021-01-28 18:13] melloware commented on #5035
Yep thanks for the test case let me see if I can fix both use cases.

[2021-01-28 18:24] melloware commented on #5035
OK latest PR fixes both use cases.

[2021-01-28 19:33] melloware commented on #6902
Integration tests added for this so we catch it in the future if someone removes this code or changes it.

https://github.com/primefaces-extensions/primefaces-integration-tests/commit/0ca0e0fdd5beb1fa4e7cdecd2edb242d8af7dba2

[2021-01-29 01:41] #5933 closed, assigned to mertsincan

[2021-01-29 06:57] jepsar commented on #6402
An issue was reported on https://discord.com/channels/787967399105134612/787975395793305601

Supposedly the `globalFilterFunction` is never called.

I used to test that with the showcase, but that example has been removed...

Edit: the issue seems to be more generic. Default global filtering also does not work.

[2021-01-29 06:59] jepsar commented on #6144
Just a comment to confirm this is still the case with PF10-RC1

[2021-01-29 07:35] ReinhardAT commented on #6906
Thanks a lot for the quick fix. It works for me.

[2021-01-29 07:40] tuerker commented on #6890
Thanks for the hint. I tried to add this code fragment to the ApplicationWrapper:

[code]

But the ApplicationWrapper is not the right do that since here the column field is not set yet, i.e., null at this point in time. I need to hook in this code fragment after the column field is set. It must be before your default replacement of the empty headerText by the field's value is done. I fear that th

[2021-01-29 08:04] fcjm opened #6908 "DefaultScheduleEvent: Remove ScheduleRenderingMode"
**Description**
Coming from the Migration Guide of FullCalendar (https://fullcalendar.io/docs/upgrading-from-v4) the "rendering" attribute has been replaced with the new "display" attribute. I am working on a project where we previously set the rendering attribute via the Enum "ScheduleRenderingMode" in combination with the builder function "renderingMode".

Since the "rendering" attribute does no

[2021-01-29 08:36] OBreidenbach commented on #4135
@melloware sure, no big deal. Why are you coming back to this ticket after over 2 years?
[code]
[code]
[code]

[code]

[2021-01-29 09:40] Rapster commented on #6890
Unless i'm mistaken, `Application#createComponent` is called during build time while var is set during render time, so not possible that way. Easiest way is to override `DataTable#getHeaderText`. But I would suggest creating a facelet tag (wrapping dataTable) that define a common way to display a dataTable, quite easy to handle default values and breaking changes.

Or, maybe using a ValueExpressio

[2021-01-29 10:26] fcjm commented on #6908
I made a pull request for the topic.

[2021-01-29 11:08] Rapster commented on #6402
Regression introduced by 47c582ddee39c598e3e441fc8c2a8ef00885db94. Looping over columns will never call globalFilter. @tandraschko should have an idea how to fix this

[2021-01-29 11:48] newk5 opened #6910 "DataTable: GlobalFilter no longer works with PF10"
I've tried the PF10 RC and I noticed global datatable filters no longer work.

To reproduce you can check out the showcase here: https://www.primefaces.org/showcase/ui/data/datatable/filter.xhtml?jfwid=8d219 which uses default filtering, but even when you have a method bound to the globalFilterFunction, that function is never called. I tested it in my application switching back and forth between P

[2021-01-29 11:58] jepsar commented on #6402
See also #6910

[2021-01-29 12:04] melloware commented on #4135
@OBreidenbach I think I might add this code in PFE for people to be able to enable with just...
[code]

My client is running our HTML through WCAG and is seeing this and asking "WHY?" and they don't like my answer. :)

[2021-01-29 12:07] OBreidenbach commented on #4135
Cool, good idea.

[2021-01-29 16:48] melloware commented on #6908
Much appreciated. This will hopefully get merged before RC2.

[2021-01-29 17:19] tandraschko commented on #4135
just to clarify as i dont understand this 2 different factories?

JSF/Java Server Faces API/Specs = javax:*
Jakarta Faces API/Specs = jakarta.*

Mojarra 2.3 = JSF impl
Mojarra 3.0 = Jakarta Faces Impl

MyFaces 2.3 = JSF Impl
MyFaces 3.0 = Jakarta Faces Impl

[2021-01-29 17:20] tandraschko commented on #4135
Therefor if we need to 2 different factories, they should be called Mojarra/MyFaces, not MyFaces/Jakarta, that doesnt make any sense.

Its even better to only have 1 factory and add if-else statements for myfaces/mojarra

[2021-01-29 17:23] tandraschko commented on #4135
And yes, the factory doenst need to extend a mojarra or myfaces class actually? Just check PrimeFaces, we have FactoryContextFactory there AFAIR

[2021-01-29 17:25] melloware commented on #4135
Let me look I assumed i needed to extend the factory.

[2021-01-29 17:33] melloware commented on #4135
Got it modeled after PrimeContextFactory now its just one class `Html5ContextFactory`.

[code]

[2021-01-29 20:39] edudoda commented on #2556
This defect was solved?
I noticed the same issue in a treeTable with scrollable="true.   I'm running Primefaces 8.0

[2021-01-29 20:47] melloware commented on #2556
This defect was solved if you have another please clone the PF Test project and provide a reproducer so we can debug it.

See: https://github.com/primefaces/primefaces-test

[2021-01-29 23:33] garcia-jj opened #6912 "FileUpload: Ajax Status is not working while using basic+auto upload"
The upload component with basic and auto options is not triggering the ajax status. I'm not sure if this component has been designed to trigger ajax status, but I guess this can be a good feature if has not been planned.

**Reproducer**
https://github.com/garcia-jj/primefaces-issue-upload-ajax

**Environment:**
 - PF Version: _10.RC1_
 - JSF + version: _e.g. Mojarra 2.2.
 - Affected browsers:  ALL

[2021-01-30 09:20] robtha opened #6913 "DataTable: Sort on ListTableModel fails with NPE"
DataTable Sort on ListDataModel fails with NPE - WrappedData List lost after sort order has been changed.
Using List instead of ListDataModel works.

**Environment:**
 - PF Version: _10.0.0-SNAPSHOT_
 - JSF + version: _Mojarra 2.3.14_
 - Java Runtime: 11.0.9.1

**Example Bean**
[code]

**Stacktrace**
[code]

[code]

[2021-01-30 12:41] melloware commented on #6912
I think the problem is right here:
https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/fileupload/3-fileupload.simple.js#L237

it has `global="false"` which tells it not to trigger the AJAX spinner.  Looks like this was intentional not sure why.

[2021-01-30 13:48] melloware commented on #6913
@robtha I just wrote and Integration test using `ListDataModel` and it pages, sorts, and filters the table and all of the tests are passing against `10.0.0-SNAPSHOT`.  See the test here: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/0ef2a61462a42ef42e6ad9dd367d5e7655ca048d

Can you create a reproducer for your issue because I can't seem to get an NPE.

[2021-01-30 16:05] melloware commented on #6893
closing unless OP comes back with a reproducer then we can reopen the ticket.

[2021-01-30 16:05] #6893 closed, assigned to nobody

[2021-01-30 17:25] #6908 closed, assigned to fcjm

[2021-01-31 10:46] robtha commented on #6913
@melloware  - thanks for your quick response. I am not very familiar with selenium tests but managed to modify your test to reproduce the problem.

The NPE occurs it the column references to a nested property and attribute _selectionMode_ is set to 'single'.

I have attached a patch for DataTableTest018 - hope this helps.

kind regards
robert

[2021-01-31 12:41] melloware commented on #6913
@robtha I don't see your patch attached here?  You may have to zip it first and attach the zip here.

[2021-01-31 13:16] robtha commented on #6913
@melloware sorry - did not recognize the upload warning

[DataTable_Sort_NPE_patch.txt](https://github.com/primefaces/primefaces/files/5899771/DataTable_Sort_NPE_patch.txt)

[2021-01-31 15:45] melloware commented on #6913
@robtha thank you.  @Rapster I can confirm this issue using the patch above and its a NULL being thrown inside the Lamba so the stack track is useless.

[code]

[2021-02-01 08:42] #6912 closed, assigned to melloware

[2021-02-01 08:48] tuerker opened #6915 "Avatar: support dynamic images (StreamedContent)"
It seems to be that one cannot directly use a byte[] image in p:avatar:

`    <p:avatar image="#{user.profileImage}">
`

Would be a great addition. Many thanks in advance.

[2021-02-01 09:14] tuerker commented on #6915
By the way, it would also be cool if p:graphicImage would also do that, i.e., work directly on byte[] a la omnifaces o:graphicImage.

[2021-02-01 09:47] tandraschko commented on #6915
i dont think we will support byte[] in graphicImage, we would need to introduce attributes for contentType e.g. and the risk is higher for bad performance as this value-binding method is always called 2 times. With our new builder, the stream() method is only called once.

[2021-02-01 10:16] Rapster commented on #6913
Is this a regression? Indeed it only happens if selection enabled...

[2021-02-01 10:30] tandraschko commented on #6915
I think we should do the same here. Allow usage of StreamedContent and stream=true|false

[2021-02-01 10:34] tuerker commented on #6915
how would the current solution look like for the above given example?

[2021-02-01 10:44] tandraschko commented on #6915
like the dynamic GraphicImage examples

[2021-02-01 10:53] tuerker commented on #6915
thanks. i see. you are probably referring at:

[code]

nevertheless, i think i would be good if the framework would do that whenever it detects that the given image is a byte[].
otherwise every primefaces user has to define such a helper method which translates the bytearry into a defaultstreamedcontent.

[2021-02-01 10:59] tandraschko commented on #6915
it doesnt just translate it.
We could support it but then you have 2 calls to createPieChart, and i dont like to support bad patterns. Also we need a contentType attr on the graphicImage/avatar to be safe. This is just nice enough when you already have byte[] inside a POJO. But when you need to "call logic" for creating the byte-array, its really not that good.

It would only 1 call to createPieCh

[2021-02-01 11:15] tuerker commented on #6915
i see with your point and especially agree with with the 2. statement that one should not use here stream=false.

the question is whether is an elegant way out of the need to always call a helper method such as

    public static DefaultStreamedContent getDefaultStreamedContent(InputStream inputStream, String contextType, String fileName) {
        return DefaultStreamedContent.builder().stream(()

[2021-02-01 11:20] tandraschko opened #6916 "Dynamic Content Streaming: Evaluate possibility to reduce method call to 1 with getExpectedType"
Currently our DynamicContentSrcBuilder receives the "value" to check the type of the "value" ValueExpression return value (String/StreamedContent).
In theory we could also use `ValueExpresison#getExpectedType()`, so we can reduce the first call when rendering the view.

Also see https://primefaces.github.io/primefaces/10_0_0/#/core/dynamiccontent

This should work in most cases, we should check so

[2021-02-01 11:21] tandraschko commented on #6915
See: https://github.com/primefaces/primefaces/issues/6916

i will rename this issue then

[2021-02-01 11:24] tuerker commented on #6916
Great. Many thanks in advance.

[2021-02-01 11:28] Rapster commented on #6915
@tandraschko I wonder if it's a smart move to introduce `Avatar` with `image` attribute as it seems it expects a path. One reason is security obviously (see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#security_and_privacy_concerns) and another is, most users will fetch from a local cache or db. Instead, i would remove image attr and replace it with value (to be consistent with ot

[2021-02-01 11:34] tandraschko commented on #6916
We could even think about a more radical change.
The first call is only required because of non-dynamic images (value=/mydir/mydir.jpg). If we make `p:graphicImage` only support dynamic images, we can get rid of the this check as `p:graphicImage` doesnt have any benefits over `h:graphicImage` for non-dynamic images.
Or create a new `p:dynamicImage` and deprecate `p:graphicImage`.

[2021-02-01 11:38] tandraschko commented on #6915
yep, i would like to completely align it but there may be a better solution.
Currently Avater supports 3 modes:

- label
- icon
- image

so why not allow p:graphicImage as a child when no label or icon is defined?

[2021-02-01 12:07] melloware commented on #6916
We could also think about incorporating `lazy` in graphic image like OmniFaces does.

Since OmniFaces 3.10, you can set the `lazy` attribute to true to indicate that the referenced image should only be loaded when the window is finished loading and the image is visible in the viewport.

[code]
This attribute is ignored when the dataURI attribute is set to true.

[2021-02-01 12:09] tandraschko commented on #6916
please create a new issue if you would like to see it, thats a different topic

[2021-02-01 12:24] tandraschko commented on #6915
Removed the image attr and allow p:graphicImage as child. Updates docs and showcase

[2021-02-01 12:24] #6915 closed, assigned to nobody

[2021-02-01 14:06] melloware opened #6917 "StyleBuilder: create style attribute easily"
**Description**
Similar to #6610 for created style classes we need one similar for creating style attribute.

[2021-02-01 15:14] Rapster commented on #6917
I wonder if we shouldn't introduce an "HTMLBuilder" on top of that to avoid the whole startElement/writeAttr/writeText/etc. boilderplatecode (it will under the hood). .. As opposite of StyleClassBuilder, instead of storing in a StringBuilder, it will straight away write into the response, this would give a lot of ease to read/write renderers since methods will be like:

[code]

[2021-02-01 15:25] tandraschko commented on #6917
I general yes but i dont think that is an easy task. Different elements, different attributes.
What about creating a PF indepedent prototype and ask the the JSF group to make something for JSF4 to replace/abstract the old ResponseWriter? Of course this needs contributors ;)

[2021-02-01 15:26] tandraschko commented on #6917
You example wouldnt work as div() needs to be called before the first attr will be written. Otherwise you still need buffering with a StringBuilder

[2021-02-01 16:03] tandraschko commented on #6910
@Rapster what is globalFilter attr on DT for?

[2021-02-01 16:10] tandraschko commented on #6910
was it a temp storage for the current-request globalFilter value?

[2021-02-01 16:35] Rapster commented on #6910
I think it's for setting the default value... Yeah that's what the doc says:

[2021-02-01 16:53] felixoi opened #6918 "DataTable: Sort and Selection"
**Describe the defect**
After sorting the table two times all bean values are null.

**Reproducer**
https://github.com/felixoi/primefaces-test

**Environment:**
 - PF Version: 10.0.0-RC1
 - JSF + version: MyFaces 2.3.7
 - Affected browsers: All

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://0.0.0.0:8080/primefaces-test/'
2. Click on 'The column header "Correction date" to sort

[2021-02-01 16:55] melloware commented on #6918
@Rapster This looks a lot like https://github.com/primefaces/primefaces/issues/6913 it has `selectionMode="single"`.

[2021-02-01 18:02] Rapster commented on #6918
Yeah looks quite similar, in both scenarios I have error like this:

	at javax.faces.component.StateHolderSaver.restore(StateHolderSaver.java:157)
	at javax.faces.component.UIComponentBase.restoreAttachedState(UIComponentBase.java:1801)
	at javax.faces.component.ComponentStateHelper.restoreState(ComponentStateHelper.java:301)
	at javax.faces.component.UIComponentBase.restoreState(UIComponentBase.j

[2021-02-01 18:03] melloware commented on #6918
I thought anything ViewScoped or SessionScoped had to have default constructor so it can be passivated.

[2021-02-01 18:06] Rapster commented on #6918
Yeah but look at Product, no default ctor... Really makes wonder me now

[2021-02-01 18:07] tandraschko commented on #6918
all passivating scoped beans and variables of it needs to be serializable + have a default ctor

[2021-02-01 18:08] melloware commented on #6918
Product in our showcase?

[2021-02-01 18:09] Rapster commented on #6918
yeah

[2021-02-01 18:09] melloware commented on #6918
Right in our showcase I see
[code]

[2021-02-01 18:13] Rapster commented on #6918
Oh yeah my bad, I didn't see this little one.... Well I fixed this issue by making Submission implement Serializable that's all 😅  @felixoi Can you give have a try please?

[2021-02-01 18:15] melloware commented on #6918
Got it I wonder if we can detect this somehow and throw a better error message?

[2021-02-01 18:47] tandraschko commented on #6910
@Rapster

if globalFilter is used (and no filterFunction is passed), the globalFilter itself calls all other filters, right?
So shouldnt we skip all other filters then in FilterFeature#filter in this case?

[2021-02-01 18:51] tandraschko commented on #6409
it would be really nice to get rid of ui:repeat support but i think this is a heavy refactoring on how columnGroups works with filters.
This would also make it possible to remove forEachColumn and use FilterMeta#getColumn again

[2021-02-01 18:52] tandraschko commented on #6409
@Rapster would be great if you can think about it for v11, your are refactorings in DT made it maintainable again!

[2021-02-01 19:19] tandraschko commented on #6910
the implemetation of GlobalFilterConstraint seems to be completely different, can you explain?
The old GlobalFilter just tested the string value and the current one invokes all filters. This leads to to invoke all filters 2 times if globalFilter is used.

[2021-02-01 20:13] tandraschko commented on #6910
restored the old behavior for now and prooved that its working.
Please watch changes with ?w=1, commited with CRLF stuff the first time

[2021-02-01 20:13] #6910 closed, assigned to nobody

[2021-02-01 20:14] tandraschko commented on #6910
@Rapster if you would like to refactor it like you had it in mind, please create a issue for v11. Would really like to get rid of the forEachColumn/ui:repeat which wouldnt work with your version of GlobalFilterConstraint.

[2021-02-01 20:14] JoHoop opened #6919 "Password: add icon for unmasking password"
I'm always frustrated when there's no option to reveal and hide a password.

A minimal eye icon to do so, placed right of the input field would be great.

The `type` attribute of the standard input was removed, so it's not possible to simply change it's value from `password` to `text`.

<img width="212" alt="masked" src="https://user-images.githubusercontent.com/67421398/106513336-22397500-64d3-11

[2021-02-01 20:20] melloware commented on #6919
I do something like this in my production apps. See my Stack Overflow answer: https://stackoverflow.com/a/57163095/502366

Let me see if I can add something like this.

[2021-02-01 20:24] JoHoop commented on #6919
Thanks so much! Really appreciate it!

Actually, I've seen you're answer earlier today, but didn't think it was possible, because the PF Password component doesn't have the `type` attribute.

[2021-02-01 20:26] melloware commented on #6919
yeah but that uses Jquery to get at the underlying HTML inputs type field :) So it works.

[2021-02-02 00:31] Rapster commented on #6910
Sure thing, I'm pretty sure global filter with or without function was working just fine with initial version (as I spent some time to test it...) But to answer quickly:

So shouldnt we skip all other filters then in FilterFeature#filter in this case?

If no filterFunction, yes

The old GlobalFilter just tested the string value and the current one invokes all filters. This leads to to invoke all f

[2021-02-02 00:37] Rapster commented on #6409
On the contrary, that's why I didn't want to support it in a first place...

[2021-02-02 07:47] felixoi commented on #6918
@Rapster Working as expected now. Thanks for the fast help guys! I'll leave this open because of @melloware question. Please close if needed.

[2021-02-02 07:52] #6752 closed, assigned to cagataycivici, melloware

[2021-02-02 08:09] christophs78 opened #6921 "PrimeFaces.Ajax: add ignoreAutoUpdate to PrimeFaces.current().ajax().update()"
eg `p:commandButton` and `p:autoUpdate` already support this

Keep existing method-signatures AS-IS. Add another one which allows to pass ignoreAutoUpdate - boolean. Internally call the same implementation.

[2021-02-02 09:15] tandraschko commented on #6921
+1

[2021-02-02 09:48] tandraschko commented on #6921
btw im not sure if this is possible ;D please provide feedback if you tried it

[2021-02-02 10:19] tandraschko commented on #6913
can someone provide a primefaces-test?

[2021-02-02 10:57] fcjm opened #6922 "SelectOneMenu: Clicking the same item twice leads to wrong item being highlighted"
**Describe the defect**
If you click on the same Item twice in the dropdown menu of the SelectOneMenu component with groups you will see that the wrong item is being selected & highlighted. From my research it seems like the problem lies within the revert() function of the SelectOneMenu widget which unselects the current item and instead tries to select the "Please Select" item.

Called in forms.s

[2021-02-02 12:09] #6750 closed, assigned to cagataycivici, melloware

[2021-02-02 12:11] melloware commented on #6913
I can get it to you today @tandraschko

[2021-02-02 12:28] JoHoop opened #6923 "Sidebar: add attribute to disable modal masking"
The Sidebar always darkens the background when opened. There should be a `modal` attribute to set the masking (like there is for the Dialog component).

[2021-02-02 12:35] Rapster commented on #6913
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/5911126/primefaces-test-master.zip)

[2021-02-02 12:57] tandraschko commented on #6913
did this work in 9.0?
for me it looks like ListDataModel from JSF isnt serializeable and the default constructor always sets null as wrapped data, so we cant fix it anway.

[2021-02-02 13:01] Rapster commented on #6913
That's why I asked if it was a regression... But what bugs me is that, it only happens when selection is enabled...

[2021-02-02 13:02] tandraschko commented on #6918
In theory we could do the following in PRojectStage dev:
when render the DT, took the first item, serialize/derialize it and nicely log if a error occurs

[2021-02-02 13:08] tandraschko commented on #6913
im not sure either
the NPE just happens in Mojarra, works fine in MyFaces

maybe Mojarra handles serialization bit weird/different as even if i make the DataModel transient, it seems that the same NPE still occurs
but actually it should be recreated in the getter

[2021-02-02 13:09] tandraschko commented on #6913
nevertheless, i dont think the case is valid as ListDataModel is not seriazable and should not be used like this

[2021-02-02 13:20] tandraschko commented on #6923
please create 3 feature requests, not 3 requests in 1 issue

[2021-02-02 13:44] melloware commented on #6922
Good debugging. I fixed it.  The grouping was throwing if off its index so I found other places where it correctly determines the index.  Thanks for reporting and debugging!

[2021-02-02 13:52] JoHoop opened #6925 "Sidebar: different opening effects"
The Sidebar always slides into the view when opened. There should be a `showEffect` and `hideEffect` attribute to change this effect (like there is for the Dialog component). Perhaps another effect could be added to make the sidebar shrink the main content or push it to the side.

[2021-02-02 13:53] melloware commented on #6918
I like that idea.

[2021-02-02 13:55] JoHoop opened #6926 "Sidebar: add attribute to disable close on click"
The Sidebar always closes when clicking anywhere on the background.
There should be an option to disable this behaviour.
There could also be a `permanent` attribute to show the sidebar permanently.

[2021-02-02 13:56] tandraschko commented on #6918
me not actually :D
JSF already logs what exactly is not serializable, so we would just make the message a bit nicer
i dont think we should "wrap" that

[2021-02-02 14:13] melloware commented on #6918
So should we close this ticket as WontFix?

[2021-02-02 14:14] tandraschko commented on #6918
+1

[2021-02-02 14:20] #6918 closed, assigned to nobody

[2021-02-02 14:55] melloware commented on #6926
OK you don't want a `permanent` attribute you want `showCloseIcon="false"` in combination with `modal="false"` this will do what you want.

[code]

[2021-02-02 14:56] melloware commented on #6923
Modal added similar to OverlayPanel except in SideBar's case its TRUE by default.

[2021-02-02 14:59] melloware commented on #6925
OK so all the other dialogs use Jquery to Show and Hide and thus effects can be applied.  Sidebar just does this...

[code]

and use CSS to animate it with ...

[code]

So you can simply override the CSS for `.ui-sidebar` to change the animation or speed.

[2021-02-02 14:59] fcjm commented on #6514
I am currently trying the fixes coming from RC1 in our application and the problem still seems to be there. I tried it with the example i gave you back in november and though it looks fine, the variable "option" used in setLabel() still isnt set to the right value. Therefore you might end up checking the escape property of something different than the actual selected option.

Code in question (fro

[2021-02-02 15:02] melloware commented on #6514
Can you tweak the reproducer to show the issue?

[2021-02-02 15:03] #6925 closed, assigned to nobody

[2021-02-02 15:05] JoHoop commented on #6925
That's working!
Thanks so much :)

[2021-02-02 15:31] fcjm commented on #6514
Ehm so yeah. I fiddled around with the reproducer for a bit and it is a mess now. But i got some new insight.

We update the form once we select an item from the dropdown menu - meaning we go through the init function again. There setLabel() is also called. There seems to be a difference in calling setLabel in init(), but i have not looked into it just yet.

I updated the reproducer so only "1" ha

[2021-02-02 15:43] #6923 closed, assigned to melloware

[2021-02-02 15:43] #6926 closed, assigned to melloware

[2021-02-02 16:51] #6922 closed, assigned to melloware

[2021-02-02 17:48] melloware commented on #6913
It does not look like a regression here is an 8.0 version of it that also fails after sorting.
[pf-6913.zip](https://github.com/primefaces/primefaces/files/5913246/pf-6913.zip)

Should we remove support for ListDataModel and throw an error instead?

[2021-02-02 17:58] tandraschko commented on #6913
It is supported in requestscoped propably

[2021-02-03 08:08] #6514 closed, assigned to melloware

[2021-02-03 09:26] fcjm commented on #6514
Works perfectly now. Thank you for the fix!

[2021-02-03 09:47] tuerker opened #6929 "DataTable: JumpToPageDropdown does not perform for larger lazy tables"
Using JumpToPageDropdown in the datatable paginator does not really work with larger lazy tables.
For tables in the area of 1 million or more rows it is even blocking. I am wondering whether there is something to be improved or whether one should simply not use JumpToPageDropdown for larger tables (since for instance in case of lazy table with a row count > 1000000 and rowsPerPage = 10 the dropdow

[2021-02-03 09:54] tandraschko commented on #6929
i dont think it was ever designed for that amount

[2021-02-03 10:12] tuerker opened #6930 "Avatar: Shape does work as expected"
I tried to use the new avatar component as follows and my expectation was that the images are shown in circle shape (as the avatars in the showcase https://www.primefaces.org/showcase/ui/misc/avatar.xhtml?jfwid=ca6e9). However, the images are still rectangular. Do i use it wrong or is this a bug?

[code]

![Screenshot from 2021-02-03 11-11-06](https://user-images.githubusercontent.com/10051373/106

[2021-02-03 10:19] stolp commented on #6929
@tuerker: Maybe it would help to get a client side performance analysis for this use case?

[2021-02-03 10:20] tandraschko opened #6931 "Dialog: responsive should be default"
Currently if you open https://www.primefaces.org/showcase/ui/df/basic.xhtml?jfwid=c9317, open the dialog, resize, the dialog is not centered again.

WDYT @melloware @mertsincan ?

[2021-02-03 10:27] tandraschko commented on #6931
i think we already have this funcitionality with "responsive" flag but its false per default. Should we make it true?

[2021-02-03 10:32] tuerker commented on #6929
@stolp what do you expect here exactly?

[2021-02-03 10:32] sasynkamil opened #6932 "Timeline: Localization sv_SE, nb_NO with warning"
**Describe the defect**
Permanent warning when timeline is loaded: `timeline.js.xhtml?ln=primefaces&v=8.0:52 WARNING: options.locales['nb_NO'] not found. See https://visjs.github.io/vis-timeline/docs/timeline/#Localization`

This is similar issue as [Timeline: Localization pt_BR with warning](https://github.com/primefaces/primefaces/issues/5920)

**Reproducer**
Set p:timeline property to: locale="

[2021-02-03 10:33] fcjm opened #6933 "DataTableRenderer: Enable/Disable default column rendering"
**Description**
In Primefaces 8 it was possible to apply custom formatting when rendering the content of a column in a DataTable by e.g. checking whether column.children is empty or not. Now in Primefaces 10 there is the following Code in the DataTableRenderer.encodeCell() method preventing this:

            if (this.hasColumnDefaultRendering(table, column)) {
                Object value = UITab

[2021-02-03 10:37] tuerker commented on #6929
I can imagine that JumpToPageDropdown was not forseen for larger datatables since then the dropdown gets large and to jump on the page,e.g., 14567, the selection of the page in the dropdown is not comfortable enough. I will use JumpToPageInput instead JumpToPageDropdown.

[2021-02-03 10:38] stolp commented on #6929
Opening developer tools in your browser shows a performance tab (under Chrome). Using record you can get a performance analysis of how time is spent in your browser (e.g. when loading the page or other interactions).

I found this extremely helpful with analyzing #5530.

[2021-02-03 10:47] Rapster commented on #6933
In RC2, you should be able to override DataTable#encodeDefaultFieldCell. I'm not in favor of a new attribute for now. Also, https://github.com/primefaces/primefaces/issues/6897 might interest you

[2021-02-03 10:55] fcjm commented on #6933
Okay, thanks for the quick reply i will look into it!

[2021-02-03 10:58] mertsincan commented on #6931
@tandraschko we can make some changes in Dialog. But on PF11 ;) Instead of adding an attribute to the dialog, we can always make responsive using Flexbox structure like in PrimeReact.
https://primefaces.org/primereact/showcase/#/dialog

For now, it can be 'true'.

[2021-02-03 10:59] tuerker commented on #6929
here is a screnshot. use case: go to screen with a lazy datatable having more than 7 millions row. i stopped after a minute. the screen is still rendering.

![Screenshot from 2021-02-03 11-57-05](https://user-images.githubusercontent.com/10051373/106737558-1b1b7f80-6617-11eb-93b3-9289c35f8f80.png)

[2021-02-03 11:03] tandraschko commented on #6931
perfect

[2021-02-03 11:36] stolp commented on #6929
This is interesting. Basically all time is spent rendering this page using the CPU. It would be interesting to see the Network Marker open if possible (left hand side). Also the Bottom-up view (lower tab). How big is the page in KB?

[2021-02-03 12:12] tuerker commented on #6929
page size 115kB.

here is the network screnshot. it looks like that the page is recursively rendered.

![Screenshot from 2021-02-03 13-09-45](https://user-images.githubusercontent.com/10051373/106745255-1eb40400-6621-11eb-81e3-58b154f6e7a1.png)

in contrast when using JumpToPageInput instead JumpToPageDropdown, the page works really fine:

![Screenshot from 2021-02-03 13-08-33](https://user-images

[2021-02-03 12:39] melloware commented on #6931
Another thing we can do in the future is make the dialog `FlexAware` interface and if someone sets
[code]

We could automatically apply Merts new PrimeReact styles and make it responsive.

But for now I prefer `responsive="true"` since I set that on all my dialogs anyway!

[2021-02-03 12:40] melloware commented on #6929
This is just a thought but when you say Jump to bottom is your Lazy Datatable then querying for 7 million rows to find the bottom?

[2021-02-03 12:43] melloware commented on #6932
@sasynkamil I think that warning is from vis-timeline itself.  See this ticket where Brailian `pt_BR` was missing:

https://github.com/primefaces/primefaces/issues/5920

I think the real problem is that Timeline doesn't have a those translations see there available locales here: https://visjs.github.io/vis-timeline/docs/timeline/#Localization

`sv sv_SE nb_NO` are not one of them so maybe you can

[2021-02-03 12:45] melloware commented on #6933
So @Rapster what is the action here?  WontFix or is there some change you need to make to make encodeCell available in RC2?

[2021-02-03 12:47] melloware commented on #6932
If you provide me the translations I can submit the PR to vis-timeline if you aren't comfortable creating a PR there.

[2021-02-03 12:49] tuerker commented on #6929
In case of lazy tables the database query would use the offset that corresponds to the last page and delivers only the rowsPerPage amount of rows. Actually, the problem occurs without clicking anywhere on the table, i.e., when the page is rendered. I assume during the computation of the paginator.

[2021-02-03 12:50] #6930 closed, assigned to buunsal

[2021-02-03 12:55] tuerker commented on #6930
thanks for the quick fix.

the documentation needs to be adapted, too. the line in bold should be deleted since it is not supported in that way (anymore).

<p:avatarGroup>
    <p:avatar label="P"/>
    <p:avatar icon="pi pi-search"/>
    **<p:avatar image="user.png"/>**
    <p:avatar label="+2"/>
</p:avatarGroup>

thanks and regards.

[2021-02-03 13:02] Rapster commented on #6933
Closing for now

[2021-02-03 13:02] #6933 closed, assigned to nobody

[2021-02-03 13:10] stolp commented on #6929
@tuerker When using JumpToPageDropdown, does the page source contain all the select options available for the selector or is this loaded dynamically?

If I did not miscalculate here, there are ~700000 option entries in this SelectOneMenu. I think it is fair to say that this is not a realistic use case scenario.

I also have used lazy datatables with entries in the 100.000 - 1.000.000 entry range.

[2021-02-03 13:31] melloware commented on #6913
@robtha can you confirm this was not working previously in older PrimeFaces please?  I can't get it to work on 8.0 so I have a feeling this use case never worked.

[2021-02-03 13:32] tuerker commented on #6929
@stolp as you can see in the first screen, the paginator is even not build and the page completely stucks. so i cannot look in the selector. compare it to the JumpToPageInput variant (third screenshot). there you see the full paginator. as in your case, our paginator is similar to yours, except the jump part.

in general, the lazy tables work really well even with millions of rows (unless you add

[2021-02-03 13:34] tandraschko commented on #6913
we cant fix it anyway, we would need to add a new own model
i think the best way is to clarify this with the JSF specs

[2021-02-03 13:35] tuerker commented on #6929
I would opt to deprecate JumpToPageDropdown since it's usage is limited and less comfortable than JumpToPageInput, even for small tables.

I brought this issue up such that the DataTable developers might have deeper look at the reason for this problem to avoid potential (performance) problems, e.g., induced by rendering components unnecessarily.

[2021-02-03 13:42] melloware commented on #6929
I think its a useful use case if you have a reasonable amount of items.  7 million to me is not what I would consider reasonable.

And here is the problem in paginator.js.  It uses Jquery to build and append the HTML Options into the select.  So 700,000 options is a lot of JS time so it explains why the CPU is spiked.

[code]

[2021-02-03 13:44] melloware commented on #6929
Also here is an old thread about it: https://github.com/primefaces/primefaces/issues/2933

[2021-02-03 13:49] stolp commented on #6929
To return to our discussion back in #5530 / #5533: Can't the html() call be replaced with innerHtml() here? There is no JavaScript involved in this case I think.

Sorry for my ongoing stupidity regarding JavaScript development ...

[2021-02-03 13:50] robtha commented on #6913
@melloware yes, I can confirm that works with primefaces 8.0.4. We are currently preparing our application for PF10, that's why I ran into this issue.

[2021-02-03 13:53] melloware commented on #6929
@stolp I think it would probably be safe to make that change for this particular use case but not sure how much it will improve if the list has 700,000 items.  That is still a LOT of HTML to append into the DOM.   Let me try it.

[2021-02-03 13:54] tandraschko commented on #6913
we can reopen but i dont have time to work on it.

[2021-02-03 14:04] melloware commented on #6929
OK I tested it and it works fine switching to  `innerHTML`  which is definitely a performance improvement but I doubt its enough to solve @tuerker issue of volume.

[2021-02-03 14:04] Rapster commented on #6913
UIData supports DataModel for a while now, I don't think it's about Serialization here... I may have a clue, when selection is enabled model is set to null when filteredValue is set, remove it and that should work, see SelectionFeature. I'll try to have a closer look. Being said, in 8.0 the problem is different, when I sort first time nothing shows...

[2021-02-03 14:05] tuerker commented on #6929
yep, that's it.

[2021-02-03 14:05] tuerker commented on #6929
i will test it and we will see.

[2021-02-03 14:07] melloware commented on #6929
I still think this line is probably just as big of a problem:
[code]
Its building a giant string of all 700000 options in memory.

[2021-02-03 14:14] robtha commented on #6913
From my point of view I can live with the workaround using a List instead of a ListDataModel. Most of our views are using a LazyDataModel and we have not discovered any problems so far.
For me the question is whether the cause of the NPE is really limited to the use of ListDataModel only.

[2021-02-03 14:15] #6929 closed, assigned to melloware

[2021-02-03 14:17] Rapster commented on #6913
Yeah it sounds like there is more than just one problem here... Did you try the same scenario with LazyDataModel?

[2021-02-03 14:51] melloware commented on #6514
Integration test added: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/84f2fac176bdb05b7459e3bede893b492587c7c5

[2021-02-03 14:51] melloware commented on #6922
Integration test added: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/84f2fac176bdb05b7459e3bede893b492587c7c5

[2021-02-03 15:22] tuerker commented on #6929
i tested it. the fix is surely an improvement. the datatable with 7 mio lazy rows and JumToPageDropdown is now rendered at least. it takes around a minute. but after that it is practically not usuable/responsive.

for smaller tables (< 200000 lazy rows) it is working fine but for beyond 1 million lazy row it is getting unusuable.

as said above, i am now using JumpToPageInput instead.

maybe you c

[2021-02-03 16:42] sasynkamil commented on #6932
@melloware You are right - the error looks like it is from vis.js. Important is that when I added moment js and its locale js (based on the PF Doc) the timeline is translated to the Swedish and Norwegian (maybe something that is not handled by moment.js but by vis.js is not translated, but I'm not aware of this). Definitely it would be good to add translations to the vis.js.

If this is not proble

[2021-02-03 16:47] melloware commented on #6932
OK vis-timeline delcares these 3 translations I have two of the 3 but need Delete Selected for both languages please.
[code]

[2021-02-03 17:42] Rapster opened #6936 "FileUpload: Wrong invalid file name pattern"
**Describe the defect**
Since 8.0, file name is validated on server side (for security reasons, mostly intrusions). Though, a filename like `D2021-00022/V2020-00093/D-00001300/xxxx.xml` throws an exception while there is no attempt to path traversal. Exception is throw just because there is a `/`

[code]
**Reproducer**
Tricky as I'm uploading a directory using https://github.com/primefaces/primefa

[2021-02-03 17:58] melloware commented on #6936
Whatever it is we can't break https://github.com/primefaces/primefaces/issues/3268 because the security firms will ding us and my management team freaks out.  So we have to defend against Path Traversal.

[2021-02-03 18:43] Rapster commented on #6936
Sure, but I'm not talking about breaking anything here, my point is PF should support safety file upload of course but maybe instead of reinventing the wheel, we could reuse ESAPI.

Right now, the issue is that filename is considered as invalid (whether it is true or not), users should be able to bypass these tests, just like there is an attribute validateContentType (maybe I should turn this defe

[2021-02-03 19:12] melloware commented on #6932
PR submitted to vis-timeline please review: https://github.com/visjs/vis-timeline/pull/891

[2021-02-03 19:15] melloware commented on #6932
I also added both your updates to the Locales WIKI: https://github.com/primefaces/primefaces/wiki/Locales

[2021-02-03 19:16] melloware commented on #6936
Good idea.  Just want to make sure we didn't break anything!

[2021-02-03 22:18] #6936 closed, assigned to nobody

[2021-02-03 22:40] Rapster opened #6938 "FileUpload: secure attribute"
**Description**
Following up #6936, uploading a file with filename containg a `/` is impossible (`FileUploadUtils#getValidFilename` throws an exception), it should be user responsability and not component to define whether or not those test should be made

**Describe the solution you would like**
Introducing `FileUpload#secure` _(default value: false)_ would:
- validateContentType (deprecate `File

[2021-02-04 07:28] sasynkamil commented on #6932
Great, thank you. Looks promissing.

[2021-02-04 08:26] devmsaleh opened #6939 "Clear icon for InputText"
Greetings
it would be very nice if you add new property
to add clear icon in the input text

[2021-02-04 09:05] Rapster commented on #6939
See `type` https://primefaces.github.io/primefaces/10_0_0/#/components/inputtext and https://developer.mozilla.org/fr/docs/Web/HTML/Element/Input/search

[2021-02-04 09:05] #6939 closed, assigned to nobody

[2021-02-04 11:00] FabioMarangonSMI opened #6940 "InputNumber: ajax change event fired even if value isn't changed"
**Describe the defect**
When i use and p:inputNumber with ajax behaviour on change that updates the component container, the event gets fired even if the value isn't changed. Note: the exact same example using p:inputText is working correctly.

**Environment:**
 - PF Version: 8.0.7
 - JSF + version: Mojarra 2.2.20
 - Affected browsers: Chrome, Firefox

**To Reproduce**
Steps to reproduce the behav

[2021-02-04 11:07] tandraschko commented on #6940
@melloware can you check and verify that it works fine in trunk?

[2021-02-04 12:37] melloware commented on #6940
Yes I will investigate.

[2021-02-04 12:45] melloware commented on #6940
Reproducer:
[pf-6940.zip](https://github.com/primefaces/primefaces/files/5925737/pf-6940.zip)

Verified its happening in 8.0 and 10.0.0-RC1.  Now investigating a fix.

[2021-02-04 13:23] robtha commented on #6913
@Rapster no error using LazyDataModel. But sorting on LazyDataModel does not invoke SortFeature.sort (where the NPE occurs)

[2021-02-04 13:27] Rapster commented on #6913
Yup but should invoke SelectionFeature (if still enabled of course) and so far, my concern is that it happens because of SelectionFeature, but if you're saying it it doesn't... Then... I'm more confused 😅

Oh but yeah I see what you mean by SortFeature not being called, indeed as it is not called, problem doesn't occur...

[2021-02-04 13:46] melloware commented on #6940
From my preliminary investigation I think these change events are being bubbled up from Autonumeric.

[2021-02-04 13:49] melloware commented on #6938
I like the idea.

[2021-02-04 13:58] fcjm opened #6941 "DataTable: Adding new items on single-select table causes error"
**Describe the defect**
Currently if you add a new object to a single-select DataTable and then immediately want to switch the selection to it you will get an exception. This error occurs because both the original and new object get selected meaning 2 options are selected in a single-select DataTable.

I found a workaround by setting the following line in the SelectionFeature.decodeSelectionRowKey

[2021-02-04 14:07] stefanrosca opened #6943 "Timeline: Grouping does not work with lazy loaded events"
**Describe the defect**
Timeline component throws an error when grouping is enabled for lazy loaded events

**Environment:**
 - PF Version: 8.0, 10.0 RC1
 - JSF + version: Mojarra 2.3
 - Affected browsers: ALL_

**To Reproduce**
Steps to reproduce the behavior:
Enable grouping on a lazy loaded timeline.
The error  displayed in browser console:
 TypeError: Cannot read property 'getDataSet' of null

[2021-02-04 14:45] stefanrosca opened #6944 "Timeline: null value when used inside a composite"
**Describe the defect**
Timeline shows no events

**Environment:**
 - PF Version: 8.0, 10RC1
 - JSF + version:  Mojarra 2.3
 - Affected browsers:  ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. create a composite component and put a timeline in it
2. enable lazy loading
3. use composite component attribute for timeline "value" (eg. value="#{cc.attrs.model}")
4. See error SEVERE: Except

[2021-02-04 15:33] melloware commented on #6943
Not sure it was designed for this since I think Timeline might need to know the groups up front.  Any debugging is appreciated.

[2021-02-04 15:34] melloware commented on #6944
Can you zip your reproducer and attach it here please?

[2021-02-04 15:34] melloware commented on #6943
Can you zip your reproducer and attach it here please?

[2021-02-04 15:37] stefanrosca commented on #6943
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/5926807/primefaces-test.zip)

[2021-02-04 15:38] stefanrosca commented on #6944
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/5926813/primefaces-test.zip)

[2021-02-04 15:40] melloware commented on #6944
Thanks makes our lives much easier.

[2021-02-04 17:54] melloware commented on #6940
OK I figured out what is going on.  The `change` was being fired from AutoNumeric here:
[code]

The value of `if (this.rawValue !== this.rawValueOnFocus) {` was not equals because `rawValueOnFocus` is undefined and thus fires the change event.  Not sure if this is a bug in AutoNumeric but the fix is simple.  PR on the way.

[2021-02-04 18:07] melloware commented on #6944
When running with `-Pmyfaces23` I get this stack trace..

[code]

[2021-02-04 19:30] melloware opened #6946 "SelectOneMenu: WCAG warning for ARIA"
**Describe the defect**
See forum post: https://forum.primefaces.org/viewtopic.php?f=3&t=65116&

Result of WCAG validator..

![image](https://user-images.githubusercontent.com/4399574/106945193-820f6600-66f5-11eb-81ca-3c0a41d9bd9b.png)

[2021-02-04 21:20] christophs78 commented on #6921
Tried the following to prototype:

[code]

And afterwards in a sample backing-bean:
[code]

This two lines may be integrated into a single one. What do you think?

[2021-02-04 21:35] tandraschko commented on #6921
[code]

As you backing is executed between both, it should not work in all cases. Therfore we pass it as request param.

[2021-02-04 22:06] christophs78 commented on #6921
Hm. How do play `AutoUpdateListener` and `AutoUpdatePhaseListener` together?
`AutoUpdateListener` collects components but does not care about `PrimeRequestContext#isIgnoreAutoUpdate`.
From my analysis it looks like `PrimeRequestContext#isIgnoreAutoUpdate` is only called from `AutoUpdatePhaseListener#beforePhase`. AutoUpdatePhaseListener subscribes to `PhaseId.RENDER_RESPONSE`.

From this point of

[2021-02-04 22:10] tandraschko commented on #6921
yep, you are right

maybe we should also create a shortcut in PrimeFaces.ajax

[2021-02-05 09:27] robtha commented on #6913
After some testing I discovered that the NPE on sorting only occurs if filtering is enabled for
a column - it does not need to be the same column used for sorting.

After some debugging I identified the problem in method SelectionFeature.decode.

If the table has filtered values (it even has values if no filter entered) the DataTables value is
set to null and restored with 'originalValue' after de

[2021-02-05 10:17] Rapster commented on #6913
set to null and restored with 'originalValue' after decodeSelection.
This way the ValueExpression of the property is lost and replaced by a DataModel instance which seems
to lead into a problem with the state of the component as in further sort requests getValue() returns
an ListTableModel with a null list.

Yeah that's what I feared https://github.com/primefaces/primefaces/issues/6913#issuecommen

[2021-02-05 11:04] jepsar opened #6948 "DataTable/TreeTable: widget cfg.formId is missing"
See for example:

https://www.primefaces.org/showcase/ui/data/datatable/lazy.xhtml

and in the JS console:

PF('widget_form_customerTable').cfg.formId

See also https://github.com/primefaces/primefaces/pull/6937

[2021-02-05 11:46] Rapster commented on #6897
Not working with p:columns

[2021-02-05 12:09] #6897 closed, assigned to Rapster

[2021-02-05 13:06] fcjm opened #6950 "TieredMenu: Navigation via keyboard not working"
**Describe the defect**
We use the Overlay TieredMenu in our application and found that the keyboard navigation for it is currently not working. This also applies for the Inline TieredMenu. Overlay can be opened via Tab+Enter but you cannot access the lower tiered submenus.

**Reproducer**
See showcase for TieredMenu

**Expected behavior**
A similar functionality to Menu (submenu-navigation via Ar

[2021-02-05 13:07] tandraschko commented on #6950
new feature as never implemented before

[2021-02-05 13:09] melloware commented on #6950
I don't think its just TieredMenu either I think its anything with a SubMenu and I think its also related to this ticket: https://github.com/primefaces/primefaces/issues/6561

I think whole whole Keyboard Trap and focus for menus needs to be redone to align with 508 accessibility standards.

[2021-02-05 13:39] #6946 closed, assigned to melloware

[2021-02-05 13:40] #6940 closed, assigned to melloware

[2021-02-05 13:53] FabioMarangonSMI commented on #6940
Hi @melloware, thank you for the quick answer, I tested your solution on the 8.0.7 (extending PrimeFaces.widget.InputNumber in my project) and I can confirm it solves my problem.

I will keep the fix until you release it in the next version, thanks for your work :)

[2021-02-05 13:58] melloware commented on #6940
Excellent thanks for reporting the issue and testing it!

[2021-02-05 18:03] melloware opened #6953 "DataTable: Global FilterFunction Broken"
**Describe the defect**
Working on a showcase example to put back the old GlobalFilterFunction and the functionality has changed.

[code]

[code]

its expecting the `value` to be the Customer POJO and right now it is just passing it each individual column value as a String which causes `java.lang.ClassCastException: java.lang.String cannot be cast to org.primefaces.showcase.domain.Customer`.

The

[2021-02-05 18:25] Rapster commented on #6953
😢

[2021-02-05 20:05] christophs78 opened #6956 "Core: Drop Internet Explorer support"
With Internet Explorer dying in foreseeable future we may discuss dropping support with a future PrimeFaces-release.

This would allow use to use more modern JavaScript for new features and/or components. Maybe ES6 would be a proper base-level for some time.
Thanks to our integration-tests we have a good base to check compatibility against the 3 most wide-spreaded browsers. (Chrome, Safari and Fir

[2021-02-05 20:09] christophs78 commented on #6953
We should add a integration-test for this ... whatever the expected correct behaviour is.

[2021-02-05 20:10] melloware commented on #6956
I know a couple of things....
1) Microsoft has recommended people stop using IE for anything but legacy apps however it will still be supported until 2025.
2) JQuery I believe is dropping support for IE in 4.0

[2021-02-05 20:10] brooksie opened #6957 "DataTable: JS error on return from Dialog"
**Describe the defect**
On return from a Dialog (using Dialog Framework) a JS error occurs when refreshing the old page with the new data (created in the dialog).
![consoleError](https://user-images.githubusercontent.com/4806551/107074626-e78c5100-67e0-11eb-8e4f-32ab0ffdd6aa.png)
The list page (that initiates the dialog) is *occasionally* not refreshed on return and gets "stuck".

**Reproducer**
S

[2021-02-05 20:13] melloware commented on #6953
I am waiting to hear back on this review then will write one.

[2021-02-05 20:17] christophs78 commented on #6956
https://github.com/jquery/jquery/issues/4299 (jQuery 4 drops support for IE<11; but still supports IE11)

[2021-02-05 20:26] melloware commented on #6957
Everything seems to be working fine and that is only logged in JSF Development Stage right?
[code]

[2021-02-05 20:30] christophs78 commented on #6956
One option would be to use something like https://polyfill.io/v3/ to provide some kind of IE11-backwards-compatibility.

[2021-02-05 20:41] brooksie commented on #6957
Yes and no.The message only appears in Development mode. It's absent in production mode.
Mostly things are working ok - but just occasionally the screen doesn't refresh as expected on return from the dialog. (The row that was added doesn't appear or the row that was deleted remains displayed, or the screen sort of freezes) As I said in the ticket, I'm not sure why and I'm having a hard time reprod

[2021-02-05 20:42] melloware commented on #6957
OK so in this tester I am not getting it to freeze at all so I think that JS error is a red herring its just trying to update the dialog that has already been destroyed.

[2021-02-05 21:28] melloware commented on #6948
switch this from defect to performance becuse this basically prevents core.ajax from looking up the form over and over every time you sort, filter, page etc.

[2021-02-05 21:36] brooksie commented on #6957
I'm not sure about the red herring, but I guess that unless you want to keep the ticket open to resolve the JS error message, it will have to be closed as not proven (or whatever category you use) unless I can get some harder evidence of an issue. I understand.

    On Friday, 5 February 2021, 20:43:02 GMT, Melloware <notifications@github.com> wrote:

OK so in this tester I am not getting it to fr

[2021-02-05 22:15] melloware commented on #6957
well I will leave it open for now hoping you can add some debug and figure out where your scenario is locking up?

[2021-02-05 22:38] melloware commented on #6944
I think both your issues are related right?  Do either of your tickets work WITHOUT lazy loading?

[2021-02-06 12:39] robtha commented on #6913
@Rapster As the problem seems somehow related to filtervalues and getFilteredValue always returns a value, even if no filter value entered, I did some investigation on FilterFeature.

Finally applied some minor changes so filteredValue is only set if there is actually a filter value applied.
Personally I found it a little bit confusing to get filteredValues if no filter criteria entered.
And it to

[2021-02-06 12:42] Rapster commented on #6913
Could you make a PR please, it's more readable :wink:

[2021-02-06 12:49] Rapster commented on #6944
Arf doesn't look good... specially if same problem happen with both impl... I tried without a composite and works fine.

If you debug `Timeline#getValue`, you'll see that it's trying to put the composite in ELContext so the value gets properly parsed (see `ContextualCompositeValueExpression`) but it doesn't seem to "find" the compositeTimeLine.xhtml (see `CompositeComponentStackManager#findComposi

[2021-02-06 13:42] melloware commented on #6944
I wans't sure if this had to do with the DefaultTimeLineUpdater PhaseListener either as the other issue gets an NPE there trying to get the model in Lazy Load.

[2021-02-06 16:50] melloware commented on #6953
Integration Tests...

Global Filter: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/64d6e5c246ab3735889142a77060e8d3ec6f4451

Global Filter Function: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/18d79fca8a43d45aee64bdc0547c90ab4cec3dee

[2021-02-06 17:44] melloware commented on #6956
In my opinion once we decide to drop IE support we should rip out all blocks of code where `PrimeFaces.env.isIE` is found and just rip the band aid off. :)  Like the JQuery team said "If someone still needs IE support they can stay on JQuery 3(aka PrimeFaces 8)."

[2021-02-06 20:04] #6948 closed, assigned to melloware

[2021-02-06 20:04] #6921 closed, assigned to christophs78

[2021-02-06 20:05] tandraschko commented on #6944
in general i dont like how the DefaultTimeLineUpdater is implemented, maybe we can think about better ideas in 11.0

[2021-02-06 20:17] tandraschko commented on #6953
@melloware @sqores please dont merge such PRs without review before.
We must at least clarify what should be the correct behavior and refactor the code for it, not just hackin this behavior, without removing the old behavior.

[2021-02-06 20:17] tandraschko commented on #6953
this just leads to dead and bad code now.

[2021-02-06 20:36] melloware commented on #6953
Thomas this use case was wholesale broken and was missed in the refactor. Feel free to review but I believe the fixes are the correct one and I have integration tests to verify.

[2021-02-06 20:39] Rapster commented on #6944
I started few weeks ago on refactoring timeline, nothing big. I'll submit a PR for review and hopefully ready for 11

[2021-02-06 20:47] tandraschko commented on #6953
thats ok but we have deadcode now as FunctionFilterConstraint is actually unused

[2021-02-06 22:01] melloware commented on #6953
Are you sure?  FunctionFilterConstraint is still used when a column has a filter like...

<p:column filterFunction=""...

Right?

[2021-02-06 22:05] tandraschko commented on #6953
not sure but the codepath in FilterMeta ln122 is now dead

[2021-02-06 22:37] melloware commented on #6953
Ok let me add some more tests and verify and then I can remove the dead code.

[2021-02-07 12:49] brooksie commented on #6957
OK. This version is more concrete. The filter comments previously could be a red herring It is related to the return from a dialog. Here is the reproducer:
[DataTableUpdateError.zip](https://github.com/primefaces/primefaces/files/5938948/DataTableUpdateError.zip)

The concept is to change the membership of the many-to-many relationship User-Roles. The list page has two options - (i) to see members

[2021-02-07 12:50] brooksie commented on #6957
Oops... pressed the wrong button.

[2021-02-07 13:06] melloware commented on #6953
@tandraschko When you say ln122 I think you mean this line:
[code]

If so I have Integration tests that prove both paths are followed.

**GlobalFilterConstraint** is used when you have a generic GloblalFilter like in my DataTable001Test.
[code]

**FunctionFilterConstraint** is used when you have either a custom GloblalFilter or a Column FilterFunction like in my DataTable019Test.
[code]

So I am s

[2021-02-07 13:30] tandraschko commented on #6953
The method of ln122 creates the global FilterMeta and reuses globalFilterFunction.
If a globalFilterFunction is defined, you completely skip the global FilterMeta in FilterFeature

[2021-02-07 13:33] melloware commented on #6957
I made two small changes and it seems to work now.
[pf-6957.zip](https://github.com/primefaces/primefaces/files/5939067/pf-6957.zip)

1. On the Add button in the dialog I removed `update="@form``

2. On the dialogReturn I changed `update="@form"` to `update="pnlTable"` and removed the `oncomplete="filter()"`.   Not sure if I needed to remove the filter() or not but definitely changing your update

[2021-02-07 13:49] melloware commented on #6953
I see what you mean now.  Removed this code and all Integration Tests are still passing.

[2021-02-07 16:16] melloware commented on #6953
Added new Integration test for column filter function as well:
https://github.com/primefaces-extensions/primefaces-integration-tests/commit/f7457b6f6d5f6cd32c7d70d08c4df107411fc72d#diff-25a6634263c1b1f6fc4697a04e2b9904ea4b042a89af59dc93ec1f5d44848a26

[2021-02-07 18:03] brooksie commented on #6957
Unfortunately I can still make it fail sometimes using a different scenario. For example:
1. Click ByUser
2. Select user "Mike"
3. Use the filter to filter on "User." The list will reduce to 4 rows.
4. Click on ByRole
5. Select "User.create"
6. ERROR - instead of 4 rows, there should be 2, for users Jo and Mike.
So "dialogReturn" cannot be the culprit...

[2021-02-07 18:37] melloware commented on #6957
I think its all your update="@form"  try and be more precise with your updates.

[2021-02-08 07:41] #6953 closed, assigned to melloware

[2021-02-08 11:43] pizzi80 commented on #6956
The FileUpload could use directly js FormData instead of ajax with iframe

[2021-02-08 11:53] tandraschko commented on #6956
FormData is already partly used

[2021-02-08 19:22] arturobernalg opened #6962 "JavaDoc: Fix javadoc References"
Some references of the JavaDoc are wrong and other are broken.

[2021-02-08 20:38] rabiter opened #6964 "p:repeat: fix Mojarra ui:repeat does not reset EL var correctly"
**Describe the defect**
The "resetValues=true" attribute + UIRepeat behave not as expected (please check the attached application and the code snippet below)

**Reproducer**
primefaces-test application is attached
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/5946677/primefaces-test-master.zip)

**Environment:**
 - PF Version: 10.0.0
 - JSF + version: Mojarra (all ver

[2021-02-09 08:19] #6962 closed, assigned to arturobernalg

[2021-02-09 08:35] tandraschko commented on #6964
Its mojarra bug. Seems like the var of the ui:repeat is not removed from EL.
So its also reproduceable in p:repeat, which is a fork of mojarra, to fix a old bug in it.

You should at least create a mojarra issue. We could also fix it in p:repeat but i would actually like to get rid of this hack.

[2021-02-09 08:46] tandraschko commented on #6964
as its not a PrimeFaces bug, i will set it as enhancement. Would be great if you work on a PR for Mojarras ui:repeat and port the fix to p:repeat

[2021-02-09 08:48] martin654 commented on #6956
@melloware
You said "Microsoft has recommended people stop using IE for anything but legacy apps however it will still be supported until 2025.". Do you please have source of this information? I haven't find this myself... Thank you

[2021-02-09 09:02] tandraschko commented on #6964
Can can simple debug p:repeat, line 671:
If visitTree is called (with PrimePartialViewContext#resetValues in stack), the following results in null:
context.getFacesContext().getExternalContext().getRequestMap().get(this.var)

when you also add a breakpoint in ln727, the var isnt removed and it resolves in: Winona Lindsey

maybe @melloware would like to fix it in p:repeat and create a mojarra issue

[2021-02-09 10:45] pizzi80 commented on #6956
IMHO whatever the EOL of IE I think it's time to enter the ES6 / CSS 3 era

Primefaces it's getting huge in Java / JS and CSS size to support the 1% of population

May be the v11 could remove all old Java / JSF / JS / CSS hacks and target for

JSF 3+
Java 11+
JS ES6
CSS 3

I think that for Primetek it could be also a business oppportunity to offer an LTS legacy version
for old browser and stack wi

[2021-02-09 10:46] tandraschko commented on #6956
JSF3+ and Java11+ doesnt bring any benefit currently
JSF4+ will be a bigger change then.
But we will remove JSF 2.0 support, so we can cleanup our UIData.

[2021-02-09 10:48] pizzi80 commented on #6956
@tandraschko I really wanted to write JSF4 then I corrected myself to not look too aggressive :)

[2021-02-09 12:30] melloware commented on #6956
@martin654 To answer.

Countdown: https://death-to-ie11.com/

When it boils down to it, IE11's support is tied to Windows 10 - which will see its mainstream support ending Oct. 13, 2020, and its extended support ending Oct. 14, 2025. It's likely that both of those dates will get pushed further to the right as Microsoft has a history of extending support for operating systems.

"Microsoft really do

[2021-02-09 12:49] melloware commented on #6964
I will put this on my TODO list.  I am most dissapointed with Mojarra progress since switching from Oracle to Jakarta.  I have had two open PR's for a long time that fix simple and obvious bugs and just absolutely no activity.

[2021-02-09 13:26] tandraschko commented on #6916
I think we should close this as wont fix. we need 3 attributes for full flexiblity actually: content type, content length, content name
therefore StreamedContent is the smarter choice.

[2021-02-09 13:31] melloware commented on #6916
+1

[2021-02-09 13:54] JoHoop opened #6965 "SelectManyMenu: no AJAX behavior events available"
There are no AJAX behavior events available for the SelectManyMenu component.
It would be great to have events similar to the SelectOneMenu component (`change`, `itemSelect`, `click`).

[2021-02-09 13:55] tandraschko commented on #6965
Duplicate of: https://github.com/primefaces/primefaces/issues/2330

[2021-02-09 13:55] #6965 closed, assigned to nobody

[2021-02-09 14:16] rabiter commented on #6964
the Mojarra UIRepeat issue seems to be at least 8 years old:
https://stackoverflow.com/questions/14398960/magic-uirepeat-var

[2021-02-09 14:58] brooksie commented on #6957
Changing `update=` didn't make any difference. I think "update" only impacts *which* components get updated, not *how* they are updated.

I have resolved my issue by making separate DataTables for the "ByUser" and "ByRole" views rather than a single table, which has removed the need to have columns which are optionally rendered/visible depending on the view. I also needed to ensure the filteredVal

[2021-02-09 14:58] #6957 closed, assigned to nobody

[2021-02-09 15:03] melloware commented on #6957
thanks for posting your solution!

[2021-02-09 15:29] tandraschko commented on #6916
i refactored the code to avoid the getter call
as i said, we could now support byte[] and inputstream easily, however we would need to pass content type, optional filename and optional content length to the DynamicContentSrcBuilder.
Not sure if we should add this attributes to graphicImage and maybe other components.

wdyt @Rapster @melloware ?

[2021-02-09 15:31] tandraschko commented on #6916
the code now is also cleaner and more documented

[2021-02-09 15:35] #6916 closed, assigned to tandraschko

[2021-02-09 15:41] tuerker commented on #6916
@tandraschko could it be that all these attributes are optional such that you have just provide the byte[], while the others are set to defaults, as in omnifaces -> https://showcase.omnifaces.org/components/graphicImage

[2021-02-09 15:44] tandraschko commented on #6916
yeah but i dont like to introduce like 12 or 15 attributes in multiple components because you dont like to write a bean method :D
not sure here.

[2021-02-09 15:46] melloware commented on #6916
This refactoring does clean it up nicely!

[2021-02-09 16:11] tuerker commented on #6916
many thanks. i see your point.

as always it is a question where to pay the price. it is not just about single method.

with the current implementation, you have to introduce the following code everywhere you have a byte[] content:

[code]
if this extension is once implemented by the framework, everybody could avoid these repeating code fragments.

[2021-02-09 16:38] tandraschko opened #6967 "GraphicImage: allow byte[] and InputStream as value"
This will require at least a new contentType attr.

[2021-02-09 16:38] tandraschko commented on #6916
https://github.com/primefaces/primefaces/issues/6967

[2021-02-09 17:27] melloware commented on #6964
Reported to Mojarra and provided a PR.

Issue: https://github.com/eclipse-ee4j/mojarra/issues/4830

PR: https://github.com/eclipse-ee4j/mojarra/pull/4831

[2021-02-09 17:30] #6964 closed, assigned to melloware

[2021-02-09 21:15] edudoda opened #6968 "Global Filter in DataTable is not working in PF10.0.0-RC1"
**Describe the defect**

Global filter in DataTable is not working in PF10.0.0-RC1

**Reproducer**

 GlobalFilter is not working. Only UIColumn#filterBy is working, you can check it in the last show case as well

**Environment:**
 - PF Version: 10.0.0-RC1
 - JSF + version: JSF 2.2.19
 - Affected browsers: _e.g. Chrome, Safari

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  https://www

[2021-02-09 21:19] buunsal commented on #6968
Thanks for your report but @melloware fixed with https://github.com/primefaces/primefaces/commit/36b2fe415b1a7fb9600b368228c5f9fb5d617f69

[2021-02-09 21:19] #6968 closed, assigned to nobody

[2021-02-09 21:21] melloware commented on #6968
Yep RC2 should be out soon @edudoda

[2021-02-09 21:38] edudoda opened #6969 "GMap: InfoWindow requires 'overlaySelect' and 'overlayDblSelect' simultaneously"
**Describe the defect**

In  PF10.0.0-RC1  GMAP with  InfoWindow only works if both ajax are informed  (overlaySelect and overlayDblSelect)

**Reproducer**

 [Docummentation]( https://primefaces.github.io/primefaces/10_0_0/#/components/gmap) doesn't mention that both are required, and  [infoWindow showcase](https://www.primefaces.org/showcase/ui/data/gmap/infoWindow.xhtml?jfwid=af262)  is also bro

[2021-02-10 09:26] Rapster commented on #6967
What you describe sounds very much like StreamedContent

[2021-02-10 09:33] pizzi80 commented on #6899
I think it's time also to remove every:
[code]

[2021-02-10 11:06] tandraschko commented on #6967
it does but it makes it simpler; just do e.g.
```p:grahicImage value=#{varInUIRepeat.byteArray} contentType="image/png" stream=false```

so you dont have a wrapper method in your model class e.g.

[2021-02-10 11:13] BorisYellnikov opened #6971 "TreeTable: Error after migration to PF 10 from PF 8."
**Describe the defect**
After migration from PF 8 to 10 i have error in my composite component.

lut 10, 2021 10:50:23 AM com.sun.faces.application.view.FaceletViewHandlingStrategy handleRenderException
SEVERE: Error Rendering View[/content/webSiteEditor.xhtml]
javax.el.ELException: /resources/aik/treeTableDataModelEditor.xhtml @35,38 value="#{cc.attrs.value}": Cannot convert [org.primefaces.model

[2021-02-10 11:16] tandraschko commented on #6971
TreeTable does not support DefaultMenuModel, also you didnt provide a reproducer.

[2021-02-10 11:27] BorisYellnikov commented on #6971
The problem is it works in PF 8 and earlier versions of PF, and I don't use as a value DefaultMenuModel but TreeNode.

[2021-02-10 11:30] tandraschko commented on #6971
Your exception says something different. we cant still help you without a reproducer.

[2021-02-10 12:39] Rapster commented on #6967
I don't know what you mean by wrapper method... one part of graphicImage input is set at different places: markup and java while it could be done in one place. You already implementing a getter in varInUIRepeat returning a byte[],  you can return StreamedContent at this point

[2021-02-10 12:51] tandraschko commented on #6967
varInUIRepeat might just be a POJO/Entity whatever, without PrimeFaces model stuff from another project-layer

[2021-02-10 12:54] melloware commented on #6969
Can you paste the stack trace of the error thrown?

[2021-02-10 12:58] melloware commented on #6969
Nevermind I see the issue.  Behaviors get can return NULL.

[2021-02-10 12:59] #6969 closed, assigned to melloware

[2021-02-10 13:15] mertsincan opened #6973 "Improve animation performance on overlay panels"
Remove show/hide animation of JqueryUI from the connected overlay panel. They can use CSS animations.

- [x] AutoComplete (remove 'effect' and 'effectDuration' attributes)
- [x] CascadeSelect
- [x] Datepicker
- [x] Password
- [x] SelectCheckboxMenu
- [x] SelectOneMenu (remove 'effect' and 'effectSpeed' attributes)
- [x] ThemeSwitcher (remove 'effect' and 'effectSpeed' attributes)
- [x] SplitButton

[2021-02-10 13:51] melloware opened #6975 "Password: ToggleMask Icons"
**Description**
Need toggle mask icons for password added to theme.

[code]

Related to: https://github.com/primefaces/primefaces/issues/6919

[2021-02-10 13:56] #6919 closed, assigned to melloware

[2021-02-10 14:08] tandraschko commented on #6971
will close it for now, please come back if you have a reproducer (a forked primefaces-test project)

[2021-02-10 14:08] #6971 closed, assigned to nobody

[2021-02-10 14:25] tandraschko commented on #6967
i now commited it, its very basic and doesnt introduce new attributes.
What does this mean?
- we try to get the content type from the content via magic numbers in Data URI mode (stream=false)
- we dont set a content-type in the header when stream=true

IMO if someone would like to set contenttype, encoding, filename -> StreamedContent should be used.

@melloware interessted in document it? actuall

[2021-02-10 14:27] melloware commented on #6967
Yes let me review and document.

[2021-02-10 18:31] christophs78 commented on #6973
IMO there´s a regression with lazy SelectOneMenu. (reproduceable in showcase; ui/input/oneMenu.xhtml)
When you first click on the Lazy one it does not open. Please compare this to http://primefaces.org/showcase/ui/input/oneMenu.xhtml

[2021-02-10 18:33] melloware commented on #6973
I think DatePicker might have something similar going on.

[2021-02-10 18:50] christophs78 commented on #6973
Overall this is a really good improvement!
We "only" should avoid breaking existing usecases. Together we get this done. :-)

[2021-02-11 07:43] mertsincan commented on #6973
When you first click on the Lazy one it does not open. Please compare this to http://primefaces.org/showcase/ui/input/oneMenu.xhtml

@christophs78, it works fine for me.  Which browser are you using?

[2021-02-11 07:54] tandraschko opened #6977 "ImportConstants: doesnt scan fields from inherited classes"

[2021-02-11 08:28] #6977 closed, assigned to tandraschko

[2021-02-11 08:42] #6967 closed, assigned to tandraschko

[2021-02-11 08:45] #6941 closed, assigned to Rapster

[2021-02-11 08:59] mertsincan opened #6978 "Improve registered events on components"
For example, if a component is using the PrimeFaces.utils.registerScrollHandler to close its panel, the scroll event is called even if the panel is closed. Such events can be registered when the panel is visible.

https://user-images.githubusercontent.com/11868120/107623300-2ea79580-6c6a-11eb-836e-2c2cf7894f90.mov

- [x] AutoComplete
- [x] CascadeSelect
- [x] Datepicker
- [x] Password
- [x] Select

[2021-02-11 09:02] tandraschko commented on #6978
we currently do this in each widget itself, see dialog.js ln784

[2021-02-11 09:10] mertsincan commented on #6978
Yes, but, I could not find unbind operations in components. The scroll event is always called. I think this will cause performance problems.

[2021-02-11 09:13] tandraschko commented on #6978
registerScrollHandler should remove itself on widget destroy

EDIT: it already does, see core.utils.js lin 384

[2021-02-11 09:16] tandraschko commented on #6978
Or do you like to remove/add the scroll handler when open/close a overlay?
its better of course but more "maintainence" in each widget

[2021-02-11 10:04] mertsincan commented on #6978
@tandraschko
https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/forms/forms.password.js#L137

https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/forms/forms.password.js#L154

[2021-02-11 10:07] tandraschko commented on #6978
yep, thats cool

[2021-02-11 10:56] christophs78 commented on #6973
Edge 88; i´ll recheck this evening; currently (very) busy on my day-job

[2021-02-11 12:30] melloware commented on #6978
@mertsincan I always wondered about this since DatePicker registers and unregisters on popup open and close but I noticed we weren't doing that anywhere else in PF.  This is a good improvement!

[2021-02-11 16:50] christophs78 commented on #6973
Everything fine today. .-) Maybe i had some browser-caching-issue yesterday.

[2021-02-12 07:11] tandraschko commented on #76
@melloware i thought we only stale defects?

[2021-02-12 08:01] mertsincan commented on #6973
Thanks a lot, @christophs78 ;)

[2021-02-12 08:07] mauromol commented on #4238
I'll never understand the usefulness of such "stale bots"...

[2021-02-12 11:02] VsevolodGolovanov commented on #4068
Rechecked with the current 10.0.0-SNAPSHOT build - still works the same.

[2021-02-12 11:35] #6973 closed, assigned to mertsincan

[2021-02-12 11:44] mertsincan commented on #6583
When the scrollable container(**not document**) is scrolled or window is resized, all open overlay panels will be closed.

- [x] AutoComplete
- [x] CascadeSelect
- [x] Datepicker
- [x] Password
- [x] SelectCheckboxMenu
- [x] SelectOneMenu
- [x] ThemeSwitcher
- [x] SplitButton
- [x] OverlayPanel
- [x] Menu
- [x] MenuButton
- [x] SlideMenu
- [x] TieredMenu
- [x] ConfirmPopup
- [x] ContextMenu
- [x]

[2021-02-12 11:56] melloware commented on #4238
@mauromol This helps us keep the issues list management with issues that people still care about.    Its not a big deal to respond and get 2 more years. If we get no response it shows that someone doesn't use PF anymore, the issue may already be fixed etc etc etc.

[2021-02-12 12:03] melloware commented on #76
I just updated it to exempt "New Feature and Enhancement" labels.

 I wanted the first pass to mark everything older than 2 years to see if we really do need it.  For example this issue is 5 years old and came over from Google Code and honestly it has no upvotes or comments and realistically is never going to be implemented. See: https://github.com/primefaces/primefaces/issues/29

[2021-02-12 12:23] mauromol commented on #4238
I know what those bots are for, and I know it's not a PrimeFaces only thing, however I personally completely disagree with their use. In many years of programming I never saw inactivity fix bugs. If reports stay quite for long it's almost certainly simply because no one worked on them and the related bugs are still there. From one side "+1" messages on reports are blamed as useless, but from the o

[2021-02-12 15:53] jepsar opened #6982 "Core: Bundle and automatically load client side locale Javascripts"
See

* https://github.com/primefaces/primefaces/wiki/Locales#client-localization
* https://github.com/primefaces-extensions/primefaces-extensions/issues/310

[2021-02-12 16:06] stolp commented on #4238
To add my 2 cents, I think bots closing issues are shying away users who did raise issues in the past or think about raising issues in the future.

I recently raised an issue about a spelling issue regarding the most prominently praised product slogan for another project.
In reply I was being informed by a bot that I did not follow the issue template ... speaking about good first impressions.

I t

[2021-02-12 16:22] melloware commented on #4238
Yeah Stale issues I think keep a project from have 1000 issues plus of garbage.  However I am with you that Template bots and CLA bots are the WORST.  Mojarra makes you sign a CLA and every Git Commit has to be signed. Its so annoying.

This is about trying to keep a large project manageable.

[2021-02-12 16:24] melloware commented on #4238
Here is a perfect example: https://github.com/primefaces/primefaces/issues/73

5 years no comments, no upvotes, nobody complaining about it.  And plus with last 5 years of CSS and theming who knows if its even an issue anymore.  So this gives the OP within 30 days a chance to say "Yes this is still an issue keep it open".

[2021-02-12 17:51] mauromol commented on #4238
No comments, no upvotes, nobody complaining does not mean that is not a bug, unless verified as "WORKSFORME" in current version. If a bot could verify it doesn't stand any more, welcome to such a bot. But closing it just because no activity is present on the bug report sounds like "sweeping the dust under the rug" to me.
Also consider that users bothering to open and follow up on bugs are the mino

[2021-02-12 18:18] melloware commented on #4238
All valid points!   However some counterpoints...

1. If I see a bug is open for 5 years I may be discouraged but then I look at Git Commit history to see how healthy a project is.   I no commits in 6 months or sparse commits I probably would steer away from that library....

2. Bugs usually get fixed if a quality reproducer is provided.  Very few users provide that.  And the ones that do usually

[2021-02-12 20:45] stolp commented on #4238
@melloware:

Point 1 I totally agree to, but it definitely doesn't apply to PrimeFaces given the recent activity seen here.

To Point 2 I also agree and I like the solution proposed (although I doubt that much will happen in the next 30 days).

But what is supposed to happen to the flagged enhancement/ feature requests like the randomly picked #125?
I see nothing wrong about many of those except t

[2021-02-12 21:00] melloware commented on #4238
Yep I am reviewing each one and removing stale label if valid.

[2021-02-12 21:16] melloware commented on #4238
31 issues left: https://github.com/primefaces/primefaces/issues?q=is%3Aissue+is%3Aopen+label%3AStale

Feel free to review and comment on any to keep them alive.  But I took my pass at the list.

[2021-02-12 21:39] jdbenitezh opened #6983 "Primefaces X release candidate 1 for jsf."
Using a p:password after p:selectOneMenu causes the drop-down to contain the available login passwords instead of the assigned data.

`
ui:define name="content">
        <h:form id="fform">
            <p:card>

                <div class="ui-fluid">
                    <p:outputLabel for="@next" value="#{lbl.language}" styleClass="p-col-12 p-md-2"/>
                    <div class="p-col-12 p-md-1

[2021-02-12 21:51] melloware commented on #6983
Can't reproduce:
[pf-6983.zip](https://github.com/primefaces/primefaces/files/5974465/pf-6983.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2021-02-13 01:09] #6983 closed, assigned to nobody

[2021-02-13 08:32] tandraschko commented on #689
Should not to hard to impl, will Check it

[2021-02-13 17:11] melloware commented on #4238
@mauromol only 5 issues now have the stale flag!  Also would you do me a favor we are adding locale JS to PF10 was wondering if you could review update the Italian translation here: https://github.com/primefaces/primefaces/wiki/Locales#italian

A full translation you can look at is American English: https://github.com/primefaces/primefaces/wiki/Locales#american-english

[2021-02-13 19:03] anuragnz opened #6985 "Tabview: facet actions not displayed properly"
Hi there,

The new primefacesX component Tabview have issue with facet name="actions" is not displaying properly.

Here is sample code

[code]

Please see here:

![image](https://user-images.githubusercontent.com/3331466/107858807-ff2b9f80-6e9a-11eb-975f-14e3559031e0.png)

[2021-02-13 19:07] melloware commented on #6985
What theme are you using?

[2021-02-13 19:10] anuragnz commented on #6985
Its using default theme which I think is "Saga".

[2021-02-13 20:12] tuerker opened #6986 "Button: button and commandButton are laid out differently"
It looks that p:button and p:commandButtons are differently layouted. In my example below buttons 1,2,3, and 6 are p:button while 4 and 5 are p:commandButtons

![Screenshot from 2021-02-13 21-06-16](https://user-images.githubusercontent.com/10051373/107860465-bf839a00-6e3f-11eb-8383-eba76ac3424b.png)

Many thanks in advance for having a look on this issue.

[2021-02-13 21:01] melloware commented on #6986
Can you provide exact XHTML to reproduce. Or a PF test reproducer?

[2021-02-13 21:47] melloware commented on #6985
This is definitely a Theme issue assigning to @mertsincan .

Reproducer:
[pf-6985.zip](https://github.com/primefaces/primefaces/files/5976589/pf-6985.zip)

8.0
![image](https://user-images.githubusercontent.com/4399574/107862466-04e1a080-6e1b-11eb-8f49-f107b6277da5.png)

10.0.0
![image](https://user-images.githubusercontent.com/4399574/107862506-1e82e800-6e1b-11eb-8a24-dec735f4bfdb.png)

[2021-02-13 23:26] tuerker commented on #6986
While trying to create a reproducer (see below), i detected the problem has other reasons: button and commandButton are not layouted differently.

Rather the reported layout problem is simply due to the fact that in my panelGrids the h:form is around each commandButton as follows:

[code]
Interestingly, with THEME=none (as in the reproducer) this problem does not appear. But for the template DIAMO

[2021-02-14 12:22] melloware commented on #6986
**No theme:**
![image](https://user-images.githubusercontent.com/4399574/107876656-38611100-6e95-11eb-8648-a046ab397932.png)

**Saga:**
![image](https://user-images.githubusercontent.com/4399574/107876680-54fd4900-6e95-11eb-89d7-b161818e5fae.png)

Both look fine to me.  Could your issue be you are using the Diamond theme that hasn't been updated for PF10 yet?  Because Saga Vela and Arya all look f

[2021-02-14 13:07] melloware commented on #5035
@astappiev I think your issue maybe Bootstrap.  Using 10.0.0-SNAPSHOT running your example it happens but I do the same thing in one of my PF Premium Themes it works fine.  So I actually think Bootstrap is somehow causing that extra spacing.

[2021-02-14 13:09] melloware commented on #6906
This is fixed in 10.0.0-RC2 with this fix: #6973

[2021-02-14 13:09] #6906 closed, assigned to melloware

[2021-02-14 16:50] edudoda opened #6987 "DataTable/TreeTable: sortBy not working with client saving state method"
**Describe the defect**
After migrate from PF8 to 10, all DataTables and TreeTables with  "sortBy" defined in columns stops to work.

Trying to debug I could see that in  **org.primefaces.component.datatable.feature.SortFeature.class** , from  line 152:
`Map<String, SortMeta> sortBy = table.getActiveSortMeta();` is always empty and `Object varBackup = context.getExternalContext().getRequestMap().g

[2021-02-14 17:35] tandraschko commented on #6987
@Rapster can you assist please?

[2021-02-14 17:58] Rapster commented on #6987
Did you try with the latest source/build (e.g jitpack)? I can't reproduce the issue on showcase

[2021-02-14 21:09] tuerker commented on #6986
@melloware i can verify that the reproducer looks fine for the given example in both cases: theme=none as well as for the diamond template. the form element in the css looks as follows in any case:

[code]

using the code fragment of the reproducer in my code, however, produces the following css element for the form whenever the form is used inside a panelgrid:

[code]

![Screenshot from 2021-02-1

[2021-02-15 04:22] edudoda commented on #6987
I'm running it from Maven, also my JSF related is:
[code]

[2021-02-15 07:57] fcjm opened #6988 "DataTable: Paginator not highlighting the currently focused item"
**Describe the defect**
I am currently checking parts of our application for an upcoming accessibility test and when testing the PF10 branch I found that the paginator does not highlight the currently focused item.

In PF8 when you tabbed through the different paginator elements of a DataTable, the currently focused item would always be highlighted to give the user feedback as to which item was cu

[2021-02-15 08:28] #6583 closed, assigned to melloware, mertsincan

[2021-02-15 08:28] #6978 closed, assigned to mertsincan

[2021-02-15 10:31] mertsincan commented on #6986
Hi,
I couldn't replicate it with Saga, Vela and Arya themes. Could you please try these themes? If you think this problem is related to the Diamond theme, please create a ticket in https://forum.primefaces.org/viewforum.php?f=136

For now, close. If the problem persists, please reopen this ticket.

Best Regards,

[2021-02-15 10:31] #6986 closed, assigned to nobody

[2021-02-15 10:37] Rapster commented on #6987
Still can't reproduce your issue based on infos you've given. Please provide a runnable reproducer of your issue using https://github.com/primefaces/primefaces-test

[2021-02-15 11:42] #6985 closed, assigned to mertsincan

[2021-02-15 12:02] #6975 closed, assigned to mertsincan

[2021-02-15 12:15] mertsincan commented on #5126
Yes, Divider can be used instead of p:separator component. OR f:facet name="separator" ?? @melloware WDYT?

[2021-02-15 12:26] tandraschko commented on #1493
@melloware @Rapster can you review? https://github.com/eclipse-ee4j/faces-api/issues/1507

[2021-02-15 13:18] melloware commented on #5126
I feel like we should use Divider as it seems to make logical sense and it allows the flow the XHTML to look correct.

[2021-02-15 13:27] melloware commented on #6988
Theme issue so I have assigned to @mertsincan

[2021-02-15 14:00] jepsar opened #6990 "Theme: p:selectOneMenu with empty noSelectionOption is too small"
Reproducer:
[code]

Confirmed with Saga, but will likely occur on all new themes:

<img width="104" alt="Screenshot 2021-02-15 at 14 59 11" src="https://user-images.githubusercontent.com/7500178/107955714-641bee00-6f9e-11eb-95e1-d8d274e76028.png">

<img width="93" alt="Screenshot 2021-02-15 at 14 59 42" src="https://user-images.githubusercontent.com/7500178/107955768-785feb00-6f9e-11eb-8983-129f41