[2019-06-24 18:55] melloware commented on #4928
I would submit a PR.

[2019-06-24 19:49] kaiwinter opened #4932 "staticMessage: Setter for styleClass missing"
[StaticMessageBase](https://github.com/primefaces/primefaces/blob/ba2900cfcd4276e31224f38667561973b36a7ba9/src/main/java/org/primefaces/component/staticmessage/StaticMessageBase.java#L96) seems to just miss a valid setter for styleClass.

## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? - No
- Does it work on the newest sources in GitHu

[2019-06-24 20:38] russo177x opened #4934 "TextEditor: Saving text without closing tags"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: Glassfish Server 3
- Affected browsers: Firefox

## 2) Expected behavior
I need the text with the closed tags, for example: <p.. > Teaching games. </ P>

## 3) Actual behavior
![Screenshot_2](https://user-images.githubusercontent.com/47541108/60050250-929cd500-96a6-11e9-99c2-aa8577cbee89.png)

## 4) Steps to reproduce
Just

[2019-06-24 20:40] Rawi01 commented on #4849
I just tried your sample project and the only "leak" i could find were some data referenced by some session stuff. I set the session timeout to one minute and the objects were removed properly after a short time.

[2019-06-24 21:15] #4932 closed, assigned to nobody

[2019-06-24 21:36] tandraschko commented on #4934
i don't think we can change that, thats up to the used quill editor.

[2019-06-24 23:42] melloware commented on #4909
Hmm can you try my demo app?  I was able to transfer items without the browser crashing in IE.  How many of the 4000 items are you trying to transfer?  I was only selecting a few.

[2019-06-24 23:45] melloware commented on #4849
@Rawi01 were you using Mojarra or MyFaces?  If you were using Mojarra you have to let the app run for hours.  A session timeout of 1 minute does not do my users any good.  They are allowed to be in as "Guest" for 8 hours without being logged out.

[2019-06-24 23:46] melloware commented on #4934
Agreed with @tandraschko you will have to write a Validator if you want to validate the HTML and correct it.

[2019-06-25 04:07] kaiwinter opened #4935 "staticMessage: NullPointerException when severity is not set"
[StaticMessageRenderer](https://github.com/primefaces/primefaces/blob/ba2900cfcd4276e31224f38667561973b36a7ba9/src/main/java/org/primefaces/component/staticmessage/StaticMessageRenderer.java#L41) doesnt't check if severity is set before using it.

## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? - No
- Does it work on the newest sources

[2019-06-25 05:29] tandraschko commented on #4935
+1 for Info as default

[2019-06-25 05:33] lodhipra opened #4936 "Issue in prime faces pagination"
Currently i am using datatable without pagination so it shows all recods in single page as

<p:dataTable value="#{txn_incident_createcontroller.allIncOrgDateStatus()}" var="liste" border="1" style="width: 100%;" id="datastatus"

                    <p:column >
                        <f:facet name="header" >
                            <h:outputText value="" />
                        </f:facet>

[2019-06-25 06:02] tandraschko commented on #4936
Please follow the issue template and provide all infos.

[2019-06-25 06:20] matinh commented on #4931
Thanks @Rawi01 for your comment. I tested your suggestion and it fixes the problem for me. I created PR #4937 as a fix. BTW, the issue is not only with `<p:dataGrid>` but also with `<p:dataTable>`. The suggested change fixes the issue for both components.

One more thing: from looking at the source, the same issue might arise with the `first`-attribute. Should we change this in a similar manner as

[2019-06-25 06:30] Rawi01 commented on #4849
@melloware I simply used your sample project so it should be Mojarra. I only tried to decrease the session tieout to test if it cleans up the remaining state holders after that timeout and it does as expected.
I just started a new test and will let it run the next 8 hours.

[2019-06-25 06:46] matinh commented on #4846
Closing because this was merged by @tandraschko in commit 21ced6d. Thanks.
I'll create a PR for #4847 next.

[2019-06-25 06:46] #4846 closed, assigned to nobody

[2019-06-25 06:58] lodhipra commented on #4936
Sir sorry due to security  reason we are unable to give you code ,
but i will provide you a full description

as initial data table have rows="10" and it shows all records fine but when i will click on another page button or next button it remove all records in the datatable. So, the problem arrives when i will perform any click action to navigate of filter in the datatable.

as you will see datat

[2019-06-25 07:03] tandraschko commented on #4936
i don't want your production code, we need a new created sample code to reproduce your issue.

[2019-06-25 07:06] tandraschko commented on #4936
Also it sounds more like a forum question currently.

[2019-06-25 07:40] Rawi01 commented on #4931
Thanks for testing my idea. I think that the `first` attribute should be handled the same. We should consider to move this functionality into a utility method.

[2019-06-25 07:49] matinh commented on #4931
I just verified with the test-project, that first has the same problem. I'll update the PR to also fix this issue.

[2019-06-25 08:45] matinh commented on #4931
Ok, I've updated the PR #4937:
* it now considers the columns attribute and the first attribute
* it removes some unnecessary code which updates the attributes again.
* it refactors the check for a writable value-expression into a method `isWriteable()`

I'm relatively new to git and messed up my branch for this fix. I did undo some accidental commits. The commits containing the actual changes are

[2019-06-25 09:46] Rawi01 commented on #4928
The fix changes the tag from `ul` to `ol`. This requires theme changes.
It seems like the themes are generated, does it make sense to change these files instead of the used template?

[2019-06-25 09:49] tandraschko commented on #4928
Thats Up to @mertsincan

[2019-06-25 11:01] russo177x commented on #4934
Thanks for the answer

[2019-06-25 11:01] #4934 closed, assigned to nobody

[2019-06-25 11:04] melloware commented on #4849
Nice and after 8 hours with a 8 hour session timeout make sure you look at `javax.faces.component.StateHolderSaver` instances you will see it won't garbage collect them all.

[2019-06-25 11:07] melloware commented on #4935
+1 for this I can submit a PR.

[2019-06-25 11:23] Amit8608525622 commented on #4909
I have made some changes(in the way my application Picklist is designed) to the demo you have provided to replicate the issue.

Issues -
1. After transferring the single item from source to target the block ui is showing after some time. It should show immediately.
2. If you drag and drop the item from source to target the browser screen will lag for sometime and then BlockUI will popup.
3. For Sc

[2019-06-25 11:26] Amit8608525622 commented on #4909
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>PrimeFaces Test</title>
	<script>
		$(document).ready(function() {
			$('#nonAjaxLoad').hide();
		});

		$(window).bind('beforeunload', function() {
			$('#nonAj

[2019-06-25 11:27] Amit8608525622 commented on #4909
package org.primefaces.test;

import org.primefaces.model.DualListModel;

import java.io.Serializable;
import javax.annotation.PostConstruct;
import javax.faces.bean.ManagedBean;
import javax.faces.bean.ViewScoped;
import java.util.ArrayList;
import java.util.List;
import java.util.Random;

@ManagedBean(name = "testView")
@ViewScoped
public class TestView implements Serializable {

	private String

[2019-06-25 11:30] Amit8608525622 commented on #4909
I am not able to attach any file here in comments. So pasted the code above. I have added a gif image for blockUI which you have to replace with any loading image.

[2019-06-25 11:38] russo177x commented on #4934
You have a example how to use the validator with the TextEditor??

[2019-06-25 11:38] Olafxso opened #4939 "Schedule height does not work with height:'parent'"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: All
- Affected browsers: All

## 2) Expected behavior
Make a fullsize schedule using height:'parent' like its docum

[2019-06-25 14:11] tandraschko commented on #4929
why should it be hidden?
Please describe your problems a bit more before creating PR's, we can't just apply PRs without reason.

[2019-06-25 14:15] #4868 closed, assigned to nobody

[2019-06-25 14:31] #4847 closed, assigned to nobody

[2019-06-25 14:37] matinh commented on #4931
@Rawi01: @tandraschko won't apply the PR until you explain why your suggestion fixes the issue. See https://github.com/primefaces/primefaces/pull/4937#issuecomment-505469850 for details. Could you please elaborate? Thanks.

[2019-06-25 14:37] #4870 closed, assigned to nobody

[2019-06-25 14:45] tandraschko commented on #4935
Please see my commit

[2019-06-25 14:45] #4935 closed, assigned to nobody

[2019-06-25 14:49] #4167 closed, assigned to nobody

[2019-06-25 14:50] tandraschko commented on #4167
Feel free to provide a pull request for the documentation. We should probably mention that the editor is deprecated and has some problems.
Maybe @melloware or @Rapster is also interessted in improving the documentation here.

[2019-06-25 15:01] Rapster commented on #4167
I don't know much of p:editor and all the history. I think your suggestion is the best solution Thomas

[2019-06-25 16:43] Rawi01 commented on #4929
I'm sorry for the short description, I will try to describe problems more detailed in the future.

In general icons that use icon fonts should be hidden from assistive technology because they may try to translate them to there target audience. For example a screen reader might try to read this one `✎ Edit` as `Edit Edit` or `Pencil Edit`. You can find a longer explanation at the [fontawesome page]

[2019-06-25 17:02] Rapster commented on #4863
Indeed, no extension should be allowed. After having a look to `FileUploadUtils`, I think @cnsgithub mentionned https://github.com/augustd/owasp-java-fileio. It looks like there are all the utils we need here.

[2019-06-26 01:58] deepakkumarbarik commented on #1188
Can I user to restrict, they can not enter after 1000 character in the p-editor in angular?

[2019-06-26 06:42] #4929 closed, assigned to nobody

[2019-06-26 07:36] RueKow opened #4940 "TextEditor: Should use JODIT instead of QUILL"
## 1) Environment
- PrimeFaces version: 7.x
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 9
- Affected browsers: All

## 2) Expected behavior
TextEditor should have features:
- Insert table
- Insert horizontal line
- . . . see Open Source WYSIWYG editor JODIT
- https://xdsoft.net/jodit/

## 3)

[2019-06-26 07:44] tandraschko commented on #4940
i dont think that this will happen. PrimeTek decided for QuillJS some releases before.
Maybe the best way is to introduce a new editor in PFE.

But in generell -1 for my side, this would be the 4. editor in the PF world ;)

[2019-06-26 09:18] Rawi01 commented on #4931
@matinh @tandraschko I had a few free minutes, looked at the sources and found somehting that seems to be the problem. I never tested or debugged it, it was meant to be a starting point for someone who wants to fix this bug.

About the fix: I assumed that the whole bug report is right at the beginning. That means that I know that it works before the paginator gets used and the problem must be rela

[2019-06-26 09:41] stolp commented on #4940
From the website of JODIT i see that his is under a GPL v2 license, so I don't think that it would be a good idea to have it present in either libraries (PF or PFE).

Having said this, I would love to see a 4th (or 3rd as p:editor is already deprecated) alternative in PF or PFE.

[2019-06-26 10:53] melloware commented on #4940
Yes GPL v2 is no good.  Someone could create it as a standalone JSF library. Or do it like PFE CKEditor does it as a separate JAR.

[2019-06-26 10:58] melloware commented on #1188
This is for PrimeFaces. You want PrimeNG project.

[2019-06-26 10:59] melloware commented on #4934
I do not but when I do is in my backing bean when it receives the value from the Editor you can run it through JSoup (https://jsoup.org/) or some other library to fix the tags.

[2019-06-26 12:23] melloware commented on #4849
I tried removing both `component.subscribeToEvent` and it had no effect.  Memory Leak still there in Mojarra.

[2019-06-26 12:44] melloware commented on #4909
It must be a ZIP file for you to attach code here.  Just zip up the working Test project like I did.

[2019-06-26 12:45] matinh commented on #4931
Ok, I did some further research to see what actually happens. Here we go:
The [`DataGridRenderer`](https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/datagrid/DataGridRenderer.java) when rendering the grid, only uses `UIData.getRows()` and never queries the ValueExpression directly.

`UIData.getRows()` is like this:
[code]
and `eval()` is defined like this:

[2019-06-26 13:39] fanste opened #4941 "Add range selection support to Datepicker with month view"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? 7.0 is latest
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Not tested
- Affected browsers: FF, IE11

## 2) Expected behavior
A range of months should be selectable.

## 3) Actual behavior
The datepi

[2019-06-26 13:41] fanste commented on #4941
JS throws an error if you additionally enable inline mode

[code]
In method `isMonthSelected`

[2019-06-26 14:32] stolp opened #4942 "TextEditor: Wrong placement of resize handle when used with toolbarVisible=true inside a p:resizable"
## 1) Environment
- PrimeFaces version: 7.0.4
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? Not tested yet
- Application server + version: Tomcat 9
- Affected browsers: all

## 2) Expected behavior
The component should behave correct for both settings of the toolbarVisible attribute.

## 3) Actual behavior
The component does not behave

[2019-06-26 14:38] melloware commented on #4942
Any analysis or PR would be great here.  Find out of its a QuillJS issue or PF issue.

[2019-06-27 07:54] ozziej opened #4946 "dataExporter : command buttons need to always have Ajax set to false"
When using either commandButton or commandLink to enclose the p:dataExporter, these always need to be set to ajax=false.
If not, you get an error in the Javascript console (no output in server logs)

Request return with error:parsererror.
error: core.js.xhtml:174
(anonymous function) core.js.xhtml:1032
u - jquery.js.xhtml:1231
fireWith - jquery.js.xhtml:1269:98
k - jquery.js.xhtml:3352:616
(anonym

[2019-06-27 08:01] tandraschko commented on #4946
i think thats expected because you can't download a file via ajax.

[2019-06-27 08:42] Rawi01 commented on #4849
I tried it several times now with different settings and was unable to reproduce the issue.
- If I open the website and close it after a few requests everything gets cleaned up instantly
- If I request the page using curl the GC takes some time to clean them up
- Sometimes (I could not find any pattern) this also happens using the browser
- These remaining objects were stored in the session
In all

[2019-06-27 09:45] ozziej commented on #4946
Sure, but, it's not documented in the examples NOR the documentation and if this is the case, it should at least produce a decent error - not some random error on the browser console.

[2019-06-27 10:05] tandraschko commented on #4946
Sure! Would you like to provide a PR for a better documentation?

[2019-06-27 12:06] melloware commented on #4849
@Rawi01 Let me re-iterate my use case.  I have an app that has been in production for 5 years on PrimeFaces 5.3 then 6.1, now on 6.2 with very little changes to it other than fixing things that PrimeFaces changes between versions.

1. 8 hour session timeout
2. 10,000 users sitting on a public page that refreshes its data every 5 seconds using AutoUpdate.
3. Yes the session cleans up if the session

[2019-06-27 12:43] awenger63 commented on #3369
Any news ?

[2019-06-27 12:44] awenger63 commented on #3369
Issue always exist. to reproduce :
`<div class="content-section content-implementation " dir="RTL">`
Thanks for update ?

[2019-06-27 14:19] stolp commented on #4942
I suspect that this is related to the way the QuillJS part renders the toolbar.

When opening a page containing a textEditor, i can see that first the editor area is drawn and then the toolbar is rendered a bit later.

Note that this is from observation only - reality might differ ...

[2019-06-28 08:39] tandraschko commented on #4946
mentioned it in the documentation now.

[2019-06-28 08:39] #4946 closed, assigned to nobody

[2019-06-28 09:30] tandraschko commented on #4941
@mertsincan can you check this? AFAIR you need to sync sources

[2019-06-28 11:23] #3563 closed, assigned to nobody

[2019-06-28 12:18] #4647 closed, assigned to nobody

[2019-06-28 12:18] #3228 closed, assigned to mertsincan

[2019-06-28 14:57] mertsincan opened #4950 "Add RTL support to Scrollable DataTable"
Exp;
[code]

[2019-06-28 14:58] #4950 closed, assigned to mertsincan

[2019-06-28 15:15] mertsincan commented on #3369
Duplicate of #4950

[2019-06-28 15:15] #3369 closed, assigned to nobody

[2019-06-28 15:52] Rapster commented on #4414
But how the user would reuse it? So far `ExporterFactory#getExporterForType` is the decision maker

[2019-06-28 17:22] Rawi01 commented on #4849
@melloware @tandraschko I was finaly able to reproduce the issue and also found a way to fix it (at least I think I did)

On every request the autoupdate taghandler gets called: https://github.com/primefaces/primefaces/blob/db1f4b76160799f2031f032ea101357e8775c2cf/src/main/java/org/primefaces/component/autoupdate/AutoUpdateTagHandler.java#L43-L52
The `AutoUpdateListener.subscribe` method adds new

[2019-06-28 17:37] ravihariharan commented on #4414
![image](https://user-images.githubusercontent.com/15189434/60360475-cf6c1300-99a9-11e9-90a9-685378e6366f.png)

[2019-06-28 18:03] awenger63 commented on #2238
@melloware
Hi , your solution work fine for one colmun, but how is ti possible to use it only for some column, not for all whit a <p:columns .. ? You only declare one exportFunction for all columns !
Is it possible to call default sometime and passthrough for other ?
Thanks for your suggestion

[2019-06-28 20:17] melloware commented on #2238
Good question I never thought about p:columns and your right you can only declare one on the columns.  Can you give me your exact use case?

[2019-06-28 20:29] melloware commented on #4849
@Rawi01 Awesome work!  Want to submit a PR?

[2019-06-28 22:47] Rapster commented on #4414
First, I think with your PR, this test no longer makes sense, but we should be able to test if the component is supported by one of the defined exporters. Which brings us to this:
[code]

As mentionned earlier, this is trickiest part in this PR in my opinion. As you're giving the possibility to add more exporters, these new exporters have to be registered somehow so they can be used right? Otherwi

[2019-06-29 11:59] melloware commented on #546
Just tested this with the Showcase and the Tab key is working properly and navigates to each option properly.  So this has been fixed over the last few years at some point.

[2019-06-29 11:59] #546 closed, assigned to nobody

[2019-06-29 12:03] melloware commented on #697
This has been fixed at some point in the last 4 years you can see from the source it now selects the active element of the children.
https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/paginator/paginator.js#L308

[2019-06-29 12:03] #697 closed, assigned to nobody

[2019-06-29 12:04] #686 closed, assigned to nobody

[2019-06-29 12:08] #979 closed, assigned to nobody

[2019-06-29 14:51] Rapster commented on #4414
Tell me if I'm wrong but you're planning to use your custom exporter like this right:
[code]

[2019-06-29 15:11] melloware commented on #2567
@jxmai @MKhlon I believe this was fixed with this fix: https://github.com/primefaces/primefaces/issues/830

[2019-06-29 15:15] melloware commented on #1657
Marking this as invalid as you are trying to embed HTML in the template which we escape anyway to prevent XSS.

[2019-06-29 15:15] #1657 closed, assigned to nobody

[2019-06-29 15:18] melloware commented on #1625
Documentation has been updated and no longer does it say rows=0 displays all rows.  See: https://primefaces.github.io/primefaces/7_0/#/components/datatable

[2019-06-29 15:18] #1625 closed, assigned to nobody

[2019-06-29 16:22] awenger63 commented on #2238
@melloware
Example of implementation need

<p:colmuns> whit 3 columns but only one exportFunction ! :

    first : LABEL
    seconde : NAME
    third : DATE-TIME with f:converter (pattern="EEEEEEEE, MMM dd, yyyy")

Wanted in

    pdf : exactly what I see, than no exportFunction and no dataChange
    xls or cvs : in first colmun the CODE of the LABEL, second the NAME, and third the DATE-TIME in Dat

[2019-06-29 17:24] melloware commented on #2238
I see.  Not quite sure how my workaround can work for this.  I will have to think about it but not sure i have a clever workaround for you.

[2019-06-29 17:25] melloware commented on #2972
Duplicate of https://github.com/primefaces/primefaces/issues/3684 so closing this ticket.

[2019-06-29 17:25] #2972 closed, assigned to nobody

[2019-06-29 17:29] melloware commented on #879
4 years with no activity and JQPlot is deprecated in favor of the new ChartJS charts.

[2019-06-29 17:29] #879 closed, assigned to nobody

[2019-06-29 17:50] melloware commented on #1394
Closing as this was fixed with this ticket: https://github.com/primefaces/primefaces/issues/3519

[2019-06-29 17:50] #1394 closed, assigned to nobody

[2019-06-29 17:56] melloware commented on #1643
PR Submitted.

[2019-06-29 18:05] melloware commented on #1762
Solution provided...closing issue.

[2019-06-29 18:05] #1762 closed, assigned to nobody

[2019-06-29 18:19] melloware commented on #66
This was implemented as "fileLimit".  Closing as this is fixed in the docs: https://primefaces.github.io/primefaces/7_0/#/components/fileupload?id=fileupload

[2019-06-29 18:19] #66 closed, assigned to nobody

[2019-06-29 18:21] melloware commented on #4136
Closing this as a duplicate of https://github.com/primefaces/primefaces/issues/12

Touch support was added however.

[2019-06-29 18:21] #4136 closed, assigned to nobody

[2019-06-29 22:24] tandraschko commented on #4849
latenight prototype commited, please test ;) also with dynamic disabled attr.

[2019-06-30 04:52] jxmai commented on #2567
@melloware You're right. https://github.com/primefaces/primefaces/commit/e685fc6b0f574bdfa330bcf99d8e531fe979e199 fixed this issue. Thanks for pointing it out !

[2019-06-30 11:56] #2567 closed, assigned to nobody

[2019-06-30 11:58] melloware commented on #4849
@tandraschko I will test in the morning and let you know the results.

[2019-06-30 15:09] melloware commented on #613
As of PF 7.0 I am able to tab to the checkboxes of Column Toggler and i am able to select unselect them using the SPACE bar.  So I am closing this ticket for now, if someone has other issues they can open a new ticket with more specific details.

[2019-06-30 15:09] #613 closed, assigned to nobody

[2019-06-30 15:16] melloware commented on #1038
Closing for now as it was a missing locale which is covered in the documentation.

[2019-06-30 15:16] #1038 closed, assigned to nobody

[2019-06-30 15:21] melloware commented on #911
Did you include the correct locale? Including the appropriate script from https://code.google.com/p/primefaces/wiki/PrimeFacesLocales like mentioned in the documentation might solve the issue with the "EE" date pattern

[2019-06-30 18:04] #1643 closed, assigned to nobody

[2019-07-01 09:08] awenger63 commented on #2238
@melloware Thanks for your reply.
On my side,
First, I add property for define which export is, I set it on preProcessor
Seconde, I change scope as view for my new property
thant is it possible to test it on exportFunction to know if it's xls, pdf ... on the current form
Now, I look for call standard function when I don't want to custom the colmun data on export function and I can resolve my need

[2019-07-01 09:13] morvael opened #4953 "DatePicker: popup panel hidden in DataTable"
## 1) Environment
- PrimeFaces version: 7.0.4
- Application server + version: WildFly 16.0.0
- Affected browsers: all

## 2) Expected behavior

DatePicker's popup panel appears correctly over DataTable's cells.

## 3) Actual behavior

DatePicker's popup panel overflow hidden inside DataTable's cell.

## 4) Steps to reproduce

Use DataTable with DatePicker in one of the columns.

My browser reports

[2019-07-01 09:24] morvael opened #4954 "DatePicker: annoying min-width"
## 1) Environment
- PrimeFaces version: 7.0.4
- Application server + version: WildFly 16.0.0
- Affected browsers: all

## 2) Expected behavior

DatePicker's text input is as flexible as text inputs from other components.

## 3) Actual behavior

DatePicker's text input is forced to have a min-width of 17em by '.p-datepicker' class (components.css.xhtml line 5973). This is way too long for date only

[2019-07-01 09:29] morvael opened #4955 "DatePicker: Omega Theme MonthPicker CSS Issue"
## 1) Environment
- PrimeFaces version: 7.0.4
- Application server + version: WildFly 16.0.0
- Affected browsers: all

## 2) Expected behavior

Month names displayed in 3 columns and 4 rows.

## 3) Actual behavior

Month names displayed in 2 columns and 6 rows with plenty of empty space on the right.

## 4) Steps to reproduce

Used DatePicker with Polish month names:

As a workaround I've modified

[2019-07-01 09:32] morvael commented on #4954
I think it's a defect - other input components are not enforcing their width in such brute force way.

[2019-07-01 09:33] morvael commented on #4955
I think it's a defect - month picker should display itself in the same way in any language (provided short month names are 3-letter long).

[2019-07-01 10:16] matinh commented on #4931
Forget PR #4937  and use PR #4956. All comments from above apply to this as well.

[2019-07-01 11:19] melloware commented on #4849
Great news!  Tested this morning and I can see with my sample everytime I press GC i can see it return to the same number of instances. So the memory is no longer climbing it is a fixed number of instances!

[2019-07-01 11:23] tandraschko commented on #4849
Great! Could you please test a bit with static and dynamic disabled attribute? thanks.

[2019-07-01 11:39] melloware commented on #4849
OK I am not sure disabled is working correctly.  I updated my test case to dynamically control the disabled flag but it looks like it never gets disabled.  Attached is my test case.
[pf-memleak.zip](https://github.com/primefaces/primefaces/files/3345327/pf-memleak.zip)

[2019-07-01 12:13] tandraschko commented on #4849
I think your example is wrong. Works fine for me:

`
<h:form id="frmTest">
		<p:messages id="globalMessages">
			<p:autoUpdate disabled="#{basicForm.enabled}"/>
		</p:messages>

                <h:outputText id="txtTest" value="#{basicForm.value}">
                    <p:autoUpdate disabled="#{basicForm.enabled}"/>
                </h:outputText>

		<p:poll id="pllTest" interval="1" listener="#{ba

[2019-07-01 12:13] #4849 closed, assigned to nobody

[2019-07-01 12:15] melloware commented on #4849
DOH! Yes you are correct.

[2019-07-01 12:50] melloware commented on #4954
@morvael What happens if you remove that 17em?  Does the component look and work fine?

[2019-07-01 13:27] morvael commented on #4954
Yes, I did just that and it worked fine. Input was narrower than picker panel, as it should be. Someone wanted to make input just as wide as picker panel. Maybe makes sense in inline mode, with popup not so much.

[2019-07-01 15:35] melloware commented on #4939
@OBreidenbach care to investigate this?

[2019-07-01 17:55] melloware commented on #4955
So looking at the CSS it has `width: 33.3%` to give each column 1/3rd.  when I tried your Polish Month Names in the Showcase it looks fine?

![image](https://user-images.githubusercontent.com/4399574/60456675-e740d280-9c07-11e9-9117-9de22d242702.png)

[2019-07-01 18:09] morvael commented on #4955
I guess with some differences in margin due to global style inheritance, 33.3% was too long. This component's CSS should make sure to specify its own margins so that the look will work unless direct CSS will be overridden.

[2019-07-01 18:36] melloware commented on #4955
So do you mean your own CSS's global inheritance or PF?  So to me it looks like everything is working unless you globally change margins with your own CSS?

If that is the case i think this ticket is invalid because you have changed the margins of the app.

[2019-07-01 18:55] morvael commented on #4955
Will verify tomorrow. My CSS consists mostly of hacks needed for PF to display correctly (as I see it), not as they want to be displayed. Through the years some bloat may have crept in. The problem is if a component doesn't protect itself some very generic setting applied on very high level (like default font size) can alter its presentation significantly. Width 33.3% means 0 space for margins, so

[2019-07-01 19:16] melloware commented on #4954
I agree min-width should not be defined.  PR submitted.

[2019-07-02 07:19] morvael commented on #4955
I have checked and there is nothing affecting this component except global

and it looks like this:
![cal](https://user-images.githubusercontent.com/1133953/60491925-26276480-9caa-11e9-98b2-6c472daf5b0b.jpg)

[2019-07-02 07:24] morvael commented on #4955
Now that I compare those two images I see differences, especially the dark bar. Don't know what's causing this, as we only have the primefaces library dependency, without any other theme library enabled.

So, the showcase runs with nova theme enabled. Perhaps the problem is limited to default (no) theme configuration.

[2019-07-02 08:49] morvael commented on #4955
Replicated this in showcase. Switch theme to Omega and observe :)

[2019-07-02 10:46] melloware commented on #4955
OK updated title and marked it as a defect in Omega Theme CSS.

[2019-07-02 11:02] melloware commented on #4953
Reproducible Test Case:
[pf-4953.zip](https://github.com/primefaces/primefaces/files/3349711/pf-4953.zip)

[2019-07-02 11:08] morvael opened #4958 "Themes: Wrong characters in packaged theme.css"
## 1) Environment
- PrimeFaces version: 7.0.4
- Application server + version: WildFly 16.0.0
- Affected browsers: all

## 2) Expected behavior

Icons made from unicode characters stored in css display correctly.

## 3) Actual behavior

Icons made from unicode characters stored in css do not display correctly.

Spent a lot of time on this. Made sure my WildFly appends correct encoding headers etc t

[2019-07-02 11:11] tandraschko commented on #4958
needs to checked by mert

[2019-07-02 13:48] morvael opened #4959 "Breadcrumb: wrong css display settings for icons"
## 1) Environment
- PrimeFaces version: 7.0.4
- Application server + version: WildFly 16.0.0
- Affected browsers: all

## 2) Expected behavior

Icon displayed alongside label.

## 3) Actual behavior

Label displayed under icon:
![icon-block](https://user-images.githubusercontent.com/1133953/60517720-728d9700-9ce0-11e9-9c5b-144a4cb69b7f.png)

`.ui-breadcrumb ul li span` and `.ui-icon` applies `disp

[2019-07-02 13:57] ttsiebzehntt commented on #4913
@mertsincan Any chance to get this into 6.2.22?

[2019-07-02 15:21] tandraschko commented on #4959
Please provide a sample xhtml and which theme(s) are effected.

[2019-07-02 15:32] morvael commented on #4959
My workday has now ended, so it will be ready in about 18 hours. I think problem appears in more than one theme, perhaps in all of them. Simply put Breadcrumb isn't icon friendly at this time.

[2019-07-02 18:16] krishnakittu opened #4960 "Menuitem: Menuitem with commandlink creating two anchor tags for menurenderer"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Not tested
- Application server + version: glassfish 5.1
- Affected browsers: all

## 2) Expected behavior
It should be rendered as only one anchor ta

[2019-07-02 18:22] melloware commented on #4960
I guess my question is why are you using a commandlink inside the menu item when the menuitem is a command link?

[code]

Is the exact same as what you are doing above without the need for the extra command link.

[2019-07-02 18:28] krishnakittu commented on #4960
Yes we can acheive the same by done above. But furhter i need to extend this to support dialog return event on the menuitem.

[2019-07-02 18:35] melloware commented on #4960
So really you want this ticket fixed:  https://github.com/primefaces/primefaces/issues/52

Correct?

[2019-07-02 18:38] krishnakittu commented on #4960
Yes. If it was closed it was a very good move for me. For the time being i am looking for alternate ways to fix this.

[2019-07-02 18:38] melloware commented on #4960
Then I will mark this ticket as a duplicate and close as the real issue is that you want Dialog Return in MenuItem.

[2019-07-02 18:38] #4960 closed, assigned to nobody

[2019-07-02 20:25] melloware commented on #3563
Not sure if its related but in the Showcase all the menu examples are broken.

https://www.primefaces.org/showcase/ui/menu/menu.xhtml

Click on the "Save" menu item.

[code]

[2019-07-02 20:35] Rapster commented on #3563
I'll have a look

[2019-07-02 22:11] Rapster commented on #3563
I reverted my changes, and it seems the problem was already there

[2019-07-03 07:38] morvael commented on #4959
Every theme is affected. Attached is an xhtml page which allows to observe this in various themes:
[breadcrumb.zip](https://github.com/primefaces/primefaces/files/3353749/breadcrumb.zip)

According to IDE hints default iconPos is on the right. It doesn't work this way:
![bugs](https://user-images.githubusercontent.com/1133953/60572559-268d3180-9d76-11e9-935c-c1f30b1d5816.png)

The same xhtml allow

[2019-07-03 07:40] morvael commented on #4958
Attaching test page from bug [4959](https://github.com/primefaces/primefaces/issues/4959), which also allows to verify this issue:
[breadcrumb.zip](https://github.com/primefaces/primefaces/files/3353765/breadcrumb.zip)

Looks like this:
![bugs](https://user-images.githubusercontent.com/1133953/60572778-98fe1180-9d76-11e9-9aa3-183e18462dcc.png)

[2019-07-03 07:45] morvael commented on #4958
Make sure to run it with published primefaces-7.0.4.jar, not sources :)

[2019-07-03 11:01] tandraschko opened #4962 "Slider: possible NPE"

[2019-07-03 11:02] melloware opened #4963 "MenuItem: NullPointerException"
All menus seems to be broken currently with an NPE.

See: https://www.primefaces.org/showcase/ui/menu/menu.xhtml and click on Save menu.

[code]

[2019-07-03 11:02] melloware commented on #3563
Thanks @Rapster I submitted new issue: https://github.com/primefaces/primefaces/issues/4963

[2019-07-03 11:08] #4962 closed, assigned to nobody

[2019-07-03 11:12] tandraschko commented on #4963
PR would be great :)

[2019-07-03 11:13] melloware commented on #4963
I have been searching through the fixed issues trying to determine what could have caused this break.

[2019-07-03 11:46] Rapster commented on #4963
I quickly analysed the problem last night, the problem appears with static ajaxified items, @melloware
 can you confirm?

Basically key `clientId + "_menuId"` is not set in request parameters. So first, I tried to find where this "_menuId" is supposed to be set, and apparently it's in `BaseMenuRenderer#encodeMenuItem`. But it is set if item has been programmatically built, see https://github.com/p

[2019-07-03 11:49] melloware commented on #4963
Yep i noticed that too.  But looking through commit history it looks like this code has not changed in a long time.  That is why I am stumped trying to figure out what change caused this.

[2019-07-03 13:15] smirnov-vladimir opened #4964 "OutputLabel: removes style attribute from h:inputText"
## 1) Environment
- PrimeFaces version: 5, 6, 7
- Application server: WildFly 12, 16, 17. Error is **not** reproduced in WildFly 10

## 2) Expected behavior
After click button and AJAX request complete, the `inputText` stil have `style="background-color: red"`

## 3) Actual behavior
After AJAX request complete and DOM updated, HTML `input` lost `style` attribute. `<partial-response>` contains no `

[2019-07-03 14:14] tandraschko commented on #4964
Pleaese provide a forked primefaces-test project, otherwise i cant replicate it.

[2019-07-03 16:50] Rapster commented on #4963
I think there is 2 issues here:

1. This test is wrong, it's not clientId but should be  `clientId + "_menuid"` https://github.com/primefaces/primefaces/blob/91dd496976a3aa0a31ca392625b8ede0701d37be/src/main/java/org/primefaces/component/menu/BaseMenuRenderer.java#L65
2. Now, how it worked before? Well in 7.0, this test was not returning true back then

I'm trying to figure out, what change has be

[2019-07-03 17:19] melloware commented on #4963
Was is this fix that caused it adding the client ID now?  https://github.com/primefaces/primefaces/issues/4898

[2019-07-03 17:23] smirnov-vladimir commented on #4964
I sink, its reproducible with Mojarra 2.3, but profile `mojarra23` wont start with command `mvn jetty:run-exploded`.
This is my project: https://drive.google.com/uc?authuser=0&id=16CketklEXVSSafrxJJtO8oV1JH0uD1Gf&export=download

This is already packaged WAR: https://drive.google.com/uc?authuser=0&id=1zNIP2qRr51BMEOv0Twg6WcAcngCXxpv9&export=download
Just deploy on any version of WildFly from 12 to

[2019-07-03 17:38] afd0174 opened #4965 "MultiSelectListbox:NullPointerException"
## 1) Environment
- PrimeFaces version: 7.0
- Wildfly 10.1
- Mojarra  2.2.13.SP1
- Affected browsers: All browsers (server-side issue)

## 2) Expected behavior

In PrimeFaces 6.2 (and lower), there is no client side validation performed on the submitted values in the multiSelectListBox.  In this case, SelectItemGroups that do not have child elements attached can be submitted without issue.

## 3)

[2019-07-03 18:00] tandraschko commented on #4964
It's probably a Mojarra bug. It works fine with MyFaces and with p:inputText.

[2019-07-03 18:09] #4964 closed, assigned to nobody

[2019-07-03 18:33] ravihariharan commented on #4414
@Rapster  Yes

e.g. if we want to export a quickbooks format then we could do something like
<p:dataExporter type="quickbooks" customExporter="#{quickbooksExporter}" />

 type="quickbooks" is only added for readability

[2019-07-03 18:50] ravihariharan commented on #4414
The initial scope was to ensure
1) Existing DataTable will continue to support the already defined format (cvs,xls , xlsx, PDF).
2) For cases where we need custom format e.g.  say quickbook , quicken , text a developer could provide a customExporter.

For components that do not support default export like TreeTable , we could still use the customExporter but it needed the refactor for a interface

[2019-07-04 05:28] krishnakittu opened #4966 "Growl : Growl is not binded to client ID"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers:

## 2) Expected behavior
If we add message with client id it should be rendered only to that Growl O

[2019-07-04 06:57] tandraschko commented on #4966
Please use the forum first.
You dont have a testGrowl clientId and there are several flags for such configurations: https://primefaces.github.io/primefaces/7_0/#/components/growl?id=growl

like redisplay, globalOnly, ....

In your case, you probably look for the "for" attribute

[2019-07-04 06:57] #4966 closed, assigned to nobody

[2019-07-04 06:57] tandraschko commented on #4965
Please also post a xhtml.

[2019-07-04 08:27] tandraschko commented on #4329
@Rapster can you also align the docu?

[2019-07-04 09:21] Rapster commented on #4329
I'll do that, also I'm thinking of renaming methods, call these like this `PrimeFaces.current().multiViewState().clearMultiViewStates()` is a bit too repetitive

[2019-07-04 11:23] Rapster commented on #4329
and should I use an acronym for `multiViewState` like `mvs`?

[2019-07-04 12:10] robertoferreirajrr opened #4967 "Charts exported to PNG show wrong legend position"
Hi! When I export a charts to a png, the legends of the chart appears in wrong position! In the showcase it happens too!... I using primefaces 7.0, i see that in show case the version is 7.1, and still happening... I know that this issue not follow the recommended template, but like I describe, the problem occurs in showcase...

![Image of Problem](https://i.ibb.co/N7nmd0v/Deepin-Screenshot-seleci

[2019-07-04 12:23] melloware commented on #4967
I believe its related to this issue: https://github.com/jqPlot/jqPlot/issues/144

Have you tried the newer ChartsJS?   https://www.primefaces.org/showcase/ui/chartjs/export.xhtml

The Charts you are using are the old JQPlot Charts which still have bugs and the library is not updated much anymore.

[2019-07-04 12:44] robertoferreirajrr commented on #4967
Hi @melloware , thanks for your answer..

I don't believe that this issue is related, like you said the library is too old, probably the same version of library is used in both, Primefaces 6.2 and 7... in the 6.2 all works perfect!

Unfortunately my code have a lot of customization using charts in Jqplot, combining jqplot plugins, I planing work in a code change to a newer library, like chartjs, o

[2019-07-04 13:06] melloware commented on #4967
Ahh yes between 6.2 and 7.0 we upgraded to latest JQPlot : https://github.com/primefaces/primefaces/issues/1030

So that must have broken your issue.  If you can figure out the change I would be happy to fix it.

[2019-07-04 13:16] dgusoft opened #4968 "Datatable: Partial rendering of datatable with stickyHeader="true" and stickyTopAt="..." increases z-index of div"
## 1) Environment
- PrimeFaces version: 7.0.2
- Application server + version: JBoss EAP 7.0.7.GA (Mojarra 2.2.12.SP4)
- Affected browsers: chrome
## 2) Expected behavior
Partial rendering of datatable with sticky table header should keep z-index stable
## 3) Actual behavior
z-index of div-Element above table-element increases with each ajax request which causes the datatable to be partially render

[2019-07-04 14:05] tandraschko commented on #4968
no runnable example (controller missing) -> invalid

[2019-07-04 14:08] #4967 closed, assigned to mertsincan

[2019-07-04 14:08] mertsincan commented on #4967
This issue is related to Jquery version. Fixed for 7.0.5 and 7.1.

![image](https://user-images.githubusercontent.com/11868120/60672519-40b23700-9e7e-11e9-9ab1-e61ecdd97757.png)

[2019-07-04 14:13] Edubits commented on #4818
Please note the same issue exists in PF 7.0.4 in datepicker.js. `text.split(/-| - /)` is used instead of `text.split(' - ')`

[2019-07-04 14:13] robertoferreirajrr commented on #4967
Nice! =) Thanks guys! Excellent support! Primefaces rocks!

[2019-07-04 14:29] robertoferreirajrr commented on #4967
When this changes will be available in maven repositories?

[2019-07-04 14:34] mertsincan commented on #3492
I couldn't replicate it with 7.0.x. Please try 7.0 version.

![image](https://user-images.githubusercontent.com/11868120/60674092-fd59c780-9e81-11e9-8c01-446a34e85970.png)

[2019-07-04 14:34] #3492 closed, assigned to nobody

[2019-07-04 16:44] afd0174 commented on #4965
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        	<title>Test</title>
    </h:head>
    <h:body>
	<h:form>
    		<p:multiSelectListbox value="#{multiSelectView.selection}" effect="slide" header="Categories" showHeaders="true">

[2019-07-04 23:18] Rapster opened #4969 "Method TimelineModel#addAllGroups broken"
TimelineModel#addAllGroups doesn't add anything in TimelineModel#groups attribute

[2019-07-04 23:19] #4969 closed, assigned to nobody

[2019-07-05 11:12] melloware commented on #4818
@mertsincan the JS piece @Edubits is talking about above is in the shared DatePicker code between PrimeNG, PrimeReact, and PrimeFaces so I am hesitant to touch it. Can you please review?

[2019-07-05 11:15] mertsincan opened #4970 "Improve exportValue method type on Exporter class"

[2019-07-05 11:16] #4970 closed, assigned to mertsincan

[2019-07-05 11:39] melloware commented on #4965
Verified NPE. Working on a fix.

[code]

[2019-07-05 11:46] melloware commented on #4965
OK PR submitted and tested and it is fixed

[2019-07-05 12:14] mertsincan commented on #4818
Hi @melloware,

We can add "rangeSeparator" attribute for this issue.

[2019-07-05 12:42] #4965 closed, assigned to melloware

[2019-07-05 12:45] #4818 closed, assigned to mertsincan

[2019-07-05 12:46] mertsincan commented on #4818
Hi @morvael

Please use rangeSeparator attribute.

Best regards,

[2019-07-05 14:02] melloware commented on #4963
I am really stumped to find the change that broke this or seeing how it ever worked before.

[2019-07-05 17:20] melloware commented on #1023
Here is a reproducible test case:
[pf-1023.zip](https://github.com/primefaces/primefaces/files/3363602/pf-1023.zip)

[2019-07-05 17:30] melloware commented on #3373
Closing this for now as the problem was worked around with a solution.

[2019-07-05 17:30] #3373 closed, assigned to nobody

[2019-07-07 01:08] Rapster commented on #4963
Found the problem...

This is 7.1
![image](https://user-images.githubusercontent.com/7521311/60762536-33a26d00-a063-11e9-859e-907ad19a356c.png)

And 7.0
![image](https://user-images.githubusercontent.com/7521311/60762540-44eb7980-a063-11e9-8e20-70e1b54294e1.png)

The `source` is wrong, that's why action is not called, this is due to 2dddd4b8ce9649ea850e1a14038877cb067d154d, @tandraschko could you

[2019-07-07 10:48] mp123456 commented on #324
for anyone else who has come across this problem I found the solution:
set keepInvalid to true

[2019-07-07 12:28] melloware commented on #324
@mp123456 I believe KeepInvalid is for DatePicker and not for Calendar which this issue is for?

[2019-07-07 12:43] Rapster commented on #4963
I'll try to make a proposal and you'll let me know what you think

[2019-07-07 14:19] #4963 closed, assigned to nobody

[2019-07-07 14:24] Rapster commented on #4963
I'm not really happy with the fix, I think it's actually a temporary fix... I would have a closer look to these `buildAjaxRequest` methods which are too many in my opinion. WDYT?

[2019-07-07 14:43] melloware commented on #4963
Well I know this was refactored because the copy and past of building Ajax requests was all over the code.  This was an attempt to standardize the call and it also fixed a few issues like this one: https://github.com/primefaces/primefaces/issues/2358 .  So I like the refactoring it just looks like for Menus this regression was introduced.

[2019-07-07 14:48] Rapster commented on #4963
I'm not talking about the refactoring itself, I think it's a good thing at the end of the day. I'm saying since they are 3 possibilities (and i'm sure there is a good reason for it) but it's quite easy to make a mistake. And since I had a closer look, I must say it's hard to analyse. IMO, javadoc should be introduced about these methods.

I'll try to suggest something if something comes up to my m

[2019-07-07 15:02] melloware commented on #4963
Ahh I understand now, yes the clearer we can document the API the better!

[2019-07-07 19:37] Rapster commented on #4963
@tandraschko I made a few cosmetics change on 2afc4a80e8e317a8ef688a160eb66aebad34dbbe, hope you'll be cool with it

[2019-07-07 21:35] maasvdberg commented on #4760
Broken by c637e47

[2019-07-08 07:30] #4760 closed, assigned to nobody

[2019-07-08 10:57] NicolaIsotta opened #4973 "DatePicker: popup not showing if locale <> 'en' and pattern contains 'MMM' or 'MMMM'"
## 1) Environment
- PrimeFaces version: 7.0
- It happens in the latest snapshot too
- Application server + version: Jetty
- Affected browsers: all

## 2) Expected behavior
Popup shown

## 3) Actual behavior
Popup not shown

## 4) Steps to reproduce
Click on the three datepickers

## 5) Sample XHTML
[code]

## 6) Sample bean
[code]

[2019-07-08 11:05] NicolaIsotta commented on #4973
In the js console there's an exception, `Unknown name at position X` (where X is a number which changes according to the pattern), so I guess the problem lies somewhere in the `parseDate` function
https://github.com/primefaces/primefaces/blob/394ad8eabf3494b72e4a875e6139c7f98bbe92ee/src/main/resources/META-INF/resources/primefaces/datepicker/0-datepicker.js#L650-L716

[2019-07-08 11:41] melloware commented on #4565
Closing as no response from OP.  Will reopen if my questions are answered.

[2019-07-08 11:41] #4565 closed, assigned to nobody

[2019-07-08 12:02] melloware commented on #2901
I think this is a theme specific issue that should be addressed per theme as none of the newer themes have this issue.  You can always open a new issue in the themes project: https://github.com/primefaces/themes/issues

[2019-07-08 12:02] #2901 closed, assigned to nobody

[2019-07-08 12:04] melloware commented on #2248
@slovi One more chance, have you tested this on newer PF and Firefox?

[2019-07-08 12:07] #911 closed, assigned to nobody

[2019-07-08 13:03] crocimi commented on #3450
not sure if it is related but I have a very similar case and it is working after following actions:
- set 'height: 100%' for the form
- set 'height: 100%' for the dataTable

[2019-07-08 13:05] melloware commented on #3450
Yes Scrollheight is 100% of the parent container its in.   I believe this ticket is working as expected.

[2019-07-08 13:54] #3192 closed, assigned to melloware

[2019-07-08 14:47] r0flc0pt0r commented on #4973
Consider checking out [this question and answer on SO](https://stackoverflow.com/questions/55844974/updating-component-primefaces-datepicker-with-pattern-mmmm-yyyy-via-ajax-call), which appears to be the same problem and presents a solution or at least a possible cause for this issue.

_Disclaimer: The answer was written by me_

[2019-07-08 16:02] sherryx opened #4974 "Lab trials failing with various issues"
![Screenshot from 2019-07-08 12-01-27](https://user-images.githubusercontent.com/5230732/60824801-49ee1d00-a178-11e9-9fff-3e84767a5e9b.png)

[2019-07-08 16:31] melloware commented on #4974
I have no idea what Lab Trials is.  Can you explain the problem?

[2019-07-08 18:24] #4974 closed, assigned to nobody

[2019-07-08 19:40] Rapster commented on #4963
@tandraschko could you confirm that `BaseMenuRenderer#buildNonAjaxRequest` is more or less a duplicate of `CoreRenderer#buildNonAjaxRequest`. The difference I see is the support of params in `BaseMenuRenderer#buildNonAjaxRequest`?

[2019-07-09 07:08] mertsincan commented on #4913
Fixed for 6.2.22 and 7.0.5

[2019-07-09 07:46] #4941 closed, assigned to mertsincan

[2019-07-09 07:47] mertsincan commented on #4941
Fixed now.

[2019-07-09 07:50] tandraschko commented on #4963
Not exactly. We can easily move the params support to CoreRenderer but CoreRender also supports target AFAICS. We would need to check this

[2019-07-09 08:03] #4954 closed, assigned to mertsincan

[2019-07-09 08:52] NicolaIsotta commented on #4973
@r0flc0pt0r I've tested your fix, it seems to work.

[2019-07-09 09:58] MarkusChur opened #4977 "ColumnToggler: Keyboard trap on Nova and Luna"
## Summary
ColumnToggler suffers a keyboard trap. When focusing checkboxes of this component with the keyboard you are not able to access other elements on the page.
- Navigation with TAB is restricted to the checkboxes
- It is not possible to leave the overlay with the keyboard
- You can not close the overlay with the keyboard
This can be reproduced in the [showcase](https://www.primefaces.org/sh

[2019-07-09 11:36] melloware commented on #4977
@mertsincan I think the original design of the column toggler something is broken.  I see it creates a hidden "closer" and assigns the ability to close the toggler but it is not visible.  And it looks like when pressing TAB the intent was after tabbing on the last checkbox it should then focus the "closer" so then you can press ENTER to close the toggler.    However I am not seeing that happen.

I

[2019-07-09 12:00] tandraschko commented on #4646
Thanks for the great contribution @christophs78 !

[2019-07-09 12:19] #4646 closed, assigned to nobody

[2019-07-09 13:07] MarkusChur opened #4979 "ColumnToggler: Inaccessible for screen-readers and voice commands"
# Summary
The ColumnToggler component is not correctly read out by screen-readers. It is also not accessible by voice commands of speech recognition software.
- There is no relation between checkbox and label
  - The hidden `<input>` does not have an `id` attribute
  - The `<label>` does not have a `for` attribute
- The `<div>` that represents the checkbox doesn't have a `role` attribute
- The `<d

[2019-07-09 13:26] melloware commented on #4979
These are good suggestions.  I will see if i can fix.

[2019-07-09 16:26] melloware commented on #4979
Looking at your screenshot i don't see why the DIV should get the role and aria-checked...they should both be for the Input?  I think really the only thing missing is the ID and the FOR="" right?  The screenreader should be looking at those.

[2019-07-09 16:35] MarkusChur commented on #4979
Just give it a try with a screenreader. I've edited HTML with Chrome developer tools until it was read out correctly. It was necessary to add `role` and `aria-checked` to `<div>` though

[2019-07-09 16:41] melloware commented on #4979
That seems really strange to me because the DIV is not an input component so why it would be reading that out instead of the same properties on the INPUT doesn't make any sense.  Unless it is because the INPUT is hidden with the ui-helper-hidden-accessible is hiding it from the screenreader because overflow:hidden style???

[2019-07-09 16:46] melloware commented on #4979
Reading this I think we just need to add tabindex="0" to the INPUT to make it accessible by the Screenreader.

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/checkbox_role

[2019-07-09 16:48] MarkusChur commented on #4979
I think touching tabindex is not the way to go. Take a look at accessible examples for checkboxes. Adding attributes to the `<div>` is the way to go.
https://www.w3.org/TR/wai-aria-practices/examples/checkbox/checkbox-1/checkbox-1.html

[2019-07-09 16:50] MarkusChur commented on #4979
Verified that it's not working correctly with `opacity: 0` as well. It could be that `aria-checked` causes a bug within NVDA when set on `<input type="checkbox">`.
You are definitely right that setting aria attributes on the `<div>` makes no sense, unless the `<input>` is not interpreted correctly.
I'll investigate tomorrow and let you know if I find a better solution.

[2019-07-09 18:34] jasonex7 commented on #2702
I had the same problem now I'm working with timeline component. I solved it by creating a `TimeLineEvent` object without start nor end date (both nulls) and changing 1 line in `TimeLineRenderer` to allow null start dates. It works perfectly well for my requirements. I could make a PR with that change, but do you consider that approach a good solution for everyone?

[2019-07-09 18:35] melloware commented on #2702
I would submit the PR for review.  It sounds like an OK solution to me.

[2019-07-09 18:56] melloware commented on #4979
thanks I just want to make sure we make the "right" fix.

[2019-07-10 07:39] tandraschko commented on #4936
Will close it for now. Please create a new and valid issue if you come back.

[2019-07-10 07:39] #4936 closed, assigned to nobody

[2019-07-10 09:41] #3586 closed, assigned to nobody

[2019-07-10 10:02] tandraschko commented on #3912
the benefit isn't big but i like it. Implemented :D

[2019-07-10 10:04] #3912 closed, assigned to nobody

[2019-07-10 10:48] melloware commented on #4968
Can you please create a runnable example using Primefaces Test: https://github.com/primefaces/primefaces-test

If not I am afraid your ticket will be closed.  I do agree the zindex++ feels like a code smell to me but I need to see the problem in action.

[2019-07-10 10:59] MarkusChur commented on #4979
Here are the results:
# Screen Reader
By fixing the relation of helper `<input>` and `<label>` with `id` attribute, the checkboxes are correctly read out with 7.1-SNAPSHOT.
By refactoring the checkbox to something similar than  https://www.w3.org/TR/wai-aria-practices/examples/checkbox/checkbox-1/checkbox-1.html without `<input>` also fixes the issue.

# Voice Commands
The `<input>` is not recogni

[2019-07-10 11:15] melloware commented on #4979
I would like @mertsincan to weigh in on this before making any changes.

[2019-07-10 12:31] MarkusChur commented on #4979
I have a working fix which I'm eager to provide if you are open for such a refactoring.

[2019-07-10 12:35] melloware commented on #4979
Sure submit a PR and we can review it.

[2019-07-10 13:59] tandraschko commented on #3720
called it "skipDetailIfEqualsSummary" for now

[2019-07-10 13:59] #3720 closed, assigned to tandraschko

[2019-07-10 13:59] tandraschko commented on #3720
See: https://github.com/primefaces/primefaces/commit/1178ed49c94a85c2f74a02512df0a4c933227ee4

[2019-07-10 14:02] MarkusChur commented on #4977
While working on https://github.com/primefaces/primefaces/issues/4979 I've noticed that the "closer" is displayed, working, and in taborder. I think this one can be closed then.

[2019-07-10 15:22] melloware commented on #4977
@MarkusChur When I run using the Showcase example its not being displayed and thus the keyboard trap is not working.  What Theme are you using?

https://www.primefaces.org/showcase/ui/data/datatable/columnToggler.xhtml

I have a feeling a Theme is hiding it.

[2019-07-10 15:44] MarkusChur commented on #4977
You are totally right, I used a different theme. Switch to `primefaces-omega` with the theme switcher and the "closer" is visible.

[2019-07-10 17:22] melloware commented on #4977
Yep the premium themes look like they have this issue.

[code]

[2019-07-11 07:02] #2702 closed, assigned to nobody

[2019-07-11 07:45] GedMarc opened #4983 "DatePicker - Allow setting view date"
Please enable a property to set the view date for a p:datePicker

Current hack is very ugly.

[code]

[2019-07-11 09:12] ngwaambe commented on #4575
Hey guys any info on this minor feature?

[2019-07-11 09:27] tandraschko commented on #4575
@ngwaambe Please see my comment in the PR. We need a showcase example and documentation update. Then i will apply it.

[2019-07-11 09:58] beadaptive opened #4984 "Default command is triggered inside text areas"
## Summary
In Primefaces 7.0 (and latest), the default command is triggered even when inside a textarea. Adding a new line in the text area triggers the default command. The problem seems to be that the event target is incorrect. There is a check in place

`$(e.target).is('textarea,button,input[type="submit"],a')`

However, the target is not resolved to a textarea. In PF 6 this worked as expected

[2019-07-11 10:01] tandraschko commented on #4984
@mertsincan as it was your change, would you like to check it?

[2019-07-11 10:58] melloware commented on #4983
Maybe I am not sure what you are trying to do but there is already a widget method for setDate().

[code]

Is that not what you want?

[2019-07-11 11:05] GedMarc commented on #4983
Hey Mello :)

Unfortunately not, we would like to be able to "select" a date and set the view to a different date -

[code]

This places May at the end of a multicalendar rather than the beginning (Feb is first view calendar instead of May)
It doesn't look like this functionality exists outside of the hack :)

[2019-07-11 11:07] melloware commented on #4983
Ahh OK that helps me understand what you are trying to do.  Let me see what I can do.

[2019-07-11 11:43] melloware commented on #4983
PR Submitted. if you need that functionality right now just add this JS to your own JS file.

[code]

[2019-07-12 05:57] GedMarc commented on #4983
Beautiful! <3

[2019-07-12 05:57] #4983 closed, assigned to mertsincan

[2019-07-12 08:01] ngwaambe commented on #4575
Sure, missed that comment!

[2019-07-12 11:13] melloware commented on #4762
Closing this question for now as it has been answered.

[2019-07-12 11:13] #4762 closed, assigned to nobody

[2019-07-12 11:16] melloware commented on #4512
@christophs78 Can you investigate this one?  I think this is invalid but wanted to confirm.

[2019-07-12 11:28] melloware commented on #2248
Closing with no response from OP.  If its still reproducible we can reopen the ticket.

[2019-07-12 11:28] #2248 closed, assigned to nobody

[2019-07-12 11:31] melloware commented on #1754
Yes from the documentations: https://primefaces.github.io/primefaces/7_0/#/components/calendar

[2019-07-12 11:31] #1754 closed, assigned to nobody

[2019-07-12 11:33] melloware commented on #1340
it has been 3 years since this ticket and there has not been a demand for this feature so closing this ticket for now.  It can always be re-opened if there is demand for this feature but to me this does not seem like a valid use case.

[2019-07-12 11:33] #1340 closed, assigned to nobody

[2019-07-12 11:58] melloware commented on #1281
I agree this function is very useful.  I have added it to the PrimeFaces.env package since its environment related. It can be used like...

[code]

[2019-07-12 12:00] #1281 closed, assigned to melloware

[2019-07-12 12:14] christophs78 commented on #4512
PF<=7.0 uses java-versions < 8. So PF has no OOTB-understanding of Java8-Types like LocalDate.
So the workaround for PF<=7.0 was to use a converter.
[code]
(same for Calendar)

@Pillez7 - You bind the value of the Calendar to a String-Object? This is not supported OOTB.
see https://primefaces.github.io/primefaces/7_0/#/components/calendar?id=calendar
PF 7.1 will allow to bind java.time-Types OOTB

[2019-07-12 12:37] gabrielcechet opened #4987 "Error in streaming dynamic resource - p:graphicImage"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: GlassFish 4.1
- Affected browsers: Firefox, Chrome

## 2) Expected behavior
Correctly display all system images.

## 3) Actual behavior
When I capture a "StreamedContent" the error is displayed in the server logs.

## 4) Steps to reproduce
Navigate through any screen with the image component.

## 5) Sample XHTML
`<p:graphi

[2019-07-12 12:38] melloware commented on #4987
What error?  Stacktrace?

Please provide a reproducible example using PrimeFaces Test: https://github.com/primefaces/primefaces-test

[2019-07-12 12:40] gabrielcechet commented on #4987
Advertência:   JSF1064: Unable to find or serve resource, jquery/jquery.js, from library, primefaces.
Advertência:   java.io.IOException: Uma conexão estabelecida foi anulada pelo software no computador host
	at sun.nio.ch.SocketDispatcher.write0(Native Method)
	at sun.nio.ch.SocketDispatcher.write(SocketDispatcher.java:51)
	at sun.nio.ch.IOUtil.writeFromNativeBuffer(IOUtil.java:93)
	at sun.nio.ch

[2019-07-12 12:42] melloware commented on #4987
You can see from the Showcase its working fine: https://www.primefaces.org/showcase/ui/multimedia/graphicImage.xhtml

So unless you provide a reproducible example of the problem this will be closed: https://github.com/primefaces/primefaces-test

[2019-07-12 13:35] tandraschko commented on #4987
The exception seems unrelated

[2019-07-12 14:15] Rapster opened #4988 "DatePicker/Calendar duplicates"
`Calendar#queueEvents()` and `Calendar#validate()` seems to be duplicate with `DatePicker#queueEvents()` and `DatePicker#validate()`

Safe to pull that up to UICalendar?

[2019-07-12 14:18] tandraschko commented on #4988
Calendar is deprecated? If yes, i wouldnt do it

[2019-07-12 14:20] Rapster commented on #4988
Yeah indeed, but there is nothing saying when it will be removed from PF though

[2019-07-12 14:20] #4988 closed, assigned to nobody

[2019-07-12 14:37] christophs78 commented on #4512
Some additional thoughts:
@Pillez7 - For binding Calendar or DatePicker to a String-Object you would need some kind of String-To-String-Converter. The method getAsObject(FacesContext fc, UIComponent uic, String value) of the converter always get´s a string as value-Parameter. (The string is sent from the client to the server.) getAsObject should convert this to something you want on the server. Yo

[2019-07-12 16:56] melloware commented on #4512
Marking as invalid and closing issue.

[2019-07-12 16:56] #4512 closed, assigned to nobody

[2019-07-13 09:35] tandraschko commented on #4987
Not a bug and not related to StreamedContent. Also see: https://issues.apache.org/jira/browse/MYFACES-3736

[2019-07-13 09:35] #4987 closed, assigned to nobody

[2019-07-14 12:53] tandraschko opened #4990 "Skip PrimeApplicationContext init on shutdown"
see: https://github.com/eclipse-ee4j/mojarra/issues/4586

[2019-07-14 12:54] #4990 closed, assigned to nobody

[2019-07-15 08:52] neXus1987 commented on #126
in Primefaces 7.0 the ImageCropper boxWidth and boxHeight won´t work as aspected.  The image is smaller, but the selection area is too big. As i googled, there is something with trueSize for jCrop, maybe this will help!?

[2019-07-15 08:54] neXus1987 opened #4991 "Image Cropper boxHeight/boxWidth"
Hello,

i´ve got the Problem that in Primefaces 7.0 the imageCropper selection area is too large, when i set the boxWidth/boxHeight. The image is smaller, but the selection area is too large. As i googled, there is something with trueSize for jCrop, maybe this will help!?

Thanks
Phil

[2019-07-15 08:55] tandraschko commented on #4991
Please follow our issue template or use the forum.

[2019-07-15 10:21] neXus1987 opened #4992 "ImageCropper: boxHeight/boxWidth breaks selectionArea"
## 1) Environment
- PrimeFaces version: 7.0
- It works on 6.2
- tomcat 8.5
- Affected browsers: Firefox/Chrome

## 2) Expected behavior

when setting the boxHeight/boxWitdth, the image is shown on this fixed sizes and the selection area is scaled down/up

## 3) Actual behavior

the image is shown in boxWidth/boxHeight size, but the selection Area is shown as the image would be on original size

##

[2019-07-15 10:22] neXus1987 commented on #4992
as i googled, there is an option trueSize for jCrop, maybe this is the solution?

[2019-07-15 10:57] #4991 closed, assigned to nobody

[2019-07-15 11:18] melloware commented on #4992
I believe this is what you mean? http://deepliquid.com/content/Jcrop_Sizing_Issues.html

[2019-07-15 11:55] neXus1987 commented on #4992
Yes this is what i mean, but as i read the document, it should work just with boxHeight/boxWidth, but it won't. In my example the selection area is larger than the image, because the image is scaled to 500x500 (trueSize 1000x1000) and the selection area is 750x750 and is not down scaled to - in this example - 375x375

[2019-07-15 12:00] melloware commented on #4992
You might want to search through JCrop issues might be a bug there: https://github.com/tapmodo/Jcrop/issues

[2019-07-15 12:02] neXus1987 commented on #4992
Yes, this sounds like my error:

https://github.com/tapmodo/Jcrop/issues/276

[2019-07-15 13:38] igormukhin commented on #3609
Still not fixed in master. My proposed code is still valid.

[2019-07-15 13:39] tandraschko commented on #3609
Can you provide a PR?

[2019-07-15 13:55] melloware commented on #3609
@igormukhin I provided a PR with your fix.  Thanks for your suggested fix.

[2019-07-15 13:55] #3609 closed, assigned to nobody

[2019-07-16 06:17] neXus1987 commented on #4992
calculating the scaled minSize before setting it would be a temporary fix:

//ImageSize beinhaltet die original minWidth/minHeight
	public String getMinSize(String url, ImageSize config, Integer boxWidth, Integer boxHeight) {

		String	imageMinSize = "100,100";// getWidth() + "," + getHeight();
			BufferedImage img;
			try {
				img = ImageIO.read(new URL(url));

				Integer imageWidth = img.getWi

[2019-07-16 06:38] neXus1987 opened #4994 "DataScroller: new load AJAX event"
##  1) Environment
- PrimeFaces version: new Version

## 2) Expected behavior

<p:ajax event="load"/> so that after each data load this event is called. This is useful, when you have to do some javascript task after items are loaded.

## 3) Actual behavior

not available

## 4) Steps to reproduce

..

## 5) Sample XHTML

..

## 6) Sample bean

..

[2019-07-16 06:40] neXus1987 commented on #4994
my workaround at the moment is, to call a javascript method for each row. for better performance i will ask if this is the last row from the load:

loadId=rowIndexVar+1
loadChunk=chunkSize
allElements=rowCount
if(loadId%loadChunk===0 || loadId===allElements  )

[2019-07-16 07:14] tandraschko commented on #4994
A PR would be great!

[2019-07-16 07:42] mertsincan opened #4995 "Add virtualScroll attribute to DataScroller"
Loads data on demand as the scrollbar gets close to the bottom. Default is false.

[2019-07-16 07:44] mertsincan opened #4996 "Add startAtBottom attribute to DataScroller"
if the startAtBottom is enabled, scroll position is at bottom and data loading starts from the bottom. Default value is false.

[2019-07-16 07:45] #4995 closed, assigned to mertsincan

[2019-07-16 07:45] #4996 closed, assigned to mertsincan

[2019-07-16 07:55] mertsincan opened #4997 "The style attribute is not applied to DataScroller"
Current code is using styleClass instead of style value.

[2019-07-16 07:56] #4997 closed, assigned to mertsincan

[2019-07-16 09:08] christophs78 commented on #4778
Think this is together with PF-Premium-Layouts a bit more complicated.
We use Babylon...
![grafik](https://user-images.githubusercontent.com/10461942/61281303-b640d000-a7b9-11e9-93c7-c0c8e6b442e7.png)
@mertsincan - What do you think?

Currently i work around via:
[code]

[2019-07-16 10:18] neXus1987 commented on #4994
What is PR?

[2019-07-16 10:27] tandraschko commented on #4994
pull request

[2019-07-16 10:40] mertsincan commented on #4185
Hi @Rapster,

Where is the Milestone?

Also, This issue is reported by a PRO User.
Exp; filterBy="#{orderType}" is not working with this change.

[2019-07-16 10:50] neXus1987 commented on #4994
So i will push a new branch revert-4994-master with the additional code for this page event and then i can raise a PR?

(i´ve never worked on an "open source" git project)

[2019-07-16 10:52] tandraschko commented on #4994
Please just use the master branch. About a PR, just use google :)

[2019-07-16 11:07] melloware commented on #4778
@christophs78 Are you saying using the WebJars + Shim solution does not work out of the box for Babylon?  I had it working locally?  I think the larger issue is PF needs to remove FontAwesome entirely and just recommend this WebJars solution.  Thoughts?

[2019-07-16 11:27] melloware commented on #4992
Shouldn't this be submitted as a PR on the JCrop github as the issue lies in the core JCrop code?

[2019-07-16 11:37] tandraschko commented on #4992
yup

[2019-07-16 12:38] Rapster commented on #4185
Hi @mertsincan

My bad I forgot about the milestone, but in case it happens again in the future you can easily find the first tag the commit is in:

As a result:

Regarding the issue, you'll have to give me more details in a new ticket to explain what's not working? What is `orderType`? A param, a field? What's the expecting result?

[2019-07-16 13:31] OBreidenbach commented on #4719
Any plans to fix this? What is wrong with my PR?

[2019-07-16 13:33] tandraschko commented on #4719
I would like to leave such changes to mert. He knows the calendar much better as more.

Also i'm a big advocate of not changing third-party code and fix it where it comes from. (but thats only my opinion)

[2019-07-16 14:31] OBreidenbach commented on #4719
But Primefaces adds the time sliders to the popup. So Primefaces has to take care about the larger popup.

[2019-07-16 15:03] christophs78 commented on #4778
@melloware Yes. WebJars+Shim (Fontawesome 5.8.1) does not work OOTB with Babylon 3.0.1 on my workstation. (Most icons work, but .ui-icon-triangle-1-s is broken.)

PrimeFaces Designer 1.0.1 does not have this issue. PF-Designer uses primeicons.
[code]

Babylon 3.0.1 uses FontAwesome.
[code]

Removing FontAwesome from PF and recommending the WebJars solution is IMO OK, when it does not break exisiti

[2019-07-17 08:25] #4719 closed, assigned to nobody

[2019-07-17 08:32] #4798 closed, assigned to nobody

[2019-07-17 08:33] tandraschko commented on #4575
@ngwaambe Applied it now. Please provide a PR in the showcase-facelift to show that feature

[2019-07-17 08:33] #4575 closed, assigned to nobody

[2019-07-17 08:36] #4857 closed, assigned to nobody

[2019-07-17 08:36] #3314 closed, assigned to nobody

[2019-07-17 08:36] #344 closed, assigned to nobody

[2019-07-17 08:47] ssibitz commented on #4778
I currently use both (FontAwesome old & new) inside the currently new buyed
"Premium Harmony Layout" by using these settings here.
This should only documented in the primefaces document under using FontAwesome.

The settings i used here are which are working with both font's are:

**1.) pom.xml - Dependencies:**
[code]

**2.) Settings in web.xml with activated "old" fontawesome**
[code]

**3.) Fil

[2019-07-17 09:06] ssibitz opened #4998 "Dialog/BlockUI: allow custom animation duration for show/hide"
## 1) Environment
I currently use the latest primefaces Elite/Pro Version 7.0.5.
As this function currently does not exists this is an extension
for the existing release, but i think very easy to implement.

## 2) Expected behavior
I am using **e.g. the primefaces "ajaxStatus"** component
to show a please wait dialog and also lock the entire page while Ajax is not ready.
But when Ajax is ready i h

[2019-07-17 09:18] ssibitz commented on #4998
As it seems only the blockUI-component is using fadein/fadeout,
but nevertheless the user/developer should have a way to control
the fadein/fadeout time by using show/hide like in jquery as i described ...

[2019-07-17 10:02] Rapster commented on #4329
@tandraschko @melloware I'd like to have your opinion on my last comments please

[2019-07-17 10:11] Rapster commented on #4646
@christophs78 could you please fix these https://sonarcloud.io/project/issues?id=org.primefaces%3Aprimefaces&resolved=false&severities=BLOCKER%2CCRITICAL%2CMAJOR%2CMINOR&sinceLeakPeriod=true&types=BUG ?

[2019-07-17 11:02] melloware commented on #4778
@christophs78 I would also report your icon issue in the Babylon forum: https://forum.primefaces.org/viewforum.php?f=98

Usually things reported there get fixed.

[2019-07-17 11:07] melloware commented on #4329
@Rapster I like the full word PrimeFaces.current().multiViewState() and since you are prefixing it with that namespace maybe you can just say clear like...

`PrimeFaces.current().multiViewState().clear()`

[2019-07-17 11:08] Rapster commented on #4329
Alright perfect, I was either aiming for acronym like `mvs` or renaming methods like you just mentionned. I'll do that then thanks

[2019-07-17 11:14] melloware commented on #4998
Not a bad idea.  I assume you mean for BlockUI and for Dialog both.

[2019-07-17 11:15] tandraschko commented on #4998
AFAIR there are configs for the animation and animationDUration in some components.

[2019-07-17 11:17] tandraschko commented on #4329
yep, +1 for no shorcut too

[2019-07-17 11:36] christophs78 commented on #4646
Ok, I´ll look at this within the next few days.

[2019-07-17 11:45] christophs78 commented on #4778
Existing Babylon-forum-entry: https://forum.primefaces.org/viewtopic.php?f=98&t=57813&sid=f2140e686d3270aeb2befb9656ef6e56

[2019-07-17 12:26] christophs78 commented on #4778
new Babylon-forum-entry: https://forum.primefaces.org/viewtopic.php?f=98&t=59425

[2019-07-17 12:29] ssibitz commented on #4998
@melloware :
Yes, i mean **BlockUI** and **Dialog** because this are the "components" which are the most used.
So also a general dialog can be shown/hidden slow, fast or whatever the developer want.

@tandraschko : What do you mean with the "animation configs" in detail or is it an internal usage ?

[2019-07-17 12:32] tandraschko commented on #4998
https://primefaces.github.io/primefaces/7_0/#/components/dialog ;)

[2019-07-17 12:39] ssibitz commented on #4998
@tandraschko  :
But for the Dialog and BlockUI i can't find a config that defines the hide/show time
when i later show or hide a Dialog or BlockUI by Javascript.

This is the default case for e.g. the BlockUI component and also for a Dialog ...

[2019-07-17 12:40] tandraschko commented on #4998
did you try show/hideEffect 'none' or empty?

[2019-07-17 12:46] ssibitz commented on #4998
Yes, and then the BlockUI animates about 400ms which seems as the default animation timeout of jQuery. And yes, i know that i can turn off the animation but i only want the animation faster ...

I wan't to "control" the speed because sometimes e.g. an Error-Dialog should be animated longer which causes the user to recognize that an error has occured as example.
When anything goes right, also the s

[2019-07-17 13:06] mertsincan opened #4999 "Add intervalType attribute to Poll"
Type of interval value. Valid values are "second" (default) and "millisecond".

[2019-07-17 13:07] #4999 closed, assigned to mertsincan

[2019-07-17 15:36] wlhUser opened #5000 "DataTable: VirtualScroll and frozenColumns scrolling gets out of sync at the end of the table."
## 1) Environment
- PrimeFaces version: 7.0.5

- Affected browsers:
Affects Mozilla Firefox only. (I'm testing with FF 68)
On Chrome it works, as special code for Chrome was

## 2) Expected behavior
I'm using a datatable with :
- virtualScroll=true
- scrollable = true
- lazy = true
- frozenColumns=1

When scrolling to the end of my table the frozen column table gets out of sync with the data table

[2019-07-17 17:17] christophs78 commented on #4646
Provided https://github.com/primefaces/primefaces/pull/5002 to fix this issue.
(I´m not totally happy with the solution. I think this is - at this point in time - a only theretical issue. But it may help at some point in the future when some more people work on Calendar and Datepicker.)

[2019-07-17 19:25] #5000 closed, assigned to nobody

[2019-07-17 20:20] Rapster commented on #4646
Yeah I know what you mean, the real issue here is that `BaseCalendarRender#getConvertedValue` needs some refactoring, the complexity of this method is too much. I'll see what I can do. Thanks for answering my "call", since I'm a stranger to what have been done on this component, I prefer asking the author of the PR 😄

[2019-07-18 07:39] christophs78 commented on #4646
Yes, refactoring would realy help.
Unit-test may also help... (As far as i understand the PF-Codebase this seems to be a weak point.)
In an ideal world with unlimited ressources even UI-test would be great...
What are your thoughts about this? (I know both would be a realy big investments which may not be realistic.)

[2019-07-18 07:57] mertsincan commented on #4778
Hi @christophs78,

We don't intend to update FA font files in core. Users can add them as in the above examples. We'll only support new syntax of FA by modifying our CSS within the core. Please see this issue;
https://github.com/primefaces/primefaces/issues/4276

Best Regards,

[2019-07-18 08:40] Rapster commented on #4646
I'm working on something, I'll let you know once I'm done with it 😉

[2019-07-18 12:42] #453 closed, assigned to nobody

[2019-07-18 13:00] melloware commented on #4960
@krishnakittu @Rapster has submitted a PR that will fix this issue: https://github.com/primefaces/primefaces/pull/5003

[2019-07-18 13:04] krishnakittu commented on #4960
Thank you very much for notifying me.

[2019-07-18 13:14] wlhUser opened #5004 "p:dataTable: Frozen columns row Height not synced with data row height"
## 1) Environment
- PrimeFaces version: 7.0.5

- Application server + version: WildFly 15
- Affected browsers:
All

## 2) Expected behavior
With a p:dataTable with frozen Columns, I expect that the row heights of the frozen columns and the data columns is synchronized, as otherwise rows belonging together are not displayed aligned.
This does not happen in standard primeFaces, but in case the style

[2019-07-18 13:39] wlhUser opened #5005 "DataTable: Frozen column width massively increases when resizing browser window"
## 1) Environment
- PrimeFaces version: 7.0.5

- Application server + version: Wildfly 15
- Affected browsers:
All

## 2) Expected behavior

When using a p:dataTable with frozen columns, I expect that the width of the frozen data part reflects the sum of the widths of the frozen data columns.
In my attached example, I've define the width of the single frozen column to 30px, but indeed the frozen c

[2019-07-18 13:59] melloware commented on #5004
Duplicate of https://github.com/primefaces/primefaces/issues/1155

[2019-07-18 15:05] regenduft commented on #4801
This commit breaks everything.

It does NOT work at all anymore with the primefaces default theme (without border-box).

And even if I set border-box style for all scrollable datatable TD and TH, it does calculate column sizes wrong when using p:columns tag and no explizit width= attribute.

[2019-07-18 15:27] Rapster opened #5006 "Refactor BaseCalendarRenderer#getConvertedValue"
Method's complexity is way too high. The way of how exception are handled are too cumbersome (I blame java for that...) Using Try monad could help. PR on this way (SPOILER alert: I took a lot on liberty on this)

Feedbacks are welcome 😉

I tagged it as enhancement but it's also experimental 😋

[2019-07-18 15:32] Rapster commented on #5006
@christophs78 @melloware @tandraschko Thanks for having a look

[2019-07-20 10:15] Rapster opened #5009 "Refactor AbstractMenu/Splitbutton common methods"
First, since I introduced  `OutcomeTargetRenderer#encodeOnClick()` (see 9521ca5c539dfa382ca9b151ae5130418a0a513c), `OutcomeTargetRenderer` is awkwardly bound to Menu API. IMO, it's a bad design I introduced 😅 _(Doesn't mean the commit is bad :wink:)_ Why? `OutcomeTargetRenderer` is for `UIOutcomeTarget` components. `AbstractMenu` and `SplitButton` are not.

Second, `AbstractMenu` and `SplitButton`

[2019-07-20 13:24] youssefali424 opened #5011 "dialog return event not working version 7.0"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-07-20 13:43] melloware commented on #5011
@youssefali424 Can you please create a small reproducible test case using our Test project: https://github.com/primefaces/primefaces-test

A runnable sample helps us debug way faster.

[2019-07-20 14:29] youssefali424 commented on #5011
i tried the same code on the test project same result

[2019-07-20 14:33] youssefali424 commented on #5011
i dont understand it seems working with everyone but i tried it in the very simplest way same result the ajax tag is working as well with other events removed all styles , still the only thing that i didnt try is changing the primefaces version from pom file

[2019-07-20 14:35] melloware commented on #5011
Can you zip your test project and attach it here so we can debug?  Or are you saying you can't get it to happen in the test project?

[2019-07-20 15:43] youssefali424 commented on #5011
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/3413753/primefaces-test-master.zip)
here it is

[2019-07-20 15:44] youssefali424 commented on #5011
i edited it with so simple logic to test it

[2019-07-20 16:09] Rapster commented on #5011
@youssefali424 please fill the template correctly, the environment section is empty...

[2019-07-20 16:13] Rapster commented on #3288
If #5010 merged I think it'll be easy to fix this one

[2019-07-20 16:17] youssefali424 commented on #5011
sorry about that...

[2019-07-20 17:15] Rapster commented on #5011
Hard to believe it ain't working since I tried it out recently. Did you read this; https://primefaces.github.io/primefaces/7_0/#/core/dialogframework ?

[2019-07-21 06:41] youssefali424 commented on #5011
so is it working with the test project i sent ?

[2019-07-21 06:44] youssefali424 commented on #5011
for sure i looked through the documentation all of it and tried every possible workaround i tried onHide in the options map to call a js function as well it didnt work, sure that clicking the close button calls the callback onHide?

[2019-07-21 06:59] christophs78 commented on #4923
Talked to some of my colleagues this week. Their argument was generics would make code a bit more expressive. (Even if it does not add additonal type-safety.)

[2019-07-21 13:02] youssefali424 commented on #5011
i know everyone says its working thats why i was so reluctant to put it as an issue but it took too much time and effort , and i got nothing in return, may be i am doing some dummy thing thats what i thought but it didnt work on the test project as well

[2019-07-21 15:14] melloware commented on #3288
Agreed!

[2019-07-21 15:17] melloware commented on #5011
@youssefali424 I will try your sample tomorrow and let you know what I find out.

[2019-07-21 16:22] #4923 closed, assigned to nobody

[2019-07-22 11:21] melloware commented on #5011
@youssefali424 Your example worked fine for me. I unzipped it ran "mvn clean jetty:run-exploded" and pressed the Add button it brought up you dialog.  When I closed the dialog I see the `System.out.println("returned ");` printed out in the console?

So again what is not working?

[2019-07-22 13:52] wlhUser opened #5013 "DataTable: Reordering of draggable columns does not work properly when using frozen columns"
## 1) Environment
- PrimeFaces version: 7.05

- Application server + version: WildFly 15
- Affected browsers:
Tested on Firefox 68 and Chrome

## 2) Actual behavior
In my example I use **draggableColumns** and **frozenColumns**.
In general reordering of columns works well, except when I drag the very first non frozen column.
In this case the **header** of the dragged column, and the **content** of

[2019-07-22 15:15] regenduft opened #5014 "Datatable: (scrollable): size column size calculation defect for percentage-width or no width given"
Version: Primefaces 6.2.21

## 2) Expected behavior

when no width given, all columns should have same size and be distributed equally over the available scrollWidth

when width="30%", this should be 30% and not 30px!

## 3) Actual behavior

since commit https://github.com/primefaces/primefaces/commit/852741bf1376fc8e966441bffc9a82e80c601b15 to solve issue https://github.com/primefaces/primefaces/

[2019-07-22 15:16] regenduft commented on #5014
workaround:

`if (PrimeFaces && PrimeFaces.widget && PrimeFaces.widget.DataTable && PrimeFaces.widget.DataTable.prototype) {
	PrimeFaces.widget.DataTable.prototype.setOuterWidth = function(element, width) {element.width(width)};
}`

[2019-07-22 15:19] regenduft commented on #5014
I am using a theme WITHOUT box-sizing: border-box

when enabling box-sizing: border-box, it works better, but still incorrect i.e. the columns further on the right are still wider etc

[2019-07-22 17:38] youssefali424 commented on #5011
man you saw it once or twice?

[2019-07-22 17:46] youssefali424 commented on #5011
i added it to the open dialog function as well

[2019-07-22 18:03] melloware commented on #5011
Sorry didn't see that.  OK so the issue is the "return" is not fired when you close hte dialog with no action.  That is the exact behavior as the Showcase: https://www.primefaces.org/showcase/ui/df/data.xhtml

If you select a Car the Dialog Return is fired.  If you just close the dialog with the "X" that is considered "No Action" and the event is not fired.

Check out this ticket: https://github.c

[2019-07-22 18:09] youssefali424 commented on #5011
Now i get it but for sure it isnt even near clear in the documentation what is called when the close button is clicked.....sorry for taking too much of your time

[2019-07-22 18:12] melloware commented on #5011
No problem.  I will close this for now as a duplicate of #2696 the request for a dialog close event.

[2019-07-22 18:12] #5011 closed, assigned to nobody

[2019-07-22 18:22] melloware commented on #5014
@mertsincan can you investigate as this looks like a regression issue?

[2019-07-22 18:52] #5006 closed, assigned to nobody

[2019-07-22 20:19] #4939 closed, assigned to nobody

[2019-07-22 22:44] Rapster commented on #5006
@christophs78 I feel there is some duplicates in `CalendarUtils`. Do you think there is some stuff that I did in my last commit refactoring that could be reused?

[2019-07-23 08:41] fanste opened #5015 "Tree: Wrong dropIndex in AJAX behavior event"
## 1) Environment
- PrimeFaces version: Trunk
- Application server + version: WF 10.1.0.Final
- Affected browsers: IE, FF, ...

## 2) Expected behavior
There are multiple possibilities, where a tree node could be dropped. Either **on** other nodes , which will make them siblings of that node. Or **between** nodes, which will insert the node at that position.

The second case (between) is working c

[2019-07-23 09:02] fanste commented on #5015
If you agree with my fix (we've already tested it internally and it seems to work as expected), than I will provde a PR.

[2019-07-23 11:25] melloware commented on #5015
Please provide PR.

[2019-07-23 11:58] Rapster commented on #1098
I had a closer look on `PrimeClientBehaviorHolder` to understand the necessity of it. I tried the sample with 5.3 with different impl. they're all working. I only reproduced this problem if CDI used and no scope is set. Makes me wonder if `PrimeClientBehaviorHolder` is really necessary after all. The author of this ticket never replied...

[2019-07-23 13:01] tandraschko commented on #1098
it definitely was necessary for some cases (i also remind some case when passing listeners to a CC or something)

[2019-07-23 14:25] VsevolodGolovanov commented on #1098
I can confirm that this was fixed. After migrating to PF 6.1 we were able to remove our workaround for this issue.

[2019-07-23 14:50] Rapster commented on #1098
Strange, the original issue is a `PropertyNotFoundException`, the change that Thomas made is to try out the "original" listeners _(by cathing MethodNotFoundException)_ if not found: use a fallback listener. Your issue is a `PropertyNotFoundException`, I don't see how it fixes the problem. But again, it works fine in 5.3 without this change

[2019-07-23 15:17] VsevolodGolovanov commented on #1098
My issue was missing facelet context resulting in unresolveable ui:param, but only when calling a listener with event argument.
I think the unmentioned part of a fix for this was here: https://github.com/primefaces/primefaces/commit/cecf5b9c1117cec61d0eaad5897589f2ededbdf3
Note the FaceletContext change in processCustomListener.

PropertyNotFoundException shouldn't happen at all anymore, because t

[2019-07-23 15:37] melloware commented on #5015
Can you also check this one: https://github.com/primefaces/primefaces/issues/3543 to see if its the same issue.

[2019-07-23 17:21] maasvdberg opened #5016 "SplitButton: lacking margin-right"
SplitButton: lacking margin-right
<img width="285" alt="buttons" src="https://user-images.githubusercontent.com/910975/61732934-0a7e1e00-ad7f-11e9-9449-aa06e3fc4d91.png">

[2019-07-23 17:37] melloware commented on #5016
Assigning to @mertsincan to review.

[2019-07-23 17:48] maasvdberg commented on #1033
Fixed through #4925 ... please close

[2019-07-23 18:11] #1033 closed, assigned to nobody

[2019-07-23 18:34] melloware opened #5018 "SelectManyMenu: Basic selection regression issue"
## 1) Environment
- PrimeFaces version: 7.1-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub?NO
- Application server + version: Showcase
- Affected browsers: All

## 2) Expected behavior

Basic SelectManyMenu should only submit the value selected

## 3) Actual behavior

It is submitting any value or previous value selecte

[2019-07-23 20:07] tandraschko commented on #5018
i assume it works fine in al browsers with your PR?

[2019-07-23 20:09] melloware commented on #5018
Tested in Chrome, Firefox, Edge, and IE11!

[2019-07-23 20:16] tandraschko commented on #5018
ok, feel free to apply it :D

[2019-07-23 20:18] #5018 closed, assigned to melloware

[2019-07-24 06:40] javaone199 opened #5020 "mobile: add panel (left,right), page, popup, column toggle from jquery-mobile"
For mobile: please add some features from jquery-mobile:
1. panel (left,right),
2. page, popup,
3. column toggle

[2019-07-24 06:52] BalthaZarr83 opened #5021 "Added dateTemplate support to datePicker with view='month'"
**Environment**
-fairly independent
-Primefaces 7.0

**Actual and expected behaviour**
-When using the datePicker Month-View via `view="month" ` the javascript function thats referenced from `dateTemplate="dateTemplateFunc"` never gets called.
-Even with set max and min values you can still navigate outside the year range and click on months outside that range.
I allready asked a question on stack

[2019-07-24 07:02] #5016 closed, assigned to mertsincan

[2019-07-24 07:03] tandraschko commented on #5020
you know that we removed PrimeFaces mobile?

[2019-07-24 08:28] #5021 closed, assigned to mertsincan

[2019-07-24 08:32] #5020 closed, assigned to nobody

[2019-07-24 08:34] tandraschko commented on #5020
@mertsincan i think you mean "PrimeFaces mobile"? :D

[2019-07-24 10:07] akashbharati commented on #2153
@tandraschko  how to show 'All' as an option in p-table which is using paginator. I could not understand

[2019-07-24 10:27] mertsincan commented on #2153
Please use PrimeNg github or forum for p-table(PrimeNg) issues.

For p:dataTable(PrimeFaces), please see; https://github.com/primefaces/primefaces/issues/3833

Best Regards,

[2019-07-24 11:04] mertsincan commented on #5020
Yes, PrimeFaces mobile :D

[2019-07-24 11:51] Rapster commented on #1098
[code]

As a proof it is working with 5.3 using that sample. Would be nice to know what was wrong with CC?

[2019-07-24 11:58] tandraschko commented on #1098
i wont remove this until we have integration tests for this for all possible containers ;)

[2019-07-24 12:11] tandraschko commented on #1476
No feedback, will close it for now

[2019-07-24 12:11] #1476 closed, assigned to nobody

[2019-07-24 12:12] tandraschko commented on #1812
No example -> invalid
Feel free to reopen if you have a sample

[2019-07-24 12:12] #1812 closed, assigned to nobody

[2019-07-24 12:18] tandraschko commented on #3021
Layout is deprecated, i will close it as won't fix

[2019-07-24 12:21] VsevolodGolovanov commented on #1098
@Rapster, tested the sample again on Wildfly 11 and PF 5.3 - indeed, no error. Tested on Wildfly 8.1 - and got the error.
I suspect some change in Mojarra affected this too.

[2019-07-24 12:23] tandraschko commented on #1098
Could also be releated to the EL impl/version. Also had this error from time to time and i used JUEL.

[2019-07-24 12:23] #3021 closed, assigned to nobody

[2019-07-24 12:26] tandraschko commented on #4486
Will close it for now, it's not related to the PrimeFaces wrapper.

[2019-07-24 12:26] #4486 closed, assigned to nobody

[2019-07-24 12:32] Rapster commented on #1098
I got it working with Wildfly (8.1.0, 9, etc.)

[2019-07-24 13:06] Rapster commented on #1098
@VsevolodGolovanov the commit cecf5b9c1117cec61d0eaad5897589f2ededbdf3 was pushed in 5.2 RC2 but get reverted for 5.2 Final. So cecf5b9c1117cec61d0eaad5897589f2ededbdf3 coulnd't fix your problem neither this fix. I don't mean to be annoying, but this change is quite impactful and more I try more I wonder if it was really necessary

But I must say, a lot of people came across that problem. IMO, a s

[2019-07-25 12:30] mertsincan opened #5023 "Upgrade to PrimeIcons 2.0.0"

[2019-07-25 12:41] #5023 closed, assigned to mertsincan

[2019-07-25 13:35] #4305 closed, assigned to nobody

[2019-07-25 13:37] tandraschko commented on #4305
@Rapster please also update the migration guide + docs

[2019-07-25 14:19] christophs78 opened #5024 "DatePicker: overlay-display-issue when used inside accordionPanel (or other containers) or inside a dialog"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? No, 7.0
- Application server + version: does not matter
- Affected browsers: does not matter

## 2) Expected behavior
p:calendar does it the right way
![grafik](https://user-images.githubusercontent.com/10461942/61881411-e1809900-aef6-11e9-883a-fb7308cf4bad.png)

## 3) Actual behavior
p:d

[2019-07-25 14:33] melloware commented on #5024
I think its similar to this problem too? https://github.com/primefaces/primefaces/issues/4953

[2019-07-25 14:35] christophs78 commented on #5024
Yes, probably it has the same root cause.

[2019-07-26 09:46] torbenw commented on #5014
Do you think this could be fixed in the 6.2.23 release?

[2019-07-27 06:03] christophs78 commented on #5006
@Rapster I´ll look into this within the next weeks.

[2019-07-27 11:41] christophs78 commented on #5024
Calendar within a dialog:
![grafik](https://user-images.githubusercontent.com/10461942/61993945-0bab9580-b074-11e9-8f35-75bf679d1b9b.png)

DatePicker within a dialog:
![grafik](https://user-images.githubusercontent.com/10461942/61993950-1d8d3880-b074-11e9-935e-38e0939f84e6.png)

[2019-07-27 16:21] Eiten1984 opened #5025 "Tooltip in timeline: stop work after update"
Hi,

I use version Primefaces 7.0 I have a issue with Tooltip. I should work with timeline, after mouse over the timeline event I would like to show tooltip. Iti works until ajax rangechanged of timeline.

<p:timeline id="timeline" value="#{schedulerControler.model}" var="event" varGroup="group" editable="true">
         <h:panelGroup id="myEvent" class="evenClassId#{event.id}">
            <h:out

[2019-07-27 16:39] melloware commented on #5025
Duplicate of https://github.com/primefaces/primefaces/issues/4770

[2019-07-27 16:40] melloware commented on #4769
@joaopmi any update on reproducing this issue?

[2019-07-27 23:47] blutorange opened #5027 "Create a type definitions file for the client-side JavaScript API"
This issue is for discussing and creating a [types definitions](https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html) file for the JavaScript API of PrimeFaces - with the goal of enabling people to write [more maintainable](https://medium.com/@jtomaszewski/why-typescript-is-the-best-way-to-write-front-end-in-2019-feb855f9b164), [less error-prone](https://dzone.com/artic

[2019-07-28 00:02] blutorange commented on #5027
Here's the full version of the type definitions file I made for myself to help me code. It's still incomplete and can be improved, but it should give you an idea of how it looks:

<details><summary>Click to expand and view</summary>

[code]
</details>

[2019-07-28 02:34] Rapster opened #5028 "Refactor ClientValidationConstraint subclasses"
Too much copy/paste in ClientValidationConstraint subclasses

[2019-07-28 02:47] Rapster opened #5030 "ChartJS: Move renderers in org.primefaces.component.chartjs"
Move chartjs renderers into `org.primefaces.component.chartjs`, so far it's spread all over `org.primefaces.component` which gets annoying, specially if you want an overview of the impls. jqplot charts follow that, so let's do the same for chartjs _(rename into chartjs also, and not charts)_

[2019-07-28 08:32] tandraschko commented on #5030
Currently the tags are name e.g. p:barChart, therefore org.primefaces.component.barchart.BarChartRenderer is the correct path

[2019-07-28 08:33] tandraschko commented on #5027
i'm almost sure that this wont happen as it would probably take hundrets of hours. @mertsincan WDYT?

[2019-07-28 09:43] Rapster commented on #5030
They are individual components indeed (even though it shouldn't and I think it's a design mistake), but still, those different chartjs components should remain in one package instead of making `org.primefaces.component` congested. If I wanted to have a look on Chartjs code, I expect to be able to find all the infos in one place, not navigating all over our main component package to find it

[2019-07-28 09:43] #5028 closed, assigned to nobody

[2019-07-28 12:35] melloware commented on #5028
Nice removal of cut and paste code.

[2019-07-28 20:09] blutorange opened #5032 "Add properties collision and maxHeight to menu and menuButton"
Sometimes I use a layout where the body of the HTML has a fixed height and does not scroll. When I add a menu or menu button with more than a few items, that often results in an overlay menu with items that are off-screen, with no way for the user to scroll to them.

This could be solved by supporting the option `collision` provided by JQueryUI.

To ensure the overlay does not grow taller than the

[2019-07-28 20:12] blutorange commented on #5032
See also PR #5026

[2019-07-28 20:30] blutorange commented on #5027
@tandraschko Yeah, I thought so, just wanted to mention it (Though I don't think it would take that long. But testing everything and making sure it still works could). So that leaves two options I mentioned:

1. Just create a separate file for each widget, like they did with [PrimeReact](https://github.com/primefaces/primereact/blob/master/src/components/message/Message.d.ts)
1. Add doc comments t

[2019-07-29 07:56] jithin1612 commented on #1001
@cnsgithub.....Thankyou very much for the alternative solution.

[2019-07-29 12:23] Rawi01 opened #5033 "OverlayPanel: Missing aria-label on close icon"
## 1) Environment
- PrimeFaces version: **latest**
- Does it work on the newest released PrimeFaces version? Version? **No**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **No**
- Application server + version: **All**
- Affected browsers: **All**

## 2) Expected behavior

The close icon of the overlay panel s

[2019-07-29 14:54] melloware commented on #5033
Removed the duplicate HREF and submitted PR.

[2019-07-29 15:40] #5033 closed, assigned to melloware

[2019-07-29 18:34] astappiev opened #5035 "Menu: wrong position when using trigger element"
## 1) Environment
- PrimeFaces version: 7.0.

An element with `float: right` which is a trigger for the menu. The menu has the following position attributes `my="right bottom" at="right top"`.

## 2) Expected behaviour
Menu positioned by the right side of the element.

## 3) Actual behaviour
The offset position is wrong. The problem in this code
https://github.com/primefaces/primefaces/blob/251ab3

[2019-07-29 18:36] astappiev commented on #5035
I have created a patch for myself. Which first do positioning, then changing visibility and it works for me.
[code]

[2019-07-30 06:49] christophs78 opened #5036 "DatePicker: wrong DayNames when firstDay of Locale not equal 0"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? 7.0
- Application server + version: does not matter
- Affected browsers: does not matter

## 2) Expected behavior
For local "de" firstDay is 1. (=monday)
dayNamesMin and dayNames should be shown correct in DatePicker-popup.

## 3) Actual behavior
dayNamesMin ist shown correct. (recognices

[2019-07-30 10:54] melloware commented on #5036
Is it similar to this issue? https://github.com/primefaces/primefaces/issues/4973

[2019-07-30 11:40] christophs78 commented on #5036
I saw #4973 before, but i think this are two different issues.

[2019-07-30 11:55] christophs78 commented on #5036
DatePicker in this case recognizes the de-Locale (Sonntag instead of Sunday, ....) and shows the popup.
But it does not seem to recognize firstDay when he renders dayNames .

[2019-07-30 15:04] melloware commented on #5036
Got it.

[2019-07-31 07:36] pouwelsjochem opened #5037 "DatePicker: Add range selection support with time"
## 1) Environment
- PrimeFaces version: 7.0.5
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: WildFly 17
- Affected browsers: All

## 2) Expected behavior
When selectionMode = 'range' and showTime = 'true' there should be two timepickers visible to be able to select a time selection within a day or over

[2019-07-31 08:31] #4931 closed, assigned to nobody

[2019-07-31 09:12] #5025 closed, assigned to nobody

[2019-07-31 09:12] #4968 closed, assigned to nobody

[2019-07-31 09:34] pouwelsjochem opened #5038 "DatePicker: timepicker stuck at incrementing on right click or releasing outside"
## 1) Environment
- PrimeFaces version: 7.0.5
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: WildFly 17
- Affected browsers: Tested with Chrome and Safari

## 2) Expected behavior
When right clicking a timepicker, it would not start incrementing at all.
When releasing the mousebutton outside of the tim

[2019-08-01 08:44] wlhUser opened #5042 "p:dataTable: ColumnToggler does not work with lazy loading"
## 1) Environment
- PrimeFaces version: 7.0.5

- Application server + version: Wildfly 15
- Affected browsers: All

## 2) Expected behavior
When hiding columns via the **p:columnToggler**, I expect, that the hidden columns are considered with lazy loading and virtualScroll as well. Instead, the headers of the hidden columns will stay hidden when scrolling, but the newly loaded data rows, will cont

[2019-08-01 09:06] tandraschko commented on #5042
I don't want to sell something but you already created 4 datatable issues the last weeks.
If you would like to get a fix the next weeks/months, i really suggest to use PrimeFaces PRO.

[2019-08-01 10:58] wlhUser commented on #5042
Thanks for the offer.
I started using the p:datatable some weeks ago, and as I found some problems, I thought you might want to get informed, in order to improve the functionality for the community. Up to now I do not see the need to use PrimeFaces PRO, as the problems I found are not blocking, but maybe it is an option for the future.

[2019-08-01 11:10] tandraschko opened #5043 "Remove java.util.Date fallbacks"
user can still attach their own JSF convert for a calendar/Datepicker of course

[2019-08-01 11:24] melloware commented on #5035
@astappiev Thank you for your fix.  I just submitted a PR.  I poked around the entire showcase and tested a few trigger="" and your fix seems to work great with no side effects.

[2019-08-01 12:04] astappiev commented on #5035
Thanks.

There is another problem exists with positioning when the target element has a decimal width (like `32.75px`, received in result of dividing a sass variable). But it is related to jQuery UI and not PrimeFaces.

Not critical for me, just a known limitation.

[2019-08-01 12:31] Rapster commented on #4646
I'm with @melloware on this, the breaking change would be huge:

I wouldn't deprecate the use of `java.util.Date` till it's deprecated in JDK.

[2019-08-01 14:40] wlhUser opened #5045 "Datatable: Layout corrupted for RTL, virtualScroll and frozen columns"
## 1) Environment
- PrimeFaces version: 7.0.5

- Application server + version: Wildfly 15
- Affected browsers: all

## 2) Expected behavior
For RTL table orientation, virtual scroll and frozen columns enabled, I expect column headers and data to be aligned in the same way as for non RTL orientation.

## 3) Actual behavior

Frozen and non frozen table parts are misaligned horizontally, as in RTL or

[2019-08-01 15:11] akallam opened #5046 "DatePicker: datePicker panel not refreshing like Calendar component"
# IMPORTANT

## 1) Environment
- PrimeFaces version: 7.0.5
- Does it work on the newest released PrimeFaces version?  No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Apache Tomcat 9.0
- Affected browsers: Chrome, Firefox, IE

## 2) Expected behavior
When date picker is set to

[2019-08-01 15:15] christophs78 commented on #4646
Things to keep in mind:
Breaking Schedule (and Timeline) would at least result in compile-time-errors.
Breaking Calendar and DatePicker would be much more perfidious because this results in runtime-errors.

[2019-08-01 17:30] Rapster commented on #4646
I get what you're saying, and plus I don't think Schedule and Timeline are used that much (I'm sure it is but not as much as calendar/datepicker)

But! Dropping `java.util.Date` is a bit too soon IMO (even though it's planned for 8.0). I'm sure a lot of people are not ready to migrate to the new Date API, being said we can't force them to do so, or at least, a converter should be provided by PF te

[2019-08-01 17:42] tandraschko commented on #4646
For me there is no reason to keep Date support for schedule/Timeline. DateTime API is there sine years and we force java8.
I currently even dont like the DatePicker/calendar Code.

We still support Date until PF8 natively for DatePicker/calendar, after that converters can be used.
We can also add a default converter. AFAIR we currently might not cover 100% of the featues with a converter but that

[2019-08-01 19:04] melloware commented on #5014
@regenduft You workaround definitely works for me.  I will report this in my PRO account.

[2019-08-02 08:30] Eehol opened #5047 "Tooltip: improve accessibility"
## 1) Environment
- PrimeFaces version: 7.0
- Application server + version: any
- Affected browsers: any

## 2) Expected behavior

The tooltip should be accessible, 4 changes should make the tooltip compliant with level AA of WCAG2.1 standards.

2 Attributes should be added to the generated code ([source](https://www.w3.org/TR/wai-aria-practices-1.1/#tooltip)) :
- The div containing the text of th

[2019-08-02 11:14] melloware commented on #5047
@MarkusChur thoughts?

@Eehol I notice in the doc you posted this is not official yet?

[2019-08-02 11:34] Eehol commented on #5047
@melloware indeed it seems that only **if** [`role="tooltip"`](https://www.w3.org/TR/wai-aria/#tooltip) is used, **then** the `describedby `attribute should be present.  So you are right, it doesn't look mandatory at the moment,

Nevertheless, the [WCAG rule 1.4.13](https://www.w3.org/WAI/WCAG21/Understanding/content-on-hover-or-focus.html) references the adding of `role="tooltip"` in the sufficie

[2019-08-02 14:04] russo177x opened #5049 "itemUnselect in p:chips, do not remove from list"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? I Don't Know
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Glassfish Server 4
- Affected browsers: All

## 2) Expected behavior
I need the itemUnselect event to remove

[2019-08-02 14:22] russo177x commented on #5049
RESOLVED!

[2019-08-02 14:22] #5049 closed, assigned to nobody

[2019-08-02 14:28] wlhUser commented on #5045
Some more observations:
- Scrolling horizontally in RTL orientation depends on the browser. IE, Firefox and Chrome, behave in three different ways.
- In 'column resizing' RTL is not being considered. (Resizers are on the wrong side of the header, and dragging the resizer does the opposite of what the user expects. Expanding, in fact shrinks the col width and vice versa.)
- In 'column reordering' (

[2019-08-02 19:15] MarkusChur commented on #5047
# Summary - just my thoughts
* use provided javascript to achieve desired level of control
* add aria-describedby manually
* fix primefaces tooltip so that it does not disappear when moving the mouse onto the tooltip.

# TL;DR
Consider the primefaces showcase: https://www.primefaces.org/showcase/ui/overlay/tooltip/tooltipOptions.xhtml

There is no way for blind people to consume the information of

[2019-08-02 20:19] melloware commented on #5047
@MarkusChur So are you good with my PR just adding role="tooltip" to the DIVS of the tooltip?

[2019-08-03 06:11] MarkusChur commented on #5047
Maybe we can improve this by adding` aria-describedby` to the target. The question is if there are cases where this breaks things. It should work if we treat the attribute correctly.
https://github.com/melloware/primefaces/blob/35e10807617686bef51866689ae97ae5f3150372/src/main/resources/META-INF/resources/primefaces/tooltip/tooltip.js#L155
If you add this here the target gets the correct `aria-des

[2019-08-03 10:52] melloware commented on #5047
I think we should only do it only for the singular tooltip.  The global tooltip to me would introduce too many issues trying to put describedby on every single component on a page which may have hundreds.

[2019-08-03 12:00] MarkusChur commented on #5047
totally makes sense.

[2019-08-04 08:46] Foobartender opened #5051 "DataTable: lazy DataTable with virtual scrolling skips rows and shows wrong expansions"
## 1) Environment
- PrimeFaces version: 7.0.5
- Does it work on the newest released PrimeFaces version? No.
- Does it work on the newest sources in GitHub? Did not try.
- Application server + version: latest Payara
- Affected browsers: any

## 2) Expected behavior
Lazy DataTable with virtual scrolling and row expansions shows correct rows and corresponding row expansions.

## 3) Actual behavior
Wh

[2019-08-04 10:29] Foobartender commented on #5051
Looking for a workaround, I figured that it's not that simple, because setRowIndex() is usually called with values from 0..pageSize-1. Except on row expansion (and maybe inline edits?), then it's called with the actual row index. So it's easy to workaround for values >= pageSize, but tricky for values < pageSize. Luckily, on row expansion the setRowIndex() call is preceded with `setRowIndex(-1)`,

[2019-08-04 20:37] Rapster commented on #5051
1. Please follow issue template
1. Provide a reproducer using primefaces-test
1. Since you already made an analysis, please provide a PR :wink:

[2019-08-05 11:30] melloware commented on #5047
OK PR has been updated i modified your code slightly.

[2019-08-05 12:27] krishnakittu opened #5052 "Columns : Repeated calls to Columns value Elexpression when ajax request made from other component"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) NO
- Application server + version: Glassfish 5.1
- Affected browsers:

## 2) Expected behavior
When even we use P:columns for each ajax call which is

[2019-08-05 12:34] Rapster commented on #5052
Please take the time to write your issue and explain your problem. It's not really clear to me what's your problem, what do you mean by "use"? And also, format properly your code!

[2019-08-05 20:29] melloware commented on #4660
@MarkusChur can you look at this one and explain it to me?

[2019-08-05 23:23] Rapster opened #5053 "Core: Refactor Exporter - Part 1"
Recently I had a deeper look on newly introduced `Exporter` interface, and to me that kinda of definition is wrong:
[code]

1. 3 methods that does 99% the same thing
1. methods having 10 parameters

As a result, there is a lot of duplicates (recently sonarcloud complained about it) which makes it even tougher to read the code.

I think there is a need to be able to export a datable inside an itera

[2019-08-06 00:01] czare commented on #4223
Can you please point me out the right way to add luna and nova themes? I can't find their libraries at the prime faces repository, neither any tutorials teaching how to add those specific themes. I know how to add a theme, I just can't find a way to add nova and luna themes. Thanks.

[2019-08-06 05:47] MarkusChur commented on #5047
Looks good to me! Nice improvement of my snippet.

[2019-08-06 05:51] MarkusChur commented on #4660
yes, SelectOneMenu has a few issue though. I'll take a look and provide you a list with suggestions later this week.

[2019-08-06 11:06] MatheusRadeski opened #5055 "Wizard e steps"
Good afternoon, I'm using the wizard in conjunction with the steps, all working correctly.
I wonder if you can click on number 3 and resize to the numbered tab.

[Foto](https://uploaddeimagens.com.br/imagens/screenshot_1-png-3977e3be-2afd-4eec-9945-f3048706c249)

[2019-08-06 11:33] #5047 closed, assigned to melloware

[2019-08-06 11:34] melloware commented on #5055
Please use Stack Overflow or the PrimeFaces forums for questions.

[2019-08-06 11:34] #5055 closed, assigned to nobody

[2019-08-06 11:51] melloware commented on #4223
@czare Nova and Luna are included in PF 7.0 core JAR. So there is no other additional jars to add they are built in.  Simply reference them like you were doing with Aristo or whatever previous theme you were using.

[2019-08-06 12:56] czare commented on #4223
Thank you @melloware!

[2019-08-06 23:45] #4979 closed, assigned to nobody

[2019-08-07 00:12] melloware commented on #5052
Change your p:ajax to process="@this".

[2019-08-07 00:12] #5052 closed, assigned to nobody

[2019-08-07 11:11] melloware commented on #5015
PR Submitted. @fanste please review.

[2019-08-07 12:39] fanste commented on #5015
Sorry, I was on vacation and currently I'm busy with business related things :/
I will have a look at #3543 as soon as I have more time again.

Your PR looks good. Thank you.

[2019-08-07 12:41] #5015 closed, assigned to melloware

[2019-08-07 12:47] fanste commented on #5015
My collegue just told me, that he included the fix of PR #4809 in our internal version which we used to find this issue. The PR seems to work (he exchanged includes with the jQuery function for IE11 compatibility). We never tried the PR of this issue without the PR #4809. We can do this in few days if it is what you want.

[2019-08-07 13:04] #4808 closed, assigned to nobody

[2019-08-07 13:04] #3543 closed, assigned to nobody

[2019-08-07 13:31] melloware commented on #5015
@fanste I just merged the other PR.  I tested everything in Chrome and IE11 can you please retest your scenarios.

[2019-08-07 13:32] melloware commented on #4808
@amathew121 I just merged your PR along with fixing the IE11 issue.  Can you please verify with the latest code from master that everything is working as expected please.

[2019-08-08 08:14] wailinnhtun opened #5058 "Show confirm dialog after validation"
I would like to show confirm dialog after validation.It is possible?Someone help me.

[2019-08-08 08:36] Rapster commented on #5058
Use the forum please, this is an issue tracker

[2019-08-08 08:36] #5058 closed, assigned to nobody

[2019-08-08 10:51] omarahmad1 commented on #2049
I have tried adding this into my XHTML, but I am not sure if the function is calling. I am still getting the alignment issue between header cells and data cells.

Also, is there a way to limit the horizontal scrolling to only within the table and not the entire page?

[2019-08-08 12:54] mertsincan commented on #4984
Hi @beadaptive,

Unfortunately, I couldn't replicate it. Could you please attach a sample maven project for us to replicate?

For now, this issue is "can't replicate".

Best Regards,

[2019-08-08 17:12] Foobartender commented on #5051
[primefaces-test-5051.tar.gz](https://github.com/primefaces/primefaces/files/3482889/primefaces-test-5051.tar.gz)

Just scroll down until row 100 comes into view. Issues appear depending on range.

[2019-08-08 19:32] Rapster opened #5059 "[Documentation] Improve on copied classes from JSF impls"
We have different component in PF that are a copy of, either MyFaces or Mojarra. But it doesn't say:
- from which version it has been copied? Should we keep them updated?
- what does it fix?
- any custom code?

We have:
- `org.primefaces.component.api.UIData`
- `org.primefaces.model.IterableDataModel`
- `org.primefaces.component.repeat.UIRepeat`
- `org.primefaces.component.repeat.IterationStatus`

[2019-08-08 20:52] tandraschko commented on #5059
p:repeat is a hacky bugfix for mojarra and still necessary as long as the Implementation doesnt Change. Also see: https://download.oracle.com/javaee-archive/javaserverfaces-spec-public.java.net/jsr372-experts/2016/01/0926.html

[2019-08-09 06:36] mertsincan commented on #5030
I agree with Thomas ;)

[2019-08-09 07:22] mertsincan commented on #4891
Hi @melloware,

OR <p> , <u> etc.  Please see;
![image](https://user-images.githubusercontent.com/11868120/62761511-8a9ac800-ba8f-11e9-9b4c-d619cc8820e6.png)
[code]

Hi @ravihariharan,
You need to use globalTooltip with globalSelector attribute such for such these issues. Please remove tooltip in column.
You will see the same problem when exporting data. Therefore, please use globalTooltip.

Exp;

[2019-08-09 07:44] MarkusChur commented on #4660
I have used the recent show case for my tests.

Core problem is that the combobox and the list lack of attributes so that these can be interpreted correctly by assistive technology. Not only the advanced combox is affected.
* Unable to use the list with voice commands
* Unable to know possible options as a screen reader only user
* Text Input is always dominant and read out even if keyboard focus

[2019-08-09 07:59] #5046 closed, assigned to nobody

[2019-08-09 08:34] Rapster commented on #5030
Well, I clearly don't! 😄 If if we had a `p:chartjs` I would agree, but PrimeTek decided to do something else. I'm curious why you didn't want to do just like `p:chart` with a model attribute, it would have simplify so many things, see all the duplicates we have now on these components [sonarcloud](https://sonarcloud.io/component_measures?id=org.primefaces%3Aprimefaces&metric=duplicated_lines_densi

[2019-08-09 08:58] #4977 closed, assigned to mertsincan

[2019-08-09 11:06] melloware commented on #4891
@mertsincan I read your comment and I don't see the problem?  if a "label" is found in a header then that label is used for the toggler else it uses the detault. In your example where you have an Label, a Span, and a text it finds the label and uses that for the column.  To me the column doesn't make sense if your Column Toggler had "ID test test2" as the column title. The fact that you included a

[2019-08-09 11:35] Rapster commented on #5059
I see, sounds like a tough one and does not seem it's gonna be fixed anytime soon. So basically, `UIRepeat#isNestedWithinIteator` is the only method that need to be fixed?

[2019-08-09 12:30] tandraschko commented on #5059
Exactly
I think we have to talk with the mojarra Team, If they can add suppport some class name patterns or reimplement it on their side

[2019-08-09 17:37] open-gdsn commented on #3506
Does this influence `action` attributes on `p:commandButton`s as well? https://stackoverflow.com/questions/57421187/

[2019-08-09 17:54] Rapster commented on #5059
Why don't we just use UIRepeat from MyFaces for `p:repeat`?

[2019-08-09 19:10] tandraschko commented on #5059
Because we should get rid of p:repeat and Not fix mojarra bugs

[2019-08-09 19:17] Rapster commented on #5059
No that I know, but meantime Mojarra fix that issue. Why don't we simply reuse UIRepeat from MyFaces, it doesn't seem to have any isNestedWithinIterator method in this class

[2019-08-10 15:25] tandraschko commented on #5059
May be possible but we should then also change our UIData impl....

[2019-08-11 13:56] Rapster commented on #5059
Can we then use `UIData` from MyFaces also? Might sound stupid question, but hard to understand the history of this issue. Is it possible to reproduce the issue using `ui:repeat` on the showcase?

[2019-08-11 14:27] blutorange commented on #5027
Alright, I went ahead and [made a prototype](https://github.com/blutorange/primefaces/tree/type-definitions/src/main/type-definitions) (needs a bit of work + refactoring) for the second option to see if it could work. I came up with the following:

* Node.js script that parses the JavaScript widget files with [acorn](https://www.npmjs.com/package/acorn) and generates a `.d.ts`  type definitions fi

[2019-08-11 16:03] tandraschko commented on #5059
Probably
But our goal should be to not change this classes for now and motivate the mojarra team to change their Implementation, to not require the nested iterator thing anymore

[2019-08-11 16:04] tandraschko commented on #5059
So please also revert this change in your PR
If you have time, it would be great If you can try to contribute to mojarra

[2019-08-11 18:26] Rapster commented on #5059
I found an issue that I can try on to test (see https://github.com/eclipse-ee4j/mojarra/issues/4535) which should be the reason why `p:repeat` has been introduced. In 2.3.2, the problem is not reproduced (I just tried)

[2019-08-11 19:05] tandraschko commented on #5059
If the example contains nesting of a repeating UiTabPanel inside/Outside of ui:repeat, it could be the same

[2019-08-11 19:17] tandraschko commented on #5059
See https://code.google.com/archive/p/primefaces/issues/7190

[2019-08-11 21:28] tandraschko commented on #5027
from a short review: it looks really great!

I think the biggest effort would be currently to start do document the widgets?
It would be in generell a big and great contribution. I think it's ok to start with adding @private to private annotations and write short docs of all public methods...
I would really like to see something from the community.

[2019-08-12 08:59] markusg80 opened #5060 "DatePicker: No timeInput attribute like Calendar"
## 1) Environment
- PrimeFaces version: 6.2.21
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> No https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Payara 5.192
- Affected browsers: All

## 2) Expected behavior

Datepicker should have timeInput attribute to en

[2019-08-12 09:21] RalfScania opened #5061 "Dialog does not close in Chrome on touch devices"
**Environment**
PrimeFaces version: 7.0.5
Did work on 6.X

Affected browsers: Chrome Mobile
Tested on Samsung TabActive and S10

**Expected behavior**
Dialog should close on touch off the close icon in the top right panel

**Actual behavior**
Dialog does not close

**Steps to reproduce**
[primefaces-test-dialog.zip](https://github.com/primefaces/primefaces/files/3491654/primefaces-test-dialog.zip)

[2019-08-12 11:01] melloware commented on #5061
Is the only way to test with the physical hardware?  I don't really see anything out of the ordinary with the close icon code.

https://github.com/primefaces/primefaces/blob/039f5d75c614914fb532e536c6acf8bcf2105850/src/main/resources/META-INF/resources/primefaces/dialog/dialog.js#L237-L240

[2019-08-12 12:02] RalfScania commented on #5061
If you use the virtual device in chrome, it works.
It only happens if you use a touch device on android.

By the way, ConfirmDialog works.

[2019-08-12 12:08] lagar84 commented on #5061
I had a similar issue, just reproducible on physical hardware.
I workarounded it by setting draggable="false" (default is true).
It looks like dialog was confusing the touch to close with touch to drag.
Try it to see if it is the same issue.

[2019-08-12 12:11] RalfScania commented on #5061
Yes, if you set draggable to false, it works.

[2019-08-12 14:54] ravihariharan commented on #4891
Create a PR for - Documentation : ColumnToggler: Label Issue on ColumnToggler #5062

[2019-08-12 21:51] ravihariharan commented on #2479
Refer Documentation : ColumnToggler: Label Issue on ColumnToggler (#5062)

[2019-08-12 21:51] ravihariharan commented on #1592
Refer Documentation : ColumnToggler: Label Issue on ColumnToggler (#5062)

[2019-08-13 12:26] theobisproject opened #5063 "SelectCheckboxMenu: Disabling a SelectItem does nothing"
## 1) Environment
- PrimeFaces version: `7.0`
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) `No`
- Application server + version: `Wildfly 13`
- Affected browsers: `Firefox`, `Chrome`, `Edge`

## 2) Expected behavior
The checkbox get's disabled

[2019-08-13 12:33] Rapster commented on #5059
In case we need to update copied classes (and I think we must do it), here is the scenario to make sure everything works fine:

[code]

- Not working with Mojarra 2.3.3
- Working if using p:repeat
- Working with MyFaces 2.3.4 (using `ui:repeat`)

[2019-08-14 07:47] dgusoft opened #5064 "Datatable: Partial rendering of datatable with stickyHeader="true" and stickyTopAt="..." increases z-index of div"
## 1) Environment
- PrimeFaces version: 7.0.2
- Application server + version: JBoss EAP 7.0.7.GA (Mojarra 2.2.12.SP4)
- Affected browsers: all
-  example with existing serenity theme showcase

## 2) Expected behavior
Partial rendering of datatable with sticky table header should keep z-index stable
## 3) Actual behavior
z-index of div-Element above table-element increases with each ajax request wh

[2019-08-14 08:00] dgusoft commented on #5064
To reproduce: Put the file sticky-header.xhtml into the showcase (main Folder) and open the page sticky-header.xhtml within the showcase url in a browser (f. ex. chrome) [http://localhost:9090/serentity/sticky-header.xhtml]
[sticky-header.zip](https://github.com/primefaces/primefaces/files/3500325/sticky-header.zip)
see also the screenshots:
![screen2](https://user-images.githubusercontent.com/186

[2019-08-14 10:54] melloware commented on #5064
I am assuming PF did the zindez++ to solve some problem.  Do you have a proposed solution?

[2019-08-14 11:51] melloware commented on #5063
Thanks for your test case it helped me debug the issue.  PR submitted.

[2019-08-14 12:10] dgusoft commented on #5064
Not at the moment. It would interesting to know what problem was solved by using ++PrimeFaces.zindex. In the ressource loaded als components.js.jsf?ln=primefaces&v=7.0.2 I found 31 places where ++PrimeFaces.zindex is used.
I think the problem is that the same code is executed on full page reload and on partial update.

[2019-08-14 12:39] philwilkinson opened #5066 "fileUpload: multiple file layout overflows component"
The contents of the primefaces fileUpload component expand\overflow past its boundary when uploading multiple files.

[This issue can be seen on the primefaces showcase page for fileupload](https://www.primefaces.org/showcase/ui/file/upload/multiple.xhtml) ...
![primefaces-showcase-fileUpload-overflow-bug](https://user-images.githubusercontent.com/8225012/63020622-83602980-be96-11e9-8979-67d789a66

[2019-08-14 12:54] ChrisRescher commented on #5064
@melloware:
Maybe the problem came in  with primefaces 7.x and the new dataTable attribute  **_stickyTopAt_**
At the other hand, i don't know how to use stickyHeader without that "anchor" attribute - so stickyTopAt was longtime expected by community.

As @dgusoft  mentioned, the ++PrimeFaces.zindex, should not executed on partial requests

[2019-08-14 13:02] #5063 closed, assigned to nobody

[2019-08-14 13:34] melloware commented on #5066
Can you debug in and see what CSS is being applied?  I am wondering if this is something being overridden in the Premium Themes.

[2019-08-14 13:36] melloware commented on #5064
OK so we need some way to detect a partial update vs page load.  Maybe @tandraschko can weigh in if we have needed to do this elsewhere.  Because right now all widgets just reinitialize when they are partially updated.

[2019-08-14 13:50] philwilkinson commented on #5066
Hi, I am not using any premium themes. And the issue is repeatable on the primefaces showcase page, for which I have not used any premium themes either.
Just create an empty file with a longish name, e.g.
"encoded_20190215062434.gif"
content doesn't matter for this, just ensure the extension is .gif, as that's what it can upload.
goto https://www.primefaces.org/showcase/ui/file/upload/multiple.xht

[2019-08-14 15:16] melloware commented on #5066
The PF Showcase is a Premium theme by default it uses "nova-light" by default.  But thanks for reporting that its not one of the newer themes.  Can you tell me exactly what theme you are using?

[2019-08-14 19:13] melloware commented on #5064
PR Submitted please review.

[2019-08-14 22:38] mertsincan opened #5068 "Improve resetRows method on UIData"

[2019-08-14 22:41] #5068 closed, assigned to mertsincan

[2019-08-14 23:31] Rapster commented on #5059
I don't plan to change `UIData#isNestedWithinIterator` since:
- it's our custom implementation
- we should probably update `UIData` with a more updated version (from MyFaces/Mojarra?)
- even though Mojarra fixes it, since PF support 2.2 we should fix this
- on the long run, we actually might not need it (looking at MyFaces code)

I'll provide a PR "simplifying" a lot `UITabPanel` and a more update

[2019-08-15 07:06] beadaptive commented on #4984
[pf-4984.zip](https://github.com/primefaces/primefaces/files/3504572/pf-4984.zip)

Hi,
sure, project is attached. I've also included Eclipse settings, you can remove them of course.
Just open http://localhost:8080/pf-4984/, enter some text to the text area and press enter. The default command is then triggered inside the text area.
We are using MyFaces (2.2 and 2.3), but this should not be the pro

[2019-08-15 07:43] philwilkinson commented on #5066
Hi, I am using the omega theme from org.primefaces.themes:all-themes:1.0.10 on primefaces 6.2. However I don't think the theme is the issue as I can repeat the problem on the PF showcase page with the nova*, luna* and omega free themes.

[2019-08-15 08:59] tandraschko commented on #5059
really, i would like to leave this classes as they are for now - they are copied, it's ok for now

we have so many bugs and enhancement requests, i think we should put in some effort there
i know, developers are more into refactoring and performance improvements...

Whenever you don't like something in MyFaces, create issues and PRs (but note: all branches are in maintanence mode, just master is o

[2019-08-15 09:53] ruzsaz commented on #1843
Same here, 7.0.

[2019-08-15 10:16] fanste opened #5069 "Tree: Change/Improve contextmenu handling"
## 1) Environment
- PrimeFaces version: trunk
- Affected browsers: all

## 2) Expected behavior
A tree with an `p:contextmenu` should be able to use the selected tree node to determine the available actions of the context menu.

## 3) Actual behavior
The tree node selection and display of the context menu takes place simultaneously. Therefore the context menu will be closed again if you perform an

[2019-08-15 10:26] fanste commented on #5069
PR #5070

[2019-08-15 14:50] Selaron opened #5071 "InputTextarea: autocomplete function does not trigger itemSelect AJAX behavior event."
## 1) Environment

PF 7.0 + 7.1-SNAPSHOT
Mojarra 2.3
OpenWebBeans
Tomcat 9

## 2) Expected behavior

When using inputTextarea with autocomplete and adding a p:ajax event="itemSelect", the itemSelect event should be triggered by the user selecting a suggested item.

## 3) Actual behavior

The event simply does not trigger.

## 4) Steps to reproduce

Select a suggestion from inputTestarea and (don't

[2019-08-15 15:04] Selaron commented on #5071
Would like to add a pull request if you are not already on it.

Root cause short: InputTextareaRenderer . encodeScript() does not encodeClientBehaviors().

[2019-08-15 15:05] melloware commented on #5071
Please do I will review it when you submit.

[2019-08-15 15:17] melloware commented on #4984
@beadaptive Thanks for the reproducer.
@mertsincan here is an easier version using Primefaces Test.  Just run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

[pf-4984.zip](https://github.com/primefaces/primefaces/files/3506038/pf-4984.zip)

[2019-08-15 16:25] melloware commented on #4984
@mertsincan Debugging this it appears in this line....

[code]
$(e.target) is the FORM and not the TEXTAREA.

[2019-08-15 16:49] selvait90 commented on #4486
I have added ` class="ql-editor"` to the parent element which helped to apply right font size in the view.
* Generated html code and added ql-editor class to parent element

[code]

* style in text editor css

[code]

[2019-08-15 18:13] Selaron commented on #5071
This issue came up in a recent [question on StackOverflow.com](https://stackoverflow.com/questions/57500617/does-inputtextarea-trigger-any-event-after-a-suggestion-is-clicked).

[2019-08-15 18:23] #5071 closed, assigned to nobody

[2019-08-15 18:23] melloware commented on #5071
Thank for the PR!

[2019-08-15 19:31] melloware commented on #4791
I am going to close this as a Mojarra issue. We can re-open if we determine its anything other than that.

[2019-08-15 19:31] #4791 closed, assigned to nobody

[2019-08-16 00:07] blutorange commented on #5027
Glad you like it : ) Yeah, this might take a while, but let's see. Figuring out which methods / properties are supposed to be public and which private isn't straight-forward either.

I've now came up with a plan for the structure of the declarations file, you can see the current version on [pastebin](https://pastebin.com/ni6uBjrF). Also, here's how the documentation generated from the declarations

[2019-08-16 07:49] ptaucher commented on #1390
Adding a custom filtering mechanism using the event="filter" is then not possible it seems, as the component internal filter will be applied after the 'filter' event. So like jxmai already said earlie: Another event 'afterFiltered' would be great. Currently that's some kind of show stopper.

[2019-08-16 11:24] melloware commented on #5027
@blutorange That documentation looks great.  Just my opinion is as long as we finalize and decide on some standards we can get it going and then the community can start picking components here or there to document.  So we don't have to do a big bang commit with everything.  Just my thought.

[2019-08-16 11:25] melloware commented on #1390
A PR to fix the issue or add the new afterFilter event would be great!

[2019-08-16 11:32] #5069 closed, assigned to nobody

[2019-08-16 11:33] melloware commented on #5069
Thanks for the PR!

[2019-08-16 16:36] BenHunt-io commented on #3390
Awesome guys!

My team is trying to migrate to Junit5, yet static methods keep pulling us back to Junit4 for PowerMock. Not only was it not testable, it wasn't a clear dependency of the class. But with using the producer method and CDI, it's clear that whatever class is using PrimeFaces.current is dependent upon it.

Now we can use Junit5 :)

[2019-08-16 17:13] melloware commented on #3390
Glad it helped!

[2019-08-17 11:44] melloware commented on #3234
@cnsgithub Apparently PrimeFaces did support the mask.definitions option.  A user on StackOverflow reported this regression issue here when he upgraded to PF 7.0.
https://stackoverflow.com/questions/57523231/primefaces-inputmask-accept-only-hex

[2019-08-17 12:13] melloware commented on #5061
OK this appears to be a problem with Jquery UI Touch.  https://github.com/furf/jquery-ui-touch-punch/issues/295

I will handle fixing it.

[2019-08-17 21:13] hfluz opened #5075 "SelectOneMenu: column rendered attribute doesn't work when using advanced mode"
## 1) Environment
- PrimeFaces version: 7.0 and 7.1-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No, it doesn't.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No, it doesn't.
- Application server + version: JBoss EAP 7.2.2
- Affected browsers: Any.

## 2) Expected behavior

When

[2019-08-17 21:13] hfluz commented on #5075
I just made a PR that fix this issue: https://github.com/primefaces/primefaces/pull/5074

[2019-08-17 21:44] hfluz opened #5076 "Link and CommandLink: Add icon property"
I propose that the property `icon` be added to Link and CommandLink components.

If icon is set, `<i class="fa fa-[icon]"></i>` is inserted inside `<a>` tag.

I can make a PR with this change, I just would like to know if it could be accepted or if there is any consideration.

[2019-08-18 11:57] melloware commented on #5076
Why not just do it like this: https://github.com/primefaces/primefaces/issues/3873

Another consideration would the icon be before or after the link?  I have a feeling PrimeTek will want to keep these pure links to match and HTML link.

So my vote would be -1

[2019-08-18 17:38] hfluz commented on #5076
The main reason is because I think the code gets cleaner.

Comparison:
[code]

[code]

I already have a fork of Primefaces with this and some other changes, but I want to avoid having to resolve conflicts after every release. So I'm trying to send upstream all the possible changes and create new components inheriting Primefaces ones if it can't be upstreamed.

In this case, I have developed my own

[2019-08-18 19:03] tandraschko commented on #5076
-0.5 as well

commandButton is different as it requires much more markup (compared to a default html button), a link is just a link

[2019-08-19 09:05] #5075 closed, assigned to nobody

[2019-08-19 11:02] melloware commented on #5076
@hfluz Instead of having a fork of PrimeFaces why not just make your own composite component that does this?  No need to fork and modify the code.

[2019-08-19 11:23] hfluz commented on #5076
Yes, it was a decision I made a few years ago without thinking too much about it (just being able to customize Primefaces for my own needs was quite interesting back then).

I already have a list of changes I made and I'm considering all the approaches I can choose for each of them. Thanks for the suggestion of the composite component for this issue, I'll consider it.

[2019-08-19 11:51] #5061 closed, assigned to melloware

[2019-08-19 13:33] hberton commented on #3925
up

[2019-08-19 13:41] tandraschko commented on #3925
@hberton feel free to implement it and provide a pull request.

[2019-08-19 14:33] hberton commented on #3925
@tandraschko

Hello, follow my suggestion

add in "components.css"

[code]

SelectCheckboxMenuRenderer.java

[code]
Example >
![image](https://user-images.githubusercontent.com/20052525/63274006-69975b80-c275-11e9-93c0-85bfb54d91a4.png)

[2019-08-19 16:51] melloware commented on #3925
Attached is a test case for proving the issue and the fix:
[pf-3925.zip](https://github.com/primefaces/primefaces/files/3516819/pf-3925.zip)

[2019-08-19 16:53] melloware commented on #3925
I tested your fix in many scenarios including with and without multiple and with and without a label and it works great!  I tweaked your CSS slightly so it looks correct in the box.

[2019-08-19 17:02] hberton commented on #3925
@melloware
thks!!!

I hope to contribute more in the future!

[2019-08-20 10:16] AhmetKoca opened #5080 "TabView:Tab: Adding form into tab prevents commandButtons executing"
1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? No , but works in 6.2
- Application server + version: Apache Tomcat 9.0.22
- Affected browsers: chrome , firefox. Not testet on other browsers.

2) Expected behavior
Being able to use <h:from> and <p:commandButton> s inside a <p:tab>
as in version 6.2
3) Actual behavior
The commandbuttons are not exe

[2019-08-20 11:05] melloware commented on #5076
@hfluz Thanks. I will close this ticket.  Thanks for your thoughtful input though!

[2019-08-20 11:05] #5076 closed, assigned to nobody

[2019-08-20 11:08] melloware commented on #5080
I am not positive but I don't think you can use Tabview this way since its an AJAX component.  The entire TabView must be wrapped in `<h:form>` so it can submit tab changes etc.   And of course you can't have an `<h:form>` inside and `<h:form>` as that is a violation of the HTML spec.

You said this worked in PF 6.2?

[2019-08-20 11:55] tandraschko commented on #5080
in generell melloware is right
- nested forms are not valid
- there SHOULD be a form around your tabView, it should however work without it. I removed the exception again before 7.0 final.

[2019-08-20 12:54] AhmetKoca commented on #5080
Sorry for insufficient information.
This page is included from another page in a <h:form> element.
So the <p:tabView> is indeed wrapped by <h:form>.

Yes it works well when i revert back to 6.2

[2019-08-20 12:59] AhmetKoca commented on #5080
I was unaware of that HTML spec.
Now I am using partial processing and partial update of <p:tab> instead of nested forms.
So problem seems solved.

[2019-08-20 13:00] #5080 closed, assigned to nobody

[2019-08-20 13:05] melloware commented on #5080
That is why it worked before. You had a form wrapping the TabView which was the only form that mattered.  Those inner forms were being ignored by JSF.  Thanks for closing.

[2019-08-20 14:10] melloware commented on #4940
I am going to close this ticket as PrimeTek uses Quill in PrimeNG, PrimeReact, and Primefaces so i doubt this will happen.

[2019-08-20 14:10] #4940 closed, assigned to nobody

[2019-08-21 11:10] #3925 closed, assigned to melloware

[2019-08-21 13:17] #4998 closed, assigned to nobody

[2019-08-22 07:37] pazepaze opened #5084 "IdleMonitor: support multiple on the same page"
# IdleMonitor: support multiple on the same page
When using multiple idle monitor tags, they influence each other. I needed to use separate idle timers on the same page with different timeout times.

I also made a pull request with my solution #5083. I developed this for primefaces 6.1 but rebased and adapted it to the current 7.1.SNAPSHOT master.

Note that the idle timer is from [https://github.

[2019-08-22 08:26] #5032 closed, assigned to nobody

[2019-08-22 09:12] Selaron opened #5085 "Spinner: attribute decimalPlaces not effective if the value is initially null."
## 1) Environment
- PrimeFaces version: 7.0, 7.1-SNAPSHOT and probably earlier

## 2) Expected behavior

When setting the decimalPlaces attribute to 3, I'd expect being able to input 3 decimal places into the spinner. This should not depend on the component initial value (the value received from ValueExpression when rendered)

## 3) Actual behavior
If the initial value is null, decimalPlaces="3" d

[2019-08-22 09:39] Selaron commented on #5085
Requiring an initial value to contain a dot might have been done in order to 'ensure' our value attribute is bound to a decimal typed property, not an Integer.

[2019-08-22 11:09] melloware commented on #5085
Couldn't we just make it...
[code]

Where even if decimalPlaces is undefined it will report FALSE.

[2019-08-23 10:53] #4414 closed, assigned to nobody

[2019-08-23 11:11] melloware commented on #4769
Closing issue as OP never responded.

[2019-08-23 11:11] #4769 closed, assigned to nobody

[2019-08-23 11:20] melloware opened #5086 "[Documentation] Add AJAX events"
Based on this Stack Overflow: https://stackoverflow.com/questions/57616538/what-are-the-possible-ajax-events-for-a-primefaces-inputtext

I think our docs pages should have an AJAX Events table for each component that simply has...

AJAX Events
**Default Event:** valueChange;
**Events:** [blur, change, valueChange, click, dblclick, focus, keydown, keypress, keyup, mousedown, mousemove, mouseout, mo

[2019-08-23 11:56] Rapster commented on #5086
Most of our components have this already, but indeed on a few (mainly JSF inherited components) few events are missing

[2019-08-23 13:34] melloware commented on #5085
Test case reproducer:
[pf-5085.zip](https://github.com/primefaces/primefaces/files/3534713/pf-5085.zip)

[2019-08-23 15:41] #5085 closed, assigned to melloware

[2019-08-24 11:55] melloware commented on #1185
Closing this issue for now.  Can always reopen for discussion if someone feels strongly about it in the future.

[2019-08-24 11:55] #1185 closed, assigned to nobody

[2019-08-24 12:07] melloware commented on #10
Now that the DataExporter refactoring has been completed thanks to @ravihariharan  this ticket is now possible to implement  if someone wants to submit a PR.

[2019-08-24 12:15] melloware commented on #277
To me this is a a very strange and non standard UI option for this component and no upvotes in 4 years I am going to close it.  This is achieved simply with a composite component or by simply adding a checkbox to your screen to Select All in the custom circumstances where you need it.

[2019-08-24 12:15] #277 closed, assigned to nobody

[2019-08-24 12:20] melloware commented on #227
I looked into this and using FontAwesome in the Dock would not be possible.  The JavaScript is manipulating images only for its effects.  Closing for now.

[2019-08-24 12:20] #227 closed, assigned to nobody

[2019-08-24 12:27] melloware commented on #475
Fixed in PF 6.2 by this ticket which added DecimalPlaces attribute. https://github.com/primefaces/primefaces/issues/2751

[2019-08-24 12:27] #475 closed, assigned to nobody

[2019-08-24 12:31] melloware commented on #937
This was fixed in 6.2.18 and 7.0 with this ticket: https://github.com/primefaces/primefaces/issues/4624

It now added "_clone" to each id.

[2019-08-24 12:31] #937 closed, assigned to nobody

[2019-08-24 12:35] melloware commented on #560
Closing this issue as it should be reported in the Legacy Themes issue page here: https://github.com/primefaces/themes/issues

I don't have permission to transfer this to that repository so I am closing it.

[2019-08-24 12:35] #560 closed, assigned to nobody

[2019-08-25 12:34] ReedElliott opened #5088 "SelectBooleanCheckbox: Not updating model when used with DataTable with editMode="cell""
## 1) Environment
- PrimeFaces version: 7.0.4
- Does it work on the newest released PrimeFaces version? Unknown
- Does it work on the newest sources in GitHub? Unknown
- Application server + version: GlassFish 5.1
- Affected browsers: Firefox

## 2) Expected behavior

Checking and unchecking the checkbox should update the model object bound to the widget.

The issue was described in issue https://

[2019-08-26 11:27] melloware commented on #5088
@ReedElliott Can you do me a favor and try this on your page?

Just add this javascript to your page which will override the Datatable Save Cell.  Let me know if this works and fixes the issue.

[code]

[2019-08-26 13:21] eversnarf opened #5089 "Tree: search does not show all matching nodes"
## 1) Environment
- PrimeFaces version: 7.0.7
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? Not tried
- Application server + version: Tomcat 8.5.20
- Affected browsers: Firefox, Chrome, Edge

## 2) Expected behavior
When using filtering on a `<p:tree>`, I expect the search to show all matching nodes, expanding all ancestor nodes to a m

[2019-08-26 13:23] eversnarf commented on #5089
Relates to #3866

[2019-08-26 13:34] melloware commented on #5089
Also relates to  https://github.com/primefaces/primefaces/issues/3926 ?

[2019-08-26 13:38] eversnarf commented on #5089
Not really. In my case, node selection is not in the picture.

[2019-08-26 13:51] melloware commented on #5089
Attached is a test case reproducer:
[pf-5089.zip](https://github.com/primefaces/primefaces/files/3541414/pf-5089.zip)

However I am not sure this is a bug.  I would like @Rapster input on this.  Because your TreeNode itself matches "Nut" it considers the whole node and all its children a match.
Example:
![image](https://user-images.githubusercontent.com/4399574/63695616-137f6680-c7e7-11e9-96fd-305

[2019-08-26 14:11] melloware commented on #5089
Just submitted a PR which expands the "Nut" node in your example test case.

[2019-08-26 14:39] melloware commented on #3926
Attached is a test case and screenshot showing the issue is fixed.

![image](https://user-images.githubusercontent.com/4399574/63698861-ba670100-c7ed-11e9-902f-59f3284d0dc3.png)

[pf-3926.zip](https://github.com/primefaces/primefaces/files/3541596/pf-3926.zip)

[2019-08-26 16:49] parveen-github opened #5091 "JSF form submit with confirmation(Yes/No) including form validations"
Hi, I need an help in generating a conditional overlaypanel,

** My task is to submit a jsf form with some required fields with a confirmation box having yes and no button, and confirmation box should come when all required fileds filled **

I have two boxes as on clicking over clicking on save button I check that these two boxes have values or not, and return true or false .
Now I have to show ov

[2019-08-26 17:06] Rapster commented on #5091
Questions -> Forum

[2019-08-26 17:06] #5091 closed, assigned to nobody

[2019-08-26 17:15] ReedElliott commented on #5088
@melloware
After removing the ajax call from my checkbox and adding your script above, I was able to change and save the checkbox state, so your script appears to work.   Unfortunately, after adding the script, I noticed an unwanted post from the client to the server when I selected a new row on my table.

[2019-08-26 17:33] melloware commented on #5088
@ReedElliott is that unwanted post related to my fix?  Can you revert and do you see the unwanted post?  When you debug the unwanted Post in the F12 network browser you should see its origin for example who is generating that post and what "event" caused it.

I also just updated my script slightly above to use "!==" instead of "!=" can you try again?

[2019-08-26 20:57] ReedElliott commented on #5088
@melloware
The POST does seem to be related to your script.   My current working code has a p:ajax tag embedded in my checkbox.  Using this code, I see a POST when I change the state of the checkbox and the post is related to the selected checkbox.

If I remove the p:ajax from my checkbox, I do not get any POSTs when changing the state of the table's checkboxes, but the checkbox state does not dis

[2019-08-26 21:13] melloware commented on #5088
Can you do a Celledit with just a simple PrimeFaces Inputtext and change the value of the text?  I bet you see the same POST with our without my code.  Because the datatable has this code...

[code]

Which looks like it send the POST data of the CellEdit whenever the Cell Edit changes.  So it looks like that is how the CellEdit changes get propagated to the server side.

[2019-08-26 22:28] ReedElliott commented on #5088
You're correct.  If I change the value of a text box and exit the checkbox, I see similar looking post to the one I reported seeing after adding your code.   If I enter invalid data in the text box such as a null value in a field that doesn't accept nulls, p:messages displays an error.   I remember struggling with these validation POST in cell edit dataTables in the past because they send the enti

[2019-08-27 07:29] tandraschko opened #5093 "PrimeFaces.current().ajax().update() does not support @widgetVar"

[2019-08-27 07:41] #5093 closed, assigned to nobody

[2019-08-27 09:09] NicolaIsotta opened #5094 "DataTable: stickyHeader breaks after sidebar collapse"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: all
- Affected browsers: Chrome, Edge, Firefox

## 2) Expected behavior
Sticky header adapts to the sidebar collapsing

## 3) Actual behavior
Sticky header doesn't adapt:
![sticky](http

[2019-08-27 09:25] NicolaIsotta commented on #5094
I discovered the issue while testing the Apollo layout, so I don't know if this is the right place to report it.

[2019-08-27 11:20] melloware commented on #5088
So the way CellEditing works is when the CellEdit is change it does a FORM POST to basically fill out your backing bean with the value that was just changed.    The checkbox not submitting was definitely a bug because in the code directly above it they were handling checkboxes in "RowEdit" mode just not in CellEdit mode.

So I am going to fix this bug.  However, if your real goal is you only want

[2019-08-27 11:39] melloware commented on #1854
PR submitted to fix this issue. I don't have permission to reopen it.  https://github.com/primefaces/primefaces/pull/5095

[2019-08-27 11:44] melloware commented on #5084
Ticket submitted to IdleTimer core JS project: https://github.com/thorst/jquery-idletimer/issues/53

[2019-08-27 14:45] dgusoft commented on #5064
Is there any possibility to test your changes? What would I have to download where?

[2019-08-27 15:05] melloware commented on #5064
If you are good at Git you chould checkout master and then merge this commit set PR into your branch: https://github.com/melloware/primefaces/commit/5ec5fb7a01c6de85f83ca642a6dcd0d2a5bb47de

[2019-08-27 20:46] iancesar commented on #3627
Same bug here, any update?

[2019-08-28 14:46] jepsar opened #5096 "CommandButton renderer doesn't include confirmation script if onclick attribute is set"

[2019-08-28 14:47] #5096 closed, assigned to nobody

[2019-08-29 08:19] Selaron opened #5099 "The mindate/maxdate not working with timeOnly mode on DatePicker and Calendar"
## 1) Environment
- PrimeFaces version: **7.0**
- Does it work on the newest released PrimeFaces version? **No** (7.0)
- Does it work on the newest sources in GitHub? **No**
- Application server + version: **Apache Tomcat 9**
- Affected browsers: **Any**

## 2) Expected behavior

If I set an instance of java.util.Date for the maxdate attribute with time e.g. 19:00, datePicker should limit time sel

[2019-08-29 08:27] liptga commented on #1039
@LuleJayjay which evening? Your PR would be appreciated by me as well :)

[2019-08-29 10:25] hfatgit opened #5100 "dataGrid: paginator not working correctly"
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/3555040/primefaces-test.zip)
![2019-08-29 10_19_19-OTCM - OTCM](https://user-images.githubusercontent.com/6489931/63932302-357f2000-ca57-11e9-8cc2-2fed2485f6e8.png)

### dataGrid: paginator not working correctly

## 1) Environment
- PrimeFaces version: 7.0
- Application server + version: Tomcat 8.5 on Linux & Windows
- Affected b

[2019-08-29 11:19] #5088 closed, assigned to nobody

[2019-08-29 11:20] melloware commented on #5099
@Selaron have you been able to debug the JS at all?

[2019-08-29 11:29] melloware commented on #5100
You want it to look like this right?
![image](https://user-images.githubusercontent.com/4399574/63936771-b37b0100-ca2e-11e9-8b66-2856c0bfea17.png)

[2019-08-29 12:13] hfatgit commented on #5100
Either looking like this or get the extra items functional. The more "correct" way would be your suggestion.

[2019-08-29 12:23] melloware commented on #5100
OK PR submitted with the fix.

[2019-08-29 12:34] NoNamesfriend commented on #4546
Are there some updates?
That's something really important for my use case.
Thank´s a lot 😀

[2019-08-29 12:45] melloware commented on #4546
Most likely you will have to either...
1. Submit a PR with the fix if you want to add the functionality yourself.
2. Sponsor it via PrimeFaces Case: https://www.primefaces.org/support/  See the "Case" section.

[2019-08-29 12:46] tandraschko commented on #4546
Feel free to sponsor it via PrimeFaces PRO if its important or implement it and provide a PR

[2019-08-29 14:51] jasonex7 commented on #3245
What should be the strategy to migrate to vis.js? Create a new component based on vis.js or update existing timeline component to use vis.js?

[2019-08-29 15:11] melloware commented on #3245
I would prefer to upgrade the current component to vis.js to make the upgrade for users as seamless as possible.

[2019-08-30 08:39] eversnarf commented on #5089
Issue is that I expect the node to be expanded if and only if one or more of its descendants matches the search.
So, in my example, I expect the `Nut` node to be expanded because its child node `Hazelnut` is also a match.

[2019-08-30 11:40] melloware commented on #5089
OK so with my fix I added a new branch "Pine Nut" that has Nut in the node name but not in any of the leaves and it also expands.  See this screenshot.
![image](https://user-images.githubusercontent.com/4399574/64018063-5730e380-caf9-11e9-9402-8336253a08e0.png)

It expands your node for "Hazlenut" though also. Can you confirm this is what you want?

[2019-08-30 11:45] #5100 closed, assigned to melloware

[2019-08-30 13:24] eversnarf commented on #5089
Ideally, in my case, it should not expand `Pine nut`. My feeling is that, as a user, I expect that all matching nodes are directly visible (what your fix does) but not to see the children of a node if none of them is a match.

[2019-08-30 14:28] jasonex7 commented on #3245
I've revised current vis.js [documentation](https://visjs.github.io/vis-timeline/docs/timeline/) and how to migrate current `<p:timeline>` to vis.js and see, until now, one main difference: in vis.js the events (or items) are identified by a new field called `id` and not by positional `index` as current timeline.js is. So I think a new field called `id` must be created in primefaces class `Timelin

[2019-08-30 14:39] melloware commented on #3245
Couldn't we just use the "Index" field in the current event but just map it to the new "ID" field i nthe vis.js?   Basically its what makes a timeline even unique right?

[2019-08-30 15:26] melloware commented on #5089
Hmm that makes it more difficult because in my mind Pine Nut **is** a match.  The parent node has the word "Nut" it in even though its children do not is a match.  And there is no way to know a parent doesn't have any children that match without walking the set of nodes a second time which doesn't seem very efficient.

Unless you come up with something more clever I think a matching parent node na

[2019-08-30 15:41] jasonex7 commented on #3245
That would be a good option, having Primefaces work by positional index and when rendered the list of `TimelineEvent` instances then map positional index to id property. There are more subtle differences like more fine grained control over editable property of an item (editable.remove, editable.updateTime, editable.updateGroup) but I think that wouldn't be a major problem.

Another major differenc

[2019-08-30 17:41] melloware commented on #3245
There is also TimeLine-Plus which is a fork of 4.21: https://github.com/yotamberk/timeline-plus

And it looks like that developer has now taking over the 5.x branch of vis.js and will be incorporating his changes in v6: https://github.com/visjs/vis-timeline/issues/56

[2019-08-30 18:01] ravihariharan opened #5102 "DataExporter: Enhance DataExporter to support Other Data Components"
Ignore - Incorrect Defect

[2019-08-30 18:06] #5102 closed, assigned to nobody

[2019-08-30 19:21] melloware commented on #688
PR submitted.

By default the behavior is not changing as it defaults to refocusing the paginator as it always has.  This just creates a widget method to give downstream users the ability to turn off refocus with...

[code]

[2019-08-30 19:40] melloware commented on #1793
I am going to close this ticket as you can already do this.  For example to override the "onclick" method of the paginator firstLink for example....

[code]

That will override firstLink click and display and Alert instead of performing the default code.

[2019-08-30 19:40] #1793 closed, assigned to nobody

[2019-08-30 20:07] melloware commented on #153
OnStart and Onstop were added in #3538 but just submitted a PR to add onDrag.

[2019-08-30 20:20] melloware commented on #404
Has anyone tested this with the latest PrimeFaces 7.0 or 7.1-SNAPSHOT to see if its still an issue?

[2019-08-30 20:27] melloware commented on #1143
This is intentional:
https://github.com/primefaces/primefaces/blob/2e846f7d4d2e6e0d94d4db6978f70a7326071ae1/src/main/java/org/primefaces/component/selectonemenu/SelectOneMenuRenderer.java#L186

Closing.

[2019-08-30 20:27] #1143 closed, assigned to nobody

[2019-08-30 20:38] melloware commented on #1260
Yes for IE11 no need to use p:watermark simply use placeholder like..
[code]
Tested and working fine.  Closing as WontFix.

[2019-08-30 20:38] #1260 closed, assigned to nobody

[2019-09-01 07:12] mojoaxel commented on #3245
Hi, I'm one of the visjs maintainer.

I would recommend using our up-to-date timeline library [vis-timeline](https://github.com/visjs/vis-timeline) after the upcoming v6 release. We have come a long long way sind the chaps library and we are not longer fully compatible. But now is a good time to change because the timeline is now

Our repository includes all features of the [timeline-plus](https:/

[2019-09-01 16:24] hfluz commented on #4863
One of my users reported this issue recently. It seems there not much I can do in my application, since some users don't even understand about file extensions and that sometimes their files don't have one. I didn't find a way to better handle the exception, it would be nice if it could at least return a validation message.

I thought about trying to write a PR, but I as it was already mentioned, t

[2019-09-02 03:06] eduarddrenth commented on #4109
Long ago this one, this is still an issue and I still have a solution for it working nicely in several production apps.

[2019-09-02 04:33] jasonex7 commented on #3245
Hi @mojoaxel. It's great that you joined this thread. Do you have any estimation about when v6 release is going out?

I'm analyzing and I'm doing some coding related to migration of the Primefaces timeline component to visjs v5.1 right now, do you think existing code that is working with v5.1 will be compatible with v6? Or do you recommend not to invest efforts until v6 goes out?

[2019-09-02 08:13] mertsincan opened #5105 "Add validateMask attribute to InputMask"
Defines whether mask pattern would be validated or not on the server side.

validateMask="true|false(default)"

[2019-09-02 08:15] #5105 closed, assigned to mertsincan

[2019-09-02 08:16] mertsincan commented on #3234
Added validateMask="true|false(default)" attribute. https://github.com/primefaces/primefaces/issues/5105

[2019-09-02 08:54] mojoaxel commented on #3245
Not sure but I would guess within a few days from now.

The v6 includes a ton load of new features and bugfixes from the [timeline-plus](https://github.com/yotamberk/timeline-plus) fork. I would wait a few more days for the integration but v6 is propably 95% compatible to the current v5.1 release.

[2019-09-02 09:00] mertsincan commented on #3108
I think users can use monitorKey option for this issue. Please see;
[code]

[2019-09-02 09:19] iamsiddiquek opened #5106 "Poll: listener called according to number of pages are opened"
## 1) Environment
- PrimeFaces version: 6.2 and 7.1
- Does it work on the newest released PrimeFaces version ?
No with the current version which is deployed on-site also has this issue.
 Version? :   7.1
- Application server + version: Wild-fly 8.2
- Affected browsers: Chrome Version 76.0.3809.132 (Official Build) (64-bit)

## 2) Expected behaviour:

p:poll should wait and call only once after the

[2019-09-02 09:29] tandraschko commented on #5106
So you are looking for a poll, which interval synchronizes for all open tabs for the same view?

[2019-09-02 09:37] tandraschko commented on #5106
I don't know your usecase but poll is currently by design and a multiWindowSupport is hard to implement. It will likely be a won't fix.

Can you post your usecase?

[2019-09-02 10:01] VsevolodGolovanov commented on #3108
Users can work around the bug with a hack that relies on undocumented implementation details? I guess so...

[2019-09-02 11:13] tandraschko commented on #3108
@mertsincan this is not directly related to the issue
@VsevolodGolovanov  instead of write critism, why not just try to analyse the problem and provide a possible solution / PR?

[2019-09-02 11:25] VsevolodGolovanov commented on #3108
Reporting issues is contributing too. I've analyzed it quite a bit in the initial report already.

[2019-09-02 12:30] melloware commented on #5105
@mertsincan shouldn't TRUE be the default to be more secure by default and let the user opt-out of security if they want to?

[2019-09-02 12:33] tandraschko commented on #5105
+1, yep

[2019-09-02 12:34] #153 closed, assigned to melloware

[2019-09-02 12:35] tandraschko commented on #3108
Sure it is but code contributions are really welcome. Compared to the open issues, we are to few maintainers.

[2019-09-02 12:52] melloware commented on #4863
I think we should throw an exception.  i know its used in a few place but if a file name is not valid we should let end users know.

[2019-09-02 12:54] melloware commented on #3245
Thumbs up all around guys.  @jasonex7 much appreciated that you are working on the PR! and @mojoaxel appreciate all your great work keeping the Timeline alive, its a great component.

[2019-09-02 12:57] stolp commented on #4863
I think you got this the wrong way.

There is absolutely no reason to not accept a filename without an extension for upload. It is perfectly valid, and especially common on Unix systems (README, Makefile etc.).

So I think an throwing an exception is the completely wrong solution here.

[2019-09-02 13:01] tandraschko commented on #4863
@stolp  +1

[2019-09-02 13:02] melloware commented on #4863
@stolp there are two different issues here.

1. The fact that the FileUpload validator silently eats exception when a file name is bad is a bad user experience.

2. Correcting the ability to allow an extensionless file.

I think both issues need to be fixed.

[2019-09-02 13:05] melloware commented on #4863
Sorry as these 2 issues are related: https://github.com/primefaces/primefaces/issues/4843

[2019-09-02 13:17] stolp commented on #4863
@melloware I agree, the way exceptions are thrown and handled here is broken. Sorry for misunderstanding you here.

But in case of the issue here, the FacesExceptions thrown in getValidFilename should be omitted (as in the case of the empty extension) or at least be catched properly elsewhere in the component code (for the other cases present there).

[2019-09-02 13:18] mertsincan commented on #5105
I need to talk to the PRO User again. He says that the application was not running when the user switched from 6.2 to 7.0.

I don't think that most users who are currently migrating applications from version 6.2 to 7.0 are aware that they have lost this feature. We should specify them in the documentation.

(I'm not sure if the priority is to protect existing applications or to change applications

[2019-09-02 15:08] melloware commented on #4863
Yep I am going to attempt to fix both issues.

[2019-09-02 15:42] eversnarf commented on #5089
Let me see if I can propose something.

[2019-09-03 06:19] iamsiddiquek commented on #5106
I had a requirement to block a user for some period of time and show it into the main page how much time is remaining and after a certain time unblock a user and for this feature, I used the Poll.
and there was no feature synchronizes interval value.
I was opening multiple duplicates pages and according to a number of pages, the p:poll was listener called on that listener was

means it was deletin

[2019-09-03 08:37] mertsincan commented on #3108
Hi,

What do you think about the following fix?
[code]

[code]

If we use viewId, it is the same for http://127.0.0.1:8080/reproducer/view/index.xhtml and http://127.0.0.1:8080/reproducer/ -> /reproducer/view
But when you want to get cookie value using $.cookie('...') on http://127.0.0.1:8080/reproducer/,
you will not have access to it.

[2019-09-03 11:12] Selaron commented on #5099
In the uncompressed version of JQuery 3.4.1 (https://code.jquery.com/jquery-3.4.1.slim.min.map) it happens in line 10154 where jQuery.fx is undefinied:

[code]

The exception log looks like this:

[code]

[2019-09-03 11:15] tandraschko commented on #3108
yep, root path would fix it but we should at least use the context-path here to not share it with other webapps
Another problem would be if you use the monitor in multiple pages
so maybe we should generate a "monitorKey" per default somehow

[2019-09-03 11:15] melloware commented on #5099
Is it this: https://forum.jquery.com/topic/jquery-fx-is-undefined

[2019-09-03 11:49] melloware commented on #4843
OK I figured this out.  So if you have a file name like "test.JPG" with a capital extension the UI is checking this...
https://github.com/primefaces/primefaces/blob/663f06f4ea3c6049ef279982549883830af11cfb/src/main/resources/META-INF/resources/primefaces/fileupload/2-fileupload.js#L446

Its check the file type "image/jpeg" or the file name "test.JPG" matches the allowTypes regex.  Since the file t

[2019-09-03 11:54] Selaron commented on #5099
Ok my previous post is invalid - I picked up the wrong JQuery script with no FX. It's not even required to get the uncompressed JQuery but just make Firefox dev tools stop on handled JS exceptions.

The error is thrown from line 733 in datepicker.js:

[code]

While:

[code]

[2019-09-03 11:54] tandraschko commented on #4843
+1 for 2)

[2019-09-03 12:31] melloware commented on #4843
Agree with #2 submitted a PR and updated unit tests.

[2019-09-03 13:51] #5004 closed, assigned to nobody

[2019-09-03 14:55] melloware commented on #5004
I use this JS function to fix my frozen column rendering.

[code]

[2019-09-03 16:12] eversnarf commented on #5089
In my opinion, the issue with the solution in your PR is that it not only expands the matching node but also all its descendants.
Imagine that we have a three-level tree with 10 children for each node and we do a _lenient_ (non-strict) search. Then, even if the matching node is at the root level, we display 100 nodes below it - even if none of them actually matches the filter. I think that this is

[2019-09-03 16:44] melloware commented on #5089
Absolutely please submit a PR for review.

[2019-09-04 08:09] eversnarf commented on #5089
PR created: [#5109](https://github.com/primefaces/primefaces/pull/5109)

[2019-09-04 09:34] Selaron opened #5110 "KeyFilter: regEx and mask filter not fully functional on FireFox"
## 1) Environment
- PrimeFaces version: **7.0**
- Does it work on the newest released PrimeFaces version? **No: 7.0**
- Does it work on the newest sources in GitHub? **No**
- Application server + version: **Apache Tomcat**
- Affected browsers: **FireFox**

This came up on stack overflow asked by Pablo Aleman: https://stackoverflow.com/questions/57779345/keyfilter-in-primefaces-with-regexp-allow

#

[2019-09-04 11:42] melloware commented on #5110
OK I detailed the reasons here: https://github.com/akzhan/jquery-keyfilter/issues/16

I fixed it and tested it in Firefox, IE, Chrome, Edge with no issues.  Basically for old Jquery it was doing a lot of Mozilla specific stuff that does not need to be done now with the latest Jquery and onKeyPress.

[2019-09-04 14:01] dugenci commented on #12
It would be very great if this option is supported but still seems that issue has low priority after all these years.

[2019-09-04 14:03] tandraschko commented on #12
Yup
But if you would like to see it, you can still sponsor it via PrimeFaces PRO or develop it by yourself and provide a PR ;)

[2019-09-04 19:47] #4219 closed, assigned to nobody

[2019-09-04 20:15] melloware commented on #2193
@jasonex7 Can you add RTL to the new timeline in your PR.  Looks like its an option in vis.js!

https://visjs.github.io/vis-timeline/docs/timeline/#Configuration_Options

You can look at InputText as an example you have to implement "RTLAware" interface etc.

[2019-09-04 20:18] melloware commented on #3712
Going to close this as we will not fix the IFRAME issue with timeline as @tandraschko stated.

[2019-09-04 20:18] #3712 closed, assigned to nobody

[2019-09-04 21:42] jasonex7 commented on #2193
OK, I've just committed that new property. You can check.

[2019-09-05 09:29] #5084 closed, assigned to nobody

[2019-09-05 09:41] tandraschko commented on #3378
would anyone like to provide a PR?

[2019-09-05 11:13] melloware commented on #2193
Nice work!  Change looks good for RTL.

[2019-09-05 11:19] #5053 closed, assigned to nobody

[2019-09-05 11:55] wlhUser commented on #5004
Thanks melloware, for the JS function.
Although I used in the meantime the approach to fix the row heights, like described in #1155, I will try your approach as well.

[2019-09-05 11:59] tandraschko commented on #4919
@melloware @Eehol i think i need to revert this one
if you have a simple case:

p:outputLabel for=@next value=blub
p:selectOneMenu

and a value is already asigned the to p:selectOneMenu, "blub" is displayed instead of the real value

[2019-09-05 12:00] #5089 closed, assigned to nobody

[2019-09-05 12:03] melloware commented on #4919
OK feel free to revert.

[2019-09-05 12:11] tandraschko commented on #4919
I think we would need a option, to enable this behavior
maybe something like: alwaysDisplayLabel=true|false? false per default

JFYI:
label is automatically set when you attach a p:outputLabel to a input

[2019-09-05 12:12] tandraschko commented on #4919
If thats ok for you, i would be a happy to apply a PR again, which considers this option
and also a docu update of course

[2019-09-05 13:17] melloware commented on #3378
I can work on this.

[2019-09-05 13:41] #3378 closed, assigned to tandraschko, melloware

[2019-09-05 19:15] melloware commented on #1784
OK this was fixed a while ago with this code when a dialog is displayed:
https://github.com/primefaces/primefaces/blob/bd4aebfa39c0ce7c9f16f069c52a4b4e105b0ab1/src/main/resources/META-INF/resources/primefaces/dialog/dialog.js#L226-L231

That will try and focus the first input element on your dialog that is not a button.  HOWEVER, if your dialog has no input components there is nothing to focus.  S

[2019-09-06 06:50] goraSi opened #5117 "TreeTable/Datatable: Dynamic Columns Issue"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) NO
- Application server + version: ALL
- Affected browsers: ALL

## 2) Expected behavior

## 3) Actual behavior
[code]

## 4) Steps to reproduce
Press

[2019-09-06 07:13] tandraschko commented on #5117
Bean missing -> invalid

[2019-09-06 07:38] mertsincan opened #5118 "Timeline throws null pointer exception when using "select" and "add" ajax event"
if users select that event after adding a new event, the timeline throws an exception.

Test code;
[code]

[2019-09-06 07:39] #5118 closed, assigned to mertsincan

[2019-09-06 11:24] nokiajavi opened #5119 "Client Side Validation: skip values to false of sumary and detail attributes of growl component"
1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? No Version? 7.0
- Does it work on the newest sources in GitHub? NO - 7.1-SNAPSHOT (build)
- Application server + version: Apache Tomcat 9.5, JSF 2.3 (Mojarra 2.3.2)
- Affected browsers: ALL

## 2) Expected behavior
When validating the input with Client Side Validation, the growl component should only

[2019-09-06 11:39] melloware commented on #4741
@mdzaebel I just submitted a fix for this.  if you would like to try it locally you can add this JS to your page.

[code]

[2019-09-06 13:06] melloware commented on #4109
I am with @tandraschko on this. It feels wrong to include this with Primefaces.

However maybe we can put it in Primefaces Extensions if you want?

And since its optional and will only be turned on if someone includes it in their faces-config.xml it should be fine to include.

[2019-09-06 13:14] #4109 closed, assigned to nobody

[2019-09-06 14:44] NicolaIsotta opened #5122 "SelectOneMenu: renderd attibute of columns is ignored"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: Tomcat 8.5
- Affected browsers: all

## 2) Expected behavior
Columns with `rendered="false"` are not rendered

## 3

[2019-09-06 14:55] NicolaIsotta commented on #5122
I just noticed this is a duplicate of #5075 and was already fixed.

[2019-09-06 14:55] #5122 closed, assigned to nobody

[2019-09-06 15:05] jasonex7 commented on #5118
Is the method `#{customTimelineView.onAddEvent}` adding the new `TimelineEvent` to `TimelineModel`? Because when the backing bean method is fired, the timeline javascript event is already added on UI so you have to add the new TimelineEvent to the TimelineModel object to keep sync. If you want to cancel the add in UI then you have to call `cancelAdd();` javascript method in `onstart` property of <

[2019-09-06 20:09] melloware commented on #3863
Still happening in Edge 18362 which is the latest version in the latest Windows 10 patch.

[2019-09-06 20:43] melloware commented on #3585
PR will allow you to set the Font to any installed font you have for example to set to "Courier"...

[code]

[2019-09-06 20:44] melloware commented on #2363
PR will allow you to set the Font to any installed font you have for example to set to "Courier"...

[code]

[2019-09-07 12:38] melloware commented on #688
Since you can override updatePageLinks PrimeTek has recommended to close this ticket.

[2019-09-07 12:38] #688 closed, assigned to nobody

[2019-09-07 18:44] wklaczynski opened #5126 "MenuBar: Wrap if there is a separator in the menu"
**When you use the separator in a menu, then the menu is wrapping.**

## 1) Environment
- PrimeFaces version: 7.0
- Affected browsers: Firefox

## 2) Sample XHTML

                <p:menubar>
                    <p:menuitem
                        value="Main"
                        icon="fa fa-home"
                        url="/app/faces/main.xhtml"/>
                    <p:separator/>

[2019-09-08 11:19] melloware commented on #5126
Can you please add the following information.

1. What theme are you using?

2. Can you post screenshots of before your fix and after your fix?

[2019-09-08 11:59] melloware commented on #1784
I think it may also be related that this dialog framework dialog opens in an IFrame.  May have to do something special according to these: https://stackoverflow.com/questions/369026/setting-focus-to-iframe-contents

[2019-09-08 14:16] wklaczynski commented on #5126
I basically use the "delta" theme. But I can switch to others theme.

            <p:menubar>
                <p:menuitem
                    value="Informacje"
                    icon="fa fa-user"
                    url="/app/faces/main.xhtml"/>
                ........
                <p:separator/>
                <p:menuitem
                    value="Organizacje"
                    icon="f

[2019-09-08 14:25] wklaczynski commented on #5126
Additional style code also improves the use of vertical separators. This makes it possible to use the separator when the display is flex.

                        <h:panelGroup layout="block" style="display:flex;">
                            <p:button
                                href="....."
                                icon="fa fa-home"
                                />

[2019-09-08 14:49] melloware commented on #5126
Thanks! Assigning to @mertsincan to review since its CSS related.

[2019-09-08 15:18] melloware commented on #885
Closing issue for same reason as #467.

[2019-09-08 15:18] #885 closed, assigned to nobody

[2019-09-08 15:22] melloware commented on #1052
From that ticket:

[2019-09-08 19:17] #3144 closed, assigned to nobody

[2019-09-08 19:51] tandraschko commented on #5053
@Rapster ExportConfiguration produces warnings in the maven build
it's also a mix between pojo and builder
what about making it a normal POJO and create a Builder subclass?

[2019-09-08 20:10] Rapster commented on #5053
Yeah I forgot to put `private` keywords. It's not really a mix, it's a chain method pattern. I guess I could use a pattern builder, I just made it quick. I'll do that asap

[2019-09-08 21:51] mdzaebel commented on #4741
@melloware Thanks for the fix. It'll take some days, as I have to restore my project.

[2019-09-09 09:10] tandraschko opened #5128 "Introduce p:resolveComponent"
I have the following case where i attach a slider to inputNumber and i would like to mark the slider with a invalid style too if the inputNumber is invalid:

`<p:slider for=@next styleClass="#{p:resolveComponent('@next', component).isValid() ? '' : 'ui-state-error'}" />`
`<p:inputNumber ... />`

[2019-09-09 09:15] #5128 closed, assigned to nobody

[2019-09-09 11:30] tandraschko opened #5129 "Calendar/DatePicker out of range validation message not customizable enough"
Currently, if the input exceeds the range (mindate and maxdate), we add the following message:

1) We don't even pass the min/maxdate as param. So per default the message is not usefull.
2) If a user overwrites the messge, a user can not differ between exeeds max or mindate. Still, we don't have the params
3) A user can not even define a good validation message via attribute as the "validationMess

[2019-09-09 11:32] tandraschko commented on #5129
About 1) and 2)
We can simple pass params to the message, but even then, there might be only one attribute defined (min or max) and not both
So, how could a user use a global message, if some calendars only have mindate, others also have maxdate?

Is it a good solution to split this message into 2 messages?

@melloware @Rapster

[2019-09-09 11:38] tandraschko commented on #5129
@christophs78

[2019-09-09 12:15] #5119 closed, assigned to nobody

[2019-09-09 12:17] #146 closed, assigned to nobody

[2019-09-09 12:18] #2363 closed, assigned to nobody

[2019-09-09 12:19] #3585 closed, assigned to nobody

[2019-09-09 12:36] #1784 closed, assigned to nobody

[2019-09-09 12:37] melloware commented on #989
I can't reproduce this in the latest showcase 7.1.  Maybe its been fixed over the years by the Jquery upgrades we have done.

[2019-09-09 12:37] #989 closed, assigned to nobody

[2019-09-09 13:11] melloware commented on #5117
The error says TreeTable but the example above is using DataTable not TreeTable?  Or am I missing something?

[2019-09-09 13:14] goraSi commented on #5117
The error happens in both cases. The problem lies in "columnToggler" which triggers method.

[2019-09-09 13:19] christophs78 commented on #5129
3 messages?
1. Date must be between X and Y
2. Date must be X or later
3. Date must be Y or before

Plan B (or C?) would be to prevent the user on the client side from typing/selecting a date that is not allowed. (Yes we have to check this one the server side too, but maybe the message is not that important any more.)

[2019-09-09 13:27] tandraschko commented on #5129
3 sounds actually good
1) if min and max is defined
2) else-if min is defined
3) else-if max is defined

[2019-09-09 13:31] melloware commented on #5117
OK so I just tested ColumnToggler with datatable with your exact scenario above and it works fine?

So can you please provide and example that actually works?  According to the PrimeFaces Showcase they don't have an example using TreeTable + ColumnToggler?

[2019-09-09 13:59] melloware commented on #5117
I definitely think it is a bug I would just like a working example code to test with.

[2019-09-09 14:10] goraSi commented on #5117
I have updated XHTML and bean.

[2019-09-09 14:27] melloware commented on #5117
Thank you!  Attached is test case proving the issue:
[pf-5117.zip](https://github.com/primefaces/primefaces/files/3591001/pf-5117.zip)

[2019-09-09 16:35] melloware commented on #5117
OK I definitely don't understand how DynamicColumns work because I was able to get the error to stop by casting correctly but how to change the visibility of the Dynamic Columns I cannot figure out.

I changed the code to this...
[code]

But it only works if you change the last column to invisible but then it makes ALL your Dynamic columns invisible.  Need help from others on this one.

[2019-09-09 17:21] blutorange commented on #5027
So I finally had a bit of time to do some more work on this. There's still a lot more work to be done, but I think it's enough that we can start incorporating it into PrimeFaces and add more documentation later.

* I set up the `pom.xml` so that the `PrimeFaces.d.ts` file and the typedocs are generated directly to the `docs` folder. This way, you can view the docs online just like the normal user

[2019-09-09 19:33] melloware commented on #5086
If you guys don't mind reviewing I submitted a PR of what I was thinking and updated InputText, InputTextArea, InputNumber, and SelectOne since they didn't have any details.

[2019-09-09 19:40] tandraschko commented on #5086
+1 for submitting this for simple html events
for custom events, like datatable, we should leave the table structure with type + description

[2019-09-09 19:41] melloware commented on #5086
@tandraschko Absoutely.  The ones that have real documentaton or custom events we definitely leave in table form.  This is perfect for just generating for ones that have nothing or default components.

[2019-09-09 20:15] melloware commented on #5059
@Rapster So what are we doing about this? If nothing we should close it.

If we are just updating JavaDoc headers to explain where the classes were copied from?

[2019-09-09 21:18] Rapster commented on #5059
Right now, let's not touch it. It's not an easy topic since these classes has been copied and modified (without knowing exactly what has been modified and from where...) Using latest impls fix most the cases but I managed to reproduce a bug using the above sample. I don't think it's only a matter of doc but also code. To be continued

[2019-09-09 23:04] sandsm opened #5131 "ChartJS: Implement linear, logarithmic and time series charts"
## 1) Environment
- PrimeFaces version: 7.0
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? Unsure
- Application server + version: Wildfly 17
- Affected browsers: All

## 2) Expected behavior
It would be nice to have access to linear logarithmic and time series charts in chartjs from PF.

## 3) Actual behavior
It seems category charts ar

[2019-09-09 23:28] melloware commented on #5131
Do you mind pointing out some examples from the charts js samples that currently can be done so I can investigate?

https://www.chartjs.org/samples/latest/

[2019-09-10 02:08] sandsm commented on #5131
Thanks for the quick reply @melloware.

I included a linear scale one I found on codepen here as the samples don't have an example of linear scaling.
https://codepen.io/thohoh/pen/aVoYLq

These time ones below are probably useful.
https://www.chartjs.org/samples/latest/scales/time/line.html
https://www.chartjs.org/samples/latest/scales/time/line-point-data.html
https://www.chartjs.org/samples/late

[2019-09-10 12:28] #5086 closed, assigned to melloware

[2019-09-10 12:35] melloware commented on #5131
So for your first one (linear scale) this is already fixed in 7.1 with this ticket: https://github.com/primefaces/primefaces/issues/4564

You will be able to do:
[code]

[2019-09-10 12:39] melloware commented on #5131
As for the logarithmic example (https://www.chartjs.org/samples/latest/scales/logarithmic/scatter.html) I believe that is also possible.

See: https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/model/charts/axes/cartesian/linear/CartesianLinearAxes.java

Just set the type `axes.setType("logarithmic");`

[2019-09-10 15:20] melloware commented on #5027
I like it.  So from looking at your maven pom this only gets generated when you specifically run the profile "-P type-declaration".  This is good so we aren't running this all the time only when you make script changes or theoretically run it one last time before a release.

Overall I am ok with all of it but @mertsincan should probably weigh in.

[2019-09-10 15:38] tandraschko commented on #5027
1) i generell all documented functions in the userguide has the be public (but some are probably not documented). With everything else i would start with private.
2) i'm fine with it
3) i'm fine with it
4) also +1 here, i just wonder if there would be a bit nicer way to document the cfg? Maybe as seperate type in e.g. the accordionpanel.js before the actual widget?

[2019-09-10 16:19] #4863 closed, assigned to nobody

[2019-09-10 16:20] #4843 closed, assigned to nobody

[2019-09-10 16:40] blutorange commented on #5027
* Profile: Yes, the profile `type-declaration` needs to be active. Should probably be mentioned in readme or somewhere
* Widget methods:
    * Yes, the documented methods need to be exposed.
    * For some method such as `bindEvents` etc. it's obvious they should be private. Though I feel like there are quite some useful methods missing from the user guide, for example [SelectOneListbox](https://p

[2019-09-10 16:44] melloware commented on #342
Looks like "startAtBottom" is added but only works if virtualScroll="true".  https://github.com/primefaces/primefaces/issues/4996

[2019-09-10 16:45] melloware commented on #4996
@mertsincan is this fix a duplicate of this ticket: https://github.com/primefaces/primefaces/issues/342 ?

I coduln't tell if your startAtBottom does what they wanted in the other ticket.

[2019-09-10 16:58] melloware commented on #894
You can do this with showRowEditors(row); method.
[code]

[2019-09-10 16:58] #894 closed, assigned to nobody

[2019-09-10 17:14] melloware commented on #1127
@kukel this sounds like its expected behavior is it safe to close this ticket?

[2019-09-10 18:59] melloware commented on #2514
PR: https://github.com/primefaces/primefaces/pull/5120

[2019-09-10 19:06] melloware commented on #822
Duplicate of https://github.com/primefaces/primefaces/issues/2667 so closing this ticket since the other one is more detailed on what events are missing besides just click.

[2019-09-10 19:06] #822 closed, assigned to nobody

[2019-09-10 19:39] melloware commented on #3242
Chose https://github.com/DoersGuild/jQuery.print because

1. It Jquery based so swapping out the old plugin was easy.
2. Its been updated for Jquery 3.X
3. I tested on Chrome, IE, Firefox, and Edge and all working as expected.
4. Small size and decent features.

[2019-09-10 19:44] melloware commented on #3667
Fixed with issue: https://github.com/primefaces/primefaces/issues/4950

[2019-09-10 19:44] #3667 closed, assigned to nobody

[2019-09-10 21:56] melloware commented on #933
@kazsakke Awesome work.  I just submitted a PR incorporating your suggestions and I was able to remove the !important stuff.

![image](https://user-images.githubusercontent.com/4399574/64653413-5ac74300-d3f4-11e9-97ae-c22bb9d0fb72.png)

[2019-09-11 05:48] sandsm commented on #5131
Thanks @melloware for the great service.

[2019-09-11 05:48] #5131 closed, assigned to nobody

[2019-09-11 07:42] tandraschko commented on #5027
I would really just introduce the cfg "class" without defaults:

[code]

[2019-09-11 08:06] pawankct91 opened #5135 "How can I download the primefaces 6.2.23 dependency. Since in the central maven repository, it show only 6.2"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2019-09-11 08:07] tandraschko commented on #5135
questions -> forum
you need to purchase primefaces elite

[2019-09-11 08:07] #5135 closed, assigned to nobody

[2019-09-11 10:29] mertsincan opened #5136 "PanelGrid: component causes invalid HTML in combination with p:selectOneRadio"
Reported By PRO User;

[2019-09-11 10:30] #5136 closed, assigned to mertsincan

[2019-09-11 11:12] #3242 closed, assigned to nobody

[2019-09-11 12:09] blutorange commented on #5027
I just added the defaults because it's not valid JavaScript otherwise (or rather, it's a shorthand object notation which tries to read the variables `active`, `cache` etc. and that results in an `Uncaught ReferenceError`).

A class with public fields would actually be valid JavaScript, but browser support is poor and I don't really like the idea of adding unused code just for documentation.

So in

[2019-09-11 12:24] melloware commented on #3787
I have needed this feature as well so PR submitted.

[2019-09-11 12:48] tandraschko commented on #5027
+1 for keep it as it is then

[2019-09-11 13:07] #3787 closed, assigned to melloware

[2019-09-11 13:13] #1602 closed, assigned to melloware

[2019-09-11 14:32] #52 closed, assigned to nobody

[2019-09-11 15:02] melloware commented on #1127
I am going to close as WontFix since this is the default HTML5 behavior for this component.

[2019-09-11 15:02] #1127 closed, assigned to nobody

[2019-09-11 15:07] melloware commented on #1086
This is as designed.  Your JS console will display "Geocode was not found" if google reports it as a failure. There is no data from google to then forward to the GeoCode event.

https://github.com/primefaces/primefaces/blob/92ac4a87a74766a1ae4c9c934a163deb18011f43/src/main/resources/META-INF/resources/primefaces/gmap/gmap.js#L133-L159

[2019-09-11 15:07] #1086 closed, assigned to nobody

[2019-09-11 15:26] melloware commented on #2692
Since this is really related to Bootstrap I am going to close this ticket as WontFix.

[2019-09-11 15:26] #2692 closed, assigned to nobody

[2019-09-11 19:07] melloware commented on #884
No answers from OP so closing until we get further information.

[2019-09-11 19:07] #884 closed, assigned to nobody

[2019-09-11 19:11] melloware commented on #740
No example or sample project or screenshots.  Ticket is 4 years old and this can be accomplished by CSS so closing ticket.

[2019-09-11 19:11] #740 closed, assigned to nobody

[2019-09-11 20:22] melloware commented on #3078
@ReedElliott  please review PR its based off your suggestion.

[2019-09-11 21:56] mores opened #5143 "Timeline: Support for multiple events with same data"
## 1) Environment
- PrimeFaces version: 7.0.7
- Does it work on the newest released PrimeFaces version? No Version? 7.0.7

## 2) Expected behavior
You should be able to move an event - the label on the event gets updated.

## 3) Actual behavior
The label on the event is changed - but a duplicate event is created.

## 4) Steps to reproduce
https://github.com/mores/primefaces-test/tree/timeline001-u