[2020-09-10 13:17] rider87 commented on #5326
@melloware , please find attached....
[pf-5326_new.zip](https://github.com/primefaces/primefaces/files/5201895/pf-5326_new.zip)

![image](https://user-images.githubusercontent.com/9787533/92734320-bb2af080-f378-11ea-870b-6feedf68d28f.png)

[2020-09-10 13:20] melloware commented on #5326
Thank for the reproducer let me debug!

[2020-09-10 13:41] melloware commented on #5326
@rider87 I fixed your code using PF 8.0.  See the code and give it a shot...
[pf-5326-fixed.zip](https://github.com/primefaces/primefaces/files/5202026/pf-5326-fixed.zip)

[2020-09-10 13:56] rider87 commented on #5326
Oh @melloware thank you so much. It´s working fine. Many many thanks!!!

[2020-09-10 13:58] melloware commented on #5326
No problem I discovered this note in the PrimeFaces code:
[code]

Which basically means if you are using `rowReorder` you have to handle manipulating the List yourself! Glad I could help.

[2020-09-10 14:04] stolp commented on #5326
So perhaps this should better read:

[code]
The initial sentence suggests to me that there is also a non-manual way to handle this. I am not a native speaker though.

[2020-09-10 14:10] melloware commented on #5326
agreed I updated my PR with this wording change.

[2020-09-10 17:58] christophs78 commented on #5465
Current UIData-code
[code]

By selecting another rows-per-page-amount the inital value is overwritten a) in state-helper or b) the bound value.

One solution would be to store the original value via StateHelper as eg rowsInitialValue and restore this as part of DataTable#reset.

[2020-09-10 18:01] melloware commented on #5465
Correct, I think you would have to store off the initial value to be able to reset it.

[2020-09-10 21:43] tuerker opened #6313 "Schedule: ajax behavior event for prev, next, today buttons"
With each click on the previous, next, or today i want to re-render the p:schedule component because in my use case for instance the minTime/maxTime may change over the different days.

I have seen that currently the following five ajax behavior event are supported:

dateSelect | org.primefaces.event.SelectEvent | When a date is selected.
eventSelect | org.primefaces.event.SelectEvent | When an ev

[2020-09-10 22:49] melloware commented on #6313
I think these 3 buttons prev, next, and today should fire the `viewChange` event since that is similar to how Calendar and DatePicker do it.  I will fix.

[2020-09-11 05:57] tuerker commented on #6313
@melloware: thanks. this will do the job.

[2020-09-11 10:45] tuerker commented on #6313
@melloware. while fixing this issue, could be please check generally the triggering of the viewChange event. It looks like that the viewChange event is fired when i click on the day and month buttons but not when clicking on the week button. Thanks in advance.

[2020-09-11 11:34] tuerker commented on #6313
@melloware: forget my last comment. the viewChange event is of course only fired when you switch between the different views (day/week/month) and not on each click.

[2020-09-11 11:41] melloware commented on #6313
OK so I fixed this for 9.0.  If you need this right now in your project just add this JS to your page...
[code]

[2020-09-11 14:35] tuerker commented on #6313
Many thanks again.

A quick question regarding the schedule component. I pulled the code from master of PF 9 and have seen that the schedule component must have changed seriously in the last weeks. With this code my schedule (see below) does not show the view buttons (day, week, month) anymore. Do i have to adapt something here?

    <h:panelGrid columnClasses="value">
        <p:schedule id="sche

[2020-09-11 14:40] melloware commented on #6313
PF 9 upgraded to FullCalendar 5.3.0 i would check out the Showcase from GitHub whcih is updated for 9.0 and all examples are working. Also check the 8.0-9.0 migration guide: https://github.com/primefaces/primefaces/wiki/Migration-Guide#80-to-90

[2020-09-11 14:42] tuerker commented on #6313
i will do. many thanks again.

[2020-09-11 15:27] DilyanaN opened #6315 "DatePicker: on-change listener not called after deletion of a date (IE)"
Deletion of a date in a datepicker field is not recognized as a change and the listener is not executed.
This issue occurs only in IE.

**Environment:**
 - PF Version: 8.0.3
 - JSF Version: 2.2
 - Application Server: payara Glassfish 4.1
 - Affected browsers: Internet Explorer

**To Reproduce**
Steps to reproduce the behavior:
1. Open the page in Internet Explorer.
2. Select or enter a date in the

[2020-09-11 15:44] melloware commented on #6315
@DilyanaN what version of IE you didn't specify?

@tandraschko are we still supporting IE issues?

[2020-09-11 15:49] tandraschko commented on #6315
maybe @cagataycivici could answer this question. I think we should support IE11 as the there is almost no overhead of supporting it.

[2020-09-11 15:52] melloware commented on #6315
OK attached is reproducer:
[pf-6315.zip](https://github.com/primefaces/primefaces/files/5210154/pf-6315.zip)

verified it does not work on PF 8.0 but is fixed in PF 9.0-SNAPSHOT

[2020-09-11 15:53] #6315 closed, assigned to nobody

[2020-09-11 16:47] melloware commented on #6315
I think it was fixed as part of this ticket: https://github.com/primefaces/primefaces/issues/6034

[2020-09-11 16:49] MatthiasScherrerFGCZ commented on #6313
Thanks for the quick fix!

[2020-09-12 07:11] jepsar opened #6317 "AutoComplete: add option to disable focus / set tabindex of dropdown button"

[2020-09-12 09:42] mertsincan commented on #6204
Fixed for 8.0.4.

Best Regards,

[2020-09-12 10:01] mertsincan commented on #2434
Hi,

Which theme are you using? It works fine with Nova and Luna. Please see;
<img width="393" alt="test" src="https://user-images.githubusercontent.com/11868120/92993027-8a24fa00-f4f7-11ea-8309-f49bdfb56060.png">

On the other theme, please use box-sizing: border-box;
[code]
Also, please check element's with;
- with box-sizing: border-box -> the width of all items is 300px;
- with box-sizing: con

[2020-09-12 11:28] melloware commented on #2434
@mertsincan we got rid of Aristo for 9.0 but this is the built in Omega:
![image](https://user-images.githubusercontent.com/4399574/92994565-68148300-f4c9-11ea-803a-608d097a55ff.png)

But you are right they are lined up in Nova Light:
![image](https://user-images.githubusercontent.com/4399574/92994584-96925e00-f4c9-11ea-9f46-3b86b9b49df5.png)

[2020-09-12 11:40] melloware commented on #6317
I believe this will actually fix: https://github.com/primefaces/primefaces/issues/1719

Because it will allow the user to set `dropdownTabindex="-1"` if they don't want it accessible too.

[2020-09-12 11:42] melloware commented on #1719
By adding `dropdownTabindex="-1"` in PF 9.0 you will be able to solve this by making the drop down button not tabbable.

[2020-09-12 11:52] melloware commented on #2434
Since I can't fix the Omega theme I will leave this up to @mertsincan and close the ticket.

[2020-09-12 11:52] #2434 closed, assigned to melloware

[2020-09-13 15:04] #6317 closed, assigned to jepsar

[2020-09-15 09:03] skybber opened #6319 "Slider: prevents enter "-" in associated <p:spinner> component"
1) Environment

PrimeFaces version: 8.0

2) Expected behavior

Allow enter of "-" in associated input if `minValue` is less then 0

3) Actual behavior

Slider prevents enter "-" in associated input.

probably skipped by this line:

https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/slider/slider.js#L127

4) Example XHTML

[code]

[2020-09-15 11:58] melloware commented on #6319
Reproducer proving the issue:
[pf-6319.zip](https://github.com/primefaces/primefaces/files/5224668/pf-6319.zip)

[2020-09-15 14:44] melloware commented on #6319
Thanks for reporting this will be fixed for 9.0 but if you need it right now just add this MonkeyPatch JS to your app.
[code]

[2020-09-15 16:19] melloware commented on #1442
Integration test added:
https://github.com/primefaces-extensions/primefaces-integration-tests/blob/b9de2d127c975c4bfcf5efe547a62aaf4dac352f/src/test/java/org/primefaces/extensions/integrationtests/datatable/DataTable007Test.java#L95-L136

[2020-09-15 17:55] melloware commented on #1442
as of PF 8.0 this is no longer an issue.  Not sure where along the lines it got fixed but the Integation test above proves its working.

[2020-09-15 17:55] #1442 closed, assigned to nobody

[2020-09-15 20:01] rider87 commented on #5326
As discussed in the forum:
[primefaces_datatable.zip](https://github.com/primefaces/primefaces/files/5228020/primefaces_datatable.zip)

[2020-09-16 10:03] abhishar03 commented on #4685
Is this Still open , same issues

[2020-09-16 11:38] melloware commented on #4685
@abhishar03 Yes this ticket is still open and has not been implemented yet.

[2020-09-16 11:53] #6238 closed, assigned to christophs78

[2020-09-16 12:08] #6319 closed, assigned to melloware

[2020-09-16 12:16] #6303 closed, assigned to melloware

[2020-09-16 12:22] #6301 closed, assigned to melloware

[2020-09-16 14:45] tandraschko opened #6321 "Column: currently only allow % and px as width"

[2020-09-16 14:48] tandraschko commented on #6321
@melloware please do a short review :D

[2020-09-16 14:48] #6321 closed, assigned to tandraschko

[2020-09-16 14:54] melloware commented on #6321
This looks great.  Only minor comment would be if the "px" and "%" were the first two checks in the OR list it would short circuit it faster because there is a high probably it is one of those two.  But probbaly not worth the microsecond performance gain :)

[2020-09-16 14:57] tandraschko commented on #6321
good hint, updated it ;D

[2020-09-16 15:14] ZiupeX opened #6322 "SelectManyMenu: Editable options"
It will be very useful when we could edit some value before we select some items from multislection list and send it to the backend bean.

For example I would select 3 items from set of  10 items but also edit some text inside the object. Then send it selection to the backend bean. I saw in SelectOneMenu there is something like editable attrubite which allow to edit selected value before send to s

[2020-09-16 15:36] #6313 closed, assigned to melloware

[2020-09-16 16:28] rider87 commented on #4446
Please let me know how this can be fixed... But when it´s simple, why can it not fixed in the PF core?
@melloware can you fix this maybe?

[2020-09-16 17:17] melloware commented on #4446
@rider87 this change was already backed out once because of a regression issue.  Not sure how "simple" this is to fix without tons of regression testing.

[2020-09-17 07:40] rider87 commented on #4446
So you want to say it will be NOT considered in PF9 ?
If not: is there a workaround available? This is for my project currently a huge bug.

[2020-09-17 09:50] hajekm opened #6325 "DataTable: add 'expanded' variable to p:headerRow"
It'll be more easy to work with expandableRowGroups if you can determine which rows should be expanded.

[2020-09-17 11:16] melloware commented on #4446
Th workaround is you can implement the original PR in your own overridden SelectOneRenderer and SelectOne.  See the fixes made here: https://github.com/Gaboros/primefaces/commit/ac5c8ba231f5938dbfe405ff15f90581bfb2982a

[2020-09-17 11:31] rider87 commented on #4446
ok, thank you...

1) Will this fix be available in PF9?
2) How can I override the SelectOneMenuRenderer class?
- I´m using the primefaces8.0.jar in my project.... How can I override that?

[2020-09-17 11:42] melloware commented on #4446
I don't work for PrimeTek or speak for PrimeTek so unless someone from the community fixes this bug or pays for this bug to be fixed through their PRO support I doubt it will be in 9.0.

Overriding default PF behavior is easy see: https://stackoverflow.com/questions/8179449/jsf-2-0-primefaces-renderer-override

[2020-09-17 12:13] ZiupeX commented on #6322
the problem could resolver the simple start support attribute 'selectRow' which currently is supported in DataTable

![image](https://user-images.githubusercontent.com/45762682/93468849-e7ea8500-f8ef-11ea-8dcc-3adfce963be3.png)

[2020-09-17 12:29] melloware commented on #6322
A quality PR providing the solution is welcome.

[2020-09-17 12:29] melloware commented on #6325
A quality PR providing the solution is welcome.

[2020-09-17 12:56] koan00 commented on #6221
I see this wasn't back-ported to the 8.0 branch and didn't make it into 8.0.4. Could it please be included into 8.0.5? @mertsincan

[2020-09-17 13:18] fanste commented on #4446
PR #6326 which implements [my second "possible fix" proposal](https://github.com/primefaces/primefaces/issues/4446#issuecomment-467015318)

Testcase: https://github.com/fanste/primefaces-test/tree/test-4446

[2020-09-17 13:30] rider87 commented on #4446
I don´t understand exactly... I thought this bug has been fixed already from @fanste ....
Who can decide that the fix will be pushed to the core?

[2020-09-17 13:39] melloware commented on #4446
@rider87 the original fix was from @Gaboros not from @fanste ???  See: https://github.com/Gaboros/primefaces/commit/ac5c8ba231f5938dbfe405ff15f90581bfb2982a

[2020-09-17 13:48] fanste commented on #4446
I started to implement the fix _after_ melloware posted his message. I was surprised how easy the solution came out.

But changes to the datatable component normally won't be merged that fast as it is quite a complex component. You (@rider87) could take my fixed branch, build PF yourself and give it a try. Report back if everything is working. Maybe @Gaboros is able to do this too. That may speed

[2020-09-17 13:49] melloware commented on #4446
And I noticed your are using rowIndex for tracking that doesn't get messed up with filtering the table does it?

[2020-09-17 13:53] fanste commented on #4446
Those events shouldn't be any problem, but maybe it would be even better to hook up with `tbody`-changing events (filter, sort, page, ...are there more events?) and rebuild the state for the latest `tbody`.

[2020-09-17 13:54] melloware commented on #4446
i would think those would be the big 3 to test filtering, sorting, paging.

[2020-09-17 14:36] fanste commented on #4446
Already found some errors, but not regarding events:

- The frozen column widget is totally bugged regarding row expansion
- Frozen rows are not recognized during row expansion JS event binding because of a different tbody

Those 3 events all use the `updateData` JS function which could be a good point to rebuild the expansion state to absolutly overcome any problems

[2020-09-17 15:34] melloware commented on #4446
Not sure Frozen columns was designed to work with Row Expansion so i wouldn't worry about that.  Not all features of the datatable were designed to be able to be used with all other features.

[2020-09-17 22:33] danielamorais opened #6327 "FileDownload: Safari Naming Issue"
**Describe the defect**
When the file name is too long and I try to download it in Safari, the file is renamed to part of URL. E.g, if my current URL is localhost:8080/app/documents/771 then the file is renamed to "771". Note that it works fine in Chrome.

**Environment:**
 - PF Version: 6.2
 - JSF + version: JSF 2.2 + MyFaces 2.2.6
 - Affected browsers: Safari

**To Reproduce**
Steps to reproduce

[2020-09-18 06:57] tuerker opened #6328 "InputNumber: Does not perfectly respect @Digits"
p:inputNumber  shall restrict the input according to the JPA annotations (of course when javax.faces.validator.ENABLE_VALIDATE_WHOLE_BEAN is set to true). However, for decimal values p:inputNumber does not work perfectly.

Look at my example case:

<p:inputNumber thousandSeparator="" value="#{consumable.price}">

based on attribute price of class consumable:

@DecimalMin("0")
@Digits(integer = 10,

[2020-09-18 10:37] hajekm commented on #6325
@melloware I meant something like this, but I don't know where the code must be overwritten. I expect this is not that simple like it looks:

`public abstract class HeaderRowBase extends UIComponentBase {

    public static final String COMPONENT_FAMILY = "org.primefaces.component";

    public static final String DEFAULT_RENDERER = "org.primefaces.component.HeaderRowRenderer";

    public enum Pr

[2020-09-18 11:07] melloware commented on #6328
So I believe the PF code you are referring to is this...
[code]

[2020-09-18 11:08] melloware commented on #6328
It looks like its only using DIGITS to check for the decimalPlaces value.

[2020-09-18 12:00] melloware commented on #6325
OK I took your hint but it needed more work than that but I was able to accomplish it.  Please see PR.

[2020-09-18 12:07] melloware commented on #6328
It doesn't look like AutoNumeric has a way of limiting the integer portion of the value except by the use of maxValue="" however that may override a specific maxValue you have already set on the component.

Not sure it is possible to fix this?  Do you have any suggestions?

[2020-09-18 12:21] tuerker commented on #6328
by defining

@DecimalMin("0")
@digits(integer = 10, fraction = 2)
private BigDecimal price;

i am expecting that i can only enter decimals with max 10 digits before the comma and max. 2 after the comma.

everything else is hack. so AutoNumeric should fix this by providing an attribute that allows to map integer part.

however, i made bad experience with AutoNumeric. they are not really responsive.

[2020-09-18 12:22] hajekm commented on #6325
Great and fast thanks a lot. This is what I exactly meant

[2020-09-18 12:23] melloware commented on #6328
Yep will close for now as there is nothing PF can do about this it would have to be fixed at AutoNumeric for us to be able to do anything useful.

[2020-09-18 12:23] #6328 closed, assigned to nobody

[2020-09-18 12:43] melloware commented on #2658
I don't think row grouping was meant to be used with LiveScroll because the row groupings must be calculated up front to render the header rows but livescrolling is completely dynamic so it can't know the header rows and where to break.

[2020-09-18 12:54] tuerker commented on #6328
PF could do the following: whenever @digits(integer = Y, fraction = 2) is defined, then

inputNumber.setMaxValue(X);

could be set X =MAX(max.value(), maxNumber_of_Y).

[2020-09-18 13:07] melloware commented on #6328
Feel free to submit a PR.

[2020-09-18 13:56] melloware commented on #6327
Safari on MacOS or on Windows?

[2020-09-18 15:36] melloware commented on #6327
I can confirm even on PF 9.0 the is a Safari issue and here is the error in the Safari console **"Failed to load resource: Frame load interrupted"**:
![image](https://user-images.githubusercontent.com/4399574/93616667-065d8880-f9a3-11ea-90cd-fa3f554e681a.png)

If I use @jepsar new Ajax Download it works in Safari and downloads the file correctly with the correct file name.

https://github.com/prim

[2020-09-18 15:41] melloware commented on #6327
@danielamorais I suggest you open a ticket with Apple.  This is definitely a bug and the filename works fine in Chrome and Firefox and MS Edge.

[2020-09-18 15:41] #6327 closed, assigned to nobody

[2020-09-18 17:32] melloware commented on #5978
This also fixes the Safari issue found here: https://github.com/primefaces/primefaces/issues/6327

[2020-09-20 10:41] christophs78 commented on #5438
Started writing integration-tests for our current initial-sort-features and run into some questions:

1. Moving `sortOrder `to `p:column` is not ideal combined with our default `sortMode="single"` as it may suggest you may be able to sort mutliple columns. Does it make sense to default sortMode to multiple? (Your users still need to know the meta-key to enable it.)
2. How do we prioritice `sortOrd

[2020-09-20 10:49] christophs78 commented on #5438
Additional question: Do we still plan this for PF 9. Or do we target PF 10?

[2020-09-20 11:12] Rapster commented on #5438
Not sure I follow, how column ordering impacts selection?

[2020-09-20 11:15] christophs78 commented on #5438
Sorry, i meant sortMode. Just fixed this in my comment.

[2020-09-20 11:42] Rapster commented on #5438
1. I see what you mean, something like that for example:

[code]

Let me quote what datatables.net says from [here](https://datatables.net/reference/option/orderMulti):

I think it's a very good option, basically you will initialize a default multi sorting column, however the user won't be able to make his own. Plus, by default sortMode should be multiple and not single. I don't think it is a comm

[2020-09-20 12:23] christophs78 commented on #5438
Agreed sortMode=multiple should be default.

[2020-09-20 12:30] christophs78 commented on #5438
It´s to some degree a question of trade-offs. When i use your example with sortMode="mulitple" i can´t do a initial primary by brand desc and secondary by year asc.
When you look at https://github.com/primefaces-extensions/primefaces-integration-tests/pull/42/files#diff-23941c255d6cc359471c4439bae1090dR52-R59 you can currently to this. But with a not ideal API. (especially the columnKey is not ide

[2020-09-20 13:56] Rapster commented on #5438
Yeah I see, the trick in your code is to use a LinkedHashMap to set a priority or am I wrong? But if I'm right, maybe we should introduce a new attribute `sortPriority`:
[code]

[2020-09-20 14:12] melloware commented on #5438
So we have had our own custom Datatable based on Lazy Datatable for years and I can say we definitely need a `sortPriorty` for this function. Our hack has always looked like this where I looked for custom `f:attributes`.
[code]

So having new column attributes for this would be great.  And my personal preferences would be `sortOrder` and `sortDirection`.

Also we should target this for 10.0 as 9.0

[2020-09-20 14:19] Rapster commented on #5438
IMO, having `Column#sortOrder` and `DataTable#sortPriority` should be enough for what we mentionned previously. Regarding the target, If I understood well from Cagatay OneVision video, 9.0 should be skipped, and 1.0 will be the next PF version

[2020-09-20 14:26] melloware commented on #5438
@Rapster sort priority on the Datatable not the column?

Then how would you do this?
[code]

In the above I have 3 columns and I wanted sorted by STATUS ASC, NAME DESC.  So only sort by Name if they have equal Status?  So I need priority on the Column no?

[2020-09-20 14:38] tandraschko commented on #5438
SortPriority must be on column and SortaMeta of course
Added it to the Initial text

[2020-09-20 15:07] Rapster commented on #5438
@melloware I think the sample I provided should work for your use case:
[code]

Either it's on DataTable or Column is more or less the same, except:
- if attribute on column, then you have to work with numbers. More you have columns, more you have to play around with these priorities (which of course is not difficult)  but not ideal. Another reason is: responsability, Column shouldn't set his own

[2020-09-21 07:19] fanste commented on #4446
I've added a change that re-inits the after `updateData`.
I've updated the testcase to validate that my change still works.

- row expansion for normal datatable with frozen rows should be tracked in another issue as it doesn't really belong to this one
- a frozen column datatable was adjusted for row expansion some (ok.. a lot of) years ago by cagataycivici (78644a6). This should probably also be

[2020-09-21 20:11] anuragnz opened #6332 "p:tree selected nodes are not picking if not all child nodes are selected"
Hi there,

Selected nodes are being ignored if not all child nodes are selected. This is working in version 8 but not in version 9-snapshot.

![image](https://user-images.githubusercontent.com/3331466/93816032-0c0ce400-fcab-11ea-81a9-dd8a5eb06a8a.png)

In above image, the first node is not coming in selected nodes.

Please assist.

[2020-09-21 20:14] melloware commented on #6332
Please use Stack Overflow or provide a reproducer:

Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2020-09-21 20:14] #6332 closed, assigned to nobody

[2020-09-22 13:53] mikeante81 commented on #6187
@melloware sorry for the delay in replying, I tried the patch, but it doesn't seem to work. Maybe because the function you sent me refers to rowEdit and not cellEdit?
thanks

[2020-09-22 13:55] melloware commented on #6187
Please try this reproducer: https://github.com/primefaces/primefaces/files/5150790/pf-6187.zip

it's your scenario EXACTLY....

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml. You will see when you edit a row only 1 console output not 3 times for console.log('Cell Edit Focus'); Can you check you have your setup exactly like mine. The JS override is in th

[2020-09-22 14:14] mikeante81 commented on #6187
@melloware Maybe I haven't explained myself well, the problem I find on cellEdit with datatable attribute editMode = "cell"

[2020-09-22 14:38] melloware commented on #6187
OK it was broken for both row editing and cell editing. I was only looking at row editing.

try this one:
[pf-6187-cell.zip](https://github.com/primefaces/primefaces/files/5262169/pf-6187-cell.zip)

[code]

[2020-09-22 18:06] christophs78 opened #6334 "DataGrid: support PrimeFlex"
DataGrid currently supports "tabular" and "grid" for layout-attribute. We may add "flex" as an alternative to "grid".
Use PrimeFlex-Grid for layout="flex" instead of the old Grid-CSS.
This should allow for more stable layouts.

[2020-09-22 18:10] christophs78 opened #6335 "DataView: support PrimeFlex"
similar to https://github.com/primefaces/primefaces/issues/6334

DataView currently always uses the old Grid-CSS for it´s grid-layout. We may offer an option (eg via new gridLayout-attribute) for PrimeFlex-Grid.

[2020-09-22 18:26] christophs78 opened #6336 "DataView: add gridRowStyle and gridRowStyleClass-attributes"
This would eg allow to switch the amount of columns in grid-view depending on the screen-width.

Feature was requested in PF-forum: https://forum.primefaces.org/viewtopic.php?f=3&t=63472

[2020-09-22 18:27] christophs78 opened #6337 "DataGrid: add rowStyle and rowStyleClass-attributes"
This would eg allow to switch the amount of columns in grid-view depending on the screen-width.

similar to https://github.com/primefaces/primefaces/issues/6336

[2020-09-23 18:13] ngriffin7a opened #6338 "OSGi: Export-Package directive does not include shaded classes"
**Describe the defect**
The OSGi Export-Package directive does not include packages that are added by the maven-shade-plugin

**Reproducer**
N/A

**Environment:**
 - PF Version: _8.0_
 - JSF + version: N/A
 - Affected browsers: N/A

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy primefaces-8.0.jar to an OSGi container (i.e. Glassfish's OSGi modules)
2. Within a WAR project, embed WEB-

[2020-09-23 18:26] melloware commented on #6338
I am definitely not an OSGI expert but doesn't `<Export-Package>org.primefaces.*;version="${project.version}</Export-Package>` in the pom.xml mean that everthing in org.primefaces is exported?

[code]

[2020-09-23 18:30] ngriffin7a commented on #6338
@melloware No, that's not enough because the shade plugin adds stuff that the maven-bundle-plugin doesn't see. I'll be sending a pull request shortly with the fix.

[2020-09-23 18:32] melloware commented on #6338
excellent i see this is a pretty common problem: https://stackoverflow.com/questions/18280608/using-maven-bundle-plugin-with-the-maven-shade-plugin

Looking forward to your PR!

[2020-09-23 18:34] ngriffin7a commented on #6338
See https://github.com/primefaces/primefaces/pull/6340

[2020-09-23 18:36] ngriffin7a commented on #6338
@melloware If you find the PR acceptable, then I would be much obliged if you would consider backporting. Thank you.

[2020-09-23 18:37] melloware commented on #6338
Looks good to me I made one comment.  And @mertsincan decides whether this gets backported to 8.0.5

[2020-09-23 19:01] #6338 closed, assigned to ngriffin7a

[2020-09-23 19:05] melloware commented on #6338
Thanks for your PR!

[2020-09-23 19:10] ngriffin7a commented on #6338
It was my pleasure @melloware thank so much for the speedy review and merge! :)

[2020-09-23 19:12] melloware commented on #6338
You should be able to check it out locally to make sure using 9.0 SNAPSHOT:
[code]

[2020-09-24 08:52] StevenHachel opened #6342 "SelectOneMenu - editable="true" - If I delete the value, the value for itemLabel is set by the first and deactivated item | pf 7.0.16"
simple code:
[code]

the backend bean has one element in list. when i choosed this element from backend, then is the label corect.
when i the inputfield of selectedOneMenu cleared over keyboard and then commited form and reloaded this, then is label from selectOneMenu filled with "please choosed".

[2020-09-24 11:08] melloware commented on #6342
you did not follow the issue template and list what version of PF you are using?  whether you have tried the latest version? Mojarra or Myfaces version?

[2020-09-24 11:19] melloware commented on #6342
Also here is a reproducer:
[pf-6342.zip](https://github.com/primefaces/primefaces/files/5275545/pf-6342.zip)

Can you update it to reproduce your issue please?  Just run `mvn clean jetty:run` and then navigate to http://localhost:8080/primefaces-test/test.xhtml

[2020-09-24 14:25] StevenHachel commented on #6342
so sorry!

- Primefaces 7.0.16
- Java 8, JavaEE 6
- jsf-api 2.1.29-11

under PF 6.0 works without this effect.

[2020-09-24 14:30] melloware commented on #6342
OK can you update my  reproducer above and zip it here so I can debug the issue.

[2020-09-24 14:33] StevenHachel commented on #3791
@melloware thx for tip for Migration Guide! A lot of work, but now works perfectly!
Steven

[2020-09-24 15:35] melloware commented on #6342
Actually what is your expected behavior of this?  When you clear out the value then the value = NULL and it matches this item:
[code]
So I would expect it to say "please choosed" since it matches the value.

[2020-09-24 15:44] #6337 closed, assigned to christophs78

[2020-09-24 15:44] #6336 closed, assigned to christophs78

[2020-09-24 16:36] StevenHachel commented on #6342
**selectedItem** has parameter **itemDisabled**="true".
then the selection should not appear. It is also misleading for the user after clearing the field.

[2020-09-24 16:44] melloware commented on #6342
I believe your issue is this: https://github.com/primefaces/primefaces/issues/5299

See this comment specifically: https://github.com/primefaces/primefaces/issues/5299#issuecomment-549492475

Fixed already in 8.0.

[2020-09-24 18:06] StevenHachel commented on #6342
okay, next step upgrade to 8. :-D

[2020-09-24 18:23] melloware commented on #6342
i can reopen if that is not the issue but it feels like it is

[2020-09-24 18:23] #6342 closed, assigned to nobody

[2020-09-25 05:33] rider87 commented on #4446
Yes, it´s working fine...
I hope this can be fixed in PF9

[2020-09-25 10:14] StevenHachel opened #6343 "Schedule - Attempting to call a FullCalendar method on an element with no calendar."
under Primefaces 6.x works perfectly!

**Environment:**
 - PF Version: 7.0.16
 - jsf-api version: 2.1.29-11
 - Affected browsers: Chrome, Firefox

**To Reproduce**
Steps to reproduce the behavior:
1. switch into site with scheduler first error message:
```Attempting to call a FullCalendar method on an element with no calendar.```
2. when i click on week or day button then following error and rende

[2020-09-25 10:27] christophs78 commented on #6343
Can you please check your issue against 9.0-SNAPSHOT?
There had been a good amount of changes in Schedule the last years. With PF 8.0 we updated FullCalendar from 3.x o 4.x With PF 9.0 we updated FullCalendar from 4.x to 5.x. And FullCalender made massive internal changes on it´s way from 3.x to 5.x. (see https://fullcalendar.io/blog)

[2020-09-25 11:09] melloware commented on #4446
Thanks for reporting in @rider87.  Just waiting for more people to review it since its a Datatable change.

[2020-09-25 11:29] melloware commented on #6343
I believe the issue is this: https://github.com/primefaces/primefaces/issues/6157

Already fixed in 8.0.4

[2020-09-25 11:32] melloware commented on #6343
I posted a workaround here: https://github.com/primefaces/primefaces/issues/6156#issuecomment-662402159 if you can't upgrade to 8.0.4.  Just hide a `<p:button` first thing on your page.

[2020-09-25 11:32] #6343 closed, assigned to nobody

[2020-09-25 11:51] christophs78 commented on #6343
I don´t think so, because i introduced #6157 with 8.0 as part of the FullCalender 3.x --> 4.x - update.

And when we look into his callstack it looks like jquery was loaded. (as expected for 7.x)
triggerHandler@http://localhost:7001/merlin/javax.faces.resource/jquery/jquery.js.xhtml?ln=primefaces&v=7.0.16:2:72209

[2020-09-25 11:56] melloware opened #6344 "Schedule: Allow custom localization"
**Description**
In PF < 7.0 the Schedule component was configured using PF locales:  https://github.com/primefaces/primefaces/wiki/Locales

When we upgraded to Full Calendar 4.X for PF 8.0 it was decided to use the already built translations that come with FullCalendar so if you used `locale="fr"` for French you would get the French translation from FullCalendar:
https://github.com/fullcalendar/fu

[2020-09-25 12:13] melloware commented on #6344
OK previously PF was doing this:
[code]

However FullCalendar 4+ has removed most of these options except for a couple:
https://fullcalendar.io/docs/buttonText
https://fullcalendar.io/docs/weekText
https://fullcalendar.io/docs/firstDay

So I think all we can put back is this:
[code]

[2020-09-25 12:17] melloware opened #6345 "Schedule: RTL Support"
**Description**
Add Right To Left support to Schedule.

See: https://fullcalendar.io/docs/direction

[2020-09-25 12:22] christophs78 commented on #6344
My point of view at this time was to define FullCalendars own localication as good enough. (eg because it provides way more locales OOTB and we don´t need to worry about future FullCalendar-updates)

When i look at the commit-history i did this somewhere during my work.
https://github.com/primefaces/primefaces/commits/321ad2a7acff3e7f55dbc539c8171b0a6175500c/src/main/resources/META-INF/resources/p

[2020-09-25 12:27] christophs78 commented on #6344
I don´t remember all details. But we may need to ensure to have consistent translation. It won´t be ideal to have 3 terms translated and some others not.
Maybe we would need add some more attributes to PF-Locales. (and update this for almost all languages)

[2020-09-25 12:30] melloware commented on #6343
well if @StevenHachel creates a Reproducer we will know for sure.

Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2020-09-25 12:32] melloware commented on #6344
I agree with your assement the built in Translations are better and future proof us. But this request came from a PRO user who is upgrading to PF 8.0.  Looking at FullCalendar though I don't think PF can customize the way it used to as most of those options are removed and FullCalendar prefers you set `locale` on your Schedule and let it handle it.

[2020-09-25 12:43] christophs78 commented on #6344
This had been the breaking changes for locale with FC 4: https://fullcalendar.io/docs/v4/upgrading-from-v3#locales
Maybe we should sleep one night and then talk about this again.

[2020-09-25 16:09] melloware commented on #4928
@jepsar has provided a nice PR for this and made it backwards compatible.

[2020-09-25 18:03] melloware opened #6349 "Keyboard: RTL Support"
**Description**
Add Right To Left support to Keyboard.

See: http://keith-wood.name/keypad.html

[2020-09-26 02:54] BryanV91 opened #6351 "DataTable: h:inputFile inside p:dataTable causes javax.servlet.ServletException: UT010016: Not a multi part request when submitted by ajax"
**Describe the defect**

I currently have a requirement where we need a tag `h:inputFile` in every row of a `p:dataTable`, when I try to submit the whole `h:form` with `enctype="multipart/form-data"` through AJAX I'm getting this exception:

`javax.faces.FacesException: javax.servlet.ServletException: UT010016: Not a multi part request`

- I can't use the `p:fileUpload` component, it is way too bi

[2020-09-26 06:51] christophs78 commented on #6344
Which "things" want´s your PRO user customize?
One thing you can always do is to use JS-extender as @blutorange  shows in showcase with ui/data/schedule/extender.xhtml.

[2020-09-26 07:36] tandraschko commented on #6351
Does f:ajax or p:ajax in a Inputfile works outside of a datatable?

[2020-09-26 08:00] BryanV91 commented on #6351
Yes f:ajax works outside of the datatable.

[2020-09-26 08:03] BryanV91 commented on #6351
It works when I choose the h:inputFile + f:ajax not to be processed.

[2020-09-26 08:07] BryanV91 commented on #6351
Sorry for the misclick, it's too late here. I will be providing an example with h:inputFile + f:ajax outside of the datatable in a few hours.

[2020-09-26 09:44] mertsincan commented on #6344
Hi,

Thanks a lot, @melloware and @christophs78. Unfortunately, we need to add these codes for backward compatibility. Of course, we need to tell users the features removed from the FullCalendar component. However, we must continue to support the builds that we previously supported and are still supported by FullCalendar. Unfortunately, such issues will occur with 3rd party components. That's why

[2020-09-26 12:12] christophs78 commented on #6344
At least this was something i explicit noted as part of https://github.com/primefaces/primefaces/pull/5274. (I did not removed this in „secret“ or something like this.)
And i added code to translate old FC-viewnames into new ones.
And we added this to the migration guide. (Something we need to update now.)

[2020-09-26 12:37] melloware commented on #6351
@BryanV91 A runnable example would be great using [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.

[2020-09-26 12:41] melloware commented on #6344
@mertsincan I will take care of this.

And yes this is the danger of upgrading 3rd party libs but I think PF absolutely needs to do that to stay on top of browser changes, security fixes, performance, etc.

[2020-09-26 13:26] jepsar commented on #4928
I added a draft PR with an example of how to style the accessible bread crumb: https://github.com/primefaces/primefaces-showcase/pull/198

[2020-09-26 13:49] jepsar commented on #5905
I would keep this in line with how "moreText" works. It can be styled using the `ui-autocomplete-moretext` class and the click could be handled using the `moreText` click event.

A class is already present (`ui-autocomplete-emptyMessage`). The only thing missing is a click listener event.

[2020-09-26 14:37] blutorange commented on #6344
@melloware It seems the removed localizations options pertain to date and time formatting. By default, FullCalendar uses the native built-in [Intl.DateTimeFormat](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat) for localizing dates and times. Additionally, there's also the moment plugin (which we use). The built-in formatter is used when the da

[2020-09-26 14:40] melloware commented on #6344
@blutorange care to submit a PR?

Also what about month short names and days?
[code]

[2020-09-26 16:30] blutorange commented on #6344
* @melloware The settings for FullCalendar are now stored in `this.cfg.calendarCfg`, so this should probably be `this.cfg.calendarCfg.firstDay = lang.firstDay;` etc ?
https://github.com/primefaces/primefaces/blob/fbd18e5afcd51b6f3dbd90fe241c4bab73faf65b/src/main/resources/META-INF/resources/primefaces/schedule/1-schedule.js#L106-L111
* A few more localized strings in the FullCalendar locales (e.g.

[2020-09-26 16:42] christophs78 opened #6354 "Global: all responsive components: support PrimeFlex"
We introduced FlexAware with https://github.com/primefaces/primefaces/pull/6348 for DataView.

Following Components currently use Grid CSS and may also implement FlexAware to support PrimeFlex:

- [x] DatePicker ?
- [x] DataGrid (https://github.com/primefaces/primefaces/issues/6334)
- [x] DataView (https://github.com/primefaces/primefaces/issues/6335)
- [x] OrderList ?
- [x] PanelGrid (already has

[2020-09-26 17:50] melloware commented on #6344
I like all those ideas and I think we should do it.

[2020-09-26 18:12] jepsar opened #6355 "DatePicker: lazy load disabled dates"
As explained in https://github.com/primefaces/primefaces/issues/6277 I would like to be able to lazy load disabled dates on `viewChange`. Also, I'm thinking of adding date CSS styles / colors / classes to dates later. This is also something which should be lazy loadable. So, I was thinking of adding a `DateMetaData` object which could contain stuff like `disabled` and `styleClass`.

@melloware can

[2020-09-26 18:34] christophs78 commented on #6344
@blutorange:

FullCalendar 4 had a long list of breaking changes: https://fullcalendar.io/docs/v4/upgrading-from-v3
It removed jQuery and Moment JS-dependencies.

But it introduced connector plugins for Moment JS and Moment Timezone.

As far as i remember i had removed Moment JS at some point on the way from FC3 to FC4. But there had been existing UseCases which broke by removing Moment JS. So i r

[2020-09-26 18:58] BryanV91 commented on #6351
@melloware

[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/5287174/primefaces-test-master.zip)

Page `page.xhtml` contains the p:dataTable and the h:inputFile.

The submission works if I do this (selecting only the inputs that I want):

[code]

Expected behaviour (process everything except `h:inputFile):`

[code]

`p:dataTable` + `process="@(#form :not(.ignore))"` is s

[2020-09-27 13:44] melloware commented on #6344
OK can you all review my latest PR.  I took most of @blutorange suggestions and I added a new showcase page for IL8N to test it .

Edit: most not all suggestions

[2020-09-27 13:47] melloware commented on #6355
Done

[2020-09-27 14:02] melloware commented on #6351
OK I had to fix your example to make it work for me:
[pf-6351.zip](https://github.com/primefaces/primefaces/files/5288387/pf-6351.zip)

I get different behavior betweeen Mojarra and MyFaces:
`mvn clean jetty:run -Pmojarra23`

`mvn clean jetty:run -Pmyfaces23`

On Mojarra I get:
[code]

With MyFaces I don't get any errors but I don't know if I am getting the behavior you want.
Can you test with `mv

[2020-09-27 17:33] #6349 closed, assigned to melloware

[2020-09-27 17:34] #6345 closed, assigned to melloware

[2020-09-27 17:52] dmainardi opened #6357 "DataTable: NumberFormatException when cell editable and cellEditInit AJAX event"
**Describe the defect**
With cell-editable-enabled dataTable and cellEditInit ajax event, if you TAB through cells and reach last cell, last TAB rises a NumberFormatException exception.

**Reproducer**
Just clone https://github.com/dmainardi/primefaces-test repository and follow instructions.

**Environment:**
 - PF Version: 6.2 (exception rose TABBING at the end of row (not last)), 8.0, SNAPSHOT

[2020-09-28 01:06] BryanV91 commented on #6351
Ok just tested and I can confirm that exception is not thrown with `jetty:run -Pmyfaces23`.

Exception only occurs with `jetty:run -Pmojarra23`.

Stacktrace:

[code]

So is not related to PrimeFaces at all?

[2020-09-28 05:31] blutorange commented on #6344
Code looks good to me.

One thing that might cause issues is if somebody has already included their own locale for moment.js -- once they include a schedule component some keys get overwritten. But I guess this is alright since the're still configurable via PrimeFaces.locale

I was also thinking if we could default FullCalendar's date/time format to moment.js format strings -- but that requires we

[2020-09-28 08:39] Rapster opened #6358 "DataTable: Column sort icon disappears after selecting another column"
**Describe the defect**
Column sort icon gets removed after selecting another column. Regression from #3818. These new changes might be the cause https://github.com/primefaces/primefaces/commit/82abe07fb648d503e47487ac5fc715f1e3e8d325#diff-265f44d9cadc896ec3d21a3a721f15ddR2030-R2048

**Environment:**
 - PF Version: 9.0-SBAPSHOT
 - JSF + version: Mojarra 2.2.8 or MyFaces 2.3.6
 - Affected browsers:

[2020-09-28 10:54] bstobbe opened #6359 "FileDownload: configure Cache-Control"
**Description**
Currently the fileDownload component uses Cache-Control: public and Pragma: public as the default response header.  Sometimes users have the possibility to download sensitive data. These files should not be cached anywhere. (especially considering the GDPR)

**Describe the solution you would like**
Adding a new attribute "cache-handling" or possibly a generic "response-headers", wh

[2020-09-28 10:56] tandraschko commented on #6359
IMO there is no reason to make it public and cacheable as default, as FileDownload is, at least for 90%, dynamically generated files.

[2020-09-28 11:15] melloware commented on #6351
Well I will leave that up to @tandraschko but we have seen this a lot where Mojarra bugs are not present in MyFaces.  MyFaces is more actively developed and is much more robust and has higher performance than Mojarra.

But to me this feels like a Mojarra bug.

[2020-09-28 11:19] melloware commented on #6344
Yeah I added a new basic localization.xhtml example where its localized for German but we can add more to that example.  but I wanted to at least test this out.  thanks for the review!

[2020-09-28 11:21] #6325 closed, assigned to melloware

[2020-09-28 11:22] tandraschko commented on #6351
The example doesnt contain a DataTable, so not related to DataTable?

[2020-09-28 11:24] melloware commented on #6351
Oh he has 2 pages 1 test.xhtml and 1 page.xhtml.  The page.xhtml in my download is functional and uses the DataTable.

[2020-09-28 11:24] tandraschko commented on #6351
but even index.xhtml throws the exception?

[2020-09-28 11:26] tandraschko commented on #6351
Ok, i think PrimeFaces just ignores the enctype. AFAIR i tried to implement it in the past but never did. Thats the reason why the exception occurs and is correct.

Now i check the DataTable example.

[2020-09-28 11:31] melloware commented on #6351
Yes for me test.xhtml was throwing the exception as well.

[2020-09-28 11:35] melloware commented on #6351
Looks like these are the issue:

https://github.com/eclipse-ee4j/mojarra/issues/3782

https://github.com/eclipse-ee4j/mojarra/issues/2931

In fact it looks like Mojarra has lots of issues with this: https://github.com/eclipse-ee4j/mojarra/issues?q=is%3Aissue+enctype+is%3Aclosed+sort%3Aupdated-desc

They are marked closed but it seems to still be a problem in 2.3.14

[2020-09-28 11:42] tandraschko commented on #6351
I would say that both mojarra and PF is doing correct here.
1) p:ajax doenst support upload and therefore the enctype is ignored (would be a new feature request)
2) the whole DataTable is processed (see javax.faces.partial.execute post param), therefore all rows and inputFiles are processed. Therefore its fine that Mojarra throws a exception as the servlet Part cant be acessed.
It would be nicer i

[2020-09-28 11:43] melloware commented on #6357
thank you for the runnable example.  let me investigate

[2020-09-28 11:44] tandraschko commented on #6351
I think this ticket is just a missunderstanding of PF selectors and DatTable as still the whole DataTable is processed.

[2020-09-28 11:47] melloware commented on #6359
@bstobbe do you have a specific GDPR use case?  @tandraschko if he has a valid GDPR use case I think maybe we should add a property override?

[2020-09-28 12:02] tandraschko commented on #6351
@melloware could you try to find out why the file-inputs are not processed with MyFaces / HtmlInputFileRendererBase#decode not called?

I think thats the last key to understand the problem for 100%. Nevertheless i think the current exception is ok if you see my last 2 posts, just MyFaces should also throw one.

[2020-09-28 12:26] BryanV91 commented on #6351
With:

[code]

Result:

`javax.faces.partial.execute: form:table form:table_head form:table:input form:table:col form:table_data form:table:0:text form:table:1:text form:table:2:text form:table:3:text form:process-inputs-link form:ignore-file-link j_id1:javax.faces.ViewState:0`

<h:inputFile id="file" /> is not present. But exception is thrown.

So my missunderstanding could be that eventhough I'm

[2020-09-28 12:29] tandraschko commented on #6351
form:table is the whole DataTable ;)

[2020-09-28 12:43] BryanV91 commented on #6351
[code]

`javax.faces.partial.execute: form:hcommandBtn-file file, form:table`

This is not throwing the exception at all.

[2020-09-28 12:44] tandraschko commented on #6351
because f:ajax uses the enctype defined in the form - as i already said.

[2020-09-28 12:59] tandraschko opened #6360 "Ajax: support form enctype"
Currently we completely ignore the enctype of the form

See: https://github.com/primefaces/primefaces/issues/6351

[2020-09-28 13:00] tandraschko opened #6361 "AJAX: support processing input files"
like f:ajax does

see: https://github.com/primefaces/primefaces/issues/6351

[2020-09-28 13:01] tandraschko commented on #6351
created 2 sucessor tasks for this ticket.
You can workaround your problem with overriding the Mojarra inputFileRenderer and skip decode when the current request != multipart

maybe melloware can assist.

[2020-09-28 13:01] #6351 closed, assigned to nobody

[2020-09-28 13:11] tandraschko commented on #6360
a PR would be great

[2020-09-28 13:11] tandraschko commented on #6361
a PR would be great

[2020-09-28 13:11] tandraschko commented on #6359
we could but we should likely change our default here

[2020-09-28 13:13] bstobbe commented on #6359
The GDPR says "Personal data shall be processed in a manner that ensures appropriate security of the personal data, including protection against unauthorised or unlawful processing and against accidental loss, destruction or damage, using appropriate technical or organisational measures (‘integrity and confidentiality’)." (Art. 5f GDPR)
If every cache server can possibly save this data this confid

[2020-09-28 13:29] sefatascan opened #6362 "AvalonTheme DefaultMenuItem setting Id does not work and wrong highlighted menuitem"
[code]
I am setting menu model with id of menu item in managed bean. When render to html, it looks like this
`<li id="menuform:j_idt51_3" />`
And, when I was click a menu item, It highlighted wrong the current selected. I debug this code;
[code]
    addMenuitem: function (id) {
        if ($.inArray(id, this.expandedMenuitems) === -1) {
            this.expandedMenuitems.push(id);
        }

[2020-09-28 13:30] tandraschko commented on #6362
avalon support is done in the forum, here is just for PrimeFaces core.

[2020-09-28 13:30] #6362 closed, assigned to nobody

[2020-09-28 13:34] sefatascan commented on #6362
I opened a topic. https://forum.primefaces.org/viewtopic.php?f=68&t=63295

[2020-09-28 13:34] fanste commented on #5014
There are still problems with the outer-width calculation with `box-sizing: border-box`. And @regenduft is also right, with his statement that %-values are not correctly considered.

**1st problem**
`fixColumnWidths` gets the width of the column either from the CSS property `width` or using the jQuery method `width()`. While the latter one returns a unit-less pixel value, the first one returns wha

[2020-09-28 13:37] melloware commented on #6359
OK I will submit a PR.

[2020-09-28 14:28] #6359 closed, assigned to melloware

[2020-09-28 14:44] eduarddrenth commented on #6358
I will have a look, may take a while

[2020-09-28 15:48] melloware commented on #6357
If you need this fix right now just add this JS to your applicaton:
[code]

[2020-09-28 18:10] christophs78 commented on #6344
Just to be clear what to expect:
I added a X to almost all PrimeFaces.locales ['de'] =  - entries.

Result is - as expected - following:
![image](https://user-images.githubusercontent.com/10461942/94469243-0ab94b00-01c6-11eb-9a0c-37804e71d373.png)

FullCalendar-Buttons are localized from PrimeFaces.locales ['de']. But monthNames and dayNames are still as-is. (Because FullCalendar does not use Mome

[2020-09-28 18:19] melloware commented on #6344
Where does it get those MonthNames from then?  It seems that contradicts what @blutorange demo did with monthnames?

[2020-09-28 18:50] christophs78 commented on #6344
FullCalendar uses Browser-built-in functionality for this:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat

[code]

Moment.JS is only used for certain UseCases like

as @blutorange  wrote.

[2020-09-28 19:37] melloware commented on #6361
Can now do this successfully:
[code]

[2020-09-28 21:02] lcnerim opened #6366 "JSF: Primefaces Selectonemenu nested combo issue"
Hello

When you open two or more instances of a nested combo and you pick several options on each the page pops out the next error:

![errorcombo](https://user-images.githubusercontent.com/27609685/94485583-c917a880-01a3-11eb-9613-ddb68f743394.PNG)

The error can be checked at:
https://www.primefaces.org/showcase/ui/ajax/dropdown.xhtml

Thanks in advance!

[2020-09-28 23:49] melloware commented on #6366
I think I fixed this in master already. I will check tomorrow morning.

[2020-09-29 01:53] lcnerim commented on #6366
thanks for answer friend we appreciate your help :D keep in touch

El lun., 28 sept. 2020 a las 18:50, Melloware (<notifications@github.com>)
escribió:

[2020-09-29 07:22] sefatascan opened #6367 "DefaultMenuItem and DefaultSubMenu setting Id does not work"
DefaultMenuItem and DefaultSubMenu  setting id does not work, For exaple, I am using `defaultMenuItem.setId("testMenuItem") `
Normaly, it should be `<li id="menuform:testMenuItem" />` but it render like that `<li id="menuform:j_idt51_3" />`

[2020-09-29 08:22] tandraschko opened #6368 "TabView/AccordionPanel: activeIndex requires a writable ValueExpression"
we should make it optional

[2020-09-29 08:23] #6368 closed, assigned to tandraschko

[2020-09-29 08:23] tandraschko opened #6369 "Schedule: view attr requires a writable ValueExpression"
we should make it optional

[2020-09-29 08:24] #6369 closed, assigned to tandraschko

[2020-09-29 08:34] Rapster commented on #6367
Please follow defect report, otherwise closing as invalid

[2020-09-29 08:46] Rapster commented on #6367
Duplicate of #1039

[2020-09-29 08:46] #6367 closed, assigned to melloware

[2020-09-29 09:42] tandraschko commented on #6360
@melloware first step commited, please review

[2020-09-29 09:42] #6360 closed, assigned to tandraschko

[2020-09-29 11:29] melloware commented on #6366
OK I cant reproduce your error.  Can you give me the exact steps you are doing?

[2020-09-29 11:36] melloware commented on #6360
OK your refactoring looks great!  My test case is still failing with your new code but I know you are still working on the other ticket for input files.

[2020-09-29 11:59] fanste commented on #5014
PR #6370

I tested it with a normal scrollable table and a frozen-column table. Seems fine so far.

Side note: a `width` including the unit will be handled correctely - except `%`. Those values will use the scrollWidth as a reference, because thats how browsers work. Maybe we should convert %-values to px-values using the width of `.ui-datatable`? But all other units like `em`, `vw`, ... will work

[2020-09-29 12:14] melloware commented on #1039
I just submitted a PR for this. It was quite an easy fix can @LuleJayjay @kukel please review.

[2020-09-29 12:25] melloware commented on #6367
@Rapster @sefatascan can you review my PR I believe this was quite simple to fix: https://github.com/primefaces/primefaces/pull/6371

[2020-09-29 12:31] MatheusRadeski commented on #5711
Was the problem fixed in version 8.0.2 of primefaces?
I did not find in the modification logs.

[2020-09-29 12:33] tandraschko commented on #5711
Nope as i dont think the bug is on our side. See the comments in this topic and https://github.com/primefaces/primefaces/issues/5827

[2020-09-29 12:51] MatheusRadeski commented on #5711
Today I add primefaces through dependency with Maven.
How could you solve this problem?
I don't know how to change the AjaxBehaviorListenerImpl.java class.

[2020-09-29 12:55] tandraschko commented on #5711
Dont know sorry.
This was a workaround for a problem described here: https://github.com/primefaces/primefaces/issues/5711#issuecomment-617621170
for everything else IMO our code in PF is correct as the EL impl should throw a MethodNotFound

[2020-09-29 13:07] tandraschko commented on #6361
@melloware please review
now fully integrated with partialSubmit, partialSubmitFilter and so on

we could later think about to completely move to formData, would be a bit less code

[2020-09-29 13:08] #6361 closed, assigned to tandraschko

[2020-09-29 13:17] melloware commented on #6361
just tested and the use case works great!   your changes look good!

We could move to formdata but that seens riskier.  For now I think reading the enctype is perfect and we are POSTing properly in each scenario.  great job!

[2020-09-29 15:40] lcnerim commented on #6366
We were using IE and Chrome as browsers and did the next steps:

1.-Open the dropdown page, select values and click submit
2.-Duplicate the page and select values, then click submit
3.-Return to the first page, select a value and click submit

Now its not happening so often but sometimes pops the error

Can you please tell us what is the version of primefaces you are working
with?
Any dependency c

[2020-09-29 15:49] melloware commented on #6366
hmm i am trying my hardest and i cant get it to happen with PF 8.0.

Chrome Version 85.0.4183.121 (Official Build) (64-bit)
Edge Version 85.0.564.63 (Official build) (64-bit)
IE 11.508

[2020-09-29 19:43] melloware commented on #2443
fixed for 9.0: https://github.com/primefaces/primefaces/issues/6325

[2020-09-29 19:43] melloware commented on #2946
Fixed for 9.0: https://github.com/primefaces/primefaces/issues/6325

[2020-09-29 19:43] #2946 closed, assigned to melloware

[2020-09-30 08:31] dmainardi commented on #6357
Great,
it works!
Thank you.

[2020-09-30 09:08] #4446 closed, assigned to fanste

[2020-09-30 09:10] #5905 closed, assigned to jepsar

[2020-09-30 11:19] Rapster opened #6372 "DataTable: headerRow refactoring"
**Description**
Based on https://www.primefaces.org/showcase/ui/data/datatable/rowGroup.xhtml

**Describe the solution you would like**
As I started to have a look at #5438, `DataTable#sortBy` is used for grouping feature. And since the idea is to remove `DataTable#sortBy` I wonder how to make row grouping working... The way I see it, we should be able to simply configure row grouping like this:
[

[2020-09-30 11:51] melloware commented on #6372
yes i don't like that double use of `sortBy`.  i agree the Headerrow should have the `groupBy="#{car.brand}"`

[2020-09-30 12:35] melloware commented on #6366
@lcnerim any update on this?  I cant get it to happen.

[2020-09-30 12:56] #1039 closed, assigned to melloware

[2020-09-30 13:14] #6357 closed, assigned to melloware

[2020-09-30 16:38] melloware commented on #3812
We have run into this issue in an application we are writing.  I can confirm @lagar84 patch works with this reproducer:
[pf-3812.zip](https://github.com/primefaces/primefaces/files/5306983/pf-3812.zip)

[2020-09-30 19:07] Rapster commented on #3812
I would have picture the fix in `UIData#restoreDescendantState` just like it is done for UIForm/EditableValueHolder no?

[2020-09-30 19:11] melloware commented on #3812
You might be right there is a better way to fix it but I must admit i can't understand much that is going on in that `UIData` class.

[2020-09-30 19:14] melloware opened #6375 "OSGI: Missing MANIFEST.MF"
**Describe the defect**
When we fixed https://github.com/primefaces/primefaces/issues/5646 to have 2 jars one for Jakarta and 1 for regular the MANIFEST.MF including the OSGI info is not being included in the 2 JARS.

[2020-09-30 19:16] #6375 closed, assigned to melloware

[2020-09-30 19:18] melloware commented on #5646
@tandraschko we will also have to rememeber to update the Felix OSGI plugin as its using javax only packages right now.

[code]

[2020-10-01 11:26] Rapster commented on #5438
@tandraschko I just realized you assigned this issue to yourself... Let me know if you're still planning to work on it while I started to work on this already

[2020-10-01 11:30] melloware commented on #5438
@Rapster I also meant to answer you about `sortPriority` being on the datatable.  It doesn't make sense to put sort columns and priority in two different places it should either be...

[code]

or
[code]

But not a mixture of both I think that is confusing to users and doesn't put the metadata on the right tag it belongs on no?

[2020-10-01 11:32] melloware commented on #6366
I am going to close this issue until we can get a reproducible test case. I can reopen if we do.

[2020-10-01 11:32] #6366 closed, assigned to nobody

[2020-10-01 15:58] tandraschko commented on #5438
i dont think i can work on it the next 2-3 weeks.
So if we agree on all points (in the initial description here), feel free to work on it.

[2020-10-01 16:10] Rapster commented on #5438
Alright then, not sure if the description is updated. My notes are here: https://github.com/primefaces/primefaces/issues/5438#issuecomment-685700032

@melloware I don't see this as a priority right now, let's discuss again once the other points are covered

[2020-10-01 17:10] tandraschko commented on #5438
Not yet, i dont see a reason to still have sortaMeta attr. All can be in sortBy

[2020-10-02 09:37] dieuph commented on #6358
Can I work on this issue?

[2020-10-02 09:48] eduarddrenth commented on #6358
fine with me, I cannot until 12 oct earliest.

[2020-10-02 10:05] OBreidenbach opened #6379 "DatePicker: month navigation buttons get not disabled when min-/maxDate is reached"
**Describe the defect**
In the popup of the Calendar component the forward and backward navigation buttons are disabled if the min- or maxDate are reached.
This was already part of #5967. The fix was to ignore clicking the navigation buttons. But with this solution there ist no distinction between active and disabled navigation button.
In my opinion the behavior should be as by the calendar. The n

[2020-10-02 11:08] melloware commented on #6379
@OBreidenbach you mention this problem is in 8.0.2 but the fix mentioned above is in 9.0 have you tried 9.0-SNAPSHOT?  Or are you saying its a problem in 9.0 still?

[2020-10-02 11:12] melloware commented on #6379
Oh nevermind I understand now we are removing the buttons you are just saying to disable them so they are still on screen.

[2020-10-02 13:00] OBreidenbach commented on #6379
The buttons are not removed, they stay. Just he click event is ignored

[2020-10-02 13:48] melloware commented on #6379
Yep I just submitted PR to disable then with `ui-state-disabled`

[2020-10-02 14:29] dmainardi opened #6381 "DataTable: sticky header does not stick when table inside a TabView"
**Describe the defect**
If you insert a dataTable with sticky header inside e tabView, the header is not sticky. Same table outside tabView works as expected.

**Reproducer**
Just clone https://github.com/dmainardi/primefaces-test repository and follow instructions.

**Environment:**
 - PF Version: 8.0. **It works (sort of) in 6.1, 6.2 and 7.0**
 - JSF + version: Mojarra 2.2.20, (Mojarra) Jakarta

[2020-10-02 15:02] mossaab0 opened #6382 "Schedule: Event URL Opens a New Empty Tab"
**Describe the defect**
I have a schedule model. The events are added this way

[code]
The schedule renders fine. However, when I click on the URL of the event, the browser opens a new `about:blank` tab. Once I close it, I find that the original tab navigated correctly to the intended URL.

**Environment:**
 - PF Version: 8.0
 - JSF + version: joinfaces 4.3.0 (primefaces-spring-boot-starter, mojar

[2020-10-02 16:22] melloware commented on #6381
Related to this issue/workaround?: https://github.com/primefaces/primefaces/issues/960

[2020-10-02 16:33] melloware commented on #6382
@mossaab0 See the docs for Schedule Attribute `urlTarget`; https://primefaces.github.io/primefaces/8_0/#/components/schedule?id=attributes

try changing it to `urlTarget="_self"`

[2020-10-02 16:44] mossaab0 commented on #6382
That helped. Thanks @melloware !

[2020-10-02 16:44] melloware commented on #6382
No problem I did find another issue as I was testing this I am fixing for 9.0.

[2020-10-02 17:03] #6382 closed, assigned to melloware

[2020-10-03 13:51] Rapster opened #6384 "DataTable: RowToggler refactoring"
**Description**
Just like #6372, I think the row toggling feature could be enabled more easily. Configuration is done on two levels, through `DataTable#expandedRow` and rowToggler component itself.

**Describe the solution you would like**
A simpler way of doing this could be:
[code]

**Additional context**
~The way I see it, rowTogger could inherit from `p:column`, WDYT?~ _(not a good idea since

[2020-10-03 15:32] melloware commented on #6384
I like it

[2020-10-03 20:44] mertsincan opened #6385 "Improve registerScrollHandler method for document element"
In some cases, the scrollParent() method might find the 'document' element. So we need to check in registerScrollHandler method. Exp;
[code]

[2020-10-03 20:46] #6385 closed, assigned to mertsincan

[2020-10-04 14:04] melloware opened #6387 "InputNumber: Decimal Pad Zeroes"
This issue was reported again by a PRO User.

instead in PF8 we receive a value with scale 0.

Exp;
on 7.x;
client: 19.950,000 server: 19950.000
on 8.x+
client: 19.950,000 server: 19950

See: https://github.com/primefaces/primefaces/pull/5505#issuecomment-578787754

[2020-10-04 17:30] melloware commented on #6387
Related to #5504

[2020-10-05 00:03] Rapster commented on #5438
I started a PR. It's a good draft IMO, everything from showcase is working except table state. In addition to that, it's possible from now on to multi sort with headerRow and summaryRow. I need to merge changes that you @melloware recently made on headerRow

[2020-10-05 08:53] dmainardi commented on #6381
My test project was not so clear.
The problem is not "duplicated header" but "header does not stick".
I tried the workaround but it doesn't work.
I updated the test project, now (I hope) it is clearer.

[2020-10-05 09:51] #6387 closed, assigned to melloware

[2020-10-05 12:03] melloware commented on #6381
Yep I tried the workaround too and it did not work.

[2020-10-05 12:38] christophs78 opened #6391 "CI: move from Travis CI to Github Actions"
We have already done this for https://github.com/primefaces-extensions/primefaces-integration-tests.
We will do this for PF Selenium with https://github.com/primefaces-extensions/primefaces-selenium/issues/35.

After both are done successful i´ll try to provide a PR to do this for PrimeFaces too.

[2020-10-05 15:01] aligit opened #6392 "Scheduler: Scrolling on a long vertical viewport will not open a dialog popup"
**Describe the defect**
Short slotDuration may cause long vertical scheduler screen. If the user scrolls down then the "dialog" position is computed and will cause the dialog popup show up at a position the user can not see.

**Environment:**
 - PF Version: _master-SNAPSHOT_
 - JSF + version: _e.g. Mojarra 2.2.8
 - Affected browsers:  ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Go t

[2020-10-05 16:18] melloware commented on #6392
@aligit Are you referring to the example like this where the dialog is controlled by you?
https://www.primefaces.org/showcase/ui/data/schedule/basic.xhtml

I am trying to understand what dialog you are referring to?

[2020-10-05 17:35] metaxmx commented on #6387
Oh, I didn't realise that additional decimal zeroes would influence the BigDecimal's scale property. Sorry I missed this in my original PR #5505
Thanks for fixing it @melloware

[2020-10-05 17:39] melloware commented on #6387
No problem your fix was much appreciated!

[2020-10-05 18:33] melloware opened #6394 "Timeline: Update vis-timeline 7.3.10"
**Description**
Update to vis-timeline 7.3.10

[2020-10-06 07:50] aligit commented on #6392
Dear @melloware I resolved this problem with the position attribute. I was using the absolute position. Apologies for the inconvenience.
Best Regards

[2020-10-06 07:50] #6392 closed, assigned to nobody

[2020-10-06 09:55] #6358 closed, assigned to dieuph

[2020-10-06 10:16] arunvc opened #6396 "FileUpload: confirm alert"
**Description**
Client side event to ask confirmation alert before upload

**Describe the solution you would like**
`onupload="return confirm('Are you sure?')"`

**Additional context**
Forum posts
https://forum.primefaces.org/viewtopic.php?t=59755
https://forum.primefaces.org/viewtopic.php?t=56412

[2020-10-06 14:31] thogau commented on #5359
Any chances to have it fixed on the 7.x branch ?

[2020-10-06 21:58] #6344 closed, assigned to melloware

[2020-10-06 22:21] mertsincan commented on #6344
Hi all,

I made the following changes;
- Added slotLabelFormat to primefaces-p.taglib.xml
https://fullcalendar.io/docs/slotLabelFormat
- Removed monthNames, monthNamesShort, dayNames and dayNamesShort;
https://fullcalendar.io/docs/v4/upgrading-from-v3
Users can use the extender method to customize these options. Please see "Locales" section in the above link.
- For backward compatibility, options

[2020-10-07 15:37] melloware opened #6397 "Slider: InputNumber two way sync is not working"
From Stack Overflow: https://stackoverflow.com/questions/64240342/how-to-update-a-pslider-from-the-pinputnumber-it-is-for

1) Environment

PrimeFaces version: 8.0

2) Expected behavior

Two way syncing of InputNumber and Slider should work.

3) Actual behavior

You can see its broken on the Showcase currently: https://www.primefaces.org/showcase/ui/input/slider.xhtml in the "InputNumber Slider" ex

[2020-10-07 16:20] melloware commented on #6397
OK investigating more issues using InputNumber with Slider maybe related to autonumeric update.

[2020-10-07 16:33] melloware commented on #6397
Attached is reproducer:
[pf-6397.zip](https://github.com/primefaces/primefaces/files/5342225/pf-6397.zip)

If you need this fix apply this JS to your code to MonkeyPatch it:
[code]

[2020-10-07 16:58] #6379 closed, assigned to melloware

[2020-10-07 17:14] melloware commented on #6375
As a note the build now has this warning but it seems harmless I just hate warnings..
[code]

[2020-10-07 21:23] stolp opened #6399 "Global: Parse Errors in configuration files - revealed in Eclipse"
**Describe the defect**
Checking out the current project tree with the current Eclipse release reveals two errors:

`src/main/type-definitions/tsconfig.json`: Expected name at 30:4

This is due to a superfluous comma in line 29 which can be safely removed.

`src/conf/checkstyle.xml`

http://www.puppycrawl.com/dtds/configuration_1_2.dtd
should be replaced with
https://checkstyle.org/dtds/configurat

[2020-10-08 08:38] jepsar opened #6401 "SelectOneListbox: can scroll item selected by mouse click out of view because of focus"
**Reproducer**
https://www.primefaces.org/showcase/ui/input/listbox.xhtml

**Environment:**
 - PF Version: _8.0_ and _9.0-SNAPSHOT_
 - Affected browsers: _Chrome_ (in Firefox the page moves up slightly).

**To Reproduce**
Scroll down to the point that "Omega" is at the top of the screen. Then click "Omega". Page scrolls to top.

**Expected behavior**
No scrolling.

[2020-10-08 08:39] jepsar commented on #6401
I can have a look at the cause tonight.

[2020-10-08 11:04] #6399 closed, assigned to stolp

[2020-10-08 12:22] melloware commented on #6401
Also might be related: https://stackoverflow.com/questions/64230954/pselectonelistbox-scroll-to-pre-selected-item

[2020-10-08 13:00] Rapster commented on #5438
This PR is ready for review. I'm quite happy about the result 😄

[2020-10-08 17:57] jepsar commented on #6355
@melloware could you set the milestone for this issue, please?

[2020-10-08 17:58] melloware commented on #6355
Done! Don't know how i missed that!

[2020-10-08 19:18] jepsar commented on #6401
I narrowed it down to this line. I put a breakpoint there. Right after that line the scrolling has happened. But I don't know where I can find the source of the `focus` method that is triggered.

https://github.com/primefaces/primefaces/blob/f882f4e50bf48dda28dfa4c6f52a623422023af4/src/main/resources/META-INF/resources/primefaces/forms/forms.selectonelistbox.js#L47

[2020-10-08 19:37] melloware commented on #6401
That is Jquery .focus() which if the input control gets focus i wonder if the browser is automatically scrolling to it.

[2020-10-08 20:16] melloware commented on #6401
See: https://stackoverflow.com/questions/4898203/jquery-focus-without-scroll

[2020-10-09 05:43] jepsar commented on #6401
The focus line was intended for keyboard navigation:

https://github.com/primefaces/primefaces/blob/f882f4e50bf48dda28dfa4c6f52a623422023af4/src/main/resources/META-INF/resources/primefaces/forms/forms.selectonelistbox.js#L44-L47

I think we can make that part conditional. See https://stackoverflow.com/a/35034284/880619 and https://stackoverflow.com/questions/19244666/how-to-detect-if-click-event-

[2020-10-09 06:14] jepsar commented on #6401
I think I'll be solving this like:

[code]

Where `PrimeFaces.utils.isKeyboard` contains `return event.originalEvent.detail === 0;`.

[2020-10-09 09:23] GedMarc commented on #5696
Ok I think I get it now, en_GB is actually one 'y' not a 4 year, this is a fix between JDK 8 and JDK 12, it's not a regression but a fix  to the standard -

@christophs78  Are you running this with a module-info file or straight old classpath mode?

[2020-10-09 10:10] christophs78 commented on #5696
I tried this with a new blank Java-project with IntelliJ on Java14. Whatever this does automatically.
Do you think this make a difference for this issue?

[2020-10-09 11:33] melloware commented on #6401
I see this note in StackOverflow: "IE11 event.detail is 0 for both mouse and keyboard click events "

So it may works for other browser but in your function you may have to check if `Primefaces.isIE()` then `if (evt.screenX == 0 && evt.screenY == 0) {` which works for IE?

[2020-10-09 14:20] jepsar commented on #6401
.. actually, I think it should be something like:

[code]

or even

[code]

and there focus but not scroll if the mouse was used.

[2020-10-09 21:07] Rapster opened #6402 "DataTable: cleanup filtering"
**Description**
Clean up filtering following #5438 fix.

**Update**
- DataTable#filterBy: expect a list of FilterMeta and no longer a map
- FilterFeature#filter: performance killer (iterate over every single cells, while it could only iterate over changed columns)

[2020-10-09 21:47] melloware commented on #6402
Have you reviewed PR #6295 from @christophs78  ??

[2020-10-09 22:38] Rapster commented on #6402
I renamed the PR and the corresponding issue (as the title was not 100% correct)

[2020-10-10 10:24] jepsar commented on #6401
.. or even not changing anything at all on the PrimeFaces side and override the jQuery `focus` method in my project. I think that's the best solution here. Shall I close this issue?

[2020-10-10 12:24] #6401 closed, assigned to jepsar

[2020-10-10 12:25] melloware commented on #6401
Yep I closed it but you might want to post here you overridden Jquery focus just for others who find this thread to see.

[2020-10-10 14:21] melloware commented on #6396
I decided to call it `onupload` instead of `onbeforesend`.

[2020-10-10 14:52] melloware commented on #665
Fixed in 9.0. See: https://github.com/primefaces/primefaces/issues/6360

[2020-10-10 14:53] melloware commented on #1355
Fixed in 9.0.

See: https://github.com/primefaces/primefaces/issues/6360
See: https://github.com/primefaces/primefaces/issues/6361

[2020-10-10 14:59] melloware commented on #5696
Also this ticket from @blutorange addresses this issue at last with some of our conversions in code as he handles 1 letter year etc: https://github.com/primefaces/primefaces/issues/6257

But I still think the underlying problem is in `f:convertDateTime` and JDK11+ for these.

[2020-10-10 16:48] Rapster commented on #6402
I don't know if anyone can help me to understand what it is done here. Regarding globalFilter & globalFilterFunction, from the moment a row matches globalFilter using globalFilterFunction, there is no need to iterate over the columns right? From what I read, even though there is a global match, it keeps iterating... Am I missing something?

https://github.com/primefaces/primefaces/blob/b987875ca6b

[2020-10-10 18:56] melloware commented on #6402
I agreee why can't it just `continue` in the row loop
[code]

The one in the repeating row

[2020-10-11 12:07] melloware commented on #4300
[pf-cal.zip](https://github.com/primefaces/primefaces/files/5361026/pf-cal.zip)

Uploading this reproducer to prove its fixed

[2020-10-11 12:23] #6335 closed, assigned to christophs78

[2020-10-11 13:44] Rapster commented on #6402
I think I understand the confusion. First, variable names: it's not about whether or not the filter input is matching the column value or the entire row, but more, is the row/column eligible as a result, see the difference? For example, the filter might be null, the column value not but still "matching"... To go back to my last post, when globalMatch is true, it means either there was a real match

[2020-10-11 14:06] melloware commented on #6402
Oh I see.  I think this section definitely needs some better in line comments!

[2020-10-12 09:18] #6396 closed, assigned to melloware

[2020-10-12 09:20] #6394 closed, assigned to melloware

[2020-10-12 12:06] melloware commented on #3812
OK i was able to take UI Repeat out of the equation and reproduce the problem with dynamic TabView.
Both examples are included in this reproducer:
[pf-3812.zip](https://github.com/primefaces/primefaces/files/5364992/pf-3812.zip)

UIRepeat: http://localhost:8080/primefaces-test/repeat.xhtml

TabView: http://localhost:8080/primefaces-test/tabview.xhtml

Shows the same behavior so its not related to

[2020-10-12 12:37] christophs78 opened #6404 "DataExporter: should not require ajax="false""
DataExporter requires to set `ajax="false"` for `p:commandButton`.

We already solved this for `FileDownload`. (https://github.com/primefaces/primefaces/issues/5978)
I´ll hope we can do the same for `DataExporter`.

[2020-10-12 12:38] tandraschko commented on #6404
+1, would be a great addition

[2020-10-12 13:02] #6391 closed, assigned to christophs78

[2020-10-12 13:12] melloware commented on #6391
OK i am watching this build to make sure it works.  The first build will be slow because it has to cache all the Maven JARs.

[2020-10-12 13:29] #5465 closed, assigned to christophs78

[2020-10-12 14:25] tandraschko commented on #6355
@jepsar i have to reopen as i found some "weird" stuff:

1) bindViewChangeListener now fires 2 AJAX event if viewChange is defined; there should only be one
2) the lazyModel request does not define a event name, therefore we cant check whats the reason of the request on the server side
3) because of 2) we ALWAYS encodes the metadata now DatePickerRenderer#encodeEnd, even if the DatePicker IS NOT t

[2020-10-12 14:26] tandraschko commented on #6355
would be great if you can polish it

[2020-10-12 14:26] tandraschko commented on #6355
I also did some renamings and therefore reviewed it

[2020-10-12 14:41] melloware commented on #6355
I updated the Showcase as well for Metadata changes you just made.

[2020-10-12 15:02] jepsar commented on #6355
I'll look into it

[2020-10-12 19:51] jepsar commented on #6355
Can someome please explain how

https://github.com/primefaces/primefaces/blob/8064e53c5725e2eb13f82e64905d5cccf1343a18/src/main/resources/META-INF/resources/primefaces/schedule/1-schedule.js#L271

relates to

https://github.com/primefaces/primefaces/blob/8064e53c5725e2eb13f82e64905d5cccf1343a18/src/main/resources/META-INF/resources/primefaces/schedule/1-schedule.js#L315-L318

?

Also, based on @ta

[2020-10-12 19:53] melloware commented on #6355
Its possible its missing in Schedule also.

[2020-10-13 11:48] Rapster opened #6409 "Datatable: ColumnGroup refactoring"
**Description**
Columns grouping follows a very "unconventional" approach: 13 columns have to be defined when only 5 are displayed! My guess, is that no solution have been found at the time to render nested tr/th. Consequence of this, is the current implementation makes the code very hard to maintain at very low level for us as PF developers, but also for developers using column grouping. I can se

[2020-10-13 11:55] melloware commented on #6409
I have never used column groups so i will let @mertsincan chime in on this one.

[2020-10-13 12:53] christophs78 opened #6410 "DataTable: use position:sticky for Sticky Header"
Sticky Header is currently solved with JS.

With position: sticky there´s a native CSS-feature for this. (see https://developer.mozilla.org/en-US/docs/Web/CSS/position)
All browsers except IE11 implement this.
Maybe we should have a look at this. I´ll hope this works more stable than our current solution.

There are currently some open issues regarding this: https://github.com/primefaces/primeface

[2020-10-13 12:58] christophs78 commented on #6410
https://css-tricks.com/position-sticky-and-table-headers/

[2020-10-13 13:55] melloware commented on #6410
Agreed the current Sticky in Datatables has caused a lot of issues.  Maybe we can do an if `Primefaces.isIE()` and use the current sticky but use CSS for all other browsers?

[2020-10-13 14:06] mossaab0 opened #6411 "Schedule: Invisible Unless Another PF Component Is Present"
**Describe the defect**
The following page renders fine. But when I remove `<p:button/>`, the schedule isn't shown anymore.

[code]

**Environment:**
 - PF Version: 8.0
 - JSF + version: joinfaces 4.3.0 (primefaces-spring-boot-starter, mojarra-spring-boot-starter).
 - Affected browsers: ALL

**Expected behavior**
The schedule should appear even when there is no `<p:button/>`.

[2020-10-13 14:09] melloware commented on #6411
Duplicate of https://github.com/primefaces/primefaces/issues/6157

Already fixed in 8.04 and 9.0

[2020-10-13 14:09] #6411 closed, assigned to nobody

[2020-10-13 14:09] tandraschko commented on #6411
Please use the search next time before creating a new issue.

[2020-10-13 14:12] mossaab0 commented on #6411
Thanks @melloware!
@tandraschko I did search. But I didn't find it (As you can see, the body of the two issues are widely different).

[2020-10-13 14:33] mossaab0 opened #6412 "Schedule: Poll Inconsistently Causes a Scroll Up"
**Describe the defect**
In the snippet below, when I scroll to the bottom of the page (such that the schedule header isn't visible anymore), then no problem occurs following a poll. However, if I reduce `height: 10000px` to  a smaller number, such as `200px`, then the page keeps scrolling to the top after each poll.

[code]

[code]

**Environment:**
 - PF Version: 8.0
 - JSF version: joinfaces 4.3

[2020-10-13 14:40] melloware commented on #6412
I believe part of your issue is this: https://github.com/primefaces/primefaces/issues/6382

Fixed by: https://github.com/primefaces/primefaces/pull/6383/files

[2020-10-13 14:41] mossaab0 commented on #6412
But there are no URLs in the schedule (it actually doesn't have any events).

[2020-10-13 14:43] melloware commented on #6412
Then why does your issue say this "The schedule renders fine. However, when I click on the URL of the event, the browser opens a new about:blank tab. Once I close it, I find that the original tab navigated correctly to the intended URL."

[2020-10-13 14:45] mossaab0 commented on #6412
I said that in that other issue. Now, in the issue I've just opened, the schedule doesn't have any events.

[2020-10-13 14:50] tandraschko commented on #6412
i think thats by design. If you update the component, it rerenders and with the initial scrollt position.

[2020-10-13 14:51] mossaab0 commented on #6412
@tandraschko I don't get it. Why does it scroll to the top when `<div style="height: 200px"/>`, while it doesn't scroll when `<div style="height: 10000px"/>`?

Whatever the design is, it should be consistent.

[2020-10-13 14:52] tandraschko commented on #6412
i dont know, i didnt test your case. Its just a normal behavior that if you update it, that it rerenders.

[2020-10-13 14:53] melloware commented on #6412
[pf-6412.zip](https://github.com/primefaces/primefaces/files/5372176/pf-6412.zip)

I can't reproduce with the attached reproducer?  the poller is working fine and the page is not scrolling back up?

[2020-10-13 14:57] christophs78 commented on #6412
Maybe it would be better to update with `PF('myschedule').update();` JS instead of p:poll. eg triggered by https://www.w3schools.com/jsref/met_win_setinterval.asp
Also see https://primefaces.github.io/primefaces/8_0/#/components/schedule?id=ajax-updates.

[2020-10-13 15:24] mossaab0 commented on #6412
Correct. It does not scroll up with `height: 10000px`. But it scrolls up with `height: 200px`

[2020-10-13 15:37] mossaab0 commented on #6412
That actually ended up to be a nice workaround to avoid `p:poll`. The page didn't scroll. Thanks!

[2020-10-13 16:36] melloware commented on #6412
Should we mark this as WontFix @tandraschko this is just how polling and updates work?

[2020-10-13 17:09] tandraschko commented on #6412
Yep

[2020-10-13 17:09] #6412 closed, assigned to nobody

[2020-10-14 08:06] jepsar commented on #6355
What about the JavaScript part? I'm trying to fully understand how the schedule component works, and then try to port that to the date picker.

[2020-10-14 11:36] melloware commented on #6355
@jepsar I think all @tandraschko is saying is change this line...
[code]

to the more correct...
[code]
In fact looking through the code base we are still doing the first option above in a lot of places that should be switched to `isRequestSource`

[2020-10-14 11:59] tandraschko commented on #6355
i general
`
if (ComponentUtils.isRequestSource(datePicker, context) && event == 'viewChange') {
`

and merge both ajax requests on the client side

[2020-10-14 12:06] melloware commented on #6355
@tandraschko should I create another ticket to refactor all the places doing it Like #1 above to use `ComponentUtils.isRequestSource(datePicker, context)` ??

[2020-10-14 12:38] tandraschko commented on #6355
you can but its likely more work then just change the if - we should encode the special logic on special events
so isRequestSource isnt enough in most cases

[2020-10-14 12:44] jepsar commented on #6355
I would like to, but I fail to see how that's done in the schedule component. Can someome please explain how

https://github.com/primefaces/primefaces/blob/8064e53c5725e2eb13f82e64905d5cccf1343a18/src/main/resources/META-INF/resources/primefaces/schedule/1-schedule.js#L271

relates to

https://github.com/primefaces/primefaces/blob/8064e53c5725e2eb13f82e64905d5cccf1343a18/src/main/resources/META-IN

[2020-10-15 06:16] jepsar commented on #6355
I think I found the solution in the data table JavaScript.

[2020-10-15 11:42] #6334 closed, assigned to melloware

[2020-10-16 11:31] melloware opened #6414 "Core: moment.js is deprecated"
### Feature Description

moment.js considers itself now deprecated. See: https://momentjs.com/docs/#/-project-status/

Recommend moving to a modern replacement library such as Luxon.

[Luxon](https://moment.github.io/luxon/)
Luxon can be thought of as the evolution of Moment. It is authored by Isaac Cambron, a long-time contributor to Moment. Please read [Why does Luxon exist?](https://moment.gith

[2020-10-16 11:55] mertsincan commented on #6410
Please see my comment; https://github.com/primefaces/primefaces/issues/4469#issuecomment-457107038

[2020-10-16 12:02] melloware commented on #3812
From PrimeTek: _"We cannot use such repeating components with *:repeat. This requires massive changes in components. That's why JSTL forEach is the ideal solution for this kind of work"_

The recommendation for `c:forEach` and the working example is attached here:
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/5391339/primefaces-test.zip)

[code]

[code]

[2020-10-16 12:02] #3812 closed, assigned to nobody

[2020-10-16 12:03] melloware commented on #929
From PrimeTek: _"We cannot use such repeating components with *:repeat. This requires massive changes in components. That's why JSTL forEach is the ideal solution for this kind of work"_

The recommendation for `c:forEach` and the working example is attached here:
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/5391339/primefaces-test.zip)

[code]

[code]

[2020-10-16 12:06] tandraschko commented on #929
hmpf
im not happy with this answer :D everything else works fine, so i think it should be possible to make it work in repeat actually

[2020-10-16 12:10] melloware commented on #929
That's from PrimeTek through the PRO account. Basically saying don't do this.  So I am leaving my custom "hack" in my client's overridden DataTable for now.

[2020-10-16 12:11] tandraschko commented on #929
can you do me favor and test the whole datatable, if all other features are working fine inside a repeat tag?

[2020-10-16 12:20] mertsincan commented on #6410
Please try the following code on https://www.primefaces.org/showcase/ui/data/datatable/basic.xhtml
[code]

[2020-10-16 12:42] melloware commented on #929
OK it does look like Sorting and Filtering is also broken.  If you sort table 1 then table 2 is also sorted.

[2020-10-16 13:03] christophs78 commented on #6410
We have to put some attention to top-property:

With theme-banner:
![image](https://user-images.githubusercontent.com/10461942/96261143-550d3b00-0fc0-11eb-87c7-ea394de94330.png)

Without theme-banner:
![image](https://user-images.githubusercontent.com/10461942/96261235-753cfa00-0fc0-11eb-9ab8-eb56fcc491d0.png)

The combination with filter does not cause extra issues:
![image](https://user-images.g

[2020-10-16 13:07] christophs78 commented on #6410
Do we need to set top-property dynamic via JS? (And update it on window-resize-event, after ajax-updates, ...)

[2020-10-16 13:08] stolp commented on #6410
I think this is related to what I raised in #5387

[2020-10-16 13:10] melloware commented on #6410
@stolp is correct see my comment: https://github.com/primefaces/primefaces/issues/5387#issuecomment-608728849  So yes i think Top needs to be done with JS not calculated once at the start of the page.

[2020-10-16 14:17] christophs78 commented on #6410
From it´s basic idea
[code]
would do it´s job without extra JS.

The issue why this does not work seems to be because of:
[code]

Mert tries to compensate this with
[code]

I´ll hope we may find a other way than fiddling arround with JS all the time to adjust top-property dynamically.

[2020-10-16 14:19] melloware commented on #6410
Yep because that topbar is added with JavaScript after the page is done loading.  So that 140px topbar is not in the DOM when the Datatable was rendered its added to the page afterward thus causing top 0px not to work.

[2020-10-16 14:42] stolp commented on #6410
In my application, I have a similar layout, but there is no JavaScript involved to change the DOM.

Yet it also failed similar to the behavior seen in the showcase. My theory is still, that the calculation of the position of the element the sticky is attached to is ignoring some offset here.

[2020-10-17 02:20] MP2E opened #6416 "Calendar/DatePicker: tabindex order lost on selecting a date/time"
**Describe the defect**
If you click a date/time in the calendar widget, then press tab, it goes to the very top of the browser instead of the next item in the tab order

Note that if you just click the box and don't select anything in the Calendar widget, and press tab, it behaves as expected

datePicker mostly works as expected, unless showTime="true" while timeOnly="false", in that case tab ord

[2020-10-17 12:43] melloware commented on #6416
I think in both `Calendar` and `DatePicker` you want to add `focusOnSelect="true"`.

https://primefaces.github.io/primefaces/8_0/#/components/calendar?id=attributes

_If enabled, the input is focused again after selecting a date. Default is false._

[2020-10-17 19:23] christophs78 opened #6418 "SelectOneMenu: performance-optimization"
Especially for SelectOneMenu´s with a huge amount of SelectItems. (hundreds to thousands)

some ideas:

- [x] SelectOneMenuRenderer#encodeSelectItems; improve selected-check
- [x] SelectOneMenuRenderer renders currently encodeHiddenSelect and encodePanelContent; instead render only encodeHiddenSelect on the server; use this to render the panel on the client with JS; with custom content keep it as-

[2020-10-17 21:03] tandraschko commented on #6418
Is 2) really faster? Please provide a Benchmark on different Browser

+1 for 1)

[2020-10-18 10:38] #6355 closed, assigned to jepsar

[2020-10-18 10:54] tandraschko opened #6420 "Schedule: fix encodeEnd behavior"
See https://github.com/primefaces/primefaces/pull/6417

Can someone take this?

[2020-10-18 12:12] jepsar commented on #6420
@tandraschko I can have a look. Should be very similar to the date picker.

[2020-10-18 13:43] melloware commented on #6416
Will close for now unless I hear back from OP.

[2020-10-18 13:43] #6416 closed, assigned to nobody

[2020-10-19 00:15] jxmai opened #6421 "Datatable: filter not working with column created with JSTL"
**Describe the defect**
Datatable filter is not functional if a column created by c:foreach since commit: https://github.com/primefaces/primefaces/commit/67f5999bbcc95691c7d9a12030debbd7da58b93e

**Reproducer**
PrimeFaces-Test zip:
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/5398261/primefaces-test.zip)

How to run: extract the zip file and use command **mvn clean jetty:ru

[2020-10-19 07:19] tandraschko commented on #6421
would be great if you can debug and provide a PR

[2020-10-19 10:28] Rapster commented on #6421
The problem is that, filterBy key map is deduced from `UIColumn#filterBy` or `UIColumn#field`  and since you have multiple columns with same key, only the last one will be kept, therefore filtering on last column will work.

 In #5438 and #6402 I changed that so the map is keyed by `UIColumn#columnKey` (not my initial plan, but avoid few issues just like this one). My question is now, why would ha

[2020-10-19 11:57] melloware commented on #6421
@Rapster I linked your PR since I do believe it does fix this issue.  Correct me if I am wrong.

[2020-10-19 12:06] melloware opened #6422 "ChartsJs: v2.9.4"
**Description**
Final release of the 2.X branche of ChartsJS.  3.0 is a big upgrade which we can do in PF10.

https://github.com/chartjs/Chart.js/releases/tag/v2.9.4

[2020-10-19 12:13] GedMarc opened #6423 "DataTable : Migrate to using "actual" DataTable"
Please migrate the current custom implementation (that has TONS of issues and queries) of DataTable to the global standard library "DataTable"

https://www.datatables.net/

This will resolve and minimize custom development of already finished and closed/confirmed items across all UI platforms, as well as reduce the development and time required to maintain the current home-grown version of it

The

[2020-10-19 12:18] melloware commented on #6423
@GedMarc we could always make this a PFE component to let it burn in and work out bugs and if its successful can be migrated over to PF.  Plus that would give users a migration path while still having the current PF datatable and use the PFE one.  Thoughts?

[2020-10-19 12:25] stolp commented on #6423
My initial thought was, why is this implementation "the global standard library"? No offense meant, but aren't there lots of others?

Given the vast amount of options the current Datatable implementation offers, I simply cannot imagine that it can be fully replaced by any other implementation without breaking a lot of applications out there.

I agree that going the PFE road is a good choice and I

[2020-10-19 12:27] Rapster commented on #6423
It is a fair statement, I thought about it recently. Whenever I need to see what is the "standard" behavior about datatable, I go to datatables.net. PF datatable suffers from his own complexity, something I'm trying to fix gradually, I believe once PRs and few other thing will be merged. it'll be a lot more accessible for the community to understand.

datatables.net would probably makes a lot of t

[2020-10-19 12:39] GedMarc commented on #6423
@stolp I generally use 'standard' as the one with the widest adoption, across platforms and languages. DataTables holds that flag for many years now :) There are a lot of them out there, but one of the restrictions is that is must be "JQueryUI" friendly - so it thins out the flock quite a lot - if there is another 'standard' one, can you send me to the location?
you've got jqGrid, slick and DataTa

[2020-10-19 12:39] #6423 closed, assigned to nobody

[2020-10-19 12:47] tandraschko commented on #6423
thats not true actually, its much more.

[2020-10-19 12:48] tandraschko commented on #6423
and i personally dont think that we will ever migrate to another datatable JS as much as i know PrimeTek ;)

[2020-10-19 12:52] GedMarc commented on #6423
@tandraschko hmm, possibly, I disagree though (https://github.com/primefaces/primefaces/blob/62c72bd2d5fbcecd11bfea16caf0d3202fd327ef/pom.xml#L660)
PF uses more 3rd party than native without a doubt, which is correct, isn't PF more a transcoder from JSF to HTML than a JavaScript component library anyway? :) It's not a problem though -
Either way, that's definitely the feeling out there in the worl

[2020-10-19 13:15] melloware opened #6425 "DataExporter: PDF in Landscape Mode"
**Description**
A feature that PFE Exporter that we need to bring over to PF is the ability to render PDF in Landscape mode to give it more room to render.

See: https://github.com/primefaces-extensions/primefaces-extensions/issues/133

[2020-10-19 13:26] tandraschko commented on #6423
Still unsure. I think 1/3 of the JS is PF native. (not just the "core" directly is PF native).

PrimeFaces decided very early to replace jquery plugins by own scripts as the better fit JSF and most of them were not easily extendable.
In general PF is a JavaScript component library, which add-in jquery components via the "Widgets". Is a completely own js-side widget framework with defined lifecycle

[2020-10-19 15:16] Rapster commented on #6421
The pending PR won't fix it, I'm waiting for that PR to be merged first before I can submit the new one (for #6402, which I already started to work on)

[2020-10-19 17:21] melloware commented on #6410
I did some digging on this and it seems "top" or "bottom" is required for CSS sticky.  However right now in Datatable we have the property `stickyTopAt` which dynamically figured our the top of that component with JS and sets it.

I cannot seem to get this to work with `position:sticky` although I will admit I am not expert it seems that CSS style must have it and dynamically setting it with JS do

[2020-10-19 17:25] Rapster commented on #2269
We should then remove log "SubTable has been deprecated, use row grouping instead" then no? Also, if you all think subTable is not deprecated then showcase should be updated accordingly with a better example, because as far as I can tell (and I'm not using subTables) subTable does not seem to be bring a lot to the table as it look like a row grouping/column grouping/summary row example 😅

[2020-10-19 17:27] melloware commented on #2269
Or @Rapster we can reopen this ticket if you think during your refactoring removing it makes the Datatable more maintainable and its able to accomplish this with other ways?

[2020-10-19 17:53] Rapster commented on #2269
Nah basically I'm just asking to fellow users to propose a better example in showcase 😉

[2020-10-20 05:34] gannulee opened #6427 "Datatable: filter issue with retaining object values when filter returns no rows"
I am using primefaces(6.2) datatable, while using column filter I am observing a weird behavior, though all the columns (with outputText, inputText) retain the object value, columns with 'selectOneMenu', 'selectBooleanCheckbox' not retaining the object value and returning null, false.
Issue occurring only while performing the filter and filer returns no rows, if the filter returns at least one row

[2020-10-20 07:51] tuerker opened #6428 "File Upload: NPE"
Regularly, every few days, we have the following type of entries in our log which are related to the file upload widget.
However, we have no user reports and no reproducible case. Obviously there is an NPE. Would be great if you could have a look into and fix it.
Thanks in advance.

[code]

[2020-10-20 07:57] sasynkamil commented on #6117
Unfortunatelly this bugfix is urgent for us. I haven't found any planned date for PF 9 release. But based on the previous releases, Am I right PF 9 will be released around March or April 2021?

[2020-10-20 08:08] tandraschko commented on #6428
added some null checks, not sure if other NPEs will follow
As we dont have a reproducer, i will close it for now.

[2020-10-20 08:08] #6428 closed, assigned to tandraschko

[2020-10-20 08:44] Rapster commented on #6427
Can you please provide a reproducer using https://github.com/primefaces/primefaces-test?

[2020-10-20 11:38] #6425 closed, assigned to melloware

[2020-10-20 11:40] melloware commented on #6117
@sasynkamil PrimeTek had talked about releasing PF 9.0 in October/November timeframe so it may be sooner than next Spring.

[2020-10-20 11:44] melloware commented on #6427
@gannulee Without a reproducer mentioned by @Rapster there is no way devs can help debug the problem.

[2020-10-20 12:21] blutorange commented on #6117
@sasynkamil If you have time it would also be great if you could try out the current snapshot version (https://github.com/primefaces/primefaces/issues/6117#issuecomment-656624814) and see if it solves your problem.

[2020-10-20 12:50] #6420 closed, assigned to melloware

[2020-10-20 13:00] melloware opened #6430 "DataExporter: Align cells based on column alignment"
**Description**
Another feature that PFE Exporter has that needs to be migrated is the ability to right, center, and left align cells in PDF and Excel exports.

See: https://www.primefaces.org/showcase-ext/sections/exporter/columnAlignments.jsf

Right now I don't like the way PFE does it assuming that your column is `<h:outputText>` and checking its styles.  It should check the `<p:column>` itself

[2020-10-20 13:06] stolp commented on #6430
Great improvement.

[2020-10-20 13:28] stefanpr commented on #4840
Will this issue be fixed in Primefaces 9.x?

[2020-10-20 13:37] melloware commented on #4840
@tandraschko @Rapster I think we need to revert  https://github.com/primefaces/primefaces/issues/2825 because many people have come upon this issue.  Thoughts?

[2020-10-20 13:41] tandraschko commented on #4840
make it configurable is better probably

[2020-10-20 13:53] vitsin opened #6431 "Content Security Policy: The page’s settings blocked the loading of a resource at inline (“script-src”)."
**Describe the defect**
when using p:selectOneMenu with p:ajax on another p:selectOneMenu, getting CSP error and second f:selectItems never get updated.

**Reproducer**
project to reproduce the issue:
[jsf22.pf8.zip](https://github.com/primefaces/primefaces/files/5409102/jsf22.pf8.zip)

**Environment:**
 - PF Version: 8.0.4
 - JSF 2.2: Mojarra 2.3.24
 - Affected browsers: Chrome, Firefox, MS Edge

[2020-10-20 14:49] Rapster commented on #4840
I don't think we should revert. We recently migrate to PF 8.0, and are quite happy about no longer displaying empty footer. In this scenario, it makes sense to use @melloware solution _(using CSS style, should work also without h:panelGroup)_

But also, when I read this:
[code]

I expect it to work... The thing is, the `h:panelGroup` is the facet, and `ComponentUtils.shouldRenderFacet` starts from

[2020-10-20 15:32] melloware commented on #6431
Can't reproduce:
[pf-6431.zip](https://github.com/primefaces/primefaces/files/5409751/pf-6431.zip)

Run `mvn clean jetty:run` and navigate to: http://localhost:8080/primefaces-test/test.xhtml

CSP is working fine with the example.  Its using just JSF 2.2, Mojarra, and PF and takes Spring out of the equation.

[2020-10-20 16:25] melloware commented on #6431
You could compare my View Source of the HTML page to compare to your version to see what is different.

[2020-10-20 17:18] vitsin commented on #6431
thanks, so is it JoinFaces or Spring guys should I go with this issue than ?

[2020-10-20 17:27] melloware commented on #6431
No I would first run my demo and right click in the Browser and do "View Source" and save it as HTML.  then I would do the same with your project and see what in the HTML or JS is different to narrow it down.

But yes its safe to say its not a PrimeFaces issue as far as I can reproduce.

[2020-10-20 17:30] #6418 closed, assigned to christophs78

[2020-10-20 18:33] vitsin commented on #6431
no luck with jetty with your pom.xml: "Plugin could not be resolved".

Here is attached for your review View Source HTML for my original project page under Spring:
[jsf22pf8.selectonemenu.html.zip](https://github.com/primefaces/primefaces/files/5410813/jsf22pf8.selectonemenu.html.zip)

[2020-10-20 18:53] melloware commented on #6431
It looks like something is wrong and you maybe have Multiple PF JARs in your classpath?

Your HTML:
[code]

My HTML:
[code]

See how yours has the version 8.0.4 appended 3 times?  That is definitely not right.

[2020-10-20 18:55] melloware commented on #6431
And your "Plugin could not be resolved". is because you are using an in house Maven resolver?  That should work fine as that Plugin is available in Maven Central.

[2020-10-20 19:09] christophs78 opened #6433 "Github Actions CI: run Sonar Cloud only for primefaces/primefaces"
Currently it´s also executed for master-branch of forks / clones. (And does not work there.)
https://forum.primefaces.org/viewtopic.php?f=3&t=63854

[2020-10-20 19:11] melloware commented on #6431
Also you are using `p:layout` which has been removed for PF 9.0 so I would not use it.
https://github.com/primefaces/primefaces/issues/2168

[2020-10-20 19:13] melloware commented on #6433
I think you can make the line:
[code]

[2020-10-20 19:13] christophs78 commented on #6433
Yep. PR incoming. :-)

[2020-10-20 19:20] #6433 closed, assigned to christophs78

[2020-10-20 19:29] vitsin commented on #6431
thanks for your help,
1.p:layout - will remove
2."in house Maven resolver?" - not at all, my pom.xml is attached to original issue project, would love to if you can help me with it.
3."See how yours has the version 8.0.4 appended 3 times?" - yes, its because I had primefaces-8.0.4.jar, primefaces-8.0.4-javadoc.jar and primefaces-8.0.4-sources.jar assigned to project from user lib.
Once removed, th

[2020-10-20 19:34] melloware commented on #6431
I can't run your project with `mvn spring-boot:run` it fails with...
[code]

[2020-10-20 19:35] vitsin commented on #6431
[jsf22.pf8.zip](https://github.com/primefaces/primefaces/files/5411113/jsf22.pf8.zip)
sorry about that, here it goes.

[2020-10-20 19:52] melloware commented on #6431
OK I am running your project and when I watch the Network traffic with F12 in Chrome.

I see every one of your AJAX reuqests doing a POST and getting a 302 redirect and then a GET. And look at the output of your get.
[code]

See how ViewState is `e1s1` that is wrong that is the value on your URl?

Something is seriosuly wrong with all of the filtering or magic going on here.  here is what the prop

[2020-10-20 19:52] #6431 closed, assigned to nobody

[2020-10-20 20:00] vitsin commented on #6431
sounds like rewrite-spring-boot-starter will require some rule to prevent such redirect. Thank you, I'll keep posted once figured it out.

[2020-10-20 20:04] melloware commented on #6431
OK thanks I think Spring Flow might be the culprit.  I do not use that in Any of my Joinfaces projects and I do use Rewrite URL.

[2020-10-20 20:34] vitsin commented on #6431
no Spring Flow? so what is your replacement than?

[2020-10-20 21:02] melloware commented on #6431
I don't know what spring flow does but I built a large joinfaces project without it.  I followed the joinfaces-example project on how to layout and do a joinfaces project. I highly recommend you do the same.

[2020-10-20 23:34] jxmai commented on #6421
Re: https://github.com/primefaces/primefaces/issues/6421#issuecomment-712004694

Not necessarily true:), that's a simplified sample to expose this bug. We could use `ui:param` to inject index which can be dynamically resolved for displaying different columns, but it would be null currently.

Thanks @Rapster. By the time the new PR is created and merged. This issue should be resolved.

[2020-10-21 06:13] sasynkamil commented on #6117
@blutorange I gave it try, but no luck with switching from PF 8.0  to the latest snapshot. The project we are maintaining contains ohter "deprecated" stuff like  p:editor > p:textTeditor, p:layout > pe:layout and some others. Even if I switched these deprecated components to theirs successtors, UI is broken and I'm getting JS exceptions. I have no time now and I don't promiss, but later I will try

[2020-10-21 08:40] Rapster commented on #4840
@jansohn I'm trying to find a middle ground to make everyone happy, I don't think we should revert what has been introduced in PF 7.0 because in many cases I encoutered, it prevents to display an empty footer (which makes does not make your component nice), but I understand why you see it as a bug.

You can either use @melloware solution, or what about using `disabled` attribute? I'm guessing you

[2020-10-21 08:58] tandraschko commented on #4840
i think the easiest way would be to add a attribute showEmptyFooter, which defaults to false?

[2020-10-21 11:39] melloware commented on #4840
How about attribute `alwaysRenderFacets` that can be used for header or footer?

[2020-10-21 11:42] Rapster commented on #4840
But what about the other components? I can think of `p:panel` also

[2020-10-21 11:44] melloware commented on #4840
Well I think for now lets just solve it for Datatable because it seems to be the one the people are using the most from this ticket?

[2020-10-21 11:45] melloware commented on #6427
Closing for now. Will re-open if OP provides reproducer.

[2020-10-21 13:10] jansohn commented on #4840
I'm also for an attribute to switch between the two options.

[2020-10-21 14:10] gannulee commented on #6427
sure... Many thanks for your response, never tried this before, will check and get back very shortly...

[2020-10-22 13:44] tandraschko opened #6439 "PrimeFaces.ajax().update(): Allow UIComponents as param"

[2020-10-22 13:45] #6439 closed, assigned to tandraschko

[2020-10-22 17:53] pfumi opened #6441 "InputNumber: Default value for "emptyValue" wrong"
**Describe the defect**
The default value for "emptyValue" in
https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/inputnumber/InputNumberBase.java
is "empty"
The default value in the documentation
https://primefaces.github.io/primefaces/8_0/#/components/inputnumber?id=inputnumber
is "focus"

**Expected behavior**
The value "empty" for the attribute emptyValu

[2020-10-22 18:06] pfumi opened #6442 "InputNumber: Open numerical keyboard default on touch devices"
**Description**
The inputNumber component default opens an alphabetic keyboard on touch devices even though it only permits numerical input.

**Describe the solution you would like**
The inputNumber component should default open a numerical keyboard

See: https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/inputmode

[2020-10-22 19:07] tandraschko commented on #6442
Doesnt work, as suffix and prefix wouldnt be supported.
Just use a Input type=number then

[2020-10-22 19:10] melloware commented on #6442
Another option is to see the PFE Calculator example here:
https://www.primefaces.org/showcase-ext/sections/calculator/basicUsage.jsf

it opens up a keypad on InputNumber and it allows prefix and suffix.

[2020-10-22 19:14] #6441 closed, assigned to melloware

[2020-10-22 19:19] melloware commented on #6442
Also from AutoNumerics docs:

So try this..
[code]

[2020-10-22 19:56] pfumi commented on #6442
The solution type="tel" does indeed work. The best solution would be of course to use the "inputMode" attribute. If you decide to add it, can it be pushed to 8.0.5 release aswell?

[2020-10-22 20:02] melloware commented on #6442
You can review my PR.  If it gets approved it will be for 9.0 and up to @mertsincan to merge for 8.0.5 ELITE.

[2020-10-23 07:20] #6442 closed, assigned to melloware

[2020-10-23 08:41] fanste opened #6445 "DatePicker: Race-Condition between input-event and mask support"
**Environment:**
 - PF Version: _9.0-SNAPSHOT_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Select date or enter it manually (do not press any key, after the component accepted the date)
2. Select the whole date using the mouse (not Ctrl+A or similar)
3. Press backspace / delete to clear the input
4. The datepicker won't update it's model

**Expected behavior**

[2020-10-23 08:54] fanste commented on #6445
PR #6446

[2020-10-23 11:08] melloware commented on #6442
@pfumi you can also do this...
[code]

[2020-10-23 11:09] melloware commented on #6445
Great explanation and debugging. Thanks for the fix!

[2020-10-23 11:10] #6445 closed, assigned to fanste

[2020-10-23 11:29] pfumi commented on #6442
Perfect, I didn't even consider that. Thanks

[2020-10-23 15:13] tarwork commented on #6117
I have just tested a few things using the 9.x SNAPSHOT pulled down a few days ago.

I can confirm the resizable and draggable flags are now being honored with this new version.

[2020-10-23 15:36] melloware opened #6447 "InputNumber: Browser AutoFill not working"
**Describe the defect**
If you input a value like "55,55" into an element and submit the form, the browser displays a dropdown select the next time you visit the page and double click the same element.
When you select the previously entered value "55,55" The value is pasted, but as soon as the focus is lost on the input element, autoNumeric deletes the value.

See AutoNumeric defect: https://githu

[2020-10-24 19:03] jepsar opened #6449 "DatePicker: Metadata: add styleClass"

[2020-10-25 18:55] Rapster commented on #5438
I'm thinking also to fix issue #3347, e.g moving `DataTable#nullSortOrder` to `UIColumn` , and change order of execution of checks. In case, `UIColumn#sortFunction` is defined, it deals with nullsortOrder otherwise usual checks. WDYT?

[2020-10-26 12:19] melloware commented on #5438
I like it. The more we move to UI Column the more sense i think it makes.

[2020-10-26 15:36] tuerker opened #6451 "Schedule: height, width, aspectRatio related problem"
I am trying to migrate to the latest PF snapshot which works with the fullcalendar version 5.
However, i am not able to to get it right. I am not sure whether this is a PF or fullcalendar issue?

I have the following use case:

[code]
and following problem depicted in the screenshot below: the height of the calendar is not computed right. it always tries to set height according to the aspectRatio.

[2020-10-26 15:38] melloware commented on #6451
Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2020-10-26 15:38] tuerker commented on #6451
By the way: I was also not able to change the labels of the buttons, e.g. I wanted to change "Current Date" to "Today using the following configuration:

`this.cfg.buttonText = {today: 'Today'};`

[2020-10-26 15:40] melloware commented on #6451
Setting buttonText is now down with Locale. So shoudn't your code be `this.cfg.options.buttonText` ??
See:
[code]

[2020-10-26 15:54] tuerker commented on #6451
thanks for the hints.

[2020-10-26 15:55] tuerker commented on #6451
for the other issue, i have overcomplicated my description. you will immediately see the problem when you go to your show case

https://www.primefaces.org/showcase/ui/data/schedule/configureable.xhtml

and enter 12:00 for slotduration.

[code]

[2020-10-26 15:58] tuerker commented on #6451
if you enter 00:10:00 for slot and want to the have the full height without the scrollbar, then there needs also a means to adapt this

[code]

[2020-10-26 17:08] melloware commented on #6451
From docs: https://fullcalendar.io/docs/contentHeight

try this in your Extender.
[code]

[2020-10-26 17:27] melloware commented on #6451
Adding new `height` attribute to calenda so you can use `auto` if you want no scrollbars or a fixed CSS size like `333px` or `100%`

[2020-10-26 18:08] #6451 closed, assigned to melloware

[2020-10-26 20:00] melloware commented on #2008
Duplicate of: #3571

[2020-10-26 20:01] #2008 closed, assigned to nobody

[2020-10-27 07:29] tuerker commented on #6451
great. many thanks again.

[2020-10-27 09:32] arunvc commented on #3571
Partial submit and update of single rows is a great feature to have
rowIndex based data processing `process=rowId update=rowId
`
but i am not sure if its do able with data table.

[2020-10-27 09:38] Rapster commented on #5438
There is also `DataTable#caseSensitiveSort`...

[2020-10-27 11:44] melloware commented on #2424
I have spent a lot of time investigating this issue.  The problems include:
-  AutoFill is not an HTML5 standard and browsers can choose to respect it how they want to.
-  SelectOneMenu is a custom drawn component with DIV and CSS and a hidden input field where as the browser expects a Text or Select HTML5 element to be able to autofill
- There is no clever trick using a hidden input field to allo

[2020-10-27 11:44] #2424 closed, assigned to nobody

[2020-10-27 11:51] tuerker opened #6453 "InputNumber: Not working anymore as expected"
@melloware With the change from Oct 22, 2020, p:inputNumber is not working as expected anymore.

The problem is caused by line 141 of the class InputNumberRenderer

        String defaultDecimalPlaces = "2";

decimalPlaces should not be set to 2 by default. I know that autonumeric does that, too. But this is simply too restrictive and only useful for "money" numeric data. The PF solution so far wa

[2020-10-27 12:07] melloware commented on #6453
good catch, i was storing the calculated default DecimalPlaces and I should not have been.

[2020-10-27 12:14] #6453 closed, assigned to melloware

[2020-10-27 12:25] tuerker commented on #6453
Thanks for the very quick fix.

[2020-10-27 12:29] tuerker commented on #6453
However, something else must have been changed, too, for p:inputNumber which works differently than before.

When i used p_inputNumber on a BigDecimal or Double attribute, the values were not padded before. For example, when i entered 12 for a BigDecimal field, then 12 was stored in the corresponding database table column. now, however, 12.0000000... is stored. Maybe you know immediately what migh

[2020-10-27 12:30] melloware commented on #6453
That is this fix made by PrimeTek and requested by a PRO user how it used to work before: https://github.com/primefaces/primefaces/issues/6387

[2020-10-27 12:36] tuerker commented on #6453
This is not nice. We have use cases for p:inputNumber with decimalPlaces up to 32. This will blowup all the screens, especially the batch edit table screens such that the numbers will not be readable anymore, even if only one of thousand values actually use some part of the precision.

Do you have an idea how to circumvent this?

[2020-10-27 12:39] melloware commented on #6453
Yep just MonkeyPatch it by adding this JS to your code.
[code]

[2020-10-27 12:40] tuerker commented on #6453
where should i place this code such that it has to be done only once for the my entire code?

[2020-10-27 12:41] melloware commented on #6453
so I a assume you have an `application.js` file you load in your template that gets loaded on all pages right?  Just add it there and it makes it effective for all InputNumbers on every page you load.

[2020-10-27 12:42] tuerker commented on #6453
ok. i will try. many thanks again for your great responsiveness.

[2020-10-27 18:16] melloware opened #6456 "Performance: Use getChildCount() instead of size/empty"
**Description**
Do not use `size()` or `isEmpty()` for any child counting using `getChildCount()` instead.

[2020-10-27 18:26] melloware commented on #6453
Sorry to be safe its..
[code]

So it works on pages where you are not even using an InputNumber.

[2020-10-27 18:27] melloware commented on #6387
For anyone that desires the 8.0 behavior you can simply apply this MonkeyPatch to your application
[code]

[2020-10-27 20:21] tandraschko commented on #6456
JFYI if you use getChildren().getSize() on a component, where childCount=0, a empty Child-List is created. So getChild() prevents unncessary list instances

[2020-10-27 23:11] tuerker commented on #6453
many thanks. this works!

[2020-10-27 23:42] gannulee commented on #6427
Please find attached code in the requested format...
[primefaces-test-master_6427.zip](https://github.com/primefaces/primefaces/files/5448680/primefaces-test-master_6427.zip)

[2020-10-27 23:44] gannulee commented on #6427
Please advice if I need to create a new issue as this ticket is already closed.

[2020-10-27 23:51] melloware commented on #6427
No I reopened this issue i will investigate your reproducer.

[2020-10-28 11:24] tuerker opened #6458 "DatePicker: showTime not detected automatically for LocalDateTime"
In the migration document (8->9), it is stated that the attribute showTime is detected automatically based on value-binding to LocalDateTime. I cannot nor verify this for the latest PF9-snapshot. Could somebody please check and fix this. Many thanks in advance.

[2020-10-28 11:26] tandraschko commented on #6458
Please always a attach a reproducer, otherwise we may close it as invalid.

[2020-10-28 11:29] tuerker opened #6459 "DatePicker: showSeconds should be automatically set when pattern is used"
Currently, it is required to use showSeconds="true" in order to show the seconds in the widget. Example:

[code]

It would be good if this is not required anymore whenever the attribute pattern is used. The necessity to show seconds can be derived from the pattern. This reduces potential inconsistencies.

[2020-10-28 11:36] tuerker commented on #6458
Please use the LocalDateTime example of your showcase

https://www.primefaces.org/showcase/ui/input/datepicker/datePickerJava8.xhtml

[code]

 and leave away the attribute showTime. Is it still working as expected?

In my case:

[code]

where startDateTime is of class LocalDateTime, it is not working.

[2020-10-28 11:40] melloware commented on #6458
The code is definitely trying to do that:
[code]

So I wonder if somehow your Type is not being detected as LocalDateTime.

[2020-10-28 11:41] melloware commented on #6459
Same here if the pattern has an "s" in it is shows seconds.
[code]

[2020-10-28 11:47] melloware commented on #6427
I have confirmed your issue.

[2020-10-28 11:48] tuerker commented on #6458
Java attribute is definitively LocaldDateTime:

[code]

PF code fragment (here adapted to show the difference):

[code]

produces

![Screenshot from 2020-10-28 12-47-53](https://user-images.githubusercontent.com/10051373/97432169-d5fef780-191b-11eb-8b87-38e6dbd098d2.png)

while it comes even worse such that the date picker for the startdatetime (which does not use the attribute showTime) is even n

[2020-10-28 11:55] melloware commented on #6458
Works fine for me:
[pf-6458.zip](https://github.com/primefaces/primefaces/files/5451643/pf-6458.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

[2020-10-28 12:00] tandraschko commented on #6458
therefore issues without attached primefaces-test are actually invalid :P

[2020-10-28 12:02] tuerker commented on #6459
i had quick view on the corresponding method encodeMarkup. then the only reason why this is not applied must be that the if condition datepicker.isShowSecondsWithoutDefault() is not null anymore when this place is reached.

[2020-10-28 12:02] melloware commented on #6459
I think I see this bug still investigating.

[2020-10-28 12:03] tuerker commented on #6459
so could it be that datepicker.isShowSecondsWithoutDefault is somehow set to a default that is not null, e.g., empty string?

[2020-10-28 12:03] tuerker commented on #6459
thanks in advance.

[2020-10-28 12:14] melloware commented on #6458
@tuerker can you run my example above and if verified please close ticket.

[2020-10-28 12:17] tuerker commented on #6458
unfortunately not. build fails.

[code]

[2020-10-28 12:18] tuerker commented on #6458
could this issue be related to the java version:

[code]

[2020-10-28 12:20] #6459 closed, assigned to melloware

[2020-10-28 12:22] tuerker commented on #6459
great. thanks.

[2020-10-28 12:22] melloware commented on #6458
Oh no it looks like your maven central is pointed to Apache Snapshots?
[code]

Instead of Maven Central.

[2020-10-28 12:23] melloware commented on #6458
And are you sure you are in the right directory?  It looks like you are in /primefaces not the unzipped /pf-6458 directory?

[2020-10-28 12:28] commodis opened #6461 "FileUpload: Requires Nashorn Engine"
**Describe the defect**
The FileUpload component requires the Nashorn Engine.
With [JEP 372](https://openjdk.java.net/jeps/372) this engine was removed from the JDK 15.

**Environment:**
 - PF Version: _8.0_
 - JSF + version: _MyFaces 2.3.1_
 - Affected browsers: _Chrome, but this seems server-side_

**To Reproduce**
Steps to reproduce the behavior:
1. Install JDK 15
2. Upload WAR on Wildfly 19+
3

[2020-10-28 12:30] tandraschko commented on #6461
yeah, we knew that this would be a problem in the future.

[2020-10-28 12:32] melloware commented on #6461
Yep I think we should research how to detect if Nashhorn is available and also how we can use a JS Engine in JDK15+ if a user does put one on the classpath.

[2020-10-28 12:33] tuerker commented on #6458
i have now unzipped the file and build it successfully after having also checked out your latest fix.

however:  http://localhost:8080/primefaces-test/test.xhtml delivers

[code]

[2020-10-28 12:34] tandraschko commented on #6461
i think we should remove the JS stuff and add a second attribute for a server-side allowTypes regex

[2020-10-28 12:44] tuerker commented on #6459
it looks like that this fix unfortunately broke something else. when there is no pattern, it delivers NPE.

[2020-10-28 12:45] tuerker commented on #6459
this is exactly what your reproducer also states now:

[code]

[2020-10-28 12:51] tuerker commented on #6459
[code]

should be

[code]

[2020-10-28 12:57] melloware commented on #6458
Try again please.

[2020-10-28 13:03] melloware commented on #6459
No I just fixed it correctly.
[code]

[2020-10-28 13:21] tuerker commented on #6459
yes that is working now.

[2020-10-28 13:22] tuerker commented on #6458
your reproducer looks fine now.

but there is still a problem.

when the LocalDateTime is required, .i.e., annotation with @NotNull it does not work.
In this case, an invalid time exception is thrown which is not caught and thus datepicker does not pop-up.

[2020-10-28 13:28] melloware commented on #6458
Works fine for me with @NotNull...
[pf-6458-notnull.zip](https://github.com/primefaces/primefaces/files/5452119/pf-6458-notnull.zip)

Run my reproducer here...

[2020-10-28 13:32] tuerker commented on #6458
i see. the reproducer also works with NotNull.

[2020-10-28 13:32] tuerker commented on #6458
i forgot to attach the screenshot related to my previous comment.

![Screenshot from 2020-10-28 14-16-02](https://user-images.githubusercontent.com/10051373/97442662-62b0b200-192a-11eb-9db5-dc055d24eb3f.png)

[2020-10-28 13:39] melloware commented on #6458
Hmm here is a detailed reproducer:
[pf-6458-nn.zip](https://github.com/primefaces/primefaces/files/5452183/pf-6458-nn.zip)

I don't see any JS Console errors.

[2020-10-28 13:44] tuerker commented on #6458
i see, this reprocuders also works fine.

[2020-10-28 13:45] tuerker commented on #6458
however there must be something which breaks the code that running for years. i will investigate.

[2020-10-28 13:48] melloware commented on #6461
Hmmm two attributes seems like a nightmare for users knowing JS and Java Regex patterns no?

So the code is currently doing the right thing by detecting Nashhorn or Rhino JS engine the only problem is its throwing an Exception if not found.   i think we should remove this exception and just log a WARNING so people using JDK15+ can keep using this for PF 9.

We can always discuss options for PF 10?

[2020-10-28 13:48] tuerker commented on #6458
something that has changed in the last 4 months. our productive system runs on a snapshot of june 23, 2020

[2020-10-28 13:48] melloware commented on #6458
Keep digging on your production code until you find the problem.  And if you do please provide a reproducer like I do.  Without a reproducer it makes it difficult or impossible for developers to see your issue.

[2020-10-28 13:50] tuerker commented on #6458
i will let you when i am step further because this will surely reveal a bug to be fixed.

[2020-10-28 13:53] tandraschko commented on #6461
not validating on the server side might be a secure thing.

[2020-10-28 13:56] melloware commented on #6461
Good point. @commodis can you add this to your PF app and see if it works.
[code]

it should detect the Rhino JS engine since its pluggable and validate using Rhino on JDK15+ right now.  We might not need to do anything except update our documentation?

[2020-10-28 13:58] tandraschko commented on #6461
adding a fat JS engine dependency because of a small regex? -1 as real solution

[2020-10-28 13:59] melloware commented on #6461
well I wanted to see if it just worked first as a solution to get people using PF 8.0 or 7.0 on JDK15+ an option right now.

[2020-10-28 14:08] commodis commented on #6461
Thanks for the suggestion, I will try this tomorrow!

[2020-10-28 14:12] MatthiasScherrerFGCZ commented on #6458
Yes we will. Somehow the component is already broken when the page is loaded. It has definitely nothing to do with the @NotNull validation.

[2020-10-28 14:28] tuerker commented on #6458
@melloware : i could reproduce the problem. it appears when the LocalDateTime attribute is non-empty when invoking the datePicker.

you will see the problem when you change the line in the reproducer:

`	private LocalDateTime dateTime1 = LocalDateTime.now();
`

results in

![Screenshot from 2020-10-28 15-26-10](https://user-images.githubusercontent.com/10051373/97449617-284b1300-1932-11eb-8153-22a

[2020-10-28 15:26] melloware commented on #6458
OK i found the issue and provided a PR.  I am going to write an Integration Test for this.

[2020-10-28 15:34] #6456 closed, assigned to melloware

[2020-10-28 15:40] melloware commented on #6458
Integration Test updated: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/d014a7ec8d0553e95f4b14fb5b856f50b616e1af

[2020-10-28 16:12] #4840 closed, assigned to melloware

[2020-10-28 17:12] #6458 closed, assigned to melloware

[2020-10-28 18:45] Rapster commented on #6461
Why using `allowTypes` over [input#accept](https://www.w3schools.com/tags/att_input_accept.asp)? That way, no need of js engine

[2020-10-28 19:00] melloware commented on #6461
Accept is only for the client dialog to help filter own what the browser shows you like..

Whereas the AllowTypes allows you to check for Mime Content Type as well.

So accept could be ".pic" with  `allowTypes="/(\.|\/)(gif|jpe?g|png)$/"` so that would force the browser dialog to only allow picking *.pic files but those files having a Content type of GIF, JPG, JPEF, or PNG.  So those two fields se

[2020-10-28 21:36] Rapster commented on #6461
Not sure I follow... [input#accept](https://www.w3schools.com/tags/att_input_accept.asp) gives a lot of flexibility:

- file_extension: Specify the file extension(s) (e.g: .gif, .jpg, .png, .doc) the user can pick from
- audio/*: The user can pick all sound files
- video/*: The user can pick all video files
- image/*: The user can pick all image files
- media_type: A valid media type, with no para

[2020-10-28 23:30] melloware commented on #6461
Yeah my PR I just replaced Nashhorn with Regex checking on the Java side.

the reason this was introduced was for security: https://github.com/primefaces/primefaces/issues/2791

In case someone bypassed client side script with a Form Post.

[2020-10-28 23:44] Rapster commented on #6461
It's good you managed to get rid of Nashorn, but I still think allowTypes is more or less useless, even though there is this check on server side, any good hacker will be able to bypass it. As I said, only Tika will be able to give you a clear answer whether it's a valid file or not... To keep things simple, we should have one attribute, it's still confusing for me to have accept and allowTypes

[2020-10-28 23:55] gannulee commented on #6427
Many thanks for checking and necessary actions.

[2020-10-29 07:26] tandraschko commented on #6461
AFAIR allowTypes is used by complex upload Widget.
Later i added accept for simple upload

[2020-10-29 08:35] commodis commented on #6461
I just tried adding the Rhino Depependency to the maven `pom.xml`. Even though it is located at `/WEB-INF/lib/rhino-1.7.13.jar` the class loader does not pick the library up. Hence probably the same exception as in the first post was thrown.

[2020-10-29 08:43] StevenHachel commented on #6342
sorry for my late reply!
Here is a modified example that shows what describes my problem when you enter the page. Deactivated elements are preselected in the dropdown. But that shouldn't be.
[pfTest.zip](https://github.com/primefaces/primefaces/files/5457074/pfTest.zip)

![grafik](https://user-images.githubusercontent.com/29144366/97545685-a3acd300-19cb-11eb-8a19-c83ed472861c.png)
![grafik](https:

[2020-10-29 11:38] melloware commented on #6342
I think its actually a duplicate of https://github.com/primefaces/primefaces/issues/5886

Can you try my version here:
[pf-6342-PF9.zip](https://github.com/primefaces/primefaces/files/5458053/pf-6342-PF9.zip)

That uses a BETA of PF9 and you can see the issue is fixed.

[2020-10-29 11:48] melloware commented on #6461
@commodis Ah I see why Rhino in code has to be loaded like..
[code]

And we are loading Nashhorn like this...
[code]

I was hoping Rhino would plug itself in but it does not its by name.  Sorry!

[2020-10-29 12:00] StevenHachel commented on #6342
Yes it works! Then don't I hope for a fix for version 7?

Steven

[2020-10-29 12:04] melloware commented on #6342
Unless you are a PRO subscriber and can request it I doubt this will be backported to 7. I don't work for PrimeTek though...

[2020-10-29 13:13] emilwislowski opened #6465 "Tree: DeferredWidgets not rendered properly on Node other than root"
**Describe the defect**
I am trying to create <p:tree> with <p:textEditor> inside each <p:treeNode>. The problem is that <p:textEditor> only renders correctly in the root of <p:treeView>. On the other hand, <p:inputText> renders correctly on every <p:treeNode>.

**Reproducer**
[primefaces-test.tar.gz](https://github.com/primefaces/primefaces/files/5458491/primefaces-test.tar.gz)

**Environment:**

[2020-10-29 14:14] melloware commented on #6465
While this is definitely not working is this really a UI you are using with TextEditors in every Node of a treeview?

[2020-10-29 14:45] emilwislowski commented on #6465
Since it works in TreeTable, I thought it should work in the tree as well.

[2020-10-29 16:26] melloware commented on #6465
I personally don't think the Tree was designed for this type of behavior.  None of the examples in the Showcase show components in the tree: https://www.primefaces.org/showcase/ui/data/tree/filter.xhtml

I am tempted to mark this as WontFix and close it.

[2020-10-29 16:35] stolp commented on #6465
In my application I have a tree which nodes are composed of several components (inputText, several commandButton). This is working fine. I also have TextEditors in TabViews in a dataTable. I also plan to have TextEditors in TreeTables.

So I think it is a valid assumption to expect to have them work in a TreeView as well.

[2020-10-29 16:42] melloware commented on #6465
I wonder if it has to do with TextEditor being a deferred widget? `PrimeFaces.widget.TextEditor = PrimeFaces.widget.DeferredWidget`

[2020-10-29 16:47] melloware commented on #6465
I can definitely see in your example its has all 11 CreateWidget's for TextEditor `$(function(){PrimeFaces.cw("TextEditor","widget_j_idt6_j_idt8_2_j_idt10",{id:"j_idt6:j_idt8:2:j_idt10",toolbarVisible:true});});` but only 3 are shown and they are the 3 that are visible in the DOM. That's what makes me think its Deferred widget related.

[2020-10-29 17:03] emilwislowski commented on #6465
You may be riight. With loading tree with all nodes expanded ` treeNode.setExpanded(true);` the TextEditor renders properly.  IMO this shoudl work whenever the tree is collapsed or expanded

[2020-10-29 17:04] melloware commented on #6465
OK that is good it confirms its DeferredWidget related.  Not quite sure how to fix this one....

[2020-10-29 20:02] Rapster commented on #6461
Looking at `FileUploadUtilsTest#isValidContentTypeCheck`, am I missing something or this UT is wrong?:

[code]

[2020-10-29 20:07] melloware commented on #6461
The line right above it turns off type checking so they are both true.
[code]
Then it runs tests with it turned on..
[code]

[2020-10-29 20:08] melloware commented on #6461
To my personal taste this is why i don't like muddled tests that test multiple things in 1 test.  I prefer 1 test 1 result with clear Arrange Act Assert steps like...
[code]

If your test you were confused about was written
[code]

It would read cleaner and you would see it more clearly.  Just my two cents.

[2020-10-29 21:13] Rapster commented on #6461
I understand what you're saying but still, basically it says "fileupload only accepts image/png kind of file, and passing a TIF file is still okay" but that's wrong, it should fail. Now I think of it, it's because allowTypes is not defined, but you have to admit that is very confusing. `FileUploadUtils#isValidFileName` and `FileUploadUtils#isValidFileContent` should be package visibility and not p

[2020-10-30 10:03] stolp commented on #6465
I wonder, what is the difference between having a text editor in a hidden tree node (not working) and having it in a hidden tab in a tab view (working)?

Is it, that the tree node is generated dynamically during expansion?

[2020-10-30 11:16] melloware commented on #6465
Here is the docs for DeferredWidget: https://primefaces.github.io/primefaces/jsdocs/classes/primefaces.widget.deferredwidget.html

Which does this...
[code]

So my guess is `jq.is(:visible')` is returning false and thus never calling `render`

[2020-10-30 11:17] melloware commented on #6461
Yes I agree with you it is confusing, and each method should be tested standalone for the function that it does.

[2020-10-30 11:18] #6461 closed, assigned to melloware

[2020-10-30 13:38] melloware commented on #6465
`:visible` - https://api.jquery.com/visible-selector/

[2020-10-30 15:32] emilwislowski commented on #6465
what about collapsed TreeTable? it also has invisible nodes, but they are rendered correctly.
[primefaces-test.tar.gz](https://github.com/primefaces/primefaces/files/5466035/primefaces-test.tar.gz)

[2020-10-30 15:38] jepsar commented on #4546
Cool! I was about to submit this issue :-)

[2020-10-30 15:54] melloware commented on #6465
So in that case somehow the DOM size must be calculated is `:visible` is returning true.  Might have to debug  some in your browser the JS calls.

[2020-10-30 15:56] melloware commented on #4546
I think @fanste is already using this feature and found one bug he fixed but so far it seems to work well!

[2020-11-02 08:59] hecnabae opened #6468 "Datatable: multi-sort loses order with lazy"
**Describe the defect**
I've a table with columns [a,b,c,d,e] and lazy initialization. When I provide an intilial list of sortmeta (c, a) it sorts data correctly. But, If I change page, It loses sortmeta order (a, c). For example:

After apply sort columns:
- sortMeta: c DESC, a DESC

After change page (a and c got swapped):
- sortMeta: a DESC, c DESC

**Environment:**
 - PF Version: 8.0
 - JSF 2.

[2020-11-02 09:23] tandraschko commented on #6468
@Rapster could you check it and maybe fix it within your PR?

[2020-11-02 11:06] Rapster commented on #6468
Fixed with #6390

[2020-11-02 12:30] #6449 closed, assigned to jepsar

[2020-11-02 12:35] tuerker opened #6469 "InputMask: optional part does now work correctly"
@melloware with the change from the april to latest snapshot, p:inputMask is not working anymore correctly at least for mask with optional cases.

example:

            <p:inputMask
              value="#{user.phoneNumber.areaCode}"
              mask="9[999]"
              size="4" />

previously it was working well as follows:

            <p:inputMask
              value="#{user.phoneNumber.are

[2020-11-02 12:37] tandraschko commented on #6469
Please always check the migration guide before you create a ticket ;) https://primefaces.github.io/primefaces/9_0/#/../migrationguide/9_0

sorry, only checked the last example :D

[2020-11-02 12:39] melloware commented on #6469
I will look into this but we moved to a new component as the previous InputMask had so many bugs including problems with `?` as the optional character.

[2020-11-02 13:10] melloware commented on #6469
To fix it right now add `validateMask="false"` which turns off the server side validation which is where its failing.  I have to look at how the server side regex is being translated and fix it.

[2020-11-02 13:15] tuerker commented on #6469
validate="false" does not solve it. if i enter 44 for the areacode this is translated to 44__ such that the folloowing error is thrown:

'44__' must be a number between -2147483648 and 2147483647 Example: 9346

[2020-11-02 13:20] tuerker commented on #6469
this is because error is of course due to the fact that areaCode should be an integer here!

[2020-11-02 13:24] #6422 closed, assigned to melloware

[2020-11-02 13:27] #6257 closed, assigned to blutorange

[2020-11-02 13:32] tuerker commented on #6469
using

slotChar=""

is a partial workaround which works in our case because we do not have case where two or more digits are required at least.

this should give you also a hint for the bugfix.

[2020-11-02 13:34] tuerker commented on #6469
you have to clear the slotChars before doing the validation

[2020-11-02 13:37] melloware commented on #6469
I have a fix. working on it now and writing and integration test.

[2020-11-02 13:49] melloware commented on #6469
Integration Test; https://github.com/primefaces-extensions/primefaces-integration-tests/commit/147341e414c61e0db84b70ad9c3af578735d0688

[2020-11-02 13:56] #6469 closed, assigned to melloware

[2020-11-02 16:09] Rapster commented on #2672
My PR won't fix it, it won't actually give the possibility to sort since as explained in #6409, columns are defined in a very unconventionnel way (13 columns define to actually display 5, other Prime librairies do the same mistake). I'm not in favor of changing my PR to support this sample as it will involve a lot of fiddling resulting ugly code, while it can be solved just by fixing #6409. FYI, I

[2020-11-02 16:17] melloware commented on #2672
Agreed let's unlink it.

[2020-11-02 20:16] #6404 closed, assigned to christophs78

[2020-11-03 12:53] andrewtobilko opened #6474 "Timeline: subgroups"
**Description**

It would be cool if the widget supported the `subgroups` functionality. You optionally provide a subgroup id

subgroup | String or Number | none | The id of a subgroup. Groups all items within a group per subgroup, and positions them on the same height instead of staking them on top of each other. can be ordered by specifying the option subgroupOrder of a group.
-- | -- | -- | --

[2020-11-03 13:04] #6430 closed, assigned to melloware

[2020-11-03 14:00] tuerker opened #6475 "InputNumber: Default decimalPlaces="0" for null integer"
@melloware : there is still a bug in p:inputNumber of the latest snapshot.

when p:inputnumber is invoked on an integer/long field which is null at the beginning, the entered integer value is changed to a decimal.

here is the reproducer: with 3 cases:
1) working when integer field is initialized with a non-null value
2) working when integer field is initialized null but an additional "decimalPlac

[2020-11-03 14:13] melloware commented on #6475
This is not a bug. This is how Java works.
See: https://stackoverflow.com/a/2950415/502366

[code]

If `value` is `NULL` it cannot be an `instanceof` anything so it evaluates to false and thus you get the default `2` decimalPlaces.

[2020-11-03 14:15] tuerker commented on #6475
you are right!

[2020-11-03 14:16] tuerker commented on #6475
so we then have to use always decimalPlaces:="0" for all integer/long fields.

[2020-11-03 14:18] melloware commented on #6475
If you plan on them being null yes you need to explicitly declare decimalPlaces="0".  There is no way around it.

[2020-11-03 14:18] #6475 closed, assigned to melloware

[2020-11-03 14:29] tuerker commented on #6475
thanks.

[2020-11-03 14:53] tuerker commented on #6475
maybe be you can a short note in the documentation that one must use the attribute decimalPlaces="0" in case of long/integer/short/biginteger fields when the field is not initialized with a non-null value.

[2020-11-03 14:57] melloware commented on #6475
Docs updated: https://github.com/primefaces/primefaces/blob/master/docs/9_0/components/inputnumber.md

[2020-11-03 15:57] #6050 closed, assigned to Rapster

[2020-11-03 15:59] tandraschko commented on #6050
@Rapster did a small refactoring while reviewing your changes, please review :D

[2020-11-03 16:07] Rapster commented on #6050
looks good

[2020-11-03 16:09] #6447 closed, assigned to melloware

[2020-11-04 12:08] Julian-B90 commented on #6091
@jsocola do you have solve this problem?

[2020-11-04 15:36] andrewtobilko commented on #6474
@melloware great, thanks
I did something similar for my project, the only problem was that TimelineEvent.Builder is final and there is no setter for id.

[2020-11-04 15:41] melloware commented on #6474
OK did you review my PR and does it all look OK?  I followed their documentation.

[2020-11-04 15:54] jepsar opened #6478 "BreadCrumb: option to only render the last n items"
We have an application where you can select an item from a list, see details of the item, select a child (ManyToOne) and basically recurse until no childs are available anymore. The path is shown in a breadcrumb, which can get very long:

<img width="513" alt="Screen Shot 2020-11-04 at 16 30 12" src="https://user-images.githubusercontent.com/7500178/98131776-e6831500-1ebb-11eb-93d5-9426efb563e0.pn

[2020-11-04 16:03] melloware commented on #6478
I love this idea.  Its a UI paradigm seen with breadcrumbs

[2020-11-04 16:04] jepsar commented on #6478
@melloware alright, you can assign me to this issue if you like.

[2020-11-04 17:01] Rapster commented on #6478
My 2 cents, but what about trying to find a middle ground? With this ticket, either you display the whole thing or just the last item, but about minimizing the lost of items. See this example: https://www.jqueryscript.net/demo/jQuery-Plugin-To-Create-Fully-Responsive-Breadcrumbs-asBreadcrumbs/

[2020-11-05 08:13] jepsar commented on #6478
@Rapster I like the idea of a responsive breadcrumb! But, I don't think we can use that library (I believe PrimeTek is moving away from jQuery UI based libraries and replacing them with in house versions). Even, if we could, it would mean that we will need a new UI element and styling for navigating to the hidden items. Although I think that could be an overlay panel with a menu.

I do want to hav

[2020-11-05 08:16] tandraschko commented on #6478
we can add a fixed limit attr but we should also make it responsive in future.

[2020-11-05 08:22] jepsar opened #6480 "BreadCrumb: should be able to be responsive"
If all the items don't fit on one line, the items at the beginning of the trail should be consolidated in a navigation item which will allow you to show the hidden items.

See #6478

[2020-11-05 16:43] melloware opened #6482 "POM: Deprecated oss-parent"
**Description**
From Sonatype docs: https://central.sonatype.org/pages/apache-maven.html

**Deprecated oss-parent**

This updates the pom.xml to be how any Sonatype Maven Central pom needs to be.

[2020-11-05 16:47] clebersa opened #6483 "Carousel: customize dropdownTemplate using var attribute"
According to the [documentation][1] of the Carousel component, there is a `dropdownTemplate` that can be used to customize the dropdown options text to select which slide to go to. However, the documentation does not provide an example of how that template can be customized using the `var` attribute of the carousel. I could not find an example on the Web as well.

The only available variable for t

[2020-11-05 17:12] melloware commented on #6483
I am pretty sure you cannot  use the `var` attribute in the paginator.

Default value: `{page}`

the template replaces {page} with the actual page number. So if you made the template `dropdownTemplate="Page {page}"`

You would see it print out Page 1, Page 2 etc.

[2020-11-06 09:59] tuerker opened #6484 "Sheet: move from extensions to core?"
The pe:sheet component of the primeface extensions package is very useful. It would be great if this component would be in the primefaces core package (just to avoid to maintain yet another dependency, especially when working on snapshots). Are there any intentions to move this component from the extensions to core?

[2020-11-06 10:02] tandraschko commented on #6484
nope as we stuck with a old sheet version. Its fine in extensions.

https://github.com/primefaces-extensions/primefaces-extensions/issues/152

[2020-11-06 10:02] #6484 closed, assigned to nobody

[2020-11-06 10:41] tuerker opened #6485 "Schedule: JS error when only one slot per day is configured"
@melloware: Whenever the schedule is used with one slot per day, as show in the example in the screenshot below, the schedule crashes and becomes unusable.

Version: Latest Snapshot

It looks like that the bug is probably caused by fullcalendar. In any case, it must be fixed. Could you please have a look at that.

![Screenshot from 2020-11-06 11-30-46](https://user-images.githubusercontent.com/100

[2020-11-06 10:54] tuerker commented on #6485
below is the reproducer. just open inspect console and click on week or day view.

[p-schedule.zip](https://github.com/primefaces/primefaces/files/5500823/p-schedule.zip)

![Screenshot from 2020-11-06 11-55-56](https://user-images.githubusercontent.com/10051373/98358488-13077000-2027-11eb-895f-25770375f1a3.png)

[2020-11-06 12:23] melloware commented on #6485
Yep I would create a FullCalendar bug and reproducer there using JSFiddle so the devs can see the problem: https://github.com/fullcalendar/fullcalendar/issues

Nothing for PF to fix or hack here as its in the core of FullCalendar.

[2020-11-06 13:06] tuerker commented on #6485
thanks. i have now created an issue on fullcalendar. https://github.com/fullcalendar/fullcalendar/issues/5952.

would be good if you support this since this is a must-fix bug.

[2020-11-06 13:09] melloware commented on #6485
I am monitoring that ticket and if they fix it I will upgrade FullCalendar here.

[2020-11-06 15:11] #6482 closed, assigned to melloware

[2020-11-06 15:11] #6474 closed, assigned to melloware

[2020-11-06 15:18] #2601 closed, assigned to Rapster

[2020-11-06 15:18] #3347 closed, assigned to Rapster

[2020-11-06 15:18] #6372 closed, assigned to Rapster

[2020-11-06 15:18] #6468 closed, assigned to Rapster

[2020-11-07 09:53] mukulraidutta opened #6487 "Cropper not working on showcase"
Cropper not working in showcase
[PrimeFaces Showcase.pdf](https://github.com/primefaces/primefaces/files/5504546/PrimeFaces.Showcase.pdf)
https://www.primefaces.org/showcase/ui/multimedia/cropper.xhtml

When i click on crop button then error page in open
[PrimeFaces Showcase error.pdf](https://github.com/primefaces/primefaces/files/5504548/PrimeFaces.Showcase.error.pdf)
https://www.primefaces.org/

[2020-11-07 12:13] melloware commented on #6487
It works locally if you check the Showcase out of Git and run it.   I believe the issue is the server is out of disk space because it writes temp files.

[2020-11-07 12:13] #6487 closed, assigned to nobody

[2020-11-07 12:14] melloware commented on #6487
You can report it here on Showcase Issue: https://github.com/primefaces/primefaces-showcase/issues

[2020-11-07 13:14] melloware opened #6489 "Datatable: Lazy Sorting Regression"
**Describe the defect**
After the new sorting was implemented in https://github.com/primefaces/primefaces/issues/5438 one of the Integration Test Cases is now failing.

Error `DataTable002Test.testLazyFilter:151 expected: <Language 18> but was: <Language 9>`

**Reproducer**
Integration Test: https://github.com/primefaces-extensions/primefaces-integration-tests/blob/dc72818c1e099191b6e47bf2b9e46ab8

[2020-11-07 13:34] melloware commented on #6483
Since I don't think there is any action here and the question has been answered going to close this ticket.  Can re-open if there is any action item.

[2020-11-07 13:34] #6483 closed, assigned to nobody

[2020-11-07 16:24] christophs78 commented on #6489
Following data is passed to load-method of LazyDataModel with sort and filter:
![image](https://user-images.githubusercontent.com/10461942/98446471-e4b88c00-211d-11eb-96ca-7d923a64e3ea.png)

a) no sort-meta (NOK)
b) filter-meta contains both attributs - the one we wanted the filter an the one without filter (this may be OK)

[2020-11-07 17:27] Rapster commented on #6489
Indeed the issue is that sortBy gets lost during second request (filtering), I don't know yet how it could've work before since sortKeys are not passed to the filtering http request:

![image](https://user-images.githubusercontent.com/7521311/98447629-9360ca80-2126-11eb-80a9-46c30376c01b.png)

An input state holder should put in place to save infos between requests don't you think?

[2020-11-07 18:26] christophs78 commented on #6489
Cross check this with http://primefaces.org/showcase/ui/data/datatable/lazy.xhtml.
Filtering does not send sortKeys as of PF 8.0.

[2020-11-07 18:53] christophs78 commented on #6489
look at
https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/datatable/DataTable.java#L1327

This seem to be part of our issue.

[2020-11-07 21:50] Rapster commented on #6489
Well spotted, indeed removing this would make it work. It's actually something I wish we could avoid, that way no need to repopulate sortBy map every request, but here is the thing, some users expect columns to "change" (added/removed) between 2 requests.

So if I remove that line, and I add/remove columns between 2 requests, sorting would not work since sortBy map would not be updated as it is al

[2020-11-08 07:40] christophs78 commented on #6489
Sort and filter has to work combined. It can´t be a solution to say you can use sort or filter but not both.

Is there a way to update sortBy map instead of resetting it? Add and remove columns when necessery in the existing sortBy-map we stored via statehelper?

[2020-11-08 07:44] christophs78 commented on #6489
One more thing:
Compare http://primefaces.org/showcase/ui/data/datatable/lazy.xhtml with our current master.

8.0-Final:
![image](https://user-images.githubusercontent.com/10461942/98459782-50dad480-219e-11eb-8797-63e21c37c358.png)

9.0-Snapshot:
![image](https://user-images.githubusercontent.com/10461942/98459808-81227300-219e-11eb-9575-04400d2d2a11.png)

Filter was lost. IMO this is only a showc

[2020-11-08 11:54] Rapster commented on #6489
Of course

Not really, it's more or less the same problem I faced recently trying to fix #6169. I'm gonna try to add an input state holder for sortKeys infos (2 at least, _sortKey and _sortDir)

[2020-11-08 12:26] tandraschko commented on #6489
Cant we fix it like it worked before?
If it worked before, there must be a better way like adding Inputs on the client

[2020-11-08 14:47] Rapster commented on #6489
Hard to tell how it worked before... in single mode, the `sortColumnKey` was never reseted from statehelper so it could remember what was the last sorted column, not sure if lazy + multi sorting worked before.

My attempt to fix this, is to create 2 input state holder

[2020-11-08 14:48] christophs78 opened #6490 "SelectRenderer: add fast path to doValidateSubmittedValues"
`SelectRenderer#doValidateSubmittedValues` eats up a good amount of CPU-cycles. Especially with explicit converter.
We can stop evaluating when `submittedValues.length == validSubmittedValues.size()`.

[2020-11-08 15:23] tandraschko commented on #6489
I think saving it in the state should work fine on the server side, it feels weird to make a workaround on the clientside.
Maybe there is still something weird how you maintain the state or why and when reset

[2020-11-08 16:04] Rapster commented on #6489
Then the fix is easy, but since component are request scoped, we should proceed in a way that, for example in the present scenario: sort + filter should make two requests:

- first request to sort
- second request to sort and filter.

I don't think it's weird, or you should consider it as a workaround, I think this is how it is supposed to be. Today, few things are saved on server side which are t

[2020-11-08 16:09] melloware commented on #6489
I am not sure about anyone else but I don't think the table structure should be changing between two requests it should only change on a full update if the entire datatable is being updated?

[2020-11-08 16:17] Rapster commented on #6489
@christophs78 JFYI, actually to update sortMeta (in case of adding/removing columns) my best bet would be to play with `PostAddToViewEvent` & `PreRemoveFromViewEvent` events and update sortMeta accordingly

@melloware I'll have to try if updating the whole table will reset the component

[2020-11-08 16:48] Rapster commented on #6489
@melloware Updating the whole table does not reset statehelper :(

[2020-11-08 17:25] christophs78 opened #6492 "SelectRenderer: performance-regression since PF 7.0"
https://github.com/primefaces/primefaces/pull/3299 introduced SelectRenderer#restoreAndCheckDisabledSelectItems this was later renamed to SelectRenderer#validateSubmittedValues.

This iterates over all SelectItems and calls the converter for each of this items. This can cause major CPU-usage when eg SelectOneMenu contains a huge a amount of items and/or the converter is maybe a bit more complex.

[2020-11-08 17:35] melloware commented on #6492
Maybe need a way of disabling the server side check like we do with some other components?

[2020-11-08 17:51] tandraschko commented on #6489
a component is request scoped yes but the StateHelper is ViewScoped, which is the correct place to save such infos.
When can the sortMeta change?

[2020-11-08 17:54] tandraschko commented on #6489
i general the filters are working great and like i handled the filterBy map. Why cant you do it like this?

[2020-11-08 17:55] christophs78 commented on #6492
Yep.

Additional ideas:
- Only relevant with disabled items?
- Put allowed values during rendering into a HashSet. Put this HashSet into StateHelper. Reuse this during 'SelectRenderer#restoreAndCheckDisabledSelectItems'.
- Or use a String-Array instead of HashSet.

[2020-11-08 18:06] tandraschko commented on #6492
1) unsure
2,3) i dont like to put something in the state, which blows up sessionmemory.

we can also make it optional but why is your converter that slow? or how many items to do you have?

Another thing i like to ask if someone has performance critical apps... Do you use MyFaces 2.3-next? :D

[2020-11-08 18:22] Rapster commented on #6489
Then I'll simply remove setSortMetaAsMap from `DataTable#saveState`?

sortMeta change only when sorting is requested. (and set as null once the request is finished)

Not sure what you mean by "like i handled the filterBy map" but I'm sure it worked great. Before I used to think that sorting and filtering were features difficult to understand, but today it's a lot more simple, and you can also have

[2020-11-08 18:36] Rapster commented on #6402
Can we just say if globalFilterFunction returns false, it simply does not match the line and go next?

[2020-11-08 18:42] Rapster commented on #6402
@jepsar You might be able to have an opinion also on my last comment?

[2020-11-08 18:45] ahoflack opened #6493 "Schedule: jQuery 3.5.0 Issue"
Hi,

Since PrimeFaces team upgrade jquery in PF7.x version to 3.5.0, Day and Week view on p:schedule doesn't work fine (events not showing).
I test on PF8.0 this error.

I think it is due to 7.0.14 upgrade.

this issue is analysed on
https://github.com/fullcalendar/fullcalendar/issues/5370

which is corrected with jquery 3.5.1.

Please report to upgrade jquery on PF.
Thx

[2020-11-08 18:51] christophs78 commented on #6492
Currently we only have limited time to iterate over all possible changes / optimiziations...

MyFaces 2.3-next may help to increase base JSF-performance. It´s something we should look into mid- to long-term. But IMO it´s not a good a idea to switch a currently critical application (where we also have to add features, ...) from one day to another from Mojarra to MyFaces 2.3-next.
(But MyFaces 2.3-n

[2020-11-08 18:57] melloware commented on #6493
Thanks for reporting.  I was wondering why they released Jquery 3.5.1 with just one minor fix but this explains it.

[2020-11-08 19:00] melloware commented on #6492
I will say SelectOne is ideal for say 100 items or less.  I feel like if you have 1000+ options this is not the right control. Just what I have seen of UI over the years.  A lot of UX people do not like it.  So I would think AutoComplete might be the more efficient option in your use case

[2020-11-08 19:01] Rapster commented on #6402
The way I see it, globalFilter will match a result if:
- globalFilter: any columns contains globalFilter input (see GlobalFilterConstraint)
- globalFilter + globalFilterFunction: custom impl deciding whether the row data is part of the result

[2020-11-08 19:01] tandraschko commented on #6492
+1

i think we can apply changes here (like your shortcut, if it hasnt any downside) to optimize.
I would create a RequestScoped CDI bean, which implements a converter, which loads lazy all "relevant" items a single time. Its should be much faster then do a single request for each entry.

[2020-11-08 19:07] tandraschko commented on #6489
i will get a beer now and explain when state/fields etc. are used :)

[2020-11-08 19:28] tandraschko commented on #6489
Maybe someone can do a small text/guide in our wiki for contributors?
I will explain a bit general stuff and history.

JSF creates a new UIViewRoot instance for each request and, if it's a postback, apply the saved state on it (UIComponent#restoreState). After each request, the state of all components is saved (UIComponent#saveState).

The component/view state is saved in ViewScoped; actualy ViewS

[2020-11-08 19:36] tandraschko commented on #6492
and about:

| As an enterprise-dev i don´t like the idea of totally disabling validation. (via an new attribute you explicit have to turn on)

we should make it enabled per default of course

[2020-11-08 22:43] #6489 closed, assigned to Rapster

[2020-11-08 22:48] Rapster commented on #6489
Thank you Thomas, yes it's clearer now. Since sortMeta have to live over multiple requests, it stays in StateHelper but is not reseted to null at saveState

[2020-11-08 22:50] melloware commented on #6489
I think I will try and add this to the contributing guide as this is really good information!

[2020-11-09 07:58] jepsar commented on #6402
Yes, I think that's correct. In case of true you could narrow the result down by applying column filters. In case of false this will never evaluate to true:

[code]

[2020-11-09 12:05] rainermueller opened #6494 "TypeError: $(...).zIndex is not a function"
**Describe the defect**
In a PF dialog the following error shows in the browser console

[code]

**Environment:**
 - PF Version: 7.0.14
 - JSF 2.3
 - Affected browsers: all

**Reason**
The `core.utils.js` Script function `preventTabbing` is using the removed function `zIndex()`

`zIndex()` was deprecated in jQuery UI v1.11 and removed in v1.12

[2020-11-09 12:29] WillemLab commented on #5394
What is the current status on development for this?

[2020-11-09 12:40] tandraschko commented on #5394
Still untouched.
Feel free to work on it and provide a Pull Request or sponsor it via PrimeFaces PRO.

[2020-11-09 12:43] melloware commented on #6489
@Rapster thank you I can confirm all the Integration Tests are now passing including all of the tests that were added to prove you have fixed the other sorting defects! https://github.com/primefaces-extensions/primefaces-integration-tests/actions/runs/352863652

[2020-11-09 12:47] tandraschko commented on #6494
The community does not maintain elite versions and it's fixed in trunk, so i will close it and ping PrimeTek.

@mertsincan we re-added the zIndex method as you can see in jquery.ui.pfextensions.js

[2020-11-09 12:47] #6494 closed, assigned to nobody

[2020-11-09 12:51] melloware commented on #6494
@mertsincan  What is strange is that zIndex() has been in jquery.ui.pfextensions.js since 2017 so it should be in 7.0.14 unless it accidentally got removed.

[2020-11-09 13:02] tandraschko commented on #6083
any news here @melloware ?

[2020-11-09 13:03] tandraschko commented on #5819
@MatthiasScherrerFGCZ any news?

[2020-11-09 13:07] melloware commented on #6493
@ahoflack jQuery 3.5.1 does not fix this issue.

I think the issue was introduced because PF 7.0.14 and 8.02 were updated to Jquery 3.5.0 (https://github.com/primefaces/primefaces/issues/5807).  3.5.1 just has one minor backwards compatibility change they are going to remove again in 4.0.
See: https://blog.jquery.com/2020/05/04/jquery-3-5-1-released-fixing-a-regression/

So I think your issue is t

[2020-11-09 13:10] #6493 closed, assigned to nobody

[2020-11-09 13:12] tandraschko commented on #3212
im thinking about something like:

[code]

WDYT guys?

[2020-11-09 13:13] melloware commented on #3212
If you can add that generically to all components without intruding on components then I really like it

[2020-11-09 13:14] melloware commented on #6083
No I was going to resubmit my PR.  My PRO ticket is still open.

[2020-11-09 15:35] tandraschko commented on #3212
@melloware please review my commit. In general we only have to adjust all .init() calls now to pass the componet/widget and it should work for every component

[2020-11-09 15:39] melloware commented on #3212
Looks really good to me I like how clean this is to add this functionality.

[2020-11-09 15:50] melloware commented on #3212
Want me to update all the components?

[2020-11-09 16:00] tandraschko commented on #3212
please, yes
i commited it for one component now

[2020-11-09 16:01] melloware commented on #3212
OK i will add a showcase example too.

[2020-11-09 16:04] tandraschko commented on #3212
yeah, we also have to document in the core section somehow

[2020-11-09 16:13] tandraschko commented on #2477
can we really use that or would be just a new component, a styled native html datalist?
If you check the p:selectOneMenu dropdown, everything is styled and custom content, that isnt possible if we use datalist i assume.

Actually a h:datalist would be perfect for it.

[2020-11-09 17:37] ahoflack commented on #6493
Yes, when in comme back to 7.0.13, all work fine. Not with higher version.

It is still broken
Thx

[2020-11-09 17:48] #6168 closed, assigned to tandraschko

[2020-11-09 17:52] melloware commented on #6493
OK @mertsincan is aware and hopefully he will fix for 7.0.15.

[2020-11-09 17:54] tandraschko commented on #6493
i pinged him also in slack, nothing more we can do.

[2020-11-09 18:54] christophs78 commented on #6492
One - a bit off-topic - question regarding AutoComplete: Each time completeMethod need´s to be called triggers RestoreViewPhase of the whole XHTML? So for a (very) complex XHTML and high load this also causes significant CPU usage. Right?
Is there a solution to avoid this beside playing around with minQueryLength and queryDelay which compromises UX?

[2020-11-09 20:12] tandraschko commented on #6492
Yes, this is how JSF works. It could be that the AutoComplete component is inside a repeat or CC, which needs to be restored and visited to get the correct "context"
We could provide some integration for a JSON endpoint e.g.
this would avoid that

[2020-11-09 20:55] #3212 closed, assigned to tandraschko

[2020-11-10 08:31] tandraschko commented on #105
+1

[2020-11-10 09:13] sasynkamil opened #6496 "Schedule: Locales not fully respected"
All European locales have first day of the week Monday [[link](http://chartsbin.com/view/41671)]. But e.g. Norwegian is stariting by Sunday (søn.) in `p:schedule` component, which is wrong.

All, except EN schould be Mon:

| PF version | EN | DE | SV | NO |
|:------------|:-----| :-----|:-----|:-----|
| 8.0             | Sun | Mon | Mon | **Sun** |
| 8.0.2          | Sun | Mon | Mon | **Sun** |
|

[2020-11-10 12:09] melloware commented on #6496
OK so I think the issue is your Locale of "NO".  Here are the FullCalendar Locales.
https://github.com/fullcalendar/fullcalendar/tree/master/packages/core/src/locales

For example here is Sweden: https://github.com/fullcalendar/fullcalendar/blob/master/packages/core/src/locales/sv.ts and you can see `dayOfWeek=1`.

However there is no "no.js" file for Norwegian only "nb.js". So that is why you are

[2020-11-10 12:41] melloware commented on #6496
Or use Java Locale "nb" instead of "no". See: https://www.oracle.com/java/technologies/javase/jdk8-jre8-suported-locales.html

[2020-11-10 13:26] sasynkamil commented on #6496
Great and thank you @melloware - you pointed me to the right dirrection...

I. I found out that language "no" in locale is deprecated: "A locale with language "no", country "NO", and variant "NY", representing Norwegian Nynorsk (Norway), is converted to a language tag "nn-NO"."
https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/Locale.html

So the correct ones are:
[code]
And b

[2020-11-10 13:42] melloware commented on #6496
Let me look into that

[2020-11-10 15:19] melloware commented on #6496
@blutorange I can confirm this in the latest 9.0-SNAPSHOT it has stopped using locales even though I can see it loaded correctly and I call see the `FullCalendar.globalLocales` global locales has all the code.  Might need help investigating this.

[2020-11-10 16:52] melloware commented on #6496
I can confirm `PrimeFaces.widgets.myschedule.calendar.getAvailableLocaleCodes();` only contains English US.

![image](https://user-images.githubusercontent.com/4399574/98704871-25e1b380-234b-11eb-8c5d-f744295c343b.png)

[2020-11-10 17:43] melloware commented on #6496
OK I found the problem and fixed it.  the `locales` need to be added now for FullCalendar to be aware of them

![image](https://user-images.githubusercontent.com/4399574/98711076-832d3300-2352-11eb-9982-ff9fa7b2c098.png)

[2020-11-10 19:31] melloware commented on #6414
FullCalendar has a Luxon plugin already which we could switch to eventually away from moment.js.

[2020-11-10 19:39] #6496 closed, assigned to melloware

[2020-11-11 07:50] nixonyeung opened #6500 "Component: Client Side Validation cannot be disabled"
**Describe the defect**
Client Side Validation cannot be disabled

**Reproducer**
https://www.primefaces.org/showcase/ui/csv/basic.xhtml
Click on the "Disabled" button.  Suppose the required fields will not be valided and valid message will not be shown.

**Environment:**
Running PrimeFaces-8.0.2-SNAPSHOT on Mojarra-2.3.13.

**Expected behavior**
The required fields will not be valided and valid m

[2020-11-11 08:13] tandraschko commented on #6500
works as epected. if you check your developer tools, only "disabled" sends a http request.

[2020-11-11 08:13] #6500 closed, assigned to nobody

[2020-11-11 11:09] jthalmai opened #6501 "ColumnToggler: Toggling on columns after resizing others breaks table width"
**Describe the defect**
The issue happens when you use both resizableColumns="true" and a p:columnToggler in a dataTable.
As long as you only resize while all columns are visible, you can toggle columns and they will always be fitted to the table width. But when you toggle some columns off, resize some of the remaining ones, and show again the hidden ones, the columns are now wider than the table

[2020-11-11 12:57] Rapster opened #6502 "TreeTable: filter no longer working"
**Describe the defect**
Searching for a node from filter input text no longer works

**Reproducer**
From showcase master on this date

**Environment:**
 - PF Version: 9.0-SNAPSHOT
 - JSF + version: Mojarra 2.3
 - Affected browsers: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:8080/showcase/ui/data/treetable/filter.xhtml?jfwid=55ebd
2. Search "log" in "Name" c

[2020-11-11 13:40] christophs78 commented on #6492
I currently make our own custom PrimeFaces-build. After our changes are battle-tested i´l bring them back as PRs.

[2020-11-11 14:06] melloware commented on #6496
I added an Integration Test to our suite so this is caught in the future.

[code]

[2020-11-11 14:09] blutorange commented on #6496
@melloware Looks good. I originally tested switching locales and looking at the commit history, there was a change that probably broke it, so having a test for that is great.

[2020-11-11 14:10] melloware commented on #6496
Yep it looks like they changed this somewhere between 5.0 release and the 5.3 release because it definitely worked before.

[2020-11-11 17:09] #6502 closed, assigned to Rapster

[2020-11-11 18:32] Rapster commented on #6501
8 or 9 SNAPSHOT?

[2020-11-11 21:16] melloware commented on #1937
Duplicate of https://github.com/primefaces/primefaces/issues/6381 which has a reproducer.

[2020-11-11 21:16] #1937 closed, assigned to nobody

[2020-11-12 07:11] jthalmai commented on #6501
8.0-SNAPSHOT

[2020-11-12 20:53] #1898 closed, assigned to melloware

[2020-11-13 08:25] ManzerHa-Kore opened #6505 "Dropdown: Warning: Encountered two children with the same key."
react_devtools_backend.js:2450 Warning: Encountered two children with the same key. Keys should be unique so that components maintain their identity across updates. Non-unique keys may cause children to be duplicated and/or omitted — the behavior is unsupported and could change in a future version.
in ul (created by DropdownPanel)
in div (created by DropdownPanel)

this.cities = [
            { na

[2020-11-13 08:38] tandraschko commented on #6505
This issuetracker for PrimeFaces, not PrimeReact.

[2020-11-13 08:38] #6505 closed, assigned to nobody

[2020-11-13 10:00] pfumi opened #6506 "Calendar: Using min-/maxdate throws an error"
**Describe the defect**
When using mindate or maxdate as java.sql.Date the calendar component throws an exception.
See
`class java.lang.UnsupportedOperationException
java.lang.UnsupportedOperationException
	at java.sql.Date.toInstant(Date.java:315)
	at org.primefaces.util.CalendarUtils.convertDate2ZonedDateTime(CalendarUtils.java:439)
	at org.primefaces.util.CalendarUtils.convertDate2LocalDate(Cal

[2020-11-13 10:06] pfumi commented on #6506
With PrimeFaces 7 it was not possible to use the Java 8 LocalDate classes, so we converted them to Date. But now the code breaks since PrimeFaces 8.

[2020-11-13 13:38] melloware opened #6507 "SelectOneMenu: editable="true" with SelectItemGroup"
**Describe the defect**
When using `editable="true` and `SelectItemGroup` it is selecting the Label not the Value.  This is similar to https://github.com/primefaces/primefaces/issues/2862 however that was not expecting SelectItemGroups. it needs to be modified to use SelectItemGroup.

See: https://stackoverflow.com/questions/64790158/selectonemenu-with-editable-true-using-primefaces-select-item-gr

[2020-11-13 14:18] melloware commented on #6507
Added integration test: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/7e4aff0890b7fde321a2abf37b40c588d1aa691c

[2020-11-13 14:25] melloware commented on #6506
Is it because you are  using `java.sql.Date` and you should be using `java.util.Date`??

See: https://stackoverflow.com/questions/36435492/unsupportedoperationexception-why-cant-you-call-toinstant-on-a-java-sql-dat

[2020-11-13 14:42] pfumi commented on #6506
To convert LocalDate to Date I can either do
a) java.util.Date.from(LocalDate.now().atStartOfDay(ZoneId.systemDefault()).toInstant())
or
b) java.sql.Date.from(LocalDate.now())

b) Does not work anymore since PF8, but worked in PF7. I know I can just use LocalDate now and dont have to bother with the Date classes anymore.

Just wanted to give you the information that it worked before.

[2020-11-13 14:44] melloware commented on #6506
OK let me look if its an easy fix.

[2020-11-13 14:48] melloware commented on #6506
Reproducer:
[pf-6506.zip](https://github.com/primefaces/primefaces/files/5537461/pf-6506.zip)

[2020-11-13 15:22] vitsin opened #6510 "p:menuitem icon="flight-land" not showing up"
<p:menuitem id="sr_db_landing" value="Landing" icon="flight-land" ... /> - show up icon that match "flight" icon and not "flight-land".
<p:menuitem id="sr_db_landing" value="Landing" icon="flight" ... /> - proper "flight" icon show up.

Theme Sapphire: v2.0.2
PrimeFaces: v8.0.5

[2020-11-13 15:25] melloware commented on #6510
Please report on the Saphire forums: https://forum.primefaces.org/viewforum.php?f=106

I am not even sure where the icon "flight" or "flight-land" are coming from.  What icon set are you using?

[2020-11-13 15:29] vitsin commented on #6510
https://www.primefaces.org/sapphire/utils.xhtml

[2020-11-13 15:30] melloware commented on #6510
OK yep all issues for premium themes do not get dealt with by the Community only by PrimeTek so report your issue to the the Saphire forum: https://forum.primefaces.org/viewforum.php?f=106

[2020-11-13 15:30] #6510 closed, assigned to nobody

[2020-11-13 15:31] vitsin commented on #6510
thanks

[2020-11-13 18:09] melloware commented on #6506
I added an Integration Test to catch this in the future: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/18e6a35b5220e9fd0ee2d913f2f969c69f2a37da

[2020-11-13 18:43] #6506 closed, assigned to melloware

[2020-11-13 19:56] melloware commented on #6387
Circling back to this issue @mertsincan I wonder if we should only apply the padding if `padControl=true`??

[code]

[2020-11-15 08:29] christophs78 opened #6511 "AutoComplete: optionally allow to consume REST-endpoint for suggestions"
Idea would be to optionally use a simple REST-endpoint to provide AutoComplete-suggestions.
This would avoid having the JSF-lifecycle-overhead including RestoreViewPhase for just providing a few AutoComplete-suggestions.
Once a value is selected "everthing" (eg converters) would happen JSF-"style".

I´ll try to work on this within the next weeks.
Just started with a simple Showcase-Draft-PR: https

[2020-11-15 14:58] #6507 closed, assigned to melloware

[2020-11-16 00:52] Rapster opened #6513 "Datatable: sorting not available after adding column dynamically"
**Describe the defect**
Based on this sample: http://localhost:8080/showcase/ui/data/datatable/columns.xhtml, you can modify columns you wish to see. Add "color" column, sorting is not available. This is due to sortBy metas being viewscoped

**Environment:**
 - PF Version: 9.0-SNAPSHOT

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:8080/showcase/ui/data/datatable/colu

[2020-11-16 07:55] fcjm opened #6514 "SelectOneMenu: Escaping issue when using multiple SelectItemGroups with the same SelectItem"
**Describe the defect**
Escapes certain SelectItems if they appear multiple times in different SelectGroups, although they are not meant to be escaped. The problem seems to lie in the calculation of the index when checking against the "escape" property of the SelectItem. In this example there is an offset of -1, which when selecting the first not escaped option ("0"), results in the application ch

[2020-11-16 12:48] melloware commented on #6514
Thanks for reporting and test case.  Let me investigate.

Reproducer:
[pf-6514.zip](https://github.com/primefaces/primefaces/files/5546307/pf-6514.zip)

[2020-11-16 12:59] melloware commented on #6514
I can confirm this is already fixed in 9.0-SNAPSHOT if you would like to give 9.0 a shot.
[code]

[2020-11-16 14:18] melloware commented on #6387
I created integration tests for this: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/1f7f1d3ce505e736f3231310c44ac6ad1fb9916a

[2020-11-16 15:15] melloware commented on #4919
Reproducer:
[pf-4919.zip](https://github.com/primefaces/primefaces/files/5547188/pf-4919.zip)

[2020-11-16 15:51] #4919 closed, assigned to melloware

[2020-11-16 16:08] #6083 closed, assigned to melloware

[2020-11-16 16:32] metaxmx commented on #6387
It seems like there is still a little Issue with the new `getValue()` function:

When I have a `<p:inputNumber decimalPlaces="0" />` with 0 decimal places (i.e. for an integer), the `getValue()` function still renders a decimal point (without any trailing decimals) like `"6."`.

Apparently the decimal places are provided not as number, but as a String in the `cfg`, so the check
[code]
returns true

[2020-11-16 16:35] melloware commented on #6387
Hmm yes because my Integration Test using an integer is not showing any decimal places.

See this Integration Test: https://github.com/primefaces-extensions/primefaces-integration-tests/blob/master/src/test/java/org/primefaces/extensions/integrationtests/inputnumber/InputNumber001Test.java

[2020-11-16 16:38] metaxmx commented on #6387
Hm, strange, because I get NumberFormatExceptions in Selenium and verified it in the console [I mean my own example, not your integration test].
But maybe it's been fixed already. I'll check and get back to you ...

[2020-11-16 16:39] melloware commented on #6387
Let me know. Your fix does make sense just wondering why i am not seeing it.

[2020-11-16 18:11] metaxmx commented on #6387
I created an integration test to verify this issue:
https://github.com/metaxmx/primefaces-integration-tests/commit/237b14103985001ed726a4908d5ea5b7e4a386be

When you call `PrimeFaces.widgets.myInputNumber.getValue()` or look in the value of the Hidden Input, you'll find the "wrong" format (with a decimal point but without any decimal places). The new integration-test I linked above is currently th

[2020-11-16 18:22] melloware commented on #6387
Thank you I am adding your integration test.

[2020-11-16 18:49] melloware opened #6518 "InputNumber: Respect padControl property"
**Describe the defect**
After the fix for #6387

**Reproducer**
Integration Test:

**Environment:**
 - PF Version: _8.0.5_
 - JSF + version: _ALL_
 - Affected browsers: _ALL_

**Expected behavior**
When `padControl=true` then 0 padded decimals should not be added to the end.

**Example XHTML**
[code]

**Example Bean**
[code]

Test is failing with...
[code]

[2020-11-16 18:51] melloware commented on #6518
Failing Integration Test:
https://github.com/primefaces-extensions/primefaces-integration-tests/commit/002c476e689ead5777366d11904366898a2eba1b
[code]
CC @metaxmx

[2020-11-16 19:16] metaxmx commented on #6518
To also check for the padControl/allowDecimalPadding property, we probably just need to add another condition:
[code]

I created a PR for the missing check

[2020-11-16 19:17] melloware commented on #6518
Ahh so did I check mine

[2020-11-16 19:22] #6518 closed, assigned to melloware

[2020-11-16 19:24] metaxmx commented on #6518
Sorry for the miscommunication ... I thought you wanted me to come up with a solution

[2020-11-16 19:32] melloware commented on #6518
No problem!  and Integration Test is now passing after the fix.

[2020-11-17 10:25] #6513 closed, assigned to Rapster

[2020-11-17 10:52] StevenHachel commented on #6342
Already very threesome when you have to go from elite to pro user to get an expected functioning dropdown box. Isn't there anything special that I'm asking for? :-)

Thx for help!

Steven

[2020-11-17 11:13] tandraschko commented on #6342
We dont work for PrimeTek, so thats up to @mertsincan. We only work in the current master as Community.

[2020-11-17 13:56] melloware commented on #3917
@Rapster why did you re-open this issue?  Is there some new bug?

[2020-11-17 14:11] Rapster commented on #3917
Because of this: https://github.com/primefaces/primefaces/issues/5868

[2020-11-17 15:23] tuerker commented on #5579
@melloware: This seems to be broken again! I am on the (~3 weeks old) latest snapshot.

[2020-11-17 15:23] tuerker commented on #5579
You can easily enter non-numeric values for the spinner.

[2020-11-17 15:31] melloware commented on #5579
I am looking through the changelog since March 24 and this component really hasn't been touched.  This ticket only talked about not allowing two negative signs or multiple period "." Are you sure this was ever actually reported?

I am out on the 8.0 Showcase here: https://www.primefaces.org/showcase/ui/input/spinner.xhtml and it has your old problem of allowing multiple negative signs as well as a

[2020-11-17 16:00] tuerker commented on #5579
Look at the title of the issue "Spinner: should not allow to enter non-numeric values".

[2020-11-17 16:02] melloware commented on #5579
Yep but i looked at your two examples given in this ticket...
[code]

You didn't specify not typing in "abc" or any other character.

I need to write some integration tests.

[2020-11-17 16:02] tuerker commented on #5579
many thanks.

[2020-11-17 16:22] tuerker opened #6521 "Spinner: Lock to stepFactor with 'round' attribute"
It would be great if one could define this:

[code]

and the spinner would allow the intended values only. In this case: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, and 55!

among others, it should not be possible to enter non-numeric values and unintended numeric values (here any decimals or integers not in the list above)

[2020-11-17 18:32] melloware commented on #5579
Added failing integration tests:
https://github.com/primefaces-extensions/primefaces-integration-tests/commit/2028db3f4cf8670825892ce6eb0698ca72885860

[2020-11-17 19:07] #5579 closed, assigned to melloware

[2020-11-17 19:15] melloware commented on #5579
All integration tests are now passing after this fix.
https://github.com/primefaces-extensions/primefaces-integration-tests/actions/runs/368763582

[2020-11-17 19:16] melloware commented on #6521
I have fixed part of this with my latest commit. If your number is an Integer i no longer allow the decimalSeparator char to be entered like "."

[2020-11-17 19:24] melloware commented on #6521
This could be tricky because to enter "10" you need to enter "1" then "0"  The "1" is not on the stepFactor so it would block it from entering.

[2020-11-18 09:27] mertsincan opened #6523 "Timeline is not working with draggable and Treetable"
Reported By PRO User;

[2020-11-18 09:29] #6523 closed, assigned to mertsincan

[2020-11-18 11:04] stefan-dan opened #6524 "SelectOneMenu and SelectCheckBoxMenu doesn't hide under the horizontal menu bar"
**Describe the defect**
SelectOneMenu and SelectCheckBoxMenu doesn't hide under the horizontal menu bar when nothing is selected.

**Reproducer**
Check the showcase:
https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml
https://www.primefaces.org/showcase/ui/input/checkboxMenu.xhtml

**Environment:**
 - PF Version: 8.0.2-SNAPSHOT
 - JSF + version: Mojarra-2.3.13.
 - Affected browsers: ALL

**

[2020-11-18 11:11] Rapster commented on #6524
showcase issue?

[2020-11-18 11:48] stefan-dan commented on #6524
@Rapster no, showcase is the simplest way to show the bug, I am using the same environment, with a <p:menubar> and the issue persist.

[2020-11-18 12:51] melloware commented on #6524
When the page renders... PrimeFaces assigns components a zIndex starting at 1000, so 1001, 1002, etc.

When you click a SelectOne popup menu it generates a new `PrimeFaces.zIndex++` to ensure that the popup menu has a new higher zIndex like 1005 to ensure its on top.

In fact, if you use the DOM Inspector every time you click the SelectOne you see its Zindex increase 1006, 1007, 1008 etc.  I belie

[2020-11-18 12:51] #6524 closed, assigned to nobody

[2020-11-18 12:55] melloware opened #6525 "PrimeIcons: 4.1.0 Update"
**Description**
PrimeIcons 4.1.0 was released today. Upgrade it in PF.

[2020-11-18 13:13] #6525 closed, assigned to melloware

[2020-11-18 14:34] ubench-tdv opened #6527 "CSP: DialogReturn not handled correctly when CSP is enabled"
**Describe the defect**
There seems to be a problem in handling the DialogReturn ajax event when CSP is enabled. The DialogReturn event is not triggered and the dialog does not close.

**Reproducer**

See the attached file

[primefaces-test.zip](https://github.com/primefaces/primefaces/files/5560663/primefaces-test.zip)

**Environment:**
- PrimeFaces version: 8.0 (also tested 8.0.4)
- CSP enabled?

[2020-11-18 15:03] melloware commented on #6527
Thank you for following the template and the excellent use case!  It makes it so much easier to debug issues.

[2020-11-18 15:15] ubench-tdv commented on #6527
No thank you, for your response and this great product called Primefaces!

[2020-11-18 15:31] melloware commented on #6527
@mertsincan I think this should go in Elite 8.0.6

[2020-11-18 15:31] #6527 closed, assigned to melloware

[2020-11-19 09:31] tuerker commented on #6521
thanks. unfortunately, i cannot run my system with the latest PF snapshot since there were some breaking changes in the last days (regarding datatables). we have to do some migration work first.

[2020-11-19 09:34] tuerker commented on #6521
i am aware of the difficulties. maybe in case of the numbers the entering would be allowed but when the spinner is left the value is reset (to the closest or null) with providing a corresponding message.

[2020-11-19 12:36] buunsal opened #6530 "Timeline: Nested groups feature"
https://visjs.github.io/vis-timeline/examples/timeline/groups/nestedGroups.html

[2020-11-19 12:41] melloware commented on #6530
Thank you for creating the issue and the PR!

[2020-11-19 13:43] melloware commented on #6521
Added Integration Test: https://github.com/primefaces-extensions/primefaces-integration-tests/commit/12ed3ec3b9cf7771c1f010148e3a6ed454b86de7

[2020-11-19 13:47] Rapster opened #6532 "Datatable: Sorters/Filters indexed by Column#field"
**Describe the defect**
As of today, sorters and filters are contained in a map indexed by clientId. Using `LazyDataModel#load` method, actives sorters/filters are transformed into a map where field is the key. At least two reasons for that:
- UIColumn#columnKey useless at this point
- Easy for the users to retrieve a specific sorter/filter from this map

If you take that sample #6421 in lazy mode

[2020-11-19 13:54] #6530 closed, assigned to buunsal

[2020-11-19 14:44] melloware commented on #6532
@jxmai interested in your thoughts here since its your use case.

[2020-11-19 14:48] tandraschko commented on #6532
third solution (bit ugly):
introduce a "key" attribute on the column, which defaults to "field". So @jxmai for usecase, you could add a second column with the same field, just with a "key" attribute

[2020-11-19 15:20] Rapster commented on #6532
Ideally, if we could get rid of columnKey from UIColumn, that would be great. Whether you're adding a new attribute, or reuse `UIColumn#field` it's the same. In #6421, I would do something like this:
[code]

_(Not sure using c:foreach is the best option though but i'm sure you get the idea 😅 )_

[2020-11-19 15:22] tandraschko commented on #6532
but that doesnt fix if we have 2 columns mapped on the same field?

[2020-11-19 15:31] Rapster commented on #6532
The idea is to have one column for one field, you may display the same value but the field have to be different. For #5162, it could be year, yearFrom, and yearTo

[2020-11-19 16:12] melloware commented on #2195
@JensPiegsa Even if I update the code it will add `ui-state-hover` but it gets overridden by `ui-state-active` so there is no visual change anyway. Do you have a specific use case on why you need `ui-state-hover` when it has no visual effect? I will close this ticket for now unless you have a compelling use case for me to fix it.

![image](https://user-images.githubusercontent.com/4399574/99691971

[2020-11-19 16:17] tandraschko commented on #2195
not sure melloware
someone could style .ui-state-active.ui-state-hover

[2020-11-19 16:23] melloware commented on #2195
Yes they could so I really don't see any harm in this change.

[2020-11-19 16:35] melloware commented on #3934
This was fixed a while ago in 6.2.11 and 7.0.  See: https://github.com/primefaces/primefaces/issues/4176

[2020-11-19 16:35] #3934 closed, assigned to mertsincan

[2020-11-19 16:42] tandraschko commented on #2195
yep
thats something i did years ago for inputs, too
there was the same code

[2020-11-19 16:42] #2195 closed, assigned to melloware

[2020-11-19 18:01] melloware commented on #1330
I just tested this and it works fine for CommandLink.  A link in the TreeTable does not select the checkbox when the link is clicked.

[2020-11-19 18:01] #1330 closed, assigned to nobody

[2020-11-19 20:52] melloware commented on #5013
I wonder if we can generalize this further and say that frozen columns should not be draggable period?

[2020-11-19 23:40] Rapster opened #6535 "MessageFactory: use varargs"
**Description**
Use varargs instead of Object[]

[2020-11-20 10:49] buunsal commented on #6501
The same issue continues with 9.0-SNAPSHOT

[2020-11-20 11:42] #6511 closed, assigned to christophs78

[2020-11-20 12:25] wlhUser commented on #5013
Good idea, for me this sounds reasonable.

[2020-11-20 16:00] melloware commented on #5013
jetty runnable reproducer:
[pf-5013.zip](https://github.com/primefaces/primefaces/files/5574645/pf-5013.zip)

[2020-11-20 16:02] #6535 closed, assigned to Rapster

[2020-11-20 21:21] christophs78 opened #6538 "AutoComplete: add clear-JavaScript-method"

[2020-11-20 23:30] #6538 closed, assigned to christophs78

[2020-11-22 16:42] Rapster opened #6540 "DatePicker: range + onchange not called"
**Describe the defect**
JS callback when range selection set

**Environment:**
 - PF Version: 9.0-SNAPSHOT

**To Reproduce**
Steps to reproduce the behavior:
1. Based on https://www.primefaces.org/showcase/ui/input/datepicker/datePicker.xhtml
2. Define a selection for range example
3. JS callback not called

**Expected behavior**
JS callback called

**Example XHTML**
[code]

**Analysis**
JS callba

[2020-11-22 16:46] melloware commented on #6540
That widget builder method is so we don't waste network traffic sending the JSON value if its the known default.

So the widget init method needs this
[code]

[2020-11-22 17:06] Rapster commented on #6540
Ah ok thanks

[2020-11-22 17:14] Rapster opened #6542 "Datatable: add range filter constraint"
**Description**
Quite useful with dates. Using datepicker range feature, we should be able to filter rows that are between a begin and end date

**Additional context**
See use case of #5162

**Example XHTML**
[code]

**Supported types**
LocalDate, LocalDateTime, Date

[2020-11-22 17:54] RimIshak commented on #5898
Hello, I use primefaces 8.0.4 and the calendar inline mode does'nt work on chrome
Can you advise please ?
Also , the calendar inline mode outside the dialog doesn't work like usuall on chrome, when we click on  button, it jump on the left ..

[2020-11-22 22:40] #6540 closed, assigned to melloware

[2020-11-23 09:38] tandraschko opened #6543 "AJAX: all AJAX requests are aborted with file download"
in Chrome the beforeunload event is fired on filedownload, which aborts all our AJAX requests.
in general the logic was added to be sure, that all AJAX request are really aborted right away when the window is unloaded.

the correct way is to use unload, not beforeunload.

[2020-11-23 09:47] #6543 closed, assigned to tandraschko

[2020-11-23 09:55] tandraschko opened #6544 "Remove old "abort all AJAX" on a normal Post stuff"
in the past we added a logic to render PrimeFaces.onPost on each button, which aborts all AJAX requests on a non-AJAX button click.
We also added it to the window.unload event.

We removed the rendering of onPost in the past as it breaks filedownload. I think we should remove the leftovers.

If someone uses it, he can directly use PrimeFaces.ajax.Queue.abortAll();

related:
https://github.com/prim

[2020-11-23 09:57] #6544 closed, assigned to tandraschko

[2020-11-23 10:04] #6521 closed, assigned to melloware

[2020-11-23 12:41] tandraschko commented on #1437
commited a simple version without "mode" event and write back to VE. I think thats ok for now.

@melloware please review and maybe you can add a showcase example with validation failed.

[2020-11-23 12:41] #1437 closed, assigned to tandraschko

[2020-11-23 12:43] melloware commented on #6542
I know this ALWAYS comes up on Stack Overflow so I feel like this is a good new feature.

[2020-11-23 12:44] melloware commented on #5898
@RimIshak can you add the JS I pasted above to your application JS file and see if it works.

[2020-11-23 12:46] melloware commented on #1437
I will add a showcase example now.

[2020-11-23 12:53] Rapster commented on #1437
Turns out my fix was good enough back then 😅

[2020-11-23 12:55] melloware commented on #1437
@tandraschko I see you already added a Showcase example.  Great work!

[2020-11-23 13:53] tandraschko commented on #1437
yep but not for the "validation failed" example

yeah, i just wanted to have it better but i would like to have less open tickets
we can enhance it later if someone would like to send the mode back to the server

[2020-11-23 18:00] tandraschko commented on #3796
could someone try to check why this works with p:messages but not with p:message?
we could easily add this CC logic here BUT in theory it should not work with p:messages as we dont have this CC logic there and we get the messages for the composite-clientId, not for the wrapped input.

[2020-11-23 19:32] melloware opened #6545 "Audio: New HTML5 Audio Component"
**Description**
A new component to render the HTML5 `<audio>` tag.

See: https://github.com/primefaces/primefaces/issues/105

**Example XHTML**
[code]

[2020-11-23 19:33] melloware opened #6546 "Video: New HTML5 Video Component"
**Description**
A new component to render the HTML5 `<video>` tag.

See: https://github.com/primefaces/primefaces/issues/105

**Example XHTML**
[code]

[2020-11-23 20:19] melloware commented on #3796
I have debugged this and can explain why it works for Messages and not Message.

Messages falls into the following `else` block and the value of `forIgnores` is `NULL`.
[code]

So what happens is `Iterator<String> keyIterator = context.getClientIdsWithMessages();` returns all input keys on the page thta have a validation message and displays it in Messages.  Our Message component is simply looking