[2017-12-09 00:43] #914 closed, assigned to nobody

[2017-12-09 01:16] tandraschko commented on #2979
this case should work now but i dont remove the comments for now. Thats fine for me, we didnt build a js minimizer here :D
@melloware could you also retest your application?

[2017-12-09 01:16] #2979 closed, assigned to tandraschko

[2017-12-09 01:23] #2975 closed, assigned to tandraschko

[2017-12-09 01:25] tandraschko opened #3057 "Check jquery-plugins if we can move single scripts to the component scripts"
currently jquery-plugins is a big pool of plugins
1) we have common plugins like browser, caret, ... which are used by core.js
2) we have plugins like datetimepicker, which are e.g. only used by p:calendar

1) can stay in jquery-plugins
2) should be moved to a calendar.js probably

[2017-12-09 01:26] tandraschko opened #3058 "Refactor Request/ApplicationContext to internal usage"
as we have PrimeFaces.current() for endusers now

[2017-12-09 01:29] #2890 closed, assigned to nobody

[2017-12-09 01:35] #2351 closed, assigned to melloware

[2017-12-09 01:36] #2956 closed, assigned to tandraschko

[2017-12-09 01:40] tandraschko commented on #2802
I just looked at the initial issue at quill and it was closed.
Couldn't we somehow solve it in our integration JS?

[2017-12-09 02:27] cidylong commented on #2331
@melloware , is there possible to modify a particular js file to enable keyup event please!! I'm using Primefaces 6.1

[2017-12-09 03:11] jxmai commented on #2802
it was closed not because it was fixed.   Quill maintainer tends to close an issue that is incomplete from his POV.  He was asking for more proof before making the decision although he knew it was a changing behaviour.

His comment: https://github.com/quilljs/quill/issues/1762#issuecomment-345070342

The sample usually requires `jsfiddle`, `codepen` links, but that's not easy for us to do since th

[2017-12-09 12:07] tandraschko commented on #2605
Yep, doesn't work for me with plain html, too.

[2017-12-09 12:07] #2605 closed, assigned to nobody

[2017-12-09 13:38] melloware commented on #2331
@cidylong Are you asking if you can hack this functionality into 6.1 with a JS override?  Ithink the simple answer is not easily, but the longer answer is you can probably definitely do it with Jquery by finding the input box by its id or widgetvar and adding the .on("keyup") hook to it.

[2017-12-09 17:36] melloware commented on #2832
Another possible issue related on the Quill site for not being able to intercept keyboard events:  https://github.com/quilljs/quill/issues/983

[2017-12-09 17:41] melloware commented on #2649
@Dragonsol can you try this again since we just updated 6.2-SNAPSHOT to use the latest version of QuillJS and report back if it is still an issue?

[2017-12-09 21:26] ravihariharan commented on #3056
https://github.com/ravihariharan/showcase/blob/master/src/main/webapp/ui/misc/fa.xhtml

[2017-12-10 03:25] ravihariharan commented on #3056
![image](https://user-images.githubusercontent.com/15189434/33801648-8dd6e51a-dd2f-11e7-8877-8a54847ffd50.png)

Not sure of the impact of removing margin-top:-0.25em from .ui-icon  and hence leaving it as is for now.

[2017-12-10 04:47] jxmai commented on #2832
Good reference :+1:  It looks like that `not exposing keyboard events` is by design.

Some random thoughts: the argument above is hard to debate since the term `leaky abstraction` itself is subjective. When dealing with some legacy codebase for example, some abstraction implementation might be right at its time but after more and more requirements add-on, a new feature might borrow some existed ap

[2017-12-10 14:03] #2894 closed, assigned to tandraschko

[2017-12-10 14:06] #2992 closed, assigned to tandraschko

[2017-12-10 14:30] #3028 closed, assigned to tandraschko

[2017-12-10 14:32] #89 closed, assigned to tandraschko

[2017-12-10 15:29] #3034 closed, assigned to tandraschko

[2017-12-10 15:30] #506 closed, assigned to tandraschko

[2017-12-11 06:35] orange-buffalo opened #3060 "Wizard: Support animation for changing steps"
Currently Wizard component simply [changes the content html when response is retrieved](https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/wizard/wizard.js#L83):
[code]

While this is working fine, the change is immediate, but sometimes UX requires smooth transitions between the wizard steps. For example, simple fade-in animation would greatly imp

[2017-12-11 07:14] OBreidenbach commented on #3022
I did describe my use case.
I want to offer a default time, but I must not offer a default date. I do not know, how I can do this by using the value attribute.
But may be I am missing something. So how can I provide a default time without providing the date part with the value attribute?
For the screenshot I did use my added code. It is just taken after opening the popup. The default time is set t

[2017-12-11 09:01] mertsincan opened #3061 "Add beforeShow callback to Confirm component"
Callback to execute before displaying Confirm Dialog.

[2017-12-11 09:04] #3061 closed, assigned to mertsincan

[2017-12-11 10:35] #2981 closed, assigned to tandraschko

[2017-12-11 10:42] #2977 closed, assigned to tandraschko

[2017-12-11 10:51] #472 closed, assigned to tandraschko

[2017-12-11 10:53] #495 closed, assigned to tandraschko

[2017-12-11 10:58] tandraschko commented on #2989
I tried to upgrade it this year, already fixed some stuff and it worked fine when adding the migration plugin (https://code.jquery.com/jquery-migrate-3.0.1.js), which just logs some warnings that methods were removed.
In core.js there is also something we can remove (see: // TODO remove when updating to jQuery 3)

[2017-12-11 10:58] tandraschko commented on #2989
we can easily try to remove the warnings in the future and hopefully remove the migration plugin some day.

[2017-12-11 11:00] #2966 closed, assigned to tandraschko

[2017-12-11 11:17] Quix0r commented on #3012
Has it also been included in 6.1? I mean, it is a small trivial yet important change, everyone should benefit from it.

[2017-12-11 11:50] mertsincan opened #3062 "Upgrade jQuery to 3.2.1"

[2017-12-11 11:50] mertsincan commented on #2467
Duplicate of #3062

[2017-12-11 11:55] mertsincan commented on #2989
Thanks Thomas ;) I created a new Github issue. I tested Jquery 3.2.1 on showcase. it works fine for me.

[2017-12-11 11:55] #2989 closed, assigned to nobody

[2017-12-11 11:55] mertsincan commented on #2989
Duplicate of #3062

[2017-12-11 11:56] #3062 closed, assigned to mertsincan

[2017-12-11 12:27] melloware commented on #2979
I have retested this morning and so far i haven't found any issues!

[2017-12-11 12:46] mertsincan opened #3063 "Lightbox component throws a js error on jQuery 3.2.1"

[2017-12-11 12:48] #3063 closed, assigned to mertsincan

[2017-12-11 12:57] tandraschko opened #3064 "ExceptionHandler: onexception isn't called with jquery 3.2.1"
the script is correctly passed to $.globalEval but not executed correctly... in core.js doEval method

Open: http://localhost:8080/showcase/ui/misc/exceptionHandler.xhtml
Click: AJAX - Throw ViewExpiredException!

a dialog should be shown correctly

[2017-12-11 17:07] kukel commented on #3056
PF should not include their own version of fontawesome anymore but 'reference' the webjars version....
https://stackoverflow.com/questions/18891768/how-to-use-font-awesome-from-webjars-org-with-jsf#28652968

[2017-12-11 17:10] kukel commented on #3021
Personally I would not try to fix this issue. If you think you need `@all` in an application, refactor it to a non ajax call  or do a PRG from the bean and use a viewAccessScoped bean

[2017-12-11 17:42] zek72 commented on #2861
Hi, I am facing the same issue. May I learn what is the status of this issue?

[2017-12-11 17:47] melloware commented on #2861
It has been acknowledged as a defect but has not been fixed yet nor has any user submitted a PR to fix it yet.

[2017-12-11 20:21] jxmai commented on #2989
The milestone of this closed ticket has been outdated. (6.3 -> 6.2)

![image](https://user-images.githubusercontent.com/10467831/33852031-8a621238-de7e-11e7-8aa9-9fe5e6094e65.png)

[2017-12-12 07:19] #3064 closed, assigned to tandraschko

[2017-12-12 08:44] mertsincan commented on #3056
Thanks a lot for the PR;)

This issue is fixed.

[2017-12-12 09:00] renceabishek commented on #3048
thanks mate. i got it

[2017-12-12 12:05] #726 closed, assigned to nobody

[2017-12-12 14:16] tandraschko opened #3066 "Galleria component throws a js error on jQuery 3.2.1"

[2017-12-12 14:17] tandraschko opened #3067 "ImageCropper component throws a js error on jQuery 3.2.1"

[2017-12-12 16:13] #3003 closed, assigned to tandraschko

[2017-12-12 16:13] #2604 closed, assigned to tandraschko

[2017-12-12 20:40] wal-jan commented on #2451
@aimad-majdou you can achive hiding time of selected events by adding a style class (e.g. `hide-time`)
`new DefaultScheduleEvent("F2", start, end, "formuleColor1 hide-time");`
and style `.hide-time .fc-time { display:none; }`

[2017-12-12 22:45] jxmai commented on #3066
This issue and #3067 are caused by the same piece of code as there is no load function in JQ 3

https://jquery.com/upgrade-guide/3.0/#breaking-change-load-unload-and-error-removed

https://github.com/primefaces/primefaces/blob/d2ab98b55185b71b5ed8697023dfea82ef7bf346/src/main/java/org/primefaces/util/WidgetBuilder.java#L83-L91

[2017-12-13 00:35] melloware commented on #3066
Nice debugging!

[2017-12-13 10:14] VSchlapa opened #3069 "Dialog: Closing X in not modal dialog not in navigation flow"
1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest released PrimeFaces version?: NO
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source): NO
- Application server + version:
- Affected browsers: Firefox 56, Chrome 63.03239, Microsoft Edge 40

2) Expected behavior
in basic dialog component with head

[2017-12-13 10:47] humankey commented on #3069
+1 definitely needed!

[2017-12-13 11:48] mertsincan opened #3070 "Scrollheight issue on SelectManyMenu and SelectOneListbox"
Reported By PRO User;

Note : Above mentioned property works fine with primefaces 6.0

Assist to solve this issue.

Attached screenshot for reference.

sample code:
[code]

[2017-12-13 11:50] #3070 closed, assigned to mertsincan

[2017-12-13 12:25] melloware commented on #3045
What about this?  It looks like the dialog has a focus property?

https://www.primefaces.org/showcase/ui/overlay/dialog/focus.xhtml

`<p:dialog header="Checkbox" widgetVar="checkboxDlg" focus="checkbox">`

[2017-12-13 12:25] melloware commented on #3069
When I go to the showcase and click on the Basic dialog I can tab to the "X" and press Enter and close the dialog.  What am I missing?

https://www.primefaces.org/showcase/ui/overlay/dialog/basic.xhtml

[2017-12-13 12:36] VSchlapa commented on #3069
@melloware Sorry you're right, I updated the issue. Actually the effect occurs only when setting a headline for the basic dialog. The basic dialog in the showcase doesn't use a headline part, for that it is not reproducible there. I added a sample of the code we were using

[2017-12-13 12:43] melloware commented on #3069
I am using the 6.2-SNAPSHOT showcase and I just changed to this...

`<p:dialog draggable="false" header="Basic Dialog" minHeight="40" resizable="false" widgetVar="dlg1">`

And I can tab to it fine and click ENTER to close.  Are you sure this isn't fixed already in 6.2-SNAPSHOT?

[2017-12-13 12:56] qnox commented on #3045
Yes, I know about focus attribute, but I'm wondering why dialog default behavior is different in case of checkboxes and radio buttons? It requires additional effort to create such dialogs when in case of textboxes everything works right out of the box.

[2017-12-13 12:58] melloware commented on #3045
Agreed I am just asking if focus="" works?

[2017-12-13 13:04] VSchlapa commented on #3069
I just doublechecked with the community version 6.1, this is what we were using. There the problem still exists. I don't have any other access to the 6.2 SNAPSHOT than the showcase mentioned above and there the header part is not included ;(
By "latest version" I interpreted the latest community version. I'm sorry for my misinterpretation, this is the first issue I reported ever ;) Seems I've got

[2017-12-13 13:10] mertsincan opened #3071 "Autocomplete throws a JS error on forceSelection mode"
`Uncaught TypeError: Cannot read property 'filter' of undefined`

[2017-12-13 13:10] #3071 closed, assigned to mertsincan

[2017-12-13 13:20] qnox commented on #3045
Nope, It doesn't work in case of checkbox or combobox

[2017-12-13 13:23] melloware commented on #3045
That is what I suspected so it's all the same focus code that has the bug.

[2017-12-13 13:24] melloware commented on #3069
Hey no problem.  I typically test using the latest code so I am not chasing a bug that has already been fixed.  To build the 6.2-SNAPSHOT is not that hard. Just follow these instructions:  https://github.com/primefaces/primefaces/wiki/Building-From-Source

[2017-12-13 13:25] xtron opened #3072 "Calendar: Support Java 8 Date API"
## 1) Environment
- PrimeFaces version: 6.1.9
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: Wildlfy 10.0.1
- Affected browsers: all

## 2) Expected behavior

Support Java 8 Date API (LocalDate,ZonedDateTim

[2017-12-13 13:28] melloware commented on #3045
OK I can't explain why but it looks like radio and checkbox were excluded on purpose?

[code]
Basically says don't focus on any Submit, Button, Radio, or Checkbox only a "visible" input field.

[2017-12-13 13:48] VSchlapa commented on #3069
@melloware thank you for your excellent support!
Am I right, that the 6.2-SNAPSHOT Version is a premium version and not yet available for community (free) users? In this case I will have to wait until it is released :(
Thanks to your help I know now, that this problem will be solved in the future builds ;)

[2017-12-13 13:52] melloware commented on #3069
No basically 6.2-SNAPSHOT will become the 6.2 Community Release. You can always build the code from source and its a 100% free and open license.

[2017-12-13 13:55] VSchlapa commented on #3069
Oh, this is good to know. Thank you so much! I learned a lot today, for I'm just the UX guy ;)

[2017-12-13 15:16] melloware commented on #3045
@jxmai I wonder if this should be using the focus updates you did https://github.com/primefaces/primefaces/pull/3037 and the reason they were not looking for checkbox or radio was that it may be invisible?

[2017-12-13 15:42] jxmai commented on #3045
@melloware Could you pull my branch and give it a try since you have all the setup ready (https://github.com/jxmai/primefaces/tree/PF_3029) ? I guess radio focus could be fixed but I am not so sure about the other components.

---

The feedback could be valuable since we may need to refactor the focus function further.

[2017-12-13 16:07] jxmai commented on #3069
This issue can be closed then.

[2017-12-13 17:36] jxmai opened #3073 "Dialog: showing dialog on complete after update does not work the first time on jQuery 3"
## 1) Environment
- PrimeFaces version: PF latest snapshot
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Not relevant
- Affected browsers: not relevant

## 2) Expected behavior

Dialog should be shown righ

[2017-12-13 17:40] mertsincan commented on #3073
I'll check it.

[2017-12-13 17:44] mertsincan commented on #3073
It may be related to https://github.com/primefaces/primefaces/issues/3039

[2017-12-13 17:52] jxmai commented on #3073
To make sure: I also bisected this bug and the result showed me that fc9eda2bdf7852523f553e26a52413f2d6c741b5 `is the first bad commit
`

https://github.com/primefaces/primefaces/commit/e29396526d93f1e641654989f9cbb9717003576d was done 5 days ago and no problem so far until JQ3 upgrade, so it may not be related to #3039

There is no log, no error, just splash screen.

[2017-12-13 18:24] eversnarf commented on #2269
I fully agree. subtable is quite useful in some scenarios, as already mentioned. With subtables, you can nicely work on two separate levels of aggregation (iterate parents, then iterate their children). There are many scenarios where data comes in this flavour, rather than a flat list of children.
Also, as far as I know, to use row grouping, you need to specify a `sortBy` expression. Consider huge

[2017-12-13 19:44] Rapster commented on #3072
1. Primefaces is compatible with <= JDK 1.6
2. Next time, give more details about the stacktrace not only the first line

[2017-12-13 20:45] jxmai commented on #2648
https://github.com/primefaces/primefaces/commit/195dba19c01cf2772416e26ae90ae7cf5789b45a

[2017-12-14 13:41] #3066 closed, assigned to nobody

[2017-12-14 13:41] #3067 closed, assigned to nobody

[2017-12-14 13:44] tandraschko commented on #3072
Can be simple done with a converter ;) Mabye we will do it in the future.

[2017-12-14 13:45] #3069 closed, assigned to nobody

[2017-12-14 13:52] stewe commented on #2726
As a workaround you can add JavaScript right behind the DataTable and set the colspan manually. It's getting even easier, if you use a ColumnToggler:

[code]

Otherwise it will be something like
[code]
whereas you have to determine the correct number somehow. Maybe, take a look at: https://github.com/primefaces/primefaces/blob/25db20899902593b2858958ec25823414acee2a3/src/main/resources/META-INF/re

[2017-12-14 14:11] tandraschko opened #3074 "Remove deprecated autoUpdate attributes"

[2017-12-14 21:34] jxmai opened #3075 "SelectOneMenu: on page load and update will flicker on jQuery 3"
## 1) Environment
- PrimeFaces version: PF latest
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: not relevant
- Affected browsers: not relevant

## 2) Expected behavior

Select One menu should not flicker

[2017-12-14 23:23] mertsincan opened #3076 "ColumnToggler doesn't work correctly after filter and sort on DataTable"

[2017-12-14 23:28] #3076 closed, assigned to mertsincan

[2017-12-14 23:58] mertsincan opened #3077 "Input components inside Carousel are not allowing to enter values."
Reported By PRO User;
[code]

[2017-12-15 00:00] #3077 closed, assigned to mertsincan

[2017-12-15 09:09] ReedElliott opened #3078 "Add swipe functionality to TabView"
## 1) Environment
- PrimeFaces version: 6.1.10
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub?
- Application server + version:
- Affected browsers:

## 2) Expected behavior
When you swipe left on a TabView, the screen should move one tab to the right and when you swipe right the screen should move one tab to the left.

Note: the TabView

[2017-12-15 09:41] tandraschko commented on #3075
I think its just caused by bad performance. SelectOneMenu JS takes ~12-22ms to render.

[2017-12-15 10:11] tandraschko commented on #3075
Improved the performance a bit BUT the flickering is still there.

[2017-12-15 10:24] tandraschko commented on #3075
seems like jquery 2.x is sometimes 1/3 - 1/2  faster on the initial page load to execute the selectors...
Can also be found here: https://jsperf.com/jquery-1-7-2-vs-jquery-1-8/96
Of course the difference is not big but that causes the flickering as the width is initialized after everything else...
so ~5ms can make a big difference here

[2017-12-15 10:42] kukel commented on #2202
Already implemented on Prime-NG... https://github.com/primefaces/primeng/issues/3609  Is PrimeFaces now 'behind' (less important? ;-)) Can it be ported? Would that be difficult? Can I provide a pull request

[2017-12-15 10:50] tandraschko commented on #3075
The best solution probably is to render the label via html directly insteadof JS - so the size is correct on rendering, also without JS.

[2017-12-15 11:08] tandraschko opened #3079 "SelectOneMenu: style broken a little bit"
https://imgur.com/a/hLvdC

with the example from: https://github.com/primefaces/primefaces/issues/3075

[2017-12-15 11:27] orange-buffalo opened #3080 "Growl: keep messages on the screen when new message arrives"
Currently `growl.js` will remove all the messages from the client when new message arrives (see [source code](https://github.com/primefaces/primefaces/blob/f6a0e54f4d11470bad319c6d21fd27f411015706/src/main/resources/META-INF/resources/primefaces/growl/growl.js#L30)):
[code]

This causes unpleasant side-effects, like loosing the previous messages when the next message arrives right after the previo

[2017-12-15 12:05] melloware commented on #2202
@kukel I think a PR would be welcome!

[2017-12-15 15:29] avinashmoram commented on #1447
I posted in the forum, the suggestions didn't help fix the issue.
https://forum.primefaces.org/viewtopic.php?f=3&t=52219
For now I ended up placing my p:messages below p:dataTable which shows me the messages. Looks like the ajax event cannot update any components above it, but can update the components below it.

[2017-12-15 15:42] jxmai opened #3081 "Treetable: null pointer exception in encodeMarkup if value is undefined"
## 1) Environment
- PrimeFaces version: PF latest
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Not relevant
- Affected browsers: Not relevant

## 2) Expected behavior

Treetable renderer should not throw

[2017-12-16 19:41] mertsincan opened #3083 "Table update with ColumnToggler causes duplication of DIV Element"
Reported By PRO User;

E.g:
[code]

.. and so on, every time you click.

[2017-12-16 19:43] #3083 closed, assigned to mertsincan

[2017-12-16 20:16] mertsincan opened #3084 "Context Menus in table not showing with too many elements properly"
Reported By PRO User;

[2017-12-16 20:17] #3084 closed, assigned to mertsincan

[2017-12-17 00:53] djmj opened #3085 "TabView + Accordion: add varStatus functionality"
TabView and accordion provide ui:repeat functionality for binding to a datamodel. But they do not provide varStatus attribute to do something like:

<p:tab title="Page #{varStatus.index}">

[2017-12-17 04:23] jxmai commented on #3049
@tandraschko This issue can be closed since it is not an issue for the upcoming PF 6.2. The sample is missing xhtml but we can figure that out in this case.

[code]

---

[code]

![image](https://user-images.githubusercontent.com/10467831/34076514-2cc93a72-e2af-11e7-9d4c-5630c9a58134.png)

[2017-12-17 04:42] jxmai commented on #3049
Also the sample from the reporter made a mistake:

`@managedBean` should be `@ManagedBean`. The former annotation is invalid that could let any web container fail to register the bean on start up.

[2017-12-17 05:23] jxmai commented on #2649
I don't think this feature (cellEdt with advanced text editor) ever worked even with the original `p:editor`.

---

Eveything needs to be explained by the celleditor's architecture. If you look at the implementation:

https://github.com/primefaces/primefaces/blob/481fdff1c23dfff61425afd2800d3d93d4c2c5c3/src/main/resources/META-INF/resources/primefaces/datatable/datatable.js#L2392-L2398

the inputc

[2017-12-17 19:44] jxmai commented on #3045
No, #3037 is not related to this issue.

Please look at the following snippet

https://github.com/primefaces/primefaces/blob/481fdff1c23dfff61425afd2800d3d93d4c2c5c3/src/main/resources/META-INF/resources/primefaces/dialog/dialog.js#L298-L303

and it was done by this commit:

https://github.com/primefaces/primefaces/commit/f3f835a433c27ac4f83c3f2c1454c82b2365f75c

I would suggest to let @mertsincan

[2017-12-17 21:53] melloware commented on #3045
Yep I saw that too and couldn’t figure out what bug it fixed.  It definitely seemed intentional and hopefully Mert can explain why so we can fix it a different way.

[2017-12-17 22:24] #3049 closed, assigned to nobody

[2017-12-17 22:26] tandraschko commented on #3081
PR is welcome ;) If you don't provide a PR, i would likely close it as invalid.

[2017-12-17 22:30] jxmai commented on #3081
tree table is different from datatable from what I can tell. I would say the value is required and to throw new facesexception if no value.

[2017-12-17 23:13] jxmai commented on #3081
PR: #3086

can be verfied by

1. the sample above (null pointer becomes a cleaner FacesException)

2. http://localhost:8080/showcase/ui/data/treetable/basic.xhtml ... (No regression)

[2017-12-18 00:39] jxmai commented on #2541
@mdzaebel  I tried your sample running against 6.2 Snapshot, but the sample could not be run at all. Please verify the sample to see if anything goes wrong.

[code]

[2017-12-18 10:55] escay commented on #3044
I tried the 6.1.10 release. I took the tableState example from: https://www.primefaces.org/showcase/ui/data/datatable/tableState.xhtml and added the columnToggler using the example above.

I tested selected row and paginator states: they are preserved using multiViewState="true" but when testing the columnToggler the state is not preserved when switching between pages.

I could also reproduce it u

[2017-12-18 12:28] mertsincan opened #3087 "Focus is not moving to next component when tab key is pressed on AutoComplete"
Reported By PRO User;

Follow the below steps to generate this case:

1. type 'a'.
2. press tab key. Now a0 will be set in autocomplete field.
3. now press tab key. item select listener is fired instead of moving focus to next component.
4. after this whenever tab key pressed it will fire only item select event.

[2017-12-18 12:30] #3087 closed, assigned to mertsincan

[2017-12-18 13:01] mertsincan commented on #3073
I couldn't replicate it. My test video;
https://www.dropbox.com/s/2j4whh1yr2ovkb9/dialog_test.mp4?dl=0

[2017-12-18 13:03] mertsincan commented on #3073
Which browser are you using?

[2017-12-18 13:08] tandraschko commented on #3073
doesn't work for me in the current firefox, too.

[2017-12-18 13:08] tandraschko commented on #3073
also fails in chrome - i just copied the example above into the showcase.

[2017-12-18 13:34] escay commented on #3046
@mertsincan Is the event to be used colResize? As in:

`<p:ajax event="colResize" />`

I tested
[code]

on 6.1.10 and it seems to work nicely. Thank you!

[2017-12-18 13:46] mertsincan commented on #3073
Ok, thanks a lot! I'll check it again.

[2017-12-18 13:50] escay commented on #3041
I tested

[code]

on 6.1.10 and it seems to work nicely. Thank you!

[2017-12-18 14:00] escay commented on #3044
Please ignore my previous comment.
After successfully testing #3041 (reorder) and #3046 (resize) I retested this one again and now it works.
I upgraded from 6.1.4 to 6.1.10, perhaps some old javascript was cached in the browsers I used to test.

The columnToggler now also works and it is a much nicer solution compared to saving the column visibility in a backing bean manually as in: https://www.pr

[2017-12-18 14:01] mertsincan commented on #3046
Yes, you need to use <p:ajax event="colResize" />

[2017-12-18 14:04] mertsincan commented on #3044
Thanks a lot for the update!

[2017-12-18 15:29] jxmai commented on #3073
@mertsincan I checked your screencast but I wasn't sure why you couldn't replicate the issue. The sample above can surely replicate the issue on different browsers / machines. In order to expose this issue in a cleaner way, I simplify the sample further and provide a zipped test project for you:

[code]

[primefaces-test-3073.zip](https://github.com/primefaces/primefaces/files/1568477/primefaces-t

[2017-12-18 15:38] escay opened #3088 "DataTable: MultiViewState columnToggler and column sorting do not work together"
## 1) Environment
- PrimeFaces version: 6.1.10
- Poseidon theme: 1.0.2
- Testing new enhancement #3044 in combination with column sorting
- Browser: Firefox 57.0.2

## 2) Expected behavior
Once a column is enabled via a columnToggler and you use column sorting all data should remain visible.

- Enable column 'car.brand' via the columnToggler.
- Order the 'car.year' column by clicking on the Year h

[2017-12-18 16:28] jxmai commented on #3045
Continue the discussion from https://github.com/primefaces/primefaces/pull/3037#issuecomment-352413245:

I see what you mean. It is very likely that was the real intent for not to focus hidden inputs.  https://github.com/primefaces/primefaces/commit/f3f835a433c27ac4f83c3f2c1454c82b2365f75c would be hacky in the first place if that was really the case.

---

CSS3 `not` only accept a **simple select

[2017-12-18 23:10] jxmai commented on #2359
@rzapletal  "PR" stands for the abbreviation of "Pull Request". https://help.github.com/articles/about-pull-requests/

[2017-12-18 23:26] jxmai commented on #2068
@tandraschko Suggest to close this issue as it is impossible to replicate and no update since months.

[2017-12-18 23:46] jxmai commented on #2405
@schlebe I couldn't replicate this problem. Please try to run against the latest Primefaces snapshot. Please provide more details or this issue will likely to be closed.

[code]

[code]

![pf_2405](https://user-images.githubusercontent.com/10467831/34133595-4360e4ac-e41b-11e7-8106-3183e4edf6ec.gif)

[2017-12-19 01:54] jnrbo opened #3089 "Weird behavior menu + dataTable after upgrade"
Hi there!

I'm having a problem with Primefaces, after upgrading from Primefaces 3.4.1 to 6.1 and implemented Spring's transaction + Hibernate (with entityManager), I realized that one of my dataTables item edition (update or insert) stoped working. After some debug, I found that after I click in my submenu menuitem (actionPersist), the dataTable's selection is called before persist. This is the e

[2017-12-19 02:51] jxmai commented on #3089
@jnrbo Please provide a full sample. Based on the description above, I don't think we can replicate.

---

First of all, menu is not part of a datatable. I thought you were mentioning https://www.primefaces.org/showcase/ui/data/datatable/contextMenu.xhtml, but I don't think that's your use case after taking a look at the partial sample and the description your provided.

[2017-12-19 03:12] jnrbo commented on #3089
Done, I updated my post!

[2017-12-19 03:19] jxmai commented on #3089
Hmm, does the sample require Spring ? (I noticed the `@Transactional` annotation)  That would violate the minimal reproducible rule since we cannot run it easily.

@jnrbo  Could you fork this project (https://github.com/primefaces/primefaces-test) and make your sample become runnable ?

[2017-12-19 04:04] jnrbo commented on #3089
Yes, I can, but i would take a few hours.

[2017-12-19 07:55] ankitacroit09 opened #3090 "Prime Calendar with Timer not have the close function"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-12-19 07:59] ankitacroit09 commented on #3090
![capture](https://user-images.githubusercontent.com/25894208/34146566-97e2fd6c-e4c0-11e7-8d1f-7a5aefce65ea.JPG)
In Prime-showcase
https://www.primefaces.org/showcase/ui/input/calendar.xhtml

[2017-12-19 08:01] ankitacroit09 commented on #3090
![capturerich](https://user-images.githubusercontent.com/25894208/34146662-e83e3c9a-e4c0-11e7-8d29-efb4c36415a3.JPG)

This is Richfaces Calendar the same functionality  I am searching in prime
http://showcase.richfaces.org/richfaces/component-sample.jsf?demo=calendar&skin=blueSky

[2017-12-19 08:21] tandraschko commented on #3090
Read the docu, we have a flag to display the buttons.

[2017-12-19 08:21] #3090 closed, assigned to nobody

[2017-12-19 08:22] tandraschko commented on #3090
Next time -> please use the forum ;)

[2017-12-19 08:47] ankitacroit09 commented on #3090
Thanks for reply  @tandraschko
I will put the request in Forum

[2017-12-19 10:28] schlebe commented on #2405
I need more time to do that because my customer has decided to continue to pay the Primefaces Elite license but the paiement will be effective only in January 2018.
I will wait until 2018 to use the last sub-release of Primefaces and test using it.
I come back with a response between 1 and 15 Januray.

[2017-12-19 10:33] mertsincan opened #3091 "TextArea doesn't work correctly with p:resizable"

[2017-12-19 10:35] #3091 closed, assigned to mertsincan

[2017-12-19 11:56] #3081 closed, assigned to tandraschko

[2017-12-19 12:32] melloware commented on #3089
@jnrbo If you don't mind creating one that is the only way we can help debug.

[2017-12-19 13:53] mertsincan commented on #2631
Duplicate of #2613.  Good PR!! We need to add isMultiSort() check. Please see;
[code]

[2017-12-19 13:53] #2631 closed, assigned to nobody

[2017-12-19 15:22] jxmai commented on #2405
Alright, please report here when you are ready.

[2017-12-19 17:32] Rapster opened #3092 "Messages: Use isValueBlank to evaluate "for""
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> No https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Tomcat 7
- Affected browsers: Chrome

 Having this composite:
[code]
## 2) Expected behavior
With no `forComponent`

[2017-12-19 20:42] jxmai commented on #2696
~~@tandraschko This issue is a duplicate of #1001~~

Correction: that one is for p:dialog, but this one is for dialogFramework. so they are not duplicate.

[2017-12-19 20:47] mallorygiles commented on #2696
Is this really a duplicate? #1001 reference the p:dialog. This is for a dialog opened using the dialog framework.

[2017-12-19 20:48] jxmai commented on #2696
I just corrected it. :+1:

[2017-12-19 22:48] mdzaebel commented on #2541
Well, this is JEE 7 (EL 3.0) where #{[0,1]} is valid. It seems you have a JEE 6 environment while JEE 8 is already out. Of course, in JEE6 you can work around with #{bean.list} that must be initialized with {0,1}.

[2017-12-20 03:12] jxmai commented on #2541
@mdzaebel You says:

Even using Firefox v57, I could see the width increases when I click on a cell. (This is not an issue really, and I will explain below)

![snapshot1](https://user-images.githubusercontent.com/10467831/34189262-4913e166-e500-11e7-9b97-81ea736a1274.png)

---

that's not related to  Primefaces at all since what you saw was the default html behavior.

you can simply put `<input></

[2017-12-20 03:18] jxmai commented on #2541
@mdzaebel Thanks for reporting :+1: , but this is really not an issue for Primefaces.

@tandraschko This issue can be closed.

[2017-12-20 08:51] mertsincan opened #3095 "Improve column header text on Reflow Mode on DataTable"
On reflow mode, the header title of columns are very difficult to find in the nested structures/components in f:facet. Therefore, users can use ariaHeaderText attribute on p:column.

Test code;
[code]

[2017-12-20 08:52] #3095 closed, assigned to mertsincan

[2017-12-20 11:06] mertsincan opened #3096 "Add GlobalFilter feature support to TreeTable"

[2017-12-20 11:11] #3096 closed, assigned to mertsincan

[2017-12-20 12:45] #3092 closed, assigned to tandraschko

[2017-12-20 14:42] kapitanrum opened #3097 "Asterisk on p:outputLabel not working with composite component (with required=true) extends UIInput and without editableValueHolder"
## 1) Environment
PrimeFaces version: 6.1.6
Does it work on the newest released PrimeFaces version? no
Does it work on the newest sources in GitHub? no - I don't know exactly
Application server + version: Tomcat 8.0
Affected browsers: All

## 2) Expected behavior
Label has display asterisk (*) if **for** attribute is connected to composite component extended UIInput with attribute required="true".

[2017-12-20 15:12] jxmai commented on #3097
~~This ticket has been solved by https://github.com/primefaces/primefaces/issues/2397 if I'm not mistaken.~~

Correction: only EditableValueHolder case has been solved by #2397. This ticket might be also related to #1633.  It could be even pointing to JSF impl https://github.com/javaserverfaces/mojarra/issues/4176

[2017-12-20 19:05] kukel opened #3098 "Idea: Optimize cache usage like Facebook did"
Last night I was reading how Facebook optimized 'cache performance' in browsers. I thought it might be something for PrimeFaces too. They effectively remove many of the 'revalidate' requests. Not sure how this would impact PrimeFaces, just thought I add the idea as a 'feature request'

https://code.facebook.com/posts/557147474482256/this-browser-tweak-saved-60-of-requests-to-facebook/

[2017-12-20 19:57] tandraschko commented on #3098
Hm? I don't understand it what we should do here.
If you would like to modify headers, you can simple add a servlet filter.
The expiration currently handles the JSF impl. Even not sure what the impls set exactly.

[2017-12-20 20:00] #2541 closed, assigned to nobody

[2017-12-20 20:15] kukel commented on #3098
It's not just that (I 'know' these things' ;-)) but I should have added a summary, sorry for that.

They (FB)  'drop' the real file names and use a hash of the file as the name. And since this 'hash' only changes if the real content changes, they can

1. set the  'ttl' for these 'resources' to indefinite
2. if a 'revalidate' request does come in, they serve a 304 from the very front end servers wi

[2017-12-20 20:21] kukel commented on #958
I still have a client-side jquery based 'patch' for this. I'll look for it and try to create a PR. Most of the complexity is in the usage of the `odd-row` and `even-row` classes that PF (or rather jquery) uses. Using nth-child selectors would have made it easier. Not sure if jquery 3 still uses these but it might be the right time for PF to switch.

[2017-12-20 20:32] kukel commented on #3095
What is the improvement...? I took a quick look at the commit and (sort) of understand it. A little 'description' to this issue would be appreciated! ;-)

[2017-12-20 20:38] kukel commented on #2202
I'll take a look at it over the holidays... Currently starting my own business, developing two applications for the retail business (both based on PF ofcourse). Might be that I'll provide PF support to in the Netherlands, to bridge the gap untill my applications are providing enough income.

[2017-12-20 20:41] kukel commented on #2270
can't the Prime-UI dropdown be 'applied' to this select?

[2017-12-20 20:45] kukel commented on #7
If I work on https://github.com/primefaces/primefaces/issues/2202, this one will most likely be 'fixed' too

[2017-12-20 21:14] kukel commented on #2581
Can't this already be implemented with the current lazyDataModel?

If you just

 - Store the sort order fields
 - The page number

and from the resultset keep

 - the last  record
 - the first record

you can in a next request check if the sort order fields are the same as the previous request and if the pagenumer is higher or lower. You can then use this information to create a new query. Keeping

[2017-12-20 21:43] kukel commented on #250
Using this CSS way makes it possible to use 'vh' as a unit of measure too, beside 'px' and '%'

[2017-12-20 23:34] jxmai commented on #3073
After some debugging, I noticed that Primefaces init function is called **after** dialog show since  JQ3. I did not figure out the root cause yet. You guys should have a better understanding of what's going on.

Normally, the first thing after clicking the button is to trigger core js update and recall init before showing the dialog

https://github.com/primefaces/primefaces/blob/99bbe57fe0c363b534

[2017-12-21 03:11] mertsincan commented on #3073
I'm testing my fix now. I changed our core.ajax.js.
I think 'complete' = 'always().then()'

[2017-12-21 03:20] jxmai commented on #3073
Alright, if the execution order can flip back, this issue will be fixed.

[2017-12-21 04:02] jnrbo commented on #3089
Did it. The persist bug is not happening in this example (Don't know why yet) but it's loggin the weird behavior that I sad before - about selecting the item before is persisted!

[primefaces-test.zip](https://github.com/primefaces/primefaces/files/1577868/primefaces-test.zip)

[2017-12-21 04:37] jxmai commented on #3089
There is a modal block appears and disappears immediately after clicking through any buttons in the menu. Is that the `weird behavior` you mentioned earlier ? Aside from that, I don't see any printlin from the console (using jetty server as a quick run).

Based on your description, should we  expect to see something invokes the following method when we click the menu ?

[code]

@jnrbo Your sample

[2017-12-21 04:42] jxmai commented on #3089
Actually your sample was throwing exception

[code]

[2017-12-21 04:47] jnrbo commented on #3089
Yes If you select any item from the list, edit and save it, the log is similar to it:

[code]

In the example, What I did was:
- Selected item "PROTOCOL_0_3"
- Edit it's price to "Pro 3"
- Save

The weird behavior is:
And in the console output you can see that BEFORE persisting the update, (after "Price changed!") the item from the list is selected again.

And yes, this exception is throwing becau

[2017-12-21 05:58] mertsincan commented on #3073
Fixed now. Could you please test this fix? It works fine for me.

[2017-12-21 06:05] mertsincan opened #3099 "Position issue on resizable icons"
Test code; http://localhost:8080/showcase/ui/misc/resizable.xhtml

[2017-12-21 06:50] #3099 closed, assigned to mertsincan

[2017-12-21 10:19] tandraschko commented on #3099
@mertsincan Does this also fix https://github.com/primefaces/primefaces/issues/3079 ?

[2017-12-21 11:12] #3079 closed, assigned to mertsincan

[2017-12-21 11:13] mertsincan commented on #3099
Fixed now ;)

[2017-12-21 13:10] albfan opened #3100 "Icons broken on chrome"
## 1) Environment
- PrimeFaces version: 5.2
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: jboss EAP 6.2
- Affected browsers: Chrome

## 2) Expected behavior

Output on firefox 57.0

![image](https://user-images.githubusercontent.com/220968/34256986-36d2dbc0-e658-11e7-93c4-0353204ea7d3.png)

## 3) Actu

[2017-12-21 13:34] tandraschko commented on #3100
i think ui-icon should be applied on a span.

[2017-12-21 15:38] jxmai commented on #3073
Thanks :+1:  I tested. The fix works well.

[2017-12-21 16:18] #3100 closed, assigned to nobody

[2017-12-21 16:49] albfan commented on #3100
Thanks @tandraschko that fixes the problem

[2017-12-21 23:42] jxmai commented on #3075
Indeed, I also did an experiment to measure the time it takes to execute the following statements by the built in `performance.now`

https://github.com/primefaces/primefaces/blob/9f03b4ec1e4f1c9d9380929c60c735d56714f76a/src/main/resources/META-INF/resources/primefaces/forms/forms.selectonemenu.js#L7-L31

Using JQ2 (each click  generated an output)

![image](https://user-images.githubusercontent.co

[2017-12-22 01:50] ravihariharan opened #3101 "Step: support VISITED_ITEM_CLASS in Readonly Mode"
## 1) Environment
- PrimeFaces version: Any
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Bi
- Application server + version: All
- Affected browsers: All

## 2) Expected behavior

The readonly defines whether items would be clickable or not

[2017-12-22 07:20] ssibitz opened #3102 "Static resources in Primefaces 6.1.10 are not very performant !"
Hello !

I am currently using the new Primefaces 6.1.10 and tested the current web-performance
by simple using the Google Chrome's PageSpeed Analyzer.

_The analyzer gives me a bad result in the following things which could easily be solved:_
![pagespeed](https://user-images.githubusercontent.com/652355/34287737-7b709132-e6e9-11e7-93ae-b8149518e716.png)

You can also take the current Primefaces Sh

[2017-12-22 07:25] ghost commented on #2356
May I know the release plan for this enhancement because we are facing the same kind of the accessibility issue in many areas of our application?

[2017-12-22 08:10] tandraschko commented on #2356
There are currently no plans, otherwise we would asign a milestone here.
But you can always sponsor it via PrimeFaces PRO.

[2017-12-22 08:14] tandraschko commented on #3102
Please don't mix several issues in one ticket here ;)

1) it's only related to elite, it would be great if you could create a new issue here. Probably the build didn't minify correctly.
2) fixed
3) will not be fixed in the near future, please modify this issue to only match 3)

[2017-12-22 09:06] mertsincan opened #3103 "Add dynamic attribute to AutoComplete"
Defines if dynamic loading is enabled for the element's panel. If the value is "true", the overlay is not rendered on page load to improve performance. Default is false.

[2017-12-22 09:09] #3103 closed, assigned to mertsincan

[2017-12-22 10:31] Rapster commented on #3102
FYI: Recently, I had to create a release version for my company using `mvn clean install -Prelease -Dmaven.javadoc.skip=true -Dgpg.skip=true`, the build results to an error due to yui plugin trying to minify the sources. Upgrading yui to 1.5.1 made it work

[2017-12-22 11:25] ssibitz commented on #3102
**For number 3.)**
I currently use the Omnifaces CDNResourceHandler to redirect to the external CDN-server's or the static version on the own server of e.g. jquery.min.js
[http://showcase.omnifaces.org/resourcehandlers/CDNResourceHandler](http://showcase.omnifaces.org/resourcehandlers/CDNResourceHandler)

So when you will not change it i will let this CDN-Handler enabled in my project :-(

**So i

[2017-12-22 12:05] melloware commented on #3102
I will open a PRO issue asking for the 6.1.11 Elite release be compressed.

[2017-12-22 12:15] tandraschko commented on #3102
Will close this issue now. As melloware will handle 1) via PRO, feel free to create a own issue for 3).

[2017-12-22 12:15] #3102 closed, assigned to nobody

[2017-12-22 13:20] mertsincan opened #3104 "Add dynamic attribute to SelectCheckboxMenu"
Defines if dynamic loading is enabled for the element's panel. If the value is "true", the overlay is not rendered on page load to improve performance. Default is false.

[2017-12-22 13:27] #3104 closed, assigned to mertsincan

[2017-12-22 13:47] mertsincan opened #3105 "Add dynamic attribute to SelectOneMenu"
Removed lazy attribute on SelectOneMenu. Please use dynamic attribute instead of it.

Defines if dynamic loading is enabled for the element's panel. If the value is "true", the overlay is not rendered on page load to improve performance. Default is false.

[2017-12-22 13:51] #3105 closed, assigned to mertsincan

[2017-12-22 20:01] jasonex7 commented on #3073
I experience some issue related to this one. I think is the same case except that instead of execute `PF('dialog').show();` in the `oncomplete `property, I use an action method in Backing Bean that execute  `PrimeFaces.current().executeScript("PF('dialog').show();");`, also I use `update="dialog"` property in the `<p:commandButton>`. In this case the results are the same as the gif @jxmai posted.

[2017-12-22 20:46] jxmai commented on #3073
@jasonex7 Good catch ! :+1:  I can replicate the issue based on your description.

@mertsincan  Please review this issue since the fix cannot cover all the cases as jasonex7's description.

Sample:

[code]

[code]

[primefaces-test-3073-case2.zip](https://github.com/primefaces/primefaces/files/1583449/primefaces-test-3073-case2.zip)

[code]

then go to

http://localhost:8080/primefaces-test/

[2017-12-23 04:14] jxmai commented on #3089
@jnrbo I don't think this is an issue. I traced back to primefaces 5 and obversed the same behavior. Unfortuately I cannot build 3.4.1 for some reason. Anyway, you should use `process` (https://www.primefaces.org/showcase/ui/ajax/process.xhtml) to limit which part **actually needs to be processed** and this issue should be dealt by the business layer. Currently you simply put `process=@form` that

[2017-12-23 04:37] jxmai commented on #3089
@tandraschko Finished reviewing. This issue can be closed.

[2017-12-23 13:42] #3089 closed, assigned to nobody

[2017-12-24 16:37] VsevolodGolovanov opened #3108 "MonitorDownload: doesn't call endFunction on a welcome page"
## 1) Environment
- PrimeFaces version: 5.2.12.
- Does it work on the newest released PrimeFaces version? No.
- Does it work on the newest sources in GitHub? 6.2-SNAPSHOT: no.
- Application server + version: Wildfly 11.
- Affected browsers: Firefox 57.0.2. Didn't test others.

## 2) Expected behavior

monitorDownload calling endFunction when the file download is over.

## 3) Actual behavior

monit

[2017-12-26 13:29] tandraschko commented on #3073
I think the last fix just worked randomly.
The ajax engine itself is fine, the only problem is that document.ready functions ($(function() {...})) are not executed async
so the widget init scripts are parsed after executing the oncomplete.

See: https://jquery.com/upgrade-guide/3.0/#breaking-change-document-ready-handlers-are-now-asynchronous

[2017-12-26 13:55] tandraschko commented on #3073
Should be fixed now
WidgetBuilder#initWithDomReady doesn't use domready anymore :D
We will need to refactor it.

[2017-12-26 13:55] #3073 closed, assigned to mertsincan

[2017-12-26 14:09] tandraschko commented on #3075
its true that jquery3 is a bit slower BUT i think the real problem is the document ready async behavior now
The fix is quite easy:
replace WidgetBuilder#initWithDomReady with WidgetBuilder#init
but not sure if it will have any side effects....

[2017-12-26 14:57] tandraschko opened #3109 "Rethink document.ready vs plain JS vs MOVE_SCRIPTS_TO_BOTTOM"
Successor ticket of #3073 and #3075

How are our components currently rendered:

This actually means that the DOM is already ready when our script is executed.
Some components use document.ready, some not.

So, what actually does document.ready? It moves the script initialization "emulated" to the end of the bottom.
It's the same effect like with MOVE_SCRIPTS_TO_BOTTOM, just that the scripts are r

[2017-12-26 14:58] tandraschko commented on #3075
Please see https://github.com/primefaces/primefaces/issues/3073

Its not a good way to use plain JS vs document.ready (or MOVE_SCRIPTS_TO_BOTTOM).
The only way to fix it correctly, is to render the label correctly in the DOM, without JS.

[2017-12-26 14:59] tandraschko commented on #2979
JFYI: will rename the feature to MOVE_SCRIPTS_TO_BOTTOM

[2017-12-26 15:00] tandraschko commented on #2888
@rdebusscher thanks for the hint! If you have time someday, we should check that.

[2017-12-26 15:01] tandraschko commented on #2781
FYI: will rename to setting to MOVE_SCRIPTS_TO_BOTTOM

[2017-12-26 15:06] tandraschko opened #3110 "MoveScriptsToBottom: doesn't need to render document.ready handlers"

[2017-12-26 15:18] tandraschko commented on #3110
@ssibitz @melloware @jxmai Would you please give it a try in your applications?
Small enhancement - we don't need to render document.ready handlers when all scripts are already at the bottom...
and jfyi: i renamed to setting to MOVE_SCRIPTS_TO_BOTTOM

[2017-12-26 15:18] #3110 closed, assigned to tandraschko

[2017-12-26 15:30] tandraschko commented on #3109
WDYT @mertsincan @cagataycivici? @melloware @jxmai @Rapster?

Should we init our widget scripts always with document.ready or not?
I think there is no reason for doing is sometimes with and sometimes without, which is sadly the current state.
document.ready is more flawless and speeds up the visible page rendering. The small disadvantage could be a little bit of flickering like mentioned here #307

[2017-12-26 15:50] wattsec opened #3111 "Droppable: Add greedy attribute"
Hi,

First of all, thanks for your great job with primefaces.

I've been using this library for some time and I've always missed the capability to set the greedy option for droppable element so I've decided to make that change. I thing this may be useful for scenarios like wysiwyg editors and other kind of wizards. I hope this change could help anyone else.

Even though it is a small change and qu

[2017-12-26 15:58] tandraschko opened #3112 "[perf] use index loop for nav parameters"

[2017-12-26 15:59] #3112 closed, assigned to tandraschko

[2017-12-26 16:49] melloware commented on #3109
@tandraschko I support this.  I know I am newer to this but I have always been confused by why some widgets use initWithDomReady() and some widgets do not.  I would think we would want them all to behave the same way unless there was a reason a particular component should not.

[2017-12-26 16:49] melloware commented on #3110
I will give this a shot and let you know.

[2017-12-27 10:36] tandraschko opened #3113 "Discuss jquery-plugins usage"
Currently we have a big JS file with much jquery plugins
some plugins are used by core.js (browser, cookie, ...) - some are (almost) used by every components (draggable, effects, ...)

We should evaluate the following:
1) in general, it would be a good step to just move plugins from jquery.ui to their PF components (like datepicker, slider). It's much cleaner.
2) if 1) is done - how big is the jqu

[2017-12-27 13:40] melloware commented on #3113
@tandraschko ..
1. I like this idea. Unless a JS is used by more than one component for example moment.js...it should be moved to its component (datepicker, timepicker etc).  It makes the code more organized IMHO.

2. This part I am not as sure about whether merging into core.js is a good idea.  It would be a good idea if like you said if it truly is used by a majority of components then I say its

[2017-12-27 18:20] jxmai commented on #3073
@tandraschko Important note. Please review the primefaces trunk. I noticed the build process is throwing null pointer exception currently and the cause may or may not be related the fix here (to be verified).

[code]

[2017-12-27 18:31] tandraschko commented on #3073
better now? ;)

[2017-12-27 18:39] jxmai commented on #3073
I don't see any new commit in trunk. Did you forget to push ?  By the way, 4cbc824a27570d208970b39406e2bdaef1c58118 is causing the null pointer, the problem is not about the fix in here.

---

update: I tried out the new commit and confirmed the null pointer has gone :+1:

[2017-12-27 21:25] melloware commented on #3110
@tandraschko  OK I tried this in the Extensions Showcase and now I am getting a JS error "Uncaught SyntaxError: Unexpected token }" on this line...

[code]

And I think the PF showcase Layout is having a similar issue:  https://www.primefaces.org/showcase/ui/panel/layout/element.xhtml

[2017-12-27 22:04] jxmai commented on #3110
I can confirm this issue (https://github.com/primefaces/primefaces/issues/3110#issuecomment-354179943) when I was testing an application. The whole page will be frozen when using primefaces extension layout.

![image](https://user-images.githubusercontent.com/10467831/34394521-652b7cf4-eb1f-11e7-8e54-ecd7dbce2a82.png)

[2017-12-27 22:10] jxmai commented on #3110
Furthermore, even when I turn off the `move_script_to_bottom` feature, some similar errors can still occur under certain circumstances.

[code]

[2017-12-27 22:58] tandraschko commented on #3110
DOn't know about the PFE layout but PF layout but it's broken - also without this option because: $N.selector is undefined

[2017-12-27 23:08] tandraschko commented on #3110
and to be honest @melloware, i don't think that the PFE LayoutRenderer is using the WidgetBuilder correctly....
It uses the WB to initialize it but not for finish it.

[2017-12-27 23:14] tandraschko commented on #3110
Same for the Ext Tooltip....

[2017-12-27 23:16] melloware commented on #3110
@tandraschko the PFE Layout and Tooltip were both like that before I just converted them to using WidgetBuilder.  But I noticed teh WidgetBuilder.finish() does not close some scripts like ToolTip and Layout with...

`wb.append("},true);});");`

I assumed they were being closed like that with the "true" value for some reason but I can't find any explanation so I left them like that.  I can play aro

[2017-12-27 23:19] tandraschko commented on #3110
I fixed both, please have a look
not sure if other components breaks, too but the reason is always to use the WB only for init but not for finish

[2017-12-27 23:22] tandraschko commented on #3110
Also NOTE: this would also break without MoveScriptsToBottom as we can't render the document.ready handler anymore on ajax requests as they now run async with jquery3 (which could also explain @jxmai behavior)

[2017-12-28 06:51] divyareddy12 opened #3115 "SelectOneMenu: Single text box for editing and filtering"
We are looking for a primeface component which can replace rich:select. We tried p:selectOneMenu with editable="true" filter="true" but the filtering option give a new text box under the editable text box. To coincide with rich:select, p:selectOneMenu should have only one text box for both editing and filtering

We raised a ticket in Prime Forum and were asked to raise an enhancement request.
http

[2017-12-28 10:35] tandraschko commented on #3115
As our current approach is by design, it's unlikely that we "just do it". If you really need it, the best way is probably to sponsor it via PrimeFaces PRO.

[2017-12-28 10:37] ssibitz commented on #3110
I will try the current primefaces 6.2-SNAPSHOT and give a feedback...

[2017-12-28 10:55] ssibitz commented on #3102
I have only an ELITE-account from my company,
so moving it to a PRO-account doesn't make sense for me
as i have seen now the Issue with the uncompressed static resources are only
on the Primefaces-Project and not in the Primefaces-Extensions-Project.

So i will make a separate Ticket for handling the first point of this ticket !

[2017-12-28 11:01] tandraschko commented on #3102
i think melloware already openend a ticket with HIS PRO account ;)

[2017-12-28 11:27] ssibitz opened #3116 "Static Resources in Primefaces are uncompressed !"
When i currently build the Primefaces6.2-SNAPSHOT i can see that all static resources (Stylesheet's/Javascript's and also large Images) are uncompressed.
This unnecessarily results in a very large JAR-File and a bad result in Google's PageSpeed
of your current PrimeFaces ShowCase:

![2017-12-28 12_12_04-fotos](https://user-images.githubusercontent.com/652355/34409223-af8abfcc-ebc8-11e7-9a3c-f2f655

[2017-12-28 11:39] tandraschko commented on #3116
Sorry but this is invalid, check the docu: https://github.com/primefaces/primefaces/wiki/Building-From-Source

[2017-12-28 11:39] #3116 closed, assigned to nobody

[2017-12-28 11:45] tandraschko commented on #3116
AND: i don't care about image size in the showcase... It's not built for high performance. Also thats an issue of the showcase, not of primefaces.

[2017-12-28 12:00] tandraschko commented on #3075
Can you still reproduce it? I can't somehow...

[2017-12-28 12:02] tandraschko commented on #3075
probably it's already fixed as the widget init is now snychronous again. See https://github.com/primefaces/primefaces/issues/3073

[2017-12-28 12:03] tandraschko commented on #3075
The reason was:
the dom was replaced by the ajax engine
but the widget script was executed async, so probably you have some ms between "replace dom" and "init widget"

[2017-12-28 12:04] tandraschko commented on #3075
The behavior should now only be visible on the initial page load when MoveScriptsToBottom is activated
there is also some flickering with selectBooleanButton
but those are more improvemets then bugs

[2017-12-28 12:52] rdebusscher commented on #2888
@tandraschko

I found the statement in question which causes the flickering.

`if ( !$( "<a>" ).outerWidth( 1 ).jquery ) {`

It WAS in the _jquery.ui.js_ file. But that code part is removed for issue #2233 (upgrade JQuery UI to 1.12, date 9 Aug 2017)

And indeed, with the current SNAPSHOT, there is no flickering anymore. Without using the MOVE_SCRIPTS_TO_BOTTOM.

[2017-12-28 12:53] tandraschko commented on #2888
great, thanks for testing this!

[2017-12-28 13:26] melloware commented on #3110
Great I am going to check it out and test ALL the PFE components today and let you know how it goes.

[2017-12-28 13:32] melloware commented on #3102
Here was the answer I got on my PRO account

So he seems to think they are compressed just like the Community releases but that is definitely not what I have seen all the time.

[2017-12-28 13:35] melloware commented on #3075
I do not notice any flicker now.

[2017-12-28 14:05] melloware commented on #3110
@tandraschko PFE fully tested and I had to fix BlockUI and FluidGrid the same way but I am happy to report the entire showcase an all functionality is 100% working!

[2017-12-28 14:07] tandraschko commented on #3075
Also tried to fix it via "rendering the label already on the server side" but the selectOneMenu still has a width calculation so it still flickers a bit, depending in the items-label length.
I think i  would close it as won't fix for now.
Modern layouts also use grids with ui-fluid, so the selectOneMenu will have 100% width and it won't flicker.
WDYT?

[2017-12-28 14:09] tandraschko commented on #3110
Great! and great that would could the codebase in this way! ;)

[2017-12-28 14:22] kapitanrum commented on #3097
Ticket #1633 is problem with name of EditableValueHolder to bind to first target.
Ticket #2397 is problem with supporting name  without attribute targets in EditableValueHolder.

This ticket is for supporting composite component extends UIInput without EditableValueHolder in composite component interface.

Here is problem with rendering ``<p:outputLabel for="customInputTextTooltip">``  to ``<label

[2017-12-28 16:11] ssibitz commented on #3116
The showcase is only an example for that, so you can do it with any other project including the primefaces-jar file !

Please compress your static resources (script's and stylesheet's)
as any other web-project's are doing it by checking your build-script of Primefaces !

This is currently not done - also when re-building the whole primefaces project
like you described in the wiki - nothing happens

[2017-12-28 16:20] ssibitz commented on #3116
I am talking about compressing this resources in **Primefaces-6.1.10** (The same in **Primefaces 6.1.11**)

![primefaces-6 1 10](https://user-images.githubusercontent.com/652355/34416235-d264aace-ebf2-11e7-9fed-b906525c76e0.png)

... and the same issue when building the newest version **Primefaces 6.2-SNAPSHOT:**
![primefaces-6 2](https://user-images.githubusercontent.com/652355/34416283-1a5b35d2-

[2017-12-28 16:30] tandraschko commented on #3116
Did you check the section about resource minification in the link i posted?
Note: i only talk about trunk, i dont manage elite releases but melloware created a ticket for it.

[2017-12-28 17:40] ssibitz commented on #3116
Yes, i already know the link you posted,
but building primefaces with the maven-parameter's:
_clean install -Prelease -Dmaven.javadoc.skip=true -Dgpg.skip=true_
does not compress anything in the resulting static resources as you can see on the images:

For example taking a special look on the **components.js** from primefaces:
Here are all the script's combined to one (aggregatet) but nothing of t

[2017-12-28 17:46] ssibitz commented on #3116
I will try to add the
**Maven plugin for web resource optimization**
from the primefaces extensions project
to the primefaces maven-build-script after the static resources has been aggregated (but not compressed/minimized)
to minimize them before package them into the jar-file...

I will check the sizes before and after and give you a feedback...

[2017-12-28 18:06] tandraschko commented on #3116
Sorry but works fine for me.
Just using "mvn clean package -Prelease" and open the JAR - following file is compressed for me: /META-INF/resources/primefaces/components.js

[2017-12-28 18:24] tandraschko commented on #3116
JFYI: i'm using mvn 3.3.9 on oracle JDK 1.8.0_121 on a mint machine ;)

[2017-12-28 18:44] tandraschko commented on #3097
I don't understand one thing... You always write "EditableValueHolderOrUIInput" but thats not the problem actually because UIInput implements EditableValueHolder,

[2017-12-28 18:46] tandraschko commented on #3097
@Rapster Could you check that? it should actually work fine AFAICS - the only difference is the "backing class" of the composite which we didn't test

[2017-12-28 23:40] Rapster commented on #3097
Yes, I'll have a look

[2017-12-29 11:55] #226 closed, assigned to tandraschko

[2017-12-29 11:55] #1728 closed, assigned to tandraschko

[2017-12-29 11:59] #1831 closed, assigned to tandraschko

[2017-12-29 12:43] ssibitz commented on #3116
Hmm - It seems that the Google-PageSpeed wasn't updated for a long time,
so i have the result's now:

**1.) Enable compression means (in my case) that the browser isn't currently accepting the
GZIP-Header - Activated on wildfly but ignored by browser !!**
I can activate/overwrite this by using the Omnifaces GZIP-Filter.
You eventually also should use this in your showcase by only adding them to th

[2017-12-29 12:55] tandraschko commented on #3116
removing newlines brings maybe 1kb in the all of our resources, i won't do this ;)
changing comments removes ~10-15kb but we have to adjust third party libraries, so probably i won't do this, too as the result isn't big compared to all of our resources.

[2017-12-29 13:12] ssibitz commented on #3116
I am not talking about removing this comment lines in the source-code
but setting them to removeable and not fix when building the aggregates.
No end customer will need endless comment's from third party lib's in static resource files
in a buyed libray - only once at the header but not x times !

Yes, i know we are talking about peanut's in size against your primefaces library,
but keep in mind th

[2017-12-29 13:20] tandraschko commented on #3116
Modify third party libraries is IMO something that should only be done for hotfixes.

So the only real solution is to replace our plugin by a better one. If you have time to do this, feel free to provide a PR. It should be uncompressed in a normal build and compressed when running with -Prelease.

I can't even see any comments in core.js (in the generated jar) ;)

[2017-12-29 13:51] #2083 closed, assigned to nobody

[2017-12-29 13:51] #1837 closed, assigned to nobody

[2017-12-29 14:05] tandraschko opened #3117 "Ajax Engine: xhr looses pfSettings and pfArgs with jQuery 3.x"

[2017-12-29 14:25] #3117 closed, assigned to tandraschko

[2017-12-29 15:08] tandraschko opened #3118 "Widgets MUST all use WidgetBuilder"
see #3073

[2017-12-29 15:50] crocimi opened #3119 "AccordionPanel: Wrong tab in tabClose event"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: WF 10.0.0
- Affected browsers: all

## 2) Expected behavior
event.getTab().getTitle() in onTabClose event should provide actual closed tab

## 3) Actual behavior
event.getTab().getTitle() in onTabClose do not provide the last closed tab

## 4) Steps to reproduce
Open/Close accordion panel

## 5) Sample XHTML
    <h:form>

[2017-12-29 16:45] #3118 closed, assigned to tandraschko

[2017-12-29 20:33] munnyhp opened #3120 "TabView: prevent TabChange event during onstart"
The application has multiple tabs with the following requirement.
On Tab change -
1) Validate the tab. If there are any errors, show the validation messages.
2) If no validations, auto save the content.
3) Display new tab.

We have achieved this using primefaces 6.1 TabView.
For example, there are 3 tabs - Tab1, Tab2 , Tab3.
User is on Tab1 and clicks on Tab2, verifying if there are validations er

[2017-12-30 15:59] melloware opened #3121 "Layout: Javascript Error in 6.2"
Using the Showcase and 6.2-SNAPSHOT the Layout is throwing a JavaScript exception.

[code]

[2017-12-30 16:01] tandraschko commented on #3120
Please provide a small and simple as possible example. We don't have EFMSLogger or any spring stuff. The best is way is to clone the primefaces-test project like stated in the issue template.

[2017-12-30 16:01] tandraschko commented on #3119
A deeper analysis is welcome ;)

[2017-12-30 21:20] bschuette commented on #1152
I just got CVE-2017-1000486 assigned for this issue via iwantacve.org. This will soon be published on cve.mitre.org and cvedetails.com to help people filter out vulnerable versions.

[2017-12-31 05:08] jxmai commented on #3075
No flicking on update now :smiley: .  Comparing to JQ2 version, there only defect is flicking on initial page load but I am not too picky about the initial flickering

[2017-12-31 19:43] tandraschko commented on #3121
A PR would be great.

[2018-01-02 12:34] Rapster commented on #3121
Due to the removal of https://api.jquery.com/selector/ in jQuery 3

[2018-01-02 12:39] #3075 closed, assigned to mertsincan

[2018-01-02 12:49] melloware commented on #3121
I just submitted a PR.  I had already been using an updated version of Layout for Jquery 3 in PF Extensions.  I copied over the version from PFE and now the showcase is back to 100% working.

[2018-01-02 12:53] Rapster commented on #3121
Where did you get that 1.5.12 version from? Can't find it on https://github.com/allpro/layout

[2018-01-02 12:58] melloware commented on #3121
I have been working with this guy.  He seems to have taken over the project but for some reason has not been given commit privs to the AllPro master copy.

https://github.com/GedMarc/layout

[2018-01-02 13:26] Rapster commented on #3121
Okay great, it is full jQuery 3 compatible ;-)

[2018-01-02 13:37] Rapster commented on #3097
Since `InputTextComponent` is a composite, PF expects `editableValueHolder` attached to it (but since there is none, it does absolutely nothing)... In that case, PF should evaluate `isRequired` as a "normal" way (e.g `callback.invokeContextCallback(context, forComponent);`)

We should definitely improve that API as it' going to be too cumbersome to use it the way it is written

[2018-01-02 13:42] #3121 closed, assigned to nobody

[2018-01-02 13:42] tandraschko commented on #3121
Thanks! So hopefully all jquery3 issues are fixed now.

[2018-01-03 08:13] tandraschko commented on #1403
Thanks for the PR!

[2018-01-03 08:51] tandraschko commented on #1725
Could you please post a full runnable example? At best you can fork the primefaces-test project.

[2018-01-03 08:51] #1403 closed, assigned to tandraschko

[2018-01-03 08:57] kapitanrum commented on #3097
@tandraschko Yes, I wrote CompositeUtils.invokeOnDeepestEditableValueHolder**OrUIInput** because this one must be rewrite too. Procedure `CompositeUtils.invokeOnDeepestEditableValueHolder` checks only `EditableValueHolderAttachedObjectTarget` and not UIInput or EditableValueHolder.

[2018-01-03 09:15] ghost opened #3124 "After clearing a p:inputText, the previous value is displayed"
## 1) Environment
PrimeFaces version: 6.1.9
Does it work on the newest released PrimeFaces version? Version? No (checked with 6.1.9)
Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
Application server + version: WebLogic 12.2.1
Affected browsers: Chrome

## 2) Expected behavior
User removes value from p:inputTe

[2018-01-03 09:17] tandraschko commented on #3124
Is it the same as #2821?

[2018-01-03 09:32] ghost commented on #3124
It it is a similar problem, but not the same.

In have debugged the method org.primefaces.util.ComponentUtils.getValueToRender(FacesContext, UIComponent, Object). As far as I understand the following part that is responsible for keeping the empty field empty:
...
                if (config.isInterpretEmptyStringAsNull()
                        && submittedValue == null
                        && !

[2018-01-03 12:56] tandraschko opened #3125 "SelectOneButton: improve server-side rendering"
Lets say you have a selectOneButton with 2 values: yes and no
Currently the button is always rendered as "yes" on the server side, also if the value is "no". Later if the script was executed, the state will be changed to "no".
This sometimes cause flickering on the initial page load - even more with MOVE_SCRIPTS_TO_BOTTOM.

[2018-01-03 13:14] thomas-mc-work opened #3126 "LineChartModel: weird visualization of negative values"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? no
- Application server + version: payara 4.1.1.171
- Affected browsers: chromium, firefox

## 2) Expected behavior

The areas with negative values should be rooted at the x-Axis, not at the bottom of the canvas.
Bars show the same behavior.

My expectation:

![expectation](https://peltiertech.com

[2018-01-03 13:31] tandraschko commented on #3125
Hmmm, seems like not easily possible.. will close it for now.

[2018-01-03 13:31] #3125 closed, assigned to tandraschko

[2018-01-03 13:43] dmatej commented on #3126
Negative values also have color of positive values (I use line graph), maybe it is the same issue.

[2018-01-03 15:33] melloware commented on #3126
Please try and recreate with raw JqPlot.  http://www.jqplot.com/examples/line-charts.php

If you get the same behavior then its not a PF issue its a JqPlot issue.

[2018-01-04 08:48] mertsincan opened #3127 "Tab navigation is not working on Ribbon"

[2018-01-04 08:48] #3127 closed, assigned to mertsincan

[2018-01-04 08:55] mertsincan opened #3128 "Icon alignment issue on Horizontal tree"

[2018-01-04 08:56] #3128 closed, assigned to mertsincan

[2018-01-04 09:00] mertsincan opened #3129 "Icon alignment issue on Fieldset"

[2018-01-04 09:01] #3129 closed, assigned to mertsincan

[2018-01-04 11:53] mertsincan opened #3130 "Dialog positioning issue on page with JQuery 3"
When you open a dialog after scrolling the page, it appears on the bottom of page.

[2018-01-04 11:59] #3130 closed, assigned to mertsincan

[2018-01-04 12:32] thomas-mc-work commented on #3126
There is an attribute that can be set to achieve the behaviour: `fillToZero: true` (http://www.jqplot.com/examples/area.php)

I suggest to preset it to `true` per default. Everything else doesn't look very intuitive in my eyes.

At least adding a way to set it in the respective classes would be great (`LineChartSeries`, …). Is there a way to pass through an attribute? Like for custom HTML5 attribu

[2018-01-04 13:18] mertsincan opened #3131 "ui-state-error style is not applied to Tooltip"
Reported By PRO User;

[2018-01-04 13:20] #3131 closed, assigned to mertsincan

[2018-01-04 14:34] thomas-mc-work commented on #3126
Well, it seems like at the moment it's impossible to add this feature in a sane way since the classes are not very extensible/flexible. Here is a quick and dirty workaround for everyone who wants to have it now:

    import java.io.IOException;
    import java.io.StringWriter;
    import java.io.Writer;
    import org.primefaces.model.chart.LineChartSeries;

    public class LineChartSeriesZeroed

[2018-01-04 14:40] tandraschko commented on #3126
Isn't it possible via the extender functionality?

[2018-01-04 14:47] melloware commented on #3126
@thomas-mc-work yes use the Extender like this...

https://stackoverflow.com/questions/30644676/how-to-use-line-chart-extender-attribute-in-primefaces-5-2

That is the whole reason the Extender functionality exists.

[2018-01-04 17:39] munnyhp commented on #3120
I've removed code referring other frameworks.
Please try now.

# **Sample bean**
import javax.annotation.PostConstruct;
import javax.faces.application.FacesMessage;
import javax.faces.bean.ManagedBean;
import javax.faces.bean.SessionScoped;
import javax.faces.bean.ViewScoped;
import javax.faces.context.FacesContext;

@SessionScoped
@ManagedBean
public class PrototypeView {

	private Long activeInd

[2018-01-04 19:25] melloware commented on #1030
I am not suggesting anyone tackle this now as its a huge undertaking but I am wondering if for PF 7.0 rewriting the charts for ChartsJS http://www.chartjs.org/ instead of jqPlot might be the best idea.  JqPlot seems to be adbandoned by the developer and chartjs seems quite active and popular.

[2018-01-05 14:09] Willyisback opened #3132 "SelectItem: Add passthrough support on f:selectItem and f:selectItems"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? no
- Does it work on the newest sources in GitHub? not tested
- Application server + version: Jetty Server
- Affected browsers: Chrome, Firefox
- Tested with primefaces/primefaces-test

## 2) Expected behavior
- selectItem with passthrough attribute should be attached to list elements and/or optio

[2018-01-05 14:13] #3002 closed, assigned to nobody

[2018-01-05 14:51] melloware commented on #3126
@thomas-mc-work once you get your solution working with the Extender can you post it here and then close this ticket please?

[2018-01-05 14:51] RicoApfelbeck commented on #2155
we have the same filter problem with lazyModels, the filter text in the header will be restored but the data where not filtered, sorting and paging is working correctly

[2018-01-05 15:49] tandraschko commented on #2821
JFYI: the default behavior of JSF 2.3 is that value is always removed - completely ignoring isInterpretEmptyStringAsNull (https://github.com/javaee/javaserverfaces-spec/issues/671).
So this will likely be not fixed.

[2018-01-05 15:51] tandraschko commented on #3124
Please see: https://github.com/primefaces/primefaces/issues/2821
In JSF 2.3 the value is always cleared, ignoring config.isInterpretEmptyStringAsNull().

I think we have to align our behavior here in 6.3.

[2018-01-06 12:38] tandraschko opened #3134 "JSF 2.3: ComponentUtils#getResourceUrl MUST only be used for resources, not just URLs"
It will trigger a resource push on JSF 2.3 and Servlet 4.0.

[2018-01-07 11:11] #3134 closed, assigned to tandraschko

[2018-01-08 09:12] tandraschko commented on #3132
A PR would be great.

[2018-01-08 10:18] ghost commented on #3124
Thank you for looking into this.

I guess your statement concerning JSF 2.3 is referring to the following change: https://github.com/javaserverfaces/mojarra/commit/0813ee1fdef418e47ef03ced7d57a1abe4c2bf54

That looks promising to me: Running this scenario in JSF 2.3 the method javax.faces.component.UIInput.getSubmittedValue() should return "" (instead of null) and then  org.primefaces.util.Compone

[2018-01-08 10:21] tandraschko commented on #3124
Yep, maybe we even don't have to change our code. I will check that after 6.2. As we release RC1 this week, we can't change such a behavior anymore.

[2018-01-08 11:51] mertsincan opened #3135 "Autocomplete multiple=true does not work with JSON object representations"
Reported By PRO User;

code;
[code]

[2018-01-08 11:53] #3135 closed, assigned to mertsincan

[2018-01-08 12:21] svrolanski commented on #2337
You can easily fix this until the release of 6.2 by creating your own Renderer for the DataTable by copying the commit for this issue. Create a Rendere class that extends the primefaces DataTableRenderer and add this:

 (there is a problem with the code tags here)
`
@Override
	protected void encodeCell(FacesContext context, DataTable table, UIColumn column, String clientId, boolean selected) throw

[2018-01-08 13:57] mertsincan opened #3136 "Added ui-reflow-headertext class to DataTable for Reflow mode"
On reflow mode, the header title of columns are very difficult to find in the nested structures/components in f:facet. Therefore, users can use ui-reflow-headertext class.

Test code;
[code]

[2018-01-08 13:59] #3136 closed, assigned to mertsincan

[2018-01-08 14:25] duncan-rahman opened #3137 "Colspan of empty-row calculated incorrectly if p:columngroup used"
## 1) Environment
- PrimeFaces version: 6.1.7+
- Does it work on the newest released PrimeFaces version? Version? Yes
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Yes
- Application server + version: Payara 164
- Affected browsers: All

## 2) Expected behavior
Colspan of empty-row should be equal to number of

[2018-01-08 21:14] jxmai commented on #3137
The regression analysis seems valid. I don't think the newly added  `updateEmptyColspan` has taken the sub-headers into account although
I am not an expert on dynamic columns impl (https://github.com/primefaces/primefaces/commit/7d55871402f023485ed57feebd9d58fd535bec8f).  I would suggest that this ticket be included in 6.2 milestone if possible.

@mertsincan would be nice if you can review this an

[2018-01-08 21:22] tandraschko commented on #3137
@mertsincan  WOuld you like to fix that?

[2018-01-09 09:01] elfwine commented on #2821
@koflerdavidgrawe, I have the same dilemma, may I know which part of the code did you add those fix?
Btw, I am using Omnifaces' Messages utility to throw those error messages.

[2018-01-09 09:04] kukel opened #3138 "Reintroduce PrimeFaces Push in showcase"
I know Push is deprecated in 6.2 and will be removed in 6.3 (effectivcely forcing people on JSF 2.3 which might not be that easy in old school insurance companies et al).

But this should not be a reason it is removed from from the showcase **now** and with such a major feature being removed I am of the opinion that an 'old, pre 6.3' showcase must be kept running for these older version... Just li

[2018-01-09 10:13] Rapster commented on #3138
I agree. IMO, there is no guarantee companies move to JSF 2.3 soon... Proof is, PF is still compliant JEE6 due to customers requirements _(being said, I must say it's kind of a strange initiative to remove Push from PF at all...)_

As long I don't find a migration guide to migrate JSF 2.2 to JSF 2.3, I don't think my company will take the risk to do the upgrade. _(I'm sure I'm not the only one in

[2018-01-09 10:24] tandraschko commented on #3138
Just my 2 cents:
Atmosphere isn't really 100% stable and quite hard to get it running on the some application servers. IMO i would never try to implement sockets without native html5 websockets (a impl is available in OmniFaces).
It was a PrimeTek internal decission (== without me) to remove it. It maybe be little bit early but i never used atmosphere in production and always had problems with it

[2018-01-09 11:11] jnrbo commented on #3089
@jxmai, @tandraschko

I'm Sorry, but I still don't think that is this the expected behavior. There's something wrong about this lifecycle.

I reseted my application back to it's old version, and upgraded only primefaces and javax.faces.

It keeps some of attributes values but others don't after auto selecting

[2018-01-09 12:04] koflerdavidgrawe commented on #2821
@elfwine Im not quite sure what you mean? I did post our code changes in an earlier comment: https://github.com/primefaces/primefaces/issues/2821#issuecomment-337502096

[2018-01-09 12:35] kukel commented on #3138
I don't mind PF removing Push from 6.3, but if it is deprecated in 6.2 (and lots of people are still on 6.0, 6.1) it should at least still be in the showcase and very explicitly marked as deprecated, not being removed from the showcase at all.

[2018-01-09 12:38] melloware commented on #3138
Another negative of Atmosphere is we have reported multiple bugs to their GitHub and there is zero movement on that project.  That is a very bad sign for an Open Source project.

https://github.com/Atmosphere/atmosphere-javascript/issues/226
https://github.com/Atmosphere/atmosphere/issues/2289

[2018-01-09 13:00] kukel commented on #3138
I'm not saying PF should not drop it...  not at all... just that the **showcase** should not be reduced

[2018-01-09 13:03] tandraschko commented on #3138
probably to avoid that users uses it anymore. Users can still download the old showcases.

[2018-01-09 13:32] kukel commented on #3138
@tandraschko: Yes, but that is (in my very humble opinion) not what 'the answer' should be. Then at least leave the showcase pages in, make them almost empty (not contain anything relevant regarding the deprecated PF push) but explicitly point to the alternatives (the migration guide is also not 'visible' or known to everyone.

[2018-01-09 13:43] movalz opened #3139 "DataTable: Same event handlers registered multiple times after DataTable.refresh() is called"
## 1) Environment
- PrimeFaces version: 6.1.2
- Does it work on the newest sources in GitHub? No
- Application server + version: irrelevant
- Affected browsers: irrelevant (all)

## 2) Expected behavior
When JS function DataTable.refresh() is called the different JS event handlers like those bound in Paginator.bindPageLinkEvents() and DataTable.bindCheckboxEvents() are registered twice - the old o

[2018-01-09 16:14] jxmai commented on #3089
@jnrbo The bottom line is you cannot rely on putting business logic in getter and setter in JSF related app. PF3.4.1 is out of my range since  PF 5 is the version as far as I can reach/build and which has the same behavior as PF6 in this particular case.

---

I would suggest that you need to reduce the sample even further instead of a mini app with composite layout etc. I might be able to take a

[2018-01-09 17:06] tandraschko opened #3140 "AccordionPanel: closing all panels leads to activeIndex=0"
because AccordionPanelRenderer#decode set the activeIndex to null. The stateHelper when then use the default which is set to "0".
The correct fix is to set "" instead of null

[2018-01-09 17:19] jxmai commented on #3140
might be related to https://github.com/primefaces/primefaces/issues/3119, https://github.com/primefaces/primefaces/issues/2837

[2018-01-09 17:37] Rapster opened #3141 "Move InputRenderer methods to SelectRenderer"
Those following methods have nothing to do in InputRenderer:

- getSelectItems
- getOptionAsString
- findImplicitConverter
- coerceToModelType

PR on his way

[2018-01-09 17:59] munnyhp commented on #3120
Hi Tandaraschko,

Can you pls suggest if there is any other way to prevent tab change on condition until this is fixed in Primefaces? And also, do you know if this will be fixed in next version release?

Thanks!

[2018-01-09 18:02] Rapster opened #3143 "InputText: focus on RTL still on left side"
## 1) Environment
- PrimeFaces version: 6.2-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 7
- Affected browsers: Chrome

## 2) Expected behavior
I expect the focus to be on the right when `

[2018-01-09 18:07] Rapster opened #3144 "InputTextArea: focus on RTL still on left side"
## 1) Environment
- PrimeFaces version: 6.2-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 7
- Affected browsers: Chrome

## 2) Expected behavior
I expect the focus to be on the right when `

[2018-01-09 20:06] tandraschko commented on #3120
I didn't even checked the source of the problem here. NOTE: i just do this here in my free time and currently i have higher prioritized items on my list.
If you need help now, i would suggest you to create a support case (aka PrimeFaces PRO)

[2018-01-09 21:24] #3140 closed, assigned to tandraschko

[2018-01-09 21:26] #2837 closed, assigned to tandraschko

[2018-01-09 21:44] #3119 closed, assigned to tandraschko

[2018-01-10 06:16] leandrodmartini commented on #3021
I'm using Primefaces 6.0 and facing the same issue. But it's not related to the update=@all flag. I'm using a p:commandButton to make an implicit navigation to another page. I'm using the same template in both (original and target) pages. When I click in my button and navigate to the next page my northy layoutunit gets missed with length.
My webpage is furadeirasoftware.com and I'm not facing the

[2018-01-10 07:35] OBreidenbach commented on #3022
@tandraschko, do you need more information to include this change? What can I do to get this change included?

[2018-01-10 08:13] tandraschko commented on #3022
We won't apply new features till 6.2. So i will check it the next months probably.

[2018-01-10 08:32] thomas-mc-work commented on #3126
Thanks for that hint!

Finally the model definition is extended by an extender reference:

    final LineChartModel model = new LineChartModel();
    model.setExtender("chartExtender");
    …

And somewhere in my JavaScript I've defined the related function:

    function chartExtender() {
        // this way the existing config is extended instead of replacing it as seen in the documentation

[2018-01-10 08:32] #3126 closed, assigned to nobody

[2018-01-10 10:32] cnsgithub commented on #1728
May i ask why this simple fix has not been merged into the elite jars? Don't get me wrong i understand that not everything can be backported, but this bug basically makes a whole component useless. (Since the whole point of it is to have that animation). So it would be good to have this in the next Elite *.jar. Unless 6.2 is almost to be released.. Thanks..

[2018-01-10 12:10] melloware commented on #1728
6.2 RC is coming out this week.

[2018-01-10 12:11] melloware commented on #3126
Thanks for posting your solution and closing the ticket.  Glad we could help.

[2018-01-10 12:13] melloware commented on #3021
@leandrodmartini Can you create a small reproducible test case for us to reproduce?   Use the test project to get started...  Clone this project:  https://github.com/primefaces/primefaces-test

[2018-01-10 12:28] Rapster opened #3146 "Remove unused method parameter "rendererClass" in ComponentUtils.getUnwrappedRenderer"
Hint SONAR lint

2 possible fixes:
- Either remove this parameter
- Or use `rendererClass` to cast the renderer which has been found

Whatever the solution choosed, the result will be the same in case rendererClass does not match the renderer found: a ClassCastException

[2018-01-10 14:37] mertsincan commented on #3056
Reverted these changes for now.

[2018-01-10 14:52] tandraschko commented on #3056
Why?

[2018-01-10 14:53] tandraschko commented on #3056
@mertsincan Also the showcase is completely aligned to 5.x

[2018-01-10 14:57] melloware commented on #3056
Agree with @tandraschko  the showcase is totally updated and this brings in over 500 new icons.  This is a huge addition to PF 6.2.

[2018-01-10 15:29] jxmai commented on #3056
Not sure if it is related: Maybe some premium themes will be broken by font-awesome 5 ? At least a lot of built in icons in Atlantis theme disappeared  last time I checked.

**Less file**:

[code]
**The generated css content** is human unreadable using fontawesome 5

[code]

[2018-01-10 15:58] ravihariharan commented on #3056
Looks like it did not make it to 6.2.RC1 :(

[2018-01-10 16:25] tandraschko commented on #2821
I just tested PF with both Mojarra 2.3 and MyFaces 2.3 and the behavior is exactly the same when using a simple example (inputText with attached f:validateLength - also with avax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL true/false.

I would be great if you could give 2.3 a try with your advanced example and check if p:inputText behaves different as h:inputText.

[2018-01-10 16:26] tandraschko commented on #3124
I just tested PF with both Mojarra 2.3 and MyFaces 2.3 and the behavior is exactly the same when using a simple example (inputText with attached f:validateLength - also with avax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL true/false.

So will close this issue for now.

[2018-01-10 16:26] #3124 closed, assigned to tandraschko

[2018-01-10 17:49] wattsec commented on #3111
Hi,
I've made a PR with this improvement. I hope it may be useful.

Regards,
J.

[2018-01-11 03:27] leandrodmartini commented on #3021
@melloware I created a test case here: https://github.com/leandrodmartini/primefaces-test/
It's pretty similar to the @robertfdx one.
I'm facing the same problem without the update=@ALL. It happens if I use an implicit navigation through commandbutton. Observe the north layoutunit increasing length when you navigate to the target page.
Let me know if any other information is needed.

[2018-01-11 04:56] elfwine commented on #2821
@koflerdavidgrawe, nevermind about it, I figured it out already. Thanks anyway.

@tandraschko, I tested it with 2.3, yes you're right, both p:inputText and h:inputText have the same behavior. I understand JSF specs regarding about it, however with complex condition such as several inputs validations depends on some inputs, I feel like it's kinda frustrating to input data again if there's some vali

[2018-01-11 08:24] tandraschko commented on #2821
I think the best way would be to create a spec issue, to make it configurable for the upcoming version.

[2018-01-11 09:01] tandraschko opened #3148 "Panel: allow toggling on whole header"
if toggler is enabled && the new flag is true

[2018-01-11 11:06] mertsincan opened #3149 "Colum priority responsive ignore flag visible"
Reported By PRO User;

it's look like responsive priority ignore the flag visible value.

[2018-01-11 11:07] #3149 closed, assigned to mertsincan

[2018-01-11 11:26] melloware commented on #3021
Thank you for the test case.  Let me investigate and see if this is a PF bug or a Layout JS bug.

[2018-01-11 14:26] #3148 closed, assigned to tandraschko

[2018-01-11 14:26] tandraschko commented on #3148
name of the new option: toggleableHeader

[2018-01-11 14:27] tandraschko opened #3150 "[Documentation] Panel: toggleableHeader"
toggles the panel when clicking on the whole header - instead of just the toggler icon

[2018-01-11 15:44] Rapster commented on #2650
I close this one (even though it's not fixed per say) although there is a workaround. See commit 11cc631

[2018-01-11 15:44] #2650 closed, assigned to nobody

[2018-01-11 16:09] tandraschko commented on #2781
Would someone write an small articel about the feature + some measurements? Maybe we can push it blog.primefaces.org
I think the feature is good enough to promote it with details.

[2018-01-11 17:04] stiemannkj1 opened #3151 "PrimeFaces Mobile JavaScript throws errors in 6.2.RC1"
According to the [PrimeFaces 6.2 Roadmap](https://www.primefaces.org/primefaces-6-2-roadmap/), PrimeFaces Mobile is supposed to be deprecated in this release and removed in 6.3. However, the PrimeFaces Mobile JavaScript is completely broken in `6.2.RC1` and throws errors when the page is initially loaded.

## 1) Environment

- PrimeFaces version: **`6.2.RC1`**
- Is it reproducible with the last re

[2018-01-11 18:43] melloware commented on #2781
I would love to write something up I am just having a hard time using the Chrome Tools quantifying the speed difference other than "my eyes can see the screen is faster with no flicker". :)

[2018-01-11 18:46] tandraschko commented on #3151
@mertsincan Could you check this? Seems like we would need to upgrade to jquery.mobile 1.5.0.alpha or something.

[2018-01-12 06:00] ssibitz commented on #2781
I think the best would be to make a simple screenshot from the current showcase / pagespeed:
First with the feature disabled and then same with the feature enabled.

Then you can see the difference which is a high rating from Google PageSpeed which
also means that an optimized site like this is "prefered" in search result's from Google !!

Is there a way to also bring a Primefaces 6.2 Release Cand

[2018-01-12 06:33] ssibitz commented on #2781
I currently checked the Primefaces-Showcase by a Online WebSite Performance Checker
and the current Result is like from Google Pagespeed with 84% Performance Counter
with the MOVE_SCRIPTS_TO_BOTTOM Feature enabled as i can see as all script's are on the bottom:

So using https://www.primefaces.org/showcase/ on this site:
[https://gtmetrix.com/](https://gtmetrix.com/)

Result's in the following ana

[2018-01-12 06:42] ssibitz commented on #2781
So by the way a question:

Why not using OmniFaces as JSF utility library for the **showcase** to show what speed is possible ?
This could make the showcase as fast as possible with about nothing
more to do as configure Omnifaces in the maven-pom and configure the settings:

* GZip-Compression
* CacheControlFilter
* CDN-Resources Handler
* Combined-Resource Handler

**By the way:**
OmniFaces Showc

[2018-01-12 07:56] crocimi opened #3152 "Autocomplete: forceSelection doesn't work after first selection"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: WF10
- Affected browsers: All

## 2) Expected behavior
IMHO, It should not be possible to enter "custom" text in autocomplete if forceSelection="true"

## 3) Actual behavior
After the first selection it is possible to edit an existing value

## 4) Steps to reproduce
Select a value from the Dropdown
Edit the value

## 5) Sa

[2018-01-12 09:16] cnsgithub opened #3153 "Dock: problems when page has scrollbar"
Hi, I noticed some erroneous behaviour with the dock component on the latest 6.2 RC1

Problem 1:

When reloading the page, as scroll status is not the top (e.g. in the middle of the page) the dock does not animate correctly.

![image](https://user-images.githubusercontent.com/13161711/34867663-4a6d1b84-f781-11e7-8d83-5792f9465ad1.png)

Problem 2:

When using halign="right" the dock moves into the

[2018-01-12 09:18] tandraschko commented on #3153
@melloware Could you check that?

[2018-01-12 09:32] tandraschko opened #3154 "Link/Button: prepend contextPath on href if relative"

[2018-01-12 09:34] #3154 closed, assigned to tandraschko

[2018-01-12 12:20] melloware commented on #2781
@ssibitz To me that component would be no good as it would have to use CPU to optimize the image every time it was retrieved.  Most web guides suggest if you need a 100x100 image don't use a 500x500 an let the browser scale it, actually make a 100x100 version and use that.

See this suggestion from Browser Diet: https://browserdiet.com/#scale

[2018-01-12 12:24] melloware commented on #3153
@cnsgithub I simply applied the patch from this blog post and verified your original ticket was fixed using the showcase and your example.

Original Ticket: https://github.com/primefaces/primefaces/issues/1728

Patch Blog Post: http://www.monkey-business.biz/181/jquery-interfaces-fisheye-position-fixed-patch/#jquery-interfaces-fisheye-position-fixed-patch_english

if that patch is causing side eff

[2018-01-12 12:34] #3151 closed, assigned to mertsincan

[2018-01-12 12:43] cnsgithub commented on #3153
The old version was broken too, so a revert would not help much. My suggestion would be to ditch the current implementation of the dock based on ancient jquery fisheye, and use a different one. I found this for example which works with pure CSS.

https://zurb.com/playground/osx-dock

[2018-01-12 13:02] melloware commented on #3153
OK good so the original dock issue was fixed these are issues that have always been there.  That makes me feel better. :)

I agree this pure CSS dock is definitely pretty cool.

[2018-01-12 14:14] OBreidenbach opened #3155 "Autocomplete: forceSelection chooses wrong item"
## 1) Environment
- PrimeFaces version: 6.1.9
- Does it work on the newest released PrimeFaces version? Version? Does not work on 6.2RC2.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Wildfly 10.1
- Affected browsers: Firefox, Chrome, ...

## 2) Expected behavior
Typing in s

[2018-01-12 14:34] OBreidenbach opened #3156 "Autocomplete: Disable autoselect for items which are equal to current input"
With #2733 it was introduced that an item is selected if it is equal to the current input. We would like to disable this behavior for our use case.
We can provide a PR. We would add attribute to the autoComplete-Tag. Just let us know, how to name it.
Suggestion: disableAutoSelection

[2018-01-12 14:44] melloware commented on #3155
Is this related to this one: https://github.com/primefaces/primefaces/issues/3152

[2018-01-12 14:52] OBreidenbach commented on #3155
I do not know if this is related to #3152.
This one is about selecting the wrong item by clicking on a other one.
#3152 is about, that is possible to edit an item after selection (if multiple="false").

[2018-01-12 15:09] jan-tosovsky-cz opened #3157 "SelectOneMenu: Incorrect top position of expanded selectOneMenu when p:blockUI is present"
## 1) Environment
Win 10, Tomcat 8.0, PF 6.1
Win 10, Tomcat 8.0, PF 6.2RC1
Chrome or Firefox
(works fine in IE 11 or Edge)

## 2) Expected behavior
When combo is expanded, the top edge should be aligned to the bottom edge of the input box

## 3) Actual behavior
If there is any content before p:selectOneMenu, its height is added to the 'top' property of expanded list of items. But only when p:block

[2018-01-12 15:58] stiemannkj1 commented on #3151
Just tested the fix and PrimeFaces Mobile works perfectly. Thanks @mertsincan and @tandraschko!

[2018-01-12 17:20] Rapster opened #3158 "Sidebar Framework"
So far our dialog boxes contain a lot of inputs, too much for a dialog according our UX team. Instead, they advised us to use a sidebar. I was wondering how difficult it would be to have the exact same thing as Dialog Framework but instead of opening the page in a `p:dialog` it would open in a `p:sidebar`?

Thanks for your help

[2018-01-12 22:19] rmpestano commented on #3154
Hi @tandraschko,

Just to confirm that the commit 41921c4 just fixed the problem we [discussed here](https://github.com/primefaces/primefaces/pull/3133#issuecomment-357109581).

Thank you very much!

[2018-01-13 17:39] melloware commented on #3152
@Mich2424 Did you try this on the recently released 6.2RC1 to check if this was already fixed?

[2018-01-13 17:44] melloware commented on #3156
Definitely suggest a PR.  And the name maybe it should just be autoSelection="true" with true being the default and you can turn it off with autoSelection="false".

[2018-01-13 17:45] melloware commented on #3155
Got it.  Can you investigate and provide a PR if you discover what's broken?   This would be good to have fixed before 6.2 Final release.

[2018-01-13 17:47] melloware commented on #3146
My guess was the intent was you can pass in a renderClass and if NULL it would not cast it but if it was not NULL attempt to cast as that class assuming you knew what you were doing.  Thoughts?

[2018-01-14 17:34] Rapster commented on #3153
I definitely like this new look! :wink:

[2018-01-14 17:48] tandraschko commented on #3153
Feel free to reimplement it for 6.3 ;)

[2018-01-15 07:20] OBreidenbach commented on #3155
I can explain the reason, but I do not have a solution for the problem.
In autocomplete.js in the function setupForceSelection at line 815 it detects that one value from the suggestions is equal to the insert value.
https://github.com/primefaces/primefaces/blob/158909b6208290c71e11ea819be3146e0fc134c3/src/main/resources/META-INF/resources/primefaces/autocomplete/autocomplete.js#L815-L818
Then in l

[2018-01-15 07:46] OBreidenbach commented on #3156
Added PR #3162
I would love to see it in the 6.2 release. For me, it would solve the problem with #3155

[2018-01-15 07:55] mertsincan opened #3160 "Cell edit selectCheckboxMenu: unable to select options"
Reported By PRO User;

[2018-01-15 07:55] #3160 closed, assigned to mertsincan

[2018-01-15 08:43] cnsgithub commented on #3158
Maybe this could be also done without adding a new component. Just add some customizability to the dialog component.

For example:

- remove the header completely
- auto-close when the page is clicked
- more ways to position it on different places on the screen

![image](https://user-images.githubusercontent.com/13161711/34933736-4efb5b80-f9d8-11e7-9e34-0938c94b683a.png)

[2018-01-15 08:44] mertsincan opened #3161 "The selected options of SelectCheckboxMenu are not saved on editable cell of DataTable"
Test code;
[code]

[2018-01-15 08:45] #3161 closed, assigned to mertsincan

[2018-01-15 10:23] tandraschko opened #3163 "Check PFM with MOVE_SCRIPTS_TO_BOTTOM compatiblity"

[2018-01-15 12:42] melloware commented on #2781
if you are going to build it anyway on Github then we can always review with others to determine whether it should go in PFE.   I would have to see how the component worked and whether it was truly a need.  Rendering SVG is definitely understandable but it would be nice if you really need these features if you did them for p:graphicImage and submitted a PR.

[2018-01-15 12:49] tandraschko commented on #2781
Please move your discussion - this is unrelated to that feature ;)

[2018-01-15 14:14] mertsincan opened #3164 "When any ajax error happens, pfAjaxError will be triggered"
Reported By PRO User;

[2018-01-15 14:15] #3164 closed, assigned to mertsincan

[2018-01-15 14:21] #3163 closed, assigned to tandraschko

[2018-01-16 03:38] prabhu352 opened #3165 "Spinner: not rotating the values"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-01-16 09:08] tandraschko commented on #3165
Please describe a it a little better or provide links of examples which are doing it correctly.

[2018-01-16 09:25] tandraschko commented on #3138
Will close it for now as it also belongs to the showcase, not primefaces.
Also not sure why it was removed, it was a internal decision by PrimeTek.

[2018-01-16 09:25] #3138 closed, assigned to nobody

[2018-01-16 09:43] xqvier opened #3166 "Allow converter for itemLabel on selectItems"
This is not a bug but a change request to use any application registered converter on the object returned by the itemLabel attribute of a selectItem(s).

## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
-

[2018-01-16 10:08] herbu123 opened #3167 "ContextMenu: ajax update on context menu is clonning the element"
Hi,

issue described here: [https://forum.primefaces.org/viewtopic.php?p=163533#p163533](url)

## 1) Environment
- PrimeFaces version: **6.2 RC1** !!!
- Works fine on 6.0 and 6.1
- Affected browsers: firefox, chrome

## 3) Actual behavior
When I do the ajax-update on the element that contains context menu somehow the context menu element (div) is beeing cloned - with the same id (please see below)

[2018-01-16 10:33] xqvier commented on #3166
I had make a pull request last summer (https://github.com/primefaces/primefaces/pull/2676).
There was a question to know if it was working like the "expected behavior" in the JSF impl and the answer is no.

As for the reviews on the code submitted i'll take care of these and make a new pull request if that's ok with you.

[2018-01-16 12:29] tandraschko commented on #3166
I'm not sure if we will apply this.
If you read the docu for f:selectItem, it clearly states that the itemLabel should be a String:

itemLabel | false | false | javax.el.ValueExpression (must evaluate to java.lang.String)

[2018-01-16 12:32] melloware commented on #1152
It looks like Bitcoin Miners have found a way to exploit this bug so I highly recommend everyone upgrade to a newer patched version.  https://forum.primefaces.org/viewtopic.php?f=3&t=53750

[2018-01-16 12:43] kukel commented on #1152
PF creating a 5.2-SR and 5.3-SR (Securit Release) would be a real, real good gesture...

See my comment almost 2 years ago: https://github.com/primefaces/primefaces/issues/1152#issuecomment-184753216

[2018-01-17 04:44] prabhu352 commented on #3165
here the issue is when we use "min" and "max" attributes, say min=1 and max =10,and when value in spinner is 10 then after pressing increment button, value remains same(i.e 10), but spinner should rotate the value to "0", is it possible to get this feature. otherwise user has to press decrement button 10 times to get value "0" .

[2018-01-17 11:57] tandraschko commented on #3167
Can't replicate with the sample and steps your provided.

[2018-01-17 12:12] tandraschko commented on #3152
I dont understand the ticket.
It's possible that are multiple items with the same prefix (a1 and e.g. a1234), so the input must still be editable.

[2018-01-17 12:35] mertsincan opened #3169 "Context Menu stay when window is resized"
Reported By PRO User;

Can reproduce it on showcase !
Open contextMenu (right click) and resize window.

It should be better to hide or move it when Window size change.

[2018-01-17 12:36] #3169 closed, assigned to mertsincan

[2018-01-17 13:30] herbu123 commented on #3167
Hi,

did you check in browser's (in my case firefox) code inspector ?

Please click the button a few times (force ajax update) and verify the changes in inspector - in my case each click adds a new div ....

Regards,
herbu

[2018-01-17 13:49] tandraschko commented on #3167
![3167](https://user-images.githubusercontent.com/2485545/35045903-a6a59f30-fb95-11e7-872f-a6bbb42898c4.png)

After multiple button clicks ;)

[2018-01-17 20:42] kukel commented on #3165
'fix' is in stackoverflow already... Link will be added by OP

[2018-01-17 21:02] kukel commented on #3164
Sounds interesting functionality... will this be documented somewhere? Showcase?

[2018-01-17 21:07] kukel commented on #2861
@melloware: Same is true for datable afaik. And it was by design I think. Better ask @cagataycivici  since this has been changed a couple of times and it should **NOT** break backwards compatibility!!!

[2018-01-17 23:00] tandraschko commented on #3164
Don't think so but the functionality is there since years.

[2018-01-17 23:31] jfarcand commented on #3138
@melloware Contribution welcomed for Atmosphere issue(s). That's not true about the zero movement..just do pull requests like others are doing :-)

[2018-01-18 05:32] prabhu352 commented on #3165
hi,

i found the solution, no need of link. :)

Thanks

[2018-01-18 06:32] prabhu352 commented on #3165
i just checked the spinner.js of primeface and override the javascript for spin function. as mentioned  below:
[code]

now rotation is happening properly.

[2018-01-18 07:09] RueKow opened #3170 "TextEditor: formattings are getting lost in PF6.2 RC1"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Application server + version: Tomcat 8.5
- Affected browsers: all

## 2) Expected behavior

formattings should be persistent after submitting

## 3) Actual behavior

formattings are getting lost

## 4) Steps to reproduce

see forum [https://forum.primefaces.org/viewtopic.php?f=3&t=53

[2018-01-18 08:21] herbu123 commented on #3167
Dear Thomas,

are you sure you have used 6.2 RC1 ??

Please verify my screen - in the script section I have primefaces v=6.2.RC1 whether in your case goes just primefaces v=null...

Could you please send me the link to the jar you use so  I can double check? (I am using maven)

![6_2_bug](https://user-images.githubusercontent.com/34067588/35087296-a799f188-fc27-11e7-9a7e-5818e91e7540.jpg)

Same re

[2018-01-18 08:29] #3155 closed, assigned to mertsincan

[2018-01-18 08:34] mertsincan opened #3171 "Tree throws a JS exception with Drag and Drop feature"
Reported By PRO User;
[code]

[2018-01-18 08:36] #3171 closed, assigned to mertsincan

[2018-01-18 09:15] devAnky opened #3172 "TreeTable: reopens closed nodes"
Please see https://stackoverflow.com/questions/48316675/ptreetable-sorting-reopens-closed-nodes-that-were-open-before

## 1) Environment
PrimeFaces-6.2.RC1 on Mojarra-2.3.2 -> PrimeFaces ShowCase!

## 2) Expected behavior
If the user closes nodes and then sorts by a header, the state of the nodes should stay the same.

## 3) Actual behavior
All previous closed nodes will be reopened.

## 4) Steps

[2018-01-18 09:21] fanste opened #3173 "jqplot breaks if first element of a series is NULL"
- PrimeFaces version: 6.1, but also tested with chart.js from trunk

On 1 Feb 2014 (commit 7b7a16e) there was bugfix which affected the handling of y values which are NULL. The point highlight will be out of sync without this patch. Therefore it is required.

But this fix introduced another bug. If The first y-axis value of the first series is NULL, the whole chart breaks and won't be rendered. Lo

[2018-01-18 09:53] tandraschko commented on #3167
the v=null happens when using having both PF and Showcase open in the same netbeans instance.
Could you try a source build? The guide is in the github wiki, how to build from source.

[2018-01-18 09:55] tandraschko commented on #3173
Please provide a PR.

[2018-01-18 09:55] tandraschko commented on #3170
@melloware @jxmai could you check that?

[2018-01-18 10:17] herbu123 commented on #3167
Hi Thomas,

somehow the screenshot was not uploaded - please find it attached.
Unfortunately I am not able to test on source - using jar from:
https://repository.primefaces.org/org/primefaces/primefaces/6.2.RC1/

[image: Inline image 1]

Regards,
herbu

On Thu, Jan 18, 2018 at 10:53 AM, Thomas Andraschko <
notifications@github.com> wrote:

[2018-01-18 11:08] fanste commented on #3173
PR: #3174

[2018-01-18 11:15] tandraschko commented on #3173
Could someone test it with some combinations? Would be bad if something would break again.

[2018-01-18 11:17] martin654 opened #3175 "InputMask: with ajax on change sends two requests when ctrl+v used"
## 1) Environment
- PrimeFaces version: 6.1.11
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Don´t know
- Application server + version: any
- Affected browsers: any

## 2) Expected behavior
Expected is that only single request is sent.

##

[2018-01-18 12:11] melloware commented on #3165
@kukel @prabhu352 Are you guys saying that this should be the default behavior of the spinner and its a bug?  So the code above should be patched into the spinner?

[2018-01-18 12:19] melloware commented on #3170
Found this on their GitHub...

https://github.com/quilljs/quill/issues/903

[2018-01-18 12:24] melloware commented on #3170
Actually looking more in the PF Widget it does this code to determine HTML or not.  My guess is the format has changed and this is no longer properly determining whether its HTML or not.

[code]

[2018-01-18 13:16] kukel commented on #3165
No not for me as stated in the stackoverflow link that the OP die not post.
I would not mind thuis behaviour but no nerd to make IT default either

[2018-01-18 13:54] melloware commented on #3165
OK then @prabhu352 I would say close this ticket then.

[2018-01-18 14:51] mertsincan opened #3176 "Improve SelectBooleanCheckbox style class"
Added "ui-selectbooleancheckbox" class to it.

[2018-01-18 14:51] #3176 closed, assigned to mertsincan

[2018-01-18 15:16] leandrodmartini commented on #3021
Maybe this is related to what I found in this past topic: https://forum.primefaces.org/viewtopic.php?p=95589

[2018-01-18 15:46] jxmai commented on #3170
I could replicate the bug and I will raise a patch shortly.

[code]

should be changed to

[code]

the result:

![image](https://user-images.githubusercontent.com/10467831/35106592-3cea0b36-fc34-11e7-929b-7fbae1231cbe.png)

[2018-01-18 15:53] melloware commented on #3170
Nice teamwork @jxmai !

[2018-01-18 15:54] melloware commented on #3173
I have messed around with this a little bit (not comprehensive) and this change appears to work find and not introduce any side effects.

[2018-01-18 15:57] jxmai commented on #3170
No problem :smile: . As a background: I did a fix in the past to get rid of an extra p tag (https://github.com/primefaces/primefaces/issues/2907) that accidentally introduced this regression :sweat_smile:

The current fix should be able to address both #2907  and #3170

[2018-01-18 16:06] fanste commented on #3173
My collegue also tested my change in an application that uses a lot of charts of different types. Everything seems to work.

[2018-01-18 16:19] kukel commented on #3021
Easy to check. Does it not fail in other browsers?

[2018-01-18 16:27] chuckbinder commented on #811
We run into the same issue.  We would love to use the scrollbar feature on DataTable but the column headings never align.

For us we never define widths.  We allow the columns to be dynamic in width.  We do however have style classes that don't allow wrapping applied to the column.  So if you setup a DataTable that has lots of data and paginated with large amounts of data in lets say column one an

[2018-01-18 19:24] #3173 closed, assigned to nobody

[2018-01-18 19:25] tandraschko commented on #3175
Does it work when removing the update=@this?

[2018-01-18 19:26] #3170 closed, assigned to nobody

[2018-01-18 19:30] tandraschko commented on #3165
Why closing it? Doesn't it make sense to add it as feature?

[2018-01-18 19:40] kukel commented on #3165
I agree with Thomas... sorry that I did not mention that previously... But https://github.com/primefaces/primefaces/issues/958 first ;-)

[2018-01-18 19:45] tandraschko commented on #3167
Not sure why i couldn't replicate @company but it failed @home :D
fixed!

[2018-01-18 19:45] #3167 closed, assigned to tandraschko

[2018-01-18 19:51] melloware commented on #3165
OK I misunderstood @kukel's answer.   He doesn't want it as "default" behavior but wouldn't mind it as an "option" to turn on.

[2018-01-18 19:54] Bill57 commented on #2356
I am surprised that it would be tagged an enhancement given that the feature used to work. Aside from paying money, how do you get a milestone assigned to an issue?

[2018-01-18 19:57] tandraschko commented on #2356
if you check all OS+all browsers, implement by yourself and provide a PR ;)

[2018-01-18 20:11] tandraschko opened #3178 "Refactor overlay update logic"
Currently each dynamic overlay looks if there is already a element with the same id available under the appendTo target and removes this
since jquery 2 this is a little bit more complex and should be refactored and moved to common place:

e.g. overlaypanel:

        if(this.jq.length > 1) {
            $(document.body).children(this.jqId).remove();
            this.jq = $(this.jqId);
        }

[2018-01-19 02:44] leandrodmartini commented on #3021
I'm not facing the same problem when using Firefox.
57.0.4 (64-bit) Mozilla Firefox for Ubuntu

[2018-01-19 05:48] ankitacroit09 opened #3179 "Calendar: Close button functionality"
Environment
PrimeFaces version: 6.1
Does it work on the newest released PrimeFaces version? Version? No
Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
Application server + version:
Affected browsers: All

Calendar Cancel (Close) and Apply button functionality Changes

2) Expected Behavior:
     I want two button

[2018-01-19 06:29] jjcampos commented on #60
Hi @melloware as you asked at that thread I created a pull request for this here: https://github.com/primefaces/primefaces/pull/3181

[2018-01-19 06:40] duncan-rahman commented on #3137
Any possibility of this in 6.2? Would like to be able to update my application, as I am currently stuck on 6.1.6

[2018-01-19 06:42] jjcampos commented on #60
Sorry for the confusion, previous closed pull request I forgot the change on standard-facelets-taglib.xml. Fixed it now.

[2018-01-19 08:16] ssibitz commented on #2781
I will create a new discussion thread in the Primefaces-Extensions Forum
and remove my discussion from here.
@melloware : Please also move your discussion-writings to here:

[https://forum.primefaces.org/viewtopic.php?f=14&t=53893](https://forum.primefaces.org/viewtopic.php?f=14&t=53893)

[2018-01-19 09:38] #3156 closed, assigned to nobody

[2018-01-19 10:45] Rapster opened #3182 "resolveClientId can't be used as JSF function"
## 1) Environment
- PrimeFaces version: 6.1.RC1
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat
- Affected browsers:

## 2) Expected behavior
Should be able to use `#{p:resolveClientId('@(.ui-datatable)'

[2018-01-19 10:46] ankitacroit09 commented on #3179
Please Comment on this

[2018-01-19 11:03] #3182 closed, assigned to tandraschko

[2018-01-19 12:13] melloware commented on #3137
@duncan-rahman I just submitted this through my PRO account for @mertsincan to review.

[2018-01-19 13:21] mertsincan opened #3184 "Tooltip stays in error state"
Reported By PRO User;

However, once this error state is set a successful submission in our dialog doesn't clear this state. So the tooltip remains red even after the dialog is closed. A complete page refresh is needed to clear it. ...

[2018-01-19 13:23] #3184 closed, assigned to mertsincan

[2018-01-19 13:56] dataCore commented on #1152
Temporary fix in apache config (/etc/apache2/sites-available/<YOURPAGE>-ssl) by blocking (deny access) the exploit xhtml page:
`<Location /javax.faces.resource/dynamiccontent.properties.xhtml>`
`    Order allow,deny`
`    Deny from all`
`</Location>`

WARNING: if your page uses a functionality from 'dynamiccontent', it won't work anymore

[2018-01-19 15:59] tandraschko commented on #3179
Please edit your issue so everything can understand it. I don't understand it.

[2018-01-19 19:04] kito99 opened #3186 "TabMenu: throws an exception when an HTML comment is nested inside of it"
## 1) Environment
- PrimeFaces version: 6.1RC1
- Does it work on the newest released PrimeFaces version? Version? No. 6.1RC1. It does work in 3.5, though :-).
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: WebLogic 10.35
- Affected browsers: All

## 2) Expected behavior

HTML-st

[2018-01-19 19:23] stiemannkj1 opened #3187 "PrimeFaces OSGi headers require JSF 2.3, CDI unnecessarily"
Currently the PrimeFaces OSGi `Import-Package` header requires all `javax.*` packages. All other packages are optionally imported. However, since PrimeFaces only optionally depends on a single JSF 2.3 package for component tree searching and on the CDI packages to support the deprecated PrimePush feature, those packages should be marked as optional (and the JSF packages should allow JSF 2.0.0+). T

[2018-01-19 20:09] #3187 closed, assigned to tandraschko

[2018-01-19 20:12] tandraschko commented on #3186
We can easily fix it but i always suggest to set the "facelets ignore comments" param

[2018-01-19 20:30] #3186 closed, assigned to nobody

[2018-01-19 20:38] tandraschko opened #3189 "[perf] use index-loop when iterating children or ArrayLists"
The overall performance gain is not big compared to other changes BUT
- each for-each loop creates a new iterator
- index-loop doesn't create the iterator and random-access is even a bit faster on ArrayLists

i already did this on multiple places in PF.

if every component is optimized, the performance gain should be measurable when using jmeter.

The difference isn't really big and i would never

[2018-01-19 21:00] kito99 commented on #3186
Thanks for fixing this so quickly. I ran into this while updating an old app from PrimeFaces 3.5; I changed to <ui:remove> to get around it, but I figure I would report it anyway, since people would expect it to work.

[2018-01-20 18:54] erickdeoliveiraleal opened #3190 "SelectOneMenu: disabled in some particular cases"
In order to run into this bug 4 files is needed and it can be found here: https://gitlab.com/sesipedf/showcase-eclipse/commit/3106f21d341a8069854f8ba63b7732f5f8a2a3bf

Steps:
1-Click in "Localizar visitante" button
2-Click in the button inside the dialog
3-Try to select some item in "Sexo" selectOneMenu

This bug was introduced in 6.2 release

[2018-01-21 05:51] ghost commented on #2179
Ensure the `$JAVA_HOME` (or `%JAVA_HOME%` on Windows) environment variable points to a valid JDK installation, then:

1. Open Firefox
1. Visit http://repository.primefaces.org/
1. Click the lock security icon
1. Click the right arrow
1. Click **More Information**
1. Click **Security**
1. Click **View Certificate**
1. Click the **Details** tab
1. Click **Export**
1. Save as **primefaces.der**

Run

[2018-01-21 14:24] tandraschko commented on #3190
fixed it but we need to refactor all components a little bit - see #3178

[2018-01-21 14:24] #3190 closed, assigned to tandraschko

[2018-01-21 21:42] joergmattes opened #3191 "DataTable: StringIndexOutOfBoundsException if using multiViewState="true" with javax.faces.SEPARATOR_CHAR"
## 1) Environment
- PrimeFaces version: 6.1.12
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? Don't know
- Application server + version: Apache Tomcat/7.0.82
- Affected browsers: All

## 2) Expected behavior
When using a non-default javax.faces.SEPARATOR_CHAR, rendering of data tables with multiViewState="true" works. It worked in 6.1.9

[2018-01-22 01:07] Dragonsol commented on #2649
Sorry, it took me a while to compile the latest snapshot (January 21, 2018). The result is the same - it is not possible to use <p:textEditor> within <p:dataTable> when editable="true" editMode="cell".

[2018-01-22 01:09] Dragonsol commented on #2649
@jxmai, what do you suggest to use as a rich text editor within a data table?

[2018-01-22 04:21] jxmai commented on #2649
@Dragonsol If I am not mistaken, the rich text editor does not render in input mode by design currently.

I would say it might be a flaw in PF but I am not entirely sure the best way to fix it :thinking: .

---

As a workaround: If you do need an rich editor in datatable, you can put an icon /a  link in a cell to invoke a dialog with any rich editor. That's the way I tackle similar requirements fo

[2018-01-22 08:24] tandraschko commented on #3191
@mertsincan fixed it - feel free to port it to elite

[2018-01-22 08:24] #3191 closed, assigned to tandraschko

[2018-01-22 10:59] #3137 closed, assigned to mertsincan

[2018-01-22 11:09] trungdoviet opened #3192 "InputNumber: auto send request when focus out if use attribute symbol"
# Usecase
I'm now using Primeface 6.1, as i know that Primefaces already moved some elements from Primefaces Extension to Primefaces and it include p:inputNumber.
Now i have the xhtml like this:
[code]
It work fine, when i focus in then enter value and focus out, it will fire request to server.
But when i define the symbol for my value (because it's about currency), like this:
[code]
it mean it wi

[2018-01-22 11:52] tandraschko commented on #3192
Sorry but it works fine i copy the code in the showcase with the current PF trunk version.

[2018-01-22 12:47] vicenthy opened #3193 "[]Plugin execution not covered by lifecycle configuration"
when importing the project to eclipse I get this error in maven
[]Plugin execution not covered by lifecycle configuration: org.codehaus.mojo:xslt-maven-plugin:1.0
I just wanted to understand.
thanks.

[2018-01-22 12:50] tandraschko commented on #3193
Use the forum or stackoverflow, this is more question as a real issue.

[2018-01-22 12:50] #3193 closed, assigned to nobody

[2018-01-22 15:18] vicenthy commented on #3193
Sorry, i got help  here

http://www.eclipse.org/m2e/documentation/m2e-execution-not-covered.html

[2018-01-22 15:20] mertsincan opened #3194 "Added dataRenderMode option to ChartModel"
model.setDataRenderMode("key | value (default)");

if the value of setDataRenderMode is "key", the key of a ChartSeries can be added to chart's data.

Exp;
[code]

Screenshot;
![chart_example_with_datarendermode_key](https://user-images.githubusercontent.com/11868120/35228044-c80375e4-ffa0-11e7-864c-56608f8148ed.PNG)

[2018-01-22 15:21] #3194 closed, assigned to mertsincan

[2018-01-22 19:06] Dougnlizt opened #3195 "Growl: Pause Message Timeout on Mouse Hover"
Many users, when reading a 'growl' pop up message, will hover with the mouse to give it more time to read it.  The PF growl ignores the mouse, and continues the 'countdown' if the 'life' property is set (and it isn't sticky).

It appears this has been requested (and implemented?) for PrimeNG.  Could we get it in PF as well?  (see https://github.com/primefaces/primeng/issues/3965)

## 1) Environmen

[2018-01-22 20:50] iamshubham opened #3196 "How can I set default date ranges for date range calendar?"
I need to set default range dates in primeng date range picker. Please help me out.

[2018-01-22 21:46] tandraschko commented on #3196
Questions -> FOrum

[2018-01-22 21:46] #3196 closed, assigned to nobody

[2018-01-22 21:58] tandraschko commented on #3195
@mertsincan Could you port that feature to PF? It's great actually

[2018-01-22 22:48] Rapster commented on #750
Duplicate of #99?

[2018-01-22 23:26] ahmedelbadry3 opened #3197 "p:textEditor not formatting on 6.2RC1"
p:textEditor component dosent work on 6.2RC1.
in 6.1 it worked perfectly in terms of proper html formating of the string. It even behaves like that in the showcase.

Please help

[2018-01-22 23:49] jxmai commented on #3197
@ahmedelbadry3 Fixed recently https://github.com/primefaces/primefaces/commit/3785e37bae985bcf3b75b0b9b495d9903c348564. Please try to build from the latest source or to wait for RC2.

[2018-01-23 06:58] martin654 commented on #3175
Hi, sorry for delay. I tried to remove update=@this (and also removed value of update in second attempt) as suggested, but it behaves the same.

[2018-01-23 07:26] ankitacroit09 opened #3198 "Datatable: Add functionaly to Paginator to manually enter the "jump to" page"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-01-23 08:24] tandraschko commented on #3197
Duplicate

[2018-01-23 08:24] #3197 closed, assigned to nobody

[2018-01-23 08:25] tandraschko commented on #750
Yep probably.

[2018-01-23 08:25] #750 closed, assigned to nobody

[2018-01-23 08:29] tandraschko commented on #3139
A PR would be great!

[2018-01-23 08:41] tandraschko commented on #3198
AFAIR we had a similar issue but can't find it.
Feel free to provide a PR or sponsor it via PrimeFaces PRO.

[2018-01-23 08:42] Rapster commented on #99
@cagataycivici could you give us some clues about this one, I'm facing this problem and would like to fix this. we're using `confirmDialog` with global option and a lot of non-ajax action

[2018-01-23 11:45] mertsincan opened #3199 "Improve role and aria-* attributes on SelectOneMenu for ScreenReaders and Accessibility Tools"
Details; https://www.w3.org/TR/wai-aria-1.1/#combobox

[2018-01-23 11:47] #3199 closed, assigned to mertsincan

[2018-01-23 12:39] melloware commented on #2434
Look at 99Sono's response to this stack overflow. It looks like exactly what we want.  Mind if I submit a PR with it?

https://stackoverflow.com/questions/16784460/primefaces-pselectonemenu-width/41682682

[2018-01-23 12:54] mertsincan opened #3200 "Invalid value for aria-autocomplete property of Autocomplete"
Details; https://www.w3.org/TR/wai-aria-1.1/#aria-autocomplete

[2018-01-23 12:55] #3200 closed, assigned to mertsincan

[2018-01-23 13:43] mafaul opened #3201 "Charts: Use Chart.js instead of jqPlot for charts"
Please consider rewriting the Primefaces charts using Chart.js instead of jqPlot.
JqPlot seems to be abandoned by the developer and chart.js seems quite active and popular.

https://github.com/chartjs/Chart.js
http://www.chartjs.org/

Created from popular comment on Issue https://github.com/primefaces/primefaces/issues/1030

[2018-01-23 13:48] mertsincan opened #3202 "Added role="listbox" property to the parent of AutoComplete panel for ScreenReaders and Accessibility Tools"
Details; https://www.w3.org/TR/wai-aria-1.1/#listbox

[2018-01-23 13:50] melloware commented on #3201
I recommended Charts.js because its popular and maintained unless anyone has any better suggestions.

**Side Note:** I use HighCharts a lot which is awesome but its not an open source license like Chart.js is.   There is a HighFaces JSF though which I have not used I have just used JS to build my charts. http://www.highfaces.org/index.html

[2018-01-23 13:59] #3202 closed, assigned to mertsincan

[2018-01-23 13:59] mafaul commented on #3201
Re: https://github.com/primefaces/primefaces/issues/1466
If it can't be backwards compatible, maybe we can create an entire new chart component set. Maybe `<p:canvasChart />` or something similar.

[2018-01-23 14:19] melloware commented on #3201
@mafaul I doubt it can be backward compatible as the current PF code was all custom code to support jqPlot and how it charts.

[2018-01-23 15:40] tandraschko commented on #3201
Just my 2 cents (I'm not working for PrimeTek):
Rewriting is high effort and i don't think it will be done without a PRO customer or some sponsoring.

I personally always use AnyChart in my JSF application. The model can be simple build with Java and serialized to JSON. I even don't have a custom widget or any additional logic for it. I'm very happy and i would never use anything else.

[2018-01-23 16:33] melloware commented on #3201
@tandraschko is right it would be a massive amount of work to replace jqPlot.

[2018-01-23 16:37] tandraschko commented on #3201
If anyone is interessted, i could share this small wrapper... It's very easy. But AnyChart isn't for free.

I think it's ok to buy a Chart library for a professional web application. For "fun" jqplot is actually enough.

[2018-01-23 17:54] Rapster opened #3204 "Tabview: support of facet footer for tabs"
Will be displayed just like `p:panel` https://www.primefaces.org/showcase/ui/panel/panel.xhtml

[2018-01-23 22:40] Quix0r commented on #3012
Sadly, it didn't make it in, not even as a patch with an increased patch level, like 6.1.1 or so. I still have to and will wait for 6.2.

[2018-01-24 07:09] prabhu352 opened #3205 "is there any plan to add pe:timepicker in primeface"
currently time picker is available in primeface extentions,could you please move it to primeface ,

is it posible to integrate into 6.2 primeface release?

[2018-01-24 07:47] tandraschko commented on #3205
No Plans. Questions -> Forum.

[2018-01-24 07:47] #3205 closed, assigned to nobody

[2018-01-24 09:41] geekdiv opened #3206 "Editor: is disabled and data is clear after minimizing the dialog"
I have `p:editor` (also try `pe:ckEditor`) inside my dialog. when I minimize and restore the dialog again, the data in editor is gone and editor is disabled.

I have tried both primefaces editor and primefaces ckEditor but facing same issue on both.

## 1) Environment

- primefaces-6.1

- It does not work on Primeface showcase as well

- primefaces-extensions-6.1.1

- jsf-2.2

## 2) Expected behav

[2018-01-24 10:17] mydeadlyvenoms commented on #3201
What about https://github.com/hatemalimam/ChartistJSF?
The project seems to be almost done, I always use it in my projects and it looks ways better then jqPlot.
Personally I think jqPlot looks like the last legacy component within PrimeFaces.

[2018-01-24 10:18] tandraschko commented on #3206
NOTE: p:editor is already deprecated and will be removed someday - so this will likely not be fixed. However, i would create a ticket in PFE to fix that for CKEditor.

[2018-01-24 10:26] geekdiv commented on #3206
OK, Please create ticket in PFE please share me that thread link so I followup regularly and check more update regrading that issue.
Thank You  @tandraschko :)

[2018-01-24 10:29] tandraschko commented on #3206
Sorry, it would be great if you could create the ticket there ;)

[2018-01-24 10:43] markusg80 commented on #3201
I actualy got a new Project. And as like always i will do it with Primefaces! But with Primefaces chart its not possible to serve the requirements because they need grouped stacked barchart. And for me charts.js looks ways better. For me it would be great to have better charts component in Primefaces and it will make Primefaces a better framework. It will pay the effort

[2018-01-24 11:38] mertsincan opened #3207 "Improve multiViewState feature of Reorder DataTable"
The clientIds of columns can be added to TableState.

[2018-01-24 11:42] #3207 closed, assigned to mertsincan

[2018-01-24 11:54] mertsincan opened #3208 "Dialog flickers on resize"
Reported By PRO User;

We noticed that on resizing the dialog, it jumps back to its original position.
Similar behavior can also be seen in showcase.

[2018-01-24 11:55] #3208 closed, assigned to mertsincan

[2018-01-24 12:12] melloware commented on #3206
@tandraschko new ticket is in PFE.  Safe to close this ticket.

[2018-01-24 12:14] #3206 closed, assigned to melloware

[2018-01-24 16:40] Dougnlizt opened #3209 "Menu: add overlay timeout"
I see this might be getting added to primeng as an enhancement.  Could we also get it added to primefaces?

https://github.com/primefaces/primeng/issues/4828

## 1) Environment
- PrimeFaces version: 6.1

## 2) Expected behavior
When mouse leaves the overlay menus, do not immediately hide the menu overlay but wait for a second. If user reenters, remove the timeout.  Or allow the 'fade' to be longer

[2018-01-24 16:52] tandraschko opened #3210 "Dialog: Reimplement minimize"
Currently minimize moves the DOM and therefore scripts maybe be detached from their DOM elements.
I think it's better to not move the DOM, just hide the dialog and add placeholder to the dock.

https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/522
https://github.com/primefaces/primefaces/issues/3206

[2018-01-24 16:52] tandraschko commented on #3210
PR welcome ;)

[2018-01-24 17:43] iurii-nikolaev opened #3211 "RestoreDynamicActions performance degradation with ProgressBar"
## 1) Environment
- PrimeFaces version: 5.3
- Application server + version: Wildfly 11 + Mojarra 2.2.16
- Affected browsers: Chrome 63

Primefacess progress bar with interval = 1000 and ajax = true.
![ic5k1](https://user-images.githubusercontent.com/6002995/35347788-3a2bdf24-0147-11e8-9ec3-1ac98f8f5af8.png)

[2018-01-24 17:47] tandraschko commented on #3211
Invalid - all infos missing.
Try MyFaces as Impl ;)
Also i think it's more related to the JSF impl instead of PF.

[2018-01-24 17:47] #3211 closed, assigned to nobody

[2018-01-24 20:50] yanhdz commented on #1152
I'm dealing with the same miner script

[2018-01-25 00:46] melloware commented on #2363
This PR switches to OpenPDF . https://github.com/primefaces/primefaces/pull/3203

[2018-01-25 08:59] fanste opened #3212 "Widget Core: lifecycle events"
This is a feature request for an upcoming PrimeFaces version (maybe already 6.2?).

Currently you have to come up with an own logic on how to invoke some javascript function when a component is rendered / initialized / updated / destroyed / etc. This could be tricky if it is a DeferredWidget.

It would be a nice feature if all widget implement some kind of lifecycle callbacks so you only have to a

[2018-01-25 09:59] tandraschko commented on #3212
first of all, 6.2 is alrady frozen for such features ;)
We already have callbacks:
init
refresh
destroy

and DefferedWidget provides the render callback.

[2018-01-25 10:46] fanste commented on #3212
I already thought that version 6.2 was frozen, but it was a try ;)

But those callbacks are not accessible from outside. Or did I miss something?
As an example: I want todo something like:
[code]
And my own javascript function `adjustDataTable` will be invoked with the instance of the widget right after the `render()` methods completes.

[2018-01-25 11:11] cnsgithub opened #3213 "XSS vulnerability in ButtonRenderer"
## 1) Environment
- PrimeFaces version: primefaces-6.2.RC2-SNAPSHOT
- Application server + version: Wildfly 11
- Affected browsers: all

## 2) Expected behavior
`href ` and `target` attributes should be properly escaped in ButtonRenderer to prevent XSS when used in javascript context.

## 3) Actual behavior
XSS vulnerability

## 4) Steps to reproduce
Click at the button included in the sample. A a

[2018-01-25 11:42] cagataycivici commented on #1152
@tandraschko  blogged this https://www.primefaces.org/primefaces-el-injection-update/

[2018-01-25 11:54] tandraschko commented on #3212
Do you need for a single dataTable or would actually execute this code application wide for each dataTable?

[2018-01-25 12:20] tandraschko commented on #3213
Yep, a good catch :D
JS is allowed in href actually but not in p:button as it's requires a window.open instead native href attribute.

[2018-01-25 12:23] fanste commented on #3212
This would be for a specific dataTable.

[2018-01-25 12:29] tandraschko commented on #3212
I see.
I understand your point but the effort is quite to also provide those attributes for each widget.
Not sure if we will do this, we would need a much more global and easier solution.

[2018-01-25 12:41] melloware commented on #3021
Has anyone tried this using PF 6.2RC1?  I updated the layout.js to the latest Jquery version with many fixes in it.

[2018-01-25 13:12] cnsgithub commented on #3213
Please forget about the commit, automatic save actions in my IDE led to reformatting and wrong class import (AWT button ;-)), sorry... It has not yet been a pull request...

Anyways, the proposed fix using ComponentUtils.escapeEcmaScriptText seems to be insufficient, the method name was promising for me, however it's a bit misleading.

I recommend OWASP encoding (https://github.com/OWASP/owasp-jav

[2018-01-25 13:49] melloware commented on #3213
Did you try just regular ComponentUtils.escapeText() instead of EscapeEcmaScript.  They have different uses.

[2018-01-25 14:14] cnsgithub opened #3214 "XSS in p:textEditor"
## 1) Environment
- PrimeFaces version: primefaces-6.2.RC2-SNAPSHOT
- Application server + version: Wildfly 11
- Affected browsers: all

## 2) Expected behavior
There is a limited set of HTML tags quilljs is able to generate via toolbar. However, it is possible to manipulate the DOM on the client side and submit a tampered version to the server which in turn should sanitize the HTML before persist

[2018-01-25 15:09] melloware commented on #3214
Isn't that exactly why escape="false" is offered?  You are turning off the escaping because you know you want to render HTML?  I use it all the time in outputText that I want to format.

[2018-01-25 16:03] jllado opened #3215 "p:textEditor not rendered when there is a strange/bad character in the value"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: Tomee 7.0.4
- Affected browsers: all

## 2) Expected behavior
When there is a bad/strange character in the textEditor value, the renderer should show the component. Or skip that character. Or at least, show some feedback (maybe an error in logs).

## 3) Actual behavior
Currently when there is a strange/bad character in the

[2018-01-25 16:17] jxmai commented on #3215
I cannot replicate the bug on 6.2 snapshot

the sample content is the gist you provided:

https://gist.github.com/jllado/f894dfb8bc2438c62188b4e5ee8170d7

![image](https://user-images.githubusercontent.com/10467831/35398934-bbb83e54-01b8-11e8-8311-e778e5d6539b.png)

![image](https://user-images.githubusercontent.com/10467831/35398947-c2efbddc-01b8-11e8-91f2-387ed1c26784.png)

[2018-01-25 19:39] jxmai commented on #2907
@tandraschko Unfortunately we have to dump this enhancement.

PR: #3217. This issue can be marked as `won't fix`.

[2018-01-26 05:56] cnsgithub commented on #3214
I have to disagree.

Would you also say it's okay if you had defined a `p:spinner` component with `min="0"` and `max="10"`, but JSF accepted -1, i.e. a value that is out of the bounds?

You can compare this to `p:textEditor`: the developer decides to use it in the assumption the component only allows basic HTML like styling, fonts and images. But unfortunately there is the bad guy that submits arb

[2018-01-26 07:25] martin654 commented on #3214
Hi!
I will share my experience with escape="false". From my point of view it is a security risk using it without thinking about consequences. In our app we used it only for output, but it was always **sanitized** using org.jsoup.Jsoup.clean method. The example @cnsgithub provided definitely is a security risk from my point of view.
Cheers!

[2018-01-26 10:51] cnsgithub commented on #2363
https://pdfbox.apache.org/  Could also be an alternative. if you want a different licence. This one has Apache 2.0 licence

I also think you should remove the dependency to com.lowagie as the author itself does not recommend to use it: https://www.lowagie.com/iText

[2018-01-26 10:53] cnsgithub commented on #3215
that "strange" character seems to be a Vertical-Tab. Maybe some Copy&Paste from MS Word?

![image](https://user-images.githubusercontent.com/13161711/35436651-8af559be-028f-11e8-8696-4da208305580.png)

[2018-01-26 11:26] cnsgithub opened #3223 "Spinner: add input validation"
## 1) Environment
- PrimeFaces version: primefaces-6.2.RC2-SNAPSHOT
- Application server + version: WildFly 11
- Affected browsers: all

## 2) Expected behavior
It must be guaranteed, that the value of p:spinner is between min and max. Just doing client side validation is insufficient. The server also has to validate the submitted value.

## 3) Actual behavior
Range checks are performed on client

[2018-01-26 11:54] #3215 closed, assigned to nobody

[2018-01-26 11:56] melloware commented on #3214
I see what you mean.  I thought you were saying to auto-cleanse the WYSIWYG entry for the customer.  There may be some use cases where the end user wants to allow JavaScript typed in there.  Maybe they are using this to dynamically edit some web pages that get stored in the DB and then rendered upon command.  So as long as you leave the ability to turn the sanitize completely OFF if the user choos

[2018-01-26 12:09] cnsgithub commented on #3223
Sorry, this is not just an enhancement, it's rather a security issue...

[2018-01-26 12:26] tandraschko commented on #3223
it's a mix of both - you can also attach validators like with every components.

[2018-01-26 12:38] #3213 closed, assigned to nobody

[2018-01-26 13:04] cnsgithub commented on #3214
I am not sure if I got it correctly. Where can javascript be entered in quilljs, p:textEditor resp.? Just can't find an official way to do so.

[2018-01-26 13:09] cnsgithub opened #3226 "<p:dialog> is not centered after changing browser screen size"
Check here:

https://www.primefaces.org/showcase/ui/overlay/dialog/basic.xhtml

Open "Basic" Dialog, then resize the browser, if you got a big screen it, the dialog might even be invisible.

I will make a PR soon, but i still need to figure out the best way to do this without breaking other settings like draggable.

[2018-01-26 13:21] cnsgithub commented on #3226
It seems that setting responsive to true will properly bind the resizeListener. So i guess this was intended? In any case, i don't see any disadvantage in using this attribute, so maybe make it default true?

dialog.js
[code]

This was the CSS workaround i used before, so maybe it could be used instead of doing complex JS-recalculation when the initial position is centered

[code]

[2018-01-26 13:21] #3226 closed, assigned to nobody

[2018-01-26 21:22] thunderhook opened #3227 "Calendar: exception when pattern begins with time portion (defaultDate is null)"
## 1) Environment
- PrimeFaces version: 6.2.RC2-SNAPSHOT (2018-01-26 21:00)
- Application server + version: Tomcat 8.5
- Affected browsers: Firefox, Chrome

## 2) Expected behavior
Using an inline calendar providing the time portion at the first position should display the time sliders above the calendar picker of the date:
`<p:calendar value="#{timeView.time}" mode="inline"  pattern="HH:mm:ss dd/

[2018-01-27 05:46] ankitacroit09 opened #3228 "Datatable: add "all" option to rowsPerPage"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-01-27 07:21] ankitacroit09 opened #3229 "Datatable: add "show total number of rows" functionality"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-01-28 14:14] tandraschko commented on #3227
Did this work fine in 6.1?

[2018-01-28 20:03] thunderhook commented on #3227
No, with 6.1 it seems like the same exception (can't be sure because of the minified JS, and didn't try with source).
I created this issue based on the [SO thread](https://stackoverflow.com/questions/47834292/dd-23-yy-could-not-be-understood-as-a-date-and-time/) in which the author states that the problem already exists with 5.3.

[code]

[2018-01-29 07:35] mertsincan opened #3230 "DataTable doesn't use the column component when writing header markup"
Reported By PRO User;

[2018-01-29 07:35] #3230 closed, assigned to mertsincan

[2018-01-29 07:43] mertsincan opened #3231 "The Tab component doesn't pass itself when encoding its tag"
Reported By PRO User;

[2018-01-29 07:44] #3231 closed, assigned to mertsincan

[2018-01-29 08:11] ankitacroit09 opened #3232 "Calendar in disable mode not having Image Icon"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-01-29 09:35] movalz commented on #3139
I have partial workarounds for the places where I get trouble with this issue but no common solution for it. A PR with my partial workarounds doesn't make much sense, do it?

[2018-01-29 09:35] cnsgithub opened #3234 "InputMask: lack of user input validation"
## 1) Environment
- PrimeFaces version: primefaces-6.2.RC2-SNAPSHOT
- Application server + version: WildFly 11
- Affected browsers: all

## 2) Expected behavior
It must be guaranteed, that the value of p:inputMask matches the pattern defined via `mask` attribute. Just doing client side validation is insufficient. The server also has to validate the submitted value.

## 3) Actual behavior
Validatio

[2018-01-29 09:46] tandraschko commented on #3234
Yep, good catch!
Workaround: attach a regex validator.

Also not sure if we can easily validate based on the mask in Java.

[2018-01-29 10:00] cnsgithub commented on #3234
jquery.maskedinput is used on the client side: https://github.com/digitalBush/jquery.maskedinput

Translating the mask into regex on the server side should be straightforward as long as own mask definitions are not supported by PrimeFaces. Do you support them?

[2018-01-29 10:23] tandraschko commented on #3232
The icon is shown for me with current github master.

[2018-01-29 10:23] #3232 closed, assigned to nobody

[2018-01-29 10:24] tandraschko commented on #3227
I see. Mabye the underlaying jquery datepicker doesn't support it? Could you check it?

[2018-01-29 11:30] mertsincan opened #3236 "Added tree component to TreeDragDropInfo object on Tree"
Reported By PRO User;

[2018-01-29 11:31] #3236 closed, assigned to mertsincan

[2018-01-29 11:36] tandraschko commented on #3234
What do you mean by own mask definitions?

[2018-01-29 11:47] cnsgithub commented on #3234
jquery.maskedinput lets you define your own rules aka mask definitions, e.g. ~ can be defined to be mapped to + or -. Example from https://github.com/digitalBush/jquery.maskedinput

[code]

However, PrimeFaces does not seem to implement this feature. So I ignored it in my commit.

[2018-01-29 11:47] cnsgithub opened #3238 "p:captcha should support passtrough to add custom features or css"
https://github.com/primefaces/primefaces/pull/3235

[2018-01-29 11:49] #3238 closed, assigned to tandraschko

[2018-01-29 12:22] cnsgithub commented on #3229
I don't know if this should require a code-change as it is possible to get the total size quite easily by calling the appropriate method

1.) if value it is a collection use #{value.size()}
2.) if value is a implementation of LazyDataModel probably just perform rowCount  * pageSize

[2018-01-29 12:26] cnsgithub opened #3239 "InputNumber: Lack of user input validation"
## 1) Environment
- PrimeFaces version: primefaces-6.2.RC2-SNAPSHOT
- Application server + version: WildFly 11
- Affected browsers: all

## 2) Expected behavior
It must be guaranteed, that the value of p:inputNumber is between `minValue` and `maxValue`. Just doing client side validation is insufficient. The server also has to validate the submitted value.

## 3) Actual behavior
Validation of user

[2018-01-29 12:27] cnsgithub commented on #3228
Why not add the total dynamically to the rowsPerPageTemplate, will solve your problem without codechange:

rowsPerPageTemplate="5,10,15,25,30,#{collectionValue.size()}"

[2018-01-29 12:40] cnsgithub commented on #1194
I am not totally sure because I don't know when it gets called, but probably `pfdlgcid` should be escaped here as well: `DefaultRequestContext:closeDialog`. Could you please check this?

![image](https://user-images.githubusercontent.com/13161711/35510822-f579ab8e-04f9-11e8-8b6b-227cb2cb528c.png)

[2018-01-29 12:47] cnsgithub opened #3240 "InputMask: Upgrade JS library"
As stated [here](https://github.com/digitalBush/jquery.maskedinput), jquery.maskedinput is no longer maintained. The authors recommend using [cleave.js](https://nosir.github.io/cleave.js/). Maybe PrimeFaces should follow this recommendation in 6.3?

[2018-01-29 12:49] melloware commented on #1194
@cnsgithub I think you are right.  I will submit a PR.

[2018-01-29 13:15] cnsgithub commented on #1194
There is some code duplication in `PrimeFaces:closeDynamic` (you changed it there) and `DefaultRequestContext:closeDialog` (you didn't change it there).

In addition, I am not sure if `ComponentUtils:escapeEcmaScriptText `is correct here (I also stumbled upon this misleading method name a few days ago).

Please try `42'});alert('oops');//` as input string and see if it is sufficient. If not, `Comp

[2018-01-29 13:29] melloware commented on #3240
Cleave.js does look very full featured.   Would be a good improvement in 6.3

[2018-01-29 13:37] cnsgithub opened #3242 "Printer: replace JS plugin"
jqprint (used in printer.js) should be replaced by a newer library to make development of new features possible and to ensure compatibility with future jQuery versions

https://github.com/crabbly/print.js
http://printjs.crabbly.com/

[2018-01-29 13:43] tandraschko commented on #3242
If the implementation is done by the community and provides the same features -> +1 from my side.

[2018-01-29 13:43] tandraschko commented on #3240
If the implementation is done by the community and provides the same features -> +1 from my side.

[2018-01-29 13:46] cnsgithub opened #3243 "Clock/Mindmap: Update raphael.js"
raphael.js 2.1.0 is ~6yrs old.

Also latest version is 2yrs old:
https://github.com/DmitryBaranovskiy/raphael/tree/v2.2.7

So it might be worth considering an an alternative or try to implement it without use of a third-party library (at least the clock should be easy to do) - as for the mindmap i'm not sure, but probably should be doable too

![image](https://user-images.githubusercontent.com/131

[2018-01-29 13:48] tandraschko commented on #3243
Updating for 6.3 should be no problem.

For the new implementation: If the implementation is done by the community and provides the same features -> +1 from my side.
Probably there are better plugins available now.

[2018-01-29 14:07] cnsgithub opened #3244 "Watermark: deprecate it in favor of html placeholder"
Probably the whole watermark component can be removed, as stated in the showcase https://www.primefaces.org/showcase/ui/misc/watermark.xhtml it is only for compatibility reasons. However in the latest release jQuery 3.x made browsers like IE8 incompatible anyway.

Browsers without support for input place holder attribute
https://caniuse.com/#search=input%20placeholder%20attribute
could use a polyf

[2018-01-29 14:15] cnsgithub opened #3245 "Timeline: Migrate to vis.js"
http://almende.github.io/chap-links-library/

http://visjs.org/

[2018-01-29 14:28] melloware commented on #3244
I think the watermark is also used for people who can't use JSF passthrough attributes yet if they are on JSF 2.0 still.

So maybe we deprecate it in 6.3 and remove it in 7.0?

[2018-01-29 14:34] cnsgithub commented on #3244
I think at least the *.js lib should be removed for 6.3. As for the JSF problem, the component itself could still exist, but instead of using the plugin js it would just render placeholder (so passtrough is not needed). And in the component description it should be noted that the a polyfill should be added if old browsers are targeted

[2018-01-29 14:36] tandraschko commented on #3244
Deprecate it in 6.3 and remove it in 7.0 sounds like a good agreement.

[2018-01-29 14:55] tandraschko commented on #3244
and: as jquery 3 doesn't support IE8, we can't support it anymore.

[2018-01-29 15:39] cnsgithub opened #3246 "Update Signature plugin for jQuery UI to v1.2.0"
PR incoming...
https://github.com/primefaces/primefaces/pull/3247

[2018-01-29 16:14] melloware commented on #3246
I was messing around with this before and I found one bug.  The Signature background for submitted version was not right.  It should look like this.  Can you confirm yours looks like this?  For me it did not look right on the grey "submitted" version.

![image](https://user-images.githubusercontent.com/4399574/35520625-8a32de40-04e5-11e8-81f9-2bce9ddea1a4.png)

[2018-01-29 16:42] mhmghanem commented on #52
When will this feature be added ?

[2018-01-29 18:25] tandraschko commented on #52
No plans.
Feel free to sponsor it via PrimeFaces PRO.

[2018-01-29 20:27] nusivtech opened #3248 "radion button column header name"
I am not finding anyway to give a custom header for the radio button column.

[2018-01-29 20:31] tandraschko commented on #3248
No examples -> invalid.
Also your text is not very detailed...
Maybe try the forum first ;)

[2018-01-29 20:31] #3248 closed, assigned to nobody

[2018-01-29 20:32] tandraschko commented on #3152
@melloware WDYT?

[2018-01-29 20:48] melloware commented on #3152
I say close it.  I do not understand this ticket either but I have feeling you are right.  I say close it and if they come back and provide more details great.  If not then it was probably your original idea of two like items?

[2018-01-30 06:38] cnsgithub commented on #3246
I tested it and it works without problems. The colors are not hardcoded (and they weren't before). So if you don't set a color it will always be with a white background and a black line when readonly is false. If read-only is true it will have an opacity of 0.35 as standard starting with V.1.2.0 The colors itself can be set via backgroundColor="#eaeaea" color="#03a9f4" just like in the showcase.
I

[2018-01-30 08:19] cnsgithub opened #3250 "ColorPicker: lack of user input validation"
## 1) Environment
- PrimeFaces version: primefaces-6.2.RC2-SNAPSHOT
- Application server + version: WildFly 11
- Affected browsers: all

## 2) Expected behavior
It must be guaranteed, that the value of p:colorPicker is a valid hex color code. Just doing client side validation is insufficient. The server also has to validate the submitted value.

## 3) Actual behavior
Validation of user input is pe

[2018-01-30 08:21] #3239 closed, assigned to tandraschko

[2018-01-30 09:04] cnsgithub opened #3251 "ImageCompare: migrate to newer JS plugin"
I've found this one which seems to be nice:

https://github.com/NUKnightLab/juxtapose
https://juxtapose.knightlab.com/

A PR will follow, where i have tested this, and it seems to work fine with the current features

This will open the possibility to add new features such as:

- Date of the picture
- Credit of the picture
- Responsive design
- Animation
- Does not rely on bitmap images

[2018-01-30 09:30] ankitacroit09 opened #3254 "Calendar: does not have next and previous button for both Year and month"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-01-30 09:31] tandraschko commented on #3254
Likely it's not available in the native jquery plugin.
So the only change could be to sponsor it via PrimeFaces PRO.

[2018-01-30 10:04] cnsgithub commented on #3254
Maybe a nicer calendar lib could be used as well in future

https://chmln.github.io/flatpickr/examples/

The current implementation has quite a few problems
https://github.com/primefaces/primefaces/issues?utf8=%E2%9C%93&q=calendar

@ankitacroit09 If you just need year back and forward, you might want to implement it via JS. If you use widgetVar you can access the calendar's dom and see the availab

[2018-01-30 10:38] tandraschko commented on #3254
Most of the "issues" are actually feature requests:
https://github.com/primefaces/primefaces/issues?page=1&q=is%3Aopen+Calendar&utf8=%E2%9C%93

[2018-01-30 10:40] cnsgithub opened #3255 "Keyboard: update plugin"
http://keith-wood.name/keypad.html

Version should be updated from v.1.2.4 to v2.1.0

I've seen in the commit history that the component was broken after jquery update, and only the "broken" places were changed. Why not invest some more minutes and update the lib instead when this happens ;-)

[2018-01-30 11:06] cnsgithub opened #3256 "[Documentation] Create a list of all js third-party libraries used on client side"
It would be useful to have a list of all third party client libs used in the documentation, to consider if the project using primefaces cann add them too or not, and if conflicts in js or css may arise.

What i have found:

- jqPlot
- color picker from www.eyecon.ro
- ContentFlow from http://www.jacksasylum.eu/ContentFlow
- Simple Js Inheritance by  http://ejohn.org/
- diagram.js v 2.1.0 from ???

[2018-01-30 12:45] Blindworks commented on #1991
Any new solutions for this shit?
I have a Dialog and it only contains p:calendar elements.

One year and this issue is still open? Really?

[2018-01-30 13:43] melloware commented on #3246
Got it.  Nice work!

[2018-01-30 13:45] melloware commented on #3255
I use another Keith Wood component in Extensions for Calculator.  For me I just fixed the Jquery 3.0 things because it doesn't seem like Keith is too active right now.   So I would agree with you let's update it and fix the Jquery 3.0 things by hand.

[2018-01-30 14:19] mertsincan opened #3257 "Improve ui-state-active and ui-state-focus classes on SelectManyButton and SelectOneButton"
When a button in selectManyButton/selectOneButton is clicked, "ui-state-active ui-state-focus" is added to it.

[2018-01-30 14:20] #3257 closed, assigned to mertsincan

[2018-01-30 15:10] mertsincan opened #3258 "Improve the DOM structure of selectItems on SelectOneListbox"

[2018-01-30 15:10] #3258 closed, assigned to mertsincan

[2018-01-30 15:52] mertsincan opened #3259 "Added legendLabel option to ChartModel"
Added legendLabel option to show a legend label on BarModel with dataRenderMode="key".

[2018-01-30 15:55] #3259 closed, assigned to mertsincan

[2018-01-30 22:18] kukel commented on #3254
Plus that it is (via (imo) wrong reasoning)  a lot of work to theme it according to all the rest of the components in PrimeFaces that follow the jquery-ui theming since it has its own theming...

Quote from their site

And then also comparing apples and oranges (size-wise)...

My suggestion: don't use it.

[2018-01-30 22:24] kukel commented on #3258
Please document this very carefully since it might (for some users) break backwards compatibility

[2018-01-31 06:46] cnsgithub commented on #3254
Well arguing not to use a plugin/lib because it does not follow jquery-ui theming is funny. Did you see the list of other third party libs primefaces uses (#3256) which are not following jquery-ui theming ;) But ultimately it's the choice of the PF developers. My feeling just is that the jquery-ui date/time picker has a UX straight out of Year 2008~ Especially Year selection is annoying as it was

[2018-01-31 07:23] ssibitz opened #3260 "DataTable: add option to show amount of entries"
In Primefaces 6.1.12 there is currently (as i knowed ?) no default template for showing the
current number of rows/entries in the datatable.

I know that a custom paginator template can be added but not the of the current entries
because in an additional paginator template i don't know nothing about the activated/enabled filters
on the client side and this could be a challange to add it outside Pr

[2018-01-31 08:02] ankitacroit09 opened #3261 "DataTable: Paginator having issue while doing filtering datatable row based on Ajax Call"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-01-31 08:30] tandraschko commented on #3260
I can't follow. As our issue template states: Examples, Actual Behavior and Expected Behaviors helps to understand ;)

[2018-01-31 09:30] ggeremy commented on #2161
Hello,

I think there is a related problem on Primefaces Showcase.
I found a NullPointerException on the "Events" example from TabView demo.

Steps to reproduce:
 * close the "Godfather Part II" -> tab is closed
 * close the "Godfather Part III" -> tab is not closes
 * try to close again "Godfather Part III" -> NPE

By the way, I've also experienced a problem with the TabCloseEvent on my applicati

[2018-01-31 09:39] ankitacroit09 commented on #3261
When this changes will be available for public use

[2018-01-31 09:40] tandraschko commented on #3261
which change?

[2018-01-31 10:46] mertsincan opened #3262 "The InputNumber component doesn't pass itself when encoding its tag"

[2018-01-31 10:47] #3262 closed, assigned to mertsincan

[2018-01-31 10:49] tandraschko commented on #2161
@ggeremy fixed your problem in trunk. However it's probably not the same problem posted in this issue.

[2018-01-31 11:05] mertsincan commented on #3258
Thanks a lot for your comment, but I don't think it'll break backward compatibility. I added only <span> tag into < li > item tag and it doesn't have any CSS style.

Old code;
```<li>Omega</li>```

New code;
```<li><span>Omega</span></li>```

[2018-01-31 12:16] #2161 closed, assigned to tandraschko

[2018-01-31 12:17] tandraschko commented on #2161
Also fixed the second problem now.
The client-side widget still uses the "visible index" but if the data is sent to the server, the real index from the server-side state is used.

[2018-01-31 12:51] tandraschko commented on #752
A PR is very welcome here.

[2018-01-31 12:57] tandraschko opened #3263 "Check if we really need to render data-widget"
As we already have a id<>widgetVar mapping and the widget itself also can access the widgetVar via cfg

[2018-01-31 13:37] ssibitz commented on #3260
_I can't give you a current example here because the
highlighted Text in the Paginator is missing in primefaces !!_

I have prepared an image to better understand:
16 entries: Complete current entries in the datatable
1-4 : Currently showing entry 1 to 4 on current page
so... 1-4 of 16 means: Showing entry 1 to 4 of 16 entries...

**Or other saying:**
There is actually no way to display the curren

[2018-01-31 14:07] tandraschko commented on #3260
for "by the way" please try the forum instead always putting several stuff in a single ticket.
The build works fine for me - also Travis works fine.

[2018-01-31 17:08] cnsgithub opened #3264 "selectManyCheckbox: disabled values are accepted"
## 1) Environment
- PrimeFaces version: primefaces-6.2.RC2-SNAPSHOT
- Application server + version: WildFly 11
- Affected browsers: all

## 2) Expected behavior
Values of disabled components may never be accepted by the server, albeit submitted by the client.

## 3) Actual behavior
At least when using custom layouting with `p:selectManyCheckbox` and `p:checkbox`, select items that are disabled via

[2018-01-31 17:35] cnsgithub commented on #3264
Hey guys, sorry, but this seems to happen with plain vanilla `p:selectManyCheckbox` as well - making me a bit nervous... I'll change the issue title...

## Sample XHTML
[code]

## Sample bean
[code]

## Steps to reproduce
`$('input[type=checkbox]').prop('checked',true).prop('disabled',false);` -> submit

[2018-01-31 22:01] stiemannkj1 opened #3265 "Draggable/Droppable: submits Ajax requests via the wrong form"
## 1) Environment
- PrimeFaces versions: **`6.1`, `6.2.RC1`, `master`**
- Does it work on the newest released PrimeFaces version? **The bug exists in the latest version.**
- Does it work on the newest sources in GitHub? **The bug exists in `master`.**
- Application server + version: **Any**
- Affected browsers: **Firefox, Chrome**

## 2) Expected behavior

Draggable/Droppable components submit Aja

[2018-01-31 22:10] thunderhook commented on #3227
This took me some while.

Yes, it seems that the underlying datetimepicker (http://trentrichardson.com/examples/timepicker/) does not support the time picker above the date picker.
The configuration of date and time is handled seperately:
[code]

Since primefaces calendar widget only takes amixed date and time format attribute, there is one point where it is getting split for the underlying dateti

[2018-02-01 06:00] ankitacroit09 commented on #3261
correction for this defect

[2018-02-01 06:06] cnsgithub opened #3266 "Enhancement: label for security issues/pull requests"
A _security_ label in github for issues and pull requests would make it easier to track security-related stuff.

The following issues should be labelled accordingly (lists may contain duplicates and have no guarantee to be complete):

- containing the word _vulnerability_: #3213, #2375, #2204, #1583, #1439, #1194, #1152, #826
- containing the word _injection_: #3250, #1194, #1152
- containing the

[2018-02-01 06:09] cnsgithub commented on #3264
Also see related issue #2127 that has not been fixed for almost a year now.

[2018-02-01 06:11] cnsgithub commented on #3266
Security issues should always be considered on highest priority.

[2018-02-01 07:21] ssibitz commented on #3260
I will put it in the thread,
but what's about this ticket ?

Is it possible in the primefaces datatable to show the complete number of entries ?

[2018-02-01 07:45] tandraschko commented on #3261
There are currently no plans to fix it. This is a community issue tracker.
If you need a fix, you can do:
1) use the support (PrimeFaces PRO)
2) provide better analysis and a PR

[2018-02-01 09:19] ankitacroit09 opened #3267 "Breadcrumb: add keyboard support"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2018-02-01 10:07] cnsgithub opened #3268 "ImageCropper: potential path traversal SONATYPE-2018-0608"
## 1) Environment
- PrimeFaces version: primefaces-6.2.RC2-SNAPSHOT
- Application server + version: WildFly 11
- Affected browsers: all

## 2) Expected behavior
In `p:imageCropper` images should be read just from external HTTP URLs or resources relative to the web application's context root.

## 3) Actual behavior
If the value of `p:imageCropper image` attribute contains user-supplied input, image

[2018-02-01 10:21] #3266 closed, assigned to nobody

[2018-02-01 10:25] cnsgithub commented on #3266
Nice, thx.

[2018-02-01 10:29] #3250 closed, assigned to tandraschko

[2018-02-01 13:10] stiemannkj1 commented on #3265
This issue was discovered thanks to this StackOverflow post: https://stackoverflow.com/questions/48258022/primefaces-drag-drop-not-working-if-other-portlets-contain-form-tags/48552329

[2018-02-01 13:18] melloware commented on #3265
@stiemannkj1 Excellent debugging.

[2018-02-01 13:23] tandraschko commented on #3265
@stiemannkj1 I think that we should filter out forms without viewstate in our lookup. Should be fine for JSF and Liferay, right?

[2018-02-01 13:24] stiemannkj1 commented on #3265
@tandraschko, that still won't work because there could be two JSF portlets on the same page.

[2018-02-01 13:27] tandraschko commented on #3265
Yep, i see.
Lets talk about it again after we released 6.2.

[2018-02-01 13:28] cnsgithub opened #3269 "fileUpload: filename returned by UploadedFile should be sanitized"
## 1) Environment
- PrimeFaces version: primefaces-6.2.RC2-snapshot
- Application server + version: WildFly 11
- Affected browsers: all

## 2) Expected behavior
The filename returned by `UploadedFile ` should be sanitized. Otherwise, this may lead to path traversal vulnerabilities if developers use `UploadedFile.getFileName` to write to the file system - which is common practice and likely to happ

[2018-02-01 13:30] stiemannkj1 commented on #3265
@tandraschko sounds good, as I said in the issue: this problem could affect other components as well (if they don't render any markup). But the workaround is very nice and simple and this problem doesn't seem to affect any extremely popular components, so I think the fix can be safely delayed.

[2018-02-01 13:34] melloware commented on #3269
I think the tricky part with this one is how do you sanitize it without breaking a valid filename?

https://github.com/primefaces/primefaces/issues/1439
https://github.com/primefaces/primefaces/issues/506
https://github.com/primefaces/primefaces/issues/3034

[2018-02-01 13:44] cnsgithub commented on #3269
It always depends on the context (file system, JS, HTML, ...) you make use of the filename. If used in file system APIs, make sure filename is handled just as filename and not as directories, if used in JS use JS encoding, if used in HTML, use HTML encoding and so on.

My current code insight is not deep enough to judge.

And I think it is always a good idea to NOT reinvent the wheel in such secur

[2018-02-01 14:41] melloware commented on #3269
Agreed. I am just saying once again you have to be careful with what "sanitize" means this context that you don't break functionality that was actually intended in some use cases.   Or at least give the option for "unsanitized" file names if that is what the developer desires.

[2018-02-02 06:58] cnsgithub commented on #3269
What have the use cases to do with proper design and secure development?

What is the advantage of `NativeUploadedFile ` (using `Part` from Servlet 3.0 spec) over `DefaultUploadedFile ` (using `FileItem ` from commons-fileupload) - besides standard vs. non-standard API and another (well tested, de-facto standard) dependency? At the moment I cannot see any advantage.

In contrary, the switch makes

[2018-02-02 07:14] fanste opened #3270 "AutoComplete: Trigger clear event when input is cleared by forceSelection=true"
## 1) Environment
- PrimeFaces version: 6.2.RC1
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers:

## 2) Expected behavior
Fire the `clear` event when the input is emptied by the setting `forceS

[2018-02-02 08:07] ssibitz opened #3271 "Primefaces is not using FontAwesome Icons when they are activated..."
In Primefaces 6.1.13 and also on the 6.2-SNAPSHOT
i can activate the use of FontAwesome by setting the following context-param:

[code]

But when i try the following simple example it will be rendered with an image icon instead
of using the calendar symbol from the FontAwesome Library.

You can also use the Primefaces-Showcase with the calendar-input in button-style to reproduce it.

[code]

Inste

[2018-02-02 08:27] tandraschko commented on #3271
It's up to the theme. Premium themes are using font-awesome.
Probably we will create new community theme which will use font-awesome in the future.

[2018-02-02 08:27] #3271 closed, assigned to nobody

[2018-02-02 08:30] tandraschko commented on #3270
@mertsincan could you check that?

[2018-02-02 09:05] tandraschko opened #3272 "DataTable: multiViewState fails with session replication"

[2018-02-02 09:06] #3272 closed, assigned to tandraschko

[2018-02-02 09:38] ankitacroit09 commented on #3267
I have made the changes in primecode for this.
Can I contribute to the Prime code for this support.

The changes what I did inside the BaseMenuRenderer.java class method
[code]

[2018-02-02 12:06] melloware commented on #3269
@cnsgithub Perfect just sounds like you signed up to implement the PR!

[2018-02-02 12:13] melloware commented on #3269
Although I will warn you I am not sure how PrimeTek feels using 3rd party libs that are not "optional".  If you use the OWASP code and make it a dependency it will have to be a required dependency not an optional one.  I know PF in the past has prided itself on just being a standalone JAR library with no dependencies unless you use features that need another lib like Barcode4J for the Barcode comp

[2018-02-02 14:16] matsandreassen commented on #472
Any possiblity of getting this ported to 6.1.14?

[2018-02-02 15:26] melloware commented on #472
@mertsincan can you port this into 6.1.14 please?

[2018-02-02 15:44] lagar84 commented on #3175
I am having this same bug and found this open issue.
To workaround it, I put a **delay="50"**. Like this:

<p:inputMask id="key" value="#{maskView.productKey}" mask="a*-999-a999">
          <p:ajax event="change" process="@this" update="@this" **delay="50"** />
</p:inputMask>

[2018-02-03 13:46] melloware commented on #3264
@cnsgithub I wonder if we can come up with something clever generically to check fix this situation?  Or do you think its more likely each component like the PickList answer above will need its own coded solution?

[2018-02-03 19:02] melloware commented on #2127
@DaHoC Please review my PR.  https://github.com/primefaces/primefaces/pull/3275  I made some slight changes to your code and chose a standard validation message.

[2018-02-03 19:10] juntaforce opened #3276 "how to invoke onResponse when we using invisible racaptcha or how can we invoke grecaptcha.execute();??"

[2018-02-03 19:19] melloware commented on #3214
@cnsgithub Maybe you are misunderstanding what I am saying?  Right now do the following:

1. Go to https://www.primefaces.org/showcase/ui/input/textEditor.xhtml
2. Right in the WYSIWYG editor on the screen type `<script>alert('oops');</script>`

You will see the Javascript alert and I **agree** that is bad.

What I am saying is what if I am using the TextEditor component in my webapp to allow admi

[2018-02-03 19:20] melloware commented on #3276
Please close this ticket and use the forums to ask questions:  https://forum.primefaces.org/viewforum.php?f=3

[2018-02-03 19:28] juntaforce commented on #3276
Ok but your instruction is too low about recaptcha. Last version you said that invisible recaptcha added but there is no any explanation [https://www.primefaces.org/primeng/#/captcha](url)

[2018-02-03 19:28] #3276 closed, assigned to nobody

[2018-02-03 19:44] melloware commented on #3264
From looking closer this looks like it will have to be done on a component by component basis by overriding the validateValue method on the Template.

[code]

[2018-02-03 19:45] tandraschko commented on #3276
You are in the PrimeFaces issue tracker, not PrimeNG ;)

[2018-02-03 22:10] jxmai commented on #3214
Hmm, I wasn't aware of this issue. XSS is doable because quill itself does not sanitize the HTML output.
A comment which can contain an execution JS on other machines is a bad news ...

Anyway, The expected behavior should be the same as the original editor:

https://www.primefaces.org/showcase/ui/input/editor.xhtml

![image](https://user-images.githubusercontent.com/10467831/35772018-6c118c48-08f

[2018-02-03 23:00] DaHoC commented on #2127
@melloware Reviewed your PR, nice

[2018-02-04 12:31] koan00 opened #3277 "SelectOneMenu: Issue with dynamic="true" and required validation."
## 1) Environment
- PrimeFaces version: master (5099d890cca46db839045d1b3815a66de6902e3c)
- Does it work on the newest released PrimeFaces version? No, dynamic="true" is a new feature.
- Does it work on the newest sources in GitHub? No.
- Application server + version: Tomcat 7.0.82 / Mojarra 2.2.15
- Affected browsers: IE 11, FF 58, Chrome 63

## 2) Expected behavior
Upon selecting a value in the

[2018-02-04 16:57] Rapster commented on #1437
@tandraschko I might need to work on this one actually. But I can't figure out what's the attribute name should be actually. There is two use case so far as I can see...:

Basic mode:
[code]

Facet mode:
[code]

I'd like to cover those 2 use case scenario with one attribute... With facets, it's easy (e.g `mode="input|output"`), but should I use `content` and `display` as keyword for basic scenario

[2018-02-04 17:17] Rapster commented on #1437
I realized `input` and `ouptut` facet are predefined name... So `output `= `display `and `input `= `content`. I think I should reuse `content` and `display` as keyword

[2018-02-04 18:26] Rapster opened #3279 "Inplace: wrong style buttons"
## 1) Environment
- PrimeFaces version: 6.2.RC2-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers:

## 2) Expected behavior
Buttons should be as height as input (see https://www.primefac

[2018-02-04 20:05] #3279 closed, assigned to nobody

[2018-02-05 05:47] cnsgithub commented on #3264
I'd of course prefer having it fixed generically in the base, so similar situations should not happen in the future. But I haven't looked inside in more detail yet and don't know where the right place would be.

However, almost all components that are not vulnerable at the moment implement the `isDisabled return` logic theirselves. Therefore we could also try to fix it within each component render

[2018-02-05 05:56] cnsgithub commented on #3214
Ok, indeed I wasn't aware that it is even simpler and can be done just by copy&paste...

If you really think it could be a valid use case, then we should definetely provide an opt-in attribute for this.

And yes, the old p:editor does not have this copy&paste 'feature'.

[2018-02-05 09:02] cnsgithub opened #3282 "slider: lack of user input validation"
## 1) Environment
- PrimeFaces version: primefaces-6.2.RC2-snapshot
- Application server + version: any
- Affected browsers: any

## 2) Expected behavior
`minValue` and `maxValue` should be enforced at server side and value has to be rejected if outside the range.

## 3) Actual behavior
User input validation is neither done on server nor on client side.

## 4) Steps to reproduce
Just go to your sh

[2018-02-05 09:06] cnsgithub commented on #3282
Btw, the value of the second showcase slider is already outside the range when initially loading the page. (0.0 < 0.2)

[2018-02-05 14:39] fanste opened #3283 "Dialog: fitViewport=true has no effect when no footer is available"
## 1) Environment
- PrimeFaces version: 6.2.RC1

## 2) Expected behavior
The content area should be scrollable when `fitViewport=true` is set on a dialog.

## 3) Actual behavior
Function will calculate `NaN` if footer is not available for the dialog. Therefore content area is not scrollable.

PR is coming...

## 4) Steps to reproduce
Create Dialog with a lot of content and set `fitViewport=true`

[2018-02-05 14:52] fanste commented on #3283
PR is #3284

[2018-02-05 15:05] #3283 closed, assigned to nobody

[2018-02-05 15:24] koan00 opened #3285 "DataTable: ColumnToggler hides when trying to scroll selection panel"
## 1) Environment

- PrimeFaces version: master (5099d89)
- Does it work on the newest released PrimeFaces version? Yes Version? 6.1
- Application server + version: Tomcat 7.0.84 / Mojarra 2.2.15
- Affected browsers: IE 11 and Chrome 64
- Unaffected browsers: FF 58

The toggleable column panel is hard coded to a maximum height of 200.  When the list of toggleable columns grows long, a vertical scr

[2018-02-05 15:36] cnsgithub opened #3286 "imageCropper: uncontrolled resource consumption may lead to denial of service"
## 1) Environment
- PrimeFaces version: primefaces-6.2.RC2-snapshot
- Application server + version: WildFly 11
- Affected browsers: all

## 2) Expected behavior
Number of bytes read from HTTP input stream should be limited, otherwise high resource consumption may lead to denial of service.

## 3) Actual behavior
An attacker could provide a specially crafted, infinite image stream that will be fed

[2018-02-05 16:22] koan00 commented on #3285
PR: https://github.com/primefaces/primefaces/pull/3287

[2018-02-05 17:26] Rapster opened #3288 "SplitButton: add outcome support"
## 1) Environment
- PrimeFaces version: 6.2.RC2-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers:

## 2) Expected behavior
Clicking on defaut button should alow us to be redirected

##

[2018-02-05 18:31] ebehmen opened #3289 "selectOneMenu: itemEscape doesn't work correctly"
## 1) Environment
- PrimeFaces version: 6.2.RC1
- Application server + version: Payara Server 172
- Affected browsers: ALL

## 2) Expected behavior

![grafik](https://user-images.githubusercontent.com/13982588/35821972-0eb12562-0aab-11e8-916a-3d356d10436d.png)

## 3) Actual behavior

![grafik](https://user-images.githubusercontent.com/13982588/35821388-2b543e54-0aa9-11e8-98be-3d53af6d13c9.png)

##

[2018-02-05 19:12] melloware commented on #3289
Related to this ticket? https://github.com/primefaces/primefaces/issues/2668

[2018-02-05 19:19] nusivtech commented on #3248
Thanks for your response.
I have used (https://www.primefaces.org/primeng/#/datatable/selection)
on RadioButton the header name is blank. Please let me how can i can add header for Radio button column.
Attach for the reference.
![radiobutton_primeng](https://user-images.githubusercontent.com/15810812/35824046-2fa10aa0-0a77-11e8-9314-055a839d1a25.png)

[2018-02-05 19:25] melloware commented on #3248
@nusivtech You want the PrimeNG Issues list not the PrimeFaces issue list.  Go here instead: https://github.com/primefaces/primeng/issues

[2018-02-05 19:42] tandraschko commented on #3289
Don't know why it happens. A PR or analysis is welcome. The code is the same as in 6.1 in this part.

[2018-02-06 07:24] cnsgithub opened #3290 "fileUpload: unrestricted file size"
## 1) Environment
- PrimeFaces version: primefaces-6.2.RC2-snapshot
- Application server + version: WildFly 11
- Affected browsers: all

## 2) Expected behavior
`p:fileUpload sizeLimit` can be safely used to specify a file size limit that will be enforced at client as well as server side.

## 3) Actual behavior
When using `p:fileUpload mode="simple"` neither client nor server side validations are

[2018-02-06 10:02] cnsgithub commented on #3132
I just tried to implement this, however it seems to be quite hard since the default JSF SelectItem does not offer additional values other than description, label and value. So getting the passtrough values at the interesting spot (SelectOneMenuRenderer, encodeItem) is not possible with the current implementation. Maybe a different approach would be to create new attributes for the <p:selectOneMenu

[2018-02-06 10:53] cnsgithub opened #3291 "selectOneMenu: passtrough attributes are rendered multiple times"
PF Version: Built from source as of today

XHTML Code (taken from showcase, use same bean)
pt:data-test="xyz" added
[code]
Result in browser:

![image](https://user-images.githubusercontent.com/13161711/35855678-30d4f32e-0b34-11e8-9bd0-b8b0bdef462a.png)

Expected result:

The passtrough should only be rendered once on the container with "ui-selectonemenu" class

[2018-02-06 11:55] cnsgithub commented on #3269
No, I didn't sign up automatically to address these issues since I am not aware of all use cases.

However, it would be great to get a statement from PrimeTek to further advance this. E.g. the advantage and necessity of the native implementation is not yet clear (at least to me)? And if PrimeTek is willing to accept a third-party lib like OWASP fileio?

[2018-02-06 12:50] melloware commented on #3291
Agreed.  it looks like this happens in javax.faces.context.ResponseWriter startElement() method.

[code]

[2018-02-06 12:52] mertsincan opened #3294 "Panel alignment issue on SelectCheckboxMenu"
Reported By PRO User;

[2018-02-06 12:53] #3294 closed, assigned to mertsincan

[2018-02-06 15:30] melloware commented on #3289
PR submitted.  This was a JQuery 3.0 issue introduced.

[2018-02-06 17:29] melloware commented on #3132
Here was the solution BootsFaces went with:

https://github.com/TheCoder4eu/BootsFaces-OSP/issues/667

https://github.com/TheCoder4eu/BootsFaces-OSP/commit/d29f815fbf5a8f50ffe261f3a89b6e18cd6897ac

[2018-02-06 19:44] tandraschko commented on #3132
It's think it's quite easy if we do bit refactoring and also remember the UISelectItems component instead only the SelectItems pojo.

[2018-02-06 19:45] #3289 closed, assigned to nobody

[2018-02-06 19:46] tandraschko commented on #3291
Probably we pass the component since 6.2 - so we can remove the additional code to render passtrough attributes.
Mert also changed that in other components last week, we need to check that.

[2018-02-06 19:48] tandraschko commented on #3269
i'm not sure if we need a additional dependency for this issue. However, if we would need to introduce the dependency for the quilljs issue, we could reuse it.

[2018-02-06 19:50] tandraschko commented on #1437
I think we should implement like the activeIndex in the accordion. If the clientSide switches the mode and p:ajax is registered, the mode will be written back to the "mode" expression. If it's updated on the ajax, the mode will be the same again as in the bean. With this option you could also set an initial mode.

[2018-02-06 20:14] tandraschko commented on #3291
Please don't provide a PR - we need to discuss this internal before.

[2018-02-06 20:15] #3285 closed, assigned to nobody

[2018-02-07 07:47] martin654 commented on #3175
That workaround works as a temporary fix. Thanks!

[2018-02-07 10:00] #3052 closed, assigned to nobody

[2018-02-07 11:38] cnsgithub opened #3296 "selectManyCheckbox: state of disabled, checked select items gets lost"
## 1) Environment
- PrimeFaces version: primefaces-6.2.RC2-snapshot, primefaces-6.1.11
- Application server + version: WildFly 11
- Affected browsers: all

## 2) Expected behavior
Submission of form that contains preselected/checked but disabled select items must not change the selection, i.e. the disabled select items must stay checked.

## 3) Actual behavior
Preselected/checked select items are

[2018-02-07 12:21] mounika544 opened #3297 "how to add button inside tabview in primefaces"
<p:tab title="#{selDate.toLongString()}">
                                    <p:tabView value="#{buildingCoverageWeekend.shifts}" var="shift" cache="false">
                                        <p:ajax event="tabChange" listener="#{buildingCoverageWeekend.onTabChange}"  />
                                        <p:tab title="#{shift.short_name}"    titleStyle="#{buildingCoverageLeftPane.tabSt

[2018-02-07 12:22] melloware commented on #3297
Please use the forums for questions: https://forum.primefaces.org/viewforum.php?f=3

[2018-02-07 12:24] #3297 closed, assigned to nobody

[2018-02-07 12:50] #3286 closed, assigned to nobody

[2018-02-07 12:51] tandraschko opened #3298 "[Documentation] imageCropper: sizeLimit"

[2018-02-07 13:03] #3290 closed, assigned to nobody

[2018-02-07 15:00] sworcester-hsdmetrics commented on #1525
We are experiencing the same issue in our application. Any solutions / workarounds from PrimeFaces on this issue?

[2018-02-07 22:29] mbeedub commented on #1817
+1 for this

It would be a fantastic addition to PF and would pave the way potentially for the use of FullCalendar scheduler (even though that's a premium add-on)

[2018-02-08 09:48] #60 closed, assigned to tandraschko

[2018-02-08 09:49] tandraschko opened #3300 "[Documentation] Confirm: escape"
https://github.com/primefaces/primefaces/issues/60

[2018-02-08 10:04] #3080 closed, assigned to nobody

[2018-02-08 10:05] tandraschko opened #3301 "[Documentation] Growl: keepAlive"
see #3080
Description in taglib:
Defines if previous messages should be kept on a new message is shown. Default is false.

[2018-02-08 11:17] mertsincan opened #3302 "ContextMenu stays on page when dataTable is scrolled"

[2018-02-08 11:19] #3302 closed, assigned to mertsincan

[2018-02-08 11:45] cagataycivici commented on #130
https://stackoverflow.com/questions/155291/can-html-checkboxes-be-set-to-readonly

[2018-02-08 11:45] #130 closed, assigned to nobody

[2018-02-08 13:08] mauromol commented on #130
It's not clear to me whether this has been implemented or not (and in which version?).

[2018-02-08 14:04] melloware commented on #130
@mauromol I don't believe it was fixed because there were no commits associated with it.  I think what @cagataycivici is pointing out is that there is NO such thing as a ReadOnly checkbox.   That Stack Overflow article states as much and just points out a bunch of hacky workarounds to try and make it look readonly.

[2018-02-08 14:49] tandraschko opened #3303 "EarlyPostParams: doesn't evaluate checkbox values correctly"

[2018-02-08 15:08] tandraschko commented on #3303
still not fixed

[2018-02-08 15:18] #3303 closed, assigned to tandraschko

[2018-02-08 15:28] mauromol commented on #130
@cagataycivici can you confirm what @melloware says?

[2018-02-08 16:59] cnsgithub commented on #3282
@tandraschko I did not manage to get it working yet, see TODOs in my commit. The help of some experienced PF developer would be appreciated. I've tried `UIInput:processDecodes`, `UIInput:setSubmittedValue`, `UIInput:setValue ` and putting the new values back to the request map without success. Probably the order matters and it is already too late at this point.

Or would you suggest moving the che

[2018-02-08 20:33] ghost opened #3304 "PickList: add keyboard support"
## Environment
- PrimeFaces version: 6.1
- Application server + version: n/a
- Affected browsers: All

## Reproduce

1. Visit https://www.primefaces.org/showcase/ui/data/pickList.xhtml
1. Click **San Francisco**.
1. Type: `B`

## Expected behavior

Selected item changes from **San Francisco** to **Berlin**.

## Actual behavior

Nothing happens (keyboard input is ignored).

## Additional Details

T

[2018-02-08 21:36] tandraschko commented on #3304
Sponsoring via PrimeFaces PRO or PR welcome.

[2018-02-08 22:26] rkleijngeld opened #3305 "selectOneMenu: ajax does not work with RequestScoped bean"
1) Environment
- PrimeFaces version: PrimeFaces 6.2.RC2-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source ->  https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Glashfish 4.1
- Affected browsers: All

## 2) Expected behavior
Ajax listener on bean to be e

[2018-02-09 00:35] melloware commented on #3304
@DaveJarvis I am not disagreeing with you and all of your points are **_ABSOLUTELY_** valid.  However, to achieve functionality that the PF picklist has no amount of CSS or JS is going to be able to override the default HTML behavior and provide all the same things the component does.  For example images    Which is why Jquery Plugin developers end up writing their own components.

What I mean by

[2018-02-09 00:39] melloware commented on #3305
Your XHTML above is messed up its missing the actual selectOne.

Why not just create a small re-usable example? Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to receive an answer and a solution.

Then I can run "mvn jetty:run" on your sample zip so we can see your reproduced issue easily.

[2018-02-09 02:26] rkleijngeld commented on #3305
Sorry Melloware but if you copy the the entire xhtml it is interpreting the code instead of just displaying it.

[2018-02-09 07:09] ShivaniSK opened #3306 "SelectCheckboxMenu ajax not working with itemValue as custom object"
I am trying to perform ajax on selecting any element in selectCheckBoxMenu primefaces.
But ajax event fires only if itemValue is equal to String. If i am passing object then not event is fired. Please have a look.

[code]

Above is my bean class which i am iterating to display values in selectCheckboxMenu.
Below is jsf code

[code]
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:

[2018-02-09 08:06] cnsgithub commented on #3282
Ok, now it seems to work. I tested it with your showcase xhtml. I moved the range checks to the `validate ` method in template/component, therefore the slider now extends `UIInput`. If the checks fail, a validation error will be thrown.