[2020-06-18 15:02] tandraschko commented on #6053
isn't session storage only for the current tab?

[2020-06-18 15:05] melloware commented on #6053
You are right should we use localStorage instead?

https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage

[2020-06-18 15:08] tandraschko commented on #6053
yeah

[2020-06-18 15:50] #6047 closed, assigned to melloware

[2020-06-18 20:05] #5914 closed, assigned to melloware

[2020-06-19 07:37] kneringerjohann commented on #5861
Dear Primetek-Team,
could you add this fix to an elite-release?
thank you in advance.

[2020-06-20 13:58] #5920 closed, assigned to melloware

[2020-06-20 18:55] melloware commented on #3658
While I agree this type of css doesn’t belong there it’s just a default that all Primetek premium themes override.  And since the jquery themeroller themes are deprecated this is not really an issue.

[2020-06-20 18:55] #3658 closed, assigned to nobody

[2020-06-20 19:34] melloware commented on #2758
The same input group CSS is used across PrimeTek libraries as well so no need to make this a component.  It can always be wrapped in a composite component if necessary.

[2020-06-20 19:34] #2758 closed, assigned to nobody

[2020-06-20 20:36] melloware commented on #3240
2 things..

1. I think we should switch to this library as its actively maintained and more closely aligned with the current legacy mask library: https://github.com/RobinHerbots/Inputmask

2. PrimeFaces Extensions added InputPhone which uses a full featured phone masking library and validates it on the server side with Google libphonenumber Library.

[2020-06-20 21:17] melloware commented on #2504
I have updated the en-us example to be a complete example and we can hopefully get others to contribute as well.  The PT-BR example also looks pretty complete.  I think its the best we can and should do for now...

[2020-06-20 21:17] #2504 closed, assigned to nobody

[2020-06-20 21:25] melloware opened #6060 "Global: SEO Markup"
**Description**
As a way of consolidating suggestions for SEO markup from @djmj I have created this master ticket with links to the old tickets about SEO.  It doesn't seem like the community is that interested in this feature but this global placeholder ticket is here if anyone wants to revive these old tickets:

- [ ] Tabular DataSet - https://github.com/primefaces/primefaces/issues/4431
- [ ] Im

[2020-06-20 21:25] #4376 closed, assigned to nobody

[2020-06-20 21:25] #4428 closed, assigned to nobody

[2020-06-20 21:25] #4429 closed, assigned to nobody

[2020-06-20 21:25] #4430 closed, assigned to nobody

[2020-06-20 21:25] #4431 closed, assigned to nobody

[2020-06-22 08:01] mertsincan opened #6061 "The change event is not called when an item is clicked on Autocomplete panel"
Reported By PRO User;

[2020-06-22 08:01] #6061 closed, assigned to mertsincan

[2020-06-22 08:14] serdarayalp commented on #4609
is there anything new for this ticket? We have the same problem here.

[2020-06-22 11:15] #1716 closed, assigned to melloware

[2020-06-22 11:35] melloware commented on #5776
Looks like 5.0 went final today: https://fullcalendar.io/blog/2020/06/v5-official

[2020-06-22 11:38] blutorange commented on #5776
fullcalendar/fullcalendar#5336 has at least a workaround, not so sure about fullcalendar/fullcalendar#5493 Perhaps we should at least wait a week or two to see whether they fix it?

[2020-06-22 11:41] melloware commented on #5776
I have no problem with that.

[2020-06-22 11:54] tandraschko commented on #6030
Here we go....
Add:

`    <factory>
        <lifecycle-factory>org.primefaces.clientwindow.PrimeClientWindowLifecycleFactory</lifecycle-factory>
    </factory>`

and it should work ;) please test test test

would be great if someone could also retest https://issues.apache.org/jira/browse/DELTASPIKE-729 and write a docu for it

[2020-06-22 11:58] tandraschko commented on #6030
It would also need some JS docs... @blutorange  interessted? :)

[2020-06-22 12:01] tandraschko commented on #6030
The mode is almost equals to DeltaSpike LAZY mode: https://deltaspike.apache.org/documentation/jsf.html#Multi-WindowHandling

it just uses the sessionStorage instead window.name

Would be great if someone could port the "Background" and "LAZY" mode to the documentation

it also only works on JSF 2.2 as it uses the JSF API for it

DeltaSpike also worded for 2.0 AFAIR

[2020-06-22 12:45] blutorange commented on #6030
@tandraschko Sure, I can take a look later this day. It's about the JSDocs in `core.clientwindow.js`, right?

[2020-06-22 12:49] melloware commented on #6030
Awesome work @tandraschko I don't mind volunteering to do the documentation.
@blutorange can hopefully review the JS Docs
@christophs78 will hopefully help test!

[2020-06-22 13:32] christophs78 commented on #6030
Yes, i will test. Not immediately but within a few days.
@tandraschko : Thanks for your work!

[2020-06-22 15:19] christophs78 commented on #6030
First run with PF-Showcase on Tomcat 9.x with Mojarra results in
[code]

[2020-06-22 15:23] christophs78 commented on #6030
![image](https://user-images.githubusercontent.com/10461942/85305144-f66dff80-b4ac-11ea-839d-17147c2afb9a.png)
![image](https://user-images.githubusercontent.com/10461942/85305226-100f4700-b4ad-11ea-9136-1759be61eda6.png)

[2020-06-22 15:58] tandraschko commented on #6030
explains why it was implemented that complicated in DS...

[2020-06-22 16:33] tandraschko commented on #6030
fixed Mojarra now ;)

[2020-06-22 17:54] christophs78 commented on #6030
![grafik](https://user-images.githubusercontent.com/10461942/85319612-10fea380-b4c2-11ea-8373-3d25a025ea05.png)
Broken jfwid when in click on an ShowCase-menu-entry.

[2020-06-22 19:31] melloware opened #6065 "DatePicker: AM/PM calculation incorrect"
**Describe the defect**
Regression caused by: https://github.com/primefaces/primefaces/issues/5186
CC @NicolaIsotta

The AM/PM calculation has an off by 1 error.  It is using `KK` which is 0-11 based instead of `hh`  1-12 based.

Wen you use "12" in the Time it ends up with a validation error on the screen that says this:
_'06/22/2020 12:00 PM' could not be understood as a date and time. Example:

[2020-06-22 21:50] ybendek opened #6067 "PF 7.0.14 is not compatible with Java 7"
Currently I'm in the middle of a migration of an application from PF 6.2 to PF7, everything looks good using PF 7.0.10 and 7.0.13. But as soon as I upgrade to the last one available in my ELITE subscription (7.0.14) and launch the app, I have the following exception

`java.lang.ClassNotFoundException: java.time.chrono.ChronoLocalDate
	at org.glassfish.web.loader.WebappClassLoader.loadClass(WebappC

[2020-06-22 23:17] melloware commented on #6067
@mertsincan this looks like Elite 7.0.14 was compiled with java 8 classes by accident.  Can your remedy please.  Closing this because the community can’t fix this.

[2020-06-22 23:17] #6067 closed, assigned to nobody

[2020-06-23 07:50] tandraschko commented on #6030
@christophs78 only happens in mojarra

[2020-06-23 08:36] tuerker opened #6068 "DatePicker\Calendar: Validate minDate is before maxDate"
**Describe the defect**
When you invoke the datepicker with the attributes maxdate and mindate while maxdate < mindate holds true, then the datepicker looks corrupted. The month/year is not shown correct.

**Environment:**
 - PF Version: _8.0_
 - JSF + version: _e.g. Mojarra 2.2.8 or MyFaces 2.3.6_
 - Affected browsers: _e.g. Chrome, iOS, ALL_

**To Reproduce**
When you invoke the datepicker with

[2020-06-23 08:38] tandraschko commented on #6030
The specs says that the ClientWindowId is always appended to the url and getQueryURLParameters is just something additional.

That means we have 2 bugs:
1) Mojarra doesnt handle the additional getQueryURLParameters correctly (thats the behavior you currently see in your screenshot, the second param needs a & before)
2) MyFaces doesn't append the ClientWindowId per default, it just uses getQueryURL

[2020-06-23 08:40] tandraschko commented on #6030
@christophs78 please test again

[2020-06-23 08:46] tandraschko commented on #6030
See: https://issues.apache.org/jira/browse/MYFACES-4345

[2020-06-23 09:30] tandraschko commented on #6068
i would throw a FacesException. WDYT @melloware?

[2020-06-23 11:26] tandraschko commented on #6030
fixed for the upcoming MyFaces versions. So our PF ClientWIndow doesnt work on older MyFaces versions

[2020-06-23 11:34] #6065 closed, assigned to melloware

[2020-06-23 11:36] melloware commented on #6067
Duplicate of: https://github.com/primefaces/primefaces/issues/6024

[2020-06-23 11:37] melloware commented on #6068
Yep I agree and will throw a FacesException as this is invalid configuration. I am on it.

[2020-06-23 11:54] #6053 closed, assigned to melloware

[2020-06-23 12:11] kukel commented on #6042
sooo is an understatement... soooooooo is better ;-)

[2020-06-23 12:23] melloware commented on #6068
The PR fixes it for both DatePicker and Calendar since they share a common inheritance hierarchy.

[2020-06-23 12:25] melloware commented on #6030
@tandraschko I think that is OK better to fix it the right way for the future since this is a new feature than to try and make it backwards compatible

[2020-06-23 12:31] tandraschko commented on #6030
yeah
in general it would be great if someone could fix the mojarra bug also...
see https://github.com/eclipse-ee4j/mojarra/blob/2d22f78f81548c10f2c48a8fd8a04caa1628c0b3/impl/src/main/java/com/sun/faces/context/UrlBuilder.java#L242

I think this needs to be replaced by "&", so the screenshot of @christophs78 would contain:
?jfwid=39494&jfwid=39494

[2020-06-23 12:32] tandraschko commented on #6030
would be great if someone could create a issue and PR there

[2020-06-23 12:35] melloware commented on #6030
I will take care of that.

[2020-06-23 12:50] melloware commented on #6030
Mojarra Issue: https://github.com/eclipse-ee4j/mojarra/issues/4727

Mojarra PR: https://github.com/eclipse-ee4j/mojarra/pull/4728

[2020-06-23 13:47] christophs78 commented on #6030
Looks good. :-)

I´ll work later this week on the Showcase-PR to do
![image](https://user-images.githubusercontent.com/10461942/85411497-bcfaca00-b568-11ea-8f2d-0de55a355883.png)
for the whole project.

[2020-06-23 14:21] ybendek commented on #6067
@melloware do you have an estimate of when this could be fixed? as you found its duplicate but yesterday this release remains with the problem

[2020-06-23 14:26] melloware commented on #6067
I don't work for PrimeTek so I have no effect on Elite release only @mertsincan does....

[2020-06-24 16:45] melloware opened #6074 "ScrollPanel: Upgrade JS Library to 2.2.3"
**Description**
ScrollPanel uses jScrlPane https://github.com/vitch/jScrollPane and we are using a 5 year old version of the JS.

[2020-06-24 18:07] melloware commented on #3830
@jan-tosovsky-cz Isn't this a duplicate of your other ticket: https://github.com/primefaces/primefaces/issues/3992

[2020-06-24 18:07] #3830 closed, assigned to nobody

[2020-06-24 18:12] jan-tosovsky-cz commented on #3830
you are right, the other issue is another approach to achieve same behaviour

[2020-06-24 18:21] melloware commented on #2359
Duplicate of: https://github.com/primefaces/primefaces/issues/92

[2020-06-24 18:21] #2359 closed, assigned to mertsincan

[2020-06-24 18:45] melloware commented on #2305
as @tandraschko this is not easy to fix and its simply addressed by updating the overlay panel when you update the button.  Closing this for now unless someone submits a quality PR in the future we can re-open.

[2020-06-24 18:45] #2305 closed, assigned to nobody

[2020-06-24 18:48] melloware commented on #2033
This is already possible using `itemTip` facet of AutoComplete.  See the docs here: https://primefaces.github.io/primefaces/8_0/#/components/autocomplete?id=itemtip

[2020-06-24 18:48] #2033 closed, assigned to nobody

[2020-06-24 18:53] melloware commented on #3627
DatePicker does not have this issue so I reccommend switching to that component from Calendar since there is no telling when Jquery UI will fix the true underlying issue.

[2020-06-24 18:53] #3627 closed, assigned to nobody

[2020-06-24 18:57] melloware commented on #3227
DatePicker does not have this issue so I recommend switching to DatePicker from Calendar.
[code]

[2020-06-24 18:57] #3227 closed, assigned to nobody

[2020-06-24 18:58] melloware commented on #3101
@ravihariharan Are you going to submit a PR or should I close this ticket?

[2020-06-24 19:06] melloware commented on #4612
DatePicker has resolved this issue and its most likely Calendar will never get this fix so I would switch to DatePicker.

[2020-06-24 19:06] #4612 closed, assigned to nobody

[2020-06-24 19:23] melloware commented on #3054
This is fixed in DatePicker in 9.0 which is the recommended Calendar to use.

[2020-06-24 19:48] melloware commented on #4546
Once PR #6062 is merged I will fix this ticket.

[2020-06-25 00:19] GedMarc opened #6077 "ImageCropper v9 - File upload null pointer exception"
Uploaded file fails to read if locally referenced -

ImageCropperRenderer - Null pointer exception
[code]

I think Line 223+ should read - this returns correctly
[code]

[2020-06-25 00:23] GedMarc commented on #6077
[code]

Showcase current version on clicking upload on image cropper

[2020-06-25 07:09] mikioma opened #6079 "Diagram : elements displayed using "toString()" if facet contains conditional (rendered) blocks"
**Describe the defect**
Say you want to customize how each element is displayed in the diagram by using "<p:outputPanel rendered=..." with the appropriate condition for each element.

If the facet only contains blocks like that with no unconditional block, then the facet displays element using "toString()" instead of the panel contents (even though the condition to render them is true)

**Reproduc

[2020-06-25 07:16] mikioma commented on #6079
If it may help: A couple of friends have been digging into "DiagramRendered" class and believe the problem might be in here:
[code]

"ComponentUtils.shouldRenderFacet(elementFacet)" is evaluated before the actual element data is made available to the "elementFacet"

Hope this helps

[2020-06-25 11:23] melloware commented on #6077
What OS were you testing under.  I test under Windows but we added a lot of these fixes because Unix users were having issues:
https://github.com/primefaces/primefaces/issues/5861

[2020-06-25 11:36] melloware commented on #6079
Please review my PR.  The issue was if Facet was not rendered it automatically fell into the `else` clause.  The else clause should only fall through if you are NOT using an element facet.

[2020-06-25 11:36] #3054 closed, assigned to melloware

[2020-06-25 11:53] stolp commented on #6079
This is one of the best documented issues I have seen here in a long while. Just wanted to point that out.

[2020-06-25 11:54] melloware commented on #6079
@stolp Agreed. This makes it so much easier on devs to see the problem and debug it.

[2020-06-25 13:18] german1410 commented on #6079
@melloware I don't think the fix covers the issue. The problem is when the  elements on the facet are rendered depending on the information of the current element. That only applies when 'var' attribute is set. What about putting the element data on the request map before the call to "ComponentUtils.shouldRenderFacet(elementFacet)", with that change, elements inside the facet will have the element

[2020-06-25 13:19] melloware commented on #6079
I see so I didn't realize you posted expected output screenshot.  OK let me look further.

[2020-06-25 13:26] melloware commented on #6079
OK PR updated.  Please review again and now your tester is show "A B C" in my local environment.

[2020-06-25 13:30] mikioma commented on #6079
Thank you very much everyone :) For the comments and the quick fix!!!

I Appreciate it.

[2020-06-25 13:34] melloware commented on #5179
Reproducer for forum post: https://forum.primefaces.org/viewtopic.php?f=3&t=62352

[pf-csp.zip](https://github.com/primefaces/primefaces/files/4831583/pf-csp.zip)

Run `mvn clean jetty:run-exploded` and navigate to http://localhost:8080/primefaces-test/csp.xhtml

[2020-06-25 13:42] #6079 closed, assigned to melloware

[2020-06-25 17:27] melloware opened #6081 "Wizard: NPE guards"
**Describe the defect**
Forum Post: https://forum.primefaces.org/viewtopic.php?f=3&t=62466

**Reproducer**
[pf-wizard.zip](https://github.com/primefaces/primefaces/files/4832886/pf-wizard.zip)

**Environment:**
 - PF Version: _8.0_
 - JSF + version: _ALL_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Run the tester.
2. Click on 'Next' button a couple of times.
3

[2020-06-25 18:54] melloware opened #6083 "Theme: CSS is loaded without version"
**Description**
PrimeFaces theme.css is loaded in `HeadRenderer` but does not append the version so its causing the browser to not refresh the cache on PF updates.

[code]

**Describe the solution you would like**
The version to be appended to the theme.css resource.

[code]

**Additional context**
The bug is in `PrimeResource` only looking for ln=primefaces exactly and not "startsWith" primefaces

[2020-06-25 19:28] maasvdberg opened #6085 "ImageCropper : two render issues"
1. BoxHeight instead of Box**Width** is rendered for max-**width**
2. NPE when no initialCoords is specified

[2020-06-25 19:39] melloware commented on #6085
Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

1. I don't know what you mean as its doing this
[code]

2. I can't reproduce.  I removed `initialCoords ` in Showcase and it works fine.

So again without a reproducer there is not much

[2020-06-25 20:12] melloware commented on #6085
Nice PR I can now see both issues!

[2020-06-25 20:13] #6085 closed, assigned to maasvdberg

[2020-06-25 20:13] #6081 closed, assigned to melloware

[2020-06-26 11:13] melloware commented on #6081
[pf-wizard.zip](https://github.com/primefaces/primefaces/files/4836601/pf-wizard.zip)

[2020-06-26 14:11] SteveIreland opened #6087 "DataScroller: Lazy loading losing track of items loaded"
Running clean version 8.   2nd chunk replaces item association with first chunk. The issue is the exact same issue as #5354 which was closed with a pull request, but I noticed that the changes were reverted by a subsequent change three months later (I think #5612).

As soon as I work through the issues I'm having building my own version of 9.0-SNAPSHOT I'll retest it there, but the code looks unch

[2020-06-26 14:24] melloware commented on #6087
Agreed those look like conflicting changes for two different use cases.  We need a fix that satisfied both use cases.  Are you interested in submitting a PR once you get your environment figured out?

[2020-06-26 14:34] SteveIreland commented on #6087
Sure ... I'll give it a shot, but it might be a week or two.

[2020-06-26 14:35] melloware commented on #6087
No problem.  Appreciate the help.

[2020-06-26 18:08] melloware commented on #6087
This looks related too but not sure if its already fixed or not: https://github.com/primefaces/primefaces/issues/4197

[2020-06-26 19:16] melloware commented on #3101
Closing this ticket.  Can reopen if PR is provided.

[2020-06-26 19:16] #3101 closed, assigned to nobody

[2020-06-26 19:31] melloware commented on #4336
You can do this with a facet easily on the column header:
[code]

[2020-06-26 19:31] #4336 closed, assigned to nobody

[2020-06-27 23:09] mateusscheper commented on #2228
Any news on this? People's been asking for years

[2020-06-29 06:25] blutorange commented on #5776
Both bugs should now be fixed in 5.1.0. It's mostly testing that is left, I'll take a look at it in the next few days.

[2020-06-29 10:09] tandraschko commented on #6030
will close it for now. Please test ;)

[2020-06-29 10:09] #6030 closed, assigned to tandraschko

[2020-06-29 11:31] melloware commented on #5776
Awesome I was going to ping you but I see you are already ahead of it.

[2020-06-29 11:41] #6068 closed, assigned to melloware

[2020-06-29 16:59] melloware commented on #6087
@SteveIreland just realized you were from Wilmington..I am right up the road in Philly. small world.

[2020-06-29 17:54] #324 closed, assigned to melloware

[2020-06-29 17:54] #1892 closed, assigned to melloware

[2020-06-29 17:54] #3240 closed, assigned to melloware

[2020-06-29 17:54] #3732 closed, assigned to melloware

[2020-06-29 19:41] melloware commented on #6077
Have you found anymore out in your investigation?  I don't know if this component can blindly write to a disk location for security purposes so we may end up closing this ticket?

[2020-06-29 21:28] jsocola opened #6091 "JSF1064: Unable to find or serve resource on WildFly"
**Describe the defect**
When we call in localhost work fine, but when we publish on public with SSL on WildFly20 with jsf-impl-2.3.9.SP10 have problems.
**Environment:**
 - PF Version: _8.0_2
 - JSF + version: _e.g. Mojarra 2.3.9
 - Wildfly 20+
 - Affected browsers: _e.g. Chrome, iOS, ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Go to call webpage
2. See error on console

**Expected

[2020-06-30 07:54] GedMarc commented on #6077
I think close it - I need to do quite a bit more checking, and we don't want a lingering item waiting forever xD
The read-only aspect of JImage/JMod's are going to be something I need to check on for sure

[2020-06-30 07:54] #6077 closed, assigned to nobody

[2020-06-30 11:59] melloware commented on #5995
@GedMarc going to close this for now.  We can reopen if you decide to update your PR!

[2020-06-30 11:59] #5995 closed, assigned to GedMarc

[2020-06-30 13:12] GedMarc commented on #5995
100% just seeing if i can sort out a few of the upload/cropper things

[2020-06-30 13:13] GedMarc commented on #5995
may have to wait for jakarta 9

[2020-06-30 19:59] melloware opened #6095 "DatePicker: Not respecting panelStyle/panelStyleClass attributes"
**Describe the defect**
DatePicker is not using these properties at all like the old Calendar did.

**Environment:**
 - PF Version: _8.0_
 - JSF + version: _ALL_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Create a DatePicker with panelStyle and panelStyleClass.
2. Notice they take no effect.

**Expected behavior**
PanelStyle and PanelStyleClass should be appl

[2020-06-30 20:07] melloware commented on #6095
Closing as invalid looks like its i working with 9.0-SNAPSHOT.

[2020-06-30 20:07] #6095 closed, assigned to nobody

[2020-06-30 20:13] #1172 closed, assigned to melloware

[2020-06-30 20:13] #4468 closed, assigned to melloware

[2020-06-30 22:30] SteveIreland commented on #6087
Yes, it is definitely smaller than we expect - hard to maintain social distancing  :-).

After spending the day debugging and testing and trying to determine if it was something that I did or an issue with the control I finally settled in on the fact that the LazyDataModel needs to be replaced by a ScrollableLazyDataModel that allows overriding the getRowData method such that if the requested row

[2020-07-01 11:31] melloware commented on #6087
Well the lazy support is there so people can plug in their own implementations so removing support for that doesn't feel right.

So I feel like if you create a small reproducer using https://github.com/primefaces/primefaces-test we can debug the problem and fix it.

[2020-07-01 12:25] SteveIreland commented on #6087
I gave it a bit more thought while I was in the shower (where I do my best thinking).  The control is using the getRowData for two purposes. The first is to populate the screen with records and that is, of course, working as expected.  Then when I click on an anchor tag on the row and have it coded to pass in the associated row object then it appears to use the getRowData for that purpose too.   T

[2020-07-01 18:10] melloware commented on #105
@tandraschko @Rapster i think with the recent spat of problems both reported and in the forums with the Media player I think we should create two new components `p:audio` and `p:video` that do the equivalent of each HTML5 tag and that way its not 1 component trying to do everything.  The `<audio>` and `<video>` tags have different properties anyway so i doesn't make sense to mix them.

Then the ol

[2020-07-01 18:35] melloware commented on #1177
Closing this ticket as Jquery UI is where the Calendar code comes from so not much PF can fix, i would open a ticket on Jquery UI page..

[2020-07-01 18:35] #1177 closed, assigned to nobody

[2020-07-01 18:40] markusg80 commented on #105
+1

[2020-07-01 19:29] melloware commented on #4296
Closing this as it was rejected before.  I agree with @Rapster reason for this change but it seems PrimeTek didn't want such a large commit.

[2020-07-01 19:29] #4296 closed, assigned to nobody

[2020-07-01 21:29] mossaab0 opened #6098 "Responsive Grid: ui-g-0 ui-md-0 ui-lg-0"
**Description**
Sometimes, I'd like a component (or simply a div) to be shown only on desktop. I'd like it to disappear (at least visually) on mobile, and vice-versa.

Consider [this social login example](https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_login), I'd like to show:

- "**Or sign in manually:**" on mobile only (e.g., through a hypothetical `<div class="ui-g-12 ui-m

[2020-07-02 11:29] melloware commented on #6098
@mossaab0 the grid.css is right here if you would like to suggest a PR..
https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/grid/grid.css

Also PrimeFlex is the newer version of this grid.css you might want to check it out and open a ticket there as well.
See here: https://github.com/primefaces/primeflex

[2020-07-02 12:11] melloware commented on #237
To me the only way to fix this ticket is to not use a CSS selector but walk the children using Jquery. It doesn't seem worth it for this use case as pointed out above using an `h:panelGrid` is overkill for styling this and adds a new `<table>` into the DOM.  The recommendation of using CSS instead of  `h:panelGrid` is a good suggestion and solves this corner case.

[2020-07-02 12:11] #237 closed, assigned to nobody

[2020-07-02 19:13] #6074 closed, assigned to melloware

[2020-07-02 19:35] Markus-Patt opened #6102 "Taglib: Wrong Signatures"
**Describe the defect**
primefaces-p.taglib.xml defines

[code]

The signature of `ComponentTraversalUtils.firstWithId` is
[code]

Since the taglib defines the return value to be a String instead of an UIComponent, the IDE issues a warning.

[2020-07-02 19:38] melloware commented on #6102
Nice catch are you submitting a PR?

[2020-07-02 19:42] #6102 closed, assigned to Markus-Patt

[2020-07-02 19:43] Markus-Patt commented on #6102
Yes, working on it.

btw. IntelliJ warns about some more definitions: ifGranted, ifAllGranted, ifAnyGranted and ifNoneGranted.
They are defined with a return type of "java.lang.Boolean", while it should be "boolean".
Is this intentional? It doesn't seem to be the same "kind of wrong" as firstWithId.

[2020-07-02 19:44] melloware commented on #6102
yeah not sure submit another PR with the changes to boolean if you want.

[2020-07-02 19:45] Markus-Patt commented on #6102
Ok, working on it.

[2020-07-03 10:08] garcia-jj commented on #5794
This change caused a weird behavior. Since attribute _src_ is required by _img_ tag, browser expect this attribute, and if no present, prints a broken image. Take a look on the following screenshot using a spacer with 100% x 15px.

<img width="370" alt="Screen Shot 2020-07-03 at 07 04 23" src="https://user-images.githubusercontent.com/140387/86458404-9290d580-bcfb-11ea-8839-98b980a18c09.png">

So

[2020-07-03 12:31] melloware commented on #5794
Sure thing. I originally had it as Base64 SRC but switched to class to reduce duplication but in my testing I didn't notice any difference using spacer?  I am using Chrome and Firefox.  Can you post your XHTML snippet so I can reproduce?

[2020-07-03 13:24] garcia-jj commented on #5794
Hello @melloware. I ran the following code using both Chrome and Firefox for Mac OS:

[code]
The result is:
<img width="314" alt="Screen Shot 2020-07-03 at 10 18 48" src="https://user-images.githubusercontent.com/140387/86473218-e2c96100-bd16-11ea-8677-582181d8a7bd.png">

I'm using Primefaces built from source (master). As I can see the space works as well if you use the default parameters. If you

[2020-07-03 13:25] melloware commented on #5794
OK let me fix it. I will send you a PR to review.

[2020-07-03 13:33] melloware commented on #5794
OK please review: https://github.com/primefaces/primefaces/pull/6105

[2020-07-03 13:47] melloware commented on #6098
I reported this on PrimeFlex as well: https://github.com/primefaces/primeflex/issues/24

[2020-07-03 18:45] #4546 closed, assigned to melloware

[2020-07-04 00:02] SteveIreland commented on #6087
[LazyDataScrollerSrc.zip](https://github.com/primefaces/primefaces/files/4871883/LazyDataScrollerSrc.zip)

Attached is a primefaces-test compatible example of the issue with running the DataScroller using a LazyDataModel

[2020-07-04 12:52] melloware commented on #6087
Do you have your implementation of ScrollableLazyDataModel that makes it work? I would like to see it.

[2020-07-04 13:46] SteveIreland commented on #6087
Sorry, not yet.  I'm still trying to learn/understand enough of the wiring in PrimeFaces to be able to fabricate a solution.  I was hoping that the issue was that the rowIndexVar associated with the array row was being passed into the getRowData method (that would give me an opportunity to provide a work-around), but it appears based on this exercise that the original rowIndex used to retrieve the

[2020-07-04 14:05] Markus-Patt opened #6108 "Schedule: DefaultScheduleEvent.Builder missing generic return type"
(https://forum.primefaces.org/viewtopic.php?f=3&t=62538)
I experienced a small problem while using the new Builder for org.primefaces.model.DefaultScheduleEvent.
Neither one of the setters not the build()-method uses Builder<T> as it's return type
This leads to the generic infomation being lost after the first call and the IDE issuing a warning.

The builder for org.primefaces.model.timeline.Timel

[2020-07-04 18:00] #6108 closed, assigned to Markus-Patt

[2020-07-05 02:58] garcia-jj opened #6111 "FileDownload: error while use download with HTTPS"
**Describe the defect**
When I tried to download a file using `p:download` component I get the error below. This error occurs only while running the website over HTTPS. Over HTTP the error doesn't occur.

`No enum constant com.sun.faces.context.ExternalContextImpl.ALLOWABLE_COOKIE_PROPERTIES.sameSite: java.lang.IllegalArgumentException: No enum constant com.sun.faces.context.ExternalContextImpl.AL

[2020-07-05 11:34] tandraschko commented on #6111
i think you need to remove sameSite or only add it in MyFaces

[2020-07-05 12:06] melloware commented on #6111
I will investigate if there is a way to make it work more generically for more containers.  I really wish they would have put this in Servlet 4.0!

[2020-07-05 12:23] melloware commented on #6111
Yep the problem is Mojarra here:
https://github.com/eclipse-ee4j/mojarra/blob/8509da68f0d6b48090745228b427b2332767dbea/impl/src/main/java/com/sun/faces/context/ExternalContextImpl.java#L105-L111

I will open a ticket in Mojarra and submit a PR.  @tandraschko Is it OK if I detect MyFaces and leave this sameSite in?

[2020-07-05 12:29] tandraschko commented on #6111
Yep.
We already have a mojarra/myfaces check in the behavior code. I think we can move it to PrimeEnvironment

[2020-07-05 12:34] melloware commented on #6111
Perfect I will take care of it.

[2020-07-05 14:12] melloware commented on #6111
Actually it looks like MyFaces would throw an exception as well?

https://github.com/apache/myfaces/blob/master/impl/src/main/java/org/apache/myfaces/context/servlet/ServletExternalContextImpl.java#L848

[2020-07-05 14:15] melloware commented on #6111
Unfortunately, I think we have no choice but to comment out this cookie setting until Servlet 5.0.

[2020-07-05 14:16] #6111 closed, assigned to melloware

[2020-07-05 18:27] #6098 closed, assigned to melloware

[2020-07-05 18:30] #151 closed, assigned to melloware

[2020-07-05 18:32] #65 closed, assigned to melloware

[2020-07-06 00:11] garcia-jj commented on #6111
Hello @melloware and @tandraschko. Thank you for your quick reply and fix 😍

[2020-07-06 12:06] #156 closed, assigned to melloware

[2020-07-06 13:19] #118 closed, assigned to melloware

[2020-07-06 14:18] #1326 closed, assigned to melloware

[2020-07-06 15:00] melloware commented on #5912
I debugged why.  The method `parseDate` is parsing `27.7.2019` for format `dd.mm.yy` correctly back into `27.07.2019` which is happening in `onUserInput` when the user presses a key.  Normally its expecting an exception if the format is not correct.

I think i will check the length of the format vs value in the `onuserInput` to allow this functionality.

[2020-07-06 16:49] melloware commented on #1437
@rapster you never submitted this PR but you still have an open branch. Still interested in submitting it?

[2020-07-06 17:05] melloware commented on #810
Its this issue: https://github.com/jqPlot/jqPlot/issues/30

[2020-07-06 17:11] melloware commented on #376
See: https://github.com/primefaces/primefaces/pull/6107#issuecomment-654354234

[2020-07-06 17:11] #376 closed, assigned to nobody

[2020-07-06 17:55] melloware commented on #1954
Closing this issue as its tracked in the 3rd party library where the problem originates and we have the new Charts.js based charts which I don't think have this issue.

[2020-07-06 17:55] #1954 closed, assigned to nobody

[2020-07-06 18:03] melloware commented on #3684
@ravihariharan did you ever try this with Charts.js to see if it gives you the output you expect?

[2020-07-06 18:18] #810 closed, assigned to melloware

[2020-07-06 18:21] tarwork opened #6117 "Schedule : resizable attribute not being honored"
**Describe the defect**
The resizable attribute for p:schedule is not being honored in primefaces-8.0.jar

**Reproducer**
use the community download version of PF 8.0 from https://www.primefaces.org/downloads

**Environment:**
 - PF Version: _8.0_
 - JSF + version: Mojarra 2.2.8
 - Affected browsers: Chrome

**To Reproduce**
Steps to reproduce the behavior:

The resizable attribute for p:schedule

[2020-07-06 18:31] melloware commented on #6117
There is no `resize` attribute on schedule only `resizable`?

See: https://primefaces.github.io/primefaces/8_0/#/components/schedule?id=schedule

[2020-07-06 18:33] tarwork commented on #6117
Thank you. original post has been updated. I mean resizable.

[2020-07-06 18:40] melloware commented on #6117
Hmm resisable is being set in the renderer here:
https://github.com/primefaces/primefaces/blob/cd4fbdf1d9d4ae054da19b9a84001d0c34d142eb/src/main/java/org/primefaces/component/schedule/ScheduleRenderer.java#L185

The docs for `eventDurationEditable` are here: https://fullcalendar.io/docs/eventDurationEditable

[2020-07-06 18:49] melloware commented on #6117
@blutorange I think this might also be fixed by your PR: https://github.com/primefaces/primefaces/pull/6107

I just tested this against 8.0 and currently resizable="false" or "true" has no effect and the events are not resizable.

[2020-07-06 18:50] tarwork commented on #6117
it does look like if I set each event to not be editable with this : setEditable(false) before I put each event in the EventModel then yes the resize is disabled. However, the draggable is also disabled. Unfortunately I need draggable for my user requirements otherwise that could have been a short-term work around.

thank you for confirming.

[2020-07-06 22:37] blutorange commented on #6117
@melloware Yeah, that's exactly what I fixed. No matter what was set on the schedule, it was always overwritten by the individual events (editable=true/false). Now it defaults to null, which doesn't overwrite the default.

@tarwork You can still work around this: Use DefaultScheduleEvent#dynamicProperty (https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/model/Defaul

[2020-07-06 23:34] melloware commented on #6117
Perfect I will link your PR to this ticket as well.

[2020-07-07 09:22] tandraschko opened #6118 "ExceptionHandler: allow EL in web.xml configured errorpages"
**Description**
A ErrorPage is defined like:
[code]
This is a exception which is only handled by JSF and therefore a EL could be usefull in some cases:

**Describe the solution you would like**
[code]

NOTE: this will only work for exceptions which are handled by a JSF request!

**Additional context**
Add any other context or screenshots about the feature request here.

**Example XHTML**
[code]

*

[2020-07-07 11:30] #6118 closed, assigned to tandraschko

[2020-07-07 12:05] tandraschko opened #6119 "Calendar/DatePicker: this.input.inputmask is not a function"
just upgraded my applications to current SNAPSHOT and i get:

this.input.inputmask is not a function

it happens in the Calendar widget.

@melloware AFAIR you changed something here?

[2020-07-07 12:07] melloware commented on #6119
Yep I did but I tested it all with the Showcase?  The Calendar and DatePicker now include `@ResourceDependency(library = "primefaces", name = "inputmask/inputmask.js")`

InputMask has been separated into its own JS it used to be part of jquery Plugins but its too big and should be its own component.

[2020-07-07 12:14] melloware commented on #6119
I am running the Showcase locally and DatePicker and Calendar are both working fine for me with no console errors?

[2020-07-07 12:27] tandraschko commented on #6119
Yep, i see
i inherit the component class...
Still another error: formatCode[(match[0][0] + "x")] is undefined

my mask is 99.99.99?99 / 99.99.99[99]

[2020-07-07 12:28] melloware opened #6120 "LocaleUtils: Calculate ISO 639-1 language for html tag"
**Description**
For SEO and some components like JQPlot its necessary that the `<html lang="en">` element reflect the language being used in the application.

**Describe the solution you would like**
Add a new EL function that returns the current Locale as a ISO 639-1 Language Code.
See: https://www.w3schools.com/tags/ref_language_codes.asp

So "pt_BR" Locale would return "pt" ISO 639-1 Language c

[2020-07-07 12:36] melloware commented on #6119
Yep I updated the WIKI: https://github.com/primefaces/primefaces/wiki/Migration-Guide#80-to-90

_InputMask Optional section of mask no longer starts with ? but must be wrapped in [ and ]._

The new InputMask does it correctly instead of ? it uses [ and ] which in turn also fixes this issue: https://github.com/primefaces/primefaces/issues/1892

The new InputMask fixed 4 old bugs with the old InputM

[2020-07-07 12:37] tandraschko commented on #6119
yeah, i switched to 99.99.99[99] but the error occurs.
Can you try my case?

[2020-07-07 13:09] melloware commented on #6119
Sure let me test.  What is your calendar pattern="" ?

[2020-07-07 13:13] tandraschko commented on #6119
pattern="dd.MM.yyyy"

locale de

[2020-07-07 13:13] melloware commented on #6119
perfect thanks will debug.

[2020-07-07 13:46] #6119 closed, assigned to melloware

[2020-07-07 13:47] melloware commented on #6119
OK I fixed it can you pull and try again?

Basically the new InputMask has alias for DateTime so it will take a mask like 'mm.dd.yyyy" if you say `mask='true'` but I didn't realize the mask can also be `mask='99.99.9999'` so the InputMask has different config for that.

[2020-07-07 15:19] melloware opened #6123 "Perf: MoveScriptsToBottom"
**Description**
Currently MoveScriptsToBottom uses string concatenation and `String.replace` function calls to shrink the output script.  However each of these replace calls results in String concat and garbarge collection.

**Describe the solution you would like**
Perform the multiple replaces without String concat and garbage collection by using an efficient method using a String Builder and the

[2020-07-07 15:31] tandraschko commented on #6123
please post some numbers before/after

[2020-07-07 15:33] #6120 closed, assigned to melloware

[2020-07-07 15:40] melloware commented on #6123
Will do!

[2020-07-07 16:45] tandraschko commented on #6111
@melloware i also get a warning in firefox with trunk (now):

Das Cookie “pf.initialredirect-c3e0f” wird in Zukunft bald abgelehnt werden, da es für das Attribut "sameSite" entweder "none" oder einen ungültigen Wert angibt, ohne das "secure"-Attribut zu verwenden. Weitere Informationen zum "sameSite"-Attribut finden Sie unter https://developer.mozilla.org/docs/Web/HTTP/Headers/Set-Cookie/SameSite

[2020-07-07 16:47] tandraschko opened #6125 "DatePicker: overlay duplicated sometimes"

[2020-07-07 16:48] melloware commented on #6111
Yep I am on it.

[2020-07-07 16:54] melloware commented on #6111
Yep this is the standard warning that all browsers have begun doing which is why SameSite in Servlet 5.0 is so important.

_The cookie “pf.initialredirect-c3e0f” will soon be rejected, since it says either “none” or an invalid value for the “sameSite” attribute without using the “secure” attribute. For more information on the "sameSite" attribute,_

Because we have `secure=true`  to support this t

[2020-07-07 16:56] #6125 closed, assigned to tandraschko

[2020-07-07 17:19] melloware commented on #6123
OK so I have before and after numbers using 2 showcase pages the Datatable Scroll example and the DatePicker page since that has a lot of components on it.

**BEFORE:**
DatePickerExecution time nanoseconds : 707600
DataTable Scroll Execution time nanoseconds : 179800

**AFTER:**
DatePicker Execution time in nanoseconds : 477400 (32% improvement)
DataTable Scroll Execution time in nanoseconds : 125

[2020-07-07 17:49] tandraschko commented on #6123
please do at least something like: https://gist.github.com/tandraschko/4abf2416cca6c19dd024e39e7033a47c (NOTE: the warmup is important)

you cant really measure such changes via JSF requests

[2020-07-07 17:51] tandraschko commented on #6123
i dont think generated objects are really important here (compared to speed performance), its only once per request

[2020-07-07 18:09] melloware commented on #6123
You are right the performance is negligible when using the new function.
[code]

**Before:**
Minimize Script 1 = 2793ms
Minimize Script 2 = 1436ms
Minimize Script 3 = 1547ms

**After:**
Minimize Script 1 = 2615ms
Minimize Script 2 = 1381ms
Minimize Script 3 = 1486ms

[2020-07-07 18:15] tandraschko commented on #6123
please do at lest like 1000 warmups before measure and measure at least 100 times (accumulated)

[2020-07-07 18:32] melloware commented on #6123
OK I think I did this right by adding 100 warmup runs and the numbers look much different.

[code]
**Before:**
Minimize Script 1 = 739ms
Minimize Script 2 = 739ms
Minimize Script 3 = 1183ms

**After:**
Minimize Script 1 = 535ms
Minimize Script 2 = 580ms
Minimize Script 3 = 534ms

[2020-07-07 18:39] tandraschko commented on #6123
Please do 100 runs instead of 3 and compare the whole result

[2020-07-07 18:52] melloware commented on #6123
OK 100 runs of each with AVG calculated at the bottom:
**Before:**
Minimize Script 0 = 2824ms
Minimize Script 1 = 1400ms
Minimize Script 2 = 1482ms
Minimize Script 3 = 1206ms
Minimize Script 4 = 672ms
Minimize Script 5 = 1524ms
Minimize Script 6 = 650ms
Minimize Script 7 = 660ms
Minimize Script 8 = 615ms
Minimize Script 9 = 604ms
Minimize Script 10 = 631ms
Minimize Script 11 = 625ms
Minimize Scrip

[2020-07-07 18:56] tandraschko commented on #6123
ok
a bit unsure.... you measure 1000000 inline scripts
i think 10-200 are realistic, so the improvement is like 0.01ms when rendering a view

[2020-07-07 19:01] melloware commented on #6123
Yep I am sold...

[2020-07-07 19:01] #6123 closed, assigned to melloware

[2020-07-07 19:04] tandraschko commented on #6123
did you test with java8?
https://stackoverflow.com/questions/16228992/commons-lang-stringutils-replace-performance-vs-string-replace

java13 should even be faster as commons
java9 equals to commons
java8 only is slower

[2020-07-07 19:07] melloware commented on #6123
Yep all my tests were with 8 so yeah I can live with closing this.

[2020-07-07 19:08] tandraschko commented on #6123
If it would be called X times each request, i would be ok by merging it but.... :)

[2020-07-07 19:12] melloware commented on #6123
No worries this test has satisfied me that with 1000's of users this is not worth changing the code and when we move to Java 13 it really would not be worth it.

[2020-07-07 20:52] tuerker opened #6126 "Schedule: Slots starting at a shifted time"
**Description**
If i have not overlooked something, the following modeling is not supported by the current schedule component:

Non-overlapping 12 h slots starting a given time, e.g., at 08:00 and 20:00.

In this case, the daily schedule should have two slots as follows:

08:00 ...
20:00 ...

The current implementation supports the following only:

00:00 ...
12:00 ...

when slotDuration="12:00" is

[2020-07-07 21:20] melloware commented on #6126
@blutorange can you confirm?

[2020-07-07 21:42] GedMarc commented on #6111
Hmm cookie is just a string though, you can append  ;SameSite=true to the cookie

[code]

[2020-07-08 09:23] KarimSI opened #6127 "PF 8 DatePicker: mindate,maxdate with selectionMode=range and i18n"
I have a problem with datePicker (rang minDate maxDate) and i18n (French-LFT- and Arabic – RTF-) don't work correctly.
for example in managed bean with : minDate="08/07/2020" and maxDate="11/08/2020" is show correctly in French page
but in arabic page become minDate="08/06/2020" and maxDate="11/05
![dateitre](https://user-images.githubusercontent.com/68004217/86901740-ee48cd80-c104-11ea-8fd4-047b2

[2020-07-08 11:26] melloware commented on #6111
Well not sure how to handle that but right now we are use FacesContext ExternalContent adddResponseCookie which delegates to Servlet Cookie.

https://github.com/primefaces/primefaces/blob/e375ec467e83933288b14ddbbb428e48ef6a102b/src/main/java/org/primefaces/util/ResourceUtils.java#L71-L84

And `Cookie` only allows setting these properties as of Servlet 4.0.
https://javaee.github.io/javaee-spec/jav

[2020-07-08 11:26] KarimSI commented on #6127
Sorry, the problem is in  Arabic.js file

[2020-07-08 11:26] #6127 closed, assigned to nobody

[2020-07-08 11:33] melloware commented on #6127
@KarimSI would you be willing to update the Arabic locale here???
https://github.com/primefaces/primefaces/wiki/Locales#arabic

Use can use American English as the example that contains all the values that need to be translated?
See: https://github.com/primefaces/primefaces/wiki/Locales#american-english

[2020-07-08 11:40] melloware commented on #6126
@tuerker Can you post your XHTML snippet of your Schedule please so we can see your configuration?

[2020-07-08 11:45] tuerker commented on #6126
here is it.

        <p:schedule id="schedule"
                    value="#{instrumentReservationManager.lazyEventModel}"
                    initialDate="#{instrumentReservationManager.initialDate}"
                    showWeekends="#{instrumentReservation.instrumentReservationSetting.weekendAllowed}"
                    minTime="#{instrumentReservation.instrumentReservationSetting.minTimeFormat}

[2020-07-08 11:56] melloware commented on #6126
Actually according to the v4 docs it should be `minTime` and `maxTime`?  What do you have minTime and maxTime set to? "08:00:00" and "20:00:00"??

[2020-07-08 12:01] #1597 closed, assigned to melloware

[2020-07-08 12:29] melloware commented on #6126
Here is what mine looks like with...
[code]

![image](https://user-images.githubusercontent.com/4399574/86918706-0dd7fa00-c0f5-11ea-9c78-917d413256d2.png)

[2020-07-08 13:45] tuerker commented on #6126
The minTime and maxTime attributes are needed to restrict the daily available time. In your example you have restricted the schedule to events between 8:00 in the morning and 20:00 in the evening.

My use case is orthogonal to that. I primarily do not want to restrict the daily available time but i want to state that slots can only start at certain times, e.g. at 08:00 and 20:00 in case of slotDur

[2020-07-08 13:47] melloware commented on #6126
Feel free to submit a PR as this looks like this functionality is not native to FullCalendar as far as I can tell.  Or possibly even report it on the FullCalendar issues page.

https://github.com/fullcalendar/fullcalendar/issues

[2020-07-08 13:51] melloware commented on #6126
Not sure if this is what you are looking for: https://github.com/fullcalendar/fullcalendar/issues/5224

[2020-07-08 13:55] tuerker commented on #6126
What about the scrollTime?

https://fullcalendar.io/docs/scrollTime

Could this be a solution.

I tried to apply the counterpart in p:schedule but there was no effect at all. Can you please verify whether the attribute scrollTime is really working on p:schedule.

[2020-07-08 13:56] tuerker commented on #6126
this is yet another issue i would love to have, too.

[2020-07-08 13:57] tuerker commented on #6126
some while ago, i created already an issue which goes into that direction:

https://github.com/primefaces/primefaces/issues/5551

[2020-07-08 14:03] melloware commented on #6126
Well that is for DatePicker not for FullCalendar so not really related.  You should go upvote the https://github.com/fullcalendar/fullcalendar/issues/5224 issue if you want it.

And `scrollTime` is implemented in PF8.0 and defaults to `06:00:00`...
[code]

[2020-07-08 14:10] tuerker commented on #6126
The scrollTime had no effect in my example below. Therefore, i was asking whether it really works.

<p:schedule id="schedule"
                    value="#{instrumentReservationManager.lazyEventModel}"
                    initialDate="#{instrumentReservationManager.initialDate}"
                    showWeekends="#{instrumentReservation.instrumentReservationSetting.weekendAllowed}"

[2020-07-08 14:12] melloware commented on #6126
And I am answering you YES its implemented but whether its a bug in FullCalendar or not I don't know.  See the open `scrollTime` issues and closed ones since 4.3.
Open: https://github.com/fullcalendar/fullcalendar/issues?q=is%3Aissue+is%3Aopen+scrolltime
Closed: https://github.com/fullcalendar/fullcalendar/issues?q=is%3Aissue+scrolltime+is%3Aclosed

[2020-07-08 14:19] tuerker commented on #6126
Many thanks for all your support. I will dig into that issue deeper.

[2020-07-08 14:21] melloware commented on #6126
For now I am marking this ticket as "third party" as its seems like we need some new FullCalendar features so there is nothing to fix in PF for your original issue.   I am happy to reopen if you decide to fix it with a quality PR or if FullCalendar ever implements your features.

[2020-07-08 14:21] #6126 closed, assigned to nobody

[2020-07-08 17:03] melloware commented on #2434
Reproducer:
[pf-2434.zip](https://github.com/primefaces/primefaces/files/4892152/pf-2434.zip)

Screenshot after PR:
![image](https://user-images.githubusercontent.com/4399574/86949638-f44aa880-c11c-11ea-8ac2-ca6437edf4f6.png)

[2020-07-08 17:30] melloware commented on #1980
Using the latest SeleniumIDE Recorder this is no longer the case.  Now when you click this it records only one click..
[code]
![image](https://user-images.githubusercontent.com/4399574/86951161-21985600-c11f-11ea-976e-75e5d21116f9.png)

[2020-07-08 17:30] #1980 closed, assigned to nobody

[2020-07-08 17:53] erickdeoliveiraleal opened #6129 "Calendar: bug if mask defined"
**Describe the defect**
inputmask.js.faces?ln=primefaces&v=9.0-SNAPSHOT:8 Uncaught TypeError: Cannot read property 'slice' of undefined in console

**Reproducer**
https://github.com/erickdeoliveiraleal/primefaces-test

**Environment:**
 - PF Version: master
 - JSF + version: _e.g. Mojarra 2.2.20
 - Affected browsers: _e.g. Chrome, iOS, ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Run

[2020-07-08 18:14] #6129 closed, assigned to melloware

[2020-07-08 18:15] melloware commented on #6129
Thanks its fixed if you want to try 9.0-SNAPSHOT again.   It was just the order of scripts.

[2020-07-08 18:32] erickdeoliveiraleal commented on #6129
thanks

[2020-07-08 22:13] tuerker commented on #6126
Since June 21, 2020 the fullcalendar library is out in Version 5.1.0. PF 9.0 currently relies on 4.3.1. It would be great if somebody could upgrade PF 9.0 to fullcalendar Version 5.1.0, which actually provides a number of new attributes including slotMinTime and slotMaxTime, which would by the way solve my feature request.

[2020-07-08 22:45] melloware commented on #6126
It’s already done if you look at the PRs it’s been upgraded to 5.1.0

[2020-07-08 22:47] tuerker commented on #6126
Great. After having a deeper look into fullcalendar v5, it looks like that slotMinTime and slotMaxTime are just the current minTime and maxTime attributes. So this will not solve my feature request.

[2020-07-09 08:23] OBreidenbach opened #6132 "DataTable: rows attribute get overriden with default value"
**Describe the defect**
We have a composite component around a dataTable. So we can define a lot of defaults. After the upgrade from PrimeFaces 7.0 to 8.0 the change of rows to show does not work correctly. That is because of changes introduced with #4931 and #5527 which writes the new value to the value expression instead of writing into the attribute of the table.
Most likely this bug also exist

[2020-07-09 10:54] tuerker commented on #6117
@blutorange: the attributes draggable and scrollTime have the same problem. would be great if these issues are fixed, too. many thanks.

[2020-07-09 10:58] tuerker commented on #6117
Same for the attribute displayEventEnd.

[2020-07-09 11:28] melloware commented on #6132
@OBreidenbach Only when inside a composite component but the same thing works outside of a composite?

[2020-07-09 12:15] melloware commented on #5179
Reproducer for forum post: https://forum.primefaces.org/posting.php?mode=reply&f=3&t=62609

[pf-csp.zip](https://github.com/primefaces/primefaces/files/4896655/pf-csp.zip)

Run `mvn clean jetty:run-exploded` and navigate to http://localhost:8080/primefaces-test/radiocheck.xhtml

[2020-07-09 12:35] OBreidenbach commented on #6132
It works fine outside of a composite.

[2020-07-09 15:42] albertruizro opened #6133 "InputNumber: Symbol encoding issue once passed to version 8"
**Describe the defect**
We have upgrade Primefaces from 6.2.3 to 8.0.2. We set Euro (€) symbol for inputNumber, but the Unicode value is shown instead.

**Environment:**
 - PF Version: 8.0.2
 - JSF + version: MyFaces 2.0.3
 - Affected browsers: All

**To Reproduce**
Steps to reproduce the behavior:
Java:
[code]

xhtml:
`symbol=" #{purchaseinvoiceheader_man.currencySymbol}"`

Content of inputNumber

[2020-07-09 15:49] melloware commented on #6133
I just tried this
`symbol="€"` and it works fine.

So you are saying it worked when you were on 6.2 doing `symbol=" #{purchaseinvoiceheader_man.currencySymbol}"`??

Did you also change servers or anything else when upgrading to 8.0?

[2020-07-09 16:14] albertruizro commented on #6133
I just tried this
symbol="€" and it works fine.

So you are saying it worked when you were on 6.2 doing symbol=" #{purchaseinvoiceheader_man.currencySymbol}"??

  *   It seems the problem is when rendering € from Java. If you uses a converter with the outputLabel, it run in a right way.

Did you also change servers or anything else when upgrading to 8.0?

--> No; same server configuration, charset

[2020-07-09 16:29] melloware commented on #6133
OK let me try that

[2020-07-09 16:41] melloware commented on #6133
I can't reproduce.

Reproducer: [pf-6133.zip](https://github.com/primefaces/primefaces/files/4898169/pf-6133.zip)

Run `mvn clean jetty:run-exploded` and navigate to http://localhost:8080/primefaces-test/test.xhtml

![image](https://user-images.githubusercontent.com/4399574/87066966-62f13a00-c1e1-11ea-945f-0f3403de825a.png)

[2020-07-09 16:56] albertruizro commented on #6133
Hi,

It seems the problem was related to the xml encoding.

Once I changed the first line of the xhtml:
<?xml version="1.0" encoding="ISO-8859-1"?>

With the line:

<?xml version="1.0" encoding="UTF-8"?>

The symbol was shown right, but I have problems when using accents (we are in Spain).

I’ve added a WebFilter to manage UTF-8:

https://stackoverflow.com/questions/16939314/jsf-using-utf-8-not-wo

[2020-07-09 16:59] #6133 closed, assigned to nobody

[2020-07-09 17:03] albertruizro commented on #6133
Thanks very much for help and fast response!!!!

[2020-07-09 17:46] blutorange commented on #6117
* `scrollTime` What do you mean? This is a global attribute only and can not be set for individual events. I just tried with PF9 Snapshot and my PR, and there at least it works. Keep in mind though that `scrollTime` only set the initial scrolling position of the calendar view - users can still scroll up.
* `draggable` is what I fixed when I updated full calendar to 5.1.0
* `displayEventEnd`: With

[2020-07-09 19:18] melloware commented on #715
I can't tell if this is still an issue or not. @dmaidaniuk can you confirm?

[2020-07-09 19:24] melloware commented on #1719
I agree with @Rapster  To me this is a focusable UI button and therefore must get tab press.  Fixing it to me would break 508 accessibility for visually impaired users.

[2020-07-09 19:24] #1719 closed, assigned to nobody

[2020-07-10 07:01] tuerker commented on #6117
@blutorange: Thanks for your work. I will be happy to checkout your fixed version.

[2020-07-10 10:01] GabrieleFrau commented on #5849
Will you backport it to Primefaces 8.0.3?

[2020-07-10 11:01] melloware commented on #5849
I have requested from PrimeTek that this be added to 8.0.3.

[2020-07-10 11:05] melloware commented on #6132
You are right previously it evaluated rows once and then stored the value.  Now if its an EL expression like `rows="#{cc.attrs.myrows}"` is re-evaluating the EL expression everytime.  Not sure how to fix this since the EL re-evaluation was added to fix the bugs you mentioned above.

[2020-07-10 11:18] melloware commented on #74
See comment: https://github.com/primefaces/primefaces/pull/6107#issuecomment-654365079

[2020-07-10 11:21] #74 closed, assigned to nobody

[2020-07-10 11:21] #5776 closed, assigned to blutorange

[2020-07-10 11:21] #6117 closed, assigned to blutorange

[2020-07-10 11:22] melloware commented on #6117
@tuerker You can try it right now by using...
[code]

[2020-07-10 13:06] fabermundi opened #6135 "DataTable: First value disappear if all values in single page"
**Describe the defect**
I created a list of values to be shown in a datatable with paginator and select to show all values the first value disappears.

**Environment:**
 - PF Version: 8.0
 - JSF + version: Wildfly 19.1.0.Final
 - Affected browsers: Chrome, Firefox, Edge

**To Reproduce**
Select "All" from paginator

**Expected behavior**
All values should be shown

**Example XHTML**
[code]

**Exam

[2020-07-10 13:29] melloware commented on #6135
Reproducer:
[pf-6135.zip](https://github.com/primefaces/primefaces/files/4903332/pf-6135.zip)

Verified its still happening in 9.0-SNAPSHOT

[2020-07-10 13:36] melloware commented on #6135
If you need to fix this right now just add this JS to your application:
[code]

[2020-07-10 13:49] #6135 closed, assigned to melloware

[2020-07-10 14:00] melloware commented on #4197
I don't think this is possible to fix.  Its because of `lazy=true` the items are not in the DOM yet for all items so when calling `update=@(.myClass)` the Search expression is not finding the components and does when `lazy=false` because they are in the DOM.  So for this use case I don't think you can use the class style update and will have to use something else.

[2020-07-10 14:00] #4197 closed, assigned to nobody

[2020-07-10 14:34] #340 closed, assigned to nobody

[2020-07-10 17:38] ngriffin7a opened #6138 "Calendar: An error appears in the JS console when an invalid date is entered into a p:calendar textbox"
**Describe the defect**

An error appears in the JS console when an invalid date is entered into a p:calendar textbox.

This is a regression in PrimeFaces 8.0 -- it does not happen with PrimeFaces 7.0.

**Reproducer**
- Build the attached project and deploy the war to tomcat/webapps

**Environment:**
 - PF Version: 8.0
 - JSF + version: Mojarra 2.2.20
 - Affected browsers: ALL

**To Reproduce**
-

[2020-07-10 17:48] ngriffin7a commented on #6138
[calendar-issue.zip](https://github.com/primefaces/primefaces/files/4904615/calendar-issue.zip)

[2020-07-10 17:52] melloware commented on #6138
Your problem is this is an invalid EL expression
[code]

Change to:
[code]
... and it works fine

[2020-07-10 18:01] ngriffin7a commented on #6138
@melloware I corrected my EL expression after my original submission, but before your comment. I also uploaded a corrected reproducer. I kindly ask that you re-open this issue. Thank you.

[2020-07-10 18:06] melloware commented on #6138
Reproducer:
[pf-6138.zip](https://github.com/primefaces/primefaces/files/4904673/pf-6138.zip)

I can't reproduce run `mvn clean jetty:run-exploded` and navigate to http://localhost:8080/primefaces-test/test.xhtml your example works fine?

[2020-07-10 18:08] melloware commented on #6138
Ahh nevermind I see it.

[2020-07-10 18:11] melloware commented on #6138
Its failing the server side check for a valid date....
![image](https://user-images.githubusercontent.com/4399574/87185092-27c13a80-c2b7-11ea-9b4f-fa4be48b16e4.png)

But when it goes to build the JS the date is invalid so the component breaks.

[2020-07-10 18:20] melloware commented on #6138
OK I verified its already fixed in 9.0. Try this reproducer which is set for GitHub Mastr snapshot.
[pf-6138.zip](https://github.com/primefaces/primefaces/files/4904732/pf-6138.zip)

[2020-07-10 18:24] melloware commented on #6138
Confirmed its also Fixed in Elite 8.0.2 with this issue: https://github.com/primefaces/primefaces/issues/5923

[2020-07-10 18:24] #6138 closed, assigned to nobody

[2020-07-10 18:35] ngriffin7a commented on #6138
@melloware Thanks so much for confirming that it's fixed in Elite 8.0.2 and 9.0. Is there a tentative release schedule for 9.0?

[2020-07-10 18:36] melloware commented on #6138
Well i don't work for PrimeTek but base on the last 3 releases they are about once a year.  8.0 was released in March so I would guess 9.0 sometime early 2021 if their pattern holds...

[2020-07-11 12:05] garcia-jj opened #6140 "SelectOneMenu: add support to use icons"
**Description**
At this time we are allowed to use icons at SelectOneMenu, but only when the options are expanded. We can see an example in the showcase: https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml. My suggestion is to improve the component to allow us to add only an icon like InputGroup component is.

**Additional context**
Below a screenshot with my proposal. On the right side is

[2020-07-11 21:00] brooksie opened #6142 "InputNumber: valueChange event not fired if CSP context-param is set"
When using p:inputNumber, the p:ajax default (valueChange) event does not fire on change of value when the CSP context-param is set... unless the MOVE_SCRIPTS_TO_BOTTOM context-param is _also_ set, in which case it works normally.

**Reproducer**
See attached. Ths sampe code is based on the InputNumber showcase example.
[tester_inputNumber_src.zip](https://github.com/primefaces/primefaces/files/49

[2020-07-12 01:27] melloware commented on #6142
Thanks for the reproducer. I will look into it!

[2020-07-12 11:32] melloware commented on #6140
Not sure how i feel about this one.   And InputGroup is not meeting your need?

[2020-07-12 17:49] stolp commented on #6140
I also have been missing icon support for selectOneMenu in the past. As a workaround I use a menuButton instead, but results are visually not fully convincing as seen in below example (Unable to place an icon in the displayed text, unable to give icons a color). The icon on the left side has been placed there as a seperate entity. I skipped selectOneMenu completely mostly for aesthetic reasons.

!

[2020-07-12 19:32] melloware commented on #6142
OK can you add this JS to your application and run it and see if it fixes your issue.
[code]

[2020-07-12 19:38] melloware commented on #6140
We can't do Option 1. listed above because then SelectOne does not follow the same as `h:selectOnemenu` and the whole point of the PF SelectOneMenu was to provide a)theming of SelectOne which browser native does not allow and b) customization of the values.  So I don't think we can get away from using `f:selectItem(s)` as the data layer.
See: https://www.tutorialspoint.com/jsf/jsf_selectonemenu_ta

[2020-07-12 20:10] stolp commented on #6140
You are right, I forgot about that.

[2020-07-12 20:35] tandraschko commented on #6140
We could option 1) but its a bit more work :P
it should be possible to provide an own p:selectItem/s tag and a inherited model.

[2020-07-13 06:30] OBreidenbach commented on #6132
In my humble opinion #4931 was not a bug, it is the false usage of the component. The problem could be solved different.

1. It is the pagers job to change the first or rows attribute. So the pager should be used. If @matinh want's to use a spinner, instead the drop down of the pager may be the pager should be more configurable.
2. If i want to set the component attributes I would just do so. Eith

[2020-07-13 09:26] garcia-jj commented on #6140
Hello @melloware. Thank you for you time on this.

The InputGroup is not possible here because it is static. What I need is like an InputGroup, but dynamic. This is the reason because I choose SelectOneMenu.

In my case, I have a contact form, and the user needs to set their contact type (if e-mail, cellphone, home phone or work phone). At this time I have this component:

<img width="392" alt="Sc

[2020-07-13 10:40] jepsar opened #6144 "AutoComplete (dropdown="true") has different styling compared to SelectOneMenu"
You can see the difference in the showcase:

* https://www.primefaces.org/showcase/ui/input/autoComplete.xhtml
* https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml

It would be nice if there could be consistent styling of the components, and that the `AutoComplete` with dropdown looks the same as the `SelectOneMenu`.

[2020-07-13 10:57] dmaidaniuk commented on #715
Yes, issue closed.

[2020-07-13 10:57] #715 closed, assigned to nobody

[2020-07-13 11:29] melloware commented on #6132
I would like @tandraschko and @Rapster to weigh in too please.

[2020-07-13 11:30] melloware commented on #6144
@jepsar do you have a proposed fix?

[2020-07-13 11:36] melloware commented on #6140
@garcia-jj I understand what you want.

[2020-07-13 11:37] jepsar commented on #6144
@melloware I haven't looked into it yet, but I was going to. I'm hoping it can be fixed with some CSS.

[2020-07-13 11:38] brooksie opened #6145 "InputNumber: unable to clear value from field when using min/max range both > 0"
**Describe the defect**
There appear to be two related issues:
(i) it is not possible to delete a value again from an inputNumber field where the min/val values are set to be wholly positive and does not include zero - e.g. minValue 1, maxValue 100 - The field is an option, and is not a required value. The problem is the same whether the emptyValue attribute is absent, or when it is set to "null".

[2020-07-13 11:41] #92 closed, assigned to melloware

[2020-07-13 12:01] melloware commented on #6145
@brooksie InputNumber uses a component called AutoNumeric under the covers.  Please see this long thread on why `minValue>0` causes this issue: https://github.com/autoNumeric/autoNumeric/issues/543

Here is the warning in the docs:
http://autonumeric.org/guide#minimumValue

_Warning: If minimumValue is superior to 0, then you'll effectively prevent your users to entirely delete the content of thei

[2020-07-13 12:01] #6145 closed, assigned to nobody

[2020-07-13 12:03] #5638 closed, assigned to melloware

[2020-07-13 12:17] jepsar commented on #6144
CSS will get you to some point.. but you will be left with the dropdown not opening when you click the input, and the CSS changes must be applied on all the themes. It's probably better to change the rendered HTML to get it as close as possible to the `SelectOneMenu` and add a click listener (maybe as an optional attribute).

[2020-07-13 12:20] brooksie commented on #6142
I just added <script>... </script> to the body of the affected web page and got:
Error Parsing /index.xhtml: Error Traced[line: 167] The entity name must immediately follow the '&' in the entity reference.
PS. Javscript is definitely not my strong point. Sorry.
    On Sunday, 12 July 2020, 20:32:58 BST, Melloware <notifications@github.com> wrote:

OK can you add this JS to your application and run

[2020-07-13 12:21] melloware commented on #6142
You can't add it to the page because of XHTML and ampersand & in JS.  Add to a JS file.

Attached is example adding `test.js` to the page with this fix:
[pf-6142.zip](https://github.com/primefaces/primefaces/files/4912348/pf-6142.zip)

[2020-07-13 12:41] OBreidenbach commented on #6132
May be the client side api would help to change the rowsPerPage from outside the paginator:
dataTableWidget.getPaginator().setRowsPerPage()

[2020-07-13 12:44] #5912 closed, assigned to christophs78

[2020-07-13 12:55] melloware commented on #6132
Want to give it s shot and see?

[2020-07-13 15:58] brooksie commented on #6142
Hi,

Yes, that seems to work fine.
Thanks.

    On Monday, 13 July 2020, 13:21:52 BST, Melloware <notifications@github.com> wrote:

You can't add it to the page because of XHTML and ampersand & in JS. Add to a JS file.

Attached is example adding test.js to the page with this fix:
pf-6142.zip

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub

[2020-07-13 18:01] #3060 closed, assigned to melloware

[2020-07-13 18:37] melloware commented on #3536
duplicate of https://github.com/primefaces/primefaces/issues/3355

[2020-07-13 18:38] #3536 closed, assigned to nobody

[2020-07-13 19:15] melloware commented on #4631
Looks like this Jquery bug is the culprit: https://github.com/jquery/jquery/issues/4113

Marking this as "thirdparty" and hopefully it will be fixed in Jquery 4.0.

[2020-07-13 19:15] #4631 closed, assigned to nobody

[2020-07-14 05:52] OBreidenbach commented on #6132
If I were @matinh I had solved the problem the following way:
https://github.com/OBreidenbach/primefaces-test/tree/dataGrid

[code]

[2020-07-14 06:20] OBreidenbach commented on #6132
Or by using client side api:
[code]

[2020-07-14 11:35] melloware commented on #4931
@matinh Apprently this fix has caused issues for others and they want to revert your changes.  See #6132

[2020-07-14 13:18] melloware commented on #5447
OK Integration Test project has been created and we welcome contributors to start adding test cases!

https://github.com/primefaces-extensions/primefaces-integration-tests

`mvn clean package -DskipTests`
`mvn test`

[2020-07-14 13:18] #5447 closed, assigned to nobody

[2020-07-14 16:02] matinh commented on #6132
Hi!

In preparation to fix #4931 @tandraschko wanted me to analyze what actually happened (https://github.com/primefaces/primefaces/pull/4937#issuecomment-505469850). I did this and concluded in https://github.com/primefaces/primefaces/issues/4931#issuecomment-505859004:

@melloware than created a new pull-request and @tandraschko merged it. So I thought, the changes originally suggested by @Rapst

[2020-07-14 18:13] melloware commented on #6142
Here is the final proper method for CSP and non CSP usage.
[code]

[2020-07-14 19:03] #489 closed, assigned to nobody

[2020-07-14 19:12] melloware commented on #2726
This was fixed in 7.0.10 and 8.0 with this fix: https://github.com/primefaces/primefaces/issues/5211

Particularly calculateColSpan ignoring hidden columns
[code]

[2020-07-14 19:12] #2726 closed, assigned to nobody

[2020-07-14 19:17] melloware commented on #2937
This was fixed with #5211 calculating colspan correctly to include hidden columns.

[2020-07-14 19:17] #2937 closed, assigned to nobody

[2020-07-14 19:18] #3646 closed, assigned to nobody

[2020-07-14 19:24] melloware commented on #4774
@NOTiFYcouk I just tried this with PF 8.0 and can't reproduce it.  Closing for now.

[2020-07-14 19:24] #4774 closed, assigned to nobody

[2020-07-14 19:32] melloware commented on #2581
No upvotes in 3 years and can be accomplished in a few different ways as pointed out by @kukel. Closing ticket

[2020-07-14 19:32] #2581 closed, assigned to nobody

[2020-07-14 19:43] melloware commented on #1731
I can't reproduce.

Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2020-07-14 19:43] #1731 closed, assigned to nobody

[2020-07-14 19:43] melloware commented on #1663
Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2020-07-14 19:43] #1663 closed, assigned to nobody

[2020-07-15 09:10] mertsincan opened #6150 "DataTable Filter - selectCheckboxMenu holding values after page refresh"
Reported By PRO User;

Firefox issue; https://bugzilla.mozilla.org/show_bug.cgi?id=1459865

[2020-07-15 09:10] #6150 closed, assigned to mertsincan

[2020-07-15 10:52] sasynkamil opened #6151 "IdleMonitor: multiWindowSupport propagates just idle event"
When used IdleMonitor & multiWindowSupport=true, just "idle" ajax event is propagated to second (inactive window/tab). "active" event is not propagated.

Basically I don't know if this is feature or bug. Since user is not active in second (inactive window/tab) then I can understand that this is feature. In that case it would be good to mention this in IdleMonitor documentation.

If this is bug I c

[2020-07-15 11:02] tandraschko commented on #6151
The current behavior is completely by design from a customer

[2020-07-15 12:39] melloware commented on #6151
@sasynkamil here was the original ticket implementation: https://github.com/primefaces/primefaces/issues/2461

[2020-07-15 12:39] #3961 closed, assigned to melloware

[2020-07-15 13:17] melloware commented on #6151
@tandraschko Since I think this is the correct behavior I updated the documentation to describe the behavior for `active` vs `idle` events and mutliWindowSupport.

I also updated the key creation to our new method `createStorageKey` vs the current custom implementation in IdleMonitor.

[2020-07-16 08:18] mertsincan opened #6154 "Upgrade to PrimeIcons 4.0.0"

[2020-07-16 08:21] #6154 closed, assigned to mertsincan

[2020-07-16 10:38] morvael opened #6155 "Component: DatePicker and rangeSeparator issue"
CalendarUtils does not honor rangeSeparator in 7.0.14 (in 8.0.* it does). Please fix it.

master:
[code]
7.0
[code]

[2020-07-16 10:46] morvael commented on #6155
Enchancement? It's half baked feature (works in one way instead of two way as it should). To me it's a defect. Anyway, good to know it will be fixed. Too bad only in 7.0.16, was hoping for 7.0.15.

[2020-07-16 11:38] melloware commented on #6155
Closing issue as its an Elite issue fixed in 7.0.16. Thanks @mertsincan

[2020-07-16 11:38] #6155 closed, assigned to mertsincan

[2020-07-16 11:46] morvael commented on #6155
Yes, we're using Elite. Is there another way to report problems in Elite?

[2020-07-16 11:48] melloware commented on #6155
Unfortunately NO not without a PRO account there is no Elite forum or JIRA although there should be.

[2020-07-16 11:51] #6151 closed, assigned to melloware

[2020-07-16 12:09] melloware commented on #1009
Fixed for 9.0 with this fix: https://github.com/primefaces/primefaces/issues/5230

[2020-07-16 12:09] #1009 closed, assigned to melloware

[2020-07-16 13:14] melloware commented on #5979
This doesn't matter whether its inline or not the problem remains the same.  This is cause by this line in `1-datepicker.js`
[code]
viewDateOption is NULL and taking the value from the backing bean date so that is why the months update at first.  But once you actually select a date with the mouse the `viewDate` is set and even though your backing bean method added +1 month the viewDate is now set

[2020-07-16 14:22] vitsin opened #6156 "Schedule: Javascript Error"
**Description**
At what point the Java11 support for p:schedule (PF v8.x) will be added ?
I've just tested p:schedule (PF v8.0.2) under Java 11 - p:schedule showing up, but none of the Events from the Model appear on p:schedule.
Example used: https://www.primefaces.org/showcase/ui/data/schedule/basic.xhtml but with Java 11, not Java 8.
Thanks.

[2020-07-16 14:34] stolp commented on #6156
I am using PrimeFaces 8.0.2 with Java 11 and my p:schedule component is able to display events correctly.

If your events are missing, this is probably related to something else.

[2020-07-16 14:39] melloware commented on #6156
yes i just switched the showcase locally to Java 11 and its working fine.

[2020-07-16 14:39] GedMarc commented on #6156
I'm on JDK 14 with PF 9-Snap in native modules - no issues here

[2020-07-16 14:40] melloware commented on #6156
@vitsin if you can reproduce it with a PrimeFaces Test example I will reopen but for now we have 3 people reporting Java11+ work fine.

[2020-07-16 14:40] #6156 closed, assigned to nobody

[2020-07-16 14:41] vitsin commented on #6156
This is how I've used one single event on very simple model:
[code]

I do not see Event on GUI.
Does above Event definition is wrong ?
Appreciate your help.

[2020-07-16 14:44] melloware commented on #6156
Only 1 way we can help....

Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2020-07-16 14:49] vitsin commented on #6156
sure thing, thanks

[2020-07-16 17:44] melloware commented on #5979
@Foobartender If you need a short term fix you can accomplish it with the following:
[code]

[2020-07-16 18:07] melloware commented on #1897
Duplicate of https://github.com/primefaces/primefaces/issues/2728

[2020-07-16 18:07] #1897 closed, assigned to nobody

[2020-07-16 18:10] melloware commented on #4005
According to this it looks like you need to specify a width on each column:
https://forum.primefaces.org/viewtopic.php?f=3&t=34748

[2020-07-16 18:10] #4005 closed, assigned to nobody

[2020-07-16 18:29] melloware commented on #1967
Its been 4 years with no activity and an unnaccepted PR. I agree with @tandraschko that `appendTo=@this` should not be used here and we use SelectOne's in Datatable filters all the time with no issues in PF 7.0 and 8.0

[2020-07-16 18:29] #1967 closed, assigned to cagataycivici

[2020-07-16 18:31] melloware commented on #1753
Duplicate of #1715

[2020-07-16 18:31] #1753 closed, assigned to nobody

[2020-07-16 18:36] melloware commented on #1417
This now properly selects the checkbox when you click on a row as of PF 7.0 so this was fixed a while ago.

[2020-07-16 18:36] #1417 closed, assigned to nobody

[2020-07-16 18:40] melloware commented on #5912
@christophs78 I just put this patch in for a customer and they are very happy with the new behavior.

[2020-07-16 19:37] melloware commented on #58
Retested with 8.0 and this is fixed.

[2020-07-16 19:37] #58 closed, assigned to nobody

[2020-07-16 19:42] melloware commented on #1380
Example on how to do Range Filter in Datatable provided: https://stackoverflow.com/questions/23791039/primefaces-datatable-date-range-filter-with-filterfunction

[2020-07-16 19:42] #1380 closed, assigned to nobody

[2020-07-16 19:47] melloware commented on #981
dupicate of https://github.com/primefaces/primefaces/issues/988

[2020-07-16 19:47] #981 closed, assigned to nobody

[2020-07-16 19:48] melloware commented on #988
duplicate of https://github.com/primefaces/primefaces/issues/1178

[2020-07-16 19:48] #988 closed, assigned to mertsincan

[2020-07-16 19:51] melloware commented on #1715
Duplicate of https://github.com/primefaces/primefaces/issues/1178

[2020-07-16 19:51] #1715 closed, assigned to mertsincan

[2020-07-16 20:18] tandraschko commented on #1380
Could we add the sample to the Showcase?

[2020-07-17 07:25] christophih opened #6157 "Schedule: component javascript error"
The component lacks the resource dependendy to jquery (@ResourceDependency(library = "primefaces", name = "jquery/jquery.js") ).
On page, where the p:schedule is the only component, a javascript error occurs.

**Environment:**
 - PF Version: 8.0.3
 - JSF + version: MyFaces 2.3.6
 - Affected browsers: ALL

**To Reproduce**
Steps to reproduce the behavior:
1. Use the p:schedule component as the only

[2020-07-17 09:45] christophs78 commented on #6157
FullCalendar does not require jQuery anymore since version 4.
But or own https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/schedule/1-schedule.js still needs jQuery. So we run into this issue.
I´ll provide a PR.

[2020-07-17 10:34] #6157 closed, assigned to nobody

[2020-07-17 10:35] tandraschko commented on #6157
@mertsincan can you merge it to 8.0.4?

[2020-07-17 12:03] melloware commented on #5849
8.0.3 has been released with this fix.

[2020-07-19 01:25] erickdeoliveiraleal opened #6161 "InputMask: p:ajax without event=blur doesn't work"
**Describe the defect**
In 8.0 if you use inputMask with p:ajax with no events it worked, master 9.0 does'nt

**Reproducer**
https://github.com/erickdeoliveiraleal/primefaces-test/tree/input

**Expected behavior**
It worked without event event="blur"

**Example XHTML**
[code]

**Example Bean**
[code]

[2020-07-19 01:31] erickdeoliveiraleal opened #6162 "Calendar: validation failing if mask="99/99/9999" and pattern="dd/MM/yyyy""
**Describe the defect**
with PrimeFaces 8  the following code works, but in master I get validation errors.
[code]

edit:
test repository:
https://github.com/erickdeoliveiraleal/primefaces-test/tree/calendar

[2020-07-19 12:19] melloware commented on #6162
I tried this and it works fine:
[code]
However if you don't list a pattern...
[code]
It looks like
![image](https://user-images.githubusercontent.com/4399574/87874504-5ebedc80-c998-11ea-836c-49c9849e9100.png)

This is because of this issue: https://forum.primefaces.org/viewtopic.php?f=3&t=62741

However if would have worked had you said `mask=true`
[code]

As that detects the Date Pattern and crea

[2020-07-19 12:35] melloware commented on #6162
OK so the code is doing this is pattern is NULL:
[code]

its picking the SHORT format for your locale which is dd/mm/yy 2 digit year.   However looking at the JavaDoc for FormatStyle https://docs.oracle.com/javase/8/docs/api/java/time/format/FormatStyle.html the MEDIUM, LONG, and FULL locale defaults do not give us what we want.

@christophs78 looking for some guidance here on a better possible wa

[2020-07-19 12:36] #6161 closed, assigned to melloware

[2020-07-19 12:44] erickdeoliveiraleal commented on #6162
@melloware now I setted pattern but the validation is failing again.

[2020-07-19 13:11] melloware commented on #6162
When I run your sample with 9.0-SNAPSHOT and the following it works fine for me?
[code]

Attached is reproducer:
[pf-6162.zip](https://github.com/primefaces/primefaces/files/4943743/pf-6162.zip)

[2020-07-19 13:55] erickdeoliveiraleal commented on #6162
your example is also failing here, latest master + mojarra 2.2
![Capturar](https://user-images.githubusercontent.com/3578953/87876393-4c4f9d80-c9ae-11ea-8865-ef2d1e3b40e7.PNG)

[2020-07-19 13:57] melloware commented on #6162
Ahhh I thought you were saying the mask isn't working. Its the validation that's failing.  Let me look.

[2020-07-19 13:59] #6162 closed, assigned to melloware

[2020-07-19 13:59] melloware commented on #6162
OK committed a fix.

[2020-07-19 14:07] christophs78 commented on #6162
Just to understand how we introduced this issue. Was it because of the new/updated InputMask-JS?

[2020-07-19 14:09] melloware commented on #6162
Yes the new inputMask has a ton of features the old one did not.  One of them was unmasking the value automatically but for Calendar we don't want it unmasked "10102020" we want to leave it masked "10/10/2020".

[2020-07-19 14:14] melloware commented on #6162
But @christophs78 we still have another looming issue asked in this forum post: https://forum.primefaces.org/viewtopic.php?f=3&t=62741

[2020-07-19 14:46] christophs78 commented on #6162
The min-max-issue seems to be related to Java8-DateTimeFormatter.

`BaseCalendarRenderer#convertToJava8DateTimeAPI`
![grafik](https://user-images.githubusercontent.com/10461942/87877505-03640d00-c9df-11ea-90fb-94a356ff6f04.png)

We have to add this to the issue as soon as we have one.
We have to dig into https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html.

But at lea

[2020-07-19 20:46] tandraschko commented on #6161
can you please explain this change?
this was a essential code in older inputnumber versions to support onchange attr, inputnumber copy and ajax.

[2020-07-19 20:47] tandraschko commented on #6161
good change to provide some integrationtests ;)

[2020-07-19 20:57] melloware commented on #6161
Sorry I should have explained that the new InputMask does not have its own onchange event so there is no need to do this now as the normal Onchange event works on the Input.

This code was broken because it was removing the onchange and passing it asa config that the Mask was ignoring.

[2020-07-19 21:07] tandraschko commented on #6161
ok
its now really the best time to add some integrations tests for it

[2020-07-20 11:54] melloware commented on #6161
I will add InputMask tests to the Integration Test project.

[2020-07-21 11:32] #1816 closed, assigned to melloware

[2020-07-21 11:47] #3567 closed, assigned to melloware

[2020-07-21 14:44] stonewoodman opened #6168 "Carousel: CommandButton doesn't execute action"
**Describe the defect**
Click on a CommandButton that is embedded in a Carousel, doesn't execute the action. A post-request is called, but a breakpoint in action-method doesn't stop.

**Environment:**
 - PF Version: _8.0_
 - JSF + version: _MyFaces 2.3.6_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'test-btn'
2. Post-request is called
3. Method 'doAct

[2020-07-21 15:13] melloware commented on #6168
Still a problem in 9.0-SNAPSHOT attached is reproducer:
[pf-6168.zip](https://github.com/primefaces/primefaces/files/4954372/pf-6168.zip)

[2020-07-21 20:33] vitsin commented on #6156
[primefaces.schedule.pom.zip](https://github.com/primefaces/primefaces/files/4956054/primefaces.schedule.pom.zip)
@melloware
hello,
1. primefaces-test project appears w/o p:schedule, using PF v8.0, Java 11, Redhat.
2. if adding manually into project primefaces-8.0.3.jar - project returns HTTP 503.

[2020-07-22 08:13] eric-5512 opened #6169 "DataTable: Lazy getRowData Repeat the query twice"
**1) Environment**

PrimeFaces version: 8.0

org.joinfaces.primefaces-spring-boot-starter  4.3.0

**2) Expected behavior**

I hope that when I select a piece of data in the datatable, getRowData is executed only once.

**3) Actual behavior**

When I select a piece of data in the datatable, getRowData is executed twice, which is very strange.

**AbstractLazyModel**

[code]

**Example Bean**

[code]

[2020-07-22 08:21] tandraschko commented on #6169
Please provide all infos like requested in our template.

[2020-07-22 09:24] eric-5512 commented on #6169
Hi,@tandraschko

I have already provided information about the problem. What information is needed? Code?

[2020-07-22 09:28] tandraschko commented on #6169
Please read our template:

**Describe the defect**
A clear and concise description of what the defect is.

**Reproducer**
Clone repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to receive an answer and a solution and attach the GitHub Link or zip file of your reproducer here. **NOTE:** PrimeFaces test can easily be set to us

[2020-07-22 09:37] eric-5512 commented on #6169
Hi @tandraschko

I updated the content again.

[2020-07-22 09:49] tandraschko commented on #6169
thanks, its better now.
But we need a sample view + controller, so we can run it via our primefaces-test project, which doesnt have e.g. SysCodeTypeRequest

[2020-07-22 09:51] eric-5512 commented on #6169
Hi @tandraschko
**SysCodeTypeReques**t Does not use garbage code

[2020-07-22 09:55] tandraschko commented on #6169
to replicate your issue, we need to RUN your testcode. Please provide a runnable xhtml and bean without dependencies (like SysCodeTypeRequest) or fork primefaces-test for us.
Otherwise we cant replicate your case and cant help you.

[2020-07-22 10:01] eric-5512 commented on #6169
OK ,I understand, I prepare a test after get off work, thank you @tandraschko

[2020-07-22 10:42] eric-5512 commented on #6169
Hi @tandraschko

my Project

[testPro.zip](https://github.com/primefaces/primefaces/files/4959514/testPro.zip)

run , url http://localhost:8080/test.xhtml

You will find that every time you choose, print twice in the console.

[2020-07-22 11:32] melloware commented on #6156
OK good news @vitsin

1. Your issue is a duplicate of https://github.com/primefaces/primefaces/issues/6157

2. Its fixed for 9.0 and hopefully for 8.0.4.

3. Attached I tweaked your reproducer to make it work for you right now by hiding a p:button on the page.  Try this:
[pf-6156.zip](https://github.com/primefaces/primefaces/files/4959704/pf-6156.zip)

[2020-07-22 11:44] melloware commented on #6169
@tandraschko isn't this invalid because of the following:

From your Performance doc here: https://primefaces.github.io/primefaces/8_0/#/core/performance?id=patterns

_"Try to avoid logic in getters because they can be called multiple times - especially for the rendered attribute!"_

[2020-07-22 11:49] tandraschko commented on #6169
getRowData isnt a normal getter, it likely executes a query

[2020-07-22 12:05] melloware commented on #6169
@eric-5512 I tried `mvn spring-boot:run` but your project is not runnable.  This does not look like a valid JoinFaces runnable project?

[2020-07-22 12:13] melloware commented on #6169
OK I was able to use the Showcase and `Thread.currentThread().dumpStack();` to see where it is being called twice.

**First: SelectionFeature.decodeSingleSelection(SelectionFeature.java:81)**
[code]

**Second: .DataTable.queueEvent(DataTable.java:344)**
[code]

[2020-07-22 12:33] tandraschko commented on #6169
ok so it only happens twice in the selection request but otherwise not?

[2020-07-22 12:44] melloware opened #6170 "DatePicker: YearRange and default pattern"
**Describe the defect**
Forum Post: https://forum.primefaces.org/viewtopic.php?f=3&t=62741

**Reproducer**
[pf-datepicker.zip](https://github.com/primefaces/primefaces/files/4959959/pf-datepicker.zip)

**Environment:**
 - PF Version: _8.0_
 - JSF + version: _ALL_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Try and pick a year before 2020 and it won't work.

**

[2020-07-22 12:55] melloware commented on #6169
So far that is what I am seeing.  But I definitely didn't test every case just the specific one above.

[2020-07-22 13:08] fumogmbh opened #6171 "Datatable: filtering on <p:columns> only working for real property access"
**Describe the defect**
dynamic columns filtering by values (eg. getter of a map or fixed values) instead of property access => only LAST column has working filter. All other columns filter input is ignored.

**Reproducer**

clone actual Showcase (primefaces 8.0.3), navigate to datatable > columns
(online at https://www.primefaces.org/showcase/ui/data/datatable/columns.xhtml)

change line 12 in co

[2020-07-22 13:21] melloware commented on #6171
I think this is a duplicate of https://github.com/primefaces/primefaces/issues/5703

[2020-07-22 13:32] melloware commented on #6171
Duplicate of #5703

[2020-07-22 18:43] tony-in-nz commented on #6170
Sorry Melloware this slipped through the net.
I was supposed to raise this.
https://forum.primefaces.org/viewtopic.php?f=3&t=62741&e=1&view=unread#unread

The default is YY not YYYY and that led to some real confusion for me (like this ticket).

When your expecting the date to be YYYY as default, then the errors you get back when you don't supply the pattern is very very confusing.

i.e. I had a @

[2020-07-22 18:44] tony-in-nz commented on #6170
Fix #6170: Locale default pattern should be 4 digit year #6172
this should fix it...

[2020-07-22 18:54] melloware commented on #6170
No problem thanks for checking in!   The fix I tested locally with the test case and all the unit tests and it definitely fixes it.  I agree I don't think a 2 digit year is ever a good default for cases exactly like this.

[2020-07-22 18:58] tony-in-nz commented on #6170
Thx man.
I love primefaces... and do use the Themes (even though it takes a lot of ferkeling to get the topbar going with your own login etc)
https://forum.primefaces.org/viewtopic.php?f=68&t=57858

Also just wondered how the Quarkus integration is going (non native as JSF native is just too hard I believe!).
Keen to see a Primefaces demo working with Quarkus.
Quarkus is being pushed hard (especia

[2020-07-22 19:05] melloware commented on #6170
If you want to see how Quarkus is going check this project out: https://github.com/rmpestano/quarkus-omnifaces

Its a sample runnable using Quarkus, Omnifaces, and Primefaces.

[2020-07-22 19:12] tony-in-nz commented on #6170
Thx...
Your the man...
https://www.youtube.com/watch?v=t7Y0I91rubg

[2020-07-22 20:04] #6170 closed, assigned to melloware

[2020-07-23 00:45] eric-5512 commented on #6169
@melloware

Can it run? So, how should this problem be solved?

[2020-07-23 12:53] vitsin commented on #6156
@melloware ,
would love to have v8.0.4, thanks.

[2020-07-23 13:57] melloware commented on #6169
This problem requires a code change.

[2020-07-23 14:50] eric-5512 commented on #6169
Ok,Thx @melloware

[2020-07-23 17:42] melloware commented on #6169
@eric-5512 Couldn't you do something like this?
[code]

[2020-07-26 13:21] #5411 closed, assigned to Rapster

[2020-07-27 10:54] biesalsk opened #6173 "TreeTable: Filter CustomTreeNodes"
**Description**
Type of TreeNodes will be lost after filtering TreeTable. The problem is probably caused by

`TreeTableRenderer.createNewNode(TreeNode node, TreeNode parent); `

This method will always return DefaultTreeNode or CheckboxTreeNode, even if the Type of parameter _node_ is CustomTreeNode. Because this method is called due filtering (TreeTableRenderer.filter(...)), the type of all nodes

[2020-07-27 11:40] Rapster commented on #6173
I recently came across that problem. I'll provide a PR

[2020-07-27 11:56] melloware commented on #6173
Thanks Rapster!

[2020-07-27 12:32] biesalsk commented on #6173
Thanks for the quick response!
Previous commits will work, as long as CustomTreeNode has no members.
Probably a copy constuctor in DefaultTreeNode will help here. This way it is possible to override and take care of current state.

[2020-07-27 15:41] melloware commented on #6173
@biesalsk do you want to elaborate your suggestion or make it in @Rapster's PR?

[2020-07-27 19:28] Rapster commented on #6173
Though you have a good point, why the nodes are being created all over again? Only a new tree structure should be created when filtered/sorted. Not sure how easy it is to rework this

[2020-07-27 19:43] melloware commented on #6169
@eric-5512 did you get a chance to try my suggestion?

[2020-07-28 09:33] biesalsk commented on #6173
Rebuilding the structure of tree should be made possible by updating childs....
so in createFilterNodeFromRowKeys(...) you could remember childs of this node, clear them and add them again after checking filter

Here is a snipped of what I'm thinking about... not sure if it works
[code]

[2020-07-28 10:12] zaknafein83 opened #6175 "ImageCropping: Manage zooming with mouse wheel"
**Description**
When i scroll the site, and i go hover imagecrop, then zoom on image, that's frustating

**Describe the solution you would like**
Disable automatic zoom and add control image zoom and positioning like "maps control", with arrows on image to move, plus and minus to zoom.

[2020-07-28 11:52] melloware commented on #6175
Yep Cropper.js has two properties `zoomOnWheel` and `zoomOnTouch` that can be used.
See: https://github.com/fengyuanchen/cropperjs#zoomonwheel

I will be submitting a PR to add these properties.

[2020-07-28 12:03] melloware commented on #6175
If you need this fix right now add this JS code to your custom application.js or right on the page.
[code]

[2020-07-28 12:25] #6175 closed, assigned to melloware

[2020-07-28 12:32] zaknafein83 commented on #6175
it works. Thanks

[2020-07-28 12:35] melloware commented on #6175
No problem.  fixed for good in 9.0

[2020-07-28 12:55] melloware commented on #6156
@vitsin this will be in 8.0.4 elite

[2020-07-28 13:01] mertsincan commented on #5912
Thanks @christophs78 ;)

[2020-07-28 14:48] Skellyus opened #6177 "p-autocomplete not aligned with ui-inputgroup-addon using ui-fluid p-formgrid p-grid"
The alignment of the input field of p-autoComplete is not consistent with the ui-inputgroup-addon. Expected behavior would be the same as input of pInputText.

Code to reproduce
[code]
Version of modules
    "@angular/animations": "~10.0.3",
    "@angular/cdk": "^10.1.1",
    "@angular/common": "~10.0.3",
    "@angular/compiler": "~10.0.3",
    "@angular/core": "~10.0.3",
    "@angular/forms": "~1

[2020-07-28 14:50] melloware commented on #6177
Wrong issues page this is PrimeFaces and you want PrimeNG.

You want to report your issue here: https://github.com/primefaces/primeng/issues

[2020-07-28 14:50] #6177 closed, assigned to nobody

[2020-07-29 11:20] melloware commented on #6173
@biesalsk Do you wanna give your suggestion a try and if it works submit a PR?

[2020-07-29 11:29] melloware commented on #6173
I think we should merge @Rapster PR as is as it fixes the original problem.  We can open a new ticket if we decide we want to optimize the method further.  Thoughts?

[2020-07-29 16:56] #6142 closed, assigned to melloware

[2020-07-29 17:41] melloware commented on #1212
Closing ticket as it does not include a reproducer.  will re-open if reproducer is provided using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2020-07-29 17:41] #1212 closed, assigned to nobody

[2020-07-29 17:44] melloware commented on #1934
Closing as OP was asked for a reproducible sample and did not provide it.

Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2020-07-29 17:44] #1934 closed, assigned to nobody

[2020-07-29 17:48] melloware commented on #1874
Going to close this for now as in 5 years no one else has reported issues with this exact problem so coding a workaround doesn't feel like a good idea.  Can always re-open if more people report or upvote.

[2020-07-29 17:48] #1874 closed, assigned to nobody

[2020-07-30 15:21] jepsar opened #6178 "DatePicker: inline=true add style class 'ui-state-error' to when validation has failed"
This will allowing users to create a CSS rule for `body .ui-datepicker-inline.ui-state-error`, or even adding it to themes.

[2020-07-30 15:27] melloware commented on #6178
@jepsar can you also check what happens when using `inline=true` and `disabled=true`???  I wonder if the inline also doesn't display disabled?  It will help me determine the right way to fix this...

[2020-07-30 15:41] melloware commented on #6178
Please review the PR if you don't mind

[2020-07-30 17:41] melloware commented on #223
No upvotes in 5 years and I don't see any real advantage of changing the code to support this.

[2020-07-30 18:06] #106 closed, assigned to melloware

[2020-07-31 11:23] #6178 closed, assigned to melloware

[2020-07-31 13:36] tandraschko opened #6182 "CSV: add ability to execute complex validation"
like: when checkbox a is selected, input must be required

[2020-07-31 13:37] tandraschko opened #6183 "CSV: provide way to easy validate via JS function"
Currently PrimeFaces.validate requires a complex configuration.
I think of some util methods first:
- validate(source: selector|element), returns a list of invalid elements
- hightlight(list with invalid states)
- render messages (list with invalid states, some config)

i think i will prototype somehting and come back here

[2020-07-31 14:03] tandraschko commented on #6182
i think about something like:

[code]

[code]

which recevies the whole container instead of a single input as normally `data-p-val` is only applied on inputs.

So `PrimeFaces.validate` which search for *:not(:input)[data-p-val] after all inputs are processed.

[2020-07-31 14:09] tandraschko commented on #6182
@melloware any thoughts?

[2020-07-31 14:18] melloware commented on #6182
I like it!

[2020-07-31 15:01] tandraschko commented on #6182
the code probably needs a big refactoring

[2020-07-31 15:07] melloware commented on #6182
Looks good so far and I just comitted line ending fix for 2 files.   Yeah taking a step back it can probably use a refactoring but I agree with you i always like to get code working first then refactor.

[2020-07-31 15:34] melloware commented on #5776
Updated to FullCalendar 5.2.0

[2020-07-31 17:17] #6173 closed, assigned to Rapster

[2020-07-31 18:21] melloware commented on #4519
Instead of CTRL+A then BACKSPACE I have holding CTRL or SHIFT+BACKSPACE as removing all items so you can do it with one keystroke.

Also added client side widget method `removeAllItems` so you can do it programmatically.

[2020-07-31 18:25] krishnakittu commented on #4519
Thanks for your Fix.

[2020-08-02 00:32] eric-5512 commented on #6169
@melloware

I'm sorry I have been sick recently.

[2020-08-02 00:54] eric-5512 commented on #6169
@melloware
No problem, it's all right. But it's strange. Thank you.

[2020-08-02 21:08] mikeante81 opened #6187 "DataTable: Onfocus event fired three times with cellEdit/rowEdit"
**Describe the defect**
onfocus fired three times on inputtext with cellEdit DataTable

**Environment:**

- PF Version: 8.0
- JSF + version: 2.2.12-jbossorg-2
- Affected browsers: ALL

**To Reproduce**
Steps to reproduce the behavior:
2. Click on cell Year
3. Show browser console
4. See same log three times for focus

**Example XHTML**
[code]

[2020-08-02 22:16] tandraschko commented on #6182
refactored some structure/packages
probably JSDoc fails
i'm 4 days in holiday now, so if someone would like to fix JSdocs... :)

[2020-08-03 11:53] melloware commented on #6169
Thanks for testing.

[2020-08-03 12:09] melloware commented on #6182
I will fix the JSDOC.  Enjoy your holiday!

[2020-08-03 12:46] melloware commented on #6187
any debugging or PR would be appreciated.

[2020-08-03 13:02] melloware commented on #6182
JsDoc fixed!

[2020-08-03 13:38] melloware commented on #6169
@tandraschko since my workaround above is not hard to implement i am wondering if we should close this ticket only because in all the features and different components of datatable they all call `getRowData` so I think it would be a difficult and buggy refactoring to try and fix this in the component.  Thoughts?

[2020-08-03 13:53] #4519 closed, assigned to melloware

[2020-08-03 14:08] mikeante81 commented on #6187
I also have the problem with your demo, I only added onfocus with console.log

[2020-08-03 14:09] melloware commented on #6187
Yep not disputing the problem, asking if you have debugged into the cause etc.

[2020-08-03 14:43] melloware commented on #6187
I can see 3 focus events are registered to the input thus that is why 3 are being called.
![image](https://user-images.githubusercontent.com/4399574/89195047-2dd4cf00-d576-11ea-8019-8a5d596e9fc8.png)

Trying to figure out how to handle this.

[2020-08-03 19:36] dinbtechit opened #6189 "Primeface 8 and Wildfly 18.0.1 - java.lang.InstantiationError: org.primefaces.util.Lazy"
### Environment:
- Open JDK 11
- Primeface 8
- Wildfly 18.0.1 (JSF 2.3.9)
- Maven
- CentOS 7

### Description
Unable to deploy the war file (which is part of the ear file) due to `java.lang.InstantiationError: org.primefaces.util.Lazy`
Any idea is massively appreciated!!!

### Error
**Full Stack Trace**
[code]

[2020-08-04 10:05] mertsincan opened #6190 "DataTable Filter - selectOneMenu holding values after page refresh"
Reported By PRO User;

[2020-08-04 10:05] #6190 closed, assigned to mertsincan

[2020-08-04 11:38] melloware commented on #6189
Hmmm this is interesting.  Let me try and reproduce in Wildfly.

[2020-08-04 11:45] dinbtechit commented on #6189
Thanks! Let me know if you need any thing.

Primefaces 7 works fine though.

[2020-08-04 12:12] fumogmbh commented on #6171
Hello Melloware,

I think our example is way easier to understand. This is due to changes from primefaces 7 to primefaces 8 and is a really important thing.

What is next with that issue?

Regards
Jürgen Leonhardt

[2020-08-04 12:19] melloware commented on #6171
@fumogmbh I don't work for PrimeTek so your only options are:
1) Submit a PR with a potential fix
2) If you are a PRO member submit a ticket through your PRO account to have it fixed
3) if you are not a PRO member you can request a 1 time quote through SUPPORT clicking on Case here: https://www.primefaces.org/support/

[2020-08-04 12:38] tandraschko commented on #6171
The example is different, lets reopen and Check the other issue If 1 of these is fixed

[2020-08-04 12:39] melloware commented on #6171
I don't think either is fixed but to me they have the same underlying cause.

[2020-08-04 13:41] pfumi commented on #2360
This bug still exists with PrimeFaces 8.0.3. I fixed it in our project (we use PrimeFaces 8.0.3) with the following change in the updateReflowDD function:
[code]

The commented out line with columnHeader.index() has the wrong index (only if the table has columns that are not sortable). So our solution is to search by text and filter then by the order index.

[2020-08-04 13:51] melloware commented on #6189
Hmmm OK I can't reproduce.

Open JDK 11
Primeface 8
Wildfly 18.0.1 (JSF 2.3.9)
Maven

I am running just with with CSP=true and CSP=false???

Can you do me a favor and in Wildfly delete  your /data /log and /tmp folders in /standalon and restart your wildfly?

[2020-08-04 13:55] dinbtechit commented on #6189
Is your war file packaged in a ear file? I don't know if that makes any difference. Mine is packaged within a ear file.

I have also tried with CPS=true and false. But that didn't make any difference.

**web.xml**
[code]

Anyway... let me try deleting data, tmp and log. Stay tuned!

[2020-08-04 14:00] melloware commented on #2360
@pfumi Thanks let me review what you did.

[2020-08-04 14:01] melloware commented on #6189
Nope mine is  a WAR file not an EAR file.  Do you have two PrimeFaces loaded in your EAR?  Where is PrimeFaces in your EAR inside the WAR or packaged as a lib of the EAR?

[2020-08-04 14:16] dinbtechit commented on #6189
Deleting data, tmp and logs did not help. I got the same error. 😔

They are inside my WAR, under WEB-INF/lib/<primefaces libraries>

Here is my full project structure. Below doesn't include the EJB, web services and other modules.

[code]

[2020-08-04 14:19] melloware commented on #6189
interesting.  Why an EAR if it only contains 1 WAR?  Or is there other stuff you are not including?

[2020-08-04 14:21] dinbtechit commented on #6189
there are other stuffs that I have not included.

[2020-08-04 14:22] melloware commented on #6189
Is there any way you can boil down a small reproducible example for me to deploy?

[2020-08-04 14:35] melloware commented on #2360
I have verified your fix works using the provided test project and submitted a PR.

[2020-08-04 14:44] #2360 closed, assigned to melloware

[2020-08-04 15:32] fanste opened #6192 "SplitButton: Both action button and action item are executed"
**Describe the defect**
The core refactoring of @Rapster (#5009) introduced a bug to `p:splitbutton` and maybe to other components (did not check it).
Before the code changes the logic of [`super.decode()`](https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/splitbutton/SplitButtonRenderer.java#L61) was inside an if block and the code below was inside an els

[2020-08-04 15:33] dinbtechit commented on #6189
Unfortunately I am not able to reproduce the issue in a brand new project either.  https://github.com/dinbtechit/jsf-demo

I'll investigate this further and get back to  you. Thanks!

[2020-08-04 15:35] melloware commented on #6189
Thank you. That is the only way I can help debug it so hopefully as you reintroduce 1 thing at a time until it happens.

[2020-08-04 15:36] melloware commented on #6192
@fanste Do you have a proposed PR for us to review?

[2020-08-04 15:38] pfumi commented on #2360
Sorry I have found an issue with this solution. If there is a similar column (just use the provided test and change "Brand" into "Brand Year") and then sort by Year or Brand Year. With ":contains" it would find both, and selection is again wrong.
This line for the last line should fix it
[code]

[2020-08-04 15:41] melloware commented on #2360
Please review: https://github.com/primefaces/primefaces/pull/6193/files

[2020-08-04 15:45] pfumi commented on #2360
$.escapeSelector(columnHeader.text()) is missing, then it's fine. Is there a change to get this in PrimeFaces 8.0.4?
Thank you for the quick work! :)

[2020-08-04 15:47] melloware commented on #2360
OK pushed a new commit please review: https://github.com/primefaces/primefaces/pull/6193/files

[2020-08-04 15:48] melloware commented on #2360
You don't need to wait for 8.0.4 just add this to your application JS file which loads after PrimeFaces.
[code]

[2020-08-04 15:52] fanste commented on #6192
While writing the reproducer I recognized, that only a `p:splitbutton` with the `model` attribute is affected by the bug. Before that I thought the simpliest would be to let `super.decode()` return `true/false` if a menu item was (not) processed. But now I will debug it first more deeply.

[2020-08-04 15:54] pfumi commented on #2360
I had to escape the element.text too. Last edit, sorry
[code]
I know, just want to remove the code in our application if its fixed in 8.0.4 or future release

Or remove the escapes, if its not needed

[2020-08-04 16:00] pfumi commented on #2360
Works, thanks!

[2020-08-04 16:00] melloware commented on #2360
OK I pushed a commit escaping the element text too.

[2020-08-04 16:03] fanste commented on #6192
That was a short debug session :D

Static `p:menuItem` will be handled by UIMenuItem itself while the dynamic one will be handled by the SplitButton. The proposed fix should be the correct way.

Let `MenuItemAwareRenderer#decode` return `true/false` and `SplitButtonRenderer#decode` should handle that return value.

[2020-08-04 16:34] fanste commented on #6192
Well forget that proposed fix.. Its an overwritten method from JSF... Another solution would be to extract the code form `MenuItemAwareRenderer#decode` to a new method which allows a return value. `MenuItemAwareRenderer#decode` will then forward to that new method and simply ignore the return value while

-  `SplitButtonRenderer#decode` uses the new method
- OR `SplitButtonRenderer#decode` will be

[2020-08-04 16:36] melloware commented on #6192
@Rapster thoughts?

[2020-08-04 17:04] Rapster commented on #6192
Indeed, removing that else instruction has a side effect. Though, the problem might be from onclick function.

With model: `PrimeFaces.ab({s:"j_idt5:j_idt7",f:"j_idt5",g:false,pa:[{name:"j_idt5:j_idt7_menuid",value:"1"}]});return false;`
Static items: `PrimeFaces.ab({s:"j_idt5:j_idt11",f:"j_idt5"});return false;`

Trying to undersand that part

[2020-08-04 17:27] melloware commented on #2802
This is an issue with Quill 1.3.7 also.  Submitting fix

[2020-08-04 17:34] #2802 closed, assigned to tandraschko

[2020-08-04 18:51] dinbtechit commented on #6189
Found the culprit.... It was due to conflicting Primefaces version. My War file was using `primefaces 8.0` while there was another dependency referenced in the project that was using `primefaces 7.0`. (Which was installed as a library within Wildfly Modules, made it a bit tricky to find)

[2020-08-04 18:51] #6189 closed, assigned to nobody

[2020-08-04 18:52] melloware commented on #6189
That is why I asked "Do you have two PrimeFaces loaded in your EAR?" up above :)  Glad you got it solved!

[2020-08-04 20:17] Rapster commented on #6192
I made a PR

[2020-08-04 22:58] #6192 closed, assigned to Rapster

[2020-08-05 05:43] saycchai opened #6196 "Datatable: filtering issue for SelectOne as input"
**Describe the defect**
I have a drop down (p:selectOneMenu) as the input field in the Primefaces 8.0 datatable row, after I select the value in the drop down, if I sort it the selected value can be kept after ajax submit. However if I input a filter and no row appear, and then I clear the filter, the selected value in the drop down disappeared

**Reproducer**
git clone https://github.com/saycchai

[2020-08-05 11:03] fanste commented on #6192
Thanks for the PR. I can confirm, that everything is working now.

[2020-08-05 11:58] melloware commented on #6196
Not sure if this is a PrimeFaces issue or not as it doesn't work with the standard `h:selectOneMenu` either.

 See my attached reproducer:
[pf-6196.zip](https://github.com/primefaces/primefaces/files/5028115/pf-6196.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

[code]

[2020-08-06 12:09] melloware commented on #5528
Can either or both of you review my PR for this issue please?

[2020-08-06 12:16] melloware commented on #5771
Duplicate: https://github.com/primefaces/primefaces/issues/3524

[2020-08-06 12:16] #5771 closed, assigned to nobody

[2020-08-06 12:47] melloware commented on #5528
@carlbradwell17 Just a note in JDK8 Danish is ":" but in JDK11 its properly "."

**JDK8:**
[code]

**JDK11:**
[code]

[2020-08-06 13:15] melloware commented on #6196
Duplicate of: https://github.com/primefaces/primefaces/issues/4446

Please follow that issue.

[2020-08-06 13:15] #6196 closed, assigned to nobody

[2020-08-06 13:35] melloware commented on #4128
I can't reproduce the original issue reported in this ticket with PF 8.0. So closing ticket.  @mrswadge if you have a reproducible test case for your issue please open another ticket.

[2020-08-06 13:35] #4128 closed, assigned to nobody

[2020-08-06 14:08] melloware commented on #3475
As stated by @cnsgithub this can be done with simple CSS so no need to try and build in a feature for this.

[2020-08-06 14:08] #3475 closed, assigned to nobody

[2020-08-06 14:10] melloware commented on #4128
@Rapster I did and that repo is empty.  Its just the base test case the XHTML page is this...
[code]

[2020-08-06 14:11] Rapster commented on #4128
Oh yeah indeed 😓 Too bad...

[2020-08-06 14:21] melloware commented on #2110
Reproducible example was requested but the OP has not provided.  Will reopen if reproducer is provided.

[2020-08-06 14:34] tandraschko commented on #2110
Let me check that, even If we dont have a reproducer, the bad code might still be there

[2020-08-06 14:54] erickdeoliveiraleal opened #6198 "Calendar: readonlyInput="true" mask="true" breaks submit"
**Describe the defect**
After submiting the calendar input and clicking the second button the bean class is not called.

**Reproducer**
https://github.com/erickdeoliveiraleal/primefaces-test/tree/viewparam

**Environment:**
 - PF Version: _9.0-SNAPSHOT_

**To Reproduce**
Steps to reproduce the behavior:
1. Choose date
2. Click first button
3. Click second button

**Expected behavior**
backing bean

[2020-08-06 15:19] melloware commented on #6198
OK I see what you are saying this works in 8.0 and does not work in 9.0.

[2020-08-06 17:05] melloware commented on #2687
@kukel have you ever written this code over the years?  interested in submitting PR?

[2020-08-06 17:10] #6198 closed, assigned to melloware

[2020-08-06 17:11] erickdeoliveiraleal opened #6201 "InputMask: not applying mask to integer"
**Describe the defect**
With PrimeFaces 8 the following code worked, master doesn't.

**Reproducer**
https://github.com/erickdeoliveiraleal/primefaces-test/tree/inputmask_integer

**To Reproduce**
Steps to reproduce the behavior:
Run the code, in 9.0 the input is blank while in 8 the input shows the value.

**Example XHTML**
[code]

**Example Bean**
[code]

[2020-08-06 17:22] melloware commented on #6201
PF8 (not correct as its blank)??: This makes sense because the optional character in 8 was `?` and in 9 its `[]`
![image](https://user-images.githubusercontent.com/4399574/89561664-d4270b80-d7e6-11ea-9145-da0b5b5e0c8c.png)

So is your goal the first 2 characters are optional?  To me that doesn't make sense the optional characters should be at the end of the mask.

If I do this:
[code]
Your code th

[2020-08-06 19:44] melloware commented on #2360
@pfumi I made even more changes to make it work with dynamic columns as well: https://github.com/primefaces/primefaces/pull/6202/files

[2020-08-06 19:47] melloware commented on #6201
@erickdeoliveiraleal can you clarify what you are trying to do with that mask?

[2020-08-06 19:50] erickdeoliveiraleal commented on #6201
Yes, with 8.0 the mask worked in the beginning of the string, I used your solution at the end and it worked in 9.0, thanks.

[2020-08-06 19:51] #6201 closed, assigned to nobody

[2020-08-06 19:57] tandraschko commented on #2110
should be fixed now - feel free to retest and review

[2020-08-06 19:57] #2110 closed, assigned to tandraschko

[2020-08-06 20:08] tandraschko commented on #2110
how can i configure my git? your commit now crashes my next commit...

[2020-08-06 20:10] melloware commented on #2110
So our `.gitattributes` file in the root dir already has this..
[code]
I am not sure why your git client doesn't respect that but I use both SmartGit and IDEA Git and both respect that and always correct the line endings before I commit.

[2020-08-06 20:11] tandraschko commented on #2110
i use netbeans at home, no idea...

[2020-08-06 20:13] melloware commented on #2110
Ahh and we have this set:
[code]

Which according to the docs https://git-scm.com/docs/gitattributes

Set to string value "auto"
When text is set to "auto", the path is marked for automatic end-of-line conversion. If Git decides that the content is text, its line endings are converted to LF on checkin. When the file has been committed with CRLF, no conversion is done.

I wonder if we need to set `

[2020-08-06 20:15] tandraschko commented on #2110
to be honest, i dont care about lineending
it always works on github and my client, doesnt matter if you use your or mine lineending
just annoying all the time

[2020-08-06 20:16] melloware commented on #2110
Well the problem is look at your commit: https://github.com/primefaces/primefaces/commit/a0ea3fc5c2988b98b5f34933f00d93664be22893

It looks like you edited the entire file so I can't tell what you changed.

[2020-08-06 20:17] melloware commented on #2110
Same with this commit: https://github.com/primefaces/primefaces/commit/b7cd83e4dd4d05338d6a1fb7f8a7ddb5dc05d3d1  it looks like you are changing the entire file because eveyr single line got updated with a new line ending.

[2020-08-06 20:18] melloware commented on #2110
And then when I do a Git Pull to refresh my fork it thinks those files are different and Git forces me to fix the line endings before committing further.

[2020-08-06 20:18] tandraschko commented on #2110
then we have to configure our gitattributes to work on all clients the same, everything else doesnt make sense

[2020-08-06 20:20] melloware commented on #2110
Agreed.  @Rapster @christophs78 any idea on this line ending problem?

[2020-08-06 20:25] melloware commented on #2110
Found this article: https://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/

it looks like we are doing it correctly but it looks like your Netbeans is somehow not respecting it?

_One final note that the man page for gitattributes mentions is that you can tell git to detect all text files and automatically normalize them (convert CRLF to LF):_

`*       text=auto`

[2020-08-06 20:33] erickdeoliveiraleal commented on #5817
this commit broke some of the dialogs of my application.
before it my dialog was like this:
![Capturar](https://user-images.githubusercontent.com/3578953/89579520-4e1cbc00-d80a-11ea-97ad-02a8c7d2eff7.PNG)
now it looks like this:
![image](https://user-images.githubusercontent.com/3578953/89579872-e1ee8800-d80a-11ea-9155-4b766c610399.png)

[2020-08-06 20:34] tandraschko commented on #2110
no idea, sorry
really no time to read why we changed the settings it in the past, i never had problems before AFAIR
i have some deadlines about the CSV topics

[2020-08-06 22:12] erickdeoliveiraleal commented on #5817
I reverted locally the commit d5365288654862bf7786e21e012cd7db566a1de7 and my problem is gone.

[2020-08-06 23:29] melloware commented on #5817
I will investigate. I prefer not to revert i would like to get to the bottom of the issue.  Can you provide a small dialog reproducer please.  JQuery 4.0 will not allow this in the future so we need to figure out what is different and fix it.

[2020-08-06 23:30] melloware commented on #5817
Its this issue that is causing it so comment on that thread please: https://github.com/primefaces/primefaces/pull/5937

[2020-08-06 23:32] melloware commented on #2110
The .gitattributes has been like that for 3+ years.  I have read multiple bugs online that NetBeans uses JGit under the covers and JGit does not respect `.gitattributes`.  I don't know if that is the case but it definitely seems like it.  I am really leaning into this is a Netbeans issue.

All files should be checked in with just LF and that is what `* text=auto` does.  Somehow Netbeans is checkin

[2020-08-07 07:49] palianah opened #6204 "Calendar: Cannot read property 'left' of undefined error if input not visible"
**Describe the defect**
We use Calendar a little bit different so the Calendar is on DOM Ready set to display:none; And on a Button Click, the Calendar is sliding in from the side and displayed. The Problem is, the overwritten $.datepicker._attachHandlers from primefaces (in jquery-plugins.js) calls initially the this.updateDatePickerPosition() function, which has not a condition to check if input

[2020-08-07 10:54] melloware commented on #6204
Could you post a little XHTML example your calendar or a reproducer so it can help me see the issue?  I think the fix is pretty simple.

[2020-08-07 11:18] melloware commented on #5817
@erickdeoliveiraleal I just checked in a fix that I think fixes your issues can you please try it?

[2020-08-07 12:08] #2286 closed, assigned to melloware

[2020-08-07 12:09] #5528 closed, assigned to melloware

[2020-08-07 12:15] palianah commented on #6204
Yes sure.
I Have a commandButton which triggers to show the Form (it is simplified a bit, but the main goal is the same).
[code]

And I Have a form which wraps the calendar, and this form is displayed to none so the calendar is also not visible on load.
[code]

The error also happens in the primefaces 6.2.27 Version, i think all versions after the initial init of the this.updateDatePickerPosition(

[2020-08-07 12:22] melloware commented on #6204
Excellent here is a reproducer showing the issue:
[pf-6204.zip](https://github.com/primefaces/primefaces/files/5041305/pf-6204.zip)

[2020-08-07 12:24] melloware commented on #6204
OK this was fixed for 9.0 by this issue: https://github.com/primefaces/primefaces/issues/5898

[2020-08-07 12:24] #6204 closed, assigned to nobody

[2020-08-07 12:24] melloware commented on #6204
If you need this fix right now just add this JS to your application JS file.
[code]

[2020-08-07 12:44] palianah commented on #6204
Ok thanks for the suggestion. When is the release date from 9.0?

[2020-08-07 13:10] palianah commented on #6204
@melloware is it possible to add a minor fix version to 8.0.4 or something like that?
Just asking because we are planing a update to 8.0.3 and would be a little bit bad if we had to wait for this fix for 9.0.
We can fix it right now as you wrote, but would be cleaner if it is fixed directly in the source code from primefaces so just asking:)

[2020-08-07 13:12] melloware commented on #6204
I don't work for PrimeTek so its up to @mertsincan to get merged into Elite 8.0.4.

[2020-08-07 19:47] JHookDev commented on #5704
@mertsincan Will this fix be included in an upcoming 8.0.x elite release?

[2020-08-08 12:35] pfumi commented on #2360
@melloware perfect thanks 👍
Just a bit of refactoring, you could replace this
[code]
with
[code]
if you want :)

[2020-08-08 12:38] melloware commented on #2360
Interesting refactoring let me try that.

[2020-08-09 14:54] tandraschko commented on #6182
implemented the functionality
documentation still missing + we need to understand what vi/validateInstant is

[2020-08-09 15:34] tandraschko commented on #6183
i completely refactored the methods but didnt introduce my changes suggested above.
People can now use PrimeFaces.validation.validate(process, update, highlight, focus)

[2020-08-09 15:34] #6183 closed, assigned to tandraschko

[2020-08-10 10:58] rider87 commented on #4446
hi,

any plan to fix this?

[2020-08-10 11:42] tandraschko commented on #4446
i dont have time for it but you can simple fix it by yourself (and provide a PR) or use PrimeFaces PRO.

[2020-08-10 13:47] christophs78 opened #6211 "Dialog: Add "cache" attribute"
TabView has the attributes dynamic and cache. With the combination of dynamic=true and cache=false you can ensure the content of a tab is reloaded when you switch to the tab.

Dialog currenty only has dynamic-attribute. When you look at https://www.primefaces.org/showcase/ui/data/datatable/selection.xhtml (first example) you see this currently requires a work-around to update the content of the di

[2020-08-10 14:03] melloware commented on #6211
@christophs78 are you tackling this one?

[2020-08-10 14:09] christophs78 commented on #6211
I´ll give it a try. Hope this is not that complicated...

[2020-08-10 15:08] #6182 closed, assigned to tandraschko

[2020-08-10 19:31] coldhack opened #6212 "ChartJs: Animation attributes definition"
LineChartModel doesn't present a way to enable/disable chart animation. Animation comes by default, and I could not find a way to disable it.

[2020-08-10 19:35] melloware commented on #6212
Here is the LineChart docs. https://www.chartjs.org/docs/latest/charts/line.html

Doesn't look like there is an `animation` property available?

[2020-08-10 19:38] coldhack commented on #6212
I was exactly editing the issue post referring this. The problem is that I think it should be possible define this attribute from `LineChartModel` (at least `LineChartOptions`). Don't you think?

[2020-08-10 19:38] melloware commented on #6212
You can just add this 1 line of JS to your page to disable animation.
[code]

[2020-08-10 19:40] melloware commented on #6212
Agreed this should be a gloabl option in the chart options for all charts.

[2020-08-10 19:44] coldhack commented on #6212
Agree, I could do it from javascript, easily, and it would be similar to define all properties from JavaScript context. But this would be more handy if I could do it from component model too.

Adding `Chart.defaults.global.animation.duration = 0;` would affect all charts, right? I'm trying for only one (having more than one on the same view).

[2020-08-10 19:57] melloware commented on #6212
Please review my PR.  You will be able to do this with this PR:
[code]

[2020-08-10 20:26] coldhack commented on #6212
This would be great!

[2020-08-10 21:20] christophs78 opened #6215 "DataTable: Selection; Radio-Buttons; multiple rows can be selected"
**Describe the defect**
Regression in 9.0-SNAPSHOT. Multiple rows can be selected by clicking onto the row instead of direct to the radio-button.

**Reproducer**
http://localhost:8080/showcase_war_exploded/ui/data/datatable/selection.xhtml
Example "RadioButton"
![image](https://user-images.githubusercontent.com/10461942/89832592-de873380-db5f-11ea-8246-29619b89b62c.png)

**Environment:**
 - PF Ver

[2020-08-11 12:00] melloware commented on #6215
@christophs78 See this ticket: https://github.com/primefaces/primefaces/issues/4468

I think that fix caused this issue. I will investigate.

[2020-08-11 12:06] #6212 closed, assigned to melloware

[2020-08-11 12:09] tandraschko commented on #6211
looks good, thanks!

[2020-08-11 12:09] #6211 closed, assigned to christophs78

[2020-08-11 12:29] melloware commented on #6215
OK please review PR and thanks for reporting!

[2020-08-11 12:42] #1287 closed, assigned to melloware

[2020-08-11 14:39] #6215 closed, assigned to melloware

[2020-08-11 22:44] Rapster commented on #6171
Hi @fumogmbh,

For your first example, I'm not sure what you're trying to do... All I can do is answer to your second example. You should write it like this: `... sortBy="#{car[column.property]}" filterBy="#{car[column.property]}">`

[2020-08-12 06:13] fumogmbh commented on #6171
Hi Sébastien,

unfortunately that is exactly the problem. The way you suggest it is exactly the way it is done in the showcase.
But - we have a HashMap field in a bean and we want to filter it, something like getValueFor(name) or getValueFor(birthdate) and Primefaces 8 swallows all values except for the last one that works on filtering.

By the way, the sorting is working on HashMap fields. So our

[2020-08-12 08:33] Rapster commented on #6171
Ah got it... I'll try to investigate on this if I have some time. Indeed it's working for sorting but not filtering

[2020-08-12 09:29] coldhack opened #6217 "Terminal : Control request/response"
Having the possibility to define (i.e., add) output from beans would increase the utility for Terminal component (e.g.: allowing the execution of interactive commands ou pseudo-commands).

Example scenario:
Shell access to remote VM(Virtual machine) through JSF application using Terminal component.

[2020-08-12 11:21] melloware commented on #6171
Thanks @Rapster This issue has come up a few times on the forums and stack overflow as well so any help fixing would be appreciated.

[2020-08-12 11:24] melloware commented on #6217
Hmmm can you give a little more concrete example?  I am not sure what exactly you mean.   Can you even give an example terminal conversation?

In this example: https://www.primefaces.org/showcase/ui/misc/terminal/basic.xhtml

Can't you basically do whatever you want in `commandHandler="#{terminalBasicView.handleCommand}"` and process Shell commands?

[2020-08-12 11:37] coldhack commented on #6217
Imagine that you execute the `top` command on shell, there's a possible way to show successive outputs? Or you try to install using `yum` and it requires confirmation for some packages, as I can see it is impossible to manage, I think. Our `tail -f`, etc...

As it is, we have something to "request-response model", i.e., the `p:terminal` expects simples outputs from commands, and we can't control o

[2020-08-12 11:47] melloware commented on #6217
Ahhh I understand now, you need something more than just a `String` result to make it more of an interactive console.

[2020-08-12 11:50] coldhack commented on #6217
Exactly!! Have more control on it. I've tried through binding, but no success.

[2020-08-12 14:26] Rapster commented on #6171
There you go (using `Column#field` as a workaround):
[code]

Basically, the whole problem is that `Column#filterBy` is used for two purposes:
- deduce the column property from the value expression (to build FilterMeta)
- get the current value of the column (to know whether or not it matches your filter input)

So if you use an "unsupported" expression format, PF won't be able to decude which bean

[2020-08-12 15:28] melloware commented on #6171
Hmmm so what is the right way to fix this? Or isn't there one?

Update the showcase example?  Throw an FacesException error saying "field" must be used when using p:columns and filterBy?

[2020-08-12 16:18] fumogmbh commented on #6171
thanks Sébastien for your time until now, the outcome it is a -working- workaround.

[2020-08-12 16:43] Rapster commented on #6171
@melloware there is nothing to fix, using `Column#field` will do. According to the description:

But it's used for more than that... Fiddling the expression string is IMO a bad idea and I already share my thoughts on this, but right now this ticket can be closed.

[2020-08-12 16:43] #6171 closed, assigned to nobody

[2020-08-12 16:57] melloware commented on #6171
Excellent and can you check https://github.com/primefaces/primefaces/issues/5703 I believe it is a duplicate and can also be closed.

[2020-08-12 17:13] Rapster commented on #5703
So am I correct to say using `Column#field` make it work?

[2020-08-13 13:10] koan00 opened #6219 "DataTable: FilterMeta/SortMeta equals() and hashcode()"
**Describe the defect**
In our unit tests, we like to compare the some of the data returned by the datatable.getFilterBy(), which returns a Map of <String, FilterMeta>. For instance we setup some initial filters, do some test work, and then verify the filters match what we expect after the work is complete. In PrimeFaces 7.0, would do something like:
[code]

The FilterMeta class in Primefaces 8.0

[2020-08-13 13:14] melloware commented on #6219
I agree. Will fix

[2020-08-13 13:51] melloware commented on #5703
Closing this issue as the OP stated "But reading the PF code, I saw that FilterFeature.getFilterField() tries to use the column field attribute before falling back to resolving the filterByVE. Therefore, this solved the problem for me:" so using `Column#field` is the correct solution and closing ticket.

[2020-08-13 13:51] #5703 closed, assigned to nobody

[2020-08-13 17:59] koan00 commented on #6219
Could this fix also be back ported to 8.0 ?

[2020-08-13 18:03] melloware commented on #6219
The best you can hope for is for @mertsincan to put it in Elite 8.0.4 but no it will not be ported to Community 8.0.  You will have to wait for Community 9.0 if you are not an Elite subscriber.

[2020-08-13 18:24] koan00 commented on #6219
Yes I meant 8.0.4, thanks!

[2020-08-13 21:16] koan00 opened #6221 "TextEditor: HTML Sanitizer runs even when configured with secure=false"
**Describe the defect**
We created a custom component that extends the standard PrimeFaces p:textEditor because we needed to add customization such as Quill image resize plugin support. Along with that we modify the standard quill image blot such that the IMG tag may contain HEIGHT and WIDTH attributes which quill would normally strip. This worked up through PF 7.0, but broke with 8.0. We debugged

[2020-08-14 10:53] #6221 closed, assigned to koan00

[2020-08-14 10:56] melloware commented on #6221
Thank you for the explanation and the PR.  This makes perfect sense.

[2020-08-14 14:44] #6219 closed, assigned to melloware

[2020-08-14 19:22] melloware commented on #3240
As a note the new InputMask actually fixes an RTL issue too here reported on Stack Overflow: https://stackoverflow.com/questions/63416101/primefaces-jquery-inputmask-rtl-date-issue

[2020-08-15 12:55] mirmalag commented on #6187
Same problem here, causing some serious headaches, difficult to work-around

[2020-08-15 12:55] mirmalag commented on #6187
Any news about it?

[2020-08-15 15:40] melloware commented on #6187
I didn't spend too much time on it but I did not find the root cause yet.

[2020-08-15 15:52] mirmalag commented on #6187
I understand is not so easy to dig out.
Anyway, thank you for notifying me.
Hope to hear from you again soon.

Best regards,
Mirco

Mirco Malaguti

mirco.malaguti@ingeniaonline.it

[2020-08-16 13:50] melloware opened #6224 "Password: Ignore LastPass attribute"
**Description**
We just got burned by a `p:password` in a dialog form that was hidden and LastPass was filling it out automatically.  You can tell LastPass to ignore fields by adding `data-lpignore="true"` on the element.  I know this can be done with JSF 2.2 PassThrough `pt:data-lpignore="true"` but i think it would be a nice feature of password so users don't have to go look for this special fla

[2020-08-16 18:28] Rapster commented on #6224
As long we support JSF 2.0/2.1, we don't have a choice but to create this new attribute 😅

[2020-08-17 06:46] chovyy commented on #3812
We had the same issue with PrimeFaces 7 and fixed it by setting a unique `widgetVar` for every table. Applied to the reproducer code from the initial post, it would be something like:
[code]

You can see from the browser console that the AJAX requests already contain the wrong table ids when you don't do that. So, any fixes on the server side won't help here.

[2020-08-17 09:27] OBreidenbach commented on #6132
@melloware, @tandraschko, @Rapster, @mertsincan  any suggestions how we can go on with this?

[2020-08-17 11:17] melloware commented on #6132
I am not sure either so i will defer to @mertsincan and @tandraschko

[2020-08-17 11:39] melloware commented on #3812
@chovyy I just tried yours with the reproducer and only the 2nd table still gets submitted.
[pf-3812.zip](https://github.com/primefaces/primefaces/files/5083958/pf-3812.zip)

Am I doing something different than you?

[2020-08-18 11:55] melloware commented on #6187
Can any or all of you try this.  Add this to your javascript file that loads after PF.  And let me know if it fixes your issue?
[code]

[2020-08-18 12:28] jepsar opened #6226 "EL function closestWidgetVar"
Currently you have an EL method `resolveWidgetVar(String expression, UIComponent source)` to find a widget var. I would like to have a method to find the widget var relative to the current component, so go up to the root until a component which implements `Widget` is found.

I created this method in my project:
[code]
It uses Java 9 and OmniFaces, so it needs a bit of rewriting. If you want to I c

[2020-08-18 12:35] melloware commented on #6226
I would say submit the PR for review.

[2020-08-18 12:56] tandraschko commented on #6226
i would give it a other name like: closestWidgetVar

[2020-08-18 12:56] tandraschko commented on #6226
and allow to pass a component

[2020-08-18 13:13] tandraschko commented on #6226
and also introduce closestWidget, which can be reused by closestWidgetVar

[2020-08-18 13:23] #6224 closed, assigned to melloware

[2020-08-18 13:27] BirolYildiz opened #6227 "Timeline: showCurrentTime uses default system timezone to show current time instead of clientTimeZone"
**Describe the defect**
If you set `showCurrentTime="true"`, the timeline shows a red, vertical line displaying the current time. Currently, it shows the current time using the system's default timezone, making the current dependent on the machine where the app is running. Effectively making this attribute useless, if your PrimeFaces app serves users from multiple timezones.

**Environment:**
 - P

[2020-08-18 13:47] melloware commented on #6227
The `clientTimezone` attribute defaults to NULL and above in your example you have not set it on the p:timeline?  I assume you mean client timezone if its not NULL?

[2020-08-18 13:52] melloware commented on #6227
Nevermind we have a function that tries to evaluate it and if its NULL we use `System.defaultZoneId();`

[2020-08-18 13:55] tandraschko commented on #6132
@melloware
i wonder why its writable? https://github.com/primefaces/primefaces/commit/0b3bab65696a6730b453ca8ac67c6cf91c0f9775#diff-dbd5bf010355a6e45344e7e75e5ff676R152

[2020-08-18 13:58] melloware commented on #6132
Well that was to fix if someone wanted a dynamic rows="#{EL}" it was never re-evaluating the EL.  See: https://github.com/primefaces/primefaces/issues/4931

[2020-08-18 14:15] tandraschko commented on #6132
nono, my question is why #{cc.attrs.myrows} with a fixed value=10, is a writeable EL? Or what else doesnt work in this case?

[2020-08-18 14:17] melloware commented on #6132
Huh that is a good question.

[2020-08-18 14:37] BirolYildiz commented on #6227
Yes, sorry. The client timezone was set. I'll edit the bug description.

[2020-08-18 14:55] #6227 closed, assigned to melloware

[2020-08-18 15:20] tandraschko commented on #6132
if i understand correctly, the rows attribute should be saved as attribute as the VE isnt writeable actually?

[2020-08-18 18:47] christophs78 opened #6230 "DataTable: automatically detect lazy-attribute"
Does value implement LazyDataModel? Yes --> lazy=true

[2020-08-18 19:03] tandraschko commented on #6230
We cant remove the attr but Autodetect is ok as lazy can also be used with a simple list

[2020-08-18 19:06] christophs78 commented on #6230
Clear. We only autodetect this if it was not set explizit.

[2020-08-19 08:31] Rapster commented on #2110
@tandraschko please could have a look at your settings regarding this EOL issue? It keeps happening...

[2020-08-19 08:35] tandraschko commented on #2110
i have to switch to intellij as not supported in NB but this wont happen before autumn.

[2020-08-19 08:43] #6230 closed, assigned to Rapster

[2020-08-19 08:43] tandraschko commented on #6230
@christophs78  can you adjust the showcase please?

[2020-08-19 09:05] chovyy commented on #3812
I'm sorry, I wasn't able to get your project to run quickly and at the moment I don't have the time to dive further into it. From the code, it looks good. I just can tell, that setting the widgetVar fixed it for us.

[2020-08-19 09:07] christophs78 commented on #6230
Yes, I will update the showcase. And we should do the same for DataView, DataGrid and DataList.

[2020-08-19 11:08] christophs78 commented on #6230
Ah. :-) The modification was done for UIData. Very good.

[2020-08-19 11:36] #2168 closed, assigned to melloware

[2020-08-19 11:39] melloware commented on #6187
Any Input from this fix @mikeante81 @mirmalag @dieuph ???

[2020-08-19 13:12] tandraschko commented on #6132
you owe me a beer now ;)

[2020-08-19 13:12] #6132 closed, assigned to nobody

[2020-08-19 13:20] melloware commented on #6132
Nice work !!!

[2020-08-19 13:56] mirmalag commented on #6187
Hi there,
office is closed for summer holidays.
I’ll test it as soon as I can and give feedback.

Thank you to get on it,
Mirco

[2020-08-19 15:27] #5646 closed, assigned to tandraschko

[2020-08-19 15:46] tandraschko commented on #5646
we still use javax.xml but AFAICS there is no jakarta.xml impl yet.

[2020-08-19 20:12] #6226 closed, assigned to jepsar

[2020-08-19 20:12] tandraschko commented on #6226
Thanks for the PR!

[2020-08-21 09:12] jepsar commented on #6144
I've been playing around with this for a while. I think this cannot be done without impacting themes. Should we ask @mertsincan for his opinion on this?

[2020-08-21 10:38] blutorange opened #6236 "SelectCheckboxMenu: Calls Converter#getAsString with serialized string, compares string with object"
Unless I'm doing something horribly wrong, it seems that `SelectCheckboxMenuRenderer#encodeMultipleLabel` mixes the converted string value with the actual object in at least two places.

**Reproducer**

* Clone the current showcase https://github.com/primefaces/primefaces-showcase (9.0-SNAPSHOT)
* Edit `src/main/webapp/ui/input/checkboxMenu.xhtml` and add the following xhtml
* Create a `AtLeast2Va

[2020-08-21 11:45] melloware commented on #6144
i added @mertsincan and the label theme for you.

[2020-08-21 11:46] melloware commented on #6236
@blutorange can you compare the two components and see what you think might needs fixing?

[2020-08-21 12:55] blutorange commented on #6236
I guess for starters the `submittedValues` should be passed through `FacesConverter`, but I can take a closer look during the week end.

[2020-08-21 12:56] melloware commented on #6236
much appreciated

[2020-08-21 13:39] #1077 closed, assigned to tandraschko

[2020-08-21 13:40] melloware commented on #1077
excellent!

[2020-08-21 14:37] BirolYildiz commented on #64
Are there any plans to implement this?  cc @melloware

[2020-08-21 14:58] melloware commented on #64
Well its been open for 5 years so most likely the only way it will get implemented is if a community member has this need and donates a quality PR or you can sponsor it by paying PrimeTek either through PRO account or 1 time Case Quote: https://www.primefaces.org/support/

[2020-08-21 15:02] stolp commented on #64
Just to make this clear for me, this feature request is solely about dropping external events, and not a drag-drop reordering of already existing events?

[2020-08-21 18:30] Rapster commented on #1077
Good job! Shouldn't be `addFormDataFromInput` instead of `PrimeFaces.ajax.Request.addFromDataFromInput` though?

[2020-08-21 19:18] tandraschko commented on #1077
You mean "from" vs "form? Would be great If you can fix it, should be "FormData" of corse

[2020-08-21 21:15] christophs78 opened #6238 "DatePicker: built in conversion for LocalDateTime does not support timeZone-attribute"
**Describe the defect**
When you bind DatePicker (or maybe Calendar) to LocalDateTime and set timeZone-Attribute this does not have any impact. This is because LocalDateTime is without a timezone. (Seems like i forgot this on some point in time.) IMO there´s no easy solution for this. The work-around / solution should be to use `<f:convertDateTime type="zonedDateTime" />`
(I run into this during l

[2020-08-22 12:09] melloware commented on #6238
this is a tough one.  because the user has chosen LocalDateTime to me they are forgoing a TimeZone.   I think we should add a note to the documention and maybe even throw a FacesException if they have a TimeZone set and are using a LocalDate, LocalTime, or LocalDateTime??

[2020-08-22 12:57] melloware commented on #2551
@ReedElliott this is as designed.  In cases like this one your `process` is appended to the `this` its not a replacement setting.  This is how the core PrimeFaces Ajax works so my suggestion to you would be to add this snippet if you really don't want `this.id` included with the AJAX request.

[code]

[2020-08-22 12:57] #2551 closed, assigned to nobody

[2020-08-22 13:03] #3901 closed, assigned to nobody

[2020-08-22 13:10] melloware opened #6240 "Core JS: getTheme()"
**Description**
We already have this code in PF Extensions but a JS utility to get the currently loaded theme.

Example:
[code]

Would print out "omega".

[2020-08-22 13:18] melloware commented on #6240
![image](https://user-images.githubusercontent.com/4399574/90956888-6de1f000-e458-11ea-9d1f-188d4a9e997c.png)

[2020-08-22 14:21] GedMarc commented on #6238
Hmm LocalDateTIme is always in the local timezone unless specified (loaded) otherwise -
I think ZonedDateTime is right for the requirement -

When I came across this in my set, specially on UI inclusion, I had to add quite a few to handle all the types, and then for UI handles, expose the type and allow custom formatting. The java.time set is very very strict on in put formats so a UI with "yyy/MM

[2020-08-22 15:08] BirolYildiz commented on #64
Yes, that's my understanding. Here's a [demo](https://fullcalendar.io/docs/external-dragging-demo) from FullCalendar. Drag-drop reordering is already possible, if you look at the PF showcase.

[2020-08-22 19:04] Rapster commented on #6230
I'd like to come back on this Thomas:

I understand you can implement a lazy loading without LazyDataModel, but then why setting `DataTable#lazy` to true if you're not using LazyDataModel?

[2020-08-22 19:15] tandraschko commented on #6230
I cant remember but lazy=true is/was used to internally not just for detecting the value-type.
Maybe you can check old google issues, we removed the lazy attribute and reintroduced it in the past ;)

[2020-08-22 23:19] Rapster commented on #6230
Ok, i found the issues:
- https://code.google.com/archive/p/primefaces/issues/2993
- https://code.google.com/archive/p/primefaces/issues/3840

Basically, DataTable#lazy was automatically detected with the value reference type which cause a few issues _(e.g Object MyController#lazyDataModel() wouldn't work)_... Swift RHino mentionned another issue with this use case:

But I tried, and works fine. E

[2020-08-23 00:05] Rapster commented on #6169
I submitted a PR for this, @eric-5512 you can have a try with your original code to see if it works

[2020-08-23 07:14] christophs78 commented on #6230
@Rapster : I currently work on integration-tests. Especially for DataTable. (see https://github.com/primefaces-extensions/primefaces-integration-tests/pull/18)
Hope this helps at some point in the future to allow for more refactorings without introducing major regressions.

[2020-08-23 09:43] Rapster commented on #5868
This fix reverts this issue: https://github.com/primefaces/primefaces/issues/3917

@tandraschko @melloware I'd like to hear your thoughts? My fix is simple, if an item is disabled it shouldn't be part of the selection, just like when an input is disabled it is not decoded.

[2020-08-23 11:57] melloware commented on #5868
Agreed, i feel like there may be a better way to solve this PRO user's issue.

[2020-08-24 15:01] mertsincan opened #6243 "Different contextMenus are not working on multiple components"
Reported By PRO User;

Left and right should have different contextMenus.
But, the contextMenu is only working on the right side. The contextMenu on the left side comes from my browser.

[2020-08-24 15:02] #6243 closed, assigned to mertsincan

[2020-08-25 07:32] Rapster commented on #5868
First, I don't think there is any bug in here unless you guys agree an element can be "active" and "disabled", I tend to disagree with this but still let me know.

If we want a fix for this user, I might have an idea which would be, first revert that commit and add a new CSS class for those element selected and then disabled.

[2020-08-25 08:23] tandraschko opened #6245 "Sidebar: Modal doesnt block clicks to view"
It worked correctly in 8.0
the sidebar closed when clicking in the modal / elements on the "hidden" view

[2020-08-25 08:35] tandraschko commented on #6245
@melloware you did some fixes here in the sidebar, could you please check it? its easy reproducable in the showcase

[2020-08-25 10:15] tandraschko opened #6246 "Schedule: build with release profile fails"
[ERROR] D:\OpenSource Projects\primefaces\src\main\resources\META-INF\resources\primefaces\schedule\build\src\main.js [1:7]: syntax error
[ERROR] ...D:\OpenSource Projects\primefaces\src\main\resources\META-INF\resources\primefaces\schedule\build\src\main.js:line 1:column 7:syntax error
        export * from '@fullcalendar/core';
[ERROR] D:\OpenSource Projects\primefaces\src\main\resources\META-IN

[2020-08-25 10:29] kguelzau commented on #5807
Are the any plans to backport this to 6.2.x?

[2020-08-25 11:15] melloware commented on #5807
@kguelzau PrimeTek usually doesn't backport that far. Only the latest 2 versions are updated 7.x and 8.x Elite.  Once PF 9 comes out they drop support for PF 7.

[2020-08-25 11:16] melloware commented on #6246
I will look at this one.

[2020-08-25 11:18] melloware commented on #5868
@Rapster i say you submit you PR for review.  I think you have the right idea for fixing both issues.

[2020-08-25 11:32] melloware commented on #6245
Yep its when I was fixing #1991 and #5948 I added the same `pointer-events` to all modal masks.  I need to remove them from Sidebar.

Was:
[code]

I made it:
[code]

because it all other modal situations users want keyboard and mouse blocked in the modal area so you can

[2020-08-25 11:47] melloware commented on #6245
OK tested using latest showcase and fixed modal issue and a dynamic=true issue i found.  Will also be updating showcase PR.

[2020-08-25 11:48] #6245 closed, assigned to melloware

[2020-08-25 11:54] tandraschko commented on #6245
Still not working for me
http://localhost:8080/showcase/ui/overlay/sidebar.xhtml?jfwid=f5d49
Open a sidebar and click on "Widget" button behind modal, still works

[2020-08-25 11:58] melloware commented on #6245
OK let;s make sure we are talking about the same thing.
1. 8.0 Open a Sidebar and click anywhere in the "grey" modal mask area and the sidebar closed.

2. 9.0 Same thing but clicking anywhere in the "grey" modal mask did NOT close the sidebar.

Is that correct?

That is because
[code]

Makes it so the entire "grey" modal area is non-clickable and thus is not closing the sidebar.

Are we talking ab

[2020-08-25 12:01] tandraschko commented on #6245
1) 8.0 Open a Sidebar and click on the "Widget button" in the "grey" modal mask area and the sidebar closed AND the button is not clicked

2) 9.0 Same thing but clicking on the "Widget" button in the "grey" modal mask did NOT close the sidebar AND the button is clicked

[2020-08-25 12:01] melloware commented on #6245
Hmm OK let me try that.

[2020-08-25 12:07] melloware commented on #6245
I see the problem.  Working on a fix.

[2020-08-25 12:42] melloware commented on #6245
OK try my latest commit.  I had to remove `pointer-events` from the mask to make it work.  Which is strange because I am doing exactly what PrimeReact is doing so maybe they have a bug there and don't know it.

[2020-08-25 12:51] #6246 closed, assigned to melloware

[2020-08-25 12:52] melloware commented on #6246
OK @tandraschko this is fixed if you want to try again.  It was picking up the build folder and the node_modules etc under schedule.  I have excluded the `build` folder and everything is working now.

[2020-08-25 14:09] stolp opened #6250 "InputText: Support HTML5 events"
**Description**
If text is pasted via the browser menu, the change in the inputtext field goes unnoticed on the server side. Even if the component is registered for 'change' Ajax events, this change will not be propagated immediately. This is especially nasty if you rely on detecting the dirty state of a form on the server side.

**Describe the solution you would like**
A working solution has alre

[2020-08-25 14:15] tandraschko commented on #6250
not sure
change == onchange
so when onpaste doesnt trigger onchange, you should probably register a p:ajax for onpaste (which currently isnt possible probably)

[2020-08-25 14:15] tandraschko commented on #6245
works again, thanks

[2020-08-25 14:25] melloware commented on #6250
But @tandraschko i believe Jquery `trigger('change')` triggers it no matter what if it has an onchange or AJAX change event registered. This seems like a sensible expectation of this component?
[code]

Should be a pretty harmless and effective change no?

[2020-08-25 14:31] tandraschko commented on #6250
actually not sure
onpaste is more like keyup actually, which can happen multiple times before leaving the input and trigger onchange?

[2020-08-25 14:52] stolp commented on #6250
I agree that onpaste and onchange are probably indeed two different pair of shoes,

So maybe it would be a cleaner solution to add onpaste as an additional event types to the list of supported events?

[2020-08-25 18:37] melloware commented on #6250
Since these inherit JSF HtmlInputText i would think 'paste` needs to be added to JSF Impl??

[code]

[2020-08-25 18:39] mossaab0 opened #6251 "Schedule: columnHeaderFormat documentation"
**Describe the defect**
When I specify a custom value for `columnHeaderFormat`, the locale is not honored anymore. E.g., I get **Mo, Tu, ... Su**, instead of their French equivalent **Lu, Ma, ... Di**. Note that I do get the French names when `columnHeaderFormat` is not explicitly specified.
[code]

**Environment:**
 - PF Version: 8.0
 - JSF + version: joinfaces 4.3.0 (primefaces-spring-boot-start

[2020-08-25 18:44] melloware commented on #6251
I don't think your columnHeaderFormat is correct is it?
Doc: https://fullcalendar.io/docs/v4/columnHeaderFormat

[2020-08-25 18:48] tandraschko commented on #6250
Yeah; also related to: https://github.com/primefaces/primefaces/issues/1493

[2020-08-25 18:50] mossaab0 commented on #6251
I didn't find PF specific documentation for `columnHeaderFormat`. What I posted works as expected (i.e., it shows the first two characters of the day of the week only for the `timeGridWeek` view), except for the Locale part.

[2020-08-25 18:55] melloware commented on #6251
I just tried this and it worked `columnHeaderFormat="timeGridWeek: {weekday: 'long'}`

![image](https://user-images.githubusercontent.com/4399574/91215868-10ad9f00-e6e3-11ea-8559-f5c2d8828cbf.png)

[2020-08-25 19:04] mossaab0 commented on #6251
That helps. Thanks!

I've got the `dd` notation from https://fullcalendar.io/docs/v3/columnHeaderFormat. I see that this is an old version. It seems that `dd` is still supported (because it works on PF8.0, which loads FC v4.3.1), but undocumented? Perhaps, this is why its locale break?

[2020-08-25 19:09] mossaab0 commented on #6251
This is what I get with `columnHeaderFormat="timeGridWeek: 'dd'"`:
![Untitled](https://user-images.githubusercontent.com/2341730/91217058-d528ca00-e70e-11ea-85a0-fc140f2f81c8.png)

[2020-08-25 19:12] melloware commented on #6251
Hmm that should not work according to the FullCalendar Docs.

The values for weekday are `narrow`, `short` and `long`??

Here is what `columnHeaderFormat="timeGridWeek: {weekday: 'narrow'}"` looks like...

![image](https://user-images.githubusercontent.com/4399574/91217391-6c792780-e6e5-11ea-9a0c-b8d194a03141.png)

So I am not sure where you are coming up with 'dd' as a valid value?

See: https://

[2020-08-25 19:15] melloware commented on #6251
The old FullCalendar V3 docs have the 'dd' https://fullcalendar.io/docs/v3/columnHeaderFormat but PF 8.0 uses FullCalendar 4.0 and the documentation i have provided above.

[2020-08-25 19:17] mossaab0 commented on #6251
Thanks @melloware! `{weekday: 'narrow'}` is useful. I'll settle with it and close the issue. It seems that `dd` is still (unofficially?) supported in FC 4.0, which contributed to the confusion.

[2020-08-25 19:18] melloware commented on #6251
No problem. Yeah they might have left it in but I can confirm its removed fully in FullCalendar v5 which PF9.0 will use.

[2020-08-25 19:44] melloware commented on #1493
I am going to take a crack at trying to implement this since it didn't make JSF 2.3. I will ask for reviews of PR once made.

[2020-08-25 21:58] mossaab0 commented on #6251
@melloware  Back to confusion :-)
[PF8](https://primefaces.github.io/primefaces/8_0/#/components/schedule) and [PF9 ](https://primefaces.github.io/primefaces/9_0/#/components/schedule) documentations mention:

columnHeaderFormat  | null  | String  |  Format for column headers. (eg week:'dd DD MMM' or timeGridWeek: 'DD MM', timeGridDay: 'dd')  |
|---|---|---|---|

So, `dd` is indeed (supposedly) su

[2020-08-25 22:11] melloware commented on #6251
Yep docs are wrong. Fullcalender v4 docs are correct.  This component just sits on top of FullCalender.

[2020-08-26 11:55] #6251 closed, assigned to melloware

[2020-08-26 11:56] tandraschko commented on #6246
works fine, thanks!

[2020-08-26 11:56] melloware commented on #6251
I have updated the PF 8.0 and 9.0 documentation.

FullCalendar V3 used to allow 'dd'as you can see here: https://fullcalendar.io/docs/v3/columnHeaderFormat

FullCalendar v4 and v5 do not and switched to use Intl.DateTimeFormat instead: https://fullcalendar.io/docs/v4/columnHeaderFormat

[2020-08-26 11:57] tandraschko commented on #1493
+1
would be great

[2020-08-26 11:59] #6240 closed, assigned to melloware

[2020-08-26 13:33] melloware commented on #6250
Here is a fun fact I just learned while implementing this:
`paste` fires on pasting but BEFORE the text is pasted into the input.  So for an AJAX event if you paste "hello" in the box the AJAX submits but the Input is still empty because paste fires before the text is pasted.
[code]

However, to accomplish this properly the `input` event can be used and it captures basically a combination of "chan

[2020-08-26 13:44] stolp commented on #6250
Thanks, this is both interesting and good news.

This really helps preventing cluttering my input fields with yet another AJAX listener.

[2020-08-26 13:45] melloware commented on #6250
Yep `input` looks like it does exactly what you want so you should be able to replace "change" with "input" when I am done to meet all your needs.

[2020-08-26 13:46] stolp commented on #6250
Hopefully it is not only *my* needs ;-)

[2020-08-26 14:06] melloware commented on #6250
Nah considering #1493 has been open for 4+ years this change is a long time coming.

[2020-08-26 15:21] #1493 closed, assigned to melloware

[2020-08-26 15:21] #6250 closed, assigned to melloware

[2020-08-26 15:23] stolp commented on #6250
Totally impressive. Thanks a million.

[2020-08-26 15:24] melloware commented on #6250
No problem this is a really useful addition for 9.0.

[2020-08-27 06:42] StevenHachel commented on #3791
i try switch from 6.1 to 7.0.15. this problem is not solved!
The change to Primefaces.current() was a lot of work! But unsuccessful!

The change from 4 -> 5 -> 6 always worked. Is Primefaces Dead?

Weblogic 12.1.3.0.0 JavaEE6
jsf-api - 2.1.29-10
omnifaces - 1.14.1
javax.el-api - 2.2.5
primefaces-extensions - 6.1.1

[2020-08-27 06:46] tandraschko commented on #3791
Why should it be dead? Did you check the commits and activity?....

Why not try a newer version like 8.0?

[2020-08-27 06:50] StevenHachel commented on #3791
I've been using Primefaces since version 3 and there has never been such a massive problem when upgrading to a new version.

I hate to move up two levels.

[2020-08-27 06:55] tandraschko commented on #3791
You cant expect that APIs doesn't change for 10 years. Normally you migrate to 2 other frameworks in this time ;D Check the migration guide, everything is good documented there.

[2020-08-27 07:47] GedMarc commented on #3791
That is completely unrealistic @StevenHachel - you can't fault on updating your frameworks and then throw your toys when you're out of date.
You fell behind, do the work to catch up.
You can't expect things to work the same they did 5 years or code in the same way you did all those years ago, the technology has changed, quicker now than ever before.

[2020-08-27 08:07] StevenHachel commented on #3791
i will try again
It is a very large project and therefore very tedious to test everything again.

[2020-08-27 08:09] StevenHachel commented on #3791
There is a reason why it is!

[2020-08-27 08:32] GedMarc commented on #3791
@StevenHachel There is always a reason on why it's held back, some banks are still running JDK1.4 for pete's sake I'm not about to tell them to upgrade to jackson 2.11, I tell them the R swearword - what is unrealistic is your request, and the comments of things like "i hate moving up 2 versions" -
So... Welcome to reality. Where if you are unfortunately stuck behind, you are left behind.

[2020-08-27 08:37] StevenHachel commented on #3791
@GedMarc  "Hate" may be wrongly expressed. bad english, sorry. Unfortunately we don't have the capacity that larger companies have, so it's all a bit difficult!

[2020-08-27 10:50] morvael opened #6256 "sortMeta in p:dataTable missing"
According to https://primefaces.github.io/primefaces/8_0/#/components/datatable there should be sortMeta property in p:dataTable, yet:
![missing](https://user-images.githubusercontent.com/1133953/91433596-cef83200-e863-11ea-9e5b-302c24bba1b2.png)

Primefaces 8.0.3

[2020-08-27 10:52] morvael commented on #6256
Used sortBy to provide initial sort order for multisort table. It worked in PF 7.

Also, what should be provided into columnKey field of SortMeta object? In PF 7 I've used:
[code]

[2020-08-27 10:58] morvael commented on #6256
What is they key of the sortMeta map? Why wasn't this mentioned in the Migration Guide?

[2020-08-27 11:17] melloware commented on #3791
@StevenHachel I understand your frustration but the amount of improvements, security fixes, and bug fixes has been absolutely massive since 6.1  I think over 1200 GitHub tickets have been closed and I know at least 3-4 major security CVE's.  So I highly recommend going to PF8 and reading the Migration Guide.

Yes it will be painful but it will be worth it.

[2020-08-27 11:24] melloware commented on #6256
OK a few things..
We have this open ticket: https://github.com/primefaces/primefaces/issues/5438

Here is what I do...
[code]

and in Java Code use a LinkedHashMap.  The key is the `ID` of the UIColumn like `frmOrganizer:tblOrganizer:colTagId`
[code]

[2020-08-27 11:25] #6256 closed, assigned to nobody

[2020-08-27 12:19] morvael commented on #6256
So there will be the new sortMeta tag or the old sortBy will be used?

[2020-08-27 12:34] melloware commented on #6256
I think the idea for 9 is there will be a new SortMeta tag, it was not in the taglib.xml of PF8.

[2020-08-27 12:36] morvael commented on #6256
Ok, so the documentation is wrong.

[2020-08-27 12:39] melloware commented on #6256
Yep hopefully getting fixed for 9.0 with #5348

[2020-08-27 12:49] stolp commented on #6256
@melloware:I think it is #5438 instead of #5348

[2020-08-27 12:51] melloware commented on #6256
Whoops!  yep too many similar numbers

[2020-08-27 12:54] melloware commented on #6256
duplicate of #5438

[2020-08-27 16:53] StevenHachel commented on #3791
@melloware Thanks a lot for this. :) I will upgrade to 8.0 soon. Hopefully it won't be too much of a hassle. :-)

[2020-08-28 10:27] blutorange opened #6257 "Calendar/DatePicker: Error with SimpleDatePattern with 1-letter year (eg. dd.MM.y)"
**Describe the defect**

So unless I understand the docs wrongly, the `pattern` option on <p:calendar> and <p:datePicker> allows for a [SimpleDateFormat](https://docs.oracle.com/javase/10/docs/api/java/text/SimpleDateFormat.html) pattern.

When the year portion of the pattern is  `yyyy` (full year) or `yy` (2 digits), everything works. However, when it is only `y`, it won't work (see below).

This

[2020-08-28 11:14] melloware commented on #6257
Yep this whole converting from Java to Javascript dates has been a mutliyear bug fix battle if you look through the history of Calendar tickets. :)

[2020-08-28 13:14] melloware opened #6258 "Modal: Focus Trap"
**Description**
We have 3 separate issues that I tried to solve using `pointer-events: none` CSS to block keyboard and mouse input to the modal area.  None of them quite work to solve all use cases:

BlockUI: https://github.com/primefaces/primefaces/issues/1325
Dialog: https://github.com/primefaces/primefaces/issues/1991
SideBar: https://github.com/primefaces/primefaces/issues/6245

All have sligh

[2020-08-28 13:56] christophs78 commented on #6258
We should try this. Run a good amount of manual (regression-)tests and write some integration-tests. I'll try to allocate some time. But IMO it's important that multiple persons check this. (Due to the amount of possible usecases,...)

[2020-08-29 09:56] pfumi opened #6260 "InputNumber description of attributes not in line with documentation"
The description of the inputNumber attributes in https://github.com/primefaces/primefaces/blob/8.0/src/main/resources/META-INF/primefaces-p.taglib.xml is not in line with the documentation at https://primefaces.github.io/primefaces/8_0/#/components/inputnumber

Example:
emptyValue (primefaces-p.taglib.xml)

emptyValue (Documentation site)

**Environment:**
 - PF Version: _8.0_

**Expected behavior

[2020-08-29 09:58] pfumi commented on #6260
Please also fix in 8.0.x release

[2020-08-29 11:51] #6260 closed, assigned to melloware

[2020-08-29 13:11] pfumi commented on #6260
@melloware emptyValue was just an example. Can you please also adjust the following attributes (other attributes are okay I guess):

- leadingZero (is not in documentation at all)
- decimalPlaces
- maxValue
- minValue
- symbolPosition

[2020-08-29 13:15] pfumi commented on #6260
Is there any chance to get this into 8.0.4 by a PrimeTek staff member?

[2020-08-29 13:15] melloware commented on #6260
Ahh please be specific next time. I thought you were pointing out the 1 issue was wrong. Always list everything that is wrong.

[2020-08-29 13:16] pfumi commented on #6260
Sorry, next time I do for sure :)

[2020-08-29 13:28] melloware commented on #6260
Updated..
- taglig.xml to have correct descriptions
- 8.0 docs updated : https://primefaces.github.io/primefaces/8_0/#/components/inputnumber?id=inputnumber
- 9.0 docus updated:  : https://primefaces.github.io/primefaces/9_0/#/components/inputnumber?id=inputnumber

[2020-08-29 13:30] melloware commented on #6260
Note you may have to press CTRL+F5 in your browser to refresh the docs as they may be cached.

[2020-08-29 15:04] melloware commented on #904
Mutliple scopes is not natively supported by JQuery UI and would have to be hacked to make work.  Since no upvotes in 5 years not worth trying to hack this feature in.

[2020-08-29 15:04] #904 closed, assigned to nobody

[2020-08-29 17:11] melloware commented on #1991
Here is an example of truly the only way to fix this issue and it can't be done by PF it has to involve the developer using a `<main>` in their HTML and including the dialog outside of it and a combination of JQuery.
Runnable:
[modal-dialog.zip](https://github.com/primefaces/primefaces/files/5145640/modal-dialog.zip)

[code]

[2020-08-29 17:11] melloware commented on #6258
Here is an example of truly the only way to fix this issue and it can't be done by PF it has to involve the developer using a `<main>` in their HTML and including the dialog outside of it and a combination of JQuery.
Runnable:
[modal-dialog.zip](https://github.com/primefaces/primefaces/files/5145640/modal-dialog.zip)

[code]

[2020-08-29 17:14] #6258 closed, assigned to melloware

[2020-08-30 13:56] melloware commented on #1991
Documentation has been updated with complete example: https://primefaces.github.io/primefaces/8_0/#/components/dialog?id=modal

[2020-08-30 13:58] melloware commented on #6238
Where did we land on this?  Throwing an error or trying to go through gyrations to convert for timezone?

[2020-08-30 14:14] christophs78 commented on #6238
Throwing an error and add some docu.
Bonus would be to provide a converter for ZonedDateTime as suggested by @GedMarc. But IMO a stand-alone-converter and not add it implicit to our exisiting Calendar/DatePicker-classes.

[2020-08-31 11:47] jepsar opened #6269 "DatePicker: document AJAX Events"
Allowing you to use [disabled dates](https://primefaces.github.io/primefaces/8_0/#/components/datepicker?id=date-restriction) limited to the month(s) currently shown.

[2020-08-31 13:01] mikeante81 commented on #6187
Hi, the fix doesn't solve the issue.

[2020-08-31 14:12] melloware commented on #6187
@mikeante81 Here is a reproducer:
[pf-6187.zip](https://github.com/primefaces/primefaces/files/5150790/pf-6187.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml.  You will see when you edit a row only 1 console output not 3 times for `console.log('Cell Edit Focus');`   Can you check you have your setup exactly like mine.  The JS override is in the fil

[2020-08-31 14:16] melloware commented on #6269
@jepsar I assume you mean Navigate whenever the months are moved forward or backward?  What about year?

[2020-08-31 14:22] jepsar commented on #6269
@melloware For both (so year as well). You can assign this issue it to me if want to. Or are you already working on in?

[2020-08-31 14:24] melloware commented on #6269
it looks like it already exists as `viewChange` event?
[code]

[2020-08-31 14:43] jepsar commented on #6269
Thanks! I didn't look at the source yet, only the [documentation](https://primefaces.github.io/primefaces/8_0/#/components/datepicker?id=ajax-behavior-events) (which needs to be updated). I'll create a PR for that.

[2020-08-31 14:45] melloware commented on #6269
Yep I thnk we need to add a MD Table for the 3 special events `dateSelect`, `viewChange`, and `close`.  I have just updated the 9.0 docs to have all the events but it doesn't doc those 3 special ones very well.

[2020-08-31 14:50] melloware commented on #6269
Also you can cut and paste whatever you do to Calendar MD as well as it has the exact same events as DatePicker.

[2020-08-31 15:45] melloware opened #6271 "Cache: HazelCast Update 4.0.3"
**Describe the defect**
Our build is currently failing because of this issue with HazelCast 4.0.1.

[code]

[2020-08-31 16:05] melloware commented on #6271
Looks like 4.0.2 is still vulnerable and there is an open issue to fix it for HazelCast 4.1.
https://github.com/hazelcast/hazelcast/issues/17425

[2020-08-31 19:03] melloware commented on #6169
I personally vote for closing this ticket as a workaround has been provided and as @Rapster researched there is no simple or straightforward way of preventing this at the moment.

[2020-09-01 11:47] jepsar opened #6273 "FileDownload: add multiple file support"
See https://github.com/primefaces-extensions/primefaces-extensions/issues/1

[2020-09-01 12:04] jepsar opened #6274 "DatePicker: numberOfMonths > 1 should only show month + year navigator above the first month"
It could be a personal thing, but I was a bit confused by the multiple navigators, and it seems that they all affect the first month only.

I would have expected navigation above the first month, and the other months just to have heading texts for month and year.

<img width="824" alt="Screen Shot 2020-09-01 at 13 51 35" src="https://user-images.githubusercontent.com/7500178/91848797-48749380-ec5b

[2020-09-01 13:23] melloware commented on #6274
I think I agree with you.  Does changing those other dropdowns affect the control in any way?

[2020-09-01 13:37] jepsar commented on #6274
They all seem to affect the first / leftmost month. I haven't looked in the code yet. I'll have a look tonight.

[2020-09-01 13:49] #6269 closed, assigned to melloware

[2020-09-01 15:26] tandraschko commented on #5454
@christophs78 thats a present for you :P You will just need to test it.

[2020-09-01 15:26] #5454 closed, assigned to tandraschko

[2020-09-01 15:31] melloware commented on #5454
nice work @tandraschko clever change!

[2020-09-01 16:24] christophs78 commented on #5454
Thank you! I´ll provide some integration-tests.

[2020-09-01 19:50] christophs78 commented on #5454
@tandraschko : Just started with some integration-tests. see https://github.com/primefaces-extensions/primefaces-integration-tests/pull/30
But:
![image](https://user-images.githubusercontent.com/10461942/91898956-c6a55a00-ec9c-11ea-886c-dc23ca8af1b1.png)
I don´t get the PrimeFacesContext for `FacesContext.getCurrentInstance()`. As a result the classic JSF addMessage-method is called.
Am I missing

[2020-09-01 20:02] tandraschko commented on #5454
should work actually
can you debug PrimeFacesContextFactory?

[2020-09-02 06:16] christophs78 commented on #5454
From my understanding/debugging `javax.faces.context.FacesContext.setCurrentInstance(xx)` is never called for `PrimeFacesContext`.
So currentInstance is the MyFaces/Mojarra FacesContextImpl.

`PrimeFacesContextFactory` is used and `PrimeFacesContext`-instances are created. But not connected to currentInstance.

[2020-09-02 07:07] tandraschko commented on #5454
weird because PrimeFacesContext#setResponseWriter is called

[2020-09-02 07:30] tandraschko commented on #5454
should work now

[2020-09-02 07:33] christophs78 commented on #5454
IMO because of the following inside FacesServlet
![image](https://user-images.githubusercontent.com/10461942/91945841-5aa80d80-ecff-11ea-8f3f-5c048163e955.png)

I´ll check your last commit. :-)

[2020-09-02 07:49] christophs78 commented on #5454
look good

[2020-09-02 08:35] #5978 closed, assigned to nobody

[2020-09-02 08:43] #6236 closed, assigned to blutorange

[2020-09-02 08:46] #4374 closed, assigned to nobody

[2020-09-02 08:59] tandraschko commented on #5481
whats your plan here @christophs78 ?

[2020-09-02 09:15] tandraschko commented on #5438
All properties related to sort:
* sortMeta
* sortField
* sortBy
* sortOrder
* sortFunction
* sortMode (single | multiple)
* allowUnsorting

Some facts:
1) it seems like sortBy and sortField is similar. One points to a fieldname of the entity, one is a VE? @Rapster Maybe you have a better overview here?
2) if sortMode = multi, sortMeta is the source of all sort informations
3) if sortMode = single,

[2020-09-02 09:30] tandraschko commented on #5438
any thoughts @melloware @christophs78 ?

[2020-09-02 11:19] melloware commented on #5438
I like the idea.

I think the only problem now is if someone has `sortBy='#{el1}' sortOrder='ascending' sortFunction='#{el2}'` declared in EL in the UI now they have to switch to `sortBy='#{bean.sortMeta}` containing a single META entry and change their code completely to have the new Java method that builds this SortMeta?

That might be a pretty drastic change for a lot of people.

[2020-09-02 11:34] melloware commented on #5438
Couldn't we leave everything as is now and just throw Better FacesException if someone is using multiplemode and has any of those 3 props defined and vice versa for single mode if it has `sortMeta` defined?

[2020-09-02 11:45] christophs78 commented on #5481
Thanks for remembering! I try to look at this later this week. (I´m currently on holidays with my family and should not sit to much in front of my notebook.)
Maybe we should move this to 10.

[2020-09-02 11:45] tandraschko commented on #5438
I only talk about DataTable attributes - not column!

[2020-09-02 11:46] melloware commented on #5438
I thought on a DataTable you could delcare those on the Datatable in "single" mode to define the default sorted column no?

[2020-09-02 11:47] melloware commented on #5438
See I documented all the sort attributes in 9.0 here: https://primefaces.github.io/primefaces/9_0/#/components/datatable

[2020-09-02 11:48] tandraschko commented on #5438
ok, maybe we could do something like: initialSortBy which takes the SortMeta object or a List of SortMeta
same for filtering

[2020-09-02 11:51] melloware commented on #5438
so yeah in Multiple Mode if a SortMeta is passed in does become the default sorting.  So your idea of using a single SortMeta field to do it all will work, I was just pointing out it might be a drastic change for people using `sortBy='#{el1}' sortOrder='ascending' sortFunction='#{el2}'` but I am ok with it as long as we have it in migration notes.

[2020-09-02 11:53] tandraschko commented on #5438
we just need to collect cases and do a clean redefine.
sortBy,order,function on DataTable is just used for initial sort? Later by,order,function on columns is used?

[2020-09-02 11:54] melloware commented on #5438
That is correct  Those 3 fields I believe Are just used when the table is loaded the first time as defaults.  Then column values take over once users start manually clicking columns.

[2020-09-02 11:54] jepsar opened #6277 "DatePicker: offer updating disabled dates and days through widgetVar"
I'm using disabled dates based on a database query. I've chosen to only fetch the available dates based on the currently visible month. I was planning to use the `viewChange` listener to fetch available dates again when the view changes. The listener is called, but the component does not (re)read the disabled dates list. I tried updating the component, but that will cause the popup to close.

I wo

[2020-09-02 11:57] tandraschko commented on #5438
yeah, so i would definitily we should wrap this in a initialSortBy - currently its just weird and confusing

[2020-09-02 11:59] melloware commented on #5438
I 100% agree its confusing.

[2020-09-02 12:00] tandraschko commented on #5438
So sortBy='#{entity.field}' on p:dataTable says that the initial-sorted-field?

[2020-09-02 12:06] christophs78 commented on #5438
Just following your discussion. This is a change where dev´s do not get compile-time-errors. Maybe we should do a bit more than only write migration notes. (eg deprecate all old/renamed attributes and write log / throw Exceptions OR write a small tool which scan´s all XHTML´s within a project and generate an HTML-report OR ...)
Cleanup this up would make sense long-term. We just should be sure it´

[2020-09-02 12:16] melloware commented on #6277
Why not in your `viewChange` use `oncomplete='javascript()` to update the DatePicker's internal disabledDates array.
[code]
That is what controls the disabled dates in the drawing of the component.  Or you could try this in the oncomplete
[code]

That would reinitialize all the init values like disabledDates.

[2020-09-02 12:19] melloware commented on #5438
To answer your question @tandraschko yes `sortBy='#{entity.field}` means that field is the default one sorted when the table is rendered the first time.

@christophs78 I agree with you we need to throw exceptions to let people know exactly what they need to fix.

[2020-09-02 12:19] tandraschko commented on #5438
yeah, we can easily remove taglib + propertyKeys and throw exceptions in getter/setter

[2020-09-02 12:21] tandraschko commented on #5438
updated the decription

[2020-09-02 12:24] jepsar commented on #6277
I also looked for a way to it using the widget API. I'll have a look. You might need to trigger a render after setting the disabled dates. Maybe we could offer your suggestion as a function in the widget.

[2020-09-02 12:27] Rapster commented on #5438
<details>
<summary>General talk</summary>
I'm glad you bring that up, that's a topic I wanted to discuss for a while now. But for now, I'm gonna stick to your last comment.

First, there are 2 sets of sort attributes
- the ones defined on DataTable
- the others defined on p:column/p:columns

I never had to use sort properties on DataTable, always been using p:column. I actually don't see exactly h

[2020-09-02 12:27] melloware commented on #6277
So do me a favor see if you can get it working and then we can create a widget method like `updateConfiguration` or something liek that to wrap up all the functionality for an `oncomplete`.

[2020-09-02 12:30] jepsar commented on #6277
Sure thing! I'll post what I came up with here. Not sure when though. I want to do the documentation and showcase on the file download first tonight.

[2020-09-02 12:38] melloware commented on #6277
I think the only trick will be in the `viewChange` we need to pass back the config values else the disabledDates value will still be the original widgets disabledDates since your don't want to update the component and wipe out the popup.

[2020-09-02 13:03] tandraschko commented on #5438
So you can think we can manage initial sortBy only via the order attr on p:column?

sortBy/sortFunction: currently i think sortBy is to define the default sorted field and could be replaced by order-attr on p:column.

[2020-09-02 13:20] melloware commented on #6274
After fix:
![image](https://user-images.githubusercontent.com/4399574/91988566-6a265700-ecfd-11ea-837a-281c2c7634dc.png)

[2020-09-02 13:26] Rapster commented on #5438
Yes, if you define something like `<p:column headerText="Year" field="year" order="asc" />`, then you want that field to be sorted asc by default

Indeed, whichever column having a non null order attribute represent default sorters

[2020-09-02 15:25] melloware commented on #6187
ping @mikeante81 ???

[2020-09-02 17:45] melloware commented on #6271
https://github.com/hazelcast/hazelcast/issues/17444

[2020-09-03 12:44] tandraschko opened #6284 "Core: we should not set sameSite on cookies"
user may want to use it in iframes
so either we make it configurable or remove it for now

[2020-09-03 12:48] tandraschko commented on #6284
same thing is that we should only set secure if secure is activated in web.xml

[2020-09-03 14:02] tandraschko commented on #6284
@melloware can you please review?

[2020-09-03 17:51] Rapster commented on #5481
I don't think it's about cleaning up filters, but removing and testing the removal of processEvent method

[2020-09-03 20:18] Rapster commented on #5481
FYI: https://github.com/primefaces/primefaces/issues/1390#issuecomment-248271391 I think this piece of code causes more problems than it fixes

[2020-09-03 22:19] jxmai opened #6285 "Inconsistent Line Ending: Mix of CRLF and LF in the Repository"
This is the similar issue that was occurred a while back: https://github.com/primefaces/primefaces/issues/3834. For some reason it happens again.

The full list of files that are affected:

[code]
We have the .gitattribute setup. In theory this should not happen :thinking: Anyway, I will fix it in a PR.

[2020-09-03 23:09] #6285 closed, assigned to nobody

[2020-09-04 09:35] Rapster opened #6287 "OutcomeTargetRenderer: null view params occurs NPE"
**Describe the defect**
Using Tomcat 9.0 + EmptyToNullStringELResolver (see https://stackoverflow.com/a/33420995/4605161) occurs NPE while trying to encode the outcome URL.

[code]
**To Reproduce**
Considering this navigation rule:
[code]

One of these values is null and will later on occur NPE. Basically, I'll have a params map with key klaId and values of size 1 being null. I don't think the val

[2020-09-04 10:57] melloware commented on #6284
Looks good to me!  Good idea.

[2020-09-04 11:04] melloware commented on #6287
Agreed. A NULL value should not be added.

[2020-09-04 11:19] #6284 closed, assigned to tandraschko

[2020-09-04 15:38] jepsar commented on #6277
I don't seem to get this to work. First I tried to unset the disabled dates like:

[code]

and then see if I can get the date picker panel to rerender using JS.

[code]

[2020-09-04 15:48] melloware commented on #6277
How about trying...
[code]

[2020-09-04 16:43] melloware commented on #6277
OK if go here and press F12: https://www.primefaces.org/showcase/ui/input/datepicker/datePicker.xhtml

This script worked for me:
[code]

[2020-09-04 17:08] jepsar commented on #6277
Thanks! I ended up doing this to get the panel rerendered:

[code]

It would be cool if we could do `PF('widVar').updateDisabledDates(['9/21/2020', '9/22/2020'])`. Should I create a PR?

[2020-09-04 17:09] melloware commented on #6277
Absolutely create a PR.   Adding widgets methods like this makes the component more usable/flexible.

[2020-09-04 19:35] christophs78 opened #6291 "FileDownload: classic (non-ajax) FileDownload failes due to class-not-found-exception"
**Environment:**
 - PF Version: 9.0-SNAPSHOT
 - Tomcat 9.x

**To Reproduce**

1. Start current Showcase with PrimeFaces 9.0-SNAPSHOT
2. open http://localhost:8080/showcase_war_exploded/ui/file/download.xhtml
3. click to "Download"

This causes:
[code]

Is there something wrong with shading?

[2020-09-04 19:56] melloware commented on #6291
Hmmm weird I just pulled down the latest showcase and both the AJAX and non-AJAX work fine for me?

[2020-09-04 20:27] christophs78 commented on #6291
I´ll cross-check this tomorrow on my workstation. (On my notebook i currently don´t find a way to get rid of this issue.)
Which Java-version and which application-server/version do you use?
(Tried with Java 8 and 14 (AdoptOpenJDK (HotSpot)) on Tomcat 9.0.35)

[2020-09-05 05:06] christophs78 commented on #6291
Same issue on my workstation. (Tomcat 9.0.12 and Java8)

[2020-09-05 08:55] #6291 closed, assigned to christophs78

[2020-09-05 10:43] #6287 closed, assigned to melloware

[2020-09-05 19:59] christophs78 commented on #5481
Created a (currently failing) integration - test for this. Think this our only chance to get quality-issues under control. Reproducer-ZIPs attached to issues are nice but are only limited useful for avoiding regressions.

[2020-09-05 20:50] christophs78 commented on #1390
Created a integration - test for this. Think this our only chance to get quality-issues under control. Reproducer-ZIPs attached to issues are nice but are only limited useful for avoiding regressions.

[2020-09-05 22:05] #6274 closed, assigned to melloware

[2020-09-05 22:21] melloware commented on #1855
Duplicate of #1155

[2020-09-05 22:21] #1855 closed, assigned to nobody

[2020-09-06 08:26] christophs78 commented on #5481
This code was introduced with https://github.com/primefaces/primefaces/commit/20baf62631dd3662c978abb6cb57669940ca967d#diff-ae92f04fa2a452febc87c6833e245f56.

[2020-09-06 12:38] christophs78 opened #6296 "DataTable: evaluate removal of SelectableDataModelWrapper"
follow-up to https://github.com/primefaces/primefaces/pull/6295

originally introduced with https://github.com/primefaces/primefaces/commit/a92e580ac1d4579661653f95001690d154e20851

[2020-09-06 12:59] #6277 closed, assigned to jepsar

[2020-09-06 13:03] jepsar commented on #6277
I think this issue led to a useful addition to the widget. But still, I would like to have some kind of auto update of the date picker panel when the view changes. WDYT?

[2020-09-06 13:13] jepsar commented on #6273
Won't this turn into a possible performance drain? Of course.. it's all in the hands of the user and will depend on the size of the data that needs to be processed.

[2020-09-06 13:18] melloware commented on #6296
Digging through Google Code logs its seems likely that 1 of these was the original issue in 2011:

https://code.google.com/archive/p/primefaces/issues/2270 (most likely this one based on the date)

https://code.google.com/archive/p/primefaces/issues/2094

https://code.google.com/archive/p/primefaces/issues/2393 (linked from 2270)

https://code.google.com/archive/p/primefaces/issues/2272 (linked fr

[2020-09-06 13:27] melloware commented on #6277
If you can figure it out i would create a new issue and PR.

[2020-09-06 13:28] melloware commented on #6273
Whenever i do this in any of my projects I just zip up the data and send a ZIP file to the download rather than multiple downloads.  Been doing that for years so never found the need for a multiple download so far.

[2020-09-07 08:42] matinh opened #6300 "New JavaScript function PrimeFaces.getWidgetsByType()"
A new JavaScript function to obtain widgets on page per type would be nice.
For details see [the forum](https://forum.primefaces.org/viewtopic.php?f=3&t=47792).

A pull request (#6299) for the suggested change was created, as requested.

[2020-09-07 09:20] #6300 closed, assigned to nobody

[2020-09-07 10:02] jepsar opened #6301 "DataTable: body should be rendered before footer"
https://github.com/primefaces/primefaces/blob/cb796a4e7e0be29e715110e7fcfa6a128eddf2a8/src/main/java/org/primefaces/component/datatable/DataTableRenderer.java#L444-L446

The main issue with this is when you have focusable elements in the body and the footer, the tab order is wrong.

I'm aware that the datatable is a complex component, so probably it will take more then just swapping the lines abov

[2020-09-07 11:07] haramoz opened #6302 "ROMA: 2.2.0"
I downloaded the ROMA primefaces 2.2.0 skin which is based on PF 8.0.

When I follow the css generation script it gives the error like this for the all themes.

Error: Can't find stylesheet to import.
  ╷
3 │ @import './designer/_theme';
  │         ^^^^^^^^^^^^^^^^^^^
  ╵
  ..\sass\theme\_theme.scss 3:9  @import
  theme.scss 7:9                 root stylesheet

Any idea how to fix this or where t

[2020-09-07 11:13] tandraschko commented on #6302
Please use the ROMA forum. This issuetracker is only for PrimeFaces Core.

[2020-09-07 11:13] #6302 closed, assigned to nobody

[2020-09-07 11:15] haramoz commented on #6302
ok

[2020-09-07 12:25] melloware commented on #6301
You are right. Might want to look through commit history as to why but this does seem odd.

[2020-09-07 12:28] melloware commented on #6187
@mirmalag Are you back from holiday to test this?

[2020-09-08 13:52] melloware opened #6303 "Diagram: Upgrade jsPlumb to 2.14.6"
**Description**
Diagram is currently using a very old jsPlumb 2.1.0.  (Apr 21, 2016)

**Describe the solution you would like**
Upgrading to the latest 2.14.6 (Sep 4, 2020)

See: https://github.com/jsplumb/jsplumb/blob/master/doc/wiki/changelog.md

[2020-09-08 14:17] melloware commented on #6301
Actually looking at this I think it is just a mistake.  Here is how encode scrollable is..

[code]

it has them ordered correctly.  When I order the `regularTable` method...
[code]
I am running the Showcase and there are no side effects on any of the footer examples...

[2020-09-08 14:46] melloware commented on #5811
Just add this JS to your application to fix it right now.  It will be fixed for 9.0.
[code]

[2020-09-08 14:48] #5811 closed, assigned to melloware

[2020-09-08 15:08] melloware commented on #3603
duplicate of #4726

[2020-09-08 15:08] #3603 closed, assigned to nobody

[2020-09-08 15:40] melloware commented on #4726
Just set the following `containment` property to false:
[code]

[2020-09-08 15:40] #4726 closed, assigned to nobody

[2020-09-08 15:41] melloware commented on #3603
Just set the following `containment` property to false:
[code]

[2020-09-08 16:02] tandraschko opened #6307 "[perf] Reduce object instances"
Before:
223 540 ArrayList$Itr instances in 400 requests with a DataTable

After:
~70 000 ArrayList$Itr instances in 400 requests with a DataTable

[2020-09-08 16:06] tandraschko commented on #6307
@melloware would be great if you can do a short review (hopefully i dont have a i/j mismatch...)

[2020-09-08 16:06] #6307 closed, assigned to tandraschko

[2020-09-08 16:23] melloware commented on #6307
Reviewed and looks great.  I like the precompiled Pattern too, that is my preferred approach.

[2020-09-08 22:28] Rapster commented on #6307
Hopefully `UIComponent#getChildren` will never return a LinkedList 😋

[2020-09-09 08:37] tandraschko commented on #6307
yeah, hopefully :D
did some other improvements, we are down to 65k now
with a newer MF 23next snapshot even under 60k

[2020-09-09 09:11] tandraschko commented on #6307
down to 12k with a MF change
223k vs 12k is a big change, i will try to get the change into tomcat EL impl

[2020-09-09 09:17] tandraschko commented on #6307
https://github.com/apache/myfaces/commit/834a79ad3fac3fb73a28beeb05828bc2c743708e
and
https://github.com/apache/tomcat/pull/355

[2020-09-09 09:33] tandraschko opened #6308 "Core: cache widgetVar pattern"
Currently each Widget will again compile the Pattern, which is required by our Widget scripts

[2020-09-09 09:35] tandraschko commented on #6308
100 widgets = 100 Pattern compiles, which creates ArrayLists, ArrayList$Itr and so on
now
100 widgets = 1 Pattern compile

much better CPU, much better memory

[2020-09-09 09:36] #6308 closed, assigned to tandraschko

[2020-09-09 12:01] melloware commented on #6307
Awesome work @tandraschko

[2020-09-09 12:15] melloware commented on #6308
Great fix.

[2020-09-09 13:07] #6271 closed, assigned to melloware

[2020-09-09 14:21] melloware commented on #1741
Can't reproduce using 8.0 or 9.0-SNAPSHOT.
[code]

[2020-09-09 14:21] #1741 closed, assigned to nobody

[2020-09-09 14:25] melloware commented on #564
We need a reproducible example test case or at least the XHTML code you used to produce the above.  Closing for now unless this is provided.

[2020-09-09 14:25] #564 closed, assigned to nobody

[2020-09-09 14:28] jepsar opened #6310 "AutoComplete: case insensitive autoSelection (and forceSelection)"
https://github.com/primefaces/primefaces/blob/4dff1fb6a5239ad106b43749bf5d6f09002aae86/src/main/resources/META-INF/resources/primefaces/autocomplete/autocomplete.js#L1026-L1031

Now you have exactly input all capitals correctly. Most people will probably search in lower case.

Case insensitivity might also help with `forceSelection`.

Maybe add a `caseInsensitive` flag instead of making it default

[2020-09-09 14:35] melloware commented on #6310
Can you follow the template and provide a use case of exactly what you are expecting?  I am confused by what this ticket is asking for?

[2020-09-09 14:51] jepsar commented on #6310
Sorry, I thought it was clear enough.

Let's say you have a list of currencies containing "Euro". Typing "euro", will find "Euro" (server side search is case insensitive), but it won't be auto selected. I would like to be able to auto select "Euro" when I search for "euro" and remove focus from the field.

I could create a branch of the showcase to show what I'm trying to do.

[2020-09-09 14:52] melloware commented on #6310
Nope I understand now.  PR coming?

If the server side does case insenstive then so should the client side.

[2020-09-09 14:57] jepsar commented on #6310
Well, I would like to have a look tonight. I'm currently at my day job and cannot spend too much time on this now.

True. But the component will not know what is done on the server side.

Do you think case insensitive should be the default? Or add an attribute / toggle?

[2020-09-09 15:03] melloware commented on #6310
Well if we add a "toggle" it should be respected by the client and server side.  so if you add `caseInsensitive` attribute its default should be true and both client and server should respect it.

[2020-09-09 15:05] jepsar commented on #6310
Server side is implemented by the user via the `completeMethod`. We have no control over what's happening there.

[2020-09-09 15:10] melloware commented on #6310
OK understood.

[2020-09-09 15:33] melloware commented on #5465
Any update on this ticket?

[2020-09-09 17:19] melloware commented on #5094
This is due to the fact the sticky is registered for browser resizing but not for when a CSS Media Query makes the sidebar disappear after resize.  there is no Jquery notification for that.
[code]

[2020-09-09 19:56] jepsar commented on #6310
Okay.. It seems I have an XY-problem. I thought I had a fix I wanted to test, but could not reproduce the issue I had in the showcase. It turned out that setting `autoHighlight="true"` helped a lot. So, I'll close this for now.

[2020-09-09 19:56] #6310 closed, assigned to nobody

[2020-09-10 08:29] Rapster commented on #6169
@eric-5512  As a workaround, you can always implement a cache just like the one in the PR I made (as long your lazy model is at least viewscoped)

[2020-09-10 11:07] christophs78 commented on #5465
What do we expect from DataTable#reset?
It clears filtering and sorting, jump´s back to the first page, ... But currently it does not reset rows-per-page.
You should see this in the linked integration-test-PR.

[2020-09-10 11:30] melloware commented on #5465
I would think it would reset rows per page by re-evaluating the EL expression.

[2020-09-10 11:43] rider87 commented on #5326
Can you please fix that in the core PF version?
`rowStatePreserved="true"` was also not working for me.

Please see also my forum post:
https://forum.primefaces.org/viewtopic.php?f=3&t=63298&p=184578#p184578

[2020-09-10 11:58] melloware commented on #5326
@rider87 can you download this reproducer:
[pf-5326.zip](https://github.com/primefaces/primefaces/files/5201390/pf-5326.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml and follow the steps in the original post you will see the bug.

Then stop the reproducer and add
[code]
to the Datatable and re-run you will see the issue is fixed.