[2018-08-27 17:45] #3980 closed, assigned to Rapster

[2018-08-27 20:59] Rapster commented on #3189
Ah ok, you mention jmeter, faster, so I figured how rendering velocity could be speed up... 100k is a lot... Specially for one iterator per collection, I don't know how you can come up with that number

[2018-08-27 21:07] Rapster commented on #3990
@tandraschko I want to give the possibility to make the validation fail (depending what the dev configured) if the password is too weak. How should I proceed? Register an ajax event and write the value into a state holder?

[2018-08-27 21:12] Rapster commented on #3980
I disabled the rule `Constant names should comply with a naming convention` because PropertyKeys are indeed following the convention, but since it's by convention in JSF. I decided to disable to get rid of these errors

[2018-08-27 21:30] Rapster commented on #3980
BTW, why are we skipping tests in the first instructions and mvn test right after?
[code]

While we could execute tests with mvn install?

[2018-08-27 21:40] jxmai commented on #3980
Maybe it was leftover from v1 (https://github.com/primefaces/primefaces/commit/67b2386e067ba80f399ae32390babcd86d8d8609#diff-354f30a63fb0907d4ad57269548329e3) ? @krichter722 please chime in if you have different opinions.   I think it is Ok to use one line to execute install and test.

[2018-08-27 22:36] wsaca opened #3993 "Menu: Not placed correctly when a parent tag is relative"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Yes Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
The menu panel should be placed correctly, under the component that triggers it.

## 3) Actual behavior
The menu panel is not p

[2018-08-28 07:04] krichter722 commented on #3980
@Rapster This is the standard Travis approach whose idea it is to detect compilation issues quicker if the project is split into different subprojects than if tests are run between the compilation of each subproject. It doesn't apply to Primefaces because it has no subprojects and this separation can be removed.

[2018-08-28 07:08] tandraschko commented on #3990
what do you mean exactly?
The submitted value is set in submittedValue, so it's already there
you just have to attach a validator or overwrite #validate

[2018-08-28 07:15] tandraschko commented on #3189
the performance boost comes from less GC if you use jmeter with paralell requests - i'm sure you can't see any difference from a single request when switching the loops.

100k is easily possible if you have a big view as loops are always used to traverse the component tree.

[2018-08-28 07:43] tandraschko commented on #3993
please try it again

[2018-08-28 07:43] #3993 closed, assigned to tandraschko

[2018-08-28 09:00] tandraschko opened #3994 "SelectOneMenu: add new class when the placeholder is used"
called "ui-selectonemenu-label-placeholder"

[2018-08-28 09:00] Rapster commented on #3990
I want to retrieve the value from zxcvbn. The user can define a property (e.g failedOn="weak") and depending what the score is (from zxcvbn) I want validation to fail. submittedValue will contain the password. Basically at the end, I want to be able to retrieve the score when `isValid` is called

[2018-08-28 09:00] #3994 closed, assigned to nobody

[2018-08-28 09:00] Rapster commented on #3980
Okay I'll change that

[2018-08-28 09:03] tandraschko commented on #3990
I would not trust a value from the client in case of validation, so the best way is to rebuild the score-logic on server

[2018-08-28 09:08] huseyinturkmenoglu opened #3995 "Add inputGroup support to chips"

[2018-08-28 09:08] #3995 closed, assigned to nobody

[2018-08-28 11:24] ppelzman opened #3996 "datatable: scrollable attribute with avalon layout- header and column not synchronized"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-08-28 11:32] tandraschko commented on #3996
So this is related to Avalon and doesn't occur without Avalon?

[2018-08-28 11:53] ppelzman commented on #3996
Yes, you are right !

De : Thomas Andraschko <notifications@github.com>
Envoyé : mardi 28 août 2018 13:33
À : primefaces/primefaces <primefaces@noreply.github.com>
Cc : ppelzman <ppelzman@free.fr>; Author <author@noreply.github.com>
Objet : Re: [primefaces/primefaces] datatable: scrollable attribute with avalon layout- header and column not synchronized (#3996)

So this is related to Avalon and do

[2018-08-28 12:02] tandraschko commented on #3996
So please use the Avalon forum, this issue tracker is for PrimeFaces Core only.

[2018-08-28 12:02] #3996 closed, assigned to nobody

[2018-08-28 14:36] wsaca commented on #3993
Now its working... Thank you... :thumbsup:

[2018-08-28 14:55] markusg80 opened #4000 "ContextMenu: support touch events"
## 1) Environment
- PrimeFaces version: **6.2.8**
- Does it work on the newest released PrimeFaces version? **No** Version? **6.2.8**
- Does it work on the newest sources in GitHub? (Build by source ->**not tested because no commit related to that**
- Application server + version: **Payara 5.182**
- Affected browsers: **all**

## 2) Expected behavior

**When pressing long time on the screen the co

[2018-08-28 15:01] tandraschko commented on #4000
PR is very welcome

[2018-08-28 15:03] tandraschko commented on #4000
You could probably workaround it by setting the event to touchstart or something

[2018-08-28 15:07] markusg80 opened #4001 "Ultima Rightpanelmenu: When click inside selecetCheckboxMenu Popup Rightmenu Panel disappears"
## 1) Environment
- PrimeFaces version: **6.2.8 Ultima 1.1.3**
- Does it work on the newest released PrimeFaces version? **No** Version? **1.1.3**
- Does it work on the newest sources in GitHub? (Build by source -> **No**
- Application server + version: **Payara 5.182**
- Affected browsers: **all**

## 2) Expected behavior

**When on SelectCheckboxMenu Popup inside the Rightpanel Menu something is

[2018-08-28 15:09] markusg80 commented on #4001
It is caused because of this code in layout.js:

`if(!$this.rightPanelClick && !$this.rightPanelButtonClick && $this.rightPanel.hasClass('layout-rightpanel-active'))  {
     $this.rightPanel.removeClass('layout-rightpanel-active');
     $this.rightPanelButton.removeClass('rightpanel-btn-active');
}`

[2018-08-28 15:10] tandraschko commented on #4001
Use the ultima forum pls, this issue tracker is only for PrimeFaces Core.

[2018-08-28 15:10] #4001 closed, assigned to nobody

[2018-08-28 15:16] markusg80 opened #4002 "Schedule: Missing height attribute"
## 1) Environment
- PrimeFaces version: 6.2.8
- Does it work on the newest released PrimeFaces version? No Version? 6.2.8
- Does it work on the newest sources in GitHub? (Build by source ->No
- Application server + version: Payara 5.182
- Affected browsers: all

## 2) Expected behavior

it should be possible to set the schedule height either with an attribute or with javascript. Best both!

## 3)

[2018-08-28 15:19] markusg80 commented on #4001
i already used the ultima forum but no answer:

https://forum.primefaces.org/viewtopic.php?f=42&t=56707

Maybe exist an issue tracker for Ultima?

[2018-08-28 15:22] tandraschko commented on #4001
Don't think so. AFAIK layout problems are handled in the forum. But i don't work for PrimeTek ;)

[2018-08-28 15:24] markusg80 commented on #4000
maybe you can use longtouch jquery plugin. Im not so experienced with developing jsf components.

[2018-08-28 15:26] markusg80 commented on #4001
Ok now what i have to do if noone responds on forum? Should i tag Catagay? ;-) Or can u give the Link to someone? And thx for your responding!

[2018-08-28 15:28] tandraschko commented on #4000
JFYI:
this issue tracker is for the community and you have 3 ways to get something fixed or implemented:
1) do it by yourself and provide a PR
2) wait until someone other (including PrimeTek) implements it
3) sponsor it via PrimeFaces PRO

[2018-08-28 15:29] tandraschko commented on #4001
Tag cagatay doesnt change anything probably ;)
Wait for response on the forum or write a mail to PrimeTek.

[2018-08-28 16:28] YahiaZZ opened #4003 "setStyleClass of event in schedule not working in PF 6.1"
## 1) Environment
- PrimeFaces version:
- 6.1
- Application server + version: Apache Tomcat
- Affected browsers: FireFox, GoogleChrome, IE

## 2) Expected behavior
Change the background color of events depending on value from database in bean

## 3) Actual behavior
Nothing happens, the background color not changed

## 4) Steps to reproduce

## 5) Sample XHTML

[code]

## 6) Sample bean
[code]

[2018-08-28 16:30] tandraschko commented on #4003
please use the forum first, this is not a reproducable issue as a runnable example is missing.
Check if the styleclass is added via firebug and then check your selector.

[2018-08-28 16:30] #4003 closed, assigned to nobody

[2018-08-28 16:35] YahiaZZ commented on #4003
Thanks @tandraschko  for your answer,
I searched first in form but I did'nt find the solution
the styleclass  is added , but nothing happens, when i do it with static value, it works

[2018-08-28 16:38] tandraschko commented on #4003
I see but thats probably just an issue, how you exactly use the css and selectors probably. For such things, a forum is the best place to check your case exactly and if this is a bug or just a little bit wrong usage.

[2018-08-28 16:40] YahiaZZ commented on #4003
ok, thank you again @tandraschko , i will try again

[2018-08-28 17:24] OBreidenbach commented on #2451
This can easily be achieved by configure the underlying [fullCalendar ](https://fullcalendar.io) with the provided extender hook.
[code]
IMHO this ticket should be closed.

[2018-08-28 17:27] OBreidenbach commented on #3367
The schedule component is a wrapper around the [fullCalendar](https://fullcalendar.io/).
So you can configure fullCalendar how to render an event:

This can easily be achieved by configure the underlying fullCalendar with the provided extender hook.
[code]
The fullCalendar has much to many options to provide them all directly in the component interface.
With the extender method there is already a

[2018-08-28 17:37] markusg80 commented on #4000
@cagataycivici  Primefaces is replacing Primefaces Mobile in favor of responsive components. For me this is the right decision. But now it would be great when moblie devices like iphones or other android devices will be fully supported. For example the ContextMenu is really helpfull if on a small screen all the tool components wrapping down and the datatable is at the end. Now aftewr select row on

[2018-08-28 17:40] brunoaandrade commented on #1459
If i add a custom icon to p:menuButton i lose the chevron. Is not supposed to keep both, like in p:menubar.

[2018-08-28 20:09] tandraschko commented on #2451
@OBreidenbach AFAICS the user would like to get a option to set the per item, not in generell

[2018-08-29 05:21] Mobe91 commented on #2089
@tandraschko Testing your commit a184e9d6fec080809c50367443c467c9cf359648, selectAll in MS Edge still takes ~20 seconds with my test project opposed to 2.5 seconds when using cloning.

[2018-08-29 09:16] brunoaandrade opened #4004 "SubMenu: does not have attribute disabled"
## 1) Environment
- PrimeFaces version: 6.2
- Affected browsers: all

## 2) Expected behavior
it should be possible to set the SubMenu disabled with an attribute.
If i am using a p:submenu inside a p:menubar i should be able to disable a specific one.

## 3) Actual behavior
SubMenu does not have an attribute disabled

## 4) Steps to reproduce
Example in https://www.primefaces.org/showcase/ui/menu/

[2018-08-29 09:18] #3269 closed, assigned to mertsincan

[2018-08-29 09:20] fynnfluegge opened #4005 "DataTable: column break lines in header not visible with resizeableColumns and multiViewState"
## 1) Environment
- PrimeFaces version: 6.2.8
- Application server + version: Red Hat JBoss EAP 6.4
- Affected browsers: IE, Firefox

## 2) Expected behavior
When using
[code]
with DataTable the columns are resizeable by moving the vertical column break lines in the table header.

## 3) Actual behavior

The vertical column break lines in the table header are not visible.
However, by clicking on th

[2018-08-29 09:22] mertsincan commented on #3269
Hi @cnsgithub and @melloware,

Could you please check the fix?

Thanks a lot!

[2018-08-29 09:44] tandraschko commented on #4004
Please provide more description to your tickets, otherwise i will close it as invalid.
Should it be possible via xhtml, model or what do you want to archive...

[2018-08-29 11:27] tandraschko commented on #77
Duplicate of: https://github.com/primefaces/primefaces/issues/3198

[2018-08-29 11:27] #77 closed, assigned to nobody

[2018-08-29 11:30] tandraschko commented on #1591
I will close it for now. It's fine for now in PFE and i think we have other important stuff to work on instead of migrate/partially reimplement such ac omponent.

[2018-08-29 11:30] #1591 closed, assigned to nobody

[2018-08-29 11:32] Rapster commented on #1591
Agreed. Thomas, it's not the first time you're mentionning there are more important stuff to work on, it'd be nice to list them, why not using board of github? https://help.github.com/articles/about-project-boards/

[2018-08-29 11:39] melloware commented on #3269
@mertsincan 2 things.

1. Drop this attached NativeFileUploadTest overtop of the one that was there.  You will now see a lot of my test cases failing for filenames that were considered valid by other tickets.

[NativeUploadedFileTest.zip](https://github.com/primefaces/primefaces/files/2331942/NativeUploadedFileTest.zip)

2. In your throw exception I think a better message than:

`throw new FacesEx

[2018-08-29 11:40] tandraschko commented on #1591
It's not that i talk about specific issues - but our bug reports are growing and growing :/
I think the last really big change for 6.3 from the community are the OWASP thing and maybe CSP if it's ready.
6.3 is planned for Q4 and i'm away the whole september (holiday in japan).

My goal, before 6.2 last year, was to get below 500 issues in github :D

[2018-08-29 11:43] Pilpin commented on #3270
Hello,

I experienced the same issue on 6.2.

[2018-08-29 11:44] melloware commented on #1591
@tandraschko A month in Japan!   This place will fall apart without you!

My thoughts:

1. CSP integration is a good thing and since its configurable with a web.xml Context Param people don't have to use it if they don't want to but i think it makes PF more secure.

2. Our bug list needs a good review.  Of the 600+ items I would say easily 150-200 are for the Datatable or just flat out no example,

[2018-08-29 11:48] Rapster commented on #1591
Ah I see, I think if developers was more willing to fix their own bug (and I think they'd able to do it). We'd have less than 500 issues. But I don't think they are aware that we're only ~5 people working on our free time... Maybe they knew this, they'll make an effort :wink: Let's write a blog post! :yum:

Enjoy Japan, it's a beautiful country and very interesting culture

[2018-08-29 12:00] tandraschko commented on #1591
Thanks :)

Yep, ~200 issues are DataTable
Probably 100-200 without good example - but sometimes it's a hard decision to close them as they are "easy" to replicate, also without full example.
But feel to review them and close them :)

[2018-08-29 12:04] tandraschko commented on #821
Duplicate: https://github.com/primefaces/primefaces/issues/3519

[2018-08-29 12:04] #821 closed, assigned to nobody

[2018-08-29 12:11] #1154 closed, assigned to nobody

[2018-08-29 12:26] tandraschko commented on #1107
Works fine - added a example to the facelift showcase

[2018-08-29 12:26] #1107 closed, assigned to mertsincan

[2018-08-29 12:33] tandraschko commented on #1556
Can't replicate it - feel free to open a new issues with all infos and a example.

[2018-08-29 12:33] #1556 closed, assigned to nobody

[2018-08-29 12:38] teohaik opened #4006 "Dialog is not centered properly when inside composite component"
Screenshot with dialog in the wrong position:
![dialog-problem-1](https://user-images.githubusercontent.com/1785012/44787843-f480d100-aba0-11e8-9f02-8cde5b954cfa.png)

If browser is resized, dialog appears in the center, as it should.
![dialog-problem-2-centered](https://user-images.githubusercontent.com/1785012/44787845-f480d100-aba0-11e8-8278-91f3b158d5a3.png)

## 1) Environment
- PrimeFaces ver

[2018-08-29 12:46] tandraschko commented on #4006
Please provide a forked primefaces-test - otherwise it's nearly impossible for us to check your problem and will be closed as invalid.

[2018-08-29 13:03] tandraschko commented on #1553
lets reuse the extender instead of introducing 1000 attributes.

[2018-08-29 13:03] #1553 closed, assigned to nobody

[2018-08-29 13:04] tandraschko commented on #4002
what about style=height: 400px e.g.?

[2018-08-29 13:06] tandraschko commented on #2170
then -> won't fix as long as not supported by fullcalendar
feel free to create a issue there

[2018-08-29 13:06] #2170 closed, assigned to nobody

[2018-08-29 13:07] tandraschko commented on #1164
@OBreidenbach something you would like to check?:)

[2018-08-29 13:08] tandraschko commented on #93
Lets close it for now until someone provides a cool UI

[2018-08-29 13:08] #93 closed, assigned to nobody

[2018-08-29 13:11] tandraschko commented on #1502
It breaks in a new currently, looks good and is by design. Lets close it for now.

[2018-08-29 13:11] #1502 closed, assigned to nobody

[2018-08-29 13:12] tandraschko commented on #1438
We are on V2 - please gie it a try. If it doesn't work, please create a new issue with all informations requested by the issue template.

[2018-08-29 13:12] #1438 closed, assigned to nobody

[2018-08-29 13:18] tandraschko commented on #1694
Can you try the online showcase again and create a new issue + a little analysis plz.
The roles are set correctly AFAICS, so i think it should work.

[2018-08-29 13:18] #1694 closed, assigned to nobody

[2018-08-29 13:21] tandraschko commented on #1813
Navigate via arrow keys are working fine here: http://localhost:8080/showcase/ui/menu/menubar.xhtml

But it doesn't open via space or enter. Not sure if should work?!

[2018-08-29 13:23] tandraschko commented on #2021
Looks like already implemented: http://localhost:8080/showcase/ui/data/datatable/basic.xhtml

[2018-08-29 13:23] #2021 closed, assigned to nobody

[2018-08-29 13:37] markusg80 commented on #4002
**The css height attribute doesn't work!**
But exactly in this moment i solved the problem with the extender function like this:
[code]

and js:

[code]

important is to set porpertie contentHeight.

[2018-08-29 13:40] tandraschko commented on #4002
OK, then lets close it.
The extender should be used for many cases instead of introducing yet-another-schedule-attribute.

[2018-08-29 13:40] #4002 closed, assigned to nobody

[2018-08-29 13:41] markusg80 commented on #4002
Yes its ok to use the extender! But it is very important to better document it, because it was very hard to find out how to use it! I know you already have a issue for this with 6.3 Documentation ;-)

[2018-08-29 15:51] outlinedspider commented on #1813
The link below is for your localhost.... it's not a URL I can access.  Do you have one that is on the web?

________________________________
From: Thomas Andraschko <notifications@github.com>
Sent: Wednesday, August 29, 2018 6:22 AM
To: primefaces/primefaces
Cc: outlinedspider; Author
Subject: Re: [primefaces/primefaces] Menu: enhance keyboard accessability (#1813)

Navigate via arrow keys are wor

[2018-08-29 21:02] wsaca opened #4007 "OverlayPanel: Close button is hidden partially"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Yes Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
The close button should be placed over the panel.

## 3) Actual behavior
The close button is hidden.

## 4) Steps to reproduce

[2018-08-30 06:15] OBreidenbach commented on #1164
It is the way the [FullCalendar](https://fullcalendar.io) is handling allDay events. It just ignores the time part of the event.
There is already a ticket for this, https://github.com/fullcalendar/fullcalendar/issues/2985.
Unfortunately it is still open. Maybe visiting and voting :+1: for it helps to get more attention to it.

As a workaround you can set the end time to 0:00 of the next day or do

[2018-08-30 09:39] tandraschko commented on #4007
reverted the style change

[2018-08-30 09:39] #4007 closed, assigned to nobody

[2018-08-30 09:44] #2999 closed, assigned to nobody

[2018-08-30 10:56] tandraschko commented on #4006
Will close it for now, maybe you can try the forum first. If you have a forked primefaces-test (simple as possible) project, we can also reopen this issue.

[2018-08-30 10:56] #4006 closed, assigned to nobody

[2018-08-30 11:27] tandraschko commented on #3914
Will close it for now, feel free to provide a test project and we can reopen it.

[2018-08-30 11:27] #3914 closed, assigned to nobody

[2018-08-30 13:42] #2299 closed, assigned to nobody

[2018-08-30 13:46] tandraschko commented on #2155
Feel free to reopen - or create a new issue but with runnable example (at best a forked primefaces-test project)

[2018-08-30 13:46] #2155 closed, assigned to nobody

[2018-08-30 13:50] tandraschko commented on #2154
"new feature" as the idea was to have 1 p:columns

[2018-08-30 14:02] tandraschko commented on #3912
PR welcome of course ;)

[2018-08-30 14:02] tandraschko commented on #3381
Is it replicatable on the showcase? otherwise we need a runnable example

[2018-08-30 14:04] Kameecoding opened #4008 "TabView: doesn't toggle ui-helper-hidden correctly"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-08-30 14:23] melloware commented on #3381
Yes I know this issue.  If you have scrollWidth="100%" this is an issue.   What happens is all Input filters get tabindex="-1" which you can view in the browser DOM.   They do this for ScreenReader support so when tabbing for blind it will tab and scroll the columns to the ones off the screen.

I wrote PF about this back in 2015 and this was their answer.

JS Fix:

This fix if you run will find al

[2018-08-30 15:41] melloware commented on #3381
I have posted a workaround to this issue as I don't think PF core is going to fix it.

[2018-08-30 15:46] eversnarf commented on #3926
Same issue here. Any update?

[2018-08-30 17:04] OBreidenbach commented on #2451
You are right. But there is still the option to add a style class. Like described by @wal-jan.
Or you can override the render method:
[code]

[2018-08-30 18:38] mertsincan commented on #3269
Thanks a lot for the feedback, @melloware ;)

[2018-08-31 08:45] Rapster commented on #4008
Indeed, `ui-helper-hidden` should be responsible of setting `display: none`, but something else adding `display` property (tabview.js?) Anyway, I don't have time for this, we have more important issues to fix right now. Feel free to provide a PR

[2018-08-31 11:51] Rapster commented on #3269
@mertsincan Build is failing, some tests related to your changes are not passing

[2018-08-31 11:59] melloware commented on #3269
I think we also need a test for the original issue in this ticket of "c:\\application_server_root\\upload_dir\\test.png" should return only "test.png"?   I think what @cnsgithub was saying was we should strip out directory information but that is difficult because slashes are valid in Unix but not in Windows.

[2018-08-31 13:41] mertsincan commented on #3269
@Rapster, which tests? Could you please try it after updating your branch? The NativeUploadedFile tests work fine for me.

@melloware can we/users use File.seperator or File.separatorChar to split path?
https://docs.oracle.com/javase/7/docs/api/java/io/File.html#separatorChar

[2018-08-31 14:40] Rapster commented on #3269
@mertsincan See https://travis-ci.org/primefaces/primefaces It's a Linux environment so that might explain you're not able to reproduce it

[2018-08-31 23:06] chessceres opened #4009 "Dialog: Modal not working"
## 1) Environment
- PrimeFaces version: 6.3
- Does it work on the newest released PrimeFaces version? Version? -> 6.2 it works correctly
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) --> No, it doesn't
- Application server + version:
- Affected browsers: IE11, firefox

## 2) Expected behavior

The dialog has

[2018-09-01 22:14] Rapster commented on #4009
Thank you :wink:

[2018-09-01 23:22] Rapster commented on #3542
Even though I'm convinced this is the way to go, I'll close it since the team is not up for it

[2018-09-01 23:22] #3542 closed, assigned to nobody

[2018-09-02 16:08] PierreC2 commented on #3791
Similar problem here. I have a class cast exception stating that  java.lang.Integer cannot be cast to java.lang.String. Reverted back to PF 6.1 and it solved the problem.

[2018-09-03 06:41] schlebe opened #4010 "SplitButton: add dynamic list of buttons"
I have posted following message on Primefaces forum but my problem seems to have no answer and currently no solution !

[https://forum.primefaces.org/viewtopic.php?f=3&t=56730](https://forum.primefaces.org/viewtopic.php?f=3&t=56730)

My request:

**Adding dynamic list of buttons to SplitButton widget.**

Why <p:SplitButton> is using <p:menuItem> instead of <f:selectedItems> as <p:selectOneButton>

[2018-09-03 07:19] tandraschko commented on #4010
Feel free to implement it and provide a PR or to sponsor it via PrimeFaces PRO.

[2018-09-03 11:43] mertsincan opened #4011 "New Component: BarChart"
BarChart component use Chartjs API (http://www.chartjs.org/docs/latest/charts/bar.html) and it is created with a BarChartModel.

Demo; https://www.primefaces.org/showcase/ui/chartjs/bar/bar.xhtml

[2018-09-03 11:45] mertsincan opened #4012 "New Component: BubbleChart"
BubbleChart component use Chartjs API (http://www.chartjs.org/docs/latest/charts/bubble.html) and it is created with a BubbleChartModel.

Demo: https://www.primefaces.org/showcase/ui/chartjs/bubble.xhtml

[2018-09-03 11:46] markusg80 commented on #4011
Is Grouped Stacked Barchart also supported?

[2018-09-03 11:46] mertsincan opened #4013 "New Component: LineChart"
LineChart component use Chartjs API (http://www.chartjs.org/docs/latest/charts/line.html) and it is created with a LineChartModel.

Demo: https://www.primefaces.org/showcase/ui/chartjs/line.xhtml

[2018-09-03 11:48] mertsincan opened #4014 "New Component: PieChart"
PieChart component use Chartjs API (http://www.chartjs.org/docs/latest/charts/doughnut.html) and it is created with a PieChartModel.

Demo: https://www.primefaces.org/showcase/ui/chartjs/pie.xhtml

[2018-09-03 11:49] mertsincan opened #4015 "New Component: DonutChart"
DonutChart component use Chartjs API (http://www.chartjs.org/docs/latest/charts/doughnut.html) and it is created with a DonutChartModel.

Demo: https://www.primefaces.org/showcase/ui/chartjs/donut.xhtml

[2018-09-03 11:50] mertsincan opened #4016 "New Component: PolarArea"
PolarAreaChart component use Chartjs API (http://www.chartjs.org/docs/latest/charts/polar.html) and it is created with a PolarAreaChartModel.

Demo: https://www.primefaces.org/showcase/ui/chartjs/polararea.xhtml

[2018-09-03 11:51] mertsincan opened #4017 "New Component: RadarChart"
RadarChart component use Chartjs API (http://www.chartjs.org/docs/latest/charts/radar.html) and it is created with a RadarChartModel.

Demo: https://www.primefaces.org/showcase/ui/chartjs/radar.xhtml

[2018-09-03 12:01] #4011 closed, assigned to mertsincan

[2018-09-03 12:04] #4012 closed, assigned to mertsincan

[2018-09-03 12:04] #4013 closed, assigned to mertsincan

[2018-09-03 12:04] #4014 closed, assigned to mertsincan

[2018-09-03 12:04] #4015 closed, assigned to mertsincan

[2018-09-03 12:04] #4016 closed, assigned to mertsincan

[2018-09-03 12:04] #4017 closed, assigned to mertsincan

[2018-09-03 12:19] melloware commented on #4010
I think a better way to phrase this is that SplitButton needs to support rendering using the server side MenuModel so you can dynamically build the menu right?

[2018-09-03 12:25] mertsincan commented on #4011
Hi @markusg80 ,

Stacked - yes (https://www.primefaces.org/showcase/ui/chartjs/bar/stacked.xhtml)
Stacked groups -no, I'll add it.

[2018-09-03 12:47] Rapster opened #4018 "Shade org.json dependency"
Instead of copying/pasting org.json sources to PF, shade it instead:

- Shade org.json dependency into `org.primefaces.shaded` package
- Remove org.primefaces.json package

[2018-09-03 12:48] melloware commented on #4011
@mertsincan nice job on this!  Because ChartJS is so powerful and extensible should in the chartsjs-widgets.js should we add "extender" capability like the old Charts had.  I think this will help future proof if it someone wants to use some custom ChartsJS feature.

[2018-09-03 13:23] mertsincan commented on #4011
Thanks a lot for your feedback, @melloware. Chart components that use ChartJS are not completely finished. I'm still working on them.

[2018-09-03 13:25] mertsincan commented on #4011
@markusg80, please see 'stacked group bar' demo; https://www.primefaces.org/showcase/ui/chartjs/bar/stackedGroup.xhtml

[2018-09-03 14:06] #3520 closed, assigned to nobody

[2018-09-03 14:21] tandraschko opened #4019 "Cleaneup Utils"
Deprecrate and remove in 7.0:
 - Base64 (unused; java8 offers java.util.Base64)

Deprecrate (+ remove in 7.0) and move to LangUtils:
 - ClassUtils
 - ArrayUtils
 - CollectionUtils

Shade:
 - BoundedInputStream

[2018-09-03 14:37] Rapster commented on #4019
Regarding `BoundedInputStream`, use commons-io 2.4

[2018-09-03 14:44] tandraschko commented on #4019
Why? We are already on java1.7, so we could use 2.6

[2018-09-03 14:54] Rapster commented on #4019
A mentionned in #3525, cnsgithub asked

And my answer was:

Basically, to keep a small jar I think it's best to stick to 2.4 (unless there was major improvements in 2.6 regarding BoudedInputStream, but from what I can see there are similar)

[2018-09-03 15:03] tandraschko commented on #4019
yep, i see

[2018-09-03 15:59] melloware commented on #4011
@mertsincan no problem!  I figured you were still working but I wanted to make sure that didn't slip off your radar!   The new components look great.

[2018-09-03 16:13] markusg80 commented on #4011
Super! You cant imagine how i‘m happy about this new chart components! Aleays bet on prime 😉

[2018-09-03 16:27] wsaca opened #4020 "SelectBooleanButton: Remove type attribute rendered on the main div"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Not Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
The type attribute shouldn't be rendered.

## 3) Actual behavior
The type attribute is rendered.

## 4) Steps to reproduce
1. O

[2018-09-03 16:43] wsaca commented on #4020
The PR #4021 was created.

[2018-09-03 16:44] #4020 closed, assigned to nobody

[2018-09-03 16:44] tandraschko commented on #4020
Thanks

[2018-09-03 17:00] wsaca opened #4022 "Autocomplete: The style ui-state-active is not removed of dropdown button"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Not Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
If the mouse is moved out of the dropdown button the css class "ui-state-active" should be removed.

## 3) Actual behavior
The

[2018-09-03 17:02] wsaca commented on #4022
Check the PR #4023

[2018-09-03 17:31] #4009 closed, assigned to nobody

[2018-09-03 18:27] Kameecoding commented on #4008
PR here: https://github.com/primefaces/primefaces/pull/4024

[2018-09-03 18:36] #4008 closed, assigned to nobody

[2018-09-03 18:38] tandraschko commented on #4022
Nice, i really appreciate the PR!

[2018-09-03 18:38] #4022 closed, assigned to nobody

[2018-09-03 18:44] schlebe commented on #4010
Yes, I don't have tought about menu right ! My first idea to solve this problem is to use <f:selectedItems> but now that you speak about menu right, the best solution is perhaps to develop a new class named menuItems !

[2018-09-03 20:38] tandraschko commented on #4019
just removed them as the layouts doesn't use it and it's just internal API

[2018-09-03 20:38] #4019 closed, assigned to nobody

[2018-09-04 06:09] mertsincan commented on #4011
Thanks @melloware and @markusg80 ;)

@melloware, the 'extender' feature was added to models.

[2018-09-04 08:32] huseyinturkmenoglu opened #4025 "Add PrimeFlex support"
Flex Grid CSS is a lightweight flex based responsive layout utility optimized for mobile phones, tablets and desktops. Flex Grid CSS is not included in PrimeFaces as it is provided by PrimeFlex, a shared grid library between PrimeFaces, PrimeNG and PrimeReact projects.

[2018-09-04 08:33] #4025 closed, assigned to nobody

[2018-09-04 09:34] Rapster commented on #3269
I think @cnsgithub has a point here regarding the stripping and sanitizing part https://github.com/primefaces/primefaces/issues/3269#issuecomment-362503126

I'd rather use OWASP library for such thing than making our own check. Since we're shading third librairies, I don't see the problem to use https://github.com/augustd/owasp-java-fileio

[2018-09-04 11:23] melloware commented on #4011
@mertsincan Nice work!  Makes this an even more powerful component!

[2018-09-04 11:36] mertsincan commented on #3269
@melloware, is the "hello\\.png" filename valid in windows? https://stackoverflow.com/questions/1976007/what-characters-are-forbidden-in-windows-and-linux-directory-names/31976060#31976060

[2018-09-04 11:37] melloware commented on #3269
@mertsincan It is INVALID in Windows but VALID in UNIX.  That is the trouble you have to know what operating system you are dealing with.

[2018-09-04 11:44] mertsincan commented on #3269
Thanks a lot for the update! Maybe, we can use System.getProperty("os.name") method to detect OS.
boolean isWindows = (System.getProperty("os.name").indexOf("Windows") != -1) ? true : false;
if(isWindows)
  ...
else
  Assert.assertEquals("hello\\\\.png", output);
what do you think about it?

[2018-09-04 11:54] melloware commented on #3269
Yep I think you will have to do something like that so you know which characters are valid on Windows vs anything else.

[2018-09-04 12:22] mertsincan commented on #4011
Thanks a lot for your feedbacks, @melloware ;) Fixed XSS issues now.

[2018-09-04 12:45] mertsincan commented on #3269
Thanks a lot ;) @melloware how do we get only the filename from a path? What do you think about it?

[2018-09-04 13:30] Emilija1365 opened #4026 "MenuItem: Url doesn't prefix with the contextPath"
MenuItem: generated URL does not include the context path of the webapp.

## 1) Environment
- PrimeFaces version: 6.2.8 (Functions properly in version 6.2.5)
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? Not tried
- Application server + version: Tomcat 8.5.20
- Affected browsers: Firefox, Chrome

## 2) Expected behavior
The fi

[2018-09-04 13:33] tandraschko commented on #4026
Duplicate: https://github.com/primefaces/primefaces/issues/3819

[2018-09-04 13:33] #4026 closed, assigned to nobody

[2018-09-04 14:04] melloware commented on #3269
here is what Commons FileNameUtils does I think we just have to make ours smarter to only check one or the other / or \ per OS.

[code]

https://raw.githubusercontent.com/apache/commons-io/master/src/main/java/org/apache/commons/io/FilenameUtils.java

Look at their getName method it takes "C:\Persona\Tools\hello.png" and returns "hello.png".

[2018-09-04 15:38] hansmeiser2000 opened #4027 "Datatable: multiselect & LazyDataModel & pagination -> IndexOutOfBoundsException"
Environment: Primefaces 3.2.8, no changes in the actual head revision

Steps to reproduce:

Use a datatable with lazy="true", paginator="true", a column with selectionMode="multiple"
and feed the table with a LazyDataModel containing 15 records.
Display the second page of data, which should show five rows and select the checkbox 'all' at the top of the multiple selection column.
You'll get a Index

[2018-09-04 16:09] melloware commented on #4027
Do you mean 6.2.8 and not 3.2.8?

[2018-09-04 16:30] tandraschko commented on #4027
Please respect our issue template or it will be closed as invalid.

[2018-09-04 17:05] hansmeiser2000 commented on #4027
Yes. I saw that there was a solved bug in version 3 which reads like this
problem, but its the same in 6.2.8. I checked an older version of our
software, which uses Primefaces 6.2.3 and there was no problem.

Thomas Andraschko <notifications@github.com> schrieb am Di. 4. Sep. 2018 um
18:30:

--
Von meinem Sinclair ZX81 gesendet

[2018-09-04 17:14] hansmeiser2000 commented on #4027
Sorry, but I have not the time to do all this for a simple and obvious
error, I have written a workaround for me. My goal was to give you hint.

Thomas Andraschko <notifications@github.com> schrieb am Di. 4. Sep. 2018 um
18:30:

--
Von meinem Sinclair ZX81 gesendet

[2018-09-04 19:43] JHookDev commented on #3477
Thanks @tandraschko! I see this has been tagged for 6.3. I know that you might not be the person that controls the Elite releases, but do you happen to know if it will be included in a 6.2 Elite release?

[2018-09-04 19:58] tandraschko commented on #3477
thats up to @mertsincan

[2018-09-05 06:33] mertsincan commented on #3982
Fixed now.

[2018-09-05 06:33] #3982 closed, assigned to mertsincan

[2018-09-05 07:03] Rapster commented on #4011
Great job @mertsincan, I know a lot of people who'll be about happy to hear about this :wink:

Please don't forget to look at https://sonarcloud.io/dashboard?id=org.primefaces%3Aprimefaces, quality gate has failed since

[2018-09-05 07:11] Rapster commented on #4027
It's because it's so simple and obvious that I don't think it comes from PF. I might be wrong... but as long it does not follow the issue template and you can't reproduce it on primefaces-test. I'm closing it

[2018-09-05 07:11] #4027 closed, assigned to nobody

[2018-09-05 09:56] Rapster commented on #4011
My 2 cents:

- `CartesianScales#encode()`: Maybe you could change into `CartesianScales#encode(Writer writer)`, the `FastStringWriter` is created only once (in `ChartRenderer`) and closed once.
- Comment of `CartesianScales#encode()` should be:
[code]
- Being said, maybe create an interface that will be extending by `CartesianScales` and the others, to give a better clarity to your classes

I can

[2018-09-05 11:30] mertsincan commented on #4011
- Sonarcloud issues related to Chartjs have been fixed. Please check it.

- Fixed now. Thanks a lot ;)

- Maybe next time. But, if you can send a PR, I would appreciate 😄

- Thanks a lot!!! I'll try it. ;)

[2018-09-05 11:46] lionstorke opened #4028 "Dialog: Add resizeStart and resizeStop behavior event"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-09-05 12:24] Rapster commented on #4011
@tandraschko FastStringWriter is the type to use whenever String manipulation has to be done? It is meant to replace StringBuilder in PF?

[2018-09-05 12:26] tandraschko commented on #4011
Im in vacation, lets Talk about it end of September.

[2018-09-05 12:27] melloware commented on #4011
@Rapster From what I understand FastStringWriter is used when you want to construct a components say inner children without going through the FacesResponseWriter.  it lets you collect them as strings first and then pass it to the outgoing Faces Response.    If you are just constructing strings for JSON or some other reason then normal StringBuilder is the correct choice.

[2018-09-05 13:51] Rapster commented on #4011
Sorry Thomas, enjoy and have fun!

Thank you @melloware but I don't see the real benefit over a `StringBuilder` though (specially that FastStringWriter is backed by StringBuilder)... I see MyFaces/Mojarra use it as well, so I guess I'm missing something (we can continue this conversation on gitter)

[2018-09-05 13:56] melloware commented on #4011
Yep I think its only because it supports the "Writer" interface so it can be swapped with Response Writer.  Like i said I think its when you need to render a component without sending it to Faces Response yet. so writer.write() works.

[2018-09-05 14:30] Rapster commented on #4011
Yes that's what I thought, the Writer interface... For now, I won't worry about it too much.

@mertsincan It wouldn't have be possible to create a chart just like the old chart API (e.g `<p:chart type="bubble" model="#{chartView.bubbleModel1}" />`)? Depending what the type is, ChartRenderer would delegate the rendering to an object doing the final job? It would make the chart API easier to use don

[2018-09-06 06:11] orange-buffalo commented on #3045
Hi @melloware, @jxmai, is there any news about this problem? Can we help here?

[2018-09-06 06:28] mertsincan commented on #3477
Fixed for 6.2.10.

[2018-09-06 07:06] martin654 commented on #3954
Thanks, it works now after the fix.

[2018-09-06 07:54] fynnfluegge commented on #4005
Is there any idea for a possible workaround ?

[2018-09-06 09:32] OBreidenbach commented on #3791
I get the same ClassCastException. The failure is introduced by ticket #2862 with commit https://github.com/melloware/primefaces/commit/d95e467070255642be3c9b92dfccd7fdee93322c#diff-e4d3a342df3de892c8fd79acabe27e6bR60.

In [SelectOneMenuRenderer#decode](https://github.com/melloware/primefaces/blob/d95e467070255642be3c9b92dfccd7fdee93322c/src/main/java/org/primefaces/component/selectonemenu/SelectO

[2018-09-06 12:48] Rapster commented on #3971
I can reproduce it on the showcase, once sticky header showing up, the checkbox is working

[2018-09-06 12:52] melloware commented on #3045
I think we need @mertsincan to chime in here why he added "not(:radio):not(:checkbox)" in that ticket and what problem it was trying to fix so we can come up with the correct fix.

[2018-09-06 12:58] JHookDev commented on #3477
Thank you for the update @mertsincan

[2018-09-06 14:10] mertsincan commented on #3045
@melloware, I do not remember it exactly, but it was reported by a PRO user. I think users can use ```focus``` attribute of dialog for such topics. We only support focusing on enabled/visible input by default.
Also, could you please try the following code after removing :not(:radio):not(:checkbox)?
[code]
- After you open the dialog, please press the 'Space' key. You'll see the problem.

@qnox, pl

[2018-09-06 23:29] Rapster commented on #4028
Thank for your contribution, but provide a PR instead https://help.github.com/articles/creating-a-pull-request/

It'll be easier for us to review your code, and you'll get all the credits 😉

[2018-09-07 12:44] lionstorke commented on #4028
Hi Sebastien,
I would like to do so.

But when I modify class Dialog.java, what happens with that modification?
At the top of Dialog.java I found:
/*
* Generated, Do Not Modify
*/

Can you please tell me, what happens, when I change a generated file?

Thank you.

Manfred

From: Sébastien Lepage [mailto:notifications@github.com]
Sent: Friday, September 07, 2018 1:29 AM
To: primefaces/primefaces
Cc:

[2018-09-07 12:49] Rapster commented on #4028
Resync your branch, there is no longer generated sources

[2018-09-07 14:02] Rapster commented on #4011
@mertsincan what about using JSON structure instead of String? I'd recommend you to have a look in this library, which I think does exactly what you want https://github.com/mdewilde/chart. Only problem, jackson is used as a library, but can be easily(?) adapt with org.json.

Optional: I've been looking around, org.json is limited and doesn't have good benchmark, so I want to see if we could replac

[2018-09-09 13:50] RueKow opened #4029 "MenuButton: Overlay misaligned in PF-6.3-Snapshot"
## 1) Environment
- PrimeFaces version: 6.3 Snapshot
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 8.5
- Affected browsers: Chrome

## 2) Expected behavior

On a right aligned MenuButton the overlay

[2018-09-09 14:09] RueKow opened #4030 "SplitButton: Overlay not visible in column in PF-6.3-Snapshot"
## 1) Environment
- PrimeFaces version: 6.3 Snapshot
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 8.5
- Affected browsers: Chrome

## 2) Expected behavior

Overlay of SplitButton should be visible

[2018-09-09 14:35] melloware commented on #4030
Can you add your screenshots you have on the forum so everyone can see as well?

[2018-09-09 14:35] melloware commented on #4029
Screenshots please

[2018-09-09 20:41] faxe1008 commented on #1736
Is there any progress made on this? I can replicate the issue in version 6.2

[2018-09-09 21:38] kukel commented on #4030
Non-issue... appendTo should be used most likely with a value of body.... See the documentation. (or set overflow to visible on the table cell or related container)

[2018-09-09 21:41] kukel commented on #4029
Panel gets the with of the button inside it. Set css overflow of the panel to show things or use the appendTo attribute if it exists

[2018-09-09 23:21] mertsincan commented on #4011
Hi @Rapster,

Thanks a lot for the PR! But, we don't think of something like p:chartjs or p:chart; https://www.primefaces.org/primefaces-6-2-9-released/

Also, my personal idea is to add the minimal dependency(exp; com.google.code.gson) on the project. Therefore, I didn't use the gson. Cagatay said it would be more accurate to do this with Writer like FastStringWriter.

In addition, I think it wou

[2018-09-10 11:25] melloware commented on #4030
@Rapster Safe to close this ticket as "invalid".

[2018-09-10 11:35] melloware commented on #4029
@RueKow please test @kukel suggestions and close this ticket once verified.

[2018-09-10 12:08] Rapster commented on #4030
Since it was working in PF 6.2, I'd rather wait for Thomas to have a look at it, and give a reason of this regression (if he has an idea). If more users refers to this problem, I'd like to either write something in the migration guide or simply close it (as duplicate) and refers to this issue.

[2018-09-10 12:32] melloware commented on #4029
Possibly related to these recent issues:  https://github.com/primefaces/primefaces/issues/3993 https://github.com/primefaces/primefaces/issues/3861

[2018-09-10 12:34] endredy opened #4032 "Media component: cannot display media with spec filename"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? dont know
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) dont know
- Application server + version: WildFly 13
- Affected browsers: ff, chrome

## 2) Expected behavior

Media component should display a

[2018-09-10 12:34] melloware commented on #4030
Possibly related to these recent issues:  https://github.com/primefaces/primefaces/issues/3993 https://github.com/primefaces/primefaces/issues/3861

[2018-09-10 14:24] Rapster commented on #4032
Please follow the issue template

[2018-09-10 15:13] Rapster commented on #4030
Thank you Melloware for searching the root cause :+1:

[2018-09-10 15:19] RueKow commented on #4029
Using appendTo it is working as expected. Sorry for creating this issue, but in PF6.2 it was working without appendTo.

[2018-09-10 15:22] RueKow commented on #4030
Using appendTo it is working as expected.

[2018-09-10 15:43] Rapster commented on #4011
Thank you for your answer Mert,

Well, I am a PF committer :smile:

Gson would be the only 3rd party, and I'm pretty sure you won't have to do something that gson can't do :wink:

Now back to the real issue... First, chartjs is driven by the model. Meaning, the model is the decisional factor of what's going to be rendered. That's make the use of the component super easy. From what you have wrote s

[2018-09-10 23:45] tandraschko commented on #4029
Will Check it after Holiday

[2018-09-11 07:18] RueKow commented on #4030
I checked it once more and determined the following behavior.

Initially it is working with appendTo.
![splitbutton1](https://user-images.githubusercontent.com/5890143/45343409-19157980-b5a1-11e8-8f6b-a382c15fcc1f.png)

But after using datatable filter or button click the overlay is rendered twice.
![splitbutton2](https://user-images.githubusercontent.com/5890143/45343452-3cd8bf80-b5a1-11e8-83c8-e

[2018-09-11 11:36] melloware commented on #4030
Yep when @tandraschko he will investigate I think its related to those two issues I linked.

[2018-09-11 12:33] kukel commented on #2390
Almost 1 year and not forum reaction... Google searches for PrimeFaces questions get messed up now with PrimeNG stuff just because of the shared hostname.  PLEASE...

[2018-09-11 12:35] kukel opened #4033 "New attempt for: Register primeng.org and move all non PrimeFaces content over there"
Over 1 year ago I opened https://github.com/primefaces/primefaces/issues/2390. In there I was requested to start discussing this in the forum first. I did... https://forum.primefaces.org/viewtopic.php?f=3&t=52352 No reaction. This new issue is a renewed attempt since search results for PrimeFaces related things in Google get messy now...

[2018-09-11 13:01] melloware commented on #4032
@Rapster what is missing from his template?  Looks like the issue is pretty clear.

[2018-09-11 13:07] melloware opened #4034 "Exporter: Excel XSLSX Streaming POI API throws exception"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: Jetty 9
- Affected browsers: ALL

## 2) Expected behavior

When using XLSXSTREAM for streaming API of POI the XLSX should be generated correctly.

## 3) Actual behavior

**ERROR: java.lang.IllegalStateException:

[2018-09-11 13:07] melloware commented on #4034
PR to follow...

[2018-09-11 14:08] Rapster commented on #4032
The author has updated the issue accordingly but I wasn't notified. It seems okay, but "dont know" is not answering to the question. @endredy Could you at least try please? Sure we could ourselves give it a try, but we would waste a lot of time if we had to do that for every isues...

[2018-09-11 14:36] Rapster commented on #2390
Sorry @kukel I wasn't notified of your request. Could you please give me an example of what you mean by "questions get messes up". I never used other products of primetek so hard to tell... But I'd be happy to give my opinion regarding this issue. (I might close #4033 as duplicate and reopen this one. IMO, I'd rather talk about this on github rather than forum)

[2018-09-11 14:44] Rapster commented on #2390
So far, I would stop using primefaces.org and use primetek.com.tr instead (or prime something ui kit whatever, as long it's a different name). But I wonder about the value of primefaces.org over primetek.com.tr, the company website page already introduces all their products and can redirect to each showcase. Few thing missing might be the blog, store, docs.... That's all I can say for now, but bas

[2018-09-11 16:02] qnox opened #4036 "PickList: String values are encoded on submit"
1) Environment
- PrimeFaces version: 6.2.8
- Does it work on the newest released PrimeFaces version? Version? **No**
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) **No**
- Application server + version: JBoss EAP 7.0.8.GA
- Affected browsers: Not depends on the browser

## 2) Expected behavior
`DualModel<Strin

[2018-09-11 16:26] #4033 closed, assigned to nobody

[2018-09-12 12:13] Rapster commented on #4036
It'd be great if you could analyse the problem and provide a PR :wink:

[2018-09-12 16:30] wsaca commented on #3868
This problem is present due to a miscalculation of the panel position in the jquery datepicker component used by primefaces. When some parent tag has a fixed position, the datepicker panel is placed incorrectly because it's not ignoring the window scrollTop/scrollLeft.

[2018-09-13 02:51] JamesMung opened #4037 "After TabView change then DataTable pagination not work"
## Problem

​	I tried to migration JBoss eap 6.4 to 7.1, And then I found Data table pagination don't retrieve any data after I change the Tab View.

## Environment

JSF 2.2

Primefaces 3.5

JBoss EAP 7.1

## Demo

![image](https://user-images.githubusercontent.com/36033473/45463659-b7d7dc80-b73f-11e8-9e49-98ec64d9bf26.png)

![image](https://user-images.githubusercontent.com/36033473/45463688-d807

[2018-09-13 04:26] JamesMung commented on #4037
Alright, I fixed the problem with change Bean's scope :
[code]

But,

[2018-09-13 04:26] #4037 closed, assigned to nobody

[2018-09-13 05:53] endredy commented on #4032
I'm sure that this bug exists in the latest versions as well, but i didn't test it, and have no option to try it. Sorry!
But i think this info is more then enough to fix it, and as a developer i would be happy to have such an easy bug to fix. :)
It's up to you. :)

A suggestion:

    static public String validateFilename(String s){
    	    if (s == null || s.isEmpty()) return s;
    	    return s

[2018-09-13 08:17] Rapster commented on #4037
Why don't you use annotation instead?

[2018-09-13 10:44] mertsincan opened #4038 "fileupload: support multiple files in simple mode"
Reported By PRO User;

[code]

Added UploadedFile.getFileNames() method to access uploaded files. Exp; file.getFileNames();

[2018-09-13 10:46] #4038 closed, assigned to mertsincan

[2018-09-13 11:01] melloware commented on #4032
@endredy I think that is too "narrow" of a solution.  I think we need to analyze why it doesn't work and then escape and cleanse the file name correctly.

[2018-09-13 12:10] melloware commented on #3791
PR submitted can you guys please code review.

[2018-09-13 12:24] Rapster commented on #4032
I reproduced the problem, @endredy looking at your web browser console could have spare me some time... According to Chrome console, after renaming into "guide#.pdf" :

It seems ignoring the sharp which does not really surprise me since `#` is a separator for URL fragment. So, these special characters has to be replaced by their corresponding percent-encoding characters, see https://fr.wikipedia.o

[2018-09-13 12:55] melloware commented on #4032
@Rapster something like we do in NativeFileUpload...

[code]

[2018-09-13 12:58] endredy commented on #4032
Yes, i can confirm it.
My case is similar: p:media is in an updated dialog, so 1st an update arrives (filename: "mypdf#blabla.pdf"):

    <object type="application/pdf" data="/abc/javax.faces.resource/dynamiccontent.properties.xhtml;/mypdf#blabla.pdf?ln=primefaces&amp;v=6.2&amp;pfdrid=..."
2nd: the component wants to download this broken link (404):
http://localhost/abc/javax.faces.resource/dynami

[2018-09-13 13:07] Rapster commented on #4032
@melloware Yes something like that, also I read this https://stackoverflow.com/a/49796882/4605161

[2018-09-13 14:49] wsaca opened #4040 "SelectCheckboxMenu: When panel is filtered it's not realigned"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Not Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
When the panel is filtered it should be realigned.

## 3) Actual behavior
The panel is not realigned after filter its content.

[2018-09-13 14:58] Rapster commented on #4040
I can't reproduce this step "Resize the window to show the panel above the component.". Which web browser are you using?

[2018-09-13 15:13] wsaca commented on #4040
By default the panel is displayed down the component, but if it is near to bottom of the window browser then the panel is displayed above.

[2018-09-13 15:54] Rapster commented on #4040
Okay I see, and does it go back up if you clear your selection (and filtering)?

[2018-09-13 16:01] wsaca commented on #4040
When you select/click an item it's aligned correctly, but if you use the filter it's not. The PR that I created try to resolve this.

[2018-09-13 16:16] Rapster commented on #4040
Sorry, I should've said: "With your PR, does it go back up if you clear your selection (and filtering)?"

[2018-09-13 16:25] wsaca commented on #4040
Yes, it does. You could try it locally.

[2018-09-14 08:18] Rapster commented on #3857
After taking measures, we realized that, with or without skipChildren, does not change anything in terms of traversal speed. If I had to commit something, I would skip children right before calling `processChildren`. WDYT?

[2018-09-14 08:23] Rapster commented on #3201
@mertsincan What do you want to do with this issue?

[2018-09-14 08:34] Rapster commented on #1231
Using CLI?

[2018-09-14 09:02] Lb-lea opened #4043 "ConfirmDialog: screen reader doesn't automatically read message"
## 1) Environment
- PrimeFaces version: PrimeFaces-6.2.9
- Application server + version: Tomcat7.0.72/Mojarra-2.3.2
- Affected browsers: firefox
-Screen readr: Orca 3.22.2

## 2) Expected behavior
When the modal appears, the screen reader should read the title, read the message, read the buttons and finish with saying that the ok button is active.

## 3) Actual behavior

When the modal appears, th

[2018-09-14 09:32] Rapster commented on #4038
Technical debts added, see comments: https://sonarcloud.io/component_measures?id=org.primefaces%3Aprimefaces&metric=new_technical_debt

[2018-09-14 11:23] melloware commented on #4043
OK I think I can fix this.  From reviewing: https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html

I think we need to add 2 things...
1. aria-modal=true
2. aria-describedby=

[2018-09-14 11:24] melloware commented on #3201
My vote is to close this issue.

[2018-09-14 12:02] melloware commented on #4043
I submitted a PR that I think will fix your issue and update dialogs to the latest ARIA standards.

[2018-09-14 12:14] melloware commented on #545
I think this is fixed with my PR: https://github.com/primefaces/primefaces/pull/4044 Relates to #4043

[2018-09-14 17:49] melloware commented on #339
@lagar84 Does this still happen on the current Showcase?

I am using Firefox Quantum 62.0 and I can't reproduce your issue against the latest showcase.

[2018-09-14 17:54] melloware commented on #909
Looks like this must be Bootstrap Theme issue still has it is still happening in the current showcase.

[2018-09-14 18:26] lagar84 commented on #339
@melloware  I am also on Firefox Quantum 62 (windows 7) and can't reproduce the problem anymore on current showcase. Also tested on Chrome and IE11.
Looks like it is safe to close this issue.

[2018-09-14 18:50] melloware commented on #339
Agreed thanks for checking. @Rapster can you close please?

[2018-09-14 20:08] Rapster commented on #339
Thanks guys 😉

[2018-09-14 20:08] #339 closed, assigned to nobody

[2018-09-15 14:45] melloware commented on #4036
There needs to be 2 things to fix this issue:

1. A new property added to Picklist called "escape" like other components so you can say "escape=false" to turn off the HTML escaping.

2. In picklist.js this line needs to check that "escape" property and choose whether or not to call PrimeFaces.escapeHTML.
[code]

[2018-09-17 05:07] rho66 opened #4047 "aria-required missing for input components"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? no
- Does it work on the newest sources in GitHub? no
- Application server + version: wildfly 11.0.0.final
- Affected browsers: Firefox 62.0, Chrome 69.0.3497.92, IE 11

## 2) Expected behavior
I want to highlight required input fields using a css pseudo selecor, depending whether aria-required="t

[2018-09-17 06:04] rho66 commented on #4047
I fixed it for me using the attached patch ;-)

[aria_required_patch.zip](https://github.com/primefaces/primefaces/files/2387468/aria_required_patch.zip)

[2018-09-17 08:06] Rapster commented on #4047
Please provide a PR instead

[2018-09-17 08:21] rho66 commented on #4047
My patch was against tag 6_2, so should I try to apply my patches against master branch (6.3-SNAPSHOT) ?

[2018-09-17 08:33] Rapster commented on #4047
Yes please

[2018-09-17 08:49] rho66 commented on #4047
OK!

[2018-09-17 09:05] Rapster commented on #3201
See #4011 #4012 #4013 #4014 #4015 #4015 #4016 #4017

[2018-09-17 09:05] #3201 closed, assigned to nobody

[2018-09-17 11:14] #4040 closed, assigned to nobody

[2018-09-17 11:17] #4043 closed, assigned to nobody

[2018-09-17 11:17] #545 closed, assigned to nobody

[2018-09-17 11:20] #3791 closed, assigned to nobody

[2018-09-17 11:21] #4034 closed, assigned to nobody

[2018-09-17 14:14] mertsincan commented on #3269
Thanks a lot for the update, @melloware ;) I made some changes in my code. What do you think about it?
[code]

Tests;
[code]

[2018-09-17 14:17] melloware commented on #3269
I like it!

[2018-09-17 20:34] melloware commented on #4047
@rho66 I think I have much cleaner fix for this if you want me to take a shot at it?

[2018-09-17 23:53] mertsincan commented on #3269
@tandraschko , @melloware , @cnsgithub and @Rapster What do you think about this fix? Could you please review it? I checked it on Windows. It works fine for me.

[2018-09-18 02:48] JamesMung commented on #4037
Is that annotation better then xml config ?

[2018-09-18 05:03] rho66 commented on #4047
@melloware Yes, please! It would be great to have a solution without changing existing primefaces code!

[2018-09-18 07:47] Rapster commented on #4037
It's not that it's better, IMO it makes developers life easier that's all

[2018-09-18 11:38] melloware commented on #3269
I added my comments.

[2018-09-18 11:43] melloware commented on #4036
You are right.  I just checked in the fix.

[2018-09-18 13:45] mustafamizrak commented on #3875
any tricky solution found to handle this defect?

[2018-09-18 14:04] melloware commented on #3875
I think at its core its a Mojarra bug: https://github.com/javaserverfaces/mojarra/issues/4370

So I am not sure if a PF fix alone can solve this issue.

[2018-09-18 16:50] markusg80 commented on #3245
Are here any news? I think it would be a good idea to change to vis.js! This way primefaces eill get a more powerfull Timeline Component

[2018-09-18 19:42] melloware opened #4049 "CoreRenderer: Refactor renderValidationMetadata method"
While cleaning up the code for the aria-required ticket. I noticed that in 21 places the code does this...

[code]
When in reality the cleaner way would be to just call renderValidationMetadata and let it "short circuit" if that property is not enabled.  PR on the way...

[2018-09-19 07:21] mauromol commented on #909
Yes, it's still observable in current showcase.

[2018-09-19 07:51] #4049 closed, assigned to nobody

[2018-09-19 13:20] inis30 opened #4051 "p:commandButton not working properly inside p:dialog."
I am reporting this issue for Primefaces 6.2. The button is acting strange. Sometimes it fires the action and sometimes it does not. The same functionality works properly for version 5.3 without changing  code.

Steps to reproduce :

1-create a p:dialog component
2-add form inside dialog
3-add commandButton inside the form with properties : value, update, actionListener, onComplete
4- add also a p

[2018-09-19 13:30] tandraschko commented on #4051
Follow the issue template and provide a runnable example. Otherwise it will be closed as invalid.

[2018-09-19 13:50] wsaca commented on #4030
This problem should be fixed because is affecting some components, was introduced here:
https://github.com/primefaces/primefaces/issues/3788

For example: the autocomplete component calls the function PrimeFaces.utils.registerDynamicOverlay but inside that function we have this condition:
[code]

The class AutoCompleteRenderer never sends the default value @(body) if the property appendTo is not s

[2018-09-19 15:08] dmainardi opened #4052 "dataTable: cannot see filters (or sorters) when lazy and use field"
## 1) Environment
- PrimeFaces version: 6.2, 7.0, 8.0 and built from source
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: provided by primefaces-test, see below
- Affected browsers: Chrome (on Windows), Firefox (on Ubuntu 18.04), Firefox mobile (on Android) but I think every browser is affected.

## 2

[2018-09-20 07:25] OBreidenbach opened #4053 "SelectCheckboxMenu: disabled items are shown as selected labels if multiple=true"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No, 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Wildfly 11, Jetty
- Affected browsers: FF, Chrome,

## 2) Expected behavior
Having a SelectCheckboxMenu with d

[2018-09-20 07:35] #3913 closed, assigned to mertsincan

[2018-09-20 07:40] OBreidenbach commented on #4053
The test is quite trivial, but maybe some one is interested:
https://github.com/OBreidenbach/primefaces-test/tree/PF4053

[2018-09-20 09:45] OBreidenbach opened #4054 "SelectCheckboxMenu: Label defaults to '&nbsp;'"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No, 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Wildfly 11, Jetty
- Affected browsers: FF, Chrome

## 2) Expected behavior
If I do not define the label attrib

[2018-09-20 11:17] hieusonson9x opened #4056 "p:treeTable: dynamic column p:columns is not rendered in partial request"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-09-20 12:02] melloware commented on #1689
@tandraschko I have a fix for this.  I can put it in with just a few lines of code with my other PR that is currently pending. Now that I refactored everything to renderAccessibilityAttributes() its just adding a few lines of code like this to that method.

[code]
So the heavy lifting of that refactoring has made this fix simple and possible.  Let me know if you want to me to wait until that PR is

[2018-09-20 12:11] melloware commented on #4056
Have you tried it in 6.2 or 6.3-SNAPSHOT.  There have been tons of TreeTable fixes since 6.1.11 you can see here: https://github.com/primefaces/primefaces/issues?page=1&q=is%3Aissue+treetable+is%3Aclosed&utf8=%E2%9C%93

[2018-09-20 12:22] OBreidenbach opened #4057 "SelectCheckboxMenu: Label not updated for disabled component if updateLabel="true""
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No, 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Wildfly 11, Jetty
- Affected browsers: FF, Chrome

## 2) Expected behavior
If a disabled SelectCheckboxMenu wi

[2018-09-20 12:44] tandraschko commented on #4056
If you dont provide a runnable example, it will be closed as invalid

[2018-09-20 15:25] Rapster commented on #4057
Do you mean that you expect to see "London, Paris" on the disabled check menu after selecting items from enabled checkbox menu?

[2018-09-20 22:16] mdzaebel commented on #3913
Mert, this is simply great! Thank you so much! I'll test your fix on my example too and reply shortly. In my view, this is an important bug fix. Tell me if I could help you with some easier work too.

[2018-09-21 05:05] OBreidenbach commented on #4057
I mean i expect the same behavior as with other input elements. If it is disabled it shows the current values.
The SelectCheckboxBox does that if the multiple attribute is set to true.
![selectcheckboxmenumultipleupdated](https://user-images.githubusercontent.com/11403755/45861359-70b7a000-bd6c-11e8-8293-91d19bc08066.png)
So I expect the some behavior for updateLabel=true as for multiple=true.

[2018-09-21 06:26] OBreidenbach opened #4061 "SelectCheckboxMenu: joins item labels with a comma (',') only"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No, 6.2
- Does it work on the newest sources in GitHub? No
- Application server + version: wildfly 11. jetty
- Affected browsers: Chrome, FF,..

## 2) Expected behavior
If updateLabel=true is set, the selected items are displayed on label comma separated. For instance:
item1,item3,item5
A

[2018-09-21 08:22] Rapster commented on #4061
I don't know the rule of each language in the world. But I'd most of them use a space after comma. I was about to say that adding a new property would not be necessary, but actually what if I want to use a different character like "-"? This property could be usefull, so +1

[2018-09-21 09:15] OBreidenbach commented on #4061
We could do both, adding a space to the default and adding new property.

[2018-09-21 09:18] Rapster commented on #4061
Yes adding a space after comma (as the default value) makes sense

[2018-09-21 09:41] hieusonson9x commented on #4056
Sr, pls help me

[2018-09-21 11:04] mertsincan opened #4063 "When p:submenu contain long list of p:menuitem, scroll on overflow not work."
Reported By PRO User;

[code]

[2018-09-21 11:13] melloware commented on #4056
Just like the instructions above say:  "Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to receive an answer and a solution."

[2018-09-21 11:33] tandraschko commented on #4063
I think this breaks overlay panel and other overlay as the check is used to not hide the overlay If clicked inside
@mertsincan

[2018-09-21 11:37] tandraschko commented on #4063
Just saw the second commit. Wouldnt it be better If you make the behavior configurable instead of introduce this if on every usage?

[2018-09-21 11:49] melloware commented on #4061
I like this change.  I just submitted two code review comments.

[2018-09-21 12:06] Rapster commented on #4057
Sorry if I sound stupid, but if it's disabled how do you select these values? I'm probably missing something, this is why I asked my previous question. Are these default values?

[2018-09-21 12:13] Rapster commented on #4057
What I see is wrong is that, if multiple and disabled: the default label is not displayed. Is that what you meant?

[2018-09-21 13:03] mertsincan commented on #4063
Hi @tandraschko, Could you please try the following code after removing my changes?
[code]
- Please open "Ajax Menuitems" submenu, then click an item in it(Exp; Save2). First menu remains open on 6.3-SNAPSHOT but not 6.2 or 6.1. Therefore, I think we should add the _if (overlay.is($eventTarget) || overlay.has($eventTarget).length > 0)_ condition within each overlay component.

[2018-09-21 13:13] tandraschko commented on #4063
OK, thanks
I will check it monday :) i will close it then or come back

[2018-09-21 13:30] mertsincan commented on #4063
Ok ;) Also, 6.3-SNAPSHOT has two issues; 4029 and 4030.

[2018-09-21 13:32] tandraschko commented on #4063
Yup i know, will fix it next week

[2018-09-21 13:54] #3968 closed, assigned to mertsincan

[2018-09-21 14:40] melloware opened #4064 "Global: Remove Dead/Unused Code"
I have warnings about variables not used and imports not used.  Going to submit a PR to remove all dead code.

[2018-09-21 15:12] melloware opened #4066 "SavedState: Reuse existing model object"
Class org.primefaces.component.api.SavedState can be modified and then duplicate internal copies can be removed from:

UITabPanel
UIRepeat

[2018-09-21 20:18] VsevolodGolovanov opened #4068 "MenuItem: link and command at the same time"
PrimeFaces version: 6.3-SNAPSHOT

Right now declaring a menuitem such as:

    <p:menuitem value="Item" url="<url>" action="<action>" />

will result in only the url having effect. The menuitem will be just a link.

Instead it could both. If you simply click it, it would behave like an AJAX action, but if you middle-click or right-click and open in a new tab - then it's a link.

Why would you want

[2018-09-22 01:08] tandraschko commented on #4068
Shouldnt it be enough to render both href and onclick?
Not sure why we did this with a "or" 😁

[2018-09-22 01:17] #4064 closed, assigned to nobody

[2018-09-22 01:25] #4047 closed, assigned to nobody

[2018-09-22 18:35] rho66 commented on #4047
Great work, melloware!
But some input components are still not rendered correctly to use css pseudo selector as described in expected behavior!

Find below my patches to render components correctly:

[aria_required.patch.gz](https://github.com/primefaces/primefaces/files/2408056/aria_required.patch.gz)

[2018-09-22 22:34] melloware commented on #4047
Thanks for testing!  I will review your changes and fix it.

[2018-09-22 23:56] tandraschko opened #4070 "Check If resolveWidgetVar can be removed from component classes"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-09-22 23:59] tandraschko commented on #4018
7.0 as it isnt even discuss yet with primetek

[2018-09-23 00:02] #3893 closed, assigned to nobody

[2018-09-23 00:05] tandraschko commented on #3056
@mertsincan  what about this?

[2018-09-23 05:00] rho66 commented on #4047
A special case seems to be InplaceRenderer, where aria-required is rendered correctly but css style
` [aria-required="true"] {
            border: darkorange thin solid !important;
        }`is not applied?!

In ChipsRenderer I would apply aria-required to the ul-element instead of each li-element!

[2018-09-23 13:00] OBreidenbach commented on #4061
@melloware, I followed your suggestions.

[2018-09-23 13:09] OBreidenbach commented on #4057
Our application has an edit and a read only mod. After hitting the edit-button you can edit the values. After hitting the save-button you only can read the values you saved. Therefor we set the disabled attribute at the used components / html elements. So I expect the same behavior as with other input elements. Just show the current value(s).
SelectCheckboxmenu does this already if it is set to 'm

[2018-09-23 14:43] melloware commented on #4047
@rho66 Can you code review and test my latest PR: https://github.com/primefaces/primefaces/pull/4071

The only thing I deviated from your fix was in the ColorPickerRenderer. You were only doing it on the "button" mode color picker but not the Inline color picker?  Was there any reason for that?

[2018-09-23 14:47] melloware commented on #4047
@rho66 for your other issue of Inplace not rendering the proper border style that sounds like a new issue ticket as its not related to this aria-required fix.

[2018-09-23 14:56] melloware commented on #4052
Thanks for providing a test project. I definitely verified your issue on 6.3-SNAPSHOT using your test.

[2018-09-23 15:33] melloware commented on #3019
@adrianfiedler I think it was as simple as this PR from everything I have read and comparing it to SelectOneMenu.  https://github.com/primefaces/primefaces/pull/4072

[2018-09-23 15:45] #3019 closed, assigned to nobody

[2018-09-24 07:01] OBreidenbach opened #4073 "InputMask: wrong description for "lang" attribute in primefaces-p.taglib.xml"
The lang attribute has the same description as the label attribute.
https://github.com/primefaces/primefaces/blob/271a52100de06d8c8a339025e9a0b4c5500e31a0/src/main/resources/META-INF/primefaces-p.taglib.xml#L8727-L8738

[2018-09-24 08:07] #4053 closed, assigned to nobody

[2018-09-24 08:15] #4061 closed, assigned to nobody

[2018-09-24 08:16] tandraschko opened #4075 "[Documentation] SelectCHeckboxMenu: LabelSeparator"

[2018-09-24 08:20] #4066 closed, assigned to nobody

[2018-09-24 09:09] tandraschko commented on #4047
i removed the inplace stuff for now
and i would also think about to ignore this component as it's not really a good design idea to make such a component required
also the logic, to check if it contains a required component requires a complete traversel of the childs and might not be correct in all cases

[2018-09-24 09:14] OBreidenbach opened #4076 "SelectCheckboxMenu: add attribute for defining updated label if no item is selected"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Wildfly 11
- Affected browsers: FF, Chrome

## 2) Expected behavior
If the updateLabel attribute is set, a comma s

[2018-09-24 09:16] tandraschko opened #4077 "ARIA and accessibility attributes are rendered on wrong elements"
disabled and readonly are only ALLOWED on this elements:
https://www.w3schools.com/tags/att_disabled.asp

Not sure about the ARIA attributes but its probably allowed on other tags, too:
https://www.w3.org/TR/WCAG20-TECHS/ARIA2

[2018-09-24 09:16] tandraschko commented on #4077
@melloware here is a ticket for you

[2018-09-24 09:27] #4057 closed, assigned to nobody

[2018-09-24 09:28] #4073 closed, assigned to nobody

[2018-09-24 09:40] #4054 closed, assigned to nobody

[2018-09-24 11:13] tandraschko commented on #4029
made "body" the default again

[2018-09-24 11:13] #4029 closed, assigned to tandraschko

[2018-09-24 11:23] melloware commented on #4047
@tandraschko thanks for reviewing and I agree on Inplace. It doesn't feel right to make it required.

[2018-09-24 11:51] melloware commented on #4077
@tandraschko and @rho66 Just so I fix this correctly

1. If the container component is a DIV I should just use the renderARIARequired() method.

2. Only use renderAccessibilityAttributes if the element its being assigned to is one of:

[code]

[2018-09-24 11:58] melloware commented on #4077
Actually according to this "This attribute can be used with any typical HTML **form** element;" the 'aria-required' and 'aria-invalid' attributes should **not** be used on DIV's.  Yet in @rho66 testing he stated the screenreader was not reading it correctly unless it was on the outer DIV.

@rho66 can you confirm?

[2018-09-24 12:27] tandraschko commented on #4077
not sure, if you check "https://www.w3.org/TR/WCAG20-TECHS/ARIA2", it's also used in "ul"

[2018-09-24 13:25] marcusfey commented on #40
Is this any hope for this feature request to get implemented?

[2018-09-24 13:27] erickdeoliveiraleal commented on #40
reference: https://github.com/themrleon/JSF2Leaf

[2018-09-24 13:29] marcusfey commented on #40
I know this exist, but that last development was 3 years ago thus I fear it will get outdated over time...

[2018-09-24 13:38] melloware commented on #40
If one of the developers doesn't want to tackle this in their free time this is mostly likely a PrimeFaces PRO request to get implemented.   If your company wants to sponsor it if they truly need this functionality it might be the only way it gets implemented.

[2018-09-24 13:39] melloware commented on #4077
Interesting in that case the Chips implementation on the UL would be correct for aria-required.  Also from reading it seems like whatever fix I make that aria-required and aria-invalid go hand in hand on the same exact elements.

_"When aria-invalid is used in conjunction with the aria-required attribute, aria-invalid should not be set to true before the form is submitted - only in response to val

[2018-09-24 13:44] svrolanski commented on #3378
I was just dealing with DialogFramework and needed to set the widgetVar, I thought passing it on options map would set the ID or widgetVar, but it doesn't. The processing of the options map should be extended (id, widgetvar, class, style, etc.) so we can customize and manipulate the dialog easily.

[2018-09-24 14:51] wsaca opened #4080 "SelectBooleanButton: throws TypeError: $.ui is undefined"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Not Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
No one javascript error should be throw.

## 3) Actual behavior
the component is throwing an error when the keyboard is used to

[2018-09-24 18:40] Rapster commented on #4080
Is it possible to see the JS stack trace to see what exactly is wrong?

[2018-09-24 19:14] wsaca commented on #4080
The component use "$.ui.keyCode" without add the dependency to jquery-plugins.js where it's located. You can't replicate this problem using the showcase because the commandButton already add this dependency.

[2018-09-24 19:30] #4080 closed, assigned to nobody

[2018-09-24 20:11] mdzaebel commented on #3913
Works even in more complex test cases.

[2018-09-24 20:37] #4030 closed, assigned to tandraschko

[2018-09-25 05:25] rho66 commented on #4047
The basic idea was to highlight required fields by using a different border color as shown in below images. Inspired from an article on stackoverflow ([https://stackoverflow.com/questions/28333772/how-to-show-a-simple-after-a-component-that-is-required]()) I thought that using aria-required would be the simplest way to achive a solution.
From my perspective using inplace with `required="true"` and

[2018-09-25 07:06] mertsincan opened #4083 "Upgrade to jQuery Knob 1.2.13"

[2018-09-25 07:09] tandraschko commented on #2390
Pinged PrimeTek about it. I will close the issue as it's not related to the PrimeFaces codebase and can't be changed by community.

[2018-09-25 07:09] #2390 closed, assigned to cagataycivici

[2018-09-25 07:09] #4083 closed, assigned to mertsincan

[2018-09-25 08:59] tandraschko commented on #4063
just did a small refactoring now

[2018-09-25 08:59] #4063 closed, assigned to tandraschko, mertsincan

[2018-09-25 09:03] mertsincan opened #4084 "Calendar is not working correctly in OverlayPanel"
Reported By PRO User;

[2018-09-25 09:03] #4084 closed, assigned to mertsincan

[2018-09-25 09:06] #4077 closed, assigned to nobody

[2018-09-25 09:25] mertsincan opened #4085 "Knob mouse not lost focus insinde the knob on FireFox"
Reported By PRO User;

Mouse click up must validate the knob change and free mouse moving.

[2018-09-25 09:29] #4085 closed, assigned to mertsincan

[2018-09-25 12:21] tandraschko commented on #4070
It's also used by premium templates, i will leave it as it is for now.

[2018-09-25 12:21] #4070 closed, assigned to tandraschko

[2018-09-25 12:35] tandraschko commented on #3757
The exceptions seems to very different and not sure if we can catch it easily. Will close it for now.

[2018-09-25 12:35] #3757 closed, assigned to tandraschko

[2018-09-25 14:06] #4076 closed, assigned to nobody

[2018-09-25 14:07] tandraschko opened #4086 "[Documentation] SelectCheckboxMenu: emptyLabel"

[2018-09-25 14:34] #3868 closed, assigned to nobody

[2018-09-25 14:34] tandraschko commented on #3868
Thanks @wsaca

[2018-09-25 15:43] Darlio commented on #2838
I love this feature !!!! How do you add it to a UIComponent at run time ? Here is the "old" wayof doing it... How should I change it ?

		Growl growl = new Growl();
		growl.setId("growlMessages_sticky");
		growl.setFor(aGrowlSticky);
		growl.setSticky(true);
		growl.setShowDetail(true);
		growl.setRedisplay(true);
		growl.setAutoUpdate(true);
		cForm.getChildren().add(growl);
	}

Of course, I coul

[2018-09-25 18:48] tandraschko commented on #2838
1) use the #createComponent API instead of new Growl
2) you have to do the same as in AutoUpdateTagHandler#apply

[2018-09-25 21:01] Darlio commented on #2838
This is great news !!! You are amizingly quick to answer... and very "straight to the point" !

 Thanks for the

--> And for further people to read why (if I may add a link in this thread... remove it if it's not the case) :
https://stackoverflow.com/questions/16610655/why-should-i-use-createcomponent-instead-of-creating-the-instance-myself

[2018-09-26 07:54] Darlio commented on #2838
Stuck at creation of AutoUpdateTagHandler :

Hello again, sorry to disturb, but I have been trying this the all night without success. Here is my code to now :

		Growl aGrowl = (Growl) FacesContext.getCurrentInstance().getApplication().createComponent(Growl.COMPONENT_TYPE);
		aGrowl.setId("growlMessages_sticky");
		aGrowl.setFor(aGrowlSticky);
		aGrowl.setSticky(true);
		aGrowl.setShowDetail(true

[2018-09-26 07:57] tandraschko commented on #2838
Copy the code from the TagHandler#apply ;) This are only 2 subscribeToEvent calls.

[2018-09-26 08:00] Darlio commented on #2838
Amazing... Are you human ?

Thanks a lot !!! I'll chew that bone now...

Best of all days to you !

[2018-09-26 08:04] tandraschko opened #4087 "AutoUpdate: create helper to manually register a component as autoUpdateable"

[2018-09-26 08:04] tandraschko commented on #2838
https://github.com/primefaces/primefaces/issues/4087

[2018-09-26 08:11] Darlio commented on #2838
SOLUTION (working & tested) :

		Growl aGrowl = (Growl) FacesContext.getCurrentInstance().getApplication().createComponent(Growl.COMPONENT_TYPE);
		aGrowl.setId("growlMessages_sticky");
		aGrowl.setFor(aGrowlSticky);
		aGrowl.setSticky(true);
		aGrowl.setShowDetail(true);
		aGrowl.setRedisplay(true);
		//--> DEPRECATED : aGrowl.setAutoUpdate(true);
		//--> Copied from source code "https://github.c

[2018-09-26 08:45] mertsincan opened #4088 "The menuitems with url="#" are not rendered correctly on breadCrumb"
Reported By PRO User;

PrimeFaces code:
[code]

HTML generated code:

(see attached image)

HTML code snippet (note the href=""):
[code]
Expected result (note the href="#"):
[code]

[2018-09-26 08:45] #4088 closed, assigned to mertsincan

[2018-09-26 12:04] #4087 closed, assigned to nobody

[2018-09-26 12:04] tandraschko commented on #4087
usage:

AutoUpdateListener.subscribe(myComponent, false);

[2018-09-26 12:05] tandraschko commented on #2838
in 6.3 you can use:

AutoUpdateListener.subscribe(aGrowl, false);

[2018-09-26 15:18] matinh opened #4089 "DataTable: rowSelect event not triggered when clicking on checkboxes"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No (6.2)
- Does it work on the newest sources in GitHub? No
- Application server + version: Tested with Wildfly 10.1.0.Final and PrimeFaces Sample Project with Jetty 9.4.11
- Affected browsers: tested with FireFox 62 and Chromium 69

## 2) Expected behavior

In a dataTable with row-select

[2018-09-27 02:06] JamesMung opened #4090 "FileUpload with empty instance"
## 1) Environment
- PrimeFaces version: 4.0
- JSF: 2.2

## 2) Expected behavior
Submit a form with no file and `Uploadedfile` will be null.

## 3) Actual behavior
When I submit form with no attachment file, `Uploadedfile` never be null. but `getContents` and `getFileName` is empty.

## 4) Steps to reproduce
- Open a form.
- Fill the form except file upload.
- Submit the form

## 5) Sample XHTML
[c

[2018-09-27 07:07] blutorange opened #4091 "Tree: Drag&Drop of top-level nodes not working (JavaScript error)"
## 1) Environment
- PrimeFaces version: Current Showcase (`Running PrimeFaces-6.2.9 on Mojarra-2.3.2`)
- Affected browsers: Tested on Chrome, probably all browsers

## 2) Expected behavior

Moving a top-level node of the tree via drag&drop to another top-level position should update the tree and the node should have been moved.

## 3) Actual behavior

Nothing happens after performing the drag&drop

[2018-09-27 08:53] Rapster commented on #4090
I don't think PF 4.0 is maintained anymore. Please follow the issue template (e.g try with the last version)

[2018-09-27 12:35] melloware commented on #4090
Have you tried this with 6.2 or 6.3-SNAPSHOT and is it still an issue?  If not I am afraid this ticket will be closed as invalid.

[2018-09-28 01:53] JamesMung commented on #4090
My project want to update from PF 3.5 to late version. But I found that the layout of the version after PF 5.0 is distorted. only PF 4.0 is closest. So I decided to use PF 4.0.

Can you please kindly provide any solution of this issues ?

[2018-09-28 06:36] tandraschko commented on #4090
Sorry but we dont Support 4.0 anymore since years. I suggest to upgrade to 6.2, everything else doesnt make sense If you already Upgrade versions.

[2018-09-28 06:36] #4090 closed, assigned to nobody

[2018-09-28 07:14] cagataycivici commented on #4089
There is a separate **rowSelectCheckbox** event for checkboxes.

[2018-09-28 07:14] #4089 closed, assigned to nobody

[2018-09-28 08:32] mertsincan opened #4092 "Empty message issue on DataTable with virtualScroll and percentageScrollHeight"
Reported By PRO User;

[2018-09-28 08:33] #4092 closed, assigned to mertsincan

[2018-09-28 09:01] #4051 closed, assigned to nobody

[2018-09-28 09:02] tandraschko commented on #4056
Will close it for now. If you have a forked primefaces-test reproducer, feel free to come back.

[2018-09-28 09:02] #4056 closed, assigned to nobody

[2018-09-28 11:44] tandraschko commented on #2838
no time to check your post but if you want to disable/enable autoUpdate, you can pass it in the listener constructor.

[2018-09-28 11:51] Rapster commented on #2838
"How/Why" questions are supposed to be posted in the forum. Please don't use the issue tracker fo such questions

[2018-09-28 11:52] Darlio commented on #2838
Very sorry about this... Will transfer and not repeat !

[2018-09-28 12:06] Darlio commented on #2838
Is it suposed to be possible at run time ? It's not the case on my tests...

![image](https://user-images.githubusercontent.com/32061339/46207217-db497c80-c326-11e8-9313-6659920a83ed.png)

![image](https://user-images.githubusercontent.com/32061339/46207299-2d8a9d80-c327-11e8-8455-8c4d0bfb0610.png)

Best regards,

Daric

[2018-09-28 12:11] tandraschko commented on #2838
you may unsubscribeFromEvent the old listener first

[2018-09-28 12:53] #4036 closed, assigned to nobody

[2018-09-28 14:03] melloware opened #4093 "[Documentation] PickList: Escape"
New "escape" property to support #4036

[2018-09-28 15:16] AlexKolesnik opened #4094 "PhotoCam: Not working in IE 11"
## 1) Environment
- PrimeFaces version: 6.2.9, Official Primefaces Showcase
- Affected browsers: Internet Explorer 11
- WebCam: Logitech HD Webcam C525

## 2) Expected behavior
When using Internet Explorer 11, the page https://www.primefaces.org/showcase/ui/multimedia/photoCam.xhtml should show a video of a connected webcam. In the absense of supporting browser api, the PhotoCam component should f

[2018-09-28 15:22] melloware commented on #4094
Most likely related to this issue with the underlying PhotoCam code:
https://github.com/jhuckaby/webcamjs/issues/151
https://github.com/jhuckaby/webcamjs/issues/67

This patch may work...
https://github.com/jhuckaby/webcamjs/pull/70

[2018-09-28 15:50] AlexKolesnik commented on #4094
Inside the primefaces archive I can only find META-INF\resources\primefaces\photocam\webcam.swf.

When I replace this file with your version https://github.com/jhuckaby/webcamjs/raw/b93a0d4fc1be3d07482dedab86ca0e924ac925ef/webcam.swf , then I can indeed see a camera picture. The picture is a bit scaled up though and when I take a snapshot the size is different again.

To conclude.. your patch almo

[2018-09-28 17:01] melloware commented on #4094
OK so yeah it looks like that solution was to fix the IE11 stuff.  it might not be perfect but at least it now works in IE11.

[2018-09-28 17:49] vbalrog opened #4096 "ConfirmDialog: global="true" needs appendTo="${idOfTheForm}" to be able to update the confirmDialog"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: WildFly 10, Mojarra 2.2.12-jbossorg-2 20150729-1131
- Affected browsers: Firefox 62.0.2

## 2) Expected behavior

When an update is done on a confirmDialog with global="true" (ex to change language of the page), the "yes" and "no" buttons of the confirmDialog must be well updated (in my case when I change language to Engli

[2018-09-28 19:36] #4094 closed, assigned to nobody

[2018-09-28 19:37] tandraschko commented on #4096
Please provide a runnable example (a small as possible xhtml + bean)

[2018-09-30 16:50] KimGabrielsen opened #4097 "Schedule: Does not resize correctly when min/maxTime set"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-09-30 16:53] KimGabrielsen commented on #4097
Sorry for not including a full XHTML file. but it will not show correctly. Only the header is shown. So I have included the simple schedule call I'm using. Itøs just embedded in a simple XHTML file.

[2018-10-01 05:48] orange-buffalo commented on #4036
Thanks for the improvement, guys! Is it possible to port it to the 6.2? We have Elite subscription and need this functionality.

[2018-10-01 07:25] tandraschko commented on #4036
thats up to @mertsincan

[2018-10-01 08:44] tandraschko commented on #4097
@OBreidenbach would you like to check this? :)

[2018-10-01 08:44] tandraschko commented on #2451
ok, then lets close it.

[2018-10-01 08:44] #2451 closed, assigned to nobody

[2018-10-01 12:15] mertsincan opened #4098 "Knob's value does not increase correctly on Firefox"
Reported By PRO User;

How can respect step value at 1 !

[2018-10-01 12:18] #4098 closed, assigned to mertsincan

[2018-10-01 13:01] MatthSHo opened #4099 "Chips: truncate items with double quote"
1) Environment
PrimeFaces version:
6.1 & 6.2
Application server + version: Wildfly 10.1.0
Affected browsers: Chrome

2) Expected behavior
when adding items to chip I expect that all item gets added

3) Actual behavior
When adding an item with double quotes " the items get added until " is reached.
For instance adding : this is a "double quoted part"
The chip list will contain only : this is a

4)

[2018-10-01 13:09] mertsincan opened #4100 "After updating the Knob component with ajax, two appear"
Reported By PRO User;

[code]

[2018-10-01 13:10] #4100 closed, assigned to mertsincan

[2018-10-01 13:23] melloware commented on #4099
Thanks for posting the sample project!  Let me verify.

[2018-10-01 13:33] melloware commented on #4099
OK I can reproduce your issue with 6.2 but if I use 6.3-SNAPSHOT it appears to be working fine:

![image](https://user-images.githubusercontent.com/4399574/46291631-00273500-c55d-11e8-8036-400817ccc7e3.png)

[2018-10-01 13:34] appldo opened #4101 "Picklist: Javascript error with fast selection"
## 1) Environment
- PrimeFaces version: 6.2.9
Version 6.1.x worked

- Affected browsers:
Chrome/Firefox

## 2) Expected behavior
No Javascript errors
...

## 3) Actual behavior
When quickly selecting items in Picklist (e.g. with Selenium or manually by quickly selecting with 'SPACE/CLICK/SPACE/CLICK/SPACE') a javascript exception occurs:

core.js.xhtml?ln=primefaces&v=6.2.9:480 Uncaught TypeError:

[2018-10-01 13:35] MatthSHo commented on #4099
Ok thanks, that is an already fixed bug then :)
I'll wait for 6.3 !

[2018-10-01 13:39] tandraschko commented on #4099
always try with a source build first :P

[2018-10-01 13:39] #4099 closed, assigned to nobody

[2018-10-01 13:59] tandraschko commented on #2323
Seems to be fixed

[2018-10-01 13:59] #2323 closed, assigned to nobody

[2018-10-01 14:01] mertsincan commented on #3846
I think there are two solutions for this issue;
The first solution (it can be added to PF core);
[code]

The second solution (you can add it to your project);
[code]

[2018-10-01 14:08] tandraschko commented on #3846
so let's add 1) to PF?

[2018-10-01 14:22] tandraschko commented on #3198
You can use {JumpToPageInput} now

[2018-10-01 14:22] #3198 closed, assigned to nobody

[2018-10-01 14:22] tandraschko opened #4102 "[Documentation] DataTable/Paginator: {JumpToPageInput} paginator element"
https://github.com/primefaces/primefaces/issues/3198

[2018-10-01 14:42] #4101 closed, assigned to nobody

[2018-10-01 14:54] melloware commented on #3846
I vote for 1)

[2018-10-01 15:00] tandraschko commented on #3921
switched to enhancement.
The problem that we register the event listener directly on the DOM, which will be replaced:
https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/menu/menu.base.js#L34
We probably have many similar cases in PF.

[2018-10-01 15:03] maelmonnier commented on #1566
Same problem with Primefaces 6.1 (using jsf-undertow-spring-boot-starter 2.4.1). Upgraded JSF from org.glassfish from 2.2.14 to 2.2.18 without success. Tried to switch back to Tomcat without success too. Two partial-response elements are written.
responseResetted flag is true but response doesn't seem to be actually resetted.

Here is my stack in the PrimeExceptionHandler :
[code]

I would be glad

[2018-10-01 15:55] tandraschko commented on #1566
See: https://stackoverflow.com/questions/5893460/problems-with-redirect-after-catching-exception (little bit different case but probably the same root cause ;))

[2018-10-01 15:58] tandraschko commented on #1566
If this doesn't help, and everything mentioned in the ticket, you can still try myfaces.

[2018-10-01 17:49] maelmonnier commented on #1566
Thanks for your responses and suggestions.

I had already tried to change jsf.facelets-buffer-size in my application.yml. I increased it from 100K to 1MB as suggested by BalusC in the response, but without any effect. (I have increase it even to 10 MB)

I tried to switch to myfaces, but it is not compatible with the application (even the login page becomes very badly rendered with el not evaluated

[2018-10-02 07:50] tandraschko commented on #3659
Will close it for now.

[2018-10-02 07:50] #3659 closed, assigned to nobody

[2018-10-02 09:45] tandraschko commented on #3512
@cagataycivici currently stumbled upon this again.
As you assigned @HuseyinTurkmenoglu, i think you would like to work on it?

If yes, we should talk about it as it needs some work.
We may need something like a own "passThroughAttributes" tag, which has a scope or facet.

maybe something like:
`passThroughAttributes for="root"` (targets the rendered root element)
or
'passThroughAttributes for="sel

[2018-10-02 11:05] kukel commented on #4099
Then maybe 'nightly' snapshots should be introduced. Waaaay better/easier than to ask 'normal users' of PF to create source builds.

[2018-10-02 13:22] lucasandradz commented on #3175
Is there any news on this issue? I am facing this problem recently, just checking if it has been fixed in newer versions before considering using inputText with js mask as a workaround.

[2018-10-02 16:00] tandraschko commented on #576
Could you please test it again?
@melloware WDYT? We have aria attributes on the panelmenu, i just don't have a screenreader

[2018-10-02 16:37] melloware commented on #576
@tandraschko I agree the aria roles all look correct and and i was able to TAB and press ENTER to expand and contract menus so the keyboard accessibility looks OK too.  I think its safe to close.

[2018-10-02 18:13] #576 closed, assigned to nobody

[2018-10-03 07:40] mertsincan opened #4104 "Add p:submenu support to SplitButton"
Menuitems can be grouped with p:submenu.

[2018-10-03 07:50] mertsincan opened #4105 "Add filter support to SplitButton"
Added these attributes;
- **filter** -> Displays an input filter for the list
- **filterMatchMode** -> Match mode for filtering, valid values are startsWith (default), contains, endsWith and custom.
- **filterFunction** -> Client side function to use in custom filterMatchMode.
- **filterPlaceholder** -> Watermark displayed in the filter input field before the user enters a value in an HTML5 browse

[2018-10-03 07:51] mertsincan opened #4106 "Add model attribute to SplitButton"
A menu model instance to create the items of splitButton programmatically.

[2018-10-03 07:55] #4104 closed, assigned to mertsincan

[2018-10-03 07:55] #4105 closed, assigned to mertsincan

[2018-10-03 07:55] #4106 closed, assigned to mertsincan

[2018-10-03 08:50] mertsincan commented on #3846
Thanks, @tandraschko and @melloware ;)

[2018-10-03 08:53] #3846 closed, assigned to mertsincan

[2018-10-03 09:11] mertsincan opened #4107 "Improve treenode label of Horizontal Tree"
The text can be wrapped with <span> for easy styling.

[2018-10-03 09:12] #4107 closed, assigned to mertsincan

[2018-10-03 09:57] #3784 closed, assigned to mertsincan

[2018-10-03 10:07] huseyinturkmenoglu opened #4108 "The footer is not hidden when the dialog is minimized"

[2018-10-03 10:09] #4108 closed, assigned to huseyinturkmenoglu

[2018-10-03 10:15] Rapster commented on #4106
Great job! Is it possible to create the default action through the model instance?

[2018-10-03 10:18] Rapster commented on #4106
Might close #766 and #4010

[2018-10-03 11:15] eduarddrenth opened #4109 "Session timeout handling on JSF AJAX request"
Lot's of discussions and questions about this on the internet.

## 1) Environment
- PrimeFaces version: 6.2(.9)
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: payara 5.183
- Affected browsers: all
- PrimeExceptionHandlerFactory and ajaxExceptionHandler in place

## 2) Expected behavior

when an ajax re

[2018-10-03 11:21] melloware commented on #4106
@Rapster I agree it should definitely close those two with links to this ticket.

[2018-10-03 11:47] Rapster commented on #4010
See #4106

[2018-10-03 11:47] #4010 closed, assigned to nobody

[2018-10-03 11:48] Rapster commented on #766
See #4106

[2018-10-03 11:48] #766 closed, assigned to nobody

[2018-10-03 13:17] wsaca opened #4110 "TabView: Allow override the ui-tabs-navscroller padding-left"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Not Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
A way to easily override the "ui-tabs-navscroller" padding-left class to be able to increase the width in the "ui-tabs-navscrol

[2018-10-03 13:21] wsaca commented on #4110
I could add a PR to include a new class called "ui-tabs-navscroller-hidden" to resolve this problem or I could wait your reply about this case.

[2018-10-03 14:08] tandraschko commented on #4109
You should actually get a ViewExpiredException, maybe a bug in the JSF impl you use.
And for ViewExpiredException, we have a ExceptionHandler. So it's probably a won't fix.

[2018-10-03 14:29] Rapster commented on #3980
Hi @primefaces/committers ,

You may have realized the quality gate is failing, it's because a few regressions has been introduced lately. I think it's important from now on to keep quality code stable as the technical debt is already big

To be notified of any new issues, please:

1. sign in on SonarCloud with their github account
2. from there, I'll be able to add you as member
3. you'll be able

[2018-10-03 15:31] eduarddrenth commented on #4109
Perhaps you are right, but I have everything in place, PrimeExceptionHandlerFactory and ajaxExceptionHandler, error pages, security setup. Payara is very standard and robust and aimed at production use, so I don't expect issues there. I always develop stuff as default and standard as I can, so there's nothing goofy in my code or setup. I will do some more testing and get back, but I'm pretty sure

[2018-10-03 17:01] Helveticus opened #4111 "FileUpload: Shaded ValidationException class not found"
## 1) Environment
- PrimeFaces version: 6.3
- Does it work on the newest released PrimeFaces version? Yes
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 9.0
- Affected browsers: FF

## 2) Expected behavior

## 3) Actual behavior

My custom exception handler picks up this exception on each and every file upload:

03-Oct-2018 09:56:29.087 SEVERE [http-nio-8

[2018-10-03 17:57] markusg80 opened #4112 "ChartJs: CartesianAxis add Labels attribute"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-10-03 18:55] eduarddrenth commented on #4109
If I understand correctly you never see an exception becasue your EE server is doing a forward to your login page. So, to deal with this in a friendly way, from my javadoc:

[code]

[2018-10-03 18:56] tandraschko commented on #4109
I only know the default case: when you do a post, with a expired viewId, a viewExpired is thrown. If this doesn't happen, something is wrong.

[2018-10-03 19:15] eduarddrenth commented on #4109
So what you are saying is that payara/glassfish is handling this wrongly? Can it be a spec change? I use EE 8, cdi 2, jsf 2.3, servlet 4.

[2018-10-03 19:19] tandraschko commented on #4109
Probably yes.
Just give MyFaces and Mojarra a try on a simple Tomcat and see what happens.

[2018-10-03 19:37] eduarddrenth commented on #4109
ok, I will

[2018-10-03 19:39] tandraschko commented on #4111
should work now, please try again

[2018-10-03 19:39] #4111 closed, assigned to nobody

[2018-10-03 20:21] tandraschko commented on #3980
over 50% of the bugs/vulnerabilities can't be marked as "won't fix" - i just need the admin rights for this

I don't care about other stuff like "remove unncessary" cast - they are just nice to have.

[2018-10-03 20:24] Helveticus commented on #4111
I ended up having to include these 2 additional classes before the file upload worked. It is possible that there are other dependencies lurking:

org/owasp/esapi/errors/EnterpriseSecurityException.class
org/apache/commons/io/FilenameUtils.class

[2018-10-03 20:25] tandraschko opened #4113 "[perf] use parseBoolean if possible"

[2018-10-03 20:32] #4113 closed, assigned to nobody

[2018-10-03 20:35] tandraschko commented on #4111
Updated, please give it a try.

[2018-10-03 22:09] Helveticus commented on #4111
Seems to work now. Thank you!

[2018-10-04 06:44] mertsincan opened #4114 "Add styleClass attribute to Knob"
To set style class to the wrapped div element.

[2018-10-04 06:45] #4114 closed, assigned to mertsincan

[2018-10-04 06:57] OBreidenbach commented on #4097
If I understand the failure description correct, their is already a ticket for it at full calendar:
https://github.com/fullcalendar/fullcalendar/issues/4314
So, not much we can do about it at the moment.

[2018-10-04 08:00] Rapster commented on #3980
I just add you as owner, you should have the rights now. Before setting anything to "Won't fix", I'd rather discuss it here or gitter. Things like "remove unncessary cast" are low priority but we still need to get rid of these as it is code cumbersome.

[2018-10-04 08:22] mertsincan commented on #4106
@Rapster

No, to create menuitems and submenus in panel

[2018-10-04 08:25] mertsincan commented on #4063
Thanks @tandraschko ;)

[2018-10-04 08:27] mertsincan commented on #3913
Thanks, @mdzaebel !

[2018-10-04 08:29] ghost opened #4115 "Dialog: centered on document height iso window height"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No.
- Does it work on the newest sources in GitHub? No
- Application server + version: EAP 7.0
- Affected browsers: All

## 2) Expected behavior

Dialog always centered in the middle, independent of screen size, browser, resolution etc. Like in Primefaces showcase. When for instance maxim

[2018-10-04 15:16] PJahrmann opened #4117 "DataTable: TableState ignores SortMode and leads to Exceptions when used together with MultiSort"
## 1) Environment
- PrimeFaces version: 6.2.0
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 7
- Affected browsers: All

## 2) Expected behavior

Storing and Restoring TableState together with Multi-

[2018-10-04 15:34] mrodriguezmad commented on #183
I think it is a very useful feature in some cases. Above all integrated with the DataExporter.

[2018-10-04 17:19] mauromol commented on #488
So, what's the fix version for this? 5.3 milestone has been removed and I still find this problem in 6.2. "readonly" does not prevent the popup button from opening the date selection dialog, which lets you select a date and will update the input field contents when a day is chosen, although the "dateSelect" ajax event is not fired. "readonlyInput", if used alone, seems to be even worse: not only t

[2018-10-04 18:09] tandraschko commented on #3980
take for example:
https://sonarcloud.io/project/issues?id=org.primefaces%3Aprimefaces&open=AWWwlygulgbYnohYUhGZ&resolved=false&types=BUG

we have many of them but a NPE would only occur if the request params are modified or there is a big bug (js and server side event doesn't match)
You could of course add a custom exception + message but this case should never occur in "real life"

[2018-10-05 06:11] OBreidenbach commented on #4097
As described here  (https://github.com/fullcalendar/fullcalendar/issues/4314#issuecomment-427185432) you could set the height to auto.
[code]

[2018-10-05 07:26] tandraschko commented on #4097
Thanks, so i can just close it :)

[2018-10-05 07:26] #4097 closed, assigned to nobody

[2018-10-05 07:29] #4110 closed, assigned to nobody

[2018-10-05 08:48] mauromol opened #4119 "Calendar: readonly attribute not working"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: Tomcat 8.0
- Affected browsers: any

## 2) Expected behavior
When setting the attribute readonly="true", mode="popup", showOn="button", I expect a p:calendar to be read-only, so that the user cannot change its value. I expect the popup button to be disabled.
When setting the attribute readonly="true", mode="popup", showOne

[2018-10-05 09:04] mauromol opened #4120 "Dialog: provide client side API to change position (and center on the screen)"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: Tomcat 8.0
- Affected browsers: Firefox 62, Chrome 69

## 2) Expected behavior
I'd like to have some client side API to change the dialog position, at least after it has been shown.

## 3) Actual behavior
Currently, the only documented client side API for Dialog component consists of `show()`, `hide()` and `isVisible()`.
S

[2018-10-05 12:12] Rapster commented on #3980
I understand what you're saying, but every classes should be agnostic to whatever you mentionned. No matter what the input is, proper check (like throwing exception in case event is not supported) needs to be made

[2018-10-05 12:27] NicolaIsotta commented on #4120
It's not documented, but I use initPosition() when I update the dialog content.
https://github.com/primefaces/primefaces/blob/90d5f0583663df7124278d47ed5bec11672deaef/src/main/resources/META-INF/resources/primefaces/dialog/dialog.js#L312

[2018-10-05 12:32] mauromol commented on #4120
Thanks Nicola for the hint, it works! Let's hope this to be "promoted" as a public API.

[2018-10-05 12:45] #1689 closed, assigned to nobody

[2018-10-05 12:54] #2127 closed, assigned to nobody

[2018-10-05 12:56] tandraschko commented on #3980
yep, it would be nicer of course. But i won't handle it as bug, this are just cosmetics for me.

[2018-10-05 13:03] #3223 closed, assigned to melloware

[2018-10-05 13:10] tandraschko commented on #3214
We can't use the PR as it depends on Guava, which is to big to be shaded.
Hoping for another HTML Sanitizer PR ;)

[2018-10-05 13:42] #3935 closed, assigned to nobody

[2018-10-05 13:55] abelet opened #4122 "PanelGrid: component causes invalid HTML and broken AJAX communication"
## Environment ##
- PrimeFaces version: tested with 6.2, 6.2.9
- JSF 2.3

## Maven project demonstrating the problem ##
[jsf-ajax-failure.zip](https://github.com/primefaces/primefaces/files/2450527/jsf-ajax-failure.zip)

## Problem with the implementation ##

JSF components are not perfect. Their implementations can have some faults. For example the primefaces PanelGrid component is liable for not

[2018-10-05 13:56] wsaca opened #4123 "DataTable: With selectionMode=multiple it's not possible to select a row using the keyboard"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Yes Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
We should be able to select a row using the keyboard.

## 3) Actual behavior
When we use the keyboard to select a row using the

[2018-10-05 14:15] tandraschko commented on #4122
A PR would be great.

[2018-10-05 14:49] tandraschko commented on #4122
i mean a Pull Request, to fix the issue

[2018-10-05 14:50] wsaca commented on #4123
It's working with PF 6.2, I will check the issue #3750 to see if it''s the cause.

[2018-10-05 14:52] erickdeoliveiraleal commented on #4123
maybe related to #3971

[2018-10-05 19:28] edudoda commented on #920
This bug will be fixed in next version of jQplot (1.0.10):
Donut chart legend is not exported correctly because of missing css classes id=78

[2018-10-05 19:43] eduarddrenth commented on #4109
@tandraschko I'd like to get back to this quote:

A post is done, but the session is timed out, the post with the viewid never reaches the servlet. The post will be forwarded to the login page by the server, which is pretty default behaviour isn't it? So a ViewExpired is not thrown. Forwarding to a login page in case of ajax is not usefull. Actually a redirect would be more helpfull, hence the lis

[2018-10-05 19:57] wsaca commented on #4123
Not really, I have resolved this issue locally but your problem was not fixed. I think it's better to create another PR to resolve it, maybe the events are lost when the jquery clone function is used.

[2018-10-06 22:02] lagar84 opened #4125 "Confirm: use of disabled attribute inside dataTable produces wrong behavior."
## 1) Environment
- PrimeFaces version: 6.2.10
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: jetty from primefaces-test (not important)
- Affected browsers: all (server side bug)

## 2) Expected behavior
When disabled attribute evaluates to true, no confirmDialog should appear. The correct ro

[2018-10-08 00:41] mertsincan opened #4126 "Dropdown panel misplaced in dialog"
Reported By PRO User;

The dropdown panel is misplaced when we scroll and open the dropdown.
In PF v5.3.15 it works fine.

[2018-10-08 00:49] #4126 closed, assigned to mertsincan

[2018-10-08 09:01] Rapster commented on #3980
Please @mertsincan don't forget to sign in, since you're doing a lot of commits I think it's important that you're notified in case of regressions

[2018-10-08 12:28] melloware commented on #4120
So @mauromol would renaming initPosition() in the widget to just "position()" or "center()" be what you mean?   Or are you saying just add it to the PF documentation?

[2018-10-08 12:37] melloware commented on #4119
From reading that thread @mauromol I think the property you want is "disabled=true" not readonly right?

Disabled i think would disable the button and text entry from happening.

[2018-10-08 13:11] jthalmai opened #4127 "Slider + InputNumber: Input does no longer update the slider"
## 1) Environment
- PrimeFaces version: **6.2**
- Does it work on the newest released PrimeFaces version?  **no - 6.2**
- Application server + version: **Wildfly 14.0.1**
- Affected browsers: **Firefox**

## 2) Expected behavior

When entering any input in the p:inputNumber field, the p:slider should immediately be updated as well.

## 3) Actual behavior

The slider is not updated. This worked in

[2018-10-08 13:15] tandraschko commented on #4127
Please try a source build, should work actually.

[2018-10-08 14:24] tandraschko commented on #4127
works fine in trunk

[2018-10-08 14:24] #4127 closed, assigned to nobody

[2018-10-08 16:02] mauromol commented on #4120
This is up to you, for me it's the same. If `initPosition()` just centers the dialog, probably `center()` is more appropriate, but if resets the dialog position according to the `p:dialog` `position` attribute, then probably `initPosition()` or `resetPosition()` sounds more appropriate.

[2018-10-08 16:04] mauromol commented on #4119
Yes, but `disabled` is not `readonly`. If I set `disable=true`, not only the button is disabled, but also the input text.
Just to mention one difference between `disabled=true` and `readonly=true` for an input text, with Firefox you can't select and copy text in a disabled input text, while you can in a readonly one.

So, definitely, having `readonly=true` work correctly for Calendar would be high

[2018-10-08 16:41] ghost opened #4128 "Datatable: Row selection causes rendering to go in an infinite loop, when updating header from onRowSelect ajax event, and when rows attribute is not set"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: jetty from primefaces-test
- Affected browsers: all

## 2) Expected behavior

 When row is selected, expect the row to be selected, and expect the application to continue running smoothly.

## 3) Actual

[2018-10-08 16:43] melloware commented on #4119
OK you have convinced me. 😄

[2018-10-08 18:33] markusg80 opened #4129 "Chartjs: Make Legend customizable"
## 1) Environment
- PrimeFaces version: 6.2.9
- Does it work on the newest released PrimeFaces version? No Version? 6.2.10
- Does it work on the newest sources in GitHub? No because there are no commits relatet to this issue
- Application server + version:
Payara 5.183
- Affected browsers:
All

## 2) Expected behavior

It should be possible to set parameters for the options.legend namespace inside

[2018-10-09 08:33] tandraschko commented on #4128
A PR would be great ;)

[2018-10-09 11:19] #4122 closed, assigned to nobody

[2018-10-09 11:26] melloware commented on #4112
OK it looks like this is already possible.  Here is the Javadoc of CartesianAxes.

[code]

So it looks like it will use the Global config or you can use data.labels or data.xLabels.  Can you give it a shot?

[2018-10-09 11:32] melloware commented on #4129
@mertsincan I think this would be a huge improvement as the Legend looks pretty customizable. WDYT?

I would think it needs to be its own JSON object like you have modeled the others because there are so many props to set.

[2018-10-09 15:28] markusg80 commented on #4112
@melloware : The Javadoc is from **CartesianCategoryAxes**. But there i cant see any parameter for example:

[code]
I only can see inside **CartesianCategoryTicks** a method in this direction. But it seeams that it has no effect.

[2018-10-09 15:36] melloware commented on #4112
@mertsincan can weigh in here he wrote the javadoc that says that so I was assuming it is possible.  I agree I don't see any way to set this either.  I can definitely add it.

[2018-10-10 07:48] Kurti123 opened #4131 "datatable: cannot display information from selected rows of datatable in dialog"
I tried to implement the example from the datatable showcase w/ lazyloading with my own data from a database.

https://www.primefaces.org/showcase/ui/data/datatable/lazy.xhtml

I already implemented the example step by step with my own data model but whenever i click a row, i get an empty selectedCar result back to the dialog element. I tried downgrading the PF versions and as soon as I went down

[2018-10-10 07:58] tandraschko commented on #4131
As the showcase works fine, we need a forked primefaces-test project, which a small as possible example, to check it.

[2018-10-10 10:56] melloware commented on #4131
Make sure you realize the LazyView is @ViewScoped so it remembers your selection.  If you use @RequestScoped it will lose your selection right away after you select it.

[code]

[2018-10-10 11:49] ghost commented on #4115
@tandraschko Putting the label on 'enhancement' means following things:

- centering on window height is OK. Meaning current implementation (6.2.x) is correct. It also means that dialogs on screens where document is a lot larger then window height, will always fall of screen...

- Primefaces showcase is showing wrong behaviour, since it centers on document height, which is not OK, it should be win

[2018-10-10 11:54] tandraschko commented on #4115
Enhancement often means for me: the old behavior is not the nicest, lets do it better

[2018-10-10 13:10] Kurti123 commented on #4131
Thanks for your response.

@melloware: I had the lazyview set to @viewscoped, @sessionscoped and @applicationscoped but neither worked for me.

@tandraschko: I'll provide a fork of our project today or tomorrow.

[2018-10-10 13:29] #4120 closed, assigned to nobody

[2018-10-10 13:31] tandraschko opened #4132 "[Documentation] Dialog: resetPosition client side method"
re-initializes/resets the dialog positioning

[2018-10-10 13:31] tandraschko commented on #4132
https://github.com/primefaces/primefaces/commit/28bcd020f64c7c3700fb0dfbfa4fa64ac756bc1b

[2018-10-10 13:34] mauromol commented on #4120
Thank you! :+1:

[2018-10-10 15:04] Helveticus opened #4133 "Dialog: Modal dialog hides but overlay does not"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? Don't know
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 9.0
- Affected browsers: Mostly Chrome and Opera

## 2) Expected behavior

## 3) Actual behavior

This is not so much a defect report as a fishing expedition for pointers how to t

[2018-10-10 23:47] melloware commented on #4131
@Kurti123 A sample project would definitely help us figure out the issue.

[2018-10-11 06:03] mmotwakel opened #4134 "Testting Primefaces Nova Theme"
Hello,

Is there a way to test Nova theme for now

Regards

[2018-10-11 06:10] tandraschko commented on #4134
Questions -> forum

[2018-10-11 06:10] #4134 closed, assigned to nobody

[2018-10-11 07:50] OBreidenbach opened #4135 "w3c validator warning: The type attribute is unnecessary for JavaScript resources."
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No, 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: wildfly 11
- Affected browsers: FF, ... (does not matter)

## 2) Expected behavior
No warning by the w3c valid

[2018-10-11 08:04] tandraschko commented on #4135
1) there are only ~5-10 places in PF which renders the type, we can of course change them but script includes are rendered by the JSF impl (if you don't use MOVE_SCRIPTS_TO_BOTTOM)

2) i don't think there is a easy way, i would just check the config

3) -1, we can easily change these 5-10 places

[2018-10-11 08:07] tandraschko commented on #4133
we don't have "inventory" bean - please provide a runnable example

[2018-10-11 09:03] jhalskov commented on #1390
Fantastic! This problem really bothered me for a long time. This solution works!

[2018-10-11 09:03] Kurti123 commented on #4131
@tandraschko: You can find the example code here:

https://github.com/Kurti123/primeBugTest

If you change the PF version in the POM to 5.1, it works just fine.

[2018-10-11 09:20] tandraschko commented on #4131
you don't use the correct ViewScoped annotation.

[2018-10-11 09:42] #4131 closed, assigned to nobody

[2018-10-11 11:45] tandraschko commented on #3980
@Rapster we should definitliy disable the following rules:
- S1192; i don't think we will ever replace all e.g. "disabled" by HTML.DISABLED
- S1066; sometimes it's better to seperate for readability, thats up to the developer imo
- S1172; sometimes it's required by the impl, not in the base method. I think the check is to hard.

[2018-10-11 18:21] markusg80 opened #4136 "Imagecropper: Change imagecropper to cropper.js and support StreamedContent API"
## 1) Environment
- PrimeFaces version: **6.2.10**
- Does it work on the newest released PrimeFaces version? **No** Version? **6.2.10**
- Does it work on the newest sources in GitHub? **No - because long no changes here**
- Application server + version: **Payara 5.182**
- Affected browsers: **all**

## 2) Expected behavior

Image cropper should work with streamed Content and improve touch support

[2018-10-11 18:26] tandraschko commented on #4136
Feel free to provide a PR or sponsor it.

[2018-10-12 04:35] cnsgithub commented on #4135
I like where you are going, PrimeFaces should definetely render valid markup in order for users to be able to include W3C QA validation icons on their websites for example.

But shouldn't we first take care of the errors:

![image](https://user-images.githubusercontent.com/13161711/46848249-10ef6a80-cde9-11e8-855e-1abca4f444d4.png)

Since `script type` is allowed in HTML5 as well, I wouldn't spend

[2018-10-12 04:54] cnsgithub commented on #3214
That's a pity. :cry:  But thanks for giving it a try.

I think other HTML sanitizers are rare...

Let's fork OWASP/java-html-sanitizer and do it without guava just to fit PrimeTek's no-third-party-deps policy. :wink: I just checked the occurrences of guava imports: https://github.com/OWASP/java-html-sanitizer/search?q=in%3Afile+%22import+com.google%22&unscoped_q=in%3Afile+%22import+com.google%22 T

[2018-10-12 07:37] tandraschko commented on #3214
the problem is that guava is really a fat boy and adding it as a dependeny could also cause conflicts when other libraries use guava, too.
Same as with ASM, therefore everyone is shading it.

[2018-10-12 07:46] Rapster commented on #3980
I'll have a look after I come back from vacation :wink:

[2018-10-12 07:46] cnsgithub commented on #3214
Normally this is where jigsaw or wildfly modules or things like that come into play?

[2018-10-12 07:54] tandraschko commented on #3214
yup

[2018-10-12 07:54] cnsgithub commented on #3214
Let's fork OWASP/java-html-sanitizer, shade guava there and release a all-in-one version? Or ask them to do so?

[2018-10-12 09:05] cnsgithub commented on #3214
Asked them: https://github.com/OWASP/java-html-sanitizer/issues/157

[2018-10-12 09:08] tandraschko commented on #3214
is it the right project?
seems like no owasp project uses guava, just java-html-sanitizer

[2018-10-13 19:54] ghost commented on #4128
Sure. Will submit a PR.

[2018-10-13 20:20] mertsincan opened #4137 "Upgrade to AutoSize 4.0.2"

[2018-10-13 20:27] #4137 closed, assigned to mertsincan

[2018-10-14 08:13] tandraschko commented on #4135
+1 @cnsgithub

[2018-10-14 12:27] melloware commented on #4135
+1.  @tandraschko do you have an idea of where those errors are coming from?  if not I can help investigate if you want.

[2018-10-14 13:21] tandraschko commented on #4135
no idea, sry

[2018-10-14 16:53] melloware commented on #4135
understood. I will investigate and see what I can find out.

[2018-10-14 16:59] melloware commented on #3022
@natalicontguard Its fixed in the source of GitHub so you can build 6.3-SNAPSHOT yourself if you need the fix.

[2018-10-15 07:25] #3175 closed, assigned to mertsincan

[2018-10-15 07:57] ghost opened #4138 "InputNumber: RowExpansion value lost"
If the InputNumber is inside a RowExpension and the row is closed the submitted value will be lost on ajax process.

## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? no
- Application server + version: Wildfly-10
- Affected browsers: ALL

## 2) Expected behavior
The value should be submi

[2018-10-15 09:16] anhquande opened #4140 "Spotlight: Body is still scrollable when the spotlight is shown"
## 1) Environment
- PrimeFaces version: 6.3.0
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? no
- Application server + version: Tomcat 8.5.15
- Affected browsers: ALL

## 2) Expected behavior
When the spotlight is visible, it should be already attached to the corresponding item.

## 3) Actual behavior

When the spotlight is vis

[2018-10-15 11:08] #3957 closed, assigned to mertsincan

[2018-10-15 11:44] melloware commented on #4135
OK the errors are weird. The W3C validator is reporting type="button" is in the DOM twice but I when inspect the DOM in Chrome or any other tool its only there once.  So I have no idea why its reporting this an an error and twice unless the JS is doing something to the DOM after it loads the W3C only looks at the original DOM sent from the server and not the JS manipulated DOM?

[2018-10-15 11:46] cnsgithub commented on #4135
@melloware Just right-click and view the page source, then you'll find them twice.

[2018-10-15 11:51] melloware commented on #4135
Ahh interesting. Chrome and Firefox in the Inspector filter this out but View Source shows it. The issue is due to this..

[code]
So its just bad markup in the showcase as that type="button" is not necessary.

[2018-10-15 11:53] cnsgithub commented on #4135
Ok, it's rather a showcase issue then...

[2018-10-15 11:53] melloware commented on #4135
Yep I will submit a Showcase PR.

[2018-10-15 12:20] mertsincan opened #4141 "FileUpload throws an exception on simple mode"
Reported By PRO User;

_avax.faces.FacesException: Filename is required.
org.primefaces.util.FileUploadUtils.getValidFilename(FileUploadUtils.java:33)
org.primefaces.model.NativeUploadedFile.resolveFilename(NativeUploadedFile.java:140)
org.primefaces.model.NativeUploadedFile.<init>(NativeUploadedFile.java:50)
org.primefaces.component.fileupload.NativeFileUploadDecoder.decodeSimple(NativeFileUpload

[2018-10-15 12:22] #4141 closed, assigned to mertsincan

[2018-10-15 15:15] #4138 closed, assigned to nobody

[2018-10-15 20:27] elab commented on #4090
I can confirm that the issue still exists with PF 6.2.
(In my case, no upload related filters and context-params are set in web.xml)

[2018-10-15 20:50] markusg80 commented on #4136
I‘ve never developed a jsf component!  Its the reason why i alwas bet on prime 😉! So maybe at my holiday i will try to create this Component. Should i update existing imageCropper or create a new Component.

[2018-10-16 11:29] anhquande opened #4142 "Schedule: Cannot render events with special characters like ampersand (&), or minus(-)"
## 1) Environment
- PrimeFaces version: 6.3.0-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? yes (work on 6.2.0)
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no (does not work on 6.3.0-SNAPSHOT)
- Application server + version: does not matter
- Affected browsers: does not matter

[2018-10-16 11:31] tandraschko commented on #4142
@OBreidenbach can you check this? Probably just a missing escape

[2018-10-16 11:58] ghost commented on #4115
@tandraschko Okay I found the issue. The solution to this problem is to add <!DOCTYPE html> to the head of the page and the behavior is as desired. Then and only then it will center on window height iso document height... ^^

Yes I know, eyes popping out of disbelief... Let me document how I found this, because it is an important issue that has impact on other components as well... I was having an

[2018-10-16 12:06] tandraschko commented on #4115
Lets close it for now. It's more a browser problem then.

[2018-10-16 12:06] #4115 closed, assigned to nobody

[2018-10-16 13:49] anhquande opened #4143 "Compiler: yuicompressor-maven-plugin:1.5.1:compress failed"
## 1) Environment
- PrimeFaces version: 6.3
- Does it work on the newest released PrimeFaces version? Version? yes (6.2)
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: does not matter
- Affected browsers: does not matter
- OS: windows 10

## 2) Expected behavior

The project

[2018-10-16 13:54] #4143 closed, assigned to nobody

[2018-10-16 14:01] anhquande commented on #4143
thanks, it works now after your commit

[2018-10-16 14:37] OBreidenbach commented on #4142
I will check, but not before next week.

[2018-10-16 15:57] ghost commented on #4115
@tandraschko If I may, aren't we getting a little bit to light over it? :-)

See it this way: user download primefaces, user wants to start using dialogs on large pages.... user notices dialog falls of screen and concludes it is not working (and of course he applied the fact that doctype declarations are optional and didnt add it to his page). For this user, primefaces is faulty, because on any br

[2018-10-16 19:58] tandraschko commented on #4115
I understand you but we have the doctype everywhere in our getting started, showcase, primefaces-test project and so on.

[2018-10-17 10:21] #719 closed, assigned to mertsincan

[2018-10-17 10:22] mertsincan commented on #719
We decided to trigger the 'change' event of input when item is selected using enter or mouse-click.

[2018-10-17 16:36] Rapster commented on #4117
Seems you have a solution, please provide a PR then :wink:

[2018-10-18 11:34] imosapatryk opened #4144 "Build: release 6.0 compress failed"
1) Environment
- PrimeFaces version: 6.0

2) Expected behavior

Build release compiles without any errors

3) Actual behavior

There is an error when `mvn clean install -Prelease`

4) Steps to reproduce

`git clone https://github.com/primefaces/primefaces.git

cd primefaces

git fetch --tags

git checkout 6_0

mvn clean install -Prelease`

[2018-10-18 11:35] tandraschko commented on #4144
6.0 is already released and we don't have branches for the community -> won't fix.

[2018-10-18 11:35] #4144 closed, assigned to nobody

[2018-10-18 11:42] imosapatryk commented on #4144
What does it mean? It is not possible to build it in release profile on that tag?

[2018-10-18 11:44] tandraschko commented on #4144
Yep, seems so

[2018-10-18 11:45] imosapatryk commented on #4144
Could you at least explain why ?

[2018-10-18 11:48] tandraschko commented on #4144
Looks like it's related to JS compressing. Maybe the tag was done before the actual release and not refreshed. Don't know.

[2018-10-18 12:43] melloware commented on #4142
Hmm it does look like its being JSON escaped in ScheduleRenderer.

[code]

[2018-10-19 10:10] awenger63 opened #4145 "PickList: auto select checkbox in FireFox"
## 1) Environment
- PF 6.2.10
- FireFox, not reproduce in Chrome

## 2) Expected behavior
When move/drop a line, with checkBox, chexbox is auto selected (checked) when mousedown if mouse pointer is NEAR checkBox

## 3) Actual behavior
No auto selection when line move

## 4) Steps to reproduce
use Showcase with FireFox : select a line of theme by the picture and move to right part => checkbox is no

[2018-10-19 11:02] tandraschko commented on #4145
@mertsincan Would you like to check it?

[2018-10-20 10:44] mdzaebel opened #4147 "DataTable: duplicate ContextMenu"
## 1) Environment:
Wildfly 11, PF 6.2.10 (newest), Browsers: IE 11, Chrome 69, (Firefox 62 works correctly!)
Bug introduced by commit 30f362708964bf4b77ac0aa81ed8cdac285a662f (T.Andraschko, 8/28)

## 2) Expected behavior
Old _contextMenu_ should disappear

## 3) Actual behavior
Duplicate contextMenu's.

## 4) Steps to reproduce

- Right click on `row 1` and activate the `menu 1`. (Test 1 message a

[2018-10-20 11:29] Rapster commented on #3980
I can't find issues related to these squids (maybe you disabled them?) But my guess is:

- S1192: Yes indeed... I would have love to see a HTML fluent builder to avoid that kind of problem (like https://github.com/xmlet/HtmlApi)

- S1066: I see what you mean, unfortenaly I don't see a concrete example, so hard to tell... But a good formatting should simplify the readibility (to meditate as it's no

[2018-10-20 11:56] Rapster commented on #4147
Since you have the commit, did you try to figure where could be exactly the problem?

[2018-10-21 17:23] mdzaebel commented on #4147
The problem lies in `src/main/resources/META-INF/resources/primefaces/menu/menu.contextmenu.js`. Revoking this file in the commit to its former version fixes the bug and other 6.3 fixes work too. Thomas changed the way of how `contextMenus` are appended to the body. I'm sure, he is better in solving this issue, which in my view should be fixed before 6.3 RC1.

[2018-10-21 17:34] OBreidenbach commented on #4142
@anhquande, I can not reproduce the issue with FF or Edge. I did check out your test project, but it is working fine.
Next time, please provide an example which is striped down to the minimum.

[2018-10-22 06:36] OBreidenbach commented on #4135
As a solution for my problem, do not render the type attribute for the script element, I did write my own response writer. This solves the problem for primefaces and the standard jsf  components.

[2018-10-22 06:36] #4135 closed, assigned to melloware

[2018-10-22 07:28] Neonell opened #4148 "Unable to get property 'getElementsByTagName'"
Hi everybody,

I've an issue with Primefaces 6.1 and JSF 2.2:

When I'm navigating into my application and coming back to a tab, it happens, sometimes, during the refresh of the Tab information that the Primefaces JS code throw a nullpointer exception:

SCRIPT5007: Unable to get property 'getElementsByTagName' of undefined or null reference
File: eval code (66), Line: 3, Column: 9950

This line sh

[2018-10-22 07:56] Neonell opened #4149 "JS Error in PF: Unable to get property 'getElementsByTagName' of undefined or null reference"
Hi everybody,

I've an issue with Primefaces 6.1 and JSF 2.2:

When I'm navigating into my application and coming back to a tab, it happens, sometimes, during the refresh of the Tab information that the Primefaces JS code throw a nullpointer exception:

SCRIPT5007: Unable to get property 'getElementsByTagName' of undefined or null reference
File: eval code (66), Line: 3, Column: 9950

This line sh

[2018-10-22 09:02] tandraschko commented on #4149
It should actually not occur but added a if-statement.
fixed it for trunk, for your old version, you must overwrite the JS. There are posts on the web about how to overwrite PF js.

[2018-10-22 09:02] #4149 closed, assigned to nobody

[2018-10-22 09:46] OBreidenbach commented on #4142
OK, I can reproduce the failure. It is because of the change from @cnsgithub .
It changes escaping from ComponentUtils.escapeText() to EscapeUtils.forJavaScript(), which is not correct for JSON.
https://github.com/primefaces/primefaces/commit/78e6e64a01b521c8649e2b0701e0785ae2599c7f#diff-d8f09c35c06d0b77f231131c42227906L610
Possible Solutions:
1. use  ComponentUtils.escapeText()  again
1. use JSON

[2018-10-22 11:53] Rapster commented on #4148
Please follow the issue template otherwise it will be closed as invalid

[2018-10-22 12:03] #4148 closed, assigned to nobody

[2018-10-22 12:05] Neonell commented on #4148
Sorry it's a duplicate... We could totally remove it, after submitting an issue I saw a 404 Error, so I though that due to a timeout the submit didn't worked.

But it's more GitHub who get a bug this time ;)

Thanks a lot by the way for the quick feedback!

[2018-10-22 12:25] cnsgithub commented on #4148
Yep, GitHub seems to have some problems today: https://status.github.com/messages

[2018-10-22 12:33] cnsgithub commented on #4142
I absolutely agree, 3. should be the preferred solution whenever possible!

[2018-10-22 13:38] OBreidenbach commented on #4142
My suggestion for the 3rd solution:
https://github.com/primefaces/primefaces/pull/4151

[2018-10-22 15:06] tandraschko commented on #4147
can't replicate it.

EDIT: can replicate it :D Just not in FF...

[2018-10-22 15:30] #4147 closed, assigned to tandraschko

[2018-10-22 16:32] tandraschko commented on #4096
Will close it for now. Feel free to open a new issue if you got a runnable example / primefaces-test fork.

[2018-10-22 16:32] #4096 closed, assigned to nobody

[2018-10-22 16:33] tandraschko commented on #4133
Will close it for now. Feel free to open a new issue if you got a runnable example / primefaces-test fork.

[2018-10-22 16:33] #4133 closed, assigned to nobody

[2018-10-22 16:54] melloware commented on #4142
I feel like for the least impactful change adding an
EscapeUtils.escapeJSON() whcih does what the old
ComponentUtils.escapeText() did.

On 10/22/2018 6:40 AM, Oliver Breidenbach wrote:

[2018-10-22 17:03] tandraschko commented on #4142
+1 yep
we can refactor later after the next releasee

[2018-10-22 19:12] mdzaebel commented on #4147
Cool fix Thomas (adding 2 chars ;-). I tested it with a different application on the current master and it worked too (the above example on all browsers too). Furthermore all other fixes work, so the master is clean. Well done and thank you very much!

[2018-10-22 20:01] wsaca opened #4152 "Components: The call to registerScrollHandler throws a javascript error"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Yes Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
The components should work without throw a javascript error.

## 3) Actual behavior
The components throw a javascript error bec

[2018-10-22 20:19] #4152 closed, assigned to nobody

[2018-10-22 23:57] GedMarc commented on #1439
Can't seem to find an update -

Is the upload using JQuery File Upload? Is Prime faces affected by the exploit?
https://securityaffairs.co/wordpress/77245/hacking/jquery-file-upload-plugin-0day.html

https://github.com/blueimp/jQuery-File-Upload/blob/master/SECURITY.md

[2018-10-23 04:52] OBreidenbach commented on #4142
Is there already a release date for the next release?

[2018-10-23 06:15] cnsgithub commented on #1439
@GedMarc I cannot see how the exploit is related to this issue.  See this one also: https://github.com/primefaces/primefaces/issues/3269

Probably there are issues with jQuery-File-Upload's client validations, however this does not automatically imply that PrimeFaces is vulnerable to malware infection because that highly depends on the server-side implementation, i.e. the upload handler storing th

[2018-10-23 06:37] tandraschko commented on #4142
Probably this year, i dont know

[2018-10-23 06:50] cnsgithub commented on #1439
I looked at the PoC: it's just trying to exploit the PHP server-side sample implementation on misconfigured Apache httpd installations, quite boring.

[2018-10-23 07:21] matinh commented on #4028
See also issue #1588.

[2018-10-23 10:57] cnsgithub opened #4154 "schedule: URL events enable phishing attacks"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
Clicking at a schedule URL event should not enable the target site to access the window opener.

## 3) Actual behavior
By default, the target site is opened in a new browser window/tab by using `window.open(<url>, '_blank')` javascript. Therefore the target site has access to `window.opener` and is able to modify the `lo

[2018-10-23 11:15] cavoirom opened #4155 "selectOneMenu: reset to old value when required=true"
## The bug

When I first select the "Value 1" item, it's fine. Then I select back to "Please Select". The required message was showed which is correct, however the value of selectOneMenu was reset the the previous value (in this case: "Value 1").

Debugging show that in the render phase, the selectOneMenu will compare the selected value with the item to know which one was selected. When we select

[2018-10-23 11:21] tandraschko commented on #4155
Its the same with h:selectOneMenu, isn't it?

[2018-10-23 11:28] cavoirom commented on #4155
@tandraschko yes, the h:selectOneMenu has the same behavior, did I do something wrong here?

[2018-10-23 11:31] tandraschko commented on #4155
Nope, it's expected.
"Value 1" ist set on the server side and the last valid value.
If you select something invalid now and update the component, it's rendered with the last valid value.

"Please select" should actually not selectable, which can be done via "noSelectOption"

[2018-10-23 11:32] #4155 closed, assigned to nobody

[2018-10-23 11:34] cavoirom commented on #4155
@tandraschko
So the behavior is not consistent between components, I see the InputText still keep invalid value when it was updated?

One more hint: if I select the actual value (not empty) but got ValidatorException (which mean it also invalid value), then the selectOneMenu still keep that invalid value. I think these behavior is not consistent on user perspective.

[2018-10-23 11:40] tandraschko commented on #4155
Maybe a bit yes, see:
https://github.com/primefaces/primefaces/issues/3124
https://github.com/primefaces/primefaces/issues/2821

You can trigger a discussion on the jsf mailing list, maybe we can align it for the future.

[2018-10-23 12:28] cnsgithub commented on #4154
PR: https://github.com/primefaces/primefaces/pull/4156

[2018-10-23 12:40] melloware commented on #4154
Nice work.  Searching for window.open in the PF codebase returned these places..

ButtonRenderer.java
contentflow.js
gmap.js
printer.js

Not sure if it's vulnerable anywhere but ButtonRenderer definitely looks like a candidate?

[2018-10-23 12:42] cnsgithub commented on #4154
Yep, that would have been the next step. :+1: `ButtonRenderer` is indeed another candidate. Feel free to fix those as well.

[2018-10-23 13:46] #4142 closed, assigned to nobody

[2018-10-23 16:14] davidhcarman opened #4157 "FileUpload: Using jQuery File Upload plugin that can be exploited (see CVE-2018-9206)"
## 1) Environment
- PrimeFaces version: 6.2.10
- Does it work on the newest released PrimeFaces version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: ALL
- Affected browsers: ALL

## 2) Expected behavior
Should not be able to exploit CVE-2018-9206 using the fileupload component.

## 3) Actual behavior
Able to exploit CVE-2018-9206 through the fileupload com

[2018-10-23 16:51] melloware commented on #4157
PR submitted https://github.com/primefaces/primefaces/pull/4158

[2018-10-23 20:24] wsaca opened #4159 "FileUpload: Enable cancel button by file"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Not Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
When the upload button is pressed the cancel button of each file should be enabled.

## 3) Actual behavior
When the upload butt

[2018-10-23 20:58] wsaca opened #4161 "LightBox: Overlay Panel is not displayed"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Yes Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
The panel should be displayed.

## 3) Actual behavior
The panel is not displayed.

## 4) Steps to reproduce
1. This case can be

[2018-10-24 08:00] mertsincan opened #4163 "Add tabindex attribute to BreadCrumb"
Position of the items in the tabbing order. Default is 0.

[2018-10-24 08:04] #4163 closed, assigned to mertsincan

[2018-10-24 08:14] #4157 closed, assigned to nobody

[2018-10-24 08:16] tandraschko commented on #4161
set the default as server side as with the other components

[2018-10-24 08:16] #4161 closed, assigned to nobody

[2018-10-24 08:19] cnsgithub commented on #4157
See my latest comments in https://github.com/primefaces/primefaces/issues/1439 also...

@melloware Issue originally described in #1439 is still fixed after upgrading?

[2018-10-24 08:43] cnsgithub commented on #3214
Just in case someone decides to revive PR #3221, please don't forget to integrate `rel="noopener noreferrer"` as denoted in:
- https://github.com/OWASP/java-html-sanitizer/issues/147
- https://github.com/primefaces/primefaces/issues/4154

[2018-10-24 09:23] cnsgithub commented on #4154
Just an idea: we could also provide some built-in security for `LinkRenderer` and others by automatically adding `rel="noopener noreferrer"` per default if `target="_blank"` is specified and not specified differently, e.g. via parameter.

[2018-10-24 11:31] mertsincan opened #4164 "Pagination width fails with frozenColumns"
Reported By PRO User;

[code]

[2018-10-24 11:33] #4164 closed, assigned to mertsincan

[2018-10-24 13:08] wsaca commented on #4161
I'll take it into account the next time... Thanks...

[2018-10-24 15:04] erickdeoliveiraleal commented on #3859
fixed in #4122

[2018-10-24 15:06] erickdeoliveiraleal commented on #3800
fixed in #4122

[2018-10-24 16:32] #4159 closed, assigned to nobody

[2018-10-26 08:16] OBreidenbach commented on #4142
An addition to the escaping:
In the past the escaping was done by ComponentUtil#escapeText()
https://github.com/primefaces/primefaces/blob/cc55f58ddd006ee1dedac3cd35d6a118b2cea7f0/src/main/java/org/primefaces/util/ComponentUtils.java#L306
 which is a copy from json-simple
https://github.com/fangyidong/json-simple/blob/a8b94b79b697df64b23428c27d65d6a187e9ebf9/src/main/java/org/json/simple/JSONValue

[2018-10-26 10:12] ghost commented on #2821
I stumbled upon the exact same issue today. After doing some research, I have found an easy workaround. Workaround tested against Primefaces 6.2, JSF 2.3.3 on EAP 7.1

[code]

After setting the valid field to false, we need to force the original value into the submitted value.

[2018-10-26 14:26] hcmm opened #4166 "Gmap not open correctly."
## 1) Environment
- PrimeFaces version: 6.3.0

## 2) Expected behavior

map open correctly.

## 3) Actual behavior

map not open correctly.

## 4) Steps to reproduce

Just access https://www.primefaces.org/showcase/ui/data/gmap/basic.xhtml

## 5) Sample XHTML

n/a

## 6) Sample bean

n/a

[2018-10-26 14:39] tandraschko commented on #4166
It's related to the showcase - not the PF core - as we don't pay / use a API key: https://developers.google.com/maps/documentation/javascript/error-messages?utm_source=maps_js&utm_medium=degraded&utm_campaign=billing#api-key-and-billing-errors

Will ping PrimeTek about it and close the issue.

[2018-10-26 14:39] #4166 closed, assigned to nobody

[2018-10-26 16:41] Qleoz12 commented on #1910
Hi, I have faced the same situation where I decided to modify the default style of the Primefaces CSS classes in order to leave the subtable as a flex container, and in conjunction with the Grid CSS classes of Primefaces I can achieve my subtable properly, for my case it was inside a tabview.

my parent table must have this properties
- *reflow="true"
- *tableStyle="table-layout:auto"

custom CSS

[2018-10-26 18:03] hreichert commented on #453
Any news on this?

[2018-10-26 20:22] tandraschko commented on #453
As always, you can do it by yourself (and provide a PR), sponsor it via PrimeFaces PRO or just wait until the issue gets fixed and closed ;)

[2018-10-28 08:07] mdzaebel opened #4167 "Editor: Bad update on Firefox"
## 1) Environment
PF 6.3 Snapshot (current), Wildfly 11, Java EE 7, Firefox (only)

## 2) Expected behavior
Editor should show changes

## 3) Actual behavior
Only IE and Chrome show changes, but on Firefox, "true" is displayed rather than the content.

## 4) Steps to reproduce
- Browse sample in Firefox
- Click on"Add"
- All browsers show `p:textEditor` update ("add" added in front). Only FF displ

[2018-10-28 09:54] OBreidenbach commented on #883
This is a duplicate of #1164.

[2018-10-28 10:09] OBreidenbach opened #4168 "Schedule: add dynamic properties to schedule event"
## 1) Environment
- PrimeFaces version: 6.3-snapshot
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers:

## 2) Expected behavior
For some cases it would be handy to have additional attributes in

[2018-10-28 10:56] mdzaebel commented on #4167
Possible workaround could be to add `onclick="editor.saveHTML()"` to `p:editor`, but this doesn't work in a dialog, as it is closed by `saveHTML()`.

[2018-10-28 11:17] melloware commented on #4168
I like this idea a lot.  This is different than the normal "extender" pattern since this is just adding new or custom properties to the ScheduleEvent itself.

[2018-10-28 17:14] #883 closed, assigned to nobody

[2018-10-28 17:37] tandraschko commented on #4167
Ckeditor is heavyweight but there is no special config, just the dependency.
If you provide a PR, i will apply it. Otherwise i wont invest time in a depreacted component.

[2018-10-29 07:22] OBreidenbach commented on #711
This is duplicate to #4097

[2018-10-29 07:58] #711 closed, assigned to nobody

[2018-10-29 19:24] #4168 closed, assigned to nobody

[2018-10-29 19:26] tandraschko opened #4173 "[Documentation] DataList: multiViewState"
See: https://github.com/primefaces/primefaces/issues/3391

[2018-10-29 19:27] #3391 closed, assigned to nobody

[2018-10-29 22:34] mdzaebel commented on #4167
Thanks for the answer, which I expected. Note, that there is quite an effort for new clients to figure out, what's going wrong. As long `p:editor` is in PF, problems should be documented in the User Guide. May be, it's sufficient, to have a list of "_hard_" problems with `p:editor` by just referencing issues like this, as _wontfix_-issues will remain for years. So users can choose the right compon

[2018-10-29 23:02] mdzaebel opened #4174 "CkEditor: PrimeFaces.getScript is not a function"
## 1) Environment
PF 6.3 Snapshot, PE 6.3 Snapshot, Wildfly 11, all browsers.
I know, that only RC 6.3 will include a working combination of PF/PE snapshots. So may be I just have to wait?

## 2) Expected behavior
CkEditor should display HTML

## 3) Actual behavior
Only a text area is displayed.

JS console error:
[code]
## 4) Steps to reproduce
Sample looks like:
![image](https://user-images.gith

[2018-10-29 23:55] melloware commented on #4174
I think you will have to wait for this PFE ticket: https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/569

[2018-10-30 07:26] tandraschko commented on #4174
Jup

[2018-10-30 07:26] #4174 closed, assigned to nobody

[2018-10-30 08:44] mertsincan opened #4175 "The onerror callback doesn't contain xhr info when a file upload fails"

[2018-10-30 08:45] #4175 closed, assigned to mertsincan

[2018-10-30 10:28] mertsincan opened #4176 "The visible attribute of columns doesn't work on TreeTable"

[2018-10-30 10:29] #4176 closed, assigned to mertsincan

[2018-10-30 12:00] pfdeveloper opened #4177 "primefaces datatable subtable very very useful,why is deprecated????"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: primefaces datatable subtable
  Example:

## 1) Environment
- PrimeFaces version: pf 6.2
- Does it work on the newest released PrimeFaces version? Version? yes it works but get me info it was deprecated
- Does it work on the

[2018-10-30 12:01] tandraschko commented on #4177
duplicate of: https://github.com/primefaces/primefaces/issues/2269

[2018-10-30 12:01] #4177 closed, assigned to nobody

[2018-10-30 12:03] pfdeveloper commented on #2269
thats mean its still deprecated????

[2018-10-30 12:06] pfdeveloper commented on #4177
thats mean its still deprecated???

[2018-10-30 12:10] tandraschko commented on #4177
PrimeTek decided to mark it as deprecated long time ago, i don't know anything else. Thats up to @mertsincan / @cagataycivici.

[2018-10-30 12:12] mertsincan opened #4178 "The toggleable attribute and p:columnToggler do not work as expected in the treeTable."
Reported By PRO User;

[2018-10-30 12:13] #4178 closed, assigned to mertsincan

[2018-10-30 12:14] pfdeveloper commented on #4177
its work fine on pf 6.2 can i still using it???
deprecated mean that i cant use it any more or it doesnt upgrade any more???
 ....thank you very much

[2018-10-30 12:24] pfdeveloper commented on #2269
its work fine on pf 6.2 can i still using it???
deprecated mean that i cant use it any more or it doesnt upgrade any more???
....thank you very much

[2018-10-30 12:35] pfdeveloper opened #4179 "what are deprecated component means???? is that mean i cant use the component any more or it means that doesn't have upgrade any more"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-10-30 12:39] tandraschko commented on #4179
Use the forum for questsions, this is a issue tricker.
Deprecated means that it will be removed someday.

[2018-10-30 12:39] #4179 closed, assigned to nobody

[2018-10-30 12:42] OBreidenbach opened #4180 "SelectOneMenu: if in Dialog the selectBox is rendered at wrong position"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? No, 6.3-SNAPSHOT
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No, 6.3-SNAPSHOT
- Application server + version: wildfly 11
- Affected browsers: FF

## 2) Expected behavior
If selectOneMenu i

[2018-10-30 12:46] tandraschko commented on #4180
Could you check which commit breaks it?

[2018-10-30 12:56] OBreidenbach commented on #4180
Do not know, but @mertsincan just got this ticket #4126 three weeks ago.
So maybe this commit https://github.com/primefaces/primefaces/commit/fd273ae5db33c871973391e4e5fd0fcb05bcf727 is the reason.

[2018-10-30 13:21] mertsincan commented on #4180
I could replicate it in 6.3-SNAPSHOT version. It works fine in elite versions.

[2018-10-30 13:21] tandraschko commented on #4180
Can you check it @mertsincan?

[2018-10-30 13:44] #4180 closed, assigned to nobody

[2018-10-30 13:48] mertsincan commented on #4180
Unfortunately, I have to solve a problem three/four times to add 5.2.x, 6.2.x, 6.3 etc. ;)

[2018-10-30 14:47] OBreidenbach opened #4181 "TabMenu: menuitem does not at context path to url attribute"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? worked in 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) 6.3-SNAPSHOT, no
- Application server + version: wildfly 11
- Affected browsers: FF

## 2) Expected behavior

Behavior with 6.2. I

[2018-10-30 15:01] tandraschko commented on #4181
was discussed many times in almost 5 tickets now :P it's expected and also mentioned in the migration guide.

[2018-10-30 15:01] #4181 closed, assigned to nobody

[2018-10-30 15:24] OBreidenbach commented on #4181
Sorry for the noise, I should have check that before. :-/

[2018-10-31 09:42] cnsgithub commented on #4154
Also affected:
- `SplitButtonRenderer`
- `ButtonRenderer`
- `LinkRenderer`
- `BaseMenuRenderer`

[2018-10-31 10:45] mertsincan opened #4182 "The input field doesn't update when the "current date" button is clicked on Calendar"
Reported By PRO User;

[2018-10-31 10:45] #4182 closed, assigned to mertsincan

[2018-10-31 12:31] tandraschko opened #4183 "[Documentation] Schedule: noOpener"
See: https://github.com/primefaces/primefaces/pull/4156

[2018-10-31 12:31] #4154 closed, assigned to nobody

[2018-10-31 12:40] #4004 closed, assigned to nobody

[2018-10-31 12:41] tandraschko opened #4184 "[Documentation] Submenu: disabled"
https://github.com/primefaces/primefaces/pull/4172

[2018-10-31 14:18] Rapster opened #4185 "Datatable: Wrong resolveStaticField result used in facelet tag"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 7
- Affected browsers: Any

## 2) Expected behavior
Condering this facelet tag:
[code]

Intilization of this

[2018-10-31 14:48] melloware commented on #2811
Attached is runnable sample.
[pf-2811.zip](https://github.com/primefaces/primefaces/files/2534903/pf-2811.zip)

[2018-10-31 15:01] tefron opened #4186 "DataTable - RowEditor : validation error + sort cause rows data swap"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version?  - NO
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) - NO
- Application server + version: Jetty (and wildfly too)
- Affected browsers: Chrome (and Fire Fox too)

## 2) Expected behavior
Rows should never swap

[2018-10-31 16:05] tandraschko commented on #4185
It would not define it as defect - it's more an enhancement to work with an special omnifaces feature.

It would also be great if you could provide a UnitTest for it.

[2018-10-31 16:12] Rapster commented on #4185
Enhancement indeed :wink: I'll have a look regarding unit test, I must say I never wrote one of these before (PF related I mean...) :smile:

[2018-10-31 18:52] tefron commented on #4186
I also tried to add:
[code]

and it made no difference.

[2018-10-31 21:30] wsaca opened #4187 "Chips: Avoid to render a null value"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Not Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
A null value shouldn't rendered as a class name.

## 3) Actual behavior
A null value is rendered as a class name.

## 4) Steps

[2018-10-31 21:52] wsaca opened #4189 "Components: Add dependency to jquery-plugins.js"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Not Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
All components calling functions included in jquery-plugins.js should add this file as a dependency.

## 3) Actual behavior
Som

[2018-10-31 21:59] wsaca opened #4191 "TriStateCheckbox: tabIndex shouldn't be rendered when component is disabled"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Not Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
TabIndex shouldn't be rendered when component is disabled

## 3) Actual behavior
TabIndex is rendered when component is disable

[2018-10-31 22:12] wsaca opened #4193 "TriStateCheckbox: Add focus event styles."
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Not Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
As checkbox, this component should include the focus styles.

## 3) Actual behavior
This component doesnt add focus styles.

##

[2018-11-01 08:50] #4187 closed, assigned to nobody

[2018-11-01 09:06] #4189 closed, assigned to nobody

[2018-11-02 07:06] #2811 closed, assigned to nobody

[2018-11-02 07:11] mertsincan commented on #1371
Hi @jxmai,

Issue #2811 is fixed by @melloware. I think issue #3054 is not related to this upgrade.

[2018-11-02 07:59] ohlsen3000 opened #4196 "selectCheckboxMenu: label and tootip incosistent"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: Tomcat 8
- Affected browsers: Chrome

## 2) Expected behavior
selectCheckboxMenu will allways update label and tootltip when 'updateLabel' is set to true

## 3) Actual behavior
selectCheckboxMenu will under certain circumstances not update label and / or tooltip

## 4) Steps to reproduce
*Case 1:*
- Use ```selectCheckboxMe

[2018-11-02 08:08] tandraschko commented on #4196
Please try a source build - afair we fixed something in this place

[2018-11-02 08:57] Rapster commented on #4196
Yep #4057, sounds different but the fix provided by @OBreidenbach might fix this?

[2018-11-02 10:02] ohlsen3000 commented on #4196
Unfortunately the current 6.3-SNAPSHOT shows the same behaviour.

[2018-11-02 11:55] Anton-Petrovskyi opened #4197 "DataScroller: update not working with lazy loading"
## 1) Environment
- PrimeFaces version: 6.2
- Application server + version: GlassFish 4.1.0
- Affected browsers: Chrome

## 2) Expected behavior
Update all elements with class name = 'myClass'

## 3) Actual behavior
Update is not working by className attribute. But if I remove lazy='true' and use List instead of LazyDataModel - update works fine (updated="@(.myClass)")).

## 4) Steps to reproduce

[2018-11-02 12:12] OBreidenbach commented on #4196
Did you set the emptyLabel attribute when using the 6.3-SNAPSHOT? It is the text that is shown when no item is selected.
The label attribute is used for validation messages.

[2018-11-02 12:22] ohlsen3000 commented on #4196
Hi @OBreidenbach, I have the  ```label``` set to something like 'Please choose...'. Has it been renamed in 6.3?

[2018-11-02 12:28] OBreidenbach commented on #4196
No not renamed. But a new one is added. The label attribute is used in validation messages.
Name: should not be null (for instance)
If you use the label attribute for 'Please choose...', your are ending with: Please choose..., should not be null.
So I introduced the new attribute to define the text, that is shown if no item is selected.

[2018-11-02 12:33] OBreidenbach commented on #4196
To Case2, in

https://github.com/primefaces/primefaces/blob/ccfe87624a0efe4a6f8c848adcc9cf06d01104a6/src/main/resources/META-INF/resources/primefaces/forms/forms.selectcheckboxmenu.js#L855-L856

the same 'labelText' is set to the label and the title. So they should not show different values. Did you check with other browsers? Do you get a javascript exception when it happens?

[2018-11-02 12:53] ohlsen3000 commented on #4196
Hi @OBreidenbach, all 3 browsers show the same erroneous behaviour and neither of them shows a js error.

[2018-11-02 12:57] ohlsen3000 commented on #4196
![image](https://user-images.githubusercontent.com/2226986/47916663-33841900-dea7-11e8-8864-c6c6943f3bf3.png)

[2018-11-02 14:00] Anton-Petrovskyi commented on #4197
Update regarding this question:
If I update p:dataScroller by its className - it will work.
But same update for h:panelGroup is not working for me.

Also if I update h:panelGroup that is outside p:dataScroller component - update is successful, if h:panelGroup inside p:dataScroller - update is ignored.

[2018-11-02 14:13] ohlsen3000 commented on #4196
Hello @OBreidenbach, partially good news: Using your new ```emptyLabel``` solves *Case 1* 👍
Unfortunately the asynch label/title issue remains :(

[2018-11-02 15:30] OBreidenbach commented on #4196
Sorry, but I can not reproduce your 2nd case. I created a test case:
https://github.com/OBreidenbach/primefaces-test/tree/PF4196?files=1
But the title is always updated.
You should provide a test case showing the issue.

[2018-11-02 15:32] fabermundi opened #4198 "FileUpload: NoClassDefFoundError: org/apache/commons/io/FilenameUtils"
## 1) Environment
- PrimeFaces version: 6.2.10
- Application server + version: wildfly 10
- Affected browsers: Chrome, Internet Explorer

## 2) Expected behavior
If a file is uploaded there should be no error.

## 3) Actual behavior
Getting error "java.lang.NoClassDefFoundError: org/apache/commons/io/FilenameUtils" after file upload.
After adding the maven depency
[code]
to my POM no more error is

[2018-11-02 15:57] pzygielo commented on #4198
I think [user guide 6.2](https://www.primefaces.org/docs/guide/primefaces_user_guide_6_2.pdf) in section *2.2 Dependencies* covers that.

[2018-11-02 20:44] tandraschko commented on #4197
a PR would be great

[2018-11-02 20:45] tandraschko commented on #4198
@mertsincan Can you check that? This doesn't happen on trunk as it's shaded probably.

[2018-11-02 21:08] pzygielo commented on #4198
@tandraschko - why it was marked as defect? IMO it works as designed.

[2018-11-02 23:01] tandraschko commented on #4198
If native Upload is used, no commons should be required

[2018-11-03 06:07] pzygielo commented on #4198
Right, but choosing native depends on JSF version and context param - which are not known for this case.

[2018-11-03 09:52] Rapster commented on #4198
A stacktrace would be really helpful to understand why Apache utils is called, but my guess is related to #3034

[2018-11-03 12:59] Alireza-Jamali commented on #3437
I had the same problem @marcdas had, you've to install `maven-jsf-plugin` into your local repository like this:
[code]
 and edit its version in primefaces pom file,
guy [here ](https://forum.primefaces.org/viewtopic.php?f=3&t=39299&sid=c4011a3d6e5391a81d8306208fd6648e)had the same problem.

[2018-11-04 13:49] mdzaebel opened #4199 "[Documentation] CommandButton/CommandLink: Default values wrong in user guide"
Up to PF 6.2, the user guide has wrong default values for `p:commandButton` and `p:commandLink` attributes `process` and `update`. While there are many opportunities for improvement in the guide, these two attributes are quite important. A good explanation from Bauke Scholz can be found at [SO](https://stackoverflow.com/questions/25339056/understanding-primefaces-process-update-and-jsf-fajax-execu

[2018-11-04 16:48] tandraschko commented on #4199
process @all is default since years, we won't change that.

[2018-11-04 16:51] tandraschko commented on #4199
Actually the userguide is correct (from a technical aspect) as the default is really null.
our ajax engine just fallback to @all if process=null.

and for the update, null actually means @none

[2018-11-04 16:56] mdzaebel commented on #4199
Yes, I guessed this, so `null` gets `@all` and `@all` gets effectively `@form`, as HTML will submit only one form. So decide, what would be most helpfull for the user?

[2018-11-04 17:01] #4193 closed, assigned to nobody

[2018-11-04 17:08] tandraschko commented on #4199
maybe we can write something like:
process = null (effectively @all)
update = null (effectively @none)

[2018-11-04 17:43] mdzaebel commented on #4199
Thomas, for me it's clearly better, not to bother users with unnecessary implementation details. Especially, if null means different things for different attributes (who is interested in this?). The whole Java history shows, that making things easier to do and easier to understand is in the interest of everyone. Software should reduce complexity. I can tell you that possible misinterpretations sur

[2018-11-04 19:15] ravihariharan opened #4200 "DataTable - Selection - Checkbox Issue"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Please use the naming convention for the title:
  ${component}: ${title}
  Example:
  SelectOneMenu: Converter not called
- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us

[2018-11-04 22:46] Rapster commented on #4200
What about `rowSelectMode` set to `add`?

[2018-11-04 23:44] dmainardi commented on #4052
I found a (sort of) patch.
Instead of using
`field="theProperty"`
you can use
`sortBy=#{theProperty} filterBy=#{theProperty}`

I updated the test project, I hope it helped.

[2018-11-05 02:25] julioccr opened #4201 "the property of rendered does not work for the component <p: ajax>"
the property of rendered does not work for the component <p: ajax> the default value is true, but when changing the option to false the operation remains true from the client.

example:
<p: dataTable ....>

       <p: ajax event = "rowSelect" rendered = "false" listener = "# {mybean.init ()}" />
</ dataTable>

[2018-11-05 07:50] cnsgithub opened #4202 "knob: lack of user input validation"
## 1) Environment
- PrimeFaces version: 6.3-snapshot

## 2) Expected behavior
`Min` and `max `attribute values of `p:knob` must be validated on server side as well.

## 3) Actual behavior
`Min `and `max `attribute values of `p:knob` are validated on front end side only.

## 4) Steps to reproduce

1. Go to the showcase http://localhost:8080/showcase/ui/input/knob.xhtml
2. Somehow tamper with submit

[2018-11-05 07:57] cnsgithub commented on #4201
This is the expected behavior since the `rendered `attribute is not supported for `p:ajax`. You have to use the `disabled `attribute, see section 3.2 of the PrimeFaces user guide.

[2018-11-05 07:58] #4201 closed, assigned to nobody

[2018-11-05 08:55] cnsgithub opened #4204 "Client side bean validation not working in 6.3-SNAPSHOT"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? Yes
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No

## 2) Expected behavior
If `primefaces.CLIENT_SIDE_VALIDATION `context param is enabled in `web.xml `and `p:commandButton `is configured

[2018-11-05 10:02] tandraschko commented on #4204
it would say, it's expected as @Size skips null values

There are 2 possibilities:
1) add @NotNull
2) set interpretEmptyStringAsNull to false

[2018-11-05 10:05] tandraschko commented on #4204
And yep, looks like our implementation in 6.2 and older is not BV aligned

[2018-11-05 10:05] cnsgithub commented on #4204
The others don't work as well.

I just put a breakpoint in `PrimeEnvironment#74 `and restarted jetty. There is no bean validation implementation in the classpath. That explains a lot. I just wonder if the user guide should mention that?

[2018-11-05 10:07] tandraschko commented on #4204
weird, it works for me
e.g. AssertTrue is executed
(i use the trunk of the facelift showcase)

[2018-11-05 10:08] tandraschko commented on #4204
Yep, showcase-facelefts comes with hibernate-validator ;)

[2018-11-05 10:16] alexcatit opened #4205 "Datatable Virtual Scroll + Cell Editor: Inconsistent input"
## 1) Environment
- PrimeFaces version: 6.2.10
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) NO
- Application server + version: Tomee
- Affected browsers: Chrome and Firefox

## 2) Expected behavior
Data loaded using LazyDataModel. In cell

[2018-11-05 10:24] cnsgithub commented on #4204
I am also using the trunk version and start it with `mvn jetty:run`. I also explicitly added `hibernate-validator` as a dependency of `jetty-maven-plugin `in the showcase's `pom.xml`. Does not work for me.

[2018-11-05 10:26] tandraschko commented on #4204
try  jetty:run-exploded
Otherwise no idea, works fine for me and the BV impl is in the classpath

[2018-11-05 10:26] alexcatit commented on #4205
Attached project to reproduce the bug
[datatablebug.zip](https://github.com/primefaces/primefaces/files/2547956/datatablebug.zip)

[2018-11-05 10:50] mertsincan commented on #4198
Please try commons-io v2.4+.

[2018-11-05 10:51] cnsgithub commented on #4204
Nope.

[2018-11-05 10:55] ohlsen3000 commented on #4196
Hi @OBreidenbach , i checked out your test branch and can definitely not reproduce the error with my special testdata. Seems to be caused by an interference with some other script or framework. Thanks so much for your effort!

[2018-11-05 10:55] #4196 closed, assigned to nobody

[2018-11-05 12:09] pzygielo commented on #4198
@mertsincan I think there is some misunderstanding. OP expects to not need commons-io at all (and using v2.2 fixes `NoClassDefFoundError`), thus using version v2.4 won't matter.

[2018-11-05 12:42] Rapster commented on #4198
@fabermundi again... You'd be a better help if you give the full stacktrace to Mert

[2018-11-05 12:51] ravihariharan commented on #4200
Thanks @Rapster .  Completed missed out that it was documented in PrimeFaces User Guide.

* Use rowSelectMode option to customize the default behavior on row click of a multiple
selection enabled datatable. Default value is "new" that clears previous selections, "add" mode
keeps previous selections same as selecting a row with mouse click when metakey is on and
"checkbox" mode allows row selection

[2018-11-05 12:51] #4200 closed, assigned to nobody

[2018-11-05 12:51] pzygielo commented on #4198
@Rapster I do not have problem described here, nor the stack trace.

[2018-11-05 12:52] tandraschko commented on #4204
No idea then. As it works fine on the web and on my machine, i can't do anything.
Also it's more related to the showcase then, if no BV impl can be found.

Do you use java9+? Maybe related to modules or something.

[2018-11-05 12:52] #4204 closed, assigned to nobody

[2018-11-05 12:55] pzygielo commented on #4198
@fabermundi - what is the version of JSF that you are using?

[2018-11-05 13:08] mertsincan commented on #4198
- Thanks, @tandraschko ;) This issue has been fixed for the next elite version. FilenameUtils class has been added to the elite JAR as in the trunk.

[2018-11-05 13:08] #4198 closed, assigned to mertsincan

[2018-11-05 13:12] mertsincan opened #4206 "Multiple panels displayed on SelectOneMenu"
Reported By PRO User;

[2018-11-05 14:11] #4206 closed, assigned to mertsincan

[2018-11-05 14:15] tandraschko opened #4207 "[Documentation] Add EHCache3Provider"
in addition to 2.x

org.primefaces.cache.EHCache3Provider

sample 3.x config:

https://github.com/primefaces/showcase-facelift/blob/master/src/main/resources/ehcache.xml

[2018-11-05 16:05] tefron commented on #4186
Adding:
[code]
Fix the swapping issue. However, it may not be desirable to lose all unsaved values when sorting the table

[2018-11-05 18:50] #1958 closed, assigned to nobody

[2018-11-05 18:51] tandraschko commented on #1958
org.primefaces.cache.EHCache3Provider

[2018-11-06 08:29] #4202 closed, assigned to nobody

[2018-11-06 08:46] pzygielo commented on #4198
Just guessing - *fixed* similar to #4111 (in 5204dc4d70d911297cb9d0943ce10c269e523674).

[2018-11-06 13:26] pzygielo commented on #4198
(Probably :wink:) my last comment for this one.
Now that I've learnt about [shade plugin](http://maven.apache.org/plugins/maven-shade-plugin/) and studied [FileUploadUtils](https://github.com/primefaces/primefaces/blob/753177de962880311716b94aa8a6e579cad758c3/src/main/java/org/primefaces/util/FileUploadUtils.java) class I find this issue very educational. Also my understanding of the problem is sl

[2018-11-06 14:18] grgrzybek opened #4210 "OSGi: Fix import ranges for servlet API packages"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? 6.2? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: Tomcat 9.0.12, Undertow 2.0.15, pax-web 7.3.0-SNAPSHOT
- Affected browsers: ALL

## 2) Expected behavior

org.

[2018-11-06 14:40] #4210 closed, assigned to nobody

[2018-11-06 15:35] guylap opened #4212 "Signature:Not working on touchscreen since latest Windows update."
Just want to let you know that the signature is not working using the screen since latest windows update and Chrome update.
In Chrome and Microsoft Edge.

This problem also occurred with jSignature and it was corrected changing some javascript code in the js file.
Here is the link to the thread that corrected the problem.

https://github.com/brinley/jSignature/issues/157

Hope this helps....
Regar

[2018-11-06 18:14] melloware commented on #4212
I may be wrong but I believe PrimeFaces uses Keith Wood's Signature component not jSignature?

http://keith-wood.name/signature.html

[2018-11-06 18:32] guylap commented on #4212
Yes possibly, I do not know but I have tried Primefaces signature last week and it was doing the same problem as jSignature. (Could not sign on a touch screen in Windows using Chrome or Microsoft Edge.)
I just thought it might be helpful to mention the correction used by jSignature to the Primefaces team since it is all JavaScript JSON after all, .
Thanks for your input.
Regards

[2018-11-06 18:42] melloware commented on #4212
I found this issue: https://github.com/kbwood/signature/issues/15

[2018-11-06 18:49] melloware commented on #4212
I also found it may be Touch related: https://github.com/furf/jquery-ui-touch-punch/issues/309

[2018-11-06 18:57] melloware commented on #4212
OK I submitted a PR I think will fix it. https://github.com/primefaces/primefaces/pull/4213

[2018-11-06 20:46] #4191 closed, assigned to nobody

[2018-11-06 20:48] wsaca commented on #4191
I will refactor the code of this component to move the tabindex attribute, I think it's better to resolve this problem in another issue.

[2018-11-06 21:17] wsaca opened #4214 "TriStateCheckbox: move tabIndex attribute to the input element"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Not Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
TabIndex shouldn't work when the component is disabled. It should be rendered on the input element.

## 3) Actual behavior
TabI

[2018-11-06 22:59] #4212 closed, assigned to nobody

[2018-11-07 09:36] #4214 closed, assigned to nobody

[2018-11-07 09:50] ProfEibe opened #4216 "p:fileUpload does not work before reloading whole page"
In the newest stable version 6.2 the fileupload formfield is not working if it is shown by ajax.
I want to show a form an reload only the part of the page where it is made visible. Part of the form is an fileupload field.
I can open the "open file" dialog but after chosing one file nothing happens. after reloading the whole page with F5 everything works fine.
This problem was not there on primefac

[2018-11-07 09:55] tandraschko commented on #4216
This is not a runnable example. please provide a full test xhtml and bean - or fork primefaces-test.

[2018-11-07 09:55] NicolaIsotta opened #4217 "Grid CSS: add offset"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? no 6.2
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: all
- Affected browsers: all

## 2) Expected behavior
With the commit https://github.com/primefaces/primeng/com

[2018-11-07 09:59] tandraschko commented on #4217
@mertsincan Are there any plans to port it?

[2018-11-07 10:17] mertsincan opened #4218 "Improve rowEdit icon styles on TreeTable"

[2018-11-07 10:18] #4218 closed, assigned to mertsincan

[2018-11-07 11:03] Zerounodue opened #4219 "KeyFilter: drag and drop allows any character"
## 1) Environment
- PrimeFaces version: 6.2
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No
- Application server + version: -
- Affected browsers: Chrome, Firefox, Safari... On Mac

## 2) Expected behavior

only the characters defined in t

[2018-11-07 11:11] cnsgithub commented on #4219
Not only that the filter can be bypassed at frontend side, I suspect it to lack user input validation at backend side as well.

[2018-11-07 12:17] melloware commented on #4217
+1 on this.

[2018-11-07 12:27] tandraschko commented on #4219
A PR would be great

[2018-11-07 13:29] tandraschko commented on #4219
i'm really not sure if this is the right component for you.
a keyfilter filters a keyboard-input and doesn't validate the input by a regex.
maybe inputMask is more correct

[2018-11-07 13:35] cnsgithub commented on #4219
`inputMask `however is not capable of regex... Also notice that there are two different regex attributes in keyFilter, `regEx `and `inputRegEx`.

[2018-11-07 13:37] tandraschko commented on #4219
Oh, can't remember... I developed this component soo many years ago

[2018-11-07 14:07] Zerounodue commented on #4219
I a looking for exactly this component and not for `inputMask`
It works fine but i noticed this unexpected behaviour.  People should be aware that there is the possibility to enter characters that are different from what defined in the `regEx` and `mask` attributes.

[2018-11-07 14:09] cnsgithub commented on #4219
Please provide a PR.

[2018-11-07 14:22] wsaca commented on #4161
@tandraschko I thought this issue was resolved but that's not the case, could you check it again? The change was applied to the OverlayPanel component, but the LightBox component has not the property appendTo.

[2018-11-07 14:33] tandraschko commented on #4161
done

[2018-11-07 17:17] tarpatel opened #4220 "InputTextArea: Counter disappears after validation"
## 1) Environment
- PrimeFaces version: 6.2.4
- Application server + version: tomcat 8.0.27.0
- Affected browsers: Chrome and Firefox

## 2) Expected behavior

I am using  p:inputTextarea that is set to required=true with h:outputText to show how many characters you have left.

If the user clicks submit and the textarea is empty validation error displays. the counter should still display

![xd2ap]

[2018-11-07 18:02] VsevolodGolovanov commented on #3668
If I specify `p:ajax event="expand"` I definitely expect a submit on each expansion.

Verified that the proposed fix works with the current 6.3-SNAPSHOT. PR'ed.

[2018-11-07 18:04] VsevolodGolovanov commented on #3668
(Fixed indentation problem.)

[2018-11-07 18:43] tandraschko commented on #4220
A PR would be great.

[2018-11-07 18:59] tarpatel commented on #4220
I am happy to add more info if needed. What is a PR?

[2018-11-07 19:01] tandraschko commented on #4220
A Pull Request with a bugfix :)

[2018-11-07 20:41] tandraschko commented on #3668
Hmm, we really have to discuss this. This would lead to useless ajax requests and you can't differ.
Maybe we need new events.

[2018-11-07 20:50] VsevolodGolovanov commented on #3668
The documentation clearly says

| Event | Listener Parameter | Fired |
| ------ | ---------- | ------|
| expand | org.primefaces.event.NodeExpandEvent | When a node is expanded. |

Maybe there could be a new event, e.g. `load` for a dynamic tree. But regardless the `expand` event currently doesn't behave like the documentation promises.

[2018-11-07 20:57] tandraschko commented on #3668
Maybe yes but applying the PR is a performance loss and not required for the most cases. Therefore -1 to just always fire the event.

Whats your usecase?

[2018-11-07 21:02] VsevolodGolovanov commented on #3668
This doesn't always fire the event. It fires the event only if you have `p:ajax event="expand"`. Same as what already happens for `dynamic="false"` trees.

The use case is preserving the expanded state when switching the tree between different filters or views, essentially.

Come to think of it, you kinda already have a load event - it's when your TreeNode#getChildren gets called.

[2018-11-08 07:37] cnsgithub commented on #4219
There seem to be some problems with jquery plugin https://github.com/akzhan/jquery-keyfilter used by `p:keyFilter` to handle mutual exclusive attributes `regEx`, `testFunction `and `mask`.

The problem is that the plugin does not seem to handle `paste `and `drop `events at all because it's just listening to `keypress `events. The plugin is quite old and it is unlikely to get things fixed there.

O

[2018-11-08 12:12] mertsincan opened #4223 "Add Nova and Luna Theme"
Nova and Luna are free and open source community themes with a premium design and comes in 7 flavors;
- luna-amber
- luna-blue
- luna-green
- luna-pink
- nova-colored
- nova-dark
- nova-light

[2018-11-08 13:51] Rapster commented on #3847
From what I can see now, if you set a `stickyHeader` you can't change filter values as they're disabled (I have the same problem in 6.2)

EDIT: Ah I see, they're enabled once the stickyHeader shows up (but disabled if not)

[2018-11-08 15:14] wsaca opened #4224 "SlideMenu/TieredMenu: When a submenu is clicked the entire panel is hidden"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Yes Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
When we click the submenu this action shouldn't hide the entire panel.

## 3) Actual behavior
When we click the submenu this ac

[2018-11-08 20:19] wsaca opened #4226 "Galleria: Improve the animation"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Not Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
When we click the next button the previous animation should be controlled.

## 3) Actual behavior
When we click the next button

[2018-11-08 20:33] wsaca commented on #975
If this feature were implemented some day, I would like to see an improved galleria like this one: https://galleria.io/

[2018-11-09 07:48] #4223 closed, assigned to mertsincan

[2018-11-09 08:21] mertsincan opened #4228 "Add primeicons support"
https://github.com/primefaces/primeicons

PrimeIcons is the new official font-icon library from PrimeTek to be shared between the PrimeFaces, PrimeNG, PrimeReact and other future Prime UI Suites.

PrimeIcons use the pi pi-{icon} syntax such as pi pi-check. A standalone icon can be displayed using an element such as i or span.
[code]
Using an icon on a button is simple as;
[code]

[2018-11-09 08:21] #4228 closed, assigned to mertsincan

[2018-11-09 10:37] Rapster commented on #4224
I see what bothering you with tieredMenu but not with slideMenu (it's working fine to me).

[2018-11-09 15:39] #4226 closed, assigned to nobody

[2018-11-11 16:40] wsaca opened #4229 "Keyboard: $.keypad._hideKeypad is not a function"
## 1) Environment
- PrimeFaces version: 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Yes Version? 6.2
- Does it work on the newest sources in GitHub? Not
- Application server + version: WildFly 13
- Affected browsers: Any

## 2) Expected behavior
When the window is resized no error should be thrown.

## 3) Actual behavior
"$.keypad._hideKeypad is not a function" is thrown

[2018-11-11 21:44] #4229 closed, assigned to nobody

[2018-11-12 09:21] nandorholozsnyak commented on #4052
We are having the same problem with a nested datatable, if we use ```sortField``` on ```p:dataTable``` and ```field``` on ```p:column``` the filtering and sorter UI elements/things are not visible! With 6.1 it works, but with 6.2 it does not.
However the Primefaces Documentation 6.2 says if you are using a datatable with lazy you could use ```sortField``` and ```field``` combination.

[2018-11-12 10:49] tandraschko commented on #4185
Please add an unittest, this is easy testable and the right path is to add unittests, if easy possible, before change core code - especially DT is error-prone.
If you need help, you can ping me.

[2018-11-12 10:52] Rapster commented on #4185
My bad, I forgot about this one

[2018-11-12 12:51] Rapster opened #4231 "SelectBooleanCheckBox: Use HtmlSelectBooleanCheckbox#getLabel() instead"
Reuse `HtmlSelectBooleanCheckbox#getLabel()` instead of having our own `SelectBooleanCheckbox#getItemLabel()`

`SelectBooleanCheckbox#getItemLabel()` becomes deprecated for 6.3.

[2018-11-12 12:54] Rapster opened #4232 "SelectBooleanCheckBox: Remove itemLabel property"
See #4231

[2018-11-12 12:57] Rapster opened #4233 "[Documentation] SelectBooleanCheckBox: label property"
See #4231 (Basically change itemLabel into label)

[2018-11-12 12:58] Rapster opened #4234 "SelectBooleanCheckBox: add escape property"
Just like many other output component, add `escape` property (to escape itemLabel/label)

[2018-11-12 13:00] #4231 closed, assigned to nobody

[2018-11-12 13:48] #4234 closed, assigned to nobody

[2018-11-12 14:35] Rapster opened #4235 "[Documentation] SelectBooleanCheckBox: escape property"
See #4234

[2018-11-12 15:01] melloware commented on #2791
@tandraschko @cnsgithub Can you add the security label to this.  Our Pentration testers also reported this issue.

[2018-11-12 19:31] melloware commented on #4198
Still investigating but with PF 6.2.11 on Jboss EAP 6 (JSF 2.1) we are getting this error now we were not getting on PF 6.2.10.

[2018-11-12 20:53] melloware opened #4236 "FileUpload: Classloading Error in JSF 2.1"
## 1) Environment
- PrimeFaces version: 6.2.11, 6.3-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version? NO
- Does it work on the newest sources in GitHub? NO
- Application server + version: Mojarra 2.1
- Affected browsers: ALL

Error trying to upload on JSF 2.1.

Attached is a sample test project proving the issue.
[pf-fileupload.zip](https://github.com/primefaces/primeface

[2018-11-12 20:54] melloware commented on #4236
Reported through PRO account.

Relates to: https://github.com/primefaces/primefaces/issues/4198

[2018-11-13 06:09] fcorneli commented on #4236
Indeed rather painful to see this on a PrimeFaces production release:
`Caused by: java.lang.NoSuchMethodError: org.apache.commons.fileupload.servlet.FileCleanerCleanup.getFileCleaningTracker(Ljavax/servlet/ServletContext;)Lorg/primefaces/shaded/commons/io/FileCleaningTracker;
        at org.primefaces.webapp.filter.FileUploadFilter.createFileItemFactory(FileUploadFilter.java:123) [primefaces-6.2.1

[2018-11-13 06:27] cnsgithub commented on #2791
@melloware Just for info, I am not allowed to add any labels. :wink: Btw, are you allowed to share what your penetration testers found besides this issue? I'd be glad having those vulnerabilities fixed.

Just checking the extensions will always be unsafe. However, I agree with @kukel that `allowTypes `should be renamed to clarify that we are not doing any content type checks. We could even use a m

[2018-11-13 06:42] cnsgithub commented on #4236
@fcorneli Feel free to provide meaningful selenium UI tests for each component. :wink: That would be a great benefit for the community!

[2018-11-13 06:54] fcorneli commented on #4236
@cnsgithub The reason why I have an ELITE subscription, is because I don't have time to deal with such things in the first place.

Regarding the community edition: I understand that it's not always -from a moral/business point of view- easy to find the sweet spot between quality of community edition and creating -how to put it- a "reason" for subscriptions. But if I look at the number and age of o

[2018-11-13 07:02] cnsgithub commented on #4236
@fcorneli Have you reported this bug to PrimeTek through your ELITE account? I don't have any insights on how quickly things get resolved there... I agree, those bugs should be captured somehow... But I think we're already going in the right direction, e.g. @Rapster introduced sonarqube shortly and installed a quality gate. Did you know that? Anyway, testing should be done more eagerly.

[2018-11-13 07:41] cnsgithub commented on #4038
@mertsincan @Rapster Added another commit comment here: https://github.com/primefaces/primefaces/commit/ad123a52c29f263183a72aae746ac921ec45abce#r31276355

[2018-11-13 07:53] cnsgithub commented on #4038
Sorry for blaming once again, but I cannot agree with changes made in this commit since it's very poor design.

Please have a look at `NativeUploadedFile `class, it needs some refactoring to properly support multiple files.

Depending on the CTOR being called we either have the single vs. multiple file upload situation. Since there are two separate field members, `part `and `parts`, the other will