[2016-04-18 16:05] tandraschko commented on #1066
I see but thats not related directly to this feature. The problem is that tabView doesn't post the ViewState.

[2016-04-18 16:18] tandraschko commented on #1066
the form was missing, fixed the example.

[2016-04-18 17:43] Macadoshis commented on #933
Still not working with PF 5.2.
**dir** attribute not provided for component <p:selectOneMenu />.

I first opened this issue on December 2013 but they've judged it was more simple to reject my submission rather than caring to reproduce it... It's a shame, because 2+ years later it's still unresolved.
https://code.google.com/archive/p/primefaces/issues/6424

[2016-04-19 11:13] mertsincan opened #1320 "Validation misbehavior on Picklist with required="true""
Reported by Pro User;
a p:pickList with required="true" has a misbehavior if the validation failes.
exampleCode (modified from Showcase):

[code]

Steps to reproduce:
1. transfer one city
2. validate
3. transfer the city back
4. validate
=> we get the required error, but the picklist rerenders the previous transfered city on the right side

[2016-04-19 11:38] #1320 closed, assigned to nobody

[2016-04-19 12:09] ohlsen3000 opened #1321 "Datatable liveScroll broken by sorting"
In Primefaces 5.3 / Chrome:

[code]
### HOW TO REPRODUCE
1. Open page with table
2. Perform live scrolling (at least up to 2nd page)
3. Sort by any column
4. Try to liveScroll > live scrolling will (in most cases) only load the first page, `load` method of `lazyCarModel` is not called anymore.

[2016-04-19 12:53] ohlsen3000 commented on #1321
Need to call the following js on `sort` event to get things working again:

[code]

[2016-04-19 13:45] renanceratto commented on #1308
Hello Mertsincan

The problem isn't layout.
The problem is: It is impossible to scroll down the items inside a picklist on mobile devices because when I touch one element of this picklist, it is dragged.

**Touch event of picklist on mobile devices should be disabled, but I don't know how it could be done.**

[2016-04-19 13:54] herwintr opened #1322 "p:inputNumber"
A component of PrimeFaces not found in the libraries of ui, tried to use it, then look for information about this component and me nothing appears.

the error :
@309,55 <p:inputNumber> Tag Library supports namespace: http://primefaces.org/ui, but no tag was defined for name: inputNumber
    at com.sun.faces.facelets.compiler.CompilationManager.pushTag(CompilationManager.java:289)
    at com.sun.fa

[2016-04-19 14:12] tandraschko commented on #1322
Use the forum, it's works fine in the showacse and is only available for elite and 6.0

[2016-04-19 14:12] #1322 closed, assigned to nobody

[2016-04-19 23:05] deoxyseia opened #1323 "p:stack not resizes images when is rendered"
**Description**

Stack icons appear unscaled when `expanded="false"`. I attached some screenshots.

<img width="215" alt="expanded" src="https://cloud.githubusercontent.com/assets/1824764/14658304/5d524916-0658-11e6-9dbe-5070c63dcc37.png">
<img width="215" alt="collapsed" src="https://cloud.githubusercontent.com/assets/1824764/14658298/561eae6e-0658-11e6-91ce-b8df15fc43c9.png">

**Reproduction**

[2016-04-20 08:57] fabermundi opened #1324 "p:autocomplete dropdown covers text"
Hello,

when using the p.autoComplete tag with dropdown property set to true the text of the following component is covered by the dropdown button when using a panelgrid.

Example code:

[code]

Result:
![screenshot](https://cloud.githubusercontent.com/assets/6222308/14668879/8f483bd6-06e6-11e6-9656-b17026f40545.png)

A workaround is to set the following css:

[code]

[2016-04-20 09:10] NF117 opened #1325 "BlockUI: block keyboard in blocked area"
Primefaces 5.3
JBoss EAP 6.4

If you block a form with p:blockUI you can navigate with the keyboard to a button and press it with enter. I think this should not be possible.
Same Issue has report in google Issue Tracker but not moved.
http://forum.primefaces.org/viewtopic.php?f=3&t=24329

XHTML:

[code]

Controller:

@Named
@SessionScoped
public class TestController {
   public void test() throws

[2016-04-20 11:37] samyomar opened #1326 "GMap: Add Double Click Ajax Listener"
Please add a support for double click event listener on a polygon on gmap

[2016-04-20 15:42] Julienng commented on #1303
did someone work on this? I can provide a pull request if not

[2016-04-20 16:42] cagataycivici commented on #1303
@Julienng Sure, will help. I think we haven't replicated, @mertsincan ?

[2016-04-20 16:44] cagataycivici commented on #1314
This is by design of JSF, at update model, local value is passed to the model and local value is cleared afterwards. So datatable behaves like a regular input and considers the model value when rendering itself. This has been like this for the past 5 years and change will break a lot of apps.

[2016-04-20 16:44] #1314 closed, assigned to nobody

[2016-04-20 18:43] Tires commented on #1314
I'm sorry, that I couldn't answer before. Probably the code change is not appropriate, but I think successful submitting, including validation should result in state keeping. I've discovered, that embedding the <p:dataTable> version 5.3 inside ui:repeat shows this behavior, while inside <c:forEach> it keeps state properly.

[2016-04-20 20:40] mertsincan commented on #1303
I haven't either. Can you please attach a sample maven project for us to replicate?

[2016-04-21 06:21] mvitorovic commented on #1321
Can the developers please try and fix this for 6.0, so that we have lazy loading + live scrolling + filtering taken care of? At least the two most visible bugs in 5.3?

[2016-04-21 07:00] crocimi opened #1328 "confirm dialog internalization"
Yes/No-Buttons in a confirm dialog are not translated to the current language (of the current locale)

[2016-04-21 07:14] Julienng commented on #1303
I can't attach a maven project for now. I will try to do this for the week-end but I can't promise

[2016-04-21 07:14] tandraschko commented on #1328
you must assign the button values by yourself -> http://www.primefaces.org/showcase/ui/overlay/confirmDialog.xhtml

[2016-04-21 07:14] #1328 closed, assigned to nobody

[2016-04-21 12:16] gpoluch commented on #1241
It would be great if exist any workaroud for not supported callbacks.

[2016-04-21 20:25] EugenFischer commented on #1030
jqPlot has already released new 1.0.9 Release

[2016-04-21 20:52] tripleentendre opened #1329 "selectOneRadio with a custom layout in a datatable is disabled after sorting or paging"
I added a selectOneRadio with a custom layout to a datatable and everything works as expected until I either sort or change the number of records being displayed. After that the radio button is disabled. The issue can be reproduced in the attached project.

[poc.zip](https://github.com/primefaces/primefaces/files/230721/poc.zip)

[2016-04-22 11:30] JensPiegsa opened #1330 "TreeTable Selection: decouple navigation and selection"
With the checkbox selection mode of `p:treeTable` please provide means to decouple selection in terms of _ticking the check box_ and single selection in terms of _navigation_.

The current implementation does not allow to follow a link placed inside the tree table (for e.g. showing details in another widget via AJAX) without changing the selection at the same time. In my case the selection should

[2016-04-22 20:38] #1303 closed, assigned to tandraschko

[2016-04-23 15:37] tandraschko commented on #900
Please reopen if you tested it.

[2016-04-23 15:37] #900 closed, assigned to tandraschko

[2016-04-23 17:04] #1012 closed, assigned to tandraschko

[2016-04-23 18:25] tandraschko opened #1332 "Rename ConfigContainer to PrimeConfiguration"

[2016-04-23 18:25] #1332 closed, assigned to tandraschko

[2016-04-23 19:20] smokeybandit commented on #873
I agree.  You've basically got one widget with two different behaviors whether you click on the checkbox or on the label.    Pretty unintuitive to the user.

[2016-04-23 21:28] cagataycivici commented on #1291
You need to use a CategoryAxis for the axis that has the string values as in;

http://www.primefaces.org/showcase/ui/chart/line.xhtml

[2016-04-23 21:28] #1291 closed, assigned to nobody

[2016-04-24 07:45] mtbadi39 commented on #1030
What about [Elycharts](https://github.com/voidlabs/elycharts) ?

[2016-04-24 09:38] #1241 closed, assigned to tandraschko

[2016-04-24 09:39] tandraschko opened #1333 "[Documentation] Captcha callbacks"
See #1241

[2016-04-24 20:31] #846 closed, assigned to tandraschko

[2016-04-24 20:46] tandraschko opened #1334 "Use e.which instead e.keyCode"
http://stackoverflow.com/questions/4471582/javascript-keycode-vs-which

[2016-04-24 21:02] #1334 closed, assigned to tandraschko

[2016-04-24 21:12] tandraschko commented on #1033
@cagataycivici currently it doesn't look like an bug if i check our code? IMO if selection is available, hover should be available for all modes.

[2016-04-25 06:09] sudheerj opened #1335 "[Documentation]Add exportFunction attribute for p:column and p:columns"
This feature is added for 6.0 and need to be updated in user guide.[https://github.com/primefaces/primefaces/issues/46](url)

[2016-04-25 06:34] cagataycivici commented on #1335
I'll document all changes, no need to create new tickets for doc updates for a new feature.

[2016-04-25 06:34] #1335 closed, assigned to nobody

[2016-04-25 08:30] krishnakittu opened #1336 "setShowButtonPanel issue"
calender setShowButtonPanel is not working for setting time when click on Now button. It sets date fine but its not setting time with the current time. I am using primefaces 5.0 version

[2016-04-25 08:32] mertsincan opened #1337 "Potential invalid markup with responsive PanelGrid"
Details; http://forum.primefaces.org/viewtopic.php?f=23&t=45223

Exp;

[code]

[2016-04-25 08:34] cnsgithub commented on #1302
Hi, Can this be disabled to get the old behaviour back / disable this by a property?. When selecting big (and many items) it messes up the layout.

An further example when this is not desired would be when the selection are just numbers or values, you have multiple of them, then it's no longer possible to see what selection it is for

[2016-04-25 08:36] #1337 closed, assigned to nobody

[2016-04-25 09:25] cnsgithub commented on #244
Hi, now all buttons which had a hardcoded width for layout purposes grow beyond the set width. I think the width defined by the developer in the component's style property should never be overridden by calculated values.

E.g. min-width is now calculated at 250px due to a long entry. Hardcoded width: 200px (for layout purposes + match other fields) has no more effect.

Global CSS-workaround:

.ui-

[2016-04-25 12:52] tandraschko opened #1339 "Omega references wrong fonts"

[2016-04-25 12:52] #1339 closed, assigned to tandraschko

[2016-04-25 14:41] jessepeng opened #1340 "Enabe Ajax behaviour on "push" buttons"
The current implementation of a `CommandButton` does not allow Ajax behaviour on buttons that have the `type` attribute set to `button`. However, this can be useful in some cases, for example when one wants to have multiple `CommandButton` elements inside a single form element. The way the current implementation works, this would let to multiple `button` elements with type `submit` being rendered,

[2016-04-25 14:52] diogo-cvs commented on #1185
Warning to integrate with spring-date: rowCount should be long.
Check line 67:

[code]

[2016-04-25 16:29] ihsanyapicioglu opened #1341 "Omega Theme Calendar ui-datepicker-calendar object is shown in half of calendar."
Omega Theme Calendar  ui-datepicker-calendar object is shown in half of calendar.

![pfbug](https://cloud.githubusercontent.com/assets/4387316/14790888/07de146a-0b1c-11e6-858b-e3c2795c6e3f.png)

[2016-04-25 17:24] tandraschko commented on #1341
Please provide steps to replicate, it works fine in the showcase.

[2016-04-25 17:42] tandraschko opened #1342 "generate DEFAULT_RENDERER as public and reuse it"
for #getUnwrappedRenderer calls

[2016-04-25 18:11] ihsanyapicioglu commented on #1341
Hi,
When I use the calendar in a page that includes a template, it looks like above, but when I use it without template, it works fine.

I just created a page includes a template and added the calendar in a normal way like this,
`<p:calendar showOn="button" />`

[2016-04-25 18:52] maol74 opened #1343 "Parsing exception in new 6.0.RC1 release"
I have developed 4 apps in primefaces 5.3 that works great for a customer, now when I try to upgrade to the new 6.0.RC1 release, more or les nothing works. I see when the ajax calls get invoked there are a parse error that I have not seen with the 5.3 release, se ajax xml below in this gist https://gist.github.com/maol74/af0c5aa97b502b236a20ab0bc0cb6d1a

[2016-04-25 18:55] maol74 commented on #1343
I also receives a lot of "JSF1007: Duplicate component ID xxx found in view." that I did not get in the 5.3 release, please can you find any plausible explanation why this occurs?

[2016-04-25 19:21] cagataycivici commented on #1343
@tandraschko What do you think? Any idea, why this could happen?

@maol74 Can you send us a simple test case that we can run and replicate?

[2016-04-25 19:21] cagataycivici commented on #1341
Ihsan, please try with 6.0.RC2.

[2016-04-25 19:58] ihsanyapicioglu commented on #1341
I created a new web project. I applied dependencies then I created a template page. I included an xhtml page into the layoutUnit. When I use include tag, problem goes on, but if I remove include tag, works fine. In the index.xhtml file, I have a calendar component.

You can see the complete code of my template.xhtml page below,

`<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"

[2016-04-25 20:24] maol74 commented on #1343
@cagataycivici I will try to submit a simple test case, tomorrow, what is the easiest way "zip an example up" or as a git repo?

[2016-04-25 20:48] zhedar opened #1344 "StyleSheets in last facets are being ignored"
In my current applications I'm still adding my custom stylesheets in a facet to make sure, they override the ones from PF:

[code]

However since 6.0 the StyleSheets in those facets (I only tested `last` yet) are not rendered anymore. Has this behaviour changed somehow, or was it deprecated?

If I add those sheets in the body, outside the facet, everything works as normal, so I'm not sure if doing

[2016-04-25 20:51] tandraschko commented on #1344
we don't overwrite the body renderer for that purpose, the "last" facade is only supported from our side in h:head.

[2016-04-25 20:51] #1344 closed, assigned to nobody

[2016-04-25 21:15] zhedar commented on #1344
I see, thanks for the heads up. I should have probably looked that up again.
It's just, that the "last" facade inside `h:body` was working until version 5.3 and just stopped working with 6.0, that's why I asked.

Also probably more people will have this problem once 6.0 is final and this is an undocumented change. For example the [first quick google search](https://www.google.de/#q=jsf+facet+last+

[2016-04-26 06:39] zsuiqiang opened #1345 "target attr for p:menuItem is not work"
`<p:menuitem url="www.baidu.com" target="workspace"/>`

page is always opened in same window.

[2016-04-26 06:44] zsuiqiang commented on #1278
Is there any plan?

[2016-04-26 06:47] zsuiqiang commented on #1253
The problem exist from 5.3.6 to 5.3.11, why not fix?

[2016-04-26 07:48] tandraschko commented on #1344
We never statet somewhere that this should work.
Also we didn't changed to BodyRenderer since 2 years -> https://github.com/primefaces/primefaces/commits/master/src/main/java/org/primefaces/renderkit/BodyRenderer.java

[2016-04-26 07:48] zsuiqiang opened #1346 "empty selection when using checkboxes in overlaypanel"
http://forum.primefaces.org/viewtopic.php?f=3&t=40531&p=141653#p141653

[2016-04-26 09:00] #1341 closed, assigned to nobody

[2016-04-26 09:02] mertsincan commented on #1341
Hi Ihsan,
Thanks for the sample. Fixed on 6.0.RC3.

[2016-04-26 09:34] mertsincan opened #1347 "Font-family issue on Omega Theme"
Removed on Omega Theme;
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial,Helvetica,sans-serif; font-size: 1em; }

[2016-04-26 09:35] #1347 closed, assigned to nobody

[2016-04-26 09:47] andrei-ivanov opened #1348 "primefaces.js not found on 6.0.RC2"
Hi,
Trying to upgrade to 6.0.RC2 (using the Flick theme), I now get this:

Seems this is gone in 6.0 but PF still tries to include it.
As far as I see, I don't include it manually.

[2016-04-26 10:55] tandraschko commented on #1348
Works fine in the showcase. If you don't provide a example application, i will close it.

[2016-04-26 10:59] andrei-ivanov commented on #1348
Hmm,
Wonder if the primefaces extensions has anything to do with it.
I think for PF it was merged so I have to exclude it, right?

[2016-04-26 11:02] tandraschko commented on #1348
There is currently no released version of extensions which is 100% compatible with 6.0. You can build it from source.

[2016-04-26 11:02] #1348 closed, assigned to nobody

[2016-04-26 11:12] zhedar commented on #1344
I get it was somehow undocumented behaviour, but I was curious enough to check what caused this to change.
If you are as well, I tracked down the commit that affected this: 1398f1dfc5b9314f056df0d8e3c46f87d627fd32 for #1201 (so 34136ff6ec32181b57d8adab4b77cb8f8ff3b008 was the last one to reproduce the old behaviour), so this was a rather recent change.

However, I don't really want to bring that b

[2016-04-26 11:22] tandraschko commented on #1344
added it in the migration guide: https://github.com/primefaces/primefaces/wiki/Migration-Guide

[2016-04-26 12:03] halisyilboga commented on #1291
This Doesn't work string any more. like @gbmpereira  said it can be used for time series but with some tweaks but can't for string like language list that I've been shared above. But this is not related to primefaces. "jqplot" library removed that capability. I think they thought it is not logical to use string indexes in line charts. Using bar is more logical.

[2016-04-26 12:26] mtbadi39 commented on #958
@kukel : +1
May be in non-responsives pages, it is preferable that dataTable to occupy all available space with no care for the number of records.

[2016-04-26 13:21] #1317 closed, assigned to mertsincan

[2016-04-26 13:58] andrei-ivanov commented on #1348
I can confirm that excluding the extensions made this error go away.

[2016-04-26 15:32] LStampf opened #1349 "p:ajaxStatus not triggering for commandButton with onclick returning a boolean"
http://forum.primefaces.org/viewtopic.php?f=3&t=45279
Primefaces version 5.3
JSF 2.1.7

p:ajaxStatus is not triggering for commandButtons with an onclick returning a boolean.
The action is triggering/not triggering as expected.

This triggers the action, but no ajaxStatus

[code]

This triggers neither action nor ajaxStatus

[code]

This triggers action and ajaxStatus.

[code]

This also triggers

[2016-04-26 16:50] josebm0920 opened #1350 "DashBoard: Responsive support"
The current implementation of `DashBoard` does not allow to resize panels and `colspan` the dashboard columns. I think that this is very important feature to develop, this is common in another dashboard with other technologies.
I would like to open this issue to primefaces developers.

[2016-04-26 18:58] tandraschko commented on #1349
the bug is even more worse - if you "return true", a normal post instead ajax post will be done.

[2016-04-26 20:17] #1349 closed, assigned to tandraschko

[2016-04-27 01:54] sudheerj commented on #1294
PR created at #1351

[2016-04-27 02:00] sudheerj commented on #1345
Is it issue with framename target only?How it works with all possible values

`<a target="_blank|_self|_parent|_top|framename">`

[2016-04-27 07:40] cnsgithub opened #1352 "p:colorPicker does not support passtrough"
Hi, Since #56 and #730 are still not possible yet (both 5.x ELITE and 6.0 RC2) i wanted to implement a custom way to fix the issues myself, however for the sake of simplicity id like to put it into the componend. I noticed that passtrough does not work for the colorpicker.

I expected i could add a "onchange" manually to the input tag of p:colorPicker like it is possible with other components. But

[2016-04-27 07:42] #1294 closed, assigned to tandraschko

[2016-04-27 07:42] tandraschko commented on #1294
Thanks sudheer!

[2016-04-27 07:48] tandraschko commented on #1352
on which element should it render the passthrough attributes? on the input?

[2016-04-27 07:49] cnsgithub commented on #1352
Yes, i guess that would make most sense. Thanks

[2016-04-27 08:01] tandraschko commented on #1352
Fixed ;)

[2016-04-27 08:01] #1352 closed, assigned to tandraschko

[2016-04-27 08:07] tandraschko opened #1353 "Calendar: provide attribute to hide today button"
It's an requirement by an customer

[2016-04-27 08:57] #1353 closed, assigned to tandraschko

[2016-04-27 08:58] tandraschko opened #1354 "[Documentation] document showTodayButton of Calendar"

[2016-04-27 09:01] tandraschko commented on #1336
Works fine for me with 6.0 and the showcase.

[2016-04-27 09:01] #1336 closed, assigned to nobody

[2016-04-27 10:47] arunvc1 opened #1355 "Allow multipart/form-data for primefaces ajax"
[code]

[code]

PF 6.0 or any version
JSF 2.2.12
Tomcat 8.0.15
Java 8

[2016-04-27 10:52] tandraschko commented on #1355
where is the relation to PF? Does it work without PF (e.g. with h:commandButton instead p:menuItem)?

[2016-04-27 13:33] #530 closed, assigned to tandraschko

[2016-04-27 13:39] tandraschko commented on #835
no example -> invalid

[2016-04-27 13:39] #835 closed, assigned to nobody

[2016-04-27 13:42] tandraschko commented on #896
no feedback/example -> invalid

[2016-04-27 13:42] #896 closed, assigned to nobody

[2016-04-27 13:46] tandraschko commented on #1090
No example / feedback - > invalid

[2016-04-27 13:46] #1090 closed, assigned to nobody

[2016-04-27 14:27] mertsincan opened #1356 "Add updateLabel attribute to SelectCheckboxMenu"
When enabled, the selected items are displayed on label. Default is false.

[2016-04-27 14:33] #1356 closed, assigned to nobody

[2016-04-27 14:36] tandraschko commented on #1253
why not provide a PR?
Is there a JS error?

[2016-04-27 14:37] tandraschko commented on #1208
Please provide a PR.

[2016-04-27 14:43] mertsincan commented on #1302
Thanks for the comment. Fixed for 5.3.12 and 6.0; https://github.com/primefaces/primefaces/issues/1356

[2016-04-27 15:21] rrdlpl opened #1357 "p:lightbox triggers Uncaught Type error Touches"
I have a lightbox on my main page that is displayed automatically when the user logs in for the first time, but when the page is loaded a weird javascript error appears in the console which makes that everything related to Primefaces stop working. This is the code of my lightbox:

[code]

This is the error that appears in the console of chrome:

![](http://i.stack.imgur.com/NVRE3.png)

Note: I'm n

[2016-04-27 15:36] rrdlpl commented on #1357
II think that the error is coming from this [file](https://github.com/primefaces/primefaces/blob/87bb7b52060be59497dc166531f9f435b07d8879/src/main/resources/META-INF/resources/primefaces/lightbox/lightbox.js) Line 274.

[code]

is it possible that e.originalEvent is undefined at the beginning when the page is loading?

[2016-04-27 15:52] Rapster opened #1358 "New component: jsfinspector"
Would be awesome to have an easy-to-use component which display component tree/lifecycle detail such as http://tasel.github.io/jsfinspector/

[2016-04-27 16:03] tandraschko commented on #1358
Why not just this component?

[2016-04-27 16:04] tandraschko commented on #1357
Please try with trunk.

[2016-04-27 16:04] #1357 closed, assigned to tandraschko

[2016-04-27 16:10] rrdlpl commented on #1357
@tandraschko  I dont understand your comment. What do you mean with trunk?

[2016-04-27 16:12] Rapster commented on #1358
Well, first you have to know it uses a web servlet named jsfinpector with jQuery.get function to display results asynchronously. I was thinking, Primefaces team could use a better approach, like writing results by using java component renderer and not jquery function.

[2016-04-27 16:13] tandraschko commented on #1357
That i fixed it in trunk/master.

[2016-04-27 16:24] tandraschko commented on #1358
Not sure but you are able to provide ideas and prototypes ;)

[2016-04-27 19:37] sudheerj commented on #1325
Even in the following jquery plugin demonstration we can see that it allows accessing page elements through keyboard.

[(http://malsup.com/jquery/block/)]

[2016-04-28 05:17] arunvc1 commented on #1355
yes it works with h:commandButton but doesn't work with p:commandButton

`<h:commandButton action="#{bean.actionMethod}" value="Submit" ><f:ajax execute="@form" render="@form" /></h:commandButton>`

Note that i am using javax.servlet.http.Part for file upload

`<h:inputFile value="#{menuView.iconPathPart}" />`

[2016-04-28 07:04] tandraschko commented on #1355
than please provide a complete example

[2016-04-28 07:54] mertsincan commented on #1346
Can you please try this issue with PF6.0.RC2?
It works fine for me.
Test Code;
xhtml

[code]

java

[code]

[2016-04-28 10:25] gpetrarca opened #1359 "page navigation not working"
Preface: I'm using explicit navigation and no annotations, i.e. the navigation is controlled via faces-config.xml.
I have an example application with login page and home page (normally accessed upon correct login).
Each page contains a theme switcher, too.
The navigation is ok when using primefaces 5.3, whilst I don't access the home page when using primefaces 6.0.RC2 .

[2016-04-28 10:54] tandraschko commented on #1359
please provide a simple maven app with e.g. jetty plugin for testing. navigation is working fine in my applications and showcase.

[2016-04-28 11:06] fanste opened #1360 "Duplicate resources when h:outputScript is within composite component"
I've just tested PF 6.0.RC2 but it has an error in it's resource handling.

I've some composite components which are used to create a multi-level menu structure based on ul/li. The top-level CC contains a `h:outputScript` declaration which includes the required javascript file for that menu.
On (AJAX) postback I get an exception which reports a duplicate client ID. That client ID points to the out

[2016-04-28 11:09] tandraschko commented on #1360
please provide a complete example maven application.

[2016-04-28 11:42] tandraschko commented on #1343
Could be relatetd to #1360
But if nonone provides a example, i can't check it.

[2016-04-28 13:44] gpetrarca commented on #1359
[ExampleServerOAM.zip](https://github.com/primefaces/primefaces/files/240617/ExampleServerOAM.zip)
This is a minimal WildFly 8.2 application with the login page and the home page. To login, set username to "admin" .
If I switch primefaces jar (from 5.3 to 6.0.RC2) I'm not able to enter the home page

[2016-04-28 13:44] hinneLinks opened #1361 "PF 6.0 - Problem with Ressource-Loading of scritps/css"
I have two Issues with Resource-Loading, i believe they might be related.
1. With Primefaces 5.3 it was possible to have a `<f:facet name="last"><h:outputStylesheet library="css" name="some-css.css" /></f:facet>` somewhere in the site, the Ressources would then end up in the `head` tag. With 6.0.RC2 those Ressources wont be loaded anymore. See `facet-first-middle-last-loading.xhtml` of the example

[2016-04-28 13:49] tandraschko commented on #1361
1) this was never designed that way and there is no way to fix it. It was a random feature. The last facet only works in the h:head tag, as it should be - as the facet applies to the parent component.
2) will check it

[2016-04-28 15:10] bercolax opened #1362 "p:ajax page event not updating form values in version 6.0.RC2"
I have a dataTable as below which displays one question at a time and then using pagination user navigates to another desired index to view another question. The code is given below.

  <p:dataTable   paginator="true" rows="1"  value="#{deliverAction.questionCollection}" var="question">
  <p:ajax event="page" listener="#{deliverAction.changeQuestion}" process="@this" />

In a question user selects

[2016-04-28 15:16] bercolax commented on #1362
[code]

[2016-04-28 17:42] bercolax commented on #1362
May be similar to the bug - https://github.com/primefaces/primefaces/issues/687

[2016-04-28 18:11] stiemannkj1 opened #1363 "Composite components not able to add resources to head in 6.0.RC2"
**Note:** This issue does not appear in Primefaces 5.3.

Steps to reproduce:
1. Create the following script resource as **`resources/example/head.js`**:

[code]
1. Create the following composite component as **`resources/ex/headScript`**:

[code]
1. Add `ex:headScript` to a page as a child of `<h:body>`:

[code]
1. Navigate to the page.

If the bug still exists, the alert will show:

If the bug is

[2016-04-28 18:18] tandraschko opened #1364 "MetadataTransformer should use PreRenderComponentEvent"
instead of wrapping the Renderers

[2016-04-28 18:18] #1364 closed, assigned to tandraschko

[2016-04-28 18:20] tandraschko commented on #1363
Fixed by #1364

[2016-04-28 18:20] #1363 closed, assigned to tandraschko

[2016-04-28 18:21] tandraschko commented on #1361
Both should be fixed by #1364
But remember, facets are bound to the parent. so 1) is really just a random feature and could simple break again in the future.

[2016-04-28 18:21] #1361 closed, assigned to tandraschko

[2016-04-28 18:22] tandraschko commented on #1360
Please try again with building from source - could be fixed now.

[2016-04-28 18:22] tandraschko commented on #1343
Could you please try with building from source? it COULD be fixed but i can't check it without a sample.

[2016-04-28 21:15] tandraschko commented on #1359
please provide a maven example - the PrimeFaces team is working with maven only.

[2016-04-28 21:21] tandraschko commented on #1362
Please provide a full working example.

[2016-04-29 01:08] zsuiqiang commented on #1253
http://forum.primefaces.org/viewtopic.php?f=3&t=45274

[2016-04-29 06:02] bercolax commented on #1362
I have copy pasted the individual files (as just 3 of them and no external dependencies), so that it will be easier to include in an existing project and test.
1. quix.xhtml the view
2. QuizAction.java - the managed bean class
3. QuestionDTO.java
quiz.xhtml

[code]

QuizAction.java

[code]

QuestionDTO.java

[code]

[2016-04-29 06:12] bercolax commented on #1362
I have also attached the MAVEN project as issue1362.zip
[issue1362.zip](https://github.com/primefaces/primefaces/files/241844/issue1362.zip)

[2016-04-29 06:30] arunvc1 commented on #1355
Netbeans project with this issue is attached
[upload.zip](https://github.com/primefaces/primefaces/files/241855/upload.zip)

Run index.xhtml
Click Upoad page link
Click primefaces buttom and see the exception in console. where are h commandbutton works fine.
The same issue exist in p:menuitem

![upload1](https://cloud.githubusercontent.com/assets/16149705/14909490/d9b9ad04-0e01-11e6-9c49-78a619b31

[2016-04-29 06:30] fanste commented on #1360
I've just tried to modify the showcase as an example - but as often in the past, you are very fast :)

I can confirm that this error is fixed.

[2016-04-29 06:30] #1360 closed, assigned to tandraschko

[2016-04-29 09:27] mertsincan opened #1365 "Upgrade to JsPlumb 2.1.0"
Old version has some chrome issues;
https://github.com/sporritt/jsPlumb/issues/295
https://github.com/sporritt/jsPlumb/issues/244

[2016-04-29 09:35] #1365 closed, assigned to nobody

[2016-04-29 09:43] gpetrarca commented on #1359
sorry, i'm not used to bare maven projects. Might you provide a basic (Eclipse) PF maven project? In this case I'd be able to include the logic of my project.

[2016-04-29 11:04] tandraschko commented on #1359
Check out the showcase, it's a maven project.

[2016-04-29 12:55] fkjaekel commented on #244
In my case it's now working as expected, thanks.

Complementing @cnsgithub suggestion, if a property is added to control auto width, it would be interesting to also have a context param to globally define it, like primefaces.SUBMIT for example.

[2016-04-29 13:37] stiemannkj1 commented on #1066
@tandraschko, @mrswadge,
I'm trying to test this feature by doing the following:

xhtml:

[code]

**OR**

[code]

java:

[code]

When I click the _Add_ button, the color picker does not appear in the browser. The following error appears in the client-side browser logs:

Am I doing something wrong? My example seems very similar to the one mentioned by @mrswadge. I am testing with Primefaces 6.0.RC3

[2016-04-29 13:52] tandraschko commented on #1066
works fine when you use:
    final ColorPicker colorPicker =
            (ColorPicker) FacesContext.getCurrentInstance().getApplication().createComponent(ColorPicker.COMPONENT_TYPE);

I will add it to the migration guide.

[2016-04-29 14:10] stiemannkj1 commented on #1066
Thanks @tandraschko! This feature is working for me now! It also works in Portlets!

[2016-04-29 14:47] tandraschko commented on #1066
Great! thanks for testing! :)

[2016-04-30 10:45] gpetrarca commented on #1359
[ExampleMavenServerOAM.zip](https://github.com/primefaces/primefaces/files/243553/ExampleMavenServerOAM.zip)
Here is the maven project.

[2016-04-30 19:59] erickdeoliveiraleal opened #1366 "Selectonemenu lost styling and RES_NOT_FOUND"
I'm building from source with eclipse. If I build after this commit https://github.com/primefaces/primefaces/commit/e1241e881be6f9281a813cb614195f888c6a4a70 two problems happen: If selectonemenu items is bigger than the width in the style it doesn't respect that. And when you look into console there is 3 errors containing: RES_NOT_FOUND. If I build from one commit before it's ok. I'm using Sentine

[2016-05-01 08:29] tandraschko commented on #1359
Thanks for the example, i fixed it.

[2016-05-01 08:29] #1359 closed, assigned to tandraschko

[2016-05-01 08:42] tandraschko commented on #1355
Fileupload doesn't work with ajax, so if i set ajax=false on the p:commandButton, it does the same as h:commandButton.

If you don't want to upload but do some ajax actions in the same form, you should set process/execute correctl.y

[2016-05-01 08:42] #1355 closed, assigned to tandraschko

[2016-05-01 09:47] gpetrarca commented on #1359
Great!

[2016-05-01 12:49] gpoluch opened #1367 "Cannot read property 'ajax' of null with Omnifaces FullAjaxExceptionHandler"
With Primefaces 6.0 sources (to commit a0fa648) and Omnifaces FullAjaxExceptionHandler i noticed error in javascript. Redirect to error page on ajax requests works well but error shown in console is like this:

![error](https://cloud.githubusercontent.com/assets/10855110/14941852/02596ace-0fab-11e6-8f66-3727ea8fbad8.PNG)

I thing it is newly introduced bug because on version 5.3 everything works w

[2016-05-01 13:27] tandraschko commented on #1367
Please try with a current source build - i fixed a similar bug today.
Or provide a full working maven jetty example app ;)

[2016-05-01 13:47] gpoluch commented on #1367
I reported this bug on current source - latest commit is a0fa648.

[2016-05-01 14:05] tandraschko commented on #1367
So please provide a full working example.

[2016-05-01 15:24] arunvc1 commented on #1355
It looks like a bug to me, please change both the button to ajax
h commandButton works and p commandButton doesn't work.

My point is p commandButton should do what h commandButton does, but in this case it breaks, also i am not using p fileUpload

Use the code below

[code]

[2016-05-01 16:19] tandraschko commented on #1355
it just because the ajax on h:commandButton throws an JS error and therefore a full post is done.
We can't fix anything, it's expected.

[2016-05-01 16:23] tandraschko commented on #1355
but you could open a feature request for mojarra to skip the h:inputFile processing on ajax ;)

[2016-05-02 07:14] arunvc1 commented on #1355
My browser shows partial/ajax see the screens

Request
![uploadpartial](https://cloud.githubusercontent.com/assets/16149705/14948960/7aa33902-1063-11e6-9776-047767abc41b.png)

Response
![uploadpartial2](https://cloud.githubusercontent.com/assets/16149705/14948956/7569229e-1063-11e6-93bd-e5af6223c2f3.png)

I think the problem is during a partial request  content-type is set to "application/x-www-fo

[2016-05-02 07:35] tandraschko commented on #1355
Feel free to provide a PR - i likely won't do it in the next months.

[2016-05-02 09:48] gpetrarca opened #1368 "Noisy page transition in Wildfly 10"
[ExampleMavenServerOAM.zip](https://github.com/primefaces/primefaces/files/244800/ExampleMavenServerOAM.zip)
Here is attached a sample web app with 3 pages:
- login page (access with username=admin)
- home page (PF based)
- home jsf page (similar to home page but only JSF based)

PF is 5.3 .
When running in Wildfly 10, the page transition from home page to login page is quite noisy, i.e. there is

[2016-05-02 11:15] tandraschko commented on #1368
And what should we do here? ;)

[2016-05-02 11:16] tandraschko commented on #1368
The problem is that you update all (head + body) and therefore all resources will be loaded again. However, i don't think that a redirect will show a better result.

[2016-05-02 13:06] #1324 closed, assigned to cagataycivici

[2016-05-02 13:10] cnsgithub opened #1369 "OverlayPanel: should keep its position while scrolling in a dialog"
Following happens while scrolling in a dialog while an overlayPanel is open.

![abload01](https://cloud.githubusercontent.com/assets/13161711/14955123/e796684a-1077-11e6-833f-349faa33866f.png)

Expected: the panel should stay attached to it's component when scrolled

PrimeFaces 6.0RC2
Code to reproduce

[code]

[2016-05-02 13:26] DariusBaniunas opened #1370 "PrimeFaces dialog framework not working on 6.0 RC_2 dialog not closing"
![capture](https://cloud.githubusercontent.com/assets/5983133/14955412/60e24a3e-1082-11e6-86a3-e8e788570274.PNG)

Was working on 5.3

Now when PrimeFaces.closeDialog is called I get a JavaScript error and dialog stays open (screen attached)

[2016-05-02 14:30] mertsincan opened #1371 "Upgrade to Timepicker 1.6.3"

[2016-05-02 14:34] #1371 closed, assigned to nobody

[2016-05-02 14:36] erickdeoliveiraleal commented on #1366
[code]

[2016-05-02 14:45] erickdeoliveiraleal commented on #1366
@tandraschko do you know about this?

[2016-05-02 14:53] tandraschko commented on #1366
probably because the sentinel menu renderer still references
primefaces.js
instead of
core.js
and
components.js

just change it via @ResourceDependency.

[2016-05-02 14:57] erickdeoliveiraleal commented on #1366
Ok, it solves the RES_NOT_FOUND. But not the selectonemenu issue. right?

[2016-05-02 14:57] tandraschko commented on #1366
probably yes

[2016-05-02 14:59] erickdeoliveiraleal commented on #1366
The SelectOneMenu issue was not present in 5.3. Is it considered a bug? If so, Should I fill a new issue?

[2016-05-02 15:00] tandraschko commented on #1366
Please create a new issue for it. we don't like to mix multiple issues in one github ticket. I will add the component resources bug to the migration guide.

[2016-05-02 15:00] #1366 closed, assigned to tandraschko

[2016-05-02 15:05] erickdeoliveiraleal opened #1372 "SelectOneMenu lost width style after 6.0 RC2"
Version 5.3 looks like this
![5.3](https://cloud.githubusercontent.com/assets/3578953/14957870/1b2a2eae-105e-11e6-9f81-b387b52344d5.png)

Version 6.0 RC2
![6.0 RC2](https://cloud.githubusercontent.com/assets/3578953/14957853/f602fa84-105d-11e6-8b5f-5dcbe2f0b52d.png)

[2016-05-02 15:22] mertsincan commented on #1372
#244
We'll work on this issue and get back to you.

[2016-05-02 15:39] erickdeoliveiraleal commented on #1372
Thank you. For now I'm using CSS provided by @cnsgithub  https://github.com/primefaces/primefaces/issues/244#issuecomment-214228742

[2016-05-02 16:02] hans-adler commented on #149
Related problem: p:dataExporter should probably add " left and right of the file name if not present. It appears that otherwise the server creates an HTTP header for the file name that does not conform to the standard if the file name contains a comma. Most browser accept this, but Chrome panics with ERR_RESPONSE_HEADERS_MULTIPLE_CONTENT_DISPOSITION.

A workaround is to write fileName="&amp;#{myVi

[2016-05-02 16:09] erickdeoliveiraleal commented on #220
2.7.1 https://github.com/fullcalendar/fullcalendar/releases

[2016-05-02 16:10] erickdeoliveiraleal commented on #1029
2.7.1 https://github.com/fullcalendar/fullcalendar/releases

[2016-05-02 16:39] smokeybandit commented on #710
I just came across this, too in v.5.3.    Only seems to be an issue in IE.  The disabled button never receives the hoverleave/mouseleave event.

[2016-05-02 18:20] tandraschko commented on #1370
Is primefaces' core.js included in the current view?

[2016-05-02 19:04] tandraschko commented on #220
Duplicate of #1029

[2016-05-02 19:04] #220 closed, assigned to nobody

[2016-05-02 19:07] tandraschko commented on #303
What about a PR sudheer?

[2016-05-02 19:07] tandraschko commented on #325
Does it still occur with a current version?

[2016-05-02 19:13] tandraschko commented on #484
Would be great if you could provide a PR.

[2016-05-02 19:17] tandraschko commented on #608
Would be great if you could provide a PR. It's a great feature for tablets which doesn't require a mobile renderkit.

[2016-05-02 19:18] tandraschko commented on #604
I think we could just check for a touch device and allow deselection via "click".

[2016-05-02 19:20] tandraschko commented on #721
Would be great if you could provide a PR.

[2016-05-02 19:27] tandraschko commented on #785
works fine for me.

[2016-05-02 19:27] #785 closed, assigned to nobody

[2016-05-02 19:28] tandraschko commented on #759
Would be great if you could provide a PR.

[2016-05-02 19:29] tandraschko commented on #735
does it work correctly in e.g. a dialog or something?

[2016-05-02 19:52] #875 closed, assigned to tandraschko

[2016-05-02 19:53] tandraschko opened #1373 "[Documentation] disabled attribute on p:confirm"

[2016-05-02 19:54] tandraschko commented on #868
I check this some months ago but AFAIR this was not fixable on our side and is a bug in jquery mobile.

[2016-05-02 20:13] mertsincan opened #1375 "ArrayIndexOutOfBoundsException on JBoss EAP 6.4"
Reported by PRO User;
When Primefaces 5.3.1 is deployed on JBoss 6.4 an ArrayIndexOutOfBoundsException is thrown in AjaxBehaviorListenerImpl.java in processAjaxBehavior method.
AjaxBehaviorListenerImpl.java

[code]

[2016-05-02 20:16] #1375 closed, assigned to nobody

[2016-05-02 20:32] tandraschko commented on #1375
Could you please post a stacktrace? the might not be correct as a ArrayIndexOutOfBoundsException might also be thrown the be the listener method itself.

[2016-05-02 23:06] edudoda opened #1376 "Cannot read property 'ajax' of null"
Hi,

since version 6.0.RC2 I am getting error in a  <p:commandButton with ajax action, when inside a p:confirmDialog modal. In previous versions was working. ..

My code

[code]

`

Error:
`Uncaught TypeError: Cannot read property 'ajax' of null >  core.js.html?ln=primefaces&v=6.0.RC2:3

PrimeFaces.ajax.Utils.updateElement @ core.js.html?ln=primefaces&v=6.0.RC2:3PrimeFaces.ajax.ResponseProcessor.d

[2016-05-03 06:05] cnsgithub commented on #1370
Is this really the recommended way to do this?
Wouldnt  PF('widgetVar').hide()   be much easier?

[2016-05-03 07:00] gpetrarca commented on #1368
Without PF there is no "noise", therefore there is something wrong in the way with PF the page is loaded.
Because of this noise I cannot (or I prefer not to) switch now from WildFly 8 to WF 10; someone else could be tempted to choose an alternative framework.
I think PF should care for a good interworking with the major Application Servers.

[2016-05-03 07:38] tandraschko commented on #1368
Do you mean if i change home.xhtml to homejsf.xhtml in the faces-config nav rule?

We don't have any application server specific code and we won't add something.

[2016-05-03 07:45] cagataycivici commented on #1362
@tandraschko what do you think?

[2016-05-03 07:55] tandraschko commented on #1362
had no time, sorry.

[2016-05-03 08:14] SantoshCCS opened #1377 "Filter in Tree Table"
Filter in Tree Table

[2016-05-03 08:20] SantoshCCS opened #1378 "JSF update to 2.2.13"
JSF update to 2.2.13 in milestone 6.0

[2016-05-03 08:22] tandraschko commented on #1378
because?

[2016-05-03 08:24] tandraschko commented on #1378
Do you mean in the showcase? there is no need to upgrade the dependency in the primefaces pom as it's only a "provided" depdendency.

[2016-05-03 08:58] tandraschko opened #1379 "Clarify if we should update h:head"
Currently mojarra doesn't replace the h:head content when updating the ViewRoot via @all or updating the h:head directly:
https://github.com/javaeekickoff/mojarra/blob/master/jsf-api/src/main/resources/jsf.js#L1389

We implemented this as new feature and works actually fine.
However a user mentioned that he don't like the flickering that occurs while reloading the h:head content.
If we remove this

[2016-05-03 08:59] tandraschko commented on #1368
I replicated and created a issue for it:
https://github.com/primefaces/primefaces/issues/1379

our handling is actually correct. Will close this issue but you can stare the other one for the future.

[2016-05-03 08:59] #1368 closed, assigned to tandraschko

[2016-05-03 09:03] SantoshCCS opened #1380 "DataTable: Range filter"
Range filter in Datatable

[2016-05-03 09:05] NF117 commented on #1325
Issu is cloased :-1:  https://github.com/malsup/blockui/issues/57
trejder recommends:

[2016-05-03 09:13] tandraschko commented on #1376
Please provide a complete simple maven jetty example.
When i copy your example in the showcase and remove the beans stuff etc., it works fine for me.

[2016-05-03 09:15] tandraschko commented on #1367
Any news?

[2016-05-03 09:15] tandraschko commented on #1343
Any news?

[2016-05-03 09:17] SantoshCCS commented on #1378
i can use jsf 2.2.13 or not in our project with primefaces 5.3

[2016-05-03 09:18] tandraschko commented on #1378
PrimeFaces is compatible with JSF 2.0,2.1 and 2.2.

[2016-05-03 09:18] #1378 closed, assigned to nobody

[2016-05-03 10:36] #1318 closed, assigned to cagataycivici

[2016-05-03 10:43] cagataycivici commented on #1380
Please provide more description.

[2016-05-03 10:44] cagataycivici commented on #1376
tandraschko There seems to be a common problem with ajax in 6.0.x, let's keep an eye on this.

Only part that has ajax property is $.ajax in getScript, if jquery is in global scope, it should work. Still not sure why getScript is called though here.

[2016-05-03 11:35] SantoshCCS commented on #1380
Datatable contains 10 row. One column  contains 1 to 10 int  value i wanna record from 2 to 5

[2016-05-03 12:08] frkmed opened #1381 "Datatable reset selection state after click outside of Browser"
After selected a row in the datatable and when i click outside of the browser or change the tab of browser the selected row reseted to the first row : you can see this if you navigate to http://www.primefaces.org/showcase/ui/data/datatable/selection.xhtml  and go to secend example "Single with Row Click" and select the third row than click outside of Browser and return you will see that the row wa

[2016-05-03 12:27] tandraschko commented on #1381
Works fine for me in FF.

[2016-05-03 12:28] frkmed commented on #1381
not working for me in FF

[2016-05-03 12:29] tandraschko commented on #1381
@cagataycivici @mertsincan  does it work for you?

[2016-05-03 12:52] #684 closed, assigned to nobody

[2016-05-03 13:07] frkmed commented on #1381
my problem is like @markusg80  with issue #1230

[2016-05-03 13:35] tandraschko commented on #1362
https://github.com/primefaces/primefaces/issues/1183

Thats the reason

[2016-05-03 13:37] tandraschko commented on #1362
works fine again if you set skipChildren=false on p:ajax

[2016-05-03 13:37] #1362 closed, assigned to tandraschko

[2016-05-03 13:43] DariusBaniunas commented on #1370
We didn't explicitly include core.js, it was not needed in PrimeFaces 5.3
Why is it necessary to include it?

[2016-05-03 13:55] tandraschko commented on #1370
please just provide a simple maven jetty webapp, it's much easier for us.

[2016-05-03 14:35] cagataycivici commented on #244
How about we add an attribute like autoWidth that defaults to true and you need to set false to handle cases like these where width is smaller than calculated min-width? Also if the style attribute contains the width as a string, we also don't do autoWidth?

Proposal;

[code]

[2016-05-03 14:53] kukel commented on #1321
Did you try a 6.0 RC? there have been many direct fixes in the mean time and many indirect... And many combinations of the datatable that do not work are not directly bugs... Many combinations are just not tested (there is no multi-dimensional 'support matrix' for the datatable)

[2016-05-03 14:57] kukel commented on #1340
if you have multiple commandButtons, you can assign a default button. I fail to see the need for adding ajax to type="button", it only complicates things

[2016-05-03 14:59] kukel commented on #1358
Maybe this would be a better component for OmniFaces

[2016-05-03 15:01] kukel commented on #1369
doesn't it have an 'appendTo' attribute?

[2016-05-03 15:03] kukel commented on #1377
Please add a little more text... This is quite short (although I think I agree with the requirement). Maybe we should create some crowdfunding for this issue

[2016-05-03 15:28] cagataycivici opened #1382 "Improve omega styling for messages"
Add better styling to growl and message components

[2016-05-03 15:28] #1382 closed, assigned to cagataycivici

[2016-05-03 15:29] cagataycivici commented on #1372
Let's track at 244

[2016-05-03 15:29] #1372 closed, assigned to nobody

[2016-05-03 17:39] gpetrarca commented on #1379
Note: the flickering in Wildfly 8 is acceptable, whilst it is quite annoying in Wildfly 10

[2016-05-03 18:04] kukel commented on #1381
Works for me in FireFox (45.0.2)

[2016-05-03 18:08] kukel commented on #929
There are already 6.0 RC's out... Has this been incorporated? If not, please change the milestone. RC's should not include major changes like this.

[2016-05-03 18:13] kukel commented on #109
:-1:  for not making it into 6.0... I ran into this several days ago... @cagataycivici: can you please review for a 6.1 or 6.0.x release?

[2016-05-03 18:14] fkjaekel commented on #244
Sounds good to me.

[2016-05-03 18:19] kukel commented on #287
@cagataycivici : this should get a milestone of 6.0 at least!

[2016-05-03 18:21] kukel commented on #1051
2.2.x is not a prerequisite, but if things do not work in a certain mojarra/myfaces version, it is never wrong to update that

[2016-05-03 18:23] kukel commented on #1362
@tandraschko: The skipChildren consequences should  be documented in a very prominent place, including in the **'migration guide of 5.x to 6.0'**!!!

[2016-05-03 18:46] tandraschko commented on #109
i would commit it, it's not a problem but you will still see a flickering. So the fix it not perfect IMO.

[2016-05-03 18:47] tandraschko commented on #1362
i added it to the migration guide;)

[2016-05-03 19:36] eugenioflima commented on #1090
I found same issue using defaultCommand and keyFilter.

@tandraschko, can you reopen this issue?

[code]

[2016-05-03 20:01] jensendk commented on #710
Date: Mon, 2 May 2016 09:39:12 -0700
From: notifications@github.com
To: primefaces@noreply.github.com
CC: jesperkjensen@hotmail.com; author@noreply.github.com
Subject: Re: [primefaces/primefaces] Editor tooltips not disappearing when text area not active (#710)

I just came across this, too in v.5.3.    Only seems to be an issue in IE.

—
You are receiving this because you authored the thread.
Rep

[2016-05-03 20:21] markusg80 commented on #1381
It does not work also in Firefox 46.0.1. When u follow the description of @frkmed above inside the Showcase, after you click again inside the "Single with Row" example you will notice that the first row changes the color. If you take this example with more rows, scrolling enabled, selection event and you scroll down and select a row at the end and click outside browser and again in the table then

[2016-05-03 20:35] #244 closed, assigned to cagataycivici

[2016-05-04 05:34] zsuiqiang commented on #1345
No,it works same  with all possible values.

[2016-05-04 07:19] frederikd commented on #109
@tandraschko it would still be better than the current solution. :)
We are still not using p:ajax (much) because of this issue, so we would really appreciate even a not-perfect fix.

[2016-05-04 08:09] Selaron commented on #912
Fixed in 6.0.RC3 (Firefox, Chrome, Opera)

[2016-05-04 08:14] tandraschko commented on #912
thanks for retesting ;)

[2016-05-04 08:14] #912 closed, assigned to tandraschko

[2016-05-04 08:18] cagataycivici opened #1383 "Keyboard accessibility for SplitButton"

[2016-05-04 08:18] #1383 closed, assigned to cagataycivici

[2016-05-04 08:30] cagataycivici opened #1384 "Thinner Shadow for Omega overlays"

[2016-05-04 08:30] #1384 closed, assigned to cagataycivici

[2016-05-04 08:33] cagataycivici commented on #1381
Works for me on FF 46.0.1.

[2016-05-04 08:33] #1381 closed, assigned to tandraschko

[2016-05-04 12:35] EugenFischer opened #1385 "Autocomplete with ampersand suggestion returns escaped markup"
![autocomplete](https://cloud.githubusercontent.com/assets/13999463/15014167/b3e4c77e-1204-11e6-98cf-256501f7b3f4.png)

Happen only if i using *_itemLabel *_ directly.

On the workaround to put is in separate "custom" column
`
<p:column>
        <h:outputText value="#{specialty.label}"/>
</p:column>
`
the highlight functionality get lost.

Used prime-faces version 5.3.5

[2016-05-04 13:22] mertsincan opened #1386 "Column resizing issues on DataTable with empty message"
Reported by Pro User;
These are the scenarios we encounter:
**scenario 1:**
When the filter in the column is changed and if the changed filter selection doesn't have any Records then the column is not re-sizing to the full space of the datatable,this issue is present in all the 3 browsers(Chrome,FireFox & IE). So basically the headers do not 'spread' across the width of the page and a big white sp

[2016-05-04 13:58] #1386 closed, assigned to nobody

[2016-05-04 22:03] tandraschko commented on #109
i fear the problem is that the is currently not fix which is really perfect :/
Does the flickering also occur in mojarra? (would be weird if it doesn't)

[2016-05-05 04:25] frederikd commented on #109
@tandraschko I haven't seen this fix in Primefaces so do not know what the flickering would look like, and therefore can't really confirm.
But in Mojarra the field might get its value changed by one queued Ajax request and then back again by the next and then back to a third value again, depending on how the data is modified server-side. Not sure whether you mean this with flickering. If yes then

[2016-05-05 07:47] tandraschko commented on #109
ok, will do it on the weekend but i will disable it per default. Could you please also test it early next week?
I think that's actually an good enhancement for 6.0.

[2016-05-05 07:48] tandraschko commented on #109
It's an shame that you can't use p:ajax with it's cool features :)

[2016-05-05 08:38] tandraschko opened #1387 "InputNumber: remove minValue hack"
http://forum.primefaces.org/viewtopic.php?f=3&t=45330

[2016-05-05 08:38] #1387 closed, assigned to tandraschko

[2016-05-05 09:30] zsuiqiang commented on #1346
I tried this issue with PF6.0.RC2 and  PF6.0.RC3
It works in simple case. if i move it to dialog ,it doesn't works.

[2016-05-05 14:38] guilhermefacanha opened #1388 "Tree: RTL support for horizontal orientation"
I'm using Spark Theme + Primefaces 6
I would like to know if there is any prediction for p:tree with orientation horizontal work with dit rtl (right to left).

The dir attribute only works with the vertical p:tree.

Thanks.

[2016-05-05 16:02] cagataycivici opened #1389 "Autocomplete in multiple mode cannot be fluid"
Fixed 400px is applied breaking fluid design

[2016-05-05 16:03] #1389 closed, assigned to cagataycivici

[2016-05-05 17:58] mertsincan commented on #1375
Hi Thomas,
I don't have a stack trace. This issue is reported by Pro User. He send this fix and Çağatay said to me that I could add to it into 5.3.x and 6.0.

[2016-05-05 18:13] edudoda commented on #1376
Cool... will wait for the final version of 6.0, if error persists I'll  submit the complete code example. Thanks...

[2016-05-05 19:42] tandraschko commented on #1376
Thats not an good way as we will release the next version a half year later.... If you provide a example now, it will be fixed for final.

[2016-05-05 21:09] mikhailChibel commented on #109
@tandraschko, on behalf of @frederikd, we will test the fix middle next week and then let you know results.

[2016-05-06 06:37] mvitorovic commented on #1321
I tested with RC2, this is what happens without the workaround:

Opened the page scrolled down:

2016-05-06 08:31:15,411 FINEST [*.AuditLazyModel](default task-51) ---->pageSize: 50
2016-05-06 08:31:15,411 FINEST [*.AuditLazyModel](default task-51) ---->first: 0
2016-05-06 08:31:26,110 FINEST [*.AuditLazyModel](default task-52) ---->pageSize: 50
2016-05-06 08:31:26,111 FINEST [*.AuditLazyModel](de

[2016-05-06 10:47] tandraschko commented on #109
Committed!
Please test test test guys
You can activate it via:
   `<context-param>
        <param-name>primefaces.EARLY_POST_PARAM_EVALUATION</param-name>
        <param-value>true</param-value>
    </context-param>`

[2016-05-06 11:46] arunvc1 commented on #1355
one easy solution that came to my mind
you don't have to implement ajax PF upload.

if form has **multipart**, is it possible to set the **content type header as multipart/form-data** on PF ajax request. That could solve this issue

Now even though the form has multipart content type header is wrongly set.
should i raise it as a different issue?

[2016-05-06 11:49] tandraschko commented on #1355
AFAICS i would just append to the file to the ajax request, than it should work.
See: http://stackoverflow.com/questions/5392344/sending-multipart-formdata-with-jquery-ajax

[2016-05-06 12:15] arunvc1 commented on #1355
i think you don't have to implement to **append the file in the ajax request** just set request content type as multipart/form-data

[2016-05-06 12:19] tandraschko commented on #1355
doesn't make sense for me (it would be just an hack).
If you don't want to upload it, just don't process the inputFile and everything is fine.

[2016-05-06 12:59] arunvc1 commented on #1355
1. FORM is multipart
2. On PF button click my request content type become  application/x-www-form-urlencoded

My point is please retail the content type header of the FORM on PF ajax button click
Hope you understand.

[2016-05-06 13:16] andyfinch opened #1390 "DataTable: Filter getFilteredValue out of sync"
I'm in the the process of updating an old 3.1 Primefaces app.  In this app we make use of the datatable filter ajax event and call a listener to update some backingbean properties.  I've noticed a change of behaviour in this listener.  Previously when this listener ran, either the filieredValue defined list would be updated or the filteredValue from the FilterEvent>getSource would be current.  It

[2016-05-07 06:58] sudheerj commented on #1358
I tried to use this component in PrimeFaces showcase application but due to some issue I was not able to see all the features of it https://github.com/tasel/jsfinspector/issues/6. Anyway it would be good for JSF development and to see the internals.In my opinion it will be well suited for utility library such as OmniFaces.Ofcourse if required it can be added to PrimeFaces also as utility component

[2016-05-07 08:42] tandraschko commented on #1358
IMO providing the lifecycle timings is easy and very useful. Not sure about the component tree infos.

[2016-05-07 09:02] sudheerj commented on #844
The upload process begins automatically very quickly in auto mode.When I tried to upload bigger size files then I can find different as follows.

![image](https://cloud.githubusercontent.com/assets/3127317/15091248/8ce39e94-1460-11e6-84df-8b96a8a7228a.png)

[2016-05-07 09:06] Rapster commented on #1358
@sudheerj I answered to your problem

@tandraschko Component tree infos is very useful! Actually in our project, our component tree is 100000 (big right? :) ), but since we're using `DynaForm`, we see a lot of improvements, specially rearding memory. In any case, it does not cost a thing to display those information, although I do agree displaying components name is not very usefull, but again, in

[2016-05-07 09:29] tandraschko commented on #1358
Shoudln't ui:debug provide the component tree infos already?

[2016-05-07 11:36] sudheerj commented on #753
This is because editable selectonemenu generates input component where as normal onemenu won't generate it.Normally there will be a height difference between onemenu and inputText component.In this we can align editable onemenu with vertical-align:top

Or In the component level we can add CSS class with vertical-align:top

[2016-05-07 11:56] sudheerj commented on #923
I think this behavior is as expected or designed for scrollable table,datatable with pagination etc.It prints what available in the page.You can follow the workarounds as mentioned below.

[(http://forum.primefaces.org/viewtopic.php?f=3&t=34395)](url)
[http://stackoverflow.com/questions/30120514/pdatatable-with-paginator-how-to-use-pprinter-to-print-all-rows-without-pagin](url)

[2016-05-07 15:01] Rapster commented on #1358
`ui:debug` displays the state of the component tree and the application’s scoped variables. Not very informative in my case

[2016-05-08 12:44] zsuiqiang commented on #1346
This issue exists in PF5.3.11 also.

[2016-05-08 13:28] zhedar opened #1391 "Form submit causes ReferenceError: Can't find variable: PrimeFaces"
With 6.0.RC3 I cannot submit a rather dynamic form (a lot of `ui:include`s) without getting the javascript error `ReferenceError: Can't find variable: PrimeFaces` after the submit anymore. I just tested a more static one, which worked. The result is, that the components don't function anymore, e.g. checkboxes won't check. The error is triggered by `components.js` and additionally `inputnumber.js`,

[2016-05-08 14:27] zhedar opened #1392 "p:rating doesn't align to its parent if not placed inside h:panelGrid"
I noticed, that `p:rating` is not fitting into its parent, if the parent is something else than a `h:panelGrid`. `p:panelGrid` doesn't work as well, it won't render the rating inside the `table`. Atleast it doesn't in the bootstrap theme (haven't tried other themes yet).

I think this worked in 5.3 and stopped with 6.0, but I'm actually not 100% sure about that anymore.

Preview:
![bildschirmfoto

[2016-05-08 17:48] frkmed commented on #1381
I have tested this issue in many browser and also in  FF 46.0.1. but the probleme persist please can you give me a solution.

[2016-05-08 21:47] maol74 commented on #1343
@tandraschko - I have testet my app against 6.0.RC3 and the error that I described above are now gone!
Thanks for the quick reply and attention on this!

[2016-05-08 21:49] maol74 commented on #1343
I have though another problem with 6.0.RC3 but i report a new issue on that since it´s not related to this defect

[2016-05-09 07:05] #1343 closed, assigned to tandraschko

[2016-05-09 07:08] tandraschko commented on #1391
Please provide a simple maven/jetty application, can't replicate it.

[2016-05-09 08:02] hyogacs opened #1393 "dialog framework does not work well in 6.0RC3"
We updated to 6.0 and there is a problem in DialogFramework.
The dialog'position seems default on the center of screen,even when the dialog is lagrer than the base page that we have to move it.
![ws000001](https://cloud.githubusercontent.com/assets/13062206/15106950/a2c07efa-1607-11e6-8cbd-d62da6df4c82.JPG)
But it works good in 5.3.
![ws000002](https://cloud.githubusercontent.com/assets/13062206/1

[2016-05-09 09:37] zhedar commented on #1391
Will try do deliver, the part that broke is overly complex and dependent, so I'm trying to simplify it.
In the meantime I narrowed the source down to dd008bf9b68b81300337f1ea41d1eaf6b848b2d1. That's the change that broke the behaviour.

[2016-05-09 09:43] tandraschko commented on #1391
Did you also active the METADATA_TRANSFORMER in the web.xml?

[2016-05-09 09:49] zhedar commented on #1391
No, I haven't changed the web.xml since. I couldn't find a discussion mentioning that, anything I should try?

[2016-05-09 09:53] zhedar commented on #1358
@Rapster I think reviving that project may be a better (and also great) choice. It may be helpful for many projects and the general idea doesn't sound like a job for a component framework.

[2016-05-09 10:31] zhedar commented on #1391
I still don't know why it happened in specific cases only, but I had `<h:outputScript library="javax.faces" name="jsf.js" target="head" />` included in my `<h:body`>, that somehow broke it. I thought, I would need that for the Ajax Status, but it seems to work without (should be included automatically, but back then I probably had problems with that).

Removing that include seems to solve the prob

[2016-05-09 11:34] BalusC opened #1394 "DataTable: rows per page dropdown doesn't validate submitted value"
An attacker could this way submit an arbitrary large value such as 1000000 and cause the server to run out of memory when executed on a paginated lazy data table with a big database.

[2016-05-09 12:48] mdaehnert opened #1395 "p:notificationbar show/hide delegates false options to JQuery functions."
Hi there,

I wanted to inform you, that the following functions of notificationbar.js:
- show
- hide

delegates to JQuery functions:
- slideDown
- fadeIn
- slideUp
- fadeOut

with arguments like:
- slide
- fade

But all of the named JQuery functions use their first parameter for other functionality (mostly duration).
E.g. @see http://api.jquery.com/slidedown/

[2016-05-09 13:20] mertsincan opened #1396 ""autoWidth" attribute has no effect on SelectOneMenu"
it's not working with "false" value.

[2016-05-09 13:27] german1410 commented on #844
1) Go to http://www.primefaces.org/showcase/ui/file/upload/auto.xhtml using chrome
2) Open the debug console
3) Upload a file, now limit is 100k there so it will be more difficult to reproduce.
4) Before the file is uploaded cancel the operation

![primefacesuploadcancelerror](https://cloud.githubusercontent.com/assets/4230387/15114422/4d8a35f2-15d0-11e6-86b8-c3bcb4db2444.png)

[2016-05-09 13:27] #1396 closed, assigned to nobody

[2016-05-10 03:44] zsuiqiang commented on #1253
Is this issue confirmed? When to solve?

[2016-05-10 07:32] Rapster commented on #1358
I think @tandraschko is working on something regarding lifecyle :+1:
Do you plan to do anything about components count @tandraschko ?

[2016-05-10 07:59] tandraschko commented on #1358
Currently not

[2016-05-10 08:49] mashcos opened #1397 "Mobile autocomplete with converter and var shows wrong value"
I have a bean with a field of class Person and a converter for this class.

In the facelet i use the following code:

[code]

In the normal (desktop) view everything works fine. But in the mobile view (with  renderKitId="PRIMEFACES_MOBILE") the id of the person (as returned by the converter) instead of the itemLabel is shown when taskBean.assignToPerson already has a value set when calling the pag

[2016-05-10 08:53] tandraschko commented on #1391
So please reopen if you can provbide a example.

[2016-05-10 08:53] #1391 closed, assigned to tandraschko

[2016-05-10 09:28] mertsincan opened #1398 "Advanced Fileupload buttons aren't displayed correctly with ui-fluid class"
Test Case;

[code]

[2016-05-10 09:31] #1398 closed, assigned to nobody

[2016-05-10 09:40] spauny opened #1399 "DataTable: Subtable appends column header text value"
Hello, just upgraded to 6.0.RC3 (from 5.3) and using the same code, it seems the subTable uses the parent's column header text value and appends it to all the child values.
Code:

[code]

You can view the actual behaviour below. As you can see, the column header (totalrecords) is appended with subtable header and outputText value.

![screen shot 2016-05-10 at 09 49 03](https://cloud.githubusercont

[2016-05-10 09:49] spauny opened #1400 "Sticky header is broken when used with scrollable data"
Sticky header is broken when used with scrollable data: stickyHeader="true" and scrollable="true"
As you can see below, the header is broken even before scrolling down.

![screen shot 2016-05-10 at 10 46 09](https://cloud.githubusercontent.com/assets/6390470/15142371/9e7eda18-169c-11e6-97fc-8b00ed3fef1c.png)
![screen shot 2016-05-10 at 10 44 47](https://cloud.githubusercontent.com/assets/6390470/1

[2016-05-10 11:05] tandraschko opened #1401 "ValueExpressionAnalyzer / graphicImage fails with nested CCs"

[2016-05-10 12:00] #1401 closed, assigned to tandraschko

[2016-05-10 12:44] tandraschko opened #1402 "[perf] use ValueExpression#getValueReference instead of interception"

[2016-05-10 12:46] #1402 closed, assigned to tandraschko

[2016-05-10 13:23] naveenkumarg-oss opened #1403 "Dialog Framework: issue when embedded in iFrame"
We are having issue using Dialog Framework when used within iFrame. I have provided code below to reproduce.

This always worked in 5.2 and 5.3. I am seeing problem with RC2 as well as RC4-snapshot.

On the Console I see JS error:
TypeError: this.createWidget is not a function (core.js...NAPSHOT (line 287, col 13))
this.createWidget(widgetName, widgetVar, cfg);

![deleteme](https://cloud.githubuse

[2016-05-11 07:26] mertsincan opened #1405 "ESC key functionality for Datatable Cell Editing"
Users will be able to discard the values entered without saving it.

[2016-05-11 07:54] #1405 closed, assigned to nobody

[2016-05-11 08:27] Fr3eZer opened #1406 "Memory leak in the p:timeline component"
We encountered some memory issues when using the p:timeline component in our web application (dashboard). The memory usage of the browser keeps growing until after a while, the browser of our client crashes.

We did some testing and it appears that this only happens when updating the timeline periodically on the client-side. Every update the memory usage grows, and even if we manually activate gar

[2016-05-11 08:48] mertsincan opened #1407 "Minimum column width for Resizable Datatable"
User can add "min-width" style to column for break point on Resizable Datatable.

Test;

[code]

[2016-05-11 08:51] #1407 closed, assigned to nobody

[2016-05-11 09:21] mertsincan commented on #1406
Thanks for your sample codes. I'll check it and get back to you.

[2016-05-11 09:35] spauny commented on #1400
Also, when stickyHeader and scrollable are true, it would be nice to have the fixed header still follow the vertical scroll.

[2016-05-11 16:32] JorgJimz opened #1408 "Photocam ERROR"
Hi everyone,

I've got a problem with primefaces's photocam plugin, I'm using Primefaces 5.0 and Javax.faces 2.2.6, It takes a photo but when I have to update to show the taken picture, in the console appears this message:

**Uncaught TypeError: Cannot read property 'call' of undefined**

![image](https://cloud.githubusercontent.com/assets/3695179/15188418/51b23354-176b-11e6-8c7c-f736b0a40578.png)

[2016-05-11 16:33] movalz opened #1409 "p:inputNumber and accesskey doesn't work as expected"
Normal behaviour of browser when jumping into an input field via accesskey (or tab key) is to select the current input so that the user can replace it by new input by just typing, and p:inputNumber should behave in the same way, but it doesn't.

I have an XHTML file where I use p:outputLabel and p:inputNumber together and the p:outputLabel defines the accesskey for the inputNumber field:

&lt;p:ou

[2016-05-11 16:33] JorgJimz commented on #1408
The taken picture is saved correctly. But can't show in a Graphic-Image tag.

[2016-05-11 17:21] tandraschko commented on #1409
AFAICS the bug is directly in autonumeric?

[2016-05-11 17:21] tandraschko commented on #1408
Try 6.0.RC4

[2016-05-11 18:06] JorgJimz commented on #1408
I'm new at using Primefaces ... I understand that you refer to Primefaces version 6.0 RC4 ... but I think that version is for PRO User and I'm not. Another solution or maybe I'm still wrong?

[2016-05-11 18:08] tandraschko commented on #1408
no, it's not for PRO users, it's just the RC for the upcoming community version. See: http://repository.primefaces.org/

[2016-05-12 07:38] movalz commented on #1409
Yes, it is directly autonumeric. I have updated the description above: I have tested a fix: putting the two statements which causes loosing the selection into an if statement and that seems to work. What is the best way to get this fix into autonumeric and then into PrimeFaces?

[2016-05-12 07:44] tandraschko commented on #1409
Please create a issue on autonumeric side. If they release a new version, we can update it.

[2016-05-12 10:05] leolux opened #1410 "Attribute "maxlength" not working for inputtext of type="number""
The attribute maxlength seems to work only for inputtext fields of default type. The following inputtext is of type "number" and does not work as expected:

<p:inputText type="number" maxlength="3" id="mynumber" value="#{someBean.mynumber}" />

I am using the current community version 5.3 from the download section.

[2016-05-12 10:22] leolux commented on #1410
I just saw that that version 5.3.4 introduces InputNumber which is made especially for numbers. Do you think that the issue within InputText of type="number" is still relevant as long as the community can only download version 5.3?

[2016-05-12 11:01] tandraschko commented on #1410
Not related to PF: http://stackoverflow.com/questions/34150134/maxlength-is-not-working-with-input-type-number-in-html-textbox

[2016-05-12 11:01] #1410 closed, assigned to tandraschko

[2016-05-12 13:10] leolux commented on #1410
Well, the primefaces documentation does not state that the attribute "maxlength" does not work for input type number. The fact that HTML does not know about this attribute has nothing todo with the attribute itself because it is a attribute defined by primefaces and specified as follows:
"Maximum number of characters that may be entered in this field."

So if you say this attribute works as expect

[2016-05-12 16:19] edudoda commented on #1376
@tandraschko, how can I elaborate it more, or even debug it precisely? I don't use Maven/jetty.

[2016-05-12 17:15] JorgJimz commented on #1408
Thanks, @tandraschko ... Your answer fixed my problem. It was about the version of Primefaces I had to have the last version of it.

Thanks again,
Greeting from Perú.

[2016-05-12 17:20] tandraschko commented on #1408
Great!

[2016-05-12 17:20] #1408 closed, assigned to nobody

[2016-05-12 17:29] tandraschko commented on #1376
To be honest, i don't know where i would start to search the bug. I just need a example to replicate.

Maybe you should just take a look at our showcase.
Install maven, checkout the showcase and run via: mvn clean package jetty:run
So maybe you can apply same changes to the showcase to replicate the error.

However, i just need a small sample to replicate it which is based on maven and in the best

[2016-05-12 20:14] JaviRpo opened #1411 "Problem with new contribution"
Hello,
I'm new to this community and I want to contribute with my knowledge of GoogleMaps to improve this tool, but I find the problem that some classes to which I have access in the jar downloaded from maven (PrimeFaces-5.3.jar) and these are not in this repository GitHub, so I can not change. An example of the classes to which I refer are GMap.java, AjaxStatus.java, etc.

Where are these classes

[2016-05-13 06:11] tandraschko commented on #1411
That's not an issue, use the forum.
They are auto generated and the templates are in /src/main/java-templates

[2016-05-13 06:11] #1411 closed, assigned to nobody

[2016-05-13 06:12] tandraschko commented on #1411
That's not an issue, use the forum.
They are auto generated and the templates are in /src/main/java-templates

[2016-05-13 06:46] mertsincan opened #1412 "Key enter function key (eg. F1, F2) will filter the selectOneMenu to the first element"
Reported by Pro User;
If a selectOneMenu field is highlighted, when we key in the function key will highlight the first option in selectOneMenu. Any idea on that ? This can also be reproduce in showcase. Change the selectOne of Basic to Wii U and type F8
http://www.primefaces.org/showcase/ui/input/oneMenu.xhtml

[2016-05-13 06:50] #1412 closed, assigned to nobody

[2016-05-13 08:37] cagataycivici opened #1413 "Customizable blur behavior for incell edit"
Default behavior is to save the changes of cell editing on blur of cell, add saveOnCellBlur to customize this so tabbing and clicking outside can cancel it.

[2016-05-13 08:37] #1413 closed, assigned to cagataycivici

[2016-05-13 09:29] tandraschko commented on #109
Any news? ;)

[2016-05-13 09:56] frederikd commented on #109
@tandraschko we've started but not completed testing. Hopefully can do so on Monday. Will let you know as soon as possible. Thanks!

[2016-05-13 13:00] sharedloadcom commented on #1397
Can confirm this bug. Only appears when reading. Are there any workarounds?

[2016-05-13 14:10] NicolaIsotta opened #1414 "p:message style and styleClass ignored"
PF 5.3
The attributes style and styleClass are ignored by the p:message renderer.
To reproduce I simply added style and styleClass attributes to one of the p:message in the Messages page of the showcase. Neither style nor styleClass are present in the generated xhtml. Instead p:messages behaves correctly.
I investigated and the attributes are not rendered because they are simply not read in org.pr

[2016-05-13 14:47] gbrinkmann opened #1415 "activePageIndex for dataTable"
An attribute "activePageIndex" for "dataTable" (like "activeTabIndex" for tabView) would be nice, for example (my case) to restore a dataTable page when returning to the browser page that contains the dataTable.

And - just in case nobody mentioned it so far - primefaces rocks :-)

[2016-05-13 14:48] movalz opened #1416 "SelectOneMenu: accesskey defined via a OutputLabel fires inadvertent change event"
I have a p:outputLabel with an accesskey defined which belongs to a p:selectOneMenu (for="..."). When I hit the accesskey of the label the p:selectOneMenu gets the focus (as expected) but with IE and Chrome the key stroke event is then processed by p:selectOneMenu too which calls an "onchange" handler set for p:selectOneMenu, but no change has happened, the widget has got the focus, not more.

I h

[2016-05-13 15:10] tandraschko commented on #1414
would be great if you could provide a PR

[2016-05-13 18:46] rripley opened #1417 "DataTable: changes mouse cursor on selected rows even when rowSelectMode="checkbox""
In `p:dataTable`, when `rowSelectMode="checkbox"`, the mouse cursor changes to pointer on selected rows, because of `.ui-datatable tr.ui-state-highlight{cursor:pointer;}` in components.css.  The expectation would be that the mouse cursor would remain unchanged because clicking the row has no action when rowSelectMode is checkbox.  I am using 6.0.RC3.

[2016-05-15 03:50] lazaronixon opened #1418 "Integrate TurboLinks with Primefaces"
On Ruby on Rails we have [TurboLinks](https://github.com/turbolinks/turbolinks), it would be a good feature for primefaces.

Here is a Proof of concept:
https://github.com/lazaronixon/primefaces/tree/turbolinks
https://github.com/lazaronixon/showcase/tree/turbolinks

Some components does'nt work well,but I beleave with a little effort is possible put all to work.
The most part appendToBody solve t

[2016-05-15 08:46] tandraschko commented on #1418
The idea is cool, not sure how it works internally.
But feel free to work on it and analyze all problems you can find and post it here.

[2016-05-15 15:41] lazaronixon commented on #1418
Basically what it does is, listen clicks on links with hrefs to html(changed it to xhtml) turbolinks make a ajax request and change current body with body from ajax request, so page is not full loaded. It keeps too a cache with visited pages, when you visit this page again it come from cache instantly while the page is refreshed. The problems it brings is that "$(documento).ready()" must be change

[2016-05-16 03:16] mikhailChibel commented on #109
@tandraschko  Sorry for the delay, I've tested on 6.0.RC4-SNAPSHOT and found no issues. When configuring with EARLY_POST_PARAM_EVALUATION the request evaluated immediately matching to JSF behavior. Without EARLY_POST_PARAM_EVALUATION settings, request evaluated at the send time (existing behavior). Thanks.

[2016-05-16 05:10] raskajan commented on #884
Hi,
If you can use own compiled primefaces libraries, the fix is easy.
Instead of detect click outside of a menu item panel using coordinates, you can check if a target of click is the panel or its children.
So bugfix in bindConstantEvents could be like this:

[code]

[2016-05-16 06:27] mertsincan opened #1420 "Today button doesn't choose current day on Calendar"
Reported by Pro User;
Pressing current date button in button panel does not select current date as well as does not close the calendar component.

Exp;

[code]

[2016-05-16 06:27] mertsincan opened #1421 "Input loses focus on Calendar"
Reported by Pro User;

We cant directly change the time from input(need to open calendar popup all the time),this looses the focus on keypress ,makes it impossible to enter values directly.

[2016-05-16 06:39] #1420 closed, assigned to nobody

[2016-05-16 06:39] #1421 closed, assigned to nobody

[2016-05-16 09:26] nasir-imtiaz opened #1422 "DataTable: responsive - weird displaying of sortBy"
I am using a very basic example of responsive data table as follows:

[code]

The issue is that, once i make a column sortable by using the sortBy attribute, an extra drop down starts appearing on top of the data table for the respective column (as shown in the attached image).

![image](https://cloud.githubusercontent.com/assets/19385959/15285648/386b83b0-1b61-11e6-8d98-3c69cd8b6018.png)

I reali

[2016-05-16 10:03] Rapster commented on #1418
What would be the gain using this rather than SPA?

[2016-05-16 10:39] NicolaIsotta commented on #1414
Created: #1423

[2016-05-16 11:01] tandraschko commented on #1414
Merged! Thanks!

[2016-05-16 11:01] #1414 closed, assigned to tandraschko

[2016-05-16 11:35] aleskurlovich opened #1424 "Empty parameter value rendering"
Hello. I found problem with empty f:param value rendering. For example, next code will initiate HTTP request with additional form data.

Code:
`<p:commandLink...> <f:param name="param" value="#{null}"/> </p:commandLink>`

Request data:
`param: null`

But I guess "param" value should be empty at least.

Possible fix: #1419

[2016-05-16 17:37] jabrware opened #1425 "p:repeat for p:menutitem inside p:menu or p:submenu problem"

[2016-05-16 18:39] Rapster commented on #1089
Should I make a PR for this?

[2016-05-17 07:46] tandraschko commented on #1425
Use the forum, thats not an valid issue.

[2016-05-17 07:46] #1425 closed, assigned to nobody

[2016-05-17 07:55] tandraschko opened #1426 "ImageCropper doesn't work with double positions"
http://forum.primefaces.org/viewtopic.php?f=3&t=45523

[2016-05-17 07:56] #1426 closed, assigned to tandraschko

[2016-05-17 07:57] #1424 closed, assigned to tandraschko

[2016-05-17 07:57] tandraschko commented on #1424
Thanks!

[2016-05-17 07:59] mertsincan opened #1427 "Add moreText attribute and event to Autocomplete"
The text shown in panel when the suggested list is greater than maxResults value. Also, we added "moreText" event.
Exp;

[code]

[2016-05-17 08:03] #1427 closed, assigned to nobody

[2016-05-17 08:10] markusg80 commented on #244
@cagataycivici  When set style="width: 100%" inside a panelgrid, the width is still more then the grid cell like in the screenshot of my Post from 18.05.2015. I still have to use my workaround from my Post of the 09.11.2015. I use Version 5.3.12. I try with autoWidth true and false -> No effect

[2016-05-17 08:11] markusg80 commented on #1381
Problem persist for me too. Should i create a example project for you?

[2016-05-17 08:35] mertsincan commented on #244
Hi @markusg80,

This issue is fixed for 5.3.13. https://github.com/primefaces/primefaces/issues/1396

Also, I think you need to use box-sizing:border-box with width:100%. We added the following css for responsive selectOneMenu;

[code]

[2016-05-17 08:53] markusg80 commented on #244
Ok when i use
`.ui-selectonemenu {
    box-sizing: border-box;
    width: 100%;
}`
then it work and its more elegant then my wokaround from 09.11.2015.

But why you cant implement it as standard? Or to enable this behievor as standard and give an attribute to disable it boxSizing="true/false" and true as standard?

[2016-05-17 09:24] tandraschko opened #1428 "Add inputStyle and inputStyleClass to inputNumber"
http://forum.primefaces.org/viewtopic.php?f=3&t=45531

[2016-05-17 09:25] #1428 closed, assigned to tandraschko

[2016-05-17 09:36] tandraschko commented on #1395
Whats the exact issue?
#show is only called in #toggle and without parameters.

[2016-05-17 10:33] mtbadi39 commented on #1381
Works for me without problems on :
FF 46.0.1
Chrome 50.0.2661.102

[2016-05-17 11:09] markusg80 commented on #1381
Steps to reproduce better:

Take the Single with Row Click example and modify it to load more cars (for example 100) and enable scrolling. Scroll down so long the first visible rows disappears and then select one random row. After this click on Taskbar and then click back to datatable. then the table scrolls to top and first row get hover color. And now another row is selected because selection ev

[2016-05-17 12:33] rdebusscher opened #1429 "Support for ui:repeat within p:row of p:panelGrid"
If have a request where we need to shown a variable number of columns within p:panelGrid where in the header we need the grouping of columns.

something like this

[code]

Which results in a layout like

<img width="1321" alt="screen shot 2016-05-17 at 14 31 04" src="https://cloud.githubusercontent.com/assets/1228265/15322338/741182c6-1c3c-11e6-866f-5a9370be8ab1.png">

[2016-05-17 12:38] rdebusscher commented on #1429
A small change needs to be made to the PanelGridRenderer to achieve this (but maybe it is trickier to have it correctly in all situations)

[code]

Only the

[code]

is added.

[2016-05-17 12:49] cnsgithub commented on #1415
Hi, this would be a really useful addition. Until this is implemented i solved this by using JS.

`
PF('dataTableWidgetVar').getPaginator().setPage(#{bean.pageToShow});
`

[2016-05-17 13:15] movalz opened #1430 "p:selectOneRadio and an accesskey defined via a p:outputLabel doesn't work as expected"
I have a p:outputLabel with an accesskey defined. The label belongs to a p:selectOneRadio (via a for="..."). When I hit the accesskey of the label I would expect that the currently selected option of the selectOneRadio would get focus, so that I can switch between the options with the cursor keys (like I can do when focussing the selectOneRadio via Tab key). But what happens is that the currently

[2016-05-17 14:23] jabrware commented on #1425
if p:repeat is a replacement of ui:repeat I think it should support this

[code]

or support ui:repeat in this case

[2016-05-17 14:44] mtbadi39 opened #1431 "panelMenu : when click a submenu others should auto collapsed"
for now am using this workaround :

[code]

[2016-05-17 21:32] Rapster commented on #1393
Looks like a duplicate of this #1290

[2016-05-18 08:08] mertsincan opened #1432 "Add cellEditCancel event to Datatable with cell editing"
If press ESC key in cell of dataTable, this event is called.

[2016-05-18 08:11] #1432 closed, assigned to nobody

[2016-05-18 10:45] mrclBIE commented on #1023
Hey. Any news about it?

[2016-05-18 10:48] mrclBIE commented on #942
I have the same problem with PrimeFaces 5.2 and 5.3. It appears even without pagination and it doesn't matter if i use 'p:selectBooleanCheckbox' or 'h:selectBooleanCheckbox'... seems like a bug for me. Is it already solved @kukel @PrateepT ?

[2016-05-18 13:30] sorvant opened #1433 "DefaultTreeNode#equals should suit the parent.getChildren().indexOf(this)"
Include this test and provide a fix if you find it important.
[code]

[2016-05-18 13:34] tandraschko commented on #1433
Feel free to provide a PR to fix this problem

[2016-05-18 13:36] crocimi opened #1434 "LayoutUnit - update a single layoutunit doesn't work"
I have the following situation

[code]

myView is an xhtml page (view1.xhtml, view2.xhtml,....). In view1.xhtml I have another layout:

[code]

If I "switch" from view1.xhtml to view2.xhtml (using an actionlistener of a button), and than I do an ajax update of the layoutUnit "mainUnit" this doesn't work correctly (the layout is "out-of-phase"). If I do a page refresh everything is ok.

If I put th

[2016-05-18 13:40] tandraschko commented on #1434
Please try the rendered attribute instead c:if.
JSTL doesn't work in every case.

[2016-05-18 14:08] crocimi commented on #1434
Thx 4 the answer, I have updated the issue because my situation was a little different (sorry for that)

[2016-05-18 15:26] movalz opened #1435 "SelectManyMenu: add 508 keyboard support"
I'm missing keyboard support for tag p:selectManyMenu like it is present for h:selectManyListbox (only Firefox does it exactly in the described way with CTRL/SHIFT keys):
- when focus is reached via TAB key one of the rows (the first row or first selected row) should be highlighted with a dotted frame
- pressing UP or DOWN key should move the highlighted row up/down. If neither CTRL nor SHIFT is p

[2016-05-18 16:04] movalz opened #1436 "SelectOneListbox: add keyboard support"
I'm missing keyboard support for tag p:selectOneListbox like it is present for h:selectOneListbox:
- when focus is reached via TAB key one of the rows (the first row or the selected row) should be highlighted with a dotted frame
- pressing UP or DOWN key should move the highlighted row up/down and select that row
- POS1/END should jump to the beginning/end of the items list with changing the selec

[2016-05-18 22:13] #980 closed, assigned to nobody

[2016-05-18 22:42] Rapster opened #1437 "Inplace: default mode support"
It should be possible to indicate in which "mode" inplace component should be displayed first. There would be two mode so far: input or output. AFAIK, "output" mode is displayed first, but what if user want it to display in "input" (editing) mode first? Inplace is more than just a fancy way to edit value, technically, it allows to associate a display and an editing mode in a very fancy way. In a d

[2016-05-19 07:22] #1429 closed, assigned to rdebusscher

[2016-05-19 14:17] wodarski opened #1438 "Captcha: Allow multiple captcha on same page"
Improve p:captcha to allow multiple components on same page.

Acording to [1], multiple recatpchas on same page is supported in Recaptcha Version 2.0

[1] http://stackoverflow.com/questions/1241947/how-do-i-show-multiple-recaptchas-on-a-single-page

[2016-05-19 14:21] tandraschko commented on #1438
Feel free to provide a pull request.

[2016-05-19 16:11] whaleshogun opened #1439 "FileUpload XSS vulnerability"
Primefaces version 5.1.141 (ELITE Build)

[code]

Uploading a file named  `<img src=x onerror=alert('XSS')>.xlsx` (under Linux, since Windows won't allow file names with special characters).

Result:

html content in file name is not escaped.

![image](https://cloud.githubusercontent.com/assets/7386341/15400741/e40d6e80-1dec-11e6-8b87-ab5b0dea56bc.png)

[2016-05-20 01:49] JaviRpo opened #1440 "Bad encoding Rectangles Map"
In class GMapRenderer the attribute bound in renctagle component is wrong

![image](https://cloud.githubusercontent.com/assets/8562436/15414724/ec6ba3e2-1e02-11e6-8a47-efcb64449a59.png)

And in the Google Maps documentation [https://developers.google.com/maps/documentation/javascript/3.exp/reference?hl=es#LatLngBounds] is first  the value sw and then ne

![image](https://cloud.githubusercontent.co

[2016-05-20 01:56] JaviRpo commented on #1440
#1441

[2016-05-20 02:31] anunayak81 opened #1442 "DataTable: Rowedit filtered column , updates wrong row"
Hi,

I have 2 applications, one of which uses PF 3.2 and another uses PF 5.1. In both applications, I am facing an issue with rowedit of a datatable with filters.

Several screens in my applications, have Editable data-tables with filter on every column. Whenever, user filters by a particular column and tries to edit the same column in the matching rows, it actually updates some other rows.

So fo

[2016-05-20 07:00] mertsincan opened #1443 "Schedule week button text typo"
Week has a lower case 'w' while Month and Day are both capitalised at http://www.primefaces.org/showcase/ui/data/schedule.xhtml

[2016-05-20 07:02] #1443 closed, assigned to nobody

[2016-05-20 07:59] cnsgithub commented on #1439
Note: This XSS vulnerability is not dependant on any OS since there is always the possibility to tamper with POST data and use specially crafted file names albeit those characters would be invalid in Windows file names...

[2016-05-20 08:21] tandraschko commented on #1440
good catch, thanks!
Will also add it to the migration as it breaks old applications

[2016-05-20 08:21] #1440 closed, assigned to tandraschko

[2016-05-20 08:26] tandraschko commented on #1439
Does it still occur in 6.0?

[2016-05-20 08:48] whaleshogun commented on #1439
The problem still occurs in PrimeFaces 6.0.RC3

[2016-05-20 10:50] ckirbas commented on #156
Hi,
Is this going to be available?

[2016-05-20 15:24] mashcos commented on #1397
I've seen there is a difference in the encodeInput method of the AutoCompleteRenderer class for mobile an desktop view. In the desktop version it is checked whether var is null or not:

[code]

In the mobile version this check is not done, the code is much shorter:
`
        if(valueToRender != null) writer.writeAttribute("value", valueToRender , null);
`

Maybe there is something missing?

[2016-05-20 16:49] zhedar opened #1444 "InputNumber throws JavaScript error when special values like Double.NaN are used"
When I switched from PrimeFaces Extensions to PF6's InputNumber I recognized, that a page containing  a `p:inputNumber` stopped working, because of an autonumeric error:
`Error: The value (�) being 'set' is not numeric and has caused a error to be thrown`

The workaround for this issue seems to be not using such values, in my case [JSONObject.optDouble](http://www.docjar.com/docs/api/org/json/JSON

[2016-05-20 19:14] tandraschko commented on #1444
Please provide an example. Even better a pull request to fix the problem.

[2016-05-20 19:24] zhedar commented on #1444
I pushed my minimal example to https://github.com/zhedar/pfissues . It's a bit sloppy and Eclipse didn't like it, but the maven build worked. However, the built war is in there as well, as I haven't bothered to add a real gitignore.

I thought about fixing this as well, but should have a look into the implementation of the inputnumber component first. Handling special cases like this may introduce

[2016-05-21 17:25] tandraschko commented on #1444
It's just not designed for NaN.
The DoubleConverter returns "NaN" as string and no number.
Will close it as not supported.

[2016-05-21 17:25] #1444 closed, assigned to nobody

[2016-05-21 17:26] tandraschko commented on #1444
You can however provide an own double converter which converts NaN to a number instead "NaN" as string.

[2016-05-22 10:17] sharedloadcom commented on #1397
The problem ocurs after inital load (wether page reload or ajax update). The user here

http://forum.primefaces.org/viewtopic.php?f=8&t=44357

recommands to check inital load and maybe change the converter class, but I don't know how to do that.

[2016-05-22 20:53] Rapster commented on #959
I guess with simple words, the child component _(which is a composite)_ of p:panelGrid is not displayed

[2016-05-23 09:10] Quix0r commented on #48
When will this be included? I may need to change the "column" separator.

[2016-05-23 09:38] gulbinas commented on #48
+1

[2016-05-23 13:48] sourour opened #1446 "columnToggler doesn't hide when update dataTable in p:ajax"
I use primefaces 5.3, I have dataTable with 4 rows header,so I use columnGroup ,I put columnToggler for the second row of header and manually with a listener fix the colspan of first row of header. so I should update the table with ajax.
when I put update at ajax (for columntoggler) , every thing is ok , but the check box of columntoggler doesn't hide when click out.
this is my xhtml code:
`<p:col

[2016-05-23 14:19] cnsgithub commented on #1446
Hi, The info and code you posted  is probably not enough to reproduce what you are experiencing.

But my suggestion would be to try 6.0RC3, if you're using 5.3 (not elite), as there have been a lot of bugfixes since it's release.

[2016-05-23 15:37] sourour commented on #1446
Hi,
I don't use elite version.
`
<h:form id="form1">
    <p:dataTable style="width:1300px" id="table1" scrollable="true"
        scrollHeight="500" scrollWidth="1300" selectionMode="single"
        rowKey="#{item.account}" value="#{dashbord.listAm}"
        widgetVar="table1V" var="item"
        filteredValue="#{dashbord.filteredList}">
        <p:ajax event="filter" listener="#{dashbord.onFilter}

[2016-05-23 18:58] djmj opened #1447 "Lazy data components ajax load event"
In many applications a client callback is required to rebind javascript components or invoke other AJAX requests after a lazy data component load method was called and content was updated.

What about an 'load' ajax event?

[code]

**Use cases:**
- reload other components after lazy load operation
- invoke javascript code after load
- load dynamic resources

Those examples are explained in more de

[2016-05-24 06:08] cnsgithub commented on #1447
You're right this is something which would ease a lot of things. Currently I'm doing it in the following way:

<p:ajaxStatus oncomplete="onAjaxComplete();" />

The both methods will check for custom data attribute on components which need an ajax callback, and execute it's value as js by using Function.call

A 'native' Primefaces solution would be a big improvement though

[2016-05-24 07:52] mrclBIE commented on #942
[00PrimefacesComponentBug Maven Webapp.zip](https://github.com/primefaces/primefaces/files/279003/00PrimefacesComponentBug.Maven.Webapp.zip)

[2016-05-24 14:03] patr-76 opened #1448 "SelectOneMenu: keyword fast selection with android device (tablet)"
With 5.3 version, when we try to selection with keyword letters for a fast selection, the selectOneMenu component  doesn't work correctly in basic example (http://www.primefaces.org/showcase/ui/input/oneMenu.xhtml).

We use a tablet with android os (version lollipop) and Chrome browser.
Otherwise, with a normal pc all right.

Back to 5.1 version all it works correctly.

Thank a lot.

[2016-05-24 14:56] Rapster opened #1449 "Is IterationStatus really necessary to be added?"
I have an error with eclipse saying that `IterationStatus` is msilocated, it's actually true, the package is set to `com.sun.faces.facelets.tag` while it is in `org.primefaces.component.repeat`. I'm wondering why this file has been added since it's an exact copy of `IterationStatus` in javax.faces. Has it been added for MyFaces? Even though, it does not explain why it has the same package name

[2016-05-24 16:31] tandraschko commented on #1449
p:repeat has been added because of a bug in mojarra's ui:repeat. MyFaces is working fine.

[2016-05-24 16:39] #1449 closed, assigned to tandraschko

[2016-05-24 16:44] Rapster commented on #1449
But still, why add it while it's present in `javax.faces-2.2.0.jar` dependency, it's not possible to use the same?

[2016-05-24 19:08] tandraschko commented on #1449
1) i can't see a IterationStatus in javax.faces
2) we must also support 2.0 and 2.1

it wasn't my decision to add p:repeat, imo it should be fixed in mojarra since it works in myfaces.

[2016-05-25 07:50] Rapster commented on #1449
I don't wanna take too much time of you for this, but I'm still curious. If it has to be support in 2.0 and 2.1, why this dependency:

[code]

And this [link](http://www.grepcode.com/file/repo1.maven.org/maven2/org.glassfish/javax.faces/2.2.0/com/sun/faces/facelets/tag/IterationStatus.java/) shows `IterationsStatus` is present in `javax.faces-2.2.0.jar`

[2016-05-25 08:08] tandraschko commented on #1449
Check the package. It's still "com.sun.faces." and not javax.faces.
So it's only available in the mojarra jsf-api jar.

[2016-05-25 18:13] #721 closed, assigned to tandraschko

[2016-05-25 20:05] alainpannetier opened #1450 "TabMenuRenderer does not support containerStyle or containerStyleClass"
org.primefaces.component.tabmenu.TabMenuRenderer does not support containerStyle and containerStyleClass
Proposed patch:
### ```

[code]

[code]

[2016-05-25 21:23] Rapster commented on #1450
Either you have a `style` or a `styleClass` but not both, and I would suggest `styleClass` in that case. Anyway, I'm not sure about the relevance about these two options, but what about override `.ui-tabmenu-nav .ui-tabmenuitem`?

[2016-05-26 03:47] alainpannetier commented on #1450
Be thanked for your wise insights... I have a few comments though.
- There are plenty of cases when you might want both style and classes (like cascade priority). So I _can_ have both if I so wish.
- I'm talking about `containerStyle` and `containerStyleClass` (not `style` and `styleClass`), the formers apply to the `<li>`, the latters to the inner `<a>` element.
- I'm not discussing the respectiv

[2016-05-26 07:37] cagataycivici opened #1451 "Facelift for Tooltips"

[2016-05-26 07:51] #1451 closed, assigned to cagataycivici

[2016-05-26 13:21] gcretrogress opened #1452 "Checkbox tree node javascript issue"
I have a check box tree node, when a user selects a particular node, I prompt them with a confirmation dialog with Yes/Cancel buttons. When user submits cancel button I have an action listener in the managed bean that does node.setSelected(false). The tree gets refreshed correctly after the listener completes the action. However when I select some other node on the tree, the first/unselected node

[2016-05-27 08:52] andrei-ivanov opened #1453 "Calendar should support converters"
We're using Joda time in our app (we're also planning to switch to JSR 310 sometime soon), but the calendar renderer only accepts String or java.util.Date for date the attributes.

javax.faces.FacesException: Value could be either String or java.util.Date   at org.primefaces.component.calendar.CalendarUtils.getValueAsString(CalendarUtils.java:80)   at org.primefaces.component.calendar.CalendarRend

[2016-05-27 12:07] cagataycivici opened #1454 "New Grid CSS"
Reimplement Grid CSS to provide a flexible and easy to use api.

[2016-05-27 12:15] #1454 closed, assigned to cagataycivici

[2016-05-27 12:33] thdutra opened #1455 "org.primefaces.model.diagram.DefaultDiagramModel should be Serializable"
Other **org.primefaces.model** classes like **DefaultDashboardModel**, **DefaultScheduleModel**, **TreeTableModel** and **DualListModel** are all **Serializable**.

I think that **DefaultDiagramModel** should be also.

[2016-05-27 13:16] #1455 closed, assigned to tandraschko

[2016-05-27 13:27] thdutra commented on #1455
Thanks @tandraschko !

[2016-05-27 13:55] ckirbas commented on #1036
I second that. We need to add custom contents for itemLabels.

[2016-05-28 04:08] sudheerj commented on #1450
Actually these two attributes(containerStyle,containerStyleClass) available for menu,tiredmen,panelmenu etc menu components.It can be added to TabMenu component as well.

[2016-05-28 04:25] sudheerj commented on #1450
PR is created here https://github.com/primefaces/primefaces/pull/1456

[2016-05-29 14:59] mertsincan opened #1457 "moreText support to AutoComplete with columns"
Exp;

[code]

[2016-05-29 15:05] #1457 closed, assigned to nobody

[2016-05-29 18:10] Rapster opened #1458 "Documentation: Change p:clientBehavior to p:clientValidator"
Let me quote this _(section 7.3 of Primefaces documentation 5.3)_:

First, I think it is `p:clientValidator` instead of `p:clientBehavior`. Secondly, if I understand correctly the definition, and if I take [this example](http://www.primefaces.org/showcase/ui/csv/event.xhtml), since then I type one character, validation should occured and error appears, right? Well, in this example, validation does

[2016-05-30 05:46] JaviRpo opened #1459 "icon attribute for p:menuButton"
it would be good if the component p:menuButton had the icon attribute, so we can change the default icon and create it without label, only with icon

[2016-05-30 07:16] NoFr1ends opened #1460 "Diagram: Implement model attribute for draggable containment"
For the possibility to implement scrollable diagrams I need the configuration for containment.

Look [here](https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/diagram/diagram.js#L40)

[2016-05-30 09:15] tandraschko opened #1462 "generate PropertyKeys as public and reuse"

[2016-05-30 10:36] michael-las opened #1463 "paginator issue when updating lazy data table on filter event"
In PrimeFaces 5.1/5.3:

[code]
# Steps to reproduce
1. Open page
2. Filter 'otherTable' by brand
3. Paginator of 'otherTable' is identical to the paginator of 'table'

In this example it seems that the paginator just didn't update. If one uses different models, one can proof that statement 3 is correct. [UPDATE: One can proof it also by first setting a filter on 'table' and afterwards filter 'othe

[2016-05-30 10:46] tandraschko commented on #1458
The example works fine for me, the only weird thing is that there is no message

[2016-05-30 10:55] mtbadi39 opened #1464 "WidgetVar for p:panelMenu not available ! (PrimeFaces 6.0)"
[code]

With PrimeFaces 5.3 it works.
With PrimeFaces 6.0 doesn't work  :
In the console :

[code]

tested with RC 1, 2,3 and 4.

[2016-05-30 11:01] tandraschko opened #1465 "CSV doesn't evaluate default message for JSF validators"

[2016-05-30 11:01] tandraschko commented on #1458
It's an bug probably as the there is a default message evaluation on the client side. Will fix it:
https://github.com/primefaces/primefaces/issues/1465

[2016-05-30 11:20] tandraschko commented on #1465
My fail - p:message has display="icon" so the message is just rendered as icon tooltip.

[2016-05-30 11:20] #1465 closed, assigned to tandraschko

[2016-05-30 11:29] tandraschko commented on #1464
`<p:panelMenu widgetVar="myPanelMenu">
            <p:submenu label="Ajax Menuitems">
                <p:menuitem value="Save" actionListener="#{menuView.save}" icon="ui-icon-disk" />
                <p:menuitem value="Update" actionListener="#{menuView.update}"  icon="ui-icon-arrowrefresh-1-w" />
            </p:submenu>
        </p:panelMenu>
        <script>
            $(function() {

[2016-05-30 11:29] #1464 closed, assigned to tandraschko

[2016-05-30 11:35] Rapster commented on #1458
What about the error description I've made? Validation is done only once "onblur" event occured. While I'm expecting "instant" validation, like it is done in the same example with "Integer (Key up)". So, if I put only one character, validation should fail since there is a `<f:validateLength minimum="2" maximum="5" />` no?

[2016-05-30 11:41] diegoarantes opened #1466 "Theme of equal chart PrimeNG"
[http://www.primefaces.org/primeng/#/doughnutchart](http://www.primefaces.org/primeng/#/doughnutchart)

[2016-05-30 12:22] mtbadi39 commented on #1464
its works when i add

[code]

and stop working when i omit it.
is it JQuery related behavior ?

[2016-05-30 12:44] tandraschko commented on #1464
yep, as our widgets are initialized with document.ready, you also have to use it.

[2016-05-30 12:46] tandraschko commented on #1458
Our event is rendered with onchange. it's something related to the browser. Onchange is fired if you change the text and leave the input.

[2016-05-30 13:01] Rapster commented on #1458
Thank you @tandraschko for your explanation, it's not actually a bug, it does behave in the same way on all web browser and it's normal. Let me quote [from this](http://www.w3schools.com/jsref/event_onchange.asp):

Well, if you'd like to be compliant to the definition you gave to CSV. `oninput` should be used instead of `onchange`. In case, you do not agree with this, it still would be a good idea

[2016-05-30 15:00] Rapster commented on #1466
If you're expecting an answer, please make your title and description more understandable.

[2016-05-30 15:41] #1466 closed, assigned to nobody

[2016-05-30 15:42] tandraschko commented on #1463
Can you try 6.0 RC4?

[2016-05-30 16:19] diegoarantes commented on #1466
Leave the same Chars of the PrimeNG

[2016-05-30 19:58] michael-las commented on #1463
Done, affects 6.0 RC4, too.

[2016-05-31 08:33] Rapster commented on #1459
I'll make a PR for this

[2016-05-31 11:19] sudheerj commented on #1466
Please raise any issue related to PrimeNG in its own project

[2016-05-31 11:23] cagataycivici commented on #1466
I don't understand the issue here.

[2016-05-31 11:46] Rapster commented on #1466
I think he wants to replace actual primefaces (jqplot) charts with chart.js

[2016-05-31 12:08] diegoarantes commented on #1466
Yes correct!

[2016-05-31 12:13] mertsincan opened #1468 "globalTooltip support to Elements on Diagram"
Exp;

[code]

[2016-05-31 12:18] #1468 closed, assigned to nobody

[2016-05-31 14:00] Kalimero1976 opened #1469 "inputNumber update issue"
Hi,

p:inputNumber does not work when it's repeated in a p:dataTable and his "update" attribute has widgetVar reference to any component out of datatable.

Big issue... Any work around?

Help please!

[2016-05-31 14:10] tandraschko commented on #1469
Please use the forum first and provide a example. Most issues related "updare" are user failures.

[2016-05-31 14:10] #1469 closed, assigned to nobody

[2016-05-31 14:37] hatspencer opened #1470 "Terminal input does not get focus in IE11 after command submission"
Open [PrimeFaces ShowCase - Terminal](http://www.primefaces.org/showcase/ui/misc/terminal.xhtml) in IE11 and submit a command. The component loses focus. This works as intended in Firefox 46 and Chrome 50.

[2016-05-31 18:52] Rapster commented on #1459
PR is here #1471

[2016-05-31 19:40] mertsincan opened #1472 "columnFormat doesn't work as expected on Schedule"
Reported by PRO User;

[2016-05-31 19:41] JaviRpo commented on #1459
with this change, is it possible create the component  without label ?

[2016-05-31 19:47] #1472 closed, assigned to nobody

[2016-05-31 20:29] Rapster opened #1473 "MenuButton - "ui-button" displayed in case no value set"
If no value is explicitly set to MenuButton, then "ui-button" is displayed as value. At least icon should show up.

[2016-05-31 20:32] Rapster commented on #1473
PR is here #1471

[2016-05-31 20:32] Rapster commented on #1459
It's another problem that I just fixed #1471

[2016-05-31 20:46] pablosborges opened #1474 "bug on ie 11 not execute ajax request"
<p:commandButton id="btnAtualizarNoticia" value="Atualizar"
                    actionListener="#{portalBean.consultarNoticiasPorDia()}"
                    update=":formNoticias:noticias" process="@this" partialSubmit="true"
                    onerror="alert('oi');"
                    />

bug by pressing the button on console ie.
lock the flap and to return to work have to restart the browser o

[2016-05-31 22:18] Rapster commented on #1430
Your use case scenario is not valid, it does not work that way. First, it's by cliking on the radio label that associated radio button get set and has focus. It works correctly in the showcase. Secondly, in pure HTML, you'd have to define an accessKey for each button radio so you can get the behavior that I've just described. It means, `javax.faces.model.SelectItem` should support `accessKey` whic

[2016-05-31 23:38] michael-las commented on #1415
What's wrong with attribute 'first' of p:dataTable?

[2016-06-01 05:39] Karolis92 opened #1476 "multiple autoComplete resets to values from model after validation failure"
if `<p:autoComplete...>` is used with attributes `multiple="true"` and `required="true"` and user submits form after emptying this field (values was already populated then bean was initialized) - it shows required message as expected, but also reset's to old values from model (other fields if required stays empty)

[code]

JSF 2.2.13
PrimeFaces 5.3 (also reproduces on 6.0.RC4)
javax.faces.INTERPRE

[2016-06-01 05:46] cnsgithub commented on #1415
the first attribute doesn't specify the page, but the first row i think, so some calculations have to be done to determine the page, also i think it had some problems with filtering and if the filterValue is "remembered" it doesnt work in combination with it. (e.g. user had filtered for "smith" then clicks on page4), you restore it with first + filterValue from bean -> it doesnt work / isnt in syn

[2016-06-01 06:14] cnsgithub opened #1477 "Sort and Filter does not work when lazy=true is used for p:datatable"
The control is there, but nothing happens if pressed on it.

I dont know how this should be solved, as full sorting is not possible if data is fetched lazily.

Ideas/Possible solutions:
- remove sorting/filtering when lazy is used (don't render the control even if specified)
- sort only the currently visible datasets
- if sorting is used, all data is fetched on backend to provide a server side way

[2016-06-01 06:17] Karolis92 opened #1478 "multiple autoComplete with dropdown display bug"
Then `<p:autoComplete...>` is used with `multiple="true"` and `dropdown="true"`, dropdown button is displayed below input field, not by side:
![dd_bug](https://cloud.githubusercontent.com/assets/19680461/15699804/96ffce76-27d8-11e6-883a-539ac5393457.JPG)
![dd_bug_2](https://cloud.githubusercontent.com/assets/19680461/15699932/7aa9f804-27d9-11e6-9e93-53b04c1a576f.JPG)

Reproduced on:
- JSF 2.2.13
-

[2016-06-01 07:59] tandraschko commented on #1474
Does it work fine e.g. in the showcase? If yes, please provide a sample maven / jetty application.

[2016-06-01 08:40] michael-las commented on #1415
Yes, according to the documentation, 'first' is the index of the first row to be displayed. From what I've seen, the component automatically displays the corresponding page. Since the row index is more accurate than the page index, it gives greater flexibility, e. g. one can use 'first' with tables having no paginator. Having both, 'first' and 'activePageIx' attributes, is not a good idea since th

[2016-06-01 08:49] Rapster commented on #1478
I'd recommend to check your own css style, and see what "class selector" might do this

[2016-06-01 08:55] tandraschko commented on #1478
It also occurs in the showcase if you set dropdown=true to the multiple example.
Feel free to provide a PR.

[2016-06-01 09:04] Rapster commented on #1478
I think it's due to `.ui-autocomplete-multiple-container` which has a `width: 400px`

[2016-06-01 09:31] michael-las commented on #1477
Do you mean something other than LazyDataModel already provides?

[2016-06-01 09:46] #1370 closed, assigned to tandraschko

[2016-06-01 09:46] #1367 closed, assigned to tandraschko

[2016-06-01 09:47] #1376 closed, assigned to tandraschko

[2016-06-01 09:48] tandraschko commented on #1458
You can use another event, it's up to you. The default is onchange.

[2016-06-01 09:49] #109 closed, assigned to tandraschko

[2016-06-01 09:50] tandraschko commented on #109
Thanks for testing!

[2016-06-01 09:52] Rapster commented on #1458
where can I change that?

[2016-06-01 09:55] tandraschko opened #1479 "Possible NPE in PrimeExceptionHandler on Glassfish"

[2016-06-01 09:55] #1479 closed, assigned to tandraschko

[2016-06-01 09:56] gbrinkmann commented on #1415
Ok, for me the topic is just an "automatic restauration of the current dataTable page".

So for me it is not relevant if this could result in an "activePageIndex" or an "activeFirstIndex" or an "activeRowIndex".

The behaviour should just be like when using "activeTabIndex" for tabView: You return to a dataTable browser page and your (correctly scoped) bean member defines the page to be shown with

[2016-06-01 10:00] tandraschko commented on #1458
check the example, there are 2 cases with different events.

[2016-06-01 10:31] Karolis92 commented on #1478
floating `ui-autocomplete-multiple-container` to the left puts button inline, but on top of input field, so sometimes there is no way to pres `x` to remove element

[2016-06-01 12:03] pablosborges commented on #1474
**_see the code snippet to display the error_**

[code]

[code]

the menu is dynamically loaded.

my menu has many items and internet explorer it takes a while to load.

if I take the menu of code works correctly.

otherwise, the following error and issued in the browser internet explorer the component log Primefaces

01/06/2016 08: 59: 47: Post Data:javax.faces.partial.ajax=true&javax.faces.sourc

[2016-06-01 12:08] michael-las commented on #1415
Try the following:
1. introduce a rowIndex property (int) in your bean.
2. include a viewParam in your page, e. g.
  `<f:metadata><f:viewParam name="ix" value="#{bean.rowIndex}" /></f:metadata>`
3. use the first parameter in your dataTable and set the number of rows per page to 10, e. g.
`<p:dataTable rows="10" first="#{bean.rowIndex}" ... />`
4. open your page with query parameter ?ix=20
5. dataT

[2016-06-01 12:15] gbrinkmann commented on #1415
Ok, thank you very much for a smart workaround, I'll test it.
On the other hand an automatic handling just like "activeTabIndex" would be nice, wouldn't it? :-)

[2016-06-01 12:21] cnsgithub commented on #1474
FYI: your code isn't complete / doesn't compile.

[2016-06-01 12:22] michael-las commented on #1415
It's like activeTabIndex: activeTabIndex="#{bean.tabIndex}" vs. first="#{bean.rowIndex}". No difference, here. I included the viewParam above only to be able to open the page with parameter "ix=". You don't need to use a viewParam at all.

[2016-06-01 12:28] pablosborges commented on #1474
cnsgithub add the get and set methods and imports

[2016-06-01 12:28] cnsgithub commented on #1415
Anyway a possibility to restore the datatable to it's exact stage including:  filterBy values, sortBy order, and page is very desirable. And it should work after ajax request & update on table too.

[2016-06-01 12:36] cnsgithub commented on #1474
News class and a method is missing. If you want others to help you don't make them do work. Examples should be really only copy+paste ;-)

[2016-06-01 12:37] Karolis92 commented on #1478
PR is here #1480

[2016-06-01 12:38] michael-las commented on #1415
Absolutely.

[2016-06-01 12:48] pablosborges commented on #1474
I'm sorry, what's missing for you to perform?

[2016-06-01 13:39] gbrinkmann commented on #1415
Ok, thank you both.
Strange thing: The workaround doesn't work for me.
No urgent need to fix it, no showstopper, just in case you're interested:
I'm passing the member as a composite parameter and use it as "first="#{cc.attrs.first}"" (3 tabs in a tabview each contain a dataTable from a custom xhtml composite, separate form per dataTable). The bean is session scoped and holds the 3 "first" members

[2016-06-01 14:07] mertsincan opened #1481 "Arrow keys inside inputfield have no effect on Calendar with mask"
Reported by Pro User;

[2016-06-01 14:18] #1481 closed, assigned to nobody

[2016-06-01 14:29] michael-las commented on #1415
I've attached an archive that contains one Java file and one XHTML file. Could you please try it with them?

[dttest.zip](https://github.com/primefaces/primefaces/files/293618/dttest.zip)

[2016-06-01 18:32] tandraschko commented on #1463
Not sure if it's the right way to fix it actually.
Does both tables add "totalRecords" via RequestContext or what happens? I believe the client side should be correct, just the second table shoudln't add "setTotalRecords" as it isn't the request source.

[2016-06-01 19:05] tandraschko commented on #1463
Yup, that was the issue.
Fixed the same for DataGrid and DataList. This will probably fix other issues related to paginator.

[2016-06-01 19:05] #1463 closed, assigned to tandraschko

[2016-06-01 19:49] tandraschko commented on #417
Fixed by #721

[2016-06-01 19:49] #417 closed, assigned to tandraschko

[2016-06-01 20:27] xKopax opened #1482 "Migrate TriStateCheckbox component to PrimeFaces"
This component from PrimeExtension is very usefull, it'd be nice to have it on the main Prime.
http://www.primefaces.org/showcase-ext/views/triStateCheckbox.jsf;jsessionid=gu1adcu06srum8z07meuf48

[2016-06-01 21:59] Rapster commented on #1297
PR is here #1471

[2016-06-02 05:00] smarkm opened #1483 "Is that the themes can not download from maven ?"
Is that the themes can not download from maven ?

[2016-06-02 05:09] JaviRpo opened #1484 "any active tab for p:accordionPanel"
it would be good if the component p:accordionPanel had no active tabs after creation.

Exist the attribute activeIndex for indicate tabs active when the component was created, but not some attribute for indicate there is no active tabs

[2016-06-02 05:36] Rapster commented on #1483
There you go: http://www.mkyong.com/jsf2/primefaces/changing-theme-in-primefaces/

[2016-06-02 05:36] Karolis92 commented on #1476
OK, so done same more tests and problem seems to be not only required, but all validation cases.
If any validation fails - values are set back to last correct  values.

Simple test code:
- validator:

[code]
- bean snippet:

[code]
- xhtml snippet:

[code]

Problem seems to be code in `AutoCompleteRenderer` class `encodeMultipleMarkup` method:

[code]

it doesn't even try to get submitted values,

[2016-06-02 05:36] smarkm commented on #1484
@JaviRpo you may set activeIndex="-1"

[2016-06-02 05:39] smarkm commented on #1483
thanks @Rapster

[2016-06-02 05:40] #1483 closed, assigned to nobody

[2016-06-02 05:45] Karolis92 commented on #1483
also: http://www.primefaces.org/themes
Scroll down to "Installation" part

mkyong's approach seems strange because he uses `prime-repo`

[2016-06-02 06:21] smarkm commented on #1483
@Karolis92  yes. but the "[http://www.primefaces.org/themes](http://www.primefaces.org/themes)" info rmation is invalid [http://mvnrepository.com/search?q=primefaces](http://mvnrepository.com/search?q=primefaces) ,extensions themes can used only version 1.0.8

[2016-06-02 07:13] tandraschko commented on #1482
Will close it for now, we already discuss it internally when which component will be migrated.

[2016-06-02 07:13] #1482 closed, assigned to tandraschko

[2016-06-02 07:14] tandraschko commented on #1483
next time use the forum, here is the issue tracker which is not for questions.

[2016-06-02 07:15] mtbadi39 commented on #1483
To your **pom** add :
1) PrimeFaces Maven Repository :

[code]

2) Themes jar as dependency

[code]

2) Activate the desired theme in your web.xml :

[code]

@tandraschko :+1: your are right !

[2016-06-02 07:27] frkmed commented on #1230
Hello markusg80, any solution for that issue

[2016-06-02 08:09] mertsincan opened #1485 "Submenu inside toggleable Menu not toggling properly"
Reported by Pro User;

[code]

[2016-06-02 08:12] #1485 closed, assigned to nobody

[2016-06-02 10:45] gbrinkmann commented on #1415
Thank you, it works and I've identified my coding mistake (resetting the member value).

[2016-06-02 11:19] michael-las commented on #1415
Fine.

[2016-06-02 12:04] Karolis92 commented on #1476
tried to fix the problem in PR #1486, now it redraws input from submitted value if validation failed and values are not set to the component and backing bean

[2016-06-02 12:16] xKopax commented on #1482
oh, sorry xD

do you have a roadmap for the migration?

thanks for the amazing work on Prime =)

[2016-06-02 12:47] mertsincan opened #1487 "Dialog Framework support to moreText event on AutoComplete"
Exp;

[code]

[2016-06-02 12:47] #1487 closed, assigned to nobody

[2016-06-02 18:02] JaviRpo commented on #1484
thanks it works perfectly

[2016-06-02 18:02] #1484 closed, assigned to nobody

[2016-06-02 22:14] diegoarantes opened #1488 "Replace all icons for Font Awesome"
Replace all of the default theme icons for Font Awesome. Like the PrimeNG.

**PrimeFaces (No Font Awesome icons)**
![capturar1](https://cloud.githubusercontent.com/assets/5193643/15762777/10cd8a54-28f6-11e6-911b-a0b1d8dfc415.PNG)
**PrimeNG (Font Awesome icons)**
![capturar2](https://cloud.githubusercontent.com/assets/5193643/15762792/2402ef2e-28f6-11e6-9d95-5c2620e30723.PNG)

[2016-06-03 06:48] mertsincan commented on #244
Because, we provide width:100% and box-sizing:border-box; with .ui-fluid. If you want to use 100% on width of a component(support responsive feature), you can add ui-fluid class into parent tag or component. Exp;

[code]

[2016-06-03 08:03] mertsincan opened #1489 "Unable to edit same cell after setting saveOnCellBlur="false" on DataTable with cell edit"
Reported by PRO user;

[2016-06-03 08:09] #1489 closed, assigned to nobody

[2016-06-03 10:38] michael-las commented on #1433
Isn't this just to include the rowKey in equals?

[2016-06-04 08:09] cagataycivici commented on #1488
I wish but we rather not as it is a core change and will be break things due to backward compatibility. Premium themes override them with svg icons by the way.

[2016-06-04 08:09] #1488 closed, assigned to nobody

[2016-06-04 08:36] cagataycivici commented on #1428
InputNumber is new in 6.0 already so no need to create issue for new attributes.

[2016-06-04 11:53] michael-las opened #1490 "Incorrect behavior of accordion's activeIndex in multiple mode"
This is an extended version of #639 and related to #1484.

Affected version: Primefaces 6.0 SNAPSHOT
### Overall description

According to the documentation, a comma separated list of indices of the (currently) active tabs is expected to be available by attribute 'activeIndex' when multiple mode is on. This holds true only under certain conditions.
### Steps to reproduce
1. Open the view given by

[2016-06-04 13:33] djmj opened #1491 "Allow custom icon in fieldset"
When fieldset is not toggleable, allow custom icon in fieldset. It is nice to use a icon to visualize the content.

Like using a map-marker when content of field set shows address.

[2016-06-04 16:49] diegoarantes opened #1492 "Add chart.js charts"
Add graficos chats.js instead of jqplot.

[2016-06-04 17:10] Rapster commented on #1458
I can't get it working by doing this `<p:clientValidator event="oninput"/>` or `<p:clientValidator event="input"/>`. I can see clearly that "oninput" html attribute is not generated

[2016-06-04 17:22] Rapster commented on #1492
Similar to #1466

[2016-06-04 17:45] tandraschko commented on #1458
feel free to create a feature request ;)

[2016-06-04 23:53] michael-las commented on #1490
Could provide a fix for this issue but need to know if the documentation shall be taken literally. That is, if 'activeIndex' is intended to be an empty string (empty list) when all tabs are closed, or a list that consists of a single "-1".

[2016-06-05 07:30] Rapster commented on #1458
I'll make a PR ;)

[2016-06-05 09:12] mdaehnert commented on #1395
I'm sorry; I addressed two issues in one cryptic post. Let me be more concrete:
1. There are wrong parameters for calls of jQueries methods #slideDown, #fadeIn, #show as well as #slideUp, #fadeOut and #hide
2. PrimeFaces methods #toggle, #show and #hide can be enhanced with jQueries used parameters.

**# 1.**
I created a pull request for fixing the issue, that PrimeFaces gives jQuery an unused par

[2016-06-05 10:38] cagataycivici commented on #1458
Doc fixed.

[2016-06-05 10:38] #1458 closed, assigned to cagataycivici

[2016-06-05 10:39] cagataycivici commented on #1373
Done.

[2016-06-05 10:39] #1373 closed, assigned to cagataycivici

[2016-06-05 10:39] cagataycivici commented on #1354
Done.

[2016-06-05 10:39] #1354 closed, assigned to cagataycivici

[2016-06-05 10:39] cagataycivici commented on #1333
Done.

[2016-06-05 10:39] #1333 closed, assigned to cagataycivici

[2016-06-05 10:41] cagataycivici commented on #1300
Done, thanks.

[2016-06-05 10:41] #1300 closed, assigned to cagataycivici

[2016-06-05 10:42] cagataycivici commented on #1276
Done, thanks.

[2016-06-05 10:42] #1276 closed, assigned to cagataycivici

[2016-06-05 10:43] #1096 closed, assigned to cagataycivici

[2016-06-05 10:44] #1147 closed, assigned to cagataycivici

[2016-06-05 10:44] #1046 closed, assigned to nobody

[2016-06-05 10:45] #724 closed, assigned to cagataycivici

[2016-06-05 10:46] cagataycivici commented on #929
Should be fixed via p:repeat.

[2016-06-05 10:46] #929 closed, assigned to melloware

[2016-06-05 10:47] #944 closed, assigned to cagataycivici

[2016-06-05 10:48] cagataycivici commented on #1466
But all the chart models have been written for jqplot. This will break backward compatibility. We've already rewritten them and would like to avoid rewrite everytime a new charting lib comes out.

[2016-06-05 10:50] cagataycivici commented on #968
Done.

[2016-06-05 10:50] #968 closed, assigned to cagataycivici

[2016-06-05 10:52] #1079 closed, assigned to cagataycivici

[2016-06-05 10:54] #1278 closed, assigned to nobody

[2016-06-05 10:56] Rapster commented on #1466
I do understand the request as chart.js looks way more fancy, and I do understand your point @cagataycivici. I don't know much about these two projects, but it seems that chart.js is getting more attention than jplot. Perhaps today, it's not necessary to migrate to jqplot, but in the future, probably worth to think of it

[2016-06-05 10:58] tandraschko commented on #1409
Feel free to come back if they fixed and released it.

[2016-06-05 10:58] #1409 closed, assigned to nobody

[2016-06-05 14:20] Rapster commented on #1462
`DEFAULT_RENDERER` generated attribute could have public scope as well. It is `static final`, there is no reason hide it

[2016-06-05 17:18] tandraschko commented on #1462
#1342 ;)

[2016-06-05 17:56] Rapster opened #1493 "ClientValidator should support "oninput" event and probably many other"
I wrote a fix for that. The issue comes from `HtmlInputText.getEventNames()` which does not include `input` event name, it does not support much actually... I had to override `InputText.getEventNames` to fix this issue. I really like this feature as it's really reactive and know client asking for instant validation.

Here is the list of event names supported: http://www.w3schools.com/tags/ref_even

[2016-06-05 19:45] #1062 closed, assigned to cagataycivici

[2016-06-05 19:47] #1022 closed, assigned to cagataycivici

[2016-06-05 19:48] #1084 closed, assigned to cagataycivici

[2016-06-05 19:48] #1203 closed, assigned to cagataycivici

[2016-06-05 19:49] #1003 closed, assigned to cagataycivici

[2016-06-05 19:50] #997 closed, assigned to cagataycivici

[2016-06-05 19:58] #1267 closed, assigned to cagataycivici

[2016-06-05 20:03] #1146 closed, assigned to cagataycivici

[2016-06-06 06:58] sudheerj commented on #1491
Actually when the fieldset is not toggleable I didn't see the advantage of having custom icon for field set.May be few example sites will give the clarification.

[2016-06-06 11:18] diegoarantes commented on #1492
Similar to #1466

[2016-06-06 11:18] #1492 closed, assigned to nobody

[2016-06-06 11:29] djmj commented on #1491
Its just for styling purpose. Example: http://fs5.directupload.net/images/160606/xk4cjucf.jpg

[2016-06-06 17:20] tandraschko commented on #1493
We might fix it but it would be the best if you create a spec issue and ping them via mailing list. It should go in 2.3.

[2016-06-06 19:57] JaviRpo opened #1494 "Add implicit converter fot p:autocomplete when the value is a SelectItem object"
Add implicit converter for p:autocomplete when the value is a SelectItem object similar to SelectOneMenu component when the list values are a SelectItem list

![image](https://cloud.githubusercontent.com/assets/8562436/15840472/9dc87042-2c0f-11e6-9b92-5b45e2d18c97.png)

[2016-06-06 21:16] JaviRpo opened #1495 "Add unique attribute to p:autocomplete"
When an item is already selected in p:autocomplete, it would be very good if the result query search remove/omit these values

![image](https://cloud.githubusercontent.com/assets/8562436/15838041/bddf3a4a-2c01-11e6-8090-f246b7b73049.png)

the idea is not to have repeated values

![image](https://cloud.githubusercontent.com/assets/8562436/15838078/dc0de23c-2c01-11e6-919d-5d83fe4d15cb.png)

[2016-06-07 05:45] szym1991 opened #1496 "Tree: dynamic tree in external xhtml does not expand nodes"
I have problem with Tree component. I want to use it by call includeFacelet method from FaceletContext and put external xhtml file with tree. Tree is loading properly but when I click no node o expand i doesn't work.

It's fully example of code:
index.xhtml:

[code]

Example backend bean:

[code]

test.xhtml:

[code]

After click to expand any node this error is occured:

When Tree Component has n

[2016-06-07 07:26] tandraschko commented on #1066
can you see the "Milestone" in this ticket? it's on the right side ;)

[2016-06-07 07:54] sorvant commented on #1433
I think the modification fixes the issue. Thanks a lot!

[2016-06-07 08:59] tandraschko opened #1497 "[Documentation] add Lifecycle component"
http://www.primefaces.org/showcase/ui/misc/lifecycle.xhtml

[2016-06-07 10:15] mertsincan opened #1498 "CSV support to inputNumber"

[2016-06-07 10:17] #1498 closed, assigned to nobody

[2016-06-07 10:27] tandraschko commented on #1493
For the spec: https://java.net/jira/browse/JAVASERVERFACES_SPEC_PUBLIC-1419

[2016-06-07 10:39] Karolis92 opened #1499 "DataTable: saving edited row after reorder (drag n' drop) updates wrong row"
When `p:dataTable` is used with attributes `draggableRows="true"` and `editable="true"` and user tries to reorder row by dragging it when row is in editing mode - after saving, row in old position gets changed, and not the dragged one.

Strangely `event.getObject()` on `rowEdit` event returns correct Object (dragged one), which is unedited, because values are overwritten to Object in old position.

[2016-06-07 12:01] michael-las commented on #1433
Thanks for the feedback. Provided PR #1500.

[2016-06-07 15:06] wfsaxton opened #1501 "DataTable: Support custom p:column ordering"
p:dataTable displays p:column's in the order in which they are placed within the Facelets file.  I'm requesting that p:dataTable be enhanced to support custom ordering, similar to ICEfaces ace:dataTable, columnOrdering attribute.

http://res.icesoft.org/docs/v4_latest/ace/tld/ace/dataTable.html

Each p:column in the dataTable has a column index corresponding to the order in which it appears in the

[2016-06-07 18:09] pablosborges opened #1502 "add scroll functionality in MenuBar component."
in a menu that has several items, today Primefaces does not enable scrool, cutting items.

[2016-06-07 18:32] michael-las commented on #1491
Just use the legend facet, e. g.

[code]

[2016-06-07 19:44] jxmai opened #1503 "Primefaces 6.0 - Primefaces Extension Ck editor stops working"
The following code running on Primefaces 5.3.x:

[code]

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/15872276/246e534c-2cbe-11e6-8ab9-b76ee8a66ca0.png)

In primefaces 6.0:

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/15872299/4929bbfe-2cbe-11e6-9d54-44d7e08c3187.png)

[2016-06-07 19:47] tandraschko commented on #1503
Extensions is currently not compatible with 6.0, a new release of extensions will follow.

[2016-06-07 19:47] #1503 closed, assigned to nobody

[2016-06-07 19:48] jxmai opened #1504 "Primefaces 6.0 - Primefaces Extension Analog Clock stops working"
Code works fine under primefaces 5.3.x:

[code]

**_But in primefaces 6.0**_:

![snapshot2](https://cloud.githubusercontent.com/assets/10467831/15872381/ca9990e2-2cbe-11e6-9f2c-137b422f2304.png)

Stack trace:

[code]

[2016-06-07 19:51] tandraschko commented on #1504
Extensions is currently not compatible with 6.0, a new release of extensions will follow.

[2016-06-07 19:51] #1504 closed, assigned to nobody

[2016-06-07 19:59] jxmai commented on #1503
Ok, thanks for the fast response. :+1:

[2016-06-07 21:21] Rapster commented on #1493
Thank you @tandraschko I guess it's gonna take some time before we see that feature coming. I would've put this link http://www.w3schools.com/tags/ref_eventattributes.asp as it looks more complete and "formal"

[2016-06-07 21:27] Rapster commented on #1430
What do you think @tandraschko? Does it require to open a ticket in Mojarra issue tracker like you did for #1493 ?

[2016-06-08 06:24] Karolis92 commented on #1499
Found out, that there is simpler way to reproduce this issue, dragging not in edit mode also causes problems:
1. reorder table row by dragging it
2. then edit that row
3. row in old position gets changed, and not the dragged one.

[2016-06-08 07:07] mertsincan opened #1505 "Hidden series on Chart are displayed in exported image"
Reported by PRO User;

[2016-06-08 07:14] #1505 closed, assigned to nobody

[2016-06-08 09:15] DogukanZengin opened #1506 "Primefaces 6 Calendar Bug"
[code]

Calendar with these attributes is throwing javascript error :

[2016-06-08 10:12] mertsincan commented on #1506
I couldn't replicate this issue. Can you please attach a sample maven project or xhtml page with your locale values for us to replicate?
Primefaces Locales;
https://github.com/primefaces/primefaces/wiki/Locales

My Screenshot;
![calendartest](https://cloud.githubusercontent.com/assets/11868120/15890899/983b8fa8-2d7a-11e6-9d74-c26e391aff65.PNG)

[2016-06-08 11:15] hatemalimam commented on #539
Can you mention the version number please ?

[2016-06-08 12:03] eduardogiorgio opened #1507 "is posible not encapsulate element in tabview?"
## An example of page

[code]
## I would like to leave the code in this way , it is possible this?

[code]

[2016-06-08 12:06] DogukanZengin commented on #1506
I replicated the issue with a sample maven project. But I need to mention that we are using Spark theme for the application and it seems this is a theme based issue. Do you want me to upload the proect anyway, I asked because spark is a licensed theme.

And I think it is not calendar causing that issue. Calendar is throwing another error. You need to put `showOn="button"` attribute to replicate th

[2016-06-08 15:38] michael-las commented on #1499
I guess it has to do with the client id of the row. It won't change after the row was dropped onto a new position. The row-edit ajax-request addresses the row by its index. Therefore the correct row will be updated in the model (event.getObject()) but the response will contain the new client id of the row so that the wrong row will be replaced in the DOM.

E. g.

| Index | Client ID | Brand | Colo

[2016-06-08 19:14] Karolis92 commented on #1499
No, it's not only the response and redrawing.

When Toyota is edited, edit request goes for the index 2 of the list, and in the list as index 2 there is Mercedes (now after reorder), so it's edited,
ClientId's for the input remain the same after reorder, so Toyota color input has id: `cars:2:colorInput` (now Mercedes) etc.

[2016-06-08 19:28] devPro231014M2S1PJ opened #1508 "[primefaces 5.3] Selection row in datatable is deleted after returning from search filtering"
[primefaces 5.3] Selection row in datatable is deleted after returning from search filtering

[2016-06-08 23:30] michael-las commented on #1499
You're right, I forgot about the ajax request lifecycle. I assume, that the client ids will be used there. Since they're different between view and model, the wrong object will be updated. For the row edit event, the rowEditIndex will be used, so that it contains the moved (but unchanged) object.

Anyway, the problem is that the client ids won't get updated after a row is dragged.

[2016-06-09 07:16] krazun opened #1509 "PrimeFaces 6.0 Modena Bug: primefaces.css/js not found"
With PrimeFaces 6.0 there seems to be a problem with the Modena Layout:

`Unable to find resource primefaces, primefaces.css
Unable to find resource primefaces, primefaces.js`

The problem only appears when using the modena menu component

[2016-06-09 11:37] michael-las commented on #1499
@tandraschko (@cagataycivici, or any other project member): what do you think of the following approach:
1. encode the DraggableRowsFeature, so that all rows between fromIndex and toIndex will be encoded
2. update the DOM by the encoded rows.
3. because of 2: disable drag while row editing is active.

[2016-06-09 12:35] mertsincan commented on #1509
Fixed for next releases. Github issue; https://github.com/primefaces/layouts/issues/87

[2016-06-09 12:35] #1509 closed, assigned to nobody

[2016-06-09 12:44] mertsincan commented on #1506
Did you try without Spark theme? Because, we have some fixes for backward compatibility on all Premium Layouts and Themes;
https://github.com/primefaces/layouts/issues/87

[2016-06-09 13:08] xKopax commented on #1508
Are you using lazyload?

[2016-06-09 13:40] DogukanZengin commented on #1506
There is no problem with the default theme. But when Spark is applied, the issue comes up again. It seems we'll have to wait for the next release to migrate to version 6.0.

Thanks

[2016-06-09 13:51] mertsincan commented on #1506
Thanks for your understanding! I think this issue is resolved on next release.

[2016-06-09 15:57] firsthour opened #1511 "Set mime type correctly for XLSX files"
Overrides ExcelXExport's writeExcelToResponse method with the only change being correcting the mime type in the setResponseContentType() call. The problem was if you set a p:dataExporter's type to "xlsx", the browser would see the file correctly as a .xlsx file but then send the file to Excel as a filename.xlsx.xls file.

This seems like it's only a problem for Firefox (I'm using version 46.0.1) a

[2016-06-09 16:44] DariusBaniunas commented on #1370
The problem still exists but now I have done more debugging and found a very interesting situation

The problem is not in the dialog itself but one element in it

I open dialog:
public String externalProcessOrderDialog(Long partId) {
        log.debug("external sale order dialog=" + partId);
        RequestContext.getCurrentInstance().openDialog("viewExternalProcessOrder", getDialogOptions(), getD

[2016-06-09 17:10] Karolis92 commented on #1370
as @tandraschko said - try including `core.js` into the view.
As you can see here: https://github.com/primefaces/primefaces/wiki/Migration-Guide js libraries have changed since 5.3

[2016-06-09 17:22] markusg80 commented on #1230
At the moment i doesn't see a solution because until now i not do debuging inside primefaces. Maybe when i find time i can try to find the reason of the issue

[2016-06-09 20:32] tandraschko commented on #1498
didn't you fixed this in trunk?

[2016-06-10 00:49] mertsincan commented on #1498
No, after 6.0.RC4 release, I didn't add anything. I'll add this fix to 6.0.x.

[2016-06-10 09:17] lalib commented on #1506
Hi there,

We're having the same issue in the company. When will you release next version?

[2016-06-10 10:39] mohsen opened #1513 "Zero height for p:tabView when dir="rtl" is specified"
There is a breaking change with PF 6.0. Adding `dir="rtl"` to tab view (which was the recommended way of making components bidirectional) component causes zero height for tab items (ul element). Removing dir=rtl fixes this issue.

[2016-06-10 14:32] alarive opened #1514 "Enable the use of p:ajax for the p:ribbon component"
p:ribbon does not allow the use of p:ajax because it does not implement ClientBehaviorHolder. It is a bit strange because p:ribbon seems to share a lot of functionnality with p:tabView, and p:tabView allows p:ajax

[2016-06-10 21:05] #1342 closed, assigned to tandraschko

[2016-06-11 09:04] #1462 closed, assigned to tandraschko

[2016-06-11 09:15] tandraschko commented on #1511
Thanks for the PR but i fixed a little bit different.

[2016-06-11 09:15] #1511 closed, assigned to tandraschko

[2016-06-11 09:17] #1459 closed, assigned to tandraschko

[2016-06-11 09:17] #1473 closed, assigned to tandraschko

[2016-06-11 09:28] #1460 closed, assigned to tandraschko

[2016-06-11 09:31] #1450 closed, assigned to tandraschko

[2016-06-11 20:52] victorcarvalhosp commented on #433
We need this option too... All of our customers click ENTER and think something is wrong...

[2016-06-12 18:17] SavchenkoVV opened #1515 "p:messages and p:fileUpload in one form crash js client validation"
Simple form:

[code]

If validateClient="true" then js crash - Uncaught TypeError: Cannot read property 'indexOf' of undefined on validation.js.xhtml?ln=primefaces&v=6.1-SNAPSHOT:806

Сause: line 805
var uiMessagesAll = container.is('div.ui-messages') ? container : container.find('div.ui-messages') Found 2 items 'div.ui-messages' -  in p:messages and in p:fileUpload

![snapshot87](https://cloud.gi

[2016-06-13 00:23] JaviRpo opened #1516 "Only icon functionality on p:menuButton"
Only icon finctionality on p:menuButton

[2016-06-13 00:26] JaviRpo opened #1517 "Counter actual characters in p:inputTextarea"
Counter actual characters in p:inputTextarea similar to remaining characters but this count actual characters in component

[2016-06-13 04:47] JaviRpo opened #1518 "p:autocomplete can delete item when this is disabled"
I have an autocomplete component with attribute multiple="true", so when the component is disabled="true", the inside items can be deleted with X icon

[2016-06-13 06:40] mertsincan opened #1519 "Unable to set maxValue > 15 digits for inputNumber"
Reported by PRO User;

[2016-06-13 06:58] #1519 closed, assigned to nobody

[2016-06-13 08:32] Rapster commented on #1518
PR is here #1572

[2016-06-13 08:45] Rapster commented on #1516
You already open a discussion for this #1459 and it has been fixed

[2016-06-13 08:47] #1516 closed, assigned to nobody

[2016-06-13 09:21] Rapster commented on #1495
I do agree with this, in this example https://select2.github.io/examples.html#disabled, selecting the same element will remove it from the input

[2016-06-13 09:45] Rapster commented on #1193
It is supported actually, see http://www.primefaces.org/showcase/ui/multimedia/media.xhtml which generates `object` html5 tag

[2016-06-13 12:21] firsthour commented on #1511
No problem, glad I could bring this to your attention!

[2016-06-13 12:25] mertsincan opened #1521 "Add nextDayThreshold attribute to Schedule"
Details;
http://fullcalendar.io/docs/event_rendering/nextDayThreshold/

[2016-06-13 12:36] #1521 closed, assigned to nobody

[2016-06-13 13:19] sourour commented on #1446
Hi,
I try to use new version 6.0 but same issue .Please,you have an idea? how much time to fix this item.

Thanks.

[2016-06-13 15:27] michael-las commented on #1513
provided PR #1522

[2016-06-13 15:30] michael-las commented on #1230
provided PR #1512

[2016-06-13 15:32] JaviRpo commented on #1459
i had opened the issue #1516 because i had understood that the only icon functionality has not been resolved, and i didn't see that in the code but it was my mistake

[2016-06-13 19:44] tandraschko commented on #1493
Would be great if you could ping them on the mailing list, it's a quite important feature regaring HTML5 compatibility.

[2016-06-13 23:09] michael-las commented on #1517
The commit introduces another parameter for counterTemplate, so that the current character count may be referenced by {1}, e. g

[code]

Is this approach OK? If so, I'd provide a PR.

[2016-06-13 23:58] JaviRpo commented on #1517
That looks excellent.

Could this work without the parameter maxlength and {1} parameter in template? Only for progressive counting without remaining counting

[2016-06-14 04:16] rajsinhak opened #1523 "Primeface v6.0 seems to missing primeface.js and primeface.csss"
I just upgraded the primeface version from v5.0.3 to v6.0 , but it through an warning stating that
Warning:   JSF1064: Unable to find or serve resource, primefaces.css, from library, primefaces.
Warning:   JSF1064: Unable to find or serve resource, primefaces.js, from library, primefaces.

Since i have growl to display message, these warning comes up on the page which is not good. i also tried to

[2016-06-14 04:19] Karolis92 commented on #1523
There is no primefaces.js anymore.
Read "5.3 to 6.0" on https://github.com/primefaces/primefaces/wiki/Migration-Guide

[2016-06-14 04:50] rajsinhak commented on #1523
Thanks Karolis .
 Although i was not importing the primeface.js and primeface.css into the application, it still gives the warning . Actually i missed to upgrade the primeface extension version and do the necessary component migration from extension to core library .

[2016-06-14 06:34] #1523 closed, assigned to nobody

[2016-06-14 06:46] michael-las commented on #1517
The commit should do it; additionally, {2} now references a given maxlength (produces 0 if none is given).

[2016-06-14 07:28] Rapster commented on #1493
What do you mean by pinging them? It's not surprising that JSF or JEE loosing popularity (https://javaee-guardians.io/lack-of-java-ee-8-progress/). We were talking about this with my colleagues due to recent Oracle announcement. Go to some oracle website or this one https://javaserverfaces-spec-public.java.net/ and look how corporate it is. People don't feel confortable about this as it looks depr

[2016-06-14 08:03] tandraschko commented on #1493
pinging them = writing on the mailing list that it's important for you.
Yes, the whole apache and many other open source projects uses mailing lists and there is nothing wrong about it.

[2016-06-14 14:13] husnutapan commented on #767
https://github.com/primefaces/primefaces/commit/1f7d8190743bc6ce94b3dba3feded6b340aa6ffa
you can review this fix and and use as

`<p:menuButton value="Options" icon="fa fa-home">
                <p:menuitem value="Save" actionListener="#{menuView.save}" update="messages" icon="ui-icon-disk"/>`
              .....

[2016-06-14 14:54] donfebi opened #1524 "TreeTable column alignment problem"
I have used primefaces 3.2 in my project. Lately I found a bug in treetable. Data column in treetable is not in line with its column header.  Please can you fix the bug. Since I am not a pro member, please tell me if there is a cost to fix this problem.

Thanks...
# Ahmad Hazairin

![treetable_pf_3 2](https://cloud.githubusercontent.com/assets/19932506/16047488/6b45973c-327a-11e6-9c9b-68c710907805

[2016-06-14 14:57] tandraschko commented on #1524
Please try 6.0 or contact primetek via mail for a custom bugfix for this very very old version.

[2016-06-14 15:01] donfebi commented on #1524
I have contacted primetek via mail and told me to create a file in github. I don't know exactly what is "open a file in github".

I can not use higher versin such as 6.0 because I have to translate thousands line of codes in my projects.

Thanks for you reply.

[2016-06-14 15:03] tandraschko commented on #1524
Maybe you should exactly state this problem in your mail that you can't upgrade and you need a payed bugfix for a old version.
We don't do 3.2.x releases anymore.

[2016-06-14 15:09] donfebi commented on #1524
okey, I will send an email again. Thanks.

just for information, even in version 6.0, this bug is still exist.
I send the attached image that I get from showcase 6.0
![treetable_pf_6](https://cloud.githubusercontent.com/assets/19932506/16048001/9e36bae8-327c-11e6-8208-61ab040b2000.jpg)

[2016-06-14 15:30] teefal opened #1525 "chart export breaks when showPointLabels is true"
After days of debugging, I've narrowed down a tricky problem using Primefaces 5.3/6.0 charts.  My app has several charts that get exported as images for use in a PDF.  All was working until I added one line that setShowPointLabels( true ).  The export method then never returned, eventually timing out.  Oddly enough, the problem didn't occur using Internet Explorer, but it did in Chrome on both Mac

[2016-06-14 17:17] kukel commented on #1524
please remove '3.2' from the title.

[2016-06-14 17:18] kukel commented on #1508
And please create an [mcve] so others can try to replicate with little effort

[2016-06-14 18:48] kukel commented on #1507
Please use the forum for questions like this, or use stackoverflow

[2016-06-14 18:53] JaviRpo commented on #1495
it would be nice

[2016-06-14 18:55] #1507 closed, assigned to nobody

[2016-06-14 19:27] kukel commented on #1477
Please use the forum first. This is not something for the issue list. And create a GOOD question (like with code, version info etc)

[2016-06-15 06:04] cnsgithub commented on #1477
Sorry but this IS an issue. It happens with latest ELITE and PF6 Final. There is virtually no other code needed, as soon as lazy="true" is used, sortBy and filterBy for any columns do not work at all. This is very confusing for the end user and shouldn't stay like that for ever. I'm not saying its urgent, but its not expected behavior.

At least sorting/filtering the currently visible (loaded) row

[2016-06-15 06:34] michael-las commented on #1477
As soon as lazy="true" a LazyDataModel must be used.

[2016-06-15 11:28] Serkan80 commented on #1477
I'm having a similar problem. When lazy=true (and I use a LazyDataModel implementation), cell editing and commandButtons don't work in the datatable. I verified this by adding a 'cellEdit' event and the new and old values of the cell are both null.

When I disable it, everything works fine.

Currently this is a huge showstopper for me.

And I have to say that paging and sorting works fine, only ce

[2016-06-15 11:57] michael-las commented on #1477
@Serkan80 Your problem seems not to be related to this issue. If you think you've found a bug, please file a new issue that contains a simple example which is good enough to reproduce the bug. Nobody knows, what one did exactly just by reading 'lazy=true -> nothing works'. In this context, also see the answer of @kukel.

[2016-06-15 12:15] diegoarantes opened #1526 "Colors button, from Omega Theme"
Css colors from Commandbutton.
![capturar](https://cloud.githubusercontent.com/assets/5193643/16079362/8d39fe0a-32d9-11e6-9254-f732485d3327.PNG)

[2016-06-15 14:15] husnutapan commented on #1217
if you use this sample that is going to work

[code]

[2016-06-15 14:16] mertsincan commented on #1217
Thanks @husnutapan !

[2016-06-15 14:16] #1217 closed, assigned to nobody

[2016-06-15 15:39] Serkan80 opened #1527 "When lazy=true on datatable then cellediting and commandButtons don't work"
My problem:
When I enable lazy loading then suddenly cell editing/updating doesn't work anymore and also any commandLink or button in the datatable doesn't get called.

Here is my code:
`
<p:dataTable` id="patienten" value="#{pqBean}" var="p" editable="true" editMode="cell" rowKey="#{p.id}" stickyHeader="true" rows="15" paginator="true" paginatorAlwaysVisible="false" lazy="true">

[code]

And here

[2016-06-15 16:57] #1526 closed, assigned to nobody

[2016-06-15 17:07] michael-las commented on #1527
Using JSF+CDI+PF 6 running on Jetty 9.3 your example works for me using CDIs ViewScoped and ConversationScoped, too. I don't use Seam and it didn't work as long no conversation has been started.

Example:
[issue1527.zip](https://github.com/primefaces/primefaces/files/316723/issue1527.zip)

[2016-06-15 17:23] tandraschko commented on #1527
Is @Scope from seam?

[2016-06-15 17:31] gahsifuentes commented on #1499
Hello, @Karolis92 .

Is it similar to what I describe [ here ? ](http://forum.primefaces.org/viewtopic.php?f=3&t=45925)

Have you already seen [this topic on StackOverFlow](http://stackoverflow.com/questions/33908480/primefaces-reordering-rows-containing-inputs/33911857#33911857) ?

Do you have any disabled or readonly field in ur Datatable?

[2016-06-15 18:59] Serkan80 commented on #1527
Yes, I'm using Seam 2.3 which has support for JSF 2.x.

@michael-las
Do you mean that it works when you don't use the conversation scope ?

It's strange because I was debugging the code and somewhere in UIData (of Primefaces) my data was set to null and this passes the value to CellEditEvent and this goes to LazyDataModel, which makes the old and new value both null.

[2016-06-15 19:05] michael-las commented on #1527
No, your example works with both ViewScoped and ConversationScoped beans. But when using ConversationScoped beans, I had to start the conversation first, otherwise it won't work. You can download the zip above, it contains a few .java and one index.html file of a working example.

[2016-06-15 19:06] Serkan80 commented on #1527
@michael-las
Ok, I will try to start a long running conversation scope then. And I'm checking your zip file, I let you hear in a second.

[2016-06-15 19:11] Serkan80 commented on #1527
@michael-las

Yes, you were right ! It works now. I'm using a LRC now and it works !

Thx !

[2016-06-15 19:28] michael-las commented on #1527
Nice. So, the datatable works as intended or is there any bug?

[2016-06-15 19:33] Serkan80 commented on #1527
Till now, it works as intended. But it's strange though that a LRC is needed, since a default Conversation should be similar to ViewScope.

[2016-06-15 19:51] tandraschko commented on #1527
probably you need to pass the conversationId somehow on the ajax request, not sure.

[2016-06-15 19:51] tandraschko commented on #1527
Will close it as invalid as we don't "care" about scopes in PF.

[2016-06-15 19:51] #1527 closed, assigned to nobody

[2016-06-16 05:09] Karolis92 commented on #1499
Hi,  @gahsifuentes
No, I don't have disabled or readonly fields in the DataTable.
And I use `p:cellEditor` with output and input facets

Now I use `<p:ajax event="rowReorder" update="@this"/>`, so after reorder dataTable is redrawn and inputs after that work as expected, but this has a down side - any rows that are in input (editing) mode switches back to output mode and loses all unsaved changes.

[2016-06-16 06:52] michael-las commented on #1499
@Karolis92 As there's no answer from the project team, I didn't provide a PR. [edit] I don't know if this is the way to go [/edit]. But perhaps, the commit above may help you.

[2016-06-16 06:54] cagataycivici opened #1528 "Disable selectOneMenu autoWidth if width is manually defined with style"
If width is defined using style attribute, autoWidth should not be applied.

[2016-06-16 07:35] #1528 closed, assigned to cagataycivici

[2016-06-16 10:25] husnutapan commented on #1014
you can try both together itemLabel and itemValue

[2016-06-16 12:36] Karolis92 opened #1529 "FileUpload: auto upload bug"
If user selects many files to upload and during upload process presses `x` to remove file while it's not uploaded yet - any files after it are not uploaded and javascript errors occurre:

[code]

After this error upload doesn't work anymore.

I noticed, then auto upload is off - `x` buttons are disabled when upload begins, but not in auto upload mode.

`auto="false"`:
![auto-false](https://cloud.g

[2016-06-16 13:23] FuturesTr4der opened #1530 "ContextMenu on Datatable doesn't work anymore as expected"
Hi all,

if you make a right-click on a datatable with a context-menu the underlying row is not selected anymore (in Primefaces 6). The selection works in previous versions (5.x).

For an example see showcase demo: http://primefaces.org/showcase/ui/data/datatable/contextMenu.xhtml

[2016-06-16 15:10] tandraschko commented on #1530
Probably a showcase error - the contextMenu should be placed after the datatable. Will take a look at it later.

[2016-06-16 17:36] tandraschko commented on #1530
fixed the example and added it to the migration guide.

[2016-06-16 17:36] #1530 closed, assigned to tandraschko

[2016-06-16 23:47] diogo-cvs opened #1531 "p:editor bug on android devices"
I loved the component. very simple to use.
The component loses focus when selected on a android device.
Any suggestion? I'm using Primefaces-6.0 with modena theme 2.1.1 and layout.

[2016-06-17 08:24] husnutapan commented on #1392
maybe you can use to panel style attribute use as
`<p:panel header="This is in a panel" style="height: 100px;">
                <p:rating id="rating1" value="3" label="aa"/>
            </p:panel>
`
and you can view

http://stackoverflow.com/questions/16807107/how-to-center-align-prating

[2016-06-17 09:03] michael-las commented on #1392
Seems to work, if the stars are styled as non-floating inline-blocks. PR is here #1532.

[2016-06-17 11:43] mertsincan opened #1533 "OutputLink component doesn't work correctly in the header of panel"
Reported by Pro User;

Xhtml-Example:

[code]

[2016-06-17 11:51] #1533 closed, assigned to nobody

[2016-06-17 12:15] mertsincan commented on #1506
Next week.

[2016-06-17 13:12] husnutapan commented on #715
Primefaces include like your code but you forgot inside if clasues check widget control

https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/core/core.js

And code here

[code]

[2016-06-17 13:19] Rawi01 opened #1534 "Wrong height for SelectOneMenu with SelectItemGroups"
**Problem**
The height of the SelectOneMenu is wrong if it contains less than 10 SelectItemGroups. It only counts the root elements and not the childs.

**Possible fix:**
Add something like the following method to [SelectOneMenuRenderer](https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/selectonemenu/SelectOneMenuRenderer.java)

[code]

Change [line 235](h

[2016-06-17 14:33] mertsincan opened #1535 "Add clientCache attribute to DataTable"
Caches the next page asynchronously, default is false.

**TESTS;**

**Test-1;**
- When the page is loaded, an ajax request is sent for next page.(page_2_data)

`clientCacheMap = {page_2_data}`
- When you select page_2, page_2 is loaded from clientCacheMap and an ajax request is sent for next page(page_3_data). This request updates page state.(state= page_2)

`clientCacheMap = {page_2_data, page_3_

[2016-06-17 14:43] #1535 closed, assigned to nobody

[2016-06-17 14:45] dmaidaniuk commented on #715
@husnutapan actually it is my proposal was included in PrimeFaces sources ;)

[2016-06-18 13:29] markusg80 commented on #1193
Ok maybe i not explained well and i appologies for that. What i need is a html5 video tag so i dont need a plugin to play video files. Flash, Quicktime and so on are really out of date and i will not develop any page with need of one of those plugins. And i believe this is not only my opinion.

[2016-06-18 18:15] chuckumi opened #1536 "Datatable core.js paginator.PAGE undefined"
Hi,
after update from version 5.3 to 6.0 I cannot load page, where is a datatable. When I inspect page I see this javascript issue:
**core.js.xhtml?ln=primefaces&v=6.0:1 Uncaught TypeError: Cannot read property 'paginator.PAGE' of undefined**

I am using **non** english chrome and issue is related with **Primefaces.locales** which is not a part of primefaces 5.3
`

[2016-06-18 20:29] kukel commented on #1536
so it works if you use an English version? And do you use a custom (other language) PrimeFaces locale file?

[2016-06-18 20:44] chuckumi commented on #1536
Aha,
after deleting my own Primefaces.locales file everything works fine :). Thx

[2016-06-19 09:14] angwi opened #1537 "primefaces.css and primefaces.js not found"
While using primefaces 6.0 I ran into this exception:resources not found primefaces.css and primefaces.js. I had the <p:growl> tag on my page and dis error displayed there. Need some help.

[2016-06-19 09:15] angwi opened #1538 "Printer component does not work with Google chrome browser"
While using primefaces 5.3, I could not print using the <p:printer> tag on google chrome browser. Works well with Firefox. I have not tried others.

[2016-06-19 09:23] michael-las commented on #1537
There's no primefaces.js anymore, see https://github.com/primefaces/primefaces/wiki/Migration-Guide

[2016-06-19 09:28] chuckumi commented on #1536
Ok,
but now I am not able to use locales file, it is possible to download some other one?

[2016-06-19 16:07] #1537 closed, assigned to nobody

[2016-06-19 16:08] tandraschko commented on #1536
#1506

[2016-06-19 16:08] #1536 closed, assigned to nobody

[2016-06-20 01:00] julianomqs opened #1539 "p:outputLabel indicateRequired not showing in first page load in PF 6.0"
http://forum.primefaces.org/viewtopic.php?f=3&t=45968

@tandraschko

I use PrimeFaces TRANSFORM_METADATA feature and BeanValidation annotations, usually @NotNull and @Size.

In PrimeFaces 5.3, when the page is loaded, the indicateRequired of outputLabel (the *) is shown, and the input has the maxlength attribute. That's the correct behavior.

But in PrimeFaces 6.0, the indicateRequired from output

[2016-06-20 07:26] fbberger opened #1540 "p:selectOneMenu - bug by pressing keybord button 'pause', 'scroll' or 'print'"
We are using Primefaces 5.2 and have Problem with the selectOneMenu. We select an item on it and press the 'pause', 'scroll' or 'print' key. A request with an empty selection of the element will be submitted and the selected item is not longer selected.

Info: The problem is also on your showcase (http://www.primefaces.org/showcase/ui/input/oneMenu.xhtml)

Best reqards,
Frank

[2016-06-20 07:55] anabelenpz opened #1541 "Tabview: add/remove tabs without performing update"
It is not possible to update the state of one unique tab without performing update to the whole tabview.
This happens, for example, when I try to make conditional the value for attributes 'rendered' or 'disabled' due to an event triggered by other components in the view, like a booleancheckbox or something else.

Some references I have found in forums are these:
[http://forum.primefaces.org/viewto

[2016-06-20 10:18] mbechler opened #1542 "InputRenderer.findImplicitConverter NPE"
[code]

is quite obviously wrong with regard to the null check following the dereference.

[2016-06-20 10:59] #1542 closed, assigned to tandraschko

[2016-06-20 11:17] #1539 closed, assigned to tandraschko

[2016-06-20 12:28] tandraschko commented on #1538
http://www.primefaces.org/showcase/ui/misc/printer.xhtml

works fine for me.

[2016-06-20 12:28] #1538 closed, assigned to nobody

[2016-06-20 20:02] cagataycivici commented on #1524
@mertsincan Can you please review?

[2016-06-21 01:44] lumionx opened #1543 "[Primefaces 6] Right click cannot select row in DataTable where selection and contextMenu is enabled"
Right click cannot select row in DataTable where selection and contextMenu is enabled in Primefaces 6. While this issue does not exist in 5.3

[2016-06-21 06:40] Rapster commented on #1543
Duplicate #1530 ?

[2016-06-21 07:29] #1543 closed, assigned to nobody

[2016-06-21 08:18] schlebe opened #1544 "Caret is invisible when clicking on a second p:editor widget"
A user has notify to me that sometimes the cursor (or caret of cursor) doesn't display in p:editor widget.

I have tested on my page that contains 3 p:editor widget.

This error occurs when widget is empty.

I click on the first p:editor that is not empty and the caret is correctly displayed.
Then I click on the second p:editor widget that is empty and the caret is not visible !!!

When I type som

[2016-06-21 13:41] mrswadge opened #1545 "Tooltips showing for empty title text."
Hi,

We have a situation where tooltips are appearing for items which have blank titles. This can be seen here:

![image](https://cloud.githubusercontent.com/assets/6681203/16231421/0ddc8990-37be-11e6-853b-87617915742a.png)

I tracked the issue down to components.js and I believe the line below should be an _and_ instead of an _or_.

`if (b.jq.children().length > 0 || d !== "") {` should instead b

[2016-06-21 14:52] mertsincan opened #1546 "PFExtensions Migration: TriStateCheckbox"

[2016-06-21 14:55] #1546 closed, assigned to nobody

[2016-06-21 17:58] markusg80 commented on #1546
Can you provide this also on 5.3 branch?

[2016-06-21 19:20] Charlie243 opened #1547 "Tree accessibility issue -- keyboard trap"
My PrimeFaces-based webapp was recently reviewed for accessibility compliance by a US Federal agency.  One issue that was tagged for non-compliance was a "keyboard trap" resulting from the inability to go "backwards" (shift + tab) from a PrimeFaces tree component.  That is, you can go forward from a tree to the next component using the tab key, but you CAN'T go backwards to a previous component us

[2016-06-21 19:27] tandraschko commented on #1547
JFYI: if you need a quick fix, you should consider PrimeFaces PRO.

[2016-06-21 19:33] Charlie243 commented on #1547
Thanks Thomas. I love PrimeFaces and wish I could go PRO. (I'm Elite.)  But I'm in the academic/non-profit world and it's just not financially feasible.

Also, I think I messed up the link to the forum discussion.  So let me try it again:
http://forum.primefaces.org/viewtopic.php?f=3&t=46005

Cheers,
Charlie

[2016-06-21 20:58] tiagovanderlinde opened #1548 "Datatable with toggler and sort"
If the user using the toggler hides columns in a dataTable, after to sort any column, all the hidden columns are shown up again.

dataTable example:

[code]

[2016-06-22 04:35] arunvc1 commented on #1393
work around found in forum
http://forum.primefaces.org/viewtopic.php?f=3&t=40364

[2016-06-22 07:01] mertsincan commented on #1546
Added to 5.3.15

[2016-06-22 10:57] movalz commented on #1430
you are right, it would be fine if javax.faces.model.SelectItem would have accessKey support. But often you don't want to define an accessKey for every single item of the radio button group but it would be nice to define a single accessKey for the whole group which behaves like I have described above. Wouldn't my suggested solution be a good approach to make this possible?

[2016-06-22 22:30] chuckumi opened #1549 "MegaMenu: activeIndex issue"
Hi,
after updating to primefaces 6.0 activeIndex stop works? Is it bug? Here is a snippet of my code

`<p:megaMenu orientation="horizontal" activeIndex="#{param.i}" styleClass="menu_top" id="menu_top">
    <p:menuitem value="CAMPAIGNS" outcome="/admin/index">
          <f:param name="i" value="0" />
     </p:menuitem>
     <p:menuitem value="CONTACTS" outcome="/admin/contacts">
          <f:param

[2016-06-23 13:10] mrswadge commented on #1545
As a work around I have overridden the show method, but I still feel this is a bug.

[code]

Cheers,
Stuart

[2016-06-23 15:28] sudheerj opened #1550 "Megamenu/MenuBar accessibility or hyper sensitive issue"
Currently megamenu component is bit hyper sensitive with show/hide functionality of submenus. It will be nice to have configurable delay option on show/hide functionalities for good user accessibility.

[http://www.primefaces.org/showcase/ui/menu/megaMenu.xhtml](url)

[2016-06-23 15:46] alexey-anufriev opened #1551 "Watermark for non-editable selectOneMenu is not showing"
**Preconditions**
- `selectOneMenu` with watermark
- Text input is not allowed (`editable="false"`)

**Expected behavior**
Watermark is visible

**Actual behavior**
Watermark is **not** visible

**Reason**
`selectoneMenu` with `editable="false"` uses `<label>` tag to display selected item or initial item. At the same time it uses `<input>` tag with `editable="true"`.

**Environment**
1) Primefaces

[2016-06-24 02:47] pablocastrobarbosa commented on #899
good @matthiasblaesing , I had seen this problem and solved in a very similar way

`//Considers the footer size in the calculation if exists footer
PrimeFaces.widget.Dialog.prototype.fitViewport = function() {
    var winHeight = $(window).height();
    contentPadding = this.content.innerHeight() - this.content.height();
    if (this.jq.innerHeight() > winHeight) {
        this.content.height(winH

[2016-06-24 08:00] mertsincan opened #1552 "Invalid sheet names are allowed in ExcelExporter which causes runtime exception."
Reported by PRO User;

[2016-06-24 08:04] #1552 closed, assigned to nobody

[2016-06-24 12:23] jorgellenes opened #1553 "Schedule FullCalendar API attributes needed"
Hi,

Is there a posibility to include in Scheduler component attributes eventOrder, slotEventOverlap and eventRender from the fullCalendar API? We have overriden PF scheduler.js to achieve this by setting slotEventOverlap to false, commenting out the sorting function and changing the function from eventRender to escape HTML, but this is a nasty hack.

Thanks!

[2016-06-24 12:27] alireza-kasraei opened #1554 "data table context menu"
Hi
we have encountered a bug in context menu while applied on data table component.
right click does not select the row . prime faces show case has this bug also.
thanks.

[2016-06-24 14:34] michael-las commented on #1554
See #1530

[2016-06-24 15:42] #1554 closed, assigned to nobody

[2016-06-24 20:53] mertsincan opened #1555 "The legend of hidden series on Chart is not displayed correctly in exported image"

[2016-06-24 21:45] #1555 closed, assigned to nobody

[2016-06-25 08:29] #1545 closed, assigned to tandraschko

[2016-06-26 15:15] vasu483 opened #1556 "browser title is getting changed when uploading a file using fileupload"
Defined a widget for fileupload like below and whenever a fileupload happens, the browser title is getting changed with uploaded file name.  This dialog box appears when clicking on treenode.

[code]

Can someone please check whether it is an existing issue with primefaces or my code mistake ?

Thanks,
Vasu

[2016-06-27 14:50] mertsincan opened #1557 "Tab header wrapping issue on Mobile TabView"
Reported By Pro User;

Test;

[code]

[2016-06-27 14:54] #1557 closed, assigned to nobody

[2016-06-27 18:38] fernandobsilva opened #1558 "Datatable drag & drop fail on Firefox"
Rows gets stuck floating over the datatable if the mouse pointer passes outside the browser window.

I've observed it only on Firefox.

Is there any option or configuration to prevent this behaviour?

[2016-06-28 08:13] ppandey01 opened #1559 "Form is not submitted when press enter on non text input component"
**Problem Statement**

[The HTML5 forms specification section 4.10.22.2](https://www.w3.org/TR/html5/forms.html#implicit-submission) basically specifies that the first occuring input submit element in the "tree order" in same form as the current input element in the HTML DOM tree will be invoked on enter press.

However currently if user press enter while having focus on any non text input compone

[2016-06-28 08:52] cnsgithub commented on #1014
Hi, Still happens on PF 6.0 Final (and current ELITE v.)

To reproduce, Click on something which does an ajax call, then quickly move the mouse to the tooltip before dom is updated, then the tooltip will persist, even if it is no longer in dom.

Update:
Another jQuery based workaround:

[code]

[code]

[2016-06-28 15:09] vanuatoo opened #1560 "DataTable: add total row support"
Current approach is only usable when used with grouping.

Would be nice to define which columns are "total able" and based on it the system would add total row automatically at the header or footer level or both.

To generalize this issue, aggregate type should be customizable: max, min, avg seem to be logical candidates.

Total part of the DataTable should consist of Title row and totals row

[2016-06-28 15:19] MaxEl-W opened #1561 "Spinner with suffix does not change value."
The method `PrimeFaces.widget.Spinner.prototype.updateValue` has a mistake in the condition:
`if (this.cfg.suffix && value.indexOf(this.cfg.suffix) === (value.length - this.cfg.suffix.length))`
If  the value does not have suffix and `value.length - this.cfg.suffix.length` is -1, than the value is NaN and it does not change.

ver. 5.2.12

Sorry for my English

[2016-06-29 10:40] lcanalesmayo opened #1562 "Add clientCache to data components"
In https://github.com/primefaces/primefaces/issues/1535 "clientCache" attribute was added to "dataTable".

Could you add this attribute in all data components that support lazy loading?

Thanks in advance,
Luis.

[2016-06-29 12:01] mertsincan opened #1563 "Add padControl attribute to InputNumber"
- "padControl" controls padding of the decimal places;
   padControl: true always pads the decimal with zeros (default),
   padControl: false no padding

[2016-06-29 12:22] #1563 closed, assigned to nobody

[2016-06-29 12:39] rvillablanca opened #1564 "Error with PrimeExceptionHandler and error pages"
I have several error pages located at /WEB-INF/error folder but they are not correctly found by PrimeExceptionHandler because it assumes that the page is located the root of context path.

![1](https://cloud.githubusercontent.com/assets/1508272/16452103/25ea05d8-3ddd-11e6-97c6-2c3a5a6e6e2b.png)

Then an 404 error is thrown out.
I am using Primefaces 6.0

[2016-06-29 15:25] tandraschko commented on #1564
error pages in web-inf are not supported as we need to redirect to them - we can't use a forward in every case.
As files in web-inf can't be accessed via url, it won't work.

[2016-06-29 15:25] #1564 closed, assigned to tandraschko

[2016-06-29 18:42] michael-las commented on #1561
Affects 6.1-SNAPSHOT, too.

## Steps to reproduce

[code]
1. Enter '5' (without suffix) into the input field of the first spinner.
2. Focus the second spinner.
3. The input field of the first spinner will read '0 €'.
4. Enter '5' (without suffix) into the input field of the second spinner.
5. Focus the first spinner
6. The input field of the second spinner will read '$5'.

At 3, the input field wi

[2016-06-29 20:58] michael-las commented on #1561
PR is here #1565

[2016-06-30 09:23] akoshpinter commented on #826
Hello,

This same vulnerability (and fix) applies to SelectManyMenu as well, should we create a new bug report? (PrimeFaces 6.0 and earlier)

[2016-06-30 16:03] andrei-ivanov opened #1566 "Cannot call reset() after response has been committed"
Hi,
I'm seeing a worrying number of exceptions regarding `PrimeExceptionHandler` trying to reset the response after it was commited when handling Ajax exceptions.

As far as I see, it checks if the response is committed (at https://github.com/primefaces/primefaces/blob/da76a548b3ab8747f8d560d6459fc7a059920055/src/main/java/org/primefaces/application/exceptionhandler/PrimeExceptionHandler.java#L147

[2016-06-30 16:16] tandraschko commented on #1566
Please provide a simple small maven/jetty app.

[2016-06-30 16:26] andrei-ivanov commented on #1566
Well, since I only see this error in the production logs, I don't think I can create a simple reproducer :-(
I can't tell what kind of request is triggering this.

Isn't my analysis regarding the Mojarra workaround helpful at all?

[2016-06-30 16:28] tandraschko commented on #1566
I can't do any bugfix without an example to replicate it, so therefor it's only partial helpful ;)

[2016-06-30 16:30] diegoarantes opened #1567 "p:graphicImage + CSS Image Sprites"
eg:
`<p:graphicImage library="imagens" name="image.png" position-x="0" position-y="-416" />`

Ref: [http://www.w3schools.com/css/css_image_sprites.asp](http://www.w3schools.com/css/css_image_sprites.asp)

[2016-06-30 16:35] tandraschko commented on #1567
you can use style + background-position

[2016-07-01 07:06] darkomega9408 opened #1568 "DataTable: reflow not working correctly on IOS"
My project is using reflow datatable to have responsive looking on mobilephone. But it is not working correctly on IPhone, although Android works fine. I have try Iphones 4 and 6 and both does not working, so I think it is IOS
-related only. Here is the screenshot on IPhone:

![img_0010 1](https://cloud.githubusercontent.com/assets/16800895/16514188/815a327c-3f94-11e6-96cd-562c5af3b363.PNG)

Here

[2016-07-01 10:54] subzro commented on #1297
There is still a small bug in the choose button.
No matter if the label is null or set by custom value, the upload component will always look like this:
![pf-upload-label-bug](https://cloud.githubusercontent.com/assets/20240792/16518573/e0c1678c-3f83-11e6-870f-696b12fd4c00.png)

I think its because of the wrong styleclass implemented for the fix #1297 in method FileUploadRenderer.encodeChooseButto

[2016-07-01 14:38] mertsincan opened #1569 "ValueChangeEvent not triggered for Picklist"
Reported by PRO User;

[2016-07-01 14:52] #1569 closed, assigned to nobody

[2016-07-01 16:19] andrei-ivanov commented on #1566
Hmm, managed to reproduce it quickly before the end of the program.
Going to the 2nd page on a lazy datatable triggers the issue (with Mojarra).

[code]

[2016-07-02 10:32] BalusC opened #1570 "PhaseInfo is serializable, but its PhaseId field not"
PrimeFaces 6.0 new `LifecyclePhaseListener` stores [`PhaseInfo`](https://github.com/primefaces/primefaces/blob/6_0/src/main/java/org/primefaces/component/lifecycle/PhaseInfo.java) instances in session. `PhaseInfo` class is `Serializable` but it has a `PhaseId` field which is not `Serializable`. This will cause `NotSerializableException` when sessions are persisted.

Related: http://stackoverflow.c

[2016-07-02 19:16] Rapster commented on #1297
Not exactly, but I'll fix it for single mode as it is fixed for multiple mode ;)

[2016-07-03 09:49] tandraschko commented on #1566
As i said, please provide a full working sample application with maven and jetty

[2016-07-03 20:57] mertsincan opened #1573 "JS error in InputTextarea"
InputTextarea throws a JS error with "PrimeFaces is not defined"

[2016-07-03 20:59] #1573 closed, assigned to nobody

[2016-07-03 23:04] djmj opened #1574 "Datatable paginatorAlwaysVisible="false" problem changing datasource"
When paginator is not always visible sometimes a bug occurs where the paginator is not rendered anymore when updating the datasource.

I saw this issue before in our application but still cannot say when it will occur precisely but it is reproducable with following example:
1. Set _paginatorAlwaysVisible="false"_ and _rows="12"_ without lazy loading and load a single row of data on init
2. Press b

[2016-07-04 08:22] djmj opened #1575 "Regression p:inputNumber - always displays in US locale"
Updating to PF 6.0 i realized that numbers are not displayed using view locale on _p:inputNumber_.

PrimeFaces extension used view locale if no other locale was provided by default.

Curious is also that when i enter commata _,_ as decimal separator it still recognizes it as decimal separator by rendering a US format _._ dot. Functionality is preserved but its just irritating and may have conflict

[2016-07-04 08:26] tandraschko commented on #1575
Please check both sources and if possible provide a PR, i think the code was just copied.

[2016-07-04 08:33] djmj commented on #1575
The minimum reproducer is just an empty _p:inputNumber_ and setting view locale to german for example.

[code]

You should enhance your showcase using a locale aware example without specifying _decimalSeparator_.

http://www.primefaces.org/showcase/ui/input/inputNumber.xhtml

[2016-07-04 08:41] tandraschko commented on #1575
you could just compare both sources of PF and PFE and check where is the difference

[2016-07-04 08:58] sergi-mm commented on #1290
We also experiment the same issue using Primefaces 5.3.14 (latest version of 5.3 at the moment of writting).

[2016-07-04 09:19] andrei-ivanov commented on #1566
I've taken the lazy datatable showcase and I've modified LazyCarDataModel, adding

[code]

at the beginning of the `load` method.
See the attachment: [pf-1566.zip](https://github.com/primefaces/primefaces/files/345983/pf-1566.zip)

The result in Jetty when going to the next page (http://localhost:8080/showcase/ui/data/datatable/lazy.xhtml):

[code]

[2016-07-04 09:24] tandraschko commented on #1566
Did you try to set javax.faces.FACELETS_BUFFER_SIZE as mentioned in the userguide?

[2016-07-04 09:24] nicymike opened #1576 "Datatable looses text selection with active selectionMode"
When you select text inside a cell on a datatable with active selectionMode (eg. single), the selection is cleared after releasing the mouse button. This happens whether the row is already selected or not.

This issue occurs even in primefaces showcase (http://www.primefaces.org/showcase/ui/data/datatable/selection.xhtml) on second example ("Single with Row Click").

As a workaround:
To select a t

[2016-07-04 09:41] andrei-ivanov commented on #1566
Seems I missed that part.
Unfortunately, it doesn't seem to fix it :-1: (
I've tested with 1024 (the default value from the standard, seen from https://java.net/jira/browse/JAVASERVERFACES-2068) and up to 8192.

I've setup a breakpoint in `com.sun.faces.application.view.FaceletViewHandlingStrategy.initialize()` to make sure it reads it properly.

[code]

[2016-07-04 09:43] tandraschko commented on #1566
I would try something like 100.000 to see if if it will be fixed ;)

[2016-07-04 09:54] andrei-ivanov commented on #1566
I just did, didn't fix it :(

I've setup a breakpoint to see how the response gets marked as committed.
It is just as described in my initial analysis.
The Mojarra workaround that follows triggers the commit of the response, calling the `writer` methods, including `endDocument()`, which flushes the response writer and the buffer.
I don't think it matters what buffer size you have if you flush the

[2016-07-04 10:43] tandraschko commented on #1566
The workaround was introduced because: https://github.com/primefaces/primefaces/issues/823

Maybe you could check if mojarra changed something in their responseWriter?

[2016-07-04 10:44] tandraschko commented on #1566
Maybe we could just remove #endDocument but leave the other 2 #end calls to fix both issues?

[2016-07-04 10:49] andrei-ivanov commented on #1566
Eh, I've added a comment to the commit, suggesting a ticket for Mojarra, but it was ignored 2d263ef2d17db2188a1964a729b54f906c6de89f0

Should I ask for a full working sample application with maven to reproduce #823? :-D
I don't see a unit test being introduced in that commit.

[2016-07-04 10:52] tandraschko commented on #1566
i don't have a example as it was fixed by cagatay :P
We currently don't have unit tests for such hacks/integration thigns

[2016-07-04 10:54] andrei-ivanov commented on #1566
I'll try sometime later today to see if I can reproduce #823 without the hack and see if removing endDocument helps.

[2016-07-04 11:45] andrei-ivanov commented on #1566
I was thinking that since you have my reproducer, you could try to use that to reproduce #823 :-D

[2016-07-04 15:32] tandraschko commented on #1566
:D i don't have time, sorry

[2016-07-04 15:34] andrei-ivanov commented on #1566
Can you ask cagatay? It's his regression :-/

[2016-07-04 15:39] tandraschko commented on #1566
I could ping him but he is likely very busy.
You have 3 solutions:
- test both cases, provide a PR/patch and 2 samples with jetty/maven, i can run your tests, verify it and apply your patch
- PrimeFaces pro
- wait till someone other likes to fix your problem

[2016-07-04 15:45] andrei-ivanov commented on #1566
Got it, thanks for your help.

[2016-07-04 16:25] mrswadge commented on #1066
Hi Thomas,

Finding an issue that might be related to this change.

[code]

This seems to happen when a resource gets into the list of ResourceInfos with null values. Effectively a RES_NOT_FOUND error. Could it be handled without needing to stack trace?

![image](https://cloud.githubusercontent.com/assets/6681203/16566411/18ca8368-420c-11e6-973a-b0bee06db360.png)

Cheers,
Stuart

[2016-07-04 16:50] tandraschko commented on #1066
Hi,

would be great if you could provide a new issue with sample app.

[2016-07-04 17:16] mrswadge commented on #1066
Time is a bit tight as we have a release next week, but I think I tracked it down to same script that's embedded into our main template xhtml.

[code]

We do this as we use EL script to pass values from server side to local javascript, for example:

[code]

It makes sense as the script doesn't have a library or name.

[2016-07-05 01:01] michael-las commented on #1575
PR is here #1578

[2016-07-05 07:16] Julienng opened #1579 "Growl: Add client side api"
Hi,
we use `primefaces push` to push message to client(s) in our application. I modify growl.js to :
- add a message to `cfg.msgs`
- refresh message with `cfg.msgs` (i just call `refresh(msgs)` here)
- remove the message from the array when the message is close.

Are you interest for this feature ?

[2016-07-05 09:06] mrswadge opened #1580 "Stack trace when adding an inline script to an xhtml page."
Primefaces team,

Finding an issue that might be related to issue #1066.

[code]

This seems to happen when a resource gets into the list of ResourceInfos with null values. Effectively a RES_NOT_FOUND error. Could it be handled more cleanly without needing to stack trace?

![image](https://cloud.githubusercontent.com/assets/6681203/16566411/18ca8368-420c-11e6-973a-b0bee06db360.png)

I think I trac

[2016-07-05 09:06] mrswadge commented on #1066
Raised #1580

[2016-07-05 11:30] cagataycivici opened #1581 "p:message compatibility with new tooltip"
Tooltip mode of p:message does not look well with new tooltip as ui-state-error is added to main container, it should apply the text inside.

[2016-07-05 11:43] #1581 closed, assigned to cagataycivici

[2016-07-05 13:49] akoshpinter opened #1583 "SelectManyMenu XSS vulnerability"
Hello,

This same vulnerability (and fix) applies to SelectManyMenu as well. (PrimeFaces 6.0 and earlier)

[2016-07-05 14:28] mrswadge commented on #1580
org.primefaces.util.ResourceUtils.getComponentResources(FacesContext) gets all component resources targeting "head". Our in-line script also targets head for script ordering reasons.

When the call is made to org.primefaces.util.ResourceUtils.filterScripts(FacesContext, ArrayList<ResourceInfo>) it doesn't weed out the in-line script, therefore causing it to call javax.faces.application.ResourceHan

[2016-07-05 14:33] mrswadge commented on #1580
I would think the following would do the trick in ResourceUtils.

[code]

[2016-07-05 15:24] michael-las commented on #1574
Tried to reproduce the bug without success. Which PF version is affected? Have you tried it with a reduced example (simple table, no groupings etc.)? Different browsers? Could you provide some code?

[2016-07-05 18:45] #1575 closed, assigned to tandraschko

[2016-07-05 18:53] tandraschko commented on #1580
Applied your change, thanks!
Please test a build from source :)

[2016-07-05 18:53] #1580 closed, assigned to tandraschko

[2016-07-05 18:56] svrolanski opened #1584 "Mindmap: update doesn't work"
I got a mindmap instead an outputPanel, trying to update the panel gives me a JSON string instead. Trying to update the mindmap directly also gives the same JSON string.

`<p:outputPanel id="mindmap">
    <p:mindmap style="width: 100%; height: 500px; border: 1px solid black;"
               value="#{myBean.mindmapRoot}"
               rendered="#{myBean.activeTabIndex eq 1}">
            <p:ajax e

[2016-07-05 19:38] svrolanski commented on #1584
What doesn't work is the update from the dblselect to update the entire form. I can workaround the problem by using a p:remoteCommand with update=@form, still the tooltip from the node doesn't go away when I update the form. This is quite messy component.

EDIT: workaround the tooltip problem by using update=@(body) instead of @form.
EDIT: @(body) doesn't work quite well, I had to use @all
EDIT: T

[2016-07-05 19:46] djmj commented on #1574
I will try to create a reduced example at the weekend.

[2016-07-06 08:08] beevelop commented on #326
I know this issue is quite old, but I still experienced the same inconsistencies with Sticky header's positioning with PrimeFaces 5.3
Fortunately I stumbled upon the jQuery lib [floatThead](https://github.com/mkoryak/floatThead) and successfully got a fully functioning version running. As floatThead is quite similar to PrimeFace's own approach to clone the thead and place it outside the original t

[2016-07-06 10:19] mrswadge opened #1585 "Tooltip points to the wrong field when positioning is limited by space."
Hi Primefaces team,

When the tooltip re-positions it's self from it's normal position the tooltip does not change it's styling to point correctly at the field which triggered the display of the tooltip.

An example:
A tooltip that shows by default on the right of a field tends to have the style ui-tooltip-right to give the arrow on the left of the tooltip. When there isn't enough room to display

[2016-07-06 12:45] smokeybandit commented on #1293
After upgrading to PF 6, I had to roll back this fix in order for the tabs to render correctly.

[2016-07-06 13:03] djmj opened #1586 "LazyDataModel - make implementation of old sort method optional."
I only implemented the new multi-sort lazy load function and got an exception to implement the old one. What about changing the function, so that it is not required to be overriden by calling the multi-sort function. Something like:

[code]

I refactored it in a static method and in all my lazy models i just create the boilerplate implementation:

[code]

[2016-07-06 15:20] mrswadge commented on #1585
This fixes the issue. It appears to be up to the task and should cover all avenues that I can think of.

[code]

Key parts are `var that = this;` near the top to give access to the primefaces widget config and the `using: function(p,f)` method (including the body) that is provided to the `this.jq.position` method (in two places).

[2016-07-06 15:42] mrswadge commented on #1585
Updated comment above to remove duplicate code by adding new method alignUsing to the Tooltip prototype.

Tested OK in IE11 and Chrome.

![image](https://cloud.githubusercontent.com/assets/6681203/16626279/1cc4d000-43a0-11e6-8b70-3a0c3597cfb6.png)

![image](https://cloud.githubusercontent.com/assets/6681203/16626299/2e18fe1c-43a0-11e6-92b7-6b839c6549f0.png)

[2016-07-07 10:15] michael-las commented on #1585
PR is here #1587

[2016-07-07 10:37] mrswadge commented on #1580
Great, I saw you also applied it to inline style :+1:

[2016-07-07 13:47] wsaca commented on #1031
PF 6: datatable doesn't work inside an **ui:repeat** or **p:repeat**. When you use ajax is working, but if you try to process the form that is containing the datatable with a commandButton then the values are always set to null.

[2016-07-07 15:00] wsaca commented on #929
PF 6: datatable doesn't work inside an ui:repeat or p:repeat. When you use ajax is working, but if you try to process the form that is containing the datatable with a commandButton then the values are always set to null.

[2016-07-08 08:42] #1513 closed, assigned to tandraschko

[2016-07-08 08:51] #1392 closed, assigned to tandraschko

[2016-07-08 08:57] #1561 closed, assigned to tandraschko

[2016-07-08 08:59] tandraschko commented on #1586
feel free to provide a PR like in your first example.

[2016-07-08 09:39] #1518 closed, assigned to tandraschko

[2016-07-08 10:06] chuckumi commented on #1549
No one has the same problem?

[2016-07-08 11:30] tandraschko commented on #1579
you can render new messages via:
#renderMessage

you can remove all growls and display new ones via
#show

not sure whats the difference to your features but there are some helper method available.

[2016-07-08 11:43] Julienng commented on #1579
For some treatment, I receive like 2 - 3 messages (for now) with some time between each. I don't want to erase the previous message before his timeout and don't want to redisplay message after his timeout. So I have to handle add / remove into msgs.

[2016-07-08 11:43] #1570 closed, assigned to tandraschko

[2016-07-08 11:45] tandraschko commented on #1470
Feel free to provide a PR.

[2016-07-08 17:11] mrswadge opened #1588 "Dialog: add onresizestart and onresizeend javascript events"
When a dialog is resized we would like to change the opacity of the dialog and after resizing make sure that the dialog is positioned in the centre of the screen. The place to do this appears to be by modifying the PrimeFaces.widget.Dialog.prototype.setupResizable method for the start and stop functions. What could be better for developers would be for us to be able to define onresizestart and onr

[2016-07-08 19:23] dsu opened #1589 "Components are duplicating style attribute randomly"
Sometimes users "Attribute style redefined" error that aborts rendering the page by browser.

for exmaple

`<h:panelGroup layout="tabular" style="display:inline;padding: 10px;position: relative;top: -6px;">`

Can generate:

[code]

[2016-07-08 19:27] tandraschko commented on #1589
h:panelGroup isn't from PrimeFaces

[2016-07-08 19:27] #1589 closed, assigned to nobody

[2016-07-09 10:31] mquasten opened #1590 "Label escape issue on LineChartSeries"
final LineChartSeries series = new LineChartSeries();
series.setLabel(/_timeCourse.get().share().name().replaceAll("'", "")_/ "can't get you out of my head");

Firebug:
SyntaxError: missing } after property list
bad java script code is created:
... series:[{label:'can't get you out of my head',renderer: $.jqplot.LineRenderer, ....

The chart of the share McDonald's Corp. makes trouble ( the ' in t

[2016-07-10 08:13] Rapster opened #1591 "PrimeFaces Extensions Migration: DynaForm"
Very useful component: [see showcase](http://www.primefaces.org/showcase-ext/views/dynaForm.jsf), maybe it should be reimplemented using UIData?

[2016-07-10 16:42] michael-las commented on #1590
@tandraschko @cagataycivici This makes it possible to inject arbitrary JavaScript code. Multiple, if not all, chart types are affected. The chart renderers write labels etc. unescaped to the output.

[2016-07-11 09:10] sweetcard commented on #1037
@mertsincan
This feature can't support dynamic columns. Any plan please.
This is my code to support dynamic columns.

 public int getColumnsCount ()
    {
        int columnsCount = 0;

[code]

[2016-07-11 11:12] Treppenhouse opened #1592 "ColumnToggler items are polluted with text from controls and even java script code"
When adding more complex controls than just `h:outputText` to the header of a column, all the text that can be found within those controls is added to the label of the columntoggler-item in the column toggler for the respective column.

For instance, when having a `SelectOneMenu` control in the column header, all values to chose from are concatenated and added to the columntoggler-item label.
Addi

[2016-07-11 12:06] orange-buffalo opened #1593 "disable() is not working on widget returned by PrimeFaces.getWidgetById()"
Please consider the simple case from [this gist](https://gist.github.com/orange-buffalo/82b196daae26c997de317fd9e3ba2785). It is expected that `PrimeFaces.getWidgetById('tstForm:tstBtn').disable()` will disable the button, but this does not happen (actually, nothing happens). If `update` attribute is removed from `Show dialog` button, everything is working fine. It looks like after updating the el

[2016-07-11 14:50] mertsincan commented on #1576
Please use disabledTextSelection="false" attribute on datatable.

[2016-07-11 14:50] #1576 closed, assigned to nobody

[2016-07-11 18:14] ybendek opened #1594 "Problem with Ajax listener method with PF6.0"
Hello

I have been using PF in a project and we are starting to migrate from PF5.3 to PF6.0. However, now from any Ajax call using the listener we are having the same exception.
`Grave: javax.el.MethodNotFoundException: Return type 'void' of method 'onToggleClientData' in 'class com.unitas.view.reports.AttendanceActReportMngBean' does not match 'class java.lang.Object'
    at de.odysseus.el.tree.i