[2017-10-18 15:12] melloware commented on #2833
try this...

`<p:column filterStyle="width:20px"`

[2017-10-18 15:21] NicolaIsotta commented on #2833
Yep, I know I can force an inline style, but I'm already using the solution I've posted in my projects cause it's "automatic" and more responsive.

[2017-10-18 15:21] culjar commented on #2831
I have created a PR #2834 to fix this issue.

[2017-10-18 16:16] melloware commented on #2833
Ahh i see you are suggesting to fix it in all filters in PF by default with the max-width: calc(100% - 10px)  @mertsincan any thoughts?

[2017-10-18 18:09] Mobe91 commented on #2423
Here you go:
[primefaces-2423.zip](https://github.com/primefaces/primefaces/files/1395778/primefaces-2423.zip)

[2017-10-18 18:54] jxmai commented on #2423
Due to some changes I did the other day for an issue, you need to include some menu to show the button currently.

So, here is the code:

[code]

![image](https://user-images.githubusercontent.com/10467831/31736903-9949ef7a-b40b-11e7-9dc9-a553e8904a47.png)

Looks OK to me so far ? (Except the last one, but that button is way too small to be practical  IMHO)

but I will take a look.

[2017-10-18 19:04] jxmai commented on #2423
I am going to propose a patch and the end result will look like this:

![image](https://user-images.githubusercontent.com/10467831/31737373-e48a0640-b40c-11e7-8902-f23e7c473b98.png)

Basically, we should not hard code the width for the second button

[code]

[2017-10-18 19:30] Mobe91 commented on #2423
Looks good!

[2017-10-18 19:30] melloware commented on #2423
Thumbs up!

[2017-10-18 22:54] Rapster opened #2836 "DataTable: Facets are no longer displayed in showcase"
## 1) Environment
- PrimeFaces version: 6.2-SNAPSHOT
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers:

## 2) Expected behavior
Header should be visible in this example http://localhost:8080/sho

[2017-10-18 22:57] jxmai commented on #2836
@Rapster  Same time :+1:

See

https://github.com/primefaces/primefaces/commit/daf45fd76cd2c6b3215502a19d5b649eacdbd57b#commitcomment-25065070

[2017-10-18 23:06] Rapster commented on #2836
Great minds think alike 😉

[2017-10-19 02:33] jxmai commented on #2436
This issue is no longer relevant. Please close.

Here is the code:

https://github.com/primefaces/primefaces/blob/6cb428c0cf608263868d6ecae733c1ccc19ebb36/src/main/resources/META-INF/resources/primefaces/forms/forms.splitbutton.js#L109-L111

The current behavior is tabbing will always make the menu disappear, which is not the same behavior as the reporter's description

---

![image](https://user-

[2017-10-19 03:55] jxmai commented on #2083
@mores Your code has too much unrelated logic like `composite components`, `setPropertyActionListener` that are hard for us to diagnose the issue ( we don't have the effort to tweak the sample to reorganize all the code since that's not the point ). Also, your sample won't work on 5.x last time I checked. But if you cannot provide a [mcve](https://stackoverflow.com/help/mcve), this issue probably

[2017-10-19 07:08] tandraschko commented on #2836
@rdebusscher Could you check that again? Otherwise we have to revert if we can't find a good solution.

[2017-10-19 07:08] #2436 closed, assigned to nobody

[2017-10-19 07:11] tandraschko commented on #2083
A clean as possible example is really something required for us as many commiters here are just doing this in freetime.

[2017-10-19 08:08] #2423 closed, assigned to tandraschko

[2017-10-19 08:08] tandraschko commented on #2423
Thanks for the PR!

[2017-10-19 08:21] tandraschko commented on #2836
@Rapster It's correct that we can't use the class itself but we already do something in ChildExpressionResolver:
`                if (!className.contains("UIInstructions") && !className.contains("UILeaf")) {
                    count++;
                }`

Works fine on both Mojarra and MyFaces

[2017-10-19 08:24] tandraschko commented on #174
No example, will close it as invalid for now.
You can still create a new issue and fill every info requested by our issue template.

[2017-10-19 08:24] #174 closed, assigned to nobody

[2017-10-19 08:32] tandraschko commented on #542
Will close it for now as no example was provided.
You can still create a new issue and provide all informations requested by our issue template.

[2017-10-19 08:32] #542 closed, assigned to nobody

[2017-10-19 08:34] rdebusscher commented on #2836
I fixed it already this morning, see commit https://github.com/primefaces/primefaces/commit/f6b74fe392e9e281743b514305c425971c4b0b45

Based on feedback from jxmai https://github.com/primefaces/primefaces/commit/daf45fd76cd2c6b3215502a19d5b649eacdbd57b#commitcomment-25065070

[2017-10-19 08:40] tandraschko commented on #496
can't find anything like this in the original method, will close it as invalid as infos are missing.
You can still create a new issue and provide all informations requested by our issue template.

[2017-10-19 08:40] #496 closed, assigned to nobody

[2017-10-19 08:41] tandraschko commented on #497
Feel free to provide a PR!

[2017-10-19 08:42] tandraschko commented on #489
Feel free to provide a PR!

[2017-10-19 08:45] tandraschko commented on #751
Duplicate of #2650

[2017-10-19 08:45] #751 closed, assigned to nobody

[2017-10-19 08:46] tandraschko commented on #2650
I think we should create 2 facets to overcome this problem

[2017-10-19 09:21] tandraschko commented on #2275
it SHOULD work now. Please try.

[2017-10-19 09:21] #2275 closed, assigned to tandraschko

[2017-10-19 09:24] tandraschko commented on #2223
A PR or technical ideas are welcome here ;)

[2017-10-19 09:49] Rapster commented on #2836
@rdebusscher what if it's a UIInstructions but rendered = false, your method will return true. This is why I mentionned testing the type of the facet, being said I think @tandraschko mentionned the solution to workaround the problem of JSF impl

@tandraschko we should create an util for this kind of testing, I know we're doing the same with UIRepeat

[2017-10-19 09:59] Rapster commented on #2650
2 facets? Could you explain please?

[2017-10-19 10:17] rdebusscher commented on #2836
@Rapster How can an UIInstruction be rendered false?

Even this
`<f:facet name="header"></f:facet>`
results in an UIInstructions which has rendered = true.

So we should look into the instructions property and look for LiteralCommentInstruction. But that is not possible since _UIInstructions_ is not in the spec and does not implement an interface which can be used to retrieve the individual instru

[2017-10-19 10:34] Rapster commented on #2836
`<f:facet name="header"></f:facet>` rendered = true is normal, look at your generated html :wink: `ui:remove` should return rendered = false though.

How can UIInstructions be false? I honestly have no idea, but since it's a UIComponent I guess it can be not rendered :-D

[2017-10-19 10:50] Rapster commented on #2813
I do agree with @tandraschko I think you're misusing the class you should use. I think I ended up having the same issue by using `UISeparator `instead of `DefaultSeparator`. Make sure to use classes contained in `org.primefaces.model`. Next time, post the code you wrote to generate the model

[2017-10-19 11:12] #2813 closed, assigned to nobody

[2017-10-19 11:49] cnsgithub opened #2837 "AccordionPanel: activeIndex should allow a state which represents "no tabs open""
Used PrimeFaces version: 6.1.7 ELITE
---
Usually a comma separated list of the current tab status is being written to the activeIndex property. This works for all cases, except the case where no tab is currently selected. The last clicked tab index is being set to the model instead. It should be possible to "save" the status as well, when all tabs have been closed.

[code]

[code]

[code]

[2017-10-19 13:05] tandraschko opened #2838 "Create p:autoUpdate"
Currently we only have 3 components which support autoUpdate=true
So if you would like to autoUpdate a component, you always have to wrap it with a p:outputPanel
It has some disadvantages:
1) additional markup in the browser
2) additional component in the JSF tree
3) additional tag in the xhtml, which is not very readable

We can do the following:
Introduce a new tag called p:autoUpdate, which can

[2017-10-19 13:06] tandraschko commented on #2838
@melloware @jxmai @Rapster any comment? It's very similar to https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/358 but i don't think we currently need those additional features.

[2017-10-19 13:55] melloware commented on #2838
+1 for me.

[2017-10-19 13:58] tandraschko commented on #2462
Works fine for me with trunk and the current IE11.

[2017-10-19 13:58] #2462 closed, assigned to tandraschko

[2017-10-19 14:21] jxmai commented on #2838
It is a nice feature :+1: . If I understand it correctly:

Current:

1. Only three components can support `autoUpdate = true`

2. any other components need to have an output panel wrapper to make use of autoUpdate

---

Proposal:

any other component with `<p:autoUpdate /> `as a child can be searched and updated accordingly

[2017-10-19 14:22] tandraschko commented on #2838
exactly!

[2017-10-19 14:23] tandraschko commented on #1014
Updating the tooltip works fine for me to remove it.

[2017-10-19 14:23] #1014 closed, assigned to mertsincan

[2017-10-19 14:39] Rapster commented on #2838
Sounds nice! :wink:

[2017-10-19 16:43] sv3ntek opened #2840 "PRIMEFACES SHOWCASE MENU-MENUBAR ERROR ICONS"
I FOUND 1 ERROR, THE ICONS DONT SHOW CORRECTLY.
I'M USING CHROME WEB BROWSER.

![image](https://user-images.githubusercontent.com/32882769/31782922-2581806e-b4c2-11e7-8785-72ea47f1accb.png)

In my web project, I see it like this:
![image](https://user-images.githubusercontent.com/32882769/31783077-9de51fd4-b4c2-11e7-9843-45bb48ad0139.png)

in the mozilla browser, I see the icons correctly.
![image

[2017-10-19 16:50] melloware commented on #2840
Chrome 61 for me and works fine.

![image](https://user-images.githubusercontent.com/4399574/31783380-0b77389e-b4cc-11e7-92b0-28a683e0d8e5.png)

[2017-10-19 16:52] jxmai commented on #2840
This issue will likely be closed as https://github.com/primefaces/primefaces/issues/2826, but I suggest you to check your browser version, and open console to check if any error like GET failures

![image](https://user-images.githubusercontent.com/10467831/31783441-de722104-b4c3-11e7-94eb-bc8d6e8d89b8.png)

[2017-10-19 17:06] #2840 closed, assigned to nobody

[2017-10-19 17:42] sv3ntek commented on #2840
this is my Chrome web browser version.

![image](https://user-images.githubusercontent.com/32882769/31784530-a38740d4-b4c7-11e7-901f-ccfa7262864b.png)

![image](https://user-images.githubusercontent.com/32882769/31785481-ec12c190-b4ca-11e7-908e-5dca53f5d4b3.png)

![image](https://user-images.githubusercontent.com/32882769/31785392-abf2e072-b4ca-11e7-8946-800f66832a22.png)

and I still do not find

[2017-10-19 17:49] tandraschko commented on #2838
Done!

[2017-10-19 17:49] #2838 closed, assigned to tandraschko

[2017-10-19 17:50] tandraschko opened #2841 "[Documentation] p:autoUpdate"
+ remove autoUpdate attributes on outputPanel, fragement, messages, growl

[2017-10-19 19:08] melloware commented on #2840
Sorry I have tried it on 3 different computers with Chrome and all look fine.

[2017-10-19 19:30] jxmai commented on #2840
Clear cache or try incognito mode. It is likely that  one of the plugins was interfering. For example, Ad blocker:

![image](https://user-images.githubusercontent.com/10467831/31790220-637bf8dc-b4da-11e7-9bca-2bfe8f764e42.png)

Took from your screenshot. Is it ad blocker ?

https://help.getadblock.com/support/solutions/articles/6000148708-adblock-blocks-font-awesome-social-media-icons

The last st

[2017-10-19 19:50] sv3ntek commented on #2840
@jxmai thanks a lot.

![image](https://user-images.githubusercontent.com/32882769/31791022-ea205584-b4dc-11e7-84ff-5f46fed2cfe3.png)

The problem was the blazemeter that was installed in the chrome browser.

[2017-10-19 19:55] jxmai commented on #2840
Plugin indeed :smiley:  Good to know the problem was solved :+1: .

[2017-10-19 23:10] Rapster commented on #2521
Might help http://deltaspike.apache.org/documentation/jsf.html#Double-SubmitPrevention

[2017-10-20 01:43] BarnT opened #2842 "<p:ajax event="blur"... can cause infinite loop of ajax calls"
## Environment
- PrimeFaces version: 6.1.7
- Works in 4.0.13
- Application server + version: GlassFish 4.1.1
- Affected browsers: Chrome

## Sample XHTML

`<p:inputText value="#{someMB.whateverelse}" />
<p:inputText id="whatever" value="#{someMB.whatever}">
    <p:ajax event="blur" update="whatever"  />
</p:inputText>
`

## Steps to reproduce

In chrome, click into the whatever input, then push ta

[2017-10-20 06:30] mertsincan opened #2843 "emptyMessage is hidden for p:dataTable with virtualScroll enabled"

[2017-10-20 06:32] #2843 closed, assigned to mertsincan

[2017-10-20 06:45] mertsincan opened #2844 "DataTable emptyMessage displayed in first column (colspan="0") for p:dataTable contained in p:dialog"
Reported By PRO User;

[2017-10-20 06:46] #2844 closed, assigned to mertsincan

[2017-10-20 06:50] mertsincan commented on #1966
I'll check it.

[2017-10-20 07:28] #1966 closed, assigned to mertsincan

[2017-10-20 08:02] tandraschko commented on #2842
Also it might be a possible bug BUT i would really avoid ajax onblur, it's mostly unnecessary.

[2017-10-20 09:00] tandraschko commented on #2521
\<ds:preventDoubleSubmit/\> is something completely different.
Ajax requests are queued per default, but non-ajax are not queued.
So DS just "ignores" the second click and skips the JSF lifecycle. This also only works for non-ajax.

[2017-10-20 09:02] tandraschko commented on #2521
And yep, the docu is not quite big here. We added this some years ago just as a small helper, i'm even not sure if someone uses it. Also the most interaction nowadays is using ajax.

[2017-10-20 09:41] Rapster opened #2845 "Datatable: Use caption HTML tag"
Facet `Header` is generated using a div tag while caption HTML tag exists https://www.w3schools.com/tags/tag_caption.asp That part is quite easy to rewrite, but when it comes with a paginator it's a bit more tricky since paginator is not part of the `table` itself. Is paginator should be encoded in caption tag?

Doing this makes datatable even more compliant to HTML spec and would probably help to

[2017-10-20 10:28] mertsincan opened #2846 "Add clear event to AutoComplete"
[code]

[2017-10-20 10:29] #2846 closed, assigned to mertsincan

[2017-10-20 10:52] BarnT commented on #2842
Yes I know. I've chosen this example because this was the easiest way to define the problem, but the main reason behind it can cause problems in other situations too.
For example if you have a custom JS module on the input that triggers 'change' on input's 'blur' event (based on some custom implementation), then even the p:ajax="change" can cause the same problem.
I think the main reason is that t

[2017-10-20 11:57] mertsincan opened #2847 "Improve scroll height of the panel on SelectOneMenu, SelectOneListBox and SelectManyMenu"
Removed calculateWrapperHeight method. Users can add max-height value with scrollHeight/height attribute to the panel. The default value of these attributes is 200.

[2017-10-20 11:58] #2847 closed, assigned to mertsincan

[2017-10-20 12:05] gyan2 commented on #1893
me again,

problem solved with Version 6.1

may fixed with issue #1481

[2017-10-20 12:40] Rapster commented on #2650
I managed to make it work wrapping the whole think in a UINamingContainer (I created an empty composite inserting his children)

[code]

Of course, it needs my fix :-D (using Mojarra 2.2.15, not sure it could've work before...)

[2017-10-20 18:46] jxmai commented on #2833
+1 up vote for improving the filter's default css rule. @melloware  Are you planning a PR for this ?

[2017-10-20 18:48] smckeetx opened #2848 "dialogFramework NPE when calling closeDialog"
## 1) Environment
- PrimeFaces version: 6.1.4
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) Unknown
- Application server + version: Tomcat 8.0.36
- Affected browsers: N/A

## 2) Expected behavior - Successfully return to calling page with s

[2017-10-20 18:56] melloware commented on #2833
i was hoping @mertsincan would chime in but I will create a PR and let them decide whether to merge it or not.  To me this is a huge improvment.

[2017-10-20 19:00] melloware commented on #2833
PR submitted if you want to review.  I found the same thing in TreeTable.css so I added it there too.

[2017-10-20 19:00] jxmai commented on #2833
PR will get faster feedback IMO. This is also a big improvement to me since I have to overwrite the filter css rule every time in an application, so it can also benefit many others. :+1:

[2017-10-21 02:16] jxmai commented on #2845
Is it technical possible ? If you read the spec of caption:

![image](https://user-images.githubusercontent.com/10467831/31847039-40ae84b8-b5da-11e7-8038-01805169b28c.png)

---

Primefaces table is not a standard html table.  The facet header is just a div on top of a real html table.

![image](https://user-images.githubusercontent.com/10467831/31847071-e3f56d6c-b5da-11e7-9c15-2a2261a55fb8.png)

-

[2017-10-21 08:31] #2318 closed, assigned to tandraschko

[2017-10-21 08:32] tandraschko commented on #2318
Thanks ;)

[2017-10-21 08:32] tandraschko opened #2851 "[Documentation] TreeTable: event 'page'"

[2017-10-21 08:33] tandraschko commented on #2848
No example -> not reproduceable.
Please provide an PR or likely the ticket will be closed.

[2017-10-21 11:45] Rapster commented on #2845
That's the point, make databable as much standard as possible. Regarding the header, it's definitely technically possible, I already had a try.

As I said, it gets more complicated when it comes to add the paginator since we add it after the header. It means we should add paginator in caption, i didn't try that part yet. I don't understand your point regarding the footer, it is actually fine as it

[2017-10-21 11:51] Rapster commented on #2728
Let's make sure part 1 works 100% there is still few issues about it

[2017-10-21 15:00] tandraschko opened #2852 "RequestContext#reset - allow array of expressions"
It's simpler for users

[2017-10-21 15:03] #2852 closed, assigned to tandraschko

[2017-10-21 15:08] tandraschko opened #2853 "Simplify RequestContext for Endusers / Splitup RequestContext for external and internal stuff"
Currently RequestContext is a pool of utilities like ComponentUtils, a Scoped object holder for internal stuff like AjaxRequestBuilder or WidgetBuilder and shortcut helpers for endusers.

What i would like todo, is to provide a new base for simple helpers for endusers.

Also, the naming of RequestContext and ApplicationContext sounds like JSF managed context or CDI managed contexts...

[2017-10-21 15:08] tandraschko commented on #2853
Currently RequestContext counts 30 methods:

    public static RequestContext getCurrentInstance() {
    public static RequestContext getCurrentInstance(FacesContext facesContext)
    public static void setCurrentInstance(RequestContext context, FacesContext facesContext)
    public abstract boolean isAjaxRequest();
    public abstract void addCallbackParam(String name, Object value);
    public a

[2017-10-21 15:13] tandraschko commented on #2853
The following methods are really internal only:
public static void setCurrentInstance(RequestContext context, FacesContext facesContext)
public abstract WidgetBuilder getWidgetBuilder();
public abstract AjaxRequestBuilder getAjaxRequestBuilder();
public abstract CSVBuilder getCSVBuilder();
public abstract ApplicationContext getApplicationContext();
public abstract StringEncrypter getEncrypter();
p

[2017-10-21 15:15] tandraschko commented on #2853
I think the steps are the following:

1) Provide a new enduser helper base (now)
2) Deprecate methods in RequestContext (now)
3) refactor RequestContext and ApplicationContext for internal usage (next version 6.3/7.0)
4) remove deprecated methods  (next version 6.3/7.0)

[2017-10-21 15:16] tandraschko commented on #2853
The method which should be in the new helperbase are:

public abstract boolean isAjaxRequest();
public abstract void addCallbackParam(String name, Object value);
public abstract Map<String, Object> getCallbackParams();
public abstract void execute(String script);
public abstract void scrollTo(String clientId);
public abstract void update(String name);
public abstract void update(Collection collect

[2017-10-21 15:20] tandraschko commented on #2853
I can imagine something like:

PrimeFaces.current().scrollTo(...);
PrimeFaces.current().resetInput(...);
PrimeFaces.current().executeScript(...);
PrimeFaces.current().ajax().addCallbackParam(...);
PrimeFaces.current().ajax().update(...);
PrimeFaces.current().dialog().open(...);
PrimeFaces.current().dialog().close(...);

It's little a bit like CDI.current() ;)
ajax() could also already throw a exce

[2017-10-21 18:36] Rapster commented on #2852
That's a lot of `reset` method. I'd stick to the `String...` signature and get rid of the other. Plus, i'm not sure the `String` signature makes sense anymore since there is this `String...` signature already

[2017-10-22 04:13] jxmai commented on #2853
I agree with providing a cleaner set of APIs than what RequestContext can do currently 👍

From my understanding:

Current limitation / code smell of `RequestContext`:

1. expose some internal APIs such as `getWidgetBuilder()`, `getAjaxRequestBuilder()` to user space...

2. The naming of `RequestContext` is confusing

---

Proposal (the end result):

1. Request context will be optimized ***only for

[2017-10-22 11:19] tandraschko opened #2854 "OutputLabel: add possiblity to always display the required indicator"
Currently we have an attribute called "indicateRequired".
True (default) means that the it's displayed when the component is required or @NotNull is present.
False means that it's never displayed.

The easiest way it the following now:
Auto (default) means that the it's displayed when the component is required or @NotNull is present.
true mean that it's always displayed
False means that it's never

[2017-10-22 11:27] tandraschko commented on #2852
Lets do this in 2853

[2017-10-22 11:34] #2854 closed, assigned to tandraschko

[2017-10-22 14:52] jxmai commented on #2845
Nevermind.  `encodeFacet(context, table, table.getFooter(), DataTable.FOOTER_CLASS);` gave me an impression that you were also  trying to encode facet footer in a caption.

OK, I see. It may require some refactoring work but possible. I guess you may need to search `writer.startElement("table", null);` and insert an encoding helper method for everyone :)

Just as a quick demontration:

![image](ht

[2017-10-22 15:59] jxmai commented on #2845
Submitted a PR for review anyway

[2017-10-22 17:49] jxmai commented on #2845
I should have mentioned that the PR is only for header since it should have done right in the first place.

---

As for paginator, not only it is not part of the table from the implementation perspective, but I haven't yet to see wrapping pagination in caption in pure html 🤔 . Normally the pagination is only located in the bottom part instead of locating in both bottom and top as Primefaces. For e

[2017-10-22 18:52] Rapster commented on #2845
As I said in the PR, caption can't be set up without having any thoughts about pagination... I know it's not an easy job...

[2017-10-22 20:03] jxmai commented on #2845
Indeed. Wrapping facet header in caption is simple. But for wrapping pagination in caption...  Well, the implementation part is one thing, and the miserable spec is the other problem.

[2017-10-23 09:51] onursenture commented on #2675
Our Gitter channel is available now. https://gitter.im/primefaces/primefaces

[2017-10-23 11:57] btshepo commented on #495
Where exactly to I insert/modify this code?

[2017-10-23 11:58] melloware commented on #2853
@tandraschko I like it too.  We just have to make sure when deprecating RequestContext we leave good documentation on where the new replacement methods are.  The first thing I do when something is deprecated it look at the Javadoc to see what I should be using instead.

Other than that I 100% agree we should always be striving to improve the core codebase and not just the widgets.

[2017-10-23 13:06] smckeetx commented on #2848
As it only happens on some pages and not others I'm not sure I can create an example. The stack trace is identical to this old bug with the exception I'm going via a commandButton and not a commandLink.  Might it be worth look at the same area to see if something has been reintroduced?

https://code.google.com/archive/p/primefaces/issues/6978

[2017-10-23 13:13] mertsincan opened #2857 "Tooltip doesn't work after updating it with p:poll"
Reported By PRO User;
[code]

[2017-10-23 13:17] #2857 closed, assigned to mertsincan

[2017-10-23 16:46] robertwenner opened #2858 "PickList: Allow keeping moved items in original list"
I'd like to have a picklist where the moved items are not removed from their list, only added to the target list. That way I could add the same item multiple times.

For example, I could offer a list of cities to plan a trip. I could visit the same city multiple times. If my city list has Athens, Berlin, Copenhagen, I could make a trip from Berlin to Athens, back to Berlin, to Copenhagen.

Maybe t

[2017-10-23 17:24] smckeetx commented on #2848
In the end it turned out to be two buttons on the page that could open this DialogFramwoork window. They both had the same WidgetVar name. Changing one name fixed the problem.

[2017-10-23 17:24] #2848 closed, assigned to nobody

[2017-10-23 21:54] jxmai commented on #2364
AFAIK,  I think we should at least check the height and width to make sure they don't go out of bound before showing the dialog, and recover the width and height when there is enough room in the viewport.

Let's say:

![image](https://user-images.githubusercontent.com/10467831/31915015-8cb193a2-b812-11e7-8737-9c34a7d4e58f.png)

and

![image](https://user-images.githubusercontent.com/10467831/31915

[2017-10-24 02:26] jxmai commented on #2412
This issue should be fixed already. Please look at #942

[2017-10-24 02:31] jxmai commented on #2634
No need such workaround. RowExpansion can persist object natively in the upcoming PF6.2. See #942 .

[2017-10-24 02:32] jxmai commented on #1236
Fixed already. It will be available in the upcoming PF6.2. See #942

[2017-10-24 06:18] mehdi-vaadin opened #2860 "pfRequired attribute is removed in PrimeFaces 6.1"
In PrimeFaces 6.0 there is an attribute named pfRequired that makes the associated label display an asterisk without having to make the UIInput required. But, it is removed in PrimeFaces 6.1. I would like to ask you to bring back pfRequired or add something similar to do the same functionality. A sample is shown below:

[code]

[2017-10-24 06:20] tandraschko commented on #2860
https://github.com/primefaces/primefaces/issues/2854
pfRequired was a internal API and should never have been used by endusers.

[2017-10-24 06:20] #2860 closed, assigned to nobody

[2017-10-24 06:21] #2412 closed, assigned to nobody

[2017-10-24 06:22] #1236 closed, assigned to nobody

[2017-10-24 06:24] #2634 closed, assigned to nobody

[2017-10-24 10:26] kukel commented on #2854
Please add 'milestone' or version

[2017-10-24 13:18] tandraschko commented on #2853
commited something ;) Please review, we can still revert.
Also think we should rename Request/ApplicationContext to PrimeRequest/ApplicationContext in 6.3 or 7.0.

[2017-10-24 14:10] cnsgithub commented on #742
Edit: See my answer here: https://github.com/primefaces/primefaces/pull/3233

And here: https://github.com/cnsgithub/primefaces-openicons

For those who want an easy solution for this..

[2017-10-24 14:32] eversnarf opened #2861 "Tree: filter on a property of node values"
## 1) Environment
- PrimeFaces version: 6.1.7
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: Tomcat 8.5.20
- Affected browsers: Firefox, Chrome, Edge

## 2) Expected behavior
When building a `<p:tree>` of nodes whose data is a bean, not a `String`, I expect to be able to apply filtering, say *startsWit

[2017-10-24 16:25] #2833 closed, assigned to tandraschko

[2017-10-24 16:26] tandraschko commented on #2833
Thanks ;)

[2017-10-24 18:15] melloware commented on #742
This would be cool.

[2017-10-25 03:36] jxmai commented on #2853
I just gave the new helper a try from a user perspective.

Let's say if I have `RequestContext.getCurrentInstance().openDialog("theDialog", options, null);`

The java doc says:

[code]

there is no recommended equivalent in docs.

and if I try to use `PrimeFaces.current()`

the only method I can find is `PrimeFaces.current().dialog()` which is different from`openDialog(String, Map<String,Object>,

[2017-10-25 03:55] jxmai commented on #2853
After taking a look at the code, then I know it should be `PrimeFaces.current().dialog().openDynamic(outcome, options, params);`. IMHO, documentation (especially java doc in detail for migration ) is really needed since user is not supposed to dig into the code to see what the equivalent method can be used.

Please add something like

[code]

to all deprecated methods.

[2017-10-25 06:20] cidylong opened #2862 "SelectOneMenu: label instead value is used when editable=true"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? No try
- Does it work on the newest sources in GitHub? (Build by source -https://github.com/primefaces/primefaces/wiki/Building-From-Source) No try
- Application server + version: WebLogic 12cR2
- Affected browsers: Safari 11

## 2) Expected behaviour
selectOneMenu will put selected item'

[2017-10-25 06:21] cidylong commented on #2862
This issue/bug was published on stack overflow as well. Please find:

https://stackoverflow.com/questions/46924860/primefaces-6-1-selectonemenu-pick-itemlabel-as-value

[2017-10-25 06:25] cidylong commented on #2862
I tried to change the PrimeFaces element to p:selectOneListBox and keep everything no change, repeat the processing, my backing bean shows up "Cust001", which is working fine.

[2017-10-25 06:26] cidylong commented on #2862
I found this issue existing in PrimeFaces 5.2 as well. seams there is nothing changed in PrimeFaces 6.1

[2017-10-25 07:42] tandraschko commented on #2853
should be better now.
WDYT about the naming openDynamic instead open? "openDialog" was confusing about the naming IMO.

[2017-10-25 08:23] #2632 closed, assigned to tandraschko

[2017-10-25 08:46] tandraschko opened #2863 "InputNumber: support for ui-fluid"

[2017-10-25 08:46] #2863 closed, assigned to tandraschko

[2017-10-25 08:53] tandraschko opened #2864 "InputGroup: improvide border handling"
currently inputgroup removes the outer border from the input. This means that if you focus the input, the left and/or right borders are not highlighted as it's actually the border from the inputGroup.

The better way would be that inputGroup would not render a own border at this side.

[2017-10-25 09:08] tandraschko commented on #2864
no easy way to cover all cases, will close it for now.

[2017-10-25 09:08] #2864 closed, assigned to tandraschko

[2017-10-25 09:29] tandraschko opened #2865 "InputGroup: support for SelectOneMenu and SelectOneButton"

[2017-10-25 09:32] #2865 closed, assigned to tandraschko

[2017-10-25 10:58] cidylong commented on #2862
I take everything out from <p:selectOneMenu> tag except id and value field, re-compile, and run it again, it works fine. Then I add editable, filter, filterMatchMode, test it again. Dead. Which means, if selectItems (itemLabel/Value pair) with editable and filter at same time, will cause selectOneMenu pick itemLabel as Value. Please have test and find what is wrong

[2017-10-25 11:24] tandraschko commented on #2862
Please analyse a little bit more ;) does it work fine without filter and filterMatchMode? so just editable is causing it?

[2017-10-25 11:36] cidylong commented on #2862
keep filter and filterMatchMode and take off editable, it works fine.

[2017-10-25 14:39] jxmai commented on #2853
For some reason I still cannot see the alternative method in eclipse. Is it working for you ?

![image](https://user-images.githubusercontent.com/10467831/32004578-b94be83a-b967-11e7-9967-9013fc84fdb1.png)

----

Why not just use 'open' instead of `openDynamic` ?

[2017-10-25 14:43] tandraschko commented on #2853
I don't use eclipse but seems like it says that you didn't have the javadocs - which are required for this comments.

because 'open' sounds like "open a normal dialog via PF('dlg').show()'" instead of opening it with the dialog framework.

[2017-10-25 15:05] jxmai commented on #2853
OK, thanks. Java doc was missing indeed. For instance,

![image](https://user-images.githubusercontent.com/10467831/32006214-bf34f0f8-b96b-11e7-9445-afae0f9c1a01.png)

---

that's a point. show() and open() are indeed similar that might confuse user.

Overall is OK then AFAIK :+1:

[2017-10-25 15:34] jxmai commented on #2853
@tandraschko I think we should remove one of the duplicate deprecated comments.

![image](https://user-images.githubusercontent.com/10467831/32007577-8ddadbb8-b96f-11e7-8436-98a05d4dd9ca.png)

Usually the standard is to keep the one on the same line.

such as

[code]

---

For our case we just need to remove the previous one and add `instead` to the current one. Such as
[code]

[2017-10-26 04:17] der-tkw commented on #2862
I'm having the same issue: https://forum.primefaces.org/viewtopic.php?t=52928
As soon as the editable is added the functionality breaks for me. Without it everything is fine.

[2017-10-26 05:47] der-tkw commented on #2862
I created an MVCE here: https://github.com/timbooo/selectitemstest

[2017-10-26 07:17] tandraschko commented on #2862
thanks for the mvce ;) Anyone would like to do a PR here?

[2017-10-26 07:25] tandraschko commented on #2836
So, is it fixed now? Then i would close it.

[2017-10-26 07:30] Rapster commented on #2836
IMO I don't like the fix very much. We should support UIInstructions just like you mentioned @tandraschko.

[2017-10-26 07:36] tandraschko commented on #2836
Yep, probably.
As users may also like to display plain html, which is wrapped by UIInstructions.
@rdebusscher Would you like to improve it?

[2017-10-26 07:39] mertsincan opened #2867 "Title on menuitem does not work anymore with global tooltip"
Reported By PRO User;

It used to worked (with previous versions).

[2017-10-26 07:43] #2867 closed, assigned to mertsincan

[2017-10-26 08:01] mertsincan opened #2868 "InputTextRenderer doesn't pass the component to startElement() method"
Reported By PRO User;

[2017-10-26 08:02] #2868 closed, assigned to mertsincan

[2017-10-26 08:07] rdebusscher commented on #2836
Plain text is working. If there is an issue with a certain construction,
please let me know.

The only issue which exists is when the developer puts an XML comment in
the facet, then the facet is always shown because the comment it is
identified as a UIComponent which is rendered.

On 26 October 2017 at 09:36, Thomas Andraschko <notifications@github.com>
wrote:

[2017-10-26 08:11] tandraschko commented on #2836
Thats ok for me - IMO users should use javax.faces.FACELETS_SKIP_COMMENTS=true

[2017-10-26 08:15] tandraschko commented on #2868
@mertsincan The fix is of course ok but could you please check if passthrough parameters aren't rendered two times now in JSF 2.2+? I faced something simliar in another component.

[2017-10-26 08:26] mertsincan commented on #2868
Ok, Thanks, @tandraschko ;) I'll check it. Also, I remember this issue; https://github.com/primefaces/primefaces/issues/274

[2017-10-26 08:35] mertsincan commented on #2868
I checked it and didn't see a problem. Test code;
[code]

[2017-10-26 09:54] tandraschko commented on #2858
It would be great if you could provide a PR or sponsor the feature via PrimeFaces PRO.

[2017-10-26 10:33] orange-buffalo opened #2869 "SelectOneMenu: placeholder / watermark support for filter input"
Currently `SelectOneMenu` does not support a placeholder for the filter input. It would improve user experience if we could create `SelectOneMenu` components with menus like this:

![image](https://user-images.githubusercontent.com/4532247/32048340-76a2e686-ba49-11e7-90f0-dbc2169d3aac.png)

Probably it would also make sense to have `filterPlaceholder` for other components with `filter` support.

[2017-10-26 11:32] melloware commented on #2862
I will investigate this one!

[2017-10-26 11:36] tandraschko commented on #2869
Did you try it? We already have a placeholder attribute

[2017-10-26 11:40] orange-buffalo commented on #2869
Yeap, the placeholder is applied to the control itself, i.e. "closed" state:

![image](https://user-images.githubusercontent.com/4532247/32050918-ed461ed0-ba52-11e7-8a05-903e1bece5b4.png)

But I couldn't find any attibute to set the filter input placeholder:

![image](https://user-images.githubusercontent.com/4532247/32050962-2296fb36-ba53-11e7-8522-25f319cb3612.png)

[2017-10-26 11:45] melloware commented on #2869
I will see if I can add this I am looking at selectOneMenu today anyway.

[2017-10-26 12:22] melloware commented on #2862
OK  I fixed it, @timbooo and @cidylong can you guys please review my PR?

[2017-10-26 12:41] mertsincan opened #2872 "Improve inputtext style with ui-fluid and size attribute"
Details; https://forum.primefaces.org/viewtopic.php?f=49&t=52897

[2017-10-26 12:43] #2872 closed, assigned to mertsincan

[2017-10-26 12:45] #2869 closed, assigned to tandraschko

[2017-10-26 12:45] tandraschko commented on #2869
Thanks!

[2017-10-26 13:21] orange-buffalo commented on #2869
@melloware thanks a lot!

[2017-10-26 13:35] #2862 closed, assigned to tandraschko

[2017-10-26 13:35] tandraschko commented on #2862
Thanks!

[2017-10-26 14:04] #2836 closed, assigned to rdebusscher

[2017-10-26 14:36] #2102 closed, assigned to tandraschko

[2017-10-26 15:03] melloware commented on #2869
@orange-buffalo no problem!

[2017-10-26 21:43] wal-jan commented on #2795
[FullCalendar](https://fullcalendar.io/docs/event_data/Event_Object/)s doc states

Using `p:schedule`s `extender` attribute one can (easily) add `event.description` as tooltip

            <p:schedule value="#{myBean.eventModel}" ... extender="cfgSchedule"/>
            <script type="text/javascript">
              function cfgSchedule() {
                this.cfg.eventRender = function(event, ele

[2017-10-27 07:27] mertsincan opened #2874 "DataTables scroll bars bug when using scrollable="true" and selectionMode="multiple""
Reported By PRO User;

We have DataTable and we use scrollable="true" & selectionMode="multiple" (both are required).
The problem occurs while we move the mouse across DataTables rows (hover) the scroll bars are appear & disappear.

[2017-10-27 07:30] #2874 closed, assigned to mertsincan

[2017-10-27 07:35] #2853 closed, assigned to tandraschko

[2017-10-27 07:42] tandraschko opened #2875 "[Documentation] Refactor RequestContext.getCurrentInstance() to PrimeFaces.current()"
and rename helper methods.

[2017-10-27 15:11] melloware commented on #2331
@Selaron @iZorkon can you review the PR I just submitted.  I used @Selaron and it works great and tested it.

[2017-10-27 16:57] melloware commented on #753
Submitted PR and tested it and @sudheerj suggestion works and seems to have no side effects.

[2017-10-27 19:15] melloware commented on #2781
@tandraschko Found an issue running the Showcase with CollectScript on for this page /showcase/ui/data/datatable/edit.xhtml   The page doesn't render.  When I remove CollectScripts it works fine.

[2017-10-27 19:32] melloware commented on #2435
Has this been fixed since?  It's definitely working in the 6.2-SNAPSHOT trunk?

[2017-10-27 19:59] melloware commented on #2366
@fkocijan  Sorry this took me so long was finally able to get a chance to look at it and fix it.

[2017-10-27 20:02] tandraschko opened #2880 "InputGroup: support for Password, InputMask and Calendar"

[2017-10-27 20:02] #2880 closed, assigned to tandraschko

[2017-10-29 10:46] Adam-1 commented on #2874
@mertsincan
Please note this issue doesn't show in newer chrome versions, maybe they fixed it for 62+ versions.
(Seems the width was also computing the box shadow)

[2017-10-29 13:59] #753 closed, assigned to tandraschko

[2017-10-29 14:01] tandraschko opened #2881 "SelectOneButton: add enable/disable widget method"

[2017-10-29 14:10] #2881 closed, assigned to tandraschko

[2017-10-29 14:11] tandraschko opened #2882 "[Documentation] SelectOneButton: add disable/enable JS widget method"
see #2881

[2017-10-29 14:14] #2366 closed, assigned to tandraschko

[2017-10-30 01:06] garcia-jj opened #2883 "InputGroup: support icon-only button"
InputGroup feature doesn't display properly buttons with no value. If the button have a value, the button are displayed properly.

I see this case in my app, and also occurs in Primefaces Showcase available here: https://www.primefaces.org/showcase/ui/input/inputGroup.xhtml.

This causes because of this css rule:

[code]

We need to add this rule to set minimal width when buttons hava no value:

[

[2017-10-30 07:54] prasannamadhavi opened #2884 "Primefaces datatable component draggable and filter columns feature doesn't work together in ipad"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-10-30 07:56] prasannamadhavi commented on #2884
Need urgent and instant help.

Any help is appreciated!

[2017-10-30 08:27] tandraschko commented on #2884
This is the community issue tracker and you didn't follow the required steps.
If you need urgent and instant help, it sound like you should use professional support: https://www.primefaces.org/support/

[2017-10-30 08:27] #2884 closed, assigned to nobody

[2017-10-30 10:41] cagataycivici opened #2885 "Update POI to 3.17"

[2017-10-30 10:51] #2885 closed, assigned to cagataycivici

[2017-10-30 11:42] mertsincan opened #2886 "Add icons option to Polyline on GMap"
Details; https://developers.google.com/maps/documentation/javascript/symbols

Exp;
[code]

[2017-10-30 11:43] #2886 closed, assigned to mertsincan

[2017-10-30 13:12] #2883 closed, assigned to tandraschko

[2017-10-30 13:12] tandraschko commented on #2883
did it with 2.2em!

[2017-10-30 13:38] tandraschko commented on #1824
Works fine for me in the showcase.

[2017-10-30 13:38] #1824 closed, assigned to nobody

[2017-10-30 14:00] tandraschko commented on #1809
confirmed - a PR to fix it is welcome here.

[2017-10-30 14:03] tandraschko commented on #1807
sample bean missing - will close it for now as invalid.
If the problem still persists, please create new issue with a fully runnable sample bean+xhtml.

[2017-10-30 14:03] #1807 closed, assigned to nobody

[2017-10-30 14:07] tandraschko commented on #1788
The example is not really reusable. As kukel said, a mcve is the better way.
Will close thie issue for as invalid.

If the problem still persists with the current trunk version, please create new issue with a fully runnable sample bean+xhtml.

[2017-10-30 14:07] #1788 closed, assigned to nobody

[2017-10-30 14:08] tandraschko commented on #2822
@mertsincan did you check them? Would be great if we could close them :D

[2017-10-30 14:10] tandraschko commented on #1729
The sample is not runnable simple mvce, will close it as invalid for now.
If the problem still persists with the current trunk version, please create new issue with a fully runnable and small sample bean+xhtml.

[2017-10-30 14:10] #1729 closed, assigned to nobody

[2017-10-30 14:26] #1584 closed, assigned to tandraschko

[2017-10-30 14:34] tandraschko commented on #1496
Example isn't fully runnable, attachGroup js missing and therefore a exception will be thrown in the client.

If the problem still persists with the current trunk version, please create new issue with a fully runnable and small sample bean+xhtml.

[2017-10-30 14:34] #1496 closed, assigned to nobody

[2017-10-30 14:35] tandraschko commented on #1491
It's really easy with the facet, i will close it.

[2017-10-30 14:35] #1491 closed, assigned to nobody

[2017-10-30 14:42] tandraschko commented on #1434
Confirmed - workaround here: https://stackoverflow.com/questions/18913547/how-to-update-a-layoutunit-in-primefaces

[2017-10-30 14:44] tandraschko commented on #1434
This won't work as the layout script needs to be executed to realign the units.
Will close it as won'tfix for now. It think the workaround is quite good.

[2017-10-30 14:44] #1434 closed, assigned to nobody

[2017-10-30 14:50] tandraschko commented on #1422
Works fine for me in trunk

[2017-10-30 14:50] #1422 closed, assigned to nobody

[2017-10-30 14:56] tandraschko commented on #1060
No example -> invalid.
If the problem still persists with the current trunk version, please create new issue with a fully runnable and small sample bean+xhtml.

[2017-10-30 14:56] #1060 closed, assigned to nobody

[2017-10-30 15:14] tandraschko commented on #2781
Hmm, not idea so far.
I tried to remove the optimizations i did (minimizing the inline script) but still doesn't work.
Seems like there is an endless loop?

[2017-10-30 15:17] tandraschko commented on #2781
Did you also check all other views?
Would be a shame if we could not activate it because of one single view :D

[2017-10-30 16:10] robertfdx opened #2887 "CSS transition on td wraped in p:layout doen't work as espected: borders aren't displayed"
## 1) Environment
- PrimeFaces version: 6.1 Community Edition
- Affected browsers: Chrome v60 to v62
Works on Chrome v59

## 2) Expected behavior: Everything should work normally even if the transition is not running
## 3) Actual behavior: There no borders displayed
## 4) Steps to reproduce: Code below
## 5) Sample XHTML
[code]
[code]
## 6) Sample bean: I used the example from the showcase for dat

[2017-10-30 16:29] melloware commented on #2781
I will keep checking other views but so far this was the only one I found with this issue.

[2017-10-30 16:58] jxmai commented on #2781
Actually, there are many more observed by just randomly clicking the showcase: http://localhost:8080/showcase/ui/ajax/partialSubmit.xhtml, http://localhost:8080/showcase/ui/ajax/search.xhtml...

So this feature is definitely not mature enough to put in real world use at the moment.

[2017-10-30 17:49] tandraschko commented on #2781
Its more mature as you think :P i already use it in production, but the code is very structured and new

[2017-10-30 18:44] jxmai commented on #2781
For experimental purposes, I just set the collect script on one of our real projects, and I can replicate the infinite loop. :D. so be cautious...

[2017-10-30 20:12] jxmai commented on #2781
@tandraschko @melloware Here is the analysis that could be helpful for you to fix the problem

There is clearly a logical flaw that is causing infinite recursive calls.

The infinite loop is located in the following method

https://github.com/primefaces/primefaces/blob/4d3a721097aaeb45ce9d11bdc5fbf43f73b27221/src/main/java/org/primefaces/application/resource/CollectScriptsResponseWriter.java#L137-

[2017-10-30 21:00] melloware commented on #2781
Yep that for loop needs to use a constant value or iterator might do it.

[2017-10-30 21:04] jxmai commented on #2781
One step further, normally the `getWrapped().endElement("script");` should not call `public void endElement(String name)` itself, when it happens the loop will occur.

[2017-10-30 21:06] jxmai commented on #2781
~~I don't see how `getWrapped().endElement()` can actually call the `endElement()` method in `CollectScriptsResponseWriter`. :confused: but it is actually happening.~~

---

There are two `wrapped` (one in the parent and one in the sub class). The shadow technique should be avoided since it is hard to debug / easy to make mistakes.  PMD (https://pmd.github.io/) will give warning if we try to code

[2017-10-30 22:41] tandraschko commented on #2781
fixed ;)

[2017-10-30 22:52] jxmai commented on #2781
Working now :+1:

[2017-10-30 22:52] tandraschko commented on #2781
Thats really crazy how fast it seems for the human eye - there is actually no need for SPA...

[2017-10-30 22:54] jxmai commented on #2781
Maybe we can merge the showcase pull from melloware (https://github.com/primefaces/showcase/pull/40)  ? The showcase is working now

[2017-10-30 22:56] tandraschko commented on #2781
done!

[2017-10-30 22:57] jxmai commented on #2781
OK, that was fast :+1:

[2017-10-30 22:59] tandraschko commented on #2781
:D little bit funny :D
the last years i did sooo many micro optimizations in PF and MyFaces like reducing object instances to a minimum... the effect is quite small actually for single users but this change feels like you optimize the JSF rendering from 500ms to 50ms....

[2017-10-30 23:02] jxmai commented on #2781
the number of network resources requests is always the biggest bottleneck. Trading network time to cpu time is a very wise move :smile:

[2017-10-30 23:15] tandraschko commented on #2781
yep :D

[2017-10-30 23:21] tandraschko opened #2888 "[Documentation] primefaces.MOVE_SCRIPTS_TO_BOTTOM / move above the fold scripts to the bottom"
it's a new feature, implemented via a custom ResponseWriterWrapper, which does the following:
- Collect all script tags, skip rendering of them
- before the body tag ends, render all script tags
- all of the inline scripts (widget init scripts) will be merged to one big inline script
- the inline-scripts will be also minimized a little bit (like replacing all PrimeFaces.cw with pf.cw)

overall it

[2017-10-31 00:33] melloware commented on #2781
This optimization is a huge one for PF.  I can’t wait to incorporate into my production apps when 6.2 goes final!

[2017-10-31 06:52] ssibitz commented on #2781
It sounds very good and feels like "light speed" when i test it in real application on our Amazon-AWS-Server with much CPU-Power and a lot of RAM.

When i activate this enhancement and combine it with the Primefaces Cache for Menu/Sidebars and also "static" content it feels like using a locale application -

I think it was a good decision to implement this enhancement into Primefaces ;-)

[2017-10-31 08:56] albfan commented on #980
If you have older version of primefaces, you only need to return something from your method to get your dialog open

Tested on primefaces 5.2

[2017-10-31 09:00] rdebusscher commented on #2888
It will also remove the white flickering between page navigation like you can see for example on the online Omega Layout demo. (https://www.primefaces.org/omega/sample.xhtml and click on the different items under the components menu item)

It is caused by one of the jquery-plugins.
If this is removed from the head (and placed just before the end of the body) it is solved.

`<script type="text/java

[2017-10-31 09:41] tandraschko commented on #2781
Yep - also thanks to you @ssibitz! Finally someone give me the "push" to do this!

[2017-10-31 10:54] mertsincan opened #2889 "Add shift key support to select multiple nodes on Tree"

[2017-10-31 10:58] #2889 closed, assigned to mertsincan

[2017-10-31 16:00] tandraschko commented on #2887
Does it work in the native js plugin?

[2017-10-31 16:04] YahiaZZ opened #2890 "TimeLine: zoom issue"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-10-31 19:29] melloware commented on #2890
Please create a reproducible test for us.

Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to receive an answer and a solution.

[2017-10-31 19:31] melloware commented on #2861
Yes everything is expected for filtering to be on Strings or Objects that implement a toString method.  How would you expect it to behave differently?  Or should I say what was your original expected result before you added the toString() method?

Or are you saying that..
`filterBy="#{node.name}"`

Is actually only filtering on node and ignoring name like...
`filterBy="#{node}"`

[2017-10-31 20:10] melloware commented on #735
@tandraschko I say close this issue.  No follow up in 2 years and the Google Code issue originally said it was resolved.

[2017-11-01 00:48] IngAlejandroSalazar opened #2892 "VM513 core.js.xhtml? ln = primefaces & v = 6.0: 3"
hello helpme plesase, use primefaces 6.0, when entering my server it takes too long to load the pages, 17 seconds downloading (VM513 core.js.xhtml? ln = primefaces & v = 6.0: 3) how could this be solved?
LINK: https://ibb.co/ck7Law

[2017-11-01 02:16] melloware commented on #2892
It’s going to be impossible to diagnose just from looking at the network trace but I can tell you from looking at that screenshot your page has some crazy stuff going on there and it looks like it’s making Ajax calls on page load.  I would guess this looks like the “problem” but it’s only a symptom of whatever your inbox.xhtml page is doing...

[2017-11-01 10:04] #2892 closed, assigned to nobody

[2017-11-01 14:31] #735 closed, assigned to nobody

[2017-11-01 14:59] wsaca commented on #2781
Hi guys, I'm trying this new feature, but I there is a problem with BlockUI.

Try the showcase:
http://localhost:8080/showcase/ui/misc/blockUI.xhtml

The next error is displayed:
`TypeError: this.cfg is undefined`

[2017-11-01 15:10] tandraschko commented on #2781
I don't think that is releated to this change - BlockUI also crashed when the feature is disabled.

[2017-11-01 15:15] tandraschko commented on #2781
I fixed it but next time create a own issue please.

[2017-11-01 15:16] wsaca commented on #2781
I put this error here because in my project I'm getting the same problem only when I enable this feature. anyway, thank you.

[2017-11-01 17:16] hfluz commented on #2269
I agree. The result might be the same for the user, but depending on how the data is queried it's easier to use subtable instead of row grouping.

[2017-11-01 20:13] wsaca opened #2893 "SelectOneMenu: doesn't support string selectItem with combined customContent anymore"
Hi, I'm testing the new COLLECT_SCRIPTS and I found the next problem.

## 1) Environment
- PrimeFaces version: 6.2-SNAPSHOT
- Does it work on the newest released PrimeFaces version?
Yes, in version 6.1
- Application server + version: WildFly 10
- Affected browsers: Any browser

## 2) Expected behavior
**p:selectOneMenu** should work if **f:selectItem** is used and the attribute **var** is set.

##

[2017-11-01 20:31] melloware commented on #2893
I think this commit is the one that lost it:  https://github.com/primefaces/primefaces/commit/49c95a753328691ce07695315600ccb24bff4f8a#diff-e4d3a342df3de892c8fd79acabe27e6b

[2017-11-01 20:34] melloware commented on #2893
I am running the showcase locally with the latest 6.2-SNAPSHOT and the advanced custom content example is working fine for me...

![image](https://user-images.githubusercontent.com/4399574/32296396-8a91cc42-bf22-11e7-914e-97e6b9cda2f6.png)

[2017-11-01 20:38] wsaca commented on #2893
The showcase works fine, you should add this line to test it:
<f:selectItem itemLabel="Select one..." itemValue="" />

[2017-11-01 20:48] melloware commented on #2893
Ahh  I think it was removed on purpose if you read through this original ticket.

https://github.com/primefaces/primefaces/issues/1036

The problem is trying to tell a <String> value from an empty no select item.

[2017-11-01 20:54] tandraschko commented on #2893
does the example miss the "var" attribute? The given example can't work actually as #{t} is not resolvable

[2017-11-01 20:57] melloware commented on #2893
If I do this I can verify its broken because its trying to convert the first "Select One" to a Theme object.

[code]

Fails with error:

[2017-11-01 20:57] wsaca commented on #2893
@melloware  if this was removed intentionally, then it should be included in the migration guide because will break the apps that use f:selectItem with the var attribute.

[2017-11-01 20:58] melloware commented on #2893
@Lynx12 no we need to fix it.  I meant intentionally as it was trying to solve the List<String> problem but inadvertently broke this scenario.   I think we need to fix it.

[2017-11-01 21:01] tandraschko commented on #2893
We should really think about it if it's valid....
the custom content can't work correctly in this case as the #{t} is just a string (if we would fix the cast exception)

[2017-11-01 21:06] tandraschko commented on #2893
Or we should just re-introduce the if statement we removed ;)

[2017-11-01 21:21] tandraschko commented on #2893
We had this statement:
if (itemValue == null || itemValue instanceof String) {

if we would correctly fix it, we have to replace "String" with the real value type...

We can do the following:
1) if (itemValue == null) {
    this should normally work correctly (not sure about coercing...) but "itemValue=""" should be removed from the user completly

2) if (itemValue == null || itemValue instanceof

[2017-11-01 21:46] wsaca commented on #2893
You are right, the first option sounds good. What about the use of noSelectionOption?

[2017-11-01 22:46] wal-jan commented on #2577
@fabrii I cannot reproduce the behaviour you described.
[PF2577.zip](https://github.com/primefaces/primefaces/files/1435945/PF2577.zip)
 Please provide test case  (at least sample bean and "entity" classes)

[2017-11-01 22:57] melloware commented on #2893
@tandraschko I like the fix.

[2017-11-02 08:32] ademcaliskan commented on #433
+1
That's the usual way I think. Click enter to accept changes and esc to cancel editing.

[2017-11-02 11:02] YahiaZZ commented on #2890
Hi melloware,
Thank you for your response,
I tried exactly the same code as shown in :
https://www.primefaces.org/showcase-ext/sections/timeline/editServer.jsf;jsessionid=node0tmdix8ekp9cosozw68xtqy5d35498.node0

Thanks again

[2017-11-02 11:32] eversnarf commented on #2861
I expect that it evaluates the expression passed in `filterBy` attribute and applies the filter on that value (by calling `toString()` on that value if necessary).

What happens is that the expression in `filterBy` is just ignored, only its presence is checked.
Whether I use `filterBy="#{node.name}"`, `filterBy="#{node}"`, `filterBy="#{primeFaces.rocks}"` or `filterBy="#{someRandomString}"`, I get

[2017-11-02 11:36] melloware commented on #2861
Understood. then I definitely agree that is a defect.

[2017-11-02 14:58] paulspinelli opened #2894 "DialogFramework: Provide ability to set iframe 'title' attribute (like Lightbox provides)"
PrimeFaces 6.0
The Dialog component constructs an iframe; however, the component does not provide a means to set the 'title' attribute of the resulting iframe. Due to Section 508 requirements, the iframe 'title' attribute must contain descriptive text. The Lightbox component does provide such an attribute (iframeTitle).

[2017-11-02 15:02] #2893 closed, assigned to tandraschko

[2017-11-02 15:57] fabrii commented on #2577
I was able to reproduce the bug if the <p:inputNumber> has a <p:ajax> inside like this:

<p:ajax event="change"
                                        update="form:tabDatosProyecto:proyecto_presupuesto:#{rowIndex}:monto_total_rubro
                                        form:second_accordion:#{colIndex}:table:#{rowIndex}:donaciones_porcentaje
                                        form:second_a

[2017-11-03 03:50] jxmai commented on #2089
Before addressing the performance issue, we should at least provide the `selectAll` api natively.

---

native selectAll: https://github.com/primefaces/primefaces/pull/2896

[2017-11-03 03:53] jxmai opened #2895 "SelectManyMenu: selectAll client side api"
## 1) Environment
- PrimeFaces version: Primefaces latest trunk
- Does it work on the newest released PrimeFaces version? Version? latest
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers:

## 2) Expected behavior

selectManyMenu should have `selectAll` client s

[2017-11-03 10:01] #2895 closed, assigned to tandraschko

[2017-11-03 10:02] tandraschko opened #2897 "[Documentation] SelectManyMenu: selectAll js widget API method"
#2895

[2017-11-03 14:37] jxmai commented on #873
I will raise a patch.

[2017-11-04 01:26] fabrii commented on #2577
[PF2577.zip](https://github.com/primefaces/primefaces/files/1442815/PF2577.zip)
@wal-jan Here it is!

[2017-11-04 21:06] wal-jan commented on #2577
I just simplified Fabricios test case.  [PF2577.zip](https://github.com/primefaces/primefaces/files/1443572/PF2577.zip) So yes it's reproducible.

Looks like a rendering problem of `p:ajax`s `update` attribute if it contains `p:dataTable`s row index and/or `p:columns`s column index.

Maybe the title of this issue should be renamed to "p:ajax update inside p:columns breaks rendering" (or similar).

[2017-11-05 11:07] Rapster commented on #1437
Don't have time for this one

[2017-11-05 20:20] #1661 closed, assigned to melloware

[2017-11-06 01:55] jxmai commented on #1169
@andreas-bochkov,  @dkokkal Is it still a problem :thinking: ?  I was evaluating this feature and did not experience any issue so far.

Here is the test code I used:

[code]

---

[code]
[code]

before adding:

![snapshot1](https://user-images.githubusercontent.com/10467831/32422014-1c21471c-c263-11e7-8a6a-1457d798168e.png)

after adding:

![snapshot1](https://user-images.githubusercontent.com/104

[2017-11-06 02:40] fabrii commented on #2577
@wal-jan Thank you very much for your help!

@tandraschko you can update label.

[2017-11-06 08:51] robertfdx commented on #2887
^ No.

[2017-11-06 09:11] tandraschko commented on #2887
So please create a issue on their side ;)

[2017-11-06 09:11] #2887 closed, assigned to nobody

[2017-11-06 10:31] djmj opened #2901 "Theme: DataTable scrollable - header above scrollbar wrong styling"
Open showcase https://www.primefaces.org/showcase/ui/data/datatable/scroll.xhtml and for example use theme blitzer. You will notice a red header above the scrollbar from the theme.

At header _ui-widget-header ui-datatable-scrollable-header_ just add _ui-state-default_. Same for footer.

![scrollable](https://user-images.githubusercontent.com/5265550/32436865-c08ef10a-c2e5-11e7-890e-67b1c24660f6.j

[2017-11-06 13:12] melloware opened #2902 "Datatable: Frozen Column loses scrollbar in Chrome when filtered"
In Primefaces 6.1.8 and 6.2.0-SNAPSHOT.

Attached is my test project showing the issue
[pf2902.zip](https://github.com/primefaces/primefaces/files/1446285/pf2902.zip)

If you filter to have no records you can see in MS Edge the scrollbar remains but in Chrome it is lost not allowing the user to scroll over to clear a filter that may have caused the table to have no rows:

**Chrome**
![image](https

[2017-11-06 16:13] cklaffke opened #2903 "AutoComplete: Accessibility of column"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: Wildfly 10
- Affected browsers: Chrome, IE, Firefox (all I tested)

## 2) Expected behavior
When using p:autocomplete with both attribute "itemLabel" and child "p:column", a screen reader should read the content of "p:column" when scrolling through search results and the content of "itemLabel" when an element is selected.

[2017-11-07 05:30] ng-anton commented on #1152
does this vulnerability also affect primefaces 4.0? @cagataycivici

[2017-11-07 07:09] tandraschko commented on #1152
Probably, but not sure. You have to check the sources.

[2017-11-07 08:59] #2902 closed, assigned to mertsincan

[2017-11-07 13:20] nalmeida84 commented on #1820
I'm facing some visual troubles due to this lack of feature too. :+1:

[2017-11-07 16:50] p1Machado opened #2905 "TextEditor: inside TabView don't load hidden input field"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? Didn't try yet.
- Application server + version: Tomcat 8.0
- Affected browsers: Chrome and IE11 (didn't test any other)

## 2) Expected behavior

If a texteditor is placed inside a tabview's tab, it should load the hidden input field eagerly, even

[2017-11-07 19:38] melloware commented on #2905
It might be easier to create a fully reproducible test case using this test harness project and attach it here:

Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to receive an answer and a solution.

[2017-11-07 19:49] tandraschko commented on #2905
Your example is not runnable for us - please update it or we will close it as invalid.

[2017-11-07 19:49] tandraschko commented on #2599
No response, will close it.

[2017-11-07 19:49] #2599 closed, assigned to nobody

[2017-11-07 19:50] #2374 closed, assigned to nobody

[2017-11-07 19:50] p1Machado commented on #2905
OK. Just give me a little time and I will provide it

Em ter, 7 de nov de 2017 17:49, Thomas Andraschko <notifications@github.com>
escreveu:

[2017-11-07 19:56] jxmai commented on #2905
OK, I could replicate the issue, but please attach a runnable project next time.

Here is the code:

[primefaces-test-2905.zip](https://github.com/primefaces/primefaces/files/1451414/primefaces-test-2905.zip)

[code]

[code]

![image](https://user-images.githubusercontent.com/10467831/32514657-558f848a-c3c3-11e7-84c6-d5aae94d23ac.png)

In the console, ```<p>test2</p>``` is missing when we click te

[2017-11-07 20:20] p1Machado commented on #2905
Thank you @jxmai. This is the first time I interact here. Next time I will provide a running sample.

This is the issue, looks like Quill just didn't started, maybe it depends on rendering the element or some other event (like keyup or change).

[2017-11-07 20:26] jxmai commented on #2905
No problem :) Most components  trigger `this.renderDeferred();` on init so when the view is not visible, they don't render. The problem here might be something deeper since I didn't see any obvious mistake at first glance. If you are willing to take a look to help solving the issue that will be great.

[2017-11-07 20:37] p1Machado commented on #2905
I have a busy week at college right now, at the weekend I might try to figure out some solution.

[2017-11-07 21:52] jxmai commented on #2905
Nevermind, I figured out the cause. I will raise a patch shortly.

[2017-11-07 23:02] jxmai opened #2907 "TextEditor: unnecessary p tag is generated to contaminate the original value"
## 1) Environment
- PrimeFaces version: 6.2 trunk
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers: all

## 2) Expected behavior

The original value should not be contaminated by the textedit

[2017-11-08 05:02] ng-anton commented on #1152
@tandraschko primefaces 4.0 has a different way of handling this kind of request. primefaces 4.0 has no StreamedContentHandler.java and DynamicResourceBuilder.java. But primefaces 4.0 has PrimeResourceHandler.java that is similar to StreamedContentHandler.java. Can I safely assume that primefaces 4.0 has no of this issue?

[2017-11-08 08:17] tandraschko commented on #1152
Nope sry, it has the same problem.

[2017-11-08 08:18] #2907 closed, assigned to tandraschko

[2017-11-08 08:18] tandraschko commented on #2907
Thanks ;)

[2017-11-08 08:20] #2905 closed, assigned to tandraschko

[2017-11-08 09:24] ng-anton commented on #1152
@tandraschko oh my... so is it sufficient if I just modify the PrimeResourceHandler.java just like StreamedContentHandler.java? What is the replacement of DynamicResourceBuilder.java in pf 4.0?

[2017-11-08 09:31] tandraschko commented on #1152
Don't have time to help you here. The DynamicResourceBuilder logic was was in each Renderer (GraphicImage, Media and another one). I would just upgrade, we fixed also some XSS and many other bugs in the last years.

[2017-11-08 11:01] ng-anton commented on #1152
@tandraschko i don't have time and resources to upgrade :) even though i want to upgrade. i think i will also look into each Renderer as you mentioned. thank you very much.

[2017-11-08 11:39] p1Machado commented on #2905
Nice!

Since I want to keep my project in 6.1 right now, I simply copied the fix into a subclass of TextEditorRenderer and registered this new renderer:

[code]

[code]

Thank you, guys! ;D

[2017-11-08 13:03] #1194 closed, assigned to mertsincan

[2017-11-08 15:05] happyherp opened #2909 "FileUpload: advanced upload fails - Missing content for multipart request"
## 1) Environment
- PrimeFaces version: The one that is deployed on primefaces.org on 8.11.2017 15:50

- Browser: Firefox 56.0.2 (64-Bit) and Google Chrome  Version 61.0.3163.100 (Offizieller Build) (64-Bit)
- OS: Windows 110

## 2) Expected behavior

I don't know.

## 3) Actual behavior

Stacktrace appears

`java.lang.RuntimeException: java.io.IOException: Missing content for multipart request
at

[2017-11-08 15:06] happyherp commented on #2909
![grafik](https://user-images.githubusercontent.com/2945814/32556081-b5ca4912-c49e-11e7-8b70-5dd83a0364e2.png)

Screenshot as proof.

[2017-11-08 15:31] tandraschko commented on #2909
Can you reproduce it in your app or is it just in the showcase? Maybe we just dont set the encType in the showcase.

[2017-11-08 15:34] giorgioprimefaces opened #2910 "AutoComplete: forceselection="true" triggers multiple requests"
## 1) Environment

Defect on PF 6.1.7 and 6.1.8 (was working on PF 6.1.3 and previous) not tested 6.1.4, 6.1.5, 6.1.6
using Apache Tomcat 7.068

 ## 2) Expected behavior
listener called once

## 3) Actual behavior
 after item selection if I click anywhere outside the autocomplete listener is called one more time

## 4) Steps to reproduce

set forceSelection="true" using a converter

## 5) Sample X

[2017-11-08 15:39] jxmai commented on #2910
It sounds like a regression, but your sample is not runnable. Please provide a sample based on https://github.com/primefaces/primefaces-test or  paste a fully runnable bean + xhtml

[2017-11-08 15:42] happyherp commented on #2909
In the app I am still using richfaces for fileuploads where I ran into this similiar issue:
https://issues.jboss.org/browse/RF-11988
I was thinking of migrating the component(mine) that does fileuploads to primefaces to fix that problem. As you can see, I did not come very far.

[2017-11-08 16:30] tandraschko commented on #2909
Seems like nothing will be uploaded, maybe because of our jquery update

[2017-11-08 16:41] melloware commented on #2909
Hmm I am using PF 6.1.8 with the JQ update and File Upload is working in my production projects.

With Jboss EAP 6.4.  could this be a Jetty issue?

[2017-11-08 16:53] tandraschko opened #2911 "FileUpload: update scripts"

[2017-11-08 16:54] #2911 closed, assigned to tandraschko

[2017-11-08 16:58] tandraschko commented on #2909
Can you try 6.2-SNAPSHOT in your application? Not sure if it's a jetty problem.

[2017-11-08 17:09] tandraschko commented on #2909
The problem is commons-fileupload in combination with jetty currently: https://github.com/eclipse/jetty.project/issues/182

will switch to native upload for the showcase - this also fixes the problem

[2017-11-08 17:10] #2909 closed, assigned to nobody

[2017-11-08 17:11] jxmai commented on #2313
@tandraschko This issue can be closed. It was the same bug as https://github.com/primefaces/primefaces/issues/2905

[2017-11-08 17:13] tandraschko commented on #2910
@mertsincan Can you check this? Not sure if broken in trunk but it seems that it broke between 6.1.3 and 6.1.7

[2017-11-08 17:14] #2313 closed, assigned to nobody

[2017-11-08 17:22] fkjaekel commented on #2313
Please backport this to 6.1 too

[2017-11-08 17:55] erickdeoliveiraleal commented on #2648
I'm also with this problem and was working in past, same code works in 6.1 but not in 6.2-SNAPSHOT. Using WildFly 11 and SNAPSHOT of today.

[2017-11-08 18:04] tandraschko commented on #2313
@mertsincan Would you like to backport?

[2017-11-08 18:05] tandraschko commented on #2648
Did you check the migration guide? we removed autoUpdate as attribute

[2017-11-09 02:21] jxmai commented on #2803
@tandraschko This issue can be closed since I can confirm 1.3.3 is also a buggy version.

---

I am currently negotiating with quill maintainer for that regression, and it might take some time. Hopefully we can see some result soon. :pray:

[2017-11-09 07:12] Berger1994 opened #2912 "OutputPanel: deferred="true" not working with selectOneMenu default selection"
## 1) Environment
- PrimeFaces version: 6.1.7
- Application server + version: payara 4.1.1.164
- Affected browsers: all

## 2) Expected behavior

...

## 3) Actual behavior
I want to use the `outputPanel` component in forms with big data in deferred mode. The problem is, that the default selection of the component `selectOneMenu` get lost.
..

## 4) Steps to reproduce
Open the following page and i

[2017-11-09 08:15] tandraschko commented on #2803
All right, please come back if you have news!

[2017-11-09 08:15] #2803 closed, assigned to nobody

[2017-11-09 10:19] YahiaZZ commented on #2890
Hi,
the same issue when I tried the primefaces extensions timeline example
Please could you help
Thanks

[2017-11-09 13:46] Rapster opened #2913 "SplitButton: support dynamic model"
Just like components like MenuButton, Menu, etc. They support programmatic model. Would be awesome to do the same with SplitButton. Someone requested this feature some time ago https://forum.primefaces.org/viewtopic.php?p=70595

[2017-11-09 13:48] melloware commented on #2913
duplicate of https://github.com/primefaces/primefaces/issues/766

[2017-11-09 14:18] #2913 closed, assigned to nobody

[2017-11-09 14:22] Rapster commented on #2913
My bad :(

[2017-11-09 16:00] jxmai opened #2914 "Build source warning: *** must be private and have accessor methods."
## 1) Environment
- PrimeFaces version: PF 6.2 trunk
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version:
- Affected browsers:

## 2) Expected behavior

There should not be any warning during source audit

## 3) Actual

[2017-11-09 16:04] tandraschko commented on #2914
-1 for changing something here ;)

[2017-11-09 16:05] jxmai commented on #2914
Just leave it as is ? :thinking:

[2017-11-09 16:06] tandraschko commented on #2914
Whats the problem with that code? Just check the usages, using getter would be not that nice

[2017-11-09 16:08] jxmai commented on #2914
OK, I see :) Not a problem really but the  compilation process always pop up some warning so I thought it might be worth taking a look.

[2017-11-09 16:31] jxmai commented on #2914
I checked the usage. `expectedType` is used by `AjaxBehaviorHandler` and `ConfirmBehaviorHandler`

https://github.com/primefaces/primefaces/blob/88ab4bfbdaa6e0c1e38d288d434b1fb37f5090ec/src/main/java/org/primefaces/behavior/ajax/AjaxBehaviorHandler.java#L79-L101

https://github.com/primefaces/primefaces/blob/88ab4bfbdaa6e0c1e38d288d434b1fb37f5090ec/src/main/java/org/primefaces/behavior/confirm/Con

[2017-11-09 17:07] #2914 closed, assigned to nobody

[2017-11-09 18:14] jxmai commented on #2832
This issue is causing by the default behavior of quill editor, and I have yet to find a clean solution since the keyboard event is hidden somewhere.

https://stackoverflow.com/questions/32495936/quill-js-how-to-prevent-newline-entry-on-enter-to-submit-the-input

The answer was from quill maintainer, but I would say that's just a workaround.

Notice that he also mentioned that `A removeHotkey API h

[2017-11-09 20:07] vitsin opened #2915 "<p:dataExporter type="xls" throws Exception"
GUI issue: element <p:dataExporter type="xls" returns:
SEVERE: Servlet.service() for servlet [Spring MVC Dispatcher Servlet] in context with path [] threw exception [Handler dispatch failed; nested exception is java.lang.NoSuchMethodError: org.apache.poi.ss.usermodel.CellStyle.setAlignment(S)V] with root cause
java.lang.NoSuchMethodError: org.apache.poi.ss.usermodel.CellStyle.setAlignment(S)V
	at

[2017-11-09 21:04] tandraschko commented on #2915
POI 3.17 is not supported in 6.1: https://github.com/primefaces/primefaces/issues/2885

[2017-11-09 21:04] #2915 closed, assigned to nobody

[2017-11-10 07:11] mertsincan opened #2917 "Add unselect support to selectionMode="add" on DataTable"

[2017-11-10 07:14] #2917 closed, assigned to mertsincan

[2017-11-10 07:53] cagataycivici commented on #2648
@tandraschko We should not break backward compatibility, we should keep autoUpdate property as well, deprecate it and remove it in a future release, we can't remove features before deprecating them. Otherwise many users will have troubles like these.

[2017-11-10 08:48] mertsincan opened #2918 "Filter is not working with field attribute on DataTable"
Reported By PRO User;

It broke the UI but you fixed it. Unfortunately it looks like that now the filters do not work. ..

Test codes;
[code]

[code]

[code]

[2017-11-10 08:51] #2918 closed, assigned to mertsincan

[2017-11-10 09:33] sato92 commented on #2631
// package org.primefaces.component.datatable.feature;
// overwrite the encode method from SortFeature class.

[code]

[2017-11-10 09:36] Rapster commented on #2631
Please make a PR instead (so we can see the differences, but... it doesn't look like a fix to me, more like workaround)

[2017-11-10 10:09] rainermueller commented on #1525
Issue still exists using PrimeFaces 6.1.5 and Chrome Version 61.0.3163.100 running on OSX 10.12.6.

[2017-11-10 10:29] mertsincan opened #2919 "RequestContext throws an exception with JSF2.0"
The isReleased() is a JSF 2.1 feature.

[2017-11-10 10:31] #2919 closed, assigned to mertsincan

[2017-11-10 12:13] cnsgithub opened #2920 "Exception when using sortBy in PF 6.1.8 when datatable is not in a form"
Hi, PF6.1.8 @ WildFly11 - Using the Showcase classes

[code]
causes

[code]

Adding a form makes it work.

[code]

[2017-11-10 12:14] tandraschko commented on #2920
As sorting in done on the server AFAIR, the dataTable must be inside a form. @melloware correct me please if it's not correct.

[2017-11-10 12:14] #2920 closed, assigned to nobody

[2017-11-10 12:20] melloware commented on #2920
Yes a datatable must reside inside an h:form and sorting and filtering do form submit's to send the data.

[2017-11-10 12:25] melloware commented on #1525
Have we determined if this is a straight jQPlot issue by taking PrimeFaces out of the equation altogether? I know there have been other issues reported around exporting...

https://github.com/jqPlot/jqPlot/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20export

[2017-11-10 12:36] melloware commented on #2894
The section he is referring to is:  https://www.section508.va.gov/support/webdev/5_5a.asp

I can look at this one if you want @tandraschko ?

Also should there be a default title="" if no title is specified by the user.  Something like title="Dialog"?

[2017-11-10 12:41] tandraschko commented on #2894
Why not ;) I woudln't change the default for now

[2017-11-10 17:40] melloware commented on #1817
Duplicate of: https://github.com/primefaces/primefaces/issues/2626

[2017-11-10 19:45] jxmai commented on #2648
Agree with cagatay. In the comment section of the original proposal (https://github.com/primefaces/primefaces/issues/2838#issuecomment-337923332), we agreed that

and proposal itself did not indicate removing `autoUpdate` attribute, otherwise I would catch it at that time.

I thought it was only an enhancement on top of the current `autoUpdate` at least in PF 6.2.

Not sure about the policy, but .

[2017-11-10 20:17] #2626 closed, assigned to nobody

[2017-11-10 20:17] tandraschko commented on #2626
Duplicate

[2017-11-10 20:18] tandraschko commented on #2648
the problem is you can't avoid breaking changes - in 90% you also need some changes AND this change is quite small for the user.
You just need to search for autoUpdate=true and add the child tag instead, it's almost impossible to do something wrong here.

[2017-11-10 20:20] tandraschko commented on #2648
versionsnumbers are like: major.minor.bugfix/hotfix
for me it's a minor feature.
Upgrading jquery to 2.x is IMO a much more risky task in such a minor version upgrade ;)

[2017-11-10 20:26] #1727 closed, assigned to tandraschko

[2017-11-10 20:27] tandraschko commented on #1727
Thanks!

[2017-11-10 20:27] #2617 closed, assigned to tandraschko

[2017-11-10 20:28] tandraschko opened #2926 "[Documentation] DF: closeOnEscape"

[2017-11-10 20:32] jxmai commented on #2648
did not check the implementation. Looking at https://github.com/primefaces/primefaces/commit/68e456357d0c45720d9854204c16426b12b5033a right now: it seems like a major refactoring was done in one commit (enhancement and removal)

---

Yes, that's true.  :+1:

Hmm, It is hard to tell whether it is a minor feature or major. Since all the components are now supporting autoUpdate, and the previous attr

[2017-11-11 15:17] tandraschko commented on #2648
not sure :D but if the user don't read the migration guide, it will not work in the major version, too... So we can never remove any attribute anymore :P

[2017-11-11 16:01] jxmai commented on #2648
Alright. That's a point. Overall I still think it is a cool feature, but it might be even better to keep backward compatible in this point release :cowboy_hat_face:, but as you said, migration is not that hard and migration guide is clear enough.  I have no problem then :+1:

[2017-11-11 23:22] jxmai commented on #2910
@mertsincan Just a guess, but it might be worth revisiting this ticket: https://github.com/primefaces/primefaces/issues/2733 and this commit: https://github.com/primefaces/primefaces/commit/711b002204aaf73cd1240470ab9ccfbf190132c2

[2017-11-12 07:39] mertsincan commented on #2910
I'll check it.

[2017-11-12 21:41] rkrenn commented on #2179
can confirm above steps work; although maven/java1.6 is then not yet capable of processing that 2048bit certificate.

hence i had to move to bouncycastle -> https://stackoverflow.com/questions/6851461/java-why-does-ssl-handshake-give-could-not-generate-dh-keypair-exception/6862383

is it possible to disable that redirect form http://repository.primefaces.org/ to https://repository.primefaces.org/

[2017-11-13 07:31] Rapster opened #2927 "MenuButton: Missing ui-widget class"

[2017-11-13 09:16] cnsgithub opened #2929 "FileUpload: weird CSS Behaviour (200px fontsize)"
Hi, why does the ui-fileupload input element have a 200px font-size?

This is causing some strange additional space under some circumstances resulting in scrollbars where they should not appear

![image](https://user-images.githubusercontent.com/13161711/32717873-89ecd6fa-c85b-11e7-9905-21a111c4230b.png)

workaround used:

[code]
If there is no known reason to use this, it would be good to change

[2017-11-13 09:57] tandraschko commented on #2927
Thanks!

[2017-11-13 09:57] #2927 closed, assigned to tandraschko

[2017-11-13 17:39] kbrown2017 opened #2931 "DataTable: Vertical Header"
**1) Environment**
- PrimeFaces version: 6.1
- Affected browsers: Chrome, IE, FireFox

**2) Expected behavior**
For accessibility purposes, data tables should allow for there to be two headers within the table, both the top row headers as well as headers in the first column. The top row headers should have the scope of "col" on each <th> tag. As for the first column headers, the first <th> tag sho

[2017-11-14 00:12] jxmai commented on #2845
Actually this ticket is duplicate of #2048 that was reported quite a while ago.

[2017-11-14 00:19] jxmai commented on #2048
adding caption support is trivial but dealing with pagination is quite challenging from spec wise as we have no place to hold the upper pagination bar. leaving pagination will lead to the case when the table header renders under pagination.

[2017-11-14 00:22] jxmai commented on #2048
This was a failed attempt: https://github.com/primefaces/primefaces/pull/2855. Mostly there, but the pagination + header case had failed.

[2017-11-14 08:24] #2845 closed, assigned to nobody

[2017-11-14 09:07] mertsincan opened #2932 "All dynamic columns highlighted on update after sorting a column"
Reported By PRO User;

Test code;
[code]

[2017-11-14 09:08] #2932 closed, assigned to mertsincan

[2017-11-14 10:05] mmariotti opened #2933 "DataTable: Paginator JumpToPageDropdown slows dataTable update"
I found the issue using `{JumpToPageDropdown}` on a large dataset.
While server side took about 200ms to process the request and write the response, the browser took about 5s to update the UI.
The slow effect is emphasized using a <p:blockUI>.
Further investigation led to this piece of code:
[code]

There are two bottlenecks in this code:

1. rebuilds options when it's not necessary
2. appends opt

[2017-11-14 12:28] #2910 closed, assigned to mertsincan

[2017-11-14 12:30] melloware commented on #2933
First, what you are seeing is a known problem in IE for many many years.  The larger your "options" list the worst the performance.  See the following:

https://stackoverflow.com/questions/26230200/slow-select-option-rendering-in-internet-explorer-with-large-number-of-items-c

https://github.com/primefaces/primefaces/issues/2089

Second, I agree with your optimization it will definitely help a lit

[2017-11-14 13:01] mertsincan opened #2935 "The blockScroll attribute is not working correctly on sidebar"

[2017-11-14 13:01] #2935 closed, assigned to mertsincan

[2017-11-14 14:27] melloware commented on #2901
@djmj please review my PR.

[2017-11-14 14:28] ennerf opened #2937 "Datatable: Colspan problem with hidden columns and row expansion"
The row expansion  is causing layout problems when the main table has hidden columns. The same issue was filed before in #1037 and was supposedly fixed in 6.0.

However, I'm still seeing the same behavior in 6.0 and 6.1.

The issue disappears after also adding **resizableColumns="true"**

[2017-11-14 17:44] koan00 opened #2938 "selectOneMenu: with lazy="true" not rendered correctly after ajax update"
## 1) Environment
- PrimeFaces version: 6.2-SNAPSHOT Git Hash: 72a25feaf374be910c1fab22662074e4763be8b8
- Does it work on the newest released PrimeFaces version? New Feature after 6.1, unavailable.
- Application server + version: Tomcat 7.0.82 / Mojarra 2.2.14
- Affected browsers: Firefox 57, IE 11, Chrome 62

## 2) Expected behavior

selectOneMenu selection options update to use latest values fro

[2017-11-15 04:24] jxmai commented on #1983
PR: #2939

[2017-11-15 07:52] mertsincan opened #2940 "Multiple shift selection is not work after tree is updated"

[2017-11-15 07:53] #2940 closed, assigned to mertsincan

[2017-11-15 09:17] #1983 closed, assigned to tandraschko

[2017-11-15 09:17] tandraschko commented on #1983
Thanks!

[2017-11-15 10:23] stasal opened #2941 "TimeLine: Add localization to the wiki"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest sources in GitHub? Didn't build the latest version. But according to sources the problem still exists
- Application server + version: Weblogic 12.2.1.0 (Don't think it matters)
- Affected browsers: all

## 2) Expected behavior
Primefaces i18n (https://github.com/primefaces/primefaces/wiki/Locales) works fine for Timeline comp

[2017-11-15 11:12] mertsincan opened #2942 "Add mode attribute to progressbar"
mode="determinate(default) | indeterminate"

Commit; https://github.com/primefaces/primefaces/commit/1441ba142f660d26310d0283d520120fd60de5d2#diff-b9ccf7211aacb6d3556099e927c1eaf6

[2017-11-15 11:15] #2942 closed, assigned to mertsincan

[2017-11-15 11:23] AskIng87 commented on #2510
Is there any progress with this problem?

If you choose unselectable="false" there is alwasy the problem, that the ui-state-active within the active item will replaced by an ui-state-focus. You have to click outside the element to get the ui-state-active back. Can u fix this problem? If an item is selected an the "unselectable=false" attribute is set, you should remove ui state-active.

[2017-11-15 11:27] AskIng87 opened #2943 "SelectOneButton: unselectable=false, but the ui-state-active is replaced by an ui-state-focus on click instead of adding it."
If you choose unselectable="false" there is alwasy the problem, that the ui-state-active within the active item will replaced by an ui-state-focus. You have to click outside the element to get the ui-state-active back. Can u fix this problem? If an item is selected an the "unselectable=false" attribute is set, you should remove ui state-active.

## 1) Environment
Primefaces 6.1.5

## 2) Expected b

[2017-11-15 11:28] AskIng87 commented on #2943
See also https://github.com/primefaces/primefaces/issues/2510

[2017-11-15 11:31] irieill opened #2944 "p:fileDownload not working with p:commandLink and f:param under some circumstance"
## 1) Environment
- PrimeFaces version:
6.1
- Does it work on the newest released PrimeFaces version? Version?
No. 6.1
- Does it work on the newest sources in GitHub?
No. 6.2-SNAPSHOT
- Application server + version:
WildFly 10.1.0.Final
- Affected browsers:
tested with IE11 and FF58
## 2) Expected behavior
Using p:fileDownload in combination with p:commandLink (ajax="false") and f:param should wor

[2017-11-15 12:27] tandraschko commented on #2943
Works fine for me in trunk. @mertsincan would be able to port my fixes into elite if required ;)

[2017-11-15 12:27] #2943 closed, assigned to nobody

[2017-11-15 12:30] tandraschko commented on #2941
A PR for the wiki (if possible) would be great. Seems like the documation was not moved to primefaces.

[2017-11-15 12:31] tandraschko commented on #2938
PR is welcome

[2017-11-15 12:37] melloware commented on #2510
This fix is included in the upcoming PF 6.2 release.

[2017-11-15 12:50] PlassJ opened #2946 "DataTable: more stateful behaviour for the expandedRowGroups"
Dear Primefaces community,

we are currently using the Datatable with the new expandableRowGroups feature.
Data in the Datatable is sorted by day.
When we process and update the datatable all states of the expandableRowGroups get lost.
So as subtables are deprecated and a mix of accordionPanel and datatables did not feel very good,
i would like to suggest something like this:

- add an attribute t

[2017-11-15 12:50] #2443 closed, assigned to melloware

[2017-11-15 12:50] #2794 closed, assigned to nobody

[2017-11-15 12:54] melloware commented on #2941
This page from Extensions needs to be ported over to the PF wiki.

https://github.com/primefaces-extensions/primefaces-extensions.github.com/wiki/PrimeFaces-Extensions-Locales

[2017-11-15 12:58] tandraschko commented on #2941
Yep, we must also check if the locales js namespace has been changed.

[2017-11-15 12:58] melloware commented on #2890
Is this similar to this issue which was fixed?  @PlassJ

https://github.com/primefaces/primefaces/issues/1995

[2017-11-15 13:19] PlassJ commented on #2890
That may well be. But i didn't realy understand what is happening here.
@YahiaZZ can you reproduce this in the Primefaces showcase ?
And timeAxis on top or on bottom ? =)

[2017-11-15 13:57] subhojit11 opened #2948 "Bar Chart doesn't work when X axis values are same"
## 1) Environment
- PrimeFaces version: 6.0
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server: Tomcat
- Affected browsers: IE

## 2) Expected behavior

Should generate the chart as per the X axis values.

## 3) Actual behavior

Only one value in X axis shown.

## 4) Steps to reproduce
Create a bar chart where X axis

[2017-11-15 14:14] melloware commented on #2948
Is that right?  You have 3 values mapped to 2004 I am guessing only the last one wins?  You would have to create 3 separate Series and map each one to get its own bar right?

[2017-11-15 14:14] melloware commented on #2948
And when you say it doesn't work do you get an error?  If so please post error and screenshot.

[2017-11-15 15:08] #2944 closed, assigned to tandraschko

[2017-11-15 15:08] tandraschko commented on #2944
Thanks!

[2017-11-15 15:26] melloware commented on #2890
@PlassJ yes i was having trouble understanding what the exact issue was too.

[2017-11-15 15:30] NicolaIsotta opened #2949 "Button: icon should have normal font-weight"
## 1) Environment
- PrimeFaces version: 6.1 with Omega theme
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: All
- Affected browsers: All

## 2) Expected behavior
Icon inside buttons/commandbuttons should have a n

[2017-11-15 15:33] melloware commented on #2949
@mertsincan Thoughts?  To me these should not be bold?

[2017-11-15 15:50] NicolaIsotta commented on #2949
WIth Aristo the font-weight seems ok but the `overflow: hidden;` on `.ui-icon` cuts a part of the icon:
![cattura](https://user-images.githubusercontent.com/18428155/32845437-f821cc96-ca24-11e7-9064-13f5681adc3b.JPG)

[2017-11-15 16:11] tandraschko commented on #431
Will close it as Won't Fix for now as it was the only reqeust in 2,5 years and i don't have time for it.
So if some needs the feature in the future there are 2 ways:
1) discuss a possible solution with the PF devs and after that, the report must provide a PR
2) sponsor this feature via PrimeFaces PRO

[2017-11-15 16:17] #2929 closed, assigned to tandraschko

[2017-11-15 16:19] #873 closed, assigned to tandraschko

[2017-11-15 16:19] tandraschko commented on #873
Thanks!

[2017-11-15 16:33] mauromol commented on #431
The fact that nobody requested this in 2.5 years is a poor argument, indeed. Bean Validation API and validation groups have always existed. This lets me think nobody uses it seriously with PrimeFaces or simply gave up to.
Also, I don't see the point about closing the issue, anyway I acknowledge your decision.

[2017-11-15 16:37] tandraschko commented on #431
Would you like to implement this feature? So we can reopen.
I think this feature is not often used - many people might even not know.

[2017-11-15 16:43] mauromol commented on #431
By "this feature" you mean the MetadataTransformer? Or the use of validation groups?

[2017-11-15 16:45] tandraschko commented on #431
A way to execute BvMetadataTransformer only for a specific constraint

[2017-11-15 16:58] mallorygiles commented on #431
I have been following this issue as I do use the metadata transformer and have had issues when I use a validation group as well. Just speaking up so that it's known that there is interest. I do understand the 2 ways you've given to have this feature added. I agree with @mauromol that others have given up or in my case used a hack of a workaround.

[2017-11-15 17:27] mauromol commented on #431
Sorry, I don't understand: how can you say that this feature is not often used if it does not exist currently?
Anyway, the primary purpose of grouping is not to enforce just a specific constraint, but rather to either perform multi-step validation (and this would be useful in wizards) or to validate objects against different "protocols" or "specification versions". Right now, this can be done with

[2017-11-15 17:37] tandraschko commented on #431
sry - not constraints, i meant groups ;)

[2017-11-15 21:46] mertsincan opened #2950 "Add multipleDrag attribute to Tree"
When enabled, the selected multiple nodes can be dragged from a tree to another tree.

[2017-11-15 21:48] #2950 closed, assigned to mertsincan

[2017-11-15 22:24] mertsincan opened #2951 "Add dragdrop event support to Tree with multipleDrag="true""
Exp;
[code]

[code]

[2017-11-15 22:26] #2951 closed, assigned to mertsincan

[2017-11-15 22:45] mertsincan opened #2952 "Multiple Selection is not working with Context Menu on Tree"

[2017-11-15 22:46] #2952 closed, assigned to mertsincan

[2017-11-15 23:01] myset commented on #2915
It works with POI 3.16

[2017-11-16 00:01] mertsincan opened #2954 "InputMask plugin issue on Android devices"
Issues;
https://github.com/digitalBush/jquery.maskedinput/issues/391
https://github.com/digitalBush/jquery.maskedinput/issues/382

[2017-11-16 00:03] #2954 closed, assigned to mertsincan

[2017-11-16 01:27] mertsincan opened #2955 "Minimized dialogs doesn't always contain the CSS class "ui-dialog-minimized""
Reported By PRO User;

[2017-11-16 01:28] #2955 closed, assigned to mertsincan

[2017-11-16 05:25] subhojit11 commented on #2948
You're correct. Idea came to my mind later, I need to create 3 separate series and to map each other. I believe it's not a bug.

[2017-11-16 07:10] mmariotti commented on #2933
@melloware didn't know about this IE issue, good to know.
Thank you.

[2017-11-16 07:33] mmariotti opened #2956 "UITree: add support for Pre and PostValidateEvent"
Hello,
I'm trying to listen to Pre/PostValidateEvent on UITree without success.
As you can see from the next snippet, events are not published by processValidators():

[code]

Instead, this should be:

[code]

Thank you

## 1) Environment
- PrimeFaces version: 6.1.8
- Does it work on the newest released PrimeFaces version? no
- Does it work on the newest sources in GitHub? no
- Application server

[2017-11-16 07:37] #2948 closed, assigned to nobody

[2017-11-16 08:13] tandraschko commented on #2956
I don't think it was ever implemented in UITree ;) Feel free to provide a PR.

[2017-11-16 12:45] melloware commented on #2956
PR submitted.

[2017-11-16 14:05] melloware commented on #2941
@stasal can you help here with this one since you are an active user of the component and are familiar with the settings to update that Wiki page?

[2017-11-16 14:06] melloware commented on #2901
See the conversation in the PR.  Seems like this was intended styling it just looks goofy in some themes like Blitzer.  https://github.com/primefaces/primefaces/pull/2936

[2017-11-16 14:15] cmaulini opened #2958 "dataExporter: lazy dataTable rows attribute not restored after exportation"
## 1) Environment
- PrimeFaces version: 6.1.8
- Does it work on the newest released PrimeFaces version? Version? No.
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) No.
- Application server + version: Apache Tomcat 8.5.23
- Affected browsers: All.

## 2) Expected behavior

When a lazy dataTable is exported usin

[2017-11-16 14:26] matsandreassen commented on #2326
Hi!

I'm attempting to use the chips component in 6.1.8 and I seem to have encountered this bug even though this issue was closed on May the 3rd.

I've looked in the code and it still seems to write the toString() value.

Was this forgotten for the 6.1-branch?

[2017-11-16 14:28] tandraschko commented on #2958
Already done in trunk, just search in the issue tracker next time ;) it's up to @mertsincan to port it to elite.

[2017-11-16 14:28] #2958 closed, assigned to nobody

[2017-11-16 14:29] tandraschko commented on #2326
@mertsincan would you like to port this, too?

[2017-11-16 14:48] markusg80 commented on #2278
Still same issue for me also with Primefaces Elite 6.1.8. Is there now a fix?

[2017-11-16 14:58] melloware commented on #2278
Yes and @mertsincan would have to backport it from 6.2 to 6.1.9.   If you are a PRO user you can simply submit the request under your PRO account or if not a PRO user just hope and pray @mertsincan decides to backport this.  Or wait for 6.2 next month.

[2017-11-16 15:08] xxiFear opened #2959 "SelectCheckboxMenu selected items not consistent with checkboxes in Firefox Quantum"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version?
->Does not work on Primefaces Showcase
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Tomcat 8.5.23
- Affected browsers: Firefox Quantum

## 2) Expected behavior
Loadin

[2017-11-16 15:41] melloware commented on #2959
Is this only in Firefox or does it happen in Chrome/IE/Edge?

[2017-11-16 15:44] xxiFear commented on #2959
Only in Firefox Quantum (57.x)
Just tried with Chrome, IE and Edge and it works there.

[2017-11-16 16:02] jxmai commented on #2959
Firefox cache the input by default for some reason so you probably need to set `Cache-Control: no-store` to avoid this problem.

If you press <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>R</kbd> in Firefox quantum, the checkbox value won't persist.

[2017-11-16 16:07] melloware commented on #2959
I use OmniFaces cachcontrol filter...

http://omnifaces.org/

[code]

[2017-11-16 16:12] jxmai commented on #2959
Good resources :+1: . I was always using a custom servlet response to write the flag back. Looks like omnifaces can do the job without any code overhead.

[2017-11-16 16:18] tandraschko commented on #2959
I just use this in my templates:

`        <h:head>
            <f:facet name="first">
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
                <meta http-equiv="pragma" content="no-cache"/>
                <meta http-equiv="cache-control" content="no-cache"/>
                <meta http-equiv="expires" content="0"/>
`

[2017-11-16 16:23] melloware commented on #2959
I actually use a bunch of Omnifaces filters that are awesome...

[code]

[2017-11-16 16:27] tandraschko commented on #2959
Just my thoughts:
- no-cache in the header performs a little bit better as there is no fitler required each request
- gzip is already available in all servers, no need to include extra code here

[2017-11-16 16:28] jxmai commented on #2959
So, this issue is on showcase for not setting the flag properly I guess.

On the other hand, Firefox's caching system is a bit aggressive compared to other major browsers IMHO as they have been tried to do a lot of things to boost the performance in the latest release.

[2017-11-16 16:39] melloware commented on #2959
Yep @xxiFear  you can close this issue I have opened an issue on the Showcase to set the caching.

[2017-11-16 19:53] melloware commented on #60
See this post: https://forum.primefaces.org/viewtopic.php?f=3&t=53195&p=161912

[2017-11-17 06:54] Merve7 opened #2961 "Template in paginator"

[2017-11-17 06:57] #2961 closed, assigned to Merve7

[2017-11-17 07:54] xxiFear commented on #2959
@melloware, @jxmai, @tandraschko Thank you very much for the help.

[2017-11-17 07:54] #2959 closed, assigned to nobody

[2017-11-17 08:13] mmariotti commented on #2956
I'm sorry, yesterday i had a meeting all day long. Next time I'll submit a PR myself, I promise :)
Thank you guys

[2017-11-17 08:23] xxiFear commented on #2959
I just tried your suggestion @tandraschko and it somehow still does not work in Firefox. Apart from that, it says "wrong attribute value" on all three meta tags.

[2017-11-17 08:42] matsandreassen commented on #2325
Is it possible for this bugfix to be ported to 6.1?

[2017-11-17 09:08] mertsincan commented on #2325
I"ll add it to 6.1.x elite version.

[2017-11-17 09:38] stasal commented on #2941
@melloware which kind of help is needed? I can see the wiki page is already updated.
But the namespace **PrimeFacesExt.locales.Timeline** is not  working, so these constants must be put directly into **PrimeFacesExt.locales[locale]**

[2017-11-17 10:04] tandraschko commented on #2959
Yep, i see. Seems like these tags are not 100% safe to use and a fitler is the only 100% working approach.

[2017-11-17 11:19] Berger1994 commented on #2938
The problem is that the property "isLazyLoaded" of the javascript component SelectOneMenu is never set to false after the panel is opened.

My workaround for this bug is following javascript code:

[code]

[2017-11-17 12:23] melloware commented on #2941
@stasal  That WIKI is for PrimeFaces Extensions.  The Timeline component used to be a pe:timelime component but was moved over to be in PrimeFaces core as p:timeline.  So that WIKI page on PF Extensions really needs to be updated in PF.

I think the Locales namespace has to change to it should not be PrimeFacesExt in 6.1?

[2017-11-17 12:25] melloware commented on #2946
This is definitely an enhancement that is pretty significant. Probably need to be sponsored by a PRO account or submitted as a PR.

[2017-11-17 12:26] melloware commented on #2956
No worries I appreciate at least you post a solution rather than just complaining something doesn't work!

[2017-11-17 13:00] melloware opened #2962 "Chips: Unselect Ajax Event Not Working"
A regression was introduced with this commit: https://github.com/primefaces/primefaces/commit/4f10ef6a30bfbb2170f3dd2bd77933831778d5db#diff-755582cad94eb934a0081b32c52c848f

When the style was changed from "autocomplete" to "chips" it broke the unselect event.

Submitting a PR to fix.

[2017-11-17 13:18] melloware commented on #2962
PR submitted.

[2017-11-17 13:26] xxiFear commented on #2959
@melloware You should change your showcase issue then.

[2017-11-17 13:29] melloware commented on #2949
I reported the Omega issue in the forum:  https://forum.primefaces.org/viewtopic.php?f=40&t=53236

[2017-11-17 13:47] melloware commented on #2938
Please review my PR of your fix.  https://github.com/primefaces/primefaces/pull/2964

[2017-11-17 13:48] melloware commented on #2959
Agreed. I will kill my PR and submit a different one.

[2017-11-17 13:54] matsandreassen commented on #2962
Sweet! That was quick. Here's hoping it'll be included in 6.1.x.

[2017-11-17 13:56] melloware commented on #2962
@mertsincan can you backport this to Elite 6.1.9?

[2017-11-17 14:11] mertsincan opened #2965 "Client side exception is blocking browser to send further request to server"
Reported By PRO User;

Test code;
[code]

[code]

[2017-11-17 14:12] #2965 closed, assigned to mertsincan

[2017-11-17 14:25] mertsincan commented on #2962
Of course! Thanks a lot @melloware;)

[2017-11-17 15:00] NicolaIsotta opened #2966 "Datatable: Footer defined with footerText is not styled with Omega"
## 1) Environment
- PrimeFaces version: Showcase
- Does it work on the newest released PrimeFaces version? Version?
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: all
- Affected browsers: all

## 2) Expected behavior
The footer created by `p:column footerText` should look like t

[2017-11-17 15:03] DaHoC commented on #2127
That would be a workaround.
But as it is the component's responsibility to validate the client-side input, I think it should be part of the component code, and not additional code I have to handle and think of myself - Even more so as it is not transparent to the developer that the component allows for such easy tampering/manipulation on the client-side

[2017-11-17 15:10] NicolaIsotta commented on #2966
I think adding the selector `.ui-datatable tfoot td.ui-state-default` to this css rule should fix the issue
https://github.com/primefaces/primefaces/blob/bd88ec91557ea573fbf345c86f2124d61ee3aa2b/src/main/resources/META-INF/resources/primefaces-omega/theme.css#L628-L631
Left is with the rule, right is without:
![cattura](https://user-images.githubusercontent.com/18428155/32953759-799f8afa-cbb1-11e7

[2017-11-17 15:40] #2962 closed, assigned to tandraschko

[2017-11-17 15:41] #2938 closed, assigned to tandraschko

[2017-11-17 15:46] jxmai commented on #2802
@tandraschko Not a good news as we probably cannot get the patch to quill before 6.2 (Please look at https://github.com/quilljs/quill/pull/1813). Melloware and I voted for custom patching. I can raise a PR for that but is it OK for you ?

This is a pretty nasty regression so user will definitely find out when  6.2 is released

[2017-11-17 15:53] tandraschko commented on #2802
It's ok for me to upgrade to the newest verison  + fix this bug dirty in our codebase for now.
But i would be great to get the fix in quill for the future.

[2017-11-17 15:58] jxmai commented on #2802
OK then :+1: . I will prepare a PR later. Sure it will be great to get the patch to quill in the future.

[2017-11-17 16:14] melloware commented on #2966
@NicolaIsotta can you review my PR?

[2017-11-17 17:55] koan00 commented on #2950
Appears to break parsing in IE11
![line number](https://user-images.githubusercontent.com/7327133/32961467-a4338dc2-cb96-11e7-9415-ab047c931d43.gif)
![console](https://user-images.githubusercontent.com/7327133/32961468-a442eed4-cb96-11e7-964b-9e1a94480cca.gif)

. Chrome and Firefox work fine.

[2017-11-17 18:13] mertsincan commented on #2950
Thanks a lot! I'll fix it.

[2017-11-17 18:35] koan00 commented on #2950
I'll submit a PR shortly if you don't mind? I need the practice :)

[2017-11-17 18:49] koan00 opened #2968 "Issue parsing components.js (tree.js) under IE11"
## 1) Environment
- PrimeFaces version: 6.2 Snapshot d495bab277ff57e57013775c79f99f567c9d0d3d
- Affected browsers: IE 11
Appears to work find in Firefox and Chrome
- Believe issue was caused by commit 76d2d6ea7fb3c4892a59602fc1a029452c8bbffc for #2950 (tree.js:1182)
## 2) Expected behavior
Pages load without JavaScript parsing errors

## 3) Actual behavior
Error encountered:
![console](https://use

[2017-11-17 18:50] koan00 commented on #2968
PR https://github.com/primefaces/primefaces/pull/2969

[2017-11-17 19:23] tienthai48 opened #2970 "Data from one of the columns is not being exported in Primefaces"
For some reasons, I am getting the "**_org.primefaces.component.panelgrid.PanelGrid@ .._**." from one of the colunms when exporting data to a pdf file (please see attachment below).  I have been trying several approaches but unsuccessful.  Can you please let me know what could have caused this issue and how to get around it?  Many thanks for your help.

Regards,

![error](https://user-images.githu

[2017-11-17 19:40] melloware commented on #2970
You are going to need to put your XHTML here so we can see the grid you are exporting.

[2017-11-17 19:44] tienthai48 commented on #2970
<p:panelGrid style="border:1px;width:100%;">
									    <f:facet name="header">
										    <p:row>
										       	<p:column style="font-size:.8em;font-weight: bold;padding-top: 1px;padding-left: 1px;padding-right: 1px;padding-bottom: 1px;font-weight: bold;float:none;width:100%" colspan="2">
										         	<h:outputText value="#{result.testDesc}"/>
										      	</p:column>

[2017-11-17 19:55] melloware commented on #2970
Yes its because your TestInfo column is a subtable.  How would it possibly render this in PDF?  You have a few choices.

1. Mark the Test Info column as exportable ="false" so it s not included.

2. Use the exportFunction="" on p:column to define how that column gets rendered. See this example on how to use ExportFunction.  https://github.com/primefaces/primefaces/issues/2238#issuecomment-30051180

[2017-11-17 19:56] melloware commented on #2970
Sorry I forgot to mention this is not a BUG so please close this ticket.

[2017-11-17 20:02] tienthai48 commented on #2970
sorry Melloware,  the version I sent you is a little messy as I was playing around with it.  Below is the data being exported. (see attached text file)
[test.txt](https://github.com/primefaces/primefaces/files/1483643/test.txt)

[2017-11-17 20:04] melloware commented on #2970
Same issue. Your Test Info column contains `<p:panelGrid style="border:1px;width:100%;">` so the exporter doesn't know how to make that into Text because its a component.

[2017-11-17 20:06] tienthai48 commented on #2970
In your opinion, what should I be doing to correct this problem?  Any of your suggestion is appreciated.

TT

[2017-11-17 20:09] #2968 closed, assigned to nobody

[2017-11-17 20:10] melloware commented on #2970
Use the exportFunction="" on p:column to define how that column gets rendered in the Exporter. See this example on how to use ExportFunction. #2238 (comment)

[2017-11-17 20:10] koan00 commented on #2970
Did you try a p:subTable here? It would render something similar and hopefully export better?

[2017-11-17 20:13] tienthai48 commented on #2970
I will try out your suggestions Melloware and Koan00.  Many thanks for your suggestions.
TT

[2017-11-17 20:16] melloware commented on #2970
i would close this ticket as its not a bug.  PF is working as designed.

[2017-11-17 20:18] koan00 commented on #2938
Works for me, thanks all.

[2017-11-17 20:19] #2970 closed, assigned to nobody

[2017-11-18 03:07] melloware commented on #2890
@YahiaZZ without more info or exact description of your issue we will most likely close this ticket.

[2017-11-18 03:26] melloware commented on #1477
I use lazy=true in production all over the place and have no issues with sorting and filtering.  @cnsgithub please close this ticket.

[2017-11-19 07:13] tfe2012 opened #2972 "Chart: BarChartSeries DateAxis"
## 1) Environment
- PrimeFaces version: 6.1
- Application server + version: java 8,
- Affected browsers: chrome

## 2) Expected behavior

When I try  create multiaxis chart, I want make 2 bar series and 3 line. X axis -> DateAxis, and 2 Y axis, 2 different prices. Bar chart shows incorrect.
`
DateAxis axis = new DateAxis("Period");
            axis.setTickAngle(-50);
            axis.setTickFormat

[2017-11-19 09:40] stasal commented on #2941
I don't think that just updating wiki is a good scenario. We already have localization for months in 'monthNames' attribute of PrimeFaces.locales.
So why do we need to add another key ('MONTHS') with the same content. Month names will not depend on whether we use them in calendar, timepicker or timeline. January will always be January.

So maybe the correct way is to refactor the component's code

[2017-11-19 12:17] melloware commented on #2972
It could be an issue with jqPlot itself as a bug or it could also be not possible with jqPlot to graph the way you want it to.  Have you tried to create a chart like this with just raw jqPlot and take PrimeFaces out of the equation?

http://www.jqplot.com/

[2017-11-19 12:19] melloware commented on #2941
i think you are right.  Is the namespace of Timeline still PrimeFacesExt.locales. or is it PrimeFaces.locales?

I will look it over.

[2017-11-19 14:03] stasal commented on #2941
@melloware I added attributes described in PrimeFaces Extensions wiki to PrimeFaces.locales along with already existing (from PrimeFaces wiki) and TimeLine component became translated into my language.
Though I did not even try it with PrimeFacesExt.locales but PrimeFaces.locales worked for me.

[2017-11-20 05:46] mertsincan commented on #2950
Thanks a lot, @koan00 ;)

[2017-11-20 07:38] mertsincan opened #2973 "When minValue is set 0.01 in inputNumber, the last digit can not be deleted"
Reported By PRO User;

<pf:inputNumber value="#{bean.val}" minValue="0.01" maxValue="999999999.99" decimalPlaces="2" />
For example, if we enter 654321 and then try to backspace, we can't delete 6 (i.e. the last number left in the field),
because the keystroke for backspace at 6 will result in a value less than minimum specified.

[2017-11-20 07:39] cnsgithub commented on #1477
It fails if you have a Collection datasource. If it is supported only when using LazyDataModel, i guess this can be closed.

However it would be good if it would not fail silently, while still working partly. Also it would be nice to have a way to add lazy-loading to datatables using collection datasource, for having a simpler way..

Overall i think PF does not inform the developer about many thin

[2017-11-20 07:39] #1477 closed, assigned to nobody

[2017-11-20 07:41] #2973 closed, assigned to mertsincan

[2017-11-20 12:26] SantoshCCS opened #2974 "Zoom event in Ajax p:char Bar"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-11-20 12:27] melloware commented on #2974
This ticket will be closed if you don't actually provide any details...

[2017-11-20 12:28] ckirbas commented on #1662
I think he says;  columns headertext is shown before column value in summary row when you set reflow="true" attribute to a datatable although it's desktop mode.

[2017-11-20 12:39] melloware commented on #2941
OK I dug more into this.  It is because the core Jquery component the Timeline is based on this component.

https://github.com/almende/chap-links-library/blob/master/js/src/timeline/timeline.js

So if we were to update the constants for the Locales labels I would have to edit this component's source code.

https://github.com/almende/chap-links-library/blob/master/js/src/timeline/timeline.js#L221

[2017-11-20 13:14] Rapster opened #2975 "Ensure correct resources ordering"
Following this discussion https://github.com/primefaces/primefaces/commit/9c65354cce5e22545d702f879f5f50cfb40a7d93#commitcomment-25488348

Basically, some components have `jquery-plugins` _(I'll abbreviate this by JQP)_ has a dependency and other don't. If the first non JQP component is loaded first, `jquery-plugins` will be loaded in last then, after core.js/component.js by the JQP components. Th

[2017-11-20 13:21] melloware commented on #2975
I like the ResourceListener option....

[2017-11-21 02:51] dwagmuse opened #2977 "Schedule: loadEvents offset error when specifying clientTimezone"
When using the clientTimezone attribute in schedule component to force the view to display times in a fixed timezone the fetchEvents callback to the server that supports lazy loading is passing incorrect arguments. The selection window seems to be offset by the value of the browser default (local) timezone.  It appears to work correctly when clientTimezone is set to the default 'local'.
In this ca

[2017-11-21 05:17] jxmai opened #2978 "[Regression] Tree: Context Menu select node is not working properly"
## 1) Environment
- PrimeFaces version: 6.2 Snapshot
- Does it work on the newest released PrimeFaces version? Version? No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Doesn't matter
- Affected browsers: all

## 2) Expected behavior

Using showcase, right click context menu an

[2017-11-21 05:54] mertsincan commented on #2978
I've replicated it with 6.2-SNAPSHOT. it works fine for 6.1.x elite versions. Please see your PR; https://github.com/primefaces/primefaces/commit/cd8cccb30011459780918588327d64be8e595efc#diff-3cc01523b05bd1fb5ffa60e642384c14

When you add '> span:not(.ui-tree-toggler)', you need to change ```var nodeContent = $(this);```` . Please try this issue after removing your change.

[2017-11-21 05:58] mertsincan commented on #2317
Please see; https://github.com/primefaces/primefaces/issues/2978

[2017-11-21 08:42] #2317 closed, assigned to tandraschko

[2017-11-21 08:43] #2978 closed, assigned to nobody

[2017-11-21 08:55] ssibitz opened #2979 "MoveScriptsToBottom: does not handle CDATA and comments correct"
I tried to use the new feature by setting primefaces.COLLECT_SCRIPTS to true.
After then and redeploy my application the primefacs focus and the DefaultCommand does not work anymore in Primefaces-6.2-SNAPSHOT:

I have the following login-mask created with primefaces looking like that in the original application.
As you can see i have also a focus on the username field:
![logon-showcase](https://us

[2017-11-21 11:10] Rapster commented on #2975
I don't know, I have no preferences so far, but it looks like HeadRenderer manage the resources writing

[2017-11-21 11:44] mertsincan commented on #2874
Thanks @Adam-1 ;) I'll check it.

[2017-11-21 11:50] mertsincan commented on #2874
I'll revert my commit. Thanks again!

[2017-11-21 11:55] mertsincan opened #2980 "Add box-shadow again to datatable with scrollable="true" and selectionMode="multiple" into Aristo theme"
Please see; https://github.com/primefaces/primefaces/issues/2874

[2017-11-21 11:56] #2980 closed, assigned to mertsincan

[2017-11-21 12:07] melloware commented on #2979
Can you create a little reproducible test project so @tandraschko can debug.  Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem

[2017-11-21 12:12] hAzUpL8 commented on #2338
Regards this enhencement. How to fix initial display of counter template. Now displaying "{1}/{2}" insted of "0/100" at beginig and only after typing into textArea it refreseh corectly?

[2017-11-21 12:18] melloware commented on #2977
When I looked at the code in the trunk it looks different than yours.  Its always using UTC for the offset.

[code]

So is it possible this is already fixed in master?

It also looked like the moment.js library was updated as part of this change.

[2017-11-21 12:22] tandraschko commented on #2979
Yep, otherwise i cant replicate... So please provide a smal

[2017-11-21 12:23] tandraschko commented on #2979
l as possible example

[2017-11-21 12:28] ssibitz commented on #2979
I thing i know now what the problem in detail is after debugging it:

I have used the **CDATA-TAG** in my inline-script's to be sure that it can used without any warnings
and can made a deploy without any errors.

_So i can reproduce the problem with a simpler example now - Here is the code of the view:_
[code]

... and here is the simple Controller:

[code]

**When i set the COLLECT_SCRIPTS to tr

[2017-11-21 12:29] tandraschko commented on #2975
I have wifi today, so i have some minutes for important stuff ;)
A big -1 for something like the addResourceListener
The only solution for me is this:
- All components, which uses core.js must also use jquery plugins. Otherwise the order is incorrect and actually core.js depends on some plugins like browser, caret, ..
- Lets also check if we can reduce the jquery plugins a little bit and move it t

[2017-11-21 13:09] tandraschko commented on #2979
I think we should remove all comments....
A PR is welcome, will merge it in 2,5 weeks ;)

[2017-11-21 13:12] danielemaddaluno commented on #1078
Adding this to my page solved the problem:
[code]

[2017-11-21 13:21] ssibitz commented on #2979
I currently found a workaround for this by changing the CollectScriptsResponseWriter in a simple way:

1.) Removing all CDATA-TAG's from the Inline-Scripts (Start and End Tag's) in the minimizeInlineScript function
2.) Adding the CDATA-TAG on the Start and End of the Inline-Script's to be sure that the browser can interpret the script's in the right way.

So i changed the following method's of the

[2017-11-21 13:34] ssibitz commented on #2979
The only think the user has to keep in mind here is that all comments in any inline-scripts
should be in a block-comment tag - then anythink is working fine
as @tandraschko already has recognized...

I found a stackoverflow thread which is about this CDATA-TAG:
[https://stackoverflow.com/questions/66837/when-is-a-cdata-section-necessary-within-a-script-tag](https://stackoverflow.com/questions/6683

[2017-11-21 13:35] tandraschko commented on #2979
I think the problem could happen with all comments, so skipping all comments is the better solution and also minifizes a bit more

[2017-11-21 13:38] ssibitz commented on #2979
That's right - and if the COLLECT_SCRIPTS parameter is set to true
i think that the user will not need comment's in the JavaScript when Performance is the better way :-)

But i think using the CDATA-TAG only once can also be an improvement - or not ?

[2017-11-21 15:56] jxmai commented on #2978
Alright, so my previous PR was working *by accident*... Thanks Mert for quickly addressing this problem. I can confirm this issue has gone.

[2017-11-21 16:02] jxmai commented on #2975
Probably only need to scan through the xml files and add resources then

[2017-11-21 16:04] dwagmuse commented on #2977
If you look in the sources to moment.js you will see that the utcOffse()t method is just a replacement for the deprecated zone() method. So that change is a no-op. The problem is that it is taking the offset from the call to moment() which constructs a new moment in default (local) TZ. In my fix I obtain the offset from the start time, which has been set to the configured zone. There's probably a

[2017-11-21 16:17] melloware commented on #2977
Got it.  Just wanted to make sure that wasn't fix.  I will fix it.

[2017-11-21 16:18] movalz opened #2981 "SelectOneRadio: with custom layout ignores tag attribute "styleClass""
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version?
No, Version: origin/master from 11/21/2017
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
No, Version: origin/master from 11/21/2017
- Application server + version:
Tomcat 7
- Affected browsers:
All browsers

[2017-11-21 16:20] melloware commented on #2981
Yep. I see it.  I will fix it.

[2017-11-21 16:30] melloware commented on #2981
I think you mean a SPAN not a DIV right?  Can you review this PR:  https://github.com/primefaces/primefaces/pull/2983

[2017-11-22 05:17] jxmai commented on #2975
I scanned through the entire repo to add jquery-plugin resoruces if `core.js` presents. We need to do this work anyway. PR: #2984

[2017-11-22 08:47] mertsincan commented on #2978
Glad to hear, thanks a lot for the update!

[2017-11-22 10:43] onursenture commented on #2949
We reviewed the case as PrimeTek design team, and yes, these icons should definitely have standard font-weight, not bold. @mertsincan @melloware

[2017-11-22 12:18] melloware commented on #2949
PR submitted.

[2017-11-22 12:21] ssibitz commented on #2979
What i also found that when i am using the PrimeFaces-Extension **MasterDetail**,
the PrimePartial Rendering does not use the functionality of CollectScriptResponseWriter
so the eventually changed Script's are not on the end of the body...

Here a simple example which does not work because of the order of the CollectScript's:

[code]

When i press the "Go to Details" button i will produce an Ajax

[2017-11-22 12:41] melloware commented on #2979
@ssibitz I added a PR for removing the CDATA tags.  But I think you should open a new ticket for this issue above about Ajax updates including the scripts inline.

[2017-11-22 12:59] ssibitz commented on #2979
@melloware:
Can you also remove the XHTML
CDATA-TAG's, because they can also be used by user:

`//<![CDATA[`

and

`//]]>`

?

Also at the begin of the Inline-Script-Tag the XHTML CDATA Tag's should be added at the beginning and the end of the inline script's - but don't forget to use a newline separator like that:

`getWrapped().write("//<![CDATA[\n");`

`getWrapped().write("\n//]]>");`

Otherwis

[2017-11-22 13:03] tandraschko commented on #2979
I dont think removing  cdata is good enoug, we should strip all comments, too.

Also not sure about that ajax thing...
For example:
-the initial request renders a function "test" to the end of the body
-ajax requests does not collect anything (supporting this is tricky and the performance boost is around zero).
The ajax response will be evaluated on the client and if ir contains a call to "test",

[2017-11-22 13:05] tandraschko commented on #2979
And the cdata and comment "ignoring" should be done inside the writer, not if everything is collected

[2017-11-22 13:05] melloware commented on #2979
I agree we should strip all comments too.  Let me take a shot at doing that.

[2017-11-22 13:12] tandraschko commented on #2979
Great. If the code becomes to complex and doesnt work for 100%, we should think about to NOT support this.
Complex inline scripts is a bad practice. At best inline scripts should call methods from script files. So you dont need cdata and comments in the inline script...

[2017-11-22 13:16] melloware commented on #2979
OK pushed another commit takes a shot at removing comment lines and CDATA elements as they are appended to the inline script.  Overall though I agree with @tandraschko inline scripts should be used minimally and for calling other functions inside JS.

If the user doesn't like the behavior they don't have to use COLLECT_SCRIPTS if they have heavy complex inline scripts.

[2017-11-22 13:25] tandraschko commented on #2979
I dont think that the PR is good enough to handle multiline and block comments. Also not sure if html script and h-outputScripts will be handelt the same. Overall im not sure if normal script tags are catched by our writer.
I think the only good way is to: check how both mojarra and myfaces calls the responsewriter for both html and jsf script tags and create unittests for all cases:
- hmlt script

[2017-11-22 13:28] ssibitz commented on #2979
Yes, that's right - and i know that ajax-request's don't supporting this because it's very tricky to handle this.

I think this only should be documented that when Activating the COLLECT_SCRIPTS
that all Dynamic Inline JavaScript's must be placed "outside" e.g. a MasterDetail Component
so that it can be rendered before...

e.g. for hotkey, ...

[2017-11-22 13:33] tandraschko commented on #2979
I dont understand that masterdetail problem but i can check it in 2,5 weeks - so please create a very small example + ticket.
Would also be good if you can rename this ticket to somethin like: collect_scripts doesnt handle comments and cdata correclty

[2017-11-22 13:40] ssibitz commented on #2979
I have changed the ticket name by now.

At the first i can say that a workaround is maybe that in general when collect_scripts  is activated
then on javascript-problems all thinks that are not working should be placed outside
Ajax-Component's like MasterDetail,
but i will create a separate Ticket...

[2017-11-22 21:46] markusg80 opened #2987 "Timeline updater works only if widgetvar is set"
## 1) Environment
- PrimeFaces version: 6.1.8
- Does it work on the newest released PrimeFaces version? Version? No, 6.1.8
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Payara 471
- Affected browsers: Chrome and Firefox tested

## 2) Expected behavior

Timeline updater update t

[2017-11-22 22:01] melloware commented on #2987
Original Ticket:  https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/359

From looking at the code at first glance there is nothing I can find obviously wrong so this must be a subtle bug.

I don't understand why can't you set the widgetVar on the Timeline?

[2017-11-22 22:08] markusg80 commented on #2987
Because the Timeline is inside a tabview.

See #1878 and #2278

#2278 is fixed for 6.2 but still not backportet to 6.1.9

[2017-11-22 22:10] melloware commented on #810
Possibly:  https://github.com/jqPlot/jqPlot/issues/116

[2017-11-22 22:17] melloware commented on #2987
Thanks. Those tickets help.

[2017-11-22 22:19] markusg80 commented on #2987
And all this make also the Timeline Updater useless for me!

[2017-11-22 22:48] jxmai commented on #2987
I guess #2278 is missing the commit attached as Thomas forgot to put the `#` before the issue number . I just paste that patch commit here: https://github.com/primefaces/primefaces/commit/7b197a9275127ea58613cd131288dba9d92328a0

[2017-11-22 23:54] dmatej opened #2988 "FileUpload doesn't work on JSF 2.3"
FileUpload should work but it does not and I still don't know why but I tried many configuration variants and found out this stack trace when I set this in web.xml and use the `@FacesConfig(version = Version.JSF_2_3)` annotation. (But commons variant does still nothing.)
[code]
[code]

## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest sources in GitHub? No, tested against co

[2017-11-23 01:32] melloware commented on #2987
Yep so it seems like this issue is fixed in 6.2 and can be closed.  If you are a Pro or Elite member you can lobby @mertsincan to backport this whole thing to 6.1.10.

[2017-11-23 05:15] amarendrar opened #2989 "Evaluate JQuery 3 upgrade"
We analysing the primefaces to use in our project(richfaces migration) and found that primefaces is using the older jquery and jquery UI versions

As per this site, "http://research.insecurelabs.org/jquery/test/" there are some issues with Jquery. Is there any plan in Primefaces to upgrade to latest Jquery version.  In Prime faces 6.1, jquery version is 1.11 and planned primefaces version 6.2 is u

[2017-11-23 06:31] markusg80 commented on #2987
@mertsincan i‘m Elite user and please backport #2278 for Version 6.1.10! Because Timeline has many bugs in 6.1

[2017-11-23 06:35] markusg80 commented on #2987
@Melloware Bug #2278 is fixef, but im not sure if this bug is fixed too! Because there is still the need to set widgetvar for Timeline updater to get working

[2017-11-23 11:10] mertsincan opened #2990 "Sortable columns throws an exception on DataTable"
Reported By PRO User;

com.energysys.resourcestore.objectstore.metadata.ObjectAttribute cannot be cast to java.lang.String
java.lang.ClassCastException: com.energysys.resourcestore.objectstore.metadata.ObjectAttribute cannot be cast to java.lang.String
        at org.primefaces.component.datatable.DataTable.resolveDynamicField(DataTable.java:1321)
        at org.primefaces.component.datatable.Data

[2017-11-23 11:11] #2990 closed, assigned to mertsincan

[2017-11-23 11:19] radzionkow commented on #2351
The problem is fix for issue #1485
`MenuItem` is not an instance of `UIComponent` so code:
[code]
wont work.

You can fix it by adding boolean parameter to `encodeElements` method

[code]
and then:
1)  in `encodeMarkup` method:
[code]
2) in `encodeSubmenu`
[code]
That should fix the issue without breaking #1485.

[2017-11-23 11:55] tandraschko commented on #2988
Please debug PrimeConfig.class - we wont scan this annotation but we automatically check the running jsf implemtation.

[2017-11-23 11:57] tandraschko commented on #2989
I think we will try to upgrade to 3.x after the 6.2 release next month.

[2017-11-23 12:00] melloware commented on #2989
PF 6.1 = Jquery 1.12.4
PF 6.2 = Jquery 2.2.4

[2017-11-23 12:44] dmatej commented on #2988
I see one problem ... I hope I could provide a pull request soon; the issue name is somehow misleading because covers two or three interacting things.
I suppose that for Primefaces is not important the FacesConfig compatibility so it can ignore it. But it is still needed to know the implementation version; finally the problem is simple - the current mojarra moved to 2.4-SNAPSHOT but the check is m

[2017-11-23 13:00] tandraschko commented on #2988
2.4 is of course not supported now. A PR is welcome.

[2017-11-23 16:47] melloware commented on #2987
@markusg80 can you test with PF 6.2-SNAPSHOT that will tell us for sure whether the issue still exists or not?

[2017-11-23 21:52] markusg80 commented on #2987
Ok! First time i compile primefaces from snapshot! I eill try now tomorrow if it works

[2017-11-24 06:32] amarendrar commented on #2989
Thanks for reply.

Please suggest the documentation/guide to use the  jquery/jqueryUI packaged by application instead of primefaces jquery.

Is it recommended to use the application jquery instead of primefaces jquery?

[2017-11-24 07:09] markusg80 commented on #2987
With 6.2 SNAPSHOT from yesterday i get in the browser console following error message and timeline not appears:
Uncaught TypeError: Cannot read property 'render' of undefined
    at Class.render (timeline.js.xhtml?ln=primefaces&v=6.2-SNAPSHOT:7573)
    at core.js.xhtml?ln=primefaces&v=6.2-SNAPSHOT:1961
    at Object.invokeDeferredRenders (core.js.xhtml?ln=primefaces&v=6.2-SNAPSHOT:589)
    at Clas

[2017-11-24 13:20] melloware commented on #2989
I don't think that is possible because PF components rely on the Jquery version. So if you try and include 3.1.1 and remove PF's version many of the components in PF will not work.

[2017-11-24 13:39] melloware commented on #2987
Hmmm can you try this...
1. Check out the Showcase project https://github.com/primefaces/showcase

2. Run that project with "mvn clean jetty:run"

3. Navigate to http://localhost:8080/showcase/ui/data/timeline/basic.xhtml

For me the showcase running all the Timeline examples with 6.2 is working fine.  So maybe you could narrow the issue down further Can you create a small test sample reproducing

[2017-11-24 13:42] matsandreassen commented on #2326
@tandraschko Should not this be marked as a defect?

[2017-11-24 13:43] matsandreassen commented on #2325
Looking forward to getting my hands on this fix. How come it's not marked as a defect?

[2017-11-24 13:48] melloware commented on #1736
Can you test this again?  From looking at the 6.1 code on it seems.

1. PF fixed the line Smooth bug:  https://github.com/primefaces/primefaces/issues/1608 in 6.0.2

2. The jqplot.dateAxisRenderer.js is included by PF in the charts plugin?

[2017-11-24 14:52] markusg80 commented on #2987
Ok i will try this at my Weekend ;-)

[2017-11-24 15:14] jxmai commented on #2989
You can't. It is really non-trivial. What you need to end up doing is making a customized primefaces and upgrading jquery to 3.x yourself if you choose this route.

---

Just wait for the next Primefaces iteration. Since Jquery 1.x and 2.x are no longer under maintenance, I don't think we should stay at 2.x  for long :smile:

[2017-11-24 17:56] KarlKnapp opened #2992 "selectManyCheckbox: add title support"
SelectManyCheckboxRenderer does not support tooltip.

https://stackoverflow.com/questions/11780397/primefaces-tooltip-for-pselectmanycheckbox

[2017-11-24 17:58] KarlKnapp commented on #2992
created a pull request

[2017-11-24 18:07] melloware commented on #2351
Ahh I see.  Let me fix.

[2017-11-24 18:16] melloware commented on #2351
Submitted PR.  You are right this is the most bulletproof way to fix this issue for good.

[2017-11-24 18:18] melloware commented on #2974
Probable duplicate of:

https://github.com/primefaces/primefaces/issues/1736
https://github.com/primefaces/primefaces/issues/949
https://github.com/primefaces/primefaces/issues/914
https://github.com/primefaces/primefaces/issues/879

[2017-11-24 18:36] melloware commented on #1011
@cchet safe to close this ticket as this issue appears to be fixed in PF 6.0 or higher?

[2017-11-24 18:41] melloware commented on #726
@NicolaIsotta any thoughts on this one?

[2017-11-24 18:44] melloware commented on #593
I always use @ViewScoped for my LazyDatatables.  @RequestScoped implies you want to re-create the LazyDataModel on every Ajax request etc.  Which defeats the purpose of the LazyDataModel being able to page data etc.

[2017-11-24 19:35] tandraschko commented on #593
IMO it should be possible to use a lazy datatable within a stateless view! This requires a lit bit work on the js side, too..

[2017-11-24 20:47] NicolaIsotta commented on #726
Yep, it's like I wrote in the font issue. Font awesome icons are cutted. It's more visible with Aristo.
I don't have access to the projects right now, but I think I temporary fixed the issue with a rule like `.ui-icon.fa { overflow: visible }` or something like that.
On monday I'll check, maybe the  default `overflow` or the `border-radius` can be safely removed.

[2017-11-25 13:37] melloware commented on #726
thanks @NicolaIsotta let me know what you discover.

[2017-11-25 15:08] orange-buffalo opened #2996 "Label attribute should not be required for the selectCheckboxMenu"
Currently `selectCheckboxMenu` has `label` attribute marked as `required=true`. The component is working perfectly fine when this attribute is not set, but IDEs complain about missing required attribute:

![image](https://user-images.githubusercontent.com/4532247/33231717-303c82b0-d1fa-11e7-8775-2252f9427ae9.png)

I believe this attribute should not be required because:
* other components have `la

[2017-11-25 17:11] melloware commented on #1728
Found and applied this fix and verified it now works with your test case provided above!

http://www.monkey-business.biz/181/jquery-interfaces-fisheye-position-fixed-patch/#jquery-interfaces-fisheye-position-fixed-patch_english

[2017-11-25 17:13] melloware commented on #1831
Fixed with this PR:  https://github.com/primefaces/primefaces/pull/2997

[2017-11-25 22:10] markusg80 commented on #2987
@melloware
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/1503442/primefaces-test.zip)
So now i was able with showcase to narrow down the problem. The Problem with 6.2 SNAPSHOT release happens when the timeline is placed inside a dialog. So in the example project i take the dialog modal example and then  i placed the timeline inside of the modal dialog and the timeline no lon

[2017-11-26 06:30] amarendrar commented on #2989
We planned to use the primefaces in our application, but our application is using jquery 3,2.1.  We faced some issues with 2.x and 3.1 jquery versions (EX: IE11 compatibility issues)

Please mention the timeline and planned primefaces version for jquery upgrade in primefaces.

[2017-11-26 16:05] melloware commented on #2989
I don't speak for PF but if you look back in history they do a release about every 6 months.  So for..
PF 6.2 = Jquery 2.2.4 = December 2017
PF 6.3 = Jquery 3.3.1 = May 2018 (estimate)

[2017-11-26 16:23] melloware commented on #2987
Thanks for the test case, I fixed it with this PR and I think it is the correct fix but I will let the PF team review to see if it is correct.

[2017-11-26 16:32] melloware commented on #2702
The problem is right here the Timeline only adds groups for an event and most of the timeline is event based.    I don't see any immediate easy fix.

[code]

[2017-11-26 16:42] melloware commented on #2941
Linked to #2504

[2017-11-27 05:15] vinitkishore opened #2999 "update="@form" with ajax sort and page event distorts the datatable"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-11-27 06:54] bernarddcosta opened #3000 "Primefaces roadmap"
Our team is evaluating the possibility to use primefaces .
However, we have seen that a similar framework Richfaces reached end of life in 2016.
We wanted to make an informed decision and hence this request to understand your future roadmap.

[2017-11-27 07:57] cchet commented on #1011
Yes, I think can be closed

[2017-11-27 07:57] #1011 closed, assigned to nobody

[2017-11-27 08:21] mertsincan opened #3001 "Drop point issue on Drag&Drop Tree with multipleDrag="true""

[2017-11-27 08:22] #3001 closed, assigned to mertsincan

[2017-11-27 09:27] matsandreassen commented on #472
Hi!

We're encountering this same problem in 6.1.9. When combining "inline" with date time pattern like this:

`<p:outputLabel for="startTime" value="Start: " />
<p:calendar id="startTime" value="#{editControlBean.currentControl.startTime}" mode="inline" pattern="dd/MM/yyyy HH:mm" />
`

we get a validation error like this: "Start '16/11/2017' could not be understood as a date and time"

The forum

[2017-11-27 09:48] tandraschko commented on #3000
This is a issue tracker, not a forum ;)
However, we will maintain it the next years.
Not sure if there are already new features planned for the next version but you can e.g. sponsor new features all the time.
As you can see, we also added many features for 6.2.
Note: im not a member of PrimeTek, just doing it open source here. There are also issues trackers for PRO users.

[2017-11-27 09:48] #3000 closed, assigned to nobody

[2017-11-27 10:12] awenger63 opened #3002 "DataTable: Lazy+virtualScroll leads to duplicate first rows"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? No Version? 6.1
- Does it work on the newest sources in GitHub? no test today
- Application server + version: GlassfishServer 4.1 and Tomcat 8.0.27
- Affected browsers: Chrome, FireFox, IE

## 2) Expected behavior
No duplicate first row in first render (scrollRows="50" ==> 100 lines = 2 x 50 !)
..

[2017-11-27 10:34] alexeev commented on #2366
Is there any chance to backport the fix to the 6.1 branch?

[2017-11-27 10:36] awenger63 opened #3003 "ContextMenu: on DataTable not really selected row when right click"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? no Version? 6.1
[https://www.primefaces.org/showcase/ui/data/datatable/contextMenu.xhtml](url)

## 2) Expected behavior
Right click for contextMenu must change selected row to view correct data
...

## 3) Actual behavior
p:contextMenu not change selected row, in some case, data used are those of t

[2017-11-27 12:33] melloware commented on #3000
I have been working with PF since 2012.  The library is actively maintained and constantly updated and I have over 20 in production applications using PF.  Plus they offer PRO support to guarantee if you have a bug you want fixed they respond within 24 hours.

[2017-11-27 12:41] melloware commented on #2999
Don't update update="@form".  why do you need to update the whole form on AJAX sort without even calling an ActionListener?  You are basically wiping the whole table out by repainting the entire form.  What exactly is your use case of the problem you are trying to solve.

Because right now PF is working correctly if you update="@form" you are destroying the entire form including the datatable.

[2017-11-27 12:46] melloware commented on #3003
I have replicated your issue but why are you pressing the SPACE BAR?   When you right click something that should be the action.  Once you have pressed SPACE BAR you are no longer in the Right Click context?

[2017-11-27 12:47] melloware commented on #2366
@mertsincan can you backport this to 6.1 Elite?

[2017-11-27 13:21] melloware commented on #472
From looking at his potential patch that definitely seems like a hacky way to try and fix it.  I think its seems like something else simpler is missing because this component works fine with DateTime's when not using inline mode so we know it "can" work.

[2017-11-27 14:14] mertsincan opened #3004 "Add dropCopyNode attribute to Tree"
When enabled, the copy of the selected nodes can be dropped from a tree to another tree using Shift key.

[2017-11-27 14:15] #3004 closed, assigned to mertsincan

[2017-11-27 14:40] Hamsterbau opened #3005 "Inplace: emptyLabel useless with configured label"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

## 1) Environment
- PrimeFaces version: 6.1.8
- Application server + version: Wildfly 11.0.0 (also with 10.1.0)
- Affected browsers: All

## 2) Expected behavior
emptyLabel will be used, if value of the underlying input field is empty (no matter if label is configured or not).

## 3) Actua

[2017-11-27 15:07] melloware commented on #472
OK I modified his patch slightly, tested it and submitted a PR.

[2017-11-27 15:26] melloware commented on #3005
Thanks for reporting. PR submitted.

[2017-11-27 15:31] jxmai commented on #2999
Agree with melloware. If your style is somehow dynamically applied externally by js on page load, your expectation is invalid. What update does briefly  is to wipe the target element by one of the functions in `core.js` and recall widget init. If you need to retain the style, 1. you need to persist the style by renderer (can be achieved by styleclass=#{el}) 2. apply the style in js render function

[2017-11-27 17:40] jxmai commented on #3003
Looks like a bad behavior from user POV. This is the default html behavior that space bar will retrigger click event as a result of recalling

https://github.com/primefaces/primefaces/blob/f242f4bfbacca69c0afd80ef79764d30d3ae094b/src/main/resources/META-INF/resources/primefaces/datatable/datatable.js#L1581

If you look at the spec: https://www.w3.org/TR/WCAG20-TECHS/SCR35

Also found some related

[2017-11-27 17:51] melloware commented on #3003
Looks good to me i added one comment.  I just don't know if selecting rows by spacebar is also intentional for complete keyboard usage or accessibility?

[2017-11-27 18:13] jxmai commented on #3003
That's a dilemma.  Indeed it could break the keyboard accessibility . I guess we have to do something more complex (check if user previously invoke context menu and decide the next step)

[2017-11-27 18:21] awenger63 commented on #3003
@melloware, we use space bar like a 'preview' or preselect before choise a sub menu (it updated one panel), also is it possible to work quikly with two hand, one on the keyboard, one on the mouse ! => one click rigth, one space bar, one click left on the correct sub menu ;-)
@jxmai it's that, user invoke context menu before use space bar, but he use right clik to do that and not left click (see is

[2017-11-27 18:32] jxmai commented on #3003
@melloware @awenger63   found out the root problem (The highlight does not actually focus a row on right click). Please review :)

[2017-11-27 19:17] melloware commented on #3003
I think this issue might be similar?  https://github.com/primefaces/primefaces/issues/2604

[2017-11-27 19:59] melloware commented on #2795
PR submitted.  Thanks @wal-jan I now set the tooltip if you are not using Primefaces tooltips.  Please review.

[2017-11-27 20:02] jxmai commented on #3003
They are related :+1:

There is no `assignFocusesRow` on right click at the moment, so by

Without triggering `focus` by the function below

[code]

User will get faulty behavior.

[2017-11-27 20:03] melloware commented on #1553
slotEventOverlap in PF 6.2 = https://github.com/primefaces/primefaces/issues/2386

[2017-11-27 20:16] melloware commented on #3003
Nice fixed 2 tickets with 1 fix.

[2017-11-27 20:40] melloware commented on #1553
The rest can be done with the extender pretty easily.

[code]

The full calendar API is very large and Pf doesn't want to have a property for every option so that is why the extender is there.

[2017-11-27 23:03] Quix0r opened #3012 "NPE fixed in InFilterConstraint.apply()"
## 1) Environment
- PrimeFaces version: **6.2-master** and **6.1 (stable)**
- Does it work on the newest released PrimeFaces version? **No**
- Does it work on the newest sources in GitHub? **No**
- Application server + version: **Payara Server  4.1.2.173 #badassfish (build 24)]]**
- Affected browsers: **independent**

## 2) Expected behavior

The below code should allow the user to filter non-assi

[2017-11-27 23:14] Quix0r commented on #3012
Coming up with a small-repeatable and easy to use example code.

[2017-11-27 23:17] tandraschko commented on #3012
IMO we can skip a example, a null check doesnt hurt.

[2017-11-27 23:22] Quix0r commented on #3012
Already working on it. ;-)

[2017-11-28 00:07] Quix0r commented on #3012
Done: Build with NetBeans+ant:
https://cloud.mxchange.org/index.php/s/149vSQYmDeENiuY/download?path=%2FPrimefaces&files=NpeInFilterConstraint.zip

[2017-11-28 00:20] Quix0r commented on #3012
Updated steps to reproduce due to the example app.

[2017-11-28 13:44] matsandreassen commented on #472
That's great news! Here's hoping it's included in 6.1.10.

[2017-11-28 15:17] melloware commented on #2170
From looking at this the AM/PM localization is not an option for FullCalendar:  https://fullcalendar.io/docs/text/locale/

[2017-11-28 15:21] melloware commented on #3004
@mertsincan the build is currently broken from this latest check in..

[code]

[2017-11-28 15:33] herbu123 opened #3014 "treeTable: colResize ajax problem under firefox"
## 1) Environment
- PrimeFaces version: 6.1

## 3) Actual behavior
Error:
 INFO: java.lang.NumberFormatException:

issue described at:
https://forum.primefaces.org/viewtopic.php?f=3&t=53351&e=1&view=unread#unread

Regards,
herbu

[2017-11-28 15:34] melloware commented on #3014
I have confirmed this issue with Firefox 57 and it definitely returns decimal numbers instead of integers.  I will fix.

Apparently Firefox has started given those values as doubles like 855.75.  So my fix simply turns it into an int like 855.

[2017-11-28 15:56] jxmai commented on #3004
The original method was `dropMode`, but it changed to `dropCopyNode` during the refactoring process. If we clean up the leftover, the build will succeed. #3016

[2017-11-28 16:35] mertsincan commented on #3004
Thanks a lot for PR, @jxmai ;)

[2017-11-28 20:16] mertsincan opened #3017 "Add onDrop attribute to Tree"
It is a MethodExpression and users can add a condition to drop a node from a tree to another tree into it.
[code]

Exp;
[code]

[2017-11-28 20:18] #3017 closed, assigned to mertsincan

[2017-11-28 20:21] melloware commented on #911
I don't believe this is a bug with PF it appears that Java supports ww and EE but the Jquery UI Javascript calendar does not...

http://api.jqueryui.com/datepicker/#utility-formatDate

[2017-11-28 20:32] melloware commented on #1038
@cnsgithub why does including the German locale solve the issue?   https://github.com/primefaces/primefaces/wiki/Locales

[2017-11-28 20:49] Rapster commented on #3017
Is "onDrop" or "onDropStart" would be a better and simpler name? First, I don't like the use of "controller" here as it is a very common keyword used developing MVC apps, it might confuse developers. Second, `onDragController` does not sound like a method expression but more like a managed bean (e.g a controller :wink:).

[2017-11-28 21:13] mertsincan commented on #3017
Thanks a lot for the feedback! I'll change it.

[2017-11-28 22:06] mertsincan opened #3018 "Add isDroppedNodeCopy method to TreeDragDropEvent to check copy/cut operation"

[2017-11-28 22:08] #3018 closed, assigned to mertsincan

[2017-11-28 22:10] jxmai commented on #3018
will fail checkstyle by looking at this: https://github.com/primefaces/primefaces/commit/ec532e09316a56611a96df4418923ceeb0d9c203#diff-d53ae837661e9a4a098e5b28e45043baR43

[2017-11-28 22:17] mertsincan commented on #3018
Fixed now.

[2017-11-29 07:14] adrianfiedler opened #3019 "selectCheckboxMenu: accessibility"
## 1) Environment
- PrimeFaces version: Primefaces 6.1
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: JBoss EAP 7.0
- Affected browsers: Firefox ESR 52.5.0 (64-Bit)
- Screenreader: JAWS 18.0

## 2) Expected behavior
<p:selectCheckboxMenu> component should be read by screenreader similiar like <p:select

[2017-11-29 07:21] adrianfiedler opened #3020 "SplitButton: accessibility"
## 1) Environment
- PrimeFaces version: Primefaces 6.1
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: JBoss EAP 7.0
- Affected browsers: Firefox ESR 52.5.0 (64-Bit)
- Screenreader: JAWS 18.0

## 2) Expected behavior
<p:splitButton> main button should be read like a standard button. Dropdown button shou

[2017-11-29 10:32] robertfdx opened #3021 "Layout: units get overlaped after update="@all""
## 1) Environment
- PrimeFaces version: v6.1
- Affected browsers: only Chrome v60 to the latest version

## 2) Expected behavior
`ui-layout-unit` should have `auto` width and height so it won't get overlaped by the next `div` or primefaces component
Unfortunately I can't force that with CSS and I need to update every component.
## 3) Actual behavior
After pressing the load button, `ui-layout-unit`

[2017-11-29 12:17] OBreidenbach opened #3022 "Calendar: make the defaults value for time configurable"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-11-29 12:40] OBreidenbach commented on #3022
PR: https://github.com/primefaces/primefaces/pull/3023

[2017-11-29 12:55] tandraschko commented on #3022
-1
The default should be set with the "value" attribute
Or should we also add defaultValue to all other input components?

[2017-11-29 13:08] melloware commented on #3019
If you could analyze p:selectOneMenu vs p:selectCheckboxMenu

https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/selectonemenu/SelectOneMenuRenderer.java

https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/selectcheckboxmenu/SelectCheckboxMenuRenderer.java

And see where the "role=" and any "aria=" are needed I can f

[2017-11-29 13:10] melloware commented on #3021
Is "@all" really what you want?  I have never in my use cases ever had the need to update everything have you tried giving your layout an id="" and just updating that does it have the same effect?

[2017-11-29 13:11] melloware commented on #3022
@OBreidenbach what is your use case where just setting a value="" to a date set to the hours minutes and seconds already not accomplish?

[2017-11-29 13:22] melloware commented on #3020
If you want to anaylze the code and decide what "role" each HTML component should have.

https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/component/splitbutton/SplitButtonRenderer.java

[2017-11-29 13:25] OBreidenbach commented on #3022
I only want to set the default value for the time not for the date. If I use the value attribute I do set date and time.
You know, the field is not required. But if the user uses the calendar, I want to be polit and set an appropriate time. And this time is not midnight (0:00).
By the way, the jQuery component does already have this attributes for configuration. Why do not use them?

[2017-11-29 13:25] robertfdx commented on #3021
Unfortunately, yes, I need to use `@all`.
I tried to give an id to `p:layout` and it does nothing and if I give an id to the `p:layoutUnit`... it will be hidden because of: `.ui-layout-unit { visibility: hidden;}` from layout.css

[2017-11-29 13:28] melloware commented on #3021
Understood.  How about for a quick expirement can you wrap your layout in a p:outputPanel with an ID and then update="IdOfOutputPanel".  OutputPanel gets rendered as a DIV and is update-able.

[2017-11-29 13:31] NicolaIsotta commented on #726
@melloware
Took a deeper look, the guility css rule is this one:
https://github.com/primefaces/primefaces/blob/af20d1f75ca6a5e0ec708256e49057e71a10516c/src/main/resources/META-INF/resources/primefaces-aristo/theme.css#L15-L19

It's only present in the Aristo theme and, like @djmj said,  I'm pretty sure it can be removed safely.

[2017-11-29 13:39] robertfdx commented on #3021
That seems to be working just fine, but it feels like a workaround.

[2017-11-29 13:39] melloware commented on #726
Thanks guys. PR submitted!

[2017-11-29 13:44] melloware commented on #3021
To me it is not a workaround.  update =@all is extremely expensive as it tries to replace the entire DOM almost as if you did a FULL page refresh.  Your update="" should be targeted to only return to the components on the screen you want to repaint and some JS components like layout.js can behave strangely when you try and replace and redraw the whole DOM underneath of it.

So I would definitely s

[2017-11-29 13:48] melloware commented on #3022
@OBreidenbach I can see that, especially if the component supports it.

[2017-11-29 13:56] robertfdx commented on #3021
I can understand that and I agree with you. Well, because it's not my code. But I can't just go to production and add outputPanels all over the app to fix that.
Also it's strange that it works just fine in other browsers and old versions of Chrome.

[2017-11-29 14:01] melloware commented on #3021
It could be a problem with the core layout.js/css code that now Chrome 60 is interpreting some CSS rule differently that is wasn't before in previous Chrome's.   So my guess is this is not a PF issue but something Chrome is now doing and interpreting the core layout.js/css code.

If you want to analyze further and provide a patch that you think might fix it while not breaking other browsers that w

[2017-11-29 14:20] NicolaIsotta commented on #726
Aside from that @melloware , the combination of the `ui-icon` and `fa` is not perfect IMHO.
Just go to https://www.primefaces.org/showcase/ui/misc/fa.xhtml and choose Cruze or Bootstrap theme, you'll see the user icon is cutted on the left.
There's already a rule which makes the classes cooperate
https://github.com/primefaces/primefaces/blob/72a25feaf374be910c1fab22662074e4763be8b8/src/main/resour

[2017-11-29 14:27] melloware commented on #726
@mertsincan @onursenture Can you guys please weigh in on this before I add this to my PR?

[2017-11-29 14:45] ssibitz opened #3025 "Can not enter Number in InputNumber when only typing..."
Hello,

In the current Primefaces Build 6.2-SNAPSHOT i can not enter a value in range when minValue is set.

I have the following example

**FrontEnd:**
[code]

On Backend only this lines:

[code]

When i now want to enter 100.00 it will be corrected to 4 while i am typing instead of checking
on form sending or after changing.

So no way to enter 100.00 in this field but it should be a valid value

[2017-11-29 14:52] melloware commented on #3025
I have seen this too its because as you type "1" for "100" it says 1 is less than 4.00 and won't let you enter any data.  I didn't know if this was intentional or a bug.

[2017-11-29 14:59] ssibitz commented on #3025
I also can not delete the min-value from the field to enter "another" value.
It seems to be a bug because a minValue of 4 includes also 100 ...

[2017-11-29 15:20] tandraschko commented on #3025
Autonumeric js behaves weird here but this is known and i would not use min or max... But @mertsincan also just something the last weeks....

[2017-11-29 15:21] tandraschko commented on #3025
*changed, not just

[2017-11-29 15:24] ssibitz commented on #3025
So don't use min/max Value at the Moment is the best ?

[2017-11-29 15:28] melloware commented on #3025
@ssibitz I used max to great effect but I have stopped using min.

[2017-11-29 15:32] awenger63 commented on #3002
Hi, if zip file cannot be use to reproduce, you can use showcase lazy code [https://www.primefaces.org/showcase/ui/data/datatable/lazy.xhtml](url) and replace :

`
<p:dataTable var="car" value="#{dtLazyView.lazyModel}" paginator="true" rows="10"                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"            

[2017-11-29 16:00] JHookDev opened #3026 "Datatable sortBy and sortOrder - column header issue"
## 1) Environment
- PrimeFaces version: 6.1.9
- Does it work on the newest released PrimeFaces version? Version? No, 6.1.9
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
- Application server + version: Tomcat 8.5
- Affected browsers: Chrome

## 2) Expected behavior
When page is rendered the column header for t

[2017-11-29 16:18] melloware commented on #3026
@mertsincan regression issue between Elite 6.1.8 and 6.1.9?

https://github.com/primefaces/primefaces/issues/2932

[2017-11-29 16:20] melloware commented on #2932
Regression introduced #3026

[2017-11-29 16:36] kukel commented on #3014
@melloware : Any other places/components this needs changing? Would be bad if  6.2 is released and this pops up in more places.

[2017-11-29 18:02] melloware commented on #3014
@kukel You are right I just pushed another commit that fixes Datatable the exact same way.

[2017-11-29 22:14] melloware commented on #3025
@ssibitz Unfortunately I think you can close this.

From the Autonumeric guide: http://autonumeric.org/#/guide

All of their examples show minValue=0 or lower like minvalue=-276.  Basically they are saying we can't use a positive number.

[2017-11-29 22:38] melloware commented on #3002
I can't reproduce with the Lazy showcase running the latest 6.2-SNAPSHOT.

I used the exact syntax below the and first row is not duplicated for me?

[code]

[2017-11-30 00:00] awenger63 commented on #3002
And with the zip file project primefaces-test in 6.2 ?

[2017-11-30 00:17] melloware commented on #3002
I will try the zip next sorry.  I just did your showcase example because I had it open.

[2017-11-30 06:37] ssibitz commented on #3025
So when its not working right  - please remove it from the attributes (or set it to deprecated).

I think in a case that the user (including me) want to use the minValue/maxValue attribute on
an InputNumber he only want to be sure that the user can not enter values outside the range he entered.
The check must not be executed at runtime when he enteres the value,
so the minValue/maxValue can be rep

[2017-11-30 08:31] cagataycivici commented on #2975
Why in the following case, components.js is loaded after jquery-ui plugins then.

view-source:https://www.primefaces.org/showcase/ui/button/button.xhtml

[2017-11-30 08:31] cagataycivici commented on #2975
Also we need to make sure 6.2 does not break the premium templates.

[2017-11-30 09:11] OBreidenbach commented on #2975
Components.js is loaded after jquery-ui plugins because button.xhtml uses template.xhtml.
In template.xhtml <p:remoteCommand .../> is before the include which is used by button.xhtml.
As the definition for remoteComand is correct. Everything is working fine.

Just put any component with missing jquery-ui plugin before the remoteCommand and you will see the failure.

[2017-11-30 09:14] Rapster commented on #2975
Thanks @OBreidenbach I was wondering why JQP was loaded at all but you just gave the answer ;-)

[2017-11-30 09:16] Rapster commented on #2975
@cagataycivici PF 6.2 breaks Premium templates already, I created a ticket here https://github.com/primefaces/layouts/issues/150

[2017-11-30 11:12] jajajaja opened #3028 "SelectOneMenu: Selected value is not reverted after clicking on same value in dropdown"
## 1) Environment
- PrimeFaces version:
6.1.6
- Does it work on the newest released PrimeFaces version? Version?
No
- Does it work on the newest sources in GitHub?
No
- Application server + version:
Jetty
- Affected browsers:
Chrome
## 2) Expected behavior
Component displays actual value.

## 3) Actual behavior
Component displays pre-selected value.

## 4) Steps to reproduce

1. Select 'Xbox One'

[2017-11-30 12:13] melloware commented on #3002
Hey in your zip you included only the compiled code.  I need the whole project so I can run "mvn clean jetty:run".   Include the pom.xml and the /src folder but do not include the /target folder.

[2017-11-30 12:15] melloware commented on #3028
Using Chrome 62 and the showcase I can't reproduce your scenario?

https://www.primefaces.org/showcase/ui/input/oneMenu.xhtml

[2017-11-30 12:26] tandraschko commented on #2975
Cagatay, the PR should fix it and is fine. Dont worry, will take care of it in 1,5 weeks.

[2017-11-30 13:18] melloware commented on #3025
@ssibitz that is what I do too for min but the min and maxvalue on the component still have value.  Your solution requires a network round trip for JSF to do the validation.   A lot of my inputNumber's I know i don't want a negative number so I will do minValue="0" to prevent user from typing in a negative number providing a better user experience WITHOUT a network round trip.

Same with maxValue=

[2017-11-30 13:37] awenger63 commented on #3002
Sorry, it's the first time I post a project template. Your rigth, without source code it's could be difficult to analyse the issue ....
Look at this and tell me  :
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/1517945/primefaces-test-master.zip)

[2017-11-30 13:42] melloware commented on #3002
OK tested on..

PF6.1 with Chrome 62, Firefox 67, MS Edge no issue with duplicate first row

PF6.2-SNAPSHOT with Chrome 62, Firefox 67, MS Edge no issue with duplicate first row

I can't reproduce your issue.  What browser are you using?  Have you hit CTRL+F5 to force Javascript and CSS reload?

[2017-11-30 14:02] awenger63 commented on #3002
I tell information on header issue :
    PrimeFaces version: 6.1
    Affected browsers: Chrome , FireFox , IE

Version is Chrome 62.0.3202.94, FireFox Quantum 57
To see the issue, you must scroll slowly : you have the fisrt 50 rows and then you have another time the 50 first rows before load lazy data fire and after your have the 50 next (load fire). If you go back, every thing all right after. lo

[2017-11-30 14:15] jajajaja commented on #3028
Demo from showcase page and Chrome 62.
![primefaces-3028](https://user-images.githubusercontent.com/1092830/33434884-ed7121c6-d5e0-11e7-95bf-2bb2e9daec0b.gif)

[2017-11-30 14:20] melloware commented on #3002
AHHH now I see it. Your description was confusing me what I was supposed to be looking for.   I can confirm your test zip shows this issue in 6.1 and 6.2-SNAPSHOT.

[2017-11-30 14:21] melloware commented on #3028
AHH OK video helped.  I was pressing ENTER to actually select "Wii U" when navigating with keyboard.

[2017-11-30 14:54] VsevolodGolovanov opened #3029 "Focus: (for, context) with selectOneRadio results in a non-selected item being focused"
## 1) Environment
PrimeFaces 6.2-SNAPSHOT

## 2) Expected behavior

p:focus should set the focus on a selected radio item if there is one, not the first.

## 3) Actual behavior

p:focus always sets the focus on the first radio item.

## 4) Steps to reproduce

Use p:focus with `for` or `context` attributes with p:selectOneRadio.

## 5) Sample XHTML

	<p:focus for="console" />
	<p:selectOneRadio id=

[2017-11-30 16:19] sagksam opened #3030 "get the inputTextNumber Jquery"
I can't get the value of my inputTextNumber in JQuery.
I've tried this way but nothing is returned.
Can anyone help me?

                         <p:inputNumber class="valorCusto" id="valorCusto" value="#{produtoBean.produto.valorVenda}" symbolPosition="s" emptyValue="" minValue="0.00"  required="true" requiredMessage="O campo Valor Custo é obrigatório">
                            <p:message for=

[2017-11-30 16:26] tandraschko commented on #3030
Questions -> forum

[2017-11-30 16:26] #3030 closed, assigned to nobody

[2017-11-30 16:36] melloware commented on #3030
Forum: https://forum.primefaces.org/viewforum.php?f=3

[2017-11-30 17:14] jxmai commented on #2583
I will take care of this ticket.

[2017-11-30 17:20] jxmai commented on #2583
This problem is quite obvious and we can replicate in https://www.primefaces.org/showcase/ui/data/pickList.xhtml as the reporter's description.

There are more serious problems than this bad behavior  if we don't fix this issue.

![image](https://user-images.githubusercontent.com/10467831/33444587-510e3424-d5c0-11e7-8b96-ff3d887bb6a4.png)

If we hold the ready to be transferred item during transfe

[2017-11-30 20:59] jxmai commented on #2584
PR: #3031

[2017-11-30 21:21] jxmai commented on #1081
Although it could be an inconsistent UI issue,  the main issue is not on Primefaces but because jquery UI does not support multi-sortable out of the box (http://jqueryui.com/sortable/).

There are some other jquery ui extension libraies such as https://github.com/shvetsgroup/jquery.multisortable to provide such a missing feature, but it might not worth a shot and we better stick with the native jq

[2017-12-01 00:57] kukel commented on #3003
@melloware: Please check the same for the treetable

[2017-12-01 01:00] kukel commented on #2604
Same is true when there is no selection enabled at all. I want to have a contextMenu for the full datatable/treetable. That is my context (in a specific case) not a certain row. With this 'fix' I should enable selection on the tree/datatable and disable it on every row to get the behaviour I need.

[2017-12-01 01:41] jxmai commented on #3003
@kukel treetable does not support keyboard accessibility at the moment so there is no assign focus in treetable at all

To test it out, you can compare the following two pages:

`treetable`:

 https://www.primefaces.org/showcase/ui/data/treetable/contextMenu.xhtml

`datatable`:

https://www.primefaces.org/showcase/ui/data/datatable/contextMenu.xhtml

and then follow the steps to replicate by aweng

[2017-12-01 08:49] mertsincan opened #3032 "Add scroll state feature to Vertical Tree"

[2017-12-01 08:50] #3032 closed, assigned to mertsincan

[2017-12-01 09:27] #3026 closed, assigned to mertsincan

[2017-12-01 10:13] #2949 closed, assigned to cagataycivici

[2017-12-01 13:25] mertsincan opened #3033 "Responsive issue on Picklist without showSourceControls and showTargedControls"
Reported By PRO User;

[2017-12-01 13:26] #3033 closed, assigned to mertsincan

[2017-12-01 15:08] dmytrofer opened #3034 "FileUpload: Issue with filenames containing semicolon or double quotes"
Method NativeUploadedFile.resolveFilename splits by ';' and replaces '"' in filename param. It leads to problems with getting name of uploaded file.

## 1) Environment
- PrimeFaces version: 6.1.6

## 2) Expected behavior
All file names are processed correctly

## 3) Actual behavior
* Name **'File;Import.xlsx'** is extracted as **'File'**
* Name **'File"Import.xlsx'** is extracted as **'FileImport.

[2017-12-01 15:31] jajajaja commented on #2366
@melloware In which branch could I make a pull-request for 6.1?

[2017-12-01 16:36] ianfranco commented on #2356
I try the demo at http://primefaces.org/showcase/ui/input/oneMenu.xhtml in windows xp and in windows 7 and it works, but in windows 10 (any browser) it does not, so ...

[2017-12-01 16:40] melloware commented on #2366
You can’t. The 6.1 elite releases are controlled by @mertsincan so it’s as his discretion what gets merged or if you have a PRO account you can request it there.

[2017-12-01 17:52] jxmai commented on #3034
semicolon is legal, but double quote is reserved in NTFS file paths. Please see https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx

[code]

[2017-12-01 18:31] orange-buffalo commented on #3034
@jxmai could you please elaborate why file upload component is bound to the NTFS file system? Both client and server could run on OSes with other files systems, for instance in ext3/4 double quote is a perfectly legal character in the file name.

[2017-12-01 19:00] jxmai commented on #3034
@orange-buffalo  Nevermind. The culprit is not about the fileSystem. It is about the following method

https://github.com/primefaces/primefaces/blob/102b4b93e80546b8b70650820eeb9ef258a07d71/src/main/java/org/primefaces/model/NativeUploadedFile.java#L91-L97

Sample input:

[code]

Indeed, as dmytrofer says

---

Thinking we can probably use a regex that grab content like `filename=\"([^\"]*)\"` (no

[2017-12-01 19:38] melloware commented on #3034
relates to https://github.com/primefaces/primefaces/issues/506

[2017-12-01 19:39] melloware commented on #506
relates to https://github.com/primefaces/primefaces/issues/3034

[2017-12-01 21:04] melloware commented on #2356
Hmm I don’t know why it would be OS specific as the browser is all that should matter?

[2017-12-01 21:43] orange-buffalo commented on #3034
According to the [MDN docs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition), for the multipart body the set of possible parameters is limited and, more interesting for us, every parameter value:

According to the [RFC2661](https://tools.ietf.org/html/rfc2616#section-2.2):

If I understood this correctly, in case of the file name with double-quotes (`Test; "123.txt`),

[2017-12-01 22:08] jxmai commented on #3034
@orange-buffalo Maybe https://stackoverflow.com/questions/27226258/get-filename-from-content-disposition can help ?

[2017-12-01 22:35] jxmai commented on #3034
OK, I tested both cases and they all worked as expected. IMHO,  it should be a standard solution. PR will be coming shortly.

[2017-12-01 23:17] jxmai commented on #506
Wow, this is a really good point. PR: #3036

[2017-12-02 05:19] jxmai commented on #3029
@VsevolodGolovanov  I can replicate this bug, the reason is that

https://github.com/primefaces/primefaces/blob/102b4b93e80546b8b70650820eeb9ef258a07d71/src/main/resources/META-INF/resources/primefaces/core/core.js#L412-L421

The block of code above located in the else statement for the other scenriao you mentioned about.

But we need to take care of all other cases too.

I will raise a patch shor

[2017-12-02 05:25] jxmai commented on #3029
PR: #3037

[2017-12-02 08:21] orange-buffalo commented on #3034
@jxmai, I've checked the input `form-data; name="j_idt43:j_idt44"; filename="Test; \"123.txt"` against this regexp, and it detects the filename as `Test; \` instead of `Test; "123.txt`.
Maybe providing a unit test for the parser could be a good option to ensure the expected result?

[2017-12-02 14:37] melloware commented on #3034
It seems like the only truly correct way to parse a Content-Disposition header is to parse it char by char.  See these two classes from javax.mail

http://grepcode.com/file_/repo1.maven.org/maven2/org.apache.geronimo.specs/geronimo-javamail_1.4_spec/1.1/javax/mail/internet/ContentDisposition.java/?av=f

http://grepcode.com/file/repo1.maven.org/maven2/org.apache.geronimo.specs/geronimo-javamail_1.4

[2017-12-02 16:49] jxmai commented on #2171
PR: #3038

[2017-12-02 19:46] dwagmuse commented on #2977
Is there anything I can do to help get this fix merged and released?

[2017-12-02 21:46] melloware commented on #2977
You will most likely have to wait until the 6.2 release for this fix or build it locally yourself for now.  I doubt it will get merged into 6.1.x Elite release unless you are a PRO subscriber.

[2017-12-02 22:23] Adam-1 opened #3039 "Dialog state (maximized/minimized) buggy across AJAX updates"
When a dialog is closed while in minimized/maximized state and then updated (via AJAX) its state become corrupted somehow.

If it was closed in maximized state, when it's shown again it's in normal size but it "thinks" it's still in maximized state so 2 clicks on the maximize button are required in order to maximize it.

If, on the other hand, it was closed while in minimized state, when it's show

[2017-12-02 22:53] jxmai commented on #3034
Note: The `getFileName` method we are currently using is exactly the same as the example in Oracle's official Java EE 6 tutorial (https://docs.oracle.com/javaee/6/tutorial/doc/glraq.html). Well, this problem might not be easy by nature...

---

It might be better to have a standard known solution that we can use directly. It is a little overwhelm if we choose to parse char by char like building a

[2017-12-02 23:03] Adam-1 commented on #3039
Added PR #3040
(just my 2 cents, there may be better ways to handle it)

[2017-12-03 21:23] tandraschko commented on #3034
+1 to change here something only with a good amount of unittests ;)

[2017-12-03 21:24] tandraschko commented on #3025
Will close it for now, we already had a talk about that in the past.

[2017-12-03 21:24] #3025 closed, assigned to nobody

[2017-12-04 11:08] mertsincan opened #3041 "MultiViewState support to Reorder DataTable"
<p:dataTable draggableColumns="true" multiViewState="true" .../>

Required;
- <p:ajax event="colReorder" /> in datatable
- <h:form>

[2017-12-04 11:10] #3041 closed, assigned to mertsincan

[2017-12-04 12:55] melloware commented on #3034
It doesn't look like Omnifaces does it correctly either.

https://github.com/omnifaces/omnifaces/blob/develop/src/main/java/org/omnifaces/util/Servlets.java#L405

[2017-12-04 17:52] vinitkishore opened #3042 "p:treetable is firing ajax event on row select with checkbox"
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-12-04 18:01] melloware commented on #3034
OK can you guys test my PR: https://github.com/primefaces/primefaces/pull/3043

I have unit tests that test all the scenarios we have discussed so far and prove that it works.  I had to parse character by character but it wasn't so bad.  Uses only native java code and no libraries to perform the task.

[2017-12-05 06:08] mertsincan opened #3044 "MultiViewState support to DataTable that has columnToggler component"
[code]

Required;
- <p:ajax event="toggle" /> in columnToggler
- <h:form>

[2017-12-05 06:11] #3044 closed, assigned to mertsincan

[2017-12-05 09:04] orange-buffalo commented on #3034
@melloware Thanks for the PR! We will try to share our test results today or tomorrow.

[2017-12-05 09:34] qnox opened #3045 "Dialog doesn't set focus on forms with only radio and checkboxes inside them."
## 1) Environment
- PrimeFaces version:
6.1
- Does it work on the newest released PrimeFaces version? Version?
No
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source)
No
- Application server + version:
JBoss EAP 7.0.8.GA
- Affected browsers:
Not depends on browser

## 2) Expected behavior
Form inside dialog with onl

[2017-12-05 12:19] melloware commented on #3034
Thanks @orange-buffalo definitely let me know how it goes or if I need to add any more test cases.

[2017-12-05 12:31] mertsincan opened #3046 "MultiViewState support to resizable DataTable"
<p:dataTable multiViewState="true" resizableColumns="true" .../>

Required;
- <p:ajax event=".." /> in datatable
- <h:form>

[2017-12-05 12:35] #3046 closed, assigned to mertsincan

[2017-12-05 12:41] Rapster commented on #3046
@mertsincan Since you're working on MultiViewState, could you please have a look at this one #2631 I tried to analyse the problem but since I'm not very familiar with this feature i'm not sure what's going wrong

[2017-12-05 13:34] orange-buffalo commented on #3034
@melloware We have tested file upload in your branch, and it works fine with double quotes and semicolons. Thanks a lot! We are looking forward to getting the PF version with this fix.

[2017-12-05 13:48] melloware commented on #3034
Awesome!  Hopefully PF will approve this patch as it meets the following criteria:
- Fixes unix bugs
- pure java code (no libraries needed)
- doesn't break anything that used to work

[2017-12-05 15:49] davyrod commented on #2435
On 6.1.9 and it appears to still not be fixed.  Any updates on this?

[2017-12-05 15:49] melloware commented on #3042
I can't quite explain why but it looks like it was intentional to always fire an ajax request in treetable.js...

[code]

[2017-12-05 15:52] melloware commented on #2435
Just reported through my PRO account to get fixed for 6.1.10...

[2017-12-05 17:11] jxmai commented on #3042
https://github.com/primefaces/primefaces/commit/24c82e7af11761304fb56a2a86951fc5f1d2b6f6#diff-3676751f7229ae9ae602ba54c488578fR428

Might be a small mistake embedded in a big commit. Should we also check `if(this.hasBehavior('select'))` ?

[2017-12-05 17:36] melloware commented on #3042
@jxmai the one that has me scratching my head is this block here where it intentionally is sending data back even if the select event is not used like it still wants to do it for checkboxes.

[code]

[2017-12-05 17:51] jxmai commented on #3042
Hmm. Maybe the trigger is before this function. As you can see, the function is called `fireSelectedNodeEvent` so we can expect it to fire ajax.

https://github.com/primefaces/primefaces/blob/24c82e7af11761304fb56a2a86951fc5f1d2b6f6/src/main/resources/META-INF/resources/primefaces/treetable/treetable.js#L304-L307

The code was taken from `toggleCheckboxNode`, and you can see checkbox can fire even

[2017-12-05 17:55] melloware commented on #3045
Just for my knowlegde can you try two things.

1. Use a p:focus
[code]

2. Put the form outside the dialog.
[code]

[2017-12-05 17:56] jxmai commented on #3042
@melloware By the way, for some reason there is a semicolon right after the bracket. I don't recall anything like this in JS syntax.

https://github.com/primefaces/primefaces/blob/24c82e7af11761304fb56a2a86951fc5f1d2b6f6/src/main/resources/META-INF/resources/primefaces/treetable/treetable.js#L268-L270

[2017-12-05 18:16] jxmai commented on #3042
https://www.primefaces.org/showcase/ui/data/treetable/selection.xhtml

The checkbox selection fires ajax every time, and the single selection does not. The advantage of checkbox is to provide the ability to select all children of a node by a single click. I don't really see the purpose of that mandatory AJAX event to be honest other than slow down the UI / increase network traffic unnecessarily.

[2017-12-05 19:06] melloware commented on #3042
Agreed and that extra semicolon has to just be a mistake right?  I have never seen that either.

[2017-12-05 19:56] jxmai commented on #3042
Alright.   #3047

[2017-12-05 20:23] jxmai commented on #3039
First of all, I could confirm this bug.

about the PR: @Adam-1

The changes are all over the place, could you explain the intention in details (your thought) that can help us see through the suggestion.

[2017-12-05 20:42] Adam-1 commented on #3039
@jxmai
Well, since the problem arise when the dialog DOM is updated but the **client** state isn't, I thought I could restore the maximize/minimize state when the dialog is updated.

Most of the code is just method extraction of the actual maximizing/minimizing without all the checkings and event triggering.

When I detect in the "refresh" method that there was a state (and was probably overridden

[2017-12-06 05:59] renceabishek opened #3048 "Primefaces Selectonebutton gets unselect while i click on already selectedbutton!"
while i click on already selected button in primefaces selectonebutton, it gets unselect. i dont want to unselect whenever i click on selectedbutton. is there any possible solution?

[2017-12-06 09:27] prabhu352 opened #3049 "Chart: throwing "Cannot read property 'LinearAxisRenderer' of undefined""
# IMPORTANT
- !!! If you open an issue, fill every item. Otherwise the issue might be closed as invalid. !!!

- Before you open an issue, test it with the current/newest version.
- Try to find an explanation to your problem by yourself, by simply debugging. This will help us to solve your issue 10x faster
- Clone this repository https://github.com/primefaces/primefaces-test.git in order to reprodu

[2017-12-06 09:28] prabhu352 commented on #3049
please help us to resolve this issue ASAP.

[2017-12-06 11:43] tandraschko commented on #3049
If you need something ASAP, i suggest to use PrimeFaces PRO.

[2017-12-06 12:10] melloware commented on #3048
It does not look like it unless you override the default PF javascript yourself.  Below is the code from form.selectonebutton.js that says if the button is selected if fires the unselect.

[code]

This is the intended behavior so adding anything that prevents it is an enhancement request.

[2017-12-06 13:29] tandraschko commented on #3042
I dont think we can remove it, otherwise its impossible to transfer the selection to the server.

[2017-12-06 20:09] mertsincan commented on #3046
Thanks @Rapster ;) I'll check it after finishing multiViewState features.

[2017-12-06 21:55] mertsincan opened #3050 "Dialog lose client state when updated"
Reported By PRO User;

[2017-12-06 21:56] #3050 closed, assigned to mertsincan

[2017-12-06 22:33] tandraschko commented on #3050
@mertsincan does it also fix #3039?

[2017-12-07 00:35] melloware commented on #3039
@Adam-1 can you review this fix it definitely looks related to yours but not sure if it does as much as yours does.  https://github.com/primefaces/primefaces/issues/3050

[2017-12-07 06:11] mertsincan commented on #3039
Duplicate of #3050

[2017-12-07 06:15] mertsincan commented on #3039
This issue is fixed for 6.1.10 and 6.2. Please create a new issue for max/min state issue.

[2017-12-07 06:16] mertsincan commented on #3050
Thanks @tandraschko and @melloware ;)

[2017-12-07 06:49] mertsincan commented on #2366
Added to 6.1.10.

[2017-12-07 09:00] markusg80 opened #3051 "Ultima theme not support Ribbon"
The Ultima Theme not support the Ribbon component and i already talkt about in Forum with @Cagataycivici

https://forum.primefaces.org/viewtopic.php?f=42&t=53367

Please solve it for next Ultima Release

[2017-12-07 09:14] Rapster commented on #3051
Post here instead https://github.com/primefaces/layouts

[2017-12-07 09:21] markusg80 commented on #3051
Ok i migrated it there

[2017-12-07 09:34] Rapster commented on #3051
You should be able to close this one then :wink:

[2017-12-07 09:38] #3051 closed, assigned to nobody

[2017-12-07 09:44] sentinalll commented on #3045
Hi, I tried both cases and they are also not working.

[2017-12-07 10:03] kaltuntas commented on #2842
hi guys,
any update on this issue?

[2017-12-07 10:10] NicolaIsotta opened #3052 "OutputLabel: support NotEmpty and NotBlank"
## 1) Environment
- PrimeFaces version: 6.1
- Does it work on the newest released PrimeFaces version? Version? no
- Does it work on the newest sources in GitHub? (Build by source -> https://github.com/primefaces/primefaces/wiki/Building-From-Source) no
- Application server + version: all
- Affected browsers: all

## 2) Expected behavior
OutputLabel should have the required indicator if the field i

[2017-12-07 10:24] NicolaIsotta commented on #3052
This changes to the `OutputLabelRenderer` class should fix the issue. Add this method:
[code]
And change this if:
https://github.com/primefaces/primefaces/blob/bd65846d275b60f0d02234a9f6d32bbd3c7d53a0/src/main/java/org/primefaces/component/outputlabel/OutputLabelRenderer.java#L116-L118
to:
[code]

[2017-12-07 10:39] tandraschko commented on #2842
Nope but you can provide a PR or sponsor it via PrimeFaces PRO

[2017-12-07 12:00] #2435 closed, assigned to mertsincan

[2017-12-07 12:24] melloware commented on #3045
OK thanks for testing it out.  I just wanted to rule some things out.

[2017-12-07 12:25] Rapster commented on #3052
Provide a PR instead if you know what the fix is

[2017-12-07 12:45] melloware commented on #3052
Can you guys review my PR.   I modified your solution to optimize it.

- Combined all validation checks so we just loop over Constraints once and not twice.
- Use class SimpleName so it catches both Hibernate and Bean Validation 2.0 NotEmpty NotBlank

[2017-12-07 12:56] tandraschko commented on #3052
We should add the same for the metadata transformer ;)

[2017-12-07 13:02] melloware commented on #3052
@tandraschko I see what you mean  in BeanValidationMetadataMapper it has ...

[code]

However this would require me to update to Bean Validations 2.0 in the pom.xml to have these new classes for NotEmpty and NotBlank.  Is that OK to do?

[2017-12-07 13:33] Zerounodue opened #3054 "Calendar: onChange event is not fired with pattern="dd.MM.yyyy""
##  Issue: p:calendar
onChange event is not fired if pattern is "dd.MM.yyyy"

If the pattern is "dd.MM.yyyy HH:mm" the event gets fired

## 1) Environment
- PrimeFaces version: 6.1.0
- Does it work on the newest released PrimeFaces version? no
- Does it work on the newest sources in GitHub? no
- Application server + version: WildFly 10
- Affected browsers: Tested on Google Chrome

## 2) Expected b

[2017-12-07 14:30] mertsincan opened #3055 "Clientside validation issue on inputNumber"
Reported By PRO User;

This also ignores/bypasses the defined validatorMessage.
...
In this example using "validateClient=false" results in the value being properly set as the hidden field (which doesn't contain the symbol) is passed to the converter.
Using "validateClient=true" however returns "testform:testnumber_input: '4.854 Stk' must be a number consisting of one or more digits." which indica

[2017-12-07 14:32] #3055 closed, assigned to mertsincan

[2017-12-07 21:41] jxmai commented on #3042
@tandraschko Good catch. I see what you meant. OK, that makes sense. I will modify the PR to only clean up the `;` then

@melloware  We have to  fire AJAX to guarantee the selection function to work correctly

In short, the collpased fields cannot be sent to server by UI mapping.

without firing AJAX:

![image](https://user-images.githubusercontent.com/10467831/33740011-ca0ff02a-db64-11e7-837e-f21

[2017-12-07 23:37] jxmai commented on #3039
@mertsincan @melloware This issue is only partially duplicate of #3050, I can confirm the maximize state has been resolved, but not the modal block after minimizing

Please try @Adam-1 's sample. It is straightforward to replicate which is one of the good samples I have seen. We should not just close this issue without trying to see what went wrong. Not to mention that @Adam-1 also gave a suggeste

[2017-12-07 23:53] melloware commented on #3039
@jxmai I agree this should be reopened.

[2017-12-08 04:19] jxmai commented on #3054
I believe this ticket is somewhat related to https://github.com/primefaces/primefaces/issues/2811. The regression source may still be #1371 .  It seems like the `onchange` has broken in multiple ways during the timepicker 1.6.3 upgrade.

To replicate:

[code]

[code]

**The onchange callback will never fire**

----

But if we change the date pattern to `dd.MM.yyyy HH:mm`

[code]

**The callback wi

[2017-12-08 04:20] jxmai commented on #1371
regression: #3054

[2017-12-08 04:29] jxmai commented on #1371
@mertsincan Please review this upgrade when you are available. melloware and I had spent some effort trying to address this regression previously, but there is no feedback so far. Please take a look at https://github.com/primefaces/primefaces/pull/2839. Currently the `onchange` client side callback is broken.

[2017-12-08 06:40] sudhansu789 commented on #2055
How to change title of PDF ?

[2017-12-08 10:34] sudhansu789 commented on #2055
Issue is also simulates in  IE browser also.

[2017-12-08 12:14] Adam-1 commented on #3039
@jxmai The minimize state problem (modal) is mentioned in the bug description. (Unless you mean to change this ticket to be about minimize+modal bug **only**?)

[2017-12-08 12:33] melloware commented on #2055
@sudhansu789 a few things...

1. This is fixed in PF 6.1 are you using 6.1 or higher?

2. The title of the PDF is the tile of the file name you are loading like "hello.pdf".

[2017-12-08 13:15] kukel commented on #2055
@melloware: See also https://stackoverflow.com/questions/47568134/wrong-title-and-file-name-displayed-for-pdf-in-primefaces-pmedia-component (from OP) and the related
https://stackoverflow.com/questions/44393132/default-header-pmedia-with-pdf-player

[2017-12-08 13:23] melloware commented on #2055
@kukel so i am confused from those posts on Stack Overflow.  Is it fixed or not?  IF its not fixed a new issue should be opened.  If it is fixed then there is no issue right?

[2017-12-08 14:05] #3039 closed, assigned to mertsincan

[2017-12-08 14:07] kukel commented on #2055
OP is not really clear on that since no version info is posted and more...

[2017-12-08 19:05] tandraschko commented on #2988
committed something and should work now.
Some notes:
1) you don't even need to the filter on JSF 2.2 environments, so therefore you can just remove it from your web.xml
2) the handling of the PrimeConfiguration will be redeveloped in 6.3, after RequestContext will be removed. So it will be cleaner soon.

Would be great if you can test + review.

[2017-12-08 19:05] #2988 closed, assigned to tandraschko

[2017-12-08 19:09] #3042 closed, assigned to nobody

[2017-12-08 19:11] #3014 closed, assigned to tandraschko

[2017-12-08 19:16] tandraschko commented on #3012
@mertsincan This is just a little null check, maybe you can put into elite as the user asked for it.

[2017-12-08 19:17] #2987 closed, assigned to tandraschko

[2017-12-08 19:18] tandraschko commented on #2987
I think it should be fixed - If everything works fine, its ok for me.

[2017-12-08 19:18] #3005 closed, assigned to tandraschko

[2017-12-08 19:20] tandraschko commented on #3005
Thanks for the many PR's @jxmai @melloware ;) will take some days and will only apply bug fixes and small improvement, i think we need to release RC1 soon.

[2017-12-08 19:32] #2996 closed, assigned to tandraschko

[2017-12-08 20:30] ravihariharan opened #3056 "Upgrade to Font Awesome 5.0.2"
Incorporate  Font Awesome 5.0.1 (fontawesome-free-5.0.1)

https://fontawesome.com/?utm_source=font_awesome_homepage&utm_medium=display&utm_campaign=fa5_released&utm_content=banner

[2017-12-08 20:55] melloware commented on #3056
wow 896 icons.  This will most likely be done in 6.3 as PF is trying to button up the 6.2 release now.

[2017-12-08 22:14] ravihariharan commented on #3056
I got some icons to work. but due to change in 5 some icons will have to changed in code.

![image](https://user-images.githubusercontent.com/15189434/33787186-1eea679e-dc3a-11e7-857b-be3825b4afee.png)

![image](https://user-images.githubusercontent.com/15189434/33787304-a4011f04-dc3a-11e7-90ef-a6a8d252a506.png)

I can do a PR since this is not a Primefaces issue and will have to done to support "

[2017-12-09 00:31] #3012 closed, assigned to tandraschko

[2017-12-09 00:36] tandraschko commented on #3048
there is a unselectable attribute, but the handling was a little bit buggy so i fixed some things for 6.2.
Next time -> questions -> forum ;)

[2017-12-09 00:36] #3048 closed, assigned to nobody

[2017-12-09 00:37] tandraschko commented on #3022
Please provide more details why it should not be possible via the value attribute.

[2017-12-09 00:40] #2974 closed, assigned to nobody

[2017-12-09 00:43] tandraschko commented on #914
No example, no screenshot, as there are other issues with a similar description -> will close it as invalid.
You can still create a new issue with all requested informations.