[2022-02-08 17:31] tandraschko commented on #8416
what about `disabledSelection` and `selectRow`? should we give them better names?
also should we rename `rowSelectMode` to `rowSelectionMode`, to better align it with `selectionMode`?

[2022-02-08 17:34] melloware commented on #8416
Yep I think we can rename some of these personally i like when all related props start with the same word like `selection` so I don't have to go fishing for properties.  so `selectionMode`, `selectionRowMode`, `selectionDisabled` etc?

[2022-02-08 17:36] tandraschko opened #8417 "DataTable: allow disabling rowSelection with p:column selectionMode=single"
currently you can also select/deselect a row, also when clicking on the row itself

[2022-02-08 17:55] FlipWarthog commented on #8416
I think I agree with the naming consistency but I definitely need to look at my tables where I dealt with this so I can remember what pain-points I had. I think there's definitely room for improvement with the props that attributes that relate to clicking the row itself. Also how these relate to meta keys, e.g. holding Ctrl and clicking rows.

[2022-02-08 17:57] #8417 closed, assigned to tandraschko

[2022-02-08 18:08] FlipWarthog commented on #8416
@melloware I remember my main issue: `rowSelector`. That's what I used to disable row selection by clicking the row. But I had to dive through the .js to see how it's used and reverse engineer my way to `rowSelector="ui-selection-column"`

From the docs:

[2022-02-08 19:14] #8414 closed, assigned to fanste

[2022-02-08 21:41] Rapster commented on #8416
+1 for the prefix, and since I like to keep things short and sweet, I would personnally  go with `select` prefix

I always miss something when I have to set up this feature since selection can be configured whether on DataTable or Column. I remember taking few notes long time back when I started refactoring DataTable, but as I lost them... Here are the thoughts that come on top my head:
- `DataTab

[2022-02-08 22:14] stolp commented on #8416
As always I like to first raise my voice for keeping backwards compatibility as high as possible.

Then again, I do see the merits of a consistent naming strategy for attributes here.

My first hunch was thinking it may make sense to use the 'select' prefix for attributes related to the selection process and a 'selection' prefix for attributes related to the selected items themselves. Just an idea

[2022-02-09 08:10] jepsar commented on #8408
@melloware I don't know if you remember this one, but I was fooled again by this Safari feature! By default it lets you focus certain elements when using (Shift+)Tab. If you want to focus each focusable element, you'll need to use Option+(Shift+)Tab.

[2022-02-09 08:10] #8408 closed, assigned to jepsar

[2022-02-09 08:29] tandraschko commented on #8406
i switched to enhancement as i think its a bit different then the normal selection.
if you use the normal selection, the selection state itself is handled inside the DataTable state and multiViewState. in this case, you just set the POJO selected in the backend.

[2022-02-09 09:00] tandraschko commented on #8416
@Rapster what does `meta` mean?

i general we have 4 modes: single selection via row click (p:dataTable), single selection via radio (p:column), multi via row (p:dataTable), multi via checkbox (p:column)

[2022-02-09 09:09] fcorneli commented on #8395
Why not go _all the way_ with the reflection? :)
https://github.com/e-Contract/jsf-crud

[2022-02-09 09:11] marw1tt commented on #8406
Indeed, is there a way  to make this work again (worked with PF 8)? I have seen this mechanic on the documentation page from PrimeFaces for the dataTable component.

[2022-02-09 09:16] tandraschko commented on #8406
could you create a primefaces-test project with PF8, which shows that it worked?
also you can maybe debug a bit, when its added to the multiviewstate exactly

[2022-02-09 09:19] tandraschko commented on #8395
update the code now
the PD cache should propably go into PrimeApplication
i wont invest time for now to try to replace the SortFeature/FilterFeature but i think its a good idea for the future

[2022-02-09 09:23] marw1tt commented on #8406
I will do that, but I guess it will take some time before I find time to do this. But beside from that, do you agree that it is reasonable  that there is a way to select a row in the table programmatically and not only by clicking?

[2022-02-09 09:24] tandraschko commented on #8406
yep, there already is: https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/java/org/primefaces/component/datatable/DataTable.java#L1155

[2022-02-09 09:33] fanste commented on #8347
I just had a quick look into the reproducer. The root cause is, that the `filteredValue` is not stored to the view state anymore, [see here](https://github.com/primefaces/primefaces/blob/68c6afcd5bde4a751c5ac15128a9333c99f1ef95/primefaces/src/main/java/org/primefaces/component/datatable/DataTable.java#L302).

The method `processEvent` is invoked on restore view phase, the datatable checks if it is

[2022-02-09 09:56] Rapster commented on #8416
Meta as in metaKey (just reused keyword from documentation). Actually, can't we simply remove Column#selectionMode? The presence of a flag like Column#selection as a Boolean and DataTable#selectionMode to decide whether it's a radio button or a checkbox should be good enough no?

[2022-02-09 10:37] tandraschko commented on #8416
so you mean
dataTable#selectionMode=multiple is selectable via row click
if you add
column selection=true, a checkbox shows in this column?

and rowSelectMode=none could then disable row click?

[2022-02-09 10:51] Rapster commented on #8416
Yes and btw, is here any difference between DataTable#rowSelectMode none and Column#selectRow?

[2022-02-09 11:40] mertsincan commented on #8416
Maybe selectionMode could be like in primereact
https://www.primefaces.org/primereact/datatable/selection/
[code]

[2022-02-09 12:00] TEAMS-HRM opened #8419 "ArrayIndexOutOfBoundsException when use PF datatable exporter programmatically"
Hi,
Our system is generating the pages programmatically, we used to use datatable exporter in PFExt, but when we upgraded the versions we moved to use the one in PF, and now we got the below exception.

Mojarra JSF 2.3.14 (Specification 2.3)
Primefaces 11.0.0
Weblogic 14.1.1.0.0
Java 1.8

I have attached a very simple project which generate datatable and exporter, when we tried to use the exporter

[2022-02-09 12:32] melloware commented on #8408
Ahh yes I remember we got burned by this before!

[2022-02-09 12:34] melloware commented on #8347
I think you are right `totalRecords` is too generic and should have the clientId prefix.

[2022-02-09 12:37] jepsar commented on #8408
FWIW #7416

[2022-02-09 12:38] melloware commented on #8419
Your reproducer is not runnable.

Please  provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-02-09 12:40] melloware commented on #8419
And just as a note your error looks an awful lot like this Mojarra error: https://github.com/eclipse-ee4j/mojarra/issues/4936

[2022-02-09 18:00] mihaiDumea opened #8421 "Tooltip: show and hide methods should not execute concurrently"
If you move your mouse pointer fast enough, you can end up with no tooltip showing on an element that has one. It's easier to replicate when an element(e.g. CommandButton) with a tooltip has children, and the show and hide events fires for each of them.

It's harder to replicate when you set a hideDelay="10", so that show method manages to cancel the hide timeout.
At least, a check(if the show met

[2022-02-09 20:33] melloware commented on #8421
Hmmm its already doing ` if(this.isVisible()) {` so it was visible when it started but this kind of stuff with asynchronous events is tough.    A proposed PR would be welcome.

[2022-02-09 22:21] mihaiDumea commented on #8421
The actual function that does the work is executed after `this.cfg.hideEffectDuration`.

[2022-02-10 01:14] melloware commented on #8421
If you have a proposed fix please submit a PR or post it here

[2022-02-10 03:35] maruTA-bis5 commented on #8387
I'll provide a PR to fix this weekend...

[2022-02-10 08:12] mihaiDumea commented on #8421
I will try to find one. Meanwhile, using hideDelay="10" can be used as an workaround.

[2022-02-10 09:02] jepsar commented on #5503
What caused the weird behavior of first being able to select a button and no longer once a button was selected was caused by part of the buttons in the radio group were hidden. The only thing that had to change was having a distinct group name for the custom buttons, so that they won't interfere with the original, hidden radio buttons.

[2022-02-10 13:01] TEAMS-HRM commented on #8419
Please find the executable example running on Jetty, also I found that the exception is only come when I have the below  param in web.xml

<context-param>
    <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
    <param-value>false</param-value>
</context-param>

[PrimefacesTester.zip](https://github.com/primefaces/primefaces/files/8041071/PrimefacesTester.zip)

[2022-02-10 13:13] melloware commented on #8419
When I run `mvn clean jetty:run` it won't start.

[2022-02-10 13:19] melloware commented on #8419
[pf-8419.zip](https://github.com/primefaces/primefaces/files/8041228/pf-8419.zip)

OK finally got your reproducer working.  Confirmed your bug is Mojarra Bug found here: https://github.com/eclipse-ee4j/mojarra/issues/4936

Not a PrimeFaces issue it was fixed in Mojarr 2.3.17.

[2022-02-10 13:19] #8419 closed, assigned to nobody

[2022-02-10 14:03] TEAMS-HRM commented on #8419
thanks. I update the JSF implementation to higher version and it worked

               <dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.faces</artifactId>
			<version>2.3.3.102</version>
		</dependency>

[2022-02-10 14:10] melloware commented on #8419
Cool I added the workaround label to this ticket thanks for reporting back!

[2022-02-10 14:12] #5503 closed, assigned to jepsar

[2022-02-10 16:34] jepsar opened #8423 "DatePicker: with inline=true in Dialog causes position to be fixed"
[code]

<img width="479" alt="Screenshot 2022-02-10 at 17 34 18" src="https://user-images.githubusercontent.com/7500178/153452934-95e49434-27d1-4ef6-89c1-473e5cc7c89c.png">

[2022-02-10 16:45] mihaiDumea commented on #8421
Default events name should be changed from mouseover/mouseout to mouseenter/mouseleave, to properly handle elements that have descendants. There is no need for tooltip events to be fired for each descendant.

The requirement of concurrent execution of events, may not be required, as I can't find a reasonable use case for reproducing the issue. If it's not the case, we shouldn't complicate the code

[2022-02-10 16:47] mihaiDumea commented on #8421
https://github.com/primefaces/primefaces/blob/2e79cbc628fa98885cad4688813fc7e82f6f3a97/primefaces/src/main/resources/META-INF/resources/primefaces/tooltip/tooltip.js#L213
Here, the appended event namespace might be redundant(duplicated).

[2022-02-10 17:11] melloware commented on #8421
OK post your code here or submit a PR?

[2022-02-10 17:13] marw1tt commented on #8406
How can I access this if I want to trigger that from a button? Is there somewhere a documentation for that case or anything? Sorry I didn't find something for that and I am gonna debug that case tomorrow I guess.

[2022-02-10 17:21] tandraschko commented on #8406
you can use findComponent API to get the DataTable instance

[2022-02-10 17:22] djmj commented on #8395
@Rapster

Yes _PropertyUtils.getPropertyType(...)_  and _PropertyUtils.getProperty(...)_ also support nested properties. Depending on context also JSF _ValueExpression.getType(...)_ is a possibility.

@tandraschko

I like the idea to reduce HTML markup and i was using something similar in a generic _ByPropertyConverter_ to use for local autocomplete where data was eagerly loaded in bean so for 95%

[2022-02-10 17:30] mihaiDumea commented on #8421
[code]

[2022-02-10 17:44] melloware commented on #8421
OK review my PR i made your fixes I agree with them.

[2022-02-10 19:01] #8421 closed, assigned to melloware, mihaiDumea

[2022-02-10 19:15] jepsar commented on #8423
Added here:

https://github.com/primefaces/primefaces/blob/ecebd5073bc80606aa0f067ed262a8417e218246/primefaces/src/main/resources/META-INF/resources/primefaces/datepicker/1-datepicker.js#L253

https://github.com/primefaces/primefaces/blob/2ef14a099794b94c4ec45fd8baf1f7175d914719/primefaces/src/main/resources/META-INF/resources/primefaces/core/core.utils.js#L25

[2022-02-10 19:35] jepsar commented on #8423
@melloware I've found the cause, but I would not know how to correctly fix this. I don't want to touch the core utils, and resetting fixed after line 253 feels too much as a hack. Do you have any ideas?

[2022-02-10 19:46] melloware commented on #8423
let me look

[2022-02-10 19:49] melloware commented on #8423
Ahh so leave the core alone but on line 254 i think you need to add something like...

[code]

Basically if this is an inline DatePicker we need to treat it special.

[2022-02-11 06:59] jepsar commented on #4238
Readonly was not supported in general, not only with custom layout.

[2022-02-11 10:47] jepsar opened #8429 "DatePicker: (Focused) time inputs style is inconsistent"
<img width="414" alt="Screenshot 2022-02-11 at 11 40 25" src="https://user-images.githubusercontent.com/7500178/153577772-77a72846-2116-480c-bcc3-92e6c137ca6b.png">

https://www.primefaces.org/showcase/ui/input/datepicker/datePickerJava8.xhtml

[2022-02-11 11:23] jepsar opened #8430 "DatePicker: Time inputs can not be focussed by keyboard when inline"
[code]

[2022-02-11 11:28] melloware commented on #8430
You might want to link this ticket with there is another one about Datepicker 509 compliance which is basically the whole component is not keyboard accessible

[2022-02-11 12:45] jepsar commented on #8430
#4685 you mean.

[2022-02-11 13:02] melloware commented on #8430
Yep!

[2022-02-11 13:53] marw1tt commented on #8406
I found the difference. It worked with PF 8 because there is a difference how the selection within the DataTableState is updated.
If PF 8 within the SelectionFeature class is the method "public void decode(FacesContext context, DataTable table) ". There is a code block that updates the selection of the DataTableState.

`
 if (table.isMultiViewState()) {
            DataTableState ts = table.getMul

[2022-02-11 14:03] tandraschko commented on #8406
@Rapster can you check this pls?

[2022-02-11 14:09] Rapster commented on #8406
I'll have a look this week-end

[2022-02-11 14:44] marw1tt commented on #8406
That was my finding regarding the initial selection by clicking the selection button. It seems that there is more to it, because if you want to change the selection afterwards there is also the problem that the old (wrong) selection is set when DataTable.restoreMultiViewState() is called. Here should be used also the "real" selection prior to the selectedRowKeys from the DataTableState. I hope you

[2022-02-11 16:29] omicron81 opened #8433 "Card: Footer renders subtitle text instead of footer text"
**Describe the defect**
The `footer` attribute of `<p:card>` is not used in the footer. Instead the text from attribute `subtitle` is rendered.

Example:
![image](https://user-images.githubusercontent.com/8233992/153629632-14488dcf-dfcc-45bb-82d3-90853c417c5a.png)

**Environment:**
 - PF Version: _11.0.0_
 - PF Theme: _none_
 - JSF + version: _Mojarra 2.2.20_
 - Affected browsers: _ALL_

**To Repr

[2022-02-11 17:55] #8433 closed, assigned to jepsar

[2022-02-11 21:23] tuerker opened #8436 "DataTable: make lazy attribute optional when value is null"
With the recent PF 12-Snapshots,  I am getting the following error on some screens that were working for many years:

[code]

Could you please revise the semantics such that no migration is required here:

if no lazy attribute is determined, it is by default lazy="false". finally, if the datatable value is null or an empty collection, the datatable should show nothing.

Thanks in advance.

[2022-02-11 21:53] tandraschko commented on #8436
Its a warning, not a error and by design
But we should just log it and not throw a exception

[2022-02-11 21:56] tuerker commented on #8436
The exception causes that the mentioned screens are not working anymore. Thanks.

[2022-02-12 12:52] #8387 closed, assigned to maruTA-bis5

[2022-02-12 13:00] #8423 closed, assigned to jepsar

[2022-02-12 13:29] melloware commented on #8365
@BryanGarro25 going to close this ticket until you provide a reproducer so we can debug the issue.

[2022-02-12 13:29] #8365 closed, assigned to melloware

[2022-02-12 13:31] melloware commented on #8330
So do we have a solution to this issue?

[2022-02-12 15:50] FlipWarthog commented on #8330
I'm not 100% sure and haven't looked much into it since my original analysis, since there's a workaround.

An option would be to remove `setSibling` entirely and modify `set` to do the exact same thing (e.g. remove the call the null out the parent). That would definitely fix this issue but I'm not sure what kind of downstream impacts it might have, because I can't figure out why they're different

[2022-02-12 17:59] FlipWarthog commented on #8330
Okay, PR submitted and the build passed. I also retested with the reproducer attached to this issue and it works as well.

[2022-02-12 18:04] melloware commented on #8330
Yep let's switch it out of draft.  The integration tests pass and we know it fixes this use case

[2022-02-13 15:25] melloware opened #8439 "ChartJS 3.7.1"
**Description**
Upgrade to 3.7.1 and update some more JSON values based on migration guide for 3.x.

[2022-02-14 06:38] fcorneli commented on #8421
Could this be back-ported to 10? I also noticed this several times within our app.

[2022-02-14 08:38] marw1tt commented on #8406
Are there any news to this? I thought about it and my conclusion is, that the selection should be restored using the following priority:

1. Use Value from Model (value binding for the selection)
2. Use current selection, if there is any
3. Restore selection from DataTableState

[2022-02-14 10:34] melloware commented on #8421
When I get to the office I will put a monkey patch here you can start using today.

[2022-02-14 13:14] melloware commented on #8421
MonekyPatch 10.0:

[code]

[2022-02-14 16:31] #8436 closed, assigned to tandraschko

[2022-02-14 17:03] #8347 closed, assigned to tandraschko

[2022-02-14 17:49] #8330 closed, assigned to nobody

[2022-02-14 19:52] melloware commented on #8347
Nice!

[2022-02-14 21:28] rabiter opened #8443 "Menubar/menu: might execute wrong (not clicked) items"
**Describe the defect**
Clicking menu items while the ajax request is still in progress might lead to unexpected results. This might be exactly the case either in slow environment or if the user acts rapidly clicking fast. Please check the attached primefaces-test zip reproducing the problem, it explains the problem in details.

**Reproducer**
[primefaces-test-master.zip](https://github.com/primef

[2022-02-15 06:48] #4238 closed, assigned to jepsar

[2022-02-15 07:03] jepsar opened #8444 "AjaxSource: replace global with eventPropagation / deprecate global"
See #8302

The `eventPropagation` attribute will be used to trigger a local and/or a global Ajax status based on the value.

Possible values: `component`,`global`,`both` (default),`none`.

Whether `component` (or local) Ajax status will be applied depends on the component, if it's implemented in its widget.

`global` will be deprecated in 12, removed in 13. If you would use `global="false"`, that

[2022-02-15 07:05] tandraschko commented on #8444
i would like to hear opinions of @Rapster @christophs78 @melloware @mertsincan

[2022-02-15 09:18] VsevolodGolovanov commented on #3521
PF 6.2 updated to jQuery 3, which the latest existing jQuery Mobile stable release 1.4.5 doesn't support. PF Elite 6.2.30 doesn't fix this - e.g. the dialog hiding issue is still there. So PF Mobile is not just deprecated in 6.2 - it's broken.
Replacing jquery-mobile.js with a version based on 1.5.0-rc1 seems to fix at least the dialog hiding issue. [jquery-mobile.zip](https://github.com/primeface

[2022-02-15 09:51] #8310 closed, assigned to tandraschko

[2022-02-15 10:29] ltlBeBoy opened #8445 "ClientValidation: p:clientValidator / PrimeFaces.validateInstant does not highlight invalid input"
**Describe the defect**
Usually the CSS class `ui-state-error` is added to the target element on validation errors after form / partial submit. This is not the case when using client side validation.

**Reproducer**
See [Client Side Validation - Event](https://www.primefaces.org/showcase/ui/csv/event.xhtml) at showcase.

**Environment:**
 - PF Version: _11.0.0_
 - PF Theme: _ALL_
 - JSF + version:

[2022-02-15 10:30] tandraschko commented on #8445
@maruTA-bis5 interessted in fixing this? :)

[2022-02-15 11:32] ltlBeBoy commented on #8445
I think I found the reason...Function `PrimeFaces.validation.validateInstant` in [validation.common.js](https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/resources/META-INF/resources/primefaces/validation/validation.common.js) should have a parameter `highlight` that can be handed over when calling `PrimeFaces.validation.validateInput(element);` at row 281. But then function

[2022-02-15 13:17] melloware commented on #3521
@VsevolodGolovanov the user @djmj has forked PF Mobile and keeps it alive and updated here:  https://github.com/djmj/primefaces-mobile

[2022-02-15 13:22] #8439 closed, assigned to melloware

[2022-02-15 13:52] melloware commented on #8444
I kinda like this idea but global has been around SOOOO long maybe we log a message like "global is deprecated please use the new eventPropagation property` and if they have...

`global="true"` then convert it to `eventPropagation="both"` under the covers
`global="false"`  then convert it to `eventPropagation="none"` under the covers ?

Just thinking out loud

[2022-02-15 13:54] tandraschko commented on #8444
yeah
deprecate it for 12 and convert them under the cover
and remove for 13

[2022-02-15 14:04] djmj commented on #3521
Yes and if you cannot update to PrimeFaces 7 or greater you can use PrimeFaces 6.1 branch where mobile was still working.

[2022-02-15 18:54] rabiter commented on #8443
Why do not use some random unique ids for menu items? Currently the id looks like "0_1_3", "0_2" etc. In fact such id reflects the item position in the menu hierarchy. And when decoded, this might happen that a wrong item is put to the MenuActionEvent just because occasionally this item replaces the old item in the hierarchy. Like in example 3 above: I click **Close + Refresh**, but get **Close +

[2022-02-15 19:01] melloware commented on #8443
See this issue: https://github.com/primefaces/primefaces/issues/7072

[2022-02-15 20:30] rabiter commented on #8443
ok I checked the issue, but still see no problem in using random Ids. I've attached a small patch (3 classes changed, master branch 12.0.0-SNAPSHOT). Would appreciate if somebody have a chance to check it. At least it solves my issue and the problem is not reproducible anymore. I didn't run integration tests though.
[patch.txt](https://github.com/primefaces/primefaces/files/8074448/patch.txt)

[2022-02-15 20:51] melloware commented on #8443
let me check it out

[2022-02-15 20:56] melloware commented on #8443
I submitted your patch as a PR for people to review.

[2022-02-16 12:33] AbaKai opened #8447 "Tree: Drag&Drop buggy"
**Describe the defect**
There seems to be a bug within the drag&drop functionality between two Tree controls. Dropping a node onto another node is not possible by default after loading the page - only dropping in between nodes is possible. In case a node is dragged and dropped into another Tree control (in between two nodes) this functionality is activated for only that node so then any other node

[2022-02-16 12:35] tandraschko commented on #8447
Should be a duplicate of #8223 ?

[2022-02-16 12:45] melloware commented on #8447
Yep definitely a duplicate and already fixed

[2022-02-16 12:45] #8447 closed, assigned to nobody

[2022-02-16 12:46] AbaKai commented on #8447
Yes seems to be the same problem! Thanks =)

[2022-02-16 20:49] fcorneli opened #8450 "LazyDataModel: load: Map<String, SortMeta> sorting"
This should not be a map, but a list?
At the JPA level you have,
[code]
hence the order of the order list (hehe) is relevant, no?

[2022-02-16 21:05] tandraschko commented on #8450
i cant follow. Why not just do map.values() if you need a list? you can also sort by #priority

[2022-02-16 21:35] fcorneli commented on #8450
ach... I didn't notice getPriority()
I expected something already ordered by priority, as this makes sense towards the JPA layer.

[2022-02-16 21:39] tandraschko commented on #8450
You can simple do this in a 1liner via streams
I will Close this for now

[2022-02-16 21:39] #8450 closed, assigned to nobody

[2022-02-16 21:40] fcorneli commented on #8450
Okidoki. Thanks.

[2022-02-17 07:28] miedrl opened #8451 "Datepicker: Locale not working for buttons in buttonbar"
**Describe the defect**
No matter what language is set, the buttons within the buttonbar of the datepicker component are always in English.

**Environment:**
 - PF Version: _10.0.0_

**Expected behavior**
The localization works fine within the month navigator and should work within the buttonbar too.

[2022-02-17 10:58] TEAMS-HRM commented on #8210
I got the same error after upgraded to PF 11.0 , I couldn't reproduce it in simple application but on debug I found  the function root.get() in line 971 return null.
So I have to return to PF 10.0

[2022-02-17 11:11] jepsar commented on #8210
The milestone for this issue is 12.

[2022-02-17 11:27] fcorneli commented on #8210
The way we solved it in our project is to simply always provide a `TreeNode` value, even if it's empty.

[2022-02-17 11:37] tandraschko commented on #8210
this should fix it

[2022-02-17 12:42] melloware commented on #8451
When I look at these lines in 10.0.0.

https://github.com/primefaces/primefaces/blob/d8acc5196925c234c69c143036b02619a72d0eb9/src/main/resources/META-INF/resources/primefaces/datepicker/0-datepicker.js#L1230-L1241

Its using `locale.clear` and `locale.today` values.    So it looks like its properly using Locale.  And when I switch to German in the showcase I see the Today and Clear change.

![imag

[2022-02-17 12:51] jepsar commented on #8451
I was going to say that I could confirm this issue, but indeed it works with German. It fails with Dutch though, so it seems that not all properties are translates for all the languages.

[2022-02-17 12:55] miedrl commented on #8451
@melloware Okay, thanks for testing. The problem seems to come from my configuration then. I'll have to look up, why my buttons are not translated to German.

[2022-02-17 12:57] jepsar commented on #8451
Fixed NL https://github.com/primefaces/primefaces/commit/7ea2c488d88bc87b8224c72c9dc66e2a4ed6b20e

[2022-02-17 12:58] melloware commented on #8451
@miedrl this is what the showcase has:
[code]

[2022-02-17 13:01] melloware commented on #8451
And in PF 11.0 we include the complete German translation for you already..

[code]

[2022-02-17 13:02] #8451 closed, assigned to nobody

[2022-02-17 15:57] tandraschko opened #8453 "ClientSideValidation: make validateInstance more configurable"

[2022-02-17 16:14] #8445 closed, assigned to tandraschko

[2022-02-17 16:14] #8453 closed, assigned to tandraschko

[2022-02-18 07:20] miedrl opened #8455 "Rating: ARIA issues"
**Describe the defect**
[Nu HTML Checker](https://validator.w3.org/nu/) can be used to validate a site's HTML syntax. The following validation errors appeared when using the rating component with the mentioned attributes. The errors seem to concern the tag <input type="hidden" .../> on the rating component.:

1. required="true" >
![grafik](https://user-images.githubusercontent.com/77431692/1546353

[2022-02-18 10:19] melloware commented on #8455
I know the issue. Will fix

[2022-02-18 10:20] miedrl commented on #8455
@melloware Thanks. Will the fix be available in version 12.0.0?

[2022-02-18 11:36] fcjm opened #8456 "SelectCheckboxMenu: Keyboard navigation improvements"
**Describe the defect**
Our application has recently been tested for accessibility. I am currently reviewing the components we use in terms of keyboard navigation. I think there can be some improvements made to the keyboard navigation of the SelectCheckboxMenu component to make it more accessible. I can also provide a PR for this. The problems I currently have with this component are the following

[2022-02-18 13:33] melloware commented on #8455
@miedrl I am seeing different results than you.  Can you run the NUHTML checker against the PF Showcase for Rating?

Use this URL: https://www.primefaces.org/showcase/ui/input/rating.xhtml

I am seeing...
[code]

[2022-02-18 15:26] jepsar commented on #8455
I do think we have an issue here though
https://github.com/primefaces/primefaces/blob/c98a9857c1c3c695ef6112532418e50fff9001f3/primefaces/src/main/java/org/primefaces/renderkit/InputRenderer.java#L76-L88

[2022-02-18 15:32] melloware commented on #8455
Yep I added that assuming it was harmless.  It really is harmless it just throws these strict checkers saying "you don't need this".

[2022-02-18 19:11] melloware commented on #8455
OK the readOnly and required issues were already fixed in 11.0 with this ticket: https://github.com/primefaces/primefaces/issues/7827

Which explains why I am not seeing them on 11.0.

[2022-02-18 22:55] melloware opened #8460 "SelectOneRadio: ARIA issues"
**Describe the defect**

In the [W3C Validator](https://validator.w3.org/nu) validate the SelectOneRadio Showcase page.

Results in:
![image](https://user-images.githubusercontent.com/4399574/154771847-fcc5bd70-571f-4a28-9821-3bdbb763ac5a.png)

[2022-02-18 22:57] melloware commented on #8455
Found this and it solves all ARIA issues with rating:
![image](https://user-images.githubusercontent.com/4399574/154772120-2bd31e59-9d5e-4abb-9540-aef849f2a6df.png)

[2022-02-18 23:11] melloware commented on #8460
Also getting this:
![image](https://user-images.githubusercontent.com/4399574/154773139-1a7def70-8fa2-4ab2-a1d9-0371a3be4995.png)

[2022-02-18 23:29] melloware commented on #8460
More issues:

![image](https://user-images.githubusercontent.com/4399574/154774393-cf17f412-e134-46bc-851c-dbb4af653eb1.png)

[2022-02-19 13:16] melloware opened #8463 "Showcase: Cleanup HTML5 Script Warnings"
**Description**
More and more accessibility reports come in using the [Nu HTML Checker](https://validator.w3.org/nu/) and I always use the PF Showcas to test the issues.  However it generates lots of noise like...

![image](https://user-images.githubusercontent.com/4399574/154802387-c8d56a9a-ceb7-4f40-bbdc-644ded705a42.png)

JUST FOR THE SHOWCASE I would like to filter these out so when diagnosing

[2022-02-19 14:21] #8463 closed, assigned to melloware

[2022-02-20 04:58] newk5 commented on #8159
Sorry maybe I missunderstood, but I just pulled the PF12 snapshot today and tested this and noticed the issue still happens. Was a fix applied internally or do we just have to  manually do:
[code]
Every time we add/remove columns?

[2022-02-20 12:46] melloware opened #8466 "ARIA: Remove role="textbox" as unnecessary"
**Describe the defect**
Per ARIA standards `role="textbox"` is not necessary if the `type="text"`.

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/textbox_role

![image](https://user-images.githubusercontent.com/4399574/154843309-158f9d22-8874-4bcb-a716-1535a7daced3.png)

[2022-02-20 13:01] melloware opened #8468 "Exporter: exportValue bypassing empty "" cells"
**Describe the defect**
Reported by @newk5 on Discord is that cells with `exportValue=""` will fall back to use their default exporting not allowing empty cells to be exported.

this is because of...

[code]

[2022-02-20 17:15] #8466 closed, assigned to melloware

[2022-02-20 17:27] melloware opened #8470 "ARIA: Hidden and ReadOnly Inputs"
**Describe the defect**
ARIA should not repeat hidden or readonly if the type is already hidden or readonly.

![image](https://user-images.githubusercontent.com/4399574/154855633-1b3c539d-0e9e-4f80-b251-46650d743cc3.png)

[2022-02-20 18:41] #8468 closed, assigned to melloware

[2022-02-20 18:42] tandraschko commented on #8159
in theory only when you change the order or remove, new columns (added at the end) should be handled automatically

[2022-02-20 18:59] newk5 commented on #8159
Yea columns added at the end always worked even before this fix. In my case I had 4 columns and I removed column 2, and filtering on column 3 stoped working, I thought since the issue was closed that meant the issue was fixed, it wasn't clear to me that the final solution to issue was to null the filter and sort map, I thought that was just a temporary workaround.

[2022-02-20 19:08] tandraschko commented on #8159
the reset code was always in the showcase for this example

[2022-02-20 19:13] newk5 commented on #8159
I didn't notice that, thanks for clarifying 👍

[2022-02-20 19:19] tandraschko commented on #8159
also see: https://github.com/primefaces/primefaces/issues/8368
we introduced a helper method

[2022-02-20 19:24] newk5 commented on #8159
Nice, I'll make sure to use that instead.

[2022-02-20 19:59] melloware opened #8472 "Core: HTML5 and script types"
**Description**
JSF 4.0 will no longer use 'type="text/JavaScript"'.  Therefore in the PF code base anywhere type is being used we should detect 4.0 and conditionally print it out or not.

[2022-02-20 20:04] tandraschko commented on #8472
it will be used actually but not when HTML5 doctype is recognized

[2022-02-21 06:52] miedrl commented on #8455
@melloware My answer might be too late now but when I run the NUHTML checker on the rating showcase, I get the same error. Fyi: You can run a bookmarklet with the following Javascript code to filter the messages from the NUHTML checker to only show WCAG 2.0 relevant errors. If run on the rating showcase there are no error messages left so it seems that the readonly error is fixed in 11.0.

`javasc

[2022-02-21 07:07] jepsar commented on #8455
Might be the same issue as with https://github.com/primefaces/primefaces/pull/8462

[2022-02-21 07:36] marw1tt commented on #8406
Are there any news on this topic?

[2022-02-21 11:08] christophs78 commented on #8444
I don't have a strong opinion on this. Scanned our internal repo and found some usages of `global="false"` but not that much. Will realistically cause breaking some applications, because people don´t read migration guid (in depth), jump over multiple versions, ... Maybe it´s worth the price.

[2022-02-21 11:17] Rapster commented on #8406
Sorry I was supposed to look at it, but got busy and don't have time right now to investigate

[2022-02-21 12:59] melloware opened #8473 "SelectOneMenu: Advanced Mode ARIA Issue"
**Describe the defect**
When using Advanced Mode in showcase the following ARIA issue is reported:

![image](https://user-images.githubusercontent.com/4399574/154959358-aef9b11f-3fca-4326-832a-43f42313c51e.png)

See: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/combobox_role

[2022-02-21 13:41] Strahly opened #8475 "DataTable: selectionMode="multiple" - Selection with shift doesn't work when clicking into a checkbox"
Description:
Multi row selection with the shift key only selects the last checkbox, when clicking the checkbox of a row.

Environment:
PF ShowCase - DataTable: Selection
https://www.primefaces.org/showcase/ui/data/datatable/selection.xhtml?jfwid=f4c98

Steps to reproduce the behavior:
1. In the ShowCase for the  dataTable selection go to the checkbox.
2. Click on the checkbox of the first regular

[2022-02-21 20:24] #8473 closed, assigned to melloware

[2022-02-21 20:57] melloware opened #8477 "Showcase: Development Mode"
**Description**
Ability to run showcase in JSF Development mode with defaults.

[code]

Will run with:

- [x] JSF Development Stage
- [x] MyFaces 2.3 profile
- [x] Non EE profile
- [x] Disables Google Tag Manager locally

[2022-02-21 21:01] melloware commented on #8475
@FlipWarthog didn't you see something similar. Want to look into this one?

[2022-02-21 21:08] melloware commented on #8444
I am fine with it.

[2022-02-21 21:11] FlipWarthog commented on #8475
@melloware I don't think so, but I could be wrong; I know I've definitely been manually disabling row selection when I use checkboxes (as discussed here #8416).

A note, though, I'm not sure the expected behavior described in this ticket is entirely correct. I believe the meta key function (e.g. Shift and Ctrl) are only for row selection, not checkbox. See the example from PrimeReact, it functions

[2022-02-22 03:06] esternocleidomastoideo commented on #1152
Please how do I get version 4.0.25?
I really need this version to fix a legacy system.

[2022-02-22 06:32] jepsar commented on #1152
@esternocleidomastoideo you'll need ELITE, see https://www.primefaces.org/showcase/support.xhtml

[2022-02-22 12:04] jepsar commented on #8347
@melloware What is the workaround here? Because I think I'm also running into this, but not in a dialog.

[2022-02-22 13:11] melloware commented on #8347
@jepsar the workaround is this..

However @newk5 reported it doesn't totally fix all the issues it fixes this specific issue.

[2022-02-22 13:12] #8477 closed, assigned to melloware

[2022-02-22 13:12] #8470 closed, assigned to melloware

[2022-02-22 13:28] melloware opened #8478 "SelectBooleanCheckbox: ARIA Issues"
**Describe the defect**
2 issues running the W3c Validator:

- [x] Attribute autocomplete is only allowed when the input type is color, date, datetime-local, email, hidden, month, number, password, range, search, tel, text, time, url, or week.
- [x] The aria-checked attribute should not be used on an input element which has a type attribute whose value is checkbox.

![image](https://user-images.gi

[2022-02-22 13:33] jepsar commented on #8347
Okay, thanks! I'll see if that helps and if we are actually running into the same issue...

[2022-02-22 16:21] newk5 commented on #8347
@jepsar Beware, if you use partialUpdate="false" you will then run into another issue, if you're using filters, see here: https://i.imgur.com/EXPS1eM.gif

What you type in the filter keeps "resetting".

Your best solution is pulling the PF12 snapshot, compile it and use that instead. Thomas' commit above fixed the original issue.

[2022-02-22 20:53] melloware opened #8480 "ARIA: The button role is unnecessary for element button."
**Describe the defect**
The `button` role is unnecessary for element `button`.

Attribute `aria-disabled` is unnecessary for elements that have attribute `disabled`.

**Example:**
[code]

[2022-02-23 13:04] #8480 closed, assigned to melloware

[2022-02-23 13:04] #8478 closed, assigned to melloware

[2022-02-23 13:04] #8455 closed, assigned to melloware

[2022-02-23 16:17] tandraschko commented on #8478
not sure about autocomplete: https://stackoverflow.com/questions/299811/why-does-the-checkbox-stay-checked-when-reloading-the-page

can you check IE11 and FF?
it reads like it is ok, atleast for FF: https://stackoverflow.com/questions/5985839/bug-with-firefox-disabled-attribute-of-input-not-resetting-when-refreshing

[2022-02-23 16:46] melloware commented on #8478
yep let me try IE11. I always use Firefox and Chrome

[2022-02-23 17:14] melloware commented on #8478
Tested on IE11 and it seems to work just fine.

[2022-02-24 12:14] #7241 closed, assigned to melloware

[2022-02-24 12:14] #8153 closed, assigned to melloware

[2022-02-24 12:16] #8456 closed, assigned to fcjm

[2022-02-24 15:10] tandraschko opened #8484 "Sidebar: dynamic sidebar doesnt show close icon"

[2022-02-24 15:37] miedrl opened #8485 "Datepicker: Panel overlaps input field on small screens"
**Describe the defect**
If the space below the datepicker input field is too small, the datepicker panel is displayed above the input field ínstead. The problem is that if the space above the input field is also too small to show the full panel, the panel is shifted so that it overlaps the input field. It is still possible to type into the input field but the user can not see what they are typing

[2022-02-24 16:06] jepsar commented on #8485
Isn't this basically #8381?

[2022-02-24 16:09] melloware commented on #8485
To me this is exactly #8381 you want the Touch UI interface once the screen is below a certain size.

[2022-02-24 16:11] melloware opened #8486 "SelectCheckBoxMenu: ARIA and DRY"
**Describe the defect**
Add ARIA compliance to the SelectCheckboxMenu and refactor the JS code to add some DRY methods for `toggleSelection` and `togglePanel` and `toggleItem`.

[2022-02-24 16:11] fcjm opened #8487 "Dialog: Dialogs can open outside of visible screen area"
**Describe the defect**
We are using absolute positioned dialogs in our application. When such a dialog is initially opened everything works as expected. However when scrolling down the page and opening another dialog, the new dialog is opened at the location of the first dialog - which at that point can be off-screen. That is bad in two ways, since the user might not be aware that a dialog has op

[2022-02-24 16:13] melloware commented on #8487
Please provide a PR!

[2022-02-24 16:14] miedrl commented on #8485
@jepsar @melloware Okay, I did'nt know if these were two separate problems. So it will be fixed with https://github.com/primefaces/primefaces/issues/8381?

[2022-02-24 16:15] melloware commented on #8486
@fcjm do you mind pulling my branch and testing it to make sure I didn't break your changes?

[2022-02-24 16:19] fcjm commented on #8486
Sure, I will do that.

[2022-02-24 16:44] melloware commented on #8485
i would think so we just need to figure out the best way to do that.

[2022-02-24 16:46] melloware commented on #8485
I will close this as a duplicate for now

[2022-02-24 16:46] #8485 closed, assigned to nobody

[2022-02-24 16:47] jepsar commented on #8381
... or we could convert `touchUI` to a string where `true` and `false` will be the same as current implementation, anything else will be treated as a JS function which should return a boolean.

[2022-02-24 17:36] melloware commented on #8381
Not a bad idea.

[2022-02-24 17:38] #8487 closed, assigned to fcjm

[2022-02-24 17:38] #8486 closed, assigned to melloware

[2022-02-24 19:16] melloware commented on #8485
This is what your example above looks like in TouchUI

![image](https://user-images.githubusercontent.com/4399574/155591898-e5fd5bc7-a857-4e26-9c19-bc73b3d4129b.png)

[2022-02-24 19:22] melloware commented on #8381
This took a little bit more than just a change in function it has to listen to `window.resize` events.  Please review.

[2022-02-25 09:48] #8484 closed, assigned to tandraschko

[2022-02-25 15:48] irieill opened #8491 "AccordionPanel: Add support for actions, options and/or footer facets of Tab children like it is done for Panel"
**Description**
We use dynamic `AccordionPanel` to group related preferences of our system in some configuration view. Some of the groups have some integrated test to verify the configured values as a whole. We are looking for a nice and easy accessible way to navigate to the corresponding test page from a group context.

Our use case is just exemplary but could be generalized.

Currently we make

[2022-02-25 15:57] tandraschko commented on #8491
would you like to work on a PR?

[2022-02-25 16:49] tandraschko commented on #8406
verified, here is a cleaner sample:

[code]

[code]

[2022-02-26 08:33] danteCarvalho opened #8492 "Printer: not working with css "@media print" anymore"
**Describe the defect**
With primefaces 10 p:printer was working to print elements that should only appear when there is a print. But  its not working on primefaces 11.

**Reproducer**
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/8146193/primefaces-test.zip)

**Environment:**
 - PF Version: _11.0.0_

**To Reproduce**
1 Create a css class and media like this:

.printMe {
	di

[2022-02-26 11:54] melloware commented on #8492
Can you check I think your issue is actually this one https://github.com/primefaces/primefaces/issues/8232 and its been fixed for 12.0.0.

[2022-02-26 13:30] melloware commented on #8492
This will be fixed properly in 12.0.0

[2022-02-26 13:31] melloware commented on #7288
@stolp check out https://github.com/primefaces/primefaces/pull/8493 I verified with your tester above its fixed with jQuery.print 1.6.2.

[pf-7288.zip](https://github.com/primefaces/primefaces/files/8146691/pf-7288.zip)

[2022-02-26 13:31] melloware commented on #8232
Now that jQuery Print has fixed the canvas issue I am going to revert back to using it so it makes it more backward compatible for older PF users!

[2022-02-26 13:36] melloware commented on #3242
Updating to 1.6.2 now supports Canvas finally as well.

[2022-02-26 13:50] irieill commented on #8491
i will give it a try

[2022-02-26 15:16] danteCarvalho commented on #8492
Woah, thanks for being soo quick. As a workaround for now i am hiding everything else on the page and only print what i need with the window.print() method (i use it to print a hidden image on the page).

[2022-02-27 12:30] Rasoul26 opened #8494 "BlockUI: widgetVar is reset to null after partial updates"
I am using Primefaces 11, and I am adding this components in home.xhtml page:

[code]
[code]
[code]

when I select one of the items in filterTopic menu, the ajax_loader.gif should fall on the dataTable until the data is fetch from homeBean. but it`s not working and i can see in the console the following error:

**Widget for var 'bui' not available!**  -->   core.js.xhtml?ln=primefaces&v=11.0.0:18

[2022-02-27 12:36] tandraschko commented on #8494
if you provide a primefaces-test project, we can check it. Otherwise its invalid.

[2022-02-27 12:43] mohsen commented on #8494
Let me put it simple in plain English.

We have a form with a `p:datatable` and a `p:blockUI` (with widgetvar=**bui**) inside form as datatable sibling. With versions 8/10 or earlier `p:blockUI` and its widgetvar are working and valid after partial `p:datatable` updates. BUT in PF 11 after any such updates, `PrimeFaces.widgets['bui']` is reset to `null`, so all widgetvar actions on the blockUI thr

[2022-02-27 12:50] tandraschko commented on #8494
as i said, if you provide a reproducer (forked primefaces-test), we can have a look

[2022-02-27 12:52] melloware commented on #8494
Please  provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-02-27 20:49] ElliotBu opened #8496 "DataTable: filterBy is not called after AJAX update"
**Description**
DataTable is not calling the filterBy properties after ajax Update. The code was working in PF10 Community.

**Environment:**
 - PF Version: 11.0.1
 - PF Theme: Poseidon 4.1.0
 - JSF 2.3 GlassFish 5.1
 - Firefox and Chrome

**Expected behavior**
function stated in p:dataTable filterBy is called by respecting the value from variable "showDeleted". When the page is called the value f

[2022-02-27 21:59] tandraschko commented on #8496
Please provide a primefaces-test reproducer, otherwise we cant reproduce that complex xhtml

[2022-02-27 22:00] tandraschko commented on #8496
And please also try a trunk build, might be fixed already

[2022-02-28 01:32] ElliotBu commented on #8496
edited

[2022-02-28 08:27] tandraschko commented on #8496
@ElliotBu in general we need you to fork our [primefaces-test](https://github.com/primefaces/primefaces-test) repo
also i removed your link as it contains licensed poseidon code, please delete your repo

[2022-02-28 09:08] tandraschko commented on #8496
your sample also cant work
you store the "showDeleted" in a RequestScoped bean and your filtering currently throws 3 AJAX request, so it will never be used anyway
not with PF10, not with 11

anyway, i see your point of view
our internal DT filterBy is constructed once per ViewScope, so if you change the filterBy in your bean, we wont receive it a second time
in PF10 we rebuilt it every time propab

[2022-02-28 09:12] tandraschko commented on #8496
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/8151981/primefaces-test-master.zip)

[2022-02-28 13:10] danteCarvalho commented on #8496
Globalfilter wont work for me, i have 6 buttons, they all change the columns on my Products table, and some have a custom filter p:selectOneMenu for boolean and p:selectOneMenu for entity/object.
Button 1 show main columns, button 2 show price columns, button 3  show stock, button 4 expiration date, button 5 tax, 6 medicine.  Related video: https://imgur.com/a/4hkZwHD or https://i.imgur.com/PIZOeq

[2022-02-28 13:14] tandraschko commented on #8496
@danteCarvalho please dont use this issue to talk about your issue, its quite different. Better see: https://github.com/primefaces/primefaces/issues/8159

[2022-02-28 13:16] stolp commented on #7288
Let me check this.

[2022-02-28 13:27] danteCarvalho commented on #8159
Was this fixed? anyway this use case was working for me in primefaces 10:
i have 6 buttons, they all change the columns on my Products table, and some have a custom filter p:selectOneMenu for boolean and p:selectOneMenu for entity/object.
Example: Button 1 show main columns, button 2 show price columns, button 3 show stock, button 4 expiration date, button 5 tax, 6 medicine. Related video: https:/

[2022-02-28 13:32] tandraschko commented on #8159
if you check the showcase, you need to reset the datatable after adding/removing/modifying columns/order:
https://www.primefaces.org/showcase/ui/data/datatable/columns.xhtml?jfwid=a632f

See ColumnsView.java / ln78

however, since 11.0 you need to use this code, like mentioned above in this ticket:
[code]

in 12.0, the following is enouhg:
[code]

[2022-02-28 13:39] tandraschko commented on #8496
I think you really should use global filters here, but thats a valid workaround for now:
[code]

lets wait for @Rapster response

[2022-02-28 13:55] ElliotBu commented on #8496
I usally use VIEWSCOPED from Omnifaces for my pages and in this regards It was working in PF10. I will delete the Repo. Are you going to have a look why the funtion is only called once when the page is open and not again on Ajax update?

Thank you

[2022-02-28 14:00] tandraschko commented on #8496
As i said, we will discuss it but you should actually use global filters for your case

[2022-02-28 14:06] danteCarvalho commented on #8159
Ok its working now, thanks!!

[2022-02-28 14:31] melloware commented on #7288
Cool let me know if you approve.

[2022-02-28 14:34] stolp commented on #7288
I verified that printing a chart canvas via p:printer is working in that branch.

I experience a distorted aspect ratio with the chart, but my guess is that is a different issue I have to check in detail.

[2022-02-28 14:35] melloware commented on #7288
ok let me know.

[2022-02-28 22:32] Rapster commented on #8496
It would be easier for me if I had a reproducer

[2022-03-01 00:59] tandraschko commented on #8496
I attached one

[2022-03-01 01:27] FlipWarthog opened #8501 "Horizontal Tree: Connector Lines show through nodes in Arya/Vela themes"
**Describe the defect**
The connector lines between Tree Nodes in Horizontal Tree are visible through the node itself in Arya/Vela themes.

**Reproducer**
[Showcase](https://www.primefaces.org/showcase/ui/data/htree/selection.xhtml?jfwid=06424)

**Environment:**
 - PF Version: 12.0.0-SNAPSHOT
 - PF Theme: Arya, Vela
 - JSF + version: All
 - Affected browsers: All

**To Reproduce**
Steps to reprodu

[2022-03-01 08:59] fabermundi opened #8502 "Column: Automatic sort if groupRow is set"
**Describe the defect**
When having a column that has the property "groupRow" set to "true" and the "sortBy" property is set then this column is automatically sorted.

**Environment:**
 - PF Version: 11.0.1
 - JSF + version: JSF 2.3
 - Affected browsers: Firefox and Chrome

**Expected behavior**
A column where "sortOrder" is not set should not be sorted by default. At the example below the column

[2022-03-01 09:33] tandraschko commented on #8502
I get:
Caused by: javax.faces.FacesException: Data type should be java.util.List or javax.faces.model.ListDataModel instance to be sortable.

and thats by design

[2022-03-01 09:49] tandraschko commented on #7471
@markpalermo your issue is #8159, we fixed the showcase for that problem

[2022-03-01 09:50] fabermundi commented on #8502
Thanky ou for the reply.

Sorry I copied an old version of the code.

This is the right one:

@Named
@ViewScoped
public class GroupRow implements Serializable {
    private static final long serialVersionUID = 4485167715842515932L;

    private List<Integer> data = null;

    public List<Integer> getData() {
        if (data == null) {
            data = new ArrayList<>();
            for (int i =

[2022-03-01 09:53] tandraschko commented on #8502
i will reopen, please edit
and next time try your sample before creating a issue, thats wasting our time.

[2022-03-01 09:54] fabermundi commented on #8502
Thank you and sorry again.

[2022-03-01 10:18] HKM-CIA opened #8503 "Timeline: ContextMenu not displaying on item"
Also see https://forum.primefaces.org/posting.php?mode=edit&f=3&p=198313

I am migrating an Application from PF 6.2 to PF 10.0.8.
In this Application we have a ContextMenu for the TimelineEvent.
In the old Version with PF 6.2 it worked well.
If i right click on an not selected event, the ContextMenu is programmatically blocked.
If i right click on an selected event, the ContextMenu for the selecte

[2022-03-01 10:43] #7471 closed, assigned to tandraschko

[2022-03-01 14:47] viiez opened #8504 "Chart.js: Cartesian(Linear)Axes properties are ignored"
**Describe the defect**
CartesianAxes.scaleLabel and CartesianLinearTicks.suggested[Min/Max] are not encoded correctly due to renamings in Chart.js 3.x.

According to https://www.chartjs.org/docs/latest/getting-started/v3-migration.html:

**Reproducer**
https://github.com/viiez/primefaces-test/tree/chartjs-migration

**Environment:**
 - PF Version: 11.0.0
 - PF Theme: N/A
 - JSF + version: Mojarra

[2022-03-01 15:54] melloware commented on #8504
I will fix this. thanks for reporting.

[2022-03-01 21:07] melloware commented on #8504
Please review my PR.  This affected RadialScales as well as its similar to CartesianScales.

[2022-03-01 22:46] melloware commented on #8503
Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

You have A LOT going on in your example above including Remote commands, etc.

[2022-03-01 23:50] ElliotBu opened #8507 "DataTable: JPALazyDataModel should ignore globalFilter"
**Describe the defect**
I have a DataTable which is using the OOTB Functionality of JpaLazyDataModel and dynamic columns. The Datatable uses Default Filtering and Column Filtering. The load of the page is with error but as soon as I start using the column filtering I receive the Exception below. of course I don't have a property "globalFilter" in my Entity and even if I add the property "globalFil

[2022-03-02 08:01] tandraschko commented on #8507
will be ignored now
globalFilter must be implemented by the user, like mentioned in the docs: https://primefaces.github.io/primefaces/12_0_0/#/components/datatable?id=lazy-loading

[2022-03-02 08:01] #8507 closed, assigned to tandraschko

[2022-03-02 08:09] HKM-CIA commented on #8503
Here is the Test-Example.
[primefaces-test-Timeline-ContextMenu.zip](https://github.com/primefaces/primefaces/files/8167788/primefaces-test-Timeline-ContextMenu.zip)

[2022-03-02 08:59] jepsar commented on #1574
Isn't this #1715?

[2022-03-02 14:24] melloware commented on #8503
OK the new timeline adds a `<div class="vis-drag-center"` overtop of your item blocking the right click.

This is what makes the item drag and droppable on the Timeline.    If I remove that DIV from the DOM manually then your right click works OK.  But this seems like a core feature of the Editable and Selectable Timeline.

See:
![image](https://user-images.githubusercontent.com/4399574/156379869-

[2022-03-02 16:37] jepsar commented on #8368
I just fell into this pit. Resetting columns is not fully fixing the issue for me. If I've filtered on a column that will be removed in the update it fails, so I probably need to reset the sortBy and filterBy as well.

[2022-03-02 16:51] jepsar commented on #8368
Hmm.. filter input values are saved though, but not applied. I can hack my way out if it by `oncomplete="PF('dataTable').filter()`, but it's not very nice.

<img width="1153" alt="Screenshot 2022-03-02 at 17 47 14" src="https://user-images.githubusercontent.com/7500178/156408649-41d9b343-510f-412e-80bb-f98c297bf579.png">

<img width="1157" alt="Screenshot 2022-03-02 at 17 47 30" src="https://user-

[2022-03-02 17:20] ElliotBu commented on #8507
I was reading this document, but it doesn't solve the issue. the function applyGlobalFilters is implemented in your class of JpaLazyDataModel and of course it is empty, because the user can override it. If I'm not overriding the function the class is ending in an exception that the globalFilter property is not in my entity and I will end up in the same exception if I'm overiding the function apply

[2022-03-02 17:36] tandraschko commented on #8507
my first commit solves your issue
the second is to allow users to access FilterMeta in applyGlobalFilters

[2022-03-02 17:45] ElliotBu commented on #8507
Ok, found your change in GitHub and added em to my overriding class and works.

Thank you
Christian

[2022-03-02 19:59] ElliotBu opened #8509 "DataTable: Add helper method to resolve value of p:columns and nested field expression like var.user.name"
**Describe the defect**
I have a DataTable which shows the value from the function "Object.toString". If I'm trying to filter the column an SQLServerException appears. It looks that the class cannot resolve the column name from the referenced table properly "WHERE ( LIKE ? AND ...".
The Data Column shows the value from property createUser from Entity Class InternalContact which is defined in Mappe

[2022-03-02 21:41] tandraschko commented on #8509
I wont work on it without reproducer.
So either create one with hsqldb or you provide a PR with a fix

[2022-03-02 23:51] melloware commented on #8509
Agree with Thomas this is a complex scenario that is impossible to debug without a reproducer and it takes way too much effort for us to try and reproduce your issue.

[2022-03-03 01:00] ElliotBu commented on #8509
I’m on it to create a reproducer.

[2022-03-03 02:48] #8492 closed, assigned to melloware

[2022-03-03 10:29] jepsar commented on #8368
I gave my columns a fixed `id` and added this to my bean:
[code]
this eliminates my need to do `oncomplete="PF('dataTable').filter()`

[2022-03-03 10:35] tandraschko commented on #8368
in 12.0 you can even use:

[code]

[2022-03-03 12:35] #8504 closed, assigned to melloware

[2022-03-03 13:09] ElliotBu commented on #8509
Please find Reproducer here: https://github.com/ElliotBu/PF-TEST.git

I was using a MySQL Database and you can find a script which create schema, tables and sample data in Folder WebContent.

Cheers
Christian

[2022-03-03 13:15] tandraschko commented on #8509
can you please fork [primefaces-test](https://github.com/primefaces/primefaces-test)? it allows us to run via mvn and jetty easily.

[2022-03-03 14:39] ElliotBu commented on #8509
I don't know how it works. I have a lack of knowlegde in this regards.

[2022-03-03 14:44] tandraschko commented on #8509
everything is explained here, its just a sample project: https://github.com/primefaces/primefaces-test

[2022-03-03 15:00] ElliotBu commented on #8509
Please find the new reproducer here https://github.com/ElliotBu/primefaces-test.git

[2022-03-03 16:11] ElliotBu commented on #8509
An additional question I have just added an CustomConverter to the Reproducer. This converter is defined for the 4th column of the datatable, but your code from class JpaLazyDataModel

**Function**
[code]
**LINE**
[code]
is not calling the JSF Converter. The value for "converter" results in NULL.

Thank you
Christian

[2022-03-03 16:22] jepsar commented on #8509
You should not include elite releases in your test. Please use 12.0.0-SNAPSHOT.

[2022-03-03 16:24] tandraschko commented on #8509
converters are not supported like this in the JPADataModel
you can create a feature request but i dont have time to work on it.

[2022-03-03 16:26] ElliotBu commented on #8509
So overriding "convertToType" is the only way to deal with data types other than String.

[2022-03-03 16:36] tandraschko commented on #8509
in theory every primitive should work - POJO are not supposed to work in general (use field=user.name instead of field=user)
but as i said -> new feature request

[2022-03-03 16:38] ElliotBu commented on #8509
I only fork primefaces-test and added the reproducer objects. I don't see anything with 12.00.0-SNAPSHOT.

[2022-03-03 16:52] ElliotBu commented on #8509
I doesn't work with field="User.username" > Exception Entity does not have the property 'User.username'.

[code]

I guess Feature Request and wait is the only solution.
Cheers

[2022-03-03 16:59] tandraschko commented on #8509
its actually supposed to work like this, i think your exception is also because of that
you need "createUser.firstName" like in EL

[2022-03-03 17:14] ElliotBu commented on #8509
[code]
Unfortunately Not > The class 'main.java.org.primefaces.test.InternalContact' does not have the property 'createUser.username'.

[2022-03-03 17:17] tandraschko commented on #8509
then i still need a working reproducer
did you try your reproducer via mvn jetty:run? i just wonder as WebContent is a IDE directory, not maven

[2022-03-03 17:23] ElliotBu commented on #8509
I work with Eclipse and I don't use Maven. Never worked with Maven.

[2022-03-03 17:25] tandraschko commented on #8509
I never worked with Eclipse projects
Did you try 12.0 Snapshot?

[2022-03-03 17:29] ElliotBu commented on #8509
Will try to do it with Maven. Let you once it's done

[2022-03-03 20:11] ElliotBu commented on #8509
I have uploaded now a next reproducer 12.0.0-SNAPSHOT. https://github.com/ElliotBu/primefaces-test-1.git
The only thing is that I'm not able to create in Jetty a JDBC Connection Pool. All the configs are in and script with data for a MySQL Database is in the ContextRoot.

Christian

[2022-03-04 10:14] tandraschko commented on #8509
last time recreating a example ;) it doesnt even compile as packages are wrong.
[primefaces-test-1-master.zip](https://github.com/primefaces/primefaces/files/8184921/primefaces-test-1-master.zip)

[2022-03-04 10:14] tandraschko commented on #8509
@melloware would you like to create a DB example/reproducer-test-project or something from this project?

[2022-03-04 10:17] tandraschko commented on #8509
in general our JpaLazyDataModel works fine as you can see in this example.
Our JpaLazyDataModel requires "createUser.username" to join correctly and this works fine - but EL fails in your case as the array acessor `#{row[column.property]}` doesnt work with nested objects. So changing to:

[code]

works

[2022-03-04 10:18] tandraschko commented on #8509
We could either allow:
`field="createUser" filterBy="createUser.username"`

or we could also provide a helper method/util to receive the value, as the problem is just the the array acessor doesnt support `#{row['obj.obj']}`, just `#{row['obj']}`
and the array acessor is only required with `p:columns`

WDYT @Rapster ?

[2022-03-04 10:28] irieill opened #8511 "Panel: Inconsistently themed borders."
**Describe the defect**
_Custom Toolbar_ section is the blueprint for panel borders. When adding a footer the content box stays with rounded borders and the footer box itself comes with angular borders (_Regular_ section). When collapsing a toggleable panel there is no bottom border at all (_Toggleable_ section).
![current](https://user-images.githubusercontent.com/21124034/156742504-1598c7c0-bc05

[2022-03-04 10:40] tandraschko commented on #8511
duplicate of https://github.com/primefaces/primefaces/issues/8215

please use the issue search next time before

[2022-03-04 10:40] #8511 closed, assigned to nobody

[2022-03-04 10:50] irieill commented on #8511
Well, I did use the search and I was wondering why this was not reported before. But obviously i used the wrong keywords. Sorry.

[2022-03-04 11:57] melloware commented on #8509
@tandraschko i was talking about that with @FlipWarthog yesterday creating a DB enabled reproducer.  Will put it in the backlog for now and may try and get to it!

[2022-03-04 12:48] ElliotBu commented on #8509
Thank guys for the support and clarifications. Looking forward that `p:columns` will accept `#{row['obj.obj']}`,

Cheers
Christian

[2022-03-04 12:57] tandraschko commented on #8509
p:columns wont accept that, EL doesnt allow it

[2022-03-04 14:03] ElliotBu commented on #8509
than I'm looking forward to the helper method/util which can do the magic.

[2022-03-04 14:46] tandraschko commented on #8509
That works:

[code]
[code]

----- OR ------

[code]

[code]

[2022-03-04 14:51] tandraschko commented on #8509
i would like to hear from @Rapster, whats the cleanest way to add something as helper
the second way would even invoke converters

[2022-03-04 15:07] ElliotBu commented on #8509
I was testing the first option already and it works! Will try the second in combination with a converter especially LocalDateTime later on.

Thanks a lot for assistance.

Christian

[2022-03-04 15:22] Rapster commented on #8509
Why don't you simply init field with "createUser.username"? Nested syntax worked in the past

[2022-03-04 15:33] tandraschko commented on #8509
Thats what i did - see my example; EL throws a exception with this: '{row[createUser.username]}'
Everything else like filter and sort works, just not display it with this EL above

[2022-03-05 01:53] anuragnz opened #8516 "Component: Chat component"
**Description**
It would be great if we can have a chat component to use with WebSocket.

[2022-03-05 02:13] melloware commented on #8516
Couldn't you do this already with the [Terminal ](https://www.primefaces.org/showcase/ui/misc/terminal/basic.xhtml)component and Websocket?

And you can put it inside the [PrimeFaces Extensions  SlideOut](https://www.primefaces.org/showcase-ext/views/slideOut.jsf) component if you want it to be like a customer service like chat tab like many websites have.

[2022-03-05 04:46] anuragnz commented on #8516
Thanks @melloware .
I will give it a try.

[2022-03-05 15:56] pfumi opened #8517 "Update Java EE XML Schema Resources"
The following Java EE 6 XML schema resources appear in different PrimeFaces XML files.
[code]
They could be updated to at least Java EE7 (since Java EE7 is the minimum version for Java 8, and PF12 supports at least Java 8)
[code]

See here http://xmlns.jcp.org/xml/ns/javaee#7

[2022-03-05 17:17] tandraschko commented on #8517
PF works fine from EE5.0 to 10, no neee to upgrade anything for now

[2022-03-05 17:17] #8517 closed, assigned to nobody

[2022-03-05 21:21] SamTV12345 opened #8519 "Primefaces 11.0 Datatable changing order of elements in it."
**Before creating a issue, please try the newest version! Older versions are not supported by the community!**

**Describe the defect**
After upgrading to Primefaces 11.0 the treetable doesn't work as expected. It creates shadow elements which cannot be selected. This behaviour wasn't present in Primefaces 10.0.
I am using the same algorithm that extracts all elements from the database and adds th

[2022-03-05 22:51] SamTV12345 commented on #8519
Alright. I found the error. In Primefaces 10.0 there was an attribute dynamic which handled if the elements should be loaded all at once or one after the other when expanding the dropdown. This disappeared in Primefaces 11.0. So when I used my request scoped bean it was constantly reassigning roots and elements and that is why the values were always invalid.

[2022-03-05 22:51] #8519 closed, assigned to nobody

[2022-03-06 09:43] jepsar commented on #8516
See also https://github.com/primefaces-extensions/primefaces-extensions/issues/127

[2022-03-06 12:34] melloware commented on #8516
Yes going to close this for now since its already an open issue on PFE

[2022-03-06 12:34] #8516 closed, assigned to nobody

[2022-03-06 17:55] #8351 closed, assigned to jepsar

[2022-03-06 17:55] #8355 closed, assigned to jepsar

[2022-03-06 17:59] melloware commented on #8494
@Rasoul26 closing this issue until a runnable reproducer is provided so we can debug.

[2022-03-06 20:34] mertsincan commented on #8444
I'm not sure about adding these to p:ajax. This means deciding where to build the loader elements for each component and where to block based on what conditions. E.g; For dataTable's sort and filter events, will we block the entire dataTable or the elements that trigger that event? In short, I think it would be better to add features like 'ajaxLoading' and 'ajaxLoadingIcon' on a component basis in

[2022-03-06 21:58] tandraschko commented on #8444
I think we should not add such Attributes to each component, therefore just allowing a generic way on p: ajax to limit the event receiver

I, as user, would expect that every component in a modern component lib does it automactically, even not deactivatable

Each component needs then to decide what to block and where to show the loading indicator
Autocomplete should not block input but show a inli

[2022-03-07 00:18] mertsincan commented on #8444
Yes, adding an option to p:ajax might be a generic way, but I think some attributes may be required on a component basis as well. Most users will want to customize the loading icon, or they will not want to write this option for all events in components with more than one event. Most importantly, this option added to ajax for most components may not make sense. E.g; p:selectBooleanCheckbox, p:sele

[2022-03-07 08:31] tandraschko commented on #8444
yeah, we should really discuss this deeply
why should we NOT block e.g. a checkbox when AJAX is done?
i know there is a async=true flag on p:ajax but does anyone use it? it likely breaks more then it helps

[2022-03-07 09:30] HKM-CIA commented on #8503
If I change the z-index of the div with "vis-item-overflow" manually, then the right click works.
And also the drag Event still works.
![2022-03-07 10_23_29-DevTools - 10 198 5 51_8082_primefaces-showcase-timeline_](https://user-images.githubusercontent.com/100683720/157004175-6aec31e7-5527-4230-8bb3-4bcde1eec633.png)

[2022-03-07 10:44] cnsgithub opened #8520 "CSP: Report only"
In large web applications it might be difficult to introduce Content Security Policy directly. Instead there might be the requirement that remaining CSP violations should be reported to an adequate endpoint as a start. Then the production system will show up problems regarding CSP even in the last corner of the webapp, driven by the users.

Unfortunately, PrimeFaces does not support the header `Co

[2022-03-07 13:51] melloware commented on #8503
Nice find!  But I am testing that and that fixes your Room 150 and Room 178 but try your Room 101 that does not use the OverFlow style and thus is still not right clickable?

[2022-03-07 13:54] melloware commented on #8503
Got it try this CSS adding to your project I think it fixes all scenarios in your reproducer.
[code]

[2022-03-07 15:37] melloware commented on #8503
Thanks for the help @HKM-CIA  !

[2022-03-08 06:08] cnsgithub opened #8525 "Badge: XSS through value attribute"
**Describe the defect**
The attribute `value` of `p:badge` is subject to XSS.

**Environment:**
 - PF Version: _12.0.0_

**To Reproduce**
Steps to reproduce the behavior:
Set the value of `p:badge` like this (e.g. in badge.xhtml of showcase)

`<p:badge value="&lt;script&gt;console.log('foo');&lt;/script&gt;"/>`

**Expected behavior**
Although badges will mostly be used to show numbers, the value s

[2022-03-08 06:19] cnsgithub opened #8526 "Tag: XSS through value attribute"
**Describe the defect**
The attribute `value` of `p:tag` is subject to XSS.

**Environment:**
 - PF Version: _12.0.0_

**To Reproduce**
Steps to reproduce the behavior:
Set the value of `p:tag` like this (e.g. in tag.xhtml of showcase)

`<p:tag styleClass="p-mr-2" value="Primary&lt;script&gt;console.log('foo');&lt;/script&gt;"></p:tag>`

**Expected behavior**
The value should be escaped properly w

[2022-03-08 06:50] cnsgithub opened #8527 "Chip: XSS through label attribute"
First of all: It had been a long time since I was active and contributed some things like OWASP encoder to achieve better XSS mitigation. Now I'm a bit disappointed, the OWASP encoder is still in place, but it's not used consistently in new components. This issue describes the third XSS vulnerability I've identified in just a few minutes. :-(

**Describe the defect**
The attribute `label` of `p:ch

[2022-03-08 06:59] cnsgithub opened #8528 "Stack: XSS through menuItem value"
Another one...

**Describe the defect**
The attribute `value` of `p:menuItem` inside `p:stack` is subject to XSS.

**Environment:**
 - PF Version: _12.0.0_

**To Reproduce**
Steps to reproduce the behavior:
Use `p:stack` like this (e.g. in stack.xhtml of showcase)

[code]

**Expected behavior**
The value should be escaped properly in `StackRenderer` with `EscapeUtils.forHtml` or `ResponseWriter.wr

[2022-03-08 09:59] melloware commented on #8527
I agree with you these were written offline and just committed without a chance for much peer review by the community.  I will fix all these.

[2022-03-08 12:24] #4373 closed, assigned to mertsincan

[2022-03-08 12:33] miedrl commented on #7580
@melloware Has a solution for this problem been found?

[2022-03-08 13:23] cnsgithub opened #8530 "AutoComplete: XSS through AutoCompleteSuggestion"
Another one...

**Describe the defect**
The attributes `value` and `label` in `AutoCompleteSuggestion` used by REST endpoints in conjunction with  `p:autoComplete` are subject to XSS.

**Environment:**
 - PF Version: _12.0.0_

**To Reproduce**
1) Modify the REST endpoint `CountryService` of showcase like that:

[code]

2) Open this showcase: http://localhost:8080/showcase/ui/input/autoComplete.xht

[2022-03-08 13:29] melloware commented on #7580
I have not had a chance to look into this.  If you have time to research a solution any help would be appreciated.

[2022-03-08 17:48] melloware opened #8537 "Avatar: XSS through label value"
### Discussed in https://github.com/primefaces/primefaces/discussions/8524

<div type='discussions-op-text'>

<sup>Originally posted by **cnsgithub** March  8, 2022</sup>
https://github.com/primefaces/primefaces/blob/5f5a5524a40c5a23beebcfb1a4fbdb5208148ccc/primefaces/src/main/java/org/primefaces/component/avatar/AvatarRenderer.java#L94

E.g. this would not render `<b` as expected:

`<p:avatar lab

[2022-03-08 18:17] #8525 closed, assigned to melloware

[2022-03-08 18:17] #8527 closed, assigned to melloware

[2022-03-08 18:17] #8526 closed, assigned to melloware

[2022-03-08 18:17] #8528 closed, assigned to melloware

[2022-03-08 18:17] #8530 closed, assigned to melloware

[2022-03-08 18:18] #8537 closed, assigned to melloware

[2022-03-08 21:00] tuerker opened #8539 "DataTable: Sorting/Filtering/Paginator etc. not work anymore after updating PF extension from 11.0.0 to 11.0.2"
It looks that PF-Extensions Version > 11.0.0 breaks the datatable functionality of the PF snapshot. Would be great if somebody could have a look at this.

Side-note: I am using Payara 5.2021.8.

Many thanks in advance.

[2022-03-08 21:17] tandraschko commented on #8539
Please create a Extensions issue then

[2022-03-08 21:17] #8539 closed, assigned to nobody

[2022-03-08 21:21] tuerker commented on #8539
sorry. by default i was here. will place a PF extensions issue.

[2022-03-08 21:22] melloware commented on #8539
I can't imagine what in PFE would cause your Datatable to break so please create a PF Test Reproducer.

[2022-03-08 21:29] melloware commented on #7580
@miedrl shoot me a private message about this issue when you get a chance.

[2022-03-08 21:30] tuerker commented on #8436
Dear @tandraschko could please remove the warning which is neither needed nor helpful since the printed clientid is even not the page. I would suggest to replace

[code]

by

[code]

This would clearly implement the documented optional attribute semantics where the default is lazy=false.

Many thanks in advance.

[2022-03-08 21:42] tuerker commented on #8539
linkage to the PF extension issue https://github.com/primefaces-extensions/primefaces-extensions/issues/750 to avoid similar future questions

[2022-03-09 07:59] miedrl commented on #7580
@melloware Sorry but I can not provide a solution.

[2022-03-09 08:20] irieill opened #8541 "OrderList: Inconsitent padding for controlsLocation="right""
**Describe the defect**

Theming issue with inconsitent padding for `<p:orderList controlsLocation="right">`

![current](https://user-images.githubusercontent.com/21124034/157398238-bc41f208-f8ab-4111-b0c8-fa2921885c5d.png)

**Workaround**

Custom CSS

[code]

[2022-03-09 10:06] melloware commented on #7580
Are you or your company interested in sponsoring this fix financially?

[2022-03-09 10:11] fcorneli commented on #8527
Now that these XSS are "out in the open", could these fixed be back ported to 11 please?

[2022-03-09 10:17] tandraschko commented on #8527
thats up to PrimeTek (cc @mertsincan), thats all we can do
however, you can let it port via PrimeFaces PRO

[2022-03-09 12:03] miedrl commented on #7580
Sorry but no, we won't be sponsoring this fix.

[2022-03-09 13:38] melloware commented on #8494
cc @jepsar

[2022-03-09 14:11] Rasoul26 commented on #8494
Hello

This issue was resolved by changing `block="dataTable"` to `block="@form"` for `p:blockUI` tag in primefaces 8 & 11.

Thanks for your effort

[2022-03-09 14:19] melloware commented on #8494
OK thanks for posting back.  @jepsar is seeing a similar issue so I am wondering if its truly and issue we should try and fix.

[2022-03-09 18:42] jepsar commented on #8494
Reproducer:

[code]

[2022-03-09 19:06] melloware commented on #8494
I wonder if this was broken on PF 7.0, or 8.0.  Might have to look through BlockUI commits.

[2022-03-09 19:10] jepsar commented on #8494
It's removed here:
https://github.com/primefaces/primefaces/blob/e57b27fa6b7893a2a75a3c4d71be13b80867c760/primefaces/src/main/resources/META-INF/resources/primefaces/core/core.ajax.js#L1280-L1304

[2022-03-09 19:42] melloware commented on #8494
So isn't this line wrong too..
[code]

That just makes it NULL but its still in the list as undefined.  Should it remove it from the widgets array?

[2022-03-09 19:49] melloware commented on #8494
it should do.
[code]

[2022-03-09 20:36] melloware commented on #7580
OK I have a fix for tooltip that adds `autoHide` property you can see in Action in PrimeReact showcase here: https://primefaces.org/primereact/tooltip/

Please open a separate issue about OverlayPanel so it can be tracked separately.

[2022-03-09 20:48] melloware commented on #8494
Reproducer:
[pf-8494.zip](https://github.com/primefaces/primefaces/files/8218119/pf-8494.zip)

[2022-03-09 20:55] melloware commented on #8494
OK i see why its happening its because the BlockUI panel `jq` object gets created inside the panel. So when the panel is removed from the DOM so it he BlockUI Mask which causes the widget to be marked for removal.

[2022-03-09 22:06] melloware commented on #8494
I think #5866 is related and was never solved

[2022-03-10 01:51] dannymk opened #8545 "CountryConverter reference in Showcase"
**Before creating a issue, please try the newest version! Older versions are not supported by the community!**

**Describe the defect**
A clear and concise description of what the defect is.
I am having a heck of a time using a converter on a "select one menu" input, the demo shows a string as the reference for the converter:
```<p:selectOneMenu value="#{menuBean.selectedPlayer}" converter="player

[2022-03-10 02:13] melloware commented on #8545
This is much better suited to Stack Overflow. This forum is for bugs.  The showcase is correct for CountryConverter because it uses CDI and is `@Named` which exposes it to EL through CDI so it's available as #{countryConverter}

[2022-03-10 02:13] #8545 closed, assigned to nobody

[2022-03-10 06:51] miedrl opened #8546 "OverlayPanel: add autoHide attribute"
**Description**
To guarantee accessibility it has to be possible to hover over an opened overlay panel, mark its text with the mouse and copy said text. At the moment, this does not work as the overlay panel is hidden when the hover is not over the overlay panel's anchor anymore.

**Describe the solution you would like**
The overlay panel has to stay open when hovering over it, I suggest adding th

[2022-03-10 06:51] miedrl commented on #7580
@melloware Like that? https://github.com/primefaces/primefaces/issues/8546

[2022-03-10 07:23] ohlsen3000 opened #8547 "SelectOneMenu: XSS-Vulnerable"
The Attribute `data-label` of Items within the SelectOneMenu is not escaped correctly and thus makes XSS possible.

**Environment:**
 - PF Version: 10.0.0
 - JSF + version: Mojarra 2.2.20
 - Affected browsers: ALL

**To Reproduce**
Steps to reproduce the behavior:
1. Create a SelectOneMenu with the following items:
2. `"<script>alert(\"XSS\")</script>"`
3. `" \" onmouseover=\"alert(document.domain

[2022-03-10 08:57] tandraschko opened #8548 "BlockUI: refactor + root element should not be moved in DOM"
Currently the BlockUI script is a bit weird as it moves the root element to the target. Sometimes its also cloned, which should not be required.

I think it needs a bit of refactoring, also the code itself reads weird as it covers multiple block targets but the code is hard do unterstand.

This example shows the weird behavior:
[code]

BlockUI is actually on the same level as commandButton and pan

[2022-03-10 08:59] tandraschko commented on #8494
i will close this in favor of: https://github.com/primefaces/primefaces/issues/8548

it needs a bit more refactoring how the widget works

[2022-03-10 08:59] #8494 closed, assigned to jepsar

[2022-03-10 08:59] tandraschko commented on #5866
i will close this in favor of: https://github.com/primefaces/primefaces/issues/8548

[2022-03-10 08:59] #5866 closed, assigned to melloware

[2022-03-10 09:02] tandraschko commented on #8548
anyone interessted in doing this?

[2022-03-10 09:06] fcorneli commented on #8547
Guess this one was already fixed within 10.0.9. See also:
https://github.com/primefaces/primefaces/issues/7878
https://github.com/primefaces/primefaces/issues?q=label%3A10.0.9+is%3Aclosed

[2022-03-10 09:09] tandraschko commented on #8547
before creating a issue, please always try the newest version
might already be fixed.

[2022-03-10 10:05] melloware commented on #8548
I can take a shot at it and you can review it and help me make it correct.  I totally agree with your  assessments of the problems!

[2022-03-10 12:32] melloware commented on #8547
Runnable reproducer its still an issue on PF11:
[pf-8547.zip](https://github.com/primefaces/primefaces/files/8223375/pf-8547.zip)

[2022-03-10 12:56] melloware commented on #8546
Test case:
[pf-7580.zip](https://github.com/primefaces/primefaces/files/8223502/pf-7580.zip)

[2022-03-10 13:01] melloware commented on #8547
OK its not an issue the test case that is alerting is his section #2 which is `itemLabelEscaped="false"` but that is because he is instructing it to be false.

As mentioned this is already fixed in 10.0.9 and 11.0.0.

[2022-03-10 13:07] #8547 closed, assigned to melloware

[2022-03-10 14:50] melloware commented on #8548
OK @jepsar and others I know when this issue was introduced: https://github.com/primefaces/primefaces/issues/5787

Previously it wasn't ever calling `super` in the constructor so it was never registering itself for the `remove` event which is probably why this is happening now and wasn't always happening.

[2022-03-10 16:03] miedrl commented on #8546
Can you tell me how to run this in command line?

[2022-03-10 16:04] melloware commented on #8546
`mvn  clean jetty:run` and navigate to http://localhost:8080/primefaces-test/

you may have to change pom.xml from 12.0.0-SNAPSHOT back to 11.0.0 release.

[2022-03-10 18:56] tvhdev opened #8551 "Primefaces: Datatable / ColumnToggler Problems"
**Describe the defect**

In our portlet we're using Primefaces' datatable widget to display a simple list of records. The column toggler is configured so the user is able to customize the visibility of the columns.
![column toggler fields1](https://user-images.githubusercontent.com/29280823/157732904-1c6b18fe-2e9e-4c74-9fe2-3a21262b8b0a.png)
After the user within the organizational site /group/com

[2022-03-10 19:08] melloware commented on #8548
Confirmed that by using `target="panel1 panel2"` where you have two targets @tandraschko is correct it was duplicating ID's.

![image](https://user-images.githubusercontent.com/4399574/157736899-3e6d91ab-8cde-415b-a898-154d4e09e912.png)

[2022-03-10 19:40] tandraschko commented on #8551
Can you replicate in our primefaces-test Project using Jetty?
I think nobody will help you with liferay here, maybe better use payed support

[2022-03-10 20:02] tvhdev commented on #8551
Hello, you're probably right that it could be a liferay related problem, maybe the "faces bridge" is buggy, i will open a ticket in liferay's JIRA tracker then. I will try the primefaces-test Project using my portlet and i will get back to you.

[2022-03-10 20:05] melloware commented on #8551
OK also there was a LifeRay problem reported on the forums and the user responded back that "LifeRay has not updated for PF11 yet"

See: https://forum.primefaces.org/viewtopic.php?f=3&t=71443

[2022-03-10 20:05] #8551 closed, assigned to nobody

[2022-03-10 21:23] melloware commented on #8548
OK got all of it working properly!

[2022-03-10 23:00] djmj commented on #4373
Thanks for the implementation!

[2022-03-11 10:12] irieill commented on #8231
I would like to extent this issue.
[code]
Chips is not stretched to full container size. I think this could be fixed alongside.

[2022-03-11 15:39] r-mueller opened #8553 "selectOneMenu: Does not show selectItems if var attribute is used"
**Describe the defect**
After moving from Primefaces 6 to Primefaces 11 selectOneMenu stopped showing selectItems if attribute var is set.

**Reproducer**
[primefaces-test.zip](https://github.com/primefaces/primefaces/files/8233425/primefaces-test.zip)

**Environment:**
 - PF Version: 11.0.0 and current master
 - PF Theme: See reproducer
 - JSF + version: See reproducer
 - Affected browsers: Edge

[2022-03-11 15:51] jepsar commented on #8553
Shouldn't it be like this?
[code]

[2022-03-11 15:59] r-mueller commented on #8553
@jepsar  You are right. Correcting it does not change behaviour though. I update code snippets. Attached corrected reproducer zip.

[primefaces-test.zip](https://github.com/primefaces/primefaces/files/8233410/primefaces-test.zip)
.

[2022-03-11 16:08] tandraschko commented on #8553
var is build for custom content - and you dont have custom content in your example; check the showcase

[2022-03-11 16:12] r-mueller commented on #8553
@tandraschko Sure then it was wrong usage in our app. We had var attribute defined but in fact did not use it. Closing issue again. Thanks.

[2022-03-11 16:12] #8553 closed, assigned to nobody

[2022-03-12 07:49] jepsar commented on #8356
Other example: salary equals 3000 is false for null, so should salary noEquals 3000 be true for null? I think it should be false as well. Adding ITs for this.
[code]
It's debatable though..

[2022-03-12 08:03] jepsar commented on #8356
Maybe that should be a different issue (an option to exclude nulls from negation)

[2022-03-12 16:01] #8548 closed, assigned to melloware

[2022-03-12 16:04] #8356 closed, assigned to jepsar

[2022-03-13 14:27] #7580 closed, assigned to melloware

[2022-03-14 07:53] HKM-CIA opened #8559 "Timeline: Drag&Drop didn't work with snap not null"
For additional information see forum [#71390](https://forum.primefaces.org/viewtopic.php?f=3&t=71390)

If the attribute snap isn't present, or set to

[code]
 in the timeline definition, then the onDrop Event works Ok!
But if i set

[code]

and

[code]
then I get the JavaScript error:
[code]

After some analysis i found the possible cause in the timeline.js.

In the binding of the drop event the d

[2022-03-14 12:35] Thomaleh opened #8560 "JpaLazyDataModel#applySort overwrites CriteriaBuilder#orderBy each iteration"
**Describe the defect**
`JpaLazyDataModel.applySort` overwrites `CriteriaBuilder.orderBy` each iteration. Sorting by multiple columns only uses the last element of the `sortBy`.

The `applySort` should create a list of `Order`s to pass to `CriteriaBuilder.orderBy`.

**Environment:**
 - PF Version: _11.0.0_

**Defect code**
[code]

[2022-03-14 12:51] tandraschko commented on #8560
please try again

[2022-03-14 12:51] #8560 closed, assigned to tandraschko

[2022-03-14 20:04] melloware commented on #8559
Thanks for the detailed ticket and reproducer. I will have a look at it

[2022-03-15 09:06] HKM-CIA commented on #8503
Unfortunately the workaround has a side effect.

If I use the workaraound and do a double click on an event, the "edit" event would not be fired
[primefaces-test-timeline-contextMenu.zip](https://github.com/primefaces/primefaces/files/8251704/primefaces-test-timeline-contextMenu.zip)
.

[2022-03-15 14:10] melloware commented on #8503
See my PR unforunately its a much more invasive fix where we have to disable the Timeline's handline of right click and `bind` to their ContextMenu event. This is actually similar to how PF DataTable does it see here: https://www.primefaces.org/showcase/ui/data/datatable/contextMenu.xhtml

[2022-03-15 14:19] melloware commented on #8503
Here is a fixed reproducer of your issue:
[pf-8503.zip](https://github.com/primefaces/primefaces/files/8254132/pf-8503.zip)

It applies this MonkeyPatch.
[code]

[2022-03-15 14:30] melloware commented on #8559
Can you give me exact steps for your reproducer.  I create two new items and drag and drop them and no errors in the console?

[2022-03-15 14:46] HKM-CIA commented on #8559
Oh, I see!
In the Test-Project I used snap="#{'null'}".
This works ok!
 Please change to snap="#{'snapTimeline'}", then the error occurs.

[2022-03-15 14:47] melloware commented on #8226
@rds76 in your case don't you want a global tooltip? https://primefaces.github.io/primefaces/11_0_0/#/components/tooltip?id=global-selector

[code]

That would do all anchor elements on the page?   What you have reported is still an issue but just from looking at your use case above it seems like globalSelector was what you wanted?

[2022-03-15 14:48] melloware commented on #8559
In your reproducer I see this ` snap="#{'snapTimeline'}"` and i get no errors?

[2022-03-15 14:57] melloware commented on #8225
I can't reproduce with PF 11.0.
[pf-8225.zip](https://github.com/primefaces/primefaces/files/8254515/pf-8225.zip)

Attached is my reproducer run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/

[2022-03-15 15:07] HKM-CIA commented on #8559
Sorry!!! I uploaded the wrong project.

Please try this:
[primefaces-test-timeline-dnd-snap-2.zip](https://github.com/primefaces/primefaces/files/8254549/primefaces-test-timeline-dnd-snap-2.zip)

Here is a screenshot:

![2022-03-15 16_05_25-Timeline_ Drag Drop didn't work with snap not null · Issue #8559 · primefaces_pr](https://user-images.githubusercontent.com/100683720/158408283-1d959323-36f7-4

[2022-03-15 15:32] HKM-CIA commented on #8503
Well done!!
With this patch I can get ahead in the project.
What I still have to do, is to block the contextMenu, when a right click is done in the timeline area, not on an event-item.
That's ok.

Thanks! You done a good job!

[2022-03-15 15:34] melloware commented on #8503
I think you can use `targetFilter` of the ContextMenu to limit it to the items only: https://primefaces.github.io/primefaces/11_0_0/#/components/contextmenu?id=contextmenu

[2022-03-15 15:42] melloware commented on #8559
Here is a fixed MonkeyPatched version:
[pf-8559.zip](https://github.com/primefaces/primefaces/files/8254921/pf-8559.zip)

MonkeyPatch:
[code]

[2022-03-15 17:37] BryanGarro25 opened #8568 "DatePicker: Validating dates in spanish no matter the selected language"
I am importing the locale for each language, but for some reason the validation is always applied in Spanish. I've selected Portuguese (locale at the bottom) and it throws this:
Check-in:: '15-Fev-2022' no se ha podido reconocer como fecha. Ejemplo: 15-mar.-2022
Notice that the message is in spanish while the system is in portuguese.

PF Version: 11.0.0
PF Theme: babylon
Using LocalDate

**Example

[2022-03-15 18:02] melloware commented on #8568
Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

We use a language switcher in the showcase and have no issues so I have a feeling you aren't doing something correctly.

[2022-03-15 18:05] BryanGarro25 commented on #8568
Ok ill try since the last time I couldn't run the project

[2022-03-15 18:06] melloware opened #8569 "TreeTable: JS error `orginTableContent` not found"
**Environment:**
 - PF Version: _11.0.0_
 - PF Theme: _ALL_
 - JSF + version: _ALL_
 - Affected browsers: _ALL_

**To Reproduce**
Reproducer with Sticky Header:
[pf-4393.zip](https://github.com/primefaces/primefaces/files/8256060/pf-4393.zip)

"Uncaught ReferenceError: orginTableContent is not defined"

![image](https://user-images.githubusercontent.com/4399574/158443234-d0880414-5103-4f17-9d07-f6

[2022-03-15 18:09] melloware commented on #8568
Also see the Showcase it language switches correctly for a possible example.

[2022-03-15 18:36] #8569 closed, assigned to melloware

[2022-03-15 18:37] #8559 closed, assigned to melloware

[2022-03-15 18:37] #8503 closed, assigned to melloware

[2022-03-15 19:32] melloware commented on #5710
@fanste maybe I am doing something wrong but I can't reproduce your issue on PF11?   Attached it my reproducer I got from your post above just updated for PF11.
Can you try this?
[pf-5710.zip](https://github.com/primefaces/primefaces/files/8256541/pf-5710.zip)

[2022-03-15 19:53] BryanGarro25 commented on #8568
we did some tests in other browsers, and it validates the dates with the browse's language, but it formats with the set language in jsf ( FacesContext.getCurrentInstance().getViewRoot().setLocale( new Locale(language)); )

[2022-03-15 20:02] melloware commented on #8568
Here is how the DatePicker resolves its locale for messages...

[code]

Do you have a `locale=""` set on the DatePicker?

[2022-03-15 20:14] BryanGarro25 commented on #8568
no we don't. The datepicker we added in the header of this ask is the same we have in the project.

[2022-03-15 20:22] melloware commented on #8568
OK then you should do it like the Showcase does it...

1. Language in the HTML declaration `lang="#{p:language()}" xml:lang="#{p:language()}"`

[code]

2. Load the built in language already included by PrimeFaces which already has your 3 languages above...

[code]

3. Set the  View to your language

[code]

4. Have your language picker set the language and reload the page.

[code]

All code availa

[2022-03-15 21:00] BryanGarro25 commented on #8568
[code]
[code]
This is how we configured it, We have the same you sent me I think

[2022-03-15 21:42] BryanGarro25 commented on #8568
I found something curious, y have a datatable that shows dates in a column like this:
[code]
I changed the language to french and the datatable's column used this monthNamesShort for months:
[code]
(notice that some of them have an ending dot, looks weird)
So, I changed my locale (locale-fr.js) to use those specific monthNamesShort and it worked. I did the same with other languages that were faili

[2022-03-15 22:43] melloware commented on #8568
I don't understand your explanation or the issue?

Can you be more clear? Are the `monthNamesShort` missing in your languages?  `monthNamesShort` is a client side setting so I have no idea why that would affect your server side messages coming out in Spanish if you have set Locale to PT.

I am very confused by what your actual issue is.  Please provide an executable example using the [PrimeFaces T

[2022-03-15 22:45] melloware commented on #8568
Here is the French locale built in and notice MonthNames Short do NOT have dots.

https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/resources/META-INF/resources/primefaces/locales/locale-fr.js

[code]

[2022-03-15 22:53] BryanGarro25 commented on #8568
ok look,
Check-in:: '15-Fev-2022' no se ha podido reconocer como fecha. Ejemplo: 15-mar.-2022
is the error that primefaces throws TO THE CLIENT, but it is failing because of the format specified in locale-fr.js for monthNamesShort. When I added the dots as I showed you, it started working, it doesn't let me change it because it will throw the same error

[2022-03-15 22:55] BryanGarro25 commented on #8568
It is weird because monthNamesShort should accept what you just send, but it doesn't, it only accepts the one with the dots I sent you.

[2022-03-15 22:56] melloware commented on #8568
Please I BEG you to create a PF Test Reproducer.  None of what you are saying makes any sense unless I can debug it and see the problem.    You must be using CVS client side validation as the messages above would not come from the server they are in your JS file above?

[2022-03-15 23:00] BryanGarro25 commented on #8568
ok I got it, lets close this ticket since I already found a workaround and I can't create the PF Test Reproducer because I am in a hurry. I will open a ticket in the future with the PF Test Reproducer. Thanks.

[2022-03-15 23:01] #8568 closed, assigned to melloware

[2022-03-16 08:36] HKM-CIA commented on #8503
Applying the patch and using

[code]
for dragable items, it works like a charm!

With the targetFilter on div.vis-drag-center,... i achieved, that the contextMenu only appears if i right click on an selected item, which was my goal.

Thanks for the help!

[2022-03-16 10:27] fanste commented on #5710
`appendTo="@(body)"` is missing for your `p:overlayPanel`.

[2022-03-16 11:50] melloware commented on #8503
Fantastic.  Glad I could help.

[2022-03-16 12:00] melloware commented on #5710
Ahhh yep reproduced now
[pf-5710.zip](https://github.com/primefaces/primefaces/files/8261869/pf-5710.zip)
.

[2022-03-16 12:06] melloware commented on #5710
The way to fix this right now without being invasive is to add a `onstart="PF('overlayPanel').destroy();"` to your command button updating the OP. This fixes this specific issue but its a workaround not a fix

[code]

[2022-03-16 12:34] fanste commented on #5710
That would definitively work.
Another workaround could be to wrap the contents of the overlay in an `h:panelGroup` and update that instead of the whole Overlay Panel.

A long term fix could be one of:
1. Add a cleanup-script-tag before components like Overlay Panel
2. Improve the ajax framework, to recognize updates of such components and run the cleanup internally - that needs to work for clients

[2022-03-16 15:09] koan00 commented on #8031
We are also experiencing this issue when migrating from PF 8.0.15 to 11.0.1.

@melloware are you working on a fix for this? If not, what would be the best way to address this?

Based on just reading the source, it looks like TableExporter.getExportableColumns might be the culprit: https://github.com/primefaces/primefaces/blob/38c62b7eb8acf8aa5663be43b19e8a14c16f7bae/primefaces/src/main/java/org/pr

[2022-03-16 16:17] melloware commented on #8031
@koan00 sure please submit a PR!

[2022-03-16 17:33] koan00 commented on #8031
@melloware I was going to submit this:  https://github.com/koan00/primefaces/commit/5ba6aa226a3967bb1e569f5f872d085f8d2e69f7 , but I then during more testing I noticed that exporting with displayPriority set was not working (display priority is honored in UI, but not in export). However I just reverted my change and tested further. It looks like exporting with displayPriority was already broken an

[2022-03-16 20:15] melloware commented on #8031
hmmm let me look through tickets i thought that was fixed at one point

[2022-03-16 20:19] melloware commented on #8031
@koan00 i found this: https://github.com/primefaces/primefaces/issues/7324

[2022-03-16 20:44] melloware commented on #5710
Agreed but your #2 is a much more invasive fix and would be tricky to test all scenarios but that would be the right place to fix it.

[2022-03-16 21:54] koan00 commented on #8031
@melloware thanks. After a lot of experimenting and testing, it seems that table.getColumnMeta() is not good to use here. First, it doesn't actually seem to contain any priority information. It's always null. Second, its a map and iterating over it does not iterate over the columns in the same order they are in the markup. So even if you had a mix of priorities (say -1,0,0,0,0,1). The zeroes would

[2022-03-16 23:33] melloware commented on #8031
Excellent but also test with a mix of exportable=false and visible also to make sure exportable=false always get excluded

[2022-03-17 08:02] fcorneli opened #8574 "Galleria: update from empty to n images"
When you have a Galleria without images, and you update it (going to n images), we receive the following Javascript error:
[code]

**Environment:**
 - PF Version: _11.0.0_,  _11.0.1_,  _11.0.2_
 - JSF + version: Mojarra 2.3.14.SP04
 - Affected browsers: _ALL_

[2022-03-17 08:03] tandraschko commented on #8574
reproducer or PR pls

[2022-03-17 10:24] Exandra opened #8575 "Datatable: Composite Component + p:rowExpansion + Mojarra 2.3"
**Describe the defect**
We are using p:dataTable inside a composite component, called mc:dataTable.
The p:dataTable inside mc:dataTable uses the same ID as the naming container. (e.g. id="#{cc.id}") **This is the critical information!**

When mc:dataTable contains a p:rowExpansion, AND that p:rowExpansion contains another mc:dataTable, the "var" entity of the inside mc:dataTable is null.

The "var

[2022-03-17 10:30] tandraschko commented on #8575
does it work in MF22 and MF23?

[2022-03-17 10:38] Exandra commented on #8575
- mvn clean jetty:run -Pmojarra22 => WORKS
- mvn clean jetty:run -Pmojarra23 => DOESN'T WORK
- mvn clean jetty:run -Pmyfaces22 => WORKS
- mvn clean jetty:run -Pmyfaces23 => WORKS

Mojarra23 is the only implementation which doesn't work.

[2022-03-17 10:41] fcorneli commented on #8574
See attachment. Problem happens in combination with `p:fileUpload`.
[primefaces-8574.zip](https://github.com/primefaces/primefaces/files/8283934/primefaces-8574.zip)

[2022-03-17 11:12] jepsar commented on #8575
Sound like you want to report this at Mojarra

[2022-03-17 11:30] melloware commented on #8574
@fcorneli thanks for the reproducer let me look!

[2022-03-17 11:52] fcorneli commented on #8574
Tried it out on the 12.0.0-SNAPSHOT HEAD, same JS error.

[2022-03-17 11:57] fcorneli commented on #8574
Quick-and-dirty fix:
[code]

[2022-03-17 11:58] tandraschko commented on #8575
Yep, please create a mojarra issue

[2022-03-17 11:58] #8575 closed, assigned to nobody

[2022-03-17 12:01] melloware commented on #8574
yep already fixed it!

[2022-03-17 12:05] fcorneli commented on #8574
Back-port to 11 please? This is a quite common use case for galleria I guess...

[2022-03-17 12:12] #8574 closed, assigned to melloware

[2022-03-17 12:13] melloware commented on #8574
@fcorneli no need just include this little MonkeyPatch in your JS code it will override it and fix it.  And then just leave a note to "remove in 12.0.0"

[code]

[2022-03-17 12:18] #8546 closed, assigned to melloware

[2022-03-17 12:19] melloware commented on #8575
@Exandra I would look through all the 2.3 commits in Mojarra and see if you can see something that might be triggering the problem.

[2022-03-17 12:20] melloware commented on #8575
Also make sure to attach your PrimeFaces Test reproducer in the Mojarra issue so they can see and debug the issue.

[2022-03-17 12:25] fcorneli commented on #8574
@melloware Thanks for the above code snippet. Works like a charm!

[2022-03-17 12:40] melloware commented on #8031
@koan00 looking good so far but left you a couple of review comments.

[2022-03-17 12:48] melloware commented on #8574
Thanks for reporting the bug with reproducer!

[2022-03-17 13:35] kneringerjohann opened #8577 "Timeline: TimelineModel update() defect"
**Describe the defect**
update() function in TimelineModel does not work any more.
The component updates the UI, but the events in the model (model.getEvents()) are not being changed.
This did work in PF 8.

Looking into sourcecode of PF 8, the update method looks like this:

    public void update(TimelineEvent<E> event, TimelineUpdater timelineUpdater) {
        int index = getIndex(event);

[2022-03-17 13:59] melloware commented on #8577
It was done with this ticket: https://github.com/primefaces/primefaces/issues/6841

Not sure why I think everyone assumed it was deprecated?

[2022-03-17 14:19] koan00 commented on #8031
exportable=false is working.

visible=false is partially working, but again it appears to be an issue with the original implementation. If visible=false is set in the xhtml, it is working. However if you use the visibility toggler to change column visibility, the export does not update. column.isVisible always seems to return the initial value. (Note that I do have a p:ajax inside the toggler to m

[2022-03-17 15:29] Exandra commented on #8575
Problem has been introduced with Mojarra 2.3.17. 2.3.16 is working fine. The only commits I found in 2.3.17, which are related to IDs, are regarding a new ID cache, which might be the cause and which already produced other/same problems. I found an already existing issue here: https://github.com/eclipse-ee4j/mojarra/issues/5065

[2022-03-17 15:32] melloware commented on #8031
I think its because the Column Toggler is just using JS magic to hide columns not updating the backing bean.  There may be an AJAX event you can use to update the server side?

[2022-03-17 15:35] melloware commented on #8031
Actually it looks like it only works on MultiViewState?  https://github.com/primefaces/primefaces/issues/2491

[2022-03-17 15:43] koan00 commented on #8031
Yes, that is why I mentioned in my previous comment that I add a p:ajax under the columnToggler. Toggler is totally client side unless you add it, and multiViewState won't persist the column toggle w/out the nested ajax tag.

[code]

If multiViewState has the proper table state to persist across views, then I assume it should be available to us to use in the exporter. I am just not familiar enough

[2022-03-17 15:54] kneringerjohann commented on #8577
so could we bring the functionality back?

we could do something like this:

    public void update(TimelineEvent<E> event, TimelineUpdater timelineUpdater) {
        int index = IntStream.range(0, events.size())
                .filter(i -> event.equals(events.get(i)))
                .findFirst().orElse(-1);

        if (index >= 0) {
            events.set(index, event);

            if (timeli

[2022-03-17 15:59] melloware commented on #8577
Sure do you want to submit a PR?

[2022-03-17 16:44] kneringerjohann commented on #8577
done
https://github.com/primefaces/primefaces/pull/8578

[2022-03-17 17:54] #8031 closed, assigned to koan00

[2022-03-17 18:40] koan00 commented on #8031
@melloware This affects the 11.x branch as well. What is the process to get it back-ported? It's not a direct merge due to the exporter changes to omit non-visible columns.

[2022-03-17 18:52] melloware commented on #8031
That is up to PrimeTek (I don't work for PrimeTek).  If you have a PRO account you can request this ticket be backported to 11.x

[2022-03-17 19:51] #8577 closed, assigned to kneringerjohann

[2022-03-17 19:57] melloware commented on #8577
Thanks for the report and the PR its merged.

[2022-03-17 23:28] djmj opened #8579 "Gmap: add text label"
With PrimeFaces gmap overlays we are able to draw polygons and markers but no text labels.
We would like to draw a text label on top of a polygon.

**Marker with Label**

This active google repo _MarkerWithLabel_ class could be used by just hiding the Marker icon like in this jsfiddle the  so we just have a label: http://jsfiddle.net/amgqn0Lv/

https://github.com/googlemaps/js-markerwithlabel

**M

[2022-03-17 23:38] melloware commented on #7832
Going to close this for now. If you can reproduce I can reopen!

[2022-03-17 23:38] #7832 closed, assigned to nobody

[2022-03-18 15:06] tandraschko opened #8580 "Core: ajax should log when component to be updated cant be found on client side"
Happens quite often with composites:
https://stackoverflow.com/questions/9726818/jsf-updating-a-composite-component

[2022-03-18 15:08] koan00 commented on #8031
Alright, I'm not pro so I just patched it myself. If anyone is interested, here it is: https://github.com/koan00/primefaces/commit/0a7c6489ac733b91ddc3b19b0dba78224e21194b

[2022-03-18 15:26] #8580 closed, assigned to tandraschko

[2022-03-18 17:51] arditsaliji opened #8581 "Tree: Submitting two selection tree´s inside a form leads to losing selection on the second tree and wrong selection on the first tree"
**Describe the defect**
I have two selection tree´s inside a ui:repeat in a form. When i submit the form and the tree´s get processed, the selection of the second tree moves to the selection of the first tree and the selection of the second tree is set to null. The id-attribute of the tree is the same as it is inside a ui:repeat, but the client-id´s are different.

**Environment:**
PF Version: any

[2022-03-18 18:50] melloware commented on #8581
@FlipWarthog care to look at this one?  Have a feeling the JS selectors are not specific enough?

[2022-03-18 18:57] jepsar commented on #8581
Please note that we'll have to migrate changes to https://github.com/primefaces/primefaces/pull/8350

I thought PrimeTek was going to review the open PRs some Mondays ago.

[2022-03-18 19:02] FlipWarthog commented on #8581
@melloware Sure, I can take a look.

@jepsar I'll keep that in mind if I track down the issue. Does your PR affect behavior at all, or is it safe to assume if it's broke in 12.0.0-SNAPSHOT it's broke in your PR branch as well?

[2022-03-18 19:22] jepsar commented on #8581
There is no functional change, I only moved style classes

[2022-03-19 13:38] pfumi opened #8582 "AutoComplete: Empty items within panel have unnessary space"
When typing within an autocomplete field with empty message and no results are returning, the autocomplete items have an unnecessary space.

**Environment:**
 - PF Version: 12.x.x, 11.0.2
 - Affected browsers: ALL

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [AutoComplete Showcase](https://www.primefaces.org/showcase/ui/input/autoComplete.xhtml)
2. Click within the field "Empty mess

[2022-03-19 14:22] pfumi opened #8583 "DataTable: Sorting columns in reflow is wrong"
**Describe the defect**
Selecting a column from the sorting menu on mobile screens for a datatable with `reflow=true`, sorts an other column instead of the selected column.

**Environment:**
 - PF Version: 12.x.x, 11.0.2
 - Affected browsers: ALL

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [DataTable Crud](https://www.primefaces.org/showcase/ui/data/datatable/crud.xhtml)
2. Make th

[2022-03-19 14:23] pfumi commented on #8583
I believe the problem is here
https://github.com/primefaces/primefaces/blob/1684d67555ec9fa7c825c3da3c85b14b63217e96/primefaces/src/main/java/org/primefaces/component/datatable/DataTableRenderer.java#L1673
The returned map is a `HashMap`, so the order of the column headers is messed up.
If you look deeper into the method, you can see the initial map is here https://github.com/primefaces/primefaces

[2022-03-19 14:23] pfumi commented on #8582
Could be solved this way
[code]

[2022-03-19 14:29] melloware commented on #8583
Agreed want to submit a PR?

[2022-03-19 14:30] melloware commented on #8582
Yep your second one is more specific so it's much better

[2022-03-19 14:33] pfumi commented on #8583
I have not the time right now, I can provide a PR probably in the coming days.
Feel free to fix it if you want :)

[2022-03-19 14:57] melloware commented on #8583
I will take care of it!

[2022-03-19 21:52] melloware commented on #8582
I assigned @mertsincan to review in case he wants to update the themes as well.

[2022-03-19 22:23] #8583 closed, assigned to melloware

[2022-03-20 07:14] fcorneli opened #8586 "Galleria: Zoom"
A zoom functionality for the `p:galleria` component as part of PrimeFaces would be nice.

We developed such `galleriaZoom` component based on:

https://github.com/francoischalifour/medium-zoom

Example usage:
[code]
In `taglib.xml` we have:
[code]

The component source code:
[code]

The renderer source code:
[code]

And the corresponding `galleria-zoom.js` Javascript source code:
[code]

[2022-03-20 12:19] pfumi commented on #8583
I think we have to do more, the map from `table.getSortByAsMap()` returns allready the columns not in there real order.
I see two options
Sort the SortMeta values in `getSortableColumnHeaders`, see my commits here
https://github.com/pfumi/primefaces/commit/b247b0b5e075af015b9b003c9d5c9297b6c6cb22
https://github.com/pfumi/primefaces/commit/07c291ab7fd80e2cbe2138a5ffcbd59395fc11b7
OR
Use also a `Lin

[2022-03-20 12:26] melloware commented on #8586
@fcorneli you can do this a lot easier without another component!

1. Add the medium-zoom to your page with :
[code]
Or use Omnifaces CDNResourceHandler: https://showcase.omnifaces.org/resourcehandlers/CDNResourceHandler

2. MonkeyPatch the Galleria widget with this...

[code]

[2022-03-20 12:32] melloware commented on #8583
PR submitted going to let the automation tests run.

[2022-03-20 12:42] pfumi commented on #8583
Perfect, thanks for your fast respond 👍

[2022-03-20 13:00] melloware opened #8589 "Tech Debt: Shading Commons IO"
**Description**
We originally shaded Commons IO classes so that way as Apache released new versions we would automatically get the bug fixes.

However because of major changes in the library new versions require us to shade more and more code to make it work so we have frozen our version in the pom.xml at 2.4.  Well if we are going to freeze the version there is no point in shading it anymore we s

[2022-03-20 15:40] fcorneli commented on #8586
Thanks for the feedback @melloware.
The thing is that I don't want to activate the zooming on every instance of the Galleria component within our web app.

[2022-03-20 17:30] tandraschko commented on #8589
your first statement isnt completely true -> in general we shade to avoid dependencies for the user or copy classes

[2022-03-20 18:42] rider87 commented on #8444
I don´t like it to replace "global"... It´s active for years and many people are using it.
In my app I have many many pages which uses "global".

[2022-03-20 18:45] melloware commented on #8586
Maybe we could combine it with this: https://github.com/primefaces/primefaces/issues/61

Possibly using this component: https://fengyuanchen.github.io/viewerjs/

[2022-03-20 20:10] tandraschko commented on #8444
Sorry but thats not a reason. We always need to rethink old patterns and always do, therefore we have a migration guide.

[2022-03-21 08:40] jepsar commented on #8444
If we don't want to change `p:ajax`, `p:ajaxStatus` might be an option. See https://github.com/primefaces/primefaces/pull/8302#issuecomment-1019991491

[2022-03-21 08:52] rider87 commented on #8444
As I said, I don´t like this, and I can understand that many people will not migrate to newer PF version, if they had to adjust so many things before...
`global="false" / global="true"` is on so many components.

I just did a count on one of my big projects:

Searched for  global="false" / global="true"
3.541 entries = global="false"
2.279 entries = global="true"
**= 5.820 entries in total**

If t

[2022-03-21 09:30] tandraschko commented on #8444
I think we have to clarify some questions before finding a technical correct and good usable option.
So you will also unterstand the difference between `blocking` and `loading indicator` (especially to clarify your doubts @mertsincan)

1) A `inline` `ajaxStatus` is just some additional loading indicator like the PR for autoComplete and commandButton - they just switch e.g. the icon or display a ne

[2022-03-21 09:42] jepsar commented on #8444
1. I'm okay with a fixed behavior there. We could add a `ajaxStatusIcon` attribute which defaults to spinner, and might even disable the option if you would pass `null` or `"none"`. If we won't add that attribute, also fine with me as it can be done using CSS (see https://github.com/primefaces/primefaces/pull/8302#discussion_r805297664)
2. I'm okay with a fixed behavior there as well. Disabling tr

[2022-03-21 18:48] melloware commented on #8589
Agreed.  But for this one I think its time to unshade it and just copy and hide the classes.

[2022-03-21 19:02] tandraschko commented on #8589
As long we dont need a special fix, -1

[2022-03-22 13:41] tandraschko commented on #8589
i think even our current setup is broken in some cases
I will upgrade it now and in general we only need FilenameUtils to shade and this dependencies. I dont like to copy it, we would loose dependency-bot and we would also need to copy tests

I will also leave BoundedInputStream for now as it doesnt use any other class

[2022-03-22 13:44] #8589 closed, assigned to tandraschko

[2022-03-22 13:53] melloware commented on #8589
Yep I was going to say While researching this we have a bug anyway.  It looks like we are using `import org.apache.commons.io.FileCleaningTracker;` in FileUploadFilter.java but not shading it.

[2022-03-22 13:54] tandraschko commented on #8589
thats ok as you need to add commons-fileupload, which has a dependency to commons-io

[2022-03-22 13:59] melloware commented on #8589
Ahhh that makes sense!

[2022-03-22 18:59] melloware opened #8595 "Tech Debt: YUI Compressor to Resource Optimizer plugin"
**Description**
YUI Compressor is dead and its not coming back from the dead.  Last commit on Github 3 years ago: https://github.com/yui/yuicompressor

Maven Plugin also not released in 3 years Archived/ReadOnly: https://github.com/davidB/yuicompressor-maven-plugin/issues/99

Resource Optimizer; https://github.com/primefaces-extensions/primefaces-extensions.github.com/wiki/Maven-plugin-for-web-res

[2022-03-22 21:28] hink084 opened #8597 "DataExporter ExcelOptions are not applied"
The ExcelOptions are not applied to the XLSX spreadsheet when utilizing the DataExporter component.

This can also be seen in the PrimeFaces ShowCase example: https://www.primefaces.org/showcase/ui/data/dataexporter/customizedDocuments.xhtml

**Reproducer**
primefaces-test.zip

**Environment:**
 - PF Version: 11.0.0
 - JSF: Mojarra 2.2.20
 - Affected browsers: ALL

**To Reproduce**
Steps to reprod

[2022-03-23 12:39] melloware commented on #8597
OK found and fixed the issue.  It was a POI change.  Somewhere along the lines POI changed from returning NULL to returning the default Font/Cellstyle

[code]

[2022-03-23 14:59] #8597 closed, assigned to melloware

[2022-03-24 06:59] xmalyp1 commented on #8317
Hello, is there any workaround to fix this? This happens to me even when I do not have the menuitem inside a composite component.

[2022-03-24 11:32] melloware commented on #8317
@xmalyp1 and you sure your Menu is actually inside a FORM?  can you post your code or a reproducer?

[2022-03-24 12:39] melloware commented on #8586
@fcorneli how about a PF Extensions component but instead of `<p:galleriaZoom for="galleria"/>` just `<p:mediaZoom for="galleria"/>` and then we could even point it at regular `p:graphicImage` etc? Thoughts?

[2022-03-24 20:41] melloware commented on #61
New Component in PrimeFaces Extensions can be used against `GraphicImage` or `Galleria`.

See: https://github.com/primefaces-extensions/primefaces-extensions/issues/461

And you can use it with `GraphicImage` like this...

[code]

or with `Galleria` like this...

[code]

[2022-03-24 20:41] #61 closed, assigned to nobody

[2022-03-24 20:41] melloware commented on #8586
New Component in PrimeFaces Extensions can be used against `GraphicImage` or `Galleria`.

See: https://github.com/primefaces-extensions/primefaces-extensions/issues/461

And you can use it with `GraphicImage` like this...

[code]

or with `Galleria` like this...

[code]

[2022-03-24 20:41] #8586 closed, assigned to nobody

[2022-03-24 20:46] melloware commented on #8586
Here is what I came up with in my widget to make it work for both...

[code]

[2022-03-25 15:26] FlipWarthog commented on #8581
@arditsaliji Can you give a little more information about which JSF implementation you're using? I noticed you listed "JSF + version: any" but I am not able to see the same behavior you're describing. I am, however, seeing different invalid behavior in both MyFaces and Mojarra running the primefaces-test reproducer.

@melloware in case you have any input, what I'm seeing is `updateSelection` in `U

[2022-03-25 15:44] melloware commented on #8581
Can you attach your reproducer ZIP file without the `target` directory in it please?

[2022-03-25 15:56] FlipWarthog commented on #8581
It's currently configured to use 12.0.0-SNAPSHOT rather than 11.0.0 release.
[primefaces-test-8581.zip](https://github.com/primefaces/primefaces/files/8352036/primefaces-test-8581.zip)

[2022-03-25 18:07] lagar84 commented on #8581
Is this maybe related to #3812 ?

[2022-03-25 18:17] FlipWarthog commented on #8581
@lagar84 I think you're absolutely right. Rapster even mentioned that the issue existed with Tree at the time. I'll do a dive through that chain and the workaround mentioned in light of this ticket and see what I come up with. Thanks!

[2022-03-26 16:51] FlipWarthog commented on #8581
Okay, after realizing I had the wrong ViewScoped on my bean and correcting that, I was able to reference #3812 and can confirm that the following does work:
[code]

cc @melloware in case there's more digging to do.

[2022-03-26 17:23] melloware commented on #8581
Marking the ticket as workaround and closing it as the same reason PrimeTek gave before...

From PrimeTek: _"We cannot use such repeating components with *:repeat. This requires massive changes in components. That's why JSTL forEach is the ideal solution for this kind of work"_

[2022-03-26 17:23] #8581 closed, assigned to nobody

[2022-03-28 20:24] hink084 commented on #8597
I apologize for the delayed response as I went on vacation right after I created this issue. I tested your changes with the submitted example project and can confirm they resolve the issue.  Thanks for all your work on this project!

[2022-03-29 06:22] arunvc opened #8603 "Barcode: SVG not rendered correctly under Firefox"
Showcase Barcode not displayed properly in ubuntu 20 firefox 98, woks fine in chrome

![image](https://user-images.githubusercontent.com/9069988/160546479-c107a9a2-0c7f-491c-a5f0-0c7558b31ab4.png)

(https://www.primefaces.org/showcase/ui/multimedia/barcode.xhtml?jfwid=a2e0e)

[2022-03-29 06:50] marw1tt commented on #8406
Hi there, are here any new to this problem?

[2022-03-29 08:47] tandraschko commented on #8520
as discussed in the PR, please provide a new PR when you have time.

We should have 4 possible modes:

- CSP off (CSP=false)
- CSP on (CSP=true)
- CSP on with reporting (CSP=true, CSP_POLICY="report-uri /csp-violation-report-endpoint/")
- CSP off but reporting only

so the 4) is the only new mode now
and i think CSP="reportOnly" and CSP_REPORT_ONLY_POLICY="report-uri /csp-violation-report-endpoint

[2022-03-29 08:52] brivalin commented on #8210
I'm facing this issue in my project, and would like to know if the commit will be added in Elite patches ?

[2022-03-29 09:19] tandraschko commented on #8210
Please read: https://github.com/primefaces/primefaces/blob/master/README.md#community--elite--pro

[2022-03-29 09:35] #8595 closed, assigned to melloware

[2022-03-29 15:34] tandraschko commented on #8406
nope, but i added a integration test for you now, so you can work on a PR to fix this issue

you can run it via `mvn verify -Pintegration-tests,parallel-execution,mojarra-2.3 -Dit.test=DataTable035Test` after removing the `@Disabled`

[2022-03-29 16:47] melloware commented on #8603
Its because of this issue: http://barcode4j.sourceforge.net/changes.html#version_2.1

You can fix it by adding this to your pom.xml

[code]

then change your dependency to this:

[code]

cc @FlipWarthog as this came up on Discord forums as well.

[2022-03-29 16:50] melloware commented on #8603
You can also use this GitHub fork which is on 2.3 but its not in Maven Central.

https://github.com/metanorma/barcode4j/packages/169266

[2022-03-29 17:23] #8603 closed, assigned to melloware

[2022-03-29 18:40] tandraschko commented on #8603
should we look for another dependency?

[2022-03-29 18:42] melloware commented on #8603
probably or I thought about publishing the latest one with all the bugfixes under PFE or my Melloware Maven Central account.  Thoughts?  Seems like this library is pretty specific and does what it does well just had 1 or two bugs in it that have been fixed.

[2022-03-29 18:47] melloware commented on #8603
Or switching to `zxing` according to this article: https://www.baeldung.com/java-generating-barcodes-qr-codes

[2022-03-30 12:55] djmj opened #8609 "Gmap: Marker allow label styling to use FA / prime icons"
With javascript we can do something like this which gives great flexibility to render icons.

	 	 var label = marker.getLabel();
	 	 label.fontFamily = 'Fontawesome';
		 label.fontSize = '1.4em';
		 label.fontWeight = 'normal';

It would be great if this "label" is accessible from the java _Marker_ class.

[2022-03-30 13:10] tandraschko opened #8610 "InputNumber: onblur triggers internally onchange, also without changing the input"
- focus val2
- change the value, focus val1 via shift-tab
- val2 will send a AJAX request and update `@form` (thats all correct!)
- now val1 already has the focus
- leave focus of val1
- val1 sends AJAX request - but the value hasn been changed; trigger is autonumeric.js ln 6004

[code]

[code]

[2022-03-30 13:29] melloware commented on #8609
Please review the PR.

[2022-03-30 13:38] melloware commented on #8610
So should we fix the core component here to make it smarter?

[code]

[2022-03-30 13:45] melloware commented on #8609
Doesn't this also fix your other issue: https://github.com/primefaces/primefaces/issues/8579 because you can now set `getMarker().setText("primefaces");` to set the label.

[2022-03-30 14:09] tandraschko commented on #8610
Thats the question!
Currently it seems that this bug only ocurs when updating the widget
so maybe we also can just somehow init/refresh the autonumeric state

or we switch back to update the hiddenInput via onchange and check old<>newValue in this listener, before even throw a onchange to the visible input
But it think using keypress to copy the value was by design

[2022-03-30 14:21] melloware commented on #8610
ok let me look and see if I we can do something without touching AutoNumeric like initialize that rawValueOnFocus on refresh.

[2022-03-30 15:23] #8609 closed, assigned to melloware

[2022-03-30 17:45] melloware commented on #8610
I submitted AutoNumeric PR: https://github.com/autoNumeric/autoNumeric/pull/735

But I am looking for a fix we can do in just PF code for now.

[2022-03-30 18:47] melloware commented on #8610
I had made a similar fix in the past in PF: https://github.com/primefaces/primefaces/issues/6940

[2022-03-30 21:23] hink084 opened #8614 "DataTable: Not displayed when utilizing Reflow"
**Description:**
DataTables with "reflow=true" are not shown when nested within an element that contains "style=display: none;".   When attempting to show the hidden element, the style attribute on the DataTable is set to: _**null;visibility:hidden;**_

@melloware, I believe this bug was introduced while attempting to resolve Issue: #7050, #7038 with Commit: 52071270f5f710b0add34fdd4748ac1174b66a4

[2022-03-31 05:42] seinecle opened #8615 "DataTable: filter not working when using custom converter"
**Describe the defect**
Filtering on dataTable returns zero values when using a custom converter

**Reproducer**
The dataTable displays the items correctly, as modified by the converter. However when I select any value from the dropdown menu in the filter, the table is blank (no result returned).

The dataTable:

<p:dataTable
    id ="resultsTable"
    var="item"
    value="#{umigonBean.results}"

[2022-03-31 06:33] tandraschko commented on #8615
Please provide a primefaces-test reproducer

Please follow the issue template or provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-03-31 07:21] #8610 closed, assigned to melloware

[2022-03-31 07:28] tandraschko commented on #8610
Looks good, thank you!

[2022-03-31 10:08] deichhuhn opened #8616 "AutoComplete: "clear"-eventlistener is called twice when forceSelection="true""
**Describe the defect**
The eventlistener for the "clear" event is called twice when removing the text from an autocomplete field if the "forceSelection" attribute is set to "true". The first call is is performed directly after the input field is cleared and the second call is performed when the user leaves the input field (blur- event).

**Environment:**
 - PF Version: _11.0.0_
 - PF Theme: _Ulti

[2022-03-31 11:45] olexd opened #8617 "DataExporter: Doesn't work with monitor status"
**Describe the defect**
In the documentation of the DataExporter component (section [Monitor Status](https://github.com/primefaces/primefaces/blob/master/docs/10_0_0/components/dataexporter.md#monitor-status)) is indicated:
DataExport is a non-ajax process so ajaxStatus component cannot apply. See FileDownload Monitor Status section to find out how monitor export process. **Same solution applies t

[2022-03-31 11:55] tandraschko commented on #8617
the code looks already good in trunk

please also see https://github.com/primefaces/primefaces#community--elite--pro

[2022-03-31 11:55] #8617 closed, assigned to nobody

[2022-03-31 11:58] melloware commented on #8617
Yes please try 11.0.0 it looks like it is already fixed.

[2022-03-31 12:12] olexd commented on #8617
Nice to hear it! Unfortunately using of 11 version is not an option in our project at the moment. We plan to migrate in some of the future releases, but still have to use 10.x. Is it planned to transfer the correct solution to 10 too?

[2022-03-31 12:15] tandraschko commented on #8617
we dont know; please see my link

[2022-03-31 12:20] melloware commented on #8614
Workaround attached:
[pf-8614.zip](https://github.com/primefaces/primefaces/files/8389165/pf-8614.zip)

Just do this ` onclick="PF('tblReflow').jq.css('visibility', 'visible');$('#section').show();"`

However @tandraschko I think there is a bigger issue here I don't quite get. The Datatable `_render` method is NEVER called so there is actually a bigger bug here than just this.   Basially nothing i

[2022-03-31 12:28] melloware commented on #8616
I see you have a `select` event above not `clear` event?    Do you mean the select event is called twice?

[2022-03-31 15:39] deichhuhn commented on #8616
Hi,
sorry my fault.
I mean the 'clear' event but copied the wrong source snippet :(
I have updated the ticket.

[2022-03-31 16:29] djmj commented on #8609
Much thanks for your quick reply. We hope to check this next week and will also check if it works for #8579

[2022-03-31 18:27] melloware commented on #8616
Perfect let me investigate.

[2022-03-31 19:09] melloware commented on #8616
Verified:
[pf-8616.zip](https://github.com/primefaces/primefaces/files/8392434/pf-8616.zip)

[2022-03-31 19:11] melloware commented on #8609
Yes definitely let me know!

[2022-04-01 07:08] tandraschko opened #8618 "DataTable: should not load data when visiting component with SKIP_ITERATION"

[2022-04-01 07:20] hink084 commented on #8614
I've created another reproducer to highlight the bigger issue @melloware mentions above and to better show what I describe below.

**Reproducer 2**
[pf-8614-test-2.zip](https://github.com/primefaces/primefaces/files/8395469/pf-8614-test-2.zip)

It appears that the PrimeFaces `renderDeferred()` function within `core.widget.js` will only defer rendering for components that are wrapped with an elemen

[2022-04-01 07:21] #8618 closed, assigned to tandraschko

[2022-04-01 07:24] Teutron-flo opened #8619 "Slider: Issues with Step configuration (calculation)"
**Describe the defect**
As I already wrote in the forum (https://forum.primefaces.org/viewtopic.php?f=3&t=71799)
I think there is a little bug in the step configuration or calculation of the slider element.

For my point of view the calculation of the steps is done based on the min value instead of zero base.
If you have a min value of 800 the next step is 1300 (800+500), I would expect 1000 (0 +

[2022-04-01 07:24] Teutron-flo commented on #8619
[primefaces-test-master.zip](https://github.com/primefaces/primefaces/files/8395535/primefaces-test-master.zip)

[2022-04-01 11:47] ihsanyapicioglu opened #8620 "Datatable: Selection does not work correctly when frozen rows are being used"
**Describe the defect**
When frozen rows are being used in the datatable, radio / checkbox become unselectable in selection mode.

**Reproducer**
Reproducer has been attached as ZIP file.

[primefaces-frozen.zip](https://github.com/primefaces/primefaces/files/8397342/primefaces-frozen.zip)

**Environment:**
 - PF Version: 11.0.1 Jakarta
 - PF Theme: _e.g. Saga, Arya, etc_
 - JSF + version: Jakarta

[2022-04-01 12:32] #8620 closed, assigned to ihsanyapicioglu

[2022-04-01 12:33] ihsanyapicioglu commented on #8620
fixed for 11.0.3

[2022-04-01 12:35] melloware commented on #8619
OK I added code to test.js of your reproducer to MonkeyPatch the JQUERY UI Slider function.  Its not perfect it needs a little more work if you don't mind debugging.  Like I have it rounding to nearest 500 now but its quirky and still stops at 14800.

Can you mess with it and see if you can get it working properly?
[pf-8619.zip](https://github.com/primefaces/primefaces/files/8397617/pf-8619.zip)

[2022-04-01 12:37] melloware commented on #8620
I tagged and labeled it for 11.0.3 and 12.0.0.

[2022-04-01 12:53] melloware commented on #8614
Excellent summary. I am wondering if we can do something clever like if you added on your DIV a class like `ui-deferred`.

Then in our code code we could add something along these lines of subsribe all `ui-deferred` elements like...

[code]

Something like that.  Long discussion on Stack Oveflow how to subscribe to the "show" event https://stackoverflow.com/questions/1225102/jquery-event-to-trigge

[2022-04-01 16:30] melloware commented on #8615
Going to close for now.  Will re-open if OP provides a reproducer.

[2022-04-01 16:30] #8615 closed, assigned to nobody

[2022-04-01 17:01] melloware commented on #8619
OK I think I got it all working can you replace whats in test.js file with this and do some testing...

[code]

[2022-04-01 17:27] hink084 commented on #8614
I believe something like that would work as long-term solution.  I know components like the `p:confirmDialog` have use cases where a CSS class must be explicitly defined. If that solution were to be added, I wonder how that feature would be documented to the developer since it's not tied to a specific component.

I was attempting to think of other ways to solve this issue and pondered if it were p

[2022-04-01 17:33] melloware commented on #8614
I can't believe this hasn't come up before either but I think its because most people are not loading their components to the page with `display:none`....they are doing an `update="section"` on the DIV around the table and basically letting AJAX load it lazily when you click the Show button.  You are preloading yours into the DOM only to then try and show it.  so my guess its not a common use case

[2022-04-01 17:38] hink084 commented on #8614
That might just be the answer then...."don't preload it" haha.

[2022-04-01 19:14] Teutron-flo commented on #8619
Thanks for the fix. I will take a look into it on Monday. Over the Weekend i have no time for it, sorry.

[2022-04-01 20:00] melloware commented on #8614
I think I will close this for now as its an uncommon use case, we have multiple workarounds and the solution to really solve it would be a little messy and obscure for developers to find.

[2022-04-01 20:00] #8614 closed, assigned to nobody

[2022-04-03 15:09] #7072 closed, assigned to melloware

[2022-04-03 15:09] #8443 closed, assigned to rabiter

[2022-04-04 09:45] bobsbrain opened #8625 "InputTextArea: Various ajax events mentioned in the documentation aren't supported"
When adding an ajax event to an InputTextArea component, various events mentioned in the documentation return following error.
`<p:ajax> Event:input is not supported.`
The site stays white.

**To Reproduce**
Add an ajax event to an InputTextArea.
Currently non supported events which are mentioned in the [documentation](https://primefaces.github.io/primefaces/11_0_0/#/components/inputtextarea?id=aj

[2022-04-04 12:12] #8625 closed, assigned to tandraschko

[2022-04-04 13:13] tomspindola opened #8627 "Inputmask: dir="RTL" doesn't work"
When using InputMask in primefaces 10.0.0 (jakarta) with dir="RTL" the characters are entered in reverse order.
If the attribute value is used, the characters are displayed from end to begin.
As comparison, the behavior of the same attribute when using InputText is correct.

**Environment:**
 - PF Version: _10.0.0
 - Affected browsers: Chrome, FireFox, etc

**To Reproduce**
Add the attribute dir="

[2022-04-04 13:18] melloware commented on #8627
Its an open issue in the plugin. Please go upvote that issue: https://github.com/RobinHerbots/Inputmask/issues/956

[2022-04-05 09:32] Teutron-flo commented on #8619
@melloware, I'm right now on it to perform a couple of tests.
During that, I notice that you fix with it, also an issue in the showcase.

https://www.primefaces.org/showcase/ui/input/slider.xhtml

InputText Slider with Decimal Value -> Range defined from 0.2 -> 7.1
In the showcase application 7.1 is not reachable.

I added it to pf-8619 and it works:
![image](https://user-images.githubusercontent.

[2022-04-05 11:25] Teutron-flo commented on #8619
@melloware, I found a mismatch now between Slider / Spinner.

[code]

The Spinner still works like 800 / 1300 / 1800 / ... / 14 800 but is then able to switch to 15000.
But backwards the behavior for the Spinner is 15000 / 14500 / 1400 / ... / 1000 / 800.

One additional thing, I have seen (also in the Showcase), that the Spinner doesn't update the Slider position.
Like it is when you enter in som

[2022-04-05 11:27] Teutron-flo commented on #8619
[pf-8619-test.zip](https://github.com/primefaces/primefaces/files/8417654/pf-8619-test.zip)

[2022-04-05 12:42] melloware commented on #8619
You should open a new ticket about Spinner

[2022-04-05 14:19] Teutron-flo opened #8630 "Spinner / Slider: Values are not synchronized"
**Describe the defect**
Currently when you change the value of a input field with a spinner, the corresponding slider position is not updated.
The same behavior is already in the showcase visible:
https://www.primefaces.org/showcase/ui/input/slider.xhtml

But direct changes in the input field are reflected by the slider.

**Reproducer**
Reproducer is attached to the ticket, code sniped:
[code]
**E

[2022-04-05 14:25] Teutron-flo commented on #8630
[pf-8630-Reproducer.zip](https://github.com/primefaces/primefaces/files/8419003/pf-8630-Reproducer.zip)

[2022-04-05 14:30] melloware commented on #8630
Relates to: https://github.com/primefaces/primefaces/issues/8298

[2022-04-05 14:36] Teutron-flo opened #8631 "Spinner: Issues with Step calculation"
**Describe the defect**
In Issue https://github.com/primefaces/primefaces/issues/8619, I descprided and issue with the Slider Step calculation.
For the Spinner is a simliar behavior in place:

[code]

If you start with 800 and go up, the steps are the following:
800 / 1300 / 1800 / 2300 / ... / 14800 / 15000

If you go down from 15000 you have the following sequence:
15000 / 14500 / 14000 / ... /

[2022-04-05 14:37] Teutron-flo commented on #8631
[pf-8630-Reproducer.zip](https://github.com/primefaces/primefaces/files/8419124/pf-8630-Reproducer.zip)

[2022-04-05 15:00] melloware commented on #8631
MonkeyPatch:

[code]

[2022-04-05 19:59] melloware commented on #8298
@jepsar my PR attached to this ticket seems to fix this issue along  with #8630 .  I can't get the error above to happen anymore.

[2022-04-05 20:36] tarwork opened #8636 "DataTable : using the reflow="true" attribute adds the first column's header text to the beginning of the contents of an expansion row"
----------------------------------------------------
----------------------------------------------------
# Before creating a issue, please carefully read: https://github.com/primefaces/primefaces/blob/master/README.md#community--elite--pro
----------------------------------------------------
----------------------------------------------------

**Describe the defect**
When using a p:datatable wit

[2022-04-06 04:50] #8541 closed, assigned to mertsincan

[2022-04-06 09:33] #8501 closed, assigned to mertsincan

[2022-04-06 12:21] #8429 closed, assigned to mertsincan

[2022-04-06 12:44] #8298 closed, assigned to melloware

[2022-04-06 12:44] #8630 closed, assigned to melloware

[2022-04-06 16:54] melloware commented on #8636
confirmed this issue.  looking into it.

[2022-04-06 18:37] melloware commented on #8636
OK add this CSS to your page:

[code]

[2022-04-06 18:42] #8636 closed, assigned to melloware

[2022-04-06 18:48] tarwork commented on #8636
work around confirmed. thank you!

[2022-04-06 19:03] melloware commented on #8636
No problem thanks for the report!

[2022-04-06 20:38] #8337 closed, assigned to mertsincan

[2022-04-06 20:53] mertsincan commented on #8337
Hi @jepsar,

I have added the necessary styles related to the theme. For a behavior like Primevue, it is necessary to make changes in the core. Even with this change, the theme will add proper styles.

[2022-04-06 20:56] mertsincan commented on #8313
This issue is related to the demo. Fixed in https://github.com/primefaces/primefaces/commit/36207603ef9066ea30a73c996de0085109203209

[2022-04-06 20:56] #8313 closed, assigned to nobody

[2022-04-06 21:08] mertsincan commented on #8265
This issue is not related to a theme. @melloware, could you please check it? It might work fine in PrimeReact.

[2022-04-06 21:09] melloware commented on #8265
Yep I will check this.

[2022-04-06 21:23] #8251 closed, assigned to mertsincan

[2022-04-06 22:03] #8231 closed, assigned to jepsar, mertsincan

[2022-04-06 23:12] #8215 closed, assigned to mertsincan

[2022-04-06 23:18] melloware commented on #8225
Will close until I hear back from OP

[2022-04-06 23:24] #8146 closed, assigned to mertsincan

[2022-04-06 23:26] mertsincan commented on #8146
Hi,
The box-shadow/outline is required to show keyboard support. But, I made some minor fixes. Please check our Prime* library. Exp;
https://www.primefaces.org/primereact/tabview/

[2022-04-06 23:47] mertsincan commented on #7901
I don't think there is a theme issue at this stage. First of all, an infrastructure should be prepared for this in the core.
Also, other icon libraries should be examined and tested with :before features.

[2022-04-06 23:58] mertsincan commented on #8054
Hi @djmj,

Yes, I think a study can be done on this subject. We would be grateful if you could send a PR about it. Also, please see PrimeReact example;
https://www.primefaces.org/primereact/multiselect/

_Note: If I had a chance, I would remove the label attribute :D it's so confusing_

[2022-04-07 00:03] mertsincan commented on #7375
For now, InputNumber component in PrimeReact needs to prove itself a little more.

[2022-04-07 00:13] mertsincan commented on #7011
This is slightly different from PrimeReact. The structure of PrimeFaces is not very suitable for this and some tricks are needed. Please check ultima-jsf example;
https://www.primefaces.org/ultima/floatlabel.xhtml
Is it Ok for you?

floatlabel.xhtml;
[code]

[2022-04-07 00:50] mertsincan commented on #8069
It is very difficult to do this feature automatically with this structure. You can try to do this with custom css. In the future, separating the filter and header fields as in PrimeReact will solve such problems.
https://www.primefaces.org/primereact/datatable/filter/

Best Regards,

[2022-04-07 06:40] jepsar commented on #8337
Hi @mertsincan,

That's why I've created this PR https://github.com/primefaces/primefaces/pull/8350

[2022-04-07 09:01] rds76 commented on #8225
There is no any visible error. I just think that code design is wrong here.
Please check this line: https://github.com/primefaces/primefaces/blob/db6cd0a54ae911f452d2ca41a92f3736373c57da/primefaces/src/main/resources/META-INF/resources/primefaces/tooltip/tooltip.js#L500
I think it is never executed for global tooltip as target is already null (from line: 175), but maybe I'm wrong.
I found that bug

[2022-04-07 09:15] ozziej opened #8639 "DataTable: log warning when paginator=true i used with rows=0"
**Describe the defect**
When using a lazy loaded table, with a lazy data mode and pagination if you do not add the **rows="10"** to the dataTable declaration, it will not show ANY data. (the value of the number of rows must ALWAYS be greater than 0) This is a problem, because the DEFAULT behaviour / value is 0, and this will cause there NOT to be any data displayed, and no error is produced.

**En

[2022-04-07 09:16] josemanuelmartinezsoler opened #8640 "Menubar: Bad casting from a component."
**Describe the defect**
A clear and concise description of what the defect is.

**Environment:**
 - PF Version: 11.0.0_
 - JSF + version: 2.2
 - Affected browsers: ALL

When I call my Model from my bean in my xhtml there should be no problem and get the interface but it gets the DefaultMenuModel and it said it cannot be converted.

**How I call the menubar**
[code]

**My Bean**
[code]
This is the

[2022-04-07 09:27] tandraschko commented on #8639
If we change this, a non-lazy DT would not Show all rows anymore per Default?

[2022-04-07 09:31] tandraschko commented on #8639
If this issue is still reproduceable, i think we should just log a warning that paginator requires rows to be set

[2022-04-07 09:57] ozziej commented on #8639
Thats why I suggested only changing the default behaviour of lazy loaded tables...
But, yes, perhaps an easier solution would be the warning... Ill leave it up to you.

[2022-04-07 10:05] ozziej commented on #8639
Actually thinking about it, I think the warning is better. Rather just always show a warning about the rows attribute being required if pagination is enabled. (paginator="true")

[2022-04-07 12:19] melloware commented on #8640
Fixed in 12.0.0. Duplicate of: https://github.com/primefaces/primefaces/issues/7072

[2022-04-07 12:19] #8640 closed, assigned to melloware

[2022-04-07 12:44] josemanuelmartinezsoler commented on #8640
Im not setting the ID of the menu so its not the same fix.

[2022-04-07 13:05] melloware commented on #8640
Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

I can then test if your issue is fixed by the 12.0.0 fix as well.

[2022-04-07 13:09] melloware commented on #7011
@willbigas can you try Merts suggeston above and see if it meets your needs?

[2022-04-07 14:12] #8631 closed, assigned to melloware

[2022-04-07 14:48] melloware commented on #8225
You are right.  PR Submitted.

[2022-04-07 20:25] #8225 closed, assigned to melloware

[2022-04-07 20:26] #8619 closed, assigned to melloware

[2022-04-07 20:56] #8582 closed, assigned to melloware

[2022-04-07 22:04] #7962 closed, assigned to nobody

[2022-04-08 04:01] mertsincan commented on #8444
1. OK for me.
2. Maybe we can ask the community for feedback on this issue. @jepsar could you please create a ticket in Github Discussions tab? And then, can you share its link on PrimeFaces Discord channel? Hearing some feedback can help us make changes more easily.

My personal opinion is that in components such as dataTable, users use blockUI component and manage it themselves. This will always

[2022-04-08 06:23] rds76 commented on #8226
global tooltip is not proper here, I need to use same description (html) for multiple page button, so repeating same text in `title` for each element unnecessarily enlarge source code so single tooltip is better here

[2022-04-08 09:50] tandraschko commented on #8639
added a default value now, was a bit easier

[2022-04-08 10:36] tandraschko commented on #8639
Tests are failing, will replace it with a logging later

[2022-04-08 12:44] melloware commented on #8226
OK a PR would be welcome!

[2022-04-08 16:48] #8491 closed, assigned to irieill

[2022-04-08 17:09] melloware commented on #8579
Marked as needs investigation as waiting to hear back from @djmj

[2022-04-08 17:16] melloware commented on #8639
I reverted it for now to get tests to pass.

[2022-04-08 17:32] jepsar commented on #8444
@mertsincan Okay, I can open a discussion, but what should the question be? Whether or not we should have the `disableOnAjax` attribute on components like `p:commandButton` and `p:commandLink`? Or whether to include Ajax disabling on more complex components like `p:dataTable`?

[2022-04-08 17:55] #8339 closed, assigned to jepsar

[2022-04-08 17:58] #8226 closed, assigned to rds76

[2022-04-08 18:08] jepsar opened #8649 "Tree: Selected nodes are not styled"
#8337 took care of focussed state, but not yet of selected state. See:

<img width="433" alt="Screenshot 2022-04-08 at 19 58 38" src="https://user-images.githubusercontent.com/7500178/162496405-3ff4bd81-ffd1-4462-978c-6701b0f942f2.png">

I would have expected a light blue background on selected nodes.

[2022-04-08 18:20] jepsar opened #8650 "Tree: Selected ui-tree-nodes are not always classed correctly"
PF 11 and 12

Selected `ui-tree-node` with `selectionMode="checkbox"` has the class `ui-treenode-selected` which is correct:

<img width="755" alt="Screenshot 2022-04-08 at 20 12 05" src="https://user-images.githubusercontent.com/7500178/162498371-f330bf6e-a2ce-47a7-9e42-1ab219e2bd1b.png">

with `selectionMode="single"` or `multiple`, selected nodes are classed `ui-treenode-unselected` which is wr

[2022-04-08 22:26] newk5 opened #8652 "Schedule: BackgroundColor/styleClass/borderColor disappears when event lasts more than 1 day"
**Describe the defect**
When creating a DefaultScheduleEvent, if you set a custom color using .backgroundColor() or .borderColor() or even setting a custom style class with .styleClass(), that will be ignored if the event lasts more than 1 day.

**Reproducer**
The primefaces showcase can be used as a reproducer.

**Environment:**
 - PF Version: _11.0.0_
 - PF Theme:  ANY
 - JSF + version: ANY
 - A

[2022-04-09 09:19] jepsar commented on #7901
@mertsincan did you see https://github.com/primefaces/primefaces/pull/8322? Isn't that the preparation you are talking about?

[2022-04-09 12:00] melloware commented on #8652
I think this might be happening in FullCalendar.io.   When I watch the DOM when you switch from single day to a multiday even fullCalendar generates a completely different DOM for the event.

[2022-04-09 12:06] melloware commented on #8652
I think we might have to mark this wont fix.  It seems the native FullCalendar this is the expected behavior see their demo for v 5.11 here: https://fullcalendar.io/docs/month-view-demo

It does the same thing so its a "feature" of FullCalendar.

[2022-04-09 12:08] melloware commented on #8652
Also see this about background color: https://github.com/primefaces/primefaces/issues/8193  Also expected behavior

[2022-04-09 13:44] krishnakittu opened #8657 "FileUpload: FileUpload not working with onAdd javascript callback"
**Describe the defect**
When we register onAdd callback for the FileUpload component its not uploading the file to server

**Reproducer**

Xhtml atttached.

**Environment:**
 - PF Version: _11.0.0_
 - PF Theme: _e.g. Saga, Arya, etc_
 - JSF + version: _e.g.  jakarta.faces 2.3.9
 - Affected browsers: _e.g.EDGE

**To Reproduce**
Provided below

**Expected behavior**
it should work irrespective of on

[2022-04-09 14:16] melloware commented on #8657
I think we need to update our documentation.  `onAdd` has 3 params `this, file, callback`.

Running example:
[pf-8657.zip](https://github.com/primefaces/primefaces/files/8457084/pf-8657.zip)

THis gives you the opporunity to inspect the `file` and if you decide its OK to add you call `callback`.

For example:
[code]

You could do something like only add files named primefaces.pdf for example.

[co

[2022-04-09 14:34] krishnakittu commented on #8657
Thanks , Got the concept. Working for me

[2022-04-09 15:10] melloware commented on #8657
I am going to update the documentation for this use case first then I will close it!.  Thanks for testing it!

[2022-04-09 15:13] melloware commented on #8657
Also if you don't mind marking my Stack Overflow as the solution for others to see in the future.

[2022-04-09 15:20] #8657 closed, assigned to melloware

[2022-04-09 18:32] newk5 commented on #8652
Ah I see, so its an issue with the FullCalendar library, nothing we can do about it then, thanks for looking into it.

About having an actual background as color I found a workaround which I'm using, I'll leave it here in case someone is interested.
Add the following CSS:
[code]
Then create a class with your background color like:
[code]
And when you are creating your event use .setStyleClass("red

[2022-04-09 18:32] #8652 closed, assigned to nobody

[2022-04-10 07:50] fcorneli opened #8659 "TabView/AccordionPanel: error indication"
When you have a `TabView` with multiple tabs on which validation can fail, it is really handy that the tabs on which errors occur, get an error highlighting.
For this, we use the following Javascript within our project:
[code]
and hence we call this method after an AJAX update, with `id` the `TabView` identifier.
It would be cool if this would be the default behavior of `TabView`.

[2022-04-10 11:46] #7598 closed, assigned to melloware

[2022-04-10 13:37] melloware commented on #8659
This could probably be hooked into the `refresh` method of the widget.

[2022-04-10 13:45] melloware commented on #8659
Can you try this MonkeyPatch?

[code]

[2022-04-10 17:37] fcorneli commented on #8659
Works as expected. Thanks. I'm definitely in favor of seeing this included in PF itself.

[2022-04-10 20:33] melloware commented on #8659
Yep I will submit a PR

[2022-04-11 08:05] tandraschko commented on #8659
i dont think we should scan for messages
better scan for invalid inputs

[2022-04-11 08:45] tandraschko commented on #8639
checked it with the current showcase and i think the current behavior isnt bad
if you dont send rows, it will display a paginator with 1 page but shows all data
so the default 0 doesnt resolve to "show zero rows", its just "display all rows"

[2022-04-11 08:45] #8639 closed, assigned to tandraschko

[2022-04-11 08:47] tandraschko commented on #8639
nevertheless, i added a smal hint log

[2022-04-11 08:48] ozziej commented on #8639
This is a specific case where if you're using a paginator component and lazy loading, if you do not include the "rows" attribute it breaks. It doesn't show a warning, it doesn't say "no records found" it just shows the paginator, with the correct number of pages and NO data. This confused me for a few hours as I couldn't understand why I was getting some indication that it was getting the correct

[2022-04-11 09:16] jepsar commented on #8659
We can do the same for accordion

[2022-04-11 09:22] fcorneli commented on #8659
Maybe make this configurable? `indicateErrors="true/false"` and default to `false`. Rationale: maybe some developers already use the tab header color (same remark for accordion) to indicate some state. Defaulting to this behavior would light up their christmas tree too much.

[2022-04-11 12:19] melloware commented on #8659
Agreed we should fix both components.  Anyone have a preference on the property name?  I am looking to see if we have any similar functionality on other components so we can keep the property name the same?

[2022-04-11 12:27] tandraschko commented on #8659
really not sure if we should make it configurable for each component, maybe just global
even that might be to much

maybe we just a styleclass to the tab and user can overwrite it instead of the 1001 component attr

[2022-04-11 12:46] melloware commented on #8659
Good idea. I will submit a PR with what I come up with.

[2022-04-11 15:14] melloware commented on #8659
PR Submitted.  Right now it just adds `ui-state-error` but since the themes don't respect it there is no UI change without adding...

[code]

I will open a follow up `theme` labeled ticket.

[2022-04-11 19:20] melloware opened #8661 "TabView/AccordionPanel/TextEditor: error indication theme styling"
**Description**
Based on issues: https://github.com/primefaces/primefaces/issues/8659 and  https://github.com/primefaces/primefaces/issues/8663

We need theme changes that generate styles for `ui-state-error` on Accordion /TabView/TextEditor similar to..

[code]

To make the UI look like...
![PF8659-Accordion](https://user-images.githubusercontent.com/4399574/162813842-ad8874a1-c53a-4afa-9b8b-2409

[2022-04-11 21:09] jan-tosovsky-cz commented on #8146
TBH I don't like showing that disturbing outline all the time. It could be optional or like in other libs diminishing after while or shown only on TAB keydown.

[2022-04-12 07:34] commodis opened #8662 "PrimeFlex 3-Support for PanelGrid"
**Description**
Primefaces has the [PanelGrid](https://primefaces.github.io/primefaces/12_0_0/#/components/panelgrid)-component which offers a `layout`-attribute. The currently documented options are:

* `tabular` layout,
* `grid` layout or
* `flex` layout

We are using [PrimeFlex 3](https://www.primefaces.org/primeflex/) as our CSS layout engine.
No particular layout option works well with PrimeF

[2022-04-12 11:42] melloware commented on #8662
This was already fixed for 12.0.0 with this PR: https://github.com/primefaces/primefaces/issues

12.0.0 showcase and components have fully switched to PrimeFlex 3.

[2022-04-12 11:42] #8662 closed, assigned to melloware

[2022-04-12 12:27] melloware opened #8663 "TextEditor: Missing ui-state-error when invalid"
**Describe the defect**
TextEditor is missing `ui-state-error` and `aria-required` and `aria-invalid` properties

**Environment:**
 - PF Version: _11.0.0_
 - PF Theme: _ALL_
 - JSF + version: _ALL_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Make a TextEditor `required="true"`
2. Submit the empty TextEditor
3. Notice none of the attributes are present.

cc @fc

[2022-04-12 12:41] melloware commented on #8663
Linked to Theme ticket: https://github.com/primefaces/primefaces/issues/8661

[2022-04-12 13:06] melloware commented on #8579
Going to close for now. Will re-open if OP reports back

[2022-04-12 13:06] #8579 closed, assigned to nobody

[2022-04-12 15:23] willbigas commented on #7011
@melloware , I believe that this way should work, thanks!

[2022-04-12 15:32] melloware opened #8665 "JQMIGRATE: jQuery.fn.removeAttr no longer sets boolean properties"
**Describe the defect**
See: https://github.com/jquery/jquery-migrate/blob/main/warnings.md#removeattr-bool-jqmigrate-jqueryfnremoveattr-no-longer-sets-boolean-properties

[code]

Must become:
[code]

[2022-04-12 15:58] melloware commented on #8625
Showcase was broken.  Submitted PR to fix the issue

[2022-04-12 16:21] #8665 closed, assigned to melloware

[2022-04-12 16:26] #8659 closed, assigned to fcorneli, melloware

[2022-04-12 16:27] #8663 closed, assigned to melloware

[2022-04-12 16:33] melloware commented on #8650
@FlipWarthog any interest in this one?

[2022-04-12 16:59] FlipWarthog commented on #8650
Sure, but I won't be able to look at it until next week. If it's still open then I'll see what's up.

[2022-04-12 18:07] jepsar commented on #8650
I can have a look as well, not sure when I can find some time though.

[2022-04-12 19:37] melloware commented on #7011
I have submitted a PR and created a showcase example rolling all Mert's Ultima customizations into the core PF.

[2022-04-12 20:37] melloware commented on #8627
Nevermind I see:

![image](https://user-images.githubusercontent.com/4399574/163049477-9cc72c38-0eec-4afc-bf71-9e9b0398c77c.png)

Reproducer: [pf-8627.zip](https://github.com/primefaces/primefaces/files/8476391/pf-8627.zip)

[2022-04-13 09:48] mertsincan commented on #8444
Thomas said "This is a hard question. I think it general it makes sense to make it configurable but enable it per default as AJAX requests are queued anyway and does not make problems. Im not sure if anyone use it async requests and spawn multiple requests but..."
@jepsar I added a comment for 2, referring to this. You can ignore my comment about "Discussions". If the disableOnAjax attribute is ok

[2022-04-13 11:53] tandraschko commented on #8444
ok then i will summarize:

1) we can add inline ajax status to whatever component like commandButton or autoComplete. Its enabled and we dont add any attribute to disable it. A user can overwrite the CSS if really required
2) disableOnAjax can be added to components, with enabled per default.

The last question is: is `disableOnAjax` the right attribute name and should it be added to e.g. `p:comma

[2022-04-13 12:19] melloware opened #8670 "InputMask: Add showMaskOnFocus/showMaskOnHover attributes"
**Description**
Add attributes from InputMask plugin controlling when the mask is displayed.

showMaskOnFocus: https://github.com/RobinHerbots/Inputmask#showmaskonfocus

showMaskOnHover: https://github.com/RobinHerbots/Inputmask#showmaskonhover

[2022-04-13 13:09] mertsincan commented on #8444
Thanks @tandraschko,

- I am not sure. If we find a better name, we can use it. I think the "disableOnAjax" is the best name for now :D

- If we add the disableTrigger property to p:ajax, will there still be a special attribute for <p:commandButton ajax="true" />?

[2022-04-13 13:26] tandraschko commented on #8444
thats the problem with `p:commandButton` in general :/
it would be great if it would NOT have the `ajax` attribute and `p:ajax` would be mandatory.

if case of 'p:commandButton' 'disableOnAjax' sounds better, in case of `p:ajax`, so everything other component in PF, 'disableTrigger' would be much better

[2022-04-13 13:26] #8670 closed, assigned to melloware

[2022-04-13 13:26] #7011 closed, assigned to melloware

[2022-04-13 13:33] jepsar commented on #8444
If we go for `p:ajax disableTrigger=true`, I would like to have an option to globally configure it for command components.

[2022-04-13 13:44] mertsincan commented on #8444
Ok.
For commandButton( and components that have ajax="true | false" option)
[code]

For other components;
[code]

[2022-04-14 07:48] tandraschko opened #8673 "Should we add a CharacterEncodingFilter?"
i always copy the class around my projects - even its used in themedesigner or showcase
actually we should also use it primefaces-test or integration tests

@melloware @christophs78 ?

[2022-04-14 08:03] jepsar commented on #8673
Although it's present in OmniFaces, I think it's a good idea. I would add overwriting the `X-Powered-By` and `Server` headers to it. It once came out of a pentest, and we have been overriding them since.

[2022-04-14 11:28] melloware commented on #8673
Yes I have noticed this is copied everywhere it is a simple filter we should include it with PF so it can be reused in PF Test, Integration Tests etc!

[2022-04-14 11:29] melloware commented on #8673
Do you want me to take care of this?

[2022-04-14 11:57] tandraschko commented on #8673
Will do it later

[2022-04-14 12:24] #8673 closed, assigned to tandraschko

[2022-04-14 12:31] tandraschko opened #8674 "Add a NoCacheFilter"
JSF per default sets cache headers correclty to resources, however it DOES not set no-cache headers on views
therefore i always have such a filter in my projects

should we add it too?

I ask because we currently introduce a new shared framework inside my company i look for stuff, which is actually more related to PrimeFaces.

[2022-04-14 12:32] canerariik commented on #2756
******WARNING: FacesMessage(s) have been enqueued, but may not have been displayed.
sourceId=j_idt22:j_idt33[severity=(ERROR 2), summary=(j_idt22:j_idt33: Validation Error: Value is not valid), detail=(j_idt22:j_idt33: Validation Error: Value is not valid)]|#]******

I using JSF and Glassfish. How can ı solve this? Pls help. And I used SelectManyMenu.

[2022-04-14 12:32] tandraschko commented on #8674
basically the same as BalusC posted here: https://stackoverflow.com/questions/10305718/avoid-back-button-on-jsf-web-application

[2022-04-14 12:35] melloware commented on #8674
Yep I have been using OmniFaces `NoCacheFilter` for years.   So having something in core PF would be good for users that don't like introducing extra libs like OMniFaces.

[2022-04-14 12:37] stolp commented on #8674
I welcome this as a user who have stumbled upon this in the path.

[2022-04-14 12:39] melloware commented on #2756
@swarley21 Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-04-14 12:45] #8674 closed, assigned to tandraschko

[2022-04-14 13:26] canerariik commented on #2756
@melloware Do you want me to commit my project? I don't quite understand what you want.

[2022-04-14 13:52] melloware commented on #2756
you can just put it somewhere we can see it to debug it

[2022-04-14 15:00] jepsar commented on #8444
Great! I'll close this issue then and modify https://github.com/primefaces/primefaces/pull/8302

[2022-04-14 15:00] #8444 closed, assigned to nobody

[2022-04-14 23:59] FlipWarthog commented on #8650
I did a quick look and I believe swapping those classes is just missing from `selectNode`|`unselectNode` in tree.vertical.js. The js that handles checkbox selection/unselection is, unfortunately, separate and does have the proper handling.

https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/resources/META-INF/resources/primefaces/tree/tree.vertical.js#L490-L518

[2022-04-15 00:02] melloware commented on #8650
PR coming?

[2022-04-15 00:08] FlipWarthog commented on #8650
If I can get the showcase running locally ;)

[2022-04-15 01:00] melloware commented on #8650
Done

[2022-04-15 09:13] ipersoftware opened #8675 "Datatable Selection Mode Multiple with Array in Backing Bean"
Tested on PrimeFaces 10.0.0
If I set selectionMode = 'multiple' in some column, and in BackingBean I've an array, this will produce an empty selection. The problem is in the SelectionFeature.setSelection
[code]

solved changing Array to List.

SelectionFeature

[code]
----------------------------------------------------
----------------------------------------------------
# Before creating a issue

[2022-04-15 09:29] jepsar commented on #8675
Please use the issue template and try with PrimeFaces 12 first.

[2022-04-15 14:15] melloware commented on #8650
Showcase should work locally now...

[2022-04-15 16:33] fcorneli commented on #8659
Tested out 12.0.0-SNAPSHOT against our app. Tab error indications work as expected.

[2022-04-15 16:38] fcorneli commented on #8663
Tested out 12.0.0-SNAPSHOT. `ui-state-error` indeed gets added correctly, but this probably needs some additional styling as stated by #8661

[2022-04-15 17:07] melloware commented on #8663
thanks for testing!  Yep you can copy those styles into your app for now but hopefully Mert will merge them into the themes before 12.0.0 final!

[2022-04-15 18:26] #8650 closed, assigned to FlipWarthog

[2022-04-15 22:08] #8381 closed, assigned to melloware

[2022-04-15 22:08] #8301 closed, assigned to jepsar

[2022-04-15 22:08] #8303 closed, assigned to jepsar

[2022-04-15 22:32] melloware commented on #8333
@nixonyeung here is a workaround that works by adding zIndex to the button...

[code]

[2022-04-16 05:59] fcorneli opened #8679 "PrimeFaces Selenium: configuration"
When trying to use `primefaces-selenium` within our project to improve QA, we stumbled upon some funny configuration aspects.
Maybe this feedback can be useful.

We had to go back to Selenium version 3.141.59 instead of version 4.1.3 since they changed some API calls.
Since we want to configure as much as possible from within Java, I had to use the following construct:
[code]
in order to make,
[co

[2022-04-16 07:18] jsocola commented on #6091
the problem still in version wildfly 20,21,22. If we put http2 false works but I think resources location is the problem

 <http-listener name="default" socket-binding="http" redirect-socket="https" enable-http2="true"/>
 <https-listener name="https" socket-binding="https" security-realm="ApplicationRealm" enable-http2="true"/>

 <http-listener name="default" socket-binding="http" redirect-socket=

[2022-04-16 07:32] tandraschko commented on #6091
If you can provide a reproducer with primefaces-test, WE can Check
But im sure its a mojarra or wildfly thing

[2022-04-16 07:33] tandraschko commented on #8679
You would need a config file anyway
If we would provide some init handler, we would propably use Serviceloader
So -1 to create some new config stuff

[2022-04-16 11:43] melloware commented on #6091
From this forum post: https://forum.primefaces.org/viewtopic.php?t=55581&start=10

It looks like its HTTP2 and Mojarra related as Payara has the same issue with HTTP2.

here was the original issue: https://github.com/eclipse-ee4j/mojarra/issues/4280

BalusC recommends creating this patch:
[code]

And adding it to `faces-config.xml`

[code]

This basically suppresses that stack trace.

[2022-04-16 11:45] melloware commented on #6091
I have marked this as "workaround" and "implementation-specific" as its a Mojarra issue and closing it.  @jsocola let us know if this resolves your issue.

[2022-04-16 11:46] #6091 closed, assigned to nobody

[2022-04-16 11:48] melloware commented on #8675
I will close this for now until a reproducer is provided.

Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.  It is the only way developers can debug your problem to help.

[2022-04-16 11:48] #8675 closed, assigned to nobody

[2022-04-16 12:01] #8122 closed, assigned to jepsar

[2022-04-16 12:10] #8333 closed, assigned to melloware

[2022-04-16 12:47] melloware commented on #8245
My solution is to simply log a warning in this scenario:

[code]

[2022-04-16 13:05] melloware commented on #3120
I think to boil this down if you `return false` from the TabChange `onstart` method you want the tab NOT to change.

[2022-04-16 13:10] melloware commented on #36
From @anuragnz

Hi there,

The dashboard component looks good.
We need to define the columns and then we can add components to each columns like this:

[code]

For dynamic dashboard components defining columns is not suitable. Rather if we can just define number of columns then it would become a grid layout type. Which would be really great.

So the option would be
[code]

[2022-04-16 13:10] melloware commented on #7472
I moved your comment to here as it is a duplicate: https://github.com/primefaces/primefaces/issues/36

[2022-04-16 13:10] #7472 closed, assigned to nobody

[2022-04-16 19:57] jsocola commented on #6091
I use primefaces 8.0.16 with mojarra 2.3.14.SP02 no omnifaces and I have created a class ResourceHandlerImplPatch to fix resources url.

The initial page now load with https 2 but when try to navigate it's like entry into infinity loop and server go crazy  with messages in log only said WARNING...

import javax.faces.application.Resource;
import javax.faces.application.ResourceHandler;
import java

[2022-04-16 20:24] melloware commented on #6091
The only reason I don't think you did it right is I don't see your ResourceHandler in the stack trace here:

[code]

[2022-04-16 20:27] jsocola commented on #6091
Yep a I think the problem is with the primefaces.jar I will change Monday with my friend he has the code in  his machine maybe I need put Resource inside because log said primefaces jQuery and component and they are inside the jar.

[2022-04-16 20:28] melloware commented on #6091
I also have Wildfly on my machine I may try this myself. I have never turned HTTP2 on.

[2022-04-16 20:42] melloware commented on #6091
Also have you tried a JSF app in Wildfly wiht HTTP2 without PrimeFaces?  I am wondering if this is just the first error you are getting.

[2022-04-16 20:50] jsocola commented on #6091
I used with ICEFACES 3.3 and HTTP2 works fine, but is JSF 2.1 no JSF 2.3

[2022-04-16 21:02] melloware commented on #6091
OK here is what I just tested.  I am using the PrimeFaces Showcase WAR file.

Wildfly 18.0.0 with HTTP2 - **works fine**

Wildfly 24.0.1 with HTTP2 - **stacktrace above**

However with Wildfly 24 the app and all its functionality is working just fine its just a bad stack trace in the logs which the above `ResourceHandler` is supposed to disable.  But I am not seeing anything wrong in the Showcase

[2022-04-16 21:10] melloware commented on #6091
Even more interesting in WildFly 24 I swapped out `jsf-impl-2.3.14.SP04.jar` for official `jakarta.faces-2.3.17.jar` from Mojarra not the Jboss hacked version and there is NO errors in logs and the app is working fine.

So I think the error is even in WildFly's custom Jboss version of Mojarra.

[2022-04-16 21:20] melloware commented on #6091
I stand corrected it is still happening with `2.3.17` but I am still not seeing issues with the application.  I would report this bug to RedHat/Jboss as it seems related to their Mojarra + Undertow combination.

[2022-04-16 21:24] melloware commented on #6091
Its already reported to Wildfly!  I suggest you go upvote this issue.

Issue: https://issues.redhat.com/browse/WFLY-16260

Original Thread: https://developer.jboss.org/thread/279480

[2022-04-16 21:31] melloware commented on #6091
And this thread is not even PrimeFaces related it can't find jsf.js: https://developer.jboss.org/thread/280291

[2022-04-17 02:33] jsocola commented on #6091
You right , I have move to wildly 26.1.0/JDK11/prime 8 works fine with http2. But maybe we can do something with wildfly 20,21,22 I think is the Resources path inside the prime 8 jar.

Thanks for you help!

[2022-04-17 07:36] christophs78 commented on #8679
@fcorneli Which PrimeFaces-version do you use? 11.0.x uses Selenium 3.x, 12.0.x(-SNAPSHOT) uses Selenium 4.x.

[2022-04-17 09:11] fcorneli commented on #8679
I'm using the 11.0.0 release of primefaces-selenium. Noticed indeed that PF 12 is using Selenium 4.
I'm also not extending the PF PageObject thingy, but directly using `PrimeSelenium.createFragment`.

[2022-04-17 12:25] melloware commented on #6091
Thanks for reporting back.  I really feel like PF is totally fine its an Undertow bug closing the stream which it sounds like they fixed.

[2022-04-18 06:41] christophs78 commented on #8679
Ok. 11.0.0 explains why you need to stick with Selenium 3.x.
Which application server / container do you use for your integration tests / ui tests?

[2022-04-18 06:44] jepsar opened #8683 "AutoComplete: position inlineAjaxStatus for each theme"
`inlineAjaxStatus` was added with issue #8122 and PR #8316

positioning could not be set in the component CSS as it differs per theme.

[2022-04-19 07:22] tandraschko commented on #8679
Please try 12.0 for the manual WebDriverProvider.set issue
the code looks like it should work

and for the minimal config file, we can improvide the doc a bit

[2022-04-19 07:35] tandraschko commented on #8679
adjusted the docs: https://github.com/primefaces/primefaces/tree/master/primefaces-selenium

i think you just miss: `webdriver.browser = chrome` but if you still need to manually set WebDriverProvider.set, please create a new issue with a sample application, how you use it.
It should not be necessary

[2022-04-19 07:35] #8679 closed, assigned to nobody

[2022-04-19 08:15] tandraschko commented on #8369
@jepsar will you work on it soon? would like to see it

[2022-04-19 08:36] jepsar commented on #8369
Yeah. I want to do the inline Ajax status of split and menu button, and then I'll have a look at this.

[2022-04-19 08:49] tandraschko commented on #8509
Implemented it a small EL function:

[code]

[2022-04-19 08:49] #8509 closed, assigned to tandraschko

[2022-04-19 08:54] jepsar opened #8687 "DatePicker: mask="true" does not work with selection mode 'range'"
[code]

Currently shows: `____-__-__`

Expected: `____-__-__ - ____-__-__`

[2022-04-19 09:52] melloware commented on #8687
I am not sure we are going to get range and mask to work together properly.  I wonder if we should just log a console error that these two features can't be used together?

[2022-04-19 10:01] jepsar commented on #8687
Is was wondering if this was going to be hard or not. Log is fine with me.

[2022-04-19 11:10] jepsar commented on #8687
I'll have a look tonight. Would be awesome if we could support mask with range.

[2022-04-19 11:41] melloware commented on #8687
Ok let me know. We can always fall back to just logging an error if you can't make it work.

[2022-04-19 12:13] mertsincan opened #8688 "DataTable: select all checkbox not selecting all"
Reported By PRO User;

..

[2022-04-19 12:14] #8688 closed, assigned to mertsincan

[2022-04-19 12:29] DazzlingBob opened #8689 "Chart.js: Grid line configuration not working"
### 1) Environment

PrimeFaces version: primeFaces-11.0.0
JSF version: mojarra-2.3.17

### 2) Describe the defect

Grid line configuration is not working due to renamings in Chart.js 3.x.

According to https://www.chartjs.org/docs/latest/getting-started/v3-migration.html:
- options.gridLines was renamed to options.grid
- options.gridLines.offsetGridLines was renamed to options.grid.offset.
- optio

[2022-04-19 12:30] tandraschko commented on #8406
i found the reason why this happens
in 8.0 the `selection` attr in the bean is not set from MultiViewState
we introduced this later, cant find a ticket now (DataTable#updateSelectionWithMVS)

so what happens now:
- `setPropertyActionListener` / `setSelectedCar` is invoked with the right instance from the button
- `DataTable#preRender` invokes `restoreMultiViewState` and therefore `setSelectedCar`

[2022-04-19 12:57] tandraschko commented on #8275
added test for it, which demonstrates the problem

@Disabled for now

[2022-04-19 12:57] tandraschko commented on #8406
also related to #8275

[2022-04-19 14:03] melloware commented on #8406
The only thing I can find is https://github.com/primefaces/primefaces/issues/6575 which is where this original major refactoring occurred

[2022-04-19 14:37] melloware commented on #8689
Excellent catch, reproducer and report!

[2022-04-19 18:31] #8689 closed, assigned to melloware

[2022-04-20 11:25] tandraschko opened #8691 "GraphicImage: also support base64 via stream=false when name/library is set"

[2022-04-20 11:40] #8691 closed, assigned to tandraschko

[2022-04-20 14:07] stonewoodman opened #8693 "Tree: wrong order at server side after drag&drop"
**Describe the defect**
If you move (drag&drop) an item in tree downwards, then the frontend shows it correctly but the model at server side has wrong order.

**Environment:**
 - PF Version: _12.0.0 (current dev version)_
 - PF Theme: _nova-light_
 - JSF + version: _MyFaces 2.3.9_
 - Affected browsers: _ALL_

**To Reproduce**
Initial order
[code]
move an item
[code]
order at server side (vs client

[2022-04-20 14:21] melloware commented on #8693
Thank for for documenting!

[2022-04-20 20:02] arturobernalg opened #8697 "CORE: java 8 enhances"
Java 8 enhances

- Replace anonymous type with lambda.
- Replace Lambda with method reference.
- Simplify 'Map' operations
- Replace Statement lambda with expression lambda

[2022-04-20 20:11] #8697 closed, assigned to arturobernalg

[2022-04-21 07:35] jepsar opened #8699 "Breadcrumb: Allow items to be dropdowns"
I ran into this demo https://gui-challenges.web.app/breadcrumbs/dist/ where breadcrumb items can be dropdowns. I think that's an interesting feature. Should we look in to this?

<img width="534" alt="Screenshot 2022-04-21 at 09 34 38" src="https://user-images.githubusercontent.com/7500178/164403188-e972fb92-a206-4de6-bf30-5533e821de46.png">

[2022-04-21 11:59] melloware commented on #8699
Hmmm its interesting but not sure how I feel about it. Its both a breadcrumb and a menu.

[2022-04-21 13:26] jepsar commented on #8699
I don't have an immediate use case for it myself. The amount of items which should be part of the dropdown could be very large in our applications.

[2022-04-21 15:08] tandraschko commented on #8406
i think selection from MVS should not be restored into the bean when selection is already set in the bean, right?

[2022-04-21 15:15] melloware commented on #8406
yes i don't think so either

[2022-04-21 15:18] Rapster commented on #8406
Same, though we have to make it clear it's no longer supported since I think that's how MVS was originally introduced

[2022-04-21 15:19] tandraschko commented on #8406
for now, i will just skip restore MVS on postback for selection
in general it should be skipped for all MVS but i dont like to break something now

[2022-04-21 15:20] tandraschko commented on #8406
will leave it as it is for now, we dont have enough tests for MVS

[2022-04-21 15:20] #8406 closed, assigned to tandraschko

[2022-04-21 15:34] tandraschko commented on #8275
tests are working fine now, propably because of other changes

[2022-04-21 15:34] #8275 closed, assigned to tandraschko

[2022-04-21 15:51] tandraschko commented on #8245
for me the behavior is actually correct
you actually filter the datatable in the checkbox-ajax request but you dont update the datatable, which creates a different state on server and client side
and then you send a second AJAX request via JS 'filter'

i changed it to
[code]

and it works fine

a workaround for your case would be, as you already metioned, the filteredValue binding to a bean

[2022-04-21 15:51] #8245 closed, assigned to tandraschko

[2022-04-21 15:53] tandraschko commented on #5649
sample not available anymore
please create a issue with reproducer if its still a problem in current github master

[2022-04-21 15:55] tandraschko commented on #3494
@melloware something to retest? :D

[2022-04-21 15:58] tandraschko commented on #8496
@Rapster any feedback if we should support his? IMO the current behavior is fine
We have a workaround that such modification can be done when calling #resetColumns

[2022-04-21 16:20] Rapster commented on #8496
current behavior is fine

[2022-04-21 16:22] #8496 closed, assigned to Rapster

[2022-04-21 16:30] melloware commented on #3494
Yep i will look at this one!

[2022-04-21 16:58] melloware commented on #3494
OK i debugged what is going on and I think we should mark this as won't fix.   the `draggable` jquery UI code is pre-supposing the `this[0]` is inside the DOM element where this is taking place.  However since we are moving the script to the bottom of the page and outside of the DOM element it can't find `this[0]` properly.

This is a corner use case and since its all how Jquery UI Draggable works

[2022-04-21 17:26] #3494 closed, assigned to nobody

[2022-04-21 21:15] esternocleidomastoideo commented on #1152
Hello guys.
My customer purchased the elite plan but the 4.0.25 package is not available. Can anyone help?
I need fix for bug CVS-2017-1000486 for legacy system.

[2022-04-21 22:03] melloware commented on #1152
@esternocleidomastoideo i would send an email to mailto:contact@primetek.com.tr

[2022-04-22 07:32] fanste commented on #5649
I have no idea, why the reproducer was not available anymore...

I pushed it again to the [same address](https://github.com/fanste/primefaces-test/tree/test-5649) and upgraded it to `-SNAPSHOT` available on Jitpack. The behavior of the datatable is still wrong.

Open the reproducer, page 6 will be shown with item `105` at the 1st row - but the item should be the 6th row. Switch to page 1 and back

[2022-04-22 07:50] tandraschko commented on #5649
Could you create new integrationt test for it and work on a PR?

[2022-04-22 08:49] tandraschko commented on #8325
lets close this in favor of the spec issue
as i said there, it should be directly in the StateHelper, otherwise it blows up viewstate

we can still enhance our sample https://primefaces.github.io/primefaces/11_0_0/#/core/globalattributes, which reads a properties file

[2022-04-22 08:49] #8325 closed, assigned to nobody

[2022-04-22 13:45] melloware commented on #2637
Closing this issue for 2 reasons:

1. PrimeTek Carousel is superior for displaying images
2. This Jquery plugin and most others are all dead and not work upgrading.

[2022-04-22 13:45] #2637 closed, assigned to nobody

[2022-04-22 14:53] melloware commented on #8699
Isn't this a duplicate of: https://github.com/primefaces/primefaces/issues/3380

[2022-04-22 15:14] jepsar commented on #8699
No, I don't think so. The other issue is not about have dropdowns as items.

[2022-04-22 15:16] melloware commented on #8699
i think its about having any custom markup you want in breadcrumbs and then you can easily do a Menu Overlay like in the example here on the Showcase where you trigger the overlay Menu on the breadcrumb: https://www.primefaces.org/showcase/ui/menu/menu.xhtml

![image](https://user-images.githubusercontent.com/4399574/164744074-ef7c9ca1-93ae-4558-8856-b48d2a7e89bb.png)

[2022-04-22 16:48] jepsar commented on #8699
I didn't understand the issue like that. Sound similar to how the tree works (nodes per type).

[2022-04-23 20:27] SamTV12345 opened #8705 "BarChart enable possibility to label axes."
**Description**
Add labels for the x and y-axis of the charts. Concerning the showcase http://primefaces.org/showcase/ui/chartjs/bar/bar.xhtml? I don't know anything about the unit of the displayed numbers.

[2022-04-23 21:39] SamTV12345 commented on #8705
Found out that I should use the method setExtender. It would be helpful to mention that in the showcase.

[2022-04-23 21:48] ravihariharan commented on #8528
@mertsincan can this fix also be applied to to Elite 7.0.27 ?

Issue ID :  sonatype-2022-1518

[2022-04-24 00:11] melloware commented on #8705
I think it's mentioned in the PrimeFaces docs for charts right?  There is a whole section on using the Extender?

[2022-04-24 00:12] melloware commented on #8705
Also can you post your code that you used in the extender to show the labels?  Did you need to add any special plugins?

[2022-04-24 07:53] SamTV12345 commented on #8705
In  the chartJS docs they mention to use https://www.chartjs.org/docs/latest/configuration/tooltip.html. Unfortunately this only inserts the dataset's label into the tooltip. In my usecase I used a barChart with percentage values.  It would be great if you could insert an extender sample into the showcase as labelling axis and modifying the tooltips is quite important.

[code]

[2022-04-24 11:33] melloware commented on #8705
This part is all fixed in 12.0.0 you can set these in the Java model object.

[code]

The tooltip callback function you will always need the extender for.  since it requires Javascript code.

We document the extender here: https://primefaces.github.io/primefaces/11_0_0/#/components/charts?id=extender

But showing examples of every sing ChartJS combination is not quite possible.

Another plugin you

[2022-04-24 11:46] SamTV12345 commented on #8705
Thank you for your help. Great that this is fixed in 12.0. It is not very comfortable to do I18n in two systems. I will take a look at this plugin. I need to test if the length of the strings will surpass the individual tiles, especially in the PieCharts.

[2022-04-24 11:46] #8705 closed, assigned to nobody

[2022-04-25 13:57] tandraschko commented on #8502
Currently this is by design:
https://github.com/primefaces/primefaces/blob/fc76cdf76b8ba4f31833de176b0c2bb5106081f3/primefaces/src/main/java/org/primefaces/model/SortMeta.java#L97-L100

but it was NOT in 8.0 codebase

[2022-04-25 14:02] tandraschko commented on #8502
See: https://github.com/primefaces/primefaces/issues/6742

@Rapster should we just close this issue, as its by design?
8.0 was indeed unsorted - no idea why we introduced it TBH

[2022-04-25 14:22] tandraschko commented on #8027
the server side is fine
the following JS causing the problem: https://github.com/primefaces/primefaces/blob/dbf8912705925d13e281bd6ff0c40cd2ead56dc4/primefaces/src/main/resources/META-INF/resources/primefaces/datatable/datatable.js#L5246-L5258

[2022-04-25 15:00] tandraschko commented on #8027
the problem is that #groupRows removes one column and then the indexes in #updateColumnsView doesnt match anymore

[2022-04-25 15:03] melloware opened #8708 "Moment.js 2.29.3"
**Description**
As reported by Dependecy check `moment.js: CVE-2022-24785(7.5)`

[2022-04-25 15:20] #8708 closed, assigned to melloware

[2022-04-25 16:14] zicheee opened #8711 "SelectOneListbox: Update Documentation"
**Description**
Today I tried to use the SelectOneListbox and auto-update my view when selecting an element. When going to the documentation (https://primefaces.github.io/primefaces/11_0_0/#/components/selectonelistbox) there is no information about the ajax events.

I tried serveral events until I found out which ones worked for me.

**Describe the solution you would like**
An updated documentati

[2022-04-25 16:18] melloware commented on #8711
Thanks for reporting.  I will fix!

[2022-04-25 16:51] #8711 closed, assigned to melloware

[2022-04-25 16:52] #8027 closed, assigned to tandraschko

[2022-04-25 16:53] #8120 closed, assigned to melloware

[2022-04-25 18:16] Rapster commented on #8502
To make "group" feature happens, sorting was and still is the default strategy. See 8.0:

[code]

At a glance, I can't see how it was working without previously sorting if you look how the whole thing was/is implemented _(it's an iterative process, so n + 1 item better be sorted otherwise you'll end up most likely having group of 1 element)_.

You can have a look also at PrimeNG, seems like they'r

[2022-04-25 19:33] tandraschko commented on #8502
i just tried it with 8.0 and it wasnt sorted, but not idea if it was working

so lets close it as "works as expected"?

[2022-04-25 19:37] melloware commented on #8502
I say we close it as works as expected

[2022-04-25 19:37] #8502 closed, assigned to tandraschko

[2022-04-25 22:42] melloware commented on #2016
I am going to close this since a spec issue was opened.

[2022-04-25 22:42] #2016 closed, assigned to nobody

[2022-04-25 22:45] melloware commented on #2147
I am going to close this. I still don't understand the issue as it converts the backing bean to a BigDecimal.  It has nothing to do with locale. If someone creates a proper PrimeFaces Test reproducer showing the issue I will happily reopen

[2022-04-25 22:46] #2147 closed, assigned to nobody

[2022-04-25 22:50] melloware commented on #2705
Workaround provided by Rapster and as he mentioned this is not a PF issue.

[2022-04-25 22:57] melloware commented on #3956
Closing this as wontfix.  Years open and no one else raising this corner case

[2022-04-25 22:57] #3956 closed, assigned to nobody

[2022-04-25 23:05] melloware commented on #6950
Closing as duplicate of #6561

[2022-04-25 23:06] #6950 closed, assigned to nobody

[2022-04-25 23:09] melloware commented on #7943
@fcorneli interested in submitting a PR for this?

[2022-04-26 05:20] fcorneli commented on #7943
@melloware I've put it on my TODO list. :)

[2022-04-26 11:48] melloware commented on #7943
OK I assigned the ticket to you.  If you want it to make 12.0.0 I would submit the PR in the new few weeks.

[2022-04-26 12:41] melloware commented on #8054
@djmj I already add the ability to use `multiple=false` and `updateLabel="true"` in this ticket: https://github.com/primefaces/primefaces/issues/7241

Now I added `ui-state-active` in `multiple="false"` mode so you can update the styling in 12.0.0

[2022-04-26 13:24] melloware commented on #6140
Based on @jepsar excellent example I added this showcase demo...

![image](https://user-images.githubusercontent.com/4399574/165309877-d0133e38-c188-43ff-aa92-90747e84f41c.png)

[2022-04-26 13:59] melloware commented on #3120
You an already do this now.  Just move your JS code from the `onstart` of the AJAX call to the TabView client side if you want to prevent Tab Change before it changes the tab and fires the event.

[code]

[2022-04-26 13:59] #3120 closed, assigned to melloware

[2022-04-26 14:14] #6140 closed, assigned to melloware

[2022-04-26 14:15] #8054 closed, assigned to melloware

[2022-04-26 16:15] fanste opened #8717 "AutoComplete: Invalid State with forceSelection=true"
**Describe the defect**
A `p:autoComplete` with `forceSelection=true` will have an invalid state if the shown label does not match the search expression.

**Reproducer**
https://github.com/fanste/primefaces-test/tree/test-8717

**Environment:**
 - PF Version: 11.0.0, 12-SNAPSHOT

**To Reproduce**
_The reproducer uses 12-SNAPSHOT._

1. Open the testing page
2. The first autocomplete is empty, try t

[2022-04-26 17:26] jepsar opened #8719 "SplitButton / MenuButton: add inline Ajax status"

[2022-04-26 17:56] #8687 closed, assigned to jepsar

[2022-04-26 17:57] #7906 closed, assigned to melloware

[2022-04-26 18:04] melloware commented on #8717
Can you review my PR. I agree with you when showSuggestions is called the list should be cleared always and only filled back in if there are items.

[2022-04-26 22:05] melloware commented on #7228
This is working fine for me on the latest iOS 15

[2022-04-26 22:05] #7228 closed, assigned to nobody

[2022-04-26 22:07] melloware commented on #6877
I am going to close this for now   The default behavior has been this way for years with little complaint and a workaround is available if needed

[2022-04-26 22:07] #6877 closed, assigned to melloware

[2022-04-26 22:08] djmj commented on #8054
@melloware  That sounds great and i look forward to 12.0.0. Thank you!

[2022-04-27 09:09] #8717 closed, assigned to melloware

[2022-04-27 11:10] fanste commented on #8717
Thanks for the fast handling.

[2022-04-27 13:15] Phoenix751 opened #8721 "Mindmap: Not rendering because of node label width"
**Describe the defect**
When the width of the label on a node exceeds the ellipses width the component isn't rendering and the browsers console only shows a `jQuery.Deferred exception` together with an `Uncaught TypeError: e.on is not a function` Error.

**Reproducer**
https://github.com/Phoenix751/primefaces-issue-reproducer

**Environment:**
 - PF Version: _11.0.0/11.0.3_ (tested with both)
 - P

[2022-04-27 13:17] melloware commented on #8721
Any PR would be welcome!

[2022-04-27 13:20] melloware commented on #8119
Please provide an executable example using the [PrimeFaces Test](https://github.com/primefaces/primefaces-test) project.

It will help me debug the issue

[2022-04-27 13:32] melloware commented on #8721
I have never actually used or looked at MindMap but it looks like some crazy Math code happening in the widget that must be wrong calculating the size.  Might be an easy JS fix

[2022-04-27 15:03] iscozak commented on #4448
The same correction should be applied to TreeTable, as adviced in incidence subject.

[2022-04-27 15:47] melloware commented on #8721
This was my fault.  Here is a MonkeyPatch to fix your issue right now....

[code]

[2022-04-27 17:40] #8721 closed, assigned to melloware

[2022-04-28 02:25] esternocleidomastoideo commented on #1152
I don't understand how such an old update is not available for download until today.
I contacted support last week and all they told me was that it would be available this week.
Now I send emails asking for help and get ignored.
Someone please help me!
It is a case of extreme urgency.
I need the fix for the cvs-217-100486 bug and it needs to be version 4.0.25

[2022-04-28 07:11] ozziej opened #8724 "Tag: Inner span value not rendered"
**Describe the defect**
when adding a p:tag component it does NOT add the value attribute

**Reproducer**

**Environment:**
 - PF Version: _11.0.3_
 - PF Theme: All
 - JSF + version: Any
 - Affected browsers: _e.g. All

**To Reproduce**
Add a p:tag for example:

<p:tag styleClass="p-mr-2" value="Primary"></p:tag>
or
<p:tag styleClass="p-mr-2" value="Primary"/>

**Expected behavior**
This should re

[2022-04-28 08:42] rjeq opened #8725 "Autocomplete: Dropdown panel messed up when dynamic=true && querymode=server"
Write something in the filterbox, wait til the dropdownpanel shows up with results, now click the dropdown arrow. Issue arises.

Only happens when querymode=true and queryMode=server

[code]
![image](https://user-images.githubusercontent.com/104558606/165713560-60de1d99-99b1-4e16-83cd-890329aad577.png)

PF version 10.4

[2022-04-28 08:49] tandraschko commented on #8725
marked as invalid as you didnt provide a runnable example

does it still occur on master?
you can try that easily if you provide a forked primefaces-test project, and we have a reproducer then

[2022-04-28 11:26] melloware commented on #1152
@esternocleidomastoideo I understand your frustration.  But shouldn't you be asking yourself why you want a patch to a 6 year old JAR for 1 security fix when there have been over 100 other security fixes in the years since.

https://github.com/primefaces/primefaces/issues?q=label%3A%22%3Alock%3A+security%22+is%3Aclosed

Shouldn't you be looking to upgrade your software and close "more holes" than

[2022-04-28 11:31] melloware commented on #8724
Hmmm but the only code changed was 1 line...

**Was:**
`writer.write(value);`

**Now:**
`writer.writeText(value, "value");`

The line you are referring to...

[code]
Has been there since #8147

See commit: https://github.com/primefaces/primefaces/pull/8147/files

[2022-04-28 11:45] tandraschko commented on #1152
not talking about other libs and application servers... ;)

[2022-04-28 12:07] rjeq commented on #8725
[code]

[2022-04-28 12:15] esternocleidomastoideo commented on #1152
Simple: it is no longer worth investing in this system and we have to comply with a company directive until it is replaced.
In addition there are thousands of other issues which I cannot mention here.