[2016-01-11 15:38] kukel commented on #1009
What PF version?

[2016-01-11 15:41] kukel commented on #1006
can this not be done by using css?

[2016-01-11 15:42] kukel commented on #1001
Panel or Dialog? Or both?

[2016-01-11 15:54] kukel commented on #981
It is obviously not the **expected** behaviour by all, but it is 'certainly' as designed. So it is not a bug but a feature request

[2016-01-11 15:56] kukel commented on #971
Are you sure this is not cause by some other css thing?

[2016-01-11 15:58] kukel commented on #964
PF Version?

[2016-01-11 16:12] benoitbb commented on #964
5.3

2016-01-11 16:58 GMT+01:00 Ronald van Kuijk notifications@github.com:

[2016-01-11 17:08] cagataycivici commented on #998
Those cases should work now I believe.

[2016-01-12 06:31] malex666 commented on #1009
Sorry, forgot about that. We tried with 5.3 community, 5.3.3 elite and 5.3.4 elite. Didn't change anything.

[2016-01-12 08:15] schlebe commented on #1001
My proposition is for p:dialog
I have changed my comment and the title.

[2016-01-12 13:06] cchet opened #1011 "Tree drag drop not working correctly in IE-11 and Edge (v5.3.4)"
A tree node can only be dropped as a neighbor and not as a child no matter which value the dropRestrict attribute has. This occurs in IE-11 and Edge. The strange thing is that the showcase example works. So I have implemented an maven based example web app eclipse project which runs on tomcat with myfaces-2.1.17 and primefaces-5.3.4 which should be the same as the showcase regarding the version

d

[2016-01-12 13:26] sudheerj commented on #1006
Some of the new Primefaces premium themes uses google material design.You might check there for its availability.

[2016-01-12 14:29] cchet commented on #1011
The related primefaces forum post
http://forum.primefaces.org/viewtopic.php?f=3&t=44202&p=0&e=0&sid=34fc1976b00f505485553ce34e45e6e4

[2016-01-12 19:19] kito99 opened #1012 "InputNumber doesn't properly execute the declared onchange event handler"
Currently, InputNumer wraps the onchange listener specified by the user like so:

[code]

This however, fails in cases where the onchange listener tries to a return a value (which is common):

[code]

I have been able to solve this by making the following change:

[code]

The drawback to this approach is that `copyValueToHiddenInput()` is still called if the return value is false. It does, however

[2016-01-12 19:21] ybendek commented on #1006
not, it cannot be done with a simple css... this component is not just a button on the bottom of the screen, if you see the googel reference, this component includes lot of interesting features mainly in behavior (http://www.google.com/design/spec/components/buttons-floating-action-button.html#buttons-floating-action-button-behavior) and transitions (http://www.google.com/design/spec/components/bu

[2016-01-12 20:20] kukel commented on #1010
This is **not** an mcve... 4 classes? A composite component? Are they all needed to reproduce the problem?

[2016-01-12 20:25] kukel commented on #1011
Create a an [mcve](http://stackoverflow.com/help/mcve) and post that in the **forum**. For an mcve see also [this](http://www.stackoverflow.com/tags/jsf/info). Please delete this 'issue' then.

[2016-01-12 20:28] kukel commented on #1009
Please post al this in the forum. It does not belong in the issues in github. You use 'lazy' but do not implement the lazyDataModel Please look at the showcase and the docs!!! Please delete this 'issue'

[2016-01-12 20:41] kukel commented on #1007
Since they already announced jQuery 3.0, maybe it is time to move on to 2.2 (maybe with some partial backwards compatibility plugin)? Anyone seriously still developing for IE8 is either working for a large insurance company, a government, multinational or just a lunatic.The former 3 should be able to pay large amounts of support to PF for a custom jQuery version :-)

[2016-01-12 20:57] erickdeoliveiraleal commented on #222
This issue need to be reopened.

[2016-01-12 21:32] kukel commented on #1006
`<rant>`Hmmm and all this from the company that changed the UI of their maps app more in the last two years then M$ did with their office apps in a decade...`</rant>`

So effectively it is a combination of dock, toolbar and splitbutton on steroids (morphing/transition capable). In my opinion there is much more relevant work to do on PrimeFaces than adding a button like this (the non-steroid versio

[2016-01-12 21:38] kukel commented on #51
Can someone of the core team either fix this or close it? Having an interesting pull request open for over half a year after a request for comment and given is not 'appreciated' ;-)

[2016-01-12 21:40] cagataycivici commented on #51
Time flies fast, I'll review in 2 weeks. Promise :)

[2016-01-12 22:16] kukel commented on #958
And how **should** it behave? Shrink? Or populate the free space with zebra-striped empty and non-selectable rows? The latter is not that difficult (I did it once). And it would even be easier if PF used css odd/even selectors with (either via real css or applying via jquery
) instead of applying odd/even in the renderer

[2016-01-12 22:26] kukel commented on #959
and what **is** the issue? Please improve at least the title

[2016-01-12 23:08] kukel commented on #962
PF version?

[2016-01-12 23:10] kukel commented on #939
Code example? Might just be that **your code** does not update the record set, just the size

[2016-01-12 23:28] kukel commented on #998
ok, I'll try to create some interesting combinations of components for testing with different versions of (in my case) Mojarra 2.0, 2.1 and 2.2 (all latest versions).

[2016-01-12 23:31] kukel commented on #720
shouldn't we file an issue with Mojarra then if MyFaces worked?

[2016-01-12 23:36] kukel commented on #929
related to all the repeating issues like  https://github.com/primefaces/primefaces/issues/720? https://github.com/primefaces/primefaces/issues/523 but the other wat around, so more like the original https://github.com/primefaces/primefaces/issues/88? Is the fix from the latter still needed if switching to the new p:repeat fixes it?

[2016-01-13 00:13] kukel commented on #933
PF version?

[2016-01-13 00:15] kukel commented on #922
show code please...

[2016-01-13 00:17] kukel commented on #920
no response in a month, please close

[2016-01-13 00:25] kukel commented on #898
Duplicate? https://github.com/primefaces/primefaces/issues/958 I personally prefer zebra striped empty rows

[2016-01-13 00:29] kukel commented on #894
use the forum for questions like this. @cagataycivici: please close

[2016-01-13 00:38] kukel commented on #841
'officially' facets should allow only one child. This is not always implemented correctly everywhere, but if you don't want to use a component that renders something (like a `h:panelGroup`, use an `ui:fragment`)

[2016-01-13 00:39] kukel commented on #829
show an mcve...

[2016-01-13 00:49] kukel commented on #821
@cagataycivici: should it be checked against all the allowed values shall I create a PR?

[2016-01-13 00:50] kukel commented on #813
no response in almost 3 months... close?

[2016-01-13 00:54] kukel commented on #750
remove global="true"... or use it differently. See the PF docs...

[2016-01-13 01:00] kukel commented on #686
they kind of are... they are all beneath the labels

[2016-01-13 01:02] kukel commented on #629
@tandraschko: then 'close' it or set a new milestone ;-)

[2016-01-13 04:53] sudheerj commented on #1008
The pull request is created as #1013

[2016-01-13 07:11] sudheerj commented on #68
Not able to replicate on PF 6.0-SHANSHOT.The columnToggler works properly inside naming containers as mentioned above.

[2016-01-13 07:19] dmaidaniuk commented on #629
This function for sure present in PrimeFaces 5.3. Thus I agree with @kukel that this task should be closed.

[2016-01-13 07:33] malex666 commented on #1009
Hi,
it doesn't matter if I use lazy true or false, even if I just leave the lazy option the same problem occurs, so this can't be a problem related to the lazyDataModel or the lazy option. Seems like this 'issue' is related to the liveScroll option

[code]

[2016-01-13 07:49] cchet commented on #1011
Sorry my mistake.
Its just an Elite account not a PRO.
Haven't had problems for a while :)

I don't see any possibility to upload the sample app in the forum.

[2016-01-13 08:10] kalgon commented on #1010
Sorry, I just wanted to demonstrate that displaying error messages was working at every level excepted on the iterated element in `p:dataTable`, I've stripped down my example to the bare minimum but it's less obvious to see what's wrong: [primefaces-issue-1010.2.zip](https://github.com/primefaces/primefaces/files/88543/primefaces-issue-1010.2.zip)

[2016-01-13 08:36] micer commented on #922
All files are copied from the PF ShowCase examples, I just modified the xhtml to combine both filtering and sticky header.
http://www.primefaces.org/showcase/ui/data/datatable/filter.xhtml
http://www.primefaces.org/showcase/ui/data/datatable/sticky.xhtml

This is the **XHTML**:

[code]

**StickyView.java**:

[code]

**FilterView.java**:

[code]

**CarService.java**:

[code]

**Car.java**:

[code]

[2016-01-13 08:49] tandraschko commented on #1007
"Anyone seriously still developing for IE8" - here! ;)
I would still wait 0,5 - 1 year as older IE support was cancelled some weeks ago?

[2016-01-13 08:49] tandraschko commented on #976
What do you mean? The commit is referenced in the history above.

[2016-01-13 08:50] #813 closed, assigned to nobody

[2016-01-13 08:52] tandraschko commented on #629
Sure but i assigned it to cagatay and it's still missing in the documentation.
I will send him an email.

[2016-01-13 09:16] andyfinch commented on #829
[code]

Run and enter value in one of the input fields. Click sort and value has gone.

I have worked around this with a javascript hack:

[code]

[2016-01-13 09:21] kukel commented on #68
@sudheerj: Most likely fixed due to one of the checkins related to https://github.com/primefaces/primefaces/issues/523 and all. Please check one release earlier to (either snapshot or current Elite) and mark it 'fixed' if it fails in earlier versions

[2016-01-13 09:51] elmehdi09 commented on #933
PF 5.1

[2016-01-13 10:50] artemyankovich opened #1014 "<p:tooltip> does not disappear after another Ajax request"
Hi!
I found bug in tooltip work. For example, i have these components in my view:

[code]

When client side callback execute when hide selectCheckboxMenu and in this moment tooltip is visible, this tooltip freeze on page and never dissapeared until full page reload. This occurs because after update selectCheckboxMenu by remoteCommand appers new div element in html page, same as tooltip div(even sa

[2016-01-13 11:23] Julienng commented on #813
Sorry guys, I forgot to respond to this. I'm not able to reproduce the issue with the current release (5.3) and I don't know with one I use when I test this...

[2016-01-13 12:43] lwojtysiak opened #1015 "DataTable stickyHeader not showing in dialogs"
When p:dataTable with stickyHeader="true" exists in p:dialog, additional table with header is rendered, but not showing while scrolling.

I have modal dialog with height="500"

[2016-01-13 12:56] lwojtysiak opened #1016 "DataTable stickyHeader not refreshing when sorting or filtering"
When p:dataTable with stickyHeader="true" is sorted of filtered by the user, the sticky header is not refreshed properly.

It shows new sorting column, but still shows old column as "active" and with one arrow (not two).
In the same time original header looses all information about sorting (all columns aren't 'active', all has two arrows).

[2016-01-13 14:49] wernerchr opened #1017 "Sticky: add position flag"
It would be nice to set position of sticky component to bottom or top of the screen.
When sticky element is placed at the bottom of the screen, it should be visible as soon as the page is loaded, even when the element is placed outside the field of view.

[2016-01-13 17:13] tecbea commented on #686
the looking stays much better if separated in rows;

[2016-01-13 20:32] kukel commented on #1017
uhmmm... that is like using css position:fixed and bottom:0... So imo no real advantage to that.

[2016-01-13 20:47] kukel commented on #1016
PF version? Example in mcve format?

[2016-01-13 20:48] kukel commented on #1015
PF version, example in mcve format?

[2016-01-13 22:34] ashishreddy123 opened #1019 "p:inputNumber with minValue resets when switching between tabs."
I have a `<p:tabView>` on my screen where one of the tabs(`<p:tab>`) has several `<p:inputNumber>` elements with minimum value set to -9999999999.99. When I enter a value like -5643.76 or 5643.76 and switch between the tabs, the input resets to its initial value whereas if the `<p:inputNumber>` doesn't have the 'minValue' attribute set, it retains/doesn't reset the value even if I switch between t

[2016-01-14 01:10] rinaldodev commented on #819
I'm having the same problem, but the component is binded to an attribute in the bean. I find it strange, because the component does exists in the page, but I still get the same error.

[2016-01-14 06:01] sudheerj commented on #1017
Even though it is easy to overwrite CSS or JS functionality it is better to have position attribute.Ofcourse it is less priority.

[2016-01-14 07:17] CSchulz opened #1020 "BlockUI should use animate flag for content"
At the moment the BlockUI has an attribute animate which should animate the visilibity changes. I have noticed that the flag is only used for the blocking div layer.

This means if you show and hide the BlockUI Widget with animate=false, you can see the message needs some time to disappear. This looks really weird (see right side).

![blockui](https://cloud.githubusercontent.com/assets/1520593/123

[2016-01-14 07:51] wernerchr commented on #1017
But when the position is fixed, the component appears always at the bottom. If the content is taller than the user’s viewport height, then the component should disappear from view and rest at the bottom of the page, as it would naturally.

Ok, but I don't know how to overwrite it.

[2016-01-14 09:54] #629 closed, assigned to cagataycivici

[2016-01-14 09:55] tandraschko opened #1022 "[Documentation] PrimeFaces.getWidgetById"
https://github.com/primefaces/primefaces/issues/629#

[2016-01-14 10:32] mrclBIE opened #1023 "Sticky: style broken after scrolling"
Hey,

today i updates my primefaces version from 5.2 on 5.3. After a while I noticed, that my sticky panel has a problem. After I scroll down and up again, the sticky component was some pixels wider than before. I downgraded to 5.2 and it works correctly again.

I compare the html and css and saw the difference:
5.2: panel width is 320px before and same after scrolling
5.3: panel width is 320px be

[2016-01-14 11:57] arunvc1 commented on #939
Try this example, go to the last row and delete
To fix this issue.
While deleting all the rows in the last page the value of **int first** should be set to the previous page.

[code]

Model

[code]

View

[code]

[2016-01-14 12:01] mertsincan opened #1024 "PFExtensions Migration: Knob"

[2016-01-14 12:08] #1024 closed, assigned to nobody

[2016-01-14 12:34] mtbadi39 commented on #958
_populate the free space with zebra-striped empty and non-selectable rows_ :) **I agree**

[2016-01-14 12:48] mertsincan opened #1025 "weekNumberCalculation support for Schedule"
Details;
http://fullcalendar.io/docs/display/weekNumberCalculation/

Added two attributes;
- **weekNumberCalculation** ; Valid values are "local" (default), "ISO" and "custom".
- **weekNumberCalculater** ; Client side function to use in custom weekNumberCalculation.

[2016-01-14 13:34] nmnemonic commented on #962
5.3.3.

[2016-01-14 14:04] Julienng commented on #841
Ok, thanks for the tips!

[2016-01-14 14:19] cagataycivici opened #1026 "Nested Dialog support for Dialog Framework"
Dialog Framework does not support nesting to open a dialog from another dialog. Add support for this as well passing data between.

[2016-01-14 14:26] #1026 closed, assigned to cagataycivici

[2016-01-14 15:40] emkatz opened #1027 "p:clientValidation works with p:message but not with p:messages"
There may be client side validation messages _and_ backend data depending faults that cannot be detected in javascript as the full backend data model is not accessable there.

Example usage is an unique value  e.g. username -> fault would be something like 'value already in use' . Showing only the first fault is mostly bad design.

[2016-01-14 18:54] #1025 closed, assigned to nobody

[2016-01-15 09:32] cagataycivici opened #1028 "Tree DragDrop JS error if selection is not enabled"
DragDrop of a node throws JS error if selection is not enabled on tree.

[2016-01-15 09:34] #1028 closed, assigned to cagataycivici

[2016-01-15 11:33] erickdeoliveiraleal opened #1029 "Update FullCalendar to 2.6"
https://github.com/fullcalendar/fullcalendar/releases

[2016-01-15 11:45] EugenFischer opened #1030 "Upgrade to jqplot 1.0.9"
# Please provide canvas in high resolution.
## Problem

Using primefaces graph component for any charts does looks blurred on retina display, because the canvas get interpolated for the resolution.
## Proposal

see http://stackoverflow.com/questions/20221461/hidpi-retina-plot-drawing.
I've already try and verify the solution, described there by extend the function in charts.js

best regards,
Eugen

[2016-01-15 12:38] cnsgithub opened #1031 "p:repeat component may cause random exception if var has the same name on two components"
Hi, i dont know how this happend, or how i can reproduce it but it did, after i tried the new p:repeat component

(using p repeat to iterate trough a collection, in this case it is not inside a different tag)

[code]

then somewhere deeper in the tree the same var name is used is used

[code]

[code]

So it seems that item still is referencing the first collection.

After reverting to ui:repeat fo

[2016-01-15 12:51] mertsincan opened #1032 "Facet header support for sheet names on XLS DataExporter"
You can use text in dataTable's facet header for sheet names. Default sheet name is datatable's id or datatable's clientId (with repeate attribute)

Exp;

[code]

[2016-01-15 13:05] #1032 closed, assigned to nobody

[2016-01-15 13:43] kukel commented on #1031
maybe that is one of the other 'reversed' problems with ui:repeat and PF is doing it 'correctly' (EL has no 'scoping' afaik)

[2016-01-15 13:46] kukel commented on #1030
PF **uses**, not develops jqplot, so should it not be a 'fix' over there? Maintaining patches within PF is not what should be done...

[2016-01-15 13:47] kukel commented on #1027
Read this and please post code... http://stackoverflow.com/help/mcve and version info

[2016-01-15 13:49] kukel commented on #1023
Does not happen in the showcase... with toolbar, so please create an [mcve](http://stackoverflow.com/help/mcve)

[2016-01-15 13:55] kukel commented on #1017
@wernerchr : that is not what you stated above:

Now you say it should float down if there is enough whitespace between the end of the document and the bottom of the screen, otherwise it should be at the end of the document text and

Two different things... Which one is it? The latter is just css: http://stackoverflow.com/questions/311990/how-do-i-get-a-div-to-float-to-the-bottom-of-its-container

[2016-01-15 14:03] cnsgithub commented on #1031
I was able to create a MWE to reproduce the issue. Multiple things have to be done in Order to reproduce.
- Having a p:outputPanel around the second place where var is used (here a dataTable)
- Using the var item inside a "rendered" attribute
- Calling an action
- Removing the p:outputPanel 'fixes' the issue. However it would still be nice to know why it happens

XHTML

[code]

Java-Stuff, 2 Class

[2016-01-15 15:41] giorgioprimefaces opened #1033 "Unify and fix row hover on selectable datatable"
if I set rowSelectMode="checkbox" row highlight on mouse over stops to work, here is the code of my datatable, anyone has the same problem? any workaround??
running on PF 5.3.5 , jsf 2.2.5
[test.zip](https://github.com/primefaces/primefaces/files/92111/test.zip)

[2016-01-16 04:26] german1410 commented on #844
This happens on the following page http://www.primefaces.org/showcase/ui/file/upload/auto.xhtml

[2016-01-16 09:29] cagataycivici commented on #1030
This is related to jqplot.

[2016-01-16 09:30] cagataycivici commented on #1030
Maybe we can do the change on our side by changing jqplot.

[2016-01-16 22:57] mertsincan opened #1034 "LiveScroll not working at various browser zoom levels"
Reported by Pro user;
We have seen an issue with applications deployed internal to the company that also manifest on the primefaces showcase. Here is the scenario:
In Chrome go to http://www.primefaces.org/showcase/ui/data/datatable/scroll.xhtml
In the browser, Click on upper right three-bar menu and select zoom 110% and LiveScroll stops working. It appears inconsistent and it may happen at differ

[2016-01-16 23:08] #1034 closed, assigned to nobody

[2016-01-17 00:41] djmj commented on #915
Is it the same reasony why Menu's do not support composite:renderFacet as child? I wanted to add certain items using a composite and facet definition.

[2016-01-17 10:51] mtbadi39 commented on #971
Another but related issue :
with : scrollable="true" scrollHeight="150"
without :  scrollWidth
**Header** and **Content** are not correctly aligned  !
![p](https://cloud.githubusercontent.com/assets/8750684/12377124/4c610546-bd12-11e5-89db-60f846022818.png)

[2016-01-17 11:15] mtbadi39 commented on #811
Possible duplicate of [#971](https://github.com/primefaces/primefaces/issues/971)

[2016-01-17 11:15] EugenFischer commented on #1030
Hi,
i've also add change request for jqpot. ( https://github.com/jqPlot/jqPlot/issues/51 )

Primefaces wraps jqplot with own javascript (charts.js) so adapt / change jqplot it's not enough for me.

[2016-01-18 09:13] productys opened #1035 "New inplace component"
Upgrade actual inplace component with this one: https://vitalets.github.io/x-editable/

[2016-01-18 10:18] fatdevelops opened #1036 "Improve SelectOneMenuRenderer for String objects (List<String> etc.)"
Please make the `SelectOneMenuRenderer` work for a collection of `String` objects to make it work for custom content.

Please see: http://stackoverflow.com/questions/34656127/primefaces-selectonemenu-with-fontawesome-icons-custom-fselectitems/34813602?noredirect=1#comment57372040_34813602
http://stackoverflow.com/questions/32735770/pselectonemenu-doesnt-render-custom-content-via-pcolumn-on-liststr

[2016-01-18 10:50] hinneLinks opened #1037 "Colspan problem on Datatable with hidden columns and rowExpansion"
I have a table with invisible columns, i use those to Export Data, i don't want to show in the UI.
The UI and the Export look fine, the UI dosn't have the ID-Table, the Excel-File shows it:
![Table Layout fine](http://up.picr.de/24320019ls.jpg)

If i expand the Table-Rows, the Expansion causing layout problems, since it uses colspan and count all rows, not just the visible ones:
![Table Layout bro

[2016-01-18 11:00] mertsincan commented on #1037
Thanks for the sample. I will work on it and get back to you.

[2016-01-18 11:59] kukel commented on #1035
PF uses its own compoents in the edit mode, so it would be way, way way to complex to integrate this component. If you see specific features that are not patented, feel free to create individual issues here

[2016-01-18 14:09] cnsgithub opened #1038 "Wrong year in calendar popup when used with German locale and EEE pattern"
Hi,

I am not sure if this bug is related to PrimeFaces (I am using 5.3.5) or jQuery's datepicker widget. However, this simple jsfiddle does work correctly: https://jsfiddle.net/2Ly6jfwg/2/

Initially the calendar's date is set to now. If you then click to open the popup, you'll see the year getting adjusted to '2021' for example.

XHTML:

[code]

JSF bean:

[code]

The java date pattern 'EEE, yyy

[2016-01-18 14:32] LuleJayjay opened #1039 "DefaultMenuItem: Id gets overwritten"
in BaseMenuRenderer encodeEnd a UniqueId is being generated for every MenuElement of the MenuModel.
If an ID was set before, it gets overwritten.

[2016-01-18 18:15] kukel commented on #1039
This is not a bug but as designed. Use a `DynamicMenuModel` if you want to assign ids yourself. Just keep in mind thatyou need to set them everywhere, also submenu's and groups

[2016-01-18 20:33] cagataycivici commented on #1035
I don't see a good reason to use that plugin instead of our own implementation optimized for JSF.

[2016-01-18 20:33] #1035 closed, assigned to nobody

[2016-01-19 07:10] cnsgithub commented on #1038
Including the appropriate script from https://code.google.com/p/primefaces/wiki/PrimeFacesLocales like mentioned in your documentation solved this issue. However, I just wonder if missing locales should lead to wrong functionality, that's still weird...

[2016-01-19 09:18] mertsincan opened #1041 "Sticky header issue on DataTable with filter"
Reported by Pro User;
We are using Datatable with stickyHeader="true". We have a column with SelectOneMenu filter.
On selecting any value in SelectOneMenu the selected value is not displayed.

[2016-01-19 09:25] #1041 closed, assigned to nobody

[2016-01-19 10:13] LuleJayjay commented on #1039
Did you even try it with DynamicMenuModel?
It doesn't work either!!
Please post an answer you really tried before posting.

[2016-01-19 11:49] LuleJayjay commented on #1039
To make the problem clearer:

if you set a String as the ID it gets still overwritten, because it needs an Integer later on:

BaseMenuRenderer PF 5.3.5 jar

  protected MenuItem findMenuitem(List<MenuElement> elements, String id) {
        if(elements == null || elements.isEmpty()) {
            return null;
        }
        else {
            String[] paths = id.split(SEPARATOR);

[code]

So why

[2016-01-19 13:34] cchet commented on #1011
Here a link to a sample app hosted by github.
https://github.com/Curecomp/primefaces-issues/tree/master/5.4.3/tree_drag_drop_ie

Have just tested it with primeface-5.4.5 and got the same result, so still not working.

[2016-01-19 14:39] mertsincan opened #1042 "Add disable and enable functions into SelectOneRadio widget"
Exp;

[code]

[2016-01-19 14:44] #1042 closed, assigned to nobody

[2016-01-19 18:02] sudheerj commented on #1033
Pull requested created is #1043

If you add rowHover="true" for the datatable then it adds row hover.By default rowHover is false.

[2016-01-19 18:42] sudheerj commented on #751
If separate paginator component takes more time then it is good to have header and footer facet for custom paginator to avoid duplicate ID issue.

[2016-01-19 18:50] sudheerj commented on #686
I didn't see filters in separate rows much.Do you have any demo examples where it used?

[2016-01-20 07:18] DovahSnow commented on #819
I have the same problem.

I get the component ID by javascript:  "PrimeFaces.widgets[message].id", then I use:

< pe:remoteCommand id="refreshWidgetCommand" name="refreshWidget" process="@this"
                              actionListener="#{controller.refresh}" >
                < pe:methodSignature parameters="java.lang.String" />
                < pe:methodParam name="id" />
< /pe:remoteCommand

[2016-01-20 08:09] DovahSnow opened #1044 "RequestContext.update() after upgrade PF to 5.3"
After I update PF, the RequestContext.update() not work (in 5.2 works). This problem looks like to
https://github.com/primefaces/primefaces/issues/819

The id component exists, but the method cannot find it. I get the component ID by javascript method: "PrimeFaces.widgets[message].id".

Regards.

[2016-01-20 08:55] tecbea commented on #686
http://openfaces.org/demo/datatable/DataTable_general.jsf

[2016-01-20 09:22] sudheerj commented on #220
The current latest version is 2.6.So this issue can be duplciate of #1029

[2016-01-20 10:53] tandraschko commented on #1044
You cant use the generated client for #findComponent. Just search how to use findComponent.
The expression likely starts with ":", and the clientId doesnt.
Use the forum for such questions next tome.

[2016-01-20 10:53] #1044 closed, assigned to nobody

[2016-01-20 23:23] cagataycivici opened #1046 "Cache for lazy loaded pages"
Add lazyCache option with lazyCacheSize to cache the lazy loaded pages. When table is loaded, make an ajax request async to do another load request for the next page and keep it in viewstate. When the user clicks next, load it from cache and make another async request to load the next potential one user can click.

This is based on a PRO user requirement.

[2016-01-21 07:35] DovahSnow commented on #1044
I don't use #findComponent. I need RequestContext.update() method, to refresh a component from a backingbean, like http://www.primefaces.org/showcase/ui/misc/requestContext.xhtml.

This is my code, in Primefaces 5.2 works.

[code]

Regards.

[2016-01-21 07:51] cagataycivici opened #1047 "Add tabindex to SelectManyCheckbox"
To allow customizing the tab order

[2016-01-21 09:09] ghost opened #1048 "Unsuspecting behavior for unselecting all items of a multiple p:autoComplete"
When using a `p:autoComplete` with `multiple="true"`, unselecting the last selected item sets the value to `null` where one would rather suspect an empty list to replace tedious `null` checks with `isEmpty()` checks on lists.

A possible solution would be to replace the beginning of  `AutoCompleteRenderer#getConvertedValue`

[code]

with the following code

[code]

[2016-01-21 11:03] jrry opened #1049 "p:imageCropper is non-responsive"
How to set boxWidth to 100%?

[2016-01-21 13:00] kafelez commented on #49
This is an issue since 2013
http://forum.primefaces.org/viewtopic.php?f=3&t=33452

Any code warrior there ? :)

[2016-01-21 13:11] kukel commented on #939
Did not try, but looking at your code and with lazyLoading, **you** control things. Why not set the 'first' of the datable? Only **you** know it became one page less

[2016-01-21 13:12] kukel commented on #971
@mtbadi39: Please post your PF  version... always...

[2016-01-21 13:14] kukel commented on #915
Yes it is...

[2016-01-21 13:46] tandraschko commented on #1044
Yeah, but internally to validate if the component exists. It was also a step to allow SEF to use by #update.
So try to prepend ":"

[2016-01-21 14:02] schlebe opened #1051 "dataTable column sorting sorts another table !"
I have written a complex program with 2 ui:repeat embedded.

In deeper ui:repeat, I have a table with some columns sortable.

When I click on column header to sort a specific column, Primefaces sorts and display the rows of first table. The second table has disappears !!!

After a lot of research and debug, I have finally found that this error is linked to Primefaces.

I have also written a very l

[2016-01-21 14:37] arunvc1 commented on #939
i could handle it, with this code

[code]

but is to possible to handle internally during render, since delete of all the records in last page leads to an empty list, if the first is not revised by the developer.

[2016-01-21 14:46] kukel commented on #1049
Use the forum first...

[2016-01-21 19:53] sudheerj commented on #684
This issue can be closed.SelectionMode supports only single and multiple options .If we observe the resolveSelectionMode method of DataTable renderer it changes the values as radio and checkbox based on column selection  mode.

public String resolveSelectionMode() {
        String tableSelectionMode = this.getSelectionMode();
        String columnSelectionMode = this.getColumnSelectionMode();

[2016-01-21 23:08] ova2 opened #1052 "Calendar: Issue with show calendar weeks"
In the attachment are two files with the displayed calendar weeks. One calendar shows the weeks in the locale "de" (German). Everything is ok. Another calendar shows the weeks in the locale "en" (English). The weeks are not correct. I know, there is a small difference in the weeks for different locales. See the good explanation here: http://www.calendar-week.org/ But the weeks in "en" (also "en_US

[2016-01-22 10:56] LuleJayjay commented on #1039
another Problem is, that it is not possible to see any Ids of the MenuItems in the jsf. So no JavaScript actions possible. Something is totally wrong with ids and menuItems

[2016-01-22 10:59] cnsgithub commented on #1051
I have noticed many problems while using ui:repeat as well. (And also the new p:repeat). When UI repeat causes trouble i usually use jstl tags, which is evaluated at build time. It may be worth a try for you..

[code]

[2016-01-22 11:30] schlebe commented on #1051
Thanks for your help, but I'm actually in Mojara 2.0.2 and there is a big error with c:forEach et c:if tag that prevent me to do the test you propose.

I have also replaced all c:foreach by ui:repeat to allow my program to work fine.
And it is what it is doing since I have no problem to display my page.

The problem is only linked to sorting column. It is why I think that the problem is linked to

[2016-01-22 21:44] #1047 closed, assigned to cagataycivici

[2016-01-24 14:48] tandraschko commented on #1008
merged the PR from sudheer + did small cosmetic changes.

[2016-01-24 14:48] #1008 closed, assigned to tandraschko

[2016-01-24 16:02] tandraschko opened #1053 "Terminal: always scroll down to the last item"

[2016-01-24 16:02] #1053 closed, assigned to tandraschko

[2016-01-24 16:02] tandraschko opened #1054 "Terminal: hide prompt until response received"

[2016-01-24 16:03] #1054 closed, assigned to tandraschko

[2016-01-24 16:03] tandraschko opened #1055 "Terminal: escape html"

[2016-01-24 16:03] #1055 closed, assigned to tandraschko

[2016-01-24 16:08] tandraschko commented on #1052
Hi Oleg,
would be great if you could provide a PR!

[2016-01-24 16:16] #1020 closed, assigned to tandraschko

[2016-01-24 16:22] tandraschko commented on #51
The PR for the pagination looks fine for me. Not sure about the livescroll PR - never checked that part of the datatable.
Would be great if you could review both, Cagatay.

[2016-01-24 16:24] djmj opened #1056 "Add attribute rel to menuItem"
Add attribute rel to menuItem to be rendered in html anchor tag.

[2016-01-24 16:30] ova2 commented on #1052
Hi Thomas,

I think this is a problem of jQuery Calendar Widget. Not sure, I can fix this :-). I just created an issue if somebody has the same problem and knows the solution.

[2016-01-25 08:05] cnsgithub opened #1057 "Effects not working on calendar date selection"
Hi,

It seems impossible to show an effect on date selection in p:calendar - could you please check this:

[code]

`event='click'` fires too early on click at calendar's input field...

Kind regards

[2016-01-25 09:02] cchet commented on #1011
Has anyone tried the sample ?

[2016-01-25 10:52] cnsgithub opened #1058 "Disable effect queuing"
Hi,

In my application there are several input controls connected to a button via `p:effect for="btn"`. If an input value changes, the button will pulsate. However, if one changes multiple input values one after the other, the effects will be queued and executed consecutively, resulting in very long pulsation.

Here's an old but still valid explanation that also shows how to overcome this issue: h

[2016-01-25 12:43] ova2 commented on #1052
is an jQuery Calendar bug https://bugs.jqueryui.com/ticket/14907

[2016-01-25 13:26] hurrrrricaaaaane opened #1059 "SEF: implement expression to find components by their id ignoring naming containers"
# {p:component()} loops the tree to find a component with the given id.

Thats a different algorithm then using UIComponent.findComponent which is just searching for the id inside the current UINamingContainer (or using a absolute id).
This allows to update a component without knowing the complete path to the component:
Example:
update="myInput"
instead update=":form:composite1:myInput"

[2016-01-25 15:06] tandraschko commented on #1059
Hmmm, should be possible easily via custom keyword:
update="@id(myInput)"

But this won't work if a single component is expected (like p:outputLabel "for") as it might return multiple components.
Will think about it.

[2016-01-25 15:55] kukel commented on #1056
Please file a pull request

[2016-01-25 15:56] kukel commented on #1051
The problem is not only releated to sorting. And did you read about  `p:repeat`? It was mentioned (and several related issues) before you posted this. Please do a little searching upfront

[2016-01-25 18:28] fjvasconcellos opened #1060 "DataTable: with SummaryRow - Nullpointer on paginate"
Error stacktrace

[code]

My DataTable has 6 results and show 4 in a page.
When paginate the error happens because the variable "nextGroupByData" is null.

[2016-01-25 19:28] tandraschko commented on #1059
I'm not sure if i would use it my application but the implementation was very simple.
Please test it.

Example:
<h:inputText id="myInput"/>
<h:form>
     <h:inputText id="myInput"/>
</h:form>

@id(myInput) will find both inputs.

Note: @id() searches relative to the current component. If you would like to start the search from the root, you can use @root:@id(myInput)

[2016-01-25 19:28] #1059 closed, assigned to tandraschko

[2016-01-25 19:36] tandraschko opened #1061 "SEF: Implement @root"
which resolves to the UIViewRoot

[2016-01-25 19:36] #1061 closed, assigned to tandraschko

[2016-01-25 19:41] tandraschko opened #1062 "[Documentation] document @root and @id"
@root: resolves to the UIViewRoot component. Can be used to start searching from the root instead the current component.

@id: can be used to search components by their id ignoring the component tree structure and naming containers.
Example:
form:myInput
myInput
form:myNamingContainer:myInput

all 3 components will be resolved.

[2016-01-26 07:17] mweiland opened #1063 "p:sticky does not work after partial page request"
if you have a large table created ui:repeat where the headers are p:sticky enabled, on page refresh anything works fine.

if you load the ui:repeat elements and render the table with f:ajax or p:ajax, the p:sticky does not work any more.

you can reproduce it using this markup where listBean is session-scoped, updating the ajax-update-panel with ajax; p:sticky will not work. after complete page re

[2016-01-26 08:28] #1063 closed, assigned to nobody

[2016-01-26 08:28] mweiland commented on #1063
not reproducible any more

[2016-01-26 09:11] cagataycivici opened #1064 "ColumnToggler fails with Priority Columns"
Toggling columns does not hide or show the column with priorities

[2016-01-26 09:31] schlebe commented on #1051
For me the problem is only related to sorting.
The display of all components is perfect.
I have no crash on sorting column.

I have searched upfront like you propose and I have found nothing !!!

I have searched p:repeat in 5.3 documentation and I have found only 8 ui:repeat 1 no-repeat and nothing about p:repeat !!! This tag doesn't exists ! Where can I find documentation on it ?

AND this is not

[2016-01-26 09:32] #1064 closed, assigned to cagataycivici

[2016-01-26 09:33] cagataycivici opened #1065 "TabView Showing Disabled Tab when Closing another Tab"
Reported by a PRO user;

We have a TabView with 4 tabs. The 3rd tab is Closeable and the 4th Tab is Disabled. If you click and close the 3rd tab you will notice it displays the contents of the Disabled tab. This is not desirable because the Tab is disabled and the user should not be able to see data on it.

[2016-01-26 09:34] #1065 closed, assigned to cagataycivici

[2016-01-26 09:41] mrswadge opened #1066 "Dynamic resource dependency loading"
Provide a mechanism to allow dynamic resource loading for primefaces extensions.

Full discussion here, including the forum user 'tandraschko' suggesting a solution for v6.0: http://forum.primefaces.org/viewtopic.php?f=14&t=44291

Original post:
I've been writing my first primefaces extension and it's been going well. I have a new component which is entirely functional when using the taglibs I hav

[2016-01-26 10:25] ralf-br commented on #695
Thanks for the partialSubmit workaround!
(Easier than the other also working workaround i found here: http://forum.primefaces.org/viewtopic.php?f=3&t=18159)

[2016-01-26 10:48] kukel commented on #1060
Use the forum please and create a GOOD working minimal code example!!!

[2016-01-26 13:52] mrclBIE commented on #1023
[code]

[2016-01-26 13:54] mrclBIE commented on #1023
I hope this helps...
Tested with Chrome 47.0.2526.111 and 48.0.2564.82 , Firefox 43.0.4 and IE 11.0.9600.18163.

Regards,
Marcel

[2016-01-27 07:52] mertsincan opened #1067 "Tree throws NPE on multiple selection"
Stack trace;
java.lang.NullPointerException: null
at org.primefaces.component.api.UITree.updateSelection(UITree.java:520)
at org.primefaces.component.api.UITree.processUpdates(UITree.java:490)
at org.primefaces.component.tree.Tree.processUpdates(Tree.java:405)
...

[2016-01-27 08:13] #1067 closed, assigned to nobody

[2016-01-27 12:59] Vomitory1 opened #1068 "error in p:inputTextarea"
issue when press enter key into textArea

it count 1 character when keyenter have 2 characters

in the screenshot i pressed many times key enter or intro
![captura](https://cloud.githubusercontent.com/assets/12599197/12614053/7d7a2d7c-c4cb-11e5-8123-e40cd304514f.JPG)

[2016-01-27 13:14] mertsincan opened #1069 "resultsMessage problem on AutoComplete"
Reported by Pro User;
Attribute resultsMessage is stored as 'resultsMesage' in the WidgetVar.

[2016-01-27 13:17] #1069 closed, assigned to nobody

[2016-01-27 13:50] kannextic commented on #894
@kukel I'm sorry, but that wasn't (really) a question. It's still a feature request.

[2016-01-27 14:50] mertsincan opened #1070 "Reimplement StickyHeader in DataTable"

[2016-01-27 15:02] #1070 closed, assigned to nobody

[2016-01-27 16:31] andrei-ivanov opened #1071 "Space between menu button and submenu in IE"
Hi,
In IE (tried 9 and 11), there is a space between the menu (the one with "Actions" label) and the dropdown containing the items that shows up on mouse over.
This causes the very annoying issue that moving the mouse towards the menu items will reach that space causing the submenu to dissapear. The only way to make it is to move the mouse very fast over that gap.

As far as I see this is caused b

[2016-01-27 16:56] sudheerj commented on #1068
AFAIK keyenter will consume only character in inputtextarea.Any live demos where it takes two characters? Or Do I miss anything?

[2016-01-27 17:13] sudheerj commented on #1071
Which menu component you are trying on? What changes we have to do replicate the issue on showcase example?

[2016-01-27 17:17] andrei-ivanov commented on #1071
I've updated the description with more details.

[2016-01-27 17:25] andrei-ivanov commented on #1071
We're also using the Flick theme, version 1.0.10.
Trying the official showcase page with the Flick theme, I can't reproduce the issue.
http://www.primefaces.org/showcase/ui/menu/menubar.xhtml

But looking with the browser DOM inspector, I don't see any custom styles getting applied to the elements, only PF styles and theme styles.

[2016-01-27 18:33] tandraschko opened #1074 "PF HeadRenderer doesn't render the id"

[2016-01-27 18:34] #1074 closed, assigned to tandraschko

[2016-01-27 19:09] tandraschko opened #1075 "Updating h:head doesn't work correctly"
we need a special check on the client side, so that we only replace the content of the head tag instead the complete tag.

[2016-01-27 19:20] #1075 closed, assigned to tandraschko

[2016-01-28 09:02] mertsincan opened #1076 ""disabled" attribute has no effect on Mobile inputTextarea"

[2016-01-28 09:09] #1076 closed, assigned to nobody

[2016-01-28 09:31] tandraschko opened #1077 "New FileUpload mode: simple with autoUpload and ajax"
It's a really nice feature to provide a autoUpload with ajax for the simple mode.

[2016-01-28 16:52] cagataycivici commented on #51
@tandraschko Thanks, I'll review tomorrow.

[2016-01-28 18:23] kukel commented on #1068
PF version? Browser versions?

[2016-01-29 02:49] sudheerj commented on #1057
For p:effect compopnent event should be DOM events like click,mouseover etc.dateSelect is just an ajax event from PrimeFaces so it won't work with 'dateSelect' event.

Also this effect will be applied only to the calendar input but not calendar popup.You can't define 'for' attribute for generated popup which doesn't exist as JSF component.

So in this case you can do this,

[code]

[2016-01-29 05:23] sudheerj commented on #971
Yes it is not caused by any other CSS styles.As mentioned earlier It can be replicated in showcase as well.

[2016-01-29 05:26] sudheerj commented on #958
In that case it shoudn't show any empty space.In my opinion when there are no records why we need free space with zebra-striped empty and non-selectable rows.

[2016-01-29 06:15] cnsgithub commented on #1057
Thanks for pointing this out.

Final solution:

[code]

Feel free to close this issue.

[2016-01-29 08:20] romsac opened #1078 "Javascript error while changing page on datatable using en_US locale"
Hi
It's not possible to change page in datatable due to error in javascript when using en_US locale.

Details:
To reproduce:
1.  specifying locales for calendar on a xhtml page
   `PrimeFaces.locales['en_US']={
       };`
2. insert datatable with paginator on the xhtml page
3. change page of datatable

Symptioms:
- the error occures:
  `TypeError: b.locales.en_US.aria is undefined`
  `...var c=thi

[2016-01-29 09:23] rdebusscher opened #1079 "Documentation: Incorrect code in tree - Getting started"
The documentation (PDF) has an error in the _getting started_ code example (3.141 in latest available PDF) of Tree component.

[code]

But Treenode is (now) an interface and can't be instantiated. It must be changed to **DefaultTreeNode** probably.

[2016-01-29 09:49] sudheerj commented on #35
This can be done by using keup events

`if(key === keyCode.BACKSPACE){
                var selectedItems = $this.multiItemContainer.children('li.ui-autocomplete-token');
                  if(selectedItems.length > 0) {
                      selectedItems.eq(selectedItems.length-1).remove();
                  }
            }`

[2016-01-29 12:08] mertsincan opened #1080 "Move Buttons issues on OrderList with multiple selection"
Reported by PRO User;
p:orderlist is misbehaving while ordering a multiple select.
This is reproducable in PF-Showcase:
1. goto p:orderlist example with pojo, clip effect etc...
2. Select Afterwork and Aristo
3. Click the MoveUp-Button until Aristo is top and Afterwork is second
=> if you press now the move down button, we see the effect but no reordering
=> Move Bottom, Top and Up works and after

[2016-01-29 12:20] #1080 closed, assigned to nobody

[2016-01-29 13:44] jnr25 opened #1081 "Picklist: move selected (with CTRL button) with mouse is not working - only the touched one is moved"
In picklist when selecting elements from source with CTRL button and mouse and then moving with the mouse to the target, only the touched one is moved but not other all marked as selected.

Try it in showcase http://www.primefaces.org/showcase/ui/data/pickList.xhtml

[2016-01-29 14:43] tandraschko commented on #1078
You need to define "aria" as a sub-array.
e.g. -> https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/core/core.js#L658

[2016-01-29 14:43] #1078 closed, assigned to tandraschko

[2016-01-29 15:40] mertsincan opened #1082 "TreeTable throws NPE on checkbox selection with required"
If a treeTable has checkbox selection and required, if no selections have been made a null pointer is thrown at validations phase.

[2016-01-29 15:56] #1082 closed, assigned to nobody

[2016-01-29 16:05] sudheerj commented on #35
The PR is created at #1083

[2016-01-29 16:07] sudheerj commented on #1079
All the examples of Tree component need to be modified with DefaultTreeNode.

[2016-01-29 17:27] sudheerj opened #1084 "[Documentation]Effect component wrong attribute name"
In 3.41 section Effect component 'widgetVar' attribute written as 'effect' attribute

[2016-01-29 18:39] sudheerj commented on #1058
Lets create a pull request by adding a new attribute like queueEffects or clearEffects etc.

[2016-01-29 18:42] sudheerj commented on #1057
You are welcome.Yes that is pure jquery UI effects with possible options.

[2016-01-29 19:32] sudheerj commented on #1056
PR is create at #1085

[2016-01-29 20:03] sudheerj commented on #968
Issue title can be change to '[Documentation]Add header facet to p:dialog'

[2016-01-30 03:20] sudheerj commented on #81
I tried to replicate on latest showcase(based on 5.3) but due to some reason the listener itself not invoked.

[2016-01-30 04:10] sudheerj commented on #106
Have to decide whether it should be a simple tooltip like other PF components or display either tooltip or labelTemplate at a time.

[2016-01-30 04:27] sudheerj commented on #118
I think we need both showEvent and hideEvent instead.We should decide whether we need only event attribute or both.

[2016-01-30 06:12] sudheerj commented on #831
In autocomplete.js file the paste event is prevented by below code snippet.

`if($this.suppressInput) {
            e.preventDefault();
            return;
        }
`
Do we really need this code block?

[2016-01-30 22:25] miron4dev opened #1086 "GMap geocode event listener are invoked only when result is not empty"
1. Use the example from http://www.primefaces.org/showcase/ui/data/gmap/geocode.xhtml
2. Type some nonexistent location
3. onGeocode method will not be invoked.

[2016-01-31 09:55] sudheerj commented on #846
The PR is create at #1087

[2016-02-01 07:11] malex666 commented on #1009
any news? Datatables are highly unusable if you can't update the table as it is now.

[2016-02-01 09:52] regenduft opened #1088 "Primefaces Editor p:editor not displayed in Firefox / IE, when inside dialog iframe"
I am opening a dialog inside my bean with

RequestContext.getCurrentInstance().openDialog("emailComposerDialog", options, params);

Thus, the email composer is displayed by primefaces inside an iframe.

But the p:editor component (inside this dialog) is NOT displayed anymore, after we upgraded to primefaces elite 5.3.6
It was still working fine with the version primefaces elite 5.3.5

It still wor

[2016-02-01 10:59] Rapster opened #1089 "Autocomplete and forceSelection does not support carriage return due to val jquery function"
Using Primefaces 5.3,

First, The elements set in autocomplete contain a carriage return. The component is filled using this: `$this.currentItems.push($(item).attr('data-item-label'));` which keep the carriage return.

Secondly, and using forceSelection method. The selected element is retrieved by using `val()` jquery function _(see setupForceSelection function)_. As mentionned in jquery documenta

[2016-02-01 11:23] carlosandriao opened #1090 "Problem with defaultcommand"
When I have a defaultcommand in a frame and i paste a text in a field with mask using ctrl + v, the defautlcommand is activated.

[2016-02-01 12:32] mertsincan commented on #1088
Can you please attach sample codes for us to replicate?

[2016-02-01 14:51] kalgon commented on #1010
I am also trying to edit each row by opening a `<p:dialog>`. When I click save in my dialog, I close the dialog and try to re-render the original row in my table (`<f:ajax ... render=":myform:lines:#{myBean.selectedIndex}" />`) but that does not work. I can however re-render, the whole table (myform:lines) or subcomponents (myform:lines:#{myBean.selectedIndex}:myproperty). Do you think it is relat

[2016-02-01 14:53] #1088 closed, assigned to nobody

[2016-02-01 15:10] VsevolodGolovanov commented on #388
Presumably was fixed in #1005 for backspace, but not delete.

[2016-02-01 15:16] mertsincan opened #1091 "TreeTable required selection validation problem"
Reported by Pro User;
I can submit a p:treeTable which is selectable and required with an empty selection.
Examplecode - modified from Showcase-Example
`
<h:panelGrid columns="1" cellpadding="5" id="myPanelGrid">
  <p:message for="testTreeTable" />
  <p:treeTable id="testTreeTable" value="#{ttSelectionView.root1}" var="document" required="true" selectionMode="single" selection="#{ttSelectionView.s

[2016-02-01 15:21] tandraschko commented on #1090
Please provide a forum post with a example.

[2016-02-01 15:22] #1091 closed, assigned to nobody

[2016-02-01 16:49] mbeedub commented on #60
Would be an incredibly useful enhancement.

[2016-02-02 09:31] giorgioprimefaces commented on #1033
No it doesn't work, either using  rowHover="true" or not, rowhover starts to work if I do not use  rowSelectMode="checkbox", I'm having the same problem with PF 5.3.6
hope you will close #1043 soon

[2016-02-02 10:39] cagataycivici opened #1092 "Tab focus break on <p:selectCheckboxMenu />"
When <p:selectCheckboxMenu /> in a page with tabindex. On navigating the focus using tab, there is a break on focus just after <p:selectCheckboxMenu />. After which focus continues with the tab order.

Note that the issue occurs only when using tabindex feature and drop down is not expanded.

[2016-02-02 12:39] chuckumi opened #1093 "Active menuitem issue on MegaMenu"
Hi,
I am using PrimeFaces 5.3 (from maven) and I've realized that **ui-state-active** in megamenu is not working. ui-state-active always stay on first menu item.

Here is a code snippet:
`<h:form>
<p:megaMenu orientation="horizontal" activeIndex="#{menuTop.selectedPage}" styleClass="menu_top" id="menu_top">
                        <p:menuitem value="overview" outcome="/admin/index" icon="fa fa-th"

[2016-02-02 14:14] mwabdo opened #1095 "Dashboard charts RTL direction"
Hello,

[code]

Regards,

[2016-02-02 14:34] tandraschko opened #1096 "[Documentation] remove readonly attribute from button"
1) it's not implemented currently and only available in the documentation
2) it's not supported in html - i will also remove it from the CommandButton

[2016-02-02 14:35] tandraschko opened #1097 "Remove readonly from commandButton"
it's not suppored in html and also not used in p:button

[2016-02-02 14:36] tandraschko commented on #1096
Same for SplitButton

[2016-02-02 15:23] VsevolodGolovanov opened #1098 "Facelet parameter mapping not resolving when binding p:ajax listener to a method with an event argument"
PrimeFaces 5.3.

Simple reproducer.

**ajaxview.xhtml**

[code]

**ajaxframe.xhtml**

[code]

**AjaxBean.java**

[code]

Deploy, open ajaxview.xhtml in the browser.
When changing tabs, observe the case "call via ui:param with event arg" result in

[code]

The problem is in the `org.primefaces.behavior.ajax.AjaxBehaviorListenerImpl.processCustomListener(FacesContext, ELContext, AjaxBehaviorEvent)`

[2016-02-02 15:31] tandraschko commented on #1098
We can't fix this easily as we don't know the EventClass at building time: AjaxBehaviorHandler
To fix this, we must create a mapping between Component - Eventname - EventClass.

[2016-02-02 15:31] tandraschko commented on #1098
If you would like to create such a mapping, please ping me.

[2016-02-02 15:53] tandraschko commented on #1098
i could imagine something like:

[code]

Components with custom events need to implement this e.g.:

[code]

The AjaxBehaviorHandler could lookup the event class via the event name and pass the a methodExpression for the event class to the AjaxBehaviorListenerImpl.

[2016-02-02 20:04] #35 closed, assigned to tandraschko

[2016-02-03 09:32] schlebe commented on #1001
this message to reopen this Change Request

[2016-02-03 13:34] tandraschko opened #1099 "Load resources with async: true"
The newest chrome version logs a warning if resources are loading synchronous.

[2016-02-03 15:07] urbanq opened #1100 "Browser's dialog do not open when using <p:fileDownload/>"
component:
`<p:fileDownload value="#{bean.file}" contentDisposition="attachement"/>`
primefaces version:
5.3

Browser Dialog with option to choose where to save file is not opening in IE and Chrome.

Firefox 41.0.2: OK
IE 11: NOTOK
Chrome 48: NOTOK.

Solution:
class: org.primefaces.component.filedownload.FileDownloadActionListener
method: processAction
bug line:
`externalContext.setResponseHeader(

[2016-02-03 17:20] tandraschko opened #1101 "RequestContext#update validation should skip unrendered components"
If you update a compoent, it must be rendered. So skipping unrendered prevents error and improves performance.

[2016-02-03 17:22] #1101 closed, assigned to tandraschko

[2016-02-03 17:25] tandraschko opened #1102 "SEF: SKIP_UNRENDERED should be default"
Many component references required the component to be rendered on the client.
If you reference a e.g. a match component for p:password, it must be available on the view.

So skipping unrendered prevents error and improves performance.

[2016-02-03 17:27] tandraschko opened #1103 "Fix SEF bit options"

[2016-02-03 19:25] tandraschko commented on #1103
Fixed as
Options.VALIDATE_RENDERER | Options.IGNORE_NO_RESULT
would be the same as
Options.PARENT_FALLBACK

[2016-02-03 19:26] #1103 closed, assigned to tandraschko

[2016-02-03 20:33] tandraschko commented on #1102
set SKIP_UNRENDERED as default and introduced VISIT_UNRENDERED to allow in special cases.

[2016-02-03 20:33] #1102 closed, assigned to tandraschko

[2016-02-04 03:59] sudheerj commented on #1100
I can't see browser dialog box even after the fix.Anyway just create a pull request.

[2016-02-04 07:37] mertsincan opened #1104 "Widget init fails after dynamic resource loading"

[2016-02-04 07:39] #1104 closed, assigned to cagataycivici

[2016-02-04 10:57] mertsincan opened #1105 "StyleClass values aren't applied correctly to some components in PFMobile"
Fixed for SelectOneRadio, SelectManyButton, SelectOneButton and OverlayPanel components.

[2016-02-04 11:02] #1105 closed, assigned to nobody

[2016-02-04 12:07] mertsincan commented on #632
Please try with 5.3.4, 5.2.17 or 6.0.
Similar issue; https://github.com/primefaces/primefaces/issues/963

[2016-02-04 12:07] #632 closed, assigned to nobody

[2016-02-04 12:21] urbanq commented on #1100
Sory, my mistake: should be contentDisposition="attachment" not a "attachement".

Because contentDisposition can have only 2 values: "attachment" or "inline"
It works OK on Firefox, IE and Chrome.

[2016-02-04 12:21] #1100 closed, assigned to nobody

[2016-02-04 13:37] mertsincan opened #1106 "Add custom element support for time controlers to Calendar"
If users want to create a custom time controller, they can add time timeControlType="custom" and timeControlObject="(Client side an object)".

[code]

Details; "Options" tab in http://trentrichardson.com/examples/timepicker/#input_examples

Example Screenshot;
![capture](https://cloud.githubusercontent.com/assets/11868120/12816402/fcc4b0f4-cb54-11e5-95c6-9aca34abd2cb.PNG)

[2016-02-04 13:44] #1106 closed, assigned to nobody

[2016-02-04 17:40] mores opened #1107 "vertical carousel broke after rewrite in version 5.2.8 and 5.3"
I believe vertical carousel broke after the rewrite: http://blog.primefaces.org/?p=3569

A vertical carousel is working as expected with version 5.2.7.

`<p:carousel id="availableCars" value="#{InboxDataTable.items}" vertical="true" headerText="Inbox" var="inbox" itemStyle="height:300px;width:300pxtext-align:center" numVisible="5" style="width:300px" >
   <h:panelGrid cellpadding="5" columns="1">

[2016-02-04 18:38] lcsdms commented on #1014
I'm having the same problem with p:panel and p:inputText

`<p:panel id="test_panel">
                            <p:inputText id="test_input">
                                <p:ajax event="change" update="test_panel"/>
                            </p:inputText>
                            <p:tooltip id="tooltip_id" for="test_input" showEvent="focus" hideEvent="blur" styleClass="tp-com-imagem"   >

[2016-02-04 22:29] tandraschko opened #1109 "PFExtensions Migration: ImportConstants"

[2016-02-04 22:29] tandraschko opened #1110 "PFExtensions Migration: ImportEnum"

[2016-02-05 08:15] cnsgithub opened #1111 "SelectManyMenu: filtering causes the items to appear with a huge distance to checkbox"
Hi, If the width of the component is set manually (for example if you want it to match a different input component, the checkbox colums has a huge distance.

I know it can be fixed by overriding the CSS (Almost 300 lines of CSS workarounds already) - but please fix it in the component code, as i think the checkbox column should be fixed by default, it makes no sense having it grow like that.

It c

[2016-02-05 09:01] mertsincan opened #1112 "Upgrade to TimePicker 1.6.1"
From v1.4.5 to v1.6.1

[2016-02-05 09:07] mertsincan opened #1113 "Add timeInput attribute to Calendar"
Allows direct input in time field. Default is false.
Details; http://trentrichardson.com/examples/timepicker/#input_examples

[2016-02-05 09:13] #1112 closed, assigned to nobody

[2016-02-05 09:13] #1113 closed, assigned to nobody

[2016-02-05 09:47] mertsincan opened #1114 "InputNumber issue on keyup/down event"
Reported by Pro User;
We are using <p:inputNumber../> in our application. We noticed that on key event the value entered in the <p:inputNumber../> field does not get processed for the first time. We get null.
On the corresponding key events the old value (value entered on the previous key event) is being processed.
Please find the sample code below:

[code]

[2016-02-05 09:53] #1114 closed, assigned to nobody

[2016-02-05 11:58] mtrinidad commented on #287
This was added to 5.3 version ?

[2016-02-05 12:03] erik-wramner commented on #287
No, we are still waiting. See #51. There should have been a review 8 days ago, but so far I haven't heard anything. Hopefully it will get accepted soon, I don't like using patched versions of the code.

[2016-02-05 12:05] erik-wramner commented on #51
Any news on this and the related #287?

[2016-02-05 13:36] erik-wramner opened #1115 "PrimeExceptionHandler fails if response has been committed"
If an exception occurs during the rendering phase and the response has been committed the PrimeExceptionHandler still calls redirect. That leads to an IllegalStateException and a partial page is rendered. It would be nice if the exception handler could check for a committed non-ajax request and at least attempt to salvage the situation. I will add a pull request shortly.

[2016-02-05 13:38] tandraschko commented on #1114
I think your commit breaks the complete inputnumber.
It's currently built with a input and a hidden input.
The valid and cleaned value (without any prefix und suffix!) will be posted to the server and used for further processing.

[2016-02-05 13:43] tandraschko commented on #1114
To fix the keyup or any other event, you must do something similiar to:
https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/inputnumber/2-inputnumber.js#L46

copyValueToHiddenInput must be executed to fill the hidden input before executing any ajax request.

So please revert and fix it the correct way.

[2016-02-05 13:46] tandraschko commented on #1115
Looks good, thanks for the PR.

[2016-02-05 13:46] #1115 closed, assigned to tandraschko

[2016-02-05 15:55] mertsincan commented on #1114
Thanks a lot,Thomas.

[2016-02-07 18:27] #1109 closed, assigned to tandraschko

[2016-02-07 18:27] #1110 closed, assigned to tandraschko

[2016-02-08 09:18] #1092 closed, assigned to cagataycivici

[2016-02-08 12:56] cagataycivici opened #1117 "TabController for Accordion"
Create tabController attribute which is a methodexpression that takes tabChangeEvent or tabCloseEvent as parameter and return true or false to prevent a tab from opening or closing depending on business rules.

This is a PrimeFaces PRO user request.

[2016-02-08 13:00] #1117 closed, assigned to cagataycivici

[2016-02-08 13:54] cagataycivici opened #1118 "Add title option to selectBooleanCheckbox"
Requested by community;

http://forum.primefaces.org/viewtopic.php?f=3&t=44411

[2016-02-08 13:55] #1118 closed, assigned to cagataycivici

[2016-02-08 14:15] #101 closed, assigned to nobody

[2016-02-08 15:02] tandraschko opened #1119 "[perf] cache BV Validator instance"
Currently we create new validator for each property in BeanValidationMetadataExtractor and BeanValidationMetadataMapper via .getValidatorFactory().getValidator();

The problem is that getValidator always creates a new one - this leads to bad performance as e.g. bval implemented the caches on Validator level.

[2016-02-08 15:05] tandraschko opened #1120 "Release the ValidatorFactory"
since BV 1.1 it contains a close method
Otherwise mem leaks will occur.

[2016-02-08 15:30] alexandru-bitlan commented on #1016
I have the same issue in my web application.
In the end I threw stickyHeader="true" away.

Primefaces 5.3 in my case.

[2016-02-08 15:32] cagataycivici commented on #51
First to start with @kukel 's patch. This change is backward compatible right? I mean for users who load the actual number of rows, the changes in pr does not break anything as totalRecords will be the real totalRecords.

[2016-02-08 15:41] cagataycivici commented on #51
Both patches are based on the same idea, one question so it is up the developer to decide if pagination/scrolling should continue by adding at least +1 to the current number of loaded rows right? My question is how would they know where to stop and not update rowCount -> totalRecords to avoid updating the ui in the end?

[2016-02-08 18:37] #1119 closed, assigned to tandraschko

[2016-02-08 18:37] #1120 closed, assigned to tandraschko

[2016-02-09 05:50] erik-wramner commented on #51
Both patches are backwards compatible and they are based on the same idea. As for how the developer knows when to stop: when there is nothing more to read. The LazyDataModel asks for more rows. Assume a page size of 20. Then the first call will read 21 records, return 20 and report totalRecords as 21. If the user reads the next page (the client thinks there is one more record) it will read startin

[2016-02-09 09:33] mertsincan opened #1122 "Add time field attributes to Calendar"
Added showHour, showMinute, showSecond and showMillisec attributes.
Details; http://trentrichardson.com/examples/timepicker/#input_examples

[2016-02-09 09:45] #1122 closed, assigned to nobody

[2016-02-09 10:19] mertsincan opened #1123 "Add scroll wrapper for Mobile DataTable"
Reported by Pro User;
When DataTable's column width specified by px, and total width exceed viewport width,
PrimefaceCore shows horizontal scrollbar automatically, I think.
But PrimefacesMobile doesn't work like that.

[2016-02-09 10:31] #1123 closed, assigned to nobody

[2016-02-09 16:09] tandraschko opened #1124 "Provide DefaultStreamedContent with lazy stream initialization"
Currentlyif you use a StreamedContent on a grapicImage, the value attr will be received 2 times:
1) when rendering the view (the stream isn't required here, we just need to evaluate the EL string)
2) when receiving the content via the http stream

The most people initialize a DefaultStreamedContent in a request scoped bean, therefor the stream will be initialized also on 1).
mem leaks or bad perfo

[2016-02-09 16:09] tandraschko commented on #1124
[code]

[2016-02-09 16:47] #1099 closed, assigned to tandraschko

[2016-02-09 16:47] rmannibucau opened #1125 "p:inline with empty string leads to not editable input"
[code]

if text is "" then we can't click to edit the input.

[2016-02-09 16:47] tandraschko commented on #1099
Don't think thats a good idea as we can't influence the order.

[2016-02-09 23:23] aperegrina opened #1126 "Media component audio doesn't show"
When i try to use the audio component, the audio controls does not apper. I have seen the style of this components and its for the bottom margin.

[2016-02-10 06:04] BrianSiimAndersen opened #1127 "Enter does not submit form if a selectOneMenu is focused"
When pressing Enter in a form where the focus is in a selectOneMenu nothing happens. The same behavior can be seen in the PrimeFaces ShowCase: http://www.primefaces.org/showcase/ui/ajax/dropdown.xhtml

I would like the Enter to submit the form unless the use has opened the menu. When the menu is open Enter is used to select a value in the list.

[2016-02-10 09:17] kukel commented on #1127
Please post your patch here…  or better yet, make a real pull request

[2016-02-10 09:57] BrianSiimAndersen commented on #1127
I'm not familiar with Git, so I don't know how to make a pull request. But this is what I did to make it work:

[code]

[2016-02-10 12:15] huygun opened #1128 "dialogReturn not work with commandLink"
DialogReturn event is not working  with commandLink in  6.0-SNAPSHOT.

Can be reproduce with changing showcase sample data.xhtml from

`
<p:commandButton value="Select Car" icon="ui-icon-extlink" actionListener="#{dfView.chooseCar}">
   <p:ajax event="dialogReturn" listener="#{dfView.onCarChosen}" update="growl" />
</p:commandButton>
`
to
`
<p:commandLink value="Select Car" icon="ui-icon-extlink"

[2016-02-10 14:04] cagataycivici opened #1129 "Add clearModel option to resetInput"
When enable, reset input also sets null values to the bound values so it reset inputs values and model values.

[2016-02-10 14:05] #1129 closed, assigned to cagataycivici

[2016-02-10 14:13] schlebe opened #1130 "Proposal list associated to AutoComplete is proposed when input is Empty"
This error is reproductible on PrimeFaces DEMO.

You type e0 on first autocomplete widget named SIMPLE.

Then you type QUICKLY (it is important) 2 times on BACKSPACE key and the widget display the same Porposal List Box.

If you click SLOWLY, the widget is cleared without displaying the Proposal List Box.

it is not normal that the input's speed has an inlfuence on widget's behavior !

[2016-02-10 14:56] hades646 commented on #424
I am experiencing a similar problem with a selectOneMenu inside of a rowExpansion. When the row is collapsed, and pagination is performed, values for a calendar and a textArea are kept but the value for a selectOneMenu is lost (actually, the setter of the value variable is called setting it to null). When you expand again the row, the value is gone. Could it be related?

[2016-02-10 15:47] hink084 commented on #811
[Issue811.zip](https://github.com/primefaces/primefaces/files/125032/Issue811.zip)

I was able to create a misalignment but differently than @fanste reported above.
Also I was only able to create the misalignment in Firefox.

Now before I continue on...it could be that by making these adjustments that it is expected to cause a misalignment...I don't know.

I created the misalignment by adjusting t

[2016-02-10 23:12] jrobertsz66 commented on #920
did you guys get this to work?  I also cannot get this to work wit a donut chart.

[2016-02-11 08:50] mertsincan opened #1131 "Datatable with resizable columns and a column having visible=false is not correctly rendered on IE"
Reported by Pro User;
on Internet Explorer (and Edge) datatables with resizable columns and, at the least, a column having visible=false are not correctly rendered because columns don't cover all available space.
It seems that the width of the not visible column is allocated even if the column is hidden.

[2016-02-11 09:06] #1131 closed, assigned to nobody

[2016-02-11 09:15] geowhizz opened #1132 "Socket disconnect does not reset url"
In push.js calling socket.connect(uniquepath), the unique path is appended to the URL.

Because disconnect does not reset the URL, subsequent connect calls means the "this.cfg.request.url" gets ever bigger until the page is refreshed.

adding  `this.cfg.request.url = this.cfg.url;` to the disconnect method fixes the issue.

[2016-02-11 09:31] jepsar opened #1133 "Tree node not selected when right clicking p:tree with selection and context menu"
I'm using PrimeFaces 5.3.

Setter for `myBean.selectedNode` is not invoked when right clicking the node in the example below.

[code]

See also http://stackoverflow.com/questions/35270792/selected-tree-node-not-set-when-context-menu-action-is-invoked

[2016-02-11 09:46] mertsincan opened #1134 "Resizable column problem on Datatable with hidden columns"

[2016-02-11 09:46] #1134 closed, assigned to nobody

[2016-02-11 10:10] #51 closed, assigned to cagataycivici

[2016-02-11 10:13] #287 closed, assigned to cagataycivici

[2016-02-11 10:14] cagataycivici commented on #51
Both patches are merged, thank you.

[2016-02-11 10:18] cagataycivici commented on #920
Does it work using plain jqplot?

[2016-02-11 10:24] mertsincan commented on #1107
Thanks for the sample. I will work on it and get back to you.

[2016-02-11 10:27] cagataycivici commented on #1093
I've seen the issue.

[2016-02-11 10:29] cagataycivici commented on #1127
How does h:selectOneMenu behave?

[2016-02-11 10:34] jepsar commented on #1133
I'm still not sure if this is a bug or that I'm doing something wrong. Maybe it's related to the select listener, but without it it was also not working for me.

Anyhow, I was able to get it to work by replacing the tree's `nodeRightClick` function:

[code]

[2016-02-11 12:55] BrianSiimAndersen commented on #1127
Apparently it depends on the browser when using h:selectOneMenu. In Safari the form gets submitted, in Firefox it doesn't.

[2016-02-11 17:52] cghislai opened #1135 "p:schedule: moment.js is missing"
When using p:schedule with PF 5.2 or 5.3, I get 'moment is not defined' errors in console.
This prevent the select events to work properly.

Injecting the moment.js file manually solves this issue.

[2016-02-11 18:27] cagataycivici opened #1136 "PropapageDown does not work correctly in Tree"
In checkbox mode, setting propagate down to false still selects descendants.

[2016-02-11 18:27] #1136 closed, assigned to cagataycivici

[2016-02-11 18:42] cagataycivici opened #1137 "Dropdown can bypass selectLimit in autocomplete"
SelectLimit of autocomplete is ignored by dropdown mode.

[2016-02-11 18:43] #1137 closed, assigned to cagataycivici

[2016-02-11 21:54] cagataycivici commented on #1127
So what should we do at p:selectOneMenu side, normalize it or delegate to browser?

[2016-02-12 04:04] sudheerj opened #1138 "Optimize contextmenu positioning for beforeShow callback"
Currently contextmenu positioning applied before calling the beforeShow function.Due to this if we remove/add menuitems then contextmenu position is not correct with respect to target.

[code]

[2016-02-12 04:14] sudheerj commented on #1138
The PR is create at #1139. Just consider the second commit only.

[2016-02-12 06:04] cnsgithub commented on #1125
I've come across the same issue and used `emptyLabel="..."` as a workaround.

[2016-02-12 08:52] mertsincan opened #1140 "Add widgetVar attribute to ColumnToggler"

[2016-02-12 08:54] #1140 closed, assigned to nobody

[2016-02-12 09:27] mertsincan commented on #1133
Please use contextMenu event.

[2016-02-12 09:27] #1133 closed, assigned to nobody

[2016-02-12 09:36] mertsincan commented on #1016
Please try with 5.2.19+, 5.3.6+ or 6.0.
Issue: #1070

[2016-02-12 09:36] #1016 closed, assigned to nobody

[2016-02-12 10:00] omarbr commented on #719
have a same problem. code to reproduce this bug on forum topic [http://forum.primefaces.org/viewtopic.php?f=3&t=44090](url)

[2016-02-12 11:41] cghislai commented on #721
I confirm this happen on Primefaces 5.2 and 5.3 while it was working on Primefaces 5.1.
This prevents composite component to expose client behaviors if they already handle them internally.

As a workaround, one could create an hidden commandButton, triggers a 'click' on the first ajax call and make the second one listen for the click event:

Using the code below, if users of the composite componen

[2016-02-12 12:15] #1037 closed, assigned to mertsincan

[2016-02-12 12:27] #243 closed, assigned to nobody

[2016-02-12 13:25] chuckumi commented on #1093
Do you know how to solve it? I can do it by javascript, but i think this is primefaces bug

[2016-02-12 14:08] fanste opened #1141 "NPE for some properties if set via UIComponentBase#getAttributes()#set()"
As the title already says, some properties of PrimeFaces components throw an NPE if the property is set using the AttributesMap instead of directly using the setter. The problem occurs if the property has a primitive type and the getter uses `null` as its default value (the AttributeMap will always invoke the getter. Otherwise it can't return the old value, as required by the Map interface).

**Ex

[2016-02-12 14:24] cghislai commented on #1051
You should inspect your ajax request to make sure the execute and update clientIds point to the correct components. To make sure it works correctly, put an ID manually in all your namingConainers, possibly using the varStatus parameter of your ui:reapeat tags, or using your entities ids. Then make sure to provide an absolute ID for your ajax call:
`<p: ajax process=":myForm:pays_#{oPays.id}:city_#

[2016-02-12 14:27] cghislai commented on #829
I confirm this on primefaces 5.3.

For the sort event, `_skipChildren` is set to true, regardless of the value set in the p:dataTable parameters.

[2016-02-12 15:36] tandraschko opened #1142 "PFExtensions Migration: AbstractAjaxBehaviorEvent"

[2016-02-12 16:18] #1142 closed, assigned to tandraschko

[2016-02-12 16:19] tandraschko commented on #1141
would be great if you could post all affected properties.

[2016-02-12 16:23] fx89 opened #1143 "Additional text added to selectOneMenu ID within cellEditor in dataTable"
When using a selectOneMenu within the output facet of a cell editor in an editable data table with editMode="cell", an additional "_input" is added to the id of the generated "select" element.

This may seem like a minor issue, but for those of us who are actually using these IDs in our application workflows it's a bit of a headache when it comes to debugging it. After all, the reason why we bothe

[2016-02-13 12:47] douglaszero opened #1144 "p:treeTable Frozen Coluns"
Can anyone tell me if this feature frozen coluns in treeTable will be fixed?

[2016-02-13 15:56] tandraschko commented on #1144
please use the forum for questions.

[2016-02-13 15:56] #1144 closed, assigned to nobody

[2016-02-13 20:13] cagataycivici commented on #1093
@mertsincan , Please look into this.

[2016-02-14 00:44] tandraschko opened #1145 "BV Future/Past metadata extraction for Calendar"

[2016-02-14 00:49] #1145 closed, assigned to tandraschko

[2016-02-14 07:25] Maikel-Nait commented on #1009
FYI in our application we had some other issues using liveScroll with datatables, and finally replaced the [p:dataTable] with a [p:dataScroller] component, (it was not that hard to replace ) which seems to work just fine.  Maybe it can be a valid workaround for you while this problem is fixed ...

[2016-02-14 21:14] tandraschko opened #1146 "[Documentation] CSV show/hide input label"
Mojarra hides the label per default, MyFaces shows the label per default.
Our default is like Mojarra but we should document how to show the label.

http://forum.primefaces.org/viewtopic.php?f=3&t=44464

[2016-02-14 21:15] tandraschko opened #1147 "[Documentation] some links still points to google code"
should be changed to github

[2016-02-14 22:15] murdos opened #1148 "InputRenderer doesn't take into account array types before locating converter"
See details there: http://stackoverflow.com/a/31857619/4270149

I plan to submit a PR to fix that.

[2016-02-15 02:07] djmj commented on #726
The problem is this rule in theme.css.

.ui-icon {
    border-radius: 10px;
}

In my tests this border-radius is not necessary. So Primefaces can override it to 0.

[2016-02-15 08:23] jepsar commented on #1133
I'm puzzled. I've checked the tree and contextMenu section of the documentation twice. What event should be used where?

[2016-02-15 09:32] mertsincan opened #1149 "Input loses focus on Calendar with timeOnly"
Reported by Pro User;

We cant directly change the time from input(need to open calendar popup all the time),this looses the focus on keypress ,makes it impossible to enter values directly.

[2016-02-15 09:40] #1149 closed, assigned to nobody

[2016-02-15 12:22] malex666 commented on #1009
thanks for your answer. Good to know that it's not just us who do have problems with live scroll. Your approach using 'p:dataScroller' is a good idea, altought we need to rely on 'p:dataTable' since we need the sort and filter functions (and don't want to implement them on each site). Imho this should be fixed by the primeFaces team, since this really makes the component like unusable for some cas

[2016-02-15 13:16] tandraschko opened #1150 "SEF: implement @dialog"
It's a common case that only the dialog content should be updated if you currently work in the dialog.
Currently you must always use udpate="myUsecaseADialog" but that's very annoying.

[2016-02-15 14:30] mertsincan commented on #960
Please try with this css;

[code]

[2016-02-15 14:30] #960 closed, assigned to mertsincan

[2016-02-15 14:45] mertsincan commented on #413
Please try with 5.3.5+, 5.2.18+ and 6.0

[2016-02-15 14:45] #413 closed, assigned to mertsincan

[2016-02-15 15:23] jrodalo opened #1151 "DataExporter calls load method twice on lazy DataTables"
I'm using a DataTable with `lazy="true"` to paginate a big datasource. It works perfect, but, if you include a `<p:dataExporter>` for that table, the query is executed twice while exporting the data (without pagination).

You can test it with the lastest version of the Showcase, just include a dataExporter on \src\main\webapp\ui\data\datatable\lazy.xhtml

[code]

In this case, `LazyCarDataModel.lo

[2016-02-15 15:25] #1093 closed, assigned to mertsincan

[2016-02-15 15:26] mertsincan commented on #1093
Remove ui-state-active. We add ui-state-hover class for active menuitem.

[2016-02-15 15:46] benjamin2406 commented on #960
Hi, mertsincan,

It works. But now the problem is that when i change the tab, the sticky header still shown duplicated.

Thank you for your help :)

![image](https://cloud.githubusercontent.com/assets/16325903/13053146/ec545a06-d3d0-11e5-9928-c20a6cf850b9.png)

![image](https://cloud.githubusercontent.com/assets/16325903/13053195/29a7543a-d3d1-11e5-88c1-7130151c86d6.png)

Regards

[2016-02-15 15:59] mertsincan commented on #922
Please try with;

[code]

[2016-02-15 15:59] #922 closed, assigned to nobody

[2016-02-15 17:15] kukel commented on #922
This is closed without the OP confirming it works? Ok... But I 'd suggest that good 'workarounds' are documented somewhere in the PF documentation (just like the remarks at the dialog for modal and appendTo="@(body)".

Although I can hardly think of this as a workaround, it is a good, no great solution (thanks!) for a complicated component. Please suggest to @cagataycivici to document this somewhe

[2016-02-15 17:20] kukel commented on #1127
Normalize... See also http://stackoverflow.com/questions/2968693/why-doesnt-hitting-enter-when-a-select-is-focused-submit-the-form (so as expected it is plain html related). Behaviour like FF is has my preference.

[2016-02-15 17:22] kukel commented on #1150
So @dialog updates just the content or the dialog? Hmmm @dialog vs @dialogContent...

[2016-02-15 17:27] tandraschko commented on #1150
Actually updating the dialog is easier as updating the content but updating the content should be enough.
Maybe it's better to update the whole dialog.

[2016-02-15 17:34] kukel commented on #1150
I've seen cases (don't have examples at hand) where updating the dialog did not always behave as expected. But that might be older versions related or cornercases. So updating the dialog would be ok I guess

[2016-02-15 17:35] tandraschko commented on #1150
hmm you are right
when you open a dialog via js (instead the visible attribute), you will unintentionally close it when you update=@dialog.

[2016-02-15 17:46] mateofacu commented on #1151
I run into the same issue but exploring source code I realized that the second call is not the same.

Second loadlazydatamodel call is used to restore table state with the original set of data and paging state.

Any way I think the implementation of the exporter could use another lazydatamodel instance to avoid the restore phase. I had problems because of bug #763

[2016-02-15 17:46] kukel commented on #1111
300 lines of CSS workarounds is quite a few, but maybe you have specific requirements. We only needed less than 100... And those were no workarounds, just things done differently

[2016-02-15 17:50] mateofacu commented on #763
I am facing the same problem here: PF 5.3
As you explained, the exporter could use a different instance of the lazyDataModel.

Another work around is blocking the table UI depending on how long the export takes. Of couse, if its too long this is not a good appoach. In our case, we have limited the ammount of data to be exported so it is not a problem

[2016-02-15 18:16] n0def opened #1152 "CVE-2017-1000486: Potential EL Injection"
As already shared privately last year "/org/primefaces/application/resource/StreamedContentHandler.java" is to vulnerable to remote exploitable code execution through EL Injection

You can find more information here:
http://blog.mindedsecurity.com/2016/02/rce-in-oracle-netbeans-opensource.html

[2016-02-15 18:25] kukel commented on #1051
@Schelebe: Following the blog helps... http://blog.primefaces.org/?p=3737. Most of the ui:repeat related issues ARE RELATED... And I nowhere stated it was not a 'bug'.

Luckily it is finally acknowledged that ui:repeat has issues in general with some PF components (and to an extend it is ui:repeat's fault. Searching should sometimes be done more general, to see if there are 'similar' but not fully

[2016-02-15 18:31] kukel commented on #1031
This works with a ui:repeat?

[2016-02-15 18:36] kukel commented on #1039
I tried... and (by 'accident') used 'integers'... Lucky me...

[2016-02-15 20:05] cagataycivici commented on #1152
Thank you, do you have any suggestion for a fix?

[2016-02-15 21:08] cagataycivici commented on #1152
Fixed via https://github.com/primefaces/primefaces/commit/26e44eb7962cbdb6aa2f47eca0f230f3274358f0

Please review and reopen if necessary.

[2016-02-15 21:08] #1152 closed, assigned to cagataycivici

[2016-02-15 21:24] cagataycivici opened #1153 "XSS issue in exception handler"
Whenever an exception occurs and the stack trace contains user input, we need to escape html when presenting it.

Sample case;
- Open filter sample
  http://www.primefaces.org/showcase/ui/data/datatable/filter.xhtml

Type <script>alert('Hi')</script> in price field.

[2016-02-15 21:25] #1153 closed, assigned to cagataycivici

[2016-02-15 21:37] n0def commented on #1152
I'll check better tomorrow with our team, but the fix seems to be good

[2016-02-15 21:47] cagataycivici commented on #1152
Here is a refactor;

https://github.com/primefaces/primefaces/commit/21b5b63048be0e415ef8be17dc0fce3252cf0f3f

We keep a internal map at session now, this map holds the key-expression values. Keys are sent at at url and StreamedContentHandler gets the key to evaluate it. After it this map is cleared. Keys are encrypted uuids so there is still same encryption but expressions are not exposed at url

[2016-02-15 22:20] n0def commented on #1152
This fix is a good fix, however since you are using UUID.randomUUID().toString() you don't  need to encrypt the reference. You could pass the reference to the parameter as it is without encrypting it.

[2016-02-16 04:52] sudheerj commented on #1135
It is a part of schedule resources.It might be a corrupted jar so it won't be an issue.

[2016-02-16 09:33] cnsgithub opened #1154 "Spinner: width cannot be set properly via CSS"
Hi, the <p:spinner> component has a uncomfortable behavior when it is being styled via CSS. For example a simple width attribute, causes the controls to grow, but not the inner <input> tag accordingly.

`<p:spinner id="basic" value="5445" style="width: 100%;"/>`

I know there is also the size attribute, but this can't be used when i just want the component to "fill" something, as it doesn't suppor

[2016-02-16 09:57] mertsincan commented on #960
Please try with;

[code]

Xhtml

[code]

[2016-02-16 10:39] cagataycivici commented on #1152
Awesome, thank you for the feedback. We'll do patch releases now.

[2016-02-16 11:42] walllzzz opened #1155 "Misaligned Rows in DataTable with Frozen Columns"
Hi,
I want to get back to the issue number #644, to resume the issue, when we add "frozencolumns" property to the datatable with rows with different heights, we notice a misalignment in the rows of the datatable.

the user @cnsgithub resumed the issue in two points:
1. If any row on the scrollable part is bigger than the rows on the fixed/frozen part, they become misaliged
2. If any header row on

[2016-02-16 14:26] Phidelux opened #1156 "Uploading empty file fails"
Uploading an empty file with `<p:fileUpload />` passes a null object to the value parameter of the form in simple mode or the fileUploadHandler specified in advanced mode.

[2016-02-16 16:01] kukel commented on #1155
1 is in reverse to!!! if one of the you should always take the biggest size being either in the frozen or in the scrollable part. Please take that into account in your 'fix'

[2016-02-16 16:13] kukel commented on #1150
yep that was one of them.... phew... no korsakov or alzheimer yet here :-)

[2016-02-16 16:17] kukel commented on #1126
use the forum for this

[2016-02-16 16:23] kukel commented on #1152
Great to see something like this fixed. Unfortunately only after public exposure... Bad publicity evidently works to get things done ;-)

Patch release of all 5.x community versions too? Otherwise exposure is still to big. Or just a small update jar?

[2016-02-16 16:35] kukel commented on #51
cool.. no version set yet?

One patch less in my custom version

[2016-02-16 16:36] kukel commented on #287
does this also need a version? (and a 'new feature' tag)

[2016-02-16 16:48] kukel commented on #394
shall I create a pull request for this against trunk? And to be clear, the only 'responsiveness' is the positionning

[2016-02-16 20:23] kukel opened #1157 "refactor to using jQuery .noConflict()"
I'm curious if PrimeFaces is interested in switching to using jQuery in a noConflict way. Afaik, the $ will still be available if not defined before by another framework. I'm creating an issue for this so it is either done or when not done, it is 'for the record'.

[2016-02-16 20:37] cagataycivici commented on #51
6 for sure.

[2016-02-17 06:42] webelcomau opened #1158 "Primefaces 5.3: update on rowEdit from dataTable nested within p:tab within p:accordionPanel mangles dataTable"
Platform: Primefaces 5.3 (community edition); Mojarra: 2.2.7; Glassfish4.1; NetBeans8.1beta; JDK1.7

Browser: have reproduced the problem in both Safari and Chrome on Mac OS X

<img width="500" alt="greensoft-bug-node-4207-primefaces-datatable-within-tab-accordion-before" src="https://cloud.githubusercontent.com/assets/7203231/13101614/27c8106a-d59c-11e5-82c6-0cef35ab90a5.png">

<img width="500" a

[2016-02-17 08:26] schlebe opened #1159 "autoComplete don't clear completely when minQueryLength > 0"
I have set minQueryLength = "1" to prohibit suggestions's panel when widget is cleared.

Now, when I delete the last character in autoComplete using DELETE or BACKSPACE key, the widget is cleared on screen, but on server, the value of variable linked to this widget contains the last character !

I have traced my program and I have seen that the setTireLineName() method associated to my widget is n

[2016-02-17 08:54] tandraschko commented on #1157
@cagataycivici  AFAIR we decided some years ago to NOT using jQuery instead $, right?

[2016-02-17 10:44] mertsincan opened #1160 "Upgrade to Apache POI 3.13"
from 3.7 to 3.13.

[2016-02-17 10:45] #1160 closed, assigned to nobody

[2016-02-17 13:44] cnsgithub commented on #639
Hi, i encountered this issue today and can replicate it with latest 5.3.7. When using `activeIndex`, in combination with

[code]

It does not set the correct string "-1" for activeIndex when all tabs are closed, so it is not possible to save the state with all tabs closed.

Code to replicate:

[code]

[code]

[2016-02-17 14:35] mertsincan opened #1161 "JS error in Calendar with "Current Date" button"
Reported by Pro User;
We have showButtonPanel="true" , clicking on current day button does nothing. We can see Exception in console. (It happens when timeOnly="#{ELBinding}" gets 'false')

[2016-02-17 14:41] #1161 closed, assigned to nobody

[2016-02-17 15:29] 13piercen opened #1162 "SelectOneMenu resets after delay"
SelectOneMenu resets to first menu option if it still has focus after a few sec delay. Example can be found on PrimeFaces Showcase, http://www.primefaces.org/showcase/ui/input/oneMenu.xhtml . If you select any option for either of the 4 selects and wait a few seconds without doing anything else, ie clicking out of the SelectOneMenu, the value resets to the first option in the list. Is there a way

[2016-02-17 21:06] #1162 closed, assigned to nobody

[2016-02-18 05:45] pranav-malanthra opened #1163 "Deselection issue in p:selectManyButton"
In 5.3 i am not able to deselect p:selectManyButton using p:ajax event="change". But using keyboard tab key (and enter key) is working fine.
sample code:
    `<p:selectManyButton value="#{testBean.selectedOptions}" >
    <f:selectItem itemLabel="b" itemValue="b" />
            <f:selectItem itemLabel="u" itemValue="u" />
            <f:selectItem itemLabel="i" itemValue="i" />
            <p:ajax

[2016-02-18 09:47] Grwld opened #1164 "Schedule: AllDay showing wrong end date"
Adding an entry with start date e.g. 07/02/2016 00:00 and end date 08/02/2016 23:59 and setting the All Day checkbox the entry is shown only for 07/02/2016 on the month overview.
If the All Day checkbox is unchecked, both days are shown.
![schedule](https://cloud.githubusercontent.com/assets/17312261/13143791/9aa76d06-d646-11e5-98d5-5e67788d54dc.png)

Can be seen at Primefaces Showcase
I'm using
P

[2016-02-18 10:33] psborges84 opened #1165 "p:dialog values are not displayed in the header"
I would like to report bug in the component dialog
I'm using composite.
but the object content is not displayed in the header of the dialog
see example:

[code]

Thank you

[2016-02-18 10:35] pranav-malanthra opened #1166 "instead of empty value UploadedFile has null value"
Without selecting a file in p:fileUpload and do submit the form, in 5.0 UploadedFile object will have empty data(just like new DefaultUploadedFile(FileItem)). But in 5.3 UploadedFile object has null value. So i am facing null pointer exception since i upgraded to 5.3.

[2016-02-18 11:55] arunvc1 opened #1167 "autocomplete with cache"
Selected object became null when cache=true
Try this sequence.
1. Search for a text which is not present, the result rightly shows "No Record"
2. Then search for a valid text and select that record.
3. If you debug  onAutoSelect(SelectEvent event)  event.getObject() is null.

Note : It works fine when cache=false

[code]

PF 5.3.7, Tomcat 8, Java 8

[2016-02-18 12:37] tandraschko commented on #1166
Why not just add a null check?

[2016-02-18 13:54] pranav-malanthra commented on #1166
I created my project using 5.2. If I go for a null check then I have to change my code several places.

[2016-02-18 13:59] tandraschko commented on #1166
it's always possible that you need to modify your code on some places. you upgraded to a major version, not a bugfix version.

[2016-02-18 15:55] cagataycivici opened #1168 "Dialog content height should be 100% on maximize"

[2016-02-18 16:01] #1168 closed, assigned to cagataycivici

[2016-02-18 17:21] cagataycivici opened #1169 "addRow() method to DataTable()"
This is useful when a new data needs to be added to the datatable, instead of updating the whole table to show it, just call addRow() and it will append the tr element only.

[code]

[code]

[2016-02-18 17:27] #1169 closed, assigned to cagataycivici

[2016-02-18 19:30] kukel commented on #1169
WOW!!!! YES, great... now the same thing for TabViews...(and delete of course for both, or at least the tabView)... This really is a great addition!!!

I've looked at the patch, but immediately are wondering if the partial-response 'insert' functionality is used here?

[2016-02-18 19:34] kukel commented on #1157
Oh, could also be a 'pfJQ'... ;-)

[2016-02-18 19:47] kukel commented on #829
If I populate fields and there is no ajax, I do not expect them to be submitted when paging (nor with filtering so if that happens there, **that** is a bug in my opinion. Use an ajax tag if you want fields to be automatically submitted... or use a save button

[2016-02-18 19:52] kukel commented on #1164
check what happens with plain jquery fullcalendar. Might be a bug in there...OR it might be as designed...

[2016-02-18 19:59] kukel commented on #1166
@tandraschko: 5.2 -> 5.3 is 'officially' not a major versionThis is correct, but...

PF has proven in the past to  not always guarantee backwardscompatibility. And in several cases even an upgrade from 5.0 to 5.1 to 5.2 was not possible since a bug (only fixed in an elite release) prevented upgrading from 5.0 to 5.1 and a new bug (again only fixed in an elite release) prevented upgrading from 5.1

[2016-02-18 20:02] kukel commented on #1163
Next time please format your code AND search the issuelist: https://github.com/primefaces/primefaces/issues/790. Already FIXED in 5.3.1

[2016-02-18 20:30] kukel commented on #958
Because it is 'good practice' In UX. It creates a less 'jumpy'/'flashy' userinterface. Things stay at the same place  (e.g. datatable footers ,column footers, paginator at the bottom etc...)

[2016-02-18 20:37] kukel commented on #976
ahhhh to the right... SORRY!!!

[2016-02-18 20:39] kukel commented on #933
Tried a newer version

[2016-02-19 05:26] mertsincan opened #1170 "Faulty keyboard handling for selectOneButton with immediate update"
Reported by Pro User;
When p:selectOneButton is selected by the space bar and is immediately updated
- the default scroll action is not prevented and
- the component loses focus.

[code]

[2016-02-19 05:31] #1170 closed, assigned to nobody

[2016-02-19 07:38] Grwld commented on #1164
I don't think it is as designed. It was working in PF 4.0.
On http://fullcalendar.io I can't see any input to generate or edit entries, just drag-n-drop

[2016-02-19 08:27] andyfinch commented on #829
`<p:ajax event = 'sort' process...../>`  makes no difference.  Not sure if it is a bug when no filtering/paging p ajax is present however I would be happy to control processing using the ajax events.  However if it is already processing without these ajax events (filtering/paging) then you could potentially break a lot of existing tables.

[2016-02-19 08:49] Grwld commented on #1164
Just checked it with fullcalendar alone. Seems to be a bug in there:
                {
                    title: 'All Day Event 1',
                    start: '2016-01-01',
                },
                {
                    title: 'All Day Event 2 ',
                    start: '2016-01-01',
                    end: '2016-01-01',
                },
                {
                    title

[2016-02-19 11:57] mertsincan opened #1171 "Borders of DataTable with sticky disappear in Chrome"
Reported by Pro User;
We just upgraded to 5.3.7 to get our new feature (thanks) and found something during our regression test...
View http://www.primefaces.org/showcase/ui/data/datatable/sticky.xhtml
in Firefox vs. Chrome. In Chrome the cell border between data disappears. In our example, you can see them initially render, then disappear as the sticky header is probably re-rendered.

[2016-02-19 12:08] #1171 closed, assigned to nobody

[2016-02-19 13:48] JiriKrizek opened #1172 "DataTable: inconsistent behavior of selection"
**How to reproduce:**
- Open Primefaces Showcase http://www.primefaces.org/showcase/ui/data/datatable/selection.xhtml
- Click on the line in "RadioButton" datatable (anywhere except radiobutton itself)

**Expected** same behavior like in the other Datatables on showcase page.
- On mouse over: line is visually different.
- On click: Current line is selected, after click anywhere on the line, radiob

[2016-02-21 12:54] fx89 opened #1173 "Dialog scroll issue"
There are a couple of issues involving a modal dialog appearing over a scrollable page.
1. When the scroll content covers more than two window heights, the dialog doesn't appear at all
2. If the dialog has selectOneMenu's or autocomplete's or any other control which requires overlays for selecting options, scrolling the page (i.e. using the mouse wheel) also scrolls the overlays along with the pag

[2016-02-21 13:12] fx89 opened #1174 "Input width inconsistency"
There are inconsistencies between the implementation of the "style" attribute of various PF components. These inconsistencies are most notable (and frustrating) when attempting to set the widths of the fields of a form. For instance:
- inputText with style="width:800px" renders as an input control with width = 800px, which is about right
- selectOneMenu with style="width:800px" renders as an input

[2016-02-22 04:54] dmitsuo opened #1175 "[BUG] Assigning null value to datatable filteredValue has no effect"
I have a **datatable** with filters enabled and **filteredValue** property associated with a managed bean field (view scoped).

[code]

I also have a managed bean method to clear filters by assigning null value to the managed bean field associated with the filteredValue datatable property.

[code]

If I do some filter on datatable and, after that, call the managed bean method to clear filters, **n

[2016-02-22 11:37] dasmanu commented on #1175
What about Lothar Matthäus?

[2016-02-22 11:45] 0xbs opened #1176 "Remaining character counter counts \r\n as one character"
The remaining character counter does not work correctly on windows with newlines (aka \r\n).

Environment:
Chrome 48 on Windows 8.1

Steps to reproduce the problem:
1. Go to http://www.primefaces.org/showcase/ui/input/inputTextarea.xhtml
2. Enter the following characters in the remaining chars textarea: <kbd>1</kbd> <kbd>Enter</kbd> <kbd>2</kbd> <kbd>Enter</kbd> <kbd>3</kbd> <kbd>Enter</kbd> <kbd>

[2016-02-22 21:56] erickdeoliveiraleal commented on #1007
now 1.12.1 http://blog.jquery.com/2016/02/22/jquery-1-12-1-and-2-2-1-released/

[2016-02-23 03:19] sudheerj commented on #1176
Duplicate of https://github.com/primefaces/primefaces/issues/768

[2016-02-23 07:57] danhuru commented on #39
hi, any news about this feature?

[2016-02-23 11:24] 0xbs commented on #1176
Duplicate of #537

[2016-02-23 13:36] kukel commented on #1164
not easily... no...

[2016-02-23 13:37] kukel commented on #1173
Known issue in PrimeFaces 0.9.6.

[2016-02-23 13:38] kukel commented on #1174
known issue in PrimeFaces 0.9.6

[2016-02-23 13:49] kukel commented on #1175
And Cruijff and van Basten, and Gullit

http://stackoverflow.com/questions/23797476/datatable-clearfilter-not-working-properly

[2016-02-23 13:51] kukel commented on #39
Did you READ any news here? Or in the blog? Or in releasenotes?

[2016-02-23 13:52] kukel commented on #1007
@erickdeoliveiraleal : you can edit the title I think...

[2016-02-23 13:54] kukel commented on #829
Yes, backwards compatibility is an issue... But also for **enabling** submitting if it is now **not** submitting on sort. So if 'fixed' and breaking backwards compatibility, it should only be fixed for 6.0

[2016-02-23 15:04] rbenyona opened #1177 "Calendar: accessibility"
The calendar component does not have W3C Web content Accessibility support

[2016-02-23 16:07] xKopax opened #1178 "DataTable: Header/Footer not updated by sort/filter"
Today when we filter the datatable
`PF('table').filter()`
the datatable's footer is not updated automatically. However the footer usually holds summarized values of the columns. It'd be nice a easier way to acomplish this task.

Thanks!

[2016-02-23 22:32] dmitsuo commented on #1175
I know about the client side alternative **`PF('myDatatable').clearFilters()`** , but I have some use cases where I need clean up filters at the server side, before hit the client.

What bothers me is that before Primefaces 5.1, I could do just **`this.filteredPlayers = null;`** on the managed bean and it was fine, but now it doesn't work at the first time called.

I suspect that is related with t

[2016-02-24 11:48] mhettig opened #1179 "LightBox: overlay blocks view"
**Short description:**
When clicking multiple times on a link/button/image which opens up a LightBox the dark background overlay may stay on top of the view stack and doesn't get closed resulting in a blocked view.

**Reproduction:**
- Step 1: create a view with Primefaces LightBox or use the [showcase example](http://www.primefaces.org/showcase/ui/overlay/lightBox.xhtml).
- Step 2 (in case of sho

[2016-02-24 11:59] lucpolak commented on #954
The source code of the example is attached here :
[SPI.ZIP](https://github.com/primefaces/primefaces/files/144516/SPI.ZIP)

[2016-02-24 14:13] dariorios commented on #1177
I agree with that. Is a completely necessary feature in accesibility.

[2016-02-24 15:09] tandraschko opened #1180 "Button/CommandButton renders styles for icon, also if icon is set to empty string"

[2016-02-24 15:10] #1180 closed, assigned to tandraschko

[2016-02-24 16:49] tandraschko commented on #1019
Can't replicate with your example, sorry.

[2016-02-24 16:49] #1019 closed, assigned to tandraschko

[2016-02-24 16:55] #1097 closed, assigned to tandraschko

[2016-02-24 16:58] ova2 opened #1181 "RemoteCommand: Add CSV support / validateClient attribute"
For RemoteCommand Client-side validation is not implemented (no attribute "validateClient" is available)

[2016-02-24 23:43] benjamin2406 commented on #960
Hi, mertsincan,

It works. But i had to change the script a little bit.

**Javascript function**

[code]

**Xhtml**

[code]

[2016-02-25 11:59] cagataycivici opened #1182 "p:focus issue with preselected radioButton"
Reported by a PRO user;

[code]

Preselecting the console as PS4, causes an issues xbox one gets focus and hitting space key results in double selection.

[2016-02-25 12:01] #1182 closed, assigned to cagataycivici

[2016-02-25 12:56] cagataycivici opened #1183 "Add skipChildren option to p:ajax"
Containers components like, datatable, panel, tabview skip their children if the request owner is them. For example, sort, page event of a datatable. As children are skipped, input values get lost, assume a case with a datatable and inputs components in a column. Sorting the column discard the changes and data is sorted according to original value. Setting skipChildren to false, enabled input valu

[2016-02-25 12:57] #1183 closed, assigned to cagataycivici

[2016-02-25 13:18] cagataycivici opened #1184 "Ability to sort inputs in datatable"
Add support to sort inputs in datatable and if validation fails sorting should not happen.

[2016-02-25 13:19] #1184 closed, assigned to cagataycivici

[2016-02-25 13:22] cagataycivici commented on #829
This is now supported, set p:ajax event="sort" skipChildren="false".

https://github.com/primefaces/primefaces/issues/1183

Also check out

https://github.com/primefaces/primefaces/issues/1183

That enables preventing sort if an input is invalid inside.

[2016-02-25 13:22] #829 closed, assigned to nobody

[2016-02-25 13:23] cagataycivici commented on #415
This is now supported, set p:ajax event="sort" skipChildren="false".

#1183

Also check out

#1183

That enables preventing sort if an input is invalid inside.

[2016-02-25 13:23] #415 closed, assigned to nobody

[2016-02-26 11:59] #37 closed, assigned to nobody

[2016-02-27 14:24] javahippie opened #1185 "Change rowCount on LazyDataModel to long"
Hi,

i tried to discuss this in the forums, but there was no reaction to my suggestion: http://forum.primefaces.org/viewtopic.php?f=3&t=43369

It will rarely be the case, that the rowcount of a table will exceed the range of int, and I think it would be bad practice to have a LazyDataModel and a pageable datatable on such a table. But we also know, that developers have limited control over these f

[2016-02-29 11:06] cagataycivici commented on #1185
Thanks, we'll consider.

[2016-02-29 13:10] paulobing opened #1186 "p:editor -> "paste" with mouse right-click (instead of ctrl-V) not triggering saveHTML()"
Hi!
We have an app in which we use PF 5.3 and we are using p:editor as a rich text editor.
An issue happens when a user tries to paste content on the editor with the mouse right-click and "Paste" (thus, no keyboard event here) and the textarea is not refreshed with the RTE content (executed by editor's JS .saveHTML()).
I've tried a few workarounds like binding DOM blur events on each iframe body t

[2016-03-01 09:21] rdebusscher opened #1188 "Indication of number of characters in p:editor"
There was a request of a customer to have an indication of the number of characters in the p:editor component, excluding HTML tag related one (so purely only text)

It was not necessary to limit the input to that amount of characters.

[2016-03-01 09:27] rdebusscher commented on #1188
Code I used is the following

**JavaScript code included by head.**

[code]

**Composite component**

[code]

[2016-03-01 10:34] mertsincan opened #1189 "PFExtensions Migration: Timeline"

[2016-03-01 10:44] #1189 closed, assigned to nobody

[2016-03-01 12:06] tandraschko commented on #1189
Just 2 cents from my side:
1) i would move TimelineEventComparator to the event.timeline package instead util, as it's not generic.
2) i would try to use the WidgetBuilder if possible but this must be evaluated before.

[2016-03-01 12:30] ivolucas opened #1192 "Add an Excel exporter which takes advantage of the new Apache Poi Streaming API"
Add an Excel exporter which takes advantage of the new Apache Poi Streaming API.

#1191

[2016-03-01 17:01] markusg80 opened #1193 "Media tag with html5 video supoort"
For me it would be a good feature to implement html5 video player to primefaces media tag becsuse flash is dead

[2016-03-02 05:07] jxmai commented on #1173
Try to add an attribute appendTo="@this" inside the p:selectOneMenu to see if it helps.

[2016-03-02 06:15] cnsgithub opened #1194 "Dialog Framework: XSS vulnerability"
`DialogNavigationHandler` lacks in escaping user-supplied input for use in generated JS code:

[code]

Values of variables `url` and `pfdlgcid` are user-supplied (URL + request parameter) and therefore must be escaped properly.

May be reproduced in your showcase:
1. Open http://www.primefaces.org/showcase/ui/df/basic.xhtml?pfdlgcid=viewCars%27,sourceComponentId:document.title,options:[]});%2Baler

[2016-03-02 13:23] ova2 opened #1195 "Decouple AJAX and PFS from the big monolith primefaces.js"
We have got new HTML templates from one UX company and would like to develop with pass-through elements as described here in your blog: http://blog.primefaces.org/?p=3035 We would like only use p:ajax in XHTML (instead of f:ajax) due to useful PF selectors. No PrimeFaces component are planned to be used (at least for now).

The problem is, that AjaxBehavior includes primefaces.js.

[code]

This is

[2016-03-02 13:33] tandraschko commented on #1195
+1 to split it up in primefaces-core.js and primefaces.js.

[2016-03-02 13:50] ova2 commented on #1195
That's also consequentially.

`primefaces-core.js` - AJAX, PFS, Utility, no components
`primefaces.js` - components
`validation.js / beanvalidation.js` - CSV stuff

Looks good for me. Again, the goal is that `p:ajax` and `p:remoteCommand` don't include `primefaces.js` AND `jquery-plugins.js`.

[2016-03-02 13:58] tandraschko commented on #1195
+1 yep
core.js and components.js would be even better.

[2016-03-02 14:39] ova2 commented on #1195
Exactly :-). **pf-core.js** and **pf-components.js**

By the way, if you look all modern JavaScript frameworks, there are small modules for JS and CSS. Released via npm or however. If I need e.g. DataTable widget, I can only import the module for DataTable and maybe core. But why I have to import other dozens modules? That will not understand an JavaScript developer.

The JSF world is a little bit

[2016-03-02 23:07] bjorntj opened #1196 "DataModel must implement org.primefaces.model.SelectableData where rowKey is used"
A sample project can be found here:
http://www.havleik.no/DatatableTest.tar.bz2

The project can be unpacked and run using "gradle bootRun"

To see the problem, write 18 in the regdate filter and press Enter. The table shows one row found, 18.02.2016. Then delete 18 from the filter and press Enter, the table shows the first 10 rows again. Then choose page 2 and then the exception occurs.
The Tomca

[2016-03-03 06:26] hmatsuzaka opened #1197 "Possible memory leak in v5.3 PrimeFacesContext with Faces 2.2"
Dear team,

I tried to integrate v5.3 with Faces 2.2/Spring Webflow 2.4.2 under tomcat 8.0.32.
While undeploying a war, tomcat logs possible ThreadLocal memory leak.

`   public PrimeFacesContext(FacesContext wrapped) {
        this.wrapped = wrapped;

[code]

`

Best Regards,
Matsuzaka

[2016-03-03 08:37] tandraschko commented on #1197
if you check PrimeFacesContext, the RequestContext will be released in #release.
If #release of the FacesContext is not called, i think it's up to Spring WebFlow as it works fine with plain Mojarra and MyFaces.

[2016-03-03 08:39] tandraschko commented on #1197
Please come back if you analyzed the bug or created an issue on Spring side but i don't think that we can do something here as it works fine without Spring WebFlow.

[2016-03-03 08:40] #1197 closed, assigned to nobody

[2016-03-03 09:56] tandraschko commented on #1196
As the PrimeFaces team is using maven, it would be great if you could provide a maven project.

[2016-03-03 10:07] CSchulz opened #1198 "Message: tooltip doesn't work correctly if title is used"
Consider following code, if you moving your cursor over the input it shows a tooltip with "An input".

[code]

Add a validation to the input field and try it with wrong values. I expect to see the error message in the tooltip, but it keeps the title value. Removing the title attribute it works like expected.

![input](https://cloud.githubusercontent.com/assets/1520593/13490992/1434d1ce-e130-11e5-8

[2016-03-03 10:08] cagataycivici commented on #1195
Sounds good, so what should pf-core.js include?

[code]

How about core.dialog.js?

p:ajax then depends on jquery.js and pf-core.js. We need to watch out if pf-core.js has a dependency on jquery-plugins.js.

All component metadata.xml files need to change by the way.

[2016-03-03 10:10] vanjalee opened #1199 "TreeTable sort event"
TreeTable does not support the sort event. This would be useful for sort listener operations triggered by ajax, such as saving the sort column and sort order parameters in session without the need to bind the TreeTable to a bean variable. With normal DataTables, one can freely use
`<p:ajax event="sort" listener="..." />`,
inside the DataTable tags. With TreeTable, same code throws TaxException, sa

[2016-03-03 13:59] mauromol opened #1201 "The MetadataTransformer always calls backing code even when a component should be lazily rendered"
The full discussion is at:
http://forum.primefaces.org/viewtopic.php?f=3&t=44653&p=139694

Substantially, even if my dialog is dynamic="true", the backing bean getters that should be triggered only when the dialog is shown, are always called even when the dialog is hidden, due to the fact that MetadataTransformer is executed when a component is added to the view, rather than before rendering.

Thi

[2016-03-03 14:25] tandraschko commented on #1195
Exactly - every core.*.js but not core.dialog.js as it contains code for a component which requires CSS.

I think we must reference jquery-plugins as the refocus handling after ajax updates requires a plugin.

We should do the same for p:remoteCommand, too. It also doesn't require UI stuff.

[2016-03-03 14:55] ova2 commented on #1195
Thanks Thomas for the clarification!

[2016-03-03 15:23] ova2 commented on #1195
We have identified two components more which we would need - `p:focus` and `p:defaultCommand`. `Focus` has

[code]

But it is not a visible component and should not have the dependency to `primefaces.js`.

The `DefaultCommand` has

[code]

This is not a visible component too. These both components are more or less **utilities** (pure JS based). `Watermark` is the utility too. My suggestion would b

[2016-03-03 16:11] #1192 closed, assigned to tandraschko

[2016-03-03 16:11] tandraschko commented on #1192
Applied the PR - thanks!

[2016-03-03 16:27] tandraschko commented on #500
Mergen - Thanks for the PR!

[2016-03-03 16:27] #500 closed, assigned to tandraschko

[2016-03-03 17:01] bjorntj commented on #1196
Sorry but I do not use maven. But I guess you use IntelliJ IDEA? Then you can just choose Import project and point to the build.gradle file...

[2016-03-03 17:10] tandraschko commented on #1196
We use netbeans and maven :)

[2016-03-03 17:16] bjorntj commented on #1196
You really should be using IntellI IDEA... ;)
Doesn't Netbeans have support for Gradle?
But it is quite easy to install the gradle distribution also... :)

[2016-03-03 17:29] bjorntj commented on #1196
Found a gradle plugin that converts a gradle project to maven, you can find it here:

http://www.havleik.no/DTTest2.tar.bz2

It has a pom file inside build/poms

[2016-03-03 18:35] fx89 commented on #1173
Thanks for the help.

Just tried appendTo="@this". The list of values no longer scrolls with the page. Instead, it is contained within the dialog's content div. When the list of values appears, a vertical scroll bar appears on the dialog's content div because the list of values extends the content further than the height of the div.

See the pitcutre:

![page4](https://cloud.githubusercontent.com/

[2016-03-04 03:54] sudheerj commented on #1199
Why you want to store sort column and sort order parameters in session and how you do that with listener method?

[2016-03-04 05:27] zsuiqiang opened #1202 "dialogReturn in commandLink not fired in PF 5.3.6/ 5.3.7/5.3.8"
Host page:
`<p:column >
                        <p:inputText id="onwer" value="#{collectorManager.selection.onwer}" readonly="true"/>
                        <p:commandLink actionListener="#{collectorManager.openOrgSelectDF}" process="@this">
                            <i class="fa fa-binoculars"/>
                            <p:ajax event="dialogReturn" listener="#{collectorManager.onOwnerChosen

[2016-03-04 05:35] jxmai commented on #1173
I get your point. The only workaround without any trick I can think of is by reducing the menu height or by increasing the dialog height, but that's not a final solution as you already described.

Let's wait and see how Primefaces team will response to this issue then.

[2016-03-04 07:23] cnsgithub commented on #1194
I tried to fix this issue but unfortunately didn't find any appropriate JS escaping utility in your code.

It seems that you're using `ComponentUtils.escapeText` in different locations where JS escaping is necessarily required, e.g. in `BarRenderer.encodeOptions`. However, according to the method's commentary `ComponentUtils.escapeText` is just for escaping JSON.

The payload from the reproduction

[2016-03-04 07:33] vanjalee commented on #1199
I need to save the current sort settings in the session. However, I can only use ViewScoped beans, so component binding is not an option. Also, LazyTableModel is not an option.
To achieve this with normal tables, "onSort" I pass the SortEvent as a listener parameter, and then determine the current sorting column and sort order. These two are saved as the session variables in JSF (two unique variab

[2016-03-04 08:40] #1058 closed, assigned to tandraschko

[2016-03-04 08:41] tandraschko opened #1203 "[Documentation] document queue attribute of effect"
See #1058

[2016-03-04 15:13] kukel commented on #1133
@mertsincan

The 5.3 docs state:

**Ajax Behavior Events**

Tree provides various ajax behavior events.

| Event | Listener Parameter | Fired |
| --- | --- | --- |
| expand | org.primefaces.event.NodeExpandEvent | When a node is expanded. |
| collapse | org.primefaces.event.NodeCollapseEvent | When a node is collapsed. |
| select | org.primefaces.event.NodeSelectEvent | When a node is selected. |

[2016-03-04 15:14] kukel commented on #1133
@jepsar: title is wrong... it is not 'selection' but 'ajax selection event'. **that** is the difference with the showcase. So your original title was right

[2016-03-05 00:55] CSchulz opened #1207 "DataTable scroll with lazy loading and filtering doesn't work"
Consider the following datatable:

[code]

Works fine, but if you are using the _FilterFeature_. It seems that there is missing the check for **liveScroll**. It tries to load the data via normal lazy data, which requires the **rows** attribute and therefor it assume 0 rows.

I am using version 5.3.

DataTable preRender:

[code]

vs FilterFeature encode:

[code]

[2016-03-05 13:12] neXus1987 opened #1208 "ImageCropper sometimes gets an java.awt.image.RasterFormatException: (x + width) is outside of Raster"
Maybe to fix this issue, you can use the following code:

in the public class org.primefaces.component.imagecropper.ImageCropperRenderer in the method getConvertedValue:

BufferedImage outputImage = getSourceImage(context, imagePath);

[code]

Stacktrace:
java.awt.image.RasterFormatException: (x + width) is outside of Raster
    at sun.awt.image.ByteInterleavedRaster.createWritableChild(ByteInterl

[2016-03-05 14:53] ova2 commented on #1189
Another 2 cents from my side:

I don't know if you know or not, but there is a new library for the used native timeline script: http://visjs.org/ It should be compatible with the old script, it just fixes some limitations and adds new feature. But be aware - some feature in the Timeline component were implemented by me and are not available in the native script. These are e.g. lazy loading of even

[2016-03-05 22:00] deoxyseia commented on #985
I have the same problem, using Primefaces 5.3 and default theme. Your solutions don't works for me, maybe because is only for Spark theme.

[2016-03-06 10:04] projectsforce opened #1209 "p:datatable resizableColumns="true" not works"
If there is filter option, column resizing works only for these with filtering option

[2016-03-06 12:35] tandraschko opened #1210 "Allow custom component bindings with p:contextMenu"
Currently the contextMenu is handling the binding of the custom components.
So it's currently impossible to add-in new components e.g. for external libraries without overwriting the complete contextmenu script.

[2016-03-06 12:35] #1210 closed, assigned to tandraschko

[2016-03-07 07:55] twinj commented on #793
It seems to me that the issue as described here  [http://forum.primefaces.org/viewtopic.php?f=3&t=42794](http://forum.primefaces.org/viewtopic.php?f=3&t=42794) is not fixed.

The change event is not being fired on SPACE BAR when it has focus and the key is pressed. It does look like it has been selected though.

I am using 5.3.5 and also checked 5.3.8 as an elite user.

[2016-03-07 10:23] mertsincan commented on #1189
Thank you very much, @tandraschko and @ova2. I'll work on your suggestions.

[2016-03-07 10:53] kukel commented on #1209
Badly formulated issue. Version info missing, example missing etc... And please use the forum first

[2016-03-08 11:44] ridvan70 opened #1212 "p:dataTable pagination buttons are not rendered according to filteredValue at page refresh"
- The pagination buttons are **not** rendered according to the size of **filteredValue** when the page is refreshed from browser.
- The count of the pagination buttons is calculated acccording to the **value** property instead of filteredValue which has more rows than the filteredValue property.
- The pagination buttons are rendered correctly, after a refiltering.

Environment info:
- GlassFish 4.

[2016-03-08 12:01] mertsincan commented on #1173
Can you please try this Js code?

[code]

[2016-03-08 12:17] msgeissler opened #1213 "Redirect throws exception in IE if user cancels redirect"
Internet Explorer will throw an exception if `window.location = 'newURL'` or any other attempt at redirecting using JS fails.
This becomes a problem if the site binds any `window.onbeforeunload` function that allows the user to decline the redirect, as this will also cause the exception to be thrown.
E.g.: window.onbeforeunload = function () {return 'You will lose your changes...'};

Furthermore I

[2016-03-08 12:26] #1213 closed, assigned to tandraschko

[2016-03-08 14:05] kito99 opened #1214 "Knob component's JavaScript class doesn't define functions on the prototype"
PrimeFaces JavaScript widgets usually define functions on the prototype, which I believe is the correct approach, and makes them easy to override. The Knob component defiens them on the object itself inside of the init() method:

[code]

This should be defined on the object's prototype outside of the init() method:

[code]

[2016-03-08 14:28] kito99 opened #1215 "InputNumberRederer.getOptions() should be protected instead of private"
This would make it much easier to subclass the renderer and add new options for autoNumeric.js.

[2016-03-08 15:31] #1128 closed, assigned to nobody

[2016-03-08 15:32] mertsincan commented on #1128
Similar issue #1202

[2016-03-08 15:32] #1202 closed, assigned to nobody

[2016-03-09 00:04] djmj opened #1216 "Menu: Enhance Submenu to support navigation"
In many applications a submenu itself can redirect to a summary page for example or simply to its home.

This may be in conflict in case submenu only shows on click but if it expands on hover it should not be a problem.

We also need this for adamantium menu.

[2016-03-09 06:18] arunvc1 commented on #1033
the mouse hover style doesn't work rowSelectMode="checkbox" and  rowHover="true"

[2016-03-09 06:22] arunvc1 commented on #1167
Sorry my mistake
authorFilterList should have all the records now it has the filtered list

[2016-03-09 06:22] #1167 closed, assigned to nobody

[2016-03-09 07:49] mertsincan commented on #1214
Thank you very much, Kito :+1:

[2016-03-09 07:50] #1214 closed, assigned to mertsincan

[2016-03-09 08:02] #1215 closed, assigned to mertsincan

[2016-03-09 09:43] ZihoSiu opened #1217 "Row selection for dataTable inside dataGrid is not working in Primefaces"
http://stackoverflow.com/questions/29436325/row-selection-for-datatable-inside-datagrid-is-not-working-in-primefaces

[2016-03-09 09:58] ZihoSiu commented on #1217
primefaces-5.1.jar

I found someone mentioned this issue as in the stackoverflow site above and I encounter the same issue in my testing.

[code]

In above facelet, several "Sections" are rendered as dataTables in a dataGrid loop, for each "Section" dataTable, there are multiple rows of "Fields".

I found that only the "Field" selections of the LAST iterated "Section" is captured and pass to the m

[2016-03-09 13:24] ciroppina commented on #868
Same problem with pf 5.3.8 (18-Oct-2015) and
- JSF jboss-jsf-api_2.2_spec
- javax el-api 2.2.1-b04
- el-impl .0

deploying and running on:
- JBoss EAp 6.1 (7.2.0 Final)

Here the code:

XHTML page:

[code]

My Java @Model

[code]

[2016-03-09 13:30] shinteck opened #1218 "stickyheader into a tabview doesn't work"
Hi,

like the title suggests I have tried to use the stickyheader feature for a datatable into a tabview, but it doesn't work because it appears twice in the view.

I think it is a wrong calculation of initial fixed position, if I scroll the view it renders with correct positions.

I'm using primefaces 5.3.8 but it is a problem that I have seen also in the latest releases.

Here an example code bu

[2016-03-09 13:48] ciroppina opened #1219 "<p:calendar> attribute valueChangeListener does not work in PF 5.3, when mode="popup""
The use of the *_valueChangeListener *_ attr. of the `<p:calendar>` is not "exampled" in the:
- primefaces_user_guide_5_3 guide

It looks like is not working, when provided with an existing backing method in the @ManagedBean (or @Model). An exception occurs, whose message is: **Method not found**

Here some code, and the error:

[code]

The Java @Model being:

[code]

I tried both with ValueChange

[2016-03-09 14:25] tandraschko commented on #1219
#{startAppModel.handleCalendarChanged()} means that your method doesn't have a parameter.

As you use ValueChangeEvent, you have to use #{startAppModel.handleCalendarChanged}

Not related to PF, but to the EL specs.

[2016-03-09 14:25] #1219 closed, assigned to nobody

[2016-03-09 15:16] mertsincan commented on #1218
Hi,
Please try with;

[code]

[2016-03-09 15:23] shinteck commented on #1218
Hi,

wow it seems to work !!! But it is a fix planned for early releases or I have to fix on my css ?

Thanks, Carlo

[2016-03-09 15:41] #1218 closed, assigned to nobody

[2016-03-09 16:55] LuisGustav0 commented on #723
Boa tarde Çağatay Civici!
Ja tem previsão quando vai lançar a 5.4?

[2016-03-09 20:16] bodabela opened #1220 "Tree always visits every node with wrong context"
You may consider this patch to provide the proper node type implementation.

I had a problem in case of the rendered attribute relayed on an attribute that was present only in the data bean for the specific node type:

[code]

[0001-nodeType-support-for-treeNode.zip](https://github.com/primefaces/primefaces/files/166010/0001-nodeType-support-for-treeNode.zip)

Cheers

[2016-03-09 20:18] bodabela commented on #1220
Of corse the problematic attribute is the "id" in this case. The componentAttribute data bean has no "id" attribute.

[2016-03-10 01:12] erickdeoliveiraleal commented on #1172
With checkbox style is also broken, if a user click over some text all other selected get disabled.
This is very bad since the user already selected thousand of information and by accident he click over the column text and all work is lost)

[2016-03-10 05:51] jxmai commented on #1173
Thanks for the reply. I tried the js code. It is working.

This is a simple complete testing code

[code]

Before scroll:
![screenshot](https://cloud.githubusercontent.com/assets/10467831/13660598/3030bed0-e651-11e5-8cfe-43da8bf00068.png)

After scroll:

![screenshot](https://cloud.githubusercontent.com/assets/10467831/13660625/60d33964-e651-11e5-90d7-996155413d18.png)

**_But going back to the is

[2016-03-10 06:06] cnsgithub opened #1221 "Impossible to enter space in p:inplace input within multi-selection p:dataTable"
Hi,

When using multiple selection in a dataTable in conjunction with inplace input texts it is impossible to enter space characters in inputText. When pressing space the inputText looses its focus instead.

Try this code to reproduce the issue:

[code]

Regards

[2016-03-10 09:15] #1199 closed, assigned to mertsincan

[2016-03-10 09:36] mertsincan commented on #826
Thanks for the detailed explanation :+1:

[2016-03-10 09:42] #826 closed, assigned to mertsincan

[2016-03-10 12:02] xKopax commented on #244
I'm sorry for asking, but will this be fixed before Prime 6 release?

Thanks.

[2016-03-10 14:04] jirkis opened #1222 "SelectBooleanCheckbox and SelectManyButton throw JS error in IE 11"
Hello,

when accessing [showcase page](http://www.primefaces.org/showcase/ui/input/booleanCheckbox.xhtml) of SelectBooleanCheckbox in IE 11,
there is an error in JS console stating that **isLtIE property or function cannot be found**.
Line of code affected looks like this:
**PrimeFaces.env.browser.msie&&PrimeFaces.isLtIE(9)**
Probable fix could look like this:
**PrimeFaces.env.browser.msie&&PrimeF

[2016-03-10 14:15] dreadk2002 commented on #467
I am also in need of the feature with confirm on ajax, as described in: http://stackoverflow.com/questions/20581634/show-confirmdialog-before-roweditor-updates-the-model.
I don't want to use a js confirm like onstart="return confirm('Are you sure?')", because I need more control and I want it to look as the standard primefaces dialog and I don't want to tinker too much with jquery(client's request

[2016-03-10 14:23] mertsincan commented on #1222
Thanks for your fix. :+1:

[2016-03-10 14:24] #1222 closed, assigned to nobody

[2016-03-10 15:40] WAIcare opened #1223 "Incorrect html transformation according to WAI"
Used Release: Primefaces 5.3. Community

1) `<p:selectBooleanCheckbox ...>` generates `<input type="checkbox" autocomplete="off" ...>`
WAI Error: Attribute autocomplete is only allowed when the input type is color, date, datetime, datetime-local, email, month, number, password, range, search, tel, text, time, url, or week.
Note: the same states for inputs of type="hidden"

2) `<p:selectManyCheckbo

[2016-03-10 16:40] kukel commented on #1217
Use the forum first... And tried a newer version? Upto 6.0-SNAPSHOT? (try, not use in production)

[2016-03-10 16:40] kukel commented on #1221
Known issue in PrimeFaces 0.9.6c

[2016-03-11 06:11] cnsgithub commented on #1221
I am using PF 5.3.8, please fix it.

[2016-03-11 13:05] cagataycivici commented on #1223
Number is fixed at #972

We need to keep autocomplete on hidden elements as it causes issues on firefox when page is refreshed as it keeps old values like datatable selection.

[2016-03-11 13:06] cagataycivici commented on #1220
Send a pull request please instead of a zip.

[2016-03-11 13:07] cagataycivici commented on #1217
Have you tried 5.3?

[2016-03-11 13:08] cagataycivici commented on #1207
Ok got it, thank you.

[2016-03-11 13:17] #1207 closed, assigned to cagataycivici

[2016-03-11 13:19] cagataycivici commented on #1194
@tandraschko What do you think?

[2016-03-11 13:22] cagataycivici commented on #1174
style and styleClass always apply to the outmost container of component, some components haver inputStyle and inputStyleClass, if you'd like to purse please create issues for the ones that miss it. So for example, use inputStyle in autocomplete instead of style.

[2016-03-11 13:22] #1174 closed, assigned to nobody

[2016-03-11 13:25] cagataycivici commented on #1173
Why not remove overflow from ui-dialog-content and use appendTo="@this" on selectOneMenu.

[2016-03-11 13:35] cagataycivici commented on #1175
I guess trick is clearing the value as well, as filteredData becomes the value of datatable.

[code]

[2016-03-11 13:35] #1175 closed, assigned to nobody

[2016-03-11 13:45] cagataycivici commented on #1165
I can't replicate with;

[code]

[code]

I see "Yoo Cagatay" at header.

I've used latest mojarra, it might be related to JSF impl, we just call getHeader() assuming JSF will resolve the text.

[2016-03-11 13:45] #1165 closed, assigned to mertsincan

[2016-03-11 13:49] cagataycivici commented on #1158
It is not possible to update a container that contains the datatable at rowEdit as custom output is generated in row edit, this is also same with page, sort. Well known workaround is doing a remote command.

[code]

[2016-03-11 13:49] #1158 closed, assigned to nobody

[2016-03-11 13:53] cagataycivici opened #1224 "Improve column resizer css"
Use 100% so that when column header heights are different, it spans full height of the header.

[2016-03-11 13:55] #1224 closed, assigned to cagataycivici

[2016-03-11 13:56] cagataycivici commented on #1209
I think this is related to #1224, the resizer is too small for columns with no filter so you think they are not working, they are at top right corner. #1224 fixes this though.

[2016-03-11 13:56] #1209 closed, assigned to nobody

[2016-03-11 14:12] alexeev commented on #404
Same problem with the most recent PrimeFaces 5.3.8.

[2016-03-11 14:20] dmitsuo commented on #1175
First of all, thank you @cagataycivici for your great and extraordinary work on Primefaces!

About your solution, I consider it as a workaroud, because before PF 5.1+ I didn't need to clear the value of the datatable itself.

Should I expect a definitive solution or I have to work like that from now on?

But again, thank you for all the time and effort you have put into Primefaces!

Davi.

[2016-03-11 16:57] #1138 closed, assigned to tandraschko

[2016-03-11 21:37] dasmanu commented on #1194
We recently migrated from RichFaces to PrimeFaces and since then I'm a follower of the github discussions. I feel a little nervous about serious security issues which were detected within few weeks (e.g. #1152). Still wonder why our OWASP check shows green for PrimeFaces.
Pls consider security issues on highest priority and provide fixes for community editions backwards.

[2016-03-11 23:20] bjorntj commented on #1196
Just wondering if anyone has had any chance to look at this?

[2016-03-11 23:59] tandraschko commented on #1196
had no time, sorry.

[2016-03-12 03:27] jxmai commented on #1173
Thanks for the reply. I tried to remove the overflow from the dialog. It does not work for me.

Here is the simple complete testing code:

[code]

This is the result:

![screenshot](https://cloud.githubusercontent.com/assets/10467831/13720488/d076f9e8-e7cf-11e5-9369-adda0b520e7a.png)

**_The scrollbar disappears but the selectOneMenu appears in the dialog's content div.**_

[2016-03-12 10:49] CSchulz commented on #1207
You need to fix the SortFeature, too. It haves the same check.

Furthermore it seems that there is something "wrong" with the reset when changing the filter. It seems that the new method doesn't trigger the reset of the scrollstate and this causes wrong offset request to the server, resulting in displaying nothing more after loading.

To fix it, I need on client side following code:

[code]

Perha

[2016-03-12 22:21] bjorntj opened #1226 "Datatable empty message issue"
The emptyMessage is prefixed with the name of header of the first column when the table is empty.
Switching to PF v5.3.7 removes the prefix and displays the emptyMessage as expected.

[2016-03-13 15:46] ova2 commented on #834
When this issue can be addressed? It is still brocken, see the showcase.

The header gets also duplicated as I mentioned bevor (see the screen).

[2016-03-13 17:23] jwgmeligmeyling commented on #834
Seems that the [left value](https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/datatable/datatable.js#L2925) for the sticky header container is not updated after the menu disappears.

[2016-03-14 04:07] ZihoSiu commented on #1217
Just tried 5.3, same issue.

[2016-03-14 08:28] mertsincan commented on #1226
I couldn't replicate this issue. Can you please attach a screenshot and sample code for us to replicate?

My test code;

[code]

[2016-03-14 09:34] mertsincan commented on #1223
I tested with Firefox after removing autocomplete attribute of select tag and input tag. This change has caused some bug. Therefore, I removed autocomplete="off" fixes.

Only the 4. issue is fixed for 5.3.9 and 6.0.

[2016-03-14 09:34] #1223 closed, assigned to cagataycivici

[2016-03-14 09:38] mertsincan commented on #1207
Please create a new issue.

[2016-03-14 09:42] mertsincan commented on #1221
I'll work on this issue and get back to you.

[2016-03-14 11:45] DVenkatesh opened #1228 "SelectOneMenu with 3 level chained/depdendent drop downs"
We have JSF form. In the form we have 3 levels of chained/dependent drop downs (Country, State, City) using SelectOneMenu of PrimeFaces.
We select a country from the first drop down. This triggers PrimeFaces ajax event and populates State drop down.
We navigate away from the current page/form, this triggers "Leave the current page, Do you want to stay or leave" browser popup. We select "Stay on th

[2016-03-14 11:56] DVenkatesh opened #1229 "SelectCheckboxMenu options not reflecting after selection"
We have JSF form. Form has few SelectCheckboxMenu. If user selects the options, the values reflect in the corresponding menu input box.

If the user navigates away from the form, this triggers "Leave the current page, Do you want to stay or leave" browser popup. User selects "Stay on this page".
1. Now, if the user select any option from the SelectCheckboxMenu menu items, then the newly selected o

[2016-03-14 12:12] chuckumi commented on #1093
Hmm, but this ui-state-hover class is not there. Which version do you use?

[2016-03-14 12:55] mauritz-lovgren commented on #200
Struggling with this as well, use case:
- modal dialog having contents that exceeds viewport on iPhone when body also contains scrollable components (dataTable or similar). When trying to scroll the modal dialog on a small device (like iPhone 4), the background is scrolled instead of the dialog, making it impossible to navigate to the contents in the bottom of the dialog (typically save and cancel

[2016-03-14 13:01] tandraschko commented on #200
Would you please create a new issue with an example app?

[2016-03-14 13:09] markusg80 opened #1230 "Datatable reset Scroll state after click outside of Browser"
Steps to reproduce the issue:

Create scrollable datatable with selection enabled and add ajax event for rowSeclect. Scroll down to position outside of initial viewport (for example in the middle). Select a row. Take a click outside of the browser and again click inside the table.

Result:
The datatable change scrollposition to top and first row get hover color. the selected row keep selected but

[2016-03-14 13:44] schlebe commented on #1051
For your information, this bug can be closed ... I think it is linked to Mojarra 2.0.2.
We have migrated from Glassfish 3.0 (Mojarra 2.0.2) to Glassfish 4.1 (Mojarra 2.2.7) and the problem has suddently :-) disappears.

Personnaly, I recommand to PrimeFaces team to write in documentation or Release notes for all 5.x versions in which it is writen that Mojarra 2.2.x is a pre-requisite for PrimeFace

[2016-03-14 15:14] mertsincan commented on #1226
Sample code;

[code]

[2016-03-14 15:21] #1226 closed, assigned to nobody

[2016-03-15 07:03] cagataycivici commented on #1223
Yes, removing autocomplete="off" breaks a lot of things in firefox, tests fail so that part is reverted.

[2016-03-15 08:35] BalusC opened #1231 "Remember to update Vdldoc to version 2.x when PrimeFaces moves to Java EE 7 / JSF 2.2"
Currently PrimeFaces still uses [Vdldoc](http://vdldoc.omnifaces.org) 1.1 to generate [tag documentation](http://www.primefaces.org/docs/vdl/). Vdldoc 1.x is not compatible with `xmlns.jcp.org` namespaces of Java EE 7 / JSF 2.2. In case PrimeFaces advances to Java EE 7 / JSF 2.2, it's necessary to upgrade Vdldoc to at least version 2.0 (current latest version is 2.1).

Just in case, Vdldoc 2.x is

[2016-03-15 08:40] Harwkx opened #1232 "Paginator PageLinks broken in Dialog Framework"
# Summary

A `p:dataTable` in a dialog Framework window doesn't display `{PageLinks}`. It doenst matter if you try it with `reflow` or the `paginatorTemplate` to get the element displayed.
## Example

Append a `reflow` or `paginatorTemplate` to the `p:dataTable` in `selectCar.xhtml` from [Primefaces Showcase Dialog Framework - Data](http://www.primefaces.org/showcase/ui/df/data.xhtml).
## Testing

[2016-03-15 08:50] mertsincan commented on #1232
Thanks for the detailed description. I'll review and get back to you.

[2016-03-15 15:53] #690 closed, assigned to tandraschko

[2016-03-15 15:57] #1056 closed, assigned to tandraschko

[2016-03-15 17:52] skyfall92 commented on #187
Has this bug been corrected in Primefaces 5.0?

[2016-03-15 23:51] djmj opened #1233 "TabView: add selection feature"
Since TabView supports DataModel add attribute `selection` to it similiar to `DataTable`.

This would make it easier to preselect the tab and reducing boiler-plate code.

For instance if selection is retrieved from a view-parameter via conversion we need additional we need now getter and setter for `activeIndex`.

Following is much more clean and reduces the need of primefaces specific code in bea

[2016-03-16 00:55] djmj opened #1234 "TabView: allow anchor in title"
For SEO and user enhancement I want an anchor tag `<h:link>` within facet `title` in a `TabView` which is not really supported.

I don't need to switch tabs with javascript, a GET request is more SEO-friendly and better bookmarkable for users.

[code]

This results in nested anchors since TabView itself renders an anchor by default.

[code]

Since nested anchors are not allowed modern browsers jus

[2016-03-16 03:16] sudheerj commented on #1178
As of now you can update footer values with the help of p:remoteCommand

http://stackoverflow.com/questions/24452834/how-to-ajax-update-an-item-in-the-footer-of-a-primefaces-datatable

[2016-03-16 03:27] sudheerj commented on #1068
It depends on browser.IE and FF will take one character for linebreak and Chrome will take two characters will take two characters for linebreak.The cross browser solution is provided here https://github.com/primefaces/primefaces/pull/1204.

With this PR it will take two characters for all browsers and it works fine with maxlength as well.

[2016-03-16 07:57] mertsincan commented on #768
Fixed for 5.3.10 and 6.0.

Thanks @sudheerj  for your PR :+1:

[2016-03-16 07:57] #768 closed, assigned to nobody

[2016-03-16 07:59] mertsincan commented on #537
Fixed for 5.3.10 and 6.0. Duplicate of #768

[2016-03-16 07:59] #537 closed, assigned to nobody

[2016-03-16 08:01] mertsincan commented on #1176
Fixed for 5.3.10 and 6.0. Duplicate of #768

[2016-03-16 08:01] #1176 closed, assigned to nobody

[2016-03-16 08:02] mertsincan commented on #1068
Fixed for 5.3.10 and 6.0. Duplicate of #768

Thanks @sudheerj for your PR. :+1:

[2016-03-16 08:02] #1068 closed, assigned to nobody

[2016-03-16 08:39] cagataycivici opened #1235 "Carousel misses standard attributes"
id, rendered and binding do not exist in taglib

[2016-03-16 08:40] #1235 closed, assigned to cagataycivici

[2016-03-16 12:01] YuriyLeshchenko opened #1236 "Untoggle action resets checkboxes inside a <p:rowExpansion>"
I have the datatable inside the rowExpansion and I can select rows of that table by means of checkboxes. I select some of them. But after I click on the row-toggler icon to untoggle inner table the event resets checkboxes in "false".
Can I avoid this behavior? Or is it a bug ?

UPD: `<p:ajax event="rowToggle" process="@none"/>` solves the problem, but I need process="@this" and exlude resetting th

[2016-03-16 12:44] mertsincan opened #1237 "Add lazyFetching="false" to Schedule Widget"
Details; http://fullcalendar.io/docs/event_data/lazyFetching/

[2016-03-16 12:48] #1237 closed, assigned to nobody

[2016-03-16 17:39] kukel commented on #1233
I retrieve activeIndex from a view-parameter and it works great, for our usecases. Yes, yours is different and we have one like that to. This small 'small' one time workaround in my opinion does not outweigh the _addition_ of this making the component more complex AND make it more difficult for the normal usecase. Certainly not since you can just put this in a base class

[2016-03-16 17:41] kukel commented on #1228
Use the forum for this... and https://www.google.com/search?q=mcve+format+code and version info

[2016-03-16 17:44] kukel commented on #1230
what showcase example? I don't see an example with this combination

[2016-03-16 17:47] kukel commented on #1229
Use the forum first and for the rest the same comments as in the other 'issue'

[2016-03-16 17:57] kukel commented on #1194
@dasmanu: Maby there were to little serious RF users to have these things detected. Keep in mind: _absence of proof is not proof of absence_

[2016-03-16 18:13] kukel commented on #1177
This calendar component from https://blog.jqueryui.com/2014/06/jquery-ui-1-11-0/ is used. http://plugins.jquery.com/ui.datepicker/ Check if the newer ones contain what you need. If so, please state here to upgrade. If not, please file issues at that component

[2016-03-16 18:21] kukel commented on #1177
4.3 on http://wiki.jqueryui.com/w/page/12137778/Datepicker and https://lists.w3.org/Archives/Public/public-aria/2016Jan/0166.html. So most of it is out of PF hands

[2016-03-16 18:25] kukel commented on #1178
@sudheerj: as of now? That is a two year old workaround...

[2016-03-16 18:29] mallorygiles commented on #567
This update broke existing functionality. I actually liked how it previously worked because it gave the ability to select which step if readonly="false" regardless of what step the user was on. It was an alternate component to the wizard which doesn't allow this. Would it be possible to add in an attribute to determine whether or not steps to the right of the active one are clickable? Possibly a h

[2016-03-16 20:16] markusg80 commented on #1230
Ok i correct my statement. You can modify the select events showcase example with adding scrollable="true" scrollHeight="150" and then look to create enough cars (for example 100).

[code]

[2016-03-16 20:23] tandraschko commented on #1194
@cagataycivici not sure actually, i'm not aware of any JS escaping in PF for now. AFAICS escapeText is really just for JSON escaping or our widgets.

[2016-03-17 05:58] cnsgithub commented on #1194
Before reinventing the wheel, please have a look at https://github.com/OWASP/owasp-java-encoder/.

[2016-03-17 08:08] djmj commented on #1233
Having activeIndex directly as view-param is good for intern or admin portals. But nothing for front-end user websites where SEO friendly URL's are required.

Its not really a problem but just a simplification for us developers. I either need a base class or have 4-5 places in our current app where i need those empty getter/setter combination. Even with a base class often not all cases are covered

[2016-03-17 08:25] webelcomau commented on #1158
@cagataycivici  Sorry I missed your reply, by chance I already found a similar workaround using p:remoteCommand (and p:outputPanel) on Stackoverflow at http://stackoverflow.com/questions/19548838/updating-entire-pdatatable-on-complete-of-pajax-event-celledit

But it only works (the dataTable is no longer mangled on save of a rowEdit) when validation succeeds, otherwise the dataTable mangling still

[2016-03-17 09:46] fcorneli commented on #1194
To allow for a systematic handling of such security issues, it might be interesting to introduce a Java-annotation like

[code]

and mark every reviewed class with this.
You could even provide a Maven plugin that checks whether every JSF Renderer has been reviewed or not and let it generate some simple report on the review status.

In your CoreRenderer you could provided safe function for outputti

[2016-03-17 09:48] ivolucas opened #1239 "Add smooth rendererOption to LineChartSeries"
The lib jqplot has an option to generate chart lines with smooth lines. The graphics produced in this way are aesthetically more pleasant most of the time.

LineChartSeries may be slightly changed to support this option.

[Example](http://www.jqplot.com/deploy/dist/examples/smoothedLine.html)

[2016-03-17 09:59] tandraschko commented on #1239
Why not just use the extender?
If you provide a PR, please don't destory the formating like in your commit.

[2016-03-17 10:58] b0rengar opened #1241 "p:captcha callback support"
reCaptcha v2 provides two callback-apis.

First:

Second:

Both are not supported with p:captcha.

[2016-03-17 14:21] ivolucas commented on #1239
The problem with the formatting was due to file have the line termination with \n while all the others I had seen so far be \r\n

Sorry about that.

[2016-03-17 15:31] pizzi80 opened #1243 "p:imageCropper block the UI on mobile"
If you try the demo online with an Android phone or tablet

http://www.primefaces.org/showcase/ui/multimedia/cropper.xhtml

the cropper handles are working but the UI is freezed (menu, scroll, etc...)
( maybe some JS error is blocking )

[2016-03-17 15:42] rion18 opened #1244 "MenuItem: using #{component} in menuItem still references the parent component"
When calling _#{component}_ inside _p:menuitem_ within a _p:menu_, we get a reference to _p:menu_. Ideally, _#{component}_ should reference _p:menuitem_.

[2016-03-17 16:12] #1239 closed, assigned to tandraschko

[2016-03-17 20:31] bodabela opened #1246 "Don't cache cellEditor and don't ignore rendered flag"
In case of multiple cellEditors with specified rended is not taken into account. The last cellEditor is applied for all rows which means that the rendered expression is evaulated on the last one also.
Let me send a pull request on this.
Cheers,
B

[2016-03-17 21:35] #1246 closed, assigned to tandraschko

[2016-03-17 21:42] tandraschko commented on #1244
Would be great if you could provide a PR.

[2016-03-17 21:43] tandraschko commented on #1243
Would be great if you could provide a PR.

[2016-03-17 21:45] tandraschko commented on #1231
I think we have to support JavaEE6 for the next years.
But as you said, we should be able to upgrade it without destroying something?

[2016-03-17 21:46] stiemannkj1 opened #1248 "p:imageCropper fails in portlets"
Steps to reproduce:
1. Add the following code to your portlet xhtml:

[code]
2. Create **`CropperView.java`**:

[code]
3. Add an **`example.png`** to **`WEB-INF/resources/example`**.
4. Deploy the portlet and navigate to the page.
5. Click the _Crop_ button.

If the bug still exists, the follow exception will occur:

[code]

[2016-03-17 22:13] stiemannkj1 opened #1251 "p:imageCropper showcase example code will fail in portlets"
The [`p:imageCropper`](http://www.primefaces.org/showcase/ui/multimedia/cropper.xhtml) example code relies on the `ServletContext`, so it will not work in portlets where `externalContext.getContext()` returns a `PortletContext`.

[code]

To avoid relying on the `ServletContext`, the above code can call `externalContext.getRealPath("")` instead of `servletContext.getRealPath("")`:

[code]

[2016-03-17 22:31] BalusC commented on #1231
Yes, it is backwards compatible. It won't touch tagfiles anyway, just read and parse them.

[2016-03-17 23:03] webelcomau commented on #1158
I wrote yesterday:

The mangling on failed validation only happens if there is an update in both the p:ajax within the p:dataTable and the p:remoteCommand (see also [this Primefaces community forum example](http://forum.primefaces.org/viewtopic.php?f=3&t=44490)).

If the update is removed from the p:ajax (and one relies only on the p:remoteCommand to update the parent accordionPanel) then the rowE

[2016-03-17 23:42] webelcomau commented on #1158
May I suggest that if a p:remoteCommand update is needed as a workaround to make row editing of a p:dataTable within a p:accordionPanel and p:tab usable (work as expected without mangling) that an example of this be provided in the main Primefaces Guide/Manual, or at least that an example be provided on the Primefaces showcase.

[2016-03-18 07:38] tandraschko commented on #1251
Would be great if you could provide a PR.
We already did many portlet fixes in the past.

[2016-03-18 07:39] tandraschko commented on #1251
Nevermind, there already is one! :D

[2016-03-18 10:28] pizzi80 commented on #1243
Hi tandraschko,
I tryed also Osx has the same problem.

What do you mean for P.R. ? Possible resolution?

The strange thing is that the original jcrop seems working
with any platform:

http://deepliquid.com/projects/Jcrop/demos.php?demo=live_crop

Cheers,
Paolo

[2016-03-18 10:37] tandraschko commented on #1243
Pull Request :)
I think we just use a very very old JCrop version.

[2016-03-18 11:17] pizzi80 commented on #1243
Ok tnx,

I tried to simply put the new jcrop 2.0.4 JS inside the primefaces jar but the component
doesn't work anymore, maybe some adaptation is needed ... ?

[2016-03-18 11:49] tandraschko commented on #1243
probably yes.

[2016-03-18 12:06] tandraschko commented on #1066
There is one thing we must still evaluate!
In our latest version in the forum post, we are able to "render" the missing resources on the client.
The problem is now, that resouces may depend on each it, so it must NOT be loaded paralell.

Could you please develop a sample method like:

function loadResources(arrayWithResources) {

}

and load the resources after each other?
Not sure how i can do it

[2016-03-18 13:33] stiemannkj1 commented on #1251
@tandraschko actually I didn't send a PR for this one since it is a simple documentation bug, and I didn't think the showcase code was on Github. I did send PR #1250 to fix issue #1248 which causes `p:imageCropper` not to work in portlets though. If you could point me to the source of Primefaces showcase, I would be happy to fix it for you though.

[2016-03-18 13:36] stiemannkj1 commented on #1251
@tandraschko never mind, I found the [showcase](https://github.com/primefaces/showcase) I will close this issue and copy this issue to that repo.

[2016-03-18 13:36] #1251 closed, assigned to nobody

[2016-03-18 13:39] stiemannkj1 commented on #1251
I've moved this issue over to the showcase repo: https://github.com/primefaces/showcase/issues/13

[2016-03-18 14:10] mrswadge commented on #1066
How about something like this? I've not tested it, but I think it should work and it's pretty minimal.

[code]

[2016-03-18 17:39] cagataycivici commented on #1188
@mertsincan Please take over.

[2016-03-18 18:31] sudheerj commented on #50
Already fixed for 5.3.1,5.2.13 and 6.0 releases.Now we can use PFS or comma separated mutiple component ids.

[2016-03-18 18:31] #50 closed, assigned to nobody

[2016-03-20 16:46] ova2 commented on #1189
I have seen that currently only one basic example is implemented in the Showcase. Do you plan to add all other use cases too?

[2016-03-20 17:30] projectsforce commented on #1209
solved in 5.2.9

[2016-03-21 07:46] mertsincan commented on #1232
We've added this css for responsive paginator;

[code]

it's by design. Therefore, I think you can change this css;

[code]

[2016-03-21 08:22] #1221 closed, assigned to mertsincan

[2016-03-21 08:26] zsuiqiang opened #1253 "DF Cann't be used in iframe"
`<iframe src="data.jsf" style="width: 100%;height: 600px;" name="workspace" scrolling="auto"/>`

data.xhtml is as same as in showcase.

[2016-03-21 11:23] jan-tosovsky-cz opened #1254 "Showcase - ImageSwitch documentation link points to InputSwitch"
ImageSwitch documentation starts on page 259, but page 270 is displayed instead. Incorrect (same) anchor?

[2016-03-21 12:46] tandraschko opened #1255 "process=@all should not be used when no components are found by PFS"
Currently we append @all when no components are found as result but we should actually check the cfg option, if no selector or anyhting was defined by the user:
https://github.com/primefaces/primefaces/blob/master/src/main/resources/META-INF/resources/primefaces/core/core.ajax.js#L341

[2016-03-22 09:52] arunvc1 commented on #210
It would be nice to have top in options
eg top: '5px'

http://forum.primefaces.org/viewtopic.php?f=3&t=40364&p=127615&hilit=dialog+framework+top#p127615

[2016-03-22 11:47] #1255 closed, assigned to tandraschko

[2016-03-22 12:48] tandraschko commented on #1254
Please create a issue in the showcase project

[2016-03-22 12:48] #1254 closed, assigned to nobody

[2016-03-22 13:30] mertsincan opened #1256 "Improve trigger button css on Calendar"
In "ui-fluid" class.

[2016-03-22 13:34] #1256 closed, assigned to nobody

[2016-03-22 15:14] jabrware opened #1257 "SelectOneMenu doesn't render style attribute of the p:column element"
selectOneMenu Advanced View doesn't render style attribute of the p:column element

example from showcase application:
http://www.primefaces.org/showcase/ui/input/oneMenu.xhtml

[2016-03-23 03:25] djmj opened #1258 "Datatable reflow mode displayed incorrect if column has style width"
I have a simple table where two columns have restricted width:

[code]

This produces incorrect results when reflow mode is activated on resize. See image.

![pf-reflow-width-bug-1](https://cloud.githubusercontent.com/assets/5265550/13974790/32801a10-f0af-11e5-97ca-b729c6015868.jpg)

**Mobile fix:**

	@media (max-width: 35em)
	{
		.ui-table-reflow.ui-responsive td, .ui-table-reflow.ui-responsive t

[2016-03-23 07:11] dpassler opened #1259 "h:link in menuitem of panelmenu causes "ghost" links"
When i have <p:panelMenu> and inside this panelMenu i have any <p:menuItem> and inside the menuItem i have <h:link> then it causes rendering of "ghost" menu links (with no text and link href "#")

[2016-03-23 09:34] kishor-p opened #1260 "AutoComplete dding Watermark with scrollable Dropdown is hiding the options on IE11"
Consider an Auto Complete with dropdown and has Watermark for it:

[code]

On IE 11 the options panel (scrollable) will disappear on clicking of scroll bar.
This does not happen for first time, here is the scenario steps:
- Type a search text [Example: Hello].
- Option panel shows up with suggestions, select one.
- Remove the selected test completely from text box, by pressing backspace.
- Now cli

[2016-03-23 12:53] #1257 closed, assigned to nobody

[2016-03-23 13:57] raskajan commented on #884
I have same issue as you reported.

I found a root cause. PF fail to detect clicks outside panel with item. jQuery that PF uses provides offset() and position(). But jQuery doesn't provide correct dimension: "Also, dimensions may be incorrect when the page is zoomed by the user; browsers do not expose an API to detect this condition. "

If PF detects a click outside of a panel, the panel is closed

[2016-03-24 09:45] kishor-p opened #1261 "Native tooltip [title] does not change for FileUpload component in advanced mode"
By default native HTML `input type="file"` will have a tolltip specific to browser.
On Firefox its: _No file selected._
On chrome its: _No file chosen_
After a file has been selected by user, the tolltip will change to selected file name.

On Primefaces FileUpload with Basic mode this works just as expected.
But when used as Advanced mode the tooltip will never change, it will always be same.

Apa

[2016-03-24 13:37] mertsincan opened #1262 "Add CellEdit and RowEdit support to TreeTable"
as DataTable

[2016-03-24 13:42] #1262 closed, assigned to nobody

[2016-03-24 17:45] sudheerj commented on #1261
The issue is replicated with advanced file upload component.We will get back to you soon with more information.

[2016-03-24 18:54] tandraschko commented on #1066
Looks good!
would be great if you could give it a try, i will try to implement it next week.

[2016-03-25 12:11] VsevolodGolovanov commented on #445
@cagataycivici, is there a technical issue preventing this, or just not enough demand? Was interested in trying to implement this.
The current implementation is very problematic with live scroll (submits all inputs in the table and there can easily be too many) and when there are select-inputs (the page is way too heavy both in element count and raw size).

[2016-03-25 16:43] #1195 closed, assigned to tandraschko

[2016-03-25 17:09] tandraschko commented on #1195
Also applied for
poll
keyfilter
hotkey
ajaxstatus
ajaxExceptionHandler

[2016-03-25 18:35] tandraschko commented on #1012
So your problem actually is, that you can't skip the "onchange" via return false?

[2016-03-26 05:19] jxmai opened #1265 "Datatable in cell edit with calendar navigator bug"
The same issue has been posted in the primefaces forum that marked as cannot reproduce:
http://forum.primefaces.org/viewtopic.php?f=3&t=28075

![screenshot](https://cloud.githubusercontent.com/assets/10467831/14058139/41156674-f2e5-11e5-815e-9bffba0e96cc.png)

**A click in the date-picker causes a blur of the cell editor. The cell editor switchs from the input mode to the output mode too soon.**

[2016-03-26 10:54] #1248 closed, assigned to tandraschko

[2016-03-26 11:06] tandraschko commented on #1243
Updaded the script, should be fixed now.

[2016-03-26 11:06] #1243 closed, assigned to tandraschko

[2016-03-26 11:07] tandraschko commented on #704
Duplicate of: https://github.com/primefaces/primefaces/issues/1243

[2016-03-26 11:07] #704 closed, assigned to nobody

[2016-03-26 11:14] tandraschko commented on #938
Sorry but can't replicate and your blog post doesn't help currently.
If you have a sample, please come back.

[2016-03-26 11:14] #938 closed, assigned to nobody

[2016-03-26 12:12] ova2 commented on #1195
Hi Thomas. Many thanks. Just a question: Can we use `p:ajax`, `p:remoteCommand`, `p:focus` and `p:defaultCommand` in 6.0 without a big primefaces.js? Are they included into the core JS file too?

[2016-03-26 12:18] tandraschko commented on #1195
yup, just check my commits :)

[2016-03-26 19:51] tandraschko opened #1266 "ViewScoped / DataURI support for graphicImage"
we can render the image directly via base64 / dataURI instead of streaming it in a new request:

`<p:graphicImage value="#{myBean.myStreamedContent}" stream="false" />`

[2016-03-26 20:06] #1266 closed, assigned to tandraschko

[2016-03-26 20:07] tandraschko opened #1267 "[Documentation] ViewScoped / DataURI support for graphicImage"
see #1266

[2016-03-26 21:19] tandraschko opened #1268 "Remove long time deprecated p:resources"

[2016-03-26 21:21] #1268 closed, assigned to tandraschko

[2016-03-28 04:18] JorgDna opened #1269 "Datatable's rendering slowly"
Hi,

I have a trouble, I am implementing a Datatable with 30 columns and many rows, I am using a filter to fetch data, When I select a filter from selectonemenu, the filter and JPQL is faster, But when returns the data the datatable is rendering slowly, it takes 2 seconds to render, it's slowly for me. I need it takes less 1 second. I have looked all ways to implement and have a solution, but it's

[2016-03-28 11:12] kito99 opened #1270 "Showcase: source should be included in the WAR file"

[2016-03-28 11:58] tandraschko commented on #1269
Use the forum, its up to your code.

[2016-03-28 11:58] #1269 closed, assigned to nobody

[2016-03-28 12:18] #860 closed, assigned to nobody

[2016-03-28 12:20] tandraschko commented on #502
Already there: http://primefaces.org/showcase/mobile/calendar.xhtml

[2016-03-28 12:53] ghetolay opened #1271 "Add onTabClose client callback for AccordionPanel"
Issue related to this [pull request](https://github.com/primefaces/primefaces/pull/1264).

This just adds a onTabClose callback like onTabShow and onTabChange which already exist. Should be used mostly for UI related stuff.

As an example I needed it to update a custom scrollbar.

[2016-03-28 14:58] jabrware opened #1272 "Lightbox Iframe mode with OnShow Problem"
Lightbox Iframe mode with OnShow
any client side function  makes browser page redirect to iframe url

[2016-03-29 08:48] mertsincan opened #1274 "Tab focus issue on SelectManyButton"
One item of SelectManyButton has two "tabindex" attribute in parent div tag and accessible input tag.

[2016-03-29 08:54] #1274 closed, assigned to nobody

[2016-03-29 12:58] kito99 commented on #1012
Yep.

[2016-03-29 13:41] mertsincan opened #1275 "Add modal support to OverlayPanel"
as Modal dialog

[2016-03-29 13:47] #1275 closed, assigned to nobody

[2016-03-29 13:57] #1265 closed, assigned to nobody

[2016-03-29 13:57] mertsincan commented on #1265
Thanks a lot for your PR ;) +1
Fixed for 5.3.10 and 6.0.

[2016-03-29 14:03] jxmai commented on #1265
No problem. I am glad it helps. :+1:

[2016-03-29 15:41] tandraschko commented on #1272
Please provide a better description and example or it will be closed as invalid.

[2016-03-29 15:43] #1271 closed, assigned to tandraschko

[2016-03-29 15:43] tandraschko opened #1276 "[Documentation] document onTabClose of AccordionPanel"
the JS function, not the behavior.

[2016-03-29 20:12] jrry opened #1277 "W3C error in p:selectBooleanCheckbox (5.3 and 6.0)"
p:selectBooleanCheckbox generates this code:

`<input id="emp:j_idt44_input" name="emp:j_idt44_input" type="checkbox" autocomplete="off" aria-checked="false" data-p-con="javax.faces.Boolean" data-p-hl="booleanchkbox" />`

[2016-03-30 05:23] zsuiqiang opened #1278 "Please implement ComboTree component"
jquery easyUI ComboTree is very usefull,I strongly recommended implement it in PF.

[2016-03-30 08:35] cagataycivici commented on #1278
Can you provide us a link please?

[2016-03-30 09:13] asiletto commented on #884
We have changed component.

We cannot disable zoom, these hybrid mobile devices do behave like desktops, and do not follow the <meta name="viewport" tag

[2016-03-30 10:30] kukel commented on #1270
+1

[2016-03-30 10:49] schlebe commented on #1154
I confirm this error that prohibit me to use this interesting widget !

I hope that this error communicated in February 2016  will be correctly very soon :-)

[2016-03-30 11:53] mertsincan commented on #1154
Spinner component has responsive feature on 6.0, 5.2.4+ and 5.3.x. Please see; http://www.primefaces.org/showcase/ui/misc/responsive.xhtml

I think you can try the following sample code;

[code]

OR

[code]

Screenshot;
![screenshot](https://cloud.githubusercontent.com/assets/11868120/14141368/3dc6ff00-f687-11e5-8344-74d533341456.PNG)

[2016-03-30 13:23] #1272 closed, assigned to nobody

[2016-03-30 13:37] #1051 closed, assigned to nobody

[2016-03-30 14:10] idomiralin opened #1279 "tabClose method is not called for the first tab from tabview"
I implemented a tabClose ajax event for a tabview, but the problem is that for the first tab, the tabClose event isn't triggered and the method remove isn't called, for all the other tabs, it is and it works and I can't understand why. Additionally, if I try to close the first tab, all the tabs are closed.

The reason why I used c:foreach is this:
[http://stackoverflow.com/questions/20111010/jsf-d

[2016-03-30 14:12] idomiralin opened #1280 "tabClose method is not called for the first tab from tabview"
I use primefaces 5.3 and jsf 2.2.6.

I implemented a tabClose ajax event for a tabview, but the problem is that for the first tab, the tabClose event isn't triggered and the method remove isn't called, for all the other tabs, it is and it works and I can't understand why. Additionally, if I try to close the first tab, all the tabs are closed.

The reason why I used c:foreach is this:
[http://stack

[2016-03-30 14:19] #1279 closed, assigned to nobody

[2016-03-30 20:52] kukel commented on #1280
Please don't create 'issues' AND post in the forum AND in stackoverflow. And if you do, please include version info. http://forum.primefaces.org/viewtopic.php?f=3&t=44985&p=140737#p140737

[2016-03-31 09:04] kukel opened #1281 "Add javascript 'responsiveness' function to read media size"
In more than one situation (like https://github.com/primefaces/primefaces/issues/394), but also for  , it is very useful to be able to access the 'media size' in javascript.

Adding the following script to the new primefaces-core.js.

[code]

Keeping this 'in sync' with the css might be 'work' but the advantage imo outweighs that.

It might also be possible have this achieved automagically by sett

[2016-03-31 10:52] kukel commented on #1278
I personally think that paging and filtering (with a lazyDataModel) added to the treeTable is way more useful ;-)

[2016-03-31 11:05] mertsincan opened #1282 "ContextMenu closes on click on submenu or disabled item"
Reported by PRO User;
p:contextMenu closes, when you click on a submenu. You can reproduce this in the primefaces showcase in the ContextMenu - Tiered - example (http://www.primefaces.org/showcase/ui/menu/contextmenu/tiered.xhtml)
open the menu and then click on "Ajax MenuItems".
If there is an disabled menu item in the context menu an you click on the disabled menu item, the context menu closes,

[2016-03-31 11:13] #1282 closed, assigned to nobody

[2016-03-31 12:07] mertsincan opened #1283 "Empty datatable does not display context menu"
Reported by PRO User;
Context menu does not display when Data table don't have record.
Our data table has context menu Refresh which loads the data table with new records.
Context menu is displayed if data table has records but if data table don't have record then context menu is not displayed.

[2016-03-31 12:11] #1283 closed, assigned to nobody

[2016-03-31 12:43] mertsincan opened #1284 "Missing submitted value of password on PrimeFaces Mobile"
Exp;

[code]

[2016-03-31 12:47] #1284 closed, assigned to nobody

[2016-03-31 13:53] spauny opened #1287 "Terminal - add async support"
As a quick fix we can enable async by default for Terminal...
Can't really think of an example where this is a bad idea.

I will try to create a pull request these days if you guys think it's a welcomed improvement.

[2016-03-31 14:04] tandraschko commented on #1287
what exactly do you mean?

If you mean the ajax async flag, we should introduce a behavior for it, so we can set every ajax setting to p:ajax.

[2016-03-31 14:16] joergmattes opened #1288 "NPE in DataTableRenderer when sorting AND grouping is used"
The NPE happens only when both sorting AND grouping is used, and when the sorted column actually contains data. See PullRequest #1286 for a fix.

[2016-03-31 14:25] spauny commented on #1287
Enable ajax async request.
At the moment, the terminal's processCommand javascript function calls PrimeFaces.ajax.Request.handle:

`processCommand: function() {

[code]

The Request.handle function checks if the options(cfg) object has async set to true and fires an ajax request if it does. Otherwise it will just add the request into Queue:

`Request: {

[code]

All we need to do is add the async

[2016-03-31 14:29] #1288 closed, assigned to tandraschko

[2016-03-31 14:30] tandraschko commented on #1287
Yep, so it's better to introduce a behavior event.

[2016-03-31 20:37] tandraschko commented on #1253
A PR would be great.

[2016-03-31 20:37] tandraschko commented on #1241
A PR would be great.

[2016-03-31 20:47] tandraschko commented on #1196
Your project is way to complex - please provide a small sample project (a maven web project with no spring boot or something - mvn package should just create a war which runs fine on tomcat or something) with only small sample code and nothing else.

[2016-03-31 20:52] #1148 closed, assigned to tandraschko

[2016-03-31 20:54] tandraschko commented on #1135
Yup - already included.

[2016-03-31 20:54] #1135 closed, assigned to nobody

[2016-03-31 21:00] #1132 closed, assigned to tandraschko

[2016-03-31 21:13] tandraschko opened #1289 "Upgrade Atmosphere"

[2016-03-31 21:14] #1289 closed, assigned to tandraschko

[2016-03-31 21:18] tandraschko commented on #678
Could you please try it with the current snapshot? we upgraded atmosphere, maybe it's gone.

[2016-03-31 21:22] tandraschko commented on #82
Could anyone provide a very very small sample app with maven+jetty?

[2016-03-31 21:34] bjorntj commented on #1196
Not sure if I agree that my project is too complex. This is the kind of project that has this problem, I am not even sure if I can replicate this problem in a smaller project....
(I have many similar project but this is the only one with this kind of problem, that's why I think that this is the project that needs to be investigated...)

[2016-04-01 06:48] tandraschko commented on #1196
the problem is that i don't have much time and i just try to help your with your bug in my personal free time.
I would need to re-create the project as the delivered pom e.g. doesn't contain all dependencies and i don't know how to use spring boot.
Therefore its to much effort for me till i can check your problem.

[2016-04-01 06:52] bjorntj commented on #1196
Would it make any difference if I try to create a working pom file for the same project?

[2016-04-01 06:58] tandraschko commented on #1196
i think i would still need to install spring boot?
A simple servlet application would be much better.

[2016-04-01 07:02] bjorntj commented on #1196
No, you do not need to install anything, Everything you need is in the project and the pom...

[2016-04-01 07:06] tandraschko commented on #1196
ok, if you provide a fully working pom and a maven cmdline, i will take a look at it ;)

[2016-04-01 07:07] bjorntj commented on #1196
Thx! :)

[2016-04-01 08:58] zsuiqiang commented on #1278
http://www.jeasyui.com/demo/main/index.php?plugin=ComboTree&theme=default&dir=ltr

[2016-04-01 10:30] sudheerj commented on #1277
You are right.We don't need autocomplete attribute for checkbox.

The below line need to be removed.

writer.writeAttribute("autocomplete", "off", null);

[2016-04-01 12:35] agoetze opened #1290 "dialog framework dialogs without height not centered by default"
As the title says. You can easily verify this problem by looking at the current show case:
http://www.primefaces.org/showcase/ui/df/basic.xhtml

Button "View": no height set -> dialog not centered (vertically)
Button "Options": height set to 640 -> dialog centered (vertically)

Tested with Firefox 45 under Ubuntu and with Internet Explorer 11 under Windows 7.

Expected default behaviour: Dialog ce

[2016-04-01 13:51] #575 closed, assigned to tandraschko

[2016-04-01 13:55] tandraschko commented on #553
any example application? works fine for me in my applications.

[2016-04-02 14:46] sudheerj commented on #49
Currently tooltip is applied for `<li>` tag which has normal input width so it appears to specific area only.We need to add title separately for parent element(either div or ul tag) to apply it for full input width.

[2016-04-02 19:21] guibamp opened #1291 "Line chart doesn't work with String X values"
I'm using PrimeFaces 5.3.
This simple example should result in a chart containing a single dot in the middle of the chart panel.

xhtml:
`<p:chart type="line" model="#{myBean.sampleChart}" />`

bean:

[code]

See how I'm using "3/2016" as X value? The chart dots and line are not showing up using such String. If I use only number Strings, or numbers, such as "3" or 3L, then the chart works properly

[2016-04-03 08:22] bjorntj commented on #1196
Ok, I have uploaded a working maven project here: http://www.havleik.no/DTTest2.tar

The project can be unpacked and run using "mvn spring-boot:run" Before running there is one local jar file that needs to be put in the local maven repository, just run the .sh file under libs.

To see the problem, write 18 in the regdate filter and press Enter. The table shows one row found, 18.02.2016. Then delet

[2016-04-03 10:38] tandraschko commented on #1196
It works fine if you let Translog implement Serializable ;)

[2016-04-03 10:38] #1196 closed, assigned to tandraschko

[2016-04-03 10:43] tandraschko commented on #1196
Reason:
ViewScoped beans are serialized and as Translog isn't serializable, somehow the rowKey and regDate in this case is really null. If it's serializable, the variables are not null and it's working fine.

Not sure why it works for filtering...

The exception is thrown because we have a fallback if the rowKey is null, to ask the DataModel.
As you don't use a custom datamodule here, the exceptio

[2016-04-03 10:45] bjorntj commented on #1196
Hmmmm... I knew it had to be something simple but not that simple... Guess I also was a bit fooled by the exception, didn't occur to me to check for that...
But thx! :)

[2016-04-03 10:46] tandraschko commented on #1196
hehe - at the first look it was really not simple, it took me over 30 mins :)
NP!

[2016-04-03 12:11] Rapster opened #1292 "New menu: gnmenu"
Hi there,

Would be awesome to have a new sidebar component like this one: https://github.com/codrops/GoogleNexusWebsiteMenu

[2016-04-04 03:44] sudheerj commented on #1277
But as discussed in the issue https://github.com/primefaces/primefaces/issues/1223 it breaks lots of things in firefox. Hence it is not going be removed.

[2016-04-04 03:44] #1277 closed, assigned to nobody

[2016-04-04 04:13] sudheerj commented on #49
Fixed for 6.0

[2016-04-04 04:13] #49 closed, assigned to nobody

[2016-04-04 10:57] schlebe commented on #1154
Yes, using <div> with class="ui-fluid" solve this issue.
But this is a workaround that must be corrected !

[2016-04-04 11:08] cnsgithub commented on #1154
I agree, the idea of using jsf-components should be that they behave as expected ootb. If we have to start using plain HTML tags around them to fix things it makes the code ugly and one might ask why to use JSF at all if too often i have to write pure JSF / CSS HTML to fix things anyway. (Not just this issue, but the general concept of considering an issue fixed when there is a workaround seems to

[2016-04-04 11:18] sudheerj commented on #162
This issue can be changed to cover both propagateSelectionUp and propagateSelectionDown attributes for TreeTable component similar to Tree component.

[2016-04-04 12:01] tandraschko opened #1293 "Refactor TabView navigation styling"
In our applications its rendered little bit weird and we don't overwrite styles, maybe its a http header.

Image: http://s29.postimg.org/dkaotl0xz/tabview.png

[2016-04-04 12:03] #1293 closed, assigned to tandraschko

[2016-04-04 12:08] larskn commented on #920
I found out that this is not an issue in PrimeFaces, but in jqPlot.

When rendering the image, jqPlot searches for the css classes `jqplot-table-legend-swatch-outline` and `jqplot-table-legend-label`. But those are simply not rendered by the `$.jqplot.DonutLegendRenderer`.

I created an issue in the jqPlot project: https://github.com/jqPlot/jqPlot/issues/78

I also created a workaround that seems

[2016-04-04 12:33] sudheerj commented on #1228
Use forum for the questions please.

[2016-04-04 12:33] #1228 closed, assigned to nobody

[2016-04-04 12:39] bgonzalez2 commented on #162
You can simply override their javascript code in your system.  Just add the following lines of code at javascript and it will take care of the checkbox propagation.

//--------Override Primefaces JS
PrimeFaces.widget.TreeTable.prototype.propagateUp = function(node) {
       //do nothing
}
//--------Override Primefaces JS
PrimeFaces.widget.TreeTable.prototype.propagateDown = function(node) {

[2016-04-04 13:48] sudheerj commented on #1163
Try with elite 5.3.x releases as it already fixed in 5.3.1.

[2016-04-04 13:48] #1163 closed, assigned to nobody

[2016-04-04 19:56] tandraschko commented on #1066
Commited! Please test test test, i only tested it with primefaces resources.

[2016-04-04 19:56] #1066 closed, assigned to tandraschko

[2016-04-05 06:45] zsuiqiang commented on #1278
http://www.jeasyui.com/documentation/combotree.php

[2016-04-05 07:25] #46 closed, assigned to nobody

[2016-04-05 10:26] mertsincan commented on #49
Thanks @sudheerj :+1: Can you please add Labels and Milestone to this issue?

[2016-04-05 11:26] Tires opened #1294 "NullPointerException when no selection is supplied in selection mode multi (DataTable)"
In Class org.primefaces.component.datatable.feature.SelectionFeature.class (primefaces 5.3.5) line 63 the code is:
`
Class<?> clazz = table.getValueExpression("selection").getType(context.getELContext());
`

Would be a good idea to add table.getValueExpression("selection") != null.

[2016-04-05 12:40] sudheerj commented on #1294
Can you please create PR for this.

[2016-04-05 13:09] halisyilboga commented on #1291
It must be related to jqplot library since rendered output is correct. But the jqplot  could not plot the lines according to unraleted strings. By the way I have exactly same problem.
`$(function(){PrimeFaces.cw('Chart','chartLine',{id:'reportForm:reportTabView:j_idt255',type:'line',data:[[["Boş",3779],["Türkçe",659],["İngilizce",31],["Osmanlı Türkçesi",24],["Fransızca",20],["Diğer",12],["Çince",9

[2016-04-05 14:54] guibamp commented on #1291
For this specific case I was able to use `DateAxis` setting the `tickFormat` as `"%#m/%Y"`, because after all my X axis is about months. But I have other charts where, the same way you do, my X axis is about **unrelated** words. Not sure how to proceed then...

[2016-04-05 18:29] JaviRpo opened #1295 "auto attibute doesn't work in mode="simple" for p:fileUpload"
I have a p:fileUpload which I want simple mode and auto upload.

I used following libraries:
primefaces-5.3.jar
jsf-api-2.2.10.jar
jsf-impl-2.2.10.jar
JDK 1.8

<p:fileUpload ... mode="simple" skinSimple="true" auto="true" />

[2016-04-05 18:31] JaviRpo opened #1296 "icon attribute for p:fileUpload"
it would be good if the component p:fileUpload had the icon attribute, so we can change the default icon in 3 differents button in the component
![image](https://cloud.githubusercontent.com/assets/8562436/14307312/9eb7e124-fb93-11e5-8ee0-c1f289775b82.png)

[2016-04-05 18:39] JaviRpo opened #1297 "Avoid label "Choose" when we don't define the attribute for p:fileUpload"
Don't put default label "Choose" when we don't define the attribute for p:fileUpload

If i put the attribute without value, the draw button doesn't have height

![image](https://cloud.githubusercontent.com/assets/8562436/14293746/7e73332e-fb33-11e5-8cf2-a4f5123ddc45.png)

In the imagen there are a button (left) with a fileUpload (right)

[2016-04-05 19:52] tandraschko commented on #1297
Hmm, what do you mean?

[2016-04-05 19:54] tandraschko commented on #1295
use the search next time, it's a duplicate of #1077

[2016-04-05 19:54] #1295 closed, assigned to nobody

[2016-04-05 19:56] JaviRpo commented on #1295
sorry, i will search next time

[2016-04-06 00:32] JaviRpo commented on #1297
p:fileUpload is similar to p:commandButton ( visually ), the difference is in functionality.

In this case, i want to put a p:fileUpload only with a icon without label and I hope that the visual appearance of the 2 components are the same.

So, when i try to put the p:fileUpload component without the label attribute the component draws with a default label "Choose"
![image](https://cloud.githubuse

[2016-04-06 01:47] gatapia opened #1298 "PrimeNG: DataTable scrollable breaks column templates and sortable"
If a p-dataTable has scrollable+scrollHeight property then sorting breaks.

If a p-dataTable has scrollable+scrollHeight property then custom templates do not show.

[2016-04-06 05:18] sudheerj commented on #896
I can't replicate the issue on latest versions.Please try with latest versions.If it is still replicated then please provide sample example.

[2016-04-06 05:31] sudheerj commented on #1298
You have to create primeng issues in primeng project https://github.com/primefaces/primeng/issues

[2016-04-06 06:32] mertsincan commented on #1298
I think this issue is fixed; https://github.com/primefaces/primeng/issues/162
Next time, please use  https://github.com/primefaces/primeng/issues for primeng issue.

[2016-04-06 06:32] #1298 closed, assigned to nobody

[2016-04-06 06:53] cnsgithub opened #1299 "Occasional ConcurrentModificationException in dataTable"
Hi, i noticed this exception. However i can't say how it is reproduced for now. May happen when using the sort feature.

`java.util.ConcurrentModificationException
    at java.util.ArrayList.sort(ArrayList.java:1456)
    at java.util.Collections.sort(Collections.java:175)
    at org.primefaces.component.datatable.feature.SortFeature.singleSort(SortFeature.java:148)
    at org.primefaces.component.

[2016-04-06 07:05] sudheerj commented on #1297
We should have default labels for fileupload component.So if label,uploadLabel,cancelLabel are empty then we should add icon only setting similar to button components.

[2016-04-06 07:37] sudheerj opened #1300 "[Documentation]Fileupload styleclasses need to updated"
In PF 5.3 user guide the fileupload skinning section style classes are old one.It needs to be updated to latest one.

[2016-04-06 07:57] mertsincan opened #1301 "A required Tree with checkbox-selection reselects the node if validation failes."
Reported by Pro User;
ExampleCode (modified from your Showcase):

[code]

steps to reproduce:
1. select a node
2. validate
3. deselect the node
4. validate
=> the component is invalid and we get the errorMessage, but the previously selected node is reselected again.

[2016-04-06 08:00] halisyilboga commented on #1291
it is interestingly working when choosing bar chart and line series instead of LineChartModel. I think it works as in combined version of primefaces charts. Below code resolved my issue.

`
<p:chart type="bar" widgetVar="chartLine" style="width:99%; height:700px"
                model="#{dashboardController.lineChartModel}"/>
`

Bean part is below

[code]

[2016-04-06 08:06] #1301 closed, assigned to nobody

[2016-04-06 09:25] sudheerj commented on #1296
You can just override fileupload button style classes.However team will confirm whether it is really needed to implement icon attributes for all buttons.

[2016-04-06 10:50] pizzi80 commented on #1243
Hi tandraschko,

thanks a lot, when do you think that will be ported on 5.3.x?
Actually it is not included in 5.3.10

Bye,
Paolo

[2016-04-06 13:17] tandraschko commented on #1299
That would mean that multiple threads are accessing your ArrayList - we can't avoid that on PF level.

[2016-04-06 13:17] #1299 closed, assigned to nobody

[2016-04-06 13:17] tandraschko commented on #1299
If you have a sample to replicate without multiple threads, please come back.

[2016-04-06 13:47] mertsincan opened #1302 "Improve label text on selectCheckboxMenu"
When user selects two or more items, they are displayed on label of selectCheckboxMenu.

Exp;

[code]

Screenshot;
![test](https://cloud.githubusercontent.com/assets/11868120/14318751/0da79e20-fc17-11e5-9264-fd0a4c47859e.PNG)

[2016-04-06 13:53] #1302 closed, assigned to nobody

[2016-04-06 20:25] #1201 closed, assigned to tandraschko

[2016-04-06 20:25] tandraschko commented on #1201
pls test ;)

[2016-04-07 07:29] mauromol commented on #1201
Thank you Thomas! Is there an easy way to get an early access build of PF 6.0 via Gradle/Maven?

[2016-04-07 07:33] tandraschko commented on #1201
Nope, you need to build it by source.

[2016-04-07 08:34] alberto-marin-garcia opened #1303 "function findRootWindow inside iframe does infinite loop"
Testing primefaces 5.3.9 / 5.3.10 in JBoss EAP 6.4.5

Bug opening dialogs inside iframes, using this context using frames and iframes:

[code]

inside iframe with id="primefacesFrame" runs a primefaces app , but when opening modal dialogs the function findRootWindow begins an infinite loop :

function PrimeFaces.dialog.DialogHandler.findRootWindow
var a = window;
while (a.frameElement)
a = window.

[2016-04-07 08:37] alberto-marin-garcia opened #1304 "oncomplete not fired closing dialog when using p:commandLink"
JBoss EAP 6.4.5 using primefaces 5.3.9 / 5.3.10

when closing dialog a javascript error is fired and the functions in "oncomplete" are NOT executed in xhtml page :

[code]

inside managedBean :

public void editExpedition()
{
//put params needed for opening dialog
RequestContext.getCurrentInstance().openDialog(......);
}

public void reloadExpedition()
{
//reload some data related to Expedition
}

[2016-04-07 09:08] vasudevtyagi opened #1305 "p:editor behavior is different in IE 11 and chrome when removing content"
Hi,

I am using Primefaces 5.2.5. I am using p:editor in datatable. It is having a mandatory validation requirement and required flag is set as true. But we are facing a problem in IE 11 in specific scenario.
Once user has entered text in the editor and the entered text is removed using backspace, in IE 11 following source is still available "p br p" due to which required vaildation fails and requ

[2016-04-07 09:28] tandraschko commented on #1305
Does the same occur in the native CLEditor? If yes, please create a issue on their side.

[2016-04-07 09:30] tandraschko commented on #1303
Would be great if you could provide a pull request.

[2016-04-07 12:03] mertsincan commented on #1303
Can you please attach a sample code for us to replicate?

[2016-04-07 12:07] mertsincan commented on #1304
I'll review and get back to you.

[2016-04-07 12:47] alexsoyes opened #1306 "Random IndexOutOfBoundsException in xhtml"
There's a random error that appears sometimes when clicking (on non-ajax) elements or reloading the page.

[code]

[2016-04-07 13:43] tandraschko commented on #1306
use the forum or provide a example and steps to replicate.

[2016-04-07 13:43] #1306 closed, assigned to nobody

[2016-04-07 14:36] vasudevtyagi commented on #1305
Yes, the behavior is same in http://premiumsoftware.net/cleditor/.

[2016-04-07 15:27] mertsincan commented on #1014
I'll review and get back to you.

[2016-04-07 16:46] tandraschko commented on #1305
So please create a issue on their side if they can fix it.

[2016-04-08 06:42] mertsincan opened #1307 "Hidden container support to AccordionPanel on PF-Mobile"
Test code;

[code]

[2016-04-08 06:53] #1307 closed, assigned to nobody

[2016-04-08 08:48] mertsincan commented on #1303
Next time, please use https://help.github.com/articles/basic-writing-and-formatting-syntax/ for your codes. I could see your test code now. I'll review and get back to you.

[2016-04-08 10:49] mertsincan commented on #1303
I didn't see a bug on console of browser. Could you please attach sample codes for us?

[2016-04-08 14:19] #1304 closed, assigned to nobody

[2016-04-08 16:33] mbechler commented on #649
Seeing the same thing in 5.3, only for mindate and maxdate, the reason seems to be that splitDateTime will use the global default format and not the one passed to parseDateTime as an argument. When the number of separators differs between the default and the pattern format this results in a split at the wrong position.

Also reported to upstream
https://github.com/trentrichardson/jQuery-Timepicker

[2016-04-09 00:26] renanceratto opened #1308 "Picklist: Mobile support"
It's not possible to scroll down the items of a picklist on mobile devices (even with responsive property)
The item's touch event triggers drag event

[2016-04-09 09:17] tandraschko commented on #1098
Done for TabView ;)

[2016-04-10 22:34] mdalboni opened #1309 "AJAX in mobile showcase error"
http://www.primefaces.org/showcase/mobile/ajax.xhtml
I was looking for an ajax example for my learning and none of them were working.
When I cheked the showcase I got the same error as my application.

[2016-04-11 05:35] sudheerj commented on #1309
I didn't find any error in the above showcase example.What error you observed in the page.

[2016-04-11 11:29] alberto-marin-garcia commented on #1303
Thank you mertsincan.

My HTML example:

[code]

added some console.debug into findRootWindow function

var iter=0;
var a = window;
console.debug(" a object id : "+a.id);
while (a.frameElement) {
    console.debug("iter number "+iter+" ; before a.frameElement id : "+a.frameElement.id);
    a = window.parent;
    console.debug("iter number "+iter+" ; after a.frameElement id : "+a.frameElement.id);

[2016-04-11 12:11] mdalboni commented on #1309
The ajax isn't working and the left example loses the CSS.
I tried on Chrome, IE, Edge and Firefox..

![screenshot](https://cloud.githubusercontent.com/assets/11359687/14426379/f5bdcde6-ffc4-11e5-97cd-36b257cbb765.png)

[2016-04-11 16:15] tandraschko opened #1310 "[perf] avoid lists instances in #getUnobstrusiveEventNames"

[2016-04-11 16:16] #1310 closed, assigned to tandraschko

[2016-04-12 06:58] sudheerj commented on #1309
It is not an issue actually.The example demonstrates how PFM supports AJAX and compared with plain JSF AJAX components.You can observe ajax loader for PrimeFaces button.The left example provided with plain html so it won't be same PFM one.You can find the code in ajax.xhtml as well.

[2016-04-12 13:27] mdalboni commented on #1309
Hmm now I get it.
I understood wrong the showcase example.

Thanks :D

[2016-04-12 13:27] #1309 closed, assigned to nobody

[2016-04-12 14:04] GithubJohn3031 opened #1311 "#"

[2016-04-12 14:04] #1311 closed, assigned to nobody

[2016-04-12 14:25] GithubJohn3031 opened #1312 "Download of files with Non-ASCII characters in file names"
The file names with Non-ASCII characters are shown not correctly during download.

The simple fix in FileDownloadActionListener.processAction(). It was tested with IE8, IE11, Chrome, Firefox. For file names with spaces the "+" is changed to "%20". See also: [Omnifaces.sendFile()](https://github.com/omnifaces/omnifaces/blob/master/src/main/java/org/omnifaces/util/FacesLocal.java#L1475) and [Change

[2016-04-13 08:57] andriyboychenko opened #1313 "Primefaces 5.3: ajax event is undefined"
I'm trying to implement a function in javascript, that will restore tab scroll position after closing it. I defined an ajax, which will be called on tabClose event:

[code]

and the javascript to save scroll position is defined as following:

[code]

My problem is in the first line of javascript. The event is null. Do you know the reason why I can't obtain the closing event target?

[2016-04-13 09:39] tandraschko commented on #1313
Thats not a issue, use the forum next time.
onStart just provides a js param called "cfg". "event" is not available.
it should be possible to obtain the target via the cfg obj - do a console.log(cfg) and you should see everything ;)

[2016-04-13 09:39] #1313 closed, assigned to nobody

[2016-04-13 12:24] #1098 closed, assigned to tandraschko

[2016-04-13 22:49] julianomqs commented on #30
Any chance for this come to next version of PrimeFaces?

[2016-04-14 17:06] #1124 closed, assigned to tandraschko

[2016-04-14 17:09] tandraschko commented on #900
Could you try 5.3? Should already be fixed.

[2016-04-14 18:44] Tires opened #1314 "Selection loss on DataTable submit"
Shouldn't the DataTable keep the selection on submit (with process) and update?

In DataTable.processUpdates:721 (primefaces 5.3), the submitted selection is applied:

`selectionVE.setValue(context.getELContext(), this.getLocalSelection());`

But after storing, it's directly overridden with null with:

`this.setSelection(null);`

This method calls:

`getStateHelper().put(PropertyKeys.selection, _s

[2016-04-15 00:37] yelhouti commented on #900
I won't be able to do that any soon, but as soon as I can I'll tell you. thank you for the information.

[2016-04-15 06:26] halisyilboga opened #1315 "Context Menu Initilization Error"
Context Menu should be initialized on domready instead of  initWithWindowLoad event. Since context menu is not initilized on ajax calls. Actually this change reversed in last commit on this file. I don't know why @tandraschko did something like that.

the code should be fixed as

`wb.initWithWindowLoad("ContextMenu", menu.resolveWidgetVar(), clientId);`
replaced with
`wb.initWithDomReady("ContextM

[2016-04-15 07:46] tandraschko commented on #1315
i did it because we must be sure that the target widget is already available, not sure how we can fix both cases.

[2016-04-15 14:58] erickdeoliveiraleal opened #1317 "Update FontAwesome to 4.6.1"
https://fortawesome.github.io/Font-Awesome/whats-new/
https://github.com/FortAwesome/Font-Awesome/releases

[2016-04-15 15:40] halisyilboga commented on #1315
How can this will help you, domready always works after load.

[2016-04-15 17:19] #1315 closed, assigned to tandraschko

[2016-04-15 17:43] tandraschko commented on #1314
Could give us an example based on the showcase?

[2016-04-17 12:21] RueKow opened #1318 "onblur and onfocus missing for InputSwitch"
All input components should have onblur and onfocus tag attributes for calling some javascript when component receives or loses focus.
[http://forum.primefaces.org/viewtopic.php?f=3&t=45162]

[2016-04-18 07:56] mertsincan commented on #1308
I think you can use the following css for mobile devices;

[code]

[2016-04-18 10:22] chrisu86 opened #1319 "Filmstrip issue on Galleria"
In galleria.js (Line 69) the `<ul>` for the filmstrip is closed with an `</div>`.
It must be closed with `</ul>`.

`this.strip = $('<ul class="ui-galleria-filmstrip"></div>').appendTo(this.stripWrapper);`

In IE8 the filmstrip is not renderd and an javascript error occurs on first navigation.

My primefaes version is 5.3.

Please fix. Thank You!

[2016-04-18 10:38] #866 closed, assigned to nobody

[2016-04-18 11:17] #1319 closed, assigned to nobody

[2016-04-18 14:50] mertsincan commented on #1066
Hi @tandraschko ,

I tested this fix and found a bug on PF-Mobile. You can replicate it on Dynamic - Tabview example;
http://localhost:8080/showcase/mobile/tabView.xhtml

I think the problem is in line 289 and line 295 of PrimePartialResponseWriter.java.